[2017-01-24 11:52] #2592 closed

[2017-01-24 12:03] cpojer commented on #2202
@pedrottimark I'm a bit unclear on this issue what the action items are. What can we do in Jest to improve this? The shape matcher proposal seems to make sense to me; it appears to me that pretty-printing React component diffs through `toMatchSnapshot` would help us with this?

I understand you have concerns with the behavior of the react-test-renderer. I would like to ask you to discuss that in t

[2017-01-24 14:08] cpojer commented on #2684
Hmm, that's interesting. I'm not sure if we can make this behavior change at this point and I don't know if it makes sense to use this default. A lot of the fake timer methods also don't advance the clock at all but rather simply execute timer functions, so we wouldn't know what date we'd end up with. I think you can also still advance calls to `Date.now` manually or write your own wrapper that bo

[2017-01-24 14:08] #2684 closed

[2017-01-24 15:24] hramos commented on #2658
I think it looks fine without.

[2017-01-24 15:35] cpojer commented on #2658
let's do it without then!

[2017-01-24 15:56] shane-arthur opened #2686 "Jest can only run one test suite."
When trying to run tests, tests hang (for hours) when more than one test suite is being tested.

If we remove all but one test suite (spec file), the tests will run with no problem.

https://github.com/shane-arthur/InlineStyleFormatter

Expected to be able to run multiple test suites.

Config:   "jest": {
    "moduleFileExtensions": [
      "ts",
      "js"
    ],
    "transform": {
       ".(ts|t

[2017-01-24 17:03] pedrottimark commented on #2647
Yes, that makes sense, I will submit a PR. Thank you for asking.

[2017-01-24 17:03] pedrottimark commented on #2647
To apply it to create-react-app:

https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#initializing-test-environment

* Is `setupTests.js` a recommended place to call `expect.addSnapshotSerializer`?
* When `setupTests.js` executes at every test run in watch mode, does `addPlugins` concatenate to the original `PLUGINS` array each time, or does

[2017-01-24 17:43] mulchy commented on #1767
I will try to take a look at it and see if I can figure anything out. It definitely feels like the issue is coming from sane and may be related to this https://github.com/nodejs/node-v0.x-archive/issues/5463

[2017-01-24 18:08] mockdeep commented on #2684
@cpojer bummer. We ended up using sinon's [lolex](https://github.com/sinonjs/lolex) instead, as it handles both Date and timeouts.

[2017-01-24 18:10] cpojer commented on #2684
I'd be curious to see what this looks like in a PR. Maybe we can make it work? Would you be willing to try adding this to FakeTimers?

[2017-01-24 18:12] mockdeep commented on #2684
Ha, well I'd be willing to add it to my list, but it's unlikely I'd get to it any time soon. Happy to take a look, though.

[2017-01-24 18:38] #2659 closed

[2017-01-24 18:44] itinance opened #2687 "Error: Unknown config option "transformIgnorePatterns""
**Do you want to request a *feature* or report a *bug*?**

bug (apparently)

I'm not really sure, if the jest-config of a react-native project was created by RN-teams or if it belongs always to jest. I guess the latter one.

**What is the current behavior?**

When running jest in a newly created react-native-application (0.40 right now), the following startup-error occurs. It still occurs when all

[2017-01-24 18:54] itinance commented on #2687
Finally i figured out that this config option comes from a [file](https://github.com/facebook/react-native/blob/master/jest-preset.json) within react-native. So i created this [issue](https://github.com/facebook/react-native/issues/12061) at RN-repository.

So feel free to close this issue if it's on the wrong place here (i'm still not really sure)

[2017-01-24 18:59] cpojer commented on #2687
This should work fine if you are actually using 18.x of Jest. Are you sure.

[2017-01-24 18:59] #2687 closed

[2017-01-24 18:59] itinance commented on #2687
this is my package.json:

[code]

[2017-01-24 21:02] itinance commented on #2687
Jest-cli should have also >= 18.1.0.
Thank you very much for pointing out, @cpojer !

[2017-01-24 21:19] hramos commented on #2680
Here's a preview of what I have so far. Copy still needs to be worked on, and we'll need screenshots to go along with each feature. At this point I'm focusing on getting the homepage layout to look right.

![screencapture-localhost-8080-jest-1485292633936](https://cloud.githubusercontent.com/assets/165856/22267159/9848f11c-e237-11e6-9719-9ec7b51bc2b6.png)

[2017-01-24 21:29] cpojer commented on #2647
I think right now it would be in `setupTestFrameworkScriptFile` or after (in the test file), so "setupTests" will work. In the long-term, setupFiles should work for this as well, from a Jest perspective.

This array is specific to each individual test file, so adding to it will only work per test and has to be repeated per test file :)

[2017-01-24 21:33] thymikee commented on #2680
We could mix light and dark-themed terminals, just to show that it looks great on both worlds, what do you think?

Here's a screenshot for Snapshot example:

<img width="1454" alt="screen shot 2017-01-24 at 22 32 07" src="https://cloud.githubusercontent.com/assets/5106466/22267676/09ea9eae-e285-11e6-89c2-ef28a2f325f4.png">

[2017-01-24 21:39] thymikee commented on #2680
I think this one could also land somewhere, e.g. in "Sandboxed and Fast"

<img width="1025" alt="screen shot 2017-01-24 at 22 35 23" src="https://cloud.githubusercontent.com/assets/5106466/22267850/934b515c-e285-11e6-8771-30452d8e9890.png">

[2017-01-24 21:46] cpojer commented on #2680
Great idea @thymikee. What I care about is having the same font and terminal size for those windows. If @hramos tells me exactly what screenshots he wants to have, I can provide :)

[2017-01-24 21:46] thymikee commented on #2680
Consistency wins!

[2017-01-24 21:47] cpojer commented on #2686
This is probably not an issue in Jest, it is likely that your tests aren't cleaning up network resources, timers or other intervals.

[2017-01-24 21:47] #2686 closed

[2017-01-24 22:03] pedrottimark commented on #2202
Yes, it’s time to make things clear enough for action! Please pardon the length of this comment.

@cpojer Would you like to craft an API from the following summary from discussion items?

* Is the item needed?
* What to call it?
* From where will test files import it?

After that, I will work through the remaining details for each item that survives.

Part A seems useful to test update operations.

[2017-01-24 23:23] fdeitelhoff opened #2688 "SyntaxError: Unexpected token ="
I'm using jest to test some of my files within Electron. It worked for a long time but now I'm getting the following error:

[code]

I once got the following message:

`[BABEL] Note: The code generator has deoptimised the styling of "E:/Masterthesis/Simplex-Electron/src/model/Simplex-Lang/SimplexParser.js" as it exceeds the max of "100KB".`

But this never appears again.

[2017-01-24 23:25] thymikee commented on #2688
@dmitriiabramov is this the issue you had with babel and bigger files?

[2017-01-24 23:25] cpojer commented on #2688
That message should be unrelated and is coming from babel. It seems like there is an issue with your code here and without a repro (a github repo that can be cloned and `npm test`ed) we are unable to help.

[2017-01-24 23:25] #2688 closed

[2017-01-24 23:27] fdeitelhoff commented on #2688
I never had this message prior to this problem.

You can clone the repository `https://github.com/fdeitelhoff/Simplex-Electron`. Currently all work is done within the develop branch.

[2017-01-24 23:37] dmitriiabramov commented on #2688
@thymikee should not be related.

i just ran tests on the repro repo and all of the test ran for me (there were other unrelated errors though)

@fdeitelhoff can you try running jest with `--no-cache` flag?

[2017-01-24 23:46] fdeitelhoff commented on #2688
@dmitriiabramov That's weird. Tested it with the `--no-cache` flag and got the same error.

[2017-01-25 01:20] jomaxx commented on #2197
This is a very interesting discussion and I thought I'd share a solution I recently came up with for my team. I've added a custom matcher to our jest environment that will snapshot test the shallow-rendered output from a react tree or a component instance.

[code]

An example of what our tests look like:

[code]

[2017-01-25 01:24] ffxsam opened #2689 "jest --watch (option "o") tests all files even if only one file is changed"
- Mac OS 10.12.3
- jest 18.1.0
- node 6.9.4
- npm 4.1.2

When running `npm test -- --watch` and hitting 'o' to test only updated files, all files get tested even if only one is modified.

Repo: https://github.com/ffxsam/jest-watch-strangeness

Clone and run `npm install`, then `npm test -- --watch`. Open up `imports/features/SomeFeature/components/Thing/Thing.js` and, for example, modify line 7. T

[2017-01-25 05:47] faceyspacey commented on #2197
@cpojer I just wanted to point out and let the Jest community know that WallabyJS in the meantime has become the perfect snapshot browser, especially since its creator @ArtemGovorov added a feature I requested to show snapshot diffs inline as you browse your tests:

https://github.com/wallabyjs/public/issues/936#issuecomment-271826848

https://twitter.com/wallabyjs/status/819121381002489856

![wal

[2017-01-25 10:18] cpojer commented on #2202
I can't speak as much about Part B/C but for the first one:

* How do we identify a previous snapshot? Since we already keep state, should we just have go with the flow here?

[code]

You are also bringing up the question on how we should diff: it seems better to do that on the object level, but it may be slow because it has to be recursive.

[2017-01-25 10:23] cpojer commented on #2689
The changed files only mode is "best-effort". Sometimes Jest cannot accurately predict what the dependency graph will look like. In this case, I think you might have either had a local change that triggered this (like a change to Radium or something) or that there is some other confusion.

[2017-01-25 10:23] #2689 closed

[2017-01-25 11:03] cpojer opened #2691 "Slim Dependencies"
Also see https://github.com/facebookincubator/create-react-app/issues/1183

We should focus on reducing the amount of dependencies that are shipped with Jest. Is there somebody that could do an analysis?

[2017-01-25 11:04] cpojer opened #2692 "Improve startup performance"
Let's use the inline-requires and inline-imports transform (cc @zertosh do we have a combined transform yet? Otherwise, where are the two separate ones?).

How to measure:
* Measure the time it takes to run the first piece of Jest ("runJest") and bring that down.
* Measure the time it takes for the first "RUNS" to show up on a warm cache.

More startup performance wins:
* What else shall we do?

[2017-01-25 11:06] romansemko commented on #1893
Okay. We have this issue fixed in our project with a small workaround. These steps are necessary:

1. **Remove babel-polyfill** from your project. This is essential.
2. **Create a new setup file** in your project that overrides the describe method and automatically creates/destroys the JSDom environment before/after each test. See the example below.
3. **Run jest** with node **--harmony** (for bab

[2017-01-25 11:13] thymikee commented on #2692
[ ] drop `regenerator` and auto-inclusion of `babel-polyfill`

[2017-01-25 11:16] thymikee opened #2693 "Drop auto-inclusion of babel-polyfill"
It's time to drop `babel-polyfill` (which is auto-included when detected)

[2017-01-25 12:08] trueadm opened #2694 "Feature: Supporting benchmarking and performance snapshotting"
This is a proposal for a new feature that I feel would work very well with Jest and in general be of use by many in the community.

Currently, there's a lack of good performance tooling available – even more so, tooling that provides decent feedback when performance has regressed as a project grows.

This would require some new API for describing benchmarks and scenarios, but here is a very quick

[2017-01-25 12:13] bestander commented on #2694
I'd love to track Yarn performance regressions with that feature

[2017-01-25 12:22] kentaromiura commented on #2694
Snapshots are used to compare against a previous result with the expectation that it will not change, so while I like this proposal we cannot really use snapshots here as the result will most probably vary per run.

I think something like https://github.com/facebook/jest/issues/1705 might work here though.

[2017-01-25 12:56] trueadm commented on #2694
@kentaromiura I've done exploration in this before. The snapshot would be more than just "the results for last time were X", more it would store the CPU/memory at the time of the last snapshot, along with dependency versions (including Node). These would be tied to the snapshot to give an accurate perception of regression when comparing results.

It may or may not work, but an investigation/spike

[2017-01-25 13:47] palmerj3 opened #2695 "Question: guidance on mocking local es6 modules"
I am having difficulty mocking a redux action on a local project and am looking for some guidance on how to proceed.

Here is an example of the files in play here:

actions/foo.js
[code]

actions/index.js
[code]

Somewhere else I have a file that's actually consuming the es6 module I want to mock:
[code]

In jest I feel like I've tried everything and I cannot mock "thingIWantToMock"..

I have trie

[2017-01-25 13:51] cpojer commented on #2695
Can you provide a repro for this on GitHub?

[code]

this should definitely work if you are using babel-jest.

(Closing because this is a question)

[2017-01-25 13:51] #2695 closed

[2017-01-25 14:07] acateland commented on #2694
@trueadm while i love to see this feature i see lots of pitfall
performance could vary on different browser (an optimisation on chrome can be slower en FF).
when working on team with different cpu/os could prevent having consistent result.

why not see this feature as refactor helper temporary hint ?
i mean you run test with an option before starting any work, and each time you test you record the

[2017-01-25 14:35] pedrottimark commented on #2647
Oh nice, so `expect.addSnapshotSerializers(paths)` can go near the `import` or `require` statements in each test file that depends on external serializers? That’s clear to explain and understand. Also independent of whether an app was built from create-react-app or not.

[2017-01-25 14:35] bestander commented on #2694
I think something like this could perform consistently in CI

[2017-01-25 14:37] cpojer commented on #2647
Yes!

[2017-01-25 14:38] pedrottimark commented on #2647
Because the argument of `addPlugins` and the value of `snapshotSerializers` in Jest configuration is an array of module paths, does it make sense to expose it as `expect.addSnapshotSerializers(paths)` for consistency (that is plural, instead of singular).

[2017-01-25 14:39] trueadm commented on #2694
@acateland Like I mentioned above, tests should only compare vs similar spec runs. If you ran a perf test, you'd expect it to be compared against the same test run on the same hardware with the same system system and resources.

[2017-01-25 14:40] cpojer commented on #2647
Actually, I think the API should be expect.addSnapshotSerializer(plugin). Ie. it should be a singular API and expect a plugin, not a path to a plugin.

[2017-01-25 14:41] pedrottimark commented on #2647
Yes, will do. More than one in a test file sounds very rare.

[2017-01-25 14:57] pedrottimark commented on #2647
Yeah, agree to expect a plugin. So an example from a test file would look like:

[code]

I need to export another method from 'jest-snapshot' to do that, true?

https://github.com/facebook/jest/blob/master/packages/jest-snapshot/src/plugins.js#L21

To prevent a false analogy between arguments of current `addPlugins` and similar sounding `addPlugin` how about I export the new method as `addSnapshot

[2017-01-25 15:00] cpojer commented on #2647
yeah sounds good. It seems to me like you could potentially remove addPlugin and change this: https://github.com/cpojer/jest/blob/master/packages/jest-jasmine2/src/setup-jest-globals.js#L101

to something like:

[code]

that way you aren't increasing the API surface of jest-snapshot by making it more generic. Finally, I'd recommend to call it `addSerializer`, the "snapshot" part is redundant comin

[2017-01-25 15:52] pedrottimark commented on #2202
An example came to mind this week why to let the test take responsibility for state.

As a warm up, pseudo code for a test of a Redux reducer test. Although we don’t assume everyone uses Redux, many intermediate level React devs have probably heard about immutability.

[code]

Imagine that you double-click a table cell to edit it. A test for this update operation might have 3 states: prev, updatin

[2017-01-25 15:53] zertosh commented on #2692
@cpojer, just [inline-imports](https://github.com/zertosh/babel-plugin-transform-inline-imports-commonjs), no plans to support `require`. As much I... disapprove... of non-spec'ed behavior, `import`/`export` is what we use, so I can't justify the time expense into building it out for `require`.

[2017-01-25 16:58] cmj91uk opened #2697 "Mocking browser functions - getComputedTextLength"
**Do you want to request a *feature* or report a *bug*?** Feature

**What is the current behavior?**
I have some tests which are testing some code that render SVGs.
The underlying code uses the `getComputedTextLength` function.

At current it seems as if this method doesn't exist (I assume because nothing is running inside of an actual browser). Would it be possible to expose some way of supplying

[2017-01-25 17:21] ablanco1492 commented on #1734
Is there any working example on how to simulate a websocket server and mock data with jest?

[2017-01-25 17:22] cpojer commented on #2692
Also, @zertosh has a handy script here: https://gist.github.com/zertosh/1486c709fa7683c7bf1e165f114d2875

[2017-01-25 17:26] lsjroberts commented on #2694
The ability to configure the regression percentage that classes as a failure would be useful, though that would be a step away from a strict snapshot approach.

[2017-01-25 17:28] trueadm commented on #2694
@lsjroberts I think having some configuration there would still be useful, I'm not sure if it should be done on a per benchmark basis (which mean would mean being able to pass config to a `benchmark()` function, or having it a straight global. I'd imagine some benchmarks might fluctuate depending on side-effects from other modules, I/O, network etc

[2017-01-25 17:34] joerodrig3 commented on #2672
@qiangspecial Were you able to figure this out? What was your solution?

[2017-01-25 19:58] dirkmc opened #2698 "afterAll is not invoked when tested code has syntax error"
I am using jest to test my node server code. As I make changes to the code I run the tests. If there is a syntax error in my code jest helpfully points me to the line. The problem is that when there is a syntax error, jest invokes ```beforeAll``` but not ```afterAll```. I'm using ```beforeAll``` to create a database and set up mocks, and ```afterAll``` to drop this database, so when there are synt

[2017-01-25 22:25] pedrottimark commented on #2647
Here is a sanity check question about https://github.com/facebook/jest/blob/master/packages/jest-jasmine2/src/__tests__/setup-jest-globals-test.js#L18-L25

[code]

[2017-01-25 22:39] thymikee commented on #1734
@ablanco1492 I don't know of any example, but Stack Overflow is the best place to ask such questions!

[2017-01-25 22:46] thymikee commented on #2698
I'm not sure if there's an easy way to do it right now, but we should definitely investigate into handling such cases (if possible)

[2017-01-25 22:49] cpojer commented on #2698
Can you provide a repro, @dirkmc.

[2017-01-26 00:16] hramos commented on #2275
So far I have the following:

- [X] `jest/support.html` is now `jest/help.html`, redirect set up in #2700.

[2017-01-26 00:53] wtgtybhertgeghgtwtg commented on #2691
I thought I was dreaming when I saw this issue.

- `node-notifier` [dropping the CLI](https://github.com/mikaelbr/node-notifier/issues/116) will help.  It used a very uncommon CLI library.
- `istanbul-reports` moving from `handlebars` to something else would help.  `handlebars` requires an old version of `async`, `uglifyjs`, and and old version of `yargs`.  The `handlebars` team is not interested

[2017-01-26 05:41] probablyup opened #2702 "Support the "module" package.json field"
Similar to how there's an option to use "browser", it would be awesome to specify that Jest respect the "module" package.json field to resolve ES modules when using Babel with Jest.

[2017-01-26 07:41] thymikee commented on #2702
Are interested in shipping a PR with this? :)

[2017-01-26 07:42] yaycmyk commented on #2702
Working on it right now :)

[2017-01-26 07:42] thymikee commented on #2702
Awesome 😎

[2017-01-26 07:52] thymikee commented on #2697
It would be great to have a 3rd party library like `browser-test-mocks` or `browser-api-mocks` complementary to `jsdom`, which would store such implementations (it would require tremendous amounts of work, but as a OSS project, every missing piece could be patched incrementally with PRs).

But I'm not convinced this should be a part of Jest.

I'll close the issue for now, but I'd like to keep the

[2017-01-26 07:52] #2697 closed

[2017-01-26 07:56] thymikee commented on #2697
How I see it, is when this library would be solid enough, we could merge it into Jest as another package and further maintain it, just like it was with `pretty-format` or `eslint-plugin-jest` (coming in next major)

[2017-01-26 08:13] andywer commented on #2694
Hi there. I had a similar idea and a conversation with a friend of mine recently. Benchmarking CPU time seems like a big pitfall (even though I'd ❤️ that), since it may vary widely, not only across machines, but even on the same machine (suppose a virus scanner or backup software is running in background right now).

Benchmarking memory consumption will probably be easier, using [memwatch-next](ht

[2017-01-26 09:22] wtgtybhertgeghgtwtg commented on #2601
Why?

[2017-01-26 10:00] cpojer commented on #2601
It's 2017.

[2017-01-26 10:01] ummahusla commented on #2601
@cpojer Made my day, thanks

[2017-01-26 10:12] wtgtybhertgeghgtwtg commented on #2601
It's current year, sure, but 🃏 and 🤡 aren't symbols known to mean "pass" and "fail".  Emojis are meant to represent a well-known concept as a symbol; if the concept is not well-known and you have to explain what they mean, it's just silly.

[2017-01-26 10:23] cpojer commented on #2647
No, I think it should be something like this:

[code]

does that make sense?

[2017-01-26 11:23] cpojer commented on #2691
ah, it sucks that all of these are transitive dependencies and that we don't really have much control over it.

[2017-01-26 14:10] pedrottimark commented on #2647
Yes, good point that the assertion needs to change from paths to modules.

Sorry I was too terse. Wanted to confirm my impression that the existing test passes with the current incorrect assertion only because in the test helper function `config.snapshotSerializers` is always empty array independent of the `serializers` argument.

Because `addSerializer` works as Last-Added-First-Tested, I plan to

[2017-01-26 15:22] sullenor opened #2706 "Jest doesn't resolve relative paths in config properly"
**Do you want to request a *feature* or report a *bug*?**

Presumably a bug

**What is the current behavior?**

Jest can't resolve relative paths provided with `transform` option properly in case jest's config is not in the root directory.

[code]

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal

[2017-01-26 15:24] thymikee commented on #2706
Use <rootDir>:
[code]

[2017-01-26 15:24] #2706 closed

[2017-01-26 15:52] kentcdodds commented on #2691
Can I just say that @wtgtybhertgeghgtwtg's analysis is incredibly thorough. Thank you for doing that

![giphy](https://cloud.githubusercontent.com/assets/1500684/22338493/6038d7f4-e39c-11e6-8d9f-4feccd25f0c8.gif)

[2017-01-26 16:01] ColCh opened #2707 "Fake timers are broken"
Please take a look:

with `jest.runAllTimers`
![image](https://cloud.githubusercontent.com/assets/599439/22339266/71c58590-e3fa-11e6-8272-fb66e9d56a44.png)

and with hack
![image](https://cloud.githubusercontent.com/assets/599439/22339289/7e0f559c-e3fa-11e6-8cfa-24c170f88cb7.png)

Used jest version is :

[code]

-------------------------------------

I've debugged it a bit ... it seems that

[this

[2017-01-26 16:05] thymikee commented on #2707
Isn't this related? https://github.com/facebook/jest/pull/2467

[2017-01-26 16:11] ColCh commented on #2707
It may be, but:

* I'm using `jest.useFakeTimers();` (with `"timers": "fake"` result is same)
* I don't use `"resetMocks": true`
* I've checked with or without `jest.resetModules();`

And with every case result was same

[2017-01-26 16:13] thymikee commented on #2707
Are you able to provide a minimal repro for this case?

[2017-01-26 16:19] orta commented on #2691
Yep, this is really great work - thanks @wtgtybhertgeghgtwtg

[2017-01-26 16:34] yaycmyk opened #2708 ""Danger" bot doesn't need to ask for strict mode for ES Modules"
The relevant code in dangerfile:

[code]

Basically ES modules are strict mode by default, so the check should look for use of "import"/"export" to determine if flagging is required.

[2017-01-26 16:38] orta commented on #2708
Are there any ES modules inside Jest? I thought it was all `require` etc?

[2017-01-26 16:39] yaycmyk commented on #2708
I'm adding some :) https://github.com/facebook/jest/pull/2704

[2017-01-26 16:41] ColCh commented on #2707
Yes, it's here
https://github.com/ColCh/jest-timers-bug

please use `yarn` to install dependencies and `yarn test` for running test

[2017-01-26 16:42] thymikee commented on #2707
Thank you!

[2017-01-26 16:45] ColCh commented on #2707
I've just noticed, that it worked fine with pure ES6 classes and without React, react-native, and other deps - only ES6 class and minimum deps

But after making WordAnswer a React.Component and require'ing react and other deps, it began this buggy behaviour

P.S. Please, tell me if something is wrong with my deps, not with jest itself

[2017-01-26 16:57] dirkmc commented on #2698
I'm sorry, after further testing I realized that afterAll is being called. I'll close the ticket.

[2017-01-26 16:57] #2698 closed

[2017-01-26 16:58] joezimjs opened #2711 "Allow Async Transforms"
I'd like to suggest a feature:
Currently, transform scripts (through the `transform` configuration) must be synchronous. However, there are some transformers out there that must run asynchronously that I'd like to use in my transform scripts, but until Jest supports asynchronous transforms, this isn't possible.

[2017-01-26 17:00] cpojer commented on #2711
This is not possible, Jest transforms when a module is being required (like "require('Foo')") which has to be synchronous.

[2017-01-26 17:00] #2711 closed

[2017-01-26 17:35] #2708 closed

[2017-01-26 19:31] seethroughtrees opened #2712 "Unable to use babel stage presets in ignored transform patterns"
Jest v18.1.0

I am importing private node_modules that need to transformed with babel and stage-3 by Jest.

in my package.json jest config:

[code]

Jest is correctly using babel to transform the files.

However, it is not using any of the "stage-3" features that i am specifying in my .babelrc.

And throws `unexpected token` on spread operators and others.

My .babelrc:

[code]

I've also tried im

[2017-01-26 19:32] cpojer commented on #2712
Pretty sure that's not a Jest issue. Can you provide a repository with a repro?

[2017-01-26 19:32] #2712 closed

[2017-01-26 19:37] seethroughtrees commented on #2712
Thanks @cpojer .  its an enterprise instance.  but i can try and reproduce in a new repo.

If it makes any difference, jest compiles the files fine when they're not in the node_modules folder.

Does that help?

[2017-01-26 19:39] cpojer commented on #2712
maybe something is wrong with the regex.

[2017-01-26 19:41] seethroughtrees commented on #2712
not really, because it is allowing babel to process the files.  (the ONLY part that is not transforming is the stage-3 features)

[2017-01-26 20:21] dirkmc opened #2713 "Tests are run even when beforeAll throws error"
When beforeAll throws an error, or returns a Promise that rejects, the tests are still run. I would expect the tests to not even run at all.

See example repo:
https://github.com/dirkmc/jest-before-all-error-handling

And the output:
[code]

[2017-01-26 20:22] dirkmc commented on #2698
After doing further testing I've identified the root cause, which is that when beforeAll throws an exception or returns a promise that rejects, the tests are still run. I've opened an issue here:
https://github.com/facebook/jest/issues/2713

[2017-01-26 20:54] cpojer commented on #2713
This is how jasmine behaves, I'm afraid this is a wontfix for now.

[2017-01-26 20:54] cpojer commented on #2713
btw cc @dmitriiabramov who wants this changed.

[2017-01-26 21:23] JeffRMoore commented on #2694
I created a tool to do performance testing in the context of a CI suite that might be of interest, [async-benchmark-runner](https://github.com/JeffRMoore/async-benchmark-runner).  Its pretty rough at this stage especially from a DX perspective.  I let it drift last year, because life.  But this thread and another on ApolloData has inspired me to pick it up again.  Happy to share learnings or code.

[2017-01-26 21:34] vvo commented on #2614
Does this:
![image](https://cloud.githubusercontent.com/assets/123822/22351325/8fbed264-e417-11e6-88ed-e1cb902d05fb.png)

Wonder if that's compatible with Linux also?

[2017-01-26 23:26] joshjung commented on #770
Same issue right now and exact configuration as @CodinCat , I'll post if I find a solution.

[2017-01-27 00:27] thymikee commented on #2614
@vvo I believe it depends on distro, but it should work in general

[2017-01-27 00:40] thymikee commented on #2707
Dude, this code is mixing so many of `beforeEach` and `beforeAll` in different contexts that I'm not even sure which should be invoked when.

Running `jest.useFakeTimers();` in `beforeEach()` of the `runPlatformDependentTests` fixes the problem. But generally you shouldn't call `beforeAll` in the function that is being called from another `describe` call. It's hard to read, hard to understand, and

[2017-01-27 00:40] #2707 closed

[2017-01-27 00:46] thymikee opened #2714 "Add a section on integrating Jest into popular frameworks"
While speaking with some devs on a JS meetup I got this feeling, that many of them are struggling with testing JS with specific frameworks like Angular 1.x/2 Ember or Vue.

I think it would be a good idea to find some reliable blog posts on successful integrations with these frameworks and link it from our documentation.

Tutorials on Jest + framework / lib:
- [x] [Vue.js](https://medium.com/@kent

[2017-01-27 00:57] ebrentnelson commented on #2649
+1

[2017-01-27 03:19] nhunzaker commented on #848
Playing around with this a bit more. I've been experimenting with running Jest inside of an Electron browser instance:

https://gist.github.com/nhunzaker/5fc6f3ea153319e3140275914773d5bc

Electron is pretty neat because I can just require Jest inside of the browser. Trouble is that I don't have encapsulation. Test globals leak into each other.

Ideally, I think it would be neat if each test suite

[2017-01-27 04:56] reggi commented on #2603
I put this together really quick to try and get at what I want. Ideally both flags would fill 100% coverage.

Here's the test:

[code]

Here's the function that caches the result.

[code]

So if you run `TEST_TYPE=intergration jest` it makes the network request and if you run `TEST_TYPE=unit jest` it uses the cached saved version of the function result so the test passes, however it does skip over

[2017-01-27 05:04] reggi commented on #2603
I vaguely remember a talk @indutny gave on `llnode` that may give the ability to store the results of every function call so I could hypothetically get a copy of all returned function values, and their place in the code, so we don't have to go purely functional.

[2017-01-27 07:34] thymikee commented on #848
Wow, this is super cool you're working on this!

I think you should spawn new browser in `ElectronEnvironment#constructor`, just like we do with spawning `jsdom` env.
Keep us posted

[2017-01-27 09:09] ColCh commented on #2707
OMG, that's was actually my fault...

Reason was this little line (`setTimeout.mockReset`):
[code]

Removing it fix my trouble.

Thank you for spending time on this issue!

[2017-01-27 09:10] thymikee commented on #2707
Glad you solved it!

[2017-01-27 10:42] cpojer commented on #848
oh hell yeah @nhunzaker. I'm extremely excited about this. Do you have a guide to set this up?

If @thymikee's suggestion doesn't work, could you use iframes in `runScript`?

[2017-01-27 13:08] nhunzaker commented on #848
@cpojer I've put up the code here:

https://github.com/nhunzaker/jest-electron-environment

I think I could use the `contextIsolation` option from [BrowserWindow](https://github.com/electron/electron/blob/master/docs/api/browser-window.md) to spin up an isolated browser and arbitrarily execute some code. That would be a similar approach to spitting JS into an iframe.

What I'm struggling with is h

[2017-01-27 14:11] #1789 closed

[2017-01-27 14:12] cpojer commented on #1789
This will be fixed in Jest 19 thanks to @vjeux. It's a breaking change for snapshot and we'll try to message it appropriately.

[2017-01-27 14:35] peter-leonov commented on #711
Hey guys, what about adding a feature switch for us open source users to use `isEqual()` without strange `JSON.stringify()` related surprises?

[2017-01-27 17:23] aymericbeaumet commented on #2121
@cpojer Any news on this? Thanks!

[2017-01-27 17:38] browniefed commented on #2121
This is already released @aymericbeaumet

[2017-01-27 18:20] indutny commented on #2603
Hello everyone!

I'm sorry, but it would be hard to do it with `llnode`. `llnode` is a plugin for debugger, not a profiling or general monitoring tool.

[2017-01-27 21:42] hramos commented on #2367
This tutorial has been dropped.

[2017-01-27 21:42] #2367 closed

[2017-01-27 21:48] hramos commented on #2680
This is now in master, though we need to update the screenshots as these are currently placeholders. @cpojer can you create screenshots for the following? The placeholder I am using is at https://github.com/facebook/jest/blob/master/website/src/jest/img/content/feature-snapshot-tests.png - if you can make sure they're at least as big as the placeholder they should work great.

- [ ] **Sandboxed an

[2017-01-27 22:28] osterbergmarcus commented on #2666
What if you try this approach?
[code]

[2017-01-27 22:36] osterbergmarcus commented on #2714
I could write a post on how to test redux-saga. I know it's not a framework but still a very popular tool.

[2017-01-27 22:43] hramos commented on #2658
Merged.

[2017-01-27 22:43] #2658 closed

[2017-01-27 23:15] timcash opened #2721 "Add lint step similar to --coverage"
How do I add linting to jest in --watch mode? Something similar to how --coverage would be nice, printed before the tests run

[2017-01-27 23:18] thymikee commented on #2721
I'd depends on your build system, you can run linter before the watch or coverage script, e.g. through npm scripts. Either way it has nothing to do with Jest.

[2017-01-27 23:18] #2721 closed

[2017-01-27 23:44] #2666 closed

[2017-01-27 23:44] cpojer commented on #2666
We are not adding support for this.

[2017-01-27 23:55] cpojer commented on #2691
note-notifier dropped the cli: https://github.com/facebook/jest/pull/2718

[2017-01-28 06:26] ardok opened #2724 "Broken links in README"
Trying to read through some config docs, but some links in the README are broken.

https://facebook.github.io/jest/docs/using-matchers.html

https://facebook.github.io/jest/docs/webpack.html

[2017-01-28 12:58] capaj commented on #2685
trying it on the latest master it seems to be working properly and throwing the error both with fake and regular timers

[2017-01-28 12:58] #2685 closed

[2017-01-28 14:26] rfgamaral opened #2726 "How can I have all my tests and mocks inside a folder "tests" next to my "app" source code?"
I currently have all my app source code under `app/` and all my tests source code under `tests/`. These folders follow the same folder structure. Everything is working fine with the following Jest configuration:

[code]

Now I need to mock some modules and the documentation states:

This means that the `__mocks__` needs to be inside the `app` folder but I'd like to keep everything test related ins

[2017-01-28 21:23] thymikee commented on #2714
Here's great @kentaromiura post about Vue.js integration. So good! https://medium.com/@kentaromiura_the_js_guy/jest-for-all-episode-1-vue-js-d616bccbe186#.d573vrce2

[2017-01-28 22:07] Baransu commented on #2724
I looked into documentation and I thing this links in README should be replaces with:

* https://facebook.github.io/jest/docs/api.html#writing-assertions-with-expect
* https://facebook.github.io/jest/docs/tutorial-webpack.html#content

[2017-01-28 23:32] cpojer commented on #2724
We are rewriting the docs right now, this will be fixed in a few days.

[2017-01-28 23:32] #2724 closed

[2017-01-29 01:29] trxcllnt commented on #1652
For anyone looking for clarification, I was able to hit debugger statements in my code and test files in Node 7.4.0, Jest 18.x, and using @develar's `jest-environment-node-debug` package (from this [comment](https://github.com/facebook/jest/issues/1652#issuecomment-265423666)) with this command:

`node --debug-brk --inspect ./node_modules/.bin/jest --env jest-environment-node-debug`

[2017-01-29 08:05] JaKXz commented on #2691
The [`istanbul-reports` PR has been merged and released!](https://github.com/istanbuljs/istanbul-reports/pull/17#issuecomment-275897883)

[2017-01-29 08:41] thymikee commented on #2652
You should be using
[code]

[2017-01-29 09:00] thymikee commented on #2650
You should pass a `done` callback because this is async code
[code]

Since `expect` can throw error, you need to wrap in try/catch clause, so `done` can be always called.

[2017-01-29 09:00] #2650 closed

[2017-01-29 10:16] cpojer commented on #2691
Nice!

[2017-01-29 11:46] dinukadesilva commented on #2652
In this particular version that i have mentioned here not working in the jenkins box....... i'l try to provide you more details about the environment.

[2017-01-29 14:16] thymikee commented on #1873
@brownbathrobe this is actually expected behaviour, since `expect` is a throwing function (@cpojer mentioned it here https://github.com/facebook/jest/issues/1873#issuecomment-258840638) and if it throws, it does it directly, so your `done` callback is unreachable.
That's why in async code using `done` you need to handle `done.fail()` also, e.g. in a `try/catch` block.

This is how things work with

[2017-01-29 14:16] #1873 closed

[2017-01-29 18:01] thymikee commented on #2721
You can try chokidar to do it for you easily through npm scripts without any webpack, gulp or something. Good luck!

[2017-01-29 20:29] wez opened #2735 "Jest is missing watchman version compatibility checks"
In https://github.com/facebook/watchman/issues/428 the user rightly reports that the error message is a bit cryptic.

In this case, jest should be using a capability check to gate the use of `watch-project`.

An example of that can be found in the docs here:

https://facebook.github.io/watchman/docs/nodejs.html#checking-for-watchman-availability

Using literally that check will suffice to catch th

[2017-01-29 20:35] jbsulli opened #2736 "Debugging in Visual Studio Code does not work unless you use --legacy-bundling"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Jest debugging in Visual Studio Code does not work unless you use `npm install --legacy-bundling`.

This was a fun one to track down. I was not able to get Jest to debug properly to work on my primary laptop and, after several hours of mucking with it, I tried my second laptop. It worked! After compar

[2017-01-29 21:32] aymericbeaumet commented on #2121
Oh great! Didn't find it in the docs

[2017-01-30 00:04] krzema12 opened #2740 "Jest doesn't see 'enzyme"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

**What is the expected behavior?**

**Please provide your exact Jest configuration and

[2017-01-30 00:27] krzema12 commented on #2740
Solved by regenerating `node_modules` folder (removing `node_modules` and running `npm install`). I'm still curious about the root cause, though. Feel free to close this ticket if a Jest expert doesn't find the root cause to be obvious :)

[2017-01-30 05:38] leftdevel opened #2742 "babel-jest: "Cannot read property 'instrument' of undefined"."
Hi there. First than anything, thank you for this amazing project.
I'm using jest version 18.0.0, and babel-jest 18.0.0. I also use webpack (I've pasted all my configs at the bottom).

When running `npm run test` it throws `TypeError: Cannot read property 'instrument' of undefined`. I inspected the babel-jest/index.js file and looks like the issue is around line 58 near `_ref2.instrument`:

    re

[2017-01-30 05:43] ardok commented on #2418
Just in case someone needs step by step to do this (I literally combined my coverage report after finally stumbled upon here).

1. My original test script was
[code]
I also do the code coverage config thing from `jest`

2. I changed my config on each to have
[code]

3. I used the `mapCoverage` file (just copy pasted it to my project) and changed my test script to be:
[code]

Of course, don't forge

[2017-01-30 07:08] thymikee commented on #2740
Looks like problem with `npm` not resolving  everything correctly, it happens sometimes 🤷‍♂️

[2017-01-30 10:22] acateland commented on #2694
@trueadm the it should be stated i bold font in this future feature documentation, that only CI test who are run on the same machine could count as reliable.

another way could maybe be check the perf delta not on only one test but on the whole test suite to know if there is a regression it is consistent across the whole suit as a way to determine if there is a difference due to hardware.
Maybe be

[2017-01-30 10:48] octohedron opened #2743 "TypeError: Cannot call a class as a function"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

My code is running fine in production but tests are not passing when importing an object from a file, error is: `TypeError: Cannot call a class as a function` at `at _classCallCheck (node_modules/react-native/jest/mockComponent.js:9:616)`

Object I'm importing:
[code]
import statement

`const {Answer

[2017-01-30 11:10] johnny88 commented on #2136
Could we try and do something with async/await, I've wrapped it like this:

[code]
Then it could be called like this
[code]
This should catch and run like normal. But the only problem being is that you would have to implement async/await in babel (or whatever you use).

[2017-01-30 12:46] octohedron commented on #2743
this line was breaking it: `global.__DEV__ = false;`

[2017-01-30 12:46] #2743 closed

[2017-01-30 13:00] tmayr commented on #2418
Finally tackled this today.

Our use case was a bit different, as files tested were exactly the same, under exactly the same paths but took different code paths due to environment variables being set and running the application in different `country` environments.

**package.json | jest.config.json**
[code]

And we had to make some changes to our test command too, there is probably a better way bu

[2017-01-30 13:25] cpojer commented on #2742
Sorry, this is not a help forum but an issue tracker. I'm unsure what is going on here, but you may want to ask on stackoverflow or try to create a repro on repl.it or a repository on github that shows this problem.

[2017-01-30 13:25] #2742 closed

[2017-01-30 13:26] cpojer commented on #2418
@dmitriiabramov shall we make mapCoverage into a `jest-map-coverage` package so that it can be re-used?

[2017-01-30 17:13] leftdevel commented on #2742
@cpojer. Thank you for your insights. I apologize for misusing the Issue tracker. My POV is that something is breaking on babel-jest, and that the config is not really that complicated (although verbose), so my first reaction was to ask here in the hopes that someone more experienced than me could spot something, even if it wasn't a proper fix, at least a hint.

Anyway, sorry again, and thank you

[2017-01-30 17:15] #2680 closed

[2017-01-30 17:26] tleunen commented on #2582
Any advice @thymikee @cpojer for this issue?
I have several tests in the same file and I'd like to have different mock responses for each of them.

[2017-01-30 17:44] benmccormick opened #2747 "Broken page on the website"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Going to [https://facebook.github.io/jest/docs/tutorial-react.html#content](https://facebook.github.io/jest/docs/tutorial-react.html#content) I see:

![image](https://cloud.githubusercontent.com/assets/1899941/22434363/b97bfa94-e6e9-11e6-907a-9ec2441932ad.png)

That error message is:

[code]

**If th

[2017-01-30 17:49] benmccormick opened #2748 "Add Your company button is a no-op"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

On the Jest website, clicking the "add your company" button beneath the Jest users section doesn't do anything.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `ya

[2017-01-30 17:54] thymikee commented on #2747
Works for me, are you still experiencing this?

[2017-01-30 17:55] benmccormick commented on #2747
@thymikee hmm, no seems to have been transient.  Weird.  Sorry for the false alarm

[2017-01-30 17:55] #2747 closed

[2017-01-30 17:56] thymikee commented on #2747
Thanks for tracking bugs! Appreciated

[2017-01-30 17:58] thymikee commented on #2736
Maybe you'll find this thread interesting? https://github.com/facebook/jest/issues/1652

[2017-01-30 17:59] thymikee commented on #2736
Also cc: @orta

[2017-01-30 18:00] thymikee commented on #2748
This is resolved now with https://github.com/facebook/jest/commit/71e7ffda4ed6b53328f3392e0e6981cb677f1bfc.
Thanks for catching!

[2017-01-30 18:00] #2748 closed

[2017-01-30 18:58] maximderbin opened #2751 "repl.it example looks odd"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Repl.it on page http://facebook.github.io/jest/blog/2016/12/15/2016-in-jest.html  looks odd
![2b6865fca9](https://cloud.githubusercontent.com/assets/2700538/22436896/880e3466-e6eb-11e6-8f20-0c5d208a2555.jpg)

[2017-01-30 18:59] thymikee commented on #2751
Can you please share the details of the browser where it happens?

[2017-01-30 19:00] maximderbin commented on #2751
@thymikee `chrome Version 55.0.2883.95 (64-bit)`

[2017-01-30 19:02] maximderbin commented on #2751
@thymikee it looks good on the latest blog post page and on the home page

[2017-01-30 19:05] thymikee commented on #2751
Do you use Chrome, Safari, Firefox, Edge, IE or something else?

[2017-01-30 19:05] thymikee commented on #2751
Pardon my last question, didn't see the first comment

[2017-01-30 20:30] benmccormick commented on #2748
@thymikee no problem.  Great job with the new site!

[2017-01-30 20:38] hramos commented on #2751
This is unintentional. This was actually fixed earlier but it looks like it didn't make it to master.

[2017-01-30 20:38] dmitriiabramov commented on #2418
@cpojer might be a good idea. Istanbul already provides everything needed for that, but it's not documented and requires some additional configuration.

were you thinking about something like this?
[code]

[2017-01-30 20:41] hramos commented on #2751
Actually, this is working for me. You're probably still been served an older CSS file. Is the issue still there after clearing the cache?

[2017-01-30 20:48] maximderbin commented on #2751
Looks awesome now

[2017-01-30 20:48] #2751 closed

[2017-01-30 20:50] thymikee commented on #2748
Send thanks to @hramos and @lacker 😉

[2017-01-30 21:24] #2275 closed

[2017-01-30 21:24] #2281 closed

[2017-01-30 21:58] #2656 closed

[2017-01-30 22:21] thymikee commented on #2127
Jest 16 introduced improved `moduleNameMapper` resolution, so it indeed may work a bit different than you expect and it's most probably like that by design.

Are you still experiencing it? If not, can you please provide a small repo with the issue?
Doesn't something like this work?
[code]

[2017-01-30 22:31] thymikee commented on #2160
Since you can write a one-liner function/wrapper around it, I don't see the reason for extending mocks API just to do this.
I'm closing the issue for now to manage the queue, but we can keep the discussion going and reopen if necessary.

[2017-01-30 22:31] #2160 closed

[2017-01-30 22:32] jakubzitny commented on #1893
Hi there, let me add some observations from our project. I am trying to migrate our Mocha stack to Jest and I encountered similar problems.

I've tried removing `babel-polyfill` and adding the `afterAll` hacks as @romansemko [suggested](https://github.com/facebook/jest/issues/1893#issuecomment-275080618), however, I have got the same results for all cases — around 7 extra MB in heap memory per `de

[2017-01-30 22:35] thymikee commented on #1893
@jakubzitny thanks for sharing your story!
I'll try to make this issue a priority for the next couple of days.

[2017-01-30 22:41] thymikee commented on #2157
While async testing promises it's good to remember that you can return a test function as a Promise, so something like this will work:

[code]

Returning a Promise from test function makes Jest aware that this is a async test and to wait until it's resolved or times out.

[2017-01-30 22:45] thymikee commented on #2146
@yaycmyk are you interested in making such plugin for `pretty-format`?

[2017-01-30 22:47] yaycmyk commented on #2146
I'm pretty in the weeds on a personal project, so I can't commit the time
right now. Someone else can take over my work though!

[2017-01-30 22:48] thymikee commented on #2146
Thanks! Marking this as a Good First Task then, since majority of the work is done by you.

[2017-01-30 22:52] darrenscerri opened #2756 "Ignoring code for coverage purposes"
It would be nice if it would be possible to ignore sections of code to not be included in coverage reports as is possible with istanbul: https://github.com/gotwarlost/istanbul/blob/master/ignoring-code-for-coverage.md

[2017-01-30 22:54] thymikee commented on #2038
Thanks @dmitriiabramov! Closing this then.

[2017-01-30 22:54] #2038 closed

[2017-01-30 22:56] thymikee commented on #1798
I think we could connect this with interactively updating the snapshots so it's more convenient.

[2017-01-30 23:34] wtgtybhertgeghgtwtg opened #2758 "Consider allowing test suites to be defined programmatically."
**Do you want to request a *feature* or report a *bug*?**
Feature.
**What is the current behavior?**
One and only one test suite is created per file.
**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

**What is the expected behavio

[2017-01-31 01:44] Exitialis opened #2759 "Virtual mocks does not work"
My jest config
[code]

My test file (typescript)

[code]

/lib/Config

[code]

And i get error

[code]

At this line of code(build/tests/lib/Config.js:12:6):

[code]
What am I doing wrong?

[2017-01-31 08:37] hon2a commented on #2157
@thymikee Of course I'm returning the value to make Jest wait - that's completely off the point. Note how you even left the line `.then(() => {})` in your code. I don't see how I can describe the problem more concisely than I already did in the opening post. Please read it thorougly and either reopen the issue or describe how to work around it.

[2017-01-31 10:18] cpojer opened #2760 "New watch mode causes infinite loop when started with -u"
When a snapshot is updated, the new watch mode can get stuck in an infinite loop.

Also, the Troubleshooting guide should probably have a hint like:
"My watch mode is in an infinite loop. How do I get out of it?"

Which would then go on to recommend modulePathIgnorePatterns (might wanna deprecate this and call it "ignore" some day).

[2017-01-31 11:16] cpojer commented on #1893
The difference is probably that in mocha, everything is within one context. In Jest, every test has its own context and is isolated from each other. It seems like it creates some cycles that can't be GC'd, unfortunately.

[2017-01-31 12:10] nhunzaker opened #2762 "Hide skipped tests in watch mode"
Some times, the number of tests I have with a suite exceeds the length of my terminal. This is a bummer when tagging a test with `.only`:

<img width="759" alt="screen shot 2017-01-31 at 7 07 30 am" src="https://cloud.githubusercontent.com/assets/590904/22464292/1f08926a-e784-11e6-99e2-17e2237f34d6.png">

The test fails, but I have to scroll all the way up to see the failure output.

Is there a re

[2017-01-31 12:13] thymikee commented on #2762
Will land in Jest 19. Here's a diff: https://github.com/facebook/jest/pull/2593

[2017-01-31 12:13] #2762 closed

[2017-01-31 13:22] nhunzaker commented on #2762
Well fancy that. Awesome!

[2017-01-31 14:22] mathieumg opened #2763 "Atom and RSS feeds 404"
**Do you want to request a *feature* or report a *bug*?**

Bug with the new website.

**What is the current behavior?**

Both the Atom and RSS feeds 404: https://facebook.github.io/jest/blog/atom.xml and https://facebook.github.io/jest/blog/feed.xml (Same over plaintext HTTP)

**What is the expected behavior?**

Working feeds with 200 codes. :wink:

Thank you!

[2017-01-31 14:25] cpojer commented on #2763
@kentaromiura

[2017-01-31 16:38] coryhouse opened #2765 "Feature request: CLI option to force running all tests, even if no changes"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
When run on my CI server, jest will report back that no tests have changed since last run. Need to force it to re-run.

**What is the expected behavior?**
Would like a --force or --runall command line option that forces Jest to run all tests, even if none have changed.

[2017-01-31 16:39] cpojer commented on #2765
Just run Jest without any arguments (ie. remove -o). It's the default.

[2017-01-31 16:39] #2765 closed

[2017-01-31 16:48] jbsulli commented on #2736
Unfortunately, his config doesn't work at all for me:

[code]

I have a feeling that it is because I am working from a Windows machine. I had to switch the second `runtimeArgs` value to `/node_modules/jest/bin/jest.js` to get it to run (and got the same result... I have to do `npm install --legacy-bundling`).

I believe that our configs are largely the same but written in different ways. For examp

[2017-01-31 16:58] jbsulli commented on #2736
Just did some more playing and found that using `npm install --global-style` works as well.

[2017-01-31 17:40] coryhouse commented on #2765
Ah! Embarrased. :) Turns out create-react-app forces watch behind the scenes, but found a workaround: https://github.com/facebookincubator/create-react-app/issues/784

Thanks @cpojer! 👍

[2017-01-31 18:05] orta commented on #2736
Interesting, have you tried yarn too?

[2017-01-31 18:42] jbsulli commented on #2736
I hadn't before, but yes the issue appears when using yarn as well.

I'm still blown away that --global-style made a difference. With only one dependency, it doesn't seem like there would be much of a difference between having Jest's deps in a child folder vs a sibling folder.

I think I'm going to try a different version of Node and see if that changes things. I use 4 because I've been doing a lo

[2017-01-31 19:35] hramos commented on #2763
The RSS feeds are generated by the `convert.js` script which is only used during local development. The deploy script only runs `generate.js`, so these are missing from the GitHub Pages deploys. I'm looking into it.

[2017-01-31 20:03] hramos commented on #2763
These feeds should be back up now, but we'll need #2769 to be merged in order to fix this on all future deploys.

[2017-01-31 20:55] thymikee commented on #2759
You're not returning anything from this mock.
Something like this should work:

[code]

[2017-01-31 20:55] #2759 closed

[2017-01-31 20:58] thymikee commented on #2282
I think this is done? http://facebook.github.io/jest/docs/snapshot-testing.html

[2017-01-31 21:13] thymikee commented on #2304
@cpojer would you mind closing this and create a new issue with explanation what's needed to deprecate `testPathDirs`?

[2017-01-31 21:13] #2270 closed

[2017-01-31 21:15] #2276 closed

[2017-01-31 21:17] thymikee commented on #2284
@evantahler are you interested in implementing this?

[2017-01-31 21:28] evantahler commented on #2284
Sadly no.  We've gone back to Mocha as there were a few other problems with Jest which didn't work for ActionHero.

[2017-01-31 21:32] thymikee commented on #2284
Sad to hear that 😞. If you have some time to point out what we could make better, please file a new issue for that. Feedback is always welcome!

[2017-01-31 21:37] thymikee commented on #2322
@awel-light were you able to fix this?

[2017-01-31 22:21] #2282 closed

[2017-02-01 09:27] #2763 closed

[2017-02-01 09:29] #2304 closed

[2017-02-01 10:08] awel-light commented on #2322
@thymikee Yes I'm using Jest for back-end, doing some basic stuff like testing whether the web server has been set up correctly.

As for the example, it can be get to work simply by consuming incoming data. (Strangely, not needed when using Jasmine)

However, the problem seems to be when using Axios for creating the request. Interestingly, the problem is not there when using Jasmine instead of Jes

[2017-02-01 10:10] thymikee commented on #2322
Thank you very much for your investigation! It may be useful to someone in the future having similar issues. Closing then.

[2017-02-01 10:10] #2322 closed

[2017-02-01 12:21] thymikee commented on #2513
This should be fixed some time soon with #2774

[2017-02-01 12:22] #2513 closed

[2017-02-01 12:59] thymikee commented on #2206
Can you provide a repro?
You should be able to mock Node modules from any directory in the project tree.

Provided `left-pad` is in `node_modules` this should work:
[code]

left-pad.js:
[code]

left-pad.test.js:
[code]

[2017-02-01 14:13] tkrotoff opened #2775 "Documentation example with setTimeout unclear"
The [first example from the doc](https://facebook.github.io/jest/docs/timer-mocks.html) ([source code](https://github.com/facebook/jest/blob/v18.1.0/examples/timer/__tests__/timerGame-test.js)) is unclear:

[code]

Result:
[code]

Adding `jest.runAllTimers()` (or `jest.runOnlyPendingTimers()`):

[code]

Result:
[code]

The example should state that it does not work (by default users expect example

[2017-02-01 14:29] cpojer commented on #926
I'm gonna close this issue. We'll ship with "testMatch" support in Jest 19. If we want to change other frequently used regex config patterns to glob, we should create a new issue. I think "testMatch" is going to be used the most, so people will be happy.

[2017-02-01 14:29] #926 closed

[2017-02-01 15:21] pedrottimark commented on #2202
What do you think about API:

* assertion is `toMatchDiffSnapshot` as you suggested in https://github.com/facebook/jest/issues/2202#issuecomment-275070495
* argument of `expect` is pair of states as array tuple

Here are examples for the scenarios in the preceding comment:

[code]

[code]

[2017-02-01 16:46] trodrigues commented on #1652
@trxcllnt tried that, unfortunately doesn't work for me :(

[2017-02-01 16:48] trodrigues commented on #1652
I was also gonna mention https://github.com/nodejs/node/issues/6283 but I see @cpojer is already involved there :)

Node.js 7.5.0 just came out which fixes already some related issues (fixed [this one](https://stackoverflow.com/questions/41984564/breakpoints-in-event-handlers-dont-get-triggered) for me)

[2017-02-01 16:48] thymikee commented on #2756
Doesn't it work right now? I think we don't strip comments while transforming, so `istanbul` should receive the information.

[2017-02-01 16:54] #2647 closed

[2017-02-01 17:01] iammerrick commented on #1652
Thanks for the work around @trxcllnt, without source maps inspector debugging is surprisingly painful with node.

[2017-02-01 17:57] darrenscerri commented on #2756
Didn't realise jest uses `istanbul`! Added the istanbul ignore comments and it worked.

[2017-02-01 17:57] #2756 closed

[2017-02-01 17:57] thymikee commented on #2756
Yeah!

[2017-02-01 18:18] rogeliog commented on #2760
@cpojer I'm having some trouble trying to repro this one.  Does it happen only when there is a failing snapshot?

[2017-02-01 19:20] kirbysayshi commented on #2471
I came across this issue today when trying to get debug (https://github.com/visionmedia/debug) output to appear while debugging a test case. Had to solve it using the workarounds in other issues, namely:

[code]

The watch/automatic mode of jest is really cool! Has really changed my workflows. But taking over stderr/stdout has also caused me to spend more time than I'd like to admit trying to have

[2017-02-01 19:21] nfarina commented on #1468
For those landing on this issue and wondering what `scriptPreprocessor` is (it's since been removed), here is how I got jest to work with babel without using `.babelrc`.

#### ./jest.transform.js

[code]

#### ./jest.config.js (or "jest" entry in `package.json`:

[code]

Now run jest with these options:

`jest --config jest.config.json --no-cache`

The `--no-cache` option bit me hard - when you're

[2017-02-01 19:47] ericclemmons commented on #2206
@thymikee I'll have to test this.  I ran into this issue on ~17 IIRC and ended up with a custom `setupFiles` that called the mocks before the tests were ran (since I couldn't get what you did to work locally).

[2017-02-01 20:18] thymikee commented on #1893
UPDATE: I'm not yet sure why, but just tested it on latest master build with and without `babel-jest` and the leak is gone, so it was probably somewhere on our end.

[2017-02-01 20:31] andersonjb opened #2777 "Cannot set property 'constructor' of undefined (react / reflux component)"
Having a problem getting JEST to run my unit tests with a REFLUX component. Error is:

   encounted a declaration exception

   TypeError: Cannot set property 'constructor' of undefined

Config:
   Windows 7 x64
   NODE 4.4.4
   NPM 2.15.3
   JEST-CLI version: 18.1.0

Most unit tests pass. The only ones failing extend Reflux.component instead of React.component (valid as per https://github.com/ref

[2017-02-01 20:40] cpojer commented on #2777
This is not a help forum. Please ask on stackoverflow.

[2017-02-01 20:40] #2777 closed

[2017-02-01 20:45] cpojer commented on #2760
I changed the examples/snapshot folder to remove 4 out of five snapshots and I changed one and my watch mode somehow went nuts and I had to kill it. I'm not sure if there is a different repro but I can see how the watch mode might issue change events for .snap files, which it shouldn't do.

[2017-02-01 20:49] rogeliog commented on #2760
Got it, I'll take a look

[2017-02-01 20:54] hramos commented on #2683
Fixed.

[2017-02-01 20:54] #2683 closed

[2017-02-01 21:07] thymikee commented on #1893
This was fixed accidentally with this commit https://github.com/facebook/jest/commit/8256904751d85e16909152ddaf8395d7c2b60eba and I have no idea why this works, seriously.
Anybody have any ideas? Maybe it's some kind of weird edge bug in Node.

[2017-02-01 21:33] steve-taylor opened #2779 "Snapshots not generated when using setTimeout"
I'm using `setTimeout` to wait 160ms before snapshotting my components, because it takes 150ms for them to animate into the visual state I want to test. The problem is, when I use `setTimeout`, Jest does not generate any snapshots, so the tests always pass. The expected behaviour is that Jest will generate snapshots.

[code]

Tabs.js
[code]

Tab.js:
[code]

[2017-02-01 21:54] michaelAndersonCampingWorld commented on #2605
@danieljuhl Can you provide a gist on how you force eager loading? Do you put
[code]
in the testSetup file?

[2017-02-01 23:25] nfarina opened #2781 "Support `expect.any` style placeholders in `toMatchObject`"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

[code]

Fails with:

[code]

**What is the expected behavior?**

Expected the `expect()` call to succeed.

Since `expect.any` placeholders work in other places like `toEqual`, I assumed it would work here as well. I do see that the docs don't explicitly promise this though. But it would be great!

[2017-02-02 05:35] anotheredward opened #2783 "Loopback server fails to load middleware when launched from Jest test script"
### Bug

When trying to start a loopback server inside a Jest test file loopback fails to find middleware, this test works correctly with Mocha but not with Jest.

Demo repo here: https://github.com/anotheredward/jest-loopback-2-bug-demo

Loopback website here:
http://loopback.io/

### Expected result

Server boots and we're able to access the app object and test upserting user models.

### Additi

[2017-02-02 06:47] ankitrg commented on #1021
@cpojer I'm sorry for the naive question, but where should I add these lines?

[2017-02-02 07:24] thymikee commented on #1021
@ankitrg into your configuration file/object, for example in your `package.json`:
[code]

[2017-02-02 07:26] Maxwell2022 opened #2784 "How to mock NativeEventEmitter constructor"
Hi, We are using a third party react-native module that is using `NativeEventEmitter` calling:

[code]

Running jest, we got an error:

After investigating, it looks like this is happening because `NativeEventEmitter` is not mocked. However, most of the examples I found were using `Linking.NativeEventEmitter` and mock `Linking`.

I gave it a shot, trying to mock it, here is my `setup.js`:

[code]

[2017-02-02 07:30] thymikee commented on #2781
This is quite not hard to implement, so if you (or anyone there) are interested in contributing to Jest, I'm glad to help :)

[2017-02-02 08:01] thymikee commented on #2781
Summary of what needs to be done (directory of interest: `packages/jest-matchers`):
* export `asymmetricMatch` from `jasmine-utils` module
* import `asymmetricMatch` and `isUndefined` from it into `matchers.js`
* mimic the usage of `asymmetricMatch` method from `jasmine-utils`' `eq` function and use it in `toMatchObject`
* possible improvements to the existing code: extract helper functions of `to

[2017-02-02 08:17] yaycmyk commented on #2702
@thymikee would you mind reviewing that PR? I asked a few others but they seem to be busy.

[2017-02-02 10:08] KathiresanRamkumar commented on #139
How to run a case multiple times multiple source files jest?@cpojer

[2017-02-02 10:10] KathiresanRamkumar commented on #139
How to run a case multiple times multiple source files in jest?@cpojer

[2017-02-02 10:14] KathiresanRamkumar commented on #2586
How to run a case multiple times multiple source files in jest?@cpojer

[2017-02-02 11:04] ankitrg commented on #1021
@thymikee Hi thanks for the help. I have one more doubt, lets say `/App`, has multiple files, is there a way to allow all the files there? using regex or something?

[2017-02-02 11:05] alexjoverm opened #2785 "Mocking window not working on Node >= 7.3"
**Bug**
I've been using the following code for mocking the window (in TS, but should be the same for js). It used to work:
[code]

But now is not mocking the window correctly. So cannot check calls or call `mockClear` and that stuff:
[code]

Curiously, it was happening in my TravisCI as well, but I stop caching node_modules (I was doing it) and now works again. But still locally I having that issu

[2017-02-02 11:07] thymikee commented on #1021
@ankitrg Yup. But I think Stack Overflow is the best place to ask such kind of questions :)

[2017-02-02 11:18] garmjs commented on #1021
in package.json add
[code]

[2017-02-02 11:21] ankitrg commented on #1021
@thymikee Thanks for the help. Just for the info here is how I got it to work:
[code]

[2017-02-02 11:23] alexjoverm commented on #2785
Ok, new info -> in Node <= 7.2 works. Node > 7.2 fails.... Is there some known incompatibility issues?

[2017-02-02 11:39] hwclass commented on #2714
+1 for (MobX)[https://github.com/mobxjs/mobx]

[2017-02-02 11:44] ankitrg commented on #1021
@thymikee Thanks for the help. Just for the info here is how I got it to work:
[code]

[2017-02-02 11:52] stevematdavies commented on #279
I have this issue, the above link relates largley to Jest, but the order suggested is how I have it:
[code]

[2017-02-02 12:40] thymikee commented on #2785
Maybe it's some kind of regression in Node, but nothing I've heard before.

[2017-02-02 16:05] kentcdodds commented on #1524
I can verify that `--runInBand` took our tests from >1.5 hours (actually I don't know how long because Jenkins timed out at 1.5 hours) to around 4 minutes. 😱

[2017-02-02 17:12] nfarina commented on #2781
Teach a man to fish, indeed! I'll give it a shot.

[2017-02-02 18:14] nfarina commented on #2781
Could you explain this a bit further?

[2017-02-02 19:05] grahamb commented on #926
Is `testMatch` not supported in Jest 18? It's in the live documentation (http://facebook.github.io/jest/docs/configuration.html#testmatch-array-string) but using in in a config results in a `Error: Unknown config option "testMatch" with value "**/__tests__/**/*.js?(x),**/?(*.)(spec|test).js?(x)". This is either a typing error or a user mistake and fixing it will remove this message.` message.

[2017-02-02 19:13] cpojer commented on #2202
In this proposal, how will we customize diffing? Will `toMatchDiffSnapshot` be able to take an optional "diff" argument?

Also, I think this is a lot about how we can highlight this in the output as well. Should diff snapshots show different output than regular toMatchSnapshot.

[2017-02-02 19:45] cpojer commented on #926
Unfortunately we started auto-pushing the website again. This will be a feature in Jest 19, which will come out soon. We'll make sure to add "Added in Jest XX" in future doc updates. Sorry about that.

[2017-02-02 20:06] jbsulli commented on #2736
Found it!

I contacted NPM and they told me to try moving the module folders one by one and see if I could track down what module was causing the issue. I wrote a program to do this for me and narrowed it down to `babel-jest` inside of `jest-runtime`. Now, it works with `--legacy-bundling` so I had to assume another module was picking it up and changing things as a result. After searching all modu

[2017-02-02 20:21] BrunoQuaresma opened #2789 "Jest loads ignored folder in package.json"
Jest display this message:

[code]
It is loading my deploy folder that I ignore in package.json

[code]

And... it is very very very slow. To run 3 simple tests it spent 44 seconds to start.

[2017-02-02 20:47] pedrottimark commented on #2202
Am happy to receive your direction on any or all of:

* developer experience to understand output in `.snap` files and console errors (see below)
* developer experience to write tests (I don’t have strong preference between APIs below)
* how, where, and whether it fits into Jest code

What is an example **an optional diff argument**? That sounds more like the original API:

[code]

in which `diffS

[2017-02-02 21:19] anotheredward commented on #2783
Loopback module loading does not work with the default `testEnvironment` key (jsdom), but works fine if it is set to node. I have updated the demo repo to reflect the correct configuration: https://github.com/anotheredward/jest-loopback-2-bug-demo/commit/721409609ceb4cf1bef4c7a4cdbada91d9a06247

[2017-02-02 21:19] #2783 closed

[2017-02-02 21:28] michaelAndersonCampingWorld commented on #1874
I get this same error when in CI. I believe it's exacerbated by slow CPUs. I only see the problem locally when my laptop is being thermally throttled, but I see it quite a bit on codeship where run times are orders of magnitude longer than they are locally.

Test suite failed to run
[code]

[2017-02-02 21:33] thymikee commented on #2736
This is actually expected behaviour for Jest. That's why we advise to install `babel-jest` next to `jest` itself [when working with Babel](https://facebook.github.io/jest/docs/getting-started.html#using-babel), because we support Node 4, which ships with npm 2 resolving dependencies this way. This is not needed in npm 3 and 4 or Yarn, because they flatten dependencies.

Maybe we could warn better

[2017-02-02 21:39] jbsulli commented on #2736
But what you are proposing will break it. I AM using NPM 4 and the expected behavior leads to breakpoints and debugging being broken in VSCode.

[2017-02-02 21:41] thymikee commented on #2736
So you include `jest` and `babel-jest` as `"devDependencies"` and it doesn't work? I only see `jest` in your repo.

[2017-02-02 21:52] jbsulli commented on #2736
I tried doing exactly as you say just to double check. Yes, it's still broken. What you are proposing will force it to always be broken. Consistency, yes... but not the desired outcome.

What I've been saying all along is that by NOT flattening, VSCode's debugger will work without issue. Flattening breaks things.

[2017-02-02 22:05] thymikee commented on #2781
Every time a function is called, the code inside it is re-evaluated for various reasons. So if you put some functions inside, they're read/evaluated too.

But if these helpers are pure functions and you know it, you can hoist them above, so their code is evaluated just once and can be reused by a compiler across all `toMatchObject` calls.

It's possible that V8 is able to optimise this in some cas

[2017-02-02 22:32] nfarina commented on #2781
Hmm…I would assume that the function bodies are all evaluated only once, so V8 parses the entire file and creates internal objects representing (among other things) each function. So internally the function exists to V8 as a single object, and the `const compare = <closure>` line is a single operation that assigns a pointer to the function object to the local `compare` variable.

So my _assumption

[2017-02-02 22:38] #2784 closed

[2017-02-02 22:50] nfarina commented on #2781
OK, did some testing on the command line. The size of the inline function body (as in, the text itself) doesn't seem to impact runtime performance. But the creation of closures and associated scope chain does come at a (small) price.

Unrelated to perf, I do think those two inlined closures sort of pollute the otherwise clean `matchers` file structure. It would be nice to move them elsewhere. But

[2017-02-02 23:57] aaronjensen opened #2790 "babel-plugin-jest-hoist chokes on flow types"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

Using flow types in parameters in a mock factory like this:

[code]

Results in this:

[code]

Removing type works.

**What is the expected behavior?**

Jest ignores the type and doesn't think that it's an out-of-scope variable.

**Please provide your exact Jest configuration and mention your Jest, no

[2017-02-03 00:24] cpojer commented on #2790
Seems like the static analysis needs to check for whether the identifier is within a typeAnnotation. Would you mind sending a pull request to babel-plugin-jest-hoist with a fix?

[2017-02-03 00:29] #2781 closed

[2017-02-03 00:41] cpojer commented on #2202
Hm, interesting, I actually thought we could push it into toMatchDiffSnapshot:

[code]

However, `diffSnapshot` might be more flexible overall, but I'm not sure yet. It really depends on how flexible we want this to be and what kind of user experience we want to make work here. One example could also be to have a mode (using --expand?) where we'd actually show the prev/next snapshots as well. I th

[2017-02-03 03:50] koresar opened #2794 "Make linting zero configuration too"
**Do you want to request a *feature* or report a *bug*?**
Request a feature

**What is the current behavior?**
It's absent for some reason 😂

------

Jest replaced 5 testing modules I used in every project (mocha, chai, istanbul, proxyquire, sinon, ...).
Jest integration with Babel is seamless.

To make it even more "zero configuration", it would be awesome to integrating linting too. It's okay to

[2017-02-03 04:18] maximderbin commented on #2794
ember-cli do the same thing.

[2017-02-03 04:26] wtgtybhertgeghgtwtg commented on #2794
Isn't linting outside of the scope of testing?

[2017-02-03 04:50] maximderbin commented on #2794
yep this seems weird for me. But ember-cli running linter first on module that testing and the test file itself and then running tests. Don't know why they did it

[2017-02-03 04:52] koresar commented on #2794
Maybe because linting and unit testing are inside the scope of code quality?

[2017-02-03 04:54] ArtemGovorov commented on #2497
As @cpojer mentioned, the [actual and expected strings are returned](https://github.com/facebook/jest/pull/2342/files) now, we needed it in wallaby.js as well.

[2017-02-03 04:55] wtgtybhertgeghgtwtg commented on #2794
`ember-cli` and `jest` are fundamentally different things.  `ember-cli` is a tool for simplifying development of Ember applications.  Linting and testing are parts of developing Ember applications.  `jest` is a testing framework.  Linting is not a part of testing.

[2017-02-03 05:04] koresar commented on #2794
Sorry, looks like I misread the [frontpage](https://facebook.github.io/jest/)

* I was thinking that Jest is not a **framework** but a **platform**.
* Also I thought it's designed to **test JavaScript code**. I thought that "testing code" also includes "checking quality of code, style of the code, stupid typos of the code" etc.

[2017-02-03 05:15] maximderbin commented on #2794
I'm agree with @wtgtybhertgeghgtwtg . `create-react-app` is the place to combine all the stuff and it's already including eslint

[2017-02-03 07:19] bruderstein commented on #2202
Whilst this discussion has moved from the original suggestion to diffing diffs, I thought it might be worth mentioning another project that does exactly what was originally suggested - maybe you can borrow some ideas.

From the issue:
[code]

[unexpected-react](https://bruderstein.github.io/unexpected-react) does exactly this, and can ignore extra props and child elements if desired.

[code]

You

[2017-02-03 09:30] clentfort commented on #2779
Hi, there are several issues with your test.

First of all I would recommend to use [Timer Mocks](http://facebook.github.io/jest/docs/timer-mocks.html#docsNav) which should be more reliable than your solution. Next you use `toMatchSnapshot()` in a loop, snapshots are identified by the name of the test, this means that you will only have ONE snapshot, even though it seems you want to have three.

I

[2017-02-03 09:58] simonsmith commented on #2649
I have a similar issue where I have a manual mock (in a `__mocks__` dir) and cannot seem to unmock it for a single test.

Any guidance would be great.

[2017-02-03 10:17] simonsmith commented on #2354
In regard to the issue, it seems inline with the documentation:

However I have the same problem as @dijimsta in that calling `unmock` does not seem to work.

[2017-02-03 10:33] clentfort commented on #2775
Hi, the native timers do work, but using them makes your code asynchronous. You can read more about testing asynchronous code in the [docs](https://facebook.github.io/jest/docs/asynchronous.html#content).

[2017-02-03 10:42] wtgtybhertgeghgtwtg opened #2797 "Consider separating `jest-config` into `jest-config` and `jest-normalize`."
**Do you want to request a *feature* or report a *bug*?**
Feature, I think.
**What is the current behavior?**
`jest-config` exports two functions, `normalize` and `readConfig`.
**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

**W

[2017-02-03 11:49] romansemko commented on #1893
@thymikee, this change basically waits for the next tick before returning the result. Hence, when the environment is disposed afterwards, the window.close() is called in the next tick. This makes the jsdom's window to be GCed correctly (because it is not called synchronously within the same tick, as before).

[2017-02-03 11:51] thymikee commented on #1893
I wish this was that simple. Try running `env.dispose()` in the next tick and see the results. This is weirder than it seems

[2017-02-03 13:42] cpojer commented on #2794
Jest will ship with `eslint-plugin-jest` in the next version, which at least takes care of lint rules for tests. Testing is usually considered as separate from linting, so people are right: this is outside of the scope of Jest. I appreciate you brought this up – if you have more ideas on how Jest can help engineers write more correct code, please reach out again.

[2017-02-03 13:42] #2794 closed

[2017-02-03 13:42] #2779 closed

[2017-02-03 13:44] cpojer commented on #2797
@thymikee is the architect you need to convince.

[2017-02-03 13:52] thymikee commented on #2797
I'm for separation of concerns, especially if it's reasonable, but `normalize` is actually used in couple of places in `jest-config`, so I'm not sure what's the benefit here? Or maybe I'm missing something?

[2017-02-03 13:56] wtgtybhertgeghgtwtg commented on #2797
So it is.  I'm sorry, I was only looking at how it was imported in other packages.

[2017-02-03 13:56] #2797 closed

[2017-02-03 14:08] thymikee commented on #2797
No worries! I love all the work you're doing to get rid of unnecessary code in Jest ❤️

[2017-02-03 14:37] steve-taylor commented on #2779
Thanks for the tips. I was able to simply remove `setTimeout` because my assumption about the component needing time to settle was incorrect.

Having said that, it should be noted that the test is created inside the loop and therefore the snapshot file contains an array of three snapshotted renderings, whose names are made unique by appending a 1-based index. Nice!

Thanks for the pointer to mock

[2017-02-03 15:43] thymikee commented on #2789
Have you tried using [modulePathIgnorePatterns](http://facebook.github.io/jest/docs/configuration.html#modulepathignorepatterns-array-string)?

[2017-02-03 16:19] pedrottimark commented on #2202
@bruderstein Thank you for the link. I am still interested in partial match.

@cpojer On the subject of partial match, in addition to `enzyme` issue you gave me recently, do you know if there is any issue about goals for `react-test-renderer` in 2017?

Yes indeed, we could. Optional options and snapshot name made me timid. Me either.

Trial implementation is a hybrid of the 2 suggestions: https://

[2017-02-03 16:56] cpojer commented on #2202
I guess I didn't consider this so much an extension for pretty-format as I consider the implementation of this to exist on top of jest-snapshot in some way. Instead of diffing line-by-line I thought it makes sense to diff JavaScript objects before printing. I see value in both approaches, unsure which one is the best yet.

[2017-02-03 17:13] developit commented on #2202
@cpojer +1 for diffing the object - that seems likely to produce better output than the stringified version from `pretty-format`.

[2017-02-03 17:13] bruderstein commented on #2202
@cpojer unexpected-react diffs objects, and there are a number of advantages:
1. You can have some "intelligence" around things that are added or removed (e.g. is an added attribute less important than an added child)
2. Easier to pretty-print without forcing everything onto a new line to ease the diffing.
3. More "intelligence" around different attributes - e.g. the order of classes in `className

[2017-02-03 17:21] developit commented on #2202
@bruderstein sorry for what is probably an uninformed question - but aren't snapshots already stored as JSON?

[2017-02-03 17:27] bruderstein commented on #2202
@developit In jest, they're stored as strings in the snapshot files. If you're using unexpected-react with jest, they're stored as JavaScript objects, with a string representation as a comment to assist in seeing the diff in version control.

[2017-02-03 18:04] BrunoQuaresma commented on #2789
I try.:

[code]

the message disappears but the tests still slow

![captura de tela 2017-02-03 as 15 04 03](https://cloud.githubusercontent.com/assets/3165839/22602480/1c423f0e-ea22-11e6-93d5-606bff690397.png)

[2017-02-03 18:05] BrunoQuaresma commented on #2789
New.test.js example.

[code]

[2017-02-03 18:10] thymikee commented on #2789
What machine are you on and what's under the hood? How do you run Jest?
Some info would be helpful

[2017-02-03 19:58] AgentME opened #2801 "console.log statements shown out of order when process.nextTick is used"
I've been working on some broken code, and since debugging support has been [troublesome](https://github.com/facebook/jest/issues/1652), I've fallen back to the tried-and-true printf debugging. Though even that has been extremely baffling lately. I finally narrowed the weirdness down to this:

[code]

[code]

(The code I'm testing uses the `asap` module a lot which uses process.nextTick internally

[2017-02-03 20:03] lewisf opened #2802 "using `this` in beforeAll leading to jest not finding specs"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
For a test like this:
[code]

Jest fails to find any tests

[code]

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

https://repl.it

[2017-02-03 20:48] insanesvk commented on #2802
Because tests have to be described with `test()`, not `it()`

[code]

[2017-02-03 20:56] maximderbin commented on #2802
@insanesvk `it` is alias to `test`

[2017-02-03 20:57] maximderbin commented on #2802
@insanesvk `it` is alias to `test` they both works fine

[2017-02-03 20:57] insanesvk commented on #2802
@maximderbin you're right, I updated my answer above

[2017-02-03 20:59] maximderbin commented on #2802
@lacker you probably should try
[code]

[2017-02-04 04:23] wtgtybhertgeghgtwtg opened #2804 "`postinstall` fails if path contains a space."
**Do you want to request a *feature* or report a *bug*?**
Bug.
**What is the current behavior?**
Running `postinstall` fails if the path contains a space.  For example
[code]
This is because `_runCommands` tries to get the name of the script to run by [splitting the command by space and taking the first value](https://github.com/facebook/jest/blob/master/scripts/_runCommands.js#L26).
**If the curr

[2017-02-04 04:42] developit commented on #2202
Ah interesting.

[2017-02-04 20:48] fuyi commented on #2081
I am having the same issue, the link @cpojer provided doesn't seem to help 😕

[2017-02-04 23:20] ericclemmons commented on #2550
I had the same issue, as I'm trying to use `./src/node_modules` for internal libs.

**Fix**:
[code]

The default regex should have `<rootDir>` in it:

[2017-02-04 23:21] ericclemmons commented on #2145
Related, you need to make sure that files in `./src/node_modules` are processed:

I had the same issue, as I'm trying to use `./src/node_modules` for internal libs.

**Fix**:
[code]

The default regex should have `<rootDir>` in it:

[2017-02-05 02:49] lewisf commented on #2802
I'm pretty certain the repl.it link I originally posted got modified or something.

in any case, I understand that we can get around not using the `this` scope and taking advantage of closures, but I also think we expect `this` usage in `beforeAll` to not cause jest to fail to find specs considering that it works in jasmine.

[2017-02-05 08:06] krzysztofp opened #2806 "TypeError: Cannot read property 'getMockFunction' of undefined"
I'm getting this error for a very simple test:

[code]

This is my jest --debug output:

[code]

My RN/JEST stack:
"react": "15.4.2",
"react-native": "^0.39.0",
"babel-jest": "^16.0.0",
"babel-preset-es2015": "^6.22.0",
"babel-preset-react": "^6.22.0",
"babel-preset-react-native": "^1.9.0",
"jest": "^16.0.2",
"jest-cli": "^16.0.2",
"react-dom": "15.4.2",
"react-test-renderer": "~15.4.1"

[2017-02-05 10:58] izikorgad opened #2807 "No tests found when running Jest under Windows Server 2012 environment"
No tests found: when running Jest under **Windows Server 2012** environment.
The issue is only reproducible when the project path contains **space**.

My jest configuration is:
node: v6.9.1
npm: 3.10.8
Jest: 18.1.0

[2017-02-05 11:21] daSaf commented on #2807
Someone here had this exact issue today!

[2017-02-05 17:22] rogeliog commented on #2202
I think this concept is quite interesting and it is really worth exploring... I'm a bit worried of how complex the API can get here.

I kind of like the idea of just starting by using the latest snapshot as a base diff for the next snapshot, with as close to zero options as possible. This will allow us to just create the minimum API to support the most common use case of  this feature and then inc

[2017-02-05 17:51] rogeliog commented on #2760
@cpojer Have to seen this issue again? I've been trying to repro it by modifying `examples/snapshot/Link.react-testjs` and removing snapshots from it

[2017-02-05 18:22] cpojer commented on #2760
Ok, I can't repro now either. It may come up again in the future; let's fix it when it comes to it.

[2017-02-05 18:29] #2790 closed

[2017-02-05 18:39] cpojer commented on #2802
`this` as context is not supported in Jest.

[2017-02-05 18:39] #2802 closed

[2017-02-05 18:42] cpojer commented on #2806
It's impossible to troubleshoot this without a real example and all the code. This is not a help forum, please ask this question on stackoverflow. Thank you!

[2017-02-05 18:42] #2806 closed

[2017-02-05 18:43] krzysztofp commented on #2806
I'm not looking for help I'm reporting a bug. What do you need more to run this example?

[2017-02-05 19:58] excitement-engineer commented on #1377
I really like your proposal for a `syncify` function @louisremi!

I have simplified it a bit (together with your helper function @cowboy) and came up with:

[code]

A `sync` util could then be added to `expect`. This can then be used as follows:

[code]

Or in shortened syntax:

[code]

What do you guys think?

[2017-02-05 20:24] rogeliog commented on #2760
Got it

[2017-02-05 20:34] cpojer commented on #2760
Can you confirm to me though that changes to .snap files don't issue a change event?

[2017-02-05 20:52] alexjoverm commented on #2785
Ok, new info again... This is crazy.
- Node <= 7.2: works
- Node 7.3, 7.4: doesn't work
- Node 7.5: works again

WTF?

[2017-02-05 20:52] alexjoverm commented on #2785
P.D.: perhaps we could close it, still I'm very curious about the issue

[2017-02-05 21:08] rogeliog commented on #2760
I think that it does issue a change event, but I'll confirm tomorrow morning since I'm not home right now

[2017-02-06 05:14] rogeliog commented on #2760
Yes, I just confirmed that jest-haste-map issues a change event.

I was able to reproduce a scenario similar to yours, it doesn't get stuck in an infinite loop, but it does reruns several times. This doesn't seem to be an issue in Jest 18.1. The gif shows the behavior in Jest 18.1 and then I link the latest `jest-cli`.

![jest-infinite-loop](https://cloud.githubusercontent.com/assets/574806/226353

[2017-02-06 10:22] alexjoverm commented on #2785
Ok, confirmed. I've just found @cpojer opened an issue and there is a regression in Node 7.3 (fixed by 7.5) that breaks some things https://github.com/nodejs/node/issues/10492

[2017-02-06 10:58] jonnywildey opened #2812 "Tests still run despite error in setupTestFrameworkScriptFile"
Not too sure if this is a bug or intended behaviour.

If there is an error in setupTestFrameworkScriptFile, all tests are still run, despite the very good chance none of them will function correctly.

https://repl.it/F8Xw

In my mind it would make more sense to not run the tests and show a message saying there was an error in the setupTestFrameworkScriptFile.

[2017-02-06 11:12] cpojer commented on #2785
Yup, that's a node issue. Let's look past this and never speak of Node 7.3 and Node 7.4 again.

[2017-02-06 11:12] #2785 closed

[2017-02-06 13:58] cpojer commented on #2760
Seems like we may need to make a change in master that prevents re-runs from queuing up while a run is still going on.

[2017-02-06 14:43] julien-f commented on #1377
Personally, it's not my favorite approach, someone not knowing the `expect.sync()` function has no way to understand what it does.

I prefer explicit support of promises in `expect`:
[code]

[2017-02-06 14:53] devboell opened #2813 "[Docs] example code for stringMatching not passing"
**Do you want to request a *feature* or report a *bug*?**
Bug. I think it's a bug in a code example in the documentation
 https://facebook.github.io/jest/docs/expect.html#expectstringmatchingregexp

**What is the current behavior?**
The test fails:
[code]
**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a

[2017-02-06 15:09] thymikee commented on #2813
Yes, this is a bug in docs. Would you mind fixing that and send a PR? It should go like that:

[code]

[2017-02-06 15:11] devboell commented on #2813
Sure, but it'll be my first PR, so pls bear with me.

[2017-02-06 15:13] devboell commented on #2813
Will do, tnx :)

[2017-02-06 15:17] vitalyrotari commented on #2666
@cpojer  This is sucks, because I use redux-saga.

[code]

Maybe exists some options how to resolve this problem?

[2017-02-06 15:47] SimenB opened #2814 "[New matcher request] toHaveBeenCalled{Last}MatchingSnapshot"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The matcher doesn't exist. 😭

The current snapshot testing is amazing, but I'd also like to be able to use it for checking stubs without going through extracting `.mock.calls` etc.

I started on a patch for this, but if you don't want the feature I don't want to waste time on it. If you _do_ want i

[2017-02-06 15:55] devboell commented on #2813
Ok, so I
- cloned the jest repo on my machine
- checked out a new branch and called it: docbug_stringMatching
- added and committed the fix to this branch
- signed the CLA
- (assumed running the tests was not necessary for a doc change)

should I now push the branch back to the jest repo?

[2017-02-06 16:19] thymikee commented on #2813
yup, you can now send a pull request against master branch

[2017-02-06 16:21] cpojer commented on #2666
It seems like you aren't properly transforming generators in this example, this is not a Jest error.

[2017-02-06 16:28] devboell commented on #2813
I am confused, I am reading that I should have forked it first, and cloned it from the fork.

The CONTRIBUTING.md also says:
`Fork the repo and create your branch from master`
and then
`git clone https://github.com/facebook/jest`

should that not be:
`git clone https://github.com/<my_user_name>/jest` ?

[2017-02-06 16:32] thymikee commented on #2813
Oh, that's right.
You just need to fork Jest repository (with GitHub interface) and then clone your own repository.

[2017-02-06 18:17] #2813 closed

[2017-02-06 18:25] thymikee commented on #2814
whoa this is a long name for a function!

[2017-02-06 19:19] SimenB commented on #2814
Is that a :-1: or :+1:?

[2017-02-06 19:22] ferrannp opened #2818 "modulesNameMapper order of keys"
**Do you want to request a *feature* or report a *bug*?**

bug?

**What is the current behavior?**

See the following config:

[code]

With this config, when trying to import from `'assets/image.png'`, Jest is throwing an error:

[code]

Instead, if I declare the alisases at the end, test will run just ok.

[code]

**What is the current behavior?**

Depends on the order in `modulesNameMapper`, tes

[2017-02-06 19:43] thymikee commented on #2818
Your regular expressions are intersecting with each other, so e.g. `assets/test.png` will match both. One of them will take over and hence the behaviour.
You need to consider making these regexps a bit stricter.

[2017-02-06 19:45] thymikee commented on #2814
Frankly I don't know, but I personally don't like such long names. Could you please provide a sample usage? It would be easier to think about this.

[2017-02-06 19:54] SimenB commented on #2814
The name itself was just to match the existing ones, I'm sure it can be shortened 😄

Usage sample:

[code]

The middle one is OK, but I have to extract the correct call if there are multiple. or just do `expect(someObject.method.mock.calls).toMatchSnapshot();`, but then I assert on every single call. Might be fine, though? Reaching into the `mock` object feels kinda dirty though, even though it's

[2017-02-06 19:59] bookman25 commented on #2814
We actually wrote on of these in our project as a replacement for objectContaining calls `toHaveBeenCalledWith(jasmine.objectContaining({}))`

[code]

[2017-02-06 20:38] goddva opened #2819 ""babylonParser" expects that "plugins" is set"
File: jest/packages/jest-editor-support/src/parsers/BabylonParser.js

in the function "babylonParser" we see..

[code]

If we dont have a plugin section in the parsed file, the **babel.plugins.concat** will fail.

[2017-02-06 20:50] thymikee commented on #2819
Would you like to send a PR to fix this? :)

[2017-02-06 23:00] MrNice commented on #223
If you're using the above mock, please note this bug:
[code]
Correct it to
[code]

[2017-02-07 09:21] ducdigital opened #2821 "Please add version number added to each of the function."
**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the current behavior?**
Currently there's no version number on jest document therefore people reading the docs can be mistakenly that they are using the docs for their version. I understand that jest is in active development, so with the version number added, It will be much easier for user to find answer on his own ins

[2017-02-07 10:21] just-boris commented on #1798
Come up with the same idea. How about extra flag `--updateSnapshotInteractive`, where a user will be asked before updating every snapshot. Also, `--updateSnapshot` will effectively become something like `--updateAllSnapshots`.

How about actually start working on it? I can contribute, if I will get a starting point for it.

[2017-02-07 10:48] cpojer commented on #2821
Yes, we are doing that going forward (waiting for a website push) to Jest 19 and beyond, we won't be doing it for older versions.

[2017-02-07 10:48] #2821 closed

[2017-02-07 10:49] #2819 closed

[2017-02-07 10:50] cpojer commented on #2814
I don't think this is something we'd like to support inside of Jest directly at this point. Maybe you can build a snapshot extension library using `expect.extend`? :)

[2017-02-07 10:50] #2814 closed

[2017-02-07 11:42] avaly opened #2822 "Getting Started Tutorial Fails"
**Do you want to request a *feature* or report a *bug*?**

*Bug*

**What is the current behavior?**

Following the [Getting Started](http://facebook.github.io/jest/docs/getting-started.html) tutorial, Jest does not run any tests. Instead it complains it does not find any test files.

Reproducible using files from: https://gist.github.com/avaly/7c810953d6c12f63aa93097bc2a1cf7d

**What is the expect

[2017-02-07 11:42] devboell opened #2823 "Purpose of arrayContaining stated unclearly in the docs"
[code]
I read this test as saying every number in the array returned by `rollDice` should be between 1 and 6, and is therefore a valid dice roll. So if the array contains 100 numbers between 1 and 6, that represents 100 valid dice rolls. (as opposed to the array containing a 7, or a 8 etc, which would be invalid.)

But that's not what the test does. The test passes only when each and every number

[2017-02-07 11:54] #2804 closed

[2017-02-07 11:59] SimenB commented on #2814
Will do! Thanks

[2017-02-07 12:05] devboell commented on #2823
sorry, repl.it didn't save revision 1 properly, I'll try to fix

[2017-02-07 12:15] devboell commented on #2823
Tried saving to https://repl.it/F9z2/2
I'll paste the code here to be safe:

[code]

[2017-02-07 12:45] cpojer commented on #1798
I think here is where I'd start:

* Make this work only for watch mode (this is supposed to be interactive).
* Record all the failures (Jest is already doing this).
* When the tests are run, it will say "Snapshots failed, press u to update all or i to update them interactively"
* When "i" is pressed, clear the screen and run each test one by one. When it fails, ask to press "a" to accept or "s" to

[2017-02-07 12:45] cpojer commented on #1860
This is being implemented by #2568.

[2017-02-07 12:45] #1860 closed

[2017-02-07 12:46] cpojer opened #2824 "Typeahead for `testNamePattern`"
See https://github.com/facebook/jest/pull/2568#issuecomment-277988919

[2017-02-07 12:58] MatthiasDebaere commented on #1370
Little bit late to the party but might be of value:

I have a 'general helpers' file in my app which exports an 'onAndroid' function with the implementation as such:
[code]

This gives me the opportunity to easily make platform-specific code in components like this:
[code]
 and, why I'm typing this, to test components on a specific platform by mocking the 'onAndroid' function like so:

[code]

[2017-02-07 13:51] DmitrySkripunov commented on #2081
Hi! 'transformIgnorePatterns' does....mmmm...that it must does - ignoring)
But how I can use that import in package from node_modules?

[2017-02-07 14:01] khrome83 opened #2825 "Coverage folder not created"
**Do you want to request a *feature* or report a *bug*?**

Report Bug

**What is the current behavior?**

When running `jest --coverage` no `/coverage` folder is output. This is showing the settings of Jest in the `package.json`
[code]
**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository o

[2017-02-07 14:19] jingchan opened #2826 "Global state does not reset for C++ addons"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
require()ing a native module across several tests does not reset that module's state

[code]

To reproduce, see: https://github.com/jingchan/jest-issue-2826

**What is the expected behavior?**
The module's state should be the same every time to match the description from https://facebook.github.io/jest

[2017-02-07 14:36] pherris commented on #223
thx @MrNice - updated

[2017-02-07 16:14] pedrottimark commented on #2202
Yes, it sounds super to **diff objects** and serialize separately as late as possible.

* To diff the state of a component or store might also apply to React or Redux **dev tools**.
* The concept becomes similar to **reconciliation**.
* It might become possible for a test to combine diff and subset match:
    * A diff focuses attention on the **expected change** in state.
    * A subset match (soo

[2017-02-07 16:31] guicar commented on #2329
Maybe unrelated, but I wonder if the name given in parameter to `toMatchSnapshot()` should actually replace the index of the snapshot, keeping the name of the context. That is what I was expecting from reading the documentation. For example:
[code]
should yield:
[code]
instead of:
[code]
That would also help to reduce the possibilities of collisions by always "namespacing" the snapshots.

[2017-02-07 16:54] victorwhy opened #2827 "Mock out context in tests (specifically Router)"
**Do you want to request a *feature* or report a *bug*?**
Feature, unless I'm just using jest totally wrong.

**What is the current behavior?**
Adding router to the context of a component breaks tests it doesn't understand the new context, and I've spent a while spinning my wheels trying to figure out a way to mock it without passing in the whole Router object, which doesn't seem to work.

I was w

[2017-02-07 17:02] cpojer commented on #2827
It doesn't seem like this is related to Jest, but more to React or react-router.

[2017-02-07 17:02] #2827 closed

[2017-02-07 17:45] nickmccurdy opened #2828 "Additional context in stack traces for suites that are missing tests"
**Do you want to request a *feature* or report a *bug*?**
Feature/Enhancement

**What is the current behavior?**
If you have a test suite without a test, the test suite will fail with the following:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn i

[2017-02-07 18:06] pedrottimark opened #2829 "Docs: explain in CONTRIBUTING.md how to run a Jest build from another project?"
**Do you want to request a *feature* or report a *bug*?**

Suggest an addition to Jest docs

**What is the current behavior?**

To explore how the excellent improvements in #2787 and #2798 apply to the discussion about snapshots, I wanted to do something like what React describes:

https://facebook.github.io/react/contributing/how-to-contribute.html#development-workflow

* Is something similar pos

[2017-02-07 18:37] cpojer commented on #2828
This error indicates that the test file itself (a "suite" in Jest's terminology) doesn't contain any calls to `it` or `test`. I understand this may be a tiny bit confusing given that we use Jasmine under the hood.

[2017-02-07 18:37] #2828 closed

[2017-02-07 18:56] nickmccurdy commented on #2828
My file did have calls to `it`, and I still got this error. The reproduction I posted was a simplified version.

[2017-02-07 19:08] nickmccurdy commented on #2828
Sorry, I think I misinterpreted that. If I'm understanding correctly the issue is that Jest can't give a stack trace because there is (in theory) no `it` block to reference. I was confused because my test actually does have an `it` block and still threw this error. Since it seems like I just ran into an unrelated issue, we can leave this closed. Thanks for your explanation.

[2017-02-07 19:29] chrisbujok opened #2830 "Closing bracket for JSX elements after new line in snapshots"
**Do you want to request a *feature* or report a *bug*?**
Feature / Improvement.

**What is the current behavior?**
Currently React elements / components in snapshots have closing bracket in the same line as last prop, for example:

[code]

After adding another prop to `foo`, the test will fail and show diff like this:
[code]

**What is the expected behavior?**
In order to improve the clarity of d

[2017-02-07 21:32] thymikee commented on #2830
This seems reasonable, especially that this style is also pretty popular thanks to Airbnb eslint config.
Although it would be a breaking change.
Would you like to adjust `pretty-format`'s React plugin to render this way? 🙂

@cpojer what do you think? We could pass that easily within Jest 19 release, as we're breaking snapshots anyway.

[2017-02-07 21:51] chrishyle commented on #848
While running Jest in an electron shell is an interesting project, I think it only solves part of the issue for real world developers. While a CLI runner or an electron environment is great for our developer workflow, we have also found many issues over the years by running our unit tests in real browsers (especially older browsers) that we didn't find in those CLI environments or Chrome alone.  I

[2017-02-07 21:54] cpojer commented on #2830
Yeah this was brought up before. I think I'd be ok with this change for Jest 19, yes.

@chrisbujok would you be interested in sending a PR for this? The change needs to be made in packages/pretty-format.

[2017-02-07 21:55] MrNice commented on #223
No worries, eslint's static linter saves the day again 👍

[2017-02-07 21:58] chrisbujok commented on #2830
@thymikee @cpojer Yes, I'm interested in sending PR for this - as mentioned before, I did a quick PoC in `pretty-format` plugins :) Although I need to fix tests to make it ready.

[2017-02-07 22:49] thymikee commented on #2829
We could mention `npm link` method for sure. This is what I like to use

[code]
to unlink:

[code]

I think it may require `sudo` if you're having global node modules in a protected dir.

@pedrottimark I don't know why it fails for `--env` 🤷‍♂️

[2017-02-07 22:52] MrNice opened #2831 "Feature Request: enable jest-cli to unset `collectCoverageFrom` config to undefined"
My team wants whole codebase coverage reports, so we have `collectCoverageFrom` set in our package.json. When developing, I want the default jest behavior of collecting coverage from files that are tested by spec files. I cannot figure out how to override and unset the `package.json:config` with a command line flag.

Following: https://github.com/facebook/jest/issues/1932, I've tried setting a new

[2017-02-07 22:52] MrNice commented on #2831
At the moment I'm deleting lines from the package.json to generate my reports and then adding them back in before committing.

[2017-02-07 22:56] thymikee commented on #2789
Closing this, but we can keep the discussion about the speed going.

[2017-02-07 22:56] #2789 closed

[2017-02-07 22:57] thymikee commented on #2807
@mikaelbr fixed something similar recently. Could you help here?

[2017-02-07 23:01] thymikee commented on #2812
Tests try to run and show the thrown error, so all the information is there.
This is intended and I don't think we need to change this behaviour.

[2017-02-07 23:01] #2812 closed

[2017-02-07 23:01] #2818 closed

[2017-02-07 23:05] thymikee commented on #2825
Unfortunately this is most probably problem with your user (or process like `node`) permissions, not with Jest.

[2017-02-07 23:06] thymikee commented on #2825
As a workaround you can create the directory manually or with some kind of script with right permissions.

[2017-02-07 23:10] thymikee commented on #2826
Can you setup a brief repro of the issue?

[2017-02-07 23:30] cpojer commented on #2826
I'm not sure if these can be unloaded.

[2017-02-07 23:30] khrome83 commented on #2825
When I create a folder manually, it still removes it. Even when I give it the correct permissions. Please reopen.

On Feb 7, 2017, 5:06 PM -0600, Michał Pierzchała <notifications@github.com>, wrote:

[2017-02-07 23:32] jingchan commented on #2826
@cpojer I believe you are right as this seems related to: https://github.com/nodejs/node/issues/5016

[2017-02-08 00:03] jingchan commented on #2826
@thymikee Here you go: https://github.com/jingchan/jest-issue-2826

[2017-02-08 00:23] nhunzaker commented on #848
I completely agree. As someone less familiar with Jest internals, I found Electron to be an attractive target. Electron _just works_, and opens up a lot of possibilities, such as recording test sessions and stepping through browser behavior using a debugger. Still, I don't want to express neglect for real browsers with that enthusiasm.

Unfortunately, I also haven't been able to make the time for

[2017-02-08 01:35] davidgilbertson commented on #2441
I'm getting the same issue, I wonder if it's output overwriting other output. Occasionally I'll see something like this:

![image](https://cloud.githubusercontent.com/assets/4443482/22719519/f5f9c548-edf9-11e6-9ae6-c2b58e887b2b.png)

It's like one process outputted an error (failed prop types) but it just gets written right over by the test output logs.

More:

![image](https://cloud.githubusercon

[2017-02-08 07:00] thymikee commented on #2441
@davidgilbertson does it happen on v18.1?

[2017-02-08 10:35] cpojer commented on #2826
I don't think we are able to do so, as you pointed out in the node.js issue you linked to.

[2017-02-08 10:37] thymikee commented on #2826
Maybe it's worth to close it and reopen when the issue is resolved on Node side? I think this is something we would like to know works with Jest

[2017-02-08 10:38] #2830 closed

[2017-02-08 10:43] cpojer commented on #2826
Yeah I'm gonna close this out for now. If anybody has creative ideas on how to solve this, please let me know.

[2017-02-08 10:43] #2826 closed

[2017-02-08 11:00] jingchan commented on #2826
Perhaps you can offer suggestions on what might be a workaround?  This is causing me a lot of issues.

A suitable workaround would be a way to be able to require the module once and pass a reference to the tests without re-requiring it.  I tried a custom test environment, but that was a no-go.

Right now this issue is completely preventing me from using Jest at all, so thoughts would be much appre

[2017-02-08 11:15] cpojer commented on #2824
Done in https://github.com/facebook/jest/pull/2568

[2017-02-08 11:15] #2824 closed

[2017-02-08 11:22] mrmckeb opened #2834 "Cannot find module 'React' from 'Button.js'"
**Bug report**

**What is the current behaviour?**

When I run tests in bash (Windows 10), tests using React fail. Other unit tests execute without a probelm. This test suite seems to run fine on OSX.

An example of this error is:
[code]

The code for Button.js is (this is a test component):
[code]

I'm using the latest version of Jest, I've tried removing and reinstalling `node_modules` and I've

[2017-02-08 11:25] cpojer commented on #2834
It's 'react', not 'React'.

[2017-02-08 11:25] #2834 closed

[2017-02-08 11:26] garmjs commented on #2834
`import React, { PropTypes, PureComponent } from 'react';`

[2017-02-08 11:27] mrmckeb commented on #2834
Wow... that's embarrassing. Thanks @cpojer and @garmjs. I think I need a rubber duck.

[2017-02-08 11:27] cpojer commented on #2826
Yeah, it should work with a custom test environment as long as you only create one instance.

Another solution could be to add a "__resetForTest" method to your native module that resets it in C++.

[2017-02-08 11:40] khrome83 commented on #2825
After more research I can confirm a workaround. The contents of the `package.json` file is preventing Jest to write to the coverage folder. I was wrong above, if I create a coverage folder, it just does not write too it.

By having the following in `package.json`, two things occur -

[code]

1. Need sudo to not trigger access error for coverage.
    a. If i create a coverage folder with correct pe

[2017-02-08 12:58] BrunoQuaresma commented on #2789
Sorry for the delay. My machine is a mac mini. 8Gb RAM, i5.

My package.json (ejected from create-react-app):

[code]

[2017-02-08 13:16] Zephir77167 opened #2835 "Unexpected token import (babel-eslint not available from tested file, symlink env)"
**Do you want to request a *feature* or report a *bug*?**

feature to solve a bug?

**What is the current behavior?**

Hi,

I'm having trouble integrating unit tests in a particular folder of my project.

My architecture is as follows:
|_ shared
|_ job-board
|_ admin-panel

**job_board** and **admin-panel** each contain a _symlink_ pointing to **shared**, at `./client/src/shared`, and each contain

[2017-02-08 13:26] zalun opened #2836 "iTerm2's Captured output feature doesn't show the right line."
I tried to capture the "failed" word (\bfailed\b). Unfortunately jest output changes and wrong lines are addressed in the captured output.

[docs] https://iterm2.com/documentation-captured-output.html

[2017-02-08 13:30] mikaelbr commented on #2807
Sure. I can take a stab at it, but I don't think it's related to the previous issue at all.

[2017-02-08 13:31] cpojer commented on #2835
This doesn't seem like a Jest issue. This is not a help forum. Please ask on stack overflow.

[2017-02-08 13:31] #2835 closed

[2017-02-08 13:31] cpojer commented on #2835
Check `transformIgnorePatterns`, you may need to customize that.

[2017-02-08 13:32] cpojer commented on #2836
Thanks for bringing this up. Good to see you, @zalun. Are you willing to work on a PR for this? It's unlikely we'll add support for this from our side.

[2017-02-08 13:42] suchipi commented on #848
My two cents: I got Jest running in NW.js, which is pretty similar to Electron, but it doesn't have the same node/browser context separation, so it's pretty easy to get the test code. Proof of concept here: https://github.com/suchipi/jest-node-nw-example

It's using the same browser globals every run right now, but creating new iframes for each test shouldn't be too hard

[2017-02-08 13:56] Zephir77167 commented on #2835
I read all the issues concerning 'Unexpected token import', and `transformIgnorePatterns` is not the issue.

This is not a help forum, but I'm asking for a feature so that `babel-jest`, a package you're maintaining, is resolved based on the <rootDirectory> and not on the directory of the test file...

[2017-02-08 15:13] zalun commented on #2836
Hey @cpojer. It's just a note.
I will take a look what's causing this, but for now I wouldn't like to have the issue assigned to me.

[2017-02-08 16:59] cpojer commented on #2836
Sounds good. Since this is not actionable this way (nobody will work on it in the foreseeable future), I'll close the issue. If you intent to work on it, please send us a PR.

[2017-02-08 16:59] #2836 closed

[2017-02-08 18:18] jbsulli commented on #2736
Any thoughts?

[2017-02-08 19:22] Phoenixmatrix opened #2837 "Fully custom module resolution logic"
**Do you want to request a *feature* or report a *bug*?**

Feature request

**What is the current behavior?**

If I understand well, right now the only control to change how modules are resolved is via the `moduleNameMapper`, which has some limits on customization when compared to the environment the code might run in normally (eg: webpack with custom resolvers, plugins, etc)

**What is the expect

[2017-02-08 20:06] pedrottimark commented on #2829
Aha, nice, thank you very much. And it solved the problem with the `--env` option.

A few follow-up questions so I can begin to write a first draft:

* In contrast to `jest` on the command line, for `npm test` and other scripts in my sample project to refer to the link instead of its release version of Jest, I had to temporarily uninstall `jest` from the sample project. Does that make sense?
* To

[2017-02-08 20:32] thymikee commented on #2829
Yea, seems like `--global` is the way to go as `npm unlink jest-cli` unlinks local module, didn't know about this, thanks!
Building Jest on `npm test` is on purpose, just to be sure you're running latest build.

[2017-02-08 22:32] Scimonster opened #2838 "Provide a more useful mock result when requiring an image in React Native"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
When requiring an image with Jest and the React Native preset, it just returns 1.
Example:

[code]

I can manually mock the image:

[code]

But it's annoying to have to do this for every image.

**What is the expected behavior?**
Ideally Jest should automatically implement the mock i just exampled

[2017-02-08 22:34] thymikee commented on #2838
Have you tried `moduleNameMapper`? Here's [example usage](http://facebook.github.io/jest/docs/webpack.html#handling-static-assets).

[2017-02-08 22:35] cpojer commented on #2838
There was a discussion a while back to have default moduleNameMappers. I'm a bit worried how that might go. @thymikee ever thought about that?

[2017-02-08 22:36] thymikee commented on #2838
Yes I've seen that discussion with Dan, and I like the idea.

[2017-02-08 22:36] thymikee commented on #2838
https://github.com/facebook/jest/issues/1528

[2017-02-08 22:38] thymikee commented on #2838
I think we could make it so there are some defaults, which gets totally wiped and overwritten if set explicitly by user.

[2017-02-08 22:43] Scimonster commented on #2838
I tried copying in the example code for moduleNameMapper, and it didn't do anything.

But even if that did work, it looks like it would just return 'test-file-stub' for everything, as there's no function being called, hence no place for customizing in that file.

[2017-02-08 23:38] Zephir77167 commented on #2835
You're saying here: https://github.com/facebook/jest/issues/770 that babel-jest must be available from the rootDir, and it is. So why doesn't it work when it is not available from the directory of test file?
![capture](https://cloud.githubusercontent.com/assets/15089053/22762537/bb0c4a74-ee57-11e6-9aa2-0c9fdda8cc2b.PNG)

[2017-02-08 23:42] cpojer commented on #2835
The problem then might be that you are trying to run tests outside of your rootDir, which is not advised. Note that `testPathDirs` will be renamed to `roots` in the next release, because that is what it actually is. I recommend you to set your rootDir to something one level up and simplify your config by limiting what "testPathDirs" looks at.

[2017-02-08 23:46] Zephir77167 commented on #2835
When I change my config file like this:
[code]
It doesn't find my test file in `shared`

[2017-02-08 23:53] thymikee commented on #2835
How can Jest find it if you omit it in modulePaths? I think you should include it:
[code]

[2017-02-08 23:56] Zephir77167 commented on #2835
First version didn't resolve rootDir correctly, I found it out thanks to `--debug`.
Tried in second version, but still no luck...

[2017-02-09 00:21] cpojer opened #2839 "Remove "test" prefix in front of test names in snapshots?"
This complicates snapshots unnecessarily and was mostly done because jasmine otherwise prepends an awful "internal suite" identifier. We should probably just set it to an empty string.

Instead of:

[code]

it will result in

[code]

Since we are updating the snapshot format for the new version of Jest, this seems reasonable to do.

[2017-02-09 03:02] luizdesign opened #2840 "To update the TimerMocks Documentation"
I'm migrating to the jest and felt some difficult to met a information about the how solve a unit test situation in my code. I solved the problem with `jest.runTimersToTime(msToRun)`, but this information can't be found in the TimerMocks documentation.

[2017-02-09 05:01] twgraham commented on #2663
@matheusml did you solve this at all? @cpojer I can confirm I'm having this issue too. I have static assets outside my source. i.e. My directory structure looks like:
[code]

My jest config looks similar to the example given in the link:
[code]

My test fails when it tries to import the image:

[code]

I guess its important to note that if I don't include the `public` directory in `moduleDirectori

[2017-02-09 10:38] SimenB opened #2843 "Watch mode doesn't consider changes to snapshot files changes"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
- `jest --watch`
- Make some code change that results in a snapshot test failing.
- Update the snapshots, everything is green
- Revert the code change (but _not_ the snapshot change)
- No tests are run, with the message "No tests found related to files changed since last commit."

**If the current beha

[2017-02-09 10:41] SimenB commented on #2843
Kinda related (has to do with watch mode), setting `testPathDirs` seems to make watch mode only watch those test files; changes in source code didn't trigger a a re-run.

Had to do this to make source code changes trigger a re-run. Is that expected behaviour? Or should I create an issue for it?
[code]

[2017-02-09 11:04] lewis617 opened #2844 "Watch mode does not auto re-run tests"

[2017-02-09 11:22] Nosenation opened #2845 "Jest error exit on Windows 7"
**What is the current behavior?**
On Windows 7, when Jest finds a bug in file, the node process exit with error code.

![windows_jest](https://cloud.githubusercontent.com/assets/1431712/22781331/4f94ca94-eec2-11e6-81f8-d0e50ea41fae.png)

**What is the expected behavior?**

It should only inform about error and exit quietly.

System:
- Windows 7
- Node version: 7.2.1
- NPM version: 3.10.10
- Jest v

[2017-02-09 12:42] #2844 closed

[2017-02-09 12:42] cpojer commented on #2844
it does.

[2017-02-09 12:44] #2760 closed

[2017-02-09 13:07] cpojer commented on #2843
`testPathDirs` is going to be renamed to `roots`, which is a more accurate name.

We actually just disabled running watch mode when snapshots change: https://github.com/facebook/jest/pull/2833 – otherwise we may trigger re-runs while updating snapshots.

[2017-02-09 13:17] SimenB commented on #2843
Ah, `roots` would match the behaviour I saw, so that's fine.

It's not a change in a snapshot file though, it's a change in a source file that, if its tests were run, would change the snapshot.

[2017-02-09 13:23] etrnljg commented on #1377
That's kinda strange @excitement-engineer to have an `expect` in another `expect`.
I would go for @julien-f solution, but maybe a compromise is possible like Jasmine's `done.fail()` method:
[code]

[2017-02-09 13:33] #2840 closed

[2017-02-09 13:35] cpojer commented on #2843
Oh I see what you mean. That is indeed a bug. I'm curious how we could resolve this.

[2017-02-09 13:36] cpojer commented on #2845
Unfortunately we don't have the bandwidth to support windows. We recognize the support isn't always great but if you'd like to see this fixed, you'll probably have to help us with a PR.

[2017-02-09 13:59] SimenB commented on #2843
The lookup for git changes could maybe invalidate a test file's cache if its snapshot file has been changed? Right now it seems to trace the test's dependency tree, "just" include the snapshot file in that tree somehow?

Disclaimer: I have no idea how the caching actually works

[2017-02-09 14:36] glenjamin opened #2847 "Watchman config option doesn't exist"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
This config doesn't stop the watchman error when it isn't installed.
[code]

**What is the expected behavior?**
The config option is mentioned in the troubleshooting guide: https://facebook.github.io/jest/docs/troubleshooting.html#watchman-issues
But isn't in the config options in the API docs, nor doe

[2017-02-09 14:56] danez opened #2848 "babel-jest always installed by default"
When I currently install `jest` it will automatically also install `babel-jest`.

[code]

According to the docs, to enable babel transpilliation you just have to install `babel-jest`, but it will always be installed be default, so everyone (using npm >= 3) will always use babel to precompile, even if not necessary.

Is this intended or is there a way to tell jest to not use babel? To me it looks l

[2017-02-09 15:29] SimenB opened #2849 "Run individual tests in jsdom or node during the same test run"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
One has to choose if tests should be run in Node or jsdom (or something else), it is not possible to have some tests run one environment, and some other in another environment

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.i

[2017-02-09 15:30] cpojer commented on #2848
You can do "transform: {}" in Jest or customize your transformers.

http://facebook.github.io/jest/docs/configuration.html#content

[2017-02-09 15:30] #2848 closed

[2017-02-09 16:14] Matzielab opened #2850 ""react-native" in path, causing failed tests"
I was the only one in the whole team who got failed tests. My project path was: /Users/matzie/Gimi/react-native/projects/veckopengen-app

Changed it to:
/Users/matzie/Gimi/vp
fixed it.

Just so you guys know :)

[2017-02-09 16:16] cpojer commented on #2850
Which version of Jest was that?

[2017-02-09 16:47] cpojer commented on #2837
Yes this is certainly possible but we need to figure out at what level this makes the most sense. I've been thinking about this for a long time and would love to see this implemented.

Should it simply be a "resolve" config option that is a simple function or shall we allow to subclass `jest-resolve` or `jest-resolve-dependencies` and overwrite all behavior in Jest?

The second thought I had, I ac

[2017-02-09 17:11] Phoenixmatrix commented on #2837
So I haven't looked much at the existing code at all yet, but my guts feeling is that it shouldn't make any assumptions about the implementation detail. You'd point your config to a module, the module has the proper interface. Done. If you subclass jest-resolve or compose it or whatever, that would work since you're keeping the interface, and if you decide to go from scratch, that works too (while

[2017-02-09 17:12] mathieumg commented on #2849
https://github.com/facebook/jest/issues/2587

[2017-02-09 17:14] cpojer commented on #2849
closing as duplicate.

[2017-02-09 17:14] #2849 closed

[2017-02-09 17:29] cpojer commented on #2837
Yes so the question is what that interface would look like? `jest-resolve-dependencies` is used for features like `jest -o` but it uses `jest-resolve` to do the actual resolution. I think if the interface to swap out is `jest-resolve`, then this would work well. The only thing I'm not sure about is if that is too much, like should we start out by supporting an interface smaller than what jest-reso

[2017-02-09 17:30] Phoenixmatrix commented on #2837
I think what I'm going to do with that in mind is start by doing something around swapping jest-resolve for an arbitrary module, and then we can look at the diff and iterate from there. If you decide it was the wrong way to go and we go back to the drawing board, it's no skin off my back.

[2017-02-09 17:43] cpojer commented on #2837
Let's try it, as long as it can be composed this may work :)

[2017-02-09 18:04] Zephir77167 commented on #2835
For those interested with a workaround, I came up with a solution while going through the source files of babel-jest. Just create a .babelrc at the common root of your repos, extending the real one. So in my case:
[code]

[2017-02-09 18:19] cpojer opened #2853 "Jest Snapshot Version Header"
We discussed adding a header like:

[code]

and then validate Jest and throw if the snapshot version doesn't match, like:

[code]

[2017-02-09 23:46] rodrigopivi opened #2854 "Can't trigger on TouchableOpacity.onPress or Text.onPress event"
Testing react-native `TouchableOpacity.onPress` does not work, can't manually trigger an onPress() event from tests.

Given a component that contains a TouchableOpacity:
[code]

And given a test, that renders it:
[code]

If i break point just before trying to trigger the onPress, i can get to explore what is inside the tree for the TouchableOpacity component (`btnTree.children[0]`):

[code]

As yo

[2017-02-09 23:52] cpojer commented on #2854
Please ask for this on the react-native issue tracker. Jest doesn't do anything special for react-native.

[2017-02-09 23:52] #2854 closed

[2017-02-10 00:54] anilreddykatta commented on #2853
@cpojer You mean everytime snapshot updates.increment new version?

[2017-02-10 00:58] cpojer commented on #2853
@anilreddykatta no, it's a version that we define in jest-snapshot, like:

[code]

does that make sense?

[2017-02-10 01:51] anilreddykatta commented on #2853
@cpojer Yeah makes sense..so when we update snapshots next time..will the version number change?

[2017-02-10 02:03] ttmarek commented on #2489
@thymikee I can give this a shot if no one else will. I'd like to contribute more to the Jest ecosystem...and this seems like a small enough issue to start off with. I might even have some time this weekend. Any tips on where to start are welcome :slightly_smiling_face:

[2017-02-10 05:45] shallwefootball opened #2855 "Did not reset mock function. mockFn.mockReset"
https://repl.it/Feas/8

i want reset function from mock function to origin function.

why did this?
Did I have something wrong?

[2017-02-10 07:18] Matzielab commented on #2850
@cpojer Oh sorry forgot to tell, it was v18.1.0

[2017-02-10 07:18] verekia commented on #770
I was having a similar issue when I realized I had an `ignore` field in my Babel config to avoid building `**/*.test.js` files. Turns out it also prevents `babel-jest` from doing its job on these files, which is why it seemed like it was not working at all.

[2017-02-10 07:49] thymikee commented on #2853
Yes. This is just to let you know, that there's a change in snapshot formatting, which you should just update, because it breaks your tests

[2017-02-10 07:55] thymikee commented on #2489
@ttmarek great! Of course you can take it.

For the Jest part you can start with looking at how to write a plugin for [pretty-format](https://github.com/facebook/jest/tree/master/packages/pretty-format) package and how to detect that the value passed to it is coming from Immutable library.
Then you'll need to update prettyFormat calls with `plugins` option in Jest codebase.

[2017-02-10 08:02] thymikee commented on #2855
`mockReset()` will wipe out all data from that mock (the naming is a bit confusing). In Jest 19 (next week probably) there will be `mockClear()` available which will work the way you expect.
Related PR: https://github.com/facebook/jest/pull/2771

[2017-02-10 08:02] #2855 closed

[2017-02-10 08:04] mthmulders opened #2856 "Simple project with Jest fails on Node 4 and 5"
**Do you want to request a *feature* or report a *bug*?**
I would like to report a bug.

**What is the current behavior?**
Jest seems not to work with Node 4 or 5.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**
I have a very [s

[2017-02-10 08:10] thymikee commented on #2856
Node 4 and 5 doesn't support destructuring well. You should either transform it with `transform-es2015-destructuring` or just don't use it

[2017-02-10 08:10] #2856 closed

[2017-02-10 08:11] thymikee commented on #2856
http://node.green/#destructuring--declarations

[2017-02-10 09:29] mthmulders commented on #2856
Thanks for explaining!

[2017-02-10 12:49] SimenB commented on #2587
I'd like to look into this, but I'm unsure where to start.

It looks like the environment is bootstrapped before tests are ready (which is fine for the default, I suppose) here: https://github.com/facebook/jest/blob/7ca7dac05797a6ba2beac4e423504be6ea858c44/packages/jest-runtime/src/cli/index.js#L79-L90

But where would I hook in to check for a `@testEnvironment` and then potentially create a new e

[2017-02-10 13:10] kurumkan commented on #242
@richard-flosi  please provide a short example

[2017-02-10 13:28] cpojer commented on #2587
@SimenB it's right here: https://github.com/cpojer/jest/blob/master/packages/jest-cli/src/runTest.js#L32 you have the path to the test file and this is where the env is created.

[2017-02-10 16:56] richard-flosi commented on #242
@kurumkan I think @dangerbell example looks right.

So, just make sure the second argument, the object, contains all the data that your `onChange` handler needs.

[2017-02-10 17:39] anilreddykatta commented on #2853
@thymikee Thanks 👍

[2017-02-10 18:16] kentaromiura commented on #2853
can we add something like
[code]
Instead of a comment? (as it's easier to get it for checks later)

[2017-02-10 18:20] thymikee commented on #2853
What about naming collision, when someone names the snapshot the same way?

[2017-02-10 18:29] cpojer commented on #2853
I think a comment is way more correct for this use case.

________________________________
From: Michał Pierzchała <notifications@github.com>
Sent: Friday, February 10, 2017 6:20:32 PM
To: facebook/jest
Cc: Christoph Pojer; Mention
Subject: Re: [facebook/jest] Jest Snapshot Version Header (#2853)

What about naming collision, when someone names the snapshot the same way?

—
You are receiving this

[2017-02-10 23:34] #2829 closed

[2017-02-10 23:34] #2839 closed

[2017-02-10 23:49] SimenB commented on #2587
PR opened #2859

[2017-02-10 23:57] tracker1 commented on #1003
Assuming the internal name of the function is `getSearchRoute` ...

    actions. __RewireAPI__.__Rewire__('getSearchRoute', yourmock)
    ...
    actions.__RewireAPI__.__RestoreDependency__('getSearchRoute')

[2017-02-11 08:45] ljharb commented on #926
This caught me too. Can you change it to only push the website on a release?

[2017-02-11 09:00] ljharb opened #2860 "How can I specify `coverageDirectory` on the command line?"
For reasons that aren't relevant here, I need to run two separate jest processes. I'd like each one to output its coverage in a different directory. How can I specify `coverageDirectory` for each separate run?

[2017-02-11 09:01] ljharb opened #2861 "coverage.raw.json?"
istanbul produces a `coverage.raw.json` file, which is useful for regenerating different reports after the fact, or merging coverage reports from multiple runs (say, the same tests but on multiple node versions, where different feature checking branches apply). I use https://www.npmjs.com/package/istanbul-merge to merge those raw coverage files into a single report.

Can jest produce `coverage.raw

[2017-02-11 09:29] rubenmoya commented on #2822
I cannot reproduce it with:

- Jest: 18.1.0
- Node: 6.2.0
- Yarn: 0.16.1
- OS: macOS Sierra

[2017-02-11 09:58] ljharb commented on #2418
I use https://www.npmjs.com/package/istanbul-merge to merge istanbul reports - with that and #2861, it should be trivial.

[2017-02-11 10:16] lewis617 commented on #2844
I uninstall watchman and install it again, the problem is solved.

[2017-02-11 13:32] cpojer commented on #2861
I don't know. Do you want to find out and send a PR if it doesn't?

[2017-02-11 13:32] cpojer commented on #2860
You can't really, you'd have to use `--config=JSONstring` to make that work. You can send a PR to expose this to the CLI.

[2017-02-11 13:34] cpojer commented on #2822
This works for me also on mac os. It may be an odd ubuntu thing, @avaly do you mind investigating further?

[2017-02-11 13:44] kentaromiura commented on #2822
works for me on slackware64 14.2 tried with both node 6.9.4,  and 7.5.0 :-/

[2017-02-11 13:53] #2822 closed

[2017-02-11 15:57] pedrottimark opened #2862 "Omit difference in failure message when expected value is asymmetric matcher?"
**Do you want to request a *feature* or report a *bug*?**

Recommend an improvement to a brilliant new feature in Jest 19.

**What is the current behavior?**

It seems like saying less communicates more. The **Differences** section is either:

* misleading in the first example below
* redundant in the second example

## received value is not an object

For example, `stringContaining` see http://fa

[2017-02-11 16:34] avaly commented on #2822
I'll look into this when I get some free time.

[2017-02-11 16:57] thymikee commented on #2853
Maybe for first version we should not throw an error? We could just save the information about the version 1 in Jest 19 and error on future changes, what do you think?

[2017-02-11 17:14] ljharb commented on #2861
Can you point to how jest uses istanbul? I'll compare the configuration settings I normally use to what jest does.

[2017-02-11 17:14] ljharb commented on #2860
Is there a policy reason that every single config option isn't also exposed to the CLI independently?

If not, could all new config options be required to also add themselves to the CLI?

I'll look into sending a PR for this.

[2017-02-11 17:16] NikhilVerma commented on #1652
@iammerrick  @trodrigues @trxcllnt @snapwich Please try this npm module [jest-environment-node-debug-fixed](https://www.npmjs.com/package/jest-environment-node-debug-fixed)

I've made some changes which has fixed node debugging for me using Node v7 and Jest 18.

Also the way I use it by adding ```"testEnvironment": "jest-environment-node-debug-fixed"``` in my Jest config.

Just FYI I used [devtool

[2017-02-11 17:25] pekala commented on #2157
Ran into a similar problem, and described it here: https://github.com/pekala/test-problem-example

In short: I'm trying to assert on sequence of actions dispatched to the Redux store as a result of user interaction (simulated using enzyme). The actions as dispatched sync and async using Promises (mocked to resolve immidiately). There seems to be no way to assert after the Promise chain is exhaused

[2017-02-11 17:41] shinzui commented on #862
Could we reopen this now that Jest is popular? I would love to consolidate on using jest for testing node apps, but this is a major blocker. The current hacks of using `jasmine-reporters` should not be the solution for an important task of a test framework.

[2017-02-11 17:42] cpojer commented on #2853
It should definitely throw an error in the first version. If Jest doesn't detect this header, throw -> it means you are pre Jest 19 and the snapshot must be updated.

[2017-02-11 17:43] cpojer commented on #2861
cc @dmitriiabramov wrote all of the coverage support, he may be able to help you out.

[2017-02-11 17:45] cpojer commented on #2860
No policy, just tragic technical debt from almost six years of development. I'm open to any and all changes here; we can also still make breaking changes before Jest 19 goes out.

[2017-02-11 17:46] cpojer commented on #2862
cc @thymikee he is the expert on this :)

[2017-02-11 17:56] shinzui opened #2863 "Jest on CircleCI"
It's currently impossible to run jest on circleci and get test metadata. I've tried the hack mentioned in #104, but I only get a report for one test suite. It looks like others are having the [same problem](https://github.com/larrymyers/jasmine-reporters/issues/149). Is Jest planning to support pluggable reporters in the near future?

[2017-02-11 17:58] cpojer commented on #2863
You can use `testResultsProcessor` for this and output data in the way you want. Alternatively you can run `jest --json` and further process the data.

[2017-02-11 17:58] #2863 closed

[2017-02-11 18:01] ljharb opened #2864 "New clone, `npm install` fails"
When I clone the repo, and run `npm install` (which failed for me right off the bat because I didn't have yarn installed, so, after I installed yarn), it fails with `error No registered module found called "eslint-plugin-jest".`. Manually running `npm install eslint-plugin-jest` doesn't change anything such that `npm install` or `npm test` succeeds. `yarn install` fails with the same error as `npm

[2017-02-11 18:20] ljharb commented on #2860
Great! I'm blocked on making the PR by #2864, but it looks like it'll be a trivial one once I get going.

[2017-02-11 18:41] shinzui commented on #2863
Thanks. I just found [jest-junit-reporter](https://github.com/michaelleeallen/jest-junit-reporter) which should solve my problem.

[2017-02-11 19:30] pekala commented on #2157
As a follow-up: I tried replacing `setTimeout(..., 0)` with `setImmediate` and this seems to both run the assertions after Promise callback microtask queue is exhausted and prevents Jest from timing out on assertion errors. So, this works ok, and is an acceptable solution for my usecase:
[code]

[2017-02-11 20:02] jwbay commented on #2157
A helper function can turn that into a promise itself so you don't need to deal with the done callback. It's small enough it's pretty harmless to keep in userland, but I wouldn't complain if it was put on the jest object. Something like this gets used a lot in my projects.

[code]

With async await it's almost pretty:

[code]

[2017-02-11 20:17] pekala commented on #2157
@jwbay that's some nice sugar right there 🍠!

It's true this this `flushPromises` turns out to be a one-liner, but it's not at all obvious how to get to that one line. So I think it would be a benefit for Jest users to have it available as a util function.

[2017-02-11 22:13] thymikee commented on #2864
Which node version and OS? IT works on Travis for latest build and locally on mac.
Try running `npm run clean-all` and run `npm install again`. Make sure you're on Node >4

[2017-02-11 22:22] thymikee commented on #2862
@pedrottimark it should have both, but e.g. for `pretty-format` plugin we depend on `$$typeof`, so I'd like you to go with that.

I think the main problem with displaying diff here is that we can't sort (or can we as special a case?) arrays just like we do with objects. Maybe we can think of better representation of diff for asymmetric matchers? I kinda like the diff for objects, where it actually

[2017-02-11 22:58] ljharb commented on #2864
I'm on node 7.5, on Mac OS 10.11. I'm using `nvm` just like travis-ci is. A fresh clone, yarn and hg pre-installed, `npm install && npm test` in the top level directory of the repo - this passes for you?

[2017-02-11 22:59] thymikee commented on #2864
same setup, but on 10.12

[2017-02-11 23:11] thymikee commented on #2864
So I've actually installed a fresh clone right now and `npm install` passes, `npm run jest` too, but it fails Flow with this error:

[code]

[2017-02-11 23:20] avaly commented on #2822
It wasn't the OS at fault. It was an edge case, since I had this setup in a folder like `/home/foo/dev/tmp/jest` and this triggered the ignore pattern due to the `cacheDirectory` pattern not being properly prefixed.

[2017-02-11 23:27] thymikee commented on #2864
Which is caused by `yarn link eslint-plugin-jest` resolving to already exisiting link – I'm not sure if this is expected behaviour. cc: @cpojer
`npm link eslint-plugin-jest` fixes this, so we're probably having problems with linking...
Otherwise it works for me.

[2017-02-12 02:37] ljharb commented on #2864
When I run `yarn link eslint-plugin-jest` and/or `npm link eslint-plugin-jest`, I still get the "Environment key "jest/globals" is unknown" error.

[2017-02-12 06:10] JoshCheek opened #2867 "Bug: --bail flag does not bail"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

The `--bail` flag does not stop running tests after the first failure.

**Steps to reproduce**

[code]

**What is the expected behavior?**

Exit the test suite immediately upon the first failing test,  the one named "2: fail".

**What is the actual behaviour?**

It runs the full test suite.

[2017-02-12 18:33] probablyup opened #2870 "Further visual diffing improvements"
I came across this today and thought the concept might work well for Jest:
https://github.com/so-fancy/diff-so-fancy

Specifically, highlighting the inner portions of the line that changed.

[2017-02-12 20:00] krzysztofp commented on #2806
Ok - in my case removing node_modules and installing from scratch helped.

[2017-02-13 03:39] masters3d commented on #2123
I have having the same issue but with typescript. This issue was fixed on jasmine by using intanceof.
https://github.com/jasmine/jasmine/issues/819
https://github.com/jasmine/jasmine/commit/ff029b37b5b2fb95c6f2252713b14586f86786cb

Is this applicable in this case?

[2017-02-13 03:58] masters3d commented on #2123
I think this is the related code
https://github.com/facebook/jest/blob/master/packages/jest-matchers/src/toThrowMatchers.js#L37

[2017-02-13 08:55] cpojer commented on #2867
`--bail` in Jest works across test suites, not individual tests. If you'd like to focus on a specific test that you are fixing, use `-t` or `fit`/`it.only`.

[2017-02-13 08:55] #2867 closed

[2017-02-13 10:56] lucasfeliciano commented on #1650
👀
Following this to work on it in a short future

[2017-02-13 11:54] cpojer commented on #1650
Actually at this point I don't really think I want to support this feature. It adds unnecessary complexity and gives almost no value.

[2017-02-13 13:06] mmazzarolo commented on #2835
@thymikee @cpojer
Hello there, I'm not sure if I should create a new issue of if this is an expected behaviour but I had an issue similar to op's one.
With the following .babelrc jest doesn't work correctly (it doesn't use babel at all: `SyntaxError: Unexpected token import`):
[code]

Removing `{ "modules": false }` from the `es2015` preset **makes it work correctly** though.
Is this a known thing

[2017-02-13 13:23] Zephir77167 commented on #2835
Hi, you have to specify a test environment in your .babelrc, following the docs: https://facebook.github.io/jest/docs/webpack.html#using-with-webpack-2

That should do the trick for you!

[2017-02-13 13:27] mmazzarolo commented on #2835
Ha!
Thanks @Zephir77167, it did the trick :)

[2017-02-13 13:57] gourav-singhal opened #2873 "Mock Dimensions module to return defined width and height"
How can I mock the Dimensions React native Component in a Jest Test case so that I can pass my test cases some custom width and heights to cover all the branches ?

[2017-02-13 14:02] gourav-singhal opened #2874 "Warnings while running test cases on Circle CI."
I am getting this warning when I run my Jest test cases through Circle CI.

console.error node_modules/react-native/Libraries/Core/ExceptionsManager.js:71
      Warning: Failed prop type: Invalid prop `fontWeight` of value `function () { [native code] }` supplied to `Text`, expected one of ["normal","bold","100","200","300","400","500","600","700","800","900"].
      Bad object: {}
          in Te

[2017-02-13 14:06] thymikee commented on #2874
I wonder if it happens anywhere else?
But you do following:
1) remove warnings from your codebase
2) mock `console.warn`

[2017-02-13 15:31] cpojer commented on #2873
This is not a help forum. Please ask on Stackoverflow!

[2017-02-13 15:31] #2873 closed

[2017-02-13 15:34] cpojer commented on #2873
You can probably do something like:

[code]

[2017-02-13 15:53] pedrottimark commented on #2862
For this issue, let’s omit the difference message **only** when it adds no information:

That is, **except** for `arrayContaining` or `objectContaining`. If you agree, I will submit PR.

Here’s a starting point for future improvements. Notation adapted from pass/fail for tests.

[code]

* For `arrayContaining` above, every element does or doesn’t match.
* For `objectContaining` below, `"z": 3,` ha

[2017-02-13 15:59] thymikee commented on #2862
Maybe we could improve this by only showing parts that didn't match? I'm not sure how hard will it to get to implement though.

[2017-02-13 16:21] pedrottimark commented on #2862
Haha, now I’m ignoring implementation to brainstorm what info we need to understand what failed.

You let your imagination work on that and I will too, and then we can open a separate issue.

Now looking for questions to ask how to decide (and add tests for) simple case to omit differences.

[2017-02-13 18:05] dmitriiabramov commented on #2861
hey @ljharb!
i actually think it's possible to do it with the regular `.json` report that istanbul produces in Jest, we merge some of our coverage in Jest already. I'm not sure what `.raw.json` is, but here's how we report our coverage https://github.com/facebook/jest/blob/master/packages/jest-cli/src/reporters/CoverageReporter.js#L72-L73

[2017-02-13 21:08] rgbkrk commented on #2098
Is there a way to do this that relies on a module directly rather than a local file? I want to use a common configuration for document that has `document.createRange` and some others defined, across a many-component lerna monorepo.

[2017-02-13 21:19] rgbkrk commented on #2098
Found out that `setupFiles` can take a module name. In our monorepo, I set our configuration up as:

[code]

and it loaded that new lerna package properly. 💯

[2017-02-13 22:52] obukspan commented on #1893
@thymikee any idea when this will be released? Also hitting issues with memory leaks on circleci and the setImmediate change appears to do the trick. Thanks for tracking it down!

[2017-02-13 23:26] chrisbujok commented on #2870
👍, but I think it should be available as an option in the config, some users still may want to use standard patch format, e.g. in CI.

[2017-02-13 23:41] #2860 closed

[2017-02-14 06:47] supasate commented on #281
I have the same issue with `require.extensions`. I tried with the same approach with @kentcdodds. My test file is transformed, however, the module that my test file depending on (in `node_modules`) is not transformed and that module uses `require.extensions`.

Is there any method to transform the code in `node_modules`? or did I do something wrong?

The followings are my config and preprocessor fi

[2017-02-14 07:00] thymikee commented on #281
@supasate you can make use of [`transformIgnorePatterns`](http://facebook.github.io/jest/docs/configuration.html#transformignorepatterns-array-string). And another example from RN tutorial: http://facebook.github.io/jest/docs/tutorial-react-native.html#transformignorepatterns-customization

[2017-02-14 07:49] thymikee commented on #1893
It will land in Jest 19. We plan to release it in a week.

[2017-02-14 07:52] supasate commented on #281
It works! My bad that I overlooked that option.
Thank you @thymikee!

[2017-02-14 10:28] chrisbujok commented on #2801
It's interesting, because if we change your example to:
[code]
it produces logs in correct order:
[code]

[2017-02-14 11:30] thymikee commented on #2853
BTW, I'll be working on this tomorrow, but if anyone has time to deal with it today, don't hesitate!

[2017-02-14 13:50] #2862 closed

[2017-02-14 14:11] cpojer commented on #2600
I think we are good for Jest 19.

[2017-02-14 14:11] #2600 closed

[2017-02-14 14:12] #2272 closed

[2017-02-14 14:12] #2273 closed

[2017-02-14 14:12] #2274 closed

[2017-02-14 14:12] #2278 closed

[2017-02-14 14:12] #2280 closed

[2017-02-14 14:12] #2365 closed

[2017-02-14 14:13] #2393 closed

[2017-02-14 14:13] #2374 closed

[2017-02-14 14:14] cpojer commented on #2864
works for me :O :(

[2017-02-14 14:14] #2601 closed

[2017-02-14 14:14] cpojer opened #2881 "Jest 19 blog post"
I'll share a link.

[2017-02-14 15:04] thymikee commented on #2801
Console logs are buffered and released at the end of test suite, so this can happen. You should use it like @chrisbujok pointed, as setImmediate is async.

[2017-02-14 15:04] #2801 closed

[2017-02-14 16:43] ljharb commented on #2864
@cpojer what Mac OS and node version are you using? How did you install node?

[2017-02-14 16:54] cpojer commented on #2864
latest mac os, latest node, through brew.

[2017-02-14 17:11] ljharb commented on #2864
@thymikee how did you install node?

[2017-02-14 17:16] pedrottimark commented on #2847
Indeed, confirmed with `jest --debug` that `"watchman": true` with config above in Jest 18.1.0 and current pre-19 dev build. Can you confirm that `jest --no-watchman` has the correct effect?

[2017-02-14 17:53] lamartire opened #2883 "Access to test object with arrow functions"
When I use `jest` with common functions, I have access to test object in this.

[code]

When I use arrow functuions this means global context.

Is there solution to have access test object with arrows?

I have not find something about this in docs.

[2017-02-14 18:21] glenjamin commented on #2847
Yep, `--no-watchman` works fine

[2017-02-14 18:56] ai commented on #2883
@cpojer I need it in my new post-PostCSS open source [project](https://github.com/logux/logux-server) to stop server run in every test.

[code]

Do I understand correctly that all tests in one file run in parallel?

[2017-02-14 19:04] pedrottimark commented on #2823
Aha, I misunderstood the same way, and even **why** a 10 element roll of dice with a 7 failed :(

Jasmine docs describe it as a subset match, therefore similar to `objectContaining`

https://jasmine.github.io/edge/introduction#section-Partial_Array_Matching_with_%3Ccode%3Ejasmine.arrayContaining%3C/code%3E

[2017-02-14 19:12] pedrottimark commented on #2823
Uh oh, related doc problem claims **only** but really matches **at least one** cool name

http://facebook.github.io/jest/docs/expect.html#expectstringmatchingregexp

[2017-02-14 19:48] AgentME commented on #2801
When writing and testing asynchronous code, it's often the case that some asynchronous actions continue after the test ends because of a bug that I'm writing the test in the first place to try to identify so I can fix it :/ The out-of-order logs make it hard to realize the nature of the problem in the first place.

[2017-02-14 19:58] AgentME commented on #1652
When I use jest-environment-node-debug, the jsdom document emulation doesn't seem to be in place. Is there any way to change that?

Between this issue and https://github.com/facebook/jest/issues/2801 causing even usually fail-proof printf-style-debugging to come out incomprehensibly in some cases, I'm finding debugging to be extremely difficult.

[2017-02-14 20:37] MattFoley commented on #700
I'm seeing this now, but it's just failing to find the native modules during testing. If I change my classes to not use destructuring, everything is mocked just fine.

This fails:

[code]

This works:
[code]

[2017-02-14 21:10] thymikee commented on #2864
This means `nvm` just like you did, version 7.5

[2017-02-14 21:14] thymikee commented on #2801
When writing tests asynchronously, you either use `done` callback or return a Promise.
Or you can mock timers and call `jets.runAllTimers` if that's suitable.

[2017-02-14 22:10] AgentME commented on #2801
If the test has an error before the asynchronous code runs, then you can still run into the issue even if the test is otherwise written as it ought to be.

[code]

[2017-02-15 03:15] JoshCheek commented on #2867
That's not my use case, I need it to exit the test suite immediately upon the first failing test. This is what Mocha's `--bail` does (presumably where Jest got it from), it's what RSpec's `--fail-fast` does (presumably where Mocha got it from).

Seems like Jest should either change the behaviour to match the docs or change the docs to match the behaviour. My experiences lead me to advocate the for

[2017-02-15 04:30] zouxuoz commented on #2883
@lamartire  @ai How I know, Jest executes the specs in declared order for each test file and may parallel running for different files.

For solution you problem, if I'm understood correctly, you can use something like
[code]
[Here](https://github.com/zouxuoz/jest-issue-2883) to you can find full example.

If you want create server in each test you can change it something like
[code]

[2017-02-15 04:44] yusinto commented on #1767
@gaearon installing watchman resolved the issue for me. Thanks!

[2017-02-15 07:24] ro-savage commented on #1767
I decided to research this, as I didn't want to make people install watchman.

The error seems to be thrown by [walker](https://github.com/daaku/nodejs-walker) when it searches too many files/directories using [fs.lstat](https://github.com/daaku/nodejs-walker/blob/master/lib/walker.js#L50). You can pass a predicate function that will ignore certain folders. (Ignoring node_modules solves the issue.

[2017-02-15 09:05] #2823 closed

[2017-02-15 09:26] cpojer commented on #1767
@ro-savage thank you so much for doing this investigation. Would you be open to make a change to `sane`? I'm also happy to switch off of sane if you'd like to write a file-watching system directly within this repo, but that is probably a bigger challenge.

[2017-02-15 09:31] cpojer commented on #2883
I recommend using regular functions for now. We don't expose state currently but we should consider this in the future for a testing library rewrite.

[2017-02-15 09:31] #2883 closed

[2017-02-15 09:32] cpojer commented on #2867
Please feel free to change Jest/our fork of Jasmine to implement this feature but this is never how bail worked for Jest. I'd be open to merge a PR if you'd like to change behavior here.

[2017-02-15 10:09] khirakawa commented on #1638
@cpojer I ran into this issue today.  Here's the `package.json` that I have.

[code]

The problem started to happen after I did a clean install of my `node_modules` today using `npm cache clean && npm i`.  Before the clean install, I did not see this issue.  My guess is that there's a dependency somewhere that is causing this issue.  Any ideas which package that might be?

[2017-02-15 10:52] ro-savage commented on #1767
@cpojer - Already in the works. Once the changes to `sane` have been merged and released, I'll make a PR for jest.

[2017-02-15 11:08] cpojer commented on #1767
That's awesome. Looking forward to it.

[2017-02-15 11:33] segrey opened #2889 "Allow passing multiple setupTestFrameworkScriptFile"
Feature request

As of jest@18.1.0, only a single `--setupTestFrameworkScriptFile` cli option is allowed.

Tools like IDE could add `--setupTestFrameworkScriptFile` option automatically to be able to integrate with Jest (e.g. show test result tree). Unfortunately, that overwrites `setupTestFrameworkScriptFile` from config.

It'd be great if `setupTestFrameworkScriptFile` option would accept multip

[2017-02-15 11:44] cpojer commented on #2889
We won't be adding this feature. Eventually we are hoping to merge `setupFiles` and `setupTestFrameworkScriptFile` into a single config. `setupFiles` already accepts an array; the only difference is that it runs *before* jasmine and expect are loaded.

[2017-02-15 11:44] #2889 closed

[2017-02-15 12:12] segrey commented on #2889
@cpojer Thanks for looking into this. If after merging there would be a way to add a file path that runs after jasmine is loaded, that would be great. BTW, is it possible to use `setupFiles` somehow (now) and to be able to hook on jasmine loading to add a reporter?

[2017-02-15 12:32] gaearon commented on #1767
Something to keep in mind: it would be nice if we ignored specifically the root `node_modules` rather than `/node_modules/` generally. See https://github.com/facebook/jest/pull/2796 and https://github.com/facebook/jest/pull/2318 for some context for why I’d like `src/node_modules` to still be working.

Also,

sounds more like a workaround than a solution. I would like to better understand this. Ye

[2017-02-15 13:27] cpojer commented on #2889
you can always use ENV variables to decide what to load in your `setupTestFrameworkScriptFile`:

[code]

[2017-02-15 13:40] segrey commented on #2889
You mean that overwritten `config.setupTestFrameworkScriptFile` path can be required in my `--setupTestFrameworkScriptFile`? Actually, good idea, thanks! Is plain `require` enough, or need to use something from `require('jest-runtime')`?

[2017-02-15 13:49] cpojer commented on #2889
Those files are run within the context of a test, so you can require anything you want normally.

[2017-02-15 14:12] segrey opened #2891 "Expose "testPath" for "setup*File""
Feature request

**What is the current behavior?**

Currently, `testPath` is passed to JasmineReporter (https://github.com/facebook/jest/blob/v18.1.0/packages/jest-jasmine2/src/index.js#L37). However, it's quite tricky/unsafe to access it in `setupFile`/`setupTestFrameworkScriptFile` (to use in custom reporters for example):
[code]

It'd be great if `testPath` would be exposed in more standard way

[2017-02-15 15:44] apolishch opened #2892 "Branch coverage seems incorrect?"
Say I have the following reducer:

    import FOO from '../const/Foo'

    const myReducer = (initialState = {foo: ''}, action) => {
      const state = {}
      if (action) {
        switch (action.type) {
          case FOO:
            state.foo = action.foo
        };
      }
      return Object.assign({}, initialState, state)
    }

and I test using jest with:

    import FOO from '../const/F

[2017-02-15 16:18] khirakawa commented on #1638
Hmm, I was able to fix the issue by running `jest --no-cache`

[2017-02-15 16:53] ForbesLindesay opened #2893 "Provide more context on infinite recursion in jest.runAllTimers"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

If you have an infinite loop of timers and run `jest.runAllTimers()`, you get the following error:

[code]

This doesn't really give me any context as to **where** these timers are.  It's fine if the mistake was running `jest.runAllTimers()` but not if the mistake was having an infinite loop of t

[2017-02-15 18:23] NikhilVerma commented on #1652
@AgentME  What do you mean by doesn't seem to be in place? Can you give me an example.

[2017-02-15 19:06] yaycmyk opened #2895 "How to mock namespaced modules?"
I might be doing something wrong, but say I wanted to manually mock an NPM module named `@foo/bar`. I'm trying to figure out how to represent that in a `__mocks__/*.js` filename.

Would it be this?:

[code]

If so, it doesn't seem like Jest is resolving the nested dir structure.

[2017-02-15 19:06] cpojer commented on #2895
This should work in Jest 19.

[2017-02-15 19:06] #2895 closed

[2017-02-15 19:12] AgentME commented on #1652
@NikhilVerma The global variables document, window, etc are missing when jest-environment-node-debug is used.

[code]

[2017-02-15 19:18] pixelsonly commented on #2219
Another Mac OS user that got bit by this issue, uninstalling `watchman` allows Jest to run tests.

[2017-02-15 19:22] ArmorDarks commented on #367
@buddyp450 Did you come up with your own solution?

[2017-02-15 19:58] buddyp450 commented on #367
@ArmorDarks no, sorry. This was from a short foray into evaluating jest that I took a while back ago. My tests currently do not use jest.

[2017-02-15 20:31] thymikee commented on #2893
I like the idea. Would you be willing to send a PR with the implementation?

[2017-02-15 20:37] ArmorDarks commented on #367
@buddyp450 Thanks for reply!

You mean, it's easier to use JSPM/SystemJS with other test runners? I thought that issue with deps resolution will be relatively same everywhere....

[2017-02-15 20:38] thymikee commented on #2127
Closing due to inactivity.

[2017-02-15 20:38] #2127 closed

[2017-02-15 20:39] thymikee commented on #2134
Closed via https://github.com/facebook/jest/pull/2771

[2017-02-15 20:39] #2134 closed

[2017-02-15 20:42] MoOx commented on #2127
Sorry to not getting back to you, but again, I don't expect a rule defining "react-native" to affect a line importing a file from "react-native-web" explicitly (see **What is the expected behavior?**).

[2017-02-15 20:45] ArmorDarks commented on #2203
One more fella from JSPM users camp here. Would be great to see this implemented!

[2017-02-15 20:52] thymikee commented on #2156
@yanivefraim looks like this was added in node-resolve v1.2.0: https://github.com/substack/node-resolve/commit/c2cbdddcc2aa1c427ccd8a7c1784c745093f836f

So I'll close this issue, because `_http_server` should be supported now.
If we want to move `resolve` into `jest-resolve` lets discuss this in a separate issue/PR.

[2017-02-15 20:52] #2156 closed

[2017-02-15 20:56] yoavniran commented on #367
hi @ArmorDarks ,
If youre a System JS user I created [gulp-jest-jspm](https://www.npmjs.com/package/gulp-jest-jspm) to work around the dependency issues so you can use Jest easily.

[2017-02-15 20:59] thymikee commented on #2151
This is already possible and used in the wild thanks to [`snapshotSerializers`](http://facebook.github.io/jest/docs/configuration.html#snapshotserializers-array-string) config option.

Some examples:
* https://github.com/rogeliog/jest-serializer-enzyme
* https://github.com/ruyadorno/jest-serializer-html-string

Not to mention you can write your own :)

[2017-02-15 20:59] #2151 closed

[2017-02-15 21:11] ro-savage commented on #1767
First comment wasn't quiet clear.

The root issue isn't actually an issue with `walker` that works fine.
The issue is MacOS Serria + Node, how it executes fs.watch. As discussed here nodejs/node-v0.x-archive#5463
I didn't dive too deep into that, but looks like it was never fixed or possibly isn't a node issue.

Instead the fix allows `walker `to crawl all the directories (which is fast + works fi

[2017-02-15 21:11] #2222 closed

[2017-02-15 21:25] ArmorDarks commented on #367
@yoavniran Hi! We've seen your plugin, of course, thanks for it. We're still looking into it as possible solution, but since it doesn't fit in our current pipeline well, we really hope that https://github.com/facebook/jest/pull/2445 will be merged soon and it will provide more practical way.

Though, it will still require additional function, which will "transpile" SystemJS mappings to understanda

[2017-02-15 21:50] thymikee commented on #2652
@dinukadesilva any updates?

[2017-02-15 21:56] thymikee commented on #2850
@Matzielab would you mind providing a repro or a PR with failing test?

[2017-02-15 22:10] abdulhannanali commented on #2714
@thymikee Can I find some reliable blog posts from people using Jest with these frameworks and add them here. Afterwards, I can also make a PR for these tutorial links

[2017-02-15 22:11] thymikee commented on #2714
@abdulhannanali you're more than welcome!

[2017-02-16 01:25] mherodev opened #2898 "Expected way to perform spyOn behavior?"
This is related to ticket around integrating `expect` into `jest`, here: https://github.com/facebook/jest/issues/1679

My concern is, in the mean time, what is the preferred way to perform the following test within Jest?

[code]

Should we use the undocumented Jasmine support, i.e. the global `spyOn`, or is there a way to cajole Jest into doing something similar without digging into something that

[2017-02-16 03:01] guoxiangwen opened #2900 "TypeError: Cannot read property 'uniqueSort' of undefined"
hello,i have done all steps as which the documents said, But when i npm run test, the console log is:
![image](https://cloud.githubusercontent.com/assets/7627191/23005387/37df6a38-f437-11e6-99b7-0f24f7e3cf42.png)

Could you help me?

[2017-02-16 03:50] bartlewis commented on #2898
Below is some actual code that may shed a little more light on this question. This is how I got around this issue, by using the globally available `spyOn` from Jasmine. This _appears_ to work just fine with Jest's version of `expect`.

Assuming it is not safe/recommended to use `jasmine.spyOn` with `expect`, how should I test the below scenarios directly with Jest? Keep in mind that I need to over

[2017-02-16 07:15] thymikee commented on #2900
This image alone is not very informative. Please add more info on how to reproduce it and ask this on [Stack Overflow](https://stackoverflow.com/unanswered/tagged/jestjs) as this is not a help forum.
Good luck!

[2017-02-16 07:15] #2900 closed

[2017-02-16 07:18] thymikee commented on #2898
`jest.spyOn` will land in the next release: https://github.com/facebook/jest/pull/2413

[2017-02-16 07:18] #2898 closed

[2017-02-16 07:30] guigrpa opened #2901 "Docs not aligned to latest release [edit: made more general]"
**What is the current behavior?**

Docs seem to be incoherent with respect to the latest stable implementation: for example, they include `clearAllMocks()` and the `clearMocks` configuration option, but the current release (v0.18.1) does not support them. I'm aware of the ongoing effort to re-establish them, but the docs should be aligned. As a reference, this is quite confusing.

**What is the ex

[2017-02-16 07:52] guigrpa commented on #2901
Apparently the docs reflect the most recent PRs, even if unreleased (e.g. #2771).

[2017-02-16 07:55] cpojer commented on #2901
We are trying to add information where we can. We added "Available from Jest 19" or something to other options (like testMatch). Please feel free to send a PR to add this to clearAllMocks.

[2017-02-16 07:55] #2901 closed

[2017-02-16 08:07] yoavniran commented on #367
@ArmorDarks
cool, so actually the logic to get the mapping for Jest is available as a separate [function ](https://github.com/yoavniran/gulp-jest-jspm#option-2---continue-using-gulp-jest) in the same package which you can use today outside of gulp.

My original thinking was to separate the logic to its own package but due to time constraints I didnt get to it and was waiting for the need to arise.

[2017-02-16 09:34] phoenix-yassin commented on #2417
npm install -g jest-cli
jest test.js
then event 'load' can work

[2017-02-16 12:52] Shahor opened #2905 "Tests fail on `this` affectation in beforeAll"
**Do you want to request a *feature* or report a *bug*?**

Bug report

**What is the current behavior?**

When modifying the `this` passed to `beforeAll`, everything fails silently (as you can do with `beforeEach` for instance).
Repl.it link to reproduce : https://repl.it/FmAD/8

It behaves as if it was an empty test-suite : https://repl.it/FmAD/11

**What is the expected behavior?**

You can eith

[2017-02-16 13:27] cpojer commented on #2905
Seems like we should throw a real error, we aren't really supporting this usage.

[2017-02-16 13:42] #2853 closed

[2017-02-16 14:47] Shahor commented on #2905
@cpojer If you can guide me on where I can implement this I will happily submit a PR

[2017-02-16 15:51] salvaC opened #2910 "React app warning: Warning: Unknown props `accessible`, `allowFontScaling`, `ellipsizeMode` on <Text> tag."
I would like to report a bug.

I am testing my React application using Jest and Enzyme. When I run my test from the console, the test passes but I got some undesired warning messages. Eg:

[code]

[code]

You can find a running example that reproduces this issue at this git hub repo:
https://github.com/salvaC/jest-enzyme-issue

I would expect that no warnings are log in the console.

My jest confi

[2017-02-16 20:37] hramos opened #2913 "[Website] Fix column layout in Help section"
This should be a three column layout:

![screen shot 2017-02-16 at 12 36 42 pm](https://cloud.githubusercontent.com/assets/165856/23040018/a2049eb2-f444-11e6-8bc4-adcfd004f01f.png)

I'm self-assigning this as I last updated this page.

[2017-02-16 21:06] benbriggs commented on #1652
@AgentME I think that's an expected consequence since `jest-environment-node-debug` is based on `jest-environment-node`, rather than `jest-environment-jsdom`, the default environment that provides `document` and other globals to emulate a browser environment.

[2017-02-16 22:52] asfktz commented on #1652
Wander about the same thing as @AgentME

[2017-02-16 22:52] rogeliog opened #2914 "Usage for test name pattern mode and filename pattern mode is different"
I know that this is minor, but I think we should make the experience feel the same in both.

<img width="447" alt="screen shot 2017-02-16 at 2 50 34 pm" src="https://cloud.githubusercontent.com/assets/574806/23044952/61530c42-f457-11e6-9957-6f2c97a57226.png">

<img width="429" alt="screen shot 2017-02-16 at 2 50 28 pm" src="https://cloud.githubusercontent.com/assets/574806/23044953/6169f916-f457-1

[2017-02-16 22:56] bartlewis commented on #2736
FYI - I was having this same issue until I added the following into my jest config `"testRegex": "platform/.*\\.test\\.js$"`

Once I added that, the debugging started working fine. Stopped on breakpoints in the non-transpiled code.

[2017-02-16 23:06] cpojer commented on #2914
I like aligning the two.
I like `Enter` too but then it also has to be `Esc`, no?

[2017-02-16 23:21] davidgilbertson commented on #2441
I've tried `18.1.0` and it seems even buggier. And I still see things like this:

![image](https://cloud.githubusercontent.com/assets/4443482/23045575/669615ee-f4f9-11e6-804f-ff6a67007d79.png)

I can't pick any particular pattern, but some things that have happened (I have a `console.warn('----------------')` in one of my components.)
- If I'm scrolled up a bit from the bottom when I run the tests

[2017-02-16 23:32] rogeliog commented on #2914
I think so hehe... I'll put a PR for this later today

[2017-02-16 23:39] rogeliog opened #2916 "Deprecation warnings are hard to read while in watch mode"
This happens because we read the config and show a deprecation warning, but then we show watch
mode right away. I wonder the best UX would be here

cc: @thymikee

![warning](https://cloud.githubusercontent.com/assets/574806/23046385/02218f8a-f45e-11e6-8efa-2c223e95d72d.gif)

[2017-02-16 23:42] thymikee commented on #2916
Yea, that's because whole screen is flushed in watch mode, right?
I can't think of better UX for this right now, but we must remember there can be multiple warnings.

[2017-02-16 23:45] thymikee commented on #2916
Maybe we could buffer console.logs/warns like we do for regular runs and display them below the "Watch Usage" after the test run, what do you think?

[2017-02-16 23:50] rogeliog commented on #2916
That sounds interesting, cc: @cpojer

[2017-02-17 09:20] gaelduplessix commented on #2329
Agree with @guicar, we use snapshots extensively to test `redux-sagas` and the named snapshots is a great feature for us. However, having the context is very important in our case. Example:

[code]

We have lots of tests files like this, that test multiple sagas exported from the same module. Currently, the snapshots file would contain `first thing 1`, `first thing 2`, ... And then `second thing 1

[2017-02-17 09:21] kkostov opened #2918 "babel-plugin-jest-hoist: The module factory of `jest.mock()` does not allow access to global types"
**Do you want to request a *feature* or report a *bug*?**

Bug/Feature

**What is the current behavior?**

When using jest.mock() to mock a module using a factory method, hoisting does not allow direct usage of global types.

For example, the following:

[code]

Results in this:

[code]

To work-around this, I would have to import Response like so:

[code]

I made a small [repository ](https://git

[2017-02-17 09:24] thymikee commented on #2918
This is not a bug, it's intended behaviour and it tells you exactly this. You can however require the module directly from a mock implementation.

[2017-02-17 09:31] cpojer commented on #2918
Exactly, you should use require within your mock implementation. Think of the function you pass to `jest.mock` as a separate module factory as if it were in a separate file.

[2017-02-17 09:31] #2918 closed

[2017-02-17 09:32] cpojer commented on #2916
How about if there is a deprecation warning, we don't flush on the first startup to watch mode?

[2017-02-17 09:33] #2914 closed

[2017-02-17 09:40] cpojer commented on #2329
@gaelduplessix thanks for editing your post to reflect what I was going to propose ;)

[2017-02-17 09:50] thymikee commented on #2916
@cpojer I like the idea.

[2017-02-17 10:28] kkostov commented on #2918
Indeed, this makes sense.

The reason why I felt like pointing the issue out is that in a stand-alone module/file I wouldn't normally require global types like `const Response = global.Response` but just use them directly `const foo = new Response(...)`. It felt strange that an explicit require is needed for the mock but I guess it makes sense to be a little more explicit when constructing a mock

[2017-02-17 10:32] jakubzitny opened #2920 "transformAndBuildScript fails on SyntaxError: Invalid or unexpected token"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Locally passing test suite is "randomly" failing on our (Linux, Gitlab) CI on `SyntaxError: Invalid or unexpected token`.

The output is always like this:

[code]

[code]
[code]

What is common in all of these cases is the private NPM scope `node_modules/@appscope/...` we are using for private NPM modu

[2017-02-17 11:59] siddharthkp opened #2922 "Flexible file structure for mocks"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Unlike tests (where there is a list of possible file structures), mock directory has to be named `__mocks__`.

**Suggestion:**
1. More flexible defaults: Similar to tests. `**/__mocks__/**/*.js`, `**/*.mock.js`
2. `mockMatch` configuration similar to `testMatch`

[2017-02-17 12:06] thymikee commented on #2922
There was (still present in 18.1) a config option to adjust `__mocks__` directory but it never really worked well and we decided to kill it, so from Jest 19 it will not be configurable at all.

But you can still nest `__mocks__` whatever you like.

[2017-02-17 12:06] #2922 closed

[2017-02-17 12:11] siddharthkp commented on #2922
Thanks for the heads up!

[2017-02-17 13:42] rseemann commented on #1683
[This is the comment](https://github.com/facebook/react/issues/7148#issuecomment-259525793) that presents how to do this from the thread posted by @cpojer

[2017-02-17 15:12] cpojer opened #2925 "Build a high-performance version of `resolve`"
In Jest, we use `jest-resolve` to resolve modules. However, it shells out to two other dependencies, `resolve` and `browser-resolve`. `resolve` hasn't been maintained as much as I'd like, we have a hacky workaround inside of `jest-resolve` and we actually have knowledge of the entire filesystem (minus directories) in "HasteFS" (currently not passed to jest-resolve but that can be changed as the pl

[2017-02-17 16:17] rogeliog commented on #2916
Me too

[2017-02-17 16:38] cardoe opened #2927 "code coverage summary and output file behave orthogonally"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

`jest --verbose --coverage` provides an output on stdout like:
[code]

But if you want to use the `--outputFile` option for the test output you must specify the `--json` option. When you use `--json` option this handy summary goes away. I tried to work around this by adding:
[code]
to `package.json`

[2017-02-17 16:39] Shahor opened #2928 "Doc on mock inconsistent with actual behavior"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

`__mocks__` are not loaded by default.

[code]

Edit the `__tests__/FileSummarizer-test.js` and comment line 5 (`jest.mock('fs')`).

[code]

And it fails.

**What is the expected behavior?**

The mock is loaded properly as stated in [the documentation](http://facebook.github.io/jest/docs/manual-mocks

[2017-02-17 16:44] cpojer commented on #2928
This doesn't happen for core modules, like `fs`. You have to manually call `jest.mock('fs')` on them.

[2017-02-17 16:44] #2928 closed

[2017-02-17 17:07] Shahor commented on #2928
@cpojer I set up a small repo so you can try this with a non-core module [here](https://github.com/Shahor/jest-error-example) and I beg to differ.

[2017-02-17 17:34] Shahor commented on #2928
Besides :

The documentation doesn't state that.

[2017-02-17 17:46] rogeliog opened #2929 "CMD + L doesn't work in the website"
We are using an embedded repl.it in https://facebook.github.io/jest/ and repl.it listens to CMD + L for   jumping between lines, which prevents the usage of CMD + L for focusing in the address bar.

I wonder if we should prevent the initial focus in the repl.it console to provide better accessibility support.

![a16z](https://cloud.githubusercontent.com/assets/574806/23076579/f66423ae-f4f5-11e6-90

[2017-02-17 18:47] mini-eggs opened #2931 "Jest Validate and Flow"
I'm not using Jest or Jest Validate in my project but some dependencies are. I'm a little new to Flow so this could be a problem on my end, and if so, sorry to waste the time!

Running Flow creates ~10 errors from
`jest-validate/src/__tests__/fixtures/jestConfig.js` and
`jest-validate/src/types.js`

I would be happy to submit a PR to fix, as I've fixed them locally. Just unsure if I'm using Flow i

[2017-02-17 18:49] thymikee commented on #2931
Which version of Flow do you run?

[2017-02-17 18:58] mini-eggs commented on #2931
version 0.26.0

Forked this repo and didn't have an issue. Updated my projects flow-bin to 0.39.0 and no longer having an issue.

Guess I was wasting time 🙃

[2017-02-17 18:58] #2931 closed

[2017-02-17 18:59] thymikee commented on #2931
If you learned something that's not waste 🙂

[2017-02-17 19:06] hramos commented on #2913
Hah, I like that the `website` label matches the website's new colors. 👍

[2017-02-17 19:44] pedrottimark opened #2935 "jest-canary: Cannot find module 'json-stable-stringify'"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Installed jest-canary in existing project:

[code]

https://github.com/facebook/jest/blob/master/packages/jest-runtime/src/transform.js#L22

In my dev version in which I did not fetch for about 2 days `node_modules` folder still has `json-stable-stringify` but the project in which I installed Jest do

[2017-02-17 19:55] thymikee commented on #2935
Thanks! It was removed from `jest-resolve` but it's actually used there. We need to fix this

[2017-02-17 20:02] pedrottimark commented on #2935
Right, it’s not in `package.json` of `jest-runtime` but the other package had installed it.

That means before first attempt to install the upgrade I forgot that I had `rm -rf node_modules`

[2017-02-17 21:18] AlanFoster commented on #919
I had quickly thrown together a react-native app, where I had stolen legacy ipad assets.

Those assets were named as `foo@2x.png` etc, I therefore had to update the moduleNameMapper to support the `@` character, as well as `gif`:

[code]

This may be useful to someone in the future.

[2017-02-17 21:47] hramos commented on #2929
I reached out to repl.it to see what we can do here.

[2017-02-17 22:51] rogeliog commented on #2929
Awesome, CMD+F has the same issue

[2017-02-18 02:08] yaycmyk commented on #2910
This isn't a Jest issue. React 15.4 started warning when custom attributes get leaked onto the DOM. If you're spread applying props to your JSX, you need to exclude custom props that would not be valid HTML attributes.

[2017-02-18 02:10] yaycmyk commented on #2925
@cpojer I made a follow up comment in my PR about part 2 of this issue. Waiting for your response to finish the implementation in the current state of things.

[2017-02-18 05:07] amasad commented on #2929
Repl.it now doesn't autofocus so this should be fixed

[2017-02-18 07:28] mieky opened #2938 ""presets" in package.json not picked up for babel-jest?"
Using babel-jest to automatically transpile my test suite for Node 4.

**Works** if I create a .babelrc with `{ "presets": ["es2015"] }`

**Doesn't** if I add the same block into my package.json:

[code]

I understood both should work. Is there something I'm missing, or is this a (Babel) bug?

Using node v4.6.2 (npm v4.0.2) on macOS Sierra 10.12.2.

devDependencies in package.json:
[code]

### Sam

[2017-02-18 08:48] #2929 closed

[2017-02-18 08:48] hramos commented on #2929
Thank you @amasad!

[2017-02-19 04:58] cpenarrieta commented on #2913
How about making it three rows instead of columns?
On a MacbookPro 13' it actually looks like this already because the content is too width and `flex-wrap: wrap;` takes it down.
![image](https://cloud.githubusercontent.com/assets/1692542/23099457/5ecb6336-f61c-11e6-8822-8e87109c2d89.png)
I think it looks better. what do you think?
This can be implemented by only changing the `flex-direction` to `c

[2017-02-19 06:25] JoshCheek commented on #2867
I don't think the link made it into the message, can you post again?

[2017-02-19 16:23] #2935 closed

[2017-02-19 16:25] cpojer commented on #2867
I didn't add a link. This change would have to be made somewhere in jest-jasmine2 or jasmine itself.

[2017-02-19 16:27] #2913 closed

[2017-02-20 00:19] tkrotoff opened #2944 "Provide a way to use setTimeout and friends within tests"
[Jest allows to mock setTimeout and friends](http://facebook.github.io/jest/docs/timer-mocks.html). Problem is that it also mocks setTimeout inside the test itself.
Would be nice to be able to mock setTimeout inside the tested code and not mock it inside the test itself.

Why do I need this?

I use Flux and sometimes you need setTimeout inside your code, example:
[code]

Otherwise you get the "Can

[2017-02-20 00:33] tkrotoff commented on #2944
Oh god, a simple:
[code]
seems to work...

[2017-02-20 00:33] #2944 closed

[2017-02-20 05:51] cj commented on #2605
I'm having the same issue too:

[code]

My problem is webpack-dev-middleware, the offending line in my sourcecode is:

[code]

[2017-02-20 06:38] cj commented on #2605
setting lazy to true on webpackDevMiddleware gets rid of the error.

[2017-02-20 07:24] qiangspecial commented on #2672
`> test@1.0.0 test /Work/Project/temp/jest`

@joerodrig  In the `temp` directory I found a .eslintrc

[code]

[2017-02-20 08:03] cj commented on #2938
@mieky I have the same issue, it's not a bug with babel.  It's an issue with babel-jest https://github.com/facebook/jest/blob/master/packages/babel-jest/src/index.js#L37

[2017-02-20 09:22] cpojer commented on #2938
The line @cj linked to is not responsible for loading data, it is merely used as a cache key.

If you are using information from package.json, make sure your `.babelrc` is deleted and run Jest with `--no-cache` once.

[2017-02-20 09:22] #2938 closed

[2017-02-20 09:32] #2916 closed

[2017-02-20 10:14] Yeti-or opened #2946 "toThrow doesn't distinguish Jest errors from userland errors"
For example:
`expect(42).toThrow(Error)` will pass
but It's expected to fail. Cause it is not valid test.

[2017-02-20 15:41] bruno12mota opened #2947 "moduleDirectories import resolution bug"
**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**

I was trying to use the `moduleDirectories` feature to mimic a webpack build for the test environment but hit a wall when I noticed the import resolution with jest is not exactly the same as webpack's one. At least if I'm not doing something wrong. I've made a simple repo to demonstrate it.

[2017-02-20 22:01] Nikhil-Shenoy opened #2949 "Block-scoped declarations not yet supported outside of strict mode"
I'm trying to run Jest on a React app that I have which uses Vue.js for some components, but I keep running into an error that says `Block-scoped declarations not yet supported outside strict mode`. I've looked into issues filed on this repository, along with on Stack Overflow, with the same error, but nothing that I tried from those sources has worked. One solution that was presented was to put `

[2017-02-20 22:18] thymikee commented on #2949
Looks like your Vue files are not properly transformed by Babel. Have you tried reaching help at [jest-vue-preprocessor](https://github.com/vire/jest-vue-preprocessor) repo?

[2017-02-21 03:44] jcreamer898 commented on #1767
I can in fact confirm as others have that `brew install watchman` works. Dang tho it'd be cool not to have to now add that step to my project's README. :-D. If there's anything I can do to help test or anything, let me know!

[2017-02-21 10:45] thymikee commented on #2881
Fixed with https://github.com/facebook/jest/pull/2950

[2017-02-21 10:45] #2881 closed

[2017-02-21 11:22] pascalduez opened #2953 "ESLint plugin recommended config not found"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Trying to use the `recommended` config from the `eslint-plugin-babel` throws a not found Error.
[code]

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn instal

[2017-02-21 12:26] #2953 closed

[2017-02-21 12:27] wtgtybhertgeghgtwtg commented on #2691
Just an overview of the impact this has had.
`jest@19.0.0` is about seven dependencies and one megabyte lighter than `jest@18.1.0`.  Here's a comparison of the `node_modules` of a fresh install of the two (Windows 10, `yarn@0.20.3`)
![jest 18 1 0 vs jest 19 0 0](https://cloud.githubusercontent.com/assets/18507762/23164818/5282875e-f7f6-11e6-8b05-44ba4e9a6e4c.png)

[2017-02-21 12:30] cpojer commented on #2691
Nice work, thanks @wtgtybhertgeghgtwtg for working on this and getting back with more data :)

[2017-02-21 13:36] bruno12mota commented on #2947
Just debugged the possible origin of the issue at `jest-resolve` and it doesn't seem to be a problem with jest but actually with `node-resolve` package. Jest sends all the options correctly to it.

The problem on the above is that I have "src" and "shared" as modules directories but when node-resolve recursively builds the paths to test it has the following:

[code]

The problem is that since "src

[2017-02-21 13:41] #2947 closed

[2017-02-21 13:55] rahuldaffodil opened #2956 "Snapshot not rendering tree"
Hi,

I am using Jest snapshot to testing my react-native app. But in my generated snapshot file under __snapshot__ folder the component tree is not rendered. It only shows the main component like shown below

**main.test.js.snap**

`exports[`test renders correctly main view 1`] = '<main />';`

**Below is my test cases**

/* eslint-disable */
import { View, Dimensions, Text } from 'react-native';
i

[2017-02-21 13:59] thymikee commented on #2956
Can you format the text correctly? I hardly can tell what you're trying to render.
Also, you're using Enzyme's `shallow` renderer, which will render components only 1 level deep.

[2017-02-21 13:59] #2956 closed

[2017-02-21 14:06] rahuldaffodil commented on #2956
Hi @thymikeee,

 I have highlighted the code please if you can help me out. This code uses snapshot testing but the created snapshot is showing null value not the component tree.

[2017-02-21 14:11] thymikee commented on #2956
Not really, as far as I can tell. This is what I see:

<img width="603" alt="screen shot 2017-02-21 at 15 07 03" src="https://cloud.githubusercontent.com/assets/5106466/23168161/706bc1b2-f847-11e6-928d-ed5398ca9e36.png">

It doesn't have information about which component you're trying to snapshot. But from the snapshot output it looks like you're rendering a component which returns `<main />`.
You

[2017-02-21 15:05] Shahor commented on #2928
@cpojer Sorry to ping you again but can you please take a look at https://github.com/Shahor/jest-error-example ?

[2017-02-21 15:28] roboli commented on #1886
Just for the record... Not reaching the coverage threshold makes jest to exit with "Exit status 1" which is ignored when running directly on console but not with an npm script, which is expected. Two options, run your script with `jest --coverage || true` or keep working on your tests :)

[2017-02-21 15:33] ro-savage commented on #1767
I have submitted PR #2957 that should fix this issue without installing watchman.

Would love for people to try it out and confirm it fixes on their systems as well. @jcreamer898 @mulchy @MoOx

**Steps to test:**
`git clone https://github.com/ro-savage/jest.git`
`git checkout fix-watcher-bug-osx`
`yarn install`
`yarn build`
`cd packages/jest-cli`
`yarn link`

Then go to your project that you had c

[2017-02-21 15:38] salvaC commented on #2910
Yes, I understand. I will address it to the enzyme repo, I think that where it belongs. Thanks.

[2017-02-21 15:38] #2910 closed

[2017-02-21 15:39] yaycmyk commented on #2910
No, this is a problem with your own components.

[2017-02-21 15:42] salvaC commented on #2910
Ok, then I need to investigate a little bit more the issue, and how to solve it. Thanks for the help.

[2017-02-21 15:47] yaycmyk commented on #2910
https://facebook.github.io/react/warnings/unknown-prop.html

[2017-02-21 15:56] Nikhil-Shenoy commented on #2949
I just posted on their repo. Is there anything that you could recommend that would help me out?

[2017-02-21 15:59] thymikee commented on #2949
Without an example repo I'm afraid I can't help much. But you can also check @kentaromiura's article on Vue with Jest: https://medium.com/@kentaromiura_the_js_guy/jest-for-all-episode-1-vue-js-d616bccbe186#.iqyr0k9rj

[2017-02-21 16:06] cpojer commented on #2949
This is unlikely a Jest issue, as @thymikee probably an issue with the preprocessor or your code.

[2017-02-21 16:19] wyze commented on #2892
Is there some other code in the `myReducer` file that is missing here? When I replicate what you have in a fresh project, I get 100% coverage, but it shows `4/4` branches.

[code]

[2017-02-21 16:19] Nikhil-Shenoy commented on #2949
Alright, I'll try that then. Thanks!

[2017-02-21 16:19] #2949 closed

[2017-02-21 16:39] gaearon commented on #1767
Does this only fix crashing tests, or hanging tests too? Most commonly I just observed Jest hanging on "Determining test cases to run..."

[2017-02-21 17:07] Billy- opened #2959 "Make console clearing with --watch optional"
I am using `jest --watch` in a docker container, which runs alongside some other development services on docker (namely webpack). When the tests re run, the console gets cleared (I understand this is desired behavior). Problem is, that gets rid of the logs from my other services. I really think that clearing the console should be optional, perhaps via an opt-out flag (`jest --watch --no-clear` or

[2017-02-21 17:10] Billy- commented on #2959
In addition to this, (related because the problem I'm trying to solve would only apply to scenarios where the output needs to be logged out, not just viewed) it would be cool to make the interactive element (`press p to filter by a filename...` etc.) optional as well - as it's not possible to use this when viewing the logs through docker-compose, so is kinda confusing/misleading.

[2017-02-21 17:10] D34THWINGS commented on #2928
@cpojer The documentation should state that `__mocks__` works only with `node_modules`, it would be less misleading I think. Because @Shahor tried to use it to mock relative module in his example which definitely doesn't work. Also the documentation doesn't state in [the manual mocks page](http://facebook.github.io/jest/docs/manual-mocks.html#content) that core modules are not mocked by default an

[2017-02-21 17:28] cj opened #2960 "--watch(All) --coverage causing infinite refresh (19.0.0)"
when running `--coverage`, `jest --watchAll --coverage`, it causes an infinite refresh/loop.

![](http://g.recordit.co/J2qR5JqNx7.gif)

[2017-02-21 17:46] mathieumg commented on #2960
Getting the same issue simply with `--watch` and coverage through configuration. Removing `--watch` avoids the problem, but doesn't use the watch mode, obviously. See https://github.com/Novivia/tools.tester/blob/v1.0.0/lib/cli.js for used configuration.

[2017-02-21 18:11] Yayuro commented on #2960
Same here (--watch)
MacOS, 10.12.3 (16D32), yarn 0.20.3, latest oh_my_zsh

[2017-02-21 18:24] rogeliog commented on #2960
@cj thanks for reporting 👍

Do you mind providing a bit more details of your setup, or maybe a minimal repository on GitHub so that we can better investigate the issue?

[2017-02-21 18:33] mathieumg commented on #2960
@rogeliog Not the most minimal example, but it could be a start: https://github.com/Novivia/tools.tester/commit/8c126e8824fc85e270c8f8a3272f4d209daa9101 in https://github.com/Novivia/tools.tester/commits/jest-19-repro

Doesn't happen with the two v18, happens with the two v19.

[2017-02-21 19:22] rogeliog commented on #2960
Is this also happening when running `--watch` without `--coverage`?

[2017-02-21 19:24] cj commented on #2960
@rogeliog it's only happening with `--coverage` for me, just using `jest --watchAll` works fine