[2017-03-23 20:18] dmitriiabramov commented on #3160
and what about newlines? :)
how to we tell
[code]
from
[code]

[2017-03-23 20:20] #3188 closed

[2017-03-23 20:58] tivac commented on #3190
Interesting, I assumed jest used nyc for coverage and that's able to provide coverage of spawned processes.

[2017-03-23 21:08] nickmccurdy opened #3198 "Use the globals package in eslint-plugin-jest"
The [`globals`](https://www.npmjs.com/package/globals) package seems to be the most popular and relied upon source for linter implementations to discover globals used by different tools. Jest is already there, but `eslint-plugin-jest` hard codes its own set of globals instead of delegating to the `globals` package.

If maintainers agree, I'd be happy to make a pull request (and possibly another up

[2017-03-23 21:23] mbroadst commented on #3186
@dmitriiabramov are you sure? That should mean I could explicitly set `global.Buffer = Buffer` in the env setup and it should work, but it doesn't. Only setting `global.ArrayBuffer = ArrayBuffer` seems to work.

[2017-03-23 22:21] dmitriiabramov commented on #3190
yeah, it's definitely possible and `nyc` is very generic and independent to do this. But in Jest i think we're a little far from it.
Our transformation (and instrumentation) logic heavily depends on jest environment and test configuration. It provides a lot of benefits, but also makes it hard to work on things like this one

[2017-03-24 08:55] thymikee commented on #1772
Ok, so I finally found some time to test it and indeed thats the diff library we're using which causes problems.

We could consider changing our diff to utilise Google's [diff-match-patch](https://code.google.com/p/google-diff-match-patch/), which further optimises Meyer's algorithm with pre/post diff work (which is super fast for partially similar strings).

Although it still can choke on some bi

[2017-03-24 11:13] thomasklein commented on #3161
Hi guys!
On a quick note: `--coverage-reporters` is documented in the [CLI options](https://facebook.github.io/jest/docs/cli.html#content).

[2017-03-24 13:14] pavelkucera opened #3199 "Module resolving works differently in Jest and Node"
Hi, I would like to report a **bug** in the Jest module resolve functionality.

**Current behaviour**

With following file structure:

[code]
and following **index.js**

[code]

index.js ends up requiring different files, depending on the environment:

* in *Node* it requires `foo/index.js`
* in *Jest* it requires `foo.js`

I expect the code to behave the same in both environments.

I prepared a m

[2017-03-24 14:45] louiszawadzki commented on #1638
@cpojer, I ran into the same issue today.

If it can help anyone I fixed it by setting the node version to 6.1.0 by adding the following in my `circle.yml` file:

[code]

[2017-03-24 14:54] anilreddykatta opened #3200 "Custom module resolution"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
Currently I have directory structure as follows
[code]

I am using webpack to environment variable LOCALE (which can be c or g) and resolving modules depending on the value of LOCALE.

How to have this name resolution with webpack alias in place.

I am importing above modules as import func from 'action/a'

[2017-03-24 17:25] brendonco opened #3202 "Import not transpile with babel-jest"
execute yarn test throw an exception below.

[code]

package.json
[code]

.babelrc

[code]

Any configuration I missed out?

[2017-03-24 17:33] thymikee commented on #3202
Can you setup a repo with the case?

[2017-03-24 17:36] thymikee commented on #3200
Hard to tell anything without a test case. Can you provide such?

[2017-03-24 17:42] thymikee commented on #3199
Can confirm it works this way. Should we treat this as bug? I guess so.
cc: @cpojer @dmitriiabramov

[2017-03-24 17:44] thymikee commented on #3198
cc: @jkimbo

[2017-03-24 18:08] jkimbo commented on #3198
Sounds reasonable to me 👍

I assume all this would involve is pointing people to use the built in `jest` env and remove the `globals` field from `eslint-plugin-jest/index.js`?

[2017-03-24 18:09] jkimbo commented on #3198
Btw @cpojer added the `globals` field and he might have had reasons to do so?

[2017-03-24 18:18] thymikee commented on #3177
I think it's made on purpose, because you may want to run the tests once more. See the messaging:
<img width="381" alt="screen shot 2017-03-24 at 19 16 13" src="https://cloud.githubusercontent.com/assets/5106466/24307949/61d2b93e-10c6-11e7-824f-c2850255fd4a.png">
cc: @mikaelbr

[2017-03-24 18:18] nickmccurdy commented on #3198
Yes, except we also have to update `globals` to have the right values, merging in ones from this plugin. If we want to maintain back compatibility, `jest/globals` could be an alias for the built in env instead of it being removed entirely.

[2017-03-24 18:22] th3fallen commented on #3177
@thymikee oh im aware of the messaging in the notification, my discrepancy is that it used to just exit, it would be nice if that could be re-enabled with a flag or what have you.

[2017-03-24 18:26] thymikee commented on #3177
If we exit the process, then these messages under "Show" won't make sense. Wonder how can we improve it. Get rid of it completely and only leave "Close"?
Ideas welcome!

[2017-03-24 18:31] thymikee commented on #3148
Can't reproduce it on Node 4, 6, 7. Tried master of your repo.

[2017-03-24 18:31] #3148 closed

[2017-03-24 18:37] th3fallen commented on #3177
My initial thought was to have a way to change the notification type i.e.

notifyType: 'simple|actionable' with a default to actionable if notify is true, and with `simple` would get a notice like before with just the message with no actions and the process to exit.

Not sure if that's the best idea but I'll miss having the notification popup because what I do is trigger a test run and go back to

[2017-03-24 18:38] thymikee commented on #3135
Cannot repro, both tests pass in my case (I use `transform-async-to-generator`).

[2017-03-24 18:41] thymikee commented on #3177
Then I strongly recommend the watch mode 😄. I like the idea of `notifyType`, but just thinking it can be too much. I wonder if anybody uses "Run again" option from notifications.

[2017-03-24 18:44] th3fallen commented on #3177
watch mode obliterates my cpu for some reason 😭  , and the goal with my suggestion was a sane default that would only be changed if a user saw fit.

[2017-03-24 18:59] neoziro commented on #3135
It only happens if you use the native implementation of async / await.

[2017-03-24 19:12] anilreddykatta commented on #3200
@thymikee

[code]

I have the above following jest config in package.json
Same aliases have been declared for webpack too.

Currently I have following structure for utils directory as follows
[code]

I will be importing xhr module like this in all my modules

`import xhr from 'utils/xhr'` and whether to resolve it to `xhr.c.js or xhr.g.js` depends on environment variable `LOCATION`.

When  have to

[2017-03-24 19:56] thymikee commented on #3200
Hm, this would be easy if we could load JS config instead of JSON.

[2017-03-24 20:05] mvolkmann opened #3204 "manual mock documentation issue"
On this page:
https://facebook.github.io/jest/docs/manual-mocks.html
the file structure diagram near the top shows `fs.js` to be at the same level as `__mocks__`.
Based on the text that follows, I'm pretty sure that `fs.js` should be inside `__mocks__`.

[2017-03-24 20:30] anilreddykatta commented on #3200
@thymikee Do you have any references I can go through? That would be very helpful

[2017-03-24 21:10] shahen94 commented on #2784
@Maxwell2022 i'm experiencing the same issue, how you fix this ?

[2017-03-24 23:31] thymikee commented on #3204
It's already addressed, thanks!
PR: https://github.com/facebook/jest/pull/3183

[2017-03-24 23:31] #3204 closed

[2017-03-24 23:33] thymikee commented on #3200
About js config? Here's a PR with a proposal: https://github.com/facebook/jest/pull/2445.

[2017-03-25 05:25] quentin- opened #3206 "cli argument to prevent snapshot recording during CI"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

I can't ensure that all snapshots were recorded before running test in CI.
Unrecorded snapshots will be written on the CI server fs and the test suite will pass.

**What is the expected behavior?**

I can ensure that the test will fail if it tries to create a new snapshot.

[code]

[2017-03-25 13:16] Elijen commented on #2441
Why is this issue closed? Clearly not a duplicate of #2166

[2017-03-25 15:32] ismay opened #3208 "collectCoverageFrom not working for dynamic imports"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
collectCoverageFrom works fine for me, except when I want to ignore code that's dynamically imported (`import()`). I'm using a `/* istanbul ignore next */` before the import statement, and a wildcard in `collectCoverageFrom`, but it's still added to the coverage. [Ignoring the analytics code worked fin

[2017-03-25 17:14] anton-kabysh opened #3210 "Declare module jest into flow-typed types definitions."
Running flow i got error in my `npm test` script where I use Jest:
[code]
Flow-typed are properly installed and configured, cause all other modules are properly resolved by flow. After some investigation I had found, that `flow-typed/npm/jest_v19.x.x.js` does not contain jest module declaration. I added `jest.js` to `flow-typed/npm` with content:
[code]
And it fix problem.
Possibly this issue shou

[2017-03-25 17:17] thymikee commented on #3210
Yup. `flow-typed` is the right place to address this.

[2017-03-25 17:17] #3210 closed

[2017-03-25 19:49] ismay commented on #3208
Apparently this was caused by my use of a `.jestrc` to configure jest. Ignoring the dynamically imported module works fine when setting `collectCoverageFrom` in `package.json`. I'll close this, but feel free to reopen if necessary.

[2017-03-25 19:49] #3208 closed

[2017-03-25 20:09] eranimo commented on #862
"zero configuration" really doesn't have to mean "no configuration".

[2017-03-25 22:13] mpontus commented on #3169
I'm almost ready to deliver changes which will remove 'use strict' from the codebase and replace it with babel plugin. There are two issues that need to be addressed:

1. This file https://github.com/facebook/jest/blob/master/packages/jest-util/src/setGlobal.js
It does indeed break tests for Node 7.3.
I have following solutions to offer:
- Rewrite it in ES5 and to ignore section in .babelrc
- Modi

[2017-03-25 22:35] rogeliog commented on #3206
This is quite interesting

[2017-03-26 00:53] cpojer commented on #3206
We should simply detect if "CI" is present. If it is, don't offer to write snapshots initially unless -u is specified. This should be the default. Happy to receive PRs for this :)

[2017-03-26 07:00] baptistemanson commented on #1705
Hi all,
I was looking for something similar as well.
My experience could be improved if there was just one more function in the API: loadSnapshot(snapshotkey)

Right now:
[code]

If I had loadSnapshot():

[code]
Cons:
* dependency issue (tests need to be skipped until their snapshots exists)
* naming snapshots becomes important

Pros:
* more expressive, atomic tests
* only one extra function added

[2017-03-26 11:22] Shooshte opened #3211 "setTimeout not triggering when unit testing"
[code]

Why is there no message in the console? I also tried using done() after the console.log statement, but the results are the same.

My jest config:
[code]
Dependencies:
"enzyme": "^2.7.1",
 "jest": "18.1.0",
 "react": "^15.4.2",
 "react-dom": "^15.4.2",
 "react-router": "^3.0.2"

Node v 7.5.0

Another variation, propesed by stackOverflow has some interesting results:
[code]
`'I ran after the

[2017-03-26 11:39] k1r0s commented on #3158
The problem is about `eval` sentence. Which is often used in my library because I have to mutate some methods/expressions.

Istanbul of course cannot provide coverage information for these declarations which are dynamically assembled.

The solution is about tell istanbul to bypass these declarations.

https://github.com/gotwarlost/istanbul/blob/master/ignoring-code-for-coverage.md

[2017-03-26 11:40] thymikee commented on #3211
It won't log the message, because Jest buffers all `console` calls so they can be displayed after test results reporters, and since `setTimeout()` delegates `console.log()` further into the function call queue, it's apparently called after we can collect it, which results in message not being logged.

To overcome it, you can either use fake timers:
[code]
or use `done` callback:
[code]

[2017-03-26 11:40] #3211 closed

[2017-03-26 12:01] Shooshte commented on #3211
@thymikee,

Please see the second part of the issue about the done callback - it does not trigger at all. I also tried this with running expect(2).toBe(1) instead of console.log, and got the same results:

Please not that I have set the jasmine default timout interval to 10s in order to compensate for the 1sec timer.

[2017-03-26 12:09] thymikee commented on #3211
Does it happen on Jest 19?

[2017-03-26 12:16] Shooshte commented on #3211
Yes, just updated jest to "jest": "^19.0.2", basically same error.

The test:
[code]
Times out:

The test:
[code]
Fails (expected value to be 1, received 0).

[2017-03-26 12:36] thymikee commented on #3211
Sorry but I cannot repro this. Can you setup a github repo with the case?
Also, what did you expect from second test? `setTimeout()` (and `done` inside) will be evaluated after the `expect()` call so it fails for obvious reasons.

[2017-03-26 12:53] Shooshte commented on #3211
Ugh, stupid issue:

I was calling `jest.useFakeTimers();` in a previous test - this is why the mock setTimeout test timed out. After setting up a separate project and running only this test I can see that everything is working as expected.

So the initial anwser was correct - either use fake timers, or pass a done callback (both options work).

Sorry for the trouble

[2017-03-26 12:54] thymikee commented on #3211
Cool, have fun testing! 😄

[2017-03-26 13:21] thymikee commented on #3126
I just bumped into this issue!

@mpontus @okonet you can use `jest@next` where it's fixed or otherwise you need install `babel-polyfill`.

Jest used to autoinclude `babel-polyfill` (and still does it in 19.0.2), but since it caused memory leaks, we moved to using `regenerator-runtime` only, which ships with our transitive deps (so since Jest v20 if you're using npm >=3 or yarn you don't need to in

[2017-03-26 18:24] rogeliog commented on #3158
Thanks for commenting back with the root cause, this is really good for people reading this thread in the future! 🙂

[2017-03-26 22:00] bcoe commented on #3158
@rogeliog for the record, we have moved istanbuljs into a mono-repo here:

https://github.com/istanbuljs/istanbuljs

[2017-03-27 13:42] chookie opened #3213 "Optional screen clearing in watch mode"
Feature Request

Currently when using --watch the screen is cleared on each run.  This is ok when using jest alone but when using as part of a build process where you run linting, tests and buid on each file change then when the tests run you loose your terminal history including results from linting and build.  By now I am getting around this by using "nodemon --watch src --ext js --exec 'npm run

[2017-03-27 15:50] laggingreflex commented on #1986
For Windows, could this and various similar issues on yarn be related?: https://github.com/yarnpkg/yarn/issues/1496 https://github.com/yarnpkg/yarn/issues/990 (just a hunch, haven't checked these out in detail). In https://github.com/yarnpkg/yarn/pull/2958 OP mentioned a Windows specific nodejs bug in `fs` https://github.com/nodejs/node/issues/2069 that was only recently fixed (v7.1).

[2017-03-27 16:00] GSingh01 commented on #2649
@cpojer
If there is no solution to this problem, the you should reopen this issue or otherwise provide answer please.

[2017-03-27 16:02] max-mykhailenko commented on #3202
I have same error. My configs:

[code]

Jest debug output

[code]

[2017-03-27 16:15] caedes opened #3214 "Error: spawn git ENOENT on Windows 8"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

### Bug 1

While running `jest --watch` on already changed JS files on Zsh, we have an error:

[code]

### Bug 2

While running `jest --watch` on already changed JS files on Bash, Jest acts like there's no changes at all.

[code]

`--no-cache` doesn't change anything in both of this process

[2017-03-27 18:08] dmitriiabramov commented on #3169
fyi i'm also trying to integrate https://github.com/gajus/eslint-plugin-flowtype to our pipeline to keep flowtypes strict

[2017-03-27 18:16] dmitriiabramov commented on #3206
there's a other things that are different on CI,
we should just have `--ci` flag that adds these defaults

[2017-03-27 18:51] #3135 closed

[2017-03-27 19:41] wilomgfx commented on #2059
@jeffbski indeed thats the most convenient way of doing this! I thought we would be able
to do the same thing with JEST, but instead we have to do : done.fail(ARG)

[2017-03-27 20:46] andreyluiz commented on #1650
@lucasfeliciano @luispuig Any progress on this? Do yout want some help with something?

[2017-03-27 21:24] JamesMcGuigan opened #3215 "Feature Request: Add --runInBand to package.json options"
This is a feature request.

I currently have a setup that involves jest tests asyncronously creating and re-aliasing elasticsearch indices and part of their setup and tear down routines.

The tests run perfectly fine if I specify jest --runInBand on the command line.

If I run them without --runInBand I get random test failures due to the inherent race conditions with running these tests asynchron

[2017-03-27 22:44] cpojer commented on #3215
I'd prefer not to do this. -i is an escape hatch. It would be better to find a way to run the tests in parallel.

________________________________
From: James McGuigan <notifications@github.com>
Sent: Tuesday, March 28, 2017 6:24:32 AM
To: facebook/jest
Cc: Subscribed
Subject: [facebook/jest] Feature Request: Add --runInBand to package.json options (#3215)

This is a feature request.

I currently

[2017-03-28 12:33] kentcdodds commented on #3173
I'm working on this right now (just fudging with my local `node_modules` to start) and I'm finding that `jest-jasmine2` has an odd sort of build or something because even though the file you referenced is `src/jasmine/Spec.js`, the file that code is in is `vendor/jasmine-2.5.2.js` and I'm unable to require anything in it (`require is undefined`). I need to get `diff` (from `jest-diff`), `matcherHi

[2017-03-28 12:35] kentcdodds commented on #3173
Also, when I add a `message` to the `addExpectationResult`, I don't see any change in the output, but if I change the `matcherName` to some value other than the empty string it is now, then I see the message I provided. Sounds like black magic. Any tips on what I should do there?

[2017-03-28 12:37] kentcdodds commented on #3173
Oh, and also `jest-jasmine2` does not currently depend on `jest-diff` so I'll need to add that to the dependencies. Any reasons to not?

[2017-03-28 12:47] thymikee commented on #3173
Oh, please don't do it to yourself! You'll be better of forking Jest and linking it (instructions in [CONTRIBUTING.md](https://github.com/facebook/jest/blob/master/CONTRIBUTING.md)), because since last release we rewritten our Jasmine fork to be modular.

[2017-03-28 12:53] luispuig commented on #1650
I didn't try...

[2017-03-28 13:04] kentcdodds opened #3216 "Fresh clone has out of date snapshots"
After following the instructions in CONTRIBUTING.md, on a fresh clone of `master`, I'm getting outdated snapshots:

[code]

Thought you ought to know :)

[2017-03-28 13:05] thymikee commented on #3216
Yeah, I bumped into it lately, but it doesn't show up on neither of our CIs, wonder why.

[2017-03-28 13:22] marvinhagemeister opened #3218 "Jest a lot slower than mocha"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Our team is currently evaluating jest as a replacement for mocha because of we have more and more tests, where jest's snapshot feature would benefit us greatly.

Thing is, with jest a test run is a lot slower for us than with mocha. I made a quick sample repository, where the the behaviour is reproduci

[2017-03-28 13:29] kentcdodds commented on #3218
You may be interested in this: https://github.com/kentcdodds/ama/issues/233

[2017-03-28 13:29] thymikee commented on #3218
You're having 1 test suite, of course Jest is gonna be slower, because it pays the cost of environment virtualization/sandboxing and as far as I remember mocha doesn't.
Try adding 100-1000 more files each and come back with the results, as thanks to virtualization Jest can run tests in parallel, while mocha runs them serially.

[2017-03-28 13:58] marvinhagemeister commented on #3218
@kentcdodds That's great! Thanks for the advice.

@thymikee Makes sense, I was afraid that the repo was too simplistic. I guess small runners like mocha/tape are great for small suites whereas jest really begins to shine where the test cases are more than a few hundred. With our current suite ~178 tests, I don't really see a speedup compared to mocha, though.

[2017-03-28 13:58] #3218 closed

[2017-03-28 13:59] cpojer commented on #3216
That's odd. Which version of node is this?

[2017-03-28 14:02] thymikee commented on #3216
All versions we support :(

[2017-03-28 14:14] cpojer commented on #3218
Consider running in watch mode, which is likely much faster for re-running tests and faster/similar to mocha. It often doesn't matter how long your full suite takes but it does matter how long it takes to run tests after a file change.

[2017-03-28 14:18] kentcdodds commented on #3218
Also, remember that when you choose Jest, you get sooooooooo much more than you get with mocha. You get an amazing immersive watch mode, snapshot testing, dead easy code coverage, and more. It's my go to for even small projects for these reasons.

[2017-03-28 14:54] mrharel opened #3219 "Failed to mock dynamic require call"
Not sure if this is a bug or a feature request, but i will describe the situation and what i expect.

I have the following file i need to test
[code]

and also

[code]

The test file is i created is something like this:

[code]
The problem is that the callback is not being called in the `require` method, so i get an timeout error:

`    Timeout - Async callback was not invoked within timeout speci

[2017-03-28 15:24] kentcdodds opened #3220 "Latest watch mode has no newline when exiting"
Hard to describe but I think this will help illustrate what I mean:

<img width="487" alt="screen shot 2017-03-28 at 7 28 29 am" src="https://cloud.githubusercontent.com/assets/1500684/24413312/485cb3d6-1398-11e7-9639-920bc4b42ea1.png">

When I hit `q` to quit watch mode, my new prompt appears on the same line instead of a new line.

Note: this is based off of a build from `master`.

[2017-03-28 16:37] jeffbski commented on #2059
`done.fail(arg)` would work fine as long as it checks the truthiness of the arg before considering it an error, otherwise it would just complete, but I assume that if done.fail is called it always indicates a failure regardless of arg.

So to work with Node.js callback code we would need to continually create functional wrappers like

[code]

Could we add another method to jest that does this for

[2017-03-28 16:38] jcreamer898 commented on #2605
I've tried both the webpack and the iconv solutions, and I am still getting the error.

[2017-03-28 16:41] jcreamer898 commented on #2605
I'm seeing the issue setting up JSDOM for Enzyme testing...

![](http://d.pr/i/TgPM+)

[2017-03-28 17:52] mnpenner commented on #256
@cpojer Link is broken. Has that file been moved?

[2017-03-28 18:06] #3200 closed

[2017-03-28 18:23] rogeliog commented on #3220
Hey, thanks for reporting this!

I'm having some trouble reproducing it, can you provide a bit more info about version, env, etc?

[2017-03-28 18:27] #3213 closed

[2017-03-28 19:22] kentcdodds commented on #3220
Ah, yeah, sorry, should have included that info!

- jest: `master@4 hours ago`
- node: v6.9.5
- yarn: v0.21.3
- OS: OSX El Capitan v10.11.6
- Terminal: Terminal.app
- Shell: bash

[2017-03-29 07:29] chookie commented on #3213
Yes it is. Apologies, I obviously did not look hard enough.  Many thanks.

[2017-03-29 12:34] marvinhagemeister commented on #3218
@cpojer @kentcdodds Thanks for the warm words. Jest is indeed awesome no doubt! Thing is that we have test-coverage, etc all set up already. The main advantage jest has for our team is snapshot testing. I spent a few more hours with jest and converted all tests to use snapshots instead of enzyme (where possible) and saw a huge speedup 💯

The other great point for snapshot testing is that we have t

[2017-03-29 14:37] talkol commented on #2157
@pekala the one liner IMO doesn't provide the required behavior because it will not wait until the following pending promise is resolved:

[code]

What about swizzling Promise and when a new Promise is created add it to some array then flush all promises will await on Promise.all over this array?

[2017-03-29 19:09] pekala commented on #2157
@talkol I think it will, as long as you us the fake timers as well. I haven't tested that though.

[2017-03-29 19:22] jbinto commented on #2441
I'll add my $0.02 because I just ran into this.

Issue:

* I am running `jest --watch --verbose` (v19.0.2)
* Some (but not all!) `console.log` statements do not appear, neither during test run, or in the summary
* In my case, I can isolate it to a `_.reduce` call: all `console.log` statements inside this block are not shown, `console.log` statements outside the reduce block are shown. I've verifie

[2017-03-29 19:27] jbinto commented on #2441
Just confirmed with a video that the `console.log` is in fact being drawn to the screen for ~0.2s before being drawn over.

Running `--watch` without `--verbose` seems to fix this.

[2017-03-29 19:50] pekala commented on #2157
If you don't fake timers, your tests will take real 2s+ to complete. I think the best practice would be to remove these types of delays, in which case the `flushPromises` as proposed by @jwbay does the job.

[2017-03-29 20:07] talkol commented on #2157
All depends on what you're trying to test :) All I'm saying the timers are an unrelated concern to waiting for the promises

[2017-03-29 21:50] dmitriiabramov commented on #3216
https://github.com/facebook/jest/pull/3222 that should fix it. had the same issue locally, but both CIs passed just fine :/

[2017-03-29 21:50] #3216 closed

[2017-03-29 22:00] dmitriiabramov commented on #3219
hey @mrharel
sorry, i'm not familiar with dynamic requires.
where is this functionality coming from?
[code]

original node `require` takes only one argument and it's always a string, and so does Jest's implemenation of `require`, and i assume this is the reason your test is not working.

If you're using something else, then you'll probably need to mock the implementation of your `require`

[2017-03-29 22:07] thymikee commented on #3219
It looks like RequireJS – http://requirejs.org/

[2017-03-29 22:10] dmitriiabramov commented on #256
@mnpenner it was removed yes. you can still use it with another assertion library if you replace the global expect in a setup file

[2017-03-29 22:38] mnpenner commented on #256
In [here](https://facebook.github.io/jest/docs/configuration.html#globals-object)? OK, thanks.

[2017-03-29 23:08] dmitriiabramov commented on #256
you should add something like
[code]
in here https://facebook.github.io/jest/docs/configuration.html#setupfiles-array

[2017-03-30 00:49] dmitriiabramov opened #3228 "remove babel transform for async mocks integration test"
see https://github.com/facebook/jest/pull/3224

[2017-03-30 01:19] rogeliog commented on #3220
I'm still having some trouble reproducing it, am I missing something?

![kent](https://cloud.githubusercontent.com/assets/574806/24483310/1d443402-14ac-11e7-94fb-b6685f32f4f7.gif)

[2017-03-30 03:53] chrislloyd opened #3229 ""unmockedModulePathPatterns" isn't respected by enableAutomock()"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

When using `enableAutomock()`, the config variable "unmockedModulePathPatterns" isn't respected. This is important when switching from previous automock default to explicit mocking. If this config variable was used, migrating would be as simple as adding `jest.enableAutomock()` to the head of all test

[2017-03-30 08:33] xin-nie opened #3231 "`--watch` not running without `sudo` on Ubuntu 1604"
The `jest --watch` is not running, unless I put `sudo`  before the command. After adding the `sudo` it works fine, but it adds a `jest` directory on root which contains some artifacts.

I found this from another project: https://github.com/truetandem/e-QIP-prototype/pull/21/files, it seems that they had same issue.

The same configuration works fine on mac, no `sudo` needed and no `jest` directory

[2017-03-30 08:36] thymikee commented on #3231
This projects use Jest v17. Can you tell if this happens on Jest v19?

[2017-03-30 08:39] xin-nie commented on #3231
@thymikee : yes, still happens on v19, that's the version I'm using. And my node version is v6.9.5.

[2017-03-30 13:03] mrharel commented on #3219
@dmitriiabramov webpack creates chunks of code when it detects that you are requiring code dynamically. The issue is that this cannot be tested with jest.
I am not sure, but i think this was working when we used `proxyrequire` and this was broken when we switched from `ava` to `jest`.

[2017-03-30 15:59] aaronplanell commented on #3195
Solved in: https://github.com/facebook/react/issues/9244

[2017-03-30 16:13] jzaefferer commented on #652
While this issue is closed, I just ran into it as well, and couldn't figure out a solution. Nothing in here nor in #896 helped.

Specifically, adding `jasmine.DEFAULT_TIMEOUT_INTERVAL = 10000;
` to the file configured as `setupTestFrameworkScriptFile` resulted in `Cannot find module 'jasmine' from 'testSetup.js'`

I tried that, too, but it didn't make any difference.

[2017-03-30 17:04] kentcdodds commented on #3220
Huh, I'll go ahead and close this until I'm able to provide reproduction steps. Maybe it was just a fluke... 🤔

[2017-03-30 17:04] #3220 closed

[2017-03-30 17:18] rogeliog commented on #3231
Does it work without `--watch`? I mean just `jest` in non watch mode and without `sudo`

[2017-03-30 17:29] xin-nie commented on #3231
Everything else is fine, even the `--coverage` works fine. It's the first
time I had this problem.

On Thu, Mar 30, 2017 at 7:18 PM, Rogelio Guzman <notifications@github.com>
wrote:

[2017-03-30 17:43] dmitriiabramov commented on #3219
so is it some kind of trasform plugin that converts these calls to something else?

[2017-03-30 17:47] mrharel commented on #3219
you can learn more about it here: https://webpack.github.io/docs/code-splitting.html

[2017-03-30 22:37] cpojer commented on #3219
Please don't compile your code before running Jest on it. Jest should operate on your source files.

________________________________
From: Amir Harel <notifications@github.com>
Sent: Friday, March 31, 2017 2:47:15 AM
To: facebook/jest
Cc: Subscribed
Subject: Re: [facebook/jest] Failed to mock dynamic require call (#3219)

you can learn more about it here: https://webpack.github.io/docs/code-split

[2017-03-31 00:14] rchanou opened #3232 "Bizarre async spread first argument change"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

I found this bizarre bug where, when testing an async function with spread arguments, the first argument becomes some sort of Jest object in the async function. If I simply reference the spread array before using it in the async function, it works!

[code]

Here's the failing test output:
[code]

I re

[2017-03-31 00:18] wesleyhall commented on #1650
Just looking at this myself. To be honest, I kind of despise this double underscore padded directory name thing. Guido has a lot of answer for! These things are making their way to Javascript as well now :). I happen to think they look a right mess, but sure... subjective.

I'm personally in the directory per component camp, and sit my unit tests as a sibling to component code using the component.

[2017-03-31 01:55] trevordmiller opened #3233 "Feature request: replace "-w" CLI option to be "--watch" shorthand"
Many CLIs use `-w` as a shorthand for `--watch`. Currently, the Jest CLI doesn't have a shorthand for `--watch`; it would be nice if `-w` could become the `--watch` shorthand, and the current `-w` (shorthand for `--maxWorkers`) could change to `-m`.

[2017-03-31 06:00] rogeliog commented on #3233
I like this idea, `-w` feels natural for watch mode... Breaking change, but really interesting

[2017-03-31 06:36] cpojer commented on #3233
I don't think it's necessary to break this. How about mapping "yarn w" to "jest --watch" in the scripts section?

________________________________
From: Rogelio Guzman <notifications@github.com>
Sent: Friday, March 31, 2017 3:00:48 PM
To: facebook/jest
Cc: Subscribed
Subject: Re: [facebook/jest] Feature request: replace "-w" CLI option to be "--watch" shorthand (#3233)

I like this idea, -w feels

[2017-03-31 06:40] luispuig commented on #1650
Hi,

I was just thinking on this. I get why main developers doesn't want to change this feature.

If you use a __testing__ folder yo git everything on same folder. But if your work on different proyecta it's worse to move componentes becouse you got to copy the component and the test on a different folder.

But if we use the test with the component it get full of _snapshot_ folders.

To maintain a

[2017-03-31 06:46] axyz commented on #3219
@cpojer at that point the code is not compiled, but the require with callback AMD style will be only correctly executed while compiling with webpack. When the test runs jest doesn't know how to use it.

This is a very common use case though. Don't know if there is some way to mock require itself... Otherwise there should be a way for jest to execute these async requires (or eventually require.ensu

[2017-03-31 09:29] somsin opened #3234 "jest-with-react-native-getting-issue"
http://stackoverflow.com/questions/43137058/jest-with-react-native-getting-issue

({"Object.<anonymous>":function(module,exports,require,__dirname,__filename,global,jest){import React, { Component, Children, PropTypes } from 'react';
                                                                                             ^^^^^^
    SyntaxError: Unexpected token import

      at transformAndBui

[2017-03-31 09:32] thymikee commented on #3234
It looks like some modules are not transformed through babel properly. I think you should reach out to react native repo, as they're maintaining preset with Jest configuration.

[2017-03-31 09:33] wesleyhall commented on #1650
@luispuig

I get why the developers might advise in the docs and FAQ that moving the snapshots out from under the component in the structure is a bad idea that you should probably not do. Personally, I would not do this anyway, because I would agree with them on this point.

A style that is quickly becoming the norm though, is to place unit test files as siblings to the code under test. This is wh

[2017-03-31 09:43] oieduardorabelo commented on #2714
any lucky with an Ember example? I've tried, but the QUnit looks like a black-box-magic 😅

[2017-03-31 09:43] luispuig commented on #1650
@Wesley hall

I agree with you. Keeping the snapshot file with the test file is the best practice.

Getting the whole structure full of __snapshot__ folders is what's bothering me. I suggest to put the snapshots inside the test file instead of creating a snapshot folder on test file level. Would it be possible?

[2017-03-31 09:49] thymikee commented on #2714
I've also tried it couple of months ago without luck, but will try to tackle it some time soon, although I'm not so optimistic. We'll see!

[2017-03-31 09:52] wesleyhall commented on #1650
That's my view too.

In a post above I pasted a link to the line in the code where the \_\_snapshots\_\_ exists as a hardcoded string.

Since jest has the capability of being configured from the package.json file (https://facebook.github.io/jest/docs/configuration.html), what I would tend to do is add a new configuration key called, "snapshotDirectory", that allows for configuration of this. Perso

[2017-03-31 09:56] wesleyhall commented on #1650
I should say, I don't think they can be put inside the test *file*, if this is what you meant. There are mechanisms within jest to update the snapshots etc. I wouldn't really want the system changing some portion of the my unit test js file. I would put them still as separate files but as simple siblings to the test js file.

[2017-03-31 10:07] somsin commented on #3234
i knew that modules are not transformed through babel properlybut how to resolve this . whare and what i have to change

[2017-03-31 10:32] vjtc0n opened #3235 "Issue when using setState in unit testing?"
Hello,

I'm facing this issue:
- In my UserManagementPage container, I have a function that:

[code]
In my test file, I want to test above function by this:

[code]

And it raised an issue:

[code]

Could you show me how to setState in unit testing ?

Thank you!

[2017-03-31 10:38] thymikee commented on #3235
You need to mount ([render into document](https://facebook.github.io/react/docs/test-utils.html#renderintodocument)) your component. You can also do it with [enzyme](https://github.com/airbnb/enzyme/blob/master/docs/api/mount.md)

[2017-03-31 10:38] #3235 closed

[2017-03-31 10:57] DzoQiEuoi opened #3236 "It's impossible to reset modules when using ES6 import syntax"
If you are using ES6 import syntax, there is no way to reset modules between tests. The only workaround is to put tests in different files, or switch to non-standard require syntax.

For example, the following test suite will fail due to shared state:

[code]

Event using the resetModules option will not reset five because the reference has already been created.

There should be an option to run e

[2017-03-31 11:28] luispuig commented on #1650
Maybe it's not possible, but it would be great.

I really don't like that behavior. I eve prefer filename.test.js.snapshot

The proposal of config a relative path won't work becouse each file is in diferente place on the structure. Maybe is ok for what I just sayed. But honestly, I prefer to have no option to config it. It's better to have a convention and push community to use it. It reduces fati

[2017-03-31 17:05] rchanou commented on #3232
Here's all seven arguments that get sent to the bugged async spread function:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-03-31 17:07] trevordmiller commented on #3233
It's not about an individual project, but CLI use in general. `-w` for watch seems to be a standard:

- babel: https://babeljs.io/docs/usage/cli/
![image](https://cloud.githubusercontent.com/assets/5497885/24560843/906aad66-1601-11e7-9a92-0516124e2e38.png)

- webpack: https://webpack.js.org/api/cli/
![image](https://cloud.githubusercontent.com/assets/5497885/24560826/7f3c7ac4-1601-11e7-818b-6ebec9

[2017-03-31 17:12] wesleyhall commented on #1650
@luispuig

I think (more of less) the "filename.test.js.snapshot" thing is what I am talking about anyway. Essentially, just write the exact same files that are being written now, as siblings to the test files rather than in the \_\_snapshots\_\_ subdirectory.

I think I have decided that I will probably just fork jest, and simply remove the subdirectory hardcoded string in the line of code I link

[2017-03-31 17:29] rchanou commented on #3232
Never mind! Reading through the docs, I guess this is how I'm supposed to do it, which works:
[code]

[2017-03-31 17:29] #3232 closed

[2017-03-31 18:08] ljharb commented on #1650
@wesleyhall please file the PR to jest if you write the code; it will help the discussion if a tested, clean PR exists that allows the location of snapshots to be configured.

[2017-03-31 19:08] thymikee commented on #3234
There's an answer on SO: https://stackoverflow.com/questions/43137058/jest-with-react-native-getting-issue

[2017-03-31 19:08] #3234 closed

[2017-03-31 19:45] thymikee commented on #3214
Do you have `git` installed?

[2017-03-31 19:46] meetbabu commented on #2550
@dKab is it working for you? I have the same problem and the suggested fix is not working,  tried both
`"transformIgnorePatterns": [
  "node_modules/?!(@swish)"
]`
and
`"transformIgnorePatterns": [
    "<rootDir>/(node_modules)/"
  ]`
`@swish` is my internal library. still getting the same error

[2017-03-31 19:49] thymikee commented on #2550
@meetbabu if you want to whitelist `@swish` so it gets transformed, use:
[code]

`(?!)` is a regex negative lookahead, you can go to http://regexr.com/ and tweak your regex as you like :)

[2017-03-31 19:54] thymikee commented on #3215
Create a npm script and don't think about it?
[code]

[2017-03-31 20:10] meetbabu commented on #2153
@MathieuDoyon were you able to resolve the issue?, I have the same/similar issue, I have my internal library under node_modules and getting `SyntaxError: Unexpected token` error

[2017-03-31 20:12] meetbabu commented on #2550
thanks @thymikee, even with the right expression I am still getting the error, here is my jestconfig.json
[code]
I have a simple file that uses a simple library in `@swish` and I am getting the below error
[code]
any advice where to look for the fix?

[2017-03-31 20:15] thymikee commented on #2550
Include JS files in your transform:
[code]

[2017-03-31 21:46] paularmstrong opened #3239 "Allow console.error/warn/log to be overwritten in tests"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Due to the `BufferedConsole`, it's impossible to overwrite `console.error`, `console.log`, `console.warn` and `console.info`.

Use Case: We'd like to be able to have `console.error` and `console.warn` throw errors and fail tests.

**If the current behavior is a bug, please provide the steps to repr

[2017-03-31 22:47] wesleyhall commented on #1650
@ljharb

Having had a bit more of a look at this, I actually think it might be a relatively straightforward change.

The engine of the whole snapshot affair is the SnapshotState class defined in State.js inside the jest-snapshot package. If you look at the constructor (https://github.com/facebook/jest/blob/master/packages/jest-snapshot/src/State.js#L48), you'll see that the snapshot path attribute

[2017-03-31 22:48] jwbay commented on #3236
Resetting the module registry doesn't do any good if you don't re-import or re-require the module afterward. See examples at https://facebook.github.io/jest/docs/jest-object.html#jestresetmodules. I think your options are to use `require` or the fancy new `import()` syntax.

[2017-03-31 23:19] #3228 closed

[2017-04-01 01:35] ljharb commented on #1650
@wesleyhall Thanks! (http://nvm.sh and `nvm install node` should theoretically get you a functioning environment unless you're on Windows)

[2017-04-01 02:01] wesleyhall commented on #1650
@ljharb :) Well, not a vet but I can get a little further than that ;).

It's more about the yarn link stuff, and getting my local version to properly reflect in a separate project that I can use to test the changes. The contributor docs talk a little about this and linking up the jest-cli module. This didn't work for me at the first attempt, but probably something silly and obvious.

The bigger p

[2017-04-01 02:34] wyze commented on #1650
Don't let the number of results scare you when you search for a config key like that. You probably get results for the `src` and `build` directories, along with the types for the key.

I have most of the code changed to add this functionality. I need to actually test it then write some tests. I won't continue if you would like to dig in deeper and solve this yourself, and I can help point you in t

[2017-04-01 04:10] meetbabu commented on #2550
thank you @thymikee, it is working with these changes.

[2017-04-01 07:38] luispuig commented on #1650
@weslyhall @wyze

Thanks a lot for your work. I really believe this important feature will close the discussion on a good mood.

[2017-04-01 13:54] wesleyhall commented on #1650
@wyze

No, please by all means continue. I can look at your PR and see how close (or far) I was :).

I haven't really looked much into the whole flow stuff yet, so there are some gaps in my experience here. Really only started any serious JS work in January of this year, so yeah, n00b :). 20 years on the JVM though. It's all just zeros and ones at the end of the day ;).

I might stick around and l

[2017-04-01 14:14] wyze commented on #1650
No problem!

I've been working with Reason lately and starting to get to writing snapshot tests for my components, but the problem was when the `.re` files get converted to `.js` they are output in another directory. So my snapshots end up in a directory that is in my `.gitignore` because they are generated test `.js` files.

This option is exactly what I am looking for so I can store my snapshots

[2017-04-01 14:22] thymikee commented on #3239
Use [mocking function](https://facebook.github.io/jest/docs/mock-functions.html#content) `jest.fn()`:
[code]

[2017-04-01 14:22] #3239 closed

[2017-04-01 14:24] wesleyhall commented on #1650
@wyze

Excellent. Thank you again.

Small suggestion having looked at the PR. One of the things I actually wanted to do was get rid of the \_\_snapshots\_\_ directory by configuration. It's all subjective of course, but I don't really like these double underscore directories. The PR looks like it still requires this style though.

If you restore the:

`this._snapshotPath = snapshotPath || getSnaps

[2017-04-01 14:32] thymikee commented on #3236
Just as @jwbay said (thanks ❤️). Use `require()`, it's definitely not _"non-standard"_.

[2017-04-01 14:32] #3236 closed

[2017-04-01 14:57] wesleyhall commented on #1650
@wyze

Just realised I misread that a bit. The snapshot path attribute should be the full file path not just the directory of course.

Could also change:

`path.join(snapshotPath || path.dirname(testPath), '__snapshots__'),`

from the getSnapshotPath function to something like:

`path.join(snapshotPath || path.dirname(testPath) + '__snapshots__'),`

I.e. take the specified path if given, or instea

[2017-04-01 17:43] wtgtybhertgeghgtwtg commented on #3233
They do, and maybe `jest` should have, but it's a pretty trivial reason for a breaking change.

[2017-04-01 19:44] trevordmiller commented on #3233
No worries, just thought I'd suggest it :) Thanks for all the great work with Jest.

[2017-04-01 19:44] #3233 closed

[2017-04-02 05:56] vijayst opened #3244 "Async tests does not report failure correctly"
I am using the latest version of Jest in Mac.

The below async test fails alright. But it is not giving the failure report correctly. It fails because the test timed out after the default 5 seconds.

[code]

![screen shot 2017-04-02 at 11 23 15 am](https://cloud.githubusercontent.com/assets/3457565/24584791/075ef1fc-1797-11e7-8ef6-d7a3c846fa9b.png)

I can understand how it works / and why it works

[2017-04-02 06:05] thymikee commented on #3244
This a duplicate of https://github.com/facebook/jest/issues/2059. Expect throws, so done cannot be reached. For now you need to catch the error and call done.fail.

[2017-04-02 06:05] #3244 closed

[2017-04-02 06:12] SimenB commented on #3219
You can use `import('./mod2']).then(validate => ())` and https://github.com/airbnb/babel-plugin-dynamic-import-node to have dynamic import work with jest.
Note that this required Webpack 2 to give code splitting

[2017-04-02 06:14] SimenB commented on #3202
@brendonco you have `"modules": false`, you have to activate that plugin for tests.

[2017-04-02 08:27] max-mykhailenko commented on #3202
I already add another environment to `.babelrc` for tests

[code]

[2017-04-02 08:28] SimenB commented on #3202
did you try calling it `test` and not `testing`?

[2017-04-02 16:28] jeremija commented on #377
I encountered a similar issue with `jest.useFakeTimers()`. The following test works fine:

[code]

If I replaced the `require` call with `import Promise from 'bluebird'`, the test would fail.

[2017-04-02 21:49] mpontus commented on #3169
@cpojer Progress update. All package source files except for the two below now have flow annotations:

https://github.com/mpontus/jest/tree/issue-3169-flow/packages/jest-changed-files/src/index.js
Following condition is preventing this file from being annotated:
https://github.com/mpontus/jest/tree/issue-3169-flow/packages/jest-cli/src/SearchSource.js#L213
[code]
I don't know how to make flow reco

[2017-04-03 03:33] FredrikNoren commented on #2046
+1 on this issue. I'm generating screenshots using nightmare which I want to compare to the expected look. I've hacked something on top of Jest to accomplish this for now (using the snapshot serializer) but it's terribly hacky. I would suggest re-opening this issue.

[2017-04-03 05:26] thymikee commented on #2046
@FredrikNoren this is interesting, can send a PR so we can discuss and iterate on the idea?

[2017-04-03 07:45] max-mykhailenko commented on #3202
@SimenB I also run all test with `testing` environment. `packages.json` looks like
[code]

[2017-04-03 12:45] FredrikNoren commented on #2046
@thymikee I only have a hack right now, I'll see if I can find some time to write a proper implementation in jest

[2017-04-03 15:55] paularmstrong commented on #3239
@thymikee This isn't working as expected either, using a global setup file:

in `"setupTestFrameworkScriptFile": "<rootDir>/tools/jest/setup-framework.js"`
[code]

In test:
[code]

[2017-04-03 16:42] #2714 closed

[2017-04-03 16:52] lucasbento commented on #2488
I was having the same issue, shouldn't Jest ignore those transforms on react-native since they are all using ES6+?

[2017-04-03 16:53] thymikee commented on #2488
Ask the question on react native repo ;)

[2017-04-03 16:55] lucasbento commented on #2488
@thymikee: can you please elaborate how and why this question belongs to _react native repo_ instead of here?

[2017-04-03 16:56] thymikee commented on #2488
Sure, react native maintains its preset, which you're probably using.

[2017-04-03 19:26] felipeochoa opened #3247 "Hierarchical output with --json"
Currently, if I run `jest --json`, the result includes a single (flat) `assertionResults` array for each test suite. Is there any way to make `--json` output reflect the `define` structure instead of flattening it out?

I'm building a custom integration for emacs and would like to match the output to what jest typically shows. The flattening approach also runs into trouble when two test cases have

[2017-04-03 20:21] tutts commented on #2567
[code]

in case anyone copy pastes this and sees it failing in CI (circle/gitlab) and not their local, make sure `React` is a lowercase `react`

[code]

[2017-04-03 20:44] dmitriiabramov commented on #3169
i think @wtgtybhertgeghgtwtg is working on the jasmine part right now

[2017-04-03 21:01] dmitriiabramov commented on #3239
i just tried it and it worked:

[code]

[code]

result:
[code]

[2017-04-03 21:07] dmitriiabramov commented on #3247
hm. i'm not sure if we can do this right now, but i'm sure we can have it after the custom reporters work is done (https://github.com/facebook/jest/pull/3064) and when @wtgtybhertgeghgtwtg replaces jasmine :)

[2017-04-04 00:42] sylhero opened #3249 "jest doesn't fail test case"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
tests are always passing

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

**What is the expected behavior?**
jest should mark the te

[2017-04-04 02:38] dmitriiabramov commented on #3249
you should return the promise from the test to make it fail
On Mon, Apr 3, 2017 at 5:42 PM YULONG SONG <notifications@github.com> wrote:

--
Dmitrii Abramov
www.abramov.io

[2017-04-04 02:41] sylhero commented on #3249
@dmitriiabramov even with this line  `expect(false).toEqual(true)` ?

[2017-04-04 04:38] thymikee commented on #3249
With every promise. `expect` throws an Error, so you either have to catch it with returned promise, or with `done()/done.fail()` callback.

[2017-04-04 07:58] #3249 closed

[2017-04-04 08:15] Vladimir37 opened #3250 "Test promises"
The documentation says that work with promises is available from version 20.0.0+ - https://facebook.github.io/jest/docs/asynchronous.html#promises
But latest version Jest on GitHub and npm is 19.0.2. How then can we test promises?

[2017-04-04 08:17] thymikee commented on #3250
You just need to return the promise and Jest will handle all async work inside:
[code]

[2017-04-04 08:19] thymikee commented on #3250
I didn't notice that there's only `resolves` in docs now. We should definitely bring back the old-fashioned way of testing promises.

[2017-04-04 14:55] thymikee commented on #2838
You can send a PR to react native. This is quite interesting. We could also include this somewhere in our docs

[2017-04-04 17:52] thomashuston opened #3251 "Unhandled Promise Rejection Logging"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
When writing unit tests that involve promises, if a developer does not return the promise (or use `async`/`await`), uncaught rejections bubble up to Node's default `unhandledRejection` handler. For example:

![image](https://cloud.githubusercontent.com/assets/733696/24670466/1c6fb76a-193c-11e7-9e7c

[2017-04-04 18:28] thymikee commented on #3251
Hm, something like this might be handy.
cc: @dmitriiabramov @rogeliog

[2017-04-04 18:31] rogeliog commented on #3251
Yeah, this is a really good point... Even if Jest was not clearing the console I think that the default `UnhandledPromiseRejectionWarning` is not super intuitive and makes it a bit hard to figure out the error

[2017-04-04 18:31] stephenlautier opened #3252 "jest-resolve fail to resolve json files"
**Do you want to request a *feature* or report a *bug*?** *bug*

**What is the current behavior?**
Currently when there are any dependencies which `require` `.json` files, and not explicitly specifying the type `.json` (not sure if it matters), jest-resolve is throwing an error as following:

[code]
This is the library which throws the error
https://github.com/betit/known-css-properties/blob/maste

[2017-04-04 18:33] thymikee commented on #3252
Does this help? https://github.com/facebook/jest/issues/3044

[2017-04-04 18:33] gaearon commented on #2978
Is there a way to disable this feature until it is more solid? We'd like to ship Jest 19 in the next `react-scripts` update but IMO this will be confusing and users will just remember not to use it, so it will be harder to get them to discover it again when it's fixed.

[2017-04-04 18:34] gaearon commented on #2978
(Another reason I'd like to disable it is because it can crash randomly: https://github.com/facebook/jest/issues/2979)

[2017-04-04 18:37] gaearon commented on #2978
The reason I'm being a little bit obnoxious here is because I care deeply about the quality of Jest integration. Jest has had very weird issues in the past, and it took a lot of effort from @cpojer and @dmitriiabramov to get it to the point where it’s good enough to be bundled by default in CRA. I’d like to make sure that we don’t drop that quality bar over time now that Jest *is* bundled. Unfortu

[2017-04-04 18:37] stephenlautier commented on #3252
@thymikee precisely, that fixed it!

I had searched quite a bit and didn't find that :(
Not sure if it's documented anywhere but it took me quite some time to figure what was going wrong in the first place.

@thymikee many thanks, especially for the super fast reply :+1:

[2017-04-04 18:37] #3252 closed

[2017-04-04 18:39] thymikee commented on #3252
Glad it helped! 🙂

[2017-04-04 19:03] thymikee commented on #2978
What about hiding it form _Watch Usage_ prompt until we make it work flawlessly? It would still be there but just hidden, because it's like still experimental feature?

[2017-04-04 20:01] gaearon commented on #2978
Yes, that would be perfect for us!

[2017-04-04 20:02] gaearon commented on #2978
(I guess you could still trigger it accidentally but I'm fine with that)

[2017-04-04 20:03] thymikee commented on #2978
Yeah, but it still tells you how to exit :D

[2017-04-04 20:07] thymikee commented on #2978
Or, maybe it makes sense to change the wording?
[code]

[2017-04-04 20:26] gaearon commented on #2978
I don't know, up to you. I'd probably just hide it while it's confusing since it takes screen space.

[2017-04-04 20:28] thymikee commented on #2978
PR addressed. btw, with next release space won't be a big deal

<img width="267" alt="screen shot 2017-04-04 at 22 27 37" src="https://cloud.githubusercontent.com/assets/5106466/24677126/fe8224c8-1985-11e7-9fe0-f25d3588af93.png">

[2017-04-04 20:28] gaearon commented on #2978
Oh, that's nice. 👍

[2017-04-04 21:32] maraisr opened #3254 "Bug: Watch mode on Linux causes a ENOSPC Node.js error"
**Versions:**
- Yarn: v0.21.3
- Node: v6.9.2
- npm: 3.10.9
- Ubuntu: 16.10

**Installed using**: `yarn global add jest` (With a `chown` at `~/.config/yarn/global/node_modules/`)

**Command failed:** `jest -c lib/tools/testing/jest.config.json --no-cache --watch`

**Error message:**

[code]

**Tmp dir:** `yarn config set tmp /tmp/`

**Disk free space:** `df -h /` (11% used)

**Jest config:** at `li

[2017-04-05 00:15] 0x24a537r9 commented on #2202
Reading through this thread is a bit of a trip, since the past week I've independently followed pretty much every bit of the same winding path, starting from wanting a shape matcher, moving to a diff of diffs approach, then trying to just `pretty-format` to serialize and `js-diff` to diff the strings, then realizing that ends up either excluding all context (if you render unchanged hunks as "...")

[2017-04-05 05:29] xareelee opened #3257 "`toBeInstanceOf(String)` not work"
The following expectation doesn't work as expected.

[code]

Test output:

[code]

I did not find any docs or issue about this. How do I test whether a value is a String type?

[2017-04-05 05:51] thymikee commented on #3257
`'hello'` is not an instance of String. `new String('hello')` is.

You can test types like this:
[code]

[2017-04-05 05:51] #3257 closed

[2017-04-05 08:11] devhyunjae commented on #3108
@Hosar Any good news? Having the same problem, `--no-cache` doesnt' work for me

[2017-04-05 11:36] DimitryDushkin commented on #3202
I found this error after recent babel update. Fixed by removing default `preset` and making separate presets for test, developent and production.

[2017-04-05 11:37] DimitryDushkin commented on #3202
@max-mykhailenko try `NODE_ENV=testing jest`.

[2017-04-05 12:07] stephenlautier commented on #1986
We have a similar problem, we are importing `stylefmt` and it's taking around 4-5s to get resolved using `console.time` as below

[code]
It seems this happens when its using `jest-resolve`, when I used jasmine/node normally on the same exact project its taking around 1-2s

Not entirely sure if its related or if jest have a threshold but after loading this specific test its failing other tests with

[2017-04-05 13:28] lucasbento opened #3260 "Coverage downgraded 24.49% after switching from Jest ^18.1.0 to ^19.0.2"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Jest `^18.1.0` was reporting a coverage of `83.1%` on Jest `^19.0.2` it reports only `58.6%`, `-24.49%` of coverage between the versions, the report looks pretty much the same (see the images below).

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo th

[2017-04-05 16:50] dmitriiabramov commented on #3251
yea! I remember we already thought about it in the past, but couldn't implement it because of Jasmine dependency. Now that we started migrating away from jasmine i think it'd be pretty easy to implement!

[2017-04-05 17:47] vjeux opened #3262 "Better error message for removed tests"
Right now it shows:

[code]

Would be nice to change `npm test` to what I actually wrote to run it. You can get it via `process.argv`.

[2017-04-05 17:59] thymikee commented on #3262
`process.argv` won't show a reference to `yarn`, but to `node` :(

[2017-04-05 18:00] vjeux commented on #3262
Noooo :(

[2017-04-05 18:11] thymikee commented on #3262
@vjeux good news! https://github.com/facebook/jest/pull/3263

[2017-04-05 18:20] dmitriiabramov commented on #3260
this is likely related to some other packages that were updated (istanbul, babel)

if you look at the detailed coverage
<img width="1304" alt="screen shot 2017-04-05 at 11 18 22 am" src="https://cloud.githubusercontent.com/assets/940133/24720332/b191e916-19f1-11e7-9302-5cf5d43d0298.png">
the newer version does a better job instrumenting the file and taking into account additional lines (the red hi

[2017-04-05 18:20] tlubz commented on #3250
I don't see anywhere in the documentation that v20.0.0 is not available anywhere. I spent a good deal of time trying to figure out why `expect.resolve` wasn't available, or where I could find v20+. Seems like this is kind of a documentation issue.

Is v20.0.0 just conceptual at this point? If so, why is there documentation for it? if not, how do we get the code?

[2017-04-05 18:21] #3250 closed

[2017-04-05 18:23] thymikee commented on #3250
@tlubz v20 is the next major of Jest, which will be rolled out from `master` branch.

[2017-04-05 18:26] lucasbento commented on #3260
@dmitriiabramov: thanks for answering back.

What can I do about it at the moment? Should this be considered a bug on Jest since it uses those packages? Should I open an issue somewhere else?

Thank you!

[2017-04-05 18:30] dmitriiabramov commented on #3260
@lucasbento i'd say it looks more like the issue was fixed, and now you get a more accurate coverage report :)
If you have a threshold on your CI it probably makes sense to lower it (if it's failing right now)

[2017-04-05 18:37] lucasbento commented on #3260
@dmitriiabramov: alright, gonna close this issue and merge the PR.

Thank you again!

[2017-04-05 18:37] #3260 closed

[2017-04-05 20:22] msteitle commented on #1893
Greetings. It's April 5th and we are still experiencing this issue on Jest 19.0.2. Originally when running jest, I was up to 500s and 1.6Gb ram usage per concurrent test when I ran out of patience and killed jest.

After removing `babel-polyfill` from our project, running jest still actually passes, but it's still slow, and heap size still continuously increases. But now, when Jest completes, the

[2017-04-05 20:24] thymikee commented on #1893
Can you try `jest@next` for now and see if it helps?

[2017-04-05 20:33] jedmao commented on #1893
What's the hold up on a patch release?

[2017-04-05 20:37] thymikee commented on #1893
@cpojer's time off mainly. Although there's a chance we could roll out 19.1, but @dmitriiabramov is the one to decide.

[2017-04-05 20:43] msteitle commented on #1893
@thymikee I'll give it a try.

[2017-04-05 21:36] #3262 closed

[2017-04-05 22:37] felipeochoa commented on #3247
Thanks for the pointer! That led me to facebook/jest#104, whose approach I think I can adopt (with a custom reporter) in the meantime.

[2017-04-06 00:46] quasor commented on #2029
@thymikee why was this issue closed?

[2017-04-06 04:19] sohibul commented on #2742
@leftdevel did you solve this?

[2017-04-06 04:37] danielsiwiec opened #3264 "Feature: Show coverage per folder"
Given a folder hierarchy:
[code]

I'd like to see code coverage summary on each level, e.g.

File | % Stmts | % Branch |  % Funcs |  % Lines |Uncovered Lines |
----|---------|-----------|----------|---------|------------------|
/src|
**/src/customer**|
/src/customer/find|
/src/customer/merge|
/src/customer/create|
**/src/order**|
/src/order/create|
/src/order/validate|
**/src/catalog**|
/src/catal

[2017-04-06 05:35] max-mykhailenko commented on #3202
@DimitryDushkin I already do that and shown working `.babelrc` config for webpack@2 and jest

[2017-04-06 06:06] thymikee commented on #2029
Let's keep this open untile we find proper solution or fix the `gl` lib.

[2017-04-06 12:27] PeteDuncanson commented on #3121
How to know which ones need "slashing up" and which ones are deeper issues? Is it just a case of diving in or are there some pointers for what to look for?

[2017-04-06 12:28] PeteDuncanson commented on #2381
Related: #3121

[2017-04-06 12:29] PeteDuncanson commented on #2845
Looks like another one that might be fixed with the slash package as per #3121

[2017-04-06 15:06] tlubz commented on #3250
@thymikee thanks for the info. cant wait for the next release!

i understand why you would have docs for v20 features in the `master` branch of this repo, but what i'm curious about is why the official public jest docs, e.g. https://facebook.github.io/jest/docs seem to point to `master` rather than the docs from the latest stable release, e.g. `v19.0.2`?

[2017-04-06 16:23] leftdevel commented on #2742
@sohibul. Yes, I had the wrong jest-cli version. If you check my package.json you'd notice some jest-cli and jest-webpack entries at version 0.82. For some reason npm install didn't complain, I guess the jest package should make sure the right dep versions are met. Let me know if that helps.

[2017-04-06 21:04] Faegy opened #3265 "Promise tests keep running"
# Introduction
As part of an integration test with a database handled by [mysqljs](https://github.com/mysqljs/mysql) we are trying to test the connection as a `Promise`. Those tests were previously successfully handled by mocha. Now that we've switched to jest, a testing issue occurs that prevents the global testing process to finish. It may be important to underline the fact that I'm only new to

[2017-04-06 21:21] thymikee commented on #3265
Shouldn't you call `connection.end()` somewhere? E.g. in `afterAll()` hook.

[2017-04-06 22:49] thomb commented on #607
FWIW Here is the transformer I put together to get jest running with `transform-flow-strip-types` after `npm install --save-dev babel-plugin-transform-flow-strip-types`

[code]

[2017-04-06 22:54] Faegy commented on #3265
According to the [documentation](https://github.com/mysqljs/mysql#pooling-connections) you only need to call `connection.release()`:

This is being called in my `Database.test.js` on line 22 within a `try/catch` block.

[2017-04-06 23:49] hramos commented on #607
Ooof, I wasn't aware this was an issue people might need help with. If you still think this should be documented, feel free to open a new issue and assign it to me.

[2017-04-06 23:52] thomb commented on #607
The only reason I commented here (which I now realize was closed, my bad) is the last comment saying "yeah, we should document this!"

[2017-04-06 23:57] hramos commented on #607
Yeah! That is on me to document. Unfortunately it's not been on my mind as the issue is closed.

[2017-04-07 00:08] joaoreynolds commented on #2070
+1, is there a way to fix this?

[2017-04-07 00:18] ryanjadhav commented on #2070
+1

[2017-04-07 03:55] sugatmahanti commented on #1652
I still get `ReferenceError: window is not defined` even after using `jest-environment-node-debug-fixed`.  😢

[2017-04-07 05:00] thymikee commented on #607
@thomb `transform-flow-strip-types` plugin (or `flow` preset) just works with Jest when added to your Babel config.

[2017-04-07 05:22] thymikee commented on #3250
cc: @hramos

[2017-04-07 07:29] NikhilVerma commented on #1652
@sugatmahanti Did you get a chance to try the steps I mentioned here? https://github.com/facebook/jest/issues/1652#issuecomment-281985580

[2017-04-07 09:47] Faegy commented on #3265
On further investigation, it looks like this only occurs with pooled connections as working with single connection works.
### `Database.js`
[code]

### `Database.test.js`
[code]

[2017-04-07 09:52] Faegy commented on #3265
Finally found the issue, it was `Pool.end()` being required but badly positioned. Weir that it still passed mocha...
All my apologies. This was indeed an error of mine.

[2017-04-07 09:52] #3265 closed

[2017-04-07 09:57] thymikee commented on #3265
It's possible, that mocha's default behaviour is similar to Jest with `--forceExit`. But as you can see this can lead to leaky tests. Glad you solved the problem 🙂

[2017-04-07 12:16] TobiasBales commented on #2979
I just ran
[code]

[2017-04-07 15:36] SimenB commented on #3198
https://github.com/facebook/jest/pull/2509#discussion_r94796941

[2017-04-07 15:47] nickmccurdy commented on #3198
Interesting. I'm personally still in favor of updating `globals` upstream so a Jest env can be used without installing Jest's eslint plugin, assuming the globals are sticking around. Or if it's preferred we could avoid touching this until the globals are replaced with imports.

[2017-04-07 15:52] SimenB commented on #3198
I'm in favour of globals over the current solution, but a global-less api would be so much better.

[2017-04-07 16:37] jakubzitny commented on #1874
Any update on this, anyone? We're still getting this on CI, it's quite annoying.. 😭

[2017-04-07 17:45] phil-r commented on #652
@jzaefferer Add it to the test file itself

[2017-04-07 17:53] gdborton opened #3266 "afterAll hook hides errors."
**Do you want to request a *feature* or report a *bug*?**

Bug 🐛

**What is the current behavior?**

Errors thrown in `afterAll` are caught somewhere in Jest, and can cause a test suite to fail silently.

See the repl here - https://repl.it/HAYG/1

**What is the expected behavior?**

The `afterAll` hook should respect errors that are thrown, the same way that `beforeAll` does.

**Please provide yo

[2017-04-07 21:20] uxtx commented on #2090
any movement on this? I might try to work on this if not.

[2017-04-07 21:59] thomashuston commented on #3251
@dmitriiabramov when you guys thought about this before, did you have anything specific in mind?

[2017-04-07 22:08] ljharb commented on #3266
In addition, this functionality is critical for global `afterAll` things like "fail the test if the test author failed to do some kind of critical cleanup task".

[2017-04-07 23:37] dmitriiabramov commented on #3264
i agree that would be nice! The report is generated by istanbul and there's nothing really we can do here.
It would be nice to have some nice custom html report generator, but i don't think we have any plans for this in the nearest future

[2017-04-07 23:37] #3264 closed

[2017-04-07 23:47] dmitriiabramov commented on #1874
i tried to debug it and stress test with multiple concurrent writes and wasn't able to reproduce. What i noticed is that it almost never happens on hot cache. What happens on our CI servers is that we get this failure on the first day after we check in a new test, and then it goes away after a few days.

[2017-04-07 23:53] dmitriiabramov commented on #3251
i think the easiest way to implement something like this is to have a global handler and save all unhandled errors to a test state.
then when all tests are done, check the state, if there's any errors, fail the test and log them

[2017-04-07 23:56] dmitriiabramov commented on #3266
yes! we absolutely need this!
We inherited this behavior from jasmine, but now since we started the migration away from it we can actually fix it.

[2017-04-08 00:06] ljharb commented on #3266
It could presumably be fixed upstream in jasmine as well?

[2017-04-08 01:32] gdborton commented on #3266
Does jest not use jasmine internally?  It looks like this works as intended in jasmine 2.5 at least.

[2017-04-08 02:07] gdborton opened #3268 "After hooks fired in an inconsistent order."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

After hooks are run in an inconsistent order. `afterEach` hooks are run in reverse order, while `afterAll` hooks are run in the same order that they're added.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or

[2017-04-08 05:34] Alex1990 commented on #3114
When I upgrade node from `5.12.0` to `6.10.2`, this error is disappeared.

[2017-04-08 10:37] jakubzitny commented on #1874
Thanks for the info @dmitriiabramov. How do you cache on CI though? We have a fresh docker image for each test job on (GitLab) CI. I am not sure how to cache there, do you have any suggestions on that, please?

We deal with this by manually retrying the test that fails on this. It happens roughly 1 in 10 CI pipelines. Not sure if it's related to CI runner load.

I saw that you added `logTransformE

[2017-04-08 11:40] cpojer commented on #3198
We'll keep both updated. The globals package isn't great and adds maintenance burden to the owner of that package. It's not really that much overhead to keep the list of globals in sync, especially as we are trying to reduce the amount of globals.

[2017-04-08 11:40] #3198 closed

[2017-04-08 15:20] bf commented on #2441
This issue really sucks, wasting a lot of time on this issue and nothing seems to work. I picked jest because I thought Facebook engineers had a decent test suite and now this...

[2017-04-08 15:21] bf opened #3269 "console.log does not output when running tests"
Same as #2441

console.log() is not showing in complex async tests even though I disabled --verbose.

[2017-04-08 15:39] #3269 closed

[2017-04-08 16:51] MattCopenhaver commented on #2090
@uxtx Please do!  Sorry I have not had time to make any meaningful progress.

[2017-04-08 18:07] th3fallen opened #3270 "Deprication Warnings from spec files? with react 15.5"
**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?**
receive ```  console.error node_modules/fbjs/lib/warning.js:36
    Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.``` from running tests dispite them being updated

**If the current behavior is a bug, please provide the steps to reprod

[2017-04-08 18:12] thymikee commented on #3270
This is probably coming from Enzyme (related PR https://github.com/airbnb/enzyme/pull/876) or other library.

[2017-04-08 18:12] #3270 closed

[2017-04-08 18:13] th3fallen commented on #3270
That was my first thought but this test isn't using enzyme?

[2017-04-08 18:17] thymikee commented on #3270
This test also doesn't feature any React code, and yet it logs the error? Something somewhere has to reference it, and it's certainly not a fault of Jest.

[2017-04-08 18:18] th3fallen commented on #3270
Touche... Thanks for the input :)

[2017-04-08 18:30] uxtx commented on #2090
No problem! I've got some time this weekend. I'm thinking this should be a config option you could set in package json... maybe something like `throwOnConsole` that would accept either an array of console types to error on or Boolean to throw on all/none console errors... defaulted to false. Thoughts?

[2017-04-08 19:39] MattCopenhaver commented on #2090
My thoughts exactly.

[2017-04-08 21:27] danieljuhl commented on #1893
@thymikee I was facing the same memory issue and then very slow tests. I made a fresh install of `node_modules` and then `jest@next` - my tests went from ~750s to ~125s and memory was stable around 800mb per worker (previously hitting the limit of 1.45gb per worker)

[2017-04-08 21:42] paul42 commented on #3251
@dmitriiabramov would it be possible to save the stack trace for the errors as well? if you're messy like I am and coming back into some code after time away and you're not certain where your tests are timing out at, it just takes longer. Thanks in advance!

[2017-04-08 22:33] nickmccurdy commented on #3198
👍 Would it make sense for me to send `globals` a pull request that replaces its hard coded Jest globals with the ones defined in this package dynamically? Also, is it safe to assume that the globals currently in the `globals` package are outdated and the Jest plugin doesn't need to have its globals updated?

[2017-04-09 03:19] cpojer opened #3272 "Investigate usage of yarn.lock in packages/*"
They are gitignored but we should probably only npmignore them.

[2017-04-09 04:32] sudhanshuraheja commented on #652
5000 works well as a global config, if you want to change the timeout for a specific test, please do this

    test("test an API which takes time", () => {

        doYourThing()

    }, 10000)

[2017-04-09 07:23] excitement-engineer opened #3273 "Inconsistency in the docs and the examples"
PR #3172 updated the docs to include the new `.resolves` and `.rejects` keywords for running assertions on Promises.

I noticed that this PR introduced some inconsistencies in the updated Error Handling section of https://github.com/facebook/jest/blob/master/docs/TutorialAsync.md. There is a screenshot of this section below:

<img width="929" alt="screen shot 2017-04-09 at 09 11 46" src="https://c

[2017-04-09 18:05] mpontus commented on #3169
Just rebased my changes on top of the master.
https://github.com/mpontus/jest
Removing 'use strict': https://github.com/mpontus/jest/commit/96ebb1c0c55e26ca357788ec40d34d1ae4d402f6
Adding @flow: https://github.com/mpontus/jest/commit/8c38f31023a2abfce2c21a81afb95f9f1a328761

**Current issues**:
1. This file should not have 'use strict': https://github.com/mpontus/jest/blob/master/packages/jest-uti

[2017-04-09 20:00] cpojer commented on #3198
The globals should be in sync in both packages. I think making one depend on the other just adds unnecessary complexity. I also recall that a while ago the plan was to kill the globals package or put it in maintenance mode, so that is why the jest plugin provides an alternative.

[2017-04-09 20:25] cpojer commented on #2202
@0x24a537r9 That sounds really interesting and further proof that we need to do something here. Are you planning on creating a proof-of-concept renderer for React?

[2017-04-10 03:02] 0x24a537r9 commented on #2202
@cpojer So, yes and no.

Yes: I'm most of the way through building a diffReact module that uses the simpler `virtual-dom` project for the diffing (rather than React's virtual DOM diffing via a custom renderer). I already have tree canonicalization and diffing working--I'm just working through the last, most complex part: serialization in a way that shows the context of each change without unnecess

[2017-04-10 05:28] le0nik commented on #880
Still seeing this issue with this type of module

[code]

have to use this mock as a workaround(which also triggers duplicate mocks warning, but that's another issue).

[code]

It's consumed like this: `import * as plugins from './plugins'`

[2017-04-10 09:30] Faegy commented on #3265
Glad I switched to Jest to detect this 😄

[2017-04-10 09:48] phil-r commented on #652
@sudhanshuraheja thanks, that works ;) although I found a way to avoid doing that altogether

[2017-04-10 10:03] arcanis commented on #2202
Starting from Fiber (available as `react@next` on npm), writing custom renderers really is a bliss and doesn't really require any React knowledge anymore (everything can fit in a single file!). I've documented which functions need to be implemented [here*](https://github.com/manaflair/mylittledom/blob/master/sources/term/react.js#L232), if you're interested to take a look.

* Some functions might

[2017-04-10 11:13] xareelee commented on #2222
Same issue here.

I'm using Jest 19.0.2 with `react-native 0.43.2`. It was fine with `react-native 0.42.0`.

[2017-04-10 14:26] johann-sonntagbauer commented on #3069
@abdulhannanali I face the same problem. Had you any success so far? Maybe we could join forces.

What I found out so far:
The problem is caused be module resolution. jest runtime line 274 resulted in following state
[code]
componentRegistry Module resolved relative
[code]

componentRegistry Module resolved through NODE_PATH directory
[code]

As @gaearon already mentioned should the module ID be b

[2017-04-10 14:56] sugatmahanti commented on #1652
@NikhilVerma Thanks I did but once I ran the command, it didn't do anything. It opens the debugger and it immediately closes it with no message whatsoever.

[2017-04-10 17:40] gdborton commented on #3266
So I dug into this a bit, and it looks like Jasmine is assigning most errors to `Spec` instances, but afterAll errors get assigned to `Suite` instances (same in Jasmine master).

It seems that Jest is only looking at exceptions that happen in `Spec`s.

`afterAll` errors are handled here - https://github.com/facebook/jest/blob/master/packages/jest-jasmine2/src/jasmine/Suite.js#L156

Still looking f

[2017-04-10 19:23] gdborton commented on #3266
So, you can get the results of the suite here - https://github.com/facebook/jest/blob/master/packages/jest-jasmine2/src/reporter.js#L73

Unused argument is the result of the suite, which looks like this...

[code]

This doesn't match against the SpecResult type, nor does it have all the required fields for a `AssertionResult`.  This is starting to look like it'll require some cascading changes (ne

[2017-04-11 01:13] andyl opened #3277 "Can't access Discord"
I'd like to join the Jest discord chat, but the chat link on the bottom of the page doesn't work for me.

I've had good success joining 'rectiflux' from this page:
https://www.reactiflux.com/

Is there some trick to getting on the Jest chat ??

[2017-04-11 03:42] tmikeschu commented on #2855
@antonsamper I've been doing something like this to work around:

[code]

[2017-04-11 04:12] cpojer commented on #3277
The Jest chat is there, the channel is #jest.

From: andyl <notifications@github.com>
Reply-To: facebook/jest <reply@reply.github.com>
Date: Tuesday, April 11, 2017 at 2:13 AM
To: facebook/jest <jest@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [facebook/jest] Can't access Discord (#3277)

I'd like to join the Jest discord chat, but the chat link on the bottom of the

[2017-04-11 04:12] #3277 closed

[2017-04-11 08:33] cpojer commented on #3254
This means there is no space on your drive. Please cleanup your disk.

[2017-04-11 08:33] cpojer commented on #3231
What happens when you do `--no-watchman`?

[2017-04-11 08:34] cpojer commented on #3229
This should be a wontfix. I recommend you to call `jest.unmock('path/to/add')`.

[2017-04-11 08:34] #3229 closed

[2017-04-11 08:35] #3215 closed

[2017-04-11 08:36] #3219 closed

[2017-04-11 08:37] #3202 closed

[2017-04-11 08:37] cpojer commented on #3190
Closing this as wontfix for now, it is unlikely we'll get to this.

[2017-04-11 08:37] #3190 closed

[2017-04-11 08:38] cpojer commented on #3177
@mikaelbr did you have any suggestions for this?

[2017-04-11 08:40] cpojer commented on #3079
It seems like this is not a Jest issue but rather a Windows issue? What happens if you do `--no-watchman`?

[2017-04-11 08:40] #3046 closed

[2017-04-11 08:41] cpojer commented on #3046
We started to fork Jasmine. Feel free to hack on the jest-jasmine2 package!

[2017-04-11 08:42] #2850 closed

[2017-04-11 08:43] #2838 closed

[2017-04-11 09:04] maraisr commented on #3254
@cpojer  not sure if you read the issue, but;

was mentioned in there - disk space although reported as the issue, is actually not the issue.

[2017-04-11 09:15] TobiasBales commented on #2978
as of #3253 is this good to go for now?

[2017-04-11 09:19] cpojer commented on #2978
We should bring back this mode and fix it before actually releasing Jest 20 (which is still a little while off, it seems :) ).

[2017-04-11 09:21] TobiasBales commented on #2978
Will this be released as 19.x though?
Or is it considered a breaking change and will not be released until it's done "properly".

Asking for integration of jest 19 into react-create-app

[2017-04-11 09:49] Billy- commented on #2959
Hi @cpojer, any reason this was closed again? There doesn't seem to be any resolution/fix? You still haven't replied to my comments aimed at you above?

cc @thymikee

Many thanks.

[2017-04-11 10:43] cpojer commented on #2978
We are probably not going to make another release to Jest 19.

[2017-04-11 10:43] cpojer commented on #2959
I'm sorry, I meant to add some context but got side-tracked. I don't think at this point we'll be adding support for this feature, so I closed this issue.

[2017-04-11 12:09] Billy- commented on #2959
That's a shame. I can't use jest with my current stack because of this. :-1:

Also note another person with the same issue: #3213

[2017-04-11 12:13] cpojer commented on #2959
Hmm, that's not great. Maybe we should figure out what workaround might work for you. I'm a bit unsure why "CI=true jest --watch" didn't work. That may actually be a Jest bug, so I'm gonna reopen this issue but we'd appreciate PRs to fix this.

[2017-04-11 13:20] #3173 closed

[2017-04-11 13:31] thymikee commented on #3173
@cpojer I think we should start making prereleases (e.g. from master), like Yarn does.

[2017-04-11 15:00] th3fallen commented on #3177
on this topic, i think there may be a memory leak with the terminal-notifier on osx if you run a failing test and forget about it and leave it running for ~5m it will eat up a TON of ram, hit 6gb on my machine before i noticed and nixed it.

[2017-04-11 15:06] sleepingevil opened #3280 "@jest-environment jsdom not working"
I'd like to report a bug.

**What is the current behavior?**
When setting the jest environment to `node` in the package.json and using the `@jest-environment jsdom` docblock in a UI test, jsdom is not available.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `y

[2017-04-11 15:24] cpojer commented on #3280
This feature hasn't been shipped yet. It will ship in about a month.

[2017-04-11 15:24] #3280 closed

[2017-04-11 15:30] cpojer commented on #3173
On board with pre-releases but the next major for Jest may be in a month from now unfortunately.

[2017-04-11 15:34] kentcdodds commented on #3173
Ah, too bad. If I could get a pre-approved release with this that'd be great 😀

[2017-04-11 15:49] sleepingevil commented on #3280
Thanks for the quick response and the clarification. I expected it to work, because I found it in the documentation: https://facebook.github.io/jest/docs/configuration.html#testenvironment-string

[2017-04-11 16:05] cpojer commented on #3280
Ah, would you mind sending us a PR that adds "available in 20.0.0" just like we do in other parts of the docs? :)

[2017-04-11 16:19] Billy- commented on #2959
Ah, that's brilliant! Last time I was deving into the code base I was a bit overwhelmed but I'll take another look this week and try to get a PR submitted.

[2017-04-11 16:38] sleepingevil commented on #3280
Sure thing. :) https://github.com/facebook/jest/pull/3281

[2017-04-11 19:56] hug33k commented on #1003
Hi all,

I have a similar issue but the situation is quite "strange" to me...

### My config

`Env`:
[code]

`package.json` :
[code]

`.babelrc`:
[code]

`Toasts.js` (My test file) :
[code]

### Description

I'm using `babel-plugin-rewire` to mock `UUID` in my `Toasts.js` file.

When I set `collectCoverage` to `false`, it works.
When I set `collectCoverage` to `true`, it didn't work.

Do you have

[2017-04-11 21:00] tonyhallett opened #3282 "moduleFileExtensions for typescript should be changed in the documentation"
[From getting started - Using Typescript](https://github.com/facebook/jest/blob/master/docs/GettingStarted.md#using-typescript)

We are informed that in the jest section in package.json the moduleFileExtensions should be ["ts","tx","js"].

I just switched from js to ts and followed the advice and received an exception ( details irrelevant ).  Trawling through the require statements of the yeoman b

[2017-04-11 21:56] orta commented on #3282
I've PR'd a change for this #3283  - thanks

[2017-04-11 23:32] Daniel15 opened #3284 "Transforms are not ran on snapshotSerializers"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
[Snapshot serializers can be configured in the Jest config](https://facebook.github.io/jest/docs/configuration.html#snapshotserializers-array-string) as follows:
[code]

However, Jest does not appear to run the file through the `transform` script. This is blocking me from using Flow in my snapshot seri

[2017-04-12 00:51] richburdon opened #3285 "transformIgnorePatterns causes errors for npm linked packages"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Running simple tests works. Running tests that import npm linked packages causes errors; e.g.,

Couldn't find preset "react-native" relative to directory "demo/sub/ux/node_modules/my-linked-module/node_modules/react-apollo"

(My modules have no direct dep on "react-native", but there's a transitive dep

[2017-04-12 00:56] richburdon commented on #3285
The workaround is to install the transitive dependency in the current module:
npm install --save-dev babel-preset-react-native

[2017-04-12 02:49] elowes opened #3286 "What should I write to test the logged out branch?"
Why I write code like this can not test the logged out branch?
https://github.com/facebook/jest/blob/master/examples/jquery/__tests__/displayUser-test.js

[code]

[2017-04-12 04:18] #3282 closed

[2017-04-12 04:19] cpojer commented on #3286
This is not a help forum. Please see http://facebook.github.io/jest/help.html for how to get help :)

[2017-04-12 04:19] #3286 closed

[2017-04-12 05:23] rogeliog opened #3287 "testNamePattern typeahead polish"
This is a ticket to keep track of all the polish needed for the `testNamePattern` typeahead.

Open questions:
* What should happen when a it is already being filtered by the `testFilePattern`?
* Do we want to update how we show each "row" of the results?
* Should we use regex or fuzzy search?
* How can we make sure that we show the correct number of matching tests?

cc: @cpojer @zouxuoz

[2017-04-12 05:47] #3268 closed

[2017-04-12 05:50] cpojer commented on #3287
My thoughts:

* We should probably allow to make it so the two filters work together and potentially have a way to show that in the UI. Since we now collapse the Usage panel, we could probably print a line above that to show which filters are applied and add a way to clear them. cc @thymikee.
* Maybe. You are the expert.
* Fuzzy search. There is an issue for that somewhere on this tracker, I belie

[2017-04-12 05:53] cpojer commented on #3287
For the first one: we might need to amend the list of test results to add the testPath so that we can filter over them.

[2017-04-12 05:58] cpojer opened #3288 "Add a --show-config cli argument that prints the config."
See https://github.com/facebook/jest/pull/3156/files#diff-8006e39142c24851115752df17e9c1c0R51

[2017-04-12 07:01] maraisr commented on #3254
Bump @cpojer

[2017-04-12 07:04] thymikee commented on #3287
I'm all for that. Filters should be persistent and we need to show it to the user. They should also get cleared on `Esc` or `Backspace` (one by one?) I think.

[2017-04-12 07:43] cpojer commented on #3287
Or `c`, for clear? :D

[2017-04-12 12:26] danieljuhl opened #3292 "Memory leak when using --coverage flag"
**bug**

**What is the current behavior?**

When running our test suites with `--coverage` memory seems to leak, and heap size increases with ~13MB per test suite (we have a total of 240 test suites), ultimately causing Jest to slow down (as mentioned in other memory leak issues)

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://re

[2017-04-12 12:34] thymikee commented on #3292
cc @bcoe

[2017-04-12 15:26] mbrevda commented on #2354
I seem to be having the same issues where calling `unmock` for a given test does **not** unmock the module, and loads the manual mock instead, unless `jest.unmock` is called for the entire file (as described here  https://github.com/facebook/jest/issues/2349#issuecomment-267819337).

Is this the desired behaviour?

[2017-04-12 16:00] rogeliog commented on #3288
Like `--debug` but it shows the config and exits right away?

[2017-04-12 16:30] cpojer commented on #3288
yes, a json-parseable config would be good. Maybe even this:

[code]

+ adjusting jest-editor-support to use this new command.

[2017-04-12 16:33] rogeliog commented on #3288
Perfect, so I guess also `testFramework` right?

[2017-04-12 16:36] cpojer commented on #3288
Nah, nobody needs that. Can we make it so `--debug` also outputs its data as JSON the same way `--show-config` does (except without exiting)? The whole `=` is really weird.

[2017-04-12 17:08] brigand commented on #3160
I don't think there's any way to detect the new line from code.

[code]
[code]

Could have a `<linebreak>` or `{'\n'}`.

[2017-04-12 17:12] brigand opened #3293 "Custom error messages for assertions"
I'm guessing this has already been brought up, but I'm having trouble finding the issue.

**Do you want to request a *feature* or report a *bug*?**

Feature.

**What is the current behavior?**

`expect(false).toBe(true, "it's true")` doesn't print "it's true" in the console output.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://

[2017-04-12 18:02] wyze commented on #3288
Can I take one of these up? Seems like there are 2 issues here, one with the config to JSON, and the other for `--debug`? Maybe a separate issue for the `--debug` flag and I can take that on?

[2017-04-12 19:20] cpojer commented on #3293
There are many questions here, one of them in this issue #1965.

[2017-04-12 19:20] #3293 closed

[2017-04-12 19:29] rogeliog commented on #3288
@wyze sure, let me know if you need any help

[2017-04-12 20:00] emilia-friedberg opened #3295 "calling functions on copied object mutates the original"
**Do you want to request a feature or report a bug?**

Bug.

**What is the current behavior?**

When I attempt to copy the properties of an object into a new one using Object.assign() or the spread operator, functions called on the new object also mutate the condition of the original one.

**What is the expected behavior?**

Using Object.assign() or the spread operator should create a new object w

[2017-04-12 20:15] #3295 closed

[2017-04-12 21:38] wyze commented on #3288
The issue title mentions the argument as `--show-config`, but the convention of other arguments would make it `--showConfig`. Just wanted to throw that out there.

[2017-04-13 00:38] rogeliog commented on #3284
Thanks for reporting!
You can try using [expect.addSnapshotSerializer()](http://facebook.github.io/jest/docs/expect.html#expectaddsnapshotserializerserializer) in the mean time

[2017-04-13 00:40] Daniel15 commented on #3284
Thanks for the suggestion! Could I call `addSnapshotSerializer` from one of the `setupFiles`? The issue with adding it in the test itself is that everyone that uses a particular file would need to know to add its serializer. That's why I wanted to configure it in the Jest config 😃

[2017-04-13 00:41] rogeliog commented on #3292
I can repro it with the Jest repo
[code]

[2017-04-13 00:50] rogeliog commented on #3284
I don't think that you can call from the `setupFiles`... I think that passing it in the config would be the only way

[2017-04-13 01:51] rogeliog commented on #3287
Where you guys thinking something like this for surfacing the active filters?

<img width="512" alt="screen shot 2017-04-12 at 6 50 47 pm" src="https://cloud.githubusercontent.com/assets/574806/24986748/f5d8f942-1fb0-11e7-9806-456a729a68c3.png">
<img width="533" alt="screen shot 2017-04-12 at 6 50 34 pm" src="https://cloud.githubusercontent.com/assets/574806/24986749/f5f5b3ca-1fb0-11e7-90d6-1b6546

[2017-04-13 01:53] rogeliog opened #3297 "Updating snapshots is not working in watch mode"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Pressing `u` in watch mode does not update the snapshots, but it works when passing `-u` in non watch mode.

**What is the expected behavior?**
Snapshots should update

**Please provide your exact Jest configuration and mention your Jest, node, yarn/npm version and operating system.**

Master at this c

[2017-04-13 04:09] cpojer commented on #3297
yap, that might have been me :)

[2017-04-13 04:12] cpojer commented on #3287
I think that sounds good. Is there any way to collapse both patterns and the headline into a single line and still make it useful?

"<b>Active Filters</b> filename: jest-cli.*watch, testname: foobar"

?

[2017-04-13 04:14] cpojer commented on #3284
This is definitely a bug!

[2017-04-13 04:14] #2959 closed

[2017-04-13 04:19] rogeliog commented on #3287
Sounds like a good idea, I'll give that a shot

[2017-04-13 05:23] thymikee commented on #3292
Can confirm this behaviour on Jest repo, although it doesn't happen on thousands of tests suite like that:
[code]

[2017-04-13 05:38] rogeliog commented on #3287
Here is a quick mockup of how it could look, but I feel that the menu is starting to feel huge... I wonder if we should rethink how we show this menu
<img width="482" alt="screen shot 2017-04-12 at 10 34 16 pm" src="https://cloud.githubusercontent.com/assets/574806/24991518/389f4c80-1fd0-11e7-9913-9505a1a98371.png">

[2017-04-13 05:54] danieljuhl commented on #3292
@thymikee so you suggest that calling `global.gc();` manually would be a workaround? I'll test in my repo

[2017-04-13 06:45] huyph commented on #936
@ainesophaur, not sure what I am doing wrong here. But it seems it doesn't work
I am currently on jest 18.1.

[code]

Test will then fail with:
[code]

[2017-04-13 06:53] bcoe commented on #3292
@danieljuhl @thymikee very curious about whether the `gc` helps, if so; I wonder if there's anything we can do on Istanbuljs' end.

@addaleax have you bumped into anything like this with Node's test suite?

[2017-04-13 07:04] thymikee commented on #3292
I use `gc` for debugging just to be sure that there are no leftovers in memory. Please note it degrades perf A LOT.

[2017-04-13 07:04] cpojer commented on #3292
Calling `global.gc()` is *not* a workaround and will not clean up memory leaks.

[2017-04-13 07:05] cpojer commented on #3287
yeah, we probably should update it, although with @thymikee's work it is at least collapsing. I think your proposal is a good start.

[2017-04-13 07:35] cpojer commented on #3010
This should be done in nodejs directly: https://github.com/nodejs/node/pull/10308

[2017-04-13 07:35] #3010 closed

[2017-04-13 07:35] cpojer commented on #3247
You can use `testResultsProcessor` for this.

[2017-04-13 07:35] #3247 closed

[2017-04-13 07:36] cpojer commented on #3140
I'll close this for now. It's an interesting idea and I'd be curious to see a POC in or outside of Jest but I doubt we'll get to work on this.

[2017-04-13 07:36] #3140 closed

[2017-04-13 07:37] cpojer commented on #3120
cc @rogeliog

[2017-04-13 07:37] cpojer commented on #3120
I'll close this diff in favor of https://github.com/facebook/jest/issues/3120

[2017-04-13 07:37] #3120 closed

[2017-04-13 07:37] thymikee commented on #3120
This is #3120

[2017-04-13 07:42] bcoe commented on #3292
@thymikee @rogeliog @danieljuhl if we can get a fairly minimal reproduction, ideally exhibiting a minimal leak without coverage, and a leak with coverage, I'll happily use [heapdump](https://www.npmjs.com/package/heapdump) to do some investigating.

[2017-04-13 08:16] jackfranklin commented on #3120
Sorry I haven't got to this yet - I do have a branch with a hacked working version. I'd love to get your thoughts to vindicate if I'm going about it the right way if you want me to open that PR? If someone else has beaten me to it then that's fine!

[2017-04-13 11:24] ainesophaur commented on #936
@huyph you'd have to mock your doSmth method and your test method in order for jest to test whether it was called. If you can provide the snippet of your mocking code I can check what's wrong

[2017-04-13 11:33] minhchu commented on #977
I ran over this issue today and here is how I deal with it.
`package.json`:
[code]
`__tests__/index.test.js`:
[code]

I think the key is to pass `done` to the callback

[2017-04-13 12:19] rajeshkos commented on #2222
Can anybody please provide me solution for this, i have same issue.

[2017-04-13 12:45] intellix commented on #848
ChromeHeadless is now available, with support on it's way to karma-chrome-launcher: https://github.com/karma-runner/karma-chrome-launcher/pull/111
Would love to know how it performs in comparison to jsdom

[2017-04-13 13:38] webgio commented on #1873
thanks for the solution @vire, still, this means that testing redux-observable with Jest ca be quite verbose. Hope for some better solution in the future.

[2017-04-13 17:32] danieljuhl commented on #3292
I'll try to make a small repro, but probably won't have the time before Tuesday.

[2017-04-13 17:35] jayphelps commented on #1873
@webgio when testing RxJS code (like in redux-observable), if you want to instead return a promise that will resolve on complete or reject on error, use [`forEach`](http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html#instance-method-forEach) instead of `subscribe`

[code]

[2017-04-13 18:20] SirWindfield commented on #3273
Is it possible to try out jest 20.0.0+ for those new keywords?

[2017-04-13 19:52] thymikee commented on #3297
This is happening because now we have 2 configs: `config` and `hasteContext.config` and some of the dynamic properties (like `updateSnapshot`) don't get copied to `hasteContext.config`.

So, experimentally, adding something like this in `runJest` helps:
[code]
but that's certainly not a good solution. Why these 2 configs differ now anyways, shouldn't we keep them in sync until we have shared/proje

[2017-04-13 20:20] tracker1 commented on #1003
@hug33k try the plugin under ENV of "test"

[2017-04-13 20:25] hug33k commented on #1003
Wow.
@tracker1, you just saved me! 😄
I feel bad of not tried that sooner...

[2017-04-13 20:30] cpojer commented on #3297
@thymikee that workaround is good for now. I will address this in a follow-up to the multi-config runner PR as we discussed when I'll make the split for SharedConfig and ProjectConfig. Mind sending a PR with the change you proposed (+ a test!) so that I can fix it properly for Jest 20? :)

[2017-04-13 20:44] tracker1 commented on #1003
Yeah, it caught me too... IIRC by default JEST sets the environment to "test" as the actual tests will run in child processes.  I also prefer rewire to the Jest mocks most of the time.

[2017-04-14 00:33] adjohnson916 commented on #1749
See also #2534.

[2017-04-14 00:35] adjohnson916 commented on #1679
FYI `spyOn` seems to have been added with #2537.

[2017-04-14 00:37] thomashuston commented on #3251
I'm on vacation for the next few weeks, but I'd be happy to have a go at this when I'm back!

[2017-04-14 12:58] edemaine opened #3299 "Support for other backCompat settings?"
According to https://github.com/Khan/KaTeX/issues/664 , Jest sets `document.compatMode = 'BackCompat'` and there isn't an option to override.  This is not a great choice for modern web apps.  Could there be support for modifying this setting in configuration/command line?

(I'm coming from the KaTeX development side, so I'm a little lost on the sense in which Jest even has a web browser in it... D

[2017-04-14 13:14] thymikee commented on #3299
Jest uses JSDOM to emulate browser environment and it doesn't actually work in real browsers currently. Currently we render [nothing](https://github.com/facebook/jest/blob/10e492754fd9f2f0280c625f15800fb8f3347558/packages/jest-environment-jsdom/src/index.js#L28) as a document, hence the quirk mode.

@cpojer any special reason, why we're doing this?

changing `undefined` to `'<!DOCTYPE html>` shoul

[2017-04-14 22:24] Daniel15 opened #3302 "Error in snapshotSerializer test doesn't have useful stack trace"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
If a snapshot serializer's `test` method throws an exception, the stack trace doesn't point to it at all. This can make it difficult to determine where the exception is coming from.

Example:
Serializer:
[code]
Config:
[code]
Test:
[code]
Output:
[code]

`add-test.js:2` is simply the `expect('foo').toM

[2017-04-15 04:30] Aadesh05 commented on #1912
I am not using jest still got this error; can anyone help me to resolve the above problem ?

[2017-04-15 15:43] kopax opened #3304 "How to integrate test coverage with SonarQube"
I am using [SonarQube](https://sonarqube.com/) for integrating my test in my build process.

I wonder if anyone tried to use it with react-boilerplate.

I've seen there is a [sonnar-scanner](https://github.com/bellingard/sonar-scanner-npm) npm package but I don't see how it re-use the code coverage from jest/istanbul.

Anyone has experience with SonarQube and jest ?

[2017-04-17 14:12] excitement-engineer commented on #3273
I am not sure when jest 20 will be released but I hope soon:)

[2017-04-17 15:36] SimenB commented on #3304
Haven't used sonar for a couple of years, but can't you just feed it coverage.lcov or something?

[2017-04-17 18:41] kopax commented on #3304
yes

[2017-04-17 18:41] #3304 closed

[2017-04-17 23:02] huyph commented on #936
uhm. I thought your codes above are for mocking the doSmth test method? this part: `    test: jest.fn(() => {console.log('I didnt call the original')}),`

[2017-04-17 23:57] #2146 closed

[2017-04-18 00:14] #3288 closed

[2017-04-18 00:33] #3297 closed

[2017-04-18 13:30] ZigGreen opened #3311 "dosn't retain lines with exported function"
I've created [repository](https://github.com/ZigGreen/jest-breakpoint-bug) to reproduce the bug.
I write code:
[code]
and then in inspector I see the code:
[code]
`debugger;` and any code above the function b appears in the same line.
In my case it leads to webstorm can't properly debug over lines :(
I can workaround it by [fix1](https://github.com/ZigGreen/jest-breakpoint-bug/blob/master/source-b

[2017-04-18 15:02] kristojorg commented on #2234
For anyone else out there running in to errors with this, I had some issues because global Date object has properties other than constructor. I did the following:

[code]

[2017-04-18 17:12] rogeliog opened #3316 "testNamePattern is not working in watch mode"
This regression started here #3289
![mmm](https://cloud.githubusercontent.com/assets/574806/25143319/d4f20328-241e-11e7-9ffd-2f74c3888a83.gif)

[2017-04-18 18:56] MartynasZilinskas opened #3318 "react-addons-test-utils is deprecated warning in logs"
**What is the current behavior?**
fbjs emits warnings in tests that `react-addons-test-utils` is deprecated package ([Doc reference](https://facebook.github.io/react/docs/test-utils.html)) and it should be used `react-dom/test-utils` instead.
[code]
**What is the expected behavior?**
It shouldn't emit warnings?

[2017-04-18 23:33] airandfingers opened #3320 "mockReturnValueOnce ignores calls with undefined (docs should say so)"
I have a mock function that I want to return `undefined` in certain cases, because that's what it actually returns.

I called `myMockFn.mockReturnValueOnce(undefined)`, and was puzzled when I got the default return value instead of `undefined`.

I see from [the relevant code](https://github.com/facebook/jest/blob/5f72d73929980cedfaec58b7445210f87f233305/packages/jest-mock/src/index.js#L274) that u

[2017-04-19 01:36] isaacjohnsononline commented on #3254
I am having the same issue, and there's definitely free disk space

[2017-04-19 08:13] mikaelbr commented on #3177
@th3fallen Yeah, there's a pretty bad memory leak in the terminal-notifier action implementation as of now. I've done some workaround with timeouts to temporary avoid this, but will do a permanent fix once this is better (https://github.com/julienXX/terminal-notifier/issues/173). The workaround should be in the latest version of node-notifier. What version are you using?

Regarding Jest not exitin

[2017-04-19 08:49] hakunin opened #3322 "Print list of failed tests at the end of test run"
**Do you want to request a *feature* or report a *bug*?**
Request a feature

**What is the current behavior?**
Jest spits out each error individually without any summary at the end of run about which tests failed (individual files)

**What is the expected behavior?**
Just like now + a helpful summary of which tests failed.

Example how RSpec does this (see the "Failed examples" part)
<img width="7

[2017-04-19 11:50] cpojer commented on #3322
Jest does this once you have enough test files for this to actually be useful, like 20 test suites or so.

[2017-04-19 11:50] cpojer commented on #3318
That is an issue with your React dependencies and/or enzyme, not Jest. Please update those deps.

[2017-04-19 11:50] #3318 closed

[2017-04-19 11:51] cpojer commented on #3311
This seems like a babel issue and nothing we can do about in Jest :(

[2017-04-19 11:51] #3311 closed

[2017-04-19 12:09] hakunin commented on #3322
Got 35 suites, made 2 suits fail, no summary.

[2017-04-19 12:40] MartynasZilinskas commented on #3318
Sorry, my bad. I looked at package.json and found the dependency, but didn't noticed that it was a private.

[2017-04-19 12:55] cpojer commented on #3254
Unfortunately we do not have resources to debug this on Linux. If you have time and you could take a look and help us with a pull request to fix it, that would be greatly appreciated.

[2017-04-19 13:37] th3fallen commented on #3177
`npm info node-notifier` has the following... `version: '5.1.2',`

[2017-04-19 16:37] kamilogorek commented on #3199
This is the bug in `node-resolve` package.

[code]

Sent a PR to fix this directly in there – https://github.com/substack/node-resolve/pull/124
Once it gets merged, we can bump the version in Jest.

[2017-04-19 16:39] thymikee commented on #3199
Hey @kamilogorek! Thanks for fixing this :)

[2017-04-19 18:27] kimjuny opened #3325 "[Fail]Cannot find module 'throwOnWrongReactAPI' from 'react-native.js'"
1. <b>error:</b>

![img](http://i.imgur.com/n6QWGx3.jpg)

2. <b>package.json:</b>

[code]

3. <b>.babelrc</b>

[code]

4. <b>testcases:</b>

[code]

[2017-04-19 18:29] cpojer commented on #3325
This is an issue with a wrong version of react, react-native or react-test-renderer. Make sure to update them all to the proper versions.

[2017-04-19 18:29] #3325 closed

[2017-04-19 18:33] kimjuny commented on #3325
@cpojer But there are no warnings when I complete running `yarn` package installation.

![img](http://imgur.com/T9rnAAL)

Can you suggest me how to update them in correct versions?

[2017-04-19 20:52] rogeliog commented on #3287
Closing this in favor of #2595

[2017-04-19 20:52] #3287 closed

[2017-04-19 21:29] #2506 closed

[2017-04-19 22:46] kohlmannj commented on #2256
@moaazsidat Tangentially, today I discovered that, in order to see coverage information when watching a pattern, I had to provide a similar pattern again via `--collectCoverageFrom=[similar pattern]`.

It'd be great if there were some option to show coverage  _just_ for the watched patterns!

[2017-04-20 02:29] maraisr commented on #3254
@cpojer I'll take a look - but I also believe it is not limited to the Linux OS. Regardless, do you mind re-opening this issue?

[2017-04-20 05:03] pavelkucera commented on #3199
@kamilogorek Thank you for the fix!

[2017-04-20 05:13] ljharb commented on #3199
I intend to cut a release of `resolve` in the next few hours that includes this fix.

[2017-04-20 05:46] thymikee opened #3330 "Pressing `u` in watch mode makes it persistent across runs"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`updateSnapshot` is persisted across runs in watch mode.

**What is the expected behavior?**
`updateSnapshot` should be reset after every run in watch mode

Probably introduced by `context.config` thing for multi-runner.

[2017-04-20 06:14] kopax opened #3331 "Running Jest crash my Jenkins docker container"
I am experiencing on almost each build (97%) a jenkins docker container crash when it comes to the task

`npm run test` which involve jest directly.

Jenkins fails silently, I have tried to add more CPU more RAM but it didn't change anything.

I have also tried to run the test with `--runInBand`.

Does anyone experience such issue ? I really don't know where to look at, jest? jenkins? npm?

[2017-04-20 06:34] hegdeashwin commented on #1054
@cpojer : I am facing the same issue on Windows 10, Node.js 7.9.0, npm 4.2.0, Yarn 0.23.2, Jest 19.0.2, Jest-cli 19.0.2, Babel-Jest 19.0.0

All my tests are not detected and get the error
[code]

[2017-04-20 07:22] bherila commented on #2222
Same issue here. Downgrading to react-native 0.42.0 does not fix it.

[code]

[2017-04-20 07:43] hegdeashwin commented on #1054
@cpojer : I was able to fix it with below jest.preprocessor configs

[code]

[2017-04-20 07:43] kimjuny opened #3332 "[React-Native]SyntaxError: Unexpected token import"
It seems babel transform works in my testcase code, but es6 syntax in `node_modules` does not.

## Error

![img](http://i.imgur.com/XYPdW0t.jpg)

## environment

## jest config

[code]

## babelrc

[code]

## testcase

[code]

## package.json

[code]

## debug message

[code]

[2017-04-20 07:46] lo-tp opened #3333 "Caching mechanism works inproperly"
**Do you want to request a *feature* or report a *bug*?**

I want to report a bug.

**What is the current behavior?**

When setting the transform argument, the transformation works smoothly.

However, when the argument is changed, the code is not transformed again.
This can be a tricky problem to be debugged.

**If the current behavior is a bug, please provide the steps to reproduce and either a r

[2017-04-20 09:23] kimjuny commented on #3332
I [figured it out..](http://facebook.github.io/jest/docs/configuration.html#transformignorepatterns-array-string)

[2017-04-20 09:23] #3332 closed

[2017-04-20 10:10] danpan1 commented on #104
Also you can try this node module https://www.npmjs.com/package/jest-junit

[2017-04-20 10:20] kamilogorek commented on #3199
Thanks for releasing `1.3.3` @ljharb! @cpojer do you think it's work it to bump the version in `packages/jest-resolve`, or keep it as it is, as it'll already match `1.3.3` during installation?

[2017-04-20 10:21] kamilogorek commented on #3199
Thanks for releasing `1.3.3` @ljharb! @cpojer do you think it's work it to bump the version in `packages/jest-resolve`, or keep it as it is, as it'll already match `1.3.3` during installation?

@pavelkucera you can reinstall `jest` and it should already grab fixed module :)

[2017-04-20 11:34] #3199 closed

[2017-04-20 11:35] cpojer commented on #3331
Unfortunately this is not a reasonable bug report and we cannot act based on it. Please provide a full repro that we can try on our machines.

[2017-04-20 11:35] #3331 closed

[2017-04-20 12:25] sanyatuning commented on #2691
+1

[2017-04-20 15:25] kamilogorek commented on #2517
@xjamundx is there any particular reason why are you using `npm start test.server` command? `npm start` is intended to just run `start` script. `npm run test.server` should be used instead and in this scenario, Jest works correctly.
There's no clean way to detect your variant right now.

[2017-04-20 15:32] danny-andrews opened #3335 "CLI `notify` option not taking precedence over config option"
**Do you want to request a *feature* or report a *bug*?** Report a Bug

**What is the current behavior?**
With jest config:
[code]
When I run `jest --notify=false` I still get notifications.

**What is the expected behavior?**
Cli arguments take precedence over configuration options, otherwise you cannot opt-out of them.

**Please provide your exact Jest configuration and mention your Jest, node,

[2017-04-20 15:37] kentcdodds commented on #2517
This is a common pattern with [nps](https://github.com/kentcdodds/nps/blob/master/README.md#why-npm-start)

[2017-04-20 15:39] kamilogorek commented on #2517
Ah! Gotcha! I'll take a look in the afternoon. Thanks Kent

[2017-04-20 15:43] kentcdodds commented on #2517
Thanks!

[2017-04-20 16:40] kamilogorek commented on #2517
@kentcdodds after taking a look at `nps`, it appears that `npm start test.server -- -u` won't work at all here. In order to make it work, `jest` would have to say `npm start "test.server -u"` instead.

[2017-04-20 17:20] veeramarni commented on #1914
@xjamundx
Can you please provide us the workaround step as we have same kind of issue?

[2017-04-20 18:34] mikaelbr commented on #3177
Ah. There you have it. The temporary workaround is in the latest version, using that should avoid this issue. May be worth bumping version in jest.

[2017-04-20 18:44] #3333 closed

[2017-04-20 18:44] th3fallen commented on #3177
yeah i'd agree it should definitely be bumped in jest imo

[2017-04-20 19:46] kentcdodds commented on #2517
Yes, this was changed in recent versions of `nps`.

[2017-04-20 22:13] th3fallen commented on #890
old ticket but for those still having this issue we've started using [`window.location.assign()`](https://developer.mozilla.org/en-US/docs/Web/API/Window/location#Location_object) instead so in our tests we can mock the `assign` function like so..

[code]

[2017-04-20 22:53] sterpe commented on #890
Thanks @th3fallen .  That's cool!

[2017-04-20 22:54] sterpe commented on #890
Btw @cpojer I start at FB on 1May.... ;P

[2017-04-21 00:40] cpojer commented on #890
Nice!

[2017-04-21 01:15] cpojer opened #3338 "Add `--listTests` flag"
One some CI systems it may be beneficial to know which tests Jest would run based on changed files before actually deciding to run tests. This feature should print all tests as JSON:

[code]

This task requires:
* Print the tests here: https://github.com/lo-tp/jest/blob/bugfix/transformRefresh/packages/jest-cli/src/runJest.js#L168
* Exit
* An integration test in the integration_tests folder.

[2017-04-21 01:48] borisyankov commented on #3338
I'd like to give it a try.

[2017-04-21 04:26] thymikee commented on #3194
I'm not sure if we want it, but if we do, it's a "Good first task" case. cc: @cpojer

[2017-04-21 07:26] liubinyi commented on #3335
@thymikee pr sent.

[2017-04-21 08:25] chrishiste opened #3341 "Mocking Date.now() doesn't work on CircleCI"
Hello Jesters,

I'm having a problem on CircleCI while running my tests. I'm mocking "Date.now" to have the same date all the time from moment.js. It works perfectly on my local machine but the test fail on CircleCI. I'm mocking Date.now because my code is highly time dependant. Every test passes expect the ones using moment.js.

This is the code I use (Flow says it's alright) :
[code]
I also trie

[2017-04-21 08:58] iDams opened #3342 "Import component for specific platform with an alias"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Using react-native, I have a component for each platform `MyComponent.android.js` and `MyComponent.ios.js`. I have `package.json` in my `src` folder like this `{name: "src"}` to be able to import my components like this: `src/components/MyComponent`.
When testing a component that import MyComp

[2017-04-21 10:52] paranoidjk commented on #2070
+1

[2017-04-21 11:27] kopax commented on #3331
Is there a reason why jest task would fail and a settings I might be interested in ?

[2017-04-21 13:16] #3335 closed

[2017-04-21 14:09] gaearon opened #3343 "Why are "Docs" and "API" separated?"
It always takes me a while to find the API reference on Jest website. I couldn't figure out why (usually I'd Cmd+F to "API" in the footer and click on it). Only today did I consciously realize that "Docs" page doesn't include "API" in the sidebar, and instead "API" is a completely separate top-level item.

I was curious: why? I'd totally expect "API Reference" to be a subsection of Docs. Especiall

[2017-04-21 14:18] orta commented on #3343
I think it makes sense as a top level nav item, (and I agree that Reference is a better name than API on the top level here) - to aid people that went down the same route, the reference's sidebar could also be added to the sidebar on the docs so you'd get:

[code]

On any docs page.

[2017-04-21 14:35] gaearon commented on #3343
Yes, that’s what I would expect 👍

[2017-04-21 15:17] cpojer commented on #3343
cc @hramos – can we add "API" to the docs sidebar?

[2017-04-21 15:33] rantonmattei commented on #936
@ainesophaur I tried your code as well. But it did not work for me. It never executes the mock function. So, the expectation is never met.

I think this is inherent to the way require works like stated above... I wish there was a solution for this.

@cpojer Is there anything new regarding partially mocking modules?

[2017-04-21 16:43] ainesophaur commented on #936
@rantonmattei & @huyph I'd have to see a snippet of your mock definitions and the test you're running.  You have to define your mock before the actual implementation file is required/imported. Its been a while since I've worked with JEST, but I do remember I eventually got it to mock everything I needed to, whether it was a node_modules library or a file in my app. I'm a bit short on time ATM, but

[2017-04-21 18:11] bherila commented on #2222
It is broken with react-native 0.43.2

It is working with this packages.config

[code]

[2017-04-21 18:50] mareksuscak commented on #2965
I've been looking for this as well. Also, I have documented `mockRestore` which has not been documented in the API docs before. That might have been the source of all confusion although a function that does that with all mocks would be more than welcome.

[2017-04-21 20:19] ericnakagawa commented on #3343
@cpojer @gaearon @orta We could merge the reference and docs doc chains into one and have the API or Reference link at top link directly to Api/Globals.

[2017-04-21 20:31] ericnakagawa commented on #3343
I have a PR that adds API to the docs, but depends on my localization PR being accepted.

[2017-04-21 20:35] michael-ciniawsky commented on #2970
@cpojer [cosmiconfig](https://github.com/davidtheclark/cosmiconfig)

[code]

### Config

**jest-config/index.js**
[code]

### Pseudo

[code]

### Usage

[code]

[2017-04-21 20:40] michael-ciniawsky commented on #2970
Config lookup after gathering all `*.test.js` files and tests run per file as combination of `run(test, testConfig)`, `result.filepath` can be used for watching the config(s) 😛

[2017-04-21 21:48] cpojer commented on #2970
This is happening in the next version of Jest. We discussed a bunch more stuff in the team meetings and we are currently cleaning up things.

[2017-04-21 21:48] #2970 closed

[2017-04-21 22:32] jazzdragon opened #3347 "Symbols in objects and toEqual"
Hi,
Current behavior:
[code]

expected behavior:
[code]

Thanks!

[2017-04-22 02:09] jasonkuhrt opened #3348 "babel config not read from package.json"
As far as I can tell babel settings are not read by `babel-jest` from `babel` field in `package.json` but are from `.babelrc`. Both should be supported I think.

[2017-04-22 13:45] publicJorn opened #3350 "spyOn doesn't seem to work with a factory function"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`spyOn` doesn't seem to work on factory functions

**Minimal repository on GitHub that we can `yarn install` and `yarn test`.**
[https://github.com/publicJorn/jest-my-examples/tree/spyOn-factory-bug]()

I have `./loggerFactory.js` which returns an object containing log functions. It doesn't do anything

[2017-04-22 14:21] rizvified opened #3351 "Test failing with exit code 1"
Running test on react components is giving the following error:

Here's the test

    import React from 'react';
    import { shallow, mount } from 'enzyme';
    import { expect } from 'chai';
    import sinon from 'sinon';

    import App from '../containers/App.jsx';

    describe('<App />', () => {
      it('renders without exploding', () => {
        shallow(<App />);
      });

      it('rend

[2017-04-22 15:07] jwbay commented on #3350
Because you're calling the factory function in both your test and the file you're testing, you're creating two different loggers. To address this you could mock the logger factory such that it always returns the same object no matter how many times it's called.

[2017-04-22 16:25] thymikee commented on #3351
This is a problem with your babel transforms. It's hard to tell what's wrong without your `.babelrc` file or Jest config. Please check the tutorial on Babel [here](http://facebook.github.io/jest/docs/getting-started.html#using-babel) on Webpack [here](http://facebook.github.io/jest/docs/webpack.html#a-webpack-example). You can also seek help on the Discord channel.
Closing as it's not a bug in Jes

[2017-04-22 16:25] #3351 closed

[2017-04-22 16:29] thymikee commented on #3350
Thanks @jwbay!

[2017-04-22 16:29] #3350 closed

[2017-04-22 16:34] thymikee commented on #3348
This should be pretty straight-forward change in `babel-jest` package, so I'll tag it as "Good first task" :)

[2017-04-22 17:04] thymikee commented on #3341
Is it happening only on Circle? What about other CIs?

[2017-04-22 19:29] publicJorn commented on #3350
That makes total sense @jwbay, thanks for pointing that out.
I actually did come to the same "workaround" (see my second point, about line 18), but it didn't realise it's probably the way to go, using factories.

[2017-04-23 05:08] thymikee commented on #3342
Actually I cannot reproduce it on a simple project (without react-native). Can you provide a repro?

[2017-04-23 07:52] thymikee commented on #3320
Are you willing to send a PR with the wording? 🙂

[2017-04-23 07:55] thymikee commented on #3316
@rogeliog PR addressed: https://github.com/facebook/jest/pull/3353

[2017-04-23 07:57] SimenB commented on #3320
That's a bug IMO. It tries to check if you provided a return value, and thinks you didn't. You should be able to mock an empty return from a function.

What about this (untested)?:

[code]

[2017-04-23 08:04] thymikee commented on #3299
@edemaine would you like to send a PR with that fix?

[2017-04-23 08:18] SimenB commented on #3320
That didn't work, but sent a PR for it, #3354

[2017-04-23 10:01] kfiron commented on #118
Can I do it programmatically? Or i must use the package.json?

[2017-04-23 10:09] iDams commented on #3342
Hey @thymikee,

Yes, sure.
You can reproduce it with this simple repo:
https://github.com/iDams/jest-import-specific-platform-issue

[2017-04-23 23:41] jasonkuhrt commented on #3348
@thymikee Was thinking the same thing. I'll look into it!

[2017-04-24 02:47] chrishiste commented on #3341
@thymikee I just tried on Codeship it's the same problem

[2017-04-24 02:58] thymikee commented on #3341
If you have some time, could you please setup a repo with a simple test case like this:
[code]
and add Circle and Travis running this code on different Node versions?

[2017-04-24 03:13] chrishiste commented on #3341
Sure no problem do you want something like that https://github.com/chrishiste/jest-ci-testing ?
I've never used Travis before but give me a couple minutes I'll add it.

[2017-04-24 03:28] chrishiste commented on #3341
OK I tested, the test passed on Travis with node 5, 6, 7 and on Circle with node 6.10. Pretty weird..

[2017-04-24 03:37] thymikee commented on #3285
Not sure if that's causing a problem (because Jest cannot resolve the name, not some unknown tokens in read file), but `transformIgnorePatterns` takes an array of RegExps, not globs. You rather need to use it like this:
[code]
Also, could you provide a repo with the issue? You could add linking step to npm scripts.

[2017-04-24 03:40] thymikee commented on #3284
@Daniel15 you can use [`setupTestFrameworkScriptFile`](http://facebook.github.io/jest/docs/configuration.html#setuptestframeworkscriptfile-string) just for that, but I guess you probably already solved that 😄.

[2017-04-24 03:55] chrishiste commented on #3341
OK finally found the bug! Jest was actually working and mocking Date.now() correctly but I'm on Australian timezone when I'm running my tests locally and the CI servers are on UTC. As my tests had snapshots, the code is time dependant and uses 'moment.js'. I suppose there is a timezone handling system in the moment.js code that checks what your timezone is. This means that my code was working well

[2017-04-24 04:11] thymikee commented on #3341
Awesome, glad you figured out what's wrong :)

[2017-04-24 04:11] #3341 closed

[2017-04-24 04:25] Daniel15 commented on #3284
@thymikee Good idea! The way I worked around this was simply by avoiding any code that needed to be transformed (ie. no Flow typing), but using `setupTestFrameworkScriptFile` sounds like a better approach. Thanks for the suggestion :)

[2017-04-24 10:54] mxstbr opened #3359 "Make jest.assertions run for any amount of assertions"
**Feature idea**

**What is the current behavior?**

I can use `expect.assertions` to verify an exact number of assertions were called

**What is the expected behavior?**

I can use `expect.assertions` to verify at least one assertion was called

**Example**

Right now I can do this:

[code]

Which is great, because it verifies the assertions fired! The issue is that it verifies exactly how many a

[2017-04-24 13:12] hramos commented on #3343
The separation was meant to minimize clutter in the sidebar, but in practice I've run into the same issues raised by @gaearon. Let's display both in the sidebar.

[2017-04-24 17:06] lyndsey-ferguson commented on #3087
@cpojer do you know if anyone filed an issue or a PR? This is an issue with the latest and I would love to run jest on my react-native project.

[2017-04-24 17:16] luisfcofv commented on #3087
@lyndsey-ferguson I submitted a PR https://github.com/facebook/react-native/pull/12767
Not much attention from RN though.

[2017-04-24 18:16] lyndsey-ferguson commented on #3087
Sigh. I guess I just have to ignore the error then.

[2017-04-24 22:10] skovhus opened #3360 "jest-matchers contains untranspiled code"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When using `jest-matchers` in browsers without ES2015 support, it breaks due to untranspiled code in the bundle. `const matchers = require('./matchers');`

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a min

[2017-04-24 22:15] skovhus commented on #1679
Happy to say that the transformer for this in Jest-Codemods is almost there (see progress in https://github.com/skovhus/jest-codemods/pull/39). Think it will get most projects 95% of the way.

Trying it out on a few ReactTraining repos, shows that we got some ES2015 in `jest-matchers`. See https://github.com/facebook/jest/issues/3360

[2017-04-25 08:45] rizvified opened #3362 "SecurityError while testing component"
I'm testing a react HOC which checks if there's a token present in localstorage or not. If there is, it redirects the user to the Home component else the user will be redirected to the Login component.

However, i'm getting this strange error in the last test where it tests for calling componentDidMount

**app.test.js**

    import React from 'react';
    import { shallow, mount } from 'enzyme';

[2017-04-25 09:29] cpojer commented on #3362
This seems like an issue with the History API, unrelated to Jest.

[2017-04-25 09:29] #3362 closed

[2017-04-25 09:29] rizvified commented on #3362
You mean with react-router?

[2017-04-25 09:42] cpojer commented on #3359
I feel like it makes everything more brittle. I prefer people to be explicit in their intent.

[2017-04-25 10:10] cpojer commented on #3316
I'll fix this in my PR, sorry for the confusion.

[2017-04-25 10:14] #3272 closed

[2017-04-25 10:24] #3320 closed

[2017-04-25 10:48] mxstbr commented on #3359
How does it make it more brittle? I'm explicitly saying I want some assertions to be called in that test, I just couldn't care less about the exact number.

[2017-04-25 11:25] sri102info opened #3363 "TypeError: expect(...).stringMatching is not a function"
In this document, https://github.com/facebook/jest/blob/master/docs/ExpectAPI.md, I found expect.stringMatching(regexp) will be used for asserting the string using regex. I tried the same in my test, but i'm getting the error on running the test.
**[TypeError: expect(...).stringMatching is not a function]**

What has to be done to fix this issue?

[2017-04-25 11:28] cpojer commented on #3363
Update Jest to Jest 19.

[2017-04-25 11:28] #3363 closed

[2017-04-25 11:31] sri102info commented on #3363
Already having version PS C:\n> jest --version
v19.0.2

[2017-04-25 11:33] cpojer commented on #3363
Try `expect.stringMatching`.

[2017-04-25 12:01] thymikee commented on #3359
I think it's going to be easy to forget the number (lint rule may help). But I like the idea. Or we could introduce something like `hasAssertions()`

[2017-04-25 12:20] mxstbr commented on #3359
I'd totally be fine with `hasAssertions()` as a separate thing, I just don't want to break my test because I add another assertion :blush:

[2017-04-25 12:47] valgreens commented on #1767
I'm still not able to run Jest in watch mode:
[code]
macOS v10.12.4

It's throwing the same error again and again:
[code]
I've increased the max file limit as recommended [here](https://github.com/facebook/react-native/issues/9309#issuecomment-238966924) with no success.

I also checked @ro-savage [PR](https://github.com/facebook/jest/pull/2957) and even using `modulePathIgnorePatterns`no luck. Am

[2017-04-25 13:11] edorivai opened #3364 "Modules imported in setup file circumvent mocking mechanism"
**Do you want to request a *feature* or report a *bug*?**
bug (?)

**What is the current behavior?**
Modules imported in the setup script (as specified by `setupTestFrameworkScriptFile`) will not have it's dependencies mocked.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub

[2017-04-25 13:45] blade254353074 opened #3365 "After return promise, the test still fail with `Timeout` error."
**Do you want to request a *feature* or report a *bug*?**

Bug 🐛

**What is the current behavior?**

[code]

Although I returned the promise, still got the timeout error
`Timeout - Async callback was not invoked within timeout specified by jasmine.DEFAULT_TIMEOUT_INTERVAL.`.

Here is the demo: https://repl.it/HZ4K/12

Only if call `done()` in then callback, the test will pass.

**What is the expec

[2017-04-25 14:20] thymikee commented on #3365
If you use `done` callback, calling it is mandatory (this is the part where Jasmine takes over). You should just do:
[code]

[2017-04-25 14:20] #3365 closed

[2017-04-25 14:25] blade254353074 commented on #3365
@thymikee

Oh...I found the problem.

When I use callback without without parameter, I usually use `_ => 'foo'`

Like this:

[code]

So, Jasmine (maybe) will think that I use `done` callback?

Please checkout the demo: https://repl.it/HZ4K/14

[2017-04-25 14:28] thymikee commented on #3365
Yes, first parameter of test callback is considered `done`, you can name it whatever you like, Jest doesn't check how it's called.

[2017-04-25 14:33] blade254353074 commented on #3365
Got it. Thank you~

[2017-04-25 14:55] JooseNavarro commented on #771
Very good :+1:

[2017-04-25 15:16] cpojer commented on #3359
Yep, I'd also be ok with a separate function.

[2017-04-25 15:55] kellyrmilligan commented on #104
I was able to get this working with the cli option as I didn't have access to change the config.

I then used `junit-merge` module to get just one file.

[2017-04-25 16:15] kopax commented on #3331
I have raised the RAM and CPU by twice the power, I still have my jest task crashing my jenkins.

This happen in all my project.

I am using the official jenkins image: https://hub.docker.com/_/jenkins/

[2017-04-25 17:16] #3348 closed

[2017-04-25 21:30] ambroselittle opened #3368 "ReferenceError: babelHelpers is not defined."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using babel with the external-helpers plugin results in `ReferenceError: babelHelpers is not defined.`. The only way to fix I found was to set window.babelHelpers = require('pathTo/babelHelpers.min.js') in a setup file, before anything else runs, including other setup files that may need to be transpil

[2017-04-25 21:33] cpojer commented on #3368
You should need to use this, so you can disable it for the "test" env in your babelrc. Otherwise, the setup you have seems reasonable.

[2017-04-25 21:33] #3368 closed

[2017-04-26 00:46] anilreddykatta commented on #3359
Any suggestions on how to go about it? I really appreciate some insights!

[2017-04-26 01:49] maraisr commented on #3254
From my findings its not related to Jest at all. On Linux (or Mac) we have a max number of system watchers we can place at an IO level (from my understanding). So for large projects, it seems that Jest is trying to watch just way to many files.

*To fix:* `echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p`

Source: [Node.JS Error: ENOSPC](http://stackoverflow

[2017-04-26 01:49] #3254 closed

[2017-04-26 04:11] AshokICreate commented on #666
![screen shot 2017-04-26 at 9 40 36 am](https://cloud.githubusercontent.com/assets/7522708/25417817/905bf1a0-2a64-11e7-96aa-aa8f7865e0ea.png)

[2017-04-26 04:47] steverice opened #3370 "Setting NODE_ENV to test has unintended side effects"
In 3a38ddf64289a19c3a176c8c0a4e89c03314a85e, code was added to default the `NODE_ENV` variable to `test` if one is not set (see [the CHANGELOG entry](https://github.com/facebook/jest/blame/996ba5d4f1e493e18f7dbc4bbe37a09cd271276f/CHANGELOG.md#L387)). The rationale given was twofold: to [be able to specify the Jest preset in Babel config based on the `env`](https://github.com/facebook/jest/blob/741

[2017-04-26 08:14] cpojer commented on #3254
Thanks for investigating, if you install watchman, it should work.

[2017-04-26 08:15] cpojer commented on #3359
Yeah, check out how .assertions is implemented. I believe it lives mostly in the `jest-jasmine2` package, somewhere around jest-expect.js.

[2017-04-26 11:27] jsdario commented on #607
Hi @thymikee, do you have a sample? I imagine that requires several configurations for prod, dev and testing.

[2017-04-26 11:29] thymikee commented on #607
_.babelrc_
[code]
That's all.

[2017-04-26 11:33] jsdario commented on #607
Oh, sorry for my ignorance. Thank you so much.

[2017-04-26 12:14] mxstbr commented on #3359
Oh sorry @anilreddykatta I didn't look at the issue after `.hasAssertions` was decided upon and just submitted a WIP PR: #3371

Do you want to finish it? I feel bad for not checking the issue before doing that 😢

[2017-04-26 14:45] anilreddykatta commented on #3359
@mxstbr I will take a look at it!

[2017-04-26 15:24] screendriver opened #3374 "glamorous: Cannot read property 'div' of undefined"
**Do you want to request a *feature* or report a *bug*?**

I think this is a bug.

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

I've made a repo [here](https://github.com/screendrive

[2017-04-26 15:32] bestander opened #3375 "test.noConcurrent() .i.e. test.serial()"
**Do you want to request a *feature* or report a *bug*?**

*feature*

**What is the current behavior?**

In Yarn we run tests concurrently on CI: 3 threads per suite and whatever concurrency per every test within suite.

Sometimes we need to test how Environment Variables affect application and we need to make sure that changing an Environment Variable is not affecting other tests running concurre

[2017-04-26 15:45] cpojer commented on #3375
yeah, this really sucks and shows why `test.concurrent` is flawed. The main problem is that your tests are doing network requests. If you stop doing that, you can run them serially.

I'm not opposed to adding `test.serial` that queues all tests to be run after the concurrent ones, however it's unlikely we have enough time at the moment to work on this. In the meantime, you can put the serial test

[2017-04-26 15:55] bestander commented on #3375
I could put them in a different file but they will still run concurrently with other files.

[2017-04-26 16:04] cpojer commented on #3375
In that case changing the environment variable should be fine.

[2017-04-26 16:08] bestander commented on #3375
Maybe Yarn has something weird in the setup then because I there was a test that was affected by an env var change in a different suite.
I can be wrong though.

[2017-04-26 16:34] cpojer commented on #3330
Fixed in https://github.com/facebook/jest/pull/3376

[2017-04-26 16:34] #3330 closed

[2017-04-26 19:29] screendriver commented on #3374
https://github.com/kulshekhar/ts-jest/issues/182#issuecomment-297514279 fixed it :sunglasses:

[2017-04-26 19:29] #3374 closed

[2017-04-26 20:17] jomaxx opened #3377 "track return values in jest mocks"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
jest mocks do not track return values. This is a feature that is supported by sinon spies.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `ya

[2017-04-26 20:18] jomaxx commented on #3377
I'm willing to add the feature if the maintainers think it belongs in jest.

[2017-04-26 20:41] thymikee commented on #3377
I think there's a good value in that, especially if we're more sinon compatible, it would be easier to migrate.

[2017-04-27 03:05] anilreddykatta commented on #3359
@mxstbr I was not able to update pull request raised by you. I raised one more incorporating your changes along with feedback from @cpojer. Let me know if I need to add any more changes. Thanks 😄

[2017-04-27 07:44] sri102info commented on #3363
I used this, expect("foo bar").toMatch(/bar/); to match with regex.

[2017-04-27 11:11] matt-watson90 commented on #3214
I am also seeing this behavior using the Jest that comes bundled with the create-react-app (Jest v 18.1.0).  I'm running Windows 7 and node v4.4.3

`Determining test suites to run...Error: spawn git ENOENT `
 `   at exports._errnoException (util.js:870:11) `
 `   at Process.ChildProcess._handle.onexit (internal/child_process.js:178:32) `
`    at onErrorNT (internal/child_process.js:344:16) `
`

[2017-04-27 12:11] ro-savage commented on #1767
@valgreens - My PR has been merged into master but there hasn't been a Jest release since the merge.

So unless you were running a Jest you built yourself from the repo, the changes the fix won't be there.

[2017-04-27 13:24] kopax opened #3382 "Fresh jenkins installation crash when running jest."
**Bug request**

Bug

**Current behavior**

Using the official docker image of [jenkins/](https://hub.docker.com/_/jenkins/) v2.46.2.

I have a webpack project that use `jest-cli@19.0.2` that contain more than 500 hundreds of `enzyme` test mainly.

**Reproduction**

1. Run jenkins (MUST have port `8080` free or change the host port)

        docker run -p 8080:8080 -v /var/jenkins_home jenkins

1.

[2017-04-27 14:19] #3316 closed

[2017-04-27 14:19] cpojer commented on #3316
This is fixed in https://github.com/facebook/jest/pull/3376

[2017-04-27 15:17] pedrottimark commented on #2202
Although I see much potential in the **diff** path of this discussion, the original **subset** match seems to make the biggest difference (pardon pun :) as a next step forward.

The small amount of remaining work is outside the control of Jest. Here is the current status:

* For the proposed `mountToDeepJson` and `mountToShallowJson` functions described in https://github.com/pedrottimark/whimper#p

[2017-04-27 16:00] ngyikp opened #3385 "Website favicon is broken"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The website favicon isn't showing

<img width="395" alt="" src="https://cloud.githubusercontent.com/assets/6135313/25492297/35b7e514-2ba5-11e7-973b-cfb4ff9f53ba.png">

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/j

[2017-04-27 16:04] cpojer commented on #3385
@ericnakagawa it seems like this PR: https://github.com/facebook/jest/pull/3372/files#diff-61879546a4ef93f654f1883d00f827dd modified the favicon. Do you mind reverting that change and sending a PR? Sorry I missed it.

[2017-04-27 16:11] SpadarShut commented on #1557
If someone is looking for a solution to this issue, here's how I do it:

[code]

[2017-04-27 16:23] batzlerg commented on #2447
Until this is fixed, a workaround is to add a jest config remapping references to the linked module to the parent version.

In `MyModule/package.json`:
[code]
This produces the expected output in @voliva's test repo.

[2017-04-27 16:24] ngyikp commented on #3385
favicon.ico won't actually be used since the Jest website is in a subfolder, the actual icon is located at https://github.com/facebook/jest/blob/master/website/src/jest/img/favicon.png

Source: https://github.com/facebook/jest/blob/5c717bea842a2465c8344e2061f255cc7cbd1b93/website/core/Head.js#L25
[code]

[2017-04-27 18:05] cpojer commented on #2978
This will be fixed in Jest 20.

[2017-04-27 18:05] #2978 closed

[2017-04-27 18:17] Timer commented on #2978
Any timeline on Jest 20? 😄

[2017-04-27 18:31] pedrottimark commented on #3347
As first step to dig into this, all three assertions pass in Jasmine 2.6.0

@jazzdragon Help me understand why expected result of `expect(obj1).toBe(obj1)` is fail?

[code]

Concerning `toEqual` a for-in loop in `keys` helper function does not enumerate symbols at:
* https://github.com/facebook/jest/blob/master/packages/jest-matchers/src/jasmine-utils.js#L211
* https://github.com/jasmine/jasmine/b

[2017-04-27 18:43] anilreddykatta opened #3389 "functionality like `mock-require` to map moduleName to different module path"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
Currently, I have the following setup.
[code]
How do I mock `utils/xhr` module to point to `utils/xhr.c` or `utils/xhr.g` depending on `NODE_ENV`.

I tried `jest.setMock & jest.mock `, but in vain. JEST always tries to resolve module(tries to point to module name indicated in `es6 or require`.
**If

[2017-04-27 18:51] ericnakagawa commented on #3385
I'll take a look at this. I have a modified an actual favico.ico in my next PR. I'll take a look at the page's meta info.

[2017-04-27 18:51] jazzdragon commented on #3347
My bad, what I really meant is this setup:
[code]

and then:
[code]

Sorry for the confusion. I wouldn't normally test an object against itself, but against another one with the same structure...

[2017-04-27 19:09] anilreddykatta commented on #3389
Got it! by using `virtual: true` option while mocking resolved this!

[2017-04-27 19:09] #3389 closed

[2017-04-27 19:28] rally25rs opened #3391 "npm installing jest at a specific version actually installs a different version"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Because of the way jest packages are set up, if you:

`npm install jest@18.0.0` then it actually installs `jest-cli@18.1.0` (or whatever the greatest minor version release is)

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/

[2017-04-27 19:33] rally25rs commented on #3391
One additional question; Why are users directed to install the `jest` package which just turns around and requires `jest-cli`? why not install `jest-cli` directly? or rename `jest-cli` to `jest`?

The entire source code of the `jest` package is just

[code]

[2017-04-27 19:45] thymikee commented on #3382
There's no such version as `19.2.1` for `jest-cli`.
What does it mean that "jenkins crash during the build project". How is build connected to running tests? What's the error message?
Also, I think you forgot to provide a repro which you're describing. Would you mind providing that? :)

[2017-04-27 20:38] kopax commented on #3382
I have updated with the correct version number.

Jenkins fail silently without throwing any log, even with the highest log level.

In fact, it's not a build, it's a `npm test` job.

There is no error message at all, I can see hole in job numbers, because it is planting. The end of the task just look like :

We are using jest for a library and it's documentation. Both aren't release on GitHub yet b

[2017-04-27 21:21] thymikee commented on #3382
No need for me to see your private code, just a minimal case so we can repro, although I don't have experience with Jenkins so it would be problematic to setup whole thing on my machine.

What you can try (just to test it) is to run `npm test -- --forceExit` or you can split your tests and run them under separate commands, maybe there's something in your code which causes problems.

[2017-04-27 21:30] kopax commented on #3382
I am pretty sure I can do that.

Do you have experience with Docker ?
It's better if you do, otherwise you can just execute the command I give you in order it won't be much.
For the jenkins part, you don't have to click everywhere, just follow the instructions it look like.

Start a container/create a projet/step pull/step npm install/step npm test.

I could prepare a nice tutorial with every step

[2017-04-27 21:35] thymikee commented on #3382
So maybe that's something with the version of enzyme and e.g. `enzyme-to-json` you use. Hard to tell without an example.

[2017-04-27 22:48] warent commented on #652
@phil-r care to share with the rest of the class? 😄

[2017-04-27 23:21] cpojer commented on #3391
You are right, we should actually be using `~` for all deps.

[2017-04-27 23:29] cpojer commented on #3391
Seems like the folks on lerna recommend against this. https://github.com/lerna/lerna/issues/76#issuecomment-193000680

If you'd like a specific version of Jest, install `jest-cli`. The reason we have this split is because we didn't own `jest` in the past and we simply made it to forward. You can also install `jest-cli` directly if you'd like.

[2017-04-27 23:29] #3391 closed

[2017-04-27 23:34] jwagner opened #3394 "Website is broken"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
https://facebook.github.io/jest/ displays
[code]

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

Open https://facebook.github.io/j

[2017-04-27 23:34] rally25rs commented on #3391
Actually, installing `jest-cli` at a specific version has the same issue, because it in turn depends on `jest-runtime` and other packages with a carrot-version. The only way to install a specific version seems to be to manually install all packages at a specific version.

[2017-04-27 23:39] ericnakagawa commented on #3394
Working to resolve this right now.

[2017-04-27 23:40] rally25rs commented on #3391
It's probably worth noting that I actually only encountered this because I specifically wanted to npm install 18.0.0 and 18.1.0 because there was a breaking change (removal of `context`) between minor versions. I wanted to demo this behavior specifically during a conference talk about NPM and Yarn and Yarn's deterministic nature (I was going to break my CI server by letting it carrot-update to 18.

[2017-04-27 23:45] juanjoLenero commented on #2358
I'm seeing this exact same behavior in jest v19.0.2.

[2017-04-27 23:47] ericnakagawa commented on #3394
PR is here: https://github.com/facebook/jest/pull/3395

[2017-04-27 23:48] cpojer commented on #3391
Got it. I'm sorry for causing you churn. That particular breaking change happened accidentally because node.js made a breaking change two days before Christmas and I was on vacation trying to push out a hotfix, which accidentally published a change that shouldn't have gone out. We normally don't do this ;) Oh... dependencies.

[2017-04-27 23:49] samit4me commented on #3254
Just recently switched from Windows 7 to Ubuntu 16.04.2 LTS and Jest was working great in Windows but failed to run under Linux for the same reasons listed above. It only seems to fail if you add the `--watch` flag.

Firstly I took @cpojer advice and installed watchmen as per [docs](https://facebook.github.io/watchman/docs/install.html#installing-from-source) and ran the `jest --watch` again and I

[2017-04-27 23:50] rally25rs commented on #3391
Understandable :) no worries! thanks! I found a minor version change in moment.js that I can use to demonstrate in my presentation ;)

[2017-04-28 01:05] ericnakagawa commented on #3394
This still didn't solve the issue so I am reverting.

[2017-04-28 01:59] zoxon commented on #3394
lol maybe need use some tests?

[2017-04-28 01:59] cpojer opened #3401 "Jest 20"
- [x] Write changelog.
- [x] Write Blog Post.
- [x] Add talk videos to website.
- [x] Write documentation for `--projects`.
- [x] Write documentation for new CLI behavior.
- [x] Get ready to present at JSConfEU.
- [x] Test compatibility with React/Relay/FB.

[2017-04-28 02:00] cpojer opened #3402 "Documentation update for Jest 20"
--projects needs proper docs.

[2017-04-28 02:02] cpojer commented on #3364
This is by design. Do you wanna send us a PR for updating the docs? :)

[2017-04-28 02:04] #3175 closed

[2017-04-28 02:05] cpojer commented on #2891
We prefer not to expose this there. If you need custom setup, use beforeAll in your specific test file.

[2017-04-28 02:05] #2891 closed

[2017-04-28 02:06] #2444 closed

[2017-04-28 02:07] #2343 closed

[2017-04-28 02:07] cpojer commented on #2343
This'll be in Jest 20.

[2017-04-28 02:08] cpojer commented on #3299
Duplicate of https://github.com/facebook/jest/issues/2460

[2017-04-28 02:08] #3299 closed

[2017-04-28 02:10] cpojer opened #3403 "Allow all configuration options to be overwritten through the CLI."
We wanted to do this for a while, with all the refactors we did it makes a lot more sense.

[2017-04-28 02:46] danny-andrews opened #3405 "Code Transformation is not Opt-in"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Running `jest` in a project which has a `.babelrc` file defined at the root (but without `babel-jest` installed) transforms source files, which is at odds with the [documentation](https://facebook.github.io/jest/docs/getting-started.html#using-babel) which states `To use Babel, install the babel-jest

[2017-04-28 03:05] elimcjah commented on #3394
@zoxon HAHA.  I wonder if @facebook-github-bot thinks its funny.  2017 is the year of humor in AI. If it wasn't FB I would think thats in bad taste.  Too funny.

[2017-04-28 06:45] thymikee commented on #3405
You're right, docs should add the same note about `babel-jest` – would you like to send a PR? 🙂

To make it opt-in, just define empty `"transform": {}` property. We cannot change that behavior, as it would break out-of-box babel integration, which we don't want to happen.

[2017-04-28 09:04] phil-r commented on #652
@warent I don't remember exactly what the issue was, but I wasn't using fake timers correctly. After I fixed the issue with fake timers in my test, there was no need for increased timeout.

[2017-04-28 09:32] #3394 closed

[2017-04-28 10:11] #3284 closed

[2017-04-28 10:34] m1gu3l opened #3409 "toHaveProperty should not rely on input prototype method"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
toHaveProperty throws error when checking input without Object prototype
https://repl.it/H6Do/0

**What is the expected behavior?**
toHaveProperty should not rely on input prototype method

**Please provide your exact Jest configuration and mention your Jest, node, yarn/npm version and operating system

[2017-04-28 11:17] kopax commented on #3382
I am not using `enzyme-to-json` in my project. I am updating enzyme from `2.6.0` to `2.8.2` and will try a new test. If it fail I will prepare a small tutorial so this can be reproduced in a few steps.

[2017-04-28 11:18] edorivai commented on #3364
Sure. Not sure where this info would fit in best. Do you feel it should be in the mock section, or closer to the `setupTestFrameworkScriptFile` option documentation?

[2017-04-28 11:35] thymikee commented on #3364
I'd write about this in mock section and mention it in `setupTestFrameworkScriptFile`, seems ok?

[2017-04-28 11:42] edorivai commented on #3364
On it!

[2017-04-28 11:48] #3409 closed

[2017-04-28 12:19] #3364 closed

[2017-04-28 12:24] rally25rs commented on #2381
Looks like this isn't the first time it's broken: #1081
I just had this issue trying to set up a Jenkins CI server because the default workspace on Windows is "C:\Program Files (x86)\Jenkins\workspace\<project name>"

[2017-04-28 13:41] valgreens commented on #1767
@ro-savage ah! that makes more sense, thanks! I'll try to run from the repo reproducing your steps.

[2017-04-28 16:02] cpojer commented on #3359
This'll be in the next release.

[2017-04-28 16:02] #3359 closed

[2017-04-28 16:02] cpojer commented on #3359
Thanks everyone for working on this :)

[2017-04-28 16:29] cpojer commented on #3360
We should definitely add a "browser" field and a build-step that bundles up `jest-matchers` into a single file that ships with ES5 – that would work, right?

[2017-04-28 16:32] cpojer commented on #1772
Is there anybody who'd want to add Google's JS implementation for Jest 20? It seems like it should be fairly easy to switch over to a new implementation, no? :)

[2017-04-28 16:35] cpojer commented on #2979
I can't repro this with Jest on master.

[2017-04-28 16:36] cpojer commented on #2595
I removed this milestone from Jest 20. We'll be able to do all but one (better keyboard support). I don't want to block the release because of that.

[2017-04-28 16:47] satazor opened #3413 "Jest watch crashes on ReferenceError"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

When using `--watch`, the watching process crashes on any ReferenceError during code execution. This only happens ON async execution.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on

[2017-04-28 18:05] mxstbr commented on #3359
Yay!

[2017-04-28 19:11] anilreddykatta commented on #3338
@cpojer Do we want to do this in `watch` mode?

[2017-04-28 19:11] anilreddykatta commented on #3359
Thanks @cpojer @mxstbr @thymikee

[2017-04-28 19:12] cpojer commented on #3338
Hey @anilreddykatta, that doesn't really matter as much. We actually have somebody at FB working on this, so please don't waste any time on it in particular :)

Also, btw., I'm super excited to see you contributing to Jest. We have a discord channel where we all hang out, please join us! http://facebook.github.io/jest/help.html

[2017-04-28 19:20] cpojer commented on #3413
Duplicate of #2059.

[2017-04-28 19:20] #3413 closed

[2017-04-28 19:29] skovhus commented on #3360
What do you mean with browser field?

Running a browser compatible / es5 transformation for jest-matchers would work.

[2017-04-28 19:31] cpojer commented on #3360
If you specify `"browser": "build-es5/index.js"` in package.json and you compile es5 into that folder, browser-builds will use that instead of the ES6 version in `build`. So it's just a matter of setting up the build script!

[2017-04-28 19:51] skovhus commented on #3360
Ah. Good stuff. Didn't know that. ; )

[2017-04-28 19:52] kopax commented on #3382
I apologize for the tutorial, and would like to thanks in advance the person who will achieve it.
I am confident that test will crash in your environment, there is no reason to.

Prerequesite
==========

In order to be exactly with the same configuration, you will need Host 32H offer at OVH.

[code]

1. Install Debian Jessie. (can be skipped but potentially you won't get the error)
1. Install Meso

[2017-04-28 21:14] cpojer opened #3415 "Highlight code in stack traces?"
See https://yarnpkg.com/en/package/callsite-record for inspiration.

[2017-04-28 21:17] jessebeach commented on #2202
Component shape matching would be really powerful for testing required relationships between ancestor/child HTML elements. For example, a [menuitem](https://www.w3.org/TR/wai-aria/roles#menuitem) element is required to exist in the context of a [group](https://www.w3.org/TR/wai-aria/roles#group), [menu](https://www.w3.org/TR/wai-aria/roles#menu) or [menubar](https://www.w3.org/TR/wai-aria/roles#me

[2017-04-28 21:23] halis commented on #2441
This is why I don't like Jest. No matter what you do, they will clear your console and refuse to show any console statements, and then somehow randomly they will show up, until you have an error that you need to fix, in which case they will do their best to hide every log statement so you cannot fix it.

Why don't you just STOP trying to hide console output from developers? If I want training whee

[2017-04-28 21:46] pedrottimark commented on #2202
@jessebeach What do you think about a custom tester as expected value of `toEqual` in Jest?

https://jasmine.github.io/edge/introduction#section-Custom_asymmetric_equality_tester

Could you make a gist of a minimal realistic example, so that I can make sure to understand?

[2017-04-28 22:57] mike-robertson opened #3417 "Import order can break tests"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Import order is not behaving as expected

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**
I'm testing a redux reducer by importing t

[2017-04-29 01:56] tmcw opened #3419 "Dynamic require in yargs don't work in jest's environment"
**Reporting a bug**

Using

**What is the current behavior?**

Tests fail with

[code]

tested-module.test.js

[code]

tested-module.js

[code]

**What is the expected behavior?**

Tests would be able to load and use the yargs module. The failed line is [this dynamic require in yargs](https://github.com/yargs/yargs/blob/master/lib/usage.js#L155-L158)

**Please provide your exact Jest configuration

[2017-04-29 03:08] suchipi opened #3420 "Async Test Environment API"
**Do you want to request a *feature* or report a *bug*?**

Feature request

**What is the current behavior?**

The API for test environments is written with the constraint that the test environment must be able to get its global ready synchronously (see the code [here](https://github.com/facebook/jest/blob/e3d33142e7ddc3a1b3a7831b5d8c1cd23991f3d2/packages/jest-cli/src/runTest.js#L62))

**What is t

[2017-04-29 03:25] anilreddykatta commented on #3338
@cpojer Sure. Thanks!

[2017-04-29 07:46] felipeochoa commented on #336
@cpojer I was poking around the refactoring you did in #3376 and #3388 and was excited to see that [source maps are cleanly handled when coverage is enabled](https://github.com/facebook/jest/blob/5b5090de3dd5567d8bef244cb78ddf98e1c3a7fc/packages/jest-runtime/src/ScriptTransformer.js#L189-L248)! Is the plan to allow saving source maps independently of whether coverage is enabled? It seems to me tha

[2017-04-29 14:44] skovhus commented on #3360
@cpojer I've done a PR for this https://github.com/facebook/jest/pull/3421

[2017-04-29 22:03] moroshko commented on #2684
I also ended up using [lolex](https://github.com/sinonjs/lolex) - it just worked as expected.
Would be great if Jest solved this problem out of the box (i.e. mocking `Date` as well as `setTimeout` and friends).
@cpojer @dmitriiabramov

[2017-04-30 17:54] malixsys commented on #1767
Thanks @robzolkos for `brew install watchman`, would never had found that in a million years!

[2017-04-30 19:02] Alxmerino commented on #3332
@kimjuny I'm having a similar error but running with Travis CI, your solution did not work for me, do you have any suggestions?

[2017-04-30 21:25] jessebeach commented on #2202
Interesting, I hadn't considered an asymmetric equality tester. I guess it's always possible to write a custom matcher. I guess I was hoping for something a little more templatic :) Keep in mind that I'm not asking you to write this. It just strikes me that I might get what I need for free from the work you're doing.

The relationship between DOM fragment and the Accessibility Tree (AX Tree) looks

[2017-05-01 06:56] FredyC commented on #3193
I am dealing with the same thing and annoying part is, that this warning cannot be caught by `process.on('unhandledRejection')` and since it doesn't show the stack trace, it's really hard to track its origin. Would it be too much of a problem to actually show stack trace or at least add configuration to allow it?

[2017-05-01 12:40] pedrottimark commented on #2202
@jessebeach Thank you for the example. It suggests a **descriptive** test for a component.

Imagine writing a generic `accessibleSubset` function that, given a React test object, returns the subset of nodes which have counterparts in the corresponding accessibility tree.

A snapshot test of the subset seems like a regression test for accessibility relationships.
* Prevent unexpected **regression**

[2017-05-01 12:48] johshej commented on #2436
Same problem with node 7.9.0 + jest 19.0.2.

[2017-05-01 13:42] blainekasten opened #3427 "Jest Mode to reduce output size in terminal"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
In watch mode with coverage turned on, it's not uncommon for jests's output to be longer than my screen sizes buffer. Within tmux specifically this becomes increasingly difficult to scroll up. When this happens it completely breaks the flow of writing/fixing tests and adds friction. I understand th

[2017-05-01 16:18] skovhus commented on #3382
Are you running the tests with the Jest --runInBand cli option? Else can try that.

[2017-05-01 16:20] skovhus commented on #3382
Sorry. Just saw you already tried this. : )

[2017-05-01 17:13] #3417 closed

[2017-05-01 17:14] mike-robertson commented on #3417
I believe this was caused by a circular dependency issue in my code base. Sorry for opening the issue!

[2017-05-01 18:17] anilreddykatta commented on #3194
@thymikee any inputs on this one will be very helpful!

[2017-05-01 19:01] AlexTes commented on #1772
So.. Close..
![screen shot 2017-05-01 at 21 01 07](https://cloud.githubusercontent.com/assets/2011351/25590565/5de021be-2eb1-11e7-8188-2fbc70332ddb.png)
Don't let this discourage anyone from taking on the issue 😉 .

[2017-05-01 19:03] thymikee commented on #3194
Thanks for looking into this! But before you start any work, I'd like to wait for @cpojer to confirm we actually want this feature.

The logic controlling watch mode is inside jest-cli package (watch.js file) so you could start from that place. I imagine we could add another key listener and invoke a function which will spawn asynchronously one of these commands, depending on OS: open, xdg-open, s

[2017-05-01 19:12] cpojer commented on #1772
@AlexTes if you have already made progress, how about sending a PR? :) We should be able to fix these things up together.

[2017-05-01 19:14] cpojer commented on #3194
Yeah, now that we collapse usage, I'm not super opposed to this. We can show it only if `config.coverage` is true, as well.

[2017-05-01 19:18] anilreddykatta commented on #3194
@cpojer @thymikee Thanks. 👍  I will work on this!

[2017-05-01 19:19] cpojer commented on #3427
In Jest 20, we will be collapsing watch usage. In Jest 19 we added `--expand` for diffs. Are you using an earlier version than Jest 19?

[2017-05-01 19:53] blainekasten commented on #3427
Yeah. I'm still on ~17. I'll give 20 a try when it comes out! You think it should solve this though?

[2017-05-01 20:34] kopax commented on #3382
Yes I did. I am desperate. Apparently it is a OOM error. Task is killed because the jvm resources aren't properly configured for docker. This is a memory leak in java 8 and I don't know why exactly this is jest task that crash my Jenkins.

I am moving all of my test integration that use jest into gitlab-ci using gitlab-runner.

[2017-05-01 21:21] cpojer commented on #3427
Yes it should, please give master a try! :) I'll close this issue but please feel free to let me know if I should reopen it once Jest 20 is out (soon!).

[2017-05-01 21:21] #3427 closed

[2017-05-02 05:10] anilreddykatta commented on #3194
This is WIP. Comments will be really helpful!. @thymikee where can I get `coverageDirectory` when I read from `globalConfig` it is giving `undefined`.  Can you help me out?

[2017-05-02 06:29] kimjuny commented on #3332
@Alxmerino you can see this [post](http://stackoverflow.com/questions/43514455/react-nativejestsyntaxerror-unexpected-token-import/43534980#43534980), I'm not sure my case matches yours.

[2017-05-02 06:39] thymikee commented on #3194
@anilreddykatta this is because `coverageDirectory` was not set explicitly and defaulted to "coverage"

[2017-05-02 07:01] thymikee opened #3432 "Update packages lockfiles"
The `yarn.lock` files of Jest packages are out of date and they don't get synced on `postinstall` hook.

[2017-05-02 09:25] Tom910 commented on #2920
Same problem. A lot of pull requests fall in TeamCity while not reproducing locally

[2017-05-02 09:35] okovpashko commented on #890
I'm trying to migrate our tests from Mocha+Chai+Sinon.js to Jest and can't figure out how to change location for a particular test.
**Jest 19.x** **uses JSDom 9.12** that does not allow to change location using `Object.defineProperty` trick. Also, I can't use `jsdom. changeURL()` because of the reasons described in tmpvar/jsdom#1700.
@cpojer what about implementing some proxy method to `jsdom.chan

[2017-05-02 09:36] thymikee commented on #890
@okovpashko we're planning to expose jsdom to the environment: https://github.com/facebook/jest/issues/2460

[2017-05-02 09:41] cpojer commented on #890
`Object.defineProperty` works for us at FB.

[2017-05-02 09:57] cpojer commented on #3420
Yeah, we should do this. Make an async "setup" function in both TestEnvironment's and wait for it in the code. If you can send a PR tomorrow, we can include it into Jest 20.

[2017-05-02 09:58] cpojer commented on #2441
That's quite aggressive @halis. We are doing this because Jest parallelizes tests and many tests may log to the terminal at the same time, meaning that Jest's output becomes useless. We actually used to do that. If you are using `--verbose`, we don't actually buffer anything and write straight to the console.

If that doesn't work for you, maybe you can help us by sending a PR to Jest and improvin

[2017-05-02 10:19] okovpashko commented on #890
@thymikee I saw that issue but thought that the proposition was rejected.
@cpojer I misread your example and mixed it up with other related to this problem, where people suggested to use `Object.defineProperty(window, 'location', {value: 'url'});`. Thank you!

I need to change not only the href, so I wrote simple method, that may be useful for someone who will be read this thread:
[code]

[2017-05-02 11:33] #3405 closed

[2017-05-02 12:42] cpojer commented on #3419
Can you let us know what `console.log(require.resolve('cliui'))` in your test outputs? This seems like an odd test. Do you have a repository that we can install and see this error?

[2017-05-02 12:48] cpojer commented on #336
@felipeochoa I have no smart thoughts on this to be honest, so feel free to send a pull request with the changes and with tests and we'll see where can take it.

[2017-05-02 12:56] cpojer commented on #3273
I think this is now resolved with #3201. If you think there is more we can do here, please send a PR :)

[2017-05-02 12:56] #3273 closed

[2017-05-02 15:44] suchipi commented on #3420
Not promising I can have a PR in by tomorrow, but...

Do you want to use an async setup function *instead* of the current synchronous constructor, or in addition to? The former would be a breaking change. Since you are bumping the major version to 20 anyway (and this api is not commonly used), that would not be a very big deal, but I wanted to confirm.

[2017-05-02 15:51] thymikee commented on #3420
Ideally we would change it to async, in v20 or v21. If we can't get it into 20, we may release a minor version with 2 possible ways, along with proper depreciation warning.

[2017-05-02 16:55] kirkstrobeck opened #3436 "Error: Error watching file for changes: EMFILE"
I know others have posted this issue, but it seems that they are aging and using old versions. I have tried everything from other issues.

Here is the error I get:

[code]

Versions:

- node: v7.9.0
- jest: 19.0.2
- watchman: 4.7.0 (installed via brew)
- mac: Sierra 10.12.4 (16E195)

[2017-05-02 17:38] #3432 closed

[2017-05-02 19:24] cpojer commented on #3420
I would keep the constructor, you can't get rid of a constructor anyway and add the setup function as an optional hook. If the function is present, call it and wait for the promise to resolve. If it isn't there, just do what we do now.

[2017-05-02 20:26] halis commented on #2441
I'm sorry, I was having a really bad day on Friday and was frustrated. No reason to take it out on you, you're just trying to help.

I did find the --verbose flag on Friday, which gave me enough output to fix my issues.

[2017-05-02 20:32] cpojer commented on #2441
That's great. Don't let JavaScript tools ruin your Fridays 😀

[2017-05-02 20:44] cpojer commented on #3403
Closing in favor of the PR.

[2017-05-02 20:44] #3403 closed

[2017-05-02 21:13] 0x24a537r9 commented on #2202
As a quick follow up for those that are interested, I finished my diffing module and have released it as an npm package, [`diff-react`](https://www.npmjs.com/package/diff-react). I didn't end up using a custom Fiber renderer, but it does all that I planned it to do at first using `virtual-dom` and should work for React, React Native, and React VR (the purpose for which I created it).

I don't want

[2017-05-02 21:39] bruderstein commented on #2202
The sort of thing that @jessebeach was suggesting is _exactly_ what unexpected-react does (just not with the accessibility tree), and can confirm it makes for great non-brittle tests
e.g. a component that renders

[code]

Can be asserted to match
[code]

And if it fails, you get a JSX diff (note the components identified as just wrappers are greyed out)

![screen shot 2017-05-02 at 23 37 18](https

[2017-05-02 22:23] warent commented on #1652
Using the following command:
`$ node --inspect --debug-brk ./node_modules/.bin/jest --runInBand -i --env jest-environment-node-debug`

I get the following errors:
`ReferenceError: window is not defined`
`only one instance of babel-polyfill is allowed`

[2017-05-02 22:27] warent commented on #1652
also `debugger` seems to be outright ignored

[2017-05-02 23:22] cpojer commented on #2203
This will be in Jest 20, soon.

[2017-05-02 23:22] #2203 closed

[2017-05-03 00:01] cpojer commented on #3338
See PR.

[2017-05-03 00:01] #3338 closed

[2017-05-03 00:02] #3402 closed

[2017-05-03 00:04] cpojer commented on #3169
@mpontus Are you planning on submitting a pull request for these things? :)

[2017-05-03 06:19] FredyC commented on #3251
A small workaround I've figured out, use `setupFiles` configuration option and create a simple file like this. If you need it for browser, just [check out this.](http://2ality.com/2016/04/unhandled-rejections.html).

[code]

Then suddenly all warnings are replaced by nice stack trace :)

[2017-05-03 07:41] jonathanglasmeyer opened #3445 ""Determining test suites to run" step is slow"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Running in watch mode with `patternInfo:  { input: '', lastCommit: false, onlyChanged: true, watch: true }`, the "determining test suites to run..." step is taking **>4 seconds** for our private monorepo. Digging in to the code showed that the slow part is in `jest-resolve-dependencies/build/index`, th

[2017-05-03 07:44] mpontus commented on #3169
@cpojer
Yes, let me actualize my branch for current master and prepare the pull request. Be advised though, that as it stands, my changes break tests for node 7.3. Other issues simply make my work incomplete.
I was waiting to get assistance with these issues, but I guess we can discuss them in the pull request.

[2017-05-03 07:47] cpojer commented on #3445
It really depends on your setup, but `this.resolve` actually does node resolution so that it can track dependencies within the system. For watch mode, it would be awesome if we could make this step incremental rather than process everything on every change. At Facebook, we are looking at similar times on a monorepo that is orders of magnitude bigger, so I'm a bit unsure what's causing the slow tim

[2017-05-03 08:29] jonathanglasmeyer commented on #3445
Setting `const skipResolution = true` introduces the following error when running `yarn jest -- --watch`:
[code]

[2017-05-03 08:54] cpojer commented on #3445
We could take a look at this if you create a mock-repo on github where we could run Jest and test performance for ourselves.

Otherwise, we do have a plan to build a faster resolver, see #2925 for details, but there is no timeline attached to it.

[2017-05-03 09:18] jonathanglasmeyer commented on #3445
Not sure how i should replicate our private monorepo setup publicly. 🤔
K, thanks for the pointer! 👍🏻

[2017-05-03 09:19] cpojer opened #3447 "Use Flow's spread types"
Flow now supports spread within types:

[code]

We should use it in the codebase where appropriate, most notably in the types/ folder.

[2017-05-03 10:01] jonathanglasmeyer commented on #3445
I investigated further how to explain the time taken. I measured how long the files that are `resolve`ed take each.
I print the milliseconds used by `DependencyResolver.resolve` for each file that takes above 1ms, which are 842 of the ~2700 overall files.
The following 800 files constitute 4,4 seconds of the overall 4,8 seconds.
<details>
<summary>Sorted timings for 800 files - relationship of tim

[2017-05-03 10:58] cpojer commented on #3445
Would you be able to share the dependencies (relative paths as they are in `require`) with us? You can of course obfuscate the names a bit.

I'm not sure where you are getting n^2 from, it should be O(n*m) where n is the number of files and m is the avg number of dependencies per file, roughly. We should be able to speed it up by using more aggressive caching; as it stands it is doing too many fil

[2017-05-03 11:13] patoncrispy opened #3449 "Worker is not defined"
**Do you want to request a *feature* or report a *bug*?**
A bug.

**What is the current behavior?**
When trying to test a web worker, the Worker constructor is throwing an error saying it is undefined.
Here is an example: https://repl.it/HdhL/0

**What is the expected behavior?**
The Worker constructor creates a new Web Worker.

**Please provide your exact Jest configuration and mention your Jest,

[2017-05-03 11:42] cpojer commented on #3449
You'll need to create your own mock for web workers. This is an unsupported feature and should either be part of your own mocks or part of jsdom, but not Jest. Feel free to make a mock and put it on npm for other people to use as well :)

[2017-05-03 11:42] #3449 closed

[2017-05-03 11:43] patoncrispy commented on #3449
Thanks @cpojer! Wasn't entirely sure. Thanks again for the advice. :)

[2017-05-03 12:06] jonathanglasmeyer commented on #3445
Are you referring to the `import` statements of ~800 files? That'd be a lot. :D

Your right, O(n*m) is more accurate.

Good point with the global module ids. Yea, caching should be able to improve this. :)

Thanks for helping investigate!

[2017-05-03 13:02] anton-kabysh opened #3452 "Browser-only environment"
I want request a feature:
- It is possible to simulate browser-only environment in Jest?
- Or it is possible to select node/browser/shared-node-browser env for specific test/test-case?

[2017-05-03 13:21] thymikee commented on #3452
Look over here: https://github.com/facebook/jest/pull/3421

[2017-05-03 14:37] anton-kabysh commented on #3452
Right now jest provide node env out of the box and browser like env with jsdom. I see this feature like enable/disable specific globals before test.

In a code this can look like following:
[code]

[2017-05-03 15:40] cpojer commented on #3452
In the next release of Jest, you can do `@jest-environment node` in the docblock header of your file.

[2017-05-03 15:40] #3452 closed

[2017-05-03 16:07] anton-kabysh commented on #3452
Cool, thanks!

[2017-05-03 16:28] PadmaPreethi commented on #1411
@aweary : Any update on this ?

[2017-05-03 16:32] bhongy opened #3453 "[bug] Website Sidenav Missing Text Content for "Framework""
Bug on Jest documentation website (production) — missing text content for "Guides -> Framework" resulting in the link is not clickable.

<img src="https://cloud.githubusercontent.com/assets/3942264/25672054/07611532-2fe7-11e7-989b-0f4da5445b45.png" width="300px" />

<img src="https://cloud.githubusercontent.com/assets/3942264/25672132/415bc84a-2fe7-11e7-899d-652dd74994a0.png" width="300px" />

See

[2017-05-03 16:36] bhongy commented on #3453
I can create a PR today if you need help. Please let me know.

[2017-05-03 16:46] kirkstrobeck commented on #3436
This problem exists with the following versions

- 19.0.2
- 19.0.1
- 19.0.0

It works again in

18.1.0

[2017-05-03 17:09] ericnakagawa commented on #3453
Ah thanks for finding this. This is a new page and needs an entry added to the en.json file with the page id and string (for localization).

[2017-05-03 18:31] bhongy commented on #3453
@ericnakagawa Definitely! I understand from your comment that you do not need help and will take care of it.

[2017-05-03 19:00] ericnakagawa commented on #3453
@bhongy https://github.com/facebook/jest/pull/3455 modifies the translation logic for the sidebar to use the existing metadata if a translation is missing, also added the string to translation file. Thanks for reporting this!

[2017-05-03 19:00] #3453 closed

[2017-05-03 19:22] cpojer commented on #3206
This'll be in Jest 20. See #3456.

[2017-05-03 19:22] #3206 closed

[2017-05-03 20:45] nithrm opened #3457 "Test if object, array or string."
Is there a way to check if a component is an object, array or string? This would be similar to chai's 'should.be.a' Ex.: validationResult.SSN[0].should.be.a('string').

[2017-05-03 21:37] thymikee commented on #3457
No, there isn't. You'll find the list of all available matchers here: https://facebook.github.io/jest/docs/en/expect.html

You can also use plain JavaScript or helper library like `lodash` for that:
[code]

[2017-05-03 21:37] #3457 closed

[2017-05-03 23:23] danny-andrews opened #3461 "Release"
Can we get a release please? There are two fairly nice-to-have fixes that are not in any release yet. https://github.com/facebook/jest/issues/2693 and https://github.com/facebook/jest/issues/3335.

Thanks. :D

[2017-05-04 01:39] danny-andrews opened #3462 "babel-polyfill being included unexpectedly"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Jest automagically includes `babel-polyfill` when transforming your source files if it is found anywhere in your `node_modules` directory. This causes code to run in an environment which may be different than what you run in production, **with no indication**.

**If the current behavior is a bug, ple

[2017-05-04 03:44] milesj opened #3463 "Support JSON5 or JS configuration file"
Feature request, as the title states.

Would be nice to support JSON5 or a JS file for configuration, like so:

[code]

Over the current:

[code]

[2017-05-04 04:46] mpontus commented on #3169
@cpojer
I submitted my pull request, please take a look at it when you have time. I will be happy to address any questions and requests that you might have.

#3451

[2017-05-04 06:17] thymikee commented on #3461
Yes, just be a little more patient. It should happen in a week or so.

[2017-05-04 06:17] #3461 closed

[2017-05-04 06:29] thymikee commented on #3462
Fixed on master, will be released soon in Jest 20.

[2017-05-04 06:29] #3462 closed

[2017-05-04 06:31] thymikee commented on #3463
In Jest 20 you'll be able to define `jest.config.js` or pass a JS file to `--config` option.

[2017-05-04 06:31] #3463 closed

[2017-05-04 06:33] milesj commented on #3463
Oh sweet. Is there an ETA on v20?

[2017-05-04 06:34] thymikee commented on #3463
We target this week

[2017-05-04 12:33] pcvandamcb opened #3464 "Out of memory when snapshotting react-sortable-hoc"
Jest/Node crashes after a memory leak when trying to snapshot a component that contains an element connected with react-sortable-hoc by @clauderic

I can't tell whether the problem is with the library or with Jest, but my first guess would be that snapshotting should not crash on any component, so I posted it here.

[code]
Jest 19.0.2, Node 7.9.0 on macOS 10.12.4

The actual error (which Google te

[2017-05-04 12:47] cpojer commented on #3464
You are right, snapshotting should not crash but the problem here is likely that Jest is inspecting something in the rendered component tree which, when accessed, produces an error. There is not really anything we can do about this and it is probably better to go hunting for the issue in the other library.

[2017-05-04 12:47] #3464 closed

[2017-05-04 13:24] stipsan commented on #3251
@FredyC here's how I avoid the memory leak:
[code]
In this snippet I don't just log the error but I throw it to make sure `jest test` will return a non-zero exit code. This is very useful in a ci context.
There were several components in our system that had forgot to mock out utilities that performed network calls that surfaced after adding the above snippet.

[2017-05-04 15:08] rimunroe opened #3465 "calling runAllTimers after using Lodash's _.debounce results in an infinite recursion error"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When using fake timers, creating a debounced function, calling it a couple times, and then calling `jest.runAllTimers`, an error will be printed:
[code]

It seems that changing the second argument passed to debounce (the time in milliseconds to debounce the function for) changes whether or not this e

[2017-05-04 15:42] marcusjwhelan commented on #10
Soooo. I know next to nothing when it comes to regex. How would you write a testRegex to test nested sub directories of tests?
- __tests__
    - utils
        - testThisFile.spec.ts

[2017-05-04 15:45] cpojer commented on #10
You can use testMatch if you are more familiar with globs.

[2017-05-04 16:27] SavePointSam opened #3466 "homepage text regression"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The website is showing the same description in the 'Built-in code coverage reports' and the 'Zero configuration' section. Since the introduction of localization support.

**What is the expected behavior?**
The sections should've retained their original descriptions during the localization upgrade.

**P

[2017-05-04 17:10] #3466 closed

[2017-05-04 19:16] marcusjwhelan commented on #10
@cpojer Could you give an example? I had to look up how to do regex queries on file system directories and I just guesses at it. Jest doesn't have examples of this kind of stuff. As far as I can tell, and I can't find any examples either.

[2017-05-04 19:21] thymikee commented on #10
[code]

[2017-05-04 20:21] kirkstrobeck opened #3470 "Import introducing unexpected branches (obj && obj.__esModule) 😭"
jest@18.1.0
yarn@0.23.2
node@7.9.0

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

As demonstrated by this [REPL](https://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=true&presets=es2015%2Creact%2Cstage-0&targets=&browsers=&builtIns=false&debug=false&code=import%20React%20from%20'react'%3B%0A%0Amodule.exports%20%3D%20''%3B) I am getting

[2017-05-04 20:23] cpojer commented on #3470
We don't have any control over this because it is handled by istanbul and it seems like an issue exists on that tracker already.

[2017-05-04 20:23] #3470 closed

[2017-05-04 20:24] kirkstrobeck commented on #3470
Aww snap

[2017-05-04 22:14] #2589 closed

[2017-05-04 23:13] cpojer opened #3471 "Add flow types for libraries"
Get the flow coverage up by adding types for `chalk` and friends.

[2017-05-05 00:38] huyph commented on #936
thanks for sharing @ainesophaur. I still can't get it to work with jest 18.1. Here are my codes:
[code]

[2017-05-05 02:06] kopax commented on #3382
Could we please change the tag of the issue from `Need info` to `Need testers` ?

[2017-05-05 10:08] FredyC commented on #3251
@stipsan That's kinda surprising that setting env variable here actually makes it shared between other jest child processes. Not sure how that works really, but good to know :)

[2017-05-05 13:22] wesleycho opened #3483 "Website documentation is currently broken"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Currently if one goes to http://facebook.github.io/jest/ and clicks links such as `Docs`, `API`, or `Getting Started`, one then sees an error displayed on screen without the ability to navigate anywhere.

**What is the expected behavior?**
One should be able to navigate to various pages of the document

[2017-05-05 13:29] cpojer commented on #3483
Fixed.

[2017-05-05 13:29] #3483 closed

[2017-05-05 14:01] bclinkinbeard opened #3484 "Docs and API links in site header lead to broken pages"
The nav items lead to https://facebook.github.io/jest/docs/en/getting-started.html and https://facebook.github.io/jest/docs/en/api.html, which both return an error message. If you remove the `/en` from the URL you get the expected content.

[2017-05-05 15:44] mrbinky3000 commented on #2702
Just wondering where we stand on this PR?  Jest support for the "module" field would really help me out.

[2017-05-05 15:46] probablyup commented on #2702
I submitted a PR and it was ignored for a while, so I closed it.

[2017-05-05 17:05] ericnakagawa commented on #3484
Thanks @bclinkinbeard -- I'll be pushing some changes today to better integrate localization. this issue should go away once the build hits master and deploys. I'll check back and close once I verify.

[2017-05-05 22:19] ericnakagawa commented on #3484
#3475 resolved this and properly publishes pages. Thanks for reporting!

[2017-05-05 22:19] #3484 closed

[2017-05-05 23:01] #3401 closed

[2017-05-06 05:56] orta commented on #3401
🎉

[2017-05-06 07:36] orta opened #3488 "README has <generated_getting_started_end /> in it"
**Do you want to request a *feature* or report a *bug*?**

 Bug

**What is the current behavior?**

There is the message

In the README

**What is the expected behavior?**

It _probably_ shouldn't exist, likely a leak from the tooling?

[2017-05-06 13:58] ZeeCoder opened #3491 "--coverage reports "undefined" for Uncovered Lines"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Jest 20.0 (Previously used 19.0.2)
Running `jest --coverage` in my repo reports undefined under the Uncovered Lines column, while previously it was left empty.
Travis CI: https://travis-ci.org/ZeeCoder/container-query/jobs/229438548#L253

**What is the expected behavior?**

The whole column should be e

[2017-05-06 17:28] ericnakagawa commented on #3488
Hmm, I'll take a look at this. This is how we generate the TOC. Perhaps the string got mangled.

[2017-05-06 18:13] ericnakagawa commented on #3488
Closing for now.

[2017-05-06 18:13] #3488 closed

[2017-05-06 19:03] blakeembrey opened #3495 "Missing dependency with v20"
It looks like the dependency for https://github.com/facebook/jest/blob/a9fdec85651c5ed5d9fc67d11317aa12ba0663e1/packages/pretty-format/src/plugins/ConvertAnsi.js#L15 is missing with the latest release of `pretty-format`, which results in broken node 4 builds which use the non-flat dependency tree: https://github.com/blakeembrey/node-bit-string-mask/pull/1.

[2017-05-06 19:09] cpojer commented on #3495
I'll fix this as soon as possible, for now please explicitly install this dependency.

________________________________
From: Blake Embrey <notifications@github.com>
Sent: Saturday, May 6, 2017 9:03:52 PM
To: facebook/jest
Cc: Subscribed
Subject: [facebook/jest] Missing dependency with v20 (#3495)

It looks like the dependency for https://github.com/facebook/jest/blob/a9fdec85651c5ed5d9fc67d11317a

[2017-05-06 23:44] le0nik opened #3499 "Jest 20 can't resolve path relative to rootDir if ran from the project root"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

*package.json*
[code]

*test/config.json*
[code]

*`test/setup.js` file is

[2017-05-07 06:39] rohmanhm opened #3500 "Test finished but not exit"
**Do you want to request a *feature* or report a *bug*?**
i'm not sure maybe bug

**What is the current behavior?**
Jest not exit after test finished.
![image](https://cloud.githubusercontent.com/assets/7524911/25778510/f8326bf6-3329-11e7-8d3c-12ca887933ad.png)

it happen after I add this line to test my user API
[code]

**If the current behavior is a bug, please provide the steps to reproduce and

[2017-05-07 06:45] rohmanhm commented on #3500
I've found this https://github.com/facebook/jest/issues/1456 similar to my issue.
Since I use firebase too.

[2017-05-07 06:46] rohmanhm commented on #3500
Fixed by https://github.com/facebook/jest/issues/1456#issuecomment-264085806
Thanks!!

[2017-05-07 06:46] #3500 closed

[2017-05-07 07:22] cpojer commented on #3499
Yes this is definitely a bug. We need to spend some time fixing up the new config resolution.

[2017-05-07 07:25] #3495 closed

[2017-05-07 09:01] koresar opened #3501 "Error: Cannot find module 'ansi-regex' - on node v4 and npm v2"
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
See the full stack trace and logs [here](https://travis-ci.org/stampit-org/stamp/jobs/229430239#L218).
[code]

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn i

[2017-05-07 09:03] thymikee commented on #3501
Duplicate of https://github.com/facebook/jest/issues/3495
Will be fixed in next patch release. By this time please install `ansi-regex` explicitly.

[2017-05-07 09:03] #3501 closed

[2017-05-07 09:05] koresar commented on #3501
Thank you @thymikee

[2017-05-07 11:06] kamthamc opened #3503 "Incorrect coverage"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
* setting up a project with latest versions of yarn, Typescript, React, Webpack and Jest. The tests are running successfully but I think there is a bug with coverage.
* Jest detects `export class AppComponent extends React.Component` as line not covered.

Am I missing something in config or test case

[2017-05-07 11:16] thymikee commented on #3503
There's new config option called [`mapCoverage`](http://facebook.github.io/jest/docs/configuration.html#mapcoverage-boolean) added to Jest 20, which takes care of source maps, e.g. for TypeScript transforms. Does that fix it for you?

[2017-05-07 11:26] kamthamc commented on #3503
@thymikee Thank you. That works great.

[2017-05-07 11:26] #3503 closed

[2017-05-07 11:30] thymikee commented on #3503
Awesome!

[2017-05-07 12:28] niieani opened #3504 "When mapCoverage is true, covered files have duplicated root paths [Jest 20]"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

Running the following project: https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-webpack.

See the [CI build](https://circleci.com/gh/aurelia/skeleton-navigation/322) output, the step named: `cd skeleton-typescript-webpack && yarn start -- test.all`:

[code]

The 2 uncovered f

[2017-05-07 12:40] presidenten opened #3505 "Tests break after upgrade to jest 20.0.0 from 19.0.2"
Running jest 20.0.0, fresh node_modules and --no-cache

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Tests run fine and show correct behaviour with jest 19.0.2, but break in 20.0.0.
Running test with `fit` or `it.only` makes the test pass again.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo t

[2017-05-07 12:40] thymikee commented on #3504
cc @dmitriiabramov

[2017-05-07 14:12] thymikee commented on #3505
Looks like a regression after rewriting our Jasmine bindings.
As a workaround for now, don't use `this` in your tests or reset the values. It currently gets shared between functions in the same describe block, so your `this.instance = 'bar'` set in first test is preserved in a following one, where you assume it to be empty (that's why it pass as a single test).

[2017-05-07 15:08] nickmccurdy opened #3508 "Return received results in Promise matchers"
See #3068.

**Do you want to request a *feature* or report a *bug*?**

Feature request and/or unexpected behavior

**What is the current behavior?**

While the new `resolves` and `rejects` flags naturally pass Promise values/errors to their matchers, the matchers themselves don't return Promises that resolve with the value of their received Promise. If it's possible to implement, this feature woul

[2017-05-07 16:33] dmitriiabramov commented on #3491
i checked the raw `json` coverage, and it doesn't seem to be any different from older versions. Might be just a report generation issue.
see https://github.com/istanbuljs/istanbuljs/issues/51

[2017-05-07 16:35] presidenten commented on #3505
Rewriting the tests to pass an object to `xyz.call()` instead of passing `this`, solved the problem.