[2019-01-26 15:33] #7704 closed

[2019-01-26 15:49] rahamin1 commented on #2550
Tried in SO as well...

[2019-01-26 15:54] jeysal commented on #7664
IMO the solution would have to work natively. Many people are already targeting Node 10 LTS so object spread is not transpiled.

[2019-01-26 18:21] SimenB commented on #7647
Hmm, maybe. Would you be able to reduce it down to something that's slow locally as well?

Make sure to pass the `--max-workers` and/or `--run-in-band` down to the spawned child process

[2019-01-26 18:31] SimenB commented on #7664
@pedrottimark do you know what's up?

[2019-01-26 19:16] pedrottimark commented on #7664
The `createEvent` function spread out `$$typeof` and `sample` properties of the asymmetric matcher argument. When the test failed, the `$$typeof` property caused Jest to assume that the event object was an asymmetric matcher, and access the `toAsymmetricMatcher` method.

Here is `console.log` output of `expectedEvents` criterion:

[code]

Here is a revised version with `payload` property like Flux

[2019-01-26 19:34] pedrottimark commented on #7664
Here is an example with the original object spread version of `createEvent`

[code]

[2019-01-26 19:43] SimenB commented on #7664
Would it help to make them non-enumerable? or maybe even throw when the object is enumerated saying it's unsupported?

[2019-01-26 20:01] pedrottimark commented on #7664
The cryptic error message did confirm that the problem is related to asymmetric matchers.

The test report is more subtle without the `$$typeof` property:

[code]

[2019-01-26 21:10] milesj commented on #7647
Trying that, will report back. In the mean time, I've been going through my CI builds and this commit seemed to double the time it takes.

https://github.com/milesj/boost/commit/cd1c50019541f04e3acb7f55b3a9c5d21c53bcf3

But nothing seems out of the ordinary. This is slightly around when I started using Jest 24 alpha, but not sure if that's a red herring or not.

[2019-01-26 21:21] SimenB commented on #7664
can we somehow throw "asymmetric matchers cannot be enumerated" or something when they are being `spread`? I have no clue. If not, I'm not sure if this issue is actionable?

[2019-01-26 21:27] sbekrin opened #7719 "setupFilesAfterEnv is ignored then defined in a preset"
## 🐛 Bug Report

Hey there 👋After upgrading to Jest 24, I've explored that both `setupFilesAfterEnv` and `setupTestFrameworkScriptFile` are ignored then defined in a preset. `jest --showConfig` is not showing them either. Other properties like `setupFiles` works as expected.

## To Reproduce

Using a preset, add `setupFilesAfterEnv` property to it.

## Expected behavior

Jest reads both `setupFile

[2019-01-26 22:36] nasreddineskandrani commented on #6783
if someone hit this issue i edited my previous comment: https://github.com/facebook/jest/issues/6783#issuecomment-450509214
so **solution 1** is now a nice workaround for those that are running in intellij, webstorm, commanline tests against one file just add `--runInBand`

I am really busy so when i have time i ll continue with `--experimental-worker` if no one solve it before.

[2019-01-26 22:39] nasreddineskandrani commented on #7631
@pfftdammitchris what is your usecase one file or multiple files where you noticed the slow?
for one file please read my last comment in: #6783

[2019-01-27 03:40] Einlanzerous opened #7722 "Jest Overwriting Require?"
## 🐛 Bug Report

Jest appears to override the require module, which is causing some issues with Jest recognizing an object as a constructor.

## To Reproduce

Steps to reproduce the behavior: Created a repo to make this simple, [repo](https://github.com/Einlanzerous/jest_bug_exploration). If you run it directly through Node, it will work- but if you run it through Jest, it will fail complaining th

[2019-01-27 07:56] rahamin1 commented on #2550
The solution was to specify all the modules of the package that caused the problem (victory-native|victory-core|victory-shared-events|victory-area etc. instead of victory-*)

[2019-01-27 09:38] doniyor2109 commented on #7719
It turns out `setupTestFrameworkScriptFile` validation is overwriting `setupFilesAfterEnv` preset options with empty value.

https://github.com/facebook/jest/blob/32bb032b856b6c351b47a61afea7c4052045640d/packages/jest-config/src/normalize.js#L400-L403

[2019-01-27 09:56] SimenB commented on #7722
Yeah, Jest implements its own `require` in order to support mocking and JIT.

Also, you shouldn't import `jsdom` and stick its stuff on globals (it's discouraged and can break at any time: https://github.com/jsdom/jsdom/wiki/Don't-stuff-jsdom-globals-onto-the-Node-global). Jest comes with `jest-environment-jsdom` which runs your code inside of jsdom, which means this is a more correct test:

[code

[2019-01-27 09:57] dandv commented on #6928
Have been seeing this issue for a few months; still there in v24.

[2019-01-27 10:01] jeysal commented on #6928
Unfortunately, this is all but trivial to fix, see https://github.com/facebook/jest/issues/7027#issuecomment-423837270
I believe this should be marked as duplicate of https://github.com/facebook/jest/issues/6184?

[2019-01-27 10:13] SimenB commented on #6928
Yeah, duplicate of #6184

[2019-01-27 10:13] #6928 closed

[2019-01-27 10:33] SimenB commented on #7709
I've opened up #7725.
@pribilinskiy it would be awesome if you could test by installing `write-file-atomic@2.4.1` (jest comes with `2.4.2`) locally and see if it fixes your issue. Either uses `resolutions` if you use yarn, or manually replacing in `node_modules`

[2019-01-27 10:37] pribilinskiy commented on #7709
I have
[code]
checked both in `package-lock.json` and in `package.json`-s in `node_modules`

[2019-01-27 10:39] pribilinskiy commented on #7709
btw, there's no string match for `write-file-atomic` in `node_modules/jest`

[2019-01-27 10:46] SimenB commented on #7709
It's part of `jest-runtime`. Easiest is to run `npm ls write-file-atomic` and see what it spits out

But if you're on Jest 23 (and on `write-file-atomic@2.3.0`), it's not the same issue (I think).

[2019-01-27 10:50] pribilinskiy commented on #7709
I see, well `jest-runtime` uses `write-file-atomic` directly from `node_modules/`.
What else can trigger this error

[2019-01-27 10:55] SimenB commented on #7709
It's not the same as we're seeing on our own CI, or the user above here

In your case, I'd follow #4444

[2019-01-27 11:20] lukeapage commented on #7709
Same problem once upgrading to jest 24, windows 10. I've downgraded write-file-atomic to 2.4.1 with manual copying of an old version and it stopped having errors. re installing and the error comes back. i cleared my cache before each test.

[2019-01-27 15:08] SimenB commented on #5163
Using jest 24 and the option added in #7454, these are the numbers I'm seeing with the repro in the OP:

[code]

vs without changes:

[code]

Diff:

[code]

[2019-01-27 16:08] thymikee commented on #7719
Closed via #7724

[2019-01-27 16:08] #7719 closed

[2019-01-27 17:09] tiborsaas commented on #3853
This is really weird. There seems to be an issue with async handling. I can't get the errors to be displayed. Even if wrapped to `try/catch` blocks, I can't see the error.

The parameter `generator` is correct for sure, If I remove the async function call, then it logs correctly. It also returns the correct string when it's outside the for loop.

![image](https://user-images.githubusercontent.com/

[2019-01-27 17:18] tiborsaas commented on #3853
Thanks for the reply, but it's not really the case, some error prevents the `console.log` to be displayed. There is another async function which works fine with `console.log` if I call it in the `forEach` callback.

[2019-01-27 17:34] tiborsaas commented on #3853
I agree, but I want to run the `expect` calls in the `forEach` because I don't know upfront how many changes I have to deal with.

Unfortunately the `Promise.all` approach didn't fix anything.

[2019-01-27 17:40] SimenB commented on #3853
Did you use `map` instead of `forEach`? The point is to return an array of promises to `Promise.all`

[2019-01-27 17:43] tiborsaas commented on #3853
@SimenB yes, I know.

![image](https://user-images.githubusercontent.com/342688/51804604-669a3680-2263-11e9-879a-1353ba618ee3.png)

If there is an error, I can't see it.

[2019-01-27 17:44] tobyhinloopen commented on #3853
@tiborsaas You're not waiting for `Promise.all` to complete: use `await Promise.all(...)`

[2019-01-27 17:45] tiborsaas commented on #3853
Did, that too, same result. :(

[2019-01-27 17:47] tobyhinloopen commented on #3853
what if you add `await new Promise((resolve) => setTimeout(resolve, 1000))` below your `promise.all`?

[2019-01-27 17:47] SimenB commented on #3853
Can you open up a new issue with a reproduction? I believe the issue reported by the OP is fixed while you're seeing a different one (no matter if you handle async right or not, you should still see the log statement)

[2019-01-27 17:49] jeysal commented on #3853
Yeah it's strange indeed, something like
[code]
is usually still printed in some way

[2019-01-27 17:50] tobyhinloopen commented on #3853
He's using a callback function as 2nd argument of `Promise.all([...], callback)`. He should use `Promise.all([...]).then(callback)`. Maybe that solves his problem, I think the 2nd argument of `.all` is ignored. @tiborsaas

[2019-01-27 17:51] SimenB commented on #3853
Yeah that's wrong, but log statements should still show up

[2019-01-27 17:54] tobyhinloopen commented on #3853
@SimenB Nope, 2nd argument is ignored.

true

[2019-01-27 17:54] tiborsaas commented on #3853
Yeah, go confused with it, sorry. Thx @tobyhinloopen

`const lol = await Promise.all(versions);` worked as expected.

[2019-01-27 17:59] SimenB commented on #3853
In that case, the log statements might be lost since the function is never called, but you should still see log statements in the original `forEach` case since node will wait for the promises to complete before exiting the process. So it's still a bug, even though it's a user error

[2019-01-27 19:02] SimenB commented on #3853
PR: #7731

[2019-01-27 19:50] milesj commented on #7647
Memory leak stuff seems to be spurious. Not entirely useful. https://travis-ci.org/milesj/boost/jobs/484960305

It's failing on the most basic of tests: https://github.com/milesj/boost/blob/master/packages/core/tests/i18n/LanguageDetector.test.ts / https://github.com/milesj/boost/blob/master/packages/core/src/i18n/LanguageDetector.ts

[2019-01-27 20:05] SimenB commented on #7647
Can you reproduce the error/slowness in a smaller repo? There's so much stuff code there, it's hard to tell what's going on.

Potentially, just a branch in the same repo which deletes most of the code but still shows it being slow

[2019-01-27 21:52] SimenB commented on #7700
Yeah, this is essentially a dupe of #2549. The case of `http` is fixed in Node 10 since they switched from `instanceof Array` to `Array.isArray` here: https://github.com/nodejs/node/pull/20250. If you can get them to backport this to node 8 it'll fix it in that version as well 🙂

[2019-01-27 21:52] #7700 closed

[2019-01-27 22:06] milesj commented on #7647
Yeah I'll try and narrow it down if I can.

[2019-01-27 22:11] AnaRobynn commented on #6180
Another good reference for that type of behavior is testdoublejs. They have a very specific usecase for mocks and the usecase is from what I gather exactly what is being proposed here.

[2019-01-28 02:07] Einlanzerous commented on #7722
Yeah sorry I actually had the main version running it with Jest's JSDOM instead of importing it, but was just throwing this together as an example. I'll speak with my other devs on how this was bundled and if we can make a light version to help with debugging.

[2019-01-28 04:19] joelgetaction opened #7732 "Jest 24 is 67% slower than Jest 23.6.0 on the same test suite"
## 🐛 Bug Report

Thanks for your hard work releasing jest 24!

A clear and concise description of what the bug is.

On jest 23.6.0 my test collection that totals 49 test suites and 700 tests took on average 11.9 seconds to run.  Now in jest 24.0.0 it takes 19.9 seconds to run, with no changes of any kind to my code, tests or environment other than upgrading to jest 24.  I'm not doing anything fanc

[2019-01-28 07:00] CrOrc commented on #7732
For me the Jest keeps writing **new** jest-transform-cache folder on **every** jest run.

    OS: Windows 7
    CPU: (8) x64 Intel(R) Core(TM) i7-2600 CPU @ 3.40GHz
  Binaries:
    Node: 11.7.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.13.0 - ~\scoop\apps\yarn\current\Yarn\bin\yarn.CMD
    npm: 6.5.0 - C:\Program Files\nodejs\npm.CMD

[2019-01-28 07:07] SimenB commented on #7732
Interesting! Does that happen in many projects? Could you post your config?

[2019-01-28 07:15] CrOrc commented on #7732
Here are babel.config.js, jest.config.js, package.json, yarn.lock

[jest.config.zip](https://github.com/facebook/jest/files/2801803/jest.config.zip)

[2019-01-28 14:42] jpbochi commented on #1395
I agree with @elliotlarson. Even if most of the blame is on Docker for Mac, I believe jest could optimize its scan for tests in ways that would help regardless of Docker.

[2019-01-28 14:45] SimenB commented on #1395
Ideas and PRs are most welcome. It's, as far as I know, not an issue for anyone on the core team - so if anything is gonna happen here it'll have to come from the community

[2019-01-28 14:52] jpbochi commented on #1395
@SimenB Fair enough. I only wished there was some incentive for the core team to try to reach more people. However cool jest might be, there are alternatives out there. And being super slow to run is a deal breaker.

[2019-01-28 15:13] Jessidhia opened #7733 "Jest 24 seems to also run a top level test despite having projects set in package.json"
## 💥 Regression Report

A clear and concise description of what the regression is.

## Last working version

Worked up to version: 23.6

Stopped working in version: 24

## To Reproduce

I am not sure if this is completely consistent, but; given a monorepo where the top level `package.json` jest config is just:

[code]

and there is otherwise no top level config (all config is inside monorepo packa

[2019-01-28 15:18] SamMaxwell opened #7734 "coverage summary does not show data for 24.0.0"
## 🐛 Bug Report

after upgrading to jest 24.0.0 and running "npm test" on my moderate-sized projects no longer show file-level metrics in the coverage summary and the "All Files" aggregates are all 0 (% Stmts, % Branch, % Funcs, %Lines), even though the tests cover the files at 100% for all files. if I simply downgrade to jest 23.6.0 (and change nothing else) then the coverage details show up.

##

[2019-01-28 15:19] thymikee commented on #7734
Would you mind setting a repro we can test?

[2019-01-28 15:32] SamMaxwell commented on #7734
https://github.com/SamMaxwell/jest-issue-7734.git

[2019-01-28 15:36] tnguyen14 commented on #3853
I use https://www.npmjs.com/package/debug to do logging. Would that work with Jest?

[2019-01-28 15:36] SamMaxwell commented on #7734
npm i (to get jest 24.0.0)
npm test (see that the coverage metrics are all 0)
npm uninstall jest
npm i jest@23.6.0 --save-dev
npm test (see that the coverage metrics are all 100)

[2019-01-28 15:46] SamMaxwell commented on #7734
I think 24.0.0 messed up coverage in general. I even commented out some tests to see if it would report the uncovered lines and it still did not report anything. (but works as expected in 23.6.0)

[2019-01-28 16:09] bricss commented on #7704
@SimenB It doesn't even work with a workaround 😢
[code]

[2019-01-28 16:11] eliw00d commented on #7704
Weird. The workaround worked fine for me.

[2019-01-28 16:14] Ky6uk opened #7736 "moduleFileExtensions must include 'js'"
## 🐛 Bug Report

After an upgrade to `v24.0.0` I got an error `moduleFileExtensions must include 'js'` even though a project in projects array should get only `ts` files (ex: `jest-runner-tslint`).

## Expected behavior

`moduleFileExtensions` can contain only exact extensions if the extension `js` not using at all.

## Run `npx envinfo --preset jest --markdown`

### System:
 - OS: macOS 10.14.2

[2019-01-28 16:25] LukasBombach commented on #1377
That does not work because your tests will be green even when no error is thrown (because then the catch won't be triggered and no expectations will be run. No expectations are also green)

[2019-01-28 16:51] SimenB commented on #7704
@bricss what does `scripts/test.js` look like?

[2019-01-28 16:52] jeysal commented on #7736
Confirmed. For use cases like running TSLint, Jest does not internally need `.js`, so disallowing it was an undocumented breaking change.

[2019-01-28 16:53] jeysal commented on #7736
Breaking change: #7160

[2019-01-28 17:02] SimenB commented on #7736
I guess we can check if the `runner` is `jest-runner` and only `require` `.js` if it is

[2019-01-28 17:11] jeysal commented on #7736
Is there a reason why `jest-runner` can't do this check itself?

[2019-01-28 17:24] SimenB commented on #7736
We wanna have valid config come out of `normalize` and never mutate it. I suppose we can throw in there, but it's weird to throw a config error outside of the config module

[2019-01-28 17:31] ruimcf commented on #890
@FelipeBohnertPaetzold thanks

[2019-01-28 17:36] jeysal commented on #7736
I mean, it's generally valid config, it's just that `jest-runner` doesn't like it - an external runner would have to complain on its own as well. Alternative would be to let runners declare their mandatory extension, but that seems ridiculously overkill 😅
I'll try moving the check into `jest-runner` when I have some time :)

[2019-01-28 17:41] lirbank commented on #7732
To me 24 seems slower when there is a cache available, but about the same as 23 when there is no cache, so it seems like @CrOrc is on to something. Here are my results (ran the tests three times with each config):

23.6.0 - Runs after clearing the cache with `--clearCache`:

Test Suites: 36 passed, 36 total
Tests:       553 passed, 553 total
Snapshots:   48 passed, 48 total
Time:        64.927s

T

[2019-01-28 18:00] regularfry commented on #6194
Just to chip in to support a previously-made point: it's all very well trying to prevent people from building in a reliance on a test order, but the trade-off is that given an accidental test-order problem, I am now denied a particularly useful tool to find out where it is.  That's less helpful than it could be.

[2019-01-28 18:23] Einlanzerous commented on #7722
Updated the repo to have a tiny file, just a basic file with a console.log inside of it now (still run through browserify and still has the same error).

[2019-01-28 18:51] rahamin1 opened #7737 "jest for async functions (even when tested flow is not async)"
_posted also in https://stackoverflow.com/questions/54406317/jest-for-async-functions_

I am testing code that includes async functions. Even when testing a flow that doesn't use await, the test fails. When I remove async/await (which is possible, since the tested flow doesn't require it), the test passes.

I have built a simplified example of the code and the test.

(1) Example for code that is u

[2019-01-28 20:11] grosto commented on #7734
The problem is with `collectCoverageFrom`.
Jest uses library [micromatch](https://github.com/micromatch/micromatch) for glob matching. It got updated(https://github.com/facebook/jest/pull/6650) to a new version in Jest 24. This new version does not match with `.js` files with the pattern from your config(`'**/*.{js}'`).

I have reproduced this in the repl below:
https://repl.it/repls/BlankNotableA

[2019-01-28 20:15] palmerj3 opened #7738 "New top level package for jest-config utilities"
## 🚀 Feature Proposal

Currently src/utils.js in jest-config contains a lot of methods which could be useful as a top-level package.

## Motivation

Provide self-contained packages without additional bloat.

## Example

jest-junit would use only the replaceRootDirInPath method if it were available as a separate package. https://github.com/jest-community/jest-junit/blob/master/utils/replaceRootDirI

[2019-01-28 20:19] thymikee commented on #7734
Thanks @grosto for checking that out. Yup we've upgraded `micromatch` to v3, so make sure your globs [are valid](https://github.com/micromatch/micromatch#matching-features).

[2019-01-28 20:19] #7734 closed

[2019-01-28 20:21] bricss commented on #7704
@SimenB technically, as I know, it was created by [create-react-app](https://github.com/facebook/create-react-app) version `~2.x.x`, and never touched by anyone.

[2019-01-28 20:33] SimenB commented on #7704
How are you applying the workaround then, if you haven't updated the file?

[2019-01-28 20:55] kentcdodds commented on #7710
Yes, we are using `globalSetup` but from my testing that file wasn't the one causing the trouble. I'll try to make a reproduction today (unless that PR will be released soon in which case I'd prefer to just wait and see if it magically fixes my problems 😅).

[2019-01-28 20:58] bricss commented on #7704
@SimenB I meant it wasn't touched by anyone before me. I placed imports exact in same order as was suggested.

[2019-01-28 21:32] SimenB commented on #7710
That PR _has_ been released, that's what's causing your issue. 🙂 You need to include your setup or teardown in `transformIgnorePattern`.

This should be documented somewhere, not sure where's the best fit, though

[2019-01-28 21:36] kentcdodds commented on #7710
Ooooh! I see 😅 Hmmm... Interesting. So it's just a limitation or something? I feel like this is something that jest should be able to detect and prevent? Maybe I'm misunderstanding what's going on though.

When you mentioned `transformIgnorePattern` before, I thought you were saying I should include my custom transform in that pattern, but indeed including the global setup in the pattern fixes the

[2019-01-28 21:41] SimenB commented on #7710
Not sure if it's functionally a bug, but we should definitely provide a better error.

The real fix is the preload all transformers, and then install the require hook. It would still possibly break if there are lazy `require`s inside the `transform` function or something, but that's way less likely to happen

[2019-01-28 21:50] SimenB commented on #7710
Doing this should fix it, as it will make sure to load and cache the transformer before installing `require` hooks:

[code]

`transformer._getTransformer` will load the transformer matching the filename, and stick it in a cache (it's the function that throws the error in the OP).

Of course, that calls a private API, so we should make a non-private one. But that should fix the issue.

https://gith

[2019-01-28 22:32] yordis commented on #7704
Hey@SimenB, is this released as part of `24.0.0` https://github.com/facebook/jest/pull/7707 ?

Also, I can confirm that https://github.com/facebook/jest/issues/7704#issuecomment-457699687 worked for me

[2019-01-28 22:34] jeysal commented on #7704
The fix #7707 is not yet released.

[2019-01-28 22:45] jeysal commented on #7733
I could not reproduce this by creating the minimal package/directory structure to match your description - Jest only ran on `packages/@a/a`, `packages/@a/b`, and `app`.
Please provide a repository to reproduce this :)

[2019-01-28 23:47] kentcdodds commented on #7344
This was done!

[2019-01-28 23:47] #7344 closed

[2019-01-28 23:57] kentcdodds opened #7740 "TypeError: Cannot read property 'context' of undefined"
## 🐛 Bug Report

When you have a `globalSetup` script, this error shows up when trying to start jest with watch mode:

[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

It should start Jest in watch mode.

## Link to repl or repo (highly encouraged)

I just reused the same repo from my other issue. It's on the `context-issues` branch here: https://github.com/

[2019-01-29 04:12] joselcc commented on #6933
just spreading the news, Jest v24 was updated to use Babel 7 internally, using `babel bridge` or `babel7-jest` shouldn't be needed anymore
https://twitter.com/i/web/status/1088904207653105664

[2019-01-29 06:33] Aghassi opened #7741 "jest-validate complains about cwd in Jest 24 with jest-config for defaults"
## 💥 Regression Report

`jest-config` in Jest 24 warn on `cwd` that was added

## Last working version

Worked up to version: 23.6.0

Stopped working in version: 24.0.0

## To Reproduce

Steps to reproduce the behavior:

1. Import `const { defaults } = require('jest-config');` in a config
2. Export `defaults`
3. Validate the config via jest validate by running `yarn jest` on something
4. See the f

[2019-01-29 06:36] #7737 closed

[2019-01-29 08:51] LukasBombach commented on #1377
Ahhh! I did not see that! Thank you!

[2019-01-29 08:54] SlickNutter opened #7743 "Provide example JSON output file"
## 🚀 Feature Proposal

To provide a JSON-File that shows what structure --json --outputFile=\<filename\> has.

## Motivation

It would simplify working with Jests output.

## Example

In a dashboard that shows the stability of the different branches of a project.

## Pitch

Why does this feature belong in the [Jest core platform](https://www.youtube.com/watch?v=NtjyeojAOBs)?
Because it's a good an

[2019-01-29 09:05] j18s commented on #6798
How about this:

`const localStorage = jest.fn();
 localStorage.getItem = () => 'abc....';
console.log(localStorage.getItem()`

[2019-01-29 09:20] jeysal commented on #7740
Confirmed. Probably introduced by #7562

[2019-01-29 12:49] SimenB commented on #7740
It happens since we run both setup and teardown even if there's no tests.

So it also happens if there are no tests found, and jest is run with `--pass-with-no-tests`

[2019-01-29 13:09] SimenB commented on #7740
See #7745. Missing a test, if anybody feels like adding one 😀

[2019-01-29 14:00] #7740 closed

[2019-01-29 14:09] bricss commented on #7704
Battlefield news: 📰

I have managed to start_Jest_ by adding those lines into the `scripts/test.js`:
[code]
After, when I'm start _Jest_ to run all the tests, it shows this:
[code]
And, _Jest_ didn't locate any of those test files. 💥

[2019-01-29 14:17] 951565664 commented on #6844
I have same question. But maybe this is not a issues of Jest,  In the Node environment, it can't simulate a browser jump.

[2019-01-29 14:17] kentcdodds commented on #7740
Thanks friends 🤗

[2019-01-29 14:26] nehero commented on #7311
+1 Here. Thought it had something to do with our DB drivers but after properly tearing down heap still increases, both with runInBand and parallel

[2019-01-29 14:36] #7709 closed

[2019-01-29 15:03] overlookmotel commented on #7732
Just to say that I'm seeing the same as @CrOrc. Every run of jest produces a new `jest-transform-cache` folder plus new `perf-cache` and `haste-map`. Hence every test run takes as long as the first - the cache seems to be ignored.

[2019-01-29 15:11] csvan commented on #7732
Cannot provide repro due to working on proprietary code, but I can confirm this from our CI logs. Tests phase takes up to 5 minutes longer after moving from Jest 23.6 -> 24.0, with no other code changes being made.

I tried adding the `--no-cache` flag to see if it could be cache related as per @CrOrc suggestion above. I saw no difference in runtime. I then investigated I/O activity differences be

[2019-01-29 15:43] SimenB commented on #7732
I can confirm caching of transformed files are broken.

It's due to this line (from #5862): https://github.com/facebook/jest/blob/31b81ba37eb779161b6db78aa862c0bcd6465bd5/packages/jest-config/src/normalize.js#L272

When we get to the cache key, the entire config serialized as a string is part of the cache name, and that will change for every single invocation of Jest:

https://github.com/facebook/

[2019-01-29 15:45] SimenB commented on #7732
We should probably revert https://github.com/facebook/jest/pull/5862/commits/a370c21539aad54f79d577b3b95203351b1fc169 to make it stable

/cc @thymikee

[2019-01-29 15:46] SimenB commented on #7732
workaround is to set `name` in your config

[2019-01-29 16:08] SimenB commented on #7732
PR: #7746

[2019-01-29 16:16] Einlanzerous commented on #7722
On second thought- while we did make the constructor smaller and it does still have the same issue in Jest, we realized that the Node portion now also fails. So we'll be putting a fix up for a middle ground soon. Sorry about that.

[2019-01-29 16:45] pbohnenkamp opened #7747 "Async tests throw TypeError: jasmine.Spec.isPendingSpecException is not a function"
## 🐛 Bug Report

Async tests are no longer reporting the correct failure conditions if not surrounded by a try/catch. Instead, the error is

[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The first two tests above should fail because the expected, 2, does not match the received, 1. Instead they are failing with the error:

[code]

The third test is behavin

[2019-01-29 17:31] grosto commented on #7747
I cannot reproduce. Could you please provide your config, or if you don't mind could create a full repo?

[2019-01-29 17:47] #7732 closed

[2019-01-29 18:02] SimenB commented on #7722
It's probably something to do with the `require` wrapper that `browserify` adds, although I'm not entirely sure what 😅 But yeah, getting a small file that does not implode on `node file.js` would be awesome 🙂

[2019-01-29 18:09] #7741 closed

[2019-01-29 18:14] milesj commented on #7647
I wonder if this is also relevant: https://github.com/facebook/jest/issues/7732

[2019-01-29 18:22] SimenB commented on #7647
Then it should be slow locally as well. Might very well be the reason, of course - if you have a bajillion files, the relatively weak CPU of travis will be slow 🙂 Shouldn't be _that_ slow though

[2019-01-29 18:38] SimenB commented on #7743
It receives the same thing [`testResultsProcessor `](https://jestjs.io/docs/en/configuration#testresultsprocessor-string) does (or rather, it receives what `testResultsProcessor` _returns_). Wanna send a PR for that?

[2019-01-29 18:53] pbohnenkamp commented on #7747
Looks like it is an Intellij IDEA Issue or a combination of the two. They have a custom reporter that no longer works in version 24.0.0. I have reproduced the error in the following project: https://github.com/pbohnenkamp/jest-issue-7747

IDEA runs the test with the command line:
[code]
If you use npm run test, it will use that command line as I have also copied in the specific IDEA files that are

[2019-01-29 19:09] SimenB commented on #7747
Please share the link when you've created the issue.

We'll probably be changing our reporter API to not match jasmine at some point as well, so it'd be good if they could not rely on at least the parts that are not documented. I'll try to ping them before we do anything drastic, though 🙂

[2019-01-29 19:09] #7747 closed

[2019-01-29 19:13] thymikee opened #7748 "Speedup slow e2e tests"
Here's a totally unscientific list of our slowest tests (times doesn't really matter, it all depends on machine, but if you're curious this is on MBP 2015, 8 cores, 2nd run with warm cache):
[code]

The way to speed them up is to simply split them into smaller chunks – maybe 2, maybe 3 or 4, it all depends – to better use parallelization.

Example:
`onlyChanged.test.js` -> `onlyChangedGit.test.js`

[2019-01-29 19:14] pbohnenkamp commented on #7747
Link to issue:
https://youtrack.jetbrains.com/issue/WEB-37021

[2019-01-29 20:58] jeysal commented on #3853
For reference, console messages can get lost if they are printed after the tests have completed, see the comments at the bottom of #7731. This might be the reason for some, but probably not all of the missing console messages reported here.

[2019-01-29 21:03] jeysal opened #7749 "Fail the test run due to logging after teardown"
Fail the test run run with exit code 1 if logging occurs after teardown.
#7731 prints warnings if this happens, but failing the run because of it is a breaking change and can thus only be done in the next major.

@SimenB can you create a Jest 25 milestone and add this to it?
Thought this was better to keep track than just the TODO comment in the source code.

[2019-01-29 21:05] alloy commented on #2209
One issue with the `afterEach(() => expect.hasAssertions())` approach is that when an exception gets thrown in a test you’d really _only_ want that exception being reported, but because `afterEach` and `beforeEach` callbacks run regardless of exceptions being thrown in tests you’d get additional unhelpful noise about no assertions having been made.

For instance, given a suite like the following:

[2019-01-29 21:09] SimenB commented on #7749
sure

[2019-01-29 21:16] alloy commented on #2209
Actually, the following situation also leads to this noisy reporting, so this is a more general problem with `hasAssertions`. Is this something that you’d consider a UX issue?

[code]

[2019-01-29 21:19] nicollbryla commented on #7748
Hi, I would like to give it a shot. Do you have more suggestions? Or should I trust my own intuition?

[2019-01-29 21:23] jeysal commented on #7748
Hi, we would love to accept your contribution! As far as splitting tests goes, looking at the existing `describe/it/test` blocks to see which belong together and using your intuition to determine where a split could be made should work well - there's often multiple valid points to split anyway ;)

[2019-01-29 22:14] SimenB commented on #5164
This is available in Jest 24

[2019-01-29 22:41] SimenB commented on #6798
If people can come up with some way we can handle this generically in `jest-mock`, I'm happy to reopen. As is, I don't think this is actionable, so I'm closing this. Please keep discussing, though!

[2019-01-29 22:41] #6798 closed

[2019-01-29 23:08] CodeMonkeyG commented on #3254
This fixed an issue I was experiencing with Vue when running `npm run serve` Thank you for the suggestion.

[2019-01-29 23:09] #7736 closed

[2019-01-29 23:30] leontastic opened #7753 "afterAll hook doesn't run in skipped test suites"
## 🐛 Bug Report

In watch mode, or using CLI with `-t`, jest will parse and run the `beforeAll` hooks for all test suites, but doesn't run `afterAll` for the skipped test suites.

My use case is spinning up a puppeteer browser in the `beforeAll` hook and closing it in an `afterAll` hook. Since `afterAll` doesn't run for skipped test suites, running watch mode with a test name regex filter results

[2019-01-30 00:39] viknes-interana commented on #7732
Sorry, where do we set the name? I only have a single config and it is declared in `package.json`. Adding a `name` property inside the `jest` object didn't help.

[2019-01-30 02:35] MarcoScabbiolo opened #7755 "Disable node module mocking per test by directory/glob/regexp"
## 🚀 Feature Proposal

Options to avoid automatically mocking node modules in certain file/directory/glob patterns.

## Motivation

Having both unit/integration and e2e tests of a node module or just needing both the mocked and the original modules in two different tests is supported right now using, for example, `jest.dontMock` inside the test itself.

But if the mocked module exposes decorators

[2019-01-30 02:40] MarcoScabbiolo commented on #7755
Tried enclosing the e2e tests in a `describe` and also using `beforeEach` but the test still fails because it registers the mocked module that does not contain the correct implementation of the decorators.

[2019-01-30 05:20] ltfschoen commented on #3822
I just encountered this error on macOS. I just had to update from react-native 0.55.3 to 0.56

[2019-01-30 06:15] malthoff commented on #7311
We were struggling with java heapsize problems for the last month, with karma/jasmine and jest respectively. After several negative attempts we found one major problem in our test suites - we imported a module in almost all tests, which itself imported lots of google material modules. That caused all tests to run slow (compared to now) and lead to the heap size problems. We restructured our test s

[2019-01-30 06:55] #7099 closed

[2019-01-30 08:48] robearlam commented on #2441
I get pretty inconsistent results with this as well on jest@23.6.0. If I run in watch mode all (a) then I can see console output, but not if I run in related changes watch mode (o)?

[2019-01-30 08:51] lalnuo commented on #2441
`verbose=false` fixed this for me as well 🎉

[2019-01-30 09:13] s-bauer commented on #7709
@SimenB Any info when a new version with this fix will be released?

[2019-01-30 09:15] SimenB commented on #7709
hopefully today

[2019-01-30 12:01] blackholegalaxy commented on #7709
I encountered this problem today on our large scale project. We use locked 23.6.0 jest version. Could the fix be also applied to 23.x versions?

[2019-01-30 12:05] SimenB commented on #7709
No, not unless absolutely necessary. And we have don't really have a fix. The "fix" is to rollback `write-file-atomic`, which you can do yourself with a lockfile or yarn's `resolutions`

[2019-01-30 12:18] Farwatch opened #7757 "Rename `restoreAllMocks` to `restoreAllSpies`"
## 🚀 Feature Proposal

Rename `restoreAllMocks` to `restoreAllSpies`.

## Motivation

As stated in the docs [here](https://jestjs.io/docs/en/jest-object#jestrestoreallmocks), the `restoreAllMocks` function only restores mocks created with `spyOn`. This leads to confusion for newer users.

## Example

`afterEach(jest.restoreAllSpies)`

## Notes

For backwards compatibility, I would expect `restoreA

[2019-01-30 12:46] grosto commented on #4262
I can try to tackle this one.

[2019-01-30 13:50] SimenB commented on #2209
We should probably count a failing assertion as an assertion before rethrowing it, or something like that

[2019-01-30 15:30] dharric opened #7758 "Error Cannot read property converageData of null"
## 🐛 Bug Report
When I attempt to run jest --coverage. I get the error above for paths to all my js files. For example as shown below. Having said that when I don't use the coverage flag and just run jest my test does run successfully. I took the react template from visual studio (it uses create-react-app v1) and upgraded jest to version 24.0.0 from 20.0.4. I suspect this has something to do with

[2019-01-30 15:44] Dublerq opened #7759 "Mocking and asserting typescript interfaces"
## 🚀 Feature Proposal

My proposal is to add some automated way of mocking so created object would have all the required properties. Asserting if an object is an instance of an Interface would be very useful as well.

## Motivation

Jest has comprehensive mocking tools ready to use of the box. It is advertised as supporting typescript, but mocking interfaces seems to be a key feature that is missi

[2019-01-30 16:06] olivierbeaulieu commented on #6688
It seems like this issue has been resolved in https://github.com/facebook/jest/pull/7621

[2019-01-30 16:36] thymikee commented on #6688
Yup, that should fix it

[2019-01-30 16:36] #6688 closed

[2019-01-30 16:45] olivierbeaulieu commented on #6767
It looks like this issue can be closed.

[2019-01-30 16:50] SimenB commented on #6767
Right, thanks!

[2019-01-30 16:50] #6767 closed

[2019-01-30 17:01] thymikee commented on #6767
Thanks!

[2019-01-30 17:10] DanielRuf opened #7760 "Failing CI on Windows"
It seems some of the tests fail on Windows:
https://ci.appveyor.com/project/Daniel15/jest/builds/21990233

[2019-01-30 17:19] thymikee commented on #7760
We run our tests on Azure now

[2019-01-30 17:23] DanielRuf commented on #7760
Sure but this is still shown in the CI status (last commit) and the Azure Windows build was canceled.

[2019-01-30 17:24] DanielRuf commented on #7760
See https://github.com/facebook/jest/commits/master and the red CI status for all commits.

[2019-01-30 18:05] julienw commented on #7654
regarding `beforeEach` vs `afterEach`: if a test fails, `afterEach` isn't called, which means the mocks aren't restored if we do this in `afterEach`, and this is bad because this makes other tests fail. Maybe that's the reason why it's done in `beforeEach`? (which has its downsides too as said above). Ideally I'd like a `afterEach` that would run even if the test fails.

[2019-01-30 18:08] chrisblossom opened #7761 "setup{Files,FilesAfterEnv} included in coverage report"
## 🐛 Bug Report

`setupFiles` and `setupFilesAfterEnv` are included in coverage report. `global{Setup,Teardown}` are not included as expected.

I don't think this is expected, but if it is please close this issue. I'll just add the necessary files to `coveragePathIgnorePatterns`.

## To Reproduce

Enable `setupFiles` and `setupFilesAfterEnv` and run coverage report.

## Expected behavior

`setupFi

[2019-01-30 18:21] alcferreira commented on #7758
It happens to me when I have `/* istanbul ignore file */`
It used to work fine on version 23.6.0

Looking at the changelog, this seems to be related to this change: https://github.com/facebook/jest/pull/7388

[2019-01-30 18:50] DrewML commented on #5457
Awesome - thanks @SimenB! Much appreciated.

[2019-01-30 19:41] SamMaxwell commented on #7734
Thanks @grosto and @thymikee, the new globs made it work as expected

[2019-01-30 20:05] rmartin-carecloud commented on #7636
I am running into a similar issues when attempting to run watch mode. Unfortunately, I cannot provide a repro.

`Error: ENOENT: no such file or directory, stat '[redacted]/src/__tests__/searchAPI/dispensableDrug/packaged-drugs.test.js'`

[code]
**Run npx envinfo --preset jest**
[code]

The issue seems to sometimes be fixed by manually deleting all snapshots. `yarn test -u` and then rewriting new s

[2019-01-30 21:00] ethernal opened #7762 "Running --runInBand or --maxWorkers=1 and --no-cache invokes TypeError: Cannot read property 'some' of undefined in @babel/helper-module-transforms/lib/index.js"
Title is long but should make finding issue for others easier.

## 🐛 Bug Report

Running Jest `--runInBand` or `--maxWorkers=1` **and** `--no-cache` invokes `TypeError: Cannot read property 'some' of undefined in @babel/helper-module-transforms/lib/index.js`

Removing **either** of them solves the issue.
Running yarn or npx jest --no-cache --maxWorkers=2 NO issue.
Running yarn or npx jest --runInB

[2019-01-30 21:13] pribilinskiy commented on #4262
@grosto that would be awesome 👍

[2019-01-30 21:41] jeysal commented on #7759
Do you have an idea how this could be implemented? With a TypeScript compiler plugin it might be possible, but given that Jest uses Babel to compile TS and knows no actual type information, I don't really see a way to do this.

[2019-01-30 21:44] jeysal commented on #7761
I guess it could be argued that `setupFiles{,afterEnv}` are somewhat close to `beforeAll` and could thus be considered part of each test file, but I don't really have a strong opinion whether they should be. Not sure if there's any significant pros or cons to including them?

[2019-01-30 21:49] thymikee commented on #7759
Sounds like this could be implemented in user space as a helper library for testing TS stuff. I don't see a place for this in the core at the moment.

[2019-01-30 22:02] jeysal commented on #7753
Thanks for the report. I cannot reproduce this, neither with `-t` or the test name watch plugin. `beforeAll` is not executed for me. Maybe there's something else involved, please provide a minimal reproduction repo :)

[2019-01-31 00:27] srilq opened #7764 "Bare .resolves and .rejects can no longer be awaited in node@10.15"
## 🐛 Bug Report

Using node@8.15, the `.resolves` or `.rejects` property on `expect()` is an await-able promise. Using node@10.15, it seems that the promise will run asynchronously and will not be awaited even if `await` or `return` keywords are used.

The [`.resolves` / `.rejects` docs](https://jestjs.io/docs/en/asynchronous#resolves-rejects) give the following examples:
[code]
[code]

Using node

[2019-01-31 00:55] srilq commented on #7764
Frustratingly, my repro doesn't seem to work in isolation... I can't for the life of me figure out what is different about this repro and my current real-world problem. Closing for now until I figure it out. 😞

[2019-01-31 00:55] #7764 closed

[2019-01-31 01:21] aleclarson commented on #2222
I'm running into this. 😢

Is Jest supposed to deduplicate packages with the same `name` and `version`? There should at least be an option for such a thing. It would definitely help solve  https://github.com/facebook/metro/issues/350.

[2019-01-31 07:56] taitulism commented on #2684
@jcollum @cpojer
[I hope this helps](https://github.com/taitulism/jest-fake-timers-issue-demo)

[2019-01-31 08:06] SimenB commented on #7636
This might have been fixed as part of #7745 (not released, but you can make the essentially the same change locally by doing `chalk.red(error.stack)`).

[2019-01-31 08:14] SimenB commented on #7636
That said, I cannot reproduce following the steps in the OP

![image](https://user-images.githubusercontent.com/1404810/52040679-83bb5780-2538-11e9-8de1-e2f7fcee47b9.png)

Maybe this was fixed as part of the refactoring in #6143 (which landed in Jest 24)? Can any of you reproduce using Jest 24?

[2019-01-31 08:32] SimenB commented on #2222
Jest has removed its haste support, the implementation comes from RN's preset: https://github.com/facebook/react-native/blob/02697291ff41ddfac5b85d886e9cafa0261c8b98/jest/hasteImpl.js

Probably worth an issue on RN? I _think_ this isn't something to fix here, I might be wrong, though!

[2019-01-31 08:40] SimenB commented on #7762
This is fixed by upgrading to Jest 24. You'll get an error about `moduleFileExtensions`, but that's fixed in master by #7751. Hopefully will get a release today 🙂

[code]

[2019-01-31 08:40] #7762 closed

[2019-01-31 09:12] SimenB commented on #7758
@alcferreira could you put together a reproduction? I'm unable to reproduce this

[2019-01-31 09:34] SimenB commented on #7438
@kopax yeah, 24.0.0 is a stable release made after all the alphas. Could you put together a repository we can pull down that reproduces the issue?

[2019-01-31 09:44] kopax commented on #7438
[code]

[2019-01-31 09:48] kopax opened #7765 "[Bug] babel-jest throws if `only` in babel.config.js excludes current file"
I am upgrading jest **23.6.0** to jest **24.0.0**.

They have deprecated `setupTestFrameworkScriptFile` , see: https://jestjs.io/docs/en/configuration#setupfilesafterenv-array

We used to have in our `package.json`:

    "setupTestFrameworkScriptFile": "<rootDir>/internals/testing/test-bundler.js",

We have tried to update to :

    "setupFilesAfterEnv": ["<rootDir>/internals/testing/test-bundler.

[2019-01-31 10:17] SimenB commented on #7765
Thanks for the reproduction! This is a completely separate issue from #7438. This fails due to the babel config having `only` in it:

[code]

That makes [`loadPartialConfig`](https://babeljs.io/docs/en/babel-core#loadpartialconfig) return `null` (which is not documented behavior, but makes sense). You can update `transformIgnorePatterns` to ignore the same files while waiting for a fix.

[code]

-

[2019-01-31 10:22] SimenB commented on #7765
I think this is a babel bug, no? If no babel config is found, this is the result:

[code]

[2019-01-31 10:23] FrankAst commented on #7710
@kentcdodds, can you provide your final version of jest config please, because I've followed all instructions above and I'm still getting this error. 😕

[2019-01-31 10:44] ethernal commented on #7762
Thanks for that.

[2019-01-31 10:51] SimenB commented on #7765
Still a bug, in either Jest or Babel, so I'll reopen this to keep track of it 🙂

[2019-01-31 10:58] srilq commented on #7764
@SimenB
Thanks for clarifying!

[2019-01-31 11:44] alcferreira commented on #7758
Hi @SimenB, yesterday I managed to workaround this by ignoring the desired file on `collectCoverageFrom`:
[code]

I was trying to reproduce it again today but it worked fine after reinstalling dependencies.

So it's all good here, thanks!

[2019-01-31 11:58] thymikee commented on #7758
So can we close it?

[2019-01-31 12:58] MarcoScabbiolo commented on #7755
The behavior with `unmock` is the same, it will be hoisted to the top of the scope of the current test, but not the top of the test's runtime, and thats when the not-to-be-mocked module is first used. Please reopen :(

[2019-01-31 13:44] SimenB commented on #7755
just stick it at the top level?

[2019-01-31 13:45] deser opened #7767 "Seems some issues with cache in 24"
I see ` jest: failed to cache transform results in`.  Failure message: EBADF: bad file descriptor, close at Object.closeSync (node_modules/graceful-fs/graceful-fs.js:52:27)

Never happened before.

Windows 10
node v10.15.0

[2019-01-31 14:02] SimenB commented on #7767
Duplicate of #7709

[2019-01-31 14:02] #7767 closed

[2019-01-31 14:08] kluplau commented on #7709
We encountered this issue today as well. Did you manage to fix this yesterday?

[2019-01-31 14:21] aleclarson commented on #2222
@SimenB I'm referring to this error specifically:

https://github.com/facebook/jest/blob/adf2b3c73f967e9c07308c512c4df300d770f295/packages/jest-haste-map/src/index.js#L433-L443

There's currently no way to configure `jest-haste-map` to ignore "module" collisions (package collisions in my case) when they have identical SHA-1 strings.

[2019-01-31 14:31] MarcoScabbiolo commented on #7755
beautiful, my bad! Thanks

[2019-01-31 15:08] pfftdammitchris commented on #7631
It is slow for both single and multiple files, with or without watch mode. Pretty much every time it runs any test there is a 3+ second delay on initializing the tests, and it is slow running the tests one by one by 0.3 or 0.4 or 0.5 seconds each while other test runners like mocha/chai would usually just run each as if it feels like 0.05 seconds each.

[2019-01-31 15:42] kentcdodds commented on #7710
This branch has the fix: https://github.com/kentcdodds/jest-transform-self-transform-bug/tree/context-issue

Though there was a new bug in watch mode that this revealed as well (https://github.com/facebook/jest/issues/7740) which has been fixed but not yet released.

[2019-01-31 17:23] gustavo-tailrecursive commented on #3094
@matthew-dean where did you write the mock the CSS module and how do you reference it to jest?

[2019-01-31 19:07] Ghirigoro commented on #3553
As Jest possibly moves towards TypeScript it might be worth revisiting `this` (or some similar solution for context). If you're using strict types (i.e. no implicit `null`/`undefined`) then you're forced to always initialize the local variable when you declare it or else always check that it's initialized:
[code]
It's not necessarily a big deal especially if initializing the variable is trivial bu

[2019-01-31 19:48] sderrico commented on #3254
@pomber Thank you, it solve my problem on Fedora without increasing any system limit.

[2019-01-31 20:18] bradfordlemley opened #7771 "Babel config not loading correctly for --projects."
## 🐛 Bug Report
Babel config is not loaded correctly for --projects, e.g.
[code]
`jest --projects packages/pkg1`  <-- fails

`cd packages/pkg1 && jest`  <-- passes

## To Reproduce

The [examples/react](https://github.com/facebook/jest/tree/master/examples/react) in the jest monorepo itself actually does exhibit this bug.
The bug is hidden because of [`babelrcRoots: ['examples/*']`](https://github

[2019-01-31 21:43] KevinTCoughlin commented on #7709
Thank you, this was helpful 😄!

[2019-01-31 21:46] aleclarson commented on #2222
`jest-haste-map` is not the right place to be checking for package collisions (at least in Metro's case), because it doesn't discriminate between `dependencies` and `devDependencies`. Ideally, it would ignore `devDependencies`, but it's impossible to do that without building a dependency graph (which is something that Metro does).

With that said, I guess Metro should just disable the `throwOnModu

[2019-02-01 00:14] jylertones commented on #7758
I encountered this error today and was intent on reproducing it. But instead, I found the cause and fixed it for myself.

In short, I am using `babel-jest.` I upgraded `jest` to `24.0.0` but did not upgrade `babel-jest`. What I believe (educated guess here) happened is that the `coverageData` was generated for files run through `babel-jest`, but only if they were run through the test runner.

TLDR

[2019-02-01 02:04] bradfordlemley commented on #7771
After some more analysis...
Jest runs --projects with cwd at top-level, instead of changing cwd to each project.  That makes running all projects together at top level behave differently than running each individually, at least with regard to babel, because .babelrc.js in individual projects apply when running the project individually, but don't apply when the project is run at top level via --pro

[2019-02-01 02:04] #7771 closed

[2019-02-01 03:07] furkle opened #7772 "babel-jest throwing ReferenceError due to unknown configuration option"
## 🐛 Bug Report

`babel-jest` is erroring out every time I try to transform some of my TypeScript files. The specific error is:

[code]

The specific failure seems to be that `OptionManager.prototype.mergeOptions` in `babel-jest` expects to see an `overrides` property in `babel-core/lib/transformation/file/optionsconfig.js`. When this is not found, it throws.

## To Reproduce

Steps to reproduce t

[2019-02-01 03:18] loganfsmyth commented on #7765
`babel.transform()` returns `null` if a file is ignored, and `loadPartialConfig` does the same because we stop processing the config ASAP to avoid doing extra work for ignored files.

[2019-02-01 06:34] #6183 closed

[2019-02-01 06:37] SimenB commented on #7758
It should be valid to use `babel-jest@23` with `jest@24`. Could you put together a reproduction?

[2019-02-01 08:05] thymikee commented on #7760
Yea, we need to figure out the failures of these 2 tests (interesting that they're different on AppVeyor vs Azure). Would you be able to help diagnose this?

[2019-02-01 08:19] SimenB commented on #7772
I don't get an error when running your reproduction

[code]

[2019-02-01 09:11] SimenB commented on #7772
Ah right! 😅

I keep getting `[Error: ENOENT: no such file or directory, open '/Users/simen/repos/accelerator-core/passages/passages-manifest.ts']`, btw.

Beyond that though, your error is due to jest locating the wrong `babel-jest`. Either running `npm dedupe` will fix it, or this diff to your config:

[code]

[2019-02-01 09:11] #7772 closed

[2019-02-01 09:15] SimenB commented on #5913
@gaearon one thing you can do to fix this is give Jest absolute paths (e.g. doing `require.resolve` on `testEnvironment` rather than leaving resolution up to Jest). Jest uses the absolute path for the default now (as of Jest 24), but if you pass e.g. `node` or `jsdom` you might still get the wrong resolved version.

[2019-02-01 09:16] SimenB commented on #7772
You can see `babel-jest` is not deduped by running `npm ls babel-jest`. Rerun that command after `npm dedupe` to see it's now deduped, and it works correctly

[2019-02-01 09:19] furkle commented on #7772
I'm almost positive that error is because the globalSetup wasn't being transpiled, and it is responsible for generating that file pre-testing. Anyway, this works perfectly! Thanks so much for your time.

[2019-02-01 09:21] SimenB commented on #7772
`globalSetup` (and `globalTeardown`) is transpiled in Jest 24, fwiw 🙂 But I doubt that's the reason, as jest would throw if `globalSetup` contained invalid syntax. Anyways, that's off topic, glad it worked for you!

[2019-02-01 10:04] Farwatch commented on #7757
On a similar note, add the config option of `restoreSpies` to mirror the `restoreMocks` option, as this makes the naming consistent.

[2019-02-01 10:14] SimenB commented on #7757
Yeah, good call! Can you add it as a comment to #7185 please?

[2019-02-01 10:14] #7757 closed

[2019-02-01 10:19] Farwatch commented on #7185
Reposting here at request of @SimenB : https://github.com/facebook/jest/issues/7757

TL;DR: `jest.restoreAllMocks()` -> `jest.restoreAllSpies()`, and in config `restoreMocks` -> `restoreSpies`

[2019-02-01 10:22] Farwatch commented on #7757
I'm currently looking into implementing this and raising a PR. Do you want it tagged against #7185 ?

[2019-02-01 10:48] SimenB commented on #7757
Thanks! This would be a breaking change, so we won't do this until later (it'll land as part of Jest 25). We could support both at the same time, but that's kinda meh. Thanks for the offer, though! And please don't hesitate to provide more feedback on other config options.

[2019-02-01 10:58] josemigallas commented on #5785
Same happening here, tests are passing but the console turns red every time I run them.

[2019-02-01 11:02] jackmahoney commented on #3202
JS ecosystem makes me want to jump sometimes

[2019-02-01 11:03] Farwatch commented on #7757
Ah fair enough, sounds like the right move. Cheers for quick responses 👍

[2019-02-01 11:18] sibelius commented on #3202
check this for more info https://github.com/facebook/jest/issues/7359

[2019-02-01 11:51] grit96 commented on #7517
I have also experienced this after upgrading to `jest 24.0.0` with `react-native 0.55.4`. Staying on `jest 23.6.0` prevents the issue.

[2019-02-01 11:53] SimenB commented on #7517
React native comes with its own haste config in its preset, so this is expected behavior - there is no merging of `haste` (or other) config. You need to either remove `haste` from your config or merge it manually

[2019-02-01 11:53] #7517 closed

[2019-02-01 12:25] tapioko opened #7774 "Make test name available in beforeEach() and afterEach()"
## 🚀 Feature Proposal

Make test name available in `beforeEach()` and `afterEach()`.

## Motivation

When running Selenium tests it's helpful to take a screenshot after every test. Best name for those files would be the test name. Now I use url and timestamp, which are not that good.

For further logging purposes `beforeEach()` could use the test name too, to log when that test starts. It makes ea

[2019-02-01 12:44] jeysal commented on #7774
Interesting suggestion, thanks! If this is implemented, the argument should probably be an object literal to make it easy to pass in more things to the function without a breaking change.

[2019-02-01 12:46] thymikee commented on #7774
Sounds cool. This will be possible once we get rid of `done` and replace it with generic purpose object, like AVA does :)

[2019-02-01 12:58] SimenB commented on #7774
That won't happen any time soon though - in the meantime you can use `jest-image-snapshot` - the snapshot file will get the test's name automatically. If that doesn't fit, I'd look into implementing it in some other way using jest's snapshot features so that you get the name included

[2019-02-01 14:38] bradfordlemley commented on #7771
I think the question is: what is the intention of `--projects`?  Should it be exactly the same as running each individually?  (For me, that was my expectation, I simply want to run all my projects' tests in the same jest instance.)  Or should it behave like babel, where the behavior is different because `cwd` is different?  (For me, that's confusing, but maybe some people expect that.)

Another co

[2019-02-01 15:05] SimenB commented on #7771
It was, AFAIK, designed to run different projects in the same instance - e.g. `react` and `jest` at the same time. It was not designed (although I think way more used as) a way to apply different jest config to different tests/files within the same project. So the answer to "Should it be exactly the same as running each individually?" is "yes".

[2019-02-01 15:15] simPod commented on #3202
@jackmahoney like out of window?

[2019-02-01 15:46] scripter-co commented on #6859
[code]

[2019-02-01 17:05] jylertones commented on #7758
Here's a repo, with the repro:

https://github.com/jylertones/jest-coveragedata-null

[2019-02-01 19:54] lekterable commented on #7761
I’d love to tackle this if you dont mind 🤗

[2019-02-01 20:00] SimenB commented on #7761
Go for it! 🙂

[2019-02-01 22:02] LendisFabri commented on #3254
Thank you @maraisr, it solve my problem :)

[2019-02-02 13:59] sirian opened #7780 "ArrayBuffer regression in node env"
## 🐛 Bug Report

https://github.com/facebook/jest/pull/7626 introduced regression

[code]

fails with
[code]

[2019-02-02 14:44] SimenB commented on #7780
@H1Gdev ideas?

[2019-02-02 14:45] SimenB commented on #7780
This _might_ be #2549

[2019-02-02 14:50] bradfordlemley commented on #7359
I did some analysis of this issue on https://github.com/facebook/jest/issues/7771, before I found this issue.

**Summary:**
Assuming multi project runner is supposed to behave the same as running each project individually, the current behavior is not correct.

**Analysis:**
In multi project mode, babel's `cwd` is always set to the top-level project dir (as described [above](https://github.com/face

[2019-02-02 17:02] jeysal commented on #7758
@mengdage looks like `readInitialCoverage` can return null. Do you have an idea what is going on?

[2019-02-02 21:30] ExSidius opened #7783 "Code snippet in Puppeteer documentation does not work as intended."
## 💥 Regression Report

The following code snippet from the documentation in Puppeteer.md does not work.

[code]

This is the error report.

Google
    ✕ should display "google" text on page (42ms)

  ● Google › should display "google" text on page

    expect(received).toMatch(expected)

    Matcher error: received value must be a string

    Received has type:  object
    Received has value: {"_

[2019-02-02 22:11] nasreddineskandrani commented on #7631
**clarification**

=> did you try with v24?  from v23 to v24, You 'll see a good improvement for this scenario ONLY:
**on the `rerun` with `watch` and only if you run against one file (not on the first run)**
-> 2/3sec drop to 0.4/0.5sec .

If i consider this https://github.com/facebook/jest/issues/7110 as v22 vs v23 on windows

I can consider this issue as: speed regression Mac vs Windows for ALL

[2019-02-03 02:59] shabbyrobe commented on #7704
I had the same experience as @bricss. `require('jest-cli/build/cli');` did not work for me, but `require('jest/node_modules/jest-cli/build/cli');` did. Former CRA app, latest version, ejected quite recently.

[2019-02-03 03:14] H1Gdev commented on #7780
@SimenB

Execute the following code in each environment.(--env=node, --env=jsdom, and node).
[code]
In --env=node, result is not true.

It seems that `Uint8Array` also has the same issue as `ArrayBuffer`.

[2019-02-03 05:59] andrew-w-ross opened #7784 "Typescript example fails"
## 🐛 Bug Report

The typescript example project doesn't work.

## To Reproduce

Checkout jest

install and build `yarn`

goto the example `cd examples/typescript/`

install and run tests `yarn && yarn test`

Jest will report unexpected tokens for export and import.

## Expected behavior

For the tests to pass without unexpected token exceptions

## Link to repl or repo (highly encouraged)

Just in

[2019-02-03 08:04] nonjene commented on #7704
To break the dependency cycle, we can delete the module cache and require it again

in `scripts/test.js`:
[code]

[2019-02-03 08:43] sirian commented on #7780
@SimenB @H1Gdev problem with all globals. It's related to `global` variable of sandbox context
![image](https://user-images.githubusercontent.com/897643/52174714-d7cc7300-27a8-11e9-832e-dd9ed1d30d68.png)

[2019-02-03 08:46] sirian commented on #7780
So this is related to https://github.com/facebook/jest/issues/2549

[2019-02-03 10:05] sirian commented on #7780
not only ArrayBuffer. all globals in vm context differs from globals of main process.
But new vm context doesn't have Buffer. So in this line `vmGlobal.Buffer = mainGlobal.Buffer` explicitly assigned
so in this line https://github.com/facebook/jest/blob/master/packages/jest-util/src/installCommonGlobals.js#L65

so both contexts (main and vm) has same Buffer from main context. So Buffer.from() call

[2019-02-03 10:42] sirian commented on #7780
Moreover since Buffer from different context this both fails:
[code]

[2019-02-03 10:42] mfeineis opened #7786 "Expect dies with "ReferenceError: Element is not defined" in "node" test environment"
## 🐛 Bug Report

When running tests with `"testEnvironment": "node"` and `expect` determines via duck typing that it has DOM nodes to compare it throws `ReferenceError: Element is not defined` since `Element` isn't available in Node.

## To Reproduce

Use `"testEnvironment": "node"` and run this test
[code]
The most likely culprit in my opinion is this region where it was determined per duck typin

[2019-02-03 12:49] SimenB commented on #7786
Wanna send a PR for it?

/cc @pedrottimark

[2019-02-03 13:43] jeysal commented on #7784
@SimenB are they supposed to work when run from the example dir instead of the root? Most other examples do.

[2019-02-03 13:46] jeysal commented on #7783
Thanks for reporting this documentation issue :) I think you forgot to open a PR with your suggested change (you just referenced this issue from your commit)

[2019-02-03 13:55] #7784 closed

[2019-02-03 13:57] #4262 closed

[2019-02-03 14:02] SimenB commented on #7783
it should also be `await expect(page.title()).resolves.toMatch('google');` instead of a `then`. Looking forward to the PR (remember to also update the versioned docs)

[2019-02-03 17:07] ExSidius commented on #7783
@jeysal whoops! @SimenB I've switched from a then to an await. What do you mean by updating the versioned docs?

[2019-02-03 17:52] #7783 closed

[2019-02-03 18:04] SimenB commented on #3613
This is documented behavior (#4726)

[2019-02-03 18:04] #3613 closed

[2019-02-03 18:09] SimenB commented on #3845
I think a custom transformer using `babel-jest` is the correct solution here. `babelJest.createTransformer(babelOptions)`.

Docs: https://jestjs.io/docs/en/tutorial-react#custom-transformers
`babelOptions` documented [here](https://babeljs.io/docs/en/options#config-loading-options).

To be able to pass config to `babel-jest` without a custom transformer, follow #7288.

[2019-02-03 18:09] #3845 closed

[2019-02-03 18:10] SimenB commented on #7453
Duplicate of #6527

[2019-02-03 18:10] #7453 closed

[2019-02-03 18:14] SimenB commented on #3322
Happy to take a PR making it an option passed to the default reporter (note that it should be `reporters: [['default', {config: 'here'}]])` and not part of `globalConfig`

[2019-02-03 18:15] SimenB commented on #5324
This is fixed in Jest 24 which uses Babel's own API (the one I linked above) to load Babel config

[2019-02-03 18:15] #5324 closed

[2019-02-03 18:22] SimenB commented on #6042
I think this was fixed by #6871 (available in Jest 24), so optimistically closing

[2019-02-03 18:22] #6042 closed

[2019-02-03 18:40] SimenB commented on #3154
Do we still think this should be shipped as part of Jest?

[2019-02-03 18:41] milesj commented on #3154
A mock file system would be nice if Jest ever had first class support for fixtures.

[2019-02-03 18:45] SimenB commented on #5796
That's an expectation that we cannot fulfil - in coverage mode we apply the istanbul plugin which injects coverage tracking code. So the code _is_ different.

Gonna close as this behaves as intended. If this causes an issue, please open up a new issue with some reproduction steps. If you think anything needs to be clarified in the docs, don't hesitate to send a PR 🙂

[2019-02-03 18:45] #5796 closed

[2019-02-03 18:47] SimenB commented on #5758
In order to mute console output, the idiomatic way to do that in Jest is to use [`--silent`](https://jestjs.io/docs/en/cli#silent). Issue tracking that for `process.stdout` is #6524

[2019-02-03 18:47] #5758 closed

[2019-02-03 18:49] SimenB commented on #5498
Without a reproduction, this is not actionable. Please test with Jest 24 (which has upgraded babel and istanbul dependencies). If it's still an issue, open up a new issue (with a reproduction)

[2019-02-03 18:49] #5498 closed

[2019-02-03 19:11] SimenB commented on #4547
Related #7594

[2019-02-03 21:27] iondrimba opened #7793 "Jest 24 stopped working (TypeError: getVersion is not a function)"
## 💥 Regression Report

After the update to version 24 some projects I have stopped running tests.

jest: 23.6.0 → 24.0.0

## Last working version

Worked up to version: 23.6.0

Stopped working in version: 24.0.0

## To Reproduce

Steps to reproduce the behavior:

https://github.com/iondrimba/react-weather-app/pull/58

## Expected behavior

Should run tests

## Link to repl or repo (highly encoura

[2019-02-03 21:28] #7793 closed, assigned to nobody

[2019-02-04 03:01] jamesleech commented on #2129
I totally missed the expect.assertions(1) line. nice

[2019-02-04 08:40] cpojer commented on #3154
The Metro one is great. Use `metro-memory-fs`. It doesn't need to be part of Jest.

[2019-02-04 08:40] #3154 closed

[2019-02-04 09:00] SimenB commented on #3154
it needs to support `require('fs').promises;` though 😀

[2019-02-04 09:02] cpojer commented on #3154
Pull Requests welcome!

[2019-02-04 09:49] SimenB commented on #3154
Fine: https://github.com/facebook/metro/pull/354

[2019-02-04 09:58] SimenB commented on #7760
CI just passed: https://dev.azure.com/jestjs/jest/_build/results?buildId=452

There's been a couple of node releases, I wonder if one of them fixed whatever the issue was?

[2019-02-04 10:01] SimenB commented on #7760
Hmm, no. 10.15.1 has been used for both the hanging and the passing builds.

@kaylangan any idea about what might have changed? The previous 2 builds passed after the windows build always hung for some time: https://dev.azure.com/jestjs/jest/_build?definitionId=1&_a=summary

[2019-02-04 10:50] grit96 commented on #7517
@SimenB I get this issue without any haste config in my package.json, simply when I updated jest from 23.6.0 to 24.0.0 using react-native 0.55.4.

[2019-02-04 10:51] thymikee commented on #7517
`haste` is defined by `react-native` preset

[2019-02-04 10:51] SimenB commented on #7517
That's an issue for RN. It's their `setup` file which does the `jest.mock` that fails

[2019-02-04 13:18] doniyor2109 commented on #3322
Hi @SimenB. Can I work on this issue?

[2019-02-04 13:51] leMaik commented on #7765
This also fails when `.test.js` files are excluded with `ignore` in the `.babelrc` file.

[2019-02-04 13:52] SimenB commented on #7765
Yeah, we need to handle Babel saying "nope". I'll put together a PR

[2019-02-04 13:55] SimenB commented on #7765
Not sure how to handle code coverage. We currently do that by adding a babel plugin. Should we still do that even though a file is ignored by babel config?

[2019-02-04 13:58] SimenB commented on #7765
I think I'll just throw an error saying that you need to also ignore the file in `transformIgnorePatterns` if `babel` wants to ignore the file

[2019-02-04 14:07] bazteam2018 opened #7796 "Spy between executions"
[code]

It fails as `spy2` actually has been called.
I am wondering if this is the desired behavior,
as I thought that `jest.spy()` create a spy at the specified point in time.

I have some tests that use a global variable (for the suite), and I want to spy it in specific tests.

[2019-02-04 14:15] rickhanlonii commented on #7796
Try to restore the original implementation before assigning it to a new spy with spy1.mockRestore()

Please note this issue tracker is not a help forum (as stated in issue template)

We [recommend](https://facebook.github.io/jest/en/help.html) using our [discord channel](https://discord.gg/MWRhKCj) or [StackOverflow](https://stackoverflow.com/questions/ask) where there is an active [jestjs](https:

[2019-02-04 14:15] #7796 closed

[2019-02-04 14:19] SimenB commented on #7765
PR: #7797

[2019-02-04 15:42] atsikov opened #7798 "TypeScript keywords as out-of-scope variables in jest.mock"
## 🐛 Bug Report

`babel-plugin-jest-hoist` treats TypeScript keywords (`Partial` or `Pick`) as out-of-scope variable names
[code]

## To Reproduce

[code]
Same comes for `Pick<typeof import("module"), "prop">`

To check, run `yarn test` in provided repo

## Expected behavior

Jest ignores type info and any type-related keywords

## Link to repl or repo (highly encouraged)

https://github.com/atsik

[2019-02-04 15:46] nickhow83 commented on #7709
Feels a bit dirty using resolutions.. do we know when a 24.0.1 or 24.1 will be out?

[2019-02-04 15:56] thymikee commented on #7798
We have a whitelist of identifiers here
https://github.com/facebook/jest/blob/012820ee00af31da1767acfec3c29821dfab5e49/packages/babel-plugin-jest-hoist/src/index.js#L19

but it seems like we don't do anything special for Flow for that matter. Should we do it for TS? cc @SimenB

[2019-02-04 16:05] SimenB commented on #7380
`prettyFormat` is synchronous - no way to interrupt it in JS.

---

We've shipped a new diffing algorithm in Jest 24, so I think we can close this. Might revisit some upper bound on diff size if it's still an issue

[2019-02-04 16:05] #7380 closed

[2019-02-04 16:15] SimenB commented on #7798
PR: #7799

[2019-02-04 16:20] #7765 closed

[2019-02-04 16:30] leoselig opened #7800 "Different solution for babel-ignored files (#7765)"
I am referring to the bug already reported here https://github.com/facebook/jest/issues/7765
More specifically, I'm questioning the solution just merged via https://github.com/facebook/jest/pull/7797

## Problem
I believe that printing the warning is not a user-friendly solution to this. My reasoning for that is that in a Babel/Jest setup I have two concerns:
- I want to transpile my code using ba

[2019-02-04 16:37] #7798 closed

[2019-02-04 16:54] SimenB commented on #7800
I think #7797 is still better than what is in 24.0.0, since you'll get an error either way - the difference is we now give you an actionable error.

---

That said, I do agree with your reasoning (duplicating config is bad). However, we currently implement skipping transforms via `transformIgnorePattern` - there's no way for a transformer to opt-out on its own. So we either have to add a new API t

[2019-02-04 17:05] thymikee commented on #7800
We read quite a bunch of stuff from Babel already, so if there's a simple way to map `only`, `ignore` etc to `transformIgnorePatterns` that would be nice from our side. But it's one more thing to maintain. It would also open us up for further "integrations" like that and possibly making it even harder to upgrade to newer Babel versions (and we remember how painful migration to v7 was)

[2019-02-04 18:15] kaylangan commented on #7760
@SimenB I've been looking into this and haven't figured it out yet. I can't repro the failures locally and see that there are occasional passes. While we investigate, I suggest we set the timeout for the job to 35 minutes (maybe 30 if we wanted to be more aggressive) so that we don't unnecessary tie up one of your 10 pipelines and results get sent back faster. I can submit a PR if that sounds ok w

[2019-02-04 18:24] NickCis commented on #6316
Just for the one who come across this and needs to use custom arguments for their tests. I wrote an article on how to bypass the check and allow this functionality: [_"Jest: Passing custom arguments"_](https://medium.com/@nickcis/jest-passing-custom-arguments-d44ef3f2defb)

[2019-02-04 18:44] kaylangan commented on #7760
I'm actually now able to get the one of the tests to fail locally. I'll keep digging. Here's the open handle, not sure if looks familiar to you:

    prints message about flag on slow tests

    expect(value).toMatchSnapshot()

    Received value does not match stored snapshot "prints message about flag on slow tests 1".

    - Snapshot
    + Received

    - Jest did not exit one second after the

[2019-02-04 20:03] ooade commented on #4764
@gaearon something seems strange with this process. Although jest now catches the error because the test passes, yet it still displays them to the console.

![jest-error](https://user-images.githubusercontent.com/11811904/52233783-451ef780-28c0-11e9-84a4-7a4a38be877d.png)

[2019-02-04 23:00] DylanVann commented on #7732
Setting `name` in my `jest.config.js` file does significantly speed up runs after the first one, but even after that I've found Jest 24 is about 50% slower than Jest 23.

[code]
Both of those times are from a warm start (I ran Jest twice before recording the time).

Unfortunately I can't share the code. It's running around 300 test suites, around 3000 tests, and around 300 snapshots.

[2019-02-04 23:44] joelgetaction commented on #7732
Any chance of getting a 24.0.1 patch release to fix this?    :-) As it stands we are unable to use 24.0.0 due to the significant perf drop ... Thanks!

[2019-02-05 11:16] karanjthakkar opened #7802 "Jest 24: enzyme shallow rendered component snapshot is empty"
## 🐛 Bug Report

Until Jest 23, shallow rendering any component, generated a detailed snapshot (See: https://repl.it/@karanjthakkar/EnzymeShallowWrapperJest23). Due to the changes done in #7448, this use case is now broken and returns an empty snapshot, without even the props(See: https://repl.it/@karanjthakkar/EnzymeShallowWrapperJest24).

## To Reproduce

Compare results between v24 and v23 of `

[2019-02-05 11:23] karanjthakkar commented on #7802
Also found a similar issue in the wild which someone "fixed" by reverting to Jest 23: https://stackoverflow.com/questions/54419342/jest-enzyme-shallowwrapper-is-empty-when-creating-snapshot

[2019-02-05 11:42] karanjthakkar commented on #7802
@thymikee I agree the private methods are unnecessary fluff, but I would expect atleast component name and its props to be a part of the snapshot. I'll try that custom serializer and report back if it resolves the issue. 🙂

[2019-02-05 11:53] vitkarpov commented on #7748
Here's the sorted list, probably it's better to start from the "slowest" items:

[code]

@nicollbryla @SimenB hey guys, have you already taken some of these files?

[2019-02-05 11:55] SimenB commented on #7748
I haven't (and won't). Feel free to pick some!

[2019-02-05 11:57] vitkarpov commented on #7748
Gotcha, thanks! (pinged you since you left 👀, sorry if it's irrelevant)

[2019-02-05 12:28] rezken1 opened #7803 "npm ERR! code ELIFECYCLE if 1 test fails"
If 1 test fails npm return an error

[code]

[2019-02-05 12:44] #7803 closed

[2019-02-05 12:58] karanjthakkar commented on #7802
I've managed to resolve my issue by using the serializer you mentioned. Thanks! 💯Do you think it would be useful to mention somewhere (either in the docs/the changelog/the blogpost) that this previously "accidentally" supported functionality won't work for folks anymore? I know its marked as a breaking change but tbh the impact of that might not be easy to understand for people.

[2019-02-05 13:09] thymikee commented on #7802
I think we have some mentions to enzyme in the docs so feel free to add a note about serializer then :)

[2019-02-05 13:09] #7802 closed

[2019-02-05 13:35] rezken1 commented on #7803
Any setting to prevent that ? i read mostly of the documentations and didn't find information about that.

[2019-02-05 13:37] jeysal commented on #7803
I don't think so (and I cannot imagine why you would want that).
But `jest --verbose ./assets || true` would always exit with 0, no guarantees on Windows compatibility though 😅

[2019-02-05 15:05] SimenB commented on #5371
My current thinking is that we should remove the mocks from the timing functions. Easy enough for people to do `jest.spyOn(global, 'setTimeout')` if they want.

[2019-02-05 15:12] jeysal commented on #7732
24.1.0 is released

[2019-02-05 15:13] jeysal commented on #7704
24.1.0 is released

[2019-02-05 15:14] SimenB commented on #2893
I've opened up https://github.com/sinonjs/lolex/issues/230

[2019-02-05 15:18] SimenB commented on #7740
@kentcdodds release is out https://github.com/facebook/jest/commit/8a2ea1e83845497fa7756b44c91f6ff97eb02692

[2019-02-05 15:19] SimenB commented on #7732
Can people test that, and if they still have perf regressions compared to 23, open up a new issue?

[2019-02-05 15:23] kentcdodds commented on #7740
Sweet!

[2019-02-05 16:21] zombieJ opened #7804 "Coverage not correct after updating jest 24 using typescript by babel-jest"
## 🐛 Bug Report

We upgrade from [jest@23 to jest@24](https://github.com/ant-design/ant-design/pull/14659) and update related [transform tools](https://github.com/ant-design/antd-tools/commit/47ec44e3998762eab5b033b91a96b85b7adeec7a)

Use `@babel/preset-typescript` for transform instead of `ts-jest`. Get wrong coverage of Typescript.
I'm not sure if it's a jest / babel-jest bug or just miss config

[2019-02-05 17:29] billyjanitsch opened #7805 "Provide plugins to pretty-format in jest-each"
## 🚀 Feature Proposal

Provide a default set of plugins to jest-each's use of pretty-format.

## Motivation

jest-snapshot provides a [default set of plugins](https://github.com/facebook/jest/blob/665a93eec70c4f2d7809d1848fbc8ca60cfd8361/packages/jest-snapshot/src/plugins.js#L24-L32) to pretty-format, which are used during formatting of `expect().toMatchSnapshot()`.

jest-each also [uses pretty-fo

[2019-02-05 17:41] nasreddineskandrani commented on #7709
i get
[code]

[2019-02-05 17:42] SimenB commented on #7709
That's an issue either with your network or a proxy/registry of some kind. It's definitely available:

https://www.npmjs.com/package/jest
![image](https://user-images.githubusercontent.com/1404810/52292806-cab0af00-2975-11e9-8e5b-f06ced7075e2.png)

[2019-02-05 18:07] nickhow83 commented on #7709
Yep. Definitely there. I’ll make use of this tomorrow. Thank you

[2019-02-05 18:11] joelgetaction commented on #7732
Will do and thanks!

[2019-02-05 18:19] SimenB commented on #7804
@zombieJ That was a large repo with a lot of code! 😅 Could you ppint to a commit with 23 I can run and check coverage, then one with 24 where coverage is wrong?

[2019-02-05 18:40] ryancraigmartin commented on #6640
Just noticed that this is still a bug on the new, updated docs site.
I didn't want to open up another issue but wanted to bring this issue back up and check on its status.

[2019-02-05 19:23] SimenB opened #7807 "☂️TypeScript migration tracking issue"
This issue is meant to track Jest's internal migration to TypeScript.

# Process

We would _love_ to get help from the community here. I've compiled a list of all the packages in this repo below - feel free to claim any package not claimed and submit a PR migrating it.

## List

| Package Name                | Task Owner    | PR    | Status  | Notes          |
| --------------------------- | -----

[2019-02-05 19:32] SimenB commented on #6640
🙁

[2019-02-05 20:29] jcald1 opened #7810 "document is null when running Jest test with Create React App"
I'm running a Jest test, which is erroring out when I set state due to react-dom not finding document.  I put a log statement in react-dom and I see that document is populated initially

      console.log node_modules/react-dom/cjs/react-dom.development.js:5066
        !!!! Document {
          location: [Getter/Setter],
          _reactListenersID0002526682692260973: 0 }

but later in the test ex

[2019-02-05 20:34] candu commented on #3602
For those seeing this just now: you can use `lsof` / `netstat` to identify the files / sockets held open by a given process, which can be useful in diagnosing node.js event loop hang-on-finish problems like this ;)

[2019-02-05 20:50] thymikee commented on #7810
Do you have a repro? It's hard to tell what's wrong without it

[2019-02-05 21:18] jcald1 commented on #7810
@thymikee , sure, here you go: https://github.com/jcald1/grip-client/tree/feature/258.  Just need to copy .env.development to .env first.

[2019-02-05 23:23] vitalibozhko opened #7811 "Jest 24 is slower than Jest 23.6.0 on the same test suite"
## 🐛 Bug Report

Filing bug per #7732  https://github.com/facebook/jest/issues/7732#issuecomment-460676324
Jest v24 takes 38 seconds vs v23 28 seconds to run 50 suites (296 tests).

## To Reproduce

Steps to reproduce the behavior:
**Jest v23 setup:**
.babelrc
[code]
package.json:
[code]

**Jest v24 setup:**
.babelrc
[code]
package.json:
[code]

Jest config is not changed between v23 and v24:
[cod

[2019-02-06 00:06] chrisgalvan commented on #5064
Is there any progress on this, bumped into this issue today with our CI (teamcity) treats stderr as an error even when the tests pass.

[2019-02-06 01:20] zombieJ commented on #7804
Yes. Here is the commit by use jest 23 [a29806f8](https://github.com/ant-design/ant-design/commit/a29806f895acd2adf1d41f9c59f14eed1fc30551) and here is the report of coverage: https://codecov.io/gh/ant-design/ant-design/commit/a29806f895acd2adf1d41f9c59f14eed1fc30551

Coverage files from:
<img width="203" alt="2019-02-06 9 19 51" src="https://user-images.githubusercontent.com/5378891/52315087-6da6

[2019-02-06 01:45] ksnyder opened #7812 "The search bar at https://jestjs.io/en/ is broken"

[2019-02-06 01:47] ksnyder commented on #7812
Nothing happens when you hit Return after entering search criteria.

[2019-02-06 02:16] steveinatorx commented on #5736
had similar issue - i could not get jest 24 to work with any combination of babel 7 when using latest yarn. i had to switch back to ```npm install``` which seemed to properly set up the bridge and dependent package hoisting.

[2019-02-06 05:58] jeysal commented on #7812
Duplicate of #6640

[2019-02-06 06:18] willsmythe commented on #7760
I think this is caused by the upgrade of Yarn (1.9.4 to 1.13.0) on the hosted Windows image. If you look at the [build history](https://dev.azure.com/jestjs/jest/_build?definitionId=1&_a=summary), the last successful build used 1.9.4, and every build after (which fails due to a timeout) has been on 1.13.0.

Without going into all the details right now (it's late), the `until` method in `e2e/runJes

[2019-02-06 06:31] DanielRuf commented on #7760
Related: https://github.com/yarnpkg/yarn/issues/3255

[2019-02-06 06:52] raheelriax commented on #5604
So Has anyone figured it out yet ?

[2019-02-06 07:40] SimenB commented on #5736
Jest 24 does not need the bridge at all

[2019-02-06 07:44] thymikee commented on #7811
Would be great if you could attach a repro that one can checkout and analyze.

[2019-02-06 07:52] steveinatorx commented on #5736
pardon me. the bridge package was likely one of the many package combinations i tried to get jest 24 to work with babel 7. what worked for me was installing both @babel/core": "^7.2.2" and "babel-core": "^7.0.0-0", and switching from yarn to npm.

[2019-02-06 08:15] #7812 closed

[2019-02-06 08:23] SimenB commented on #6640
Probably what happened again - I cut 24.1 yesterday. Search seems to work for me now, can you verify?

[2019-02-06 08:31] SimenB commented on #4119
If the above hypothesis is correct, this has been fixed by #5862

[2019-02-06 08:31] #4119 closed

[2019-02-06 08:34] s-pace commented on #6640
Search also works for me @SimenB

[2019-02-06 08:35] #6640 closed

[2019-02-06 08:36] SimenB commented on #7760
Oh wow, that must have been hard to track down. Thanks!

@Daniel15 @arcanis something you've encountered?

[2019-02-06 08:38] OlivierJM commented on #7743
@SimenB I would love to work on this, would you explain a bit further.

Do we need to update the documentation with the jest's JSON output ?  I will appreciate your guidance on this.

[2019-02-06 08:40] SimenB commented on #7743
Thanks! Just a link to the section below would be perfect 🙂

[2019-02-06 08:46] OlivierJM commented on #7743
since the results are the same with [`testResultsProcessor`](https://jestjs.io/docs/en/configuration#testresultsprocessor-string)

you meant the link to an actual example out JSON would below the testResultsProcessor ?

[2019-02-06 08:49] SimenB commented on #7743
No, in the section about `--json` link to `testResultsProcessor` saying it will write the returned value from that as json

[2019-02-06 08:55] OlivierJM commented on #7743
Thank you for clarification,

I will send a PR

[2019-02-06 09:08] arcanis commented on #7760
This is so that scripts are guaranteed to be executed with the exact same Node as the one running Yarn itself. Previously we were using whatever was the global one, so there might be weird mismatches

.This looks like a bug - I'm not familiar with Windows, any idea of what we should change to properly kill the wrapper when cmd gets killed?

[2019-02-06 10:19] SimenB commented on #7760
Gonna add the workaround of downgrading yarn so we can have green CI again. Will let this remain open though so it doesn't disappear.

(potentially put together a small reproduction using `yarn` + `execa` and opening an issue in either of their repos?)

[2019-02-06 10:30] OlivierJM commented on #7743
I have added the changes, the weird thing is I wanted to test it on my local machine but the changes aren't reflecting.

Here is the link to the current change of my fork https://github.com/OlivierJM/jest/pull/1/commits/202c4f989cdc9a3fe7132971b5ceae1f1d632548

### what I tried

- made changes to Cli.md file
- `cd website `
- `yarn `
- `yarn start`

I didn't want to make a PR before testing out th

[2019-02-06 10:40] SimenB commented on #7743
@OlivierJM by default when running the website, you watch the "stable" documentation. So if you just change in `docs/` directory, you need to navigate to `next` docs (click the version in header is easiest).

You'll want to updated the versioned docs as well

![image](https://user-images.githubusercontent.com/1404810/52335946-f1b5c200-2a03-11e9-96ec-c218ef96ebfa.png)

[2019-02-06 10:41] OlivierJM commented on #7743
Ohhhhh thanks for that.

let me quickly do that

[2019-02-06 11:03] SimenB commented on #7678
This behaves the same as node.

[code]

[code]

[code]

[code]

[2019-02-06 11:03] #7678 closed

[2019-02-06 11:21] oskarolsson-jimdo commented on #7811
We're also seeing quite significant performance regression for Jest 24. Interestingly it only seems to be slower when using lots of workers.

[code]

This is with 360 tests on large code base. Running a custom typescript transformer.

`--no-cache`
Jest 23.6.0: 60s
Jest 24: 210s

`--runInBand`
Jest 23.6.0: 174s
Jest 240: 60s

[2019-02-06 12:22] zlatinejc commented on #5538
Something like this should be basic.

[2019-02-06 12:55] SimenB commented on #5538
What?

[code]

This is solved, please read the docs before commenting on old issue. https://jestjs.io/docs/en/asynchronous#resolves-rejects

[2019-02-06 13:29] SimenB commented on #7311
Possibly related: #6814

[2019-02-06 15:26] vitkarpov commented on #7748
Guys, probably you can elaborate a little bit about the following.

I run jest within `e2e` folder (just run `../jest` since it's pointing to `jest-cli`) and get a bunch of errors like "it's not plain JavaScript, check that you're using babel plugin" but I see that `package.json` in `e2e` folder has the needed transform:

[code]

What am I missing?

[2019-02-06 15:32] SimenB commented on #7748
You should run Jest from the root. Just `yarn jest e2e/__tests__/multiProjectRunner.test.js` for instance

[2019-02-06 16:11] #7743 closed

[2019-02-06 17:05] dhans commented on #2549
Unclear if we were hitting exactly the same bug - but upgrading the test environment to Node.js 10 resolved an issue for us where tests running under jest using supertest were failing to find the existing session, using multiple cookies.

[2019-02-06 17:13] vitalibozhko commented on #7811
I'd love to provide repo for a faster resolution but as most other people here i can't share private projects. If someone could advise an open source project that uses jest for tests we could tweak it out and see if it happens there.

[2019-02-06 17:21] mkreiser commented on #7811
Here's an open source I built with jest for testing. Runs both traditional units tests and integration tests with live API calls. I definitely noticed significant slow downs when trying to upgrade to jest@24.

Unit tests and integration tests typically run in ~10s each, so should be easy to quickly do some verification.

https://github.com/mkreiser/ESPN-Fantasy-Football-API

[2019-02-06 17:39] danieldaeschle opened #7815 "Jest has detected open handle keeping Jest from exiting PIPEWRAP"
https://stackoverflow.com/questions/54558802/jest-has-detected-open-handle-keeping-jest-from-exiting-in-gitlab-ci

here is all the info stored. it looks like this is an jest bug. but i can't give you any protocol because it only appeares in gitlab-ci.

[2019-02-06 18:14] SimenB commented on #2549
That's expected, Node fixed their code to use `Array.isArray`. See https://github.com/facebook/jest/pull/5995#issuecomment-457840107

That's just a symptom though, the underlying issue is not solved

[2019-02-06 19:19] cpitt opened #7816 "Slow tests when not mocked with factory method"
## 🐛 Bug Report
We use Jest with an un-ejected CRA 2.0 configuration and have noticed extremely slow test speeds when component dependencies are not manually mocked with jest.mock using a factory method.

We added manual mocks with factory methods into a single domain of our code and saw drastic speed improvements. Attempts to use \_\_mock\_\_ directories made no impact.

Below are the results for

[2019-02-06 19:30] dgreene1 commented on #3417
I experienced this as well (due to my own circular dependency (thanks VSCode for an easy fix)), but it was pretty time-consuming to debug Jest itself so that I could determine the cause.

So, is there something Jest can do to determine circular dependencies within a test?

[2019-02-06 20:15] loryman commented on #7807
I would love to contribute on this! Can i take `diff-sequences` for now? I've already ported it in my [branch](https://github.com/loryman/jest/tree/diff-sequences-typescript) and all the tests for the module are passing.

[2019-02-06 20:19] RLovelett commented on #2549
Unfortunately @ssetem's work-around does not seem to be working for `ArrayBuffer` on Node v8.x or Node v10.x

[code]

AFAICT it never calls the `value` function at all. I see it call print `ArrayBufferFixNodeEnvironment` when running so I'm fairly confident that the environment is being loaded.

`jsdom` here I come 🤷‍♂️

[2019-02-06 20:24] oleersoy opened #7817 "Asynchronous operations not stopped in tests?"
## 🐛 Bug Report

When running `npm t` [on this repository](https://github.com/superflycss/cli#readme) I sometimes get the message `Timeout - Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout.`.  The first time this happened I played around with `only` on some of the tests, and did not change any code, and all of a sudden it started working ... so life was good.

[2019-02-06 20:26] SimenB commented on #7807
Yeah, go for it!

[2019-02-06 20:48] r3nya commented on #7807
Hey @SimenB!
I'd be happy to help. Can you recommend a package to start with? :)

[2019-02-06 20:59] Pyrolistical opened #7819 "Add .mockThrowValue and .mockThrowValueOnce"
## 🚀 Feature Proposal

Add `.mockThrowValue` and `.mockThrowValueOnce`

## Motivation

We have `.mockResolvedValue` and `.mockRejectedValue`, but there is no parity for `.mockReturnValue`.

The current alternative is to use
[code]

This can be simplified to
[code]

## Pitch
A similar feature request was rejected: https://github.com/facebook/jest/issues/2160

I believe that feature request wasn't g

[2019-02-06 21:02] SimenB commented on #7807
That's awesome @r3nya!

I'd say the easiest are `babel-plugin-jest-hoist`, `jest-leak-detector` and `jest-phabricator`.

Others that should be pretty straightforward are `jest-changed-files`, `jest-docblock`, `jest-message-util` and `jest-regex-util`.

[2019-02-06 21:18] hexpunk opened #7821 "jest.setTimeout doesn't respect really long timeout settings"
## 🐛 Bug Report

`jest.setTimeout` doesn't respect ridiculously large numbers.

## To Reproduce

Either in a setup script or in a test, add `jest.setTimeout(Number.MAX_SAFE_INTEGER);` and run an asynchronous test that either takes a while or never returns.

When running the test, it fails with the message `Timeout - Async callback was not invoked within the 9007199254740991ms timeout specified by

[2019-02-06 21:18] loryman commented on #7807
Thank you! I could take `jest-changed-files` and `jest-regex-util` as well.

[2019-02-06 21:23] JayAndCatchFire commented on #7821
FYI, the number I ended up using that worked was a 1 with a fair number of zeros after it.  I just tried doing the test against `jest.setTimeout(Number.MAX_SAFE_INTEGER - 2);` to see if it was something special about `Number.MAX_SAFE_INTEGER` and it similarly timed out almost immediately.

[2019-02-06 21:24] SimenB commented on #7807
🎉 I've updated the OP

[2019-02-06 21:31] jeysal commented on #7821
This behavior likely comes from `global.setTimeout` itself. Running
`setTimeout(()=>console.log('asdf'),Number.MAX_SAFE_INTEGER)` in the Node REPL gives
[code]

[2019-02-06 21:32] SimenB commented on #7819
Related: #6180. I think we'll want to at least explore that more before expanding the current API. Thoughts on the API and capabilities suggested there?

[2019-02-06 21:45] SimenB commented on #7821
Sounds like jest should throw on too high timeouts, then?

[2019-02-06 22:02] jeysal commented on #7821
Could perhaps do that, but I think the real question is: Why is the warning swallowed? If we can avoid that, we could possibly get a full class of potential warnings from edge cases in Node API usage to show up instead of being lost.

A plain `setTimeout` in your test does show you the `TimeoutOverflowWarning`.
I guess `callAsyncCircusFn` is where the `jest.setTimeout` arrives? (For circus)

[2019-02-06 22:11] jeysal commented on #3417
We could, but I think there's better tools to do this. Quick Google came up with https://www.npmjs.com/package/madge

[2019-02-06 22:13] oleersoy commented on #7817
This is another example.  I changed to a simpler test and flagged it with `only`.  Then I ran `npm t` and the test passed and no errors on the console.  I repeated it without making any other changes, and Jest logged an error:

[code]

[2019-02-06 23:04] sheerun opened #7823 "Pass context to hooks and tests"
## 🚀 Feature Proposal

Hello Jest

I'd like to reflect on an example of jest test that you've recommended in [official React blogpost](https://reactjs.org/blog/2019/02/06/react-v16.8.0.html):

[code]

An interesting thing is happening here:

1. `container` is declared outside of tests and shared between them
2. this variable is mutated by beforeEach block
3. variable is reset with afterEach block

[2019-02-06 23:04] eddiemonge commented on #7601
globalSetup seems exactly like the place this would be done. The fact that it can't seems like a limitation.

[2019-02-06 23:07] sheerun commented on #7823
Another possibility is to enable this mode when beforeEach returns a value:

[code]

[2019-02-07 00:01] SimenB commented on #7823
Thanks for the detailed description!

Yeah, we've talked about this some privately - some way of mimicking e.g. [Ava's API](https://github.com/avajs/ava/) (with a context passed to every test, and also ditching globals). This missing feature is also one of the blockers for more work on `test.concurrent`. We don't currently have any concrete plans - only step we've taken is adding an [ESLint rule](

[2019-02-07 00:04] SimenB commented on #7601
`globalSetup` runs outside of the context tests run in - otherwise they wouldn't be sandboxed.

However, we have discussed having `globalSetup` return som serializable value that we could inject into tests: #7184

[2019-02-07 00:06] SimenB commented on #6887
This should be solved in Jest 24 as we generate a name if it's missing when using projects. So I'm gonna close this, but if you can reproduce this issue in Jest 24, I'll reopen.

PR: #5862 (followed by #7746)

[2019-02-07 00:06] #6887 closed

[2019-02-07 01:35] mkreiser commented on #7811
To be more useful, I ran some stats. Unfortunately, ESPN's API appears to be down so I could not run the integration tests (which could be more interesting) as well.

### env
[code]

### Unit test performance (451 tests in 16 suites) (`npm run test:unit`)
#### jest@23.6:
PASSED OPTIONS | TIME
-- | --
(no options) | 3.5s
--maxWorkers=2 | 3.4s
--no-cache | 8.6s
--no-cache --maxWorkers=2 | 6.8s
--run

[2019-02-07 08:36] r3nya commented on #7807
@SimenB let me do a `jest-leak-detector` and `jest-phabricator` for now. ;)

[2019-02-07 08:39] thymikee commented on #7807
@r3nya go for it! :)

[2019-02-07 11:44] sheerun commented on #7823
Normally there are no arguments passed to beforeEach and afterEach, so you can check whether `beforeEach.length > 0`, and in such case enable passing context to functions.

It's not possible to perform such check on `test` because it already can have more than one argument and it's possible, but computationally hard, to detect whether passed argument is used as context or as done callback (you nee

[2019-02-07 11:47] SimenB commented on #7823
Lifecycle hooks also supports a `done` callback, same as `test`.

[2019-02-07 11:49] sheerun commented on #7823
Then I guess we're left with enabling this feature when beforeEach returns context

[2019-02-07 11:53] SimenB commented on #7823
I think it'd make more sense to have people specifying some config option rather than dynamically figuring it out at runtime. Or maybe setting up some codemod (like the eslint plugin), and saying that in version x, `done` is removed so we don't have to support both ways of doing it

[2019-02-07 12:01] sheerun commented on #7823
I agree with config option + codemod that rewrites done() calls to something better

[2019-02-07 12:11] sheerun commented on #7823
btw. I'd be in favor of rewriting:

[code]

to something like:

[code]

Because it means minimal changes are necessary (just remove done from argument, and add one line at the top of the test)

[2019-02-07 12:33] SimenB commented on #7823
IMO, that should ideally be transformed to:

[code]

All asynchronicity should be done via promises - Jest shouldn't provide its own callbacks for handling async (passed into the test function, or created via some other mechanism).

The ESLint plugin doesn't handle the failing case actually (totally slipped my mind when implementing it), so I opened up an issue for it: https://github.com/jest-comm

[2019-02-07 12:53] sheerun commented on #7823
Just one last comment from me: maybe it would be good idea to add eslint-plugin-jest rule disallow mutation of global variables in hooks if `test.concurrent` or `it.concurrent` is used in given file, so for example:

[code]

would complain at first line of beforeEach and last line of afterEach (but only if context passing is enabled).

[2019-02-07 12:55] SimenB commented on #7823
Yeah, that makes sense to me - not sure how to statically discover what tests are safe to do and what they're not, though

[2019-02-07 12:59] loryman commented on #7807
So, `jest-changed-files` imports `Path` from `types/Config` which is imported by several packages as well. What do you think is the right way to go from here?

[2019-02-07 13:06] SimenB commented on #7807
`Path` is just `string`, so that should be fine to replace.

`types/ChangedFiles` can be copied and moved into `jest-changed-files` (similar to what I did with `types/PrettyFormat`)

[2019-02-07 14:06] loryman commented on #7807
Got it, thanks! I've created the PR :)

[2019-02-07 14:56] rubennorte commented on #7823
I've received feedback from many people that want to keep `done`, so we should provide an equivalent solution if we use the context object.

We could do something like this:

[code]

[2019-02-07 14:58] SimenB commented on #7823
As a point of reference, ava requires you to opt in to callbacks by supplying a modifier to the test definition: https://github.com/avajs/ava/blob/65133a85ecbc881f9610df78feffd498474bcc8c/docs/01-writing-tests.md#callback-support

[2019-02-07 15:17] ggcaponetto commented on #6682
@alistairjcbrown thanks man, saved my day!

[2019-02-07 15:24] sheerun commented on #7823
I think `const done = expect.assertions(1)` is better than providing any methods on context. I think context ought to be just plain and empty object.

Also doing something like `t.context.user`, prevents you to use short destructuring syntax I've shown at the beginning:

[code]

Instead you'd need to write

[code]

`it.cb` could be better but it sill requires adding some default fields to context.

[2019-02-07 15:43] #6859 closed

[2019-02-07 15:43] #7101 closed

[2019-02-07 15:45] SimenB commented on #7101
I _think_ this was fixed by that PR. Whenever it's released it'd be great to verify

[2019-02-07 15:58] leotm commented on #2227
Just to clarify @michaeljota

[code]

Since we can't spy on class property values

[2019-02-07 16:09] Alec321 opened #7828 "Jest shows wrong coverage on async arrow functions"
## 🐛 Bug Report

My function is reporting missing branching coverage for the following line and is pointing to this line.
[code]

## To Reproduce

npm run test (running react-native tests)

## Expected behavior

Test coverage should be 100% due to having a test around resolves, await, and rejects. If the async value is removed the coverage is 100%, but the function needs to be async for the .then(

[2019-02-07 16:10] thymikee commented on #7828
Please try with Jest 24 and come back if it didn't help. Jest 22 is pretty old and we did a bunch of fixes to coverage ever since.

[2019-02-07 16:10] #7828 closed

[2019-02-07 16:15] Alec321 commented on #7828
System:
    OS: macOS High Sierra 10.13.6
    CPU: (4) x64 Intel(R) Core(TM) i5-6267U CPU @ 2.90GHz
  Binaries:
    Node: 8.11.1 - ~/.nvm/versions/node/v8.11.1/bin/node
    npm: 6.4.1 - ~/.nvm/versions/node/v8.11.1/bin/npm
  npmPackages:
    jest: ^24.0.0 => 24.1.0

[2019-02-07 16:15] Alec321 commented on #7828
Same issue should I reopen a new issue?

[2019-02-07 16:16] thymikee commented on #7828
First provide a small repro we can investigate :)

[2019-02-07 16:43] goldo commented on #6029
any news on this one ?

[2019-02-07 17:09] doniyor2109 commented on #3322
@SimenB How about adding this feature to summary reporter so that it will be shown at the end of the test results?

[2019-02-07 17:30] Alec321 commented on #7828
https://github.com/Alec321/jestDebug
[code]
Test coverage used to be 100% now is not after upgrading jest and other dependencies.

[2019-02-07 18:04] epeterson320 commented on #3465
I still needed debounce behavior in my tests, so mocking debounce to return the function wouldn't work. But I also didn't need the level of robustness that _.debounce provides. Mocking lodash's robust debounce with a naive debounce fit my needs. I put this in my project:

**\_\_mocks\_\_/lodash/debounce.js**
[code]

[2019-02-07 18:08] Alec321 opened #7829 "Jest shows wrong coverage on async arrow functions"
## 🐛 Bug Report

My function is reporting missing branching coverage for the following line and is pointing to this line. Happened ever since I've updated jest.
[code]

## To Reproduce

clone repo
npm install
npm run test

## Expected behavior

Test coverage should be 100% due to having a test around resolves, await, and rejects. If the async value is removed the coverage is 100%, but the function

[2019-02-07 18:28] thymikee commented on #7829
You're using mixed transformers and for some reason (I didn't dig why) istanbul got confused. Here's the diff that fixes your problem. Have fun!

[code]

[2019-02-07 18:28] #7829 closed

[2019-02-07 18:31] Alec321 commented on #7829
@thymikee Awesome thank you!!!!

[2019-02-07 18:33] thymikee commented on #7748
https://github.com/facebook/jest/pull/7826#issuecomment-461485273

Splitting tests doesn't seem to help much. It's still good for faster feedback. I'll leave this open until we find a good way to speed them up :) (or close if we don't 😅)

[2019-02-07 19:00] rust485 opened #7830 "globalTeardown not finishing execution before test exit"
## 🐛 Bug Report

I am attempting to run a test that checks after all test files have ran if there were any documents left over in our mongo database.

The issue I am running into is that the teardown function is not waiting for my promises to finish like I would expect it to.

## To Reproduce

[code]

## Expected behavior

I expect the promises returned by map to finish and log the values from the

[2019-02-07 19:31] jeysal commented on #7830
Could you try to reduce the example to a minimal version that still shows the bug and then post a repo containing it? Otherwise it's hard to tell where the problem is when it could be anywhere inside the code & libraries :)

[2019-02-07 19:58] danieldaeschle commented on #7815
If i run jest with `jest --runInBand` i get exactly this error with strange result:
![image](https://user-images.githubusercontent.com/30751516/52439130-16508d80-2b1b-11e9-826c-cf5153e55831.png)

if i remove import of the `process` module it is gone. (i use it to get some environment variables.

[2019-02-07 20:16] rubennorte commented on #7823
@SimenB my bad, I wrote that too fast 😅

@sheerun I didn't mean to include methods in the context but having the context as a separate field in the object. The context would indeed be an empty object. I like you proposal better :)

[2019-02-07 21:39] michaeljota commented on #2227
@leotm I'm not sure I'm following you. You can't spy on class properties, but I don't find it useful anyway. You can, as I said, spy on _computed_ properties, as they are functions underneath. You can even spy on setters of the properties. But, not, you can not spy on regular properties, not even with that syntax. This only works with _computed_ properties.

[2019-02-07 22:48] sunfit commented on #3322
@doniyor2109, @SimenB  If I understand correctly that SummaryReporter is intended for the summary that is only shown when number of test suites is > 20 and there is at least one failing test, then that is not the place for this functionality.

The root problem is that when there are a lot of failed tests, their diffs fill the terminal and make it almost impossible to understand what were the tests

[2019-02-07 22:55] terwort opened #7831 "Mocked file still brings in the imports"
## 🐛 Bug Report

I am wanting to test a component, but its child components would bring in a lot of unnecessary code and complexity. Also, these components are pretty high on the hierarchy, so when they are used they will bring a big chunk of the application with it. So, I mock that file. One reason I mock it is to ignore its functionality and just check if it exists, because its test file can tes

[2019-02-07 23:21] sdegutis commented on #7823
Maybe I'm missing something, but why not just pass `context` as a second parameter to `it` and `test`? It would default to `{}` and if you return a different object from `beforeEach` then that would be used instead, and it would also be passed as the first (only?) parameter to `afterEach`. Then everyone still gets to keep `done` as the first parameter to `it` and `test` and can opt-in to the conte

[2019-02-07 23:23] sdegutis commented on #7823
To clarify by adjusting your examples:

[code]

[2019-02-07 23:58] dgreene1 commented on #3417
Thank you @jeysal. I don’t know why I didn’t think to look for an external library. It makes sense that you wouldn’t want to have `jest` break Curly’s law. I will check out one of `Madge` or an equivilant library. :)

[2019-02-08 00:18] ivoiv commented on #5345
Ressurecting this issue.
Having the same problem.

[2019-02-08 02:03] oleersoy commented on #7817
It seems like it's probably related to how Jest times reporting the open handle stuff.  For example I just ran `npm t` several time in a row and as can be seen sometimes Jest reports an error and sometimes the test just runs fine:

[code]

[2019-02-08 06:09] SimenB commented on #3417
A linter could probably warn you: https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-cycle.md

[2019-02-08 07:39] jerico-dev opened #7832 "Introduce a more flexible and better typed way to mock APIs"
## 🚀 Feature Proposal

This introduces an easy-to-use, lightweight and concise way to (partially) mock typed APIs (Typescript modules, types, classes and above all interfaces) without introducing any breaking change to the API.

## Motivation

Mocking interfaces on a per-test basis is not possible right now in jest. IMO it is good testing practices to NOT re-use mocks across tests as this quickly

[2019-02-08 07:41] valerii-cognite commented on #6121
@akx as an option you can iterate through all the arguments and replace all possible substitutions strings with values, i.e.
[code]

[2019-02-08 07:55] SimenB commented on #7832
Thanks for the detailed proposal!

This is related to #4257 - whatever API we come up with should work with both Flow and TS. I don't know enough (about either type system) to really contribute a lot to this conversation, but on the surface something like what you propose sounds awesome.

/cc @orta @aaronabramov @cpojer

[2019-02-08 08:29] jerico-dev commented on #7832
@SimenB: I agree! :-) Contrary to #4257 the intention of this feature proposal is not to propose a specific jest mocking API but some practical ideas how to implement strongly typed interface mocking in TypeScript. Very much looking forward to the API you'll come up with in the future.

Once you have decided upon a target API I will most probably be able to adapt this feature request accordingly w

[2019-02-08 10:37] rickhanlonii commented on #3322
As a user, I'd prefer keeping current summary at the end. It's a discrete overview of information that can be consistently expected at the end of the run, if we put anything after it that varies in length, then you will need to search to find the summary which is a bad experience IMO

It would probably be good to submit an overview of proposed changes before making any work to avoid churn

[2019-02-08 10:37] justusromijn commented on #3954
@WickyNilliams I agree that the naming there is a bit confusing, but you have to think like this: `toContain` asserts that it contains an exact thing, and in the case of objects, if it isn't the exact same object by reference, it fails. `toContainEqual` means if it looks the same by shape, it's ok. So it kinda makes sense, but it would have been better to reverse it and have a `toContainStrict` or

[2019-02-08 10:48] ediblecode commented on #890
Thanks @FelipeBohnertPaetzold. I was using `location.host` in my code, so found I needed a *full* location object, so the following worked better for me, rather than having to manually pass each location property:

[code]

[2019-02-08 10:56] WickyNilliams commented on #3954
Coming back with more experience of jest, I would say the naming is ok. The `toEqual` matcher is the equivalent of `toContainEqual`, in that both test deep equality, not reference equality.

[2019-02-08 11:13] leotm commented on #2227
@michaeljota I came here from Google and tripped up on your example - others will too.
It is not clear enough.
I arrived here from Google and see no mention of that.
Your snippet reads *property*.
Most people interpret *property* as *regular* properties.
I'm glad you have explained this now, so other people arriving here don't trip up.

---

TL;DR

[code]

Where *property* is a computed property,

[2019-02-08 11:15] leotm commented on #2227
@michaeljota I arrived here from Google and tripped up on your example - others will too.
It needs more clarity, which you have now provided.
Nowhere do you mention "as [you] said" - *computed* properties.
Your snippet simply reads *property*.
Most people interpret *property* as *regular* properties.

---

TL;DR

[code]

Where *property* is a computed property, not a regular (uncomputed) property.

[2019-02-08 11:22] theneva opened #7837 "jest-circus changes behaviour of it.only inside describe.only"
## 🐛 Bug Report

`jest-circus` runs all `it`s inside a `describe.only` block regardless of `it.only`:

![image](https://user-images.githubusercontent.com/1404650/52475496-ef866b80-2b9b-11e9-93bf-cbc3c6b606e1.png)

This differs from `jest-jasmine2`, which only runs the `it` marked with `it.only`.

![image](https://user-images.githubusercontent.com/1404650/52475476-df6e8c00-2b9b-11e9-9914-fc101444b5

[2019-02-08 11:24] leotm commented on #2227
@michaeljota I arrived here from Google and tripped up on your example - others will too.
It needs more clarity, which you have now provided.
Nowhere do you mention "as [you] said" - *computed* properties.
Your snippet simply reads *property*.
Most people interpret *property* as *regular* properties, which is not true here.

---

TL;DR

[code]

See [@types/jest](https://www.npmjs.com/package/@type

[2019-02-08 11:32] Qurbaaan commented on #1815
@aularon can we use regex there?

[2019-02-08 11:56] mariotsi commented on #7758
Same issue for me, started to happen on Jest 24, with Jest 23.6.0 worked gine. I've both Jest@24 and babel-jest@24.
The file at which the error refers has `/* istanbul ignore file */` on top

[2019-02-08 11:59] rikkit commented on #1815
@Qurbaaan `jest --testPathIgnorePatterns="api.*"` works for me

[2019-02-08 12:43] MohamadKh75 commented on #7807
I'll take `jest-repl` 😁

[2019-02-08 12:46] #4649 closed

[2019-02-08 12:48] SimenB commented on #7807
@MohamadKh75 thanks! However, that depends on `jest-runtime`, `jest-config` and `jest-validate`, all of which have to be migrated first. You can try `jest-validate`?

[2019-02-08 12:50] SimenB commented on #4649
another thing that we have is that if you don't provide a `globalConfig` option, global config values will be taken from the first project you pass (`client` in your case).

We might wanna address that in #7185

[2019-02-08 14:28] malixsys commented on #5922
Sorry to comment on closed issuer, but this still happens if a long running call throws an error after the `it` has timed out...

[2019-02-08 14:32] jeysal commented on #7823
@sdegutis `done` in its current form is supposed to go away anyway, after that happens we could implement something like this properly right away.

[2019-02-08 14:39] rubennorte commented on #7823
Also we use the function arity to determine if we should wait for the user to call `done` to finish the test. If we pass it unconditionally there's no way to tell (unless we use a different method)

[2019-02-08 14:43] jeysal commented on #7831
I cannot reproduce this using a simple setup of
[code]
If I mock `y`, only the mock module is loaded, not the real `y` and `z` (put console log statements in all files to check).

Could you provide a minimal reproduction repo for this bug?

[2019-02-08 15:10] sdegutis commented on #7823
Ok thanks for the explanation never mind.

[2019-02-08 16:39] terwort commented on #7831
Sure, I'm at work all day today. But I'll try and get an example repo tomorrow.

[2019-02-08 16:51] vitalibozhko commented on #7811
Checked on this repo tests https://github.com/LambdaSchool/React-Testing, results:
v23:
[code]

[2019-02-08 16:53] mattphillips commented on #7807
Happy to migrate `jest-each` over :smile:

[2019-02-08 17:33] vitkarpov commented on #7748
Guys, btw, I'm wondering which way is legacy: `writeFiles` or having an actual folder in `e2e`?

[2019-02-08 17:53] nathanmarks commented on #5400
@Chudesnov

A search for a problem I'm having landed me on this.

However, I'm also seeing jsdom uncaught errors even though my `userErrorListenerCount` is correct. (A search for the issue landed me on this).

I see that when my error goes through

[code]

my `userErrorListenerCount` is `>= 1`, so `process.emit(...)` doesn't run.

However, in my test output I do see a `console.warning` from jsdom

[2019-02-08 17:55] SimenB commented on #7807
Woo, do it 😀

[2019-02-08 18:05] thymikee commented on #7748
I'd say neither. `writeFiles` was introduced to easily add more cases, so you don't have to manually create files.

[2019-02-08 18:09] vitkarpov commented on #7748
Gotcha, thanks! 👍 Basically, it means that `writeFiles` is a more convenient way and having actual files is a legacy one.

[2019-02-08 19:36] willsmythe commented on #7760
@arcanis - instead of Yarn generating a `node.cmd` and injecting its path at the front of $PATH, could Yarn have just injected the path of the current node process (`path.dirname(process.execPath)`) instead?

Regarding your question about `kill()` "not working as expected" on Windows, there are lots of threads, blog posts, and libraries out there trying to solve this problem. The most relevant her

[2019-02-08 19:44] CodHeK opened #7839 "`sudo npm install --save-dev jest` hangs!"
![screenshot 2019-02-09 at 1 04 25 am](https://user-images.githubusercontent.com/22097366/52501779-2d6ca980-2c07-11e9-8ab5-aec1eacdf333.png)

I am trying to install `jest` and the install always stalls at this point!
Using Node v11.1.0
I am behind a proxy but this doesn't seem to be a proxy error since other npm installs never had any issues

[2019-02-08 19:45] lhorie opened #7840 "`browser` options breaks module resolution"
## 🐛 Bug Report

Setting `browser: true` in jest config causes modules to be run more than once

## To Reproduce

[code]

## Expected behavior

Each module should only ever run once

## Link to repl or repo (highly encouraged)

https://github.com/lhorie/jest-browser-bug

## Run `npx envinfo --preset jest`

Paste the results here:

[code]

[2019-02-08 20:18] thymikee commented on #7839
It's not Jest issue, but npm client or registry.

[2019-02-08 20:18] #7839 closed

[2019-02-08 20:26] jedmao commented on #890
This **TypeScript** is working for me on **Jest 24.0.0** and Node **10.15.0**:

## src/setupTests.ts
[code]
And these are the tests I have working:
## src/setupTests.test.ts
[code]

[2019-02-08 20:37] CodHeK commented on #7839
@thymikee any idea on how I could possibly resolve this issue ?

[2019-02-08 20:39] thymikee commented on #7839
Fix proxy, use yarn?

[2019-02-08 20:45] CodHeK commented on #7839
@thymikee proxy is set properly, the problem is weird!

![screenshot 2019-02-09 at 2 11 53 am](https://user-images.githubusercontent.com/22097366/52505120-8725a180-2c10-11e9-8a06-6daa4e834169.png)

^^ When I try running the command without `sudo`

[2019-02-08 21:28] rmartin-carecloud commented on #7636
I've upgraded and haven't run into the issue again so far. If I do, I will be sure to let you know. Thanks for looking into this for us Simen!

[2019-02-09 00:00] petercm commented on #5446
FWIW my version of this appears to have been caused by babel-plugin-source-map-support. Removing it from my plugins fixed jest error lines.

[2019-02-09 00:39] lhorie commented on #7840
I isolated the issue to the node-browser-resolve package. This PR fixes it https://github.com/defunctzombie/node-browser-resolve/pull/92

[2019-02-09 04:34] milesj commented on #7647
I've noticed that imports to `execa` trigger the detect leaks error. Here's an example:

[code]

Going through execa now. Maybe the leak there is causing issues.

[2019-02-09 07:24] milesj commented on #7647
Found some timers that weren't faked and it brought it down to 370s. Also fixed the open handle issue.

https://github.com/milesj/boost/pull/32/files

Think this is as good as it'll get for now.

[2019-02-09 09:55] MohamadKh75 commented on #7807
Sure! then i start `jest-validate`

[2019-02-09 10:04] SimenB commented on #7807
awesome!

[2019-02-09 16:48] grosto commented on #6184
This one sounds like fun. I can give it a try if nobody is actively working on it.

[2019-02-09 16:55] iondrimba commented on #2381
Running on https://ci.appveyor.com
https://ci.appveyor.com/project/iondrimba/react-weather-app/builds/22247301

[2019-02-09 17:02] iondrimba opened #7842 "No tests found, exiting with code 1"
## 💥 Regression Report

After Jest update from 23.6.0 to 24.1.0, my tests at AppVeyor  stopped being found:

## Last working version
23.6.0

Worked up to version:
23.6.0

Stopped working in version:
24.1.0,

## To Reproduce

Steps to reproduce the behavior:

https://ci.appveyor.com/project/iondrimba/react-weather-app/builds/22247241

## Expected behavior

A clear and concise description of what yo

[2019-02-09 18:11] jeysal commented on #7842
This is likely due to the (breaking change) upgrade to Micromatch 3: https://github.com/facebook/jest/pull/6650
Try using the default `testMatch` https://jestjs.io/docs/en/configuration#testmatch-array-string which - after a quick look at your repo - should match your `.spec.js` files

[2019-02-09 20:37] iondrimba commented on #7842
Thanks @jeysal will try that out 👍

[2019-02-09 20:54] iondrimba commented on #7842
It worked @iondrimba 🎉 https://github.com/iondrimba/react-weather-app/pull/80

[2019-02-09 20:54] #7842 closed

[2019-02-09 20:59] iondrimba commented on #2381
My workaround for a personal project https://github.com/facebook/jest/issues/7842

[2019-02-10 08:29] eckdanny-osi commented on #2702
So happy I found this thread. Ty @jeysal!

This would be great to mentioned in the jest docs. The Babel site that has a section dedicated for monorepo concerns. If there was mention made some where close to the `--projects` config section, it'd probably help a lot of people out

[2019-02-10 09:07] SimenB opened #7846 "Use property initializer syntax in Jest codebase"
From https://github.com/facebook/jest/pull/7844#discussion_r255326815

It'd be nice to avoid `bind(this)` and constructor assignments. We need to add https://babeljs.io/docs/en/babel-plugin-proposal-class-properties and go through the code to figure out where we could use it

[2019-02-10 09:41] #7759 closed

[2019-02-10 09:48] NetanelBasal opened #7848 "Unexpected behavior with RxJS synchronous observables"
## 🐛 Bug Report
When working with RxJS, assertions inside a `subscribe()` block are ignored even though **the code is synchronous**.

## To Reproduce
[code]

The test should be failed.

Steps to reproduce the behavior:
https://codesandbox.io/s/2v4qw04kvr

## Expected behavior

Assertions inside synchronous subscribe should work. This [issue](https://github.com/facebook/jest/issues/6512) doesn't he

[2019-02-10 10:30] jeysal commented on #7848
RxJS catches the error thrown from the subscriber and rethrows it in the next tick.
This behavior has been in place since at least RxJs 6.0.0, I believe.
You can see this by waiting one tick yourself before finishing the test:
[code]

---

[code]

[2019-02-10 10:33] NetanelBasal commented on #7848
Thanks for the quick response, so it's related to RxJS. I am closing the issue.

[2019-02-10 10:34] #7848 closed

[2019-02-10 12:18] jeysal commented on #7185
Would be nice to provide a way to specify reporter options (and possibly other things) from the CLI. See #7845

[2019-02-10 12:22] SimenB commented on #7185
From OP:

But yeah, we should figure out a plan. I think as long as we really standardize on how to pass options (I like the `reporter:s [name, [name, options]]` pattern) it should be possible to figure out some relatively ergonomic way of doing it

[2019-02-10 13:27] agustif opened #7851 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.sortby:4.7.0 in Jest 24.1.0"
## 🐛 Bug Report
I'm not an expert and this could very much be a false positive. I see you guys are using snyk and have 0 vulnerable dependencies right now on it, but I wanted to share in case this can be fixed. I tried to find myself where loadash sortby was being used, with no luck.

**Vulnerabilities**

DepShield reports that this application's usage of [lodash.sortby:4.7.0](https://ossindex.son

[2019-02-10 13:34] SimenB commented on #7851
Thanks for the heads up! You should open up an issue with https://github.com/lodash/lodash (and potentially https://github.com/jsdom/whatwg-url)

[2019-02-10 13:58] jeysal commented on #7623
Took me a month, but I finally had some time to do something against these errors #7852 😄

[2019-02-10 14:01] agustif commented on #7851
@SimenB Thanks for the feedback, I actually checked and it seems that lodash is on 4.7.11, so probably I should notify whatwg-url so they can update their dependency to .11, and probably it's already fixed on that minor patch (Y)
Ok, nope, the problem seems to be with whatwg-url not wanting to update/fix this vulnerability
OK, so I was going to open the issue in whatwg-url but after a little findi

[2019-02-10 14:17] SimenB commented on #7851
It's a dependency of `jsdom`, so it's not really actionable for us.

It's already at the latest version in `whatwg-url` - this needs to be fixed in lodash

https://www.npmjs.com/package/lodash.sortby

[2019-02-10 14:34] agustif commented on #7851
But in whatwg-url [package.json](https://github.com/jsdom/whatwg-url/blob/master/package.json)
It's pinned to `"lodash.sortby": "^4.7.0",`

The problem was fixed on lodash 4.7.15, so if whatwg-url was to update it's dependency to latest .17 version, the problem should be fixed, right?

Sorry, maybe I'm getting something wrong about this, but I found a related resource where it was stated that loda

[2019-02-10 14:44] pedrottimark commented on #6184
@grosto Super! As a first step, so we can discuss **what** a solution looks like independent of **how** to achieve it, can you and anyone else subscribed to this issue either:
* identify existing tests which display confusing diff when they fail
* develop some baseline tests to illustrate problems

Tomorrow I will share some thoughts about what and how for you to critique.

[2019-02-10 15:19] jeysal commented on #7807
I'll try my luck with haste map 😄

[2019-02-10 15:22] jeysal commented on #6184
Well the minimal one is
[code]

[2019-02-10 22:30] SimenB commented on #7636
Awesome! I'll take a chance and close this, then. Happy to reopen if it's still an issue

[2019-02-10 22:30] #7636 closed

[2019-02-10 23:15] SimenB commented on #7828
The repo 404s

[2019-02-10 23:28] mike-tobia commented on #6002
I come across the same issue when using a custom test environment and using the package `service-worker-mock`. I bootstrap globals like normal in setup, but they don't seem to reach the global scope of the package itself.

I realize this issue is still open - has anyone found a solution to this? Or better yet, I managed to make this work only by directly assigning to the environment global scope r

[2019-02-10 23:59] Alec321 commented on #7828
Was solved in another issue. Thanks though!

[2019-02-11 03:21] murtinha opened #7856 "Menu on Jest Docs not closing after choosing a topic on mobile"
## 🐛 Bug Report

The bug is on `API` section page at least. After choosing and clicking a method on mobile menu it doesnt close, staying in front of the documentation even after the url has changed.

![doc-bug](https://user-images.githubusercontent.com/17397678/52544872-54a3b200-2d92-11e9-850e-145cbf80c844.gif)

## To Reproduce

Go to mobile mode on browser, or open Jest [docs](https://jestjs.io/d

[2019-02-11 03:46] milesj commented on #7647
I'm using the local node + chrome debugger to profile Jest. Just gonna post some screenshots.

Jasmine promises / queue runner seem to take the most time.
<img width="1244" alt="screen shot 2019-02-10 at 18 53 43" src="https://user-images.githubusercontent.com/143744/52544344-36738d00-2d65-11e9-9741-ba69cbe637b5.png">
<img width="1239" alt="screen shot 2019-02-10 at 18 54 26" src="https://user-ima

[2019-02-11 04:15] Aghassi opened #7857 "Getting "TypeError: Path must be a string. Received undefined" preventing me from upgrading to Jest v24 in some repos"
## 🐛 Bug Report

I have a number of repos in our enterprise setup that are running into the following error:

[code]

As far as I can tell, the trend seems to be related to when something in the test needs to output via the `console`, but a mock may be involved that either spies something related to a console log, or spies the console itself. This doesn't happen with all tests, only a few. And whe

[2019-02-11 05:51] umidbekkarimov opened #7858 "TestScheduler does not follow order of projects in config"
## 🐛 Bug Report

When using jest projects with multiple runners, eg:
[code]
It's expected that runners would run in order.
In this particular case I expect that runners will run in strict order to assure that ESLint fixes will be applied before Prettier's.

After few hours of debugging I found problem in `TestScheduler#scheduleTests`.
https://github.com/facebook/jest/blob/605e1998a8d3977713a9837df

[2019-02-11 05:54] thymikee commented on #7856
Happy to accept PR fixing that :) either here or in Docusaurus

[2019-02-11 06:00] lirbank commented on #7807
I'd be happy to do `jest-environment-node` and `jest-environment-jsdom`.

[2019-02-11 06:01] thymikee commented on #7858
There's never been such warranty and I doubt we make it happen. Tests may be parallelized, whether they exist in one project or another. You shouldn't ever rely on execution order like that. Also use eslint-config-pretteir for seamless integration of the tools

[2019-02-11 06:01] #7858 closed

[2019-02-11 07:30] olivierfox commented on #5156
I have the same problem when using a nexus repo as a proxy

[2019-02-11 08:12] jholster commented on #3215
Just a general comment. It would make sense that every option could defined either in cmdline or config file, preferably using consistent syntax. It should be in developer's hands to decide whether a specific option makes sense or not. One may have unusual needs.

[2019-02-11 08:20] eldyvoon opened #7859 "unexpected token when importing css"
jest throw error on this line
[code]
or
[code]

[2019-02-11 08:46] RT-TL commented on #5420
@sibelius Thanks for sharing your repo. I have a question about this: It looks like you are using full config files in the projects. Is it correct that the root jest.config.js does not impact the project's configuration? If so do you have a way of definint something in the root config that applies to all project's jest config?

[2019-02-11 08:59] #7859 closed

[2019-02-11 09:02] eldyvoon commented on #7859
@thymikee what's the reason? can guide me before you close this issue?

[2019-02-11 09:08] SimenB commented on #7856
Docusaurus (on their own site) behaves correctly, so it's something weird with our setup

[2019-02-11 09:11] SimenB commented on #7859
You need to follow the issue template. But this is very unlikely to be a bug in Jest, more a configuration issue, and this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-02-11 09:12] SimenB commented on #7807
Awesome, thanks! OP updated 🙂

[2019-02-11 09:59] oskarolsson-jimdo commented on #7811
@thymikee Can we remove the Windows-tag here? This is definitely present on MacOS and Ubuntu as well.

[2019-02-11 10:38] grosto commented on #6184
@pedrottimark Sounds great!

I am a bit busy for the next 2-3 days. As soon as I find the time, I will make a PR with simple tests which demonstrate the current diff issues.

[2019-02-11 11:31] murtinha commented on #7856
Id also want to fix that if possible

[2019-02-11 11:46] SimenB commented on #7856
PR welcome 🙂

[2019-02-11 12:32] SimenB commented on #7760
Fixed in #7838, I'd say 🙂 It'd be nice to do 5., but I don't think it's worth the effort from our side.

Thank you so much for the help @willsmythe!

[2019-02-11 12:32] #7760 closed

[2019-02-11 12:38] DanielRuf commented on #7760
Awesome 👍

[2019-02-11 13:06] darkowic commented on #2070
@amccloud thanks! This solved my problem! Details below.

I have a module `helpers` in my project root directory. The helper is exporting function `parseNodeFromString`.
I've created in some other module local file `helpers`. Then I mocked it for one of my tests. And all of the tests using the function `parseNodeFromString` started to fail with the following error:
[code]
What about this issue? Se

[2019-02-11 13:19] simonxabris opened #7861 "Cannot read property 'coverageData' of null when trying to generate code coverage"
## 🐛 Bug Report

See [reproduction repo](https://github.com/simonxabris/jest-coverage-bug) for better understanding

When trying to generate a coverage with jest, the tests run as they should, but no coverage data is collected and there's a 'Cannot read property 'coverageData' of null' error in the console. This is likely because jest right now can't work with the unique folder structure that we h

[2019-02-11 13:23] jeysal commented on #7861
Perhaps related to #7758, except here it can't be because of a `jest`/`babel-jest` version mismatch

[2019-02-11 13:27] simonxabris commented on #7861
Yes I have looked at that issue, but as far as I can tell here the error is caused by something else, but sadly I can't really figure out what.

[2019-02-11 13:37] zlatinejc opened #7863 "Requiring modules with isolateModules does not work if module has already been required with a non-isolated method e.g: using require."
## 🐛 Bug Report

Requiring modules with isolateModules does not work if module has already been required with a non-isolated method e.g: using require.

## To Reproduce

[code]
## Expected behavior

Requiring a module should not have an affect to an isolated module registry.

[code]
## Run `npx envinfo --preset jest`

[code]

[2019-02-11 13:48] SimenB commented on #7863
@rogeliog mind taking a look at this?

[2019-02-11 14:18] jerico-dev commented on #7832
Here is a more advanced version that allows to mock types with non-function props:

[code]

[2019-02-11 15:06] cedosw commented on #5064
Same problem ... would be nice if PR gets approved soon

[2019-02-11 15:34] Swatinem opened #7864 "`You are trying to `import` a file after the Jest environment has been torn down.` from inside of babel"
## 🐛 Bug Report

Well, this is really strange, since our tests just started randomly failing, both on CI and also locally, not yet sure what is going on, but I get these really strange errors:

[code]

## To Reproduce

not sure, tests started to fail quite randomly, without a related change…

## Expected behavior

tests should succeed

## Link to repl or repo (highly encouraged)

sorry, not possib

[2019-02-11 15:43] jeysal commented on #7864
Did this happen after upgrading to Jest 24?
Also, I'm afraid this is not really actionable without a repro.

[2019-02-11 15:46] Swatinem commented on #7864
We have been running jest 24 for at least a week now, and I have this problem now in a branch on CI and locally that doesn’t really have any worthwhile changes…

[2019-02-11 15:50] SimenB commented on #7861
Thanks for the reproduction!

This is due to us ignoring files for coverage outside of `rootDir`: https://github.com/facebook/jest/blob/780c838e72eda7798d512adef12683d2d67de36b/packages/babel-jest/src/index.js#L112-L113 and https://github.com/facebook/jest/blob/780c838e72eda7798d512adef12683d2d67de36b/packages/jest-runtime/src/ScriptTransformer.js#L188-L189

When we call `readInitialCoverage`:
htt

[2019-02-11 15:54] SimenB commented on #7864
This needs a reproduction.

Babel uses lazy requires, so this can happen if you transpile a lazy `import` (did you start using `React.lazy` or something?)

[2019-02-11 16:04] Swatinem commented on #7864
Ok, I have figured this out…

I added a test that through some of its dependencies ended up registering the `@babel/register` hook.
Now that I removed that, things seem to work fine, will keep investigating.

Closing this, since I really think this had something to do with the accidental `register` hook.

[2019-02-11 16:04] #7864 closed

[2019-02-11 16:07] SimenB commented on #7864
Sounds reasonable 🙂 Too bad the stack traces aren't _too_ useful...

[2019-02-11 16:09] Swatinem commented on #7864
Oh well…
Anyway, thanks for the very quick replies, and keep up the good work :heart:

[2019-02-11 16:10] ionutcirja opened #7865 "Can't get the coverage with Jest 24"
## 🐛 Bug Report

I can't get the coverage anymore with Jest 24.

## To Reproduce

Steps to reproduce the behavior:

This is my jest configuration:
{
  "verbose": true,
  "clearMocks": true,
  "restoreMocks": true,
  "setupFilesAfterEnv": [
    "<rootDir>/config/enzyme-setup.js"
  ],
  "collectCoverage": true,
  "collectCoverageFrom": [
    "**/*.{js}",
    "!**/node_modules/**",
    "!index.js",

[2019-02-11 16:12] thymikee commented on #7865
`testMatch` is likely invalid. Can you use default one and check again? (just delete it from config)

[2019-02-11 16:14] ionutcirja commented on #7865
Ahh, I don't know why, but copy/paste didn't work.

"testMatch": [
    "**/__tests__/?(*.)(spec|test).js"
  ],

This is how it is. And it's valid, because my tests are passing, but the coverage is not there.

PS I removed it just for test, same result.

[2019-02-11 16:18] SimenB commented on #7865
`"**/*.{js}",` looks iffy to me.

Anyways, please put together a reproduction like the template asked you to. Just config isn't enough

[2019-02-11 16:23] ionutcirja commented on #7865
Pff, thanks man. This syntax worked in v23.

[2019-02-11 16:23] #7865 closed

[2019-02-11 16:26] SimenB commented on #7865
Yes, it's still an invalid glob. This is mentioned at the top of the list of breaking changes in the blog post: https://jestjs.io/blog/2019/01/25/jest-24-refreshing-polished-typescript-friendly#breaking-changes

Great you got it working, though!

[2019-02-11 16:35] ntucker commented on #4248
my babel config is set to target the current node version if in test environment. this makes jest test work fine but with --coverage it fails

[2019-02-11 16:37] ionutcirja commented on #7865
Thanks for you help, Simen!

[2019-02-11 16:40] ntucker commented on #4248
Turned out to be a babel version mismatch. I had 7.1 of parser installed somewhere. Getting the latest of 7.3 made it work.

[2019-02-11 17:16] simonxabris commented on #7861
Thanks for the quick answer!! I wasted so many hours on this. I have a question though, could you show me how/where can i set the cwd to the right path? I can't figure it out myself.

Should I close this issue or do you plan on addressing it later?

Thanks again for the quick help.

[2019-02-11 17:35] deneuv34 commented on #7807
Hi, can I do the first try for `babel-plugin-jest-hoist`?

[2019-02-11 17:38] SimenB commented on #7807
For sure!

[2019-02-11 19:39] ronaldborman opened #7867 "Wrong version of jest-cli is executed when jest is installed next to an existing install of jest-cli"
## 🐛 Bug Report

When I install a (later) version of the jest package in a project where only (an older version of) the jest-cli package is installed in the root node_modules folder, Node still forwards to that version of the jest-cli package (although jest has the correct version of jest-cli in its own nested node_modules folder).

## To Reproduce

1. md jest-issue
2. cd jest-issue
3. npm install

[2019-02-11 20:15] HoraceShmorace commented on #1937
`jest.mock` cannot do dependency mocking in `require`d modules, which is exactly what proxyquire does.

For instance if `foo.js` requires `request`, then `foo.test.js`, upon requiring `foo.js`, might want to mock (and spy on) the latter's `request` dependency.
[code]
To the best of my knowledge, Jest can't do this.

[2019-02-11 20:55] thymikee commented on #7867
This depends on package manager you use. If you install `jest-cli` along `jest` anywhere, you need to make sure they point to the same version.

[2019-02-11 20:55] #7867 closed

[2019-02-11 21:13] theKashey commented on #1937
You might use _inhoisted_ [jest.doMock](https://jestjs.io/docs/en/jest-object.html#jestdomockmodulename-factory-options).

The only thing, `jest.mock` cant - mock only required file dependencies, not project wise (__global__ in proxyquite terms).

[2019-02-11 22:28] nckblu commented on #2567
I just stumbled upon this while googling and it seems like I've missed this crucial line in the error message along with everyone else:

_If it is ensured that the mock is required lazily, variable names prefixed with `mock` are permitted._

Just change the name of what you're mocking to **mock**YourComponentName

[2019-02-11 23:03] SimenB commented on #1937
Just to `jest.mock('some-module')` - it will be mocked no matter where it's required from. By default all of its exported functions will be jest mock functions (`jest.fn()`s).

Not sure I follow? `jest.mock` only affects the test you are in, no other tests. If you want global mocking, add the mock to a `__mocks__` directory

[2019-02-11 23:53] theKashey commented on #1937
You have `a.js`, requiring `b.js`, and `c.js`. Meanwhile `c.js` will also require `b.js`. And you are mocking `b.js'.
So `proxyquire` would mock only _the_ `b.js`, required from `a.js` - dirrect first level child. While `jest.mock`, `mockery`, and others would mock _any_ `b.js`, required from any place.

That's not a bug, but a feature. Like `shallow` render. And does "fix" one of the __mocking sm

[2019-02-11 23:54] SimenB commented on #1937
Ah, right! Yeah, I agree that it's not a bug (or missing feature) from Jest's side 🙂 Thanks for specifying!

[2019-02-12 00:01] ilyaulyanov commented on #5420
@RT-TL I think you can follow https://github.com/facebook/jest/issues/3112#issuecomment-398581705 to set up a similar config structure

[2019-02-12 03:50] jmayergit commented on #6933
I renamed `.babelrc` to `babel.config.js` and also upgraded to Babel7 and still have the same error as before. My `babel.config.js` file:

[code]

[2019-02-12 05:33] SethDavenport opened #7868 "24.1.0: TypeError: Cannot read property 'cwd' of undefined"
## 🐛 Bug Report

I've updated one of my projects from babel 6 to babel 7. As part of this, I've also
* updated from Jest/Babel-Jest 23 to Jest/Babel-Jest 24.
* updated my custom JS transformer to use babel 7 stuff.

When I run my tests, I get the following error:

[code]

I can "fix" this error and get my tests running again if I hack `node_modules/babel-jest/build/index.js` as follows:

[code]

W

[2019-02-12 08:27] yunweb opened #7870 "How can I get clipboardData"
I want get clipboardData, because I copy data.
I want to judge if they are equal.

[2019-02-12 08:30] thymikee commented on #7870
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](http://jestjs.io/en/help.html). Thank you :)

[2019-02-12 08:30] #7870 closed

[2019-02-12 12:49] ematipico commented on #5325
I have the same issue and I can't seem to find a workaround

[2019-02-12 15:59] chrisgalvan commented on #5064
tried to help with the PR, but there are tons of e2e integration tests failing.

For the time being, I created a reporter that uses stdout instead and published the package in case anybody can benefit from it: https://github.com/chrisgalvan/jest-standard-reporter

[2019-02-12 16:12] edi9999 opened #7873 "Add a way to ignore certain files in output of error"
## 🚀 Feature Proposal

I write tests that use themselves utility function to avoid repeating myself.

For example :

// file mytest.test.js
[code]
// file complex-assertions.js
[code]

In that case, I get following output :

[code]

However, since the real test code is in mytest.test.js, I would prefer to see the following instead in the stack :

[code]

In my real use case, I have even more compl

[2019-02-12 17:00] javinor opened #7874 "Memory Leak on ridiculously simple repo"
You guys do an awesome job and we all appreciate it! 🎉

## 🐛 Bug Report

On a work project we discovered a memory leak choking our CI machines. Going down the rabbit hole, I was able to recreate the memory leak using `Jest` alone.

Running many test files causes a memory leak. I created a stupid simple repo with only `Jest` installed and 40 tautological test files.

<img width="375" alt="jest-memo

[2019-02-12 17:34] grit96 commented on #2649
Another possible solution is:

[code]

[2019-02-12 18:00] milesj commented on #7874
I found this out recently but you can use the Chrome console to debug Node scripts! You can try using the Chrome console to profile Jest while it's running to try and dig into the issue.

I believe the command is: `node --inspect ./node_modules/.bin/jest --watch -i`. When running, open Chrome and go to `about:inspect`. You should then see the running Node script.

[2019-02-12 18:24] nerder opened #7875 "I wrongly receive "Empty test suite" running tests from Intellij since v24"
## 🐛 Bug Report

I'm not able to run the tests from Javascript tests using Intellij Idea interface.

## To Reproduce

1. Run tests

## Expected behavior

I expect to be able to run them from Intellij idea interface

## Link to repl or repo (highly encouraged)

https://github.com/nerder/jest24-intellij-issue-repro/

[code]

## Notes
I'm not 100% sure this should be posted here, since can strongly r

[2019-02-12 20:21] jeysal commented on #7874
Do I understand correctly that using the workaround to force GC runs makes the heap size remain constant? In that case it's not really a memory leak, just v8 deciding not to run the GC because there is enough memory available. If I try running the repro with 50MB heap size
[code]
the tests still complete successfully, supporting this assumption.

[2019-02-12 20:34] jeysal commented on #7873
Thanks for the suggestion!
Do [custom matchers](https://jestjs.io/docs/en/expect#custom-matchers-api) perhaps cover your use case adequately?

[2019-02-12 20:54] SimenB commented on #7875
Seems like https://youtrack.jetbrains.com/issue/WEB-35512? What version of intellij are you on?

[2019-02-12 20:57] edi9999 commented on #7873
I can see how in the example I gave, custom matchers could help.

However, in my real usecase, I actually don't run expectations but rather code (which might fail, but most importantly I would like to see the line that triggered the failure in my test file, not in the utility files that are behind it.

For example :

[code]

In the case of a failure, I would like to see the line highlighted that f

[2019-02-12 21:26] javinor commented on #7874
@milesj I ran through some memory dumps, but couldn't make much sense of them, I'm not too experienced with pursuing leaks and I didn't want to point in the wrong direction without something solid to count on.

@jeysal you are right of course! The thing is our tests freeze in the middle of running since (I assume and could be wrong) we run out of memory. After spending a lot of time trying to figu

[2019-02-12 21:33] edi9999 commented on #7873
Here is a minimal diff, that in my previous sample, would do exactly what I want :

[code]

Of course `[/complex-assertion.js/]` should not be a hardcoded value but something coming from  the config :   `ignoredFilesErrorPreview: [/complex-assertion/, /utils/]`

[2019-02-12 22:00] jeysal commented on #7873
I think in general showing the last frame from the test that is being run in addition to the top frame in some form or another could be an interesting idea.

I think ignoring certain files might be quite a niche use case though, not sure it warrants a config option. Have you tried implementing it in userspace by overwriting `error.stack` with certain lines filtered out based on regex patterns? I k

[2019-02-12 22:13] jeysal commented on #7868
Does the error still occur without the `setupFiles`?
@SimenB I think this might be `allTests[0].context.config` from https://github.com/facebook/jest/pull/7562 again, only way I can think of that an `undefined` config could get into a transformer

[2019-02-12 22:19] SimenB commented on #7868
Might be. This needs a proper reproduction, though. @SethDavenport mind putting together a more complete project we can pull down and test? As minimal as possible, although it should be fairly easy to debug bigger projects here as well 🙂

If it's hard to isolate, you can change this to just be `return lines;` which should give a full stack trace including internals: https://github.com/facebook/jes

[2019-02-12 22:51] SimenB commented on #7873
wrapping your utils in a try-catch, messing with the `.stack` property (popping off the top 2-3 depending on your code) then rethrowing seems a better solution to me than adding complexity to Jest.

Another potential solution is to use `expect().toResolve()`

[code]

`toResolve` coming from `jest-extended`.

Yet another is `wait-for-expect`: https://www.npmjs.com/package/wait-for-expect

both shou

[2019-02-12 22:51] #7873 closed

[2019-02-12 23:02] SethDavenport commented on #7868
@jeysal it still happens without the setupfile, yes.

[2019-02-12 23:05] SethDavenport commented on #7868
@SimenB it might be tricky to extract. I'll take a shot this evening.  In the meantime the change you suggested to `jest-message-util` results in this:

[code]

[2019-02-13 01:53] spion opened #7879 "Ability to disable source maps or to enable them with an unintrusive Error.prepareStackTrace"
## Feature proposal

Add the ability to partial disable source map support. Only jest should capture errors with a detailed trace; other libraries should get a standard trace without source maps.

## Motivation

Source map support interacts badly with test timeouts:

* In a larger project add a test that attempts to serialize error.stack
* The duration of this serialization will be significant and

[2019-02-13 04:17] terwort commented on #7831
Here's an example repo! I even added some screenshots to the readme to show you what I'm seeing. The numbers are pretty small here, but they get pretty significant the more you add. Thanks!

https://github.com/terwort/jest-mock-import-issue

[2019-02-13 08:43] edi9999 commented on #7873
I could be changing the `stack` property myself, but in reality I would still like to be able to see all lines in the stack trace. If I modify the `stack` trace it might become even more confusing.

I have an other idea, instead of putting this in the "user" configuration file (in jest.config.js), we could do this differently.

Since in my usecase, I am developping utilities, this maybe doesn't be

[2019-02-13 08:52] vostrik commented on #4903
@cpojer this issue was closed without any solution or explaining comments.

Can you explain your position, plz?

[2019-02-13 08:52] #7066 closed

[2019-02-13 09:21] nerder commented on #7875
I'm currently on:

[code]
Anyway yes, seems to be exactly that same thing.

### Workaround
Adding `_JB_INTELLIJ_JASMINE_REPORTER_DISABLED=true` as an `env` variable in when running tests works as expected.

@SimenB do you think the issue can be closed here then?

[2019-02-13 09:22] SimenB commented on #7875
Yes. Not sure how IntelliJ deals with these things, but you can try to open up an issue with them

[2019-02-13 09:22] #7875 closed

[2019-02-13 09:56] doniyor2109 commented on #7807
Happy to take `jest-snapshot`

[2019-02-13 10:25] doniyor2109 commented on #7837
Hi. Can I work on this issue?

[2019-02-13 10:45] jeysal commented on #7837
Go for it! And don't hesitate to ask if you need any help :)

[2019-02-13 11:01] mouafa commented on #4234
@OKNoah we had the same issue with testing the API server, we added this to the `globalSetup` script, and it's doing the job.

[code]

[2019-02-13 11:08] elicast82 commented on #7837
https://github.com/facebook/jest/issues/7837#issuecomment-463151041

[2019-02-13 11:13] SimenB commented on #7807
That's great @doniyor2109! Make sure to work on top of #7871 (will hopefully merge it today) 🙂

[2019-02-13 12:03] natealcedo commented on #7807
Calling dibs on `jest-config` :)

[2019-02-13 12:12] SimenB commented on #7807
Great @natealcedo! Should coordinate with @MohamadKh75 who's working on `jest-validate`

[2019-02-13 12:16] natealcedo commented on #7807
oh wait, I just realized I was looking at the wrong package. `jest-config` still has dependencies which havent been migrated. Lemme call dibs on `expect` instead. Sorry bout that haha

[2019-02-13 12:22] SimenB commented on #7807
👍

[2019-02-13 12:59] SimenB commented on #4234
Instead of hardcoding some timeout, I'd recommend trying to make a request to your server, and resolve the promise once it returns `200` or something. Just waiting for 1 sec seems both flaky and overkill (what if you didn't restart the server at all, then you're waiting 1 second for nothing). The overhead of a single http request on localhost shouldn't be too bad

[2019-02-13 13:07] JabbyPanda commented on #3202
One of the possible solution is to update to Jest 24, that uses Babel 7 for its parts

With Jest 24 there is no conflicting issue with resolving modules between `babel-core` (Babel 6)  and `@babel/core` (Babel 7) and "babel-core": "7.0.0-bridge.0" dependency is not required

[2019-02-13 13:21] SimenB commented on #4903
This was the conclusion:

More recent discussion: #7823

[2019-02-13 13:44] SimenB commented on #7831
Related: #3084.

[2019-02-13 13:45] #7831 closed

[2019-02-13 13:58] JabbyPanda commented on #3202
Related issue https://github.com/facebook/jest/issues/5525 that provides more information on how Jest relies on Babel 7 or Babel 6 for backward comparability

[2019-02-13 14:02] natealcedo commented on #7807
Hey what do we do in the scenario that we import types from `types` but they don't necessarily have their own package. In my case, `expect` uses types from `types/Matchers`. Do I migrate most of them into the `types.ts` file of `expect`?

[2019-02-13 14:14] vostrik commented on #7823
Thanks a lot for the link between related issues.

I think, this very important feature to write cleaner tests.

[2019-02-13 14:21] SimenB commented on #7807
@natealcedo I think it makes sense to stick them in `expect` - that's where all matchers live. It's currently only `expect`, `jest-jasmine2` and `jest-circus` that uses it, and they both import from `expect` already.

However, since we do `module.exports`, it's hard (impossible) to also export types, so we might need to stick it in `@jest/types` for now, and move it into `expect` whenever we ditch

[2019-02-13 14:30] SimenB commented on #7879
I'm not sure if we want to manage sourcemap installation manually. However, if you're able to put together a PR for it, I'd be happy to take a look 🙂

I'm 👎 on an option disabling it, though - I'd rather have some precision around when we intercept `prepareStackTrace`

Sorta related: #6965

[2019-02-13 16:55] spion commented on #7879
To be honest I am not sure what the right solution is here. Its clear that the memory leak issue should be fixed in v8, but until that happens, I don't see a lot of options.

One super invasive option is to fully monkey patch the error constructor to force "serialization" of the stack. But instead of actually serializing the stack, save the relevant parts of the frames only to an object (should be

[2019-02-13 17:00] bensampaio opened #7883 "React.memo with snapshot testing results in <UNDEFINED>"
## 🐛 Bug Report

When a snapshot of a shallow rendered component is created, if the component renders some other component created with `React.memo` then it shows up as `<UNDEFINED>`.

## To Reproduce

Steps to reproduce the behavior:
- create a component using React.memo.
- render that component inside some other component.
- then write a test for that component using the shallow renderer of reac

[2019-02-13 17:06] thymikee commented on #7883
Feel free to contribute this to pretty-format package in this repo :)

[2019-02-13 17:32] andrewholsted commented on #3202
@sibelius did you ever get that sorted? I have the same setup

[2019-02-13 19:34] yss14 commented on #3553
@Ghirigoro

How about

[code]

This way you have strict null checks for the whole project, but you can mitigate it for test cases on your own risk.

[2019-02-13 20:27] bandersongit opened #7884 "toBeCalledWith failure output is weird with multiple mismatched calls"
## 🐛 Bug Report
[code]

yields
![image](https://user-images.githubusercontent.com/5252755/52741555-749dc600-2f8a-11e9-8ea1-2e7027ade5e2.png)

## Expected behavior

Maybe a list of what is called with? Something like the failure output for the toBeCalled() matcher

## Run `npx envinfo --preset jest`

Paste the results here:

[code]

[2019-02-13 21:04] KamalAman commented on #7151
I would like to expand on this issue since it gets amplified by uses of setTimeouts within the async code:

[code]

`Timeout - Async callback was not invoked within the 30000ms timeout specified by jest.setTimeout.`

This issue here is there is nothing to continuously advance the timers once you're within the promise world. shouldResolve will never resolve.

The best solution that i have come up f

[2019-02-13 21:10] jeysal commented on #7873
Definitely a lot better than a config option, especially if we used a symbol as a key for this property. But I think it's still very niche. If you could convince Node to add such a property that allows you to customize which piece of code is shown for an uncaught error, we would probably support it too for our stack frame printing, but inventing our own special Error property is probably not worth

[2019-02-13 23:35] mscottx88 opened #7885 "Cannot Chain jest.fn()"
## 🐛 Bug Report

I am trying to create a spy on an instance property so I can intercept what is being passed to it and how many times it has been called.

Additionally, the spy is meant to return an object which contains a property, which is a jest mock function.

Every time I run it, I get a TypeError indicating that the return value of the spy is undefined and therefore cannot read the property

[2019-02-13 23:41] mscottx88 opened #7886 "Debug TypeScript VS Code"
## 🐛 Bug Report

I cannot debug the code under test in jest.  I can for the most part debug the actual jest spec file, but when I attempt to drill into the code which is actually being called, it amounts to seeing the VS Code editor pull up the source, with the "current line" always at the bottom of the screen.

I can step through the program logic, seeing the Local Variables changing, return valu

[2019-02-14 00:50] mscottx88 commented on #7885
Self-closing.  It all came down to the timing in which mocks were being defined, relative to when the resetAllMocks was being invoked.

[2019-02-14 00:50] #7885 closed

[2019-02-14 01:58] nalinkariyawasam23 commented on #6944
normancarcamo thanks...
npm cache clean --force
it worked for me..... ^

[2019-02-14 05:34] Oliphaunte commented on #7868
I can confirm the same issue occurring for me in a starter react-setup app I am working on, which is hopefully simple enough to allow for debugging.

https://github.com/Oliphaunte/react_redux_setup

I can also confirm the updates @SethDavenport made in `node_modules/babel-jest/build/index.js` fixed the issue for me, `yarn test` runs successfully post-edits. However, it only seems to work with a .b

[2019-02-14 06:26] debuggy commented on #7868
Same bug occured in my project.  For the detailed info:
[code]

[2019-02-14 07:00] Brooooooklyn opened #7887 "Can't resolve modules which in sub node_modules after upgrade to 24.1.0 from 23.x"
## 🐛 Bug Report

Project folder structure like this:

[code]

jest complain:

[code]

[code]

## To Reproduce

Steps to reproduce the behavior:

- yarn add antd@3.8.4
- write a jest test which import `form` or `drawer` from 'antd'
- run test

## Expected behavior

All tests pass

## Run `npx envinfo --preset jest`

Paste the results here:

[code]

[2019-02-14 08:41] francoisromain opened #7889 "npm audit: found 2 high severity vulnerabilities"
Hello, today npm display a warning

## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

`npm i jest`

[code]

[2019-02-14 09:08] SimenB commented on #7889
Is this actionable? The error message you posted includes instructions on how to upgrade?

[2019-02-14 09:11] francoisromain commented on #7889
I don't understand. Now I do `npm i` and I don't have the warning message anymore

[2019-02-14 09:11] #7889 closed

[2019-02-14 09:43] raulfdm commented on #4682
Unfortunately `react-scripts@2.0.4` does not accept `modulePathIgnorePatterns`.

I had tried `--collectCoverageFrom=src/**/*.js --collectCoverageFrom=!.cache/` and by adding as `jest` config at `package.json`, unsuccessful.

To make it works properly I had to instal [`react-app-rewired`](https://github.com/timarney/react-app-rewired), add this option and now it works:

[code]

[2019-02-14 09:50] SimenB commented on #7887
Works fine for me, on both 3.8.4 and latest.

[code]

Please include a full reproduction as the template asks you to. Happy to reopen at that point

[2019-02-14 09:50] #7887 closed

[2019-02-14 10:47] timbergus opened #7890 "Jest notify option error "Jest did not exit..." and no coverage summary"
## 🐛 Bug Report

I have updated recently to __jest@24.1.0__ and using my old config file appears the following error:

`Jest did not exit one second after the test run has completed.`
`This usually means that there are asynchronous operations that weren't stopped in your tests. Consider running Jest with '--detectOpenHandles' to troubleshoot this issue.`

This error disappears when removing the `n

[2019-02-14 11:11] cr33dx opened #7892 "Using jest along with puppeteer i' m getting RefrenceError : done is not defined when trying to loop through array to generate dynamic test case"
## 💬 Questions and Help
[code]
Getting error done is not defined.

[2019-02-14 11:14] cr33dx commented on #7892
used [forEach] (https://www.npmjs.com/package/async-foreach)

[2019-02-14 11:25] #7892 closed

[2019-02-14 12:09] tweetzal commented on #7868
### Same thing on mine :
TypeError: Cannot read property 'cwd' of undefined

      at Object.getCacheKey (node_modules/babel-jest/build/index.js:155:51)

### I am testing the Header component, and my test resides in header.test.js :
`import React from "react";
import renderer from "react-test-renderer";

import Header from "./header";

describe("Header", () => {
  it("renders correctly", () => {

[2019-02-14 12:11] pmemids commented on #7517
@SimenB How to fix this issue?

[2019-02-14 12:21] #7883 closed

[2019-02-14 12:25] ehmicky opened #7894 "`jest-validate` does not work well with async functions"
## 🐛 Bug Report

When validating input using `jest-validate`'s `opts.exampleConfig`, the validation distinguishes between sync and async functions which creates three issues.

First:
  - if `opts.exampleConfig` uses an `async` function, functions returning a promise will make the validation fail, but `async` functions will pass. However one might expect that those two are functionally equivalent.

[2019-02-14 12:26] SimenB opened #7895 "Use `react-is` in `pretty-format`"
Right now we have manual `$$typeof` checks: https://github.com/facebook/jest/blob/af1ab24649798bcf0f7ce6ec5b3cf4ba2a53b5eb/packages/pretty-format/src/plugins/ReactElement.ts#L37-L72

It would be cool to instead use [`react-is`](https://www.npmjs.com/package/react-is)

[2019-02-14 12:29] SimenB commented on #7886
I don't think this is actionable for us. Have you looked at https://github.com/facebook/create-react-app/issues/5319 and tried the workarounds there?

I don't use VS Code, so not much help. Maybe @orta has any fresh insight?

[2019-02-14 12:30] thymikee commented on #7894
You're right, we don't have a separation of sync/async functions in `jest-validate`. I'm happy to review a PR fixing current behavior :)

[2019-02-14 12:31] SimenB commented on #7517
Ask somewhere RN devs are (stackoverflow?) - this is not an issue with Jest

[2019-02-14 12:34] ehmicky commented on #7894
@thymikee this is the opposite: there is a separation of sync/async functions in `jest-validate`, where there probably should not.

If you're happy with the following solution, I can submit a PR: if `typeof value === 'function'` for both values (input value and `exampleConfig` value), do not make validation condition fail.

[2019-02-14 12:56] thymikee commented on #7894
I'm cool with that. Just add a test :D

[2019-02-14 12:58] dougajmcdonald commented on #3750
My 2c on windows:

`node --inspect ./node_modules/jest-cli/bin/jest.js --runInBand --watch /src/tests/`

is working for me

[2019-02-14 13:05] SimenB commented on #3750
I don't think this is jest's fault. On windows, you need to run `node_modules/.bin/jest.cmd` - that's how `bin` works

[2019-02-14 13:05] #3750 closed

[2019-02-14 13:10] orta commented on #7886
I think this needs an example project, because vscode doesn't support running jest out of the box and there's not enough info here to talk about how you're running jest with tests etc

[2019-02-14 13:42] SethDavenport commented on #7868
Thanks for making a repro repo @Oliphaunte - oddly my attempt to do so didn't reproduce the issue so I'm no closer to understanding what about my environment is triggering the issue.

I did come up with a lightly better workaround than editing my node_modules:

[code]

[2019-02-14 13:51] ehmicky commented on #7894
Done at #7896

[2019-02-14 14:01] #7894 closed

[2019-02-14 14:15] SimenB commented on #7868
@Oliphaunte your reproduction uses `jest@23` with `babel-jest@24` - that's not supported.

I wonder if we should have a peer dep?

[2019-02-14 14:16] SimenB commented on #7868
@SethDavenport Can you verify the version of `jest-runtime` in your repo?

[2019-02-14 14:20] oakis commented on #936
[code]

[2019-02-14 14:22] SimenB commented on #936
`jest.mock` is hoisted, use `doMock` or

[code]

[2019-02-14 14:35] SimenB commented on #7884
I agree to output here isn't as good as it should be. @pedrottimark is this in your list?

[2019-02-14 15:51] MilosRasic commented on #5920
syntax plugins simply allow the syntax without transforming it.

We use syntax plugin for dynamic imports with bundlers because bundlers handle imports.

Jest doesn't handle imports so it needs a transform plugin.

[2019-02-14 15:55] mscottx88 commented on #7886
I'll add the package details and launch.json today.

[2019-02-14 16:28] Prabhakar-17 commented on #7895
I would like to work on this.

[2019-02-14 16:41] SimenB commented on #7895
That's awesome @Prabhakar-17! Go for it 🙂

[2019-02-14 16:43] Oliphaunte commented on #7868
@SimenB That was a careless mistake on my part, I updated all my packages incorrectly before running those tests. It all works correctly now with the latest versions. I've also updated the package I shared previously in case anybody needs more reference.

Thank you @SimenB for your help!

[2019-02-14 17:28] pedrottimark commented on #7884
Ouch. Good timing. I looked at `spyMatchers` yesterday for the first time in about a year :(

At lot of work there. It seems like `toHaveBeenCalledTimes` will be our warm up exercise.

Yes, I agree that `.not.toHaveBeenCalled` is an analogy, with called args vertical instead of horizontal.

What do y’all think of first draft of improved report, with more complicated example calls:

[code]

[2019-02-14 17:30] SimenB opened #7900 "[RFC]: Rethinking reporters in Jest"
Reporters (that want to print to `stdout`) in Jest are pretty advanced as they have to replace existing text to show status (both per test and for the total run), they have to handle test results coming in out of order due to parallelized test execution and they have to print log output, assertion errors etc.. All of this has to look smooth with nice colors both on local machines and on CI.

Jest

[2019-02-14 17:32] #7837 closed

[2019-02-14 17:37] theblang commented on #4386
@cpojer Exposing the Jasmine 2 `random` config would actually be super helpful for us because we are using [jest-image-snapshot](https://github.com/americanexpress/jest-image-snapshot) along with Jest to write Puppeteer screenshot and integration tests, so being able to run a suite in random order would really help root out tests that might pass in a certain order but fail in isolation. I know tha

[2019-02-14 17:40] SimenB commented on #4386
IIRC the the randomizing implementation was ripped out of `jest-jasmine2`

[2019-02-14 18:22] Aghassi commented on #7857
To add more context to this issue, I've been able to circumvent this problem currently by doing the following in each file that shows this issue:

[code]

I'm still not sure why this is happening though

[2019-02-14 18:44] jeysal commented on #7884
Seems quite intuitive 👍

[2019-02-14 19:33] bandersongit commented on #7884
Also FWIW I ran into this while implementing Mock Matchers of my own in [Rely](https://github.com/facebookexperimental/reason-native/tree/master/src/rely), a Jest-inspired native Reason testing framework. I've been taking cues for matcher output pretty heavily from you guys to avoid bikeshedding and would love to know what you guys are thinking/take part in those discussions

[2019-02-14 20:18] SimenB commented on #7857
Please put together a repository we can pull down and check. If just using Jest 24 broke, we'd be getting a lot more reports 😉 Do you have a custom transformer?

#7844 will not help - the code basically identical.

[2019-02-14 20:44] CeamKrier commented on #3094
I'm using an external package and it imports its own files to a single file by using the following:
`@import "progress-tracker/progress-tracker-variables.scss";`

Whenever I run the Jest for to start testing
![image](https://user-images.githubusercontent.com/18554425/52816331-123fe500-30b2-11e9-82bd-cf2ec68fb97c.png)
the error above shows up. I already have specified css mockup inside the package.

[2019-02-14 20:45] SethDavenport commented on #7868
@SimenB I am not explicitly pulling in `jest-runtime` in my package.json. Should I be?

My yarn.lock has both 23.6.0 and 24.1.0 of jest-runtime, likely due to a downstream dependency using jest 23.

[2019-02-14 20:46] Ghirigoro commented on #3553
@yss14

That seems pretty good. I didn't realize you could use the bang operator on declarations. You learn something new every day. Thanks!

[2019-02-14 20:47] SimenB commented on #7868
No, you shouldn't have to. What does your package.json look like?

[2019-02-14 20:57] pedrottimark commented on #7884
@bandersongit to discuss information design with 2 use cases instead of one sounds super!

To strike while the feedback is hot, current baseline at left and second draft **improved at right**

`toBeCalledWith` please ignore the difference in matcher name, it was a mistake:

<img width="800" alt="with" src="https://user-images.githubusercontent.com/11862657/52816012-324db500-306e-11e9-95a1-b5992ba6

[2019-02-14 21:00] SimenB commented on #7884
No, I don't think so? The stacks might have been to track down the invocation, but I think that's information overload

[2019-02-14 21:04] jeysal commented on #7884
`Expected # calls:` maybe unless you want to avoid any special characters

[2019-02-14 21:18] jeysal commented on #7900
I think this is one of the most exciting and necessary changes to improve UX, especially combined with your PPS. Would love to help work on this. Is there a good way to manage the transition phase? Using an ink and a legacy non-ink reporter at the same time seems like it would be hard to deal with.

[2019-02-14 21:27] bandersongit commented on #7884
I agree with Simen on that point, and don't have labelling opinions.

I find the indexing kind of confusing. The current behavior prints args/returns in order of "most recently called" and I think that labelling them 1:, 2:, etc. suggests a chronological ordering rather than reverse chronological.

[2019-02-14 21:28] Aghassi commented on #7857
@SimenB I will work on that,

As for the transformer I have

[2019-02-14 21:34] Einlanzerous commented on #7722
For now I'm going to close this- I was out of the country for a while but the other dev I was working with couldn't really narrow down the scope of the problem. Thanks for the help, if we are able to narrow down everything with a small file we'll revisit.

[2019-02-14 21:34] #7722 closed

[2019-02-14 21:37] jeysal commented on #7807
Will do `jest-resolve-dependencies` once the `jest-snapshot` PR is complete :) except this time the weekend is coming up so I'll actually have the time to get to it quickly enough 😅

[2019-02-14 21:39] jeysal commented on #7884
[code]
?

[2019-02-14 21:40] edi9999 commented on #7873
Is this something I could implement in my own reporter ? Could you pinpoint me to what I would need to do that with a reporter ?

[2019-02-14 21:47] bandersongit commented on #7884
That's definitely clearer and I would favor that if we want to have labels (which I am neutral on)

[2019-02-14 22:13] milesj commented on #7900
If I'm not mistaken, Ink uses `log-update` under the hood, which has problems re-rendering content larger than the terminal height? This may be an issue with Jest's RUN/PASS/FAIL stack?

[2019-02-14 22:18] SimenB commented on #7900
Yeah, I think it'd have to be opt-in (through config or just `reporter[0]` having some static property). Supporting both at once seems out of the question, tbh

Current version does, V2 (which is the one we'd use) does not: https://github.com/vadimdemedes/ink/blob/440b83140a8e16ddfc5ad1b01bdc156f09350aba/package.json#L40-L52. Not to say it won't have issue of course. I did not encounter that when

[2019-02-14 22:19] SimenB commented on #7857
Cool, that shouldn't be a problem. Looking forward to the repo!

[2019-02-14 22:20] milesj commented on #7900
@SimenB Looks like they forked it: https://github.com/vadimdemedes/ink/blob/440b83140a8e16ddfc5ad1b01bdc156f09350aba/src/vendor/log-update.js But if you haven't run into any issues, then hopefully it's fine.

[2019-02-14 22:25] SimenB commented on #7900
Ah, fair enough! I'm not really married to the choice of ink (there's also e.g. [`react-slate`](http://react-slate.surge.sh/) and [`react-blessed`](https://github.com/Yomguithereal/react-blessed)), it's just the one I've already played with, and (albeit with limited testing) it worked great. Hopefully the exact renderer won't really matter in the end, but we should make sure to test for edge cases

[2019-02-14 22:29] SimenB commented on #7884
Whatever matches the ordering you'd use for `expect().toHaveBeenNthCalledWith()` should be the order. I _think_ that's invocation order. And the numbering should match that as well

[2019-02-14 22:33] SimenB commented on #7873
Yeah, for sure, although it'd be a bit finicky. We give you the whole stack thing as part of the assertion error already filtered and colored. Might be a good idea to at least give you access to the original untouched error? I'm actually not sure. Quickest way to prototype would probably be to use a https://jestjs.io/docs/en/configuration#testresultsprocessor-string and see what you can do with `t

[2019-02-14 22:37] pedrottimark commented on #7884
You answered the question before I could articulate it, my friend :)

Just noticed `toHaveReturned` reports values in order that they are returned.

[2019-02-14 22:40] milesj commented on #7900
Agreed! Hopefully it works :P

[2019-02-14 23:16] pedrottimark commented on #7884
Third draft with a possible label and without call args:

<img width="800" alt="times 2" src="https://user-images.githubusercontent.com/11862657/52822896-10116280-3081-11e9-8df3-99b868b1d9f3.png">

While it is at the front of our minds, here are some alternatives to critique for other spy matchers:

<img width="800" alt="called false baseline" src="https://user-images.githubusercontent.com/1186265

[2019-02-14 23:48] Aghassi commented on #7857
@SimenB Here is my example repo where I was able to reproduce the issue https://github.com/Aghassi/oclif-jest-demo-failure

[2019-02-14 23:49] Aghassi commented on #7857
Here is the output I got locally

[code]

[2019-02-15 04:54] avaly commented on #6814
Possibly related to this: https://github.com/nock/nock/issues/1448

[2019-02-15 06:29] vadimdemedes commented on #7900
@milesj That is correct, Ink uses `log-update` to render output, but truth is it's not `log-update`'s fault. It just seems that terminals are unable to properly erase last N lines of output if N is larger than terminal height (rows). What Jest actually does is it erases all session, including any previous output from other commands. I've tried doing that on every render in Ink, but rendering was l

[2019-02-15 10:28] tbergq commented on #7811
Jest v24:

[code]

Jest v23:
[code]

[2019-02-15 10:39] SimenB commented on #7811
Woah, 17s vs 113s, that's huge! Any possibility of sharing that project?

---

I think we need to start really considering adding performance monitoring to Jest. @aaronabramov talked about this in #4471. Node comes with essentially the same performance API the browser does (available since node 8): https://nodejs.org/api/perf_hooks.html, maybe we can use that to measure? Having some way of emittin

[2019-02-15 10:41] SimenB commented on #7900
Sorta related: #3160

[2019-02-15 10:41] tbergq commented on #7811
Sure, it is this [repo](https://github.com/kiwicom/mobile).

Currently I do not want to upgrade to v24 due to this difference 😞

[2019-02-15 10:53] SimenB commented on #7811
Thanks!

On my machine, that takes 35-40 sec on a cold cache, and 7-8 sec on a warm cache. With jest 24, I get 40-45 sec on cold cache and 17-18 sec on warm cache. Definitely shows the problem (although not as severe as on your machine). I'll try to find some time digging into this

Understandable!

[2019-02-15 10:55] tbergq commented on #7811
Maybe I ran v23 with cache and v24 without.

But we also have [another repo](https://github.com/kiwicom/margarita) where the tests got noticeably slower after upgrading. I don't have any official timings though.

[2019-02-15 13:31] andrewhampton opened #7906 "Add `jest.retryTimes` metadata to `TestResult` for custom reporters"
## 🚀 Feature Proposal

I love using circus's `retryTimes` to run several integration tests. It would be very helpful to have access to the number of retries required for the test to pass in a custom reporter. For example, if a test passed on the second run, the `TestResult` passed to `onTestResult` would have `testResult.retryCount == 1`.

## Motivation

I use Jest to run several smoke tests using

[2019-02-15 13:34] SimenB commented on #7906
I agree! It should be pretty easy to include as well, since we keep track of it. Wanna send a PR for it? Should be in https://github.com/facebook/jest/blob/d9d501ac342212b8a58ddb23a31518beb7b56f47/packages/jest-circus/src/legacy-code-todo-rewrite/jestAdapterInit.js#L135-L169

/cc @palmerj3

[2019-02-15 14:10] strindhaug opened #7907 "Document how to mock react-native-firebase for jest"
_I'm not sure whether this issue belongs here or on https://github.com/invertase/react-native-firebase/issues/ since it's either a bug or just incomplete documentation relating to these two packages interacting. So I've posted this issue [there](https://github.com/invertase/react-native-firebase/issues/1902) as well._

## Documentation Feedback

There is no documentation (that I found) on how to m

[2019-02-15 14:15] Ricardo-Marques opened #7908 "Could/should jest fail tests with no expectations?"
## 🚀 Feature Proposal

Jest should fail tests that do not make any assertions.

## Motivation

Consider the following case:
[code]

This test passes, [for reasons that are well documented here](https://jestjs.io/docs/en/asynchronous#callbacks).
Could jest fail tests that don't make any assertions?

Perhaps some inspiration could be taken from react's implementation of suspense, where a promise is

[2019-02-15 14:16] strindhaug commented on #7907
I didn't find any equvalent to "Documentation Feedback" as on react-native-firebase here, so I chose "Bug", so now this is autoflagged probably incorrectly as a bug, but I cant change that myself.

[2019-02-15 14:17] thymikee commented on #7907
Providing a mock for 3rd party modules is not responsibility of Jest. You can do
[code]
which will stub all methods exported by `react-native-firebase` with `jest.fn()` by default. That should be a good start. If you want to keep some of the library logic, you'll need to mock-out the native parts (e.g. calls to `NativeModules` instead of the library itself).

[2019-02-15 14:17] #7907 closed

[2019-02-15 14:19] thymikee commented on #7908
You can use `expect.assertions(1)` to make that happen: https://jestjs.io/docs/en/expect#expectassertionsnumber
There's even a lint rule for that if you like in `eslint-plugin-jest`.

[2019-02-15 14:19] #7908 closed

[2019-02-15 14:26] Ricardo-Marques commented on #7908
I'll be honest, I did not know this existed. However, it feels a bit strange that this is not default behavior.
Seems like any test should have at least 1 expectation, or am I missing any use cases? Is there any config driven manner of doing this where I wouldn't have to add this line of code to all my test cases?

[2019-02-15 14:35] SimenB commented on #7908
You can add https://github.com/mattphillips/babel-jest-assertions

[2019-02-15 14:58] cschuff opened #7909 "Provide access to the currently executed test specification in before/after hooks"
## 🚀 Feature Proposal

Provide access to the currently executed test specification in before/after hooks.

In mocha it is as easy as this:
[code]

I can not find any way to do this with jest. My closest guess was to mis-use a Reporter. But the reporter is only called before/after execution of a full test file which might not be enough for my use case in the future.

## Motivation / Example

Mainly

[2019-02-15 15:00] palmerj3 commented on #7906
So reporters can already see the number of times a test was retried by looking at the "invocations" field in the test report.

Unless a test is retried this number is always going to be 1 but if it's retried it will be higher.

[2019-02-15 15:00] palmerj3 commented on #7906
@SimenB ^^

[2019-02-15 15:13] SimenB commented on #7906
Hah, would you look at that!

https://github.com/facebook/jest/blob/d9d501ac342212b8a58ddb23a31518beb7b56f47/types/TestResult.js#L107

Awesome ☺️

[2019-02-15 15:13] #7906 closed

[2019-02-15 15:16] SimenB commented on #7909
I don't think we're going to add this.

@palmerj3 could you post some about how you hacked around this for the VCR?

[2019-02-15 15:22] SimenB commented on #7475
Missing reproduction

[2019-02-15 15:22] #7475 closed

[2019-02-15 15:22] palmerj3 commented on #7909
The way I got around this for a custom in-house VCR solution at Spotify was to override global.it, global.beforeEach, global.afterEach.

Currently it's the only way I am aware of to get this information and use it in the way you suggest (which I had a similar need for).

The TL;DR is that the overridden global.beforeEach and global.afterEach pushes their function to an array which we then process

[2019-02-15 15:24] #7465 closed

[2019-02-15 15:26] SimenB commented on #4390
Current docs: https://jestjs.io/docs/en/configuration#rootdir-string

It states that it's set to where the config is located. WHat do you think can be improved?

[2019-02-15 15:29] SimenB commented on #2979
If anybody can create a reproduction, please open up a new issue and link to this

[2019-02-15 15:29] #2979 closed

[2019-02-15 15:30] SimenB commented on #3927
We have `jest.spyOn` which is better for types. At least TS types are good at figuring out the correct argument and return types.

However, I think this is better tracked in #4257

[2019-02-15 15:30] #3927 closed

[2019-02-15 15:32] SimenB commented on #4521
I don't think this is super common. You can pass `--config '{"coverageThreshold": {}}'` or something like that, I think?

If not, you can create a custom watch plugin that allows you to disable it

[2019-02-15 15:32] #4521 closed

[2019-02-15 15:40] SimenB commented on #4166
You can use `jest-circus` today, see its readme for instructions on how to activate it: https://github.com/facebook/jest/blob/master/packages/jest-circus/README.md. It will become the default in the future, but if anyone wants to fix this in Jasmine, feel free to send a PR

[2019-02-15 15:40] #4166 closed

[2019-02-15 15:42] SimenB commented on #5309
This is expected, isn't it? It does leak unless you unassign it later (in an `afterAll` perhaps?) I'm not sure if Jest is able to track this and clean up for you?

[2019-02-15 15:43] SimenB commented on #5329
Is this still relevant?

[2019-02-15 15:53] SimenB opened #7910 "Centralize all code outputting to stdout"
Going through old issues and came across #4283. I really like the idea @aaronabramov alludes to there - making everything that ends up being printed to stdout go through some central piece of code. Right now both `process.stdout` and `console` are freely used (and since they're globals, that's hard to stop, although we can override those globals).

I don't have any immediate ideas on how something

[2019-02-15 15:54] SimenB commented on #4283
I opened up #7910 for tracking centralizing stdout output

[2019-02-15 15:56] SimenB commented on #5375
I think it makes sense to add this as an option to the built-in coverage reporter. Some discussion on passing options to the built in reporters: #7845

[2019-02-15 16:10] Dobby89 commented on #2081
Does anyone have a bare bones repo which has a working setup using JS imports?

[2019-02-15 16:15] kasvtv commented on #2081
https://github.com/kasvtv/react-starter

[2019-02-15 16:29] SimenB commented on #7909
I wonder if it's possible to add hooks for this in jest... It's essentially decorators

[2019-02-15 16:32] SimenB commented on #5375
Related: #4052

[2019-02-15 16:35] SimenB commented on #5711
We should add if a test was focused to the test result. At that point, this should be trivial to implement in a custom matcher. We currently track if it passed or failed, but we should add a field for `skipped` and `focused` as well.

https://github.com/facebook/jest/blob/d9d501ac342212b8a58ddb23a31518beb7b56f47/types/TestResult.js#L183-L192

[2019-02-15 16:38] #6080 closed

[2019-02-15 16:44] palmerj3 commented on #7909
I would love that.

For my use-case, specifically, it would be great to have blocking hooks so I could have time to setup things.

e.g. onTestStart (done) => return done()

[2019-02-15 16:45] SimenB commented on #7909
returning a promise from them should be fine (if we implement this)

[2019-02-15 17:05] Shahor commented on #6399
Hi guys, is there any update on this?

Maybe coming with node 12 LTS and the worker modules?
I have been bit hard by this issue yesterday and have been trying to find a solution since and still no luck 😢

I know that `graceful-fs` has been patched in `4.1.12` but even by forcing the resolved version through yarn to `4.1.15` I still face the issue so I suppose other packages in my `node_modules` ar

[2019-02-15 18:15] milesj commented on #7900
@vadimdemedes Yup ran into similar issues when implementing my console. That Jest POC is pretty slick, love it 👍

[2019-02-15 19:38] g-wozniak commented on #7868
Although version 24 of `jest` is not tested with `ts-jest` which suggest to downgrade (if experiencing issues)

[2019-02-15 19:42] jonsmithers commented on #6683
I was encountering a similar issue running just via `create-react-app`'s `react-scripts`. I got it to work by appending `--no-watch` to our debug run script like so:

[code]

`react-scripts` 2.1.4 appears to enable watch mode by default.

[2019-02-15 19:52] SimenB commented on #7868
ts-jest has issues with jest 24 if you also use babel, from my understanding. So ts-jest and babel-jest@24 does not play well together

[2019-02-15 20:55] ott-web commented on #7868
Still broken for me on jest@24 babel-jest@24. =(

[2019-02-15 21:28] SimenB commented on #7868
Reproduction? Just saying it's broken doesn't really help us track it down

[2019-02-15 21:48] Atomox commented on #1965
@cpojer

Two things:
1. Adding an optional second argument to expect() is hardly making anything harder for developers.
2. The last thing developers want to do is waste time debugging what caused the test to fail. Often expects vs received is a good way to check if a condition was met, but often not enough context as to what *caused* it to fail.

I used Mocha/Chai, as well as tape, before coming t

[2019-02-16 02:18] indiehjaerta opened #7911 "My promise async test is taking to long time, how do I fix it."
Hey I've been struggling with this test for a while and finally got a solution that works,
The problem is that it's really slow >20s because of the setTimeout (I guess) but anything that is lower than what randomInt is giving as value and the test will fail. How to get around this?

_tests_/Bot.js
[code]

api.js

[code]
Bot.js

[code]

[2019-02-16 03:06] tomitrescak opened #7912 "jest ALWAYS runs all files, ignoring the --onlyChanged option"
## 🐛 Bug Report

A clear and concise description of what the bug is.

running `jest --runInBand --watch --onlyChanged` ALWAYS runs all tests

## To Reproduce

Steps to reproduce the behavior:

1. Clone: https://github.com/tomino-npm/dynamic-form-semantic-ui
2. run './node_modules/.bin/jest --runInBand --watch --onlyChanged`
3. change ANY test file = ALL tests are always run

## Expected behavior

[2019-02-16 03:11] tomitrescak commented on #7912
Sorry, just an update. If you change only a test file it's all good, but when you change a project file all tests run.

[2019-02-16 04:39] andrewhampton commented on #7906
Awesome, thanks!

[2019-02-16 07:06] thymikee commented on #7911
Use fake timers, you'll find all you need in the docs.

[2019-02-16 07:06] #7911 closed

[2019-02-16 07:14] doniyor2109 commented on #7807
Ready to take `jest-jasmine2` when its dependencies are migrated 💪

[2019-02-16 10:30] lonix1 opened #7913 "[Feature Request] Decorators and class-based syntax"
## 🚀 Feature Proposal

Tighter integration with the latest TypeScript features (or use Babel for now), Specifically:
- decorators
- class-based syntax

## Motivation

These features would make Jest tests *much simpler and neater*.

## Example

[code]

There are some libraries that already do this, but not for Jest:
- [mocha-typescript](https://www.npmjs.com/package/mocha-typescript)
- [test-decora

[2019-02-16 11:58] artola opened #7914 "testMatch on Windows"
## 🐛 Bug Report

The following `testMatch` works on unix systems while does not on Windows machines. It is required to narrow the folders where to look for tests.

[code]
Error on Windows:

[code]

## To Reproduce

Set a `testMatch` that starts with `<rootDir>/src/...` in place of the default `**/*/...`.
See in the error message `src/**\?(*.)` here the `/` was replaced by `\` and it is a lonely ca

[2019-02-16 11:59] thymikee commented on #7914
We moved to micromatch@3 and it seems like your glib is not valid anymore. You'll need to adjust it to be compliant. We're sorry this happens but it was announced as a breaking change

[2019-02-16 12:27] SimenB commented on #7914
I wonder if this is #7814?

[2019-02-16 12:33] artola commented on #7914
@thymikee I know about the breaking change and we changed the glob, mainly I just use the default one shown in `jest --init` with the prefix `<rootDir>/src/`. While this works on Mac/Unix, does not on Windows.

[2019-02-16 12:36] thymikee commented on #7914
Oh, that may be the case. Reopening then

[2019-02-16 13:13] artola commented on #7914
@SimenB I am using v24.1 but if I add the `slash` wrapper as shown here (https://github.com/facebook/jest/blob/d81c4cb5443e529a5c0572e5b9e4f231249c3609/packages/jest-config/src/utils.js#L70) the `testMatch` works on unix and also on Windows.

[2019-02-16 13:55] jeysal commented on #7913
Thanks for the suggestions. To be honest, I don't see how this would make writing tests any easier than it is today (I'm using TS a lot and have used Java in the past), can you explain what benefits you would expect from this style of writing tests?
On a side note, this doesn't seem to contain any TS-specific elements? Class syntax is already in JS and decorators are stage 2.

[2019-02-16 14:02] jeysal commented on #7912
Note that `--onlyChanged` will run any tests that directly or indirectly depend on a changed file, not just those tests that have changed themselves. So if your tests all have direct or indirect dependencies on the file you changed, they will all be run. Is this the case for your project?

[2019-02-16 14:11] thymikee commented on #7912
Also --onlyChanged is implicitly on in watch mode. We can warn that it's futile to use both

[2019-02-16 14:39] artola commented on #7914
@SimenB @thymikee When I create a config using `jest --init` shows this block:

[code]

Then I just uncommented this block and tweaked a bit to support `<rootDir>/src/`.
This change does not play well in Windows while in Unix is ok as reported above.

Now what I did is slightly change the glob and works in both OS, following the doc in [micromatch](https://github.com/micromatch/micromatch#extglobs

[2019-02-16 14:53] lonix1 commented on #7913
@jeysal
Why: If you don't like it, then you could continue to use the functional approach. Those that prefer it would use the class-based approach.
TS vs ES6: Well then that makes it even easier to adopt.

[2019-02-16 15:05] jeysal commented on #7913
This seems like something that should be implemented outside of Jest core, given that it's fairly uncommon in JS testing and that it would be costly to maintain a second functionally equivalent way of writing Jest tests. Should be easy to do with the upcoming decorators (or with a Babel plugin to implement a more exotic syntax).

[2019-02-16 15:15] lonix1 commented on #7913
It always surprises me when Node/JS folks look at something common in C/C++/C#/Java and not immediately see how much more intuitive and elegant and CLEANER it is. No functional pyramid of doom, no callback hell, just syntactic sweetness.

And then I realise that the Node/JS folks think the same about us, and why don't we understand that the functional way is more elegant! :laughing:

Personal pref

[2019-02-16 15:28] Millian32 commented on #6944
Saved me on similar error in something unrelated as well!!  Thanks!

[2019-02-16 15:41] SimenB commented on #7807
Awesome @doniyor2109, wrote it down.

---

@mattphillips @lirbank @r3nya @MohamadKh75 hey, how's it going with the packages you've claimed? 🙂 Feel free to use GitHub's awesome new Draft PR feature to gather some early feedback if you're stuck on something.

https://github.blog/changelog/2019-02-14-draft-pull-requests/

[2019-02-16 16:06] MohamadKh75 commented on #7807
@SimenB thanks for that 😁
I'll use it soon...
One thing, the __tests__ also need to be converted to `.ts`?

[2019-02-16 16:21] thymikee commented on #7807
@MohamadKh75 it would be nice to do so, but it's not required at the moment, especially that they're not currently typed (I'm speaking of `jest-validate`)

[2019-02-16 16:25] SimenB commented on #7807
Agreed - we can do tests in a follow up if they prove to be tricky. The important thing is to get the source code converted to keep the migration going. We know that the current code _works_, which is why I'd like to see a diff against master in the PRs

I'll be setting up a new issue for tests, utils etc (as well as following up on `@ts-ignore`s) later.

[2019-02-16 16:26] SimenB commented on #7807
For anyone else following along, we've added 2 new packages to the repo that needs to be converted as well - `@jest/transform` & `@jest/reporters` (split out from `jest-runtime` and `jest-cli`, respectively). They should be pretty straight-forward to convert if anybody wants to pick them up 🙂

[2019-02-16 16:57] doniyor2109 commented on #7807
Strange. It is not working for my PR 🙈

[2019-02-16 17:03] SimenB commented on #7807
Huh, I guess I should have tested it rather than blindly trust the blog 😅

Just stick `[WIP]` in the title then, until the feature works as advertised 🙂

[2019-02-16 17:51] SimenB commented on #7913
We won't be adding this to core, as it's not idiomatic JS. AT the very least, this will have to wait for decorators to be stage 4.

As mentioned, it should be possible to implement this in user space. Happy to link to it from the docs 🙂

_If_ it's hard to implement in user space, we should look into what we can do in Jest itself to fix that, but I don't think adding the functionality itself to cor