[2015-05-18 21:56] Sebmaster commented on #267
@ide The reference you retrieve is the wrong one there. You'll need to retrieve `_global` instead of `defaultView` if I remember correctly. Setting up the references is a bit complicated. In jsdom it's done [here](https://github.com/tmpvar/jsdom/blob/master/lib/jsdom/level1/core.js#L222-L224).

[2015-05-19 12:05] vipin-inbetween commented on #204
difference between dontmock and mock in jest

[2015-05-19 15:07] robrobbins opened #372 "Input type='text' not implementing `setSelectionRange`"
Searched here and the *jsdom* repo, didn't find anything so thought I'd post it here.

Given a component in Jest where the following are true:

      `expect(subject.tagName).toBe("INPUT");`
      `expect(subject.type).toBe("text");`

This fails:

    `expect(typeof subject.setSelectionRange).toBe('function');`

Known issue?

[2015-05-19 23:14] domenic commented on #372
There's a PR for this but it's just missing tests before I can merge into jsdom... https://github.com/tmpvar/jsdom/pull/804/files :( Maybe you'd be the one?? :)

[2015-05-20 11:27] ScreenDriver commented on #300
:+1:
Same issue here

[2015-05-20 11:28] ScreenDriver commented on #155
:+1:
Same issue here

[2015-05-20 11:40] aszwemin commented on #300
I solved my problem by putting all my tests in __tests__ folders, but had
to hack a bit to deal with report generator as it's basing line counts on
compiled js
On Wed, 20 May 2015 at 12:27, ScreenDriver <notifications@github.com> wrote:

[2015-05-20 11:44] ScreenDriver commented on #300
My tests are already in a `__tests__` directory. If you not put your tests in a `__tests__` directory jest could not find it.

[2015-05-20 11:48] aszwemin commented on #300
Jest will find them if you specify folders you put them in in jest
configuration, but sadly that doesn't work for coverage
On Wed, 20 May 2015 at 12:44, ScreenDriver <notifications@github.com> wrote:

[2015-05-20 11:50] ScreenDriver commented on #300
Hm I don't believe that I understand what you mean :question:

[2015-05-20 14:25] gagoman commented on #74
Optional Jasmine 2.x support was added to #330

Thx to @tomv564

[2015-05-20 23:08] amasad commented on #174
Assigning to @DmitrySoshnikov. I also have a feeling it should be simple.

[2015-05-21 03:38] ide commented on #267
@Sebmaster I looked into `_ownerDocument._global` but it didn't seem to lead to a working solution. I was able to get things working (the tests all pass) with defaultView and a couple other patches, which is exciting. #374

[2015-05-21 09:01] ScreenDriver commented on #98
:+1:

[2015-05-21 09:28] markross opened #375 "Manual mocks example not working"
I am trying to run the manual mocks example however I am getting this error. Node v0.10.38, using Jest v0.4.5 cloned directly from git repo.  I have tried the same test in Jest v0.3 and it doesn't work either. However it DOES work in v0.2.  From what I can see, it seems to be loading the real `fs` module rather than the mock.
[code]

[2015-05-22 00:21] codyhatch commented on #231
Would love to find an answer to this too.  I'm getting reports on all sorts of random libraries in my coverage report; I really only care about my own code.

[2015-05-22 00:22] codyhatch commented on #304
Is there any progress on this?

[2015-05-22 09:11] HeikkiNaski commented on #259
I also encountered this. It only happened when using several files and when I had configured setupTestFrameworkScriptFile which had this line:

    jasmine.VERBOSE = true;

Command: jest spec-1.js spec-2.js

    Error message:   Error: Unable to parse child response data:
    logging:  >> Jasmine waiting for success callback should be called
    logging:  >> Jasmine waiting for success callback sh

[2015-05-22 14:37] tejohnso opened #376 "npm install fails"
I can't get past `npm install` on a fresh clone.

[code]

I notice package.json indicates old versions of node `"0.8.x || 0.10.x"` but it's unclear whether that's causing the problem.

[2015-05-22 14:41] tejohnso commented on #376
Found this:
https://github.com/facebook/jest/issues/243

[2015-05-22 14:41] #376 closed

[2015-05-22 17:14] blainekasten opened #377 "autoMockOff doesn't work with es6 imports and babel"
It seems that the `jest.autoMockOff` fn fails to work when your tests are written with es6 imports. the imports don't use the default require when compiled with babel, and therefore your override of the require function isn't used. Can Jest tap into babel's importer when it's available?

[2015-05-22 22:52] zhon opened #378 "Importing React causes jest to fail silently"
Versions
Node 12.2
NPM 2.7.4
jest-cli 4.5

Running the following pauses for a couple of seconds then the command prompt appears. No error messages (or even a return) are ever reported.
[code]

Tests run when I don't include anything related to React.

[2015-05-25 23:45] binarykitchen commented on #341
@pherris really? having a console.log causes this?

[2015-05-25 23:50] binarykitchen commented on #341
This bug is one month old and still a huge problem. So would really appreciate to get a little more attention here. Thx!

[2015-05-26 07:01] island205 commented on #367
+1

[code]

[code]

[2015-05-26 08:29] doodzik commented on #378
try switching to node v0.10 and rebuilding your dependencies

[2015-05-26 10:41] pitu7dg commented on #369
https://github.com/facebook/jest/issues/227

This also worked for me to
[code]

[2015-05-26 12:07] pherris commented on #341
More specifically, if I have anything writing to stdout (like console.log) it bombs. For example, adding `console.log('bla');` to my preprocessor.js gives me this:

$ grunt test
Running "jest" task
 FAIL  src/scripts/components/__tests__/RouterContainer-tests.js
Error: Attempted to send a message to the worker before the response from the last message was received! Worker processes can only handle

[2015-05-26 21:16] binarykitchen commented on #369
No, `sudo` does not help here and does not make sense at all. Still cannot run the tests.

[2015-05-26 21:24] binarykitchen commented on #341
Nah, the errors also happen when I don't have `console.log()` in my test code

[2015-05-26 22:16] kmazanec commented on #378
having this same problem, not excited about that solution, any ideas on the cause?

[2015-05-26 22:20] iszandro commented on #238
I'm having the same issue with arrays
[code]

After requiring it:
[code]

[2015-05-27 10:03] ncuillery opened #380 "Auto-mocking of ES6 component causes annoying warnings."
Here is the output when running a test with a mocked component:
![trace](https://cloud.githubusercontent.com/assets/4425455/7833443/45896150-0467-11e5-988c-df11cd30c5a7.png)
(to get this code, I just build a list of CheckboxWithLabel on top of the existing react-es6 example, see https://github.com/ncuillery/jest/commit/a387d8cc9bcd4c15c3d881099e229b34c3828be2)

It seems the old deprecated function

[2015-05-27 13:15] ncuillery commented on #305
I guess `node_modules/jest-jsx-preprocessor` is an acceptable syntax, seen in babel-jest, for example.

[2015-05-27 13:15] #305 closed

[2015-05-27 14:06] iamdustan opened #381 "Plan for multiple module systems"
We’re getting ready to start a few projects where I would like to use jest heavily. The inability to hijack the module resolution calls is a bit prohibitive at the moment though. I would like to propose a simple plan to open up jest to module systems besides Haste.

- [x] Refactor HasteModuleLoader to the core API and the HasteModuleLoader specifics
- [x] Move HasteModuleLoader to it’s own npm pac

[2015-05-27 17:05] coryhouse commented on #355
I'm getting the same error as h1bomb when I run npm install on OSX using Node .12.3:

| => npm install

Using Jest CLI v0.4.5
 PASS  HasteModuleLoader/__tests__/HasteModuleLoader-currentTestPath-test.js (0.027s)
Waiting on 14 tests..._writableState.buffer is deprecated. Use _writableState.getBuffer() instead.
 FAIL  HasteModuleLoader/__tests__/HasteModuleLoader-genMockFromModule-test.js
Error: Wor

[2015-05-27 18:18] zpao commented on #355
Very probably related to #243.

[2015-05-27 22:09] spicyj opened #383 "Filter out jest lines from error stack traces"
If an error is thrown when requiring a module, many lines in the stack look like this:

[code]

It would be nice to filter these out so the user code shines through in the stack.

[2015-05-28 05:44] bitshadow opened #384 "Getting warning for node 0.12.2"
Getting warning for latest version of node.

[code]

[2015-05-28 05:46] browniefed commented on #384
Yes, jest only supports 0.10.x version of node for now.

[2015-05-28 13:08] ScreenDriver commented on #378
+1
same here :disappointed:

[2015-05-28 13:50] ScreenDriver commented on #384
See here #243

[2015-05-28 13:54] ScreenDriver commented on #378
I found the right issue for this: #243

[2015-05-29 12:02] ScreenDriver commented on #334
+1 same here. I also ended up like the StackOverflow [approach](http://stackoverflow.com/questions/28870296/how-to-use-jest-with-webpack). Here is my final `preprocessor.js`. Note: I am using [CoffeeScript](http://coffeescript.org) and [CJSX](https://github.com/jsdf/coffee-react-transform).

[code]

[2015-05-29 16:53] zpao opened #385 "preprocessorIgnorePatterns need to be converted to RegExp"
#303 introduced preprocessorIgnorePatterns for configs. However since configs are JSON we can only stick strings in there, so we need to convert to RegExps before we `.test`. This is my fault and I bet this is exactly why @benjamn used `indexOf` in #99 originally.

[2015-05-29 17:23] lfilho commented on #340
+1

iojs 1.8.1
jest 0.4.5

[2015-05-29 17:28] lfilho commented on #340
Also happend on

iojs 2.1.0
jest 0.4.5

[2015-05-31 12:39] vxsx commented on #375
Experiencing the same problem, cannot mock `fs`.

[2015-06-01 14:27] songawee commented on #116
@amasad Is there an option with Jest to build up a cache for compiled files similar to what the babel-loader allows in the cacheDirectory option? - https://github.com/babel/babel-loader#options

[2015-06-01 14:44] doodzik commented on #116
What makes jest slow for me isn't the compilation but rather the startup of the worker pool processes. All my test pass in under 0.05 seconds except the first ones, which take around 5 seconds.
https://github.com/jeffmo/node-worker-pool
https://github.com/facebook/jest/blob/master/src/TestRunner.js#L376

[2015-06-01 22:31] whroman commented on #369
+1

[2015-06-01 22:40] whroman commented on #227
+1

[2015-06-01 22:57] whroman commented on #369
@binarykitchen
I was experiencing this issue until I removed a `console.log` from the script specified in the project's `package.json` Jest flag `scriptPreprocessor`

*package.json*

    {
      ...
      "jest": {
          "scriptPreprocessor": "Spec/preprocessor.js"
      }
      ...
    }

[2015-06-01 22:58] whroman commented on #259
@drd Thanks! That worked!

[2015-06-02 00:12] binarykitchen commented on #369
Huh? @whroman do you mean, you removed a `console.log` call within the Jest source code? If so, can you point to the exact line of that repository? And why hasn't this been already modified and published yet?

[2015-06-02 00:17] binarykitchen commented on #369
In my case, I call jest within a gulp task and have this `scriptPreprocessor` defined:

[code]

There is no console.log and everything looks right. But why do jest tests still do not work? (they work with older node.js or io.js versions but not with newer ones)

[2015-06-02 00:53] whroman commented on #369
@binarykitchen
No, this particular project does not use a `coffee-react-transform`. I'm rolling with [a preprocessor that I stole from the Jest site](https://facebook.github.io/jest/docs/tutorial-coffeescript.html):

    # preprocessor.js
    var coffee = require('coffee-script');

    module.exports = {
      process: function(src, path) {
        // CoffeeScript files can be .coffee, .litcoffee,

[2015-06-02 01:31] binarykitchen commented on #369
I think we aren't on the same page here. The error I reported has nothing to do with your custom preprocessor and looks more likely a bug within jest.

This is my gulp script

[code]

You see, it has no pre-processor and it still happens:

[code]

[2015-06-02 01:32] binarykitchen commented on #369
Repeating: my gulp task worked until I switched to iojs

[2015-06-02 01:33] binarykitchen commented on #369
See https://github.com/facebook/jest/issues/340

[2015-06-02 01:39] binarykitchen commented on #369
Ah, it's most likely related to this one monster thread: https://github.com/facebook/jest/issues/243 where one of the latest comments mentioned a jsdom issue. So I guess https://github.com/facebook/jest/issues/267 is going to fix this one problem.

[2015-06-02 18:10] marcelopv commented on #367
I solved the issue changing the version of npm to 0.10.

[2015-06-02 18:40] buddyp450 commented on #367
I don't consider this a fix as npm and iojs weren't even the same thing as of the writing of this issue. I had to upgrade npm for other reasons which then led to this problem. Going backwards doesn't solve the problem for me.

[2015-06-02 21:48] amasad commented on #116
@songawee It doesn't but want to send a PR to have it as an option? I don't think we should have it on by default because it's sometimes impossible to know when to break the cache. For example, if you change your compiler options, the cache should reset. Another option is to have a reset-cache option in addition to caching.

@doodzik are you sure it's the worker-pool and not the `node-haste` stati

[2015-06-02 22:26] doodzik commented on #116
@amasad What I did was to measured the time each step in running `jest` took for completion.
And the  `node-worker-pool` was the last instance where the tests were slow.
It could be that my findings are just the symptom and not the root of the problem.
But I hadn't had time to give it a proper analysis.

My tests currently look like this:
![screen shot 2015-06-03 at 00 10 16](https://cloud.githubu

[2015-06-03 22:41] malliapi commented on #139
i would also really appreciate using the specrunner!

[2015-06-03 23:21] DmitrySoshnikov commented on #384
We're going to invest in io.js update, and 0.10 will likely be final version for legacy node (since new jsdom version doesn't support 0.12).

Closing this issue, since it's tracked in #243.

[2015-06-03 23:21] #384 closed

[2015-06-03 23:24] DmitrySoshnikov commented on #378
We're going to invest into io.js update, and 0.10 will likely be final version for legacy node (since new jsdom version doesn't support 0.12 anymore).

Closing this issue, since it's tracked in #243.

[2015-06-03 23:24] #378 closed

[2015-06-03 23:32] orlando commented on #201
Thanks!. I just had this issue and found that object-assign was mocker, but didn't know how to not mock it.

[2015-06-03 23:55] DmitrySoshnikov commented on #243
FYI: We're going to invest into io.js update, and 0.10 will likely be the final version for legacy node (since new jsdom version which we also updating doesn't support 0.12 and below). It's likely be an update for jest 0.5, and 0.4 will still work with 0.10.

[2015-06-04 14:32] collardeau commented on #286
+1

[2015-06-04 15:39] goncalvesjoao commented on #271
+1

[2015-06-05 16:47] Nutelac commented on #377
It does not work, because

[code]

is compiled as

[code]

Notice that `jest.autoMockOff()` is after `require`.

[2015-06-05 17:25] blainekasten opened #388 "alert user if new dependency was added to testing element."
More often then I can count, i've been bitten because I added a new dependency to a file, not thinking about how it needs to be not autoMocked, my tests fail in crazy ways I can't understand, so I spend a lot of time trying to figure out what's wrong all to realize I just need to add `jest.dontMock('NewDependency.js')`

This is a very frustrating process. Since jest does some caching work, wheneve

[2015-06-05 17:25] DmitrySoshnikov commented on #327
The described issues seems legit to me. Would you like to send a PR fixing them by providing the `--relative`? We can fix `node_modules` in a separate diff.

[2015-06-05 18:16] csaintc commented on #304
:+1:

[2015-06-05 18:36] DmitrySoshnikov commented on #377
Yeah, `import`s are hoisted (see https://github.com/babel/babel-jest/issues/16), so workaround is to use explicit `require` here. See also https://github.com/facebook/jest/pull/379. Closing this one.

[2015-06-05 18:36] #377 closed

[2015-06-05 19:53] ericwooley commented on #304
I updated the versions and it seems to be working now. You can see how I am using it here https://github.com/ericwooley/react-in-style

[2015-06-05 23:56] DmitrySoshnikov opened #389 "Mocker may throw if some properties are accessors"
When automocker gets all slots (see `getSlots(...)`), it should check for an accessor properties and don't execute the accessor function which may throw.

[2015-06-06 00:01] DmitrySoshnikov commented on #380
Yeah, the mocker should consider accessor properties and not to call an accessor function. See the #389.

[2015-06-07 01:47] ericvicenti commented on #227
I also encountered this issue, but I managed to fix it. It looks like jest was looking through my dist files and got confused, because I fixed it by adding  `"testPathDirs": [ "<rootDir>/src" ],` to my config.

Here is the whole jest config in my `package.json`:
[code]

[2015-06-07 02:45] #389 closed

[2015-06-07 17:17] #380 closed

[2015-06-08 13:10] ncuillery commented on #380
Works perfectly in 0.4.7, thank you :+1:

[2015-06-08 16:45] oreza commented on #17
+1

[2015-06-08 23:54] DmitrySoshnikov commented on #317
Seems this one has a normally working and configurable solution. I guess we may keep default `__tests__` pattern, and close this issue?

[2015-06-09 00:37] DmitrySoshnikov opened #391 "runOnlyPendingTimers doesn't consider calls from setImmediate"
Calls enqueued by `setImmediate` aren't ran in `runOnlyPendingTimers`.

[2015-06-09 01:15] #391 closed

[2015-06-09 01:52] ProggerPete commented on #367
I suspect you want to stop requiring 'react/addons' which is deprecated and instead start requiring '/react/addons/thespecificaddonyouwant'

Solved a similar issue for me with jspm.

[2015-06-09 09:46] ncuillery commented on #215
FYI, I have been starting working on the new MD file generated from the optimistic option [here](https://github.com/facebook/jest/blob/master/bin/jest.js#L43-L126) and inspired from the existing README.md generation

Feel free to express your feeling about it : https://github.com/ncuillery/jest/commits/doc-cli

[2015-06-09 10:12] anjianshi opened #394 "Jest throw SyntaxError when export something contains Promise, Set, Map or Symbol"
I use Jest with RxJS, and it throw `SyntaxError: xxx.js: Unexpected token catch`.
After some attempts, I found that Jest will always throw SyntaxError if you export something that includs Promise, Set, Map or Symbol.

An example:

##### some-test.js
[code]

##### target.js
[code]

##### lib.js
[code]

[2015-06-09 11:37] mik01aj commented on #215
Thanks for asking but no, not really, I stopped using Jest around 3 months ago. It just turned out to be too unstable and unpredictable.

[2015-06-09 13:58] zhon commented on #317
+1 I would love to see it in regular documentation rather than just in this issue.

[2015-06-09 18:47] jwb commented on #152
Using node-debug is allowing me to set breakpoints at start-up, but it looks like harmonize is starting a child process to run my tests, so I can't debug them.

[2015-06-12 20:41] DmitrySoshnikov opened #398 "Progressive test results in --verbose mode"
It would be great having progressive output in the `--verbose` mode. Currently, if some test takes long time, non of the individual `it` results are shown until the whole test ran. And then we can fix `--bail` mode to affect each `it` as well.

[2015-06-12 20:41] DmitrySoshnikov commented on #398
CC @PhilVargas

[2015-06-13 02:55] xcatliu commented on #353
+1

[2015-06-14 06:00] PhilVargas commented on #398
I actually looked into this a lot while writing the verbose ticket and couldnt figure out where in the code base a single (`it`) test is run. i could only find the before and after an entire file is run to completion. i'd love to look into this but would you be able to point me in the right direction of where i should be looking?

[2015-06-15 04:43] DmitrySoshnikov opened #400 "Investigate performance regression after #333 (take non-enumerable props in mocker)"
We noticed some performance regression after #333 in tests that do a lot of mocking. We should investigate how to make getting of non-enumerable properties faster. Probably we want to run the slow path only for the cases we know are for ES6 classes.

[2015-06-15 04:44] DmitrySoshnikov commented on #400
CC @AsaAyers

[2015-06-15 06:49] DmitrySoshnikov commented on #398
Yeah, I'll need deeper investigate the reporter hooks, but seems we can [handle](https://github.com/facebook/jest/blob/master/vendor/jasmine/jasmine-1.3.0.js#L1034-L1038) the `reportSpecResults`, and slightly rewrite our [JasmineReporter](https://github.com/facebook/jest/blob/master/src/jasmineTestRunner/JasmineReporter.js).

[2015-06-15 09:47] simonewebdesign opened #401 "Set testPathDirs to the same folders where the libs are located"
Hi, just wondering if it's possible to set up a configuration for a project structure such as this:

[code]

Basically we'd like to have the test files next to the libraries.

This is how the configuration looks like at the moment:

[code]

It's not working, and we think it's because we're not specifying a [testDirectoryName](https://facebook.github.io/jest/docs/api.html#config-testdirectoryname-s

[2015-06-15 11:33] chris31389 opened #402 "Installing on windows throws configure error"
I'm looking into unit test frameworks for JavaScript and tried jest out.  I've created a new package.json and run the command:
`npm install jest-cli --save-dev`

which outputs this error:
[code]

It looks like its an issue with a dependancy on node-gyp

does anyone know how to solve this or remove the dependancy for windows?

[2015-06-15 12:50] bennyn commented on #402
I have the same issues on **Windows 8.1**:

[code]

@chris31389: Which version of Visual Studio do you have installed? Can you try running `npm install contextify --msvs_version=2012`? The issue might be related to the version of Visual Studio.

There are several open tickets on the [contextify repo](https://github.com/brianmcd/contextify):
- [Contextify installation fails on Windows 8.1](https://

[2015-06-15 12:51] ScreenDriver commented on #90
@amasad workaround also worked for me :+1:

[2015-06-15 13:52] ScreenDriver commented on #223
This mock is also working for me :+1:

[2015-06-15 14:10] chris31389 commented on #402
Hi @bennyn,

I Tried running your command and got a similar error message.

I've got Visual Studio 2013 Ultimate installed on my Windows 8.1 system.  Why do you think Visual Studio is the issue?

I found this article with a set of instructions on how to get it working https://www.robertkehoe.com/2015/03/fix-node-gyp-rebuild-error-on-windows/

If its possible I'd prefer to not touch anything other

[2015-06-15 14:14] bennyn commented on #402
@chris31389: I have came across this issue https://github.com/brianmcd/contextify/issues/129 and there it's written that @blowsie could build contextify with `npm install contextify --msvs_version=2012`. So it looks like to me that Visual Studio 2012 is needed in order to build that module.

[2015-06-15 14:19] chris31389 commented on #402
Hi @bennyn

Looking at the article I referenced it says that contextify isn't being "actively" developed on so I think i'm going to give this npm module a miss and look for an easier alternative.

Thanks for the help

[2015-06-15 15:06] bennyn commented on #402
Please let me know if you have luck with installing `jest`.

[2015-06-15 15:25] PhilVargas commented on #398
looking into it, i get this error when trying to log anything from those methods in runningInParallel mode
[code]
this makes me worry that we wont actually be able to print each individual test while running in parallel. thinking about it, it kind of makes sense, since what we want to do is print each test result sequentially as its run (i.e. it matters in which order the test specs complete), whi

[2015-06-15 16:44] roine commented on #112
:+1:

[2015-06-15 19:15] bgw opened #405 "Installing jest with old versions of npm fails due to lack of ^ (carrot) support"
[code]

This is an issue if we want to support node 0.8, as it ships with this version of npm. However, it can be worked around by running `npm install npm` and using `node_modules/.bin/npm`.

[2015-06-15 19:15] g-p-g commented on #317
At least with iojs-v2.3, no tests are executed when testFileExtensions is set to something like ["test.js"] (the tests do end with test.js).

[2015-06-15 19:15] DmitrySoshnikov commented on #398
Ah, this is very true. OK, we'll need to think how can we combine it with the sequential runs, for now seems it's a blocker.

[2015-06-16 07:12] blowsie commented on #402
@chris31389 do you have multiple versions is Visual Studio installed? This is what the `--msvs_version=` argument is for.

[2015-06-16 16:34] AsaAyers commented on #400
I don't see how it would be possible to detect ES6 classes reliably.

My initial thought was to see if `Object.keys(object).length === 0`. It would work if it's purely an ES6 class extending ES6 classes and not modified in any way, but the very first use case I ran into was on a project moving from CoffeeScript to ES6. I had extended a CoffeeScript class with an ES6 class, so that test wouldn't ha

[2015-06-16 20:13] DmitrySoshnikov commented on #400
Yeah, without some special tag it seems hard to determine reliably. Let's keep this issue opened to get some ideas, or probably to rewrite the code in more optimized way.

[2015-06-18 20:08] csaintc commented on #304
I'm still seeing this problem, on node v0.10.38

[2015-06-21 16:56] indigo0086 commented on #290
would also like to know, I keep my tests next to the actual js files they are testing usually.

[2015-06-23 01:06] bgw opened #411 "HasteModuleLoader only implements a small subset of the Module properties"
From https://github.com/joyent/node/blob/c146855f06f7c6ed41b53329a5d814e89b6eaa15/lib/module.js#L40-L52 :

[code]

But HasteModuleLoader [only seems to set `__filename` and `exports`](https://github.com/facebook/jest/blob/3afa11b04041644b61f882c849dbaaeba6b227c8/src/HasteModuleLoader/HasteModuleLoader.js#L892-L898):

[code]

[2015-06-24 08:51] jskulski opened #412 "`npm install` fails with ELIFECYCLE error"
I am trying to run the tests for examples but I npm install fails. Is anyone else seeing this?

[code]

This is repeatable between clones of git and exists on master and the 0.4.13 tag. Here is a link to the npm-debug.log: http://filebin.ca/26JxqXvzDmJa/npm-debug.log

npm 2.10.1
node 12.4

Thanks for reading.

[2015-06-24 08:53] jskulski commented on #412
Just tried with npm 2.11.3 and same result.

Regarding: 'jshint --config=.jshintrc --exclude=src/coverageTemplate.js src && node bin/jest.js'

jshint command finishes properly, the jest command is what errors.

[2015-06-24 09:04] jskulski commented on #412
Well did some more research and it's almost certainly #243

[2015-06-24 09:04] #412 closed

[2015-06-24 11:30] teologov opened #413 "Allow to exclude by file extension."
Hi guys, I am using Less in my React app.
The problem I've faced, is Jest runner is failing, because of *.less file, which is required inside the tested view.

May be we should start to think, how to solve such issues.
The very first idea I've got, is to add support of something like this:
[code]

[2015-06-24 15:00] browniefed commented on #413
I have previously stubbed those out in the preprocessor. Just check if the extension ends in `.less` and return an empty string.

[2015-06-24 17:37] thealjey commented on #344
@zpao
My **jestEnvironment.js** looks like this:
[code]
The polyfill is not required anywhere else in the application, and I still get the same error.
Even adding `jest.dontMock` as the first line does not help.
The polyfill works just fine outside of jest.
Can you suggest anything? Thank you!

[2015-06-24 19:39] DmitrySoshnikov commented on #243
As of https://github.com/facebook/jest/pull/374, Jest should work on latest io.js. It's currently in a separate branch, https://github.com/facebook/jest/tree/0.5.x, and can also be installed via npm `facebook/jest#0.5.x`. Later on we'll consider moving to io.js, and making this branch as master (and when Node 2.0 will fully be merged with io.js, it automatically work with node). If you use io.js,

[2015-06-24 19:42] zertosh commented on #243
@DmitrySoshnikov Thanks! Can you publish it to npm under a `beta`/`iojs`/whatever  tag?

[2015-06-24 21:28] geirsagberg commented on #340
+1

iojs 2.3.1
jest-cli 0.4.13

[2015-06-25 04:11] binarykitchen commented on #243
Many thanks, finally! They work like a charm on the latest iojs and I have quickly published a new gulp plugin that goes well: https://github.com/binarykitchen/gulp-jest-iojs

[2015-06-25 06:13] jonashagstedt opened #415 "Accessing process.env.NODE_ENV causes segmentation fault"
I've sen other issues around segmentation faults but not related to `process.env`, it's any var, not just NODE_ENV.

    Using Jest CLI v0.4.0
    Waiting on 1 test...[1]    1763 segmentation fault  jest

test.js:

    console.log(process.env.NODE_ENV);

Node version: tried with both 0.12.0 and 0.12.5
OS: OSX 10.10.3

[2015-06-25 07:05] teologov commented on #413
@browniefed Yes, this how I resolved it. But it looks more like a hack:

[code]

[2015-06-25 20:40] buddyp450 commented on #367
My original problem stemmed from not having react in node_modules since I use jspm. System JS provides my mapping to the correct locations but I don't know how to properly use these things in conjunction when testing server-side.

Any thoughts on this are appreciated.

[2015-06-26 00:35] ProggerPete commented on #367
If you want to run node stuff you'll probably need to npm install react as well as jspm install. Node doesn't know anything about jspm installed modules. Possibly you can tell one how to find things in the other, but I haven't tried.

[2015-06-26 02:26] buddyp450 commented on #367
@ProggerPete the problem with this is that all of my modules use import statements that go looking for things using the SystemJS loader. For instance, in my BuildingTable.jsx my import looks like:

[code]

So that when the imports resolve for my test runner it's trying to look inside of node_modules for things that don't exist. Granted I could install react under node_modules using ```npm install

[2015-06-26 02:28] buddyp450 commented on #367
Having re-read my last comment I see this as more of an issue with my project setup and SystemJS than Jest now.

[2015-06-26 04:21] chcokr opened #416 "Can't understand failure?"
I'm not quite understanding why a function clearly throwing an exception is not being counted by Jest as throwing. The code is at https://gist.github.com/chcokr/aefc5405f27e20b08ebc. Any help is appreciated.

[2015-06-26 14:13] chcokr commented on #416
Disregard, see babel-jest#16

[2015-06-26 14:13] #416 closed

[2015-06-26 15:28] blainekasten commented on #405
Ran into this same issue. Sounds like it's probably more of an issue that's not jest's fault though. Using old versions of npm are bound to have unexpected consequences.

[2015-06-26 20:05] message opened #418 "SyntaxError: In strict mode code, functions can only be declared at top level or immediately within another function."
[TestWorker line 23](https://github.com/facebook/jest/blob/master/src/TestWorker.js#L23)

[code]

[2015-06-26 20:13] blainekasten commented on #381
+1

[2015-06-26 20:31] atecarlos commented on #223
Worked for me too! Thanks for sharing

[2015-06-26 20:57] DmitrySoshnikov commented on #418
Yeah, we should replace it with a function expression. Not sure why it was a declaration with an explicit suppression from JSHint rule `/* jshint -W082:true */`.

[2015-06-26 21:06] #418 closed

[2015-06-27 10:53] 9Dave9 commented on #223
Where exactly do I place this __mocks__folder?  I'm having ad hard time figuring this out.

[2015-06-27 15:30] browniefed commented on #223
@9Dave9 copy that mock code, put it in `superagent.js` in a `__mocks__` in the root of where you are telling jest to look for `__tests__` folders.

[2015-06-27 18:26] 9Dave9 commented on #223
@browniefed - Thank you.

[2015-06-30 11:05] aszwemin commented on #300
Tests don't have to be in __tests__ folder for Jest, there is a config
setting for that
https://facebook.github.io/jest/docs/api.html#config-testdirectoryname-string,
but coverage doesn't seem to take this config under consideration

On Wed, 20 May 2015 at 12:50 ScreenDriver <notifications@github.com> wrote:

[2015-06-30 16:39] BeeDi commented on #114
Another one for Sourcemaps support :+1:

[2015-06-30 22:57] Ericat commented on #230
I'd appreciate some clarity on this too. I am using jest.setMock('...', require.requireActual('...')) and dontMock for the component to test.

The only way I can get the test to even pass is to use dontMock inside the describe block, which gets ignored - when I log my component, I can see that is a mock :(

[2015-07-01 08:36] padsbanger commented on #286
+1

[2015-07-01 09:17] mking opened #420 "preprocessCachingDisabled key?"
package.json
[code]

I'm getting `Unknown config option: preprocessCachingDisabled`.

I think it's important to be able to turn this off while developing preprocessor scripts (I was getting old outputs, which was confusing). Or include (a hash of) the preprocessor script content in the cache key.

[2015-07-01 15:32] browniefed commented on #420
Submitted a fix for this #421

[2015-07-02 07:43] tchcxp commented on #344
Hi @thealjey I am using babel as well, have exactly the same issue as you got.

@zpao any idea regarding this? Thanks!

[code]

[2015-07-02 15:23] csaintc commented on #415
Jest only supports node .10 right now. Issue #243 has the deets.

I believe they're doing a major push right now in order to make Jest Node 12 / IOJS compatible.

[2015-07-02 15:24] jonashagstedt commented on #415
Rightly so, I should not have opened this issue as Jest only supports 0.10 for now.
Feel free to close this issue as it's not quite valid.

[2015-07-02 15:52] coryhouse commented on #185
I get the "noPooled" message when trying to run the react and react-es6 examples.

$ npm version
{ http_parser: '1.0',
  node: '0.10.39',
  v8: '3.14.5.9',
  ares: '1.9.0-DEV',
  uv: '0.10.36',
  zlib: '1.2.8',
  modules: '11',
  openssl: '1.0.1o',
  npm: '1.4.28',
  'jest-cli': '0.4.14' }

[2015-07-02 16:14] browniefed commented on #420
@mking this is now fixed in master and should be resolved in the next version bump

[2015-07-03 02:01] apolkingg8 commented on #344
Same issue with that, @matthewgertner can you share your solution?

[2015-07-03 14:18] matthewgertner commented on #344
I think I just added "babel" to my `unmockedModulePathPatterns` in `package.json`.

[2015-07-03 22:45] DmitrySoshnikov commented on #420
This has been published as `v0.4.15`.

[2015-07-03 22:45] #420 closed

[2015-07-03 23:55] ondrejhanslik commented on #401
Hi, I was just doing a very similar setup. It should work with a `testDirectoryName` set to `<rootDir>`.

[2015-07-04 00:17] ondrejhanslik commented on #200
I have to agree with the OP. I would actually go much further. My opinion is that jest takes a very complicated, unreliable, slow and uncofigurable approach to get the list of source files.

- Complicated

  Most testing frameworks take a file pattern (e.g. `['src/**/*.js', !'src/**/*.spec.js']`). That's easier to implement that parsing test files and looking for `require`. You can always exclude

[2015-07-04 11:08] thealjey commented on #344
I've eventually had to give up Jest altogether in favor of Jasmine+Istanbul
because Jest, unfortunately does not support the latest version of NodeJS, let alone io.js
And honestly, I'm glad I made this switch, I got a much more up to date, flexible and configurable testing setup

[2015-07-05 04:24] borisyankov commented on #402
It's a shame Jest don't run at all on Windows.

[2015-07-05 07:43] chris31389 commented on #402
@blowsie I've only got one version of visual studio installed.  I don't think the `--msvs_version=` argument is my solution

@borisyankov totally agree.  It sounded pretty awesome.

[2015-07-06 11:30] bennyn commented on #402
It looks like jest fails on Windows because of [contextify](https://github.com/brianmcd/contextify)?

There is a [Windows Installation Guide](https://github.com/brianmcd/contextify/wiki/Windows-Installation-Guide) for contextify which might be helpful?

[2015-07-06 14:14] borisyankov commented on #402
Followed several guides, each with conflicting information.
After 2 hours, I got fed up.

[2015-07-08 01:52] tchcxp commented on #243
Any update so far? It's been almost 5 months since we found this issue, and unfortunately, we have to stay with node v0.10 rather than the latest version purely because of the jest.

[2015-07-08 01:56] binarykitchen commented on #243
@tchcxp try using this https://github.com/binarykitchen/gulp-jest-iojs

[2015-07-08 02:00] tchcxp commented on #243
@binarykitchen thanks.

Just wonder if I use node + grunt, anything else we can use?

[2015-07-08 02:07] binarykitchen commented on #243
well, i am afraid, this one package i did is for gulp only

[2015-07-08 02:08] tchcxp commented on #243
@binarykitchen all good. Thanks anyway. :+1:

[2015-07-08 02:09] SupremeTechnopriest commented on #243
@tchcxp Just write your own grunt module.  It's not that hard. Gulp is better anyway its worth switching over IMHO.

[2015-07-08 02:10] tchcxp commented on #243
@SupremeTechnopriest I'm doing it now. Thanks.

[2015-07-08 05:49] gjacobrobertson commented on #415
For whatever its worth, this segfault isn't specific to Jest, but to contextify, which is used by the version of jsdom that jest uses. https://github.com/brianmcd/contextify/issues/168 has some more details on the error, but from the looks of it, it might even be a problem with node.

[2015-07-08 12:20] hollandben opened #425 "Jest v0.5.x moving to io.js"
Hi - I updated my Jest version today and received this message about version `0.5.x` of Jest:

    == NOTICE: ==
    On August 1st, 2015, Jest v0.5.x will work only on io.js
    Legacy v0.4.x for Node 0.10.x will still be available on
    on npm and from the "0.4.x" branch on GitHub.

Could you provide some context as to why this is the case? Is this to say that Jest will only be tested with `io.j

[2015-07-08 13:28] Stephn-R commented on #425
Hey @hollandben, I would recommend reading into it more about Node vs IO.js. There is a merger in place for the two libraries. IO.js is technically a `fork` of Node.js but will soon be merged back into Node.js at some point.

[2015-07-08 14:47] hollandben commented on #425
Ok. I was aware of the merger between Node an IO.js but I've clearly mis-read the message. Just to confirm, until that merger happens, `Jest v0.5.x will work only on io.js`

[2015-07-08 16:35] blainekasten commented on #425
The message should maybe say something about the eventual merger. Or have a link to an explanation of things as this is likely to freak people who aren't aware of the merger and have hard dependencies on node.

[2015-07-08 16:43] #425 closed

[2015-07-08 16:43] hollandben commented on #425
Thanks for the clarification

[2015-07-08 19:03] DmitrySoshnikov commented on #425
Sorry for not to be clear in the message, we should probably rephrase it (feel free to send a PR with the rephrase, although, make sure it's not too big message). We decided to move to `io.js` in the new versions (since https://github.com/facebook/jest/pull/374), since it's faster (doesn't have dependency on the `contextify` library we used previously), has more new features, and also `jsdom` depe

[2015-07-08 21:12] mleavitt opened #426 "Publish 0.5.x branch to iojs or beta tag"
In the now infamous issue #243

On June 24, 2015 @DmitrySoshnikov wrote:

On June 24, 2015 @zertosh wrote:

There was no response to this request, so I'm opening it as a new issue to see if we can get a response outside of the noise of that other thread. Thanks!

[2015-07-08 22:08] hollandben commented on #425
Thanks for the update @DmitrySoshnikov. I'll have to give it a go with io.js and see what the speed difference is like

[2015-07-08 23:56] DmitrySoshnikov commented on #426
@mleavitt, yeah, sorry, I didn't have chance. The plan is now to make `0.5.x` as master, and maintain legacy `0.4.x` separately. This should happen on August 1st, 2015 (we started to issue deprecation notice). From this perspective, not sure we need to publish additional version on npm yet (and legacy version can be installed from the Github's branch). If this is still very on demand, we can proba

[2015-07-09 00:15] zertosh commented on #426
When I made the request for publishing 0.5.x under a beta tag, the August 1st notice wasn't up (or at least I didn't see it). Since that's only a few weeks away and a tagged release would def cause confusion, I'm totally ok with waiting. So no worries from my side @DmitrySoshnikov.

[2015-07-09 03:35] mleavitt commented on #426
@DmitrySoshnikov I overlooked the deprecation notice. Thanks for the quick response.

[2015-07-09 03:35] #426 closed

[2015-07-09 13:54] dmitrigrabov opened #427 "React example is not working"
When I run the 'react' example code. The only out put I get is

xxx:react xyx$ npm test

Using Jest CLI v0.4.15
Waiting on 1 test...xxx:react xyx$

However all works as expect with non React tests such as 'getting_started' which produces the output below as expected.
xxx:react xyx$ npm test

Using Jest CLI v0.4.15
 PASS  __tests__/sum-test.js (0.015s)
1 test passed (1 total)
Run time: 0.279s

Anyo

[2015-07-09 14:36] blainekasten commented on #425
Done @DmitrySoshnikov . #428

[2015-07-09 15:57] danillouz commented on #427
Having the same issue.

[code]

However this only happend when testing react components, when testing a simple example (like on the homepage using the sum method) it does work:

[code]

Mac OSX node v0.12

Also, when running the test of the jest package in general I'm getting a failing test:
[code]

[2015-07-10 12:19] timReynolds commented on #427
I'm seeing the same issue on OS X with;
node v0.12.4
jest v0.4.15
react@0.13.3

Again simple tests are fine but the meant I require react the tests exit without an error.

[2015-07-10 14:09] ppalladino commented on #402
Same here. Contextify will not build on Windows. I have followed their Windows Installation Guide as well. Bummer.

[2015-07-10 15:18] mattotodd commented on #340
If you would like to use jest with io.js, you will need to use the 0.5.x branch of the jest-cli

`npm install facebook/jest#0.5.x`

found via https://github.com/facebook/jest/issues/243#issuecomment-114989511
and fixed the issue for me

[2015-07-10 15:44] lfilho commented on #340
thanks, @mattotodd ! I've given up on Jest for the project I'm working on, but I'll keep that in mind for next time I try Jest.

Thanks for taking the time to post this here!

[2015-07-10 23:43] jimfb opened #429 "Expect holds reference to value, generates error string at the end of test (after mutation)"
[code]

`expect` should print the expected value as `[1]` but prints as `[]`.

[2015-07-11 01:52] binarykitchen commented on #340
https://github.com/binarykitchen/gulp-jest-iojs might be useful ...

[2015-07-11 10:06] appsciences opened #430 "React tutorial should be 'Babelified'"
According to [this React blog post](https://facebook.github.io/react/blog/2015/06/12/deprecating-jstransform-and-react-tools.html) React Tools are being depreciated in favor of Babel. [React tutorial](https://facebook.github.io/jest/docs/tutorial-react.html#content) currently uses React Tools and needs to be updated.

[2015-07-11 20:57] cadyyan opened #431 "Async Testing issue with Jest v0.4.11"
After updating Jest to v0.4.11 and up some of my tests have started failing. I tracked the change down to this [commit](https://github.com/facebook/jest/commit/2a1fb2413598e8b573a7e40c28fe13833dfa84d2). I wrote a simplified version of what I'm trying to do and what my tests look like that are failing. The example can be found [here](https://gist.github.com/cadyyan/2d6cedc347e4cac8fa16). Is there s

[2015-07-12 02:44] psimyn commented on #427
Some combination of requiring react/addons and current jest version being funny with node >0.10.

Option a:
`nvm use 0.10` then `npm rebuild`

Option b:
assuming you can use iojs, `npm install facebook/jest#0.5.x` should let it run

There is an option c to get it working with 0.12, but can't recall what I did.

Related issues https://github.com/facebook/jest/issues/347 (closed) and https://github.

[2015-07-12 18:55] Stephn-R commented on #430
That would only affect the preprocessor sequence and not the actual code itself. Jest code should still be written in ES5, if i am correct

[2015-07-13 02:01] sterpe opened #432 "Feature request: Mechanism to debug preprocessor.js"
There is apparently no way to console.log/info/warn/error anything out of preprocessor.js's exports.process.  `debugger` statements also do not seem to work here, `runInBand` doesn't seem to affect any of the previous behaviors either.  `fs.writeFileSync` doesn't seem to work from within this function either.

Proposed feature:  Could there be a way (cmd flag) to at least have jest log the argumen

[2015-07-13 20:22] zpao commented on #429
This might be a problem in Jasmine itself. Perhaps when/if we upgrade to a newer version of that this will just work.

[2015-07-14 08:21] s-pmpodolski commented on #243
What planes are for the future of Jest? I'm trying to decide between switching to io.js and use Jest, or stay with node and use something different. I'm really fond of idea to use io.js with Jest, but would like to know if it will work fine in the future too

[2015-07-14 08:41] sbaechler commented on #243
@SupremeTechnopriest io.js joined node and future versions of node.js are going to be based on io.js. So switching should not be a problem. https://medium.com/node-js-javascript/io-js-week-of-may-15th-9ada45bd8a28

[2015-07-14 08:48] binarykitchen commented on #243
@s-pmpodolski using https://www.npmjs.com/package/gulp-jest-iojs for now is safe until FB has officially released an iojs compatible Jest package

[2015-07-14 08:50] s-pmpodolski commented on #243
@binarykitchen sure, thank you :D I'm just curious about FB plans for Jest library in the future

[2015-07-14 08:52] binarykitchen commented on #243
i am sure they have plans - there are lots of commits in the 0.5x branch

[2015-07-14 16:08] roman01la opened #433 "Empty coverage"
I'm struggling to get code coverage with Jest.

Here's a sample component I'm running tests on:
[code]

And here's a test file:
[code]

And also Jest settings from `package.json`:
[code]

All paths a valid. I've been debugging Jest and found out that [`moduleLoader.getDependenciesFromPath(testFilePath)`](https://github.com/facebook/jest/blob/c229ed1a4ff198559f3edc6ee4baf0894312fd7a/src/TestRunner.

[2015-07-14 17:00] browniefed commented on #433
I found that if you don't add in the `moduleFileExtensions` param in package.json it will not collect coverage on anything but js files. Or maybe I'm misunderstanding your question.
[code]

[2015-07-14 17:16] roman01la commented on #433
@browniefed Didn't help :(

[2015-07-16 20:51] cadyyan commented on #431
Ended up doing a lot of mocking.

[2015-07-16 20:51] #431 closed

[2015-07-16 23:05] sbugert opened #434 "mock.calls[][] holds reference instead of actual value when function called twice with object"
Consider the following test:
[code]

With some arbitrary function being mocked in the test:
[code]

And a function which will be tested:
[code]
The tested function calls the mocked function with an object, mutates the object and calls the mocked function a second time.
`mocked.func.mock.calls[0][0]` and `mocked.func.mock.calls[1][0]` will now hold the same reference to `obj` and the above test fai

[2015-07-17 04:22] browniefed commented on #434
This is because you are only doing the require once.
Move your requires into a `beforeEach`

[2015-07-17 07:45] sbugert commented on #434
That does not solve the problem because I want to test if the function has been called with an object and then with the same object mutated *in the same test*. So the beforeEach will run only once.

[code]

[2015-07-17 15:14] browniefed commented on #434
@sbugert apologies misunderstood, I believe you just stumbled upon issue #429 or something similar.

[2015-07-17 17:42] mattotodd opened #435 "Only get coverage for files that have been imported in tests"
When using [collectCoverage](https://facebook.github.io/jest/docs/api.html#config-collectcoverage-boolean), I only get coverage for files that are imported and tested (and not mocked). And it works fine for those files, but if I then add a new file to my project, and do not write any tests for it,  it does not show up as not covered. The coverage results make it look like you have a lot higher cov

[2015-07-17 19:12] browniefed commented on #435
I never found a way, ended up writing a script that runs through and does a require of every file in our app directory.

[2015-07-17 19:25] mfrye-intuit commented on #334
I'm using the 'usable' aspect, which made this even tricker. I'm still trying to figure out a better option, but here's how I accomplished it if anyone is interested:

The component
[code]

The preprocessor from [React Starter Kit](https://github.com/kriasoft/react-starter-kit/blob/master/preprocessor.js)
[code]

The jest code
[code]

[2015-07-21 21:21] gwing33 commented on #369
Just want to note that switching from gulp-jest to your forked gulp-jest-iojs version @binarykitchen solved this problem for me. Thank you.

[2015-07-22 07:35] DmitrySoshnikov commented on #385
Fixed by #438.

[2015-07-22 07:35] #385 closed

[2015-07-22 23:49] bedeoverend commented on #375
+1 same problem here

[2015-07-22 23:51] bedeoverend commented on #335
+1 I have the same problem, can't seem to get manual mocks to work, docs really aren't great at explaining what's going on here.

[2015-07-24 03:02] hackNightly commented on #375
+ 1

[2015-07-24 13:41] ScreenDriver commented on #200
+1

[2015-07-24 13:45] ScreenDriver commented on #300
Ok. But my tests are already in the `__tests__` directory :wink: Unfortunately I don't get coverage working with my CoffeeScript files.

[2015-07-24 14:22] NicholasGW commented on #402
+1. Even though I have heard of people getting it working, it's clearly much harder than most packages...is there anything we can do?

[2015-07-24 14:28] NicholasGW commented on #402
For windows 7 at least, downloading these binaries let me get jest-cli installed. Tests are throwing errors about tests I didn't write, but it's a step perhaps.

https://github.com/mihaifm/jsdom_binaries

[2015-07-24 18:04] aszwemin commented on #300
can you paste in your config? maybe there's something missing

On Fri, 24 Jul 2015 at 14:45 ScreenDriver <notifications@github.com> wrote:

[2015-07-24 20:44] mikepc commented on #139
The important issue here is the ability to use the browser to debug the unit test in the browser. It's very useful to debug the code you're testing, rather than a run-and-see-if-it-works setup. Really helps in a TDD environment

[2015-07-25 05:14] DmitrySoshnikov opened #439 "jest 0.5.x: eval strict function and new expression"
With `vm.runInContext` and jsdom 5.4.3, we started to get `ReferenceError` issues:

[code]

Thus it relates only to `"use strict"` inside the function, without it, `_bar` is available in the `new foo()` call.

The `vm.runInContext` seems works fine in isolation in this case. Can be jsdom related?

CC @ide, @domenic

[2015-07-25 05:37] DmitrySoshnikov commented on #439
OK, it's nevertheless issue of `vm.runInContext`. If a code is wrapped into a function, then `eval` strict function inside that function, don't capture the bindings.

This works (file `test.js`):

[code]

Node session:

[code]

This doesn't:

[code]

Node session:

[code]

Unless I'm missing something obvious from strict mode, it's probably a bug in `vm` module, and is not related to Jest or jsdom

[2015-07-25 05:42] ide commented on #439
The exact same script source is passed to `vm.runInContext` and jsdom's evaluator: https://github.com/facebook/jest/blob/0.5.x/src/JSDomEnvironment.js#L110 and https://github.com/facebook/jest/blob/0.5.x/src/JSDomEnvironment.js#L132. And looking how jsdom evaluate scripts, it also uses `vm.runInContext`.

I repro'd your latest results where the same error occurs with both `vm.runInContext` and jsd

[2015-07-25 05:50] DmitrySoshnikov commented on #439
Need to notice, this is test form io.js `v2.3.1`. With Node `v.0.12` the `vm.runInContext` has even different behavior: the `bar` is not defined there.

[2015-07-25 06:21] DmitrySoshnikov commented on #439
OK, I filed this issue on `io.js` yet: https://github.com/nodejs/io.js/issues/2245, hope we'll get some clarifications. Though, it's currently a blocker for us at Facebook to switch to Jest 0.5 with io.js (CC @yungsters), and probably will be a blocker to merge 0.5 to master on August 1st as we planned.

[2015-07-25 16:06] VirtueMe commented on #430
It seems that [babel-jest](https://github.com/babel/babel-jest) could be a solution to the problem.

[2015-07-27 05:43] Retsam opened #440 "Jest can't require express"
I'm having issue requiring the express library from a Jest test case.  I'd expect the following test to pass:

    jest.dontMock("express");

    describe("jest", function () {
        it("can require express", function () {
            expect(function () {
                require("express");
            }).not.toThrow();
        });
    });

yet it fails with an `Object object has no method 'hasO

[2015-07-27 07:13] ScreenDriver commented on #300
[code]

[2015-07-27 22:08] jaredly commented on #148
This was fixed by the `--verbose` cli option https://github.com/facebook/jest/pull/370

[2015-07-27 22:09] jaredly commented on #4
This was fixed by the `--verbose` option https://github.com/facebook/jest/pull/370

[2015-07-28 02:35] Stephn-R commented on #148
And by the new verbose config option #424

[2015-07-28 07:43] dar5hak commented on #440
I faced the same error, expect that I was trying to `require` my own module. Full output:

[code]

[2015-07-28 12:11] juliankrispel commented on #207
It just does not work, sooo frustrating. This should be easy.

[2015-07-28 12:48] juliankrispel commented on #42
It's kind of an edge-case but I'm working to fix a [problem](https://github.com/reflux/refluxjs/issues/43) which comes from updating input components asynchronously. First thing I wanted to do is write some async tests, but there is no facility in react for this. Any chance that this will still be considered, it can be useful for edge cases.

[2015-07-28 12:56] clouddra commented on #207
@juliankrispel Like what @spicyj mention, this is how i got it to work. Hope it helps.

Code:
[code]

Test:
[code]

[2015-07-28 13:10] Stephn-R opened #441 "Switch Optimist with Minimalist -> Deprecation notice"
I was running through `bin/jest.js` and noticed that the [Optimist](https://www.npmjs.com/package/optimist) plugin issued a deprecation notice and recommends changing to use minimist instead.

I would be willing to make this conversion going ahead :+1:

[2015-07-28 17:40] chapinkapa commented on #243
All our software is written on v0.12.

Do we just have to wait until the merge in order to run tests? Seems kind of bizarre that jest would not support v0.12, especially for almost half a year...

[2015-07-28 19:41] #440 closed

[2015-07-28 20:28] DmitrySoshnikov commented on #243
@chapinkapa, would you consider switching to `io.js`, or do you have some blockers in other software that don't run on `io.js`? We had dependencies issus with 0.12, especially with jsdom which doesn't support 0.12 either.

[2015-07-28 20:39] chapinkapa commented on #243
Ah, gotcha. Unfortunately I am at a fairly large company that wants to only use the latest stable branch of Node (for supposed stability). We are using Node 0.12 for several of our servers.

[2015-07-29 04:14] dvine-multimedia opened #444 "Expose module level variables"
Is there a way to access module level variables as for example the "rewire" module provides for the node module loader?

[2015-07-29 08:55] juliankrispel commented on #207
@clouddra that might be the case for es6 classes ...

[2015-07-29 11:18] juliankrispel commented on #207
so basically if you're still using `createClass` because you haven't had a chance to refactor your entire codebase to es6 yet, this is what I found:

- component methods are bound to `Component.prototype.__reactAutoBindMap`, I had to read [the source](https://github.com/facebook/react/blob/master/src/isomorphic/classic/class/ReactClass.js#L818) for this :-1:
- using that I can finally spy on my co

[2015-07-29 23:20] CraigCav commented on #377
An alternative workaround (suggested by @rauschma) can be found [here](https://github.com/rauschma/babel-on-node/blob/master/spec/point.spec.js#L1).

[2015-07-30 04:13] aj0strow opened #445 "Module `node-fetch` blows up on node v0.12.4"
I realise it `wanted: {"node":"0.8.x || 0.10.x"}` and that  `node v0.12.4` may not be supported.

The try catch block in **[bitinn/node-fetch](https://github.com/bitinn/node-fetch)** blows up. It may indicate a larger issue cause nothing in `node-fetch` looks like it should be a problem across node versions (at least to me) so thought i'd let you know.

It works for `jest-cli` with `node v0.10.36`

[2015-07-30 06:12] aj0strow commented on #219
Yeah when using symlink paths, it considers every path the same:

[code]

[2015-07-30 14:11] rbardini commented on #433
I'm also getting empty coverage results, but I'm not sure if it is a `jest`, `babel-jest` or even `istanbul` issue. I'm using Jest 0.5.x with ES6 imports and auto-mock off, and the following configuration:

[code]

This is the Jest output:

[code]

And `coverage/clover.xml` contents:

[code]

[2015-07-30 21:51] Aluxian commented on #433
I get exactly the same output as @rbardini. I don't use babel-jest, I transpile the files before running jest from the 0.5 branch on them.

[code]

And the output:

[code]

[2015-07-30 22:06] Aluxian commented on #433
I fixed this by including every file in collectCoverageOnlyFrom:

[code]

[2015-07-31 02:08] Sanjo commented on #353
I have the same problem with using Jest with https://www.npmjs.com/package/fibers.

[2015-07-31 11:06] ScreenDriver commented on #304
Same here

[2015-07-31 11:57] grabbou opened #446 "Allow scoped names in package.json"
Hey,

Looks like when name contains `@`, e.g. `@grabbou/plugin`, it fails with the following:
[code]
Simply removing the `@` and renaming back to normal non-scoped version does the trick, but obviously is a no-go.

[2015-07-31 12:49] rbardini commented on #433
Thanks @Aluxian, your solution also worked for me, although I find it a little impractical to list all the desired files in `package.json` as time goes on and the number of tested components increase. I don't know if that's feasible, but perhaps we could have a `jest.collectCoverage(moduleName)` method?

Besides that, I've noticed that my test fails if I list the file in `collectCoverageOnlyFrom`

[2015-07-31 16:28] Aluxian commented on #433
Same for me ^ I enabled coverage by default now.

And yeah, I know it's impractical, but hey – at least it works. Now that we know what's wrong is much easier to find a viable solution.

[2015-08-02 17:27] MartinJohns opened #447 "Build fails with Visual Studio 2015"
Hello.
I noticed that the installation of jest-cli fails on Windows using Visual Studio 2015.

Here is the output trying to install with specifying VS2015:

    $ npm install jest-cli --msvs_version=2015

    c:\Git\Project\node_modules\jest-cli\node_modules\jsdom\node_modules\contextify>node "c:\Program Files (x86)\NodeJS\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp

[2015-08-02 17:45] browniefed commented on #447
You will need to install Visual Studios or follow the appropriate installation guides for how to get node-gyp running here [https://github.com/TooTallNate/node-gyp/](https://github.com/TooTallNate/node-gyp/).

[2015-08-02 18:03] MartinJohns commented on #447
Hello @browniefed,

The installation guide is not updated to reflect the newest versions of the software (Windows 10 and Visual Studio 2015). There is no reason something like this should be tied to a specific Visual Studio version.

According to TooTallNate/node-gyp/issues/632 this issue is fixed with node-gyp v2.0.0. So apparently jest-cli would *just* need to update the used node-gyp version.

[2015-08-03 13:40] VirtueMe commented on #227
I had a similar problem on Ubuntu, found out that I installed jest-cli with sudo and as of that the ```.haste_cache``` is write protected unless your run your test with sudo.

My solution, ```sudo chown -R $(whoami) . && sudo chgrp -R $(whoami) .``` in the ```/usr/lib/node_modules/jest-cli/``` folder. Afterwards I can run the npm test without using sudo.

It would be nice if jest-cli used a local

[2015-08-04 10:55] kiki-le-singe commented on #139
if there is no possibility to test in browsers, how can we debug?

[2015-08-04 12:51] jonira commented on #17
+1

[2015-08-04 13:09] jonira opened #448 "Painfull experience"
For a moment I wanted to believe in "painless javascript unit testing". That moment did not last very long. ````npm install jest-cli --save-dev```` failed and cause [1] seems to be that on Windows Visual Studio 2010/13 is required. Just how this can be painless js unit testing leaves me wondering.

[1]  https://github.com/facebook/jest/issues/325, https://github.com/TooTallNate/node-gyp

[2015-08-04 14:49] bhanubhakta commented on #181
Same error with Node v2.1.0

[2015-08-04 16:55] dgellow commented on #181
@bhanubhakta Do you mean `npm v2.1.0` ? The latest version of `node` is numbered `v0.12.7`

[2015-08-04 17:06] bhanubhakta commented on #181
Yes @dgellow

[2015-08-04 18:02] facebook-github-bot-4 commented on #5
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #7
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #15
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #17
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #26
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #29
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #37
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #43
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #46
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #48
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #51
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #59
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #61
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #62
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #66
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #70
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #72
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #74
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #75
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #77
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #80
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #81
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #83
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #86
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #90
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #93
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #95
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #98
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #100
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #101
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #104
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #106
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #107
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-4 commented on #109
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:32] zpao commented on #181
Node 2.1 is actually iojs. The published jest probably doesn't work there. The 0.5 branch will but isn't published to npm yet (you can use it explicitly with `"jest-cli": "facebook/jest/#0.5.x"`).

[2015-08-04 22:55] #95 closed

[2015-08-05 10:45] Sanjo commented on #353
Turns out that Jest has the option moduleFileExtensions where you can add the "node" extension. Just add this to your package.json.

[code]

I think that should be the default.

[2015-08-05 15:04] bhanubhakta commented on #340
@mattotodd npm WARN package.json @ No repository field while using npm install facebook/jest#0.5.x

[2015-08-05 18:01] facebook-github-bot-3 commented on #112
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #114
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #119
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #124
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #127
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #129
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #131
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #134
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #136
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #139
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #142
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #143
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #144
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #147
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #149
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #150
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #151
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #152
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #155
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #161
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #174
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #175
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #176
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #177
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #182
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #185
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #186
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #195
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #196
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #198
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #199
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #200
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #201
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:01] facebook-github-bot-3 commented on #202
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 21:20] zpao commented on #150
jest 0.5 will use jsdom 5.x so we can close this out.

[2015-08-05 21:20] #150 closed

[2015-08-05 21:21] zpao commented on #267
0.5 updates to jsdom 5.x so closing out.

[2015-08-05 21:21] #267 closed

[2015-08-06 08:58] Nutelac opened #449 "Date.now() does not work properly"
Try this code. It will prints same datetime every time. Version `0.4.17`.

[code]

It this expected behaviour?

[2015-08-06 10:20] #448 closed

[2015-08-06 12:56] gasparch commented on #134
Jest was too slow, so I switched to mocha.

[2015-08-06 17:53] jfahrenkrug commented on #432
+1!

[2015-08-06 19:17] foghina opened #450 "`this' is null in required modules"
It should, instead, refer to the global scope.

## Repro

1. create a new npm module (e.g. `npm init`)
2. `npm install --save sinon`
3. Edit `__tests__/some-test.js` and add:

        'use strict';
        jest.autoMockOff();
        var sinon = require('sinon');
4. Run `npm test`, it will fail with:

        node_modules/sinon/lib/sinon/util/fake_xdomain_request.js: Cannot set property 'sinon' of

[2015-08-07 17:39] jfahrenkrug commented on #432
There's one thing you can do: You can add `"setupTestFrameworkScriptFile": "./tools/testsetup.js"` to the "jest" section of your package.json. Then put the following line into `testsetup.js`:
`jasmine.VERBOSE = true;`

Now you can use console.log in your preprocessor.js

[2015-08-07 18:57] jfahrenkrug commented on #427
@psimyn  Thank you very very much! Going back to node 0.10.35 solved this for me (for now).

[2015-08-08 00:51] sterpe commented on #432
Thanks.  I will try it out.

[2015-08-09 12:24] vdzundza opened #453 "How to solve a problem with running multiple test files?"
I can't run multiple tests files  with jest. I have an error https://gist.github.com/vdzundza/2d031a75dfbe93932982

node version: v0.10.37
npm version: 1.4.28

my package json https://gist.github.com/vdzundza/90da9527702b9d316ae5

Folder structure
![selection_001](https://cloud.githubusercontent.com/assets/845156/9154815/8bfd5bb4-3eaa-11e5-85ab-c748d719aa18.png)

Can anyone help me with this issue

[2015-08-09 22:14] JoelOtter commented on #223
Can verify that @pherris' mock works on superagent 1.3.0. I'm using CoffeeScript so had to rewrite it in that - here's a Gist in case it's helpful for anyone. Thanks for this, really helped me out. :+1:

https://gist.github.com/JoelOtter/b97d207acbbca414baba

[2015-08-10 08:39] maxfell commented on #17
+1

[2015-08-10 14:46] kreigne commented on #340
+1

[2015-08-11 03:28] appleboy commented on #334
Babel + Less + Webpack + Jest

I write the new preprocessor.

[code]

It is working for me.

[2015-08-11 04:50] domenic opened #458 "More things that can be removed now that jsdom supports them"
From https://github.com/facebook/jest/blob/master/src/JSDomEnvironment.js;

- [The array buffer / typed array copies](https://github.com/facebook/jest/blob/bd9ec7f7750942a304282a7cdbc1f9f78b791312/src/JSDomEnvironment.js#L42-L53)
- [The window.Image shim](https://github.com/facebook/jest/blob/bd9ec7f7750942a304282a7cdbc1f9f78b791312/src/JSDomEnvironment.js#L75-L82)
- [Maybe the comment-out of wind

[2015-08-11 04:52] domenic opened #459 "jsdom version restriction is too loose, given the eval hacks"
The jsdom version restriction is at `"^6.1.0"`. However, given that you are [relying on private jsdom APIs](https://github.com/facebook/jest/blob/bd9ec7f7750942a304282a7cdbc1f9f78b791312/src/JSDomEnvironment.js#L110) which could change in any patch release, this is not appropriate. Instead you should pin to a specific patch release (e.g. `"6.1.0"`) and only do upgrades after verifying that the pri

[2015-08-11 04:52] cpojer commented on #458
Thanks for the list @domenic. On it.

[2015-08-11 04:54] #459 closed

[2015-08-11 04:55] cpojer commented on #459
Good point. Maybe one day we can stop using internal APIs :)

[2015-08-11 04:55] cpojer commented on #458
fingers crossed for the segfault issue.

[2015-08-11 05:28] cpojer commented on #405
yap, we are not supporting old versions of node or npm any longer. Thanks for the report!

[2015-08-11 05:28] #405 closed

[2015-08-11 05:30] cpojer commented on #338
Check out this pull request: https://github.com/facebook/jest/pull/417

[2015-08-11 05:30] #338 closed

[2015-08-11 05:31] cpojer commented on #311
We now only support iojs > 2.

[2015-08-11 05:31] #311 closed

[2015-08-11 05:32] cpojer commented on #278
Please use Object.freeze in your test.

[code]

[2015-08-11 05:32] #278 closed

[2015-08-11 05:34] #149 closed

[2015-08-11 05:35] #148 closed

[2015-08-11 05:36] cpojer commented on #196
Yes we will do this from now on. Thank you for bringing it to our attention :)

[2015-08-11 05:36] #196 closed

[2015-08-11 05:39] #244 closed

[2015-08-11 05:40] cpojer commented on #324
We aren't using contextify any longer with iojs as it is part of node/io

[2015-08-11 05:40] #324 closed

[2015-08-11 06:47] luodaxu opened #460 "jest has no result"
I am using jest for a very simple test for ensure jest can work as below:

describe('test', function(){
	var React;
	var TestUtils;
	beforeEach(function (){
		React = require('react/addons');
    	TestUtils = React.addons.TestUtils;
	});
	it('test1, function(){
		expect(true).toBeTruthy();
		expect(false).toBeNull();
	});
});

but console can't show any message even though the test is not passed a

[2015-08-11 21:31] bsunter commented on #460
I'm having the exact same problem. Haven't figured out a solution so far

[2015-08-12 13:32] ScreenDriver commented on #116
+1

Same here. Tests are very very slow :disappointed:

[2015-08-12 18:04] jldork commented on #460
:+1: Same issue here

[2015-08-12 18:05] cpojer commented on #460
Are you guys on node 0.12? jest does not work well with that version of node. You'll have to use node 0.10.

We'll soon be tagging jest 0.5, which will work with iojs v2 and up and we'll deprecate node support completely.

[2015-08-12 23:37] cpojer commented on #458
Seems like Buffer itself isn't part of jsdom. Would you be ok with me sending a PR to jsdom to add it? What about DataView (although I'm not sure any tests at FB depend on this). process should probably not be part of JSDomEnvironment – I'm planning to add other environments for this use case.

[2015-08-13 00:06] domenic commented on #458
Buffer is not part of the web; like process, it's a Node-only thing. So nah, not going in jsdom.

DataView should be in jsdom already. I guess I have to expand my mental phrasebook from "array buffer / typed arrays" to "array buffer / DataView / typed arrays", haha.

[2015-08-13 00:07] cpojer commented on #458
yep, makes sense. Thought we had a buffer implementation on the web for some reason ;)

[2015-08-13 00:34] cpojer commented on #458
Done in e5484b0eaea9310c9c46859d368953026c791401 and bd1f22b7996725764fd41204f6c92be12f5f3987

[2015-08-13 00:34] #458 closed

[2015-08-13 06:11] ide commented on #441
I imagine a PR would be appreciated if you want to contribute one when you have time.

[2015-08-13 16:46] cpojer commented on #441
There is also nomnom which we have been using for https://github.com/facebook/jscodeshift

[2015-08-14 20:54] atecarlos commented on #334
I had some mixed results with the solution on [stack overflow](http://stackoverflow.com/questions/28870296/how-to-use-jest-with-webpack) due to the babel-jest output containing spaces after "require(". I enhanced the regular expression to handle those scenarios and also capture css, scss, and less.

I published a package to npm called [webpack-babel-jest](https://github.com/atecarlos/webpack-babel

[2015-08-14 22:54] SwiftOne commented on #286
In my case I have a contenteditable div, for plaintext only (because textareas are terrible), and I'm explicitly capturing the text and making sure it stays in sync with React.  Nonetheless, my app will ship with warnings in production.  Boo.

[2015-08-15 16:49] sterpe opened #462 "Automocker `__mocks__/` discovery should support node modules with `@namespace/module` naming."
I'm having a hard time getting the autoMocker to find manual mocks in the `__mocks__/` folder
when the module name includes a `@namespaces`, e.g. `require('@quux/foo');`

Tried this:
[code]
&&

[code]

Right now I've ended up using `setMock('@quux/foo', mockInstance)` and pulling in `mockInstance` with `require.requireActual` but it seems less than ideal.

Other ideas?  Or will this be supported i

[2015-08-16 22:44] davidgilbertson commented on #402
So if contextify is considered a not-really-for-Windows library (despite the nine articles and 20,000 words of simple instructions available), the question is can/will the wonderful `jest` team consider doing away with that dependency to make `jest` a viable option for Windows teams?

[2015-08-17 01:35] cpojer commented on #402
I have tagged 0.5 which works on iojs 2 and up. Contextify is dead. Please try installing iojs + jest 0.5 and report back here :)

[2015-08-17 03:14] davidgilbertson commented on #402
Thanks for the quick reply. Looks like I'm heading to iojs land...

[2015-08-17 21:47] amasad opened #464 "Mocks should follow a resolution algorithm"
a `__mock__` anywhere in the codebase could mock anything else. This shouldn't be the case.

[2015-08-17 22:22] pbojinov commented on #460
Yeah seeing the same thing on node `v0.12.7` as well.  Thanks for pointing it out @cpojer, it worked on 0.10.x

[2015-08-18 07:23] cpojer commented on #460
Jest does not support any version of node 0.12. You need to use 0.10 or iojs 2+. Would you mind confirming that it works both in node 0.10 (with jest 0.4.x) and in iojs 2+v (with jest 0.5.x)?

I'm sorry for the pain, but node/iojs are almost reconciled and we'll soon be able to move forward with node v4 only :)

[2015-08-18 07:24] cpojer commented on #402
I'll close this; feel free to reopen if you are still having issues. If yes, I will have to get a windows computer I'm afraid :)

[2015-08-18 07:24] #402 closed

[2015-08-18 09:47] Nutelac commented on #433
Did someone found solution? I have lot of tests, so it's impractical to add them using `collectCoverageOnlyFrom`. Thank you.

[2015-08-18 17:51] pbojinov commented on #460
I can confirm that jest-cli v.0.4.19 works with node v0.10.36
[code]

[2015-08-18 18:18] mohamedturki commented on #460
I had the same issue, it turned out that I needed to explicitly specify the path of the test files (unless they are in the root directory).

[2015-08-19 04:40] spicyj opened #465 "Requiring node_modules paths like `fbjs/lib/invariant` is very slow"
This call to `resolve.sync` takes several milliseconds per require:

https://github.com/facebook/jest/blob/902c65bf11b544888626238756e8880bc8b402a3/src/HasteModuleLoader/HasteModuleLoader.js#L492-L495

When running the React tests, this happens thousands of times since it happens for every require of any fbjs module and takes many many extra seconds. This might be a major contributing factor to ou

[2015-08-19 16:00] AndrewBestbier opened #466 "When writing a test for my flux store, the store is undefined."
Hi all

I am trying to write tests for my project that uses Flux. The following is my code for a simple test using one of my stores:

[code]

However the following error is thrown:
TypeError: Cannot read property 'getList' of undefined

Could you possibly tell me what I am doing wrong? For some reason I can't require the module. My jest-cli is 0.4.3. Thank you so much!

[2015-08-20 02:16] miketamis opened #467 "Jest --coverage won't show coverage for jsx files"
I've been writing test for my application using Jest and it's been working very well, However I wanted to get my code coverage, so I ran Jest with --coverage but this only showed me my coverage for non-jsx files, I want it for both jsx and js files.

[2015-08-20 04:59] Tamilps2 opened #468 "Illegal token error in jsdom"
I was just trying jest for one of my project and jest is showing this error.

[code]

[2015-08-20 05:46] cpojer commented on #468
You have to use iojs v2+ to use jest 0.5

If you are stuck with nodeJS you have to use jest 0.4.x

[2015-08-20 05:46] #468 closed

[2015-08-20 17:01] ndao opened #469 "`jsdom 4.x onward only works on io.js, not Node.js™: https://github.com/tmpvar ^ Unexpected token ILLEGAL"
Getting this error while going through the Getting Started guide. What am I doing wrong? I am suing node 0.12.2

`jsdom 4.x onward only works on io.js, not Node.js™: https://github.com/tmpvar
^
Unexpected token ILLEGAL

someone else is also having this problem on stackoverflow
http://stackoverflow.com/questions/32114367/reactjs-jestjsdom-4-x-onward-only-works-on-io-js-not-node-jst

[2015-08-20 18:16] cpojer commented on #469
You have to install iojs to use jest 0.5.

You can keep using jest 0.4 with node JS 0.10

node 0.12 does not work with jest.

[2015-08-20 18:16] #469 closed

[2015-08-20 22:42] cpojer commented on #466
Hello. Would you mind producing a simple test case or, if that is not possible, share all your store logic so I can reproduce and investigate this issue?

If not, then I'll assume this is a problem with your code and unrelated to jest :)

[2015-08-21 07:29] AndrewBestbier commented on #466
Hi cpojer, it's probably  a problem with my code :) Here is the store logic:

[code]

[2015-08-21 07:30] cpojer commented on #466
The issue is likely that `objectAssign` is mocked, therefore driverStore never receives those methods. You should unmock it by default.

[2015-08-21 07:30] #466 closed

[2015-08-21 08:27] AndrewBestbier commented on #466
That fixed it thanks!

Added:
[code]

to the top of of my test and it worked :)

[2015-08-21 15:50] amasad opened #471 "Cannot mock chalk"
Modules doing any kind of initializations in their code are bound to fail to be mocked.
https://github.com/chalk/has-ansi/blob/77fd627fb18b9740518a7bb65e9c3a68b9e51cf2/index.js#L3

In the following `ansiRegex()` will return undefined because it's a mock

[code]

[2015-08-22 20:48] andrewkolesnikov commented on #460
Same here. Looks like plenty of people will be running into this issue, why not at least warn that nodejs version is incompatible?

[2015-08-23 21:21] amasad commented on #471
I'm actually running into this issue a lot. Modules are failing to mock because some other dependency that they have have to run as part of initialization. The problem becomes is that you're trying to call a mock which returns undefined, and then you're trying to access a property of undefined (see OP).

Essentially, we're trying to mock the interface of a given node module, but we end up mocking

[2015-08-24 17:09] bolinfest opened #473 "jest no longer works with Node?"
I just created a "Hello World" sized project with jest, and it failed with:

[code]

I am using Node 0.12.0. Does jest have a transitive dependency that requires io.js? /cc @jeffmo

[2015-08-24 18:24] browniefed commented on #473
Latest releases .50 and up do not work with node only io.js. This is in partial due to the upgrade to the latest JSDOM which dropped support for node. You'll need to use io.js to run on .50, or use .10.x on a .4 branch of jest.
Also once node 4.0 is released that will be the ultimate version that gets supported.

[2015-08-24 21:11] cpojer commented on #473
Jest does not support node 0.12. Please use jest 0.4 with node 0.10 or jest 0.5 with iojs v2 and up.

[2015-08-24 21:11] #473 closed

[2015-08-25 00:12] garthk opened #474 "Configurable mock directory path"
If we can support people renaming `__tests__`, why not also `__mocks__`?
[code]

[2015-08-25 01:47] bolinfest commented on #473
Is there a plan to support Node 0.12 or at least document it in the `README.md`? Presumably most people get Node by going to https://nodejs.org/, which means they end up with Node 0.12.

[2015-08-25 02:00] cpojer commented on #473
Feel free to send a pull request mentioning this. There are no plans to support node 0.12 as it is basically dead. The next version will be node 4.0 which will be based off of iojs 3.0

[2015-08-25 03:08] element6 commented on #259
I had the same issue. It turns out to be 'morgan' middleware that's causing it. I didn't dig into morgan, I used NODE_ENV=test to bypass it when running tests.

[code]

[2015-08-25 18:44] devknoll opened #475 "Consider making jest_preprocess_cache hierarchical"
All of the files in `jest_preprocess_cache` are stored flat in the directory.

Does it maybe make sense to break those into folders, maybe based on the first two characters of the hash, like git does? Not sure that the performance wins here would be.

But at the very least, Atom wouldn't crash when I accidentally fat finger the directory ;-)

[2015-08-25 18:52] amasad opened #476 "Ability to use jest for integration testing"
Basically just tell it that I don't need to do any mocking and it shouldn't hijack the mocking process.

[2015-08-26 05:44] BeniCheni opened #477 "Jest Unit Tests v.s. Deprecation of react-tools"
Unit Tests written with Jest started breaking after the deprecation of react-tools. Had to use other transpiler such as babel-jest as a workaround.

[2015-08-26 10:42] asiniy commented on #17
@facebook-github-bot-4 please do it!

[2015-08-26 10:42] asiniy commented on #17
+1

[2015-08-26 15:03] opensourcegeek commented on #469
Will node 0.12.x be supported in future? I have C++ addons and since the API has changed significantly I'm not sure if I can revert back to 0.10. On the other hand jest ties in nicely with Babel and react which I'm planning on using. It would be great if it can support node 0.12.

[2015-08-26 18:37] matrinox commented on #134
+1 gasparch. I suspect a lot of people will

[2015-08-26 23:37] hovissimo opened #479 "Exposing _messageQueue for testing"
Howdy folks.

Is there a better way to test console messages than using the Jest internal _messageQueue? If not, can this message queue become a documented feature?

I have a React component that I'm testing, and part of the component's expected behavior is to complain if it's being used improperly.   Here's the test I just wrote (ab?)using console._messageQueue:

    it('should complain if we cal

[2015-08-27 16:10] jdmunro commented on #230
I'm also encountering these issues with ```setMock```. If I set a manual mock for "superagent", every single other require seems to return that mock too. Seems like a really big problem.

[2015-08-27 17:34] cpojer commented on #479
Try this:

[code]

and then you can test your console.warn call like any other mocked function.

[2015-08-27 17:44] cpojer commented on #469
No, unfortunately we won't be able to support node 0.12.x which is "pretty much dead". The next version of node is 4.0 which is based off of iojs3 and will have some support for node 0.12, although I do not know what the extent of this is.

I understand your pain, v8 APIs change all the time with bad upgrade paths. I recommend you to look into node-nan ( https://github.com/nodejs/nan ) a project t

[2015-08-27 17:59] cpojer opened #480 "Report syntax errors in test files or modules properly."

[2015-08-28 04:32] deepakjois opened #481 "npm warning for {"node" : ">="2"}"
I am getting this warning on node 0.12.7. Does anybody know what is causing this?

[code]

[2015-08-28 09:29] mull commented on #476
Is this not what you're looking for? http://facebook.github.io/jest/docs/api.html#jest-automockoff

[2015-08-28 12:48] harryworld commented on #243
+1

Works in in `0.10.40`, not io.js `2.3.0` with Jest `0.5.0`

[2015-08-28 13:00] mull commented on #243
@harryworld works with iojs `2.5.0` at least.

[2015-08-28 13:18] harryworld commented on #243
@mull I tried that, the error mentioned here is gone, but the tests are not all passed due to some libraries not included. For instance:

[code]

[code]

[2015-08-28 13:19] mull commented on #243
@harryworld if Parse is not defined then you need to include it. `query is not defined` sounds like a missed `var`.

[2015-08-28 13:26] harryworld commented on #243
@mull Interesting, why the same code base (with Jest `0.4.19`) can work in 0.10.40? I did not `rm -rf node_modules`?

P.S> I'm new to Jest, not sure about its magic yet.

[2015-08-28 13:27] mull commented on #243
I couldn't tell you. I noticed the same thing about a missing `var` when going from 0.10 to iojs2.5. Can't tell you why. :)

[2015-08-28 13:42] #481 closed

[2015-08-28 16:41] cpojer commented on #243
I'm going to close this out as we won't be able to support node 0.12 unfortunately. A decision that was made for us by jsdom. We'll likely be able to reconcile once node v4 comes out, which should support a reasonable upgrade path from node 0.12.

More explanation: https://github.com/facebook/jest/issues/469#issuecomment-135504161

[2015-08-28 16:41] #243 closed

[2015-08-28 16:42] cpojer commented on #243
@mull @harryworld indeed, you need to define all variables. I think jsdom became stricter in how it handles the global scope.

[2015-08-30 11:49] Martynas-P opened #482 "Jest throwing TypeError: Cannot read property 'getElementsByTagName' of undefined"
Hi,

I'm starting out with Jest and I tried to follow the Getting Started example on the website, but when I create the files and try to run Jest I get the following output:

[code]

Does anyone know if I am doing anything wrong?
I am running iojs 3.2.0 on Linux Mint 17

Thanks!

[2015-08-30 12:40] audriuslubys commented on #482
I have the same problem.

It does work for me with jest shrinkwrapped to use jsdom 5.6.1.

[2015-08-30 13:32] hyzhak opened #483 "Why don't use modern Jasmine 2.x API for async calling?"
I mean something like:

[code]

http://jasmine.github.io/2.0/introduction.html#section-Asynchronous_Support it is less verbose and much readable. Just compare with old API (that jest uses):

[code]
5 over 12 lines just in one async test. Is there any sense to use obsolete Jasmine 1.x style?

[2015-08-30 18:12] johannhof commented on #483
jest supports [pit](https://www.npmjs.com/package/jasmine-pit) so you can just return a promise

[2015-08-30 22:23] binarykitchen commented on #243
guys, just use https://www.npmjs.com/package/gulp-jest-iojs for the time being until iojs v4 has been merged with nodejs

[2015-08-30 22:37] cpojer commented on #483
We are currently working on adopting jasmine 2. jest also integrates pit, which should work as well.

[2015-08-30 22:37] #483 closed

[2015-08-30 22:43] nkbt commented on #243
@binarykitchen not everyone uses or wants to use gulp. So iojs seems to be the only option.

[2015-08-30 22:45] cpojer commented on #482
Can you share the code from your test? This should work properly. I haven't used iojs 3.2 yet, can you check if there is a difference on iojs 3.1?

[2015-08-30 22:47] cpojer commented on #243
@binarykitchen How does gulp-jest work on node 0.12?

@nkbt your option is to use:

* jest 0.4 with node 0.10
* jest 0.5 with iojs 2+
* in the future it will be jest 0.6+ with node 4.0+ only.

[2015-08-30 23:54] hyzhak commented on #483
@johannhof I know pit it is much better than jasmine 1.x but it is not the same. @cpojer thanks, look forward to this feature.

[2015-08-31 05:43] Martynas-P commented on #482
I'm not exactly sure what happened, but after deleting node_modules and installing the dependencies again, the test ran correctly.

[2015-08-31 05:43] #482 closed

[2015-08-31 13:57] deerawan commented on #116
I thought It was only me that faced the issue. It is my first time using Jest and I don't get fast test result, either.

[2015-08-31 14:45] alanrubin commented on #116
My question about Jest to the React guys at React Europe conference Q&A session - https://youtu.be/CRJZBZ_-6hQ?t=363

[2015-08-31 15:26] gbbr commented on #116
Switched to Mocha + Sinon. Never been happier.

On 31 August 2015 at 17:45, Alan Rubin <notifications@github.com> wrote:

[2015-08-31 21:20] dinodsaurus commented on #435
Im having the same problem, and I dont think that `collectCoverageOnlyFrom` is a good solution :)

[2015-09-02 00:11] shioju commented on #467
Try setting `testFileExtensions` config for jest. The default is `['js']`

Example jest config in **package.json**:
[code]

[2015-09-03 08:07] asiniy opened #486 "Syntax error on jest 0.5.0 & 0.5.1"
When I run `npm test`, I get this:

[code]

io.js is installed.
Preprocessor

[code]
test
[code]

[2015-09-03 18:42] cpojer commented on #486
Hm, I'm wondering whether this file is being loaded incorrectly. Can you paste the whole source of the file the way the preprocessor sees it? Basically add a console.log statement for the compiled source – it should get compiled based on your regex but I'd like to see what it looks like :)

[2015-09-03 19:05] asiniy commented on #486
Hey!

[code]

[2015-09-03 22:10] apolishch opened #487 "TypeError: Cannot read property 'numFailingTests' of undefined"
'use strict'

import React, {TestUtils} from 'react/addons'
import jest from 'jest'

describe('simple', () => {
  it('should run test', () => {
    expect(true).toBeFalsy()
  })
})

Run with npm test by way of:
"scripts": {
    "test": "BABEL_JEST_STAGE=0 jest"
},
"jest": {
    "scriptPreprocessor": "<rootDir>/node_modules/babel-jest",
    "testFileExtensions": [
      "js"
    ],
    "moduleFileE

[2015-09-03 23:25] cpojer commented on #487
Thanks for the report, I'll fix this shortly. I think the problem might be that either your preprocessor can't transform your source or you have a syntax error.

[2015-09-04 01:29] nletourneau commented on #486
I'm getting the exact same error with babel-jest

[2015-09-04 08:14] apolishch commented on #487
That's awesome! Do you have a rough ETA? We're undergoing a react conversion and kind of debating testing strategies.

[2015-09-04 13:43] kmees commented on #487
Getting the same error as soon as I add any `import ...` to my test file

[2015-09-04 15:49] apolishch commented on #487
after swapping out my `imports` for:
var jest = require('jest') et al,
and the arrow functions for regular ES5 functions, I am still getting hte same error.

[2015-09-05 01:39] cpojer commented on #487
Unfortunately I haven't been able to commit and tag a fix today. I'll get back to this on Tuesday and will resolve this issue. If this is blocking you I recommend downgrading to jest 0.5.0 for now. Sorry for the inconvenience.

When you see this error it usually means there is a syntax error in your code and jest isn't currently doing a good job at reporting this back.

[2015-09-05 11:06] ide opened #488 "Bound functions in Node 4.0 break moduleMocker.js"
When you bind a function in V8 4.5, it's name becomes "bound ${name}" https://github.com/v8/v8-git-mirror/commit/6d32be24fc19507107f55bd8ee0ca000b5919cb8

This breaks the function creation in the moduleMocker: `'return function ' + metadata.name + '(){'`. To repro run `npm test` in react-native.

Simple fix is to strip off `/^bound /` but if you really wanted to preserve it I think the mocker coul

[2015-09-05 20:52] #488 closed

[2015-09-07 20:54] rafsoaken commented on #487
Hi, I run into the same error message, albeit with a much simpler setup - I was trying to follow the example from "Getting started", the sum test, it fails with this exact message even if I include syntax errors in either the sum.js or the sum-test.js file.
It only complains about these errors if I comment the "jest.dontMock('sum');" out.

Im runnung iojs 3.3.0.

Any ideas?

[2015-09-08 09:37] jdmunro commented on #230
I discovered a workaround for the problem where the wrong mocks are used. If you create a "wrapper" for the node module you wish to use, e.g.

[code]

Reference this in your system under test, rather than the direct dependency. Then you can mock this as you wish:

[code]

Everything seems to work as expected. Jest seems to be falling over when trying to mock a node module but any local files are f

[2015-09-08 11:50] renestalder opened #492 "Fresh setup with test examples: “ReferenceError: Promise is not defined”"
I've set up a fresh project, exactly as described and used the examples to see if jest is working.
Even by using the examples from the jest documentation, it's not working. I get a ReferenceError.

[code]

What am I doing wrong?

[2015-09-08 11:58] Malo87 commented on #486
Yep. Same error with babel-jest.. I'm still struggling on making jest working for the first time.

[2015-09-08 12:14] Malo87 commented on #492
If you're using Jest 0.5.1 be sure of having iojs installed, otherwise use jest version 0.4.x. with node 0.10
Watch out that currently Jest 0.5.1 is broken with iojs, (https://github.com/facebook/jest/issues/486)

Still playing to have something working :(

[2015-09-08 12:26] renestalder commented on #487
I confirm, having a setup from the "Getting started" with same examples, shows the same error in v0.5.1. Downgrading to v0.5.0 works.

[2015-09-08 12:27] renestalder commented on #492
Thanks for the hint. Hadn't iojs installed. Also had to use Jest 0.5.0 to get it working with iojs, as you said.

[2015-09-08 12:27] #492 closed

[2015-09-08 12:33] asiniy commented on #486
Jest seems too complicated for relatively simple tasks done by it... :(

[2015-09-08 15:06] Verikon commented on #460
This can't be good ?

Using Jest CLI v0.5.1
 PASS  HasteModuleLoader/__tests__/HasteModuleLoader-currentTestPath-test.js (0.012s)
 PASS  HasteModuleLoader/__tests__/HasteModuleLoader-hasDependency-test.js (0.219s)
 PASS  HasteModuleLoader/__tests__/HasteModuleLoader-getTestEnvData-test.js (0.272s)
 PASS  __tests__/TestRunner-test.js (0.414s)
 FAIL  __tests__/TestRunner-fs-test.js (0.666s)
● TestRu

[2015-09-08 15:13] cpojer commented on #486
It looks like this is using the object short notation. Are you sure you are using `iojs`? What does `node --version` give you? If you are using io, I'm wondering if an older version of it did not support this ES2105 feature – would you mind upgrading to iojs 3.3?

[2015-09-08 15:14] cpojer commented on #477
We have updated our documentation to reflect the deprecation of react-tools.

[2015-09-08 15:14] #477 closed

[2015-09-08 15:16] cpojer commented on #453
This doesn't look good. Can you upgrade to the latest version of iojs and report whether this is still happening?

[2015-09-08 17:06] Malo87 commented on #486
OK, got it.

The version of iojs installed was 1.8.3 (got it from a ppa repo). Manually installing the v3.3.0 from the IOjs site solve the issue!

Thanks,
D

[2015-09-08 17:08] cpojer commented on #486
Thank you! jest only supports iojs 2 and up. This situation will soon be resolved with node v4, finally :)

[2015-09-08 18:06] #487 closed

[2015-09-08 18:07] cpojer commented on #487
I'll tag 0.5.2 with the fix in a moment.

[2015-09-08 20:17] cpojer commented on #486
Closing. Let me know if this is a problem with iojs3 or node4, which was released today! :)

[2015-09-09 01:10] volkanunsal commented on #204
I am seeing the polar opposite in 0.5.2. The requires of an unmocked module are not mocked at all. I'm using a manual mock, though... as in this:

[code]

[2015-09-09 01:53] volkanunsal opened #494 "Automocking doesn't work for some dependencies"
I'm scratching my head why some dependencies may not be mocked in my module. Here is the rough outline:

[code]

[2015-09-09 12:20] danielstern commented on #185
+1

[2015-09-09 21:57] cmpis commented on #430
It probably wouldn't be a bad thing to at least have a babel example with babel-jest since I know at least for us we use babel/es6 for everything we can. We could have an example here and babel-jest could be improved to give better documentation to go from there.

[2015-09-09 22:07] cpojer commented on #430
Oh yeah, we actually updated the documentation but I haven't yet had time to push the update to the website!

[2015-09-09 23:02] cpojer commented on #430
updated: http://facebook.github.io/jest/docs/tutorial-react.html#content

we should probably revamp the docs a little bit :)

[2015-09-09 23:02] #430 closed

[2015-09-10 04:09] petejkim commented on #66
This is still a problem

[2015-09-10 08:06] Pharserror commented on #66
Not that I know of
On Sep 9, 2015 9:09 PM, "Peter Jihoon Kim" <notifications@github.com> wrote:

[2015-09-10 14:55] cmpis opened #497 "Errors shouldn't be hidden by catches"
I've been debugging issues in migrating to Node v4.0.0 and the errors that Jest has sometimes are just horrible and hide information I could use. Like knowing which file the error is happening in case I need to update that one or not.

[2015-09-10 14:56] cmpis opened #498 "Due to nodejs/node#1215 my tests fail in Node v4.0.0"
https://github.com/facebook/jest/blob/master/src/TestRunner.js#L357-L372

Jest uses path.dirname with undefined variables

I commented out the catch in lines 511-540 and got this error:

[code]

I'm going to continue trying to figure out a solution because this breaks all my tests in node v4.0.0 right now.

[2015-09-10 15:02] cmpis commented on #498
Actually, seems it might be an issue with DefaultTestReporter line 44 where it uses `path.relative`

For some reason my `testResult.testFilePath` is undefined. `testResult` is a string error.

[2015-09-10 17:04] cpojer commented on #498
I think there might be a SyntaxError in your code somewhere that is being wrongly recorded. I'll take a look shortly.

[2015-09-10 17:37] cpojer commented on #498
Well, the bigger issue in jest is that there is a promise exception that is still getting swallowed somewhere...

[2015-09-10 17:59] cpojer commented on #498
Can you run the test that failed alone, without workers? `jest MyTest.js` or `jest --runInBand` should do that and give you an appropriate error message while I fix this bug.

[2015-09-10 18:00] rafaelmaiolla commented on #335
+1, I have a similar problem. It is not loading the mock from my __mocks__ folder and I can't say what is the problem.

[2015-09-10 18:26] cmpis commented on #498
I think this is an non-issue. I deleted jest-cli from my node_modules and npm installed again and it runs again. My tests are failing very strangely, but at least they are running and report failing

[2015-09-10 18:26] cpojer commented on #498
Thanks! There might have been some caching issues from the upgrade. We should probably wipe away the cache dir if the jest version doesn't match up.

[2015-09-10 19:25] #498 closed

[2015-09-10 19:49] volkanunsal commented on #494
This is probably because I was using a constructor from a dependency in that file, which was of course undefined because it was being automocked.

[2015-09-10 19:49] #494 closed

[2015-09-10 21:52] #486 closed

[2015-09-10 21:52] cpojer commented on #497
This was fixed in 0.5.3, let me know if this is still broken for you.

[2015-09-10 21:52] #497 closed

[2015-09-10 21:52] cpojer commented on #480
fixed in 0.5.3!

[2015-09-10 21:52] #480 closed

[2015-09-10 21:52] cpojer commented on #476
Yeah, jest already has this? Feel free to reopen if you are thinking of doing something else.

[2015-09-10 21:52] #476 closed

[2015-09-10 21:53] #479 closed

[2015-09-10 21:54] cpojer commented on #460
I don't think there are any action items here.

@Verikon your comment seems unrelated to this issue. Let me know if it still persists with the latest version of jest in a separate issue.

[2015-09-10 21:54] #460 closed

[2015-09-10 21:55] cpojer commented on #449
Yes, you need to mock `Date.now` with your expected return value, like this: `Date.now = jest.genMockFunction().mockReturnValue(0);`

[2015-09-10 21:55] #449 closed

[2015-09-10 21:57] cpojer commented on #453
Feel free to reopen if this problem still persists.

[2015-09-10 21:57] #453 closed

[2015-09-10 21:58] cpojer commented on #415
Please upgrade to node 4 and jest 0.5.x

[2015-09-10 21:58] #415 closed

[2015-09-11 20:48] volkanunsal commented on #471
I encountered this issue too. Really annoying. Because of this, I abandoned all hope of using Jest. I'd love to know how to use Jest if your code executes the dependency immediately and tries to use a property on that object, as above.

[2015-09-12 15:00] createbang opened #501 "Unknown config option thrown with config.testPathPattern"
When `testPathPattern`, which is documented and clearly implemented, is included in the `config` object, it throws the error `Error: Unknown config option: testPathPattern` in the cli.

In doing some digging, this error is caused because `utils.normalizeConfig` does not check for this property, and thus throws the `Error`

Documentation of the config option:
https://facebook.github.io/jest/docs/ap

[2015-09-13 22:18] ehacke commented on #259
I had a similar problem caused by my bunyan logger writing to stdout.

Seems a little brittle to break the test framework if something writes to stdout.

console.log seems to work inside the test cases.

But if I try to use bunyan logging, the log messages either don't appear, or break the framework with the response 'Unable to parse child response data'.

[2015-09-14 18:24] #501 closed

[2015-09-14 21:18] richard-flosi commented on #242
ran into this issue to. the trick is that you need to set all the event data that your handler expects to be there as part of the second argument to the change command.

i.e. if your event handler is checking `e.target.checked` then you need to pass that along.

[2015-09-15 00:13] hgezim opened #505 "node requirement is > 2"
This seems to be incorrect unless you really mean 4.0.0!

[2015-09-15 00:14] AlcockP commented on #66
I'm seeing the same issue if I specify a `testPathDirs` ... even if it is `"testPathDirs": ["__tests__"]`

[2015-09-15 00:36] cpojer commented on #505
This is correct. If you want to use jest with node 0.10, use jest 0.4. If you want to use the latest version of jest, use iojs or node 4.

[2015-09-15 00:36] #505 closed

[2015-09-15 19:59] mwolson commented on #381
Here's a workaround which can resolve webpack paths in the preprocess phase: https://www.npmjs.com/package/jest-webpack-alias

[2015-09-15 20:04] mwolson commented on #334
For the resolving directories part of the problem, here's a workaround which can resolve webpack paths in the preprocess phase: https://www.npmjs.com/package/jest-webpack-alias

[2015-09-15 20:05] mwolson commented on #270
Here's a workaround which can resolve webpack paths in the preprocess phase: https://www.npmjs.com/package/jest-webpack-alias

[2015-09-15 20:06] mwolson commented on #134
Here's a workaround which can resolve webpack paths in the preprocess phase: https://www.npmjs.com/package/jest-webpack-alias

[2015-09-15 20:51] miketamis commented on #467
Thank you this fixes it.

[2015-09-15 20:51] #467 closed

[2015-09-15 21:45] binarykitchen commented on #270
thx

[2015-09-15 22:16] hansman commented on #116
I have the same problem. Jest tests just take a lot of time and the execution time actually varies. Whether to run them in parallel or in just one process (--runInBand) did not matter. It appears to not be a resource contention between the worker processes.

I created some cpu dumps with the v8 profiler (https://github.com/node-inspector/v8-profiler) and found that most time appears to be spent mo

[2015-09-15 23:52] danielstern commented on #304
I'm experiencing this issue with Node v4.0.0 and Jest v`0.5.2` with babel-jest `2.14.2`

[2015-09-17 14:57] DaleJefferson opened #506 "Naming a describe block constructor, causes unexpected error"
[code]

[code]

constructor causes an error, Constructor works fine thou.

[2015-09-17 16:06] migueldelmazo commented on #101
hi, in my company we have found a solution for getting code coverage: http://blog.redradix.com/get-coverage-reports-with-jest-js-react/

[2015-09-17 17:51] cpojer commented on #506
I think this is a jasmine issue that we can't fix. Sorry about that, using a different string should work. Maybe jasmine2 will fix it.

[2015-09-17 17:51] #506 closed

[2015-09-18 11:10] thekarel commented on #259
I ran into this issue when using `pit` and `jasmine.VERBOSE = true`. `pit` is in the 3rd test:

[code]

Removing `pit` or setting `jasmine.VERBOSE = false` allows the tests to run.

[2015-09-18 15:11] wallacyyy commented on #198
I tried this recently and it's working for me.

[2015-09-18 22:41] zpao opened #507 "Jest not runnable in node < v4"
You put arrow functions in (https://github.com/facebook/jest/commit/1a2880cebc43887d4df82a3e7127af165296ba85#diff-0efd2b6c5dff7811dca68ac363161b02R429) and pushed that as a patch version change event though it forces a change in engine.

[2015-09-18 22:46] zpao commented on #507
Fixed with https://github.com/facebook/jest/commit/50a3aa0cd86c8aa4b46251891fcfeb2c8329ed8a and published 0.5.7.

[2015-09-18 23:53] cpojer commented on #507
lol goddammit! This is what happens when our internal deploy of node is more modern than the one we support in open source. I'll bump to 0.6 next week and start using arrows for real.

btw. I did my best to convert all arrows to functions when I ported this code from our internal test runner but I guess I missed this one.

[2015-09-19 17:06] #507 closed

[2015-09-20 00:18] mzorzella commented on #66
I have the exact same problem described by @AlcockP. Removing testPathDirs resolved the problem and everything is mocked properly.

[2015-09-20 00:33] mzorzella commented on #90
@amasad thank you for the workaround.

[2015-09-20 18:43] richardscarrott opened #509 "Manual mock discovery for Node packages is unclear (to me)"
The documentation says the mock should be placed in the same parent directory as the 'node_modules' folder, e.g.

[code]
[code]
This works fine however I wondered how you would mock a non-main module within a package, e.g.
[code]
I gave this a shot but I'm guessing it's not correct:
[code]
In addition I've noticed that package mocks seem to be picked up in any '\_\_mocks\_\_' dir, even those which

[2015-09-20 20:17] iandanforth opened #510 "Basic install fails"
idanforth@ian-MS-7885:~$ git clone https://github.com/facebook/jest.git
Cloning into 'jest'...
remote: Counting objects: 2872, done.
remote: Compressing objects: 100% (29/29), done.
remote: Total 2872 (delta 12), reused 0 (delta 0), pack-reused 2843
Receiving objects: 100% (2872/2872), 953.64 KiB | 1.25 MiB/s, done.
Resolving deltas: 100% (1785/1785), done.
Checking connectivity... done.
idanforth

[2015-09-20 20:35] iandanforth commented on #510
Ok this is actually a node version issue. Once I upgraded to v4.1.0 via (https://nodejs.org/en/download/package-manager/) it worked.

I would suggest adding "engineStrict" to the package.json file

https://docs.npmjs.com/files/package.json

So that the install will fail with a more helpful error.

[2015-09-20 23:56] iandanforth opened #511 "globally installed jest won't run tests not in __tests__ dir"
If a test file lives anywhere but \__tests\__ jest silently fails to run it even when passed the filename directly. This is *extremely* frustrating behavior. It took me ages to realize I had accidentally named my test folder \__test\__ (minus the s).

So, suggested changes to behavior:

1. jest will attempt to run any file it is passed directly

or

2. jest will display an error when it can't find

[2015-09-21 10:47] chiedojohn commented on #243
@cpojer Could you add something to the Jest docs in regards to the specific version numbers that are needed with the specific versions of node?

Some sort of "supported versions" section would probably be helpful!

I'm on node v4 and Jest doesn't seem to be working here either. I can just go back to node 0.10.0 no problem but just a suggestion!

[2015-09-21 14:07] samuelazran opened #512 "Error: EMFILE: too many open files"
I'm running jest on a limited linux box on codeanywhere and it gives me the' too many open files error".
When I'm using https://github.com/isaacs/node-graceful-fs it's just consuming all the RAM and not really working. so it get stuck on the "Using Jest CLI v0.5.4 " line.

Here is the command line log from when I'm not using node graceful-fs and running jest:

    cabox@box-codeanywhere:~/workspac

[2015-09-21 14:46] yaycmyk commented on #506
I am also receiving this error for a completely different use.

[code]

The error:

[code]

[2015-09-21 15:52] yaycmyk commented on #506
Mine was due to `sinon` being incompatible, please disregard.

[2015-09-21 18:10] cpojer commented on #243
@chiedojohn jest 0.5.2 and up works with node 4

[2015-09-21 18:27] chiedojohn commented on #243
Thanks @cpojer looks like I've got some debugging to do on my end then!

[2015-09-21 18:31] #510 closed

[2015-09-21 23:03] arush commented on #4
@jaredly is right, I think we can close this issue

[2015-09-21 23:04] #4 closed

[2015-09-22 08:54] dylankiss commented on #230
+1

[2015-09-22 10:58] nifgraup commented on #297
Back to Jasmine 2.x. Things seem to behave better when I unmount components after each test.

[2015-09-23 04:44] ide opened #513 "Add --json flag to programmatically consume the test output"
I want to use this with arcanist so making it easy to parse the output is helpful.

[2015-09-23 04:45] cpojer commented on #513
yes! I'll look into what format we are using for `arc unit` and whether I can just open source that :)

[2015-09-23 13:30] koddsson commented on #304
Working for me on `babel-jest: ^5.3.0`, ` jest-cli: ^0.5.7` and `node v4.1.0`.

[2015-09-23 15:57] jcfrancisco opened #514 "Cannot manually mock static assets in React Native component's 'render' method."
I'm wondering if there exists a smart solution for stubbing out `require('image!blah')` statements inside `render` methods in React Native components.

Given the following React Native component:
[code]

Unit testing the `render` method blows up on the require, and I cannot seem to manually mock out `image!my-image` because it isn't a real npm module or file within my app.

I tried extracting it o

[2015-09-23 22:19] felix-d commented on #243
I'm having problem with `jest-cli` and `npm@3`. All my tests are failing for obscure reasons.

[2015-09-23 22:28] cpojer commented on #243
Haven't tried npm3 yet. Seems like this should be its own issue, mind creating one, @felix-d ?

[2015-09-25 02:09] machadoum opened #517 "On verbose mode log error shows "Cannot read property 'length' of undefined""
When my test has some error the log shows:
 "Cannot read property 'length' of undefined"

Looks like "testResult.testResults" is undefined on:
https://github.com/facebook/jest/blob/master/src/DefaultTestReporter.js#L71-L73

Stack Trace
[code]
The bug does not occur on version 0.5.4
probably this commit:
https://github.com/facebook/jest/commit/9f2e528b19bb3b33865854e62fe5321a2494b4c6

Enviroment:
j

[2015-09-25 06:59] sterpe commented on #517
+1, this messed me up too.

[2015-09-25 14:51] simonlast opened #520 "Google APIs cannot be required from a jest test"
Requiring googleapis from a test results in an error:
`var googleapis = require("googleapis")`

`TypeError: ~/build/__tests__/signupWithEmail.js: ~/node_modules/googleapis/lib/googleapis.js: ~/node_modules/googleapis/node_modules/google-auth-library/lib/auth/googleauth.js: ~/node_modules/googleapis/node_modules/google-auth-library/lib/auth/jwtclient.js: ~/node_modules/googleapis/node_modules/googl

[2015-09-25 23:38] hgezim opened #521 "Caching causing issues"
I discovered an issue that appears to be caused by caching. On the initial run of a test, it evaluates the test and determines that it fails (without errors), however on subsequent runs, I get: `Cannot find module './emptyFunction' from 'node_modules/jest-cli/.haste_cache/preprocess-cache/warning_764896bb1571a8dbaa5c10886672e1b1.js'`:

I will demonstrate that in the following command line log. The

[2015-09-26 11:39] Pajn opened #522 "Support watching other files than .js (for example .jsx, .ts and .tsx)"
Add a cli option to allow watching different file extensions

[2015-09-26 22:53] Pajn commented on #259
Feels like a timings issue or some kind of race condition.
Happens usually if doing console.log and happens randomly on Travis when the same works offline (and usually works if I rerun Travis)

[2015-09-26 22:55] Pajn commented on #517
By changing
[code]
to
[code]
the problem goes away. I don't know if that's the correct fix however or just a workaround on a bigger problem.

[2015-09-26 23:28] machadoum commented on #517
@Pajn
I sent this pull request:
https://github.com/machadoum/jest/commit/4d442eb625821d870d75e6f4f9dad836e3a47fde

It solved the problem to me.

[2015-09-26 23:30] Pajn commented on #517
@machadoum Missed that. That's probably the correct fix.

[2015-09-28 06:25] nmrony commented on #59
@facebook-github-bot-4 What is the condition of this issue?

[2015-09-28 17:58] sterpe opened #524 "List mocked modules in `--verbose` mode."
The auto mocking is great, but it still occasionally burns you.  I propose that in --verbose mode jest lists the modules that were mocked for each test, so that issues related to mocking unexpected libs are more obvious.

[2015-09-28 19:32] hgezim commented on #521
Setting [`preprocessCachingDisabled`](http://facebook.github.io/jest/docs/api.html#config-preprocesscachingdisabled-boolean) to `true` fixes the above issue. But that's a workaround.

[2015-09-28 21:49] andrewsmedina commented on #198
I solve it add nock in `unmockedModulePathPatterns`:

[code]

[2015-09-29 11:29] chikamichi commented on #74
Well, sir Bot, it's quite a relevant issue still.

[2015-09-29 16:52] cpojer commented on #74
Yes yes, we are working on this. There is a lot of work that we need to do to make jest awesome and I'm still working through the backlog of things we need to do at Facebook. Please have a little bit more patience and I will make sure jest is great soon!

(I assigned this issue to me, hoping that will shut up our bot. cc @vjeux)

[2015-09-29 17:22] chikamichi commented on #74
Oh I'm very patient @cpojer, I just wanted to interact with that inquiring bot of yours :)

[2015-09-30 04:36] mqklin commented on #17
+1

[2015-09-30 07:00] johannhof commented on #512
Did you try using the `ulimit` command? http://blog.izs.me/post/56827866110/wtf-is-emfile-and-why-does-it-happen-to-me

[2015-09-30 17:13] sterpe commented on #432
This seems to work.  Though setting `jasmine.VERBOSE` && running `jest --verbose` seems to throw an internal error when running asynchronous tests.  So watch out for that on `jest-cli@0.4.19`

@jfahrenkrug thanks!

[2015-10-01 08:55] #522 closed

[2015-10-02 10:06] #446 closed

[2015-10-02 10:13] cpojer commented on #524
agree, that would be nice! I'm a little backed up with other work on jest, if you have time to build this I'd appreciate a pull request! :)

[2015-10-02 11:59] koddsson opened #526 "Return error code 1 when coverage fails"
I've set up jest as a pre-commit hook to make sure to run the tests I have before commit locally. I'd like to keep my coverage up so it would be neat if jest would not return exit code 0 when coverage is less than 100%.

This should probably be behind a command line flag for people that actually want this behavior.

[2015-10-02 13:05] Poplava opened #527 "Cannot find relative to Webpack root dir module"
I use Webpack.

It has "resolve" config like this:

[code]

when I'm trying to require a relative module to the root path (with webpack it requires ```src/apps/foo/bar.js```)
[code]

jest are falling with exception:
[code]

Do I must use "require" with the file-to-file relations only?

#### UPDATE:

I created a repo with simple example of my issue: https://github.com/Poplava/jest-app

[2015-10-02 15:01] sterpe commented on #524
Sounds good, I'll see if I can put one together.

[2015-10-02 18:52] vjeux opened #528 "Need to mock Symbol"
Reference: D2503562

[2015-10-03 04:01] rodrigo191 opened #529 "TypeError: Cannot read property 'orderByPassenger' of undefined"
I don´t know why it throws the type error.

'use strict';
jest.dontMock('../TripSearchStore.js');
describe('orderByPassenger', function(){
  it('Sort Ascending Trips', function(){
    var TripSearchStore       = require("../TripSearchStore");
    var dummyReservationList  = {};

    TripSearchStore.orderByPassenger(dummyReservationList);

    expect(TripSearchStore.orderByPassenger).toBeCalledWith

[2015-10-03 09:17] cpojer commented on #529
Can you please post more sample code, like the implementation of your store?

[2015-10-03 15:53] maligree opened #530 "Should `fs` and `child_process` auto mock?"
I'll post the code soon, but for now I just wanted to ask. Should these modules get auto mocked? I've tested the example code (the one that tests `$.ajax`) and it goes smooth, but when I substitute it with an implementation that uses `fs`, I get:

`Error: toBeCalledWith() should be used on a mock function`

Did I stumble into the wrong neighborhood?

[2015-10-04 03:28] rodrigo191 commented on #529
Sure!

var AppDispatcher = require('../dispatcher/AppDispatcher');
var EventEmitter = require('events').EventEmitter;
var TripsearchConstants = require('../constants/TripsearchConstants');
var assign = require('object-assign');

var CHANGE_EVENT = 'change';

var _reservationList = {};
var _passengersList = [];

/**
 * Set reservation list
 * @param  {string} text reservation list
 */
function set(

[2015-10-04 20:47] dralletje commented on #530
Could you post the full code snippet causing this error? :grin:

[2015-10-04 20:52] dralletje commented on #530
My bad: no, apparently it shoulnd't auto mock: https://github.com/facebook/jest/blob/master/src/HasteModuleLoader/HasteModuleLoader.js#L565-L566

Don't know why that is added though, hahaha (Because these modules actually cause side effects?)

[2015-10-05 14:17] CoderK commented on #521
I have a same issue too.

[2015-10-05 15:36] CoderK commented on #521
I was debugging awhile, haste_cache logic may be related to this issue.
When a cacheKey is generated in readAndPreprocessFileContent(filePath, config) function of utils.js, a different value is made every time.

---
A. First try
Filename : /Users/KimCoding/Workspace/PhotoMoa/src/sample/__tests__/helloworld-test.js
cacheKey : 754124e15ac50f241d7079bd992b0814

B. Second try
Filename : /Users/KimCodi

[2015-10-05 18:18] cpojer commented on #521
Yeah I think the problem is that it stringifies the `config` object as well and the encoding isn't stable, ie. the keys in the config object are sorted randomly. I'm not sure why that would lead to problems however, it just leads to more work for the pre-processor. But yeah, this should be fixed.

[2015-10-05 20:36] cdreier commented on #116
any performance updates? just picked up jest with es6 and babel-jest, but running 2 simple tests in > 10 seconds :-(
tried a lot of ideas from this thread to speed up, but nothing worked...

[2015-10-05 20:37] cpojer commented on #116
We'll be focusing on this soon. We are a little swamped with work on jest right now but we are committed to make it more awesome.

[2015-10-05 20:53] clentfort commented on #116
Are there any tasks the community could help with?

[2015-10-05 20:54] hansman commented on #116
+1

[2015-10-05 21:33] cpojer commented on #116
The biggest help right now would actually be improving the documentation, website and going through issues and helping out people in open source.

[2015-10-05 22:20] hansman commented on #116
One thing we have done to speed our JEST tests up in the build pipeline was to replace our single core machine with a multi core one. By default jest spaws as many workers as hardware threads are available. If this is not available to you you can manually play with '-w' (maxWorkers). You may gain a speedup also on a single core.

Ultimately we found that mocking modules is very costly (see my comm

[2015-10-06 00:08] amasad opened #532 "JSON.stringify is not a great way to generate hashes"
It's either non-deterministic. Different runs will stringify the keys in different order.
Or reading the config is non-deterministic.

Either ways, JSON.stringifying the config and then using it for the preprocesser name is creating different names across different runs

[2015-10-06 00:17] amasad opened #533 "we read .haste-cache modules as part of node-haste"
we need an implicit "modulePathIgnorePatterns" addition consisting of .haste-cache

[2015-10-06 00:29] #533 closed

[2015-10-06 00:54] #532 closed

[2015-10-06 01:05] amasad commented on #530
You can explicitly specify that you want the module to be mocked: `jest.mock('fs')`. Not sure why the decision was made that builtins shouldn't be autmocked. cc @jeffmo

[2015-10-06 01:05] #530 closed

[2015-10-06 01:09] amasad commented on #527
That won't work with jest -- it will assume that "app" or "modules" are in node_modules.
Why don't you use relative requires? In your example just do `require('../../modules/sum')`.

[2015-10-06 01:09] #527 closed

[2015-10-06 01:12] amasad commented on #521
fixed via 38a364f63ba25dadfe757f229b943a9d8c2b1033 and 5039aadbeb12686834ee5a1e455f23b3eb4d922a

[2015-10-06 01:12] #521 closed

[2015-10-06 01:13] amasad commented on #512
Please bump your ulimit

[2015-10-06 01:13] #512 closed

[2015-10-06 04:18] jeremiahrhall opened #535 "Controlling memory usage of node-haste when loading tests"
I have an app that is built in CircleCI, which has a 4GB memory limit that terminates the build when the threshold is exceeded.

My build hits this threshold when Jest runs. According to the output from CircleCI, there are 32 processes open at the time running `node-haste/lib/analyze-changed.js`, cumulatively using about 3.5GB of memory. Add in the Jest process which uses around 350mb and some OS

[2015-10-06 06:56] Poplava commented on #527
Thanks a lot!

It is ugly for me to import module like ```common/foo/bar``` from the deep component with ```../../../../..``` :)

I thought it will be good to have option "resolve" (like in the WebPack) or something like that.

[2015-10-06 17:49] jeremiahrhall commented on #535
Here's a minimal implementation: https://github.com/facebook/jest/compare/master...jeremiahrhall:dev/node-haste-max-processes-arg

[2015-10-06 17:58] zpao opened #536 "Just ship 0.6"
We keep breaking things for iojs in patch versions which isn't cool.

If we're going to depend on node v4 (which we are with our `const` and arrow function usage) then we should bump the minor version.

We should unpublish the broken version we have in 0.5.

[2015-10-06 18:55] zpao commented on #536
See discussion in #537. 0.5.9 was unpublished and we have a branch for 0.5.10. Master will become 0.6. If we need to make changes, we should still commit those to master. If they need to be published we can cherry-pick over to 0.5.x and publish from there.

[2015-10-06 18:55] #536 closed

[2015-10-06 19:14] cpojer commented on #535
We already have a `maxWorkers` option that should take care of this, no? It is passed on to the TestRunner.

[2015-10-06 19:16] jeremiahrhall commented on #535
The HasteModuleLoader isn't actually passed that option right now. In fact, TestRunner does not pass the second `options` param to the loader.

[2015-10-06 19:18] jeremiahrhall commented on #535
I ended up changing my code to use the `maxWorkers` option but, it still needed to be passed through to the module loader: https://github.com/facebook/jest/compare/master...jeremiahrhall:dev/node-haste-max-workers-arg

[2015-10-06 19:19] cpojer commented on #535
That's weird. Feel free to send a Pull Request :)

[2015-10-06 19:30] jeremiahrhall commented on #535
:+1:

[2015-10-06 19:30] #535 closed

[2015-10-06 20:47] #144 closed

[2015-10-06 20:52] amasad opened #539 "Console.logs don't appear when there is an error"
console.logs should appear when there is a test failure (or an error).

[2015-10-06 20:54] amasad commented on #432
I'm adding `console.log` to my `exports.process` function and it works. Maybe this was recently fixed?

[2015-10-06 20:56] amasad commented on #48
Fixed via the console implementation https://github.com/facebook/jest/blob/98fbf3f28fbff2181cb4450366e0163106755756/src/Console.js

[2015-10-06 20:56] #48 closed

[2015-10-07 00:15] amasad commented on #529
It doesn't look like you export `orderByPassenger` on your `TripSearchStore` object

[2015-10-07 00:15] #529 closed

[2015-10-07 00:18] amasad commented on #259
Should be fixed via #540 (will go out with version 0.6). Please reopen if that's not the case.

[2015-10-07 00:18] #259 closed

[2015-10-07 00:18] amasad commented on #539
Should be fixed via #540 (will go out with version 0.6). Please reopen if that's not the case.

[2015-10-07 00:18] #539 closed

[2015-10-07 00:18] amasad commented on #369
Should be fixed via #540 (will go out with version 0.6). Please reopen if that's not the case.

[2015-10-07 00:18] #369 closed

[2015-10-07 00:18] amasad commented on #341
Should be fixed via #540 (will go out with version 0.6). Please reopen if that's not the case.

[2015-10-07 00:18] #341 closed

[2015-10-07 00:24] amasad commented on #528
I followed your repro instructions and couldn't repro:

[code]

[2015-10-07 00:27] amasad commented on #528
nvm, I had autmocking off, now it works.

[2015-10-07 00:38] amasad commented on #528
This is a problem with reserved keywords. Merging with #394

[2015-10-07 00:38] #528 closed

[2015-10-07 00:39] amasad commented on #394
The issue here is that jest tries to name functions using reserved keywords like "catch" in this case. And Symbol.for in #528. I'm sure a lot of other things are effected by this too.

[2015-10-07 01:10] #394 closed

[2015-10-07 01:10] amasad commented on #528
Fixes, should be out in 0.6.0

[2015-10-07 20:05] samgqroberts commented on #435
+1
I'm about to do @browniefed 's plan but it's a bit of a sigh that it's necessary

[2015-10-07 20:53] richardscarrott opened #541 "Manual mocks example failing"
[This example](https://github.com/facebook/jest/tree/master/examples/manual_mocks) fails as it expects 'fs' to be auto mocked whereas it looks like [0.3.0 made a change to prevent core node modules from being mocked](https://github.com/facebook/jest/commit/722fb1f746ed07186661a8691ad15a7a2e12180d#diff-c57162543a4f0bc311cba66ba52baf7bR555), is this correct?

[2015-10-08 05:57] james-hart commented on #200
+1

[2015-10-08 14:15] adriantoine opened #542 "React examples are failing"
Hi,

I just tried to run `jest` examples with react:
[code]

And I get this error:
[code]

Note that if I force the `react` version to `0.13.3`, it works fine, so the issue is probably due to React `0.14.0`.
It might be because `react-tools` is deprecated: https://facebook.github.io/react/blog/2015/10/07/react-v0.14.html#deprecation-of-react-tools and this example uses `react-tools` to transform j

[2015-10-08 17:42] amasad commented on #127
This is done. Thanks to @PhilVargas!

[2015-10-08 17:42] #127 closed

[2015-10-08 17:57] wkgg opened #544 "Can not work with sinon"
When I try to use sinon to fack server, It occurs an error. The error is  \node_modules\sinon\lib\sinon\match.js: sinon.typeOf is not a function

and my environment is jest:  0.5.10, sinon: 1.17.1, node: 4.1.1.

[2015-10-09 15:32] vujita commented on #506
I had this but, haven't figured which string is causing it.  The work around I used was

jest.autoMockOff ();

[2015-10-09 18:35] pheuter commented on #211
+1

[2015-10-11 07:53] pawelgalazka opened #547 "Invalid URL is thrown when requiring systemjs"
app.spec.js:
[code]
[code]

code above throws:
[code]

requiring system js works fine if I do it in a pure node script:

test.js:
[code]
[code]

Configuration in package.json:

[code]

[2015-10-12 07:51] pawelgalazka commented on #547
This the systemjs issue

[2015-10-12 07:51] #547 closed

[2015-10-13 02:57] axelboc opened #548 "Count test cases rather than test files"
I have a test file that contains two test suites (`describe`), each with three test cases (`it`).

[code]

When I run the tests, I get: **`0 tests failed, 1 test passed (1 total)`**. Other test frameworks like Mocha would typically report **`0 tests failed, 6 tests passed (6 total)`**; that is, they would count the number of test cases, not the number of test files.

Is this normal behaviour for J

[2015-10-13 16:48] cpojer commented on #548
I guess there is no particular reason. I guess it is more useful for most people to count the number of tests instead of the number of files and we should make the change. Do you want to send a pull request? :)

[2015-10-13 17:00] cpojer commented on #542
It definitely does work with 0.14 but we haven't had time to update the jest examples. Feel free to send us a pull request! :)

[2015-10-14 03:01] axelboc commented on #548
Probably makes more sense if this is done only when jest is run with the `--verbose` argument. Give me a few weeks and I'll have a go at it.

[2015-10-14 16:11] Nic128 opened #551 "unmockedModulePathPatterns not working?"
I need help figuring something out with unmockedModulePathPatterns.

From my package.json,
[code]

From the docs: An array of regexp pattern strings that are matched against all modules before the module loader will automatically return a mock for them. Should I be using a different syntax inside my array. (Maybe like /react/) I've tried a bunch a combination, wasn't working.

If I don't include i

[2015-10-14 16:55] cpojer commented on #548
I don't think it makes sense to show different counts based on the `--verbos` option.

[2015-10-14 18:55] cpojer commented on #542
This should be fixed with #550

[2015-10-14 18:55] #542 closed

[2015-10-14 20:14] CodeBaboon commented on #66
+1 on the problem with `testPathDirs`. Replacing `dontMock()` with `require.requireActual('path')` seems to be a viable workaround.

[2015-10-14 20:29] cpojer commented on #514
This is fixed in https://github.com/facebook/jest/commit/bc4e4a169e6d682865474f293c860d561a6d40e2 and will be out in 0.6.0.

[2015-10-14 23:20] roblum commented on #176
I also have tests that pass with the default config but fail when using `testPathDirs` to specifiy folder path. One of the errors being thrown is: `Error: toBeCalled() should be used on a mock function`

[2015-10-15 02:24] hxgdzyuyi commented on #17
++

[2015-10-15 10:36] fabiosussetto commented on #116
Jest with es6 for me is completely unusable. it takes 10+ seconds just to start up, and then it takes 2s to run the only single test I have at the moment. I was expecting a lot more, switching back to karma :(

[2015-10-15 11:10] mhagmajer commented on #513
@cpojer, Any updates here?

[2015-10-15 17:08] cpojer commented on #513
Yes this is planned but I wish I had 10 hours more per day to work on jest!

[2015-10-15 18:38] cpojer commented on #432
This should work much better in 0.6.0.

[2015-10-15 18:38] #432 closed

[2015-10-15 20:45] seekshiva opened #552 "Unable to npm test"
I get this error when I run `npm test`.

[code]

[2015-10-15 20:45] cpojer commented on #552
which version of node and which version of jest are you using?

[2015-10-15 20:48] seekshiva commented on #552
node v0.12.7
jest-cli@0.5.10

[2015-10-15 20:48] cpojer commented on #552
Jest doesn't support node 0.12. Please update to node 4.

[2015-10-15 20:48] #552 closed

[2015-10-15 23:00] adriantoine commented on #551
I have issues with `unmockedModulePathPatterns` too, so the syntax: `"<rootDir>/node_modules/react"` doesn't work for me, but it works if I only put `"react"` without the directory like that:
[code]

[2015-10-15 23:01] adriantoine commented on #542
Ok thanks! The examples are still failing on my computer but it seems that I'm the only one having this issue, I'll investigate.

[2015-10-15 23:15] cpojer commented on #551
yes, node_modules are unmocked just by their name.

[2015-10-15 23:16] cpojer commented on #542
If you clone jest from master and try the examples from there, do they work?

[2015-10-16 00:18] cpojer commented on #7
We have this now! Yay.

[2015-10-16 00:18] #7 closed

[2015-10-16 00:19] #15 closed

[2015-10-16 00:21] #29 closed

[2015-10-16 00:22] cpojer commented on #43
I take it this is not an issue any longer?

[2015-10-16 00:22] #43 closed

[2015-10-16 00:22] #51 closed

[2015-10-16 00:24] #70 closed

[2015-10-16 00:24] cpojer commented on #70
Let me know if this is still an issue. It should definitely work as expected in node 4.

[2015-10-16 00:25] cpojer commented on #75
Seems like there is a workaround and this is specific to React tests? Also might have been fixed in jsdom.

[2015-10-16 00:25] #75 closed

[2015-10-16 00:26] cpojer commented on #80
Yeah unfortunately I don't think we'll be fixing this in jest. Feel free to reopen if you feel strongly.

[2015-10-16 00:26] #80 closed

[2015-10-16 00:27] cpojer commented on #81
@fkling are you ever going to build this?

[2015-10-16 00:28] #83 closed

[2015-10-16 00:28] cpojer commented on #86
This is a question and should be posted on StackOverflow instead.

[2015-10-16 00:28] #86 closed

[2015-10-16 00:29] cpojer commented on #93
@spicyj if this is still happening please reopen the issue.

[2015-10-16 00:29] #93 closed

[2015-10-16 00:29] cpojer commented on #98
Thanks for the description! There is nothing actionable here so I'm closing the issue. If there is anything you'd like to be changed in jest, please feel free to reopen.

[2015-10-16 00:30] cpojer commented on #98
In case you want to extend the documentation please feel free to send a pull request!

[2015-10-16 00:30] #98 closed

[2015-10-16 00:31] #101 closed

[2015-10-16 00:32] cpojer commented on #104
Please feel free to reopen this if there is anything in jest that needs to be changed to support this.

[2015-10-16 00:32] #104 closed

[2015-10-16 00:35] cpojer commented on #114
These days most people use `babel-jest` which retains line information. I'm probably not going to add support for anything else because at FB we are only using babel and it works well for us. If you still need this for CoffeeScript feel free to reopen this issue and send a pull request.

[2015-10-16 00:35] #114 closed

[2015-10-16 00:35] cpojer commented on #116
We are currently working on replacing node-haste with a new module resolver, which should fix this issue.

[2015-10-16 00:36] cpojer commented on #119
Unfortunately I don't think there is anything we can do about this. I'm going to close it out but feel free to reopen if you can think of a good fix for this! I agree it would be great if we could have a solution here.

[2015-10-16 00:38] cpojer commented on #129
If a module cannot be mocked for some reason it is best to unmock it explicitly.

[2015-10-16 00:38] #129 closed

[2015-10-16 00:40] cpojer commented on #131
Yeah, https://github.com/atecarlos/webpack-babel-jest seems like a reasonable solution. Jest 0.6.0 will also allow to specify `moduleNameMapper` that maps a module regex to a stub module. That way you can match all `.css` files that you require to a `CSSStub` for example.

[2015-10-16 00:40] #131 closed

[2015-10-16 00:40] #119 closed

[2015-10-16 00:41] cpojer commented on #152
This would be cool to have documentation about. Is anyone interested in making a pull request? :)

[2015-10-16 00:42] cpojer commented on #174
This should be fixed with 0.6.0.

[2015-10-16 00:42] #174 closed

[2015-10-16 00:44] #201 closed

[2015-10-16 00:46] cpojer commented on #202
You might be able to just directly set `window.scrollTop` and `window.scrollLeft`. If that doesn't work, try `Object.defineProperty(window, 'scrollTop', {value: 10, writable: true})`

[2015-10-16 00:46] #202 closed

[2015-10-16 00:46] cpojer commented on #202
You might be able to just directly set `window.scrollTop` and `window.scrollLeft`. If that doesn't work, try `Object.defineProperty(window, 'scrollTop', {value: 10, writable: true})`

[2015-10-16 01:04] sterpe commented on #432
Thanks!

Sent from my iPhone

[2015-10-16 11:44] seekshiva opened #553 "How do I mock require('module/submodule')"
It says in [the doc](https://facebook.github.io/jest/docs/manual-mocks.html) that we can create mock for node modules by placing `__mocks__` in the same directory as node_modules.

How do I mock `require('module/submodule')`?

I tried this:
[code]

and this:

[code]
where module.js would contain this:
[code]

but neither of these seem to work.

[2015-10-16 16:04] cpojer commented on #553
If your module is located at `<dir>/module.js` you should create a mock under `<dir>/__mocks__/module.js`.

[2015-10-16 16:04] #553 closed

[2015-10-16 16:15] Sebmaster commented on #459
@cpojer I just looked into this a bit and... I might overlook something big here, but wouldn't `window.eval` just work for this use-case? Can you look into this to see if this allows you to avoid our internal API usage?

[2015-10-16 16:16] cpojer commented on #459
cc @DmitrySoshnikov why are we using runInContext here?

[2015-10-16 16:18] Sebmaster commented on #459
Seems like this came up during [the iojs upgrade](https://github.com/facebook/jest/pull/374#issuecomment-112642386), I'm not sure why eval was overlooked back then though.

[2015-10-16 16:28] seekshiva commented on #553
@cpojer It is a npm module.

I do `require("collections/sorted-map")`. The docs say that when I need to mock the functionality of a npm module, the mocks need to be present in the same folder that contains `node_modules`.

I tried doing '__mocks__/collections/sorted-map.js' and '__mocks__/collections.js'. In the second case, collection.js would contain `module.exports = {"sorted-map": () => {}}`

[2015-10-16 16:28] cpojer commented on #553
Are you using npm3?

[2015-10-16 16:29] seekshiva commented on #553
Yes

[2015-10-16 16:32] cpojer commented on #553
Unfortunately we don't have a good solution for this yet :( We aren't using npm3 at FB yet and I haven't been able to investigate this issue thoroughly yet. If you have an idea for a fix, I'd appreciate a pull request!

[2015-10-16 16:36] seekshiva commented on #553
I'm trying to mock `collections/sorted-map` because of this issue: babel/babel-jest#41. I thought it would be an issue with babel-jest and not jest itself, so I filed an issue there.

[2015-10-16 16:41] seekshiva commented on #553
Is there a development doc for Jest that I can take a look at?

[2015-10-16 16:42] cpojer commented on #553
what kind of development doc are you looking for? I'm working on revamping the CONTRIBUTING guide. All you need to do is make a change and submit a PR on GitHub. Our bot will then ask you to sign the CLA.

You can run jest on itself by doing `node bin/jest.js`.

[2015-10-16 17:17] jezen opened #554 "Enable jest mocking to work properly with npm3."
Seeing this issue. Not sure where to begin with it.

[code]

[2015-10-16 17:18] cpojer commented on #554
Are you using npm3?

[2015-10-16 17:44] jezen commented on #554
@cpojer

[code]

[2015-10-16 17:45] cpojer commented on #554
Also see: https://github.com/facebook/react/issues/5183

We don't have a good solution for this yet, unfortunately.

[2015-10-16 17:46] cpojer commented on #554
Manually unmocking `fbjs` as well as `react` should work for now.

[2015-10-16 18:03] #206 closed

[2015-10-16 18:03] #209 closed

[2015-10-16 18:04] cpojer commented on #214
Please feel free to reopen if this is still a problem with jest 0.5

[2015-10-16 18:04] #214 closed

[2015-10-16 18:04] #215 closed

[2015-10-16 18:05] #220 closed

[2015-10-16 18:05] cpojer commented on #222
jest now has a `--watch` command.

[2015-10-16 18:05] #222 closed

[2015-10-16 18:06] cpojer commented on #223
The mock that people are using here is working well, so closing this issue.

[2015-10-16 18:06] #223 closed

[2015-10-16 18:07] cpojer commented on #227
this should work fine in jest 0.6.0.

[2015-10-16 18:07] #227 closed

[2015-10-16 18:08] #231 closed

[2015-10-16 18:08] #232 closed

[2015-10-16 18:08] cpojer commented on #234
Is this still an issue in jest 0.5?

[2015-10-16 18:10] cpojer commented on #272
I haven't seen this issue with jest 0.5. If you have a repro for a current version of jest, please reopen this issue.

[2015-10-16 18:10] #272 closed

[2015-10-16 18:24] mik01aj commented on #230
This is madness. This bug makes Jest really unusable. It's the kind of bug that should actually never-ever happen, and if it does, it just means that the underlying code is so brittle you can't really trust it to tell you anything about your code. And if this kind of bug is reported and not fixed after almost 10 months, this tells a lot about how much its authors care about its quality.

[2015-10-16 18:25] Nic128 commented on #551
I haven't been able to make any combination of syntax work. The only thing that works is jest.dontMock('react') or jest.autoMockOff().

[code]

[2015-10-16 18:26] cpojer commented on #551
Are you using npm3?

[2015-10-16 18:32] Nic128 commented on #551
Yes.

[2015-10-16 18:36] cpojer commented on #551
:(

https://github.com/facebook/jest/issues/554

[2015-10-16 18:36] #551 closed

[2015-10-16 18:36] cpojer commented on #551
We need to fix this in jest!

[2015-10-16 18:41] zpao commented on #554
Workarounds for React:
1. Disable automocking entirely (*suggested because fuck mocking*)
2. Disable mocking for `node_modules/{react,fbjs}`

[2015-10-16 18:52] Nic128 commented on #554
Good to know 'fbjs' was the culprit. For me, even 'babel' and 'core-js' needed to be in that unmocked list.

[2015-10-16 18:54] Nic128 commented on #551
Well, at least I found out with that other thread that 'fbjs' needed to be unmocked too. Wasn't clear.

[2015-10-16 19:20] omarrayward commented on #344
@matthewgertner, Thanks for the solution.
This made it for me:
- Adding `babel-core` (in my case) to `unmockedModulePathPatterns` in `package.json`
- require.requireActual('babel-core/polyfill') in `jestEnvironment.js`;

[2015-10-16 19:23] cpojer commented on #551
Yep! We'll try to figure out a proper solution.

[2015-10-16 21:06] jezen commented on #554
For those confused:

I made this error go away by making my `package.json` look like this:

[code]

[2015-10-16 23:44] jermspeaks commented on #554
Thanks @jezen, I made those changes and now the tests are working fine.

[2015-10-18 03:47] jpanda109 opened #555 "Missing modules"
The modules "optimist", "sane", and "which" seem to be missing from the package.json, as evidenced by the examples failing to run without first explicitly installing them.
Additionally, the react example seems to be missing the "react-tools" module.

Node: 4.2.1
OS: Windows 10
npm: 2.14.7
jest: master HEAD

[2015-10-18 20:21] richardscarrott commented on #17
I've been working on [Jestpack](https://www.npmjs.com/package/jestpack) which is a replacement for Jest's 'HasteModuleLoader' to support Webpack. As a result it means you can use any module system Webpack supports including AMD.

On a side note does anybody know of any large(ish) open source projects using Jest other than those using FB style haste modules as it would be really useful to test the

[2015-10-19 06:49] davidreher commented on #234
Acutally I do not know. We switched to plain Jasmine, mainly because of the performance ...

[2015-10-19 12:21] seekshiva opened #558 "Unable to unit test react component"
I was trying to write unit test for a component using Jest, and tried this:
[code]

but got this error:
[code]

Is it an issue with react or jest?

[2015-10-19 12:22] seekshiva commented on #558
would it be an issue with npm3?

[2015-10-19 12:23] seekshiva commented on #558
but I do this in `package.json`:

[code]

[2015-10-19 12:31] seekshiva commented on #558
Following #554, I added this to package.json and the issue seems to be gone.

[code]

Merely doing `var React = require('react')` in my test takes about 3s to execute. Is this expectable? Or can I do something to bring it down?

[2015-10-19 13:42] teosz opened #559 "Super expression must either be null or a function, not undefined"
Hello,
I'm using jest with https://github.com/kriasoft/react-starter-kit and it throw: `Super expression must either be null or a function, not undefined`
My jest config:
[code]
Also test file is:
[code]

And component i test is:
[code]

[2015-10-19 18:26] mpanda123 opened #560 "can i run end to end testing with Jest"
I am looking for a tool for using end to end automation test(browser automation ) for REACT based Application. Can Jest be used as a framework with Selenium

[2015-10-19 19:08] fkling commented on #81
Don't think so.

[2015-10-20 01:33] sterpe commented on #17
I also have been working on [`jest-requirejs`](https://github.com/sterpe/jest-requirejs) which is more of an attempt at a standard jest preprocessor which analyzes the project `main.js` config file then performs a `deamdify`, which removes the `define` wrapper, rewrites the require paths based on the details of the main.js' specified baseUrl and paths, and then passes the transformed file to jest

[2015-10-20 18:21] #81 closed

[2015-10-20 18:26] cpojer commented on #560
No, jest has a different goal – it is focused on testing isolated pieces of your application logic.

[2015-10-20 18:26] #560 closed

[2015-10-20 18:39] mpanda123 commented on #560
what is the best tool for performing end to end tests on REACt apps?

[2015-10-20 21:33] cpojer commented on #475
Done in 0.6.0.

[2015-10-20 21:33] #475 closed

[2015-10-21 03:29] cpojer commented on #513
This will be in 0.6.0.

[2015-10-21 03:37] #339 closed

[2015-10-21 03:38] cpojer commented on #340
This is fixed in 0.5.

[2015-10-21 03:38] #340 closed

[2015-10-21 03:40] cpojer commented on #345
If you require your modules in `beforeEach` you won't be running into this problem and every call to `it` will receive a new module environment:

[code]

both calls to `it` will receive different versions of A.

[2015-10-21 03:41] cpojer commented on #355
Jest only works with node 4 (jest 0.5) or node 0.10 (jest 0.4 and below).

[2015-10-21 03:41] #355 closed

[2015-10-21 03:41] ide commented on #513
Thanks @cpojer!

[2015-10-21 03:45] cpojer commented on #363
This is looking great. Thanks ColCh. I'm currently a bit swamped with other work on jest but I definitely want to make the module loader pluggable so you can add your own WebpackModuleLoader to jest as a plugin in the future!

[2015-10-21 03:45] cpojer commented on #383
@yungsters did this for where it makes sense!

[2015-10-21 03:45] #383 closed

[2015-10-21 03:47] cpojer commented on #398
I think the goal should be to make jest faster instead of complicating how jest works in --verbose mode. The blocker above shouldn't exist any more from 0.6 onwards so we could potentially build this, although I'm worried about messages being out of order.

If you want to build it, feel free to reopen this issue – I'm all for it :)

[2015-10-21 03:47] #398 closed

[2015-10-21 03:50] cpojer commented on #400
There is no way to do this during runtime but I have ideas on turning this into a babel-transform in the future:

[code]

becomes:
[code]

This should be easy to build and experiment with but it won't support any sort of meta-programming so I'm not sure how viable this will be, especially at FB where we have a lot of tests that might be incompatible with this.

@DmitrySoshnikov are you willing to

[2015-10-21 03:51] cpojer commented on #413
jest 0.6.0 will have a `moduleNameMapper` config option that allows to map these kind of modules to a stub module. See https://github.com/facebook/jest/blob/master/src/HasteModuleLoader/__tests__/HasteModuleLoader-requireModuleOrMock-test.js#L24 and the tests on the bottom.

[2015-10-21 03:51] #413 closed

[2015-10-21 03:52] cpojer commented on #427
Jest doesn't work on node 0.12. You need to upgrade to node 4 (use jest 0.5+) or use node 0.12 (use jest 0.4 or below).

[2015-10-21 03:52] #427 closed

[2015-10-21 03:55] cpojer commented on #439
This seems like it was fixed in node 4.

[2015-10-21 03:55] #439 closed

[2015-10-21 03:56] cpojer commented on #435
I'd be open to accepting a pull request if someone finds a sane way to do this. I expect it to be pretty slow though if you run this as a separate step. I guess what you are looking for here is do what @browniefed suggested - write a test that requires an entire app. Since you need basic instrumentation I don't think there will be any good generic way to do this other than writing a test itself.

[2015-10-21 03:56] #435 closed

[2015-10-21 03:57] cpojer commented on #445
We don't support node 0.12. Please upgrade to node 4 and jest 0.5 or use node 0.12 with jest 0.4

[2015-10-21 03:57] #445 closed

[2015-10-21 03:58] cpojer commented on #447
Please update to jest 0.5 and node 4, this problem should have gone away.

[2015-10-21 03:58] #447 closed

[2015-10-21 03:59] cpojer commented on #511
@iandanforth do you think you can submit a pull request for this? :)

[2015-10-21 03:59] #514 closed

[2015-10-21 04:02] cpojer commented on #517
This will be fixed in 0.6.0. Sorry about that!

https://github.com/facebook/jest/blob/master/src/TestRunner.js#L531

[2015-10-21 04:02] #517 closed

[2015-10-21 04:03] cpojer commented on #520
I would recommend turning of auto mocking via `jest.autoMockOff()` or just saying `jest.dontMock('googleapis');` instead.

[2015-10-21 04:03] #520 closed

[2015-10-21 04:07] cpojer commented on #544
I will recommend to unmock sinon, because that is the intention. Either add it to your unmockedModulePatterns or add an explicit `jest.dontMock('sinon')` to your tests!

[2015-10-21 04:07] #544 closed

[2015-10-21 04:26] cpojer commented on #513
https://github.com/facebook/jest/commit/5413b7ba6dd4e0b34ce99e51b1691fbe8dc196f5

@ide care to try this out to see if it works for you? I wanna tag 0.6.0 tomorrow or so.

[2015-10-21 04:26] #513 closed

[2015-10-21 04:27] cpojer commented on #17
Hey guys this is really awesome. I like the idea of Jestpack and I've been meaning to make it much easier to support additional module resolvers. Finally I also want to revamp the website and recommend solutions like Jestpack as part of the Getting Started guide (that I have in my head :) ). @richardscarrott and @sterpe please let me know if you need anything.

Also cc @mwolson and @ColCh

(To eve

[2015-10-21 04:30] cpojer commented on #559
I don't think there is anything wrong with jest. It must be with your setup or your tests. Are you using the latest versions of react, node and jest? From the example you posted I don't know where the error is coming from – do you have a stack trace?

[2015-10-21 04:32] ide commented on #513
It's going to take me awhile to hook this up to arcanist (need to write a bunch of PHP) so go ahead and publish it.

The --json flag works for a small project of mine though :)

[code]

[2015-10-21 04:35] cpojer commented on #513
Right, the question is more like:

* does this work for you (or work at all :D )
* does it give you all the info you need

[2015-10-21 04:38] ide commented on #513
Yeah it should, just trying to fill in the main fields here: https://secure.phabricator.com/diffusion/ARC/browse/master/src/unit/ArcanistUnitTestResult.php;e51e1c3d44640d60c9843c6f41ee06434cadf697$150. Name, result, and duration are the most important and looks like those are covered :)
[code]

[2015-10-21 04:39] cpojer commented on #513
Cool. I mean this is the same code we use at FB for arc/phabricator so I guess this is fine.

[2015-10-21 06:37] teologov commented on #413
@cpojer Awesome, thanks!

[2015-10-21 08:34] mwolson commented on #17
Jestpack is interesting, though I'm not a fan of having to create one entry point per test.  https://github.com/Ticketmaster/jest-webpack-alias solves the problem a bit more generically, at the cost of some preprocessing, and possible yet-undiscovered bugs due to reimplementing webpack's module resolution code.

Also: Getting Started guides should probably mention that it's a good idea to limit wh

[2015-10-21 09:52] mull commented on #230
Got to agree with the above. This has me contemplating just moving over to another testing solution. Testing anything but *truly* basic unit tests is really annoying.

[2015-10-21 13:14] JeanLebrument opened #561 "More explicit runtime error messages when running tests"
I'm using Jest to test a React-Native project.

I've an runtime error in the following code:

[code]

Here is the error message:

[code]

Is there a way to have more detailed error message? With line number for exemple.

Thanks!

[2015-10-21 17:30] cpojer commented on #17
preprocessors are only run once and you can provide a cache key function. jest won't re-run your preprocessor if a file hasn't changed.

[2015-10-21 17:35] cpojer commented on #561
Hey!

I think the problem is that you are using `import`. Jest right now does not support import but jest 0.7.0 likely will (the next-next release :) ). Sorry, there is no more info that is coming back from the engine that we could sure here I don't think.

[2015-10-21 17:35] #561 closed

[2015-10-21 17:48] clentfort commented on #561
You might want to look into [`babel-jest`](https://github.com/babel/babel-jest) which provides a preprocessor that transforms your code using `babel`.

[2015-10-21 17:54] teosz commented on #559
[code]
No. i don't have a stack trace even in verbose mode

[2015-10-21 17:55] cpojer commented on #559
Would it be possible for you to publish your changes based on the starter kit so I can repro this myself?

[2015-10-21 17:57] cpojer commented on #559
Would it be possible for you to publish your changes based on the starter kit so I can repro this myself?

[2015-10-21 18:04] cpojer commented on #548
This will be in 0.6.0. Yay!

https://github.com/facebook/jest/pull/557

[2015-10-21 18:04] #548 closed

[2015-10-21 18:05] mwolson commented on #17
That may be, but even the first run was enough to add about ~10 seconds to execution of our test suite.

[2015-10-21 18:07] cpojer commented on #17
Agreed that that isn't fast. At FB the first run takes almost twice as long as subsequent runs but personally I don't see any other to solve this – we are using babel and other custom transforms at FB; we can't run tests without a preprocessor :)

[2015-10-21 18:12] rafaelmaiolla commented on #435
+1

[2015-10-21 18:12] rafaelmaiolla commented on #433
+1

[2015-10-21 18:41] cpojer commented on #558
We are working on making jest faster. React is pretty big and requiring it takes a while. You can expect some improvements in jest 0.7.0 (the next-next version :) ).

[2015-10-21 18:41] cpojer commented on #558
We are working on making jest faster. React is pretty big and requiring it takes a while. You can expect some improvements in jest 0.7.0 (the next-next version :) ).

[2015-10-21 18:41] #558 closed

[2015-10-21 18:42] sterpe commented on #17
The preprocessor caching was biting me while developing the requirejs preprocessor.  I mostly still use jest@0.4 which did not have caching I believe?

[2015-10-21 18:51] cpojer commented on #17
It should work fine with 0.5!

[2015-10-21 19:00] dangerbell commented on #345
I understand there's many ways to work around this, but the function *clearMock()* should still clear the mock. And "clear" to me means "return to initial state".

There's also the fact that re-requiring before every test isn't free. I have several tests that do this and they all run significantly slower than those that just require once.

[2015-10-21 20:34] cpojer commented on #314
This will be in 0.6.0.

[2015-10-21 20:34] #314 closed

[2015-10-21 20:54] axelboc commented on #548
Awesome!

[2015-10-21 21:38] robotsushi commented on #152
I've been trying to get this working all day. The command is successful, and the browsers opens but it never it's my tests.

[2015-10-22 00:01] #234 closed

[2015-10-22 00:03] cpojer commented on #134
webpack alias seems like a good solution for this use case.

[2015-10-22 00:03] #134 closed

[2015-10-22 00:03] cpojer commented on #134
@mwolson if you would like to add some documentation or even an example to jest for this, that would be awesome if you have time to send a PR :)

[2015-10-22 06:07] sskyy commented on #375
+1

[2015-10-22 06:20] slatkovic commented on #401
@simonewebdesign did you eventually figure out how to do this?

[2015-10-22 09:11] simonewebdesign commented on #401
@slatkovic yes - I don't have the configuration at hand, but if I recall correctly, setting `testDirectoryName` to `<rootDir>` did the job. It was not ideal for us though, so eventually we switched back to mocha/chai/sinon.

[2015-10-22 11:20] teosz commented on #559
@cpojer: https://github.com/teosz/test-problem-reproduce

[2015-10-22 12:07] ColCh commented on #17
Webpack is very fast in dev-watch mode.

Because:

1. Webpack keeps their runtime in memory (without reloads)
2. Compilled source code is located in memory too.

So, in my Jest preprocessor I've implemented only (2) point.

In shorten, a package (**Jestpack**, right...) on top of Jest and Webpack will resolve all issues with performance - just keep Jest and Webpack runtime in memory, compile files

[2015-10-22 12:09] ColCh commented on #17
Ah, I should mention, that **Karma** with **Webpack** as preprocessor is working very slow too. So, I think that main performance drop is because of webpack runtime reloads between files.

[2015-10-22 18:53] mhagmajer commented on #474
+1

[2015-10-22 19:02] cpojer commented on #474
Agreed! @garthk are you open to sending a pull request for this feature? :)

[2015-10-22 20:47] inf3rno opened #563 "Requirements missing from documentation"
Please add to the documentation that node 4 needed, because the lib uses arrow functions!

[2015-10-22 20:52] elliottsj opened #564 "`jest --watch` watches files outside of testPathDirs"
I've configured jest like this:

[code]

But jest re-runs tests even when I save files outside of `"<rootDir>/app"`, e.g. saving `"<rootDir>/gulpfile.js"` triggers a test re-run.

[2015-10-22 22:03] cpojer commented on #564
cc @huang47 can you take a look?

[2015-10-22 23:34] brunoqueiros commented on #555
You should run `npm install` inside the jest root folder and on the example folder too.

|- jest
|-- examples
|--- react-es6

[2015-10-22 23:35] cpojer commented on #555
Yeah I think everything that is needed is there? Please feel free to reopen if you think this is a problem with jest.

[2015-10-22 23:35] #555 closed

[2015-10-23 04:31] huang47 commented on #564
yes sire!

[2015-10-23 15:41] mrberggg opened #568 "Get Started Docs need updated"
I'm new to Jest so it's possible I'm missing something but I think the Get Started docs need updated to include "<rootDir>/node_modules/fbjs" in unmockedModulePathPatterns under Setup. Tests would not run without making this change.

Using the following: Node 4.2.1, React 0.14, Jest CLI 0.6

[2015-10-23 16:25] clentfort commented on #568
Not necessarily the getting started one, but the guide for testing React should include this information.

[2015-10-23 17:00] mrberggg commented on #568
Yeah, sorry, to be clear, the React Quick Start page. https://facebook.github.io/jest/docs/tutorial-react.html#content

[2015-10-23 18:28] cpojer commented on #563
sorry! Yes this was added in #565

[2015-10-23 18:28] #563 closed

[2015-10-23 19:34] cpojer commented on #568
Yeah this needs to be aligned with the `examples/react` folder. @clentfort or @mrberggg would you be interested in sending a PR for this?

[2015-10-23 20:02] schwiet commented on #90
Any update on this? I'm running into this problem when using a symlink in `node_modules`.

[2015-10-23 20:35] cpojer commented on #568
Done in #570

[2015-10-23 20:35] #568 closed

[2015-10-23 20:37] mrberggg commented on #568
@cpojer I literally just sent a PR with changes... Should I revert?

[2015-10-23 20:39] cpojer commented on #568
I commented on your pull request :) Let's take it from there!

[2015-10-23 21:11] cpojer commented on #559
For some reason react is being mocked even though it shouldn't. This is weird.

[2015-10-23 21:21] cpojer commented on #559
Seems like setMock really, really sucks :)

[2015-10-23 21:26] cpojer commented on #559
https://gist.github.com/cpojer/72093d149e725a5e6082 this patch can make your tests work properly. In short `setMock` sucks and doesn't work as well as it should. I'm hoping to fix this soon. I added a mock using the new `moduleNameMapper` feature which will match all `.css` files and use the same stub for them. This now makes your tests work. You might also be able to turn this into a pull request

[2015-10-23 21:26] #559 closed

[2015-10-23 21:26] cpojer opened #572 "Make moduleNameMapper work properly without @providesModule"
See https://github.com/facebook/jest/issues/559

[2015-10-23 21:35] cpojer commented on #46
I don't think I'll be adding support for this in jest. If you need this, feel free to send a pull request.

[2015-10-23 21:35] #46 closed

[2015-10-23 21:35] cpojer commented on #59
I'd recommend not mocking Backbone. It probably uses some meta programming that we can't mock properly.

[2015-10-23 21:35] #59 closed

[2015-10-23 21:36] cpojer commented on #61
superagent should be unmocked or use a manual mock as suggested.

[2015-10-23 21:36] #61 closed

[2015-10-23 21:37] cpojer commented on #62
This was fixed a while ago :)

[2015-10-23 21:37] #62 closed

[2015-10-23 21:41] cpojer commented on #177
This shouldn't be an issue any more.

[2015-10-23 21:41] #177 closed

[2015-10-23 21:43] cpojer commented on #287
I'd recommend unmocking it by default.

[2015-10-23 21:43] #287 closed

[2015-10-23 21:43] cpojer commented on #286
Yep, this is best handled inside of tests themselves. Another solution is to set the global __DEV__ to false.

[2015-10-23 21:43] #286 closed

[2015-10-23 21:44] cpojer commented on #281
Unfortunately we won't be able to support this natively anytime soon. I recommend moving away from require.extensions and using a preprocessor to do any kind of extra processing.

[2015-10-23 21:44] #281 closed

[2015-10-23 21:45] cpojer commented on #268
Yeah this is using static analysis to analyze the require statements, a constraint we cannot change actually. Please don't use variables to require modules.

[2015-10-23 21:45] #268 closed

[2015-10-23 21:47] #198 closed

[2015-10-23 21:47] cpojer commented on #185
I think the problem here is that React is being mocked. I recommend going through the example tutorial again (we just recently updated it) and it should work properly now!

[2015-10-23 21:47] #185 closed

[2015-10-23 22:04] cpojer commented on #199
This seems like it was resolved.

[2015-10-23 22:04] #199 closed

[2015-10-23 22:05] ide commented on #46
I must have opened this back when I was using fibers. Yay for async functions!

[2015-10-23 22:51] #211 closed

[2015-10-23 22:54] cpojer commented on #381
I'm going to start rewriting the haste module loader soon and want to support third-party module loaders as outlined in this plan above. @iamdustan let me if there is anything I can do to support you better with the new functionality. Is adding a config for a different module loader enough for you?

[2015-10-23 22:59] cpojer commented on #381
There is a `moduleLoader` config already that allows you to specify a custom module loader. Is that enough for most cases?

[2015-10-24 12:32] clentfort commented on #375
jest will no longer mock node core modules as of jest 0.3. See #541 for more information. A fix for the example is provided in #573.

[2015-10-24 18:03] #375 closed

[2015-10-24 18:03] #541 closed

[2015-10-25 22:33] richardscarrott commented on #17
@cpojer I figured it was your intention to eventually make module loaders configurable as it was already optioned out so I thought I'd give it a stab with Jestpack. The only real problem I ran into was understanding the logic for discovering manual mocks for node_modules https://github.com/facebook/jest/issues/509, I ended up just going with a solution that made sense to me but if you're able to p

[2015-10-26 07:25] zeroliu commented on #296
Any updates on supporting fit & fdescribe in jest?

[2015-10-26 16:56] cpojer commented on #296
Given that jest runs tests in parallel this seems quite impossible as @jeffmo pointed out earlier. What I've found to work well is `it.only` and passing the name of the test to jest, so it only runs a single file:

`it.only(...)` and `jest MyTest.js`

[2015-10-26 16:56] #296 closed

[2015-10-26 17:06] cpojer commented on #17
`moduleLoader` can already be specified as part of the config, actually.

[2015-10-26 20:21] clentfort opened #578 "[Proposal] Ship precompiled version of `jasmine-only`"
Currently jest uses [jasmine-only](https://github.com/davemo/jasmine-only) to supply `it.only` and `describe.only` which is written in coffee-script. Since jasmine-only is complete it should be possible to ship a precompiled version of the package (similar to `vendor/jasmine/jasmine-1.3.0.js`). This would allow us to drop the requirement on coffee-script and skip the compilation step in `src/jasmi

[2015-10-26 20:25] cpojer commented on #578
that sounds like a good idea. I've been wondering why jest depends on coffee-script and haven't gotten around to look at the jasmine part of jest yet, unfortunately.

[2015-10-26 22:33] kresli opened #580 "using phantomjs with jest"
Is it possible to use PhantomJS for testing? Because I need to use such a thing like mutationObserver my test are failing in jsdom.

[2015-10-26 22:35] cpojer commented on #580
No, unfortunately that is not currently possible. It may be possible to implement a separate PhantomJSContext for jest and you are welcome to send a pull request. Feel free to join our channel on discord ( https://facebook.github.io/react/blog/2015/10/19/reactiflux-is-moving-to-discord.html ) and ping me about this!

As of this time we have not planned adding support for this so I'll be closing th

[2015-10-26 22:35] #580 closed

[2015-10-27 06:37] lukesneeringer commented on #90
Could _we_ get a response from _you_, please?

[2015-10-27 14:19] cpinnix opened #583 "Hanging Before Coverage Output on "Running 1 test suite...""
I've been running jest tests for several versions now and I am seeing an intermittent issue where the script hangs at "Running 1 test suite..." just before printing coverage. I'm running in verbose mode with the hope of catching the error. But nothing prints.

This is my package.json config:
[code]

This is my preprocessor.js file:
[code]

And some version numbers:
npm 2.14.7
node 4.2.1
jest-cli 0

[2015-10-27 14:21] cpinnix commented on #583
Ah. Just after I wrote that. I get this output:

[code]

[2015-10-27 14:23] iamdustan commented on #381
Sooooo I’m on to a different company and not using Jest anymore.

[2015-10-27 14:34] singh1469 commented on #548
Great!

[2015-10-27 17:35] cpojer commented on #381
What, you accepted a new job and didn't check with me first?

[2015-10-27 17:37] cpojer commented on #583
That's not good. We certainly need to get better around memory usage, something I'll be focusing on in the future but not currently, unfortunately. Do you know which test consistently hangs and whether its only one or always a different test?

[2015-10-27 17:47] cpojer commented on #583
Can you repro this at all when you aren't using coverage? Coverage is way more expensive, so I'm wondering whether the issue is because it tries to generate coverage for a large app and it somehow fails.

[2015-10-27 17:56] cpojer commented on #90
Certainly! Unfortunately it is hard to auto-mock something at runtime that uses meta-programming for its implementation without ES2015 Proxies which aren't properly implemented in any engine yet. For these cases there are always two solutions:

* Create a manual mock instead
* Do not mock that module at all

In a lot of cases you don't actually want mocking. You probably always want an unmocked ve

[2015-10-27 17:56] cpojer commented on #90
The proper solution to this problem is to put "bluebird" into the "unmockedModulePathPatterns" config.

[2015-10-27 18:11] cpinnix commented on #583
Just ran twenty more tests with no coverage. The script hung twice on two different tests. To clarify, this means that the script hung after printing results for two different tests. Each test runs in parallel correct? If so, then how can we be sure it's actually hanging on two different tests, based on the console output?

I did recover one more stack trace:
[code]

Also, to give you an idea of t

[2015-10-27 18:15] cpojer commented on #583
oh yeah you got a lot of tests there. I also had an internal report of this and I'm hoping to find a fix for this soon but as always, these things are a bit hard to track down.

You can run your tests in the main thread using `--runInBand`, maybe try that together with `--verbose`.

[2015-10-27 18:16] cpinnix commented on #583
Actually, I am getting another failure on another box. This one is similar to the last one. Having to deal with the q library maybe https://github.com/kriskowal/q.

[code]

[2015-10-27 18:19] cpojer commented on #583
There is also `node-heapdump` which allows to create a heapdump of the current state of a node process that you can then open and inspect in node. I built a service at FB that used multiple contexts and had a circular reference from inside a context to the parent and it was just a mess to debug :(

[2015-10-27 18:30] cpinnix commented on #583
I got another error around q. My theory at the moment is that one of my tests is trying to do an http request and that request is pending. The request is handled via a promise. So maybe when a promise never resolves it just sits...

My tests shouldn't be doing requests at all though. So going to dig further and make sure that isn't happening.

[2015-10-27 18:35] cpojer commented on #583
If you do want to test Promises you can return a promise from a test (change `it` to `pit`) and it will have a 5 second timer for that promise to resolve.

[2015-10-27 18:35] cpojer commented on #583
Feel free to ping me on the reactiflux channel for jest, as well: https://facebook.github.io/react/blog/2015/10/19/reactiflux-is-moving-to-discord.html

[2015-10-27 19:15] cpinnix commented on #583
Got to the bottom of this issue. Basically one of my tests was doing a request, and with no internet connection, the request would just pend in a promise and eventually jest just fails.

The request was done in a flux store in response to a request data action. The problem originated from a container component test that was firing a request data action. The action hit the store and triggered the r

[2015-10-27 19:54] #583 closed

[2015-10-27 19:58] cpojer commented on #583
Thanks @cpinnix for tracking this down. We have had a similar issue at FB recently so I'm wondering if they are related. @jmorrell

[2015-10-27 22:29] #578 closed

[2015-10-28 09:33] akheron commented on #433
I found out that using `testPathDirs` breaks the coverage output. If I remove `testPathDirs` from config and use `testPathIgnorePatterns` instead to ignore tests from unwanted directories, I get real coverage output.

[2015-10-28 14:58] elliottsj commented on #526
:+1: I'm also interested in this feature. It would also be useful to be able to specify arbitrary threshold values like [karma-threshold-reporter](https://github.com/lithiumtech/karma-threshold-reporter):

[code]

[2015-10-28 19:15] richardscarrott opened #584 "Memory leak"
I've recently ported ~5500 tests made up of ~700 test suites to take advantage of Jest's test isolation and parallel test runs (no auto mocking etc. as the tests are vanilla jasmine).

I'm seeing the first 600 or so *test suites* run incredibly fast (< 90s) however my machine then runs out of memory and resorts to using the swap disk which as you could imagine drastically slows the tests down addi

[2015-10-28 19:19] cpojer commented on #584
Oh man, did I mess up this thing in Promise.resolve? I thought Promise.resolve calls the passed in function. That is messed up. I'm sorry!

[2015-10-28 19:20] richardscarrott commented on #584
It might be worth noting I'm running on an iMac with a quad core cpu which I think can handle multiple threads per core because `os.cpus().length === 8` so there are 8 child processes spawned.

[2015-10-28 19:21] cpojer commented on #584
Can you join me in #jest on discord so we can discuss there and resolve this? http://facebook.github.io/jest/support.html

[2015-10-28 20:01] cpojer commented on #526
Agreed! I haven't heard from @koddsson since he initially started his pull request.

[2015-10-28 21:51] koddsson commented on #526
Sorry! I've been super busy at work but I definitely wanna try to finish off #556 soon. I'm hoping I can get to it this week or at the weekend :pray:

[2015-10-29 01:11] iamdustan commented on #381
Weeeelllll buy me a house in a London suburb and I'll come work with you kind of sort of. (Not moving to California) :innocent:

[2015-10-29 13:53] richardscarrott commented on #584
Hi @cpojer, I've created a reduced test case here https://github.com/richardscarrott/jest-mem-leak so hopefully that let's us rule out a few concerns.

It's probably worth noting I could reproduce the leak without [deliberately using a lot of memory](https://github.com/richardscarrott/jest-mem-leak/blob/master/src/Person.js#L4) by duplicating the test 1000s of times (I just didn't want to have to

[2015-10-29 19:37] cpojer commented on #372
Seems like this was unfortunately still not merged into jsdom. I'm closing this issue here as there is a corresponding issue on the jsdom issue tracker and we'll update once it is fixed.

[2015-10-29 19:37] #372 closed

[2015-10-30 19:17] buzinas commented on #139
Any news?

[2015-10-30 19:32] danvk commented on #139
It's a truism: if you're going to run your code in the browser then you should test it in the browser, too. Running your tests under node with jsdom isn't the same thing. It's just going to give you headaches.

My preferred approach for testing client-side JS is currently Mocha + mocha-phantomjs for running tests on the command line, but there are many ways to do it.

[2015-10-30 21:49] eriklharper opened #586 "Warnings appear on console even though console.warn is mocked in Jest 0.1.40 and Jest CLI 0.5.10"
I'm doing a routine React 0.14 upgrade from 0.13, and I also upgraded Jest to the versions specified above and noticed that my tests I had written that mock `console.warn` for testing to make sure React warns when required props are missing for some components are no longer preventing the warnings from showing up when I run tests.  I'm running Node v4.1.2, if that helps any.

[2015-10-30 21:55] cpojer commented on #586
Hey! First off, please upgrade to jest 0.6.1. Second, can you paste an example of a test where this happens os I can try to repro? :)

[2015-10-31 00:03] eriklharper commented on #586
Interesting.  I upgraded `jest-cli` to 0.6.1 and now I just get fancier warnings:

[code]

Here's my image component:

[code]

And here's the corresponding test:

[code]

[2015-10-31 00:07] cpojer commented on #586
Yep! We fixed a bunch of things in how we are dealing with the console :)

the `warning` module in react actually uses `console.error`, so you need to stub that :) https://github.com/facebook/fbjs/blob/master/src/__forks__/warning.js#L42

[2015-10-31 00:07] #586 closed

[2015-10-31 18:49] richardscarrott commented on #584
@cpojer I spent some time looking at this today and (after fixing the dispose call) I've narrowed the leak down to [FakeTimer](https://github.com/facebook/jest/blob/0.6.1/src/lib/FakeTimers.js). In particular it's related to the [fake next tick](https://github.com/facebook/jest/blob/0.6.1/src/lib/FakeTimers.js#L48) as [Replacing this line](https://github.com/facebook/jest/blob/0.6.1/src/lib/FakeTi

[2015-10-31 19:11] subjectix commented on #584
@richardscarrott at [this line](https://github.com/facebook/jest/blob/0.6.1/src/lib/FakeTimers.js#L46):

[code]
Might the leak go further down to the the `this._fakeNextTick` function at [this line](https://github.com/facebook/jest/blob/0.6.1/src/lib/FakeTimers.js#L328)? I mean, if the function gets called a lot we'll have so many captured arrays and variables. I'm not sure... depends on how often

[2015-10-31 20:39] richardscarrott commented on #584
@subjectix ah yeah I've got it now -- I didn't realise [`this._global.process.nextTick = ...` was actually mutating Node's global process object](https://github.com/facebook/jest/blob/0.6.1/src/JSDomEnvironment.js#L39).

This means each new instance of FakeTimers actually holds a reference to the previous instance because of [this](https://github.com/facebook/jest/blob/0.6.1/src/lib/FakeTimers.js#

[2015-11-02 13:53] giselermf commented on #200
+1

[2015-11-02 17:38] eriklharper commented on #586
this worked @cpojer thanks very much!

[2015-11-02 19:58] huang47 commented on #564
sorry didn't get back to this for a while, I was trying to make a fix but seems like we should move the watch implementation to src/jest.js instead of bin/jest.js which doesn't own any knowledge of test dirs/paths. will try to squeeze some time to commit a patch later this week to address this problem

[2015-11-02 20:52] cpojer commented on #586
Anytime! Feel free to join us on discord https://discordapp.com/channels/102860784329052160/103622435865104384 if you have future questions :)

[2015-11-02 22:10] cpojer commented on #584
Thanks for all the debugging work. Using `Object.assign` for `global.process` does indeed fix memory usage a lot! I'm working on a fix for jest 0.7.0.

[2015-11-03 00:47] cpojer commented on #584
Fixed in https://github.com/facebook/jest/commit/4e127314516bdd48238cc82ee3e9b6a039520928 and I will tag 0.7.0 shortly. @richardscarrott would you mind trying to run your code like this (after upgrading):

`node --debug node_modules/jest-cli/bin/jest.js --runInBand --logHeapUsage`

[2015-11-03 00:47] #584 closed

[2015-11-03 06:13] ide opened #587 "[Docs] Document new methods like jest.resetModuleRegistry"
@cpojer if you don't have time for this could you list out the new functions in 0.7 and label this issue as "help wanted"?

[2015-11-03 06:58] subjectix commented on #584
@cpojer Thanks for the fix :D

[2015-11-03 07:01] cpojer commented on #587
There are no new APIs in 0.7. I removed APIs that were undocumented in open source and never should have been open sourced in the first place. `jest.resetModuleRegistry()` is being called implicitly before each test run. It simply wipes away the module registry for all modules and has been around forever. It was previously called `require('mock-modules').dumpCache()`.

[2015-11-03 07:01] #587 closed

[2015-11-03 07:02] cpojer commented on #587
Also, the reason I'm doing this is to

* refactor jest into a codebase that a human can understand and read
* replace node-haste in the future

[2015-11-03 07:52] ide commented on #587
Oh ok. I just remembered that a lot of tests called `dumpCache()` and thought that `resetModuleRegistry()` was a public API.

[2015-11-03 09:01] cpojer commented on #587
Yeah, it is a public API because there exists a config option to disable the reset, mainly for the react/relay open source projects. I'm hoping to kill this option and also to completely revamp configs (+ have some sort of legacy-options converter or something).

[2015-11-03 10:04] bardt opened #589 "Runtime errors preventing test from being run don't count test as failed"
Given a code like this:

[code]

I expect to get final report as following:

[code]

But instead I get:

[code]

# Explanation

If import fails (wrong path or something) Jest output this test as Failed followed by stack trace, but doesn't count it this way in final report. So, I get `70 tests passed (70 total in 18 test suites, run time 16.805s)` and command line process exits with code 0. This is

[2015-11-03 11:21] akheron commented on #255
I have the same issue.

[2015-11-03 13:42] vassyz opened #590 "Not able to install using Node.js 5.0.0"
```>  npm install jest-cli --save-dev```

returns

[code]

It works fine on 4.2.1

[2015-11-03 13:47] clentfort commented on #590
Could you try with a newer version of npm? If you OS does not provide a newer version you can use npm to upgrade npm by running `npm install -g npm`.

[2015-11-03 14:03] vassyz commented on #590
Still doesn't work

[code]

[2015-11-03 15:16] richardscarrott commented on #584
Just tried out 0.7.0 and the memory pressure is really stable :)

`node node_modules/jest-cli/bin/jest.js --runInBand`
16 tests failed, 5600 tests passed (5616 total in 682 test suites, run time 330.041s)

`node node_modules/jest-cli/bin/jest.js`
16 tests failed, 5600 tests passed (5616 total in 682 test suites, run time 76.257s)

Thanks for sorting this @cpojer!

[2015-11-03 19:11] cpojer commented on #590
It seems like this is a problem with one of the dependencies of jest and might be related to npm 3. I'll take a look

[2015-11-03 19:21] cpojer commented on #589
Hey! Are you using jest 0.7.0? This was fixed recently.

[2015-11-03 22:39] cpojer commented on #590
btw. at Facebook we adopted Node's LTS release process. Which means that we will officially support the LTS releases and upgrade only once every 6 months. I am less likely to discover these kind of issues (Node 5 was released just a few days ago) and will appreciate pull requests. We should probably add node 5 to the travis matrix, however.

[2015-11-04 00:15] hgezim opened #591 "`expect` fails when mock function returns an array and you expect an object with index"
This test used to succeed and it now fails with no obvious error messages:

    var mockFn = jest.genMockFunction().mockImplementation(function() {
      return [ {migration_id: 'CJT0N9CK3XAQD5FQ4SA5G'} ];
    });

    expect(mockFn()).toEqual({
      0 : {
        "migration_id": "CJT0N9CK3XAQD5FQ4SA5G"
      }
    });

[code]

[2015-11-04 00:37] cpojer commented on #591
Agree the error message here could be better but this was a change we backported from jasmine 2. The fix is to change the object into an array or the array into an object :)

[2015-11-04 00:37] #591 closed

[2015-11-04 05:35] ivantsov commented on #590
I don't have any problem with `Nodejs 5.0.0` + `npm 3.3.6` and `jest 0.7`. Did you try to completely remove `node_modules` folder and run `npm install`?

[2015-11-04 06:01] cpojer commented on #590
Oh yeah, what happens when you upgrade from npm 2 to npm 3 without wiping away node_modules?

[2015-11-04 09:53] vassyz commented on #590
@ivantsov Thanks. That seems to do the trick. I was sure that I'd deleted the node_modules folder, but I know I kept switching between node versions. I probably didn't do it on 5.0.0

This issue can be closed as far as I'm concerned.

[2015-11-04 09:54] bardt commented on #589
Yeah, my bad. New version works just fine!

[2015-11-04 09:54] #589 closed

[2015-11-04 10:23] akheron commented on #381
Will the HasteModuleLoader rewrite fix the issue that it doesn't currently seem to understand how nodejs finds modules? If, for example, there are multiple files called `foo.js` somewhere under `node_modules`, only the last one found remains in resourceMap, and all `require('foo')` calls get that module. I'm not exactly sure why the resource id is resolved as `foo` for some `foo.js` files and `pat