[2016-06-17 21:39] #1186 closed

[2016-06-17 22:35] MattFoley commented on #1187
Here's a repository that shows the issue. Switch devDependency between 0.9.x and 12.x to see the issue in action: https://github.com/MattFoley/jest-resolve-issue

[2016-06-18 13:37] lennerd commented on #880
Another workaround till this is fixed is to create a mock file:

[code]

[code]

[code]

[code]

[2016-06-19 01:08] Daniel15 commented on #1095
Should be fixed by #1189.

[2016-06-19 01:27] Daniel15 opened #1190 "No output with Jest v12.1.2-alpha"
v12.1.2-alpha just prints the version with no other output, and doesn't actually seem to run any tests:

[code]

v12.1.1 works fine:
[code]

`--verbose` doesn't help either.

This is a fresh installation on a new project, with no config in `package.json` (so, using all the defaults).

[2016-06-19 01:50] Daniel15 commented on #1190
@cpojer - This bisects to df1563fcbd80d8a44caa5b7af1def686f0f5ed1f for some reason - The commit immediately before that one (90e942f0d53ef09fc1c399e53afe7425593f6297) works properly.

[2016-06-20 00:16] a9udn9u commented on #921
Any updates on this?
I added what's in https://github.com/fbsamples/f8app/blob/master/package.json#L51-L60 to my jest config, still getting this:
Error: Cannot find module 'ErrorUtils' from 'env.js'

[2016-06-20 11:48] timothytong opened #1191 "No option to ignore path(s) when collecting test coverage"
Currently the only option to not generate coverage for certain files or directories is to use the `--collectCoverageOnlyFrom` option in our `package.json` files. However, I ran into a problem when I wanted to test all js files in my codebase but just a couple files that are already being tested somewhere else (please don't ask why there are reasons behind that). IMHO, enumerating all those files w

[2016-06-20 16:34] dmitriiabramov opened #1192 "CI on windows"
should we try https://www.appveyor.com/ ?

[2016-06-20 20:54] cpojer commented on #1192
I believe we do already have an account, we just need to set it up and make the test suite work on Windows, which may not be trivial. Is this something you'd want to do?

[2016-06-20 21:55] cpojer commented on #1191
I agree! Would you mind sending a pull request for this? This should be in the config and not part of the CLI and should be fairly straightforward to implement. I'd call it `coverageIgnorePaths`.

[2016-06-20 22:47] cpojer commented on #1190
Yap, already fixed on master. The alpha release are pretty much just for the Jest core team (= me). Sorry about the issue.

[2016-06-20 22:47] #1190 closed

[2016-06-20 22:51] #1095 closed

[2016-06-20 23:56] bookman25 commented on #1191
It'd be nice if it used minimatch as well and not regex.

[2016-06-21 00:22] cpojer commented on #1191
This unfortunately has to use regex to stay consistent with the rest of Jest.

Changing Jest to other matching algorithms is part of our plan to rewrite configs, but shouldn't be done in this change :)

[2016-06-21 05:56] Daniel15 commented on #1180
Fixed with #1189

[2016-06-21 05:56] #1180 closed

[2016-06-22 09:12] nodkz opened #1204 "`Object.create` problem, Jest can not test mongoose models (mocha works perfectly)."
Yesterday I whole day try to test mongoose models with jest. Firstly, think that problem with me and my hands. And I tried tons of variants jest's configs, re-read tons of issues. And at last I take `mocha` and it started up with the first kick.

It seems, that **`Object.create`** some-how not fixed properly (https://github.com/facebook/jest/issues/933)
Mongoose internally use `Object.create` for

[2016-06-22 13:18] danielstern commented on #1204
When I was having a simliar problem, the issue was the Mongoose Connection. Try to save a reference to your connection and use it specifically to create all Models and operatoins.

[2016-06-22 13:54] davidaurelio opened #1205 "Run tests once initially when using `--watch`"
When using `--watch` jest does not run the tests immediately, and waits for the first change.

It would be much nicer if jest actually ran the tests after starting up.

[2016-06-22 13:57] davidaurelio opened #1206 "Allow different configurations for subfolders"
For mixed client/node code projects, it would be very useful to configure jest differently for both environments: mocks, module system, transform etc.

[2016-06-22 14:29] megawac commented on #104
The issue I'm having with integrating jasmine-reporters is that because Jest spawns a different jasmine instance for each file, you cannot consolidate results. Normally you would want the test suites from all tests to be aggregated into a single output but with Jest it's only possible to create an output per file

[2016-06-23 02:16] dmitriiabramov opened #1207 "Jasmine 1 EOL"
when? :)

[2016-06-23 03:58] nodkz commented on #1204
@danielstern many thanks for the temporary hack!

But I hope that this problem will be resolved in proper way.

[2016-06-23 09:41] reactivize opened #1208 "Runtime Error on latest Jest version."
Hi, I installed the latest Jest, but now I'm getting this error on all my tests...

Runtime Error
SyntaxError: Unexpected token < in file __tests__\app\components\CartItem-test.js.
Make sure your preprocessor is set up correctly and ensure your preprocessorIgnorePatterns configuration is correct:
http://facebook.github.io/jest/docs/api.html#preprocessorignorepatterns-array-string
    If you are cu

[2016-06-23 09:44] TylorShin commented on #335
+1 T_T

[2016-06-23 19:24] ethemes commented on #1208
Getting ReactNative to integrate with Jest requires a few setup steps. Please take a look at this updated answer:

http://stackoverflow.com/a/37899126

[2016-06-24 05:11] reactivize commented on #1208
Thanks for the link, but my error is specific to a ReactJS web app.

[2016-06-24 05:13] cpojer commented on #1208
Can you try running Jest with `--no-cache`? Jest currently doesn't recognize changes to .babelrc files and only compiles files again when you change them.

Also, does Jest print `babel-jest`? Can you provide a repository with a config and code that shows this problem? I'm pretty sure this problem lies with you but with limited information there is no way I can troubleshoot this issue properly.

[2016-06-24 05:14] cpojer commented on #1207
We are not killing it for now but we aren't adding any features to it. If it breaks it breaks, and we'll kill it.

[2016-06-24 05:14] #1207 closed

[2016-06-24 05:14] #1176 closed

[2016-06-24 05:15] cpojer commented on #1122
We now have a notification via `--notify` and I'll be working on more performance work. I'm also hoping that the Nuclide team put the test runner onto their list of things to work on for next half. cc @zertosh

[2016-06-24 05:15] #1122 closed

[2016-06-24 05:16] cpojer commented on #1126
Duplicate of #1121.

As a workaround, you can wrap your `it` calls with `describe`.

[2016-06-24 05:16] #1126 closed

[2016-06-24 05:16] cpojer commented on #988
duplicate of #1175

I'm working on it.

[2016-06-24 05:16] #988 closed

[2016-06-24 05:17] cpojer commented on #1013
Closing due to inactivity. Please feel free to provide a repro and I will reopen.

[2016-06-24 05:17] #1013 closed

[2016-06-24 05:18] cpojer commented on #1205
We used to have this but it is actually impossible for anything of Facebook scale so we removed it. I recommend doing `jest; jest --watch` if you'd like this behavior.

[2016-06-24 05:18] #1205 closed

[2016-06-25 18:23] jwbay commented on #993
Can I ask why this was closed? My team recently had to turn off coverage requirements in our CI because of process-out-of-memory exceptions. We have a lot of Jest tests :)

Tangentially, has any thought been given to using [NYC](https://github.com/bcoe/nyc) over istanbul directly? From what I understand NYC wraps istanbul to make it easier to collect coverage from spawned processes. From a cursory

[2016-06-26 05:49] calclavia commented on #1175
Any updates on this issue? I'm having trouble with using Jest and Enzyme as well.

[code]

[2016-06-26 06:54] calclavia opened #1211 "Jest Coverage All Files"
When Jest performs code coverage, it seems to only cover the files that were tested instead of all files in my source directory. This gives a skewed percentage of files tested.

For example, if I have 10 source files and I only test one of them, the coverage report will not include all the files. It would be nice if there's a way to specify which files should be covered. collectCoverageOnlyFrom do

[2016-06-26 21:52] reactivize commented on #1208
Hey cpojer,
thanks for the input.
I figure out that the problem is that babel-preset-es2015-webpack prevents the running of tests by direct calls from the terminal.
I'll close for now.

Keep up the good work guys!

[2016-06-26 21:52] #1208 closed

[2016-06-27 13:39] vvo commented on #139
One very interesting information from this thread is that it seems running unit tests in browsers not to be a priority for Facebook. Which means: Facebook, one of the biggest website in the world does not need to run unit testing in browsers, only in nodejs, with jsdom and auto mocks.

Could maybe one Facebook engineer explain how they came with this reasoning. Is facebook using solely jest for un

[2016-06-27 13:44] vvo opened #1212 "Can I use automocking with mocha?"
One of the ideas I like from jest is it's auto mocking idea. Currently the only easy way in ES6 to mock dependencies is to use https://github.com/speedskater/babel-plugin-rewire but it only allows mocking after the dependencies have been loaded.

Do you think we could extract and create a babel loader that would apply jest automocking and provide some functions around it?

This would allow us to p

[2016-06-28 00:42] cpojer commented on #1212
Yes, you can use the `jest-mock` module which is standalone if you'd like but we have no documentation. If you'd like to use it outside of Jest, you'll have to spend a little bit of time with it :)

[2016-06-28 00:42] #1212 closed

[2016-06-28 08:12] vvo commented on #1212
Ah ok, I am more looking for a way to add smg like "jest-babel" to my babel plugins and while using mocha, be able to mock dependencies jest style.

[2016-06-28 08:13] cpojer commented on #1212
Well that's certainly gonna be a lot more work. I'm sorry we don't have the capacity to support other testing frameworks from within Facebook and I hope you'll understand.

[2016-06-28 08:30] vvo commented on #1212
No problem :)

[2016-06-28 13:39] vvo commented on #979
Fixed this by specifying:

[code]

in package.json

I have been trying to trace the infinite watch loop in the code without luck.

[2016-06-28 15:20] vvo commented on #817
Is https://github.com/jmcriffey/babel-istanbul relevant to this discussion?

[2016-06-28 15:32] vvo commented on #817
Also this seems to be very recent and maybe a good addition? https://github.com/istanbuljs/babel-plugin-istanbul

[2016-06-28 15:42] vvo opened #1213 "Is .babelrc actually read?"
I am trying to add new plugins to my .babelrc at the root of my project, and using the jest-cli.

No matter what I put in my .babelrc it seems to not change anything at all, even if I put some gibberish content inside it, jest will just works maybe because it's not reading .babelrc at all?

[2016-06-28 16:00] vvo commented on #1213
Ok this is only a matter of cleaning the cache.

[2016-06-28 16:00] #1213 closed

[2016-06-28 20:03] vvo opened #1214 "Simple ES5 test file fails at coverage"
index.js:

[code]

test.js
[code]

result
[code]

Same with mocha:

[code]

I have setup a reproducible repository at https://github.com/vvo/test-coverage-jest.

[2016-06-28 22:01] dmitriiabramov commented on #1192
@cpojer can we keep this issue open? i'll look into it whenever i have time

[2016-06-28 22:08] dmitriiabramov opened #1215 "alias `it` to `test`"
this is more of a semantic thing.
I'm working on autogenerating test files for flux reducers and it's just hard to generate meaningful test descriptions sometimes.
so it would be nice instead of
[code]
do
[code]

[2016-06-28 22:31] dmitriiabramov opened #1216 "coverage thresholds per file"
measuring coverage for entire codebase might be not a good metric, but sometimes we want to ensure that critical parts of our app are covered.

I was thinking about something like

[code]

would that be something we can do in jest?

[2016-06-29 01:17] cpojer commented on #1215
I'm ok with that.

[2016-06-29 07:19] cpojer commented on #1216
I believe there is quite a lot of impact to be had if you'd like to work on improving code coverage support in Jest and I'm happy to meet sometime this or next week to chat and also happy to put this on the H2 plan for Jest. Here are a few thoughts about this:

We've had a lot of discussions about this. Generally my team hasn't been excited about this idea so much and there are some concerns:

* T

[2016-06-29 07:26] cpojer commented on #139
@vvo Hey! I'm happy to share some thoughts. Five years ago we actually used to have a browser unit test suite (that I used to work on, hah!) but it wasn't good, slow to use and not how people built code at FB.

We then built a command line testing utility with a mock-dom and people loved the iteration speed and how well it worked. The browser test suite was killed and we never looked back. To cove

[2016-06-29 07:37] vvo commented on #139
Awesome feedback, thanks a lot :)

[2016-06-29 08:22] cpojer commented on #1187
Hey @MattFoley,

sorry that I made you wait so long. We made a change to how we detect "@providesModule" to be closer to how we use it at Facebook. You'll need to use a real docblock:

[code]

Note that the first line is `/**` instead of `/*`. Sorry that I'm putting you through the trouble to update all your files but thank you for providing a repro that enabled me to figure this out :)

Also, you

[2016-06-29 08:22] #1187 closed

[2016-06-29 08:24] cpojer commented on #1172
I recommend using `W:\path_to_libs` directly instead of `<rootDir>` in this case.

I think it is probably ok to send a PR that will remove the slash when it is a drive, but that should happen earlier where "rootDir" is being set if its on Windows.

[2016-06-29 09:13] FredyC commented on #139
I'll just add my two cents here. I've started working on a new project with React. I've decided to write unit tests for my Redux code only. Instead of browser tests I am giving a go to shiny new toy called [React Storybook](https://github.com/kadirahq/react-storybook) which essentially allows me to create show case (story) of my components and how would they behave/render based on various inputs.

[2016-06-29 19:57] grrseguin opened #1220 "Jest not working with react-css-modules"
Hello,

When a  ReactJS project is setting with Webpack, Jest not working with [react-css-modules](https://github.com/gajus/react-css-modules).

Like you will see on [my example](https://github.com/grrseguin/jest-N-react-css-modules) the error below appears when this command is launched : `npm run test`.

[code]

Do you know how to avoid this error ?

[2016-06-29 20:29] vvo commented on #1220
Seems the automocking did not work well, you could try this in your test:

[code]

or

[code]

[2016-06-29 20:29] vvo commented on #1220
Finally, see https://facebook.github.io/jest/docs/api.html#unmockedmodulepathpatterns-array-string

[2016-06-29 20:59] dmitriiabramov commented on #1206
It would be awesome to have multiple `.jestrc` files in different subdirectories. We could merge separate suites in www into one

[2016-06-30 02:24] cpojer commented on #1220
There is literally a link there in the error message with an explanation. Also, what @vvo said.

[2016-06-30 02:24] #1220 closed

[2016-06-30 02:25] cpojer commented on #1220
I also recommend to just disable automocking for all your tests. Try `"automock": false` in your config. It might be a better default.

[2016-06-30 04:28] cpojer commented on #993
Sorry, it looked like we weren't going to focus on this anytime soon but @dmitriiabramov made a strong case to me to improve coverage support :)

[2016-06-30 06:43] grrseguin commented on #1220
Thanks, i have unmocked [react-css-modules](https://github.com/gajus/react-css-modules) and updated [my example](https://github.com/grrseguin/jest-N-react-css-modules).

But, the error above is now replace by another one :
[code]

Jest try to parse the stylesheet which are imported in my component (like in [the official example](https://github.com/gajus/react-css-modules-examples/blob/master/src/U

[2016-06-30 07:34] vvo commented on #1220
I had the same issue when using webpack loaders or browserify transforms to load SVG files. Again the best way is to do:

[code]

[2016-06-30 07:40] cpojer commented on #1220
See the moduleNameMapper in the documentation for how to use Jest with webpack.

http://facebook.github.io/jest/docs/tutorial-webpack.html#content

[2016-06-30 07:42] vvo commented on #1220
Ah nice!

[2016-06-30 10:39] grrseguin commented on #1220
OK it works ! Thanks for your help 👍 .

Just note that it's not possible to use the `styleName` property of [react-css-modules](https://github.com/gajus/react-css-modules).

[code]
**Therefore, i used the `styleName` property instead !?**

I suppose that is an issue for [react-css-modules](https://github.com/gajus/react-css-modules)

[2016-06-30 11:01] grrseguin commented on #1220
To follow at [react-css-modules's issue num 146](https://github.com/gajus/react-css-modules/issues/146).

[2016-06-30 11:26] vvo commented on #226
Yep, seems like any attempt to mock any require('module/submodule') mapped to __mocks__/module/submodule is failing on my side.

In the meantime I use jest.mock + require.requireActual

[2016-06-30 12:12] vvo opened #1224 "Clearing the jsdom environment"
Currently between to it() calls, any DOM done will stay, so you have to manually clean it up.

Should we:
- provide a way to easily clean the jsdom env? (besides removeChild or innerHTML, is there any jest.clearDOM()?)
- automatically clean it for the user between to it() (as an option)
- do nothing, just clean your own mess

Also relevant, when I used mocha, I was using this very simple tool: htt

[2016-06-30 12:51] vvo opened #1225 "jest.mock is acting on a global state"
It seems like jest.mock('./module.js') is global to the whole test suite, not to the current file being tested.

Is this behavior expected?

[2016-06-30 12:54] #1225 closed

[2016-06-30 15:37] vvo opened #1227 "Access the returned value of a non constructor function"
I am using `jest.mock('./module.js', jest.fn(() => ({some: value})))`, how can I access the returned value much like we access the module.mock.instances for contructor functions?

That would be useful because I never rarely use constructor functions

[2016-06-30 20:33] pixeldrew opened #1229 "Basic Async timing out"
I set up a test project using jest 13.0.0

https://github.com/pixeldrew/test-jest

The basic async test fails due to:

- Error: Timeout - Async callback was not invoked within timeout specified by jasmine.DEFAULT_TIMEOUT_INTERVAL.`

I've not included any promise implementation.

This is running node v6.2.2

[2016-06-30 20:36] pixeldrew commented on #1229
Also fails on node v5.12.0

[2016-06-30 23:52] cpojer commented on #1229
Please read http://facebook.github.io/jest/docs/timer-mocks.html#content and look at the example code. Timers are mocked so you can advance them more quickly.

Use `jest.useRealTimers()` to use setTimeout directly.

[2016-06-30 23:52] #1229 closed

[2016-07-01 00:07] pixeldrew commented on #1229
ah thanks for that, doh.

[2016-07-01 00:53] cpojer commented on #1227
I'm not really sure I follow? You can just do

[code]

[2016-07-01 00:53] #1227 closed

[2016-07-01 01:07] dmitriiabramov opened #1230 "Catch unhandled `AssertionError`s"
right now if something throws an assertion error (e.g. `assert.equal(1, 2)`) we just print the error message.
AssertionError actually has a lot of info in it (actual, expected values) and we can pretty print the diff of two objects (mocha does that)

[code]

this is especially useful for things like eslint `RuleTester` that uses `assert` and delegates its testing to `global.it`.

https://github.co

[2016-07-01 01:09] cpojer commented on #1224
Cleanup doesn't really do much special stuff: https://github.com/rstacruz/jsdom-global/blob/master/index.js#L49

I suggest if you need this, to either:

* Write your own cleanup handler.
* Create a separate test file.

Does this work for you? At this point I'm quite hesitant to adding new APIs to support jsdom better.

[2016-07-01 03:15] cpojer commented on #1191
This is going to be in #1233 and will be tagged soon! :)

[2016-07-01 03:15] #1191 closed

[2016-07-01 03:17] cpojer commented on #967
We added a config option for this in #1233 and it will be shipped soon.

[2016-07-01 03:17] #967 closed

[2016-07-01 03:44] #1121 closed

[2016-07-01 04:35] mitermayer opened #1235 "Should accept dynamic configuration files"
Trying to create a dynamic configuration file to be used with jest, the problem is that it assumes the file read is a static '.json' file. It does not try to require the file but instead try to use fs.readFile and parse the text of that file as a json output.

I would like to be able to create dynamic configuration files and in order to do that would be great if the implementation of `loadFromFile

[2016-07-01 05:08] mitermayer opened #1236 "How to pass scriptPreprocessor throught the command line api ?"
How can we pass the path of a scriptPreprocessor throguh the cli ?

[2016-07-01 05:12] cpojer commented on #1236
There is no way. The scriptPreprocessor has to be specified through the config.

Please note this is not a help forum and such questions are better asked on stack overflow or on discord.

[2016-07-01 05:12] #1236 closed

[2016-07-01 05:22] vvo commented on #1224
Wfm

[2016-07-01 05:22] #1224 closed

[2016-07-01 08:36] vvo commented on #1227
module.js:

[code]

app.js
[code]

test.js
[code]

I understand this could be close to impossible to achieve automatically, let me know

[2016-07-01 08:38] cpojer commented on #1227
You aren't using `new` so it'd be `module.mock.calls`.

[2016-07-01 08:42] vvo commented on #1227
Yes this is what I am using, so I can check the call arguments, then for the created instance and spying on setValue, getValue I just do a mock. That's less convenient than if I was using classes and methods for sure.

Thanks

[2016-07-02 06:29] rosiakr commented on #919
@cpojer I don't think this is really fixed... :(
I am on Jest CLI v12.1.1 and I unit test this simple function that provides img paths for my react-native app.
`

    function provideImgPath(type) {
      switch (type) {
        case 'hamburgermenu':
          return require('../img/hamburgermenu.png');
          break;
        case 'cancelpicker':
          return require('../img/close_button.png

[2016-07-02 06:31] cpojer commented on #919
You don't have the relative regex: "^[./a-zA-Z0-9$_-]+\\.png$": "RelativeImageStub" that you'll need too.

[2016-07-02 07:06] rosiakr commented on #919
@cpojer Thank you for the super fast answer! I was messing with RelativeImageStub.js (which I found in node_modules/react-native/Libraries/Image/) but I wasn't able to change it to make it works. This time I guess I did, because my test is passing! Thanks so much!

BTW - I made a copy of this file ( MyRelativeImageStub.js), made my changes and placed it in my <rootDir>. From package.json I point t

[2016-07-04 16:02] zaytsevvla opened #1240 "testRegex match only .js"
package.json:
[code]
`jest` command finds `__tests__/test.js` but not `__tests__/test.jsx`

OS: win7

[2016-07-05 04:12] cpojer commented on #1240
You have to include `jsx` in the `moduleFileExtensions` config as well:

[code]

[2016-07-05 04:12] #1240 closed

[2016-07-05 14:50] samzhang111 opened #1245 "Mocking static class methods"
I ran into an issue trying to mock a static class method in Jest. Is this behavior supported?

Cross-posted at  http://stackoverflow.com/questions/38206478/mocking-methods-in-jest

I have a very simple unit test that looks like this:

    import ApiWrapper from '../../services/api_wrapper';
    jest.unmock('../helper')

    describe('Helper', () => {
        let Helper;

        beforeEach(() => {

[2016-07-05 16:36] dmitriiabramov opened #1246 "add an integration test for nested describes and verbose reporter"
https://github.com/facebook/jest/pull/1237#event-711105150

[2016-07-06 00:40] cpojer commented on #1245
The correct assertion should be `toBeCalled`. Can you try that?

[2016-07-06 00:48] samzhang111 commented on #1245
Sorry, that's what I meant. I typed the example in Stackoverflow directly.

[2016-07-06 00:51] cpojer commented on #1245
Jest resets the module registry on every call to `it`. You are requiring `ApiWrapper` on the top and `Helper` inside beforeEach, so Helper likely receives a different copy of `ApiWrapper`. To fix it you can:

* Import both classes on the top.
* Require both classes in `beforeEach`

Simplified explanation:
[code]

Let me know if that doesn't fix your problem.

[2016-07-06 00:51] #1245 closed

[2016-07-06 01:56] sebmarkbage opened #1249 "jest.resetModuleRegistry() resets mocks"
I'm not sure if this is intentional or not but I'd like to have a way to reset the state of all modules like `jest.resetModuleRegistry()`. However, I'd like to keep all the mock files I have without explicitly having to call `jest.mock(...)` everywhere I clear the cache.

My use case:

https://github.com/sebmarkbage/react/commit/0195de2a5cb679838f93f9d85530bbb1470091f4

Note that I have to add an

[2016-07-06 02:00] cpojer commented on #1249
I don't quite follow. Are you saying that everything that was required through or as a manual mock (`__mocks__`) should persist but everything else should be reset? I think that would be very confusing, especially since those mocks could retain references to modules that were reset, so you'd end up with multiple copies of certain dependencies.

[2016-07-06 02:17] sebmarkbage commented on #1249
No the module state should reset but what currently happens is that it becomes __unmocked__ which is surprising.

[2016-07-06 09:10] sebmarkbage commented on #1249
Actually I think the resetModuleRegistry was a red-herring. Looks like it happens in other cases too.

It seems like the manual mock clause is only involved when a file can't be found for whatever reason:

https://github.com/facebook/jest/blob/57758b483a7e9197158babe369448d657af7fa58/packages/jest-runtime/src/index.js#L560

[2016-07-06 19:27] sebmarkbage commented on #1249
I'm going to close this out because my description of the problem is wrong.

My solution was to call `jest.mock(...)` in an environment script. Code over configuration ftw.

[2016-07-06 19:27] #1249 closed

[2016-07-07 01:51] mitermayer opened #1253 "jest 13.2.0 - Error : TypeError: this.fakeTimers.dispose"
Since the latest release I get errors when running my tests.

[code]

[2016-07-07 01:52] cpojer commented on #1253
Can you try to rm -rf node_modules and install 13.2.0 again? There was some confusion with this release but it should work.

[2016-07-07 01:53] mitermayer commented on #1253
@cpojer just did it, same error. :(

[2016-07-07 01:53] cpojer commented on #1253
lerna is failing me :(

[2016-07-07 01:54] thejameskyle commented on #1253
@cpojer We're gonna come out of this and somehow it's still gonna be your fault 😝

[2016-07-07 01:54] dsifford opened #1254 "this.faketimers.dispose call breaking tests"
Hi there,

The update from `13.1.0` to `13.2.0` is breaking my tests.

Every test fails with the message:  `TypeError: this.fakeTimers.dispose is not a function`

I noticed from your commits that this was something that was just added. Is there perhaps something that I need to change in my config files for the tests to run?

Thanks! 👍

[2016-07-07 01:56] dsifford commented on #1254
In case you'd like to check out the tests: https://travis-ci.org/AcademicLifeInEM/ALiEMU/builds/142928181

[2016-07-07 01:58] cpojer commented on #1254
Duplicate of #1253. Sorry about this, we are fixing it right now and will be publishing a new version.

If you force install jest-util@13.1.2 it should work. Something in our publish script didn't update the dependencies properly.

[2016-07-07 01:58] #1254 closed

[2016-07-07 02:04] cpojer commented on #1253
Ok, 13.2.1 was published. Totally my fault but James isn't as innocent as he sounds :P

[2016-07-07 02:30] #1253 closed

[2016-07-07 04:20] cpojer commented on #1215
Done!

[2016-07-07 04:20] #1215 closed

[2016-07-07 05:58] scabbiaza commented on #857
Just for the history: the reason was in the slow hard drive.
After "million" experiments with different node modules (installation/deinstallation), my drive was completely fragmented. After defragmentation everything works quickly.

P.S. Using OS X, NOT SSD.

[2016-07-07 05:59] cpojer commented on #857
Thank you for the update! That's definitely reassuring :)

[2016-07-07 06:35] tonyxiao opened #1256 "Asynchronous beforeEach / beforeAll?"
Is it supported by jest? Sometimes test setup methods do not run synchronously.

[2016-07-07 06:36] tonyxiao commented on #1256
Also filed an issue in jest. https://github.com/jasmine/jasmine/issues/1145

[2016-07-07 06:39] cpojer commented on #1256
I don't believe that `beforeEach` and `afterEach` will work with async/await without us making modifications to it like we do with `it`. I have no problem with doing that though and it should be straightforward to make it happen.

If you'd like to send a pull request (with an integration test! See `integration_tests/promise_it`), here is where you'd look into adding it: https://github.com/facebook

[2016-07-07 06:47] tonyxiao commented on #1256
Will definitely take a look. In the meantime this is my work around. Tested working empirically with jest 1.3.1 :)

[code]

[2016-07-07 07:40] vvo commented on #1214
Simple ping here, just wondering if my issue is an actual issue. I have somehow trouble getting good coverage support with jest + babel. I guess we could maybe update the README to point that out if that's really an issue.

[2016-07-07 07:42] cpojer commented on #1214
We are working on improving code coverage over the next few months. cc @dmitriiabramov.

[2016-07-07 07:48] vvo commented on #1214
Yep that's why I thought we could update the documentation to reflect the coverage status of today, to avoid people spending a lot of time on it.

[2016-07-07 08:31] Fandekasp commented on #880
@lennerd, I tried your example, and it fails

![screen shot 2016-07-07 at 5 30 34 pm](https://cloud.githubusercontent.com/assets/260983/16647118/9cd6ab60-4468-11e6-9e90-7208f2661fdb.png)

using Jest CLI v13.2.3, jasmine2, babel-jest

[2016-07-07 08:32] lennerd commented on #880
@Fandekasp What version of Babel do you use?

[2016-07-07 08:34] Fandekasp commented on #880
I'm using babel@5.8.38 and babel-jest@13.2.2

[2016-07-07 08:36] cpojer commented on #880
Woah, I didn't realize babel-jest would even work with babel 5. We don't really support it any more…

[2016-07-07 08:36] lennerd commented on #880
Yes, maybe thats the reason. I use babel@6.5.2 and babel-jest@12.1.0.

[2016-07-07 08:55] Fandekasp commented on #880
Weird. When looking at my npm tree, it seems that babel 5.8.38 got installed from fbjs-scripts which got installed from react-native. I'm using react-native 0.23.1. Does it means upgrading react-native is unavoidable to get jest test working with exports ?

[code]

[2016-07-07 08:58] Fandekasp commented on #880
No, looking at the [react-native 0.23.1 packages.json file](https://github.com/facebook/react-native/blob/v0.23.1/package.json#L146), the fbjs-scripts version required is 0.7.2, not 0.4.0. No idea why an outdated version got installed when I just installed this repo.
Sorry, this is getting unrelated to jest. React native newbie here.

[2016-07-07 09:02] Fandekasp commented on #880
It looks like react-native 0.23.1 doesn't support babel 6... We'll have to upgrade our repo to get jest tests work with export

[2016-07-07 21:11] dmitriiabramov opened #1262 "jasmine compatible matchers"
An issue to keep track of all the matchers

- [x] toBeTruthy
- [x] toBeFalsy
- [x] toBe
- [x] toBeUndefined
- [x] toBeDefined
- [x] toBeNull
- [x] toBeNaN
- [x] toBeCloseTo
- [x] toBeGreaterThan
- [x] toBeGreaterThanOrEqual
- [x] toBeLessThan
- [x] toBeLessThanOrEqual
- [x] toContain
- [x] toEqual
- [x] toHaveBeenCalled
- [x] toHaveBeenCalledTimes
- [x] toMatch
- [x] toThrowError
- [x] toThrow
- [

[2016-07-08 01:30] Fandekasp commented on #921
Same problem here, jest tests are super slow without this config in the package.json, but getting this ErrorUtils issue. Please update the doc, thanks

[2016-07-08 05:44] cpojer commented on #1262
I vote for killing the `toHaveBeenCalled` ones completely.

We have our own matchers that work both with Jest mock fn's and Jasmine spies. Please put all of the matchers from https://github.com/facebook/jest/blob/master/packages/jest-jasmine2/src/index.js#L178 on your list – we should move them into the matchers file and out of `jasmine2/src/index.js`. Can't wait to kill off Jasmine's arms.

[2016-07-08 06:11] cpojer commented on #1262
Yep, the solution for this is a codemod. @kentaromiura ran this at FB recently, we just need to open source it and put it into js-transform.

[2016-07-08 07:20] Fandekasp commented on #770
Also stuck on this issue with `Cannot find module 'View' from 'react-native.js' `, and trying the haste config didn't solve it either. @cpojer can you give a status update regarding the doc?

[2016-07-09 05:56] calclavia opened #1273 "require.requireActual not returning the actual mock"
I create a simple test with Jest's default automatic mocking. I'm trying to test one of my app's modules, so I need to make sure the module I am testing is not mocked. However, using `jest.unmock('../moduleName')` did not seem to work.

I also tried using `require.requireActual('../moduleName')`, which also did not work.
https://facebook.github.io/jest/docs/api.html#require-requireactual-modulenam

[2016-07-09 06:27] mitermayer opened #1274 "Adding jest --coverage incompatible with setupTestFrameworkScriptFile"
Got this to work by adding to jest config

[code]

the problem is that i also have on my config `"collectCoverage": true,` this creates the following output

[code]

Notice that the reporter is included in there, it should not be in there.

[2016-07-09 06:28] mitermayer commented on #104
Got this to work by adding to jest config

[code]

the problem is that i also have on my config `"collectCoverage": true,` this creates the following output

[code]

Notice that the reporter is included in there, it should not be in there.

[2016-07-09 06:28] mitermayer commented on #104
create a new issue with the above comment https://github.com/facebook/jest/issues/1274

[2016-07-09 12:28] vvo commented on #1273
jest.unmock('../moduleName') should work as expected if the path to the module is the same as the import done in the code you are testing

[2016-07-09 20:25] calclavia commented on #1273
@vvo Here's a more specific example that did not work:

My test file (I'm trying to test TwitterProtocol module):
[code]
I believe the above code is correct?

[2016-07-09 20:45] vvo commented on #1273
Yes this should work, can you create a simple repository test folder on github so we can investigate?

[2016-07-10 11:27] angusfretwell opened #1278 "React modules executed twice?"
When testing React components with Jest, I receive `Warning: ReactComponentTreeDevtool: Missing React element for debugID 1 when building stack is shown` when calling TestUtils.renderIntoDocument. I filed [an issue](https://github.com/facebook/react/issues/7240) on React, and @gaearon identified that this was caused by Jest executing React modules twice.

Not sure if this is expected behaviour?

S

[2016-07-11 00:28] cpojer commented on #1274
There is `coverageIgnorePathPatterns` which you can use to exclude certain scripts from coverage.

[2016-07-11 00:28] #1274 closed

[2016-07-11 02:06] cpojer commented on #1273
Thanks for opening an issue. imports in TypeScript work similarly to ES2015 – they are hoisted above all other statements. When using babel-jest, we actually hoist `unmock` calls above imports. If you are using TypeScript, we don't have this custom transform available unfortunately.

Here are a few ways to work around this issue:
* Disable automocking completely ("automock": false) in the config.

[2016-07-11 02:06] #1273 closed

[2016-07-11 08:11] cpojer commented on #1278
I'm reopening the React issue, this is not related to Jest.

[2016-07-11 21:31] ecoleman opened #1279 "Jest v13: `npm test` doesn't run any tests"
After upgrading from v12 -> v13, I noticed our ci builds weren't actually
running the tests. It appears if we execute jest directly the tests run, but not via `npm test`

### Doesn't work:

[code]

Finds no tests, exits immediately (or is crashing, can't really tell)

### Does work:

[code]

## Version Information

node: v4.4.7
npm:  3.10.2
jest: CLI v13.2.3, jasmine2

[2016-07-12 03:27] calclavia commented on #1273
@cpojer Would such a plugin for TypeScript be difficult to make? If it's not too difficult, I can give it a shot.

[2016-07-12 03:28] cpojer commented on #1273
I don't know, does TypeScript have a plugin system like babel does or is the compiler still completely closed?

[2016-07-12 05:34] sasha42 opened #1280 "Getting starting guide is missing a comma"
There is a missing comma at the end of line 48 in `README.md`, in the getting started guide. If you add the comma to the `packages.json`, you will have your `npm test` run. Sorry can't produce a test case, but here is a screenshot of what happens:

![screen shot 2016-07-12 at 07 19 49](https://cloud.githubusercontent.com/assets/1775702/16756027/76099e14-4802-11e6-8314-3bfeae7aedcf.png)

The first

[2016-07-12 05:41] cpojer commented on #1280
The example is correct. It is up to you to add the correct amount of commas to your package.json. We cannot know what your package.json looks like and if you add the "scripts" section as last item to your package.json, you will not be needing to add a comma. If you add it anywhere in between, you will.

[2016-07-12 05:41] #1280 closed

[2016-07-12 05:49] leaves4j opened #1281 "Doesn't work well with koa2"
code:
[code]

error:
[code]
error line:
[code]

[2016-07-12 05:50] cpojer commented on #1281
Can you provide a full reproducible test case? Otherwise I'm afraid we will likely not be able to help.

[2016-07-12 06:08] leaves4j commented on #1281
@cpojer [https://github.com/leaves4j/jest-koa-bug](https://github.com/leaves4j/jest-koa-bug),node version is v6.2.0,thanks

[2016-07-12 06:14] cpojer commented on #1279
Jest would print a message if it can't find tests, so this seems like it is crashing for some reason.

Can you try:
* Without --verbose
* With node6

And specify some more info, especially what kind of CI and maybe your Jest config? This is really confusing, as `jest` inside of an npm script and `node_modules/.bin/jest` are exactly the same.

[2016-07-12 12:30] hakunin commented on #42
Just so you know, jasmine-pid doesn't seem to work with Jasmine 2 at all.

The solution is to use `jest.useRealTimers()` and jasmine's own async mechanism.

[code]

[2016-07-12 13:20] ecoleman commented on #1279
- Without verbose has no effect
- Node v4 & v6 exhibit the same behavior
- Running in Gitlab CI using docker

Jest Configuration:
[code]

[2016-07-12 20:16] ecoleman commented on #1279
I should note that running `npm test` works fine with jest v12.1.1 in my case.

[2016-07-12 20:55] tonyxiao opened #1284 "--coverage option is not compatible with --watch option"
when you use them together tests still run after each change but test failures are no longer visible.

After each test, the console clears to the following

[code]

You'd need to scroll up in the terminal buffer in order to view test failures, which makes `--watch` much harder to use.

[2016-07-12 22:17] dmitriiabramov commented on #1273
@cpojer would it make sense to run `babel-preset-jest` transformation on top of anything that is not `babel-jest`?
this would solve the coverage problem too

[2016-07-12 22:19] dmitriiabramov commented on #1273
so basically.. if you're using `babel-jest` you get `babel-plugin-jest-hoist` and `babel-plugin-istanbul` for free as a last step in your babel pipeline.
If you're using typescript/coffeescript/whatever, we'll jest run these two as a second transformation step. Performance would suck, but will solve a lot of issues

[2016-07-13 04:50] calclavia opened #1285 "[Feature] Clear all mocks"
There is a nice function to clear the mocks.
https://facebook.github.io/jest/docs/api.html#mockfn-mockclear

However, it would be even better if there's a function call for jest to clear all mocks during afterEach, so we don't have to manually reset all data for every single module.

[2016-07-13 04:52] cpojer commented on #1285
In Jest we reset the module registry in `beforeEach`. I suggest using `require` inside of `beforeEach` which will reset all modules instead of top-level requires.

Example:

[code]

This is how in Jest you'll get a fresh copy of all modules without any state for every test.

[2016-07-13 04:52] #1285 closed

[2016-07-13 04:55] cpojer commented on #1273
It's definitely ok if we go down this route. I wouldn't mind for everything that doesn't use babel already.

At FB, we use our custom preprocessor and we need to make sure we don't double process there – what kind of escape-hatch can you think of for this use-case?

To summarize:

* babel-jest should do coverage instrumentation and hoist Jest calls.
* babel-jest will be used to transform coverage

[2016-07-13 05:01] cpojer commented on #1284
cc @dmitriiabramov

Maybe we should have a short summary only (overall coverage) when using coverage and watch?

[2016-07-13 05:02] cpojer commented on #1279
Is there any way that I can easily try to run this myself? It's a bit hard to troubleshoot this otherwise :( I'm sorry you are running into this trouble, this is definitely confusing.

What exactly does your `npm test` look like?

[2016-07-13 05:17] dmitriiabramov commented on #1284
wait... why would you use `--watch` and `--coverage` at the same time? i used to throw an error in this case before, because the coverage will never be accurate

[2016-07-13 05:18] cpojer commented on #1284
I have asked this question myself but people seem to want it.

[2016-07-13 05:20] cpojer commented on #42
We have extensive documentation on how to work with async/await and Promises: http://facebook.github.io/jest/docs/tutorial-async.html#content

[2016-07-13 05:28] papermana opened #1286 "Annoying stack trace in output"
Every time I encounter any failure when testing with Jest, my console gets flooded with ridiculously long stack traces. They look like [this](http://pastebin.com/2tksEDFW). You can see in this example that there isn't even anything there which relates to my own files. It's just a hundred lines of internal Jest errors.

Is this a bug or an intended feature? (I don't really know how it could be usef

[2016-07-13 05:29] cpojer commented on #1286
This absolutely sucks and happened because we changed everything about Jest around in 13.0. If you are brave, you can install `jest@test` which is currently a test release and should have this fixed – it will definitely be resolved in the next version of Jest but because we are making more large scale rewrites right now, I don't know exactly when we'll publish this version as stable.

(Closing bec

[2016-07-13 05:29] #1286 closed

[2016-07-13 12:41] #1165 closed

[2016-07-13 13:20] papermana opened #1290 "Problems with resolving aliases"
I'm trying to set Jest to work with my webpack aliases and to achieve this I'm using the `moduleNameMapper` property in the config. Problem is, alias resolution is very finicky for me here. I actually created a repo with some very simple code to replicate the issue: https://github.com/papermana/jest-replicating-issue.

I'm using the most recent versions of both Node and Jest. In my case, if I open

[2016-07-13 16:09] ecoleman commented on #1279
@cpojer I will attempt to make a minimal reproducing case and publish a repository

[2016-07-13 16:15] calclavia commented on #1285
Would this be an anti-pattern with regards to ES6 import statements?

[2016-07-13 17:59] tonyxiao commented on #1284
Hmm fair question. @dmitriiabramov . Maybe we should document the fact that `--watch` and `--coverage` should not be used together?

[2016-07-13 18:38] dmitriiabramov commented on #1284
@tonyxiao i think if there is any valid use for it, we should make it work. But if not, i think it's better to just throw an error and kill the process. Wrong information is worse than no information :)

[2016-07-13 20:33] wincent opened #1291 "Scope tests with paths/module names and --watch"
`--watch` appears to watch the entire filesystem for changes, and if I modify a file that is depended on by many modules then they all re-run on changes.

It would be nice if you could scope the tests to be run like this:

- Say I have a module `Utils` in a file `utils.js` that is used pretty much everywhere.
- I want to iterate in a tight loop on `utils-test.js`, so I run `jest --watch Utils`

Je

[2016-07-13 23:20] tonyxiao commented on #1284
@dmitriiabramov agreed. I'd be totally happy if we throw error and kill the process. The problem was not knowing that they shouldn't be used together and expecting it to work.

[2016-07-13 23:45] cpojer commented on #1284
Ok, let's do this: instead of erroring, show a message on the top that says "coverage is enabled through the config but not active during `--watch`". People might have `collectCoverage: true` in their config and I don't want the process to throw if that is the case.

[2016-07-14 00:00] tonyxiao commented on #1284
That would work too. 👍

[2016-07-14 00:56] mmcgahan opened #1293 "Running global `jest-cli` should warn instead of error"
The [`process.exit(1)` call](https://github.com/facebook/jest/blob/a737c6/packages/jest-cli/src/cli/getJest.js#L36-L40) triggered when running a globally-installed version of Jest results in odd test results - even when all tests pass, the process returns a non-zero exit code, and it's not immediately clear why.

When `jest` is assigned to `npm test` (which is a pretty common convention), you get:

[2016-07-14 01:07] cpojer commented on #1285
I'm hoping that https://github.com/benjamn/reify/blob/master/WHY_NEST_IMPORTS.md will eventually make it into a standard, which will be nice.

At Facebook, we actually use a transform called [`inline-requires`](https://github.com/facebook/fbjs/blob/master/packages/babel-preset-fbjs/plugins/inline-requires.js) and we don't yet use ES modules.

Personally, I don't see a big reason to use ES modules

[2016-07-14 01:14] cpojer commented on #1293
Thank you for bringing this up and for the detailed description of the issue. To be honest, I have been upset about this stuff myself and it definitely makes Jest's test suite a little harder to deal with.

I also agree the way this is working currently does not make any sense if Jest still ends up running tests anyway. I'm sorry you wasted time on this.

Would you be willing to send a pull reques

[2016-07-14 01:14] cpojer commented on #1279
Thank you!

[2016-07-14 01:28] mmcgahan commented on #1293
@cpojer That works for me, thanks for the quick response! Will submit the PR shortly

[2016-07-14 01:29] cpojer commented on #1290
I would probably suggest disabling automocking altogether and doing `"automock": false` in the config.

It does seem like for unmocking/mocking we don't properly take the moduleNameMapper into account.

[2016-07-14 01:32] cpojer commented on #1291
We are tracking this work internally. I'll close it here and add this to the internal task. For people in open source who cannot see FB tasks: we are planning to rewrite and improve `--watch` over the next few months. I'm happy to answer questions if anyone is interested in our progress or if anyone wants to work on this.

[2016-07-14 01:32] #1291 closed

[2016-07-14 01:39] papermana commented on #1290
Sorry for saying this, but doesn't that defeat the whole point of using Jest? Seems like this problem is something that ruins the idea of using `moduleNameMapper` for alias resolution.

[2016-07-14 01:45] cpojer commented on #1290
No, Jest has a lot more to offer than automocking. Automocking is useful in certain situations, like when you have a codebase that isn't tested at all with a huge amount of tightly connected dependencies. We have found at Facebook that after years of it being beneficial, it is not providing as much value as it once did and people choose to disable it more often.

Jest itself has a ton of other fea

[2016-07-14 02:38] #1293 closed

[2016-07-14 03:32] papermana commented on #1290
Does `moduleNameMapper` automatically unmock requires? This is only indirectly suggested in the docs but is stated in https://github.com/facebook/jest/blob/master/packages/jest-runtime/src/__tests__/Runtime-requireModuleOrMock-test.js#L96.

This seems useful when you're using this functionality to provide mocks for assets like CSS files, but is kind of at odds with the idea of using webpack-like a

[2016-07-14 03:36] cpojer commented on #1290
Yap, that does sound like it. If I remember correctly, the first implementation of moduleNameMapper was made for the stubs use case (like CSS etc.) which we didn't ever want to be mocked.

[2016-07-14 03:48] papermana commented on #1290
Perhaps it could be useful to provide a way of specifying whether a particular key/regexp should be automatically unmocked or not. Otherwise, you're forced to let go of automocking, plus if you ever mix relative paths and aliases, you get two differing behaviors. I think there should also be a note in the documentation that `moduleNameMapper` unmocks everything, in case others wanted to use it for

[2016-07-14 04:23] cpojer commented on #1290
I'm gonna close this as wontfix. Your PR adds a note to the documentation and it doesn't seem like anyone is going to get to working on this any time soon. Of course, I'm always happy to help someone if they want to make a PR to change this.

[2016-07-14 04:23] #1290 closed

[2016-07-14 05:03] mitermayer commented on #104
got the same problem as @megawac , DId you manage to work around that ?

[2016-07-14 05:13] megawac commented on #104
I did, I'll comment tmw

[2016-07-14 18:35] bryandowning commented on #76
For future travelers, `jest --help` to see all the CLI options. As of this writing the flag is named `testPathPattern`.

[2016-07-14 23:28] migueloller commented on #817
I was having a similar issue where multiple files should've had 100% branch coverage but only had 75%. There was a weird behavior in that if I added an extra new line after my imports it would fix the branch coverage. Changing the es6 import statements to require statements also fixed this.

Trying to make a repo that recreates the bug so that I can post an issue, I realized that the problem went

[2016-07-15 03:07] mitermayer commented on #1274
@cpojer Thanks for answering that, could not find this since it is not on the docs https://facebook.github.io/jest/docs/api.html

[2016-07-15 03:44] cpojer commented on #1274
Oh, we might forgot to publish the website recently.

[2016-07-15 05:40] leaves4j commented on #1281
I find that the issues was caused by a higher-order function requirement, Are there other ways to avoid this problem?

[2016-07-15 05:42] cpojer commented on #1281
You can either create a manual mock for that node module or try to disable automock.

[2016-07-15 07:25] vvo commented on #817
@migueloller Can you have a look at https://github.com/facebook/jest/issues/1214? I had similar issues but with just ES5 code

[2016-07-15 14:24] migueloller commented on #817
@vvo, looks like another annoying issue. My problem is with branch coverage as opposed to statement coverage, though. 😕

It also seems you're using `--no-cache` and still getting an issue. Hopefully the improvements that @cpojer mentioned in #1214 will fix these. 😄

[2016-07-16 21:38] calclavia commented on #1284
So if I have coverage enabled via my config, is there a way to disable it when trying to run watch in command line?

[2016-07-17 13:29] vvo opened #1303 "jest.mock() is confused when moduleNameMapper is used"
When using jest.mock() along with moduleNameMapper, I get confusing results.

packages.json:
[code]

index.test.js:
[code]

result:
[code]

Basically when using the `moduleNameMapper` option like I did, only the last jest.mock() is taken into account.

I made a repository for this maybe-bug: https://github.com/vvo/jest-moduleNameMapper-mock

[code]

[2016-07-17 20:18] megawac commented on #104
The only big gotcha of using jest with jasmine xml reporters is that because tests in different files are run in different contexts you can't use considateAll. So you have to merge the results after the tests are run.

jest/jasmine setup file for Junit results
[code]

Merge results scripts:

[code]

[2016-07-18 04:24] dmitriiabramov commented on #104
we've been working on our reporting system and now we can actually generate junit\xunit using a separate jest-reporter plugin. I think we're going to have a plugin for junit in a couple of weeks

[2016-07-19 12:32] imxinxi opened #1305 "Can't custom mock folder"
Custom the `mocksPattern` to other folder like `(?:[\\/]|^)mocks[\\/]` but won't work

Find the code in `jest-runtime/src/index.js` L300

[code]

So looks like manual mock always search file in `${moduleDir}/__mocks__` then fail to config

[2016-07-19 12:35] cpojer commented on #1305
You are right, that does seem like a bug :(

[2016-07-19 16:40] manodupont opened #1306 "Unexpected Token ILLEGAL from esprima.js:2046:21"
So i get this error when i launch jest.

This is my jest config.

[code]

This is the test
[code]

[2016-07-19 16:41] manodupont commented on #1306
The error is :

[code]

[2016-07-19 16:41] manodupont commented on #1306
Thanks

[2016-07-19 22:11] cpojer commented on #1306
Which version of Jest are you using? Are you using babel-jest? Can you try `jest --no-cache`?

[2016-07-20 01:41] Feahter commented on #367
![image](https://cloud.githubusercontent.com/assets/13764431/16972416/cccfca46-4e5d-11e6-8ca9-28e8f4f2478b.png)
how to solved this issue?

[2016-07-20 04:35] dreamereric opened #1309 "TypeError: Cannot read property 'then' of undefined"
when i run with the example (async/wait), i found it display with the title message here, then i check files like  .babelrc and package.json  over and over, but i still don't know how.

[2016-07-20 04:37] cpojer commented on #1309
Can you try `jest --no-cache`? I'm confident the example works as our CI doesn't break with it.

Which version of Jest are you using and what exactly is your setup?

[2016-07-20 06:35] dreamereric commented on #1309
Yeap! I'm running the examples again,  it's work now.  But when i copy the tests files in new projects, it does not work, maybe somewhere i configured wrong . thank you!

[2016-07-20 06:36] #1309 closed

[2016-07-21 00:39] joelwass commented on #921
How is this still an issue. Not being able to get Jest up and running for react-native makes it essentially worthless at this stage. I've tried following both the facebook docs and the prescriptions on this thread to no avail.

[2016-07-21 13:45] gabriel-laet commented on #921
For the record: this issue still happens on Jest v13.2.3  with react-native 0.29.0

[2016-07-21 13:48] dreamereric opened #1310 "ReferenceError: __DEV__ is not defined"
i want test some components ,  but i dont konw how to config the package file , so when i test it, the terminal always  display the error message :ReferenceError: __DEV__ is not defined .

[2016-07-21 19:03] GrigoryPtashko opened #1311 "Jest behaves differently with and without test path regex on command line (exception thrown in the second case)"
Hello.

Some background first. I'm trying to implement the integration testing of my Relay containers
against a running GraphQL backend server.
Currently, my setup is very simple: the `__tests__` folder contains two tests -
`SignIn-test.js` and `Me-test.js`. The `SignIn-test.js` is the test of a simple React stateless
component. Nothing wrong with it. And the second test `Me-test.js` is the Relay

[2016-07-21 19:55] bartonhammond commented on #651
@cpojer I still get this error even w/ the updates to Jest script described above.

[code]

My ```package.json``` has ```jest-cli``` at ```12.1.1``  not sure what the correct version should be ....

[2016-07-21 20:03] bartonhammond commented on #651
Updated to ```jest-cli 13.2.3``` and get this:

[code]
Line 22 of ```Button.js``` remains
[code]

My ```package.json``` wrt to above recommendation:

[code]

[2016-07-22 03:27] #1310 closed

[2016-07-22 03:28] cpojer commented on #1310
You can add `"globals": {"__DEV__": true}"` to your config.

[2016-07-22 03:57] michaelsync commented on #200
@ondrejhanslik

`The behavior cannot be changed and I am pretty sure that it's not what most people want. Most people want to know what parts of code are missing unit tests. Not what parts of code are already unit tested.`

Please correct me if I misunderstand your explanation. If someone added a new code file without any test, it won't show in the test coverage report. That new file is missing un

[2016-07-22 05:49] cpojer commented on #1311
I think I have an idea what's going on. Thank you for the incredibly detailed bug report, that was very helpful.

Jest runs tests in parallel in different processes and I was thinking the env might be slightly different. Jest itself sets NODE_ENV=test but it just appeared to me that we might not do this in the worker processes. This means that if you run in band (or run a single test), this line:

[2016-07-22 07:23] dreamereric opened #1312 "Cannot find module 'throwOnWrongReactAPI' from 'react-native.js'"
i create a demo like this:

 'use strict';
 import React from 'react';
 import { StyleSheet, View , TouchableOpacity } from 'react-native';
 export default class FormButton extends Component {
     render() {
         return (
             <View>
                 <TouchableOpacity  onPress={ this.props.onPress }>
                     { this.props.buttonText }
                 </TouchableOpacity>

[2016-07-22 07:32] GrigoryPtashko commented on #1311
Did you mean this?

[code]

It works as expected..

[2016-07-22 07:34] cpojer commented on #1311
This shall be easy to fix then. Just stick `inlineRequires: false` into your call to the fbjs/configure function.

[2016-07-22 07:34] cpojer commented on #1311
(Closing as I'm sure that will solve the problem, will reopen if it does not)

Also make sure you are using `--no-cache` on the first run for this to make sure it isn't using the cache.

[2016-07-22 07:44] GrigoryPtashko commented on #1311
No, it did not help.

I've added `inlineRequires: false`:
[code]

And the result is the same:
[code]

[2016-07-22 07:46] cpojer commented on #1311
That seems odd, the stack trace you posted points to inline requires still being on...

[2016-07-22 07:48] GrigoryPtashko commented on #1311
Yes, exactly. Nothing changes.. I've just tried launching for several times.

[2016-07-22 07:50] cpojer commented on #1311
Can you try to use the `"moduleNameMapper"` config option to map `printRelayQuery` to `printRelayOSSQuery`?

[2016-07-22 07:52] GrigoryPtashko commented on #1311
I've also tried to set `inlineRequires: false` in fbjs `configure.js` but it also did not help:

[code]

[2016-07-22 07:59] GrigoryPtashko commented on #1311
No, it did not help. The result is the same.

Here's my jest config:

[code]

[2016-07-22 15:05] alvaromb commented on #651
@bartonhammond have you tried to substitute your `Jest` config with the one provided in the F8 app? Just to discard that it's not a config issue...

[2016-07-22 15:27] bartonhammond commented on #651
I have no idea what you are talking about

So, I guess the answer therefore would be `no`

Here is my Jest section from my project: [https://github.com/bartonhammond/snowflake/blob/master/package.json#L5](https://github.com/bartonhammond/snowflake/blob/master/package.json#L5)

Please provide link to ```F8 app```

[2016-07-22 15:28] alvaromb commented on #651
I was referring to this https://github.com/fbsamples/f8app/blob/master/package.json#L51-L60 @bartonhammond

[2016-07-22 16:45] bartonhammond commented on #651
I changed out my entire Jest configuration and it doesn't work so well.  For thoroughness here is the log at the bottom.

Note, my Jest configuration contains all the setup from your reference plus some.

The following logs are from running with **exactly** the same as the F8 app:

Here is the pertinent section for this issue:
[code]

Log from `npm test`
[code]

[2016-07-22 17:06] astraldragon commented on #1175
I've got a working project setup (with enzyme), but I had to put an interesting hack in place for anything using the fetch API.  I have no clue why.  I'd appreciate any guidance.  https://github.com/astraldragon/riki

[2016-07-22 18:46] GrigoryPtashko commented on #1311
@cpojer any ideas?

[2016-07-22 19:50] ranjitpandit commented on #1187
Hi I'm having the same problem with jest version  13.2.3. I also made sure that the format has two stars like below.
/**
 * @providesModule Start
 */

I also installed jest-repl. Do I need to have do a special configuration to use jest-repl or will it automatically get picked up when I run the test using "npm test"?

Any help would be greatly appreciated.

[2016-07-22 20:40] missyjcat commented on #1211
I'm also looking for this functionality. Our code coverage reports would be much more useful if they reported on all the files we're targeting for coverage.

[2016-07-23 00:07] calclavia opened #1314 "Jest --watch randomly clears console sometimes"
I noticed a issue (not major) when running `jest --watch`. Sometimes, Jest would clean the console very quickly after a test has been run, making it impossible to see the test result. Restarting Jest CLI often fixes this problem, but it's a potential issue I would like to point out.

[2016-07-23 04:49] dmitriiabramov commented on #1211
we're working on it right now, so probably in a few weeks that should be implemented

[2016-07-23 22:24] GrigoryPtashko commented on #1311
@cpojer Are you going to re-open the issue? I'm asking because it holds me from debugging some Relay issues which are kind of stoppers to me..

[2016-07-25 00:14] cpojer commented on #1314
This probably just means a file has changed since and it is re-running some tests?

[2016-07-25 00:18] cpojer commented on #1311
Can you provide a repo that I can `npm install` and test so that I can repro this myself? That will probably help find a solution.

[2016-07-25 02:52] calclavia commented on #1314
Yes, but it then displays blank on the terminal (it does not rerun the test since the file has changed)

[2016-07-25 04:09] cpojer commented on #1314
What exactly are the steps to reproduce this? :) Otherwise I think it'll be pretty hard to try to resolve this.

[2016-07-25 07:06] cpojer commented on #1187
@ranjitpandit can you provide a repo that shows this problem just like @MattFoley did? That would be very helpful :)

[2016-07-25 07:16] aalbul opened #1315 "Jest can't find tests when path contains brackets"
I found this problem when tried to run my project on Jenkins.
Unfortunately, i quickly realised that it cannot find tests.

I tried different combinations and was able to reproduce the problem locally. It's quiet easy. Just re-name project folder from "project" to "project (master)".
First, i though that the reason is "space" but after some debugging i found that path is used first to locate files

[2016-07-25 10:40] GrigoryPtashko commented on #1311
Yes, sure.

Here's the one https://github.com/GrigoryPtashko/jest-relay-integration-test.
Just `npm install` and you can run all the commands I wrote about and you'll get the result.
Also you may want to add logs as I wrote in the original post. By default, no stacktrace is printed on an exception.

[2016-07-25 23:18] astraldragon opened #1318 "Using Babel - "The second argument of `jest.mock` must be a function""
I'm not 100% sure if I have my project set up properly using Babel so I set up a sample project with a similar setup.  Two folders (one piped through babel, one not).  Basically I have a test file set up that uses a file that contains its own mock function that takes two arguments.  In the Babel version I get the error listed in the title when I call my class' mock function with two arguments.  No

[2016-07-26 05:00] ranjitpandit commented on #1187
in the process of creating a sample repo to show the problem I stumbled upon a solution that worked.
I had a license and author disclaimer at the top and then the providedModule annotation such as below.

[code]

If I put the providedModule section at the top then Jest is able to pick it up. Subtle but hard to figure out. It would be good if the order doesn't matter as it's easy to get the order w

[2016-07-26 10:03] trotzig opened #1319 "Can't use lodash 4.14 with jest"
Hello! I started noticing errors after upgrading lodash version from 4.13.1 to 4.14.

[code]

`lodash.assign` isn't undefined if I use it outside of jest:

[code]
(will print `[Function]`)

While I'm not sure, I think jest might be mocking lodash without us saying so. Our jest config (in `package.json`) looks like this:

[code]

[2016-07-26 12:58] codeheroics opened #1320 "Disabling automock breaks detection of file extension when using moduleNameMapper"
Hi,

I'm trying to setup with jest 13.2.3 on my current project. We use the webpack alias feature to get simpler module paths (eg. `import en from 'i18n/en';` instead of `import en from '../../../../i18n/en'`), so I've followed [this tutorial](https://facebook.github.io/jest/docs/tutorial-webpack.html) to setup the `package.json` for jest, using `moduleNameMapper` to setup this kind of rule:

[cod

[2016-07-26 19:54] GrigoryPtashko commented on #1311
@cpojer Is there anything else I can help with?

[2016-07-27 00:25] cpojer commented on #1320
As a workaround, can you use moduleDirectories instead?

[2016-07-27 04:26] cpojer commented on #1311
We are currently working on releasing a major version of Jest and it is taking up all of my time. Please be a bit more patient, I'm doing everything I can and am hoping to get back to this issue soon.

[2016-07-27 04:31] cpojer commented on #1319
If automocking is false then lodash is most certainly not mocked. I suspect the problem might be with how lodash is detecting the environment and it always does some crazy trickery.

Here is what we forward into the sandbox context: https://github.com/facebook/jest/blob/master/packages/jest-environment-node/src/index.js#L30-L38

cc @jdalton did anything change here or can you find anything missing

[2016-07-27 05:16] jdalton commented on #1319
Yep. I tried to reduce our UMD and simplify global object detection. It hit a snag.

[2016-07-27 05:17] cpojer commented on #1319
What exactly is different and what should we put on our node environment to make this work?

[2016-07-27 05:19] jdalton commented on #1319
The difference is I wrongly assumed a node-like environment would have a `global` reference so I made our `exports` and `module` detection rely on there being `global`. It turns out through various browserify or NW.js configurations there can be `exports` and `module` but no `global` object.

[2016-07-27 05:19] jdalton commented on #1319
I'm working to remove the `global` check but it means adding other checks. It should be resolved in a day or so.

[2016-07-27 05:21] cpojer commented on #1319
Ok cool, can you reference this issue in the correpsonding lodash issue? Closing this issue here since it isn't Jest related.

@trotzig please downgrade lodash or use the jsdom environment in the meantime. Sorry for the confusion!

@jdalton would you be willing to add a simple Jest test for lodash that uses:

[code]

and makes sure that lodash works? We use Jest at FB and in dozens of React codeba

[2016-07-27 05:21] #1319 closed

[2016-07-27 08:22] IPENGR commented on #974
vvvnvnvbnbnbfcgvbvbnvjbjhbkjbhhhhhhhhhhhhhk

[2016-07-27 08:23] cpojer commented on #974
Is this a yubikey?

[2016-07-27 08:23] IPENGR commented on #974
yyyyyyyyu

[2016-07-27 09:39] cpojer commented on #1312
Thank you for your patience. We launched Jest 14.0 with experimental react-native support:

* [Blog Post](http://facebook.github.io/jest/blog/2016/07/27/jest-14.html)
* [React-Native Tutorial](http://facebook.github.io/jest/docs/tutorial-react-native.html)

Please feel free to create new issues after trying out the new integration if any issues remain.

[2016-07-27 09:39] #1312 closed

[2016-07-27 09:40] cpojer commented on #1306
Closing due to inactivity. Please provide more information and I'll reopen this issue.

[2016-07-27 09:40] #1306 closed

[2016-07-27 09:40] #1278 closed

[2016-07-27 09:41] cpojer commented on #1175
Thank you for your patience. We launched Jest 14.0 with experimental react-native support:

* [Blog Post](http://facebook.github.io/jest/blog/2016/07/27/jest-14.html)
* [React-Native Tutorial](http://facebook.github.io/jest/docs/tutorial-react-native.html)

Please feel free to create new issues after trying out the new integration if any issues remain.

[2016-07-27 09:41] #1175 closed

[2016-07-27 09:41] cpojer commented on #965
Closing due to inactivity.

[2016-07-27 09:41] #965 closed

[2016-07-27 09:41] cpojer commented on #920
Thank you for your patience. We launched Jest 14.0 with experimental react-native support:

* [Blog Post](http://facebook.github.io/jest/blog/2016/07/27/jest-14.html)
* [React-Native Tutorial](http://facebook.github.io/jest/docs/tutorial-react-native.html)

Please feel free to create new issues after trying out the new integration if any issues remain.

[2016-07-27 09:41] #920 closed

[2016-07-27 09:41] cpojer commented on #921
Thank you for your patience. We launched Jest 14.0 with experimental react-native support:

* [Blog Post](http://facebook.github.io/jest/blog/2016/07/27/jest-14.html)
* [React-Native Tutorial](http://facebook.github.io/jest/docs/tutorial-react-native.html)

Please feel free to create new issues after trying out the new integration if any issues remain.

[2016-07-27 09:41] #921 closed

[2016-07-27 09:42] #966 closed

[2016-07-27 09:43] cpojer commented on #861
Thank you for your patience. We launched Jest 14.0 with experimental react-native support:

* [Blog Post](http://facebook.github.io/jest/blog/2016/07/27/jest-14.html)
* [React-Native Tutorial](http://facebook.github.io/jest/docs/tutorial-react-native.html)

We'll probably need to find a way to add some data to the __fbBatchedBridgeConfig for realm. cc @appden can you tell me what exactly realm exp

[2016-07-27 09:44] cpojer commented on #1279
Does this still repro with Jest 14? SlowShip, thanks for creating a repo – if this is still a problem with Jest 14, I'll take a look :)

[2016-07-27 11:19] SlowShip commented on #1279
Just tried with ^14.0.0 and looks like it's still happening :(

[2016-07-27 11:21] cpojer commented on #1279
Oh that sucks! It's probably a really minor thing and I'll try to investigate soon and hopefully publish a point release with a fix :)

[2016-07-27 13:22] SlowShip commented on #1279
Thanks :)

[2016-07-27 13:25] marudor opened #1323 "[14.0.0] Not able to run in node environment"
I get the following error:
[code]
switching to jsdom make it work again.
config:
[code]

[2016-07-27 13:41] cpojer commented on #1323
It seems like not all your Jest dependencies were updated to 14.0. I recommend running rm -rf node_modules/jest-* and then reinstall.

On Wed, Jul 27, 2016 at 10:26 PM +0900, "marudor" <notifications@github.com<mailto:notifications@github.com>> wrote:

I get the following error:

TypeError: this._environment.runScript is not a function

switching to jsdom make it work again.
config:

{
    "verbos

[2016-07-27 13:58] marudor commented on #1323
Yep, all fine. Thanks

[2016-07-27 13:58] #1323 closed

[2016-07-27 14:04] trotzig commented on #1319
@cpojer: yep, already [done](https://github.com/Galooshi/import-js/pull/321/commits/8cf716962667d6e115d8765f0d15f5ebd64e3c71)

Thanks for the quick turnaround everyone!

[2016-07-28 09:00] codeheroics commented on #1320
Using moduleDirectories works perfectly as a workaround, thanks!

[2016-07-28 09:02] cpojer commented on #1320
Ok, I think that's the right solution here actually.

[2016-07-28 09:02] #1320 closed

[2016-07-28 09:06] codeheroics commented on #1320
Isn't it weird that setting or not `automock` changes the file loading abilities? (and it still feels problematic as moduleNameMapper is the recommended way, in tutorial, to handle webpack aliases, so others could run in the issue)

[2016-07-28 10:04] emirotin opened #1328 "Question: Snapshot testing, environments and -u"
Hi there.

I hope it's a good place to ask questions.
Snapshot testing is great, but I have 2 concerns / questions:

1) Snapshots are static. Sometimes component rendering depends on the environment / config.
For example:

[code]

While developing I may have `localhost:8080` as my API. It will record it in the snapshots. Then on the CI server, it can be set to production and the tests will fail.

[2016-07-28 10:16] cpojer commented on #1328
Thanks for bringing up these questions. I think it's important we have these discussions and think about where we can take snapshot testing from this basic version we have right now.

To prevent against environment specific configuration: This is where Jest's mocking system can really shiny. I'm assuming you aren't making actual API calls in your test run (if you are, you should probably record th

[2016-07-28 10:36] emirotin commented on #1328
I'm not. It's a normal module that gets populated during the build step (and has some defaults for development).

Makes sense, thanks.

---

I'm not sure it if answers my question. Here's my case: imagine I have about 10 tests for the `Avatar` component. I've changed it (added the online indicator, or wrapped it in a DIV), so all the tests are failing. As there are many of them I'm eager to auto-u

[2016-07-28 11:28] cpojer commented on #1328
I see what you mean. Yes, it is suggested that you review your changes carefully and that your code reviewers do the same. Snapshots should be considered additional signal during code review, as well.

[2016-07-28 12:29] emirotin commented on #1328
OK makes sense indeed — after the update is applied I can obviously review
it (TBH I didn't think about it :).
I think it answers my question and the issue can be closed.

Thanks for your support, going to give it a try soon.

On Thu, Jul 28, 2016 at 2:28 PM Christoph Pojer <notifications@github.com>
wrote:

[2016-07-28 16:15] justinwiley opened #1330 "Jest -u doesn't seem to update snapshots"
Thanks for the great feature, and for Jest, both are very useful.

I'm running into an issue updating existing and cleaning up obsolete snapshots.

I have a component:

[code]

and a test:

[code]

The test successfully creates the snapshot in `__tests__/__snapshots__`.

When I change the div to `<div>hello world 2</div>`, I get an error as expected.

I run `jest -u`, and the snapshot remains, and

[2016-07-28 16:41] dmitriiabramov commented on #1330
this is interesting... the only thing i can think of is that arguments don't get parsed.
do you have any code on github with this example so we can reproduce it?
otherwise you can stick `console.log(newConfig)` into this line and see if it prints the configuration correctly (it should have `newConfig.updateSnapshot` set to `true` when running with `-u`)

[2016-07-28 16:55] dmitriiabramov commented on #1328
also as we talked yesterday. It would be nice to have an interactive mode for updating snapshot (similar to `git add -i`)

[code]

that would be very helpful for going through test failures one by one after a big refactoring and filtering out legitimate failures from just formatting updates

[2016-07-28 17:25] emirotin commented on #1328
Exactly ^

On Thu, Jul 28, 2016 at 7:55 PM Dmitrii Abramov <notifications@github.com>
wrote:

[2016-07-28 18:42] kevinSuttle commented on #770
I have this same issue with jest-cli 14.0.

[code]

package.json:
[code]

.babelrc
[code]

[2016-07-28 19:30] kevinSuttle commented on #1081
Is there a doc describing the common setup regexes?

`__tests__/.*\.js$`: default
`\w+\/.*.test.js` (or something): with component inside directory

[2016-07-28 19:47] kevinSuttle opened #1331 "jest.unmock cannot find files right next to test files"
Directory:
* CheckboxWithLabel
   - CheckboxWithLabel.js
   - CheckboxWithLabel-test.js

[code]
On the 2nd example, Jest treats `./Filename` as **`../`**, which seems like a bug.

Try it with the tutorial, but put sum.js next to sum-test.js.

`jest.unmock('./sum');`

[code]

[2016-07-28 20:23] kevinSuttle commented on #710
Really, even this [new page](https://facebook.github.io/jest/docs/tutorial-webpack.html#content) post-0.14 is confusing. Nowhere are you editing a Webpack config.

[2016-07-28 20:44] justinwiley commented on #1330
It turns out I had an older version of jest-cli installed globally.  It was failing to use the argv parsing for jest in the project @ 14.0.0.  `npm uninstall jest-cli -g && npm i jest-cli -g` seems to have fixed it.  Thanks

[2016-07-28 20:44] #1330 closed

[2016-07-28 22:01] dmitriiabramov commented on #1330
@cpojer don't we use the local version of jest when running `jest` globally?

[2016-07-28 23:54] cpojer commented on #1328
Ohh that's a great idea @dmitriiabramov.

The initial idea for snapshot tests was to not be intrusive. If people have to stop and pause every time something changes, that would be bad. Adding it as an option is a good idea however.

[2016-07-29 00:53] cpojer commented on #710
No loaders are needed. Jest and webpack are completely individual tools. `jest` is run when you invoke it yourself.

[2016-07-29 03:21] ryanseddon opened #1332 "refs or ReactDOM.findNode don't work with snapshot testing?"
This may be in issue in react but I cam across this while trying out snapshot testing on a small project with jest. So I'm creating an issue here...

## Component

[code]

## Test

[code]

## jest stack trace

[code]

Removing the ref will make th test pass I also tried `ReactDOM.findDOMNode` which has a slightly different error `Invariant Violation: getNodeFromInstance: Invalid argument.`.

[2016-07-29 04:43] cpojer commented on #1332
Yes this is indeed a React issue.

Please comment on https://github.com/facebook/react/issues/7148

[2016-07-29 04:43] #1332 closed

[2016-07-29 05:37] Chris-Petty commented on #861
Ah awesome, unfortunately won't be able to give it a spin until mid August though.

[2016-07-29 09:46] atkinchris commented on #1117
This issue still exists in Jest 14.

[2016-07-29 13:17] cpojer commented on #1279
I just found a bug in Jest that makes it so it doesn't find any files if the project itself is located in a temporary folder like /tmp based on what the OS thinks should be a temp folder. I'm working on a fix for that but it will probably land after the weekend. What's the full path of the test run in your examples?

I'm also a bit confused about @ecoleman's comment about invoking Jest directly th

[2016-07-29 13:21] noahpeters commented on #104
do you have any examples of how to write or use a jest-reporter plugin?

[2016-07-29 14:33] kevinSuttle commented on #710
Then why the tutorial? That's part of why it's confusing. Well, that, and the fact that most of the page is about CSS Modules for some reason.

[2016-07-29 15:12] ecoleman commented on #1279
@cpojer Honestly it makes no sense to me... I ran @SlowShip's example, and neither version of the command works.

However, running via `gitlab-ci-multi-runner exec`, only `npm test` fails to find any tests.

[2016-07-29 16:12] dmitriiabramov commented on #104
@noahpeters our internal reporters are here https://github.com/facebook/jest/tree/master/packages/jest-cli/src/reporters
but the thing is.. right now we don't have a mechanism to configure which reporters are used by jest without dealing with jest internals. As soon as we get that done, we'll be able to use any custom reporting system with jest

[2016-07-29 20:23] dmitriiabramov commented on #200
I'll reopen it as i'm currently working on getting the coverage report for untested files.
before everyone used to have a `require`-all setup file that would just require every file in the codebase and add an empty coverage object to it, but that solution doesn't scale.

the solution i was thinking about is to have a separate step after the full test run + coverage that takes two arguments - **exi

[2016-07-29 21:37] ranjitpandit opened #1338 "Jest Snapshot with React Native fails using ListView"
Firstly, the new Jest Snapshot test feature with React Native is fantastic!
It's a huge improvement in the ability to create simple and effective tests very quickly.
As we have started experimenting with it we have run into an issue with ListView testing.

Is there something special that's needed for ListView?

Below is the test error:

[code]

Here is a repo to duplicate the problem.
https://gith

[2016-07-29 22:30] massick commented on #200
@dmitriiabramov it would be great and it's more or less what I wanted to do (but never did). Another weak point requiring all files is that requiring them is enough to have a coverage between 40/60% (depending on the complexity of the module) without writing any single line of test, while (imho) it should be 0.

[2016-07-29 22:34] dmitriiabramov commented on #200
@massick exactly. although it makes sense that requiring files gives you 40% coverage, because you actually run that code when you require a file.
requiring all files at once is very slow though, and there's always going to be a module with a side effect that will ruin the whole test run :) so i'd really want to avoid doing it

[2016-07-29 22:40] massick commented on #200
@dmitriiabramov yes I know, you are right and makes perfectly sense, that's why avoid requiring them but mark them as "not covered" can solve that "issue" :-)

[2016-07-30 04:37] ide opened #1340 "Supporting mock components in snapshot tests"
I was trying out the snapshot tests on larger components, closer to full pages instead of individual UI inputs, and was getting large snapshots since the test renderer fully rendered every component down to DOM primitives:
<details>
  <summary>A bunch of snapshot output</summary>
[code]
</details>

But instead of seeing all the divs and spans for my website chrome, I want to see the composite comp

[2016-07-31 05:23] suchipi opened #1341 "Export SnapshotFile constructor (jest-snapshot)"
I'm working on a chai matcher for jest-snapshot. I pull in `SnapshotFile` from `jest-snapshot/build/SnapshotFile` and use it to create snapshots, check for matches, etc. It's pretty easy to use. However, the only publicly exposed way to create a SnapshotFile instance is via the [`forFile`](https://github.com/facebook/jest/blob/master/packages/jest-snapshot/src/SnapshotFile.js#L162) method. Using t

[2016-07-31 14:12] cpojer commented on #1340
Can you try `jest.mock('Header', () => 'Header')`?

[2016-07-31 23:37] calclavia opened #1342 "Coverage remapping"
Jest does not seem to correctly remap coverage data collected. This is especially true when developing in Babel ES6 or TypeScript using a script preprocessor. Is there a way to handle this?

[2016-08-01 05:36] ide commented on #1340
That works well and adds `<Header />` to the snapshot as expected. Thanks!

[2016-08-01 05:36] #1340 closed

[2016-08-01 05:37] dmitriiabramov commented on #1342
We just moved to a newer version of istanbul that instruments code using babel. This way it will generate coverage data that is much more accurate.
I'm not sure how good the data is yet, but as an alternative solution there is a sourcemap coverage report mapper that istanbul provides.

most the code is still in PRs but most likely it'll make it to jest 15.0

[2016-08-01 05:45] cpojer commented on #1341
Hey!

This is exciting. Would you mind sending a PR with the API updates you need? I think here is what we should do: expose SnapshotFile through `jest-snapshot/src/index.js`: you should be able to do `require('jest-snapshot').SnapshotFile` and never reach into `jest-snapshot/build/…`

We might want to make the snapshot cleanup function more generic too, as you'll probably need that to keep consis

[2016-08-01 05:46] iamchenxin commented on #1279
@cpojer `tmp` fold not work, are there some other folds like this?  (`tmp` make me a bit confused previously).
Its very helpful to make those behaviour a clearly config option in config file.

[2016-08-01 05:47] cpojer commented on #710
People use complicated webpack configs that don't translate well to tools that are not based on webpack. If you have a complex configuration with webpack, this tutorial will help you create a similar setup for Jest.

[2016-08-01 11:04] kentaromiura opened #1346 "Jest-snapshot matcher doesn't reference jasmine anymore"
looks like
https://github.com/facebook/jest/blob/master/packages/jest-snapshot/src/matcher.js#L12
and
https://github.com/facebook/jest/blob/master/packages/jest-snapshot/src/matcher.js#L26
can be removed now, as there's no reference to `jasmine` in the file anymore.

[2016-08-01 11:06] cpojer commented on #1346
true!

It's still passed in. I think I didn't remove this argument because it would be a breaking change and requires a minor or major version bump.

[2016-08-01 12:54] moimael opened #1347 "Jest snapshot and CSS modules"
Hi,

I'm trying to use the new Jest snapshot feature to write tests and while the tests passes, the output is not right.

It seems that classes imported from a CSS module and applied dynamically using classnames lib do not work at all.

If I print my component props after being rendered to JSON :
[code]

'undefined' should actually be two CSS classes and '' should also be a CSS class.
(The compone

[2016-08-01 13:20] cpojer commented on #1347
Can you try out the identify-obj-proxy module as described here: http://facebook.github.io/jest/docs/tutorial-webpack.html#content ?

(note: requires node 6).

[2016-08-01 13:51] moimael commented on #1347
So I tried (with node 4 and the --harmony_proxies as per documentation) and it still give me the same results. Since I have automock set to false, should I explicitly say somewhere to mock the css files ?

[2016-08-01 16:06] suchipi commented on #1341
I'll try to submit a PR sometime this week. For reference, here's the package I created: https://www.npmjs.com/package/chai-jest-snapshot

Some observations:
* You have to specify the snapshot file and snapshot name manually with my assertion helper, because chai is test framework-agnostic. I want to eventually create a babel plugin that will automatically fill in these arguments for mocha (and ma

[2016-08-01 16:24] yutin1987 opened #1348 "cannot setting global.__DEV__ = false"
When I typing `global.__DEV__ = false;`
or setting globals into package.json
[code]

`consonle.log(__DEV__)` still is true.

Why can not replace https://github.com/facebook/jest/blob/master/packages/jest-react-native/src/index.js#L28

React Native 0.30.0
jest 14.1.0

[2016-08-01 19:21] picodoth commented on #1348
@yutin1987  I see this too. There's two options to fix it.

1. do globals.__DEV__ = true from a file specified by the setupTestFrameworkScriptFile option.
2. setting "preset": "jest-react-native" will fix the problem for you have the preset installed.

I definitely recommend the second approach. Let me know if you still see the problem :)

[2016-08-01 22:35] cpojer commented on #1348
You shouldn't set `__DEV__` to false in your tests. Production versions often skip checks that you should use in tests.

If you want to set it to false, put `globals.__DEV__ = false` in a file and add it to the "setupFiles" config option array.

[2016-08-01 22:35] #1348 closed

[2016-08-02 00:45] cpojer commented on #1347
Can you share a repository with your Jest config that shows this problem? Otherwise it will be impossible to help.

[2016-08-02 01:06] yutin1987 commented on #1348
I should setting global `__TEST__ = true` in package.json

Thank you for @cpojer @picodoth

[2016-08-02 02:29] cpojer commented on #1341
This looks like a good start but I want to stress the importance of a good user experience which is why we spent so much time trying to get snapshot testing in Jest exactly right.

* I agree we should export the SnapshotFile constructor in Jest.
* Can you think of a way to make the matcher more general and not tied to patching jasmine so we can share as much code as possible?
* I recommend throwin

[2016-08-02 03:06] ddouglascarr opened #1350 "jest-react-native: add Response, Request and Headers classes to global scope"
In order to mock fetch() it is easier to have access to the Response, Request and Headers classes from the react-native fetch polyfill.

[2016-08-02 03:10] ddouglascarr commented on #1350
See pull request #1351

[2016-08-02 03:32] suchipi commented on #1341
If jest-snapshot had something like `processSnapshot(snapshotFilename, snapshotName, shouldUpdate)` that returned something shaped similarly to a SnapshotState but with matches and pass/fail status in it too, then that could be exported, and the matcher could delegate most of it. That way, the "rules" about when snapshots are overwritten, changed, etc could be consistent across consumers. The hard

[2016-08-02 03:34] suchipi commented on #1341
One other thing... I noticed that jest creates snapshot names with a number like `1` on the end of them. Is this the version of the snapshot? Or is this just to prevent namespace collision? I didn't implement this in my chai assertion helper, because I didn't understand the intended behavior. But I'd like to know more.

[2016-08-02 05:11] cpojer commented on #1341
Thanks for your response.

# Integration
I think jest-snapshot should contain all the functionality necessary to integrate the feature into other runners. Usually the way we approach problem solving is that we aren't providing solutions to problems we don't have, which is why you are in the unfortunate position to have to go in and make it adaptable for your use-case. I'm not sure I understand you

[2016-08-02 05:21] ddouglascarr commented on #1350
#1351 merged

[2016-08-02 05:21] #1350 closed

[2016-08-02 09:32] moimael commented on #1347
I can give you a stripped down version of the config I use, hope it helps :

package.json
[code]

test/styleMock.js
[code]

test/fileMock.js
[code]

webpack.config.js
[code]

animated-input.js
[code]

̣\__tests__/animated-input.test.js
[code]

[2016-08-02 11:12] Joey92 opened #1352 "<undefined /> rendered for numbers in snapshots"
We're currently starting test coverage with Jest and are using the ReactTestRenderer to compare against Snapshots. We're running into this issue here:

[code]

I get this in the Snapshot:
[code]

if I pass `1` as a string, instead of a number, the snapshot is generated as expected with the number 1 instead of the tag `undefined`.

[2016-08-02 12:23] moimael opened #1353 "Invariant Violation: ReactCompositeComponent: injectEnvironment() can only be called once."
We get this error a lot when trying to test our components.

Not sure where this is coming from.

[code]

[2016-08-02 17:27] holic commented on #10
For those looking to colocate their tests with their components (e.g. `.test.js`), I'm using the following config to find the right tests:
[code]

[2016-08-02 23:52] yaycmyk opened #1355 "Coverage HTML not generated for deeply nested modules"
It _could_ be my setup, but I don't think it is... basically when I run `jest --coverage` lately and it generates the lcov report, only the first 2 folder levels are actually emitted into the directory. I can see that Istanbul collected coverage for the deeper files, but the HTML is never actually injected into the `coverage` directory.

[2016-08-02 23:54] cpojer commented on #1355
cc @dmitriiabramov

[2016-08-03 00:23] dmitriiabramov commented on #1355
hm. we rewrote the whole collection/instrumentation flow this months.
did it just start happening or does it also happen in jest <14.0?

[2016-08-03 01:06] missyjcat commented on #1211
@calclavia my hacky way around this was to generate a jest test before running code coverage that requires every file that I'm interested in instrumenting.

Not ideal but works for my CI for now.

[code]

[2016-08-03 01:07] cpojer commented on #1211
See #1354. This will be in the next major release of Jest. Woohooo!

[2016-08-03 01:10] missyjcat commented on #1211
yay!

[2016-08-03 01:45] cpojer commented on #1353
This should be fixed with jest-react-native 14.1.1.

[2016-08-03 01:55] cpojer commented on #1347
cc @keyanzhang can you take a look at this? I thought that this would work exactly as expected with your object proxy module.

[2016-08-03 02:01] keyanzhang commented on #1347
Sure, let me see if I can repro this.

[2016-08-03 02:04] sebmarkbage opened #1356 "Idea: Highlight the test file and line number in the stack"
My usual workflow for jest is usually to look at an error or failed matcher stack. The name of the test is usually not very beneficial for figuring out where to look.

Would it be possible to figure out which of the stack frames is a test? Presumably the test file path is known since that's the entry point. The top stack frame with that file path has the line number.

It would be nice if just the

[2016-08-03 02:06] cpojer commented on #1356
Do you want to make a mock of what you'd like to see? I can make your dreams come true because I'm awesome at regex and usage of chalk.

[2016-08-03 02:28] kentcdodds opened #1357 "Remove * from React tutorial"
[Here is the tutorial](https://facebook.github.io/jest/docs/tutorial-react.html#content) I think I understand why you have it as `*` (so you don't have to worry about updating the example with new versions of things), but for many people who may not understand semver ranges, this could be teaching problematic practices. Thoughts? 💭

[2016-08-03 02:32] sebmarkbage commented on #1356
Current:

[code]

Would like to see some spacing around the error and a specific line for the error like this:

[code]

The error line should be bold. At that point the stack itself can be a more faded color so that the line in the error stands out even more.

[2016-08-03 04:03] benjy commented on #207
Using ES6 classes I had to use the solution provided by clouddra. E.g. using MyClass.prototype. Is that the recommended approach or is there still a fix coming here?

[2016-08-03 04:05] cpojer commented on #207
Yes, the recommended solution is to do `MyClass.prototype.myFn = jest.fn()`.

[2016-08-03 05:23] dmitriiabramov commented on #1356
i actually think it's a great idea. I usually follow the same workflow.

i can see thin implemented in two ways:
1. Only highlight the test stack line when matcher throws (should be super easy with new matchers)
2. Catch whatever throws and highlight the first occurrence of `-test.js` file in the stack (Jasmine will get in the way)

[2016-08-03 07:31] keyanzhang commented on #1347
Hey @moimael,

Thanks for reporting this! I have to say this is the most interesting bug I've fixed in a while haha.

#### tl;dr
I published a new version of `identity-obj-proxy`. Please upgrade it to `3.0.0` and it should work as expected. I also made a simple example which can be found at https://github.com/keyanzhang/jest-css-modules-example/.

For a component like
[code]

it generates a snapsh

[2016-08-03 07:32] cpojer commented on #1356
I love this too.

[2016-08-03 07:33] cpojer commented on #1347
This is so awesome. Thanks @keyanzhang for finding the issue!

[2016-08-03 07:33] #1347 closed

[2016-08-03 07:39] cpojer commented on #1357
The tutorial does say that the package.json will look "something like this" – maybe we can instead of `*` use something like `current-version` or something? I really don't want to have to track other projects and update our tutorials every time they bump a release. Do you wanna send a pull request for this? (It's in the docs folder on master).

[2016-08-03 07:54] moimael commented on #1353
I'm not doing any react-native stuff, and I'm not using jest-react-native. Will it be fixed for normal React too ?

[2016-08-03 08:00] moimael commented on #1347
@keyanzhang Awesome catch ! It works like a charm with the new release. Thanks everyone for your awesome work !

[2016-08-03 08:28] cpojer commented on #1353
Ah, it must be react-dom then. We need t

[2016-08-03 08:30] cpojer commented on #1353
I see, it must be react-dom then. Can you try `jest.mock('react/lib/ReactDefaultInjection')` and see if that makes it work?

[2016-08-03 08:54] moimael commented on #1353
Now it give me this error :
[code]

[2016-08-03 09:21] mpj opened #1358 "Improve readability of toEqual"
This is just unreadable. Some line breaks and indentation would go a long way.
![screen shot 2016-08-03 at 11 20 43](https://cloud.githubusercontent.com/assets/17815/17360522/5d44ae0c-596c-11e6-815e-3b3a1ddc22f4.png)

[2016-08-03 09:29] cpojer commented on #1353
Can you share a repository on GitHub that highlights this error? I'm pretty sure we need to either provide better mocking defaults in Jest or figure out a way for React to not completely blow up when react-dom and react-test-renderer are both required. The problem here isn't a Jest issue, it's that react-dom and the react-test-renderer are both rendering targets for React and right now in React yo

[2016-08-03 09:38] moimael commented on #1353
So I was wondering, since none of my component import react-dom, why it would cause the issue. And actually the issue come from an HOC I use : https://github.com/d6u/react-container-query which do import react-dom. And every component who throws this error is wrapped in the applyContainerQuery HOC. I cannot really share repo since it's on our private Github repo but just doing a really simple test

[2016-08-03 12:32] cpojer commented on #1358
I agree that this is currently hideous. Good news is we are actively swapping out all of the Jasmine matchers and we have a new nice diff engine that will look similar to snapshot failures. We hope to ship an improved version of toEqual soon and hope you can bear with us in the meantime.

On Wed, Aug 3, 2016 at 8:09 PM +0900, "Mattias Petter Johansson" <notifications@github.com<mailto:notification

[2016-08-03 14:53] gauntface opened #1359 "Mention on Totally Tooling Tips"
Hi,

Addy Osamni wanted to mention this project on a video of Totally Tooling Tips and we were wondering if this is ok with the project / org?

(Totally Tooling Tips is a Video series me and Addy Osmani do here: https://www.youtube.com/watch?v=IWgNn1kqrsA&list=PLOU2XLYxmsILKwwASNS0xgfcmakbK_8JZ)

Cheers,
Matt

[2016-08-03 15:06] moimael commented on #1314
I also hit the same issue on my regular dev setup. Actually the problem comes from webpack --watch which is always running on my machine to transpile after every changes. It means I cannot use jest --watch and webapck --watch at the same time.

[2016-08-03 15:09] moimael commented on #1314
It also happens when using `jest --watch --coverage`

[2016-08-03 16:48] dmitriiabramov commented on #1358
this is coming very soon. This is really the last jasmine matcher that needs to be fixed

[2016-08-03 17:00] calclavia commented on #1314
@modernlegend Ah! That might be the issue. I have a TypeScript compiler that watches and recompiles on file change. Is there a way to make Jest ONLY not detect changes in the compiled JS directory, so it doesn't clear the console?

[2016-08-03 17:29] rimunroe commented on #1279
I also am seeing this problem. After a conversation with @cpojer, I upgraded to 14.1.0 to see if that fixed it. Now, instead of seeing no output after the "Using Jest CLI" etc line, I'm seeing this instead:

[code]

[2016-08-03 17:56] rimunroe commented on #1279
Okay, I just tried reproducing the Jenkins results on my local dev machine (OS X 10.11).

The tests ran fine when I installed my project under `/tmp/tests`, but when I changed the folder to be `/tmp/(A) test/` I got the `NO TESTS FOUND` error again. Are characters in the file path not being escaped properly?

[2016-08-03 17:57] fson commented on #1318
I just ran into this issue. I'm using a library with a method named `mock` and `babel-plugin-jest-hoist` crashes because of this. It seems that it expects any invocation of a `.mock()` method with 2 arguments to have function as the second argument.

Here's a minimal test case I came up with:
[code]
It crashes with:
[code]

[2016-08-03 19:44] astraldragon commented on #1318
Pretty sure its this line https://github.com/facebook/jest/blob/master/packages/babel-plugin-jest-hoist/src/index.js#L145.  It evaluates the jest mock function without checking if the function  is coming from jest.

[2016-08-03 23:23] LouisStAmour opened #1364 "Document that react-test-renderer requires 15.3.0 (IE9+)"
Just spent the last hour or so trying to get a basic example of react-test-renderer running with Jest and React 0.14.8. I figured since react-test-renderer required React 15.3.0, that the previous version of react-test-renderer, 1.1.0, would be fine but support React 0.14.8.

I was wrong. react-test-renderer 1.1.0 seems to be an entirely different beast, not meant to be used with Jest snapshots. T

[2016-08-04 00:25] #1357 closed

[2016-08-04 02:55] cpojer commented on #1352
I published pretty-format 3.5.2. Simply reinstalling pretty-format or wiping away Jest from your node_modules and reinstalling it should work.

[2016-08-04 02:55] #1352 closed

[2016-08-04 02:55] cpojer commented on #1352
And also, thanks for the bug report!

[2016-08-04 03:35] cpojer commented on #1359
Yeah, that sounds like it could be awesome! I'm happy to help come up with content. I'm actually in London from August 15-19 and would be happy to chat with you about this in person.

[2016-08-04 05:35] suchipi commented on #1341
Regarding using the matcher: There are a few reasons that I can not use it in its current state, detailed below.

# Counter
Because the matcher [handles the counter logic](https://github.com/facebook/jest/blob/a0adca313d8bf1640ad84ec04020c2baa22bdc2b/packages/jest-snapshot/src/matcher.js#L43), I cannot create snapshots whose names do not use the counter. In order to remain relatively unopinionated

[2016-08-04 06:54] SergeyKlimenko opened #1366 "Display rendered component in browser"
Hello.
Can we display component what we rendered in test?
It very useful functional.

for example:
[code]
and display it in browser.

[2016-08-04 06:56] cpojer commented on #1366
Jest does not support browser rendering and it is unlikely that it will. Jest ships with jsdom which emulates the DOM.

I encourage you to try out snapshot testing: facebook.github.io/jest/blog/2016/07/27/jest-14.html

[2016-08-04 06:56] #1366 closed

[2016-08-04 08:16] Joey92 commented on #1352
Thank you! I'll check it out.

[2016-08-04 08:34] #1318 closed

[2016-08-04 08:34] cpojer commented on #1318
Thanks for troubleshooting this! This is indeed a bug in the plugin and I attached a PR that should fix this. I'll shortly publish a new version of babel-plugin-jest-hoist. If you wipe away the module and babel-jest and babel-preset-jest and reinstall them, this error should go away.

[2016-08-04 08:53] cpojer commented on #1341
### Message

I recommend to send a pull request that refactors the matcher into two parts: one that returns `{pass, actual, expected}` and one (the jasmine matcher) that wraps the raw matcher and transforms it into `{pass, message}`. This way you can do whatever you'd like with the actual and expected value.

### Counter

If you create a PR as suggested above, the raw matcher will receive a snapsh

[2016-08-04 09:17] Secretmapper opened #1368 "[Question] Is Jest a good fit for backend unit tests?"
I've been loving Jest so far testing React components.

I've used/been using Mocha/Jasmine for testing node backends though, and I just wanted to ask if it's possible (and recommended) to use Jest for backend testing, since I could not find any indication of it in the docs (React, React-Native, Async, Webpack, i.e. no `Node`)

I just tried using it, and unfortunately I hit an instant roadblock. `b

[2016-08-04 09:27] cpojer commented on #1368
What kind of backend testing are you trying to do? Jest itself uses Jest for tests and loads of libraries use Jest for testing. Can you provide a repository on github that I can use to `npm install` and `npm test` that shows your issue?

Two things I recommend: try setting `"automock": false` and `"testEnvironment": "node"`. If your other tests rely on this, you can create a separate Jest config a

[2016-08-04 09:29] aalbul opened #1369 "toContain does not work on Objects anymore"
Hi,

After upgrade to 14.1.0 i'm trying to execute this example:
expect([{name: 'one'}, {name: 'two'}]).toContain({name: 'two'});

and getting this error:
Error: expected '[{"name":"one"},{"name":"two"}]' to contain '{"name":"two"}'

It used to work on 13.2.3

[2016-08-04 09:30] fson commented on #1318
It works! Thanks for fixing @cpojer 🙌

[2016-08-04 09:32] cpojer commented on #1369
Hey! It does work, however we don't use deep equality any more but rather object identity.

[code]

Another workaround:

[code]

Personally I feel like this makes more sense and will enable you to write *better* tests. When I updated the matchers at FB I actually found some tests that weren't really doing anything. The second example makes it explicit what you expect, most of the times the return

[2016-08-04 13:12] Secretmapper commented on #1368
Thanks for the quick reply @cpojer!

Glad to hear Jest can be used with Node! I was thinking it would, since it's essentially a testing environment and the API should just work, but felt the need to ask it especially since there's almost no resources online showing it being used with Node backends (or my Google-Fu just wasn't good enough).

I was already mocking my `node_modules` so that wasn't th

[2016-08-04 13:12] #1368 closed

[2016-08-04 13:58] rimunroe commented on #1369
@cpojer I think having a matcher for membership testing via a deep equality comparison really improves the clarity of your tests. Otherwise, I end up writing workarounds a lot where I go "for every element in this collection, ensure that it matches one element in the other collection". Have I overlooked a better way to do this with the API as it is?

Also, the API docs have said (for a while) that

[2016-08-04 14:44] cpojer commented on #1368
Yes, the default environment (`jsdom`) doesn't always lend itself well to node testing. Another benefit is that the node env will load 500ms faster (effectively instant) because jsdom is kinda slow.

[2016-08-04 16:23] dmitriiabramov commented on #1369
testing deep equality in `.toContain` would probably be too dangerous, but what if we added another matcher like `expect([{a: 1}, {b: 2}]).toContainEqual({1: 5})`?

[2016-08-04 16:25] rimunroe commented on #1369
I would definitely prefer separate matchers for deep vs identity checks, which would mirror `toBe`/`toEqual`.

[2016-08-04 16:31] vjeux commented on #1359
<3

[2016-08-04 16:41] gauntface commented on #1359
We've actually recorded some content already and me and Addy have moved to the states so won't be around in August, sorry :(

[2016-08-04 16:43] cpojer commented on #1359
Oh! Can we take a look at it before you are planning on launching it?

[2016-08-04 18:14] brentvatne opened #1370 "Set defaultPlatform for specific test"
In react-native we have `.android.js`, `.ios.js`, `.web.js`, `.windows.js`, etc. In order to test components on different platforms easily, it would be helpful to be able to specify what platform a specific test is for and have it automatically include the correct files based on the extension. As discussed on messenger @cpojer

[2016-08-04 18:25] kaustav1992 opened #1371 "Error: Cannot find module './package' from 'index.js"
I'm trying to use Jest to test some of my async NodeJs code. And I'm getting this error while trying to import one of my files.
It gets triggered from lib/commonjs/jest-resolve/build/index.js:197:17

[2016-08-04 18:26] cpojer commented on #1371
Can you provide a repository on github that I can npm install and `npm test` to locate the issue?

[2016-08-04 18:32] kaustav1992 commented on #1371
Unfortunately, I cannot share the repo since its Proprietary Information.

[2016-08-04 18:33] kaustav1992 commented on #1371
Would a stack trace be any useful?

[2016-08-04 20:02] dmitriiabramov opened #1372 "hiding stdout, stderr when running the full suite"
Every single test suite in the world has a bunch of random stdout/stderr output during the test execution which is usually super annoying, not helpful and looks ugly
<img width="870" alt="screen shot 2016-08-04 at 12 58 43 pm" src="https://cloud.githubusercontent.com/assets/940133/17416491/3560685e-5a43-11e6-9df6-eb2491174d03.png">

I was thinking about hiding it all by default for a full test sui

[2016-08-04 21:31] dmitriiabramov opened #1373 "moduleNameMapper is missing the resolution algorithm"
If i require a directory without specifying `index.js` like
[code]
and map it using `moduleNameMapper`
[code]

the require fill fail.
It'll map it to `/rootDir/cde/some-directory` and try to `readFileSync` and fail because it's a directory.

Expected behavior:

1. look at the mapping result
2. if it's a directory, resolve `directory/index.js` or look into  `package.json` inside this dir and check

[2016-08-05 02:04] cpojer commented on #977
I think this should be fixed by setting the "testEnvironment" config option to "node". jsdom doesn't deal well with this stuff.

[2016-08-05 02:04] #977 closed

[2016-08-05 02:05] cpojer commented on #815
@dmitriiabramov is taking care of this through his work.

[2016-08-05 02:05] #815 closed

[2016-08-05 02:05] cpojer commented on #993
I think what @dmitriiabramov is doing should be enough to make this reasonable.

[2016-08-05 02:05] #993 closed

[2016-08-05 02:06] cpojer commented on #1314
Duplicate of #1284.

[2016-08-05 02:06] #1314 closed

[2016-08-05 02:06] cpojer commented on #1342
I think this is gonna be resolved with all the work @dmitriiabramov is doing.

[2016-08-05 02:06] #1342 closed

[2016-08-05 02:17] cpojer commented on #1371
Can you provide a reduced test case with just the modules required that point out this bug?

[2016-08-05 03:09] kaustav1992 commented on #1371
Fixed the issue. Had to include this in my config:
jest": {
  "moduleFileExtensions": [
    "json"
   ]
}

I'm running into another issue now :) Will create a new thread for it.

[2016-08-05 03:11] #1371 closed

[2016-08-05 04:03] cpojer commented on #1372
`--silent` is already implemented and could be expanded to do what you are suggesting.

[2016-08-05 05:06] kaustav1992 opened #1376 "Issue with babylon when running jest"

[2016-08-05 08:14] #1376 closed

[2016-08-05 08:35] moimael commented on #1314
My second comment is indeed a duplicate but the original reporter issue and my first comment are not. What would help is a way to exclude the build directory from being watched by jest, otherwise everytime the transpiler build after a change, jest console get cleared.

[2016-08-05 11:14] gaearon commented on #1328
cc @keyanzhang who also wanted to explore this:

[2016-08-05 12:47] njpatel commented on #1353
facebook/react#7386 references the issue too. The submitter provided a test case: https://github.com/NicolasT/react-test-renderer-and-react-dom-incompatible .

[2016-08-05 12:47] GrigoryPtashko commented on #1311
Hi!

Any update on this one? I've tried debugging it myself but no luck so far.

[2016-08-05 13:33] bestander opened #1377 "async/await .not.toThrow idiomatic check"
To check that async functions are not throwing exceptions I do this:

[code]

Is it possible to do something like this?

[code]

We came across this with @kentaromiura today.

[2016-08-05 15:31] rimunroe commented on #1279
I didn't notice when I searched for this issue initially, but it appears this person ran into the same problem https://github.com/facebook/jest/issues/1315

[2016-08-05 16:11] bravely commented on #1279
I'm not sure if I'm seeing the same issue or not- but I'm finding that `testRegex` does nothing.

Every time I change it, it's not affected in the run, and the display even shows the default version. On the other hand, change testDirectoryName, and that works immediately.

From what I'm seeing in source, I'm not sure testRegex's config is ever used, but I haven't done a deep dive either.

[2016-08-05 19:36] dmitriiabramov commented on #1372
@cpojer should that be a default behavior though?

[2016-08-05 19:50] dmitriiabramov opened #1382 "expect(jest.fn()).toHaveBeenCalled() is not working"
[code]

[code]

cc @maximderbin

[2016-08-05 19:51] maximderbin commented on #1382
@dmitriiabramov I'll have a look today or tomorrow

[2016-08-05 21:49] wdhorton opened #1383 "Snapshot file doesn't pretty-format"
Excited about the new snapshot testing! I tried to set it up, and it runs, but for some reason the generated snapshot file (and diff when the test fails) is shown as an object, rather than pretty-formatted like in the blog post.

Packages:
[code]

My config:
[code]

config/jest/transform.js:
[code]

babel.server:
[code]

LoginLink component:
[code]

Test:
[code]

Snapshot:
[code]

[2016-08-05 22:07] wdhorton commented on #1383
Never mind, I wasn't calling toJson(). :(

[2016-08-05 22:08] #1383 closed

[2016-08-05 22:15] emmby opened #1384 "React Native snapshots fail with "TypeError: Cannot read property '_tag' of undefined" for components containing <TextInput>"
To reproduce:

1. Modify https://github.com/facebook/jest/blob/master/examples/react-native/Intro.js to add a &lt;TextInput /&gt; in render()
1. npm test

Result:

[2016-08-05 22:22] emmby commented on #1384
[code]

[2016-08-05 22:27] emmby commented on #1384
Per https://facebook.github.io/jest/docs/tutorial-react-native.html#mock-native-modules-using-jest-mock, the workaround is to add

`jest.mock('TextInput', () => 'TextInput');`

to the beginning of your test.

[2016-08-05 23:23] cpojer commented on #1382
The Jest matcher for this is toBeCalled. I think we should update toHaveBeenCalled and use toBeCalled's implementation for it and similar matchers. I remember Dmitrii and I previously talked about this.

On Sat, Aug 6, 2016 at 4:51 AM +0900, "Maxim Derbin" <notifications@github.com<mailto:notifications@github.com>> wrote:

@dmitriiabramov<https://github.com/dmitriiabramov> I'll have a look today o

[2016-08-07 16:39] LouisStAmour commented on #1353
I'm also seeing this caused by https://github.com/react-bootstrap/react-bootstrap/blob/master/src/Modal.js#L7 when I used a bootstrap `Modal` in my code. Running `jest.mock('react/lib/ReactDefaultInjection')` "fixed" that error, but when I open/display the modal, I see:

[code]

I tried avoiding this by adding `jest.mock('react/lib/ReactBrowserEventEmitter');` but it doesn't help. Now the problem

[2016-08-07 19:09] ffxsam commented on #1353
I'm getting this as well, when using Jest on a project that uses Material UI.

[2016-08-07 19:14] ffxsam commented on #1353
Here are the only two tests I have:

### Link.test.js
[code]

### ArtistTrackUI.test.js
[code]

[2016-08-07 20:02] taion opened #1387 "Testing browser code using native ES modules"
We're in the process of migrating to webpack 2.

As part of this migration, we're moving to use the native ES module support there. This creates an issue when testing with Jest, because Node doesn't support ES modules yet.

Right now, we're addressing this by turning on the CommonJS module transform when `NODE_ENV` is `test`, but it might be cleaner if `babel-preset-jest` included the CommonJS mod

[2016-08-07 20:37] LouisStAmour commented on #1353
Workaround: By using `jest.mock('react/lib/ReactDefaultInjection');` with automock turned off, I'm able to get everything running smoothly for tests which don't actually need `react-dom`. (We get past the load errors.)

For tests that require `react-dom`, I've duplicated my setup code but replaced `import renderer from 'react-test-renderer';` with `import { mount } from 'enzyme'; import jasmineEnz

[2016-08-07 20:37] gaearon commented on #1353
`jest.mock('react-dom')` should be enough for this.

[2016-08-07 20:38] gaearon commented on #1353
(I’m not saying it’s good though—this requirements is confusing and should ideally be fixed, or at least documented, on the React side.)

[2016-08-07 20:40] LouisStAmour commented on #1353
With `jest.mock('react-dom')`  I still get the following error, same as when I mock both `react/lib/ReactDefaultInjection ` and `react/lib/ReactMount`

[code]

[2016-08-07 20:52] gaearon commented on #1353
Enzyme’s `mount()` uses `jsdom` which is a complete re-implementation of DOM in memory 😄 . I don’t think it’s entirely surprising that it “just works” for this use case compared to a utility that has barely been out for a week, and has explicit goal of *not* implementing DOM-specific methods.

If you look at the stack trace, you will see that it fails because it calls DOM APIs (namely `node.contai

[2016-08-07 20:53] gaearon commented on #1353
Oh, and another workaround in the meantime would be to mock the component that uses those DOM APIs (in your case, `node_modules/react-overlays/lib/Modal.js`).

[2016-08-07 21:56] LouisStAmour commented on #1353
Thanks @gaearon - I tried the mock route before commenting. I'm not sure what I'm doing wrong, I've tried mocking `jest.mock('dom-helpers');`, `jest.setMock('dom-helpers/util/inDOM', false);` and creating a top-level `__mocks__` folder to mock `Modal`'s `focus` function to a noop. But every time it keeps loading `./node_modules/dom-helpers/query/contains.js` with inDOM returning `true`, so my mock

[2016-08-08 00:26] suchipi commented on #1341
I think the suggested changes should work. I plan to take a look at this (and implement those changes) at some point; haven't had a lot of time lately.

[2016-08-08 00:45] ffxsam opened #1388 "Way to mock Meteor packages?"
I tried the following in a Jest test:

[code]

But when my test imports a component using this package, I still get:

[code]

Is there any way I can not only prevent Meteor packages from being imported in Jest tests, but also set up mock functions so the Meteor package functionality (in this case, i18n) will work?

[code]

[2016-08-08 07:41] hakunin commented on #652
@cpojer Where / how?

[2016-08-08 09:51] yutin1987 opened #1389 "instanceof error"
sample code `error.js`
[code]

run `node error.js`
TypeError true
Error true

run `babel-node error.js`
TypeError true
Error true

but run `jest`
TypeError false
Error true

I'd know why that TypeError is false. :(

node v6.3.1
babel-node v6.7.7
jest v14.1.0

[2016-08-08 12:01] ahanriat opened #1390 "jest-react-native conflict with react-native"
Hi !

When upgrading to `RN 0.31.0`, I get an error running `npm start` due to a conflict between react-native and jest-react-native on `openFileInEditor` (Duplicate module name: openFileInEditor).

I assume this is because `jest-react-native` has it's own React Native in its node_modules.

npm version: `3.10.5`
node version: `v6.3.0`

Thanks for your help !

[2016-08-08 12:46] zoontek commented on #1390
See #1378

[2016-08-08 14:12] ahanriat commented on #1390
\o/ awesome, thanks for the quick reply !

[2016-08-08 14:12] #1390 closed

[2016-08-08 21:40] LouisStAmour commented on #1353
I was able to get it working thanks to extensive use of a debugger and conditional breakpoints, with the following line. No idea why it wasn't working before, maybe it's because I'm using ES6 function shorthand, or maybe it was the lack of `.js` at the end in my last comment's examples.

[code]

As to the rest, it appears I'm using too much state and not enough props for me to interact with the sh

[2016-08-08 23:21] pieterv opened #1392 "Feature request: Named snapshots"
Snapshot tests are badass! I have been using them in end to end style tests where i trigger an action then call into a few different global jest mock functions and assert the call args using `expect(...).toMatchSnapshot()`. Now that i have a few of these with similar data in a single `it` it would be great to be able to differentiate them by some way other than the index.

I was wondering if we co

[2016-08-08 23:24] cpojer commented on #1392
I still haven't made up my mind about what `toMatchSnapshot` should take as an argument. @joesavona asked about custom formatters and that's what the argument could be used for as well.

[2016-08-08 23:54] pieterv commented on #1392
An object maybe? ` expect(foo).toMatchSnapshot({name: 'foo', formatter: () => ''});`, I'm personally not concerned if it's verbose since i feel like the main times when would want this you would also be fine with writing a custom matcher: `expect(cache).toMatchCacheSnapshot()`. It seems like the same would be true with formatters, `expect(query).toMatchQuerySnapshot()`, they are not really one off

[2016-08-09 00:42] yutin1987 commented on #1389
see the http://stackoverflow.com/a/33877501/454967

[2016-08-09 00:42] #1389 closed

[2016-08-09 01:42] bsr203 commented on #1353
Hi @cpojer 's solution works for me
`jest.mock('react/lib/ReactDefaultInjection');`
but, I wonder why I get this error if I don't use ReactDOM or enzyme explicitly. I have very similar test as in the [CRA](https://github.com/facebookincubator/create-react-app/blob/master/template/src/__tests__/App-test.js) and I don't see any mocking there. IS there a way to trace where all the registration happen

[2016-08-09 05:45] bear2029 opened #1393 "Coverage threshold should only execute when --coverage is specified"
Jest start to support coverage threshold, which is great. But annoyingly I can't turn it off when I am on `--watch` mode. Ideally it should only perform when `--coverage` is specified. Can we change it?

[2016-08-09 11:57] gaearon commented on #1353
Some component you use imports `react-dom` (e.g. for `findDOMNode`).

[2016-08-09 16:58] dmitriiabramov commented on #1393
@bear2029 are you running `--watch` and `--coverage` at the same time?

[2016-08-09 16:59] dmitriiabramov commented on #1393
we rewrote the way coverage is collected in the latest version of jest, and if `--coverage` is not specified, the threshold should not be checked either

[2016-08-09 20:38] bear2029 commented on #1393
no, i did not have `--coverage` specified in the same time with `--watch`. My version is 14.1.0, is this the latest version you talked about?

[2016-08-09 21:06] cpojer commented on #1390
Just published a new version of jest-react-native which should solve this.

[2016-08-09 21:07] cpojer commented on #652
Sorry, I mean the `setupFiles` config option: http://facebook.github.io/jest/docs/api.html#setupfiles-array

[2016-08-09 21:08] cpojer commented on #1388
I don't quite understand what `:i18n` is and it seems like that's why `jest.mock` fails with the error you are seeing. If you use the correct module name (probably without the :i18n?) it will work.

[2016-08-09 21:08] #1388 closed

[2016-08-09 21:08] cpojer commented on #1388
Please let me know if `:i18n` is some sort of webpack thing, though. I have never seen it.

[2016-08-09 21:13] cpojer commented on #1384
We should provide a default mock for TextInput.

[2016-08-09 21:13] cpojer commented on #1377
I totally agree we should have this.

[2016-08-09 21:18] ffxsam commented on #1388
It's a [Meteor] package. So for example, [`universe:i18n`](https://atmospherejs.com/universe/i18n) is a Meteor package that can be used via:

[code]

Is there some way in Jest to make it completely ignore all imports that match `meteor/*` so I can prevent Meteor packages from being loaded, and then just mock them?

[2016-08-09 21:22] cpojer commented on #1388
Yeah, I'd recommend to use the `moduleNameMapper` config option to remap where these direct to: http://facebook.github.io/jest/docs/api.html#modulenamemapper-object-string-string

I don't know how meteor works with module resolution. What does `meteor/universe:i18n` translate to when using meteor? Which bundler is it using or is meteor its own bundler?

[2016-08-09 21:30] cpojer commented on #1387
yeah I think that makes sense. Are you willing to add this to the preset and send a PR? :)

[2016-08-09 22:02] taion commented on #1387
I tried taking a look for a bit but I couldn't figure out whether babel-preset-jest runs before or after user-specified presets.

Unfortunately it would be dangerous to just add the CommonJS module transform to the preset if it runs _before_ user-specified options, as there'd be no way to make sure that a change there doesn't override the user-provided module transform.

[2016-08-09 22:03] cpojer commented on #1387
Can we just do "passPerPreset: true" and put the babel-preset-jest into the last list and then try to see when they run?

[2016-08-09 22:09] #1315 closed

[2016-08-09 22:11] dmitriiabramov commented on #1377
i'll make it work!
@cpojer should we add async functions to .babelrc?

[2016-08-09 22:11] cpojer commented on #1279
@bravely you might be on an older version of Jest if that's the case?

@rimunroe fixed this in #1379 and I'm hoping to tag a new release this week with the fix :)

[2016-08-09 22:11] #1279 closed

[2016-08-09 22:13] taion commented on #1387
The plugins in the Jest preset run first. I think `babel-jest` would have to get quite a bit more complicated to properly order the plugins, and that probably doing something like this in user space would be better:

[code]

Sound reasonable?

[2016-08-09 22:13] taion commented on #1387
^- That's what I'm actually doing right now.

[2016-08-09 22:15] bravely commented on #1279
@cpojer I'm on 14.1.0. This is my Jest config(same result whether you're in its own config file or package.json):

[code]

[2016-08-09 22:16] cpojer commented on #1387
In the tutorial we can also just recommend people to add:

[code]

that should work fine, right? And people can continue to use babel-jest.

[2016-08-09 22:18] cpojer commented on #1279
@bravely it seems like that is a separate issue. testRegex definitely does work *but* you are using `testFileExtensions` which we deprecated but still support. If it is present, it will overwrite the `testRegex`. We should probably make it throw if both are provided.

[2016-08-09 22:20] cpojer commented on #1377
no, please don't. `async/await` compiles into a promise. This is literally just like the work you did for `pit`:

[code]

when the function is called and returns a promise and it doesn't throw, we should wait for the promise to resolve and then make sure it throws.

Since it creates an `async` function inside of another `async` function it should properly make the `it` callback a promise, right?

[2016-08-09 22:24] taion commented on #1387
:facepalm:

I got carried away because I was using something like that for a bunch of libraries where the default was "use CommonJS modules" and I wanted to specifically disable CommonJS modules in certain cases.

What you have there is obviously much better.

[2016-08-09 23:01] cpojer commented on #1387
Let's close this now and update the tutorial for webpack two support when that is actually shipped and ready. Do you wanna work on this?

[2016-08-09 23:01] #1387 closed

[2016-08-09 23:01] mbrio opened #1395 "Incredibly slow (near unusable) on Docker container"
I've begun using Docker containers for many of my projects and have noticed how incredibly slow Jest runs in a Docker container when executing on a shared folder on OS X. Within Docker you can mount a local path and map it to a path within the container (e.g. ~/Source/projecta:/usr/src/app). When using this configuration my tests which consists of a single file with a single unit test takes over 3

[2016-08-10 00:28] cpojer commented on #1395
Hmm, that is very weird. Is the file system access slow, that's really the only thing that should be different here between Jest and mocha? Jest crawls the file system from the root (package.json) and looks at all the files for static analysis. How many cores does the system report that it has? Can you try invoking Jest with `-i`?

[2016-08-10 00:29] cpojer commented on #1395
Another thing is that if you are using babel-jest, babel actually loads a ton of modules so if the fs is slow, this might contribute to that.

[2016-08-10 02:16] ffxsam commented on #1388
I wish I could tell you! I'm not clued in to the inner workings of the Meteor build process. It somehow dives into the local package cache and imports those modules.

[2016-08-10 02:18] cpojer commented on #1388
I'd recommend going with the moduleNameMapper option to map that module to a stub or something.

[2016-08-10 02:25] ffxsam commented on #1388
Does this way make sense? Bear with me, I'm still a Jest n00b. :)

### package.json
[code]

And then I have a `__mocks__` folder at root level, and in this case I have `__mocks__/meteor/universe:i18n.js` which contains a function mock:

[code]

If there's a more efficient or better way, let me know!

[2016-08-10 02:26] cpojer commented on #1388
Yeah, something like this should work.

[2016-08-10 02:27] cpojer commented on #1388
It shouldn't be in `__mocks__` though, those files are kinda special :)

[2016-08-10 02:28] ffxsam commented on #1388
Ah ok, got it. Thanks for your help!

[2016-08-10 02:39] cpojer commented on #1353
Yeah we should really come up with documentation for this and maybe even add error messages to React that point you to what you need to do to avoid the errors.

[2016-08-10 03:09] dmitriiabramov commented on #1395
i remember having similar kind of issues inside docker container. The problem was the slowness of fs access. I think it was related to mounting a directory through a virtual container

[2016-08-10 03:10] dmitriiabramov commented on #1395
found the issue https://github.com/docker/compose/issues/631
not sure if it's still relevant

[2016-08-10 04:12] hanigamal opened #1396 "Getting more done in GitHub with ZenHub"
Hola! @hanigamal has created a [ZenHub](http://www.zenhub.com) account for the **facebook** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnbo

[2016-08-10 05:08] hakunin commented on #652
Thanks for the clarification. I my setupfile, I tried setting `jasmine.DEFAULT_TIMEOUT_INTERVAL` but it says Jasmine isn't there. I ended up putting the line in the test itself.

[2016-08-10 06:46] saleeh93 opened #1397 "Error in react-native@0.31.0"
Error in running test in react-native@0.31.0
it works in react-native@0.30.1
[code]

[2016-08-10 07:31] oscar-b commented on #1387
Just for the sake of finding this issue, I'll add the errors this causes. Obvious now, of course ;)

[code]

My .babelrc now looks like this, and it seems to work as it should:

[code]

[2016-08-10 09:43] saleeh93 commented on #1338
did you get it working .?

[2016-08-10 10:03] saleeh93 opened #1398 "react-native Listview Testing"
This show ups when testing ListView in react-native
[code]

[2016-08-10 14:01] gauntface commented on #1359
Yeah sure, can you drop me an email: gauntface 'at' google 'dot' com and I'll share it with you.

[2016-08-10 14:46] taion commented on #1387
@oscar-b I just do this:

[code]

You don't need to re-specify all the existing presets.

@cpojer You want this as a PR to https://facebook.github.io/jest/docs/tutorial-webpack.html? I can add a paragraph there if that's what you mean.

[2016-08-10 14:48] cpojer commented on #1387
Also, while you are changing your babelrc, I recommend running jest with `--no-cache` until you are done.

@taion yeah that would be great. Maybe can you add a note to the bottom that talks about webpack two and state it is experimental?

[2016-08-10 14:49] cpojer commented on #1359
ok! Closing this issue.

[2016-08-10 14:49] #1359 closed

[2016-08-10 14:52] taion commented on #1387
Why not just cache bust using `.babelrc` contents and Babel version like babel-loader? https://github.com/babel/babel-loader/blob/fca4b92cd09efdaf94b5c422c4f0e1b7bb26997d/index.js#L43-L50

[2016-08-10 15:19] cpojer commented on #1387
I was under the impression there could be many nested .babelrc files. I guess I could copy https://github.com/babel/babel-loader/blob/fca4b92cd09efdaf94b5c422c4f0e1b7bb26997d/lib/resolve-rc.js into Jest and add it to the cache key? I've been meaning to fix this for a while but was worried about not finding all the babelrc files.

[2016-08-10 15:22] taion commented on #1387
There could be, but they don't stack, so you only need the single `.babelrc` corresponding to the file in question.

[2016-08-10 15:23] cpojer commented on #1387
that's good to know :) Thanks! I'll include it in the cache key then.

[2016-08-10 15:35] frankrowe commented on #1398
Also getting this error with ScrollView.

[2016-08-10 15:36] cpojer commented on #1398
I recommend for now to mock out these components:

[code]

[2016-08-10 16:34] patrys commented on #1397
This is caused by https://github.com/facebook/react-native/commit/eb7442ba09dc13cc32c6eab8f42eb6ad6fad1651

[2016-08-10 17:37] cpojer commented on #652
Phew, I'm sorry again. `setupFiles` actually runs before we set-up jasmine. We have `setupTestFrameworkScriptFile` which runs after jasmine and before your test.

[2016-08-10 18:01] DaleJefferson commented on #1397
Looks like we need to change this line, but I guess it needs to be done in a way to support React Native 0.30 and 0.31

https://github.com/facebook/jest/blob/master/packages/jest-react-native/src/index.js#L31

[2016-08-10 18:03] cpojer commented on #1397
It's fine if we bump the peer-dep to 0.31. That way people with react-native 0.30 can use 14.1.2 and we'll publish 14.2.0 to work with 0.31.

[2016-08-10 18:06] cpojer commented on #1338
I recommend doing this:

[code]

which should work until we provide a better mock for it.

[2016-08-10 19:52] patrys commented on #1397
I've opened a PR for react-native that should fix this in a backwards-compatible way. Otherwise jest could just import from `whatwg-fetch` directly.

[2016-08-10 20:12] ranjitpandit commented on #1338
hi cpojer,
I'm already using jest.mock('ListView') as you can see here.
https://github.com/ranjitpandit/jest-snapshot/blob/master/js/components/list/__tests__/TestShowList.js

I also just upgraded to the latest version and I'm getting this error in the sample repo I've provided.
Can you please run the test and see what can be done to fix the error?

[code]

[2016-08-10 22:33] iam-peekay opened #1403 "Testing with React-Intl"
Hi. I'm trying to use snapshot testing for components that use `React-Intl` (https://github.com/yahoo/react-intl). I tried following a similar approach to how we'd set it up using Enzyme (https://github.com/yahoo/react-intl/wiki/Testing-with-React-Intl#enzyme):

[code]

and then my tests:
[code]

it keeps throwing an error saying  `Invariant Violation: [React Intl] Could not find required `intl` o

[2016-08-10 22:56] DaleJefferson commented on #1398
I have this working but you have to do something more complex for listview since DataSource is a static method on ListView.

[2016-08-11 00:32] kgowru commented on #1312
@cpojer I'm seeing the same issue as @dreamereric. I assume it has to do with the fact that I wasn't using the "jest-react-native" preset. But when I am, I keep seeing the error below. Any tips? If you require I can post this on a new issue.

The jest config in package.json
[code]

The error I see:
[code]

[2016-08-11 01:01] cpojer commented on #1312
No it seems like your configuration is messed up. Please remove `modulePathIgnorePatterns`, `haste`, `testFileExtensions` and `unmockedModulePathPatterns`.

[2016-08-11 01:15] #1396 closed

[2016-08-11 02:28] saleeh93 commented on #1398
@cpojer When we use Mocks as @DaleJefferson said it throws error in ListView.DataSource

[2016-08-11 02:45] cpojer commented on #1398
Oh I see. @DaleJefferson can you share your mock? We should add it to the jest-react-native preset.

[2016-08-11 03:05] ffxsam opened #1406 "Trying to familiarize myself with the code"
Hey team,

I'm trying to work on my first PR to allow the ability for devs to specify a single snapshot folder (rather than have a bunch of `__snapshots__` folders sprinkled throughout a project). It's a bit daunting familiarizing myself with the code. I'm having trouble figuring out how to read config vars. I can see it's passed into the class constructors, but not sure exactly how that's fed int

[2016-08-11 03:08] cpojer commented on #1406
I'd like to first evaluate whether this makes sense to do. What is the particular reason why you think one general snapshot folder per project is better than many that are colocated with their tests?

How would you name the snapshot files to correspond to the test files? We actually wanted to make it a constraint to colocate snapshots with their test files. This makes it easier for our snapshot cl

[2016-08-11 03:09] dmitriiabramov commented on #1406
hey @ffxsam !

here's a few files to look at
config types: https://github.com/facebook/jest/blob/master/types/Config.js
then if you add a config option to your package.json, it's usually gets set to the resulting `config` object in here: https://github.com/facebook/jest/blob/master/packages/jest-config/src/normalize.js#L84
this is where (i think) the snapshot file path is calculated) https://githu

[2016-08-11 03:11] ffxsam commented on #1406
I figured, for those who like to put `*.test.js` files next to the component source code (rather than in a root level `__tests__` folder), specifying a single root level folder for snapshots would keep things tidy, rather than having `__snapshots__` all over the folder hierarchy. Thoughts?

[2016-08-11 03:11] cpojer commented on #1406
Also, we should update our contributing guideline for Jest.

Here is how it works basically:
* `npm install`
* `brew install hg` (or use any other package manager that can install mercurial, needed for the Jest tests)
* `npm run test`

While developing, make sure to run `npm run watch` to continuously build your changes in the background.

[2016-08-11 07:17] aaronjensen commented on #1395
This is a known docker for mac issue: https://forums.docker.com/t/file-access-in-mounted-volumes-extremely-slow-cpu-bound/8076/158

[2016-08-11 07:52] HZ-labs opened #1407 "expect(...).toMatchSnapshot is not a function"
Using Jest CLI v11.0.2, jasmine2, babel-jest

<img width="811" alt="screen shot 2016-08-11 at 10 42 53" src="https://cloud.githubusercontent.com/assets/1663933/17581794/8e7e3cfa-5fb0-11e6-9699-40d639ed4eb3.png">

[2016-08-11 10:10] yutin1987 opened #1408 "Timer mocks, it's not working on react native"
run
[code]

output
[code]

Do I need setting ?
`jest.mock('setTimeout');`

[2016-08-11 10:52] yutin1987 commented on #1408
miss `jest.useFakeTimers() `

[2016-08-11 10:52] #1408 closed

[2016-08-11 11:33] edvinerikson commented on #1407
To be able to use snapshot testing you need to update Jest to 14 (you are using 11 atm)

[2016-08-11 12:31] DaleJefferson commented on #1398
This works but not sure about return a View

[code]

[2016-08-11 12:33] DaleJefferson commented on #1338
@ranjitpandit I have it "working" by using this mock

https://github.com/facebook/jest/issues/1398#issuecomment-239147381

[2016-08-11 13:17] HZ-labs commented on #1407
Yep, thank you

[2016-08-11 13:17] #1407 closed

[2016-08-11 14:10] frankrowe commented on #1398
This mock of ListView is working for me
[code]

[2016-08-11 15:54] ffxsam commented on #1406
So, to elaborate, this is a typical folder structure for me:

[code]

Some components that are more complex are in folders, others are not. My concern is having a bunch of `__snapshots__` folders everywhere. Though I suppose I could make a `__tests__` folder inside the `components` folder, so that the related tests are close enough to the components, and things stay tidy.

Maybe this snapshot fold

[2016-08-11 16:58] ffxsam opened #1411 "Preferred way to simulate clicks on children?"
I have a component that's structured like so:

[code]

I understand that with snapshot testing, I could test the props exposed by my component like this:

[code]

But what if I wanted to trigger an `onClick` on the `Button`? I tried this in my test:

[code]

And it seems to work fine. Is there a better way? I also had to modify my `onClick` handler:

[code]

Jest didn't like trying to access `even

[2016-08-11 17:15] ranjitpandit commented on #1338
Thanks @DaleJefferson. I tried the two mocks listed in #1398 and in both I get call stack exceeded errors.  Any ideas?

[code]

[2016-08-11 17:21] ranjitpandit commented on #1398
@DaleJefferson and @frankrowe I tried using both the ListView mocks but I'm getting this error. Any ideas?

[code]

[2016-08-11 17:26] kgowru commented on #1312
I removed them and am still seeing the same error. FYI, I'm using ``"react": "~15.3.0-rc.2"`` and ``"react-native":"~0.31.0"``. Anything more I'm missing?

This is what my test looks like.
[code]

[2016-08-11 19:41] kgowru commented on #1312
Disregard this, the issue is being tracked at facebook/jest#1397.

[2016-08-11 20:31] dmitriiabramov commented on #1403
i don't think `react-test-renderer` can accept the `context` argument.
i think for the snapshot testing it's better to look at [this](https://github.com/yahoo/react-intl/wiki/Testing-with-React-Intl#dom-rendering) or [this](https://github.com/yahoo/react-intl/wiki/Testing-with-React-Intl#testing-example-components-that-use-react-intl) example.

hey @ericf can you look at this?

we should write a d

[2016-08-12 02:28] cpojer commented on #1395
Yeah I'm gonna close this out because unfortunately it isn't actionable from our side :(

[2016-08-12 02:28] #1395 closed

[2016-08-12 02:31] cpojer commented on #1406
I honestly think the complexity isn't worth it. If you want all snapshots in one place, also put the tests in one place.

Personally I suggest colocating your tests with your components and then snapshots will be colocated with your tests. This makes it easy to find things as your project grows.

[2016-08-12 02:33] ffxsam commented on #1406
So you recommend this:

[code]

as opposed to this?

[code]

[2016-08-12 02:35] cpojer commented on #1406
I mean, that's just what we use at Facebook. Anything that works well for you is fine. If you want to power through and can find a good way to make customizable snapshot folders work (not just having different names for them) and it doesn't add much complexity, I'm happy to merge it but for us there is little reason to do this. I hope you understand :)

[2016-08-12 02:37] ffxsam commented on #1406
Hey, if it's good enough for Facebook, it's probably good enough for me too! ;) I'm just trying to find something that's not cluttery, but the first file tree above I think would work well.
Thanks!

[2016-08-12 02:37] #1406 closed

[2016-08-12 02:41] cpojer commented on #1411
Yeah, there are no DOM events in the test renderer. The idea is that DOM events will be dispatched properly by the browser, so we don't need a fake implementation of that. You can pass arguments into your click handler like `onClick({shiftKey: false})` etc. that basically mock out the event you might receive.

For now you can access items in the tree like this but it is not an officially sanctione

[2016-08-12 02:41] #1411 closed

[2016-08-12 02:43] ffxsam commented on #1411
Cool, all makes sense, thanks!

[2016-08-12 05:11] aaronjensen commented on #1328
Prompting for y/n in a normal flow has the potential to be less intrusive than forcing someone to run another command w/ `-u`. Consider running tests from your editor or running tests with `--watch`.

Imagine running with `--watch` and every time snapshot tests fail you're given the option of reviewing the failure(s) and approving or not. It does not need to interrupt, it can require the press of

[2016-08-12 05:12] aaronjensen opened #1412 "Press enter to run all tests in `--watch`"
Sometimes it is helpful to run all tests for piece of mind while running with `--watch`. Some test watchers support <kbd>enter</kbd> rerunning all tests, it'd be great if jest did as well.

[2016-08-12 12:30] mbrio commented on #1395
Hi @cpojer, sorry I didn't mean to drop off like that, I did get a chance to run `jest -i`, I also installed native watchman and ran `jest -i --watchman`, neither of which sped up the processing of tests. As I mentioned in my original post I understood that there was a speed issue with Docker and mounted drives. I would like to point out that I have implemented mocha in conjunction with chokidar f

[2016-08-12 13:09] iam-peekay commented on #1403
Just to confirm, so you're suggesting to use `getRenderedOutput` to do snapshot testing?

I currently got the below to work, but I'm not sure how I feel about it:
[code]

[2016-08-12 21:49] cpojer commented on #1412
Yeah we definitely want to improve watch and make it more interactive.

[2016-08-13 01:46] ranjitpandit commented on #1398
actually, I'm getting require.requireActual as undefined. What could I be missing? Any tips would be great. Here is the repo I'm using to isolate the issue.
https://github.com/ranjitpandit/jest-snapshot

[2016-08-13 02:41] GrigoryPtashko commented on #1398
@ranjitpandit can you show the exact command line arguments you use to run this test?

[2016-08-13 03:00] ranjitpandit commented on #1398
@GrigoryPtashko in the root of the project run the command "npm test"

[2016-08-13 03:35] GrigoryPtashko commented on #1398
@ranjitpandit which project? I mean what switches is jest run with? Is there the -i (`jest -i` run in-band) or maybe you specify the test regex on the command line (like `jest TestRegex`)?

[2016-08-13 19:47] ranjitpandit commented on #1398
In the root of below project run 'npm test' command
https://github.com/ranjitpandit/jest-snapshot

I'm using the steps described here.
https://facebook.github.io/jest/docs/tutorial-react-native.html#content

[2016-08-13 23:02] #1397 closed

[2016-08-14 02:11] dsifford opened #1425 "Coverage hasn't worked since last major semver update"
Hello,

I've been trying to troubleshoot this on my own off and on for the last few days, but unfortunately I haven't been able to figure out what's going on. Issue #433 seems to be the closest thing to what I have going on, but none of the suggestions there helped.

Before the last major semver update, everything was working totally fine. Now, when I run jest with the same configs as before I get

[2016-08-14 04:31] dmitriiabramov commented on #1425
hey @dsifford
thanks for reporting the issue!
i was able to find the problem. The new version of Istanbul uses babel to instrument the file, and basically this condition (https://github.com/facebook/jest/blob/429b2d1947cc427d01c33bddeae1378221a2a4f5/packages/jest-runtime/src/transform.js#L254) always returns false because of the `.tsx` file extension.

all make a fix for it on monday!

[2016-08-14 04:36] dsifford commented on #1425
@dmitriiabramov Wow, that's great to hear! Thanks so much again for your work on this!

[2016-08-14 23:55] cpojer commented on #1303
Yeah, we intentionally just map the module name to whatever you specify, so it is an intended limitation that you can only have one mock per module name mapper rule.

[2016-08-14 23:55] #1303 closed

[2016-08-15 00:04] calclavia commented on #1425
I'm getting the same issue. Looking forward to the fix!

[2016-08-15 01:04] #1373 closed

[2016-08-15 06:11] warent commented on #1353
I just ran into the same issue, and a search brought me to @cpojer's `jest.mock('react/lib/ReactDefaultInjection');` solution which worked for me as well

[2016-08-15 07:16] saleeh93 commented on #1398
any updates

[2016-08-15 11:16] jcampbell05 opened #1428 "Does jest support nested describes"
I want to nest my describes for unit tests is this supported ?

[2016-08-15 11:17] cpojer commented on #1428
yes

[2016-08-15 11:17] #1428 closed

[2016-08-15 15:22] gaearon opened #1429 "Snapshots should not contain internal React instances"
Sorry if this is the wrong place to file it.
I changed something internal in React and saw snapshot change on www:

<img width="599" alt="screen shot 2016-08-15 at 16 19 08" src="https://cloud.githubusercontent.com/assets/810438/17669050/03399520-6304-11e6-9b57-49898095adda.png">

These are React internal instances. Oops! How did this happen?

An object passed as a prop contained a reference to Re

[2016-08-15 15:26] cpojer commented on #1429
I'm assuming you didn't call `toJSON()`? There isn't anything we can do to guard against this – snapshots can be any serializable data structure.

[2016-08-15 15:28] gaearon commented on #1429
I don’t know, how can I check? I just updated React in www and existing snapshot tests failed because they encoded React internal objects.

[2016-08-15 15:34] gaearon commented on #1429
I’m not sure why `_owner` is enumerable on React elements but for now you could check `$$typeof` and if it’s `Symbol(react.element)`, exclude `_owner` from the pretty print.

<img width="418" alt="screen shot 2016-08-15 at 16 33 07" src="https://cloud.githubusercontent.com/assets/810438/17669575/147c913c-6306-11e6-912c-5fdd19cbe8ae.png">

[2016-08-15 17:16] dmitriiabramov commented on #1425
https://github.com/facebook/jest/pull/1430

[2016-08-15 19:00] cpojer commented on #1429
How do you think we should print these? Just like any other React component using `tag`, `props` and `children` or should it be `<InternalReactElement />`?

[2016-08-15 20:03] aaronjensen opened #1433 "preprocessors are not invoked when resolving dependencies"
`jest-resolve-dependencies` does not seem to make use of preprocessors, so if you're using something like https://github.com/mwolson/jest-webpack-alias it will not work for watching tests and `jest -o`.

Is there some other way to work around this?

[2016-08-15 20:05] cpojer commented on #1433
Not really, this is by design because we cannot make this run efficiently otherwise. In this case you can run `jest` or `jest <pattern>` to match against tests you would like to run. I don't recommend using jest-webpack-alias; please try out the `moduleNameMapper` feature instead.

[2016-08-15 20:05] #1433 closed

[2016-08-15 20:15] aaronjensen commented on #1433
Just saw the backreference ability, that would work. Thanks!

[2016-08-15 21:31] cpojer commented on #1397
(this was fixed in the latest update to jest-react-native).

[2016-08-15 21:42] kgowru opened #1434 "Snapshot Test Import not working with babel-preset"
I'm trying a simple snapshot test. The component I'm testing uses another component from a module. The test fails when trying to import this unmocked module with:

Failure
[code]

Test
[code]

SetupView Component
[code]
package.json
[code]

FYI, I have a .babelrc file in my root directory pointing to the react-native preset and the test runs but fails if I comment line 12 out since `DataContainer`

[2016-08-15 21:48] cpojer commented on #1434
Can you try `jest --no-cache`? If you changed your babelrc before the last invocation, we might not update the cache properly.

If that does not work please create a repo on github that I can npm install and npm test to troubleshoot.

Tip: you don't need unmockedModulePathPatterns when using the react-native-preset because automocking will be disabled anyway.

[2016-08-15 23:09] gaearon commented on #1429
To be clear, element itself is fine. It's just that `_owner` links to an internal object which is necessary for React warnings to show the owner component name. So if you print elements nicely (with JSX syntax) the problem should be avoided altogether. Actually I'm surprised the pretty printer didn't recognise it's dealing with an element.

[2016-08-16 03:53] perfectfoolish opened #1436 "Error: Unknown config option "coverageThreshold""
I configure minimum threshold enforcement for coverage results as below
[code]
Packages I used
[code]
I got this error
[code]

[2016-08-16 05:19] yaycmyk commented on #1355
Will verify tomorrow, sorry for the delay in responding!

[2016-08-16 09:36] cpojer commented on #1436
Please update Jest to 14.

[2016-08-16 09:36] #1436 closed

[2016-08-16 09:42] Bhullnatik commented on #1312
I've got the same original issue using `jest-cli@14.1.0` and `jest-react-native@14.1.3`:
[code]

it seems like jest is trying to find the module in its node_modules directory which don't exist since the peerDependency is satisfied.

Using `jest.mock('ErrorUtils')` fixes the issue but I'm not sure it's the right way to go.

Our jest config:
[code]

cc @cpojer

[2016-08-16 09:44] cpojer commented on #1312
@Bhullnatik can you try `--no-cache`?

[2016-08-16 09:47] Bhullnatik commented on #1312
@cpojer It works, thanks! Sorry for the disturbance.

[2016-08-16 19:35] kgowru commented on #1434
That didn't work for me. It seems like the issue is with importing the node_module `react.datacontainer`.

Unfortunately, I can't create a repo at this time. But if it helps further here's what 'react.datacontainer' module looks like. https://github.com/ForceDotComLabs/react.force.datacontainer

[2016-08-16 21:47] dsifford commented on #1425
@dmitriiabramov Thanks again for the quick fix with this.

Does Jest have pre-release or nightly branches that I can pull with these changes? If not, any idea when the next update will be pushed through?

[2016-08-16 21:50] dmitriiabramov commented on #1425
we're going to release the next version in about two weeks or so.
@cpojer are you going to push anything to npm this week?

[2016-08-16 22:57] cpojer commented on #1425
I'm more or less continuously pushing a `test` tag this week. You can try `npm install --save-dev jest@test` to try it out. It's your own risk though, we are currently making many awesome changes but some of them might break (please report it though if it is a real bug!).

I published @dmitriiabramov's fix a minute ago, so please feel free to try it out. It's `jest@14.2.2-alpha.22bd3c33` or `jest@

[2016-08-16 22:57] #1425 closed

[2016-08-16 22:59] dsifford commented on #1425
Awesome, sounds good. Thanks again so much!

[2016-08-16 22:59] cpojer commented on #1434
You can enable preprocessing for this module via this config option: http://facebook.github.io/jest/docs/tutorial-react-native.html#preprocessorignorepatterns-customization

If you'd like, you can also create an issue on this project's github page to ask them to precompile their dependencies and publish build files on npm.

[2016-08-16 22:59] #1434 closed

[2016-08-16 23:01] cpojer commented on #1364
I think it makes sense to assume that react-test-renderer and react will be published together and the same version of both should be used, just like for react-dom. I don't expect this to be an issue going forward and I believe your issue here is enough documentation now. Thank you for documenting it.

[2016-08-16 23:01] #1364 closed

[2016-08-16 23:01] cpojer commented on #1355
Please try with `jest@test` or `jest@14.2.2-alpha.22bd3c33` to see if this issue still persists. If it does, we'll reopen this issue.

[2016-08-16 23:01] #1355 closed

[2016-08-16 23:02] cpojer commented on #1082
I'm assuming this is fixed now. @dmitriiabramov rewrote Jest's code coverage support. Please try with `jest@test` or `jest@14.2.2-alpha.22bd3c33` to see if this issue still persists. If it does, we'll reopen this issue.

[2016-08-16 23:02] #1082 closed

[2016-08-16 23:02] cpojer commented on #817
I'm assuming this is fixed now. @dmitriiabramov rewrote Jest's code coverage support. Please try with `jest@test` or `jest@14.2.2-alpha.22bd3c33` to see if this issue still persists. If it does, we'll reopen this issue.

[2016-08-16 23:02] #817 closed

[2016-08-16 23:03] cpojer commented on #200
This is now part of the latest Jest pre-release and will be in Jest 15. @dmitriiabramov rewrote Jest's code coverage support. Please try with `jest@test` or `jest@14.2.2-alpha.22bd3c33` to see if this issue still persists. If it does, we'll reopen this issue.

The new option is `collectCoverageFrom` and it takes glob patterns. @dmitriiabramov can you make sure this is part of the API documentation

[2016-08-16 23:03] #200 closed

[2016-08-16 23:04] cpojer commented on #1211
This is now part of the latest Jest pre-release and will be in Jest 15. @dmitriiabramov rewrote Jest's code coverage support. Please try with `jest@test` or `jest@14.2.2-alpha.22bd3c33` to see if this issue still persists. If it does, we'll reopen this issue.

The new option is `collectCoverageFrom` and it takes glob patterns. @dmitriiabramov can you make sure this is part of the API documentation

[2016-08-16 23:04] #1211 closed

[2016-08-16 23:05] cpojer commented on #1393
@dmitriiabramov I don't think what you said is true, is it? See https://github.com/facebook/jest/blob/master/packages/jest-config/src/normalize.js#L135-L137 – we should remove this.

[2016-08-16 23:06] #1281 closed

[2016-08-16 23:07] cpojer commented on #1235
You can do `jest --config='{…}'` and provide a JSON object and that should be sufficient for now I believe.

[2016-08-16 23:07] #1235 closed

[2016-08-16 23:08] cpojer commented on #1120
#1435

done.

[2016-08-16 23:08] #1120 closed

[2016-08-16 23:09] cpojer commented on #1081
This is fixed in the latest test release (can be installed through `jest@test`) and will be fixed in the next release, Jest 15.

[2016-08-16 23:09] #1081 closed

[2016-08-16 23:09] cpojer commented on #818
Closing due to inactivity.

[2016-08-16 23:09] #818 closed

[2016-08-16 23:49] yaycmyk commented on #1355
Fixed! Awesome job guys, thank you! 🎉

[2016-08-16 23:56] migueloller commented on #817
![image](https://cloud.githubusercontent.com/assets/5677929/17719813/54fc4a64-63eb-11e6-842a-1a3bfd3198fa.png)

This just made my day! @dmitriiabramov amazing work!!! 😄

[2016-08-17 01:02] dsifford commented on #1425
Not sure if you guys are aware, but the issue is persisting with `jest@test`. Didn't seem to make any change; even after flushing the cache.

Still no coverage being rendered. Happy to answer any specific questions either of you may have.

[2016-08-17 01:28] dmitriiabramov commented on #817
nice!
thanks @migueloller

[2016-08-17 01:39] dmitriiabramov commented on #200
@cpojer before i do that i wanted to do two things:
1. Make sure globs are fast enough
2. Add glob config options for other paths

[2016-08-17 01:47] dmitriiabramov commented on #1393
@cpojer mutability and our config got me again! :)
yeah. we should remove this

[2016-08-17 02:20] amir20 commented on #770
I had the same problem and adding `import "babel-polyfill";` seemed to have fixed the problem. 👍

[2016-08-17 02:30] ManuelDeLeon commented on #1214
@cpojer
I tried that version but it doesn't find my tests.

config:
[code]

output:
[code]

[2016-08-17 02:34] amir20 commented on #770
I was able to identify the problem. It was related to

[code]

I have to figure out how to fix that for production while Jest still work.

[2016-08-17 03:22] dmitriiabramov commented on #1425
@dsifford the bug was actually in `jest-runtime` not `jest` itself.
so you'll have to do something like `rm -rf node_modules/*jest*` and then `npm i jest@test --save-dev`

jest tried it on `academic-bloggers-toolkit`

<img width="711" alt="screen shot 2016-08-16 at 8 13 20 pm" src="https://cloud.githubusercontent.com/assets/940133/17723321/196d5fd0-63ee-11e6-92ca-ba1b9cf77af4.png">

[2016-08-17 03:25] dmitriiabramov commented on #1425
also now you can add something like this to your jest config
[code]
and this will also collect coverage for all files that are not tested but match this set of globs

[2016-08-17 03:27] dsifford commented on #1425
@dmitriiabramov Ah, ok sorry about the confusion.

Thanks for the clarification. Got it working now.

Also: `collectCoverageFrom` = 🔥 👍 👍

[2016-08-17 04:01] dmitriiabramov commented on #1393
https://github.com/facebook/jest/pull/1440

[2016-08-17 05:32] bear2029 commented on #1393
thank you guys

[2016-08-17 06:52] perfectfoolish commented on #1436
The issue have solved.
Thank you very much.

[2016-08-17 08:13] cpojer commented on #1214
The current pre-release might have an issue on windows that we'll need to resolve before the final then. Sorry about that.

[2016-08-17 13:22] a-c-m commented on #1342
https://github.com/facebook/jest/issues/817 may be of interest here.

[2016-08-17 13:28] a-c-m commented on #817
I've created a test repro, as the latest jest did not make a dent in the percentages for us.

https://github.com/a-c-m/react-jest-coverage-test

[2016-08-17 13:51] lPadier commented on #817
@a-c-m I've Added a pull request to your repo.

- First remove all jest packages from your repo / clean install npm modules:
`rm -rf node_modules/*jest*`

install `jest@test` and `babel-jest@test`

npm test will no longer work for your repo as the path to the jest executable is hardcoded.

Running npm test with scripts test changed to `jest --no-cache` will yield the correct result.

https://githu

[2016-08-17 14:45] nikfrank commented on #1331
I've got the same thing... is there a solution?

[2016-08-17 14:57] a-c-m commented on #817
@lPadier Many thanks, i've merged and also updated the readme.

[2016-08-17 15:00] cpojer commented on #1331
I recommend using `"automock": false` in your Jest config for now. We'll turn off automocking by default soon.

[2016-08-17 15:12] venkat-gan opened #1443 "option to run the changed files in a commit --onlyChanged"
I am using jest with onlyChanged in CI for every commits. I want to test the list of files changed during the commit instead of list of uncommitted files. Is there any option to do this.

jest-changed-files/git.js
Instead of **git ls-files**. I need **git rev-parse HEAD**

My english may be poor, but i think you can get the point.

[2016-08-17 15:18] cpojer commented on #1443
Your English is just perfect and I can understand your concern. Would you mind explaining why you want to use this flag on the CI? You should always run all tests on CI to make sure everything works together. `--onlyChanged` is meant to be for local development.

I recommend doing this:

* Store the files from `git rev-parse HEAD`
* Call `jest` with that list of files. Then Jest will only run thos

[2016-08-17 15:32] venkat-gan commented on #1443
The above idea will not work for me. The changed files will be **source** files and **test** files, while running the **test files** it will be ok. But when running **source** files like this `jest <file1> <file2>` i think it will not find the dependent test files.

[2016-08-17 15:34] cpojer commented on #1443
Since you already found the code where we detect this, would you be willing to send a PR both for git and mercurial that looks for files the way you are asking for? :)

[2016-08-17 15:43] venkat-gan commented on #1443
Will send a Pull Request soon 👍

[2016-08-17 21:12] migueloller opened #1448 "Node environment doesn't allow testing of libraries like Nightmare"
I'm trying to write tests for a small scraper I built with [`Nightmare`](https://github.com/segmentio/nightmare). Because it uses Electron it's not possible to test it with Jest. I think the issue has to do with the variables that are exposed globally in the environment. The tests do work with Mocha but it would be awesome if I could just simply run the tests in my local environment (as opposed to

[2016-08-17 21:13] cpojer commented on #1448
This isn't really actionable for us. Can you provide a repository on github that we can install and test to see what is missing?

[2016-08-17 21:14] migueloller commented on #1448
Let me distill the code to get a repro that is as simple as possible. I'll post it in a bit.

[2016-08-17 21:27] migueloller commented on #1448
Here is the repo: https://github.com/migueloller/jest-nightmare-bug

First, `npm install`.
`node .` works.
`npm test` doesn't work.

At least this time there is an error message but in my original code the promise just hangs.

[2016-08-17 21:36] migueloller commented on #1448
It's worth mentioning that the error occurs in the call to `nightmare.end()`. Check out this branch: https://github.com/migueloller/jest-nightmare-bug/tree/hangs. Here the test passes but the process hangs because Electron is still running in the background.

[2016-08-17 22:44] #1382 closed

[2016-08-18 01:03] yaycmyk commented on #1355
Side note: it seems like the coverage missing lines highlighting is pretty screwed up in that alpha build. Not sure if there's a corresponding Babel-jest alpha I should be using as well.

[2016-08-18 01:09] yaycmyk opened #1449 "Package dep misspelling?"
aplha vs alpha

https://github.com/facebook/jest/blob/master/packages/jest-cli/package.json#L10

It's spelled the same way in a few other files, not sure if intentional.

[2016-08-18 02:01] dmitriiabramov commented on #1355
@yaycmyk are you using babel-jest or a custom preprocessor?

[2016-08-18 02:14] yaycmyk commented on #1355
Just `babel-jest`

[2016-08-18 06:46] Daniel15 commented on #1214
@cpojer - I didn't get a chance to test this on Windows today, I'll take a look at it later in the week though :smile:

[2016-08-18 07:09] daemir opened #1450 "Runtime error when testing components"
Whenever I run tests on a component containing a **ListView** I get following error:

` - TypeError: Cannot redefine property: __fbBatchedBridge
        at Function.defineProperty (native)
        at Object.<anonymous> (node_modules/react-native/Libraries/BatchedBridge/BatchedBridge.js:38:8)
        at Object.<anonymous> (node_modules/react-native/Libraries/BatchedBridge/BatchedBridgedModules/Nati

[2016-08-18 09:58] cpojer commented on #1449
`npm info istanbul-api`. They have the typo in their version, lol.

[2016-08-18 09:59] #1449 closed

[2016-08-18 09:59] cpojer commented on #1450
It seems like you are on an older version of react-native before 0.30. The Jest preset only works with 0.30 and onward, please upgrade :)

[2016-08-18 09:59] #1450 closed

[2016-08-18 12:23] cpojer commented on #1448
Would you mind trying:

* Use jest@test (the latest development version)
* As a workaround: use the `jest-environment-jsdom` value for `testEnvironment`.

[2016-08-18 12:47] yaycmyk commented on #1449
Uuuf! Ah well, all's good then 😬

[2016-08-18 13:19] acateland opened #1453 "[Question] does upgrade of jest-cli is supposed to break snapshots ?"
Hello,

to provide some insight,

I recentrly upgraded jest-cli on one of my repo from 13.1.0 to 14.1.0.
Having done this unit test run failed on snapshots.

So my question is, does upgrade of jest-cli should break snapshots ?

[2016-08-18 13:21] cpojer commented on #1453
Yes. You can expect that updates to Jest will require you to update your snapshots because we'll be updating the format and improving on the feature :)

[2016-08-18 13:21] #1453 closed

[2016-08-18 13:41] cpojer commented on #1346
working on it.

[2016-08-18 13:41] #1346 closed

[2016-08-18 13:48] migueloller commented on #1448
The repo is already using `jest@test`. When I set `"testEnvironment": "jsdom"` in my `package.json` and run the tests I get `TypeError: TestEnvironment is not a constructor`.

[2016-08-18 13:49] cpojer commented on #1448
Try `jest-environment-jsdom` – we haven't published the fix for just using `jsdom` to @test yet.

[2016-08-18 13:52] migueloller commented on #1448
That doesn't fix the issue. I made a new [branch](https://github.com/migueloller/jest-nightmare-bug/tree/jest-environment-jsdom) for it.

[2016-08-18 13:54] migueloller commented on #1448
Hey @cpojer do you want me to make a branch that runs the test using `mocha` for comparison or is that unnecessary?

[2016-08-18 14:05] cpojer commented on #1448
Sorry about the trouble. If you stick `"persistModuleRegistryBetweenSpecs": true` into your config and call `example().end().then(…)` in your test it will work.

You can also return the promise from `it` without using `done` at all.

We'll make the module registry persistent in the next major version of Jest, as people have trouble with it.

[2016-08-18 14:05] #1448 closed

[2016-08-18 14:09] migueloller commented on #1448
No worries @cpojer! I'm extremely grateful of all the great work that's been put into Jest. I think it's the best testing tool out there for JS.

I was trying to find a configuration option like this on the [docs](http://facebook.github.io/jest/docs/api.html#configuration-options-configuration) but it doesn't seem to be documented. Is this something that should be added?

Also, would it be too muc

[2016-08-18 14:13] cpojer commented on #1448
We'll make this the default and have an opt-out to the current behavior. It's currently internal.

Jest resets the module registry before every test for isolation but people don't enjoy using this feature in open source and prefer to use imports or top level requires.

Example:
[code]

but this requires people to write their requires inside of `it` calls instead of at the top level and they won't

[2016-08-18 15:32] #1443 closed

[2016-08-18 15:32] cpojer commented on #1393
Will be released in a bit.

[2016-08-18 15:32] #1393 closed

[2016-08-18 15:32] cpojer commented on #1372
I think we have a good handle on this now with buffered messages and you are working on updating the rest.

[2016-08-18 15:32] #1372 closed

[2016-08-18 15:58] calebmer opened #1456 "Jest process doesn’t quit after last test completes"
I’m having issues with the Jest process not completing after the last test completes. The user will have to force quit the process with ctrl-c. My theory is that not all resources are being cleaned up appropriately by the test authors, but ideally Jest should quit anyway.

Specifically I’m testing Firebase with [`firebase-server`](http://npmjs.com/firebase-server), spinning up one or more servers

[2016-08-18 16:07] cpojer commented on #1456
We don't have a good way to do that right now. I would recommend trying to hook in a debugger (Chrome Inspector) to figure out what is going on. If you know what creates the async work, you can potentially also monkey patch it and track it (like put something around Promise.prototype.then)

[2016-08-18 16:15] cpojer commented on #1356
We highlight project files differently from outside files now and could potentially highlight test files even more.

[2016-08-18 16:29] cpojer commented on #1356
Ok, I'll highlight test files differently from other code. This should be nice.

[2016-08-18 16:29] #1356 closed

[2016-08-18 16:40] hellogerard opened #1457 "Installing Jest with React Native throws peerDependencies error"
To reproduce:

[code]

I believe this is just bad luck on my part, having caught jest/react-native at a time when their dependencies mismatch. But since all the involved packages are "released," and I'm following  the Jest-React Native tutorial in the "production" docs, I thought I'd create an issue.

FYI, if you ignore the error, and `import renderer from 'react/lib/ReactTestRenderer'` like older

[2016-08-18 16:41] cpojer commented on #1457
We don't really support npm2 with this integration, I'm sorry. Please wipe away your node modules and use npm3 on this project.

[2016-08-18 16:41] #1457 closed

[2016-08-18 16:42] calebmer commented on #1456
Is there a reason async work can’t be force quit when all `afterEach`/`after` hooks have resolved?

[2016-08-18 16:44] cpojer commented on #1456
I don't know how you'd kill existing async processes if you don't have a handle on them.

[2016-08-18 17:02] hellogerard commented on #1457
Ah. I thought I was using the latest npm, but turns out I had two copies of npm on my machine. All working now! Thanks.

[2016-08-18 17:38] calebmer commented on #1456
I migrated from `ava` and this wasn’t a problem, so maybe there is an answer? Maybe that’s `process.exit` in Node.js

[2016-08-18 17:40] cpojer commented on #1456
We could do that, I guess, but I'm worried it leaves people not hanging when it should and they aren't shutting down their resources properly.

cc @dmitriiabramov what do you think?

[2016-08-18 17:41] cpojer commented on #1456
One example: I actually ran into this with Jest myself where we had a long running watcher process that wouldn't terminate Jest itself. If Jest would have killed itself during the test run (heh!) I would have never noticed the issue and I would have shipped a version that would hang when people try to use it.

[2016-08-18 17:45] dmitriiabramov commented on #1456
i'm not sure if it's safe to force kill the process. at the same time, if people want to do some async post processing after the tests are done, they could use `after all` hook that will wait for it to finish before quitting the process.

the other issue that we might have is cutting the output stream before it finished printing. we had this issue before, when error messages don't have enough time

[2016-08-18 17:47] cpojer commented on #1456
The question is whether we could figure out a way for Jest to say "Looks like some tests aren't cleaning up after themselves. <here is what is going on>".

[2016-08-18 18:08] calebmer commented on #1456
An `after all` hook could help me here, but I haven’t seen such a thing in the documentation (only `afterEach`) am I missing anything?

As for testing correct cleanups, if you could test if *files* were completing on time and if they weren’t using a bisect feature to isolate the problem (like in rspec).

[2016-08-18 20:36] cpojer commented on #1353
There is a workaround and the next version of React won't have this problem.

[2016-08-18 20:36] #1353 closed

[2016-08-18 20:47] gaearon commented on #1353
(For future readers: probably not 15.3.1 but 15.4.0 might have this fix.)

[2016-08-18 21:44] modestkdr opened #1459 "Runtime Error: TypeError: Cannot set property 'Axios' of undefined"
`Runtime Error
  TypeError: Cannot set property 'Axios' of undefined
        at Object.<anonymous> (node_modules/axios/lib/axios.js:30:13)
        at Runtime._execModule (node_modules/jest-cli/src/Runtime/Runtime.js:261:17)
        at Object.<anonymous> (node_modules/axios/index.js:1:137)
        at Object.<anonymous> (src/actions/index.js:443:306)
        at Object.<anonymous> (src/reducers/clien

[2016-08-18 21:46] cpojer commented on #1459
This isn't really actionable. Please provide a repository on github that we can npm install and npm test to repro.

It seems like you are using automocking. Please disable it by doing `"automock": false` in your jest config.

[2016-08-18 23:52] calclavia commented on #1425
I tried using collectCoverageFrom, after putting that in the config,I received:

`ERROR: TypeError: Cannot read property 'instrument' of undefined`

[code]

[2016-08-19 00:50] kgowru commented on #1398
So I tried the mock shown by @frankrowe and more elaborate mocks created by people from Airbnb found here https://github.com/lelandrichardson/react-native-mock.

Yet I keep seeing this error:
[code]
 Anyone see this before?

[2016-08-19 01:26] kgowru opened #1460 "Mimic mocha --require in jest"
Just got up and running with jest and enzyme for react-native. I've written tests for simple components with `<View/>` and `<Text/>` components. But testing more complicated one has proven to be more difficult.

But found a `react-native-mock` repo [here](https://github.com/lelandrichardson/react-native-mock) created by Leland from Airbnb that overrides the cache of `react-native` to shallow test

[2016-08-19 01:46] dmitriiabramov commented on #1425
@calclavia is there any stack trace? does it happen after/before or during the test run?

[2016-08-19 05:13] Daniel15 opened #1462 ""no tests found" when running master on Windows"
"NO TESTS FOUND" is showing up when I run `node packages/jest-cli/bin/jest.js packages\jest-jasmine2\src\__tests__\iterators-test.js`

It looks like there were two separate issues causing this. Initially this bisected to 6c7620237ba9fa3a441bb7f26aabc59e9df85467. I could fix it by adjusting the `testRegex` from `.*-test.\\js` to `.*-test\\.js`, but master was broken even with that patch. Bisecting

[2016-08-19 05:16] Daniel15 commented on #1214
Looks like the issue on Windows blames to #1379 (b56e36832d211c626894bff2591e9b152d14ba5b). I created a separate issue to look into it: #1462. Thanks for reporting, @ManuelDeLeon!

[2016-08-19 06:22] Daniel15 opened #1464 "Configure Windows CI builds"
Configure AppVeyor for continuous integration builds of Jest on Windows.

[2016-08-19 11:26] moimael commented on #1314
Can we reopen please ? My comment about `jest --watch --coverage` is apparently another issue, but the initial issue still persist.

[2016-08-19 14:06] avanderhoorn opened #1466 "Running Jest with Webpack, Babel, TypeScript and CSS Modules"
I'm trying to get the configuration right for using Jest with my current setup. I'm using Webpack for everything at the moment and my loaders look something like following
[code]
In the above you will notice that my `.tsx??` files are being run through `ts` first and then through babel. I'm doing this because I have my `tsconfig.json` setup to target `es6` and preserve `jsx` so that Babel can do t

[2016-08-19 17:45] ccorcos opened #1468 "Babel config without .babelrc"
I'm building a modular build system that ideally is going to be its own npm package soon enough. However right now, its just a parallel directory:

[code]

One of the goals is to separate out all the build dependencies. I want to everything to just work, so I'm not using a `.babelrc` file and instead linking to babel presets inside the webpack config:

[code]

So I was hoping that somehow I could

[2016-08-19 17:59] ccorcos commented on #1468
Would it be possible to get a config [here](https://github.com/facebook/jest/blob/master/packages/babel-jest/src/index.js#L52) to set these babel options? What do you think would be the best practice for this?

[2016-08-19 19:03] gnoff commented on #1468
Would love to know the answer on this here as well

[2016-08-19 20:07] cpojer commented on #1468
You can wrap babel-jest and create your own preprocessor by just passing in the options you want. That should be sufficient.

On Fri, Aug 19, 2016 at 9:04 PM +0200, "Josh Story" <notifications@github.com<mailto:notifications@github.com>> wrote:

Would love to know the answer on this here as well

-
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view

[2016-08-19 20:38] ccorcos commented on #1468
and how do I get that into jest?

[2016-08-19 22:31] dmitriiabramov commented on #1468
@ccorcos you can specify your custom preprocessor in the config
http://facebook.github.io/jest/docs/api.html#scriptpreprocessor-string

[2016-08-19 23:27] migueloller commented on #1448
So after trying to write my tests again today I came across another bug with using Nightmare. This time I took the time to figure out exactly what it was.

It looks like Jest mocks the global `setTimeout` which Nightmare uses internally to wait for elements to appear in the DOM or simply to wait a set time. I've updated the repo I linked to before to include this new bug.

Is there a way to disabl

[2016-08-20 06:18] cpojer commented on #1448
jest.useRealTimers()

We will make this a default soon as well.

On Sat, Aug 20, 2016 at 1:28 AM +0200, "Miguel Oller" <notifications@github.com<mailto:notifications@github.com>> wrote:

So after trying to write my tests again today I came across another bug with using Nightmare. This time I took the time to figure out exactly what it was.

It looks like Jest mocks the global setTimeout which Nigh

[2016-08-20 08:19] lewisbarber commented on #1398
I'm also unable to test this, even with the mock given above:

 FAIL  __tests__/Components/FriendList.spec.js (2.936s)
 FriendList › it loads FriendList with mandatory props
  - /Users/lewisbarber/Documents/ReactNative/app/node_modules/react-clone-referenced-element/cloneReferencedElement.js:18
          );
          ^
    SyntaxError: Unexpected token )
        at transformAndBuildScript (node_mo

[2016-08-20 11:01] saleeh93 commented on #1398
@lewisbarber add
[code]

to jest config in `package.json`

[2016-08-20 13:55] orta opened #1472 "Package.json says "private: true""
Please excuse me if this is documented, but I spotted that the npm page for jest shows no metadata: https://www.npmjs.com/package/jest

So I was going to make a PR adding this stuff:

[code]

But now I'm not sure, is there a reason for `private:true` to be set?

[2016-08-20 17:19] dmitriiabramov commented on #1472
hey @orta !
jest is a monorepo and this repo contains multiple packages.
we use [lerna](https://lernajs.io/) to manage them.
`package.json` in the root directory is used only for development
the full list of packages is here https://github.com/facebook/jest/tree/master/packages

[2016-08-20 17:19] #1472 closed

[2016-08-20 17:53] orta commented on #1472
Thanks!

[2016-08-20 19:08] calclavia commented on #1425
It happens during the test run. I'll try to come up with a stack trace soon.

[2016-08-22 15:14] cristian-sima commented on #1462
I've encountered that using the latest versions.

I've solved it by uninstalling `jest@^14.1.0` and `jest-cli@14.3.0-alpha.d13c163e`

and installing`jest-cli@14.1.0`.

[2016-08-22 18:03] Daniel15 commented on #1462
@cristian-sima - Yeah, this bug is only present in the latest alpha versions / master. The latest stable release (14.1.0) does not have the problem.

[2016-08-22 18:29] yaycmyk opened #1473 "Question / feature request: running a specific test"
Is there a way to run a specific test in a specific file, e.g.

[code]

Meaning run the first file matching `Foo` and specifically the test located at line `142`?

[2016-08-22 19:02] kulshekhar opened #1474 "Sourcemap support for preprocessors?"
When used with typescript, the output displays line numbers from transpiled javascript and not from the actual typescript code.

I've modified [this sample typescript preprocessor](https://github.com/facebook/jest/blob/master/examples/typescript/preprocessor.js) to set `sourceMap`, `inlineSourceMap` and `inlineSources` to true in typescript's options but it didn't help.

Is there anything else tha

[2016-08-22 19:43] dmitriiabramov commented on #1473
you can't do it from CLI, but you can run the test matching `Foo` by doing `jest Foo` and focusing your specific test by using `fit` instead of `it`

[2016-08-22 19:45] yaycmyk commented on #1473
Nice, that definitely satisfies the need. Thanks! I see that's a Jasmine feature, might be worth a mention in the docs somewhere...

[2016-08-22 19:47] dmitriiabramov commented on #1473
we have in the docs in under the `jest global environment` :)
i was also thinking about bringing back the old API `it.only`, `test.only`, `describe.only`, just to reduce the number of globals

[2016-08-22 19:47] #1473 closed

[2016-08-23 05:44] pradhul-dev commented on #919
I am facing exactly same issue in my react code. Can anybody explain a bit about what is going on with the RelativeImageStub.js and in react what should I actually do ?

[2016-08-23 09:22] justinvdm opened #1476 "jest-react-native references outside variable in a jest.mock()"
Getting this when running tests:

[code]

Changing [these lines](https://github.com/facebook/jest/blob/master/packages/jest-react-native/src/index.js#L69-L73) to use `jest.doMock()` instead seems to fix things.

Is this a bug, or am I doing something wrong? :)

Versions:
[code]

[2016-08-23 14:56] difelice opened #1477 "Jest resolver does not follow symbolic links"
I have the following tree:
[code]

When running `npm test` all tests inside the symbolic link _shared_ are not executed by the client.

Thank you.

[2016-08-23 16:26] Antho2407 opened #1478 ""Async callback was not invoked within timeout specified by Jasmine.""
Hey there ! I'm trying to test Redux actions with Jest, using Promises.
My action function is the following :
[code]
This `postJSON` function is mocked :
[code]
and then, in my specs i'm trying to check the final result when all the promises are resolved :
[code]
The mock function is called and returning the promise, the action is returning something, but i'm getting this error on the specs :
`Err

[2016-08-23 16:33] #1478 closed

[2016-08-23 16:33] Antho2407 commented on #1478
Got the problem, I need to resolve the promise in the mock function :
[code]

[2016-08-23 18:18] kgowru commented on #1460
@cpojer Any updates here? I'm trying to see if I should proceed with Jest or Mocha. If I proceed with Mocha, I will have to give up the Snapshot tests. If I proceed with Jest, I can't get Enzyme tests to function properly.

[2016-08-23 18:43] cpojer commented on #1460
I'm on vacation this week and will respond next week.

On Tue, Aug 23, 2016 at 8:19 PM +0200, "Kapil Gowru" <notifications@github.com<mailto:notifications@github.com>> wrote:

@cpojer<https://github.com/cpojer> Any updates here? I'm trying to see if I should proceed with Jest or Mocha. If I proceed with Mocha, I will have to give up the Snapshot tests. If I proceed with Jest, I can't get Enzyme te

[2016-08-24 07:10] venkat-gan opened #1481 "Question: Is there any way to compress snapshots ?"

[2016-08-24 19:24] jquense commented on #1462
the problem is: https://github.com/facebook/jest/commit/b56e36832d211c626894bff2591e9b152d14ba5b

Escaping the the paths on windows creates a regex with to many `\`

`/C:\\\\Projects\\\\Foo/` is then matched against `'C:\\Projects\\Foo'` and fails of course.

[2016-08-24 19:25] Daniel15 commented on #1462
Yeah I've already got a pull request out to fix it (#1463).

[2016-08-24 20:25] ericf commented on #1403
…sorry for the delay, just realized I was pinged on this.

@iam-peekay I looked at `react-test-renderer` and it doesn't support passing `context` as @dmitriiabramov said. The reason for the example I wrote up in the docs about manually creating an `IntlProvider` and calling its `getChildContext()` method was to get the `context.intl` without adding another level to tree — which doesn't work out fo

[2016-08-24 21:50] alansouzati opened #1483 "Usage with Gulp"
Hi,

 I'm trying to replace my tape test runner by Jest with the snapshot testing strategy. I'm currently supporting a developer environment based on gulp where I offer a bunch of utility tasks based on the needs of my organization, here is the project:

https://github.com/grommet/grommet-toolbox

One of my tasks is `gulp test`, I tried looking for gulp wrappers for jest and I found this project h

[2016-08-24 23:46] alansouzati commented on #200
I just had a chance to tet jest@test for this scenario and it works perfectly. thanks a lot guys!

[2016-08-24 23:59] alansouzati commented on #1483
Never mind, runCLI is still a function inside the jest-cli project.

Documentation around it would be great though 😄

[2016-08-24 23:59] #1483 closed

[2016-08-25 00:09] dmitriiabramov commented on #1483
hey @alansouzati !
from my experience, things like grunt and gulp tend to add complexity to CLI tools rather than solve problems, however i understand that you're trying to abstract the configuration for end users, and if you're working on some shared set of build utils that is used by multiple projects it can become a pain.

i'd say the simplest solution would be to just invoke a child process fr

[2016-08-25 00:15] alansouzati commented on #1483
Agreed with the complexity added.

I wish `package.json` was `package.js` so that we could easily extend it, similarly to what we do with `webpack.config.js`.

I feel that adding script config to the package.json is great for standalone projects, but sharing is a challenge, not even talking about future updates that you have to tell folks "please open your package.json and update the following scr

[2016-08-25 00:37] dmitriiabramov commented on #1483
@alansouzati `jest.config.js` are coming for sure! :)

[2016-08-25 06:37] blairanderson commented on #1353
confirming 15.3.1 still has this problem

[2016-08-25 06:50] hakunin commented on #862
This is how I worked it around:

in `package.json`
[code]

In `setup_framework.js`:
[code]

This works as Jasmine adds their reporter *afterwards*.

Also check out this: https://github.com/jasmine/jasmine/issues/1183

Since you can only add reporters to jasmine and not remove them, this workaround might stop working at some point if Jest decided the add the reporter before the file mentioned.

[2016-08-25 08:53] NikhilVerma opened #1485 "--json parameter should allow saving to a file"
I am trying to integrate into our CI (TeamCity) however jest's --json file output is just dumped with it's standard console ouput. It means we need to do some extra steps to extract the output json from the result.

Jest should either provide configuration option to save the json file or take it as args

e.g.

`jest --json=result.json`

[2016-08-25 09:11] ayashpatrov commented on #798
Where the solution?

[2016-08-25 09:25] siggysamson opened #1486 "Jest fails with TypeError when renderToStaticMarkup is present"
I recently started using Jest and so far I love it! Today I stumbled upon a weird issue though:

As soon as an import of `renderToStaticMarkup` is present my tests fail with a TypeError `Cannot read property '_idCounter' of null`. My setup looks like the following:

**package.json**

[code]

The following file is a reduced test case. It took me a while to break it down to `renderToStaticMarkup`

[

[2016-08-25 23:28] alansouzati opened #1490 "Jest is failing when I run `npm test` or `npm test-ci`"
I've just forked jest and I was looking for instructions on how to contribute and install jest locally (could not find it in your wiki or in the readme).

I'm assuming that just running `npm install` is sufficient. Although before doing any change to the repo I tried running `npm test` and I got the following error:

[code]

The ci currently shows it is passing, so I guess I'm missing something. C

[2016-08-26 02:00] dmitriiabramov commented on #1490
hey @alansouzati !
in order to run those tests you need to have mercurial installed!
the easiest way would probably be `brew install mercurial` :)

[2016-08-26 02:01] #1490 closed

[2016-08-26 02:57] alansouzati commented on #1490
Thanks man it works

[2016-08-26 10:18] JesperKihlberg opened #1492 "Stack overflow in rare cases when running with harmony and harmony_function_name = true"
We have experienced a problem with the jest mock generator when using it in visual studio code running node versions > 6.
it happens when we try to mock react-grid-layout, intl-messageformat-parser and react-overlays.
We have analyzed the problem and it seems to be related to harmony and the setting harmony_function_name = true.
The error is caused by the code below:
[code]
When harmony_function_n

[2016-08-26 14:26] deeperx commented on #202
I would do it with a container instead of `window`. That's more testable.

[2016-08-26 18:23] zackify commented on #1398
@saleeh93 that fixed my problem. I added your ignore pattern, and a mock mentioned above. Why isn't this built in though?

[2016-08-26 18:55] alansouzati opened #1494 "Coverage 100% but not everything is invoked"
Hi

I'm checking my coverage reports for a given component and I was surprised to hit a 100% for it. Here is the component:

[code]

componentWillReceiveProps and _onClickPanel were never invoked in my test, so believe we should not be at 100%. Here is my test using the snapshot strategy:

[code]

Here is a print screen of the report results. It is only counting 16 lines of code, where my componen

[2016-08-26 19:03] zackify commented on #1398
If anyone wants a quick fix, I added it to this little utility I made for snapshotting without the boilerplate. https://github.com/navjobs/jest-snapshot-utils

[2016-08-26 19:13] iam-peekay commented on #1403
@ericf thank you!! This works :)

[2016-08-26 19:13] #1403 closed

[2016-08-26 20:11] dmitriiabramov commented on #1494
it seems like it doesn't have any coverage data for anything inside the class definition, which is weird. Thanks for reporting this! i'll investigate

[2016-08-26 21:08] alansouzati opened #1495 "Find utilities for tree component"
I have the following test with Jest

[code]

Is there a support for something like this? Basically I'm looking for some utility that will be able to find elements inside a given tree generated by the react list renderer.

Or even better, maybe jest can provide a renderer with support for that, something like:

[code]

[2016-08-27 14:08] bsr203 opened #1497 "watch single test file (---watch + regexp )"
During development, I want to watch/test one test file. It works on single run with a regexp like this

[code]

Now, I want to continuously watch the test, but adding `--watch` flag makes it to run all the files, ignoring the regexp pattern.

[code]

[2016-08-27 14:27] #1462 closed

[2016-08-27 14:42] cpojer commented on #1481
No, we are unlikely to add this. Snapshots are text files and should be treated as such.

[2016-08-27 14:42] #1481 closed

[2016-08-28 06:40] jseminck commented on #1425
I have the same issue:

[code]

[2016-08-28 12:50] sibelius opened #1500 "Unexpected token ..."
### Versions:
babel-jest: ^14.1.0
babel-preset-react-native: ^1.9.0
jest: ^14.1.0
jest-react-native: ^14.1.3

### Jest config
[code]

### Snapshot test
[code]

### Component
[code]

### Runtime Error
[code]

I unmock Image to make RNRF work with jest, because it is Image.propTypes

[2016-08-28 13:19] dmitriiabramov commented on #1500
hey @sibelius !
this is most likely happening because you use a spread operator somewhere in your code and you node doesn't support it.
If that's the case, the easiest fix would be to add [this](https://babeljs.io/docs/plugins/transform-object-rest-spread/) plugin to your babel transform.

ideally we should guard against those errors and at least provide a SyntaxError with explanations

[2016-08-28 13:45] sibelius commented on #1500
when I use node 6, it solves the spread operator, however I've got another error:

[code]

[2016-08-28 14:09] cpojer commented on #1500
It seems like you need to add `react-clone-referenced-element` to the list of patterns that need to be preprocessed.

[2016-08-28 14:31] bsr203 opened #1501 "usability quirks"
Hi,

couple of usability quirks I felt when starting with jest.

1. with mocha, when start tests in `--watch` mode, all the test run run once and then it waits for further changes to re run. But, with jest, I need to make changes and save for the first run. Since watch is n added functionality to single run, and also we get feedback on current status of codebase before changes, do you think the fi

[2016-08-28 15:30] franleplant opened #1502 "Date object is undefined inside a Jest test"
Hi!
I have a function that does this:

[code]
If I run it in the browser, it works, but when testing it in Jest I get an error telling me that Date is undefined:

[code]
I searched through the docs and the issues but I found nothing about these global dependencies.

Thanks a lot!

PS: Cross post from https://stackoverflow.com/questions/39187026/date-object-is-undefined-inside-a-jest-test

[2016-08-29 09:11] StephanBijzitter opened #1503 "testPathPattern changed when updating from major 12 to major 14"
[code]
This path worked (or appeared to work) with major 12, but major 14 does not seem to like it very much. `modules/.*/spec` yields the same message.

Excerpt of package.json
[code]

[2016-08-29 12:10] sibelius commented on #659
@leeching how did u solve ur issue?

[2016-08-29 12:15] sibelius commented on #1500
this resolves this issue, thanks

[2016-08-29 12:15] #1500 closed

[2016-08-29 12:28] cpojer commented on #1466
I recommend running Jest with `--no-cache` while working on your own preprocessor but yes, the way you are doing this seems fine.

[2016-08-29 12:28] #1466 closed

[2016-08-29 12:38] cpojer commented on #1495
This is not yet supported. The issue tracking it is here: https://github.com/facebook/react/issues/7148

[2016-08-29 12:38] #1495 closed

[2016-08-29 12:40] cpojer commented on #1473
We definitely need `ftest` or `test.only`.

[2016-08-29 12:41] cpojer commented on #1474
Can you try to modify the sample preprocessor again and run Jest with `--no-cache` while working on the preprocessor?

Unfortunately we don't currently have an official typescript preprocessor (besides the example). If you'd like to work on this and send a pull request for adding `typescript-jest`, that would be awesome!

I'm closing this for now because we can't really do much if it isn't part of

[2016-08-29 12:41] #1474 closed

[2016-08-29 12:42] cpojer commented on #919
With the new jest-react-native preset this should work when using `jest-react-native@test`. We will release a major this week where this will work well for jpg files too.

[2016-08-29 12:43] cpojer commented on #1476
Can you try installing babel-jest@test or babel-jest@14.1? We recently fixed this.

[2016-08-29 12:43] #1476 closed

[2016-08-29 12:45] cpojer commented on #1477
This is a deliberate design decision because symlinks always cause trouble. I recommend you to use the `moduleNameMapper` config option. See facebook.github.io/jest/docs/api.html#content

[2016-08-29 12:45] #1477 closed

[2016-08-29 12:49] cpojer commented on #1460
You shouldn't use or need the react-native-mock when using Jest.

This is unlikely a Jest bug so I'll close this issue. However, if you can provide a full repository on github that I can clone, npm install and then test, I'm happy to help more.

[2016-08-29 12:51] cpojer commented on #1486
This doesn't seem like a Jest issue. It might be and I recommend setting `persistModuleRegistryBetweenSpecs` to true in the config (will be a default in the next major) but if that doesn't solve it I recommend upgrading React to 15.3 and filing an issue with React's bug tracker.

[2016-08-29 12:51] #1486 closed

[2016-08-29 12:54] cpojer commented on #1502
this works just fine for me with node 6. If you have a repository with a repro for me I'm happy to reopen and investigate but I don't think this is a bug with Jest.

[2016-08-29 12:54] #1502 closed

[2016-08-29 12:58] cpojer commented on #1503
We don't support this config option any more. You can still pass it from the CLI or use the `testRegex` option for this (but then I recommend removing `testFileExtensions` from the config).

[2016-08-29 12:58] #1503 closed

[2016-08-29 13:12] cpojer commented on #1501
See #1479 and #1475. I'm merging both today and both of the issues you raised will be fixed in the major release this week :)

[2016-08-29 13:12] #1501 closed

[2016-08-29 13:16] StephanBijzitter commented on #1503
Without the `testPathPattern`, not all test files are found. (+this option is still listed on the website/docs)

[2016-08-29 13:17] cpojer commented on #1503
Can you create a repository that shows this issue? Then I can help – I'm pretty sure a proper testRegex pattern is the right solution here.

[2016-08-29 13:19] kulshekhar commented on #1474
I tried this with `--no-cache` but it didn't work.

I tested the sample preprocessor and it seems to be working well with the added flags. The transpiled code contains the sourcemap inline.

This leads me to assume that whatever work needs to be done to display the correct (mapped) line numbers will probably need to be done in the Jest code that uses the preprocessor.

Is this assumption right? If