[2016-03-24 14:00] jonesdar commented on #665
Note that I have a fix (with updated test case, npm test passing) here: https://github.com/jonesdar/jest/commit/05a145612fb39597ce5d8a68064df949aa6abe2b
I'm not quite set up to create pull requests yet but if someone wants to grab it that would be great.

[2016-03-24 18:05] brentvatne opened #835 "Watching only changed files slowness bug when using @providesModule"
@cpojer and I discussed this on messenger, basically with ~280 modules it was taking 15s+ to actually start running the tests when a file changed. Changing `testRunner.promiseTestPathsRelatedTo` to `testRunner.promiseHasteTestPathsRelatedTo` fixed the problem.

I don't understand the internals so much but @cpojer mentioned that this seems like a bug with node-haste. Additionally, we discussed addi

[2016-03-24 18:58] chrislloyd commented on #334
I've done a little investigation into this. I think [ColCh/jest-webpack](https://github.com/ColCh/jest-webpack) has the cleanest approach. The biggest issue I can see however is that webpack now runs asynchronously, (i.e. Webpack's compiler takes a callback) whereas Jest expects any preprocessor to be synchronous because `require` itself is synchronous. At this point it mighn't be possible without

[2016-03-25 01:04] cpojer commented on #834
Thanks for the idea! In the next version we are actually going to wipe away everything in the terminal window every time we re-run Jest during a watch. I think this is going to improve this quite a bit and will give you enough information to realize that a re-run is happening. I think this will be enough signal.

Since we may get potentially thousands of signals (like during npm install), printing

[2016-03-25 01:24] cpojer commented on #833
Hey! Can you try without coverage and whether that works? I will recommend not using `--coverage` during watch. There are some issues with coverage which have to be fixed, however.

[2016-03-25 01:27] cpojer commented on #334
Hey @chrislloyd. I think with babel6 and the Jest+Babel auto-integration, there is little need to use webpack for processing. However, webpack might be doing some things that Jest does not and I'd like to collect a list of things that are missing from Jest that make it not work so well with your particular projects.

Here is a list of things that would help:
* What does webpack do when it processe

[2016-03-25 01:28] cpojer commented on #829
@kentaromiura was looking into this.

[2016-03-25 02:04] cpojer commented on #616
This should definitely be fixed in the next version of Jest and might already work properly in 0.9.2.

[2016-03-25 02:04] #616 closed

[2016-03-25 08:42] StephanBijzitter commented on #833
I confirm that this is resolved when running without coverage, but I would really like coverage.

[2016-03-25 08:43] StephanBijzitter commented on #834
As long as I have some indication that Jest picked up on a one or more changes, I'm all good!

[2016-03-25 18:23] pvolok commented on #796
From this I learnt that today on node:

[code]

but

[code]

[2016-03-25 18:23] #796 closed

[2016-03-25 18:24] kuronama opened #837 "More examples on how to stub API calls to load data?"
In the [tutorial example](https://github.com/facebook/jest/tree/master/examples/tutorial), there's an example of how to stub an ajax call.

I'm fairly new to react and jest, but found myself having to do a bit more work to stub things out with a component similar to the [react tutorial](https://facebook.github.io/react/docs/tutorial.html) where data is fetched prior to rendering the component.

#

[2016-03-26 23:27] Kureev commented on #797
Thanks for the solution, @AwesomeJerry. But it seems to be a very quirky solution. I hope that underlying issue would be fixed soon and we would be able to get rid of this hack.

[2016-03-27 20:45] cpojer commented on #161
We have now split off `jest-mock` and the test assertion library plugins `jest-jasmine1` and `jest-jasmine2`. We will continue making Jest more modular, which helps us rethink the boundaries of Jest and will eventually allow us to build cleaner APIs. While we haven't made everything modular, I think the original intent of this issue has been achieved and further work will be done in smaller intern

[2016-03-27 20:45] #161 closed

[2016-03-27 20:53] cpojer commented on #17
Based on the current state of the JavaScript community and standard it doesn't seem like require js itself has a huge future for authoring JavaScript code. We now have a standardized module system in ES2015. Babel and Jest are now fully integrated and work well together. I will recommend anyone to switch to CommonJS or ES2015 modules, which will make more tooling available to you out of the box.

[2016-03-27 21:01] cpojer commented on #124
I think this isn't currently possible with JS without some hackery. Jest now has new APIs, like `jest.fn(() => returnValue)` which will always work and should be sufficient.

[2016-03-27 21:01] #124 closed

[2016-03-27 21:02] cpojer commented on #112
I *think* it should be possible by adding these paths to the `NODE_PATH` environment variable before calling Jest. Agree that's not ideal, but it should work sufficiently well for now.

[2016-03-27 21:06] cpojer commented on #204
Jest 0.9 should work much better in all of these cases. node_modules are now by default deep-unmocked as well, as that was a frequent source of issues with npm3. We have also updated the documentation to be more clear and we are exploring more ways of improving (un)mocking. I think this task is resolved but I'm happy to reopen if there is anything left to do here for now.

[2016-03-27 21:06] #204 closed

[2016-03-27 21:07] #834 closed

[2016-03-27 21:10] cpojer commented on #337
duplicate of #335.

[2016-03-27 21:10] #337 closed

[2016-03-27 21:24] sterpe commented on #17
@cpojer I was somewhat successful with the preprocessor approach here https://github.com/sterpe/jest-requirejs/blob/master/index.js but only implemented a transform for !text/ plugins so far.  Our team moved off of requirejs entirely so i haven't had a reason to continue down that path.

[2016-03-27 21:36] cpojer commented on #17
I agree, I see little value in using RequireJS for authoring code. It makes sense to me to compile CommonJS/ES2015 module code to requirejs for production, but it doesn't seem great to write code with this style manually.

[2016-03-28 06:40] cpojer commented on #797
jest 0.9.3 (out next week) will contain `jest.disableAutomock` which will be hoisted above imports. It should resolve this issue.

[2016-03-28 06:46] felixheck opened #841 "Coverage reports with ES6' export expressions"
I've got some issues with **Jest**'s built-in coverage tool **Istanbul**.
I'm using features of the ES6 standard, like the `export` expression. The tests runs all perfect with the expected result. Simply the coverage report is slightly buggy. So when using the `export` expression – not the `export default` – the highlighting in the HTML report seems to be corrupt. Only the last function with the l

[2016-03-28 06:48] cpojer commented on #841
cc @kentaromiura

[2016-03-28 10:13] erwaiyang opened #842 "No tests found for “”. Regex used while searching: /.*/"
Here is the console output when `npm test`.

[code]

Even I installed `jest-cli` globally, and run `jest`, the console output is the same.

= = =

I follow the steps provided by official documentation ( getting started ) enter link description here

I made a directory named `__tests__` in my root directory.

Put `sum.js` in root directory and `sum-test.js` in `__tests__`.

Here is my `package.json

[2016-03-28 10:26] erwaiyang commented on #842
I found the answer...
I put the files in a wrong directory! :(

[2016-03-28 10:26] #842 closed

[2016-03-28 16:14] blainekasten opened #843 "Custom `preprocessor` isn't ran in jest 0.9"
I upgraded to latest, and since my preprocessor `process()` method isn't being ran. It does open the file, but doesn't seem to run the actual method.

Here is a super reduced set of code:

[code]

And this is my package.json jest entry:
[code]

[2016-03-28 16:16] cpojer commented on #843
can you do `rm -rf node_modules/jest-cli/.haste_cache`? The preprocessor is not being invoked for files that have not changed. Most of the times the preprocessor is only called once.

[2016-03-28 16:18] blainekasten commented on #843
Nailed it. Hmm. That's an awkward fix. Is there any smart way we could detect that and inform people to clear that? Or would you rather deal with the one-offs?

[2016-03-28 16:18] blainekasten commented on #843
Maybe documenting that is enough

[2016-03-28 16:19] cpojer commented on #843
Yeah, most people won't run into this because they just use `babel-jest`. I agree though that it can be made easier. `--no-cache` also serves this purpose but currently it doesn't clean the old cache, so invocations with `--no-cache` and without produce different files. That's a bug I'd like to fix soon.

[2016-03-28 18:54] blainekasten commented on #843
Word. Maybe a note in the documentation about scriptPreprocessor that says something like:

[code]

[2016-03-28 19:19] cpojer commented on #230
I think this issue can be safely closed. The issue described here should be resolved with Jest 0.9. Previous versions were always a little bit confused about node_modules. If this problem persists for anyone I'm happy to take a closer look at this issue – please provide me with a repository that has a failure case.

A few things to keep in mind: `jest.setMock` will likely not work when a module ha

[2016-03-28 19:19] #230 closed

[2016-03-28 19:19] #17 closed

[2016-03-28 19:26] cpojer commented on #219
This should be resolved with Jest 0.9.2 or the next release after that :)

[2016-03-28 19:26] #219 closed

[2016-03-28 19:27] cpojer commented on #843
I'm likely going to remove this option soon, however, because it doesn't serve a lot of purpose.

I would recommend adding a note like this:

*Note: Jest's preprocessor is only ran once per file unless the file has changed. During development it can be useful to run Jest with `--no-cache` or to frequently [delete Jest's cache](http://facebook.github.io/jest/docs/troubleshooting.html#caching-issues

[2016-03-28 19:44] tendant commented on #17
I just did migration from RequireJS to webpack. There are more than 300 components in our codebase. The whole process was surprisingly easy and painless.

The tool I have used was https://github.com/Skookum/recast-to-cjs for converting code from AMD to CommonJS style.

Also with the help of https://github.com/facebook/jscodeshift, we migrated our code base from React 0.11 to 0.14 within a few days

[2016-03-28 20:21] nimatra commented on #756
Is this issue fixed? I'm hitting it on "jest-cli": "^0.9.2", and Windows 10.
jest with no param finds the test file and run it but when I specify the test file as a param it can't find any test.

[2016-03-28 21:09] cpojer commented on #17
@tendant nice! That is exactly what I was talking about before :) Glad it worked so well for you.

[2016-03-28 21:31] blainekasten commented on #843
I'm not so sure it's worth removing yet.

I almost ditched my own processor in favor of babel-jest with a babelrc. But it seems there are still some bugs with babel figuring out node_module nested .babelrc files. I've found that If I pass exactly what I want into `babel.transform` it doesn't have the issues with the nested .babelrc's. And I only imagine those things could keep popping up. I see wh

[2016-03-28 21:32] cpojer commented on #843
`--no-cache` does the same thing, so why disable it from the config?

[2016-03-28 21:33] blainekasten commented on #843
I don't know enough about `--no-cache` to understand. How does that play into the .babelrc? I assumed that just ignored the `.haste-cache` folder and ran the processor again.

[2016-03-28 21:35] cpojer commented on #843
I'm sorry, I thought you were talking about removing the option `preprocessCachingDisabled`, something that I will do soon. I don't know much about nested babelrc files but it seems out of the scope of Jest to fix this. And yeah, you can obviously always use your own preprocessor :)

[2016-03-28 21:48] blainekasten commented on #843
Oh. so,

that was in relation to the `preprocessCachingDisabled` command?

[2016-03-28 21:49] cpojer commented on #843
yes.

[2016-03-28 21:50] blainekasten commented on #843
Word. Yeah, I'll throw up a commit then for the documentation change. :+1:

[2016-03-28 22:35] #843 closed

[2016-03-28 23:18] cpojer commented on #255
This should be resolved with 0.9.

[2016-03-28 23:18] #255 closed

[2016-03-28 23:18] cpojer commented on #665
Currently working on a fix but it breaks some internals.

[2016-03-29 00:37] ide opened #845 "Jest crashes on perf-cache creation for @namespaced packages"
Repro steps: Create a package that is namespaced like `@foo/bar` and write some Jest tests for it. Run `npm test`, which runs the tests successfully but then fails with:

[code]

[2016-03-29 05:13] Hubrus commented on #756
@nimatra I reopened the issue: #829

[2016-03-29 08:02] suniala commented on #334
@chrislloyd, maybe we are getting a bit off topic but you can use [deasync](https://www.npmjs.com/package/deasync) as a workaround for the synchronous preprocessor / asynchronous webpack problem. Something like this works for me:

[code]
Disclaimer: Remember kids, you should never ever force synchronous execution on asynchronous implementations unless you understand the consequences.

[2016-03-29 17:41] cpojer commented on #837
Hello! Thanks for creating this issue. It seems like you figured everything out based on the existing documentation, so I'm not really sure if there is anything actionable here. If you'd like to add some more hints and text to the existing documentation, please feel free to contribute it in a pull request :)

[2016-03-29 17:41] #837 closed

[2016-03-29 18:52] realdealbiehl opened #847 "jest --json throws error when there is a failing test"
The json is not being generated when there is a failing test. The json is being output just fine when all tests are passing.

[code]

[code]
\node_modules\jest-cli\src\lib\formatTestResults.js:**35:9**
**rootPath** should be changed to **rootDir**

[code]

[utils.js is expecting config.rootDir (commit)](https://github.com/facebook/jest/commit/ebac6d4dbc2b62c8aa5fe9a8365f654d0b302eb8#diff-fb54f78b0

[2016-03-29 23:49] cpojer commented on #847
Thanks! Fixed this in https://github.com/facebook/jest/commit/7e575672689dca354a34ce34b0bfa702308301a7

[2016-03-29 23:49] #847 closed

[2016-03-29 23:53] cpojer commented on #665
This'll be fixed in the next release! Thanks @jonesdar for helping to troubleshoot it.

See https://github.com/facebook/jest/commit/b01ab18e0c703a715302a6959e3fca9e6b0260cf

[2016-03-29 23:53] #665 closed

[2016-03-30 01:00] nhunzaker opened #848 "Targeting more than JSDOM"
Regarding https://github.com/facebook/react/issues/5703, I wanted to open up conversation about the possibility of supporting JavaScript environments beyond JSDOM.

What does this look like?

Does it involve leaning on tools such as [Karma](https://github.com/karma-runner/karma), [browser-run](https://github.com/juliangruber/browser-run), or [zuul](https://github.com/defunctzombie/zuul)?

Could it

[2016-03-30 01:26] cpojer commented on #848
Thanks for opening this issue. I'll triage some older issues that are related to this task and close them in favor of this fresh discussion. Browser testing is part of my plan for Jest, however it isn't something we are planning to use at FB so it doesn't have a high priority. This is something where I'd be excited to support someone from the community – this is certainly a challenging task but it

[2016-03-30 01:27] cpojer commented on #139
Merging this task into #848.

[2016-03-30 01:27] #139 closed

[2016-03-30 01:40] #845 closed

[2016-03-30 01:42] cpojer commented on #827
I'm currently not interested in changing the test run order. I think it can be further optimized (like pointed out in the blog post, to run previously failed tests first) but no one has been actively working on it. If you'd like to, I'd be happy to help! It should be a pretty easy feature to add :)

I don't think it makes much sense to mix up the run order much more than that. What you recommended

[2016-03-30 01:42] #827 closed

[2016-03-30 11:38] StephanBijzitter commented on #827
@cpojer I can surely take a look if you point me in the right direction :-)

Reason for this is that our CI server (and probably all of the available alternatives?) don't keep build data, and thus Jest has no cache to use for prioritisation. Therefore, running small/quick tests first would allow a CI server to reject a commit sooner, if that commit is found bad.

[2016-03-30 16:32] gaearon opened #851 "Tests skipped because of it.only() are marked as passed"
I can’t quite tell from #698 and #296 whether or not this by design.
When I use `it.only` to isolate a specific test I want to focus on, Jest reports all other tests as passed:

[code]

However what *really* happens is that those 20 tests were skipped because of `it.only()`.
If I remove it, I get

[code]

The “20 tests passed” in the first message gives a wrong sense of comfort. I’ve also seen peo

[2016-03-30 20:46] atecarlos opened #852 "Testing components that contain stateless components"
Hello. I'm leveraging React's [Container](https://facebook.github.io/flux/docs/flux-utils.html#container) components as well as Stateless components.

What I would think is a fairly common pattern is to have one of these Container components have one or several Stateless components as children:

[code]

Where `<App />` is a stateless component:

`const App = ({ registration, initiative, lessonsDat

[2016-03-30 21:27] cpojer commented on #851
Unfortunately this is a wontfix. Jasmine 1 doesn't have a concept of skipped tests. Jasmine 2 brings `fit` with it and correctly records and reports skipped tests. The fix for this is to upgrade the react repo to use Jasmine 2, which has been in the works since December. Jest now ships with Jasmine 2 by default and I'm hoping to phase out Jasmine 1 over time :)

cc @zpao :P

[2016-03-30 21:27] #851 closed

[2016-03-30 21:29] zpao commented on #851
Give me more time in the day and I will do everything including figure out how to upgrade the magic jasmine1 stuff Sebastian wrote to jasmine2.

[2016-03-30 21:30] cpojer commented on #851
Sure! Do you want that with fries or a mixed green salad?

[2016-03-30 21:30] zpao commented on #851
Does the jasmine2 reporter print out the skipped information?

[2016-03-30 21:32] cpojer commented on #851
Yep! Jasmine calls them "pending" but I renamed it to "skipped" because pending sounds weird. 0.9.2 might still say pending but the next release (incoming!) is renaming them.

[2016-03-30 21:43] cpojer commented on #827
Unfortunately on the first run, we don't really know which tests to run first because we don't have knowledge from previous runs. The way we integrate Jest at FB is actually on a per-test basis – when a developer lands a change that breaks tests, they get a task assigned to them to fix that one particular test which means we'll have to run all the tests anyway. In general, it is useful to run all

[2016-03-30 22:42] nhunzaker commented on #848
As a community member, is there a component here that would be best for me to work towards? I'm still familiarizing myself with Jest internals, but it seems like the bulk of the work has to be done in `HasteModuleLoader`.

One of the attractive parts of Karma is how easy it is to integrate browserify and webpack. It is not difficult to test code bundled in the same way between test and dev. This i

[2016-03-30 23:53] cpojer commented on #796
The new version was now released as 0.10.0 and the babel-plugins are 10.0.1 :)

[2016-03-30 23:56] cpojer commented on #665
0.10.0 has been released with a fix for this :)

[2016-03-31 00:17] cpojer commented on #852
Hey! I think the problem is that you are probably not unmocking all the modules you should be unmocking. In your example, Container and App need to be unmocked. Automocking is not actually a great default for many people or projects (I'll probably write a blog post about this soon).

Here are your options, based on Jest 0.10.0 which was just released:

* `jest.unmock('path/to/App'); jest.unmock('p

[2016-03-31 00:17] #852 closed

[2016-03-31 00:50] cpojer commented on #848
I think we'll first need to think pretty hard on how to implement this in a way that it's gonna work well before we start writing any code. Once we have a good idea of what we are gonna build here, I can think more about the staging and smaller chunks of work.

I think one of the big questions is how to create the bundle. webpack/browserify will be insufficient for a few reasons:

* We don't know

[2016-03-31 10:11] logicalicy commented on #770
Apologies if I've overlooked the answer but was there a solution to this @nitsujri?

I've hit the same issue and couldn't discern from reading the conversation whether there was a straight forward fix?

I have a React Native project with following `package.json`:

[code]

[2016-03-31 10:28] gre opened #855 "./setup.sh: No such file or directory"
[code]

Mac OSX
node v4.4.0
npm 2.14.20

[2016-03-31 10:34] nitsujri commented on #770
@logicalicy sadly not yet, I'm excitedly waiting for docs the from @cpojer.

[2016-03-31 10:35] gre commented on #855
for some reason, the setup.sh is not published on npm ? (v 0.10.0)

[2016-03-31 11:56] atecarlos commented on #852
Hi @cpojer . Thank you very much for the reply.

Definitely the problem is the mocking. What I needed clarification is on what the best practice in this scenario, and unmocking the child components was the piece I was missing.

Thanks!

[2016-03-31 14:06] andresilveira opened #856 "No tests found related to changed and uncommitted files."
Hi everyone,
so when I run `jest` my tests passes but running `jest --watch` or `jest -o` give me:
[code]
after saving either the source file or the test file.

I've created a [sample repository](https://github.com/andresilveira/jest_watch_issue) to reproduce this issue.
I'm using `babel-jest: 10.0.1` and `jest 0.10.0`, more info about the dependencies can be found in the [package.json](https://gi

[2016-03-31 14:07] andresilveira commented on #856
It seems to be related to #775 but I'm not sure.

[2016-03-31 16:24] gaearon commented on #815
FWIW we are starting to bump into (memory?) problems again even without coverage. :cry:
https://travis-ci.org/facebook/react/jobs/119849305

[2016-03-31 16:55] cpojer commented on #856
Thanks! I'll try to figure out what's going on here :) Just to check: you were changing the `sum.js` file in `src`, right? If you change the `__tests__/sum-test.js` file, will it run the tests? Do you have watchman installed? :)

As an escape hatch, you can always use `--watch=all` to run all the tests. Maybe we should add this to the console output? The static analysis of Jest will not work when

[2016-03-31 16:57] cpojer commented on #855
setup.sh shouldn't be run when installing 0.10.0. I don't understand why it is trying to be run – cc @kentaromiura didn't you make it so it won't be run!? Can we at least make it so that it just silently fails if `setup.sh` is not part of the copy of Jest? That should fix this too.

We'll fix this but in the meantime you can ignore the error. This is only for development and if npm install gets th

[2016-03-31 18:43] cpojer commented on #770
The fix is probably going to look something like this as part of the "jest" config in `package.json`:

[code]

It may not work with 0.10.0 yet, but there will be point releases in which I'll make it work soon.

[2016-04-01 10:37] andresilveira commented on #856
I've tried to change both the `__tests__/sum-test.js` and the `src/sum.js` files but I get the same output (No tests found...).

Running `npm ls watchman` tells me I don't have watchman installed. Is it necessary to install it in order to get `--watch` working? After installing `watchman` globally, I got the following:
![screen shot 2016-04-01 at 12 34 21](https://cloud.githubusercontent.com/asset

[2016-04-01 10:39] andresilveira commented on #856
By the way, I'm on OSX 10.10.5. In case it matters :smile:

[2016-04-01 19:52] scabbiaza opened #857 "Slow (more than 2 min) tests"
Hello!

I'm facing problem with **super slow** test running in jest.
I have noticed, that one simple test can take about 2 min.
Next time it will work faster, but if I change code in the test file, I have to wait again about 2 min.

I tried `jest-cli` version 0.9 and 0.10: no difference, both slow.
Also when I run test with `--watch`, it stuck.

My environment
node: v4.4.0
npm: 2.14.20

package.js

[2016-04-01 20:07] sampeka commented on #334
I'm experiencing the same problem, also not convinced there's anything out there at the moment that's stable enough to solve this issue.

@cpojer Correct me if I'm wrong, but I can't see how it will be possible to get jest to play nicely with webpack without using webpack for processing. Webpack allows you to define any arbitrary loaders and resolve extensions which means the behaviour of require

[2016-04-03 16:29] lencioni opened #858 "Manual mock documentation is out of date"
In the [manual mocks documentation](http://facebook.github.io/jest/docs/manual-mocks.html), I read:

However, since 81d6697617b130cddf1eff3df9c0fec084efbdf7 this example does not use `jest.genMockFromModule`. I would submit a PR to clear this up, but I'm not entirely sure what the best thing to do is.

[2016-04-03 17:48] sampeka opened #859 "autoMockOff doesn't work with es6 imports"
Simple failing example:

[code]
[code]

Passing when using `require` instead:

[code]

[2016-04-04 00:08] cpojer commented on #859
With jest 0.10.0 and babel-jest 10.0, you can use `jest.disableAutomock()` and it will properly be hoisted :)

[2016-04-04 00:08] #859 closed

[2016-04-04 00:09] cpojer commented on #859
Also publishing a new version of the website now.

[2016-04-04 00:46] cpojer commented on #858
Thanks for noticing! This part of the documentation didn't make any sense after my big rewrite. I updated it in #860.

[2016-04-04 00:46] #858 closed

[2016-04-04 00:55] cpojer commented on #857
Hello!

This is most definitely not normal and I'm unable to reproduce this locally. If this happens only on the first run, it most likely means that your babel configuration is messed up and that babel is doing something that it should not. On the first run, babel transforms all files under test.

Your `package.json` specifies a bunch of presets for babel, they don't however seem to be installed.

[2016-04-04 00:55] #857 closed

[2016-04-04 01:04] cpojer commented on #334
@sampeka: can you share a typical webpack configuration with all the special things require does in webpack? Then we can consider improving support for it. I think besides the consolidation around babel (and `.babelrc`) and the `moduleNameMapper` feature in Jest we probably won't need to much other stuff.

[2016-04-04 01:14] cpojer commented on #856
I tested your example repo (thank you for providing one!) and it does not reproduce locally (10.11.4). When I change either `sum.js` or `sum-test.js`, the tests run – assuming files in the repo have been changed and are unstaged in git. I wonder if its related to your version of OS X, node and watchman or any combination of these?

If you'd like to send a PR mentioning `--watch=all`, that would be

[2016-04-04 07:15] ehrudxo opened #861 "Testing with Realm.js not working"
I got

[code]

message.

My Package.json is shown below.

[code]

<script src="https://gist.github.com/ehrudxo/684b5aeb7211c18237092aece45f29fb.js"></script>

https://gist.github.com/ehrudxo/684b5aeb7211c18237092aece45f29fb

and .babelrc is like

{
  "presets": ["react-native"]
}

[2016-04-04 08:16] k-makarov opened #862 "No custom test reporters"
Like mocha`s:

Spec
Nyan
Dot Matrix
TAP
etc.

[2016-04-04 08:19] cpojer commented on #861
cc @appden

[2016-04-04 08:20] cpojer commented on #862
Unfortunately we are not currently planning on working on this. If you'd like to help out and add more custom test reporter features, I'd be happy to work with you on a Pull Request :)

[2016-04-04 08:24] cpojer commented on #861
I see that this is related to the `NativeModules` module not being stubbed properly. I'm currently thinking of ways to improve this. @ehrudxo what does the `__fbBatchedBridgeConfig` variable inside of your react-native app contain? You can try putting that same configuration into a file and add it to the `setupFiles` config array in your Jest configuration like:

[code]

I'm hoping to have a good

[2016-04-04 09:28] ehrudxo commented on #861
thanks @cpojer

__fbBatchedBridgeConfig is shown below.

global.__fbBatchedBridgeConfig = {
  remoteModuleConfig: [],
  localModulesConfig: [],
};

which setupFiles you mean?

[2016-04-04 09:59] andresilveira commented on #856
I just found out that I only get the  `No tests found...` message on new (Untracked) files. For example, in the same repo, create the following two files:
[code]
Then, if I change either file, the tests don't run. Is it the expected behaviour?
Another thing is, I don't have `watchman` installed (globally or locally).

I like your `--watch=all` message, I'll just use it :)

[2016-04-04 11:34] scabbiaza commented on #857
Thank you. I think you are right! After i deleted `babel-jest`, it works very fast. Will investigate more how to solve it. Thanks again.

[2016-04-04 13:26] likai757 commented on #855
I have same problem.

[2016-04-05 07:59] cpojer commented on #856
ohh that's interesting! I'm sure when you do `git add newfile.js` it will work properly with `jest --watch`. Is there a way to get untracked files in git? If yes, we can add it here: https://github.com/facebook/jest/blob/master/src/lib/git.js#L16 and it should work :)

[2016-04-05 08:09] cpojer commented on #835
Fixed in #832.

[2016-04-05 10:47] landed1 commented on #799
Ok thanks will check that out

[2016-04-05 15:07] yaycmyk commented on #855
Also seeing this and it's breaking my tests.

![screen shot 2016-04-05 at 11 06 20 am](https://cloud.githubusercontent.com/assets/570070/14286858/8e074df8-fb1e-11e5-85c3-f064d513be50.png)

[2016-04-06 19:34] joeapearson opened #868 "Can't connect to mongo whilst running tests"
**Reproduced in**: https://github.com/joeapearson/jest-mongoose

I'm writing unit tests with jest and mongoose to validate data interaction with mongo.  Generally I really like jest's mock feature but in this *particular* case I don't want to use it.

I'm finding that connection attempts timeout when running in jest.  The same code connects perfectly well when running outside of jest.

Here's the

[2016-04-06 22:53] brentvatne commented on #835
Does that fix it? I thought that one just made `--onlyChanged` work with a project that uses git submodules. This one is about using `promiseHasteTestPathsRelatedTo` rather than `promiseTestPathsRelatedTo` when using `@providesModule`

[2016-04-07 09:35] doque opened #870 "/scss/ in preprocessorIgnorePatterns has no effect"
We're using CSS modules in our React components, which are importing `.scss` files, like this:

    import styles from './ReviewFeedItem.scss';

To ignore them when running jest, I've excluded `/scss/` from the module loader (or so I think):

    // package.json

    "preprocessorIgnorePatterns": [
      "/scss/"
    ],

However, when running the tests, the module loader still tries (and fails) to

[2016-04-07 19:35] timReynolds opened #872 "genMockFromModule with ES6"
Hey,

I've got a code base with a mix of ES5/6 which I'm trying to update to babel 6, from 5, but seem to be having issues with the genMockFromModule function that we use extensively.

Once I update babel to version 6 and install babel-jest my mocks are blowing up with;
` TypeError: Cannot read property 'mockImplementation' of undefined `

If I go to the mock file in __mocks__ and do the following

[2016-04-08 10:12] terryx commented on #112
you can use `testPathDirs` and add more values into the array `["<rootDir>/src/js/"]`

http://facebook.github.io/jest/docs/api.html#config-testpathdirs-array-string

[2016-04-08 10:53] cpojer commented on #856
will be fixed in the next release :)

[2016-04-08 10:53] #856 closed

[2016-04-08 10:57] cpojer commented on #835
Wait, sorry, nevermind. No, that is not yet fixed unfortunately.

[2016-04-08 15:47] kalisjoshua commented on #856
Why is Jest taking into account if files are committed or not? I'm just curious because that doesn't seem like sane behavior to me; if a *test* file exists I would expect Jest to use it.

[2016-04-09 01:16] cpojer commented on #856
@kalisjoshua we are talking about `jest -o` (the default for `--watch`) which uses static analysis to find related test files based on the set of changed files. This doesn't apply to `jest` itself or `jest --watch=all`.

At Facebook we have thousands of test suites. `jest -o` is the default – it isn't feasible to run all tests on changes but we can accurately capture all *affected* tests because w

[2016-04-09 22:00] lencioni opened #876 "Documentation is missing information on how to configure Jest"
While there is pretty good information on the [configuration options available](https://facebook.github.io/jest/docs/api.html#configuration), there doesn't seem to be any mention of where these configuration options should go or what that should look like. I think a small example would go a long way here.

[2016-04-10 12:19] cpojer commented on #872
Are you saying that your module uses `export default` and that doesn't work well with `jest.genMockFromModule`? Might require us to add some tiny little hack into the mocking library for babel 6's behavior around export default.

Would you mind making a repro for this so I can confirm this is the issue? Sorry you are running into trouble with this.

[2016-04-10 17:14] timReynolds commented on #872
Not a problem, sorry my issue wasn't very clear. Was hard to see what was going on in our codebase, I should have tried creating an example repo before.

If you grab this repo you can see the behaviour;
https://github.com/timReynolds/genMockFromModuleEs6Example

Its good that jest now supports ES6 simply with the use of babel-jest but the documentation could probably do with some additional detail

[2016-04-11 02:50] tals opened #879 "Jest blow up when used with `export * from 'something'`"
When a Jest test imports a module that includes:

[code]

[code]

[code]

Jest will blow up with
[code]

The reason for this is how Jest's mocking is slightly inaccurate, and this interacts badly with Babel's module system.

A Babel ES6 module defines:
[code]
 `export * from './stuff'` is implemented as:
[code]

In Node, this is fine, because `Object.keys(_stuff)` return `["dog"]`

However, the Je

[2016-04-11 02:54] tals opened #880 "Jest blow up when used with `export * from 'something'`"
When a Jest test imports a module that includes:

[code]

[code]

[code]

Jest will blow up with
[code]

The reason for this is that Jest's mocking is slightly inaccurate, and this interacts badly with Babel's module system.

A Babel ES6 module defines:
[code]
 `export * from './stuff'` is implemented as:
[code]

In Node this is fine, because `Object.keys(_stuff)` return `["dog"]`

However when yo

[2016-04-11 02:56] tals commented on #879
wops, duplicate

[2016-04-11 02:56] #879 closed

[2016-04-11 08:42] timReynolds commented on #880
Related to issue #872

[2016-04-11 08:50] cpojer commented on #880
Until this is fixed I recommend unmocking the other module in question. Personally I would probably always recommend explicitly listing everything a module exports if you'd like to iterate over them but this should still work with Jest.

[2016-04-11 09:07] eur00t opened #882 "TypeError: utils.deepCopy is not a function"
I've updated to `jest-cli@0.10.0`, and now this error appears when I use `./node_modules/.bin/jest`.

[code]

I can see that utils.deepCopy is defined in `/jest/blob/master/packages/jest-util/index.js`, but not in `jest-util@10.0.2` NPM package.

[2016-04-11 09:09] cpojer commented on #882
Please update to jest 0.10.2 :)

[2016-04-11 09:11] #882 closed

[2016-04-11 09:15] eur00t commented on #882
Thanks!

[2016-04-11 09:23] afc163 commented on #882
It is `10.0.2`?

[2016-04-11 09:25] cpojer commented on #882
Uhh.. I'm getting confused with the zero :) Heads-up: in a few days we'll jump to major versions for Jest and will start with 11.0.

[2016-04-11 09:30] afc163 commented on #882
`npm unpublish` is dangerous...

[2016-04-11 09:30] cpojer commented on #882
We'll survive it :)

[2016-04-11 15:49] jyotsnar opened #883 "jest failing with error 'utils.deepCopy is not a function'"
Commit 64b0edd introduced some breaking changes that causes our tests to fail with the error:

TypeError: utils.deepCopy is not a function
 at module.exports (/home/bamboo/bamboo-agent-home/xml-data/build-dir/PCI-CIHTML353-RT/node_modules/jest-cli/src/environments/installCommonGlobals.js:34:31)

[2016-04-11 16:48] swanson commented on #883
Bumping `jest-cli` to `0.10.2` seems to resolve the issue.

[2016-04-11 16:54] swanson commented on #883
Dupe of #882

[2016-04-11 19:31] hgezim opened #884 "jasmine1 and jasmine2 treating expect(func).toBeCalledWith(ES6class) differently"
This is likely a `jasmine` issue but just making sure `jest` isn't doing something to cause this:

Test:

	  pit("should request password reset email to be sent", () => {
	    UserAPI.sendPasswordResetEmail.mockReturnValueOnce(Promise.resolve({}));

	    console.log("Dispatcher.handleServerAction.mock.calls: ", Dispatcher.handleServerAction.mock.calls);

	    return AccountActions.sendPasswordRese

[2016-04-11 21:07] hgezim commented on #609
Fixed! Thanks so much! Sorry I couldn't test it earlier.

[2016-04-11 21:17] swanson commented on #829
Seems to be working on my end. I cloned your sandbox repo on Windows 10 machine with node 4.2.1. Running the test cases you specify in `git-bash` produce expected results.

@Hubrus do you have a different environment?

[2016-04-11 22:28] Aweary opened #885 "Unable to resolve react from imported component"
Using jest `0.10.2`

### Summary

I'm getting the following error trying to get Jest working with an existing project:

[code]

I'm using `babel-jest` to process ES2015 code and `jest-webpack-alias` to process webpack alias paths. React is not aliased at all in webpack.

### Files

##### package.json

[code]

##### jest/preprocessor.js
[code]

##### __tests__/components/CardFilter.spec.js

[code]

[2016-04-11 22:37] cpojer commented on #885
Is this a new problem with the latest version of Jest or have you only tried it with this version?

[2016-04-11 22:50] Aweary commented on #885
I've only tried with the latest version available on npm.

[2016-04-11 22:53] Aweary commented on #885
Also I've logged out the source after the `process` transforms and there is no instance where a preprocessor is transforming any require statement to that long relative path it's logging in the error, so I figured it wasn't likely due to my custom `process` function

[2016-04-11 22:54] cpojer commented on #885
Are you requiring react like "../../../../react" somewhere? It is unlikely that this is coming from Jest.

[2016-04-11 22:56] cpojer commented on #885
Oh, I didn't realize you were using webpack alias. I don't officially support it and it is likely not a problem with Jest that you are running into.

`babel-jest` is the only officially supported preprocessor. I would recommend you to use that one (see facebook.github.io/jest/docs/getting-started.html#content ). If you need aliases, I recommend checking out the `moduleNameMapper` configuration opt

[2016-04-11 22:56] #885 closed

[2016-04-11 22:56] cpojer commented on #885
Also, while playing around with the preprocessor I recommend doing `rm -rf node_modules/jest-cli/.haste_cache` – I'm still working on some better cache invalidation logic.

[2016-04-12 00:40] #876 closed

[2016-04-12 00:43] #883 closed

[2016-04-12 00:44] #795 closed

[2016-04-12 00:47] cpojer commented on #855
This message will be removed from the next release.

[2016-04-12 00:47] #855 closed

[2016-04-12 00:47] #175 closed

[2016-04-12 01:45] #5 closed

[2016-04-12 01:46] cpojer commented on #5
@kentaromiura if you'd like to run a codemod on www that changes `toHaveBeenCalled` and friends to `toBeCalled`, feel free to do it :)

[2016-04-12 01:46] cpojer commented on #175
This will be fixed in the next Jest release.

[2016-04-12 04:21] cpojer commented on #152
I think there isn't anything actionable left to do here. If anyone wants to provide some documentation for the jest website, that would be fantastic. I'm gonna close this issue for now.

[2016-04-12 04:21] #152 closed

[2016-04-12 05:09] cpojer commented on #37
We now have `moduleNameMapper` and both the resolver and runtime can be entirely swapped out. For now, I don't believe there is much need for anyone to add this feature, so I'll close out this task. We can add it anytime through a pull request, though :)

[2016-04-12 05:09] #37 closed

[2016-04-12 07:51] cpojer commented on #829
Will reopen once we have a repo.

[2016-04-12 07:51] #829 closed

[2016-04-12 07:52] cpojer commented on #833
Duplicate of #815.

[2016-04-12 07:52] #833 closed

[2016-04-12 07:52] cpojer commented on #798
I'm gonna close this but will be happy to reopen once we have a repro :)

[2016-04-12 07:52] #798 closed

[2016-04-12 15:00] Aweary commented on #334
@cpojer I'm having an issue with `moduleNameMapper` and my webpack aliases.

My `rootDir` is the default. My modules are in `js` and my tests are in `__tests__`.

[code]

I have `'actions'` aliased to the `js/redux/actions.js` file. I try to map that alias in `moduleNameMapper`:

[code]

But the path it returns is way off:
[code]

I have no clue why it's prefixing `../../redux/` to the path. If th

[2016-04-12 18:48] chrislloyd commented on #334
@cpojer any webpack config with loaders that lets you `import` non-JS assets kind of messes with Jest.

[code]

which can result in app level code like:

[code]

[2016-04-12 23:04] graue opened #888 "Changelog missing 0.9.x and 0.10.x versions"
Where did these changelog entries go? Trying to figure out what I need to know when upgrading from 0.10.0 to 11.0, but the changelog seems to have combined all of these versions into one :confused:

[2016-04-13 00:55] psimyn commented on #334
@chrislloyd did @benweizhu's [idea](https://github.com/facebook/jest/issues/334#issuecomment-158287989) from above work for you - could return empty object for css modules, empty string for images?

[2016-04-13 04:47] chrislloyd commented on #334
@psimyn that's what we're currently using. I thought it was initially less ideal as it couples our jest harness to our webpack config.

However, thinking more about it, if the guard was inverted, it might actually be a decent solution as jest fundamentally can only mock JS.

[code]

[2016-04-13 04:51] cpojer commented on #888
Hey! I recommend looking at the history for the changelog changes: https://github.com/facebook/jest/commits/master/CHANGELOG.md

I always considered 0.9 and 0.10 a pre-release. If you have been on 0.9 and you upgrade to 11 and your tests pass, everything should be fine :) Most of what we did was bugfixes or new features – so if anything breaks it is because Jest is now more correct than before.

[2016-04-13 04:51] #888 closed

[2016-04-13 07:35] Hubrus commented on #829
@swanson Windows 8.1 Enterprise. Updated to `jest-cli@0.10.0` but the problem still persists for me in both windows' command prompt and git bash.

[2016-04-13 08:27] ttrmw commented on #204
Is there a difference in behaviours between `unmockedModulePathPatterns`, `unmock`/`dontMock` and `disableAutomock`/`autoMockOff` when it comes to mocking a module's dependencies?

We observed that in a test that uses `disableAutomock`, a dependency's dependency (specifically `enzyme`'s depdency, `cheerio`) got mocked and appeared to remain mocked for other tests.

Adding cheerio to `unmockedModul

[2016-04-13 08:29] cpojer commented on #204
Hey! `unmockedModulePathPatterns` unmocks everything inside of a specific path. Right now, unmocking a node_module in any way should transitively unmock all of its dependencies. If that doesn't work, then that seems like a bug. Would you mind sharing your specific Jest configuration and what was mocked and what wasn't? :)

[2016-04-13 08:33] ttrmw commented on #204
@goivemaster could you update this issue with our specifics? Otherwise I will edit this when I can pull the latest version later today. Thanks @cpojer

[2016-04-13 13:56] goivemaster commented on #204
Jest configuration :

[code]

If we put something inside unmockedModulePathPatterns should we expect all of its dependencies to also be unmocked? It appears that this is not the case. After adding enzyme to the unmockedModulePathPatterns we have been seeing errors relating to its dependencies remaining mocked hence the presence of cheerio and lodash. Is this a problem with Jest?

[2016-04-13 13:57] cpojer commented on #204
They should be unmocked. Although I recommend specifying something like `node_modules/enzyme` to make clear it is a path. Are you using the latest version of Jest?

[2016-04-13 14:15] goivemaster commented on #204
this is the latest version of jest on npm: 11.0.0 is the latest of 81 releases,
we are running this version.
we see that the latest version on github is this: v0.10.0

we see no difference when adding the longer path.

we notice enzyme has no node_modules directory of its own

[code]

would this be causing the problem or does jest just look at the package.json of each package specified under unmoc

[2016-04-13 17:55] coopy commented on #880
Great bug report, @tals! I was banging my head against this, and didn't realize that it's got to do with Jest mocking: https://github.com/coopy/esmodule-dupe-definition/

I will unmock my problematic module in question.

[2016-04-13 18:05] sterpe opened #890 "window.location.href can't be changed in tests."
Hi @cpojer,

This is actually more of a `jsdom@8` issue...see tmpvar/jsdom#1388, but I want to pin here as well so Jest picks up whatever solution jsdom comes up with.

Previously with `jest-cli@0.8/jsdom@7.x` you could write a test like this:

[code]

And that test would pass.  Since `jsdom@8` this is no longer possible and these tests fail.

Seems like jsdom is looking at some type of capability

[2016-04-14 00:20] cpojer commented on #890
You are right, this is indeed a jsdom issue. At Facebook, what we have done to work around this, is use this:

[code]

this works for us, however we are still on jsdom 7 internally.

I'll close this, as I believe the `Object.defineProperty` way of doing things is fine. If that doesn't work for you in jsdom 8, I'm happy to reopen it.

[2016-04-14 00:20] #890 closed

[2016-04-14 00:33] sterpe commented on #890
Cool, thanks I will try this out.

[2016-04-14 00:48] dmitriiabramov commented on #884
I think it's a bug in `jest-jasmine1` runner

looks like if anything that is *not a function* compared to a *function* in `toBeCalledWith` matcher results in green test.

[code]

![screen shot 2016-04-13 at 5 46 41 pm](https://cloud.githubusercontent.com/assets/940133/14513832/b8d5965c-019f-11e6-9b05-4c72108e04b0.png)

the issue seems to be on that line https://github.com/facebook/jest/blob/master

[2016-04-14 00:51] cpojer commented on #884
I think this is a wontfix (unless someone wants to send a PR). At this point I'd prefer not to change the jasmine1 runner so much. I think it pretty much reached its EOL. Jasmine 2 is more strict and I suggest everyone switching to it.

As @dmitriiabramov suggested, this seems like a bug in our jasmine 1 adapter and by switching to jasmine 2 it pointed out an issue with your test :)

[2016-04-14 00:51] #884 closed

[2016-04-14 01:17] dmitriiabramov commented on #868
it worked for me when i added `jest.unmock('mongoose')` to the top, but fails with an error if i try to require a mocked version of `mongoose`.

can you try adding `console.log(mongoose.connect.toString())` to your test file?

[2016-04-14 02:00] cpojer commented on #824
We now have `jest-environment-jsdom` and other environments can be added easily. We also upgraded to the latest version of jsdom, so we should be good.

[2016-04-14 02:00] #824 closed

[2016-04-14 02:36] dmitriiabramov commented on #450
i think this is related to using 'use strict' + `this` in global scope together and it is the expected behavior.
the issue was fixed in sinon a while ago https://github.com/sinonjs/sinon/issues/758

[2016-04-14 02:37] #450 closed

[2016-04-14 02:44] dmitriiabramov commented on #226
is it still an issue?
i just ran
[code]
and it worked

[2016-04-14 02:47] dmitriiabramov commented on #290
fixed by http://facebook.github.io/jest/docs/api.html#testdirectoryname-string ?

[2016-04-14 06:45] cpojer commented on #290
@dmitriiabramov the problem currently is that it only allows you to specify a directory. I'd like to deprecate this option and add a `testPattern` option where you can also make it a regex, for example to match "test.spec.js". Some people prefer having tests next to their files rather than a `__tests__` folder. If you'd like to take this on, that would be great :)

[2016-04-14 09:30] slamus commented on #700
Hi @jasonmerino ,
I'm struggling with setting up jest testing in React Native 0.23 ...
Could you be kind enough to share your test config and mocks ?
It would be awesome :)

Thanks !

[2016-04-14 09:35] ivantsov commented on #226
I'm going to have a look at the thing today in the evening. Nevertheless, I think the problem has gone because jest was rewritten, particularly a mocking part.

[2016-04-14 16:54] conradho commented on #10
I set the testDirectoryName to my root/components dir, which then allowed me to find all the tests (even if it was nested multiple levels deep) and have the tests next to the component

[2016-04-14 19:38] elliottsj opened #894 "Missing `module.paths` causes ESLint to fail when run via Jest"
Full issue is described here: https://github.com/eslint/eslint/issues/5791

ESLint >=2.6.0<=2.7.0 depends on the existence of `module.paths`, which seems to be unavailable in Jest's module system, causing ESLint to fail when run via Jest.

It's worth noting that [`module.paths` is not currently documented in the Node.js docs](https://nodejs.org/api/modules.html#modules_the_module_object); it's unc

[2016-04-14 21:44] cpojer commented on #894
This was fixed in Jest 11.0. Please update your version of Jest. See https://github.com/facebook/jest/commit/67cdabbec04d45f396d36cee990f966ffafca6cc#diff-be7aadd3d65098895718442cdd64d31fR301

[2016-04-14 21:44] #894 closed

[2016-04-15 09:54] flegall opened #897 "Incorrect dependency version required when using autoMockOff()"
It seems like the dependency version required when running tests is not the one that is defined in the main package.json.

We have set up a showcase for the bug :
https://github.com/abalhier/SampleJestTest

We have package.json that has the following dependencies :
[code]

When running tests it appears that the required lodash version is not the one defined in package.json, it seems to be the same

[2016-04-15 16:42] ivantsov commented on #226
Hi @dmitriiabramov, I've created a repo where you can reproduce the problem: https://github.com/ivantsov/jest-mock-nested-folders. Just run `npm i & npm test`.

There is a `__mocks__` folder with `sdk` folder and `foo.js` file inside but Jest fails with error `Cannot find module 'sdk/foo' from 'sample.js'`.

Hope it helps.

[2016-04-15 17:05] dmitriiabramov commented on #226
@ivantsov i think the issue here is that you don't have the `sdk` module.

here is what i tried in your repo:

`mkdir -p node_modules/sdk && echo "module.exports = function() { return 1; }" >> node_modules/sdk/foo.js`

and the test passed

[2016-04-15 17:22] ivantsov commented on #226
But if I just create `sdk.js` inside `__mocks__` it'll work as expected, without actually having `sdk` module. This is why I think it's unexpected behavior...

[2016-04-15 17:28] dmitriiabramov commented on #226
that is true.. `__mocks__/sdk.js` worked, but `__mocks__/sdk/foo.js` didn't.
@cpojer any thoughts on that?

[2016-04-15 20:26] trotzig opened #898 "Eslint plugin can't be found"
I'm not entirely sure whether to report this here or in the eslint project, but I thought I'd start here.

I'm using eslint in a node project. For some reason, eslint plugins can't be found when run through Jest, even though they're in the `node_modules` folder. Here's a minimal repro case to demonstrate what I'm seeing:

First, install dependencies:
[code]

Then, create a test (using eslint):
[co

[2016-04-15 21:23] blainekasten opened #899 "Feature: npm package to define it's own mocked interface"
Jest doesn't always mock things correctly. Something around `getters` and `setters` aren't mocked appropriately, and some other goofy scenarios.

Additionally, return values from functions that are mocked aren't always inline with what the module does. A good example of this is something that returns a `Promise`. Jest might mock the function, but break when a `.then` is called after.

It'd be grea

[2016-04-16 09:58] cpojer commented on #429
Fixed in the next release.

[2016-04-16 09:58] #429 closed

[2016-04-16 10:04] cpojer commented on #899
I *think* it should work if you create a `__mocks__` folder in your npm project and call it the same as your npm module. Would you mind trying that?

`my-npm-module` would ship with `__mocks__/my-npm-module.js`. If it doesn't work, we need to make it work :)

[2016-04-16 10:04] cpojer commented on #899
Alternatively, if you have an index.js file, I think this should also work:

[code]

[2016-04-16 16:00] gwing33 opened #904 "Missing mercurial 'hg' command throws ENOENT"
Mercurial is not installed on my machines.
So running `jest --watch` will throw the ever cryptic `Error: spawn hg ENOENT`.

My assumption is that this...
[code]
is meant to catch the error, but it doesn't seem to be doing the trick.

If I add `child.on('error', () => {});` within the `isHGRepository`, the error goes away and everything works as I'd expect.

Tested on OS X with node@5.4.1 (`git` in

[2016-04-17 06:11] joeldbirch opened #905 "--watch not working"
I have Jest running successfully via the command line, but I'm getting the following error when using `jest --watch` and then changing a JS file to trigger the tests:

[code]

I have tried updating node and npm. I also tried creating a bare-minimum project to exclude anything in my main project from interfering, but this also shows the same error. **[Here is a repo of the reduced test case](https:

[2016-04-17 09:45] cpojer commented on #905
Oops, at Facebook everyone has both Git and Mercurial installed, so we missed this during testing of 11.0.1. We'll fix this tomorrow and release a new version. Until then you can do:

* `jest --watch=all`
* downgrade to 11.0.0

[2016-04-17 09:46] cpojer commented on #904
Oops, at Facebook everyone has both Git and Mercurial installed, so we missed this during testing of 11.0.1. We'll fix this tomorrow and release a new version. Until then you can do:

jest --watch=all
downgrade to 11.0.0

[2016-04-17 11:37] EnoahNetzach opened #907 "Test fails with imported/required functions with default params"
I have a simple test case: a function with a default parameter, when I define it in the test file nothing goes wrong, but if I require/import it, the test fails.
[code]
[code]

I've also create a lightweight [C9 project](https://ide.c9.io/enoahnetzach/es6-test) to showcase this.

[2016-04-17 17:12] gwing33 commented on #904
Thanks @cpojer

[2016-04-17 22:40] EnoahNetzach opened #908 "Add a config for choosing the coverage directory"
An option for choosing where to write the code coverage files should be added, something like `coverageDirectory`.

[2016-04-17 22:47] lencioni commented on #898
This seems to work fine with eslint 2.5.3, but with 2.6.0, I see errors like:

[code]

Same with 2.7.0.

With 2.8.0, I see `Error: Cannont find module 'eslint-config-airbnb'`.

Tested with Jest CLI v0.9.2, jasmine2.

[2016-04-18 00:35] cpojer commented on #898
This is a little bit upsetting, eslint is using private APIs ("module.paths") which Jest's sandbox isn't polyfilling as expected. @lencioni you are setting this because prior to 11.0 `paths` was not defined. In 11.0 it is an empty array which is why it cannot find airbnb's config.

I'll look into fixing this for the release today.

[2016-04-18 01:26] cpojer commented on #898
Fix will go out with 11.0.2 today.

[2016-04-18 01:26] #898 closed

[2016-04-18 01:27] cpojer commented on #904
Fix will go out with 11.0.2 today.

[2016-04-18 01:27] #904 closed

[2016-04-18 01:27] cpojer commented on #905
Fix will go out with 11.0.2 today.

[2016-04-18 01:28] cpojer commented on #907
You'll need to use `babel-jest` and `jest.disableAutomock()` if you are using import statements.

See facebook.github.io/jest/blog/2016/04/12/jest-11.html for an explanation.

[2016-04-18 01:28] #907 closed

[2016-04-18 01:28] cpojer commented on #908
Fixed in #909. Thanks for the pull request!

[2016-04-18 02:17] joeldbirch commented on #905
Great! Thanks very much for your quick replies.

[2016-04-18 04:14] cpojer commented on #905
It's published now :)

[2016-04-18 04:41] cpojer commented on #908
Published 11.0.2.

[2016-04-18 04:41] #908 closed

[2016-04-18 04:43] cpojer commented on #868
It seems like this is working according to @dmitriiabramov. Happy to reopen if this continues to be an issue :)

[2016-04-18 04:43] #868 closed

[2016-04-18 06:54] EnoahNetzach commented on #907
Uh sorry, was reading an oldish repo which uses v0.9. My fault.

[2016-04-18 07:32] trotzig commented on #898
Thanks @cpojer for the fix and @lencioni for providing additional information! I've verified that things are working as they should after installing jest-cli 11.0.2.

[2016-04-18 10:33] joeldbirch commented on #905
I updated to 11.0.2 and `--watch` now works great. Unfortunately though, when I run `jest --watch --o` the `--o` flag seems not to be working as I'm used to from v11.0.0. Upon file change-and-save I simply get another "Using Jest…" line output but no tests actually run.

[code]

Should I post a new issue, or am I missing something?

[2016-04-18 11:13] cpojer commented on #905
`--o` isn't a valid flag. It's `-o` or `--onlyChanged`. However, `jest --watch` does `-o` by default. If you want to run all the tests, you should do `jest --watch=all`.

[2016-04-18 11:58] joeldbirch commented on #905
Thanks. I did first use -o but because it didn't work as expected I got confused about whether it should be --o, which I saw in the docs somewhere. I'll have another go in light of what you've told me. Thank you!

[2016-04-18 15:31] massick commented on #200
+1

[2016-04-18 19:48] gedkins opened #913 "Module mocking system confuses library files that have the same name but are in different directories"
https://github.com/gedkins/jest-bugs.git
jest-bug-1

The setup:
- We have two "libraries" called 'a' and 'b'. Each imports a corresponding "helper".
- Then we run jest
- test.js will mock 'a' and unmock 'b'. It will later use 'b', expecting to see the unmocked version of b's helper.

What happens
- Mocking 'a' will store './helper' in Jest's internal shouldMockModuleCache.
- when we later come to

[2016-04-18 19:49] gedkins opened #914 "Module mocking system remembers some state from one test to the next"
https://github.com/gedkins/jest-bugs.git
jest-bug-2

The setup:
- We have three libraries, 'a', 'b' and 'c'
- 'a' includes 'c'
- 'b' includes 'c'
- There are two test files: test1.js and test2.js
- test1.js doesn't really do anything, but tells Jest to mock 'a' and not mock 'b'.
- test2.js does it the other way around: it tells Jest to unmock 'a' but mock 'b'.
- First we run test1.js and test2.js

[2016-04-18 23:09] cpojer commented on #914
Thank you for your thorough investigation and providing repros. I'm sorry this issue is hurting you and we might be able to remove some of this caching in the future. Unfortunately, most of this is quite complex.

To work around your issue, I believe an explicit `jest.mock(…)` call in your tests where you expect mocks will work until we fix this in Jest.

[2016-04-19 11:19] appetizermonster opened #916 "Error.prepareStackTrace is not working correctly"
Code:
[code]

Output with Node
[code]

Output with Jest
[code]

I would appreciate if Jest works like Node for non-testing code

[2016-04-19 12:02] appetizermonster commented on #916
Sorry, it works with `NodeEnvironment` option. close this issue.

[2016-04-19 12:02] #916 closed

[2016-04-19 12:06] cpojer commented on #916
👍

[2016-04-19 12:28] appetizermonster opened #917 "testEnvironment config not working (or documentation is wrong)"
In documentation, [testEnvironment](https://github.com/facebook/jest#testenvironment-string) config can be `node` or `jsdom`.
but both won't work.

It works if I set value with the module path for `NodeEnvironment/JSDOMEnvironment` like `C:\somewhere\...\node_modules\jest-cli\src\environments\NodeEnvironment`.

[2016-04-19 12:53] cpojer commented on #917
You should update to Jest 11.0. This config option wasn't present in previous versions which looks like what you are using.

[2016-04-19 12:53] #917 closed

[2016-04-19 13:22] appetizermonster commented on #917
@cpojer Thanks!

[2016-04-20 04:40] joeldbirch commented on #905
I'm definitely still encountering issues with -o and --watch. I have created a [new reduced test case repo](https://github.com/joeldbirch/Test-Jest-Watch). Please just let me know if you'd prefer I open a new issue for this. Below is the contents of the readme for the new test case:

# Jest --watch error

## Steps to reproduce the --watch issue:

1. Run `npm install`
2. Run `jest --watch`
3. Alter

[2016-04-20 14:27] slamus opened #919 "requiring image in react-native"
Hi,

I've been struggling to make Jest work with my react-native project for some days.
Now that I can finally unit test some components, I'm encountering a new bug when requiring images from path.

Here's my current configuration:

package.json
[code]

.babelrc
[code]

error
[code]

[2016-04-20 14:30] cpojer commented on #919
This was fixed in Jest 11.0. Please upgrade! If it doesn't work, I'll happily reopen this issue.

[2016-04-20 14:30] #919 closed

[2016-04-20 14:41] slamus opened #920 "Jest 11 & react-native : error in specific npm module"
Hi,

After upgrading to Jest 11 according to @cpojer advice in #919 , I got a new error regarding an external library using the Easing library.

It seems like Jest tries to mock `react-native-animatable` because `Easing` appears as `undefined` when trying to get `linear` property.

I tried to copy the mocked `Easing` module in my `src/__mocks__/` folder like I did with `Dimensions` API for example

[2016-04-20 14:43] cpojer commented on #920
Hello! Thank you for opening an issue. Would you mind making a small repository that reproduces this problem so we can take a deeper look? Thank you!

[2016-04-20 14:48] slamus commented on #920
Hi @cpojer, Thanks for your fantastic response time 👍
Well this is part of a much bigger project, so maybe I can start testing some solutions on my side according to some of your suggestion.
If you have no idea about what's causing this problem I will gladly make a repo after that.
What do you think ?

[2016-04-20 14:55] slamus opened #921 "Jest 11 & react-native : using react-native bundled preprocessor and env"
Hi,

I'm using Jest to unit test some custom components, and it's working well with some of them.
I saw a few times the preprocessor and env in https://github.com/facebook/react-native/tree/master/jestSupport was used like this in some projects' package.json file:

[code]

However, when I do that I get an error about a missing Module: `ErrorUtils` :

[code]

I'm using `react-native 0.23.1` and `je

[2016-04-20 17:53] willyyang commented on #526
I agree with @elliottsj

[2016-04-21 07:53] fterlid commented on #597
I'm having the same issue as @yashikagarg13, with version 11.0.2 of jest. In my case it seems like the utils.js of the Uncontrollable npm module will cause tests to fail sporadically, perhaps because of the order test suits are run in. Putting react-bootstrap and Uncontrollable in unmockedModulePatterns, or jest.unmock'ing them in the test file doesnt help.

Here's an exerpt of a stack trace:
[cod

[2016-04-21 15:21] blainekasten commented on #433
@cpojer This is still a bug in 0.9.2.

Steps to reproduce within a set of code with zero tests.

1. run `jest --coverage` and see that it shows coverage errors.
2. set a `"testPathDirs": [ ... ]` to your src files
3. run `jest --coverage`

The second run will result with zero files untested. While it still should since there are plenty of files within src that doesn't have any tests.

[2016-04-21 18:01] jasonmerino commented on #700
@slamus Sorry, but I've moved on from using Jest. Couldn't get everything to work correctly.

[2016-04-21 23:23] dmitriiabramov opened #925 ""testPathPattern" is not working"
test repo: https://github.com/dmitriiabramov/jest_test_path_pattern

config:
[code]

result:
![screen shot 2016-04-21 at 4 21 12 pm](https://cloud.githubusercontent.com/assets/940133/14727153/60e750c2-07dd-11e6-885a-c60a8fe304b0.png)

i think this option is not used anywhere in the source code beyond the argument parsing logic.
should it be removed or fixed?

[2016-04-21 23:26] dmitriiabramov commented on #802
i got another one, probably related to watchman, but i'm not sure

![screen shot 2016-04-21 at 4 18 02 pm](https://cloud.githubusercontent.com/assets/940133/14727213/c234f67c-07dd-11e6-9c09-6e200bed3483.png)

goes away with `git init .` again, but doesn't have a friendly error message

[2016-04-21 23:33] dmitriiabramov opened #926 "[proposal] use globs instead of regex in config"
Regexes are very hard to get right when you're setting up a new project, especially when they're inside a `.json` file.

i was thinking maybe using something like https://github.com/fitzgen/glob-to-regexp

regex config can also be preserved, e.g.:

[code]

or

[code]

[2016-04-22 01:02] cpojer opened #928 "Improve async testing"
Currently we have `it` and `pit`.

When returning a promise or any other value from `it`, it is silently ignored and you might write a test with a promise that passes without ever checking the promise code.

There are a few things we can do:
* Overwrite `it` and merge the `pit` functionality into it. When `it` returns a Promise, it uses `pit`, if it doesn't return anything it will just use the reg

[2016-04-22 03:24] cpojer commented on #925
I think it may have been passed from argv into the config object previously but we aren't doing that any more, so I believe it can be removed as a config option.

[2016-04-22 03:30] cpojer commented on #802
We now have more control over fixing this. We should just not use watchman if it throws. Here is what we could do:

See https://github.com/facebook/jest/blob/052af961fb469f78ddcbd623b39622416fc21da9/packages/jest-haste-map/src/index.js#L329

* catch errors thrown by crawl (not sure if this is thrown before we create the promise or in the promise chain. Seems like it is before that?)
* `if (crawl =

[2016-04-22 05:40] cpojer commented on #926
An overhaul of the entire config system was planned. I would definitely like to preserve the ability to use regex however, as that is likely what most Facebook projects will want to continue to use.

Here are some parts to this:
* Design a new, simpler config system
* Convert old configs through an adapter. We can install and use that by default, warn for one major version and then drop it in the

[2016-04-22 10:00] slamus commented on #700
@jasonmerino Me too ! I'm using enzyme right now.
You should have a look at this great article on the subject: https://blog.addjam.com/testing-react-native-with-mocha-and-enzyme-6b77cd9e52a1#.kc9v9p29l

[2016-04-22 12:54] audetpascale opened #930 "Since Jest update, Response is not defined for more than one file."
Hi,

I have migrated Jest from 0.8.2 to 0.10.2. I have fixed the small issues I had, except for one.

At this point, I have two API utils files (Flux architecture). To communicate with the REST API, I use the [Fetch API](https://developer.mozilla.org/en/docs/Web/API/Fetch_API), with [whatwg-fetch](https://github.com/github/fetch) as polyfill. So, to mock the request, I create a Response, as define

[2016-04-22 16:35] chemjournal opened #931 "babel-jest not working with es2015"
I'm currently doing the basic sum test using es2015 but it does not seem to be working. Here is my sum.js

[code]

Here is the sum-test.js
[code]

When I run jest, (using npm test), I seem to be getting this error:

● sum › it adds 1+2 to equal 3
  - SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode in file 'sum.js'.

    Make sure your prep

[2016-04-22 16:35] dmitriiabramov commented on #928
agree... Returning a promise from it was a very cool and very dangerous things in mocha that resulted in a bunch of false green.

Is that the spec you're thingking of for option 1?
[code]

[2016-04-22 16:39] dmitriiabramov commented on #926
that would be a nice mini project to work on :)

[2016-04-22 17:17] dmitriiabramov commented on #931
hey @chemjournal
what is your node version and what is inside your `.babelrc`?

also, do you see `babel-jest` when you run `jest`?
[code]

[2016-04-22 17:22] chemjournal commented on #931
hi @dmitriiabramov i'm using node 5.5.0 and my .babel-rc has

[code]

Yes I do see babel-jest, Using Jest CLI v11.0.2, jasmine2, babel-jest

Btw i've also noticed that the sample CheckboxWithLabel on the jest website doesn't work either. But that seems to be a different error (not related to babel). I'll open a different issue just so that we can focus on them individually.

Thanks for your help!

[2016-04-22 17:25] chemjournal opened #932 "CheckboxWithLabel babel example does not work"
I'm following the CheckboxWithLabel example on the jest website to try jest but it doesn't seem to be working. Here are my files

CheckboxWithLabel.js
[code]
CheckboxWithLabel_test.js
[code]

I get the following error upon running jest
● sum › it adds 1+2 to equal 3
  - Expected: undefined toBe: 3
        at stack (node_modules/jest-jasmine2/vendor/jasmine-2.3.4.js:1484:17)
        at Object.build

[2016-04-22 17:29] dmitriiabramov commented on #931
i was able to reproduce it inside `examples/getting_started` when i used your code.
here is what solved it for me:

`npm install --save-dev babel-jest babel-preset-es2015`
`echo '{"presets": ["es2015"]}' >> .babelrc`
`jest`

[2016-04-22 17:45] chemjournal commented on #931
That's strange because I had the exact same presets loaded. It turned out that jest.autoMockOff() was causing the test to fail. Its working now! Thanks for your help!

btw I've created #932 for the problem in with the ChecklistboxWithLabel sample code error.

[2016-04-22 17:45] #931 closed

[2016-04-22 18:18] audetpascale commented on #930
[Here is the Gist](https://gist.github.com/audetpascale/3cb2f6fbf5d27153ee57e8bcc7ae577d)...

[2016-04-22 18:46] chemjournal commented on #932
Seems like this was an old jest.autoMockOff hoisting issue.
I followed the solution from #377
I thought this was fixed?

[2016-04-23 00:01] cpojer commented on #928
Yeah, that's the idea. I don't know if this wrapping is gonna be bad for perf on www but it is probably negligible and we should just try it :)

[2016-04-23 00:02] dmitriiabramov commented on #928
good reason to look into performance testing :)

[2016-04-23 00:04] cpojer commented on #928
It's basically:

[code]

and take the time of the second run. The first one cannot be trusted (it creates the cache and does babel transforms). If it's slower than before, then we have to make sure it isn't that much slower ;)

I actually believe that if we add this directly to our fork of jasmine 2 instead of wrapping it, that would be fine with me too if its in the interest of perf.

[2016-04-25 06:38] vitalets opened #933 "Incorrect assertion for Object.create(null)"
This works correctly:
[code]
but this does not:
[code]
Instead of diff it shows error:
[code]

I suppose we should check that `obj.hasOwnProperty` is function.

[code]

[2016-04-25 06:41] cpojer commented on #933
This is a bug in Jasmine and we fixed it in our fork of Jasmine here: https://github.com/facebook/jest/commit/d6660c4417ac28863b2fb70abc1cef46e896b098

It'll go out with Jest 12 probably in a week and a half. You can use the master version of Jest until then if you'd like: https://docs.npmjs.com/files/package.json#git-urls-as-dependencies

[2016-04-25 06:41] #933 closed

[2016-04-25 06:42] cpojer commented on #933
(I also ran into this in https://github.com/facebook/jest/pull/896 and it was annoying).

[2016-04-25 07:58] cpojer commented on #377
For future reference, the new API we introduced together with `babel-jest` from 0.9 onwards is `jest.disableAutomock()`.

[2016-04-25 07:58] cpojer commented on #932
The example doesn't use `autoMockOff` so I don't think the issue you created makes sense this way. The example definitely passes and has for a while; see the package.json file.

The new API is `jest.disableAutomock()` when used together with babel-jest, it will work properly.

[2016-04-25 07:58] #932 closed

[2016-04-25 08:00] cpojer commented on #914
This will be fixed in #934 and in the next release (Probably coming in 1.5 weeks).

[2016-04-25 08:00] #914 closed

[2016-04-25 13:12] biphobe opened #935 "Lack of compatibility with Node v6"
I tested Jest with Node v6.0.0-nightly201604207dc1a87a7b.

"Path must be a string" errors pops up before the table with test cases appears - strangely, tests are listed correctly, even though all fails and Jest doesn't even try to run them.

_resolveNodeModule method from Runtime.js@423 receives null as "currPath" parameter, thus errors are being thrown.

I'm not sure if it's Node's error, it's a

[2016-04-25 16:01] seibelj opened #936 "How to mock specific module function?"
I'm struggling with something that I think should be both easy and obvious, but for whatever reason I can't figure it out.

I have a module. It exports multiple functions. Here is `myModule.js`:

[code]

I unmock the module for testing.

`jest.unmock('./myModule.js');`

However, I need to mock `foo`, because it makes ajax calls to my backend. I want every function in this file to remain unmocked,

[2016-04-25 16:24] dmitriiabramov commented on #377
would hoisting `jest.disableAutomock()` as the last step work?

[2016-04-25 19:55] seibelj commented on #936
Upon deeper analysis, it appears that jest-mock generates an AST for the whole module, then uses that AST to create a mocked module that conforms to original's exports: https://github.com/facebook/jest/tree/master/packages/jest-mock

Other testing frameworks, such as Python's mock (https://docs.python.org/3/library/unittest.mock-examples.html), let you mock specific functions. This is a fundamenta

[2016-04-25 22:43] cpojer commented on #377
We do hoist `jest.disableAutomock()` :)

[2016-04-25 22:57] cpojer commented on #936
You can do:

[code]

See http://facebook.github.io/jest/docs/api.html#mock-functions

[2016-04-25 22:57] #936 closed

[2016-04-25 23:04] cpojer commented on #433
@blainekasten can you provide a repo that highlights this issue so we can add it as an integration test and fix it?

[2016-04-25 23:55] mikem-mup commented on #317
The `"testDirectoryName": "app"` workaround is the 'correct' solution when you have all of your tests in a single subdirectory (e.g. `app/`), but it doesn't account for collocating tests in multiple subdirectories, or directly in the root directory because Jest will only look inside `<rootDir>/app/`.

It would be helpful to eliminate the requirement to specify a `testDirectoryName` entirely so tha

[2016-04-25 23:56] cpojer commented on #317
Yes we definitely want to do this (for the next release maybe). @dmitriiabramov was looking into it I believe.

[2016-04-26 06:16] cpojer commented on #935
It seems like a Jest bug with Node 6. Would you mind sharing your setup or some of your specific tests that fail so we can make sure this is fixed in Jest 12? What do you mean "table with test cases", do you mean coverage?

[2016-04-26 07:03] cpojer commented on #935
Should be fixed in the next release of Jest :)

[2016-04-26 07:03] #935 closed

[2016-04-26 07:05] cpojer commented on #930
Would you mind re-trying this with Jest on master? I believe this bug was fixed recently.

[2016-04-26 07:10] biphobe commented on #935
Wow, I didn't even manage to answer you. Nice!

[2016-04-26 07:11] cpojer commented on #935
I have a PR up. Would you mind trying Jest master with this commit applied: https://github.com/cpojer/jest/commit/4bce1154c9ee35e2261464d9d594086b696b7f5d and tell me whether it fixes the same issue you had?

[2016-04-26 08:15] chemjournal commented on #932
You're right its working! I was following an old tutorial and missed this detail. Thanks you for your help!

[2016-04-26 08:39] biphobe commented on #935
Awesome - it works. :clap:

[2016-04-26 08:49] skawian commented on #433
In my case I get an empty coverage when I try to put test files in the same directory as source files. I found it useful to stick a breakpoint in this line https://github.com/facebook/jest/blob/master/src/Runtime/Runtime.js#L296 and found out that the whole test directory is excluded from coverage. My fix is to check if the file does not have test extension (I use 'spec.test') rather than being in

[2016-04-26 09:16] cpojer commented on #433
Oh you are right, it's because we don't collect coverage information from tests. I'm not entirely sure what the best behavior here should be – I believe when we fix the test path pattern to be based on the full path rather than just the directory name, this bug will resolve itself :) Soon!

[2016-04-26 14:41] inventive-security commented on #204
@goivemaster did you have any luck on getting enzyme working? I hit exactly the same problem as you hit. When I use `jest.disableAutomock();` the tests works, but when I omit it and rely on the `unmockedModulePathPatterns` the test fails. I even added dependencies from enzyme in the `unmockedModulePathPatterns` but now the dependencies of the dependencies are the problem I guess...

[2016-04-26 14:51] ttrmw commented on #204
just a hunch, but this feels like it's related to Enzyme not having its own node_modules directory - this kind of transitive mocking seems to behave with other dependencies.

For our use case (I work with @goivemaster) we were able to get away with unmocking `lodash` and `cheerio` - which were causing the problems - by way of the `unmockedModulePathPatterns` config item.

[2016-04-26 15:37] seibelj commented on #936
I think you have a fundamental misunderstanding of how `require` works. When you call `require()`, you don't get an instance of the module. You get an object with references to the module's functions. If you overwrite a value in the required module, your own reference is overwritten, *but the implementation keeps the original references*.

In your example, if you call `myModule.foo()`, yes, you wi

[2016-04-26 15:38] seibelj commented on #936
@cpojer

[2016-04-26 21:20] qpowell commented on #770
@cpojer I followed what you mentioned above and notice that the jest setup is similar in the f8app repo. It fixes my `TypeError: CallbackQueue.getPooled is not a function` but now I just get `TypeError: Cannot read property 'process' of undefined
    at setUpProcessEnv (/<my_project_dir>/node_modules/react-native/Libraries/JavaScriptAppEngine/Initialization/InitializeJavaScriptAppEngine.js:180:22)

[2016-04-27 01:41] cpojer commented on #936
I do believe I understand this quite well. The way babel compiles modules however doesn't make this easier to understand and I understand your confusion. I don't know exactly how this would behave in a real ES2015 environment with modules, mainly because no such environment exists right now (except maybe latest versions of Chrome Canary, which I haven't tried yet). In order to explain what happens

[2016-04-27 02:17] cpojer commented on #204
That's weird, which version of Jest are you using? npm modules should definitely have transitive dependencies unmocked. If that's not the case, then that is a bug (the test for this is passing in Jest right now, though).

[2016-04-27 05:41] keeth commented on #897
Yep, upgrading React Native broke our tests too.. wonder if there are any possible workarounds to get us running again..

[2016-04-27 08:10] flegall commented on #897
As a wordaround we have disabled the react-native tests... I haven't found a smarter workaround.

[2016-04-27 08:11] cpojer commented on #897
Sorry I haven't gotten around to what's going on here yet. We follow the node resolution algorithm so I don't really expect this to happen. I just published Jest 12 – does that version have the same problem?

[2016-04-27 08:34] cpojer commented on #905
I'm fixing this in #941 and for the next Jest release (12.0.1). Would you mind sharing which OS you are using? `childProcess.spawn` isn't throwing for me but I do believe that it can throw.

[2016-04-27 08:34] #905 closed

[2016-04-27 08:40] cpojer commented on #930
Ok, I tried out your gist and can confirm that `jest -i` passes the tests on Jest 12.

I had to add this:

[code]

to the Jest config however. There might be a minor bug there, individual from your issue and I will try to repro that :) Thank you for your patience!

[2016-04-27 08:40] #930 closed

[2016-04-27 08:47] cpojer commented on #930
Oh yeah, that is indeed another bug I accidentally introduced. Fixed in #942 and will go out in 12.0.1. You won't need to add anything to the config then :)

[2016-04-27 09:35] flegall commented on #897
I've switched to Jest 12, it seems to fix the problem both in the showcase and on our project!

[2016-04-27 09:35] #897 closed

[2016-04-27 09:36] cpojer commented on #897
very good! I'll tag 12.0.1 tomorrow with some additional fixes.

[2016-04-27 09:52] cpojer commented on #835
@brentvatne can you retry with Jest 12 and let me know if this is fixed now?

[2016-04-27 09:55] #290 closed

[2016-04-27 09:56] nvdbleek commented on #204
@cpojer It seems to have something to do with running multiple tests in one run. When I run tests individually they work, but when I run all the test suites together it fails depending on the order in which the test run/finish I have different tests failing.

Can it be that when test A requires module X to be mocked (and doesn't specify anything about module X, because mocking is the default) and

[2016-04-27 09:57] cpojer commented on #204
Oh I see. Can you upgrade to Jest 12 and let me know if this problem still persists? We fixed something around this issue :)

[2016-04-27 10:01] nvdbleek commented on #204
thanks, upgrading to Jest 12 now, will revert the workarounds of explicitly calling autmockoff, dontmock and mock, and then report back

[2016-04-27 11:10] nvdbleek commented on #204
@cpojer Thanks! Upgrading from Jest 11 to 12 indeed solved the problem.

[2016-04-27 12:08] audetpascale commented on #930
Hi Christoph, thanks for the responses. I will try in few days. For now, I am out the office ;) Have a good day!

[2016-04-27 12:52] InsidersByte opened #945 "Fix scoped package names in v12"
Hi,

I recently upgraded to Jest v12, but I now get an error (see below).

I tried removing the scoping from my package name and it worked fine.

[code]

[2016-04-27 13:29] 11th commented on #446
It's broken again in v12.0.1
Same error and omitting the scope fixes the problem.

package.json:
`npm run test` fails with
[code]
and runs with:
[code]

[2016-04-27 17:53] syrusakbary commented on #870
Any updates on this?

[2016-04-27 19:08] nbolt opened #946 "cannot read property of undefined"
Trying to get started with jest and getting this error. Any help?

[code]

If I run jest without specifying a file the only output that is displayed is:

`Using Jest CLI v12.0.1, jasmine2`

[2016-04-27 20:00] glenselle opened #947 "Jest fails with scoped NPM packages"
I was trying to setup Jest and it kept throwing a rather cryptic error which I found was related to its `.haste_cache` and the file path. It turns out the file path it was trying to hit was garbled by the name of the project I was working on which uses NPM's scoped packages (`@username/packagename`) as its name. Sure enough, removing the `@username/` portion of the package's name immediately cause

[2016-04-27 20:01] glenselle commented on #947
Apologies, I just saw this is a duplicate issue of #945 -- closing.

[2016-04-27 20:01] #947 closed

[2016-04-27 20:03] glenselle commented on #945
Changing a package from scoped to non-scoped isn't a fix. Some packages have to be scoped because they are internal to an organization.

[2016-04-27 20:12] InsidersByte commented on #945
@glenselle Sorry for the confusion. I wasn't suggesting it was a fix to rename the package from scoped to non-scoped, but that it ran successfully when I made the change. I need it to be scoped as that is the package name I push to npm with. For the meantime I have downgraded.

[2016-04-27 23:30] dmitriiabramov commented on #946
looks like it only appears when running a single test file.
https://github.com/facebook/jest/pull/948 should fix it

[2016-04-28 00:36] grydstedt opened #949 "Async setupFiles"
It would be useful to be able to wait for an asynchronous completion of a setupFiles module before starting tests. Is there a way to do that?

[2016-04-28 00:39] cpojer commented on #949
This is not possible. Can you elaborate on why you'd like to do this?

[2016-04-28 01:17] cpojer commented on #946
Sorry! We now finally have the ability to write integration tests for Jest and we can make sure we won't be breaking this again. I'll tag with a fix 12.0.2 today.

[2016-04-28 01:17] #946 closed

[2016-04-28 02:26] cpojer commented on #446
Fix coming in 12.0.2 in a bit!

[2016-04-28 02:27] cpojer commented on #945
Fix coming in 12.0.2. Sorry about that, we made a large rewrite from 11 to 12 and didn't think about scoped packages unfortunately.

[2016-04-28 02:27] #945 closed

[2016-04-28 05:29] cpojer commented on #870
This doesn't work because ignoring scss from the preprocessor just means that it will not be run through babel-jest. Jest will then try to require the scss file directly and then fail because it isn't valid JavaScript.

There are two solutions:

#### Use the `moduleNameMapper` option and a stub file:
Jest config:
[code]

SCSSStub.js:
[code]

#### Build your own preprocessor using `node-sass`.

I'm

[2016-04-28 05:29] #870 closed

[2016-04-28 07:22] #802 closed

[2016-04-28 07:36] cpojer opened #954 "toBeCalledWith and lastCalledWith should print some of the call values."
This has been confusing to me when using these matchers.

* If a mock function has been called once, instead of "was never called with" we should print the values.
* If a mock function has been called multiple times we should print the value it was last called with and print "And called N-1 more times."

Example Repro:

[code]

[2016-04-28 07:43] grydstedt commented on #949
I see, thanks. Just a an async function that preps the test environment that I can't make synchronous unfortunately.

[2016-04-28 07:55] cpojer commented on #949
I don't think we'll support this as it makes everything dealing with the setup a bit more messy.

The way I would suggest to work around this is something like this in your setupFile:

[code]

This will make everyone of your tests async. If you are not using `pit` you can use `it` instead (by doing `const it = global.it;` beforehand to save the jasmine function before). Then you have to use the `d

[2016-04-28 07:55] #949 closed

[2016-04-28 11:28] petetnt commented on #954
:+1: I had #918 up for a while but had an oversight of only showing the latest one. It would be nice to have a way to show all of the calls (for say debugging purposes) with something like `--verbose` too IMHO.

[2016-04-28 11:41] fterlid opened #955 "jest crashes after upgrade to v12"
After upgrading jest from v11.0.2 to v12, jest crashes immidiately. I'm using a gulp task for running tests. Stack trace:

[code]

Any ideas? The gulp file is unchanged and worked with v11. The gulp task looks like this:

[code]

[2016-04-28 11:45] audetpascale commented on #930
Everything is working. For history purpose, I had to change nothing, I did not add the `babel-polyfill` in the `package.json` and it is working.

[2016-04-28 14:20] seibelj commented on #936
@cpojer Thank you for your detailed explanation. I'm sorry if I offended you with my language, I am very efficient with my engineering writing and I want to get my point across ASAP. To put things into perspective, I spent 5 hours of time trying to understand this issue and wrote 2 detailed comments, then you closed it with a brief message that completely missed the point of both of my statements.

[2016-04-28 14:21] atecarlos commented on #955
There seems to be an expectation of a name property in the config. It eventually ends up as `undefined` which causes this error. Adding a `name` property to your config will let your tests run.

[2016-04-28 15:49] fterlid commented on #955
Great, @atecarlos, thanks! I set `name` to an empty string, and everything seems to work.

I guess there is some documentation and a default value missing.

[2016-04-28 16:56] blainekasten commented on #433
There are so many different issues listed in this ticket that I'm having a hard time following what is actually still a problem.

@cpojer I did make a repo with the one issue I currently still see [here](https://github.com/blainekasten/JestTestCoverageIssue)

The issue i'm still seeing:
* Files not touched by jest aren't reported in coverage

That said, I would gladly enjoy anyone else putting up

[2016-04-28 17:47] nfarina commented on #870
The `moduleNameMapper` solution worked great for me. Here's what I used (took me a while to figure out the magic that would make all imports for SCSS files load the same module):

[code]

[2016-04-28 22:51] fterlid commented on #955
It seems the name property is picked up from the top-level of package.json when the jest config is stored there. When running jest with e.g. gulp or with the --config option, if the name property is not there, it will crash.

Would it make sense to set a default value to name? I'm thinking an empty string would be appropriate.  It looks like it is used as a filename prefix for cache files, so a mo

[2016-04-29 04:10] benmccormick opened #956 "moduleNameMapper errors out and appends `./api` to the path"
I'm currently attempting to use moduleNameMapper to ignore css and less files I'm loading into a React Component file.

The file that I'm erroring on looks like

[code]

My jest config looks like this:

[code]

I've tried multiple different things in the `"(css|less)$": "<rootDir>/util/mock.es6"` line.  They're resolved correctly, but appear to be getting another path appended to them somewhere.

[2016-04-29 12:33] cpojer commented on #870
that's great!

[2016-04-29 12:57] ferrannp opened #960 "Async docs are broken"
Just that: https://facebook.github.io/jest/docs/tutorial-async.html

I ran into the issue of using ```it```and having a false green :(. I saw then that the docs are broken. Anyway, using ```pit```works. I just saw this https://github.com/facebook/jest/issues/928 so I guess it will be 'safer' to use ``ìt``` soon :)

[2016-04-29 13:03] cpojer commented on #960
Thanks. That was a silly bug. The website system apparently tries to evaluate ${userID} in a template literal.

Yes, I think we should remove pit and use it and see how that goes :)

[2016-04-29 13:03] #960 closed

[2016-04-29 21:38] Sh3rawi commented on #919
Im Having this issue with jest-cli 12.0.2.
Unit testing a component that renders an image based on a prop:
``
photoPath() {
  if (this.props.test) {
    return {
      source: require('./img/test.png')
    };
  }
}
``

``
render() {
  <Image {...this.photoPath()} />
}
``

[2016-04-29 22:49] zpao opened #962 "watchman: false in config file not respected (always true)"
Since the CLI defaults `watchman` to `true`[1], this will always override any value specified in the config[2]. Basically the check at [2] should be more nuanced or we shouldn't specify the default values when parsing argv and let it happen where we set other defaults.

[1]: https://github.com/facebook/jest/blob/1d778a1ecc9b910cee721968d8c7d3d20358b3ad/src/cli/processArgs.js#L176-L183
[2]: https:/

[2016-04-30 03:31] cpojer commented on #962
Yes you are right, which is why I removed the config options from the API docs. The next version of Jest will retry a crawl with node instead of watchman if watchman is not available, so this should not be an issue any longer.

We keep the `--no-watchman` flag so that jest doesn't print a silly warning message every time – which should only happen if watchman is available but cannot be used, which

[2016-04-30 03:31] #962 closed

[2016-04-30 03:31] cpojer commented on #962
(the fact that we use configs to transport options is bad and we should rewrite that.)

[2016-04-30 03:32] cpojer commented on #956
Hey! Thank you for opening an issue on the bug tracker. Can you provide a small repository that highlights this bug so we can fix it and add it to our (new!) integration tests? :)

[2016-04-30 05:33] joeldbirch commented on #905
Thanks, I'm using OSX El Capitan 10.11.3.

[2016-04-30 15:04] YPCrumble commented on #152
I wanted a way to simply inspect and debug Jest tests using the command line. Per [this post](https://liusy182.wordpress.com/2015/03/12/jest-how-do-you-debug-it/) I use a slightly different command:
[code]
I can then insert my `debugger;` statement anywhere in my code, and when I run the test I hit `c` until I get to that line. Type `repl` (per [this SO answer](http://stackoverflow.com/a/13926782/

[2016-05-01 11:05] jquense opened #963 "expose other options of resolve, for more complex module resolution"
since y'all are using `resolve` internally to resolve modules why not expose the other options it allows to users, specifically module directories, and paths which should give Jest feature parity with Webpack on the module resolution side making it easier to use both in a project.

[2016-05-01 15:37] chirag04 opened #964 "resolve .native extension when importing modules in react-native"
As per our discussion on discord @cpojer: right now importing relay in react-native tests does not resolve `.native` files correctly. I get ```Cannot find module 'react-dom' from 'relayUnstableBatchedUpdates.js'```

jest should resolve `relayUnstableBatchedUpdates.native.js` in react-native instead of `relayUnstableBatchedUpdates.js`

Current Workaround:
[code]

[2016-05-01 16:33] chirag04 commented on #964
@cpojer not sure if suggested workaround actually works:
[code]

[2016-05-01 21:53] dmnd opened #965 "jest.disableAutoMock() is silently ignored"
I'm using jest-cli 12.0.2 and babel-jest 12.0.2.

In a test, I wrote `jest.disableAutoMock()` (i.e. uppercase `M`) when the actual API is `jest.disableAutomock()` (lowercase `m`). Surprisingly, I didn't get an error. Instead, it seems like test ran as if that line wasn't present.

Ideally, jest would throw an error if I try to call something incorrectly. I briefly tried `jest.definitelyNotThere()`

[2016-05-02 17:02] zpao commented on #962
You're the one who used the config and not the command line flag 😛 https://github.com/facebook/react/commit/681a463240550b337aacaa889d7b240045439e1b

I think the problem actually becomes worse than just a passive warning. For me I was getting the "no watchman found" error from sane and then it would just stop running.

[2016-05-03 01:04] dmitriiabramov commented on #965
hm... i just tested it and it threw an error
this is how i tried to replicate it
https://github.com/dmitriiabramov/jest/blob/errors_outside_tests/__integration_tests__/errors_outside_tests/__tests__/test.js
https://github.com/dmitriiabramov/jest/blob/errors_outside_tests/__integration_tests__/__tests__/errors_outside_tests-test.js

[2016-05-03 05:05] andrewmclagan opened #966 "[jest-12.x.x] Failed to get mock metadata: core-js"
When running my tests recieving this error:

	 FAIL  src/components/common/user/UserMenu/__tests__/UserMenu.test.js
	● Runtime Error
	Error: Failed to get mock metadata: /redacted-directory/node_modules/core-js/library/modules/_global.js

	See: http://facebook.github.io/jest/docs/manual-mocks.html#content
	    at Object.<anonymous> (/redacted-directory/node_modules/core-js/library/modules/_shared.

[2016-05-03 05:10] andrewmclagan commented on #966
⚡ npm --version

[2016-05-03 06:19] cpojer commented on #966
Are you using babel-jest as well? Does it get printed when you run Jest?

As a workaround you can add "node_modules/core-js" to the unmocked patterns.

[2016-05-03 06:24] andrewmclagan commented on #966
yeah using `babel-jest` @ "^12.0.2"

I added core-js to the list previously. Although its throwing:

    TypeError: Cannot read property 'apply' of undefined

Am i correct in assuming this is some kind of babel related issue. Having trouble diagnosing it...

[2016-05-03 06:43] dmnd commented on #965
@dmitriiabramov try renaming `_nonExistingFunction_` to `disableAutoMock`

[2016-05-03 08:27] cpojer commented on #966
There was a small bug similar to your initial description in Jest earlier. It was fixed in 12.0.2 - are you sure you tried the latest version?

[2016-05-03 13:58] cpojer commented on #965
Did your test actually pass or did it fail with a runtime error? I'd expect it to fail in some way while it imports some modules that cannot be auto-mocked. Because you have a typo in the function name, it wouldn't hoist the disableAutomock call and therefore happen after the imports, when another failure has already happened.

[2016-05-03 14:02] cpojer commented on #966
I'm gonna close this for now because I don't believe there is a Jest bug here. core-js should be automocked as a polyfill when used with babel-jest. I just re-tried the react example in the examples folder with the latest version of babel and core js and everything works fine.

Happy to reopen if you have a repro. If you can provide a repository where I can highlight this issue with an `npm instal

[2016-05-03 16:10] dmnd commented on #965
@cpojer ah, you're correct. Sorry about reporting it was "silently ignored". I guess I got confused by hoisting. But there is indeed a runtime error!

I suppose the options for this issue are either:

* just close it, or
* add a warning/error to the transform when jest functions have incorrect case

[2016-05-03 20:40] brentvatne commented on #835
Yes @cpojer this works great now! Thanks :heart:

[2016-05-03 20:40] #835 closed

[2016-05-04 02:54] minhyeong-kim opened #967 "Unwanted external script are covered."
My project has dependency for external script file. so i add it to `configure.setupFiles` property. see below.

[code]

The problem is, code-snippet.js covered by jest coverage features.

![2016-05-04 11 51 41](https://cloud.githubusercontent.com/assets/12269564/15004169/9990f7a0-11ee-11e6-98e4-0449ffc80f76.png)

Modules in 'node_modules' are properly ignored. but modules in 'bower_component' are

[2016-05-04 02:59] minhyeong-kim commented on #200
+1

[2016-05-04 07:01] andrewmclagan commented on #966
Okay i will investigate further and return :-)

[2016-05-04 07:43] andrewmclagan commented on #966
Okay, I have more information.

When the component under test is declared as such:

	import React, { PropTypes } from 'react';

	export default class UserMenu extends React.Component {

		// ...

everything is fine :-) Although when the component is declared like so:

	import React, { Component, PropTypes } from 'react';

	export default class UserMenu extends Component {

		// ...

We get the cor

[2016-05-04 08:18] ecoleman commented on #966
I had this issue, and believe I tracked it down somewhat.. I have:

- `"babel-plugin-transform-runtime": "^6.7.5"` in my package.json
- babel-plugin-transform-runtime@6.8.0 installed
-`transform-runtime` listed in my babelrc

After removing the plugin from babelrc, and running `jest --no-cache` everything was working.

[2016-05-04 10:49] andrewmclagan commented on #966
Personally i would really like to be using `transform-runtime` until webpack 2 is usable, with tree shaking.

[2016-05-04 13:15] andrew-w-ross opened #968 "Module does not have filename set"
A module I depend on uses [https://github.com/indexzero/node-pkginfo](pkginfo) that breaks because `module.filename` is not set.

Any reason why `module.__filename` is set but not `module.filename` as [per the node docs?](https://nodejs.org/api/modules.html#modules_the_module_object)

[2016-05-04 15:26] AlexCppns opened #969 "'jest.unmock is not a function'"
I run:

```npm test```

I get ```jest.unmock is not a function```

I use the example on https://facebook.github.io/jest/docs/tutorial-react.html

my package.json file:

[code]

[2016-05-04 20:28] #969 closed

[2016-05-04 23:11] cpojer commented on #966
If you unmock the path to transform runtime in the unmock patterns it should work. We don't currently special case it like we do with the polyfills but maybe we should.

[2016-05-04 23:22] andrewmclagan commented on #966
ok i will do that, although +1 for the exception moving forward.

[2016-05-04 23:45] dmitriiabramov commented on #928
https://github.com/facebook/jest/pull/970
this PR can slow down performance, because i had to make every `it` async (we don't know what's returned until we actually run the test). But i don't think it'll make it any slower. I have not tested it yet.

[2016-05-05 01:51] andrewmclagan commented on #963
Encountering similar issues. AKA importing with lastest ES syntax as such:

`import { IsolatedComponent } from 'components';`

How do we get jest to `unmock()` a component such as this?

[2016-05-05 11:38] richtier opened #971 "`TypeError: Cannot read property 'foo' of undefined` when using es6 imports"
Take the following test:

[code]
Which tests the following code:
[code]

This results in error in  Tracker.js: `TypeError: Cannot read property 'functionCalledByFunctionUnderTest' of undefined`

When I change the es6 imports to `require`, in `Tracker.js`, the test passes.

pakage.json includes:

[code]

my library versions are:

"jest-cli": "^12.0.2",
"babel-jest": "^12.0.2",

Has anyone seen this

[2016-05-05 14:33] cpojer commented on #971
Short answer because of vacation, but use babel-jest and jest.unmock instead of dontMock and it will work. More info can be found on the website and in the latest blog post.

[2016-05-05 21:17] richtier commented on #971
thanks. I made those changes and there was some progress - now the tests files were failing with the same `Cannot read property 'foo' of undefined` erorr - but now instead in the test file rather than the file under test.

I worked around this by explicitly exporting a default object containing all the exported functions in the relevant files - so:

[code]

The tests then work, and the assertions

[2016-05-05 21:36] julioahurtado commented on #861
@ehrudxo any update on this problem? I currently am receiving the same error when I add Realm to my project.

[2016-05-06 02:02] andrewmclagan opened #972 "[docs] ES6 Import patterns and relative paths"
**This is most likely not and issue and just needs more documentation?**

I list my components under relative paths such as: `src/components/index.js` with `NODE_ENV=./src` making the following possible: `import { MyComponent } from 'components';`

When the component under test includes another sub-component from `index.js` Jest throws various errors as it steps into the `index.js` file and picks

[2016-05-06 03:52] andrewmclagan opened #973 "TypeError: Cannot read property 'actionTypes' of undefined"
This is possibly related related to `babel-jest` settings, although I'm unable to debug the issue.

When importing a react component `redux-form` we are receiving the following error in our test:

	FAIL  __tests__/FormComponent.test.js
	● Runtime Error
	TypeError: Cannot read property 'actionTypes' of undefined
	    at Object.<anonymous> (/--REDACTED--/jest-react-example/node_modules/redux-form/li

[2016-05-06 04:04] andrewmclagan commented on #973
Just pushed a branch `no-stage-0` to isolate the issue further and still no luck.

https://github.com/andrewmclagan/jest-react-example/tree/no-stage-0

[2016-05-06 04:06] andrewmclagan commented on #971
+1 cant seem to work out how jest handles default exports

[2016-05-06 04:09] andrewmclagan commented on #972
could be related to https://github.com/facebook/jest/issues/973 and default exports?

[2016-05-06 06:01] andrewmclagan commented on #972
Going

[2016-05-06 07:18] cpojer commented on #972
Can you provide a repository that highlights this issue? I'll take a look asap next week when I return from my vacation.

[2016-05-06 13:03] ColCh opened #974 "Error: Cannot find module 'ErrorUtils' from 'env.js'"
React-native v0.24, jest v12
[code]

The error is from this line:
[code]
Introduced by this commit in react-native: https://github.com/facebook/react-native/commit/b84ad2ab0da26d8285986a4519b2d824f520ce65

[2016-05-06 13:23] ColCh opened #975 "Process out of memory, on multiple jest versions"
Our codebase is not that huge. Around 50 small modules.

This error pops up when running jest with or without coverage.

Testing all modules (command: just a `jest`)
[code]
(`JS stacktrace` is null...)

I'm using node v5.10.1.
I tried jest@12, jest@11, jest@0.9

It runs well when executing files one by one, but running on all tests it blows up.

Node process consumes aroung 1G of mem.

[2016-05-06 22:35] cpojer commented on #975
Brief reply because I'm on vacation: it is likely your unit tests set up some expensive listeners and they aren't being cleaned up properly. The memory use between 0.9 and 12 did not change significantly.

Is this with or without coverage? Coverage is currently a bit unoptimized and we are planning to fix it soon.

Do you have any code you could share that reproduces this problem so we can make su

[2016-05-07 03:17] chirag04 commented on #964
@cpojer thoughts?

[2016-05-07 19:18] ravilution opened #977 "Jest + Supertest + Restify not working"
node 5.4.1
jest-cli ^12.0.2
restify ^4.0.4
supertest ^1.2.0

I want to use Jest to do backend nodejs REST API testing also. I do not want to install another test tool like mocha etc.

[code]

In above code `appServer` returns a restify server instance. I am using `supertest` because I want to do code coverage as well. But I get below error.

[code]

[2016-05-07 20:08] 5amfung opened #978 "How to resolve TypeError from automock?"
I have a simple test to instantiate a redis client using the auto mock.  But I would get the following error.  Not sure what I need to do?

```TypeError: Cannot read property 'prototype' of undefined```

[code]

[2016-05-08 15:35] duongphuhiep commented on #905
In one of my project, I've got the same problem with jest-cli 12.0.2 on Ubuntu 14.04

`jest --watch` don't run any test, each time it detect change, it only print
[code]
the work-around is `jest --watch=all`

But if I start with a small project `jest --watch` work well! no idea what could kill `jest --watch`?

[2016-05-09 00:16] cpojer commented on #964
Hey! I think it should be something like `^\.\/relayUnstableBatchedUpdates$` instead because of how Relay transforms their require statements.

We should probably add support for resolving `.native` files. Personally the platform extension files (and .native extensions) are kind of annoying and I'm hoping that we'll get rid of them for react-native eventually (in favor of inline `if (Platform.ios)

[2016-05-09 01:36] cpojer commented on #936
I agree it would be useful to be able to do this, but there isn't a good way in JS to do it without (probably slow) static analysis upfront :(

[2016-05-09 01:40] cpojer commented on #905
@duongphuhiep the issue you might be experiencing is that `jest --watch` by default runs tests related to changed files that have not been committed. If it works for small projects but not for bigger ones the problem might be either that the dependency graph that is being built is not entirely correct or that your setup is weird. If you could share an example repo where `jest --watch` does not wor

[2016-05-09 02:26] jcowgar opened #979 "Endless testing loop when using --watch and --coverage together."
It's just a guess, but I'm assuming that once the tests are complete, writing the coverage files causes a file system change and jest starts the test cycle over again. So, in the end, you run with these parameters, change some of your code, save, then jest tests, writes coverage, tests, writes coverage, etc... and it never stops. You have to kill the process.

[2016-05-09 07:39] cpojer commented on #978
If you are trying to create a redis client that is mocked, you have to create a manual mock for it. Auto mocking can only go so far as to create automatic interfaces. When calling those functions, they will return undefined. However, you can implement custom implementations, like:

[code]

Note that the mock implementation depends on your needs and how full of a mock you'd like to create. Based on

[2016-05-09 07:39] #978 closed

[2016-05-09 07:41] cpojer commented on #977
Thank you for reporting this issue. Do you use mocking or is mocking disabled? If you'd like to test your modules/components "supertest" and "appServer" you'll have to unmock them first:

[code]

[2016-05-09 07:41] cpojer commented on #977
Oops, wrong button, reopening :)

If you can't figure it out, can you provide a repository that points this issue out so I can take a closer look? Thank you :)

[2016-05-09 10:28] StephanBijzitter commented on #433
I am also having trouble with v12.0.2, I will create an open-source example to reproduce.

[2016-05-09 10:45] StephanBijzitter opened #980 "Coverage is not generated inside a Vagrant virtual machine"
Our setup works on any local machine, OS X or Windows, without any issues.
However, we always prefer to use our virtual machine to develop on, as it's configured just like our live servers. Sadly, coverage is not generated (and it appears that tests are not even executed) when running on Vagrant. All other Jest functions (or at least the ones we make use of) do work as expected.

When running on V

[2016-05-09 13:44] ravilution commented on #977
Below is my jest config in package.json

"jest": {
    "automock": false,
    "bail": true,
    "collectCoverage": true,
    "moduleFileExtensions": [
      "js"
    ],
    "scriptPreprocessor": "./node_modules/babel-jest",
    "testFileExtensions": [
      "js"
    ],
    "testPathDirs": [
      "./client/src"
    ],
    "testPathIgnorePatterns": [
      "/node_modules/",
      "/server/"
    ]

[2016-05-09 13:45] ravilution commented on #977
Have you reopened? It still says closed.

[2016-05-09 13:46] chirag04 commented on #964
oh ya. i forgot to check the transpiled source. now it works. Thanks.

[code]

Libraries would have to assume global `Platform` to be available in that case. `.native` is probably better than assuming global `Platform` to be available in other environments?

[2016-05-09 15:42] ravilution opened #982 "Jest + Supertest + Restify not working"
@cpojer Reopening the accidentally closed https://github.com/facebook/jest/issues/977

node 5.4.1
jest-cli ^12.0.2
restify ^4.0.4
supertest ^1.2.0

I want to use Jest to do backend nodejs REST API testing also. I do not want to install another test tool like mocha etc.

[code]

In above code `appServer` returns a restify server instance. I am using `supertest` because I want to do code coverage as

[2016-05-09 16:24] janaz commented on #980
I have a similar issue. In my case jest 12.0.2 is also working fine in OSX, but fails to run any test inside a Docker container (ubuntu-16.04). The last working version was 11.0.2.

[2016-05-09 17:57] DaveMBush commented on #817
I finally came up with a solution which you can read about here http://blog.dmbcllc.com/es2015-code-coverage-and-jest-react-js-unit-testing/

[2016-05-09 19:18] dbuarque commented on #974
1+

[2016-05-09 21:09] StephanBijzitter commented on #87
Hmm, interesting. I also noticed this and was quite frustrated before I found out it was an issue related to Vagrant instead of my setup. Will try to provided solutions and get back.

[2016-05-09 22:28] cpojer commented on #977
I boarded a long distance flight and my internet was cut-off before I could reopen this issue.

[2016-05-09 22:28] cpojer commented on #982
Reopened #977.

[2016-05-09 22:28] #982 closed

[2016-05-09 22:30] cpojer commented on #980
Is there an easy way to reproduce this kind of environment so I can fix this? :)

[2016-05-09 23:00] cpojer commented on #980
Can you try to change https://github.com/facebook/jest/blob/master/packages/jest-haste-map/src/index.js#L296 to do `maxWorkers <= 1` instead and see if it works?

[2016-05-09 23:14] janaz commented on #980
Thanks @cpojer. I'm going to try changing this file. If it doesn't help I'll provide instructions on how to reproduce it.

[2016-05-09 23:17] janaz commented on #980
I can confirm that changing the line 296 to `maxWorkers <= 1` fixed my issue

[2016-05-09 23:28] cpojer commented on #980
I published a PR with this fix and will try to ship a new version of Jest sometime this week when I have overcome my jetlag and I'm sure I won't be doing anything silly ;) I suggest using the patch provided or downgrading to 11.0.2 for now until 12.0.3 is out sometime later this week.

[2016-05-09 23:29] cpojer commented on #980
Ah, I'll keep it open until I publish the new version :)

[2016-05-09 23:47] cpojer commented on #971
@richtier unmock is not deep. It seem to me like you'll have to also unmock your `Constants` and `Helpers` modules.

@andrewmclagan @richtier
The way imports/exports work is based on how babel implements them and has nothing to do with Jest. If you use import and export on both sides, it will just work as you expect. If you use `export default` on one side, and require on the other, you'll have to

[2016-05-09 23:47] #971 closed

[2016-05-10 00:00] cpojer commented on #968
Yes that seems like a bug. We'll fix it for the next release.

[2016-05-10 00:02] cpojer commented on #972
I don't understand how you are using the `NODE_ENV` variable. It is supposed to contain values like `production` or `dev` or `test`. Jest actually sets it if it isn't explicitly specified and it is what makes `unmock` work together with `import`. If you set it to a path, it will not work properly with Jest.

If this turns out to be a Jest issue after fixing your setup, please provide a repository

[2016-05-10 00:02] #972 closed

[2016-05-10 00:03] cpojer commented on #965
@dmnd I think we should error in the transform when incorrect casing is detected. Would you like to send a PR for this feature? The transform code is pretty simple and can be found here: https://github.com/facebook/jest/blob/master/packages/babel-plugin-jest-hoist/src/index.js – simply doing a case-insensitive check first and throwing if the case-sensitive check for the method names doesn't match

[2016-05-10 00:05] cpojer commented on #954
@petetnt would you mind taking this back on and sending another PR? I think as a start showing the last N calls (3 is a good number!) + the number of overall calls would be very helpful.

[2016-05-10 03:49] janaz commented on #980
@StephanBijzitter: Does the fix solves your issue as well?

[2016-05-10 04:43] andrew-w-ross commented on #968
Thanks @cpojer

[2016-05-10 04:54] janaz commented on #980
I think the proper fix should be around those lines: https://github.com/facebook/jest/blob/master/packages/jest-cli/src/jest.js#L41-L42

When `os.cpus().length` is `1`, the `options.maxWorkers` will be set to `0`.

Thanks to the above method, I realised that a workaround can be applied by specifying the `-w` param in the command line: `./node_modules/.bin/jest -w 1`

[2016-05-10 06:23] StephanBijzitter commented on #980
@janaz It seems then that this issue is a duplicate of #87 and this is a regression, instead of a new bug.
@cpojer unit testing should definitely cover this scenario.

I will have an open-source example of this soon-ish, will check if it solves my issue when I arrive at the office, as I'm on a train right now and the connection is quite horrible.

[2016-05-10 06:24] petetnt commented on #954
@cpojer Sure thing, I'll put in another PR soon(ish) 👍

[2016-05-10 06:56] StephanBijzitter commented on #817
@cpojer Could you also take a look at this? :-)

[2016-05-10 07:43] craigdallimore opened #985 "Adding `--noStackTrace`"
It appears that adding `--noStackTrace` does not suppress the stack trace - at least I presume I should not get so much output when using this feature. Sometimes I get over 100 lines of logging, which puts the details of the failing test off my screen - so I'm interested in reducing the noise somehow.

### Details

`"jest-cli": "^12.0.2"`

from `package.json`:
[code]

from `.babelrc`:

[code]

[2016-05-10 10:38] DaveMBush commented on #817
I would have submitted a pull request, but I'm not sure this is the BEST way of fixing this issue.

[2016-05-10 11:00] StephanBijzitter commented on #817
Well the only thing that's holding me back is the use of transform-runtime

[2016-05-10 11:18] DaveMBush commented on #817
Why?

[2016-05-10 17:09] cpojer commented on #817
It seems to me like these are things that should be fixed in babel instead of in Jest.

[2016-05-10 17:22] ColCh commented on #975
Thanks for your answer. Sory for delay.

OOM - with coverage collection and without it

At first step I will try to profile my code for myself. May be I have memory leak in my code? Or Images can consume a lot of memory?

[2016-05-10 17:24] cpojer commented on #975
I'm pretty sure you aren't loading any images in Jest, are you? :)

While Jest could be better with memory use, it is very likely that your tests are for some reasons not being torn down properly and retaining module code that are being required.

[2016-05-10 17:32] ColCh commented on #975
Images are mocked, right? We leaved this behaviour by-default.

I see also adding `lodash@4` dep in new piece of code in my PR (which blows OOM). This can't be a reason too... Another stuff is just refactoring.

App itself consumes 108MB of RAM, according to iPhone 6s Plus simulator.

This iissue becomes pretty interesting, let me digg into jest with profiler...

[2016-05-10 18:00] tommyJS opened #986 "Automocking does not work with Enzyme"
You can see that in this example:
https://github.com/tommyJS/react-relay-redux-example.git

Just invoke `npm install` and `npm run test` and the test will pass. Then check `app/__tests__/App-spec.js` and you will see that it should not pass, because there is no `jest.unmock('../App')`.

Why it works? Is it a bug in Jest?

[2016-05-10 18:11] ColCh commented on #975
@cpojer okay. Nothing to see, just a infinite `while` loop 😂
I'm sorry, nothing is wrong with `jest` itself. Closing issue now.

[2016-05-10 18:11] #975 closed

[2016-05-10 20:02] petetnt commented on #954
Filed the PR as #987 🎆

[2016-05-10 21:03] dmitriiabramov opened #988 "ReactNative jest setup throws when i follow the docs"
https://facebook.github.io/react-native/docs/testing.html

![screen shot 2016-05-10 at 2 01 45 pm](https://cloud.githubusercontent.com/assets/940133/15162457/dc20efa8-16b7-11e6-8c16-58b64df746e5.png)

`(/Users/dabramov/p/CalendarPicker/node_modules/react-native/jestSupport/env.js:22:28)`

<img width="675" alt="screen shot 2016-05-10 at 2 02 07 pm" src="https://cloud.githubusercontent.com/assets/94

[2016-05-10 23:34] StephanBijzitter commented on #817
@DaveMBush It seems I was misinformed about the runtime transforms, as I just read the documentation again and it seems pretty good for my use-case.

I do agree with @cpojer that Babel should handle this better. I'll create an issue there and link to this one for reference.

[2016-05-11 00:04] cpojer commented on #817
Also happy to help talk to people on the babel side about this. Both issue seem to be simple fixes in Babel, so it should be easy to get them in.

[2016-05-11 00:15] cpojer commented on #975
Well, glad Jest could help find some issues with your code! :D

[2016-05-11 05:13] Chris-Petty commented on #861
I also am running into this issue. @julioahurtado check out [this issue](https://github.com/realm/realm-js/issues/370) on the realm git, might be something there for you. If you do figure it out let me know 👍

[2016-05-11 11:07] DaveMBush commented on #817
I'll help where I can.  I'm still wrapping my head around React/Jest so I just didn't have time to try to figure out Babel and Syntax trees enough to build a Babel generic fix.  I hope my article gives enough information that someone who understands Babel better can apply a generic enough fix.

[2016-05-11 17:04] richtier commented on #971
@cpojer thanks for the tips.

FWIW I'm no longer using require - now using es6 import. I'm seeing this behaviour across both `require` and `import`. I will look towards babel for the answer :)

[2016-05-11 18:30] cpojer commented on #971
Can you share a repository that highlights the issue that you are running into? I'm pretty sure there is just some confusion going on here about automocking and it should be resolved easily :)

[2016-05-12 01:13] #954 closed

[2016-05-12 02:34] cpojer opened #993 "[Coverage] Merge coverage info after each test"
Right now we generate coverage and merge it back into the results object at the end after a test run. This has two disadvantages:

* Coverage data is massive and requires a lot of memory
* We take a significant amount of time to do this at the end of a test run

by merging coverage info after each test we can avoid both of these issues.

[2016-05-12 02:34] cpojer commented on #993
cc @clentfort who expressed interest to help out a bit.

[2016-05-12 04:01] cpojer commented on #986
You are unmocking `react` here: https://github.com/tommyJS/react-relay-redux-example/blob/master/package.json#L129 but that actually unmocks everything that has react in its path, including `reaction.js` or `react-example/App.js`.

See http://facebook.github.io/jest/docs/tutorial-react.html#setup on how to properly do it :)

[2016-05-12 04:01] #986 closed

[2016-05-12 05:43] cpojer commented on #985
I'll fix this for the next version of Jest :)

[2016-05-12 06:28] cpojer commented on #985
Going to close this out in favor of the pull request. The new Jest release will come out soon.

[2016-05-12 06:28] #985 closed

[2016-05-12 07:37] clentfort commented on #993
I guess a good starting point for this might be [`packages/jest-cli/src/reporters/IstanbulTestReporter.js`][istanbul-reporter].

But there is a lot of code around for coverage and I'm not even sure if all related code is still alive. I.e in [`packages/jest-cli/src/Runtime/Runtime.js#getAllCoverageInfo`][runtime] should always return `Object {}` since `this._coverageCollectors` is initialized as [`

[2016-05-12 09:40] ScottMaclure opened #998 "coverage outputting some html files in src directory"
Reproducible on two win 10 machines (desktop + laptop)

* Windows 10
* git bash or command prompt (same result)
* node v6.0.0
* jest-cli v12.0.2

[code]

Branch is here:
https://github.com/ScottMaclure/sotdl-chargen/tree/1_test_suite

Will add more details here as I find them.

[2016-05-12 09:52] tommyJS commented on #986
Thank you for the interesting mark. I was just basing on the example from Enzyme:
https://github.com/airbnb/enzyme/blob/master/docs/guides/jest.md

I tried to apply your solution. Please take a look at: https://github.com/tommyJS/react-relay-redux-example/blob/master/package.json#L129
Bear in mind that I had to unmock `react-relay`, as I am using it. Actually I had to unmock also `core-js`, but I

[2016-05-12 10:13] anshupitlia commented on #686
is it fixed now??

[2016-05-12 10:50] sanmahad opened #999 "Is there a compatible version of Jest-CLI for node version 0.12.7?"
Hi,

Unfortunately my project is running on node - 0.12.7 and npm - 2.11.3. I see the Jest-CLI is supported from node >= 4.

Just wanted to know if there is a compatible version for my environment?

Thanks
Sandeep

[2016-05-12 17:07] #968 closed

[2016-05-12 17:09] ColCh commented on #980
Same error on our Ubuntu CI server.
Solved with a flag `--runInBand`, passed to jest.

Thank you guys for this issue, it helped me 👍

[2016-05-12 19:35] rbalicki2 commented on #10
Please please please enable tests in the same folder as the source file!

[2016-05-12 19:54] cpojer commented on #955
We fixed this for the next release :)

[2016-05-12 19:54] #955 closed

[2016-05-12 20:19] cpojer commented on #999
Sorry, no there is no compatible version of Jest for node 0.12. We jumped straight from 0.10 to iojs and then node 4-6. I recommend trying to use node 4+ anyway for your tests – if you depend on native modules you can mock them using Jest's automocking feature :)

[2016-05-12 20:19] #999 closed

[2016-05-12 20:20] cpojer commented on #993
It seems like we are already adding coverage information here: https://github.com/facebook/jest/blob/master/packages/jest-cli/src/reporters/IstanbulTestReporter.js#L25

but we also have `formatTestResults` for JSON printing, which is why we need to retain them. I'd like to take coverage off individual test results and get rid of them after processing them in the IstanbulTestReporter and potentiall

[2016-05-13 02:50] cpojer commented on #998
thanks for bringing this up. Unfortunately Windows support for Jest is mostly self-service – we don't have the resources to support this at FB. If you'd like to dig into this, I'm pretty sure this must be an istanbul bug and it isn't a Jest bug because we don't write these files. We call istanbul's writer here: https://github.com/facebook/jest/blob/master/packages/jest-cli/src/reporters/IstanbulTe

[2016-05-13 02:50] #998 closed

[2016-05-13 02:51] cpojer commented on #974
Can you try adding this: https://github.com/fbsamples/f8app/blob/master/package.json#L51-L60 to your Jest config? That should work.

The docs in react-native about Jest testing are unfortunately entirely outdated and no one is bothering to update them :(

[2016-05-13 02:52] cpojer commented on #921
Can you try adding this: https://github.com/fbsamples/f8app/blob/master/package.json#L51-L60 to your Jest config? That should work.

The docs in react-native about Jest testing are unfortunately entirely outdated and no one is bothering to update them :(

[2016-05-13 02:52] cpojer commented on #974
Closing as duplicate of #921.

[2016-05-13 02:52] #974 closed

[2016-05-13 02:53] #899 closed

[2016-05-13 02:54] cpojer commented on #841
I'm going to close this because we can't reproduce this unfortunately. If this is just an issue with the reporter it might be a bug in istanbul. I'm happy to reopen if you can provide a sample repository where we can run Jest and try to reproduce the issue :)

[2016-05-13 02:54] #841 closed

[2016-05-13 02:56] cpojer commented on #862
Closing this because there has been a month of inactivity. Happy to receive pull requests for this if anyone is interested in working on it.

[2016-05-13 02:56] #862 closed

[2016-05-13 03:00] cpojer commented on #200
I'm going to close this because it is unlikely we'll add this to Jest any time soon. Of course, if anyone wants to build this, I'm very happy to reopen this and accept pull requests.

At Facebook we solve this kind of stuff during code review on a social level. We also do have a coverage reporter (in PHP that takes info from JS) that reports that the coverage of certain files is 0 % – however that

[2016-05-13 03:02] cpojer commented on #651
This should no longer be an issue. With the latest version of Jest you might have to add this to a react-native project: https://github.com/fbsamples/f8app/blob/master/package.json#L51-L60

[2016-05-13 03:02] #651 closed

[2016-05-13 15:30] yaycmyk opened #1003 "Figure out how to make rewire work"
Testing ES6 modules can difficult since the exports are considered immutable. I was attempting to use the https://github.com/speedskater/babel-plugin-rewire as a way to get around this, but it doesn't seem compatible with how Jest works.

For example, I'm wildcard importing actions like so:

[code]

And then want to set a mock on `actions.getSearchRoute`, but can't since that resolution seems to h

[2016-05-13 16:08] blainekasten commented on #899
My bad. Went afk on this one. I'll try to remember to test this later

[2016-05-13 17:05] felixheck commented on #841
![bildschirmfoto 2016-05-13 um 19 03 12](https://cloud.githubusercontent.com/assets/14093205/15255619/6e24c5e6-193d-11e6-818b-eeb013e657d7.png)

Here's your minimal working example :)
Just run `npm install && npm test` and open the HTML coverage report.

[Minimal Working Example – Repository](https://github.com/felixheck/fb-issue-841)

[2016-05-13 18:44] rbalicki2 opened #1004 "preprocessorIgnorePatterns should not have forward slashes around it"
`preprocessorIgnorePatterns: [ '/node_modules/' ]` (the default) does not work, but `preprocessorIgnorePatterns: ['node_modules']` does.

Happy to make a PR, but `constants.NODE_MODULES` is used throughout the rest of the code, so it might take me a bit of time to grok the code and understand the changes I'd need to make.

-R

[2016-05-13 18:44] rbalicki2 commented on #870
preprocessorIgnorePatterns does not need slashes around the entries. It should work with `.scss$`

[2016-05-13 19:03] cpojer commented on #1004
Why would it not work?

[2016-05-13 20:46] rbalicki2 commented on #1004
I assume that what's happening under the hood is `config.processorIgnorePatterns.map(pattern => new RegExp(pattern))` but `new RegExp` doesn't want forward slashes.

e.g. `a = new RegExp('/abc/'); a.exec('abc') === null`

[2016-05-13 20:48] cliedeman commented on #921
I have a working sample [here](https://github.com/cliedeman/jest_test)

Its pretty rough, I just used it to make sure I could get some fetch async tests working that also retrieve values from AsyncStorage. Also it only works with react-native >= 0.22

@slamus In short the preprocessor is not needed if you the correct .babelrc and babel-jest setup correctly but you do need an env like the one I cre

[2016-05-13 23:45] cpojer commented on #921
@cliedeman the correct solution is to provide a new setup file and config example for Jest that works well  with react-native. If you'd like to send a PR to react-native and fix the docs, that would be fantastic and well appreciated!

[2016-05-13 23:53] cpojer opened #1006 "Add a proxy "jest" package."
We now own the "jest" package on npm. Let's add a proxy package that installs `jest-cli` and adds the runner that forwards to jest-cli's runner.

[2016-05-14 01:24] duongphuhiep commented on #905
thanks @cpojer: `jest --watch` is now working as expected on my big project.
I didn't change anything in the config. I only remember running `jest --no-cache` several times before discovering that `jest --watch` was working again..

[2016-05-14 03:58] ravilution commented on #977
@cpojer Any updates?

[2016-05-14 03:59] cpojer commented on #977
No, you haven't provided a full repository that highlights this problem so there is no way for me to confirm your issue.

[2016-05-14 05:29] ravilution commented on #977
Below is the code. I did not want to create a repo for two files. Please try and let me know

**./package.json**
[code]

**./__tests__/index-test.js**
[code]
**Error Message**
[code]

[2016-05-14 06:57] cpojer commented on #964
`.native` will be supported in the next version of jest. See #1007. I'll close this issue and we can continue the discussion on the pull request.

You'll need to add this to your configuration:
[code]

You can expect this feature to go out in Jest 12.1.0 soon (next week :) ).

[2016-05-14 06:57] #964 closed

[2016-05-14 07:00] cpojer commented on #1003
I don't quite understand what you are trying to do. When exactly do you want `actions.getSearchRoute` to be mocked? Can you expand on your example?

If you need one module mocked and another one uses those methods, I would recommend just dropping down to require instead. That works well.

I currently see no way to make this work using babel's modules. I'll close this because it isn't actionable fo

[2016-05-14 07:00] #1003 closed

[2016-05-14 07:04] cpojer commented on #973
It's likely because your setup is slightly wrong: https://github.com/andrewmclagan/jest-react-example/blob/no-stage-0/package.json#L22 here you should add a slash at the end: `node_modules/react/` otherwise `react-redux` will also be mocked because this config option is just matched against the paths of all files.

Happy to reopen if this doesn't turn out to be the actual issue.

[2016-05-14 07:04] #973 closed

[2016-05-14 08:55] spicyj opened #1008 "Test not found with direct path"
In the react repo,

[code]

does not find any tests, but

[code]

finds that test in src/. rootDir is '', not src. Any ideas? Sorry if this is our misconfiguration but I think this only started with the last jest upgrade.

[2016-05-14 09:36] cpojer commented on #1008
I just noticed this as well and snuck a fix into #1007: https://github.com/facebook/jest/pull/1007/files#diff-01c39670fbe12c47eaa0c31e8bdcbc22R120

Sorry for the issue, it'll be fixed in the next Jest update next week :)

[2016-05-14 09:36] #1008 closed

[2016-05-14 09:41] spicyj commented on #1008
Confirmed that changing [pattern] to [maybeFile] there fixes it. I patched my local copy so I'm good now. :) Thanks for the quick help.

[2016-05-14 20:45] AngeIII commented on #250
@timarney any updates on that? I also have getting null

[2016-05-15 00:02] timarney commented on #250
See - https://github.com/facebook/react/issues/3151#issuecomment-74943529

[2016-05-15 16:53] bbrock25 commented on #921
if @cliedeman doesn't have time for this, I could take a stab at putting together the docs. Thanks for the clarification on the setup. Testing RN apps could use a lot more documentation.

[2016-05-15 22:00] muratgozel opened #1010 "Testing Rethinkdb CRUD Operations"
I have created a class called `AddUserToWaitlist` that takes user's email address from the input in the react component and inserts it to the waitlist table in the rethinkdb database. It also returns a callback function which `callback(userid)` if the operation was successful.

`AddUserToWaitlist` is my first class to begin using Jest. I wrote a small test function as follows (i am not sure this i

[2016-05-16 10:29] richtier commented on #971
@cpojer sure, will create one tonight.

[2016-05-16 13:04] psalz opened #1011 "Manual mock for node module not found if testPathDirs is set"
While browsing the issues I found several remarks that `testPathDirs` is poorly named will be changed in the future. Still, I'd like to share a problem that tripped me up yesterday:

It appears that when `testPathDirs` is set, manual mocks for node modules will not be found by Jest, unless the top-level `__mocks__` directory is also included in `testPathDirs`.

[Example gist](https://gist.github.c

[2016-05-16 17:20] cpojer commented on #1011
The `rootDir` config option is quite inconsequential. It is really just useful for configuration and not really used in useful ways inside of Jest. `testPathDirs` is what limits the directories which are being looked into for JS files and for tests. If you limit it to `<rootDir>/src/`, none of the folders outside of `src` are being looked at, therefore your gist is correct.

The correct name for `

[2016-05-16 17:20] #1011 closed

[2016-05-16 18:27] hgezim opened #1013 "mockClear() not clearing mocks when they're setup with mockReturnValueOnce and not called"
I have two tests. One test sets a mock value of `getSchedulesByMigrationId` with `mockReturnValueOnce` but the mocked method doesn't actually end up being called. Second test mocks `getSchedulesByMigrationId` method again with `mockReturnValueOnce` and this time `getSchedulesByMigrationId` is called. On the second call, the first mocked results are returned even though `mockClear` is called in `be

[2016-05-16 19:36] cpojer commented on #1013
What's `babel-jesta`? :D

Would you mind: upgrade Jest to 12.0.2 and then provide a sample repository that highlights this bug? It'll make it much easier to troubleshoot issues.

[2016-05-16 21:12] cpojer commented on #921
I agree! I'm sorry we are a bit behind on the documentation – we are committed to make Jest the best testing tool for react-native but there are a couple of fires burning at FB at all times that I need to help put out, so this is moving a bit slowly in open source :)

[2016-05-16 21:17] cpojer commented on #1010
Hey! This doesn't seem like a problem with Jest and you are heading down the right path. I'll close this issue but if it turns out to be an issue with Jest, I'd be happy to reopen and fix whatever issue Jest may have.

Unmocking bluebird and rethinkdb makes sense based on what you are trying to do, however Jest is a unit test framework and the idea is usually to not make network requests (or write

[2016-05-16 21:17] #1010 closed

[2016-05-16 21:44] bbrock25 commented on #921
no problem! I realized that might have come across harsh, didn't intend for that at all. I've been working on a RN project for the last few months and have found it to be very powerful, and most of my issues have involved my own misunderstandings of the underlying mobile platform. really, great work on the product.

given that, where would be a good place for constructive feedback such as testabil

[2016-05-16 21:49] cpojer commented on #921
I would like to have a guide next to the React guide on the Jest website that explains the React Native setup well so that we don't have to go over to the react-native repo to fix the testing docs for Jest. If you have ideas on how to improve Jest's support for react-native, feel free to send as many PRs as necessary – I'm happy to help as much as I can :)

[2016-05-16 23:46] cpojer commented on #526
This will be part of the 12.1.0 release sometime this week. Thanks to @bookman25 for implementing this feature!

[2016-05-16 23:46] #526 closed

[2016-05-17 09:18] TylerYang opened #1014 "Error: Cannot find module 'core-js/shim' from 'index.js'"
Hi folks, I was trying to setup the jest for my project.
When I try to run `npm test` I got the error message below,
[code]
Then I open my node_modules, and `core-js/shim.js` does exist.
Could anybody take a glance at [this runable example here.](https://github.com/TylerYang/jest-demo) ?

[2016-05-17 09:30] TylerYang commented on #1014
Notice I add the `moduleFileEtensions` to jest configuration intro this issue.  It's working after removing this line.

[2016-05-17 09:30] #1014 closed

[2016-05-17 12:34] bercopy commented on #10
Hi guys, I am starting with jest but what I did to fix this problem is the next configuration:

My folder structure:
-- componentfolder
---- component.js
---- component.test.js

Jest configuration:
"testPathDirs": [
      "./"
    ],
    "testFileExtensions": [
      "test.js"
    ],
    "testDirectoryName": "src"

I hope this help somebody.

[2016-05-17 13:09] bbrock25 commented on #921
Awesome, I'm about to start on a new project next week so I'll make sure and document all the things. Thanks!

[2016-05-17 19:12] rbalicki2 commented on #1004
Looks like `unmockedModulePathPatterns` also suffers from the same issue, although the docs aren't clear about whether to include slashes to begin wtih

[2016-05-17 21:07] cpojer commented on #1014
Yes, your configuration was wrong. You added `moduleFileExtensions` and overwrote the default. The default contains both js and json.

[2016-05-17 21:09] rbalicki2 opened #1016 "use external file for config instead of package.json"
Is it possible to use another file other than package.json for jest's config?

I have a build process that exports a global config object, and I'd like to use a dummy config in my tests. However, putting a dummy config in my package.json 1. feels wrong, and 2. takes up 2/3 of the file.

[2016-05-17 21:10] cpojer commented on #1016
Yes, you can do `--config=myConfig.json`.

[2016-05-17 21:10] #1016 closed

[2016-05-17 22:19] #928 closed

[2016-05-17 23:08] iandanforth opened #1017 "Core dump with canvas img load"
Here's a small reproduction of a bug I'm seeing. Not sure it belongs here, but it may!

os - ubuntu 14.04 (64)
node - v4.4.3
jest - v0.10.2
canvas - 1.3.15

[code]

[code]

This doesn't core dump if I just use ```new Image()```

[2016-05-17 23:29] iandanforth commented on #1017
Also tried similar code directly

test.js
[code]

[code]

Runs without error.

[2016-05-18 01:25] TylerYang commented on #1014
Yeah... that's weird to set the `moduleFileExtensions` to json. Seems the runnable demo from `enzyme` set this to json by default. : (

[2016-05-18 01:27] cpojer commented on #1014
Arghhh: https://github.com/airbnb/enzyme/pull/399

[2016-05-18 01:36] cpojer commented on #1017
Jest runs tests in an isolated context. I wonder if the failure is because we are running code using `vm.runInContext`? Not sure what we can do here :( What exactly are you trying to test? Whether creating an image works?

[2016-05-18 01:42] cpojer commented on #701
cc @valerybugakov – is this something you'd like to look into?

We should add this to `jest.mock` which now supports two arguments. I don't think we should add it to `jest.setMock`, I consider it a bit deprecated.

[2016-05-18 02:02] iandanforth commented on #1017
The full test is for code that happens to run inside an img.onload function. To test that code we need to provide an Image object that can actually load in data (node doesn't have this by default) so at test time we set window.Image to Canvas.Image. Unfortunately when that img.onload function is actually invoked in the testing context we get the above core dump.

[2016-05-18 02:04] cpojer commented on #1017
I don't think Canvas.Image is a drop-in replacement for jsdom's (or the DOM's) Image constructor, is it?

[2016-05-18 02:47] ErikBean opened #1018 "Documentation mismatch?"
I'm confused by some inconsistency in the docs here: https://facebook.github.io/jest/docs/api.html
Did jest.genMockFunction go away with the latest major version roll?
I still see it being used in many of your examples: https://facebook.github.io/jest/docs/mock-functions.html So I'm wondering if genMockFunction has been deprecated, is not available in the next version and the examples need updatin

[2016-05-18 04:11] cpojer commented on #1018
You are right! Somehow we forgot to update it. I published a new version of the website. You are right, we added `jest.fn` which can also take a mock implementation, like `jest.fn(() => 42)`.

See #1019.

The changelog can be found here: https://github.com/facebook/jest/blob/master/CHANGELOG.md

[2016-05-18 04:11] #1018 closed

[2016-05-18 14:12] valerybugakov commented on #701
@cpojer yep, will take a look!

[2016-05-18 15:58] iandanforth commented on #1017
It tries to be, and in straight node context functions as one would expect.
On 17 May 2016 7:04 p.m., "Christoph Pojer" <notifications@github.com>
wrote:

[2016-05-18 22:13] nparsons08 opened #1021 "React & Jest: Cannot find module from test file"
Setting up a Jest test ('App-test.js') for a Redux action ('App.js') in a directory `app/__tests__`:

Here's the header of App.js:

[code]

In `app/` there is a module `config.js`. This is being imported where it is needed.

The problem is, when I run my Jest tests, such as App-test.js, it is looking for config and not finding it:

[code]

And `User.js` is importing config like so: `import config

[2016-05-18 22:15] cpojer commented on #1021
Where is the config module? It should be `./config` I'll assume?

[2016-05-18 22:17] cpojer commented on #1004
This is working just fine. Your example above is incorrect:

[code]

[2016-05-18 22:17] #1004 closed

[2016-05-18 22:18] cpojer commented on #1017
@Sebmaster do you have any experience with this and how it relates to jsdom?

[2016-05-18 22:40] dmitriiabramov opened #1022 "passing `setupFiles` config from CLI"
i need to pass a reporter setup file from CLI keeping the rest of the config (in package.json) untouched.
Is there an easy way to do it?

basically i need to setup an extra `console.log` calls for react equivalence tests (https://github.com/facebook/react/pull/6769#discussion_r63389900), but only do it from another test so it doesn't flood the output of the main `npm test` command

[2016-05-18 22:41] dmitriiabramov commented on #1022
i can implement something like
`jest --setupFile file1.js --setupFile file2.js`

[2016-05-18 22:42] cpojer commented on #1022
nope. There is `--testEnvData` or something however that you can pass in and then toggle behavior based on it.

[2016-05-18 22:54] ErikAugust commented on #1021
@cpojer Hi, I'm working on this as well.

The config.js is in the root directory, while it's being called in User.js which is in <rootDir>/modules/actions/User.js.

Should be noted we are using Webpack with this.

[2016-05-18 22:57] cpojer commented on #1021
We'll be adding support for `modulesDirectories` soon and then I guess this will work. See #963 for progress. Should happen within the next week or so?

For now, you can also do

[code]

[2016-05-18 22:57] #1021 closed

[2016-05-18 23:00] Sebmaster commented on #1017
Hm, looks like canvas isn't happy being run in a context. Probably a bug there.

We implement the image loading ourselves, so doesn't impact us: https://github.com/tmpvar/jsdom/blob/72b53d9682dd60aa98047439c4f810584027de6b/lib/jsdom/living/nodes/HTMLImageElement-impl.js#L14

You should be able to just use new Image() with `features: { FetchExternalResources: ['img'] }` and that should be equivalen

[2016-05-18 23:00] cpojer commented on #1017
Sounds like it isn't a Jest bug then? :)

[2016-05-18 23:00] #1017 closed

[2016-05-19 00:14] ErikAugust opened #1025 "TypeError: Cannot read property 'props' of undefined"
One of our tests is failing with:

<pre><code>
Item › it should exist
  - TypeError: Cannot read property 'props' of undefined
</code></pre>

The test file is <code>Activity-test.js</code>:

<pre><code>
jest.unmock('../../modules/components/Activity')

import React from 'react'
import ReactDOM from 'react-dom'
import TestUtils from 'react-addons-test-utils'

// Activity:
import { Item } from '../.

[2016-05-19 01:30] cpojer commented on #1025
This is probably not a Jest bug and something isn't unmocked properly. Try `"automock": false` in your config and mock components using `jest.mock('path/to/module')` as needed.

Also, for questions like this please provide a repository with a config, code and tests that we can use to troubleshoot the issue.

I'm happy to reopen if this turns out to be a Jest bug. Feel free to continue commenting.

[2016-05-19 01:30] #1025 closed

[2016-05-19 08:00] tomkur opened #1030 "Cannot test code inside node_modules"
I am developing React Native application and I am keeping the code inside ```node_modules/mylibrary```. The reason why I keep it there is to avoid relative paths between modules in my library and that's the recommended way to do that according to [this](https://github.com/substack/browserify-handbook#node_modules). I would use symlinks if it wasn't for [this](https://github.com/facebook/react-nati

[2016-05-19 18:43] cpojer commented on #1030
If you are using react-native you can use `@providesModule` in your module files to make them global. Since we use this at Facebook I recommend you to use this too, with the following structure:

src
node_modules

in src, all your files should have something like this on the top:
[code]

and then you can do:
[code]

that should work. I'm confident there is an easy way to make your current setup wo

[2016-05-19 18:43] #1030 closed

[2016-05-19 18:44] cpojer commented on #1030
Oh, we are also adding `modulePaths` and `moduleDirectories` to the next version of Jest, see #1033.

[2016-05-19 18:53] tomkur commented on #1030
Thanks, @cpojer, I'll try that tomorrow. I'm a bit worried if @providesModule is recognized by eslint, otherwise I might end up with linting errors for unrecognized modules.

[2016-05-20 14:56] tomkur commented on #1030
Accidentally, we found a different workaround to this problem. In react native apps module resolution is done by ```node-haste``` (https://www.npmjs.com/package/node-haste) and it is able to resolve modules from other places than ```node_modules```.

So we moved our library from ```myproject/node_modules/mylibrary``` to ```myproject/mylibrary``` and surprisingly it worked (i.e. we can still refere

[2016-05-20 19:55] #1022 closed

[2016-05-20 19:55] #1006 closed

[2016-05-20 19:55] cpojer commented on #963
Done! Thanks @jquense. `modulePaths` and `moduleDirectories` is now part of Jest 12.1.0.

[2016-05-20 19:55] #963 closed

[2016-05-20 19:57] cpojer commented on #112
After all this time we have finally implemented this. I'm sorry for the long wait. `modulePaths` and `moduleDirectories` is now part of Jest 12.1.0. We'll be adding some more documentation for the website but it should match the implementation in webpack. See http://facebook.github.io/jest/docs/api.html#moduledirectories-array-string

[2016-05-20 19:57] #112 closed

[2016-05-20 20:04] cpojer commented on #365
`modulePaths` and `moduleDirectories` is now part of Jest 12.1.0. We'll be adding some more documentation for the website but it should match the implementation in webpack. See http://facebook.github.io/jest/docs/api.html#moduledirectories-array-string

[2016-05-20 20:07] yaycmyk opened #1038 "Jest is collecting coverage info for test files since 12.1.0"
Looks like a regression.

![screen shot 2016-05-20 at 4 07 31 pm](https://cloud.githubusercontent.com/assets/570070/15440716/fa243650-1ea4-11e6-84a0-0596a28f561d.png)

Definitely didn't happen before the most recent release.

[2016-05-20 20:09] cpojer commented on #1038
yay new bugs! :) It's likely the fact that we use this config option here: https://github.com/facebook/jest/blob/master/packages/jest-cli/src/Runtime/Runtime.js#L235 unfortunately. It should use `testRegex` instead – would you like to send a PR?

[2016-05-20 20:11] yaycmyk commented on #1038
I don't have time today unfortunately

[2016-05-20 20:15] cpojer commented on #334
After all this time we have finally implemented more support for webpack. I'm sorry for the long wait. `modulePaths` and `moduleDirectories` are now part of Jest 12.1.0. We'll be adding some more documentation for the website but it should match the implementation in webpack. See http://facebook.github.io/jest/docs/api.html#moduledirectories-array-string A long time ago we also implemented a `modu

[2016-05-20 20:15] #334 closed

[2016-05-20 20:16] cpojer commented on #317
We have finally implemented this for Jest 12.1.0. The option is called `testRegex` and the default is this: https://github.com/facebook/jest/blob/9d2b2bcf5e0705c64d5eba631c225426c09965ef/packages/jest-cli/src/config/defaults.js#L30

[2016-05-20 20:16] #317 closed

[2016-05-20 20:17] cpojer commented on #956
Can you upgrade to 12.1.0 and let us know if this is still an issue? And as said, please provide a repository that shows this bug so we can reproduce it.

[2016-05-20 20:18] #753 closed

[2016-05-20 20:25] jquense commented on #334
👏  I will get on it!

[2016-05-20 20:53] cpojer commented on #1038
Will be fixed in the next release.

[2016-05-20 20:53] #1038 closed

[2016-05-20 20:55] cpojer commented on #433
I think this should be fine now. If there are issues that are still unresolved with Jest 12.1, please open individual new issues.

[2016-05-20 20:55] #433 closed

[2016-05-20 20:55] cpojer commented on #441
I'm gonna close this because I honestly don't really care much about it. It works just fine. @dmitriiabramov is thinking of redoing some stuff here, so maybe he can consider to replace this module eventually.

[2016-05-20 20:55] #441 closed

[2016-05-20 21:00] dmitriiabramov commented on #441
👍
I think for this change we need to have at least a small design doc that will list the requirements for CLI, and based on this we can decide which library we should use

[2016-05-20 21:01] cpojer commented on #441
I agree. The deprecation notice itself is not enough for anyone at FB to spend time working on this.

[2016-05-20 21:10] mikem-mup commented on #317
Excellent - any sense of when docs will be added? Looks like it's working well for my project but I don't want to be too maverick by using undocumented APIs

[2016-05-20 21:10] cpojer commented on #317
It's here: http://facebook.github.io/jest/docs/api.html#moduledirectories-array-string but there isn't a guide for this yet.

[2016-05-20 21:16] mikem-mup commented on #317
Ah okay, I am using `testRegex` directly in my `jest` config in `package.json`, e.g. `"testRegex": "(src|server)/.*\\.test\\.js$"`.

I guess I could flip that over to use `moduleDirectories` if it's the preferred option, but the regex covers all of the path config I need in one swoop - I couldn't find mention of `testRegex` in the docs, though.

[2016-05-20 21:18] cpojer commented on #317
`testRegex` was added literally half an hour ago and it is used to look for test files.

[2016-05-20 21:18] cpojer commented on #317
I'm sorry, I thought you asked about the `moduleDirectories` setting because I've been closing a lot of issues with that.

[2016-05-20 21:25] cpojer commented on #317
Ok, I added `testRegex` to the documentation :)

[2016-05-21 10:29] lencioni opened #1047 "Jest ignores all tests if testPathIgnorePatterns matches the path to the repo"
I have a minimal repro case here: https://github.com/lencioni/jest-travis-bug/tree/jestconfig

I believe that this can be reproduced by having a project with failing tests in `lib/__tests__` and the following jest configuration in `package.json`:

[code]

When run locally, `npm test` fails:

[code]

But [when run in Travis](https://travis-ci.org/lencioni/jest-travis-bug/builds/131893394), tests pa

[2016-05-21 10:38] lencioni commented on #1047
I'm noticing that the [jest integration tests](https://github.com/facebook/jest/blob/7dc8b745716d052778520890f561efc0d31fb22b/integration_tests/package.json) use configuration like this:

[code]

but that style with `<rootDir>` is not mentioned in [the documentation](https://facebook.github.io/jest/docs/api.html#testpathignorepatterns-array-string).

Ideally jest would not match these patterns aga

[2016-05-21 12:20] lencioni opened #1048 "Jest causes ESLint's getConfigForFile to error under Node 6"
I have a project that depends on eslint and runs tests using Jest. We've noticed an issue when running our tests under Node 6, and I think it might be a bug in Jest. We have an issue tracking this here: https://github.com/Galooshi/import-js/issues/272

I've created a minimal repro case that reproduces this issue: https://github.com/lencioni/jest-eslint-node6-bug

The following code works when run

[2016-05-21 12:22] lencioni commented on #1048
eslint depends on require-uncached, which depends on caller-path, which depends on callsites, which under this version of Node is not working as expected in the Jest test. I've updated my local copy of callsites to their latest version on master and that did not resolve the issue.

[2016-05-21 12:46] lencioni commented on #1048
As a workaround, I tried to change my project's .eslintrc.js file to .eslintrc, but this also seems to affect plugins:

[code]

[2016-05-21 19:20] Phoenixmatrix opened #1051 "Jest 12.1.X regression? can't find tests on Windows"
on Windows, I tried a bunch of projects, including the examples in this repo, other projects I was told were supposed to work, etc. Nothing: Jest doesn't find any tests, no matter what arguments I give it.

If I rollback to 12.0.2's version of `jest-cli` however, it all seems to work as expected.

[2016-05-22 00:33] bookman25 opened #1052 "Jest is collecting coverage on manual mocks"
Should the files in mocksPattern be excluded from coverage?

[2016-05-22 03:25] bidanjun commented on #1051
yes，win windows,jest couldn't found tests under __test__,
this issue always exists....fixed in a version,another version,but it's alive....
they usually work on mac book,so they always forget to test it on windows

[2016-05-22 06:29] nthtran commented on #1030
@tomkur How do you actually configure `node-haste` to resolve to something different than `node_modules`?

[2016-05-22 06:42] tomkur commented on #1030
@nrhtran I don't. It just works out of the box. Under root directory of my project I have a subfolder with package.json and that's all. I am not yet sure if this is intentional behavior and whether it is a good practice to nest projects this way, but it works for me...

[2016-05-22 08:27] SokichiFujita opened #1053 "npm WARN prefer global cover@0.2.9 should be installed with -g"
The `npm install --save-dev jest-cli` command output the following warning.

[code]

Can anybody remove this warning?

[2016-05-22 22:15] jaybkun opened #1054 "Jest not able to find any tests in Windows 10"
On Windows 10 I tried running jest and it came back as unable to find any tests.

I cloned the jest repo and went into the examples/tutorial project, ran npm install and then tried jest and npm test.

Both gave the message 'No tests found for ""
![jest_cannot_find_tests](https://cloud.githubusercontent.com/assets/2231200/15456804/395559b2-2049-11e6-82f7-467bae092151.PNG)

[2016-05-23 03:27] bangwu opened #1055 "Test Code Coverage has contains the __tests__ directory, How can I solve this problem?"
<img width="673" alt="screen shot 2016-05-23 at 11 25 14" src="https://cloud.githubusercontent.com/assets/7524890/15459592/36df0bfc-20d9-11e6-867e-46deaf10b9e7.png">

[2016-05-23 12:52] Phoenixmatrix commented on #1054
See #1051

If you use  12.0.2 of `jest-cli` (`jest`'s npm package doesn't have that version, you have to use the old `jest-cli` name), then it will work, until they fix it.

[2016-05-23 15:19] bookman25 commented on #1055
Looks like this was fixed by #1039

[2016-05-23 15:27] ttrmw commented on #935
If you've updated to node 6 and are seeing all your tests suddenly failing with:

`Path must be a string. Received null`

This seems to be the fix. Node 6 introduced stronger type checking for paths, which I assume relates to this fix somehow?

[2016-05-23 18:32] cpojer commented on #935
Upgrading to Jest 12.0.2+ should resolve your problem.

[2016-05-23 18:32] cpojer commented on #935
If it doesn't, it is probably another dependency that hasn't been updated (like babel, where I've seen this happen).

[2016-05-23 18:34] cpojer commented on #1055
Yep. I'll publish a new version today.

[2016-05-23 18:34] #1055 closed

[2016-05-23 18:53] ttrmw commented on #935
Hey @cpojer, yeah I was just putting the comment here for anyone Googling for jest + the error message as we stumbled upon upgrading as a fix by luck.

[2016-05-23 20:21] cpojer commented on #935
Oh sorry, I didn't understand your comment the first time reading it. What you say is correct, some APIs are a bit more strict and the fix for Jest is to update to the latest version (12.0.2 onwards) :).

[2016-05-23 21:22] cpojer commented on #1053
This warning really doesn't matter. `cover` simply has `preferGlobal` set to true in `package.json`. If you'd like it to go away, I recommend sending a PR to https://github.com/itay/node-cover in which you remove this line.

[2016-05-23 21:22] #1053 closed

[2016-05-24 02:15] cpojer commented on #913
Fixed in Jest 12.1.1 (coming out tomorrow!).

[2016-05-24 02:15] #913 closed

[2016-05-24 02:22] cpojer opened #1057 "Explain test filtering rules when no tests were found."
When passing no arguments and the configuration is wrongly set up (like `testPathIgnorePatterns`) or a wrong pattern is passed, we show a "No tests found" message in Jest. This has lead to a lot of confusion. For example, one path pattern that is ignored might be "/build/". On CI, a repo can be run in a folder /tmp/build/my-repo/src and every test path will be filtered out entirely and people don'

[2016-05-24 02:22] cpojer commented on #1054
This'll be fixed in a release tomorrow. For now please stick with 12.0.2.

[2016-05-24 02:22] #1054 closed

[2016-05-24 02:23] cpojer commented on #1047
I'm gonna close this task in favor of #1057 which has some actionable things to do to fix this. As discussed on your project, please do submit a documentation fix for this :)

[2016-05-24 02:23] #1047 closed

[2016-05-24 02:25] cpojer commented on #1052
I don't think it makes sense to exclude them. They are code, not tests.

tbh I don't quite understand why people want to exclude tests from coverage in the first place, but it seems to be a pretty big deal to some. Every test file should have 100 % coverage and if not, that's a good signal that something in a test file isn't being executed properly. But oh well, I do what the majority demands :)

[2016-05-24 02:25] #1052 closed

[2016-05-24 02:26] cpojer commented on #1051
See my explanation here: https://github.com/facebook/jest/pull/1044#issuecomment-221147691 – we are relying on the community for these things. Please stick with 12.0.2 until tomorrow when I tag 12.1.1. :)

[2016-05-24 02:26] #1051 closed

[2016-05-24 02:28] cpojer commented on #1048
argh, I'm confident the problem here is that eslint depends on some other undocument module APIs that I haven't added to Jest (because they are undocumented). I'll try to figure out where exactly this is coming from.

[2016-05-24 02:37] #925 closed

[2016-05-24 03:47] lencioni commented on #1048
It might be worth looking at [callsites](https://github.com/sindresorhus/callsites), which does some funky things with error stacktraces.

[2016-05-24 05:54] valerybugakov commented on #1057
@cpojer ok, I'll look into it

[2016-05-24 15:33] mateuszsokola opened #1058 "The Coverage Report contains test files"
I'm trying to implement code coverage to my project. Unfortunately i have a problem: I see all test files on my code coverage report and I end up with incorrect code coverage rate.

[code]

[code]

I don't want to use `collectCoverageOnlyFrom`, because it requires to specify all files one by one

Do you know how to resolve that issue?

**VERSION: 12.1.0**

[2016-05-24 15:49] mateuszsokola commented on #1058
Version 11.0.2

[code]

[2016-05-24 16:01] migueloller opened #1059 "Jest doesn't work with modules that return higher order functions"
Here is a simplified example of the problem I'm having:
[code]

This will result in the following error: `TypeError: (0 , _module2.default) is not a function`.

To solve this problem, all that is necessary is to unmock module1 by adding `jest.unmock('../module1')` before importing module2.

Is this intentional? I assumed that if you unmocked a module, Jest would recursively unmock its dependencies

[2016-05-24 16:47] yaycmyk commented on #1059
Recursive unmocking feels a little too automagical for me, TBH. Mocking is on a per-require basis.

[2016-05-24 16:48] yaycmyk commented on #1058
This was fixed in https://github.com/facebook/jest/pull/1039, release date is pending.

[2016-05-24 16:50] mateuszsokola commented on #1058
@yaycmyk Thank you :)

[2016-05-24 16:50] #1058 closed

[2016-05-24 17:27] migueloller commented on #1059
I agree that recursive unmocking is definitely unnecessary. I think the problem here is something else, incompatibility with modules that return higher order functions.

I originally came across this issue when writing my own versions of React Native's NavigatorExperimental createStackReducer and createTabsReducer (module2 in my example above). I made a helper function called createSubReducer (mod

[2016-05-24 17:30] cpojer commented on #1059
We are thinking of adding a recursive option to `unmock`, but yes, this is intentional at the moment. We'll probably add something like `deepUnmock` or `jest.unmock('Foo', {transitive: true})`.

[2016-05-24 17:32] migueloller commented on #1059
Awesome! Thanks @cpojer.

I'll just unmock the internal modules manually for now. Any idea when `deepUnmock` might be available?

[2016-05-24 17:51] cpojer commented on #1059
No ETA but the feature already exists in Runtime.js for node modules. If you'd like to send a PR, I'd be happy to help you through it – it should be fairly easy :)

[2016-05-24 17:51] cpojer commented on #1059
Feel free to message me on Facebook: fb.me/cpojer

[2016-05-24 19:14] ColCh opened #1063 "Jest collects coverage for unrelated to project files"
I placed mocks into `__mocks__` directory and jest collects coverage for it.

[code]
*(jestSupport is a temporary fix)

for example, `__mocks__/react-native.js`:
[code]

Yeah, jest don't has config for excluding coverage from specific files...
Only way to exclude `__mocks__` is to list __all__ files in the project into `collectCoverageOnlyFrom`. But ... This is pretty fatiguing :(

I can list all

[2016-05-25 05:47] cpojer commented on #841
Hey! I believe this is definitely an issue with either babel or istanbul or how they are connected and all of this isn't super great right now. It seems like the coverage report itself is correct (100 %), which is important. It might just collapse two lines into one or something.

[2016-05-25 05:54] cpojer commented on #701
This will be fixed in the next Jest release. Awesome work @valerybugakov, thank you so so much for your contributions!

[2016-05-25 05:54] #701 closed

[2016-05-25 09:57] andrewmclagan opened #1069 "Injecting globals per test"
Would be great if the `jest` API provided the ability to inject globals for a specific test.

Any plans on the roadmap?

[2016-05-25 10:43] mateuszsokola commented on #1063
I have the same issue in *12.1.1*. I did set up the rootDir and it seems to be ignored by the code coverage suite.

package.json:
[code]

result:
[code]

[2016-05-25 15:35] bbrock25 opened #1071 "When using React Native, jest fails when component requires image"
I'm not sure if this is best left here or as a react native issue...

When running jest on a RN project (where we have already mocked out the RN components), our file loads a file during the process. We get an interesting error,
[code]
This is most likely to React Native's use of require for loading images as its not the typical use case in a javascript project. Does anyone have any ideas for a wo

[2016-05-25 17:31] cpojer commented on #1071
This is what the moduleNameMapper config option is for: see http://facebook.github.io/jest/docs/api.html#modulenamemapper-object-string-string and https://github.com/facebook/react-native/blob/master/package.json#L16

[2016-05-25 17:31] #1071 closed

[2016-05-25 17:35] cpojer commented on #1069
You can either use the `globals` config http://facebook.github.io/jest/docs/api.html#globals-object or create a file and list it in the `setupFiles` array http://facebook.github.io/jest/docs/api.html#setupfiles-array

[2016-05-25 17:35] #1069 closed

[2016-05-26 01:08] andrewmclagan commented on #1069
Ah ok, did not realise it was possible to mutate those values. thnx

[2016-05-26 02:25] andrewmclagan opened #1075 "Testing exported modules in the same file"
How to test the following:

	// File: index.js

	export function myName(text) {
		return 'My name is: ' + text;
	}

	export function makeBold(text) {
		return '<strong>' + myName(text) + '</strong>';
	}

With the following test:

	// File: __tests__/foo.test.js

	jest.unmock('../index');

	import { makeBold, myName } from '../index';

	describe('bar()', () => {

	  it('calls myName', () => {
	  	m

[2016-05-26 03:34] andrewmclagan opened #1076 "Babel stage-0 throwing "regeneratorRuntime" errors"
When using babel `stage-0` and testing promises with async/await syntax Jest is not picking up the transforms.

from the docs:

Well ... actually stage-0 includes stage-3, the following from babel docs:

Test with the following:

	it('calls request with correct method param', async () => {

	  const response = await api({}).patch('/my/api/route', {});
	  expect(response.method).toBe('patch');
	});

[2016-05-26 03:41] cpojer commented on #1076
I recommend using the async to generator transform in the test environment. This definitely works, see https://github.com/facebook/jest/tree/master/examples/async

[2016-05-26 03:41] #1076 closed

[2016-05-26 03:41] cpojer commented on #1076
Feel free to send a PR if you think the documentation can be improved!

[2016-05-26 03:50] andrewmclagan commented on #1076
Thanks! Although according to the docs (as i quoted above) stage-3 will transform asyc/await. Babel includes stage-1, stage2, stage-3 IN stage-0.

so this should work?

[2016-05-26 03:51] cpojer commented on #1075
Jest mocks things on the module boundary, which is the boundary at which you should test your "units" (= modules). With JavaScript, there is no way to swap out references to something.

Consider this example:
[code]

this is a simple example similar to your code that should point out the problem you are having. You cannot swap out a function that is internal to a module. When you try to overwrite

[2016-05-26 03:51] #1075 closed

[2016-05-26 04:30] andrewmclagan commented on #1075
So true, thats basically  what we did in the end.

Apologies for logging an issue, I understand such"questions"  are not suited for an issue tracker. Although at times its hard to differ the two.

[2016-05-26 12:15] StephanBijzitter opened #1077 "Dependency appears to be pre-processed, but is not"
[code]

Configuration:
[code]

Note that the error says that `import Events from 'events';` is already preprocessed, but in fact, it is not.
I installed a local dependency, because the dependency is not published yet. The dependency uses the exact same setup and works fine; all tests pass. This leads me to believe that the preprocessing of dependencies is actually going wrong here.

Looking at the

[2016-05-26 12:42] StephanBijzitter commented on #1077
Ah, looked over the fact that it takes common regex.
This solved it for me:
[code]

[2016-05-26 12:42] #1077 closed

[2016-05-26 13:27] Vilvarin opened #1079 "_get__ is not defined"
When I run the test, I get error. I don't know what doing with it
[code]

My Jest settings
[code]

[2016-05-26 13:51] mgenev commented on #238
Mocking arrays is also broken

[2016-05-26 14:16] simonkberg commented on #1048
Same issue for me using Jest 12.1.1. Not only `getConfigForFile`, but also any option on `CLIEngine` that takes a configuration, like `configFile` or `baseConfig`.

[2016-05-26 19:35] cpojer commented on #1075
That's alright! Now we have this documented somewhere, so that's good for the next person who runs into this :)

[2016-05-27 02:59] luizribeiro opened #1081 "Can't find tests when project is in a path with parentheses"
I was trying to use Jest today from a Dropbox directory, under `/Users/luizribeiro/Dropbox (Personal)` on OSX. After struggling with Jest not finding any tests for a while, I realized that moving my project somewhere else that didn't have parentheses in the path fixed the problem.

Easy way to repro the issue is to:
[code]

[2016-05-27 08:57] mateuszsokola commented on #1081
your configuration is invalid. Create a __tests__ directory and create a valid test file there.

[2016-05-27 08:58] mateuszsokola commented on #1079
Wrong config:
[code]

[2016-05-27 18:03] JeremyRH opened #1082 "Code coverage report fails to generate html files"
I came across an interesting issue with code coverage failing to create clover.xml and some html files. This seems to happen when an import statement is preceded by 5 or more double slash comment lines and followed by a non-empty line. I haven't been able to figure out the exact rules to reproduce this bug as it also happens with block-quotes spanning more than 12 lines.

Here is a minimum failing

[2016-05-27 19:25] cpojer commented on #1081
Thanks @mateuszsokola for helping out on issues! :)

@luizribeiro can you paste your config and your file system structure? It's possible that the default regex in `testRegex` might do something wonky on OS X :)

[2016-05-27 19:29] cpojer commented on #1079
Yeah it is probably what @mateuszsokola said. Let me know if this is still an issue and I'll reopen :)

[2016-05-27 19:29] #1079 closed

[2016-05-27 21:09] Vilvarin commented on #1079
Right, config is wrong, but it didn't help. I tried to rewrite settings with right paths and delete  "unmockedModulePathPatterns" from config (just in case), but the error remains the same

[2016-05-28 04:03] luizribeiro commented on #1081
Hmm, it can't be anything on my config. Just moving the project somewhere else and running `npm test` again fixes it.

Here's some more thorough repro steps:

[code]

[2016-05-28 04:09] luizribeiro commented on #1081
By the way, this issue is obviously not a big deal, since it's such a corner case :-)

The default `testRegex` is just `__tests__/.*\.js$` as far as I can tell, so I'm not sure if that could be affecting it..  Maybe something about the crawler that builds the haste map? I didn't try using watchman instead to see what would happen, maybe I can give that a try tomorrow.

[2016-05-28 17:05] delgiudices commented on #666
Is this solved already?

[2016-05-30 00:24] keyanzhang opened #1086 "Feature request: recognizing node feature flags"
Hey,

I'm using an [ES6 proxy object](https://github.com/keyanzhang/identity-obj-proxy) to mock my css modules files with webpack. Since proxies are not enabled by default in Node v4, I need to pass the `--harmony_proxies` flag to node. Now I can use `node --harmony_proxies node_modules/.bin/jest` to run my tests, but it would be nice if I can pass flags directly like [mocha does](https://github.c

[2016-05-30 13:27] StephanBijzitter opened #1088 "TypeError: Path must be a string. Received null"
Using Jest CLI v0.9.2, jasmine2, babel-jest

Same issue as https://github.com/fbsamples/f8app/issues/52 but I don't use this module. Perhaps it is a submodule of anything else I am using, though.

[code]

[2016-05-30 13:29] StephanBijzitter commented on #1088
Solved by updating to 12.1.1 (possibly also by earlier versions)

[2016-05-30 13:29] #1088 closed

[2016-05-30 13:35] lostm1nd commented on #1063
I will join this one since I have the same issue with manual mocks. Something has to be done about this coverage.

[2016-05-31 14:48] giantelk opened #1089 "Empty test file should not report PASS."
`app-test.js` is an empty file, it shouldn't report a passed test.

I suggest showing warning (or error) such as, "No test found and/or empty file".

[code]

[2016-05-31 16:48] cpojer commented on #1088
For posterity: Node 6 has a stricter path module and we updated Jest to work with Node 6 in 12.0.1.

[2016-05-31 18:42] StephanBijzitter commented on #1089
Make empty tests configurable as either ignore, warning or error :-)

[2016-05-31 18:44] StephanBijzitter commented on #1063
Well at least you know your mocks are being used

[2016-05-31 18:44] cpojer commented on #1089
I agree we should have this feature and it is on my list. @giantelk do you want to send a pull request? If there are no assertions (and no runtime errors) in a test file, we should throw. As @StephanBijzitter says it should probably be configurable as either ignore or error (I don't think having three states is that useful). Would you like to work on a Pull Request for this?

[2016-05-31 18:50] ColCh commented on #1063
@StephanBijzitter problem is, huge mocks are partially covered ---> this harms overall coverage
And this results in failed thresholds. Not so good.

I don't mind write special tests for mocks coverage 😆

[2016-05-31 18:56] cpojer commented on #1063
@ColCh would you like to send a PR? The check for mocks needs to be added here: https://github.com/facebook/jest/blob/101cda7511109408891e6f87773f61a2d008e213/packages/jest-cli/src/Runtime/Runtime.js#L234 the config field is `mocksPattern`.

[2016-05-31 19:05] ColCh commented on #1063
@cpojer failing test case + one line. hm, I will give a try tomorrow

[2016-05-31 19:06] ken210 opened #1092 "Runtime Error when testing module that imports process"
Hello, first of all congratulations for the awesome project.

Here's my conf:

Test in node v5.7 and v6.2 with same output.

[code]

[code]

outputs

[code]

Here's the whole test case: https://github.com/ken210/jest-babel-test

Thank you!

[2016-05-31 19:57] mateuszsokola commented on #1063
@cpojer it looks like that doesn't filter any configuration files and mocks before. It may solve the problem if you refactor *collectCoverageOnlyFrom* to accept regular expression. Actually the way how it is implemented is incorrect.

The code below gathers coverage only from *src/app.js* file
[code]

[2016-05-31 20:00] cpojer commented on #1063
@ColCh we already have an integration test for coverage. You could add a manual mock there, load it in the test and make sure it isn't part of the coverage output.

@mateuszsokola yeah, we should completely change collectCoverageOnlyFrom, I agree. I think we should also only turn on coverage after we run the setup files, need to think about this a bit :)

[2016-05-31 20:17] cpojer commented on #1092
Why are you importing `process`? `process` is available as a global in node.

Your problem is probably fixed by doing `jest.unmock('process')` or just by removing the import statement.

[2016-05-31 23:53] cpojer commented on #1086
@keyanzhang seems reasonable to me, if this is possible. Do you want to send a pull request for this? :)

[2016-05-31 23:56] keyanzhang commented on #1086
Haha yeah I'd like to give it a try -- would you give me a hint on where the relevant parts are?

[2016-05-31 23:57] cpojer commented on #1086
The cli parts are somewhere around here: https://github.com/facebook/jest/tree/master/packages/jest-cli/src – I'm also next to you physically right now in case you wanna ask me ;)

[2016-06-01 00:19] cpojer commented on #1081
You could try patching #1057 and see if they are found at all and what filters them out :)

[2016-06-01 00:23] cpojer commented on #238
No it is not. Mocking an array will give you an empty array. If that is not what you expect, you can explicitly define it or unmock it.

[2016-06-01 03:05] cpojer commented on #1048
This looks like a JSDOM bug. I noticed that the filenames from modules run in the vm are missing and this is likely because of jsdom's eval which doesn't allow to set the filename properly. I filed a bug in the jsdom issue tracker: https://github.com/tmpvar/jsdom/issues/1509

Workaround: if you are not using doing any DOM tests, you can switch to the node environment:

In your config:
[code]

The

[2016-06-01 03:05] #1048 closed

[2016-06-01 03:08] cpojer commented on #1057
I'm gonna close this, continue on #1084.

[2016-06-01 03:08] #1057 closed

[2016-06-01 03:08] cpojer commented on #980
THis should be fixed.

[2016-06-01 03:08] #980 closed

[2016-06-01 03:09] #956 closed

[2016-06-01 07:27] Volune opened #1095 "Default testRegex config broken on Windows"
Tested with jest@12.1.1

The default testRegex config contains a backslash to escape the dot before the file extension (see https://github.com/facebook/jest/blob/v12.1.1/packages/jest-cli/src/config/normalize.js#L124)

This backslash get escaped since the changes of #1044.

A quick workaround would be to avoid the use of backslash in the default value:

```'.*[.](' + extensions.join('|') + ')$'```

[2016-06-01 08:25] trotzig commented on #1048
Thanks @cpojer! Adding that config option does the trick for us.

[2016-06-01 22:08] ken210 commented on #1092
Thank you, didn't know about that. It's perfect now.

[2016-06-01 22:08] #1092 closed

[2016-06-01 22:11] cpojer commented on #1063
Thanks @ColCh! This will be fixed in the next release.

[2016-06-01 22:11] #1063 closed

[2016-06-01 22:11] cpojer commented on #818
@StephanBijzitter would you like to send a pull request for this change? The link above should show you where this would go :)

[2016-06-01 23:01] ddaza opened #1103 "Symbols as key for an object."
[code]

I am having trouble testing Symbols the object never seems to be updating. What am I doing wrong?

[2016-06-01 23:04] cpojer commented on #1103
This most definitely isn't a Jest issue and questions are better asked on Stackoverflow. The piece of code you pasted definitely works if you put it into a test.

I'm assuming you have automocking on and setKey is coming from a different module. If automocking confuses you, I recommend turning it off: add `"automock": false` in the "jest" object in your package.json.

[2016-06-01 23:04] #1103 closed

[2016-06-01 23:06] cpojer commented on #1095
@Volune would you like to send a pull request with a proper default that works both on windows, linux and mac os? If that is not possible, we could detect whether the user is on a windows machine and set a different default.

[2016-06-02 02:43] andrewmclagan commented on #1059
Suffering the same issue. Look forward to this PR.

Im beginning to feel after a month of Jesting we are always struggling with mocks / auto-mocks more often then we ever. Never seemed to have mocking issues on competing libraries: mocha / ava.

maybe its our approach :-(

[2016-06-02 04:24] cpojer commented on #1059
btw. this is mostly a React issue, as it has special cases for React classes but not functional components.  See https://github.com/facebook/react/issues/6932

[2016-06-02 04:24] cpojer commented on #1059
@andrewmclagan auto-mocking might not be right for you then. I recommend turning it off using `"automock": false` in the configuration.

[2016-06-02 15:39] ddaza commented on #1103
My bad, this is working I've been staring at this for way too long. Sorry for the inconvenience.

[2016-06-02 20:02] cdreier opened #1107 "Possible Regex Bug in jest-haste-map with providesModuleNodeModules"
Hi,

i just wanted to start with jest and react-native, found a few hints and added the config from f8app (https://github.com/fbsamples/f8app/blob/master/package.json#L51-L60)

if i run a test now, i get an error: seems like there is one  ')' too much at the end of the regex.
when i remove it or skip this regex (empty providesModuleNodeModules) its working

SyntaxError: Invalid regular expression:

[2016-06-02 20:12] cpojer commented on #1107
Uh oh, this is not good. Did you try master or is this a fresh install of Jest?

[2016-06-02 20:13] cpojer commented on #1107
Also, can you show me your config? :)

[2016-06-02 20:17] cdreier commented on #1107
this is a fresh install of jest 12.1.1

i think the package.json is the minimal setup :-)

`{
  "name": "rn-app",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest"
  },
  "jest": {
    "haste": {
      "defaultPlatform": "ios",
      "platforms": [
        "ios",
        "android"
      ],
      "provide

[2016-06-02 20:25] cpojer commented on #1089
We have someone at FB working on this, so I'll close the task here for now so that no one is going to do any duplicate work. Expect a PR that will get merged soon.

[2016-06-02 20:25] #1089 closed

[2016-06-02 20:26] cdreier commented on #1107
the test itself is only a "hello jest world"

[code]

so there is no preprocessor involved.
also (i think it doesnt matter in this case) im on windows 10 with nodejs 6.2

[2016-06-02 20:28] cpojer commented on #1107
I wonder if the problem is windows? This problem hasn't come up at FB where we are using this exact code.

[2016-06-02 20:54] cdreier commented on #1107
oh, i think it is...
the github editor ate one backslash... the generated regex is:

![rnjest](https://cloud.githubusercontent.com/assets/731608/15760734/df2502ce-2914-11e6-9e8b-7f05228bf456.PNG)

and this one is invalid, the problem is not the bracket but the second backslash

[2016-06-02 20:56] cpojer commented on #1107
oh, dammit, it isn't escaped properly on Windows and we are using `path.sep` here. We have a utility function here: https://github.com/facebook/jest/blob/master/packages/jest-util/src/index.js#L25 that we could inline in jest-haste-map. Would you like to send a PR for this?

[2016-06-02 21:09] cdreier commented on #1107
will send you a PR (just completing the facebook CLA)

[2016-06-03 07:28] StephanBijzitter commented on #818
@cpojer Will be done tomorrow 👍

[2016-06-03 07:38] pinkdoremi opened #1110 "setupFiles cannot load url"
package.json
[code]

but it turn out:
[code]

[2016-06-03 12:10] alanraison opened #1111 "Problems calling unmocked object's mock() function"
I've been trying to use [fetch-mock](https://www.npmjs.com/package/fetch-mock) to intercept fetch() calls but the API for it requires you to call `mock()` on the module's exported object. When doing so, I get an error from Jest:
[code]
This happens despite setting:
* `jest.unmock('fetch-mock')`
* `jest.disableAutomock()`
* `const fetchMock = require.requireActual('fetch-mock')`
* Adding `fetch-moc

[2016-06-03 12:14] alanraison commented on #1111
I am using versions:
node v5.10.0 (windows 7)
npm 3.8.3
jest 12.1.1
fetch-mock 4.5.1

[2016-06-03 15:41] cpojer commented on #1110
A test framework should not depend on network connections. If you want this to be supported, I recommend creating a setupFile that loads your remote file but this is almost never a good idea. I recommend just storing loader and loading it directly.

[2016-06-03 15:41] #1110 closed

[2016-06-03 16:47] cpojer commented on #1111
It seems like you aren't properly using `jest.mock`. The error clearly says the second argument must be a function:

I recommend this:

[code]

or a manual mock:

[code]

[2016-06-03 16:47] #1111 closed

[2016-06-03 17:15] #1107 closed

[2016-06-03 22:06] Xesued commented on #553
For anyone else looking into this, you can now create a map with: `moduleNameMapper`.

Jest configuration:
[code]
Really, you can map it to any file.

[2016-06-04 16:17] danielstern commented on #335
+1

[2016-06-04 16:18] danielstern opened #1114 "Jest Not Mocking Anything"
Using `Jest v12.1.1`, I can't get it to mock anything.

All the files that are returned from `require()` statements are the normal files and not mocks. Basically my tests are working exactly like a Jasmine test.

The entire project in question is here:
`https://github.com/danielstern/express-rest-api/tree/implement-tests`

Reproduce:
Clone project at specified branch. Try running Jest.
The CLI wil

[2016-06-04 16:31] danielstern opened #1115 "Jest Auto Mock Not Working"
Using `Jest v12.1.1`, I can't get it to mock anything automatically. However, specifying `Jest.mock` does mock all future calls to file.

All the files that are required are the normal files. Basically my tests are working exactly like a Jasmine test without specifically calling `jest.mock()`.

The entire project in question is here:
`https://github.com/danielstern/express-rest-api/tree/implement-

[2016-06-04 17:10] cpojer commented on #1115
Duplicate of #1114

[2016-06-04 17:10] #1115 closed

[2016-06-04 17:11] cpojer commented on #1114
You have `express` in your project name and in `unmockedModulePathPatterns`: https://github.com/danielstern/express-rest-api/blob/5fc40fa7e709ddb960f1f8ab503f44f82e1903a2/package.json#L25 because every pattern is matched against the full path of a file, and express is part of the path, automocking is basically disabled.

I recommend changing your unmockedModulePathPatterns to `node_modules/express

[2016-06-04 17:11] #1114 closed

[2016-06-04 17:17] danielstern commented on #1114
D'oh!
Thanks for the pointer! How did I miss that?

[2016-06-05 20:52] atkinchris opened #1117 "Transitive dependencies in node_modules are not unmocked when a manual mock is present"
*Brief*
When a manual mock is present, transitive dependencies for modules in `node_modules` are not unmocked.

*Expected behaviour*
When `unmock`-ing a module found in `node_modules`, we would expect it's transitive dependencies to also be unmocked. The prevents the consumer of the module having to unmock the entire dependency tree. This is asserted in the Runtime test for [`requireModuleOrMock`]

[2016-06-06 09:47] alanraison commented on #1111
This still does not work; here is an example spec:
[code]

This still results with Jest thinking fetchMock is a mock:
[code]

[2016-06-06 18:00] cpojer commented on #1111
Your code has a syntax error and it doesn't make much sense. Don't import fetch-mock, just do

jest.mock('fetch', () => require('fetch-mock'));

[2016-06-06 18:19] ColCh opened #1119 "return promise not works with fit"
with `it` is working nice, but if I change it to `fit`, it don't wait for promise

[2016-06-06 18:30] ColCh commented on #1119
It seems it's my fault

[2016-06-06 18:30] #1119 closed

[2016-06-06 18:30] alanraison commented on #1111
Perhaps you should look at the (fetch-mock documentation)[https://www.npmjs.com/package/fetch-mock]; this simply needs you to require fetch-mock and then supply mock fetch endpoints with the mock method. These are not jest mocks, yet jest seems to insist on treating them as such.

[2016-06-06 20:20] RandScullard commented on #1051
This is still a problem in 12.1.1. The problem starts in jest-cli/src/config/normalize.js with this statement, which was introduced in 6f2c71d5:

    config.testRegex =
      path.sep + (config.testDirectoryName || '__tests__') + path.sep +
      '.*\\.(' + extensions.join('|') + ')$';

After this statement executes on Windows, config.testRegex is `"\__tests__\.*\.(coffee|js|ts|json|node)$"` which

[2016-06-07 03:59] cpojer commented on #1051
yeah we should fix this. Do you care to send a pull request? :)

[2016-06-07 16:15] RandScullard commented on #1051
@cpojer I'd love to, but this is my first contact with this project, and at first blush the Windows support issue seems like a pretty deep one. For instance, I see that `runTests.js` isn't even supported on Windows. That makes it kinda tough to get started. :smile:

I can offer my $0.02 though: I see that a number of changes have been made recently around regular expressions and trying to make the

[2016-06-08 13:56] philipstanislaus commented on #277
@binarykitchen: can you elaborate a little bit how you got it going? I get the following error:

[code]

I then run Jest with
[code]

Many thanks!

[2016-06-09 17:44] dmitriiabramov opened #1120 "handle stdout/stderr from the tests"
right now whenever something is printed from within a test it's pretty random and breaks the output (esp if you're using json output format)

I think it'd be cool to wrap `console.*` methods and format the output. eg.

[code]
[code]

[2016-06-10 17:44] dmitriiabramov opened #1121 "--verbose fails with top level `it`"
[code]

will work, but

[code]
will fail with

[code]

[2016-06-10 17:46] dmitriiabramov commented on #1121
if we add static typing on tuesday, i'd be really happy to organize all that stuff into:
[code]

and test each of them separately

[2016-06-10 21:38] dmitriiabramov opened #1122 "[Hack idea] jest server and nuclide integration"
I think it would be really awesome to write a jest server that can execute tests for specific files and gather json information about the tests and send it to nuclide whenever we save a `-test.js` file.

We can add warning/notifications similar to what flowtype/eslint do.

It would be super awesome for TDDing.

![screen shot 2016-06-10 at 2 37 02 pm](https://cloud.githubusercontent.com/assets/9401

[2016-06-11 03:44] gillesruppert commented on #1122
Yes, this would be awesome. We should make the integration modular though so it could integrate with any notification system that interfaces with the protocol. This way integration with growl or OSX notifications or vim would all be just different packages. Next hackathon?

[2016-06-11 05:29] dmitriiabramov commented on #1122
@gillesruppert we were planning one hackathon this tuesday :)

[2016-06-11 06:05] gillesruppert commented on #1122
Yes, in my calendar. I will be there from around 1pm until everybody goes. :)

[2016-06-13 09:53] huanghaiyang opened #1126 "TypeError: Cannot read property 'push' of undefined"
when i use 'jest --config jest.json'

Runtime Error
  - TypeError: Cannot read property 'push' of undefined
        at ..\..\AppData\Roaming\npm\node_modules\jest-cli\src\reporters\VerboseLogger.js:78:22
        at Array.forEach (native)
        at groupTestsBySuites (..\..\AppData\Roaming\npm\node_modules\jest-cli\src\reporters\VerboseLogger.js:64:15)
        at VerboseLogger.logTestResults (..\.

[2016-06-14 18:34] #1086 closed

[2016-06-15 11:41] Jamakase opened #1165 "jest.unmock do not unmock directory if it's path differs from testing component"
Have faced next issue - in our project we have module-alias plugin, so we use something like

`import model from 'component/model'`

component path is an alias for 'childDir/component'

however when i try to test it, i have to use absolute path 'app/childDir/component/model'

but `jest.unmock('app/childDir/component/model` does not work. Jest still mocks this file.

Have you got any ideas of a suc

[2016-06-16 13:31] eur00t opened #1172 ""preprocessorIgnorePatterns" is ignored when running on Windows from drive root"
In my configuration there's something like this:

    "preprocessorIgnorePatterns": [
        "<rootDir>/path_to_libs/",
        "/node_modules/"
    ],

When I mount a project directory as a network drive (say `W:\`), jest doesn't ignore files in `W:\path_to_libs\` and babel transformation is applied.

I tried to dig this, and I see that `<rootDir>` is replaced with real path here:
https://github

[2016-06-16 14:32] seekshiva commented on #969
@AlexCppns did you find out what the issue was? I'm getting the same issue now 😟

[2016-06-16 18:05] megawac commented on #61
Can this be reopened, I am trying to mock the server (using [`sinon.fakeServer`](http://sinonjs.org/docs/#server_example) but because `jest` is resolving the wrong file `XMLHttpRequest`s aren't being used.

[2016-06-16 19:55] dmitriiabramov opened #1175 "React Native example"
we should probably add RN example to https://github.com/facebook/jest/tree/master/examples
I get asked about it a lot
cc @davidbrear

[2016-06-16 20:06] DavidBrear commented on #1175
For the sake of conversation, I've created https://github.com/DavidBrear/jest-react-native-demo which attempts to use jest, [react-native-mock](https://github.com/lelandrichardson/react-native-mock), and [enzyme](https://github.com/airbnb/enzyme) but something has been odd because shallow rendering does not create the element with any properties.

[2016-06-16 21:24] dmitriiabramov opened #1176 "jest.resetModuleRegistri() is not in the docs"

[2016-06-16 21:25] cpojer commented on #1176
It shouldn't be. It's only used internally at FB. I was meaning to kill it at FB and invert the behavior with a `jest.persistModuleRegistry()` fn. What do you think?

[2016-06-16 23:09] cpojer commented on #1175
I'll focus on this next week with the release of Jest 14. We are skipping 13 because we are superstitious. cc @zpao.

[2016-06-17 06:35] Daniel15 opened #1180 "testFileExtensions option fails on Windows"
When `testFileExtensions` is set in `project.json`, Jest fails to find any of the tests.

Similar issue to https://github.com/facebook/jest/pull/1044 - `path.sep` needs to be escaped here: https://github.com/facebook/jest/blob/master/packages/jest-config/src/normalize.js#L123. The regex is becoming something like:
[code]

When it really needs to be:
[code]

[2016-06-17 11:36] iamchenxin opened #1181 "How to test `Graphql` with jest?"
When test `Graphql` with jest.
test any js file imported `Graphql`, will get this error :
[code]
Are there some standard configuration to fix this?
or must write preprocessor or mock for `graphql`?

Seems jest can not auto generate mocks for `graphql`,and why the error hint is pointed to _global.js.

[2016-06-17 13:52] sampeka commented on #1088
I'm still experiencing this problem with 12.1.1, I'm also using `babel-jest`.

[code]

[2016-06-17 16:10] BrunoQuaresma opened #1182 "Testing only *-test.js files"
It is possible create a config for the jest test only *-test.js files? Current, it test all files inside test folder include the factories. My fear is that when many files are created the test becomes very slow.

 PASS  app/bundles/Supernova/test/components/Table/Cell/Data/Main-test.js (4.812s)
 PASS  app/bundles/Supernova/test/components/Table/Body-test.js (4.82s)
 PASS  app/bundles/Supernova/tes

[2016-06-17 16:22] cpojer commented on #1182
Yes, see the `testRegex` config option.

[2016-06-17 16:32] #1182 closed

[2016-06-17 17:10] cpojer commented on #1181
You should unmock `babel-runtime` and graphql.

[2016-06-17 17:10] #1181 closed

[2016-06-17 17:13] BrunoQuaresma commented on #1182
I test this in my package.json

"jest": {
    "testDirectoryName": "tests",
    "testRegex": "*-test.js$",

but not work..

[2016-06-17 17:14] cpojer commented on #1182
Because that's not a valid regex. Try `(.*)-test.js$`

[2016-06-17 17:35] BrunoQuaresma commented on #1182
@cpojer the -factory.js file are called yet :/

 PASS  app/bundles/Supernova/tests/components/Table/Body-test.js (4.868s)
 PASS  app/bundles/Supernova/tests/components/Table/Cell/Data/Main-test.js (4.88s)
 PASS  app/bundles/Supernova/tests/components/HelloWorld-test.js (4.981s)
 PASS  app/bundles/Supernova/tests/components/Table/Cell/Data/Title-test.js (0.224s)
 PASS  app/bundles/Supernova/tests/c

[2016-06-17 17:36] cpojer commented on #1182
you should specify testDirectoryName when you are using testRegex.

[2016-06-17 18:15] BrunoQuaresma commented on #1182
@cpojer thanks. It works!

[2016-06-17 18:45] BrunoQuaresma opened #1186 "Jest unmock config"
Exists a config to pass a list of files to not mock? Example.: I have a folder called helpers to my tests and i need use jest.unmock for each helper and components files.... like this.:

jest.unmock("../../../components/Table/Main")
jest.unmock("../../../components/Table/Head")
jest.unmock("../../../components/Table/Body")
jest.unmock("../../../components/Table/Row")
jest.unmock("../../../componen

[2016-06-17 19:19] MattFoley opened #1187 "Imports using providesModule broken in the latest Jest"
After originally using 0.9.x with no problems, I moved to update to the latest today 0.12.x, and find that my test suite has problems resolving any of my modules.

My React Native code base makes heavy usage of `@providesModules MyComponentName` in order to also use `import MyComponentName from 'MyComponentName`.

This worked fine in 0.9.x, but in the latest I'm receiving many variations on this e

[2016-06-17 21:39] cpojer commented on #1186
Yes, see `unmockedPathPatterns`. Please note this is not a help forum. Please read the documentation and API docs carefully and ask questions on stackoverflow. Thank you!