[2020-01-31 16:48] conorriches commented on #9488
I'm experiencing this exact same issue too, when running Jest with Storybook:

In my `jest.config.js` file I have this:

` transform: {
    '^.+\\.(js|jsx)?$': 'babel-jest',
    '^.+\\.mdx$': '@storybook/addon-docs/jest-transform-mdx',
  },
`

[2020-01-31 16:49] EvHaus commented on #9457
In my `package.json` i set:

[code]

Re-ran `npm install`, and then manually deleted `node_modules/jest/micromatch` (which was at version 4). Then re-ran my tests.

Unfortunately, I'm still seeing many "JavaScript heap out of memory" errors.

Am I doing the downgrade correctly?

[2020-01-31 16:57] SimenB commented on #9457
`resolutions` needs `yarn`, `npm` hasn't implemented it yet (it's on the roadmap for v7: https://blog.npmjs.org/post/186983646370/npm-cli-roadmap-summer-2019)

[2020-01-31 17:01] andrcuns commented on #9492
I think it would be easier to do in `@knapsack-pro/jest` as technically it's not so much of an issue with jest or istanbul reporters but rather how and when they are called.

[2020-01-31 17:13] benmonro commented on #9457
@EvHaus until npm v7 comes out you can use resolutions in npm w/ this package: https://www.npmjs.com/package/npm-force-resolutions

[2020-01-31 17:31] jaybarra commented on #8983
Current workaround I found is to monkey-patch redis.

[code]

[2020-01-31 22:12] ellismarkf commented on #1889
I know this issue is closed, but another possible explanation for this issue is that there's a bug in in jest at certain versions where passing the `--coverage` flag runs the tests in watch mode, and therefore never instruments the coverage reporters.

Quick litmus test it to just add `--watchAll=false` to your command.

[2020-01-31 23:24] ArturT commented on #9492
I've released `@knapsack-pro/jest` 2.7.0 and here is PR that solves problem https://github.com/KnapsackPro/knapsack-pro-jest/pull/13 I use a separate `coverageDirectory` option with uuid in directory name (`coverageDirectory/uuid`) for each run as @SimenB proposed in https://github.com/facebook/jest/issues/9492#issuecomment-580787664

@andrcuns @deser Here you can find an example of how to generat

[2020-02-01 00:31] rgomezp commented on #5292
I am also looking for a way to do this

[2020-02-01 07:47] chundeluoyetian commented on #9488
@conorriches But I already did this.My jest.config.js is as below:
[code]

[2020-02-01 07:49] chundeluoyetian commented on #9488
But I already did this.My jest.config.js is as below:
[code]

[2020-02-01 14:41] xgbuils opened #9494 "pretty-format: selected option attribute is not displayed."
## 🐛 Bug Report

pretty-format does not print the `selected` attribute for DOM option element.

It could be interesting to fix it for better error reporting when testing with jest & react-testing-library. We can find an example in [this issue from react-testing-library](https://github.com/testing-library/react-testing-library/issues/581#issue-557579918)

## To Reproduce
Create an option element an

[2020-02-01 15:36] SimenB commented on #9426
Fixed by #9469

[2020-02-01 15:36] #9426 closed

[2020-02-01 18:05] reduxdj commented on #5423
[code]
It doesn't respect putting .git in a list of testPathIgnorePatterns in 24.9.0
Error: Cannot parse /Users/me/project/.git/logs/refs/heads/package.json as JSON: Unexpected number in JSON at position 1

[2020-02-01 18:58] fezi commented on #9485
Is this true for all resolved versions? Didn't look like to me. However I see currently pretty-format version resolved by jest seems to be correct. I close.

[2020-02-01 18:58] #9485 closed

[2020-02-01 20:02] jeysal commented on #9371
What you are referring to with the `classnames` is that the boolean is at some later point *used* in a conditional - for example inside the `classnames` package. In that case, the coverage will be tracked where that branching happens, but not where the boolean value is first created.

[2020-02-01 20:13] jeysal commented on #9381
Hi, `toBe` should indeed only suggest `toStrictEqual` if that would pass, else `toEqual` if that would pass, else nothing - that's what the current implementation tries to do.
To figure out why it is not doing that in your case, we'll need an issue with a minimal reproduction though. Based on the screenshots, it's hard to find out what is causing this problem (or if there is a problem, since the o

[2020-02-01 20:13] #9381 closed

[2020-02-01 21:02] jeysal commented on #7803
I disagree with this as a general statement - and I think there are other programs where the sensible thing is to forward an error caused by something that is not under the control of the program. For example, you wouldn't want `yarn run somescript` to swallow the exit code of `somescript` and just return 0 because it successfully executed `somescript`.
I think this choice needs to be made on a ca

[2020-02-01 21:26] mAiNiNfEcTiOn commented on #9371
👍 Thank you for taking the time to reply. I really appreciate it.
Yes, my team as already moved on with using ternary in such situations in order to state different branches when analyzing coverage 😉

Although I understand your point and do not disagree with it, it forces us to create a ternary operation when we're receiving a property on a React component.
The creation of the boolean is in fact d

[2020-02-01 21:44] jeysal commented on #9371
I also think you may be overusing the coverage metric here, it can never tell you if you're actually testing all relevant cases on its own.
Code reviews are still required so that a human can spot at the usage of `classnames` that this piece of code requires a test case for "has the class" and one for "does not have the class" :)

[2020-02-01 21:51] jeysal commented on #9470
Looks like the same problem will exist with `.parent`?
I think we need to drop the "swapping out the module registry" approach and instead introduce an optional "first check the isolated module registry if it exists" *somewhat* similar to how we first check for mocks before real modules.
We can then enable that logic for certain types of lookups (like standard require) but not others (like `.paren

[2020-02-01 23:25] mAiNiNfEcTiOn commented on #9371
Agree. We're not avoiding code review in any case, though. We're just trying to get this type of feedback before the code review process (via git hooks and such). I compare that process to the same as linting code... It is to ensure that standards are met where it can analyze 😉

[2020-02-02 06:51] cieldon32 opened #9497 "Can't find module by typescript path"
I had set:
`
    "moduleNameMapper": {
      "@libs/db/(.*)": "<rootDir>/libs/db/src/$1",
      "@libs/crud/(.*)": "<rootDir>/libs/crud/src/$1",
      "@libs/common/(.*)": "<rootDir>/libs/common/src/$1"
    }
`
but ,

Cannot find module '@libs/crud' from 'polls.controller.ts'

how to fix it?

[2020-02-02 07:35] cieldon32 commented on #9497
I fond the solution:
"^@libs/crud(.*)$": "<rootDir>/libs/crud/src/$1",

[2020-02-02 08:07] G-Rath commented on #9477
I've got this as well - I'd think it's b/c of #9203, but I've attempted a revert to no effect.

I'll have a poke around to see if I can find what has caused this to regress from 24.9 - will also need to find a way to make a test; jest might already have some "run twice" tests, but not hopefully something can be hacked together.

[2020-02-02 09:07] SimenB commented on #9497
Great you solved it, but please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2020-02-02 09:07] #9497 closed

[2020-02-02 11:02] cieldon32 opened #9498 "My controller use a strategy, when I jest it, i got a error, and I don't know how to fix it!!"
I use nestjs and passport-jwt
my model is:
`
import { Module } from '@nestjs/common';
import { PollsController } from './polls.controller';
import { JwtStrategy } from './jwt.strategy';

@Module({
  controllers: [PollsController],
  providers: [JwtStrategy]
})
export class PollsModule {}
`
My strategy is :
`
import { Strategy, StrategyOptions, ExtractJwt } from 'passport-jwt';
import { PassportStr

[2020-02-02 11:04] SimenB commented on #9498
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2020-02-02 11:04] #9498 closed

[2020-02-02 11:05] SimenB commented on #9470
@jeysal yeah, agreed. The current approach is a bit too naive

[2020-02-02 11:15] SimenB commented on #9494
Our printer is pretty generic, and only prints what's in a node's `attributes` field (see https://github.com/facebook/jest/blob/ffdaa751f5356de5bbdd0a906c30f31558fa2f3a/packages/pretty-format/src/plugins/DOMElement.ts#L81) and for an `option` that's only `value`. We'd have to special-case `option` to look for `selected`, and I don't think that'd scale as it'd always be ad-hoc...

@pedrottimark tho

[2020-02-02 15:20] #8461 closed

[2020-02-02 18:29] neojski opened #9500 "prettierPath not working"
## 🐛 Bug Report

prettierPath is not working

## To Reproduce

Steps to reproduce the behavior:
[code]
[code]

## Expected behavior

It should work just like it works when I set `prettierPath` to "prettier". I originally didn't want to do it because I didn't wan to install prettier globally. Installing it globally fixed my immediate issue.
[code]

## Link to repl or repo (highly encouraged)

## en

[2020-02-02 19:28] #9432 closed

[2020-02-02 20:01] pedrottimark commented on #9494
To follow up what Simen wrote, it depends whether:
 * the **property** is assigned, see above https://github.com/facebook/jest/issues/9494#issue-558549909
* the **attribute** is set, see below:

[code]

[code]

Any comments are welcome which way `selected` changes in tests of application behavior:
* for various front-end libraries
* for various testing libraries

[2020-02-03 04:45] lamhieu-vk commented on #8397
can you provide a mini repo to reproduce?

[2020-02-03 05:33] fisker opened #9502 "`require.resolve` with options seems have different result in some case"
## 🐛 Bug Report

`require.resolve` with options seems had different result in some case

[code]

result differently with `require.resolve` from Node.js

## To Reproduce

Steps to reproduce the behavior:

A reproduction repo https://github.com/fisker/jest-require-resolve-bug , see `readme.md` in that repo.

## Expected behavior

Should try resolve `foo` package in `node_modules`, instead of returni

[2020-02-03 07:49] weelillad commented on #9471
Courtesy of my colleague @jchiam, this allows me to mock `window.location.assign`:

[code]

It might work for the other properties in `window.location`, too.

[2020-02-03 08:52] SimenB commented on #9502
Implementation of `paths` came from #6471 - it _seems_ to me (without having dug deep into it) that we make paths behave relative meaning we find the `foo` directory without the path provided being relative.

https://github.com/facebook/jest/blob/964dc1619b8c5345a648ef79bcd87c087995255a/packages/jest-runtime/src/index.ts#L685

@jeysal would you be able to take a quick look?

[2020-02-03 09:51] jeysal commented on #9502
Yes, perhaps this evening, not sure

[2020-02-03 12:11] SimenB commented on #9477
I've bisected this, it regressed in #9278.

@G-Rath thanks for looking into it! For a test, there's no need to run twice, just have the middle example from the OP and run that

[2020-02-03 13:51] gaaliche opened #9503 "jest: failed to cache transform results"
## 🐛 Bug Report

I'm using jest@25.1.0 on Mac with this config
[code]
## To Reproduce

When I run my tests, 1st time I got no errors but then systematically I got this error :
[code]
I've read some similar old issues but none gave a clear way to fix this.
Could someone help please?
Thanks.

[2020-02-03 14:01] SimenB opened #9504 "Implement async code transformations"
EcmaScript Modules can (actually must, but easy to wrap the sync stuff in a promise) resolve asynchronously. While it's in no way a blocker for ESM support in Jest, it would be nice to add support for async transforms to be used.

This logic should for now not impact anything in Jest beyond `@jest/transform` as Jest wouldn't use it until ESM support is in place.

I'm thinking we can add a `.transf

[2020-02-03 14:10] SimenB opened #9505 "Implement async dependency resolution"
Similar to #9504, but for dependency resolution. Like there, this wouldn't be used by Jest just yet, but could (and would, if support is implemented) be used by the ESM support. This logic is implemented in `jest-resolve`.

~I wonder if it makes sense to reintroduce `resolve` as a dependency since this already has an async code path. That is callback based, but just promisifying that should work f

[2020-02-03 15:19] dylanwulf commented on #8397
@lamhieu-vk https://github.com/dylanwulf/jest-25-detect-leak
`npm run test`: run test with jsdom environment
`npm run test:sixteen`: run test with jest-environment-jsdom-sixteen
`npm run test:node`: run test with node environment

When using jsdom or jest-environment-jsdom-sixteen it reports a memory leak even though the only thing in the test is a console log. When using the node environment, it

[2020-02-03 15:20] M4rk9696 opened #9506 "Tests marked with each are not added in total count"
## 🐛 Bug Report

Tests within each are not considered in total test count. If a test contains on `test.each` the test file is not being run and `Your test suite must contain at least one test.` is thrown

Noticed this in #9326

cc\ @mattphillips @SimenB

## To Reproduce

Steps to reproduce the behavior:

In the following total test count is considered as zero
[code]

## Expected behavior

Tests wi

[2020-02-03 15:35] szekelyadam commented on #328
If you'd like to be even lazier you can use the name only, too:
[code]

[2020-02-03 16:01] SimenB commented on #9506
It's because the API is used wrong.

[code]

We should probably detect that `bind` is called with more arguments than we expect. @mattphillips thoughts?

[2020-02-03 16:06] SimenB commented on #8397
@dylanwulf mind opening up a new issue with that? Seems like we're doing something the the globals in jsdom that we don't clean up properly 🙂

[2020-02-03 16:15] dylanwulf opened #9507 "[v25] --detectLeaks option always reports a leak when using jsdom environment"
## 💥 Regression Report

Starting in v25, the --detectLeaks option will always report a leak when using env=jsdom.

## Last working version

Worked up to version: v24.9.0

Stopped working in version: v25.0.0

## To Reproduce

https://github.com/dylanwulf/jest-25-detect-leak
`npm run test`: run test with jsdom environment
`npm run test:sixteen`: run test with jest-environment-jsdom-sixteen
`npm run

[2020-02-03 16:16] dylanwulf commented on #8397
@SimenB #9507

[2020-02-03 16:16] kirillgroshkov commented on #5311
any update on this?

[2020-02-03 16:27] SimenB commented on #9507
Thanks! We probably mess with some global or some such we don't cleanup...

[2020-02-03 17:58] jrparish opened #9508 "Coverage threshold and reporting seem to use different calculations"
## 🐛 Bug Report

Using default runner/reporter, global coverage is failing even though "All Files" in the summary shows the coverage as being met.

![image](https://user-images.githubusercontent.com/5173987/73677384-bf24c080-467b-11ea-95b9-d7e566b32ef6.png)

![image](https://user-images.githubusercontent.com/5173987/73677595-38241800-467c-11ea-8e0d-6fd6e15f2b76.png)

## Expected behavior

Coverage

[2020-02-03 17:59] davimello28 commented on #3553
I don't get it. If I run with Jest experimental feature `--detectLeak`, it clearly says that I should not keep references to the global scope.

![image](https://user-images.githubusercontent.com/3607502/73677667-809bff80-4695-11ea-88bb-2dc1f386887d.png)

Now it is a feature?

[2020-02-03 18:06] jrparish commented on #9508
One of my associates just figured out it was due to us having overrides, and global is calculated based on the remaining files after the overrides get calculated.

It's in the documentation - https://jestjs.io/docs/en/configuration.html#coveragethreshold-object

[2020-02-03 18:06] #9508 closed

[2020-02-03 18:19] davimello28 commented on #5234
Also with me in **Jest v25**.

[2020-02-03 18:23] dylanwulf commented on #5234
I submitted a new issue for this problem in v25: #9507

[2020-02-03 18:26] jflatow commented on #2235
This is clearly an in-demand feature, it has been popping up again and again going on 4 years now.

[2020-02-03 18:32] davimello28 commented on #9507
This very minimal test point leaks
[code]
run with `./node_modules/jest/bin/jest.js --detectLeaks`.

[2020-02-03 19:29] jeysal commented on #9502
Sooo this actually used to be Node's behavior back when I implemented it. Try it with Node <= 11 and see that it also resolves `test.js`. It changed in Node 12, probably with https://github.com/nodejs/node/pull/23683.
I'm not sure how to deal with this, looks like we'd need to introduce a conditional on the Node version? :/

[2020-02-03 19:50] fisker commented on #9502
How about try `require.resolve` test on self(__filename) to detect node behavior. Will that work? I'm new here

[2020-02-03 20:13] paulrehkugler opened #9509 "Mounting a <video muted /> JSX element logs a React error to the console"
## 🐛 Bug Report

Hi Jest folks! I have found that mounting a `<video>` JSX element that contains the `muted` attribute logs a React error when using `testEnvironment: "jsdom"`.

## To Reproduce

The following test will output an error in the console.
[code]

However, this test will not.
[code]

## Expected behavior

These tests should not `console.error()` a warning.

**Note:** This may be a `jsdo

[2020-02-03 21:09] aldarund commented on #9490
Can confirm, jest 25.1 stopped to collect coverage from vue files. 24.9 is fine.

[2020-02-03 21:17] rtsao opened #9510 "Module identity is not preserved for symlinks when using the browser package.json field"
## 🐛 Bug Report

Jest fails to preserve module identity for symlinks when using the `browser` package.json field.

## To Reproduce

Suppose we have the following dependency graph and these packages are installed via symlinks:

[code]

Jest treats `reproduction-example/needs-preserved-id` and `reproduction-example/has-browser-field/needs-preserved-id` as distinct modules if `has-browser-field` spec

[2020-02-03 22:15] jeysal commented on #9509
You can try out https://www.npmjs.com/package/jest-environment-jsdom-sixteen to see if it's still a problem with that

[2020-02-03 22:17] jeysal commented on #9502
Yeah I guess feature detection would be nicer than plain version checks.
Although I guess the PR I linked was considered a 'fix' type thing to align the behavior with the docs, so maybe we just 'fix' (change) it here as well?

[2020-02-03 22:58] rtsao commented on #9510
Found a duplicate issue: https://github.com/facebook/jest/issues/7840

[2020-02-03 23:29] peterennis opened #9512 "[v25] - [ ERROR ] runJest: TypeError: runCLI is not a function"
## 🐛 Bug Report

[ ERROR ] runJest: TypeError: runCLI is not a function

## To Reproduce

Steps to reproduce the behavior:

Repo: https://github.com/adaept/ae-icon5-component

[code]

Downgrade to 24.9 shows this result:

[code]

The component has an empty spec test file so the report from
jest 24.9 is correct.

The error message from jest 25 is inaccurate and misleading.

Ref: https://github.com/

[2020-02-04 01:10] kristina-bukharova opened #9513 "Spy is not being called with the expected/correct parameters when parameter object is mutated within function"
## 🐛 Bug Report

Calling expect(some spied-on function).toHaveBeenCalledWith(params) does not behave as expected when the parameter object is mutated within the spied function.

## To Reproduce

Consider this function in the class MyClass:
[code]

In my test file, I have:
[code]
This fails because mySpyFunction says it has been called with { field1: "new" }.

## Expected behavior

I expect the ass

[2020-02-04 02:58] codeviking commented on #8926
We ran into this recently. Ultimately it was because:

* We were using `mocha` as a test runner.
* We added `expect`, which depends on` @jest`.
* `@jest` defines `describe`, here: https://github.com/facebook/jest/blob/master/packages/jest-types/src/Global.ts#L76
* `@types/mocha` defines `describe` as well, here: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/mocha/index.d.ts#

[2020-02-04 04:28] terite commented on #8832
I was able to reproduce this with mathjs 6.6.0 and jest 25.1.0 when running with the following command

[code]

With the following command, jest detects no leaks
[code]

Here is the repository I used for testing - https://github.com/terite/jest-unleak-modules

[2020-02-04 05:55] lamhieu-vk commented on #9507
I debugged and this issue from `jsdom` package, I will try to fix it and update in new version in Jest.

[2020-02-04 07:02] rubendmatos1985 commented on #7623
A bit late but jest still fails with async and the documentation says very clear how to use async code. Either you have to remove this from the docs or you have to fix this issue.
` Promises
If your code uses promises, there is a more straightforward way to handle asynchronous tests. Return a promise from your test, and Jest will wait for that promise to resolve. If the promise is rejected, the te

[2020-02-04 07:51] SimenB commented on #9502
Seeing how many issues were opened due to the changed behavior in v12, I think feature detection is the correct way. That way people avoid false negatives (and positives) across node versions. Jest's `require` should behave like the native `require` as much as possible, warts and all

[2020-02-04 07:54] SimenB commented on #7623
`describe` is not a test, it's just a grouping. You can use `async` _in_ `test` and `it`, but the `test` function itself must be defines synchronously.

https://jestjs.io/docs/en/troubleshooting#defining-tests

[2020-02-04 07:58] SimenB commented on #8926
This was fixed in Jest@25 (and `expect@25`) btw - it should play nice with mocha's global definitions. #9415

[2020-02-04 08:18] rubendmatos1985 commented on #7623
Ohh ok I understand. Thanks a lot

[2020-02-04 09:21] rossknudsen opened #9515 "Proposed changes for malformed tests"
## 🚀 Feature Proposal

A change to the way that malformed tests are handled (e.g. don't have expected arguments) by running as much of the code as possible to provide the user as much useful information about what went wrong and how to fix it.

## Motivation

This is dealing with an edge case, where tests have not been implemented correctly.  This typically is due to missing arguments, or using th

[2020-02-04 09:34] SimenB commented on #9515
seems reasonable. Right now we throw, which is why it stops where it does. Instead marking the tests as failing and moving on might make sense. Would you be willing to work on this feature? At least for circus, I don't really care about Jasmine.

Current throwing logic lives here: https://github.com/facebook/jest/blob/964dc1619b8c5345a648ef79bcd87c087995255a/packages/jest-circus/src/index.ts
Dispa

[2020-02-04 09:50] SimenB commented on #9513
A duplicate of #434 etc. A PR for the logic was rejected, see #4693. Nothing much has changed I think... Would be cool to make it pluggable somehow, but I'm not sure how that would look

[2020-02-04 09:50] #9513 closed

[2020-02-04 10:11] SimenB commented on #9512
This is due to how `stencil` import `runCLI` here: https://github.com/ionic-team/stencil/blob/45821831683d0a468b1e38a3179b4c03c2acba7a/src/testing/jest/jest-runner.ts#L31. This was changed in https://github.com/facebook/jest/pull/8874/files#r317470510

They can change their import from `const { runCLI } = require('jest-cli');` to `const { runCLI } = require('@jest/core');`. That package started sh

[2020-02-04 10:11] #9512 closed

[2020-02-04 10:11] galishmann commented on #9459
Same issue on Windows.

[2020-02-04 11:46] amirsaeed671 commented on #6933
this fixed my problem, I installed @babel/preset-env and added to babel.config.js and it fixed

thanks @jmayergit

[2020-02-04 13:48] anneFly commented on #9459
Hello, I don't know if that helps but it doesn't seem to be a pure Windows problem because I ran into the exact same issue on Linux with tmux. Since the new version the diff is unreadable for me. I'm on ArchLinux, using XTerm with tmux and it looks like this:
![image](https://user-images.githubusercontent.com/2273288/73749937-9d4f3a80-475c-11ea-9540-de231661bb38.png)

When I try it only in XTerm w

[2020-02-04 13:55] SimenB commented on #9459
We purposefully changed away from green and red in Jest 25 (again, see #9132), but it should definitely still be readable

[2020-02-04 14:57] jsonnull commented on #9383
@ellioseven Did you ever figure this out? I'm also having this problem.

[2020-02-04 17:07] codeviking commented on #8926
@SimenB Great! I confirmed that `expect@25` resolved the issue.

[2020-02-04 19:25] rodoabad commented on #6194
How do you use the test sequencer to randomize tests? instead of the usual sort?

[2020-02-04 21:34] ellioseven commented on #9383
@jsonnull It turns out that you need to specify at least two projects for the setting to work.

[2020-02-04 21:55] mdelclaro commented on #6937
bump

[2020-02-04 21:59] mdelclaro commented on #6937
Running with `jest --forceExit --detectOpenHandles` seems to work as expected. But it seems like a hack...

[2020-02-04 22:55] TheJaredWilcurt commented on #9459
I agree that the red/green can be confusing, but all of the "improved" examples shown in #9132 do not look better. **Especially** anything with a yellow or white background. It's just painful on the eyes.

[2020-02-05 00:47] nk2580 commented on #6390
just as an FYI this will not work if you do code coverage, istanbul will inject values for inspection and this breaks string equality

[2020-02-05 01:47] killerchip commented on #6390
@nk2580 Using jest code coverage was not an issue for me. Haven't tried instanbul though.

[2020-02-05 02:02] lamhieu-vk commented on #9507
hi @SimenB , ref https://github.com/jsdom/jsdom/pull/2825
jsdom maybe not release a bug fix version 15. Will I downgrade the current version of jsdom to use or upgrade to the new friend session? Upgrading to the new version will raise the lowest supported node version, I don't think this is a good way.

[2020-02-05 02:26] jensbodal opened #9517 "jest --silent --no-silent no longer negates silent flag"
## 💥 Regression Report

Our `package.json` script runs jest with the `--silent` flag. Previously I was able to override this by passing `--no-silent` flag when running the script.

[code]

## Last working version

Worked up to version: `~24.8.0` (specifically `24.8.0` is installed)

Stopped working in version: `~25.1.0`

## To Reproduce

1. Create `package.json` script:
[code]
2. Add a `console.lo

[2020-02-05 08:08] fogost opened #9518 "unmock does not work as expected"
## 🐛 Bug Report

I want to replace mock for particular test with a real module. So i'm trying to use ```jest.requireActual``` with ```jest.unmock```(unfortunately this does not work). Is there any way to get real module for particular test?

## To Reproduce
[code]
[code]

[code]

## Expected behavior

Mock should be replaced with real module.

## Link to repl or repo (highly encouraged)

https://g

[2020-02-05 08:28] SimenB commented on #9517
We use [`yargs`](https://github.com/yargs/yargs) for CLI args parsing. Jest 24.8 used v12 and Jest 24.9 used v13. For Jest 25 we upgraded to v15. Quick testing shows this changed in yargs 14.

Test file:

[code]

`yargs@<=13`

[code]

`yargs@>13`

[code]

This feels like a bug... We tell yargs we want a boolean, and it gives us back an array of booleans? @bcoe thoughts?

[2020-02-05 08:57] SimenB commented on #9507
You can use https://www.npmjs.com/package/jest-environment-jsdom-sixteen to get v16 in your tests. Jest itself well upgrade the default version in Jest 26

[2020-02-05 09:02] lamhieu-vk commented on #9507
@SimenB in Jest 26, `jest-environment-jsdom` should be downgrade version of jsdom?

[2020-02-05 09:04] SCaptainCAP commented on #6937
@mdelclaro This hack fixes warnings and make test exit, but if you really have "Open Handles" (non-resolved promises) you won't be able to detect them. So I think it is not solution to this problem

[2020-02-05 09:07] SimenB commented on #9507
Jest 26 is months away, and we'll upgrade, not downgrade. So no need for a PR yet 🙂

If you want the old version of jsdom back, you can install `jest-environment-jsdom@24` and use that through config.

[2020-02-05 09:24] rossknudsen commented on #9515
Yes, I'm keen to have a go at it.  I have already played with the code, but in `jest-Jasmine2` rather than where you've linked.  So I'll have to figure out what the difference is.

[2020-02-05 09:25] SimenB commented on #9515
If you're willing to also fix it in jest-jasmine that's great 👍 Any changes must also land in circus though 🙂

[2020-02-05 09:41] DenKorn commented on #5204
No, this issue regards using Jest without Babel. I guess the issue should be reopened.

[2020-02-05 09:55] SimenB commented on #5204
This issue explicitly sets `babel-jest` up to transpile `mjs`, look at the config in the OP.

If you wanna track_native mjs support in jest, follow #4842 and #9430.

[2020-02-05 10:35] SimenB commented on #2925
Looking at this now in 2020, I think we should revert course and go back to using the `resolve` package.

- it is excellently maintained these days
- it has `packageFilter` which we can use to lookup `browser` instead of `main` field and drop the `browser-resolve` dependency
- it has a pluggable `readFile`, `isFile` and `isDirectory` functions, so if we want to we can use HasteFS to implement its

[2020-02-05 10:43] cpojer commented on #2925
Yeah that makes sense. The main intent of this issue was to build a really fast resolver, I don't care as much about the implementation details. Resolution is one of the hottest paths during a test run, so a 20% improvement for resolution may result in a 10-20% improvement in overall test runtime.

[2020-02-05 11:11] cooervo commented on #1815
this works for me to ignore all snapshot test for example:

`jest --coverage --testPathIgnorePatterns=./test/jest/snapshot/*`

[2020-02-05 12:15] jeysal commented on #9515
Any questions about what jasmine/circus are / how they relate to each other let us know, this has been confusing for many contributors

[2020-02-05 12:19] jeysal commented on #9518
`main` is still the old module. E.g. `main = jest.requireActual("./getData");` would work.

[2020-02-05 12:19] #9518 closed

[2020-02-05 12:28] SimenB commented on #9515
Might be an idea to write some prose for the website

[2020-02-05 14:17] SimenB commented on #6194
[code]

[2020-02-05 15:28] MathijsMeijer commented on #9360
Just ran into this issue. It essentially comes down to e.g. `require('path').resolve instanceof Function` returning `false` in Jest context, preventing upath from reimplementing the path functions ([see upath.coffee#L21](https://github.com/anodynos/upath/blob/master/source/code/upath.coffee#L21)). I guess that makes this issue a duplicate of #2549.

[2020-02-05 15:32] jeysal commented on #9360
Ahh. yay it's that one again 🙈

[2020-02-05 17:08] cnt000 commented on #3845
Hi all, I fix like this after Simen tip:

**jest.config.js**
`module.exports = {
  transform: {
    '\\.js$': ['babel-jest', { configFile: './Configuration/babel.config.js' }]
  },
  roots: ['../']
};`

**babel.config.js**
`presets: [
    [
      '@babel/preset-env',
      {
        targets: {
          node: 'current'
        }
      }
    ]
  ]`

An example maybe can help someone in the future.

[2020-02-05 18:08] kimwilson commented on #9488
Also experiencing this issue using jest and storybook/storyshots -- our jest config is default nextjs and it had been working prior to updating dependencies

[2020-02-05 18:46] garrettmaring opened #9522 "Add `advanceDateByTime`"
##  🚀 Feature Proposal

Jest has a great mocking for timers with `useFakeTimers` and `advanceTimersByTime`. It'd be very useful to have a similar set of utilities for setting the global `Date.now()` and manually advancing it.

## Motivation

Testing `Date` related logic.

## Example

An example of code that could be tested with this feature.

[code]

## Pitch

`Date` related code is a central comp

[2020-02-05 19:06] rodoabad commented on #6194
@SimenB here's a ❤️ for you. Thanks.

[2020-02-05 19:13] rodoabad commented on #6194
I tried @SimenB but tests were still not random.

[2020-02-05 19:20] SimenB commented on #6194
Per file, tests within a file is always ran in declaration order

[2020-02-05 19:26] SimenB commented on #9522
Duplicate of #2234, will be solved by #7776

[2020-02-05 19:26] #9522 closed

[2020-02-05 20:39] enriqu3l commented on #8379
Any update here?

As far as I know, this was a previous bug that appeared again.

Currently I am using the workaround of adding  `if(skip)return` inside of beforeAll.

[2020-02-05 21:16] bcoe commented on #9517
@SimenB you should be able to address this by passing a configuration setting to yargs, we've made this behavior more explicit, see:

https://github.com/yargs/yargs-parser#duplicate-arguments-array

Set `duplicate-arguments-array` to `false`:

[code]

[2020-02-05 21:55] G-Rath commented on #9477
@SimenB can you assign this to me? I've got a fix incoming.

[2020-02-05 22:07] SimenB commented on #9517
Thanks! Through some trial and error I got to `yargs(process.argv.slice(2)).parserConfiguration({})` 😀

[2020-02-05 22:46] jeysal commented on #9502
I'll put it on my list, but if anyone else wants to pick this up, just leave a message here and have a go!

[2020-02-05 22:47] SimenB commented on #9502
Since we've merged the migration to `resolve` now (which implements `paths`) we might wanna move over to `jest-resolve` and use that?

[2020-02-05 23:09] EvHaus commented on #9457
Sorry for the delay. Used `npm-force-resolutions` (which is doing the right thing) to lock `micromatch` to v3. Unfortunately, it didn't make my heap errors go away.

So for me, it's still `jest-environment-jsdom-fourteen@1.0.0` to blame, as mentioned here: https://github.com/facebook/jest/issues/9457#issuecomment-579423330

Resolving jsdom to `thirteen` is what fixes it.

[2020-02-05 23:14] jeysal commented on #9502
Not sure, I haven't looked into it, would that integrate with mocks etc., so all the things that `jest-runtime` handles?

[2020-02-05 23:15] alexbarnsley opened #9524 "Memory increasing in empty project"
## 🐛 Bug Report

There are technically 2 issues (but this report will focus on the memory issue)

1) Memory increases with every test that is performed.
2) There was a regression between v23 and v24 which resulted in slower tests

## To Reproduce

Steps to reproduce the behavior:

Create a loop of many tests and run them. I tested using 1000 tests in 100 files (100k tests), but the same can be don

[2020-02-06 01:44] #9477 closed

[2020-02-06 01:57] #8910 closed

[2020-02-06 04:58] yume-chan opened #9526 "Jest crashes on Windows if regexForTestFiles provided from cli is a number"
## 🐛 Bug Report

I have test files named by numbers.

When I want to run one of them from command line, jest crashed.

## To Reproduce

Steps to reproduce the behavior:

1. run `npx jest 1`

## Expected behavior

Jest run tests matched by `1`.

It worked on macOS, but not Windows.

## Actual behavior

Output:

[code]

https://github.com/facebook/jest/blob/5dcc48075f22d581864f381f20bc8b257d2a73cd/p

[2020-02-06 08:18] chundeluoyetian commented on #9488
@kimwilson so do you have some solutions or give some suggestions?

[2020-02-06 08:45] SimenB commented on #9526
That's odd! Wanna send a PR fixing it? we do `patterns.map(replacePosixSep)` there, just a `.map` before making sure everything is a string makes sense.

https://github.com/facebook/jest/blob/481077b09b05dc659b1fbd9ecf34a6486425208d/packages/jest-config/src/normalize.ts#L431

It does seem like a yargs bug, though - mind opening up an issue in the yargs repo?

[2020-02-06 08:55] EKoetsjarjan commented on #8379
me too :)(

[2020-02-06 08:55] EKoetsjarjan commented on #8379
me too

[2020-02-06 09:54] cedricsarigumba commented on #7136
Is there a fix for this issue? +1

[2020-02-06 10:03] silvenon commented on #4191
`--onlyChanged` seems to apply only to _unstaged_ files. The only reliable way I know of is lint-staged + `--findRelatedTests`.

[2020-02-06 12:25] wa4-fearless-otter commented on #7050
I'm still facing the same issue.

[2020-02-06 12:51] wa4-fearless-otter commented on #7050
For me it worked to use `act` directly from `react-dom/test-utils` instead of `@testing-library/react`. But I really don't know why.

[2020-02-06 14:23] aalexgabi opened #9527 "beforeAll() executed in parallel with test case in case of timeout"
## 🐛 Bug Report

Test case is executed even if beforeAll did not finish.

## To Reproduce

This test file:
[code]
Displays this:
[code]
## Expected behavior

Test case code should never be executed because beforeAll() did not finish. The error message should be at the beforeAll level and not at the test case level. This is very confusing as you may  think that the test case itself failed when in r

[2020-02-06 15:12] michael-smith-tanium commented on #9441
Is there something I can provide here that could help or do you have what you need for now?

[2020-02-06 15:19] SimenB commented on #9441
Sorry, haven't had the time to look into this.

I'm confused about this statement:

If you hard code `maxCols: 202` it wraps in your terminal? So even if `process.stdout.columns !== undefined` it would still be broken?

[2020-02-06 15:25] wa4-fearless-otter commented on #7050
I now have this issue again, very odd. :/

[2020-02-06 15:26] Chris2011 commented on #9461
Thx @snelg, that worked for me too :)

[2020-02-06 17:50] shirshak55 commented on #8111
@SimenB thanks to this issue lol it wasted my whole day later to realise notify:true on jest config was culprit lol :(

[2020-02-06 17:50] shirshak55 commented on #8036
This issue really sucks today i got this issue and wasted whole lot of time . And I kept debugging if it was redis/ typeorm connection pool bla bla bla :(

[2020-02-06 20:20] gjlacerda commented on #5124
I solves this doing:

[code]

[2020-02-07 01:32] unional opened #9528 "watch mode regex is not working"
## 🐛 Bug Report

From typeahead, you can see the pattern correctly filtered to a list of files.

[code]

But when I press enter,

[code]

[code]

## Expected behavior

Those selected test files will be executed.

## Link to repl or repo (highly encouraged)

these are some internal code, so no repo is available. sorry. :(

## envinfo

[code]

I'm pretty sure it was working a while back, but I don't

[2020-02-07 01:38] unional commented on #9528
From this printout, seems like the regex is being escaped.

[2020-02-07 05:41] G-Rath opened #9529 "Document the "official" type for what should be exported from jest.config.js"
## 🚀 Feature Proposal

I feel a bit foolish asking this as in theory it should be somewhat obvious & easy...., but I can't figure out what type to use for the export of `jest.config.js` for TypeScript(-in-js) 😬

i.e with `.eslintrc.js` I can do:

[code]

But for Jest theres a couple of different interfaces, each with their pros and cons: there's `Project` & `Global`, some with required properties,

[2020-02-07 07:36] SimenB commented on #9529
In theory it's `import('@jest/types').Config.InitialOptions`. I don't know how well it works out in practice to use it though, it's designed for internal usage

[2020-02-07 07:57] wa4-fearless-otter commented on #7050
I fixed it by using a mocking library for http requests. In my case i used [jest-fetch-mock](https://github.com/jefflau/jest-fetch-mock).

[2020-02-07 08:54] c-goettert commented on #2582
What I don't quite understand when it comes to mocking modules is that it is always described as if you want to use the module primarily in your test-functions.  E.g. if you look on the example code for the `doMock` function in the docs:
[code]

In this example, you have access to the newly mocked version of `"moduleName"` inside the test function only. For me it is way more important that my "non

[2020-02-07 09:43] IbrahimShamma99 opened #9530 "Jest suddenly stopped working."
I have been working on using jest for a 3 months and I encoutered this issue suddenly.
That says the following
`    Jest encountered an unexpected token

    This usually means that you are trying to import a file which Jest cannot parse, e.g. it's not plain JavaScript.

    By default, if Jest sees a Babel config, it will use that to transform your files, ignoring "node_modules".

    Here's what

[2020-02-07 10:41] dpinol opened #9531 "Cannot assign to read only property 'props' of object '#<Object>' with React"
## 🐛 Bug Report

After upgrading to jest 25.x.x, when comparing 2 different React Components with
[code]
there's an TypeError instead of a report of the differences between the components.

## To Reproduce
[code]

## Expected behavior
It works fine in jest 24.9
[code]
## Link to repl or repo (highly encouraged)

[code]

## envinfo

[code]

[2020-02-07 11:58] SimenB commented on #9531
/cc @pedrottimark

[2020-02-07 13:20] ahnpnl opened #9534 "Include ts-jest mock util functions in jest core"
## 🚀 Feature Proposal

This proposal is for the outcome of the discussion in [ts-jest](https://github.com/kulshekhar/ts-jest/issues/1048) that includes`ts-jest` mock util functions in `jest` core.

## Motivation

Users don't have to install `ts-jest` anymore to access these util mocks, just need to install `jest`.

## Pitch

[Suggestion](https://github.com/kulshekhar/ts-jest/issues/1048#issuecomme

[2020-02-07 13:22] w-p-c opened #9535 "Virtual mocking do not work for paths containing Webpack alias"
## 🐛 Bug Report

Test fails in attempt to virtually mock a nonexistent module whose path contains Webpack alias.

## To Reproduce

1. Initialize project with `npx create-react-app myapp`
2. Execute `npm run eject`
3. Create alias in Webpack config for nonexistent module
4. Import nonexistent module via Webpack alias
5. Virtually mock nonexistent module whose path contains Webpack alias
6. Exceptio

[2020-02-07 13:41] IbrahimShamma99 commented on #9530
Found out the issue, thank you.

[2020-02-07 13:41] #9530 closed

[2020-02-07 13:58] aheidelberg commented on #8114
For me jest even looks outside of the `rootDir`. I have the same project checked out twice in folders next to each other, that's why the names are colliding.

[code]

Adding this line `modulePathIgnorePatterns: ['<rootDir>/..']` suppresses the warnings but this shouldn't happen, should it?

[2020-02-07 14:15] pawelfus commented on #6972
For it was problem with exporting default methods in a module.
- this doesn't work (calls the original method):
[code]
- this does work (properly mocks):
[code]

[2020-02-07 14:23] maayanbar13 opened #9536 "When an expect call fails inside jest.isolateModules the sandbox doesn't get unloaded"
## 🐛 Bug Report

When a test fails inside `jest.isolateModules` callback, the sandbox registry doesn't close, causing all other tests using isolateModules to fail.

## To Reproduce

[code]

## Expected behavior

Should fail the first tests, but the other test should pass.

## Link to repl or repo (highly encouraged)

https://repl.it/@maayanbar/Jest-isolateModules

## envinfo

[code]

[2020-02-07 14:26] jeysal commented on #9536
Oh, what an oversight! Looks like there's just a `try-finally` missing that should be in the implementation of `isolateModules` in `jest-runtime` (unless I'm missing something that makes it more complicated). PRs welcome!

[2020-02-07 14:43] foxbunny opened #9537 "Module name mapper fails when used with mock"
## 🐛 Bug Report

When a module which is mapped by the `moduleNameMapper` config is mocked, the test module fails to execute with a message along the lines of:

[code]

The mapping I am using looks like this:

[code]

The reason for the mapping is the need to use [absolute paths with Parcel](https://parceljs.org/module_resolution.html).

## To Reproduce

Please see repro with a minimal config.

##

[2020-02-07 16:32] qmenoret commented on #3652
If anyone is interested, we wrote a small extension to Jest to allow to select the OS to run the tests on nicely: https://www.npmjs.com/package/jest-os-detection 🙂

[2020-02-07 17:04] foxbunny commented on #9537
I've also found out that if I use the relative path in the import, and the absolute path in the`jest.mock()` call, the test works.

[2020-02-07 19:03] G-Rath commented on #9529
@SimenB that seems to work pretty well.

One thing of note: `ConfigGlobals` is defined as a `type` of `Record<string, any>`, which means we can't use declaration merging to supplement it.

i.e `ts-jest` could ship it's config and have it merged in if `ConfigGlobals` was an interface, like so:

[code]

Would it be alright if I opened a PR for this?

[2020-02-08 09:03] SimenB commented on #9529
Yeah, sure 👍

[2020-02-08 10:45] rossknudsen commented on #9515
Hey quick question.  I'm working on updating the unit tests for this change in behaviour and I'm hitting an issue.  Jest prevents you from nesting a test within another test.  There are existing unit tests for the it/test function e.g.:

[code]
This works fine because the existing implementation throws the exception as expected.  However, because I'm now changing that behaviour to not throw, I'm n

[2020-02-08 11:46] terite commented on #9507
I was able to reproduce this using the above code snippet, and have tracked the issue down to commit https://github.com/jsdom/jsdom/commit/75a921eab52c239b2468e08be9f547f46c7f86bd released in jsdom 14.

It is possible to work around the issue by adding the following code snippet to the `teardown` method of jest-environment-jsdom

[code]

[2020-02-08 15:51] alyhegazy opened #9538 "setting testEnvironment to node causes jest functions to be undefined"
## 🐛 Bug Report
When setting `testEnvironment` to node and running a test I get `ReferenceError: test is not defined`. If I remove `testEnvironment: 'node'` from the config it runs fine. The same applies to `describe`, `beforeAll`...etc.

**Note**: it works fine on node 10.16.0

[code]

## To Reproduce

Steps to reproduce the behavior:

jest.config.js
[code]

test/1.test.js
[code]

## Expected beh

[2020-02-08 15:53] SimenB commented on #9538
Jest itself sets it to `node` in our own tests, so your reproduction is not enough. Can you put together a repository or a repl/codesandbox

[2020-02-08 16:39] alyhegazy commented on #9538
Here's a simple test https://github.com/alyhegazy/jest-tests-bug.git
I get the error in the description on node 10.14.0

[2020-02-08 17:02] SimenB commented on #9538
Right, that's a bug in node 10.14.0 and 10.14.1 - 10.14.2 (and newer) works correctly. Fix is https://github.com/nodejs/node/pull/23206

[2020-02-08 17:02] #9538 closed

[2020-02-09 02:58] smpeters commented on #9395
A more complete set of steps is:

1. `npm i --save-dev jest babel-jest jest babel-jest @babel/preset-env`
2. add the follow to the `module.exports` in your `jest.config.js`
[code]
3. create a `babel.config.json` file with the follow
[code]
After this, I was able to get files with imports working just fine.

[2020-02-09 08:49] doniyor2109 commented on #9536
Hi @jeysal. Can I work on this issue?

[2020-02-09 09:33] SimenB commented on #9536
@doniyor2109 please go for it 🙂

[2020-02-09 09:37] SimenB commented on #7391
We removed the auto-injection of regenerator runtime in jest 24 (#7595), so I don't think this is an issue anymore

[2020-02-09 09:37] #7391 closed

[2020-02-09 09:43] SimenB commented on #9534
Yeah, I think this is a good idea. There's been some changes to mocks in `@types/jest` as well, would be nice to bring the best features of both into Jest itself (at which point DT could pull the features from us instead).

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/a68259ee8883cc9899463fe79a78bb49a9d2f6de/types/jest/index.d.ts#L1042-L1298

[2020-02-09 12:46] #9536 closed

[2020-02-09 17:07] nicolo-ribaudo opened #9543 "Allow mocking `require.resolve`"
## 🚀 Feature Proposal

The `require.resolve` function is re-created for every file: this is needed so that it starts resolving from the correct location.

However, this makes it impossible to mock it: `require.resolve = jest.fn()` doesn't work.
I propose adding an API similar to `jest.mock` specifically for `require.resolve`'s behavior.

## Motivation

We have different tests in `@babel/core` that

[2020-02-09 18:46] SimenB commented on #9543
Oooh, I like it! It would essentially be `jest.mock` but only instead of providing the inline implementation, you provide the path it should resolve to? Would allow people to easily reuse mock modules without putting a file in `__mocks__` as well.

Not a huge fan of needing to replicate all of `.mock`, `doMock`, `unmock` and `dontMock` though... Would overloading be confusing to people? So if a fu

[2020-02-09 20:38] nicolo-ribaudo commented on #9543
Somehow I didn't realize that my proposal could be directly related to `jest.mock` :joy: I think that your proposed overload makes sense, and might even be more intuitive than having to use a parallel API.

Do you think that `require.resolve` should check if the mocked path exists? I'd say no, but then we would need something to mock a file as non-existing.

[2020-02-09 20:55] lulzmachine opened #9544 "Running jest with ES Modules on windows fails"
## 🐛 Bug Report

I can't run jest with a project using ES Modules on windows

## To Reproduce

Steps to reproduce the behavior:

1. mkdir jestgrej
2. cd jestgrej
3. yarn add --dev yest
4. jest --init
√ Would you like to use Jest when running "test" script in "package.json"? ... yes
√ Choose the test environment that will be used for testing » node
√ Do you want Jest to add coverage reports? ... no

[2020-02-09 22:39] juggernaut0 commented on #8254
How can the test runner know that the promise is unhandled before the test has finished running? It is perfectly valid to handle a rejected promise _after_ is has rejected, in which case it is no longer unhandled, and Jest should let you do that.

[code]

The workaround of course is to catch your promise and turn it into into some sort of result type, then unwrap it again just before you attach yo

[2020-02-09 22:54] daveols commented on #6434
Mocking the timers caused cascading errors in my tests.

I'm using `testing-library` and was able to fix this issue by adding `afterEach(cleanup)` before my render helper function definition.

[2020-02-10 00:59] SimenB commented on #9544
Oh, interesting! We run this on windows CI, odd it didn't pick it up... Does it work if you pass the full path through `require('url').pathToFileURL(specifier).href`?

[2020-02-10 01:05] SimenB commented on #9543
We have `jest.mock('thing', factory, {virtual: true})` if you don't want the thing you're mocking to exist. I think that should work with `require.resolve` as well, no?

[2020-02-10 02:16] db585 commented on #6390
Another approach that we can use for test coverage is
spyOn on function inside anonymous function or assert it return by calling it
mockedStore.dispatch.mock.calls[0][0]()

[2020-02-10 07:42] lulzmachine commented on #9544
Unsure. Could be. On the other issue they replied that I need to put "file:///" at the start. Is that what your code does? (cant test at the moment)

[2020-02-10 07:57] SimenB commented on #9544
Yup

[2020-02-10 13:06] AndreLion commented on #3053
Please reopen this issue.

[2020-02-10 14:54] nicolo-ribaudo commented on #9543
Oh, I didn't know about `virtual`.

If no one from the team has concerns with this feature request, I could start working on an implementation next week.

[2020-02-10 14:55] jehy opened #9550 "All code is getting transformed by babel"
## 🐛 Bug Report

When running Node.JS project with `testEnvironment node` and disabled coverage, it takes 15 seconds on a single test which can be run in less then 1 second in mocha.
I was surprised because I thaught that jest would be faster.
Playing with `cache`, `runInBand` and `maxWorkers` options did not affect anything.
Then I generated flame graph.
And I was very surprised that all the time

[2020-02-10 15:00] thymikee commented on #9550
Jest transforms sources with Babel by default to enable mocking of ES6 modules with `jest.mock`. If you feel like you don't need to use it, you can disable it with `transform: {}`. See: https://jestjs.io/docs/en/configuration#transform-objectstring-pathtotransformer--pathtotransformer-object

[2020-02-10 15:00] #9550 closed

[2020-02-10 15:06] imbroisi opened #9551 "babel-jest still using core-js@2"
## 🐛 Bug Report

When using **babel-jest** in **lerna/yarn workspaces** projects, I am receiving "babel-jest:  core-js@<3 is no longer maintained and not recommended for usage due to the number of issues".
I believe babel-jest still uses core-js v.2

## To Reproduce

Steps to reproduce the behavior:
Clone the project
[code]
then
[code]
 and watch the warning messages:
[code]

## Expected behavior

[2020-02-10 15:15] thymikee commented on #9551
As you can see, the dep comes from `babel-plugin-istanbul`. Please file this issue there, thanks!

[2020-02-10 15:15] #9551 closed

[2020-02-10 15:16] imbroisi opened #9552 "Jest warning: use String.prototype.padStart()"
## 🐛 Bug Report

When using **jest** in **lerna/yarn workspaces** projects, I am receiving this warning chain:
[code]
## To Reproduce

Steps to reproduce the behavior:
Clone the project
[code]
then
[code]
and watch the warning messages:
[code]
## Expected behavior

## Link to repl or repo (highly encouraged)

https://github.com/imbroisi/react-monorepo

## envinfo

[code]

[2020-02-10 15:22] cpojer commented on #9543
I think virtual mocks should cover your use case. Let's try that first before adding more APIs to Jest. I do not think that mocking `require.resolve` is desirable, there are too many ways to shoot yourself in the foot :D

[2020-02-10 15:23] nicolo-ribaudo commented on #9543
Since Babel internally directly calls `require.resolve`, I don't see how virtual mocks could cover my use case :thinking:

[2020-02-10 15:23] thymikee commented on #9552
Please file this issue against jsdom, it's their dependency.

[2020-02-10 15:23] #9552 closed

[2020-02-10 15:25] imbroisi commented on #9551
Tks!

[2020-02-10 15:29] cpojer commented on #9543
You should be able to create virtual mocks to ensure that `require.resolve` doesn't throw. If it throws, you know Babel did something unexpected.

You can also require the module after calling `require.resolve` and then verify that the mock module function was called etc.

[2020-02-10 15:31] imbroisi commented on #9552
Thank you!

[2020-02-10 15:50] nicolo-ribaudo commented on #9543
It doesn't seem to work:

[code]

reports

[code]

It doesn't work because the jest replacement for `require` [checks for mocks](https://github.com/facebook/jest/blob/017264f6730d7e99fe0f054d799574e47a802c08/packages/jest-runtime/src/index.ts#L513), but the replacement for `require.resolve` [doesn't](https://github.com/facebook/jest/blob/017264f6730d7e99fe0f054d799574e47a802c08/packages/jest-runti

[2020-02-10 15:58] cpojer commented on #9543
Thanks for trying it out and checking. That's a good observation that I missed. Now the question is: should `require.resolve` consider mocks and give a fake temporary file-path or should we allow mocking `require.resolve`?

[2020-02-10 16:10] nicolo-ribaudo commented on #9543
If `require.resolve("foo")` returned something like `"/tmp/jest-virtual-mocks/node_modules/foo"` _if an only if_ `foo` is a mocked module, then it would probably cover our use case. However, Jest should make calls to `require("/tmp/jest-virtual-mocks/node_modules/foo")` return the mocked implementation otherwise `require(require.resolve("foo"))` won't work.

I still think that explicitly specifyin

[2020-02-10 16:28] cpojer commented on #9543
I'm a bit hesitant of adding new APIs to Jest because you are running into a very limited use case that not many people are encountering. I think I would prefer simply making it so you can overwrite require.resolve, then you can do whatever you like with it.

[2020-02-10 16:39] SimenB commented on #9543
What I like about expanding jests API is that you can have reusable mocks (possibly distributed through npm) without `__mocks__` directory. Also, it's weird that `jest.mock` affects `require` but not `require.resolve`.

[2020-02-10 16:50] SimenB commented on #9552
Jsdom have upgraded, I think it's included in jest 25

[2020-02-10 17:19] nicolo-ribaudo commented on #9543
I agree with this sentiment. However, I don't think that mine is a limited use case:
- https://stackoverflow.com/questions/47907454/mocking-and-testing-require-resolve-calls-in-jest
- https://stackoverflow.com/questions/60107539/jest-mock-require-resolve-calls
- https://blog.zfanw.com/how-to-mock-require-resolve-under-jest/ (not in english)
- Currently GitHub search gives more results for [`requir

[2020-02-10 19:33] owap commented on #2235
Want to add my two cents for why I think this is a worthwhile feature:
I want to be able to dynamically set test timeouts (fetched asynchronously).

Here's how timeouts work now:
[code]

The above does not meet my use case, because I want to be able to set the timeout dynamically.
Fetching the timeout in `beforeAll` does not seem to be an option, because a `timeout` variable would live in the scop

[2020-02-10 21:11] JamesJGoodwin commented on #9473
@jeysal hello. Please check my repo - [umbress](https://github.com/JamesJGoodwin/umbress). You can find all my tests and configs in there. Also you can go to pull requests tab and see there an ongoing/failed tests for my latest PR - full GitHub Actions logs is there for you to explore :)

In my PC when I start `npm test` it says

But in Github Actions message is changing to

[2020-02-10 21:29] Floydjd commented on #6443
I create a bunch of logs throughout the tests and when all the tests are done I want to write all the logs. This was working with Jasmine but doesn't seem to be working with Jest.

[code]

[2020-02-10 21:43] armano2 commented on #6443
you can use something similar to this:

https://gist.github.com/silkentrance/f0e1ff1d689891e124e2a8b73bd31299

-----------------

jest uses worker threads (not sure if it/should be supported)

[2020-02-10 22:23] owap commented on #2235
Ahh, anybody looking for a workaround to ☝️ the above use case might be interested to learn about `globalSetup`, which I didn't know about before making the above post 😅

In this case, I'm ok fetching the timeout before the entire suite is run, so I just made one of these:

[code]

Then, in my jest config:

[code]

Now the timeout is available to use in my tests, like:

[code]

Perhaps you can fro

[2020-02-11 01:05] finnigantime commented on #7083
@caitecoll this workaround, mentioned on #7136, worked for me: https://github.com/facebook/jest/issues/7136#issuecomment-565976599

I think this ^ should be the default jest behavior. Leaking state between tests is an anti-pattern because it means test start to rely on running in a certain order (they rely on the side effects of previous tests). This is a problem because:

1. A test may succeed wh

[2020-02-11 02:41] andersk opened #9554 "Jest spends half its time importing jest-snapshot even when it isn’t used"
## 🐛 Bug Report

I did some profiling on a directory of 500 empty tests and discovered that Jest is spending 50% of its time importing `jest-snapshot` into every test environment. Then I wrote a quick and dirty [patch](https://github.com/andersk/jest/commit/remove-snapshot) that rips `jest-snapshot` out of `jest-jasmine2` and `jest-runtime`, and observed that it makes my tests run twice as fast (3

[2020-02-11 04:09] rossknudsen commented on #9515
I think I'll ensure that the e2e tests cover this and remove the unit tests.

[2020-02-11 05:04] rahulxyz opened #9555 "On Mocking function toHaveBeenCalledTimes() always returns 0"
**My Component**
[code]

**Test**
[code]

**Error:**
[code]

[2020-02-11 05:13] lwhiteley opened #9556 "Test globals not defined in node test environment."
## 🐛 Bug Report

Test globals not defined in node test environment.
https://jestjs.io/docs/en/api

## To Reproduce

Steps to reproduce the behavior:
When using config

[code]

then the test globals are not defined.

when i remove the config or jus put `"testEnvironment": "jsdom"` then the tests receive globals

## Expected behavior

Globals should be defined in node testEnvironment

## envinfo

[c

[2020-02-11 05:42] rahulxyz opened #9557 "unable to find/test antd component which appears outside wrapper"
MyComponent
[code]

Test
Drpdown list is opening outside the root component
[code]

Error

[code]

[2020-02-11 08:24] SimenB commented on #9556
Duplicate of #9538. You need to update your node version

[2020-02-11 08:24] #9556 closed

[2020-02-11 08:29] thymikee commented on #9555
You don't pass `history` as a prop to your component. How do you expect to get there? I needs to be injected somehow.

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](https://jestjs.io/en/help). Thank you :)

[2020-02-11 08:29] #9555 closed

[2020-02-11 08:30] thymikee commented on #9557
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](https://jestjs.io/en/help). Thank you :)

[2020-02-11 08:30] #9557 closed

[2020-02-11 09:05] SimenB commented on #9554
Hey @andersk, thanks for digging into this! We do most of our importing lazily, but the modules that are evaluated inside the user's sandbox (like `jest-snapshot`) are explicitly blacklisted from this:
https://github.com/facebook/jest/blob/017264f6730d7e99fe0f054d799574e47a802c08/scripts/build.js#L43

For some background, you can read through #3786, tl;dr being that users might mess with the globa

[2020-02-11 12:02] #9544 closed

[2020-02-11 12:06] lulzmachine commented on #9544
Great, thanks @SimenB !

[2020-02-11 12:09] SimenB commented on #9544
Thanks for reporting 👍

[2020-02-11 12:53] karltaylor commented on #1370
Absolutely brilliant approach works wonderfully.

[2020-02-11 13:51] Jeff-Tian commented on #7957
This works like a charm!

@fobbyal  Could you please explain why this works? Thanks!

[2020-02-11 13:53] nickjanssen opened #9559 "multiline string shows middle dots (·) instead of linebreaks in the output"
## 🐛 Bug Report

A multiline string now shows middle dots (·) instead of line breaks in the output. This appears to recently have changed.
![image](https://user-images.githubusercontent.com/2780160/74242669-9eddad00-4cde-11ea-9a60-c661da3dcc23.png)

## To Reproduce

https://repl.it/repls/ApprehensiveIndigoLeadership

## Expected behavior

Show line breaks in the output.
![image](https://user-image

[2020-02-11 14:55] SimenB commented on #7957
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

Feel free to keep discussing here of course

[2020-02-11 14:55] #7957 closed

[2020-02-11 15:09] vcheeney commented on #8979
I have the same issue, have you found a solution?

[2020-02-11 16:01] lamhieu-vk commented on #8610
I suggest to add new field in the config with name is `node` and implement like [webpack config](https://webpack.js.org/configuration/node/#root) but exclude `mock` value, only support: `true`, `false` and `empty`. This config will be used in `_requireCoreModule` function. If you think it is a good idea, I can help! :D

[2020-02-11 16:10] SimenB commented on #9543
I'm down with adding a `resolve` option next to `virtual`. I think almost all of the code changes needed in `jest-runtime` will be the exact same regardless of where the signal comes from (a separate option, `string` as `factory` or an entirely new API, or something else we haven't thought of), and the bulk of the work will remain the same no matter what API we land on

[2020-02-11 16:32] jeysal commented on #8610
I don't think we need config for this, I think it should just be changed (fixed IMO). It should apply to module names like `constants` just like to any other module name.

[2020-02-11 16:45] lamhieu-vk commented on #8610
If the core modules are outside constants we will have many other names (os, util,...), this seems to be reasonable for this feature request! https://nodejs.org/api/index.html
I only think the case of a project that has been implemented and modified to use Jest fails as above.  and I'm still the same as you, we shouldn't use those names in the first place!

[2020-02-11 17:04] jeysal commented on #8610
I didn't quite understand your last message, I think you understood me, but just to confirm: IMO we should resolve this issue by changing from (pseudocode)
[code]
to
[code]

[2020-02-11 17:21] lamhieu-vk commented on #8610
Thanks, I will be create PR for it!

[2020-02-11 17:35] skillitzimberg opened #9560 "Unexpected Token Import: importMjs.js"
## 🐛 Bug Report

Running `jest` or `yarn test` returns an error that seems to be in a Jest node_modules file.
This is the error:
[code]
## To Reproduce
Steps to reproduce the behavior:
- run `jest` or `yarn test` from the root directory

## Expected behavior
test suite `Basic unit test passes` passes.

## Link to repl or repo (highly encouraged)
[jest_issue_repo](https://github.com/skillitzimberg/

[2020-02-11 18:01] SimenB commented on #9560
Node 8 doesn't support `import()` (or mjs files) you'll need to use node 12 with experimental modules flag or node 13

[2020-02-11 18:01] #9560 closed

[2020-02-11 18:01] jehy opened #9561 "Wrong behavior with CLI option coverageProvider v8 and broken cobertura report"
## 🐛 Bug Report

In my jest config file, I have
[code]
and all seems fine. But if I add CLI flag ` --coverageProvider v8` then I get completely another coverage file with `<method name="map.<computed>.f" hits="1" signature="()V">` in there - and cobertura can't parse it because `<` is not allowed in method name.
It only happens on node 12 and 13.
## To Reproduce

Steps to reproduce the behavior:

[2020-02-11 18:14] jehy commented on #9561
UPD. I also tried to remove coverage options from config files, and only provide them via cli.
I get same results as from `bad-coverage` script.

So it seems that CLI option `--coverageProvider v8` behaves differently then config option `coverageProvider: 'v8'`.

[2020-02-11 18:51] SimenB commented on #9561
Yeah, only the CLI option works, for some reason the config one doesn't. I'll fix that. As for the broken report, that probably the same as th c8 issue you linked to, yeah

[2020-02-11 19:04] jehy commented on #9561
It's great that it will be fixed!
Concerning broken report - I suppose that it`s a bug in Istanbul tools - since both c8 and jest use it for generating reports. I hope someone could point out source of the bug and open an issue - I haven`t seen one yet.

[2020-02-11 20:08] #9561 closed

[2020-02-11 22:55] quickgiant commented on #8987
I have also been running into this issue and came up with a workaround that globally excludes React from jest's `resetModules()` behavior.

In a file specified in the `setupFiles` config option, add the following:
[code]

This sets up a mock for React that lazily loads the actual React, and always returns the result of the first initialization. This could also be generalized to implement a _set_ o

[2020-02-12 00:12] bryanboyko opened #9564 "node_modules/react-native-aws3-cognito ReferenceError: FormData is not defined"
## 🐛 Bug Report

[code]

## To Reproduce

Follow setup instructions here

https://docs.expo.io/versions/latest/guides/testing-with-jest/

Install react-native-aws3-cognito in your project

Execute `npm run test`

Attempt to include `react-native-aws3-cognito` in `package.json` `transformIgnorePatterns` like so

[code]

Note that error still occurs

## Expected behavior

Tests would run without err

[2020-02-12 02:23] aldeed opened #9565 "[Native ES Modules] Support for exports subpath aliasing"
@SimenB Great to see the list in #9430 and progress being made on it. Lots of complicated issues.

I don't see an explicit mention of handling `exports` object from a package when resolving package identifiers.

For example, given this in package.json:

[code]

Assuming the ESM package has a file located at `/lib/foo.js`, you would instead import from `"package-name/foo.js"` and then Node transfor

[2020-02-12 07:57] SimenB commented on #9565
Thanks, I'd forgotten to add it 👍 Updated the post now with this:

This would have been fine as a comment in that issue, btw 🙂 I'll close this as I've added the tracking item over there

[2020-02-12 07:57] #9565 closed

[2020-02-12 08:02] #8610 closed

[2020-02-12 08:05] thymikee commented on #9564
That's likely not an issue with transformation. The error is `ReferenceError: FormData is not defined ` which means there's no `FormData` available for some reason. You'll need to dig in into node_modules to see why.

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](https://jestjs.io

[2020-02-12 08:05] #9564 closed

[2020-02-12 08:06] SimenB commented on #9564
`FormData` is not a global in Node, so if your `testEnvironment` is `node` (or a derivation of it) it won't be available. You can probably polyfill it in a `setupFile` though.

[2020-02-12 09:26] jaimeagudo commented on #8475
If strings are equal let's compare them 😄

[code]

[2020-02-12 10:13] DrexxBoban opened #9566 "Browserify gives me Uncaught TypeError: Cannot read property 'prototype' of undefined"
I have tried installing npm browserify globally with a command `npm i -g browserify`. Then I wrote in terminal `browserify app.js -o bundle.js` command, which created bundle.js file, and then I went to my index.html and I changed my script to `<script defer "src="bundle.js"/>` . I went to check and indeed error Uncaught referenceError: require is not defined is gone, but I have this new error:

[2020-02-12 10:33] emmanuel-isaac commented on #8111
@shirshak55 Thanks for this. I thought I was going nuts. I had done every cleanup possible.

[2020-02-12 10:58] SimenB commented on #8036
Woops, reintroduced this when upgrading to v6. I'll fix it

[2020-02-12 11:41] SimenB commented on #9566
Browserify is not maintained in this repo, but here https://github.com/browserify/browserify

[2020-02-12 11:41] #9566 closed

[2020-02-12 12:13] #8036 closed

[2020-02-12 12:41] z2014 commented on #8979
@vcheeney not yet

[2020-02-12 13:03] SimenB commented on #2235
Long term solution to this problem ("I need to do something async before declaring my tests") is probably top level await and using native ESM.

Former can be tracked in https://github.com/nodejs/node/pull/30370 and the latter in #9430

[2020-02-12 14:49] sereneinserenade opened #9568 "Run 'n' numer of tests at the same time."
First of all thank you so much for this tool for making testing fun and reliable. I am grateful to you guys.

## Feature request

Run only for example 3 tests at same time, and then as the tests are processed, will start the next test in queue.

## Motivation

Right now I am E2E testing a website with help of Puppeteer ( https://pptr.dev/ ) and it turns out that my tests are working nice when I ru

[2020-02-12 14:59] SimenB commented on #9568
That's `--max-workers`: https://jestjs.io/docs/en/cli#--maxworkersnumstring. `-i` is essentially shorthand for `--max-workers 1`

---

Thanks 😀

[2020-02-12 14:59] #9568 closed

[2020-02-12 15:06] sereneinserenade commented on #9568
Thank you so much for the lightning fast reply. Thank you so much for the solution.

[2020-02-12 16:21] #9526 closed

[2020-02-12 16:50] icemars123 commented on #9395
I had the same problem when I started to used babel... But later, I had a solution... I haven't had the problem anymore so far... Currently, Node v12.14.1, "@babel/node": "^7.8.4", I use babel-node and nodemon to execute (node is fine as well..)

package.json:
"start": "nodemon --exec babel-node server.js "debug": "babel-node debug server.js" !!note: server.js is my entry file, you can use yours.

[2020-02-12 17:09] PFadel commented on #7421
Hey guys, any news about this issue ?

[2020-02-12 17:52] Ignigena commented on #9490
Same here. Downgrading to Jest 24 fixes the issue and `.vue` files show coverage. Using similar config as the OP that explicitly enables coverage collection for the extension:

[code]

[2020-02-12 18:56] jennale commented on #2702
Great idea, thanks @jeysal!

Here's another possible mapping, for those who might have packages in nested directories.
For example if
- `@scope/package-a` is in `/packages/components/a` and
- `@scope/package-b` is in `/packages/utilities/x/b`
[code]
This might only work if you are already exposing the /src directory in the package.json alongside the /dist though... ie through `"files": ["src", "di

[2020-02-12 19:08] bryanboyko commented on #9564
Thanks guys!

Was able to resolved by adding a `setupTests.js` file that looks like

[code]

And then configuring jest to use the `setupTests.js` file by adding the following `setupFilesAfterEnv` to my `package.json`

[code]

[2020-02-12 19:40] gblikas commented on #2071
Is `isomorphic-fetch` not in the Jest any more?

[2020-02-12 20:29] aldeed commented on #9565
Thanks @SimenB !

I opened a new issue because of

I see now that that sentence can be read in two different ways, and I read it the wrong way ("comments to tell me I'm missing something will be marked as spam"). Hopefully you're not missing anything else, but if I think of anything, I'll leave a comment next time. 😄

[2020-02-12 21:41] gabrielmancini commented on #8667
+1

[2020-02-12 22:08] SimenB commented on #9565
Fair enough! I rephrased it now so hopefully we're down to only a single interpretation 👍

[2020-02-12 23:16] nicolo-ribaudo commented on #9543
Sure, I will prepare a draft PR in the next days!
I think that I will try to implement both the `resolve` option and the `jest.fn(name, path)` overload, because I'm not sure yet about which approach could be more valuable, or would add more complexity to the code.
We can then decide which is better by looking at the real implementations/tests :wink:

[2020-02-12 23:40] ryanblock commented on #9329
🎤Anyone out there?

[2020-02-12 23:43] wvanvugt-speedline commented on #9531
I am running into this problem as well. It seems quite easy to reproduce:
[code]
The expect statement produces the error `TypeError: Cannot assign to read only property 'foo' of object '#<Object>'`.

This issue occurs on Jest >= `25.0.0`.

[2020-02-13 06:09] Pallavisoba commented on #6382
Hi, I'm a having an issue while running my app "Invariant Violation: Native module cannot be null"

Can some please help for that
Thanks

[2020-02-13 07:15] SimenB commented on #9329
PR welcome! Right now we skip the `find` call on windows, we need to check that `find` exists as well. I don't think exposing `forceNodeFilesystemAPI` is correct - `jest-haste-map` should be smart enough to figure it out itself.

Doing `which('find')` should be fine, using https://www.npmjs.com/package/which

https://github.com/facebook/jest/blob/5f817428cae42c88aac1d751239d1d937501ef93/packages/j

[2020-02-13 07:47] SimenB commented on #2702
Jest will never* support ESM through the `module` entry in package.json out of the box, as it's not in any widely adopted spec and there are no guarantees it's actually ESM (e.g. a single usage of `process`, `require`, `module`, `__dirname`, `__filename` anywhere will break), for much the same reason Node chose to introduce a new field rather than reuse it. ESM will be supported through the same w

[2020-02-13 08:35] kirill-konshin commented on #9086
FYI https://github.com/nodejs/node/pull/30694#issuecomment-585600923

[2020-02-13 08:40] SimenB commented on #9086
Sorry, I don't follow. What's the issue?

[2020-02-13 08:46] kirill-konshin commented on #9086
The problem is that after upgrade of Node from 12.15 to 12.16 warning become an error.

I have a `type=module`, `jest.config.js` and `.babelrc.js` in my setup, it worked with warning, now it does not. Just putting a reference here for anyone who'll look for more info just in case.

[2020-02-13 08:54] leonardovillela commented on #9329
Hey @SimenB can I take this issue?

[2020-02-13 09:16] SimenB commented on #9329
For sure, go for it! 🙂

[2020-02-13 09:17] SimenB commented on #9086
Aha! Gotcha, thanks for clarifying. You can rename the file to `.cjs` if you're on Jest 25 as a fix. I _think_ babel also supports `.cjs`

[2020-02-13 09:26] kirill-konshin commented on #9086
It will break differently, unfortunately.

If I rename `jest.config.cjs`:

[code]

Then if I rename `.babelrc.cjs` I get:

[code]

[2020-02-13 09:43] SimenB commented on #9086
That second one looks weird... Babel supports `.cjs` from version 7.7.0 (https://github.com/babel/babel/releases/tag/v7.7.0), is that on an older version?

That won't help if you're stuck on Jest 24 though, as Jest won't recognize the config file... If your config file is just JSON you use that, or do some fancy hacks like putting your config in a preset in another module and load that in Jest (wh

[2020-02-13 09:45] the-spyke commented on #9086
@kirill-konshin This is an issue with your setup, probably some glob/regexs in config files are broken because of changed extensions I'm using Node 13.8.0 and have no error with [my project](https://github.com/the-spyke/undercut). As you can see both Babel and JEst configs are `.cjs` files. You can try by yourself:

[code]

[2020-02-13 10:26] kirill-konshin commented on #9086
@SimenB you're right, our babel on that outdated branch is `7.4.3`.
@the-spyke we have quite an old setup at the moment.

So far we just downgraded to Node 12.15... I wonder how come such breaking change made its way to minor release.

[2020-02-13 11:10] the-spyke commented on #9086
@kirill-konshin I'm not sure if experimental features are a part of stable API. Also, it isn't really a change, because importing a file with `require` from ESM context shouldn't have been working in the first place throwing `require is undefined` error.

[2020-02-13 16:07] el-lsan commented on #7136
+ 1

[2020-02-13 16:07] el-lsan commented on #7136
Facing the same issue!

[2020-02-13 16:36] u84six commented on #2441
I've tried everything in this thread and still can't see output for console.log. --runInBand does not solve the problem for me. Using node@12 and latest jest. Debugging with web dev is hard enough, it would be really useful if I could at least print to the screen to see why my unit test is failing

[2020-02-13 16:58] kirillgroshkov commented on #9471
What worked for me is:

[code]

[2020-02-13 17:04] jflatow commented on #2235
I mean not really, its tied to `describe` block. Allowing `async` describe is the best solution to avoid e.g. the example above: ```let o:any;
  beforeAll(async () => {o = await testServer();});```

[2020-02-13 17:20] kamilkuz commented on #9507
@terite
Hey, to be honest I don't know what is teardown in Jest. Could you please write which file and what exactly should be changed to work around this ? Thanks!

[2020-02-13 17:49] ivandosreisandrade commented on #2441
@u84six have you tried my solution?
Here's the link to my answer on the post.
https://github.com/facebook/jest/issues/2441#issuecomment-552368939

Cheers

[2020-02-13 19:38] markmsmith commented on #9240
I think the syntax of `await expect(myfunction()).rejects.toThrow('Test'));` is totally reasonable.

However, I also ran in to this situation, where it seemed inconsistent compared to the non-async case, where jest was smart enough to know it needed to invoke the supplied function due to the matchers that were chained on:

[code]
vs
[code]

So, while I agree that you can achieve the desired test p

[2020-02-13 21:00] gregplaysguitar commented on #4386
@jeysal I don't understand how randomising the run order would make things more fragile - on the contrary, doesn't it force our tests to be more robust, to ensure they don't break when the run order changes?

The key issue IMO is _reproducibility_ - i.e., when the tests do fail due to ordering, there needs to be a way to reproduce that order. @alex-hall's suggestion hits the nail on the head there

[2020-02-13 21:29] kirill-konshin commented on #9086
@the-spyke somehow it worked on Node 12.15. It produced warnings, but code worked fine.

[2020-02-13 21:39] SimenB commented on #9240
I'll happily merge a PR which invokes the provided function if it's not a promise, and throws if the return value of that function is not a promise. Anyone up for it? 🙂

[2020-02-13 22:24] SimenB commented on #4386
_If_ we were to ship this, it would 100% be with a seed that can be set and that'd be prominently printed if tests fail.

I think it's far less likely to cause hard to track down errors than say `test.concurrent` which we have today. Those are way more nondeterministic than a seeded "randomization" of test order.

@alex-hall with no promises on it being merged (although I personally would use such

[2020-02-13 23:50] thisismydesign commented on #4386
@jeysal You sound like you take this as some experimental idea. It's not. It's been around as practically a standard in many other frameworks. In most places I've seen it's considered a code smell not to run tests in random order. There's no question about the validity of this feature.

To address your specific concern, most order-dependent tests will fail right away or within the first few tries

[2020-02-13 23:56] alex-hall commented on #4386
@SimenB lll do some jest archaeology and take a look this weekend.

[2020-02-14 00:09] vegerot commented on #2292
Has this ever been resolved?  Still broken with `vim-test` and `vim-dispatch`

[2020-02-14 02:15] A-Babin commented on #2867
The solution above works, but when running jest with a glob, `setup-after-env` is run in a child process. The `--bail` flag is not passed to it, `failFast` won't be enabled, and all tests will run.

[2020-02-14 06:08] Temirtator commented on #7864
is it solved, or what?!

[2020-02-14 06:33] nshaikhinurov commented on #9530
I'm having the same issue now. @IbrahimShamma99, could you explain what caused the problem in your case and what was your solution, please?

In my case, I'm requiring a module in `setupTest.js` file with `import *` statements and `Jest encountered an unexpected token *`. Previously everything worked.

Tried to `require('@babel/register')` at the top of `setupTest.js`, but it didn't help. Any ideas

[2020-02-14 06:54] the-spyke commented on #9086
@kirill-konshin Yeah, because it was experimental and did some things not as it should. That's why there was a warning: when implementation of ESM finishes `require`, `__dirname`, etc. will be undefined.

[2020-02-14 07:31] SimenB commented on #7864
Feel free to open up a new issue with a reproduction if you think you've found a bug. AFAIK this works correctly

[2020-02-14 07:41] SimenB commented on #4386
Wonderful, thanks! Feel free to open an early PR with hacky WIP code for feedback as you go. 🙂
Also note that just adding it to `jest--circus` is fine (maybe even preferred) - we'll be phasing out jasmine (although it'll probably stick around for a long time yet).

[2020-02-14 07:56] kayahr commented on #2549
I thought this issue would no longer bother me since I use the SingleContextNodeEnvironment workaround which worked fine with Jest 24. But after upgrading to Jest 25 the workaround no longer works. When using it Jest complains that the `describe` function is not defined:

[code]

I published a small demo project (https://github.com/kayahr/jest-demo-2549) which can be used to reproduce this. Just r

[2020-02-14 09:03] SimenB commented on #2549
Yeah, that broke due to the changes made to support V8 code coverage and future ESM support.
Might want to revisit the changes made, but for now you should be able to do `delete NodeEnvironment.prototype.getVmContext` or some such to restore jest 24 behaviour. Or just extend from `jest-environment-node@24` which essentially does the same thing

[2020-02-14 10:48] baruchiro commented on #5292
@rgomezp You need to define the `jest-circus` as test runner:

[2020-02-14 11:27] devangnaghera312 commented on #1874
We are still experiencing these failures on circleci with jest@24.9.0

[2020-02-14 12:27] dahnny012 commented on #7963
experiencing the same issue with     "jest": "^25.1.0",

[2020-02-14 14:16] JoaoFGuiomar commented on #6470
I was looking for a way to run only the failed tests and ended up here 😄
👍

[2020-02-14 14:42] StringEpsilon commented on #7963
The main startup delay seems to come from require()-ing all the dependencies.

`time-require` reports around 10 seconds worth of require() calls on my current system.

Main culprits, according to that tool are:

* babel - this might just be specific to my setup (`@babel/preset-env` takes 3.6 seconds)
* jsdom - 1.2 seconds in isolation
* sane - 0.5 seconds in isolation, most of which is caused by m

[2020-02-14 15:08] sadovnychyi commented on #6470
This is what we end up using so far:
[code]

This requires jest-junit reports to be installed and configured, and python for parsing XML.

[2020-02-14 16:18] u84six commented on #2441
@ivandosreisandrade what happens is that if there's an error in the code (like referencing an undefined value), it won't print out, even if the console.log call is before the error. If everything in the test passes, then I'll see the log. That kind of behavior makes it totally useless for debugging.

[2020-02-14 17:47] Fandyx commented on #9490
I'm facing the same issue, but if I try to downgrade to 24 my tests fails

[code]

[2020-02-14 18:34] aalexgabi commented on #6527
I had a test case failing only when running after other test cases. I had to comment all following test cases to debug this because jest does not have an option to actually bail after 1 failed test case and not test suite.

[2020-02-14 19:36] kirill-konshin commented on #9086
The most frustrating about this experimental feature is the transition from "no warning" to "warning" and then to "error" all within minor release...

[2020-02-15 06:44] frbrz opened #9574 "Coverage reports aren't generated correctly if you use the --config option"
## 🐛 Bug Report

Using the --config <path/to/file.js> option doesn't correctly produce a coverage report, while using a jest.config.js file on the root does in fact produce a normal coverage report.

I need to put my config file inside a custom directory. Please tell me if there is a workaround for this.

## To Reproduce

1- `git clone https://github.com/frbrz/jest-coverage-issue`
2- `yarn install

[2020-02-15 17:51] tinchoz49 commented on #9301
Closed since seems to be an error of the native module node-webrtc.

[2020-02-15 17:51] #9301 closed

[2020-02-15 20:47] Alexsey opened #9576 "automock is crashing"
## 🐛 Bug Report

When setting in `jest.config.js` property `automock: true` the tests run is crashing with error
[code]

## To Reproduce

Consider two files:
`index.js`
[code]

`index.test.js`
[code]

Steps to reproduce the behavior:
run `npx jest`

## Expected behavior

Jest should not crash

## Link to repl or repo (highly encouraged)

https://github.com/Alexsey/jest-automock-crash

## envinfo

[2020-02-15 21:21] juanlet commented on #9464
I can confirm that  joelpalmer solution works fine. I went through the same change of behavior but that did it.

[2020-02-15 22:42] flovilmart commented on #7176
The reporter is `text` and the printed [`name`](https://github.com/istanbuljs/istanbuljs/blob/master/packages/istanbul-reports/lib/text/index.js#L180) make use of [`getRelativeName`](https://github.com/istanbuljs/istanbuljs/blob/ac36fbcaa4d6bf93af04b808866495bbf866a98d/packages/istanbul-lib-report/lib/summarizer-factory.js#L48).
From reading in the implementation, this seems consistent with what i

[2020-02-15 22:47] SimenB commented on #7176
@coreyfarrell thoughts on this one?

[2020-02-15 22:51] #4103 closed

[2020-02-15 23:39] emma-borhanian commented on #9086
@the-spyke

If I run `yarn jest --config jest.config.cjs` instead of just `yarn jest` in your repo it fails with:
[code]

This directly contradicts the [jest documentation](https://jestjs.io/docs/en/configuration):

[2020-02-15 23:40] SimenB commented on #9086
@emma-borhanian with jest 25? cjs and mjs support landed in 25

[2020-02-16 01:36] emma-borhanian commented on #9086
@SimenB Yup, jest 25.

Maybe you missed a spot?
https://github.com/facebook/jest/blob/v25.1.0/packages/jest-cli/src/cli/args.ts#L55
[code]

undercut test log: https://gist.github.com/emma-borhanian/94a233217b2f8551157291aa3adcc956

[2020-02-16 07:55] wsdzy2010 opened #9577 "Cannot access global variable that created by setupfiles file."
## 🐛 Bug Report

Cannot access value from global that created in setupFiles file "setup.js".
Tests all passed when not using the setupFiles file.
Able to access value from global that set in jest.config.js.
Like:
[code]

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

[code]

## Link to repl or repo (highly encouraged)

## envinfo

[code]

[2020-02-16 08:09] #9531 closed

[2020-02-16 08:10] the-spyke commented on #9086
@emma-borhanian Indeed, I somehow forget to patch `--config` option in CLI in #9291. But as you can see, Jest 25 loads the `.cjs` config by itself without using `--config` option. I'll submit a fix for the `--config` soon, sorry for inconvenience.

[2020-02-16 08:13] SimenB commented on #9086
Aha, good catch @emma-borhanian!

[2020-02-16 08:25] SimenB commented on #9577
`setupFiles` do not execute the function provided, it just loads the module. So you'll need to do your assignment at the top level

[2020-02-16 08:25] #9577 closed

[2020-02-16 14:28] coreyfarrell commented on #7176
Probably would make sense to report relative to the detected/declared project root and also label that as "Project Root" instead of naming the FS directory.  That said it's been this way forever and people tend to be pretty sensitive to reporting changes so I'm not sure I'd want to change this in a semver-minor.  I'm otherwise occupied currently, it would help me if someone posted a bug to github.

[2020-02-16 15:05] jonathanconway commented on #8738
I had this issue when trying to unit-test a Gatsby project. Solved it by deleting my babel.config file and instead creating a `jest-preprocess.js` file which references the babel config.

[2020-02-16 15:50] ahnpnl commented on #8534
hi, I came from an [issue](https://github.com/kulshekhar/ts-jest/issues/1390) in `ts-jest` related to jest watch mode and cache. Basically I have the scenario:

**thing.ts** contains:
[code]
**thing.test.ts** contains:
[code]

- 1st run, test passes and `jest` caches.
- Modifying `thing.ts` by uncommenting `b: number`, test passes but actually it shouldn't. In the 2nd run, `jest` detects only `thi

[2020-02-16 15:57] joaomantovani commented on #7450
I'm having this issue

[2020-02-16 18:20] flovilmart commented on #7176
In my opinion I don’t see this as a bug. The coverage will always report relative to the folder containing the topmost reported coverage, not related to the current working directory as initially reported.

[2020-02-16 18:37] SimenB commented on #7176
I agree it's not a bug in that it behaves as intended - I do think the behavior is not ideal, though.

I think we should be able to set a root, and that all paths should be relative to that regardless of what istanbul considers "top of the tree". If I do `jest some-deep-test --coverage` that only covers a subtree of files, check html coverage, run some other test that makes the tree different, a r

[2020-02-16 18:45] SimenB commented on #9457
Does anyone who have experienced a performance degradation in 25 have issues that are not fixed by either using jsdom@13 or micromatch@3? Memory leak in JSDOM is being fixed (https://github.com/jsdom/jsdom/pull/2840 and various issues/PRs linked from it) and the regression in micromatch has been reported and is being worked on: https://github.com/micromatch/micromatch/issues/179.

[2020-02-16 18:47] sveilleux1 commented on #6930
I just had the issue and at least I found this issue to fix it. Will it be fixed?

[2020-02-16 21:47] SimenB commented on #9507
This has been fixed upstream in JSDOM now. Unfortunately, since we still support Node 8, we cannot upgrade to a fixed version. @terite do you think it makes sense to add your hack to `jest-environment-jsdom`? It seems pretty invasive, but we can probably lock down our version of jsdom (it probably won't be updated anyways, but better safe than sorry I think) and it should be relatively safe.

@jey

[2020-02-16 21:58] thymikee commented on #9507
Maybe there's a slight chance that jsdom could release a patch to v15?

[2020-02-17 00:21] wsdzy2010 commented on #9577
Hi Simen,

What do you mean by "at the top level"? Can you please explain with an
example? All I want is just to mock some same modules before each test
file.

On Sun, Feb 16, 2020 at 2:25 AM Simen Bekkhus <notifications@github.com>
wrote:

[2020-02-17 02:28] wsdzy2010 commented on #6937
Same issue here.

[2020-02-17 04:59] lamhieu-vk commented on #9507
I asked about release a patch to v15 but it is not supported! https://github.com/jsdom/jsdom/pull/2825#issuecomment-582072648

[2020-02-17 05:52] lamhieu-vk commented on #9507
hmm... if we upgrade `jsdom` to v16 has some breaking changes, can I create a PR for it (for Jest 26)? because I have a stash in local, I updated while creating https://github.com/jsdom/jsdom/pull/2825

[2020-02-17 09:17] aperkaz commented on #3608
I am facing the same issue for `23.6.0`. Why this is closed?

[2020-02-17 09:20] aperkaz commented on #8738
Hi @jonathanconway ,
Could you post an example of your `jest-preprocess.js` file? I am facing the same issue...

[2020-02-17 09:24] aperkaz commented on #8660
Hi guys,
Any way to fix this without replacing `import XX from 'XX'` to `const XX = require('XX')` ?

[2020-02-17 09:30] aperkaz commented on #9488
@chundeluoyetian @kimwilson any news on this?

[2020-02-17 09:32] SimenB commented on #8660
You need to transpile (babel, typescript etc) until #9430 is implemented

[2020-02-17 09:36] SimenB commented on #9457
Fixed version of JSDOM has been released, you can use it by installing `jest-environment-jsdom-sixteen`. @EvHaus could you verify it fixes your issue?

[2020-02-17 10:29] aalexgabi opened #9580 "Dynamic imports don't work in nodejs"
## 🐛 Bug Report

Cannot dynamically import module in jest tests.

## To Reproduce

Steps to reproduce the behavior:
[code]
Throws:
[code]

## Expected behavior

Expected the dynamic import to work.

## envinfo

[code]

[2020-02-17 10:34] aalexgabi commented on #9580
It seems that this is a known issue: https://github.com/facebook/jest/issues/9430

[2020-02-17 12:29] csvan commented on #9457
@SimenB my issue is probably not related, but I tried `jest-environment-jsdom-sixteen` vs using the default, and saw a 20s increase in runtime for the same test suite over repeated runs.

[2020-02-17 12:34] SimenB commented on #9457
over using v15 (which is what ships with jest by default) and no other changes?

[2020-02-17 13:33] AnatoleLucet opened #9582 "No fail reason in logs on Windows"
## 🐛 Bug Report

I'm trying to setup Github Actions to run our tests using Jest. The issue is, I don't have any error in the Actions logs when a test fail on Windows.

I've tryied with and without the `--verbose` flag but both output this:
[code]

At first I've created a [Stackoverflow question](https://stackoverflow.com/questions/60257669/no-fail-reason-in-logs-when-using-jest-on-windows-with-git

[2020-02-17 14:17] awdltd commented on #8818
The current version of jsDom running in Jest is v15.1.1. The latest release of jsDom (16.2.0) includes full support for customElements:
https://github.com/jsdom/jsdom/releases/tag/16.2.0

Any chance this issue be re-opened, and any ETA given for when Jest can bump the version?

[2020-02-17 14:32] mkay581 commented on #8818
@awdltd where did you find the latest jsdom version Jest uses? I know Jsdom is a dependency. Just unsure of where it is.

[2020-02-17 14:43] SimenB commented on #8818
@awdltd you'll need to use `jest-environment-jsdom-sixteen` until `jest@26`. Still a few months out I'd guess (haven't thought about it yet)

@mkay581 https://github.com/facebook/jest/blob/1ed46e71a058c93b529e5e3f9388a800352de21a/packages/jest-environment-jsdom/package.json#L18

[2020-02-17 14:46] awdltd commented on #8818
Hey @mkay581, I checked in my node_modules folder and `jest-environment-jsdom` is bundled with Jest (I admit I am taking liberties to assume that is what Jest uses by default). The package.json for this has `"jsdom": "^15.1.1"`, so I assume that Jest will automatically use `15.*.*` by default

[2020-02-17 14:49] AdamJamiu opened #9585 "Live Server Installation eRRor"
When am trying to install Live server on my code editor it tells me

npm WARN deprecated opn@6.0.0: The package has been renamed to `open`
npm ERR! Unexpected end of JSON input while parsing near '...uplexer":"~0.1.1","fr'

any help on this kind of issue

[2020-02-17 14:51] SimenB commented on #9580
Correct, this is blocked by #9430. For now you'll need to transpile it (using Babel, TypeScript, or something else like it)

[2020-02-17 14:51] #9580 closed

[2020-02-17 14:51] helen119 opened #9586 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 14:52] #9586 closed

[2020-02-17 14:55] SimenB commented on #9585
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2020-02-17 14:55] #9585 closed

[2020-02-17 16:26] davidsu commented on #8208
+1

[2020-02-18 00:25] EvHaus commented on #9457
Unfortunately still getting heap errors with `jest-environment-jsdom-sixteen`. The last stable working version of JSDom for me is  `jest-environment-jsdom-thirteen`.

[2020-02-18 00:29] MattKunze opened #9588 "Add mechanism to report on modules that take a long time to resolve"
## 🚀 Feature Proposal

I'd like to have options to set a threshold when running tests (`--slowImportThreshold 1000` for 1s for example) that would log the specific imports that take significant time to resolve prior to executing tests. This would greatly simplify the effort for our developers to find the specific modules that are slowing down overall test performance.

Ideally this would report on

[2020-02-18 00:40] titchimoto commented on #5001
@jhaenchen +1 same here, did you ever figure out a fix? Thanks.

[2020-02-18 04:20] flcdrg commented on #1936
@JakeGinnivan did you ever get something working with Beyond Compare (or similar)?

[2020-02-18 04:28] JakeGinnivan commented on #1936
Never dug in and sorted it out unfortunately @flcdrg

[2020-02-18 05:36] BinaryShrub commented on #2235
I feel like this would be valuable to break down tests to single expect statements for better organization. For example I want to make a supertest call in describes for POST /items and be able to have a test for statusCode 200, a test for the body, a test for the headers, etc , etc... rather than having to smash them all into one test or calling supertest for each.

[2020-02-18 07:28] foxbunny commented on #9537
I've subsequently discovered that this only happens with paths that look like absolute paths. If I use a mapping that doesn't include the forward slash as the first character, this issue is not triggered.

[2020-02-18 08:42] SimenB commented on #9588
I like it! Either making sure dependency trees are more shallow or just a well-placed `jest.mock` can indeed really speed up tests - I've actually done similar manual instrumentation you talked about at work for this exact reason.

Another benefit is that this might help people understand why the time if the test file (5s in your example) is way higher than the individual test times indicates - th

[2020-02-18 08:51] #9329 closed

[2020-02-18 11:59] aalexgabi opened #9591 "Update snapshots without re-running tests"
## 🐛 Bug Report

Currently you cannot update snapshots without re-running tests. This is problematic because:
- this takes time (a lot of time in case you have a lot of test cases or the test cases are slow)
- this is not necessary (jest already know what shapshots failed and what was the value for each snapshot so it can write them immediately instead of re-running tests)
- this is not safe (re-r

[2020-02-18 12:09] jeysal commented on #9591
Thanks for opening the issue. While it clearly takes time, I disagree that it is unnecessary or unsafe.

In fact, code alteration in the meantime is exactly why your proposal could be considered unsafe - it updates based on an old state, not the state when pressing `u` / running `jest -u`.
It could be debated which behavior is better here, but it's definitely not a _bug_.

[2020-02-18 12:53] cztomsik opened #9592 "reduce number of dependencies"
## 🚀 Feature Proposal
make jest thinner, I'd be personally willing to donate for this (or fix it)

## Motivation
- faster download speed
- less security auditing
- probably faster startup

two of them could be fixed by using `bundledDependencies` but there's no simple way around security auditing - more deps -> more work

## Additional Context
Here's what you get if you do `yarn add -D jest` in em

[2020-02-18 13:31] SimenB commented on #9592
Essentially a duplicate of #6266

[2020-02-18 13:31] #9592 closed

[2020-02-18 15:25] aalexgabi commented on #9591
@jeysal  Is should use the state that is shown in the terminal before pressing `u` and not the unseen  state afterwards.

[2020-02-18 15:30] cztomsik commented on #6266
Ok so maybe this is dumb question but jsdom could be peerDependency, and error could be thrown if it is requested and not present in the current project. That could strip quite a lot of deps for node.js projects (microservices, etc.)

[2020-02-18 15:33] jeysal commented on #6266
That would be possible, yes, but I would only consider it if `node` becomes the default environment (which I'd like to do for performance reasons). Right now it'd hurt the 'works out of the box' experience too much.

[2020-02-18 15:35] cztomsik commented on #6266
I personally don't mind setting `node` in my jest config in exchange of less dependencies.

[2020-02-18 15:35] jeysal commented on #9591
I understand your request, that is what you said in the OP, but it is a feature request and not a bug and it has to be considered as such, not as something we should change without a doubt.
@SimenB @thymikee aside from the refactors needed for storing the serialized `Received` strings somewhere and being able to write them into the correct files later on, do you think this would be desirable?

[2020-02-18 15:49] christianeide commented on #1456
To make this work with Firebase I had to do this:
[code]

[2020-02-18 15:52] aalexgabi commented on #9591
@jeysal For me the current behavior is unsafe. I am using jest to test a service that generates videos from requests. I generate a hash from video frames using ffmpeg after each request (https://ffmpeg.org/ffmpeg-formats.html#hash-1)  for each video and store the hash in the snapshot. Generating videos takes a long time (even at low resolution and fps). There are many test cases. The hash does not

[2020-02-18 16:54] SimenB commented on #9591
I wonder if it makes sense to always _always` with data from the previous run (like requested here), but still run the tests - that way we know that the data is stable. Right now you can snapshot `Math.random()` and a `-u` run will happily update the snapshot and call your test passing, even though a second run would fail. Updating snapshots and then rerunning the tests should not be an observable

[2020-02-18 17:00] SimenB commented on #6266
We have precedence for that (`--detect-leaks` only works if you manually install `weak-napi`), but I'm not sure it makes sense as JSDOM's such an integral part of Jest's "batteries included" approach. Relying on people to install the correct versions of JSDOM seems gnarly and error prone when it's such a common use case.
(It absolutely does not make sense as long as `jsdom` is the default, but tha

[2020-02-18 18:05] StringEpsilon commented on #6266
You could make `node-notifier` a peer dependency for test result notifications.

That would net 6 packages less and 5.5mb [install size](https://packagephobia.now.sh/result?p=node-notifier).

It also doesn't strike me of an "batteries included" feature. Still breaking though.

[2020-02-18 18:07] SimenB commented on #6266
Yeah, that would be easier! It's actually already optional, so easier code change than others

[2020-02-18 22:08] kirill-konshin opened #9594 "Yarn PNP errors are swallowed by Jest which makes debugging quite hard"
Original issue: https://github.com/yarnpkg/berry/issues/943

In short, if some package has unlisted peer dependency, Jest will emit something like this (in this case it was `react-router@3` and it's underlying package `create-react-class`:

[code]

As you see, there is no information to trace the error.

True error looks like this (`PNP_DEBUG_LEVEL=1` was set in environment):

![image](https://use

[2020-02-19 00:44] SimenB commented on #9594
Thanks! In addition to surfacing that message about missing declared dependencies, we should also construct a `requireStack` similar to what node and yarn does and print that. We can keep track of the `requireStack` in `jest-runtime`.

[2020-02-19 04:13] phsantiago commented on #8763
For me was missing just a `yarn add -D ts-jest` 😄

[2020-02-19 05:52] akiratfli commented on #7136
I have same issue but I not found solution from jest official documentation.
So I make a not graceful solution below. Then use it in everywhere that need to remove mock.
[code]

[2020-02-19 06:01] o-pooja-o commented on #9478
okay

[2020-02-19 08:44] golubvladimir opened #9595 "How to compare object structure (only keys, without values) ?"
How to compare object structure (only keys, without values) ?
[code]

[2020-02-19 08:45] SimenB commented on #9595
https://jestjs.io/docs/en/expect#expectanyconstructor

Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2020-02-19 08:45] #9595 closed

[2020-02-19 09:42] golubvladimir commented on #9595
@SimenB

How to use custom compare function ?

[code]

How to pass param ?
[code]

[2020-02-19 09:48] SimenB commented on #9595
As I told you, this is not a support forum - please direct questions to stackoverflow or discord

[2020-02-19 11:26] andersk commented on #9554
Yeah, ignoring the blacklist for `@babel/plugin-transform-modules-commonjs` similarly halves the running time on this benchmark:

[code]

So now I’m curious, what exactly does this blacklist accomplish in the way of preventing test code from messing with Jest internals? It means that lots of Jest code gets loaded before the test code has a chance to run—but the loaded code still refers to globals

[2020-02-19 12:43] #9141 closed

[2020-02-19 12:57] aymericbouzy commented on #6937
@SimenB can you explain what would be required for this issue to be re-opened?

[2020-02-19 13:07] SimenB commented on #6937
A proper reproduction we can pull down and run. I can almost guarantee anything that's not `git clone && yarn && yarn test` (possibly with a `docker run` before test if it needs to connect to something, and npm is of course fine) will not be very helpful.

https://github.com/facebook/jest/issues/6937#issuecomment-500886506 packaged up in a repository might work. https://github.com/facebook/jest/is

[2020-02-19 14:25] SimenB commented on #3703
I don't understand what the issue is? Running that code behaves the same in Node as it does in both test envs (beyond jsdom having `has window ? true` while node test env and proper node have `false`). When you inject `require` from one context it doesn't evaluate modules in a different context automatically, you need to implement `require` yourself for this to work

[2020-02-19 14:25] #3703 closed

[2020-02-19 14:33] SimenB commented on #5805
It seems the reproduction repo has been deleted. If this is still not working, please open up a new issue

[2020-02-19 14:33] #5805 closed

[2020-02-19 15:08] SimenB commented on #4592
The issue in the OP is fixed, and the other issue can be tracked at #6466

[2020-02-19 15:08] #4592 closed

[2020-02-19 15:58] jonathanconway commented on #2582
Tip - if you have a module that exports a primitive value, e.g.:

[code]

And you want to use a mock value instead, in the test, then a simple require and assignment seems to do the trick:

[code]

[2020-02-19 17:34] jeysal commented on #8246
Unfortunately I suspect this is another artifact of https://github.com/facebook/jest/issues/2549. Because Node allows emitting strings and Errors as warnings, they are doing `instanceof Error` checks in [`emitWarning` / `onWarning`](https://github.com/nodejs/node/blob/b8e41774d4287d128a40f7ecfecf170fe16fe9ed/lib/internal/process/warning.js#L61-L125) that will behave unexpectedly.
Another thing tha

[2020-02-19 18:49] yadielar opened #9598 "[v25.1.0] Snapshot diff for Emotion CSS highlights unchanged lines"
## 💥 Regression Report

The diffs from failed snapshots that include CSS from Emotion (using jest-emotion) are highlighting unchanged lines. This was working correctly in jest@24.9.0. Just updating to jest@25.1.0 and making a change not related to CSS in a React component will show an incorrect diff where every single CSS line is marked as changed.

## Last working version

Worked up to version: 2

[2020-02-19 19:07] nmatushevskiy opened #9599 "jest test freezes with typescript"
## 🐛 Bug Report

Hello everyone, i've had a strange issue.

I'm using jest, typescript, react-native, expo, babel, and components library - native base.

I needed to override some styles of native base components, found a [guide](https://medium.com/@naxir.sheikh/native-base-custom-theming-69ef92e32a37) and executed the command: node node_modules/native-base/ejectTheme.js from guide.
Long story sho

[2020-02-19 19:35] jimmydief opened #9600 "jest-circus is missing dependency on jest-runtime"
## 🐛 Bug Report

After upgrading Jest to 25.1.0, I noticed an issue with `jest-circus` having a dev-only dependency on `jest-runtime`.

[code]

`jest-runtime` is indeed referenced within jestAdapter.ts here:

https://github.com/facebook/jest/blob/2ee214d47f8bbd7fec1b6b4051a2e265136c79a5/packages/jest-circus/src/legacy-code-todo-rewrite/jestAdapter.ts#L12

It's referenced as a dev dependency here:

[2020-02-19 19:39] u84six commented on #2441
@ivandosreisandrade what does your package.json look like? I'm trying to follow this:

npm test -- --runInBand -t "My Test Name"

But I have it setup like this in my package.json

"test:unit": "jest --verbose"

You'd think that with the --verbose flag, it would allow a console.log to get through, but I still can't get console.log to work. So frustrating!

[2020-02-19 21:18] soanvig commented on #8475
In my case I had:

[code]

And got the error, but was able to resolve that, by wrapping nested array with `expect.arrayContaining`. It is because Jest probably doesn't resolve nested array automatically in that case.

[2020-02-19 22:02] DaveStein opened #9601 "jest.mock needs to be called for __mock__ on system module"
## 🐛 Bug Report

I have a `__mocks__` folder setup with files like `aws-sdk.js` and `util.js` inside.

In my test file, I correctly don't need to call `jest.mock('aws-sdk')`, for the code to reference the mock, but I needed to do `jest.mock('util')` for it to access my mock of that module.

## To Reproduce

Steps to reproduce the behavior:

1. Create a `util.js` file in `__mocks__`
2. Run a test t

[2020-02-20 03:01] finn-orsini opened #9602 "changedSince runs specs related to files with no diff"
## 🐛 Bug Report

Using the `--changedSince` flag, Jest will run specs related to files with no current code changes (no diff) but which were previously committed.

The description of this flag is: `Runs tests related to the changes since the provided branch`. I would expect changes in this context to mean code changes between the current and specified revision, not each individual commit.

## To R

[2020-02-20 03:47] PinkyJie commented on #7874
Found an article for how to use heap snapshot to debug jest memory leak here: https://chanind.github.io/javascript/2019/10/12/jest-tests-memory-leak.html I tried to use the same method to debug but didn't find the root cause.

Even `global.gc()` does not help for me, still seeing heap size keeps growing for each test.

[2020-02-20 04:05] pdemarino opened #9603 "Introduce ability to set up and tear down a worker for each test"
## 🚀 Feature Proposal

Adding a command line option (e.g., `--destroyWorkers`) to run each test (or test suite) in a dedicated worker, to be destroyed immediately after it completes.

## Motivation

When running large test suites, if there are issues with resource leaks, one only gets a warning at the end of the entire exercise (`A worker process has failed to exit gracefully and has been force ex

[2020-02-20 07:11] golubvladimir commented on #890
How to test chenge location in vuex action ?

[code]

[code]

I have error:
[code]

[2020-02-20 07:45] SimenB commented on #6109
This issue does not have enough details to be actionable. Please open up a new issue following the reproduction steps

[2020-02-20 07:45] #6109 closed

[2020-02-20 07:56] SimenB commented on #9602
This is because we use `git log` rather than `git diff`, see https://github.com/facebook/jest/blob/56565cc04c7261c5a3222a0547bea58c024ec0b8/packages/jest-changed-files/src/git.ts#L53-L74

I do agree this is not expected, though. @alsuren do you remember why you went with `log` rather than `diff`?

/cc @thymikee @jeysal do you agree it's not expected behavior?

[2020-02-20 07:59] thymikee commented on #9602
Yea, seems like diff makes more sense here. I wouldn't expect running tests for files that were changed+unchanged in the meantime.

[2020-02-20 08:35] julienw commented on #3703
Ah, I see what you mean, I believe you're right. Thanks for looking at the issue!

[2020-02-20 08:43] ivandosreisandrade commented on #2441
@u84six this is my packadge.json
[code]

[2020-02-20 09:31] kirillgroshkov commented on #7874
Very useful, thanks!

[2020-02-20 09:37] itsukiuehara opened #9604 "How do I test an async void function using nuxt and jest?"
Say I have this async method called fetchItem() which calls an api wait for its return value and set the form to ready.

[code]
How can I test this with jest async and mock function ? I read the documentation and I still have no clue how to implement the test.

[2020-02-20 09:46] jeysal commented on #9604
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2020-02-20 09:46] #9604 closed

[2020-02-20 10:31] aalexgabi commented on #9591
@SimenB I think that it's a good idea especially if there is a way of opting out of the verification run.

[2020-02-20 10:41] thymikee commented on #9601
This is expected behavior. From the [docs](https://jestjs.io/docs/en/manual-mocks#mocking-node-modules):

[2020-02-20 10:41] #9601 closed

[2020-02-20 12:11] SimenB commented on #6424
@ArtemGovorov you've solved this upstream?

[2020-02-20 12:17] SimenB commented on #3536
Related: https://github.com/hipstersmoothie/jest-github-reporter/issues/67

[2020-02-20 12:29] DaveStein commented on #9601
Ugh. Can’t believe I missed giant yellow warning on that page. Sorry!

[2020-02-20 14:27] ThePeach commented on #9319
I'd like to chime in, as in a newly implemented project I'm getting 0% coverage, and an empty `lcov.info` file and reports.
configuration is of the likes:
[code]

Unfortunately I have no previous state to compare it to, but other project with jest 24.9.0 coverage reports is correct (and has basically the same config).

they both are on node 12.14.1 and npm 6.13.4.

[2020-02-20 14:29] ThePeach commented on #8563
at all related to https://github.com/facebook/jest/issues/9319 ?

[2020-02-20 14:37] #5071 closed

[2020-02-20 15:19] foxbunny opened #9605 "Infinite loop clicking a select inside a label"
## 🐛 Bug Report

I've discovered that if a select list is nested inside a label element, jest goes into an infinite loop if a click is triggered on the select.

It appears that this is triggered by a click propagating from select to label, which in turns tries to send a click event back to the select because when a label is clicked, normally an associated element receives the click as well.

I was

[2020-02-20 15:44] SimenB commented on #9605
Yeah, this is an issue either in RTL or JSDOM 👍

[2020-02-20 15:44] #9605 closed

[2020-02-20 15:53] foxbunny commented on #9605
@SimenB I've started to open a report on JSDOM repo, but the version shipped with `jest-environment-jsdom` is no longer supported. So I figured I might go and report it to whoever owns the `jest-environment-jsdom` package, but apparently that brings me here again. I would appreciate a suggestion as to what I should do?

[2020-02-20 15:54] jemilox commented on #5281
Struggling with this.  Hitting backend and yet my tests are saying they only took 1ms and console logs are outputting at the very end.

[2020-02-20 16:05] ljharb commented on #2441
Your testMatch allows either `.js` or `.jx`files, and your moduleFileExtensions only allows `.js`. Something seems wrong there.

[2020-02-20 16:07] SimenB commented on #9605
You can install `jest-environment-jsdom@16` if you wanna verify against the latest JSDOM release.

[2020-02-20 16:08] foxbunny commented on #9605
Ah good idea. Thanks!

[2020-02-20 16:10] SimenB commented on #9605
sorry, `jest-environment-jsdom-sixteen`

[2020-02-20 16:11] foxbunny commented on #9605
Gotcha, thanks.

[2020-02-20 16:14] foxbunny commented on #9605
Yup, definitely still present in JSDOM 16. I'll report there.

[2020-02-20 16:14] SimenB commented on #9605
Might be something weird RTL is doing, but it's at least _closer_ 🙂

[2020-02-20 16:17] foxbunny commented on #9605
I've looked at the source where it starts the loop. JSDOM has a piece of code that detects a click on the label element, and then tries to trigger a click on the associated input/select. If the click on the label was a propagated click event that originated on the input/select, it goes into an infinite loop.

[2020-02-20 16:52] pelepelin commented on #7914
Hello!
I'm not sure if it's the same bug,
I've found the testMatch glob like `...__tests__/+(unit|integration)...` is internally converted to `...__tests__\+(unit|integration)...` on Windows so it does not match. Other slashes in my pattern are not converted. It works on linux.
Workaround for me was `...__tests__+(/unit|/integration)...`.

[2020-02-20 17:28] nickpalmer commented on #7245
Another reason to have a feature for this: We have some VERY long running tests on sections of a system that doesn't change much. We want to keep these running on CI, where we don't care if they take a long time, but devs shouldn't have to worry about them while developing. Many other test runners have ways of classifying tests (small, big, ci, etc...) and then you can pick which tests you want to

[2020-02-20 17:28] ivandosreisandrade commented on #2441
It's not relevant to the cause :man_shrugging:
That is just which file to locate and run tests against them.

[2020-02-20 18:02] alsuren commented on #9602
The reason I use `log` is quite subtle when you're looking at the code, but it's also crucial to my workflow.

I use `jest --watch --changedSince=origin/master` as my go-to command for testing my work. If I fetch master, and don't rebase my local branch, I don't want to suddenly start testing all of the files for changes that other people have added to master.

I searched for quite a long time for

[2020-02-20 18:21] alsuren commented on #9602
hrm...
[code]

maybe `...` would do what we want?

@finn-orsini do you want to try making a fix for this, or should I pick it up? (I probably won't time until Tuesday though)

[2020-02-20 18:32] finn-orsini commented on #9602
@alsuren yeah I can give it a shot this afternoon! Thanks!

[2020-02-20 18:50] alsuren commented on #9602
One other thing that we should be aware of when fixing this is that some people abuse the "resolve conflicts" button on github ( https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/resolving-a-merge-conflict-on-github ) rather than rebasing when there are conflicts. (this is a behaviour that I only observed in the last few months)

These people might end up with quite a l

[2020-02-20 19:08] finn-orsini commented on #9602
Great point!

The current project I'm working on is extremely merge-heavy, so, unfortunately, that is something I would like to account for (and I'm fairly sure is why we noticed issues in `--changedSince`).

I'm going to experiment with the diff only approach as well as comparing the output of log and diff - If neither of these are satisfactory for `--changedSince`, would adding a different optio

[2020-02-20 19:20] Kristof-Mattei commented on #8510
Another bug here:

`"**/__tests__/**/*.[jt]s?(x)"`

Doesn't match

`foo/__tests__/bar.tsx`.

[2020-02-20 20:14] dfleury commented on #9527
Still occuring with jest 25.1.0

[2020-02-20 21:32] udaypydi commented on #9240
@SimenB Can I take a look into this?

[2020-02-20 21:39] SimenB commented on #9240
Yeah, that'd be wonderful. Go for it!

[2020-02-20 22:53] RwwL commented on #8348
@shanedg Thanks so much for that workaround, that ended a long annoying session of Googling/debugging/cursing/teeth-gnashing for me.

[2020-02-21 07:25] LuckyExpress commented on #2098
It doesn't work for something like Object.keys(localStorage)

[2020-02-21 11:34] TomasBarry commented on #6691
@qwertie, @ashnur, @Kamilius

I've managed to get `testPathIgnorePatterns` on the CLI.

[The docs](https://jestjs.io/docs/en/cli.html#--testpathignorepatternsarray) are not clear on how to use `testPathIgnorePatterns` in the CLI however the following will work:

[code]

For example, if I used a `.unit.spec.js` and `.integration.spec.js` suffix on my tests to differentiate between integration and u

[2020-02-21 12:01] jakutis commented on #7874
I have a very similar report: https://github.com/jakutis/ava-vs-jest

[2020-02-21 14:11] mediafreakch commented on #8973
Or of you use a `babel.config.js` instead:

[code]

[2020-02-21 16:31] bouchja1 commented on #9086
Hi guys, this is really nice feature for future versions of Node. But I still have one problem with this. My script for the test is defined as:

`"test": "jest --runInBand --forceExit --detectOpenHandles test/integration"`

Running on Node **v13.9.0**

Then I have _jest.config.cjs_ file with the setup:

[code]

And babel.config.json as:

[code]

Package versions are updated:
 _"babel-jest": "^25.1

[2020-02-21 16:39] the-spyke commented on #9086
@bouchja1 Your test file has .js extension, but Jest transformer is set to .mjs extension.

[2020-02-21 16:47] bouchja1 commented on #9086
That could be a problem. I have renamed it to *.mjs (and added

[code]

to _jest.config.cjs_ but it says "No tests found, exiting with code 0" now...  This is that test and I think it is written correctly.

[code]

[2020-02-21 17:45] the-spyke commented on #9086
@bouchja1 As you've renamed tests to `.mjs` I bet `testMatch` expression stopped working.

In general, you shouldn't rename files into `.mjs` if they are already ESMs and using Babel. The idea is that you set `type="module"` in your `package.json` and the entire package becomes ESM. `.cjs` needed for files loaded by tools like Jest that use `require()` internally. In this case you run a Node appli

[2020-02-21 21:01] lourenci opened #9608 "Shouldn't jest.spyOn return a new mock function on reassign?"
## 🐛 Bug Report

I don't know whether this is a bug or not, but I expected something different from what is happening now.

When I mock twice through a `spyOn`, the mock does not get reset. This behavior is different from when you use `jest.fn`.

## To Reproduce

[code]

## Link to repl or repo (highly encouraged)

[Codesandbox](https://codesandbox.io/s/amazing-villani-9iuxf?fontsize=14&hidenaviga

[2020-02-22 00:43] cross19xx commented on #5001
@jhaenchen and @titchimoto I'm still facing this issue. and I'm using `jest@25.1.0`

[2020-02-22 01:26] l-abels commented on #2180
I don't use `test.concurrent`, but I do use `async`/`await` in my Jest tests and my snapshots wind up with incorrect names.  Would a solution for `test.concurrent` also need to work for `async`/`await`?

[2020-02-22 02:04] mscottx88 commented on #3370
Workaround:

[code]

Instead of using jest CLI, use Node and inject your own script which defaults `process.env.NODE_ENV` to what you want.

You could even do `jest-only` environment stuff here since you could discern the result of `NODE_ENV`.

[code]

[2020-02-22 09:25] SimenB commented on #2180
async tests should work fine... are you forgetting an `await` somewhere? If not, please open up a new issue with a reproduction as it's not really related to `.concurrent` - it should work fine

[2020-02-22 12:06] SimenB commented on #5001
Report it to Istanbul

[2020-02-23 00:49] cross19xx commented on #5001
I have resorted to using this for now, at least until the istanbul team asissts

[2020-02-23 10:46] PinkyJie commented on #7874
It seems `graceful-fs` has a potential memory leak issue, I mocked `graceful-fs` in my jest environment (with the trick suggested here https://github.com/facebook/jest/issues/6399#issuecomment-399888409), then the issue is resolved.

[2020-02-23 12:58] JonathanCa97 commented on #7874
Is there any progress on this ? I still encouter this problem even with the most simple test suites (with and without ts-jest)

[2020-02-24 06:16] vivek10688 opened #9609 "test cases are failing in setupFilesAfterEnv mode while it is working fine in setupFiles mode in react with jest + enzyme"
I am working on testing react components using jest and enzyme , earlier it was working properly but now when I am testing it is failing all test case when using this

[code]
and showing error like

[code]
but when I am changing it to

[code]
it is working fine and all the the test case are passed
below is my package.json

[code]

[2020-02-24 07:41] davidgilbertson commented on #5785
I'm doing this, thanks @kevinbarabash for the link.

[code]

[2020-02-24 08:12] bm-stschneider commented on #9503
Can you add `jest --showConfig` info maybe?

[2020-02-24 10:39] hamzahamidi commented on #4880
I had the same problem with` jest.mock('package');`
 For some reasons in CI the jest.mock doesn't work. I had to change the path of the package to make it work. It's tricky cause you need to try multiple combination before making it work in CI, although all of them work locally.
PS: I'm using Azure Devops

[2020-02-24 13:40] Demidarus commented on #9292
Hi , I am new to Vue Unit Testing and i keep getting the same Error after trying my first test.It seems to work for the first 2 import statements , but not for the epic-spinners one .I tried everything and looked up a lot over the forums and Github , but i couldnt find a solution. everything i try doesnt seem to work. I need help please !

 Thanks :)

**Error**
[code]
**package.json (with Jest con

[2020-02-24 14:55] surgeboris opened #9611 "[TS 3.8] Jest is unable to work with "type-only imports/exports""
## 🐛 Bug Report

When using a new "type-only impors/exports" feature [introduced in TypeScript 3.8](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#type-only-imports-exports) it is impossible to run tests due to the parsing error:
[code]

## To Reproduce

- use a type-only export/import in some file
- run test that imports  (directly or indirectly) that file

## Expe

[2020-02-24 14:57] jeysal commented on #9611
See https://github.com/babel/babel/issues/10981

[2020-02-24 14:57] #9611 closed

[2020-02-24 19:08] kimwilson commented on #9488
@aperkaz Nothing concrete...I ended up reverting to an old version of my package.json, and then when I went through and updated dependencies one by one to test what was conflicting, I ended up being able to update all of them and jest/storybook/storyshots didn't break that time.  So I'm not sure what was up!

[2020-02-24 19:36] gaearon commented on #7136
IMO this is a super confusing API naming and deserves to be renamed.

[2020-02-25 08:09] Dip686 commented on #6229
faced the same issue, followed this steps to resolve
1. install babel-jest
2. in jest config add this configuration
` transform: {
       '^.+\\.js?$': require.resolve('babel-jest')
   }`
3. make sure you have babel.config.js present
`module.exports = {
  "env": {
    "test": {
      presets: [
        [
          '@babel/preset-env',
          {
            targets: {
              node: 'current

[2020-02-25 10:07] k1832 commented on #8387
Here is my temporary solution.
[code]

[2020-02-25 12:17] hudsontavares commented on #8534
Guys, I am not sure if that issue stills haunting someone, but in my case, the issue was the existence of the `coverage` folder (seems like Jest looks at it for `--watch` mode) - it should also apply to whatever location you set the coverage reports to be stored.

If the modules described there are somehow different from your current file structure, there is a chance to see this annoying issue. De

[2020-02-25 14:58] mriedem opened #9613 "Unknown option "detectOpenHandles" with value true was found."
## 🐛 Bug Report

I'm trying to add `detectOpenHandles` from the CLI to package.json config for jest but getting this validation warning:

[code]

## To Reproduce

This is my jest config in package.json:

[code]

I don't get warnings on any of those other options even though others like `forceExit` and `silent` are not in the configuration guide:

https://jestjs.io/docs/en/configuration

Meaning, I

[2020-02-25 15:21] juliusdejon commented on #8364
It will show coverage when

1) you remove the --watch
2) replace it by `--watchAll` or `watchman`

perhaps the use case of the --watch is to run tests on changed files only, which kinda make sense that it doesn't produce coverage for all your files.

but I think the best behavior for --watch + coverage, that it  should somehow show the coverage of the changed files and not an `All files with 0 cov

[2020-02-25 15:28] gombek commented on #7631
Any news on that? I stacked on version 21 because of that bug. v22 is slow and v23 is even slower.
Don't you guys think it is high priority bug?

Where I work, we do not have freedom to choosing OS nor to install Ubuntu on Window or something similar.

[2020-02-25 16:05] alexander-akait opened #9614 "Snapshots are different on linux and windows when contain `\\`"
## 🐛 Bug Report

Snapshoting RegExp on windows and linux are difference when it is contains `\\`.

## To Reproduce

[code]

## Expected behavior

Snapshots should escaped property and equally on windows and linux

## Link to repl or repo (highly encouraged)

Original issue: https://github.com/webpack/webpack/pull/10443/

## envinfo

[code]

Additional information: there were no problems using `jes

[2020-02-25 20:38] SimenB commented on #9614
@pedrottimark ideas?

[2020-02-26 07:24] ssrinathsri commented on #8562
Hi, We can follow the below jest configuration...

"jest": {
    "moduleFileExtensions": [
      "js",
      "json",
      "ts"
    ],
    "rootDir": ".",
    "testRegex": ".spec.ts$",
    "transform": {
      "^.+\\.(t|j)s$": "ts-jest"
    },
    "coverageDirectory": "./coverage",
    "testEnvironment": "node",
    "collectCoverage": true,
    "verbose": true
  }

[2020-02-26 10:58] deemoding opened #9615 "Two expect method's docs are missing"
## 🐛 Bug Report

## To Reproduce

Steps to reproduce the behavior:

open [jest expect#tothrowerrormatchingsnapshothint](https://jestjs.io/docs/en/expect#tothrowerrormatchingsnapshothint) and [jest expect#tothrowerrormatchinginlinesnapshotinlinesnapshot](https://jestjs.io/docs/en/expect#tothrowerrormatchinginlinesnapshotinlinesnapshot)

## Expected behavior
it should show doc

[2020-02-26 11:01] thymikee commented on #9615
Um, it shows?
![image](https://user-images.githubusercontent.com/5106466/75338865-bcd71000-588f-11ea-9664-39846eacf494.png)

[2020-02-26 11:18] Naxos84 commented on #6509
After searching a while I found out that if you use:

[code]

but don't have one of those folders everything else is ignored too.

[2020-02-26 12:17] SimenB commented on #9615
Yeah, both of the provided links works for me in chrome. What browser do you use?

[2020-02-26 13:08] SimenB commented on #9614
The regexp part of `pretty-format` hasn't changed for years

https://github.com/facebook/jest/blob/003bd50afaf0022381ffa9eb30abd511fad2ed2e/packages/pretty-format/src/index.ts#L157-L163

![image](https://user-images.githubusercontent.com/1404810/75347040-3545cd00-58a0-11ea-9491-8dd9a387a8f3.png)

So I'm not sure where to begin looking into this... Maybe the equality function just lies? It was twea

[2020-02-26 13:10] sergtimosh commented on #7890
It reproduces for me  with  "node-notifier": "^6.0.0"

[2020-02-26 13:11] evilebottnawi commented on #9614
@SimenB I can spent my time on searching a problem, I'm afraid that it will take me more time for me, so I created the problem, suddenly there are some known potential problem areas

[2020-02-26 13:29] SimenB commented on #7890
Yeah, fixed in #9567

[2020-02-26 13:55] the-spyke commented on #9504
@SimenB I was looking into `babel-jest` because it can't load ESM config files: Babel demands to load them asynchronously. And looks like not only `Transformer.process()` needs to be async, but [Transformer.getCacheKey()](https://github.com/facebook/jest/blob/master/packages/babel-jest/src/index.ts#L74) too.

[2020-02-26 14:07] jeysal commented on #9614
Hmm I'd be surprised if it was related to that too. It should only matter for flags other than those 3

[2020-02-26 14:13] sergtimosh commented on #7890
I've just updated packages, but problem still persists

[2020-02-26 14:19] SimenB commented on #7890
Fix is not released

[2020-02-26 15:00] sebastianpatten commented on #7709
In case it helps anyone - I had forgotten to `npm install` and received this message. Installing fixed it for me.

[2020-02-26 15:10] kasvtv commented on #8226
This is a big problem. Common folders to match using `testPathPattern`s would be things like `src` and `test`. If 5 directories up from your project, there is a folder with that name, every single file will always match.

This has happened to me multiple times already under different circumstances. Using gopath for all your projects has this issue especially, because of the `src` folder in there.

[2020-02-26 15:59] cdoublev commented on #9608
Sorry if it turns out that I'm polluting your issue, but two months ago I asked [a question on stackoverflow](https://stackoverflow.com/questions/59103245/jest-does-not-clear-mocks-of-documents-methods) that might be related but that didn't receive any answer. I didn't want to be selfish and leave this SO question unanswered, even if I now have no interest in it. So I took another look at the Jest

[2020-02-26 17:48] P0ppoff commented on #9471
I don’t understand why restoring the old function. I always do :
[code]
In test environment, you don’t need to restore original window methods behaviour.

[2020-02-26 18:08] SimenB commented on #9504
Ah, to load Babel's config? That makes sense.

[2020-02-26 19:18] ahtashamabbasse commented on #3457
It's works like a charm as well as more readable and maintainable for the future.

[2020-02-26 21:00] DaveStein commented on #9181
@SimenB ran into this. Removed `jest.useFakeTimers`, issue was resolved. My workaround was:

[code]

[2020-02-27 00:08] cincospenguinos opened #9617 "Float precision error in jsdom"
## 🐛 Bug Report

The JSDom environment set as a dependency has a bug in it that seems to have been fixed in a new version.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

The test should pass. In the browser, the same component will render as valid -- tested on latest Chrome.

## Link to repl or repo (highly encouraged)

See a replication of the issue [her

[2020-02-27 00:10] SimenB commented on #9617
We support node 8, so we cannot upgrade to jsdom@16. You can install [`jest-environment-jsdom-sixteen`](https://www.npmjs.com/package/jest-environment-jsdom-sixteen) in the meantime to use it today. We'll upgrade in Jest 26

[2020-02-27 00:10] #9617 closed

[2020-02-27 05:07] deemoding commented on #9615
emmmmmm...I clear my browser cache and it works. I'm sorry

[2020-02-27 05:07] #9615 closed

[2020-02-27 12:39] #9609 closed

[2020-02-27 13:02] JulianLang commented on #4763
For anyone having the same problem: in my case it was a "fit", which caused other tests of the suite to be skipped.

[2020-02-27 13:56] mfelmy commented on #708
What worked for me, was adding `bootstrap` to `transformIgnorePatterns` in `jest.config` as suggested in this [post](https://stackoverflow.com/questions/55794280/jest-fails-with-unexpected-token-on-import-statement).

[code]

[2020-02-27 13:58] Rand01ph commented on #6924
I found this Issue still exists in the latest version.
For custom reporter, `success` is set after report generated, so what does this `success` symbol mean?
I found move `await this._dispatcher.onRunComplete(contexts, aggregatedResults);` after ` aggregatedResults.success = ! ...` will fix the issue, but I'm not sure for other logics

[2020-02-27 14:01] dfleury commented on #9527
Seems I've found a workaround here. Since I wrapped my test case and hooks with a `describe` function, seems that jest is now respecting the async `beforeAll`.

[2020-02-27 15:54] tanettrimas commented on #9240
@udaypydi Any update on your progress thus far? Otherwise, I might try to have a go as well :)

[2020-02-27 18:31] udaypydi commented on #9240
@tanettrimas I am working on it. Will raise a PR by tomorrow end of the day.
Thanks!

[2020-02-27 19:36] ErikArndt opened #9618 "Get test/describe name from within a test block"
## 🚀 Feature Proposal

Currently if I want to get the name of a test, I need to define it as a constant beforehand:
[code]
It would be nice if I didn't have to define a new constant for every test I want to run, and could instead just access the first parameter of test().

## Motivation

The most obvious use case would be printing out console messages that include the test name, but there are a nu

[2020-02-27 19:39] thymikee commented on #9618
Duplicate of https://github.com/facebook/jest/issues/7909

[2020-02-27 19:39] #9618 closed

[2020-02-27 21:16] Shingaz commented on #5242
Setup file overwriting breaks the `--silent` option. Passing a custom console through the config as @SimenB proposes is a good idea.

[2020-02-27 23:16] andreme opened #9619 "Hidden white-space in multi-line diff not visible"
## 🐛 Bug Report

When a multi-line text has for example tabs at the end of a line, and these tabs are the only difference, the difference is displayed, but both expected and received look the same.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I'm not sure how, but the tabs should be visible,

## Link to repl or repo (highly encouraged)

https://repl.it/repls/Ou

[2020-02-28 03:07] trusktr commented on #139
If anyone needs to run tests in a browser, just use [Karma](https://karma-runner.github.io/)! Jest is great if you are testing only Node.js APIs.

You can pair Karma with the [`karma-electron`](https://github.com/twolfson/karma-electron/) plugin so that your tests will run in a headless Electron window so you can run any tests in an environment with actual Node.js and Browser APIs, AND use `import

[2020-02-28 06:10] FezVrasta commented on #139
Nowadays there are better solutions such as jest-puppeteer or jest-playwright

[2020-02-28 07:04] trusktr commented on #139
@FezVrasta jest-puppeteer and jest-playwright are for a different purpose: they are for _controlling_ a browser from _outside_, using code inside your Jest tests which are running in Node (not in a Browser).

Those tools do not run your Jest code _inside a browser_. Instead they allow you to script a browser from the outside. That serves the use cases of _end-to-end or integration testing_, and I

[2020-02-28 08:29] aalexgabi commented on #9527
@dfleury I do not observe the same behaviour:
[code]

[2020-02-28 08:47] iliakan commented on #139
I don't see a reason why jest tests may not run in browser environment, while they do run in jsdom.

A lot of node.js modules runs in browser quite well.

For really node.js-specific stuff, there may be indeed compat issues, but most tests should just work.

[2020-02-28 09:02] thymikee commented on #9619
cc @pedrottimark

[2020-02-28 09:43] jamesgeorge007 opened #9620 "Use a better threshold to find the best match for an unknown flag"
## 🚀 Feature Proposal

[code]

The respective implementation won't suggest the best match for an unknown flag.

## Motivation

The best match is expected as a suggestion if an invalid flag is supplied.

## Example

`jest --resetMo` won't find any match.

[2020-02-28 09:59] mediafreakch commented on #4262
I'm having this issue with `jest@24.9.0`, `ts-jest@24.3.0` and `@vue/cli-plugin-unit-jest@4.2.2`.
Adding `moduleNameMapper: { '@/(.*)$': '<rootDir>/src/$1' }` to jest config doesn't make a difference...

[2020-02-28 11:28] sdomagala commented on #8345
Maybe it helps someone but I faced this error when I did some async operations that took longer than default 5 seconds (default timeout) resulting in jest cancelling beforeAll and moving on to test cases.
IMHO if beforeAll fails then so should beforeEach and test cases for this given `describe`

[2020-02-28 11:42] Shooshte opened #9622 "Jest 25.1.0 Environment setup: SyntaxError: Cannot use import statement outside a module"
## 🐛 Bug Report

Jest ^25.1.0 does not transform specified config files using babel-jest. According to [this issue](https://github.com/facebook/jest/issues/5164) the functionality should be supported. Instead I am getting the following error message:

## To Reproduce

Steps to reproduce the behavior:

`jest.config.js`:
[code]

`./src/__tests__/config/setup.js`
[code]

Run `npx jest --config jest.c

[2020-02-28 12:40] jeffryang24 commented on #936
This solution doesn't work on properties with only `Getter` defined. https://stackoverflow.com/questions/53162001/typeerror-during-jests-spyon-cannot-set-property-getrequest-of-object-which

My current solution is absolutely bar-bar :laughing: .

[code]

[2020-02-28 13:13] remcohaszing opened #9623 "Consistently show filenames relative to cwd instead of jest project"
## 🐛 Bug Report

I have recently started using the jest `projects` option for a mono repository. This is great, because now node code can be tested in a node environment, and browser code can be tested in a jsdom environment.

This does cause the annoying behaviour that file paths in stack traces are relative to the sub projects, rather than the root project. This means file names in stack traces

[2020-02-28 14:44] Cooperbuilt commented on #8839
I would also love to be able to configure our jest setup to not auto-import node modules mocks so we can cho0se to mock at the file level. In a large codebase, the auto-mocking has a large blast radius.

[2020-02-28 15:42] mschipperheyn commented on #8973
Babel 7.8.0 removes the requirement for separately using the optional chaining etc plugins. It looks like jest hasn't caught up yet. Just ran into this.

[2020-02-28 16:01] sassman commented on #7480
It seems the issue still exists.
It fails even when hard coding the `DBCAPI_API_DLL` and loading the hana-client like below.

[code]

seems that the native module loading done thru jest, behaves different than not via jest.

The stack trace is as below:
[code]

Is there anything under the scenes that would explain why the native (nodejs) require for native modules would behave different via jest?

[2020-02-28 18:34] trusktr commented on #139
For really node.js-specific stuff, Jest is great. Its already running your code in Node!

True, but Jest is a test runner that gives you a CLI, to run tests with, and it runs those tests in parallel using Node.js machinery, not browser machinery.

How would you tell Jest CLI to run your tests in a browser?

In the meantime, I'll be happily running all my unit tests in Karma, with code executed in

[2020-02-28 18:44] trusktr commented on #139
Let me clarify that: `JSDom` _is not_ a browser environment. JSDom is simply a set of fake APIs that the [`jsdom`](https://www.npmjs.com/package/jsdom) package simply adds to your Node.js environment as globals; it adds a fake global `window` variable along with fake APIs on that `window` variable. And similar with [`undom`](https://www.npmjs.com/package/undom)

Jest _is not_ running inside JSDom.

[2020-02-28 18:54] trusktr commented on #139
For example of APIs that are missing in JSDom (and why you'd want to run in an actual browser environment), see these bugs (or missing features):

- https://github.com/jsdom/jsdom/issues/2869
- https://github.com/jsdom/jsdom/issues/1564#issuecomment-312214401
- https://github.com/jsdom/jsdom/issues/1166
- https://github.com/jsdom/jsdom/issues/2826
- https://github.com/jsdom/jsdom/issues/2864
- htt

[2020-02-28 19:57] trackmystories commented on #6801
Hey i solved this here is what happened, I was editing my app on my text editor twice meaning, I was running pod install / update and react-native run-ios from two different windows. I tried searching for the duplicate files in Xcode and on my app but i couldn't find any. so I simply deleted the app from the simulator and re-ran react-native run-ios.

it was the only logical thing i could think of

[2020-02-28 20:20] trackmystories commented on #2070
Hey i solved this here is what happened, and maybe it can help you duplicate this.

three solutions or scenarios:

1, I was editing my app on my text editor twice meaning, I was running pod install / update and react-native run-ios from two different windows. and I got this error, I tried searching for the duplicate files in Xcode and on my app but i couldn't find any. so I simply deleted the app

[2020-02-28 21:37] ACollectionOfAtoms commented on #5356
@gcangussu I tried using your resolver (thanks for sharing!) doing something like:
`jest test/symblinkedfile.test.js"`
and no cigar. Is this not the way to use it?

[2020-02-29 02:00] MrCreeper1008 opened #9624 "toContainEqual failing when searching through an array in a mongoose/mongodb object"
## 🐛 Bug Report

`toContainEqual` fails when I try to test whether an object is in an array that is in a mongoose/mongodb object, even though the object is exactly the same as the one in the array.

## To Reproduce

This is my test snippet:

[code]
which gives:
[code]

## Expected behavior

`toContainEqual` should be able to match the object in the array and passes the test.

## Link to repl or re

[2020-02-29 05:20] BiosBoy opened #9625 "TS + SCSS = Cannot find module '../mocks/index.scss'."
## 🐛 Bug Report
It seems to happen on the latest `jest` + `ts-jest`.

[code]

## To Reproduce

Steps to reproduce the behavior:
[code]
## Expected behavior
Should handle `.scss` imports without crashing.

## Link to repl or repo (highly encouraged)
[code]

## envinfo

[code]

[2020-02-29 07:53] dotku commented on #5783
@jjangga0214 it returns call back is not a function

[2020-02-29 10:27] leonardovillela commented on #9534
Hi, can I take this issue?

[2020-02-29 14:27] SimenB commented on #9534
Yes please! 🙂

[2020-02-29 14:46] BiosBoy commented on #9625
Seems like it was a problem with my **index.d.ts** global declaration file. I had remove `import React from 'react'` and the issue was gone.

[2020-02-29 14:47] #9625 closed

[2020-02-29 20:20] obakriad commented on #6944
Problem solved step by step:
1. npm cache clean --force
2. Delete node_modules and package-lock.json
3. npm install

[2020-03-01 01:11] noinkling commented on #9386
The type definition is at `Config.ProjectConfig` from the `@jest/types` package, in case that's useful information. Source can be found here: https://github.com/facebook/jest/blob/cc5d630ec1cdbf8414ab78af800cb838d24ee63c/packages/jest-types/src/Config.ts#L302

I think the main `jest` package used to export it directly at some point, but no longer.

[2020-03-01 12:20] gregid commented on #9441
I am experiencing the same problem but only when running on gitlab CI, the `Uncovered Line #s` never truncates making the report fit the largest item.

[2020-03-01 13:07] #9517 closed

[2020-03-01 13:08] SimenB commented on #9517
@jensbodal this was fixed in yargs, so you should be able to just update the version of yargs in your project

[2020-03-01 20:00] leonardoraele commented on #7579
Hmm Still got this issue using `jest@25.1.0` 🤔 (Dylan's solution worked fine, though)

[2020-03-01 20:26] sveyret opened #9627 "Consider using confinode"
## 🚀 Feature Proposal

I create the package [confinode](https://www.npmjs.com/package/confinode) whose purpose is to search and load configuration file. With _confinode_ you can support a lot of file types (e.g. create a _TypeScript_ configuration file). Its management of indirection could also fix issue #8134.

[2020-03-02 06:35] ahmad-reza619 commented on #8230
Hi there, i'm using NPM here, and this issue still happens, but my error message is

`unexpected token import`

using jest@24, babel-jest@23, and babel 6

[2020-03-02 07:23] jeffryang24 commented on #936
Oh, yes also this method is not working if your object only has `getter` defined. The error message could be like below:

[code]

Probably need to use `jest.mock(..)` for this case. :bowing_man:

[2020-03-02 09:28] royra opened #9628 "projects and collectCoverageFrom do not work together"
## 🐛 Bug Report

We're using using Jest's [`projects`](https://jestjs.io/docs/en/configuration.html#projects-arraystring--projectconfig) feature to run tests in all packages of a monorepo concurrently. It's blazingly fast, and especially useful in CI ❤️ .

The problem is that some packages need to exclude a pattern (e.g, `/index.js`) from test coverage. Other packages need to include the same patt

[2020-03-02 10:11] OlegBrony opened #9629 "why the second argument for 'test' is optional?"
## 🐛 Bug Report
![image](https://user-images.githubusercontent.com/19880334/75666552-aad5e280-5c7e-11ea-8ab1-9eb324718932.png)

test fails without second argument, but typescript is okay about it. maybe remove the question mark?
we have test.todo() anyway.

[2020-03-02 11:30] yolpsoftware commented on #9473
Same problem here. Please reopen.

[2020-03-02 11:56] gcangussu commented on #5356
@ACollectionOfAtoms I'm not sure if Jest will use the custom resolver to resolve the test suite file. I think it only uses it to resolve the modules you `require()`. Maybe you will need to use Node's [`--preserve-symlinks-main`](https://nodejs.org/api/cli.html#cli_preserve_symlinks_main).

[2020-03-02 11:58] jeysal commented on #9473
We won't reopen this without a minimal repro. The only repo posted is not useful, since we don't have time to spend on hunting down leaks in big repos for someone, we can only take action when pointed to a concrete problem in Jest. That's why I asked for a *minimal* repro specifically.

[2020-03-02 12:04] jeysal commented on #9629
Please open this with https://github.com/DefinitelyTyped/DefinitelyTyped as it is [their type definitions](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/9d29adedf662de685356f711951ef8b9e8342865/types/jest/index.d.ts#L354-L365) you're looking at. Thanks!

[2020-03-02 12:04] #9629 closed

[2020-03-02 12:15] yolpsoftware commented on #9473
Okay, gonna try to isolate it.

[2020-03-02 13:57] MaxInMoon commented on #8973
@mschipperheyn can you provide your babelrc/jest config files and dependencies versions please?

[2020-03-02 15:29] hevans90 commented on #7631
@gombek have you tried v25? The Jest team have made a lot of performance improvements across the board.

[2020-03-02 17:38] #9574 closed

[2020-03-02 17:43] dfleury commented on #9527
I guess the problem in your example is your are never resolving the promise and the global timeout is firing because of that.
What I've catched here is similar but different since my test case was running in parallel with `beforeAll` even I'm respecting the 5s limit and, a variable that might be defined by `beforeAll` was being used before it was ready. That way, my test case failed saying that va

[2020-03-02 20:07] MattKunze commented on #9588
It seems to be that potentially there is a very large number of total modules that are imported, especially when dealing with third party libraries. Most have negligible performance impact. I would think the reporter could be responsible for displaying this in a useful way.

For our current state we have a large number if test suites that perform poorly, so part of the desire would be to have it h

[2020-03-02 20:15] dimahali commented on #9292
I wrote an article to sum up the solutions as i was unable to find a proper solution for the issue. Hope this will help https://xperimentalhamid.com/how-do-i/fix-cannot-use-import-statement-outside-a-module/

[2020-03-02 20:53] brianseeders commented on #8379
+1 seeing the same issue on 25.1.0, MacOS, node 12.16.1.

Started seeing failed tests in CI in our junit reports for skipped tests, and it turned out to be this issue.

[2020-03-02 21:25] szafirov commented on #6452
Is there a special syntax to print the value of something like `a.b[0]`?
It currently prints the value of `a.b` followed by '[0]' instead.

[2020-03-02 21:44] sibelius commented on #6610
any workaround for this?

[2020-03-03 01:09] jackwilsdon commented on #6452
Have you tried `a.b.0`?

[2020-03-03 07:59] nicolasrhc opened #9630 "Trying to spy function inside wrapped hoc"
## 🐛 Bug Report

I am trying to spy on a function of a component that is wrapped in a HOC but does not leave me since it says it does not find that function

## To Reproduce

Steps to reproduce the behavior:
MyComponentView.tsx

[code]

MyComponentView.test.tsx
[code]

## Expected behavior

This test should tell me if the function setFunction is called after doing the shallow, but it does not do s

[2020-03-03 09:40] thymikee commented on #9630
Don't spy on component prototype, you're testing implementation details.
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](https://jestjs.io/en/help). Thank you :)

[2020-03-03 09:40] #9630 closed

[2020-03-03 15:09] TheDutchCoder opened #9631 "TypeError: rel attribute has no supported tokens"
## 🐛 Bug Report
I'm running a test to detect AR capabilities in the browser. I do this by checking an anchor's relList for 'ar' support with `anchor.relList.supports('ar')`.

However, Jest then fails with `TypeError: rel attribute has no supported tokens`, instead of simply returning false.

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

Simply to return false.

##

[2020-03-03 17:33] mmakrzem commented on #7220
we would like this feature too!

[2020-03-03 19:25] boatcoder commented on #8404
Are you running inside a docker image?  I see these kinds of failures sporadically on bound/mapped filesystems.  OS is returning ENOENT (sometimes) and a re-run and all is well.  You might try running it outside the docker to see if it will repeat.

[2020-03-03 19:34] rodrigoramos commented on #7372
Any updates on this?

[2020-03-03 21:37] GarrettCulos opened #9632 "Error displays current file code, not the code used in the test."
## 🐛 Bug report

When running a test, that will fail, if you change the test file (prior to the error occuring), you will see the current code line, not the one used when the test was initialized.

## To Reproduce

- Create a test that  `expect([1,2,3]).toHaveLength(2)`
- Run test, and before the error occurs, change file to `expect([1,2,3]).toHaveLength(3)`

![Screen Shot 2020-03-03 at 1 31 17 PM

[2020-03-04 10:34] TomasBarry commented on #7151
For what it's worth, we have resorted to overwriting `window.setTimeout` when using a `setTimeout` in a promise chain:

[code]

[2020-03-04 11:16] royra commented on #9628
Added PR #9633 which implements the DRY solution described above.

[2020-03-04 13:19] Runtime-Err commented on #6819
@thymikee Two days ago, I ran into the exact same issue. For me, your suggested solution doesn't work. Could there be another way to solve this?

[2020-03-04 13:42] Runtime-Err commented on #6819
@chawax Where you finally able to solve this problem?

[2020-03-04 13:45] chawax commented on #6819
I am sorry but I can't remember ... It was a long time ago and I moved to more recent versions of React Native for months.

[2020-03-04 14:40] GuskiS commented on #8816
Is there any progress on this one?

[2020-03-04 14:53] guilleanto22 commented on #2663
@magnusart
you save my day, it works fine

[2020-03-04 16:01] gaaliche commented on #9503
Running `jest --clearCache` will make the run much slower.
Here's the config
[code]

[2020-03-04 16:56] Wzb3422 opened #9634 "Want to help translate Chinese doc"
## 💬 Questions and Help

I'd like to help translate and edit Chinsese documentation.I searched everywhere, but just can't find where the repo is.

### Please note that this issue tracker is not a help forum and this issue will be closed.

For questions or help please see:

- [The Jest help page](https://jestjs.io/en/help.html)
- [Our discord channel in Reactiflux](https://discord.gg/MWRhKCj)
- The

[2020-03-04 17:14] thymikee commented on #9634
You're very welcome to help! Check our contributing guide for more information on how to get started with translations: https://github.com/facebook/jest/blob/master/CONTRIBUTING.md#docs-translation

[2020-03-04 17:14] #9634 closed

[2020-03-04 18:14] jquense commented on #8736
@SimenB FYI we are almost done extracting our karma/except/circus hybrid into a karma framework. https://github.com/4Catalyzer/karma-jest

There is a non-trivial amount of work to get this to run nicely in a browser. Not actually b/c of the builtin mocking or `process` but b/c jest packages are all commonjs, and so you end up with all of `jest-util` and friends in the bundle b/c you can't tree sha

[2020-03-04 22:02] bbbryan14 commented on #8475
jumping on this issue, when object contains methods, I'm running into this issue:

[code]

[2020-03-04 22:04] bbbryan14 commented on #8475
jumping onto this thread, when an object contains methods I run into this:

[code]

[2020-03-04 22:15] falkenhawk commented on #9079
Sadly, snapshot testing with property matchers is unusable with arrays at the moment.

[2020-03-04 23:45] protoEvangelion commented on #9450
@SimenB any progress on a new release for this?

[2020-03-05 02:33] goldhand commented on #3564
Would be nice to support this. While using js and `Object.assign` is easy, I'd prefer to avoid the extra config files in monorepos if possible. Being able to describe `"jest": {"extends": "<rootDir>/../jest.base.js"}` in package.json would be a little cleaner IMO

[2020-03-05 02:35] septs opened #9636 "Support typescript format configuration file"
## 🚀 Feature Proposal

To be able to fully use TypeScript

## Motivation

Make the `.js` file not appear in the project.

## Example

This allows us to TypeScript ONLY.

Expected:
[code]

## Pitch

Why does this feature belong in the [Jest core platform](https://www.youtube.com/watch?v=NtjyeojAOBs)?

Common feature proposals that do not typically make it to core:

- New matchers (see [jest-extende

[2020-03-05 04:34] dotku commented on #5783
The problem is that it will stop printing/debug the test

[2020-03-05 10:07] eric-burel commented on #7104
Hi @rogeliog , any idea where to start? I could write such a serializer but doc is sparse, I haven't figured how they work. I should do a replace in the `print` method somehow but then no idea.
We have the same issue when testing GraphQL code.

[2020-03-05 11:21] grosto commented on #7480
The problem here is with `process.env`.

Every test file is run inside [VM](https://nodejs.org/docs/latest-v12.x/api/vm.html) module. But VM context does not have Node globals(require, process and etc), so Jest modifies these globals and then injects them in. VM and these modifications are needed to ensure all test files run in isolation. `a.test.js` should not affect the outcome of `b.test.js`.

[2020-03-05 11:45] yachaka commented on #8208
As a temporary workaround, you can set `DEBUG` env variable to `jest`:

[code]

[2020-03-05 13:16] ranyitz commented on #3215
@capaj & @AntonNarkevich As [pointed out](https://github.com/facebook/jest/issues/3215#issuecomment-424304930) it's currently [possible to configure a runner](#5712) to run serially.

Here is a simple example:

[code]

[code]

[2020-03-05 15:14] jjangga0214 commented on #5783
@dotku What do you mean? Would you check [the official docs](https://github.com/koajs/koa/blob/master/docs/api/index.md#applisten) if needed?

[2020-03-05 15:20] RomainBitard opened #9638 "add an expectAll feature"
## 🚀 Feature Proposal

As a developper I want my test to be able to fail on multiple expects so that I can debug/test faster

## Example
It would work like the assertAll in Junit5
[code]

instead of :
[code]
I suggest :
[code]
Jest is awesome and with this QOL improvement it would enhance developpers productivity even more

[2020-03-05 16:26] jinguohao1991 commented on #1650
// jest.config.js
module.exports = {
 ... ...
  snapshotResolver: './__snapshots__/snapshotResolver.js',
 ... ...
}

// snapshotResolver.js

module.exports = {
  resolveSnapshotPath: (testPath, snapshotExtension) =>
    testPath
      .replace(/\.test\.([tj]sx?)/, `.test${snapshotExtension}`)
      .replace(/src([/\\]components)/, '__snapshots__'),

  resolveTestPath: (snapshotFilePath, snapshotEx

[2020-03-05 17:18] rogeliog commented on #7104
Jest snapshots serializers, use the `pretty-format` package, which also lives inside the Jest repository

Here are some links that might be useful.
- [Pretty format documentation](https://github.com/facebook/jest/blob/master/packages/pretty-format/README.md)
- [Using Pretty format with Jest](https://github.com/facebook/jest/blob/master/packages/pretty-format/README.md#usage-in-jest), this shows ho

[2020-03-05 17:24] eric-burel commented on #7104
That's of great help already, thanks!

[2020-03-05 17:31] paul-arthurthiery commented on #6402
Can we reopen this please ?

Just ran into the same issue when using Enzyme to generate wrappers and instances for react components.
The ability to share instances throughout `describe` blocks and only mocking certain methods is pretty important for optimized testing (since generating a rendered component is slow).

I designed my tests like this :
[code]

Which fails do to the issue described earl

[2020-03-05 17:34] rogeliog commented on #9638
Hi!

I think that this is an interesting idea! I wonder if this could be also done as a third party library to begin with?

For example `import expectAll from 'expect-all'`, or one would add it as a global in one the setup files. Similar to how [jest-extended](https://github.com/jest-community/jest-extended) works

[2020-03-05 18:33] ChrisCrewdson commented on #5989
I get similar behavior on my laptop with a hyperthreaded CPU (Intel(R) Core(TM) i7-9750H). Running Jest with defaults completely locks up all available CPU and slows the system to a crawl when it spawns 15 processes. I really think Jest should be using something like the logic in https://www.npmjs.com/package/physical-cpu-count as the default, not `os.cpus().length`.

[2020-03-05 19:53] sassman commented on #7480
IMHO the VM that you described should be created the from the node process at the very moment the test enters the `describe` (the very outer)  callback, so that everything that did modify the process / environment etc. is kept for the whole test execution time but only modification from within the `describe` blocks are not affecting any other calls.

Otherwise, testing with jest would give false c

[2020-03-05 21:22] dobesv commented on #9503
I'm having the same issue today:

[code]

[2020-03-05 23:50] BenoitRanque commented on #7480
Hello. My issue does not involve jest, but `@sap/hana-client` is giving me trouble and I've not had much luck finding people using it, so here goes.

I'm trying to get this library to work in a container, with no luck. I'm getting this exact same error. I've set the DBCAPI_API_DLL env variable in my container, and I can confirm the value is there.
However, something else fails I guess, since I get

[2020-03-06 01:18] gabefinch commented on #2145
Adding all of these items to my `jest.config.js` apears to be working for me:
[code]

[2020-03-06 09:13] thernstig commented on #6216
I am confused as to what this is supposed to do. I tried the config like this:

[code]

I have tests taking more than 100 ms obviously, but it still does not time out in any way. How come?

And what is the difference between the config `testTimeout` and `jest.setTimeout()`. Reading this thread it sounds like `testTimeout` is per test case i.e. per `it()` and that `jest.setTimeout()` is per "test f

[2020-03-06 09:41] empperi commented on #7631
Hi, just thought I'd add some additional information to this discussion. Jest is super slow also when executed inside a Docker container which has the source code and tests shared via volume from the host system (Windows).

I'm pretty certain this slowdown is due to the differences in how Windows handles file handles compared to unix systems. In unix, if a process has a file handle open that does

[2020-03-06 10:40] jeysal commented on #6216
It can be described both as 'per test' and 'per test file' - using `jest.setTimeout()` you set it for each individual test in the entire test file. If you know a way to make this clearer in the docs feel free to shoot over a PR 😄
Also, if tests exceed your timeout limit, note that it only applies to asynchronous operations. If a test synchronously takes a long time to run (heavy computations or lo

[2020-03-06 13:20] thernstig commented on #6216
Good info! I have one since before, I suppose I should take one for the team and try to push a PR https://github.com/facebook/jest/issues/created_by/@me

I'm running tests in asynchronous operations. Setting `testTimeout: 100,` like above still did not work to time out the test cases, but `jest.setTimeout(100)` did. I.e. it doesn't work, at least not with projects.

[2020-03-06 14:21] mschipperheyn commented on #6616
imho it should split screen and report the progress on the right and the running thread output on the left. We generally run tests on large screens anyways.

[2020-03-06 14:25] retorquere commented on #6616
That's not true on Travis. Travis output is constrained to a pretty narrow "screen".

[2020-03-06 15:57] lovefamilychildrenhappiness opened #9640 "Execute Jest within the JS Runtime Environment and store a unix status code inside a variable"
I have a particular use case, which I presume will become increasingly prominent. I have a lambda function which gets executed by AWS. The lambda function allows me to run integration tests, but I must store the result inside a variable in order to pass back to the lambda function callback to determine whether the lambdas can continue deployment. More details are provided below:

https://docs.amaz

[2020-03-06 16:36] pfftdammitchris commented on #7631
I'm using Jest v25 on windows and it is still slow

[2020-03-06 16:43] shawninder opened #9641 "`toThrow` vs `toThrowError` confusion in docs"
## 🐛 Bug Report

The documentation has a [section called `toThrow`](https://jestjs.io/docs/en/expect#tothrowerror) which uses only `toThrowError`. Should we be using `toThrow` or `toThrowError`, or do both achieve the same thing? The documentation does not make this clear.

## To Reproduce

Visit https://jestjs.io/docs/en/expect#tothrowerror

## Expected behavior

I would expect the code samples t

[2020-03-06 16:44] hevans90 commented on #7631
@pfftdammitchris I have compared pretty complex test suites on Mac + Windows and I see some differences, mainly from a cold Windows is notably slower, but once it's hot I get similar performance between the two.

**HOWEVER...**

One thing to be extremely weary of on Windows in particular are intrusive kernel-level programs like Antiviruses/File-watchers like Carbon Black (or other real-time file w

[2020-03-06 16:48] shawninder commented on #9641
I guess I read things wrong, it is already indicated that `toThrow` and `toThrowError` are aliases. Sorry about this.

[2020-03-06 16:48] #9641 closed

[2020-03-06 20:24] skeggse opened #9642 "support hasOwnProperty global"
## 🐛 Bug Report

The `hasOwnProperty` global is not accessible from `jest.mock`.

## To Reproduce

Steps to reproduce the behavior:

[code]

Output:

[code]

## Expected behavior

No errors.

[2020-03-06 23:56] Pomax opened #9643 "Security issue: please update Acorn"
[code]

[2020-03-07 01:56] hjr3 commented on #9643
I believe the root issue is with `acorn-globals`, which is has an acorn v6 dependency in the [package.json](https://github.com/ForbesLindesay/acorn-globals/blob/master/package.json#L20).

The latest [jsdom package.json](https://github.com/jsdom/jsdom/blob/master/package.json#L25) depends on acorn-globals `v4.3.4` which is the latest release. The overall jest ecosystem depends on jsdom, so it gets

[2020-03-07 07:44] juergenzimmermann commented on #9643
When the dependency of jsdom is upgraded from `^15.1.1` to ` ^16.2.0` (see https://github.com/facebook/jest/blob/master/packages/jest-environment-jsdom/package.json#L18) then the indirect dependency of _acorn_ will be `^7.1.0` (instead of `6.1.1`). Finally `7.1.1` has the security fix.

[2020-03-07 12:49] RomainBitard commented on #9638
That's a good idea, didn't thought about jest-extended ! I'll post an issue there to see what happens

[2020-03-07 12:55] shivafreelancin3 commented on #6944
npm clean cache --force
worked for me as well.

It seems like, as versions increases, some dependencies are not back compatible and new versions are not updated to the packages
Due to this, ERR is coming.
clearing cache is making sure that new projects can be created fine.
but not sure, what happens to other existing projects if they are purely depends on older versions and not compatible with new

[2020-03-07 15:18] harrytang commented on #6937
Same here

[2020-03-07 17:11] rogeliog commented on #9638
Got it. I’ll close this in the mean time, we can reopen it if needed.

[2020-03-07 17:11] #9638 closed

[2020-03-07 19:22] tunnckoCore commented on #9643
For anyone having this:

[code]

Until https://github.com/ForbesLindesay/acorn-globals/pull/50 or https://github.com/ForbesLindesay/acorn-globals/pull/56 get merged.

[2020-03-08 05:41] DusterTheFirst commented on #9624
I have the exact same problem. .toContainEqual() seems to be acting like .toStrictEqual().
![example](https://idk.dusterthefirst.com/01E2WAHTW3016YNHKWHWBM82RA.png)

[2020-03-08 05:46] MrCreeper1008 commented on #9624
What I'm doing to avoid this is to reorder the keys and then stringify the objects before comparing. Kinda hacky, but it works.

[2020-03-08 07:12] sharathvignesh opened #9644 "moduleNameMapper doesn't work along with parceljs."
## 🐛 Bug Report

My react app powered by [Parcel](https://github.com/parcel-bundler/parcel), uses jest and [test-library](https://github.com/testing-library/react-testing-library) for testing. I have imported some png and jpg images in my components, which makes the tests fail. I tried using _moduleNameMapper_ in my config, but doesn't seem to work.

## To Reproduce

Steps to reproduce the behavio

[2020-03-08 08:50] tunnckoCore commented on #9643
FWIW `acorn-globals@6.0.0` is published.

[2020-03-08 09:34] thymikee commented on #9644
Please provide minimal reproduction.

[2020-03-09 07:12] JasonHK opened #9645 "`.toBeInstanceOf(Class)` failed to assert errors throw by Node.js"
## 🐛 Bug Report

As I said in the title of this issue, `.toBeInstanceOf(Class)` failed to assert errors throw by Node.js.

## To Reproduce

Steps to reproduce the behavior:

The test below can reproduce the bug.

[code]

## Expected behavior

The test above should pass since all Node.js errors were extended from `Error`.

## Link to repl or repo (highly encouraged)

https://repl.it/repls/OriginalR

[2020-03-09 10:21] Yegorich555 opened #9646 "Ability to import jest functions from module (helpful for intellisense)"
## 🚀 Feature Proposal

```import jest from 'jest';``` doesn't contain any jest test functions. Why???
It's not so difficult to implement **jest.d.ts**

## Motivation

 I need to look for every function in jest documentation for using it. It's difficult and annoying
 **import** and **IntelliSense** in this case will be helpful

[2020-03-09 10:59] warpdesign commented on #2234
I am having the same problem: tested a whole bunch of code examples found in this issue and none worked for me: mock appears to be ignored.

How did you fix your problem?

We are also using Babel so this may be related too.

[2020-03-09 13:06] NelsonFrancisco commented on #29
So, how do you acess [jest object](https://jestjs.io/docs/en/next/jest-object) inside an environment class?
I have this class that extends NodeEnvironment ('jest-environment-node' package)
Inside `teardown` function, I want to call [resetModules](https://jestjs.io/docs/en/next/jest-object#jestresetmodules).

I've tried the following, none works, says that "jest" is undefined:
 - `this.jest.resetMo

[2020-03-09 14:26] rogeliog commented on #9646
Which version of Jest are you using, that seems to be working fine for me in a `.ts` file.

<img width="729" alt="Screen Shot 2020-03-09 at 7 25 32 AM" src="https://user-images.githubusercontent.com/574806/76222032-3a2b4a80-61d7-11ea-9ef8-a42260ba0c54.png">

[2020-03-09 14:40] rogeliog commented on #9624
Thanks for reporting and for providing a repo.

I've been looking at it, and it seems that the reason it is failing is because the items in `createdConversation.messages` contain more keys than just `_id, type, content`. `createdConversation.messages` also contains the following keys `__parentArray, __index, $isDocumentArrayElement, $__, isNew, errors,
 _doc, $locals, $op, $init`.

You can see the

[2020-03-09 14:42] rogeliog commented on #8208
Are you seeing the same issue if you run with `--runInBand`?

[2020-03-09 14:54] Yegorich555 commented on #9646
All right. You import jest-compiler. But there are no-jest globals like
```jest.fn()```
```expect```

[2020-03-09 15:05] MrCreeper1008 commented on #9624
Thank you so much for the detailed explanation! I'll look into it.

[2020-03-09 15:16] TheDutchCoder opened #9647 ""Could not locate module", but only in watch mode"
## 🐛 Bug Report

When running tests in watch mode, Jest can't resolve images from the `moduleNameMapper`, however it works fine in regular mode.

## To Reproduce

require an image from an alias:
[code]

## Expected behavior

File to be resolved.

## envinfo

[code]

[2020-03-09 15:19] TheDutchCoder commented on #9647
`--watchAll` works instead of `--watch`.

yoink

[2020-03-09 15:29] nvdnkpr commented on #9636
Any reactions on this question ?

[2020-03-09 16:09] fringd commented on #6800
another gentle ping on this almost a year later. Maybe changing the behavior of globalTeardown/Setup could be rolled into the next major release?

[2020-03-09 19:12] #9624 closed

[2020-03-09 20:35] retorquere commented on #6616
Is there anything in beta that I could test? I've had to resort to generating individual test files as the first step in my tests and I'm really not liking it; the generation process also means I can't currently run tests in parallel.

[2020-03-09 21:23] leonardovillela commented on #9534
Hi @SimenB, I'm working on this issue and don't have much progress. I have some doubts about the approach that I should follow. Actually I didn't understand your first comment really well. Should I try to "use" definition on `@types/jest` on `jest-mock` package and work on top of it to add `mocked` fn from `ts-jest`?

[2020-03-09 22:45] Sami-5 opened #9648 "NPM audit failure"
Just alerting you to the fact that I'm getting an npm audit failure regarding two third party dependencies of Jest (acorn and kind-of). These are flagged as containing potential vulnerabilities, specifically "Validation Bypass" and "Regular Expression Denial of Service".

[2020-03-09 23:59] pahan35 opened #9649 "Mocked timers are not used in env with @babel/plugin-transform-runtime"
## 🐛 Bug Report

I noticed that fake timers don't work if jest is used together with `@babel/plugin-transform-runtime`. I debugged it and found that `core-js-pure` uses original setInterval when it calls `setInterval` which looks like mocked

## To Reproduce

Steps to reproduce the behavior:

1. Clone provided repo
2. Run `npm test`

## Expected behavior

I just expect that I can use fake timers a

[2020-03-10 02:09] railsstudent commented on #9643
jsdom 16.2.1 is released and acorn is upgraded to 7.1.1
https://github.com/jsdom/jsdom/blob/master/package.json#L24

Thanks

[2020-03-10 04:17] pratiksawant10 commented on #9648
I am facing similar issues. Any updates on fixing this error?

[2020-03-10 04:41] mattdarveniza commented on #9648
Yep, this will require an update of `jest-environment-dom`s version of `jsdom` from 15 -> 16, which is why npm audit can't auto-fix. JSDom 16 requires a minimum node version of 10, while Jest's current min version is v8. Unless jsdom introduces a bug fix patch in version 15, this may be a bigger change than expected.

Given all of that, I suspect this may take a while longer than most other packag

[2020-03-10 04:48] pratiksawant10 commented on #9643
@railsstudent Can you please help me with the steps to fix this issue?

[2020-03-10 04:55] pratiksawant10 commented on #9648
@mattdarveniza Looks like the issue is currently being address, have a look at this - https://github.com/facebook/jest/issues/9643

[2020-03-10 07:12] mym0404 commented on #8973
In jest.config.js, I solved this problem with following.
![image](https://user-images.githubusercontent.com/33388801/76288365-e65d5600-62e9-11ea-8e23-95c2d3b891ac.png)

[2020-03-10 09:45] klippx commented on #9070
What happened in the end, what was your fix?

[2020-03-10 10:59] SimenB commented on #9648
Duplicate of #9643

[2020-03-10 10:59] #9648 closed

[2020-03-10 10:59] SimenB commented on #9643
Upgrading JSDOM is a breaking change, so it won't be done until the next major. You can use `jest-environment-jsdom-sixteen` if you want to use a version of JSDOM without the "vulnerability", but npm will still complain as Jest itself depends on `jsdom@15` and will for the duration of `jest@25`

[2020-03-10 11:27] balanza commented on #2549
@kayahr I forked you example and I implemented @SimenB's advice. It seems to work!
Also, I implemented shared globals - which aren't working with current implementation, too.

Here the repo: https://github.com/balanza/jest-demo-2549

thanks everybody

[2020-03-10 13:07] HawkeyePierce89 commented on #9552
Warning still appears

[code]

[code]

[2020-03-10 13:11] SimenB commented on #9552
Then you have it somewhere else, as a clean install right now just warns about `request` being deprecated

[2020-03-10 13:14] SimenB commented on #9643
That said, I'm not getting this warning?

[code]

[2020-03-10 13:25] bartlomiejzuber commented on #8987
I had the same issue, instead of making any changes in setup files I end up with using https://jestjs.io/docs/en/jest-object.html#jestisolatemodulesfn in order to isolate each module so they are imported without having cache.

ex.
[code]

[2020-03-10 13:54] RiZKiT commented on #9643
@SimenB Together with the "kind-of" dependency vulerability mentioned in https://github.com/facebook/jest/issues/9648, it looks a bit different in our project:
`found 39465 vulnerabilities (39451 low, 14 moderate) in 1223109 scanned packages`
Where almost all results are coming from jest. Two days ago it were 0 vulnerabilities.

[2020-03-10 14:01] hjr3 commented on #9643
The fix was backported to acron `6.4.x` [here](https://github.com/acornjs/acorn/issues/929). At the time of this writing, new installs should not have any reported vulns.

If you have an existing install, make sure you are using the latest version of jest `25.1.0`. You can run `npm audit fix` or whatever the yarn equivalent is.

I believe this issue should now be closed.

[2020-03-10 14:08] #9643 closed

[2020-03-10 16:30] rogeliog commented on #6616
@retorquere, not in beta, but I have this PR https://github.com/facebook/jest/pull/9001, I'm happy to spend some time polishing it up so that it gets to a better stop if needed. cc: @SimenB

[2020-03-10 17:59] retorquere commented on #6616
I understand why jest would want a polished solution, but right now I'll take the working-now over the polished-sometime.

[2020-03-10 19:37] cspotcode commented on #9446
Any update on this?

[2020-03-10 22:09] SimenB commented on #6616
@rogeliog yeah, would be lovely to land! I stand by what I said then that I think we should land it piecemeal as it's currently way too big to properly review

[2020-03-10 22:55] retorquere commented on #6616
But what's the process then? This issue is creeping up to its two-year mark.

[2020-03-11 05:29] GrayStrider opened #9653 "Jest is 40 times slower than mocha"
Thinking that this is normal could be one of the biggest mistakes of my career so far
[code]
`jest.config.js`
[code]

dozen duplicated tests with duplicated
[code]
in each

`jest --watch`
![image](https://user-images.githubusercontent.com/43771776/76385183-33f2c500-63b5-11ea-91b2-766504170b03.png)

`yarn run test --watch`
![image](https://user-images.githubusercontent.com/43771776/76385257-6997ae0

[2020-03-11 05:32] thymikee commented on #9653
Thanks for the report. We already have performance related issues, this brings nothing new.

[2020-03-11 05:32] #9653 closed

[2020-03-11 05:33] GrayStrider commented on #9653
Nothing else to advice? Nothing at all?

[2020-03-11 05:34] GrayStrider commented on #9653
Forty-freaking times. I'm just blown away.

[2020-03-11 05:40] thymikee commented on #9653
Try running in Node environment, jest spins jsdom by default. It also insects expect into global env, so no chai is needed. It also does a lot of file system crawling, parallelization, caching. For small number of simple tests it's expected to be slower, but it scales better

[2020-03-11 05:41] WeiAnAn commented on #9646
You can install `@types/jest`, and you will get  jest IntelliSense work.

[2020-03-11 07:17] saintfirewater commented on #286
Aftter using it, I think `--silent` is an option for every `console.*`.
There are some needless warnings from other libraries, so sometimes I need this feature.

[2020-03-11 10:59] lightness commented on #9645
@JasonHK
just try `throw new RangeError();` instead of `randomBytes(-1);`. It works fine!

Also in your repl I see that it throws `NodeError` but not `RangeError`.
[code]

[2020-03-11 11:00] GoelBiju commented on #2234
@warpdesign this solution seems to work for me with Jest in TypeScript.

[code]

Shortened from this article on [mocking the current Date in Jest](https://medium.com/@hugo__df/mocking-the-current-date-in-jest-tests-b390de23ab77).

[2020-03-11 11:38] nunofgs commented on #8969
Any news here? just hit this as well. Very annoying.

[2020-03-11 11:39] JasonHK commented on #9645
It's weird because it throws `RangeError` in normal Node.js environment, not `NodeError`. Also, `indtanceof RangeError` return `true` in normal Node.js environment, but not in Jest environment. Plus, there's no `NodeError` object in Node.js global scope.

[2020-03-11 11:52] jeysal commented on #9645
Duplicate of https://github.com/facebook/jest/issues/2549 - very hard to fix unfortunately

[2020-03-11 11:52] #9645 closed

[2020-03-11 11:53] Yegorich555 commented on #9646
Yeep. It's a little bit confusing because **node_modules/jest/index.d.ts** exists, as **node_modules/@types/jest/index.d.ts** is completely different and contains jest-globals.

Anyway. The issue is resolved. Thank you for your attention.

[2020-03-11 11:53] #9646 closed

[2020-03-11 12:31] Robinfr commented on #8423
I can confirm this broke for us when upgrading from 24.x to 25.1.0.

[2020-03-11 13:31] lightness commented on #9645
I just ran your repl: https://repl.it/repls/OriginalRawPlanes (but there Node is 10.16.0 - but it should not affect)

[2020-03-11 15:30] JasonHK commented on #9645
Sorry, I don't know what you mean “not affect”.

[2020-03-11 15:40] markheron91 opened #9654 "Add 'finishTime' into AggregatedResult"
## 🚀 Feature Proposal

The AggregatedResult class (jest-test-result) contains a startTime property. However, it doesn't contain anything that will report the finish time.

Having a finish time would be useful as it would allow reporting on the total time it took a test suite to be executed.

## Motivation

As part of my automated build process I am generating a test results file in TRX format and

[2020-03-11 15:40] rogeliog commented on #9646
Awesome, glad it works now

[2020-03-11 16:14] rogeliog commented on #6616
@SimenB that sounds great, I'll start by splitting up #9001 into a couple of sensible pieces, for example leaving the jest-worker changes on isolated.

[2020-03-11 16:25] StioDevolpper commented on #8230
using jest 24 with babel 6 and babel-jest 23 with the workaround  I'm getting this error Plugin / Preset files are not allowed to export objects only functions .. !

[2020-03-11 17:50] vyarmak commented on #1370
Bumped on the same problem. It seems like `haste` for now is the only way to solve this.
Created a dummy test project to have a possibility to run 2 set of tests (iOS and Android):

https://github.com/vyarmak/react-native-platform-testing

[2020-03-11 17:51] bertho-zero commented on #2684
Any news on this feature request?

[2020-03-11 17:51] vyarmak commented on #4455
Bumped on the same problem. It seems like `haste` for now is the only way to solve this.
Created a dummy test project to have a possibility to run 2 set of tests (iOS and Android):

https://github.com/vyarmak/react-native-platform-testing

[2020-03-11 22:02] ianwremmel opened #9656 "path.relative appears subtly broken in Jest 25"
## 🐛 Bug Report

Somewhere between 24.9 and 25.1, `path.relative` stopped caring about `process.cwd()`. `path.relative`, in addition to its arguments `from` and `to` should also take the current directory into account, but with Jest 25.1, it allows behaves as if executed from the initial working directory.

logging `process.cwd()` always indicates the expected location and not necessarily the loca

[2020-03-12 03:43] sovanndara168 opened #9657 "Bug"
## 🐛 Bug Report

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

## Link to repl or repo (highly encouraged)

## envinfo

[code]

[2020-03-12 03:44] sovanndara168 opened #9658 "Feature Proposal"
## 🚀 Feature Proposal

A clear and concise description of what the feature is.

## Motivation

Please outline the motivation for the proposal.

## Example

Please provide an example for how this feature would be used.

## Pitch

Why does this feature belong in the [Jest core platform](https://www.youtube.com/watch?v=NtjyeojAOBs)?

Common feature proposals that do not typically make it to core:

-

[2020-03-12 05:58] semihural opened #9659 "Failed to Write Coverage Reports:Cannot read property 'loc' of undefined"
We are getting this error when trying to run a coverage report while` jest --coverage --ci --coverageDirectory=output/coverage/jest` is running in CI. We are trying to publish reports via cobertura in our CI and using yarn to install jest.

[code]
Below contains some part of package.json configuration.

[code]

[code]

[2020-03-12 07:13] shly commented on #6327
I got the same issue and solved it by the method in [anothor isssue](https://github.com/vire/jest-vue-preprocessor/issues/15)

[2020-03-12 08:06] #9657 closed

[2020-03-12 08:06] #9658 closed

[2020-03-12 08:18] bitflower opened #9660 "jest fails to resolve imports in lerna/typescript monorepo (includes repo)"
## 🐛 Bug Report

We use StencilJS as our web component compiler. Under the hood it uses `jest` for testing. I'm having trouble getting the tests to run successfully due to some import resolvement issue which constitutes in the form of this error:
<img width="713" alt="Bildschirmfoto 2020-02-24 um 21 34 10" src="https://user-images.githubusercontent.com/6666636/76501066-e5d7d300-6441-11ea-82b0-ba2a

[2020-03-12 08:18] bitflower commented on #9660
Relates to https://github.com/ionic-team/stencil/issues/2221

[2020-03-12 08:32] thymikee commented on #9660
Thanks for the report, but this is likely something that StencilJS needs to configure properly. You have issue opened there already, no need to duplicate efforts.

[2020-03-12 08:32] #9660 closed

[2020-03-12 12:54] Ravindersingh1526 opened #9661 "NPM vulnerabilities issues"
Bug - npm  vulnerabilities
![2020-03-12 18_22_59-Window](https://user-images.githubusercontent.com/35947041/76523510-8e138900-648e-11ea-8c83-8ce65f34b214.png)

[2020-03-12 13:00] thymikee commented on #9661
Duplicate of https://github.com/facebook/jest/issues/9643

[2020-03-12 13:00] #9661 closed

[2020-03-12 13:00] thymikee commented on #6753
Jest 23 is 2 versions behind now, let's move on.

[2020-03-12 13:00] #6753 closed

[2020-03-12 14:40] cuongluu8 commented on #9649
Just wondering if there is any workaround for this problem?

[2020-03-13 04:05] Ravindersingh1526 opened #9663 "NPM Vulnerability"
![2020-03-12 18_22_59-Window](https://user-images.githubusercontent.com/35947041/76588757-e2aa1900-650d-11ea-8272-f0719a00288c.png)

[2020-03-13 04:37] StephenLiuYa opened #9664 "can jest get CPUcount from cgroup in container?"
jest spawn workers depend on cpu counts, and jest get cpu counts from /proc/stat file，in container the worker counts is not the cpu counts that the container actually used , it is  the host machine cpu counts。 So can jest support get the cpu counts  from cgroup ?

[2020-03-13 05:13] jorisgeer opened #9665 "Code coverage drops from 90 to 50% due to cache"
## 🐛 Bug Report

With cache enabled, code coverage is only correct the first invocation of jest. Next reruns coverage is significantly incomplete.

## To Reproduce
Run jest on a single test script, testing one testee script and observe coverage. Rerun without touching the test script and observe lower coverage.

Both test script and testee call Date.now() and depend on the return value to increase

[2020-03-13 07:20] #9663 closed

[2020-03-13 09:38] deepkamal585 opened #9666 "NPM Validation Bypass Vulnerability Issue of kind-of Package in jest"
When i run " npm audit"  command it shows following error

![kindofError](https://user-images.githubusercontent.com/51489679/76607863-b22ca400-653a-11ea-96d7-d392a711d134.png)

my jest version is : 25.1.0
kind-of package version is: 6.0.3

fixed 76011 of 76037 vulnerabilities in 1812380 scanned packages
  26 vulnerabilities required manual review and could not be updated
  2 package updates for 8

[2020-03-13 09:41] thymikee commented on #9666
Please report it to `sane`, as it uses `micromatch@3`, which depends on snapdragon. v4 drops it.

[2020-03-13 09:41] #9666 closed

[2020-03-13 12:11] EduardoFLima commented on #7579
Same here! (although using jest 24.9.0)

[2020-03-13 12:27] vasilevach commented on #9488
Hi guys,

I still get the error, even after updating to v6 everything storybook related:
[code]
Anything I might be missing?

[2020-03-13 14:10] pahan35 commented on #9649
@cuongluu8 we decided do not use `useFakeTimers()` at all, move timeout/interval values in consts into a separate file and mock them in tests to reduce waiting time.

I've just shared it at the attached repo in `workaround` branch

I hope it helps until this issue is not fixed.

[2020-03-13 15:26] Prestaul commented on #9473
I'm seeing the same issue. I'm not asking for help debugging my code, I'm pointing out a "concrete problem in jest". In some code bases, when running jest with `--runInBand --detectOpenHandles`, as recommended by the CLI, the tests complete with no reported issues and jest hangs.

I have not been able to isolate a minimal reproduction, but this does not mean the issue isn't real. Unless this is ex

[2020-03-13 17:45] manwithsteelnerves commented on #9538
10.14.2 worked! Damn, I wasted one whole day :|

[2020-03-13 17:46] manwithsteelnerves commented on #9453
For anyone having this issue, just upgrade to 10.14.2 and it should fix!

[2020-03-13 18:26] tanettrimas commented on #9531
I am also running into this bug where I have a frozen object, and comparing it against one that I want it to be equal to, using the toEqual matcher. Is it actually fixed?

[2020-03-13 18:41] JamesJGoodwin commented on #9473
@Prestaul don't bother. They rather ask you to provide minimal repro than actually try to investigate after a bunch of complaints.

[2020-03-13 18:56] alyhegazy commented on #9538
Tell me about it!

[2020-03-14 00:00] dandv opened #9667 ""await is only valid in async function" even with top-level await support"
I've added `'@babel/plugin-syntax-top-level-await'` and am passing `--harmony-top-level-await` to Node v13.10, but Jest still returns a syntax error:

Are there plans to support top-level await in tests, perhaps part of #9430?

[2020-03-14 05:56] manwithsteelnerves commented on #9538
@alyhegazy  What you want to know?

[2020-03-14 06:33] pskfyi commented on #9453
THANK YOU! I would never have thought to check node version while debugging my issue, but this was it.

[2020-03-14 06:33] pskfyi commented on #9453
@manwithsteelnerves THANK YOU! I would never have thought to check node version while debugging my issue, but this was it.

[2020-03-14 10:02] inspiraller commented on #4564
I think the reason the example regex doesn't work is due to how nodejs handles certain special characters. To me '.' is a special character and should be preceeded with a backslash unless its a metacharacter like '\b'. Otherwise '.' is in regex should be any char except a new line. Though it seems different readers of javascript (node, ide like vscode/atom, ublime, browsers - chrome, ie) handle th

[2020-03-14 17:06] Andarist opened #9669 "Module loaded twice when jest.mock gets called"
## 🐛 Bug Report

Well, I'm not 100% sure if this is a bug or is it intended for some reason, but it leads to unexpected behavior.

## To Reproduce

Steps to reproduce the behavior:
[code]

An issue is described in more detail [here](https://github.com/emotion-js/emotion/issues/1727#issue-551052803). The problem is that a module gets loaded/evaluated twice - losing its identity and causing global s

[2020-03-14 21:29] aarong opened #9670 "jest.advanceTimersByTime() interacting across tests"
## 🐛 Bug Report

It seems that jest.advanceTimersByTime() advances timers across all tests,
rather than just the test in which it is called.

## To Reproduce

Advance timers on one test and see that timers on other tests are also advanced. See repro.

## Expected behavior

I would expect only the timers for the current test to be advanced, otherwise it's extremely difficult to coordinate across te

[2020-03-14 22:24] unional commented on #9656
Maybe this is the reason whey jest 25 fails to run the right tests in monorepo?

![image](https://user-images.githubusercontent.com/3254987/76691394-9ba04e80-6607-11ea-9023-effccdfdcf3d.png)

jest 24 is working fine:
![image](https://user-images.githubusercontent.com/3254987/76691416-bffc2b00-6607-11ea-9c22-9a911bdab621.png)

The repo is in https://github.com/unional/async-fp/pull/39

[2020-03-15 15:11] rdsedmundo commented on #3515
This would be definitely something nice to have. It doesn't need to be the default, but having an option like ESLint and Prettier have. I don't see a need for combining multiple patterns, as long as this is provided in it'd take precedence.

Well, that you said is exactly what happens without the configuration on the developer side. We have to configure in multiple places and maintain all of them,

[2020-03-15 18:02] selfrefactor commented on #8467
Still no progress?

[2020-03-15 18:10] pradeepsrawat029 commented on #3254
Thank you for your best answer.

[2020-03-15 20:01] warrify commented on #7863
I think this should at least be documented since the [docs](https://jestjs.io/docs/en/jest-object#jestisolatemodulesfn) actually show a second import outside the isolatedModules:

[code]

[2020-03-15 21:21] Light-Keeper commented on #9659
I had the same issue and worked around by changing the list of report formats. `text` and `html` was enough for my use case.

[code]

[2020-03-16 01:39] MarcoScabbiolo commented on #9594
@SimenB mind if I take this one? I've been digging into the source code and I have an idea of how to implement this, and a e2e test in place for it.

[2020-03-16 07:27] SimenB commented on #9594
Please do!

[2020-03-16 07:51] maorefaeli opened #9672 "jest not matching custom error type when using dynamic import"
I have this custom error defined (file name: 'errors.ts'):
[code]

And I have this module using that error (file name: 'main.ts'):
[code]

I want to check with jest using dynamic imports so I could call `jest.restModule()` to reset `called` variable. This is the test file:
[code]

Now, this is half working since the module is indeed got reset before each test, however, the problem is `toThrowError

[2020-03-16 08:31] kdybicz opened #9673 "Potential security vulnerability in one of your dependencies: acorn"
## 🐛 Bug Report

GitHub `dependabot` raised issue with a security vulnerability found in `jest` dependencies `acorn` https://app.snyk.io/vuln/SNYK-JS-ACORN-559469

Dependency report from `yarn`:
[code]

## To Reproduce

Steps to reproduce the behavior:
1. Add `jest@^25.1.0` to your project.

## Expected behavior

`jest` using latest dependencies.

## Link to repl or repo (highly encouraged)

It's

[2020-03-16 08:35] kdybicz commented on #9673
Duplicate of #9643

[2020-03-16 08:35] #9673 closed

[2020-03-16 09:41] kainanaina commented on #5920
I found out that simply moving string literal into variable above solves the problem.
[code]

[2020-03-16 13:06] mattvb91 commented on #3053
same issue here.

Ended up copying files inside of the test folder and adding a bash script to manually change package.json to go to file:./ reference includes for the packages i needed.

Being able to cover files outside / above the test directory would be great