[2018-12-13 14:11] Sujimoshi commented on #5792
Possible workaround
[code]

[2018-12-13 15:11] sv-vv commented on #3552
With Nodegit, the `--no-cache` workaround doesn't help. It works with `--maxWorkers` with a value larger than the number of tests but this workaround reaches its limits easily.

Is there any hope this will be resolved soon?

[2018-12-13 15:12] axiac commented on #3552
With Nodegit, the `--no-cache` workaround doesn't help. It works with `--maxWorkers` with a value larger than the number of tests but this workaround reaches its limits easily.

Is there any hope this will be resolved soon?

[2018-12-13 17:55] PCreations opened #7510 "Cannot find module '../build/cli' when installing jest@24.0.0-alpha.x or jest@beta"
## 🐛 Bug Report

Maybe I'm missing something obvious here but shouldn't the alpha versions of jest be installable ? The `build` folder is missing when installing `jest@24.0.0-alpha.x`.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Run `npx envinfo --preset jest`

Paste the results here:

[code]

Are alpha version installable or not at all ?

[2018-12-13 18:16] #7424 closed

[2018-12-13 18:18] rickhanlonii commented on #7492
Yes, we could definitely improve here, just closed this because it's not a bug

Would you be interested in submitting a feature proposal with a suggestion on how we could improve common use cases?

[2018-12-13 19:03] SimenB commented on #7492
Heh, sorry about the churn...

[2018-12-13 19:05] SimenB commented on #7510
Oh, wow, that's definitely a bug! @mjesun @rubennorte @rickhanlonii any of you able to release a new one with fixed distribution?

[2018-12-13 19:40] mjesun commented on #7510
🤭 Doing it right now.

[2018-12-13 19:48] mjesun commented on #7510
`24.0.0-alpha.8` is out, which should be installable.

[2018-12-13 20:07] nhnicwaller commented on #4724
Is there any workaround for this, or is it really not possible to check `error.name` using `expect.toThrow`?

What's the holdup on getting this fixed? I can submit a pull request if the maintainers agree on what should be the correct, desired behaviour. I think @tamlyn original suggestion of matching against `${error.name}: ${error.message}` is very good.

[2018-12-13 20:20] thisissami opened #7511 "babel-jest can't handle template strings within a require statement in with --watch flag"
## 🐛 Bug Report

When running require within a block of code that contains a template string (e.g. `require(`images/${imageURL}`)`), `babel-jest` fails to resolve the template string properly when running `jest --watch`. It works fine without the `--watch` flag.

## To Reproduce

Run `jest --watch` with `babel-jest` set as the transformer on a file that contains the following:

[code]

## Expected

[2018-12-13 21:12] SimenB commented on #7511
Would you mind putting up a quick reproduction that does not use react but still show the error?

[2018-12-13 21:13] flahertyj commented on #6229
ritwik310's solution also worked for me, all my tests were basically failing, now they pass!

[2018-12-13 21:16] SimenB commented on #4724
@pedrottimark are you fixing this? Seems like it would show the type error first, right, not just the stringified thing?

[2018-12-14 00:27] taras opened #7512 "[Documentation] Add a guide for using Page Objects Pattern with Jest"
## 🚀 Feature Proposal

Page Objects Pattern has makes it much easier for developers to write tests that make assertions against the DOM. With a good Page Objects implementation, developers can create convenient interfaces between the DOM and their test suite. By abstracting references to specific DOM selectors, developers maintaining large test suites can make changes to selectors in one place ins

[2018-12-14 00:27] t4sk opened #7513 "Exponential operator returning wrong number"
## 🐛 Bug Report

Exponential operator is returning wrong number in `jest`.  It works fine with `node`
Anyone else having this issue?

## To Reproduce

In this [repo](https://github.com/t4sk/jest-test-exponential) `npm install && npm test`

## Expected behavior
The following test is failing :(

[code]
[code]

## Link to repl or repo (highly encouraged)

Repository [jest-test-exponential](https://gi

[2018-12-14 02:10] rickhanlonii commented on #7512
Hey @taras, thanks for submitting! This looks like a really cool way to test components

What would you say to someone who would think that this guide would be used as just a marketing channel to funnel people to bigtestjs/interactor?

[2018-12-14 03:58] taras commented on #7512
I'm glad you think so, we think so too 😀

I would like for people to experience the ease of using composable page objects in tests. Marketing bigtest/interactor is secondary to me. If you would prefer to hide @bigtest/interactor, we could wrap it in another package. Everything in BigTest organization is MIT licensed and will always remain this way.

All of the BigTest tools grew out of our need fo

[2018-12-14 04:54] rickhanlonii commented on #7512
Yeah that helps, thanks for explaining!

This pattern is new to me, do you have any resources I can read up on? Also, do you know of any other libs implementing this pattern?

[2018-12-14 05:02] cloudyan commented on #7508
resolved

https://github.com/cloudyan/babel-7

[2018-12-14 08:12] webMasterMrBin commented on #6848
Have you solved it?   I have encountered the same problem.   shown enzyme's setupTests.js  coverage

[2018-12-14 08:55] PCreations commented on #7510
Perfect, it works now :) Thank you very much !

[2018-12-14 08:55] #7510 closed

[2018-12-14 10:19] prakhar241 opened #7514 "Error: expect(jest.fn())[.not].toHaveBeenCalledTimes() jest.fn() value must be a mock function or spy. Received: function: [Function getItem]"
## 🐛 Bug Report

I get
[code]

[code]

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

A clear and concise description of what you expected to happen.

## Link to repl or repo (highly encouraged)

Please provide either a [repl.it demo](https://repl.it/languages/jest) or a minimal repository on GitHub.

Issues without a reproduction link are likely to stall.

## Run `npx en

[2018-12-14 11:15] grosto commented on #7513
That's an interesting one.

Jest is transforming test files through babel, which seems to remove parenthesis from `(2 ** 3) ** 3`. Since the exponential operator is right associative, you get the result of `2 ** (3 ** 3)`. I don't think that the problem is with Jest's Babel configuration, so probably fix should be implemented by Babel.

[2018-12-14 11:36] ps0305 commented on #2208
getting same error message after implementing react-native-gps-state module into the project.can someone please suggest how to mock one.

[2018-12-14 11:38] luisSpinola commented on #7109
@jods4 Im having trouble reproducing this bug, could someone help me in a beginner level, thanks in advance.

[2018-12-14 11:49] thymikee commented on #2208
[code]

[2018-12-14 11:57] Batosta commented on #5730
I have tried to reproduce this steps, but while having the '*.js' in the '.gitignore', the jest does in fact notice the file change, but does run the test. Can anyone help me on why this is happening?

You can see what i have tried in here: [https://github.com/Batosta/FEUP-ESOF/blob/master/Entrega%204/images/Repro.mp4](url)

[2018-12-14 11:59] luisSpinola commented on #7109
I managed to reproduce it, the 1st slash "/" in the src of the script was the problem for me if anyone is having trouble too.

[2018-12-14 12:04] scaljeri opened #7515 "Cannot read property 'toString' of undefined"
## 🐛 Bug Report
When I run my tests I get the following error

      $> yarn test
      yarn run v1.10.1
      $ jest
      FAIL  test/magic.unit.spec.ts
      ● Test suite failed to run

      TypeError: Cannot read property 'toString' of undefined

      at Object.<anonymous> (node_modules/graceful-fs/graceful-fs.js:63:42)
      ....

I'm testing the following

    import { readJsonSync } from '

[2018-12-14 12:21] matheuspgINF commented on #7372
I was able to reproduce this. I would be glad to pick this up. Can someone provide me some guidance on how to fix this?

[2018-12-14 12:41] thymikee commented on #7515
It's a good practice to only mock the methods you really need, and use original implementation as a base, I guess that may be your issue. Try something like this:

[code]

[2018-12-14 13:36] scaljeri commented on #7515
[code]
In my project I must miss something, because it doesn't know anything about the `requireActual` property?

[2018-12-14 13:37] thymikee commented on #7515
Typings are wrong, feel free to fix it. As a workaround you can also use `require.requireActual`, but it will be removed at any time (but probably not in next few months)

[2018-12-14 13:43] scaljeri commented on #7515
Ok, thanks a lot, it works. If I have time I'll try to fix them!

[2018-12-14 16:00] taras commented on #7512
I believe the [Page Objects](https://martinfowler.com/bliki/PageObject.html) article by Martin Fowler is one of the original blog posts on the subject.

Alternative Implementations

- [react-page-object](https://www.npmjs.com/package/react-page-object)
- [ember-cli-page-object](http://ember-cli-page-object.js.org/docs/v1.15.x/)
- [@tractor-plugins/page-objects](https://www.npmjs.com/package/@tract

[2018-12-14 19:45] tomprogers commented on #4416
In jest v22, you can define custom matchers in individual test suites and use them. I am doing it right now.

I actually ran into a problem moving those definitions out of the test suite and into the setup file.

[2018-12-14 20:28] jakeboone02 opened #7516 "[Docs] Link to slightly inappropriate video"
## 🐛 Bug Report

The [Timer Mocks documentation page](https://github.com/facebook/jest/blob/master/docs/TimerMocks.md) includes a link to a YouTube video that suggests one should perform a sexual act on oneself in the case that one does not enjoy said video.

## To Reproduce

Click the "Great Scott!" link on this page:  https://jestjs.io/docs/en/timer-mocks.html.

## Expected behavior

The link sh

[2018-12-14 20:46] rickhanlonii commented on #7516
@jakeboone02 thanks for flagging! Want to submit a PR to remove? Feel free to remove from the `/docs` version as well as every `versioned_docs/` version

[2018-12-14 20:58] jakeboone02 commented on #7516
Sure, I can do that.  Should I replace the link with a different one?  I feel like leaving the phrase there without some context would be weird for people that don't immediately get the reference.

Perhaps [this one](https://www.youtube.com/watch?v=QZoJ2Pt27BY) (0:02), or [this one](https://www.youtube.com/watch?v=OsX2ME1i7F8) (0:04)?  The phrase even has a [Wikipedia page](https://en.wikipedia.or

[2018-12-14 21:25] androidian opened #7517 "Cannot find module 'setupDevtools' from 'setup.js' when using haste configuration option"
## 🐛 Bug Report

When trying to run platform specific tests on a react-native project tests fail with
**Cannot find module 'setupDevtools' from 'setup.js'**
when configuring jest with the haste option.

package.json
[code]

## To Reproduce

1. pull repo: [https://github.com/androidian/haste-test](https://github.com/androidian/haste-test)
2. yarn install
3. yarn test
[code]

4. Remove "haste" from

[2018-12-14 21:32] pedrottimark commented on #4724
Reducing confusion will be a part of the “Improve report when assertion fails” series of PR.

@SimenB  To improve the matcher criterion, what do you think about the following:
* current expected criterion message (only) as string or regexp for compatibility and when the `error.name` is not known or not relevant
* proposed ability to test `error.name` only or plus message probably as new argument `

[2018-12-15 00:50] rickhanlonii commented on #7516
The first one looks good!

[2018-12-15 01:38] t4sk commented on #7513
Well explained! Thanks.

[2018-12-15 01:38] #7513 closed

[2018-12-15 15:06] nasreddineskandrani commented on #5006
just in case
in my case i had to do:
[code]

[2018-12-15 16:32] pedrottimark commented on #4724
Update to previous comment, recommend to add ability to match `error.name` as object arg:

* `toThrow({message, name})`
* `toThrow({name})`

parallel to error instance object, instead of as an optional second argument.

[2018-12-15 18:44] ioanungurean commented on #6848
@webMasterMrBin no, not yet

[2018-12-16 00:12] richardgirges opened #7519 "Immediate crash when using `--detectOpenHandles`"
## 🐛 Bug Report
Immediate crash when running Jest with `--detectOpenHandles`. Here's the output:

[code]

## To Reproduce
1. Use Node v10.4
2. Set jest `testEnvironment` to `node`
3. Upgrade `jest` to `v2.0.0-alpha.x`
4. Run jest with `--detectOpenHandles`
[code]

## Expected behavior
It does not crash.

## Run `npx envinfo --preset jest`
[code]

Jest config:
[code]

[2018-12-16 17:01] grosto commented on #7514
Jest uses jsdom under the hood for simulating dom. In browsers and in jsdom, you cannot just set `window.localStorage` to new object, because [setter](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/set) function for it is `undefined`.
Instead do this in order to override original `window.localStorage`
[code]

Your code was working in the older version of Jest, because

[2018-12-16 19:16] jdalton commented on #4842
Hi @SurenAt93!

Thank you for your patience. I'm hoping to have a release out by the end of the month with Jest support. With that you'll specify `esm` as a Jest [transform](https://jestjs.io/docs/en/configuration.html#transform-object-string-string).

[2018-12-16 22:41] kenotron commented on #4842
Cool. How is that transform different than Babel?

[2018-12-16 22:54] jdalton commented on #4842
@kenotron

Using Jest's `transform` option is a way for me to side-load the `esm` loader. So while it is technically transforming source too, it's also wiring up the `esm` loader.

If the question is more what's the difference between Babel and `esm`. Babel is a collection of packages that transforms source, one of the targets could be ESM syntax. The `esm` loader is a zero dependency loader that

[2018-12-17 00:00] jodonnell commented on #4285
i wrote this a while back, maybe it will help you.

https://www.npmjs.com/package/jest-slow-test-reporter

[2018-12-17 00:31] unional opened #7521 "feature: do not trigger test run when file is added during watch mode"
## 🚀 Feature Proposal

Do not trigger test runs when a file is added.

## Motivation

Currently, a test run is triggered when a new file is added, for example, when adding `x.spec.js`.
This test run does nothing and will fail since the newly created file does not have any test.

It is better to trigger test only on modify or delete.

[2018-12-17 11:14] ps0305 commented on #7503
@thymikee : i tried mocking the module in different ways, like making a __mocks__ folder and then
mocked it something like
[code]
but again i'm getting some different error after that,pasted below.
![image](https://user-images.githubusercontent.com/34129569/50083727-a6104480-021a-11e9-8f52-f47ec25bc27a.png)

Also created the issue at react-native-gps-state,if you have any issue we can collaborate

[2018-12-17 15:31] rikkit commented on #1815
Thanks @aularon, annoyingly this isn't documented as a CLI option! https://jestjs.io/docs/en/cli

[2018-12-17 16:40] vchinthakunta commented on #936
To mock an independent export function module:
Export all of the individual functions part of the default export from the file.
Example:
-------------------------
dataDao.js
----------------------------
function getData()
function setData()
function deleteData()
export {getData, setData, deleteData}
--------------------------------------
Now you can import all of the functions from the file into y

[2018-12-17 17:14] dgreene1 commented on #7397
I have a solution for you @fpintos. I have a thin wrapper function that you can install via npm/yarn that converts a standard Jest spy into a type-safe Jest spy.

Could I have added this to DefinitelyTyped instead of introducing a new dependency? Maybe, but I found that the advanced generic types I had to use to infer the type made it onerous to utilize within the externally managed types. So basi

[2018-12-17 18:45] #7516 closed

[2018-12-17 21:39] morungos commented on #6509
Yes, this is still an issue for me too. Right now, projects don't seem to be useful. I can run a command like:

[code]

When `/Users/stuart/git/api-server/__tests__` definitely does contain a whole bunch of `*.js` files.

More documentation might help, but I'm sure there's something else skewed too.

[2018-12-17 22:36] hulkish opened #7527 "Should provide test env in verbose test report"
**Update:** Repurposed bug to feature

## 🚀 Feature Proposal

Display `testEnvironment` value in test output report on a per test file basis.

## Motivation

To clearly see what env is used for each test file.

## Example

[code]

## Pitch

It can sometimes be important to see test env used to run your tests. For example, if you have tests for code which run on both node & browser. Having at least

[2018-12-17 22:43] hulkish commented on #7527
@SimenB on a side note.... I actually think it would be really handy to be able to report env info on a per-test file basis.

Or, maybe some kind of "auto describe" block behavior?

[2018-12-17 23:18] SimenB commented on #7527
While I agree it would be nice, I'm not sure if it makes sense. `--showConfig` should show you the config jest will start a test run with - the fact that you inline override some of it shouldn't necessarily bubble up. We show the config for the whole run - not a single file.

---

I guess we could include the env a test suite ran in in the report. That makes more sense to me - that way you could d

[2018-12-17 23:43] thymikee commented on #7527
Like the idea!

[2018-12-18 00:38] webberwang commented on #2441
Jest 23.6.0
Node 10.0.0

Doesn't seem to be working with the --verbose flag

[2018-12-18 05:23] vladnicula opened #7528 "BabelJest docs need update"
## 🐛 Bug Report

Docs state this:

<img width="909" alt="screenshot 2018-12-18 at 13 19 01" src="https://user-images.githubusercontent.com/126038/50133727-b4686a00-02c7-11e9-8265-f8868ca82ca8.png">

## To Reproduce

Go to https://jestjs.io/docs/en/getting-started#using-babel

## Expected behavior

Docs should state that we can use latest babel core. We are able to use babel-core 7.2.0.

## Link to

[2018-12-18 09:05] SimenB commented on #7528
There is no package called `babel-core@7.2.0` is there? Not sure I understand, could you elaborate?

[2018-12-18 09:13] vladnicula commented on #7528
Sure, the docs are miss-leading. We don't have to install the following packages in order to run jest with babel 7:

`yarn add --dev babel-jest babel-core@^7.0.0-bridge.0 @babel/core regenerator-runtime`

This is not a functionality bug. It's a docs issue. The docs should not state that as neither babel-jest nor babel-core are needed when running jest with the up to date babel 7.

Does this clarif

[2018-12-18 09:17] thymikee commented on #7528
It depends on your setup, but it's safer to install these, because we cannot tell which package manager you're using. And there's no such thing as `babel-core@7.2.0`.

[2018-12-18 09:17] #7528 closed

[2018-12-18 09:29] vladnicula commented on #7528
@thymikee I meant @babel/core. The issue is still the same. We don't need babel jest at all. Shall I make a empty project with just a test that uses babel 7 without any of those packs you recommend there?

[2018-12-18 09:42] thymikee commented on #7528
No, _you_ don't need it. There are projects that need this, because `babel-jest` may be used as a transformer explicitly, which is then expected to be directly in `node_modules/babel-jest` – and this is an implementation detail of package manager where it puts the package. Some of them hoist some dependencies up to root node_modules, some don't. You shouldn't rely on this, unless you pass a flag t

[2018-12-18 10:43] Shrikant9 commented on #7287
What version of **Sequelize** are you using? I get `sequelizeInstance.close()` is not a function.

[2018-12-18 11:55] eightHundreds commented on #4727
work for me

https://github.com/facebook/jest/blob/4ec517ef07dfaf5427b1cfd9c86c90641821ec64/website/versioned_docs/version-23.0/Troubleshooting.md#coveragepathignorepatterns-seems-to-not-have-any-effect

[2018-12-18 12:07] yaelz commented on #7236
I had an old node version!!!
Works with node 10.
Thanks :)

[2018-12-18 14:31] JamieMason opened #7529 "Allow for precedence in coverageThreshold file glob patterns"
## 🚀 Feature Proposal

## Motivation

We have the following configuration which our codebase adheres to but, although the accumulated
coverage of the codebase fulfills it, there are individual files with coverage that falls below
these thresholds.

[code]

We could add the following, but it would mean every file needing its coverage improving immediately
for builds to pass.

[code]

Instead we wan

[2018-12-18 14:34] thymikee commented on #7529
Yea, that makes perfect sense. Paths should definitely take precedence over globs when overlap. Would you like to tackle this and contribute a PR? 🙂

[2018-12-18 14:51] JamieMason commented on #7529
Thanks @thymikee, I'd be happy to take a look. As far as I can tell [/e2e/__tests__/coverage_threshold.test.js](https://github.com/facebook/jest/blob/8c6dcc743d7f691734190a8aad8ca6f9dff79659/e2e/__tests__/coverage_threshold.test.js) is the spec that would need updating, is that right and are there others?

I should point out that I was thinking that the order of the globs in the object would defin

[2018-12-18 14:56] AnitaMartinez commented on #7287
Can you show your code?

[2018-12-18 14:57] thymikee commented on #7529
I'm not yet convinced which is better, but I would lean towards paths being always more specific than globs. We could solve this by checking if globbing over string produces a single or multiple output, and act accordingly. Obvious shortcoming is when glob returns just one file, but it seems kind of an edge case where users should re-consider their config.

cc @rickhanlonii @SimenB

[2018-12-18 15:53] hulkish commented on #7527
@SimenB @rickhanlonii Updated/repurposed issue from bug to feature... please read description and LMK if 👍 ?

[2018-12-18 16:33] dep opened #7530 "Medium severity vuln found in mem@1.1.0, introduced via jest@23.6.0"
## 🐛 Bug Report

[code]

More details [here](https://snyk.io/vuln/npm:mem:20180117).

## Expected behavior

No vulnerabilities in Jest.

## Link to repl or repo (highly encouraged)

[Screenshot](http://dl.dpeck.net/MIv5u3), [Vulnerability details](https://snyk.io/vuln/npm:mem:20180117).

[2018-12-18 16:37] thymikee commented on #7530
Fixed on master and in v24-alphas. Will be fixed in v24.

[2018-12-18 16:37] #7530 closed

[2018-12-18 17:45] markmcdermid opened #7531 "invocationCallOrder counter doesn't / can't be reset between tests"
## 🐛 Bug Report

invocationCallOrder counter doesn't / can't be reset between tests

## To Reproduce

Steps to reproduce the behavior:
Run two tests against two mock functions, running .mockClear on each
[code]

## Expected behavior

I'd expect the invocationCallOrder in the 2nd test to be [1] and [2].

It seems like the mock state is reset but not the counter, this means the tests will only have

[2018-12-18 18:24] #6174 closed

[2018-12-18 18:30] jdalton commented on #7018
My use of `transform` is a hack-around for not having a supported way to wire-up the loader. Ideally l'd like a less brittle, more solid, way to do it.

[2018-12-18 18:31] thymikee commented on #7018
Ok, cool! I'm just not sure if we squeeze this in for v24. But since this is non breaking, I guess we can give it some more time.

[2018-12-18 21:13] andreamatt opened #7532 "Wrong branch coverage percentage"
## 🐛 Bug Report

Jest reports wrong branch coverage percentage. Uncovered lines are correct.

## To Reproduce
### **EDIT**
- added `console.log(1/2)` so that branches are not empty. Still wrong/unexpected results

[code]
tests with only 1 function call
foo(0,0) gives 50%
foo(0,1) gives 50%
foo(1,0) gives 75%
foo(1,1) gives 75%

Uncovered lines are always correct and if both branches are covered it

[2018-12-18 21:50] SimenB commented on #7527
Yeah, looks good @hulkish!

[2018-12-18 22:10] #2441 closed

[2018-12-18 22:25] Ross-Esmond opened #7534 "Custom asymmetric expect matchers aren't able to print Symbol arguments in error reports."
## 🐛 Bug Report

If a symbol is used as an argument to an asymmetric matcher expect will fail when it tries to `.join(', ')` the arguments while printing the error report.

## To Reproduce

There's no reason to want to do this specifically, but it does reproduce the issue.
[code]

## Expected behavior

Jest should be able to produce a clean diff which identifies the asymmetric matcher as: `toBeSym

[2018-12-19 06:08] SurenAt93 commented on #4842
@jdalton Thank you for you work and support!

[2018-12-19 08:22] adrianmcli commented on #6859
Just wanted to say that I still have this problem as well. It's not critical in our pipeline so I've just ignored the problem for now, but this should really get fixed.

[2018-12-19 08:37] TranHanHieu opened #7535 "I have a problem running"
i have package in project (not in node_modules), when run "npm test" have issue as image.

Colors imported from package.
Can you help me?

![screen shot 2018-12-19 at 3 30 46 pm](https://user-images.githubusercontent.com/19732500/50208459-d0d9d480-03a3-11e9-8406-6eef71505f3b.png)

[2018-12-19 08:44] thymikee commented on #7535
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](http://facebook.github.io/jest/en/help.html). Thank you :)

[2018-12-19 08:44] #7535 closed

[2018-12-19 09:55] markmcdermid commented on #7531
@brigonzalez can you help at all?

[2018-12-19 10:21] mikedevelops commented on #3869
@jarlah Thank you for the workaround, worked great for me. My path was slightly different to the `jest-cli` package, once I'd changed that the summaries were gone, I can now sleep at night.

[code]

[2018-12-19 10:40] JamieMason commented on #7529
If we were to give "files" (in this context: globs with no [special characters](https://www.npmjs.com/package/glob#glob-primer)) precedence, that would satisfy the example above where `'./src/some-file.js'` overrides `'./src/**/*.js'`. But there will be cases where you're not comparing path vs glob, but glob vs glob such as this:

[code]

The 2nd glob _we_ can see is more specific, but there's not

[2018-12-19 10:41] thymikee commented on #7529
`overrides` sounds nice

[2018-12-19 10:51] jamiehaywood commented on #5244
Also interested too. Jest test integration in the Visual Studio 2017 Test Explorer would make my current testing much easier!

[2018-12-19 11:08] anupammaurya commented on #6933
Jest & enzyme configuration : Add following code in package.json
[code]

For setup of Enzyme => setup.js

[code]
For setupTestFrameworkScriptFile : setupTests.js global.fetch = require('jest-fetch-mock')

[code]

[2018-12-19 11:18] NullMDR opened #7536 "Add testFilePath to test context"
## 🚀 Feature Proposal

It would be nice if the jest-environment could access test file path via test context

## Motivation

Under the context of jest-environment we couldn't access the test file path, but I need it.

## Example

[code]

## Pitch

Why does this feature belong in the [Jest core platform](https://www.youtube.com/watch?v=NtjyeojAOBs)?

It can't be done by custom reporter because the

[2018-12-19 11:31] NullMDR commented on #7536
Another approach I've tried is to 'steal' the path via argument.callee.caller in jest environment. That doesn't work because strict mode is enabled.

[2018-12-19 11:41] A-Atrash commented on #1619
Neither for loop nor forEach are working. Jest is not able to see any test!

`  fs.readdir('./testingImages/', async (err, images) => {
    if (err) {
      throw err;
    }
    for (const image in images) {
      if (image) {
        const imagePath = './testingImages/' + image;
        it(`convertor should validate the image ${image}`, async () => {
          const convert: any = await imageConv

[2018-12-19 11:43] thymikee commented on #1619
@A-Atrash see: https://jestjs.io/docs/en/troubleshooting#defining-tests

[2018-12-19 11:45] A-Atrash commented on #1619
@thymikee OK, so there is no way then?

[2018-12-19 11:51] thymikee commented on #1619
There's always a way! You have at least 2 options:
1) generate tests based on the `testingImages/` using a script.
2) put everything in one `test` statement

I lean towards 1) because it will result in better test parallelization, while solution 2) will always run tests one-by-one

[2018-12-19 12:36] A-Atrash commented on #1619
@thymikee can you give me a small example of the first 😁

[2018-12-19 12:59] thymikee commented on #1619
No time for that. I'm sure you'll figure it out :)

[2018-12-19 12:59] lukasholzer commented on #4842
@tomheller ;)

[2018-12-19 13:05] SimenB commented on #7536
This will be implemented via #7442, you can track that 🙂

[2018-12-19 13:05] #7536 closed

[2018-12-19 13:06] SimenB commented on #1619
You can use `fs.readdirSync` as well, that should be possible

[2018-12-19 13:51] JacobBlomgren commented on #7099
@ritanorinho Don't know if you're still stuck, but that happens because node is run on a non-transpiled file. Try to run `yarn build` in the jest root and you should get a build folder in `jest-runtime`.

[2018-12-19 14:03] garciawarneckee commented on #6521
This worked for me. This installed me babel-jest in my case, that dependency seems to solved my issue

[2018-12-19 15:45] SimenB commented on #2441
Would love for people having issues to test the PR mentioned above. It's available in `jest@beta` (`24.0.0-alpha.9` right now)

[2018-12-19 16:01] patoncrispy opened #7537 "XMLSerializer is not a constructor/is undefined"
## 🐛 Bug Report

While trying to test a class that uses `XMLSerializer`, I get the error 'XMLSerializer is not a constructor' or 'XMLSerializer is undefined'. I have `testEnvironment` set to `jsdom` just in case.

## To Reproduce

Add `new XMLSerializer();` to a test.

## Expected behavior

`XMLSerializer` should work as expected. Support for it was [added to jsdom in v13](https://github.com/jsdom

[2018-12-19 16:05] thymikee commented on #7537
You'll need to use custom jsdom environment, [like this one](https://github.com/theneva/jest-environment-jsdom-thirteen), to use that, as jsdom dropped Node 6 in v12 and we can't go with that currently.

[2018-12-19 16:05] #7537 closed

[2018-12-19 16:14] patoncrispy commented on #7537
Thanks, @thymikee.

[2018-12-19 16:15] patoncrispy commented on #7537
Is this documented somewhere?

[2018-12-19 17:07] tarjei commented on #2441
So yarn add jest@beta?

ons. 19. des. 2018 kl. 16:46 skrev Simen Bekkhus <notifications@github.com>:

--
__________________
Tarjei Huse
Mobil: 920 63 413

[2018-12-19 17:12] thymikee commented on #2441
@tarjei, yes:
[code]

[2018-12-19 18:31] patoncrispy commented on #7537
If anyone else finds this issue, here is the documentation link: https://jestjs.io/docs/en/troubleshooting#compatibility-issues

[2018-12-19 20:18] A-Atrash commented on #1619
@thymikee I did it 😈
@SimenB Thanks!

[2018-12-19 21:41] GantMan commented on #5446
I'm using ts-jest and my error lines are completely wrong.  Is this still an issue?

[2018-12-19 23:16] nicolo-ribaudo commented on #7532
Since both if and else are empty, I would expect them not to be counted in the coverage.
The only expression that there is in that code is `a && b`. In the `1, 1` case both are checked (100%); in the `0, 0` case only `a` is checked (50%).

[2018-12-19 23:51] unional commented on #2441
It is working for me. 🎉

[2018-12-20 02:30] brigonzalez commented on #7531
The counter that’s being used here is global across all mocks. If you were to reset the global counter and the individual mock state on mockClear, you would push a smaller counter number into the state of the next mock that is called.
For example:
[code]
I suppose we could reset the counter to 0 when calling `clearAllMocks`. But if the thought behind `clearAllMocks` is

like it's stated in the doc

[2018-12-20 03:08] NullMDR commented on #7536
Oh thanks!

[2018-12-20 13:56] bristoljon commented on #3465
I just mocked it so debounce returns the passed function like so:

`jest.mock('lodash/debounce', () => fn => fn);`

This worked in my particular case where I was calling the function directly in the test anyway but no good if you need to actually test that the debounce functionality itself works by calling it multiple times..

[2018-12-20 15:47] hbowden commented on #3584
Also having this issue with a config file with `.js` as the extension. Adding `rootDir: '..',` to the config as someone suggested above works.

[2018-12-20 16:25] mikefrancis commented on #2441
This is really silly but just in case it helps anyone else, I am working on a new (to me) project - jest was running with the `--silent` option which disables output. Removed that and I'm seeing logs now 🤦‍♂️

[2018-12-20 20:53] markmcdermid commented on #7531
I see how they've done it now, thanks. It seems strange to me that the state of invocationCallOrder is stored _across multiple tests_, is there no way to reset it?

[2018-12-20 21:51] zbraniecki opened #7538 "Update JSDOM to 13.1"
`jest-environment-jsdom` is using a very old jsdom 11.5 released over a year ago. The latest jsdom - 13.1- brings a lot of new features and better compatibility.

It would be great to update to the latest jsdom and fix some of the open issues here, like:
 - https://github.com/facebook/jest/issues/5800
 - https://github.com/facebook/jest/issues/6706

[2018-12-20 21:53] sai-chai opened #7539 "'-o --coverage' should only show the coverage of changed files."
## 🚀 Feature Proposal

Combining -o, --onlyChanged, or --watch with --coverage should first run the changed files only, then display coverage for the changed files only, and then rerunning automatically on a save or when Enter/Return is pressed.

## Motivation

Jest CLI would work better if it allowed quick limited tests. You should be able to have it running the background as you're writing tests

[2018-12-20 21:55] thymikee commented on #7538
It also brings dropping Node 6, which we still support. Please use custom environment with latest JSDOM, like: https://github.com/theneva/jest-environment-jsdom-thirteen in the meantime.
See the docs on why and how to use it: https://jestjs.io/docs/en/troubleshooting#compatibility-issues

[2018-12-20 21:55] #7538 closed

[2018-12-20 21:56] thymikee commented on #7538
I feel like we should document this better and make users more aware which version of JSDOM they use under the hood. If you have ideas on how to make that better, we'd love a PR with that!

[2018-12-20 21:58] thymikee commented on #6706
Jest ships with older JSDOM to support Node 6. See https://github.com/facebook/jest/issues/7538#issuecomment-449147896 on how to make Jest work other version of JSDOM.

[2018-12-20 21:58] #6706 closed

[2018-12-20 21:58] thymikee commented on #5800
Jest ships with older JSDOM to support Node 6. See https://github.com/facebook/jest/issues/7538#issuecomment-449147896 on how to make Jest work other version of JSDOM.

[2018-12-20 21:58] #5800 closed

[2018-12-20 22:03] thymikee commented on #7539
I recall we fixed that in master, but can't find the commit. Can you check `jest@beta`?

[2018-12-20 23:50] sai-chai commented on #7539
https://github.com/facebook/jest/commit/6a77ee37ec2d46ece7e9cfd0f891d11c113cc4c4#diff-9523ac5aa456fb73fc8008d14432dfff
I found the commit, and it worked the first time around using watchAll, but ever since hitting q to back out of that first run, it no longer works. The only one that's working properly is --changedSince= but of course you need to create a new branch to use that.

[2018-12-20 23:56] sai-chai commented on #7539
I think the problem only appears when comparing against your own branch, even the remote branch you cloned. It works fine when comparing against a parent or sibling.

[2018-12-21 00:37] unional commented on #2441
Notice when verbose is enabled (I toggle it using `jest-watch-toggle-config`), some of the console log is being blocked in beta.

[2018-12-21 01:29] roboooots opened #7541 "How to use jest to config a global param of my angular.module('app')?"
my angular module is a global param, it's easy to define controller or service in this style

[code]
but how to use jest mock the global param 'App'? my testing code (helloworld.controller.spec.js):

[code]
when I run jest, I got this error

[code]
how should I do to fix this??

[2018-12-21 05:57] odelucca commented on #1377
I'm using @adanilev solution too, but I would love a better way to write async/await throw tests :)

[2018-12-21 07:14] thymikee commented on #7539
Sounds like a bug, would you mind investigating and maybe send a PR with a fix? Or at least provide a repro :)

[2018-12-21 08:42] julien-f commented on #1377
Thanks @SimenB, I didn't know about this lib, I'm keeping it close in case I need it.

@odelucca For me the best way for now is `rejectionOf` that I posted in [this comment](https://github.com/facebook/jest/issues/1377#issuecomment-267006099):

[code]

[2018-12-21 10:26] natealcedo opened #7542 "Expose a way for jest-cli to run jest with a specific project(s)"
## 🚀 Feature Proposal

Allow `jest-cli` to run jest with a specific project(s) configuration(s) declared from the `projects` key.

## Motivation

The motivation for this is to allow for different jest runners to be executed along with its own configuration. Currently this is only possible if different directories have it's own jest config. But in the case that you only have one jest config and you

[2018-12-21 11:31] SimenB commented on #6189
Can track the remaining work in #7542

[2018-12-21 11:31] #6189 closed

[2018-12-21 11:31] SimenB commented on #7542
Related: #6189

[2018-12-21 13:52] HAMZABoxer98 opened #7543 "jest version 22.0.4 is faster than 23.6.0"
## 💥 Regression Report

I have installed jest@23.0.6 which is the latest version now, but it's very slow and every time I make a change, the test runs twice with a progress bar that counts some seconds, almost I get the test result in less than 6 seconds.
I switched back to jest@22.0.4 and it's very fast, I get the test result in 1 second.

Note: in jest@22.0.4 I don't see any progress bar.

Examp

[2018-12-21 14:58] mzedeler commented on #6029
Is this still an issue?

I just spelunked into the code and found this:

https://github.com/facebook/jest/blob/master/packages/jest-worker/src/workers/processChild.js#L113

[2018-12-21 15:06] thymikee commented on #6029
I don't think that's related

[2018-12-21 23:32] rahul6612 commented on #6944
@normancarcamo  thanks it working  npm cache clean --force

[2018-12-23 00:59] odelucca commented on #1377
@julien-f excellent and gracious way of doing it :) thanks for sharing! I'll start using it too

[2018-12-23 01:52] asitkdash commented on #3254
echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
This helped me for UBUNTU 18.10

[2018-12-23 02:03] ronnyyu commented on #3254
Many thanks. But just as @adamhooper mentioned before, `Forcing the user to sudo for a mundane task is certainly a bug.`

Any ideas for regular user?

[2018-12-23 14:06] haraldrudell commented on #7359
I created a package **jest-esnext** that comes with babel7-ES.Next transpilation pre-packaged
Pre-packaging makes it reliable

basically one would do:
**yarn add --dev jest jest-esnext**
then, next to package.json, create a file **jest.config.js**:
**module.exports = require('jest-esnext')**
Now, **yarn jest** would test .js .mjs, … with ES.Next source code

This would avoid some troubles:
* Myste

[2018-12-23 14:13] haraldrudell commented on #7359
for @sibelius it might be more convenient to put your jest configuration in a fake sibling project than up at the workspace root, possibly. I used one test@0.0.1 with yarn workspaces before I moved it to jest-esnext

[2018-12-23 15:04] verbraucher commented on #5244
also interested!

[2018-12-23 22:40] johnbowdenatfacet commented on #7441
Getting this too.  I know with mocha you need to define the matches with quotes around the string, could be the issue?

[2018-12-24 09:32] Pioneer-Linzi commented on #4604
![image](https://user-images.githubusercontent.com/8732856/50395876-6e1c7a80-07a1-11e9-9f5d-23e9a8847829.png)
this is my babel config ,
![image](https://user-images.githubusercontent.com/8732856/50395896-84c2d180-07a1-11e9-9863-596380ea123f.png)
and this's my jest.conf.js ,I try many methods, but i can't solve  this problem,

[2018-12-24 12:43] #5163 closed

[2018-12-24 12:47] #7302 closed

[2018-12-24 12:55] #7055 closed

[2018-12-24 13:01] jhanschoo opened #7544 "`--watch` should not open inotify watches for files and folders listed in `watchPathIgnorePatterns`."
## 🐛 Bug Report

Jest in `--watch` mode opens watches on all files in the project, even those blacklisted by `watchPathIgnorePatterns`. This is a problem in Linux where there is a limit on the number of concurrent watches.

This was first raised in #3254; current solution is a workaround, increasing the limit itself, which requires `sudo` permissions. It is not a true solution as reasonable (incre

[2018-12-24 14:08] #7002 closed

[2018-12-24 14:39] anchnk opened #7545 "Manual mock restore original implementation"
## 💬 Questions and Help

I have a pretty common testing use case and I am not sure what's the best approach there.

### Context

 I would like to test a **module that depends on a userland dependency**. The userland dependency (`neat-csv`) **exports a single function that returns a Promise**. I want to mock `neat-csv`'s behavior so that it rejects with an error for one single test. Then I want to

[2018-12-24 15:19] rickhanlonii commented on #7538
Should we ship with the latest jsdom and give people the option to use a jest-env-jsdom-node-6 environment for full node 6 support?

[2018-12-24 15:36] rickhanlonii commented on #6616
I think the way forward is to implement this new API https://github.com/facebook/jest/issues/6616#issuecomment-402782271

[2018-12-24 15:42] rickhanlonii commented on #7527
Love it, should be straightforward to add

A few questions:

- What do you think about dropping the `jest-environment-` off and just printing `node` or `jsdom`?

- Should we only print the environments if there are multiple in use? If you only use node you don't need us to tell you in every test result

- What do you think about switching the order so that the timestamp is still last?

[2018-12-24 15:45] rickhanlonii commented on #7372
@matheuspgINF that would be great! I would start with the matcher code [here](https://github.com/facebook/jest/blob/master/packages/expect/src/matchers.js#L384)

[2018-12-24 15:56] rickhanlonii commented on #7270
I'm sorry, without looking into it I'm not sure where the problem is - that seems like a reasonable place to start though

[2018-12-24 15:58] rickhanlonii commented on #7541
Please note this issue tracker is not a help forum

We [recommend](https://facebook.github.io/jest/en/help.html) using our [discord channel](https://discord.gg/MWRhKCj) or [StackOverflow](https://stackoverflow.com/questions/ask) where there is an active [jestjs](https://stackoverflow.com/questions/tagged/jestjs) tag for questions

[2018-12-24 15:58] #7541 closed

[2018-12-24 16:00] rickhanlonii commented on #7531
The implementation reasoning makes sense but it still seems like a bug doesn't it?

[2018-12-24 16:04] rickhanlonii commented on #7532
Hey @andreamatt, we use istanbuljs for coverage reporting, they may be able to explain better

[2018-12-24 16:04] #7532 closed

[2018-12-24 16:05] hulkish commented on #7527
@rickhanlonii

IMO, easiest way to do this is to use what user defines **before** it is resolved to a package/etc (or, default: `jsdom`). Because, it should support any nested path of the package request, as well (aka `some-jest-env/path/to/file`).

If we attempt to create a name from the "resolved `testEvironment` path" - this resolve starts to get more complex than whats probably necessary. Beca

[2018-12-24 16:08] hulkish commented on #7527
@rickhanlonii also, i believe you can [only define one `testEnvironment`](https://jestjs.io/docs/en/configuration#testenvironment-string), right?

[2018-12-24 16:10] rickhanlonii commented on #4285
Wow that's great @jodonnell, that's the solution I recommend for this, no need to add to core

@jodonnell want to submit to https://github.com/jest-community/awesome-jest?

[2018-12-24 16:10] #4285 closed

[2018-12-24 16:14] rickhanlonii commented on #7527
You can define a test environment in the [project config](https://github.com/facebook/jest/blob/a6eff76508816ca71512d65020406e842cd7baa3/types/Config.js#L288)

[2018-12-24 16:15] rickhanlonii commented on #7514
Nice answer @grosto, thanks!

[2018-12-24 16:15] #7514 closed

[2018-12-24 16:15] hulkish commented on #7527
But, doesn't `projectConfig.testEnvironment` override/replace the `globalConfig.testEnvironment`?

[2018-12-24 16:17] rickhanlonii commented on #7527
I might by the time we get to the reporter phase but that's an implementation restriction we could solve

[2018-12-24 16:17] SimenB commented on #7527
The result object should be full name, imo. If a reporter wants to ditch the prefix that's fine

[2018-12-24 16:20] rickhanlonii commented on #7527
Yes @SimenB that's what I meant, the reporter would strip `jest-environment`

I feel strongly that we should only print the env in the default reporter if there are multiple detected

If that's too difficult to achieve then I'd recommend providing the info to reporters and using a custom reporter to display it always

[2018-12-24 16:35] SimenB commented on #7519
I cannot reproduce this. Mind setting up a repository showing the error?

My guess is some sort of dep hoisting giving the wrong versions

[2018-12-24 16:55] jodonnell commented on #4285
👍 I made a PR.

[2018-12-24 16:59] palmerj3 commented on #4285
Just want to highlight that this is already possible to report on if you use the jest-junit reporter.

An example generated XML of a single failing test:

[code]

[2018-12-24 18:03] leimonio commented on #7103
@richardscarrott @thedanchez is this a case for monorepo usage with shared jest configuration?

[2018-12-24 18:07] hulkish commented on #7527
@rickhanlonii if multiple are detected, still only one is selected...isnt that all which matters - reporting wise?

[2018-12-24 18:56] nasreddineskandrani commented on #6783
I am in vacations. I stated working (slowly) on the original issue of this thread https://github.com/facebook/jest/issues/6783#issue-346031046
I'll open a PR during the next week.

[2018-12-24 19:51] hulkish commented on #7527
@SimenB @rickhanlonii I also think the `@jest-environment` should support local import paths - relative to test file. (ex `@jest-environment ./my-env`)

Another thing which occurs to me... which I think maybe would need to be a separate PR...considering the following:

- if you are using the `@jest-environment <env>` strategy to set test env... I think it also makes sense to be able to control the

[2018-12-25 01:03] ycmjason commented on #1456
@carloscheddar

Can't believe the issue was with the max worker! 😠 This problem annoyed me for the whole day!

[2018-12-25 02:47] zhenwenc commented on #3853
How about `CI=true yarn run test`?

[2018-12-25 03:41] normancarcamo commented on #3853
Sorry for what I said before, but it works well without the title of the test cases, I mean, without the "--verbose" option, I think that --verbose does some kind of formatting and replaces the stdout stream.
So, for me I have been like 2 months and everything is working well.
And if anybody wants to use that option then only append it to your npm commands like so: npm run test:integration -- --wa

[2018-12-25 07:55] poppinlp opened #7547 "Using jest with node assert got wrong error type."
## 🐛 Bug Report

The assert module in nodejs will throw error when assertion fail. It will throw a AssertionError If the second parameter is a string. But if the second parameter is an instance of Error, it will throw it instead of AssertionError.

I've tried this code and got the expected error.

[code]

But in my test case, i got an AssertionError.

## To Reproduce

You may run this test case, i

[2018-12-25 10:51] SimenB commented on #7547
This is weird. Running the snippet above behaves differently in node and through jest.

I added `try-catch` just to make sure jest doesn't catch the error and format it.

[code]

Jest:
[code]

Node:
[code]

@thymikee @rickhanlonii any ideas?

[2018-12-25 10:54] thymikee commented on #7547
IIRC we re-throw Node assert errors with custom AssertionError: https://github.com/facebook/jest/blob/master/packages/jest-circus/src/formatNodeAssertErrors.js

[2018-12-25 11:09] SimenB commented on #7547
Yeah, but that shouldn't happen when I catch it locally, unless we inject a fake `assert` module?

[2018-12-25 11:20] SimenB commented on #3853
Can people with the issue test `jest@24.0.0-alpha.9`? It includes #6871

[2018-12-25 11:32] SimenB commented on #7538
People would have to ignore `engines` warning, not sure it's worth the noise?

https://github.com/jsdom/jsdom/blob/2e0e12dd7ac4360017b12f36839aedc665653146/package.json#L107

[2018-12-25 11:59] #7064 closed

[2018-12-25 14:46] SimenB commented on #5441
#6865

[2018-12-25 14:46] #5441 closed

[2018-12-25 20:15] richardgirges commented on #7519
I'm actually no longer seeing this when upgrading to `jest@24.0.0-alpha.9`!

[2018-12-25 20:15] #7519 closed

[2018-12-25 20:43] hulkish commented on #6683
how about just `NODE_OPTIONS="--inspect-brk"`?

[2018-12-26 02:15] pedrottimark commented on #7547
This is a use case for us to consider when deciding on a solution for #4724

For more info about the error class see: https://nodejs.org/dist/latest-v10.x/docs/api/assert.html#assert_class_assert_assertionerror

[2018-12-26 10:02] Divya-A commented on #3254
echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p This fixed it.Thanks @maraisr.

[2018-12-26 14:46] ghinks opened #7551 "React hooks in alpha release throw invariant violation :good first issue"
## 🐛 Bug Report

When using the react alpha release hooks in functional components jest throws an invariant violation.

I am hoping this is a 'good first issue'. I know I am running react 16.7.0-alpha.2 but this will at some time go mainstream. I am just attempting to write a simple unit test for the example given at the React Conference by Dan Abramov.

## To Reproduce

Steps to reproduce the beh

[2018-12-26 15:01] thedanchez commented on #7103
@leimonio Yes. Essentially, the desire here is to get Jest to work in a Yarn Workspace environment where you have multiple interdependent packages setup for your project. The complications arise when someone is working with ES6 packages.

[2018-12-26 19:01] sudesh955 commented on #7551
I think you are not using the MyDiv component correctly. It is a functional react component but you can not use it by call the function. Instead of `MyDiv()` you should use `<MyDiv/>`

[2018-12-26 19:30] ghinks commented on #7551
user error looks like I should have written it my test as expect(<MyDiv/>).toMatchSnapshot();

[2018-12-26 19:30] #7551 closed

[2018-12-26 20:05] kubilaykiymaci commented on #1961
Jest uses Istanbul under the hod.  It looks like if you specify in babelrc it overrides the jest config.

[code]

[2018-12-26 23:31] mikew commented on #4883
I'm seeing this with create-react-app, where `rootDir` is correctly set. Could also have something to do with the fact that we're using TypeScript, and the file jest is complaining about is a `.d.ts` file.

[2018-12-27 01:39] jamesenejo commented on #6907
@pascalopitz I used the above, Jest still detects open handles

[code]

[2018-12-27 03:12] felixpy commented on #3254
Perfectly solved my problem, thank you very much!

[2018-12-27 14:46] sz-piotr opened #7555 "Circular reference object equality is not symmetrical"
## 🐛 Bug Report

Circular structure comparison is wrong.

The algorithm for determining object equality is asymmetric and causes problems. Pretty sure that the following lines create the problem:
https://github.com/facebook/jest/blob/fe19d6978858d76e1cb7544b39a56250a18b2103/packages/expect/src/jasmineUtils.js#L150-L157

## To Reproduce
[code]

## Expected behavior

Both tests should pass or both t

[2018-12-27 15:43] jamesenejo commented on #6907
After a lot of research, I stumbled on this Stackoverflow answer. I recreated my app.js without a server. Then I created an index.js that contains my server instance running. I imported the app.js into my test file and created a test server that I can close easily. Now, it works well.

app.js
[code]

index.js
[code]

app.spec.js
[code]

[2018-12-27 18:47] efagerberg commented on #6933
Hey folks, for me it was related to a ts-jest issue, I had to add the following to my jest config,

[code]

[2018-12-27 19:34] mistercrunch commented on #4748
Related note: on top of installing `jest@test` (which currently translates to `21.3.0-beta.15`), you may also want to do the same with `babel-jest` ((which also translates to `21.3.0-beta.15`) to keep those in sync. In my case that fixed and issue around using `--coverage` which would throw a `No file coverage available for {...}` error.

[2018-12-27 19:38] SimenB commented on #4748
@mistercrunch that's old! 23.6.0 is latest stable, and installing `jest@beta` will give you `jest@24.0.0-alpha.9`

[2018-12-27 20:30] mistercrunch commented on #4748
I'm not sure in which specific hole of dependency hell I got caught into, but somehow managed to fall  back on my feet while using the latest `jest`.

[2018-12-27 22:17] jamesta696 commented on #2441
@mikefrancis how do I disable the --silent option?

[2018-12-27 23:03] jamesta696 commented on #3853
I'm new to unit testing with Jest/Enzyme
Setup a simple test: from App.test.js:

import React from "react";
import Enzyme, { shallow } from "enzyme";
import EnzymeAdapter from "enzyme-adapter-react-16";
import App from "./App";

Enzyme.configure({ adapter: new EnzymeAdapter() });

test("renders without crashing", () => {
    const wrapper = shallow(<App />);
    console.log(wrapper.debug());
});

[2018-12-27 23:14] normancarcamo commented on #3853
@jamesta696 Hi, I think that you need to post that kind of questions on StackOverflow using the tag of "jest" [here](https://stackoverflow.com/questions/tagged/jest) because the discussions here are for "issues", nevertheless, I know that somebody could help you, but the issue here could be closed because the main issue is not being discussed.
And for now, I cannot give you an answer for that ques

[2018-12-28 02:55] aleclarson commented on #6683
I've been using:
[code]

[2018-12-28 03:01] jamietre commented on #6683
@benterprise if I am not mistaken that does not satisfy the criteria of "running only one test". Jest is still going to disable `runInBand` because there are multiple tests matched by the runner. It still has to load all the files and parse them to determine that there's a ".only" somewhere.

Try again using a pattern as the final command line argument that will result in only a single test file b

[2018-12-28 03:17] AndrewRayCode commented on #6229
This didn't work for me until I added the `env.test` key to `babel.config.js`. I'm not using any transform anything.

[code]

I love Jest. I love Babel. But installing this suuuuucks. And all the docs are out of date.

[2018-12-28 03:53] hongkheng commented on #7531
Facing the same issue as  @markmcdermid.

I’m not even declaring my mock function outside of each `test()` scope. Each of the mock function is declared as a local scope within each `test()`.

Example:

[code]

This is causing a weird side effect where I’m testing different states of a checkbox (select/deselect) in different test case. In the first test case, it was testing for a checkbox check sel

[2018-12-28 09:31] normancarcamo commented on #3853
@tobyhinloopen  Cool to see a proof of the progress that mentioned @SimenB .

[2018-12-28 10:13] SimenB commented on #3853
that's awesome @tobyhinloopen!

[2018-12-28 15:04] pearljamik opened #7560 "Cannot mock a decorator function used on method"
## 🐛 Bug Report

I am not able to mock decorator function used on class method in 23.6.0

I have a typescript class:

[code]
As you can see it uses a reflection to execute some decoration function:
[code]
When I run test in I do not care about the actual impl. of this decorator function, so I try to mock it like this:

[code]
But that does not seem to work. When I run tests I get:

[code]

[2018-12-28 16:07] #7560 closed

[2018-12-28 16:07] pearljamik commented on #7560
works as designed

[2018-12-28 18:59] coryb08 commented on #2081
Guys. None of these solutions work because I dont have a a babelrc file... only babel.config.js. Please, how do you fix with babel.config.js? Thanks

[2018-12-29 01:47] brandonramsey commented on #1456
+1 more person here (like @motss and @seanlindo ) observing that the _"Jest did not exit one second after the test run has completed."_ occurs *only* when `--detectOpenHandles` is not used.

`jest@23.6.0`

Tests fail consistently without `--detectOpenHandles` but pass and don't show any open handles when running with `--detectOpenHandles`.

The machine/container running the tests has two cores, bu

[2018-12-29 17:53] nasreddineskandrani commented on #6783
I did the test with the repo.s from the guy that opened this issue:
https://github.com/Isaddo/testjest22 and https://github.com/Isaddo/testjest23
results:
no problem because my first run was < 1sec

_Explanation:_
in v22 jest the condition was:
`tests.length <= 1`
and in v23 jest the condition became:
`tests.length <= 1 &&  timings.every(timing => timing < SLOW_TEST_TIME)`
the condition was change

[2018-12-29 18:00] orta commented on #2549
Hey folks, to get this moving forwards - we've decided to put a $599 bounty on this issue from our [OpenCollective account](https://opencollective.com/jest).

If you're interested in doing some Open Source good-will and get paid for it, we're looking to have this shipped to production. There are a few ideas already e.g. https://github.com/facebook/jest/pull/5995 which you could take over, or you c

[2018-12-29 18:33] thymikee commented on #6783
The problem with `SLOW_TEST_TIME` is that it doesn't depend on warm vs cold cache. I think a nice update to the algorithm would be to make it depend – e.g. 20s on cold cache and 3s on warm cache. The big number for the first one is to mitigate the cost of transforming the code that's gonna be cached in following runs. It's really hard to predict the first vs second run time.

[2018-12-29 18:59] dreyks commented on #7538
I support @rickhanlonii on this: it's more practical to support latest version out of the box and give an option to configure environment to support Node 6 if needed

[2018-12-29 23:18] orta commented on #7265
Nope, no time constraint 👍

[2018-12-29 23:43] montogeek commented on #7265
@orta Ok, I will do it

[2018-12-30 00:17] jeffgore00 opened #7563 "moduleFileExtensions: confusing documentation"
A couple issues with the documentation for `moduleFileExtensions`, IMO:

- I think it should be mentioned that the priority order of the array of file extensions is left-to-right, i.e. Jest will look for the first file extension in the array, then the second, and so on.

- Currently the documentation says "if you are using TypeScript this should be ["js", "jsx", "json", "ts", "tsx"], check ts-jest

[2018-12-30 01:17] viknes-interana commented on #5855
I tried upgrading to the `beta` package. But I ran in to some other issues before I can even get to testing this specific bug.
First error I got was
[code]
which I got past with a temporary hack (adding a `(foo || [])` in front of the `.concat` by manually editing the troubled `node_modules` file.
But then I ran in to this when I tried to run my tests
[code]
I am on `babel@6.26.0` but seems like i

[2018-12-30 02:42] nasreddineskandrani commented on #6783
@thymikee we are talking in the scenario of this issue about a single file run no? so why the 20sec?
I need to visualize what you have in head :) and it's not that easy with what  you wrote. Can  you provide your scenario?

[2018-12-30 03:55] kimamula commented on #848
Running Jest test code on browsers using Karma is just as easy as configuring Karma to use with Jasmine as usual and adding the following lines above where the tests are loaded.

[code]

See https://github.com/kimamula/jest-karma-angular-demo for demo.

What I want to do is to run tests usually on JSDOM (as it is faster) but sometimes on browsers to make sure my code is compatible with target brow

[2018-12-30 04:36] suchipi commented on #848
@kimamula you can use [`fs-remote`](https://github.com/suchipi/require-browser) to run snapshot testing in browser(s); see [here](https://github.com/suchipi/fs-remote/tree/master/examples/snapshot-testing) for an example.

One thing to note with your setup is that module mocking won't work.

[2018-12-30 05:12] kimamula commented on #848
@suchipi Thanks for your feedback.
I will investigate if I can make module mocking work.

[2018-12-30 08:37] SimenB commented on #5855
Yes, the new version of Jest requires Babel 7.

The first error is an unintended breaking change from #7408, wanna send a PR to fix it?

[2018-12-30 08:50] thymikee commented on #6783
Ah yea, my answer was pretty generic and not really relevant for this use case, but still valid :D. Since the problem is with Node being slow with spawning workers, what do you think about experimental threads added in https://github.com/facebook/jest/pull/7408?

[2018-12-30 09:02] SimenB commented on #7563
Sure, that makes sense. Wanna send a PR for it? 🙂

I can see where you're coming from, happy to update it! Note that since the next version of Jest support TS out of the box, we should update our own code as well. See https://github.com/facebook/jest/blob/c24f75191ef09bb72018f3649d1590cfca24b163/packages/jest-config/src/Defaults.js#L48

[2018-12-30 15:12] nasreddineskandrani commented on #6783
o O
with latest `master` and `node 10.5` using:
`yarn run jest -- --watchAll --runTestsByPath C:\nas_dev\jest-improvement\jest\packages\jest-cli\src\__tests__\TestScheduler.test.js`

I see no changes on the result timing: `2.313s` on rerun. So it's not working. I followed the PR of worker threads they said it's fall backing by default to it if available a log of the strategy will be welcomed :)

[2018-12-30 15:56] SimenB commented on #6783
You need to run node with `--experimental-worker` for it to be available.

[code]

[2018-12-30 16:01] SimenB commented on #6783
It might make sense for us to use `debug` or something and sprinkle them around. That should be discussed in a separate issue, though

[2018-12-30 16:48] orta commented on #7265
I don't really have an opinion on implementation details, as long as it's easy for others to contribute and not hard to maintain that's fine with me 👍

[2018-12-30 17:12] orta commented on #7265
The site went through another design review last night, with an updated color scheme - I've updated the images in the main comment above for the desktop + mobile, and included a bunch of assets so you don't have to dive into the sketch docs

[2018-12-30 18:44] SimenB commented on #5855
Yeah, the concat bug is pretty bad, I'll put up a PR.

It'll work in node 9, 10 and 11, you probably ran one of those?

[2018-12-30 18:46] necolas commented on #5855
I found the reason for the TypeError in my case: running an older version of Node.js 8.

When I upgraded eslint it failed to install and printed this error:

[code]

After upgrading Node.js, Jest started running without errors too. You may want to update the `engines` field in your `package.json` files to match the last version of Node.js that can run the jest beta.

[2018-12-30 18:51] SimenB commented on #5855
Added in 6.13 and 8.10, actually.

https://nodejs.org/docs/latest-v6.x/api/modules.html#modules_module_builtinmodules
https://nodejs.org/docs/latest-v8.x/api/modules.html#modules_module_builtinmodules

[2018-12-30 18:58] SimenB commented on #5855
PR: https://github.com/facebook/jest/pull/7565

[2018-12-30 19:31] montogeek commented on #7265
@orta I just opened #7566, I will make those new changes on Tuesday.

[2018-12-30 19:33] milesj commented on #7538
Node 6 is in maintenance LTS, not active LTS. https://github.com/nodejs/Release#release-schedule

I'd wager that's still not enough to drop it? Gotta wait till April 2019.

[2018-12-30 19:51] SimenB commented on #7538
Aye. And there's no rush here - people wanting a newer jsdom can just install it. I do agree we might wanna document it in a visible spot, but in no way worth ditching node 6 for IMO.

Looking forward to node 8 and not transpiling `async` though, will probably give us a nice little perf boost

[2018-12-31 04:04] mortyccp opened #7568 "--findRelatedTests failed to resolve typescript modules declared in declaration files"
## 🐛 Bug Report

--findRelatedTests failed to resolve typescript modules declared in declaration files.

## To Reproduce

Steps to reproduce the behavior:
1. `git clone https://github.com/mortyccp/reproduces.git`
1. `cd reproduces`
1. `git checkout jest-find-related-tests`
1. Follow steps defined in README.md

## Expected behavior

There should be no error.

## Link to repl or repo (highly encoura

[2018-12-31 09:49] quentinus95 commented on #5783
Same for me, when using `request(app)` with a valid test case but only one Jest test file, I get the **Jest did not exit one second after the test run has completed.**

Otherwise, when adding an empty test in another file, it completes normally.

With this test:
[code]
![image](https://user-images.githubusercontent.com/8060564/50557798-e1b21080-0ce8-11e9-84b8-12c8b76fb7bc.png)

Without:

![image](

[2018-12-31 16:33] adamchenwei commented on #717
base on last answer, make sure add `configurable: true` in paralle with the get and set function, otherwise you can't really redefining the properties properly

[2018-12-31 21:16] robertsmieja opened #7570 "jest-resolver unable to resolve relative require in dependency"
## 🐛 Bug Report

When jest-resolver attempts to load a dependency that uses a relative 'require', it fails to resolve.

Here is the code in ./node_modules/discord.js/index.js :
[code]

package.js exists at ./node_modules/discord.js/package.js

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

This is the expected error message:
[code]

## Link to repl or repo (highly

[2019-01-01 00:51] robertsmieja commented on #7570
I narrowed this down a bit:
This issue occurs with both JavaScript and TypeScript, but if you remove the "jest.config.js" it runs only the JavaScript test without issues.

[2019-01-01 04:10] itsme2017 commented on #890
this worked for me
 const windowLocation = JSON.stringify(window.location);
    delete window.location;
    Object.defineProperty(window, 'location', {
      value: JSON.parse(windowLocation)
    });
    Object.defineProperty(global.location, 'href', {
      value: 'http://localhost/newURL',
      configurable: true,
    });
on jest version 23.6.0

[2019-01-01 04:14] linkswapnil commented on #890
this worked for me
[code]
on jest version 23.6.0

[2019-01-01 22:02] criparra commented on #6229
I've done everything I could for solving this, and still no luck.

I totally agree with @AndrewRayCode about the outdated docs, the one in [jestjs.io](https://jestjs.io/docs/en/getting-started.html) it's different from the instructions given here in Github. In particular:

[code]

Is it necessary to install the bridge to babel 7 or not?

[2019-01-02 02:36] cpojer commented on #7265
It's amazing that people are making so much progress on this. *thank you*.

Here is my (highly subjective) feedback on the design:
* The hover effect on buttons and the menu bar should be shortened or removed with the new design.
* The gray background in the description of Jest looks really off, let's just remove it and have gray/black text on white background. Let the text stand on its own.
* I p

[2019-01-02 03:01] chasen-bettinger commented on #2441
This worked for me.

[2019-01-02 05:53] lednhatkhanh commented on #5783
Also happens for me, runs fine with 2 or more test files.

[2019-01-02 07:32] #7570 closed

[2019-01-02 07:34] qyhongfan commented on #6933
just .tsx files face same problem?

[2019-01-02 09:57] else commented on #7480
Anything I can do to help get this fixed?

[2019-01-02 13:14] quentinus95 commented on #5783
- I just found out that using `--runInBand` it fails even with several tests.
- Also the code coverage is broken when not using `--runInBand` and using the previous hack; only coverage for the first test file is taken into account

[2019-01-02 14:10] orta commented on #7265
I've updated the designs + assets again with all the feedback (except the logo SVG, that can be hot-fixed in #7567 )

[2019-01-02 14:47] SimenB commented on #7109
Fixed in #7548 (not released)

[2019-01-03 01:09] cpojer commented on #7265
Thank you! I like this a lot more. Here are some more ideas (that can be iterated on in the real PR):
* What if we made the Jest logo and link highlight green instead of red? That way it would match with the PASS color. Otherwise, shall we pick a color other than green/yellow/red?
* "Blazing" is probably not a great description, as it is mostly a joke and a lot of people won't understand it.
* I w

[2019-01-03 02:30] lukejagodzinski commented on #6229
It was frustrating to deal with. When I've started using the `lodash-es` package, suddenly it started complaining. I've solved this issue with the help of this thread. However, I see that it lacks one universal, well explained solution, so I will try to provide one. Hope it will help others.

So it appears that @eugeneoshepkov's solution is the working one but there are some changes that I've made

[2019-01-03 02:45] LvChengbin commented on #5783
@quentinus95 I always add `--forceExit` instead, it's not graceful but at least it works.

[2019-01-03 05:11] robertsmieja commented on #7570
Thanks for taking the time to reply and explain the issue.

I didn't notice it ended in .json

[2019-01-03 07:40] chenxiaochun commented on #6938
Excuse me. Is there any solution now?😂

[2019-01-03 10:30] grosto commented on #7480
Just to clarify, I am not actively working on this issue. I think it would be more suitable for someone who has more knowledge in native modules and `vm` module.

[2019-01-03 11:18] else commented on #7480
Am aware, thanks 👍

[2019-01-03 13:12] DanweDE commented on #2441
I noticed that some `console.log()` where working while others didn't in my tests (node v8, jest@23.6.0)

[code]

There's something very weird going on, with `async` tests where the first `console.log` in the async test is not being logged, also the one after the `await` is not logged.

Add some more `console.log` in that `async` test and you'll start notice even weirder behavior like some of the

[2019-01-03 13:45] basslagter opened #7572 "jest > jest-cli > prompts > kleur@2.0.2: Please upgrade to kleur@3 or migrate to 'ansi-colors' if you prefer the old syntax."
When installing (using Yarn) the following warning is shown:

jest > jest-cli > prompts > kleur@2.0.2: Please upgrade to kleur@3 or migrate to 'ansi-colors' if you prefer the old syntax.

[2019-01-03 15:11] spion commented on #2441
@DanweDE can you check if the latest alpha `yarn add jest@beta --dev` fixes the issue for you, even with verbose set to `true`?

[2019-01-03 15:54] julienw opened #7573 "Bad interaction between using `jest.mock` returning mocks with implentation and the `resetMocks` configuration"
## 🐛 Bug Report

I use something like this in my test file:
[code]
I also use the configuration variable `resetMocks`.
It looks like that the mocks seem to be reseted _after_ the module factory has been called, while it should be reseted _before_ so that any created mock inside the factory isn't reset.

As a result when we use the mocked functions inside a test, they return undefined instead of th

[2019-01-03 16:10] SimenB commented on #7572
Duplicate of #7430

[2019-01-03 16:10] #7572 closed

[2019-01-03 20:18] quentinus95 commented on #5783
To correct on my previous message, code coverage is not broken, it was a mistake on my side.

The issue with `--runInBand` still occurs.

@LvChengbin I don't like to use `--forceExit`, I would prefer find out if the issue is from Jest, Supertest or my app.

[2019-01-03 22:15] SimenB commented on #7438
We use babel itself to lookup config in Jest 24, so this has been solved on master.

Install `babel@beta` (currently `jest@24.0.0-alpha.9`) to use it today

[2019-01-03 22:36] chrisblossom commented on #7438
@SimenB `jest@24.0.0-alpha.9` does not appear to fix the issue. [chrisblossom/jest-issue-7438/tree/jest-24](https://github.com/chrisblossom/jest-issue-7438/tree/jest-24)

[2019-01-03 23:19] SimenB commented on #7438
That's what I get for not actually testing 😅

---

First of all, you also need to update `babel-jest` (and you can drop `babel-core`)

[code]

However, that does _not_ solve your issue. The issue is due to the fact you do `process.chdir`, which causes `babel` to not find you configuration (since there's no longer a babel config file in `cwd`). If you want to change directory, then you need to tell

[2019-01-03 23:47] thcgit commented on #5244
This works as of VS2017 version 15.9. There's detailed info in https://docs.microsoft.com/en-us/visualstudio/javascript/unit-testing-javascript-with-visual-studio?view=vs-2017 regarding VS2017's built-in JS unit testing mechanism, although they haven't updated it to mention jest yet.

To get it working, I had to install the jest and jest-editor-support npm packages. Not sure if the "Node.js develo

[2019-01-04 00:00] SimenB commented on #7438
Ah, that makes more sense, yeah 🙂

However, `rootDir` might not be in the actual root of the project - it's just wherever the Jest config was found (although a user can specify `rootDir` to be wherever they want within that config). So it's not necessarily the directory containing babel config (root or otherwise) or even in the parent path of test files (imagine `<rootOfProject>/configs/jest.confi

[2019-01-04 00:04] loganfsmyth commented on #7438
Oh I should have clarified, my suggestion was to call `process.cwd()` once when Jest starts and pass that to Babel, not that `rootDir` should be passed as `cwd` to Babel.

[2019-01-04 00:04] SimenB commented on #5244
Nice! At the bottom of that page is a link to an issue (https://github.com/MicrosoftDocs/visualstudio-docs/issues/1988) mentioning the need to add Jest - maybe you can comment there with your findings? 🙂 I'm not sure how that repo works

[2019-01-04 00:06] SimenB commented on #7438
Right! Yeah, we can do that.

[2019-01-04 00:15] chrisblossom commented on #7438
@SimenB Thanks for reopening the issue and looking further into it.

I'd personally vote against this. I use `process.chdir` quite often with my tests. I initially tried mocking `process.cwd`, but that caused several edge-case issues (for example, mocking `process.cwd` doesn't update `path.resolve`) and at the end of the day does not work.

I don't mind having to use a custom transformer just as l

[2019-01-04 08:08] cpojer commented on #7265
One more minor request:
* Let's remove the underline from the version number and make the version 2px smaller in the header

[2019-01-04 09:33] #7438 closed

[2019-01-04 11:30] arcuri82 commented on #3053
having exactly the same issue. if there is no plan or intention to handle files outside `rootDir`, it would be very useful to at least issue a warning in the logs

[2019-01-04 11:33] cpojer commented on #7265
I think the version font can be a bit smaller still.

[2019-01-04 12:20] jamesgeorge007 commented on #7265
@cpojer Recduced the version font by a factor of `2px`.

![capture](https://user-images.githubusercontent.com/25279263/50687964-4521a280-1049-11e9-8f18-dbc0c569cc40.JPG)

[2019-01-04 16:19] javierfernandes commented on #2129
This feature is also useful in case you are programmatically generating `test`/`it` blocks based on *async code*. For example reading a text file -avoiding readSync- to assert something for each line.

As the `describe` doesn't allow the callback to return a promise (#2235), you cannot generate many `its`. So the solution is to use a `beforeAll` for the async code. Then you can only have a single

[2019-01-04 18:44] zhenyulin commented on #5619
don't think mocking curry function is very straight-forward, had some snippets to stub one from a module:

[code]

[2019-01-04 19:24] JayAndCatchFire opened #7577 "[Documentation] 🍌 toBeNaN is not documented 🍌"
## 🚀 Feature Proposal

The `.toBeNaN` matcher is not documented on the Jest website.  It should be documented along with the rest of the matchers.

## Motivation

I have been using `.toBeNaN` in my tests.  I discovered it using the autocomplete feature in VS Code, which it knew about because I'm using Typescript and I've included the Jest typedefs.  I was searching for some clarification on how th

[2019-01-04 19:40] volkanunsal opened #7578 "File in node_modules not transformed (related to `transformIgnorePatterns`)"
## 🐛 Bug Report

In my jest config, I have the following:

[code]

And in my test file, I have this:

[code]

And I get this error:

[code]

## Expected behavior

I have traced the file into `script_transformer.js`. The code is not transpiled, despite the fact that `willTransform` equals true. So `transformSource` is returning untransformed content:

[code]

Both `transformedSource.code` and  `con

[2019-01-04 19:42] mj1856 opened #7579 "regenerator 0.13.1 breaks Jest"
Tests fail with ReferenceError: regeneratorRuntime is not defined after updating regenerator-runtime to 0.13.1.  This is because `regeneratorRuntime` is no longer a global.

https://github.com/facebook/regenerator/issues/363

Per notes in that issue, we should be using `@babel/plugin-transform-runtime` now.   Jest and its docs need to be updated accordingly.  Thanks.

[2019-01-04 20:10] amazzoccone commented on #5423
Same here!
[code]

After a looooong research at work i fixed it removing _upstream_ (`git remote rm upstream`) 🎉.
Really weird, but it checks that `jest` was running under `.git`.

[2019-01-05 01:50] burtek commented on #7543
noticed the same recently

[2019-01-05 16:58] lakatostamas commented on #7578
Could you please include your babel config? If you're transpiling `node_modules` and you're using babel v7 you have to use `babel.config.js`(read more here: https://jestjs.io/docs/en/getting-started#using-babel)

[2019-01-05 17:02] igasparetto commented on #4842
I agree.

I created a simple Vue project, which also manifests the problem.
https://github.com/igasparetto/vue-jest-test
I wasn't able to get it to work.

I followed the instructions from the following pages:
- https://vuejs.org/v2/guide/unit-testing.html
- https://medium.com/@kevin_peters/unit-testing-vue-js-components-with-jest-86e14ef499da
- Please see this thread: https://github.com/vuejs/vue-

[2019-01-05 17:48] SimenB commented on #7579
PR most welcome updating the docs.

If there's anything else that needs doing, please follow the issue template

[2019-01-05 20:10] jeffgore00 commented on #7563
Hi Simen, sorry for the delay, I would happy to put in a PR for this, but since I am not a seasoned Jest user I was hoping to get someone to explain the logic behind the current prescription "if you are using TypeScript this should be `["js", "jsx", "json", "ts", "tsx"]`"...perhaps there is a good reason for this order that I am missing?

If I were to submit a PR I would want to change the extensi

[2019-01-06 00:36] leimonio commented on #7103
@thedanchez Can you please also share the babel and jest configuration?

[2019-01-06 10:54] thymikee commented on #7563
Jest is JS-first, not TS-first runner. I stand that the order should be as is and Jest just tries to be a good neighbor by allowing fallback to `.ts(x)` files.

However, we should definitely document the "ordering matters" stuff and that e.g. in a TS project one could possibly (not sure by how much) speedup the module resolution by using `[ 'ts', 'tsx', 'js', 'json', 'jsx', 'node']` or whatever wo

[2019-01-06 13:07] runemadsen commented on #2441
Adding `--verbose false` fixed the problem. That seeems a bit unintuitive :)

[2019-01-07 10:49] #7577 closed

[2019-01-07 10:53] #5270 closed

[2019-01-07 10:58] HavaH123 opened #7584 "babel-jest does not vary cache by babel version"
## 🐛 Bug Report

Project uses babel-jest and has a .babelrc with configuration. While attempting to upgrade babel to 7 I messed up some of the babel configs which resulted in broken test (due to broken complied jsx files). I reverted by babel upgrade and tried to run the tests again. The tests remain broken.
Adding --no-cache fixed the broken tests.

Version used:
"babel-jest": "23.6.0",
"jest": "

[2019-01-07 11:24] thymikee commented on #7584
We invalidate the cache based on babel config, but I think it makes sense to invalidate when changing versions, because there may be bug fixes or new behavior, while Jest would stay with the old one for unchanged files.

How do we get Babel version reliably (i.e. not by looking for package.json in node_modules, since it's not Yarn PnP compatible)?

cc @SimenB

[2019-01-07 11:30] thymikee commented on #7543
We have a couple of similar issues: e.g. https://github.com/facebook/jest/issues/6783 or https://github.com/facebook/jest/issues/7110 so gonna close this one, because we're aware of the issue.

[2019-01-07 11:30] #7543 closed

[2019-01-07 11:38] thymikee commented on #6938
Jest now uses Babel7 on master (you can try it with `jest@beta`), so that should not be an issue anymore. @hannadrehman @chenxiaochun can you verify?

[2019-01-07 11:59] igasparetto commented on #4842
@kenotron could you provide us an update please?

[2019-01-07 12:05] #7568 closed

[2019-01-07 12:06] thymikee commented on #5855
Closing as #7565 is merged now (and hopefully fixes the problem, please let us know).

[2019-01-07 12:06] #5855 closed

[2019-01-07 12:18] thymikee commented on #5876
@patrickhulce can you check with `jest@beta`?

[2019-01-07 12:32] SimenB commented on #6938
Not sure what's going on - `babel-plugin-import` makes it really hard to follow what's going on. Jest transpiles the code (`const { Search } = Input;`) to this code:

[code]

While without coverage, the code is:

[code]

Notice the `_input.default`. I don't know why `_input` disappears. All `collectCoverage` does to the transform is add `babel-plugin-istanbul`, but my guess is that `babel-plugin-i

[2019-01-07 12:44] SimenB commented on #5855
Closed by #7186 really, #7565 just fixed a regression introduced for older nodes in #7408

[2019-01-07 13:48] SimenB commented on #7584
The case in the OP is fixed in Jest 24 as we use babel itself to generate the key (so it would have changed even if the config file itself didn't change). We could probably ask `babel` to add `version` to `@babel/core`'s exports, but that would only cover `@babel/core`, not version of plugins/presets etc.

Current code to generate a cache key: https://github.com/facebook/jest/blob/938f1466be978a9f

[2019-01-07 14:00] peterdemartini commented on #6470
I agree, I think this flag should work in a single run mode as well

[2019-01-07 14:48] thymikee commented on #7544
Thanks for the excellent bug report @jhanschoo, the fix to this bug is being reviewed currently.

[2019-01-07 17:11] kenotron commented on #4842
@igasparetto, it's @jdalton's work that should enable this. I hadn't tried that solution just yet.

[2019-01-07 17:23] SimenB commented on #4842
Latest status there I think is: https://twitter.com/jdalton/status/1080627279124934661

[2019-01-07 17:39] jdalton commented on #4842
Yep! Sorry it's taking longer than I wanted. Locally I now have all relevant test262 tests passing. In the course of getting those up the mocking related scenario tests slipped so I have to pick them back up before I can release. It isn't insurmountable, it just takes a bit of time. I'm presenting at [Covalence Conf](http://www.covalenceconf.com/) on Jan 16th and hope to have a release by then. In

[2019-01-07 19:05] justinhp commented on #6451
We've run into the same issue as we're increasing our code coverage.  I feel like we probably have a similar setup to other teams where our tests are run and only if successfully passed then we build/deploy.  To me an empty test does not signify an fail, but rather a TODO.  A simple warning or something along those lines makes the most sense to me.

[2019-01-07 21:22] satsukikorin commented on #936
@vchinthakunta, that may work, but it looks like a violation of a major purpose of the export/import syntax: other modules will no longer be able to to import specific methods or data fields via
[code]
Am I missing something there?

[2019-01-07 22:32] SimenB commented on #6451
Jest 24 has `test.todo('some test to be written in the future');`

[2019-01-07 22:59] patrickhulce commented on #5876
beta works great for me! Thanks very much all!

![image](https://user-images.githubusercontent.com/2301202/50798275-7397bb80-129d-11e9-99e4-fa849b692ede.png)

[2019-01-07 22:59] #5876 closed

[2019-01-08 01:28] marcfallows opened #7586 "`toStrictEqual` does not cover sparse arrays"
I'm getting what I consider unexpected behaviour for `toStrictEqual`, treating sparse arrays incorrectly:
[code]

I would expect this assertion to fail.

While in terms of index access it seems these arrays are equivalent (because `[,1][0] === undefined`), sparse arrays do behave differently:

[code]

This can also be seen as follows:
[code]

And so I don't think it's appropriate to consider these

[2019-01-08 09:07] thymikee commented on #5792
Does it happen with `jest@beta`?

[2019-01-08 09:45] thymikee commented on #6848
Looks like coverage needs `rootDir` to work properly with nested config file. You can use this as a workaround, but it's still a bug:
[code]

[2019-01-08 09:46] #7236 closed

[2019-01-08 09:50] thymikee commented on #7475
You don't need any other setup. Can you post a repo with a minimal reproduction of the issue so we can evaluate it?

[2019-01-08 10:22] thymikee commented on #7462
Can you setup a repro that we can download?

[2019-01-08 10:31] thymikee commented on #5802
We already have `.toThrowErrorMatchingSnapshot()`, please see the docs: https://jestjs.io/docs/en/expect#tothrowerrormatchingsnapshot

[2019-01-08 10:31] #5802 closed

[2019-01-08 10:47] thymikee commented on #7289
This is not how you mock modules in Jest. You either need to use `jest.mock` or `jest.spyOn`:

[code]

`jest.fn()` is for mocking functions, not modules.

See:
- the [docs on mocking](https://jestjs.io/docs/en/es6-class-mocks#the-4-ways-to-create-an-es6-class-mock)
- @rickhanlonii [article](https://medium.com/@rickhanlonii/understanding-jest-mocks-f0046c68e53c)

Closing as this is not a bug in Jes

[2019-01-08 10:47] #7289 closed

[2019-01-08 10:48] thymikee commented on #7283
Can you setup a repro we can download? Ideally with `jest@beta` as we're close to major release and a lot happened (e.g. Babel 7 migration)

[2019-01-08 11:21] thymikee commented on #6544
I'm not sure if there's anything sane from Jest side that can be done. @SimenB ideas?

For now I'd advise using a linter to catch such bugs.

[2019-01-08 11:23] thymikee commented on #7453
Maybe it would make sense to introduce a new flag that would work on a per-test (not test file) level?

[2019-01-08 11:30] thymikee commented on #7521
Watch mode is based on git/hg and it gets files to run from the list of changed files (added, modified, untracked)

[2019-01-08 11:31] thymikee commented on #7435
We've added a `filter` option a while back, which will be available in Jest 24 (you can try it with `jest@beta`). It's not documented yet, but feel free to see the PR behind it: https://github.com/facebook/jest/pull/6012.

Does this fits your usecase?

[2019-01-08 11:55] thymikee commented on #7118
We've upgraded Jest to use Babel 7, so this shouldn't be an issue anymore. Please test with `jest@beta` and let us know :)

[2019-01-08 11:55] #7118 closed

[2019-01-08 12:08] thymikee commented on #5584
I'm pretty sure this works (using this approach in most of my projects). Can you set up the repro, ideally using latest Jest? Maybe it was a temporary glitch in v22.

The citation you provided is there to assure users that tests are running in isolation, but  `setupTestFrameworkScriptFile` runs in the same context as each of your tests.

Closing until then, because I cannot reproduce the issue.

[2019-01-08 12:08] #5584 closed

[2019-01-08 12:20] thymikee commented on #7341
@SimenB @rogeliog @rubennorte any ideas what's causing this? Checked just now again and it also affects our master branch.

[2019-01-08 12:51] SimenB commented on #7435
Filter is part of Jest 23

[2019-01-08 12:51] thymikee commented on #7435
Oh, so it's totally not documented XD

[2019-01-08 13:36] jeysal commented on #7586
I agree this is a bug, especially since the docs say "Keys with undefined properties are checked. e.g. {a: undefined, b: 2} does not match {b: 2} when using .toStrictEqual." and do not state that it might work differently for arrays.
cc @SimenB @thymikee

[2019-01-08 13:38] jeysal commented on #7586
@emilsjolander (contributed `toStrictEqual` originally) do you agree?

[2019-01-08 13:42] SimenB commented on #7435
Blame @mjesun 😀

[2019-01-08 13:43] SimenB commented on #7435
With that said, I think this feature request is fulfilled. While `filter` requires the user to pass the path to a module, we cannot pass just a function since it must be serializable.

PR for docs very much welcome, though!

Also, do holler if it doesn't cover your use case @nicojs, happy to reopen

[2019-01-08 13:43] #7435 closed

[2019-01-08 13:46] SimenB commented on #6680
Does #7313 (and #7349, #7350) cover this use case? It allows you to tell `jest-haste-map` what dependencies a file has

[2019-01-08 13:46] jeysal commented on #5802
@thymikee this issue is actually about `the expect(x).toMatchSnapshot()` call itself throwing, not snapshotting the error thrown by a user-provided function.
@jasonnet if you're still interested in this, perhaps a concrete example would help understand why this could be useful in a test case.

[2019-01-08 13:50] SimenB commented on #6544
It should at least be consistent between `jest.mock` and `require`. My guess is that we resolve the file, but the path we stick in out map in memory is the wrong case, so the lookup fails. Haven't dug into it, though!

They won't detect `jest.mock` having the wrong casing

[2019-01-08 14:06] Schniz commented on #6680
Yes, it sounds like it solves that. Thanks @SimenB 😸

cc @yanivefraim

[2019-01-08 14:09] SimenB commented on #6680
Awesome! Closing then 🙂 Happy to reopen if it isn't enough. Docs: https://jestjs.io/docs/en/next/configuration#dependencyextractor-string

[2019-01-08 14:09] #6680 closed

[2019-01-08 14:15] karlismelderis opened #7588 "possibly async/await break test execution"
## 🐛 Bug Report

A clear and concise description of what the bug is.
Seems that calling async function before function that is returning test definitions makes jest to skip tests.

## To Reproduce

Steps to reproduce the behavior:
create module and call exported function in test file
[code]

## Expected behavior

I expect tests to execute

## Run `npx envinfo --preset jest`

Paste the results here

[2019-01-08 14:32] SimenB commented on #6848
Is it a bug?

https://github.com/facebook/jest/blob/8de90fbfdf5fd6211d3134332ee40d6b6192ab5d/packages/babel-jest/src/index.js#L96-L97

[2019-01-08 14:35] jasonnet commented on #5802
@jeysal  Thanks. You are correct that .toThrowErrorMatchingSnapshot doesn't appear to apply here because it seems to catch an exception, but the problem is that no exception is thrown.

It's been a while since I looked at this.  This weekend I'll reboot my brain on jest and see if I can clarify further for @thymikee.

[2019-01-08 14:57] thymikee commented on #6848
Tests pass but coverage is not seeing them. It's inconsistent, hence I'd call it a bug. We should either fix it or document it if there's nothing we can do.

[2019-01-08 14:58] thymikee commented on #5802
Thanks!

[2019-01-08 15:00] SimenB commented on #6848
It's at least on purpose - `rootDir` should be set up correctly. I'd say the bug is that we find tests outside of `rootDir` at all but that's how `roots` work...

[2019-01-08 15:18] karlismelderis commented on #7588
thank you!

[2019-01-08 15:19] lokers commented on #4891
add to `package.json`

[code]

create empty file named `/babel.config.js`

add to `.babelrc` to `presets`:
`"@babel/preset-env"`

[2019-01-08 16:14] adamchenwei commented on #5507
@vire I am having same issue with jest on bamboo. I dont really understand `Well it's not a bug it's because the rootDir is / in the container` means, would you elaborate on the actual fix the replacing something that actually fixed it? thanks

[2019-01-08 16:47] emilsjolander commented on #7586
Agreed, this was an oversight

[2019-01-08 17:12] jeysal commented on #7586
@marcfallows sounds like a nicely isolated bug for a first Jest PR :)

[2019-01-08 17:41] jeysal commented on #6544
I looked into it, the `setMock` goes all the way through to https://github.com/facebook/jest/blob/8de90fbfdf5fd6211d3134332ee40d6b6192ab5d/packages/jest-resolve/src/defaultResolver.js#L141-L146
which does not care if the case is correct on case-insensitive file systems.

If we also stat `path.resolve(file, '..')` to check whether the file was specified with the correct case that might degrade perf

[2019-01-08 17:44] sormy commented on #6229
Seems like `jest-babel` just doesn't load `babel.config.js`. Updating previously proposed solution:

1. Create custom transformer under the `tests/transform.js` path:

[code]

2. Modify your `jest.config.js` file:

[code]

3. Configure whatever transforms you need in `babel.config.js`:

[code]

NOTE: `ts-jest` is not needed with new `@babel/preset-typescript`

[2019-01-08 20:30] lakatostamas opened #7590 "[Documentation] Add a "transpiling from node_modules" example"
## 🚀 Feature Proposal

There is a broken link in the documentation in `Using Babel` [section](https://jestjs.io/docs/en/getting-started.html#using-babel) with babel v7. (removed in this commit: https://github.com/facebook/jest/pull/7016/commits/c066ebca760a03a2a6a26419d7f2057068d03f55 ) I think the link should be removed, but it would be helpful to add a "Transpiling from `node_modules` with Babel

[2019-01-08 21:53] unional commented on #7521
Are you saying when I add a file from IDE, git will detect a file change and send jest a notification?

[2019-01-08 22:14] thymikee commented on #7521
Yes, because the file will be seen as "untracked" to git.

[2019-01-08 23:00] marcfallows commented on #7586
PR raised: https://github.com/facebook/jest/pull/7591

[2019-01-08 23:05] unional commented on #7521
I saw that `TestWatcher` only have an `changed` event. I think that's the problem.
`--watch` (using git) and `--watchAll` (not using git) should be able to detect if the file has been added or changed.

And then the proper event should be emitted and the main code can handles it properly.

And I'm proposing we should not re-run test suite when the even is `added`.

Can you see where does it extend

[2019-01-09 02:54] open-source-explorer commented on #7579
@SimenB I'm a novice here. Can you guide me?

[2019-01-09 08:09] SimenB commented on #7590
I updated the link in the docs now to point to the example before it was deleted. Is that enough?

[2019-01-09 08:14] lakatostamas commented on #7590
Yes, I think it is. Thank you @SimenB!

[2019-01-09 08:14] #7590 closed

[2019-01-09 08:36] nicojs commented on #7435
Thanks @thymikee and @SimenB for commenting and thanks  @mjesun for implementing. Will take a look possibly later this month or early next month. ❤️

[2019-01-09 09:04] yatki opened #7592 "Rename jest.mock to jest.stub"
## 🚀 Feature Proposal

It would be better to rename jest.mock to jest.stub, because actually what it is doing is stubbing the objects. It doesn't have pre-programmed expectations like mocks have.

## Motivation

I love jest and using it for a quite while now. But jest.mock doesn't do what mocks do and that naming bothers me a little bit. I did a lot of research about testing and noticed that we ar

[2019-01-09 09:35] yatki commented on #7592
Hmm I'm not sure if there stub would be that wrong because we would still use the factory to return jest.fn() or an intercepted module object. And I am not sure if we would define the assertions in the factory?

[2019-01-09 10:51] #7586 closed

[2019-01-09 11:16] gziolo commented on #7066
I'm experiencing the same error at the moment. As long as the matcher is sync, everything works as expected. As soon as I mark it as `async` and use `await expect` I  see it printed on the console the same way as @mattphillips shared.

[2019-01-09 12:18] jeysal commented on #7592
I think you may be interpreting "pre-programmed expectations" too narrowly. I don't think it requires the expectations to be defined "before the call happens at runtime" or "above the call in the source code" or something like that. I believe it means that we "pre-program" the expectations when writing the test, so it can still be a mock if the expectation is below the usage of the mock:
[code]

I

[2019-01-09 12:30] SimenB commented on #7592
FWIW `sinon` merged `spies` and `stubs` into `fakes` in their latest major release: https://sinonjs.org/releases/latest/fakes/

[2019-01-09 13:47] kandros opened #7594 "reading custom matcher result from custom reporter"
I'm looking to read the result of custom matcher from a custom reporter

in the codebase I found this https://github.com/facebook/jest/blob/master/packages/expect/src/index.js#L274
so it should already be possible,  but i cannot find where in a custom reporter this data is available.

more details at https://github.com/americanexpress/jest-image-snapshot/issues/51#issuecomment-452699525

---
this

[2019-01-09 14:23] yatki commented on #7592
@jeysal In general practice, mocks have sort of a verification method and you call it after defining the expectations (see `mock.verify()` line here: https://sinonjs.org/releases/v7.2.2/mocks/). In the example you gave, you simply do your assertion inside the tests and you are using a stub which is totally fine, but I wouldn't consider that example as a mock example.

@thymikee after reading your

[2019-01-09 14:23] SimenB commented on #7594
@kandros it'd be great if you could follow the issue template. In particular, what do you need it for?

---

It's lost here: https://github.com/facebook/jest/blob/722049ccd66947d48296dcb666bc99fccab86065/packages/jest-jasmine2/src/reporter.js#L148-L183
and here: https://github.com/facebook/jest/blob/722049ccd66947d48296dcb666bc99fccab86065/packages/jest-circus/src/utils.js#L307-L331

@thymikee @ri

[2019-01-09 14:32] kandros commented on #7594
@SimenB I copied the wrong link, (edited first post)
this is the one correct https://github.com/americanexpress/jest-image-snapshot/issues/51#issuecomment-452699525

I need to be able to pass custom data from a matcher to a reporter, in the linked example (when result object gets added in the retun value of the matcher along pass and message).

This allows me to have a custom reporter that show th

[2019-01-09 14:45] SimenB commented on #7594
PR welcome 🙂 Adding it to this type makes sense to me: https://github.com/facebook/jest/blob/722049ccd66947d48296dcb666bc99fccab86065/types/TestResult.js#L102-L112

If the underlying error has `matcherResult` and it, otherwise set it to `null`

[2019-01-09 15:02] kandros commented on #7594
Thanks @SimenB

I'm I can take it, not sure what to do with circus, can you point me to circus's equivalent of `jest/packages/jest-jasmine2/src/reporter.js`?

[2019-01-09 15:07] SimenB commented on #7594
It's in that `utils` file I linked to. It has on real equivalent, but that function does essentially the same as the `specResult.failedExpectations.forEach` part of jasmine's reporter

[2019-01-09 15:08] SimenB commented on #7594
Note that to run circus locally, set `JEST_CIRCUS=1` in the terminal. Other than that, I think `CONTRIBUTING.md` has all the details 🙂

[2019-01-09 15:32] jeysal commented on #7592
Sure, I am aware that a `verify` method is a common pattern for mocks, but I disagree that it is what distinguishes them from stubs.
The difference between the approach of Sinon (and most others)
[code]
and the approach of Jest
[code]
is IMO a very minor detail.

What distinguishes them from stubs is that they perform assertions on the calls that have occurred on them, while stubs exist to provide

[2019-01-09 15:36] thymikee commented on #7579
Based on this comment https://github.com/facebook/regenerator/issues/363#issuecomment-440380606:

It looks like we don't have to mention `regenerator-runtime` in Babel docs at all, nor add `regenerator-runtime/runtime` in `setupFiles`, but include `@babel/plugin-transform-runtime` inside `babel-jest`

[2019-01-09 15:37] donald-s commented on #7066
@gziolo I was experiencing the same thing. I'm pretty sure I figured out the issue though. I'm hoping to open a PR with the fix a little bit later today.

[2019-01-09 15:38] SimenB commented on #7066
Completely forgot about this is. It's even worse in Jest 24 actually 🙀

![image](https://user-images.githubusercontent.com/1404810/50909869-fe5af080-142c-11e9-9c82-7bdb0e4a080f.png)

[2019-01-09 15:39] SimenB commented on #7066
@donald-s oh, that's awesome! I won't dig into it then. Looking forward to your PR! 🙂

[2019-01-09 16:55] Zaifor commented on #1477
Any update here?

[2019-01-09 17:57] SimenB commented on #1477
https://github.com/facebook/jest/pull/7549

[2019-01-09 18:00] Ghazgkull commented on #7145
@RuneKR Can you please share what you figured out to answer your questions above? As someone trying to get coverage for the source in my `lib/node_modules` directory, I have the same questions. What do I need to add to my package.json configuration and where does it go? :)

[2019-01-09 18:49] Jaman-dedy opened #7596 "Test passes localy but fails on travis CI, I'm using mocha, supertest, nyc"
I'm setting up a reful api in nodejs, the first part was to set it with data strucutre and all test were running right good localy and on travis but now I'm using posgresql and I've add some instructions in my .travis.yml... find it below

[code]
connection instructions are gathered in one file, here it is

[code]

[2019-01-09 19:01] Jaman-dedy commented on #7596
Images fail to be displayed, plz find them below

when running localy

![oktest](https://user-images.githubusercontent.com/46047244/50921791-8a7f0f00-1451-11e9-89e6-88246baab3e4.PNG)

when running on travis ci

![fail1](https://user-images.githubusercontent.com/46047244/50921828-9bc81b80-1451-11e9-8adf-1921026bc80c.PNG)
![fail2](https://user-images.githubusercontent.com/46047244/50921833-9cf94880-

[2019-01-09 19:14] paulowski commented on #6992
I searched on the internet and tried different solutions (attempts). Nothing worked. Among others I also removed `package.json` and `node_modules`. What worked is to uninstall `babel-jest` with having jest as the only module coming from the jest team.
This confuses me because I thought the `jest` module's [responsibility](https://en.wikipedia.org/wiki/Single_responsibility_principle) is only parsi

[2019-01-09 20:57] onlywei commented on #1468
Sorry for reviving this thread, but I would really like to see an official documented way to provide babel options to jest outside of `.babelrc`. Both Webpack and Rollup both have the ability to do this, and it makes a lot of sense to me because I very often use different babel options for my bundling vs my unit-testing.

[2019-01-10 00:08] jharris4 commented on #1468
@onlywei you don't have to use `.babelrc` to configure jest.

You can setup a custom transform in your jest config that can do whatever you want (with the caveat that it has to point to a file or package that does the transform).

If you provide a little more information about what you're trying to do I can try and be a little more specific in suggesting a solution... ;-)

[2019-01-10 01:54] donald-s commented on #7066
Great! 🙂 I did manage to figure out how to fix the problem. I'm just trying to get the initial test run to pass before I dive into start implementing my own test.

The problem is due to us losing the context of the current stack when we create the error here:https://github.com/facebook/jest/blob/6cc2a85621cac07387e82811a6cbe1222c3f449b/packages/expect/src/index.js#L263 The error is being created a

[2019-01-10 02:00] chrisdothtml commented on #5274
@SimenB looks like nyc is using [spawn-wrap](https://www.npmjs.com/package/spawn-wrap) (wrapper for your process and automatically wraps child processes), and require hooks to transform code for coverage during runtime.

Looks like Jest is transforming everything first, then running. So I think Jest would need to switch to the hook-based approach to achieve this

[2019-01-10 04:53] iDVB commented on #2441
Is this fixed? I'm still seeing no console.logs on "jest": "23.6.0"

[2019-01-10 05:00] philraj commented on #2441
@iDVB If you read the thread a couple comments above you'll see there's a beta version which is supposed to fix the problem. Try that and report if it solves your issue to help @spion

[2019-01-10 05:16] RuneKR commented on #7145
Hi sure thing!

I need to know a bit more about your project in order to provide the right code.

I have my configuration in the package.json:
[code]

[2019-01-10 07:36] open-source-explorer commented on #7579
@thymikee I'm not familiar with the `jest` codebase. It would be great if you could guide me on which files are to be edited 😄

[2019-01-10 08:42] dortzur commented on #6229
I'm not sure why, but this worked.

[2019-01-10 09:05] SimenB commented on #6229
https://babeljs.io/docs/en/configuration#what-s-your-use-case

[2019-01-10 10:08] thymikee commented on #7579
I opened https://github.com/facebook/jest/pull/7595 to track that. We also don't mention `regenerator-runtime` in master docs (for future release) so I'm not sure what should we change in the documentation – just add a mention that it's advised to use `@babel/plugin-transform-runtime` along with `@babel/runtime` to support async iterators with Babel instead of `regenerator-runtime` if you're on Ba

[2019-01-10 10:17] yatki commented on #7592
I'm using jest for quite some time now and I also didn't care about it. I just read the jest's official documentation and started writing my tests.

But I recently gave a presentation about testing and in that tried to explain the terminology, and then of course, I suggested to use jest being my favourite test runner at the moment. But then `jest.mock` API created confusion between some of the lis

[2019-01-10 15:17] sunfit commented on #5358
Hey, so I run in to the same issue and could not find a solution through google, so I ended up writing my own reporter [jest-summary-reporter](https://github.com/sunfit/jest-summary-reporter).

Only when time came to publish to npm did I find out that at least 3 packages with same functionality already exist [npm search results for summary reporters](https://www.npmjs.com/search?q=jest%20summary%2

[2019-01-10 15:46] sunfit commented on #3322
Hey, so I ran in to the same issue and could not find a solution through google, so I ended up writing my own reporter [jest-summarizing-reporter](https://github.com/sunfit/jest-summary-reporter).
It can either print only the summary or print the test diffs at the top and then a summary.

Only when time came to publish to npm did I find out that at least 3 packages with same functionality already

[2019-01-10 16:05] ClivarLee opened #7600 "how test the result await function that use debounce execute end"
## 💬 Questions and Help
[code]
// test.js
[code]
how to test the result when handleSearch execute end
### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [The Jest help page](https://jestjs.io/en/help.html)
- [Our discord channel in Reactiflux](https://discord.gg/MWRhKCj)
- The [jestjs](https://stackoverflow.com/questions/

[2019-01-10 17:01] khaledosman opened #7601 "How can I set a global variable (i.e an access token) via globalSetup?"
I know this has been asked before but I wasn't able to find an answer..
in my case I need to login to some API and get an access token that all the other tests can use / rely on to make the subsequent calls.

I setup a  globalSetup option in my package.json where the function is being called successfully and calling the API... however I can't seem to set the returned access token to global and use

[2019-01-10 17:10] thymikee commented on #7601
You can store it in your file system so that it's available for all tests. You can also run a pre test script that will populate and env variable and use that inside. There is a bunch of possibilities out there but Jest doesn't have a dedicated API to make this use case easier.

Closing as this is not a help forum.

[2019-01-10 17:10] #7601 closed

[2019-01-10 17:58] nicoabie opened #7604 "snapshotResolver uses absolute paths instead of relative"
## 🐛 Bug Report

The `testPath` passed to `resolveSnapshotPath` as well as the `snapshotFilePath` passed to `resolveTestPath` are absolute which implies that for the same test files across different computers their paths are going to be different and that leading to multiple snapshots for each.

## To Reproduce

Use the new feat snapshotResolver.

## Expected behavior

I would expect the paths rel

[2019-01-10 18:46] #7600 closed

[2019-01-10 18:47] ClivarLee commented on #7600
use test [callbacks](https://jestjs.io/docs/en/asynchronous)

[2019-01-10 18:54] joshribakoff commented on #434
Lets say you agree with this statement, with the current implementation of jest there is no way to write a test that verifies you don't do this.

That does not help if you have a single call with the wrong value, then after that the value gets mutated to the correct value. The test will pass, even though the mock was called with the wrong value.

[2019-01-10 21:40] chrisdothtml commented on #5274
Hmm, maybe the only work needed is adding `spawn-wrap` to apply the require override to all processes, including spawned. I'm not very familiar with the Jest codebase but can look into this if it's not a top priority issue for the team

[2019-01-10 22:33] Arshiamidos commented on #102
i think one of **hacky** way to resolve this issue is depend on jest config in --packge.json-- .
i used this config and solved my problem it's just remap all main folder inside `src/` folder.
`
"jest": {
    "_moduleDirectories": [
      "common"
    ],
    "moduleNameMapper": {
      "\\.(css|scss)$": "identity-obj-proxy",
      "^react-native$": "react-native-web",
      "components/(.*)": "<roo

[2019-01-11 00:33] ChrisCinelli opened #7606 "`Expect` in a Promise should fail the test."
## 🐛 Bug Report

This is a contrite example of the problem I am experiencing.

This test passes but it should not:

[code]

## Expected behavior

The test should fail. The `json()` function is called twice.

The first time the `expect(res.status).toBeCalledWith(500);` line fails. But because it is in a Promise, it does not fail the test. The execution is resumed in the `.catch` and the `res.status

[2019-01-11 01:42] gillbatesiii commented on #6329
`expect(jest.fn()).toBeInstanceOf(jest.fn().constructor);`

[2019-01-11 07:12] thymikee commented on #7606
Instead of using done, return the promise?

[2019-01-11 08:31] SimenB commented on #7606
`expect` works by throwing, so as @abiyasa mentions, this is expected.

Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-01-11 08:31] #7606 closed

[2019-01-11 08:35] SimenB commented on #7604
Again, I don't think it should be relative since it's hard to say what it should be relative to. If in your project it makes sense for it to be relative to `src/` that's easy for you to calculate based on the absolute path.

However, I think passing in either the entire config or just `config.cwd` and/or `config.rootDir` might make sense. Probably `rootDir` as that's used as replacement in config

[2019-01-11 08:36] SimenB commented on #7604
Actually, I wonder if this _has_ to be an absolute path, as we use it to write the snapshot to disk?

[2019-01-11 08:45] MrBojangles commented on #2441
console logs in the classes i am testing do show up

[2019-01-11 09:48] hoangtranson commented on #6552
I have the same issue. But it is so weird. I passed all my unit test at local computer. And then I push it to Github then it was failed some test cases on Drone CI tool. Which as I understand is the same root cause with you.
I have followed the guide to change `mockResolvedValue` to `mockImplementation `. However, it didn't work to me. I have digged deep to the library to see what really happening

[2019-01-11 09:50] capaj commented on #2441
@philraj we've switched to the beta version `"24.0.0-alpha.9"` and it works flawlessly. In the sense that I didn't see any logs disappear since we upgraded.

[2019-01-11 11:09] SimenB commented on #7109
Reverted: #7602

[2019-01-11 12:22] grobira commented on #4727
Just put the same attribute in package.json.
Work for me !

[2019-01-11 15:55] rodgobbi commented on #6859
My team was having this problem too, even without the `watch` mode or trying to use `collectCoverage: true`. My teammate discovered this solution:
Put into the jest config
[code]

[2019-01-11 17:03] nickykln commented on #6378
@mdelgadov Thanks a lot for your workaround.
It is working with the absolute path. Do you do know if we can use relative paths ?
Thanks a lot.

[2019-01-11 18:24] ChrisCinelli commented on #7606
I understand that `expect` currently work by throwing.

I assume there is not any use case when you want to catch an exception thrown by an `expect`. Right?

So I think a throwing `expect` should also log internally that it did throw so when the test is over the problem is reported.

Otherwise, let says I originally I had a simple callback logic, and later somebody refactors the code with promises

[2019-01-11 20:13] SimenB commented on #5457
@DrewML your reproduction is fixed in Jest 24.

[code]

[2019-01-11 20:13] #5457 closed

[2019-01-11 20:31] ccinelli commented on #7606
Could you not have a transformation in `babel-jest` that wrap the `expect` statements ?

A new API is likely not to be adopted in projects that used the old Jest API.

The use case is: I want to refactoring the old code to use promises or async/await and use the current tests to  make sure I do not have regressions.

[2019-01-11 20:51] ccinelli commented on #7606
Otherwise this issue implies that **you should never put assertions in any callback in your tests** since the code being tested may be refactored to use Promises that may shallow the failed `expect` in a `.catch()`.

test('the data is peanut butter', done => {
  function callback(data) {
    expect(data).toBe('peanut butter');
    done();
  }

  fetchData(callback);
});
[code]

[2019-01-11 21:57] #1772 closed

[2019-01-11 21:59] #7105 closed

[2019-01-11 22:57] SimenB commented on #7606
Yeah, we should update that example, actually.

Due to the throwing nature of `expect`, we always recommend to use promises over the done callback.

Looking at the example in the docs:

[code]

It should be written like this:

[code]

Or async await:

[code]

That way, if the assertion fails, it will bubble correctly up to Jest and be displayed.

If you wanna keep using `done`, the correct way is

[2019-01-11 23:04] ccinelli commented on #7606
Wrapping in a promise is exactly what I ended up doing to solve this at the moment.
A lint rule is nice. I am going to add `eslint-plugin-jest`. However the jest linter is not there by default.
I still think it is error prone and should be fixed at the framework level.

[2019-01-11 23:31] chrisblossom commented on #7438
I just wanted to confirm that this issue has been fixed with [`jest@24.0.0-alpha.12`](https://github.com/chrisblossom/jest-issue-7438/tree/jest-24). Thank you!!

[2019-01-12 00:19] armano2 commented on #6694
i was trying to do migration from mocha to jest... and... mocha is finishing all tests before jest starts first one... i think there is somewhere issue with resolving/reading files -> my project contains ~70k files, and i'm running ~19k tests.

after some digging its looks like jest is trying to import all files from all folders before he starts tests, i'm providing explicit match for test file: `

[2019-01-12 02:49] MarcoScabbiolo commented on #6859
I think this bug should be marked as confirmed, I've added a [skipped (until fixed) regression e2e test in my fork](https://github.com/MarcoScabbiolo/jest/blob/f12facbefd386bfc8717fc493d65a68aec72e589/e2e/__tests__/onlyChanged.test.js#L144). Let me know if you want me to merge it as I don't have the fix yet and being my first time reading the jest codebase it might take me some time to figure it o

[2019-01-12 03:00] MarcoScabbiolo commented on #7539
Looks like a duplicate of #6859

[2019-01-12 06:46] #7539 closed

[2019-01-12 06:48] thymikee commented on #7539
Let's fix it there, as there's repro provided. Also @sai-chai please confirm it's OK to close this.

[2019-01-12 09:45] vaklinzi commented on #3853
I also can confirm that jest@24.0.0-alpha.9 works file and you can see all of the console logs without --verbose=false.

[2019-01-12 11:03] barron9 opened #7612 "jest tutorial not working"
https://jestjs.io/docs/en/tutorial-async

Here. I have tried same code and got this error.

[code]

[2019-01-12 11:17] jeysal commented on #7612
I cannot reproduce this following the instructions in the Getting Started and An Async Example guides; the tests are passing for me.
Can you create a reproduction repo?

[2019-01-12 12:10] jeysal commented on #7612
The code in your repo is not the same as in the example. For instance, in `user.js` you return a Promise that can only ever resolve to undefined - if you use the `user.js` from the example, that might already fix the problem.
There's also a lot of extra stuff/config that may or may not be related, so if you're sure there's actually a Jest bug, please try to make a *minimal* repro so we know what i

[2019-01-12 13:31] SimenB commented on #7066
@donald-s were you able to make it work?

[2019-01-12 15:01] jamesgeorge007 commented on #7265
@orta I would like to know more about the bounty received as part of resolving this issue.
I had submitted a PR #7576 and got it merged. Am I eligible?

[2019-01-12 15:53] SimenB commented on #6859
Thank you! Dug into it, and this comes from #5601, specifically https://github.com/facebook/jest/blob/94c40a5dc5df86b8f27e403bde7fff1e33c74e16/packages/jest-cli/src/SearchSource.js#L171-L179

That `collectCoverageFrom` contains all the untracked files in the repo. I think this filter is supposed to clear out the files that shouldn't be instrumented, doesn't seems like it does in this case: https:/

[2019-01-12 18:08] SimenB commented on #5942
The OP doesn't reproduce anymore (the jest config is gone) - could somebody put together a smaller reproduction?

[2019-01-12 18:16] stephenliu1944 opened #7615 "."

[2019-01-12 18:55] thymikee commented on #7615
This needs a repro, please provide one we can download

[2019-01-12 19:00] cwalsh003 commented on #6229
Added this to my package.config

"transformIgnorePatterns": [

        "<rootDir>/node_modules/(?!rPACKAGE-NAME).+\\.js$"
    ]

[2019-01-12 19:09] jeffgore00 commented on #7563
Thanks @thymikee, makes sense. So I went to make a PR and I'm a little confused, do I make the change in the `docs` directory or in `website/versioned_docs/[latest-version].md`? The Configuration.md file in the `docs` directory is actually missing that line starting with "If you are using TypeScript..."

[2019-01-12 19:31] thymikee commented on #7563
As you probably noticed, we've added default TS support in our master branch and there's no need to add this ("If you are using TypeScript...") notice in `docs/` – seen as `next` on our website (https://jestjs.io/docs/en/next/configuration). But please add information about ordering there as well :)

[2019-01-13 05:35] ajschmidt8 commented on #3853
+1. can also confirm. glad to see this is working. nice work, Jest folks! 😄

[2019-01-13 08:07] open-source-explorer commented on #7265
@orta @SimenB I would like to know more about the bounty received as part of resolving this issue.
If I submit a PR and got it merged, am I eligible?

[2019-01-13 12:26] nicewaytodoit opened #7619 "Indivudual tests very fast but total time is always above 20sec"
I am trying to test simple javascript class withing React project:

Following packages installed:
[code]
[code]
I am using default configuration without ejected scripts.

I am testing single file, without any React dependencies or taking snapshot or similar things that could potentially take long time to execute. But, repeatedly these are my test times:

[code]
All tests are showing time less than

[2019-01-13 12:59] thymikee commented on #7619
Jest spends quite a lot of time crawling and analysing your dependencies before it starts the test so they can be run fast later.

Here are related topics: https://github.com/facebook/jest/issues/7110 https://github.com/facebook/jest/issues/6694 https://github.com/facebook/jest/issues/6783

Closing, because we're aware that there are some speed regressions and this issue doesn't provide any new in

[2019-01-13 12:59] #7619 closed

[2019-01-13 15:31] orta commented on #7265
Hi @open-source-explorer - it's pretty unlikely at this point, as we're at the final parts of getting  https://github.com/facebook/jest/pull/7566  merged

[2019-01-13 15:43] davalapar commented on #6859
solved this by putting my files in /src/ folder and adding "--collectCoverageFrom=src/**/*.js" so the coverage report won't touch package.json (which likely causes the error in my case)

[2019-01-13 17:58] KrishnaPG commented on #2081
Tried many things from the above discussion w.r.to `babel` configurations as well as some extra options from other search (such as `esm` options) - nothing worked. The import keyword continued to give error from jest. It is sad that testing a module with es6 imports is so hard.

Finally this is what worked for me: [ts-jest](https://github.com/kulshekhar/ts-jest)

Now, I am not using any typescript

[2019-01-13 22:19] wheresrhys opened #7620 "Bug? Strange behaviour using manual mocks with requestActual with npm packages"
## 🐛 Bug Report

I am trying to add jest compatibility to my test helper package [fetch-mock](https://www.npmjs.com/package/fetch-mock). fetch-mock requires the module it mocks, [node-fetch](https://www.npmjs.com/package/node-fetch) in order to access some utility classes to construct responses. In order to get around jest's application of manual mocks globally, I'm trying to use `requestActual` (

[2019-01-14 03:03] stephenliu1944 commented on #7615
https://github.com/stephenliu1944/babel-plugin-optimization-import/tree/dev

on dev branch

[2019-01-14 05:37] unional opened #7622 "Watch plugin support: terminate test run per test basis"
## 🚀 Feature Proposal

Add a function `onTestComplete()` to `jestHooks` which, if the callback returns false (or Promise resolves to false), will end the test run.

## Motivation

When making changes, you can break multiple tests at the same time.
I want the `bail` ability during watch mode so that I can focus on one test at a time.

Currently, I have to use `t`/`p` and change specific test to `te

[2019-01-14 06:42] jeysal commented on #7622
Does `updateConfigAndRun({ bail: true })` not work for this use case?

[2019-01-14 06:55] unional commented on #7622
Nope, it does not work. I use `jest-watch-toggle-config` to toggle it and it still runs all tests.

[2019-01-14 07:01] chriskuech opened #7623 "Test suite failed to run. Your test suite must contain at least one test."
## 🐛 Bug Report

Jest cannot find unit tests in file when using supertest inside. Example from the [Jest for web frameworks](http://www.albertgao.xyz/2017/05/24/how-to-test-expressjs-with-jest-and-supertest/) example.

## To Reproduce
`createServer` returns `Promise<Express>`, an express app.

This snippet currently **passes** when running `jest`
[code]

This snippet (almost identical to docs and

[2019-01-14 07:40] #7623 closed

[2019-01-14 09:49] 4ekki commented on #6928
Any update regarding this issue?

[2019-01-14 09:51] unional commented on #7622
I see. I always thought `bail` will bail on the first test error. So it is for one test suite.

Does it make sense to have `bail` fail that way or another flag that quit on the first failed test?

[2019-01-14 09:54] SimenB commented on #7622
As @jeysal points out, this works as intended.

#7453

[2019-01-14 09:54] #7622 closed

[2019-01-14 10:42] gregsochanik opened #7624 "jest.mock module auto-mock error when Function names are numeric"
## 🐛 Bug Report

When using the jest.mock('module'); feature to deep auto-mock an entire module, an error is thrown if the module contains any objects that contain functions with a numeric name.

## To Reproduce

Example library `kafkajs`
[code]
## Expected behavior

The library should be mocked with no issues.

## Actual behaviour

Application exits with the following error thrown:

[code]

Which

[2019-01-14 11:41] fergadipa commented on #5509
could you share with me the global setup file? @mgcrea

[2019-01-14 12:07] alfaproject commented on #5420
Why is this closed exactly?

The point of having projects support is because those projects probably have different settings. One `jest.config.js` file at the root doesn't cover a scenario where a project has tests next to source files and another project as a separate tests folder for example. (Angular or Vue front-end and some other back-end services)

I actually stumbled upon this because I wan

[2019-01-14 12:07] stipsan commented on #6859
@SimenB sure I'll take a look 😄

[2019-01-14 12:13] alfaproject commented on #5921
I would say that it should always use the closest `jest.config.js`/`package.json` configuration to the source file/folder/project being tested kind of like node resolution.

I stumbled upon this because I want VSCode to launch Jest for the currently opened file, but can't because I can't tell Jest which configuration file to use for the currently opened project. I can only run Jest for all of the

[2019-01-14 12:19] SimenB commented on #5921
I suppose it makes sense for Jest to walk up the entire file tree until it finds an actual config? Not just a file that _may_ contain a config.

I'd love to sue https://github.com/davidtheclark/cosmiconfig for this, not sure how feasible that is (haven't looked at it)?

[2019-01-14 12:24] fedika opened #7625 "Example for setupTestFrameworkScriptFile"
Hi Jest,

I am having a little bit confused here regarding how to add **jest.setTimeout(10000)** globally in  setupTestFrameworkScriptFile. But I do not have see any clear example explicitly such an the code in jest.config.js. And I cannot find any example in [](https://jestjs.io/docs/en/configuration.html#setuptestframeworkscriptfile-string)

For current condition, I have :
jest.config.json
[code

[2019-01-14 12:28] #7625 closed, assigned to nobody

[2019-01-14 12:30] alfaproject commented on #5921
Currently I solved my particular issue by using this VSCode launch task:

[code]

[2019-01-14 12:40] SimenB commented on #7625
https://jestjs.io/docs/en/configuration#reporters-array-modulename-modulename-options

[2019-01-14 12:59] fergadipa commented on #7625
So I tried with my package.json
[code]
and my jest.setup.js:
[code]

But I found this error when run the test:
[code]
Please kindly your suggestion @SimenB

[2019-01-14 13:06] SimenB commented on #7625
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-01-14 13:12] SimenB commented on #2129
No, `expect.assertions(1);` will fail the test if no assertion is run

[2019-01-14 13:14] SimenB commented on #2129
That will stop working at some point - it's not part of Jest's documented API.

---

Also, any reason why you aren't using this?

[code]

[2019-01-14 13:16] SimenB commented on #5714
This is in our own types:

https://github.com/facebook/jest/blob/805ec3c1956d2fd226d85ae4d6aa1a02ee03f46d/types/Config.js#L145

(`Glob` is just `string`)

[2019-01-14 16:16] chriskuech commented on #7623
Thanks, this is counter intuitive considering async functions are allowed in tests.  Is this a feature being tracked?

[2019-01-14 17:59] jeysal commented on #7624
I can confirm this bug.

[2019-01-14 18:16] SimenB commented on #7624
Not sure how we should handle this. @thymikee ideas?

[2019-01-14 18:30] mrded opened #7628 "Creating an object with 'inspect' key bug"
## 🐛 Bug Report

I just noticed something weird, if you try to create an object with 'inspect' key and a function as a value.

## To Reproduce

If you run following code, you will see what I mean.

[code]

## Expected behaviour

I would expect both outputs to be the same.

## Link to repl

https://repl.it/repls/BreakableSneakyPdf

## Run `npx envinfo --preset jest`

[code]

[2019-01-14 19:47] donald-s commented on #7066
@SimenB Yes, I was able to make it work. I just have a couple of failing snapshots to update. I'm hoping to have the PR today or tomorrow.

[2019-01-14 20:20] SimenB commented on #7628
That's the way `console` works in node

[code]

[2019-01-14 20:20] #7628 closed

[2019-01-14 23:33] pfftdammitchris opened #7631 "Jest is 3x slower on all windows machines (Windows 10 and lower)"
## 🐛 Bug Report

Jest is slow on windows machines.

## To Reproduce

Anyone with a windows desktop machine.

## Expected behavior

It should be lightning fast.

## Run `npx envinfo --preset jest`

Paste the results here:

[code]

I've done a ton of reading around and it seems like 100% of all windows users are being affected by delaying in running tests with jest, while it is blazingly fast for al

[2019-01-14 23:37] SimenB commented on #7631
Related: #6783

Is it slow starting up, or in watch mode as well? If just during startup, you can try to install `watchman`, that should help (https://facebook.github.io/watchman/docs/install.html)

[2019-01-15 00:44] SimenB commented on #7631
If you could profile using e.g. [`ndb`](https://github.com/GoogleChromeLabs/ndb) the startup and figure out what's slow, that'd be a big help as well 🙂

[2019-01-15 03:49] pfftdammitchris commented on #7631
The delay is still slow even with watchman installed.
I've run a profiling test with ndb running "jest --verbose", here are the results:

Screenshot of the first 1.7 seconds:
![first_1 7secs](https://user-images.githubusercontent.com/20717348/51157527-18357280-1835-11e9-8977-0613134bc715.JPG)

A .json file and a .heapsnapshot file saved from the profile tab in ndb after recording:

[profiling.zip]

[2019-01-15 04:19] zebulonj commented on #3853
I can confirm as well! It's like Christmas. 🎅

[2019-01-15 04:52] unional commented on #7453
I suggest using the same flag.
Is there a use case for bailing specifically at the test suite level and not per-test level?

[2019-01-15 07:23] rahamin1 opened #7632 "Please delete"
Delete

[2019-01-15 07:29] #7632 closed, assigned to nobody

[2019-01-15 10:15] theneva opened #7633 "Mock factories do not support explicit TypeScript typing using imported types"
## 🐛 Bug Report

Mock factories do not support explicit TypeScript typing using imported types in mock factories because hoisting happens before types are stripped.

## To Reproduce

Steps to reproduce the behaviour:

In a test file, do:

1. Import a type from somewhere
2. Mock a module, and provide a factory which uses that type
3. Run the test

## Expected behavior

Since Jest does not perform a

[2019-01-15 10:39] SimenB commented on #7633
I tried messing with the order of babel plugins without making it work - no matter if `babel-plugin-jest-hoist` was before or after `@babel/plugin-transform-typescript` it still gives the warning.

@loganfsmyth is there any way we can make sure that our plugin is ran after `@babel/plugin-transform-typescript` has been able to strip out type annotations?

Plugin source: https://github.com/facebook/

[2019-01-15 10:46] jeysal commented on #7633
Perhaps making the `ExpressionStatement` visitor an `exit` visitor could help?

[2019-01-15 11:00] SimenB commented on #7633
Wow, that does the trick. Thanks once again @jeysal! I'll put together a PR

[2019-01-15 11:11] SimenB commented on #7633
#7634

[2019-01-15 12:07] pribilinskiy commented on #4262
I have to confirm that currently Jest has serious issues with aliases defined in a webpack config:
- `jest.mock('aliased/module')` - doesn't do automocking
- `jest.genMockFromModule('aliased/module')` - cannot find the module
This issue is 1.5 years old. Will it be ever fixed?

[2019-01-15 13:12] bkniffler commented on #2441
Can confirm too, works on `24.0.0-alpha.9` without any command line args.

[2019-01-15 13:14] sangheestyle commented on #2441
Works on `24.0.0-alpha.9` with `jest --forceExit --verbose --detectOpenHandles --runInBand`

[2019-01-15 16:41] craigcartmell commented on #936
I think 'React' should be lowercase here as it's referencing the import?

[code]

[2019-01-15 18:36] thomasacook commented on #7184
I also agree with this issue - my team is using Jest/Supertest to test APIs for a microservice, and external service dependencies are faked using node/http. The setup is fantastic other than we have to use `--runInBand` _always_ because we can't simply reuse external fake processes across tests, and it's not practical to test a single A instance with various B and C instances running on random por

[2019-01-15 18:37] SimenB commented on #7453
I agree - if we change we should reuse the old flag. I think that's the expected behavior.

Implementing `bail` that way should be pretty straight forward at least in `circus`

[2019-01-15 19:22] santimendoza commented on #7453
Seems like they change the documentation to remove the text saying a `describe` is a test suite. Now it says:

I think a new flag it's better, since there should be several people using --bail in the way is working right now.

[2019-01-15 20:12] unional commented on #7453
Is there a use case for the current behavior? I can't find a sentence to describe the current behavior that would be sufficiently different than bailing on a per-test basis.

[2019-01-15 21:01] PeteJodo commented on #4891
if you build `babel-jest` on master the built output is correctly requiring `@babel/core` but `babel-jest@23.6.0` built output requires `babel-core` so somewhere between that release and master, the build process changed but I can't find anything in the changelog that mentions it. This should be fixed once the next release of jest occurs at least.

[2019-01-15 21:51] SimenB commented on #4891
In the changelog:

[2019-01-15 21:53] SimenB commented on #4891
But as long as you install `babel-core@bridge` jest will use babel 7 even on jest 22 and 23

[2019-01-15 23:23] aleclarson opened #7636 "Jest chokes on unexpected snapshot file when --no-cache and --watch are used together"
## 🐛 Bug Report

[code]

Jest is trying to "stat" a test file that does not exist, and it doesn't try to catch in case of failure. For example, let's say you have a test file containing tests that take snapshots. If you rename the test file (but not its snapshot file), Jest later assumes that the snapshot file is legitimate and resolves the associated test file based off the snapshot file path, bu

[2019-01-16 08:13] thymikee commented on #7636
Please include a repro so we can download and investigate

[2019-01-16 11:52] mtgto opened #7639 "I18n documents is 404 not found"
## 🐛 Bug Report

Several languages docs are not found.

#6822 is related, maybe.

### Found

- https://jestjs.io/docs/en/getting-started
- https://jestjs.io/docs/es-ES/getting-started
- https://jestjs.io/docs/ro/getting-started

### Not Found (404)

- https://jestjs.io/docs/ja/getting-started
- https://jestjs.io/docs/pt-BR/getting-started
- https://jestjs.io/docs/ru/getting-started
- https://jestj

[2019-01-16 13:51] Ten0 commented on #5543
Same issue here.

[2019-01-16 15:08] SimenB commented on #7639
Something's wrong with the deploy, I'll try to revert the last commit

https://circleci.com/gh/facebook/jest/44116

[2019-01-16 17:04] SimenB commented on #7639
Seems to be fixed now. Sorry about that and thanks for telling us!

[2019-01-16 17:04] #7639 closed

[2019-01-16 17:13] atuttle commented on #2235
In my case I was able to work around this by using `fs.readdirSync()` and building my tests after getting the file list back.

[2019-01-16 17:43] SimenB commented on #6180
@mattphillips check this one out: https://www.npmjs.com/package/jest-when. Seems very similar to our proposal here? It looks super awesome, but I haven't tried it out

/cc @idan-at @imkindberg thoughts on the API and suggestions in this thread?

[2019-01-16 18:14] mattphillips commented on #6180
@SimenB it looks like `jest-when` has come on quite a bit since I last checked it out last year!

The `jest-when` API appears to be closer to my original proposal of chaining `when(x).then(y)` or the `withArgs` API in Jasmine.

When we chatted at the Jest summit, we decided to drop the intermediary chain of `when`/`withArgs` and have a single API that includes both the args and value to be returne

[2019-01-16 18:18] SimenB commented on #6180
haha, it's actually linked in this issue 😛 never noticed that...

[2019-01-16 18:32] mattphillips commented on #2235
@atuttle the issue you're having is because tests need to be defined synchronously for Jest to be able to collect them, its the same issue we have internally with `jest-each` see the [Troubleshooting docs](https://jestjs.io/docs/en/troubleshooting#defining-tests)

[2019-01-16 21:52] larryTheGeek commented on #6509
When I run test with jest I get an error that no test is found both my tests and js files are inside the static folder

__Here is my package json__
[code]
__Error__
[code]

What could be the issue

[2019-01-16 22:02] #7633 closed

[2019-01-16 23:43] mtgto commented on #7639
Thanks!

[2019-01-17 00:37] unional opened #7642 "shouldRunTestSuite should stop at first rejection"
## 🐛 Bug Report

[code]

With the above watch plugins, the last one `jest-watch-exec` is still get executed even thou the first one will return false to `shouldRunTestSuite()`.

## Expected behavior

it should stop the calls to `shouldRunTestSuite()` when the first plugin returns `false` or `Promise<false>`.

## Run `npx envinfo --preset jest`

Paste the results here:

[code]

[2019-01-17 01:10] donald-s commented on #7066
@SimenB I have the issue fixed ([here's the commit](https://github.com/donald-s/jest/commit/7640a085ae96386a243362d3ffead6b69ce92168), if you'd like to see it), but there are a couple of other tests that are failing due to an extra line being added to the stack trace that I'm having a hard time debugging. Do you happen to know where the failure messages are being built? I've been digging around fo

[2019-01-17 02:09] timkindberg commented on #6180
So I don't much like Java, but I did feel I was missing out on Mockito's `when().thenReturn()` while testing JavaScript. So I created `jest-when` as a spiritual port of mockito's when capability.

I don't like the existing API suggestion of `fn.returnWhen(10, 5, 2);` for the same reasons @myoffe  mentions.

I think maybe something like this might be best:
[code]
I would have done this in `jest-whe

[2019-01-17 02:11] timkindberg commented on #6180
I would think it just returns `undefined`, since that's the default return value for any mock.

[2019-01-17 03:03] timkindberg commented on #6180
We already have:
[code]
https://jestjs.io/docs/en/expect#tohavebeencalledtimesnumber

[2019-01-17 09:07] sunfit commented on #6555
#6184 I think these are duplicate

[2019-01-17 09:09] thymikee commented on #6555
Thanks @sunfit, you're right. I'll close this one.

[2019-01-17 09:09] #6555 closed

[2019-01-17 09:14] cbbfcd opened #7643 "Cannot simulate structure cloning characteristics in history.replaceState"
## 🐛 Bug Report

Cannot simulate structure cloning characteristics in history.replaceState。

[code]

[2019-01-17 09:23] thymikee commented on #7643
This is responsibility of jsdom. Because of Node 6 compat, we need to use older v11. Feel free to use newer one like: https://github.com/theneva/jest-environment-jsdom-thirteen.
It's likely that the bug is fixed there already. If not, please file this issue in [jsdom](https://github.com/jsdom/jsdom) repository

[2019-01-17 09:23] #7643 closed

[2019-01-17 09:42] aymericbouzy opened #7644 "Writing tests without a function"
## 💥 Regression Report

As stated in https://github.com/facebook/jest/issues/5493#issuecomment-375756990, PR #5558 has introduced a regression. Previously,

[code]

was the same as

[code]

but much less verbose. Now it fails with

[code]

## Last working version

Works in version: 22.1.2

Does not work in version: 23.6.0

## Link to repl or repo (highly encouraged)

https://repl.it/@aymericbouzy/

[2019-01-17 09:57] webdevbe opened #7645 "Module names containing a dot make Jest throw a TypeError"
## 🐛 Bug Report

I recently found that when importing a module that has a dot in it's name (in my case react-plotly.js), running the tests will throw the following TypeError: `window.URL.createObjectURL is not a function`. Without importing this module, the tests run fine.

I don't think it's a problem with the module because in my example (see below), the module isn't used, only imported.

## To

[2019-01-17 12:48] Maximilianos commented on #4727
In my case it was what @eightHundreds said, I was using `babel-plugin-istanbul` for coverage for my e2e tests and it was messing up the jest coverage reports. To fix it I just added the ignore patterns I wanted to that config:

[code]

[2019-01-17 13:39] gaearon commented on #6913
@SimenB FYI, I've seen non-native speakers misunderstand your comment as a call to "do not use create-react-app" :-) To future readers — if you read it that way, please start again and re-read the whole comment.

[2019-01-17 15:42] slavafomin commented on #5048
I'm also interested in running jest programmatically from node.js, sadly it's not documented anywhere and the API doesn't look very thoughtful for this use case.

[2019-01-17 16:00] SimenB commented on #5048
It's not. That's something we want to improve though (although a bit down the priority list at the moment)

[2019-01-17 16:52] igasparetto commented on #4842
@jdalton I hope the presentation went well.

Have you got an update on this release please?

[2019-01-17 17:03] manniL commented on #4842
@igasparetto It's in https://github.com/standard-things/esm/issues/706 ☺️

[2019-01-17 17:26] slavafomin commented on #5048
@SimenB I've just found out that Jest is working pretty fine in this scenario actually, the only problem is the documentation and typings support.

I've posted a small example on how to use Jest in this scenario:
[— How to run Jest programmatically in node.js (Jest JavaScript API)](https://medium.com/@slavafomin/how-to-run-jest-programmatically-in-node-js-jest-javascript-api-492a8bc250de
)

@cpoje

[2019-01-17 18:35] ajwhite commented on #5420
☝️ that's precisely what I ran into.

A great example is adding `displayName` to each project's `jest.config.js`.

In a simple example such as this, it can be observed that those configurations are not picked up.

[2019-01-17 18:40] sibelius commented on #5420
check a running project with multi config here https://github.com/entria/entria-fullstack

[2019-01-17 18:48] unional commented on #7644
The same for `test.skip()` which makes even more sense to keep the function optional.

[2019-01-17 18:52] slavafomin commented on #5048
@SimenB that sounds great. Thank you for your hard work!

We are calling Jest as part of our build framework inside of the existing node.js process. The current implementation works great for us, we get the console output as well as results object with more information regarding tests outcome.

My only suggestion would be to have a better naming for the API and a typings support, so the module cou

[2019-01-17 18:55] SimenB commented on #5048
We're going to be migrating to TS (#7554), so typings will definitely be there 🙂

[2019-01-17 20:11] corey-aloia-sap commented on #6798
this works for setItem, but unfortunately, for reading, I get `window.localStorage.read is not a function`

[2019-01-17 21:54] mr-wildcard commented on #6798
`read` method doesn't exist on LocalStorage prototype. You're probably
looking for `getItem` instead.

Le 17 janv. 2019 21:11, "corey-aloia-sap" <notifications@github.com> a
écrit :

this works for setItem, but unfortunately, for reading, I get
window.localStorage.read
is not a function

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://g

[2019-01-17 22:24] dijs commented on #3108
This issue is still affecting me. Any plans on fixing this?

[2019-01-18 00:08] SimenB commented on #7644
Duplicate of #6430

Jest 24 will have `test.todo` for your use case: https://jestjs.io/docs/en/next/api#testtodoname

[2019-01-18 00:08] #7644 closed

[2019-01-18 00:11] SimenB commented on #7066
@donald-s hey! feel free to open up a PR, then we can comment on it (and see the test run result on CI) 🙂

[2019-01-18 05:19] milesj opened #7647 "Jest much slower in Travis CI than locally"
## 🐛 Bug Report

When running Jest locally, all tests finish in 12 seconds. When running in Travis CI, they finish in 448 seconds. Here's the local output:

[code]

And the CI output.

[code]

Notice in the CI that `BoostReporter.test.ts` takes 161.036s, `NyanReporter.test.ts` takes 170.847s, and `Console.test.ts` takes 90.95s, while the local testing does not even hit the slow timing threshold. T

[2019-01-18 05:21] milesj commented on #7647
This is using Jest 24 beta btw.

[2019-01-18 06:18] corey-aloia-sap commented on #6798
@mr-wildcard I am so embarrassed that I had to delete my comment. It actually looks like a big plus that we can't overwrite this, otherwise someone might accidentally create a mock with read instead of getItem :).
`jest.spyOn(Object.getPrototypeOf(window.localStorage), 'getItem');
`
Works great, and is, IMO, and improvement over the older version of Jest/JSDom where we had to do this manually :)

[2019-01-18 07:19] SimenB commented on #7647
Have you tried limiting workers?

https://jestjs.io/docs/en/troubleshooting#tests-are-extremely-slow-on-docker-and-or-continuous-integration-ci-server

[2019-01-18 07:35] nablaoperator commented on #7480
Hi,
We have experienced the same issue. Hope a solution will come soon!

[2019-01-18 09:32] MellowoO opened #7648 "Import return incorrect value"
In my React-Redux I try to test some file with action functions.
One of the function is async

Here is code of this file
[code]

`import client from 'apollo/'` is an Apollo-client instance

Code of this file is simple too

[code]

`import { store } from '../redux/'` here I imported store, and at this file imported reducer.

[code]

`import Profile from './Profile'`
[code]

Project working, on star

[2019-01-18 09:37] SimenB commented on #7648
I'd check that `import { ActionTypes } from 'actions/Profile'` actually returns what you expect.

Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-01-18 09:37] #7648 closed

[2019-01-18 09:53] neoricalex commented on #3254
Worked like a charm. Thanks @maraisr !

[2019-01-18 11:50] tschoartschi commented on #1652
I wanted to report back that we encountered the same problem as mentioned by @brien-givens

As he said adding `--no-cache`  solves the problem for us (details see here: https://github.com/facebook/jest/issues/1652#issuecomment-412692363)

@brien-givens thanks for sharing your solution :-)

[2019-01-18 14:02] #5164 closed

[2019-01-18 18:45] Blakesters commented on #2441
I'm relatively new to React and Jest. I couldn't get consistent logs using the defaults from create-react-app. I ejected and now the logs are working fine. I don't think ejecting changed the version of Jest. Maybe that just changed one of the settings for how Jest was running.

[2019-01-18 19:22] hayesmaker commented on #3254
[code]

[2019-01-18 21:55] nahumzs commented on #3457
what about?

[code]

[2019-01-18 23:22] brendoncrawford commented on #5048
Just in case anybody is wondering, I was able to successfully do this:

[code]

[code]

[2019-01-19 03:35] milesj commented on #7647
With 4 workers its still 190.84s but it seemed to crash in Node 11. https://travis-ci.org/milesj/boost/jobs/481648087

With `-i` its 450.86s.

Not sure either of those help me right now.

[2019-01-19 04:16] stephenliu1944 opened #7650 "ReferenceError: babelHelpers is not defined"
## Bug Report
I create a hello world babel-plugin from [Plugin Handbook](https://github.com/jamiebuilds/babel-handbook/blob/master/translations/en/plugin-handbook.md) , when I use jest to test the plugin with ES6 syntax like "import".
**Current Behavior**
![image](https://user-images.githubusercontent.com/5137237/51421882-c435df80-1be0-11e9-9ccc-c9f6a34a08d5.png)

**Input Code**
on dev branch
http

[2019-01-19 08:01] SimenB commented on #7615
Happy to reopen if one is provided 🙂

[2019-01-19 08:01] #7615 closed

[2019-01-19 08:10] SimenB commented on #7650
@stephenliu1944 I'm unable to reproduce your error (on the dev branch).

I first got this:
![image](https://user-images.githubusercontent.com/1404810/51424103-ac069600-1bc9-11e9-9284-eb1cceedb811.png)

Fix for that:

[code]

After that, the test passes:
![image](https://user-images.githubusercontent.com/1404810/51424116-d35d6300-1bc9-11e9-8733-6ce8d63640f9.png)

---

Can you please update your rep

[2019-01-19 09:13] allesklarbeidir commented on #1212
Hey @vvo,
I had the same problem when moving away from jest to mocha. I wanted to have the simple jest-like way of mocking a dependency...
I explored the jest source code and created two npm modules you can use together to get the
"jest.mock(....)" feature in your mocha tests.

For now it's very rudimental but it works at least for mocks where you specify a factory function yourself. I appreciate

[2019-01-19 14:50] jeysal commented on #7624
Best handling is probably prefix a `$` or something, like we do with other invalid function names. I'll work on a fix for this.
Note that in our case, rather than `new Function(1, {})`, it's something like
[code]

[2019-01-19 15:46] #7624 closed

[2019-01-19 16:53] SimenB commented on #7647
Unless you're paying, `2` is max. However, `runInBand` should be faster... Odd it only makes it horribly worse

[2019-01-19 16:57] SimenB commented on #7647
Can you try to remove `detectOpenHandles`? It uses `async_hooks`, which has quite the atrocious performance overhead

[2019-01-19 17:32] SimenB commented on #7645
JSDOM does not implement `URL.createObjectURL`

See https://github.com/jsdom/whatwg-url/issues/129

Node does not implement it either: https://nodejs.org/api/url.html

So there's nothing Jest can do here.

You can however polyfill it yourself

[2019-01-19 17:32] #7645 closed

[2019-01-19 17:58] lukepighetti commented on #2205
I am trying to wire up `ts-node` to Jest for breakpoints in VS Code. The existing methods use the `--require / -r` flag in Mocha, such as:
[code]

This argument appears to match Node's require flag. I am trying to replicate this behavior in Jest and I am coming up short. Just wanted to present a use-case for `--require` that I have personally run into. Any suggestions for resolution are appreciate

[2019-01-19 17:59] julienw opened #7654 "Jest seems to share JSdom environments accross tests"
## 🐛 Bug Report

From the documentation in https://jestjs.io/docs/en/configuration#testenvironment-string, the test environment should be sandboxed:

[code]

But in our tests we're mocking some prototype methods and it looks like that they're shared, and this produces intermittents.

## To Reproduce

Steps to reproduce the behavior:
1. Run these commands:
[code]

This repository contains several t

[2019-01-19 18:55] SimenB commented on #2205
Jest does not support running with `ts-node`. It should not be necessary either, see https://github.com/Microsoft/vscode-recipes/tree/master/debugging-jest-tests

[2019-01-19 20:19] thisismydesign commented on #4386
In general, this would be a very useful feature that can root out many issues. I don't think the proposed workaround is realistic for existing bigger code bases. So +1 for this feature.

[2019-01-19 20:51] lukepighetti commented on #2205
Following that guide while debugging a Typescript file (ie `utils.spec.ts`) will run the tests but the debugger will not attach. Should I open another issue to address documentation for attaching for Typescript tests?

[2019-01-19 21:09] jabolina commented on #7287
Hi, I was getting the same error, with @dhurlburtusa tip, my code was @AnitaMartinez, I'm new in TypeScript, so I'm pretty sure this can be done in a better way:

[code]

The ```dbConnection``` Promise is the function that actually connects to the database instance.

[2019-01-19 21:37] lukepighetti opened #7656 "Jest breakpoints work 10% of the time (Typescript & Node 10)"
I have a minimal repo here. [lukepighetti/jest-debug-typescript](https://github.com/lukepighetti/jest-debug-typescript/tree/jest-instructions)

This is a difficult to track down bug. I am on Node 10.15 on MacOS and using `ts-jest`.

I have followed  [these instructions](https://github.com/Microsoft/vscode-recipes/tree/master/debugging-jest-tests)  to setup debugging as recommended here https://git

[2019-01-20 03:09] stephenliu1944 commented on #7650
thanks, It's work.

[2019-01-20 08:08] idan-at commented on #6180
@SimenB to be honest, I did not take part of `jest-when`'s design, I've only recently contributed to it, because I think it's awesome :)

I believe that the `withArgs`like API has the most pros, it's very explicit and won't confuse new comers. (and it can be called `whenCalledWith`, as @timkindberg  suggested - its better than `withArgs`).
The major pros here is minimal new API, very explicit, and

[2019-01-20 15:39] julienw commented on #7654
My guess is that Jest properly creates a new jsdom environment for each tests, _but_ jsdom reuses its prototype objects. Which I think should be expected. But there really is a problem with the implementation of `restoreMocks`.

[2019-01-20 15:42] SimenB commented on #6744
Sourcemaps must be setup correctly, then it's https://github.com/evanw/node-source-map-support/issues

[2019-01-20 16:01] SimenB commented on #7650
Not a bug in Jest, then 🙂

Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-01-20 16:01] #7650 closed

[2019-01-20 19:56] #5597 closed

[2019-01-20 20:47] #7109 closed

[2019-01-21 01:58] LoganElliott commented on #936
I got my code working using the following which is simpler than other solutions i've seen here. It doesn't require you to use `require` or set up `default` exports.

helpers/navigation.js
[code]

component that uses navigation.js
[code]

[2019-01-21 05:38] aberezkin opened #7664 "Understandable error messages when using spread operator with expect.any(Object)"
## 🚀 Feature Proposal

Understandable error messages when using object destructuring with `expect.any(Object)`.

## Motivation

Let's consider following functions

[code]

Let's say you want to test that `getEvents` gives you appropriate actions and you already tested `createEvent` so you use it in your next test suites and write something like this

[code]

You will get a close to cryptic error `

[2019-01-21 05:55] milesj commented on #7647
Running not in a child process is the same speed.

[2019-01-21 12:34] #7544 closed

[2019-01-21 14:13] miluoshi commented on #4262
I can confirm I have the same problems stated by @pribilinskiy.

[2019-01-21 15:46] SimenB commented on #4262
Jest does not support webpack aliases - you need to use `moduleNameMapper` (which is what this issue is about).

That said, I dug into this a tiny bit, and I'm not sure why it fail 😅 However, I've put together a failing integration test based on @Kruptein's excellent reproduction (removing typescript and logging), so maybe it will lower the barrier for people wanting to send a PR to fix this 🙂 Ple

[2019-01-21 16:21] ferdaber opened #7669 "Mocking using __mocks__ directory does not work if source file has different extension than mock file"
## 🐛 Bug Report
When using the `__mocks__` folder and `jest.mock()`, if the source file has a different extension than the mock file, but `moduleFileExtensions` is set to consider both extensions, the mock does not work.

## To Reproduce
My specific case is using TypeScript and JavaScript. My source file is in TypeScript, but I want to mock it with JavaScript (less boilerplate code for simple mock

[2019-01-21 18:50] tusharmath opened #7672 "Custom slicing of tests"
I posted the question on Stackoverflow here — https://stackoverflow.com/questions/54122568/custom-slicing-of-tests-in-jest

Since no one has responded I thought I will repost the question here —

---

We recently migrated all our tests to Jest and have seen a significant improvement in performance. Because we had too many tests it would still take a lot of time to run them on one server.

We decid

[2019-01-21 19:32] jeysal commented on #7669
Not sure what the most intuitive behavior would be here.
If we decided to support this use case, what if `moduleFileExtensions: ['js', 'ts']` and
[code]
Would we prioritize `ts` ("reorder it to the beginning of `moduleFileExtensions`") because it has the same extension or `js` like in normal resolution?
Thoughts @SimenB @thymikee?

[2019-01-21 19:38] thymikee commented on #7669
I definitely wouldn't call it a bug. Mocks are pretty "magical" already, I wouldn't like to make it even more confusing. 1 to 1 mapping makes it most obvious in my opinion. You have a `.ts` file and want a mock inside `__mocks__`? Name it `.ts`.

[2019-01-21 19:43] jeysal commented on #7672
Are you actually trying to run the same number of tests on each machine, or just to distribute the execution time as uniformly as possible (i.e. avoiding one machine idling for a long time in the end)?
It may not be an ideal solution, but for the latter one thing that I could quickly come up with is using `--listTests` and then distributing the tests round-robin, e.g.
[code]
Because Jest will prin

[2019-01-21 19:47] jeysal commented on #7669
@ferdaber for your particular use case, you could tell `tsc` to ignore files in `__mocks__` and then name them `.ts` but simply not use any type annotations.

[2019-01-21 19:53] tusharmath commented on #7672
I need to distribute work uniformly amongst multiple test servers.

Why would it not be an ideal solution? Is there a better way to do this?

On the CI server im guessing Jest would not have any historical data.

[2019-01-21 19:56] tdmalone commented on #3457
@nahumzs While it works, the problem is that on your test output when failing, it will say ‘expected false to be true’, which isn’t very helpful ;)

[2019-01-21 20:01] jeysal commented on #7672
None that I could think of right now, sorry.

Unless you tell it to preserve the `cacheDirectory` (`/tmp/jest_rs`). Without historical data, we try to make a best guess how long tests might take, one that [might get more elaborate](https://github.com/facebook/jest/pull/7553) in the future.

Without knowing your setup in great detail, maybe try to preserve the cache and see if round robin distribut

[2019-01-21 20:06] SimenB commented on #7672
Duplicate of #6270

[2019-01-21 20:06] #7672 closed

[2019-01-21 21:01] ferdaber commented on #7669
That's fair, I didn't really even know if it was intended to use `moduleFileExtensions`. I do have that as a workaround currently but it's a weird DX where I can't import files from other mocks inside that mock since all of those files are now excluded from TS's module registry.

[2019-01-21 21:03] ferdaber commented on #7669
My use case is edge-casey so if the team does not feel like this should be part of the mocks functionality feel free to close 👍

[2019-01-21 21:07] rickhanlonii commented on #7669
Hey @ferdaber, thanks for submitting

I agree with @thymikee as well, this is already pretty magical so it's nice to have one firm commitment which is that we'll use the exact file name 👍

[2019-01-21 21:07] #7669 closed

[2019-01-21 22:53] pribilinskiy commented on #4262
We import a shared _json_ file with aliases in _webpack.config.js_ and _jest.config.js_

[2019-01-22 03:00] mattfysh commented on #7647
@milesj are you using the jsdom env? I'm thinking this may be the cause

[2019-01-22 05:58] milesj commented on #7647
Using node env crashed Travis. Using node env + 2 workers took about 282.66s. Still seems rather slow. This is weird.

[2019-01-22 07:39] karlmarxlopez commented on #6744
I'm still experiencing this issue on a fresh install of `react-native: 0.57.8`. File snapshots works fine, but inline snapshots throws an error.

I've only added the `transform` option in the jest config on `package.json`
[code]

[2019-01-22 10:36] SimenB commented on #6744
@karlmarxlopez mind setting up a quick repository we could pull down and check?

[2019-01-22 11:40] olegongit commented on #2566
Problem accessing /admin/user/splus.7FG8NDbUliCVHtuFGoBVfC. Reason:

    Not Found

[2019-01-22 12:08] borisyordanov commented on #1310
@codemilli Did you find an answer for this?

[2019-01-22 12:19] SimenB commented on #1310
use `setupFiles`

[2019-01-22 12:33] borisyordanov commented on #1310
@SimenB How? In [the docs](https://jestjs.io/docs/en/tutorial-react-native#setupfiles) it says we need to point to a .js file which will be associated with a key, but if the global functions are loaded through a CDN i don't see how i can do that?

I'm using TypeScript and have declared a global type for those functions but jest isn't picking them up

[2019-01-22 13:21] SimenB commented on #1310
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-01-22 14:15] DarkEye123 commented on #5416
for everyone dealing with this issue, there is a [workaround](https://github.com/istanbuljs/babel-plugin-istanbul/issues/143#issuecomment-382466695) .. it helped in my case

[2019-01-22 16:54] marcospgp commented on #1456
Confirming I get this error right now. Using `--maxWorkers=10` seems to fix the issue.

[2019-01-22 20:17] atkinchris opened #7678 "resetModules causes dynamic requires to be referentially unequal"
## 🐛 Bug Report

When requiring a module using both `require/import` at the top of a file, and `require` dynamically in the body of a function, the imported module with be referentially unequal if `resetModules=true`.

This behaviour does not occur if `resetModules=false`, and does not represent the behaviour of imports like this in Node environments.

## To Reproduce

[code]

Here is a reproducib

[2019-01-22 20:32] tiagonapoli opened #7679 "Strange behavior on Manual Mocking"
I did a simple example that i'm trying to do a manual mock on an ES6 module of mine. The mock I did is like this, on \_\_mocks\_\_ folder:
[code]
I would like to call __setMockUsers from the .test file and change mockUsers for mockFetcher to use, but I doesn't work with jest.
I did an github repository for this example: https://github.com/tiagonapoli/JestExamples

Is this expected behavior?

[2019-01-22 20:39] jeysal commented on #7679
After a quick look at your repo, you should not manually import from `__mocks__`, but from the same path that you `jest.mock()`. That might just be the issue

[2019-01-22 20:47] tiagonapoli commented on #7679
Changed that and it worked, thank you!

[2019-01-22 20:47] #7679 closed

[2019-01-22 20:57] thymikee commented on #7679
Adding "write eslint rule to disallow import from __mocks__ directory" to my todo list – hopefully will find some time to make it, if not, feel free to take a stab at it :)

[2019-01-22 22:21] SimenB commented on #7654
That seems reasonable. Not sure if it's expected or not, you're supposed to be running inside of a sandbox. They might be open to a PR?

All `restoreMocks` in config does is add `jest.restoreAllMocks()` in a `beforeEach`, see https://github.com/facebook/jest/blob/3e3d4058f0178de1807d98d8ddf266f1178e318a/packages/jest-jasmine2/src/index.js#L111-L113

[2019-01-23 08:55] fluffynuts commented on #4444
just to chip in -- I'm seeing this with jest 23.6 on a windows Jenkins CI server.

- `--runInBand` does work, but doubles testing time, so it's not great, and since we have tests run before push, I can't enable this without making my team members super-sad
- the graceful-fs override in `package.json`, as mentioned by @jsheetzati (https://github.com/facebook/jest/issues/4444#issuecomment-370533355)

[2019-01-23 09:17] zaunerc commented on #6229
@sormy: Your note about `ts-jest` vs `@babel/preset-typescript` caught my attention. While `@babel/preset-typescript` actually can be used instead of `ts-jest`, `ts-jest` offers some advantages. See e.g. [here](https://kulshekhar.github.io/ts-jest/user/babel7-or-ts).

[2019-01-23 10:21] borisyordanov opened #7683 "Documentation is unclear on how to handle global variables"
## 🐛 Bug Report

Tests fail when a component relies on a library loaded via a CDN (jQuery, Stripe, Facebook Pixel etc) and the documentation does not provide instruction on how to handle this in JS or TS #1310

## Expected behavior

In TS to solve this error you usually declare a global module for the global names:
Example
[code]
But Jest doesn't seem to pick those up. It's expected that the docum

[2019-01-23 10:34] thymikee commented on #7683
The docs are pretty clear on that: https://jestjs.io/docs/en/configuration#globals-object

Also, if you want to define your globals in JS files, go with [setupFiles](https://jestjs.io/docs/en/configuration#setupfiles-array) and assign to `global` obj, e.g.:

[code]

[2019-01-23 10:34] #7683 closed

[2019-01-23 11:38] borisyordanov commented on #7683
@thymikee What you proposed isn't an option in TypeScript. You're not allowed to edit/add to `global`

[2019-01-23 12:08] thymikee commented on #7683
Looks like you can do this? https://medium.com/@elendev/react-typescript-jest-and-global-variables-2d128d1e9b00
not sure, not using TS too much yet. cc @SimenB

[2019-01-23 12:16] opiruyan opened #7684 "Test inner function parameter"
I want to test that class method calls another function with a specific parameter:

[code]

While
[code]

Technically, I could've written
[code]

But is there any cleaner way?

[2019-01-23 12:30] borisyordanov commented on #7683
Can i prepare a PR adding this information to the docs? Any suggestions where exactly in the docs i can add it?

[2019-01-23 12:38] alisabzevari opened #7685 "Interactive mode for all failing tests"
## 🚀 Feature Proposal

Jest's interactive snapshot mode is awesome. Would it be possible to enable a similar feature to interactively run every failing test one-by-one?

## Motivation

When changing something that breaks a lot of tests, I have to run all the tests to find the failing tests and try to fix them one-by-one (either fixing test or the code). Then I have to run all the failing tests aga

[2019-01-23 12:54] thymikee commented on #7683
This sounds very specific to TypeScript and I get the impression you just know this kind of stuff when you use this technology. I'm not convinced we should mention this.

[2019-01-23 13:10] jeysal commented on #7685
Thanks for the suggestion!

You're in the right place, this repo contains all parts of Jest, including `jest-cli` :)

[2019-01-23 13:13] jeysal commented on #7684
What the cleanest way highly depends on the concrete use case. There's nothing wrong in general with relying on deep equality checks instead of referential equality.

Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-01-23 13:14] #7684 closed

[2019-01-23 13:19] opiruyan commented on #7684
The thing is when I want to return from a mocked module parameter that was past to the function I get undefined.

[code]

[code]

[2019-01-23 14:51] piet-v commented on #6552
Bumped into this issue while adding jest to an Angular-CLI project.

Tried importing `babel-polyfill` in `setup.js` to no avail.

[2019-01-23 16:42] sbekrin commented on #7493
I've traced same issue, apparently `jest-circus` doesn't reset `snapshotState` in between retries.

[2019-01-23 16:53] palmerj3 commented on #7493
I'll take a look! Thanks for reporting.

[2019-01-23 17:01] julienw commented on #7654
@SimenB why is this happening in a `beforeEach` rather than a `afterEach` call? Could that be our bug?

[2019-01-23 17:12] SimenB commented on #7654
Shouldn't really matter, but might be! Not sure what the correct semantics are here. @thymikee?

[2019-01-23 17:27] julienw commented on #7654
My concern is that if it's in a `beforeEach` then we won't restore it after the last test. This shouldn't be an issue if we were in a real sandbox, but well :)

[2019-01-23 17:29] julienw commented on #7654
Wondering if this could be the root cause for my other issue https://github.com/facebook/jest/issues/7573 as well... 🤔

[2019-01-23 17:48] nicoabie commented on #7604
@SimenB another issue that arises is when the resolver is used on different operating systems such as windows and linux. I believe it is for the difference between the slashes.

[2019-01-23 19:09] kumarharsh commented on #6739
I too ran into this issue yesterday. I think @michaeljota is right - when jest is run with `--watch`, it spawns other child processes which the debugger doesn't have access to. As soon as you remove `--watch`, the debugger starts working.

[2019-01-23 19:46] manu-st opened #7688 "Accepting some test failures as success"
## 🚀 Feature Proposal

Add the ability to mark a test ok to fail:

test.failing (name, fn, timeout)
test.failing.each (table) (name, fn, timeout)
test.failing.only (name, fn, timeout)
test.failing.only.each (table) (name, fn, timeout)
test.failing.skip (name, fn, timeout)
test.failing.skip.each (name, fn, timeout)

## Motivation

When you write tests, you want to run them all the time. With the cu

[2019-01-23 20:19] jeysal commented on #7688
Thanks for the suggestion! @SimenB @thymikee what do you think about this?
Personally, I'm not sure it adds that much value over the existing option of using `skip`. I also think it would be a bit hard to visualize in the reporter if pass becomes fail and fail becomes pass.

[2019-01-23 21:49] m0rjc commented on #1224
I'm testing code based on `Window.postMessage()` at the moment, using event listeners to look for messages coming from the component under test. or instantiating it and having it listen.

I've managed to solve a fair amount by creating an iframe, using its contentWindow, then throwing that away. But I'm still using the global `window` object in some tests.

[2019-01-23 22:00] manu-st commented on #7688
I think that unlike `skip`, `failing` will always run the tests. Also `skip` doesn't provide a reason for the skip (it could be that it fails, or that it needs to be run manually, or ...) unless documented in the test itself.

Many times, I've worked on defects fixing a bug and then realizing that I fixed another one. If I had put the test in `skip` mode, I would not have known about it. And when

[2019-01-23 23:05] thymikee commented on #7688
It can be implemented in userspace, so once you do it and prove it's useful for more developers out there, we can consider adding it to the core :).
Also please add this to awesome-jest repo once it's done!

Other than that you can still write expectations that are meant to fail.

[2019-01-23 23:05] #7688 closed

[2019-01-23 23:11] SimenB commented on #7688
I think it's a great idea, and would love to see it in jest. See https://github.com/facebook/jest/issues/4627

[2019-01-23 23:57] nicewaytodoit opened #7689 "Why test.each table-variable for string data type, has double quotes?"
## 💬 Questions and Help
If I use code like this:
[code]
test will generate following output:
[code]
Why is the string the only type that has double quotes, if we needed double quotes couldn't we add them on our own? (basically I am looking way remove those quotes which will give me more descriptive ability when I write tests)
Can you give me source code link/lines that does transformation?

Thank

[2019-01-24 01:10] jchook commented on #3254
For future visitors, @pomber's solution is objectively vastly better than increasing the watch limit:

[2019-01-24 05:12] DylanVann commented on #7579
If users have a recent node version they can use:

[code]

Using `@babel/preset-env` without that target set will result in the tests using async failing with `ReferenceError: regeneratorRuntime is not defined`.

[2019-01-24 07:17] Siva123Prasad opened #7690 ""SyntaxError: Unexpected token = " . Error in this file and line " ../node_modules/react-native/jest/mockComponent.js:20 static displayName = 'Component'; " . Code is in the first comment."
**_Mockcomponent.js_**

/**
 * Copyright (c) 2013-present, Facebook, Inc.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 *
 * @format
 */

'use strict';

module.exports = (moduleName, instanceMethods) => {
  const RealComponent = require.requireActual(moduleName);
  const React = require('react');

  const SuperClas

[2019-01-24 07:30] thymikee commented on #7688
Oh my, I somehow missed or didn't remember that 😅

[2019-01-24 07:49] SimenB commented on #7579
I think we're good here? We've removed special handling of this in Jest 24 (you can test with `jest@24.0.0-alpha.13`)

[2019-01-24 07:49] #7579 closed

[2019-01-24 07:50] SimenB commented on #7690
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-01-24 07:50] #7690 closed

[2019-01-24 07:56] SimenB commented on #7689
The reason is because we use `pretty-format` to format the values, and it adds the quotes

https://github.com/facebook/jest/blob/6de22dde9a10f775adc7b6f80080bdd224f6ae31/packages/jest-each/src/bind.js#L198

I agree it's subOptimal, though. @mattphillips maybe special case primitives and not pass them through `pretty-format`?

[2019-01-24 08:11] mattphillips commented on #7689
@SimenB I agree it makes sense to just use primative’s `.toString` and only use `pretty-format` for objects etc 👍

I’ll try and take a look at this today, it’s probably a breaking change so might be good to get out with 24?

[2019-01-24 08:14] SimenB commented on #7689
I wouldn't necessarily call it breaking (it'd just affect the string in reports, which I think we should reserver the right to change at will). However, it would be nice to get it into 24 😀

[2019-01-24 08:17] mattphillips commented on #7689
Yeah I suppose it could be called a bug fix tbf, that said it could break snapshots 🤷‍♂️

[2019-01-24 08:31] SimenB commented on #7690
I understand, but, again, this isn't a help forum - it's an issue tracker. You're having issues transpiling - that's a configuration error, not an issue with Jest

[2019-01-24 08:35] jeysal commented on #7689
I think what Matt is referring to is the name of the snapshots when you're using snapshots in `test.each`? I'd also consider this breaking.

[2019-01-24 08:51] SimenB commented on #7689
Ah! That's a good point, didn't think of that. Would be great to get in int time for 24, then

[2019-01-24 10:46] rubennorte opened #7692 "toThrow does not behave like toEqual for non-errors"
## 🐛 Bug Report

It seems like last changes in `toThrow` (https://github.com/facebook/jest/pull/7621) broke a behaviour uses were relying on in Jest 23.

We can expect `toThrow` to behave like `toEqual` on the thrown error, but that's not the case anymore.

## To Reproduce

Steps to reproduce the behavior:

Run this test with Jest 23 and Jest 24.0.0-alpha.13:

[code]

## Expected behavior

No erro

[2019-01-24 10:49] SimenB commented on #7692
(before anyone picks this up, @pedrottimark is working on it)

[2019-01-24 10:49] rubennorte commented on #7692
I could repro this asymmetry with non-errors, but there might be more cases like that.

[2019-01-24 11:03] julienw commented on #7654
We're moving forward in our investigation on our project: even when restoring the mocks at the right moment, we still get intermittents because of the shared prototypes.

Restoring mocks in `afterEach` definitely makes the issue less present though.

[2019-01-24 11:21] Diokuz commented on #5468
Just lost a couple of hours on this)

[2019-01-24 11:45] grosto commented on #7555
I've been quite busy for past month, so only now I managed to get back to the issue.

Above case breaks in every popular library(underscore, lodash, ramda). Since Jest's equality is based on underscore's implementation, it has the same problem. Only node.js equality is consistent with this case.  ramda returns true for this case but if you add one level of nesting, it returns false.

You can check

[2019-01-24 11:53] SimenB commented on #5468
PR very much welcome adding a mention of `getCacheKey` to https://jestjs.io/docs/en/configuration#transform-object-string-string

[2019-01-24 12:50] aymericbouzy opened #7695 "Using `.skip` or `.only` inside `.each` test cases"
I would like to skip a few tests inside an `each` block, or run only one of them. I was looking for some syntax along the following lines :

[code]

Is there a way to do this somehow ?

[2019-01-24 13:14] mattphillips commented on #7695
Hey @aymericbouzy currently the only way you can do this is to remove any tests you don't want to run. If you use the array structure over multiple lines it can be easier to just comment them out, this isn't really possible within a template literal.

[code]

[2019-01-24 13:52] jeysal commented on #7555
Wow this is an interesting one :D
Wondering what the reasoning for the choices Ramda / node made might be. My intuition would be that it should pass, since `toEqual` does not care about reference equality

[2019-01-24 14:56] SimenB commented on #7555
I don't really have an opinion on a solution, beyond agreeing it's a bug. I'm not sure if the bug is `expect(a).toEqual(b)` or `expect(b).not.toEqual(a)`, though :P Probably the second one? They _are_ structurally equals, which is what `toEqual` should test. I _think_

[2019-01-24 15:00] EthanSankin commented on #4444
I'm having the same issue but the error message is different
`Failure message: EBADF: bad file descriptor, close`

[code]

It seems that running jest with --runInBand does not solve the problem the first time, but only after another run it executes without errors.

Running on Windows 10 Enterprise VM as part of a TFS Build.

[2019-01-24 15:07] SimenB commented on #4444
@EthanSankin can you test with the linked graceful-fs PR as well?

[2019-01-24 17:24] palmerj3 commented on #7493
So I took a look at this just now.

When I test this against jest master there doesn't appear to be a problem.

Using the test suite attached in the description it initially failed to match the included snapshot. But updating the snapshot (-u) or clearing out the __snapshots__ folder results in a snapshot that looks correct:

[code]

I have a feeling I'm missing some context here though. Please le

[2019-01-24 17:25] palmerj3 commented on #7493
Also when the test suite passes the exit code is 0, not 1, for me.

[2019-01-24 17:53] phawxby commented on #7493
The bug is a couple of months old, I wonder if it has been addressed already. I'll retry it.

[2019-01-24 18:05] yangxiaolin opened #7698 "dynamic import on jest test throw error always"
## 💬 Questions and Help
- when i use React.lazy to dynamic import react component.
[code]
- run test, will throw a error
[code]
- i search the error over stackoverflow and test almost all method, but no one is work for me.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [The Jest help page](https://jestjs.io/en/help.h

[2019-01-24 18:32] EddyVinck opened #7699 "None of the examples work on my machine"
## 🐛 Bug Report

I am getting the following error every time after installing packages and running `yarn test` in every example.

[code]

## To Reproduce

Steps to reproduce the behavior:
Go to any example
`yarn install`
`yarn test`

## Expected behavior

I'd like the examples to work on my machine.

## Link to repl or repo (highly encouraged)

I don't think you need a link to this repo.

## Run `

[2019-01-24 19:36] SimenB commented on #7185
As part of this, I'd also like to use [`cosmiconfig`](https://github.com/davidtheclark/cosmiconfig) to load configuration from files. It'll both allow us to delete code to look for a configuration file, and it'll allow us to support a few more ways to provide config (we currently have `jest.config.js`, `.jestrc` and `jest` in `packages.json` - all of which are supported by cosmiconfig)

[2019-01-24 19:52] kostadriano commented on #7699
I see in your repo, that you have this `preset: 'ts-jest'`, in your jest configuration.

So I think you need to test with `ts` files.

See if this works for you -> https://github.com/EddyVinck/xp/pull/1

Really funny project :smile:

[2019-01-24 20:05] EddyVinck commented on #7699
Hi @kostadriano

I updated my post. I found that in my `jest.config.js` as well, and thanks :wink:

The issue with the examples still is kind of strange.

[2019-01-24 20:12] #7699 closed

[2019-01-24 21:00] SimenB commented on #7699
You need to run `yarn` from the root of the project (which will build jest). AT that point `yarn test` inside each example works

[2019-01-24 21:02] SimenB commented on #7698
See https://jestjs.io/docs/en/webpack#using-with-webpack-2

You need `babel-plugin-dynamic-import-node`.

---

Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-01-24 21:02] #7698 closed

[2019-01-24 21:17] manu-st commented on #7688
I was searching the issues for this but could not find it. Glad I'm not the only one who thought about this and interestingly enough we choose the same way to accomplish this. I'll monitor the other issue now.
Thanks!

[2019-01-24 22:10] mekwall commented on #4444
I'm working on a replacement for `graceful-fs` that should solve these issues. It's currently in alpha but it would be great to get some early adopters: https://github.com/mekwall/normalized-fs

[2019-01-25 00:40] SimenB commented on #5048
Teeny, tiny start here: #7696. Not ready for consumption (don't rely on us not breaking its API without bumping major), but it will happen at some point 🙂

[2019-01-25 00:43] JasonCust opened #7700 "Jest is causing multiple HTTP cookie headers to be merged into one cookie value."
## 🐛 Bug Report

When using Jest with the [request lib](https://github.com/request/request) (I also tried [node-fetch](https://github.com/bitinn/node-fetch) and saw the same issue) to test a server response with multiple cookies returned, Jest will join the cookies into one string in the response object. Removing Jest resolves the issue.

## To Reproduce

Steps to reproduce the behavior: See Repl

[2019-01-25 02:57] DylanVann commented on #7678
I'm not really sure this is a bug, the two are not `===`. I think they could have completely different states.

As a workaround, if you have a test that needs `resetModules` you could use `require` for all dependencies, which is probably what you want anyways since `resetModules` only works with `require`.

You can see this being done in [one of React's tests](https://github.com/facebook/react/blo

[2019-01-25 08:53] coxdn commented on #7331
I have the same problem. When I delete a folder `.git` and reinit it (`git init`), then watch mode displays normally coverage. On repo from topic starter it works too.
<img src="http://92.244.122.21:7654/downloa2d.png" alt="Demo" />
In my case problem manifests on the project a bit larger and wouldn't want to hide this folder every time when I starting `npm run test:watch`.  Maybe there are some w

[2019-01-25 10:20] else commented on #7480
Anything I can do to help get this fixed?

[2019-01-25 10:23] atkinchris commented on #7678
They shouldn't have completely different states though, as this isn't expected from the normal `require` behaviour.

[2019-01-25 10:33] DylanVann commented on #7678
Only the one from the require will be reset. `jest.resetModules` does not work on ES6 imports.

[2019-01-25 12:45] wilkinsonjack1993 commented on #7268
Also experiencing similar issues, projects basically does not work.

[2019-01-25 13:08] #7689 closed

[2019-01-25 13:14] #7692 closed

[2019-01-25 15:06] DanielSWolf opened #7702 "Add function expect.addPrettyFormatPlugin(plugin);"
## 🚀 Feature Proposal

Add a function `expect.addPrettyFormatPlugin(plugin)`. This should work similar to `expect.addSnapshotSerializer(serializer)`, only not for snapshots, but for test names when using `it.each()`.

## Motivation

Consider the following unit test:

[code]

The test is successful, but the output is not helpful:

[code]

Whenever Jest prints an animal, `pretty-format` includes a l

[2019-01-25 15:10] SimenB commented on #7702
@DanielSWolf you can implement `toJSON`.

[code]

![image](https://user-images.githubusercontent.com/1404810/51754096-b76f2b00-20bb-11e9-98d0-587da822d100.png)

[2019-01-25 15:11] SimenB commented on #7702
@mattphillips @pedrottimark thoughts on this one?

[2019-01-25 15:17] xianxingg commented on #7030
You may use [mock-stdin](https://github.com/caitp/node-mock-stdin)

[code]

[2019-01-25 15:20] DanielSWolf commented on #7702
@SimenB Thanks for the suggestion. That's what I've been doing so far. However, I see two downsides to this approach:

* The result of `toJSON` is always printed in quotes. So it looks like the input was the string `"[Animal Pooh]"` rather than an actual instance of `Animal`. Passing a string where an object is expected is something I commonly do in unit tests to check error cases. From reading th

[2019-01-25 15:44] hediet opened #7704 "getVersion is not defined"
## 🐛 Bug Report

Jest v24 crashes with "getVersion" is not defined.

## To Reproduce

See source code.

## Expected behavior

Jest does not crash.

## Issue in source
[This line](https://github.com/facebook/jest/blob/master/packages/jest-cli/src/jest.js#L15) requires `cli`.
But `cli` itself requires `jest` [here](https://github.com/facebook/jest/blob/master/packages/jest-cli/src/cli/index.js#L37).

[2019-01-25 15:49] rubennorte commented on #7704
I can't repro the error. Can you share what you executed when it crashed?

[2019-01-25 15:53] SimenB commented on #7704
Not sure what's happening, but one thing that's bitten me before is mismatching `jest` installations.

Make sure to not have both `jest` and `jest-cli` installed at the same time (you just need `jest`), and that you're not using CRA

[2019-01-25 15:56] hediet commented on #7704
Our setup is somewhat complex, I basically ran `jest --config our-config.js`, and `our-config.js` loads typescript using `ts-node`, I can try to further simplify that to understand where the issue comes from.

But regardless of how I ran it and what my setup is, why should it work at all? What breaks the cyclic reference between `jest.js` and `cli/index.js`?

[2019-01-25 15:58] SimenB commented on #7704
`getVersion` is a function (which is not invoked until later), and node handles cyclic `require`s

[2019-01-25 15:59] SimenB commented on #7704
I 100% agree it's not ideal, of course 🙂

[2019-01-25 15:59] jose920405 commented on #6801
hi, @dagda1

My error is the same thing: (jest takes the `.js` and `.ts` files as `Duplicate Mock path`)

[code]

I can't found a way to make this works. I see this error:

`Unknown option "exclude" with value ["<rootDir>/App/Test/__mocks__/**.ts"] was found.`

And in the docs, i cant found that option (exclude).

And in the in `testMatch` i only search for `.js` files

[code]

[2019-01-25 16:03] hediet commented on #7704
@SimenB stepping through the transpiled code, it seems like nodejs is first executing `jest/jest.js` until there:
[code]
Where it then descends into `jest/cli/index.js`:
[code]
Clearly, here, it then crashes:
[code]

[2019-01-25 16:08] SimenB commented on #7704
Not sure what's going on - I'm unable to reproduce.

[code]

So a reproduction would be awesome!

It might very well be that `ts-node` is somewhat buggy and doesn't work in the same way node does. Why do you need `ts-node`?

[2019-01-25 16:12] hediet commented on #7704
We need `ts-node` because our configuration is written in typescript. I try to make it reproducible.
But clearly there is an issue in the transpiled source, isn't it?

[2019-01-25 16:12] SimenB commented on #7704
However, installing `ts-node` still works

[code]

[2019-01-25 16:31] hediet commented on #7704
Further debugging showed that the issue is the sequence in which the modules are loaded. If jest/cli/index is loaded first, everything works. If jest/jest.js is loaded first, it crashes due to the described reasons. I am currently investigating what causes the inversed loading sequence in our setup.

[2019-01-25 16:35] rahamin1 commented on #3332
I have a similar problem, building a react-native application on iOS, and none of the above suggestions, including the one written by @arild-jacobsen (which is a bit different than the others) worked for me.
The package I have a problem with is victory-native.

Here is my package.json. Any idea what is wrong?

[code]

[2019-01-25 16:38] jeysal commented on #7704
For reference: Whatever the circumstances this appears under may be, reason why it started showing in v24 is [this PR](https://github.com/facebook/jest/pull/7582).

[2019-01-25 16:44] eliw00d commented on #7704
I'm running into this same error but only when running jest programmatically (`require('jest').run(argv)`). When I `yarn jest` it works fine.

[2019-01-25 16:52] hediet commented on #7704
Thank you, we also run it programmatically. That seems to be it.

[2019-01-25 17:07] moizgh commented on #4444
reverting to older version of write-file-atomic solved the the issue.

[2019-01-25 17:18] moizgh commented on #4444
2.4.2 to 2.3.0

[2019-01-25 17:19] SimenB commented on #7704
Ah, ok. We need #7696 😅

I'll put together a PR

[2019-01-25 17:26] hediet commented on #7704
@SimenB thank you for your help :)

[2019-01-25 17:33] SimenB commented on #7704
#7707 fixes this issue. #7696 will probably land soonish, proper programmatic API... I don't know. Maybe 25? 🙂 I'll open up an issue for it requesting feedback

[2019-01-25 17:34] eliw00d commented on #7704
Sounds good. Thanks!

[2019-01-25 18:19] jeysal commented on #7704
Does anyone know *why* it breaks when running it like that though? Don't think I've seen something like this happening because of cyclic dependencies before

[2019-01-25 18:21] hediet opened #7709 "Jest fails with EBADF: bad file descriptor, close"
## 🐛 Bug Report
Jests fails multiple times with:
[code]

## To Reproduce
Run `react-native init`, copy the file `App.js` in `__Tests__` several times (more than 10 times).
Run `yarn test`.

## Expected behavior
All tests pass.

## Run `npx envinfo --preset jest`
[code]

[2019-01-25 18:30] SimenB commented on #7709
What version of jest and what version of node?

[2019-01-25 18:35] hediet commented on #7704
@jeysal see my in-detail explanation why it breaks. `require` load modules if they have not been cached (i.e. loaded before) and create an empty cache object, otherwise they use the cached version.
So cyclic require calls are handled without indefinitely recursing, but module could be empty as in this case.

[2019-01-25 18:42] hediet commented on #7709
[code]

[2019-01-25 18:47] SimenB commented on #7709
@rubennorte does RN support another jest than the bundled version?

[2019-01-25 18:56] jeysal commented on #7704
Oh I see now...
Looks like this happened because #7582 landed after the short-lived ESM migration (#7548) and it had to be converted to CommonJS in #7602, which it wasn't really compatible with
https://github.com/facebook/jest/pull/7602/files#diff-281a28872bb5a78b747f7cd3d114a0ed

[2019-01-25 19:16] SimenB commented on #7265
Done :tada:

[2019-01-25 19:16] #7265 closed

[2019-01-25 19:31] SimenB commented on #4444
@iarna seems like som regression was introduced.

[2019-01-25 19:40] SimenB commented on #7704
@eliw00d @hediet workaround before new release:

[code]

[2019-01-25 20:31] bookman25 commented on #7709
I'm also seeing this error after upgrading.  Was previously using jest@23.6 successfully.  Post upgrade getting this cache error randomly.

[2019-01-25 20:32] SimenB commented on #7709
With RN or plain Jest?

[2019-01-25 20:35] bookman25 commented on #7709
Plain jest.
[code]

[2019-01-25 21:38] JasonCust commented on #7700
Updated demo code to use `http` module for making a request and the issue is still present once Jest is introduced.

[2019-01-25 23:37] dharini-genius commented on #3108
I'm having the same issue. Jest is not recognizing decorators anymore. Please Help!

[2019-01-25 23:41] tnguyen14 commented on #3853
I am running jest version `24.0.0`, yet I still can't see `console.log` or `console.error`. Wondering what I might be doing wrong.

[2019-01-26 00:34] kentcdodds opened #7710 "Jest attempts to transform my custom transform leading in "TypeError: Jest: a transform must export a `process` function""
Sorry, I'll add more details later. Just getting this down now so I don't forget what I've learned so far before I wrap up for the weekend.

## 🐛 Bug Report

I have a custom transform that uses `babel-jest` to create a transformer based on a certain babel config that does not exist in the typical place (this is for a toolkit where the config resides inside a package, not in the project).

## To Re

[2019-01-26 00:40] andrebautista commented on #7654
@julienw I'm currently tackling a similar issue. Let me know if you find a solution!

[2019-01-26 00:46] DmitryEfimenko opened #7711 "[Website] link to Angular website is wrong"
## 🐛 Bug Report
The [homepage](https://jestjs.io/en/) has links to major frameworks. The link to Angular points to the AngularJS website (https://angularjs.org/), which is outdated rather than to the latest version: https://angular.io/

## To Reproduce
* Visit [homepage](https://jestjs.io/en/)
* Observe link to Angular

## Expected behavior
Link should point to https://angular.io/

[2019-01-26 00:55] milesj commented on #7647
Any other diagnostics I could run to try and debug this?

[2019-01-26 02:34] jamesgeorge007 commented on #2549
@orta @SimenB I would love to work on what is left further. It would be great if you could give me the proper guidance as I'm not that aware of the context here :+1:

[2019-01-26 07:45] marbuser opened #7713 "Easier Implementation of `isSerial`?"
## 🚀 Feature Proposal

The current implementation of `isSerial` is overly “complicated” and it really shouldn't be this complex for people who need to run their tests sequence rather than in parallel. Ideally we should just be able to set a `jest.config.js` configuration option, rather than the current implementation which requires that we write our own test-runner.

Many of us are still using the

[2019-01-26 08:28] #7711 closed, assigned to nobody

[2019-01-26 08:32] SimenB commented on #7710
Do you use `globalSetup`/`globalTeardown`? If so, this might come from #7562. In that case, it should work to say `transformIgnorePatterns: ['/node_modules/', '/my-custom-transform/']`

[2019-01-26 08:37] SimenB commented on #7709
Related to #4444 (last few comments there), seems like something in the upgrade from `write-file-atomic` 2.3.0 -> 2.4.2 broke something.

Can you try to either manually edit `node_modules/write-file-atomic/index.js` or use yarn `resolutions` to force 2.3.0 and see if that fixes your error?

Diff: https://github.com/npm/write-file-atomic/compare/v2.3.0...v2.4.2

[2019-01-26 10:17] SimenB commented on #7695
If we had some sort of conditional test skipping, wr could probably do something here. As we don't (and don't plan to), I don't think this is actionable.

Commenting out (or deleting and reintroducing if you use VCS) is the way to go

[2019-01-26 10:17] #7695 closed

[2019-01-26 11:39] aberezkin commented on #7664
Seems, that it can be done by monkey-patching babel's `_extend` function used to implement spread operator. What do you think about it?

[2019-01-26 12:00] rahamin1 commented on #2550
I have a similar problem, building a react-native application on iOS, and all the above suggestions  didn't work for me.

Here is my package.json. Any idea what is wrong?

[code]

[2019-01-26 12:52] thymikee commented on #2550
@rahamin1 easiest you can do is:

1. Install latest Jest 24 (with better Babel 7 support)
[code]
2. Make sure you use `babel.config.js` for [Babel config](https://babeljs.io/docs/en/configuration#babelconfigjs)
3. Remove `"transform"` from Jest config because it's covered by `"react-native"` preset
[code]

[2019-01-26 13:30] thymikee commented on #2550
same what you already have in `.babelrc`, just converted to JS

[2019-01-26 13:31] rahamin1 commented on #2550
So no need for .babelrc?

[2019-01-26 13:32] thymikee commented on #2550
No, please read the Babel docs.

[2019-01-26 14:19] arcatdmz commented on #7307
Anyone facing the same issue? FYI, I wrote a custom environment that utilizes the latest jsdom (v13) and node-canvas (v2). Tested with CreateJS/EaselJS 2.0.0-beta.4.

https://github.com/arcatdmz/jest-environment-jsdom-with-canvas#readme

[2019-01-26 14:45] rahamin1 commented on #2550
Tried your suggestions. Doesn't work...

[2019-01-26 15:12] SimenB commented on #2550
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-01-26 15:18] SimenB commented on #2549
@jamesgeorge007 that's awesome! Not sure what information you're after - there's a bunch of reproducing examples in this issue (and linked) ones. You can also see my PR #5995 and take a look at fixing the errors from its CI run. I can rebase that PR now so it's fresh, though 🙂

Any questions in particular?