[2017-10-30 20:52] OverseePublic opened #4805 "Goog is not defined"
Hi, I recently updated mocha tests to jest tests, and the jest can run without any problem, but the issue I'm having is the `goog` object from another module.

With mocha, it's not a problem to access this `goog` object, but for some reason when I run it with jest, it is undefined.

I believe this has something to do with how jest runs, so any pointer or help would be appreciated.

P.S when I run

[2017-10-30 22:13] mericsson commented on #3419
Seeing this too when trying to use [le_node](https://github.com/rapid7/le_node) which uses [codependency](https://github.com/Wizcorp/codependency/) to optionally require different `winston` versions. Will update if I get a reproducible sample I can share.

[2017-10-31 00:49] Raathigesh opened #4806 "Test Runner UI in Electron"
I was trying build a UI with electron for Jest which would display the current test progress. This would be really helpful when your test suit grows large.  I'm inspired by how Webstrom from JetBrains integrates Jest and show a **real time** view of the test progress.

I was doing a bit of research to see how I can gather real-time feedback from the jest runner so I can reflect that in the UI and

[2017-10-31 03:24] kailashyogeshwar85 opened #4807 "Node Module using require statement gives resolve error"
**Do you want to request a *feature* or report a *bug*?**
   bug
**What is the current behavior?**
  When using typescript written modules for writing unit test cases if any of the node module creates a child process using require statement and taking the path of script as argument it fails to find the module as it will find the module with ts extension at specified path and not js so it fails to

[2017-10-31 04:24] Soyn commented on #3108
@tabrindle  anyone fix this issue? I use webpack-babel-jest fix decorators problem, but another problem arised!  ===> "ReferenceError: regeneratorRuntime is not defined"
It looks like it needs to use regenerator-runtime dependency.

[2017-10-31 04:32] Soyn opened #4808 "[Help Wanted] Decorators in jest not support"
I use decorators in my project, but it seems the babel-jest do not support this new experiment feature
I find some support from #3108  ===> replace babel-jest with webpack-babel-jest, it fix the problem. But a new problem comes in when i run `npm run test`  ==> "ReferenceError: regeneratorRuntime is not defined"
It seems we need `regenerator-runtime`. I can't fix a way to do this. Anyone can help

[2017-10-31 06:44] SimenB commented on #4808
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-10-31 06:44] #4808 closed

[2017-10-31 06:45] SimenB commented on #4807
Could you create a repo we can clone?

[2017-10-31 06:49] SimenB commented on #4806
You can add a `testResultsProcessor` which is called as results come in.

https://facebook.github.io/jest/docs/en/configuration.html#testresultsprocessor-string

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-10-31 06:49] #4806 closed

[2017-10-31 06:57] SimenB commented on #4805
Have you tried using node test environment?

[2017-10-31 07:26] kailashyogeshwar85 commented on #4807
Hi Simen,

We can't share our code as it is strictly not allowed.

[2017-10-31 07:38] SimenB commented on #4807
Sure, but can you create a minimal reproduction in a repository following your own repro steps? I've never installed typescript before (or even heard of `relieve`), so if I get a project I can just `npm install && npm test` to see the error, that'd be great

[2017-10-31 07:40] kailashyogeshwar85 commented on #4807
Sure.
We will create a dummy project which will have a child process and uses typescript and share it over here ASAP

[2017-10-31 08:48] cpojer commented on #4805
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-10-31 08:48] #4805 closed

[2017-10-31 09:02] cpojer commented on #4806
@Raathigesh thanks for posting here. It's awesome you are trying to do this, and something that I've been wanting for a long time. What's the best way to communicate and stay up to date on this project? I'm extremely supportive and think this needs to be built. Please feel free to send me more info over email, to cpojer@fb.com

I would definitely recommend you to use jest-editor-support as a base

[2017-10-31 09:28] Raathigesh commented on #4806
Wow! This is extremely encouraging! Thank you! I will get in touch with you as soon as I have something tangible :)

I'll look into jest-editor-support and go from there.

I'm really into UI based dev tools and Jest + Electron-based UI would make things really handy. Excited for this undertaking!

Again, thank @cpojer for taking the time to reply!

[2017-10-31 09:52] mauron85 commented on #2234
Extending Date with ES6 class extends cannot be used because Date seems not to be standard js object.
When you try to extend Date with `class extend Date` then calling date prototype methods will end up with TypeError: " Method Date.prototype.toISOString called on incompatible receiver [object Object]"

Instead I took inspiration from https://stackoverflow.com/a/44229988/3896616 and come out with

[2017-10-31 12:13] orta commented on #4806
A custom test results processor with jest-editor-support could definitely get you real-time feedback in your editor ( I never thought of this mix - thanks @SimenB )

jest-editor-support should give you enough tools to build [a good chunk of features](https://github.com/orta/vscode-jest)

[2017-10-31 12:19] WickyNilliams opened #4809 "Reinstate typeahead for filtering"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Typeahead for test filtering was removed. Apparently due to re-licensing jest (see: https://github.com/facebook/jest/issues/4561). The reasoning for this wasn't explained very well (at all!). Is there something stopping it being re-added e.g. using a different library if there are license conflic

[2017-10-31 13:36] EYHN commented on #4784
Thank you, but I still do not know how to solve this problem.

In the simplest configuration it still does not work well( babel and code coverage ).

.babelrc
[code]

jest.json
[code]

[2017-10-31 13:40] WickyNilliams commented on #4723
Closing, since @jack-lewin's PR has been merged. Thanks again!

[2017-10-31 13:40] #4723 closed

[2017-10-31 13:46] WickyNilliams commented on #4177
What are the project maintainer's thoughts on this idea? Could maybe submit a PR if you're open to it.

[2017-10-31 13:47] WickyNilliams commented on #4177
Accidentally closed. To the maintainers: what are your thoughts on this?

[2017-10-31 13:47] gagarin55 commented on #3698
@eric-burel , this is solution and forget about this hell:
[code]

[2017-10-31 13:48] cpojer commented on #4177
This is going to be part of the next Jest release with a new function called `mockName`.

[2017-10-31 13:48] #4177 closed

[2017-10-31 13:52] WickyNilliams commented on #4177
Cool! The API would look like this: `jest.fn().mockName("foo")`?

[2017-10-31 14:58] drpicox commented on #2234
https://jasmine.github.io/2.2/introduction?spec=jasmine.any#section-Mocking_the_Date

[code]

[2017-10-31 14:59] tszajna0 commented on #1824
Try:

    const Sfc = (props) => <div>{props.text}</div>;
    Sfc.displayName = 'SfcWithAName';
    export default Sfc;

[2017-10-31 15:15] niieani commented on #2234
@drpicox that's a nice solution, however AFAIK it doesn't mock `performance.now()`, which is a useful, forward-only clock (i.e. won't be set back by user changing his system's DateTime).

[2017-10-31 16:01] drpicox commented on #2234
In fact it does not work in Jest. Jest uses Jasmine v1.5.2-lite, so it has no clock. I am using `lolex`.

`Date.now()` is good enough for most applications, `permofrmance.now()` it is not present in node yet —cannot be used in SSR for example—, so it does not seems to be a big deal.

[2017-10-31 16:05] dyst5422 commented on #3155
@cpojer Yes, this case where ALL tests are skipped is the one I'm interested in.

For now, I can put in a dummy list of tests (I mean really I'm not overly offended by the test failure when it notes that it was because of no tests, so I might skip actually going that).

I do think that this error message might better belong in the `jest-runner` as it seems more of a "feature" of the `jest-runner`

[2017-10-31 16:13] cpojer commented on #3155
The reason this exists is that we had product developers put product code into test files, so we added this error to prevent people from doing it. I think for now the dummy result makes sense.

[2017-10-31 16:18] dyst5422 commented on #3155
I have no idea how it would come about that they would put product code into the test files, but I'm probably just not being imaginative enough. In any case, the dummy result is fine if this error is serving other needs.

[2017-10-31 16:19] niieani commented on #2234
@drpicox ah, good to know it doesn't work then.
`performance.now()` is present in node, since v8.5.0 I believe. You can import `performance` from the builtin module `'perf_hooks'`.

Still, given the current situation and the number of votes/comments this is getting, I would like to ping @cpojer to consider re-opening this issue.

[2017-10-31 16:20] DarrylD commented on #3108
@Soyn I moved to https://github.com/timarney/react-app-rewired

Well worth it.

[2017-10-31 17:08] yesmeck opened #4811 "Run specific tests by file line number"
**Do you want to request a *feature* or report a *bug*?**

Feature.

**What is the current behavior?**

Jest can run specific tests on the cli through `-t` option at present.

**What is the expected behavior?**

It would be super handy if jest can run specific tests by file line number [like RSpec do](https://relishapp.com/rspec/rspec-core/v/3-7/docs/command-line/line-number-appended-to-file-path)

[2017-10-31 19:00] SimenB commented on #2234
FWIW I'd love to integrate lolex - it's the only library I use where I think Jest is missing a battery

[2017-10-31 19:08] SimenB commented on #4177
Yes.

https://facebook.github.io/jest/docs/en/mock-functions.html#mock-names

[2017-10-31 19:46] jtulk commented on #4710
@SimenB Deeper digging is making me think this is actually related to https://github.com/facebook/jest/issues/2605 for me. As far as I can tell the error is thrown when using the New Relic node library: https://github.com/newrelic/node-newrelic

[2017-10-31 21:06] OverseePublic opened #4813 "It() or test()"
Hi, our team is migrating from mocha to jest. We are wondering if staying with it() calls are ok.

If not, could you tell us the advantages of using test() along with disadvantages of using it()?

Thanks

[2017-10-31 21:14] jackmarketon commented on #4813
http://facebook.github.io/jest/docs/en/api.html#testname-fn

`test()` is just an alias for `it()`

[2017-10-31 21:39] adambergere commented on #4763
i'm having a similar issue with Jest. Is there a place to check how it's choosing which files to ignore?

[2017-10-31 21:45] timgivois commented on #2663
I was having issues with a `svg` file. I realized I could mock it with `identity-obj-proxy`:

[code]

[2017-10-31 21:46] OverseePublic commented on #4813
Thanks.

[2017-10-31 21:46] #4813 closed

[2017-11-01 03:53] eliw00d opened #4814 "Running Jest programmatically in dependent projects"
I have a Node project A that has a number of scripts that can be run as tasks via `my-scripts <task>`. This project has Jest as a dependency and one of the scripts, `my-scripts test` calls `jest.run`. This is all handled by a `my-scripts.js` that is set as bin in the package.json that takes the third argument as the script name and anything after that as arguments.

I have another Node project B t

[2017-11-01 04:53] jeduden opened #4815 "Bug: Jest Test hangs when socket.io 2 client tries to connect to server"
**What is the current behavior?**

Initiate a socket.io/engine.io server listening on a port and have a client trying to connect to the port.
The test hangs and fails with timeout.

Minimal repo to reproduce the issue:
https://github.com/jeduden/jest-issue

The repo also shows that:
- Jasmine 2.8 doesn't have the issue
- Jest 21 doesn't the issue with an older version of Socket.IO 1.3.7

**What is

[2017-11-01 05:51] SimenB commented on #4763
If you do `jest path/to/file.js` it will usually print why it's ignored

[2017-11-01 06:03] SimenB commented on #3576
You're supposed to unwrap the promises so a rejection bubble up. What sort of code are you having issues with

[2017-11-01 06:21] SimenB commented on #4811
Interesting. We'd have to look at the file and somehow extract the name before parsing it as babel probably adds lines. An issue is how to match on an `it` inside of a `describe`. Getting the full name without parsing seems non-trivial.

If you can make it work without lots of complexity I'd be supportive, but this probably needs to come from the community

[2017-11-01 08:47] cpojer commented on #4814
I *think* this isn't a bug but with the limited information you provided that's hard to tell. Jest infers the existence of `babel-jest` by looking at the closest `node_modules` and whether it has a babel-jest folder. You can always manually define the above configuration for both projects also.

[2017-11-01 08:47] #4814 closed

[2017-11-01 09:12] silverlight513 commented on #4710
I'm not so sure, the only modules I was using were supertest, superagent and express when I was running into the errors. I think the problem we've been experiencing is probably something to do with how jest handles async bugs in code. Some of bugs those bugs could come from other modules like node-newrelic and iconv-lite.

Even if it does come down to purely an issue with other modules, Jest shoul

[2017-11-01 09:35] gkatsanos commented on #3576
I made it work but I had to use https://www.npmjs.com/package/flush-promises .
Do you mind if I link my test in question directly from my repo? https://github.com/gkatsanos/voting/blob/master/src/store/__tests__/actions.spec.js

[2017-11-01 11:18] SimenB commented on #4710
I think the issue is that we return `null` from the test environment if it's been GC-ed instead of throwing a more explicit error.

Can send a PR for what I think will be a better error, but it would be great if we could get a reproduction to test it on

[2017-11-01 11:19] SimenB commented on #3576
If you just return the promises from your actions, you can await them. Seems way easier.

Not sure which part you think is verbose?

[2017-11-01 11:29] gkatsanos commented on #3576
Indeed, I figured that out afterwards. Thank you!

[2017-11-01 14:44] JoshuaVSherman opened #4816 "debugging documentation needs to be updated"
http://facebook.github.io/jest/docs/en/troubleshooting.html

this instructs to use the node-inspector, but that is no longer the way to debug
https://nodejs.org/en/docs/inspector/

please update the documentation, thank you

[2017-11-01 14:50] benweissmann commented on #4524
I also just ran into this error after upgrading to Jest 21. It was similarly an issue where one of my moduleNameMappers pointed to a non-existant file.

[2017-11-01 15:12] FezVrasta opened #4817 "Enable `pretendToBeVisual` in jsdom environment?"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Right now JSDOM doesn't run with the `pretendToBeVisual` flag enabled, this means that `requestAnimationFrame` and `cancelAnimationFrame` aren't available if you don't polyfill them.

**What is the expected behavior?**
Jest should set `pretendToBeVisual` to `true` to make the test environment close

[2017-11-01 16:03] SimenB commented on #4817
Jsdom with the option is not released yet - we will update and add the flag whenever it's out

[2017-11-01 16:03] #4817 closed

[2017-11-01 16:05] SimenB commented on #4817
Jsdom in jest polyfills them both, btw. Install `jest@test`

[2017-11-01 16:05] FezVrasta commented on #4817
I thought an issue would have helped to track the effort. Nevermind 🙃

[2017-11-01 16:06] SimenB commented on #4817
No worries!

[2017-11-01 17:05] thymikee commented on #4816
How about sending a PR with a fix? :)

[2017-11-01 17:29] TejasQ commented on #4816
@thymikee, you mean like [this](https://github.com/facebook/jest/pull/4818)? 😄

[2017-11-01 18:11] yuit opened #4819 "Website Doc: Link to MockFunction is incorrect"
Thank you for the product and awesome document!. Just small issue I ran into while browsing the website. The link to `MockFunction` in this [page](https://facebook.github.io/jest/docs/en/jest-object.html#jestfnimplementation)  The `MockFunction` is linked to https://facebook.github.io/jest/docs/en/MockFunctionAPI.html but it should be link to https://facebook.github.io/jest/docs/en/mock-functions.

[2017-11-01 20:16] SimenB commented on #4819
Can you send a PR to fix it?

[2017-11-01 21:12] yuit commented on #4819
@SimenB  sure is is just an update in the doc folder ? -> seems like it is will just go ahead and do that

[2017-11-01 21:14] SimenB commented on #4819
yup!

[2017-11-01 21:56] felipeochoa opened #4820 "testNamePattern runs beforeAll/afterAll in excluded suites"
Given a test file with the following contents:

[code]

running `jest -t abc` runs the `beforeAll` callback in the `def` suite. The failure is reported under `def › does not run def` (though the summary at the bottom says "1 skipped, 1 passed, 2 total")

I would have expected the beforeAll function not to have run.

[felipeochoa/jest-bug-demo](https://github.com/felipeochoa/jest-bug-demo)  is a ba

[2017-11-01 22:09] rogeliog commented on #4820
Hi! Thanks for reporting, I'm also able to reproduce it

[2017-11-01 22:11] rogeliog commented on #4820
Seems like a duplicate of https://github.com/facebook/jest/issues/4487 right?

[2017-11-01 22:12] rogeliog commented on #4820
cc: @aaronabramov

[2017-11-01 22:19] rogeliog commented on #4632
I'm also having some trouble reproducing it

[2017-11-01 22:47] JoshuaVSherman commented on #4816
I'll do it tomorrow

On Nov 1, 2017 1:05 PM, "Michał Pierzchała" <notifications@github.com>
wrote:

[2017-11-02 03:18] kailashyogeshwar85 commented on #936
When we write mock function of a user-defined module which is written in typescript and when we call the mock function is the original function covered in coverage report because we are calling the mocked version of the function.

[2017-11-02 08:33] sveisvei opened #4823 "Jest.mock() hoisting is not working"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`jest.mock()` should be hoisted, but now must be called before require.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**
* call `jes

[2017-11-02 08:40] #4816 closed

[2017-11-02 08:41] #4819 closed

[2017-11-02 08:45] cpojer commented on #4823
It seems that babel-jest is not loaded properly in your environment. If you are not using babel-jest, please load `babel-plugin-jest-hoist` in your custom transformer.

[2017-11-02 08:45] #4823 closed

[2017-11-02 08:48] cpojer commented on #4811
Will close this as we aren't planning on tracking this work right now.

[2017-11-02 08:48] #4811 closed

[2017-11-02 08:49] cpojer commented on #4815
If this is a problem with a newer version of a library, then it is unlikely an issue with Jest. Closing here.

[2017-11-02 08:49] #4815 closed

[2017-11-02 08:56] cpojer opened #4824 "Pluggable Watch Mode"
We can make watch mode pluggable and extendable Jest to add features into it by pressing certain keys.

The proposal for this API is:

* Add `watchPlugins: Array<string>` to the config. It's an array of module names to load as plugins.
* Load the plugins when watch mode is started.
* As a start, every plugin should export three things:
  * `key: number` which is the key to be pressed in the main v

[2017-11-02 09:10] cpojer commented on #4809
I started an issue to keep track of what it would take to make Jest's watch mode pluggable for all sorts of features: https://github.com/facebook/jest/issues/4824

[2017-11-02 09:10] #4809 closed

[2017-11-02 09:55] WickyNilliams commented on #4809
That's good to hear. Thanks! But I guess I'm still confused _why_ it was removed. Proprietary code that is incompatible with the new license?

[2017-11-02 10:49] magnusart commented on #2663
For anyone looking into this issue @timgivois way works beautifully for me. You have to do install `npm install --save-dev identity-obj-proxy` to get the necessary dependencies.

[code]

[2017-11-02 14:50] hon2a commented on #3721
I got this problem too, after upgrading Jest from 19.x to 21.x. Nothing above helped (I had the versions synced between global and local install). In the end I discovered that the API for running `jest` programatically has changed. Where previously I used `jest.runCLI`, I now have to use `jest.run`, because `jest.runCLI` expects CLI-like arguments array.

[2017-11-02 15:26] RubaXa opened #4826 "How to filter by `describe` and `it`? [feature request]"
**What is the current behavior?**
For example, I to have
[code]
If I try to filter by a test name regex pattern `def`, then I'll get:

[code]

**What is the expected behavior?**
From result not understandable, what is what, but I would like this:
[code]
That is, I want to not just see describe but also filter by `describe` and `it`.

[2017-11-02 15:52] cpojer commented on #4826
This feature was recently removed in a newer version of Jest. We may bring it back with #4824 but for now this issue isn't related to existing code in the repo.

[2017-11-02 15:52] #4826 closed

[2017-11-02 15:53] RubaXa commented on #4826
Ok, thx.

[2017-11-02 16:35] lydell opened #4828 "spyOn docs misleading?"
The [jest.spyOn](http://facebook.github.io/jest/docs/en/jest-object.html#jestspyonobject-methodname) example in the docs looks like this:

[code]

My questions is: Is that a good example? If an expectation fails, later tests that also use `video` will unexpectedly get a mocked `.play()` method.

Here's a concrete example:

[code]

Above, _both_ tests are failing and the user has to find out which

[2017-11-02 17:37] mjesun opened #4829 "Snapshot mock"
I just updated to `jest@v21.3.0-beta.5` and found what appears to be wrong snapshotting for mocked functions:

[code]

Is this expected (i.e. should I run with `-u`?)

[2017-11-02 17:47] mjesun opened #4830 "Mocked clearTimeout fails"
I just updated to `jest@v21.3.0-beta.5` and found what appears to be a bug with `clearTimeout` when using `jest-environment-node` + fake timers:

[code]

(For reference, line `TimingAnimation:149` is [here](https://github.com/facebook/react-native/blob/master/Libraries/Animated/src/animations/TimingAnimation.js#L149)).

[2017-11-02 17:53] cpojer commented on #4829
I think this was an intentional change. cc @pedrottimark

[2017-11-02 18:08] SimenB commented on #4829
This is #4668. Did not think of this case... IMO it's fine :D

[2017-11-02 18:18] pedrottimark commented on #4829
@SimenB You were thinking snapshot of mock function itself to see how it was called?

Thinking of possible objections in this context, the snapshot changes:
* if you change from ordinary function to mock function, or the opposite
* if you change when you take snapshot compared to when the mock function is called

[2017-11-02 18:24] SimenB commented on #4829
This is fine. If you really want a stub, pass `() => {}`.

Not as clear, but if I'm moving where the snapshot is taken, I'd not be too surprised at having to update the snapshots (and the invocations of that function does change, so, if anything, it's more accurate than just `function`). That said, I'm not sure what's the most ergonomic for users, here

[2017-11-02 18:40] cpojer commented on #4829
Yeah, I think it is fine to keep it.

[2017-11-02 18:40] #4829 closed

[2017-11-02 19:07] jeduden commented on #4815
@cpojer please have a look the minimal tests. in the page.
Actually, jasmine work. So this is not out of the box an issue with the library directly.

[2017-11-02 19:12] jeduden commented on #4815
The socket.io library guys could also argue the same way. Jasmine 2.8.0 works fine. So it is most likely an issue with how jest runs the tests.
As a user, combining both libraries, I went actually quite far to analyse the situation and try to break it down.
However, right now, to continue the investigation, I need input on how jests runner's use of the node's vm and process isolation could have in

[2017-11-02 19:13] jeduden commented on #4815
Please have a look at the test matrix on https://github.com/jeduden/jest-issue

[2017-11-02 19:47] ximet opened #4831 "custom name for mock"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I need to create mock for custom lib. For example lib fs in my application using with specific name:
require('vendors/fs'). Vendors it's another repository, where connected simple libs(fs and etc...). How create mock for this library, if custom naming not supported?

I try:

jest.mock('vendors/fs'); Bu

[2017-11-02 20:19] jeduden commented on #4815
@cpojer so there is actually some news over the initial report. I just took notice of  the `--env` option in jest. By default it is jsdom. When I tried the test suite with `--env=node` it actually passes !

So there is some difference about the vm that jsdom sets up vs the vm that the node environment sets up.

Do you have any idea what difference in the two environments could cause this behaviour

[2017-11-02 20:19] jeduden commented on #4815
I updated the test matrix to reflect this new interesting configuration.

[2017-11-02 21:08] mjesun commented on #4829
OK; I have two things then:

* This is probably a breaking change, so should release be `jest@22`?
* Is it OK that an object with the same structure will match?

[2017-11-02 23:00] coolgod commented on #2567
@cpojer I don't really understand your explanation:

If I require React locally, I will also have two copies of React (local to 'Picker'), right?

[2017-11-03 04:54] SimenB commented on #4829
Current master has a few breaking changes (this should also be marked as one), so I think the next release will be 22 anyways.

I'm inclined to say yes, but maybe we could somehow change the header from `Object` to `(Jest)Spy`?

[2017-11-03 05:02] SimenB commented on #4831
I'm not quite sure I understand your problem. Is it giving name to mocks? Or do you have a custom module resolution?

If the latter (which I think it is), see https://facebook.github.io/jest/docs/en/configuration.html#modulenamemapper-object-string-string

[2017-11-03 06:25] SimenB commented on #4828
Not sure what we should recommend here.

Personally I always add `clearMocks: true` to my config. `resetMocks` would probably not fix your use case either (https://facebook.github.io/jest/docs/en/configuration.html#resetmocks-boolean). Do we need a `restoreMocks`config? Might be perceived as surprising behavior anyways, though. At least clearing mocks at the top level.

However, if you fix your te

[2017-11-03 06:28] SimenB commented on #4828
We could perhaps just always restore. If you want to mock every single invocation, you could add it in a `beforeEach`. That'd be a change in code though, and not the docs

[2017-11-03 06:31] SimenB commented on #4830
Is this #4622?

/cc @vejersele

[2017-11-03 07:22] lydell commented on #4828
I always avoid spies and mocks as long as I can because I think they are complicated by nature :)

I wrote some tests for a browser extension a few years ago, where I had to modify and assert lots of global stuff. What I did there was passing a `teardown` function to every test, which allowed to register a callback to run after the test regardless of whether the test failed or not ([example](https

[2017-11-03 10:17] Shahor commented on #2219
Another victim of watchman here :(

[2017-11-03 10:26] cpojer commented on #4831
You can do `jest.mock('vendors/fs', () => {…}, {virtual: true})`.

[2017-11-03 10:26] #4831 closed

[2017-11-03 10:29] cpojer commented on #4829
@SimenB yeah, I think it makes sense to change it from Object to "MockFunction { … }"?

[2017-11-03 10:35] cpojer commented on #2567
Only if you call `jest.resetModules()` between the two require calls.

[2017-11-03 13:39] stephenmathieson commented on #2219
Just got caught by this. Quite possibly the worst experience I've had with a testing framework. Going to convince the team to move off of Jest.

[2017-11-03 14:12] stephenmathieson opened #4833 "swallowing stderr and exiting silently"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

jest swallows output on stderr, then exits silently:

![image](https://user-images.githubusercontent.com/571265/32377899-1fef3c0c-c077-11e7-83eb-85464bbe14ff.png)

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jes

[2017-11-03 14:23] skray commented on #3465
I am having this same issue. Using sinon's fake timers I am able to advance the clock and test that a debounced function is called. I am trying to convert to Jest, and using Jest's fake timers, I get `Ran 100000 timers, and there are still more!` when using `jest.runAllTimers`, and the function is not invoked when using `jest.runOnlyPendingTimers` or `jest.runTimersToTime`.

I am able to use real

[2017-11-03 15:15] cpojer commented on #4833
You are calling `process.exit` which doesn't necessarily mean that streams are flushed. If you want to test for calls to `process.exit` in your tests, you should mock the function using `process.exit = jest.fn()`.

[2017-11-03 15:15] #4833 closed

[2017-11-03 15:15] mjesun opened #4835 "Change snapshot header for Jest mocks to MockFunction"
**Do you want to request a *feature* or report a *bug*?**
That's gonna be a feature.

**What is the current behavior?**

Snapshots containing mocks are serialized as `Object` with `calls` + `name`. While this is correct, an object with an equivalent structure could make the snapshot pass (see #4829). For instance:

[code]

Would make the test pass, despite this is not a `jest.fn()`.

**What is the

[2017-11-03 15:16] mjesun commented on #4829
Love it. +1 to `MockFunction`. I created #4835 for that.

[2017-11-03 15:18] stephenmathieson commented on #4833
I understand what `process.exit` does. The issue here is that other test frameworks (mocha, ava, ...) output stderr even in this case.

Not outputting stderr here leads to extremely difficult-to-debug problems.

[2017-11-03 17:28] SimenB commented on #4835
#4836

[2017-11-03 18:44] juliomatcom commented on #3707
Hello, I'm still having this problem even with no autoFocus and autoCorrect in RN 0.48.4 and jest-expo 21.0.2,
thanks

[2017-11-03 20:01] gregorskii commented on #2235
This seems like a useful feature, I think the ask is for the TESTS themselves to be defined by an asynchronous process. I have a similar use case where I need to run my Puppeteer tests against a set of different URLs, where the URLs are defined by calling a Google Sheet.

[2017-11-03 20:36] rimunroe opened #4838 "Jest interprets testMatch strings containing <rootDir> incorrectly if rootDir contains parentheses"
**Do you want to request a *feature* or report a *bug*?**

I think this is a bug

**What is the current behavior?**

If a project is created under a path `/I/contain/(parentheses)`, and Jest is configured like so:

[code]

it will fail to find a test located at `/I/contain/(parentheses)/index.test.js`. If the parentheses are removed from the enclosing path, the test will be found correctly.

**If

[2017-11-03 21:12] mshwery opened #4839 "jest-haste-map fails if any `.git/*` filepaths include the substring `package.json`"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Jest will fail with a `JSON.parse` error.

[code]

**What is the expected behavior?**
Jest will not fail due to `.git/*` ref/log names.

**Please provide your exact Jest configuration and mention your Jest, node, yarn/npm version and operating system.**
Jest v21.2.1 (standard configuration, no customiz

[2017-11-03 21:15] mshwery commented on #4839
The only way to resolve this is to prune/remove any branches or ref/log files that include `package.json` in the filepath, and you can avoid this error by not using `package.json` in any branch names.

This was a fairly obscure issue to identify because you wouldn't expect your branch names to have any side-effects on your test runner.

[2017-11-04 12:56] jeduden commented on #3322
@cpojer I got 5 suites. 12 tests total. Yet "pages" of logs. Being able to force a summary would be helpful.
Would you except a PR that adds an option to force the summary ?

[2017-11-04 13:40] cpojer commented on #4839
Yeah this is an unfortunate error, however I'm not sure if we should exclude `.git` or `.hg` by default (probably should, but make it resettable). If you change Jest's default `modulePathIgnorePatterns` to exclude `.git`, I'm fine with that. Please send a PR.

[2017-11-04 13:42] #4835 closed

[2017-11-04 13:45] #4775 closed

[2017-11-04 16:56] mshwery commented on #4839
@cpojer thanks for the quick response! I think setting jest to ignore `.git` by default makes sense.

I can imagine this also extends to other dotdirectories, though it's probably uncommon enough.

[2017-11-04 18:37] falnos24865 commented on #2143
Migrating a test harness from Chai to Jest and ran into this issue. I think there should be a built in method to verify an object has exactly the keys listed. The Object.keys method explained above is unwieldy, hard to remember to sort both sides, and hard to read.

`toHaveProperty` is nice, but we have no way to check if extra keys are in the Object that should not be. Even if you have not run in

[2017-11-04 18:40] thymikee commented on #2143
@falnos24865 you'll find this project interesting: https://github.com/mattphillips/jest-extended#tocontainkeyskeys

[2017-11-05 15:56] StevePotter commented on #553
@Xesued is correct but I was unable to use the same kind of naming.  I was trying to mock a file called `[HeaderStyleInterpolator](https://github.com/react-community/react-navigation/blob/master/src/views/Header/HeaderStyleInterpolator.js)` from`react-navigation`.  This worked for me:
[code]

[2017-11-05 16:14] miracle2k commented on #4156
This is what my test output looks like:

<img width="799" alt="screen shot 2017-11-05 at 16 11 29" src="https://user-images.githubusercontent.com/13807/32416621-142164e4-c244-11e7-832b-e34a379a477d.png">

I can't get rid of the warnings because of https://github.com/facebook/flow/issues/4673, and fortunately there are only a couple log messages, but if I want to add more logging it will get much w

[2017-11-05 17:45] cristian-eriomenco commented on #3630
Same issue here:
[code]

[code]

[2017-11-05 17:52] kirlat opened #4842 "Please consider adding native support for ES modules"
**Do you want to request a *feature* or report a *bug*?**
I want to request a feature.
**What is the current behavior?**
Right now Jest does not support test suites with `import` statement. They result in the following error:
[code]
**What is the expected behavior?**
Would be great if Jest supported ES modules natively.

**Please provide your exact Jest configuration and mention your Jest, node, y

[2017-11-05 20:03] hon2a commented on #3630
I've come across this with the new Jest again as well (21.2.1). It looks like the parallelization is causing access errors on Windows.

@HipsterZipster: If you're creating a new issue, thanks. I'm hesitant to reopen this as I have no clear small reproducible scenario.

[2017-11-06 06:25] SimenB commented on #4842
Jest has its own `require` implementation (https://github.com/facebook/jest/blob/master/packages/jest-runtime/src/index.js), so it would be way more involved than just supporting the syntax and default to looking at `.mjs`. I'm also against activating experimental flags.

It might be possible to automatically transpile `import`/`export`, but implementing the semantics is a huge undertaking, and pr

[2017-11-06 08:16] tushardhole opened #4843 "Lint rule to indicate missing return staement when testing inside promise then or catch block."
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
It is mentioned in the [jest docs](https://facebook.github.io/jest/docs/en/tutorial-async.html) to return a promise when you want to test inside its then or catch block. In case, if a developer misses to add a return statement, then that expectation will not get executed and may result in test whic

[2017-11-06 09:46] cpojer commented on #4842
I agree with SimenB. We need a number of hooks from the node team to be able to make this work together with the vm module. However, I think we should support this in the meantime, but not by mirroring the full native implementation but rather by using babel and compiling it to require inside of `babel-jest`. I think for testing purposes this will work fine and we do not have to provide the same g

[2017-11-06 11:00] jon301 opened #4845 "Cannot remove some style properties from an element"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
It's actually not possible to remove some style properties from an element

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

[code]

[2017-11-06 11:10] thymikee commented on #4845
Hey @jon301, this is not a Jest issue, but JSDOM. Can you check if this happens on `jest@test` release? We upgraded from `jsdom@9` to `jsdom@11` so this could already be fixed. If not, file an issue on their issue tracker :)

[2017-11-06 11:10] #4845 closed

[2017-11-06 11:26] jon301 commented on #4845
It's still happening on `jest@test` version
Will file an issue on `jsdom` repo, thanks @thymikee

[2017-11-06 11:29] vspedr commented on #3254
@maraisr do you know if there's a sudo-less version of that solution, by any chance?

[2017-11-06 11:50] jlpjavi opened #4846 "Coverage not appearing after upgrading to Jest 21.2.0"
Hello,

Since I upgraded the version of babel-jest and jest to 21.2.0 I've experiencing problems when getting the coverage values of my tests. I've been digging and searching for jest cli changes in the documentation but I couldn't find anything that make me think in a possible problem with deprecated or new options.

My current jest configuration is the following, it's working like a charm with j

[2017-11-06 11:55] SimenB commented on #4842
So just adding `babel-plugin-transform-es2015-modules-commonjs` to `babel-jest`?

[2017-11-06 12:08] SimenB commented on #4846
Can you wrap your config in backticks?

Also, are you able to provide a full repro? Coverage is working for me

[2017-11-06 12:11] thymikee commented on #4846
@SimenB protip: you can do it yourself!
<img width="132" alt="screen shot 2017-11-06 at 13 11 00" src="https://user-images.githubusercontent.com/5106466/32440557-f6b40848-c2f3-11e7-85b7-df7036f4e2a9.png">

[2017-11-06 12:41] SimenB commented on #4846
True, but I don't like editing other people's posts 🙂  Could have a added a note about the reason for the edit, I guess

[2017-11-06 12:43] thymikee commented on #4846
I'm ok with editing, If it's just for readability. Leaving a note seems nice 👍.

[2017-11-06 12:46] DragonRaider5 opened #4847 "[BUG] Custom testEnvironments setup() and teardown() not beeing called"
Hello,
I'm currently trying to use a custom NodeEnvironment as my testEnvironment - but its async setup() and teardown() functions are not beeing called. My CustomEnvironment looks like this ([Docs](http://facebook.github.io/jest/docs/en/configuration.html#testenvironment-string)):
[code]
All I'm getting logged is
[code]

`jest` as well as `jest-environment-node` both are on version ^21.2.1 accord

[2017-11-06 12:47] thymikee commented on #4847
You need to use `jest@test`.

[2017-11-06 12:47] #4847 closed

[2017-11-06 12:51] cpojer commented on #4842
Yeah, that's what I was thinking.

[2017-11-06 13:09] jlpjavi commented on #4846
Sorry about the format @SimenB.

I'm executing jest that way:
`jest --no-cache --config /config/jest.conf.js --coverage`

And these are the results:

![image](https://user-images.githubusercontent.com/1425525/32442524-04f87152-c2fc-11e7-8c30-e767571623b4.png)

[2017-11-06 15:28] TrySound commented on #4842
Guys, what about integrating https://github.com/standard-things/esm ? It's fast and maintain a lot of edge cases.

[2017-11-06 15:31] cpojer commented on #4842
@TrySound what would that look like concretely? Can you make a prototype?

[2017-11-06 15:32] SimenB commented on #4842
We still have our own require-implementation (needed for mocks), so I don't think that'd help much.

And we need to work both with Node's rules and the browser's rules

[2017-11-06 15:35] SimenB commented on #3630
Does it happen with `jest@test`?

[2017-11-06 15:58] kingatlas opened #4849 "Exclude files by regex from test execution"
**Do you want to request a *feature* or report a *bug*?**

*Feature*

**What is the current behavior?**

Unable to exclude files from execution when using the regex in the CLI

**What is the expected behavior?**

Ability to run jest in CLI and specify test files to exclude.

The use case is usefull to distinguish between two kind of tests (suites).
For instance:
integration tests: all tests files

[2017-11-06 16:35] cpojer commented on #4849
I think it's unlikely we'll make the cli more complex by adding exclusions, it doesn't sound like a feature many people have had a need for. I'm gonna close this but happy to reopen if there is a large amount of interest to add this to Jest core.

[2017-11-06 16:35] #4849 closed

[2017-11-06 16:39] kingatlas commented on #4849
@cpojer, Do you have any workaround to do it?

[2017-11-06 17:24] rightaway opened #4850 "Make test names optional"
Test names should be optional. I know I can put an empty string, but it would be nice not to have to write it at all. Rather than needing to write a name for each test, some people may prefer not to have names and rather just refer to the failing test in the code itself when something fails.

[2017-11-06 17:26] cpojer commented on #4850
We aren't planning on changing this API right now.

[2017-11-06 17:26] #4850 closed

[2017-11-06 18:16] johnnyjanzen commented on #4419
Same issue:

Jest: 21.2.1
Yarn: 1.3.2
Node: 8.9.0
React Native: 0.49.5

[2017-11-06 20:17] SimenB commented on #4419
Fixed in #4737 (not released)

[2017-11-06 21:06] jayjaycross commented on #3968
After upgrading to `jest-runtime@21.2.1` and `babel-jest@21.2.0` I am no longer experiencing this issue.

[2017-11-06 22:10] maraisr commented on #3254
@vspedr not sure - I can take a look!

But we are touching system files there, so for security you kinda need elevated permissions. If you can make yourself a sudoer i believe you can run those commands without sudo.

But yeah - i'll take a look and see what I can come up with.

[2017-11-06 23:08] rausanka commented on #3595
Here is a simplified example of @bookman25's comment about using `hasAssertions()` outside of a test method resulting in skipped tests failing:

[code]

[2017-11-07 04:10] lod commented on #2460
Changing the href location as suggested by @cpojer did not work for me, I had to follow the technique from @Mathspy

const url = "...";
Object.defineProperty(window.location, 'href', { value: url });

[2017-11-07 08:57] #4419 closed

[2017-11-07 09:15] langri-sha commented on #4793
Thanks for explaining things, I managed to take a quick look around.

I understand how at the level of a module this wouldn't really make sense. But, my problem is that `jest` runs in the grander scheme of things, in a monorepo with many packages and many modules referenced. I'll try to keep an eye out for #2925.

[2017-11-07 09:27] lazurey commented on #4545
@liuchong I'm using `typescript` too, and I found that the shim needs to be run before `enzyme` adapter, then the warnings will go away.

[code]

And in `shimSetup.ts` I have

[code]

[2017-11-07 13:20] ledfordjs commented on #2855
@thymikee could we add something like sinon?

[code]

[2017-11-07 13:24] thymikee commented on #2855
You can use spyOn to achieve this, no?
[code]
http://facebook.github.io/jest/docs/en/mock-function-api.html#mockfnmockrestore

[2017-11-07 13:37] ledfordjs commented on #2855
@thymikee Yes but this would add code coverage to untested code.

[2017-11-07 14:36] lumio commented on #104
@kellyrmilligan ... that helped quite a lot! But you don't need `junit-merge`. Just report `*.xml` files

[2017-11-07 16:00] MechJosh0 opened #4854 "Requiring a mocked file by alias and variable does not work when used together"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Requiring a mocked file by a folder alias and a variable fails to find the file. The alias and variable works independently, but they do not function together.

Available repo with examples here-> https://github.com/MechJosh0/jestRequireIssue

**What is the expected behavior?**

You should be

[2017-11-07 16:56] mjesun commented on #4830
I'm gonna jump into this one.

[2017-11-07 17:10] theoutlander commented on #281
@kentcdodds did you ever solve this issue? I just added server tests and noticed that enrouten is having issues around require.extensions. I tried modifying it before the test runs, but I think jest is overriding it or using mocks.

[2017-11-07 17:18] kentcdodds commented on #281
Yes. My problem was also express-enrouten. The workaround I tried above worked. Here's what it looks like currently:

[code]

Then in my jest config:

[code]

Good luck. :+1:

[2017-11-07 17:30] explicitcall commented on #3853
I can reproduce this with node 8.9.0 and jest 21.2.1

[2017-11-07 17:40] #4830 closed

[2017-11-07 18:22] trevordmiller opened #4856 "Flow error when using "jest.setTimeout" of "property `setTimeout`: Property not found in object type""
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

There is a Flow error when using "jest.setTimeout" of "property `setTimeout`: Property not found in object type".

For example:

[code]

I've added a `// $FlowFixMe` comment above this line for now.

**What is the expected behavior?**

`jest.setTimeout` doesn't have a flow error.

**Please provide y

[2017-11-07 18:23] cpojer commented on #4856
Please report this on `flow-typed`. This is not managed by the Jest team.

[2017-11-07 18:23] #4856 closed

[2017-11-07 18:47] makeshift3ds commented on #4723
just a note: the documentation is ahead of the latest release. `advanceTimersByTime` is available in master but not 21.2.1. Not sure if that is intentional.

Docs
http://facebook.github.io/jest/docs/en/timer-mocks.html#advance-timers-by-time

[2017-11-07 19:59] thymikee commented on #4723
@makeshift3ds there should be a note: `##### available in Jest **21.3.0+**`. Would you like to add this? 🙂

[2017-11-07 21:13] davidgilbertson commented on #3211
So, would you expect the below test to fail because `0` doesn't equal `1`?
[code]

I don't get a failed test, I get a timeout.
[code]

This, however, does wait for a second then run the test:
[code]

Jest: 21.2.1
Node: 8.1.2

[2017-11-08 00:09] makeshift3ds commented on #4723
@thymikee i adjusted the wording to make it clear the functionality is currently available under a different name.

https://github.com/facebook/jest/pull/4857

[2017-11-08 00:24] rogeliog commented on #4795
Thanks for reporting! I'm also able to reproduce it

[2017-11-08 00:41] rogeliog commented on #4795
I just put up a PR to address this issue

[2017-11-08 04:10] jDeppen commented on #1220
Updated link: http://facebook.github.io/jest/docs/en/webpack.html

[2017-11-08 04:28] colinclarkbcgdv commented on #3853
@SimenB I could but it looks like this issue has been discussed to death here and elsewhere. The multi-(child)process nature of jest means that it will overwrite `console.logs`, and without a massive rewrite that is not going to change. Anyone who comes to this thread and wants to avoid the issue where using the `--verbose` flag disallows debugging with `console.log`, should use the `--watch` flag

[2017-11-08 07:11] nickmccurdy commented on #3874
I have a group of tests for an async function that replaces content in strings. In some test cases, I need to ensure that a given string changes or does not change after running the function. It would be great to be able to extract this testing behavior into a custom matcher, but I can't because the behavior has to be asynchronous through a Promise (it's making network requests through a third par

[2017-11-08 07:33] SimenB commented on #3874
Can't you use `expect(await someAsyncThing).toBe(success)`?

[2017-11-08 07:38] SimenB commented on #2855
What do you mean with coverage? You have to use `.mockImplementation` if you want to mock and not just spy.

http://facebook.github.io/jest/docs/en/jest-object.html#jestspyonobject-methodname

[2017-11-08 07:42] WhynoChinese commented on #2550
I had the same issue...
![image](https://user-images.githubusercontent.com/11802308/32536921-04cd94b6-c426-11e7-81c4-ac4cc4cb7948.png)

[2017-11-08 08:03] nickmccurdy commented on #3874
Unfortunately no, because I want the matcher's internal logic to be asynchronous while passing a synchronous value to the matcher. In this case, I would be passing a String (not wrapped in a Promise) to a `toUpdate()` matcher, and internally it would call and await on a function that returns a new String wrapped in a Promise.

[2017-11-08 09:37] hon2a commented on #3630
@SimenB: What do you mean by that, please?

[2017-11-08 10:15] SimenB commented on #3630
if you do `npm install --save-dev jest@test` or `yarn add --dev jest@test` (which installs a beta version of jest), does the problem still occur?

[2017-11-08 10:33] hon2a commented on #3630
Ah :) With `jest@test` (v21.3.0-beta.8) I can no longer reproduce the issue. Please bear in mind that the reproduction is problematic as the issue seemed non-deterministic. That said, on a package where the problem seemed to be happening almost every time, the new version works well. :+1:

[2017-11-08 10:46] WilliamIPark commented on #1960
If you're getting this error after having tried some of the solutions here:
`TypeError: Cannot read property 'any' of undefined`

It's because proptypes is no longer bundled with React. Just remove the
`static propTypes = { children: React.PropTypes.any };`
line.

[2017-11-08 12:39] gidztech opened #4860 "Hooks for describe and test blocks in a custom environment"
**Background**
I've been using Mocha with a custom interface I wrote that allows me to have a custom wrapper `describeComponent` block that takes in some config to do some internal setup for each test suite. It can then be nested with standard `describe` and `it` blocks.

I want to try using Jest instead, and take advantage of some powerful features available. However, I'm struggling to get the ab

[2017-11-08 13:08] cpojer commented on #4860
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-11-08 13:08] #4860 closed

[2017-11-08 13:12] gidztech commented on #4860
I was asking if something is possible with the follow up of it being a feature request if not. It’s not a “I’m stuck making my test work”. This would have avoided going around in circles but fair enough.

[2017-11-08 13:33] sloria opened #4861 "Docs: "Using with webpack" page does not render correctly in Firefox"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

https://facebook.github.io/jest/docs/en/webpack.html displays incorrectly in Firefox 57.

<img width="665" alt="using with webpack jest 2017-11-08 08-31-46" src="https://user-images.githubusercontent.com/2379650/32551698-615e392c-c45f-11e7-9bc9-739b1029dd20.png">

**If the current behavior is a bug,

[2017-11-08 13:34] thymikee commented on #4861
cc @ericnakagawa is this something on Docusaurus side?

[2017-11-08 14:01] SimenB commented on #4860
You should be able to overwrite the global `describe`, `it` or `test`, but I don't think a custom environment is correct.

See http://facebook.github.io/jest/docs/en/configuration.html#setuptestframeworkscriptfile-string

[2017-11-08 14:03] fehergeri13 opened #4862 "Jest not working with @babel/core"
https://github.com/babel/babel/tree/master/packages/babel-core

If I use `jest (21.2.1)` with `@babel/core (7.0.0-beta.31)` I get this error:
[code]

If I use `jest@test` I get this error:

[code]

[2017-11-08 14:47] ericclemmons commented on #2550
The only way I've been able to resolve it is via `--no-cache` with every run. 🤷‍♂️

[2017-11-08 17:01] SimenB commented on #4862
See discussion in #4557. We don't quite know how to handle it yet

[2017-11-08 17:01] #4862 closed

[2017-11-08 18:45] rogeliog commented on #4861
The same issue is also present in Chrome

[2017-11-08 18:50] xjlim commented on #4861
It seems to be caused by text overflow for long strings such as
`"\\.(jpg|jpeg|png|gif|eot|otf|webp|svg|ttf|woff|woff2|mp4|webm|wav|mp3|m4a|aac|oga)$": "<rootDir>/__mocks__/fileMock.js"` in the docs.
A quick fix is to add `overflow:auto` on `.mainContainer`. However, I can't reproduce that locally, so it could be due to github pages.

[2017-11-08 22:45] Flaque commented on #2979
Currently getting this error [here](https://github.com/tundra-code/aurora/pull/65). Adding:

[code]

to "jest" doesn't fix, nor does adding `jest.useFakeTimers();`.

[2017-11-08 23:17] eremzeit commented on #3584
Observation:
When I'm running Jest and specifying a config file via the `--config` option and I try to the `<rootDir>` token in the `transforms` section, I get the following error:

![image](https://user-images.githubusercontent.com/1264533/32579278-4e3cc774-c4ae-11e7-8a39-20f33658ca02.png)

I am able to use `<rootDir>` in the `testMatch` section.  However, in this case`rootDir` is replaced with t

[2017-11-09 00:12] rogeliog commented on #4854
Thanks for reporting! I've been looking into it and as far as I can tell it seems to be related to https://github.com/tleunen/babel-plugin-module-resolver/issues/228 right?

[2017-11-09 00:21] mattphillips commented on #4402
Hey @gavboulton fancy seeing you here 😆 👋

@SimenB I've added the extra field for this in #4866 if you get a chance to take a look :smile:

[2017-11-09 09:27] hon2a commented on #3630
@SimenB: ... and I've just had the issue happen even with `jest@test`.

[2017-11-09 11:13] chenasraf commented on #3822
Also have the same issue:

[code]
Here's my `enzyme_setup.js`:

[code]

And here's my `package.json`'s `jest` section:

[code]

I also tried with different presets and without presets, none showed any change.

[2017-11-09 12:47] MechJosh0 commented on #4854
@rogeliog Yes they seem to be having the same issue, thanks for finding it. Its this a `babel-plugin-module-resolver` issue rather than a Jest issue?

[2017-11-09 15:49] Gyvastis commented on #2007
Updating `jest-cli` solved the issue.

[2017-11-09 16:55] rogeliog commented on #4854
Yeah I think so... I'll close this issue, but feel free to reopen it if needed. Thanks! 😄

[2017-11-09 16:55] #4854 closed

[2017-11-09 16:57] rogeliog commented on #4843
@SimenB Given that https://github.com/facebook/jest/pull/4844#issuecomment-343069667 was closed, I guess we should close this issue also and then reopen it in https://github.com/jest-community/eslint-plugin-jest?

[2017-11-09 16:59] #4843 closed

[2017-11-09 17:42] rimzici commented on #4604
`npm install --save-dev babel-jest`

configuring jest as follows inside package.json solved the issue for me.

`
"jest": {`
  `  "transform": {`
     ` "^.+\\.jsx$": "babel-jest",`
    `  "^.+\\.js$": "babel-jest"`
    `}`
  `}`

"react-native": "^0.50.1",
"jest": "^21.2.1",
"babel-jest": "^21.2.0",

[2017-11-09 18:05] mrchief commented on #4828
I think I ran into a side effect of this behavior. First, to ensure restoration of mocks, I used `afterEach` block like so:

[code]

This works great until I added another test that spied as well:

[code]

However test 2 fails and I suspect its got something to do with the fact that `spy` is a shared variable between both tests.

So if we can't rely on `afterEach` then I guess there is no reliable

[2017-11-09 18:12] jstheoriginal commented on #919
@AlanFoster's solution fixed my issue after updating to RN 0.50 & React 16 with my snapshots.

[2017-11-09 18:54] VisorsJimmyTruong commented on #3114
@natdm  not sure if this will help or why it worked for me, but I blew away node modules and re-installed and the error went away.

[2017-11-09 19:34] SimenB commented on #3630
Have you tried applying the fix here: https://github.com/isaacs/node-graceful-fs/pull/119?

[2017-11-09 19:38] SimenB commented on #4402
That PR has been merged. https://github.com/jest-community/jest-extended/issues/98 can be tracked for the matcher

[2017-11-09 19:38] #4402 closed

[2017-11-09 19:45] SimenB commented on #4846
Are you able to setup a small reproduction for it?

[2017-11-09 20:04] kobyl opened #4868 "How does jest-resolver treat ! in imports and requires?"
I'm using script-loader for jquery plugins, and do a couple imports like this(in different places):
[code]
This is working at runtime on a browser, but not under Jest. I've tried adding script-loader.js to the  \_\_mocks\_\_  folder next to node_modules and confirm that my mock code gets run when I just do
[code]
in a test file.

I'm wondering if the ! in the imports are messing up the resolution?

[2017-11-10 09:20] gsteacy opened #4869 "Jest doesn't write new snapshots automatically in watch mode if another snapshot has been updated"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Jest does not automatically write new snapshots in watch mode if a previous snapshot has been updated in the current watch session, even if that snapshot is for another test suite. Instead, it prints the following message:

[code]

This applies in `--watch` and `--watchAll` modes.

**If the current b

[2017-11-10 10:09] #4824 closed

[2017-11-10 12:41] SG5 opened #4870 "Jest spy doesn't work after await"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**

Spy sees call only before await

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest.**

https://repl.it/OFPu

**What is the expected behavior?**
Spy should correct handle calls after await

[2017-11-10 16:04] SimenB commented on #4870
You have to await the promise in you test

[code]

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-11-10 16:04] #4870 closed

[2017-11-10 16:04] msholty-fd commented on #890
`Object.defineProperty` seems to do the trick for testing `window.location.search`, for instance. That being said it mutates `window.location.search` so other tests may be impacted. Is there a way to "undo" the changes you've made on `window.location.search` via `Object.defineProperty`, kinda like jest mock functions have the `mockReset` function?

[2017-11-10 16:41] szimek commented on #3114
I had the same error with a repo where I'm using Lerna and found this thread, while looking for a solution. It turned out that one old app was still using Jest v18, the other v21 and tests were failing with this `bind` error in the app with Jest v21.

I think that Lerna is supposed to somehow magically solve such problems, but I managed to fix it only when I updated Jest in both apps to v21.

[2017-11-10 17:31] matthiasdailey-ccri commented on #1586
For reference, this worked for me:
![image](https://user-images.githubusercontent.com/18034092/32670823-00c14a90-c613-11e7-9b4b-c90107bb24ee.png)

[2017-11-10 23:29] andreme commented on #3793
@mruzekw @thymikee I think there is still an issue with this, I need to escape the backslash to make it work. (Windows 10, plain Command Prompt)

Not escaped doesn't find the test:
[code]
This one works:
[code]

[2017-11-11 00:55] skevy commented on #4524
I can confirm this is happening to me as well, but from what I can tell, my `moduleNameMapper` isn't pointing to a non-existent file. I don't get any errors when I run Jest `watchAll`.

[2017-11-11 03:46] sshadmand commented on #1216
Thirdededed!

[2017-11-11 06:52] pablezhang opened #4874 "SyntaxError: Unexpected token import? When I test component with Typescript、jest、enzyme"
[code]
It`s my tsconfig:
[code]
and   jest.config.js
[code]
and babelrc

[code]
Could you tell me how to fix the error?

[2017-11-11 07:15] cpojer commented on #4874
You need to compile modules and set the flag to `true` in your babelrc, at least for the test env.

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-11-11 07:15] #4874 closed

[2017-11-11 12:36] bobdcode opened #4876 "Test fails RR4: Invariant Violation: You should not use <Switch> outside a <Router>"
Testing a React 16 app that uses React Router 4 with `<Switch>` components causes:

Invariant Violation: You should not use <Switch> outside a <Router>

Assuming:

[code]

is valid for RR4, this error report is unexpected.

*package.json*:
[code]
Windows 10, Node 8.8.1

[2017-11-11 12:38] #4876 closed

[2017-11-11 19:13] mitchlloyd commented on #3608
This appears to be fixed in the current beta version (`21.3.0-beta.8`).

[2017-11-11 19:54] #3608 closed

[2017-11-11 23:49] nilacseruet opened #4878 "Left sidebar broken style"
On your website, I just noticed an issue with the left navbar. Seems CSS is broken. When I click on '**The Jest Object**', the left navbar shrink and the text is getting hidden.

[2017-11-12 03:12] xjlim commented on #4861
@ericnakagawa It seems like the production site is using an old version of Docusaurus. This does not show up locally as it uses the latest version - `1.0.0-beta.x` with the proper styling in the generated `main.css` file.

[2017-11-12 03:12] xjlim commented on #4878
related to #4861

[2017-11-12 21:45] nathanhleung opened #4880 "Tests pass locally but "fail" on CI (i.e. test suites fail but all individual tests pass)"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the current behavior?**

Tests are passing locally for me but don't pass on Travis. The output on Travis says 9/9 tests passed, but only 5/7 test suites passed, and it's rerunning a few tests twice.

I cleared the package and repository cache and reran the build but the error still persists.

Here's the output from the [late

[2017-11-13 03:13] kristianmandrup commented on #1760
I started a new jest test suite, using `jesT-cli` 22.x. Still same problem

[code]

[code]

WTF!?

I've never seen this form `require.requireActual` shouldn't have to do this crap!

[2017-11-13 03:16] kristianmandrup commented on #1760
Tried installing `promise`, still nothing works

[code]

WTF!?

[2017-11-13 03:39] kristianmandrup commented on #1760
I tried all kinds of combinations with suggested fixes. No luck yet.

[code]

Always getting timeout. Seems to be expecting Promise that is or will be resolved but never is...

[2017-11-13 08:15] cpojer commented on #4880
It probably means your require strings don't match the file names. Is the file called `helpers.test.js` or `Helpers.test.js`.

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-11-13 08:15] #4880 closed

[2017-11-13 08:53] hon2a commented on #3630
I'll try when I have a bit of time on my hands.

[2017-11-13 09:29] SG5 commented on #4870
I can't just await, because my test has only mount
[code]
but async function has been called in `componentDidMount`

[2017-11-13 09:48] SimenB commented on #4870
Again, this is not a help forum, please ask on StackOverflow

[2017-11-13 10:50] vinaykukke opened #4881 "Webpack alias conflict with jest"
Hi,

I am facing an issue while using jest. We have a `Webpack alias` setup (`jest.config.js`) for a **Constants Folder** we have as
[code]
**STEPS**
* I made a `index.test.tsx` in the component that im testing and write code for the test.
* run `yarn test` => which is a script that runs jest we defined in the project.

**ERROR/CURRENT BEHAVIOUR**
[code]

**EXPECTED BEHAVIOUR**
For the tests to ru

[2017-11-13 11:15] timjacobi commented on #4820
@rogeliog @aaronabramov
Is this being worked on and do you think this would be suitable to work on for someone that's new to the codebase? If the answers are _no_ and _yes_ then I would like to look into this.

[2017-11-13 11:30] cpojer commented on #4881
It seems like you unblocked yourself. For questions please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-11-13 11:30] #4881 closed

[2017-11-13 12:18] SimenB commented on #4878
Closing as dupe

[2017-11-13 12:18] #4878 closed

[2017-11-13 12:38] jukben opened #4882 "Jest can't resolve @babel/env"
**Do you want to request a _feature_ or report a _bug_?**

bug

**What is the current behavior?**

Jest can't resolve `@babel/env` with configuration

package.json
[code]

**What is the expected behavior?**

Jest could resolve `@babel/env` (according to [their documentation](https://github.com/babel/babel/tree/master/experimental/babel-preset-env)). With `@babel/preset-env` it's OK but then I run

[2017-11-13 14:35] Svanmark commented on #2567
What about when importing modules with es6?

`import MyModule from 'MyModyle'`

[2017-11-13 14:55] nathanhleung commented on #4880
Thank you, I'll do that next time. Sorry for bothering you.

[2017-11-13 15:51] rogeliog commented on #4820
I think @aaronabramov would know better than me :smiley:

[2017-11-13 15:57] ashtonsix opened #4883 "jest --watch hangs silently if moduleNameMapper cannot locate module"
**Bug**

`jest --watch` was getting stuck at `Determining test suites to run...` and stopped doing anything.

I started debugging `ResolveDependencies.resolver.getMockModule` inside the `jest-resolve` package and noticed nothing was getting logged after it was called with a dependency path that failed to map. I fixed the issue by creating the missing files - but tracking down this bug took much lo

[2017-11-13 16:33] cpojer commented on #4883
Do you mind trying this with `jest@test` to see if this is better now?

[2017-11-13 16:44] ashtonsix commented on #4883
My directory structure is like

[code]

When running `jest --watch` inside `/packages/beyond` with `jest@test` I now get the following error (we have slightly different jest configs for some projects & this made adopting the multi-project stuff more intimidating):

[code]

[2017-11-13 17:50] design1online commented on #4156
I second that @miracle2k, when you're getting a lot of warnings and errors from dependancies it makes it much harder to find failed tests. It would be nice to have a flag you could pass that would only return the list of failed tests.

[2017-11-13 21:00] kesne commented on #4882
The issue is that `babel-jest` uses `babel-core`, not `@babel/core`. There's ongoing discussion here: https://github.com/facebook/jest/pull/4557

[2017-11-13 23:40] rogeliog commented on #4882
I'll close this in favor of #4557, but feel free to reopen if needed 😄

[2017-11-13 23:40] #4882 closed

[2017-11-14 00:46] aaronabramov commented on #4820
i think this is the way jasmine runs tests. I think it was fixed in Jasmine at some point, but we're still using the old/custom version of it.
@timjacobi you can try to find this issue in Jasmine repo, see how they fixed it and do something similar in our jasmine fork!

[2017-11-14 03:46] trylovetom opened #4887 "DB Connection Raise too many in one times."
## Issue Description

When I use `Jest` for unit test, I find some error from my `postgres` below.

[code]

I have 200 unit test modules. Before each unit test , make the new `express` server. After each unit test, use [http-shutdown](https://github.com/thedillonb/http-shutdown) for force shutdown.
Connection open too many in one times. After each unit testing, it's connection still alive.
How cou

[2017-11-14 07:07] SimenB commented on #4842
`@std/esm` apparently should just work with jest: https://twitter.com/jdalton/status/930257653292400640

Could anyone give it a whirl and come back with a PR for the docs? 🙂

[2017-11-14 07:15] lsentkiewicz commented on #3634
@kumar303
Can you take a look at #4886?

[2017-11-14 07:17] thymikee commented on #4887
If you have at least as many `max_connections` of Postgres DB set as threads of your CPU, it usually means a leak in your code. I'll close it, because it's not likely to be Jest issue.

[2017-11-14 07:17] #4887 closed

[2017-11-14 07:37] TrySound commented on #4842
I guess users would like to have support everywhere, but I found it works only for dependencies of test files.
[code]
[code]

[2017-11-14 08:54] shoegazerwithak commented on #936
@develerltd I have just tried that and it didn't work. Could you please share an example?

[2017-11-14 09:31] tylerlong opened #4888 "Inconsistence behavior when toEqual handles undefined properties."
**Do you want to request a _feature_ or report a _bug_?**

I want to report a bug

**What is the current behavior?**

[code]

[code]

`test 1` succeeds means undefined properties are ignored.

`test 2` `Difference:` still show the undefined properties.

This behavior is annoying when there are lots of undefined properties. It's hard to find the real difference.

**If the current behavior is a bug,

[2017-11-14 09:44] cpojer commented on #4888
Duplicate of #711

[2017-11-14 09:44] #4888 closed

[2017-11-14 10:03] tylerlong commented on #4888
@cpojer It is **NOT** a duplicate.

I am **OK** for the fact that jest ignores undefined.

The bug I reported is: if undefined is ignored(`test1`), why does it show it in the difference (`test2`)

[2017-11-14 10:24] timjacobi commented on #4820
@aaronabramov https://github.com/facebook/jest/issues/4166#issuecomment-319197559 says you are working on `jest-circus` which should fix the issue. Is this still the case?

[2017-11-14 11:47] WickyNilliams commented on #4869
Same issue here - but on OSX Sierra.

[2017-11-14 12:52] #3601 closed

[2017-11-14 12:57] julienw commented on #3601
Thanks @lsentkiewicz !

[2017-11-14 14:09] ashtonsix commented on #4883
Oh, after upgrading to `21`, `--watch` doesn't use `.git` from higher-level folders. Like, intentionally? (should use lowest `.git` available). That's a separate issue though. Will retry `@test` with jest-friendly packages later (> a few weeks).

[2017-11-14 15:58] RobinNagpal opened #4889 "Ability to create global complex objects at starting and share the same instance in all tests"
I dont see a way in which we can create global complex objects which can be accessed from every tests.

I tried used `setupTestFrameworkScriptFile` and set `global.browser`

But this `global.browser` is not available in the tests

If I set it in the global config of Jest, I can write custom logic of setting the browser object

Like event If I declare __BROWSER__ I can't set it

[code]

[2017-11-14 16:07] cpojer commented on #4889
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-11-14 16:07] #4889 closed

[2017-11-14 16:11] lalanotlistening commented on #3322
The output when run in cmd is longer than the buffer will keep for 6 failed tests. My experience is that this was something I really wished was implemented as soon as I wasn't able to see all the failed tests (so more than one) on the screen at the same time.

[2017-11-14 16:47] benhjames opened #4890 "expect(fnMock).toMatchSnapshot() not producing correct snapshot"
**Do you want to request a _feature_ or report a _bug_?**

Report a bug.

**What is the current behavior?**

Consider this code:

[code]

Produces this snapshot:

[code]

You can see it is missing the function calls!

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we c

[2017-11-14 16:49] thymikee commented on #4890
Will be in next Jest release, see this for more info: https://github.com/facebook/jest/pull/4848

[2017-11-14 16:49] #4890 closed

[2017-11-14 17:08] benhjames commented on #4890
Aha - now I see the `available in Jest 21.3.0+` notice... Thanks!

[2017-11-14 17:09] hakunin commented on #3322
@cpojer I believe this can be reopened since Jest doesn't print any summary?

[2017-11-14 17:17] ingro opened #4891 "Cannot find module 'babel-core'"
Hello, I've updated jest from 20.0.4 to latest (21.2.1) and got this error for all my tests:
[code]

Strange thing is that `babel-core` (v 6.26.0) is installed and listed in my package.json file.
Rolling back to 20.x solves the problem. I see that there are a lot of similar issues but they all seems related to babel v7, while I've problems with babel v6.

[2017-11-14 17:18] hpeikari commented on #1478
Adding this comment here describing the reason for this error message for people that may find this page in future.
That happens because you have a dispatch function nested inside your promise.
[code]

Remember that dispatch() is async and needs to be resolved. That's why you were getting the error msg.

[2017-11-14 17:36] claudiorodriguez opened #4892 "References to imported module not the same in lerna monorepo"
**Do you want to request a _feature_ or report a _bug_?**
bug

**What is the current behavior?**
When running a jest test in a lerna monorepo,  a common module imported in two subpackages is not the same object reference. This causes `instanceof` and strict equalities to fail.
This does not happen using simple file modules.

**If the current behavior is a bug, please provide the steps to reproduce

[2017-11-14 20:02] aaronabramov commented on #4820
@timjacobi unfortunately jest-circus is not the priority right now :(

[2017-11-14 21:33] thymikee commented on #4891
This is most probably related to your package manager, not Jest. I'll close this but feel free to discuss.

[2017-11-14 21:33] #4891 closed

[2017-11-14 21:39] tommyzli opened #4894 "jest-cli exits with a successful status code when given unrecognized arguments"
**Do you want to request a _feature_ or report a _bug_?**
_bug_

**What is the current behavior?**
when jest-cli is given an unhandled argument, it exits with status code `0`, when I would expect it to exit with an unsuccessful exit code
To reproduce in bash:
[code]

**What is the expected behavior?**
I would expect this to exit with a status code `1`.

**Please provide your exact Jest configurati

[2017-11-14 22:21] tdeedlesATX commented on #3927
Here's a flow-try url that demos the limitations https://flow.org/try/#0PQKgBAAgZgNg9gdzCYAoVBjOA7AzgFzACsBTAsAXjAG9UwwpsAuMACgEpKA+Nzin6gF9Uw9KmDAwAYTgBbAA44S2fADoiuVFACu2DPgCWOMAEMAJmdYmm2bbIBGJAE4AaMPZt3HT9i1sPnGlQASCcSfG0nbFMwAGp3AG4RdHwAT3kSMAAFJzh5XEog+nMzABUEOAA5L2dcFjSMuChTC2StXX0jaJkFJRVWeVz8lhy83E5aejCIqLBBsdUS8qqap1xWAEYXACZ2JNF0CWk5RWxlNXwyNQ1DySkYEwNZFgAiA0Iw7DNal9uwAHV3gALGK6AwAN1qJh

[2017-11-14 23:49] borela commented on #4828
@lydell It's not that mocks are complicated, you are being mislead by the `const` keyword here:

[code]
It's easy to think that the object is a const but the `spyOn` is modifying it, only the variable `product` can't be changed, but the object can... calling `spy.mockRestore` on `afterEach` would solve the issue but you would have to share another variable between tests.

Another and better altern

[2017-11-14 23:54] borela opened #4896 "--watchAll works --watch doesn't"
**Do you want to request a _feature_ or report a _bug_?**
bug

**What is the current behavior?**
Returns `--watch` literally, no error, returns just `--watch`.

**What is the expected behavior?**
To run the test in watch mode.

**Please provide your exact Jest configuration and mention your Jest, node,
yarn/npm version and operating system.**
jest v21.3.0-beta.8
node v9.1.0
npm v5.0.3
windows 10 x

[2017-11-15 01:45] mrchief commented on #4828
@borela I've refactored my tests since then but I'll try and see if I can find a reproducible sample for you.

[2017-11-15 05:23] aaronbeall commented on #2567
How do you make this work with ES6 modules, which cannot be put inside the function scope?

[2017-11-15 06:42] lydell commented on #4828
@borela I know how `const` works. That's not the problem. What I'm wondering is how spies are supposed to be used.

[2017-11-15 08:28] SimenB commented on #2567
you can use the `import` function, along with e.g. https://github.com/airbnb/babel-plugin-dynamic-import-node

[2017-11-15 09:37] ingro commented on #4891
By package manager you mean `yarn`? I also tried to install dependencies with `npm` after a full clean of `node_modules` folder but got the same results.

[2017-11-15 10:49] borela commented on #4828
@lydell [They modify the function/method](https://github.com/facebook/jest/blob/77744a24816d0978b6c478987426c36d615864bd/packages/jest-jasmine2/src/jasmine/spy_registry.js#L67).

If possible, try to create a new test object for each test, it'll prevent many gotchas:

[code]

[2017-11-15 17:19] lydell commented on #4828
Ah, I see!

I guess the documentation example could be rewritten to:

[code]

But really, when creating a new object in every time there's not even a need for resetting stuff?

[code]

I guess we might still want an example where `spy.mockReset()` and `spy.mockRestore()`, such as when testing a singleton, though.

[2017-11-15 18:12] rogeliog opened #4897 "jest-worker is not keeping (isTTY) on workers"
**Do you want to request a _feature_ or report a _bug_?**

bug

**What is the current behavior?**
jest-worker is always passing `isTTY === false`... Which currently causes the facebook/jest tests to fail, when they are not being run with `FORCE_COLOR` or `-i`

[code]

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languag

[2017-11-15 18:13] rogeliog commented on #4897
@mjesun Do you have any thoughts on why this might be happening?

[2017-11-15 18:18] borela commented on #4828
I agree it needs better examples;

If you are sure your tests don't modify the test object you are safe to share it, but in most cases creating a new one is extremely fast and the benefit is total isolation between tests which as you mentioned, you wouldn't need to reset anything.

Only in cases where setting up the test object is costly(test databases, etc... integration tests) that I would share

[2017-11-15 18:18] rogeliog commented on #4896
Thanks for reporting! Would you mind providing a bit more information on how to reproduce it, maybe a small github repo?

[2017-11-15 18:38] rogeliog commented on #4820
This seems to be the PR that fixed it in the Jasmine side, https://github.com/jasmine/jasmine/pull/1225

[2017-11-15 18:46] slorber opened #4898 "Bypass check for obsolete snapshots"
Hi,

I use Jest in the context of Storyshots/Storybook.

I use Storyshots to run tests against my components, and I actually do so for many languages in a row. I want to ensure all components render fine, for all languages.

I don't want to generate Jest snapshots for all languages, because it would not be very useful + I would need to store snapshots for all languages, so I decided to run my test

[2017-11-15 19:03] keplersj commented on #4897
My repo https://github.com/keplersj/jest-runner-prettier should work for a consistent reproduction case.

[2017-11-15 19:49] AlexMarvelo opened #4899 "Website: markup issue on webpack.html"
Hello guys
Looks that something went wrong on `https://facebook.github.io/jest/docs/en/webpack.html`
First render of page is correct, but then JS moves page body to the left, making navbar too narrow
<img width="640" alt="screenshot at nov 15 21-45-18" src="https://user-images.githubusercontent.com/10484318/32856875-c991d162-ca4e-11e7-8ba2-f4d0ab876b05.png">

[2017-11-15 20:07] SimenB commented on #4899
Should be fixed in #4781, thanks for the report!

[2017-11-15 20:07] #4899 closed

[2017-11-15 22:07] borela commented on #4896
I'll try to create a minimal repo.

[2017-11-15 22:20] borela opened #4900 "Tests using datasets"
**Do you want to request a _feature_ or report a _bug_?**
Possible feature

**What is the current behavior?**
I have an array containing arguments and the expected result that I use to check if a function is working properly. When one of the data rows fails, the expect shows the diff for the value being compared.

**What is the expected behavior?**
I need a way to print the entire data row when th

[2017-11-15 22:28] theoutlander commented on #2663
While the solution by @mbaranovski works, I don't know if his intention was to use it as a transformer. It produces the following output (pay attention to the src attribute):

`<img
        alt="ImgName"
        height="28"
        src={
          Object {
            "process": [Function],
          }
        }
        width="112"
      />`

Essentially, it is mapping everything from that module

[2017-11-15 22:38] marxlow commented on #3917
I am facing the same problem with jest that expects are not working as they should inside try-catch blocks.

[code]
The jest test above oddly passes.

[2017-11-16 00:52] yasserhussain1110 opened #4902 "Inconsistent test behavior"
**Do you want to request a _feature_ or report a _bug_?**

**What is the current behavior?**

My tests pass sometimes and fail at other times.

This is my repo -  https://github.com/yasserhussain1110/koa-graphql-jest
This is the specific test file - https://github.com/yasserhussain1110/koa-graphql-jest/blob/master/test/rest.test.js

I saw it mentioned in the docs that this can happen
if the you ar

[2017-11-16 00:57] mnichols commented on #1995
I just hit this too. Lerna is out of the question (there are lighterweight ways too achieve monorepo) and I've not been able to work around the opinionated filtering of node_modules either.

[2017-11-16 03:06] aaronbeall commented on #2567
Thanks... can you give an example? I'm using TypeScript which supports dynamic imports but I'm not clear how this would work because then the mock implementation becomes async, does Jest know how to wait for the mock to resolve before continuing with test cases?

[2017-11-16 04:46] robertmain commented on #2381
For me `npx jest` works - however `npm run-script unit` (which executes jest test/unit/specs --coverage` doesn't work.

[2017-11-16 06:22] SimenB commented on #2567
Just await the promise.

[code]

No idea how that looks with typescript, but shouldn't be too different

[2017-11-16 08:09] cpojer commented on #4902
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-11-16 08:09] #4902 closed

[2017-11-16 08:14] cpojer commented on #4898
I don't think we'll be able to make this obsolete. Jest provides guarantees that your snapshots in the repo always stay consistent. I'm wondering if there is a way you can change your approach to make this work properly. What is the value of running the tests twice but not storing snapshots for one of the test runs? That means you aren't really testing anything.

[2017-11-16 08:15] cpojer commented on #4900
Hello,

Thank you for posting here. I don't think this issue has sufficient information to allow us to consider how to integrate this feature and whether it is a good fit for Jest. Could you go into more detail of what API you'd like to see and how you'd like errors to be printed, ideally with a real example? Thank you

[2017-11-16 09:11] mattphillips commented on #4900
@borela this sounds like parameterised testing where by you supply data to the same test with different input/expected. Check out [jest-each](https://www.github.com/mattphillips/jest-each).

Example:

[code]

[2017-11-16 09:32] dfroger commented on #2980
This issue shoud be reopened.

`done()` is not called because of the error, and jasmin timeout is reached. That's ok. But what is not ok is that jest/jasmin shoud include in its report the error that happened.

The purpose of a test framework is to report errors that occured in the tested code. If it does not, this is a bug.

[2017-11-16 10:01] slorber commented on #4898
@cpojer during both FR/EN tests, the components render the same tree, the only thing that changes is the translated texts. I could use snapshot testing for both languages but don't really see the value.

As I said, I already have snapshots for EN and it's good enough to prevent refactoring errors. I want to also render all components in FR (without trying to match snapshot) and the only purpose is

[2017-11-16 10:13] slorber commented on #4898
Anyway, I just found a workaround that is good for my usecase: instead of running the same test twice with different env variable, I just duplicate it on 2 tests, one for each locale hardcoded with different settings:

![image](https://user-images.githubusercontent.com/749374/32885878-28729480-cabf-11e7-916b-f2ad2421161f.png)

[2017-11-16 11:04] borela commented on #4900
@mattphillips Thank you!

[2017-11-16 11:04] #4900 closed

[2017-11-16 11:23] #4898 closed

[2017-11-16 13:13] mjesun commented on #4897
I think it's because we run workers in `silent` mode by default, to be able to pipe everything into a `Stream`, so that we can later aggregate all of them and present them to the user (see [code](https://github.com/facebook/jest/blob/master/packages/jest-worker/src/worker.js#L83) and [README](https://github.com/facebook/jest/blob/master/packages/jest-worker/README.md#getstdout-readable)). This pro

[2017-11-16 13:23] ozsay opened #4903 "Feature request: pass the return values of beforeAll and beforeEach to the test functions"
I have a situation like this:
[code]

when I have many tests it's tedious to write this line on every test (prefer to avoid storing context object on global/describe scopes).

will be nice to have the ability to pass context objects from before hooks to the test functions as well as the after hooks:
[code]

[2017-11-16 13:27] roeeyud commented on #4903
+1

[2017-11-16 13:33] dfroger commented on #2980
The solution proposed by @holi-java  with `setupTestFrameworkScriptFile` is the only way I've found to test with `jest` code that may raise an error in a `setTimeout`.

@thymikee any chance somthing like that could be integrated into the core of `jest`? Isn't it a problem that for some function (which raise error in a `setTimeout`) that are unit-tested, jest just don't work, and to do no report  t

[2017-11-16 14:24] thymikee commented on #2980
@dfroger this is already supported in latest `test` version od Jest. You can give it a shot: `yarn add jest@test --dev`

[2017-11-16 14:33] dfroger commented on #2980
@thymikee works perfectly, awesome! (thanks for your quick reply, didn't noticed it was already supported in lasted `test`).

[2017-11-16 14:38] dfroger commented on #2980
for reference, fixed in #4669

[2017-11-16 14:50] garcianavalon commented on #4156
Agreed, Having a a flag to hide console output for PASS test and leave it for FAILED test would be a great addition to make test output more readable

[2017-11-16 15:14] dfroger commented on #3839
same problem for me, did someone found a workaround?

[2017-11-16 16:15] dfroger commented on #3839
@thymikee @aaronabramov The problem seems to be using `await` on a rejected `Promise` directly in the `it` function:

[code]
give the error:

[code]
but if `it` is embedded in a function:

[code]

it give the same warnings as when using `node` directly:

[code]

[2017-11-16 16:25] sparecycles commented on #4509
I've had issues with mapCoverage fixing code coverage for vue, but it scrambles the code coverage for js files.  I've tried modifying script_transformer.js to only apply mapCoverage to .vue files, and that worked great (actually, better for vue files which were included only because of collectCoverageFrom).

I'm using `jest@21.2.1`

@eddyerburgh have you experienced anything similar?  Currently I'

[2017-11-16 17:52] GAumala commented on #4896
I'm trying to run Jest from JS with this script:

[code]
If I run it on my laptop, I get this error:

[code]

If I comment out the line that adds the `--watch` argument it works.

Jest version: 21.2.1
node version: 8.8.1
yarn version: 1.2.1
OS: Linux

[2017-11-16 20:38] thymikee commented on #4896
It's because you'r not in git/mercury repository, already fixed on master: https://github.com/facebook/jest/pull/4865

[2017-11-16 20:38] #4896 closed

[2017-11-16 21:43] uipoet commented on #4842
https://github.com/tarunlalwani/jest-overriding-require-function-stackoverflow

[2017-11-16 22:07] rogeliog commented on #4897
Thanks for the info 😄 !

I think it would be great to be able to get the correct `isTTY` behavior when using `jest-worker` outside of Jest,

[2017-11-17 04:23] ericfalchier opened #4906 "Invalid Number when starting with zeros"
Ran this test. Might be a good reason why this test gets an error. (because it is invalid). However, it is technically an "allowed"  argument in javascript.

Not sure but maybe a good reason why it's like this. Thanks

![screen shot 2017-11-16 at 11 10 41 pm](https://user-images.githubusercontent.com/22512686/32929262-ca47da94-cb24-11e7-8405-a4a067338e4c.png)

[2017-11-17 07:49] SimenB commented on #4906
That's an error from babel (which is used automatically by jest). The Babel repl also shows the same error. Are you sure it's valid JavaScript? :P Currently on mobile, so can't just open up devtools and check.

[2017-11-17 09:35] cpojer commented on #4906
This is invalid JavaScript, not a Jest issue.

[2017-11-17 09:35] #4906 closed

[2017-11-17 11:23] mjesun opened #4907 "NaN check"
Should `expect(NaN).toBe(NaN)` return `true`? I guess so, but as you know, `NaN` is the only value where `x !== x`, so maybe it's correct to return `false` here.

[2017-11-17 11:24] cpojer commented on #4907
It should definitely return true.

[2017-11-17 11:26] mjesun commented on #4907
Added tags as "Good First Issue"; I think it's a nice task to get familiarized with the `expect` code. Also, people can workaround now by using `expect(Number.isNaN(..))`.

[2017-11-17 11:27] mattphillips commented on #4907
@mjesun alternatively people can use jest-extended and have a specific named matcher for this: https://github.com/jest-community/jest-extended#tobenan 😄

[2017-11-17 11:37] thymikee commented on #4907
I'm super curious on how many issues will we get in a year from now saying that this is a bug, because ECMAScript says otherwise XD

[2017-11-17 12:38] RealSilo commented on #936
I have 2 functions that were originally imported in the tests as
`import { getCurrentDate, getStartEndDatesForTimeFrame }  from ./../_helpers/date';`
As you see `getStartEndDatesForTimeFrame` is dependent on `getCurrentDate`. With the following setup the `getCurrentDate` test works well and uses the mocked version. On the other hand for some reason the `getStartEndDatesForTimeFrame` test doesn't u

[2017-11-17 14:20] seanpoulter commented on #4907
Is it easy for someone to change **all** of the docs for `toBe` to include the caveat that NaN !== NaN but it's handled?

[2017-11-17 15:07] ivan7237d commented on #1995
@mnichols I ended up having a node_modules_tests directory next to node_modules — not very good but the lesser evil.

[2017-11-17 16:42] mjesun commented on #4907
IMO we should change the helper text from `(using ===)` to `(using Object.is)`, and then we can expect `NaN` to be `NaN` while not lying. That said, as @thymikee said, we're probably going to get a lot of bugs based on that; people won't notice the difference.

[2017-11-17 18:32] nunofgs commented on #3580
Any news on getting a config option for `restoreMocks: true`?

[2017-11-17 21:12] seanpoulter opened #4910 "Support tests named using template literals in jest-editor-support"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
The test name is `undefined` in an `ItBlock` when using template literals. For example:
[code]
This leads to unexpected behaviour in the IDE, e.g.: orta/vscode-jest#171

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages

[2017-11-17 21:15] cpojer commented on #4910
This seems like an issue with `jest-editor-support`'s static analysis. Do you think you could peek into that package and send a PR with a fix? It's dangerous to go alone, so take astexplorer.net with you.

[2017-11-17 21:22] seanpoulter commented on #4910
I've got a PR in the works for the simple `` `literal` ``. Really want input on how to handle expressions.

[2017-11-17 21:36] #4644 closed

[2017-11-18 10:11] acamposruiz commented on #2550
Hi! @dKab
I had the same problem and I solved it by import from *react-icons/lib* instead of from *react-icons*
This approach is explained in the readme from the project here: https://github.com/gorangajic/react-icons#usage

I hope this is of some use for you!

[2017-11-18 11:32] d4nyll opened #4911 "Outdated contribution guidelines for website / documentation"
Currently, the [contributions guidelines for updating website / documentation](https://github.com/facebook/jest/blob/master/CONTRIBUTING.md#additional-workflow-for-any-changes-made-to-website-or-docs) has a step for running tests on the website.

[code]

But having just pulled in the latest version of Jest (with hash `3d84d75374d23b035cc87cba14afaa7b761273b7`), there are no NPM scripts with the na

[2017-11-18 11:48] d4nyll commented on #4903
This is similar to the suggestion proposed at #3553.

You can instead do something like this:

[code]

The describe and it blocks are just functions, so you can just define a variable within the function, and it will be available everywhere within the function scope. Although it's not very _clean_, I think it's better that to introduce framework-specific (and not very common) conventions as you ha

[2017-11-18 11:51] d4nyll opened #4912 "Unable to build website"
**Do you want to request a _feature_ or report a _bug_?**
:bug: Bug :bug:

**What is the current behavior?**

Steps to reproduce (following instructions from the [Contribution Guidelines](https://github.com/facebook/jest/blob/master/CONTRIBUTING.md):
[code]

**What is the expected behavior?**

The build should succeed and when I run `yarn run start` I should see the website.

**Please provide your

[2017-11-18 12:30] SimenB commented on #4911
/cc @ericnakagawa

[2017-11-18 12:40] thymikee commented on #4903
It's highly unlikely we're going to add extra arguments to the test fn (which is reserved for `done` callback).

[2017-11-18 12:54] thymikee commented on #4894
Looks like it's already fixed on master (install `jest@test` if you want to try)

[2017-11-18 12:54] #4894 closed

[2017-11-18 15:17] orta commented on #4910
That's not a bad solution for handling the inline expressions, replacing them with a `*` for regexing, you'd also have to consider the case where those tests are run multiple times.

[2017-11-18 15:17] ozsay commented on #4903
thanks for the reply.

perhaps a https://nodejs.org/api/async_hooks.html#async_hooks_class_asyncresource solution can be implemented to achieve the same goal (for node >=8).

[2017-11-18 17:43] itaied246 opened #4914 "Jest cli and config file regex work differently"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
Jest doesn't execute the same regex from cli and config file

My current config file:

[code]

Executing:
`"test:ut": "jest -c jest.json \"/(__tests__\\/ut\\/.*\\.test)\\.(tsx?|ts?)$\"",`

results:

[code]
But when I write the same regex in the config file as `testRegex` it works.

**What is the expect

[2017-11-18 18:13] #4903 closed

[2017-11-18 18:14] cpojer commented on #4914
It's highly likely this is because of the escaping and some missing backslashes, not because of a bug in Jest.

[2017-11-18 18:14] #4914 closed

[2017-11-18 19:16] lvl99 commented on #4495
Isn't this what babel-jest is supposed to do?

[2017-11-18 20:21] matthidinger commented on #3079
I was also getting random hangs while the tests ran in VSTS `--runInBand` fixed it.

[2017-11-18 23:18] seanpoulter commented on #4910
Yea, it sure does get messier if a test case is run multiple times. I think we can gauge our confidence in the pattern matching with a bit of overhead. Using the source code position from the `ItBlock` or modifying the test runner to include the line number with test results (IIRC there's an option to `jest-jasmine2`) will both help.

I've been trying to work through the interesting tests cases fo

[2017-11-19 05:43] wilfriedbarth opened #4915 "Add feature to take a snapshot movie"
**Do you want to request a _feature_ or report a _bug_?**
Feature

**What is the expected behavior?**
Add feature to take a snapshot movie. This idea is inspired by Rogelio Guzman's talk [Jest Snapshot's and Beyond - React Conf 2017](https://www.youtube.com/watch?v=HAuXJVI_bUs), 22:05 onward. I was searching online for it and couldn't find it. I think it would be cool if we started exploring ideas

[2017-11-19 18:10] rrustia opened #4916 "expect.anything() error"
In the expect.anything sample code, it's throwing an error in line 3("[1].map(mock)").

// Test code as below:

test('map calls its argument with a non-null argument', () => {
    const mock = jest.fn();
    [1].map(mock);
    expect(mock).toBeCalledWith(expect.anything());
  });

// Output from test below:

expect(jest.fn()).toBeCalledWith(expected)

    Expected mock function to have been called

[2017-11-19 22:42] jeffersoneagley commented on #1551
Having the same issue running 21.2.1

[2017-11-20 09:24] #4907 closed

[2017-11-20 16:55] FezVrasta opened #4922 "TypeError: val.entries is not a function"
**Do you want to request a _feature_ or report a _bug_?**
bug

**What is the current behavior?**
[code]

(the additional stack trace is added by me with a console.trace() placed in the problematic file)

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn insta

[2017-11-20 17:31] FezVrasta commented on #4922
As workaround, I noticed that if I wrap the component (in the test file) inside a `div` everything works nicely.

[code]

[2017-11-20 17:55] SimenB commented on #4922
/cc @pedrottimark

[2017-11-20 18:03] SimenB commented on #4892
This is fixed in `jest@test`. I have to admit I'm not really sure when it was fixed...

[code]

[2017-11-20 18:03] #4892 closed

[2017-11-20 19:37] maxletourneur commented on #2567
Posting my solution here as I ended up on this issue thread and it did not help.

My issue was:
`
// Does not work
jest.mock("./MyComponent", () => ({
    default: () => <div></div>,
}));
// Getting The module factory of `jest.mock()` is not allowed to reference any out-of-scope variables error.

`

Now store you mocked component in a variable with a name prefixed with `mock`
`
// This works!
cons

[2017-11-20 19:43] seanpoulter commented on #3793
I've just run into the same problem which affects teams developing across platforms. Someone's got their `test` script running `jest test/unit/specs` which doesn't work on Windows with Jest 21.2.1.

[code]

If we drop `\` as a valid filename character on *nix systems it would make the problem a lot simpler (e.g.: `path.normalize`).

[2017-11-20 20:08] safurabahrami commented on #666
I'm getting "TypeError: Cannot read property 'node' of undefined"

    "react": "^16.0.0-alpha.12",
    "react-dom": "^16.0.0-alpha.12",
    "react-native": "^0.48.4"

   "jest": "20.0.4"

[2017-11-21 00:03] pedrottimark commented on #4922
@FezVrasta 2 things so far. First I am sure. Second is opportunity for us to learn together :)

**First**: By design, enzyme wrappers are not intended for snapshots. But there is a helper:

1. `yarn add -D enzyme-to-json`
2. In your test file: `import toJson from 'enzyme-to-json';`
3. In your assertion: `expect(toJson(shallow(<Demo />))).toMatchSnapshot();`

**Second**: It still fails with the sam

[2017-11-21 07:30] FezVrasta commented on #4922
Hey.

I haven't use jest-to-jsdom just to avoid any additional dep in the repro

About "styles" property. It's documented as way to override the styles of an existing styled component.

[2017-11-21 07:42] tryzniak commented on #4912
It probably can be closed now because of #4924

[2017-11-21 07:43] #4912 closed

[2017-11-21 08:16] AvraamMavridis commented on #3126
I was facing the same issue, importing the `babel-polyfill` directly into the `jest.init.js`  (jest setup file) solved the issue for me.

[code]

[code]

[2017-11-21 09:07] leader22 opened #4928 "useFakeTimers() with async/await caused Timeout error"
**Do you want to request a _feature_ or report a _bug_?**

bug(or my misunderstanding?)

**What is the current behavior?**

This code ends up with `Timeout - Async callback was not invoked within timeout specified by jasmine.DEFAULT_TIMEOUT_INTERVAL.`

[code]

Do I misunderstand something?
Thanks in advance.

**What is the expected behavior?**

Expect test to be passed with 1000ms delay.

**Please

[2017-11-21 11:31] SimenB commented on #3580
PR welcome :)

Reopening as the original request was both the programmatic api and config, only the api was added.

[2017-11-21 11:46] mattdell commented on #3553
It would be great to get an explanation for the removal of `this`. To me, at least, this seems like a strange convention to enforce.

[2017-11-21 12:37] miluoshi commented on #936
I have managed to make it work by following a suggestion by @ainesophaur - by exporting all functions within an object and calling these exported object's methods instead of local scoped sibling methods:

[code]

[2017-11-21 14:19] mfulton26 opened #4930 "Parameterized + Parallelized"
This may not be officially support by Jest but I can run some tests multiple times in a forEach, for loop, etc. e.g.:
[code]

However, this does not allow me to run said tests in parallel because there is no way, from what I can tell, to split this into multiple files.

If my tests are IO bound or would otherwise benefit from parallelization it would be great to have a way to tell jest to run some

[2017-11-21 14:29] thymikee commented on #4930
There's a `test.concurrent` which runs your tests in parallel inside the same file, but it's not officially supported and I'd advice against it, because you're on your own taking this path (however Yarn codebase uses it, so you can check how they manage this API).

To benefit parallelization, you need to split your tests across multiple files, e.g. by having a template like this and generating the

[2017-11-21 14:29] #4930 closed

[2017-11-21 15:09] mfulton26 commented on #4930
Thank you @thymikee. My apologies for disrespecting the issue template. In my mind I was thinking I was asking for a new feature but I also knew it might be there so I see clearer now that this would have been better asked on Stack Overflow or Discord. Thanks.

[2017-11-21 16:42] LRNZ09 commented on #3822
Strangely I've resolved by doing:

`yarn test` will initially fail with `Cannot find module 'setupDevtools' from 'setup.js'` error.
`yarn test --no-cache` will fail with the same error.
`yarn test --no-watchman` will fail again.
`yarn test` will pass.

Don't know why but now it works.

[2017-11-21 20:53] ramusus opened #4931 "Bring back typeahead as a watch-mode plugin"
I tried to reinstall jest many times, tried to run it in `no-cache` mode.

I'm running jest:
`jest --watch ./assets --notify`

Config:
[code]

[code]
And no any results are displayed, unlike it was using version 20. But if I push enter the pattern will be applied and files will be found successfully.

[2017-11-21 21:32] thymikee commented on #4931
Please search this issue tracker more thoroughly and you’ll find that this feature has been temporarily disabled because of license migration to MIT. We’re working on watch more plugin system to make it work again.

[2017-11-22 10:41] juhamust commented on #4479
Continuing what @cpojer already said: Combine test results processors using custom one:
http://wookieb.pl/multiple-testresultsprocessors-with-jest/

However, it would be nice if testResultsProcessor would accept an array

[2017-11-22 12:49] yasserhussain1110 commented on #4902
a

[2017-11-22 15:32] johnnyreilly commented on #328
For anyone that lands on this these days, the modern day fix is have a `setupFiles` setting in your `package.json`:

[code]

In the `browserMocks.js` file include this `require` statement at the top:

[code]

[2017-11-22 17:04] AtticusFetch commented on #4359
@sospedra , I am having the same issue, were you able to find a workaround?

[2017-11-22 17:07] rogeliog commented on #4897
I think this can be closed now that https://github.com/facebook/jest/pull/4926 is merged

[2017-11-22 17:07] #4897 closed

[2017-11-22 17:41] andrewrady commented on #4156
I would agree. I am currently working on a project with a large group of tests and the output of passing tests makes the workflow harder when debugging.

[2017-11-22 17:46] rogeliog commented on #4916
Hi, thanks for reporting!

When you call `mock(1)` it calls the `mock` function with one arg, which is why this works...
[code]

But calling `[1].map(mock);` fails because `map` adds [two extra parameters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map) to the `mock` call(`index` and `array`).

To make it work you could do one of the following:

#### 1.

[2017-11-22 17:49] thymikee commented on #4916
Thanks @rogeliog <3

[2017-11-22 18:45] jtulk commented on #4883
Not directly related, but I have the problem where Jest gets stuck `determining test suites to run` all the time. I think typically import/export declaration mutations from sloppy Git merges are at fault, which would make this consistent with a dependency that failed to resolve. What's the easiest way to debug this since without a hard failure I don't get any indication of 'where' the fail occurs?

[2017-11-22 18:59] ashtonsix commented on #4883
Have you tried going to `node_modules/jest-resolve/build/index.js`, and adding `console.error(error)` before every line that says `throw error`?

[2017-11-22 19:10] crubier opened #4936 "Error when testing async generator"
This is a potential bug with jest / babel-jest

## What is the current behavior?

Jest does not seem to support testing async generators.

Everything is explained on this repo I made for the occasion:

https://github.com/crubier/jest-bug

## Setup

`npm install`

## Problem

  - `npm run test-no-jest` succeeds, it runs the test without any test framework, just using asserts.
  - `npm run test` fai

[2017-11-22 19:30] crubier commented on #4936
Found a fix to this bug, but I believe it should be solved another way within `babel-jest`.

The solution was to require `babel-polyfill`  from a Jest `setupFile`.

Here is the commit of the solution

https://github.com/crubier/jest-bug/commit/ea0fa2452e6d40d4e61cc0a412fcc341131ec718

[2017-11-22 20:09] jtulk commented on #4883
@ashtonsix Sweet - that works perfectly. Thank you!

[2017-11-22 20:51] borela opened #4937 "Please release a new beta version"
Many fixes were added already.

[2017-11-22 20:56] thymikee commented on #4937
`21.3.0-beta.9` was released today.

[2017-11-22 20:56] #4937 closed

[2017-11-22 21:08] borela commented on #4937
Thank you! I didnt see it, npm was installing from cache.

[2017-11-22 21:16] mfulton26 opened #4939 "test.concurrent - buffered console messages"
**Do you want to request a _feature_ or report a _bug_?**

_feature_

**What is the current behavior?**

Console messages from tests executed with `test.concurrent` are intermingled.

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.

[2017-11-22 21:56] trevor-bliss commented on #4274
Any update for this one?

As a workaround, I'm using `--outputFile` to write the results to a temporary file and then doing post-processing against the file after the test run completes.

[2017-11-22 23:00] #4580 closed

[2017-11-22 23:01] piranna opened #4940 "`jest-runtime` makes each module to have its own modules cache"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the current behavior?**

Printing the content of `require.cache` in several files, they are shown as being isolated ones from others instead of being shared as Node.js `require()` function does. Jest-runtime has [its own require function](https://github.com/facebook/jest/blob/5800f4752b6c696ce60a5708fafc3a71d4811c6d/packages

[2017-11-22 23:09] pedrottimark commented on #4922
@FezVrasta Thank you for the sample project. Fixed by #4935

Here is an example of a shallow snapshot:

[code]

For more information about `identity-obj-proxy` in Jest, see [Mocking CSS Modules](http://facebook.github.io/jest/docs/en/webpack.html#mocking-css-modules)

[2017-11-22 23:09] #4922 closed

[2017-11-22 23:28] gaearon commented on #2547
I wanted to write a custom matcher for amending `toThrow` behavior. I looked at existing `toThrow` matcher and didn't want to fork it (thus losing any bugfixes, supported argument overloads, etc). So I guess I won't do it. (Just tossing this out as an example for this being helpful.)

[2017-11-23 04:48] theKashey commented on #1937
Thats was not a perfect answer. It is better to say - Jest sanboxing system does not allow any third-party mocking system to coexists. _And_ it does include some sort of mocking, by the way.

https://github.com/theKashey/rewiremock does supports proxyquire-like syntax, and it could work inside Jest environment. But proxyquire and 99.9% other mocking libs cant bypass Jest's systems.

[2017-11-23 07:38] SimenB commented on #4916
@thymikee @rogeliog the issue is that the the example in the OP is from the docs.

https://github.com/facebook/jest/blob/2ae45c306bf03612061ce2c802857d74cca7d215/docs/ExpectAPI.md#expectanything

@rrustia would you like to send a PR with one of the fixes above?

[2017-11-23 08:38] cpojer commented on #4940
Jest does not support `require.cache`. If you'd like to set a module, you can add it to setupFiles in a way that does `jest.mock('module-name', () => { return moduleContents }, {virtual: true})`.

[2017-11-23 08:38] #4940 closed

[2017-11-23 08:58] piranna commented on #4940
Thanks for the advice, I'll give it a try.

[2017-11-23 12:44] sebinsua commented on #3079
This fixed it for us. I can't remember where I found this, but posting it here in case others need it.

[code]

[2017-11-23 15:07] mjesun opened #4942 "Investigate moving away from Node's default IPC mechanism"
Currently, `jest-worker` uses internal Node's IPC mechanism; which in turn uses JSON serialization to transmit objects.

We should investigate if we could gain some speed + versatility if we switched to use `v8.serialize` / `v8.deserialize` V8's APIs, which are exposed through the `v8` module. These methods allow to serialize `Date` and `RegExp` objects, and they also make possible to serialize ci

[2017-11-23 15:13] mjesun commented on #4942
Assigning it to @BYK who is interested in experimenting with this.

Some code pointers:
* [Internal send happens.](https://github.com/facebook/jest/blob/master/packages/jest-worker/src/worker.js#L93)
* [Internal receive happens.](https://github.com/facebook/jest/blob/master/packages/jest-worker/src/worker.js#L89)
* [Bootstrapping file we open in child processes.](https://github.com/facebook/jest/b

[2017-11-23 15:26] NirBenita opened #4943 "fake setInterval not working as expected"
First of all, thank you so much for creating this AMAZING tool! It's really inspiring in terms of developer experience.

**What is the current behavior?**
`runAllTimers()` results in a setInterval mock with only 1 call.

**If the current behavior is a bug, please provide the steps to reproduce and**
👇 [Open in project](https://github.com/NirBenita/todo-pomo/blob/test-timer/src/App.test.tsx#L82)
[c

[2017-11-23 15:55] sospedra commented on #4359
@AtticusFetch For reasons we needed the timer to be fixed hence we started using `jest.useFakeTimers()` and `Date.now = jest.fn(() => 1503187200000)`. This causes `jest` to stop using timer `worker-farm` thus avoiding the error.

Hope it helps

[2017-11-23 16:28] spion opened #4944 "Bug in jest node_modules resolver - doesn't work in yarn workspaces"
The jest node_modules resolver doesn't work when run from packages within individual workspaces.

This is because module paths that are above the individual package directory are not checked - therefore modules are not looked up in the workspace directory itself.

Steps to reproduce:

1. create a yarn workspace at

       /path/to/workspace

2. Add a module: `/path/to/workspace/packages/test-modul

[2017-11-23 18:04] spion commented on #4944
Sorry, disregard this. The problem was something totally different.

[2017-11-23 18:04] #4944 closed

[2017-11-23 19:08] ramusus commented on #4931
@thymikee thanks for explanation

[2017-11-23 19:08] goodbomb commented on #3630
We're experiencing this issue on Windows Server 2016 with our TeamCity builds.

[2017-11-23 19:58] piranna commented on #4940
Confirmed, it works. Thank you! :-D

[2017-11-23 20:07] rdy commented on #848
I'm a maintainer of [gulp-jasmine-browser](https://github.com/jasmine/gulp-jasmine-browser) which attempts to automate headless browser controls using the techniques described in this thread except using jasmine. We just finished our support for puppeteer and also have support for phanotm and slimer. I'm thinking of building a newer 2.0 version to launch the test runner and send the results back t

[2017-11-23 22:15] alayor commented on #2582
@GoldAnna have you found a workaround for this issue?

[2017-11-24 04:59] eric4545 opened #4945 "example expect().rejects.toThrow not working as expected"
**Do you want to request a _feature_ or report a _bug_?**

**What is the current behavior?**

Test case cannot pass got following
[code]
**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**

Following example in https://facebook.githu

[2017-11-24 05:20] eric4545 commented on #4945
https://github.com/facebook/jest/pull/4884

[2017-11-24 05:20] #4945 closed

[2017-11-24 07:48] SimenB opened #4946 "`toThrowErrorMatchingSnapshot` does not work with promises"
**Do you want to request a _feature_ or report a _bug_?**
Feature

**What is the current behavior?**
One cannot use `.rejects.toThrowErrorMatchingSnapshot()` on a rejected promise. This means there's not the same parity between synchronous and asynchronus `toThrow` introduced in #4884.

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through http

[2017-11-24 07:49] SimenB commented on #4946
@lsentkiewicz would you be interested on working on this, similar to #4884? 🙂

[2017-11-24 08:08] AllenFang commented on #2441
There's no need to configure `verbose` or additional jest configs and the problem just gone when I  upgrade my node version from `7.4.0` to `8.0.0`.  That's my observations.

Using `jest@21.2.1`

[2017-11-24 09:50] thymikee opened #4947 "Remove references to Node 4 compat"
**Do you want to request a _feature_ or report a _bug_?**
Chore after Jest 22 release

There are multiple references, notes and tips regarding getting some features to work with Node4 and npm 2. Since we drop these in v22, it's safe to remove them after the release.

We should also make it clear and explicit in README, website and package.json's `engines` entry that Jest doesn't work with Node 4 (

[2017-11-24 09:53] thymikee opened #4948 "Prepare v22 release"
What's blocking us on releasing new major?
@cpojer @rogeliog @SimenB @mjesun @pedrottimark feel free to edit/update this post.

* [x] Up-to-date change log
* [ ] Release Highlights
* [ ] Blog post

[2017-11-24 10:01] cpojer commented on #4948
@mjesun could you write the blog post? The biggest new module is jest-worker. We should also highlight @rogeliog's talk about "Jest as a platform" in the blog post and possibly we should also mention some of the highlights from Jest 21 (didn't have time to write a blog post).

[2017-11-24 10:18] julestruong commented on #1389
did you manage to get a solution ? @yutin1987

[2017-11-24 10:26] cpojer commented on #4939
`test.concurrent` is currently not documented or supported well. It has the gotchas you are describing and it's unlikely we'll fix them anytime soon without completely redoing the test framework within Jest. I'll close this as wontfix for now because nobody is actively working on this.

[2017-11-24 10:26] #4939 closed

[2017-11-24 10:27] cpojer commented on #4915
This can be built using higher level APIs and doesn't have to be in Jest.

cc @rogeliog

[2017-11-24 10:27] #4915 closed

[2017-11-24 10:28] cpojer commented on #4804
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-11-24 10:28] #4804 closed

[2017-11-24 10:28] cpojer commented on #4752
Jest uses regular expressions to extract imports and builds a static dependency graph. Without a repository that highlights the full example it will be hard to troubleshoot this.

[2017-11-24 10:28] #4752 closed

[2017-11-24 10:29] #4839 closed

[2017-11-24 10:31] cpojer commented on #4316
Closing for now as nobody is thinking of doing this.

[2017-11-24 10:31] #4316 closed

[2017-11-24 10:33] #4191 closed

[2017-11-24 10:34] #4022 closed

[2017-11-24 10:34] cpojer commented on #4022
Maybe one day… :)

[2017-11-24 10:35] samvloeberghs commented on #4444
@cpojer could you provide some more info why it's closed? is there a fix provided? We still have this issue

[2017-11-24 10:39] cpojer commented on #4444
Apologies, seems like the fix has not landed in graceful-fs yet :(

[2017-11-24 10:40] cpojer commented on #3988
I'll close this one for now as nobody is working on it.

[2017-11-24 10:40] #3988 closed

[2017-11-24 10:41] cpojer commented on #3817
*shrug*

[2017-11-24 10:41] #3817 closed

[2017-11-24 12:38] JamesTheHacker commented on #4945
Does this work in the current stable release? I'm using 21.2.1 and still getting issues.

[code]

I still get the same error:

[code]

And if not how can I solve this problem without using a non stable branch?

[2017-11-24 16:07] SimenB commented on #4945
This is just supported in the beta for now (new stable coming in the not too distant future). Please see #3601 for workarounds

[2017-11-24 18:05] ramusus commented on #4931
I had searched but found no results. @thymikee can you please provide ticket number, so I can follow, when functionality will be returned back?

[2017-11-24 18:13] thymikee commented on #4931
We're not currently tracking this issue.

[2017-11-24 18:53] vorlov opened #4952 "how to compare implementation of arrow functions inside 2 objects"
"jest": "21.2.1"

I have a function that returns and object like this
`const createRequestFunc => (props) =>
  Object.assign(
   props,
    {
      successCb: data => ({
        data,
        type: 'SUCCESS'
      })
    }
  );`

I want to check if the result of this function call matches this object with same successCb implementation.

`const expectedActionPayload = {
      successCb: jest.fn(dat

[2017-11-24 18:56] thymikee commented on #4952
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](http://facebook.github.io/jest/en/help.html). Thank you :)

[2017-11-24 18:56] #4952 closed

[2017-11-24 19:01] GoldAnna commented on #2582
@alayor I have not

[2017-11-24 19:22] gcox commented on #2582
As many times as I've run into this problem, I'm now convinced I'm either not testing properly, not using `jest` as the authors intended, or some combination of both. Further proof is that almost none of the mock related examples in `jest`'s documentation seem like real world examples to me...they probably are and my approach is probably incorrect.

That said, the following works for me, and all o

[2017-11-24 21:05] theoutlander commented on #4710
I had this very issue, but it was sporadic. It was caused by opbeat, but I think it also had someting to do with creating a global.window object in my setup test file. Removing opbeat has fixed the issue for me. :|

[2017-11-24 21:56] brandonjmckay commented on #2714
@thymikee [ember-cli-mocha](https://github.com/ember-cli/ember-cli-mocha) is another popular testing setup in Ember.
A lot of people use mocha through that.

Not sure if that helps you

[2017-11-24 22:01] thymikee commented on #2714
@brandonjmckay thanks for your interest, but I don't have the bandwidth to tackle Ember integration. Hopefully someone from the community will make it one day :)

[2017-11-24 22:11] jorrit-g opened #4953 "Not able to mock fat arrow functions"
Classes with methods written in fat arrow syntax cannot be mocked:

[code]

Is this expected behavior? If so, the docs do not mention this as far as I know.

versions:

babel-jest: "20.0.1"
jest: "20.0.1"

[2017-11-24 22:21] thymikee commented on #4953
Property initializers (`cannotMock` "fat" arrow syntax) are not in the prototype. See [babel example](https://babeljs.io/docs/plugins/transform-class-properties/#example).

You likely want to do this:
[code]

[2017-11-24 22:21] #4953 closed

[2017-11-24 22:37] jorrit-g commented on #4953
Hi @thymikee it does not solve the issue, but I guess it is more a lack of understanding babel from my part than an issue with Jest.

[2017-11-24 23:40] onury opened #4954 "Automatic use of .babelrc causes TypeError: Cannot read property 'globals' of undefined"
**Do you want to request a _feature_ or report a _bug_?**
**Bug**.

**What is the current behavior?**
As @cpojer mentions [here](https://github.com/facebook/jest/issues/1850#issuecomment-251269566), Jest uses `.babelrc` (or `babel` property in `package.json`) only because it exists there. Even in cases where the configuration and usage does not even relate to or trigger babel.

`jest --coverage` t

[2017-11-25 00:50] loganfsmyth commented on #4954
The most recent beta of `babel-jest` includes support for Babel 7. See https://github.com/facebook/jest/tree/master/packages/babel-jest#usage with the note about Babel 7 usage. You have to install `babel-core@^7.0.0-0` along with the most recent beta of `babel-jest` and it should work.

[2017-11-25 00:56] onury commented on #4954
@loganfsmyth  I'm using `@babel/core` and `@babel/cli` both `7.0.0-beta.32`.

But the problem here is I don't want to use `babel` and `jest` in conjunction. I don't need a tool for it. I use them separately in the same project. And it's clearly a bug that `jest` auto-uses babel config where ever it sees it.

[2017-11-25 01:10] loganfsmyth commented on #4954
[The docs for Babel state:](https://facebook.github.io/jest/docs/en/getting-started.html#using-babel)

[2017-11-25 01:15] onury commented on #4954
Ah this works (around)! :) Thanks @loganfsmyth for pointing that out.
I'm sure this behavior will be removed eventually, though... logically..

[2017-11-25 04:36] NickMalt opened #4956 "Pretty-format toJSON maximum call stack error"
**Do you want to request a _feature_ or report a _bug_?**
bug

**What is the current behavior?**
As I understand [this code](https://github.com/facebook/jest/blob/master/packages/pretty-format/src/index.js#L188) expect that `toJson` function return already stringified version of object, which is not [right](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/strin

[2017-11-25 09:06] SimenB commented on #4956
From what I can understand in the docs, `toJSON` is expected to always return a string - just not necessarily something that can be fed to `JSON.parse`. Or am I misreading it?

/cc @pedrottimark

[2017-11-25 09:08] SimenB commented on #4954
Closing as this is working as intended, and the workaround in the docs works.

Thanks for chiming in @loganfsmyth!

Why do you think that?

[2017-11-25 09:08] #4954 closed

[2017-11-25 09:55] cpojer commented on #4956
JSON is a string representation of JavaScript objects. `toJSON` implies that you are creating that string representation. If you are returning something that is not a string it is by definition not JSON and means your API is wrongly named or doing the wrong thing.

[2017-11-25 10:55] fudanchii commented on #4710
It's been broken consistently in my circle CI (jest running inside docker container with node:8.9.0 image, also tested with node:8.9.1 same error).

The test run without a hitch in my local machine (even with the same setup as circle CI i.e. run in docker and node:8.9.0).

But since it's always errored in the CI, I think I can test something in case anyone has any suggestion.

Here's the log from

[2017-11-25 11:34] onury commented on #4954
@SimenB setting an empty object to disable an unrelated, sub-component is not right, not elegant. The user should opt-in to enable such a behavior. Otherwise, it still feels buggy to me.

When you look at the configuration, you feel you can/should just delete `transform` there:
[code]

[2017-11-25 15:53] vkhotey opened #4957 "Compared values have no visual difference"
I store data to create summary in object, pass it object to service that create summary and return summary with additional data. I pick desired fields from summary and compare with object that contain data to create summary and have an error, how fix it ?
[code]

[code]

<img width="1106" alt="screen shot 2017-11-25 at 5 52 59 pm" src="https://user-images.githubusercontent.com/8752583/33232145-83f

[2017-11-25 18:00] loganfsmyth commented on #4954
I'll say I think it's weird. I didn't realize `babel-jest` was installed automatically until this issue was referenced. It seems like people should have to opt in to integrating Babel into another tool.

[2017-11-25 19:22] vkhotey commented on #4957
Maybe problem with mongoose model, to fix use `.toObject`
[code]

[2017-11-25 19:22] #4957 closed

[2017-11-26 06:19] blakedietz commented on #4637
So to clarify, this still doesn't work from what I can tell.

[2017-11-26 10:32] papandreou commented on #3137
It'd make it easier to port an existing mocha test suite to jest if jest supported `before` and `after` as aliases. Also for the rare case where need to support both test runners, especially in test-related tools.

[2017-11-26 18:32] shai32 commented on #3847
@pedrottimark issue still exists in 21.2.1

[2017-11-26 18:34] shai32 commented on #3847
it takes 10 minutes

[2017-11-27 02:06] rattrayalex commented on #2814
@SimenB Would you mind providing a copy-pastable snippet or a link to a library?

(Seems fairly easy to piece together, but always nice to have something packaged).

[2017-11-27 02:29] mschipperheyn opened #4959 "Jest throws all sorts of React-Native contextual errors unrelated to the test in question"
I'm trying to run tests for a react-native and I find that I'm spending A LOT of time trying to get jest to actually run the test as opposed to working through an endless parade of errors that are completely unrelated to the tests I'm trying to run. These types of errors affect ALL the tests in question even though many of them don't even import react-native. Not exactly a delightful experience.

[2017-11-27 03:43] robertmain opened #4960 "Jest reports coverage data on files that haven't been touched in the tests"
**Do you want to request a _feature_ or report a _bug_?**
Report a bug

**What is the current behavior?**
When running jest with `jest --watch`, and I save [line.test.js](https://github.com/robertmain/node-pureimage/blob/fix-unit-tests/tests/specs/line.test.js) it shows 100% statement, branch, function and line coverage for [Point.js](https://github.com/robertmain/node-pureimage/blob/fix-unit-test

[2017-11-27 05:04] lexiv0re opened #4961 "Immutable.Record comparison"
**Do you want to request a _feature_ or report a _bug_?**
bug

**What is the current behavior?**
`Immutable.Record`'s of the same structure but from different 'factories' are not treated like equal

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` a

[2017-11-27 07:02] SimenB commented on #2814
We've made a serializer for mocks in the next version of Jest, so just so `expect(myMock).toMatchSnapshot()`.

See this for examples on how it looks: https://github.com/facebook/jest/blob/4883838c16471fd3447c5fea1ab261140d37f7c6/packages/jest-snapshot/src/__tests__/__snapshots__/mock_serializer.test.js.snap

Available in `jest@test` (release coming soonish - #4948)

[2017-11-27 07:12] SimenB commented on #4961
Sorta related: #4618

Again, I don't think we should special case Immutable.js. It should be easy to create custom matchers just using `Immutable.is` or something, and use `expect.extend`

[2017-11-27 07:25] lexiv0re commented on #4961
Was it a special case in `Jest v19`? Or it was working by chance?

[2017-11-27 07:32] SimenB commented on #4961
I'm not sure, actually... A quick look through the changelog doesn't help shed any light on it

[2017-11-27 10:22] Naouak opened #4965 "UncaughtException in a promise does not fail tests."
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**

Jest doesn't report an uncaughtException when it happens in a promise.

[code]
**What is the expected behavior?**

Both tests should fail.

[2017-11-27 10:31] cpojer commented on #4965
`Promise.resolve` does not execute functions passed to it. Try `Promise.resolve().then(() => connection.emit('error', new Error()))`.

[2017-11-27 10:31] #4965 closed

[2017-11-27 10:40] thymikee commented on #4959
How about calming down and providing some real example? I'm not aware of this kind of errors currently.

[2017-11-27 10:48] Naouak commented on #4965
Sorry my reduction of the test case was not enough:

[code]

[2017-11-27 10:49] Naouak opened #4966 "UncaughtException in a promise does not fail tests"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**

Jest doesn't report an uncaughtException when it happens in a promise.

[code]
**What is the expected behavior?**

Both tests should fail.

[2017-11-27 10:50] #4966 closed

[2017-11-27 10:51] cpojer commented on #4966
https://github.com/facebook/jest/issues/4965

[2017-11-27 10:55] Naouak commented on #4965
Why did you closed both issues? The second test case provided shows the bug.

I have non testable code because some dependencies throw an error event AND a promise rejection.

[2017-11-27 11:00] thymikee commented on #4965
How do you expect the promise to throw, if you catch it?

[2017-11-27 11:04] Naouak commented on #4965
The issue is that an event emitter emitting an error event throws an uncaughtException at process level if there is no listener for the 'error' event. You can't catch it in your function.

In the first test, it should fail because there is an uncaught exception. It seems the promise rejecting cancel the output for jest, I don't know why but it makes code that uses amqplib untestable.

[2017-11-27 11:28] mschipperheyn commented on #4959
Hi, yeah, sorry, was a bit frustrated going from one issue into the other. Ok, here are some examples of tests throwing errors

[code]

package.json
[code]

Example test:
typingMiddleware.spec.js (WIP)
[code]

[2017-11-27 11:29] cpojer commented on #4959
It's possible there are some mocks missing in React Native for the android stuff. In any case, this issue, however frustrating it may be, is not a Jest issue but an issue with React Native.

[2017-11-27 11:29] #4959 closed

[2017-11-27 12:23] caub opened #4967 "no coverage reports: All files `Unknown`"
Similarly to #1889, I can't figure how to let Jest report coverage to codecov

When I shim Jest quikly like [this](https://github.com/caub/mongo-connect-sync/blob/master/test/index.spec.js#L4-L16) then `npx nyc node test/index.spec.js` works fine and give:
[code]

But when I run `npx nyc jest` I get:

[code]

here's the same output from travis log: https://travis-ci.org/caub/mongo-connect-sync#L13

[2017-11-27 13:07] Naouak commented on #4965
For reference, here is the Node documentation referring to why the test should fails:
https://nodejs.org/api/events.html#events_error_events

[2017-11-27 14:19] stipsan opened #4968 "jest --findRelatedTests --listTests crashes when es6 import have doubleslashes and moduleNameMapped"
# Warning: This is one of the most edgy edge cases I ever saw

We have a guy on our team with a special set of skills. He keeps finding the strangest and rarest edge cases and today had maybe the highest WTF's per minute in a long time.

**What is the current behavior?**

## [Minimal repro](https://github.com/stipsan/jest-resolver-bug)

It fails with a non-zero exit code and no output when `jest -

[2017-11-27 14:21] stipsan commented on #4968
Forgot to mention this applies to `21.3.0-beta.10` as well as `21.2.1`

[2017-11-27 14:22] AntonPuko commented on #4956
@cpojer I think you're wrong. toJSON() is kind of middlware for JSON.stringify() transformation, and it shouldn't always return `string`, but anything that can be passed directly to JSON.stringify().
just look at this example:
https://docs.microsoft.com/en-us/scripting/javascript/reference/json-stringify-function-javascript#example-2

[2017-11-27 14:46] gaearon commented on #4842
I don't think this is a great solution, as it doesn't perform any "missing export" checks that are so valuable with ES modules. For example, in React repo I started running build more often just because Rollup finds these mistakes but Jest with `es2015-modules-commonjs` does not.

It would be pretty great to invest some time into their interop. Pretty sure this hacky solution will break eventually

[2017-11-27 15:07] cpojer commented on #4956
Yap, you are right, my mistake. cc @pedrottimark

[2017-11-27 15:13] mjesun opened #4969 "Standardize file naming"
File naming conventions in Jest can be improved. A good example is the `integration_tests` folder. We have:

* Dashed names: `auto-clear-mocks`
* Underscored names: `clear_cache`
* Camel case names: `testNamePattern`
* Dash + camel case names: `timer-resetMocks`
* Underscore + camel case names: `stack_trace_no_captureStackTrace`
* ? names: `regex-(char-in-path`

I understand that some of the camel

[2017-11-27 15:17] cpojer commented on #4969
I want to use camelCase for functions, dashes for folders and Capitalized for classes. I'll send a tshirt to the person that makes this happen.

[2017-11-27 15:35] thymikee commented on #4969
cc @aaronabramov

[2017-11-27 15:54] mjesun commented on #4969
+1 to @cpojer's suggestion. I think it matches the "standard" at the industry.

[2017-11-27 15:56] thymikee commented on #4969
For the reference: https://github.com/facebook/jest/issues/3771

[2017-11-27 16:52] Qix- commented on #4956
I think @AntonPuko outlined some simple reproduction steps in qix-/color#134 (mentioned above).

[2017-11-27 17:15] caub commented on #4967
seems `--coverage` options helps

[2017-11-27 17:15] #4967 closed

[2017-11-27 19:33] HarleyKwyn commented on #3370
So is there a way currently to stop Jest from setting the NODE_ENV environment variable?

[2017-11-27 19:56] goodbomb commented on #3630
@HipsterZipster Do you have a link to that new ticket you created so that we can follow it?

[2017-11-27 21:41] djb5143 commented on #3449
If anyone else is looking for a Worker stub here is one I made. I haven't had any issues with it yet.
[code]
If you are using create-react-app you can stub workers globally by adding this to src/setupTests.js.
`window.Worker = Worker;`

[2017-11-28 02:05] mattblang opened #4972 "Image comparison is extremely slow when running in a Jest environment"
I'm using `Jest` with [jest-image-snapshot](jest-image-snapshot) to create and diff image screenshots taken with [puppeteer](https://github.com/GoogleChrome/puppeteer). When running a simple test the image comparison causes the test to take close to thirty seconds. I also wrote a Jest test without `jest-image-snapshot` that instead uses [Resemble](https://huddle.github.io/Resemble.js/) for the ima

[2017-11-28 09:07] SimenB commented on #4972
If I remove the assertion, your repro passes in 3-5 seconds for me. I don't think this is jest's fault

[2017-11-28 09:07] thymikee commented on #4972
Have you tried to profile this and identify where it gets slow?

[2017-11-28 10:14] jeanlauliac opened #4973 "--watch failing despite being in hg repo"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the current behavior?**

Using `jest` v21.3.0-beta.8, `node` v8.5.0. When running `jest --watch Foo` it says:

    --watch is not supported without git/hg, please use --watchAll

But running `--watchAll` work. This is within a Mercurial (hg) repository, so the error message doesn't make much sense to start with.

**What is t

[2017-11-28 11:48] elvisvoer opened #4974 "toThrow succeeds if the expected string is a substring of error.message"
Hey guys,

I am not sure if this is expected behavior or an error in the library but it seems that `toThrow` succeeds if the expected string is a substring of the asserted error.message.

Here is a repo that demonstrates this: https://github.com/elvisvoer/jest-tothrow

If this is intended behavior you should update the docs accordingly.

[2017-11-28 12:55] SimenB commented on #4973
I'm wondering if that was fixed in #4865. Can you try the latest beta?

[2017-11-28 14:22] slootzky commented on #4969
I'll take a look on this

[2017-11-28 16:29] dmgawel commented on #890
@msholty-fd you could try this approach:

[code]

[2017-11-28 16:47] fringd commented on #4928
I'm not 100% sure but i think you Either want to write something like

done => {
 setTimeout(() => done(), 1000);
}

or

async () => {
  result =  await someOtherPromise;
  expect(await).toBe(...);
}

or without the es6 sugar the last one could be rewritten as
() => {
  return someOtherPromise.then((result) => {
    expect(result).toBe(...);
  });
}

so EITHER promises OR done... not both.

That s

[2017-11-28 17:13] lfkwtz commented on #1411
Any update on the selector API?

[2017-11-28 17:42] SimenB commented on #4973
Beta 8 does not contain #4865, so closing this. Please reopen if it's still an issue on the latest beta.

[code]

[2017-11-28 17:42] #4973 closed

[2017-11-28 19:37] JaneCoder commented on #2292
I've been trying to figure out how to use tee to see both the output file and get something in the terminal (since CI emails that). Any ideas on making that work?

[2017-11-28 19:41] pedro-mass commented on #1619
You don't get the before/after hooks making tests dynamically for some reason. I'm guessing the dynamic functions are out of scope.

[2017-11-28 19:55] incompl commented on #3058
I agree that it's a problem that the test passes if you remove the return. Not opinionated about what the solution should be.

[2017-11-28 20:35] mfulton26 opened #4977 "stdout not being flushed before Jest's test result summary is written"
**Do you want to request a _feature_ or report a _bug_?**

I want to report a _bug_.

**What is the current behavior?**

The last `process.stdout.write` invocation in an `async` test is not flushed before Jest's test result summary is written.

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
rep

[2017-11-28 21:15] gehrhorn commented on #4911
I'm trying to follow these instructions too. To add on, the ```npm start``` command works, but I get an error.

![image](https://user-images.githubusercontent.com/286615/33344507-380e8146-d457-11e7-8642-0841bea3e97d.png)

Is there a step missing to running a local copy related to translations?

[2017-11-29 00:48] aledalgrande commented on #3419
`le_node` creates this situation for me too.

[2017-11-29 01:24] mj-airwallex commented on #1965
Hi @cpojer any updates on this?

Jest is working great for me except for this issue... At the moment I'm struggling to fix a failed assertion within a for loop like
`expectationsArray.forEach(expectation => expect(...))`

It's hard to figure out exactly which expectations fail without a custom error message (unless I'm doing it wrong..?)

Thank you

[2017-11-29 01:55] leader22 commented on #4928
Thanks for the comment.
But I need to use BOTH `done` for callback and `await` for promises.

Because some libraries only provide callback style API, then this situation happens.

[2017-11-29 02:06] AndrewRayCode opened #4979 "Jest + React(?) + jest-jasmine(?) swallows errors"
**Do you want to request a _feature_ or report a _bug_?**
Bug. `"jest": "^21.2.1",`

**What is the current behavior?**
As you can see, in VSCode in my debugger, I'm paused on this line. I'm about to execute `errors.map`, which will fail because errors is an object! Oh dear.

![screen shot 2017-11-28 at 5 26 05 pm](https://user-images.githubusercontent.com/79215/33353161-446c45d6-d461-11e7-8383-636

[2017-11-29 02:29] fringd commented on #4928
Use promise and `new Promise(resolve => callbackneedingfunction(resolve))`

On Tue, Nov 28, 2017, 8:55 PM Yuji Sugiura <notifications@github.com> wrote:

[2017-11-29 03:01] leader22 commented on #4928
Of course I know that.

But in this issue, the point I want to know, is why the code above does not work.
Is this limitation of Jest or some mistakes there.

(I updated repro codes more clearly

[2017-11-29 04:56] robertmain commented on #3968
I'm having a similar issue with Jest generating random or nonsensical coverage data in #4960

[2017-11-29 06:02] raku1089 opened #4980 "How to test customized 'React-loadable' ?"
### below is the code for which i want to write test case.
[code]
### Here i have used CustomLoadable function, which loads component dynamically  .
[code]

[2017-11-29 07:17] ryanflorence commented on #4763
Same, I'm seeing 6 skipped tests, I'm pointing at my __tests__ folder, so there shouldn't be anything weird it's picking up, my code doesn't have `.skip` anywhere.

[2017-11-29 07:18] SimenB commented on #4980
Please use the issue template.

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-11-29 07:18] #4980 closed

[2017-11-29 07:19] SimenB commented on #4979
I don't have this issue in any of my projects. Can you provide a full, minimal repro I can run?

[2017-11-29 07:26] SimenB commented on #4763
Do you have an example of a skipped test?

Or if you point jest directly at a test file with skipped tests, are they still skipped?

[2017-11-29 07:35] SimenB commented on #3058
I don't think Jest should do anything here. Like mentioned above, the example in the OP is just a fancy way of doing `done` that will instantly reject fail of time out on rejections.

I think a better solution is to promote https://www.npmjs.com/package/babel-jest-assertions. It ties into the alternative in the OP, but you don't have to maintain the number of assertions manually

[2017-11-29 08:35] thymikee commented on #1965
@mj-airwallex you're good to wrap expectations with a `test` in a for loop for example:
[code]

[2017-11-29 09:53] jwickens commented on #4234
I have a use case for this in my lerna repo. I have end to end tests that should run after local packages have finished building on a separate thread. Even though im ignoring the source directories jest runs multiple times for a single change. A delay option would help batch up those changes

[2017-11-29 09:54] jeanlauliac commented on #3058
Cool let's close this then.

[2017-11-29 09:54] #3058 closed

[2017-11-29 09:59] thymikee commented on #4234
"separate thread", "delay" <- pick one. Delay is not an answer to your threading issues.

[2017-11-29 10:02] OKNoah commented on #4234
Never before have I seen a project with such a fragile sense of self worth that they worry folks will mistakenly perceive their code is slow because there’s an optional delay.

[2017-11-29 10:12] cpojer commented on #4234
@jwickens it seems like we need a separate solution for that like @thymikee pointed out. A delay will only make your race condition less apparent.

@OKNoah Please appreciate that performance at scale is one of the most important features of the tools that we are building and that artificial delays do not fit into those constraints and rarely solve real problems. We have every intention to support

[2017-11-29 10:47] jwickens commented on #4234
Ok so I did do a work around  involving nodemon and that ameliorated the race condition. But it also was not great because it basically disabled all the useful jest interactive watch commands.

So now what've done used the `moduleNameMapper` options to point jest to the source dirs so it can control the compiling without worrying about a second build thread.

[2017-11-29 11:47] mishelen commented on #2864
In my case I reproduced this error with nested `.eslintrc`'s. Root config didn't contain in plugins array  `eslint-plugin-jest`, but he has key `"jest/globals"` provided by this plugin.

[2017-11-29 14:24] incompl commented on #3058
I urge you to reconsider. This is not a stylistic choice. It's a serious problem to have a test report as "passed" when it did not pass. Consider this example:

[code]

This test passes, and absolutely should not.

[2017-11-29 14:28] SimenB commented on #3058
The suggestion in this issue wouldn't help in that case.

You have to tell Jest that your test is async (either by returning a promise, or taking a `done` callback), and tell it when it's done.

I'd be interested in hearing ideas here. I suppose we could add some magic for `expect.assertions` that make the test pending until either something rejects, or the number of expected assertions are ran. F

[2017-11-29 14:31] incompl commented on #3058
I'm on board with your idea to make the test pending until the expected number of assertions are seen. I'm not sure why that would be considered magical or hackish: from my perspective it's the expected and intuitive behavior.

[2017-11-29 14:32] incompl commented on #3058
Since you've identified that this is a separate issue, shall I open a new one for this to be discussed separately?

[2017-11-29 14:36] SimenB commented on #3058
Separate issue would be nice for "wait for pending assertions". It should probably work sorta like a `done` callback

[2017-11-29 14:47] incompl opened #4982 "Case where test passes even though expected number of assertions not seen"
**Do you want to request a _feature_ or report a _bug_?**

I see it as a bug, but I could see the case either way.

**What is the current behavior?**

Consider this example:

[code]

This test passes, but I would expect it to fail.

Note that the test is written incorrectly: the promise should be returned. However, this mistake should not result in a passing test.

**What is the expected behavior?

[2017-11-29 14:48] incompl commented on #3058
Opened #4982, thanks for the help!

[2017-11-29 14:49] thymikee commented on #4982
Just to be clear – It's not a bug, it's a feature request. Jest support async assertions, but just in different way than you expect it to.

[2017-11-29 14:50] incompl commented on #4982
@thymikee The reason I disagree is because I see this as a bug with `expect.assertions(1);`. *1 assertion id not run and the test passed*.

[2017-11-29 14:56] thymikee commented on #4982
Oh, didn't see that. It's a bug then, thanks!

[2017-11-29 14:58] incompl commented on #4982
@thymikee Sorry for the confusion, I'll rename this issue to try to make it clearer.

[2017-11-29 15:15] SimenB commented on #4982
The assertion runs, but the test still passes (while complaining about uncaught rejections).

It might be considered a separate bug from the feature request of awaiting pending assertions.

![image](https://user-images.githubusercontent.com/1404810/33382255-87483e18-d520-11e7-8486-d42147756e98.png)

[2017-11-29 15:16] SZzzzz opened #4983 "package.json of jest-environment-jsdom is't same as that in npm registry"
**Do you want to request a _feature_ or report a _bug_?**
report a bug

**What is the current behavior?**
pcakage.json file of [jest-environment-jsdom](https://www.npmjs.com/package/jest-environment-jsdom) installed from npm registry is.

[code]
but in [github source](https://github.com/facebook/jest/blob/master/packages/jest-environment-jsdom/package.json)
`"jsdom": "^11.4.0"`

**If the current b

[2017-11-29 15:18] cpojer commented on #4983
Feel free to install `jest@21.3.0-beta.11` which comes with the latest version of jsdom.

[2017-11-29 15:18] #4983 closed

[2017-11-29 15:27] incompl commented on #4982
Oh, that's really interesting. I do not see any error output in my case, maybe because I have different log settings or something.

I agree this is a separate bug from the original feature request, sorry for the confusion.

[2017-11-29 16:28] jsdario commented on #3549
In case someone else is looking for a suggestion / workaround:

I decided to use `babel-plugin-idx` only for production, since it's only supposed to be for [a performance improvement](https://github.com/facebookincubator/idx/issues/13#issuecomment-292854633)

So with a .babelrc like the following you can avoid experiencing this issue
[code]

[2017-11-29 23:54] gwyneplaine opened #4985 "[BUG] jest.mock([moduleName]) not working with custom resolver specified"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**

Calling jest.mock([moduleName]) on an external module does not automatically mock the methods, but instead returns the actual methods within that module.

**What is the expected behavior?**

Calling jest.mock([moduleName]) on an external module should automatically mock out the methods in that module.

[2017-11-30 02:40] jamestalmage opened #4986 "TypedArray comparisons can produce unhelpful output."
The following is the comparison of an `Int8Array` and `Int16Array` with otherwise equal content.

![screenshot 2017-11-29 21 33 29](https://user-images.githubusercontent.com/4082216/33410209-2cb53334-d54d-11e7-93d7-fd450b5e1f15.png)

Perhaps, when the diff strings are identical like this, you could add type information?

[code]

[2017-11-30 02:47] jamestalmage commented on #4986
Well, this is embarrassing. Should have scrolled down further. The information is indeed there.

[2017-11-30 02:47] #4986 closed

[2017-11-30 04:00] bguiz commented on #3839
Getting the same behaviour as @awilkins and @dfroger - except I can't use the workaround, because  the library I'm testing uses just callbacks. Started occurring upon upgrading jest:

[code]

Thus is seems like a bug has been introduced, so I think the [Enhancement](https://github.com/facebook/jest/labels/Enhancement) label really should be changed to the  [Bug](https://github.com/facebook/jest/la

[2017-11-30 05:05] rattrayalex commented on #2814
Awesome!

[2017-11-30 05:25] zol commented on #3419
Also having this problem with `le_node`

[2017-11-30 14:13] KeKs0r commented on #2129
Somehow this is not documented, but since Jest uses Jasmin this is possible:
[code]

[2017-11-30 15:18] HipsterZipster commented on #3630
@goodbomb I did not create a new ticket since I can't put together a reproducible scenario. My suspicion is that the security software on my corporate machine is aggravating it. Using `--runInBand` for now, but trying to dig deeper....

[2017-11-30 15:41] arimourao opened #4989 "Jest conflicting with the css of modules"
**Do you want to request a _feature_ or report a _bug_?**
BUG

**What is the current behavior?**
I installed jest and followed the steps to allow to use babel. It works fine but when I'm testing a module that imports a .css file, jest throws an error of invalid syntax (it is trying to interpret CSS as JS it seems)

[code]

**What is the expected behavior?**
No errors or warnings

**Please provide

[2017-11-30 15:43] cpojer commented on #4989
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-11-30 15:43] #4989 closed

[2017-11-30 17:23] andyearnshaw commented on #2922
@thymikee would you consider reopening this?  My file structure generally looks like this:

[code]

I like it this way because you can see at a glance which files have tests for them.  I'd like to apply that same standard to mocks, but I can't, they have to go in a `__mocks__` directory.  Some consistency would be great 😄.

[2017-11-30 18:48] ashok-sc opened #4991 "Jest snapshot testing fails for <img /> tag."
Reporting a BUG

**What is the current behavior?**
When running my test I get the following error:

`

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**

This is the component I'm testing.

export class LoadIcon extends Component {

[2017-11-30 18:50] cpojer commented on #4991
This is not a proper bug report that allows us to reproduce your behavior.

[2017-11-30 18:50] #4991 closed

[2017-11-30 18:52] ashok-sc commented on #4991
Hi @cpojer sorry my keyboard tabbed to the submit button and I submitted too early. I've edited and provided all details. Can you please re-open?

Thanks!

[2017-11-30 18:55] cpojer commented on #4991
It doesn't reproduce for me like that. Can you share a full example on repl.it that shows the breaking test? Thank you.

[2017-11-30 19:01] ashok-sc commented on #4991
I also updated the react component code above to show how I'm requiring the image. Can you try with an SVG?

I'll also try to create something on repl.it today.

[2017-11-30 19:02] SimenB commented on #4991
Same error as #4922, can you reproduce on latest jest beta? `yarn add -D jest@test`

[2017-11-30 19:05] ashok-sc commented on #4991
Ah nice catch @SimenB . I tried that and the error changes to:

`TypeError: val.getMockname is not a function`.

Also, FYI I'm using ts-jest.

[2017-11-30 19:06] SimenB commented on #4991
Huh, that means `jest-mock` is not the beta. I'm not sure what ts-jest does...

What does `npm ls jest-mock` return?

[2017-11-30 19:09] ashok-sc commented on #4991
Here's what `npm ls jest-mock` prints:

[code]

[2017-11-30 19:10] thymikee commented on #2922
@andyearnshaw You can create `bar.mock.js` and use it as your mock implementation (so it will be done manually, not automatically by Jest).
Generally we feel that mocking system needs some rethinking, but nobody spent time on that yet. Treating files that match certain pattern as mocks could be a possibility for this new system though.

[2017-11-30 19:29] SimenB commented on #4991
Oh dear, `jest-util` depends on `jest-mock`... #4992

What happens if you're explicit about `jest-mock` in your own package.json?

[2017-11-30 19:55] ashok-sc commented on #4991
@SimenB  what do you mean by being explicit?

Thanks for making a push to ts-jest!

[2017-11-30 20:01] SimenB commented on #4991
Having `"jest-mock": "21.3.0-beta.10"` in your package.json to force that version to the top level

[2017-11-30 20:28] mishelen commented on #2649
+1

For example how to make this work and when router is implicitly imported

[code]

[2017-11-30 20:52] Thinkscape commented on #4985
This makes Jest 21+ unusable for our project and we're stuck with v20.

Basically the [auto jest.mock()](https://facebook.github.io/jest/docs/en/jest-object.html#jestmockmodulename-factory-options) functionality is not working at all; our existing tests started throwing things like i.e.:

[code]

[2017-11-30 20:58] ashok-sc commented on #4991
Hmm, unfortunately still getting that error :(.

`TypeError: val.getMockName is not a function`.

Do you know what's actually happening here?

[2017-11-30 21:50] SimenB commented on #4991
`npm`/`yarn` probably hoists an old `jest-mock`. You'll have to wait for a new version of both jest and ts-jest I think.

[2017-11-30 22:03] ashok-sc commented on #4991
Ah I see. Ok will wait for that then.

[2017-11-30 23:44] robertmain commented on #2577
I'm with you on this, I'm looking for another way to create mocks of my objects without creating actual mock objects. It would be nice to be able to define the mocks in the test suite.

[2017-11-30 23:52] faceyspacey commented on #2577
I found you can actually change them per test with doMock and resetting the mock cache, etc. it's a bit annoying but it totally works.

[2017-11-30 23:54] robertmain commented on #2577
Can you define them per-test though? If so - how?

On a sidenote: I'm starting to wonder how maintained Jest actually is...I thought it might be taken care of like React - but I'm starting to get the idea they don't really give a damn

[2017-12-01 00:03] faceyspacey commented on #2577
Jest works great. It's primarily one guy. One can you expect.

Lookup doMock

[2017-12-01 00:10] robertmain commented on #2577
It is?! In that case, I take back what I said - I thought it was like a huge facebook internal project like React....

[2017-12-01 00:28] faceyspacey commented on #2577
The dude works full time for Facebook. It is an internal FB project, just not a "huge" one lol. But it is massive. It's rough around the edges in a few places but once you find the workarounds you can make it frictionless. It's really fantastic from my perspective.

[2017-12-01 02:01] robertmain commented on #2577
It looks nice, but I'm running into quite a few edge cases that I can't seem to find workarounds - for example #4960

[2017-12-01 02:12] faceyspacey commented on #2577
do you use https://wallabyjs.com. it's the best thing that ever happened to javascript testing. it has coverage in there (but I assume it's using coverage reports generated by Jest). Either way, it's awesome, and the only real way to do TDD with js, as it re-runs your tests on every keypress, and shows in a web panel which tests pass/fail, and fail on what lines. It also shows in your editor on wh

[2017-12-01 02:40] robertmain commented on #2577
I honestly don't. I've never heard of it before. Yeah, I'm using Jest for coverage. I have visual studio code setup to run my tests every time I save a test or a file required by a test.

Jest has a `--watchAll` option too btw.

How does the coverage work in that - presumably it would still need Jest to collect the coverage data(which is what I think might be going astray)?

[2017-12-01 03:02] bradleyayers commented on #2547
I wanted to write a custom matcher for comparing ProseMirror [EditorState](http://prosemirror.net/docs/ref/#state.EditorState) objects. These objects have a handful of different properties that require a few different styles of comparison. For some I use ProseMirror's builtin `.eq()` comparisons, but for others I'd like to just use `toMatchObject`. I think having a way to compose existing matchers

[2017-12-01 03:24] seanli3 opened #4993 "toEqual works incorrectly for Immutable Maps when another Map is used as key"
**Do you want to request a _feature_ or report a _bug_?**
Bug
**What is the current behavior?**
I've setup [a minimal repo here](https://github.com/seanli3/jest-toEqual-bug) to reproduce the bug. Just clone it and `yarn install` and `yarn test`.

In a nutshell, when using Immutable.js and created Maps with another map as key, for example:
[code]
And
[code]
And uses `toEqual` to assert them, the te

[2017-12-01 07:00] SimenB commented on #2547
The `toThrow` matchers are pretty special, but most other matchers is just a comparison and using stuff from `jest-matcher-utils` to make pretty error messages. What reuse do people want?

If you _really_ want to reuse other matchers, I don't understand what's wrong with the suggestion in https://github.com/facebook/jest/issues/2547#issuecomment-271573287

[code]

I'd love to see specific examples

[2017-12-01 07:52] cpojer commented on #2577
Hi! We don't actively work on the open source testing parts of Jest at this time so if you'd like to help improve the project we will absolutely appreciate your contributions. We do have a team that owns the Jest project but this team is also working on Yarn and [Metro](https://github.com/facebook/metro). We are only 8 people including me and Metro is our biggest focus right now. For comparison, t

[2017-12-01 08:27] faceyspacey commented on #2577
Have you read what I posted to the other guy? I wrote him the answer with doMock and resetModules. My issue is a year old. Just close it out brotha. Jest is the bomb! One love.

[2017-12-01 08:27] #2577 closed

[2017-12-01 11:03] SamyPesse opened #4994 "Invalid validation warning for "setupTestFrameworkScriptFile""
Using jest `21.3.0-beta.11`, I'm getting a warning:

[code]

But this option doesn't seem invalid or deprecated (and it's still working in my tests).

[2017-12-01 11:15] thymikee commented on #4994
It was accidentally deleted from validation in https://github.com/facebook/jest/pull/4976. Our CI confirms your warning (but who looks at CI output, when it's green?).
Would you like to bring it back? It's adding back this line:
https://github.com/facebook/jest/pull/4976/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L130 🙂

[2017-12-01 13:06] nemanjacosovic commented on #1592
+1

[2017-12-01 13:30] SimenB commented on #4993
Dupe of #4618, isn't it?

[2017-12-01 13:31] SimenB commented on #4618
we do a deep equality, pretty-format is used to try to show a pretty diff afterwards

[2017-12-01 14:34] MaxVinogradov opened #4996 "Needle.js works incorrect into the Jest tests"
**Do you want to request a _feature_ or report a _bug_?**
It seems like a bug.

**What is the current behavior?**
In few words: we rewrite over tests from Mocha to Jest. In test we sent requests to real server using needle.js library (https://github.com/tomas/needle). It's works nice when we run Mocha tests, and on real production environment, and if we only run script via node.
But when we run Je

[2017-12-01 14:47] Vinnl opened #4997 "Jest marks a test as "Passed" when an assertion fails on a `.resolves`"
**Do you want to request a _feature_ or report a _bug_?**

A bug.

**What is the current behavior?**

The following assertion fails:

    expect(Promise.resolve('Expected value')).resolves.toBe('Not the expected value');

It throws an error, but nevertheless, Jest marks the test as Passed. See this repl.it:

https://repl.it/repls/ObedientNegativeGrison

**What is the expected behavior?**

Jest sho

[2017-12-01 14:54] SimenB commented on #4997
You have to `return` (or `await`) the `expect`.

http://facebook.github.io/jest/docs/en/expect.html#resolves

[2017-12-01 14:54] #4997 closed

[2017-12-01 14:56] Vinnl commented on #4997
Oh really? Ugh, sorry for wasting your time - I thought that requirement had been removed with the addition of `.resolves`.

[2017-12-01 14:57] SimenB commented on #4997
You still have to somehow tell jest to wait for it - it's still a promise 🙂

[2017-12-01 15:07] Vinnl commented on #4997
Hehe yeah it makes sense. Gives me some bad faith about all those tests I've already written without this measure :P I could submit a PR to emphasise this in the docs if you're interested?

[2017-12-01 15:21] SimenB commented on #4997
Please do! All doc improvements are very welcome

[2017-12-01 15:32] Vinnl commented on #4997
@SimenB #4999 - almost at number 5000!

[2017-12-01 16:20] robertmain commented on #2577
Hi @cpojer.

My intention was not to insult the people that spend their free time contributing to Jest so I apologise if that's how it came across - at the same time I hope you also understand my position as someone looking for a test framework. If the test framework that that I'm looking at isn't currently being actively worked on(as you said yourself - _"We don't actively work on the open source

[2017-12-01 21:10] nelsyeung opened #5001 "Wrong coverage when using arrow function with return"
Repository: https://github.com/nelsyeung/eslatest-lib-template/tree/43893c5c4a65131a82fad6392eb0e6fab23ad91b

[code]

The repository at its current state produces 100% functions coverage, which is correct. However, when I switch to arrow function with direct return, i.e., change the `src/library.js` code to:

[code]

the coverage report will now show only 66% coverage for functions:
[code]

**Vers

[2017-12-01 21:21] jgrund opened #5002 "Add ability for preprocessors to output warnings"
It would be useful if there was a hook for preprocessors to write warning messages to.

An example of this is a preprocessor that transpiles from a different language and outputs transpilation warnings.

We can use console.error today, but they become interspersed with test output and are hard to follow.

[2017-12-02 04:36] buoyantair commented on #4861
Is this still open?

Everything seems to be working fine for me in Firefox 57

![image](https://user-images.githubusercontent.com/5159834/33511799-6c863f1a-d748-11e7-88f4-fbb99c5554b8.png)

[2017-12-02 07:19] digitalkaoz commented on #3154
Any updates in this one?

[2017-12-02 08:03] milesj commented on #3154
Yes please. I've had many issues trying to get `mock-fs` to play nice with `jest.mock`. Having it built-in would be great.

[2017-12-02 08:27] SimenB commented on #3154
There is https://github.com/webpack/memory-fs.

[2017-12-02 10:10] cpojer commented on #4861
Closing as it is working now.

[2017-12-02 10:10] #4861 closed

[2017-12-02 10:15] cpojer commented on #3154
We have a pretty good mock here: https://github.com/facebook/metro/blob/master/packages/metro/src/node-haste/__mocks__/fs.js but never had any chance to polish it and pull it out.

[2017-12-02 10:26] cpojer commented on #2577
Thanks for the comments about how to improve our documentation. I encourage you, when you find the time, to send a PR to improve the current documentation to make it easier to understand for Jest's users. Your comments all make sense. For an FS mock, this has been on a list for a long time but again, nobody had enough time to build it.

As far as maintenance of this project concerned, Jest is doin

[2017-12-02 11:06] jeanlauliac commented on #3154
The one you mentioned @cpojer lacks many features and has a lot of problems to be fixed. `memory-fs` looks worth investigating! ^_^

[2017-12-02 13:15] digitalkaoz commented on #3154
Will it allow me to just Mock parts of the Filesystem and leave the rest
untouched? Primarly i just want to mock a folder and a few files, leaving
the rest untouched. So require works as normal and so on...trying to get
spyfs+memfs to work. But it doesnt seem as easy as i thought...

Jean Lauliac <notifications@github.com> schrieb am Sa., 2. Dez. 2017, 12:07:

[2017-12-02 13:26] SimenB commented on #4861
For posterity, fixed in #4781

[2017-12-02 13:29] SimenB commented on #4994
@thymikee what's going on here? Seeing as #4995 got closed

[2017-12-02 13:38] SimenB commented on #3415
Which stakctraces? For matchers, we only show the assertions themselves, not code per se. Do you mean to show context where an assertion is ran?

I'm not sure what this issue entails, a bit more details on what you want it to be would be great

[2017-12-02 13:43] SimenB commented on #3154
I think it's an all or nothing thing. But I think it'll behave like you want, as `jest` implements `require` itself, so those would dodge the mocked fs anyways. I'd be curious to hear experiences using `memory-fs` for tests.

It's under the hood of webpack-dev-server, so pretty well tested. Would be cool if we could just point to it

[2017-12-02 14:44] robertmain commented on #2577
Sure, so I think part of the problem here is that I don't quite understand the inner workings of Jest well enough to document it - at least not yet. I wasn't so much suggesting an `fs` as just an update to the documentation. The docs explain how to _read from_ a mocked file system, but not how to _write to_ one...

Again - whilst I agree with this, the current project I'm working on isn't my own p

[2017-12-02 15:47] thymikee commented on #4994
We only need one hook in our package.json. The issue is about validation. Jest-validate needs a reference for valid config. The issue is that scriptFile was accidentally removed from the valid config example, hence the warning

[2017-12-02 20:19] haraldrudell opened #5004 "Implement constructor mocking"
Request to implement constructor mocking

In #663, there was a clever statement by @cpojer:

However, since ECMAScript 2015, the new operator allows a rest element likeso:

[code]
and if an intermediate constructor returns a value, that is taken to be the object that was constructed.

Constructors do not work with regular mocks, because they require the new operator.

Could we now have some specia

[2017-12-02 20:39] lukeapage commented on #4928
Because it never gets to runTimersToTime
Because it’s awaiting the promise that only gets resolved when time goes forward, which doesn’t happen till you call runTimersToTime.

[2017-12-03 00:56] Rdlenke commented on #936
@miluoshi That's the only way I was able to do it too. Is there any loss of performance or something like that when we use this method? It seems "wrong "to change the code so you can test it.

[2017-12-03 01:32] haraldrudell commented on #5004
Here’s what I want to Jestify:

Whenever they instantiate App, give’m AppTest, and in particular for the case when App is a default export

[code]

[2017-12-03 06:53] MacKentoch commented on #4604
I had a project using jest (*jest installed globally*).

Now after a while without absolutely any change (*in code and dependencies*) I run jest and have this error for all my tests.

I understand that using [babel-jest](https://github.com/facebook/jest/tree/master/packages/babel-jest) it the way to go now.

[2017-12-03 10:15] crubier opened #5005 "Explain which snapshots are obsolete"
When jest finds obsolete snapshots, it does not explain which one they are. This can be very frustrating, when you have many snapshots and you can't find which one is wrong...

The problem was also shortly discussed in #3581

Jest output:

[code]

I expect an output more like:

[code]

This is a problem for me because when I run tests locally, no snapshot are obsolete, but when run in my CI/CD, it

[2017-12-03 13:53] drdpedroso commented on #4763
I'm having the same issue here, already deleted the `cacheDirectory` and the tests are also skipped when pointing directly to the test file.

Here's one sample

[code]

[2017-12-03 14:48] SimenB commented on #4763
Can you paste in the output from jest when skipping?

[2017-12-03 15:30] SimenB commented on #4888
Your issue will be fixed when #711 is fixed, though.

The reason it shows up is that we pretty-print the whole object, and that code does not know `undefined` is ignored.

https://github.com/facebook/jest/blob/4f1113c956b400ca50e70b0a1441e49e5dd304ad/packages/jest-matcher-utils/src/index.js#L53-L75

[2017-12-03 15:30] drdpedroso commented on #4763
<img width="861" alt="screen shot 2017-12-03 at 12 00 39 pm" src="https://user-images.githubusercontent.com/12386985/33526852-f6e1e976-d82d-11e7-8f16-29bdbe762e04.png">

After that, it only shows my coverage table

My jest version is v21.2.1

[2017-12-03 15:44] SimenB commented on #4763
Oh, I see it.

`it('should render correctly'), () => {` has  a closing paren it shouldn't

[2017-12-03 16:36] pleunv opened #5006 "Error installing latest beta on Windows (weak compilation error)"
Installing the latest beta (`21.3.0-beta.11` at time of writing) gives me a compile error during install. Seems to be originating from the `weak` dependency which is used in `jest-leak-detector`. Case of missing windows binaries? See https://github.com/TooTallNate/node-weak/issues/22.
Getting compilation working on Windows tends to be a bit of a minefield that I've been trying to avoid so far as i

[2017-12-03 17:13] pleunv commented on #5006
Fwiw, neither manually installing C++ redistributables nor `npm i -g windows-build-tools` seems to work.

[2017-12-03 17:34] SimenB commented on #5006
This is fixed in #4984.

@cpojer mind tagging another beta with it?

[2017-12-03 18:17] drdpedroso commented on #4763
lol! My bad, thanks @SimenB !

[2017-12-03 18:32] SimenB commented on #4900
I really like Ava's macros.

https://github.com/avajs/ava/blob/4124d77b4391401db0b92a73c84cdea8326c209a/readme.md#test-macros

`jest-each` solves basically the same thing, though 🙂

[2017-12-03 21:25] alopezsanchez commented on #4916
Hello! I just did a PR fixing this small issue :smiley:

[2017-12-03 21:57] seanli3 commented on #4618
The JS `Map` test given by @SimenB passes on the new Jest.
[code]
![image](https://user-images.githubusercontent.com/33613134/33530240-f912c49c-d8d0-11e7-834d-83df34717ad9.png)

Jest: 21.2.1
Node: 8.9.1
Yarn: 1.3.2

Should we make it consistent for Immutable Map?

[2017-12-03 21:58] seanli3 commented on #4993
Different symptom, but looks like it is the same issue.

[2017-12-03 21:58] #4993 closed

[2017-12-04 02:09] rrustia commented on #4916
Thanks!
--------------------------------------------
On Sun, 12/3/17, Alejandro López <notifications@github.com> wrote:

 Subject: Re: [facebook/jest] expect.anything() error (#4916)
 To: "facebook/jest" <jest@noreply.github.com>
 Cc: "Ronel Rustia" <fedstats@yahoo.com>, "Mention" <mention@noreply.github.com>
 Date: Sunday, December 3, 2017, 1:25 PM

 Hello! I just did a PR fixing
 this small issu

[2017-12-04 08:35] #4916 closed

[2017-12-04 08:39] cpojer commented on #5006
Will do later today.

[2017-12-04 08:39] #5006 closed

[2017-12-04 08:41] cpojer commented on #3415
I don't know, it's been 8 months. I think the idea was to show the code and context around where the error was thrown.

[2017-12-04 08:44] cpojer commented on #4994
cc @mjesun can you fix this today pls? :)

[2017-12-04 08:46] cpojer commented on #5004
Thanks for bringing this up. We are dropping node 4 with the next major and I am fine with this change if it makes mocks more solid. Can you work on a pull request? :)

[2017-12-04 08:49] cpojer commented on #4928
Yeah these two don't work together as @lukeapage identified in the latest comment. I'm closing this as wontfix but you can try doing something like:

[code]

[2017-12-04 08:49] #4928 closed

[2017-12-04 08:51] cpojer commented on #5005
Yeah, I like it. Are you willing to work on a pull request for this? :) You can look in the code for "obsolete snapshot" and it will probably point you to the right place.

[2017-12-04 08:52] cpojer commented on #2577
That's mostly because there is only a finite amount of time available and other things tend to have higher priority, for example right now the main focus of the team I work with is https://github.com/facebook/metro

[2017-12-04 09:50] crubier commented on #5005
Hey, I tried to solve this, but unfortunately the reporter is only given a `SnapshotSummary`:

[code]

This summary does not include the name of removed/obsolete snapshots, so they would need to be added higher in the chain... I don't have much time for that...

[2017-12-04 09:57] Alisa0026 opened #5008 "When I created the coverage, the mock file was missed."
__tests__/testdemo.test.js
![image](https://user-images.githubusercontent.com/13694317/33543058-811f526c-d910-11e7-8d78-42dbc00c3785.png)

![image](https://user-images.githubusercontent.com/13694317/33543059-812011b6-d910-11e7-9e6b-d808381a0cea.png)
testdemo/__mocks__ /sum.js
![image](https://user-images.githubusercontent.com/13694317/33543076-912476ce-d910-11e7-8b5c-6a3167e380a0.png)

testdemo /s

[2017-12-04 15:33] brettpostin commented on #3052
Why was it removed? Is there an alternative?

[2017-12-04 15:54] Rukeith opened #5013 "Run test to write coverage report but get permission denied"
**Do you want to request a _feature_ or report a _bug_?**
Report a bug
**What is the current behavior?**
I run the jest to test project. But it show the error below.

[code]

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**
https:

[2017-12-04 15:56] cpojer commented on #5013
It seems like `/public` is not writable by your user. Please move it to a folder that is writable.
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-12-04 15:56] #5013 closed

[2017-12-04 16:28] miteshravindra opened #5014 "How to ignore certain html attributes in the snapshots created using the toMatchSnapshot() method provided by Jest"
**Do you want to request a _feature_ or report a _bug_?**
I want to request a feature

**What is the current behavior?**
Currently the toMatchSnapshot() function of Jest stores a serialized html version of the component in test

**What is the expected behavior?**
Is it possible to create a feature wherein one can instruct the function to store the serialized html version of the component ignoring

[2017-12-04 16:36] cpojer commented on #5014
You can create your own snapshot serializer to filter data you don't want in a snapshot. There is an article about it here: https://medium.com/@luisvieira_gmr/jest-snapshot-serializers-6a96f5c362a1

[2017-12-04 16:36] #5014 closed

[2017-12-04 16:37] miteshravindra commented on #5014
Thank You cpojer

[2017-12-04 18:24] brenthosie commented on #2354
Still no movement on this? I mocked `lodash/debounce` by making a `__mocks__/lodash/debounce.js`. Calling `jest.unmock('lodash/debounce')` OR `jest.unmock('lodash')` has no effect on unmocking the file I made.

[2017-12-04 20:26] lukeapage commented on #2157
I had a solution with jasmine that hooked into the nextTick of Yaku, a promise library and caught nextTick calls and allowed playing them early.
However jest uses promises itself, which made this problematic.
In the end I took Yaku and hacked it to have a flush method which flushes out its queue. By default it runs normally using nextTick, but if you call flush all pending promise handlers execute

[2017-12-04 20:37] SimenB commented on #3630
Interesting! Do you get that when running tests or installing?

[2017-12-04 20:48] christianchown commented on #3630
Running tests.

Let me know if there's anything I can provide debug-wise

[2017-12-04 22:40] orta commented on #5004
I wonder if a jest mockbook (like a cookbook) repo where there is an individual example for each one of these cases, and more would be useful. ( Wallaby.js does a good [example for this](https://github.com/wallabyjs?language=javascript) though it is per-repo).

Would be a nice reference tool for anyone getting started.

[2017-12-04 22:40] orta commented on #5004
Probably https://github.com/facebook/react-native

[2017-12-04 23:30] goodbomb commented on #3630
I can confirm that `jest@21.3.0-beta.8` continues to have this problem. I'm still getting `jest: failed to cache transform results in:` errors.

[2017-12-04 23:36] goodbomb commented on #3630
As a note, I was using v6.9.11 of node and an earlier version of npm 3.x.x I think. I decided to update node to v8.9.1 and npm to v 5.5.1 and the issue seems to have been resolved in `jest@21.3.0-beta.8`.

[2017-12-05 01:40] Rukeith commented on #5013
@cpojer well I make public to be chmod 777, it still not work. So I thought this is a issue.
But as you wish, you will find another way to fix this.

[2017-12-05 04:47] seanpoulter commented on #3848
You've got me curious about your integrations tests there @thymikee. With some `vscode-jest` users saying it took too long to get the full JSON results, is there any internal demand to stream results using a custom reporter? I've been toying with the idea of streaming to an IPC socket.

[2017-12-05 04:59] mattblang commented on #4972
@SimenB @thymikee  I've made some tweaks to [my test repo](https://github.com/mattblang/jest-image-comparison-perf-repro) that illustrates something weird is going on with Jest. I took the `jest-image-snapshot` matcher out of the equation entirely. I have a Jest test that does the screenshot comparison only and takes around six seconds. I then have a block in the instructions to uncomment that wri

[2017-12-05 06:12] mattblang commented on #4972
Interesting! It seems as though `pngjs` is the culprit, though only in the Jest context (since the same code in a node script runs in about four seconds). That `paethPredictor` function and all the `filter` functions are from `pngjs`.

![screen shot 2017-12-05 at 12 06 01 am](https://user-images.githubusercontent.com/1845257/33592411-7b03cd78-d950-11e7-91f3-3756dab16374.png)

[2017-12-05 07:55] cpojer commented on #4972
I'll close this because it is unlikely that there is a bug in Jest based on the conversation but please keep discussing here to resolve your issue if you like.

[2017-12-05 12:08] aaronplanell opened #5015 "Testing asynchronous setState of React"
Hello!!!

I'd read this article of Dave Ceddia: [Snapshot Testing React Components with Jest](https://semaphoreci.com/community/tutorials/snapshot-testing-react-components-with-jest). It's very useful but, I've got a big doubt about how Jest works (and I'm not the only one) and I don't understand how Jest can manage the asynchronous process when `setState` is called.

For instance, in the example

[2017-12-05 12:22] ajomadlabs commented on #4969
@mjesun Can I take up this issue

[2017-12-05 12:36] thymikee commented on #5015
Hey @aaronplanell, glad you liked the article. This question is rather related to React test renderer, not Jest itself. We try to keep this issue tracker clean and only keep bugs, discussions and feature requests. Please ask this question on Stack Overflow, or our Discord channel: https://facebook.github.io/jest/en/help.html

Good luck!

[2017-12-05 12:36] #5015 closed

[2017-12-05 13:17] MantegaMassarotto commented on #2081
Try this solution

` "jest": {
    "preset": "react-native",
    "verbose": true,
    "moduleFileExtensions": [
      "js",
      "jsx",
      "ts",
      "tsx",
      "json"
    ],
    "transform": {
      "^.+\\.(js)?$": "<rootDir>/node_modules/babel-jest",
      "^.+\\.(ts|tsx)?$": "<rootDir>/node_modules/ts-jest/preprocessor.js"
    },
    "moduleNameMapper": {
      "^src/(.*)": "<rootDir>/sr

[2017-12-05 14:33] Rukeith commented on #3601
@lsentkiewicz
Hi I saw the pr is merge, but I still cannot match the Error with jest
Would you help me?

My test is here

[code]

And here is the function

[code]

<img width="484" alt="screen shot 2017-12-05 at 22 32 48" src="https://user-images.githubusercontent.com/7069605/33612371-4556042c-da0c-11e7-954a-dc01a090ac4d.png">

[2017-12-05 15:20] #4946 closed

[2017-12-05 15:32] julienw commented on #3601
I think the patch implements `.rejects.toThrow(XXX)` where XXX will match the message. (see https://github.com/facebook/jest/pull/4884). Not ideal (how can we match the actual error instance for example?) but already something.

[2017-12-05 15:33] mattblang commented on #4972
@cpojer I know that I mentioned `pngjs` seems to be the culprit of the slowdown when looking at the CPU profile that I linked earlier, but the slowdown **only** happens when running in `Jest`. The exact same code runs in a regular node script in about four seconds, while taking about twenty-five seconds to run in a Jest test. This makes me think the issue should not necessarily be closed?

[2017-12-05 16:59] seanpoulter opened #5017 "Let stdin be passed through to jest-cli"
**Do you want to request a _feature_ or report a _bug_?** A feature

**What is the current behavior?**
When Jest runs in watch mode, `jest-cli` only listens for input from text terminals that send characters one at a time in "raw mode". This dependency on [`tty.ReadStream#setReadMode`](https://nodejs.org/docs/latest-v8.x/api/tty.html#tty_readstream_setrawmode_mode) in [`jest/packages/jest-cli/src/

[2017-12-05 17:00] SimenB commented on #5017
Any drawbacks to this? /cc @rogeliog @orta

[2017-12-05 18:31] colshacol commented on #1592
I know this is quite old and closed, but I  just couldn't help myself.

\*drumroll\*

[`jestr`](https://www.npmjs.com/package/jestr)

[2017-12-05 18:52] mjesun commented on #4969
@ajomadlabs maybe you can sync with @slootzky? There are a lot of files, so you can maybe split; but I'd rather double-check before getting the work done twice 🙂

[2017-12-05 19:30] joetidee opened #5018 "toThrow doesn't seem to capture the error..."
I am doing this:
[code]
but this throws an error in the terminal:
[code]
Is this simply a case of node capturing the error before Jest does?

[2017-12-05 19:34] tiffon opened #5019 "Constructor .mockImplementation(...) not added to .mock.instances"
First off, awesome work on Jest :+1::+1:

Second, if this is a user error, my apologies.

**Do you want to request a _feature_ or report a _bug_?**

Report a bug.

**What is the current behavior?**

When mocking a constructor via `.mockImplementation(...)` the returned value is not added to `.mock.instances`.

**If the current behavior is a bug, please provide the steps to reproduce and
either a r

[2017-12-05 19:43] seanpoulter commented on #5017
**Ugh**. There's also a simple workaround, sorry. Got too caught up in the problem to see that we can spawn a child process using Node's `--require` arg to pre-load a stub for `setRawMode`. I'll close the issue since this is WAY easier for such a low reward Issue.

[2017-12-05 20:01] tiffon commented on #5019
Peripherally related: https://stackoverflow.com/questions/47661741/how-to-augment-instances-of-a-mocked-constructor-in-jest

[2017-12-05 21:16] SimenB commented on #5017
Should it be in the docs?

[2017-12-05 21:18] SimenB commented on #5018
`return (async () => {await doSomething()}).rejects.toThrow('myThrownErrorMessage');`

https://facebook.github.io/jest/docs/en/tutorial-async.html#rejects

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-12-05 21:18] #5018 closed

[2017-12-05 23:54] joetidee commented on #5018
I'm raising it as a bug because I would expect the `toThrow` function to handle the thrown error.

[2017-12-06 02:08] theKashey commented on #4358
Could you also extract `jest` object out of runtime? Including the type information.
I've just build [small jest mocks validator](https://github.com/theKashey/jest-typed-mock), and have to copypaste `jest` object from jest sources to make js/ts/flow validation work. Not quite happy about it.

[2017-12-06 04:50] mrm007 opened #5021 "Jest errors out when expecting a mock to be called with a string matcher"
Repository: https://repl.it/repls/PleasedSubmissiveAfricanbushviper

[code]
Output:
[code]

Jest should skip the values which don't match and only fail if none match. In my example, the second test should pass because `expect.stringMatching('bla')` passes on the third call with `'blah'`. Basically, the same behaviour as asserting with an exact value.

**Tested with**
Jest v20.0.4 node v7.4.0 linux

[2017-12-06 05:57] osenvosem opened #5022 "`.rejects` doesn't work as intended"
I copied/pasted the [`.rejects` examples from the documentation ](https://facebook.github.io/jest/docs/en/expect.html#rejects)

[code]

and this is what I got:

[code]

[2017-12-06 06:29] SimenB commented on #5018
What happens if you make the surrounding `it` `async`?

[2017-12-06 06:40] jonathan-stone opened #5023 "TypeError: _MyClass2.default is not a constructor using jest.mock(path, factory) on ES6 class import"
**Do you want to request a _feature_ or report a _bug_?**

It's not clear from the docs whether this is expected behavior or not. So at a minimum it's a documentation *bug* and code *feature request*.

I'd be happy to submit a PR if this is confirmed to be a real issue.

**What is the current behavior?**
Assuming the following scenario: An ES6 class (`MyClassConsumer`) is being tested with Jest. T

[2017-12-06 06:53] SimenB commented on #5022
Dupe of #4945

[2017-12-06 06:53] #5022 closed

[2017-12-06 08:27] eddyerburgh commented on #4509
@sparecycles I've encountered this issue recently. I'll look into it

[2017-12-06 09:10] #5005 closed

[2017-12-06 09:56] joetidee commented on #5018
Nothing different happens. The only way to get this to work is to do:
[code]

[2017-12-06 10:29] entropitor commented on #4223
I also would want this if possible. The problem is that I want to abstract away some test logic into a custom jest matcher. However, unfortunately, some API's that I need to use return promises, so I cannot possibly make it a sync matcher

[2017-12-06 10:50] zouxuoz commented on #4401
hmm, when I'm trying to reproduce this with latest Jest from master branch I take this error.

![image](https://user-images.githubusercontent.com/9217163/33657994-1b917312-da8c-11e7-8b21-d0ff771b2b68.png)

[2017-12-06 11:05] maheshjag commented on #1767
I've faced this issue off and on. I don't have Watchman installed, and I am on Node 8.4.0 currently. Removing and reinstalling Node modules didn't work either, so I reinstalled my Node binary from NVM and then removed and reinstalled Node modules which solved the problem for me.

[2017-12-06 14:34] SimenB commented on #2059
I think that last case might be fixed in #4669

[2017-12-06 14:44] orta commented on #2622
I did this in https://github.com/facebook/jest/pull/4385

[2017-12-06 14:44] #2622 closed

[2017-12-06 15:10] andyearnshaw opened #5028 "Jest hangs when quitting watch mode if dev tools are still attached"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
Jest won't close until the dev tools are closed when run with the `--watch` parameter, <kbd>Ctrl</kbd>-<kbd>C</kbd> and <kbd>Ctrl</kbd>-<kbd>\\</kbd> are ignored.

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest

[2017-12-06 15:11] mjesun commented on #4745
Fixed in #5027.

[2017-12-06 15:11] #4745 closed

[2017-12-06 17:36] cwmoo740 opened #5030 "nodejs 9.2 failure"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the current behavior?**

linux 4.14, jest@21.3.0-beta.13, node v9.2.0

`jest`

[code]

linux 4.14, jest@21.3.0-beta.13, node v8.9.2 - works as expected.

This seems to be true for any example - I created a simple-as-possible example to make sure it was still broken.

https://github.com/cwmoo740/jest-node-9

[2017-12-06 17:46] seanpoulter commented on #5017
Is there a spot you had in mind to document it? I think we'll be OK. This feature is will end up with a PR to extend `jest-editor-support` so we can interact with watch from `vscode-jest`. Since both of those packages are already cited as examples for how to interact with Jest, I can make sure to add extra context in the paper trail.

[2017-12-06 18:06] SimenB commented on #5017
Yeah, might not be any fitting place for it as we don't really document any programmatic APIs

[2017-12-06 18:15] SimenB commented on #5030
Can reproduce on Jest's own test suite... Will look through node's changelog to see if anything sticks out

[2017-12-06 19:13] SimenB commented on #5030
git bisect blames https://github.com/nodejs/node/pull/15776

[2017-12-06 23:47] JoshuaKGoldberg commented on #3630
Likely dup of https://github.com/facebook/jest/issues/4444

[2017-12-07 05:05] jedmao commented on #4521
In other projects, I've seen a `--no-` prefix negate any/all flags. I followed suit in [`gitlike-cli`](https://github.com/jedmao/gitlike-cli#options), as an example.

[2017-12-07 05:19] Premjeet-Singh commented on #3436
`brew install watchman` worked for me.

[2017-12-07 09:04] #5030 closed

[2017-12-07 09:22] cpojer opened #5032 ""Jest Platform" section in the docs"
We have plenty of modules inside of Jest that are useful to other people like `jest-worker`. We should have a section in the docs that takes the README and puts it on the Jest website. I don't know if we should make this automatic or just move the contents of the README to the website and link from the actual package's README to the website. I almost prefer the latter.

It can also embed this vide

[2017-12-07 09:25] tgandrews commented on #5001
I found this issue as well but only when using babel 7 and the latest babel-jest. Coverage was fine before babel 7.

[2017-12-07 10:43] yantakus opened #5033 "Getting console errors when using jest.mock"
When I mock a react component like this `jest.mock('react-slick', () => 'div');` I get console errors for unknown props passed to `<div>` tag. I know these errors don't mean anything in this case, but it's quite annoying to see them in the output:

![filterableproducts test js lift-v2 2017-12-07 13-43-59](https://user-images.githubusercontent.com/2179726/33711362-bff7ee72-db54-11e7-8880-72a56893f4

[2017-12-07 10:46] thymikee commented on #5033
If you want to bypass console logs you can mock it (e.g. `console.log = jest.fn()`) in your tests.

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](http://facebook.github.io/jest/en/help.html). Thank you :)

[2017-12-07 10:46] #5033 closed

[2017-12-07 11:45] Hetachi commented on #3793
Has anyone come up with a temporary solution to this issue? As couple of new guys in our project with windows laptops are having issues. And it gets quite fast annoying to escape backslash every time you want to run a single test file.

[2017-12-07 15:11] adrianhelvik commented on #1767
I get this error with jest 21, but not with jest 20.

[2017-12-07 17:29] kirillgroshkov commented on #2081
Following too

[2017-12-07 18:41] segrey opened #5034 "Allow to access snapshot comparison details"
**Do you want to request a _feature_ or report a _bug_?**

Feature

**What is the current behavior?**

Currently, reporters don't have access to snapshot comparison details:
* actual and expected values
* expected snapshot file path

**What is the expected behavior?**

Exposing this data would allow tools to show a standard comparison dialog (which would be more convenient for large snapshots than

[2017-12-07 19:57] slipperypenguin opened #5035 "Jest fails to run test suites with styled-components"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**

Currently I am getting a TypeError whenever Jest is snapshot testing  anything that contains a [styled-component](https://www.styled-components.com). I have tried re-installing `node_modules` and running Just with `--no-cache`

**What is the expected behavior?**
Expecting the test suite to run, since

[2017-12-07 20:00] cpojer commented on #5035
It's unlikely that this is a Jest issue and it's more likely this is a framework issue with the code you are using within Jest. I will close this but feel free to keep discussing and receiving help from people. If this turns out to be a Jest issue, I'll reopen it.

[2017-12-07 20:00] #5035 closed

[2017-12-07 20:34] mattblang commented on #4972
@cpojer I feel like I have some further evidence that Jest is doing something weird here and that maybe the ticket should not be closed. If you see the console timings after the Jest test runs they are about the same as when running the exact same code in just a Node script. But it seems as though Jest is just not finishing the test for another twenty seconds.

<img width="512" alt="screen shot 20

[2017-12-07 20:37] cpojer commented on #4972
I'm happy to reopen and appreciate your investigation. It would be awesome if you could find the root cause and propose a PR to fix it for everyone :)

[2017-12-07 20:59] cblair commented on #880
Looks like some are still having issues with this like, do we want to re-open this issue or create a new one? I'll try to help and submit a solution.

[2017-12-07 21:40] GAumala commented on #5032
I think would be really useful. The video you linked not only describes some of jest's packages, but it also mentions jest runners. Would the "Jest Platform" section also have info about how to create a custom jest runner or should that be somewhere else?

[2017-12-07 21:48] slipperypenguin commented on #5035
Just figured out a solution [here](https://facebook.github.io/jest/docs/en/webpack.html#mocking-css-modules)

Looks like it was an issue with mocking css modules in Jest.
In `package.json`:

### Old Setup
[code]

### New Setup
[code]

[2017-12-07 21:48] slootzky commented on #4969
@ajomadlabs @mjesun sorry for not being responsive , well I actually did all the necessary changes (I believe) but then had to work on something else and didn't have the chance to start testing all.
I really hope to do it tomorrow and then I'll send the PR.

@ajomadlabs,  if I see I'm still not getting to this tomorrow, I will update here.

[2017-12-07 21:51] thymikee commented on #5032
A simple link to "how to create a custom runner" will be enough. However it would be super nice to have small snippets of code showing example usage. E.g. in this form:

## [package-name](#)
Here's some description of what it does and why it's useful.
Simple example:
[code]
Read more about it in the [readme](#).

[2017-12-08 02:22] seanpoulter commented on #3793
Alright @Hetachi, the thread bump worked. I'll submit a PR after figuring out how to test this.

[2017-12-08 03:19] rtymchyk opened #5036 "React 16.2.0 fragments do not work with snapshots"
**What is the current behaviour?**
If you create a component that returns a `<React.Fragment/>` somewhere within it, Jest reports `TypeError: Cannot convert a Symbol value to a string` when you shallow render it.

**What is the expected behavior?**
The snapshot should be generated without an error.