[2017-08-22 21:27] cpojer commented on #4326
Jest hasn't changed, so it's unlikely that Jest is the issue. More likely your node_modules folder is messed up or the config in your project is causing issues.

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-08-22 21:27] #4326 closed

[2017-08-22 21:47] aaronabramov commented on #4296
@christiango it's either `--json` or `--listTest` flags that produce a JSON output in stdout.
sometimes we pipe jest output like this: `jest --listTests --findRelatedTests some_file.js | some_other_lib_that_expects_json_in_stdin`
if there's anything else printed in stdout it'll break JSON, that's why we use `--useStderr` :)

[2017-08-23 00:09] tvald commented on #2925
After some profiling, it looks like memoization-per-test doesn't offer a significant improvement. I'll submit a PR anyways, since HasteFS support should be quite similar to memoization.

Performance-wise, we saw our full test suite drop from ~230s to ~220s (-10s / -4%).

[2017-08-23 00:37] r-walsh commented on #4283
What form would you like to see a logging PR taking? My first thought is checking whether the reporter implements an `onJestLog`(or something similar) method. If so, divert all normal logs into that method, otherwise log as usual.

[2017-08-23 09:19] masoudcs commented on #2070
Yes just like you said, and we did not face any issues till now.
Hopefully, it is doing what it has to do! :)
Thanks

[2017-08-23 13:01] cpojer opened #4332 "Jest 21 Master Task"
* [x] inline-requires for perf. cc @SimenB
* [x] Rename `jest-matchers` to `expect`.
* [x] Handle async errors: https://github.com/facebook/jest/pull/4016
* [x] Fix AppVeyor build
* [x] Add `displayName` to MPR. https://github.com/facebook/jest/pull/4327
* [x] Pretty format PRs

[2017-08-23 13:12] SimenB commented on #4332
I think the inline require one is best handled by people more familiar with Jest internals at the state it is. It works (the PR that is) by excluding a given module, but that's a slippery slope (and easy to break by messing with e.g. `Array.prototype`, although that's not new with a lazy Jest). Something should be done WRT ensuring the env in a test is unable to touch the runner's env.

Happy to h

[2017-08-23 13:49] pedrottimark commented on #4332
To finish the batch of work on pretty-format:

[ ] merge #4275 and then 2 more small PR for `HTMLElement` plugin
[ ] merge #4253 and then 1 more large PR for `pretty-format/README.md`

While we are fixing edge cases with breaking changes:

[ ] decide about `trim` method, and then merge #4314 and its little brother #4311

But let #3429 marinate until following version of Jest:

* get feedback about

[2017-08-23 13:54] #3825 closed

[2017-08-23 13:59] dbyilmaz opened #4333 "Jest-cli error"
I have two error on run test . I dont solve it :/

**Node**:  v6.11.2
**Npm** : v3.10.10

**First error is   Cannot read property 'Object.<anonymous>' of null**
[code]

package.json
[code]

**When I dont use jest --no-cache , throw this error**
**Second erro**
[code]

[2017-08-23 14:02] cpojer commented on #4333
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-08-23 14:02] #4333 closed

[2017-08-23 17:02] aaronabramov commented on #4283
@r-walsh i don't think there's a quick fix for it right now. The problem is that we print other things from random parts of our codebase by just using `console.log`s
So i guess the right way would be to completely redesign reporters and make all of our internal modules use them, this is however a week-long task :)

[2017-08-23 17:24] jasonLaster opened #4336 "Feature: add a repeat option for re-running tests"
It would be nice if there were a `repeat` option which would make it easier to re-run tests.

[code]

It would be similar to this bash script

[code]

It's unfortunately common for me to be hunting down an intermittent failure. When it does happen, it is helpful to be able to run the test several times.

One benefit of adding `--repeat` is that the reporter can give a summary when it's done of the

[2017-08-23 20:23] thymikee opened #4337 "Enable multiple config options for jest-validate"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Currently `jest-validate` takes real JS object as a configuration sample, which doesn't scale to one config option having multiple possible values

**What is the expected behavior?**
Being able to validate things like this:
[code]

This can be fixed by introducing utility functions into `jest-valid

[2017-08-23 20:25] afaayerhan opened #4338 "jest.fn resets default mock implementation passed to it"
hello
`javascript  Jest.fn( function implementation () {
    return 'implementation return value'
} ` resets to returning undefined when jest.resetAllMocks() is in beforeEach.
PLEASE IF THIS IS NOT A BUG FEEL FREE TO CLOSE THIS ISSUE.
i have made a repl.it sample for you to take a look. https://repl.it/KWst/5

[2017-08-23 20:30] cpojer commented on #4338
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-08-23 20:30] #4338 closed

[2017-08-23 20:34] rogeliog commented on #4337
I like this approach

[2017-08-23 20:37] rogeliog commented on #4324
I also find this super noisy

How about something like this?

[code]

running with `--verbose` would give as similar output as today's behavior.

[2017-08-23 20:38] cpojer commented on #4337
I'd call it `either`, and/or mirror React's prop-types API

[2017-08-23 20:39] rogeliog commented on #4324
Unrelated note: Once `displayName` gets merged it might be a good idea to it to this output also

[code]

[2017-08-23 20:41] cpojer commented on #4324
Agree with @rogeliog, both of these suggestions make a lot of sense to me.

[2017-08-23 21:47] morungos commented on #4007
Anything I can do more to help on this?

[2017-08-24 00:52] rogeliog commented on #4332
Do we need https://github.com/facebook/jest/issues/4278 for Jest 21?

[2017-08-24 07:51] joaomilho commented on #3832
+1 on having a global setup, in my use case I wanna run a proxy server as well

[2017-08-24 08:37] cpojer commented on #4332
@rogeliog I'm not sure, I think there is a ton of stuff we could do here to make the API better and unclear right now if we should touch it and make it a thing for 21 at all. Let's discuss in the jest-core channel.

[2017-08-24 11:20] #3859 closed

[2017-08-24 12:32] cpojer commented on #3581
Will be in Jest 21

[2017-08-24 12:32] #3581 closed

[2017-08-24 12:44] cpojer commented on #3853
I think the problem here is that Jest buffers messages but there is something that causes to bail out (or an infinite loop etc.). You'll need to use `--verbose` to print the messages directly to the output stream.

[2017-08-24 12:48] cpojer commented on #1528
Wontfix for now.

[2017-08-24 12:48] #1528 closed

[2017-08-24 13:01] cpojer commented on #1705
Not currently on the roadmap.

[2017-08-24 13:01] #1705 closed

[2017-08-24 13:04] cpojer commented on #2150
Please send a PR to jest-runtime in the packages folder, it has the require implementation.

[2017-08-24 13:05] cpojer commented on #2136
This issue is not really actionable from Jest's side. We may need to build some utilities around the React ecosystem, but it doesn't belong into Jest.

[2017-08-24 13:05] #2136 closed

[2017-08-24 13:07] cpojer commented on #2694
We aren't planning on doing anything in this space at this time.

[2017-08-24 13:07] #2694 closed

[2017-08-24 13:09] cpojer commented on #2381
I think this is fine in the current alpha, `jest@test`.

[2017-08-24 13:09] cpojer commented on #2595
Closing this master task, the one outstanding task is still open.

[2017-08-24 13:09] #2595 closed

[2017-08-24 13:10] cpojer commented on #2355
Thanks for documenting this issue. We are not planning to make any larger changes to the mocking system right now, so I'd consider them known issues, and this specific issue isn't actionable so I'm closing the issue.

[2017-08-24 13:10] #2355 closed

[2017-08-24 13:11] cpojer commented on #2329
I guess this hasn't really been an issue for people…

[2017-08-24 13:11] #2329 closed

[2017-08-24 13:11] cpojer commented on #2330
Not planning on changing this at the moment.

[2017-08-24 13:11] #2330 closed

[2017-08-24 13:11] cpojer commented on #2460
Not planning to do this in jest-environment-jsdom. People can fork jest-environment-jsdom and build their own environment on top of it which will expose any globals people need.

[2017-08-24 13:11] #2460 closed

[2017-08-24 13:12] cpojer commented on #2479
Will be in 21.

[2017-08-24 13:12] #2479 closed

[2017-08-24 13:12] cpojer commented on #2510
Nobody is planning on doing this atm.

[2017-08-24 13:12] #2510 closed

[2017-08-24 13:14] cpojer commented on #2845
Duplicate of #2807.

[2017-08-24 13:14] #2845 closed

[2017-08-24 13:14] cpojer commented on #2807
If you are all running into this issue, please send a PR to fix it for everyone. We don't have Windows 7 machines, so unless you guys send a PR, this won't get fixed :) Thank you.

[2017-08-24 13:15] cpojer commented on #2825
Seems like there is a workaround, closing to keep the issue queue small.

[2017-08-24 13:15] #2825 closed

[2017-08-24 13:16] #3102 closed

[2017-08-24 13:16] cpojer commented on #3155
@rogeliog wanna try making an ava runner for Jest? :)

[2017-08-24 13:17] cpojer commented on #3176
We don't have Windows machines here at the moment, if you'd like to see this fixed, please send a PR with a test and we'll merge it. Thank you! From our side, this is not actionable, so I'm closing this issue.

[2017-08-24 13:17] #3194 closed

[2017-08-24 13:18] cpojer commented on #3214
We currently don't have bandwidth to support these use cases, nor do we have Windows machines. If you'd like this to be fixed, please send us a PR. From our side, this is not really actionable, so I'm closing this issue.

[2017-08-24 13:18] #3214 closed

[2017-08-24 13:20] cpojer commented on #3292
We are reducing memory for coverage in Jest 21 (`jest@test`) but further leaks are probably not something we'll look at anytime soon. If you'd like to investigate further, please send us PRs with fixes :) Thank you.

[2017-08-24 13:20] #3292 closed

[2017-08-24 13:20] cpojer commented on #3343
@ericnakagawa @hramos are you guys following up on this? :)

[2017-08-24 13:20] cpojer commented on #3375
Gonna close this because we won't be working on this right now.

[2017-08-24 13:20] #3375 closed

[2017-08-24 13:21] cpojer commented on #3382
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-08-24 13:21] #3382 closed

[2017-08-24 13:21] #3447 closed

[2017-08-24 13:22] cpojer commented on #3445
This individual task is not actionable, and we have separate issues to track further performance work. If you'd like to work on Jest's perf, reach out to me :)

[2017-08-24 13:22] #3445 closed

[2017-08-24 13:22] cpojer commented on #3499
@aaronabramov is this fixed in `jest@test`?

[2017-08-24 13:23] cpojer commented on #3522
We are keeping the jasmine API names for now.

[2017-08-24 13:23] #3522 closed

[2017-08-24 13:23] cpojer commented on #3541
This should be fixed in `jest@test`.

[2017-08-24 13:23] #3541 closed

[2017-08-24 13:23] #3542 closed

[2017-08-24 13:24] cpojer commented on #3543
Not planning to add this feature at this point.

[2017-08-24 13:24] #3543 closed

[2017-08-24 13:25] cpojer commented on #3560
Probably a ts-jest issue.

[2017-08-24 13:25] #3560 closed

[2017-08-24 13:28] cpojer commented on #3605
We are not planning on implementing this into Jest right now, especially since tests can be defined dynamically, you have to execute *some* amount of code to do this effectively. Otherwise, you can use static analysis to extract the tests and there is some code in `jest-editor-support` to do that already.

[2017-08-24 13:28] #3605 closed

[2017-08-24 13:29] #3656 closed

[2017-08-24 13:29] cpojer commented on #3656
Please feel free to send PRs.

[2017-08-24 13:30] cpojer commented on #3663
Probably not going to fix this if it works in node 7+.

[2017-08-24 13:30] #3663 closed

[2017-08-24 13:31] cpojer commented on #3670
Not planning to change anything there for now.

[2017-08-24 13:31] #3670 closed

[2017-08-24 13:31] cpojer commented on #3698
With Jest 21 you can make this work, see: https://github.com/cpojer/pyjest Otherwise, ask @kittens since he already made this happen :)

[2017-08-24 13:31] #3698 closed

[2017-08-24 13:33] cpojer commented on #3740
I'll close this one for now as there is another issue to improve the typeahead UX overall. #2595.

[2017-08-24 13:33] #3740 closed

[2017-08-24 13:34] #3737 closed

[2017-08-24 13:34] cpojer commented on #3768
This happened!

[2017-08-24 13:34] #3768 closed

[2017-08-24 13:35] cpojer commented on #3823
We'll keep using this for now.

[2017-08-24 13:35] #3823 closed

[2017-08-24 13:35] cpojer commented on #3829
This probably depends on your terminal.

[2017-08-24 13:37] cpojer commented on #3874
I think `.resolves` and `.rejects` fills this use-case reasonably nicely for now.

[2017-08-24 13:37] #3874 closed

[2017-08-24 13:37] cpojer commented on #3978
Yep, we'll do that in a small diff soon, as we are upgrading the docs and we'll wipe away the outdated files.

[2017-08-24 13:37] #3978 closed

[2017-08-24 13:39] cpojer commented on #4007
This is not a Jest bug, this is a bug with the library that is not tearing down event emitters after a successful test run. You need to make sure that you clean up any resources at the end of a run.

Note we have thousands of tests at FB that all run in a single run, and we aren't experiencing this issue. We did have a bug once with both the react-native and the Jest tests running into the same is

[2017-08-24 13:39] #4007 closed

[2017-08-24 13:40] #4219 closed

[2017-08-24 13:40] cpojer commented on #4209
This is a duplicate issue, and will be fixed in the next release.

[2017-08-24 13:40] #4209 closed

[2017-08-24 13:40] cpojer commented on #4179
Yep.

[2017-08-24 13:40] #4179 closed

[2017-08-24 13:41] cpojer commented on #4065
Yep!

[2017-08-24 13:41] #4065 closed

[2017-08-24 13:42] cpojer commented on #4135
This belongs on the Yarn issue tracker.

[2017-08-24 13:42] #4135 closed

[2017-08-24 13:42] cpojer commented on #4156
I think this behavior is confusing and I would prefer Jest to be consistent in what it outputs per test, regardless of state.

[2017-08-24 13:42] #4156 closed

[2017-08-24 13:42] cpojer commented on #4160
About to fix this…

[2017-08-24 13:42] #4160 closed

[2017-08-24 13:43] cpojer commented on #4213
Yep, you can compose your own transformers.

[2017-08-24 13:43] #4213 closed

[2017-08-24 13:44] cpojer commented on #4227
See https://github.com/facebook/jest/pull/3458

[2017-08-24 13:44] #4227 closed

[2017-08-24 13:44] cpojer commented on #4250
Working on it!

[2017-08-24 13:44] #4250 closed

[2017-08-24 13:45] #4256 closed

[2017-08-24 13:46] cpojer commented on #4279
Probably a mock or library issue, not an issue with Jest.
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-08-24 13:46] #4279 closed

[2017-08-24 13:54] aisensiy commented on #3923
#4331
Add a new argument to add ignore files in watch mode.

[2017-08-24 13:58] cpojer commented on #4181
This is not a bug, this is an unsupported feature. If you'd like this to be supported in Jest, you'll need to go through sending a PR for it with tests yourself.

[2017-08-24 13:59] #3923 closed

[2017-08-24 14:00] dcalhoun commented on #4181
@cpojer thank you for the follow up. I'll update this ticket to be a feature request and work on a PR for this addition.

[2017-08-24 14:15] nathanforce commented on #3823
@cpojer Could you provide the reasoning, just for my curiosity?

[2017-08-24 14:18] cpojer commented on #3823
Components can be nameless, and we fill in an unknown name, which is similar to what React also does.

[2017-08-24 14:25] nathanforce commented on #3823
I understand that for valid, renderable components, but can components be undefined?  Seems you could get the best of both worlds by adding an explicit check for undefined/invalid nodes.

[2017-08-24 14:27] cpojer commented on #3823
cc @pedrottimark I'll defer to you.

[2017-08-24 15:33] nf071590 commented on #3853
This is ridiculous - I am triggered by the amount of useless responses from @cpojer (in every issue and PR I go to) and trying to put everything on everyone else like somehow we aren't smart enough.

Don't use Jest - that's my answer if you're wondering. Find a new testing framework.

[code]

[code]

[code]

I am sure I'll just be told to install a newer version of Node Lmao - what a joke 😂 😂 😂

[2017-08-24 15:54] SimenB commented on #1679
PR for it: #4345

[2017-08-24 16:08] jseminck commented on #3873
Is this still a feature that is wanted (since it has Discussion label) ? It seems not too difficult to add this feature, and I would like to make a PR for it. 😄

[2017-08-24 17:31] nf071590 commented on #3853
yup @thymikee I am making it up lol - that was dead serious - it's not working - what do you suggest? I am using a bad OS? should i upgrade my OS to use jest?

[2017-08-24 17:35] #1679 closed

[2017-08-24 17:38] ansballard commented on #2381
Just tested with jest@test (`v21.0.0-alpha.2`) . Still has issues with paths that include parentheses on windows. Jest finds and runs my tests from `C:\Program Files\tmp\project`, but not from `C:\Program Files\tmp (x86)\project`.

[code]

[2017-08-24 17:42] cpojer commented on #2381
That sucks. It would be great if you could troubleshoot it and send a PR and test to fix it as I don't have access to any Windows machines.

[2017-08-24 17:57] thymikee commented on #3873
I'm for that change. It doesn't break the API and looks like will make your life easier ;)

[2017-08-24 18:08] Turbo87 commented on #2714
@chriskrycho I am quite interested in this, but since jest only targets nodejs (and jsdom) it doesn't fit well for running frontend tests. In Ember it would need to replace testem+qunit but it seems like the tradeoffs are not worth it at this point.

[2017-08-24 18:18] hramos commented on #3343
@ericnakagawa we can probably do this as part of the migration to the new website backend.

[2017-08-24 18:19] wtgtybhertgeghgtwtg commented on #4332
Just making sure, but #4091 will land with `jest@21` and friends, right?

[2017-08-24 18:20] thymikee commented on #4332
@wtgtybhertgeghgtwtg yup, it's already on master (from which the releases are cut)

[2017-08-24 18:20] jseminck commented on #3873
One issue I found already is that the current API also supports `expect(myObj).toHaveProperty('myKey')`, to check whether the key simply exists, not taking into account the value.

But since the options argument has to be the current non-existing third argument, then we can't have that API for when options would be passed...

[2017-08-24 18:20] thymikee commented on #4332
it's actually already on `jest@test` if you need it

[2017-08-24 18:23] thymikee commented on #3873
this should work?
[code]

[2017-08-24 18:28] aaronabramov commented on #3873
it'll also enable array indexes in paths without crazy `[0]` annotations.
[code]

[2017-08-24 18:58] ansballard commented on #2381
I'd be happy to, but I'm not sure if I'll have the time in the near future. I spent an hour or so digging through to see if it was a quick fix but I couldn't track down the issue, and I can't spend any more time than that from work. Sorry!

[2017-08-24 20:07] sbking opened #4349 "Feature request: Add toHaveBeenCalledWithExactly expect method"
**Do you want to request a *feature* or report a *bug*?**
This is a feature request.

**What is the current behavior?**
`toHaveBeenCalledWith` tests that the arguments match, but not that they refer to the same object. In this example, I want to be able to test that the function `foo` is called with the output of the function `bar`:

code.js:
[code]

code.test.js:
[code]

**What is the expected be

[2017-08-24 20:19] skovhus commented on #4332
I think https://github.com/facebook/jest/issues/4074 and browser support documentation....

What about the ever failing CI? Does anybody have an update on that?

[2017-08-24 20:22] cpojer commented on #4332
CI is only failing on AppVeyor with a minor issue that nobody has spent time on fixing yet.

[2017-08-24 20:25] cpojer commented on #2714
Actually, this is not true any longer. Jest's runner can now (as of `jest@test`, Jest 21) run or drive any other test framework (See https://github.com/cpojer/pyjest for running Python tests) and `jest-matchers` was renamed to `expect` and will work in browsers. All that's needed is for somebody to hook up the glue code to run a test in a browser.

[2017-08-24 20:26] cpojer commented on #4349
We are not planning to add new matchers to Jest at this point. With `expect.extend`, you can add your own matchers to Jest :)

[2017-08-24 20:26] #4349 closed

[2017-08-24 20:56] sbking commented on #4349
@cpojer How about the note about documentation? This was very confusing for our team as the documentation makes it sound like `toHaveBeenCalledWith` does a strict equality test, but in reality it does some kind of deep or shallow matching algorithm (impossible to tell really what it does from the docs, need to look at the code).

[2017-08-24 20:59] cpojer commented on #4349
Feel free to send a PR for the documentation to clarify confusing bits :) Thank you!

[2017-08-24 21:27] cpojer commented on #2059
This is part of Jest 21 thanks to @dignifiedquire. Published `jest@test` (Jest 21 beta) so you can give this a try. Also enjoy a substantially faster Jest startup.

[2017-08-24 21:27] #2059 closed

[2017-08-24 21:52] jovanitz opened #4351 "how ignore some part of code when run test."
I'm using materialize and I need to add the scripts in the index file.
<img width="742" alt="issue1" src="https://user-images.githubusercontent.com/13055391/29690192-9bc449da-88eb-11e7-8092-184ef8d0a994.PNG">
<img width="731" alt="issue2" src="https://user-images.githubusercontent.com/13055391/29690208-aada2f7a-88eb-11e7-96b7-2b348a1793c9.PNG">
I'm using create-react-app, so the problem is when I

[2017-08-24 21:55] cpojer commented on #4351
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-08-24 21:55] #4351 closed

[2017-08-24 22:10] thymikee commented on #4351
You can make use of Jest mocking system:
* docs on [`jest.mock`](http://facebook.github.io/jest/docs/en/jest-object.html#jestmockmodulename-factory-options)
* and [here](https://github.com/facebook/jest/tree/master/examples/module_mock) example in Jest repository that you should find useful in this case

However if you experience any troubles, reach out to SO or Discord community.

[2017-08-25 02:12] chitchu commented on #4324
I'd like to work on this. I'll have the PR shortly.

[2017-08-25 02:46] rogeliog commented on #4324
Awesome!

[2017-08-25 08:02] stjepangolemac commented on #4326
@glortho Have the same problem, but I'm not using lerna. I managed to fix this by manually editing the file of jest-cli.

This is the path in my project:
node_modules/jest/node_modules/jest-cli/build/cli/index.js

Lines 22-24 before the edit:
[code]

And after the edit:
[code]

[2017-08-25 08:38] Turbo87 commented on #2714
that part sounds like it could easily be used in Ember tests, just like we integrate Chai (https://github.com/ember-cli/ember-cli-chai)

that sounds interesting. the runner is certainly nice to use, but on the other hand I don't see too many advantages of using it for Ember tests at this point. I'd be happy to chat about the details though if anyone is interested in learning about the testing stor

[2017-08-25 09:24] vcarel commented on #2234
Whenever you mock date, don't forget to put back the real version.
Following @callemo comment, you may use the following snippet:

[code]

[2017-08-25 11:26] #4324 closed

[2017-08-25 12:05] eddiesholl opened #4356 "New eslint rule proposal: newline before expect statement"
This is a proposal for a new eslint rule that we have found as a team helps with readability in our jest tests. It is similar to [newline-before-return](https://eslint.org/docs/rules/newline-before-return) but for expect statements. A newline is required between a line with an `expect` statement on it, and a line with setup code before it.

Examples that satisfy this rule:

[code]

[2017-08-25 12:09] cpojer commented on #4356
We will not be adding style related lint rules to Jest. Please feel free to build your own lint rules and share them with the community.

[2017-08-25 12:09] #4356 closed

[2017-08-25 12:12] cpojer commented on #4356
Just to clarify, we are not interested in adding style related lint rules because they tend to be very subjective. We do not want to impose any one code style on Jest's users.

[2017-08-25 12:14] SimenB commented on #4356
@eddiesholl If you do create a package with style rules, I'd love to see it (especially if they are autofixable)!

[2017-08-25 12:28] itaied246 opened #4357 "Profiles proposal"
We are using `Jest` to run our unit tests as well as our integration tests.
In order to execute jest with different configurations we have created several different configuration files,
i.e `jest.conf.integ.json`, `jest.conf.unit.json` etc...

It could be useful to enable a profiles feature,
so running jest with the same configuration file,
with some of the properties are shared and some are profi

[2017-08-25 12:41] cpojer opened #4358 "Build an in-vm context require implementation"
`jest-runtime` currently does a large number of things and it isn't clear any more what it's responsibilities are. It implements require for contexts, keeps the state of mocks, transforms scripts and does a number of other things.

To make Jest work in multiple environments (browsers etc.), the require implementation and mock state need to be abstracted away so that they can be run inside the cont

[2017-08-25 12:48] cpojer commented on #4357
You can turn your Jest config into a `js` file and apply any logic you want. We will not be adding profiles. You can also have a basic json file and then three js files with the different envs and use those to run tests in different environments.

[2017-08-25 12:48] #4357 closed

[2017-08-25 13:11] sospedra commented on #2979
I've got the same problem with

`jest` 19, 20 and 21
`react-native` 47
`react` 16
`react-test-renderer` 16

[2017-08-25 13:34] cpojer commented on #848
Hey everyone! I thought I'd give an update on this thread, as it is one of our oldest issues. We actually made quite a lot of progress on this for Jest 21, although it's not as straightforward as "running Jest in the browser" yet. Currently tagged as beta, `jest@test` can run a number of modules inside of the browser, with your existing test runner there.

* `jest-matchers` is renamed to `expect`

[2017-08-25 13:45] gaearon commented on #2979
@sospedra Please provide a reproducing case for folks can look into it.

[2017-08-25 14:08] sospedra opened #4359 "ReactNative Animated is not properly mocked"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Animated is not mocked

Using
`react-native` 0.47
`jest` 20
`react` 16
`react-test-renderer` 16

Implement any `Animated` component. With the `new Animated.value` and so on. And make a snapshot test.

It'll return:

<details>
  <summary>Log error</summary>

[code]
</details>

<br/>
**What is the expect

[2017-08-25 14:09] cpojer commented on #4359
This is not a Jest issue, this is an issue with react-native.

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-08-25 14:09] #4359 closed

[2017-08-25 14:12] FuzzySockets commented on #698
Same issue here.

[2017-08-25 15:16] rogeliog commented on #3155
I'll give it a try!

[2017-08-25 15:22] pedrottimark commented on #3823
@nathanforce Thank you for your patience until we could think how to sort it out in #4360

[2017-08-25 15:24] suchipi commented on #848
@cpojer I'm interested in contributing. I don't think I'm familiar enough with `jest-runtime` to pull it apart, but could I contribute to `jest-circus` somehow? I'm more familiar with that problem space.

[2017-08-25 16:20] aaronabramov commented on #848
@suchipi any help on `jest-circus` side would be appreciated!
some of the things that we need to do next is:
- make it fully compatible with Jasmine (currently it has about 90% of the features)
- refactor and modularize the integration between `jest-circus` and `test_runner`
- write a lot of tests

let me know if you want to work on any of that!

[2017-08-25 16:25] suchipi commented on #848
@aaronabramov Jasmine compatibility should be pretty straightforward. Is there a tracking issue outlining which features are missing that need to be added?

[2017-08-25 16:32] suchipi commented on #848
I can do spelunking and figure it out if needed, but I don't want to add anything that you don't actually need; Jasmine as a whole has some overlap with `expect`, `jest-mock`, etc

[2017-08-25 17:16] aaronabramov opened #4362 "`jest-circus` feature parity with `jest-jasmine`"
We need to make sure `jest-circus` is compatible with existing tests.

Right now i'm using `Jest`s test suite to see if tehre's any errors.
to do that we can replace this `require`
https://github.com/facebook/jest/blob/19384094dc7ac5cd77e4eacf611d76abe5837063/packages/jest-runner/src/run_test.js#L63
with a path to the adapter:
[code]
and run
[code]

PRs that i opened but never had a chance to merg

[2017-08-25 19:27] tvald commented on #2925
Just noting that in light of #4109 our team is considering divestment from dependencies licensed under BSD+Patents, so I won't be contributing any further patches until that's settled. #4325 should at least have made jest usable with larger codebases.

[2017-08-25 21:07] suchipi commented on #4362
Thanks @aaronabramov, I'll take a look at this this weekend

[2017-08-25 23:40] mattwiller opened #4364 "Failing expectation hangs inside bluebird Promise#asCallback()"
Given the following minimal test case, Jest hangs and eventually times out:

[code]

Running Jest on this test file produces the following output:

[code]

If I change the expectation to be something that passes, e.g. `expect(2 + 2).toBe(4)`, the test passes just fine.

I'm using the latest version of bluebird (v3.5.0) and jest (20.0.4), on a fresh install of node_modules.

[2017-08-26 02:11] ide opened #4365 "Figuring out how to handle the "assert" dependency in RN"
I got jest-circus running on RN with some custom configuration and ran into a small issue with the "assert" module that jest-circus requires. I got around this issue by installing "assert" from npm (which I believe is the same assert module that Browserify uses) but it'd be nice either for things to just work out of the box or for this caveat to be listed somewhere when jest-circus is ready.

[2017-08-26 07:41] thymikee commented on #4364
This will be fixed in next release. You can try the beta here: `jest@test`

[2017-08-26 07:41] #4364 closed

[2017-08-26 13:12] Vanuan commented on #2979
Yeah, it's always reproducible on one test case. Will try to isolate the problem next week

[2017-08-26 16:37] nmaro opened #4369 "Feature request: option to request confirmation before storing first snapshot"
When a snapshot changes, it asks you to confirm before updating the stored snapshot, which is very useful.

The first time a snapshot is run, though, jest assumes that that snapshot is already fine and immediately stores it. One has then to go read the snapshot file and make sure it's fine. Snapshot files are more cumbersome to read than a direct log of the snapshot.

I expect this to remain the d

[2017-08-26 17:19] rogeliog opened #4370 "Pending items for the runner"
There are a couple of pending items
-  [x] Add documentation for the `runner` option
-  [ ] Add a way configure runner #4278

[2017-08-26 17:30] thymikee commented on #4369
Something like this is already being worked on and tracked under another issue. See WIP PR: https://github.com/facebook/jest/pull/3831

[2017-08-26 17:30] #4369 closed

[2017-08-26 17:32] nmaro commented on #4369
Ok, sorry, thanks.

[2017-08-26 19:12] excitement-engineer commented on #4332
In the PR comments you mentioned that #3660 will land in Jest 21 as well. I finished up the PR as per your comments so hopefully it can be merged in time for Jest 21:)

[2017-08-26 20:44] ide opened #4371 "Feature requests for jest-circus"
I'm looking into running Jest in RN and with the beta version of jest-circus. I had a couple of questions and feature requests for jest-circus I was hoping to share as the team works on it.

Starting with some questions: what is the vision for jest-circus? Conceptually, what is the interface that jest-circus provides? Is jest-circus intended to inject describe/beforeEach/afterEach/it/etc... into t

[2017-08-26 22:49] MattMorgis commented on #4289
I'm not sure if this is related, but the content varies and is different depending on if `en` is in the link.

Ex:
https://facebook.github.io/jest/docs/troubleshooting.html#content

https://facebook.github.io/jest/docs/en/troubleshooting.html#content

[2017-08-26 23:35] ksmithut commented on #4248
It concerns me that the version/features of node running my tests is not the version running in my production environment. I get the use case for mocking things for a browser environment, but for a node environment, I don't see why jest can't just use the existing runtime. That's likely ignorance on my part for not understanding the complexities of how jest is doing it's thing. I've also tried set

[2017-08-27 01:18] nicholasess opened #4372 "Error when i access the doc in portuguese"
I'm trying access doc of jest in portuguese, but is returned a error

http://facebook.github.io/jest/pt-BR/

[2017-08-27 06:21] suchipi commented on #4362
I'm confused; I ran the tests with the jest-circus adapter (as far as I can tell) and I'm not seeing any failures.

I ran:
[code]
In the repo root, and saw no failures except for some tests that failed because they depended on mercurial, which I didn't have installed.

After installing mercurial, I ran the same command again, and saw no failures.

I was expecting to see some failures and that thos

[2017-08-27 06:44] thymikee commented on #4248
@ksmithut you can always use whatever Node version you need and a [babel transform](https://babeljs.io/docs/plugins/transform-object-rest-spread/) just for the test, until this is resolved.

If you don't use Babel, It's as easy as running `yarn add babel-plugin-transform-object-rest-spread --dev` and adding `.babelrc` to your root and:
[code]

[2017-08-27 07:31] cpojer commented on #4362
All the integration tests will still use Jasmine. You could probably change Jest's default config to use jest-circus and then see which integration tests fail, or go into each folder in integration_tests and run individually with circus.

[2017-08-27 07:34] cpojer commented on #4365
cc @suchipi how about getting rid of assert in jest-circus?

[2017-08-27 07:48] cpojer commented on #4289
I just replaced all the old docs pages with redirects to the en versions (finally).

[2017-08-27 07:48] #4289 closed

[2017-08-27 07:56] cpojer commented on #4332
Yep, it's part of 21!

[2017-08-27 08:07] rogeliog commented on #4289
:clap:

[2017-08-27 14:31] eddyerburgh opened #4374 "Use a .jest"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Jest must be passed a configuration file explicitly:

[code]

**What is the expected behavior?**
Use a .jestrc.json file in the root of the project for configuration if it exists.

[code]

I'm happy to make a PR for this if people agree with the suggestion. Also happy to use a different name, like

[2017-08-27 15:11] cpojer commented on #4374
Jest uses the "jest" field in package.json as a default. We will not be adding any more defaults at this time.

[2017-08-27 15:11] #4374 closed

[2017-08-27 15:37] suchipi commented on #4365
Sure, that should be simple

[2017-08-27 15:41] thymikee commented on #4374
Psst, you can use file named `jest.config.js`

[2017-08-27 17:26] suchipi commented on #4371
@cpojer @aaronabramov As part of the second bullet, we could pull the module-level state in [jest-circus/src/state.js](https://github.com/facebook/jest/blob/master/packages/jest-circus/src/state.js) into an object. So instead of the module exporting `addEventHandler`, `dispatch`, `getState`, and `setState`, it could export eg `makeCircusState` which returns an object with all those functions on it

[2017-08-27 17:31] suchipi commented on #4362
Ok, changing the default for testRunner in [jest-cli/src/cli/args.js](https://github.com/facebook/jest/blob/master/packages/jest-cli/src/cli/args.js) and running `yarn run build` worked, I see the failures now. Thanks!

[2017-08-27 20:34] #4074 closed

[2017-08-27 20:50] #4365 closed

[2017-08-27 22:06] rogeliog commented on #4372
Thanks for reporting!

http://facebook.github.io/jest/pt-BR/ seems to work for me, what do you mean by "error" is the page not loading a all?

[2017-08-27 22:10] rogeliog opened #4379 "Docs for project displayName"
**Do you want to request a *feature* or report a *bug*?**

Docs

**What is the current behavior?**
#4327 added `displayName` to MPR, but docs are still pending. This issue tracks it.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.

[2017-08-27 22:10] rogeliog commented on #4332
@cpojer https://github.com/facebook/jest/issues/4379

[2017-08-27 22:11] rogeliog commented on #4332
Also, should we use a milestone for Jest 21?

[2017-08-27 23:01] nicholasess commented on #4372
Well, yesterday not was working.
The error was about "title" in someone file...Sorry, I forget to put the error in description.
But i happy that you give me a nice news, I will close the issue.

See ya!

[2017-08-27 23:01] #4372 closed

[2017-08-28 01:55] ksmithut commented on #4248
@thymikee Thanks :) I think I'll just avoid using object spread in my code for now. It's as easy as using `Object.assign()`. Not the prettiest, but I'd like to avoid any semblance of using babel, even if Jest is using it on my code.

[2017-08-28 03:28] thejameskyle commented on #4257
For module mocking, what if Jest just told you to import your mocks directly?

For example, with the source module `methods.js`:

[code]

And the mock module `__mocks__/methods.js`:

[code]

You would consume the mock in `__tests__/methods.js` by importing the mock directly.

[code]

By importing the mocks directly, you can create the correct Flow/TS types, you can also use the import to `__mock__

[2017-08-28 04:12] TheSavior commented on #4257
I think flow is currently happy with mock modules that exist in `__mocks__` directories simply because it doesn't know about them.

If you have module `source.js` which contains

[code]

and you have `__mocks__/source.js` that contains a module with different function signatures, since flow doesn't have a concept of mocks, when your test requires `source.js`, flow *thinks* you have the original fi

[2017-08-28 05:49] SimenB commented on #4332
Usage in the browser also needs docs, and probably a full example

[2017-08-28 06:23] thejameskyle commented on #4257
I think we need to get in the habit of doing stuff like:

[code]

Where `jest.stub` has the type of:

[code]

And for non-objects:

[code]

Or:

[code]

Where the type of `jest.fn` is:

[code]

[2017-08-28 06:59] TheSavior commented on #4257
Yeah, exactly. I believe that is Aaron's proposal. It's also very consistent with how sinon stubbing works but not how jests current API works.

However, what we really want to guarantee is that if you have a source file:

[code]

And in a test we do something like this:

[code]

We believe we want flow to complain that this mock doesn't have the same signature as the function being mocked. I'm no

[2017-08-28 07:01] TheSavior commented on #4257
Oh, upon rereading your comment, perhaps that flow type will work. We should give it a try! :-)

[2017-08-28 07:27] sospedra commented on #2979
Follow up. I'm trying to make a repro case but `react-native` clean install is not working :/ (unrelated problems). I'll come back later.

[2017-08-28 09:37] sospedra commented on #4359
It looks like a jest bug to me.
See this thread: https://github.com/facebook/jest/issues/2979#issuecomment-325280705

[2017-08-28 13:41] jiroftimahdi opened #4380 "Setting jasmine.DEFAULT_TIMEOUT_INTERVAL in jsdom environment"
I have created a React project using create-react-app and have used the redux library. In order to test my async actions I have to pass a done callback to the test function like so:

[code]
But when I run ```npm test``` I receive the following error:

[code]
Which I think is caused by jasmine.DEFAULT_TIMEOUT_INTERVAL not being set correctly. How can I resolve this?

[2017-08-28 13:41] afaayerhan opened #4381 "clearAllMocks and resetAllMocks Docs"
would be great to clearly differentiate clearAllMocks and resetAllMocks in the docs. going through previous issues here saw like there was some controversy as resetAllMocks was supposed to be the replacement for clearAllMocks. but was later return (i.e clearAllMocks) with a different behavior from resetAllMocks. ( i'm not sure i know what i'm talking about). in jest.d.ts from definately typed the

[2017-08-28 13:41] jiroftimahdi commented on #4380
When I edit package.json test script without set jsdom environment it is work well like so:
[code]
But I need jsdom for several test case

[2017-08-28 14:16] kumar303 commented on #4156
@cpojer for me, it's confusing to try and find console messages relating to my test that failed :/ If you can suggest better ways to achieve that then please do.

As a compromise, would you accept a patch that exposes `DefaultReporter` in [jest.js](https://github.com/facebook/jest/blob/master/packages/jest-cli/src/jest.js#L18) so I can extend it? Otherwise, I'd have to copy and paste the world to

[2017-08-28 14:42] jimjkelly commented on #3687
For those reluctant to install a dependency just for this, you can also add this to your setupFile:

`Object.values = (obj) => Object.keys(obj).map(key => obj[key])`

[2017-08-28 14:44] Vanuan commented on #2979
No, I don't have "timers": "fake" in my jest config.

[2017-08-28 15:13] cpojer commented on #4380
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-08-28 15:13] #4380 closed

[2017-08-28 15:13] cpojer commented on #4381
Please feel free to send a pull request to improve the docs to clarify the difference.

[2017-08-28 16:55] ansballard commented on #3853
Throwing in since I'm on windows (node 8.4, jest 21.0.0-alpha.2), `console.log`s are _sometimes_ hidden if you don't use `--verbose`, but seem to show consistently with it. Happy to update with results using node 7 and stable jest when I get a minute.

[2017-08-28 17:01] TheSavior commented on #4257
I tried this out in the REPL and couldn't get the `$PropertyType` call to work. Any ideas?

https://flow.org/try/#0PQKgBAAgZgNg9gdzCYAoVBjOA7AzgFzAFsBPAWTgBMBXGAUzAF4wBvVMMKOOACgEMATgHMAjAC4wBAQEtsQgJQTs1IgCM6A1uzABIAXXzUB2MACYA3NoC+qG5hwEwAKzqPmbDgWqqAPAHlVJwkAlwx8ABowAAUBOAAHCSlZIQA+Hm0dOEDgwMiMogMACyoJGPi8jh1pIjj6Aux8PnxpHAkAEjK4jXwSABUSLv9c6Ni4lO15LQ4OLKcAbQL8YsoAXSYwatq6esbmnEsOGytLVGBgMF7CjQ

[2017-08-28 21:44] aaronabramov commented on #4371
oh.. i posted the my reply yesterday, but it seems like there was a network error and it eventually didn't get posted :(

@ide i think all three features are possible to have with `jest-circus`.
Initially i wanted to make it as modular and functional as possible. The hardest challenge is going to be dealing with globals. I wanted to do pretty much the same thing as @suchipi said. i wrote a small s

[2017-08-29 00:04] ide commented on #4371
@aaronabramov oh man, that sucks when your post gets lost like that, sorry :(

@suchipi's suggestion would work for me, right now I'm mutating the global Jest state. It'd also be nice (when the time comes) to know what parts of the state are considered the public API (ex: which events are public, which state fields are public) and what parts are implementation details that are more likely to chang

[2017-08-29 04:03] Negan1911 commented on #4333
Same error here for a completely different kind of test, using Node.js backend, aside that there is not information about this.

[code]

@cpojer I think that there is a bug here since it fails importing the module (on jest), maybe is a dynamic require issue?

[2017-08-29 05:23] aaronabramov opened #4382 "parallelize JS transform by precompiling it before the test run"
i was talking to @wanderley this morning and he had an interesting idea of improving performance of our test runs.
The bottleneck in www that we're hitting right now is JS transormation that is happening in a single thread /process, and there's nothing really we can do about it because all `require`s should be synchronous and it's almost impossible to parallelize things and keep them synchronous.

[2017-08-29 09:11] ishantoberoi opened #4383 "Issue with --testPathPattern and --testNamePattern"
I am trying to separate out the unit tests and snapshot tests in two separate folders, using
### --testPathPattern.

I use separate folders like
npm run jest-unit corresponds to  jest --testPathPattern="'tests/unit-tests/.*'"
npm run jest-snapshots corresponds to jest --testPathPattern="'tests/snapshot-tests/.*'"

But while i just run npm run jest-unit, jest complains about 'x Obsolete snapshots f

[2017-08-29 09:14] cpojer commented on #4383
Jest ensures consistency of snapshots globally across your config, regardless of which tests you are concretely running. This is intentional.

[2017-08-29 09:14] #4383 closed

[2017-08-29 09:19] ishantoberoi commented on #4383
@cpojer What about --testNamePattern in jest 20.0.4?

If the above behaviour is intentional,  what is the benefit of --testPathPattern?

[2017-08-29 09:26] cpojer commented on #4383
It's used to control the test run, it is not used to control the feature that ensures consistent state in your repository.

[2017-08-29 09:28] cpojer commented on #4382
I'm excited to see experiments in this area but I'd be curious to see how this behaves in a number of scenarios compared to the current state:

* 8 tests run in parallel on 8 cores, each require ~100 modules, where only 5% of the modules overlap
* 1 test run that requires 10 modules
* 1 test run that requires 5000 modules
* 1 test run that requires 5 modules, but the approximation of the dep graph

[2017-08-29 10:08] ishantoberoi opened #4384 "Jest tests pass but output is directed to stdErr"
Even thought all the JEST tests pass, they are logged as [ERROR] in mvn output.
Jest is passing all output to Stderr

[code]

Any idea?

[2017-08-29 10:13] thejameskyle commented on #4257
Oh right, `$PropertyType` wants you to put the string literal inline: `$PropertyType<Obj, 'prop'>`. I wonder if the Flow team could help out with this to improve Jest. @mroch @samwgoldman ?

[2017-08-29 10:15] ayonghosh commented on #4383
@cpojer That's hardly useful. Is this documented anywhere?

[2017-08-29 12:14] cpojer commented on #4384
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-08-29 12:15] cpojer commented on #4384
It's possible that this is because Jest may choose to print to stderr, rather than stdout (when `--json` is given for example). You may be able to re-route where the test output is written to.

[2017-08-29 12:15] #4384 closed

[2017-08-29 12:16] cpojer commented on #4383
It is useful, because Jest ensures consistent state in your repository after each run and verifies that there are no snapshot files in your repo that shouldn't be there in the first place. If Jest didn't do this, your snapshot files would be littered with outdated snapshots and there would be snapshot files that don't belong to test files.

[2017-08-29 17:04] k-shan opened #4386 "Ability to run tests within a file in a random order"
**Do you want to request a *feature* or report a *bug*?**
Feature

There have been cases where a test passes but when reordering the test in a file it actually fails. To prevent this false positive it would beneficial to randomize the order of tests within a specific file.

Jasmine has enabled this (https://jasmine.github.io/2.8/node.html#section-22), would it be possible to expose a configuration

[2017-08-29 17:06] cpojer commented on #4386
To isolate tests in Jest, you can use `jest.resetModules()` and then re-require modules for each individual tests. If you are strict about this, you won't need to randomize tests, and we aren't considering this feature for inclusion at this point.

[2017-08-29 17:07] DarrylD commented on #3108
any updated on this?

[2017-08-29 17:10] evan-scott-zocdoc commented on #4332
@cpojer https://github.com/facebook/jest/issues/4100? :)

[2017-08-29 18:14] Turbo87 commented on #2714
@cpojer is it possible to use *multiple* runners? I would like to integrate ESLint into Jest so that it generates tests per linted file and using a custom runner for that might make this viable, but if only a single runner can be used I would still need to run multiple instances of Jest which defeats the purpose.

[2017-08-29 19:36] cpojer commented on #2714
@Turbo87 yes, it will be possible. Here is an experimental runner for eslint, by @rogeliog: https://github.com/rogeliog/eslint-runner

[2017-08-29 20:23] felixc commented on #4386
Thanks for the pointer @cpojer, but as per https://github.com/facebook/jest/issues/3236 it seems that this isn't actually possible when using ES6 import syntax. Is there anything in the works for that? I suspect increasing numbers of folks will be trying out the nice new `import`s...

[2017-08-29 20:25] cpojer commented on #4386
Right, you'll have to use `require` calls inside of your tests, but the rest of your code can still use ES modules.

If you create your own ES module plugin that allows imports within functions (instead of only on the top level), you can use ES imports there as well. It's a small change to the flavor of babel that you are using, and would be limited to tests.

[2017-08-29 21:08] tkrotoff commented on #336
I've managed to use `remap-istanbul` with TypeScript, this should work with other transpilers. I could get Codecov and Code Climate to work with this.
Here the explanations: https://github.com/codecov/example-typescript/issues/7

---

Copy-paste for history:

What you need to change in your code for it to work: https://github.com/tkrotoff/ReactFormWithConstraints/commit/b5817829141ea6b28e77a8eeaa6

[2017-08-29 21:36] viddo commented on #1477
Created a PR to solve this #4387, I'd appreciate some feedback over there.

[2017-08-29 21:58] aaronabramov opened #4388 "--listTests should always print to `stdout`"
if we run jest with `--listTests --json` arguments the output will be printed to `stderr` which is incorrect.
We need to change these lines to use `console.log` https://github.com/facebook/jest/blob/master/packages/jest-cli/src/run_jest.js#L117-L122

also this test needs to be fixed to use `stdout`
https://github.com/facebook/jest/blob/master/integration_tests/__tests__/list_tests.test.js#L40-L42

[2017-08-29 23:09] onetrickwolf commented on #1874
Any update on this? I am getting intermittent failures on circleci (seems to be during times of load and always when max workers are set to 1). Tried updating to 20.1.0-echo.1 but does not seem to be working.

Have to rebuild several times to get tests to work even though they work every time on laptop. Any help would be appreciated.

[2017-08-30 07:27] jseminck commented on #4388
I'd like to tackle this!

[2017-08-30 07:27] NawazKhanMd opened #4389 "Test failed with SyntaxError: Unexpected token import and error routing to \react-native-vector-icons"
Hi i have been trying to run 'npm test'  faced a couple of issues like this with native-base but resolved by placing  'native-base-shoutem-theme|@shoutem/animation|@shoutem/ui|tcomb-form-native'   in transformIgnorePatterns key in my Package.json file.

but haven't found a solution with react-native-vector-icons as shown below
`> myapp@0.0.1 test D:\ReactWorkSpace\myapp

 PASS  __tests__\index.ios

[2017-08-30 08:23] trivikr opened #4390 "Improve documentation/error message when Jest config file is present in a different folder"
_From @trivikr on August 26, 2017 19:18_

- Issue
Jest tests fail when Jest configuration file is present in a different folder. The `Validation Error` is not very helpful to understand that *--rootDir* has to be passed when Jest configuration file is read from some place other than workplace root

- Expected behavior
Improve the error description so that user knows that *--rootDir* has to be pass

[2017-08-30 08:23] trivikr commented on #4390
_From @kulshekhar on August 26, 2017 19:25_

This doesn't sound like it's specific to ts-jest. Isn't this more of a Jest issue?

[2017-08-30 08:23] trivikr commented on #4390
I created a [jest-basic-test](https://github.com/trivikr/jest-basic-test) to reproduce this issue in Jest (with pure JavaScript)
But **transform** is only defined for ts-jest config as per [Jest Getting Started](https://facebook.github.io/jest/docs/getting-started.html)
For basic Javascript project, `<rootDir>` need not be used.

My custom build system (for private project) was not throwing `Valid

[2017-08-30 08:23] trivikr commented on #4390
_From @kulshekhar on August 30, 2017 6:49_

I checked the test repo (thanks for that) and here's what I think is happening:

Jest is trying to find the ts-jest preprocessor file and throws the error because it can't find it (ts-jest is not even invoked). This can only be changed in Jest.

Does that help?

[2017-08-30 08:23] trivikr commented on #4390
Thanks @kulshekhar, I'll move this issue to Jest

[2017-08-30 13:39] rochapablo commented on #3788
@thymikee where exactly should I add ```jasmine.DEFAULT_TIMEOUT_INTERVAL```?
I did, but nothing happens.

[2017-08-30 13:43] thymikee commented on #3788
@rochapablo for example you can add it to your setup test framework file: http://facebook.github.io/jest/docs/en/configuration.html#setuptestframeworkscriptfile-string
In jest 21 (or in any alpha/beta release) you'll be able to use simpler `jest.setTimeout(70000);` API

[2017-08-30 14:37] spontaliku-softaria commented on #1965
You need expectation context to make test results sane when you have non-trivial tests. Real-world tests wouldn't always be that simple.

Remember custom matchers - they hide mathing complexity. But when test fails, hiding this complexity is not what you want becase you want maximum info about failure. Expectation context alows you to provide this context manually. Not ideal I guess, some kind of

[2017-08-30 16:08] disklosr commented on #3293
Why was this closed? The linked discussion doesn't mensions custom error messages! Is this supported in jest?

[2017-08-30 17:36] jseminck commented on #4388
@aaronabramov  does the `else` statement also need to be changed to `console.log`?

Because if we force both outputs to be printed to `console.log`, then the `argv.useStderr` flag would not be taken into account anymore? Is that what you want? (if I understand the code correctly):

[code]

It also specifically has this comment:

[code]

See: https://github.com/facebook/jest/blob/master/packages/je

[2017-08-30 18:15] aaronabramov commented on #4388
@jseminck yep! that's exactly what the bug is :)
when we use `--useStderr` we redirect all "non data" output to stderr so that the "data" output does not get polluted.
and by "data output" i mean one of:
- JSON output when using `--json`
- JSON output when using `--json --listTests`
- `\n` separated list when using `--listTests`

so yes. both `if` and `else` should output to `console.log` while `o

[2017-08-30 18:20] jseminck commented on #4388
Thanks for the explanation! PR is up. 😄 Do we also need an additional test then to make sure `--listTests --useStdErr` is still printed to `stdout` ?

[2017-08-30 21:52] scamden opened #4394 "'watchPathIgnorePatterns' is documented at facebook.github.io/jest/docs/configuration.html but seems not yet to be released in the latest version on npm (20.0.4)"
I see it in the code but it seems not to yet be published? Are the docs ahead of the releases or am I missing something?

[2017-08-30 21:56] MattCopenhaver commented on #1874
I am also getting intermittent test failures.  My team first noticed this at roughly the same time as we upgraded `react`, `react-dom`, and `react-addons-test-utils` from `0.14.3` to `15.4.0` and `enzyme` from `2.4.1` to `2.9.1` (maybe a few days after).  I'm not sure if this is related or not.

We have a test suite of about 2800 tests (not all are testing react components though).  At least one t

[2017-08-30 21:57] GProst opened #4395 "SyntaxError: 'import' and 'export' may appear only with 'sourceType: module'"
It seems that files specified with "collectCoverageFrom" option and that haven't been covered with tests at all isn't transformed by babel. How can I fix this?

For example, I have `MyComponent1.jsx` and `MyComponent2.jsx`. If I will test only the first one, but specify to test coverage for both of the files, it will rise the error described above (for untested file only).

Stack trace:

    Faile

[2017-08-30 22:41] GProst commented on #4395
I think I found the problem. Im my .babelrc file I have a following config for test environment:

    "env": {
      "test": {
        "presets": ["es2015", "react"],
        "plugins": [
          "transform-class-properties",
          "syntax-dynamic-import"
        ]
      }
    }

But when `jest` tests coverage for untested files it doesn't use `test` env variable. And my babel uses default p

[2017-08-30 23:50] aaronabramov opened #4396 "Specify which tests to run in a scalable way"
I hit a performance problem trying to run to many tests.

I call jest with `jest test1.js test2.js test3.js ... test9999.js`
which eventually gets transformed into a regexp by
https://github.com/facebook/jest/blob/master/packages/jest-config/src/normalize.js#L289

and used to match agains every test file to figure out whether we want to run it or not.

It works on small runs, but when i send a few

[2017-08-31 00:10] aaronabramov opened #4397 "maxWorkers is not configurable from a config file"
it can be specified with `jest --maxWorkers 111` but not in package.json or `jest.config.js` file, because [this](https://github.com/facebook/jest/blob/master/packages/jest-config/src/get_max_workers.js) function takes only `Argv` and doesn't look into existing values.

We need to take the existing options coming from config files into account when we return the resulting value and add an integrat

[2017-08-31 04:39] rogeliog commented on #4394
Thanks for reporting this

[2017-08-31 08:03] cpojer commented on #4389
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-08-31 08:03] #4389 closed

[2017-08-31 08:19] #4394 closed

[2017-08-31 08:20] cpojer commented on #4397
I would prefer this not to be configurable through the configuration file because it is highly dependent on the machine Jest is being run on, and poor configs can result in slow test runs. I prefer to keep this as a CLI arg, which will also work for the use case you are envisioning at FB, because we have a wrapper around Jest.

[2017-08-31 08:23] cpojer commented on #4395
You need to turn `modules` to `true` to make this work.

[2017-08-31 08:23] #4395 closed

[2017-08-31 08:26] GiladShoham opened #4399 "Running non-local `jest-cli` with --json returns a not valid json"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When running global jest with --json flag, it will return the json to the stdout but after the json it will add the following sentence:
Please run `npm install` to use the version of Jest intended for this project.
Which make the stdout become not a valid json

**If the current behavior is a bug, pleas

[2017-08-31 08:43] GProst commented on #4395
Hi @cpojer! Thanks! But would it be better if we could configure env variable for coverage?

It is inconvenient for me to turn `modules` to `true`, because I want to use `webpack`'s tree shaking feature with ES6 modules.

[2017-08-31 08:45] cpojer commented on #4395
You can use babel's `env` option and set modules to true in the `test` env, Jest will pick that up automatically. May need to run with `--no-cache` once.

[2017-08-31 08:47] cpojer commented on #4399
It seems like you are running the wrong version of Jest in that project (like the globally installed version of Jest) which can have unintended side-effects such as this one. There were also some `--json` related issues, which are fixed on master and you can get it by installing `jest@test`.

[2017-08-31 08:47] #4399 closed

[2017-08-31 08:49] cpojer commented on #4396
Could we instead run all the tests? If it's a few thousand test files, that seems like it captures most tests.

I'm a bit worried about adding yet another config option to control running of tests, the CLI is becoming a bit of a mess :(

[2017-08-31 08:49] Havunen opened #4400 "BUG: Jest eats exceptions in native DOM events and report tests as green"
Hey.

There seems to be bug in Jest when used with JSDom. Errors are not caught during test runs. This can be very dangerous as tests are reported as green even though they failed. I created simple REPL to reproduce the issue.

https://repl.it/K9ij

It seems like this issue is inherited from JSDOM, but as Jest is test runner this should not happen.

[2017-08-31 08:54] GProst commented on #4395
@cpojer yep, the problem was in cache apparently. Now everything works like charm with my initial babel config. Coverage uses `test` env babel configs. Thanks!

[2017-08-31 09:00] raine commented on #2441
Getting this on node v8.4.0 and Jest 21.0.0-beta.1.

When running only a single test case with `test.only`, console.log output doesn't show up.

But if I remove `--testPathPattern file` and run all tests, output shows up.

Also, if I add `await Promise.delay(100)` as last step in the test, output shows up.

[2017-08-31 09:36] GiladShoham commented on #4399
@cpojer thanks for the quick reply.
I'll check it with the master version and will update soon.
About the global one, this is something I'm running programmatically on a Docker container, along with other tests, so I can't rely on the global one, and it might be in a different version.

[2017-08-31 11:09] GiladShoham commented on #4399
@cpojer I tested it with jest@test and it's not fixed.
For now, I did some workaround by providing outputFile then read it and delete it.
But this is not the best solution.

[2017-08-31 11:15] cpojer commented on #4399
If you can find out which characters are printed on stdout that should be on stderr, it would be awesome if you could send a PR to fix it :) It's also possible your tests write directly to `process.stdout` which may causes this issue.

[2017-08-31 11:31] mjesun commented on #4396
The issue happens when you have a filtered list of tests that is a subset of all tests.

[2017-08-31 11:45] hnrysmth opened #4401 "Tests can pass despite assertion failures"
Hey there! I suspect there might be a good explanation for this, but it also seems possible for it to be a bug, so here goes! 😄

#### Current Behaviour

Tests can pass despite the failure of some of the assertions that they execute. As per the instructions in the issue template, I've prepared a [minimal repository on GitHub that demonstrates the issue with as little unnecessary extra detail as pos

[2017-08-31 12:38] gavboulton opened #4402 "Assert one mock called before another mock"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the expected behavior?**
I'd like to assert that one mock function is called before another similar to Sinon's `calledbefore` spy.

Is this a feature that's been considered/is being considered?

[2017-08-31 12:40] cpojer commented on #4402
What would you like an API to look like for this in Jest?

[2017-08-31 12:50] RRMoelker commented on #3584
For those having silent failures, check that you're node version is > 6.

[2017-08-31 13:39] SimenB commented on #4402
I'd guess

[code]

How does one handle multiple invocations?

[2017-08-31 14:43] gavboulton commented on #4402
@SimenB's API looks good to me.

Wouldn't multiple invocations be a separate thing? What's the use case for this?

[2017-08-31 14:51] SimenB commented on #4402
[code]

Might be a non-issue, but `spy1` is called technically both before _and_ after `spy2`

[2017-08-31 16:35] Vanuan commented on #1874
That doesn't look like the original issue. It's something different, related to jsdom.
The original issue was due to filesystem write race condition. I suggest creating another issue.

[2017-08-31 17:15] aaronabramov commented on #4396
@cpojer i agree about CLI becoming a mess, but we really need this :(
this is not an `--all` scenario.
If you touch a critical file (for example `flux_dispatcher.js`) that used in many files in a particular project (for example Ads) it will try to run most of Ads tests (not all of www, just ads, which is still a lot), and then filter out the tests that are known as flaky or failing.
So we can't ru

[2017-08-31 17:33] #4397 closed

[2017-08-31 18:23] alecmerdler commented on #2663
In my case, I didn't realize that `<rootDir>` is a [token supplied by Jest,](https://facebook.github.io/jest/docs/en/webpack.html#configuring-jest-to-find-our-files) and assumed it was something I needed to replace. Adding it to the `moduleNameMapper` entries solved the issue.

[2017-08-31 19:24] cpojer commented on #4396
`--runTestsByPath`, then, maybe?

[2017-08-31 22:34] jduhls opened #4405 "babel-jest? TypeError: (0 , _connector2.default) is not a function"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
test always fails

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

**What is the expected behavior?**
test succeeds

**Please provi

[2017-08-31 22:50] cpojer commented on #4405
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-08-31 22:50] #4405 closed

[2017-09-01 01:08] palmerj3 opened #4406 "testResultsProcessor and multi-project"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

If the same testResultsProcessor is used for all projects then the resulting JSON data does not provide any reference to what project a particular suite/test belongs to.

I have created a sample project which shows the output that a testResultsProcessor receives in a jest multi-project environmen

[2017-09-01 05:16] AodhanHayter commented on #2219
Yet another watchman victim, thought for sure I messed up the babel and webpack configuration. Uninstall and all is well.

[2017-09-01 08:51] #4388 closed

[2017-09-01 09:06] cpojer commented on #4406
Oh yeah, that's missing. @rogeliog just added a `displayName` field to `ProjectConfig`. Do you wanna thread it all the way through to the AggregatedTestResult and send a PR?

[2017-09-01 11:12] palmerj3 commented on #4406
@cpojer sure that sounds reasonable - I'll give it a shot. Thanks!

One thing though... if someone does not specify a displayName for multiple projects then I'm still left with no precise way to differentiate what tests belong to what project.

Is it also reasonable to pass along the project base dir to the testResultsProcessor for each test suite?

[2017-09-01 11:21] jseminck commented on #4266
Hi, can this task be closed since the related PR was declined? 😄 It may confuse folks who would like to tackle an issue "Good First Task" label on it.

[2017-09-01 11:23] #4266 closed

[2017-09-01 11:24] thymikee commented on #4266
It still would be nice to have it as a lint rule and in flow typed

[2017-09-01 11:49] cpojer commented on #4406
I think it's reasonable to expect the displayName to be there, or are you talking about the use case where you are not in control of your packages?

[2017-09-01 11:50] palmerj3 commented on #4406
Just thinking of edge cases since displayName is not a required field.

I'll work on the PR for bringing displayName to the aggregated results.

[2017-09-01 12:21] okonet opened #4407 "Snapshot produced by toThrowErrorMatchingSnapshot might not match on CI"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Using `.toThrowErrorMatchingSnapshot()` on code that prints error using ansi codes (i.e. using `chalk`) produces different snapshots if run locally or on CI.

I'm running using `jest-validate` and here is the test I wrote for it: https://github.com/okonet/lint-staged/pull/141/files#diff-bdc504f1ee32e

[2017-09-01 12:28] cpojer commented on #4407
I don't think there is anything we can really do about this… If your terminal supports colors in one place but not in another, then the output may differ and `toThrowErrorMatchingSnapshot` may not be the right matcher for you, unfortunately :(

[2017-09-01 12:28] #4407 closed

[2017-09-01 12:28] cpojer commented on #4407
I'm happy to reopen if there is a proposal that will work consistently, and happy to merge PRs.

[2017-09-01 12:29] thymikee commented on #4407
You can however create a custom serializer which will strip the colors if they don't matter

[2017-09-01 12:32] cpojer commented on #4407
Oh yeah, that's a good solution, I like that one.

[2017-09-01 12:32] palmerj3 commented on #4406
@cpojer I put together a PR which seems to fit the requirements. https://github.com/facebook/jest/pull/4408

[2017-09-01 12:34] okonet commented on #4407
@cpojer would you merge a PR for the default serializer that does that or adds an option?

[2017-09-01 12:48] cpojer commented on #4407
Nah, I think publishing that serializer in a separate package makes most sense to me. We can link to it from somewhere on the Jest docs, though (do we have a space for extensions to Jest there?).

[2017-09-01 12:49] cpojer commented on #4406
Cool, closing this one now.

[2017-09-01 12:49] #4406 closed

[2017-09-01 12:55] thymikee commented on #4407
We should have a community section with known and reliable libs around Jest

[2017-09-01 12:56] cpojer commented on #4407
Agreed!

[2017-09-01 13:19] mjesun opened #4409 "Investigate a new coverage system"
For large scale projects, instrumenting coverage for all files becomes quite slow; even more if you tell Jest to instrument `**/*.js` or other similar patterns, so that you can get non-covered files as well.

By default, Jest only instruments required files, which means that if a file is not required at all because it has no tests, it will not show up on the list, thus giving fake percentages on c

[2017-09-01 13:43] cpojer commented on #4409
I would recommend changing the coverage reporter to have an optional fast-path to generate the approximate coverage info (with uncovered vs. uncovered/not executable). What do you think?

[2017-09-01 14:32] danpalmer commented on #3832
@ashtonsix for what it’s worth, the OP was clear in my opinion. I’d like this issue to be re-opened.

[2017-09-01 14:37] luiskhernandez commented on #4266
@thymikee Does jest run flow before running the test suite in  a project? I've adding the flow rules, but it does not work when i run `yarn test` in my project.

[2017-09-01 14:40] thymikee commented on #4266
@luiskhernandez flow is a static type checker intended for project development. Jest doesn't run it before the tests, because that would be silly. However, jest source code uses flow for internal development.

[2017-09-01 14:55] cpojer commented on #3832
You can create a custom `jest-environment`, see `jest-environment-node` or `jest-environment-jsdom` and subclass it. It should allow you to set up the environment in any way you like. We discussed adding an async hook for this also, and I'm happy to accept PRs for it.

[2017-09-01 15:26] aaronabramov opened #4410 "`--listTests` returns duplicated results if a test is run in multiple projects"
to reproduce:
1. create a Jest project that uses MPR
2. create a test that is run in more than one project (e.g. `__tests__/a.test.js`)
3. `jest --listTests --json --findRelatedTests __tests__/a.test.js`
4. the result is `['__tests__/a.test.js', '__tests__/a.test.js']`

expected behavior: it should return
`['__tests__/a.test.js']`

[2017-09-01 15:33] cpojer commented on #4410
Heh, would that run the test twice for each project? :D

[2017-09-01 15:38] aaronabramov commented on #4410
@cpojer not if you feed it directly into jest, but possible if we run each test in a separate process 😀

[2017-09-01 16:16] jduhls commented on #4405
My app transpiles (webpack) and works without error.

[2017-09-01 16:24] jduhls commented on #4405
[https://stackoverflow.com/questions/46004404/babel-jest-typeerror-0-connector2-default-is-not-a-function](url)

[2017-09-01 16:56] dlindahl commented on #3822
I've tried all of the above suggestions and I still can't get rid of this error.

[code]

[code]

If I remove _one_ of those config options, the test suite runs fine. But if they are both present, I get:
[code]

[2017-09-01 18:17] accimeesterlin commented on #2689
Try this
brew uninstall watchman
brew link automake
brew install --HEAD watchman

Happy coding

[2017-09-01 19:10] mjesun commented on #4409
I'd rather try fixing the root problem. The approximated coverage just does that for non-covered files, so if there is a lot of files being required, the problem will persist. Based on the fact that we require per-line coverage, a simpler, faster instrumentation might be able to be done.

[2017-09-01 20:23] rogeliog commented on #4278
@cpojer @aaronabramov If we do decide to move forward with this, what do you think should be the interface here? `runnerConfig: Object`?

[2017-09-01 20:26] aaronabramov commented on #4278
maybe something like what we do with reporters?
[code]

which translates to
[code]

[2017-09-01 20:33] cpojer commented on #4278
I actually had something quite different in mind because `ProjectConfig` is mostly local to the runner. The ideal system would be to have a base ProjectConfig (with a runner option) that can include both the runner configuration as well as any custom configuration for that runner. ProjectConfig is then both the config for the project and the configuration for the runner.

The challenge here is how

[2017-09-01 20:38] aaronabramov commented on #4278
i'm a little worried about mixing Jest projectConfig with other custom configuration. I really don't like how it worked with global+project configs sharing the same JSON object, most of the bugs we discovered with MPR were super hard to debug and were caused by some values being in the wrong config. But i think if we have a separate typed `projectConfig` with a custom/possibly untyped `projectConf

[2017-09-01 20:43] cpojer commented on #4278
The GlobalConfig + ProjectConfig issues were a one time cost that the split brought with it, and I think now (as of Jest 21), the system is working quite smoothly. The thing that worries me the most is adding an uncontrollable amount of config and cli options (it's already a bit of a mess) and making ProjectConfig something that is theoretically pluggable would counter that, as people could build

[2017-09-01 21:11] aaronabramov commented on #4409
from my experience, people use coverage completely different depending on the project they work on.
for library code/shared code/utility code branch/statement/function coverage is important, and people often aim for 100% coverage (think React, Jest, Immutable kind of projects)

for application code, 100% branch coverage is impossible and just wrong. When you move fast, have millions of lines of ap

[2017-09-01 21:21] cpojer commented on #4409
^ works for me, although I would probably scrap (3) and leave it up for the user to reduce line coverage (2) to file coverage (3) through a results processor.

[2017-09-01 21:25] aaronabramov commented on #4409
i only mentioned 3. because line coverage generation and collection is pretty slow which can timeout already slow webdriver tests.

do you think we can reuse parts of flow for instrumenting files?

[2017-09-01 22:36] rogeliog commented on #4337
@thymikee @cpojer if we are going to support (`either`|`oneOf`) what is your suggestion for error messages?

This is what we currently show:

[code]

Woud it be something like this?

[code]

[2017-09-02 03:58] tacnoman commented on #3108
I added in my package.json

[code]

Run: `npm install webpack-babel-jest babel-jest`.

npm test.

In .babelrc:
[code]

This worked for me.

[2017-09-02 08:34] cpojer commented on #4337
Ideally the example will show both possibilities collapsed in one error message, duplicating it may be easier in code but looks worse.

[2017-09-02 09:13] jseminck commented on #4410
I'd like to look into this since I have no experience yet with how MPR works and would like to try it out. I'll start by setting up a repro project for this issue on Github.

[2017-09-02 09:16] cpojer commented on #4410
@jseminck I recommend turning the array that SearchSource returns into a Set, and updating the data type everywhere.

[2017-09-02 16:22] jseminck commented on #4410
I have changed the code and followed your suggestion, but I can't reproduce the issue. So I cannot be 100% certain that it is fixed or even add a test for it.

Here is my repo: https://github.com/jseminck/jest-mpr-example - did I miss something?

* Running tests in `projectA/` runs `./common/__tests__/a.js`
* Running tests in `projectB/` runs `./common/__tests__/a.js`
* Listing the test only shows

[2017-09-02 22:50] rayrutjes commented on #607
Is it exepected that this doesn't work with jest?

[code]

Error being `Unexpected token`:

![image](https://user-images.githubusercontent.com/5570853/29999252-c0a6dddc-9041-11e7-9199-a0a945595425.png)

[2017-09-03 02:37] zbjornson opened #4413 "Modules appear to always be re-evaluated between test files"
**Do you want to request a *feature* or report a *bug*?**
Possible bug.

**What is the current behavior?**
`require`'ed modules appear to always be re-evaluated between test files.
https://repl.it/KeOa/1
Notice that "module being evaluated" is printed twice. This isn't affected by `--runInBand`; it seems like the single node.js process is actually re-evaluating the module.

**What is the expected

[2017-09-03 06:30] SimenB commented on #4413
I think this is by design, as a what you do with the imported module in one test (file) (e.g. stub out some behavior) shouldn't affect other modules

[2017-09-03 06:39] SimenB commented on #4413
We might consider injecting a `process` per test-file, though? @zbjornson might be interesting to test if you get the same leak if you do `require('process')` instead of relying on the global `process` object?

[2017-09-03 11:33] shai32 commented on #3847
I have the same issue, 40 sec for each test.

[2017-09-03 12:34] anatoliyarkhipov commented on #3553
Just wondering, is there any article with explanation why `this` was removed?

[2017-09-03 18:54] cpojer commented on #607
Flow is supported, if you are getting this error, it's because you didn't properly set up your babel build pipeline.

[2017-09-03 18:56] cpojer commented on #3847
cc @pedrottimark for pretty-format bugs

[2017-09-03 18:57] cpojer commented on #4413
Yes, that is the expectation. If you have expensive setup that you'd like to share, please build your own custom environment, based off of `jest-environment-node` for example.

[2017-09-03 18:57] #4413 closed

[2017-09-03 18:58] cpojer commented on #4413
Oh, also, if this is causing leaks then that means that you are not removing all those listeners correctly. You should always have a way to free up memory when tearing down things.

[2017-09-03 19:37] pedrottimark commented on #3847
First impression is `toHaveProperty` matcher calls `diff` which calls `pretty-format` too soon in https://github.com/facebook/jest/blame/master/packages/expect/src/matchers.js#L519-L525

If confirmed at the beginning of work week, I will:
* Fix and look for similar problem in other matchers.
* Measure time to format `Buffer` even if `pretty-format` shouldn’t have been called in this case.

[2017-09-03 19:52] thymikee commented on #3847
You're gold, @pedrottimark!

[2017-09-03 20:21] zbjornson commented on #4413
The principle makes sense, but I'm surprised this doesn't cause widespread problems for node.js packages given that it's very common to do things like open a database connection and let it die when the process ends, or to listen to node's `process` events. (The vast majority of published npm packages using jest are client-side though, it appears.)

The setup is cheap and freeing resources is easy.

[2017-09-03 21:02] cpojer commented on #4413
I'm not sure if node makes an explicit guarantee around modules and Jest doesn't violate it if such a guarantee were to exist because you can consider every single test file to be completely isolated from each other. Note that you may end up with many multiple copies of a single module in node if your package manager (npm, Yarn) decides to install a third-party dependency multiple times within dir

[2017-09-03 21:32] zbjornson commented on #4413
They do: *every call to require('foo') will get exactly the same object returned, if it would resolve to the same file.* (https://nodejs.org/api/modules.html#modules_caching) There are caveats around filename resolution as described there and in your comment, but the issue I'm looking at is around files *within* an npm module (not dependencies).

I don't quite understand what you mean here. I get

[2017-09-03 21:55] cpojer commented on #4413
Yup, you are right, Jest spawns N processes (where N is normally the number of cores) and M contexts (where M number of tests). Each process runs a variable amount of tests, which can be approximated by M/N. So yeah, requiring the same module in every test will result in M/N instances of that module per process.

Ideally we'd spawn one process per test, but the overhead of spawning a process is hi

[2017-09-04 02:13] palmerj3 commented on #4409
I agree with @mjesun and this is a topic I've struggled with more than once across multiple systems at Spotify. The rolling coverage (coverage based on what files are required) that is typical of many systems is simply inaccurate and hard to reason about. But when I setup istanbul (with mocha at the time) to instrument ALL files it would have increased test run times 6x so I did not re-attempt.

M

[2017-09-04 04:33] spinningarrow commented on #3087
I'm seeing this issue as well with React Native 0.47.1. Is there a way to fix it?

[2017-09-04 07:29] rayrutjes commented on #607
@cpojer Well I'm using  the flow preset, and I think it's an error specific to jest, given it works fine when I just use `yarn run flow`.

[2017-09-04 09:15] cpojer commented on #4409
Actually, just backing up a little bit, I have a suspicion that we are collecting coverage for node_modules (or other irrelevant code) which is why we found coverage collection to be slow. Miguel, could you (internally at FB) show me the list of files we are trying to collect coverage from at FB that showed this to be slow?

[2017-09-04 12:15] cpojer commented on #4332
We are going to punt on some further fixes, as they aren't breaking changes. We'll publish 21 soon.

[2017-09-04 12:15] #4332 closed

[2017-09-04 12:28] TDKRage opened #4414 ".only still runs all tests"
experiencing issues when trying to do test.only.

I am running "jest --coverage". but it still executes all the tests and not the one specified as only

[2017-09-04 12:31] SimenB opened #4415 "Document browser support"
**Do you want to request a *feature* or report a *bug*?**
This is a tracking issue for outstanding documentation of how to use `jest-matchers` and `jest-mock` in the browser.

Now that `jest-matchers` (renamed to `expect` in `jest@21`) and `jest-mock` works in the browser, we should document that fact.

This needs an example (we can use the browser tests in this repo as a base for them) and docume

[2017-09-04 12:31] cpojer commented on #4414
Yes, that's because Jest parallelizes tests and other processes don't know whether `test.only` is used. When you use `test.only`, you should focus on the single test file you are testing, or pass it to Jest to only run that test. This is not going to change in Jest.

[2017-09-04 12:31] #4414 closed

[2017-09-04 12:32] SimenB commented on #4415
I'll try to get to this next week, but if someone else wants to write it, feel free! Would be great to get out before Jest 21 is released

[2017-09-04 14:37] Rewieer opened #4416 "Adding custom matchers : Cannot read property "addMatchers" of undefined"
On Jest 20.0.4, when I try to add custom matchers in my setup.js file, I get the following error :
[code]

My file looks like this :
[code]

[2017-09-04 14:42] SimenB commented on #4416
have you tried to use `expect.extend`?

https://facebook.github.io/jest/docs/en/expect.html#expectextendmatchers

[2017-09-04 14:47] cpojer commented on #4416
You can only add matchers in the `setupTestFrameworkScriptFile` config option.

[2017-09-04 14:47] #4416 closed

[2017-09-04 15:50] le0nik commented on #3499
Not fixed in jest@21.

[2017-09-04 16:40] mjesun commented on #4409
I got configured it by using two patterns: `**/*.js` + `!**/node_modules/**`. We can revisit that, but I'd say even if we do this, is not going to work for really large repos as we have.

[2017-09-04 17:06] cpojer commented on #4409
@mjesun might sharing the full list of files with me in an internal paste?

[2017-09-04 17:57] segrey opened #4418 "Running with --testResultsProcessor raises error"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Running jest tests with `--testResultsProcessor` raises an error. It can be reproduced with https://github.com/facebook/jest/tree/master/examples/getting_started
[code]

[code]

Reproduced with jest 21.0.1. It works OK with jest 20.0.4.

node 8.4.0
yarn 0.27.5
jest 21.0.1

[2017-09-04 18:15] cpojer commented on #4418
This is a breaking change. You need to return the result from the processor (might require a docs update, mind changing a PR?)

[2017-09-04 18:15] #4418 closed

[2017-09-04 19:57] foxbunny opened #4419 "Unhelpful error message when jest --watch is run outside of git repository"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When `jest --watch` is executed inside a non-git folder the following exception is raised:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and

[2017-09-04 20:13] cpojer commented on #4419
That's a bug! cc @rogeliog @aaronabramov

[2017-09-04 20:46] kelcecil commented on #4419
I've run into the same issue with the follow configuration:
* Jest v21.0.1
* Node v8.4.0
* npm v5.4.0
* Mac OS 10.12.4

I did a little playing with versions to deduce where the problem may have started. Downgrading to Jest v21.0.0 leaves me with the same problem, and the same workaround as above solves the issue. I'm able to run `jest --watch` with  no errors when using Jest v20.0.4 and missing a

[2017-09-04 21:30] segrey commented on #4418
Thanks, seems `module.exports = function(result) { return result; };` works OK. BTW, what's the idea behind modifying the result?

[2017-09-05 05:39] GeeWee commented on #4227
Sorry for reopening, but source map support only works for stack traces, and not console statements (it is the same approach we use in ts-jest)

[2017-09-05 06:04] ai opened #4420 "Jest 21 and broken package.json"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Jest raise error if it finds broken `package.json` somewhere in the project (for example, in text fixtures).

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn

[2017-09-05 07:12] SimenB commented on #4415
Should probably add a readme to expect as well

[2017-09-05 08:49] cpojer commented on #4420
If you have invalid JSON files in your project intentionally, you can ignore them using `modulePathIgnorePatterns` in your config.

[2017-09-05 08:49] #4420 closed

[2017-09-05 09:41] weaintplastic opened #4421 "Version mismatch between github and npm"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Currently version 21.0.1 is published on npm but github only holds 21.0.0. I just had troubles finding the diff between both versions after 21.0.1 broke our projects while 21.0.0 just runs smoothly.
You are probably already aware of this and this might be due to not pushing changes to github or re-re

[2017-09-05 10:47] cpojer commented on #4421
Pushed. Sorry about that. I don't think 21.0.1 could have broken tests, it was only a minor fix where we removed an error message.

[2017-09-05 10:47] #4421 closed

[2017-09-05 11:11] dignifiedquire opened #4422 "Jest breaks Buffer instanceof Uint8Array"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

In nodejs (8.4.0)

[code]

In jest (21.0.1)
[code]

This breaks quite a few modules that assume (as they should be able to) that node buffers are Uint8Arrays.

[2017-09-05 11:20] dignifiedquire commented on #4422
Update, tried setting `testEnvironment: node` explicitly, still the same issue

[2017-09-05 12:19] dignifiedquire commented on #4422
The issue is that `jest-util` doesn't pass all necessary globals through.

[2017-09-05 12:21] cpojer commented on #4422
This is unfortunately a side-effect of Jest pulling in the node libraries from the parent context, but having its own instances of UInt8Array in the child contexts. One thing you could try is to create your own environment that runs all tests in the main process, or overwrites UInt8Array in the child context with the one in the parent context. We don't have a good fix for this yet.

[2017-09-05 12:24] dignifiedquire commented on #4422
Passing more globals through to the child process works in my tests, see #4423. Currently I am not seeing a big drawback to doing that, except that that list needs to be maintained. But I might be missing some context there.

[2017-09-05 12:26] pbuda commented on #1397
Having the same issue with
[code]
The project is written in typescript. App works but jest tests fail due to missing fetch. When I import fetch from isomorphic-fetch tests work but app is not.

[2017-09-05 12:26] dignifiedquire commented on #4422
Why the requirement of having the parent `Buffer` but the child globals for things like `Uint8Array`?

[2017-09-05 12:30] cpojer commented on #4422
This is not expected, it is a bug, but because Jest tries to keep individual tests sandboxes and isolated, we cannot leak more things into the vm. Ideally we wrap all core libraries so that we swap out the prototypes later, like `myBuffer.__protot__ = Uint8Array` or re-evaluate all of node's core library code inside the vm context, but pulling them in from the parent is unfortunately not the right

[2017-09-05 12:32] dignifiedquire commented on #4422
Makes sense, thank you 👍

[2017-09-05 13:27] dignifiedquire commented on #4422
Custom environment works like a charm, for anyone coming here I created this: https://github.com/ipfs/jest-environment-aegir

[2017-09-05 14:27] acamposruiz commented on #4264
Hi guys!, I would like to take care of this issue. Do I create a new Pull Request when I'll achieve the purpose or would you like me to put here first my achievements?

[2017-09-05 15:08] Xiphe opened #4427 "Manual user mocks not working with custom resolver"
**Do you want to request a *feature* or report a *bug*?**

Bug 🐞

**What is the current behavior?**

Given I have this jest config:
[code]
And a module `<rootDir>/index.js`
And a manual mock available in `<rootDir>/__mocks__/index.js`
And a spec file mocking the `<rootDir>/index.js` module
Then I expect the mocked module to be loaded in other modules and my spec
**BUT** the original module is stil

[2017-09-05 15:09] Xiphe commented on #4427
This is tightly coupled to https://github.com/facebook/jest/pull/4174 (https://github.com/facebook/jest/commit/de74b38aff9f0a91dcdaf5986d2a6f963b78cfdf)

When I revert that change and link `jest-resolve` in my project, everything works as expected.

[2017-09-05 15:18] cpojer commented on #4427
cc @midzelis

[2017-09-05 15:19] cpojer commented on #4422
Thanks for working on this env and sharing it with everybody :) I'll close this issue as I know it's tracked somewhere on our issue tracker but I can't find it right now :( I'm sure somebody in the future will reference the two together.

[2017-09-05 15:19] #4422 closed

[2017-09-05 15:50] tranotheron opened #4428 "When coverageDirectory: './' --watch mode is not working"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When I set `coverageDirectory: './'` in jest.config.js file and try fire tests in watch mode it just not working. When I change anything in tested files or tests itself nothing happening. It's not working even with `--no-watchman` and `--no-cache` flag

**If the current behavior is a bug, please provid

[2017-09-05 15:52] cpojer commented on #4428
`coverageDirectory` is where the output folder for coverage is written, it is ignored from watch mode because otherwise it would go into an infinite loop. Set the folder back to `<rootDir>/coverage` and it will work properly. You shouldn't write the coverage output to the root of your project.

[2017-09-05 15:52] #4428 closed

[2017-09-05 16:00] shahkashani opened #4429 "Tests fail only with --coverage"
**Bug:** Seeing tests fail only when running with the `--coverage` parameter (using Jest 21.0.1):

![image](https://user-images.githubusercontent.com/1395893/30070471-881e03ae-9231-11e7-9216-56c2a5972cf0.png)

Seems to be related to a bug in the `babel-plugin-istanbul` library: https://github.com/istanbuljs/babel-plugin-istanbul/issues/63

Repro steps here: https://github.com/kentcdodds/issue-babe

[2017-09-05 16:15] cpojer commented on #4429
Feel free to update this in Jest, but I think we already did and if this is still a problem, then it is still not fixed within istanbul or other parts of the code coverage infra that aren't part of Jest.

[2017-09-05 16:15] #4429 closed

[2017-09-05 17:10] davty commented on #3874
Hello.

I'd like to know your opinion on a different use case. I would like to be able to
make async calls inside my matcher(resolves and rejects nicely solves the issue with waiting on the expected promise, but I want to make another ("new", if that makes sense) async call inside my matcher and thus return a promise from my matcher instead of just
 an object. Like this https://gist.github.com/dav

[2017-09-05 17:18] midzelis commented on #4427
I'll take a look. Could be a few days before I have something.

[2017-09-05 17:27] aaronabramov commented on #4264
@acamposruiz you can open a separate PR when you have a fix and reference this issue in the comment

[2017-09-05 17:37] acamposruiz commented on #4264
ok, thanks!

[2017-09-05 20:02] tristanls opened #4431 "CHANGELOG doesn't point out what caused MAJOR version change"
After running `npm outdated` I was notified that `jest` bumped major version to 21, which I interpret as a backwards incompatible change.

In order to upgrade `jest`, I looked at the [CHANGELOG](https://github.com/facebook/jest/blob/master/CHANGELOG.md#jest-2100) which has a ton of changes in it. However, there is no easy way (that I can see) of determining which of those changes are breaking.

It

[2017-09-05 22:16] cpojer commented on #4431
Yeah, that would be nice. Maybe you could help us with that for the next release? We'd appreciate any help!

[2017-09-05 22:16] #4431 closed

[2017-09-05 22:17] #4396 closed

[2017-09-05 22:43] larsonjj commented on #3822
I ran into the same problem today. Was able to solve it with the following jest config property within `package.json`:

[code]

[2017-09-06 00:46] rknell opened #4433 "Cannot read property 'BLOB_URI_SCHEME' of undefined after upgrade to RN48"
* Jest v21.0.1
* I have removed and reinstalled the node_modules folder
* I have run jest --no-cache

Node version: 7.8.0

Also used NVM to upgrade to Node v8.4.0, fresh yarn global install, deleted node modules and reinstalled, error still exists.

[code]

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Fresh project, RN0.48.1 fails with error ru

[2017-09-06 00:50] rknell commented on #4400
I made some changes to run the code in the repl and it is failing for me:
https://repl.it/K9ij/4

[2017-09-06 03:18] bootstraponline commented on #4295
This is what I expected `--silent` to do.

[2017-09-06 03:19] tristanls commented on #4431
Hi, I feel like we misunderstand each other. Someone on the development team decided to bump the major version. I looked through the issues and pull requests for a label indicating or any other indicator (milestone? naming?) trying to figure out what required the major version bump. I don't feel like I am asking for new work to be done, someone already made the decision based on some information.

[2017-09-06 03:22] bootstraponline commented on #4283
for the CI use case, it'd be amazing to mute Jest completely.

[2017-09-06 05:38] thinkOfaNumber commented on #2081
Strangely when I use `"transformIgnorePatterns": [ ]` then babel transforms my tested files, but if I exclude the `transformIgnorePatterns` option then babel doesn't do anything... I have a simple .babelrc for testing only (I use webpack for production, but not for jest's tests):

    {
      "env": {
        "test": {
          "plugins": ["transform-es2015-modules-commonjs"]
        }
      }

[2017-09-06 06:31] kumar155 commented on #1838
How to test this window.open(`${baseHelpUrlPath}`, '_blank'); using jest
my test look like this
 it('should open help page', () => {
    const component = shallow(h(Topbar, { ...props }));
    component.instance().onHelpClick();
    expect(window.open()).toBeCalled();
  });
error expect().toBeCalled() is not a function

[2017-09-06 09:32] cpojer commented on #4431
I bumped a major version of Jest because I wanted to publish one, and I had about 20 minutes of time to do it. Now, I could have held off for a month and not give you updates at all, or I could have just done it. I did not have time to go through each individual change to find out which one might break this time, and I am sorry, but Jest is not something I actively work on during my day job. Howev

[2017-09-06 09:33] cpojer commented on #4433
This seems like a change needs to be made in react-native, not in Jest.

[2017-09-06 09:33] #4433 closed

[2017-09-06 09:38] thymikee commented on #4433
Yup, this is bug in react native, fixed in master while updating flow version so its not yet in the release channel.

[2017-09-06 09:40] rknell commented on #4433
I was of two minds where to put it, but decided to put it with jest as
react native is working fine and as expected, so it feels as though the
JavaScript environment isn't being spin up correctly for react native
testing.

I understand Jest is supposed to be react and react native independent, but
I didn't see the react native team changing their stack to make it jest
compatible if it's building a

[2017-09-06 09:41] rknell commented on #4433
Ahh just saw the new response. Thanks Michael, so the fix is a couple of
months away then?

On 6 Sep. 2017 7:40 pm, "Ryan Knell" <rknell@snappyapps.com.au> wrote:

[2017-09-06 09:44] Stupidism opened #4434 "Calling component function or constructing React element is not rendering deeply automatically any more in version 21."
**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current behavior?**
component is not deeply rendered after upgraded to v21

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

The greenkeeper [P

[2017-09-06 09:49] cpojer commented on #4434
cc @pedrottimark – mind looking into this one?

[2017-09-06 09:51] Stupidism opened #4435 "fontFamily has alignment issue after upgraded to v21"
**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current behavior?**
string property `fontFamily`'s value is not aligned properly(as before).
Or multiple line value of any string property is not aligened as before.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a min

[2017-09-06 09:52] Stupidism commented on #4434
@cpojer Thanks for the quick response.

[2017-09-06 09:56] cpojer commented on #4435
cc @pedrottimark

[2017-09-06 09:57] stipsan commented on #3968
Hey @dispix,

Can you test if this fix resolves your case? https://github.com/facebook/jest/pull/4432

[2017-09-06 09:59] Stupidism commented on #4434
New discovery. Another PR's CI [result](https://travis-ci.org/Stupidism/stupid-rc-starter/jobs/271740194) for `babel-jest` has the same problem here, but not the [alignment issue](https://github.com/facebook/jest/issues/4435).

Does this means this issue is caused by some dependency update from both `jest@21` and `babel-jest@21`?
And the other issue is caused by only `jest@21`?

Just an idea~~~

[2017-09-06 10:01] EthanChouTW commented on #2784
@LeoLeBras it works for me thanks

[2017-09-06 10:27] stipsan commented on #4021
@alexkrolick in order to collect coverage information the source must be instrumented somehow.

The simplified flow goes like this:
1. Read the file.
2. Check if the file exists in the cache system, if it does it'll return it.
3. If not in cache, it'll check if it should transform the file (if you got babel-jest defined it will check wether this file should be transformed by it).
4. Transformers c

[2017-09-06 10:54] trevorah commented on #3822
I've had the same issue on macOS. Tried clearing all npm/yarn caches & node_modules, but I would still get the same error. Tried a `npm test -- --no-cache`, but still no dice (possibly because of a lerna setup where `--no-cache` wasnt reaching jest for some of the packages).

The only thing that would fix it was a `rm -rf $TMPDIR/jest_dx`.

[2017-09-06 10:56] stipsan commented on #3753
Hey @joaocfernandes,

Regarding **2** I think you were affected by a bug that got fixed in this PR: https://github.com/facebook/jest/pull/4432

Can you test if this resolves the rename problem you are experiencing?

[2017-09-06 11:12] stipsan commented on #3705
Hey guys,

Hopefully you won't need a clear cache command anymore after this is released: https://github.com/facebook/jest/pull/4432

[2017-09-06 11:37] cpojer commented on #3705
Ah nice! Closing this task.

[2017-09-06 11:37] #3705 closed

[2017-09-06 12:54] rknell commented on #4433
To anyone coming across this, https://github.com/facebook/react-native/issues/15810 is the relevant issue, and you can avoid the issue for now by rolling back to node v7.4.0

[2017-09-06 13:20] pedrottimark commented on #4435
@stupidism You make good suggestion in the other issue that we (me) write a **migration guide** for changes to `pretty-format` package in Jest 21.

This is a purposeful change for Jest **not** to add indentation spaces within multiline strings.

In case it eases pain of surprise and effort to update snapshots, here’s the **why** for this change:
* The previous method of indenting snapshots of Reac

[2017-09-06 13:26] pedrottimark commented on #4434
Thank you for link to project. As you suggested, different reason for this issue than other issue.

[2017-09-06 15:22] simonkberg commented on #3718
Seems to be working as expected in jest 21

[2017-09-06 16:01] #3718 closed

[2017-09-06 16:11] kentor opened #4436 "jest.restoreAllMocks is not a function"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Getting `jest.restoreAllMocks is not a function` in Jest 21.0.1 when trying to run `jest.restoreAllMocks()`

**What is the expected behavior?**
`jest.restoreAllMocks` is in the docs so I expect it to work?

**Please provide your exact Jest configuration and mention your Jest, node, yarn/npm version and

[2017-09-06 16:39] Havunen commented on #4400
@rknell The bad example I made is trying to demonstrate issue where exceptions are not caught when they occur off the main thread.

[2017-09-06 17:35] AlokBansal8 opened #4437 "Jest is loading the same module twice"
When I try to run multiple test files using jest, I get following error:

[code]

But everything works fine if I run only one test file (whichever it may be).

[As per node-gdal library's author](https://github.com/naturalatlas/node-gdal/issues/207#issuecomment-326993441) this is happening because jest is loading the same module twice in the same process.

`npm -v`    -->  `5.3.0`
`node -v`   -->

[2017-09-06 17:39] kentor commented on #4437
This is probably related: https://github.com/facebook/jest/issues/3552

[2017-09-06 18:17] isanchen commented on #4436
Same here, Jest `21.0.1`, node `8.4.0`.

Searched in source and `restoreAllMocks` can be found nowhere.

Please fix.

As a work around, we have to call `.mockRestore()` on every single spy created. 🤦‍♂️

[2017-09-06 18:56] acamposruiz commented on #4264
Hi! @aaronabramov the Pull Request is here https://github.com/facebook/jest/pull/4438#issuecomment-327579467

[2017-09-06 19:06] cpojer commented on #4437
Yap, duplicate.

[2017-09-06 19:06] #4437 closed

[2017-09-06 19:15] acamposruiz commented on #4264
Seems like AppVeyor build failed in my PR. I will check what's happening :)

[2017-09-06 19:30] acamposruiz commented on #4264
I have just close and reopen the PR and all checks right :)

[2017-09-06 21:33] GiladShoham commented on #4399
@cpojer This is the exact text printed:)
https://github.com/facebook/jest/blob/64535a1d0bddef107675d9d70ac74bfe356c301c/packages/jest-cli/src/cli/get_jest.js#L38
(It's not a text from my tests but from jest)

[2017-09-06 21:34] taystack commented on #3465
@rimunroe I had the same error when using `jest.runAllTimers()`. I switched to `jest.runOnlyPendingTimers()` and this fixed my problem.

[2017-09-06 22:10] benjick commented on #652
So what's the correct way of setting timeouts globally? The URLs in this issue are obsolete

[2017-09-06 23:47] hongymagic opened #4439 "Mocking modules and __mocks__/<module>/index.js"
**Do you want to request a *feature* or report a *bug*?**

Potential *bug* as described behaviour below could be intentional.

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

Couldn't or didn't

[2017-09-07 01:03] adityavohra7 opened #4440 "Can Jest use npm_lifecycle_script to determine the update command?"
**Do you want to request a *feature* or report a *bug*?**
Feature!

**What is the current behavior?**
Jest [uses](https://github.com/facebook/jest/blob/2c910dcaab6d6809966ed9c80441fd23e5cf606d/packages/jest-cli/src/reporters/summary_reporter.js#L131) `process.env.npm_lifecycle_event` to determine what the command to update snapshots should be. It feels like Jest is assuming that the lifecycle scri

[2017-09-07 01:32] cpojer commented on #4440
You can try sending a PR for that :)

[2017-09-07 01:52] Stupidism commented on #4435
Make a lot of sense! Thank you!

[2017-09-07 01:52] #4435 closed

[2017-09-07 03:11] Stupidism commented on #4434
Found the dependency caused my problem. It seems not related to jest at all. Close this issue first

[2017-09-07 03:11] #4434 closed

[2017-09-07 04:30] adityavohra7 commented on #4440
Sure! I'll give it a shot 😊

I'll try to get [this PR](https://github.com/yarnpkg/yarn/pull/4330) merged first 😀

[2017-09-07 04:59] jseminck commented on #4410
@aaronabramov could you help me to reproduce the issue? Then I can check if my fix works and push it. 😄 Thanks!

[2017-09-07 05:00] thinkOfaNumber commented on #3079
FYI for anyone still following, it's not _just_ git bash.

For me it works in cmd but doesn't work on our build server (Bamboo). Tests just hangs without any output. I killed the process after 90 minutes (tests usually complete in about 1 minute). All other npm & node tasks seem to work fine.

`--runInBand` works for me in this scenario.

[2017-09-07 07:15] alxdnlnko commented on #4326
@glortho hi, what was the issue? I got the same error today with `yarn`. What package caused the problem?

[2017-09-07 08:13] dispix commented on #3968
Hi @stipsan !

I was about to test it but got an error when trying to target the master branch from this repository:

[code]

[code]

Am I missing something with the way I should target a git repository as a dependency ?

[2017-09-07 08:57] stipsan commented on #3968
Like @SimenB says the easiest way to test it is to:
1. Create your local clone.
2. Run yarn install in the clone (using yarn v0.27.5 or later as jest is using the workspaces feature).
3. `npm link` to compile jest so you get the same files available as when you `yarn add jest-cli` right off npm.
4. cd to your project and `npm link jest-cli`, this should setup a symlink for you to jest.

[2017-09-07 11:59] orta opened #4442 "Feature: Add a mode to watch with the ability to update an expected literal"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

[code]

With `yarn jest -- --watch`

[code]

**What is the potential behavior?**

What if there was an extra watch mode:

[code]

Where after pressing `u` it re-runs with whatever lasts triggered the test run ( so maybe the watchman announcement of a file being saved ) and outputs something like:

[2017-09-07 12:16] mschipperheyn opened #4443 "Importing style in React component leads to weird error"
Hi,

I'm trying to test a number of React components that import relative styles in an "absolute way".

[code]
I get the following error during testing
[code]

package.json
[code]

setupTestFrameworkScriptFile.js
[code]

Any suggestions?

[2017-09-07 12:19] cpojer commented on #4443
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-09-07 12:19] #4443 closed

[2017-09-07 13:18] glortho commented on #4326
@stjepangolemac our dev dependencies weren't being installed fully and/or correctly with lerna + npm5 + package-lock files. when we removed the package-locks and reinstalled all npm dependencies it worked fine.

[2017-09-07 13:54] orta commented on #4442
There's some interesting feedback against this on twitter:

[2017-09-07 14:10] orta commented on #4442
I'm not sold on these being arguments against having a feature like this, there are a bazillion use cases where you need to make small changes to existing expectations - literals like numbers/strings aren't exactly a good match for using snapshots.

Making it more thoughtful is a great idea, so I'd say that you should probably need to confirm each transition in the run:

[code]

Which is a better

[2017-09-07 14:22] albertdb commented on #3251
This seems to have been implemented in Jest 21, and it is extremely annoying. Any asynchronously handled promises that is rejected before having a handler attached makes tests fail. And I don't find any way to deactive this behaviour.

Any idea of how to overcome this? Thanks.

[2017-09-07 14:44] bookman25 opened #4444 "cache write race condition across processes"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
When running tests in parallel with the new atomic cache writing, we're getting rename errors as multiple processes try to write to the same files.  Even with `--no-cache` option set it's still hitting rename errors because it's still trying to write to the files.

**What is the expected behavior?**

[2017-09-07 16:27] ghernandez345 commented on #1650
I'm colocating tests with my code and I've found placing tests under a `spec` directory helps hide the snapshot directories from your source code, but still keeps it closely tied to the test files. Might be useful for those who don't want to immediately seeing the snapshots directories n your project.

[code]

[2017-09-07 16:39] WebsByTodd opened #4446 "In package.json, transformers must be supplied in order"
**Do you want to request a *feature* or report a *bug*?**
*Bug*

**What is the current behavior?**
When a custom HTML transformer and a TypeScript transformer are used together, the HTML transformer must come first in package.json in order for test cases to pass for TypeScript modules that import HTML.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it

[2017-09-07 16:55] cpojer commented on #4446
Please make your regex more specific. We will not be changing this behavior for now.

[2017-09-07 16:55] #4446 closed

[2017-09-07 17:09] WebsByTodd commented on #4446
I made the regex more specific, but the issue still stands. Are you not changing this behavior because of the regex or for other reasons?

[2017-09-07 17:40] mmerickel opened #4447 "toEqual is resulting in unexpected behavior on immutable record objects"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

Two immutable objects compare equal using the `toEqual` matcher.

**What is the expected behavior?**

Two immutable objects compare not equal using the `toEqual` matcher.

**Please provide your exact Jest configuration and mention your Jest, node, yarn/npm version and operating system.**

This test

[2017-09-07 17:41] cpojer commented on #4447
Yep, they aren't equal and this was a bug in Jest 20. They have different values.

[2017-09-07 17:56] yaheath commented on #4447
What?? As you point out, they have different values. So why does the test:
`expect(received).not.toEqual(expected)`
fail? There's a `not` there.

[2017-09-07 18:02] cpojer commented on #4447
Oh, I apologize. I conflated this issue with fixes we made for something else and misread the assertion. Yeah, that definitely seems like a bug.

[2017-09-07 19:40] Georg-W commented on #1986
I am using Jest (and enzyme) in create-react-app and adding a `--runInBand` flag brought me from around 20 sec (only 8 tests) down to 3.3 sec. on a new Windows 10 maschine. Might be useful in other cases as well. I still feel that something is off with my setup but at least its not as bad.

[2017-09-07 20:57] truckingsim opened #4448 "watchAll not running tests on save."
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When running `--watchAll` the test don't run on file save.  They do if i use `--watch`.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn te

[2017-09-07 21:02] truckingsim commented on #4448
This was working on Jest 20.0.4, this only happened after upgrading to 21.0.1.

[2017-09-07 21:36] doowb opened #4449 "Errors running `yarn test` in this repository"
**Do you want to request a *feature* or report a *bug*?**

bug?

**What is the current behavior?**

I'm trying to setup the `jest` repository to run tests before making a change to submit a pull request. I got to a point where when running `yarn test` results in `flow: unknown option '--silent'.`

**What is the expected behavior?**

Be able to run tests.

**Please provide your exact Jest configura

[2017-09-07 22:04] cpojer commented on #4449
Somebody needs to send a PR to remove the `--` and remove the `--silent` from the `scripts` commands in `package.json`. This change was made today in Yarn.

[2017-09-07 22:04] cpojer commented on #4449
Would you mind sending that PR? :)

[2017-09-07 22:28] doowb commented on #4449
I'd be happy too. There is also a `--silent` on `lerna publish`. Should that be removed also?

I did this locally and the tests are running now, thanks!

[2017-09-07 22:39] cpojer commented on #4449
go for it.

[2017-09-07 23:15] #4449 closed

[2017-09-08 03:56] eddiemoore opened #4451 "Coverage causes memory to balloon"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
With `collectCoverage: true` on large projects it causes the memory to balloon up to over `1000mb`.
With `collectCoverage: false` the memory stays at around `150mb` max in my tests

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.

[2017-09-08 05:29] aaronabramov commented on #4410
@jseminck hm.. this is strange! i was able to reproduce it locally.
I wrote a test that is currently failing on my laptop. you can take it as a base https://github.com/facebook/jest/pull/4452

[2017-09-08 08:19] dispix commented on #3968
Just tried following the [steps](https://github.com/facebook/jest/blob/master/CONTRIBUTING.md#how-to-try-a-development-build-of-jest-in-another-project) to link a local version of jest and this doesn't seem to fix the issue 😞

Using `yarn@0.27.5` and the `master` branch of this repository.

[2017-09-08 09:10] cpojer commented on #4451
This is not an actionable bug report. We do not run into the same issue at Facebook in a repo with multiple thousands of test files. Memory of more than 1gb is not out of the norm for coverage collection on a large set of files. If this is a problem for you, please work on a PR within your repo and some tests and help everyone fix it, but as it is we are not going to be able to assist.

[2017-09-08 09:10] #4451 closed

[2017-09-08 09:48] SimenB commented on #3968
No need to link, just clone, run `yarn` and then in your other project, do `../jest/jest`

[2017-09-08 10:00] dispix commented on #3968
Doesn't change a thing though, both methods still display the wrong coverage.

[2017-09-08 10:04] thiagohora commented on #4419
I've run into the same issue with the follow configuration:

Jest v21.0.1
Node v7.10.0
npm 4.2.0
Linux mint 18.2

running: jest --watch

[2017-09-08 11:19] wubzz commented on #3832
+1 Wanted to try jest coming from mocha and was impressed with the ease of `jest-codemods` and the docs, up until I got stuck with this same issue.

Every first `describe` of each seperate file was taking surprisingly long to execute. Turns out the setup was - as explained by previous comments - run once per file, resulting in tons of unecessary time consuming operations such as `DROP DATABASE`, `

[2017-09-08 16:21] jseminck commented on #4410
Thanks a lot. Bug confirmed. It also runs the sane test twice:

[code]

[2017-09-08 17:35] nigelzor commented on #4447
This has the same root cause as #4404. `Immutable.Map` (and any other iterable) have the same problems as native `Map`.

[2017-09-08 20:34] rogeliog commented on #4448
I'm also able to reproduce it, seems like a regression in 21.0.1

[2017-09-08 22:15] aaronabramov commented on #4274
seems like the issue is worse than i first though.
`--json` will always break the JSON if the output is longer than 65538 char and `--forceExit` is passed :(
just hit this issue on a large test run with `--json` flag

[2017-09-08 22:32] Thomblin commented on #4419
Same issue here

Jest 21.0.1
Node 8.1.2
npm 5.0.3

[2017-09-08 22:58] rogeliog commented on #4419
cc: @aaronabramov

[2017-09-09 00:50] aaronabramov commented on #4410
@jseminck it's supposed to run the same test twice. Once for every project, although when you ask jest for `list of tests` to run, it should not duplicate the file name

[2017-09-09 02:26] mschipperheyn commented on #4443
I did. No luck

[2017-09-09 03:02] 15Dkatz commented on #4419
Downgrading back to jest cli version 20.0.4 seems to be a temporary solution:

`npm install jest-cli@20.0.4 --save` or I believe`yarn add jest-cli@20.0.4`

[2017-09-09 09:33] Thomblin commented on #4419
@15Dkatz thx, that helped

[2017-09-09 18:06] aaronabramov commented on #4419
@rogeliog it seems like it happens because `onlyChanged` is set to true here https://github.com/facebook/jest/blob/master/packages/jest-cli/src/lib/update_global_config.js#L53-L56

and if `onlyChanged` is true, we assume that we're in a git/hg repo and try to get the list of changed files, which is not possible if we're not in git.

Can we just remove this assignment from watch mode? is this confi

[2017-09-09 20:41] JuiceCrawl opened #4455 "Platform.select defaults to iOS when explicitly setting Platform with jest.mock"
Below I am testing a component to have a red background in iOS and a blue background in Android. However, the jest snapshot always defaults to iOS if your component uses react native's method: `Platform.select`.

component.js
[code]
component.spec.js

[code]

component.js.snap

[code]

If I change component.js to the following (removing Platform.select with an alternative option):

[code]

`npm ru

[2017-09-09 21:30] pelotom opened #4456 "When using a .js setup file, if no .js transform is provided it is silently omitted"
If you have a JS `setupFile`, e.g.

[code]

but you don't register a transform for `.js` such as

[code]

then the `setupFile` just silently doesn't get invoked. Also in my case `polyfills.js` is a simple ES5 module so it doesn't need to be transpiled, but I need to register a `transform` for it anyway? All my tests and application code are TypeScript, so I don't need Babel anywhere else and would

[2017-09-10 12:01] Devid- commented on #2584
With the 21 update tests as this will be skipped in jest: `it('showTitle');`
Is it possible to configure Jest not to skip this test ? Just like in the version 19 ?
The behaviour was interesting for me because I am reading a txt file where each row is a test. And the above test was something like a group title, it was easier to distinguish because it was a yellow circle and all other tests where gr

[2017-09-10 13:42] vigdora100 commented on #3842
I am having the same issue

[2017-09-10 19:40] mshibl opened #4458 "jest displays console output when --silent is combined with --verobse"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
when running `jest --silent --verbose` console output is printed
however, when running `jest --silent` only console output is supressed

**GitHub repository for to reproduce.**
https://github.com/mshibl/jest-silent-issue

**What is the expected behavior?**
Prevent tests from printing messages

[2017-09-11 00:48] cpojer commented on #4455
Unfortunately mocking Platform isn't the only thing that requires changing. The default is probably iOS from the preset, but you can provide your own config for the "haste" field that overwrites the default platform: See https://github.com/facebook/react-native/blob/master/jest-preset.json#L3

Try:
[code]

In your Android config.

Please note that there is currently no good way to toggle between t

[2017-09-11 00:48] #4455 closed

[2017-09-11 00:49] cpojer commented on #4456
This is not a proper bug report. The issue template on this repo is explicitly asking for repro steps, including version numbers and a github repo for us to look. Without this, we won't be able to take a look at this, I'm sorry.

[2017-09-11 00:49] #4456 closed

[2017-09-11 01:06] pelotom commented on #4456
I thought those were pretty clear repro steps, but YMMV. If you want to leave a bug in your code and confuse and frustrate your users, that's certainly your prerogative.

[2017-09-11 01:08] cpojer commented on #4456
Feel free to send pull requests with a test. You have the most context on the issue, so you are the ideal person to help.

[2017-09-11 01:10] pelotom commented on #4456
So just to be clear, you're not accepting bug reports now, only pull requests?

[2017-09-11 01:14] cpojer commented on #4456
Yeah, code wins arguments! We do accept issues, but if they don't follow the issue template there is little value in bug reports. Also, I don't generally monitor this issue tracker for things to work on. For one, I don't work on this project in my day job, and second, when I do work on this project, I pick things that are exciting to me. If you write up a proper issue summary it gives other people

[2017-09-11 01:24] pelotom commented on #4456
You don't monitor the issue tracker for things to work on, just for things to summarily close, got it. The steps I gave are literally everything you need to know to reproduce the issue, but go ahead and reject it because it doesn't follow your template. 👍

[2017-09-11 02:36] mshibl commented on #4458
well, I'm looking at [packages/jest-cli/src/runJest.js](https://github.com/facebook/jest/pull/3003/files#diff-5ddc4efb5ff85999fc5763f9927c2c5e) now and it seems like this is by design. However, the docs state the following regarding the `--verbose` option:

Which led me to expected to only see the test results not the full console output. If this is indeed the desired behaviour then I will close t

[2017-09-11 02:55] cpojer commented on #4458
I think you are right, `--silent --verbose` should hide consoles but print everything else. I think you can change it if you invert the verbose/silent checks here, or similar: https://github.com/facebook/jest/blob/master/packages/jest-runner/src/run_test.js#L80-L92

Do you mind sending a PR? :)

[2017-09-11 09:52] masudianpour commented on #652
I'm not sure why, but if you put the interval value as **milliseconds**, it works **fine** as below:
In file `path/to/init.js`:
`jasmine.DEFAULT_TIMEOUT_INTERVAL = __JASMINE_TIMEOUT__`

`__JASMINE_TIMEOUT__` is defined in `globals` in package.json (`jest` section) like below:

      "jest": {
        "globals": {
           "__JASMINE_TIMEOUT__": 150000
    },

You can also put this in `beforeEach

[2017-09-11 10:24] loopdtw opened #4459 "`this` is an empty object in mock function"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Calling `this` in a mock function returns an empty object

**What is the expected behavior?**
Calling `this` in mock function should provide `this` of the caller

[code]

**Please provide your exact Jest configuration and mention your Jest, node, yarn/npm version and operating system.**
Jest:

[2017-09-11 10:26] tuomash commented on #3832
+1 for global setup. Like other users, I'd like to setup and tear down the app/DB only once.

[2017-09-11 16:01] flushentitypacket commented on #2235
Why was this closed?

[2017-09-11 16:56] th3fallen commented on #4447
can confirm im having the same issue as well any update on when #4404 could be looked at @cpojer ?

[2017-09-11 17:12] ianstormtaylor commented on #2235
@flushentitypacket it was mentioned by @cpojer upstream, closed because it's not an actionable thing right now since Jest is built on Jasmine and it would be hard to change, slash not even sure it is the right move. I think that's super said, GitHub doesn't have a great solution for long-lived discussions, so sometimes maintainers need to close issues to maintain sanity :smile:

[2017-09-11 18:30] paularmstrong opened #4461 "When snapshots are written, include what suites/tests caused them to be written"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

When running tests in a CI environment, we will fail test runs that create new snapshots (that were either updated or not committed ahead of the CI run).

The output from Jest is something like:

[code]

**What is the expected behavior?**

Ideally, this would tell us both which suites and which t

[2017-09-11 19:24] joostmeijles opened #4462 "Webpack externals"
I have a Webpack bundle that has as externals 'react' and 'react-dom'.
[code]
When I include the Webpack bundle in my test I the following error:
[code]
I tried to without success:
- creating a manual mock as described [here](https://facebook.github.io/jest/docs/en/manual-mocks.html)
- setting Jest paramaters in package.json:
[code]
I cannot find any documentation on the use of Webpack externals.

[2017-09-11 19:42] nxmohamad commented on #3123
@enapupe thank you!

[2017-09-11 20:40] thymikee commented on #4461
Isn't this working for you? It's already available since Jest v20. You can also try with `--ci` flag.

[2017-09-11 20:45] thymikee commented on #4462
Jest runs without Webpack, so you need to provide the global React and ReactDOM or just use npm modules. Also, this is not a help forum – you'll find our [help page](https://facebook.github.io/jest/en/help.html) useful :)

[2017-09-11 20:45] #4462 closed

[2017-09-11 21:02] thymikee commented on #4461
See https://github.com/facebook/jest/pull/3693

[2017-09-11 21:02] #4461 closed

[2017-09-11 21:03] thymikee commented on #4459
Was this ever supported in previous versions?

[2017-09-11 21:07] paularmstrong commented on #4461
Had not seen this option. Thanks!

[2017-09-11 21:12] thymikee commented on #4444
Isn't this related? https://github.com/facebook/jest/pull/4432

[2017-09-11 21:36] joostmeijles commented on #4462
@thymikee sorry for wrongly posting this question, but for my understanding and for documentation purposes: how do I provide the global React and ReactDOM variables in Jest?

[2017-09-11 23:37] bookman25 commented on #4444
I don't believe so.  I believe the case we see in our repo is the exact same file getting mocked for 2 different processes (while running in parallel) which causes the cache write operation to fail because one process has the file locked.  That ticket looks like is more about different files with the same contents.  We don't have any of those cases in the repositories we host that we ran into this

[2017-09-11 23:49] jwbay commented on #4459
Arrow functions use the `this` from their outer scope, which in your case is probably the current module's exports (empty since test files usually don't export anything). Try `jest.fn(function() {` to allow the `this` context to be forwarded to your mock

[2017-09-12 01:09] loopdtw commented on #4459
@jwbay isn't it using j`est.fn(function() {` already in the code snippet? can you provide an example?

[2017-09-12 01:15] #4459 closed

[2017-09-12 01:15] cpojer commented on #4459
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-09-12 01:24] msrose commented on #3970
I did some digging into this issue, and top-level `this` is undefined only when using ECMAScript modules, as is being done here with babel-jest and babel-preset-es2015. I think that's the expected behaviour, since global `this` should be undefined in ESM as per spec (you can see that [babel transforms global `this` directly to undefined](https://github.com/babel/babel/blob/8742012b5e04a8d310b62d97

[2017-09-12 01:31] #4436 closed

[2017-09-12 01:33] cpojer commented on #3970
I think @msrose is right.

[2017-09-12 01:33] #3970 closed

[2017-09-12 01:36] cpojer commented on #4447
@th3fallen Hey, this is an open source project. I don't provide free tech support. If this is an issue, please send a PR with tests and a fix and I'll promptly review and merge it.

[2017-09-12 02:12] th3fallen commented on #4447
@cpojer whoa, no need to be an ass, I saw you were a member of the project this why I asked. I also linked to an already open PR with tests to fix it.

Thanks for your time none the less sheesh.

[2017-09-12 02:18] cpojer commented on #4447
I reviewed that PR but I think it'll take a while until a fix will get merged.

[2017-09-12 02:19] th3fallen commented on #4447
Thanks, not a huge deal I'll just hold of on updating versions

[2017-09-12 02:47] loopdtw commented on #4459
@jwbay this is still an empty object with regular function, I've tried this with SinonJS, and it works as expected. @cpojer should this be a feature request instead?

[2017-09-12 06:35] ljharb opened #4465 "How to disable "Determining test suites to run" text?"
It looks like the initial text "Determining test suites to run" only can be hidden by "not being a TTY" or by "being CI".

Is there any way a custom reporter could suppress this information?

I'm trying to parse the output, and this additional (colored) output makes it more difficult. Currently I can set `CI=true` or similar, but this is only a temporary workaround - I'd like it to be implied by t

[2017-09-12 06:43] cpojer commented on #4465
We could change it, but we are writing this before creating the `TestRunner` which manages the reporters. Do you need information while the test run is ongoing and this is why you cannot rely on `--json`? It would be great if Jest had an interactive mode that streams JSON.

[2017-09-12 07:04] Leonard-Li777 commented on #3970
@msrose you are right. thanks!

[2017-09-12 07:33] ljharb commented on #4465
In this case, I don't want the user to have to specify `--json` - JSON is a built-in reporter; I want a custom one.

In other words, I want to ensure that the only output jest produces, period, comes from the custom reporter.

[2017-09-12 07:39] cpojer commented on #4465
Yeah, that makes sense to me. Happy to review PRs for this :)

[2017-09-12 08:32] GeeWee commented on #2157
I would love a utility function that flushed the promise queue

[2017-09-12 10:02] qasimalyas opened #4467 "Test fails if folder name contains parenthesis"
I understand this is probably an edge case but would be nice to have this resolved.

**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
If a folder name contains parenthesis ( ) then tests fail.
![image](https://user-images.githubusercontent.com/85598/30318703-c0cf495a-97a5-11e7-9c09-7d4fcc4cf002.png)

A similar issue was reported #1462 and #

[2017-09-12 10:20] cpojer commented on #4467
Duplicate of https://github.com/facebook/jest/issues/2381

[2017-09-12 10:20] #4467 closed

[2017-09-12 10:59] silverlight513 opened #4468 "Update prompt when tests fail"
**Do you want to request a *feature* or report a *bug*?**
Update?

**What is the current behavior?**
When snapshots fail jest shows a prompt for a user to update out of date snapshots.
[code]

Yarn is now on version 1.0 and doesn't require the double dash before sending command line arguments. We should probably update the prompt to remove the double dash. I'd be willing to make a PR but I'm busy

[2017-09-12 11:00] thymikee commented on #4468
Closing this in favor of #4440

[2017-09-12 11:00] #4468 closed

[2017-09-12 11:01] thymikee commented on #4440
This also needs to be updated: https://github.com/facebook/jest/issues/4468

[2017-09-12 14:51] jedrichards commented on #2234
@vcarel After mocking `Date` it doesn't pass an `instanceof` check, which causes some Date libraries to choke on it (specifically date-fns). i.e.,

[code]

I fixed like follows,

[code]

[2017-09-12 16:49] ljharb commented on #4465
Do you have any suggestions about where to start?

It seems like constructing the `TestRunner` earlier, and then calling a new instance method that takes the default output and returns a Promise for the actual output (ie, `undefined` would output nothing) would work?

If so, should this instance method only control this output, or should it be generic enough to control all output? One possible sig

[2017-09-12 19:25] maasencioh opened #4470 "coverage failing since node v8"
**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current behavior?**
from node v8 the command `jest --coverage` is throwing me `Error: Cannot find module 'istanbul-lib-report'`

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can

[2017-09-12 21:16] mmahalwy commented on #4092
same problem. any ideas?

[2017-09-12 22:32] aaronabramov opened #4471 "Use jest reporters to report more events"
since we use a single instance of each reporter to report events from all projects/runners i though it would be helpful to report some more things, not only `onTestRunStart`, `onTestResult`, `onTestRunFinish`, etc, but also things like `onProcessStart`, `onContextReady` and other things.
I want to introduce some logging and performance monitoring, but there's no easy way to know how long each step

[2017-09-12 22:47] cpojer commented on #4470
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-09-12 22:47] #4470 closed

[2017-09-12 23:26] dclowd9901 opened #4472 "Expect().toEqual gives false equivalencies for Immutable Records"
Recently upgraded to Jest 21.0.2, and some equality tests relating to comparing Immutable Records started failing.

I was able to trace the problem back to a utility called iterableEquality.

It turns out that iterable equality falsely identifies Immutable Records as iterables (likely because of this line):
[code]
since IRs (Immutable Records) have a size property.

It then constructs a new object

[2017-09-13 00:54] cpojer commented on #4472
See #4404.

[2017-09-13 00:54] #4472 closed

[2017-09-13 01:09] cpojer commented on #4465
I'm going to merge this into #4471 because @aaronabramov is exploring how to expand reporters and take them out of the lifecycle of `TestRunner`. I recommend following up with him on that task.

[2017-09-13 01:09] #4465 closed

[2017-09-13 01:09] cpojer commented on #4465
^ I should add @aaronabramov was planning on doing this this week.

[2017-09-13 07:00] NameFILIP opened #4473 "Add ability to explicitly import global variables"
While exposing global variables like `test`, `expect`, etc. is a "good" idea, it would be nice to be able to avoid it and explicitly require/import it from a module. For example:

[code]

[2017-09-13 09:16] Vinnl opened #4474 "`mockImplementationOnce` should fall back to `mockReturnValue` after being called"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

If you first define a mock:

    const mockedFunction = jest.fn().mockReturnValue('some value');

And then override its implementation for one time:

    mockedFunction.mockImplementationOnce(() => 'some other value');

Then it won't get back to the original value after calling the mock implement

[2017-09-13 11:26] nazimjamil opened #4476 "Global variable set within runner are not passed to module under test"
### Type of issue: *bug*

**What is the current behavior?**
When providing overwriting *global* variables within the runner, they are not available within the module which is under test.

Experience the problem here: https://repl.it/LBsX/0

**What is the expected behavior?**
The *global* variable remains the same.

#### System information
##### Version:
jest-cli: 21.0.2
yarn: 0.24.6
node: 6.11.0
m

[2017-09-13 12:12] Kurtas opened #4477 "Check if any test is defined after beforeAll function"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Test fails

**What is the expected behavior?**
get async data in `beforeAll` function and then to allow define tests according this data.

**Please provide your exact Jest configuration and mention your Jest, node, yarn/npm version and operating system.**
jest@21.0.2
node v6.11.2
yarn v0.27.5
npm 3

[2017-09-13 14:36] vzaidman commented on #3630
`--runInBand` works for me but i dont want to run in band...

[2017-09-13 16:18] constantijn commented on #2157
I would love a function that flushes the promise queues between tests also.

I'm testing code that uses Promise.all to wrap multiple promises. When one of those wrapped promises fails (because that is what I want to test) the promise immediately returns meaning the other promises sometimes (race condition, non deterministic) return while the next test is running.

This causes all sorts of havoc wi

[2017-09-13 17:20] Phaze1D commented on #4477
I believe you have to make the beforeAll asynchronous, either by adding
[code]

or
[code]

[2017-09-13 17:54] Kurtas commented on #4477
@Phaze1D Thanks for you reply!
Quote [from docs](https://facebook.github.io/jest/docs/en/api.html#beforeallfn) for `beforeAll`

So it should also do same thing with promises, but I also tried your suggestion and the result is same :(

[2017-09-13 20:49] thymikee commented on #4477
@Kurtas can you provide a repro? or repl.it, if it's also present on v20

[2017-09-13 21:56] segrey opened #4479 "Allow multiple --testResultsProcessor options"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**

Run jest tests passing two `--testResultsProcessor` options:
[code]

Error:
[code]

**What is the expected behavior?**

Both results processors are called back.

**Please provide your exact Jest configuration and mention your Jest, node, yarn/npm version and operating system.**

jest: 21.0.2
node:

[2017-09-13 22:08] segrey commented on #4479
Having such a feature would allow tools to implement jest integration using `--testResultsProcessor` and not worry about overwriting user-specified `--testResultsProcessor`.
E.g. currently WebStorm uses `--setupTestFrameworkScriptFile` for its jest integration. Well, it turned out to be not great (need to add IDE sources to `transformIgnorePatterns` and `unmockedModulePathPatterns`). Using `jest-e

[2017-09-14 00:08] wschurman commented on #4092
@mmahalwy - may want to check that your NODE_PATH environment variable doesn't contain any non-existent directories (see https://github.com/facebook/jest/pull/4453#issuecomment-329331486)

[2017-09-14 00:09] palmerj3 commented on #4401
@rogeliog perhaps you could take a look? Would be nice to know if this is at least confirmed by Jest collaborators. Confirmed on my end.

Sorry for the ping but this has gotten no acknowledgement in 2 weeks :)

[2017-09-14 01:04] cpojer commented on #4476
Please use `setupFiles` to overwrite localStorage using `Object.defineProperty(window, 'localStorage', …);` because it is protected. Also, you are trying to write `window` onto the global which is the global itself. Because window is protected, it won't write anything. You can try to add `globals: {localStorage: {}}` but it my not work because of the protection.

[2017-09-14 01:04] #4476 closed

[2017-09-14 01:10] cpojer commented on #4479
I don't think this needs to change. You can simply have a `testResultsProcessor` that wraps other test results processors:

[code]

that seems much more straightforward to me. What do you think?

[2017-09-14 01:52] cpojer commented on #4447
Published 21.1.0 before the mob lynches me.

[2017-09-14 01:52] #4447 closed

[2017-09-14 01:53] th3fallen commented on #4447
You're the man! Thanks

[2017-09-14 01:57] cpojer commented on #4447
I am… the man!

[2017-09-14 05:46] p4bloch commented on #4248
I'm curious to understand why this happen. Does jest rely on a different version of node internally?

[2017-09-14 06:12] Kurtas commented on #4477
@thymikee sure,[ you can find it here](https://repl.it/LEi6/3)

[2017-09-14 06:42] thymikee commented on #4401
This should be handled properly in Jest 21, see: https://github.com/facebook/jest/issues/2059.

[2017-09-14 07:08] thymikee commented on #4477
The problem here is that `reportedErrors` is _outside_ of the `it` block, which is waiting for `beforeAll` to resolve (you can verify that changing timeout to higher value). Only `it`/`test` blocks are waiting with evaluation, we cannot force random code inside `describe` block to wait for `beforeAll`/`beforeEach` to resolve. Jest doesn't and probably won't ever guarantee that.

This is a wontfix,

[2017-09-14 07:08] #4477 closed

[2017-09-14 09:39] Kurtas commented on #4477
The problem is that there is no way (perhaps) how to prepare testing environment before jest will be runs.
For example you can [run mocha programmatically](https://github.com/mochajs/mocha/wiki/Using-mocha-programmatically), so you can prepare enviroment and the call `run`

Sure it will be work when I load data in `it` block, but then I have 1 test. I need iterate overate data and run individual t

[2017-09-14 10:41] v1adko opened #4481 "Custom reason/because message in expect()"
**Do you want to request a *feature* or report a *bug*?**

Feature request.

**What is the current behavior?**

Does not allow to pass custom fail message to expect()

**What is the expected behavior?**

Would be nice to have the ability to show custom fail messages.
This discussion in [jasmine](https://github.com/jasmine/jasmine/issues/641) can be a good reference.
Main problem is that when you h

[2017-09-14 11:08] AO17 opened #4482 "Jest tests won't go through, always throws error: Unexpected token"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Test is failing

**What is the expected behavior?**
The test should pass.

**My configuration:**

- Jest: 21.1.0

- Enzyme: 2.8.0

- Node: 6.11.2

- NPM: 3.10.10

- Webpack: 2.6.1

- Windows 10

For code and a better explanation, please take a look at my [My Stackoverflow question](https://stackoverflo

[2017-09-14 11:11] joaocfernandes commented on #3753
Hi @stipsan,

No duplicates occur now. Still the path to the file is incorrect.
The source file should be under src/Yeah_modules/ .

![after4432](https://user-images.githubusercontent.com/2494410/30426812-539da542-9945-11e7-8ab9-bb8d0855d3a2.jpg)

[2017-09-14 11:19] thymikee commented on #4482
You've already asked the question on Stack Overflow, this is not a help forum, but an issue tracker. It will also be easier to help there, if you provide a repo with the case.
Cheers!

[2017-09-14 11:19] #4482 closed

[2017-09-14 11:21] segrey commented on #4479
@cpojer Yeah, delegation is a good approach (I thought about it and should have mentioned it, sorry). It will work, however, it has a downside: a tool has to run jest with `--showConfig` first to find out user-specified `testResultsProcessor`. It may take ~0.5 second to complete and might be annoying.
Since it's needed for tools, I'd be glad to work on a PR if this issue gets accepted.

[2017-09-14 11:39] Anthony-Mckale commented on #3687
I put a simple require in a other wise empty setup file, and it worked fine, had the babel polyfill used for older browsers anyway

aurelia-jest-bl-bootstrap.js

`
// https://github.com/facebook/jest/issues/3687
require('babel-polyfill');
`

jest-bl-cli-version.json

`
{
...
  "setupFiles": [
    "../test/aurelia-jest-bl-bootstrap.js"
  ],
  "modulePaths": [
    "../src",
    "../node_modules"
  ]

[2017-09-14 12:48] ksmithut commented on #4248
@p4bloch I don't think it uses a different version of node. I think it runs the code through the babel transpiler, and the babel transpiler doesn't understand the rest/spread syntax without a plugin. This is more of bug with babel.

[2017-09-14 12:53] potz commented on #4248
[This plugin](https://github.com/babel/babel/tree/master/packages/babel-plugin-syntax-object-rest-spread) did the trick for me. It doesn't try to transpile the object spread to anything, simply makes babel aware of the syntax and doesn't touch it (since node already understands it).

[code]

[code]

[2017-09-14 14:22] pedrottimark commented on #3847
@rexxars @steffenmllr @shai32 Can y’all confirm whether Jest 21.1.0 solves the problem for you?

It fixes eager evaluation of `diff` in `toHaveProperty` matcher. I can dig deeper if necessary.

[2017-09-14 15:04] hnrysmth commented on #4401
I've upgraded the example repo to Jest 21.1.0 and unfortunately the bug still persists.

Kind of inclined to leave this issue closed though, as I sense this is somehow a fundamentally difficult thing about building a JavaScript unit testing framework. Fixing it would probably entail a significant backwards compatibility breakage as well, cos I suspect there are a lot of folks out there with test s

[2017-09-14 15:10] stipsan commented on #3968
Very strange. It might still be loading the old packages for `babel-jest` and `jest-runtime` since you get the same results.
Any chance you can create a repo that reproduces the problem? It'll help me check for sure if #4432 will fix it, if it doesn't I'll be able to work on a fix using your test case. :)

[2017-09-14 15:22] stipsan commented on #3753
Thanks @joaocfernandes.

Since the problem happens when you add `--no-cache` it makes sense that #4432 didn't fix it. :)
It's an interesting issue though. It displays the previous path but loads the current file contents. Sounds to me like another cache problem 🤔

[2017-09-14 15:24] jquense commented on #4248
The problem is not hte jest is running hte code in some different Node, but that its running babel over the source code, and BABEL doesn't understand object rest/spread syntax, and throwing a parser error, unless you add the syntax plugin as @potz notes

[2017-09-14 15:39] p4bloch commented on #4248
I see, thanks for the clarification. Is there a way to tell jest not to use Babel at all? That option would solve this in a very flexible way.

[2017-09-14 15:52] thymikee commented on #4401
cc @dignifiedquire

[2017-09-14 16:19] dignifiedquire commented on #4401
As far as I understand the thing that could be fixed here is that `done` should throw when called a second time. The explanation as to why this passes atm is that the test is considered finished once `done` is called so later exceptions are not tracked anymore as expected.

[2017-09-14 16:25] mmerickel commented on #4447
@cpojer Thanks for the release. I can confirm it fixes my issue. However, I think you forgot to update the release notes. :-)

[2017-09-14 16:54] thymikee commented on #4248
It is, you can pass [custom transformer](http://facebook.github.io/jest/docs/en/configuration.html#transform-object-string-string) doing nothing. However you'll loose the benefit of `jest.mock()` hoisting your code above ES modules.
I think we could include this `syntax-object-rest-spread` plugin in `babel-jest`, what do you think @cpojer?

[2017-09-14 17:17] hnrysmth commented on #4401
In that example I think the `done` only runs once. The first time the callback fires, the assertion fails and stops the function, so you never reach `done`. The second time, the assertion passes and `done` is called. Been looking into it a bit today and it seems like something must be swallowing that assertion error. I tried injecting a `process.on('uncaughtException')` handler into the transforme

[2017-09-14 17:22] dignifiedquire commented on #4401
right, sorry the first one is the wrong one, I misread interesting this sounds like a bug definitely then

[2017-09-14 17:41] aaronabramov commented on #4465
i was experimenting with it last night.. and i think it would be awesome to only print to stdout/stderr from reporters and ship the default reporter in a modular way (maybe as a separate package) so it can be extended/modified.

i was able to get 95% of it done, the only problem we have with that is that our globalConfig is not immutable and changes throughout the flow. Once we get this fixed we c

[2017-09-14 18:55] SaraChicaD commented on #4433
Thanks for that @rknell ! Fixed my issue, appreciate you!

[2017-09-15 01:05] cpojer commented on #4447
Yup, not enough time to write code and focus on one task. I them, but forgot to push ;) Did that now.

[2017-09-15 01:13] cpojer commented on #4481
Duplicate of #1965.

[2017-09-15 01:13] #4481 closed

[2017-09-15 01:14] cpojer commented on #4479
I'm fine with a PR that turns this option into a string or array value instead of just string.

[2017-09-15 01:15] cpojer commented on #4479
The thing to consider though is that the ordering may matter: the results processors may return any object that may not be the same one as before, it may have less information that the next processor expects.

[2017-09-15 01:19] cpojer commented on #3847
Will reopen if not actually fixed.

[2017-09-15 01:19] #3847 closed

[2017-09-15 07:15] henebb opened #4484 "Cannot use index.js file as a container for exports"
Hi!
This might be a duplicate...
But when using an index file like this:

`import Accounting from './accounting'
import Api from './api'
import Color from './color'

export {
    Accounting,
    Api,
    Color,
}
`

When we include this index.js file from a test, the test fails with an exception `Cannot read property X of undefined` It seems like jest isn't able to resolve this?

Thanks!

[2017-09-15 07:23] thymikee commented on #4484
It's hard to tell anything from this bug report. Also, this is likely connected to some object not available at test environment, so check it out mock what's needed, like localstorage. Closing, as this is not a help forum and such issues with your setup should be asked on Stack Overflow or Discord channel

[2017-09-15 07:23] #4484 closed

[2017-09-15 08:55] henebb commented on #4484
Thanks for feedback! What's the preferred way forward here? Should I link to a github repo where this issue is illustrated or should I just drop files here?

[2017-09-15 08:58] thymikee commented on #4484
Repo is always a good thing to have. However please don't link it here. Create the post on SO or Discord channel (link in help section of Jest website). This issue tracker is intended for bug reports, and feature requests only, please respect that.

[2017-09-15 09:01] henebb commented on #4484
I do think it's a bug in jest. But I'll try SO first. Thanks.

[2017-09-15 09:38] henebb commented on #4484
FYI, here's the issue described on SO: https://stackoverflow.com/questions/46236248/jest-typeerror-cannot-read-property-of-undefined-when-using-export-from-inde

[2017-09-15 09:43] ebardajiz opened #4485 "Allow for async code `transform`s"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
The [`transform`](https://facebook.github.io/jest/docs/en/configuration.html#transform-object-string-string)s are applied synchronously

**What is the expected behavior?**
The transform function could be modified to accept a callback, or understand Promises, or even async functions.

Example with c

[2017-09-15 09:47] cpojer commented on #4485
This is currently impossible, because compilation is done just-in-time, when a file is `require`'d from another file. There is no way to change this in Jest, and we aren't likely to support this feature anytime soon. Sorry!

[2017-09-15 09:47] #4485 closed

[2017-09-15 10:11] thymikee commented on #4484
Checkout my answer in the comment. As I said, it's not a bug in Jest.

[2017-09-15 11:20] joetidee opened #4486 "How to test at different viewports?"
I need to undertake some Jest tests that adjust the viewport width (as some functionality i my component will change based on the viewport size). Is there a way to do this?

I did find the following article that uses JSDom, but as I had read that JSDom is now included in Jest (?) that there might be a more native solution without using JSDom. I couldn't fid anything in the Jest docs.

[https://www

[2017-09-15 11:45] cpojer commented on #4486
You can likely define viewport values using `Object.defineProperty(window, 'propname', …)`. Look up the API of that function and it should allow you to piece it together. The blog post is also recent, so you can follow that.

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Than

[2017-09-15 11:45] #4486 closed

[2017-09-15 14:21] joetidee commented on #4486
Did use Discord and Stackoverflow to no avail.

[2017-09-15 17:37] Phaze1D opened #4487 "beforeAll is being run even when it is inside xdescribe"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
beforeAll is being run even when it is inside xdescribe

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

[code]

**What is the expe

[2017-09-15 17:45] Phaze1D commented on #4487
This may be related to #4166

[2017-09-15 19:32] tristan-shelton opened #4488 "moduleNameMapper doesn't provide the expected behavior"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
I'm using the Webpack resolver for my code and I omit module extensions (in fact, I'm using eslint's `import/extensions` to make sure they aren't used), but I discovered that moduleNameMapper works on the path *before* resolving.

So if I write this:

`import './style'`

and use this configuration:

[2017-09-15 19:52] gaearon commented on #1965
Can we reopen? Even `jest.debug()` as suggested by @aaronabramov above would be helpful to me.

[2017-09-15 20:35] midzelis commented on #4427
I have a fix. Just adding a test, and then will create PR

[2017-09-16 00:05] iChip opened #4490 "Deep Clone of Config Globals"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Passing certain libraries as globals is unfortunately necessary under certain circumstances.

The simplest way seems to be passing globals into the config object. Hoever, after much wrestling with config  I've discovered these values are deep cloned - this will run indefinitely when passing large libra

[2017-09-16 01:21] Vanuan commented on #2979
I think I found the secret combination:

[code]

[2017-09-16 01:26] Vanuan commented on #2979
For some peculiar reason, if virtual DOM contains at least 2 elements with id equal to "undefined", rendering it to jsdom will fail. :scream:

[2017-09-16 09:28] cpojer commented on #4488
Yep, moduleNameMapper works on the string before resolution. This is the expected behavior. You can provide a custom resolver to Jest if you prefer that, and build your own :)

[2017-09-16 09:28] #4488 closed

[2017-09-16 09:33] cpojer commented on #4490
Use `setupFiles` to set up globals. What you are describing is an unsupported use-case. You cannot define unserializable values in your configuration. Jest parallelizes tests across worker processes and isolates tests from each other, so you cannot share a single instance of something.

[2017-09-16 09:33] #4490 closed

[2017-09-16 15:37] mihhail-lapushkin commented on #4296
Would love Jest to not print to stderr as well.
I also use a build tool that marks Jest output as ERROR. Not critical, but would be nice not to explain to every new person that it's OK.
https://github.com/eirslett/frontend-maven-plugin/issues/584

[2017-09-16 16:56] aaronabramov commented on #4296
i'm working on it right now as part of https://github.com/facebook/jest/issues/4471

[2017-09-17 00:54] haraldrudell opened #4495 "jest executable to support import in jest.transform.js"
**Enhancement request**

The greatness of **rollup** over **webpack** is that the rollup executable allows for ```import``` in rollup.config.js whereas with webpack you're in babel-node transpilation hell drenched in bugs

It's San Francisco vs. Stonehenge

With the **Jest-Lerna** combination, **babel** is in a parent directory
Jest then requires you to put a Jest field in **package.json** like:
[

[2017-09-17 06:29] a-omsk opened #4496 "expect.hasAssertions() triggered in different test"
Hello, i found some bug while i use expect.hasAssertions || expect.assertions in async it().

My case:

https://github.com/a-omsk/x-task/blob/master/__tests__/components/Pipe.test.js

if i try to insert `expect.hasAssertions()` in first `it()` case i catch the error in next `it()`, but i have no any `expect.hasAssertions()` in second `it()`
[code]

My jest version: 21.0.1

[2017-09-17 12:02] cpojer commented on #4495
You'll need to set up the babel plugin to convert import to require regardless of which build tool you are using for your JavaScript. We currently don't have any plans to add this to babel-jest, although we may reconsider in the future.

[2017-09-17 12:02] #4495 closed

[2017-09-17 18:42] thymikee commented on #4496
Checked out your project, installed with yarn, added `expect.hasAssertions()` and the test passes. So cannot repro. Closing.

[2017-09-17 18:44] thymikee commented on #4487
Yup, looks like the same thing. I'll just notify @aaronabramov so he's aware of it.

[2017-09-17 18:44] #4487 closed

[2017-09-17 19:00] thymikee commented on #4474
`mockImplementationOnce` falls back to `mockImplementation` and `mockReturnValueOnce` to `mockReturnValue`. As far as I can tell, it's by design, names are interconnected.

You can however do this:
[code]

Personally I wouldn't like nor advise to mix these two.

[2017-09-17 19:01] thymikee commented on #4473
@aaronabramov is working on this, but it's not a high priority issue for now.

[2017-09-17 19:01] #4473 closed

[2017-09-17 19:25] thymikee commented on #4496
Actually, there's indeed a bug. `.hasAssertions` holds global state without resetting, so it leaks to all other `test` blocks.

[2017-09-17 20:12] thymikee commented on #4400
Can confirm it happens, and it's both on Jest and JSDOM side. The error is logged to the console in newer version (tested on v11 [`jest-environment-jsdom-11.0.0`](https://www.npmjs.com/package/jest-environment-jsdom-11.0.0)) but it's not caught by Jest.

[2017-09-18 00:43] palmerj3 opened #4500 "More granular reporter API"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

A jest reporter can register 5 callbacks right now:
onRunStart - when the runner is first initiated
onTestStart - when a suite is first run
onTestResult - when a suite has completed
onRunComplete - when the runner has completed
getLastError

**What is the expected behavior?**

I would like some m

[2017-09-18 02:13] cpojer commented on #4500
@aaronabramov is working on it. #4471 etc. Please ask him there.

[2017-09-18 02:13] #4500 closed

[2017-09-18 02:14] cpojer commented on #4474
Agree with @thymikee

[2017-09-18 02:14] #4474 closed

[2017-09-18 02:15] #4496 closed

[2017-09-18 02:26] palmerj3 commented on #4471
Would also like to add this to the feature request https://github.com/facebook/jest/issues/4500

TL;DR - add a callback option in reporters for when an individual test starts and completes.

[2017-09-18 04:23] micheltobon opened #4501 "Error in the documentation"
When trying to access:

https://facebook.github.io/jest/docs/en/asynchronous.html

only the word "undefined" appears

[2017-09-18 06:47] Vinnl commented on #4474
It's your call of course, but is there a reason you wouldn't want to mix the two? I parsed `mockReturnValueOnce(value)` as a shorthand for `mockImplementationOnce(() => value)`, but apparently that's not the case?

[2017-09-18 06:48] thymikee commented on #4474
It's not a shorthand, mock can have no implementation, e.g. when it's an object or a string and cannot be called.

[2017-09-18 06:50] isthisstackoverflow commented on #2807
Confirming problem, not clever enough to solve it. @mikehdt More on that json workaround would be appreciated.

[2017-09-18 07:27] aminroosta commented on #1650
@cpojer Will you merge a PR implementing your suggested approach?

[code]

[2017-09-18 07:41] aminroosta commented on #1650
@cpojer we can also implement it via two regex patterns for the 1:1 mappings.
Right now we have in [jest-resolve-dependencies](https://github.com/facebook/jest/blob/ab6f4c3001a2cd917cc4df95e42dfc72f23c5a00/packages/jest-resolve-dependencies/src/index.js#L17)
[code]
We can get `snapshotFileRegex` & `snapshotFileRegex` from jest config.

[2017-09-18 08:16] rogerkerse opened #4502 "Testing component internal methods on click"
I have a simple code and would like to see, if button is pressed, does onPress get called. That all without enzyme, because it does not work on react 16.

[code]

and test would be something like that, but it does not work

[code]

How can it be done with jest? Tried also with replacing onPress with jest.fn(), but it had no effect on component.toJSON() and wrong function got called.

[2017-09-18 08:50] cpojer commented on #4502
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-09-18 08:50] #4502 closed

[2017-09-18 13:17] palmerj3 commented on #4401
Since this seems valid can it be reopened? @dignifiedquire

[2017-09-18 15:23] HipsterZipster commented on #3630
Reopening.
This is happening to me as well on Windows 7 with `jest@21.1.0`, `--runInBand` resolves it but that makes it run significantly slower. There should be an actual solution to this.

[2017-09-18 17:47] shriyash commented on #4501
Did a bit of searching. This is the commit to blame: https://github.com/facebook/jest/commit/f063f9f09bd9f0dabd66c97ac1370e7e712af1e7

It removed everything on that page and replaced that with "undefined".

[2017-09-18 19:02] aaronabramov commented on #4471
@palmerj3 what is your usecase?
this is not really possible in Jest because we run every test file in a separate process, and reporting each `test()` or `it()` means that we'll have to send a lot of data between two processes, which will introduce a lot of overhead

[2017-09-18 19:42] palmerj3 commented on #4471
@aaronabramov my main use case is to introduce some VCR tech into a testing suite and I want to be able to isolate VCR files per test.

I'm able to do this with jasmine reporters but I get the feeling that jasmine reporters isn't the way to go since you've forked jasmine and created your own reporter API. I would worry about the long-term sustainability of that approach if I were to base my soluti

[2017-09-18 19:48] aaronabramov commented on #4471
@palmerj3 VCR you mean recording and replaying network requests?
it seems similar to what snapshots do and yeah, in this case it should probably live inside the worker/test code and it looks more like "hooks" rather than reporters.

we always had and will probably have two reporting mechanisms.
1. Everything that happens within the test file (jasmine right now)
2. Everything that happens outside t

[2017-09-18 19:51] aaronabramov commented on #4471
@palmerj3 i'm pretty sure that is what you want https://github.com/facebook/jest/blob/master/packages/jest-circus/src/event_handler.js#L20-L81
with ability to extend it same way we did for snapshots https://github.com/facebook/jest/blob/master/packages/jest-circus/src/legacy_code_todo_rewrite/jest_adapter_init.js#L43

[2017-09-18 19:53] shriyash commented on #4501
Also submitted a pull request https://github.com/facebook/jest/pull/4503

[2017-09-18 20:35] palmerj3 commented on #4471
@aaronabramov yes! If you have any suggestions or if there is something I can do to help build these things I'm more than happy to put in the time.

[2017-09-18 20:35] haraldrudell commented on #4495
Sure. But where it’s at right now is to provide an executable that implicitly transpiles ECMAScript 2015.

This avoids the 2-second babel-node penalty that can only be solved by a module dependency implicitly invoking babel, in the case of **rollup** requiring no babel set-up at all.

Us do-what-Facebook-does minions rely on Facebook doing the right thing.

Contrary to the made build tool statemen

[2017-09-18 20:47] Xiphe commented on #4427
Thanks for caring @midzelis!

[2017-09-18 21:04] haraldrudell commented on #4495
I guess the transformer here ../../jest.transform.js can be a reference to an already transpiled package-module exporting the babel-jest transformer

[2017-09-18 21:14] haraldrudell commented on #4495
In fact, anything consuming ECMAScript that may be launched as an npm script should transpile using env node:current. It’s 2017

[2017-09-18 22:22] jordansexton commented on #652
@benjick Per https://facebook.github.io/jest/docs/en/troubleshooting.html#unresolved-promises

[code]

I do this in a setup file (https://facebook.github.io/jest/docs/en/configuration.html#setupfiles-array)

[2017-09-18 22:28] haraldrudell commented on #4495
One can do away with jest.transform.js by instead specifying babel.env.test in package.json. That configuration can be in the package.json of a parent directory.

[2017-09-18 22:43] nbransby commented on #3601
Im confused - why does the documentation (still!) contain an example that doesnt work (https://facebook.github.io/jest/docs/en/expect.html#rejects) and prusumedly never worked?

Also why not  solve it by having expect().toThrow() support promises? Then you could write:

` expect(Promise.rejects(new Error('Some error')).)toThrow('Some error');`

[2017-09-19 00:16] cpojer commented on #4495
I honestly have no idea what you are talking about. What's jest.transform.js? You can always hook in your own transformer into Jest.

[2017-09-19 00:19] ljharb commented on #1650
@aminroosta i'd love to see that PR; it'd be great to get it open and in a good state where we could advocate for jest to merge it!

[2017-09-19 00:21] #4458 closed

[2017-09-19 02:06] #4501 closed

[2017-09-19 11:08] jeffmomo opened #4508 "A watch mode that only tests files affected by change"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Jest watch runs **_all_** tests affected by uncommited changes.

**What is the expected behavior?**
When in `watch` mode, after all tests affected by uncommited changes have been run, every new change only re-runs tests affected by those changes.

Also retains display of failed tests from previous

[2017-09-19 12:48] cpojer commented on #4508
Currently we are not interested in keeping this kind of state in the watch mode. If you feel strongly, please feel free to add this feature to Jest and send a pull request to the repo :)

[2017-09-19 12:48] #4508 closed

[2017-09-19 13:41] eddyerburgh opened #4509 "mapCoverage true by default"
**feature request** - set `mapCoverage` to true by default

**What is the current behavior?**

`mapCoverage` is false by default

**What is the expected behavior?**

`mapCoverage` to be true by default

I maintain a jest-vue preprocessor.

A lot of users have problems with source maps. They don't realize you need to tell Jest to use source maps in the coverage reporter, so they think it's a proble

[2017-09-19 15:32] digitalmaster opened #4511 "Component .name (displayName) property missing for direct named exports in Jest"
**Do you want to request a *feature* or report a *bug*?**
*Reporting a bug*

**What is the current behavior?**
When running tests in Jest react components exported through direct named exports instead of declared named exports omit the inferred .name value from components. This causes snapshots to print `<Component />` instead of `<myCustomComponent />`;

**If the current behavior is a bug, please

[2017-09-19 16:39] maasencioh commented on #4470
same versions of npm, node and nvm with jest version `21.1.0` works, thank you @SimenB for the constructive answer.

PS: link to the working test
https://travis-ci.org/cheminfo-js/jcampconverter/jobs/277389474

[2017-09-19 16:39] Peeja opened #4513 "Feature: Display coverage problems without full coverage table"
Currently, running with coverage generates a full coverage table in the output. Since each file and each directory is a row in that table, the table quickly gets large, and pushes the test results off the screen, making it almost useless for `--watch` mode.

However, turning coverage off means getting no feedback at all about coverage.

It would be much more useful for Jest to track coverage but o

[2017-09-20 01:23] #4511 closed

[2017-09-20 01:26] digitalmaster commented on #4511
Nvm: looks like this was a babel issue only reproducible when `babel-present-env` was targeting `node` instead of browsers.

Setting this in `.babelrc` reproduces the issue
[code]

[2017-09-20 06:44] jarlah commented on #3869
fixes are piling up ;) but its a manageable atm.

package.json:
[code]
disableTextSummary.js:
[code]

reason i want to display text output is because its wrong. Its showing wrong coverage numbers, so its so annoying i just cant live with it.

[2017-09-20 09:46] denniske opened #4515 "StackTrace is cut when nesting matchers"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Minimal Repository:
https://github.com/denniske/jest-stacktrace-demo

[code]

`yarn test` will produce the following:

[code]

The error does not occur in greeter.test.js:25, but in greeter.test.js:27.

The problem is that I am using `expect` statements inside the callback of a custom matcher `toHave

[2017-09-20 09:54] cpojer commented on #4515
Feel free to send a PR including tests :)

[2017-09-20 10:15] denniske commented on #4515
I have just checked out the jest repository (master branch) and ran the tests without doing any changes to the code yet. There are already errors. Should I create my branch from a different branch?

[code]

[2017-09-20 10:42] denniske commented on #4515
It's okay. I can just leave out `yarn run typecheck` then I can run the tests.

[2017-09-20 12:12] denniske commented on #4515
Created pull request with tests. Can somebody review?

[2017-09-20 12:20] #4515 closed

[2017-09-20 14:20] kachkaev commented on #4248
Also facing this in node 8.5. Object rest/spread operations are now supported natively, even without `--harmony` flag. Inspired by these awesome news, I switched a few `Object.assign(...)` cases to `{a, b, c, ...rest}` and enjoyed the node scripts working. However, jest failed to run all the new code, e.g.:

[code]
When something like this is a part of a test, that test fails; otherwise, coverage

[2017-09-20 14:22] hugogrochau opened #4518 "Pending timers from previous tests affect future tests with jest.runAllTimers"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Errors in `setTimeout` callbacks in previous tests break subsequent tests when using `jest.runAllTimers`.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn insta

[2017-09-20 14:33] SimenB commented on #4248
Just read the comments in this issue. In particular https://github.com/facebook/jest/issues/4248#issuecomment-329472472

Jest includes babel, so you just need to add the .babelrc with a single plugin.

[2017-09-20 14:36] p4bloch commented on #4248
Would be interesting to know how much is babel baked into jest core. Could we add an option to make it bypass it and use node directly? Or there are core features that depend on babel?

[2017-09-20 14:40] SimenB commented on #4248
Mocking dependencies requires hoisting `require`s which depends on babel

[2017-09-20 14:41] kachkaev commented on #4248
Thanks for your comment @SimenB. I was able to overcome the issue by creating the `.babelrc` file the content that @potz [suggests](https://github.com/facebook/jest/issues/4248#issuecomment-329472472). This is quite confusing though: a project that uses node runtime without babel does need babel to run tests in the same (?) runtime – the situation is counter-intuitive. It'd be great to be able to

[2017-09-20 14:55] p4bloch commented on #4248
Thanks @SimenB for pushing that PR. That will allow us to remove the `.babelrc` file and avoid confusions in babel free projects.

[2017-09-20 15:08] potz commented on #4248
@kachkaev is not that they are special, is just that they are not understood by Babel. Jest complains before even sending the code to node runtime, because it thinks that's a syntax error. Poor node runtime doesn't even have a chance to run the code, even though it understands the object spread natively.

The conversation goes like:
Node: - "hey Babel, you can send me this code, I can run this thi

[2017-09-20 19:15] haraldrudell commented on #4495
It doesn’t matter

If an application is intended to be launched as an npm script and that application consumes ECMAScript from the project, the consumed ECMAScript should be transpiled using Babel’s env preset.

Jest, in this case, does not do that.

[2017-09-20 20:08] buz-zard commented on #1590
Had issues with v7.3.0, but upgraded to v8.5.0 and console outputs are visible again.

[2017-09-20 22:31] jwbay commented on #4513
You can use a different coverage reporter. https://facebook.github.io/jest/docs/en/configuration.html#coveragereporters-array-string

[2017-09-21 01:01] #4248 closed

[2017-09-21 03:23] eddiemoore opened #4521 "Disable coverageThreshold from cli"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Nothing exists as far as I can tell

**What is the expected behavior?**
To disable coverageThreshold:
[code]
Kind of like disabling the collectCoverageFrom
[code]
Wanting to do this so when we run `jest --watch` it wont come up with errors saying it can't find the coverage for the files that are me

[2017-09-21 06:00] eddiemoore commented on #4521
I was able to get around this by creating a jest watch config file that uses the base jest config and just omits `collectCoverageFrom`, `coveragePathIgnorePatterns`, `coverageThreshold`

[2017-09-21 06:02] eddiemoore commented on #4521
But think might still be handy to be able to configure at least the global threshold via a `--coverageThreshold` flag

[2017-09-21 12:20] ZacharyRSmith commented on #1965
[code]

[2017-09-21 12:25] ismay commented on #4431
I found upgrading to jest 21 a bit painful as well because of this, but I completely understand the constraints of this being an open source project.

I think that would be great, and personally as a user I found this a nice accessible format for finding what you're looking for in a changelog: http://keepachangelog.com/en/1.0.0/. Not sure how well something like that could be automated though.

[2017-09-21 15:30] cristiango commented on #4444
We basically run into the same issue with our tests. One easy way to reproduce was to remove jest `cacheDirectory` to force cache generation on the next run.
[code]

[2017-09-21 17:37] xild commented on #3853
The same problem here.

[code]

[code]

![screen shot 2017-09-21 at 14 34 32](https://user-images.githubusercontent.com/1268884/30709961-5ab5566e-9eda-11e7-97f6-182824668cbc.png)

[2017-09-21 18:41] mts commented on #4448
@rogeliog Do I still need to create a jest bug example like @truckingsim asked for or is it not necessary at this point ?

[2017-09-21 19:03] mts opened #4523 "`yarn test` script outputs errors"
Hi folks,

Actively using Jest in several projects, I have forked Jest with the intention to contribute and have followed these two documents being new to contributing to such tool.

[fork-a-repo](https://help.github.com/articles/fork-a-repo/)
[syncing-a-fork](https://help.github.com/articles/syncing-a-fork/)

All went well with those.

Next I was following the steps in this document to get all up

[2017-09-22 05:45] tipng commented on #3603
This has happened to me as well. Can we reopen this @thymikee?

[2017-09-22 05:53] thymikee commented on #3603
Not without a repro.

[2017-09-22 05:53] #3603 closed

[2017-09-22 06:47] JakeGinnivan commented on #3530
Something which would be very handy is if the cleanup functionality for snapshots was extendable. I am looking into this right now.

https://github.com/facebook/jest/blob/9c429cd15d639ab42cfe0a9fa7032095af3b675f/packages/jest-cli/src/test_scheduler.js#L122

If we could start making `snapshotState` a little bit more generic and somehow add a cleanup hook in a matcher that would be sweet.

[2017-09-22 09:03] troch commented on #2684
We faced the same issue when migrating from mocha / chai / sinon to jest This is a feature of sinon we use for testing an API call scheduler (which relies on Date.now()). So added `lolex` to the mix.

[2017-09-22 09:28] cpojer commented on #3530
@JakeGinnivan what are you thinking of changing? Happy to receive PRs into this direction.

[2017-09-22 10:58] ZacharyRSmith commented on #1965
Also, [jasmine-custom-message](https://github.com/avrelian/jasmine-custom-message) looks similar to what's requested:

[code]

[2017-09-22 11:45] cpojer commented on #4523
Welcome, glad to have you on board! Not sure why they show up for you, but you can ignore them. To change Jest and run changes, try `yarn jest` :)

[2017-09-22 11:45] #4523 closed

[2017-09-22 11:55] mts commented on #4523
Thank you 👍  Have a nice weekend 🙂

[2017-09-22 20:10] rochapablo commented on #2081
Doesn't matter what I do, it's always the same error:

[code]

[code]

[code]

[2017-09-22 20:17] rochapablo commented on #3332
It never came to a conclusion, it always have a new error. =/

[code]

[2017-09-22 21:26] awei01 opened #4524 "Potential issue with Jest with moduleNameMapper"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

* Configure `moduleNameMapper` to map a certain character as an alias (in my case I used `@`)
* Run `jest` with `--watch` flag,
* Accidentally `import` the wrong file by forgetting the `/` in `@/myModule`, i.e. `@myModule`
* Jest in client will hang at `Determining test suites to run...` until you

[2017-09-22 21:28] awei01 commented on #4524
Obviously, this is user error, but the accidental omission of '/' caused a serious headache. If this isn't a bug, at least this issue could be referred to help anyone else in similar situation.

[2017-09-22 22:02] jkdowdle opened #4525 "jest --watch broke?"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
With a new project created from create-react-app, yarn test would not run the test files but would throw the following error.

![image](https://user-images.githubusercontent.com/19804196/30765616-cb8983b4-9fad-11e7-874a-90199073719a.png)

**If the current behavior is a bug, please provide the steps to

[2017-09-22 22:34] connectdotz opened #4526 "jest --watch not working for monorepo"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

in the monorepo project, we configured jest.projects and it worked nicely with the plain `jest` command. but it didn't seem to work after adding the --watch or --watch=all.

with `--watch`, jest only run tests for the first sub-project.
with `--watch=all`, jest did run all tests from the sub-projects

[2017-09-23 07:26] suzuki11109 commented on #4524
I got this issue too in version 21. But in version 20, the error was displayed as expected.

[2017-09-23 18:06] kasperpeulen opened #4529 "`jest` commands hangs"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I just followed this guide: https://facebook.github.io/jest/docs/en/getting-started.html, but when I run jest, nothing happens, the terminal seem to hang/freeze.

![image](https://user-images.githubusercontent.com/1035299/30775723-a3f5014c-a099-11e7-9a1a-453588626e51.png)

**If the current behavior i

[2017-09-23 18:33] kasperpeulen commented on #4529
`brew upgrade watchman` fixed this for me

it seems like the reason it was hanging was because the command `watchman version` was hanging, and jest was executing that with execSync

[2017-09-23 20:12] granmoe commented on #1500
Another option (for anyone like me who stumbles upon this at some point in the future) is to use the babel-preset-env with the following config:

[code]

[2017-09-23 20:25] nharrisanalyst commented on #2441
sorry for this comment but is their a way to get Jest to console.log in real time instead of after a test has passed or failed. my test uses a while loop I was trying to get values logged while the loop is running?

[2017-09-23 20:53] thymikee commented on #2441
@nharrisanalyst use `--verbose` flag

[2017-09-23 21:54] nobleach opened #4530 "Jest ignoring .babelrc"
I want to report a potential bug.

Currently, when running Jest, I am getting an error: `SyntaxError: Unexpected token import`. With my v20.0.4 branch this works just fine. With v21.1.0 the error occurs.

My .babelrc has a test env:
[code]

It would appear there has been a regression.

I am running macOS Sierra, with yarn version 1.0.2. I can switch back and forth between jest versions and reprodu

[2017-09-23 22:01] nobleach commented on #4530
It does appear that installing babel-jest explicitly and adding the following to my `package.json` does allow this to work:
[code]

[2017-09-23 22:05] nobleach commented on #4530
I was incorrect, this now just yields:
`TypeError: $export is not a function`

[2017-09-23 22:06] nobleach commented on #4530
that last `transformIgnorePatters` array cannot be empty. Deleting the entire property allows the test suite to run correctly.

[2017-09-24 01:49] nharrisanalyst commented on #2441
thank you for the response but I use this flag and it only console.log() after a test has either passed or failed. so if my while loop gets stuck I can't debug it with console.log when testing becuase the test neither passes or fails it just gets stuck in a loop.

[2017-09-24 06:27] liesislukas commented on #2979
just got same error on

[code]

and function it tests is just joining some stuff

[code]

and getEnv is:

[code]

[2017-09-24 13:13] #4529 closed

[2017-09-24 13:13] #4530 closed

[2017-09-24 13:13] cpojer commented on #4530
This isn't a bug report and please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-09-24 13:19] nobleach commented on #4530
While I'll agree that I was being overly "post-happy" while working through this problem. The docs (getting started docs) do not mention anything about this. I highly doubt using babel to transpile imports is an edge/special case. Do you think this is something that can be added to the "Getting Started" docs? even as a side note? I don't mind submitting a PR, I just don't know the procedure for th

[2017-09-24 13:21] nobleach commented on #4530
Furthermore, version 20 handles this transparently. and version 21 does not. Is that not a legitimate regression? Or have I missed the docs that mention this deprecation? :)

[2017-09-24 20:25] alexgorbatchev commented on #1907
`ts-jest` README says to add `"mapCoverage": true` to jest config. This has fixed the mapping for me.

[2017-09-24 21:42] chicocode opened #4531 "Jest doesn't watch for changes within docker container"
**Do you want to request a *feature* or report a *bug*?**
**bug**

**What is the current behavior?**
Jest doesn't watch for changes in files from a docker container. In tools like nodemon or babel-watch we have legacy or pooling mode, that doesn't seems  to exist in jest cli.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.i

[2017-09-25 06:12] franciscop commented on #3457
@abritinthebay I am in exact that situation and this is the first result in Google, maybe this should be reopened?

[2017-09-25 06:50] ron-liu commented on #2059
I still got timeout for the following test. I am sure I installed version 21.1.0 and I also checked 21.0.2.
Did I miss anything ?

[code]
![image](https://user-images.githubusercontent.com/1534952/30795541-5b1ca028-a211-11e7-8eb6-2ba7928e56ff.png)

[2017-09-25 07:03] franciscop opened #4532 "Testing promise rejection error code"
First, I love jest and you guys have made a great work here. In Jest 21.0 `.toMatchObject()` changed the way it handles Errors. I used to do this in Jest 20-:

[code]

But now I have to pass the same full `Error` and cannot pass just a part of it. Some times errors are easy and can be built in the spot, but some times they might have more properties. An alternative would be to be able to access th

[2017-09-25 07:44] DavidKuennen commented on #4444
Having the same issue and can't find a way around it. Jest is basically unusable for us like this.

[2017-09-25 12:15] connectdotz commented on #4526
looks like there are a lot of watch related problems lately, maybe we should ask a more fundamental question: are `--watch` and `--watchAll` supposed to work in a monorepo project? If it was never intended to support watch feature for monorepo, then we should look for other approaches to tackle this problem...

[2017-09-25 12:36] kumarharsh commented on #3752
Isn't this fixed by https://github.com/facebook/jest/pull/4018?

[2017-09-25 14:30] sapegin commented on #4530
Looks like a have a similar issue: CI fails stopped on Node 4 with “SyntaxError: Unexpected token ...” after upgrade to Jest 21. Is it a breaking change? I don’t see anything in the change log (it’s very hard to read though).

[2017-09-25 16:45] sapegin commented on #4530
Sorry, I was wrong. Jest is fine, it was [undocumented breaking change](https://github.com/adriantoine/enzyme-to-json/issues/70) in enzyme-to-json.

[2017-09-25 17:44] abritinthebay commented on #3457
Certainly it should be thought about a bit more. My workaround was to add to the chain so that does the `typeof` part. eg:

[code]

it works, but it's not exactly clean.

[2017-09-25 18:15] JamieMason opened #4534 "jest-resolve seems unable to resolve when/node"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

[code]

Results in

[code]

**What is the expected behavior?**

`require('when/node')` should not error and should return the [when/node api](https://github.com/cujojs/when/blob/master/docs/api.md#nodelift) when run within `jest` (it works as expected in a regular node.js script).

[2017-09-25 18:22] JamieMason commented on #4534
A workaround is as follows;

[code]

[code]

[2017-09-25 20:10] Caspinol opened #4535 "Jest crashes when requiring Marko templates"
**Do you want to request a *feature* or report a *bug*?**
Bug.
**What is the current behavior?**
Jest is using node 'require()' call to fetch Marko templates.
**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**
https://github.com/Cas

[2017-09-25 20:14] cpojer commented on #4535
You'll need to build a custom transformer for Jest that deals with transforming your templates.
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2017-09-25 20:14] #4535 closed

[2017-09-25 20:28] Caspinol commented on #4535
Oki doki. Thanks for the pointer.

[2017-09-25 21:05] Caspinol commented on #4535
In case someone else gets lost in here:

[code]

And then in your package.json:

[code]

[2017-09-26 11:25] eddyerburgh commented on #4509
Could I get some feedback on this? I'm happy to create a PR if you want to make this change 😀. @thymikee @cpojer

[2017-09-26 11:34] thymikee commented on #4509
I'd rather ask @aaronabramov about that. Setting this to true by default could potentially make Jest slower for regular users.

[2017-09-26 15:08] philipp-spiess commented on #2965
I just came across this issue and found out that `jest.restoreAllMocks()` is now implemented. Might help someone in the future :)

For more information, see: https://github.com/facebook/jest/pull/4045

[2017-09-26 15:48] cblair commented on #797
I'm using `jest` `21.1.0` and this is still an issue:

[code]

[code]

[2017-09-26 16:19] kjbekkelund commented on #4401
This fails when using `jsdom`, but not when using the `node` env.

Using `node`:

[code]

Using `jsdom`:

[code]

Minimal reproduction: https://github.com/kjbekkelund/jest-timeout-issue-jsdom

[2017-09-26 16:23] kjbekkelund commented on #2059
Looks like ^ fails when using `jsdom`, but not when using the `node` env.

Using `node`:

[code]

Using `jsdom`:

[code]

Minimal repro: https://github.com/kjbekkelund/jest-timeout-issue-jsdom

[2017-09-26 17:01] cblair commented on #880
I'm also seeing issues with this for `jest` `21.1.0` and `babel-jest` `21.0.2`, the solution of `disableAutomock` and `unmock` have no effect:

*index.test.js*

    jest.disableAutomock();
    jest.unmock('@communityco/ui');
    import {Button} from 'ui';

*node_modules/ui/index.js*
    export {default as Icon} from './icons/components/icon';

`./node_modules/jest/bin/jest.js ./app/containers/qa/b

[2017-09-26 17:29] danielbayley commented on #4191
@nxmohamad Have you seen [_lint-staged_](https://benmccormick.org/2017/02/26/running-jest-tests-before-each-git-commit)
and #1672? This combination has been working really well for me.

[2017-09-26 18:16] blissdev opened #4537 "Upgrade jsdom to support datasets"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Errors when attempting to access a dataset on a DOM element.

[code]

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

https://rep

[2017-09-26 18:19] cpojer commented on #4537
We won't be upgrading jsdom within the next ~2 months because we haven't dropped support for node 4. In the meantime, you can fork `jest-environment-jsdom`, upgrade your version of jsdom there, and publish and use it as `jest-environment-jsdom11` or similar.

[2017-09-26 18:19] #4537 closed

[2017-09-26 18:20] blissdev commented on #4537
Thanks for the info.

[2017-09-26 19:05] rochapablo commented on #3202
@yangshun, it didn't work. These are my files before changed:

package.json

[code]

.babelrc

[code]

[code]

It was all working, but I decided to start use *ts* files and everything stop working.

[2017-09-26 19:09] yangshun commented on #3202
@rochapablo Did you tag the wrong person?

[2017-09-26 19:14] rochapablo commented on #3202
@yangshun, my bad!

Thanks.

[2017-09-26 20:31] ron-liu commented on #2059
@kjbekkelund yeah, thank you. `--env node` solved the issue, I did miss this.
Alos check the [jest official help](https://facebook.github.io/jest/docs/en/configuration.html#testenvironment-string) .

[2017-09-26 21:25] GiancarlosIO commented on #4448
Hi i'm getting the same bug with `"jest": "^21.1.0",` :(

[2017-09-26 22:49] dsifford opened #4538 "Option to disable coverage reporting on individual lines"
**Do you want to request a *feature* or report a *bug*?** Feature

Hi there. I did some searching and could not find exactly this in the history. If this issue exists somewhere already, please forgive me!

The gist of this request would be to add support for `// istanbul-ignore-next` statements (or something similar) to disable line coverage on certain lines.

Below is a very basic example of a ci

[2017-09-26 22:58] thymikee commented on #4538
Istanbul comments are respected, e.g. `/* istanbul ignore next line */`, `/* istanbul ignore next */`

[2017-09-26 22:58] #4538 closed

[2017-09-26 22:59] dsifford commented on #4538
Well, shoot! I'm using Typescript with `ts-jest` and they're not being respected. I'll open an issue there. Thanks for the clarification.

[2017-09-27 00:30] th3fallen opened #4539 "Automatically calling update() from before matching a snapshot?"
Would it be possible to roll a lib that automatically called enzymes `update()` before a snapshot? from what i see the assertion part that controls that is not extendable but would resolve a lot of the issues introduced with v3 regarding needing `update()` when dealing with `instance().somemethodthatupdatesstate()`

the root question i guess is there a way to extend the assertion library to add cu

[2017-09-27 04:10] calcazar commented on #2081
I'm having the same issue. I added the following to my jest

`  "jest": {
	"preset": "react-native",
	"transformIgnorePatterns": [
		"node_modules/(?!react-native|react-navigation)/"
	  ]
  }`

and now I get the following error from React-Navigation:

[2017-09-27 04:32] thinkOfaNumber commented on #2081
@calcazar what's in your node_modules/enzyme/.babelrc?

I solved it by using babel-jest _and_ ts-jest. In package.json:

    "jest": {
        "modulePaths": [
            "<rootDir>/src",
            "<rootDir>/node_modules"
        ],
        "globals": {
            "NODE_ENV": "test"
        },
        "verbose": true,
        "moduleFileExtensions": [
            "ts",
            "tsx",

[2017-09-27 05:22] cpojer commented on #4539
Hey! Thanks for the question, unfortunately I don't know enough about whether that makes sense or not for enzyme. Do you mind looping in some enzyme maintainers to discuss this?

[2017-09-27 05:42] AndersDJohnson opened #4541 "feat: invert promise assertion"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

Jest supports returning promises from `it`/`test` functions, and will succeed or fail the test if the returned promise resolves or rejects, respectively (https://facebook.github.io/jest/docs/en/tutorial-async.html), but it does not seem to have a maximally terse syntax for asserting on the invers