[2016-08-29 13:25] cpojer commented on #1474
Are inline sourcemaps supposed to work automatically when using node and when using the `vm` module? Because Jest uses `vm` to run tests.

All of this code is in packages/jest-runtime – transform.js creates `vm.Script` instances.

If you are willing to help out, please join our discord channel (see https://facebook.github.io/jest/support.html ) – I'm usually there and happy to help. Creating `type

[2016-08-29 13:34] #1468 closed

[2016-08-29 13:50] franleplant commented on #1502
I actually have 😄
I'm kind of creating an open source library for React Form Validation (it's in early stages).
The code failling is here: https://github.com/franleplant/reform/blob/master/src/validators/date.js

The repo is https://github.com/franleplant/reform
There's also a travis build so you can see the failure without cloning the code.

The catch here is that Im using `create-react-app` 3.0.

[2016-08-29 13:56] leeching commented on #659
@sibelius It seems that `Relay.RootContainer` component is not testable very well. So I do not test it finally.

[2016-08-29 15:00] cpojer commented on #659
cc @yuzhi do you know how to test a Relay.RootContainer properly in a test? :)

[2016-08-29 17:16] bartonhammond opened #1504 "ReactNative@0.32.0 & Jest@14.0.0 @providesModule declaration with the same name across two different files"
After upgrading to RN@0.32.0 & Jest@14.0.0, when I run `react-native start` I get error message

  Duplicate module name: String.prototype.es6
  Paths: /Users/barton/projects/snowflakework/snowflake/node_modules/react-native/packager/react-packager/src/Resolver/polyfills/String.prototype.es6.js collides with /Users/barton/projects/snowflakework/snowflake/node_modules/jest-react-native/node_modules

[2016-08-29 17:17] cpojer commented on #1504
Can you install the latest version of jest and jest-react-native? This should be resolved.

[2016-08-29 17:17] cpojer commented on #1504
(you might also need to delete your node_modules folders).

[2016-08-29 17:35] bartonhammond commented on #1504
I updated the `package.json` for jest and jest-react-native to `14.1.0` and still get the same results:

[code]

[2016-08-29 17:35] bartonhammond commented on #1504
And yes, I first removed the `node_modules` before running `npm install`

[2016-08-29 17:36] cpojer commented on #1504
Please use the *latest* version of jest-react-native. I think that is 14.1.3 or something like that.

[2016-08-29 17:39] bartonhammond commented on #1504
According to the jest releases [https://github.com/facebook/jest/releases](https://github.com/facebook/jest/releases) it's `14.1.0`

I don't see a version in the `https://github.com/facebook/jest/blob/master/package.json` and so I only have the `releases`.

Where the heck do you find the real release?

[2016-08-29 17:40] cpojer commented on #1504
`npm info jest-react-native` says 14.1.3. Note that many packages in Jest are versioned slightly differently than "jest" itself.

[2016-08-29 17:51] bartonhammond commented on #1504
@cpojer Thanks - that did the trick.

When I upgrade, I usually create a script (shown below) to install all the packages w/o a version associated w/ them believing that the generated `package.json` dependencies would be updated w/ the correct latest version.

Now, it appears that was a bad idea and instead I will have to do `npm info xxx` and then parse the results to discover the real latest ver

[2016-08-29 17:51] #1504 closed

[2016-08-29 18:53] kulshekhar commented on #1474
Upon looking into this, I've discovered that node doesn't have any native support for sourcemaps. Without sourcemap support, creating `typescript-jest` would most likely be meaningless.

I've been trying to see if I can get https://github.com/evanw/node-source-map-support to work with the typescript preprocessor. If I can, I'll create `typescript-jest` using it and send a PR.

[2016-08-29 18:54] cpojer commented on #1474
Can typescript somehow retain lines, just like babel can?

[2016-08-29 18:56] kulshekhar commented on #1474
There's no such option in the typescript compiler

[2016-08-29 18:57] cpojer commented on #1474
ah that sucks :(

[2016-08-29 19:02] kgowru commented on #1460
Correct me if I'm wrong but I wanted to see if you can override react-native import with react-native-mocks linstead of singularly doing this in each test file

[code]

Regardless, with the above code I am seeing the following error:
[code]

Do you know why this is?

[2016-08-29 19:04] cpojer commented on #1460
When you are using the jest-react-native preset, this should work.

[2016-08-29 19:05] #1460 closed

[2016-08-29 19:31] cpojer commented on #1492
Fixed in #1505.

Thanks for the report. We'll make a new release this week.

[2016-08-29 19:31] #1492 closed

[2016-08-29 20:26] sibelius opened #1506 "How to test a component that returns null?"
I have a component that return null if it receive some props

[code]

How can I do a snapshot test with this in mind?

[2016-08-29 20:27] cpojer commented on #1506
Update to react 15.3.1, this should be fixed.

[2016-08-29 20:27] #1506 closed

[2016-08-29 21:00] cpojer commented on #1497
This should work fine in the next version of Jest that we'll release this week.

[2016-08-29 21:00] #1497 closed

[2016-08-29 21:00] cpojer commented on #1412
Fixed in #1508. We'll publish a new version of Jest this week.

[2016-08-29 21:00] #1412 closed

[2016-08-29 21:27] w0nche0l opened #1509 "Circular References in React Native"
I'm not sure if this is intended behavior that I should post on StackOverflow to find a workaround, or a bug in the very new react native test renderer.

I'm seeing a very strange behavior from my current jest mocks for ListView and RefreshControl. Within the snapshot test, the ~~wrapping component (which is RandomView in the example I wrote below)~~ ListView is rendered multiple times from the Re

[2016-08-29 21:31] cpojer commented on #1509
I'm not sure I follow, RandomView is only rendered once?

[2016-08-29 21:55] dmitriiabramov commented on #1494
hey @alansouzati
to understand what exactly is going on with this file what we can do is
add a line right before this line `https://github.com/facebook/jest/blob/master/packages/jest-runtime/src/transform.js#L328`

with something like
`filename.match('AccordionPanel') && console.log(wrappedResult);`

then run `jest --coverage --no-cache` and see the final source of this file with all instrumentati

[2016-08-29 22:00] w0nche0l commented on #1509
Sorry, I wasn't super clear as to where the error occurs.
So if you look at line 3, 84, 112, 156, 185, 228, they all seem to be the same component with the same props (children, dataSource, enableEmptySections). So I suppose it is that the ListView is getting rendered multiple times.

[2016-08-29 22:02] alansouzati commented on #1494
trying that now

[2016-08-29 22:03] cpojer commented on #1509
I see. Yeah, we need to stop trying to render React elements.

cc @gaearon – we talked about this before but then I got a bit confused about what exactly to do in the pretty formatter.

[2016-08-29 22:07] alansouzati commented on #1494
[code]

[2016-08-29 22:08] alansouzati commented on #1494
unfortunately im not familiar with instanbul to inspect it myself

[2016-08-29 22:13] dmitriiabramov commented on #1425
that should be fixed by https://github.com/facebook/jest/pull/1482

[2016-08-29 23:08] cpojer commented on #1502
It's because on line 53 of `src/validators/min.js` you call `Date.pare` instead of `Date.parse`.

[2016-08-29 23:15] franleplant commented on #1502
Hi! Thanks for your help. I did made that change and it was indeed a bug from my side, but the problem is not solved. If you look at the test output you will see something like this:

[code]

That's produced by https://github.com/franleplant/reform/blob/master/src/validators/date.js#L3-L4
and indicates that `Date` object is for some reason `undefined`.

Bonus tip: `window` also is `undefined`.

Mi

[2016-08-29 23:19] cpojer commented on #1502
yes, window is undefined in the current version of Jest's create-react-app config (we may change this before officially releasing this version and use jsdom, though). Date is definitely there, though, so you must have another issue somewhere. Do you do something like `delete global.Date` or something?

[2016-08-29 23:25] franleplant commented on #1502
Nope, never would do that.

I've tried this:
[code]

`global` is defined but `global.Date` is not

This is the last part of the huge Global object log:

[code]

Any ideas what could be messing around with that prop? I should be able to mock it though right?

Thanks a lot!

[2016-08-29 23:33] dmitriiabramov commented on #1494
hey @cpojer
what i think is happening is
1. There is a transformer for ES6 classes to ES5 functions
2. We add `/* istanbul ignore next */` to nodes added by babel
3. the whole class definition gets ignored because of the added statement

i'm not even sure how to approach thing bug. can we configure which transforms can add `/* istanbul ignore next */`?

[2016-08-29 23:34] cpojer commented on #1494
babel-jest adds this but I don't think we can customize it.

[2016-08-29 23:38] dmitriiabramov commented on #1494
@alansouzati what is in your babelrc file?
we can try disabling `babel-plugin-transform-es2015-classes` plugin and see if it works

[2016-08-29 23:39] alansouzati commented on #1494
can you try this in your end?

[code]

For the simple fact that I added `var hi = "hi";` in between, the coverage stopped looking inside the class definition.

[2016-08-29 23:40] alansouzati commented on #1494
Im actually going to push the project I've created that reproduces the issue

[2016-08-29 23:46] alansouzati commented on #1494
https://github.com/alansouzati/jest-coverage-test

just run jest and check the coverage reports, I'm hoping you will be able to reproduce it

[2016-08-29 23:52] cpojer commented on #1502
It seems to me like sinon is doing this. When I remove sinon from the tests it will provide Date just fine.

[2016-08-29 23:58] gaearon commented on #1509
The problem is that `pretty-format` treats `children` prop specially and [assumes that only `children` would be elements](https://github.com/thejameskyle/pretty-format/blob/a0c81c42ba2d62e61a5eecbc39c6f5cb475df67d/plugins/ReactTestComponent.js#L8). In reality any prop could contain elements, or objects/arrays containing elements.

The proper way to check if something is an element is to verify it

[2016-08-30 00:00] gaearon commented on #1509
So, to be clear, this special handling for React elements should be [here](https://github.com/thejameskyle/pretty-format/blob/a0c81c42ba2d62e61a5eecbc39c6f5cb475df67d/index.js#L143). Any object could contain React elements. For example:

[code]

[2016-08-30 00:02] cpojer commented on #1509
But it shouldn't be `<BlueMessage />`, right? It should render as something like `[react.element BlueMessage]` or some other representation, no?

[2016-08-30 00:03] gaearon commented on #1509
It should be `<BlueMessage />`.

`<BlueMessage />` is equivalent to `React.createElement(BlueMessage)` and equivalent to `{ type: BlueMessage, $$typeof: Symbol('react.element'), props: {} }`.

[2016-08-30 00:07] cpojer commented on #1509
I started implementing this in https://github.com/thejameskyle/pretty-format/pull/28 and it got confusing pretty quickly because I was suddenly dealing with elements, instances and test renderer instances and I ended up printing quite deeply and it wasn't really useful.

[2016-08-30 00:11] gaearon commented on #1509
I don't quite understand what you were trying to do in that PR. I think maybe you got confused over some part of it. I can implement this tomorrow if you'd like.

[2016-08-30 00:13] gaearon commented on #1509
I do not mean that you need to iterate over props and find "hidden children" or something like this. I mean that you need to yank out the logic for printing JSX into the generic `printObject` and then you shouldn't have this problem at all.

If not I would appreciate a test case showing the problem so I can work against it.

[2016-08-30 00:16] cpojer commented on #1509
I was simply trying to print React elements using the existing react test renderer plugin – including props and its children. Note that we don't need to change pretty-format itself but only the React plugin. Plugins in pretty-format come with a test function and every object gets tested for a match. If you patch the diff you'll find that it doesn't quite work as intended, I think the problem was n

[2016-08-30 00:16] #1509 closed

[2016-08-30 00:31] cpojer commented on #1448
@dmitriiabramov would you mind cloning the master branch in this repo and running `jest --coverage` and investigating a bit?

[2016-08-30 00:40] gaearon commented on #1509
I think it comes down to what you want to capture in the snapshot.

With DOM, we just capture the result DOM tree. So it should be relatively safe to completely throw away any elements (or replace them with some dummy placeholder) because by this point React won't interpret them anyway (and will warn you about extra meaningless props). In the future however we might allow some props on DOM to acce

[2016-08-30 01:06] franleplant commented on #1502
Thanks a bunch, will work on that and I will report back just for the sake of documenting this problem

[2016-08-30 01:14] franleplant commented on #1502
Confirmed: *Sinon* is causing this, dont know why yet

[2016-08-30 04:24] jseminck commented on #1425
Thanks. I'll try to test it today. I ended up throwing the preprocessor away in favour of another method. :)

[2016-08-30 11:26] cpojer commented on #1284
Fixed in #1515 for Jest 15.

[2016-08-30 11:26] #1284 closed

[2016-08-30 11:26] cpojer commented on #979
Fixed in #1515 and Jest 15 (released sometime this week).

[2016-08-30 11:26] #979 closed

[2016-08-30 14:02] cpojer commented on #1398
I'm adding new default mocks in Jest 15 this week: https://github.com/facebook/jest/pull/1516

[2016-08-30 14:02] #1398 closed

[2016-08-30 14:03] cpojer commented on #1384
Fixed in https://github.com/facebook/jest/pull/1516 for Jest 15.

[2016-08-30 14:03] #1384 closed

[2016-08-30 14:04] cpojer commented on #1338
This will be fixed in Jest 15 with https://github.com/facebook/jest/pull/1516

[2016-08-30 14:04] #1338 closed

[2016-08-30 14:04] cpojer commented on #1059
We are disabling automocking in Jest 15 and I think we aren't going to change React to adapt to this, so I'm closing this issue. Jest 15 will be released sometime this week :)

[2016-08-30 14:04] #1059 closed

[2016-08-30 14:05] #1459 closed

[2016-08-30 14:36] kulshekhar commented on #1474
Just in case there's someone else with this problem, I've created a repo with information about the setup that's working for me - https://github.com/kulshekhar/typescript-jest

[2016-08-30 22:22] Daniel15 opened #1520 "Feature request: Categories/tags for tests"
Other test frameworks allow test suites as well as tests themselves to be categorised using arbitrary strings. For example, see https://github.com/nunit/docs/wiki/Category-Attribute. These categories can then be used to specify particular types of tests you want to run (or tests you want to ignore).

Example use cases:
 - Tests that work on Linux but fail on Windows could have a `broken-on-windows

[2016-08-30 23:10] cpojer commented on #1520
How are we adding these categories?

[2016-08-30 23:15] Daniel15 commented on #1520
Not sure yet - This is just a rough idea, it needs to be fleshed out some more. In C# with NUnit or XUnit, you specify the categories as an attribute on the test:
[code]

One idea would be for `it` to return an object which would allow chaining syntax like:
[code]

I'm open to better ideas though!

[2016-08-30 23:22] dmitriiabramov commented on #1520
i remember we had it in ruby :)
https://engineering.sharethrough.com/blog/2013/08/10/greater-test-control-with-rspecs-tag-filters/
but that specific implementation was a mess.

maybe we can have an optional tag argument
[code]

i don't really want to overload jest functions though.

maybe even something like
[code]

[2016-08-30 23:43] Daniel15 commented on #1520
Good to know that Ruby supports it too! Most test frameworks I know of for other languages have some sort of tagging/categorising functionality, so I was surprised that it's missing from Jest :smile:

[2016-08-31 00:34] maximderbin opened #1523 "Unreadable diff if snapshot is a oneliner"
![a8cf01a45b](https://cloud.githubusercontent.com/assets/2700538/18111878/a7e4f11a-6ee8-11e6-95cf-9560bfe0a3fa.jpg)

[2016-08-31 00:37] maximderbin commented on #1523
@dmitriiabramov are you diff guy here? :D

[2016-08-31 00:52] cpojer commented on #1523
yeah this is definitely confusing. Can we make a hotfix here? The same is true for a one line vs multieline diff.

[2016-08-31 01:30] dmitriiabramov commented on #1523
yeah. we should probably disable oneline diffs at all.
eventually we should highlight the difference in characters on multiline diffs the same way github does it

[2016-08-31 01:30] alansouzati opened #1524 "Travis CI slow execution + array.includes is not a function"
https://travis-ci.org/grommet/grommet/builds/156392643#L1757

In my recent build for Grommet using Jest (:yay) I noticed the following console error:

[code]

Maybe we can replace includes by indexOf to avoid compatibility issues?

If you guys agree I can send a PR for that, otherwise what would be the recommended fix for this?

On a side note, I've noticed that my tests are taking a significantly

[2016-08-31 01:31] dmitriiabramov commented on #1523
it's in here https://github.com/facebook/jest/blob/master/packages/jest-diff/src/diffStrings.js#L37
@maximderbin do you want to hack on that?

[2016-08-31 02:01] dmitriiabramov commented on #1524
oh yeah. `includes` is not available everywhere. `indexOf` should be totally fine! :)

and travis is significantly slow yes. it is .really. slow :) especially if comparing to macbook pro

[2016-08-31 02:26] maximderbin commented on #1523
@dmitriiabramov I could look into it after all matchers done

[2016-08-31 04:31] Daniel15 commented on #1524
Are you using the free version of Travis, or the paid version? The free version is pretty resource-limited, so slowness is expected. The paid version has much more CPU power available.

Node v5 is EOL... v4 is the LTS release and v6 is the 'current' release.

[2016-08-31 05:41] alansouzati commented on #1524
Thanks for the heads up on v5, I will make sure to update it. I'm not worried about being slow, just wanted to make sure I was not doing anything wrong.

I'm going to work on the PR for the includes issues

[2016-08-31 11:58] cpojer commented on #1524
I'm fixing the includes issue.

[2016-08-31 11:58] #1524 closed

[2016-08-31 12:46] #1523 closed

[2016-08-31 12:47] cpojer commented on #226
Yeah the solution here is to use jest.mock. We are unlikely to extend manual mocks to have sub folders for now but I might revisit this decision in the future.

[2016-08-31 12:47] #226 closed

[2016-08-31 12:47] cpojer commented on #326
Yeah this is a really silly bug and I'm going to fix this soon.

[2016-08-31 13:11] gaearon opened #1528 "Defaults for moduleNameMapper"
Just throwing an idea out there.
I know Flow just did it so maybe Jest could do it too?

The suggestion is to treat resource files (images, fonts, etc) as exporting a string by default (dummy string is fine, filename is even better), and treat CSS as [identity](https://github.com/keyanzhang/identity-obj-proxy) by default.

I think this corresponds to most popular setups, and doesn't really hurt pe

[2016-08-31 13:39] cpojer commented on #1528
I'm not sure about overwriting them because the keys are regex values – would we apply the user specified values first and then apply the Jest defaults if they fall through? That way people won't be able to get rid of the defaults, though, just overwrite them.

[2016-08-31 13:59] cpojer commented on #1246
done in my big fixup diff.

[2016-08-31 13:59] #1246 closed

[2016-08-31 14:02] gaearon commented on #1528
What function does getting rid of defaults serve practically? I’m trying to imagine a scenario where this would be beneficial but can’t quite see it. If you want to disallow importing CSS, you normally do this at the bundler level—your code just wouldn’t compile.

[2016-08-31 15:05] difelice commented on #1477
Does `moduleNameMapper` resolve the testPathDirs?

My issue is with test files not modules, when I run `npm test` from my **rootDir**, any test inside the symbolic link are not found:

[code]

Adding the folder `<rootDir>/app_modules/shared/components/__tests__` in the `testPathDirs` works fine, maybe something like `testPathDirMapper`?

Thanks.

[2016-08-31 15:39] cpojer commented on #1477
I recommend trying to use jest@test which is gonna be the next release of Jest.

[2016-08-31 15:40] cpojer commented on #1528
I was thinking of running Jest inside of electron and rendering real apps inside of an iframe, including images and wanted to preserve option value :D

[2016-08-31 15:45] difelice commented on #1477
I'll try it, thank you so much.

[2016-08-31 18:03] yaycmyk commented on #1494
@cpojer is a fix for this in 15? I've been running into this too :(

[2016-08-31 18:31] cpojer commented on #1494
We are unsure what exactly is happening here, this issue might be in Jest 15 :(

[2016-08-31 18:54] aaronjensen commented on #1328
The new `u` feature in watch is awesome, thanks for that!

I think we still need an initial approval step for the first time a new snapshot is recorded. As it is, I have to open up the snapshot file manually to confirm that it looks ok. Of course, I can also confirm visually on the actual site or styleguide, but it'd be nice to have that step.

[2016-08-31 19:11] cpojer commented on #1328
@aaronjensen are you willing to work on an experiment/pull request for that? I agree it would be helpful as I need to look at this stuff manually too.

[2016-08-31 19:37] alansouzati commented on #1494
I have good news. The problem was happening because I was using `babel-jest@14.1.0` switching to `babel-jest@test` fixes the issue. I've updated jest-coverage-test to reflect the fix.

Thanks for being so responsive 🎉

[2016-08-31 19:37] #1494 closed

[2016-08-31 19:38] cpojer commented on #1494
Oh that's great to know. We actually just published Jest 15: facebook.github.io/jest/blog/2016/09/01/jest-15.html

[2016-08-31 19:40] alansouzati commented on #1494
🍻

[2016-08-31 20:11] yaycmyk opened #1532 "First test/coverage run is quite slow in 15.x"
26 suites and 291 tests total took almost a minute to run in coverage mode, compared to about 10 seconds for 14.x.

Using basically all defaults.

[2016-08-31 20:14] cpojer commented on #1532
This is gonna be really hard to troubleshoot without a repro :( . Coverage was completely rewritten and simply does more work now. Do you have a custom preprocessor or are you using babel-jest? Are you using `collectCoverageFrom`? Is there a performance difference when not using coverage in Jest 15 vs 14?

Is this the first test run or the second? The first one will have to compile every single fi

[2016-08-31 20:16] yaycmyk commented on #1532
Not using anything special other than:

[code]

Can confirm that subsequent runs are a lot faster... not great for CI though :/

[2016-08-31 20:18] cpojer commented on #1532
This probably means that the previous coverage feature was a huge mess and didn't work correctly.

[2016-08-31 20:19] yaycmyk commented on #1532
😂

Well I'm glad it's at least only a first-run issue. Feel free to close if you don't want to keep the issue open for tracking.

[2016-08-31 20:21] cpojer commented on #1532
I'm sorry for the slowdown. Coverage is inherently slow. Can you provide some sort of repro for us that shows this problem, maybe even with the Jest repo itself?

cc @dmitriiabramov in case he added some sleep calls.

[2016-08-31 20:23] yaycmyk commented on #1532
Truth! I'll see what I can do... the project I'm testing with is super proprietary.

[2016-08-31 20:45] gaearon opened #1534 "TypeError: Map#toJSON isn't generic"
Running

[code]

with 15.0 and `--env=jsdom`.

Getting this:

[code]

[2016-08-31 20:48] vjeux opened #1535 "toMatch with string input"
In jest 12, you could write

[code]

and it would turn the string into a RegExp automatically and match `' react-text: 2 '`.

In jest 15, it fails

[code]

The fix is to write

[code]

It would be nice to either restore the previous behavior or to have a good warning if you are passing a string instead of a regex object.

[2016-08-31 20:50] cpojer commented on #1534
yeah I just ran into this on www too.

cc @dmitriiabramov can we fix this?

[2016-08-31 20:59] gaearon opened #1536 "`collectCoverageOnlyFrom` documentation is not clear"
<img width="845" alt="screen shot 2016-08-31 at 21 56 51" src="https://cloud.githubusercontent.com/assets/810438/18146095/d986c7e2-6fc5-11e6-9b0a-f9924a52e3b3.png">

Why is this an *object* representing *a set of files*? What is the format of this object? Why is it not an array? What are types of its keys and values? Does it have to include “files” as the docs say, or can those be folders too? Wou

[2016-08-31 21:00] aaronjensen opened #1537 "TypeError: content.match is not a function"
If I import include [testdouble](https://github.com/testdouble/testdouble.js) into a test, I get:

[code]

[2016-08-31 21:01] cpojer commented on #1537
Can you provide a repository with a repro that we can npm install?

[2016-08-31 21:06] cpojer commented on #1536
Oh yeah, you are right, this isn't great. Would you mind sending a PR with an update?

See https://github.com/facebook/jest/blob/master/package.json#L47 for an example. It's also mentioned here: http://facebook.github.io/jest/blog/2016/09/01/jest-15.html#rewritten-code-coverage-support

[2016-08-31 21:07] dmitriiabramov commented on #1532
it might be generating coverage for unstested files that is taking so long. It has to run through all files in the project (probably including `node_modules`) and match them against a regex to understand if report is needed for the file or not

[2016-08-31 21:07] gaearon commented on #1536
Is `OnlyFrom` removed completely?

[2016-08-31 21:08] dmitriiabramov commented on #1532
but if subsequent runs are much faster then it's probably preprocessing + writing cache :)

[2016-08-31 21:10] cpojer commented on #1536
Oh wait, no, sorry. I mixed it up. `collectCoverageFrom` is used to generate code coverage from all files, even untested ones.

`collectCoverageOnlyFrom` literally takes a list of files and only collects coverage for those.

The two options are mutually exclusive.

[2016-08-31 21:11] gaearon commented on #1536
Are their inputs arrays of globs in both cases?

[2016-08-31 21:13] cpojer commented on #1536
No, collectCoverageFrom is the only option that accepts globs currently (it is completely new). collectCoverageOnlyFrom literally only accepts direct, full paths, to files. It is used internally and an ugly leftover of darker times.

[2016-08-31 21:17] aaronjensen commented on #1537
Hm, I wasn't able to reproduce the same issue, but I hit a different one with a minimal repro:

https://github.com/aaronjensen/jest-testdouble-repro

[code]

[code]

[2016-08-31 21:18] vvo commented on #1528
My two cents, we had to workaroud this manually in some places:
- https://github.com/algolia/places/blob/eebb83094cc1450afcfa5cff307a7fcd06022542/src/places.test.js#L3-L4
- https://github.com/algolia/places/blob/eebb83094cc1450afcfa5cff307a7fcd06022542/test/fileMock.js

If this was the default this would be a lot easier in most situations, at least for us.

[2016-08-31 21:19] cpojer commented on #1537
Does it work when you use jsdom? If this is an older version of lodash it is known to be buggy in the node env.

[2016-08-31 21:26] dmitriiabramov commented on #1534
yeah. i'ts a bug in the stringify/prettyprint function. i'll try to get a diff soon

[2016-08-31 21:27] aaronjensen commented on #1537
It's 3.10.0, and yes the jsdom env works on the repro project but not on my project. I'll try and add more of my stuff to the repro to get this exact error

[2016-08-31 21:42] aaronjensen commented on #1537
Ok @cpojer repro updated for the original error I saw

[2016-08-31 21:43] aaronjensen commented on #1328
@cpojer I can't commit to that just yet, I've got a couple other OSS to dos at the moment. Maybe in a few weeks.

[2016-08-31 22:06] BohdanHulchack opened #1540 "Jest and React Native. Preventing imports in tested component."
I try to set tests on React Native project. And run into a problem.
When I try to test component, on the rendering step (shallow render or renderer.create), I facing problem, when tested module imports several other modules, they importing several and so on, finally got error in some lib in node_modules.

Question is: **Can I somehow prevent importing modules inside tested component?**

Actual com

[2016-08-31 22:09] cpojer commented on #1540
See http://facebook.github.io/jest/docs/tutorial-react-native.html#preprocessorignorepatterns-customization

you need to whitelist async-es to be transformed in react-native.

[2016-08-31 22:09] #1540 closed

[2016-08-31 22:13] vjeux commented on #1535
There's a ton of callsites inside of jest that use toMatch with a string, so it's probably going to break a ton of code to make any change. https://github.com/facebook/jest/search?utf8=%E2%9C%93&q=toMatch

[2016-08-31 22:15] cpojer commented on #1535
This was an intentional change. You either want to match against a regex or an exact string. On www this only failed one out of thousands of tests, so I don't think this is a big deal tbh.

[2016-08-31 22:17] #1535 closed

[2016-08-31 22:21] BohdanHulchack commented on #1540
@cpojer Thank you, it helped.

[2016-08-31 22:29] ide opened #1542 "Feature request: accept async functions in beforeEach/afterEach"
I'm using Aphrodite with React and Aphrodite asynchronously runs `document.querySelector("style[data-aphrodite]")` (scheduled with asap, so it uses process.nextTick). Jest seems to clean up the jsdom environment after each test so this results in an error because the tick callback runs after `document` has been set to undefined.

So what I want to do is this:

[code]

That way each test flushes al

[2016-08-31 22:31] cpojer commented on #1542
duplicate of #1256.

This should be easy to implement: just overwrite beforeEach/afterEach the same way we overwrite `it` with `jasmine-pit`.

[2016-08-31 22:31] #1542 closed

[2016-08-31 22:31] cpojer commented on #1542
please send a PR ;)

[2016-08-31 22:33] ide commented on #1542
I'll venmo/messenger 5 bucks to whomever does a good job :)

In the meantime I'm using fake timers and
[code]

[2016-08-31 22:34] cpojer commented on #1542
afterEach already accepts `done` for async work, no?

[2016-08-31 22:48] gaearon opened #1544 "toThrow() and toThrowError() should include the stack when unexpected error gets thrown"
Jest 15.

`App.js`

[code]

`App.spec.js`

[code]

I see:

<img width="693" alt="screen shot 2016-08-31 at 23 42 37" src="https://cloud.githubusercontent.com/assets/810438/18148979/1eb2d9d2-6fd5-11e6-8b90-75f40602d392.png">

The error was thrown in the user code but Jest removed the stack traces because it probably thought we’re inside the matcher internals. However, in this case, I actually want

[2016-08-31 23:02] gaearon commented on #1544
Same problem with `toThrowError()`: stack of expectation is there, but stack of error itself is missing.

<img width="734" alt="screen shot 2016-09-01 at 00 00 11" src="https://cloud.githubusercontent.com/assets/810438/18149259/141cb306-6fd7-11e6-930f-bd0494725ed7.png">

I think throw matchers should print underlying error stack as well if it is unexpected.

[2016-09-01 00:49] gaearon opened #1548 "Separate API Reference and Configuration in docs"
API reference should explain runtime environment, Configuration should explain CLI and config options. Right now they’re mixed together on “API Reference” which feels confusing and not very discoverable.

cc @lacker

[2016-09-01 00:50] cpojer commented on #1548
I'm really in favor of rewriting the entire website with new, focused, documentation.

[2016-09-01 00:57] #1544 closed

[2016-09-01 03:00] cpojer commented on #1311
Is this issue still present on Jest 15?

[2016-09-01 03:01] cpojer commented on #1331
I'm gonna close this as wontfix. Jest 15 ships with automocking disabled by default: facebook.github.io/jest/blog/2016/09/01/jest-15.html

[2016-09-01 03:01] #1331 closed

[2016-09-01 03:01] cpojer commented on #1358
Fixed in Jest 15: facebook.github.io/jest/blog/2016/09/01/jest-15.html :)

[2016-09-01 03:01] #1358 closed

[2016-09-01 03:02] cpojer commented on #1204
I suspect this is fixed in Jest 15 because of the new defaults. See facebook.github.io/jest/blog/2016/09/01/jest-15.html

Let me know if this still persists and we can reopen and troubleshoot.

[2016-09-01 03:02] #1204 closed

[2016-09-01 03:03] cpojer commented on #1117
I'm gonna assume this is not a problem with Jest 15 any more where automocking is disabled by default? See facebook.github.io/jest/blog/2016/09/01/jest-15.html

[2016-09-01 08:35] dskgry opened #1551 "testPathDirs 0 matches on windows"
I just upgraded from jest 14.1.0 to jest 15.0.2 and now no tests are found anymore - the testPathDir never matches anything (I tried different variations). Output is:

No tests found
  41 files checked.
  testPathDirs: C:\Users\dskgry\app\src - 0 matches
  testRegex: __tests__/.*Test.js - 9 matches
  testPathIgnorePatterns: \\node_modules\\ - 41 matches

Debug file attached.

Thanks in advance
[je

[2016-09-01 08:45] #1311 closed

[2016-09-01 08:53] GrigoryPtashko commented on #1311
I think the issue can be closed. This behavior actually stays the same. But here's what I understood. The exception that I got about `require(...)` happens only when I return `null` from an integration test. I think the test finishes during the `Relay` is carrying out its part of work creating containers and making network requests. The test just finishes before `Relay` finishes its work.
Then I s

[2016-09-01 08:58] atkinchris commented on #1117
Updated the example to use Jest 15; the issue isn't present when auto-mocking is disabled (which seems obvious, as this is specifically related to mocks).

When auto-mocking is manually enabled, but the module is unmocked, the issue with transitive dependencies persists. @cpojer; what is the intended behaviour for Jest 15's auto-mocking, in handling transitive dependencies of unmocked modules?

[2016-09-01 09:03] GrigoryPtashko opened #1552 "Automocking disabled by default but Jest warns about unmocking a manual mock"
After upgrading to `Jest` 15 with all config options set to defaults it gives warning that I'm unmocking a manual mock.

I've got a manual mock for `Relay` in `___mocks__` and in the integration tests I want to use the real `Relay`. So I go with:

[code]

And get the warning which in my view must not be:
[code]

Here's my config
[code]

Am I misunderstanding something?

[2016-09-01 09:04] henrikbjorn commented on #1551
Same, it seems to only find my real module files, not the files in my `__tests__` directory.

[2016-09-01 09:10] ferrannp commented on #1552
In Jest 15, the option [automock](https://facebook.github.io/jest/docs/api.html#automock-boolean) is set to `false` by default. If you have a mock of Relay in `__mocks__`, it will only use that mock in the tests you call `jest.mock('react-relay')`. See the docs:

So, if I understood correctly, you can safely remove that line `jest.unmock('react-relay');` since it will already be unmocked.

[2016-09-01 09:11] GrigoryPtashko commented on #659
If someone is interested in integration testing of `Relay` containers (I mean with real network requests and response against a working `GraphQL` backend) - I've managed to do it. Here's a simple test that works for me:

[code]

One of the key moments here is returning a promise from the test. This way `Relay` can make query and render its component with received data.
Hope this helps someone.

[2016-09-01 09:14] GrigoryPtashko commented on #1552
No. When I remove `jest.unmock('react-relay');` I get the exception

[code]

Which means that `Jest` is actually using my manual mock.
Basically, this is **the** reason I created the issue.

[2016-09-01 09:54] sdgluck opened #1553 "TypeError: string.replace is not a function"
**Do you want to request a *feature* or report a *bug*?**

Bug; updating from `0.1.40` to `15.0.2`.

**What is the current behavior?**

Running `jest` gives me:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal repository on GitHub that we can `npm install` and `npm test`.**

Not sure what the problem is and therefore am not sure I could r

[2016-09-01 09:57] cpojer commented on #1553
Wait, are you really upgrading from 0.1.40 or do you mean 14.0?

[2016-09-01 09:59] sdgluck commented on #1553
@cpojer 0.1.40 :-)

[2016-09-01 10:01] cpojer commented on #1553
Woah! Can you create a minimal repro and put it up on GitHub? I'm going to fix some Windows issues in Jest today and could take a look then.

[2016-09-01 10:02] sdgluck commented on #1553
@cpojer Bit tight for time at the moment, but I will try. Would a minimal repro consist of just a no-op test with the config that I am using?

[2016-09-01 10:02] sdgluck commented on #1553
Oops, wrong button!

[2016-09-01 10:02] cpojer commented on #1553
yeah, as long as it shows the same issue on Windows and I can easily "npm install" and "npm test" it.

[2016-09-01 10:10] sdgluck commented on #1553
@cpojer Ok that was much quicker than I expected! [Here ya go.](https://github.com/sdgluck/jest-repro)

[2016-09-01 10:13] sdgluck commented on #1553
Aha! I found the problem. I was passing an array to the `testRegex` option. :disappointed:

Would a PR for checking the type of this option be desirable?

[2016-09-01 10:16] cpojer commented on #1553
Yeah, adding validation to this is definitely nice – appreciate any PRs you could send :)

Closing this issue because it isn't a bug.

[2016-09-01 10:16] #1553 closed

[2016-09-01 10:18] sdgluck commented on #1553
@cpojer Great, I'll see what I can cook up. Thanks for your swift responses!

[2016-09-01 10:18] cpojer commented on #1553
but.. they are JavaScript responses, not swift.

[2016-09-01 11:22] gaearon opened #1554 "Escape should exit “enter pattern” mode"
1. Run watch mode
2. Press "p"
3. Change your mind
4. Press "escape"
5. It doesn't work
6. Press "enter"
7. No tests found! (because "escape" was treated as a character somehow?)

Expected: escape should exit "enter pattern" mode.

[2016-09-01 11:24] gaearon opened #1555 "Backspace should work with “enter pattern” on Windows"
1. Press p in watcher mode
2. Type 2 characters
3. Backspace 5 times
4. Characters don't disappear...
5. but if you type now, you'll type over the pattern prompt!

Expected: backspace works normally and can't go beyond the prompt.

I can only reproduce this on Windows.

[2016-09-01 11:34] stipsan opened #1557 "How to mock just the React components from a module exporting many things"
**Do you want to request a *feature* or report a *bug*?**
Neither: *documentation*

**What is the current behavior?**
Mocking a module that exports just a react component is well documented (and quite pleasant):
[code]

[code]

**What is the expected behavior?**
That it's just as easy to mock components when you're using a library like redux-form (which exports multiple react components, and HOCs

[2016-09-01 12:14] cpojer commented on #1557
You can do `require.requireActual` to get the real module and create some mocks for it.

[code]

is that what you are looking for?

[2016-09-01 12:58] #1555 closed

[2016-09-01 12:59] stipsan commented on #1557
thanks @cpojer that's half of it.

The other half was a misconception.
In my example I did this:
`Field: () => 'Field',`
But I should've done this: `Field: 'Field',`

I can submit a PR with snapshots + mocks examples here: http://facebook.github.io/jest/docs/tutorial-react.html#content
If you guys thinks it makes sense.
I think it will help others like me who's migrating their testing suites to je

[2016-09-01 13:00] #1256 closed

[2016-09-01 13:58] bookman25 opened #1561 "Duplicate coverage on Windows"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
When running coverage and picking up untested files getting 2 entries for every file that is tested.  One with the test results and one that looks like an untested file.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal repository on GitHub that we c

[2016-09-01 14:05] patrickporto commented on #1551
Same

[2016-09-01 14:22] cpojer commented on #1551
Can someone provide a repository that I can install on windows to test this? Seems like 15 works on windows but you have a configuration that isn't quite compatible.

[2016-09-01 14:51] cpojer commented on #1485
I think this is a reasonable request. Do you want to send a pull request with tests for this? :) See the integration_tests folder on how to add tests to test jest.

[2016-09-01 14:56] cpojer commented on #1552
Can you explain what you are trying to do a bit better? The example code above, is that from your manual mock? If so, you shouldn't call `jest.unmock` there but rather `const Relay = require.requireActual('Relay')`.

[2016-09-01 14:56] cpojer commented on #1561
Thank you! Do you think you can send a pull request with a fix and a test? :)

[2016-09-01 15:15] #1429 closed

[2016-09-01 15:18] #1554 closed

[2016-09-01 15:18] GrigoryPtashko commented on #1552
No, it did not help. Look:

[code]

The output is

[code]

Here's what I am trying to achieve.

- My tests combine both unit tests and integration tests. In unit tests of my components there are `Relay` containers and thus I created the file `__mocks__/react-relay.js`:
[code]

So this way my components which have `Relay` containers can be tested good.

- At the same time some of the tests are the

[2016-09-01 15:20] cpojer commented on #1552
Can you create a repo with this so I can take a look? I'm not really sure why this is happening and can't give hints without the full setup.

[2016-09-01 15:30] GrigoryPtashko commented on #1552
@cpojer yes, sure. Here it is https://github.com/GrigoryPtashko/jest-relay-integration-test.

[2016-09-01 17:28] faisalil opened #1567 "'No tests found' when directory has a '-'"
I am using jest@15.1.0, when my directory that include my git repo has a '-', I see the following behavior:

No tests found
  74 files checked.
  testPathDirs: <DIRECTORY_PATH> - 0 matches
  testRegex: /__tests__/.*\.(ts|tsx|js)$ - 1 match
  testPathIgnorePatterns: \\node_modules\\ - 74 matches

if I rename the repo directory not to have a dash, this will work fine and I can see a test. I am assum

[2016-09-01 17:30] cpojer commented on #1567
Can you post your configuration?

[2016-09-01 17:31] ManuelDeLeon commented on #1551
Here's the repro: https://github.com/ManuelDeLeon/jest-issue-1551

It only has 2 files:

package.json
[code]

src\some.test.js
[code]

With v14:
[code]

With v15:
[code]

[2016-09-01 17:31] faisalil commented on #1567
"jest": {
    "scriptPreprocessor": "./preprocessor.js",
    "moduleFileExtensions": [
      "ts",
      "tsx",
      "js"
    ],
    "testRegex": "/__tests__/.*\\.(ts|tsx|js)$",
    "verbose": true,
    "collectCoverage": true
  }

[2016-09-01 17:47] bookman25 commented on #1561
I would have but I wasn't really sure how to fix this issue.  I found where one of the paths was built in jest-util but wasn't sure where the path for the coverageMaps was built.

[2016-09-01 18:26] audetpascale opened #1568 "[BUG] testPathDirs with 0 matches"
## Bug

### Version
Jest 15.1.0
Node v4.4.7
NPM 3.10.6
Windows 10

### Current behavior
Since the update to Jest 15, no more tests are found.

### Steps to reproduce
* Reproducible on any project with Jest.
* Add a dash in your path, e.g. `C:\idea\myproject` replaced to `C:\idea\my-project`
* Then execute `npm test`.

[code]

### Expected behavior
The tests are found.

### Debug mode
Here is the r

[2016-09-01 18:30] audetpascale commented on #1551
The dash is the testPathDirs is the issue here.

[2016-09-01 18:31] audetpascale commented on #1568
Duplicate: [1567](https://github.com/facebook/jest/issues/1567) [1551](https://github.com/facebook/jest/issues/1551)

Sorry about it.

[2016-09-01 18:32] audetpascale commented on #1567
Duplicate: [1568](https://github.com/facebook/jest/issues/1568) [1551](https://github.com/facebook/jest/issues/1551)

[2016-09-01 18:32] audetpascale commented on #1551
Duplicate: [1567](https://github.com/facebook/jest/issues/1567) [1568](https://github.com/facebook/jest/issues/1568)

Sorry about it.

[2016-09-01 19:06] Pomax opened #1569 "explicitly list the jest CLI invocation and runtime flags?"
Right now the `jest` CLI invocation and runtime flags are listed in a way that requires a lot of attentive scrolling through a lot of seemingly unrelated text to find what the command line utility actually allows in terms of functionality, so it would be quite valuable to at least also list the information that a `jest --help` yields in the README.md, so that users can see what the CLI tool will l

[2016-09-01 19:09] Pomax commented on #1567
for people finding this issue, would it be possible to close the duplicates, noting which issue they are a duplicate of, so that only the issue where actual work towards fixing it happens stays open?

[2016-09-01 19:50] #1567 closed

[2016-09-01 19:52] audetpascale commented on #1551
From my ticket...

## Bug

### Version
Jest 15.1.0
Node v4.4.7
NPM 3.10.6
Windows 10

### Current behavior
Since the update to Jest 15, no more tests are found.

### Steps to reproduce
* Reproducible on any project with Jest.
* Add a dash in your path, e.g. `C:\idea\myproject` replaced to `C:\idea\my-project`
* Then execute `npm test`.

[code]

### Expected behavior
The tests are found.

### Debug

[2016-09-01 19:52] #1568 closed

[2016-09-01 21:05] flarocca commented on #1551
Is it resolved? I'm facing the same problem...

[2016-09-01 21:14] emmby opened #1570 "ReactNative + Jest 15: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined"
After upgrading my react-native 0.30 app from Jest 14.1.0 to 15.1.0, I started getting the following error in most (but not all) of my tests:

    Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined.

      at invariant (node_modules/fbjs/lib/invariant.js:38:15)
      at instantiateReactComponen

[2016-09-01 23:09] skevy opened #1571 "`mkdirp` module does not respect `fs` manual mock"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When mocking `fs` and using `mkdirp` within your codebase, `mkdirp` doesn't use the `fs` mock.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal repository on GitHub that we can `npm install` and `npm test`.**

https://github.com/skevy/jest-mkdirp-is

[2016-09-01 23:09] skevy commented on #1571
cc @cpojer

[2016-09-01 23:41] emmby commented on #1570
The problem turned out to be our use of `babel-plugin-rewire`.  We disabled it for our jest tests (but kept it for our mocha tests) and now everything works.

[2016-09-01 23:41] #1570 closed

[2016-09-02 00:16] cpojer commented on #1551
Thanks for the repros. @Daniel15 is our resident windows expert. We are hoping to have a fix for this sometime tomorrow. Please be patient, it's a bit hard sometimes to keep up.

[2016-09-02 00:30] Daniel15 commented on #1551
I'll try to take a look at this tonight. All the known issues should have been resolved by #1463, I'll need to investigate further and determine what broke.

Unfortunately we don't have automated builds on Windows yet. Currently, several of Jest's unit tests are broken on Windows. We're aiming to fix all those issues and enable an AppVeyor build (#1465) to more easily catch Windows-specific regres

[2016-09-02 00:44] jbaxleyiii commented on #1569
I'll work on this this weekend 🎉

[2016-09-02 01:11] cpojer commented on #1552
Ah, this might be a real issue with Jest 15. Can you try, as a workaround, to call:

[code]

and let me know if that works?

[2016-09-02 03:44] Daniel15 commented on #1551
I think @cpojer is right that #1574 should fix this. So far I've only been able to replicate the issue for folder names containing hyphens.

[2016-09-02 04:17] Daniel15 opened #1575 "packages\jest-config\src\__tests__\normalize-test.js fails when output is redirected"
I was redirecting all test output to a text file to examine later, when I noticed this anomaly.

This works:
[code]

This fails:
[code]

Seems like it's including ANSI colour codes in the snapshot, which aren't included when redirecting the output. lols:
[code]

[2016-09-02 04:19] Daniel15 commented on #1575
Passing "--color" spits out "Unrecognized options: color" but it actually does "work" (in that the output includes the colour codes, which makes it match the snapshot)

[2016-09-02 05:21] kentcdodds opened #1576 "Is babel-jest necessary?"
I just recorded [this](https://www.youtube.com/watch?v=_3fKmwURi7g) to explain what my question is. Do I really need to install `babel-jest` to get things working with transpiling with babel?

[2016-09-02 05:47] GrigoryPtashko commented on #1552
No, that did not help.
Here's the output.

[code]

[2016-09-02 07:18] jamedranoa commented on #1576
In the mean time I think this could give you an idea until somebody working on the project answer your question: look this [change](https://github.com/facebook/jest/commit/ecb57957a242d2a25be50f5918fa869c28aa842d) specially this [line](https://github.com/facebook/jest/commit/ecb57957a242d2a25be50f5918fa869c28aa842d#diff-609953e09be8864a023491353bc778c0R265)  and currently what is on master [here](

[2016-09-02 07:29] ola-g86 commented on #817
@a-c-m I downloaded your project. After install jest@14.2.2-alpha.22bd3c33 or jest@test I have the message "NO TESTS FOUND". At now jest@test is jest@14.3.2-alpha.83c25417.

[2016-09-02 08:34] venkat-gan opened #1578 "Tests with .jsx extension won't run"
I have a test file named `test.spec.jsx` and testRegex as `.*`. When i run jest it won't run the `test.spec.jsx` test, if i rename the file to `test.spec.js` it ran the test. Please look at [this](https://github.com/venkat-gan/jestTest) sample repository. Please guide me if i did anything wrong.

[2016-09-02 08:40] jamedranoa commented on #1578
did you try changing this [config](http://facebook.github.io/jest/docs/api.html#testregex-string) ?

[2016-09-02 09:23] jamedranoa commented on #1578
try setting `"moduleFileExtensions": ["js", "jsx"]`

[2016-09-02 09:34] golfapipol opened #1579 "Cannot do Integration Test with ORM (Waterline)"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
It's cannot connect to Waterline in test case
- If I do like this, it will not found test cases

`orm.initialize(dbTestConfig, function(err, models) {
    describe('...', () => {...})
});`

- If I do like this, it will not return Promise

`

    const databaseConnect = () => {
        return new Promise(re

[2016-09-02 09:35] venkat-gan commented on #1578
@jamedranoa Thanks `moduleFileExtensions ` works. May i know what is `testRegex` ?  I understands that the `testRegex` will match the pattern of the file name and execute that.

[2016-09-02 10:03] DarioG commented on #202
Well, here you have a couple of options...

* You can try to inject window ( dependency injection) and then it is really easy to test, just inject a fake window object in your tests, or

* you could spy `spyOn(window, 'scrollTo')` ( not sure if it is like that with that test framework) and you just check that that method was called with the arguments 0, 0

[code]

I think the second way is good en

[2016-09-02 10:41] cpojer commented on #1578
http://facebook.github.io/jest/docs/api.html#testregex-string

[2016-09-02 10:41] #1578 closed

[2016-09-02 10:44] cpojer commented on #817
Try jest 15.

[2016-09-02 11:59] cpojer commented on #1551
Published 15.1.1 with a fix. Sorry for the wait!

[2016-09-02 12:21] cpojer commented on #1576
Jest automatically detects babel-jest if it is available and no other preprocessor is specified. This allows us to have a no-config configuration with a minimal hook inside of Jest itself.

With the new coverage support we are using istanbul's transforms via babel as well. There are a few states someone can be in:

* No preprocessor is used, babel-jest is used for coverage transforms with istanbul

[2016-09-02 12:21] #1576 closed

[2016-09-02 12:31] flarocca commented on #1551
Man, amazing job!!! It's working perfectly now.

1° Thor
2° God
3° @cpojer ;-)

Thanks for all!!!!

[2016-09-02 12:34] cpojer commented on #1551
Hey, I didn't do anything! All credit goes to @insin who troubleshooted it and sent a PR and @Daniel15 who helped verify.

[2016-09-02 12:34] #1551 closed

[2016-09-02 12:36] dskgry commented on #1551
Thanks. I love you so much that it hurts :)

[2016-09-02 12:52] kentcdodds commented on #1576
Awesome! Thanks. I can definitely explain that in the video. Thank you!

[2016-09-02 12:53] cpojer commented on #1579
I'm sorry this is not really actionable. Please provide a repository on github that we can install and test to repro and provide actionable feedback. Closing this issue until we have more info :)

[2016-09-02 12:53] #1579 closed

[2016-09-02 13:28] tonygentilcore opened #1581 "--watch doesn't work with npm after 15.x"
After upgrading from 14.1.0 to 15.0.0, `--watch=all` no longer watches when executed by npm. Issue persists in 15.1.1.

To be clear, this works as expected:
[code]

However, this just runs tests once and exits:
[code]

Relevant part of `package.json`:
[code]

Is there a new method of passing args through? Or did this regress?

[2016-09-02 13:31] cpojer commented on #1581
We changed it to `--watch` and `--watchAll`.

[2016-09-02 13:31] #1581 closed

[2016-09-02 13:31] cpojer commented on #1581
Also see https://facebook.github.io/jest/blog/2016/09/01/jest-15.html for all the new awesome improvements :)

[2016-09-02 13:37] bjacobel opened #1582 "API doc missing mockImplementationOnce documentation."
**Do you want to request a *feature* or report a *bug*?**

Doc feature

**What is the current behavior?**

[API reference docs](https://facebook.github.io/jest/docs/api.html#mock-functions) are missing docs for [`mockImplementationOnce`](https://facebook.github.io/jest/docs/mock-functions.html#mock-implementations)

**What is the expected behavior?**

API reference should have a heading `https://f

[2016-09-02 13:39] cpojer commented on #1582
Would you mind adding these in a PR? Thank you!

[2016-09-02 13:57] bjacobel commented on #1582
Sure. Opened PR https://github.com/facebook/jest/pull/1583

[2016-09-02 15:18] IljaKroonen opened #1584 "Typescript coverage lines"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When using typescript, the coverage report lines are wrong. I am using the transpiler example file

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal repository on GitHub that we can `npm install` and `npm test`.**
https://github.com/IljaKroonen/jest-ts

[2016-09-02 16:16] kulshekhar commented on #1584
@IljaKroonen This might interest you https://github.com/kulshekhar/ts-jest

I've been using it for a few days and it seems to be working fine. If it doesn't work or if you face any problems, feel free to open an issue.

[2016-09-02 16:19] cpojer commented on #1584
Thanks for the issue. We do not have an official typescript preprocessor in Jest so whatever you are using; you are responsible for retaining the correct line mappings in Jest just like we do with babel jest.

I realize that TypeScript cannot do this, so for now you can use `ts-jest` but there is really nothing that we can do. I'm hoping that `ts-jest` can be fixed up and become a bit less hacky s

[2016-09-02 16:19] #1584 closed

[2016-09-02 16:32] golfapipol commented on #1579
Here you are
https://github.com/golfapipol/jest-waterline-integration-test

[2016-09-02 17:26] XVincentX opened #1586 "Typescript definitions"
**Do you want to request a *feature* or report a *bug*?**
Feature!

**What is the current behavior?**
Typescript definitions are missing and I'm getting errors in the editor
![image](https://cloud.githubusercontent.com/assets/1416224/18212363/29817d40-7143-11e6-8118-e904c689edaa.png)

**What is the expected behavior?**
If you could provide `jest` typings, the experience would be much much better.

[2016-09-02 17:28] kulshekhar commented on #1586
Are you getting this after running `typings install dt~jest` in your project?

[2016-09-02 17:29] cpojer commented on #1586
Hey,

we aren't using TypeScript and are unlikely to both provide and maintain definitions for TypeScript. There are some in flow-typed that you can potentially use: https://github.com/flowtype/flow-typed/blob/master/definitions/npm/jest_v14.x.x/flow_%3E%3Dv0.23.x/jest_v14.x.x.js

[2016-09-02 17:29] cpojer commented on #1586
closing was wontfix. If you'd like this, please create them and add them to DefinitelyTyped.

[2016-09-02 17:29] #1586 closed

[2016-09-02 17:30] XVincentX commented on #1586
It seems to be not updated to latest version - is there any plan to update it at least?

[2016-09-02 17:31] cpojer commented on #1586
Again, we do not maintain or own the definitions for Jest for TypeScript. I don't know who created them, please send a pull request to https://github.com/DefinitelyTyped/DefinitelyTyped with the API updates.

[2016-09-02 17:32] XVincentX commented on #1586
I got it, I meant the flow ones

[2016-09-02 18:11] deedubs opened #1587 "When using --json coverage should not write to STDOUT"
Currently when you run

you get output like

[code]
To me if the user specifies `--json` all istanbul output should be suppressed other than that in the returned object.

[2016-09-02 18:13] cpojer commented on #1587
Ohh noo, seems like istanbul doesn't respect our options. Is there a way to tell istanbul which pipe to use?

[2016-09-02 18:13] cpojer commented on #1586
Should be easy to update too! Please send us a PR with the new APIs that were added (jest.resetModules, not sure if much else).

[2016-09-02 18:17] deedubs commented on #1587
Yeah I'm poking around now :/

[2016-09-02 18:31] deedubs commented on #1587
I believe I've tracked the issue to two places,

https://github.com/facebook/jest/blob/master/packages/jest-config/src/defaults.js#L29
should be set to `["json"]`

https://github.com/facebook/jest/blob/master/packages/jest-cli/src/reporters/CoverageReporter.js#L74-L80

Needs to be disabled as well

[2016-09-02 18:49] deedubs commented on #1587
Okay think I've got it. PR shortly

[2016-09-02 19:44] #1582 closed

[2016-09-02 20:32] cpojer commented on #1552
Thanks for the repro. I'd recommend for now to call `jest.mock('react-relay').unmock('react-relay')`. That should be the default in Jest but it seems like this is an actual bug.

[2016-09-02 20:33] cpojer commented on #1117
I guess it is a bug but I don't think it is trivial to fix. I'd recommend just manually unmocking transitive deps in the manual mock instead.

[2016-09-02 20:33] cpojer commented on #1117
could also try to call `deepUnmock` for those transitive deps.

[2016-09-02 20:43] cpojer commented on #1579
I would suggest adding a console.log(err) in your callback and figuring out why it fails to connect to mongo or something. At least that is what is happening for me.

You shouldn't really connect to a db in a test but rather mock out all of it's APIs and pass fake data around. Otherwise your tests are becoming slow end-to-end tests pretty quickly.

[2016-09-02 22:38] divoxx opened #1590 "console.error/warn/log should show on `jest --watch` output"
Currently, `jest --watch` output won't include `console.error/warn/log`, which can lead to things silently failing.

One simple use case is a Promise making an HTTP request, handling exceptions but also logging to console.error to alert the developer. If an HTTP request is failing is because I probably forgot to mock something, but instead it will just silently output nothing.

[2016-09-02 22:40] cpojer commented on #1590
It does include console calls. Just scroll up a little bit ;) For a single test, they are printed immediately when they happen and we don't wait until test results are coming in.

[2016-09-02 22:40] #1590 closed

[2016-09-02 22:41] divoxx commented on #1590
@cpojer actually, my original message is wrong, it does include console.log but it definitely doesn't include console.error.

[2016-09-02 22:41] divoxx commented on #1590
By the way, running just `jest` also does not print console.log. If I run `jest <specific_test_file>` then it outputs.

[2016-09-02 22:43] cpojer commented on #1590
If you are using Jest 15 it should definitely be printed unless you also add `--silent` or something else is happening.

Can you please provide more information? The issue template is there for a reason ;) Which OS are you on, which version of node, which version of Jest, etc.?

[2016-09-02 22:45] divoxx commented on #1590
For example, running just `jest`:

[code]

vs running specific test:

[code]

The only option I'm passing to `jest` is `--color`.

[code]

[2016-09-02 22:47] cpojer commented on #1590
oh, ok, the problem here seems that we don't print console errors that happen *after* a test has been finished because the worker thread will always be torn down. When you run `jest -i`, will that print the console.error calls?

[2016-09-02 22:50] divoxx commented on #1590
@cpojer `jest -i` gives the same result. You're somewhat right though.

I see the output if I call `console.error` from within the test, the problem seems to happen when it's logging on an async operation.

[2016-09-02 22:51] cpojer commented on #1557
Hey! Yeah I'm totally happy to accept a PR that explains how to create mocks (and why) for certain components when using snapshot testing :)

[2016-09-02 22:53] cpojer commented on #1590
yeah, I suspect what happens is this async operation is called after the test finishes and we ignore those messages at this point. We could potentially bring them back but that might be risky.

Can you also try:
[code]

that will make the test wait for a few seconds before sending results back to Jest and would help me confirm my suspicion.

[2016-09-02 23:08] divoxx commented on #1590
Yep, that causes the output to come through.

I've also tested using async/await on the promise and that worked too. Not sure what's a good solution here but it did cause me a couple of hours today to understand that the HTTP request was failing due lack of a mock for example. Might be an isolated case, but seems like a good idea to have a way to capture that.

[2016-09-02 23:12] gaearon opened #1591 "Jest watcher doesn't completely clear the console"
This is probably my fault but I can now scroll back on OS X, but shouldn't be able to.

This is precisely what we do in CRA and it works everywhere: https://github.com/facebookincubator/create-react-app/blob/05fc913ab50ff870a0b17fec6774033b43f02af6/scripts/start.js#L71-L75

I tried using [the same](https://github.com/facebook/jest/blob/87eaa07904b60e2fc22f9505c808fb143271d6da/packages/jest-cli/src

[2016-09-02 23:15] cpojer commented on #1591
I was always able to scroll up on iTerm2 at least, even before your change. Just to make sure: do you mean scrolling should always be disabled completely or should I only be able to scroll to the top of the most recent command (since the last clear call)? The first one seems bad as it might cut off valuable info, the second seems reasonable to me but iirc that has never worked before, at least not

[2016-09-02 23:19] gaearon commented on #1591
I’m currently able to see previous watch runs by scrolling up in OS X Terminal which is confusing.

[2016-09-02 23:20] gaearon opened #1592 "Rename jest.fn() to jest.spy()"
I understand it’s a big change but should be super easy to find/replace if we do this.
Why:

* One less global in code, relying on `jest.fn()` weird if you’re not entirely sold on Jest yet
* `jest.fn()` is not descriptive at all, I had no idea what it means for a long time

[2016-09-02 23:21] cpojer commented on #1591
I see. Which terminal are you using? As said, on iterm 2 it was always like this.

[2016-09-02 23:25] gaearon commented on #1591
Stock Terminal on OS X.
You can compare CRA output on `npm start` and `npm test`.
`npm start` clears output on rebuilds, `npm test` doesn’t.

[2016-09-02 23:27] cpojer commented on #1591
pipe.write in Jest might be stderr or stdout depending on which mode is used. Maybe it only works for one and not the other?

[2016-09-02 23:29] gaearon commented on #1591
Could be, not sure. I probably won’t have time to check now but would be great if you could figure it out.

[2016-09-02 23:30] gaearon commented on #1262
Just bumped into another case where `toHaveBeenCalled` behaves differently from `toBeCalled` and I forgot `toBeCalled` is the one to use.

[2016-09-02 23:32] cpojer commented on #1592
It used to be called `jest.genMockFunction()` which was very confusing. In reality, this is used a lot and the longer it is, the fewer people use it and the more annoying it is. It litters the code a lot if it is longer too. I'll argue that `expect` is not really a better place for it.

My hope was that `jest function` becomes something that people think is synonymous with "mock function" or "stub

[2016-09-02 23:33] cpojer commented on #1262
@gaearon https://github.com/facebook/jest/pull/1512 and https://github.com/facebook/jest/pull/1526 will fix this. @maximderbin has been doing good work, we just didn't have enough time to review and polish those yet and didn't want to make 15 depend on it :(

[2016-09-02 23:40] gaearon commented on #1592
The reason I’m saying is as much as I like Jest, I just feel uncomfortable replacing `expect.createSpy()` in my code with `jest.fn()`. It feels wrong to use something implicitly injected called `jest` for something like creating a spy. I can understand `jest.mock()` or `jest.useFakeTimers()` because those are Jest-specific features, but typing `jest.fn()` for every spy feels like Jest is trying to

[2016-09-02 23:43] cpojer commented on #1592
Wait, is expect.createSpy a thing other frameworks use? In that case I'm happy to support it if its common.

[2016-09-02 23:56] gaearon commented on #1592
It’s not commonly put on `expect` global but there’s a [fairly popular `expect` library](https://github.com/mjackson/expect) doing that.

[2016-09-03 00:08] gaearon commented on #1591
It seems like this is not a problem with Jest. This only happens when a long output is replaced by short output. I have the same issue in CRA.

<img width="940" alt="screen shot 2016-09-03 at 01 08 33" src="https://cloud.githubusercontent.com/assets/810438/18221278/f62c3d9c-7172-11e6-8f46-9aa95d41d17d.png">

[2016-09-03 00:20] gaearon commented on #1591
Seems like

[code]

is the way to go. Need to check Windows too.

[2016-09-03 01:43] Daniel15 commented on #1192
Doing this in #1465

[2016-09-03 01:43] Daniel15 commented on #1464
Duplicate of #1192

[2016-09-03 01:43] #1464 closed

[2016-09-03 05:02] trevordmiller opened #1593 "Terminal color contrast"
*Before creating an issue please make sure you are using the latest version of Jest, try re-installing your node_modules folder and run Jest once with `--no-cache` to see if that fixes the problem you are experiencing.*

✔

**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Some console output doesn' have enough contrast

![image](https://cloud.g

[2016-09-03 08:51] #1192 closed

[2016-09-03 09:40] gaearon commented on #1262
Nice, thanks!

[2016-09-03 10:26] fson commented on #1592
`expect` in that case is the name of the library, though. If we were to look for a "pattern" in the wild, it would be to put the function on the global of the library. For example:

* Sinon has `sinon.spy()` (174,607 GitHub code results) and `sinon.stub()` (120,488)
* Jasmine has `jasmine.createSpy()` (378,392 GitHub code results)
* Expect has `expect.createSpy()` (5,318 GitHub code results)

In J

[2016-09-03 10:29] blafasel42 opened #1595 "jest-react-native Warning: @providesModule naming collision"
We have initialized a new repo for a react-native app. It only contains .babelrc and package.json so far. After configuring jest as described in https://facebook.github.io/jest/docs/tutorial-react-native.html and then calling npm install && npm test (or jest directly) we get the expected message "No tests found".

But we also get hundreds of warnings like (different module names):
ap: @providesMod

[2016-09-03 10:57] golfapipol commented on #1579
thank @cpojer  but I run server it works! but when run test it always got TIMEOUT

[2016-09-03 11:05] gaearon commented on #1592
OK. Can `jest.fn()` become `jest.spy()`? It’s just one more letter and way more descriptive.
We can change the docs to call them “spies” anytime too.

[2016-09-03 12:07] fson commented on #1592
I think `jest.spy()` would be a good name. It's short without being an abbreviation, spy is a common name for this functionality in other libraries, and even Jest docs already acknowledge it:

<img width="606" alt="screen shot 2016-09-03 at 15 01 09" src="https://cloud.githubusercontent.com/assets/497214/18224715/ecd5e8b8-71e7-11e6-90b1-8a958aa50433.png">

[2016-09-03 12:15] gaearon commented on #1592
The reason I’d like to rename them to “spies” completely is because this makes the distinction between “mocking” feature (for module system, depends on Jest) and “spies” (for functions, not really Jest-specific) more clear.

[2016-09-03 14:38] fson opened #1597 "Importing lodash, rxjs fails in node environment, globals undefined"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Importing `lodash@3.10.1` and `rxjs@5.0.0-beta.11` fails in Jest, when `testEnvironment` is set to `node`.

Here's a minimal repository reproduce the bug: https://github.com/fson/sandbox/tree/3ad45f19a1a3efa711cc8eba44fe349673471092/jest-node-environment-repro (just `npm install` and `npm test`).

It

[2016-09-03 14:45] TuckerWhitehouse commented on #1274
In case someone else stumbles upon this, the key is actually `coveragePathIgnorePatterns`, and you can find it in the docs here: https://facebook.github.io/jest/docs/api.html#coveragepathignorepatterns-array-string

[2016-09-03 15:04] gaearon opened #1598 "Search pattern should be case insensitive"
I just noticed search pattern is case sensitive and it seems confusing. I would expect `proptypes` to match `ReactPropTypes`. Can we make it insensitive?

[2016-09-03 15:05] gaearon opened #1599 "Make it possible to interrupt the runner in watch"
When watch is going over a lot of files, sometimes I want to stop it and change the search pattern to narrow it down. It would be great if it was possible to do this right in the middle of the run.

[2016-09-03 15:23] gaearon opened #1600 "Failed tests should re-run first"
If some tests failed during the watch, I expect that after changing the code, the failed tests will be first to re-run to bring me peace of mind.

[2016-09-03 17:56] Daniel15 commented on #1592
Won't `jest.spy` get confused with `jasmine.createSpy`, which can also be used in Jest tests?

[2016-09-03 18:13] gaearon commented on #1592
AFAIK none of `jasmine` APIs are officially supported in Jest and the plan is to eventually remove them.

[2016-09-04 00:29] yaycmyk opened #1603 "Idea: command to do a single coverage run in watch mode"
So let's say you've started a session via `jest --watch`. I think it might be cool to have a shortcut to do a coverage run over the files you're currently looking at and report it a single time in the console.

You can get this all the time by doing `jest --coverage --watch`, but the output becomes a little overwhelming to try and scroll back up to the failing test results if the dependency tree i

[2016-09-04 00:31] yaycmyk commented on #1592
It's actually closer to a stub than a spy I think.

[2016-09-04 00:34] Daniel15 commented on #1592
True - I don't think Jest provides an easy way to call the original implementation (ie. `and.callThrough()` in Jasmine), which is one of the things that differentiates spies from stubs.

[2016-09-04 00:37] cpojer commented on #1592
To me, a spy is something that wraps around an existing function. We haven't added a helper for this yet, but I'd like to add

[code]

which would return a mock function. Therefore I'm unsure whether spy is really a good terminology for this.

In the end, all it is is really just a function that has a mock property with some data on it. Therefore, mock function and `jest.fn` seemed like a really c

[2016-09-04 02:38] kentcdodds opened #1605 "Feature: test.skip/only/todo aliases"
Thanks for Jest!

I'm basically looking for the same functionality that `AVA` has:
- [`skip`](https://github.com/avajs/ava#skipping-tests)
- [`only`](https://github.com/avajs/ava#testonlytitle-implementation)
- [`todo`](https://github.com/avajs/ava#test-placeholders-todo)

There's also a handy [`test.failing`](https://github.com/avajs/ava#failing-tests) feature. I've never used it, but I can see h

[2016-09-04 02:53] ashtonwar opened #1606 "Regex does not work with snapshot testing"
Jest is **amazing**, thanks for all the work. I've started using snapshot testing with more than just React components and in most instances everything works perfectly.

Running version `15.1.1` with `babel-jest` & `jest-cli`. I am reporting a **bug**.

**Steps to reproduce**:
1. Create a test file

[code]
1. Run Jest (2 snapshots written in 1 test file.)
2. Run Jest (2 snapshot tests failed in 1

[2016-09-04 03:01] kentcdodds opened #1607 "Add comment to top of the snapshot file"
Something to explain to people new to the concept that this is a generated file and perhaps a link that explains how snapshotting works :)

[2016-09-04 03:09] yaycmyk opened #1608 "Suggestion: cacheDirectory should default to something local"
Using the OS tmp directory for Jest's ephemeral generated assets means that most CIs can't reliably cache it and keep test runs consistently fast.

Using a default cacheDirectory like `node_modules/.jest-cache` would stash away those files in a spot that most (if not all) devs have git-ignored and workspace-ignored by default, but also remain completely cacheable by container-based CI services lik

[2016-09-04 06:33] yaycmyk commented on #1605
Skip is the same as `xit / xdescribe`, and only is equivalent to `fit`, AFAIK. You can write a test stub without filling it in, which I guess is equivalent to todo.

[2016-09-04 07:36] GrigoryPtashko commented on #1552
Yes, this ways it works.

[2016-09-04 15:58] kentcdodds commented on #1605
Cool, thanks for the info. But what if I prefer the `test` global over `it`?

[2016-09-04 16:02] yaycmyk commented on #1605
You don't have to use Jasmine, believe it supports swapping out the env to something like TAP if you prefer.

[2016-09-04 16:04] kentcdodds commented on #1605
True, but why can't we just add these things? I don't see any harm in doing so... If the `test` alias is already available, may as well make it behave as expected right?

[2016-09-04 16:06] yaycmyk commented on #1605
Increasing the API surface area just because you personally want something is kind of unreasonable, IMO. The Jest team specifically built in those escape hatches for people like yourself that want further customization.

[2016-09-04 16:11] kentcdodds commented on #1605
Right, and what I'm suggesting is the idea of least surprise. Because the escape hatch exists, it's surprising to me that it doesn't behave as expected.

I'm done bikeshedding. I'll wait for a member of the project to comment.

[2016-09-05 01:51] Aweary commented on #1353
Hey all, keep in mind that mocking an internal React module can have unexpected consequences. See https://github.com/facebook/react/issues/7601.

[2016-09-05 05:47] joonkee opened #1610 "Jest always runs all React snapshot tests without caching"
Every time I start Jest with the `jest --watch --env=jsdom` command, it seems all React component snapshot tests are triggered without caching. Is this expected behavior? I tried running with `--no-cache` once and also reinstalled node_modules but it always runs through all the snapshot tests whether or not the files changed. Caching seems to work fine for unit testing pure functions though. Maybe

[2016-09-05 06:41] ola-g86 commented on #817
@cpojer I changed jest in my project to 15.1.1 and my tests is running now. But I have old problem with ES6 syntax. What other changes do I need to show the coverage of source files, as in Karma?

[2016-09-05 08:32] IljaKroonen opened #1611 "Coverage report not valid JSON on Windows"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When generating a coverage report on windows, the output coverage-final.json is not valid JSON because the path to the files contains unescaped backslashes (in the keys). Example of the start of a file:
[code]
JSON.parse output:
[code]

**What is the expected behavior?**
The coverage-final.json file sh

[2016-09-05 10:39] fson opened #1612 "Improve snapshot file sorting"
**Do you want to request a *feature* or report a *bug*?** Feature

**What is the current behavior?**

At the moment, the snapshots in the `.snap` file are sorted using the string key of the snapshot, so if you have more than 9 snapshots, the order is going to be [1, 10, 11, ..., 2, 3, ...].

I'm currently using snapshots to test Redux reducers by playing back a sequence of actions and snapshotting

[2016-09-05 10:59] robcaldecott opened #1613 "Assets imported from scoped folder treated as JS"
I reported this in create-react-app:

https://github.com/facebookincubator/create-react-app/issues/579

If you use the Webpack feature to import an asset (CSS/images) from a scoped npm module then Jest will treat the asset as JS code and the test will fail.

[code]

Results in an error like this:

[code]

[2016-09-05 12:42] franleplant commented on #1502
I think this will be pretty relevant for Jest and Jest documentation. After some debugging with the Sinon team they found out that the problem was that **Sinon 1.x does not work well with module bundlers** so some of the Jest examples that use Sinon should warn the users about this. It's difficult to find out so I hope we can make the next guy don't have these troubles. For a bit more of discussio

[2016-09-05 13:13] fson commented on #1613
This turned out to be an issue in the Jest configuration used in create-react-app. Fixed in facebookincubator/create-react-app#584.

[2016-09-05 17:25] adriantoine commented on #1605
I'm switching some of my projets from AVA to Jest (still like AVA but Jest has a better ["out-of-the-box" support for React/UI components IMO](https://twitter.com/adriantoine/status/771800442191962112)) and I miss some of those as well!

`only` is actually a very useful one, when developing you usually focus on writing one test and that cleans out the output.

`todo` is also very useful as I like

[2016-09-05 20:25] cpojer commented on #880
This will be fixed in the next release this week. Sorry about the issue.

[2016-09-05 20:25] #880 closed

[2016-09-05 20:30] cpojer commented on #1612
I agree we should use natural sort for numbers.

[2016-09-05 20:32] cpojer commented on #1610
I don't understand what issue you are referring to. Every test is run all the time when Jest runs a test file. `jest --watch` by default only runs test related to changed files. This works by building a reverse dependency tree and looking up test files.

[2016-09-05 21:26] atkinchris commented on #1117
👍  on the non-trivial status; guessed it would be, after our first instinct to try to fix it took us into deeper waters.

`deepUnmock` gives the same bug when a manual mock is present, just like `unmock`.

[2016-09-05 21:33] inyono opened #1618 "No output in macOS Sierra Developer Beta 8"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In the [getting started example](https://github.com/facebook/jest/tree/master/examples/getting_started), `npm test` runs an infinite time w/o any output:

[code]

While ` ./node_modules/.bin/jest --help` works as intended, ` ./node_modules/.bin/jest --version` also hangs w/o any output. Terminal says `

[2016-09-05 21:36] cpojer commented on #1618
Unfortunately I don't have access to the new version of macOS yet. Do you have some time to help troubleshoot and potentially fix the issue? See https://github.com/facebook/jest/blob/master/CONTRIBUTING.md#worfklow-and-pull-requests for how to get started.

Can you try `--no-watchman` to see if this is a watchman issue?

[2016-09-05 21:38] cpojer commented on #1117
Sorry, I mean deepUnmock from within your manual mock. I think it makes sense to either turn off automocking (the new default in Jest) or to call deepUnmock of any deps that you are pulling in in your manual mock – I think this makes sense as this is what you'd do in tests as well.

The problem here is that we can only unmock transitive dependencies if we actually descend into a node module. We ar

[2016-09-05 21:40] inyono commented on #1618
Thanks for the quick response.

`--no-watchman` didn't help, Terminal still says that watchman is running. I will try to troubleshoot the issue.

[2016-09-05 21:42] cpojer commented on #1618
It probably makes sense to console.log in this promise chain: https://github.com/facebook/jest/blob/master/packages/jest-cli/src/jest.js#L133 and see where it gets stuck.

If you are using the Jest repo itself, make sure you do `npm run watch` in a background tab to keep compiling your files. You can also just insert those logs into the build file of jest in your project.

[2016-09-05 21:51] atkinchris commented on #1117
We're not actually using the manual mock; it's only there to cause the bug. We're `unmock`ing the module, so it's descending into it; it's only when a manual mock is present, that it's transitives are erroneously mocked.

The manual mock contains only a simple string export, and has no dependencies; but from our interpretation of the intended behaviour, it shouldn't ever come into play, as the mod

[2016-09-05 22:03] inyono commented on #1618
Thanks for the pointers, seems to be an issue with watchman. Jest hangs here: https://github.com/facebook/jest/blob/master/packages/jest-haste-map/src/index.js#L73. This is also the case when I run `watchman version` directly in the terminal (no output). `watchman -v` works, though, and outputs 4.6.0.

[2016-09-05 22:08] inyono commented on #1618
Fun fact: If I uninstall watchman, jest works again 😄

[2016-09-05 22:09] cpojer commented on #1618
@wez are there any known problems with watchman on macOS Sierra?

[2016-09-05 22:10] cpojer commented on #1117
Yeah, manual mocks are currently a mess and there is no resolution algorithm associated with them. I'm hoping to make them much stricter eventually.

[2016-09-05 22:43] joonkee commented on #1610
@cpojer, thanks for taking the time to respond. But I'm not sure I understand. So in Jest cli, when I press "a" to run all test files, all tests run and shows me an output like `22 tests passed (22 total in 12 test suites, 24 snapshots, run time 1.186s)`. And if I then press "o" to only run tests related to changed files, all tests run and I see the same output (22 tests passed...), even though no

[2016-09-05 23:04] cpojer commented on #1610
`-o` is best effort. If you don't have a git repository or if all files depend on the changed file, all tests will run. It is mainly an optimization so that locally the test runs are minimal and fast.

[2016-09-05 23:04] #1610 closed

[2016-09-06 00:53] cpojer commented on #1608
`cacheDirectory` is configurable for this reason. We used to store it inside of Jest but it was always a huge issue to people so we changed to a temp folder. Please configure Jest the way you like for your CI :)

[2016-09-06 00:53] #1608 closed

[2016-09-06 00:53] cpojer commented on #1607
I think that will be quite annoying if you have looads of snapshot files and all of them have the same header.

[2016-09-06 00:55] cpojer commented on #1603
Do you wanna make this command and send a PR? :)

[2016-09-06 00:59] cpojer commented on #1597
Array and Object should definitely be there – the vm object creates those. I don't really know why lodash three never worked – can you investigate a bit? They fixed their detection in lodash 4.

[2016-09-06 01:01] cpojer commented on #1595
Are you using npm2? If so, you can probably safely ignore this warning. I recommend updating to npm3, where this shouldn't be happening. You can also probably add `node_modules/react-native/node_modules/` to your `modulePathIgnorePatterns`.

(Closing because this is unlikely something we can fix)

[2016-09-06 01:01] #1595 closed

[2016-09-06 03:32] maximderbin commented on #1262
@cpojer @gaearon Actually it's weird as we've already migrated this matcher. Would be grade to know inconsistencies so I could fix it

[2016-09-06 03:36] dmitriiabramov commented on #1536
`collectCoverageFrom` has the format that looks like this:
[code]

there was a reason to implement it this way for the internal runner, but for the outside world it probably makes no sense. should we remove it from the docs?

[2016-09-06 03:37] cpojer commented on #1536
Probably, yes. `collectCoverageFrom` should be able to handle this use case.

[2016-09-06 03:42] dmitriiabramov commented on #1542
it does. http://jasmine.github.io/2.5/introduction.html#section-55
i had no idea jest doesn't support it. I can work on it this week

[2016-09-06 03:44] ide commented on #1542
This is already fixed in #1546 / 15.1.0.

[2016-09-06 03:44] cpojer commented on #1542
@dmitriiabramov @ide ended up doing this himself, therefore paying 5 bucks to himself.

[2016-09-06 03:47] dmitriiabramov commented on #1542
oh. nevermind then.. still going through my jest emails from last week :)
thanks @ide for doing this!

[2016-09-06 04:10] dmitriiabramov commented on #1578
@cpojer should `.jsx` be in the defaults?
seems like a pretty common use case

[2016-09-06 04:19] kentcdodds commented on #1607
Hmmm... I was just thing something like:

[code]

Something simple so new people don't try to edit the file directly. I honestly don't see any problem with having the same comment in every file. I would expect people to naturally glaze over the top of the file anyway. I'd get used to it anyway :)

[2016-09-06 05:04] kentcdodds commented on #435
I feel like I heard recently that this was actually implemented somehow, is that the case? Or is there any existing module that makes this easier than just doing a glob + require myself?

[2016-09-06 08:08] fson commented on #1597
The global detection in lodash 3 looks looks like this:
[code]
It doesn't choose the `global` on the line where it tries to assign `freeGlobal`, because `global.Object` evaluates to `undefined`.

RxJS also can't be imported because `global.Object` is `undefined`. (It assigns `global` as the "root object" [here](https://github.com/ReactiveX/rxjs/blob/5.0.0-beta.11/src/util/root.ts#L24-L26) and fail

[2016-09-06 09:25] golfapipol opened #1619 "is it possible to loop its in Jest"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the expected behavior?**
is it possible to loop its in Jest

    describe('...', () => {
        // first way
        for (let test in tests) {
            it('...', () => {
                expect(...).toBe(...)
            })
        }
        // second way
        tests.forEach((test) => {
            it('...', () => {

[2016-09-06 09:57] gaearon commented on #1262
I think it wasn't working with jest.fn() for me. Maybe I was doing something wrong.

[2016-09-06 10:13] fgarcia opened #1620 "Test suite frozen"
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
I am having a problem where Jest loads a test suite which never ends.

To reproduce my setup:

[code]
Create this test file (./demo.spec.js):

[code]

Executing the test with `jest demo.spec.js` will print the `OK` message but freezes the execution of the suite by never returning to the command line

**Wha

[2016-09-06 12:53] blafasel42 commented on #1595
using npm 3.10.6, node 15.1.1

but if it is ok to ignore the warnings, i will do for now :-)

thanks

[2016-09-06 14:31] blafasel42 commented on #1595
adding node_modules/react-native/node_modules/ to modulePathIgnorePatterns did the job, thanks

[2016-09-06 14:50] maximderbin commented on #1262
It was fixed by this PR https://github.com/facebook/jest/pull/1445 . You may run on older version

[2016-09-06 15:06] gaearon commented on #1262
Ah, I think it was toHaveBeenCalledWith().

[2016-09-06 15:14] dylanparry commented on #1551
I'm still getting this issue on 15.1.1, but there aren't any dashes in my path.

There are `.` characters in the path, but they don't seem to be the cause as replacing them with anything else makes no difference.

There are also spaces, and it seems like that might be the cause as when I move the project directory right down to `C:\myprojectname` it then begins to find the tests correctly, but won

[2016-09-06 15:31] kentcdodds commented on #435
Alrighty, for posterity, here's what I have. I hope it's helpful:

[code]

[2016-09-06 15:32] maximderbin commented on #1262
Ah... in this case there is pending PR for this one

[2016-09-06 16:53] Daniel15 commented on #1551
Hi @dylanparry! I'd suggest filing a new issue so we can look into it. I think we'll add some integration tests to test scenarios like this.

[2016-09-06 16:58] dylanparry commented on #1551
Thanks. I'll file a bug now.

[2016-09-06 17:06] dylanparry opened #1621 "No tests found when testPathDirs contains spaces"
# Bug

I am having issues discovering tests with Jest 15.1.1 when there are spaces in the path to the project being tested. This does not happen on previous major versions, or when spaces are not present.

## Version

- Jest 15.1.1
- Node 6.3.1
- NPM 3.10.7
- Windows 10

## Current behavior

Using Jest 5.1.1 in a project directory containing spaces, no tests are found.

## Steps to reproduce

- Cr

[2016-09-06 17:15] marcelerz opened #1622 "Immutable.List is not visible in comparison"
In one of my tests, I ran into this issue that Jest didn't show me differences in actual/expected. It failed for no apparent reason, even saying `Compared values have no visual difference`.

When I did a `console.log` on actual and expected, I saw that the Immutable.List wasn't visible within the Jest comparison.

See output:
[code]

[2016-09-06 17:19] wez commented on #1618
I've not had any reports of problems on macOS Sierra so far, but have not tried it for myself yet.  It would be valuable to get a copy of @inyono's watchman logs.  I believe that they are located in `/usr/local/var/run/watchman/$USER-state/log` for a homebrew install.  Would be great to get that in a gist or pastebin or something.

[2016-09-06 17:46] dmitriiabramov commented on #1622
the problem is that `pretty-format` has exactly the same formatting for both immutable lists and arrays
[code]

[2016-09-06 18:26] inyono commented on #1618
@wez There were logs at the location you mentioned. The last entries are from a month ago using watchman v4.5.0:
[code]
There are no logs for watchman v4.6.0, though, even when trying to run watchman. So I suppose that watchman v4.5.0 worked fine but there is some problem with v4.6.0. I can't downgrade to the previous version using brew, unfortunately. If it helps, I can try to build v4.5.0 manual

[2016-09-06 18:28] lacker commented on #1548
I agree with both of these. Configuration reference and API reference seem different. Feel free to assign this issue to me - I would like to do a deeper overhaul of the Jest docs. Do you have other points of feedback of things you think are problems with the current Jest docs?

[2016-09-06 18:35] cpojer commented on #1262
I've merged @maximderbin's two PRs for these in a local branch and am currently polishing up all the messages.

[2016-09-06 18:40] gaearon commented on #1548
Can't assign to you because you're not in the contributor list in this repo.
I'll let you know if I have other feedback, thanks!

[2016-09-06 18:43] cpojer commented on #1618
It seems like this is a watchman issue because Jest works fine if watchman isn't installed. I opened an issue on the watchman bug tracker but happy to reopen here if it turns out to be a Jest issue.

[2016-09-06 19:04] inyono commented on #1618
Agreed. The only "issue" I see on Jest's side is that `--no-watchman` succeeds after the `canUseWatchman` check and is therefore useless when `watchman version` goes into an infinite loop.

[2016-09-06 19:22] fson opened #1624 "moduleNameMapper only works with regexes matching the whole path"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The `moduleNameMapper` configuration only works with regexes that match the whole path. I found this out when working on facebookincubator/create-react-app#584. When using this configuration the modules were stubbed correctly:

[code]
But changing it to following caused them to *not* be stubbed:
[cod

[2016-09-06 19:59] wez commented on #1618
This turned out to be one of the watchman shutdown issues in 4.5 that got fixed in 4.6

[2016-09-06 20:10] cpojer commented on #435
`collectCoverageFrom` can be used for this, it takes globs to match files and then runs coverage on all files in the project that match.

[2016-09-06 20:10] cpojer commented on #1620
You should tear down your connection in `afterEach` or `afterAll`. Jest doesn't tear down the connections for you.

[2016-09-06 20:29] wez commented on #1618
also: I reached out to our most active engineer currently running macOS Sierra and our watchman diagnostics ran clean.  It's a small sample size, but I think we can rule our a Sierra specific issue here.

[2016-09-06 20:38] #1618 closed

[2016-09-06 20:56] benweissmann opened #1626 "Clearing all mocks"
This was discussed before in #1285 but I think it's worth discussing again now that Jest 15 doesn't reset the module registry by default.

I'd like to reset all mock calls in between tests. I propose adding a `jest.clearAllMocks()` function, which would proxy through to a `clearAllFunctionCalls()` method in `jest-mock`.

For the implementation inside `jest-mock`, I can think of two strategies:

1.

[2016-09-06 21:03] kentcdodds commented on #435
Wonderful! That totally works. So much better. Thanks!

[2016-09-06 21:10] fgarcia commented on #1620
I did not expect Jest to be aware of an open connection and stay running until it was properly closed. That got me by surprise because my previous test suite runner just ignored them and returned to the command line.

@cpojer Do you have any reference to Jest documentation where this behavior is explained? Is it just watching http sockets? I would like to find out if there are similar features tha

[2016-09-06 21:17] cpojer commented on #1620
No, this is just normal node behavior. If you spawn async work, node will not quit until that is finished. The test framework you previously used probably just killed the process.

We could do that but we don't really want to – it could mask bugs in your code where you don't clean up resources in your code.

[2016-09-06 21:17] #1620 closed

[2016-09-06 21:23] cpojer commented on #1619
yes it is, just do it like you wrote.

[2016-09-06 21:23] #1619 closed

[2016-09-06 21:23] cpojer commented on #1619
yes it is, just do it like you wrote.

[2016-09-06 21:27] #1587 closed

[2016-09-06 21:30] cpojer commented on #1578
@dmitriiabramov feel free to send a PR :)

[2016-09-07 01:32] dmitriiabramov opened #1630 "concurrent tests"
here's what i think we can do to implement concurrent tests

[code]

[code]

downside:
- will break if any variables are shared between tests
- can't use snapshots (it depends on global values like `currently running test`)

@cpojer @kittens

[2016-09-07 01:55] dmitriiabramov commented on #1598
oh please! yes!

[2016-09-07 01:55] dmitriiabramov commented on #1598
https://github.com/facebook/jest/pull/1631

[2016-09-07 02:07] dmitriiabramov commented on #817
@ola-g86 are you using any custom preprocessors? is your project open sourced?

[2016-09-07 02:11] dmitriiabramov commented on #1611
we should probably implement some kind of path normalization function that will lowercase the `C:\` and escape all special characters

cc @Daniel15

[2016-09-07 02:21] Daniel15 commented on #1611
Hmm... Are we hand crafting JSON here? JSON.stringify should be escaping
the backslashes.

Case sensitivity issues are also present on Mac OSX, which also uses a case
insensitive file system by default. We probably need to normalize all file
paths regardless of OS. There's a separate issue for these case sensitivity
issues (on Windows it's often c:\ vs C:\)

Sent from my phone.

On Sep 6, 2016 7:1

[2016-09-07 02:34] golfapipol commented on #1619
but I got this error: JavaScript heap out of memory

    const testcases = require('./testcases.data') // it's JSON
    describe('...', () => {
        testcases.forEach((test) => {
             it('...', () => {
                 expect(...).toBe(...)
             })
        })
    })

![screen shot 2559-09-06 at 16 51 03](https://cloud.githubusercontent.com/assets/8346755/18297812/d9f4d60c-74dd-1

[2016-09-07 02:35] cpojer commented on #1619
that means it is very likely you have an infinite loop somewhere and node just crashes.

[2016-09-07 02:40] dmitriiabramov commented on #1605
i really wanted those too. I aliased some of them here
https://github.com/facebook/jest/pull/1632

`failing` and `todo` seem to be pretty awesome too, but the'll require a little more code :)

[2016-09-07 02:40] joonkee commented on #1597
Just to add to this, importing `lodash@4.15.0` also results in `TypeError: Cannot read property 'prototype' of undefined`, because its global detection looks like this:
[code]

[2016-09-07 02:48] s992 opened #1633 "Snapshot diff displays "null" if diffing a simple value that is not a multi-line string"
*Before creating an issue please make sure you are using the latest version of Jest, try re-installing your node_modules folder and run Jest once with `--no-cache` to see if that fixes the problem you are experiencing.*

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When verifying a snapshot of a simple value (other than a multi-line string), co

[2016-09-07 02:57] cpojer opened #1634 "Too many newlines in --watch mode when no changed files"
I cannot live with this. For some reason there are three newlines.

[2016-09-07 06:43] priya1091992 opened #1636 "Jest & react-native :Issue while using react-native bundled preprocessor and env"
Hi,

I'm using Jest to unit test some custom components, and it's working well with some of them. But when using scriptPreprocessor and setupEnvScriptFile in my project's package.json as

`"scriptPreprocessor": "node_modules/react-native/jestSupport/preprocessor.js",
    "setupEnvScriptFile": "node_modules/react-native/jestSupport/env.js",`

It gives an error

Runtime Error
- Invariant Violation:

[2016-09-07 07:03] golfapipol commented on #1619
Thank @cpojer maybe I do thing wrong

[2016-09-07 11:02] VeeKiraRay opened #1637 "Version 15.1.1 testRegex option does not find .jsx files by default"
I update Jest from 13.2.3 to 15.1.1 and jest no longer found my test files with .jsx extension.

Previously I had in my jest options:
"testFileExtensions": ["js", "jsx"]
and all my test files were in "__tests__"-folders scattered around the project and the 13.2.3 version found and ran all my test files perfectly.

Now the 15.1.1 version gave me an error message that I can't use the testFileExtensi

[2016-09-07 12:07] winterbe opened #1638 "[ReactNative] Snapshot of TouchableOpacity differs between different machines"
Hi,

I've encountered a problem using Jest 15.1.1 with ReactNative 0.32.0. A component snapshot test succeeds locally on my machine (Mac OSX) but fails on CI server (Linux Ubuntu).

The problem seems to be related to the snapshot of `TouchableOpacity` style. The generated snapshot in my machine only includes `opacity` which seems to be correct to me. But on the Ubuntu server the snapshot seems to

[2016-09-07 12:20] cpojer commented on #1638
If you look into your project (including node modules folders), are there two `__mocks__/View.js` files?

[2016-09-07 12:21] cpojer commented on #1636
See http://facebook.github.io/jest/docs/tutorial-react-native.html for an updated guide on how to test react-native. Please also upgrade to Jest 15.

[2016-09-07 12:21] #1636 closed

[2016-09-07 12:29] winterbe commented on #1638
@cpojer There's only one on my machine but I'll have to check the CI server.

[code]

But I have to check the CI agents where the snapshot test fails. We're currently resetting the agent instances...

[2016-09-07 12:52] winterbe commented on #1638
I've updated Node to 6.5.0 and NPM to 3.10.3 on the servers, removed `node_modules` but result is the same.

Result on server is the same as on my locale machine:

[code]

[2016-09-07 12:55] cpojer commented on #1638
This is really odd. Can you potentially do this:

console.log(require.resolve('View'))
console.log(View) // this might need some more advanced logging?

to see if we are getting different values for each?

Jest mocks out View with a mock of the real version of View in jest-react-native's setup script. I'm unsure how it is getting two different versions. The only thing I can think of is that you mi

[2016-09-07 12:55] cpojer commented on #1638
If you can figure out a way to repro this and put it on github for us to npm install and npm test, that would be really helpful here.

[2016-09-07 13:15] winterbe commented on #1638
console.log(require.resolve('View')) prints `/.../node_modules/react-native/Libraries/Components/View/View.js`

console.log(View) prints `[Function: Component]`

Both on my local machine and server.

But I've just noticed that there's another test failure in the server logs which occurs before snapshot failure. Hopefully this helps!

### Server test failure logs:

<details>
[code]
</details>

[2016-09-07 15:35] ola-g86 commented on #817
It is working now. My settings for this:
in package.json:
"jest": {
        "coverageCollector": "jest-babel-istanbul",
 }
in .babelrc:
    "env": {
        "test": {
            "sourceMaps": "both"
        }
    }

[2016-09-07 17:26] cpojer opened #1640 "Printing Issues"
Stringify sees a circular reference in a flat array that looks like this:

[code]

will print the first object as `[{foo: 'bar'}, [Circular]]`.

cc @dmitriiabramov

[2016-09-07 18:09] natenorberg opened #1641 "Importing module named 'constants' imports wrong object"
If I include
[code]
it imports this object
<details>
<summary>Constants object</summary>
[code]
</details>
instead of the module I defined. The rest of the imports seem to be working fine and if I import with relative paths it works.

My app structure looks like this:
[code]

and my config is
[code]

[2016-09-07 18:12] cpojer commented on #1641
Can you provide a repo with this bug? Thank you.

[2016-09-07 19:01] natenorberg commented on #1641
Sure, [this repo](https://github.com/natenorberg/jest-constants) shows the issue when you import `'constants'`. I didn't get the modulePaths config working (it was my first time using create-react-app) but the import shows the strange constants object that I was seeing in the other repo.

Sorry it's not the same repo. I was playing around with it in a large repo for work that I can't make open sou

[2016-09-07 20:06] cpojer commented on #1641
If you use create-react-app you cannot customize your Jest configuration.

[2016-09-07 20:16] natenorberg commented on #1641
Yeah, that's what I realized. But do you have any idea of how it's resolving the constants module?
Even without customizing the jest configuration it does something different if a module is named `'constants'`

[2016-09-07 20:20] cpojer commented on #1641
Constants is a node core module. If you type `node` and then `require('constants')` in the repl, it'll give you that module.

[2016-09-07 20:29] natenorberg commented on #1641
Oh ok. So is there a way to try to match in the modulePaths from your jest config first? Or do you just have to name your constants file something different if you want to use jest?

[2016-09-07 20:31] cpojer commented on #1641
Yeah, in Jest the resolution algorithm always looks at core modules first and returns them, you'll probably need to rename it. I'm sorry, we can't really fix this :(

[2016-09-07 20:31] #1641 closed

[2016-09-07 20:32] natenorberg commented on #1641
Ok, bummer, thanks for your help though.

[2016-09-07 20:41] cpojer commented on #1641
We could do this, however we are following node's module resolution algorithm which always prefers core modules over other modules that may match, see https://nodejs.org/api/modules.html#modules_core_modules

[2016-09-07 22:02] sibelius commented on #1597
@fson what is your workaround for now?

[2016-09-07 22:10] fson commented on #1597
@sibelius I'm using the jsdom environment for now.

[2016-09-07 22:11] fson commented on #1597
The jsdom environment seems to work.

On Thu, 08 Sep 2016 at 01:02 Sibelius Seraphini

<
mailto:Sibelius Seraphini <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://github.com/fson
what is your workaround for now?

—

You are receiving this because you were mentioned.

Reply to this email directly,
https://github.com/facebook/jest/issues/1597#iss

[2016-09-07 22:53] cpojer commented on #1605
I don't see value in `test.failing` it seems too easy to forget to fix them.

`test.todo` I'm ok with, should be easy to implement as `test.todo = title => xit(title, () => {})`.

[2016-09-07 22:56] kentcdodds commented on #1605
I'm ok to leave that one off. I've never really used it before.

[2016-09-08 02:33] dmitriiabramov commented on #1640
yeah. i guess we should take nesting levels into account to when we stringify.

tbh i think this stringify thing should be an `ugly` mode of `pretty-format`, we're almost duplicating the same thing

[2016-09-08 02:34] cpojer commented on #1640
I agree cc @thejameskyle – can we make it so pretty-format has an option that doesn't print newlines?

[2016-09-08 02:42] codepandy opened #1643 "How to use jest on karma?"
Whether jest can be used on karma? how?

Have someone done it?

[2016-09-08 02:43] cpojer commented on #1643
Jest's requires node's APIs so to my understanding it will not be able to run together with karma.

[2016-09-08 02:43] #1643 closed

[2016-09-08 02:43] cpojer commented on #1643
Also see #848

[2016-09-08 03:27] codepandy commented on #1643
@cpojer ok,I think so,thanks.

[2016-09-08 03:29] kennetpostigo opened #1644 "window.requestAnimationFrame not defined and nodeType null"
Hey,

I'm helping test an animation library and my tests are failing because it says that requestAnimationFrame is not defined and nodeType not defined. The code works I've verified that in codepen. However I think its because jest isn't exposing requestAnimationFrame property on the window object. Just to make sure here in [MDN docs](https://developer.mozilla.org/en-US/docs/Web/API/window/request

[2016-09-08 03:31] cpojer commented on #1644
jsdom doesn't ship with `requestAnimationFrame`. You'll need to put a polyfill into your `setupFiles` config like this one: https://gist.github.com/paulirish/1579671

[2016-09-08 03:31] #1644 closed

[2016-09-08 03:37] kennetpostigo commented on #1644
@cpojer okay just fixed that, do you know why the `Cannot read property 'nodeType' of null` is occurring? It happens here:

Before:
[code]

After:
[code]

[2016-09-08 03:38] cpojer commented on #1644
The test renderer currently doesn't support refs; this is a feature the React team is currently working on.

[2016-09-08 03:40] kennetpostigo commented on #1644
Okay, any timetable you may know of?

[2016-09-08 03:41] cpojer commented on #1644
I think probably like 15.4 but I'm not on the React team, so not sure. See https://github.com/facebook/react/pull/7649

[2016-09-08 03:42] kennetpostigo commented on #1644
@cpojer thank you!

[2016-09-08 05:29] migueloller opened #1646 "[Bug] Using `test` instead of `describe` causes tests to pass no matter what"
Repro:
[code]
[code]
`jest@15.1.1`

The new tutorial video on Jest's home page uses `test` instead of `describe` but it looks like it's now working.

[2016-09-08 06:38] dmitriiabramov commented on #1646
`test` is not an alias for `describe`, it's an alias for `it`

the correct usage would be:
[code]

or without a top level describe (as in tutorial):
[code]

[2016-09-08 06:39] dmitriiabramov commented on #1646
we should probably throw when `it` is used during the test execution to avoid this kind of confusion, but we won't be able to do this until we replace jasmine.

[2016-09-08 06:39] #1646 closed

[2016-09-08 07:11] vitalybe opened #1647 "Separate visually the logs of each test"
**Do you want to request a *feature* or report a *bug*?**

UX issue

**What is the current behavior?**

Logs from different tests in the file are shown without separation:

[code]

**What is the expected behavior?**

I would expect each test have its console logging separated in some way, e.g:

[code]

[2016-09-08 13:20] cpojer commented on #1647
We don't really have this available with Jasmine 2 right now. We might be able to fix this once we replace jasmine with a compatible runner but not until then. I agree we should fix it and it will be automatically fixed when we get to this bigger task, so I'm going to close this task to keep our queue clean :) Sorry it isn't awesome yet.

[2016-09-08 13:20] #1647 closed

[2016-09-08 18:41] holic opened #1650 "Configurable snapshots directory for colocated tests"
The React community seems to be moving towards colocating tests with components. I appreciate the changes to the default `testRegex` that looks for any `.test.js` file.

However, using this colocation method means a bunch of scattered `__snapshots__` directories throughout the codebase. Since snapshots seem to be more for machine readability than human readability, I would tend to throw them all i

[2016-09-08 18:45] cpojer commented on #1650
snapshots are colocated with tests and they are definitely not meant to be for machine readability. They are meant to be reviewed by humans, both the author of a test and the code reviewers.

[2016-09-08 18:45] cpojer commented on #1650
Jest also ensures that there are never any stale snapshots in the system. This means we both need a way to map from a snapshot to its associated test and back. This seems kinda hard to configure via string values in the JSON config :(

[2016-09-08 18:55] holic commented on #1650
Thanks for the quick reply!

I understand that the snapshots are meant to be read and reviewed. It just seems a bit messy to have `__snapshots__` littered throughout the codebase when I want to have tests colocated with components. This may also come from a pattern of grouping components by functionality, rather than having a `components` directory (e.g. `user/Profile.js` and `layout/Nav.js`).

In

[2016-09-08 19:08] holic commented on #1650
Currently my directory looks a bit like this:
[code]

The `__snapshots__` in this way _feels_ a little messy to me (but this may just be me).

As an alternative, my thought was a directory structure like this might be easier to understand/comb through:

[code]

[2016-09-08 19:10] cpojer commented on #1650
but that is the opposite of colocating snapshot files with their tests, isn't it?

[2016-09-08 19:13] rickhanlonii commented on #1622
As mentioned in https://github.com/thejameskyle/pretty-format/issues/32, `pretty-format` is just [calling `.toJS()`](https://github.com/thejameskyle/pretty-format/blob/master/index.js#L216-L218). That means any Immutable [Itereable](https://github.com/facebook/immutable-js/blob/1269d4581e66329acc263fd7a7ac4999298e7847/dist/immutable.js#L4676) will be formatted as an Array and any [KeyedIterable](h

[2016-09-08 19:15] holic commented on #1650
I'm proposing that the snapshots don't necessarily need to be colocated with tests. I find it more important that tests are colocated with components. Having all three colocated _feels_ messy, mostly due to the several `__snapshots__` directories that are created/scattered throughout the codebase (at least in the way I've chosen to organize my components).

[2016-09-08 19:16] cpojer commented on #1650
I'm not religiously opposed to this if you want to do all the work necessary to support this, find a way to make this maintainable and test it well.

[2016-09-08 19:17] cpojer commented on #1650
We can also help on our discord channel and happy to review code, of course :)

[2016-09-08 19:23] holic commented on #1650
I think my main argument is that the snapshots are auto generated and aren't meant to be modified manually, nor really imported directly into the codebase. So it doesn't feel right to have them intermixed within the code which you are actively editing/maintaining/importing.

I'm not particularly married to this idea either :) Just wanted to propose it to see what others thought. If I'm not alone i

[2016-09-08 19:25] cpojer commented on #1650
I'm sure you find many people that share your opinion. Testing is like a religion to people and I'm happy to support all kinds of doing this as long as it integrates well with Jest and is well tested itself.

[2016-09-08 22:21] kellyrmilligan commented on #104
any update on this for jest 15?  I can't get junit xml output for the life of me!  it's nice when a test fails in ci and what not.

[2016-09-08 22:40] snapwich opened #1652 "debugger; and breakpoints don't work with node --inspect"
Currently breakpoints can be set for use with `node debug` using the keyword `debugger;`, but any breakpoints set with `debugger;` when using `node --inspect` are ignored.  This only applies to the test code; breakpoints set with `debugger;` within Jest or other node_module libraries are honored.

I set up a test repository to demonstrate the difference: https://github.com/snapwich/jest-inspect.

[2016-09-08 22:43] maximderbin commented on #1652
run into the same problem today

[2016-09-08 22:48] maximderbin commented on #1652
Also in your example
[code]

[2016-09-08 22:51] snapwich commented on #1652
@maximderbin not sure why you're getting that ReferenceError, `test` should be defined just a few line above there: https://github.com/snapwich/jest-inspect/blob/master/__tests__/jest.js#L5

[2016-09-08 22:52] maximderbin commented on #1652
related issue https://github.com/facebookincubator/create-react-app/issues/594

[2016-09-09 02:13] calebmer opened #1653 "Changing the snapshot directory"
I’m currently building my code (written in a compile to JS language) and outputting it to a `build` directory. I’d like to be able to use snapshot testing with Jest, is there a way to change the `__snapshots__` folder so that it doesn’t land in my `build` folder? Which is listed in the `.gitignore`.

[2016-09-09 02:18] cpojer commented on #1653
Duplicate of #1650.

Usually we recommend using a preprocessor in this case and running on the source. Can your compile-to-JS language compile individual files synchronously?

[2016-09-09 02:18] #1653 closed

[2016-09-09 03:00] cpojer commented on #1652
This is interesting. Is it possible that node's `--debug` flag doesn't work when using the `vm` module to create a context?

[2016-09-09 10:02] MoOx opened #1654 "babel-jest does use babel default env ("development")"
**Do you want to request a *feature* or report a *bug*?**

I think I found a bug while converting some tests from AVA to Jest. (AVA also handle babel transformation, but jest does do the transform the same way, see below).

**What is the current behavior?**

I am using the first react example from the website homepage and I am getting an "Unexpected token" on the `<a`. This is because my babel con

[2016-09-09 10:23] MoOx opened #1655 "Remove react-native special casing in jest-config normalize.js"
**Do you want to request a *feature* or report a *bug*?**

I think I found a BUG.

**What is the current behavior?**

When using a node module called "jsx-test-helpers", jest is trying to interpret the babel configuration that is shipped in the package.json. I were using this with AVA (which also transform using babel) but were not having this issue.

**If the current behavior is a bug, please pro

[2016-09-09 10:36] MoOx commented on #1655
A workaround seems to be using this config

[code]

[2016-09-09 12:31] MoOx commented on #1654
I finished by understanding that "test" is used. But this can be confusing when you don't know. Maybe it should just be added into the doc?

[2016-09-09 15:18] reauv commented on #1610
@cpojer To me it seems that if a file that is changed has a dependency (let's say dependency X) then it runs all the tests for components that also have dependency X even if they have no relation at all with the file that is changed. Is that correct?

[2016-09-09 15:26] cpojer commented on #1610
Let's assume this dependency tree:

[code]

When you change `d`, we will run both tests. When you change `c` it will only run `a.test.js`.

[2016-09-09 15:30] chrisvariety commented on #1086
@cpojer @keyanzhang was this feature completed? I too need `--harmony_proxies`

[2016-09-09 15:36] cpojer commented on #1086
@chrisvariety no! Instead we recommend upgrading to node 6 which has proxies on by default.

[2016-09-09 15:37] chrisvariety commented on #1086
@cpojer Thanks for your quick reply, good to know! Node 6 will be LTS in a few short weeks.

[2016-09-09 15:39] cpojer commented on #1654
Yeah you are right, we should add documentation for this. Jest sets the NODE_ENV to test if it isn't provided and otherwise let's you use a custom override. We don't use BABEL_ENV at all. I'm gonna close as wontfix but I'm happy to accept a PR for documentation.

[2016-09-09 15:39] #1654 closed

[2016-09-09 15:54] joonkee opened #1656 "Have separate snapshot files for branching behavior at compile time"
**Do you want to request a *feature* or report a *bug*?**
Feature Request

**What is the current behavior?**
Currently, I have Webpack inject some global constants at compile time to produce different builds depending on environment. This affects styling, what components are rendered, etc. If I run snapshot tests with these constants in Jest's globals config `"globals": { ... }`, previous snapshot

[2016-09-09 15:58] cpojer commented on #1656
We don't really have a way of doing this on the framework level and I don't think we need to. I recommend you to make your globals injectable and then write your tests like so:

[code]

Alternatively, you can also reset modules and redefine your globals:
[code]

Both of these options should be sufficient without introducing complexity to Jest.

[2016-09-09 15:58] #1656 closed

[2016-09-09 16:00] cpojer commented on #1655
It defaults to `node_modules` in Jest normally unless you use react-native without the react-native-preset (which isn't recommended). Unless of course you overwrite it manually.

[2016-09-09 16:45] sibelius opened #1657 "do not work with importDir"
*Before creating an issue please make sure you are using the latest version of Jest, try re-installing your node_modules folder and run Jest once with `--no-cache` to see if that fixes the problem you are experiencing.*

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
[code]
throws this error:

[code]

If I use this:
[code]
it do not throw an error,

[2016-09-09 16:48] cpojer commented on #1657
Jest doesn't really support module.parent, which is used here: https://github.com/hypercloud/import-dir/blob/master/index.js#L14

You can try adding a fully compatible version of it here: https://github.com/facebook/jest/blob/master/packages/jest-runtime/src/index.js if you'd like but honestly I'd rather not support this.

[2016-09-09 17:00] sibelius commented on #1657
is there other way to import multiple files that are compatible with jest already?

[2016-09-09 17:02] cpojer commented on #1657
importDir seems kinda crazy. For static analysis reasons I generally recommend to stick with require and import, also works with `jest --watch` to only run the minimum amount of files that were changed.

[2016-09-09 17:10] sibelius commented on #1657
it makes sense, thanks, I'll try to fix using only `import`

[2016-09-09 17:10] #1657 closed

[2016-09-09 19:11] MoOx commented on #1655
My problem is that I didn't had any jest config yet, so it was supposed to use default value right?
So looks like a bug.

Can this be related to the fact I was doing `NODE_ENV=development jest --no-cache` ?

[2016-09-09 19:14] cpojer commented on #1655
If you called Jest like that, then it always used `development` as env.

[2016-09-09 19:16] MoOx commented on #1655
Yeah but why do I need to specify preprocessorIgnorePatterns to node_modules? It is not the default for me, without this config, it try to resolve a node_modules

[2016-09-09 19:18] cpojer commented on #1655
Oh, I'm sorry, I thought this was the other issue you created.

This is indeed odd. Do you have react-native installed? There is some magic Jest is doing that we don't need to do any more, I should clean that up.

[2016-09-09 19:19] MoOx commented on #1655
I use react-native-web. So it's not a native react-native thing :D

[2016-09-09 19:21] cpojer commented on #1655
Does that download react-native at all? Like, do you have a react-native folder in node_modules/react-native?

[2016-09-09 19:24] MoOx commented on #1655
No real react-native, but I have a symlink, so yeah (it's supposed to mimic "react-native" API, so import like ``import { View } from "react-native"`` work).
webpack allow so do an alias, but with AVA i needed this symlink. Maybe I can remove it and use a jest option, like the mapper thing?

[2016-09-09 19:25] cpojer commented on #1655
yeah, probably best to use moduleNameMapper here and get rid of the react-native folder. Now that we have the rn preset as the recommended way to use Jest and RN together, we can remove our magical shitty hack in Jest too! :)

[2016-09-09 22:31] thejameskyle commented on #1640
pretty-format should not be doing this, it should be taking levels of objects into account when tracking refs.

[2016-09-09 23:27] cpojer commented on #1640
Yes, the circular printing is an issue with our own stringify function. I'd prefer to use a single-line version of pretty-format though.

[2016-09-10 00:06] joonkee opened #1661 "Add optional callback to jest.resetModules"
**Do you want to request a *feature* or report a *bug*?**
Feature Request

**What is the current behavior?**
I'm using Aphrodite with React and have it suppress its style injection behavior before each test run. I also need to reset the module registry before each run but I think the function to suppress style injection must be called after the reset completes. Would it be any useful for the `jest

[2016-09-10 00:08] cpojer commented on #1661
`jest.resetModules()` is synchronous. Old module references are still available however:

[code]

[2016-09-10 00:08] #1661 closed

[2016-09-10 00:20] joonkee commented on #1661
Wow, you really respond quickly. Thanks for doing that. I guess I must've overlooked something -- it didn't work when I tried calling both functions synchronously but worked fine when I put the function to suppress style injection in a callback to resetModules.

[2016-09-10 00:44] joonkee commented on #1661
Ah, it turned out to be my silly mistake. I forgot that I ran with --jsdom, which makes the suppressing unnecessary in any case. Sorry to have troubled you with this!

[2016-09-10 01:29] thejameskyle commented on #1640
https://github.com/thejameskyle/pretty-format/pull/34

[2016-09-10 02:36] ai opened #1662 "CLI option to run test by regexp"
**Do you want to request a *feature* or report a *bug*?**

Feature request

**What is the current behavior?**

I could only select a file by CLI `jest test/one.test.js`. To run only one test, I can use `fit()`.

**What is the expected behavior?**

Run specific `it("should work with UTF-8")` test by `jest -m UTF-8`

[2016-09-10 02:40] ai commented on #1662
AVA has `-m regexp` argument for this. Mocha has `-g regexp`.

[2016-09-10 03:51] cpojer commented on #1662
agree we should have this. @kittens was looking into this actually.

[2016-09-10 04:06] michaelryancaputo opened #1665 "`TypeError: arr.map is not a function`, but (lodash) _.map ok..."
**Do you want to request a *feature* or report a *bug*?**
bug?

**What is the current behavior?**
I receive an error `TypeError: arr.map is not a function` when running my test on this code:

[code]

test:

[code]

**What is the expected behavior?**
Be able to use Array.prototype.map() in components successfully. It seems for some reason importing Lodash is ok...

**Run Jest again with `--debug` a

[2016-09-10 04:19] cpojer commented on #1665
Hey! This is most certainly a minor issue with your code. Unfortunately without a repository that highlights this issue we won't be able to help.

Feel free to post this here and we can take a look but I'm closing this issue for now to keep the queue clean. Happy to reopen if this turns out to be a Jest issue.

[2016-09-10 04:19] #1665 closed

[2016-09-10 05:01] dmitriiabramov opened #1666 "trailing commas in diffs"
should we add them to fix the diffing?
<img width="258" alt="screen shot 2016-09-09 at 9 59 04 pm" src="https://cloud.githubusercontent.com/assets/940133/18408079/e43ad9ac-76d8-11e6-9b94-7b4559f6f3c3.png">

[2016-09-10 10:23] 0xR commented on #1637
I found this really confusing (bad DX). I figured only the testRegex was influencing which files were considered tests. So I update to be: `    "testRegex": "^.+\\.spec\\.jsx?$",`. However my tests were not found. I was going to submit a new issue but I found this one.

My advice would be to only use the `testRegex` setting since it already also matches the file extension. Having a setting which o

[2016-09-10 13:58] alexsotocx commented on #861
Hello I'm Using RealmJS and React Native, and it works in the devises but running in the test with jest it's not working.

Please refer to https://github.com/realm/realm-js/issues/593 where I reported the issue with code samples.

[2016-09-10 16:11] reauv commented on #1610
Thanks for your response. That makes sense, but if you have a dependency tree like this:
[code]
Each component has it's own test file. Whenever I change either `c.jsx` or it's test file it only runs those tests. But whenever I change `a.jsx` both the tests for `a.jsx` and `b.jsx` run.

[2016-09-10 16:12] Pomax commented on #1666
if this is an array compare, the diff is not a string diff, but an element diff, so as a test framework user I'd expect to see "-baz" only. "bar" is right there, in the right place, there is no need to flag it as both expected and received.

[2016-09-10 16:16] Pomax opened #1667 "using a dir other than __test__"
I'm sure some peope love underscores, but to others a dir named `__test__` is an absolute atrocity and it would be lovely to be able to tell jest which dir is the test dir. I don't see an option for this currently, so would it be possible to make this a CLI flag? `$> jest -i test ...` would be very user friendly compared to forcing a dirname that might not fit the fs conventions used by projects =

[2016-09-10 16:18] cpojer commented on #1667
By default Jest runs all `*.test.js`, `*.spec.js` and files inside of `__tests__`. You can adjust the `testRegex` config option to whatever you like.

[2016-09-10 16:18] #1667 closed

[2016-09-10 16:23] cpojer commented on #1666
yes I totally agree we should always print trailing commas in pretty-format if we show a multi-line diff, just like we do in our code style. This will make diffs better.

cc @thejameskyle

[2016-09-10 17:18] cpojer commented on #1637
Yeah this is a bit odd. We need `moduleFileExtensions` to find all files that we need to look at with watchman (at FB we have tens of thousands of files in repos with more than a million files etc.). Then we use testRegex on top of that to find the actual tests. I understand this is not very intuitive. We should probably update the documentation and also add jsx as a default for the next release.

[2016-09-10 18:31] calebmer commented on #1377
Any status on this?

[2016-09-10 19:05] dmitriiabramov commented on #1637
not sure if `.ts`, `.tsx` worth adding to defaults, but it will simplify configuration fro typescript projects and probably won't make it worse for the rest.
https://github.com/facebook/jest/pull/1668

[2016-09-10 21:51] cpojer commented on #1630
We should add `test.concurrent` to Jest with your implementation. This seems pretty sweet as an optional mode for things that do make network requests where people know about the downsides (we should document it as such). What do you say?

[2016-09-10 23:26] Xnave2 commented on #1551
Hi, I am now learning react and using react-scripts wich actually runs jest
I am having the same bug of "No tests found" and 0 matches.. tried to run by script {'test': 'jest'} and of course update to the latest version of jest (npm install --save-dev jest@^)  and got 15.1.1
but still no test found. It's driving me crazy hope someone can help.

No tests found
  7 files checked.
  testPathDirs: C:\

[2016-09-10 23:42] calebmer opened #1670 "Procedurally generated tests with an async dependency"
I have a project which will automatically generate an API based on some schema data which must be fetched asynchronously. I’d like to provide a testing interface for these automatically generated APIs, say the function `testApi(api)` which will run the necessary `describe`s and `it`s to create an entire test suite for that api. So here’s an example:

[code]

My first idea was to do something like

[2016-09-11 00:51] cpojer commented on #1551
It seems like there is also a bug with spaces in dir names on windows. See #1639 – we'll fix it in the next Jest release.

[2016-09-11 00:56] cpojer commented on #1670
In Jasmine you need to define all your tests (calls to `it` or `describe`) before the end of the test. This is a limitation we can't do so much about right now. Can you make it so your tests are generated synchronously? beforeAll definitely does work in Jest, however and can be made async too. `beforeAll` is called before the first call to `it`.

[2016-09-11 01:51] cpojer opened #1671 "pretty-format should use ~ instead of ^"
Snapshots use pretty-format. When we change how we print objects, snapshots get invalidated and have to be updated.

[2016-09-11 01:53] thejameskyle commented on #1666
https://github.com/thejameskyle/pretty-format/pull/36

[2016-09-11 02:55] ai opened #1672 "lint-staged integration"
**Do you want to request a *feature* or report a *bug*?**

Feature request

**What is the current behavior?**

Jest have only `--onlyChanged` and `--lastCommit`.

**What is the expected behavior?**

Add some `--changed FILES` to mark changed files manually.

Just `jest FILES` will not works, because [lint-staged](https://github.com/okonet/lint-staged) could report not only test files changes, but

[2016-09-11 02:58] ai commented on #1672
There is a awesome project [lint-staged](https://github.com/okonet/lint-staged). It works as `pre-commit` hook and takes all changed files from stage (added to staged by `git add`) and run linter on it.

Seems like Jest have awesome changes detection. As I understand If I will change `scr/main.js`, Jest will execute `test/main.test.js` on `--onlyChanged`.

But `--onlyChanged` works on every change

[2016-09-11 03:09] cpojer commented on #1672
I totally agree we should have this! In fact, in our more advanced runner internally at FB we have this. Do you mind working on a PR for this?

Check out how changedFiles is used in SearchSource: https://github.com/facebook/jest/blob/master/packages/jest-cli/src/SearchSource.js#L20 – we could make it so if a list of files is passed and the `--changed` option is passed, we sidestep the git/hg check

[2016-09-11 03:32] ai opened #1673 "Coverage check out-of-box"
**Do you want to request a *feature* or report a *bug*?**

Feature request

**What is the current behavior?**

It is awesome, that Jest have many tools out-of-box. For example, `--coverage`. But what is a point to have coverage if you can’t check it in CI? :)

**What is the expected behavior?**

Add `--coverage --statements 100` options. And exit with non-zero exit code on smaller coverage results

[2016-09-11 03:34] ai commented on #1673
Right now my workaround:

[code]

But it requires extra `istanbul` dependency.

I agree that it is not big deal. But if we have build-in `--coverage`, I think we should have built-in coverage check.

[2016-09-11 03:41] ai commented on #1672
Thanks for link — it will help for PR.

I could make PR after few weeks (sorry, have few open source duties in queue).

[2016-09-11 04:41] #1666 closed

[2016-09-11 05:38] cpojer commented on #1673
There is a `coverageThreshold` configuration option for this. http://facebook.github.io/jest/docs/api.html

[2016-09-11 05:38] #1673 closed

[2016-09-11 05:47] ai commented on #1673
Wow. Thanks.

[2016-09-11 06:52] okonet commented on #1672
@ai thanks for initiating it! I appreciate it.

@cpojer hey! We met at ReactVienna once :)

I'll create a PR ASAP

[2016-09-11 17:39] tizmagik commented on #1468
@dmitriiabramov I'm in a similar situation. Working on a modular build system and need to be able to pass in some runtime configuration to the scriptPreprocessor. But since `scriptPreprocessor` is expected as a `string`, it's impossible to pass in any runtime configuration without resorting to some global shared state mutation.

If, instead, it were to accept a `string` _or_ `function` I think tha

[2016-09-11 21:25] jsynowiec commented on #926
Any news regarding glob patterns for testPath? Most other tools that we usually use rely on glob patterns for specifying input files so it may be more natural and easier to use globs instead of regex in the package.json file.

[2016-09-11 21:28] calebmer commented on #1456
Ok, so after more research this appears to be a problem with Firebase itself, and there is no way to cleanup short of calling `process.exit`.

Resources:

- http://stackoverflow.com/questions/18046639/node-process-doesnt-exit-after-firebase-once
- https://github.com/urish/firebase-server/issues/44

All of the workarounds involve manually calling `process.exit`. I’m afraid to do this in a Jest cont

[2016-09-11 22:50] cpojer commented on #1468
You can make your own preprocessor that simply does this:

[code]

and then point scriptPreprocessor to that file.

See https://github.com/facebook/jest/blob/master/packages/babel-jest/src/index.js#L53

This makes the simple case simple and the hard case possible. I don't think we'll make scriptPreprocessor a function and the current solution should work well enough.

[2016-09-12 00:00] jonathanong commented on #1456
i'd love a `--exit` flag or something (it could be a per-file comment or something) that automatically closes the processes when tests complete, similar to mocha. it's a little annoying to manually close every connection in every test file.

[2016-09-12 00:26] gillchristian commented on #1456
I'm having the same problem [when I run tests in Codeship](https://codeship.com/projects/144633/builds/18209252). Locally it works properly though.

[2016-09-12 01:07] tizmagik commented on #1468
@cpojer thanks for taking the time to reply! Sorry but maybe I'm not doing a good job of explaining what's happening. So, what you have suggested is what I am doing. However, I don't see a way of passing in (at run-time) parameters that would affect `babelOptions`.

[code]

[code]

[code]

Assuming `testScript` is what eventually runs Jest, I don't see a way of passing in `optionThatAffectsBabelOp

[2016-09-12 02:05] ccorcos commented on #1468
Check out how `create-react-app` does it:

https://github.com/facebookincubator/create-react-app/blob/master/config/jest/transform.js
https://github.com/facebookincubator/create-react-app/blob/master/scripts/utils/createJestConfig.js#L27

[2016-09-12 02:07] tizmagik commented on #1468
@ccorcos right, but notice that CRA is not passing in any runtime options. It's all just loading static files.

[2016-09-12 02:10] AriaFallah commented on #1473
@dmitriiabramov

Could you reopen this issue? Migrating from AVA to Jest, and the `test.only` syntax is the only thing I miss.

[2016-09-12 03:40] cpojer commented on #1473
test.only will be added in 15.2. For now use `fit`.

[2016-09-12 03:40] AriaFallah commented on #1473
@cpojer

Thanks! I'll live for now 😅

[2016-09-12 03:43] cpojer commented on #1468
I don't understand what you are saying with "runtime". The preprocessor is required by Jest and is used to transform files. When it is being required you can do whatever you want to create your babel options object that you pass on to `createTransfomer`. I'm pretty sure there is just some confusion here because this API gives you all the power you need and if it's not enough then there is some con

[2016-09-12 05:17] cpojer commented on #1456
It seems to me like Firebase should be fixed.

I have no reservations against adding an option called `--forceExitAfterTestRun` and it should be easy to add. I think it just requires a change to exit here: https://github.com/facebook/jest/blob/master/packages/jest-cli/src/cli/index.js#L41 if the flag is given regardless of the result.

[2016-09-12 09:23] 4ware commented on #1456
Seems to be a race condition of sorts. Sometimes it quits after running all test locally sometimes it doesn't...

[2016-09-12 10:19] jsynowiec opened #1677 "coverageReporters option is missing from API docs"
I was looking for a way to set additional coverage reporters and found that there is the [coverageReporters](https://github.com/facebook/jest/blob/master/types/Config.js#L29) option available that takes an array of strings. I assume, that those are exactly the same names that Istanbul takes for reporters and that all [standard reporters](https://github.com/gotwarlost/istanbul/tree/master/lib/repor

[2016-09-12 10:39] jsynowiec commented on #1211
The `collectCoverageFrom` seems to be still missing from the API documentation. Also I can't get this working.

For e.g. given the following source files:
[code]
and tests:
[code]

If i set the `collectCoverageFrom` to `"collectCoverage": ["src/**/*.{ts,js}"],` the `server.ts` file is still missing from the coverage report.

jest@15.1.1

[2016-09-12 17:09] jorilallo commented on #1456
I'm running this as well after starting to use Jest for my API specs where I'm using real database instead of mocks (sorry 😇 but snapshots are great for this). I yet been able to solve the issue even after adding `afterAll` hooks to clean up connections which leads me to believe it's some how related to my population of fixtures in `setupFiles`, not the easiest to debug.

Jasmine seems to have `--

[2016-09-12 17:13] jonathanong commented on #1456
another issue - if a test fails, then `afterAll()` isn't called, so nothing is cleaned up and nothing closes. i think `--bail` will fix this but i haven't tried that yet

[2016-09-12 17:50] dmitriiabramov commented on #1468
@tizmagik as i understand you're trying to pass a parameter from your build process (e.g. `grunt` or `gulp` pipeline) into jest transform, so that jest transformation is affected by outer process?
as @cpojer said, you can do anything inside your custom preprocessor, but if you really need to pass some external parameters you can probably use environment variables.
e.g.
[code]

then in your customP

[2016-09-12 17:53] dmitriiabramov commented on #1473
@AriaFallah they're not documented yet, but you can see the full list of new globals in https://github.com/facebook/jest/pull/1632

[2016-09-12 18:03] dmitriiabramov commented on #1611
hm... we shouldn't be writing any JSON manually. this is strange

[2016-09-12 18:03] okonet commented on #1672
@cpojer what do you think of #1678? Also need some help with the output -- see comment.

[2016-09-12 18:04] #1598 closed

[2016-09-12 18:08] mjackson opened #1679 "Use the "expect" npm package"
I'd like to donate use of the [expect](https://npmjs.com/package/expect) npm package to the Jest project. We're both working on very similar `expect`-style APIs, except you guys are killing it with awesome error messages and I'm not. So I wanna let you run with it :)

AFAICT there are only a few places where our APIs differ. Please correct me if I'm wrong. They are:
- `expect` uses e.g. `.toNotEqu

[2016-09-12 18:23] dmitriiabramov commented on #1630
i agree, we should add it. It is a pretty dangerous construction, but i assume people will know what they're doing if they use it :)

[2016-09-12 18:29] dmitriiabramov commented on #1670
if your definition is fetched asynchronously there is nothing we can really do to make it work :(
i think the best solution would be to stick it all into one test case and provide nice messages if something failed:

[code]

[2016-09-12 18:35] ccorcos commented on #1468
Ah yes, I see what you mean @tizmagik. You want to be able to something like this:

[code]

but all we have is this:

[code]

[2016-09-12 18:35] dmitriiabramov commented on #926
it's still on our plan. First we need to make sure there is no performance regression when using globs and then we'll probably keep both regxeps and globs in jest configuration :)

[2016-09-12 18:38] dmitriiabramov commented on #1677
yes. this is directly proxied to istanbul. we should add it to the docs!

[2016-09-12 18:44] dmitriiabramov commented on #1211
@jsynowiec do you have an example project that i can look at?
we have an integration test for `.ts` coverage that seems to be working https://github.com/facebook/jest/blob/master/integration_tests/typescript-coverage/package.json

and what does your full config look like?

[2016-09-12 18:49] tizmagik commented on #1468
@ccorcos yes, exactly!

What @dmitriiabramov  suggested would work, but I would rather avoid having to simulate/affect some global state.

Would you accept a PR for this change?

[2016-09-12 18:53] cpojer commented on #1468
I still don't fully follow here. If you pass in the options to the scriptPreprocessor from the outside I see no problem to instead create them from the inside. Just factor out the piece of code that creates your babel config:

[code]

we are using this approach all over at FB and it works well for us.

[2016-09-12 18:54] dmitriiabramov commented on #1679
@mjackson i think the biggest issue will be migrating `expect(x).toMatchSnapshot()`
and we haven't quite figured it out ourselves yet :)

the issue here is that it depends on some jest global state (like current running test, filename, whether it's running in `--update` mode or not, etc). and that means that there has to be some pretty complicated integration with the test runner.
and also
wheneve

[2016-09-12 19:00] jsynowiec commented on #1211
@dmitriiabramov yes, you can check my [jsynowiec/node-typescript-boilerplate](https://github.com/jsynowiec/node-typescript-boilerplate). In my current project Jest configuration is the same.

You can clone that repository and add a new file (`cp src/main.ts src/another.ts`), then add `"collectCoverageFrom": ["src/**/*.{ts,js}"],` to jest config in package.json. After this run `npm run t:c`.

I'm g

[2016-09-12 19:05] ccorcos commented on #1468
Yeah but that not a runtime configuration.
On Mon, Sep 12, 2016 at 11:53 Christoph Pojer <notifications@github.com>
wrote:

[2016-09-12 19:20] dmitriiabramov commented on #1468
@tizmagik i think the biggest thing here is being able to pass config to child processes, when we run tests in parallel.
I don't think there's an easy way to pass a function to another process right now, but i might be wrong.

see https://github.com/facebook/jest/blob/master/packages/jest-cli/src/TestRunner.js#L255

[2016-09-12 19:23] mjackson commented on #1679
@dmitriiabramov Help me understand. Right now, `expect` doesn't have any concept of snapshotting. So it's essentially just a new feature for `expect` users. What is there to migrate?

[2016-09-12 19:33] dmitriiabramov commented on #1211
@jsynowiec i could reproduce the issue and was able to fix it by removing
[code]
from the config.

@cpojer if we have `testPathDirs` in `package.json`, hast-map doesn't seem to have any files outised of the `test` directory, is that intentional?

[2016-09-12 19:41] cpojer commented on #1211
`testPathDirs` is unfortunately the worst name someone gave to this field ever. It simply means `roots`, ie. that Jest will only look into folders specified in `testPathDirs`. The default is `rootDir`.

[2016-09-12 19:45] cpojer commented on #1630
It's not that dangerous actually if you exclusively use inline requires! We are in a really good position to provide a safe version of this:

[code]

this way every concurrent test will have its own copy of the module registry, as long as they are all required immediately before scheduling async work.

[2016-09-12 19:49] jsynowiec commented on #1211
@cpojer @dmitriiabramov thanks for clarifying this. API documentation is currently a bit misleading.

[2016-09-12 19:57] ConAntonakos commented on #717
@cpojer's solution was partially there for me in terms of a solution. I wanted to mock the `navigator.userAgent` multiple times within a single test suite. I didn't know how else to mock browser environments besides setting the `userAgent` dynamically.

I used the following `defineProperty` to be able to mutate the `navigator.userAgent`:
[code]

[2016-09-12 20:03] ccorcos commented on #1468
oh interesting. you accept only file path for parallelism... seems like we should be able to solve this issue if the args are serializable. then we have something kind of like how webpack loaders work:

[code]

[2016-09-12 20:12] cpojer commented on #1468
@ccorcos can you show a real example of why my proposal won't work? In practice it worked really well for us. It requires you to only invert a few things and will probably lead to a better separation of concerns.

[2016-09-12 20:44] Daniel15 commented on #1611
I confirmed that `JSON.stringify` correctly escapes `\` characters, so there must be something else that's causing this JSON to be invalid.

[2016-09-12 20:46] dmitriiabramov commented on #1611
@Daniel15 i'll look inside istanbul coverage reporters. most likely it's something in there that's causing this

[2016-09-12 21:09] ccorcos commented on #1468
Here's a pseudocode example:

[code]

The `buildOptions` are not static -- they're generated at runtime based. `runJest` doesnt accept a babel config, but to a file that exports a babel config. So perhaps a solution would be to write the babelConfig to a file in `/tmp` and point to it with this scriptProcessor option, but thats certainly hacky.

[2016-09-12 21:11] cpojer commented on #1468
Why do your build options change so much and why are they generated? I feel like there must be a simpler way with more static build configuration that's stored in a file somewhere.

[2016-09-12 21:13] ccorcos commented on #1468
because I have a complicated (legacy) build system and have to support several different ways of doing things.

[2016-09-13 01:03] alansouzati opened #1681 "Snapshot test fails after upgrading to Node 6.5.0"
**Do you want to request a *feature* or report a *bug*?**

Bug report

**What is the current behavior?**

After upgrading to Node 6.5.0 I started facing issues with anonymous function value

[code]
**What is the expected behavior?**

I'm not sure what the expected behavior should be. I could easily run `jest -u` but I don't think that's the fix here.

I believe that the snapshot value should be le

[2016-09-13 01:56] dmitriiabramov commented on #1681
what node version did you upgrade from?

[2016-09-13 02:40] kentcdodds opened #1682 "New tab in Terminal.app during Watch Mode does not open to PWD"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When I open a new tab in Terminal.app during watch mode, it doesn't open in my current working directory. I'm not sure why. Here's a gif:

![example](https://cloud.githubusercontent.com/assets/1500684/18459713/162457a2-7929-11e6-975b-d398ddfaac95.gif)

[2016-09-13 03:07] alansouzati commented on #1681
From 6.1.0

[2016-09-13 06:22] khankuan opened #1683 "Snapshot testing with shallow rendering"
Hey, snapshot testing is awesome! Wonder if there is any consideration for shallow rendering. Cheers!

[2016-09-13 13:51] calebmer commented on #1670
Yeah, probably the direction I’ll go. Although I have been witnessing a Twitter firestorm recently on top level `await`s lol, maybe one day that can be a solution 🙃

(lot’s of sarcasm, please don’t take seriously)

[2016-09-13 13:51] #1670 closed

[2016-09-13 15:28] andersonjb opened #1685 "JEST not detecting test files that end in .jsx, even when specified with "testRegex""
Jest v15.1.1
NPM 2.14.3
Node 4.1.0
Windows 7 x64

Configuration:

Running JEST through GULP, passing parameter "testRegex" does not seem to accept JSX files as test files. I have tried two different strings:

\.test\.js
Expected Behavior: Identifies and runs files that end with .test.js
Actual Behavior: Identifies and runs files that end with .test.js

\.test\.jsx
Expected Behavior: Identifies and

[2016-09-13 18:07] dmitriiabramov commented on #1685
hey @andersonjb
you should add `.jsx` to `moduleFileExtensions` config options
this will soon be the default behavior.
you can refer to this PR https://github.com/facebook/jest/pull/1668/files#diff-ab09e5aa1ed478de64fca31554ece7ddR36 :)

[2016-09-13 18:07] #1685 closed

[2016-09-13 18:32] cpojer commented on #1681
Yes this is expected. Node 6.5 and its v8 version are smarter at detecting function names.

For example:

[code]

`obj.apple.name` might be `apple`. Update your snapshots and you are good to go!

In the future, updates to node or Jest may require you to update your snapshots. This is expected.

[2016-09-13 18:35] alansouzati commented on #1681
Well, what about all other developers using other versions of Node?

Their snapshots will fail, and I can't just ask them to update to the latest Node.

It would be great if Jest would be more agnostic to this, right? I may be missing something here.

[2016-09-13 18:36] alansouzati commented on #1681
I can update my code to avoid using anonymous functions, but this feels like limiting to me.

[2016-09-13 18:46] cpojer commented on #1681
Yeah I'd recommend explicitly giving these functions a name. Unfortunately I don't have a good answer for this – we'd like the function names to be in the snapshot because it could be an unexpected change.

I understand that this is unfortunate but I believe these changes are happening rarely enough on the engine level that it isn't gonna be a huge issue going forward. Node 6 is going to be an LTS

[2016-09-14 01:40] kentcdodds opened #1689 "Assertion Enhancement: toBeCalled(x)"
I'd like to request that we either add `toBeCalledOnce()` or `toBeCalled(x)` where `x` represents the number of times the mock function was called.

There is a subtle but significant difference between these two assertions:

[code]

The difference is that the second asserts that it was called only one time. No more, no less. The first only asserts that it was called, not that it was only called on

[2016-09-14 01:44] maximderbin commented on #1689
@dmitriiabramov do you want me work on this?

[2016-09-14 01:49] dmitriiabramov commented on #1689
actually.. we already have `expect(jest.fn()).toHaveBeenCalledTimes(x)`
but unfortunately it's not documented :)
sorry.. we're still cleaning things up in our documentation

[2016-09-14 01:49] #1689 closed

[2016-09-14 04:19] #1630 closed

[2016-09-14 04:26] #1621 closed

[2016-09-14 04:35] cpojer commented on #1626
This is a good idea, thanks for starting a PR.

[2016-09-14 06:53] #1677 closed

[2016-09-14 09:02] redstrike opened #1692 ""No tests found" if project dir path contains " " (space) on Windows"
**Do you want to request a *feature* or report a *bug*?** bug
**What is the current behavior?** No tests found.
**What is the expected behavior?** Ran all the tests.

I am using Jest v15.1.1. Still having this issue. Luckily, I can reproduce the bug.
The bug occurs when directory path contains " ".

[jest_debug.txt](https://github.com/facebook/jest/files/471627/jest_debug.txt)

![jest space path b

[2016-09-14 13:00] andersonjb commented on #1685
That worked, thank you!

The error thrown by jest when passing the testFileExtensions parameter could use an update. It only mentions testRegex as a replacement. The blog entry from the error also has the same lack of info, listing only testRegex as the replacement.

[2016-09-14 15:23] kentcdodds opened #1693 "Incorrect lines for source files in error stack traces"
I saw [this tweet](https://twitter.com/khoanguyenme/status/775765122056716288) and was excited to respond that the stack traces also show you the correct line number and even highlight the lines from your tests which I think is awesome.

I was going to post this photo to go with that:

<img width="1606" alt="screen shot 2016-09-14 at 9 11 42 am" src="https://cloud.githubusercontent.com/assets/1500

[2016-09-14 16:42] reflog opened #1694 "Jest fails with: "Could not locate the bindings file""
Hi.
I have some code that depends on node-etcd, which in turn depends on deasync.
The code runs fine, under node 6.5 and 6.2.
I've added a simple test for that code using jest, and when executed, jest fails with the following:

[code]

Indeed, the files that are mentioned in the error are not present, but, to reiterate - when running the same test file without jest (just the actual test code) - it

[2016-09-14 17:45] thangngoc89 opened #1696 "Specify a single test file to run with Jest"
**Do you want to request a *feature* or report a *bug*?**

This is a *feature request*

**What is the current behavior?**
I can't specify a single test file to run with Jest

**What is the expected behavior?**
I'm migrating test files from AVA to Jest and with AVA I can do this `ava path/to/test/file.js`. It's pretty handy when you run integration test after a build.

I'll try to explain my situat

[2016-09-14 18:28] dmitriiabramov commented on #1696
hey @thangngoc89!
you can pass a testRegex directly to cli

`jest integration-tests` should just work!

[2016-09-14 18:34] thangngoc89 commented on #1696
Thanks !

[2016-09-14 21:06] cpojer commented on #1694
Thanks for reporting. This does seem like a bug!

[2016-09-14 21:08] cpojer commented on #1692
This was fixed in https://github.com/facebook/jest/pull/1639. We'll make a release tomorrow.

[2016-09-14 21:08] #1692 closed

[2016-09-14 21:10] cpojer commented on #1683
This should be answered by the React team. I think it would be useful to have but I don't know about their plans.

See https://github.com/facebook/react/issues/7148

[2016-09-14 21:10] #1683 closed

[2016-09-14 21:19] cpojer commented on #1693
We tested this with your repro (thanks for that) and it seems like the issue is the class-properties transform that you are using in `Toggle.js`. We have `retainLines` set to true in `babel-jest`, however when this transform is enabled it doesn't seem to be respected properly. This might be impossible unless all the class properties are defined right after the constructor. Maybe file an issue with

[2016-09-14 21:19] #1693 closed

[2016-09-14 21:24] cpojer commented on #1682
I've tried to repro this with both iterm2 and Terminal.app and zsh and bash and couldn't repro.

Here are the settings I used (+ the bash overwrite):
<img width="777" alt="screen shot 2016-09-14 at 2 23 13 pm" src="https://cloud.githubusercontent.com/assets/13352/18530534/d4cb97a2-7a86-11e6-82bf-a7a8566cbd12.png">

It looks like this is related to your setup. When I use zsh, for example, it doesn'

[2016-09-14 21:24] #1682 closed

[2016-09-14 21:24] #1681 closed

[2016-09-14 21:27] cpojer commented on #1672
Thanks @okonet for the proposal. To make sure we don't have duplicate issues, I'm gonna close this issue in favor of the PR.

[2016-09-14 21:27] #1672 closed

[2016-09-14 21:34] alansouzati commented on #1681
I'm fine with that. thanks for following up

[2016-09-14 21:39] cpojer commented on #1650
This is something where we'll need some help from the community. I think a good way to support this is by adding a config option `resolveSnapshots` that points to a module with two functions:

[code]

this way we can call these methods to resolve the snapshot path from a test path and the other way round and it will enable use to keep snapshot files consistent.

[2016-09-14 21:40] cpojer commented on #1637
This is gonna be in the next release tomorrow. Thanks @dmitriiabramov.

[2016-09-14 21:40] #1637 closed

[2016-09-14 21:44] cpojer commented on #1626
I'm gonna close out this issue in favor of the work that is going on in the PR and to make sure there is only one place we are discussing it :) Thanks for all your work so far!

[2016-09-14 21:44] #1626 closed

[2016-09-14 21:46] cpojer commented on #1624
Yes that is indeed a bug! Is this something you (or anyone else who is running into this) could help out with? The code should be somewhere around here: https://github.com/facebook/jest/blob/2699ed50ae4f849dfc384d3a4f4c4687b9fb24b0/packages/jest-resolve/src/index.js#L201

[2016-09-14 21:47] zackargyle commented on #1624
I can take a stab. 👍  Seems like it might be a really easy fix.

[2016-09-14 21:49] cpojer commented on #1622
I think the right fix for this would be to do two diff passes: one that uses `toJSON` inside of pretty-format and if the two objects are identical, call pretyt-format again with `toJSON` ignored. This will require some small changes to pretty-format and jest-diff.

[2016-09-14 21:49] #1613 closed

[2016-09-14 21:49] cpojer commented on #1613
Thanks @fson!

[2016-09-14 21:51] cpojer commented on #1612
Yeah, let's use natural sort for this like I recommended previously. This should only require the sort call from here: https://github.com/cpojer/jest/blob/dfa96d6d9a67ac21b5b64d3baa68f50f177e9cc9/packages/jest-snapshot/src/SnapshotFile.js#L108 to be changed to natural sorting. I'm sure there is an npm module for this :D

[2016-09-14 21:53] cpojer commented on #1611
@IljaKroonen we'll need more info to be able to troubleshoot this issue. Can you provide a repository that we can npm install and npm test that highlights the issue you are running into? Thanks!

[2016-09-14 21:55] cpojer commented on #1607
I think to do this we need two things:

* A detailed blog post explaining what snapshot testing is and why it is useful (and when not to use it). @kentcdodds are you willing to help with that for the Jest blog?
* A simple 3-5 word explanation so that the comment with URL fits into one line.

[2016-09-14 21:56] cpojer commented on #1606
It seems like we aren't escaping regex properly. We can fix this by introducing an option to pretty-format that will escape regex.

[2016-09-14 21:57] cpojer commented on #1605
@dmitriiabramov test.todo seems easy enough to add. Do you mind helping with this since you already added all the other ones from this issue?

[2016-09-14 21:58] cpojer commented on #1603
ping @yaycmyk are you willing to help out with a PR for this?

[2016-09-14 21:59] cpojer commented on #1599
yeah, this might not be easy. Happy to help out if anyone wants to attempt a PR. Message me on discord (see http://facebook.github.io/jest/support.html )!

[2016-09-14 21:59] yaycmyk commented on #1603
I can eventually, but don't have time in the next month or so to get to it.

[2016-09-14 22:00] cpojer commented on #1592
This is gonna be part of renaming jest-matchers to expect. I'll close this issue for now. https://github.com/facebook/jest/issues/1679

[2016-09-14 22:00] #1592 closed

[2016-09-14 22:05] cpojer commented on #1603
Ok, I'm gonna close out this issue to manage the queue. If you do end up working on it (or anyone else) please send a PR. It's unlikely we'll get to it.

[2016-09-14 22:05] #1603 closed

[2016-09-14 22:09] cpojer commented on #872
I think this should be fixed in the latest version of Jest that we are releasing tomorrow. Feel free to reopen if this is still a problem.

[2016-09-14 22:09] #872 closed

[2016-09-14 22:23] timReynolds commented on #872
Thanks will update and try it.

[2016-09-14 23:49] fson commented on #1612
Thanks for the pointers, I'll work on this tomorrow.

[2016-09-15 00:59] cpojer commented on #1571
yay we fixed this. Nice work @skevy.

[2016-09-15 00:59] #1571 closed

[2016-09-15 02:26] cpojer commented on #1575
I think it's ok to live with this for now. Feel free to send a PR if you'd like to fix this, though.

[2016-09-15 02:26] #1575 closed

[2016-09-15 02:26] #1591 closed

[2016-09-15 02:27] cpojer commented on #1569
I think it is gonna be hard to sync this all the time when the CLI args change. Most of the time when people actually need them, they have Jest installed locally and can check the runtime flags.

I do agree we should at least sort them alphabetically though.

Since there hasn't been any action on this issue, I'll close it to manage the queue but I'm happy to accept PRs that improve the situation.

[2016-09-15 02:27] #1569 closed

[2016-09-15 02:28] #1557 closed

[2016-09-15 04:12] cpojer commented on #1532
Istanbul released a much faster implementation of their coverage collector which should hopefully help with this. Otherwise there isn't anyone working on this so closing the issue.

[2016-09-15 04:12] #1532 closed

[2016-09-15 04:13] cpojer commented on #1456
If anyone would like to send a PR, this is something that we could use some help with and I outlined details in my previous comment :)

[2016-09-15 04:15] cpojer commented on #1520
I'm gonna close this because it is unlikely anyone will be working on this. Will be happy to accept a PR.

[2016-09-15 04:15] #1520 closed

[2016-09-15 04:16] cpojer commented on #1172
closing due to inactivity. Feel free to send a PR that fixes this issue! :)

[2016-09-15 04:16] #1172 closed

[2016-09-15 04:17] cpojer commented on #649
Now that we disabled automocking by default I don't think we'll actively invest in building this.

[2016-09-15 04:17] #649 closed

[2016-09-15 04:18] gillchristian commented on #1456
I'll give it a shot if I get some time over the weekend. If someone wants to do it before that it'd cool :smile:

[2016-09-15 05:13] cpojer commented on #1536
@dmitriiabramov would you mind adding docs for `collectCoverageFrom` and removing `collectCoverageOnlyFrom` from the docs? I consider it internal and deprecated.

[2016-09-15 05:14] cpojer commented on #1369
I think we are ok with this restriction and there hasn't been any progress on this issue so will close it. Happy to accept a PR for a new matcher.

[2016-09-15 05:14] #1369 closed

[2016-09-15 05:17] cpojer commented on #1305
This is a limitation that we'll have to live with for a while. I'm gonna create a new issue soon with a detailed plan on how to improve manual mocking so I'll close this issue for now.

[2016-09-15 05:17] #1305 closed

[2016-09-15 06:21] reflog commented on #1694
Awesome! Do you want me to create a repo to for reproducing the problem, or it's clear for you?

[2016-09-15 08:35] cpojer commented on #1694
A repo would be helpful, yes! Sorry for the bug.

On Wed, Sep 14, 2016 at 11:21 PM -0700, "Eli Yukelzon" <notifications@github.com<mailto:notifications@github.com>> wrote:

Awesome! Do you want me to create a repo to for reproducing the problem, or it's clear for you?

-
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/facebook/je

[2016-09-15 08:39] umgupta commented on #1211
hi @jsynowiec Were you able to find a fix ? My jest configuration is  -
[code]

app has a folder main and lots of folder inside. And tests folder follow the same structure.
I have written test case for just one file and I get this report.

`PASS  tests/main/components/PrimaryNav.test.js
  ✓ Renders PrimaryNav with user prop (9ms)

----------|----------|----------|----------|----------|------------

[2016-09-15 08:55] seeden opened #1700 "async/ await toThrow is not working"
next test

[code]

will fail and don't catch error properly (I am using latest version of jest)

[2016-09-15 09:18] reflog commented on #1694
Welp. It's always useful to create a reproducing repo. This way - you find out, that you are a dumb ass :) Apparently, I forgot that I had a preprocessor for Typescript, (ts-jest) and it was the one causing the problems.

Jest is not at fault here. Yey!

Closing the issue - no bug here.
Thanks!

[2016-09-15 09:36] reflog commented on #1694
I've opened the bug in ts-jest https://github.com/kulshekhar/ts-jest/issues/2

[2016-09-15 09:48] kentcdodds commented on #1607
I'd be happy to write a blogpost for the Jest blog sometime.

For the wording, how about:

[code]

I'm sure that'd fit on one line on pretty much anyone's screen.

[2016-09-15 11:27] kulshekhar commented on #1694
Just a note for posterity - this error was caused by the `deasync` dependency which needed to be rebuilt using `node-gyp`. It wasn't due to a bug in `jest` or `ts-jest`

[2016-09-15 11:35] IljaKroonen commented on #1611
Any basic Jest setup has the problem on my system. I made a repo:
https://github.com/IljaKroonen/jest-json-bug

This is my output:
[code]

[2016-09-15 11:43] mthmulders commented on #1369
Too bad it's been closed. I don't mind creating a PR for this.

Let's assume that `toContainEqual` will be the name of the new matcher? Also, let's assume that most existing examples for `toContain` (e.g., those with arrays of numbers, arrays  of strings, `null` and `undefined`) are supposed to have the same result in `toContainEqual`?

[2016-09-15 12:37] reflog commented on #1694
@cpojer , with help of @kulshekhar we came to the conclusion that it is, in fact a problem with Jest.
Here's a repo with steps to reproduce:
https://github.com/kulshekhar/jest_bug_test

To check:
1. do 'npm start' -> it will successfully run the code
2. do 'npm test' -> it will fail to find the bindings

This repo doesn't use any preprocessors, it's just jest and javascript.

Thanks in advance!

[2016-09-15 15:47] cpojer commented on #1700
Yes, this isn't supported currently. See https://github.com/facebook/jest/issues/1377

[2016-09-15 15:47] #1700 closed

[2016-09-15 16:29] dmitriiabramov commented on #1536
will do

[2016-09-15 16:36] dmitriiabramov commented on #1211
hey @umgupta
`collectCoverageFrom` accepts a list of globs, and not regular expersions
so in your config instead of
[code]
you should have
[code]

you can find globs documentation here https://github.com/sindresorhus/multimatch

[2016-09-15 17:02] Pomax commented on #1569
If you build jest, it should be super easy to export the `--help` readout into the README.md as part of the build (just make sure there's a heading for it, and replace the content during the build step?)

[2016-09-15 17:22] cpojer commented on #1369
@mthmulders please send a PR! Let's call it toContainEqual and I'll think about the name until the PR is ready. Maybe there is something better :)

[2016-09-15 17:26] ntwcklng commented on #1485
Hi,
what do you think about my approach?
https://github.com/ntwcklng/jest/commit/99493b6404900fa7c2c17b0f360d64df04c4ac24

It uses the fs.createWriteStream to create a File with the specified name in the new CLI option ```--jsonOutputFile="fileName.json"```

[2016-09-15 17:28] cpojer commented on #1485
Hey! Please send a Pull Request for this. I think using `fs.writeFileSync(filename, JSON.stringify(data))` should work just as well for this :)

[2016-09-15 18:18] kentaromiura opened #1705 "Feature request: function memoization and fixtures"
Feature request:

I've seen this pattern more frequently, people like to have a function run once then store the result of it and use that the next time it runs.

A typical case is with network requests, people as an example would mock `fetch` to return the exact same result as the real request to avoid flaky-ness in the tests, other cases might be mocking stdout to replicate an `exec/spawn` call

[2016-09-15 18:51] thymikee commented on #1599
@cpojer I'd like to give it a try

[2016-09-15 19:03] mthmulders commented on #1369
[_Et voilà_](https://github.com/facebook/jest/pull/1706). Name can (still) be discussed :).

[2016-09-15 19:05] hyungccho opened #1707 "testRegex not detecting .coffee files"
Hey Jest team,

Running into an issue with getting Jest and Coffeescript to work together. I'm not sure if I have everything set up perfectly, but it looks like the `testRegex` field isn't detecting `.coffee` files. Here's what I have so far: https://github.com/hyungccho/jest-coffeescript-bug.

### Steps to reproduce:
  - `npm install`
  - `npm test`
  - See that `sample-test.js` is being detected

[2016-09-15 19:06] cpojer commented on #1707
Please also add `coffee` to `moduleFileExtensions`. Jest only looks at files with this extension and then testRegex is used to narrow down the files.

[2016-09-15 19:06] #1707 closed

[2016-09-15 19:13] hyungccho commented on #1707
@cpojer Thanks for the quick response!

[2016-09-15 19:13] ALWAL12 opened #1708 "Inject layout through onLayout's View"
I have a component that vary its rendering depending on its width. To achieve this, I use the `onLayout` property of `View` component. Hence, in my tests, I don't seem to be able to _inject_ a mocked layout and the method `onLayout` does not seem to be called at all.

Example of a snapshot test:
[code]

I'm not sure how to approach this.

**Version**
jest: 15.1.1
node: v5.3.0
npm: 3.3.12
OS: Windo

[2016-09-15 19:16] cpojer commented on #1708
We are not going to be able to help you without a repository that shows this issue. Note that this is unlikely a Jest issue but rather a testing question on how to write a test for a specific react-native component. Feel free to add more info but I'm going to close this to manage our queue.

Happy to reopen if this turns out to be a Jest issue.

[2016-09-15 19:16] #1708 closed

[2016-09-16 00:37] alansouzati commented on #1681
Actually the anonymous is returned by `jest.fn()`, this is my declaration:

`const onAnchorClick = jest.fn();`

Any idea how to avoid this issue given that declaration?

[2016-09-16 00:41] alansouzati commented on #1681
This is how I did it:

[code]

it would be nice if jest.fn can detect function names by the variable declaration.

[2016-09-16 00:45] iam-peekay commented on #1353
I ran into the same issue. Tried using `jest.mock('react/lib/ReactDefaultInjection');` but it throws a new error saying:
[code]

[2016-09-16 01:31] Aweary commented on #1353
@iam-peekay we do not recommend mocking any internal module for React. It's very likely doing so will cause strange issues like what you're seeing. This should be resolved in 15.4.0 though!

[2016-09-16 02:06] iam-peekay commented on #1353
👍

[2016-09-16 03:37] cpojer commented on #1671
(closing in favor of PR).

[2016-09-16 03:37] #1671 closed

[2016-09-16 03:40] #1655 closed

[2016-09-16 05:40] jamonholmgren opened #1718 "Jest test passes, but warning "Unknown prop `id` on <div> tag.""
You can try it yourself by checking out this repo: https://github.com/infinitered/thesis-phoenix

[code]

**What is the current behavior?**

The test passes, but I get a strange error.

[code]

![image](https://cloud.githubusercontent.com/assets/1479215/18576345/7327b0e8-7b95-11e6-9fd1-24f2ec24e96b.png)

**What is the expected behavior?**

I'd expect the test to pass with no warning.

**Run Jest a

[2016-09-16 05:41] jamonholmgren commented on #1718
The snapshot works fine, and brunch doesn't report any errors.

[2016-09-16 08:14] LasseNisted opened #1719 "Jest 15.0 upgrade guide should mention moduleFileExtensions"
The guide https://facebook.github.io/jest/blog/2016/09/01/jest-15.html is very helpful when upgrading to Jest 15.0.

However, we used quite some time debugging to figure out why our tests where not being found when we converted:

[code]

Turns out we also needed `"moduleFileExtensions": ["ts", "tsx", "js"]` to include ts/tsx-files.

Consider adding it to the guide, and also consider adding it to t

[2016-09-16 11:34] bookman25 commented on #1561
Looks like NodeJS 6.4 has resolved the issue with differences in path queries. https://github.com/nodejs/node/issues/6624#issuecomment-243124145  I'm not 100% sure if this will make sure that both getPackageRoot and the Coverage will both work the same way (because I'm not sure how coverage determines path).  But at least I think this resolves the issue I was seeing.

[2016-09-16 11:34] #1561 closed

[2016-09-16 14:55] rosiakr opened #1720 "Jest for react-native does not recognize all props for <TouchableHighlight />"
I have a class for my custom button:

    import React, { Component } from 'react';
    import { StyleSheet, View, TouchableHighlight, Text, Image } from 'react-native';

    class NavBarBackButton extends Component {

      static propTypes = {
        onClick: React.PropTypes.func.isRequired,
        buttonText: React.PropTypes.string,
        customStyle: React.PropTypes.object
      };

[2016-09-16 15:13] cpojer commented on #1719
thanks @LasseNisted. Would you mind sending us a PR that updates the blog post? And potentially a second one that updates the error message? It should be in this file: https://github.com/facebook/jest/blob/master/packages/jest-config/src/normalize.js

[2016-09-16 16:24] phated commented on #1679
Coupling this to the global state of a specific runner for snapshots would make this a non-starter. I'm also confused why nothing would be thrown immediately (also seems like that would break usage in other test runners).

[2016-09-16 16:27] mjackson commented on #1679
@phated It's my understanding that `expect(x).toMatchSnapshot` depends on global state, but the other methods do not and will continue to throw immediately. Since `toMatchSnapshot` isn't actually something that currently exists in `expect`, it shouldn't adversely affect existing users.

[2016-09-16 16:27] cpojer commented on #1679
We won't be adding the snapshot matcher to expect from the beginning. For now it will just be `jest-matchers`. Snapshotting is done in its own package, `jest-snapshot`. We will explore ways to bring snapshotting to other runners through `expect` (cc @suchipi) but it isn't our immediate goal. @dmitriiabramov didn't know this was coming because I failed to communicate with him.

[2016-09-16 19:13] suchipi commented on #1679
I don't know how `expect` is architected, but in https://github.com/facebook/jest/pull/1413 I was trying to make the snapshot matcher pretty agnostic; with the proposed changes, this is how it would be used:
[code]
So as long as you can bring your own `actual`, path to the snapshot file, and whether it should update, you could implement it anywhere.

[2016-09-16 20:15] altayaydemir commented on #930
I'm having this issue on Jest 15.1.1, both `new Response` and `new Request` give `ReferenceError: Response/Request is not defined`.

Any recommendations?

[2016-09-16 20:45] umgupta commented on #1211
Thanks, that worked :)

[2016-09-16 21:11] zackargyle commented on #1624
PR up for fix: https://github.com/facebook/jest/pull/1723

[2016-09-17 00:13] Daniel15 commented on #1561
Cool, thanks for the update. It seems like Node.js has a lot of edge cases in environments that are case insensitive (Windows, and Mac OS by default)

[2016-09-17 03:23] #1536 closed

[2016-09-17 03:25] cpojer commented on #1718
You must not call `jest.mock('react/lib/ReactDefaultInjection')` because it disables a bunch of internal React stuff that is necessary. See https://github.com/facebook/jest/issues/1353#issuecomment-247498277

[2016-09-17 03:25] #1718 closed

[2016-09-17 03:31] cpojer commented on #1720
We don't specifically mock TouchableHighlight. It is rendered as View because that is what react-native renders it to.

It seems like TouchableHighlight sets props directly on its native backing element: https://github.com/facebook/react-native/blob/master/Libraries/Components/Touchable/TouchableHighlight.js#L200 and you'd need a special mock for it to make it so your prop shows up in the rendered

[2016-09-17 03:31] #1720 closed

[2016-09-17 04:29] #1624 closed

[2016-09-17 05:13] cpojer commented on #1262
Holy shit we are almost done, I cannot believe we actually did this.

[2016-09-17 05:15] maximderbin commented on #1262
🎉

[2016-09-17 05:24] cpojer opened #1725 "Don't mark snapshots as obsolete when a test fails or `fit` or `xit` are used."
We aggressively clean up snapshots in Jest and mark them as obsolete, sometimes too aggressively. We shouldn't do it in the cases mentioned above because it means Jest or the test file aren't in a natural state.

[2016-09-17 05:28] cpojer opened #1726 "Collapse big diffs by default"
Both for snapshots and regular diffs in other matchers, the diffs often get unwieldy and huge. Let's find a good heuristic to collapse unimportant info by default and add an `-e` (`--expand`) flag to print the full diff. It should be intentionally different from `--verbose`.

Proposed heuristic:
* Always print small diffs, collapse unimportant diffs over N lines automatically
* Always print small

[2016-09-17 05:40] dmitriiabramov commented on #1726
a couple of thoughts:
- it's important to always print full diffs when running in CI mode.
- if we implement interactive snapshot updates, we can always show small diffs and then give an option to expand (`press 'e' to expand snapshot diffs`)

[2016-09-17 05:44] cpojer opened #1727 "Use pretty-format instead of jest's stringify"
TODO: add option to disable `toJSON` calls in pretty-format.

pretty-format now has a `min` option that helps us keep the output small.

[2016-09-17 05:47] cpojer opened #1728 "Disable `toJSON` in pretty-format it diff is identical."
When comparing two values using `toEqual`, quite often they can look equal and produce the `No visible difference` message even though they are completely different objects.

Example:

[code]

this will produce "No visible difference". When this happens, we should run pretty-format again with `toJSON` calls disabled and then print an initial message that says we are printing the internal object st

[2016-09-17 06:33] Spy-Seth commented on #1726
👍

If use with in watch mode `--watch` it could led to an interactive mode close of `git stash pop --patch`. It will allow the developer to browse interactively each change and validate each one separately. On each diff the developer could chose between: show next/previous diff, expand, update snapshot, ignore.

[2016-09-17 09:59] 0xR opened #1730 "Integrating chai doesn't work because expect(actual).not is accessed"
**Do you want to request a *feature* or report a *bug*?**
Improvement

**What is the current behavior?**
I am trying to integrate chai with jest to port over my existing mocha/chai/webpack codebase.

Expect is overridden in the setupTestFrameWork script with the code below.

[code]

This works in that the chai matchers become available and the existing jest matcher also work. Actually even the jas

[2016-09-17 11:30] dmitriiabramov commented on #1730
hm.. the easiest way to make it work is probably add a `setupFiles: ['removeExpect.js']` config option that will contain:
[code]

and then jest add a condition to the `extendJasmineExpect`
[code]

alternatively we can either introduce `--no-expect` flag or `--no-globals`

[2016-09-17 11:36] suchipi commented on #1730
Is there a way to get jasmine's expect function from somewhere other than `global`? Does jasmine expose it anywhere else (the same function reference)?
If so, `extendJasmineExpect.js` could be updated to get it from there, and then it would only patch jasmine's expect. Then no config option would be needed

[2016-09-17 11:39] suchipi commented on #1730
If tweaking the vendored jasmine is okay, then the global expect it adds could be renamed to `global.jasmineExpect`

[2016-09-17 11:56] 0xR commented on #1730
Interesting fact is that the `setupTestFrameWork` script will actually run before `extendJasmineExpect`. Therefore deleting `global.expect` won't work.

Currently I'm trying out this, which looks promising:
[code]

Note that when I skip `extendJasmineExpect` this won't happen anymore:
[code]
(I found this in `jest-jasmine2/src/index.js`)

[2016-09-17 12:16] suchipi commented on #1730
Shouldn't that return `jasmineMatchers`?
Might also be good to capture additional args (in case there's an expect function that uses them out there? Not sure).
Maybe something like:
[code]

[2016-09-17 12:16] 0xR commented on #1730
Indeed I just caught that bug

[2016-09-17 12:25] suchipi commented on #1730
If `extendJasmineExpect` only runs in the vm once, then it'd be more performant to do the `instanceof` check once outside of the function body (instead of every expect call):
[code]
Not sure if this is the case, though.

[2016-09-17 12:41] cpojer commented on #1730
We should make it so setupTestFrameworkScriptFile runs afterwards. This way you can modify expect anyway you like and you can rename it to jestExpect in your project.

[2016-09-17 12:45] 0xR commented on #1730
@cpojer this makes sense. I'll try that out as well.

Currently I'm trying to get my experimental project to install `jest-jasmine2` from a github tarball which is proving more difficult than it should.

[2016-09-17 16:15] gaearon commented on #1262
💜

[2016-09-17 16:59] altayaydemir commented on #1637
In order to make both `index.jsx` and `index.test.jsx` work, I've added following lines to my jest  configuration.

[code]

[2016-09-17 20:39] jamonholmgren commented on #1718
Ah, thank you @cpojer. I think I added that line due to some earlier issues I had.

[2016-09-18 12:21] cpojer commented on #1612
Implemented in #1732 and will be merged soon.

[2016-09-18 12:21] #1612 closed

[2016-09-18 12:22] #1730 closed

[2016-09-18 12:27] cpojer commented on #1662
Will be implemented in the next release, see the attached PR :) Nice work @fson.

[2016-09-18 12:27] #1662 closed

[2016-09-18 16:28] finalight opened #1734 "mocking socket"
is there anyway to mock socket with jest?

basically my app is a 2 player game, whereby the first player creates a room, and then wait for player 2 to join (player 2 have to enter the game code provided by player 1 manually) before the navigator proceeds to the next scene which is the actual game.

However, I cannot proceed to the second scene until the player 2 enter the pin. In this case, I need

[2016-09-19 08:04] oviava opened #1736 "What am I missing - mocking es6 imports"
I'm using this in my module

`import { myFirstFunction, mySecondFunction } from '../../MyModule';`

When mocking in my test:

[code]

[code]

I can't debug this as there seems to be an issue with debugger breakpoints in this version of jest.

[2016-09-19 08:12] oviava commented on #1736
figured it out, can close this, it's because of the hoisting.

[2016-09-19 08:12] #1736 closed

[2016-09-19 14:47] tleunen opened #1737 "`comp.type.name` is empty using jest"
**What is the current behavior?**
With `react-test-renderer` and using jest (no watcher), the type name of a component is empty. But with the watcher, the name property of `type` contains the component name.

[code]

**What is the expected behavior?**
`component.type.name` should contain the name of the component.

[2016-09-19 15:53] tleunen commented on #1353
Having this error when using `mount`: `Cannot read property 'monitorScrollValue' of null`.
Tried @LouisStAmour's solution but I can't make it work :/

[2016-09-19 15:58] rosiakr commented on #1720
@cpojer Thank you for quick response! My snapshot looks much cleaner now.
Additional question - currently my output complains that I'm not covering a line which specifies `onPress` prop as a function passed in

    static propTypes = {
        onClick: React.PropTypes.func.isRequired,
        ...
    };

    <TouchableHighlight
        onPress={() => {this.props.onClick()}} > //no coverage for thi

[2016-09-19 16:06] ColCh opened #1738 "Provide a feature to mock native components in React Native"
I want to request a feature. Using React Native v0.33, jest latest v15

**What is the current behavior?**
Non-testable code, which uses custom native component

**What is the expected behavior?**
Provide some way to define mock for native component.

______________________________

It's just about `requireNativeComponent`. Can we mock it or something? I wanted to make a snapshot test with native c

[2016-09-19 16:34] ColCh commented on #1738
Ok. It seems that `requireNativeComponent` is defined as `get-only` property.

This is it's property descriptor:
[code]

So, if you want to mock this function, do this:
[code]
Calling `jest.resetModules();` will reset `requireNativeComponent` back to normal.
Inside of `runTests();` I have `it` and `expect(tree).toMatchSnapshot();`, as regular components.

For that code, this snapshot is generated:

[2016-09-19 17:02] tleunen commented on #1353
Hey @Aweary, if mocking is not recommended, what's the recommendation since 15.4 is not released yet?

[2016-09-19 17:11] ColCh commented on #1738
No, I will reopen it, since it generated helpful snapshots for some native components.

[code]

[2016-09-19 17:43] ColCh commented on #1738
# Hotfix
(Or "Resolve"?)

Just use React Element when you are mocking your native Component:

Same code as abode, but only difference:
[code]

Provides this snapshot:
[code]

👍 👍 👍

[2016-09-19 17:46] Aweary commented on #1353
@tleunen the easiest way is to keep tests that utilize packages dependant on react-dom in a separate file from tests that use react-test-renderer. Not ideal, but it should avoid this for now.

Otherwise, @cpojer I think you once mentioned using `jest.resetModuleRegistry` to get this working in one file? Not sure if you recommend actually doing that though.

[2016-09-19 17:49] ColCh opened #1739 "jest-react-native: Modal is not mocked"
`Modal` component is not mocked:
[code]

Of course, when you mock it manually ( see #1738 ), it starts to work.

[2016-09-19 18:08] bsr203 commented on #1353
@Aweary I see a new minor release for react in just few mins back. as mentioned here https://github.com/facebook/react/issues/7601#issuecomment-247639258, I wonder whether the fix is already in the master or how we know it will be fixed in 15.4. I see all these issues are closed, but not referring to the fix. thanks.

[2016-09-19 18:28] Aweary commented on #1353
@bsr203 I don't think the fix is being released as a patch, so it wasn't included AFAIK. It should be out with the next minor release, which would be 15.4

[2016-09-19 18:59] ColCh opened #1740 "Coverage flag breaks snapshot test"
I think it's because of code instrumentation
[code]
[code]
Running with `jest` is just OK.

Source code and func name for onSelectHandler:
`jest`:
[code]
And for `jest --coverage`:
[code]

How I can avoid this issue? Force use anonymous functions on every place? 😯

[2016-09-19 19:38] nornagon commented on #1740
I've also noticed tests that pass consistently without `--coverage` break consistently when `--coverage` is passed. I'm not sure how to inspect the instrumented code, but happy to help out debugging this if I can.

[2016-09-19 19:47] ColCh commented on #1740
Degugging:
[code]
First line will show function name, second will show function source code.

I think this issue comes from __istanbul__, I can investigate it tomorrow

[2016-09-19 20:44] anilanar opened #1741 "Feature request: allow a hook for overriding serialize function in jest-snapshot"
I have a custom component implementation based on incremental-dom and I wish to do snapshot testing for it.

I've checked the source code of `jest` and from what I've figured, it is as easy as replacing `serialize` function in `jest-snapshot/src/SnapshotFile.js`, which converts a given data to a string against which comparison/matching is done. In React's case, `serialize` takes a jsonized react c

[2016-09-19 21:58] anilanar commented on #1741
Just tested `serialize(data: any): string { return data; }` for comparing plain strings just to see if it works. It works great.

[2016-09-19 23:14] trevordmiller commented on #1593
I tried to fork the project so I could submit a pull request; however, the postinstall hooks failed on my machine; I'm on latest mac + latest Node + latest npm:

![image](https://cloud.githubusercontent.com/assets/5497885/18651953/e7cbf4e2-7e8b-11e6-8360-5c1ba58e9342.png)

It looks like all that needs to be changed is the `chalk` modifiers on lines [21-22 of jest/packages/jest-cli/src/reporters/ge

[2016-09-20 00:22] cpojer commented on #1353
A workaround to use both enzyme (with react-dom) and react-test-renderer in one file is:

[code]

This will give you fresh copies of React for every test.

[2016-09-20 00:22] alansouzati opened #1742 "Intermittent issue with Travis build"
Sometimes my Travis build is failing with the following log:

[code]

**Do you want to request a *feature* or report a *bug*?**

 report a bug

**What is the current behavior?**

https://travis-ci.org/grommet/grommet/builds/161188855#L579

[2016-09-20 00:34] cpojer commented on #1737
It is unlikely this depends on the watch mode but rather something going on in your code. Would you mind providing a repository that highlights this issue?

It doesn't look like this is a Jest issue so I'll close this issue to manage the queue. If this does turn out to be a Jest issue, I'm happy to reopen once there is more info, but it looks like a React thing and some general confusion.

[2016-09-20 00:34] #1737 closed

[2016-09-20 00:41] tleunen commented on #1353
Thanks @cpojer, I'll try that.

What if, inside the same test, we want to render something with Enzyme, and then use rest-test-renderer for the snapshot? (I know we'll do 2 renders but the snapshots makes it a lot easier to test/review).

[code]

Is this something that will be supported in the future?

[2016-09-20 00:42] cpojer commented on #1742
Can you try to use `-i` on travis which will run all the tests in one thread instead? I'm thinking this might be a resource problem, like one or many tests are leaking memory or something similar.

[2016-09-20 00:47] cpojer commented on #1353
I don't see the value in that. Once the test-renderer has a find API there is little value in using enzyme for this kind of testing. The React team is working on it.

[2016-09-20 00:51] tleunen commented on #1353
But the test-renderer doesn't have any way to simulate a click, the only way is to call the props. But what if a component is handling a click on an element to update the internal state and change the rendering based on that?
Unless you know they're also working on a way to click on something? :)

[2016-09-20 00:53] cpojer commented on #1353
What is a click in an environment that is a fake implementation of the DOM? It is simply a function call, so calling a prop called `onClick` is exactly the same.

[2016-09-20 01:00] alansouzati commented on #1742
Thanks for the follow up. I will try this option. One question: if this is a memory leak in my code, should I be able to reproduce it locally? I tried running tests 20x in a roll with multiple threads and I could not reproduce the issue. Also, I haven't heard back from any of our community members regarding this intermittent issue in their locals.

Could this be related to timeout or something? On

[2016-09-20 01:01] cpojer commented on #1742
Travis in general doesn't have a lot of resources so you might not be able to notice this because your CPU and memory is much better than what a travis vm gives you.

[2016-09-20 01:02] cpojer commented on #1742
I'm gonna close because there is probably nothing actionable for us and `-i` has worked in the past. If it turns out to be an issue in Jest and you have a repro, we are happy to help you fix it.

[2016-09-20 01:02] #1742 closed

[2016-09-20 01:15] #1548 closed

[2016-09-20 01:40] cpojer commented on #1740
cc @dmitriiabramov

[2016-09-20 01:45] cpojer commented on #1739
Would you mind sending us a PR with a mock for Modal?

[2016-09-20 01:46] cpojer commented on #1738
It seems like you figured out how to provide your own mock. If you can think of a generic solution to this, please feel free to send a PR. I'm gonna close this issue for now however as I'm unclear what kind of action we could take.

[2016-09-20 01:46] #1738 closed

[2016-09-20 01:48] cpojer commented on #1593
Seems like lerna might not work so well with spaces in the path. cc @hzoo

[2016-09-20 01:52] cpojer commented on #1593
Will be in the next release of Jest. Thanks for raising the issue.

[2016-09-20 01:52] #1593 closed

[2016-09-20 02:01] #1485 closed

[2016-09-20 04:57] cpojer commented on #1734
Any JavaScript function can be mocked simply by doing `myModule.myFunction = jest.fn()` or using `myModule.myFunction = jest.fn(() => mockReturnValue);`.

[2016-09-20 04:57] #1734 closed

[2016-09-20 04:57] cpojer commented on #1734
See http://facebook.github.io/jest/docs/api.html

[2016-09-20 05:10] trevordmiller commented on #1593
Thank you @cpojer! Do you know why `npm install` wouldn't be working for me? I'd like to get it working so I can potentially contribute to Jest in the future.

[2016-09-20 05:20] cpojer commented on #1593
I'd recommend trying it outside of a path that contains a space, in this case "Google Drive". Looking forward to your contributions.

[2016-09-20 06:41] ColCh commented on #1739
yes, for sure. I just wanted to store isssue like TODO item

[2016-09-20 08:20] cpojer commented on #1633
Fixed in https://github.com/facebook/jest/pull/1745

Dammit, if Flow would have been set up properly in the project, I would have caught this when I changed jest-diff initially :(

[2016-09-20 08:20] #1633 closed

[2016-09-20 09:15] ColCh commented on #1740
Yes, this is istanbul.

Related issue: https://github.com/gotwarlost/istanbul/issues/699

For now, I wanted to point out a hotfix for that. Just wrap your named func into anonymous proxy func:
[code]

And snapshot transforms then to this:
[code]

However, this is a hack...

[2016-09-20 10:30] MicheleBertoli opened #1746 "Does deepUnmock only work with require?"
Hello! Thanks for your amazing work with the new version of Jest.

I know that the `deepUnmock` function is not documented (yet?) but I was following #1188 and I would really love to use it.

However, I found out that it works only with `require` and it doesn't with modules (unless there's something wrong with the following code).

Is there a reason for that? Can I apply a workaround or something?

[2016-09-20 15:12] atkinchris opened #1748 "Docs are ahead of released version - different config defaults"
The currently published documentation references configuration defaults that are not included in the latest release - but are in the latest source.

Example, for the key _moduleFileExtensions_:

[Docs Default](https://github.com/facebook/jest/blob/master/docs/Configuration.md#modulefileextensions-array)
[code]

[Source Implementation](https://github.com/facebook/jest/blob/master/packages/jest-conf

[2016-09-20 16:23] jardakotesovec opened #1749 "spyOn functionality"
I am trying to figure out how to best approach following use case in jest.

I don't want to mock function, just spy on it and let original implementation do the work. Lets say I want to track how many times query was called on postgres driver. Following approach works:
[code]

Issue is that I also have to assign original implementation at the end of the test so it does not affect others in same fi

[2016-09-20 18:29] mandysimon88 opened #1751 "Enable jest.addCustomEqualityTester() like Jasmine has"
**Do you want to request a _feature_ or report a _bug_?**
Request a feature.
**What is the current behavior?**

`jest.addCustomEqualityTester()` throws `TypeError: jest.addCustomEqualityTester is not a function`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal repository on GitHub that we can `npm install` and `npm test`.**

**What is the expecte

[2016-09-20 18:38] dmitriiabramov commented on #1740
yeah.. it seems like there's nothing we can do on the jest side, unless we omit function names in snapshots.
in theory it should be possible for istanbul to keep the names of most of the functions using only static analysis, right?

[2016-09-20 18:42] ColCh commented on #1740
@dmitriiabramov Take a look on my snippets above...

Recap. Given this handler (AKAIK it should be an anonymous function):
[code]
It writes this handler in snapshot:
[code]
How can it be?

[2016-09-20 19:18] quentin- commented on #975
Can you elaborate about this? I've tried Jest in React project but I ran into memory problem. When running the following test thousands of time the heap grows until an allocation error is thrown.

[code]

[code]

[2016-09-20 21:22] kellyrmilligan commented on #1605
the docs seem to say that test.skip() is available now, is that not the case?  I can just use xit insead for now, but it was confusing. jest version 15.1.1 says it.skip is not a function.

[2016-09-20 22:11] cpojer commented on #1605
ah, we accidentally pushed the website but not a release yet. There'll be a new release in the next few days.

[2016-09-20 22:31] cpojer commented on #1748
Thanks for bringing it up. We don't unfortunately have different branches for the website and accidentally published the website yesterday with a bunch of new things. We'll be making a release this week, however.

[2016-09-20 22:31] #1748 closed

[2016-09-21 00:48] cpojer commented on #1740
Yeah we should probably just get rid of function names in the snapshots. I originally liked this a lot but it is causing more trouble than it is worth.

[2016-09-21 07:15] Schniz opened #1753 "feature: `it`, without an implementation"
This is a feature for the `it` declaration.

Currently, the following code produces no output:

[code]

Maybe we can show a warning, just like in `rspec`.

![image](https://cloud.githubusercontent.com/assets/2054772/18701170/e928e0b2-7fe3-11e6-81a3-d8498bc8c28e.png)

this can help stubbing tests for edge cases (like a `TODO:`), and provide a clean syntax to do so.

[2016-09-21 07:15] cpojer commented on #1753
This is tracked in https://github.com/facebook/jest/issues/1605

[2016-09-21 07:15] #1753 closed

[2016-09-21 07:17] Schniz commented on #1753
:+1: thanks for the fast response

[2016-09-21 07:22] winterbe commented on #1638
After updating all dependencies (RN 0.32 -> 0.33, react-test-renderer -> 15.3.2) the problem seems to be solved.