[2020-08-31 15:14] zsombro commented on #9430
we've successfully converted all of our jest tests to use and import our ES6 code, but we got stuck on a few packages: namely `puppeteer` and `uuid`

The app only works if we import them into an object (like `import uuid from 'uuid'`), but the tests will not run this way. However, if we replace this import with the deconstruction syntax (such as `import { v4 } from 'uuid'`, then it's the other way

[2020-08-31 15:31] AlastairM-E opened #10470 "Can I use the Jest logo for personal use?"
Hi,

I would like to use the Jest logo on my personal website.

It would be used to show that I can test using Jest, as a skill.

Can I have permission to use the logo?

[2020-08-31 15:50] jkrems commented on #9430
That sounds like your app is compiled to CommonJS and isn't using modules in practice. From "real" ESM `import uuid from 'uuid'` shouldn't work because [`uuid` has no default export](https://github.com/uuidjs/uuid/blob/7f1af044be4a21c5cc41e410b3bb86048be14093/src/index.js) and [exposes an ESM build for node](https://github.com/uuidjs/uuid/blob/7f1af044be4a21c5cc41e410b3bb86048be14093/package.json#

[2020-08-31 15:51] thymikee commented on #10470
Yes you can :)

[2020-08-31 15:51] #10470 closed

[2020-09-01 06:53] chapmanjacobd commented on #5369
I think this issue can be closed?

https://github.com/pnpm/pnpm/issues/1007

[2020-09-01 06:53] #5369 closed

[2020-09-01 06:54] scttcper commented on #10447
Running into the same thing, seems to have been changed in #9326

[2020-09-01 07:41] zackzergzeng commented on #10448
anyone here can reply this problem?

[2020-09-01 07:55] jean-smaug commented on #6423
Even when i upgrade to `v14.9.0` I still got this problem.
I'm also using `got` in my project.

Did you change anything else ?

[2020-09-01 09:50] sennett commented on #6423
@jean-smaug  This works for me:

[code]

All the versions:

- nock@13.0.4
- got@11.5.2
- jest@26.4.2
- node v14.9.0 (installed via nvm)

[2020-09-01 14:09] xgqfrms commented on #1815
# jest ignore

[code]

https://www.cnblogs.com/xgqfrms/p/13598791.html

[2020-09-01 15:30] dirkluijk commented on #9021
I have the same issue in my Angular project. For some reason, when I remove `package.json` in (`projects/my-project`, not the one in my root), the error is gone.

I got this error when I added a path mapping to my project from my `tsconfig.spec.json`:

[code]

[code]

However, I need my `package.json` there because it is the one that gets packaged by Angular.

What do I need to do?

[2020-09-01 17:32] AlastairM-E commented on #10470
Thanks

[2020-09-01 19:23] ferco0 opened #10471 "moduleNameMapper wrong match with specifically similar path names"
## 🐛 Bug Report

The moduleNameMapper loader hits on wrong path when the names are specifically similar

## To Reproduce

Steps to reproduce the behavior:
configuration maps
[code]
and then import from `@app/sumB`
## Expected behavior

Import files from `@app/sumB` instead from `@app/sum`

## Link to repl

https://repl.it/repls/OccasionalWrathfulRefactoring

## envinfo

[code]

[2020-09-01 19:27] jeysal commented on #10471
The second line `@app/sum` does match `@app/sumB`, so it makes sense that that is the first match and thus selected. Maybe you wanted the lines to be anchored `^@app/sum$`?

[2020-09-01 19:37] ferco0 commented on #10471
This, thanks.

[2020-09-01 19:37] #10471 closed

[2020-09-01 20:19] choilmto opened #10472 "Update documentation around @shelf/jest-mongodb"
## 💬 Questions and Help
I'm using shelfio/jest-mongodb, and their [docs](https://github.com/shelfio/jest-mongodb) indicate that they're using `process.env.MONGO_URL` instead of `global.__MONGO_URI__`. Please update the Jest documentation accordingly.

### Please note that this issue tracker is not a help forum and this issue will be closed.

For questions or help please see:

- [The Jest help page

[2020-09-01 21:52] clemenspeters commented on #1388
I ended up doing

[code]

[2020-09-02 02:35] FabianSellmann commented on #10468
That is expected behaviour I would say. You should clean up timers, mocks etc. in `afterEach` if needed.

[2020-09-02 03:13] NitishQuovantis commented on #10111
Are you able to resolve this issue?

[2020-09-02 08:30] SimenB commented on #9021
Can you put together a reproduction? I'd like to fix this so people don't need any workarounds (or at least give a clearer/actionable error)

[2020-09-02 16:02] murphyke commented on #6413
How is this as a workaround?

[code]

[2020-09-02 16:17] siyahatami commented on #8285
for me this is solved just by adding following line to file:
`import '@types/jest';`

[2020-09-02 18:16] kirill-konshin commented on #6413
@murphyke your code gave me the idea, what about this:

[code]

E.g. use strings directly to include them in test name and object for the rest.

[2020-09-02 18:17] juliosampaio opened #10473 "jest.retryTimes fails when used along with test.concurrent"
## 🐛 Bug Report

Using `jest.concurrent` along with `jest.retryTimes` makes the test not to be executed again when it fails.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The test should be executed again as many as times set with jest.retryTimes(RETRY_TIMES) when it fails;

## Link to repl or repo (highly encouraged)

https://github.com/juliosampaio/jest-concur

[2020-09-02 21:20] murphyke commented on #6413
@kirill-konshin I dig it; that's the best adaptation yet.

[2020-09-02 21:23] jasonwr commented on #10111
Doesn't sound like it. Any ideas? I'm also looking into this.

[2020-09-02 23:28] mogarick commented on #7780
I'm running Jest v26.4.0 and the problem occurs even though I added `testEnvironment="node"` in `jest.config.js`. I used the code posted by @wi-ski and that solved the problem.
In my case I'm using Amplify and for Auth it uses its own crypto-js module version and it was failing when comparing `aVariable instanceof Uint8Array` presumably due the the same problem reported here.
Happy to have found t

[2020-09-03 02:57] Yilong94 commented on #5427
I have a similar requirement and I did a workaround by chaining commands together and using the `coverageThreshold` CLI option (which isn't formally documented)

In my package.json:
[code]

I will run `npm run test:coverage`. The first chained command will ensure that individual files committed must have at least 50% code coverage in statements while the second chained command will check that all

[2020-09-03 04:17] learngi commented on #8449
Hi, can you please tell me where can I do that?

[2020-09-03 05:36] yangpengpeng69 opened #10474 "jest import tippy.js package raise not resolve themes\light-border.css:1"
Jest encountered an unexpected token

    This usually means that you are trying to import a file which Jest cannot parse, e.g. it's not plain JavaScript.

    By default, if Jest sees a Babel config, it will use that to transform your files, ignoring "node_modules".

    Here's what you can do:
     • To have some of your "node_modules" files transformed, you can specify a custom "transformIgnore

[2020-09-03 08:28] ghasemikasra39 opened #10475 "Jest TypeError: (0 , _jestUtil(...).tryRealpath) is not a function"
## 🐛 Bug Report

I am trying to come up with correct jest config to test a simple screen:
[code]

This is my test:
[code]

However, when running the test, I get this error:
[code]

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior
The test should run without error.

## Link to repl or repo (highly encouraged)
This is my jest setup configuration
[code]

[code]

## envinfo

[co

[2020-09-03 09:05] FezVrasta commented on #8387
@MrLoh where's the PR? I only see the issue

[2020-09-03 09:10] glennreyes commented on #9636
I disagree. To me it's a huge win if I can get a fully typed configuration without ever having to look up the documentation for every single option anymore. I'd rather have auto suggestions popping up in my editor than an X ms faster initial execution.

[2020-09-03 11:08] SimenB commented on #10475
Please add a reproduction

[2020-09-03 11:16] ghasemikasra39 commented on #10475
Dear @SimenB
Thank you for your response. Our product is huge and unfortunately, I cannot turn it into a reproducible example with minimal functionalities.

[2020-09-03 11:21] SimenB commented on #10475
Then this issue is unfortunately not actionable - an error message without a reproduction isn't enough to go on

[2020-09-03 11:21] #10475 closed

[2020-09-03 11:50] jondo89 commented on #6888
How would one then pull in a sitemap.xml and set all of the endpoints?

[2020-09-03 11:56] MrLoh commented on #8387
#9944 But I doubt it will ever be merged, I haven't heard back a single word from any contributor.

[2020-09-03 14:46] ghasemikasra39 commented on #9860
Getting the same issue

[2020-09-03 16:28] jkomyno commented on #9296
@ivangabriele any news from this?

[2020-09-03 16:51] EpicEric commented on #9324
In my case, it was a Typescript error, which was only alerted when I tried transpiling my project. Fixing it solved the problem.

[2020-09-03 20:53] ghaagsma opened #10476 "Jest is unable to mock modules with names containing `.js`"
## 🐛 Bug Report

Opening a bug to track what appears to be a known issue, according to the discussion in #6420 .

For my use case, the issue is occurring due to attempting to mock a module named `'data-api.js-core'`. I would try to resolve this by creating a module alias; however, my team is trying to avoid ejecting from `create-react-app` (which has no support for external module aliases unless I

[2020-09-03 21:11] ghaagsma commented on #10476
I've just learned the `'data-api.js-core'` module name and API are modeled after [analytics.js-core](https://github.com/segmentio/analytics.js-core) from Segment. Hopefully this helps troubleshoot.

[2020-09-03 21:42] ghaagsma commented on #10476
Just discovered a workaround for my use case. Renaming all instances of `'data-api.js-core'` to `'data-api.js-core/dist/data-api'` (library contains `/dist/data-api.js`) for imports/mocks appears to resolve the issue.

Going to leave this bug open because it sounds like this is still a bug in Jest based on #6420 . Feel free to close if that's not the case!

[2020-09-04 02:24] felixjb commented on #10192
It seems like this is related to this answer:

https://stackoverflow.com/a/62031685

[2020-09-04 06:35] softgripper opened #10477 "Change name of toMatchInlineSnapshot() after generation."
## 🚀 Feature Proposal

Suggest toMatchInlineSnapshot() method is replaced with a different method call when snapshots are generated.

## Motivation

When a simple code breaks many unit tests, it is very easy to assume that all your snapshots will be fine after you have manually reviewed a few.

Some developers can, and do, adopt a "if-it-doesn't-pass-just-update-it" attitude.

This is unavoidable

[2020-09-04 09:10] ghasemikasra39 commented on #10475
Dear @SimenB
Issue fixed by doing the following, it's very strange, but it worked:
`Just delete the node_modules` and run `yarn install/npm install` and the error is gone

[2020-09-04 10:53] SimenB commented on #10475
I assumed it was some sort of hoisting bug, those are hard to track down... No change to your lockfile?

[2020-09-04 11:35] ChiefORZ commented on #10256
thanks! saved me a lot of time debugging

[2020-09-04 12:43] TheJaredWilcurt commented on #9459
Any progress on this? I've been adding
[code]
to my `package.json`'s for almost a year now.

[2020-09-04 14:06] IvanVergiliev opened #10478 "`require.main` can go into an infinite loop"
## 🐛 Bug Report

Calling `require.main` can go into an infinite loop in certain situations, causing tests to hang forever. I'd be happy to PR a fix, but there are at least 2 different ways to approach this and I don't know which one is better from an overall design point of view.

## To Reproduce

Steps to reproduce the behavior:
- I've added an `e2e/` test that reproduces the behaviour in my clon

[2020-09-04 15:02] sguillia opened #10479 "`require.main` undefined with createRequire()"
## 🐛 Bug Report

The `require.main` of modules that are required from within a test file is undefined, when:

- those modules were required with a require created with `createRequire`
- `createRequire` was given another module than the current one (observe how `parent2.js` works as expected)
- the test file is run with Jest, not Node

Tested with Jest 26.4.2, Node v12.4.0

## Why it's an issue

-

[2020-09-04 15:40] debarghya472 commented on #6944
Thanks it worked!!! 👍👍

[2020-09-04 16:40] Oluwaseunshad commented on #10441
@icsaba @JadenH @zameer-ansari I had the same error. I resolved it by deleting `node_modules` folder and reinstalled everything and now it works. I hope this resolves it for you

[2020-09-04 17:55] wmitchellUK commented on #9613
Same issue with `detectOpenHandles`

[2020-09-04 18:45] villasv commented on #10066
Can confirm. The typing for [`HookFn`](https://github.com/facebook/jest/blob/c95abca8082ad1e472828a6b2e5097745371707f/packages/jest-types/src/Global.ts#L20) seems to be incorrect.

Instead of
[code]

What we probably want is
[code]

So that the typing of `beforeEach` can be similar to the typing of `it`, but without the test name.

[2020-09-05 07:49] FredyC commented on #10475
I've run into the same issue and I can confirm that purging node_modules and reinstalling solved it.

I am really looking forward to Yarn PnP being more stable as these issues are happening too often.

[2020-09-05 08:29] SimenB commented on #10475
Did you try with yarn 2 using node-linker? It should have fewer bugs: https://twitter.com/arcanis/status/1300442491368476672?s=19

[2020-09-05 08:48] FredyC commented on #10475
I haven't spent that much time with it yet. I was mostly confused about how it integrated with various tooling. I will give it another try when my work queue cleans up.

[2020-09-05 12:48] jdbruijn opened #10481 "Add configuration to configure Jest test methods in global environment"
## 🚀 Feature Proposal

Add configuration to configure whether Jest test methods and objects are put into the global environment.

## Motivation

Please outline the motivation for the proposal.

The `@jest/globals` package was added in #9801, but Jest still sets the globals, which isn't needed when using `@jest/globals`. PR #9306 described a proposal and some work to add a configuration (`noJestGlo

[2020-09-05 12:48] alfasin commented on #1456
I'm still having the same problem using Apollo & Jest. Unfortunately, even though the option ` --detectOpenHandles` eventually exits, it still makes the process pend for another few seconds.

Using `--forceExit` does the job but annoyingly prints:
`Force exiting Jest: Have you considered using `--detectOpenHandles` to detect async operations that kept running after all tests finished?`

A workarou

[2020-09-05 12:54] jdbruijn commented on #10481
For the time being I have added an ESLint configuration to give lint errors when Jest globals are used. I'm also using [eslint-plugin-jest](https://github.com/jest-community/eslint-plugin-jest), but that doesn't have such a rule as far as I've seen.

[code]

[2020-09-05 16:24] daithimorton commented on #936
I've found separating my functions into different files is the easiest thing to do.

[code]
[code]

[code]

[code]

[code]

[code]

[2020-09-05 22:47] temharay opened #10482 "coverage report on a single file is incorrect"
## 🐛 Bug Report

At the risk of being closed down because this is more of a question than a bug but I am about to give up. I have already asked on SO and Discord but got no help.

Basically, I have a functional component that accepts props and displays the data. It imports only localization and styles but its coverage is only 50%. IT says the unocovered line is line 5 where importing of the style

[2020-09-06 01:11] ZYinMD commented on #4414
Just use `--watch`, it'll only run tests files that have changed since last git commit, and won't repeat tests that have passed once.

[2020-09-06 01:21] fbaba-nibtravel commented on #9473
Hi All, I'm having a similar issue, but only when collecting coverage.
All tests runs fine without the `--collectCoverage` at the moment I turn this flag on, I start getting some weird issues, including the 2 messages stated on the bug report.

[2020-09-06 07:30] StarryFire commented on #8109
Hi, i am facing this error on React Native 0.63, any possible fixes for this? Can't find any proper solutions online.

[2020-09-06 15:34] SimenB commented on #10481
Just pushed up the branch I had locally. Rebased it, but no other changes since April. I don't really remember the state of it. Missing tests and docs, but beyond that. I don't even remember if it runs correctly 😛

https://github.com/SimenB/jest/tree/no-inject-globals

[2020-09-06 16:05] SimenB commented on #10481
As for the eslint plugin, we might wanna consider not adding to globals by default: https://github.com/jest-community/eslint-plugin-jest/issues/556#issuecomment-687828811

[2020-09-07 06:47] SimenB commented on #10481
#10484

[2020-09-07 08:03] SeanHayes commented on #10297
I ran `npm install jest-circus --save-dev`, it's not installed by default.

[2020-09-07 09:22] sidkareem commented on #5829
im having the same issue.im actually doing the udemy course and currently working on testing..

No tests found
No files found in C:\Users\sidka\nodejs\node_modules\redux-adv-burger--01-async-action-ingredients.
Make sure Jest's configuration does not exclude this directory.
To set up Jest, make sure a package.json file exists.
Jest Documentation: facebook.github.io/jest/docs/configuration.html
Pat

[2020-09-07 09:23] sidkareem opened #10485 "hi..currently learning testing in react but facing this error"
## 💬 Questions and Help

### Please note that this issue tracker is not a help forum and this issue will be closed.

For questions or help please see:

- [The Jest help page](https://jestjs.io/en/help.html)
- [Our `#testing` channel in Reactiflux](https://www.reactiflux.com/)
- The [jestjs](https://stackoverflow.com/questions/tagged/jestjs) tag on [StackOverflow](https://stackoverflow.com/question

[2020-09-07 09:24] thymikee commented on #10485
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](https://jestjs.io/en/help). Thank you :)

[2020-09-07 09:24] #10485 closed

[2020-09-07 10:30] paullewisn commented on #9471
Maybe helpful to some. The above examples will work if you execute them in a `setupFilesAfterEnv` script defined in `.jestrc`.

[code]

[2020-09-07 12:17] Veldhuis94 commented on #9703
I currently have this exact issue on TypeScript 3.9.7.

[2020-09-07 12:25] SimenB commented on #10218
Without a reproduction it's hard to say - @Acidic9 what version of `babel-plugin-jest-hoist` is installed in your project?

[2020-09-07 12:27] SimenB commented on #10147
Can somebody publish a reproduction?

[2020-09-07 12:32] SimenB commented on #10447
Help with improving types is very much welcome 👍 Source is here: https://github.com/SimenB/jest/blob/c5785b9a71cc2edd8091cf67eae000c76010315c/packages/jest-types/src/Global.ts#L39-L48

We've recently landed the beginning of types tests to avoid these sorts of things, but it's not very comprehensive yet

[2020-09-07 12:32] #10481 closed

[2020-09-07 14:25] gpietro commented on #4529
I had the same problem on macos catalina. I don't know why but there is an error on system permissions and with sudo npm test it runs...

[2020-09-07 20:25] jeysal commented on #10479
Happy to take a PR fixing this! Might be just a matter of adding a `parent` in [here](https://github.com/facebook/jest/blob/bc0eed4ab3b6f65e8ddc48c8bd3d847ce2e96af8/packages/jest-runtime/src/index.ts#L1174)?

[2020-09-08 00:28] elyobo commented on #9292
Similar issue, but the module I'm having problems with has both es6 and cjs versions, and I'd rather use the cjs version rather than transpile the es6 one. The fixes I've seen all seem to be forcing babel to transpile, which seems like a bad fix when an already transpiled version is available. Is there a way to have jest prefer the commonjs version `main` instead of `module`?

[2020-09-08 11:52] mkawczynski07 commented on #10347
@pawel-sz Didn't help.

[2020-09-08 12:15] Matheus-IT opened #10487 "Cannot log after tests are done. Did you forget to wait for something async in your test?"
Hi there! I'm a beginner in react native and I'm facing this issue I don't know why, I looked up on the internet, but I couldn't find anything like my problem.
This is the full log:
yarn run v1.22.4
$ jest
 PASS  __tests__/App-test.js (7.082 s)
  √ renders correctly (1921 ms)

Test Suites: 1 passed, 1 total
Tests:       1 passed, 1 total
Snapshots:   1 passed, 1 total
Time:        7.463 s, estimat

[2020-09-08 12:31] pedrohram commented on #10487
It appears that the error is being caused by JSON.parse(), since AsyncStorage is probably returning `undefined`.

I would recommend you check the values or add a `if (data)` statement just to be sure.

[2020-09-08 12:39] jaredjj3 commented on #10467
I have made a similar sample repo that produced similar results (see #7874): [jest-memory-leak-demo](https://github.com/jaredjj3/jest-memory-leak-demo).

[2020-09-08 13:23] Matheus-IT commented on #10487
Ok there's a big log, so I'll just place the first part:
log:
yarn run v1.22.4
$ jest
 PASS  __tests__/App-test.js
  √ renders correctly (1152 ms)

Test Suites: 1 passed, 1 total
Tests:       1 passed, 1 total
Snapshots:   1 passed, 1 total
Time:        4.481 s, estimated 8 s
Ran all test suites.
  console.error
    Warning: An update to App inside a test was not wrapped in act(...).

    When tes

[2020-09-08 14:34] ghasemikasra39 commented on #7287
I am testing my React Native app and getting this. I am fetching data from BE and use `moxios`. Then I dispatch an action to update the store. I am using `"jest": "^26.4.2",`
[code]

[2020-09-08 17:18] bschlenk opened #10489 "Getting "Cannot read property 'some' of undefined" when running tests"
## 🐛 Bug Report

Running `jest` when jsdom@16.2.2 is installed results in the error:

[code]

## To Reproduce

Steps to reproduce the behavior:

Install jest, but make sure the jsdom pulled in by `jest-environment-jsdom` is `16.2.2`.

[code]

FWIW, tests seem to pass when `jsdom@16.4.0` is used, but `jest-environment-jsdom` [has the version set to ^16.2.2](https://github.com/facebook/jest/blob/mas

[2020-09-08 17:19] bschlenk opened #10490 "Getting "Cannot read property 'some' of undefined" when running tests"
## 🐛 Bug Report

Running `jest` when jsdom@16.2.2 is installed results in the error:

[code]

## To Reproduce

Steps to reproduce the behavior:

Install jest, but make sure the jsdom pulled in by `jest-environment-jsdom` is `16.2.2`.

[code]

FWIW, tests seem to pass when `jsdom@16.4.0` is used, but `jest-environment-jsdom` [has the version set to ^16.2.2](https://github.com/facebook/jest/blob/mas

[2020-09-08 17:20] bschlenk commented on #10490
Whoops, got a github error when I submitted the first time so I submitted again. Closing in favor of https://github.com/facebook/jest/issues/10489

[2020-09-08 17:20] #10490 closed

[2020-09-08 19:06] sayax commented on #6393
Hi, i fixed my issue with the following steps:
1) my jest.config.ts has this lines
module.exports = {
  testMatch: ['**/+(*.)+(spec|test).+(ts|js)?(x)'],
  transform: {
    '^.+\\.(ts|js|html)$': 'ts-jest',
  },
  moduleFileExtensions: ['ts', 'js', 'html'],
  coverageReporters: ['html'],
};
2) installed latest versions of jest
"jest": "^26.4.2",
"jest-environment-node": "^26.3.0",
"jest-environmen

[2020-09-08 19:19] lukewlms commented on #6434
I was getting this issue while testing Apollo with react-native-testing-library.

In this case there were two queries, in a parent and child component.  The parent query needed to resolve before the child rendered and fired its query.

The solution was to run the `wait()` function *twice* rather than just once.  I assume the double-fire is necessary to ensure both queries run.  The error message i

[2020-09-08 21:12] michaeljaltamirano commented on #10147
While putting together a Codesandbox link with a repro and shedding code to the bare minimum, I realized the root cause (for my case, at least) was the following `node_modules` line in my `babel.config.js`:

[code]

Removing it resolved the error. I hope this helps others!

[2020-09-08 21:17] ahnpnl commented on #10218
I managed to reproduce the error that @Acidic9 ran into.

@SimenB You can check out this branch https://github.com/ahnpnl/ts-jest-babel-example/tree/jest-globals and run the test in `foo.spec.ts`.

[2020-09-08 22:32] zachlysobey opened #10491 "[docs] Confusing example in "An Async Example" #.rejects"
## 🐛 Bug Report

Not *exactly* a bug, but its (IMO) an issue in the docs worth addressing.

The above doc provides the following example of asserting on a promise rejection.

[code]

This seems to imply that you can assert on `Error` text by supplying an *object* to `toEqual` with an `error` key.

In fact, I believe this is testing that the function actually *rejects with an object with an `error`

[2020-09-09 01:21] grantcarthew commented on #9430
Hey @SimenB, do you think some preliminary documentation on this would be a good idea?

[2020-09-09 05:19] G-Rath commented on #10339
@SimenB stumbled on this while lazily scrolling through the issues - I dev on Windows (w/ WSL for CLI) so feel free to ping me on future Windows issues if you'd like :)

[2020-09-09 06:21] Rumpelstinsk opened #10492 "Unable to read file content using ".text()""
## 🐛 Bug Report

Trying to read a file using `text` throws an error:

[code]

## To Reproduce

Execute the next test:

    test("jest can work whit files", async () => {
      const aContent = "a_content";
      const file = new File([aContent], "aFile.txt");
      const fileContent = await file.text()
      expect(fileContent).toBe(aContent)
    })

## Expected behavior

Test is executed correctl

[2020-09-09 07:11] wmertens commented on #5823
I updated #10077 with a new API which I've been using for a while and works great:

[code]

It doesn't need any big changes, it is robust when you move tests around, it's easy to read, it can do sync and async results etc. I really like it.

[2020-09-09 08:22] thymikee commented on #10492
You'll need a better mock for `File` then. If you're using "jsdom" test environment (currently default), go to their docs, check support and if necessary create an issue: https://github.com/jsdom/jsdom

[2020-09-09 08:22] #10492 closed

[2020-09-09 10:49] JaLe29 opened #10493 "How to mock const inside it ?"
## 💬 Questions and Help
There are milion questions about how to mock const inside it test, but no one works.

Can some one provide working solution how to mock `import isNode from 'detect-node';` for it? (https://www.npmjs.com/package/detect-node)

Example:
Test file:
[code]

Fn file:
[code]

Excepted output is:
false (for 'node mock false')
true (for 'node mock true')

I tried a lot of ways how t

[2020-09-09 10:51] thymikee commented on #10493
At the top of your test file:
[code]
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](https://jestjs.io/en/help). Thank you :)

[2020-09-09 10:51] #10493 closed

[2020-09-09 10:55] JaLe29 commented on #10493
It doesn't make any sense mock it on the top of my file in case I need mock different value for each test.

So, you should remove `💬 Questions / Help` section.

[2020-09-09 11:36] GasimGasimzada commented on #9021
I have found the issue. I will describe it here and post a reproducible demo in a bit. Here is what happens:

<monorepo-root>/my-app -> Installs @myproject/my-library and mocks some of the functions of the library in tests
<monorepo-root>/my-library -> After building CJS and ESM modules, it copies package.json to build directory (e.g `dist/`).

**Case 1:** If I run `npm test` from root, everything

[2020-09-09 11:37] SimenB commented on #10339
Thanks @G-Rath! Will do 🙂

[2020-09-09 11:50] jpabeem commented on #10489
Running into the same issue here, can confirm. Any update(s) on this so far?

[2020-09-09 12:58] JaLe29 opened #10494 "jest.mock factory doesn't work inside a test"
## 🐛 Bug Report

According to this thread: https://github.com/facebook/jest/issues/2582 it doesn't work.

## To Reproduce
Create test for `myTestFn` which return mocked value.

Test file:
[code]
Fn file:
[code]

## Expected behavior

Should print mocked value.

## Expected behavior
It print current value (node=true)

## envinfo

[code]

[2020-09-09 13:44] JeromeDeLeon commented on #10494
Have you seen [#764](https://github.com/facebook/jest/issues/764) and see if it can help you?

[2020-09-09 15:22] tomqwpl commented on #4487
This is an issue for me. I naively tried to comment out a block of tests by changing describe to xdescribe, and the beforeAlls still run.

[2020-09-09 15:34] JossanPetrenko commented on #8109
same problem on React Native 0.63

[2020-09-09 17:01] JaLe29 commented on #10494
@JeromeDeLeon Same problem with code from #764

[2020-09-09 17:08] penchef commented on #1284
Thanks @Abadii!

```jest --watchAll --collect-coverage```

does the job. TDD FTW!

[2020-09-09 18:24] nathanforce opened #10495 "[Transforms] Shared Instance Across Transform Runs"
## 🚀 Feature Proposal

I'm happy to see some improvements coming to the transform API, notably #9889. I was wondering if it would be possible to expose an API for sharing an instance of _something_ across all runs of a given transformer.

I think this could allow for some reduction in overhead for things like Babel, Typescript, esbuild, Svelte, etc that have APIs
like the following from esbuild:

[2020-09-09 19:40] lukaszkalemba commented on #6797
@thymikee Is this possible to automatically map paths like 'components/atoms/Icon' to  'components/atoms/Icon/Icon'?
Is there any option to catch some variable in this mapper?

[2020-09-09 19:54] mohamedsgap commented on #10479
hey @jeysal, Can I try to fill a PR for this ?

[2020-09-09 20:14] jeysal commented on #10479
@mohamedsgap sure!

[2020-09-09 21:08] devniel commented on #1256
I'm getting something similar, errors from async ops are getting ignored, the only way to get them is by using try/catch.

[code]

[2020-09-09 21:53] bxt commented on #10035
I see in your command that you run `npx jest ...` which means npm will download some version of `jest` and run it without using your dev dependencies. That's why jest can not find the preset. Instead you should change the command to say `npm run jest ...` then your bundled version of `jest` including all the dev dependencies should be run and it will hopefully work.

I think the jest error message

[2020-09-09 23:11] hmschreiner commented on #8499
Any updates on this, @SimenB?

I'm trying to create a custom reporter to sets a max warning threshold like `--max-warnings` on lint, but I can't figure out if the console is being called if the return of `result.console` is undefined.

[2020-09-09 23:16] zachlysobey commented on #10491
I'd be happy to submit a PR and propose an update to this, but I'd like to have confirmation that I'm not alone in thinking this example could use some work before I spend time on it.

[2020-09-10 01:07] josechavarriacr commented on #10489
I'm facing the same error

[2020-09-10 01:29] josechavarriacr commented on #10489
@jpabeem I downloaded your repo, I running it and work using yarn.
node version : v10.19.0
yarn version: 1.22.4

[2020-09-10 01:29] josechavarriacr commented on #10489
Btw, I fixed this problem running `npm install --save-dev babel-jest regenerator-runtime`

[2020-09-10 02:40] bschlenk commented on #10489
It’ll work using yarn because yarn doesn’t read the package-lock.json file. The issue only happens when using jsdom@16.2.2, which is pinned in package-lock.

[2020-09-10 03:33] mcabrams commented on #10035
In my case, which I can't imagine will apply to anyone else, I happened to have a symlink to `node_modules` in the same folder as my `jest.config.js` - that seems to have prevented it from finding the preset.  Not the best error message in that case.

[2020-09-10 03:55] HarrisonB opened #10497 "Show warning/error when overriding implementation/return value/etc. of mock"
## 🚀 Feature Proposal

If calling a method that replaces the functionality mock function, provide a warning or raise an error.

## Motivation

Given
[code]
one might expect `myMock()` to log `'foo'` _and_ return `'bar'`. However it does not log `'foo'`, because the call to `mockReturnValue` overrides the first call.

Trying to figure this out is really challenging/frustrating as the docs don't men

[2020-09-10 05:56] askirmas commented on #7509
For not-100% exceptions I'm taking like that:
[code]

[2020-09-10 10:01] icsaba commented on #10441
i was not that radical, instead i checked the yarn.lock file, and upgraded dependencies that were using older version of jest.

[2020-09-10 10:47] thymikee commented on #6797
@lukaszkalemba yup, you have a few examples listed here: https://jestjs.io/docs/en/configuration#modulenamemapper-objectstring-string--arraystring

[2020-09-10 11:04] phawxby commented on #10489
Can confirm the bug is reproducible from the repo above.

[code]

[2020-09-10 11:40] Jazzmanpw commented on #5124
As I can see in my debugging session, `global.location` is implemented via getter but not a simple property. Wouldn't it be safer to redefine it like this?
[code]
Though it's hard to imagine why would I want to use the original `global.location`, it seems just a bit more correct.
And this code works fine for me, of course. I just access `location.pathname`, but this object may be easily extended w

[2020-09-10 12:28] gpawlik commented on #6933
I saw this error after making a stupid mistake and writing my first test file with `.ts` instead of `.tsx` extension. Far from the original issue but i though it might be helpful for someone 😄

[2020-09-10 14:34] ajoshi31 commented on #9538
This was such a stupid big and I spent nearly 1 hour exploring it.

[2020-09-10 16:28] thesmart commented on #8208
Rather than a feature request, I would call this a serious bug. In the best case, I would consider this a huge overreach by a library to swallow console output. What is the workaround for situations where process exits 1 and needs to print an error? Swallowing it makes issues very expensive to fix in continuous testing suites.

None of the proposals work for me. Running `DEBUG=jest jest --forceExi

[2020-09-10 19:53] ahnpnl commented on #10363
Babel plugin to convert non-relative import path to relative import path is also a solution.

[2020-09-10 20:36] apples commented on #5823
I really like this. It's nice and explicit, which I like.

However, my team has hundreds of tests this would need to be added to, and many developers from different teams and of different skill levels adding new tests every day. An implicit solution like `test.essential` mentioned above would help a lot in this regard, since we'd only need to add it to one test instead of modifying hundreds.

I am

[2020-09-10 21:53] StephanBijzitter commented on #8922
Similar issue here, I got two types of test files (basically one unit, one much slower using storyshots) and as such I have a variable `testMatch` config.

For example: TestA has a snapshot, TestB has a snapshot

When running TestA and TestB at the same time, no issue. But if I change the `testMatch` to only include TestA, Jest will complain that TestB's snapshot is obsolete as it's no longer used

[2020-09-10 22:07] SpencerKaiser commented on #9473
For anyone still struggling with this, I managed to narrow down my issue by using a combination of suggestions above. Here's what I did:
1. Ran `npx jest --runInBand --detectOpenHandles src` to validate that something was indeed hanging
2. Ran `npx jest --runInBand --detectOpenHandles src/someDir` on several dirs to figure out which one was the culprit (if it doesn't hang and exits cleanly, move o

[2020-09-10 22:17] davidroeca opened #10498 "[Feature/Bug Report] Discourage/disable "./" as one of the "moduleDirectories""
## 🐛 Bug Report

This is a bug report pertaining to the use of "./" as one of the moduleDirectories. In particular, I was using a scoped package that had the same subdirectory name as a non-scoped package (e.g. `@my-scope/my-package` relies on `my-package` as an external/peer dependency). This prevented `@my-scope/my-package` from having access to `my-package`.

## To Reproduce

See [this repo](ht

[2020-09-10 22:23] davidroeca commented on #10498
Apologies, hit enter too soon. Edited the issue with the correct info.

[2020-09-11 09:18] yugonglian opened #10499 "How to Specifies the execution order of use cases"
for example：
`test('one', () => {
    expect(2 + 2).toBe(4);
  });

test('two', () => {
    expect(2 + 2).toBe(4);
  });`

I need to do it by command line so I can run testName "two"  before "one"

[2020-09-11 12:23] jinhale opened #10500 "Manual mock documentation is incorrect and lacking"
## 🐛 Bug Report

View the documentation for [Mocking Node modules](https://jestjs.io/docs/en/manual-mocks#mocking-node-modules).

The incorrect statement:

Latter on there is some confusing language about "scoped modules". There is no explanation of what a "scoped module" is. Searching for the term "scoped module" on MDN doesn't reveal it's meaning. Observe that "scope" according to [MDN](https://

[2020-09-11 16:44] yossicadaner opened #10501 "Can jest please provide support for thennables instead of promises?"
As of now it seems jest does not support mixing promise-implementations. This really makes usage of frameworks etc to all require some wrapper... while the framework can replace the promise check to a thennable check.

[2020-09-11 16:49] yossicadaner commented on #10501
I am not bothering to include all the different issues stemming from the current implementation.
Here's an example:
https://github.com/facebook/jest/issues/10221

https://github.com/chrisbobbe/react-native/commit/98a12ee6728f8d98c9b20f3a575a25af6626f725

https://github.com/facebook/jest/issues/7287

[2020-09-11 18:49] TunvirRahman commented on #6390
I have something similar. any solution for this type of case?

[2020-09-11 19:31] antho686 commented on #10144
I met a similar issue also when running jest --coverage, it happens randomly
os: win10 version 1909
node: 12.18.0
jest: 26.0.1
npm: 6.14.4
`Snapshot Summary
 ÔÇ║ 1 snapshot failed from 1 test suite. Inspect your code changes or re-run jest with `-u` to update them.

Test Suites: 1 failed, 16 passed, 17 total
Tests:       1 failed, 71 passed, 72 total
Snapshots:   1 failed, 9 passed, 10 total
Time:

[2020-09-12 14:35] agustavo87 opened #10503 "Mock Function (mockImplementation) don't return length Function property"
## 🐛 Bug Report

The Mock Function through `mockImplementation(fn)` method gives a Mock Function that don't have the [length ](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/length) of arguments property of the JS Function object. It does trough `the jest.fn(implementation)` shorthand.

## To Reproduce
[code]

## Expected behavior

When one checks the `le

[2020-09-12 22:04] #8988 closed

[2020-09-13 06:02] nmousouros opened #10504 "Jest tests work everywhere but not on kubernetes"
Hello,

I am trying to configure our pipelines on kubernetes with Tekton but our jest tests fail for some reason.

So when we run this locally or in a Dockerfile everything works fine. but when I run the same script in a Kubernetes pod I get Syntax errors ( log file).
[yarn-install.log](https://github.com/facebook/jest/files/5213661/yarn-install.log)

I can get shell access to the pod but I am out

[2020-09-13 07:59] #10447 closed

[2020-09-13 11:06] SimenB commented on #10066
We still don't support generator functions in the types - anybody up for a PR adding it? 🙂

[2020-09-13 11:58] miguelangeltorresfp commented on #10035
I'm testing the preset option in different local project.
Only `ts-jest` preset works:
[code]
Neither of the other two work: `js-with-ts - js-with-babel `
For now I'm using the transform option in the jest config file:

[code]

[2020-09-13 14:26] #10504 closed

[2020-09-13 23:04] villasv commented on #10066
Oops, forgot about it. Should the typing of `it` also support generators? Might as well go ahead and update both.

[2020-09-14 01:17] ioancole commented on #10462
PR facebook/jest#10508 should fix this - hopefully it gets accepted.

In the meantime, if you want the ```objectContaining``` behavior that you describe, you should also wrap expected-result sub-objects in ```objectContaining```. The following test should pass:

[code]

[2020-09-14 10:04] #10282 closed

[2020-09-14 14:20] jasonkuhrt commented on #2180
In the above referenced PR we found that `test.concurrent.each` with snapshots still does not work.

We found that each run would result in snapshot failures. As if the pairing between saved snaps and test runs was getting confused.

We were naming our snapshots (`.toMatchSnapshot('foobar')`) but that did not seem to help at all.

[2020-09-14 14:23] alundiak commented on #3869
My version of issue is based on such stdout of coverage (i wanted to avoid summary below blue line - suppress to stdout, but remaining generating HTML for Cobertura):

![image](https://user-images.githubusercontent.com/2131633/93097588-0f4e1180-f6a6-11ea-8e5d-8fa84a88f776.png)

I read what was discussed in https://github.com/facebook/jest/issues/3161 and realized, that in my case, where I have in

[2020-09-14 16:44] jasonkuhrt opened #10513 "afterEach with info about test.concurrent.each case"
## 🚀 Feature Proposal

`afterEach` runs after each case of a `test.each` but there is no builtin way to have the execution of the `afterEach` access the variables passed for a case of `test.each`.

## Motivation

In our test we'd like to guarantee run some cleanup operations for each test. We certainly could (are) use a traditional try-catch-finally approach, but our test case is cleaner if we del

[2020-09-14 19:41] #10412 closed

[2020-09-14 21:23] ezrabowman opened #10514 "Jest <regexForTestFiles> Does Not work w/ Links in Path"
## 🐛 Bug Report

When invoking Jest CLI using the \<regexForTestFiles\> argument, where the \<regexForTestFiles\> must follow a symlink, Jest will fail as follows:
[code]
In this case, `/home/me/Code/jest-demo-link` is a symlink that points to `/home/me/Code/jest-demo`. When run from `/home/me/Code/jest-demo`, everything works fine. Notice testMatch did match a file, but Jest did not run any tests

[2020-09-14 22:04] NickHeiner commented on #2070
Alternatively, it would be nice if we could force Jest to throw an error when this issue comes up, rather than just warning. Warnings are easily ignored; on my project, I'd prefer that an error be thrown, so the dev who introduced it has to deal with it.

[2020-09-14 22:10] lexaurin commented on #9862
Just figured out how it works and it's a sad story.. 😞

First it checks if you have `watchman` installed..

https://github.com/facebook/jest/blob/ac73de8989ca06675858b4c8b4f3e6f864a071f0/packages/jest-haste-map/src/index.ts#L738

**and if not...**

https://github.com/facebook/jest/blob/ac73de8989ca06675858b4c8b4f3e6f864a071f0/packages/jest-haste-map/src/crawlers/node.ts#L233

it either uses native

[2020-09-14 22:12] lexaurin commented on #9862
And the worst part is that all this Jest do completely silently.. No message like "Hey install watchman" or "Warning: Native find is not available on your system"..

[2020-09-14 22:14] sibelius commented on #9862
is it much faster using watchman?

[2020-09-14 22:25] lexaurin commented on #9862
In our project, with watchman, startup time is almost instantaneous.
In comparison without watchman, it takes 10s to start first test - `find` output includes even files from node_modules so in our case it is more than 8MB just this file list..

[2020-09-15 00:36] nogic1008 commented on #10089
@samstickland
fixed in `vue-jest@4.0.0-rc.0`. Please try this one!

[2020-09-15 02:13] abrcdf1023 commented on #9395
For new coming, use this

jest.config.js
[code]

[2020-09-15 04:47] iiison opened #10517 "False `@jest/globals` import error while mocking a module with Jest.mock function."
## 🐛 Bug Report
I'm using Jest 26.4.2. I am mocking 'react-redux' library functions to test my component logic like this:
[code]

But I get an error on console saying:
[code]

I tried to mock few files from my project, but I'm getting the same error.

## To Reproduce

Steps to reproduce the behavior:
- make an app using CRA
- Try to mock any module in the test file.

## Expected behavior
Mock shou

[2020-09-15 05:57] SimenB commented on #10517
CRA doesn't ship with Jest 26, have you ejected and upgraded yourself? If yes, can you put together a repository we can pull down and test?

[2020-09-15 06:25] fungiboletus commented on #9862
Sounds like having a warning on the console output would be a good improvement.

[2020-09-15 07:20] shinxi commented on #9503
I tried to upgrade the node to v10.21.0, and it looks work well.

[2020-09-15 09:15] gaaliche commented on #9503
I'm using Node v12.18.1 and it's still happening to me.

[2020-09-15 09:31] samstickland commented on #10089
@nogic1008 Yup, works for me! Thanks!

[2020-09-15 12:36] aristofun commented on #3322
Any ETA on this?

I wonder how people even use jest in real world without having summary in the end :(

[2020-09-15 13:01] johanjq commented on #6519
@greypants thanks for this man, you are amazing

[2020-09-15 13:21] jufemaiz commented on #9862
Definitely @fungiboletus !

[2020-09-15 14:06] ghost opened #10518 "npm ERR! code ELIFECYCLE"
I am using the Jest to perform the unit testing with Angular 10 (Angular CLI: 10.1.1) node version - 14.5.0
OS - MAC Catalina version - 10.15.6

`"jest": "^26.4.2",`

All the test has been passed and ran but got an error as below

[code]

Error from that log file

[code]

[2020-09-15 14:15] aalexgabi opened #10519 "Jest says test case fails with error but in reality an unhandled rejection occurred"
## 🐛 Bug Report

I spend hours debugging this because Jest did not tell me what actually happened !!!
Jest says test case fails with error but in reality an unhandled rejection occurred.

## To Reproduce

Steps to reproduce the behavior:
[code]
Outputs:
[code]

## Expected behavior

Jest should say that an unhandled rejection occurred during the execution of the test case.
There should clearly be

[2020-09-15 14:26] stkevintan opened #10520 "[jest-circus] suite level retry"
## 🚀 Feature Proposal

Support test suite level retry

## Motivation

currently jest-circus only support re-run test cases  according to <https://github.com/facebook/jest/blob/23f425c15a5cdf80dd165a1b50c07b92edb8c10c/packages/jest-circus/src/run.ts#L69>

however, in common e2e test scenario, some test cases are not isolated with others, they depend on the status of the previous test cases, so  ret

[2020-09-15 17:53] chozzz opened #10521 "SyntaxError: Cannot use import statement outside a module"
Related issue [here](https://github.com/facebook/jest/issues/10111)

I have been stuck in this issue for 4 days and I noticed this may have been asked many times before. But **none** of the fixes out there actually helped. Therefore, I am posting this here in case if someone can actually confirm if this is a bug and also to provide where my mistakes were.

Sorry in advance if I am posting this in

[2020-09-15 19:54] MrShakes opened #10522 "Unknown option "testTimeout" with value was found"
## 🐛 Bug Report
Using Jest and jest-circus with Detox and Jest doesn't recognise the "testTimeout" option and as such tests timeout with the default 5000ms value. Have confirmed with the Detox team that this is a Jest issue as can be seen [here](https://github.com/wix/Detox/issues/2309)
Get the message: Unknown option "testTimeout" with value 120000 was found
## To Reproduce
Use Jest and jest-circ

[2020-09-15 20:12] IanEdington commented on #2227
I tried this solution but am getting a `Cannot redefine property` error

[code]

[2020-09-15 21:06] Twiggeh opened #10523 "TypeError: TextDecoder is not a constructor"
## 🐛 Bug Report

Getting `TypeError: TextDecoder is not a constructor` when importing `discord.js`

## To Reproduce

Steps to reproduce the behavior:

1. Use import syntax
2. import discord.js

## Expected behavior

To not get `TypeError: TextDecoder is not a constructor`

## Link to repl or repo (highly encouraged)
[Repo](https://github.com/Twiggeh/Jest-Report)

## envinfo

[code]

[2020-09-16 09:33] xu455255849 opened #10524 "jest run keeps spinning,no outout,no error"
Environment
node -v: [12.4]
npm -v: [6.9]
yarn: 1.21
"jest": "^26.0.1",
yarn run with "test": "cross-env NODE_ENV=test jest --forceExit --detectOpenHandles test/component",

![image](https://user-images.githubusercontent.com/15166243/93319613-a8199400-f842-11ea-8ec1-c6420f53b982.png)

[2020-09-16 09:35] xu455255849 commented on #10524
keep runs  , no response  no errors

[2020-09-16 11:19] maxammann commented on #10428
Especially useful if you are forced to use isolateModules because of this: https://github.com/facebook/react/issues/16012

[2020-09-16 11:39] lexaurin commented on #9862
Also worth mentioning that last saved index must be available in jest cache and cache key must be valid otherwise it builds index again.

And completely agree that it should be evident from CLI that indexing is happening and in documentation I think it should be stated how to avoid it.

From `jest-haste-map` code:
[code]

[2020-09-16 11:44] SimenB commented on #10428
Yeah, this (or something similar) is needed for proper ESM support

[2020-09-16 11:46] SimenB commented on #9430
@grantcarthew definitely! I had hoped I'd be able to spend more time on this and stabilize it for Jest 27, but I doubt I'll be able to do that. But writing up a doc page about what's there now (and that it's experimental) sounds like a good idea

[2020-09-16 13:51] timoxley commented on #10519
I think this is a duplicate of https://github.com/facebook/jest/issues/9210

+1 very annoying though

[2020-09-16 13:57] timoxley commented on #9210
This issue seems related to https://github.com/facebook/jest/issues/5958

[2020-09-16 15:01] timoxley commented on #10501
Not sure if this helps but…

Jest currently has a number of `isPromise` implementations 😅, see below.

The `isPromise` in `jest-util` is the only one which wouldn't work with a thenable.

**Jest should probably consistently use a thenable-compatible implementation though.**

Note if you always make your tests `async` functions, JS will automatically forcibly convert your thenable into a native `Pr

[2020-09-16 18:05] luchozamora commented on #9723
@dshung1997 I had the same issue and fixed it in two ways. I think the 2nd one is way cleaner. (I'm using typescript by the way)

First, solved it by adding ts-jest (`yarn add ts-jest -D`) and then changing `package.json` settings:
From:
[code]
To:
[code]

The second solution was upgrading `jest` to `^26.4.2`. Was able to undo the `babel-jest` -> `ts-jest` change and it still worked.
Just FYI, I h

[2020-09-17 00:39] RyanCCollins commented on #936
I've recently run into this issue.  None of the proposed solutions work for me because I'm unable to change the code.  The babel-plugin-rewire also does not work for me. Is there any other solutions out there to test that a function was called by another function within the same module?

[2020-09-17 01:34] magicmark commented on #936
Have you checked out https://github.com/facebook/jest/issues/936#issuecomment-659597840? There's a minimal repro in there that mocks functions calls in the same file.

[2020-09-17 01:36] mathewkuruvila opened #10525 "Jest not printing detailed stack trace of failure"
I have got selenium-webdriver integrated with Jest framework. When there are some failure in selenium, Jest is only printing one line.

I tried using something like Error.stackTraceLimit = 100; and "verbose": true. But it is always printing just one line. It will be really helpful if it prints the full stack trace.

Jest Version and Runner

"jest": "^26.4.2", "jest-circus": "^26.4.2"

[2020-09-17 01:37] villasv commented on #10066
I failed to find examples of usage of Generators on hooks and tests. It wasn't clear to me if `TestFn` also has to accept generators. It's also not clear if `HookFn` should accept a `Generator` or a `GeneratorFunction` or a `() => Generator`. Anyway, all of those will result in compilation errors on `packages/jest-circus/src/utils.ts`'s `callAsyncCircusFn` that I wasn't sure about how to solve.

H

[2020-09-17 10:29] Dashue commented on #5345
Another one seeing this issue

[2020-09-17 11:58] #10525 closed

[2020-09-17 11:58] mathewkuruvila commented on #10525
This is happening only for promise rejection.

[2020-09-17 17:09] willsoto opened #10527 "Jest detectLeaks is detecting a leak on a simple test"
_I know that `--detectLeaks` is experimental but it seems like it should work for a simple case like this. I also know there are other issues related to `--detectLeaks` but I couldn't find one with such a simple repro. If I missed it and this is a duplicate, feel free to close_

## 🐛 Bug Report

`jest --detectLeaks --env node` is detecting a leak on a simple test.

## To Reproduce

Repo here: http

[2020-09-17 18:03] indieocean commented on #10144
I deleted the coverage folder and re-ran it and the error went away.

[2020-09-17 18:42] aashayamballi opened #10528 "Getting the error Cannot find module '@babel/polyfill/lib/noConflict' from 'index.js' when I run npm test in react"
I'm new to unit testing and I've just started writing unit tests for my react project. My project is created using create-react-app and I've installed required testing libraries such as enzyme, enzyme-adapter-react-16, and jest-enzyme.

I've created a new file setupTests.js inside the src directory and added enzyme configurations.

When I'm trying to run the unit test using the command npm test I'

[2020-09-17 19:30] timoxley opened #10529 "[jest-circus] Support both done callback and async test simultaneously"
## 🚀 Feature Proposal

Please support writing async tests that can also use the `done` callback.

This didn't work "properly" before the new `jest-circus` runner forbid this combination, but it did sorta work enough to be useful. https://github.com/facebook/jest/pull/9129

Ideally, an `async (done) => {}` test would not complete successfully unless both:
* the `done` callback  was called without e

[2020-09-17 20:05] timoxley opened #10530 "[jest-circus] Tests failing with unhandled exception/rejections will wait for timeout"
## 💥 Regression Report

Callback style tests that fail with an `uncaughtException` seem to wait until the timeout occurs before proceeding.
 I assume it's waiting for a `done` that's never called. `unhandledRejection` does not wait.

This only happens when using `jest-circus/runner` (v26.4.2).

Consider the code below:

[code]

#### Default jasmine2 runner: 7ms + 2ms

[code]

### jest-circus/runne

[2020-09-17 22:19] ANG95 commented on #10111
![image](https://user-images.githubusercontent.com/29758966/93534069-fa71b800-f909-11ea-9a06-b93233592914.png)

puedes configurarlo de esta forma

[2020-09-18 04:31] aashayamballi commented on #10528
Can anyone please help me with this?

[2020-09-18 05:09] shaozi opened #10531 "Deprecated packages in 26.4.2"
## 🐛 Bug Report

There are a few deprecated dependencies when installing jest.

- request@2.88.2
- request-promise-native@1.0.9
- har-validator@5.1.5

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Should be no warnings.

## envinfo

[code]

[2020-09-18 06:15] ghasemikasra39 commented on #10111
Dear @ANG95
Can you please write in English.

[2020-09-18 06:35] SimenB commented on #10531
You can track https://github.com/jsdom/jsdom/issues/2792 which is the source of all 3

[2020-09-18 06:35] #10531 closed

[2020-09-18 06:59] aashayamballi commented on #10528
After installing `@babel/polyfill` it started working fine.

[2020-09-18 06:59] #10528 closed

[2020-09-18 11:33] crubier commented on #9696
I confirm, this is an oversight that should be easy to solve. In the meantime my configuration has to look like this:

[code]

[2020-09-18 13:20] vteivans commented on #10276
@SamLee is there another way to write it? `toMatchObject` requires all object properties to be defined if an object is an outer level.

If I use `expect(someArr).toCountainEqual(expect.objectContaining({...}))`, I still don't get the diff either.

[2020-09-18 13:26] bodawei commented on #879
@tals  What was it a duplicate of?  I haven't yet found another issue reporting the same problem. (nice detailed report, btw)

[2020-09-18 13:36] thernstig commented on #9696
@crubier I am sure Jest would appreciate a PR if you can solve it 😃

[2020-09-18 14:22] justinlazaro-iselect commented on #8769
any solution on this?

[2020-09-18 15:19] justinlazaro-iselect commented on #8769
@davidje13  thanks for the info, will check right now I'm update to node v13.3.0 still having and issue call still having an issue `Call retries were exceeded`

[2020-09-18 15:50] crubier commented on #9696
I have absolutely no knowledge of the codebase of jest, it will probably take me 2hours just to find the line of code to change. If someone want to give me a pointer I can do that.

[2020-09-18 19:41] enriqu3l commented on #5823
I also like the idea of adding the `test.essential` solution. There are too many ways to tackle this issue, and thanks @wmertens for your contribution, looks also very nice, but I do think the best and more flexible one is the `essential` method.

[2020-09-18 19:54] agoldis opened #10532 "Evaluating inline scripts within jsdom container"
## 🐛 Bug Report

Testing vanilla HTML / JS using build-in jsdom - cannot get the inline scripts being executed.
Loading an HTML content with a `<script>` tags and expecting the scripts to be evaluated by jsdom, but nothing happens.

## To Reproduce
[code]

## Expected behavior

The test 👆🏻 should pass - inline JS code should be evaluated an DOM modified.

## Link to repl or repo (highly encouraged

[2020-09-18 21:12] wmertens commented on #5823
@enriqu3l I don't like the test.essential because it's extra information you need to provide and maintain.

With test.result, you enforce a dependency when you need it and only when you need it, and as you stop needing it the dependency will be removed as well. You can even wait for multiple tests in a single test.

[2020-09-18 22:08] tals commented on #879
This guy lol https://github.com/facebook/jest/issues/880

ty! 😇

[2020-09-19 00:44] thesmart commented on #2157
It seems to me that the issue with fake timers is that it breaks the natural run-loop for how timers are supposed to function. I wonder why we can't simply have the jest timer run functions be async?  Changing timers to be immediate does make the test code look neat, but its causing this massive side-effect.

[2020-09-19 01:42] jaythomas commented on #10089
@nogic1008 what version of jest are you on? With jest@26.4.2 and vue-jest@4.0.0-rc.0 I still get `[vue-jest] Error: Vue template compilation failed`.

[2020-09-19 04:53] bodawei commented on #879
@tals Thanks. Looks like a very hard to kill bug. :-)

[2020-09-19 04:53] benwinding commented on #3322
I found a little way to get the exact tests which failed:

**Failed tests have this ● character at the beginning**
![image](https://user-images.githubusercontent.com/11782590/93659337-37ad8580-fa83-11ea-8899-aecab8774f53.png)

Using @cefn's solution we can extract only the names of the **_failed_** tests!

[code]
****
![image](https://user-images.githubusercontent.com/11782590/93659317-10ef4f00-fa

[2020-09-19 05:33] compulim commented on #6007
@kevinbarabash You can see how we did it, https://github.com/microsoft/BotFramework-WebChat/blob/master/__tests__/html/__jest__/setupRunHTMLTest.js#L66.

We grab the `window.__coverage__` object from containerized Chromium via Selenium, and merge it with `global.__coverage__` inside Jest test agent VM. Jest will pick up the coverage from multiple agents and merge them correctly.

[2020-09-19 09:20] Bessonov commented on #3322
@benwinding no, this doesn't works well, because without splitting and combining output you get whole output xor overview, but not both.

[2020-09-19 12:44] ahmetfaslantas opened #10535 "Jest Unrecognized CLI Parameters with TypeScript"
## 🐛 Bug Report

I am using jest to test my TypeScript code using ts-jest. On my main PC I have no problems but on my laptop I get the following error:
[code]
I am using the same version of every library on both of my computers and they are the latests versions. There are no differences between the machines.

I run the tests with the following command
[code]

## To Reproduce

I have not been able

[2020-09-20 15:58] TikiTDO opened #10537 "Add support for .mock extension for manual mocks - PR available"
## 🚀 Feature Proposal

Allow manual mocks in a `__mocks__/` subdirectory to optionally be tagged with an explicit `.mock` extension suffix to prevent filename collision with the original code. For example, a module called `account` in the `models` directory can be mocked by creating a file called `account.mock.js` in the `models/__mocks__` directory.

## Motivation

The existing manual mock paradi

[2020-09-20 17:05] cdalexndr opened #10538 "Timeout not working"
## 🐛 Bug Report

Test runs forever instead of timming out.
ts-jest issue: https://github.com/kulshekhar/ts-jest/issues/1973

## To Reproduce

Steps to reproduce the behavior:

[code]
[code]
Stuck at ` RUNS  ./foo.spec.ts`

## Expected behavior

Timeout

## Link to repl or repo (highly encouraged)

https://repl.it/repls/GlisteningScentedOpendoc#sum.test.js
https://github.com/cdalexndr/ts-jest-1973

[2020-09-20 18:12] raimoa1 commented on #10489
I know this bug is specifically about 16.2.2 version, but I was tired of seeing the error in failed tests went ahead and updated. Apparently it doesn't happen anymore after updating jsdom to 16.4.0.

[2020-09-20 21:32] arcticmatt opened #10539 "Calling cleanup code in JestEnvironment::teardown() still causes test to hang"
## 🐛 Bug Report

I have some code that needs to be cleaned up after my Jest test runs, i.e.
[code]

If this cleanup code is called in `afterAll`, things work fine.

However, if I create a custom test environment (that extends `NodeEnvironment`) and call `redis.disconnect()` there instead, the test hangs.

I'm not sure why there is this behavior difference, or what you're supposed to put in `JestEn

[2020-09-21 07:15] Fuki26 commented on #10150
I have been facing the same issue, the resolution for me was... just placed the project into my SSD(not in commond hard drive as was before the fix).

[2020-09-21 13:39] villasv commented on #10066
Just pinging issue subscribers, the PR is ready.

[2020-09-21 14:31] rix0rrr opened #10540 "feature: allow disabling of require-mock feature"
## 🚀 Feature Proposal

A flag to allow the disabling of the (recursive) replacement of a module's `require` function, to improve testing speed for projects that don't need it.

## Motivation

We have a [sizeable JavaScript project](https://github.com/aws/aws-cdk) with many files. So many files in fact that the replacement of the `require` function with a `requireModuleOrMock` function is starting

[2020-09-21 17:37] SimenB commented on #10540
It's not just mocking, it's also what gives transformation of source code (for both future/custom syntax and code coverage) and code execution within a sandbox (e.g. allowing you to use `window` when writing tests for the browser and isolation between tests). So disabling the custom `require` (and `import`) would mostly defeat the purpose of using Jest over e.g. `mocha` in the first place (except

[2020-09-21 17:37] #10540 closed

[2020-09-21 18:09] omgoshjosh commented on #9473
Hello all. My issue is that running `jest` produces the "a worker process failed to exit gracefully" but when i try to isolate with the provided CLI args `--runInBand and --detectOpenHandles`, I am no longer able to produce the error. so... just wanted to throw that out there. i also found this open issue in testing-library:

https://github.com/testing-library/dom-testing-library/issues/524

not s

[2020-09-21 19:25] rkuhn commented on #9037
It should be noted that at least with version 26.4.2 it is possible to compute values in `jest.config.js`, put them in `globalConfig.globals` as well as `global`, and thus have them available both in tests and global setup/teardown functions.

[2020-09-21 23:00] #10487 closed

[2020-09-21 23:10] chrisfosterelli commented on #9983
We also polyfill this and have failing tests on JSDOM 16 with jest:

[code]

Since `Buffer.from('') instanceof Uint8Array` evaluates true in node, I'm confused about where the problem actually is. Is JSDOM polyfilling in a slightly different implementation of Uint8Array?

[2020-09-22 00:46] nogic1008 commented on #10089
@jaythomas
It is out of the topic anymore.
Could you create a new issue on [vuejs/vue-jest](https://github.com/vuejs/vue-jest/issues)?

[2020-09-22 01:44] noenif commented on #5725
![image](https://user-images.githubusercontent.com/25174520/93837307-2600f380-fcb8-11ea-9557-b00e2c4ccffa.png)

He was right

[2020-09-22 09:05] AndreiRailean commented on #10489
Came here because I also had a similar issue. We use `yarn` so our setup is a little different. After bashing my had at jsdom, babel and other packages with no success, I found that deleting my `yarn.lock` forced package different package versions to be installed, which ended up resolving this issue.

[2020-09-22 15:31] lParanhos commented on #10523
Hello @Twiggeh , try this: https://github.com/discordjs/discord.js/issues/3971#issuecomment-602010271
It's worked for me.

[2020-09-22 15:32] tiagovilasboas commented on #10523
@lParanhos, the solution mentioned above solved my problem! tks

[2020-09-22 21:54] KevinGhadyani-minted commented on #3877
@yamsellem's solution fixed my issues with Docker-Compose not showing color output.

[2020-09-22 23:09] murali013 opened #10543 "Timeout - Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout.Error: Timeout - Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout."
Tried to mock the server response and run the react unit testing using sinon (fakeServer)

But got the below error not able to debug() the react component.

 **Timeout - Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout.Error: Timeout - Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout.**

** at mapper (node_modules/jest-jasmi

[2020-09-23 00:15] saher-elgendy opened #10544 "The react-scripts package provided by Create React App requires a dependency: "jest": "24.9.0"?"
I have updated **create-react-app** and created the project again but i still have that message when run `npm test`:

[code]

This is my **package.json** file:
[code]

I tried everything possible to make it work, but the only thing that make it work is downgrading jest to the recommended version in the message
[code]

But i don't like that solution as i want to use the latest version of jest, i wa

[2020-09-23 01:31] apples commented on #5823
@wmertens I like `test.result`, but I just think it's solving a slightly different problem.

Conceptually, using `test.essential` for the first test of a file, would be exactly the same as placing a `test.result` in the first line of all the other tests in the file, and discarding the actual result.

In my case, and I believe the case of others in this thread, our "dependent" test cases don't actu

[2020-09-23 03:24] Mark1626 commented on #7997
@SimenB bump

[2020-09-23 04:20] lamhieu-vk commented on #10398
I've seen this before... In Window and MacOS are case-insensitive and Linux is case-sensitive.

[2020-09-23 04:42] lamhieu-vk commented on #10539
For [afterAll](https://jestjs.io/docs/en/api#afterallfn-timeout) is often useful if you want to clean up some global setup state that is shared across tests and it available in block.

For `teardown` is clean up for the test environment, and from `setup` to `teardown` have many process doing, [here](https://github.com/facebook/jest/blob/6499debdaa4fde3cc83ad1f42b3210478a389026/packages/jest-runner

[2020-09-23 04:50] lamhieu-vk commented on #10527
It's maybe leaks by Jest.

[2020-09-23 07:32] eps1lon opened #10546 "Custom snapshot matcher name is ignored"
## 🐛 Bug Report

A custom snapshot matcher cannot have a custom matcher name as indicated in https://jestjs.io/docs/en/expect#custom-snapshot-matchers

## To Reproduce

Follow https://jestjs.io/docs/en/expect#custom-snapshot-matchers and add
[code]

## Expected behavior

A failing `toMatchTrimmedSnapshot` is described as `expect(received).toMatchTrimmedSnapshot(hint)`.

Which would also be problem

[2020-09-23 08:22] mnajjarian commented on #9860
I had the same problem. I've fixed that by including js files in ts-node:

`"transform": { "^.+\\.(ts|tsx|js|jsx)?$": "ts-jest" }`

[2020-09-23 08:27] ghasemikasra39 commented on #9860
Thanks Mahdi jan. Worked for me as well.

[2020-09-23 09:42] vvanmol opened #10547 "setupFiles can't be found when using browser-resolve Jest resolver"
## 🐛 Bug Report

I just upgraded all of our testing libraries to their latest version, including Jest.
Our test suite was dependant on the Jest configuration *browser* field which had been deprecated now.

I followed the instructions on how to reproduce the behaviour of that *browser* configuration field and added the following to my Jest configuration file:

[code]

Since then, when I run our tes

[2020-09-23 10:30] SimeonRolev commented on #7631
I don't know if this is still being worked on, but I notice that when I do a typo in the code, the tests in watch mode instantly fail. Which leads me to the thought that it's not actually forcing a new directory crawl before compiling the test. Very simple tests are taking 10 seconds for me as well.

[2020-09-23 12:02] jayshah123 opened #10548 "babelHelpers is not defined after upgrading react-native 0.63.2 + jest 25.1.0"
## 🐛 Bug Report

ReferenceError: babelHelpers is not defined

## To Reproduce

React Native: 0.63.2

deps:
[code]

## Expected behavior

Test should run as expected

## Link to repl or repo (highly encouraged)

jest config:
[code]

I printed out some code in ScriptTransformer.js and it looks like this:
[code]

## envinfo

[code]

[2020-09-23 14:40] johnstew opened #10549 "babel-jest TypeScript Class Type Parameters throws Unexpected Token error"
## 🐛 Bug Report

I am trying to setup TypeScript and babel-jest and am running into an issue with TypeScript Class Type Parameters throwing an Unexpected Token error. The weird part is this code compiles fine within the application itself but when running within Jest this error throws.

**Error Output**
[code]

[I'm using the class generic example from the TypeScript playground.](https://www.types

[2020-09-23 16:09] willsoto opened #10550 "Module caching memory leak"
## 🐛 Bug Report

This is a crosspost from https://github.com/kulshekhar/ts-jest/issues/1967 (**Please read through this issue for context**)

When transpiling TypeScript with a [minimal transformer](https://github.com/willsoto/jest-repro/blob/jest-memory-leak-custom-transpiler/transformer.js), there is a significant memory leak.

## To Reproduce

Steps to reproduce the behavior:

1. `git clone git

[2020-09-23 18:26] wmertens commented on #5823
@apples would your use-case not be served already with beforeAll? With perhaps a test on a global that beforeAll sets up?

[2020-09-23 18:26] jayshah123 commented on #10548
Started working after following change:
1. stopped using custom transformer in jest config file
2. renamed `.babelrc` to `babel.config.js`

[2020-09-23 18:26] #10548 closed

[2020-09-24 09:10] osdiab opened #10552 "Access the number of workers in globalSetup"
## 🚀 Feature Proposal

Add an environment variable or otherwise expose to the `globalSetup` script how many jest workers are being spun up for a test run

## Motivation

I want to setup `n` separate databases to run database tests in parallel while still maintaining isolation from a `globalSetup` script that happens before all test suites, and then access them based on the `JEST_WORKER_ID` flag, [

[2020-09-24 09:10] JoseHervas opened #10553 "Jest not collecting coverage from TSX files"
## 🐛 Bug Report

On a project with TS and TSX files, Jest runs all the tests but collects only coverage for the TS files.

## To Reproduce

Steps to reproduce the behavior:

1. `git clone https://github.com/JoseHervas/react-typescript-jest-boilerplate`
2. `npm install`
3. `npm run test:coverage`

## Expected behavior

Coverage from TSX files should be collected as well.

## Link to repl or repo (h

[2020-09-24 09:20] osdiab commented on #10552
i worked around this by assuming that `maxWorkers` is going to be the total number of workers - just realized that that piece of config is passed to the function that the `globalSetup` module exports. That works for me for now!

[2020-09-24 10:56] luciomartinez commented on #3236
Just in case someone else is also lost a bit after trying above's solution but using `import`: following is a fix for it.

[code]

Requisites: to have the [babel-plugin-dynamic-import-node](https://www.npmjs.com/package/babel-plugin-dynamic-import-node) configured.

Source: https://jestjs.io/docs/en/jest-object#jestdomockmodulename-factory-options

[2020-09-24 12:47] JoseHervas commented on #10553
**Update**: here's my jest config:

[code]

Apparently the problem comes from

`collectCoverageFrom: ['<rootDir>/**/*.{ts, tsx}'],`

We can not specify TS and TSX **on the same regex**. If I change this setting to 2 separate regex:

`collectCoverageFrom: ['<rootDir>/**/*.tsx', '<rootDir>/**/*.ts'],`

it works.

[2020-09-24 15:14] geocolumbus commented on #7136
So basically, it is impossible to change the implementation of a mock on a per test basis.

[2020-09-24 15:18] damien-roche commented on #7136
Come on guys, this is sheer incompetence. I don't use Jest out of choice, I use it because you have made it popular. This issue has been open since OCT 2018. You're just doing a disservice to the community you're trying to serve..? Get it together.

[2020-09-24 18:32] dsullivan7 commented on #7753
@jeysal I'm having a similar issue. My use case is importing my database, which creates an open connection and closing this connection once the tests have run. To support this, I'm using `setupFilesAfterEnv` which imports the database and closes the connection using `afterAll`. In my ignored tests, the database is imported and the connection created, but it is never closed because `afterAll` is no

[2020-09-24 19:01] apples commented on #5823
@wmertens No, it's not that there is some kind of setup required.

Consider a scenario in when you have a function `foo()` that you expect to return an object that looks like `{ a: 1, b: 2 }`.

You could test it like this:

[code]

In this case, tests A and B are completely irrelevant if the first test fails, but will still be run anyways.

With your `test.result`, you could do something like this

[2020-09-24 21:09] wmertens commented on #5823
It may read a little bit weird, but that's exactly what beforeAll does - if it fails, none of the tests run.

[2020-09-24 21:17] xobotyi opened #10554 "--silent option take no effect"
## 🐛 Bug Report

If to pass `--silent` option to the jest it still outputs to the console

## To Reproduce

- `yarn jest --silent`

But still got an output in console:
[code]

## Expected behavior

No output to the console

## Link to repl or repo (highly encouraged)

It is a private repo so i can't provide exact example now, but will do when i'll have some free time.

## envinfo
`jest.config.js`

[2020-09-24 23:55] 9still opened #10555 "Provide a way to find out whether fake timers have been enabled."
## 🚀 Feature Proposal

Provide a method (e.g. `jest.usingFakeTimers()`) that returns `true` if `jest.useFakeTimers` was previously invoked.  Alternatively, a property or a config object could be exposed with the same information.

## Motivation

It is often convenient to have a global cleanup routine for tests that does things like always reverting to real timers, etc.   It would be awesome if we

[2020-09-25 07:44] eric-burel commented on #9296
Boilerplates I've seen seem to define the test command in each package, with a jest config based on the root one. The behaviour you describe would be more consistent with `npm` or TypeScript for instance.

[2020-09-25 09:33] mesteche opened #10556 "Asynchronous asymmetric matchers"
## 🚀 Feature Proposal

Add support for asynchronous asymmetric matchers.

## Motivation

Sometimes, when dealing with complex objects containing async values, we have to imperatively extract them in order to test it.
This makes the test more imperative and harder to reason about. A declarative way of describing a payload with nested async values would help.

## Example
Today, to test nested async

[2020-09-25 09:54] wuweikd opened #10557 "Dynamically generate test function"
## I want to generate test function dynamically

like this:

[code]

But I know these are error, Is there any way I can do this？

[2020-09-25 10:41] thymikee commented on #10557
Tests can be created dynamically, but only in a synchronous way. Async is not supported and there are multiple discussions on this topic already.

[2020-09-25 10:41] #10557 closed

[2020-09-25 11:52] thymikee commented on #10553
I think you want to use "<rootDir>/**/*.{ts,tsx}" instead of "<rootDir>/**/*.{ts, tsx}"? Anyway, it's a user configuration error, closing.

[2020-09-25 11:52] #10553 closed

[2020-09-25 18:12] angie commented on #10476
Hey @ghaagsma, I tried reproducing this with a view to submitting a PR to fix.

[code]

The test ran okay:

[code]

Are you able to reproduce or even drop some snippets for me to do some digging?

Cheers!

[2020-09-25 20:24] bradleat commented on #9461
Shouldn't the jest-haste-map line read `declare class HasteMap extends EventEmitter.EventEmitter`?

[2020-09-25 21:15] allenchuang commented on #10468
Is it expected behavior? I was under the impression that you can isolate `jest.useFakeTimers()` in describe code blocks:

per the docs:

[2020-09-26 03:44] markerikson commented on #1815
I was just scratching my head over the syntax of `--testPathIgnorePatterns` as well.  After a bunch of experimenting, this _appears_ to work as desired, on Windows:

`--testPathIgnorePatterns modules/a modules/b modules/c modules/d`

that is apparently "array"-ish enough to work.

[2020-09-26 05:39] tri97nguyen commented on #10342
@SimenB Hi, it seems like komtaki solved this issue. Could you close it? Leaving it open confused beginners (which was me)

[2020-09-26 21:27] oldwin commented on #10520
I totally agree with @stkevintan and looking for this feature too, can also add a bit more details why I need it.

As I understand the actual problem is running failed test at the end of suite.
If you run

[code]

And `b` fails, it will run `a -> b (failed) -> c -> b (retry)`
I do not understand why we have this ordering, `a -> b (failed) ->  b (retry) -> c` should solve a lot of possible problems

[2020-09-26 22:53] vjpr commented on #2081
I want to leave a note here for pnpm users....

The following example doesn't work for pnpm users because pnpm paths are different. The above regexes only work with flattened `node_modules` dirs.

[code]

See: https://regexr.com/5cs2h

[code]
https://jestjs.io/docs/en/tutorial-react-native#transformignorepatterns-customization

## Fix

Use a negative lookahead for **the last** occurence by adding

[2020-09-27 10:49] SimenB commented on #10342
Sure - tracked in #10348

[2020-09-27 10:49] #10342 closed

[2020-09-27 11:37] SimenB commented on #9457
Opened up https://github.com/nodejs/node/issues/35375 upstream about the issue found by @wurstbonbon

[2020-09-27 12:30] chbro commented on #10347
same here on mac, downgrading jest-util to ^25.0.0 works for me

[2020-09-27 14:19] csvan commented on #9457
@SimenB are you aware of any viable alternatives to micromatch? That repo has been silent for over half a year now, and major issues affecting Jest like https://github.com/micromatch/micromatch/issues/179 are still open.

[2020-09-27 14:21] SimenB commented on #9457
Not really, it's what most libraries use. Could look at e.g. minimatch, but I doubt it'd be viable

[2020-09-27 15:17] kibertoad commented on #9457
@SimenB What makes minimatch better than all the alternatives?

[2020-09-27 16:20] dmaizel opened #10559 "Module ts-jest should have "jest-preset.js" or "jest-preset.json" file at the root."
I couldn't find any help on the internet so...

[2020-09-27 16:31] eps1lon opened #10560 "Custom inline snapshot matcher will always pass a test"
## 🐛 Bug Report

A custom inline snapshot matcher does not fail when the snapshot mismatches. The tests will pass and leave behind the updated snapshots

## To Reproduce

Follow https://jestjs.io/docs/en/expect#custom-snapshot-matchers and add
[code]

## Expected behavior

Changing the inline snapshot will lead to a failed test.

## Link to repl or repo (highly encouraged)

https://github.com/eps1

[2020-09-27 20:26] jeysal commented on #10453
I agree that the hooks API could use a redesign (in fact I talked about this [over a year ago](https://github.com/facebook/jest/pull/8654#discussion_r301945918)). I'm not quite sure how that would happen - perhaps as additional functions under a different name.

I'm not sure we have another ticket open for this (https://github.com/facebook/jest/issues/7823 is quite different), so we can leave this

[2020-09-28 02:19] antonkatz opened #10561 "Object.create and an undefined `this`"
## 🐛 Bug Report

When creating an object with `Object.create` and `this` is undefined in functions.

## To Reproduce

Steps to reproduce the behavior:

[code]

this logs `undefined`

## Expected behavior

`this` should not be `undefined`
The really weird part is that the debugger evaluates `this` as a defined object.

## envinfo
[code]

[2020-09-28 02:24] antonkatz commented on #10561
Removing `babel.config.json` solves the issue. Hmm...

[2020-09-28 02:43] antonkatz commented on #10561
Going further, the
[code]
is transformed to
[code]
by Babel.

[2020-09-28 13:59] abduliOS commented on #6509
In My Case simply removed "testMatch" from package.json

[2020-09-28 20:54] ahnpnl commented on #10559
It would be helpful if you can provide your repo so people can look into and provide help :)

[2020-09-28 21:13] jeysal commented on #10013
Yes, this appears to be up for grabs

[2020-09-28 22:42] amacneil commented on #8769
I don't know if it helps anyone, but I was getting this error when running in a docker container on macOS, and I fixed it by increasing the memory available in Docker Desktop for Mac preferences.

[2020-09-28 23:24] breck7 commented on #3322
The solution from @cefn worked great for me.

I added this to our package.json: `"test-compact": "jest 2>&1 | grep 'FAIL'",` and now can just run `yarn test-compact` on the command line to see a list of the failed tests. Failed tests are shown twice, but nbd.

[2020-09-29 00:26] talesmgodois opened #10562 "Documentation Portuguese errors"
This probably is not the right place to do this. But, Looking at the documentation here: https://jestjs.io/docs/pt-BR/getting-started. I saw a lot of places that that the Portuguese version is mixed with the english version.

How is this being translated? I am asking because I could help translating it correctly.

[2020-09-29 01:36] leossantiago commented on #10562
I suggest you checking out `CONTRIBUTING.md`. It includes the guidelines to contribuing to Jest.
It looks like translations are made through `crowdin` (check https://crowdin.com/project/jest).
Probably only changes to the original docs, in English, are made using PRs.

[2020-09-29 03:20] apples commented on #5823
No, `beforeAll` behaves a bit differently:
- If it fails, it won't prevent other `beforeAll` blocks from running.
- All `beforeAll` in a file/describe will be executed before *any* tests are ran, not just the ones below them.
- It doesn't show up in the output as its own failed test.
- The dependent tests will still show up with errors in the output, but the error will be identical for all of them

[2020-09-29 04:42] PizzaPartyInc commented on #9901
Hi! Has there been any progress on this issue? :)

[2020-09-29 05:10] wmertens commented on #5823
@apples so beforeAll is almost what you want but it needs better error behavior?

Except that you would also want test.essential to apply halfway in a file; I wonder if that would not be better expressed by beforeAll in a describe block (not sure if possible but sounds nice)

[2020-09-29 08:05] GeertWille commented on #9759
I don't think this is fixed... We encountered the same issue on version 26.4.2.

[2020-09-29 09:47] ludovicofischer commented on #10544
I think most of the time `create-react-app` just one Jest version per major `create-react-app` version, as they mention the Jest 24 update as a 3.0 release highlight https://github.com/facebook/create-react-app/releases/tag/v3.0.0, so your only options might be wait for a new `create-react-app` release or do as the error message say, add `SKIP_PREFLIGHT_CHECK` to the `.env` file and hope for the b

[2020-09-29 11:33] pauldraper opened #10563 "Programmatic API"
## 🚀 Feature Proposal

Run jest programmatically, similar to jsunit, mocha, jasmine, etc. JS APIs.

## Motivation

I want to integrate Jest with a build tools/test runner (Bazel). That manages compilation, parallelism, workers, file watching, aggregating test reports, etc. (no knock on Jest, but JS is not the only language that needs these, and a consistent tool is nice).

That leaves me needing w

[2020-09-29 11:37] pauldraper commented on #10563
Looks like a dupe of #5048

[2020-09-29 11:37] #10563 closed

[2020-09-29 14:15] #10562 closed

[2020-09-29 14:45] petr-ptacek commented on #8006
Hi, you can specify path in the configuration "babel-jest" like this

`  transform: {
    '^.+\\.[jt]sx?$': ['babel-jest', { configFile: path.resolve(__dirname, 'config/babel.config.ts.js') }]
  },`

[2020-09-29 18:22] sarathps93 commented on #10398
@SimenB Can I work on this issue?

[2020-09-29 18:56] Gamote commented on #9636
@septs, @nvdnkpr, @G-Rath, @brieb, @dl748, @glennreyes

Hi guys, I hope this is what you were looking for: #10564 ✌️

[2020-09-29 22:16] stimberm opened #10565 "Jest does not allow constants called "global", not even in imported files."
## 🐛 Bug Report

Jest fails tests with the following error as soon as some imported/required file defines a constant called "global".

[code]

See https://github.com/stimberm/reproduce-jest-global-collision for an example.

Renaming the constant is a workaround, as is using `var` instead of `const`, but that is not feasible for dependencies. Specifically, the latest release of [monaco-editor](http

[2020-09-29 22:47] DamianPereira commented on #8819
Is there any way of increasing the stacktrace lines? I'm using react-form-hooks and the output is not enough:
´´´
  console.error
    Warning: An update to SettingsStep inside a test was not wrapped in act(...).

    When testing, code that causes React state updates should be wrapped into act(...):

    act(() => {
      /* fire events that update state */
    });
    /* assert on the output */

[2020-09-30 01:11] G-Rath commented on #8810
@jeysal (or someone who can edit the issue): could you add `globalTeardown` to list?

[2020-09-30 01:17] Bnaya commented on #8810
A possible workaround, point to a JS file that register transpiler and require the source file

[code]

[2020-09-30 04:47] rahulballal commented on #8769
It is a bit embarassing for us node devs that 2 cpu and 4gb ram cannot run unit tests properly :disappointed:

[2020-09-30 10:02] Chnapy commented on #6814
In my team we have the same issue, causing our tests failing with a 'out or memory' error.
After investigations it seems lib `aws-xray-sdk` to be the cause, comment any references to it fix the issue.

[2020-09-30 11:10] fazouane-marouane commented on #6814
We run our tests using plain old unix tools to avoid running into these memory leak issues. In case it helps someone:

It's a combination of `find`, `sort` and `xargs`. It finds all test files, sort them randomly, then runs 4 instances of jest in parallel, each will test chunks of 5 files.

[code]

[2020-09-30 11:39] tobiasgrossmann commented on #9808
Is there any known workaround?

Example Result from jest ("jest": "^26.4.2"):
`{"C:\\service\\config.js": {"data":{"path":"C:\\service\\config.js",`

Example Result from Cypress/NYC:
 `
{"C:\\client\\ClientApp\\src\\App.js":{"path":"C:\\client\\ClientApp\\src\\App.js",
`

[2020-09-30 11:51] bensampaio opened #10566 "Issues with CSS Modules when upgrading from jest@26.1.0"
## 💥 Regression Report

I use a custom mock for CSS Modules which has been working well so far but when I upgrade from `jest@26.1.0` to `jest@26.2.2` or higher I get the following error on some component snapshots:

[code]

I also tried to use `identity-obj-proxy` but I get the same issue.

It seems that `pretty-format` is giving some kind of special treatment to `Proxy` values when they need to b

[2020-09-30 12:00] tobiasgrossmann commented on #9808
Ok - using this workaround: https://github.com/facebook/jest/issues/2418

[2020-09-30 14:02] shrpne commented on #8297
I have simillar issue.

My test:
[code]

It should fail but it doesn't

[2020-09-30 16:14] zifish commented on #10518
i have the same problem :/

[2020-09-30 16:43] ejones opened #10567 "mockRestore resets mock state for non-spyOn mocks"
## 🐛 Bug Report

Calling `.mockRestore()` on a non-`.spyOn` mock (e.g., one created with `jest.fn()`) resets mock state (implementation etc.). This is contrary to the [docs](https://jestjs.io/docs/en/mock-function-api#mockfnmockrestore):

Also, `jest.restoreAllMocks()` _does_ only apply to `.spyOn` mocks, in line with the docs. This inconsistency means that `.restoreAllMocks()` is not, in fact, "e

[2020-09-30 23:29] octogonz opened #10568 "__dirname and __filename print incorrect file paths for TypeScript files"
## 🐛 Bug Report

## To Reproduce

Steps to reproduce the behavior:

1. Create a TypeScript project with a Jest test. I reproed this using `ts-jest`, and also [Heft](https://www.npmjs.com/package/@rushstack/heft). `babel-jest` probably works as well.

2. Reference the Node.js `__filename` symbol from a product code file:

**src/my-file.ts** `--transpiles-to-->` **lib/my-file.js**
[code]

**src/my-f

[2020-09-30 23:37] jasonswearingen commented on #10568
I ran into this when using the ```@microsoft/heft``` tool.      In my situation I need the proper location to the output folder because some libraries like ```web-worker``` read the location at runtime for where to load workers from.

[2020-10-01 00:54] jennet333 opened #10569 "Approve"
## 💥 Regression Report

A clear and concise description of what the regression is.

## Last working version

Worked up to version:

Stopped working in version:

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

A clear and concise description of what you expected to happen.

## Link to repl or repo (/jest)or a minimal repository on GitHub.

Issues without a reproduction link

[2020-10-01 06:08] WestedCrean commented on #1781
Hi, is this still available? :)

[2020-10-01 07:53] #10569 closed

[2020-10-01 08:51] SimenB commented on #10568
Jest runs on test file the where it is on disk, and the correct filename there is with `.ts`. If you want it to be `.js` you need to transpile your test outside of Jest and point it to the `js` file produced by that process. But jest itself never outputs a `js` file on disk.

[2020-10-01 08:51] #10568 closed

[2020-10-01 11:57] SimenB commented on #9457
Based on the feedback in the issue I've opened, I'm thinking we should revert to using `Script` for now as it seems it's gonna need a bit of work in Node to fix it there.

@leipert @wurstbonbon or anyone else, can you try this patch in your `node_modules/jest-runtime/build/index.js`?

<details>

[code]
</details>

I'll need to tweak how v8 code coverage works, but I'll try to open a PR tomorrow or

[2020-10-01 13:29] victorphoenix3 commented on #8889
May I work on this issue?

[2020-10-01 13:49] XifeiNi commented on #10021
if no one else works on it, I would like to give it a try as my first issue. :)

[2020-10-01 13:56] jasonswearingen commented on #10568
@SimenB IIRC ts-jest is used to avoid tests executing jest (via --watch) while incremental rebuilds are in progress.

what would be your recomendation for dealing with --watch issues?

Based on what you are saying, it seems tooling like ts-jest can not be used as a dependency in general infrastructure like ```heft```.   Do you suggest any workarounds for ```ts-jest``` to consider?

[2020-10-01 14:05] snitin315 commented on #8889
@victorphoenix3 yes!

[2020-10-01 16:26] octogonz commented on #10568
This a correct statement of how the filename is calculated today. But it's not a solution to our problem. The Node.js  `__filename` API needs to work consistently when accessed from a unit test.  If it returns the source file path, then every test needs to mock the `__filename`  API when calling any production code that uses it. How is that a good or useful design?

We started with this approach,

[2020-10-01 17:28] classic0 commented on #10144
Unexpected, the same without --verbose flag.

[code]

[2020-10-01 17:52] flozender commented on #10013
Hi, may I take this up?

[2020-10-01 17:57] jhalak27 commented on #10013
@jeysal Should I start working on this?

[2020-10-01 20:26] gmichaeljaison commented on #5108
@benmccormick It's been long time since your previous answer. Did you move to use Babel 7 now? If yes, how did you tackle the symlink problem? Thanks.

[2020-10-01 20:34] benmccormick commented on #5108
@gmichaeljaison I've switched jobs since then and don't really remember how this played out, sorry.

[2020-10-01 20:46] jeysal commented on #10013
@jhalak27 sure, have a go

[2020-10-01 20:55] jeysal commented on #10568
We will not. There is no corresponding `**/*.js` path for a TypeScript file, because it is not being written anywhere. Writing files is something that TSC can do, or @babel/cli. What would the path be anyway? It's entirely up to TypeScript or Babel configuration or arguments what the output path would be. Even the extension is unclear, it could reasonably be `.js` or `.cjs` or `.mjs`. So no, we wi

[2020-10-01 23:57] octogonz commented on #10568
In the case of Heft, the TypeScript compiler really does write `*.js` files to disk. The Jest transform simply returns the contents of those files.

But even in configurations where that is not the case, the output file path is still meaningful. In memory transpilation is essentially just an optimization that approximates the production `tsc` build.  Internally Jest may think of itself as "executi

[2020-10-02 02:01] amacneil commented on #8769
Well don't feel quite so bad, the default was 2gb ram and increasing to 4gb prevented this error 🙂

[2020-10-02 04:07] jackneer commented on #9834
May I help this? thanks!

[2020-10-02 04:40] SimenB commented on #9834
Of course! 👍

[2020-10-02 06:02] SimenB commented on #10568
Jest's conceptual runtime is much more similar to e.g. `ts-node src/index.ts` than it is to `tsc --outDir ./dist && node dist/index.js`. And if you do `ts-node src/index.ts` with an `index.ts` file of `console.log(__filename)` it will print `/absolute/path/to/src/index.ts`. So I don't think the initial "do as node does" comparison is necessarily valid.

I'm still not convinced we should allow a tr

[2020-10-02 06:27] trulyronak commented on #3215
@danielzgtg seems like its gone - it really makes 0 sense at all why they wouldn't surface a cli feature in the config, when there's a clear reason to want to run certain tests in sequential order. Not everything is going to be parallelized, this is ridiculous.

<img width="661" alt="Screen Shot 2020-10-01 at 11 26 33 PM" src="https://user-images.githubusercontent.com/9388431/94894105-8bce4780-043

[2020-10-02 06:49] empperi commented on #7631
I would wish so much that someone would at least acknowledge this is a problem. As it is now, my windows desktop machine which has plenty of power (read: much more than my co-workers macbook) is approximately 69 times slower than the macbook when executing tests! This is practically forcing me not to touch the frontend code since it is so inefficient for me to work on those due to Jest tests runni

[2020-10-02 07:22] timrobinson33 commented on #7631
On a more positive note, I'd just like to say I owe this bug a great debt of gratitude. It was the final straw that made me decide to switch to Linux for my main development workflow and I've never been happier. I can't say I'd never go back because sometimes I have to work on legacy projects, but with ASP.NET core being cross-platform, the reasons for booting back into windows are becoming fewer

[2020-10-02 09:02] alessioalex commented on #7631
Please @timrobinson33 let's stay on topic. There is no reason `jest` should be 68 times slower than any other environment on Windows, considering Node works just fine on any platform. Also might I add, I have not experienced this problem with any other test runner.

[2020-10-02 09:03] ohana54 commented on #5989
@SimenB We have the same issue, but the advantage is we control our own build agents, so we have an environment variable with the correct number of CPUs.

Are you open to controlling the `--max-workers` with an environment variable as well? This way we can set it and all our consumers will automatically get it.

[2020-10-02 10:20] jeysal commented on #10568
This is an odd concept. A compiler does not inherently need to have any concept of a file. It's a function from typically more human-readable, higher-level source code to typically more machine-readable, lower-level machine code, usually with information loss. You will find that for example `@babel/core` nowhere mentions an 'output file', that is a concept introduced by its consumers like `@babel/

[2020-10-02 16:23] edward-smith commented on #10144
We're getting this error on a 3G VM but it build successfully on a 7G VM:

[code]

[2020-10-02 16:45] sibelius commented on #10144
this happens when your tests have memory leak

[2020-10-02 16:45] #10144 closed

[2020-10-02 21:42] Cellule commented on #9457
I tested out the patch to use `Script` on our test suites and here's the result I came to
Time is in `min:sec`

Name | Suite 1 | Suite 2 | Suite 3 | Suite 4
-- | -- | -- | -- | --
jest 24 | 3:25 | 3:30 | 3:29 | 0:53
jest 26 patched | 3:32 | 4:36 | 3:48 | 0:53
jest 26 unpatched | 5:10 | 6:12 | 5:11 | 1:07
26 patched vs 24 | 4% | 31% | 9% | 1%
26 unpatched vs 24 | 52% | 76% | 49% | 27%
26 patched vs

[2020-10-02 22:48] kylemh commented on #9457
still interesting that v26 still doesn't improve on v24...

[2020-10-03 10:17] SimenB commented on #9457
Thanks @Cellule! That's good enough for me - I'll put together a PR when I have some time

[2020-10-03 11:09] longuyen97 commented on #8310
@cyphernull Thank for helping, following is my package.jsonconfig that worked

[code]

[2020-10-03 12:12] EhsanSarshar opened #10574 "Cannot find module 'InitializeCore' from 'node_modules/react-native/jest/setup.js'"
[code]

[2020-10-03 15:19] thymikee commented on #10574
Too little information. Make sure you have "react-native" set as "preset" and having only one copy of react-native in node_modules. "InitializeCore" (PascalCase) suggests you're using older version of RN that uses Haste, which is incompatible with Jest 26. Use v25 if you can't upgrade React Native.

[2020-10-03 15:19] #10574 closed

[2020-10-03 17:43] EhsanSarshar commented on #10574
ok it seems that the problem is with react native version. "react-native": "0.58.6"

[2020-10-03 17:59] pt-bhavsar opened #10575 "Enable/disable submit button base on useState boolean values changes true/false"
I am populating the form fields from a configuration and after user update the fields, I compare the updated fields with configuration fetched earlier using "isEqual". If "isEqual = false" I enable the submit button. I am having little trouble to simulate this behavior using jest. Could anyone help with this test case?

Below is my sample code snippets:

`const onSubmit = React.useCallback(values

[2020-10-03 18:03] thymikee commented on #10575
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](https://jestjs.io/en/help). Thank you :)

[2020-10-03 18:03] #10575 closed

[2020-10-03 18:39] fkirc opened #10576 "toStrictEqual ignores Map order"
## 🐛 Bug Report

The following test passes:

[code]

## To Reproduce

Copy and run this test.

## Expected behavior

The test should fail.
My argument is that you can use regular JavaScript-objects if you want to ignore the order, whereas JavaScript-Maps are specifically designed to keep their order.

## envinfo

[code]

[2020-10-03 18:44] jeysal commented on #10576
I disagree with the proposed change, and it's definitely not a *bug*. Considering order for maps when we don't for objects seems un-intuitive. It's also a highly breaking change.
To check map equality incl. order, consider using `.entries()` on actual and expected.

[2020-10-03 18:44] #10576 closed

[2020-10-03 18:50] fkirc commented on #10576
I agree that you do not want to make such a highly breaking change, therefore I am fine with closing this issue.

Actually, I think that the order is the main feature of JS-Maps.
It makes very much sense to provide additional features that regular objects do not provide.
If I did not care about the order, then I could use regular objects instead of Maps.

[2020-10-03 18:54] jeysal commented on #10576
A key reason to use maps over objects for many people is when they need high get performance

[2020-10-03 19:11] csvan commented on #9457
Awesome stuff! That leaves only the Micromatch issue then, hopefully that repo will come under active maintenance again.

[2020-10-03 20:34] fkirc commented on #10576
`toStrictEqual` shows a very nice diff when Map-orders are wrong, but it does not check the Map-orders.
Therefore, I rolled my own function `toStrictEqualMapOrder` that builds on top of `toStrictEqual`.

[code]

It would be nice to add a similar function to Jest (but a cleaner and more optimized version).

[2020-10-03 20:38] jeysal commented on #10576
Take a look at `expect.extend` as well! 🙃

[2020-10-03 21:32] fkirc commented on #10576
I tried to use `expect.extend` to enable the regular Jest-syntax as follows:

[code]

However, this does not work very well for my TypeScript-setup.
I expanded Jest's namespace as follows, accompanied by an `expect.extend`:

[code]

Although this is technically working, the import-mechanics seems to be rather fragile.
For example, my IDE is incapable of suggesting correct imports for this extended

[2020-10-03 21:59] fkirc commented on #10576
Based on the number of open issues, there seem to be way too many feature requests, but I would nonetheless add two small feature requests:

- Add a new function `toStrictEqualOrder` that checks both Map-orders and Set-orders.
- Improve `expect.extend` for TypeScript, or perhaps adapt the documentation.

[2020-10-03 22:08] jeysal commented on #10576
The additional matcher would not get accepted as it's quite specific, but `jest-extended` may accept it perhaps.
Not sure how `expect.extend` could be improved for TS, but any proposal let us know!

[2020-10-04 00:57] voces opened #10577 "Circular references hang jest when assertions fail on node 14"
## 🐛 Bug Report
When an assertion fails where either the expected or actual value is circular, and both values are objects, jest encounters an error stating it failed to convert a circular structure to JSON, resulting in the test run not completing.

## To Reproduce
[code]

Running jest gives me the following error:
[code]
Jest continues running indefinitely (I only tested up to ten minutes) and r

[2020-10-04 08:28] octogonz commented on #10568
Yes, exactly.

The "do as node does" expectation would NOT be valid for `ts-node src/index.ts` (how `jest-babel` works).

But it is very natural for `tsc --outDir ./dist && node dist/index.js` (how Heft invokes Jest).

In other words, one's expectations for `__filename` depend on which transform you are using.  Which is why the transform seemed to be the place to sort this out.

Why is that?  It c

[2020-10-04 12:37] RIP21 commented on #9457
BTW, there is also perf regression in JSDOM I assume. As I did such tests on a big web project.
And it looked like that.
[code]
Surely this is a super vague and unstable performance report I must stay, but I think every input helps :)

[2020-10-04 13:35] pot-code opened #10581 "moduleNameMapper failed to process the capture group"
## 🐛 Bug Report

Capture group defined in regexp doesn't work

console output:

[code]

## To Reproduce

webpack config:

[code]

import file:

[code]

jest.config.js:

[code]

## Expected behavior

The console should at least print:

[code]

## Link to repl or repo (highly encouraged)

https://github.com/pot-code/novel-reader

`npm run webview:test` or `yarn webview:test`

## envinfo

[code]

[2020-10-04 17:58] aryzing opened #10584 "Zero width chars not showing in diff"
## 🐛 Bug Report

Differences in strings containing zero width chars are not highlighted, making them incredibly hard to spot and debug. Eg, one of the following strings has as its first character (character at position 0) a [byte order mark character](https://en.wikipedia.org/wiki/Byte_order_mark) as its first character, and the other has the letter "T" as its first character.

![image](https://us

[2020-10-04 21:41] nasreddineskandrani commented on #7631
I tested with v26 in my benchmark github
pretty fine when i update the simple test (see screenshot)! For me jest is now correct for a simple test.
If you have a problem at your job. You need to try to isolate the problem since by default it's fine.

![image](https://user-images.githubusercontent.com/1953635/95027705-8ef94b80-0668-11eb-93b5-80dfc1336f26.png)

[2020-10-04 23:26] apaatsio commented on #10203
Duplicate of #9401

[2020-10-05 06:41] empperi commented on #7631
![image](https://user-images.githubusercontent.com/2384816/95043348-2ef4ba80-06e5-11eb-99a9-c531e1c68661.png)

As expected, no difference to your test setup performance. Runs actually bit faster than on your computer. Changed your test setup to contain 100 test files under `__tests__` and those too run fine. Since our app uses `react-scripts` I also added that to your example to check if that migh

[2020-10-05 07:55] thymikee commented on #10203
Thanks @apaatsio

[2020-10-05 07:55] #10203 closed

[2020-10-05 08:22] oturpe opened #10588 "Snapshots of mock.calls of function that modifies it input show the input object after the modification"
## Bug Report

Consider a function that gets an object as its input, modifies some of its properties and returns. If such function is mocked and then the calls asserted using `expect(fn.mock.calls).toMatchInlineSnapshot()`, the snapshot must be formatted to match the input object state *after* the function call. This does not make much sense, since `fn.mock.calls` should be a log of how the functi

[2020-10-05 08:57] #10489 closed

[2020-10-05 09:37] amirsaleem-kn opened #10590 "How to access jest's assert functions in a custom matcher"
## 💬 Question

I am writing a custom matcher for my own API response schema. I want to use jest's built-in assert functions inside my custom matcher so that I don't have to write my own test functions inside my custom matcher. Here is my code

[code]

The problem is that `this.toMatchObject` is not a valid statement. Is there a way to access functions like `toMatchObject` inside a custom matcher?

[2020-10-05 09:48] SimenB commented on #9457
https://github.com/facebook/jest/releases/tag/v26.5.0 has the `vm.Script` change discussed here

[2020-10-05 10:03] SkeLLLa opened #10591 "Regression: runtime.setGlobalsForRuntime is not a function jest-circus 26.5.0"
## 💥 Regression Report

Updating jest to 26.5.0 with jest-circus runner started to throw an error:

[code]

## Last working version

Worked up to version:
jest: 26.4.X
jest-circus: 26.4.X

Stopped working in version:
jest: 26.5.0
jest-circus: 26.5.0

## To Reproduce

Steps to reproduce the behavior:

I'm not sure what exactly cause the issue, but maybe it's code that looks like:

[code]

in global

[2020-10-05 10:17] SimenB commented on #10591
Unable to reproduce this one... What version of `jest-runtime` do you have in your `node_modules`? It should be 26.5.0 (same as `jest`) but maybe something went wrong?

[2020-10-05 10:26] #10591 closed

[2020-10-05 10:27] SimenB commented on #10591
@SkeLLLa added some defensive code for version mismatch, please try https://github.com/facebook/jest/releases/tag/v26.5.1

[2020-10-05 10:29] jhalak27 commented on #10013
Are there the only two files where changes are needed?
Also, just have to change name to id right?

[2020-10-05 10:30] SkeLLLa commented on #10591
@SimenB thanks.
however I think I've found what could cause an issue. For some tests I use https://www.npmjs.com/package/jest-serial-runner and seems it uses obsolete runtime - jest-runner@24.9.0

[2020-10-05 10:31] jeysal commented on #10013
Haven't checked how many relevant files there are, but yeah just the name change

[2020-10-05 10:34] SimenB commented on #10591
That seems likely, yeah. We might need to add some sort of version requirement here - we get an instance of `runtime` passed by `jest-runner`, so our own version ranges are possibly outdated/misleading if people use custom runners.

Regardless, the extra safety I added is a good idea for Jest 26 as people might install a newer `jest-circus` than their main `jest` installation, which would lead to

[2020-10-05 11:22] csvan commented on #9457
Preliminary results on the same test suite:

Jest 26.5
Cold: 85.222
Hot:  41.399

Jest 26.4:
Cold:  90.213
Hot: 47.408

[2020-10-05 11:30] jhalak27 commented on #10013
@jeysal I have made the changes on relevant files. The Running TypeScript compiler & ESLint is successfully but the other tests are falling as there are corresponding changes required to be done in __test__ files. What should I do?

[2020-10-05 11:33] Glinkis commented on #7631
Running the benchmark on my windows machine takes about 1.6s. I am not using WSL.

![image](https://user-images.githubusercontent.com/8037927/95074553-097ca680-070f-11eb-82d3-5d23adefc5a6.png)

[2020-10-05 11:37] kkckkc commented on #9457
And here are the results with my test suite:

Jest 26.5
Cold: 149s

Jest 26.4
Cold: 226s

[2020-10-05 11:43] silverwind commented on #8449
Doing the same in a setup file also seems to have no effect:

`jest.config.js`:
[code]
`setup.js`:
[code]

[2020-10-05 12:27] SimeonRolev commented on #7631
I wanted to test if it's the environment being the issue.

I was messing around with this repo: https://github.com/kentcdodds/react-testing-library-course/tree/tjs
- I go for `npm test` and all the test start running in watch mode.
- I press 'p' to enter a pattern for a file and I type in "tdd-02". I get 3+ seconds execution time.
![image](https://user-images.githubusercontent.com/19570004/9507865

[2020-10-05 12:39] SimenB commented on #9457
Great news 🙂 I think we're back to just the micromatch regression, then

[2020-10-05 13:34] nbyavuz commented on #3322
Thanks for answer. Addition to that, you can use
[code]
for removing duplicate outputs.

[2020-10-05 14:18] kauecastro commented on #9292
In my case I'm using nextJs, and **I solved my problem removing "next/babel" preset when I'm on Test enviroment** (For any reason, using "next/babel", I'm getting SyntaxError: Cannot use import statement outside a module):

**babel.config.js**
[code]

[2020-10-05 15:16] victorphoenix3 commented on #8889
Hi @alexkubica ! I am almost done with the PR. Maybe you could help review it :)

[2020-10-05 15:17] hasparus commented on #4883
Okay, I just added `console.error` and found a `ModuleNotFoundError`, but I wanted to ask:
**Why does Jest hang instead of crashing?** Swallowing errors doesn't seem like a good idea IMHO.

[2020-10-05 15:30] Singtah commented on #7780
Same issue here

[2020-10-05 15:45] carlosnufe commented on #9471
You have to restore it if a possible next test uses the variable, otherwise, the mocked value could bias on the result.

[2020-10-05 18:30] pot-code commented on #10581
Oh my, I just got the wrong path which should be `/Users/xxx/Documents/open-source/xxxx/src/webview/hooks$1` instead.

[2020-10-05 18:30] #10581 closed

[2020-10-05 18:51] sohail-nazar opened #10593 "Create React App with eject using component from submodule repository: Jest test fail.( SyntaxError: Unexpected token 'export')"
I'm using Create React App that is ejected. I included my component repository as git submodule. My app run fine on local, and able to generate production build successfully. But when I run Jest test. I'm getting this error. code in submodule repository is not transpiling. and getting this error.

`import { STToastContainer } from 'design/atoms/Toast';`

I package.json file, this is my jest settin

[2020-10-05 18:54] thymikee commented on #10593
You need to update Jest configuration to understand your module alias. Also, next time please follow the issue template.

Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](https://jestjs.io/en/help). Thank you :)

[2020-10-05 18:54] #10593 closed

[2020-10-05 19:38] sohail-nazar commented on #10593
@thymikee  where I have to add this submodule alias in jest setting?
can you add simple code

[2020-10-05 22:56] raymyers opened #10594 "Reduce dependencies"
## 🚀 Feature Proposal

Reduce the number of dependencies including transitive to <100 .

## Motivation

When you create a new project with Jest, there are immediately 347 dependencies pulled in. Many of these are included for just a few lines and consolidated packages with related groups of functionality could be used instead to make the dev workflow more efficient.

The shear quantity of tiny pac

[2020-10-06 01:00] nasreddineskandrani commented on #7631
@Glinkis can  you try to hit enter after the first run is it still showin 1.6sec?

[2020-10-06 01:34] gwmccull opened #10596 "Update engine requirement"
## 🐛 Bug Report

while running jest on our CI server, we kept getting an error

[code]

as mentioned [here](https://github.com/facebook/jest/pull/10558#issuecomment-703975885)

the problem was that our CI server is running on Node 13.2 but that version doesn't work correctly with the imports for the yargs library

as mentioned in that PR, the imports are supported in node 13.7

## To Reproduce

St

[2020-10-06 06:21] luckylooke commented on #1766
I am using jest snapshot for snapshoting template state of Vue component - SFC (single file component) and instanbul comments get into template and so it breaks snapshots. I think it is Vue loader or something which replaces referenced controller functions references with their implementation in templates. I didn't find a way yet how to fix this. 😞

[2020-10-06 07:35] nvh95 commented on #9457
If you guys are using `npm-force-resolutions` to forcely install micromatch 3. It may not work in `jest@26.5.0`

[code]

Error when run test:
[code]
@SimenB Thank you very much for the update. It saves us 20% of running time on Travis after updating to `jest@26.5.0`

[2020-10-06 07:59] NareshMurthy opened #10597 "Can we get all the asserted (expected and actual ) values from a test?"
I see Jest prints the expected and actual results only if any assertion in a  test fails, can we get all the assertions (expects) of a test irrespective of the result?

[code]

[2020-10-06 09:32] devil-cyber commented on #10584
hey can I work on this issue

[2020-10-06 10:43] VadymBoguslavsky opened #10601 "How to test with snapshots child components"
Hi, i am trying to test my react components with snapshots testing) The thing is how can i render my child components?  I am using Apollo and next.js, the page is rendering correctly but the items is not.
My test is like this

[code]

and my component is something like this

[code]

Snapshot is just like this.

[code]

We had even less complicated pages but the main problem is in this components w

[2020-10-06 10:44] #10596 closed

[2020-10-06 10:46] SimenB commented on #10601
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2020-10-06 10:46] #10601 closed

[2020-10-06 10:57] SimenB commented on #10584
@devil-cyber sure, thanks!

[2020-10-06 11:24] devil-cyber commented on #10584
Can you please explain a bit how to get satrted

On Tue, Oct 6, 2020, 4:27 PM Simen Bekkhus <notifications@github.com> wrote:

[2020-10-06 11:29] SimenB commented on #10584
This is really @pedrottimark's domain, but it should be somewhere in https://github.com/facebook/jest/tree/5da90b58eb6673e6f406f9ebc369b1f0fb747384/packages/jest-diff. Maybe @jeysal could provide some more details?

[2020-10-06 11:30] devil-cyber commented on #10584
Ok

On Tue, Oct 6, 2020, 5:00 PM Simen Bekkhus <notifications@github.com> wrote:

[2020-10-06 11:36] jeysal commented on #10584
I would expect most of the changes to be in `pretty-format` more likely than `jest-diff`.
We want to serialize a string starting with certain characters in a different way.
There should probably be a brief discussion on how exactly this should be visualized, ideally with input from @aryzing as well.
Maybe `"\uFEFFbla"`, but then how do we distinguish it from a string actually containing those char

[2020-10-06 11:37] devil-cyber commented on #10584
Ok

On Tue, Oct 6, 2020, 5:06 PM Tim Seckinger <notifications@github.com> wrote:

[2020-10-06 12:07] Glinkis commented on #7631
Pressing enter makes the test run in around 200ms.

[2020-10-06 12:33] jeysal commented on #10594
This is something @cpojer is somewhat passionate about and has recently landed some things to improve, not sure how much improvement that already brought and how many more quick wins we have available.
I'm not personally passionate about it (I'm more looking into the external things that are loaded once per test file which are a major performance bottleneck), but I would help land anything that ma

[2020-10-06 12:37] #9463 closed

[2020-10-06 12:39] jeysal commented on #10594
This is a duplicate of https://github.com/facebook/jest/issues/6266

[2020-10-06 12:39] #10594 closed

[2020-10-06 13:59] jcs98 commented on #9007
@thymikee I would love to take this up as my first issue.
Can you please suggest the expected behavior?

[2020-10-06 14:10] flozender commented on #10479
@jeysal I'd love to give it a shot! May I go ahead?

[2020-10-06 14:12] jeysal commented on #10479
Yep!

[2020-10-06 15:29] thymikee commented on #9007
What @ghostd said. Plus, we could add a simple check if lowercasing a single letter would match with one of the valid options, but nothing more :)

[2020-10-06 16:09] raymyers commented on #10594
Thanks @jeysal. I'll check up on #6266 and direct any PRs there.

[2020-10-06 18:14] aryzing commented on #10584
@jeysal on my side no strong preferences on display, just thought I'd bring this up as it might trip up others in the future. Perhaps there's appetite for visually separating parts of the string corresponding to invisible characters or whitespace characters other than [the typical whitespace you get with the spacebar](https://util.unicode.org/UnicodeJsps/character.jsp?a=0020).

Maybe (fyi, [00A0 i

[2020-10-06 18:14] alex-weej commented on #2441
WHAT

[2020-10-07 00:05] daniel-mina97 opened #10602 "Add automatic time advance for fake timers"
## 🚀 Feature Proposal

When using the fake timers, there should be an option to advance time automatically. An example of this can be seen In @sinonjs/fake-timers where you can set the system time to a particular time stamp and also have the clock advance naturally:

`const clock = FakeTimers.install({ now: 1601488969000, shouldAdvanceTime: true });`

## Motivation

For my particular use case, I h

[2020-10-07 07:09] flozender commented on #10479
I'm trying to add a parent key to the object you suggested [here](https://github.com/facebook/jest/issues/10479#issuecomment-688499928) however I get this message saying parent is deprecated:
```@deprecated — since 14.6.0 Please use require.main and module.children instead.``` Should I continue?

[2020-10-07 07:26] flozender commented on #10554
When you use `--silent`, it doesn't let tests print through the console. For example, if you had a `console.log` within your tests, it won't show up when you use `--silent`. [More info](https://jestjs.io/docs/en/cli#--silent).

[2020-10-07 07:33] xobotyi commented on #10554
@flozender welp.. unclewar option =\
So there is no crossplatform way to make jest perform test silently (`yarn jest > /dev/null` obviously wont work on windows)

[2020-10-07 08:05] falkenhawk commented on #9457
Our results:
- jest v26.5
  - 323.98s
  - 321.24s

- jest v24.9
  - 262.17s
  - 275.96s

[2020-10-07 09:49] jeysal commented on #10479
@flozender Is that a TypeScript warning? If so, that should be fine.

[2020-10-07 11:10] anje123 commented on #3931
@thymikee Hey, Mind if I give it a try as my first issue, but can you be more detailed with your explanation

[2020-10-07 11:40] BartaG512 opened #10603 "Nodejs net socket 'error' event error is not an instanceof Error"
## 🐛 Bug Report

 Nodejs net socket 'error' event gives not an instanceof Error

## To Reproduce

I try to connect with client to a not opened port i should get an error  "Error: connect ECONNREFUSED 127.0.0.1:5454"
I should get an error instance in the socket error.

In jest
[code]
Without jest
[code]

## envinfo

  System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Core(TM) i7-8750

[2020-10-07 11:48] SimenB commented on #10603
Duplicate of #2549

[2020-10-07 11:48] #10603 closed

[2020-10-07 11:56] BartaG512 commented on #2549
Can we include it in the readme somehow?

[2020-10-07 12:38] anje123 commented on #5803
@SimenB I would love to take this up as my first issue.

[2020-10-07 12:50] flozender commented on #10479
@jeysal Yes, it is a TypeScript error. My approach is to create a parent module, assign the keys manually, and attach it to the object since the only parameter available to me is `modulePath` inside of the `createRequire` function. Is this a viable approach? Also, will my parent object extend `nativeModule.Module`? Thanks for your support.

[2020-10-07 13:34] jeysal commented on #10479
Hmm, looking at it again, it doesn't seem so simple anymore. `createRequire` has absolutely no context at the moment, so I'm not sure where to derive either a `parent` or a `main` from ... I wonder how Node does this

[2020-10-07 13:36] flozender commented on #10479
@jeysal I will try to find out, but if you come across something please let me know. :)

[2020-10-07 13:46] jeysal commented on #10479
It seems they are 'cheating' with an effectively global variable `process.mainModule`

[2020-10-07 13:48] flozender commented on #10479
How do you suggest I go about this? Should I try to emulate what they're doing?

[2020-10-07 14:01] kevinkaishao commented on #6972
In case anyone is still plagued by this issue, this [short article ](https://medium.com/@DavideRama/mock-spy-exported-functions-within-a-single-module-in-jest-cdf2b61af642)does a great job of explaining the root cause (it is due to babel compilation). Arguably it's not pretty, but adding the additional layer of referencing worked for me.

[2020-10-07 14:01] jeysal commented on #10479
So for us that would mean dropping the current `main` in logic `jest-runtime` that traverses parents, and instead somehow get the module of the test file currently being executed. I'm not yet sure how to figure that out ...

[2020-10-07 14:26] jeysal commented on #10479
The currently executing test file is in the environment options, but the environment doesn't expose it.
It's in the `cacheFS` as the only initial entry, but that's "conincidence".
We could throw it on `process` in `jest-runner` like Node does.
We could pass it into the runtime in `jest-runner`.

None of those seem like great options. @SimenB ideas?

[2020-10-07 14:40] SimenB commented on #10479
I'm down with passing it in in `jest-runner` when instantiating the runtime. Getting rid of the current recursion for `parent` would be nice as well

[2020-10-07 14:49] stuart-clark-45 commented on #6814
TLDR: using a `NodeEnvironment` was the problem.

My two cents on this, I was using a `NodeEnvironment` for my tests:

https://jestjs.io/docs/en/configuration#testenvironment-string

In here I was setting up the database, dropping it etc. before each of my tests ran.

In the end I ditched this in favour of having a helper class which I just instantiate in the set up of each of my test files. This

[2020-10-07 15:48] flozender commented on #10479
I'd like to help with this, what would be a good starting point?

[2020-10-07 15:51] jeysal commented on #10479
Other than the `jest-runtime` `index.ts` you've already looked at, the place where `jest-runner` instantiates a `new Runtime` will be affected :) you can start from those places and should be able to see what changes need to be made :upside_down_face:

[2020-10-07 16:20] eurostar-fennec-cooper commented on #8698
This is great, but I'd like to be able to use expect(thing()).rejects.toBeInstanceOf(SomeErrorClass) and additionally check that the thrown error has the correct data added to it (ie constructed with the right message or value).

[2020-10-07 17:45] Janpot commented on #8698
Currently I do

[code]

But it only kind of works for async code if you want `thing()` to be evaluated only once. It's a bit clunky.

[2020-10-07 17:47] #9007 closed

[2020-10-07 18:48] leipert commented on #9457
Thanks @SimenB! This is amazing. Our results for our ~22000 tests in ~2000 suites:

- Jest 24.x: 2864 s
- Jest 26.5.2: 2967 s

which is about 3% slower and thus in the margin of error, compared to the ~27% we saw before. Thank you, now we just need to merge: https://gitlab.com/gitlab-org/gitlab/-/merge_requests/33252#note_425616404

[2020-10-07 22:21] beamsies commented on #10459
@reduxdj Did you ever solve the problem?

[2020-10-08 00:06] jasonwr commented on #9292
@kauecastro NextJS is very nice. What solved the problem for me was rather simple. An upgrade from Jest v23 to v24 resolved the issue. I tried everything here and also tweaked my jest.config.js and babel.config.js and nothing worked. Here's what is in my package.json and it works perfectly:

[code]

[2020-10-08 08:21] broyde opened #10607 "globalTeardown does not run after test is failed when using bail=true"
## 🐛 Bug Report

When `bail: true` jest exits immediately after failed test and `globalTeardown` does not run in this case.

## To Reproduce

Steps to reproduce the behavior:
1. Create jest config with `globalTeardown` and `bail: true` options.
2. Create test which fails every time.
3. Run tests.

globalTeardown function has not been called before exit.

## Expected behavior

globalTeardown functi

[2020-10-08 09:05] ims7inc opened #10608 "TypeError: Object prototype may only be an Object or null: undefined at setPrototypeOf (<anonymous>) in React Native jest testing"
[code]

When i ran test cases for ClassA, ClassB, ClassC i am getting this error

[2020-10-08 13:24] kumavis commented on #7780
i worked around this by adding `jest-environment-jsdom@25` as a dev dep
per https://github.com/facebook/jest/issues/7780#issuecomment-669828353

[2020-10-08 15:32] trevordavis opened #10609 "@jest/types config is missing timers option"
## 🐛 Bug Report

@jest/types config in Config.ts, InitialOptions and DefaultOptions needs to have `timers: 'real' | 'fake' | 'modern';`

## To Reproduce

Navigate to jest/packages/jest-types/src/Config.ts. Observe that the `timers` field in `InitialOptions` and `DefaultOptions` is missing the option `modern`.

## Expected behavior

The `timers` field has an option for `modern`.

## envinfo

[code]

[2020-10-08 16:09] SimenB commented on #10609
Wanna send a PR fixing it? 🙂

[2020-10-08 16:14] SimenB commented on #10479
You wanna pass the path fo the test file (https://github.com/facebook/jest/blob/c808901f5ddfcbf8be924c850bd757d3ae720876/packages/jest-runner/src/runTest.ts#L79) into the `runtime` here: https://github.com/facebook/jest/blob/c808901f5ddfcbf8be924c850bd757d3ae720876/packages/jest-runner/src/runTest.ts#L154-L162

then store it on the instance of the runtime, and use that as `main`

[2020-10-08 16:15] snoopdouglas commented on #8769
Just spotted this in the docs:

We're going to use this for a while and see whether this issue still happens.

[2020-10-08 16:41] EvHaus commented on #9457
Just wanted to note that all of the ["heap out of memory" issues](https://github.com/facebook/jest/issues/9457#issuecomment-579423330) that I was having before are gone after upgrading to Jest 26.5.2 and Node 14 (was on Node 10 before). Not sure how much of the problem was caused by Jest vs. by Node, but if others are seeing similar problems try upgrading to both.

[2020-10-08 16:45] #8889 closed

[2020-10-08 17:03] daleyjem commented on #9777
@jeysal Sorry about the late reply. I don't mind this particular issue being closed. It might be considered a duplicate of this one, and that's my bad: https://github.com/facebook/jest/issues/9904

[2020-10-08 18:44] icsaba commented on #8939
I am using jest `26.4.2` and the same issue just appeared when i use `jest.useFakeTimers()`. do you have any suggestions?

[2020-10-08 22:44] danielrsantana commented on #3094
Thanks to everybody and specially to you brother! It was a kind of logic thing but I was missing that ...

[2020-10-08 23:08] francescov1 commented on #10035
If anyone is still running into this, I was able to resolve it without needing to install jest separately. I was running `npm ci` right before running `npx jest`, replacing the install command with `NODE_ENV=development npm ci` fixed the issue for me while ensuring the NODE_ENV stays set to production.

[2020-10-09 06:57] anje123 commented on #5803
please when i try to use `module.export =` from `export.default` , i get this ts error, any help
![test](https://user-images.githubusercontent.com/31329500/95552648-f155a180-0a04-11eb-9e25-0eee5b22443d.png)

[2020-10-09 07:56] anje123 commented on #5803
@ijaharb can i use this https://www.npmjs.com/package/babel-plugin-add-module-exports  or do i need to explicitly, change to `export default` to `module.exports`

[2020-10-09 07:59] ljharb commented on #5803
@saenglert as long as the main entry point of the package only has one default export, that transform should do the job.

[2020-10-09 08:04] anje123 commented on #5803
@ljharb sincerely am confused where u refering to this package https://www.npmjs.com/package/babel-plugin-add-module-exports or not to me

[2020-10-09 08:06] anje123 commented on #5803
@ljharb where u reffering to me ?

[2020-10-09 08:18] dubzzz commented on #9430
@SimenB I don't know what is the current status of the issue and if Jest should already work with my case or not but maybe it can help you somehow.

I'm trying to load a esm-only library (their extension is cjs but the type is module and node seems to be ok with that) but Jest fails to load it properly with error:

[code]

Here the issue I originally opened https://github.com/codemirror/codemirror

[2020-10-09 08:30] anje123 commented on #5803
@ljharb please i dont really understand your explanation do you mean this transformation `export default` to `module.exports` and not using the babel package

[2020-10-09 08:46] anje123 commented on #5803
@ljharb if u mean that  i get this error when running `yarn build` but test passes
![test](https://user-images.githubusercontent.com/31329500/95562396-04bc3900-0a14-11eb-8d01-ea14ec7f9d81.png)
`yarn build

[2020-10-09 09:07] SimenB commented on #9430
@dubzzz you can't have ESM in a `cjs` file. Node fails as well

[code]

[2020-10-09 09:14] SimenB commented on #5803
We're exporting multiple things (which I don't wanna change), so the babel plugin won't work. A named export is probably our only option, although it's a breaking change. Instead of `export default class JestWorker` we can do `export class JestWorker`. Possibly name it `Worker` instead as we don't need to repeat the package name in the export

[2020-10-09 09:27] #9260 closed

[2020-10-09 10:34] jerekarppinen commented on #8983
Still happening with Jest 26.4.2

[2020-10-09 11:44] dubzzz commented on #9430
Oups so sorry, I tried too quickly on node side. @nicolo-ribaudo already notified the author of the lib about this problem.
Really thanks a lot for your quick answer.

[2020-10-09 11:44] cyberhck commented on #2157
my usecase:
[code]
## test file:
[code]

[2020-10-09 12:58] SimenB commented on #9430
I opened up a PR for some (pretty much stub) docs here: #10611. I didn't bother enumerating missing features/bugs as I think that'll be hard to keep in sync with reality, and looking at github issues is a better approach as they are (hopefully…) up to date.

[2020-10-09 13:51] victorphoenix3 commented on #6470
@SimenB May I give this a try?

[2020-10-09 16:06] felansu commented on #6382
+1 @Pallavisoba

[2020-10-09 17:11] guilhermetelles opened #10612 "TypeError: Cannot redefine property: restore"
## 🐛 Bug Report

We use a monorepo, and most of the time when we try to test a file that imports another module from the monorepo, an error occurs. One of the most common is:
[code]
We've even tried jest without babel, since now ES modules are partially supported (https://github.com/facebook/jest/issues/9430). However, we had some problems, specifically https://github.com/facebook/jest/issues/1002

[2020-10-09 20:24] ljharb commented on #5803
@SimenB i'm pretty sure you could still change things by attaching all the named exports to the default export, and explicitly add __esModule: true, and it wouldn't be a breaking change - it'd be pretty gross tho, to be sure.

[2020-10-09 22:31] Pomax commented on #9430
Giving this a shot via `"scripts": { "jest": "cross-env NODE_OPTIONS=--experimental-vm-modules jest --verbose=false"}` but getting `console.error Error [ERR_VM_MODULE_STATUS]: Module status must not be unlinked or linking` errors, where would you like those filed?

[2020-10-10 10:21] SimenB commented on #9430
@Pomax as a new issue, please 🙂

[2020-10-10 11:57] #10479 closed

[2020-10-10 14:41] anje123 commented on #5803
@SimenB @ljharb i tried to get it working using @ljharb  explanation.
![jest-woker](https://user-images.githubusercontent.com/31329500/95657787-4b8e5980-0b0e-11eb-8db2-23b85a7173f9.png)
 while `yarn test` is passing i keep getting this error during `yarn build`, any guide or help please
![jest-worker](https://user-images.githubusercontent.com/31329500/95657816-842e3300-0b0e-11eb-8471-84cb6cca5298.

[2020-10-10 15:31] SimenB commented on #5803
Just ditch the default export, I don't think it's worth it to go through weird hoops to support both and keep TypeScript happy.

[2020-10-10 18:52] Pomax opened #10613 "Jest 26.5.2 causes ERR_VM_MODULE_STATUS for dynamic import"
## 🐛 Bug Report

As per https://github.com/facebook/jest/issues/9430#issuecomment-706427182, running Jest (26.5.2) in experimental ES Modules mode causes a VM crash in Node.js (v14.10) when using a dynamic import.

## To Reproduce

Have a `font.js` file with a dynamic import that shims the `fetch` function:
[code]

And a jest test file that uses that Font object:

[code]
And then run this using `N

[2020-10-10 21:45] IRoninCoder opened #10614 "SyntaxError: Cannot use 'import.meta' outside a module"
## 🐛 Bug Report

When using ES6 modules, one would expect `import.meta.url` to work the same as Node.js. However that does not seem to be the case as I have demonstrated via my repo link. It works fine when using `__dirname` instead of `import.meta.url`, but of course this just breaks Node.js logic as they want `meta.url` instead (`__dirname` is undefined and discouraged to use)

## To Reproduce

[2020-10-10 22:02] IRoninCoder commented on #10614
https://github.com/facebook/jest/issues/9430#issuecomment-616232029

[2020-10-10 22:02] #10614 closed

[2020-10-11 03:18] cdhit opened #10616 "Cannot find module 'react' from 'index.js' - (node_modules/jest-resolve/build/index.js:259:17)"
My project creation process (this is a `create-react-app` typescript version template:
[code]

My `Jest` version in package-lock.json
[code]

My node.js version is
[code]

create-react-app version is
[code]

antd version is
[code]

file: App.test.tsx `testing file`
[code]

My `antd` source file
[code]

When I ran `npm test`, I got this
[code]

[2020-10-11 10:04] flozender commented on #9470
Can I help with this? Or does #10610 fix this?

[2020-10-11 10:09] SimenB commented on #9470
Yes please!

#10610 does not fix it since `_isolatedModuleRegistry` will still take preference. So we need to somehow keeping track of the `main` module.

[2020-10-11 10:23] SimenB commented on #10616
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2020-10-11 10:23] #10616 closed

[2020-10-11 10:35] SimenB commented on #10380
Somewhat fixed via #10611, although it's very much incomplete

[2020-10-11 10:36] #10380 closed

[2020-10-11 12:02] eslachance opened #10619 "Output of serialize-javascript affected by jest test"
## 🐛 Bug Report

When using serialize-javascript through any jest test (in the test or in code run from a test), the output is affected by jest itself.
Specifically, when serializing a function, line returns are added within the function itself. Potentially, maybe, this is because jest modifies the Function.prototype.toString method?

## To Reproduce

(Alternatively, see https://gist.github.com/es

[2020-10-11 12:02] eslachance commented on #10619
Originally posted in serialize-javascript repo: https://github.com/yahoo/serialize-javascript/issues/103

[2020-10-11 12:13] SimenB commented on #10613
@Pomax I'm getting `SyntaxError: Unexpected token 'throw'` when trying to run using `14.13.1` - could you set up a small repository I can pull down that reproduces the error you see?

[2020-10-11 12:23] SimenB commented on #10251
`at C:\Users\Rubenn\AC\acro-companion\node_modules\src\auth\auth.ts:58:52` seems to use untranspiled `import()` which Jest doesn't support (yet - I just opened a PR adding support for it: #10620).

Beyond that, this bug report isn't really actionable without a reproduction, so I'll close it. Feel free to open up a new issue with a reproducion

[2020-10-11 12:23] #10251 closed

[2020-10-11 12:28] SimenB commented on #9430
I just opened up #10620 which adds support for `import()` from CJS. Requested a few times are like https://github.com/facebook/jest/issues/9430#issuecomment-626054595

[2020-10-11 13:42] sguillia commented on #10479
Thanks!

[2020-10-11 15:52] anje123 commented on #5803
@SimenB I changed it to the named export, got all tests passing at the `jest-worker` package and build successful but i cant access `jest-worker` outside the package using a named import
Link to my branch: https://github.com/MLH-Fellowship/jest/tree/fix-export-default-worker
![test-worker](https://user-images.githubusercontent.com/31329500/95683246-e86df700-0be1-11eb-96f3-328d43fdef1d.png)

[2020-10-11 16:14] Pomax commented on #10613
silly typo, that should have been ` { throw err };`, not `( throw err }`. but the line does not contribute to reproducing the bug so I've taken it out. Let me know if you still need a repo.

[2020-10-11 16:37] #9470 closed

[2020-10-11 16:46] flozender commented on #7052
May I give this a shot?

[2020-10-11 16:48] SimenB commented on #10613
Then I get the error you reporter, but I'd also like to see a node script that behaves correctly (so I have something to compare with). The script I put together fails as well since the font file doesn't exist so the `readFile` fails causing not to exit with deprecation warnings due to unhandled rejections.

[2020-10-11 16:59] SimenB commented on #10613
@Pomax never mind, I can reproduce. Just `await import('fs');` anywhere (as long as it's not been cached by a top level `import from 'fs'` beforehand) reproduces

[2020-10-11 17:22] SimenB commented on #7052
That would be great, thanks!

[2020-10-11 17:43] #10613 closed

[2020-10-11 17:56] SimenB commented on #5803
@anje123 if you open up a PR with your WIP stuff I can take a look 🙂

[2020-10-11 18:09] anje123 commented on #5803
@SimenB  created a PR #10623 Thanks

[2020-10-11 22:38] Pomax commented on #10613
Awesome, thanks so much for all your hard work on this!

[2020-10-12 05:50] jsg2021 opened #10625 "require.main is undefined ...when resetModules=true? (maybe)"
## 🐛 Bug Report

`require.main` is undefined during tests. My tests were passing in 26.4.2, but failed today's weekly tests. No changes in my project other than new jest version. See some discussion in #10621 After some digging this seems related to the setting `resetModules: true`. I cannot find it in my original project, but setting it to true causes the code below to fail the same way it does o

[2020-10-12 05:55] flozender commented on #10625
@SimenB I'd like to take this up!

[2020-10-12 08:11] FabianSellmann commented on #10495
Looking at the ScriptsTransformer code it seems there is functionality for a caching the transformer:
https://github.com/facebook/jest/blob/master/packages/jest-transform/src/ScriptTransformer.ts#L189
However, according to this comment: https://github.com/facebook/jest/blob/master/packages/jest-transform/src/ScriptTransformer.ts#L46 ScriptTransformer is instantiated on each file, rendering the `tr

[2020-10-12 08:32] rahulaggarwal11 commented on #9396
This issue can be resolved by installing handlebars 4.5 with this command-
`npm i -D handlebars@4.5.0`

[2020-10-12 08:55] SimenB commented on #10625
Go for it @flozender 🙂

[2020-10-12 09:25] flozender commented on #10625
@SimenB `resetModules` clears `this._moduleRegistry` as done here: https://github.com/facebook/jest/blob/master/packages/jest-runtime/src/index.ts#L777

However, we lookup `this._moduleRegistry` to return `main` here: https://github.com/facebook/jest/blob/master/packages/jest-runtime/src/index.ts#L1403, so I think this is the issue. How do you suggest I go about this?

[2020-10-12 10:07] SimenB commented on #10625
Yes 👍

[2020-10-12 15:04] anje123 commented on #10398
@SimenB is this issue avaliable can i give it a shot

[2020-10-12 15:13] SimenB commented on #10398
Sure! All help is very much welcome 🙂

[2020-10-12 21:52] #9636 closed

[2020-10-12 23:04] capricorn86 commented on #9457
If somebody is interested, I have created a DOM that has very good performance in comparison to JSDOM. It has support for Jest.

| Operation                            | JSDOM   | Happy DOM |
| ------------------------------------ | ------- | --------- |
| Import / Require                     | 333 ms  | 45 ms     |
| Parse HTML                           | 256 ms  | 26 ms     |
| Serialize HTML

[2020-10-12 23:31] milesj commented on #9457
@capricorn86 Looks nice. Is it spec compliant?

[2020-10-12 23:52] capricorn86 commented on #9457
The functionality that has been implemented has been implemented according to specs, but there is no detailed overview of which specs that are covered yet. I am thinking about adding that. However, all functionality is covered by unit tests.

The initial goal of the DOM was to be able to render web components server side with good performance, as I needed it for some other projects.

[2020-10-13 03:30] cdhit commented on #10616
@SimenB

Could you help me to join [this channel](https://discord.com/invite/MWRhKCj)?

![image](https://user-images.githubusercontent.com/1721125/95812190-5268d680-0d71-11eb-9bbe-f8ffb58724c7.png)

[2020-10-13 05:00] jsg2021 commented on #10625
I was able to get a true reproduction: https://github.com/jsg2021/jest-require-main-issue

[2020-10-13 05:04] jsg2021 commented on #10625
These scenarios should probably be added to the test cases in this PR.  There's two test cases (direct and indirect) and two ways to replicate it: Call jest.resetModule() or enable the flag. All should pass.

[2020-10-13 08:46] lukasondrej commented on #9738
This still keeps happening, even with 30 second timeout. Sometimes the socket connects successfully and sometimes it just fails and times out.

[2020-10-13 10:22] youngjuning commented on #4710
Thanks a lot

[2020-10-13 10:44] 0rvar commented on #8162
I think `modulePaths` should be respected even with PnP. Webpack can combine `resolve.modules` and PnP, so why should not Jest be able to?

[2020-10-13 11:16] #10625 closed

[2020-10-13 12:31] subhasishdas159 commented on #8627
same here

[2020-10-13 13:43] flozender opened #10627 "Refactor `callAsyncCircusFn`"
## 🚀 Feature Proposal

Refactor `callAsyncCircusFn` to use just `testOrHook` instead of `fn` and `asyncError`. Also, clean up the stack trace.

## Motivation

See discussion: [here](https://github.com/facebook/jest/pull/10624/files/093a03ffee143cbc3c18c6d1a6417f9143df8009#r503541181) and [here](https://github.com/facebook/jest/pull/10624/files/093a03ffee143cbc3c18c6d1a6417f9143df8009#r503550159).

[2020-10-13 13:45] flozender commented on #10627
I'd like to take this up!

[2020-10-13 14:05] SimenB commented on #10627
Please do! If possible converting to `async-await` instead of `.then` and `.catch` would be awesome as well

[2020-10-13 14:17] flozender commented on #10627
I can take it up as soon as #10624 is ready!

[2020-10-13 14:31] SimenB commented on #10627
Note that #10624 won't be merged until we start landing changes for Jest 27 as it's a breaking change

[2020-10-13 15:17] flozender commented on #10627
So will we hold on until then? Because I need `testOrHook` from #10624 to make the changes needed!

[2020-10-13 15:27] stdavis commented on #8856
I'd love to help out with this. @jeysal: do you have a thought as to where in the docs the list of environment variables should be? I was thinking maybe a new page under the "API Reference" section? Or just add it to Getting Started, although it doesn't seem like a getting-started thing?

[2020-10-13 15:42] tillsanders commented on #9292
Just a quick reminder for everyone (including my future self in about 6 months – Hi 👋 Yes, I'm talking to you!):

This can also occur when you're trying to import a file that is importing a dependency that is simply not using the ES6 syntax. Most jest configurations are not (re-)compiling files from the `node_modules` directory, so make sure to import the CJS/UMD/ES6 version of your dependency, an

[2020-10-13 15:43] flozender commented on #10627
Sounds good. I'll get on it.

[2020-10-13 18:38] jeysal commented on #9809
Fixed by https://github.com/facebook/jest/pull/10631

[2020-10-13 18:38] #9809 closed

[2020-10-13 18:51] wenderpmachado commented on #8310
Thank you! `roots` with two paths, move back my tests folder outside src and `collectCoverageFrom` without `<rootDir>` fix that "issue" for me

[2020-10-13 20:13] anje123 commented on #10398
@SimenB any idea or suggestion of how i can tackle this issue

[2020-10-13 20:46] gaearon opened #10633 "The original function name gets lost in the Jest error stack"
[code]

I expect to see `BadCode` in the stack because it's a named function. But it shows up as `fn` instead:

[code]

Same with `error.stack` property.

## Isn't this just a Node issue?

Nope, try it in Node REPL and see `BadCode`:

[code]

Also works correctly in Chrome.

I've done both locally so I used the same Node version (`12.18.3`). So it's Jest-specific.

I can also reproduce this on Rep

[2020-10-13 22:38] dqisme commented on #4903
It's not about implementable. It's about stateless.

By global variable or namespace property, we definitely could implement the common result from the setting up. But the thing is, we want to keep our tests more independent and as stateless as we can.

[2020-10-14 01:38] shahrum commented on #8677
@bovandersteene Hi,
Can you let me know whether if you could find any solution for that?

[2020-10-14 03:14] blueflow77777 opened #10634 "How to import node_modules of shared_components for UI test by using jest in react.js"
I am going to do UI test in React.js project.
In this project there is 3 projects. One is shared_components, the other is admin components and client components.

`shared_components` is using for `admin` and `client` component.

When I am going to UI test in the `admin` component I am importing one component from `shared_components`. But I have continuously error that I can't import component of `

[2020-10-14 05:50] #8856 closed

[2020-10-14 08:25] jeysal commented on #10634
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2020-10-14 08:25] #10634 closed

[2020-10-14 08:26] jeysal commented on #8677
I'm afraid this is out of scope, it would be for a specific library since Observables aren't specced in the language

[2020-10-14 08:26] #8677 closed

[2020-10-14 08:33] blueflow77777 commented on #10634
hi @jeysal
Thanks for your reply. If you don't mind I would like to use skype.

[2020-10-14 09:44] flozender opened #10635 "`consoleAfterTeardown.test.ts.snap` doesn't match for Node v14.3.1"
## 🐛 Bug Report

`e2e/__tests__/consoleAfterTeardown.test.ts` fails on Node v14.13.1 due to an unmatched snapshot.

## To Reproduce

Run `yarn test e2e/__tests__/consoleAfterTeardown.test.ts`

![image](https://user-images.githubusercontent.com/40818234/95972122-b3ef7a80-0e2f-11eb-918b-87a032b5ec69.png)

## Expected behavior

Test should pass.

## envinfo

[code]

[2020-10-14 09:55] SimeonRolev commented on #7631
@nasreddineskandrani Did you try it vice versa? I mean, copying the tests from the slow repo to yours?

@kentcdodds Will you be our hero one more time?

[2020-10-14 11:05] axelboc commented on #6121
@greypants' version does not work for me with async tests. I'm trying to detect errors logged by React Testing Library - e.g. when a render is triggered after a test has completed. Throwing in `console.error` does not fail the async test that logs the error ... but fails the tests that follow it!

The version below, adapted from @sdushay, works nicely. It fails any async test that logs an error or

[2020-10-14 12:49] dborisenkowork commented on #8208
Is it so hard to fix console.log issues? It's pretty frustrating to waste time because for some reasons jest won't display necessary logs and there is no workarounds about it at all.

[2020-10-14 14:58] anje123 commented on #10398
@SimenB   I noticed the `ModuleMockerClass` in the jest-mock package handles mocking but how can i be able to access the module-path `jest.mock(module-path)` in the class. If I am getting it wrong please guide me through

[2020-10-14 15:49] d4vidi commented on #8708
A big +1 for this 👍🏻

I'm from the core team maintaining [Detox](https://github.com/wix/Detox/) (who have already introduced enhancements to `Jest`, in the past), and we would also really appreciate this kind of support. Our use case is effectively identical, up to the point that instead of databases, we have Android/iOS emulators as the resource in question. We already have the means to bring up

[2020-10-14 15:57] #10627 closed

[2020-10-14 16:47] SimenB commented on #10635
Thanks for the report! Node probably changed/fixed something.

50b534ee612d0bf3de56df4c1b974a1792b8c022

[2020-10-14 16:47] #10635 closed

[2020-10-14 16:51] #10609 closed

[2020-10-14 16:52] gaaliche commented on #9503
Thanks a lot @ascott18 for your suggestions, that issue is fixed, but now I'm having the following

[code]

[2020-10-14 16:53] SimenB commented on #10398
You shouldn't have to change anything in `jest-mock`, I think you'll want to change stuff in https://github.com/facebook/jest/blob/master/packages/jest-resolve/src/index.ts

[2020-10-14 17:05] flozender commented on #10633
Would love to give it a shot!

[2020-10-14 17:08] SimenB commented on #10633
Go for it 🙂

[2020-10-14 17:12] SimenB commented on #10633
Hmm, maybe not. @gaearon did you test with latest version of Jest? Repl.it is on 24 by default This is what I'm seeing running you example in `jest@26.5.2` (node 12.19.0)

[code]

[2020-10-14 17:31] gaearon commented on #10633
No, I didn't test with a different Jest version. This looks better! Although I'm still confused about why `fn` even exists in the stack..

[2020-10-14 17:36] flozender commented on #10633
@SimenB I tried the same and got `fn`:
[code]
Node: v12.19.0
Jest: v26.5.3

[2020-10-14 18:11] forivall opened #10636 "babel-plugin-jest-hoist complains about typescript types"
## 🐛 Bug Report

Basically, i get the error
[code]

but `ReturnType` is a built-in typescript type. It's not out of scope.

## To Reproduce

Steps to reproduce the behavior:

use a mock like this
[code]

## Expected behavior

It shouldn't complain!

## Link to repl or repo (highly encouraged)

## envinfo

Note that it happens on CI (using `yarn --frozen-lockfile` tho), so this is the best we'll ge

[2020-10-14 18:34] SimenB commented on #10636
Hmm, it shouldn't complain, we blacklist `TSTypeReference`

https://github.com/facebook/jest/blob/e84a70c8456d61daa36b5c79a4df7ee752d6d6d6/packages/babel-plugin-jest-hoist/src/index.ts#L93

I also cannot reproduce this locally. Can you put together a repository showing the error?

[2020-10-14 18:49] SimenB commented on #10633
Interesting! It doesn't reproduce in the Jest repo or the project at work.

[2020-10-14 19:01] flozender commented on #10633
Oh, yeah! Jest repo gives me `BadCode`:
[code]

[2020-10-14 19:04] SimenB commented on #10633
do you have a repository that reproduces?

[2020-10-14 19:06] gaearon commented on #10633
React repo does.

[2020-10-14 19:06] gaearon commented on #10633
(but with the old version)

[2020-10-14 19:10] flozender commented on #10633
You could also try this: https://github.com/flozender/jest-fnName/

[2020-10-14 19:13] SimenB commented on #10633
React repo doesn't reproduce for me 🙈

![image](https://user-images.githubusercontent.com/1404810/96034628-17929b80-0e62-11eb-9da2-78c4ca3c3a1e.png)

[2020-10-14 19:15] gaearon commented on #10633
Hmm. Actually sorry I created some confusion here — it reproed in a separate setup unrelated to our main Jest config. My mind blanked.

[2020-10-14 19:15] gaearon commented on #10633
This is where I could repro it. https://github.com/facebook/react/tree/master/fixtures/legacy-jsx-runtimes
Run `yarn && yarn test` in that directory.

[2020-10-14 19:16] SimenB commented on #10633
@flozender's repo works (or doesn't... It reproduces the bug, is what I'm trying to say)

[2020-10-14 19:19] SimenB commented on #10633
This "fixes" the reproduction

[code]

So related to #9147 somehow is my guess

[2020-10-14 20:56] forivall commented on #10636
I've got a [reproduction repo set up](https://github.com/forivall/jest-10636-repro). I didn't set up the babel config in the project where this happened, but my guess is that something in there is conflicting, just a matter of figuring out what it is

[2020-10-14 21:26] SimenB commented on #10636
Yeah, it's probably that. It pulls in an old version of the plugin: https://github.com/forivall/jest-10636-repro/blob/0f3fb3c4d1753ecd5799cf03aabd01adb91bf1d5/yarn.lock#L1750

`babel-jest` has been Babel@7 natively since v24 (about 2 years) and v21 supported it via the `babel-core@bridge` package

[2020-10-14 21:55] joshuambg commented on #7997
Please fix.

[2020-10-14 22:30] forivall commented on #10636
Yup, that was it! moving to current `babel-jest` solves it, and there wasn't any particular reason why babel7-jest was used.

[2020-10-14 22:30] #10636 closed

[2020-10-15 08:36] Teneff opened #10637 ".toMatchSnapshot propertyMatchers with expect.arrayContaining should not"
## 🚀 Feature Proposal

Ability to create snapshot of an Array of Objects with dynamic fields

## Motivation

Currently Jest allows using [Property Matchers](https://jestjs.io/docs/en/snapshot-testing#property-matchers) to ignore the value from the dynamic fields, but in case they're within an Array the rest of the fields are ignored

## Example

[code]

The example above currently fails. It can re

[2020-10-15 09:34] gaaliche commented on #9503
I finally managhed to fix this long lasting issue
here's the config that did the job
[code]

Big kudos to @ascott18 for opening my eyes on the source of this damn issue 😄  👏

[2020-10-15 10:13] #9503 closed

[2020-10-15 10:35] meetravi commented on #10347
same for me too, still having an issue`26.0.4`

[2020-10-15 11:31] 0rvar commented on #8162
Adding paths as dependencies is NOT a solution here, I have 18 directories in src/, I'm not going to sprinkle them into the `dependencies` array.

[2020-10-15 15:46] flozender commented on #7083
@SimenB I'd like to give this a try, until we can work something out for #10633

[2020-10-15 20:22] nasreddineskandrani commented on #7631
@SimeonRolev In my benchmark i dont see the same issue as in Kent repo. You have something in Kent Repo. that cause this slow jest is fine.

=> This issue is related of Jest performance windows vs macOS.

[2020-10-15 20:26] sbuckpesch commented on #1619
**Dirty hack:**

Run your tests via runCLI. Before the call you can do you async requests and wait for it. Then you pass in a static data to you Jest config as `global`:

test.ts
[code]
mydynamic.test.ts
[code]

[2020-10-15 22:03] jackielii commented on #971
This is exactly my problem.

The error was so puzzling as the app ran just fine but the tests failed. I suppose after webpack, the cyclic dependency was gone...

[2020-10-16 06:04] JoHuang commented on #9349
https://github.com/facebook/jest/blob/3641e3cc7309caf4c755add40bebcb77fc18b786/packages/jest-runtime/src/index.ts#L830

I found that it works after commenting this line.
It filters the files which are not required by normal node.js require or import.
However, codes run in VM usually are read as string content, and then put into VM.runincontext ...etc.

V8 coverage is there but Jest filters out the

[2020-10-16 06:37] shaunsaker commented on #2441
What worked for me was running the test command with the `--silent=false` flag.

[2020-10-16 09:16] JoHuang commented on #9349
However, this test case `e2e/__tests__/v8Coverage.test.ts` cannot pass.

[2020-10-16 09:35] jceb commented on #9430
Since the pull request on nodejs regarding `import.meta.resolve` has been closed, it would be great if jest would populate this attribute as well. I've passed the required `--experimental-import-meta-resolve` flag to when starting jest but the property is missing. In nodejs it works great.

[2020-10-16 12:41] JanCizmar commented on #2982
Hi guys,

If you would like to pass typescript class as mocked class, this is my typescript version of @tinyroy 's workaround.
The mock (./__mocks__/PluginManager.ts)
[code]

The test (./TestClass.test.ts)):

[code]

[2020-10-16 12:47] rbutera opened #10640 "moduleNameMapper mapping imports from within node_modules"
## 🐛 Bug Report

If the user defines module mapping using the `moduleNameMapper` property in Jest config, then this .

This causes errors if external libraries import modules which happen to be matched.

## To Reproduce

Given a jest config with the following configuration:

[code]

and implementation (`src/foo.js`):

[code]

if the third party module (here as "@third-party/bar" contains an import

[2020-10-16 13:28] rbutera commented on #10640
Turns out instead of using moduleNameMapper to get `src/*` absolute imports to work you can just use the `moduleDirectories` option:

[code]

[2020-10-16 13:28] #10640 closed

[2020-10-16 18:35] TheJaredWilcurt commented on #9459
Jest 24.9.0 is now responsible for 18,024 vulnerabilities according to `npm audit`.

[2020-10-16 19:36] markcorrea commented on #4763
I had 13 skipped files and couldn't find any way to find them usint `--verbose` or `--expand`. Turns out that I had a file `jest-config.json` in which had the `verbose` variable declared as false, so it was hidding the details even when I added the `--verbose` flag in the terminal. Once I turned it to `true` in the `json` file, the details displayed and also the skipped files.

PS: I also added th

[2020-10-17 04:55] anje123 commented on #10398
@SimenB after so much trial , i could not find a way to solve this issue, tried some technique and also tried installing some packages, still didn't work , i think this is not a jest issue but an issue with macOS and window due to its case insensitivity, but any tips or help to solve to issue is acceptable

[2020-10-17 06:57] mattvb91 commented on #9543
Would love to have this functionality too!

My usecase specifically is checking if a directory exists for example `require.resolve("@packageName/some-dir/")`

[2020-10-17 16:04] ndresx commented on #5147
Sorry for commenting on this closed issue, but I don't fully understand why `requestAnimationFrame` needs to be mocked in one of the setup files first when the `testEnvironment` is `jsdom`? As soon as it's mocked in there, it can be mocked again within the tests, but without the mock in the setup file, the mock in the test file gets more or less ignored. Is there any reason for this behavior?

[2020-10-18 02:04] aminya commented on #1456
I also have this problem. How can I fix it? I have set `forceExit: true`. ` --forceExit --detectOpenHandles --maxWorkers=10` does not work.

[2020-10-18 10:34] NaridaL opened #10642 "expect.extend: not possible to correctly extend corresponding TypeScript types"
## 🐛 Bug Report

When extending expect
[code]
it should be possible to extend the corresponding types:
[code]
instead you get
![image](https://user-images.githubusercontent.com/10828874/96364952-a8f15e80-113d-11eb-93ca-87bae955030a.png)

## To Reproduce

see above

## Expected behavior

There should be no error and proper typechecking.

The reason for the issue, is that expect doesn't actually exp

[2020-10-18 11:48] SimenB commented on #10642
Yep. we need to figure out a good story for extending matchers for https://github.com/DefinitelyTyped/DefinitelyTyped/pull/44365#issuecomment-624079537. I haven't spend any time on trying to come up with a good solution for it. We need to both support importing from `expect` and `import {expect} from '@jest/globals'`. Would love some help with coming up with a good solution for this

[2020-10-18 17:33] PrayaAmadigaPitasa opened #10643 "How to mock view.measure() ?"
## 💬 Questions and Help

So, I'm trying to test my component. In my component there a function to measure from reference of View.
when I debug, the ref value is exists. but the measure method is undefined.

this is the screenshot of the testing.

<img width="437" alt="Screen Shot 2020-10-19 at 00 33 12" src="https://user-images.githubusercontent.com/31617878/96375335-aecd5b00-11a2-11eb-8222-4d90fe

[2020-10-18 20:49] SimenB commented on #10643
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2020-10-18 20:49] #10643 closed

[2020-10-18 21:14] jeysal commented on #10565
Confirmed, but this will certainly not be an easy fix. `jest-runtime` injects this and `extraGlobals` as parameters in addition to normal Node module parameters, we'd need some way to set them as proper globals instead...

[2020-10-18 21:18] iandanforth-alation commented on #7136
These APIs need to be renamed. Settling for bad naming due to inertia is unprofessional to say the least.

[2020-10-18 23:30] SimenB commented on #9543
The feature has been accepted, so no need to try to convince us 🙂 PR very much welcome!

[2020-10-19 01:57] aminya commented on #8383
Say, I have 600 tests and I know 3 of them will fail. But because I cannot tag those 3 tests as failing, I need to use a CI level flag such as `continue-on-error: true` to continue on error. This is dangerous since any error from those 600 can propagate while I only needed to ignore those 3.

[2020-10-19 05:12] jyunhan opened #10645 "Why v8CoverageResult should have tampered if res has no URL."
## Question
What is the reason for that the v8CoverageResult filters out the no-url-resources?

## Influences Scope
The code coverage report of vm.script would be erased.

## Code Fragment
This condition sacrifices the REPORT-ACCURACY from the original v8 code coverage report, like the testing-program contents VM.runincontext().
https://github.com/facebook/jest/blob/3641e3cc7309caf4c755add40bebcb7

[2020-10-19 06:45] doberkofler opened #10646 "No progress messages when imposing sequential tests in jest 26.5.3"
## 🐛 Bug Report

I'm trying to use test in my end-to-end test suite using the selenium web driver.
For the end-to-end testing it is necessary to execute the tests sequentially and one by one.
The correct sequence is enforced by using the `testSequencer: './testSequencer.js'` configuration option and the `maxWorkers: 1` configuration option and this works as expected.

Unfortunately jest does no lo

[2020-10-19 07:42] masmatsum opened #10647 "Transform not working when nested package.json exists"
## 🐛 Bug Report

Transform (by babel-jest) does not work when there is nested package.json.

## To Reproduce
Steps to reproduce the behavior:

First, prepare the directory (see directory structure below and "**Link to repl or repo**" for detail):
1. Put js files(\*) and their test.js files(\*), jest.config.js and .babelrc into the project folder.
1. Prepare a folder containing "package.json" and j

[2020-10-19 08:05] masmatsum commented on #9996
I got similar error and created an issue with reproduction detail (ex. link to repo).
Please see https://github.com/facebook/jest/issues/10647

[2020-10-19 08:06] masmatsum commented on #9996
I got similar error and created a new issue with reproduction detail (ex. link to repo).
Please see https://github.com/facebook/jest/issues/10647

[2020-10-19 08:57] ihoro commented on #9430
Hello. It's quite hard for me to quickly embrace the whole story behind ESM in node/jest, so, probably, I'm asking something obvious or already answered. Do I understand it correctly that the following case is not supported yet? Or, I hope, I'm doing something not the correct way? I experience it like `import x from 'x'` works, but `import { sub } from 'x'` destructuring does not.

package.json:
[

[2020-10-19 09:24] SimenB commented on #9430
You're waiting for #9771. Before that Jest doesn't know it's safe to load `uuid` as ESM (or rather, which file to load at which point it'd know it is ESM)

[2020-10-19 11:05] ahnpnl commented on #10647
Have you tried with `projects` option in jest config ?

[2020-10-19 11:07] wclr opened #10648 "Terminal is not cleared on windows"
## 🐛 Bug Report

When run in `--watch` mode terminal allows to scroll up after running test
![jest-TTY](https://user-images.githubusercontent.com/736697/96442713-00b6c500-1225-11eb-82a8-f2d01d8d8b21.gif)

## To Reproduce

Not sure why people may not reproduce this on windows, I don't seem to have some special config for terminal
.

## Expected behavior

The terminal is cleared and can not be scrol

[2020-10-19 11:27] normancarcamo commented on #9395
@abrcdf1023 thank you.

[2020-10-19 12:08] SimenB commented on #10645
It was added as a simple way of excluding node core modules - I did not consider the `vm` module use case. PR welcome! 🙂

[2020-10-19 15:25] whitecolor commented on #7963
This is really funny to see how `jest` runs and re-runs on watch basic suites in 5-15 seconds. Really delightful.

[2020-10-19 15:39] jeysal commented on #7136
I agree that it is 'unprofessional', I and all others who have maintained Jest in the last ~2 years have done it in their free time, thus not professionally. I'd stop short of 'incompetence' though.
Either way, please do not use the issue tracker for off-topic comments or (successful or unsuccessful) abuse; such comments will be hidden or reported.

[2020-10-19 16:26] damien-roche commented on #7136
Abuse? Don't make me laugh. Fair point, I suppose PRs are always welcome.

[2020-10-19 16:52] whitecolor opened #10651 "`--watch` mode re-runs all tests on file change, docs are not clear."
## 🐛 Bug Report

Docs state:

I have two files:
`a.test.js` with A test suite.
`b.test.js` with B test suite.

To me, this sounds like if I change file `a.test.js` then jest only runs test from changed file `a.test.js`. But Jest reruns all the tests from all two files.

## To Reproduce

This is easy to reproduce. I will make a repo if needed. I just want confirmation. That it is not expected behav

[2020-10-19 16:56] jeysal commented on #10651
Yes, it should work as you stated (although 'related to changed files' also means changes to a file that the test imports). Please make a repro.

[2020-10-19 16:57] Pomax commented on #9430
Will this be following Node's own convention, where CJS can only be loaded as namespace, or will this "improve" on that by allowign syntax that doesn't work in Node itself? (e.g. Node does not allow `import { spawn } from "child_process"` because that's a CJS package, but it does allow `import child_process from "child_process";` which can then be unpacked using `const { spawn } = child_process;`)

[2020-10-19 17:20] rafgraph opened #10652 "TS jest.config.ts error: SyntaxError: Unexpected token 'export'"
## 🐛 Bug Report

Using `jest.config.ts` and running `jest` I get the following error:
[code]

I have TypeScript setup for es modules, but maybe there is something else I'm missing, [`tsconfig.json` here](https://github.com/rafgraph/detect-it/blob/jest-ts-config/tsconfig.json). I installed `ts-node` and copied the `jest.config.ts` from the docs.

## To Reproduce

Create `jest.config.ts`:
[code]
Run

[2020-10-19 17:33] whitecolor commented on #10651
@jeysal this is really strange

So this is what I see in th console after I change `a.test.js`:

![image](https://user-images.githubusercontent.com/736697/96490707-9ae53000-125a-11eb-9423-dd143048e517.png)

I expect to see only PASS info related to test-a, but there is b-test info also. So it is not expected jest's behavior, right?

[2020-10-19 17:35] jeysal commented on #10651
To be clear, changed refers to the current commit as a base. So if you change a and then b, they will now always run until you commit the changes.

[2020-10-19 17:38] whitecolor commented on #10651
@jeysal
So changes relate to GIT. not changed files. Ok, this is actually not clear from docs. What about executing only for just changed file, is it possible to achieve somehow?

[2020-10-19 17:42] jeysal commented on #10651
No, that is not possible (at least with Jest alone).
We would appreciate a PR making the docs clearer!

[2020-10-19 17:42] #10651 closed

[2020-10-19 18:09] jkrems commented on #9430
This is an unfortunate example because node considers "child_process" to be a "builtin" (and not CJS) module, so named exports do work. The latest nodejs also uses a heuristic to make many named exports work for CJS modules. That may be the hardest part to emulate.

[2020-10-19 19:41] danielbayley commented on #8522
@SimenB It would be useful if it was…

[2020-10-19 20:39] Nnadozie commented on #3322
I think most people just use a [Jest VScode extension](https://marketplace.visualstudio.com/items?itemName=Orta.vscode-jest), which shows failed tests inline and does more helpful stuff, but no one mentioned that here.

![jest extension demo](https://raw.githubusercontent.com/jest-community/vscode-jest/master/images/vscode-jest.gif)

[2020-10-19 21:03] whitecolor commented on #10651
@jeysal couple related questions on the issue:

1) https://jestjs.io/docs/en/watch-plugins wonder why in `onFileChange` is not possible to see the filePath that has been changed, isn't it possible?

2) Isn't it possible from plugin somehow to get access to [findRelatedTestsFromPattern](https://github.com/facebook/jest/blob/504cacee18b844a974e76e5c45b2568bf023d3ac/packages/jest-core/src/SearchSourc

[2020-10-19 22:16] jeysal commented on #10651
1. Jest itself doesn't need to know what caused the file change event, I assume that's why we don't have that information there and don't give it to plugins.
2. Plugins probably are/should be able to set `--findRelatedTests`, which would then cause Jest to use `findRelatedTestsFromPattern` to determine tests to run.

[2020-10-19 23:06] jeysal commented on #9785
Hi @ayshiff and sorry this went under the radar for months. It sounds like you already got quite far and it'd be a shame to lose all this work. I was not involved in writing `jest-worker` (neither child processes nor worker threads) but I landed a major refactor of the way the workers terminate last year, so I can possibly help / we can figure things out together. I didn't catch any specifics from

[2020-10-19 23:32] jeysal commented on #10153
I believe our `coverage_reporter` just uses `istanbul-lib-report` to print this summary. So anyone could print this based on the contents of the `coverage` dir. I don't think it's worth adding an option for this to Jest.

[2020-10-19 23:32] #10153 closed

[2020-10-19 23:40] whitecolor commented on #10651
@jeysal

Any ideas how? At least in `onFileChange` hook in `projects[0].config` there is no prop `findRelatedTests`.

[2020-10-19 23:50] jeysal commented on #10651
Watch plugins use `updateConfigAndRun` to trigger a re-run with changed config.
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or [Reactiflux](https://www.reactiflux.com/) for questions.
Not sure if `findRelatedTests` is already an allowed property for watch plugins to update, but if not we'd accept a PR to ma

[2020-10-20 01:46] ingun37 commented on #7421
@palmerj3  Doesn’t the feature only let you process the result data in which only way of including any custom data from the test environment is `console` property which is just a plain text? Therefore, not a really good solution?

[2020-10-20 07:41] whitecolor commented on #10651
@jeysal on SO usually difficult to get this level of expertise and people who have it.

`updateConfigAndRun` is used in `run`  which is on keypress in the menu, I want whether:
1) to update config (`findRelatedTests `) in `onFileChange` hook, so jest itself would care about the rest process of running only filtered tests

2) or another approach could be to get related test suites list (if somethin

[2020-10-20 07:46] YashPethe opened #10654 "expect().toMatch(/regex/) doesn't verify the last characters(if digit) in last word of regex"
## 🐛 Bug Report
Lets assume webElement.getText() returns "**Total:21245**"
And my validation is `expect(webElement.getText()).toMatch(/Total:212/)`, then test become pass.
Above test should not pass and verify all the expected characters in regex.

Another example:
Lets assume webElement.getText() returns "**Element text on Interface20000**"
And my validation is `expect(webElement.getText()).toMat

[2020-10-20 08:07] masmatsum commented on #10647
@ahnpnl

I tried following values:

[code]

[code]

But unfortunately the tests resulted in failure.

I an not very familiar with jest.
Are there any options in `projects` which I should try?

[2020-10-20 08:12] jeysal commented on #10654
Your regex is not anchored, it works as you expect with `/Total:212$/`.

[2020-10-20 08:12] #10654 closed

[2020-10-20 08:37] palmerj3 commented on #7421
You get the same data reporters themselves get. So if your complaint is about passing custom data to reporters then you're in the right place.

[2020-10-20 08:44] ElVisPL commented on #7427
It works
In most use cases both paths are the same (tested files and files that we want coverage from).
It would be nice if for `collectCoverageOnlyFrom` without value it would take path of files that are actually tested

[2020-10-20 10:02] 6axter82 opened #10658 "support for node version 10.13.0"
## 💬 Questions and Help
I am using the latest version of react testing library https://testing-library.com/docs/intro which is **11.1.0**
But can not run the CI/CD pipeline with a docker image which has a **node version 10.13.0**.
I have filed an issue in the react testing library:
https://github.com/testing-library/react-testing-library/issues/804

They refer to the following link:
https://unpkg.

[2020-10-20 10:36] whitecolor commented on #10648
Was able to work it around using the watch plugin clearing up in a hook.

[2020-10-20 11:17] #7427 closed

[2020-10-20 11:18] nasreddineskandrani commented on #7427
I close it since it solved. Thanks

[2020-10-20 11:45] danielbayley commented on #8522
@SimenB It would be useful if it was… Any chance of that feature being added?

[2020-10-20 14:40] rafgraph commented on #10652
@Gamote any thoughts on this? (PR for supporting `jest.config.ts`)

[2020-10-20 15:07] Pomax commented on #9430
example updated to use `fs-extra` instead.

[2020-10-20 15:18] SimenB commented on #9430
That should already be implemented - Node core modules exposes named exports, "normal" CJS does not.

Do you have a link to the PR implementing it? We should try to emulate it at least 🙂

[2020-10-20 15:26] Gamote commented on #10652
@rafgraph Hmm, looks lime the `tsconfig.json` interfere with the internal compiler's settings. I will have a look in detail later or tomorrow.

[2020-10-20 15:27] fubhy commented on #9759
Yep, not fixed. Also encountering the same :-)

[2020-10-20 15:40] jkrems commented on #9430
The PR is here: https://github.com/nodejs/node/pull/35249

The heuristic behind it is published as `cjs-module-lexer` (https://github.com/guybedford/cjs-module-lexer) but @guybedford might know more about any potential deviations.

[2020-10-20 15:51] badfun commented on #6801
Excluding 'mocks' directory in tsconfig means they are no longer being monitored by Typescript, and the issue is with Jest, not Typescript. Pointing the 'roots' directory to '<rootDir>/src'  only works if that is the project structure, ie. your tests are in your 'src' directory.

A better way is to use Jest config's 'modulePathIgnorePatterns', and just ignore the build directory:

`modulePathIgnor

[2020-10-20 15:57] Ionaru opened #10662 "Segmentation fault (core dumped) on Github Actions running Node.js 12.x"
## 🐛 Bug Report

Running tests on Github Actions using Node.js 12.x gives a segmentation fault very frequently when the tests are done.

## To Reproduce

Steps to reproduce the behavior:
1. Create jest tests
1. Create Github workflow to test on Node.js 12.x
1. Run the workflow

## Expected behavior

The tests succeed (or fail) normally.

## Link to repl or repo (highly encouraged)

https://github.

[2020-10-20 16:57] garyo commented on #4116
I know this is closed, and I'll write my own, but it would be really nice if `.toBeCloseTo` would just accept arrays.

[2020-10-20 17:06] xenoterracide opened #10669 "PnP typescript definitions `jest-resolve` needs a dependency on `jest-haste-map`"
seems like `jest-resolve` needs a dependency on `jest-haste-map`

## 🐛 Bug Report

[code]

## To Reproduce

this is the package.json I'm using

[code]

## envinfo

[code]

adding this to my `.yarnrc.yml` seems to have fixed it

[code]

[2020-10-20 17:42] SimenB commented on #10669
I think that'll lead to circular dependencies... Will try to come up with something

[2020-10-20 19:20] Tony308 commented on #10448
I've had a similar issue but I think it's a problem with jest **_with_** babel/ES6 and not Jest itself.

Try including `babel.config.js` file in the root folder. (Same as package.json)
Might need to install these devDependencies.
[code]

[2020-10-20 21:03] ayshiff commented on #9785
Hi @jeysal !
No problem, it's been a long time since I looked at my code.
I'll take a look at what I did and I'll make a Draft PR with some explanations of what I tried to do (and surely some questions) which will be much more simple for you to review 👍

[2020-10-20 23:53] guybedford commented on #9430
Just had a look at this and it appears like `fs-extra` is using an exports pattern like:

[code]

This is not currently a reexports analysis case we detect, but it might be possible to add to cjs-module-lexer if this would be a useful case to handle named exports detection for.

[2020-10-21 03:25] JoshRosenstein commented on #8365
@jsamr
This issue was create (April 2019) All previous comments were accurate. The docs at the time the issue was closed can be found [here](https://github.com/babel/website/blob/f4010018e09d94b0143e9780f10d41832c90a0ee/docs/config-files.md).
Babel did not support this until Oct 2019 which you can find the PR [here](https://github.com/babel/babel/pull/10501).

So at that time, this wasnt a jest is

[2020-10-21 04:32] yubaoquan commented on #10147
I  retried another solution from stack overflow: https://stackoverflow.com/a/61797799/5131623
In my project, there is no jest in package.json, however, I found it in node_modules, and its version is different from my babel-jest in node_modules. So I expliticly add jest to package.json and set it to the save version as babel-jest: 26.6.0. Then the error gone away.

[2020-10-21 06:13] cozmy commented on #7963
Back then, I was using Windows, and **I think the issue was from my Antivirus**. Running the same test again (the one from this repo: https://github.com/cozmy/jest-performance), on Ubuntu, I don't have any performance issues.

[2020-10-21 06:16] tavisca-rarora commented on #9703
`
**Facing similar Issue again with latest release of Pretty-format yesterday (v26.6.0)**
ERROR in ../node_modules/jest-diff/build/diffLines.d.ts
[tsl] ERROR in ../node_modules/jest-diff/build/diffLines.d.ts(8,34)
      TS1005: ';' expected.

ERROR in ../node_modules/jest-diff/build/printDiffs.d.ts
[tsl] ERROR in ../node_modules/jest-diff/build/printDiffs.d.ts(8,13)
      TS1005: '=' expected.

ER

[2020-10-21 06:30] tavisca-rarora opened #10671 "Jest-diff module Error"
#2125  🐛 Bug Report

## To Reproduce

**Error in latest version of Jest-diff & Pretty-format (v26.6.0)**
Steps to reproduce the behavior:

just do a npm i

## Expected behavior

A clear and concise description of what you expected to happen.

jest -diff installs without any issues whatsoever

[code]

[2020-10-21 07:40] SimenB commented on #10671
You're using an old version of TypeScript, upgrade to at least 3.8

[2020-10-21 07:40] #10671 closed

[2020-10-21 09:21] dfusic commented on #2441
Try using `console.debug` or `console.error`

[2020-10-21 10:59] ahnpnl commented on #10647
Hmm my experience with `projects` is it is suitable when you have monorepo-like project, whereas each small project has its own `package.json` and `jest.config.js`. That is ideal to use `projects`.

[2020-10-21 12:53] SimenB commented on #9430
Thanks @jkrems & @guybedford! I've opened up a PR now using that module: #10673

[2020-10-21 13:14] gtsop commented on #7963
I experience this issue on a headless server and macbook. The macbook is corporate property and does indeed have an antivirus, though i do not know to what extend that affects the performance, it certainly isn't an option for me to remove it.

[2020-10-21 14:02] sebastienbarre commented on #7963
@gtsop I'm experiencing the issue as well without anti-virus. For what it's worth, what @cozmy is referring to, if I'm not mistaken, is a slow-down related to applications that would suddenly create a ton of files on disk (say, during a build process back in the days, with traditional C compilers creating hundreds or thousands of `.obj` files). The anti-virus would suddenly kick-in and attempt to

[2020-10-21 14:29] borekb opened #10674 "Watch mode to re-render the current screen instead of clearing the scrollback"
## 🚀 Feature Proposal

Watch mode currently prints test outputs over and over again, filling up scrollback, which is probably why a drastic measure was taken back in 2016 and the scrollback has been cleared ever since, see #1861. Clearing a scrollback means that I cannot scroll to previous output in my terminal, so it's a small "data loss".

iTerm2 beta (I'm on 3.4.0beta10) started disallowing thi

[2020-10-21 15:59] MikeyUchiha commented on #10652
@Gamote I am also having the same issue on a brand new project. Thanks for looking into this!

![image](https://user-images.githubusercontent.com/3036263/96745834-8d33c580-1394-11eb-90b2-cdef5c414672.png)

[code]

[2020-10-21 16:59] tncbbthositg commented on #3053
@cpojer, could you let us know what we need to do to get this issue re-opened.  It appears this has been causing an issue for more than 3 years.  It might be worth taking a look at this.

[2020-10-21 21:43] guybedford commented on #9430
The exact fs-extra support described in https://github.com/facebook/jest/issues/9430#issuecomment-713204282 is now implemented in cjs-module-lexer@0.4.3, upstream tracking at https://github.com/nodejs/node/pull/35745.

[2020-10-21 22:00] piranna opened #10676 "Test timeout if there are handlers open"
## 💬 Questions and Help

### Please note that this issue tracker is not a help forum and this issue will be closed.

Not sure if a bug (regression?), or a new feature, but didn't happened before.

I have a test with `ws`. When I close correctly all the WebSockets instances before the test finish, it pass sucesfully and Jest exits without problems. BUT, if I left one of the WebSockets open, Jest no

[2020-10-21 23:05] rafaeleyng commented on #4868
@Billy- could you provide the working example? Is not clear how you've managed to make it work.

[2020-10-22 00:06] justinlazaro-iselect opened #10677 "Got issue when running jest - Determining test suites to run...Error: A JNI error has occurred, please check your installation and try again"
Anyone here encounter this issue when running yarn jest?

[code]

[2020-10-22 02:05] youngjuning commented on #6434
![image](https://user-images.githubusercontent.com/13204332/96809812-f7f50780-144d-11eb-9313-b720d54d5b4a.png)

write this into `jest.setup.js`:

[code]

[2020-10-22 04:08] mb-leon commented on #10295
Same issue here

[code]

[2020-10-22 07:46] thymikee commented on #10677
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](https://jestjs.io/en/help). Thank you :)

[2020-10-22 07:46] #10677 closed

[2020-10-22 08:46] sbalay commented on #10221
Hey @chrisbobbe, great work with the triaging of this issue! Did you get any updates about it recently? I did not see any follow up or response in the issue that you created in the RN repo.

FYI, I've found a more friendly solution than forking the entire RN dependency: hijack the react-native jest preset instead. [Here](https://github.com/sbalay/without_await/commit/64a76486f31bdc41f5c240d2826328

[2020-10-22 09:32] #10652 closed

[2020-10-22 11:59] MathieuAA opened #10679 "Telling jest not to use the cache in watch mode doesn't work"
## 🐛 Bug Report

I'm not sure it's a bug, but still...

When using jest in watch mode `--watchAll` and telling it not to use the cache `--no-cache` results in this behavior:
  - first run: no cache is used, which is what I want
  - second, third, etc.: the cache is used

I have to kill the watcher again and again... might as well not use the watch mode :(

## To Reproduce

Create a simple project,

[2020-10-22 12:07] Ky6uk opened #10680 "[jest.config.ts] `maxWorkers` and `rootDir` should be optional in Config.InitialOptions"
## 🐛 Bug Report

I've tried to create `jest.config.ts` from the [documentation example](https://jestjs.io/docs/en/configuration)

[code]

And got an error

[code]

## envinfo

[code]

[2020-10-22 12:32] SimenB commented on #10680
`InitialOptions` is `Partial`, not sure why you get this error...

https://github.com/facebook/jest/blob/0eab3273e704e6bf34dbd355d87faf40dc0fdb27/packages/jest-types/src/Config.ts#L113

[2020-10-22 13:24] ahnpnl commented on #10679
I know that 2nd run command line arguments are no longer there like 1st run, not sure if it's related.

[2020-10-22 13:31] Ky6uk commented on #10680
VS Code is looking at `node_modules/@jest/types/build/Config.d.ts` where

[code]

[2020-10-22 13:38] Ky6uk commented on #10680
Ahh, it looks  @jest/types should be `v26.6.0` also 🤔. I Will check why that's old.

[2020-10-22 13:46] Ky6uk commented on #10680
Yeah. It looks like some of the other packages require and have installed the oldest version of the `@jest/types`. Have added it into `package.json` explicitly. Now it works.

[2020-10-22 13:46] #10680 closed

[2020-10-22 14:24] MathieuAA commented on #10679
The behaviour is similar, not sure the cause is.

[2020-10-22 14:33] chrisbobbe commented on #10221
Thanks! 🙂

No, unfortunately I haven't had any updates.

Great, thanks for the tip!!

[2020-10-22 17:15] srbarba commented on #5209
If you are using `*.d.ts` files you can use

[code]

[2020-10-22 18:40] modernserf opened #10681 "Throwing a non-Error object with a property called "stack" causes test to hang"
## 🐛 Bug Report

It seems that if you throw an object that is not an instance of Error, but includes a property named `stack` that is an object, the test will never complete.

No error is reported on my machine, but the repl.it environment prints the error `TypeError: stack.replace is not a function`, though the test still hangs regardless.

## To Reproduce

add this to a test file:

[code]

## Ex

[2020-10-22 20:46] SimenB commented on #9529
@G-Rath close this?

[2020-10-22 23:30] SwarnimRaj commented on #7136
For me, `jest.restoreAllMocks();` helped finally clear the spy on jest

[2020-10-22 23:52] mikaelmello commented on #10681
https://github.com/facebook/jest/blob/918636142791a3dd4ddfe9367149a90437bd6da9/packages/jest-jasmine2/src/reporter.ts#L116-L125

probably

[2020-10-23 01:20] joselcc commented on #6914
Thanks @AnilGayakwad! that worked for me, a whole working example would look something like this:

[code]

[2020-10-23 04:59] piecyk commented on #8208
Looks like when you run jest via `node --inspect node_modules/.bin/jest --runInBand <path_to_test>` it logs console.logs to console without connecting to dev tools. More about node --inspect  at https://artsy.github.io/blog/2018/08/24/How-to-debug-jest-tests/

[2020-10-23 07:38] #6470 closed

[2020-10-23 07:46] SunhoY opened #10682 "`TextTrack` type is undefined."
## 💬 Questions and Help

### Please note that this issue tracker is not a help forum and this issue will be closed.

I'm working with CreateReactApp + Jest + Typescript for the project.
I'm using 1st party library which is related to playing video.
when I run test suite which uses video library.
jest throws following error
[code]

this.player.textTracks is the type extending [TextTrackList](https:

[2020-10-23 09:00] gdh51 opened #10684 "Jest Mock Returns Undefined"
## 🐛 Bug Report

When I do the [Async Example](https://jestjs.io/docs/en/tutorial-async), I put source code in `src` file.

I do change the relation of each file, but it still fail.

## To Reproduce

use this file The structure

[code]

run the test and it failed, but when i change it's structure to the guide, it passed

## Expected behavior

as the [example](https://jestjs.io/docs/en/tutorial-asy

[2020-10-23 09:04] thymikee commented on #10682
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](https://jestjs.io/en/help). Thank you :)

[2020-10-23 09:04] #10682 closed

[2020-10-23 09:09] SimenB commented on #10652
Out in 26.6.1

[2020-10-23 13:58] timstallmann commented on #7664
Sorry for a newbie question, but I'm running into this exact cryptic error message and can't quite understand from this thread what the mistake on my end is and how to fix it -- could someone clarify?

[2020-10-23 14:07] SimenB commented on #10681
Seems likely, yeah. Anybody up for a PR fixing this? Anything thrown, ever, should be `unknown` and we then narrow down the type afterwards. Assuming `stack` is a string is unsafe as can be seen by this issue.

[2020-10-23 15:44] KawaljeetSBagga opened #10687 "Cannot get error callback inside the test case"
Hi, I am using `react-native-pdf` and here is the code of my component that simply loads the pdf:

[code]

Now, as you see there is an `onError` callback provided by the `react-native-pdf` library. I am using that callback and passing the error to my test case via callback. And I pass the wrong URI to pdf so that it generates an error. When I run my application, I get that error callback in my com

[2020-10-23 16:06] SimenB commented on #8810
@G-Rath @Mark1626 I'll start landing these next week. So if you wanna send PRs for even more of them, now's a perfect time 😇

[2020-10-23 18:09] SimenB commented on #9860
My current thinking is that a transformer should return the format of the code it has transpiled.

Right now a transformer returns: https://github.com/facebook/jest/blob/1535af7659e0392b3f7c6124fa58d230907ee38d/packages/jest-types/src/Transform.ts#L9-L14

I'm thinking in addition it can return a `moduleFormat?: 'ESM' | 'CJS'` which we default to `CJS`. Thoughts?

[2020-10-23 18:23] ahnpnl commented on #9860
This one is very simple indeed and easy to do.

Top level configuration option is also fine by me. Currently, `ts-jest` has internal logic to detect whether users want to use `babel-jest`.

[2020-10-23 19:54] SimenB commented on #9860
I like that suggestion! We already support passing [config to transformers](https://jestjs.io/docs/en/configuration#transform-objectstring-pathtotransformer--pathtotransformer-object), like so

[code]

I guess we could have a third argument which is "config for jest"? Then stick `moduleFormat` in there

[2020-10-23 20:17] ahnpnl commented on #9860
I like the last one, clear, self explainable for each option.

[2020-10-23 20:25] SimenB commented on #9860
I'm leaning towards that approach myself

[2020-10-23 20:49] SimenB commented on #9860
Only real drawback is that it's a breaking change. Should be fine tho, let's go for it. PR welcome, if not I'll get to this in a few weeks 👍

[2020-10-23 21:24] floyd-may opened #10689 "expect.objectContaining(...) mutates properties of the argument"
## 🐛 Bug Report

When upgrading from react-scripts version 3.4.3 to version 4.0.0, jest was also upgraded. Tests that were behaving reasonably began failing. Upon closer inspection, I discovered that `expect.objectContaining(...)` was mutating properties of the argument! For example, this code would fail in the indicated location:

[code]
## Expected behavior

The argument to `objectContaining(...

[2020-10-23 21:56] renatoagds opened #10690 "Invalid variable access _jsxFileName"
## 🐛 Bug Report

After upgrading to new JSX transform, started to receive an error in my mocks that's returning a React Component/Element, saying about the `_jsxFileName` variable being outside of scope and could not be accessed.

## To Reproduce

Just mock a React Component/Element and start using the new JSX Transform

[code]

[2020-10-24 00:20] fkirc commented on #4156
Please reopen and implement it as an optional config.
I would do it myself if there is a realistic chance of getting a PR accepted.
In my view, writing a custom reporter for this "tiny" feature-request would be an unsustainable maintenance overhead.

Although this feature-request is neither "clean" nor "consistent", it is still highly needed by many people.

[2020-10-24 00:24] lmiller1990 commented on #9860
I am pretty new to the wonderful and crazy world of Jest transformers - somehow I fell into maintaining `vue-jest`. I have a question here: why is it useful to return the transpiled code (and format)? I see this would be nice to have but what problem is this solving for transformer authors?

[2020-10-24 00:59] nonara commented on #6937
Experiencing the same issue here. Unfortunately, the workaround does not work for me. I have to use `--forceExit`

[2020-10-24 01:00] UltimatePro-Grammer commented on #4727
I tried almost everything, but was **finally** able to figure out the problem I was having.

### You need to write the matcher for the target *file*, not the target test

Note that this is the opposite behavior to how `testPathIgnorePatterns` works.

<hr>

For example, say you have the directory structure:
[code]
You would want to create a matcher for the `src` directory, **not** the `tests` direc

[2020-10-24 02:37] khitrenovich commented on #8688
The "dirty workaround" from above didn't work for me, but switching to circus runner did - https://github.com/facebook/jest/blob/master/packages/jest-circus/README.md.

[2020-10-24 03:24] snitin315 commented on #9860
@SimenB Can I work on this issue?

[2020-10-24 08:21] wclr opened #10693 "Jest crushes because of removed node_modules folder"
## 🐛 Bug Report

While running test I periodically have a jest crush.

[code]

During test `<rootDir>/.tmp` directory is cleaned, and it can contain `node_modules` folder inside.

So I tried to exclude from watching the directory with `watchPathIgnorePatterns` (though in docs it is said that dot folder is excluded from watching by default?) but it has no effect on the problem.

jest.config.js:
[co

[2020-10-24 09:48] doannucphys commented on #7803
npm -s run test
it work for me, thank you so much

[2020-10-24 12:17] SimenB commented on #9860
I think we ended up with the user telling Jest what format the tests will be in rather than the transformer. Then it's up to the user to configure the transformer correctly. Does that answer your question?

[2020-10-24 13:12] snitin315 commented on #10681
Hello @SimenB,  I was trying to work on this issue.
Do I have to run `yarn run build` every time I make changes in `jest/packages/jest-jasmine2/src/reporter.ts` to test the changes?

[2020-10-24 15:14] SimenB commented on #10681
You can run `yarn watch` to build once and then set up a watcher 🙂

[2020-10-24 15:17] SimenB commented on #10690
PR welcome 👍 Error is in `babel-plugin-jest-hoist` somewhere.

[2020-10-24 15:20] SimenB commented on #10690
That said, I'm not 100% certain what the solution is. We could add it to the whitelist, but that feels like it's addressing the symptom rather than the cause. @nicolo-ribaudo what do you think?