[2016-12-22 23:46] pedrottimark commented on #2202
`ReactTestComponent` plugin for `pretty-format` works for elements that omit `props` or `children`. Such forward thinking supports JSX diff when relevant subset does not match!

Example for Create https://github.com/facebook/jest/issues/2202#issuecomment-268347718 if record is incorrectly inserted as last row instead of first:

[code]

[2016-12-22 23:50] hramos commented on #2431
I agree, this should go back on the Getting Started guide.

I'll look into ts-jest and figure out if this belongs in the GS as well or if we should have a separate doc.

[2016-12-23 00:00] hramos opened #2433 "Clipping in Help Section"
![screen shot 2016-12-22 at 3 59 40 pm](https://cloud.githubusercontent.com/assets/165856/21444161/acd9317e-c85f-11e6-853a-0ee2ea41dfb6.png)

The left column is being clipped.

[2016-12-23 06:31] hybrisCole commented on #2208
the same thing happened to me, had to

[code]

[2016-12-23 13:30] johntran opened #2434 "Silent on a file basis"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Cannot silence console log/warn/error on a file basis

**What is the expected behavior?**

It would be awesome if I could silence console log/warn/error on a file basis. I use enzyme on libraries, and the libraries throw React errors.
Example: https://github.com/callemall/material-ui/issues/5814

R

[2016-12-23 19:00] bgeihsgt commented on #1370
FWIW, I've been able to work around this by setting up jest mocks to point to the different files. It's pretty janky, so a built-in solution would be really nice :)

Something like:

[code]

[2016-12-23 22:38] dannycochran opened #2435 "React Native WebView with required local html file causes crash"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I have a WebView component in my React Native app which requires in an html file. [Due to a bug in RN](https://github.com/facebook/react-native/issues/6004), it currently loads the HTML files differently depending if the environment is dev or prod:

[code]

This is at the top of my file outside any fun

[2016-12-24 12:06] sapegin opened #2436 "console.log doesn’t work in Node 7"
**Do you want to request a *feature* or report a *bug*?**

A bug.

**What is the current behavior?**

You can try it in [this repo](https://github.com/sapegin/jesttest).

In Node 7.3.0.

[code]

**What is the expected behavior?**

In Node 6.9.2.

[code]

**Please provide your exact Jest configuration and mention your Jest, node, yarn/npm version and operating system.**

macOS Sierra, different Nod

[2016-12-24 12:08] thymikee commented on #2436
Hey @sapegin, this is already addressed here in this issue #2166.

[2016-12-24 12:08] #2436 closed

[2016-12-24 12:10] sapegin commented on #2436
@thymikee Awesome! And sorry for the duplicate, GitHub search is pretty useless in big repos ;-(

[2016-12-24 12:18] thymikee commented on #2436
No worries! :)

[2016-12-24 14:34] neoziro commented on #1874
I have the issue on my repository, it happens very very often:

https://travis-ci.org/neoziro/recompact/builds/186529118

Not in local, but on travis, a race condition. I will try to fix it in jest, hints are welcome.

[2016-12-25 01:15] juangl opened #2437 "Crashing with --config flag"
I'm trying to run the next command:

`./node_modules/.bin/jest --config=config.json`

And I'm getting the follow output:

[code]

My config.json file contains:

[code]

### Version:
**Jest**: v18.0.0
**node**: v7.3.0

[2016-12-25 04:42] luiskhernandez commented on #2437
Hi @juangl , base on the docs https://facebook.github.io/jest/docs/configuration.html#testpathdirs-array-string , `testPathDirs` should be an array of string , try `"testPathDirs": ["server/"],`

[2016-12-25 15:38] udbhav opened #2441 "console.log does not output when running tests"
**Do you want to request a *feature* or report a *bug*?**

Report a *bug*.

**What is the current behavior?**

Calling `console.log` using the default testEnvironment of `jsdom` doesn't print to stdout.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn insta

[2016-12-25 15:46] udbhav commented on #2441
Just tested this using repl.it: https://repl.it/EwfT/0

Good news is it works as expected and console.log outputs, so it might be something tied to my local configuration, or something in the newest version of Jest or node v7.

[2016-12-25 17:08] juangl commented on #2437
Thank you, @luiskhernandez you're right.

[2016-12-25 17:08] #2437 closed

[2016-12-26 03:58] cpojer commented on #2434
We actually have thousands of logs at FB and it is terrible, silencing them doesn't really solve anything here other than giving you peace of mind. There are a few possible solutions:

* Fix the library not to warn or throw in the first place. Why is it logging something if everything is correct?
* In your test (or setupFile), set `console.log = jest.fn()` so that tests cannot print to the console

[2016-12-26 03:58] #2434 closed

[2016-12-26 04:00] cpojer commented on #2435
The workaround makes sense to me. You are loading an html file, and Jest interprets it so you either need to mock the file, transform it or make sure that code is not run.

One thing you could do is use the `transform` config option and build a transformer for `*.\.html` files that returns something like `module.exports = 'something for html files';` which would also make them not throw.

[2016-12-26 04:00] #2435 closed

[2016-12-26 04:05] cpojer commented on #2429
The documentation as well as the example point out you have to call `jest.useFakeTimers()` to make it work. I think you are confused a bit – the example and docs are correct. You can use `"timers": "fake"` in the config to make every test use fake timers by default.

[2016-12-26 04:05] #2429 closed

[2016-12-26 04:12] cpojer commented on #2421
@jwbay thanks for helping out on Jest's issue tracker.

[2016-12-26 04:12] #2421 closed

[2016-12-26 04:21] cpojer commented on #2417
I'm not really interested in supporting this use case as I don't think the complexity is worth it. I recommend going with your workaround, which seems to work, or loading it in `setupFiles` using something like this:

[code]

that seems to me like a reasonable solution.

[2016-12-26 04:21] #2417 closed

[2016-12-26 04:22] #2407 closed

[2016-12-26 04:22] #2408 closed

[2016-12-26 04:24] cpojer commented on #2420
Change your exported mock to use `jest.fn`, like `export default jest.fn(function fetch() { … });` and then `require('isomorphic-fetch')` should just work. It will give you a mock function that can be used together with matchers like `toHaveBeenCalled` etc.

[2016-12-26 04:24] #2420 closed

[2016-12-26 04:26] cpojer commented on #2292
@rogeliog I totally agree we should have `--no-interactive` or `--no-status`, especially also to disable the concurrent runner output. If anybody wants to send a PR for this it would be greatly appreciated.

[2016-12-26 04:28] cpojer commented on #2322
I'm unsure whether this is a Jest issue tbh. We aren't doing anything to pause or close any streams so I'm unsure what's happening here.

@thymikee regardless of the recommended practice, sometimes it makes sense for tests to go to the network and a lot of people are ok with the slow test runs; we should support this even if we don't recommend it.

[2016-12-26 04:31] cpojer commented on #2106
We allow the cov variable to pass this static analysis check here: https://github.com/facebook/jest/blob/new-docs/packages/babel-plugin-jest-hoist/src/index.js#L111

are you sure you are using babel-jest 18 and jest 18 together? Please let me know if you have a consistent repro in a repository on github and we'll fix this.

[2016-12-26 04:35] cpojer commented on #2397
@thymikee yeah, I think a pretty-format plugin is the way to go. We now implement the asymmetric matchers directly in `jest-matchers`, so we can also rewrite them in any way we want. I think regardless of the used matcher, we should pretty print the asymmetric matchers. I'm also happy to change what they currently print.

[2016-12-26 04:36] cpojer commented on #296
@danielstern you can now use `-i -t <pattern>` I guess.

[2016-12-26 04:36] cpojer commented on #2418
@dmitriiabramov do we have anything for this? I think this could be pretty handy if we decide to kill our internal runner.

[2016-12-26 04:40] cpojer commented on #2414
There are no plans for us to do this but depending on what this will look like, we are happy to support incoming Pull Requests. Feel free to continue to use this issue to discuss a potential integration if you'd like to work on it but I'll close it for now as it's not something we'll contribute to specifically.

[2016-12-26 04:40] #2414 closed

[2016-12-26 05:06] rogeliog commented on #2292
@cpojer I can help with this

[2016-12-26 05:08] cpojer commented on #2292
go for it!

[2016-12-26 05:57] kevinastone commented on #2436
The console works as expected in Node 7.2.1.  It's just omitted on Node 7.3.

[2016-12-26 09:32] thymikee commented on #2322
@cpojer thanks for pointing that out!

[2016-12-26 10:34] cloud-walker opened #2442 "Dynamic import not working if using .babelrc"
I'm trying to use this: https://github.com/tc39/proposal-dynamic-import on my experimental boilerplate.

All is working fine if I move babel configuration to the `package.json`:
[code]

The same exact configuration give the following error if the babel config is on its own `.babelrc` file:

[code]

I've node `7.3`, latest `yarn` and latest `jest` on OSX

[2016-12-26 10:41] cloud-walker commented on #2442
Even using babel on package.json jest is failing if I try to use `jest --coverage`, reporting the same error.

[2016-12-26 17:07] orta opened #2444 "Support a single line terse version of each matcher fail"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

An error currently is an extensive multi-line string ([example](https://github.com/facebook/jest/blob/master/packages/jest-editor-support/src/__tests__/fixtures/failing_jsons/failing_json_multiple.json#L168)) wherein jest-editor-support will try to [convert this into a single line issue](https://

[2016-12-26 19:50] rogeliog commented on #2427
Fixed by #2428

[2016-12-26 19:50] #2427 closed

[2016-12-26 20:50] stephencookdev commented on #2203
Would love to see this feature added too! Would appreciate thoughts on what you guys think of #2445 to add this functionality

[2016-12-26 22:58] dmitriiabramov commented on #2418
it's actually pretty easy to do with istanbul as long as you have a `.json` coverage report.
we do something similar to this here:
https://github.com/facebook/jest/blob/master/scripts/mapCoverage.js

[2016-12-27 13:39] voliva opened #2447 "Resolving peer modules when using local linked packages"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Having the following structure:
[code]
When `MyLibrary` requires `MyDependency`, it loads it from `MyModule/node_modules/MyLibrary/node_modules` folder if it's available, when it should get the peer version.
The problem that this issue arises is an inconsistent behaviour when using local linked package

[2016-12-27 13:41] voliva commented on #2447
When debugging, I found the logic where modules get resolved is in Jest's `build\index.js _normalizeID(from, moduleName)`

[2016-12-27 13:43] thymikee commented on #2447
Just curious – have you tried linking with npm instead of yarn?

[2016-12-27 13:47] voliva commented on #2447
@thymikee Just tried and still having the same issue... Npm version 3.10.8

[2016-12-27 15:46] neoziro commented on #1874
I found a workaround to fix it. Force execution in the same thread using `-i` or `--runInBand` option.

https://facebook.github.io/jest/docs/troubleshooting.html#tests-are-extremely-slow-on-docker-and-or-continuous-integration-server

[2016-12-27 17:30] jcemer opened #2450 "Timer issues with node version 7.3.0"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
There are some issues with timers on node 7.3.0. Also, the `console.log` is not printed.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn tes

[2016-12-27 17:47] Bnaya commented on #1466
Hey @avanderhoorn , have you managed to make it work? i'm about to do something similar

[2016-12-27 17:58] afaayerhan opened #2451 "docs Regex incorrect"
the current docs testRegex is incorrect for us copying it blindly. can someone correct it. want to contribute to the docs but all the config setup for for jest is totally for mac or linux users. using a windows. no money for mac. just need to remove one of the braces( ")" ) after the spec
![image](https://cloud.githubusercontent.com/assets/8157594/21505277/7098bda2-cc6e-11e6-87c7-fc99bb95f650.png)

[2016-12-27 18:46] thymikee commented on #2451
@afaayerhan this regex is correct and can be copy-pasted into your config.
Although the whole expression is wrapped in extra parentheses, which may cause confusion if copied "too fast".

@hramos what do you think, should we remove those extra parens: `(default: ...)` in new docs, to avoid ambiguousness? I'd personally go for that.

[2016-12-27 18:46] #2451 closed

[2016-12-27 19:23] hramos commented on #2451
This seems annoying. I'll figure out a different way of showing defaults here.

[2016-12-27 19:31] PauloASilva opened #2453 "document URL parsing"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
[code]

[code]
This is the Firefox and Google Chrome behavior when the source code runs on a page whose document.location is `about:blank` what is not expected as the `window.location.href` property is defined by ([Issue#890][1])

[code]

**If the current behavior is a bug, please provide the steps to

[2016-12-27 20:17] benweissmann opened #2455 "resetMocks breaks timers: "fake" config options"
Adding `"resetMocks": true` to the Jest config causes Jest to ignore `timers: "fake"` in the config file. Using `jest.useFakeTimers()` still works.

This bug is present in Jest 17 and 18, but not Jest 16 (with `clearMocks`).

I will follow-up with a reproduction momentarily.

[2016-12-27 20:19] benweissmann commented on #2455
Reproduction: https://github.com/benweissmann/jest-issue-2455-repro

[2016-12-27 20:20] afaayerhan commented on #2451
@thymikee not talking about those first parenthesis i'm talking about the two closing parentesis after spec it should be only one closing parenthesis .

[2016-12-27 20:27] thymikee commented on #2451
These are RegExp `matching groups`, here's a version with added newlines:
[code]

[2016-12-27 20:31] afaayerhan commented on #2451
@thymikee got it now thanks. actually never copied the first opening one that's why. I suggest puting it as string as it would be in package.json "(/__tests__/.*|(\\.|/)(test|spec))\\.jsx?$"

[2016-12-27 20:44] hramos commented on #2433
Fixed by #2443

[2016-12-27 20:44] #2433 closed

[2016-12-27 22:02] thymikee commented on #2441
Thanks for reporting this, but that's a duplicate of #2166 and happens on Node 6 too.

[2016-12-27 22:07] thymikee commented on #2450
Thanks for reporting this, but that's a duplicate of #2166 and happens on Node 6 too (but not so often I guess, based on the number of issues relating this with v7). Feel free to discuss it in the relevant thread. Help is greatly appreciated! 😃

[2016-12-27 22:07] #2450 closed

[2016-12-27 22:18] thymikee commented on #2453
I'm not sure if we can do anything about that. @cpojer what do you think?

[2016-12-27 22:30] PauloASilva commented on #2453
@thymikee I would be glad to help you further but I had no time no go deeper on debugging.
As soon as I am able to take some spare time I will do it and I will let you know.

Jest uses [jsdom][1], right?
Isn't this a [jsdom][1] issue?

[1]: https://github.com/tmpvar/jsdom

[2016-12-27 22:33] thymikee commented on #2453
Yes, Jest uses `jsdom` and what I'm quite sure, this is not a bug in Jest – this can be a lack of feature/API flexibility though.
Although it may be a bug in `jsdom` lib, so please file an issue there and we'll see how it goes. Closing this for now.

[2016-12-27 22:33] #2453 closed

[2016-12-27 22:34] thymikee commented on #2453
But happy to discuss it of course!

[2016-12-27 22:46] #2431 closed

[2016-12-27 22:46] hramos commented on #2371
I no longer think this is necessary.

[2016-12-27 22:46] #2371 closed

[2016-12-28 03:53] lpcarignan opened #2458 "Bug in function resolve() of class Resolver in package jest-resolve"
I believe there is a bug in function `resolve` in class `Resolver` which is in [index.js](https://github.com/facebook/jest/blob/master/packages/jest-resolve/src/index.js) of the jest-resolve package.

More specifically, `resolve` works when I put a full path in an import call but fails when it doesn't.

Basically, I have a Typescript project where I use a preprocessor to transcompile my Jest tests

[2016-12-28 03:56] avanderhoorn commented on #1466
@Bnaya my `jest.preprocessor.js` looks like this:
[code]
my `project.json` jest setup looks like:
[code]
Let me know if I'm missing something that would be useful and I'll post it.

[2016-12-28 11:17] afaayerhan commented on #2458
@lpcarignan also having similar problem here maybe think this is related

 FAIL  controllers\__test__\UserController.test.ts
  ● Test suite failed to run

    Cannot find module '../package' from 'node-pre-gyp.js'

      at Resolver.resolveModule (node_modules\jest-resolve\build\index.js:151:17)
      at Object.<anonymous> (node_modules\node-pre-gyp\lib\node-pre-gyp.js:60:17)
      at Object.<anon

[2016-12-28 11:45] PauloASilva commented on #2453
I was digging<sup>[1][2]</sup> and setting the `testURL` jest property on `package.json ([doc][1]) solves the issue.

I think that it would be nice to be able to manipulate the jsdom environment instance everywhere, so that I was able to call the [`jsdom.changeURL()`][3] method. Do I have access to it on global scope?

Regards,
Paulo A. Silva

[1]: https://facebook.github.io/jest/docs/configuratio

[2016-12-28 11:47] tobiasMeinhardt opened #2459 "TypeError: Cannot read property 'Commands' of undefined"
**Do you want to request a *feature* or report a *bug*?**

bug - related to react-native

**What is the current behavior?**

The error `TypeError: Cannot read property 'Commands' of undefined` is thrown when i trigger a function that references a `<ListView/>` and calls the scrollTo method of the `<ListView/>` like below:

[code]

When i run the tests, the stack trace ends at 'Component.scrollResp

[2016-12-28 11:56] thymikee commented on #2453
Glad you worked this out!
Currently we're not exposing `jsdom` to environment, so you don't have access to it. Happy to review the PR if you're willing to work on this, as long as it doesn't introduce breaking changes :).
I'll create a new issue just for that.

[2016-12-28 11:59] thymikee opened #2460 "Expose jsdom to global environment"
This is a question/discussion topic.

While discussing this issue #2453 and earlier conversation here #890 I came to conclusion that it may be worth exposing `jsdom` somehow to the environment. What do you think?

@cpojer @dmitriiabramov

[2016-12-28 12:00] PauloASilva commented on #2453
i @thymikee thanks for you quick feedback.

Let's work on feature request.
I think exposing `jsdom` would make sense, but I am not sure about the consequences to the jest philosophy.

I am moving to the [new issue](https://github.com/facebook/jest/issues/2460)

Thanks
Paulo A. Silva

[2016-12-28 12:06] PauloASilva commented on #2460
On my use case I need to change the `window.location` per `it()` so that `jsdom` behaves like modern browsers. This way the [package.json testURL][2] property/configuration wont be enough :(

As `jsdom` only allows this through the [jsdom.changeURL()][1] method, exposing `jsdom` would be the only way around to accomplish the use case.

[1]: https://github.com/tmpvar/jsdom#changing-the-url-of-an-ex

[2016-12-28 13:32] Marcsimm opened #2461 "create a mock file for webpack-assets.json in run-time"
I am using jest to test my reactjs componenets with webpack and when i use it in runtime some files like assets are not used in runtime but when i run the test it still fail because it's still looks for the assets and i get this error

[code]
how do i create a mock file to serve a the webpack-assets.json in run-time?

[2016-12-28 13:50] viebel opened #2462 "feature request: pretty-format arrays"
It would be nice to allow pretty-format to display arrays in a single line.

Currently each element of an array has its own line.

[2016-12-28 13:51] thymikee commented on #2462
Is this a request for `pretty-format` package or Jest diffs?

[2016-12-28 13:53] hkrutzer commented on #2039
Had the original issue as well (FSEventStreamStart etc), https://github.com/facebook/react-native/issues/9309#issuecomment-238966924 fixed it for me (increasing max open files and installing watchman 2.7 with brew).

[2016-12-28 13:54] thymikee commented on #2459
Since RN v0.38 you should no longer use `jest-react-native`, see the docs: http://facebook.github.io/jest/docs/tutorial-react-native.html

If it's related to RN, please file this issue there, as Jest is now a part of React Native.
Closing.

[2016-12-28 13:54] #2459 closed

[2016-12-28 14:02] thymikee commented on #2458
It's failing, because this call:
[code]
will look for global node nodule named BaseClass. What you probably want to do is loading the module from corresponding file:
[code]

[2016-12-28 14:02] #2458 closed

[2016-12-28 14:16] yoavniran opened #2463 "jest-runtime _normalizeID doesnt provide determinstic results for all mocks"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

first of, Im testing a JSPM based app. For this im using my own [gulp-jest-jspm](https://www.npmjs.com/package/gulp-jest-jspm) plugin without which, I wont be able to test at all.

The reason for the plugin and also what seems like the reason for me finding the behavior im about to explain is that JSP

[2016-12-28 14:29] viebel commented on #2462
It's a request for `pretty-format` package

[2016-12-28 14:31] cpojer commented on #2462
Feel free to send a pull request. We aren't taking feature requests.

[2016-12-28 14:31] thymikee commented on #2462
You can use `min: true` option to display Array in a single line
[code]

[2016-12-28 15:14] viebel commented on #2462
The problem with `min: true` is that it impacts also the display of objects. But for objects, I'd like to have one line per key,value pair.

![image](https://cloud.githubusercontent.com/assets/955710/21524718/01d88254-cd21-11e6-97fc-858790f1b569.png)

[2016-12-28 15:16] thymikee commented on #2462
Why not check the type of the object?
E.g.:
[code]

[2016-12-28 15:16] cpojer commented on #2462
I don't think we'll add this complexity to pretty-format. You should be able to use the plugin architecture to extend pretty-format and print things to your liking. If that doesn't work for arrays for some reason, please feel free to send us a pull request to fix it.

[2016-12-28 15:16] #2462 closed

[2016-12-28 15:18] cpojer commented on #2460
`window.location` can be changed using `Object.defineProperty(window, 'location', {value: '…'})`. There is no need to expose jsdom for this.

[2016-12-28 15:19] cpojer commented on #2461
Use `jest.mock('path/to/file', () => { … }, {virtual: true})` to create virtual mocks.

[2016-12-28 15:19] #2461 closed

[2016-12-28 15:20] PauloASilva commented on #2460
@cpojer It does not have the same behavior than the `json.changeURL()` one.

[2016-12-28 16:03] #2418 closed

[2016-12-28 16:04] cpojer commented on #2203
Thanks for the PR! I'll look at this in about a week when I get back to the office :)

[2016-12-28 16:07] cpojer commented on #2444
Would you also like that to be actually tweeted?

[2016-12-28 17:19] lpcarignan commented on #2458
Gigantic face palm

Thx @thymikee

[2016-12-28 17:23] thymikee commented on #2458
Happens :). Have a great time using Jest!

[2016-12-28 18:18] orta commented on #2444
That would be pretty awesome "@orta-test-fails: 'Expected: { a: "thing" } Received: { b: "thing" }'"

Mix that with a markov chain generator, and you've got a funky bot to follow.

[2016-12-28 21:26] queso commented on #1305
Is there another issue tracking the changes? Has this already been done?

[2016-12-29 00:38] thisissami commented on #2441
@thymikee  How is this a duplicate of #2166? In this scenario, `console.log` outputs nothing at all. I'm having this issue with Node v4. The frustrating thing is that it was working fine earlier today, and with 0 changes to my environment, I don't get any more `console.log` outputs to my terminal.

[2016-12-29 00:45] cpojer commented on #2441
@thisissami it seems like your test or code isn't running then. Jest's test suite passes on node 4 and node 6 which makes sure console printing works fine and we are working on a fix for 7.3.

[2016-12-29 00:54] thisissami commented on #2441
@cpojer - My tests run/fail properly - just `console.log` messages do not show up.

[2016-12-29 00:56] cpojer commented on #2441
If it was working earlier today for you and isn't any more, you must have made an update or broken something yourself. We didn't publish a Jest release in two weeks.

[2016-12-29 01:00] thisissami commented on #2441
ok so the only thing that's changed in my test code is that i've added a multiline comment after the code that's supposed to run (as a reference for myself). I'll see if removing that makes a difference.

[2016-12-29 01:06] thisissami commented on #2441
@cpojer I don't know what to say, I don't see anything wrong in my test code but nothing is being outputted to stdout:

[code]

The test fails, as expected, so I know it's working. My config in `package.json` is really simple, solely:

[code]
Jest ran totally normally, no extra flags attached. Same issue with Jest v17 & 18.

[2016-12-29 01:09] thisissami commented on #2441
I haven't changed any files other than this one in the entire afternoon. I've just been getting to understand how `enzyme` works by outputting various things to `stdout`, and after beginning to add in some `expects`, the `console.logs` stopped working when I needed them again, and now they don't work at all - no matter what I have in the test. I haven't changed anything in my environment either (b

[2016-12-29 01:10] cpojer commented on #2441
It seems like you updated to node 7.3. We have some fixes up for that. Please note this issue tracker is not a help forum; use stackoverflow for questions :)

[2016-12-29 01:12] thisissami commented on #2441
I am using node v4.4.7, and as far as I'm concerned - not having anything show up to stdout when using `console.log` is an issue. I'm not trying to get help with coding, I'm reporting what appears to be a bug to me. The only other thing that's changed is that I had multiple test files running before, and now only one. let me see if re-enabling the other tests makes `console.log` outputs appear aga

[2016-12-29 01:25] cpojer commented on #2450
Got a fix for this: https://github.com/facebook/jest/pull/2464 will publish 18.1

[2016-12-29 01:26] cpojer commented on #2450
@thymikee these are actually separate issues!

[2016-12-29 01:27] thisissami commented on #2441
@cpojer Fairly certain you guys have a bug here.

Having 3 tests run (as in 3 different files with `.test.js`), 2 of those files being examples from your tutorials works without issue. My test (copied above) renders all the console.logs.

Having just 1 test run (AKA me renaming `.test.js` to `.teast.js` on 2 of the files) results in no console.log outputs being rendered.

I'm gonna keep running a

[2016-12-29 01:28] cpojer commented on #2441
The test suite of Jest tests this behavior on node 4, node 6 and node 7.3. It works for 4 and 6 but was broken in 7.3. I'm fixing this for node 7.3 and will publish a new release of Jest shortly: https://github.com/facebook/jest/pull/2464

If Jest's own test suite using node 4 fails for you, then something is likely wrong with your setup.

[2016-12-29 01:33] thisissami commented on #2441
Cloning the repository and giving it a try now.

[2016-12-29 01:57] thisissami commented on #2441
Everything passed except for these 3 tests. Not sure what implications that might have. You have all the info of what the errors related to console.log that I'm having are, as well as the image below. If that isn't a bug in jest, then so be it. Seems weird to me though that doing nothing but following the guides would result in a scenario where I can't see my logs when only running one test file.

[2016-12-29 01:59] cpojer commented on #2441
These just indicate you don't have mercurial (hg) installed, unrelated to your issue. It seems like the test suite passes for you and as said; we explicitly test for the logging behavior in the test suite so it must be something going wrong with your code or setup.

[2016-12-29 02:04] thisissami commented on #2441
Ok cool - thanks for your feedback. Do you have any inkling as to what could be causing it to work when there are multiple files but not when there is only 1? If there's no obvious "oh this sometimes causes an issue like that" that comes to your mind - no worries, I'll just ensure that there's always at least 2 files running. :)

[2016-12-29 07:29] thymikee commented on #2450
Yeah, sorry for missing this :/

[2016-12-29 16:09] MattCopenhaver commented on #2090
@cpojer @thymikee @hkrutzer It doesn't look like there was a PR created for this, correct?  Is this still something you think we should add?

[2016-12-29 16:32] thymikee commented on #2090
@MattCopenhaver you're right, there was no PR on this topic

[2016-12-29 19:25] thymikee commented on #2455
Hey @benweissmann thanks for catching this!
I've just opened a PR with a fix proposition, we'll see how it goes ;)

[2016-12-29 20:18] thymikee commented on #2353
Use [`"resetMocks": true`](http://facebook.github.io/jest/docs/configuration.html#resetmocks-boolean) if you'd like to reset your mocks before every test. Does it help?

[2016-12-29 21:16] randycoulman opened #2468 "Why was context removed in a point release?"
**Do you want to request a *feature* or report a *bug*?**

Question/Feature

**What is the current behavior?**

I have a test suite that was working fine with Jest 18.0.  When I upgraded to Jest 18.1, many of my tests started failing with the message, "ReferenceError: context is not defined".

It appears that `context` was removed as a synonym of `describe` in #2384, but no reasoning was given the

[2016-12-29 23:26] sontek opened #2470 "Jest is giving exit 0 (success) with failing tests:"
Run my tests:

[code]

You can see they fail but I have exit 0.

Here is what I'm running:

[code]

and

[code]

[2016-12-29 23:31] jlongster opened #2471 "Provide a --simple-output option"
**Do you want to request a *feature* or report a *bug*?**

A feature!

**What is the current behavior?**

Currently Jest (as do many modern CLI tools) outputs fancy text to the terminal for a better experience. This does things like only painting part of the terminal, colors, and other stuff like that.

The problem is if you get too fancy you break interop with all other unix tools. For example, d

[2016-12-29 23:33] sontek commented on #2470
Using `bail: True` does make it fail though but not really a long term solution since you only get 1 failure at a time.

[code]

[2016-12-29 23:40] sontek commented on #2470
This was actually caused by the teamcity test result reporter

[2016-12-29 23:44] sontek commented on #2470
I'm going to keep this open for now, looking at their code they don't short circuit anything, so it should be falling back to jest code for the exit code:

https://github.com/winterbe/jest-teamcity-reporter/blob/master/index.js

[2016-12-29 23:51] userpixel commented on #2353
I tried

[code]

in my `package.json` (no `--config <path/to/json>`) and removed the `unmock()` workaround from my tests, but the mocks seem to be still applying. I'll give it another try later.

-

Assuming `resetMocks` works as expected:

- [ ] At least the [API reference](http://facebook.github.io/jest/docs/api.html) should mention `unmock()` with more details
- [ ] The [manual-mock](http://fac

[2016-12-30 01:10] cpojer commented on #2468
Context was controversial when it was added in #1632. We are currently rewriting the documentation of Jest and were analyzing the globals we add and realized context was almost entirely unused so we decided to remove this alias again. If you'd like to bring it back, you can do `global.context = describe` in a `setupTestFrameworkScriptFile` setting.

As to why this happened in a minor, here is what

[2016-12-30 01:10] #2468 closed

[2016-12-30 01:11] cpojer commented on #2090
Feel free to send us one! :)

[2016-12-30 01:13] #2470 closed

[2016-12-30 01:26] lucasconstantino commented on #2059
This is some huge drawback for me :( Trying to find a way to circumvent this properly...

[2016-12-30 01:29] MattCopenhaver commented on #2090
Planning on it - but since this will be my first time contributing here, it might take some time.

[2016-12-30 01:32] cpojer commented on #2090
Feel free to join us on discord if you'd like to discuss anything! http://facebook.github.io/jest/support.html

[2016-12-30 01:49] lpcarignan commented on #1466
@avanderhoorn You code sample in `jest.preprocessor.js` saved me. I was also doing React in Typescript => Babel => Jest. It never occured to me that `babel.process()` would check the file extension. I was passing the original path with the .tsx extension and Babel didn't do anything.

The following lines solved my problem:

    // update the path so babel can try and process the output
    path =

[2016-12-30 01:51] orta commented on #2183
This is done 👍

[2016-12-30 01:51] #2183 closed

[2016-12-30 02:59] CodinCat commented on #770
Same problem here.., my babelrc is exactly the same

[code]

and I've installed everything mentioned in docs

"devDependencies": {
    "babel-jest": "^18.0.0",
    "babel-polyfill": "^6.20.0",
    "jest": "^18.1.0"
  },

keep getting this error `Unexpected token import`, still don't know how to solve it

[2016-12-30 04:09] avanderhoorn commented on #1466
Ya that stumped me as well... I ended up splunking through the code with a bunch of console.logs and I figured that one out, hence part of the reason for the comment. Really glad it helped someone else.

[2016-12-30 05:08] faceyspacey commented on #2235
+1 -- async consistency between `describe` and `it` is the best DX. using `beforeEach` or `beforeAll` to assign to a variable in the outer closure is sub-optimal.

Basically `beforeAll` becomes superfluous if you `describe` supports async and the result is way cleaner code. For example, a common pattern for react + redux apps is to to setup the store ahead of time using `beforeAll`, but ideally it

[2016-12-30 05:38] faceyspacey commented on #1411
@cpojer any word on the status of a selector API? ...it seems that you could get very far (80%) with a simple `find` method that selects by className and element type, and done.

[2016-12-30 06:14] faceyspacey commented on #2197
is it just me or wouldn't a diffing app solve a lot of the problems here? The biggest problem seems to be you're scrolling your terminal. That is, unless you want to commit the updated snapshots, and then compare using standard git diffing tools. The downside of that being that most of the time you're going to want to rollback your repository to the point before you abused it to to compare snapsho

[2016-12-30 07:43] faceyspacey commented on #2197
A DISTILLATION OF THE CORE CONCEPTS:

- source maps mapping snapshots to code
- react devtools style association of redux state to components
- association of the action that triggered the state
- redux devtools style time traveling of your snapshots (and associated "lenses")
- git history style time traveling of commits (and associated snapshots + other "lenses")

Basically to picture this in you

[2016-12-30 07:44] thymikee commented on #2471
@jlongster thanks for adding this issue. Something similar was already discussed here: #2292 and there's also a temporary solution: https://github.com/facebook/jest/issues/2292#issuecomment-266610605 while we don't have `--simple-output` or `--no-interactive` or `--no-status`

[2016-12-30 08:21] stevenbenisek opened #2472 "CLI arguments are not passed along when loading config from file"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

CLI arguments are not passed along when loading config from file:

`loadFromFile` accepts a second argument `argv`:
[https://github.com/facebook/jest/blob/master/packages/jest-config/src/loadFromFile.js#L17](https://github.com/facebook/jest/blob/master/packages/jest-config/src/loadFromFile.js#L17)

w

[2016-12-30 09:04] thymikee commented on #2472
Thank you, nice catch!
@cpojer do you think we we need a test for that, or maybe it will be sufficient to add typings to `loadFromFile` and make second argument mandatory?

[2016-12-30 09:06] thymikee commented on #2472
Let's move the discussion to related PR

[2016-12-30 09:06] #2472 closed

[2016-12-30 13:51] MicheleBertoli opened #2475 "Enable manual mocks with nested folders"
I know that previous issues around this topic [have](https://github.com/facebook/jest/issues/226) [been](https://github.com/facebook/jest/issues/462) [closed](https://github.com/facebook/jest/issues/1774) but I spent some time [investigating](https://github.com/facebook/jest/pull/2474) (mainly to learn something new).
I found out that tweaking the value returned from [getMockName](https://github.c

[2016-12-30 14:44] SteinarArnason opened #2477 "Multiple test cases per test"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the expected behavior?**
Add a way to set up multiple test cases for a single test (Similiar to the [TestCaseAttribute in NUnit](https://github.com/nunit/docs/wiki/TestCase-Attribute)).

given the function:
[code]
Example 1:
[code]
Example 2:
[code]

The examples above are just two different examples of how I imagine the

[2016-12-30 14:47] thymikee commented on #2397
Moving the discussion to related PR

[2016-12-30 14:47] #2397 closed

[2016-12-30 14:55] randycoulman commented on #2468
@cpojer Thanks for the response.  First, let me apologize for the tone of my original issue.  I didn't spend enough time on it, and it came across sounding much harsher than I intended.  I'm also sorry that you had to give up some vacation time to deal with an issue caused by someone else's change.  I really appreciate the work you all have done on this project.  It's because of that work that I'm

[2016-12-30 15:07] jlongster commented on #2471
Cool,thanks! While `CI=true` seems to remove the summary output at the bottom, it still does not interact well with `less` or `grep`. I'm wondering if it's using a different type of newline or something.

[2016-12-30 15:16] thymikee commented on #2471
As a workaround you can redirect stderr (which holds results) to stdout
[code]

But having --no-status, or --no-interactive would still be great to have

[2016-12-30 15:39] cpojer commented on #2477
[code]

I don't think it is necessary to add an API for this specifically. You can build it yourself based on the above construct.

[2016-12-30 15:39] #2477 closed

[2016-12-30 15:39] cpojer commented on #2468
Thanks for your response. ❤️

[2016-12-30 15:53] cpojer commented on #2475
I think I'd be supportive of such a change. This would be for dependencies in node_modules specifically, right?

[2016-12-30 15:56] jlongster opened #2478 "Snapshotted strings are randomly escaped/unescaped"
**Do you want to request a *feature* or report a *bug*?**

A bug!

**What is the current behavior?**

I have a large amount of tests that use snapshot testing for raw strings. These strings contain a number of quotes (single and double). Here's a simple test:

[code]

The output is this (correctly):

[code]

However, there have been times where the quotes are not escaped, which works fine too beca

[2016-12-30 15:57] thymikee commented on #2478
Is this the same problem? https://github.com/facebook/jest/issues/1789

[2016-12-30 15:58] cpojer commented on #2478
Yes it is. Unfortunately it seems like we need to define better escaping rules. Now that pretty-format is merged into Jest, we can potentially make this happen if somebody wants to work on it.

[2016-12-30 15:58] #2478 closed

[2016-12-30 16:00] vjeux commented on #1789
This is also affecting @pieterv and myself if that's of any use :)

[2016-12-30 16:01] cpojer commented on #1789
@vjeux it's not, but thanks! Can you fix it? :)

[2016-12-30 16:35] jlongster commented on #2471
Ah nice, thanks! I thought everything was piped to stdout because the `--useStderr` option exists.

[2016-12-30 16:48] jlongster commented on #1789
When does this happen? I'm curious. That means if I remove all of my snapshots and re-generate them, it should never happen again right? How did unescaped snapshots get created in the first place when there wasn't a snapshot to read from?

Thanks for explaining!

[2016-12-30 16:51] cpojer commented on #1789
@jlongster when a snapshot file is written (either through -u or a new `toMatchSnapshot` call), we take all of the values passed to `expect` and call `pretty-format` on them and write a completely new snapshot file. When a test is disabled, we don't have the generated value so we use pretty-printed string from the snapshot file, which is what is causing the problem here. @vjeux is actually investi

[2016-12-30 18:05] konsumer opened #2479 "Verbose JSON output should include hierarchy of describe and test/it names"
**What is the current behavior?**

Currently, jest doesn't seem to be outputting `summary` with my tests (they are all empty strings,) which I assume would include the text in `describe()` calls. I made [this](http://codepen.io/konsumer/pen/ObKBWO?editors=0010) to illustrate.

The command I called to get the json was `jest --coverage --json --outputFile=tests.json` I tried it with `--verbose` and

[2016-12-30 18:06] soardex opened #2480 "React.createElement type should not be null."
[code]

Hi guys, got a problem regarding using Jest + Typescript.

File `Home.tsx`
[code]

This is my `Home-test.tsx`
[code]

[2016-12-30 18:14] konsumer commented on #2479
The tested code is written with mithril, and the HTML report on codepen is in React. I'm happy to make it simpler, if there's too much stuff going on in demo.

[2016-12-30 18:16] cpojer commented on #2480
This is not a help forum! Please ask questions on Stackoverflow. Thank you.

[2016-12-30 18:16] #2480 closed

[2016-12-30 18:18] cpojer commented on #2479
The description should be in `title`, not in `summary`. I'm unsure what the summary field from Jasmine is supposed to be.

[2016-12-30 18:37] konsumer commented on #2479
@cpojer there is no `title` field [at that level](https://gist.github.com/konsumer/6f2a42da1a239b4e474bdd6a3688c4e5#file-tests-json-L27-L34).

[2016-12-30 22:26] faceyspacey commented on #2235
@cpojer can you provide me some quick direction (maybe just a list of relevant file names and functions) to look at to make describe async? Any other pitfalls you're aware of would be much appreciated.

[2016-12-30 23:38] cannoneyed commented on #2158
@thymikee I'm actually interested in addressing this as well - we'd like to create some "integration" tests of a decorator-based redux interface with components, very similar to how [apollo](https://github.com/apollostack/react-apollo/blob/master/test/react-web/client/graphql/queries.test.tsx#L99-L118) is doing it. (I say "integration" in quotes because I'm not interested in testing the API or act

[2016-12-31 03:27] gpminsuk commented on #2208
More neat solution

Create __mocks__ folder next to __tests__ and create native-react.js

`const rn = require('react-native')
rn.Linking = {
    addEventListener: jest.fn(),
    removeEventListener: jest.fn(),
    openURL: jest.fn(),
    canOpenURL: jest.fn(),
    getInitialURL: jest.fn(),
  }

module.exports = rn`

[2016-12-31 03:42] gpminsuk commented on #2208
Cleaner solution using \_\_mocks\_\_
Create \_\_mocks\_\_ directory next to \_\_tests\_\_ and place react-native.js with
[code]

[2016-12-31 07:14] MicheleBertoli commented on #2475
Thanks @cpojer.
As far as I understand, it applies to all the manual mocks.
I'm going to put a PR in a few minutes.

[2016-12-31 21:15] jambonrose opened #2484 "Question: Configuring jsdom for Jest"
I tried Jest in January of 2016, and have just picked it up for a new React+Redux project (following the strong recommendation in [create-react-app](https://github.com/facebookincubator/create-react-app)). The developer experience is radically different. Congrats on really amazing progress. 👏

I have a question with regards to interacting with jsdom. I'm currently trying to test a React component.

[2016-12-31 22:47] MoeSattler opened #2485 "Run jest with --harmony"
Is it possible to run jest with `--harmony`?
I use jest to test a node.js server, which uses async/await. It runs all fine with the harmony flag.
Jest doesn't though (it seems to utilise node without `--harmony` flag), it trips over async functions.

I don't want to introduce any form of transpiling (especially not just for jest), so I was wondering if I could force jest to use the `--harmony` fla

[2017-01-01 04:02] faceyspacey opened #2487 "passing a component factory to a function in another file that renders it does not render actual component"
The following does not render the actual component:

test.js:
[code]

snap.js:
[code]

It renders:

[code]

So in short, if you call `renderer.create()` on a factory from another file, the snapshot will only contain a component with the name of the variable ("factory" in this case) and the props passed. The children will not make its way into the snapshot.

I'm using several test helper functions.

[2017-01-01 04:13] faceyspacey commented on #2487
well, I found the solution (or "workaround" depending on how you want to look at it). the variable `factory` must be upper case first, i.e. the code should be `renderer.create(<Factory {...props} />)` and it works.

I guess that's too be expected given how React works with your own components needing to be upper case. I'm not fully sure if that's the case in actual application code though. I'm pre

[2017-01-01 04:13] #2487 closed

[2017-01-01 14:39] kanekotic opened #2488 "`SyntaxError: Unexpected reserved word` when using nativeBase"
**Do you want to request a *feature* or report a *bug*?**
Bug report

**What is the current behavior?**
jest fails to run test on react component when using nativeBase with
[code]
this is on the import line :
[code]
i am not sure what is being taken there as a reserved word (remove the line will actually solve remove the specific error).

**If the current behavior is a bug, please provide the step

[2017-01-02 04:10] Daniel15 opened #2489 "Error message when comparing Immutable-js collection to array is confusing"
**Do you want to request a *feature* or report a *bug*?**
Enhancement request (so feature, I guess?)

**What is the current behavior?**
Given a test like this:
[code]

The failure message is a bit confusing:
[code]

**What is the expected behavior?**
Maybe something like this:
[code]

Or this:
[code]

**Please provide your exact Jest configuration and mention your Jest, node, yarn/npm version and

[2017-01-02 04:19] chrbala opened #2490 "NODE_PATH requires multiple times for different routes to the same file"
Hi - first I'd like to thank the Jest team for their hard work over the last year. I used Jest last winter and switched to AVA due to challenges that have thankfully since been fixed. My AVA suite was taking FOREVER (130 seconds) to run about 100 simple tests and was slowing my computer down to the point where I'd do something else when I had to rerun all the tests. I switched back to Jest with je

[2017-01-02 04:48] lyleg commented on #2485
I've read elsewhere that jest already runs with harmony enabled. However, I'm having the same issue using async / await on node 7.  I've been able to work around the issue by using
 `node --harmony ./node_modules/.bin/jest`

[2017-01-02 09:45] MoeSattler commented on #2485
That did the trick!

[2017-01-02 09:45] #2485 closed

[2017-01-02 13:43] JeroenNelen commented on #2208
Any update on this? I was using this workaround:
`
"jest": {
    "preset": "react-native",
    "setupFiles": [
      "jest/setup.js"
    ],
    "collectCoverage": true,
    "verbose": true
  },
`

But since updating all my packages to the latest versions today, Jest keeps giving this error:
`Error: Jest: Module "jest/setup.js" in the "setupFiles" option was not found.`

Any clue why it can no long

[2017-01-02 15:19] Spy-Seth commented on #2116
Adding the `"resetMocks": true` configuration allow me reproduce the buggy behavior in my application.

[2017-01-02 22:07] thymikee commented on #2489
We could definitely create a `pretty-format` plugin for that

[2017-01-02 22:10] thymikee commented on #2353
Feel free to submit a PR with proper changes to the documentation 😀. Make sure you check the `new-docs` branch and target your changes there if necessary.
Closing.

[2017-01-02 22:10] #2353 closed

[2017-01-02 22:14] thymikee commented on #2490
Have you tried [`modulePaths`](http://facebook.github.io/jest/docs/configuration.html#modulepaths-array-string)?

[2017-01-02 22:34] thymikee commented on #2488
You're probably using Node 4. On Node 6 & 7 Babel supports better errors for this kind of issues:
[code]

Not sure how we can fix this.
cc: @cpojer

[2017-01-03 00:03] kanekotic commented on #2488
yes I was in 4.0 i have updated and got your same issue, i will update the first post, thanks :)

[2017-01-03 01:37] tomsarduy commented on #2257
Guys, happy new year, still can't use `toMatchObject()` :/

[2017-01-03 02:19] monolithed opened #2492 "npm WARN marked-terminal@1.7.0 requires a peer of marked@^0.3.3 but none was installed."
[code]

[code]

It seems you had better add such dependencies to your package.json

[2017-01-03 09:40] thymikee commented on #2116
Yeah, so `resetMocks` and `jest.resetAllMocks()` works this way now, that it wipes all mocks data. Here's a relevant issue to bring back `jest.clearAllMocks()` back to Jest.

[2017-01-03 09:46] userpixel commented on #2353
Will do 👍

[2017-01-03 09:47] thymikee commented on #2353
Theres also this issue https://github.com/facebook/jest/issues/2134 which discuss bringing back `clearMocks` which you might also be interested in

[2017-01-03 12:34] MoOx commented on #1767
I got this issue with a new laptop, I just installed node + my project + yarn install + jest --watch and got the issue. I had to install watchman to "fix" this. Maybe it's related to the fact that yarn does not link all node_modules/.bin of submodules like npm does?

[2017-01-03 12:37] MoeSattler commented on #1767
I had jest running on other projects fine, though ran in to this issue with an immediately ejected create-react-app.
`brew install watchman` fixed it though.

[2017-01-03 13:26] gaearon commented on #1767
@MoOx Unfortunately at this point I don’t think we’ll figure out the root until somebody who has the issue takes the time to figure out what is happening (e.g. you could put console logs in Jest sources and its Node-based watcher).

[2017-01-03 13:50] Marcsimm opened #2493 "jest test fail because import file is missing in circle ci"
Hi i'm using jest to test my react components and i works good and circle ci on github. But I have a test that imports a file named webpack.assets.json that does not exit in circle ci so the tests fail. How do i create a fake mock file to serve as the webpack.assets.json when the test is running in circle ci? webpack.assets.json is generated by webpack.

ERROR

`Cannot find module '../../../webpac

[2017-01-03 15:22] yoavniran commented on #2463
any takers?

[2017-01-03 15:26] thymikee commented on #2463
Let's wait for @cpojer or @dmitriiabramov to leave a comment on the topic.

[2017-01-03 16:04] cpojer commented on #2493
See https://github.com/facebook/jest/issues/2461

[2017-01-03 16:04] #2493 closed

[2017-01-03 16:07] cpojer commented on #2257
Please upgrade to Jest 18.

[2017-01-03 16:19] cpojer commented on #2492
This seems like a problem with a transitive dependency, not something we can do anything about. If you upgrade to npm3/4 this should go away.

[2017-01-03 16:19] #2492 closed

[2017-01-03 16:30] cpojer commented on #2463
yeah this looks like a bug and it would be good to create a failing test for it.

[2017-01-03 16:31] cpojer commented on #2475
Closing this in favor of the PR (I'll get to it next week).

[2017-01-03 16:31] #2475 closed

[2017-01-03 16:32] cpojer commented on #2235
This is inside of jest-jasmine2, inside of the vendor folder directly inside of Jasmine. As we are hoping to move away from Jasmine, feel free to try to rewrite this and send a PR :)

[2017-01-03 16:35] cpojer commented on #1411
No, it hasn't been worked on yet. I think @aweary was looking into it though!

[2017-01-03 16:38] cpojer commented on #2436
Actually this was a different issue and we fixed it in 18.1.

[2017-01-03 16:47] tomsarduy commented on #2257
Guys, but I think a good idea would be to add *require Jest 18+* to Asymmetric Jest Matchers section in the docs, I spent like 1 hour trying to make it work.

[2017-01-03 16:49] cpojer commented on #2257
yes, we'll do this going forward.

[2017-01-03 17:42] thymikee commented on #2484
Currently there's no way to do it. #2460 is related, but there's no guaranty it will be implemented. Although we could add a `"jsdomConfig": {}` option in configuration, which would allow to do just that. Feel welcome to send a PR on this if you like :).

Related files I can think of:
* https://github.com/facebook/jest/blob/master/packages/jest-environment-jsdom/src/index.js#L29
* whole https://gi

[2017-01-03 17:42] #2484 closed

[2017-01-03 18:31] thymikee commented on #2167
@migomipo have you managed to solve it?
Anyway I think this is related to `mongoose`/`mockgoose` and there's little we can do about it.

[2017-01-03 20:18] AlexJuarez commented on #2436
Just ran into this issue with node 7.3 + jest 17.1 upgrading to jest 18 fixed the issue for me.

[2017-01-04 02:12] aweary commented on #1411
@cpojer @faceyspacey there is pending work (https://github.com/facebook/react/pull/7516, https://github.com/facebook/react/pull/7409) that does a lot of the work, we just need to get around to deciding if its the right approach and getting it merged

[2017-01-04 06:49] rogeliog commented on #2488
It seems that Jest is not transforming `native-base`. The React Native tutorial in the Jest website has a section about [transformIgnorePatterns customization](https://facebook.github.io/jest/docs/tutorial-react-native.html#transformignorepatterns-customization), which might be helpful

[2017-01-04 07:03] thymikee commented on #2488
Thank you @rogeliog!

[2017-01-04 07:03] #2488 closed

[2017-01-04 07:38] yoavniran commented on #2463
should I create a PR for this?

[2017-01-04 07:43] thymikee commented on #2463
Yes please! :smile:

[2017-01-04 07:50] Jacse commented on #1986
I'm having the same problems on node `6.9.3` and npm `3.10.10`. Only testing one simple file:

[code]

[code]

46 seconds is outrageous. I have already tried nuking `node_modules` but no cigar. I am not using `babel-jest`. On `Windows 10 x64` and using `Jest 18`.

[2017-01-04 07:52] Jacse commented on #1986
Consequent runs take ~7 seconds:
[code]

[2017-01-04 07:57] MoOx commented on #1767
Actually I can reproduce as soon as I uninstall watchman. Can somebody point me to the right direction so I can add some logs and paste those here?

[2017-01-04 07:59] romansemko commented on #1893
See my comment in tmpvar/jsdom#1682 : the memory leak in jsdom only happens when window.close() is called synchronously after jsdom.jsdom() I see two options here:

1. To try fixing jsdom. There is obviously something asynchronous happening in jsdom.jsdom. This leads to a reference of the window being held beyond the window.close() call.
2. Try fixing jest-envirnment-jsdom. If it is rewritten to r

[2017-01-04 08:25] yoavniran commented on #2463
cool, will do. is there a getting-started doc for PRs? how to set up the test environment , etc?

[2017-01-04 08:27] thymikee commented on #2463
There's a CONTRIBUTING.md file in the repo, which should point you in the right direction. For the repository and check it out

[2017-01-04 08:35] yoavniran commented on #2463
' over " & spaces over tabs... ouch! 😉

[2017-01-04 09:55] thymikee commented on #2248
Closing due to inactivity. But happy to reopen when provided a reproduction of the issue.

[2017-01-04 09:55] #2248 closed

[2017-01-04 09:56] thymikee commented on #2225
This was resolved with https://github.com/facebook/jest/pull/2337

[2017-01-04 09:56] #2225 closed

[2017-01-04 10:02] thymikee opened #2496 "Improve and separate validation from normalisation in jest-config"
**Do you want to request a *feature* or report a *bug*?**

Feature / Refactor

**What is the current behavior?**

This came up while working on #2494 and #2228.
In `jest-config` some options are validated in `normalize.js` and some are not. This results in many really lousy error messages when something is not right with the configuration.

**What is the plan?**
* Separate concerns of normalising

[2017-01-04 11:14] gaearon commented on #1767
I think that without watchman Jest falls back to [Node crawler](https://github.com/facebook/jest/blob/master/packages/jest-haste-map/src/crawlers/node.js). Something in Sierra might've broken it. So maybe worth putting some logs there.

[2017-01-04 12:49] tijs commented on #2365
@hramos where can i currently find the 'new' guides for react-native and babel setup? i've spent rather too long getting jest to work for a react-native build as the docs (as linked from the homepage) do not seem to reflect the current situation for an updated (0.39) React Native project.

[2017-01-04 12:50] thymikee commented on #2365
@tijs checkout the `new-docs` branch.

[2017-01-04 12:59] tijs commented on #2365
@thymikee thanks! the react-native setup outlined there seems the same as the current docs though? https://github.com/facebook/jest/blob/new-docs/docs/TutorialReactNative.md

[code]

I'm using the preset there as outlined in the docs but i can only get my tests to run when i add a custom .babelrc which adds some presets. which in turn breaks your build so i now have to resort to different presets

[2017-01-04 13:20] thymikee commented on #2365
Have you tried setting [transformIgnorePatterns](http://facebook.github.io/jest/docs/tutorial-react-native.html#transformignorepatterns-customization)?

[2017-01-04 13:28] lithin opened #2497 "Separate implementation of jest-snapshot"
**Do you want to request a *feature* or report a *bug*?**
Feature/enhancement

**Problem**
Having implemented `jest-snapshots` in [Ava](https://github.com/avajs/ava), it seems that a bit more work could be done on separating snapshots into their own package. Three main issues I've ran into are:

- When a snapshot comparison fails, jest returns a whole message which makes it difficult to tie in wit

[2017-01-04 13:33] tijs commented on #2365
not sure what i should be ignoring? on android when i setup jest as above the first error i get as the app bundle loads is `error unknown named module: 'object-assign'`. Which seems to indicate that react-native failed to transform the js code. strangely this is not and issue for iOS which works fine as long as i run my tests with the alternate BABEL_ENV presets. did not mean to hijack this issue

[2017-01-04 13:35] tijs commented on #2365
@thymikee just to be sure; this example is also outdated right? the jest-react-native preset used there should now be just react-native and it's no longer needed to install the jest-react-native package as far as i can tell? https://github.com/facebook/jest/blob/master/examples/react-native/package.json

[2017-01-04 13:35] faceyspacey commented on #2193
@alleycat-at-git one technique you may like it is mocking `call` and even though you can't get a direct handle on it, if you snapshot what its arguments during a test, the snapshot will be assigned to the proper test, i.e. like this:

[code]

...I also am looking for more control than that, i.e. to be able to get access to those exact args for more precise tests. If `jest.mock` allowed you to pass

[2017-01-04 13:47] thymikee commented on #2365
Yes, there's a note on the beginning about deprecating `jest-react-native` but it's present throughout the tutorial. @hramos we need to address that.

To ignoring: by default whole `node_modules` directory is not transformed for react-native (ignored). In the docs, there's a regular expression which tells to ignore all paths that are inside node_modules but `react-native` or `my-project` or `react

[2017-01-04 14:25] tijs commented on #2365
Yeah would cause less confusion especially as the tutorials call it the NEW jest which it turns out is already the old jest again :)

for ignoring: isn't ignoring react-native (so it does get transformed) exactly what the preset already does? If i do not add my own ignore rules the react-native code transforms fine (as the preset takes care of that). But it's not enough to test my react-native pro

[2017-01-04 14:43] thymikee commented on #2365
Sadly I don't have that knowledge about `react-native`. But looking at their [package.json](https://github.com/facebook/react-native/blob/master/package.json#L41) it seems like they ignore lots of `fbjs` files, so I guess it is OK if Babel preset fixes this for you.

If you have any ideas how to improve this tutorial, feel free to send a PR against `new-docs` branch.

[2017-01-04 15:04] thezanke commented on #1767
Same thing here:

[code]

iterm2 on MacOS Sierra; watchman fixed it.

[2017-01-04 16:25] tijs commented on #2365
@thymikee ok will do. As soon as i figure out a repeatable setup i'll make a PR.

[2017-01-04 17:20] kentaromiura commented on #2496
I've seen this as well, I think the main problem is that the CLI options are overwriting whatever is already normalized because they run after normalization, while the correct beaviour would be:

Parse configuration
Parse CLI (so CLI always override default config)
Normalize

[2017-01-04 17:27] cpojer commented on #2484
I think it makes more sense to expose `global.jsdom = jsdom` or something like it. Also, `require('jsdom')` may just work, no? I'd prefer not to add a config option like this, I think adding `testURL` was a bad design decision on my part early on.

[2017-01-04 17:40] #2228 closed

[2017-01-04 17:43] kentaromiura commented on #2497
For deleting and keeping the state that's what we do in Jest, and it's not as straightforward because there are exception, I remember @dmitriiabramov added some code to catch when one runs a focused test (eg a real case scenario might be while debugging an issue or writing a brand new test) and in that case you don't want to delete all the snapshots.
Also if a test fail you don't want to delete th

[2017-01-04 17:58] mmcgahan opened #2498 "Feature: specify fixed dependency versions in package.json"
Dependencies break, especially in minor version releases (see [`istanbul-lib-instrument`](https://github.com/istanbuljs/babel-plugin-istanbul/issues/78)), but that shouldn't silently break every Jest consumer that re-installs without shrinkwrap.

Because you can't force everyone to use a 'shrinkwrap'-esque npm package managment system, I am strongly in favor of using specific, explicit dependency

[2017-01-04 18:00] cpojer commented on #2498
These things happen from time to time. If you'd like explicit dependencies I encourage you to use Yarn and yarn lockfiles.

The proper fix for issues such as this is for istanbul to also run Jest as part of their integration testing. Maybe file an issue with them to ask about this! :)

[2017-01-04 18:00] #2498 closed

[2017-01-04 19:05] mmcgahan commented on #2498
These things happen from time to time unless versions are pinned. Adding a shrinkwrap/lockfile obviates the issue, but that requires adding a tool to do what could be done simply at the source - the dependency list is objectively over-general. Converting it to be specific would 'avoid a whole class of bugs' as immutable folks like to say :). There will also be cases where even Yarn users will add

[2017-01-04 19:09] cpojer commented on #2498
It's not harsh, I appreciate feedback but I think it is not Jest's job to manage dependencies. I am in favor of auditing all of Jest's dependencies and loosen and tighten version ranges where it makes sense and will welcome a PR that does so but I don't believe exact dependencies are a solution to the problem you were experiencing.

I understand a bad patch release of a transitive dependency can b

[2017-01-04 20:19] hramos commented on #2365
@tijs #2272 is up for grabs if you'd like to take a stab at this.

[2017-01-04 21:34] mattkime commented on #2498
While I agree that its a wider problem with the npm secoystem, its disappointing that this should be considered an acceptable way of dealing with the problem.

[2017-01-04 21:57] iandanforth opened #2501 "Adding --color works but listed as unrecognised"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Running `jest --color` produces

`Unrecognised options: color`

However since the underlying library [supports this flag](https://github.com/chalk/supports-color#info) this actually works.

**What is the expected behavior?**

Either it should fully not work, or not be listed as unrecognized.

[2017-01-04 22:10] cpojer commented on #2498
I'm open to listen to actual workable solutions to this problem and especially pull requests that don't compromise how semver is supposed to work rather than expressing your disappointment.

[2017-01-05 00:24] bcoe commented on #2498
@cpojer @mmcgahan my two cents, what I do with [nyc](https://github.com/istanbuljs/nyc/blob/master/package.json#L128) is use [bundled-dependencies](https://docs.npmjs.com/files/package.json#bundleddependencies);

I shy away from this for [libraries I write with fewer dependencies](https://github.com/yargs/yargs), but it has been my experience with `nyc`, which has about `1,000,000` moving parts (t

[2017-01-05 00:33] cpojer commented on #2498
@bcoe thanks for the perspective, this is much appreciated. I think running `yarn test` inside of the Jest repo *may* have caught this; I guess it shouldn't be too hard to verify.

`bundled-dependencies` is interesting; I wasn't aware it is a thing. I still do want users to receive patch updates for most things, though.

One thing I was planning on doing is to figure out the biggest dependencies o

[2017-01-05 00:33] bcoe commented on #2498
serves me right for playing Fallout New Vegas for three hours last night; one argument I'll put out there, a 6 hour turn around is pretty darn good -- would have been 2 had it not been for super-mutants.

[2017-01-05 00:38] bcoe commented on #2498
@cpojer I like the [citgm](https://github.com/nodejs/citgm) too, and have been thinking of figuring out a way to get a similar suite up and running for `babel-plugin-istanbul`/`nyc`.

[2017-01-05 00:39] cpojer commented on #2498
Ah, I believe the node maintainers said that Jest isn't compatible with citgm because of the monorepo we are using. That seems like something we should figure out so that we don't repeat the node 7.3 + console.log fiasko (OT for this issue).

[2017-01-05 00:40] mmcgahan commented on #2498
@bcoe I need to look into `bundled-dependencies` as well - looks good. And I was definitely happy with the 6 hour turnaround time for the regression fix!

@cpojer depending on how precise you want to get about allowing patch updates, you could keep that available while disallowing minor version updates with `~x.y.z` rather than `^x.y.z`, but that's probably beside the point :)

[2017-01-05 00:43] bcoe commented on #2498
an interesting approach might be taking a highbred approach; bundle some of the bigger riskier dependencies, e.g., babel-plugin-istanbul, istanbul-lib-instrument (these come along with a chunk of the babel ecosystem, so it would be nice for them to come down in a single HTTP request).

[2017-01-05 06:56] akukolu commented on #2167
I ran into a similar issue, but without mockgoose. It seems like mongoose (which uses node-mongodb-native driver) connection timeouts in --watch mode. In my case, all tests initially pass but after several seconds, the watch mode crashes. Here's the stacktrace:

[code]

[2017-01-05 08:27] gaelduplessix opened #2503 "Timers not mocked with node v7.3"
**Do you want to request a *feature* or report a *bug*?**
**BUG**

**What is the current behavior?**
`jest.useFakeTimers()`, doesn't replace global functions with mocks

**Steps**
- using node v7.3:
- `create-react-app test && cd test`
- in `src/App.test.js`, add `jest.useFakeTimers()` at the beginning of the file and `expect(setTimeout).toBeCalledWith(42)` in the test body:
[code]
- Output:
![ima

[2017-01-05 09:28] cpojer commented on #2503
Update to Jest 18.1.

[2017-01-05 09:28] #2503 closed

[2017-01-05 09:47] rubenmoya commented on #1890
@thymikee Hi! I changed the line you said, and added a new test in utils-test.js, but I'm not confident enough and I want to test it manually, how do I do it?

[2017-01-05 09:51] thymikee commented on #1890
@rubenmoya run the test suite and send a PR 👍

[2017-01-05 09:54] rubenmoya commented on #1890
@thymikee I did it, there are 3 test failing, are they related to my changes?

<img width="716" alt="screen shot 2017-01-05 at 10 53 29" src="https://cloud.githubusercontent.com/assets/905225/21676252/3cd005d4-d335-11e6-91f0-a301e403b5f7.png">

[2017-01-05 09:55] thymikee commented on #1890
You need to install `hg`. Read [CONTRIBUTING.md](https://github.com/facebook/jest/blob/master/CONTRIBUTING.md) on how to setup everything.

[2017-01-05 09:55] cpojer commented on #1890
These are unrelated, you can fix them by doing `brew install hg`.

[2017-01-05 11:25] fasibio commented on #2459
I got the same Error  in jest 18.1.0 with react-native 0.40.0 and  react-test-renderer 15.4.1
"jest": {
    "preset": "react-native"
  }
 by Calling scrollTo at the ListView

[2017-01-05 11:34] thymikee commented on #1890
Closing this in favour of PR

[2017-01-05 11:34] #1890 closed

[2017-01-05 12:26] tobiasMeinhardt commented on #2459
@thymikee - as you said, I reposted this issue at the react-native repository:
https://github.com/facebook/react-native/issues/11659

[2017-01-05 12:36] thymikee commented on #2459
Looks like @fasibio found a workaround to this https://github.com/facebook/react-native/issues/11659#issuecomment-270633877

[2017-01-05 14:54] ismay opened #2506 "Match object recursively (toMatchObject)"
The discussion on recursive matching suggested here https://github.com/facebook/jest/issues/1793#issuecomment-250909796 was never continued in the [PR](https://github.com/facebook/jest/pull/1843). As far as I can tell `toMatchObject` does not match recursively, but it would be nice if this was a possibility.

[2017-01-05 15:12] ZachStoltz opened #2507 "Add version dropdown for API Reference"
Hopefully I am not duplicating another open issue, but have ran into this a couple times when referencing back to the API for what assertions I can use.
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
I noticed on the API Reference there is a toMatchObject assertion that I would like to use, but when trying to use it I ran into the version that

[2017-01-05 16:02] tijs commented on #2365
@thymikee @hramos when creating my own simple mock as outlined in a comment to another issues here: https://github.com/facebook/jest/issues/2208#issuecomment-264733133 the default jest setup for react-native with just the react-native preset configured does work correctly. I can now make builds again *and* run my tests. So i could add some troubleshooting tips to the current documentation for reac

[2017-01-05 16:09] kanekotic commented on #2488
to leave it as reference If anyone else gets here the correct setting would be
[code]

[2017-01-05 16:27] cpojer opened #2510 "Document how to install and use the eslint plugin."
See https://github.com/facebook/jest/pull/2509#issuecomment-270687481

[2017-01-05 18:10] dmitriiabramov opened #2511 "Running jest with multiple configs"
add the ability to run Jest with multiple configs.

Example:
  jest --config ios.json --config android.json

the idea is that we run all tests for the configs within a single process and then aggregate the results for all of them in the reporters.

some of the challenges:
  - what do we do with global configurations like `testCoverageDir`, `verbose`, or `watch`?
  - how do we watch files for both

[2017-01-05 18:43] gaearon commented on #1767
Another data point: I just had this issue on Node 6.9.1, switching to 6.3.1 solved it.

[2017-01-05 19:16] Alex-Mann commented on #2441
I am experiencing the same issue, console.log is not outputting for me now (and it previously was about an hour ago). I'm using node 6.9.1 and also enabling the --forceExit flag. When I do not have this flag enabled, the console.log output appears.

However, I have another test script that utilizes the --forceExit flag and console.log appears, so I cannot say that the --forceExit flag is causing t

[2017-01-05 20:26] pedrottimark commented on #2506
@ismay How do these examples adapted from the unit tests for `toMatchObject` compare to your expectations for recursive matching, pardon the pun :)

[code]

[2017-01-05 20:53] pedrottimark commented on #2351
Can submit pull request if y’all agree with the following changes to `findMatchObject` around https://github.com/facebook/jest/blob/master/packages/jest-matchers/src/matchers.js#L618-L637:

* Copy non-enumerable properties of `received` (for example, `$$typeof` if `received` is from react-test-renderer)
* To enumerable keys that are in both `expected` and `received`, add enumerable keys in `receiv

[2017-01-05 22:36] ismay commented on #2506
Maybe I should have worded it differently, but what I mean is it matching:

[code]

In the test you mentioned, even though that's nested under `t`. To me that would be useful when testing if an object needs to contain something but you don't care about where exactly.

[2017-01-06 10:46] anback commented on #583
For all you bright devs coming all the way to the bottom of this thread, in jest 18 the newly introduced flag --forceExit solved this for me. Install latest jest and run jest --help to see info

[2017-01-06 10:49] cpojer commented on #583
@anback Note that use of `--forceExit` is discouraged and means that your tests are not cleaning up resources (like db connections etc.) and cause memory leaks while the test is run. You should use `afterAll` or `afterEach` to disconnect and tear down things.

[2017-01-06 11:14] SteveALee opened #2513 "npm page says "ERROR: No README data found!""
see: https://www.npmjs.com/package/jest

yet I see README.md in master so perhaps your publish process does something odd?

[2017-01-06 13:33] ArtemGovorov commented on #1772
Here's a simple test that hangs jest:

[code]

It actually finishes in ~37 seconds on my machine, seems like producing a huge diff.

[2017-01-06 14:31] orta commented on #2513
I though I had raised this also, but couldn't find it. So will add my thoughts:

This is an issue with the way Lerna works - though it does look like there is a workaround for updating the READMEs on npmjs.com - https://www.npmjs.com/package/lerna-npm-readme-hack

A bunch of the sub-packages don't have READMEs ready to go, but I think with ^ + a bit of elbow grease, they can be 👍

[2017-01-06 15:02] noyobo opened #2516 "How to ignore files on jest watch mode"
**Do you want to request a *feature* or report a *bug*?**

- feature

**What is the current behavior?**

`jest --watch` my tests will create new files on project directory. jest rerun when watch new files. run tests loop ......

I try set `testPathIgnorePatterns` and `testPathDirs`  exclude the new files directory, but same way.

![kapture 2017-01-06 at 22 50 19](https://cloud.githubusercontent.co

[2017-01-06 16:00] orta commented on #2516
Looks like the `coverageDirectory` option should help you there.

I'm also seeing this https://github.com/danger/danger-js/pull/82, so this is how I debugged it  - if you edit your `node_modules` you can make [this function](https://github.com/facebook/jest/blob/master/packages/jest-cli/src/jest.js#L428-L435) console.log what file is triggering the restart

[2017-01-06 16:04] orta commented on #2516
And as I'm interested in specific answers too, my problem was that something was making my fixtures change ( I assume it's the typescript compiler )

![screen shot 2017-01-06 at 11 01 18 am](https://cloud.githubusercontent.com/assets/49038/21723726/8b356262-d3ff-11e6-8422-29a6c3fc3141.png)

I fixed it by doing this in the package.json

[code]

[2017-01-06 16:49] cpojer commented on #2516
This should fix it: https://github.com/facebook/jest/pull/2362

[2017-01-06 17:01] noyobo commented on #2516
[code]

Look at this condition ` !filePath.includes(coverageDirectory)`, the change filepath must includes coverageDirectory.

But  `coverageDirectory` option should output jest coverage files.

I see you use [os.tmpdir()](https://github.com/danger/danger-js/blob/f4febbf48c0fd82215cecd6eecb44ed5d70ed548/source/runner/_tests/DangerRunner.test.ts#L83) to avoid this problem.

[2017-01-06 17:29] xjamundx opened #2517 "Snapshot Update Command Incorrect"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

I run jest with this weird command:

[code]

When I do that and it encounters a snapshot error it returns the following:

[code]

That is not the correct command.

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/j

[2017-01-06 17:30] xjamundx commented on #2517
I can work on repro steps and everything and try to solve this for you at some point, just wanted to log that it was an issue.

[2017-01-06 17:39] yosyad opened #2518 "test failed on import"
Hello,

I am trying to run a simple test on js that include some functions that I am export, and some others that I don't.
for example, here is the structure of my js file:

[code]
and my test file look like:

[code]

due to those files, when I run `npm run test test1` I am get:
[code]

my npm version is 2.15.9, node version is 4.5.0.

can someone tell me what I am doing wrong, or what is the prob

[2017-01-06 17:40] thymikee commented on #2496
How do you like them brand new config errors

<img width="501" alt="screen shot 2017-01-06 at 18 38 41" src="https://cloud.githubusercontent.com/assets/5106466/21727015/79ef7db8-d43f-11e6-8896-4e6db5a6dbde.png">

and warnings?

<img width="631" alt="screen shot 2017-01-06 at 18 38 50" src="https://cloud.githubusercontent.com/assets/5106466/21727016/7a0633dc-d43f-11e6-8e0e-a1fb2b6d0995.png">

[2017-01-06 17:47] thymikee commented on #2517
We use [`npm_lifecycle_event`](https://medium.com/@brianhan/use-this-npm-variable-as-a-flag-for-your-build-scripts-31069f5e2e57#.p7r0m1vz2) to determine that, so I guess npm's issue tracker would be more proper place to put this?

[2017-01-06 17:49] thymikee commented on #2518
It looks like you didn't install `babel-jest`? This would not be a problem if you used npm 3/4 or yarn.

[2017-01-06 17:49] #2518 closed

[2017-01-06 17:49] rogeliog commented on #2518
It is probably because `test1.spec.js` is not getting transpiled, which is why it gives a syntax error with the `import`

Which version of Jest are you using? You can also print the whole config object by running Jest with `--debug`...

Unfortunately that error in Node 4 is not super helpful. See here for more info https://github.com/facebook/jest/issues/2488#issuecomment-270027383

[2017-01-06 17:57] cpojer commented on #2496
wow this is beautiful. Can we extract this into a separate package so that other tools can use this for better errors? I want this everywhere.

Nit: "Option haste must be of type:"

Instead of "Valid example" I recommend just "Example" – I would assume the example is always valid.

[2017-01-06 18:10] thymikee commented on #2496
Sure, I'd like to expose it as `jest-config-validate`, but first of all I'd like to get it working properly with Jest alone.

[2017-01-06 18:11] cpojer commented on #2496
How about `jest-validate`?

[2017-01-06 18:15] xjamundx commented on #2517
Thanks @thymikee I'm not convinced jest is doing the right thing here in using htat.

[2017-01-06 18:17] cpojer commented on #2517
Yeah, I don't think npm is giving us all the information we need to print the accurate version of this.

[2017-01-06 18:26] apieceofbart commented on #1986
Same for me, I'm running [enzyme example repo](https://github.com/facebook/jest/tree/master/examples/enzyme) and it takes 7-10 seconds. The assertions itself takes only 50ms.
I'm running Windows 7, node 6.9.2, npm 3.10.9.
I will try to track it down - any suggestions?

[2017-01-06 18:28] kentcdodds commented on #2517
Why was this issue closed? @xjamundx even said he's willing to work on it. Any reason to close the issue over that? It's pretty disheartening to folks (maybe not @xjamundx who has thick skin) when their issues are closed so quickly like this... Maybe I'm misunderstanding...

[2017-01-06 18:34] liamfd opened #2520 "CancelAnimationFrame not defined, causes issues with react-native and rxjs"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
If you have a test that looks like this:

[code]

Running it will throw this error:

[code]

Which leads to [this section](https://github.com/ReactiveX/rxjs/blob/master/src/util/AnimationFrame.ts#L8) in rxjs:

[code]

As far as I can tell, this throws an error because after importing `'react-native`  `

[2017-01-06 18:45] laggingreflex commented on #1986
@apieceofbart You could start by confirming whether you're getting the same delays as me on breakpoints I mentioned above https://github.com/facebook/jest/issues/1986#issuecomment-256936218

Specially the last one:

`runtime.requireModule(testPath)` here for me took 5s! The problem most likely lies somewhere around here.

[2017-01-06 18:45] thymikee commented on #2517
@kentcdodds hm, I didn't thought it could be disheartening, sorry if you felt this way @xjamundx!

So... while writing this response I realised that I misread the `npm start` thus my logic was flawed.

Reopening this.
@xjamundx if you feel like working on fixing this, if possible, I'm glad to help.

[2017-01-06 19:26] apieceofbart commented on #1986
@laggingreflex  thanks!
It's a bit different in my case.
This line, takes over 3s: https://github.com/facebook/jest/blob/master/packages/jest-cli/src/runTest.js#L32

From there till the end it's similar to your case. I will keep posting other findings.

[2017-01-06 22:15] apieceofbart commented on #1986
@laggingreflex
I can pretty much confirm your comment: https://github.com/facebook/jest/issues/1986#issuecomment-256936218
Most of the time is spent running `_execModule` for every module in `node_modules` (over 2170 files in [enzyme example repo](https://github.com/facebook/jest/tree/master/examples/enzyme)).
This is not the only performance issue but certainly the main problem.

[2017-01-07 08:56] cpojer commented on #1986
@apieceofbart can you try `testEnvironment: "node"` in the config? The 2s overhead is odd; I'm assuming it is because of loading jsdom.

Jest has to read files from disk to load and run them. What you are pointing to are the pieces of code that executes node modules and user code. It may be that your harddrive is very slow or your anti-virus scanner looks at all the node_modules. If you make an ex

[2017-01-07 09:06] cpojer commented on #2520
Thanks for the detailed description. I think what makes the most sense is to add `cancelAnimationFrame` to react-native. If it is present in the real environment but not in the tests, put it in https://github.com/facebook/react-native/blob/master/jest/setup.js – I'm a bit confused as to why `requestAnimationFrame` would be available in Jest but not `cancelAnimationFrame`. Can you find out where it

[2017-01-07 09:06] #2520 closed

[2017-01-07 09:10] cpojer commented on #2517
@kentcdodds Jest is operating under extremely limited resources. We simply cannot keep up on issues. We'd like to keep our bug tracker useful and we aggressively (sometimes too aggressively) close issues if we believe that the team cannot or will not resolve them within the next 3 months or so. We are always happy to keep the discussion going and reopen issues if necessary.

For this issue in part

[2017-01-07 09:22] thymikee commented on #2496
Moving the discussion to related PR

[2017-01-07 09:22] #2496 closed

[2017-01-07 09:54] thymikee commented on #2030
Jest uses `jsdom` to emulate browser env, so if websockets are needed for Firebase to work and they're not covered in the library, this may be problematic (it isn't for Mocha, because it can run in a browser).

You can try to mock the websocket somehow, but it certainly won't work for "real-world" testing you're trying to achieve. Please bump the `jsdom` issue mentioned by @TheAncientGoat.

Closin

[2017-01-07 09:54] #2030 closed

[2017-01-07 09:55] thymikee commented on #1930
Closing this in favour of PR

[2017-01-07 09:55] cpojer commented on #1930
I'll keep this open for now, we may want to discuss this a bit more.

[2017-01-07 09:56] thymikee commented on #1930
Oh, ok, thought we'd do it in a PR

[2017-01-07 09:56] thymikee commented on #2038
@IPWright are you still interested in implementing the feature?
I think @dmitriiabramov could have some input here

[2017-01-07 09:58] cpojer commented on #1930
Sorry, just haven't thought about this myself much yet but I'm thinking this issue may go beyond the PR a bit. We'll see :)

[2017-01-07 10:02] thymikee commented on #2046
@IPWright bump 😄

[2017-01-07 11:36] thymikee commented on #2135
@bmatto have you managed to work this out?

[2017-01-07 11:48] apieceofbart commented on #1986
@cpojer

bingo! This brings creating test env from 2s to 15ms. However this `runtime.reqiureModule` still takes around 2-3s. Also 'jest-runtime' constructor takes almost a second.

I have just bought a new SSD laptop and whitelisted my projects folder in anti-virus scanner (even removing the scan completely) and it doesn't help. Thanks for you concern, I will let you know if find anyhing.

[2017-01-07 11:57] thymikee commented on #2124
Closing this for now, but happy to reopen if you're willing to work on this 😉

[2017-01-07 11:57] #2124 closed

[2017-01-07 11:59] bmatto commented on #2135
@thymikee I was not able to get this working, and have since gone to importing .scss files with their extension.  Not ideal, but not a huge issue either.

[2017-01-07 12:00] thymikee commented on #2135
Thank you for this!

[2017-01-07 12:00] #2135 closed

[2017-01-07 12:20] cpojer commented on #2385
Should be fixed in #2362 by using a new instance of the TestWatcher.

[2017-01-07 12:20] #2385 closed

[2017-01-07 13:33] tjmehta commented on #1930
I plan on following up with the PR today. So let's see where it goes. Sorry
for the delay!
On Sat, Jan 7, 2017 at 1:58 AM Christoph Pojer <notifications@github.com>
wrote:

[2017-01-07 14:15] thymikee commented on #1930
Don't be sorry, thanks!

[2017-01-07 19:12] kentcdodds commented on #2517
Makes sense. Thank you for explaining. Perhaps ya'll could have a [GitHub saved reply](https://github.com/blog/2135-saved-replies) to explain this so it doesn't discourage potential contributors.

[2017-01-07 21:07] rogeliog commented on #2385
@cpojer Wouldn't #2491 still happen after #2362?

[2017-01-08 13:37] alexxv commented on #2208
@JeroenNelen I've managed to workaround this with prepending `<rootDir>`:
[code]

[2017-01-08 18:33] cpojer commented on #2208
In Jest 18.1, doing `./jest-setup.js` will be resolved from the location of package.json.

[2017-01-08 18:46] cpojer opened #2530 "Explain all the ways that Jest can be invoked."
A lot of people ask this question and get confused by it. We should probably have a relatively early guide on "how to run tests" or something like it:

* `jest` runs all tests (default)
* `jest <pattern>` or `jest path/to/test.js` will only run the tests that were specified
* `jest -o` will run tests related to changed files based on hg/git (uncommitted files)
* `jest --findRelatedTests path/to/fi

[2017-01-08 18:52] cpojer commented on #2385
Does it still repro for you? I think it should be fixed (see the comment in watch.js).

[2017-01-08 20:22] #2463 closed

[2017-01-08 22:17] cpojer opened #2534 "Add jest.spyOn"
See https://github.com/facebook/jest/pull/2413/files that adds this to `jest-mock`.

This is a good first bug! Simply add `spyOn` to the bottom of `jest-runtime/src/index.js` just like `fn` is added there too.

[2017-01-08 22:33] #1930 closed

[2017-01-09 02:11] rogeliog commented on #2534
I would love to help on this one :)

[2017-01-09 03:17] liamfd commented on #2520
Hey @cpojer, thanks for getting back on this. I did some digging into this and found some behavior that looked a little strange, and I was wondering if you may be able to provide any insight.

What I've found is that `requestAnimationFrame` and `cancelAnimationFrame` are both defined in in [JSTimers](https://github.com/facebook/react-native/blob/292cc82d0ebc437a6f1cdd2e972b3917b7ee05a4/Libraries/C

[2017-01-09 03:30] timse opened #2538 "ENAMETOOLONG in CI - haste-map generated filenames might be too long"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
i run jest in my CI and it "explodes" with Error: ENAMETOOLONG: name too long, open '/tmp/jest/haste-map--\<some-really-long-filename\>-\<some-fairly-long-hash\>'

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest o

[2017-01-09 03:32] timse commented on #2538
happy to provide a PR
maybe hashing the filename `md5`/`sha` in case the name gets too long?
would kill the ability to identify the cache but at least wouldnt make it explode.
maybe issuing a warning that the name is too long and therefore a hash fallback will be triggered?

[2017-01-09 04:30] liamfd commented on #2520
I've managed to create a smaller example. [In this branch of my repro repo](https://github.com/liamfd/jestRxjsIssue/blob/minimal-example/__tests__/index.android.js) It looks like this:

[code]

[2017-01-09 09:26] FezVrasta commented on #139
My use case for browsers support is to be able that a library I created interacts correctly with different browsers and versions. Right now I have to use Karma + Jasmine, but Jest would be much easier to manage.

[2017-01-09 10:43] Rewieer commented on #2208
Should there be a solution to mock custom components directly in jest ? A flow-typed like repository for example.

[2017-01-09 13:32] cpojer commented on #2208
That might be cool!

[2017-01-09 13:58] #2534 closed

[2017-01-09 17:17] thomas-huston-zocdoc commented on #2048
I ran into this same issue when using [`node-fetch`](https://github.com/bitinn/node-fetch) in some tests. Internally it has an `instanceof Array` check that unexpectedly fails in Jest. For anyone else who may run into this issue, I've [opened a PR](https://github.com/bitinn/node-fetch/pull/220) there switching to `Array.isArray`.

[2017-01-09 17:18] thomashuston commented on #2048
I ran into this same issue when using [`node-fetch`](https://github.com/bitinn/node-fetch) in some tests. Internally it has an `instanceof Array` check that unexpectedly fails in Jest. For anyone else who may run into this issue, I've [opened a PR](https://github.com/bitinn/node-fetch/pull/220) there switching to `Array.isArray`.

[2017-01-09 17:23] suchipi commented on #2048
What if we added transformations for eg. `instanceof Array` to `Array.isArray` to `babel-jest`? For those who aren't aware that jest uses `vm`, this error could be really weird/annoying to debug. Unless that transformation is less intuitive/more dangerous

[2017-01-09 17:59] cpojer commented on #2048
Did you upgrade to Jest 18? This should all work now.

[2017-01-09 18:44] dmitriiabramov commented on #2038
hey @IPWright
unfortunately we can't return anything from a matcher function.
the reason for this is:
1. we allow `it` to return only undefined or a `Promise` and disallow returning anything else
2. Implicit arrow function returns will make any test fails
[code]

I think for your case it's easier to use `jest-snapshot` package directly. you can look at how `toMatchSnapshot` is implemented and repl

[2017-01-09 21:09] thomas-huston-zocdoc commented on #2048
@cpojer I'm still seeing this in Jest 18.1 - reproduced here: https://github.com/thomas-huston-zocdoc/jest-fetch-array-bug

[2017-01-09 21:55] thymikee opened #2545 "Keep Repl.it up-to-date"
Currently Jest installed on [repl.it](https://repl.it/languages/jest) runs on version 17.0.3 instead of 18.1.0.

How do we upgrade that?

[2017-01-10 04:48] amasad commented on #2545
Hey, Everytime we deploy we install latest jest. We hadn't deployed in a while because of the holdiays but generally we deploy once a week.

[2017-01-10 05:41] thymikee commented on #2545
Thank you @amasad!

[2017-01-10 05:41] #2545 closed

[2017-01-10 09:36] IPWright commented on #2046
@thymikee sorry guys - I don't read my Git emails by default (as I get 100's). I've got another issue https://github.com/facebook/jest/issues/2038#issuecomment-271368503 that almost allowed me to do what I wanted, but I abandoned it. I'll see if I've still got the code and resurrect it.

[2017-01-10 09:54] cpojer commented on #2048
Would you mind opening a separate issue for that?

[2017-01-10 10:00] gaelduplessix opened #2546 "All tests are re-run when using --testPathPattern"
When running jest with `--testPathPattern src/.*` or just `jest [pattern]`, all tests are re-run when changing a file, whereas without these options only the relevant tests (related to the file that changed) are run.

I'm not sure if I'm doing it right but this is quite annoying because of [this issue](https://github.com/facebookincubator/create-react-app/issues/544). If there is a better workarou

[2017-01-10 12:40] yoavniran opened #2547 "jest matchers arent exposed to be extended"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**

Im looking into adding my own custom matchers.
for example, to me an obvious missing one is a shortcut for toHaveBeenCalledTimes(1) as toHaveBeenCalledOnce() or just toBeCalledOnce().

I set out to implement it, thinking it would be just a matter of internally calling  toHaveBeenCalledTimes(1)  an

[2017-01-10 12:49] thymikee commented on #2547
Use [`expect.extend`](http://facebook.github.io/jest/docs/api.html#extending-jest-matchers)

[2017-01-10 12:49] #2547 closed

[2017-01-10 13:05] yoavniran commented on #2547
hi @thymikee i think im either missing something or wasnt clear before.

expect.extend is what I used. But all it does is assign new matchers to the internal matchers object.
It doesnt provide a way to call an existing matcher from my custom one.

Am i wrong?

[2017-01-10 13:08] cpojer commented on #2547
I don't think we want to expose the original matchers; they are not supposed to compose. However, we expose a bunch of methods on `this` that you can help to create your own matchers. What functionality are you looking for exactly?

[2017-01-10 13:16] yoavniran commented on #2547
well, i havent gone much beyond the one use-case i mentioned above: being able to shortcut __toHaveBeenCalledTimes(1)__
However, in general I find it useful to have these things extendable/composable as it gives rise to useful and sometimes unexpected use-cases.

Whats the reasoning for not exposing the original matchers? I cant see the harm in having them available if someone wants to wrap or com

[2017-01-10 13:18] cpojer commented on #2547
It basically means we have to maintain a certain API for them when I consider them an implementation detail. I think I'd prefer to compose them like this:

[code]

if you want to customize the output, you can try-catch the expect call.

[2017-01-10 13:30] yoavniran commented on #2547
I thought about that but its not as elegant as id hoped.
the missing part for me is that I cant simply do return ... within my custom matcher.

something like:

[code]

Actually, I'd argue they are already part of the public API - they are exposed (not as raw) on the return value of expect(). Therefore, I dont see it as a big step to also make them available as raw matchers.

[2017-01-10 13:51] Hemko opened #2548 "Broken link to .toMatchSnapshot() (Docs/API Reference)"
Sorry, if this is not the right place to put such type of issues.

Link in the list of methods: https://facebook.github.io/jest/docs/api.html#tomatchsnapshot
(https://github.com/facebook/jest/blob/master/docs/API.md#tomatchsnapshot)

Link to the description: https://facebook.github.io/jest/docs/api.html#tomatchsnapshotstring
(https://github.com/facebook/jest/blob/master/docs/API.md#tomatchsnapshot

[2017-01-10 13:55] cpojer commented on #2547
@dmitriiabramov do you have any thoughts?

[2017-01-10 14:04] thymikee commented on #2548
We're rewriting the docs in `api-docs` branch. Can you check if it's fixed there?

[2017-01-10 14:04] thymikee commented on #2548
And thanks for letting us know!

[2017-01-10 14:38] Hemko commented on #2548
@thymikee
Maybe [new-docs](https://github.com/facebook/jest/tree/new-docs) branch?
I can't find the list of all expect methods [here](https://github.com/facebook/jest/blob/new-docs/docs/ExpectAPI.md) ([like in current documentation](http://facebook.github.io/jest/docs/api.html#writing-assertions-with-expect)).

[2017-01-10 14:43] thymikee commented on #2548
Ah yes, it's `new-docs`, pardon moi.

It's autogenerated, you can see comment here: https://raw.githubusercontent.com/facebook/jest/new-docs/docs/ExpectAPI.md
[code]

Let's assume it's fixed then, since it's built based on headlines and fix this issue.

If it still happens after new docs merge, please let me know and I'll be more than happy to reopen.
Thanks!

[2017-01-10 14:43] #2548 closed

[2017-01-10 14:52] thomashuston opened #2549 "Jest globals differ from Node globals"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
After making a request with Node's `http` package, checking if one of the response headers is an `instanceof Array` fails because the `Array` class used inside `http` seems to differ from the one available in Jest's VM.

I specifically came across this when trying to use `node-fetch` in Jest to verify

[2017-01-10 14:52] thomashuston commented on #2048
You got it! https://github.com/facebook/jest/issues/2549

[2017-01-10 15:16] thymikee commented on #2137
Have you tried using asymmetric matchers? They are exposed through `expect`. http://facebook.github.io/jest/docs/api.html#asymmetric-jest-matchers

[2017-01-10 15:18] thymikee commented on #2137
Worth noting they're available since Jest 18.
And will be [provided with pretty-printing](https://github.com/facebook/jest/pull/2476) soon

[2017-01-10 15:26] thymikee commented on #1860
Watch mode is now rewritten so it should be easier to implement 😉

[2017-01-10 15:34] dKab opened #2550 "Unexpected token export"
I use [react-icons](https://github.com/gorangajic/react-icons) in my component and when I try to render it with `react-test-render` I get this:

`"C:\Program Files\JetBrains\WebStorm 2016.2.2\bin\runnerw.exe" "C:\Program Files\nodejs\node.exe" "C:\Program Files\nodejs\node_modules\npm\bin\npm-cli.js" test

 FAIL  src\components\category-tree\category-tree.component.test.js
  ● Test suite failed to

[2017-01-10 15:36] thymikee commented on #2550
Checkout this thread: https://github.com/facebook/jest/issues/2488

[2017-01-10 15:36] #2550 closed

[2017-01-10 15:44] dKab commented on #2550
@thymikee  Are you sure it is the same as [#2488](https://github.com/facebook/jest/issues/2488) ? It seems to be about react-native relative issue and mine is about react.

[2017-01-10 15:49] thymikee commented on #2550
Not the same but it looks like the reason is the same – code from `react-icons` doesn't get transpiled (its package.json desn't provide a "main" field, maybe that's the case), so you have to explicitly tell jest to transpile it with babel transform

[2017-01-10 15:54] dKab commented on #2550
@thymikee

Sorry, would you be so kind and point me in the right direction on how to do that?

[2017-01-10 15:59] thymikee commented on #2550
For now try setting this:
[code]

You can also check this thread on customising `.babelrc`: https://github.com/facebook/jest/issues/2442#issuecomment-269654883

[2017-01-10 16:05] dKab commented on #2550
I use creat-react-app and it seems it stores config for jest in package.json (at least I have a propery `jest` there):

[code]

But when I try to add
[code]

it says

[2017-01-10 16:16] thymikee commented on #2550
This error shouldn't have happend. Try to type it instead of copying, maybe you've copied some whitespace.
In the meantime file an issue in `react-icons` about missing [`"main"`](https://docs.npmjs.com/files/package.json#main) field. They're building the files on `prepublish` but don't link to it, so node doesn't know where to look for compiled output.

[2017-01-10 16:21] dKab commented on #2550
@thymikee

strange but the same happens when I try to add `transform` option.

[2017-01-10 16:22] thymikee commented on #2550
Are you trying this under `jest` key? Maybe it's a bug in CRA then

[2017-01-10 16:24] dKab commented on #2550
yes 😢

[2017-01-10 16:53] IPWright83 commented on #2046
Seems unfortunately my approach (https://github.com/facebook/jest/issues/2038) doesn't really fit well with the Jest matchers, which was my way of trying to do it without modifying much of the Jest internals :(

[2017-01-10 17:39] dmitriiabramov commented on #2547
@yoavniran if you return a raw matcher result, wouldn't you end up with wrong error messages?
like.. in your example if you call it as `myMatcher(1, 2)`
the message will say `received: 1, expected: 3`

[2017-01-10 18:31] saada commented on #2471
A workaround we came up with is to create a file `test.sh` that would allow you to handle non-interactive shells gracefully while maintaining the exit code.

[code]

while in `package.json`

[code]

This is obviously temporary until a proper fix is merged to master.
Please add that flag as a feature since a lot of people use Jenkins for CI.

[2017-01-10 18:57] thymikee commented on #2171
@davidtheclark thanks for all the concern! But I'll close this issue, as we're constantly seeking to optimise performance. Hope you don't mind.

We've recently tracked a [memory-leak in JSDOM](https://github.com/tmpvar/jsdom/issues/1682) which slows us down, but we believe this will be addressed soon.
Also the watch-mode has been rewritten with some nice perf gains on larger repositories, ready to

[2017-01-10 18:57] #2171 closed

[2017-01-10 19:05] thymikee commented on #2167
It definitely looks like mongoose / mongo / your tests are not cleaning up after themselves. I'm not really sure if there's anything we can help you with on this topic.

[2017-01-10 19:21] suchipi commented on #2549
This is likely due to the behavior of `vm`; see https://github.com/nodejs/node-v0.x-archive/issues/1277

Does Jest do anything to try to avoid this right now?

[2017-01-10 19:27] thymikee commented on #2142
@cpojer what do you think?

[2017-01-10 19:49] scwood commented on #2167
What's interesting is when using mocha watch there aren't crashes. Does jest keep things in memory between runs in watch mode?

[2017-01-10 20:06] thymikee commented on #2167
No, it shouldn't. Every test gets its virtual environment (`jsdom` or or node's `vm`) and is disposed after every run. However we have an issue with JSDOM retaining its globals causing a memory leakage, which is already addressed in their repo.

I may want to try this example in `node` testEnvironment and see if this still happens

[2017-01-10 20:32] thymikee commented on #2167
Ah, so I was thinking about something else. What we have here is Jest unable to detect uncaught async errors (when `done` parameter is passed to `it()`/`test()`) – that's when we handover the test to Jasmine and we need to fix it somehow. This is addressed here: https://github.com/facebook/jest/issues/2059.

As a workaround you need to wrap such places inside try/catch clause, so for this example

[2017-01-10 20:32] #2167 closed

[2017-01-10 20:33] thymikee commented on #2237
@cpojer @dmitriiabramov can we close this issue then?

[2017-01-10 20:42] thymikee commented on #2142
I think this could resolve problems like this: https://github.com/facebook/jest/issues/2070

[2017-01-10 20:47] thymikee commented on #2140
Thanks for all your input here. The reason is it's just not implemented yet!

There's this issue about JS config too – https://github.com/facebook/jest/issues/2203
And this PR, waiting to be reviewed – https://github.com/facebook/jest/pull/2445

Fingers crossed it will be ready for the next release. Closing this as a duplicate.

[2017-01-10 20:47] #2140 closed

[2017-01-10 20:49] thymikee commented on #2222
Does this still happens on Jest 18.1 and react-native 38+ with Jest's `"preset": "react-native"` in config?

[2017-01-10 21:14] yoavniran commented on #2547
@dmitriiabramov  well, if I had the raw matcher Id have the control.
For my example: toBeCalledOnce, toBeCalledTwice, etc.  the message from the existing matcher would be perfect.
For other cases, Id be able to inspect the result and decide what should happen.

[2017-01-10 21:25] thymikee commented on #2381
Based on this [test](https://github.com/facebook/jest/blob/ec782b567bf343d9d278cd79265a1af2bfc3e83c/integration_tests/__tests__/regex-(char-in-path-test.js) it's a known limitation.

@cpojer do we have plans on fixing Windows issues like this?

[2017-01-10 22:05] dmitriiabramov commented on #2237
i guess we're not going to get here anytime soon.
here's another issue for this https://github.com/facebook/jest/issues/1230

we should add a list of `first bug` tasks for other people who want to start contributing :)

[2017-01-10 22:05] #2237 closed

[2017-01-10 22:09] dmitriiabramov commented on #2547
should we just add those shortcuts to the core matchers? :)
i really don't see many other use cases for that. most of the time it's easier to just create a new matcher and share code internally, rather than through some API that exposes raw matchers

[2017-01-11 01:47] timse commented on #2538
anyone :P? @cpojer ?

[2017-01-11 07:33] yoavniran commented on #2547
Im in favor of adding them to the core matchers. for instance up to 4 or 5 times which should cover most of the checks made.

However, unless im mistaken, the API for exposing the internal matchers amounts to:

[code]
so I really dont see the harm or overhead in exposing them for the community

[2017-01-11 09:30] #2501 closed

[2017-01-11 09:31] cpojer commented on #2538
This seems odd, why is your file name so long? Can you set a "name" field in your Jest config or package.json?

[2017-01-11 09:33] #2166 closed

[2017-01-11 09:35] timse commented on #2538
yes as mentioned that fixed it, but it feels like this shouldn't happen in the first place, or have at least a better warning.

[2017-01-11 09:39] cpojer commented on #2538
If there is no name in your package.json or config, Jest has to find a way to identify what to use as the cache key. The only thing we have available at that point is the path to the project. If you send a PR that hashes that, I'm ok with it.

[2017-01-11 09:46] StephanBijzitter opened #2558 "What happened to setupTestFrameworkScriptFile?"
After updating from `^17.0.3` to `^18.1.0`, I get the following warning, followed by an error:
Using NPM 3.9.5 on Node 6.2.2, with jest-cli 18.1.0 installed.
[code]
This is with the following configuration:
[code]
Changing the configuration as suggested by the warning messages, does hide these messages.
However, the error persists.

I believe this was an unintentional breaking change that has not

[2017-01-11 09:47] timse commented on #2538
would a *fallback* to package.name be safe? (currently it only looks for jest.name in package.json

[2017-01-11 09:48] thymikee commented on #2558
Does it work when set like this?
[code]

[2017-01-11 09:49] cpojer commented on #2538
I'd prefer to hash the path. Package names may not be unique (maybe you have two checkouts of the same project).

[2017-01-11 09:51] cpojer commented on #2558
It's supposed to be `./scripts/jest/setup.js` or what @thymikee proposes. The previous config you used was actually only possible because of a bug that we fixed.

[2017-01-11 09:51] #2558 closed

[2017-01-11 10:04] StephanBijzitter commented on #2558
Alright, I can confirm that both of these work.

[2017-01-11 10:06] cpojer commented on #2381
yeah this should be made to work on windows. The integration tests are disabled on windows mostly because nobody had time to go through and fix/enable the tests. cc @Daniel15 do you have any time to help?

[2017-01-11 10:07] timse commented on #2538
aye! :)

[2017-01-11 10:07] cpojer commented on #2142
@voideanvalue is likely going to work on something that should affect this. I'm not interested in disabling this warning but we might make some FB-only stuff configurable so it doesn't leak out to the community so much.

[2017-01-11 10:07] #2142 closed

[2017-01-11 10:12] #2350 closed

[2017-01-11 10:22] cpojer commented on #2546
Are you talking about --watch mode?

[2017-01-11 10:34] cpojer commented on #2137
yep, agree with @thymikee here.

[2017-01-11 10:34] #2137 closed

[2017-01-11 11:35] cpojer opened #2563 "Improve danger file"
Right now the jest-bot is a bit too noisy:

* It recommends adding @flow to test files, which we don't want. We do want 'use strict' everywhere though.
* We have a few files that explicitly don't have @flow – for example in the "test_root" folder somewhere in jest-runtime. Can we ignore those?

cc @orta Please!

[2017-01-11 11:46] gaelduplessix commented on #2546
Yep, sorry I didn't mention it because it's default with create-react-app

[2017-01-11 14:05] cpojer commented on #2546
I guess this is a duplicate of https://github.com/facebook/jest/issues/1860 If we implement this, it should respect the argument coming from the cli.

[2017-01-11 14:05] #2546 closed

[2017-01-11 14:05] cpojer commented on #2216
@develar are you going to send a PR for this issue?

[2017-01-11 14:08] develar commented on #2216
@cpojer Sorry, not yet.

[2017-01-11 14:14] #2563 closed

[2017-01-11 14:19] AvraamMavridis opened #2566 "Cannot read property default of undefined"
I am trying to mock the `window`. So I have a `__mocks__` with `window.js` which is just that

[code]

And then my setup file looks like

[code]

I am getting `Cannot read property default of undefined` Any idea?

[2017-01-11 14:34] chentsulin commented on #2566
Try

[code]

[2017-01-11 14:42] AvraamMavridis commented on #2566
@chentsulin

If I want to mock `lodash` or `jQuery` do I have to include them in that mocked window?

Doing

[code]

In my test setup file doesnt seem to work. I am getting
`_ is not defined` for example (for lodash)

[2017-01-11 14:52] AvraamMavridis commented on #2566
Using

`jest.mock('./window');`

Doesnt seem to help either, my global variable is still undefined.

[2017-01-11 17:22] chentsulin commented on #2566
Sorry, I have a misunderstanding before. I already updated my comments.

[2017-01-11 17:38] simonsmith opened #2567 "The module factory of `jest.mock()` is not allowed to reference any out-of-scope variables"
I'm using the snippet from #1960 to mock `Picker` in RN

[code]

Works fine in Jest 17, throws following error in Jest 18:

[code]

I'm using React 15.4.2 and RN 0.40

I tried `babel-jest@test` and they run as expected but all my snapshots fail, looks like more props are coming through which is probably unrelated to this.

Anything I can do to fix this now or should I wait for the next release for

[2017-01-11 17:41] cpojer commented on #2567
you need to do this:

[code]

This used to be a bug that we fixed. In a mock you can only require things locally and you aren't allowed to access external variables.

[2017-01-11 17:41] #2567 closed

[2017-01-11 17:41] cpojer commented on #2567
To explain why: With `jest.resetModules()` you may reset all currently available modules, so when you call require, you'll get a new version of each module. If you use React from the top level, you'll end up having potentially two copies of React.

[2017-01-11 17:42] simonsmith commented on #2567
Ah ha, that's the bit I couldn't suss. Thanks!

[2017-01-11 17:44] #2566 closed

[2017-01-11 19:31] pedrottimark commented on #2202
@cpojer What do you think about the following difference between `react-test-renderer` compared to `react-dom` and `react-addons-test-utils` as a baseline for what to expect:

* `renderer.create(…).toJSON()` returns different result for `<span></span>` and `<span>{''}</span>` that is, first `span` has no children and second `span` has one child: the empty string
* `reactDOM.render(…)` and `TestUti

[2017-01-11 19:39] pedrottimark commented on #2202
@cpojer While reading the code for `react-test-renderer` something else hit my eye: the Flow type omits `number` in the disjunction for `children` and has only `string` for the values in `props`:

* https://github.com/facebook/react/blob/master/src/renderers/testing/stack/ReactTestRendererStack.js#L31-L36
* https://github.com/facebook/react/blob/master/src/renderers/testing/ReactTestRendererFiber.

[2017-01-11 22:26] bcoe commented on #2513
@SteveALee @orta @cpojer, hey! I've been doing some work on the README rendering at npm, Inc -- and happened to bump into Jest during my testing.

I'd love to figure out why some of the packages published using yarn are missing READMEs, looking at the tarball that was published to the registry:

`curl -XGET https://registry.npmjs.org/jest/-/jest-18.1.0.tgz > foo.tgz`

[code]

It looks as though th

[2017-01-11 22:26] jgrund commented on #2567
Just got hit by this; what is the pattern we should be using if we are mocking locally with closed over variables?

I.E. if module `bar` has a dependency i'd like to mock on `foo`:

[code]

[2017-01-11 22:27] cpojer commented on #2567
This one usage is ok and there is an escape hatch for it. Call your variable `mockFoo`.

[2017-01-11 22:40] cpojer commented on #2513
Hey, I have no idea what I'm doing but happy to help. What are you concretely asking for? A README in packages/jest and packages/jest-cli? If yes, would you mind sending us a PR (maybe with a link to the website or something?)

[2017-01-11 22:46] bcoe commented on #2513
@cpojer I'm not quite sure what the issue is either:

* the package for the latest release of Jest seems to have no README file, resulting in: https://www.npmjs.com/package/jest
* I don't see anything explicitly stopping the README file from being published? am I missing something in configuration?

[2017-01-11 22:48] cpojer commented on #2513
Oh, we don't publish from the top level repo, we publish each folder in packages individually: https://github.com/facebook/jest/tree/master/packages/jest

[2017-01-11 22:49] bcoe commented on #2513
@cpojer makes perfect sense, would you object to publishing the README in each of those modules? it would make it easier to discover Jest on npm, Inc, which would be lovely.

[2017-01-11 22:51] cpojer commented on #2513
I will not object as long as you help us out with a PR, I would go so far as to say I'd welcome it very much :) Maybe take some inspiration of the stuff in the new-docs branch?

[2017-01-12 00:01] bcoe commented on #2513
@cpojer have some PTO coming up next week, and will add this to the stack of OSS work I'd like to work on -- which includes noodling on some test-coverage related patches for Jest as well I believe.

[2017-01-12 00:18] jagregory opened #2570 "Re-ordering tests causes snapshots to change (and fail tests)"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Given two snapshot tests:

[code]

Re-ordering the tests, (`first` then `second` becomes `second` then `first`):

[code]

Causes the snapshots to differ and fail the tests with irrelevant differences:

[code]

See: https://github.com/jagregory/jest-snapshot-issue-reproduction

**What is the expected b

[2017-01-12 08:41] thymikee commented on #2570
Thanks for posting the issue, but this is not a bug in Jest, I'm not sure which library is shallow from, but it's shared between these cases in this suite and it seems to keep the IDs.

[2017-01-12 08:43] jagregory commented on #2570
Ok, thanks. That narrows it down at least. Shallow is from Enzyme. I'll close this off and go talk to the enzyme folks.

[2017-01-12 08:43] #2570 closed

[2017-01-12 08:46] thymikee commented on #2570
Let us know how it goes!

[2017-01-12 10:07] cpojer commented on #2513
❤️ enjoy your time off Benjamin.

[2017-01-12 16:23] faceyspacey opened #2577 "DISCUSSION: Why are mocks static in Jest?"
It means you need to create unnecessary files to use different mocks for the groups of code that you're testing. And that just gets messy having additional test files that really should be part of one test suite. And when you don't do that, you resolve to sub-optimal workarounds--perhaps not writing unit tests as granularly as you should.

I'm sure there are precise reasons, but this isn't ideal a

[2017-01-12 17:33] avaly opened #2578 "JSON files are not transformed via custom preprocessor"
**Report a *bug***

Jest is ignoring JSON files for applying custom preprocessors via the `transform` config.

**What is the current behavior?**

A JSON file source is never sent to a custom preprocessor configured to transform its source. Other files (e.g. XML) are sent properly to the preprocessor.

Reproduceable with the files from: https://gist.github.com/avaly/3ff041228a5c6f789119170c28a80367

[2017-01-12 20:31] outdooricon opened #2580 "Snapshots not storing function names in Saga objects"
When I run a test against a Redux Saga Call event, If I want to store the result in a snapshot, the function name being called is important. However, currently when I store it as a snapshot, the function name isn't serialized into the snapshot.

For a test:
[code]

Here is what gets put into the snapshot:
[code]

However, this is what the test says in the console that it is comparing against when

[2017-01-12 21:15] maher-stripe opened #2581 "`console.log` output is buffered during a run through the node debugger"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When running a test via the node debugger (`node debug ./node_modules/.bin/jest -i`), when we encounter a breakpoint and attempt to run a `console.log` in the REPL, the output gets buffered until the test runs have completed.

While this behavior is desired for running tests normally, I don't think it'

[2017-01-12 21:20] tleunen opened #2582 "jest.mock factory doesn't work inside a test"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

It seems the way to create a mock with a factory doesn't work inside `test` or `it`. It works only when the mock is defined at the root level of the file.

Here's my example of a mock:
[code]

**What is the expected behavior?**

Mocking a file inside a test should work.

**Please provide your exact Je

[2017-01-12 21:22] thymikee commented on #2582
`jest.mock` calls are automatically hoisted to the top of the file with babel-jest transform. You can omit this behaviour with `jest.doMock`. Have you tried that?

[2017-01-12 21:29] tleunen commented on #2582
Same thing with `doMock`.

In the docs, I can read

But... A test is a code block, right? So in my case, I don't expect to see any differences.

Here's a full test
[code]

[2017-01-12 21:33] thymikee commented on #2582
Could you provide a repro of this in a GH repository?

[2017-01-12 22:04] bochen2014 commented on #1557
[code]
would above code work?

[2017-01-12 22:07] bochen2014 commented on #1557
we are not testing redux-form here, so I think its right to mock both `field` and  `redux-form` method

[2017-01-12 22:09] thymikee commented on #2580
I thought it was a bug, but we actually have this behaviour on purpose: https://github.com/facebook/jest/blob/master/packages/jest-snapshot/src/utils.js#L65

@cpojer why would we do that?

[2017-01-12 22:16] navgarcha commented on #1749
Maybe incorrect about this but isn't the `expect.spyOn` different to jasmines `spyOn` in that it doesn't do the claimed 'automatic restore' at the end of a test? I think this feature is pretty neat and clears up the spec files. Will there be any plans to add this sort of functionally on when integrating #1679?

[2017-01-12 22:36] ashtonsix opened #2584 "Jest should mark test as 'skipped' if empty function is provided as second argument"
This is a **feature**

**Background, current behavior & proposed behavior**

When planning tests I would often write code like this:

[code]

Until a recent release these examples would crash, I started supplying an empty function as a work-around like so (& expect others do also for various reasons):

`it('updates the value', () => {})`

Using the latest version of Jest both examples will work, t

[2017-01-13 01:17] tleunen commented on #2582
Sure. Here it is: https://github.com/tleunen/jest-issue-2582

Both tests render "Disabled" even though one of then has a mock to renders "Enabled" instead.
See these:
https://github.com/tleunen/jest-issue-2582/blob/master/src/MyComponent.js
https://github.com/tleunen/jest-issue-2582/blob/master/src/__tests__/MyComponent.spec.js

Thanks.

[2017-01-13 01:20] MystK commented on #2485
@lyleg's didn't work for me. I had to do `node --harmony ./node_modules/jest/bin/jest.js`

I am on windows

[2017-01-13 08:21] theogravity commented on #2059
this is quite frustrating as I have no idea where it's dying

[2017-01-13 09:02] baoyouwangning opened #2585 "Coverage bage"
Does jest have a config to generate a coverage Badge?

[2017-01-13 09:23] thymikee commented on #2585
You mean like GitHub Badge? Nope, we don't have anything like that.

[2017-01-13 09:53] #2585 closed

[2017-01-13 10:00] cpojer commented on #2580
The problem is that function names are not reliable and they also aren't visible in the real user output. It's like testing a private function of a module – if it is important, you should expose it somehow.

Concrete examples where this creates issues:
* node 4 and node 6 have different function name inference
* coverage messes with the function names, so snapshots break when using coverage

See h

[2017-01-13 10:00] #2580 closed

[2017-01-13 10:04] baoyouwangning commented on #2585
Yes.THX @thymikee

[2017-01-13 11:37] capaj opened #2586 "when coverage is enabled, jest takes 40x more time to run"
Unfortunately I can't share the whole project, but to illustrate:

[code]

this is on jest `18.1.0`

[2017-01-13 11:41] cpojer commented on #2586
Unfortunately without more info there is nothing at all we can do to help. Please send us a repro.

At Facebook we use coverage on thousands of test suites and we have not experienced similar issues. However, @dmitriiabramov did run into some issues with babel in the latest version of Jest. Does this repro in Jest 18.0.0?

[2017-01-13 11:43] thymikee commented on #2586
Also @dmitriiabramov is working on async coverage reporters which should make it even faster for larger test suites, but it's just a start: https://github.com/facebook/jest/pull/2512

[2017-01-13 11:58] danieldiekmeier opened #2587 "Change `testEnvironment` on a per test basis"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

At the moment, I can set the `testEnvironment` to either `node` or `jsdom` in `package.json`.

My exact problem is that I have a few tests that use [Knex](https://github.com/tgriesser/knex), which in turn uses `node-uuid`, which outputs a `console.warn` if `window` exists, but `window.crypto` is

[2017-01-13 11:59] thymikee commented on #2587
You should be able to mock `console.warn` and `window.crypto` for every test

[2017-01-13 12:10] danieldiekmeier commented on #2587
If I mock `console.warn`, I lose every warning, not just that one warning that I don't want.

If I mock `window.crypto`, I have to match the part of the implementation that `node-uuid` uses, which seems very brittle to me. Any suggestions how to do this?

[2017-01-13 12:15] thymikee commented on #2587
for the this particular test suite or even test case you can do something like:
[code]

You should be able to mock node-uuid too:
[code]

[2017-01-13 13:46] danieldiekmeier commented on #2587
Oh, thanks, that did it! (For this case)

Should I close this, or could the feature request in general be considered for jest?

[2017-01-13 13:50] thymikee commented on #2587
If you're interested in creating something like this, feel free to send a PR.
But it won't be high on our priorities list I guess.
@cpojer what do you think?

[2017-01-13 13:53] thymikee commented on #2587
I mean implementing such feature by us, not your PR – pull requests are always welcome, but it's often good to discuss the topic before diving in.

[2017-01-13 15:24] cpojer opened #2589 "Typeahead Arrow selection"
It would be great if I could focus on a test by using the up/down arrows just like on the web.

[2017-01-13 16:09] thymikee commented on #2584
Let's discuss this topic in this issue: https://github.com/facebook/jest/issues/2209 since it refers to the same problem, but with different solutions.

[2017-01-13 17:20] amkoehler commented on #1395
@mbrio  I decided to switch over to mocha, and the tests run immediately within my docker container without an issue. No changes were made to my Dockerfile or docker-compose configuration. This seems like a Jest issue and not a Docker issue. I had no issues with running my Jests tests locally, only within the container.

[2017-01-13 18:45] dmitriiabramov commented on #2586
some of the reasons why coverage can be slow:
1. it's a cold run and cache is not generated, so we're transforming/instrumenting every file from scratch (next run should be faster)
2. you have a lot of vendor files (or maybe node_modules that are included for some reason) and they all get instrumented. you can use `collectCoverageFrom` config to specify where you can collect coverage from
3. You u

[2017-01-13 18:47] dmitriiabramov commented on #2586
actually it doesn't look like you're covering a lot of files, so i assume it's either the cache issue or a bug on our side.
What kind of machine are you running it on? how many cores? is it still slow if you run it again? is it the same slow if you run it with `--no-cache` flag?

[2017-01-13 19:58] DmsChrisPena opened #2590 "Jest test fails when environment is configured with webpack-hot-middleware"
So I'm running a very basic Jest test to test if one of my routes returns a 200.
[code]

This was working perfectly then I configured webpack-hot-middleware and it seems to break at line 2 where I import app.

[code]

If I remove the following code from my app.js the tests all run fine.
[code]

Has anyone configured Jest for webpack-hot-middleware? I'm kind of lost because I feel like I've tried e

[2017-01-13 19:59] cpojer commented on #2590
This isn't a help forum. Please ask on stackoverflow or discord. Thank you!

[2017-01-13 19:59] #2590 closed

[2017-01-13 20:17] AvraamMavridis opened #2591 "Unexpected token import for symlink (not for relative path)"
For my application I create a symlink inside the node_modules so, I dont have to use relative paths for import, and my test looks like

[code]

Where `myapp` is the symlink inside the node_modules, using this way I am getting `unexpected token import`. If I use relative path, like `../../Dictionary` everything works fine. Is it a way to achieve that? I am suspecting it has to do with the transform

[2017-01-13 20:20] cpojer commented on #2591
You need to adjust `transformIgnorePatterns` to whitelist those node modules. By default, Jest doesn't transform files in node modules folders.

[2017-01-13 20:20] #2591 closed

[2017-01-13 20:25] cpojer opened #2592 "watch mode must emit events from `node_modules`"
Before releasing Jest 19, we have to make it so the file watcher in jest-haste-map emits events for file changes in node_modules, which are currently ignored.

[2017-01-13 20:26] cpojer commented on #2202
I'm not super up-to-date on this discussion and react related conversation should probably happen somewhere else (react repo?) but here is one pointer: https://github.com/airbnb/enzyme/pull/742 enzyme is looking into this, too.

[2017-01-13 21:17] kripod commented on #336
@cpojer There is a reason for adding source map support: [codecov.io](https://codecov.io) doesn't support coverage reports for files not checked into source control. I tried using [remap-istanbul](https://github.com/SitePen/remap-istanbul), but it couldn't resolve the original source paths correctly.

[2017-01-13 21:23] pedrottimark commented on #2202
@cpojer Thank you for that link. For now, the helper function will take care of the difference.

[2017-01-13 22:23] davidblurton commented on #1590
I'm seeing this issue on Node 7. Downgrading to Node 6 fixes it.

[2017-01-13 22:45] ashtonwar commented on #2584
@thymikee That's a **very different** issue. Handling empty functions is unrelated to handling functions with no assertions. Can this be re-opened?

I write lots of tests like this which have no assertions but I certainly don't want to fail or skip where I'm just making sure the code doesn't throw:

[code]

[2017-01-13 23:55] rogeliog opened #2595 "Polish typeahead in watch mode"
Issues:
- [x] Truncate typeahead results when there is not enough space #2597
- [x] Fix findMatchingTests for directories #2671
- [x] Make testNamePatter and testPathPattern play better together #3327
- [ ] Improve keyboad support in typeahead(copy/paste, `ctrl-a`, `ctrl-b`, etc) #2596
- [x] Typeahead Arrow selection #2589

Open questions:
- Do we want to update how we show each "row" of the resul

[2017-01-13 23:56] rogeliog opened #2596 "Improve keyboad support in typeahead."
Currently typeahead only support keys like printable characters, backspace and enter.

We should make it work with copy/paste, ctrl-a, ctrl-b, left arrow, right arrow, etc.

[2017-01-14 00:02] rogeliog opened #2597 "Truncate typeahead results when there is not enough space"
When the screen is too small the typeahead results wrap making it really hard to read.
<img width="462" alt="screen shot 2017-01-13 at 5 59 01 pm" src="https://cloud.githubusercontent.com/assets/574806/21949699/085a40d6-d9ba-11e6-9d3f-c0bd5681a8c5.png">

We could truncate the results based on the terminal width so that they always fit

<img width="494" alt="screen shot 2017-01-13 at 5 59 20 pm" sr

[2017-01-14 09:02] thymikee commented on #1590
@davidaurelio upgrade to Jest v18.1, this should be fixed there for Node 7

[2017-01-14 09:04] thymikee commented on #2584
You shouldn't rely on this behaviour, use `toThrow`/`toThrowError`/`toThrowErrorMatchingSnapshot` instead.

[2017-01-14 09:07] thymikee commented on #2584
Reopening this so it can be discussed further.

[2017-01-14 09:15] aleclarson opened #2598 "[jest-haste-map] Crawl for changes "in the background""
The `_buildFileMap` method always calls the `_crawl` method (as [seen here](https://github.com/facebook/jest/blob/b2b2039/packages/jest-haste-map/src/index.js#L281)). It also depends on the returned crawler `Promise`; which means we must wait for crawling to finish before `_buildFileMap` is resolved.

While things work as-is, I'm wondering if we could "lazily" update the (possibly) outdated cache

[2017-01-14 09:27] thymikee commented on #2597
I agree this would be nice to have. Although I like the git output better (with `.../path` instead of `...ath`)
How do we plan to show that pattern is matched in a stripped part? I think highlighting the `...` would be sufficient here.

[2017-01-14 09:50] cpojer commented on #2595
thanks for creating this issue to track typeahead improvements.

[2017-01-14 09:54] cpojer commented on #2598
_crawl should be super fast if you have watchman installed: it will only look at the delta of the filesystem since the last time you invoked Jest. I'm curious how your idea would work: when would we reconcile changes in the file system. One simple example is adding a test file, before the haste map is built, we don't know which tests are available in the system so we need to wait for the haste-map

[2017-01-14 11:01] cpojer opened #2599 "Make invalid cli args throw."
We made it so invalid cli args only warn instead of throwing which isn't what any other CLI tool does. Back then I was worried we may break some flow for some users but since we've had these warning messages for six months I think we should change it to throw finally.

@thymikee do you think you could get rid of all references to `warnAboutUnrecognizedOptions` and make all the three clis (jest-cli

[2017-01-14 11:12] cpojer opened #2600 "Consider more breaking config changes for Jest 19"
We've been working on getting to a saner config model and for the next major we should continue to deprecate bad configs. I'll think about this some more.

- [x] mocksPattern + make `__mocks__` a constant.
- [x] testPathDirs to "roots"? (Confusing with rootDir?) See #2670

[2017-01-14 11:21] cpojer opened #2601 "🃏 It's time for emoji."
I think it is time for emoji. We should double down on 🃏. I think 🚫 and 🚧 are specifically nice for `jest-validate`. We need to detect windows (see "Yarn") because it doesn't support emoji and add a --emoji flag (so it can be disabled through --no-emoji).

Examples:

✅ PASS
🚨 FAIL
🏃🏻‍♀️ RUNS

In the summary on the bottom, if all tests pass, we could signal that with "🃏" – like you have a joker in

[2017-01-14 11:26] ai commented on #2601
I think Unicode symbols like ✓ or × is better:

Emoji is like a stickers. They good in separated line. But don’t look as part of text.

[2017-01-14 11:27] ai commented on #2601
Good illustration of Emoji support problems:

![hz39hg8](https://cloud.githubusercontent.com/assets/19343/21954551/27720378-daa0-11e6-8e02-03b617a914aa.png)

Note that second emoji is in different style, than top one.

[2017-01-14 11:29] #2538 closed

[2017-01-14 11:38] kitze commented on #2601
I think ✓ and × is clean enough.

[2017-01-14 12:09] thymikee commented on #2601
I also wouldn't change pass/fail/runs, because I love how they display right now, same with ✓ and ×.

However I'm pretty good with subtle things like:
[code]

[2017-01-14 12:39] reggi opened #2603 "Discussion about async operations, network requests and mocking."
I have some thoughts and ideas about "integration" tests. Would love to start an open discussion and get some insight on mocking in general. Feel free to close if this isn't the place to have this.

I posted a question on [StackOverflow](http://stackoverflow.com/questions/37605811/separation-of-unit-tests-and-integration-tests) a while ago, read something like this.

It's my opinion that "mocking"

[2017-01-14 13:35] develar commented on #2044
Yeah, no way to understand what's wrong (example — https://circleci.com/gh/electron-userland/electron-builder/447?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)

[2017-01-14 16:32] yaycmyk commented on #2601
Idk about the joker, very much in favor of checkmark and X though.

[2017-01-14 18:13] outdooricon commented on #2580
Thank you Christoph! Is there another way to test Saga call actions then, using snapshot, or do you just recommend not using it for those?

[2017-01-14 18:58] rogeliog commented on #2601
I think emojis are great add could add a delightful touch, but I agree with @thymikee on the places that might make sense to add them... I'll try to hack a prototype to see how the experience feels and post a gif of it

[2017-01-14 19:58] ashtonwar commented on #2584
@thymikee I started writing some tests w/o assertions because [create-react-app does](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/src/App.test.js) & @gaearon recommended it on Twitter, you might want to create a relevant issue inside create-react-app to discuss.

I'm happy to create a PR for this issue FYI

[2017-01-14 20:04] thymikee commented on #2584
@cpojer what do you think?

[2017-01-14 20:43] thymikee commented on #2603
Since Jest 15 automocking is disabled by default, so nothing gets mocked unless you tell Jest to do so. You can have another folder for integration tests, e.g. look at `integration_tests` dir inside Jest repo.

Also nothing prevents you to create `test` and `test-integration` npm scripts, running different configs with `--config` flag.

[2017-01-14 20:45] thymikee commented on #2599
As soon as `jest-validate` gets merged, so we can print these pretty little errors 😉

[2017-01-14 21:06] cpojer commented on #2601
I think it's overkill to add it instead of PASS etc. but I think showing the 🃏 on a successful run is cool :)

[2017-01-14 22:31] gaearon commented on #2584
I wasn’t aware of that, and Create React App has shipped for many versions with test cases that rely on crash failing the test. Is this no longer how it works? Why? Do we need to tell thousands of users to change their test cases?

[2017-01-14 22:33] gaearon commented on #2584
Oh, I missed the discussion in #2209, sorry. I got the impression that this wasn't implemented.
So do we need to change anything in CRA? I'm a bit confused by this thread.

[2017-01-14 22:41] thymikee commented on #2584
@gaearon cool, nothing has changed 😄. What I mean is that the behaviour of empty tests or tests without expects may change in the future.

As for `toThrow` or `not.toThrow` I just personally find it more verbose, but based on this comment https://github.com/facebook/jest/issues/2209#issuecomment-264595440 you **can** rely on the behaviour currently used in CRA, as expects throw anyway.

#2209 wasn

[2017-01-14 22:42] thymikee commented on #2584
Now as I look at this, I like simpler approach of CRA better than `not.toThrow`.

[2017-01-14 22:45] gaearon commented on #2584
Thanks for clarifying!

[2017-01-14 23:01] thymikee commented on #2506
@ismay are you willing to ship a PR on that?

[2017-01-14 23:42] ismay commented on #2506
Definitely willing, but no time atm I'm afraid.

[2017-01-15 08:35] arcseldon commented on #296
For Node.js testing, just moved over to try `Jest` as opposed to my former go-to  test dependencies (`Mocha, Chai, Proxyquire and Sinon`) - the idea of consolidating to just having to use Jest was a primary motiviation, together with Mock by default behaviour... really liked the idea of cutting down on the test harness plumbing.  So far the experience using Jest has been really disappointing for r

[2017-01-15 08:39] thymikee commented on #296
@arcseldon what has disappointed you about Jest? Can you elaborate on that? It's crucial to get such feedback, so we can work on this to make Jest better.

[2017-01-15 08:53] thymikee commented on #2506
Cool, take your time, no worries! 🙂

[2017-01-15 10:07] danieljuhl opened #2605 "bug: issues with lazy-loaded modules"
**What is the current behavior?**

`iconv-lite` is lazy-loading a file, when the encodings are actually needed. Somehow this lazy-loading does not work, and the lazy-loading isn't happening.

I'm using `jest@18.1.0`, `node@6.9.4` on `OSX 10.11.4`, with auto-mocking disabled, and testEnvironment is set to `node`.

Please see: https://github.com/sidorares/node-mysql2/issues/489

If I force loading t

[2017-01-15 10:15] thymikee commented on #2605
Can you provide a minimal repro for this issue? As a workaround you can mock `iconv-lite` or this lazy-loaded module with
[code]

[2017-01-15 10:51] cpojer commented on #296
@arcseldon this is a very vague comment on a random issue and isn't very helpful. If you have concerns or concrete issues and would like to see Jest improved, please help us by starting discussions in the appropriate places or send us pull requests to make Jest work for you.

[2017-01-15 10:55] cpojer commented on #2603
@kentaromiura talked about this before, it's similar to snapshots: find a way to record remote data through Jest. @reggi can you design an API that makes sense either within Jest or as a third-party module?

[2017-01-15 11:01] cpojer commented on #2584
@ashtonsix I understand your confusion around the behavior change we made to make tests without a provided function skipped but I don't think we should make it so empty functions are skipped based on the source. It doesn't seem like a reliable method especially when we have an officially supported way for it. I'm sorry you got confused by the feature we added:

[code]

Also, we will always support

[2017-01-15 11:01] #2584 closed

[2017-01-15 11:05] cpojer commented on #2044
@develar do you think you could help with a PR? This data could be added here: https://github.com/cpojer/jest/blob/e4220e6659abdc4d6d4500455eb4982d3230dba3/packages/jest-jasmine2/src/index.js#L97

and we could add the `testExecError` to make it print the proper error.

[2017-01-15 11:47] yoavniran commented on #2547
hi @dmitriiabramov , @cpojer
just so this isnt forgotten, can let me know what you think should be done and reopen if needed?

thanks.

[2017-01-15 11:49] cpojer commented on #2547
I still agree with @dmitriiabramov that I don't see the value. Can you explore exposing the functionality you need through other ways?

[2017-01-15 12:08] davidaurelio commented on #1590
Thanks for the recommendation

[2017-01-15 12:08] yoavniran commented on #2547
hi @cpojer
I think @dmitriiabramov saw the value in the called-times shortcuts i mentioned. Ill be happy to create a PR for those to be in the core matchers.

As for exposing the core matchers for extensibility purposes, I dont really understand your reluctance as i pointed out its extremely simple to expose and i dont see support overhead but with the shortcuts in place Ill be happy (for now)

[2017-01-15 15:11] danieljuhl commented on #2605
@thymikee I'll try to make a minimal repo..

[2017-01-15 18:07] davidtheclark opened #2608 "Option to log failures only"
I have a situation in which I'd like to have long, detailed, multiline spec descriptions in order to make failures very easy to understand and track down. Unfortunately, because the CLI prints the description for every test (and there are a lot) *when I run tests on an individual file*, this bloats the output and makes it harder to deal with.

I would love to have an option to log only failures — 

[2017-01-15 18:17] davidtheclark opened #2609 "Remove ESLint rule to space brackets of multi-item arrays"
Right now are forced to do `[a]` but `[ a, b ]`. This means we sometimes have to change the spacing around the brackets when we add or remove items from the array — and that is annoying. We should remove this distinction, and stick with no spaces in array brackets always. Hopefully this is automatically fixable.

[2017-01-15 18:20] davidtheclark commented on #2609
Agh, I filed this in the wrong repo! Very sorry.

[2017-01-15 18:20] #2609 closed

[2017-01-15 19:19] cpojer commented on #2608
If you have failures like this I generally recommend using focused tests or `-t` to only run the test that failed. Given that you have to re-run anyway I don't see how `--failures-only` would particularly improve the situation. I'd rather not add this complexity but feel free to convince me :)

cc @kentaromiura this is an area where the Nuclide integration can potentially help.

[2017-01-15 19:19] #2608 closed

[2017-01-15 21:14] ConAntonakos commented on #2136
@dceddia Would it be beneficial to roll that type of logic into Jest?

[2017-01-15 21:38] mhahn commented on #2070
What about just a config option to change the behavior of `getMockName`?

Not too familiar with the internals of jest, but it looks like that is the simplest solution to fix the issue without breaking jest for FB.

[2017-01-16 01:15] dceddia commented on #2136
@ConAntonakos Absolutely :) It'd be great if Jest automatically handled async calls like this.

[2017-01-16 11:56] aleclarson commented on #2598
I'm actually using `jest-haste-map` directly to support symlinks in the React Native packager.

Crawling these roots...

[code]

... takes about 800 ms (mostly due to [these lines](https://github.com/facebook/jest/blob/master/packages/jest-haste-map/src/crawlers/watchman.js#L65-L94)).

That's even without any file changes since last session.

Could we reduce startup time by processing file changes

[2017-01-16 13:05] thymikee opened #2610 "Improve printing functions by `jest-validate`"
Replace functions printing in `jest-validate` to use `.toString()` instead of `pretty-format` to get the function signature, which is more helpful than `[Function name]`

[2017-01-16 13:10] cpojer commented on #2598
I don't think that will make any difference but I'm curious to see a proof-of-concept that keeps everything consistent in the same way and is faster.

One thing to note; you don't actually need more than one HasteMap instance. It supports a "roots" argument, which is an Array and it can watch all of these at the same time. Did you try that?

[2017-01-16 13:21] aleclarson commented on #2598
@cpojer I would like to watch `node_modules` directories and create and remove "roots" on-demand, so I'm pretty sure I'm forced to use multiple `HasteMap` instances.

[2017-01-16 16:13] #2610 closed

[2017-01-16 16:41] cpojer commented on #2169
We have a diff out for this, so closing this issue.

[2017-01-16 16:41] #2169 closed

[2017-01-16 18:14] mark0978 opened #2614 "Notifications are not described in the documentation"
Current docs have this for `notify` in the config

![image](https://cloud.githubusercontent.com/assets/106150/21994415/923511e8-dbed-11e6-9ba5-a998ac634f9a.png)

Searching for notifications brings you back to this part of the docs.  Nothing in the docs talks about what notifications are or why I might want to use them.

[2017-01-16 18:15] cpojer commented on #2614
It's on the new website which we'll publish soon: https://jest-bot.github.io/jest/docs/cli.html#notify

Feel free to send a PR to the new-docs branch if you'd like to improve the content of the docs.

[2017-01-16 18:15] #2614 closed

[2017-01-16 18:41] mark0978 commented on #2614
This doesn't say anything useful to me:

Too zen for documentation.

[2017-01-16 18:44] bcoe commented on #2586
@jwbay @dmitriiabramov @hzoo (@ party, sorry).

## note about caching and performance

One thing worth noting about how `nyc` itself improves performance, is that we cache an instrumented source file the first time we observe it using [caching-transform](https://github.com/avajs/caching-transform):

https://github.com/istanbuljs/nyc/blob/master/index.js#L94

This results in a significant improveme

[2017-01-16 19:16] cpojer commented on #2614
Please feel free to amend it with more appropriate text.

[2017-01-16 19:17] cpojer commented on #2586
@bcoe we cache transform results after the first run in Jest as well, so we are doing all of this already.

[2017-01-16 19:17] cpojer commented on #2586
Also, weren't you supposed to be on vacation? ;D

[2017-01-16 19:22] mark0978 commented on #2614
How about just describing what it does?

- Are they emails? (probably not).
- Does it ring the console bell?
- Does it print them in special colors?

Why should you need to read the source to figure out what an option is supposed to do?

[2017-01-16 20:21] cpojer commented on #2614
Please send a PR with more appropriate text!

[2017-01-16 22:29] #2386 closed

[2017-01-16 22:29] #2247 closed

[2017-01-16 23:53] cpojer opened #2616 "Shall we turn the website and logo into pink?"
I'm kind of sick of the orange/red for Jest. I've been using pink in presentations for years. I'll spend some time playing around with a website re-design.

[2017-01-17 02:21] mark0978 commented on #2614
If I new what the right text was, I wouldn't be asking for better docs.

On Mon, Jan 16, 2017 at 3:22 PM, Christoph Pojer <notifications@github.com>
wrote:

[2017-01-17 08:02] romansemko commented on #1893
I did research further. It seems that JSDOM is just a drop in an ocean. If I implement a fix for JSDOM locally, I still get huge memory leaks. However, as soon as I **remove babel-polyfill, the leaks drop by 95%**. IT seems that certain shims in corejs (the Object getters/setters, for example) are causing the leaks when combined with jest.

A solution would be disabling babel-polyfill and starting

[2017-01-17 08:10] thymikee commented on #1893
95% drops are interesting, I have experienced some drops, but not this big, and the stack was still growing fast.
I've did a quick test and it looks like on `--env=node` it grows stack in similar fashion when paired with `bebel-polyfil` (comparing Node env + polyfill with JSDOM env without), so maybe there's something shared about these two?

[2017-01-17 08:20] siggysamson commented on #2597
@thymikee While I think that highlighting `...` is better than not highlighting it at all I think this could be done better. Why not starting from the highlighted part and then truncate in the middle? (I was thinking about truncating the end but the filename should always be visible in my opinion.)

Is it feasible to have something like this: `.../src/crawlers/.../__tests__/watchman-test.js`? This

[2017-01-17 08:35] cpojer commented on #1893
I'm wondering: do we even need babel-polyfill in recent versions of Node? Shall we just not load it (except for regenerator, which we may still need).

[2017-01-17 09:18] romansemko commented on #1893
...unless you want to test with exactly the same setup as the "real" thing. The node and core.js implementations of the ES6/7 features could be different. ;-)

[2017-01-17 10:16] thymikee commented on #2616
Please share some examples of what you came up with

[2017-01-17 15:29] mbrio commented on #1395
@amkoehler yeah, I think there's a significant difference in the libraries that Jest and Mocha use for watching filesystem changes. I assume that Mocha is less thorough, (and/or) less active, and/or less compatible with all filesystems. The speed issue is definitely an issue with _Docker for Mac_ as I have friends who have slightly different configurations for running Docker on a Mac that do not s

[2017-01-17 15:39] brigand opened #2618 "pretty-format: function names in node 4 vs node 6"
**What is the current behavior?**

Snapshot tests involving functions often fail when targeting node 4 and node 6 due to function names.

[code]

**What is the expected behavior?**

Snapshot tests should work across node versions, mostly for travis.ci. [Related redux issue](https://github.com/reactjs/redux/pull/2203).

[2017-01-17 15:41] thymikee commented on #2618
Which version of Jest are you using? This was already fixed in Jest 16 https://facebook.github.io/jest/blog/2016/10/03/jest-16.html#snapshot-updates

[2017-01-17 15:48] brigand commented on #2618
@thymikee in my test I just did `yarn add pretty-format` in an empty directory, and redux is using jest 18.

[2017-01-17 15:53] thymikee commented on #2618
Can you use `printFunctionName: false` option?:
[code]

[2017-01-17 16:02] brigand commented on #2618
@thymikee yep, that works.

[2017-01-17 16:05] thymikee commented on #2618
Great! If you think this should be documented more clearly (e.g. mentioning `[Function fnName]`), please send a PR.

Here's the README of `pretty-format`: https://github.com/facebook/jest/tree/master/packages/pretty-format#api

Closing.

[2017-01-17 16:05] #2618 closed

[2017-01-17 16:06] brigand commented on #2618
@thymikee this still doesn't fix the problem with jest in the redux repo failing snapshots on node 4.

[2017-01-17 16:12] thymikee commented on #2618
Disabling `printFunctionName` should result in always displaying `[Function]` for Node 4 and 6. So can you add some detail on what's wrong?

[2017-01-17 16:17] brigand commented on #2618
@thymikee I don't see 'printFunctionName' in [jest/Configuration](https://facebook.github.io/jest/docs/configuration.html) or a place to configure pretty-format at all. How do you disable it in jest config for snapshot tests?

[2017-01-17 16:21] thymikee commented on #2618
This is already disabled in Jest since v16, see: https://github.com/facebook/jest/blob/642df0db2128cd87cce67c17eafb188dd1be05b3/packages/jest-snapshot/src/utils.js#L65

I assumed you use `pretty-format` somewhere in your code to print something, and then pass it to Jest to be snapshoted.

[2017-01-17 17:39] mhahn commented on #2070
This is an initial pass at implementing something like the above: https://github.com/facebook/jest/compare/master...mhahn:issue-2070-new-mock-resolution

It breaks the majority of the jest unit tests because it no longer allows for pure "named" mocks like the following: https://github.com/facebook/jest/blob/master/packages/jest-runtime/src/__mocks__/createRuntime.js

IMO, something like `createRun

[2017-01-17 17:48] dmitriiabramov commented on #2547
exposing just "one more simple thing" always creates a lot of edge cases that need to be accounted for. That usually creates a pretty big overhead when adding new features or refactoring, so i'd rather not expose anything extra unless we really need to.
@cpojer what do you think about creating `calledOnce` types of matchers?

[2017-01-17 17:58] dmitriiabramov commented on #2586
there's one thing we can improve actually.
Right now we would transform the same file multiple times if it's required in multiple worker processes at the same time.

here's an example:

| worker 1 | worker 2 |
| - | -|
| `require('react')` | `require('react')` |
| check cache | check cache |
| no cache entry found | no cache entry found |
| start transforming | start transforming |
| finish transf

[2017-01-17 18:07] cpojer commented on #2547
I'm ok with that.

[2017-01-17 18:08] cpojer commented on #2586
@dmitriiabramov we should probably do that; yes, but at the same time I don't think that has significant impact on performance. I guess it can be tested easily by running Jest with `-i`.

[2017-01-17 18:08] cpojer commented on #2070
We cannot break the current behavior as we rely on it extremely heavily at Facebook.

[2017-01-17 18:10] jmayer13 opened #2620 "Fix broken link to Babel's plugin inline-requests in blog post 'JavaScript Unit Testing Performance'"
**Do you want to request a *feature* or report a *bug*?**
Documentation bug

**What is the current behavior?**
Broken link in https://facebook.github.io/jest/blog/2016/03/11/javascript-unit-testing-performance.html
The link for the plugin inline-requires is broken.

**What is the expected behavior?**
https://github.com/facebook/fbjs/blob/master/packages/babel-preset-fbjs/plugins/inline-requires.js

[2017-01-17 18:11] #2620 closed

[2017-01-17 18:32] mhahn commented on #2070
@cpojer i agree. i didn't really understand this comment after reading through the code: https://github.com/facebook/jest/issues/2070#issuecomment-265027510. maybe we could support whitelisting a list of directories that will resolve to the current behavior?

[2017-01-17 19:13] mhahn commented on #2070
what about two new config options:

- `fullPathMockResolution` (defaulted to `false` to keep existing behavior)
coupled with:
- `namedMockDirectories`: if `fullPathMockResolution` is enabled, any directories within that array will be resolved with the existing behavior. For the FB use case, this would just be `[<rootDir>]` like you mention above.

This lets devs opt into the full path resolution s

[2017-01-17 22:05] liamfd commented on #2520
Hey @cpojer, is there any chance you've had a chance to look at this? I've hit a bit of a wall looking into it, but it does appear to be `jest` related.

[2017-01-17 22:07] cpojer commented on #2520
It may be because of `jest.resetModules()` which will re-evaluate those module factories.

[2017-01-17 22:22] cpojer commented on #2070
cc @voideanvalue this may be something you'll have to think about (namespace manual mocks as part of the new haste implementation).

[2017-01-18 01:08] #2269 closed

[2017-01-18 01:08] #2279 closed

[2017-01-18 07:19] miguel-orange commented on #2601
IMO, the joker card loses it's meaning and is hard to see in emoji size. Looks good at avatar size.

[2017-01-18 07:39] romansemko commented on #1893
Okay, here are my findings so far:

1. A huge leakage happens when using babel-polyfill.
2. Jsdom does not correctly destroy the window when jsdom.jsdom() and window.close() are called synchronously one after another.

If I remove babel-polyfill, the memory usage still grows during the tests, since all the windows are still in the memory. How much it grows depends on what your tests are how you ut

[2017-01-18 07:56] thymikee commented on #1893
Are you sure `jsdom.env` fixes the problem for you? I've changed `jest-environment-jsdom` locally to use it once and didn't see better results. Jest disposes `jsdom` (calls `window.close()`) not in the same tick. also wrapping the close() method in setTimeout didn't help.

BTW, I appreciate your help on investigating that so much, thank you!

[2017-01-18 08:29] romansemko commented on #1893
It's in our all interest to get this issue fixed. So you are most welcome! ^^

Check out the code in my comment on the jsdom issue:
https://github.com/tmpvar/jsdom/issues/1682#issuecomment-270310752

If I use the jsdom.env version for spwanWindow and print the heap usage, I bare see any memory spikes at all. Maybe my methodology is wrong. Can you try it?

[2017-01-18 08:40] thymikee commented on #1893
Sure I have tried that and it indeed worked for me (but didn't check in the inspector). I need to find some time to test it better in Jest, because last time it was a really quick check, where I could miss something!

[2017-01-18 09:25] kentaromiura opened #2622 "Reconcile jest-editor-support/src/types.js and the types in the root."
Follow-up of https://github.com/facebook/jest/pull/2316

[2017-01-18 11:23] cpojer commented on #2616
Alright, let's do it.

[2017-01-18 11:23] #2616 closed

[2017-01-18 11:26] frapontillo commented on #2520
So is there a viable solution to the problem?

[2017-01-18 12:42] cpojer opened #2625 "Showcase + Improve Homepage"
Instead of the 10 items in "Jest's Testing Features" we should have screenshots and make it a product showcase. If we hold off on the website launch for another week, I can help do that.

[2017-01-18 12:44] cpojer commented on #2625
The header should look more like the React site, too: https://facebook.github.io/react/

I have some ideas in my head.

[2017-01-18 13:06] cpojer commented on #2625
For the three pillars on the website I think I'd like to drop one and add the watch mode instead (cc @rogeliog).

[2017-01-18 14:17] cpojer commented on #2625
Instead of the current svg's in the pillars, we could maybe use Apple's emoji (are there svg versions of them available so that we can make sure they look the same on all platforms?)

[2017-01-18 14:30] cpojer commented on #2625
I would also like to fix up the mobile menu. It is really ugly. We should simplify this.

[2017-01-18 14:31] thymikee commented on #2625
We could really make it similar to what it is on React and RN

[2017-01-18 14:33] cpojer commented on #2625
Yep, the React website is good and simple still. I think when the Jest website was redesigned, I should have pushed back more on the things I didn't want but I never had time to clean it up myself :(

[2017-01-18 14:35] thymikee commented on #2625
Guess what 😄 https://github.com/facebook/react/pull/7870
I'll try to find some time to play with the site.

[2017-01-18 14:37] cpojer commented on #2625
Oh man, you are awesome.

[2017-01-18 14:58] liamfd commented on #2520
@cpojer I could be missing something, but as far as I can tell `jest.resetModules()` doesn't seem to be causing any trouble. Neither `cAF` nor `rAF` are defined on `global` when `resetModules` runs in my small repro branch (`this._environment.global.hasOwnProperty('requestAnimationFrame')` returns `false`).

@frapontillo Are you encountering it? If you need to make your tests run there's a workaro

[2017-01-18 14:58] julien-f opened #2626 "`--bail` does not work"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

All tests are run even though `--bail` was used.

**What is the expected behavior?**

No other tests should be run after an error.

See https://github.com/julien-f/issue-jest-bail

**Environment**

My system is Debian Stretch.

[code]

[2017-01-18 15:00] cpojer commented on #2520
If that's not it, then it is an issue with how react-native is set up. As I've consistently pointed out, this seems like something that should be fixed in the react-native repo.

[2017-01-18 15:00] stepancar opened #2627 "Jest.fn should return new function"
**what is the current behavior?**
  When call jest.fn(implementation) it evryTime returns link to one instance in memory;
  for example we want to test this code

[code]
in this case link of passed function is important;
if you will pass to this function any mocked function created by jest.fn - you will see that memo containse one function;
 **expected behavior?**
jest.fn should return new functio

[2017-01-18 15:02] cpojer commented on #2627
`jest.fn` creates a new function every time. It seems like you made a mistake somewhere with your memoization function. Note that this is not a help forum; please ask on stackoverflow or on our discord channel. You can also create a repro here: https://repl.it/languages/jest and share that to stackoverflow or discord.

[2017-01-18 15:02] #2627 closed

[2017-01-18 15:20] frapontillo commented on #2520
@liamfd that solves it, thanks.

[2017-01-18 15:36] liamfd commented on #2520
@cpojer I'll go ahead and open an issue over there. Sorry about that, I held off because as I dug into it it seemed to me to be more jest related.

[2017-01-18 19:41] stepancar commented on #2627
@cpojer  i'm sorry!
My mistake.

[2017-01-18 22:13] ghanjra opened #2631 "what is correct way to mock function inside a module"
i have index.js file like:

[code]

in my test i am doing

[code]

I wanted to know that if this is the correct way to perform call check with jest or i am missing something from docs?
Answer: Please read my next comment

[2017-01-18 23:32] dannycochran commented on #2435
@cpojer sorry, would you mind expanding a bit? I am now at a point where I need to be able to test the webView functionality (namely, talking back and forth between RN and the WebView). Is this possible using a custom transformer?

If it is possible, I'm having trouble writing a transformer based on this example, and I'm not sure if it's a bug or something I'm doing incorrectly:

https://facebook.

[2017-01-18 23:33] ghanjra commented on #2631
i updated my tests as below and looks to be the correct way. Further i am leaving my 1 comment as is for some one who is also looking for the same.
[code]

[2017-01-18 23:47] philwhln commented on #2441
I was having the same issue, but found that it was due to running jest via jest-cli (jest.runCLI) within gulpfile.js and it was swallowing the output of console.log. If I run jest directly I see the console output.

[2017-01-19 00:15] philwhln commented on #2441
I'm now having seeing some funky behaviour, which I cannot isolate to a simple test case yet, otherwise I'd file a new issue.

1) Jest runs a test
2) Jest outputs the console.log statements (don't blink here)
3) Jest scrolls back up an arbitrary number of lines, which sometimes covers all the console.log lines, sometimes some and sometimes all.
4) Jest runs the next test (console.log lines from pr

[2017-01-19 00:22] hramos commented on #2625
Which specific part of the React header would you like to see in the Jest site? The main differences I can see, aside from the color scheme, are:

* The React header is narrower due to the overall React site design
* The React header has less text, with only two CTAs (Get Started and Take the Tutorial)
* The navigation bar is laid out in a different order, with the external links to the right of t

[2017-01-19 00:24] hramos commented on #2625
While we are at it, what do you think of using the same footer as React, React Native, and GraphQL? It's a dark, separate section with a greater selection of links - basically an expanded version of the navigation bar at the top of the site, along with some FB OSS branding.

[2017-01-19 00:37] cpojer commented on #2625
I love your idea for the footer.

I think we should do something like this for the header:
* Remove the excessive background color (only keep it in the top with the links).
* Center "Jest" and add "🃏 Painless JavaScript Testing" below, just like on the React website. Remove the logo on the right that's shown on big screens.
* Maybe remove the two lines about how it is used and the news section (I

[2017-01-19 06:38] mindjuice opened #2632 "Code coverage is including .svg file"
I have essentially the default app generated by `create-react-app`, but with some packages added to enable React testing for Jest (and test file moved into `__test__`).

If I run `jest --coverage` everything works properly, however, if I add the following line to my `App.js` file, I get an error from running the same command:

```import logo from '../../public/images/logo.svg';```

The error is:

[2017-01-19 10:58] jakubzitny opened #2635 "Improve the Configuration docs"
This is a **Feature** request - clarification of config options in documentation.

We are migrating our large testing code base from Mocha to Jest. From the Jest documentation, especially the [Configuration](https://facebook.github.io/jest/docs/configuration.html) part I have not been able to understand few details.

1. What is the preference of configuration options when using both `--config` fil

[2017-01-19 11:43] cpojer commented on #2635
cc @hramos

can you check out the new-docs branch (live here: https://jest-bot.github.io/jest/ ). We are rewriting the docs currently and it may answer many things already.

[2017-01-19 11:50] jakubzitny commented on #2635
Thanks for the link @cpojer. I like that there is `Jest CLI Options` section now.

I checked the [Configuring package.json](https://jest-bot.github.io/jest/docs/configuration.html#content) section and there is mostly the same content as in the current docs. None of my questions seem to be answered there for now.

[2017-01-19 11:55] cpojer commented on #2635
Cool! Would you mind sending a PR against that branch?

* cli options are preferred over config options
* There aren't other options for test runners right now. We used to support jasmine 1 but dropped it. I'd like to support many more, like ava's API for example which is awesome but nobody has built that yet. It shouldn't be *too* hard to build another one :)
* You cannot combine jsdom and node c

[2017-01-19 12:55] jakubzitny commented on #2635
Great, I have opened a WIP PR #2636 for now. I do have few more questions.

What are the requirements for `testRunner` and `testEnvironment` packages? For example, `testResultsProcessor` must be a node module that exports a function expecting an object of defined structure. Custom transformer package for `transform` option has to export object with `process()` function. How is custom `testRunner`

[2017-01-19 14:29] #2597 closed

[2017-01-19 14:35] cpojer commented on #2635
* This is what an env looks like: https://github.com/facebook/jest/blob/master/packages/jest-environment-node/src/index.js
* This is what a test runner looks like: https://github.com/facebook/jest/blob/master/packages/jest-jasmine2/src/index.js This is definitely very complex and would need much better documentation on what expected output it should have.

testEnvironment would work: you can do th

[2017-01-19 14:35] #2635 closed

[2017-01-19 14:37] cpojer commented on #2632
This is unrelated to coverage. You are trying to import an svg file which you cannot do in node.js. Check out the tutorial here: http://facebook.github.io/jest/docs/tutorial-webpack.html#content

[2017-01-19 14:37] #2632 closed

[2017-01-19 14:49] thymikee commented on #2626
Running Jest with `--bail` will prevent other test _suites_ from executing.
In your case there's only 1 test suite (1 file), that's why it checks all other cases.

@cpojer I think we should stress this better in the documentation, right?

[2017-01-19 14:51] julien-f commented on #2626
Oh, I see, thanks for the info :)

[2017-01-19 14:52] #2626 closed

[2017-01-19 15:30] thymikee commented on #2625
Something like this would work?

<img width="1178" alt="screen shot 2017-01-19 at 16 23 46" src="https://cloud.githubusercontent.com/assets/5106466/22112773/88b76c32-de64-11e6-86b4-d192189b8d9e.png">

[2017-01-19 15:37] cpojer commented on #2625
Yes, exactly like this but I'd make it a lot smaller so that you can see the three pillars on the first screen.

[2017-01-19 15:39] thymikee commented on #2625
Wouldn't the Joker be too tiny?

[2017-01-19 15:50] L8D commented on #2447
👍 I'm having the same problem when running tests against packages linked via [lerna](https://github.com/lerna/lerna). I believe it prevents tracking coverage of linked packages as well.

[2017-01-19 16:05] vvo opened #2644 "Using eslint-plugin-jest fails"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Installing, configuring and launching `eslint .` with `eslint-plugin-jest` fails with:

<details>
<summary>Click to see error call stack</summary>

[code]
</details>

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/

[2017-01-19 19:18] hramos commented on #2625
Move it to the same line as Jest?

[2017-01-19 20:51] blainekasten opened #2646 "[Proposal] --fix-mode"
## Current Problem
If you have a long list of broken tests, common practice is to use the pattern to focus on one suite, and use `fit` to focus on one test. This is a lot of manual labor to occur.

## Solution:
`--fix-mode` (or some other name).

What it does: When in this mode, it first runs through all tests until it hits the first failing test. It doesn't report any of the passing ones as that

[2017-01-19 20:53] thymikee commented on #2646
You should be able do to something similar with `jest --watch --bail`?

[2017-01-19 21:01] blainekasten commented on #2646
Yes. But it's more than that. It's more about DX, clarity, and cleanliness. With `jest --watch --bail` it still prints and runs every test until the fail.

This would also run faster, as it would hit the cached failing test until it passes (skipping all the above passing tests).

[2017-01-19 21:25] pedrottimark opened #2647 "Discuss alternative to global configuration of snapshotSerializers"
Let’s discuss a potential **feature**

**What is the current behavior?**

* Example of problem: the prototype of diff snapshots for  https://github.com/facebook/jest/issues/2197#issuecomment-266059285 depends on a new snapshot serializer.
* Why it is a problem: the `snapshotSerializers` property of Jest configuration is internal to **create-react-app** configuration, in the `react-scripts/utils/cr

[2017-01-19 21:26] pedrottimark commented on #2647
Here is current trial implementation as a starting point to discuss **how**.

Minimal generic serializer and factory function to get specific self-serializer:

[code]

Example of calling factory function to get self-serializer for diff snapshots:

[code]

[2017-01-19 23:12] ghanjra opened #2649 "can't unmock module per test"
I want to mock a module and then unmock it for specific tests. As an example my main file looks like:
[code]

In my test i want to do something like below:

[code]
Any suggestion or help is appreciated.

[2017-01-19 23:45] dijimsta commented on #2354
I'm also observing this behaviour. Also for axios, jest.unmock() does not prevent the mocked modules from loading.

[2017-01-20 00:31] cpojer commented on #2625
I mean compress the whole thing to about the same height as now. It's ok if the joker is a bit smaller. It should stay on the tagline, that's how I've been doing it in talks.

[2017-01-20 00:52] rproenca opened #2650 "'onload' event of FileReader object is not fired"
I'm trying to use FileReader object but 'onload' event is not fired.

I know that Jest uses jsdom behind the scenes. But I did a test using jsdom only and it worked! Please find below 1) a scenario using jsdom only (does work) 2) a scenario using Jest (does not work).

(I'm new to Jest so perhaps I could be missing something obvious; I'm sorry if that's the case...)

**jsdom:**

[code]

**Jest:**

[2017-01-20 06:17] dinukadesilva opened #2652 "<rootDir> does not validate slashes and backslashes"
Im using
[code]

And when I have used <rootDir> to reference the root directory, In some environments, it does not validate  / and \

for an example, for the following property,

`"setupFiles": [
      "<rootDir>\\config\\polyfills.js"
    ]`

some environments return
`'/var/lib/jenkins/jobs/test/workspace/\config\polyfills.js'`

[2017-01-20 16:57] capaj opened #2654 "package jest-changed-files throws when no options are provided"
sample in the readme of jest-changed-files throws because no options are provided and they are required
https://github.com/facebook/jest/blob/master/packages/jest-changed-files/src/git.js#L25
so either the readme should be updated or the options should be optional. I'd say the 2nd makes more sense.

[2017-01-20 17:35] ev1stensberg opened #2655 "Support In-Browser Debugging"
**Feature Request**

Webpack CLI had it's first meeting yesterday. We had a short discussion about using Jest as our test-runner and we had positive thoughts about using Jest, as it provides

However, one issue got brought up during the discussion. **Jest doesn't support browser debug** in similar ways as Karma. I dunno if this is plausible in Node purely, but it would be good to bring up the issu

[2017-01-20 19:54] hramos opened #2656 "Improve Jest Mobile Website Layout"
Breaking this issue out of #2625. @thymikee it looks like you're interested in doing this for Jest so I'm assigning this to you, feel free to send it back to me if you think you won't have time to look at this.

[2017-01-20 19:55] hramos opened #2657 "New Jest Homepage Hero"
Also breaking this out of #2625, replicating @cpojer's comment here:

* Remove the excessive background color (only keep it in the top with the links).
* Center "Jest" and add "🃏 Painless JavaScript Testing" below, just like on the React website. * Remove the logo on the right that's shown on big screens.
* Maybe remove the two lines about how it is used and the news section (I know @hramos doesn'

[2017-01-20 19:56] hramos opened #2658 "Streamlined Homepage Marketing Pillars"
Based on #2625:

* Remove "Fast and Sandboxed" pillar.
* Rename "Turbocharged" pillar to something more fitting.
* Add "Instant Feedback" pillar that covers how awesome watch mode is.
* Use Apple-style emoji for the three pillars. Use SVG versions to ensure they work cross-platform.

[2017-01-20 19:57] hramos commented on #2625
I opened a few new issues based on the discussion here, hopefully this will make it easier to keep track of what is left to be done and who's working on it.

[2017-01-20 19:58] hramos opened #2659 "Add Facebook Open Source standard footer"
Breaking out of #2625. Use the same footer design as GraphQL.org, React, and React Native.

![screen shot 2017-01-20 at 11 58 13 am](https://cloud.githubusercontent.com/assets/165856/22163471/c55673ec-df07-11e6-8876-f961416166b1.png)

[2017-01-20 21:05] olefrank commented on #335
Doesn't seem to be fixed yet...???

[2017-01-21 00:22] hramos commented on #2625
Gotta say, now that I'm used to #99424f as the new tint color, it's hard to look at the old jarring orange-red in the site :)

[2017-01-21 01:02] alexjoverm opened #2661 "Jest statement not covered and if path not taken in comments"
**Bug**

**What is the current behavior?**
It shows 'statement not covered' and 'if path not taken' in a comment.

In repl.it it works: https://repl.it/FQFA/3, but is a different environment since I use typescript

The original code is:
![image](https://cloud.githubusercontent.com/assets/5701162/22170435/a23b33b8-df7d-11e6-8fb4-5d82e9c92f4d.png)

**What is the expected behavior?**
Not to do that

[2017-01-21 01:34] jwbay commented on #2661
Does `--no-cache` fix it? From ts-jest's README:

[2017-01-21 08:39] benweizhu commented on #1652
My solution for run and debugging single Jest test in IntelliJ Idea.

Node version: v6.9.4

<img width="1072" alt="single jest runner" src="https://cloud.githubusercontent.com/assets/5471228/22173247/cdf4641e-dff7-11e6-9a0c-ce30e396a69b.png">

Then just like run any unit test. crtl/command + shift + F10/F9

<img width="1077" alt="debugger" src="https://cloud.githubusercontent.com/assets/5471228/22

[2017-01-21 08:57] develar commented on #1652
@benweizhu please see https://github.com/develar/ij-rc-producer

[2017-01-21 09:44] thymikee commented on #2661
Yep, this looks like cache. Thanks @jwbay!

[2017-01-21 09:44] #2661 closed

[2017-01-21 10:32] cpojer commented on #2654
@capaj would you mind sending us a pull request for this? :)

[2017-01-21 10:53] cpojer commented on #2646
I love this idea. I think the Jest team has been thinking about building these kind of integrations on top of `jest-editor-support` in the future. @rogeliog and @kentaromiura have been talking about this. As we make jest-editor-support more awesome, it can serve as a platform for alternative watch implementations as well as editor integration. The thought is that Jest will keep shipping with a sim

[2017-01-21 10:53] #2646 closed

[2017-01-21 10:54] cpojer commented on #2625
Yep, had the same reaction myself. Closing this issue in favor of all the small ones you created.

[2017-01-21 10:54] #2625 closed

[2017-01-21 11:15] cpojer commented on #2655
Are you only talking about debugging? You can debug your tests using `--debug-brk`, see http://facebook.github.io/jest/docs/troubleshooting.html#tests-are-failing-and-you-don-t-know-why

You can also use `node --inspect` which will eventually become the standard but doesn't enable breakpoints to work inside of tests yet because of a bug in node's vm module that is actively being worked on.

There

[2017-01-21 11:15] #2655 closed

[2017-01-21 11:24] ev1stensberg commented on #2655
@cpojer Yepp, this was probably a dupe of #848

[2017-01-21 11:54] cpojer commented on #2644
The latest version of it hasn't been shipped yet from this repo. We will tag version 19 in two weeks and make it actually official.

[2017-01-21 11:54] #2644 closed

[2017-01-21 15:59] cpojer commented on #2351
Since this is mostly a printing issue, shall we make it so that only if two objects don't match, the diff we generate will contain all properties, including non-enumerable ones? That way we do this work only if necessary (when a test fails). I guess it means that we need to recursively descend twice though, so it may not be that great after all.

[2017-01-21 16:04] matheusml opened #2663 ""Syntax Error: Invalid or unexpected token" with .png"
I'm trying to test a simple module, but I'm getting this error:

[code]

This is the test:
[code]
This is my package.json:
[code]

And this is the fileMock.js:
[code]

Thanks!

[2017-01-21 16:05] cpojer commented on #2663
Check out http://facebook.github.io/jest/docs/tutorial-webpack.html#content

[2017-01-21 16:05] #2663 closed

[2017-01-21 16:27] cpojer commented on #2511
I think there are two things here that are kind of conflated:

* Have a single test run with N configs. These are the same global configs we have currently, they have their own haste-map instances and we'd change all APIs (like watch mode) to take an array of haste maps instead of just one. If we don't do this, killing our internal runners will be much harder *or* we'll need to rewrite it anyway a

[2017-01-21 16:33] gtedx opened #2665 "Not get props showing in snapshot"
Hi

When I passed some props with "renderer.create", I  cannot get props rendered in snapshot. Here is the testing code:
describe('Header component', () => {
  it('renders', () => {
    const locale = 'en_US';
    const title = 'App Designer';
    const user = {
      alias : 'Bryan Zhu'
    };
    const component = renderer.create(
      <ReduxProvider store={store}>
        <IntlProvider locale=

[2017-01-21 17:33] #2657 closed

[2017-01-21 19:55] alexjoverm commented on #2661
Gentlemen, I'm afraid I had already read and tried that before opening the issue (and did it again just in case). Still happening.

Fortunately, I have a repo where you can reproduce the issue: https://github.com/coosto/ShortcutJS/tree/jest-issue-test (note is jest-issue-test branch)

[code]

[2017-01-21 20:01] jwbay commented on #2661
Is there a remapped/ folder under coverage/? See https://github.com/kulshekhar/ts-jest/issues/97, it looks like ts-jest puts remapped coverage there

[2017-01-21 20:06] alexjoverm commented on #2661
True, in there is correct. Seems to be an issue then with ts-jest, thanks for the time!

[2017-01-22 01:28] bibhas2 opened #2666 "Add support for ES6 generator"
I am trying to test a generator function ``someFunc*()`` as follows.

[code]

The test fails with this message:

[code]

[2017-01-22 03:36] Lxxyx opened #2667 "React-Native TypeError: RCTAsyncStorage.multiSet is not a function"
**Do you want to request a *feature* or report a *bug*?**
BUG
**What is the current behavior?**

got an error: TypeError: RCTAsyncStorage.multiSet is not a function

**If the current behavior is a bug, please provide the steps to reproduce and either a repl.it demo through https://repl.it/languages/jest or a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

https://repl.i

[2017-01-22 03:50] Lxxyx commented on #2667
fixed, use https://www.npmjs.com/package/mock-async-storage.

in jest-setup.js, just:

[code]

[2017-01-22 03:50] #2667 closed

[2017-01-22 09:59] kawikadkekahuna commented on #2153
Any other ideas? @arnarthor suggestions also didn't work for me.

[2017-01-22 13:41] capaj commented on #2654
@cpojer opened

[2017-01-22 14:41] #2665 closed

[2017-01-22 17:31] cpojer commented on #2153
You need to update `transformIgnorePatterns` to not include the specific node_module. By default, it doesn't transform anything in your node modules.

[2017-01-22 17:34] #2654 closed

[2017-01-22 17:55] #2599 closed

[2017-01-22 22:03] milesj opened #2670 "`testPathDirs` does not work with React Native, but `testRegex` does"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

I'm trying to add RN support to my Aesthetic project, but am running into a few issues. I have updated my `jest.json` with `"preset": "react-native"`, which works, but it seems like `"testPathDirs": ["./tests"],` does not work as it throws these errors:

[code]

If I replace `testPathDirs` with `"te

[2017-01-23 03:23] qiangspecial opened #2672 "Couldn't find preset "react-native" relative to directory"
The demo [https://repl.it/languages/jest](https://repl.it/languages/jest) work on my computer like this
[code]

.....why!

thanks

[2017-01-23 05:52] mulchy commented on #1767
Bummer that this is closed, having to dig through issues in upstream projects does make for a poor initial experience with create-react-app as noted here https://github.com/facebook/jest/issues/1767#issuecomment-256346095

[2017-01-23 06:57] #2672 closed

[2017-01-23 13:34] knowbody opened #2673 "Add invisible characters highlighting in diffs"
**feature request**

**What is the current behavior?**

Currently the diffs don't check for invisible characters like spaces. I spent a bit of time debugging an invariant error check. And my tests weren't passing because I was leaving a space before the new line character. In the end I used `.toThrowErrorMatchingSnapshot()` and copy pasting that to my test case made the test pass and made me reali

[2017-01-23 13:41] thymikee commented on #2673
Since Jest 18.1.0 we're highlighting trailing whitespace: https://github.com/facebook/jest/pull/2347
Can you update to this version and see if it works for you?

[2017-01-23 13:43] knowbody commented on #2673
awesome! yep, works fine, thank you! I was on Jest 17.0.2

[2017-01-23 13:52] knowbody commented on #2673
actually I still get the same thing:

![image](https://cloud.githubusercontent.com/assets/3802023/22206442/359797f4-e173-11e6-905c-6b0f04aa3f2c.png)

![image](https://cloud.githubusercontent.com/assets/3802023/22206449/3b4eb970-e173-11e6-8979-2429e528fde8.png)

[2017-01-23 15:11] thymikee commented on #2673
I've opened a PR with a fix for that

[2017-01-23 15:58] #2673 closed

[2017-01-23 15:58] mathieumg commented on #2587
I would also welcome a feature like this. With the `jsdom` versus `node` envs, is it just the bootstrapping of the former that takes longer or is it a bit slower generally speaking?

As a side question, how would one go about testing code that's meant to run both in the browser and in node, but that behaves slightly differently depending on where it runs?

[2017-01-23 15:58] knowbody commented on #2673
thank you @thymikee for fixing it!

[2017-01-23 17:37] coryhouse opened #2675 "Outdated docs on webpack integration"
The page mentions installing babel-jest, which is no longer necessary since it's now automatically  loaded. https://facebook.github.io/jest/docs/tutorial-webpack.html

[2017-01-23 18:31] ticky opened #2676 "Splitting Snapshot Files"
**Do you want to request a *feature* or report a *bug*?**
Request a feature

**What is the current behavior?**
Currently, when using snapshots, a snapshot file is created per test file. In cases where test cases are generated, the snapshot files can become thousands of lines, which makes them unwieldy.

**What is the expected behavior?**
It would be useful to be able to break up these large, compl

[2017-01-23 20:02] orta commented on #2676
Another option is to make `toMatchSnapshot` take a configuration object, in our iOS snapshot matchers we support passing in a filename, or (unimportant for this conversation) iOS specific options

[2017-01-23 20:03] wanderley opened #2679 "Question: what about this refactor?"
`jest-runtime` uses to manipulate all the objects (`environment`, `configs` ..) and much of his code can be moved to near to the used data.

I want to move [this code](https://github.com/facebook/jest/blob/master/packages/jest-runtime/src/index.js#L373) to a better place. There are two options. First, I can move it to a function and keep it in the `jest-runtime` package. The other option, is creat

[2017-01-23 20:13] hramos opened #2680 "Add Product Showcase to Homepage"
Based on previous discussion in #2625. Specifically, this issue covers this feature request:

[2017-01-23 20:25] gaearon commented on #1767
As I noted above, please feel free to dig into why this happens. While this *is* inconvenient, this is an open source project, and you can help us. Right now I have a lot of work on React itself and unfortunately don’t have time to look into why this happens.

[2017-01-23 20:40] kentaromiura commented on #2676
What you can do right now, it's changing your test generator to make a single test file per expectation.
Another option could be using `beforeAll` and `afterAll` to manually setup the environment like you describe:
[code]
where `splitAllSnapshots` can just require the generated snapshot file and then write each exports down in parts in a folder and then delete the main snapshot file.
`joinAllSnaps

[2017-01-23 20:45] hramos commented on #2680
These are the existing items under Jest's Testing Features:

[ ] Fast interactive mode with `--watch`.
[ ] Create coverage reports with `--coverage`. No additional setup or libraries needed!
[ ] Automatically find tests related to changed files to execute in your project with `--onlyChanged`.
[ ] Error messages are helpful and color coded. Stack traces point to the source of problems quickly.
[ ]

[2017-01-23 20:49] joshkel commented on #2141
Could I request that this be re-opened?

I don't understand how `cacheDirectory` fixes the problem, since it's either a relative directory (which can [cause problems (?)](https://github.com/facebook/jest/pull/2303#issuecomment-266538158) and seems awkward) or a single shared absolute path (which goes back to the original problem of not being able to run Jest on a multi-user host). What am I missin

[2017-01-23 21:05] hramos commented on #2658
@cpojer any preferences on which emoji goes with what pillar?

You can take a look at http://www.webpagefx.com/tools/emoji-cheat-sheet/ or http://www.iemoji.com/emoji-cheat-sheet/all and once we have picked out the ones we want, I'll save high rez versions into a sprite png for use in the site.

We need one for each of the pillars:

- [ ] Turbocharged/Adaptable/? (Haven't decided on a name for thi

[2017-01-23 22:53] cpojer commented on #2675
It's only automatically loaded because of how npm3/yarn work. If we were to change the algorithm to lay out node modules in Yarn, it would suddenly break everyone. We'll keep this note. babel-jest should be an explicit dependency in your package.json file.

[2017-01-23 22:53] #2675 closed

[2017-01-23 22:59] ticky commented on #2676
This relies on all your tests having names which are valid file paths, or doing some sort of semi-destructive transform on them, and that’s not really the granularity I want, either!

This is _more_ viable, but not exactly the nicest way to approach this. It’s bad enough to write complicated filesystem code just to write tests, so writing such a thing to make my test snapshots come out in a nice f

[2017-01-23 23:08] cpojer commented on #2676
I'm heavily against this because it will make tracking of snapshot files harder and would require more static analysis. There are two questions you should ask yourself:

* Do I really need snapshots that are this big?
* Can I split these huge snapshots up into multiple test files that share common test utilities?

Answering one or both of these questions should lead to smaller snapshot files. Espe

[2017-01-23 23:08] #2676 closed

[2017-01-23 23:14] ticky commented on #2676
It’s less the _big_ and more that I don’t necessarily need to _store_ them repeatedly - there’s no way for me to declare, as it stands, “these combinations of situations should all map to this result,” which is what leads to the large snapshot file sizes.

I mean, technically yes, but in the case of the example, what you end up with is three files which test slight variations on the same thing, an

[2017-01-23 23:17] cpojer commented on #2141
If you'd like to send a PR to add the uid to the default cache paths including tests, I'm happy to accept that.

[2017-01-23 23:19] cpojer commented on #2676
I feel like the correct answer here would then be to write a diff engine that will make it so that your snapshot will only capture the difference between the items, rather than all the content. @xixixao actually just asked about this at FB last week.

[2017-01-23 23:27] cpojer commented on #2587
We could add:

[code]

and toggle based on the specified value. I'd be supportive of such a change to Jest.

[2017-01-23 23:40] hramos opened #2683 "Deploy website automatically using CircleCI"
The current workflow is to deploy to build the website locally and deploy to the protected `gh-pages` branch. As a result, only people with write access can update the website.

By moving this to Circle CI, the website will be automatically deployed whenever `master` is updated, ensuring it is always up to date with the latest changes.

This is actually already implemented on this repo (see https:

[2017-01-23 23:44] cpojer commented on #2670
Don't use testPathDirs for this, it actually means "roots". We should eventually rename this option.

[2017-01-23 23:44] #2670 closed

[2017-01-23 23:48] cpojer commented on #2680
Ok, here is my shortlist after the three pillars that already mention important features (like the watch mode):

* Inbuilt code coverage
* "zero-config"
* Powerful mocking library for functions and modules
* Sandboxed test files
* Browser mocks through jsdom
* Works with any compile-to-JS language

[2017-01-23 23:53] cpojer commented on #2679
Good question. Jest's environment's should definitely stay in a separate package and, unless you can see any point in having an environment that handles mock resets differently, shouldn't have to know how to deal with these. It may make more sense to keep it in jest-runtime (Option 1) but I'm not opposed to Option 2 if you can find a clean way to do it.

(Closing as it isn't a real issue, happy to

[2017-01-23 23:53] #2679 closed

[2017-01-23 23:57] cpojer commented on #2658
* Easy Setup: 👩🏻‍💻
* Instant Feedback: 🏃🏽
* Snapshot Testing: 📸 (or 📷)

These emoji hint at:
* "Writing Tests"
* "Running Tests"
* "Snapshots"

Can we take the real SVGs from the Apple emoji set and put them on the website? What do you think about this proposal?

[2017-01-23 23:58] mockdeep commented on #449
@cpojer I'm pretty sure this does not reset `Date.now` for the next test. If we replace `Date.now` like this it will bleed into tests that follow. We have the following test:

[code]

And the output we see is:

[code]

[2017-01-23 23:59] rally25rs commented on #2626
I have jest v 18.1.0 and have `--bail` on the command line _and_ `"bail":true` in my package.json, and Jest still runs all the tests in all the files.

[2017-01-24 00:00] cpojer commented on #2626
This should be fixed in master, we fixed yet another issue with bail.

[2017-01-24 00:11] mockdeep opened #2684 "Jest useFakeTimers should also handle Date"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Calling `jest.useFakeTimers()` mocks only the timeout native functions, so any timers that also make use of `Date.now` to decide whether to do their work will end up in (effectively) infinite loops as they keep adding new timeout functions, and jest will keep calling them. One example is when try

[2017-01-24 00:15] rally25rs commented on #2626
Actually, I just realized that this was because a script in my "setupFiles" had an error. It looks like if a test suite fails to run, that doesn't trigger the "bail" and it moves on to the next suite (which will re-run the "setupFiles" scripts and fail for the same reason...)

[2017-01-24 00:27] cpojer commented on #2647
I think exposing `require('jest-snapshot').addPlugins` as `expect.addSnapshotSerializer` makes sense. Would you mind sending a PR for this use-case?

[2017-01-24 00:56] hramos commented on #2658
TextEdit and Keynote are not rendering these as vectors. The following are about as big as you can render these before any pixelation is evident.

![female-technologist](https://cloud.githubusercontent.com/assets/165856/22229458/b1848ba6-e18c-11e6-84ef-75521828d3fd.png)
![runner](https://cloud.githubusercontent.com/assets/165856/22229461/b4cbb2da-e18c-11e6-8046-24f5ce5f0431.png)
![camera-with-flas

[2017-01-24 03:38] milesj commented on #2670
Is using `testRegex` going to be the standard way? Or should it be a combination of both options?

[2017-01-24 07:33] thymikee commented on #2676
I remember @pedrottimark was discussing somewhere about `diffSnapshot` thing.

[2017-01-24 08:56] capaj commented on #770
I also have this issue. It's very mind boggling, because I have setup 2 repos and while first one works, second does not.

[2017-01-24 09:32] cpojer commented on #2676
I will eventually catch up to @pedrottimark's awesome issues where he discusses these things, mostly with himself (sorry I haven't been able to keep up, please keep posting issues. I see them :D )

[2017-01-24 09:33] cpojer commented on #2676
See #2197 and #2202.

[2017-01-24 09:34] capaj opened #2685 "throw in setTimeout/setInterval is ignored"
[code]

running in jest, I get:
[code]

Now compare that to how mocha handles it:
[code]

This is bug right? Please tell me this is a bug, not a feature.

[2017-01-24 09:38] thymikee commented on #2685
I think this is already addressed somewhere here https://github.com/facebook/jest/issues/1873#issuecomment-265573783 and here https://github.com/facebook/jest/issues/2059.

There are workarounds for that, but we should provide much better DX on this.

[2017-01-24 09:46] capaj commented on #2059
@mweststrate this should be in the jest core. Seriously, this has been lying here for two months and no one opened a PR yet? :confounded:

[2017-01-24 09:50] capaj commented on #2685
@thymikee only workaround I found was https://github.com/facebook/jest/issues/2059#issuecomment-263611085 and that's quite ugly.

IMHO Jest should fall in line with how every other spec runner handles this.

[2017-01-24 09:52] cpojer commented on #2059
@capaj seems like you are on the hook to make that PR. Jest is an open source project, if you'd like something to be fixed, please start contributing. The attitude you are showing on this issue tracker is not appropriate.

[2017-01-24 09:53] cpojer commented on #2685
@capaj please send us a PR to address this.

[2017-01-24 10:00] capaj commented on #2059
@cpojer sorry I am just very enthusiastic about my favorite OSS tools. I wasn't aware that displaying negative emotions about negative things is prohibited in jest repo. Next time, I will try to write my comments like a robot, deprived of any emotions.

[2017-01-24 10:06] cpojer commented on #2059
I'd prefer if you channeled your enthusiasm into code which will help make this project better for everyone or channel it into productive conversation. Negative comments don't help anybody; if that's the only thing you are contributing to this project I'd prefer to see you using a different testing platform.

[2017-01-24 10:09] capaj commented on #2059
@cpojer I beg to disagree, but that's a discussion for some other platform

[2017-01-24 10:11] cpojer commented on #2059
That's ok, we can disagree on this but the Jest project doesn't need your negativity and we won't accept this behavior here.

[2017-01-24 10:27] cpojer commented on #2670
`testRegex` for now, yes. We will also add a glob option soon. #2359

[2017-01-24 10:27] cpojer commented on #2658
I think this looks really good! Seems like they work fine without the white circle?

[2017-01-24 11:48] cpojer commented on #2197
I *finally* had time to read through this entire issue. Thanks for discussing so feverishly.

@faceyspacey: what you are bringing up is very interesting. We specifically didn't do any of this visual integration because we thought that it would be too slow and too annoying for engineers. However, building such a thing on top of Jest would be awesome and I'm sure many people would find it valuable.