[2022-08-08 16:33] daraclare commented on #12925
Not stale, having the exact same issue.

[2022-08-08 16:39] glasser commented on #12998
@SimenB Our resolution was to stop running with `--coverage`: https://github.com/apollographql/apollo-server/commit/4225ba6347f7e57e672a2f965f38ac7a6df914ed

[2022-08-08 17:05] SimenB commented on #12998
Not on `main` https://github.com/apollographql/apollo-server/blob/3f218e7881ba415a8817f6a8f1dca95d5571d93b/package.json#L20

[2022-08-08 17:11] glasser commented on #12998
@SimenB The commit I linked is on the `version-4` branch which is where a bunch of our active development is happening. Guessing the issue is only occurring there.

[2022-08-08 19:04] iansu commented on #12893
Closing this as it's implemented in #13056. Thanks @phawxby!

[2022-08-08 19:11] SimenB commented on #12893
Yay! 🎉

[2022-08-08 19:13] SimenB commented on #12893
The alpha works for your use case @iansu?

[2022-08-08 19:17] iansu commented on #12893
@SimenB I haven't tried it yet but I will

[2022-08-08 19:38] iansu commented on #12893
I am having trouble getting this work. I'm using `v29.0.0-alpha.4` and the command `jest --workerIdleMemoryLimit=200MB --logHeapUsage` and the heap size just keeps growing well past 200MB.

[2022-08-08 20:05] trevor-scheer commented on #12998
@SimenB what @glasser is saying is correct. The reproduction steps I provided take you to a point on the `version-4` branch where this happens. Since then, we've bypassed coverage for now in order to not block jest updates. If you wanted to confirm whether or not this issue has cleared up, you can checkout `version-4` (`npm run clean && npm i` if necessary) and run `npm run coverage`, which is the

[2022-08-08 20:22] SimenB commented on #12998
So `main` is passing with newest jest, but some other branch is failing? Sounds like it's not (solely) on jest at least. Not sure I'll be able to dig into this, but I'll try to find the time.

Note that the commit you link to only affects the opt-in v8 coverage, not the default babel based one. So unless you opt in in v8 coverage that's not the commit with the regression

[2022-08-08 20:34] glasser commented on #12998
Right now, `version-4` is our active development branch (`main` is our stable branch).

[2022-08-09 04:47] amustaque97 commented on #12925
I faced a similar issue; in my case, I could fix the test case by removing `console.log` statements from the code. Because of `console.log` in my test case promises were getting rejected instead of resolved. Once I removed that, test case is passing now :)

[2022-08-09 05:58] springuper commented on #13001
could anybody help take a look at this issue? or perhaps there are some workarounds to suppress coverage errors?

[2022-08-09 07:59] wkul9429 commented on #13007
Hi I'm also facing the same issue, what is the reason fo this
Node v16.15.1
NPM 8.11.0
jest 28.1.3

[2022-08-09 08:26] SimenB commented on #12998
The issue is with `@jridgewell/trace-mapping@0.3.10` and higher, see https://github.com/SimenB/apollo-server/commits/trace-mapping-update which is on top of the last good commit an only updates that module.

@jridgewell would you be able to take a look? The command I'm running locally is `ALLOW_CONSOLE=yes npx jest packages/server/src/__tests__/express/integrationServerless.test.ts --config packag

[2022-08-09 08:36] john-pimq commented on #11132
I also meet the problem. The jest show all tests is passed, however it return the exit code to 1 so it make my CI machine failed (this situation is appear mostly on CI machine and difficult to reproduce when running test on local). Also the error log can not help me to find the cause of the problem, I have no ideal how to handle this occasional fail test situation on my CI machine.

[2022-08-09 08:40] john-pimq commented on #9324
I also meet the problem. The jest show all tests is passed, however it return the exit code to 1 so it make my CI machine failed (this situation is appear mostly on CI machine and difficult to reproduce when running test on local). Also the error log can not help me to find the cause of the problem, I have no ideal how to handle this occasional fail test situation on my CI machine.

P.S. The error

[2022-08-09 10:43] Zebreus commented on #13098
That seems to be a error in the docs. If the node launch configuration is set to `launch`, the `port` property is not used, because vscode chooses a random port for you.

[2022-08-09 11:13] fellnerse commented on #3884
@thymikee is there any active work going on right now? I still encounter this, feels kind of weird behaviour

[2022-08-09 14:55] Zebreus opened #13110 "[Bug]: `--watch` with coverage produces inconsistent reports"
### Version

28.1.3

### Steps to reproduce

0. Clone https://github.com/Zebreus/jest-watch-bug-repro
1. Dirty the file alpha.js ( `echo " " >> alpha.js` )
7. Run `jest --watch --coverage --watchAll`
3. Observe that coverage is reported for all files
4. Press `o`
5. Observe that coverage is only reported for changed files (only `alpha.js`)
4. Press `a`
5. Expect a coverage report for all files.
6.

[2022-08-09 15:09] #13098 closed

[2022-08-09 15:28] mrsolarius commented on #13007
I can also reproduce it with this environment:
Node v16.15.0
NPM : 8.5.5
jest 28.1.3

[2022-08-09 16:25] SimenB commented on #13006
Wanna send a PR fixing it?

[2022-08-09 19:44] xenoterracide opened #13111 "[Feature]: setupExec and teardownExec"
### 🚀 Feature Proposal

I'd like a `setupExec`, `setupExecAfterEnv` and `teardownExec` that can run arbitrary commands added to the config parameters

### Motivation

For integration testing servers may need to be started and stopped, this can be accomplished with setupFiles* currently, however it takes quite a bit of effort. In my case I spent half a day figuring out how to get a `wait-for.sh` re

[2022-08-10 00:06] segrey opened #13112 "[Feature]: report beginning of every `test` or `it` via reporter API"
### 🚀 Feature Proposal

Now [Reporter API](https://github.com/facebook/jest/blob/a5a27f749c5e05e202c28a48d80fa474c822e857/packages/jest-reporters/src/types.ts#L22-L48) reports the result of every `test` or `it`, but there are no events for beginning of each `test` or `it`.

Related discussion in #6616

### Motivation

Reporting the beginning of each `test`/`it` would allow external tools (like IDE

[2022-08-10 00:12] segrey commented on #13112
@SimenB What do you think?

[2022-08-10 12:50] fellnerse commented on #9696
is there any work on this?

[2022-08-10 16:22] DanielSadovskiy opened #13116 "Is there a way to add snapshot testing for each `it` test?"
### Please do not submit this issue.

- [ ] I understand

[2022-08-10 16:22] #13116 closed

[2022-08-10 17:23] phmngocnghia commented on #12825
If the snapshot is updated, then the statement would pass inside of `test.failing`. Does this mean this test case is failed? For this case, I think we can:
- Add a flag to ignore snapshot in `test.failing`
- Add documentation about updating snapshot would update the fail snapshot in `test.failing`
- Make fail snapshots `test.fail` pass the test

[2022-08-10 18:52] iansu commented on #12893
Reopening this until I can get the new `workerIdleMemoryLimit` to work. I'll see if I can put together a repro.

[2022-08-10 21:15] VladimirGrenaderov commented on #12958
Have the same issue

[2022-08-11 11:34] greenimpala commented on #13069
Not sure if this will help everyone but I fixed all issues with a 26 -> 27 upgrade by removing ALL uses of `jest.useFakeTimer` / `jest.runAllTimers`.

[2022-08-11 11:50] SimenB commented on #12998
Opened a PR to `apollo-server` based on the above: https://github.com/apollographql/apollo-server/pull/6799

[2022-08-11 11:59] SimenB commented on #12893
@iansu see #13107

[2022-08-11 13:42] SimenB commented on #11956
https://github.com/facebook/jest/releases/tag/v29.0.0-alpha.5 🤞

[2022-08-11 14:06] phawxby commented on #12893
@iansu give it a try on the latest alpha

[2022-08-11 14:20] phawxby commented on #11956
I've got the Alpha 5 release installed locally on our problematic project and with `workerIdleMemoryLimit: '200MB'` it is working perfectly. I think that memory limit will need tuning based on your own circumstances but the point is that it's working and not crashing out due to filling the heap.

I would appreciate if others could do some validation and make sure it's working for them before this

[2022-08-11 17:01] jridgewell commented on #12998
Just seeing this, I'll take a look.

[2022-08-11 19:03] iansu commented on #12893
It's working now with alpha 5 so I'll close this. Thanks!

[2022-08-11 19:03] #12893 closed

[2022-08-11 19:56] jridgewell commented on #12998
The bug is https://github.com/jridgewell/trace-mapping/commit/165983e26d98abf2157c91469c1670f60235d8b0. Combined with [presortedDecodedMap](https://github.com/jridgewell/trace-mapping/blob/176af3dc56e62c51d8b180e38c7ae6d29e6d77bc/src/trace-mapping.ts#L313-L319) used by `@ampproject/remapping` [v2.1.2](https://github.com/ampproject/remapping/blob/v2.1.2/src/source-map-tree.ts#L123-L132) to generate

[2022-08-11 20:04] SimenB commented on #12998
Great, that works as well! Updated the PR. Thanks @jridgewell 👍

[2022-08-11 20:20] luxaritas opened #13118 "[Feature]: Support loading jest.config.ts as ESM"
### 🚀 Feature Proposal

- If `"type": "module"` is set in the package.json, `jest.config.ts` should be treated as ESM, not CJS
- `jest.config.mts` and `jest.config.cts` should be looked for and loaded as ESM and CJS, respectively

### Motivation

- This is currently the behavior with `jest.config.js`, and so ESM vs CJS handling differs between JS and TS configs
- I would like to be able to import

[2022-08-11 20:21] luxaritas commented on #13118
Related: #11453

[2022-08-11 20:50] jridgewell commented on #12998
Fixed in https://github.com/jridgewell/trace-mapping/releases/tag/v0.3.15

[2022-08-12 07:15] #12998 closed

[2022-08-12 07:44] tzimmermann commented on #11956
I can also confirm that adding a specified `workerIdleMemoryLimit` solves the issue for our test suite!
However, I noticed that using relative units did not work for our case. We're running on a CircleCI machine with 16 GB RAM and got the following results:

0.15: ❌ times out after 10 minutes, 100% RAM usage recorded
"10%": ❌ times out after 10 minutes, 100% RAM usage recorded
"200MB": ✅ after 8 m

[2022-08-12 07:50] SimenB commented on #11956
Looking at https://github.com/facebook/jest/blob/1919ef13df544a968bd2d32e5d7b8a2a1c4b35d1/packages/jest-config/src/stringToBytes.ts#L43-L45, all it does is return the value. Not sure where it's compared against available memory? @phawxby can probably enlighten us 😀

[2022-08-12 07:54] SimenB commented on #13118
PR welcome! Logic for config file resolution and reading is in https://github.com/facebook/jest/blob/1919ef13df544a968bd2d32e5d7b8a2a1c4b35d1/packages/jest-config/src/readConfigFileAndSetRootDir.ts

[2022-08-12 07:57] SimenB commented on #13118
That said, I don't think anything has changed since https://github.com/facebook/jest/issues/11453#issuecomment-1040424443

[2022-08-12 07:58] phawxby commented on #11956
The value to use as a reference is supposed to be the second argument into the function which is why it's passed in and the the value of input is updated and not directly returned.
https://github.com/phawxby/jest/blob/worker-restart-bug/packages/jest-config/src/stringToBytes.ts#L76:L77

Will investigate now.

[2022-08-12 08:00] SimenB commented on #11956
Might be `totalmem()` not working on circle ci. It's notoriously hard to get proper available hw there (e.g. `cpus()` is also completely broken, reporting 64 when there's 2 or 4)

[2022-08-12 08:35] phawxby commented on #11956
Confirmed!
https://app.circleci.com/pipelines/github/facebook/jest/8989/workflows/44c82826-d195-47e5-bf8f-c5689541a1ba/jobs/128846/parallel-runs/0/steps/0-109

<img width="297" alt="image" src="https://user-images.githubusercontent.com/1090602/184316894-70127209-0e16-427c-8be3-455f360923c4.png">

[code]

If my maths is right that's about 70GB, not 4.

[2022-08-12 08:57] phawxby commented on #11956
More info here: https://github.com/nodejs/node/issues/27170

@SimenB how would you like me to handle this? As a short term fix solution I could maybe emit a warning or throw an error if % is used and I see CircleCI env vars.

@tzimmermann it might be worth opening a support ticket with CircleCI if you can confirm my findings. GitHub doesn't have the same problem so it's something on CircleCI's end

[2022-08-12 09:09] backmask commented on #11956
FYI the behavior is coherent with `maxWorkers`. Percents will be relative to the physical CPU count on circleci, not the assigned cgroup CPU shares

[2022-08-12 09:42] phawxby commented on #11956
https://github.com/phawxby/circleci-memory

# Specification

Github
* Win/Linux: 2 cores / 7GB
* Mac: 3 cores / 14GB

CircleCI
* Windows: 4 cores / 15GB
* Linux: 4 cores / 8GB
* Mac: 4 cores / 8GB

# Reported

Github
* Windows: 2 cores / 7GiB ✔
* Linux: 2 cores / 6.8GiB ✔
* Mac: 3 cores / 14GiB ✔

CircleCI
* Windows: 4 cores / 15GiB ✔
* Linux: 36 cores / 68.6GiB ❌
* Mac: 4 cores / 8GiB ✔

[2022-08-12 09:56] backmask commented on #11956
I confirm the latest alpha version works flawlessly for us! Thanks for the fix @phawxby @SimenB

[2022-08-12 13:08] viceice commented on #11956
For us too
- https://github.com/renovatebot/renovate/pull/17151
-
but for ` @jest/test-result` only  `v29.0.0-alpha.4` is available, so it pulls some other jest `v29.0.0-alpha.4` deps

[2022-08-12 13:58] SimenB commented on #11956
@viceice yeah, we don't have lockstep versioning, so not all packages are on alpha.4. All will be released as 29 stable, tho

[2022-08-12 14:02] viceice commented on #11956
but shouldn't they depend on a range instead of fixed versions then? 🤔

[2022-08-12 14:06] SimenB commented on #11956
They don't depend on fixed versions

[2022-08-12 14:27] marr commented on #13064
:+1: at the least, the `--passWithNoTests` should prevent this error.

[2022-08-12 14:31] viceice commented on #11956
yes, sorry. my fault. 🙈

[2022-08-13 03:18] ChrisChiasson commented on #13071
Are you a real person, not a spam bot?

[2022-08-13 12:47] mrazauskas commented on #12784
From https://github.com/facebook/jest/pull/12856#issuecomment-1214150532

#12727 landed recently adding refreshed (see #13123) utility types `jest.Mocked`, `jest.MockedClass`, `jest.MockedFunction` and `jest.MockedObject`. Will be released with Jest 29. Simply `import {jest} from '@jest/globals'` and use them. Docs: https://jestjs.io/docs/next/mock-function-api#jestmockedsource

@JoshuaKGoldberg @

[2022-08-13 16:25] JoshuaKGoldberg commented on #12784
This looks like all I'd need for now, thank you very much!

[2022-08-14 03:31] unional commented on #848
Shout out to https://github.com/kayahr/jest-electron-runner to continue the archived `jest-electron-runner`

[2022-08-14 06:53] iamWing commented on #10025
[code]

Here's the import section of my test file. Jest reports `SyntaxError: The requested module 'electron' does not provide an export named 'BrowserWindow'` if I have `ts-jest` configured `useESM: true` and run jest with `NODE_OPTIONS=--experimental-vm-modules`.

Tried different syntax and workaround but no luck at all. It's clear to me that something in Jest is broken with ESM support enabled.

[2022-08-14 06:58] mrazauskas commented on #10025
@iamWing If you see the same problem without using `ts-jest`, please open a separate issue with minimal reproduction repo. It is hard to say what is going on otherwise.

[2022-08-14 07:04] iamWing commented on #10025
@mrazauskas Okay, will do. There're some other issues with ESM support enabled, will have them included in that repo as well.

[2022-08-14 07:04] calvintwr opened #13131 "[Feature]: Increase Jest stack trace"
### 🚀 Feature Proposal

Right now the error stack trace seems to be limited to 4.

### Motivation

With option to increase stack trace, it is much easier for debugging.

### Example

Provide a `stackTraceLimit` flag to allow user to specify. Like:

[code]

### Pitch

Because from time to time, we do need more stack trace to more expeditiously locate the errors.

[2022-08-14 12:13] jasonrberk commented on #10025
I switched to using td.js. It pretty much worked ootb

On Sun, Aug 14, 2022, 3:04 AM Wing Chau ***@***.***> wrote:

[2022-08-14 15:48] SimenB commented on #12903
You can upgrade in your own lockfile, jest doesn't have to change

[2022-08-14 15:48] #12903 closed

[2022-08-14 15:50] SimenB commented on #13030
What's the use case for using `runTest` directly instead of the exported class?

[2022-08-14 16:41] soroushm commented on #11628
+1

[2022-08-14 16:50] bjoluc opened #13134 "[Bug]: Asymmetric matcher Object does not implement toAsymmetricMatcher()"
### Version

28.1.3

### Steps to reproduce

* Clone https://github.com/bjoluc/jest-asymmetric-matcher-repro
* `npm install`
* `npm test`

### Expected behavior

I expect `My test case` to pass and to write a snapshot.

### Actual behavior

`My test case` fails with [`Asymmetric matcher Object does not implement toAsymmetricMatcher()`](https://github.com/facebook/jest/blob/1cce9a7dc194103576fad6c2

[2022-08-14 17:33] #12942 closed

[2022-08-14 19:35] benblank commented on #12987
This issue persists in v28.1.3 (unsurprisingly) as well as v29.0.0-alpha.5 (though the inline snapshot also needs a minor tweak). The repro linked in the original post has been updated to use v29.0.0-alpha.5.

[2022-08-14 19:53] iamWing commented on #10025
@jasonrberk Hi, can you further explain what's it? I googled td.js but couldn't found anything likely to be related to Jest and the ESM issue.

[2022-08-14 19:57] bjoluc commented on #13134
I guess this was introduced by https://github.com/facebook/jest/pull/12626

[2022-08-14 20:04] jasonrberk commented on #10025
not related to Jest.  TestDouble.js is an entirely different ES6 testing
framework:

https://github.com/testdouble/testdouble.js/

https://github.com/testdouble/testdouble.js/tree/main/examples

Thanks,

Jason Berk
***@***.***

On Sun, Aug 14, 2022 at 3:53 PM Wing Chau ***@***.***> wrote:

[2022-08-14 20:36] iamWing commented on #10025
Thanks buddy. Not exactly what I'm looking for as I'm maintaining a boilerplate that I do need a very good enough reason to introduce yet another framework into that project, but will keep an eye on it and see if it's gonna be useful on my other projects.

[2022-08-15 00:10] iamWing opened #13135 "[Bug]: jest.mock not working with ESM support activated"
### Version

28.1.3

### Steps to reproduce

1. Clone my repo: https://github.com/iamWing/jest-esm-mock-issue
2. `npm I`
3. `npm run start` to verify Electron app shows up without issue
4. `npm t` to run jest for the error

### Expected behavior

Expecting Jest to mock functions `app.on`, `app.whenReady` and component `BrowserWindow` from `electron`, then execute the test cases with the mocked fun

[2022-08-15 02:09] ikonst opened #13136 "Construct for repeating tests"
### 🚀 Feature Proposal

An easy way to modify a test to run multiple times until it fails.

Currently possible to change
[code]
to something like
[code]
but it's cumbersome, does not concisely capture the intention, and doesn't stop on failure.

Surrounding test code in a for-loop is also suboptimal since it doesn't execute cleanup code between runs.

### Motivation

When debugging a flaky test, i

[2022-08-15 05:10] phil-tutti commented on #13018
Bumping it in order to not be auto-closed

[2022-08-15 06:07] mrazauskas commented on #13135
Thanks for repo. Easy to fix. Change your test file like this:

[code]

As you suspected – ESM evaluates `import` statements before looking at the code. So you have to `mock` before importing. Same applies for for modules which have to load mocked modules (in this case it is the `main.cjs` which loads `BrowserWindow`).

This pattern worked with CJS, because `babel-jest` transformer is moving `jest

[2022-08-15 08:19] shangguanyi666 commented on #10959
i met the same problem with lodash, have you fixed this problem?

[2022-08-15 09:12] phawxby commented on #11956
@tzimmermann @SimenB

From CircleCI support.

So their recommendation is to switch to Machine executors if you need accurate CPU/RAM figures. As a solution to the issue I have suggested why not just make the advertised CPU and RAM available via an environmental variable and we can just write helpers for both which look for that first. If you want this maybe email CircleCI support asking for the sa

[2022-08-15 09:23] SimenB commented on #11956
I spent some time on this years ago (e.g. https://github.com/semantic-release/env-ci/issues/51), but I don't really have the energy now.

But yeah, getting good numbers in a reliable way would be sweet. It's not related to _this_ issue, tho

[2022-08-15 10:46] kettanaito commented on #12691
The pull request is opened since a few months back: https://github.com/facebook/jest/pull/12871
I'd appreciate some final review from the team to have it merged.

[2022-08-15 11:18] ackvf commented on #12545
@SimenB Do you think it would be reasonable to add a **bug** flag to this ticket too? Given the video above, there is over 1 minute of stale time where jest doesn't seem to do anything. I wonder what is happening.

[2022-08-15 11:39] ackvf commented on #12545
I haven't been working on this project for several months now, but I just tried to update the `jest ts-jest babel-jest` packages to `v28` and the long delay seems to be gone, so the "bug" from above seems to be resolved, however, it still tries to run all tests first, before providing me with the menu.
It would have been so much easier to skip the test runner and go to the **Watch Usage** menu dir

[2022-08-15 13:41] iamWing commented on #13135
Hi @mrazauskas, thanks for your reply. I've tried using dynamic import but it seems that the `BrowserWindow` is still not mocked.

The following test resulted in error:
[code]

Error:
[code]

Also tried using the `unstable_mockModule` API but it doesn't work on `electron`, as I think `electron` is still not an ES module(?).

[2022-08-15 14:57] noomorph commented on #12843
Jest 28.1.3 fails at this example just as it did the first day. 🤷‍♂️

The issue is **relevant**.

[2022-08-15 17:23] AlexMesser commented on #10662
Having the same issue with `node:16.14.0` + `--experimental-vm-modules` flag. Tests successfully passed on the local machine but fails on GitHub Actions with `Segmentation fault (core dumped)` error.

Setting  `maxWorkers` to 3-4-5 causes tests to stuck.
Setting `--runInBand` flag causes fail on a local machine with `segmentation fault  npm test` error.

[2022-08-15 18:31] tjenkinson commented on #11354
Hey https://github.com/facebook/jest/pull/13139 might fix this. It sounds like the same symptoms.

Please could you try adding a
[code]
to your config and in `jest-setup.js` put

[code]

and then run jest with `--expose-gc`, so probably `node --expose-gc ./node_modules/.bin/jest` ?

Does that fix it?

[2022-08-15 18:54] #12858 closed

[2022-08-15 20:28] staplespeter opened #13140 "[Bug]: Mocking of getters/setters on automatically mocked classes does not work"
### Version

28.1.3

### Steps to reproduce

Follow the instructions in the guide for automatic mocks and getters/setters.
https://jestjs.io/docs/es6-class-mocks#automatic-mock

### Expected behavior

Expect the mock to be created without error

### Actual behavior

Error "property does not exist"

### Additional context

related to https://github.com/facebook/jest/issues/9675

Currently fixing th

[2022-08-15 20:58] staplespeter commented on #13140
This is still broken in Jest@28.1.3.

I have defined an class with a getter **objectName** in a superclass.
I am mocking the subclass.
Jest navigates the object hierarchy for the mock object and tries to get the property descriptor to create the default mock entity for each property.
This last step is done in /jest-mock/build/index.js
[code]
This is what the debugger sees at this point (undefined)

[2022-08-15 20:58] staplespeter commented on #13140
So there are several issues with the coding for getter methods (this will likely effect setters too).

Firstly, in _/jest-mock/build/index.js_ the code that should add the named getter method explicitly ignores it if there is a **get** property defined (which there is of course).  This will not effect setter only properties, at this point anyway.
[code]
Once the properties to mock have been retrie

[2022-08-15 21:12] staplespeter commented on #13140
Made some changes but have no access to push.

Now working:
- Direct mocking of instance and static getters/setters on classes and superclasses
- Mocking of instance and static getters/setters on classes.

Not yet working:
- Mocking of instance and static getters/setters on superclasses.

Files are:
- jest/packages/jest-mock/src/index.ts
- jest/packages/jest-mock/src/__tests__/accessor-methods.tes

[2022-08-16 03:55] #11672 closed

[2022-08-16 07:05] mrazauskas commented on #13135
Ah.. The are different solution, but perhaps it would be the best to `require()` CJS modules:

[code]

Also works:

[code]

Or (least elegant for my eye):

[code]

[2022-08-16 13:10] YusufK22 commented on #13084
I can take this up if no one wants it.

[2022-08-16 13:11] kkyusufk commented on #13084
I can take this up if no one wants it.

[2022-08-16 13:24] mrazauskas commented on #13140
Did you try opening a [Pull Request](https://github.com/facebook/jest/blob/main/CONTRIBUTING.md#workflow-and-pull-requests)?

[2022-08-16 14:00] SimenB commented on #13084
PR very much welcome! I'm surprised it doesn't work already 😅

[2022-08-16 14:02] kkyusufk commented on #13084
I will take a look, it probably will end up being a one line change 😉

[2022-08-16 15:20] wmertens commented on #9210
Hitting this too. There should be a setting to disable this functionality.

I tried editing jest-circus/build/globalErrorHandlers.js in place, commenting out the inject and restore, and then jest crashes at the site of the uncaught error that later gets caught.

So maybe it's actually a problem with node's detection being too eager?

[2022-08-16 20:33] wmertens commented on #9210
When I replace the uncaught function with the below, my tests pass, and my app works just fine. This should be a command line option.

[code]

[2022-08-16 23:42] MasterOdin opened #13143 "[Feature]: Allow using tsx instead of ts-node for loading TS config files"
### 🚀 Feature Proposal

I would like to be able to use the [`tsx`](https://github.com/esbuild-kit/tsx) compiler for handling the `jest.config.ts` file, as opposed to relying on ts-node.

### Motivation

`tsx` is a quickly rising alternative to ts-node as it runs much faster as it runs on the back of esbuild, and doesn't do typechecking. While parsing the jest configuration file should already be g

[2022-08-16 23:43] alexlonginc commented on #3322
how does the above pull request actually solve this?

[2022-08-17 02:00] ChrisChiasson commented on #13071
Ok, then you have my permission... not that I have any right to tell you what to do on a public repo that I don't own

[2022-08-17 03:32] RickWillcox commented on #2582
@apperside solution is the one that finally worked me me.
https://github.com/facebook/jest/issues/2582#issuecomment-1082800661

Set up
In package.json
[code]

 Then in `jestSetup.ts`
[code]

 Then in test file  `app.test.ts`
[code]

 Should note that this also works if `mockedModuleFunction` is being called from another function. So say `mockedModuleFunction` is called by `otherFunction`. For exam

[2022-08-17 07:22] bradjones1 opened #13144 "[Bug]: Regression in v28, open handle from `MessageChannel()`/`scheduler`"
### Version

28.1.3

### Steps to reproduce

I'm not exactly sure what component of my codebase is triggering the handle, but the stacktrace (see below) and other reports seem to indicate this is from `scheduler`, particularly [this line](https://github.com/facebook/react/blame/8ef3a7c08c55c13995267902859381da8b5985ac/packages/scheduler/src/forks/Scheduler.js#L573). I will try to isolate an MVP de

[2022-08-17 07:32] bradjones1 commented on #13144
Looks like this was supposed to be fixed in React 17.1, but that never landed? https://github.com/facebook/react/issues/20756#issuecomment-780927519

[2022-08-17 07:32] #13144 closed

[2022-08-17 07:34] SimenB commented on #13144
Yeah, we use `react-16-node-hanging-test-fix` at work for the RN tests and ignore the (wrong) log message that it's not needed. No idea why React hasn't fixed made it redundant

[2022-08-17 09:40] jeremycare commented on #7434
To run our large E2E solution that needs to run in order, we needed to have this feature.

As a workaround for that, we decided to split tests into different tests files.
Then use the [testSequencer](https://jestjs.io/docs/configuration#testsequencer-string) to play tests in order.

We replaced:
`beforeAll` by [globalSetup](https://jestjs.io/docs/configuration#globalsetup-string)

`afterAll` by [g

[2022-08-17 12:31] #12940 closed

[2022-08-17 15:15] timoxley commented on #9210
Sure, though this makes all uncaught rejections into acceptable behaviour, but at least it's giving some indication that the error was unhandled 👍

[2022-08-17 15:46] carlosjeurissen commented on #12940
@vviotto @SimenB This is still an issue in the latest Jest. Would be great if it can be reopened.

[2022-08-17 16:36] staplespeter commented on #13140
I have now issued a pull request for this change

[2022-08-17 17:15] satanTime commented on #12678
Up

[2022-08-17 19:13] MirandaBrawnerSavannah commented on #13071
Well, I'm having trouble getting started because `yarn install` is failing. When I run it, I get a huge error log with lots of errors  that say `RequestError: getaddrinfo ENOTFOUND registry.yarnpkg.com`. I'm not sure what to do about it.

[2022-08-17 19:33] #13084 closed

[2022-08-17 19:50] blimmer commented on #11956
I tested the `workerIdleMemoryLimit` and it's at least usable with newer versions of Node.

However, it doesn't feel like it really solves the problem. Using the runner published as part of this PR: https://github.com/facebook/jest/pull/12205#issuecomment-1150255655 doesn't require worker restarts because it fixes the memory leak altogether in our application.

With `workerIdleMemoryLimit` and no

[2022-08-17 20:42] wmertens commented on #9210
Well it's odd, I encounter the same situations in prod and there node doesn't complain about uncaught exceptions or rejections, and I have handlers for them.

So it seems that Jest somehow triggers node into not being ok with async catchers?

[2022-08-17 21:06] timoxley commented on #9210
@wmertens ah that's an issue as well, jest replacing your own handlers

[2022-08-17 21:46] phawxby commented on #11956
@blimmer that's the odd thing, even with the other runner we found our application continued to leak so remained unusable hence the reason for the feature I wrote. I don't know why it continued to leak for us but I suspect it's something related to the way module/require caching works but I couldn't confirm it. The inability to implement `importModuleDynamically` without reintroducing the memory l

[2022-08-17 21:58] max-b commented on #5048
FWIW Create React App is depending on this implicit API: https://github.com/facebook/create-react-app/blob/3880ba6cfd98d9f2843217fd9061e385274b452f/packages/react-scripts/scripts/test.js#L129

[2022-08-17 22:05] SimenB commented on #11956
Ideally we'd use `compileFunction`, we went _back_ to `Script` due to other performance issues with it 😅

But yes, this is really a bug in Node (or rather, v8) that we're trying to work around up until it's fixed upstream

[2022-08-17 22:40] davecardwell commented on #12911
Commenting to keep this alive.

[2022-08-17 23:15] blimmer commented on #11956
@phawxby - thanks for the link to that Node issue, I'll have a look and subscribe. Out of curiosity, are you using Datadog's `dd-trace` library in your application? I think there's (yet) another memory leak issue there: https://github.com/DataDog/dd-trace-js/issues/2297.

[2022-08-18 07:36] wmertens commented on #9210
Well I'm my case that's not an issue, the handlers are only added in prod and they never fire.

[2022-08-18 12:11] jangdelong opened #13147 "It doesn't appear that this works anymore, on the latest version of the `jest` CLI (26.6.3)."
It doesn't appear that this works anymore, on the latest version of the `jest` CLI (26.6.3).

`jest --collectCoverageFrom='["packages/**/index.js"]' --coverage`

Is there another way to provide multiple options from the command line for `--collectCoverageFrom`?

_Originally posted by @dougrday in https://github.com/facebook/jest/issues/1932#issuecomment-782241370_

[2022-08-18 12:23] #13147 closed

[2022-08-18 13:44] mario-petrovic commented on #8308
@pedrottimark a bit late on this discussion, but as i see in the PR that was the product of this issue still accepts `{}` to be equal to any object. In that PR circular dependencies are handled.

Just pointing to the fact that people should expect this still to happen. For me it was not clear that closing this issue did not make test with mentioned assertion fail.

[2022-08-18 21:18] anomiex opened #13148 "[Bug]: getExportsOfCjs resolves reexports using wrong condition"
### Version

28.1.3

### Steps to reproduce

1. Extract the minimal reproduction from [this zip file](https://github.com/facebook/jest/files/9377717/test.zip)
2. Run `yarn install`
3. Run `yarn test`

### Expected behavior

All tests pass

### Actual behavior

One test fails
[code]

### Additional context

This appears to be because this code uses `esmConditions` rather than `cjsConditions`, so th

[2022-08-18 21:37] phawxby commented on #11956
Nope, not in our project. I did spend some time when I initially started investigating this trying to narrow down which modules were causing the issue but with no luck.

[2022-08-18 22:09] iamWing commented on #13135
I agree that it’s probably better to import CJS modules by using `required()`. Perhaps we should update the [ECMAScript Modules](https://jestjs.io/docs/ecmascript-modules) to include things we discussed here so there’s less confusion for anyone attempting to enable ESM support. Maybe the `mock` document as well.

[2022-08-19 02:42] ckcr4lyf commented on #11956
I noticed it works great locally as well - however in our CI it just escalates (memory usage) for some reason. Using k8s to run our test image. BUt if I run the exact same image locally it is fine, so I am guessing maybe it is also soemthing to do with k8s / CI physical CPU stuff :confused:

[2022-08-19 13:36] #11561 closed

[2022-08-19 14:01] SimenB commented on #11561
https://github.com/facebook/jest/releases/tag/v29.0.0-alpha.6

[2022-08-19 15:35] Torsitano commented on #12952
Issue still present

[2022-08-19 18:29] Nokel81 commented on #12999
This is still relevant

[2022-08-19 18:30] SimenB commented on #12999
Wanna send a PR? 🙂

[2022-08-20 05:12] wmertens commented on #13029
This is still a problem.

Somehow, Jest is causing rejections that are handled to be unhandled. I'm also seeing this more explicitly in another project, where Node's uncaught rejection handler fires in test but not in prod.

Could it be due to VM Modules or so, somehow confusing Node.js? @SimenB would be great if you could take a look.

[2022-08-20 06:40] wmertens commented on #9210
I created a PR that at least marks uncaught errors with their reason, but it doesn't explain why I'm getting uncaught errors that are clearly caught.

[2022-08-20 06:41] wmertens commented on #13029
When I repro this with PR #13152 I can see that the error it throws was an uncaught rejection. But as you can see, the code works fine when ran outside Jest.

[code]

[2022-08-20 06:51] GittyAjay opened #13153 "[Bug]: TypeError: Cannot read properties of undefined (reading 'enableGlobally') at jestAdapter (../node_modules/jest-circus/build/legacy-code-todo-rewrite/jestAdapter.js:39:25)"
### Version

28.1.3

### Steps to reproduce

while adding detox in react native project

### Expected behavior

test need to work properly

### Actual behavior

 TypeError: Cannot read properties of undefined (reading 'enableGlobally')

 at jestAdapter (../node_modules/jest-circus/build/legacy-code-todo-rewrite/jestAdapter.js:39:25)

### Additional context

_No response_

### Environment

[code]

[2022-08-20 06:54] wmertens commented on #13029
Probably https://github.com/facebook/jest/issues/9210#issuecomment-1194071587 is a more straightforward repro

cc @JaroVDH

[2022-08-20 07:01] #13153 closed

[2022-08-20 07:35] limitedAtonement opened #13154 "[Bug]: jest.fn constructor doesn't return mockImplementation"
### Version

27.5.1

### Steps to reproduce

`package.json`:

    {
        "name": "test",
        "dependencies": {
            "react-scripts": "5.0.1",
            "web3": "^1.7.5"
        },
        "scripts": {
            "test": "react-scripts test",
            "check": "jest --version"
        }
    }

`App.test.js`:

    import Web3 from 'web3';

    jest.mock('web3', ()=>{
        retu

[2022-08-20 15:35] miguelfdezc commented on #12495
Hi! I would like to contribute if there's anything left I can help with @SimenB

[2022-08-20 15:38] miguelfdezc commented on #12495
@paulreece are you still working on the changes? I checked your PR and it says the branch has some conflicts (I guess some parts have been updated after)

[2022-08-20 16:12] paulreece commented on #12495
@miguelfdezc @SimenB Thank you for pointing this out.  The merge conflicts have now been resolved.  All of the admonitions have been implemented and it's ready for merge.

[2022-08-20 16:40] AndrewSouthpaw commented on #13048
Hi there, this is still an issue. Any ideas on what might be going wrong? Hopefully the minimal repro helps.

[2022-08-20 18:32] stephenh commented on #12880
We really need something like this because sometimes our connection pool ends up in an `toEqual` and it OOMs/blows up.

I.e. an assertion like:

[code]

When it fails will try to "kind of toJSON-but-not-really" `a1`, end up crawling into the connection pool/various very cyclical data structures, and blow up.

We've made our own custom matcher that works around this, `expect(...).toMatchEntity(a1)`

[2022-08-20 19:01] avidan-chen commented on #11354
@tjenkinson I am unable to replicate the error at this time. Not sure what changed, whether it's my cod, Jest version or other dependencies.

[2022-08-21 01:18] mildmojo commented on #13135
This discussion was helpful, but I can't seem to replicate it in my own ESM project with Node v16.16.0 and jest v28.1.3.

[code]

[code]

My test fails because the module under test still didn't get the mocked version of `execSync`. I get the same failure if I selectively mock `execSync` (like mrazauskas does), with `jest.mock('node:child_process, () => ({ execSync: jest.fn() }))`.

[code]

It _do

[2022-08-21 03:51] UriConMur commented on #11665
Im having same issues, there is nothing else I can do to awai the mongoose.connect or mongoDB.connect async.
Plese let us know if there is a workaround.

[2022-08-21 04:52] mrazauskas commented on #13135
@iamWing Good idea. I think it would be great to add an example with `jest.unstable_mockModule()` (see https://github.com/facebook/jest/issues/10025#issuecomment-1016690087) and your case with `electron` to ECMAScript Modules guide. Perhaps a link from `jest.mock()` would be enough for now? I mean, ESM in Jest is still considered experimental, so keeping docs in ECMAScript Modules guide makes sens

[2022-08-21 04:56] mrazauskas commented on #13135
@mildmojo

Did you try like this:

[code]

[2022-08-21 06:40] #12806 closed

[2022-08-21 08:17] ramiloif opened #13158 "[Bug]: await expect.rejects.toThrowError() does not work properly with custom error"
### Version

v28.1.3

### Steps to reproduce

Reproduce: just run the following:

[code]

The bug is in the last test name: `"async error validation with error not extends Error"`

### Expected behavior

I expect the async case to behave as sync
and `await expect(fun).rejects.toThrowError();` to work in the last test case

### Actual behavior

[code]

The test fails

### Additional context

_No re

[2022-08-21 09:40] mildmojo commented on #13135
@mrazauskas Thank you! That got me moving. I guess `unstable_mockModule` is undocumented, but needed instead of `.mock()` for ESM modules? I found the PR where it was added; seems transitional.

I also needed to make sure that if I provided a mock implementation, I manually restored that implementation after `jest.resetAllMocks()`. My working test code looks like this:

[code]

[2022-08-21 10:50] aronilie commented on #11665
I'm having the same problem while doing:

`const user = {
  userName: "lionardo",
  password: "freeSabana",
};

describe("Given the route /register", () => {
  describe("When the method is POST", () => {
    test("Then a valid endpoint should have been sent a 201 code and registered a user", async () => {
      await User.deleteMany();
      const response = await request(app).post("/users/registe

[2022-08-21 16:02] #7584 closed

[2022-08-21 17:06] guimard commented on #12957
Confirmed

[2022-08-21 20:16] iamWing commented on #13135
Yeah I think it makes sense to keep the examples in the ECMAScript Modules guide. Docs will need to be changed when the APIs are stabled for ESM support anyway.

[2022-08-22 07:24] SimenB commented on #11135
#13157

[2022-08-22 07:24] #11135 closed

[2022-08-22 09:05] huiman opened #13159 "[Bug]: weird jest running"
### Version

27.5.1

### Steps to reproduce

test('PREDATA_FOR_SALE_TRANSFER', async () => {
  await reset();
  await testOpenBalance();
});

describe.skip('test_TRANSFER_concurent_manaully', () => {
  test('transfer', async () => {
    const ret = await testTransfer();
  });
});

run jest -t 'PREDATA_FOR_SALE_TRANSFER'

result correct but when change test('transfer' to test.concurrent('transfer'

[2022-08-22 09:14] #13159 closed

[2022-08-22 09:55] SimenB commented on #12959
Wanna send a PR?

[2022-08-22 09:59] SimenB commented on #12957
`resolves` is async, so you need to wait for it (or return the promise).

[code]

or

[code]

https://github.com/jest-community/eslint-plugin-jest/blob/main/docs/rules/valid-expect.md can help you discover cases where this is not done

[2022-08-22 09:59] #12957 closed

[2022-08-22 10:28] #11689 closed

[2022-08-22 10:36] huiman commented on #13159
alright

[2022-08-22 11:22] SimenB commented on #12952
Yeah, this isn't currently possible - see https://github.com/facebook/jest/issues/11453#issuecomment-1040424443. In #12397 we enforce CJS, might be we should tweak this. It's unfortunate this requires using a loader, tho... Would love to figure out a good way for Jest to just ask `ts-node` to load the config for us without caring about what flavour of module system it's written in

[2022-08-22 11:36] guimard commented on #12957
Thanks @SimenB !

[2022-08-22 14:15] SimenB commented on #12806
Bisecting leads to #12642 (and reverting it makes `main` of this repo produce 100% coverage).

I'm not sure what global is impacting stuff, but maybe it can help others dig.

However, upgrading to `typeorm@0.3.7` also fixes the issue, so I don't think there's much need to keep digging in Jest.

Reverting patch, FWIW:

[code]

[2022-08-22 14:22] SimenB commented on #12806
Specifically, `0.2.45` produces the missing coverage, but `0.3.0` (and later) has it. So I'm _guessing_ it has something to do with how they compile and/or to feature detection. Either way, seems the solution is to upgrade `typeorm` 🙂

[2022-08-22 14:26] ddurschlag commented on #12959
Sure! What behavior would you like? I could swap the presets and options so that presets always win, I could specifically pull rootDir from presets and overwrite with it at the end, or (most complicated) I could try to separate "options" from "default options" and merge default options -> presets -> options.

[2022-08-22 16:31] SmashingQuasar opened #13160 "[Bug]: Jest used with Babel (babel-jest) and TypeScript does not properly handle Object.prototype"
### Version

28.1.3

### Steps to reproduce

1. Clone this sample repository: https://github.com/SmashingQuasar/jest-object-prototype
2. (optional) If using Docker, launch `./docker/up.sh`. It will start a container properly setup using the correct Node.JS version (16.17.0).
3. (optional) If using Docker, enter the container using `docker exec -it jest-object-prototype bash`.
4. Launch `yarn` to i

[2022-08-22 16:50] Biki-das opened #13161 "[Feature]: Add a Jest architecture Blog"
### 🚀 Feature Proposal

I would like to add a small write up on the internal architecture of Jest, this can be potentially released as a blog in the blog section and can acts helpful to anybody who is curious around the internal.

For now i have think of explaining what is jest, explaining the Jest architecture  and including some external links and talks describing the same

also thinking of code

[2022-08-22 16:51] Biki-das commented on #13161
@SimenB thoughts on the same!

[2022-08-22 18:33] jiejasonliu opened #13162 "[Bug]: _fakeSetTimeout strips decimal from delay"
### Version

27.4.0 (and latest)

### Steps to reproduce

Write a test using fake timers -- `jest.useFakeTimers()`
1. Call `setTimeout` with a floating point delay (e.g. `16.99ms`)
2. Observe that the callback is called in `16ms` instead of `>= 16.99ms`

### Expected behavior

Callbacks from timers shouldn't yield until at least the delay with its decimal points.
In other words, `16.99ms` shouldn'

[2022-08-22 18:46] stephenpassero commented on #12880
@ittays ☝️ ?

[2022-08-23 04:25] #12961 closed

[2022-08-23 07:15] richardkazuomiller commented on #10025
Does `__mocks__` in the root directory also not work for mocking node modules? I'm trying to do that but the file I'm testing doesn't import the mock.

[2022-08-23 07:50] mrazauskas commented on #13135
Agreed (; Are you up to opening a PR?

[2022-08-23 10:33] kulkarnipradnyas opened #13163 ">`error TS1343: The 'import.meta' meta-property is only allowed when the '--module' option is 'es2020', 'esnext', or 'system'.`"
That's a typescript error, it doesn't come from jest. Probably an issue for `ts-jest` - Jest itself does zero type checks

_Originally posted by @SimenB in https://github.com/facebook/jest/issues/11634#issuecomment-967007933_

[2022-08-23 10:35] SimenB commented on #13163
Please use the templates

[2022-08-23 10:35] #13163 closed

[2022-08-23 11:13] SimenB commented on #12944
Yeah, Jest doesn't look at `tsconfig`, so any path replacements needs to be in `moduleNameMapper`

[2022-08-23 11:13] #12944 closed

[2022-08-23 12:54] #12852 closed

[2022-08-23 13:18] KuSh commented on #10791
According to https://github.com/kulshekhar/ts-jest/issues/3630#issuecomment-1193188137 switching to v8 coverage collector fixes the problem.
It did for me 👍

[2022-08-23 13:36] #10791 closed

[2022-08-23 13:57] SalahAdDin commented on #10791
I am trying `vitest`, so, no idea about this.

[2022-08-23 14:20] KuSh commented on #10791
This is a jest setting

[2022-08-23 14:30] spinlud commented on #9420
Same here, I need `--runInBand` because the tests are very time sensitive and the parallel execution mess up things. Still unable to find a way to show the progress bar though (or any kind of progress output) 🙁

[2022-08-23 14:40] SimenB commented on #13162
Have you tested this in other environments? As far as I know, browsers all store the delay as an integer under the hood, meaning any fraction is discarded.

https://developer.mozilla.org/en-US/docs/Web/API/setTimeout#maximum_delay_value

And running the following snippet would end up in `second` being logged first if the decimal was respected

[code]

This consistently prints `first` then `second`

[2022-08-23 17:43] jiejasonliu commented on #13162
Oh I see, wasn't aware that browser implementations coerce this to an 32-bit signed integer.
I guess the odd-case is the mocked `rAF` implementation is basically a `setInterval` for `16ms` which is `~62.5FPS`.

But since the delay matches browser behaviors, I'll be closing this issue.

[2022-08-23 17:43] #13162 closed

[2022-08-23 19:22] G-Rath opened #13164 "[Feature]: remove alised matchers"
### 🚀 Feature Proposal

From https://github.com/jest-community/eslint-plugin-jest/issues/1210#issuecomment-1222902544

Let's axe the following matchers:

[code]

in favor of their native counterparts:

[code]

### Motivation

* Removing duplicated matchers will return Jest's size a little
* We've already identified the preferred matcher in each set
* [`no-alias-methods`](https://github.com/jest-co

[2022-08-23 20:21] CSchulz opened #13165 "[Bug]: using own class for testEnvironmentOptions.cookieJar in jsdom environment doesn't work"
### Version

28.1.0

### Steps to reproduce

Set in your jest.config.js the test environment like the following:

    testEnvironment: 'jsdom',
    testEnvironmentOptions: {
      url: 'http://localhost.local/',
      cookieJar: new jsdom.CookieJar(undefined, {
        allowSpecialUseDomain: true,
      }),
    },

Run any test which is using some XHR requests or similar.

### Expected behavior

T

[2022-08-23 23:24] dpchamps commented on #12820
Not stale

[2022-08-24 04:18] iamWing commented on #13135
@mrazauskas sure. Let's see if I can find some time to make it later this week.

[2022-08-24 05:31] #11775 closed

[2022-08-24 07:58] SimenB commented on #13164
Yeah, this should be fine to do for v30 👍

[2022-08-24 09:35] nover commented on #11956
We're also experiencing massive memory leak problems on a mono-repo setup using jest as the test runner. Upgrading to jest `29-alpha.6` does not solve the problem, it's still leaking around 80mb per test suite.

Looking at heap memory snapshots from the debugger, it looks like it's modules being cached over and over again for each suite.

Any advice on how to continue debugging this is greatly app

[2022-08-24 10:20] KyDenZ commented on #13007
With Jest 27 I didn't have the problem, when I switched to Jest 28 I had the same error.

I had problems importing in the files where I had this error.

I don't know why it was not a problem with the build and with version 27.

Now it works

[2022-08-24 10:39] nurit-levi-hs commented on #11394
Any update for this one?

[2022-08-24 11:53] phawxby commented on #11956
Did you remember to set an idle memory limit?

[2022-08-24 12:09] alecmev opened #13167 "[Bug]: `--selectProjects` and other varargs force a specific order of options"
### Version

28.1.3

### Steps to reproduce

[code]

### Expected behavior

Jest runs test files matching `bar` in the project `foo`.

### Actual behavior

Jest runs all test in projects `foo` and `bar`.

### Additional context

This has been discussed before in https://github.com/facebook/jest/issues/10870 and https://github.com/facebook/jest/issues/10878, without resolution.

There needs to be a

[2022-08-24 13:12] limitedAtonement commented on #13154
It looks like react-scripts adds the `resetMocks: true` jest configuration: https://github.com/facebook/create-react-app/blob/7e4949a20fc828577fb7626a3262832422f3ae3b/packages/react-scripts/scripts/utils/createJestConfig.js#L69 which was messing up my tests. Hopefully the next guy can figure this out much faster than me!

[2022-08-24 13:12] #13154 closed

[2022-08-24 13:38] phawxby commented on #11956
Remove those params, `--expose-gc` prevents module cleanup and `--runInBand` disables workers so there's no workers for it to clean-up.

This should work fine assuming you have `workerIdleMemoryLimit` set
node node_modules/jest/bin/jest.js --logHeapUsage

[2022-08-24 14:16] nover commented on #11956
Thanks - `expose-gc` removed, however this particular test-suite requires `runInBand` as it's kind of a mixed bag of beans in terms being unit-tests and integration tests with shared resources (a database).

It still fails though.

This particular jest stack is quite heavy, with `jest-extended`, `jest-when`, `ts-jest`, custom verifications after test runs and so on.

[2022-08-24 14:46] stephenh commented on #11956
@phawxby oh wow, sorry for the "newbie user support" clarification/distraction to this main thread, but when you say:

Personally, I've been cargo-culting around `--expose-gc` whenever I put in `--logHeapUsage`, because "that's what everything I copy/pasted from" did, and I assumed `--expose-gc` was required for `--logHeapUsage` to work.

Is this not the case? If so, that's great! ...almost makes

[2022-08-24 15:00] phawxby commented on #11956
@nover unfortunately there's nothing in the coming release to help you, without workers there's nothing for it to restart. A possible solution might be to change the current `shouldRunInBand` rule so that it ignores the current number of workers. That way it makes it possible to run tests linearly but without requiring them to run in the same process so that it spawns a worker. If you wanted to do

[2022-08-24 17:42] campanula commented on #12759
@vladfrangu Did you import any specific packages into the tests where you experienced the issue? I've managed to reproduce the issue quite minimally, but only in this content: https://github.com/campanula/jest-discordjs-bug

[2022-08-24 19:14] cowboyd commented on #12259
👋🏻 kthxbai!

[2022-08-25 05:05] shaobeichen commented on #13007
oh thanks, i'll try it tonight

[2022-08-25 05:07] wkul9429 commented on #13007
My issue was with mocks, after fixing them issue got resolved

[2022-08-25 08:17] #13007 closed

[2022-08-25 08:17] zyf0330 commented on #2157
With idea from @acontreras89 , I don't need to `flushPromises`, just let Jest `doNotFake` `nextTick` to make Promise works.

[2022-08-25 09:18] SimenB commented on #12759
Thanks @campanula! I was able to use that to track down the underlying error 🙂

[2022-08-25 11:24] #12759 closed

[2022-08-25 12:47] SimenB commented on #11561
https://github.com/facebook/jest/releases/tag/v29.0.0

[2022-08-25 12:48] SimenB commented on #11956
https://github.com/facebook/jest/releases/tag/v29.0.0

[2022-08-25 12:49] SimenB commented on #11956
As for forcing single worker rather than in band - not sure about that one. At some point I think we should limit how much gnarly code we add solely to work around a bug in v8....

[2022-08-25 12:50] SimenB commented on #13052
https://github.com/facebook/jest/releases/tag/v29.0.0

[2022-08-25 13:06] SimenB commented on #13061
@ChocolateLoverRaj I cannot reproduce - the snapshot _is_ written to `lib/`.

[2022-08-25 13:21] nover commented on #11956
I'm curious about the design decision in `jest`: why is `run in band` not just a single worker by default? Is there a decision record somewhere you can point me in the direction of, so I can level up on `jest` internal knowledge?

I understand the sentiment regarding gnarly code, but see it from "our side". We're using `jest` not `v8`, and we're having a big problem :) Our test suites don't work (

[2022-08-25 13:40] Andarist commented on #11741
@SimenB based on the recently released changelog and the linked PRs I think that perhaps this issue has been fixed by: https://github.com/facebook/jest/pull/13150

[2022-08-25 13:42] SimenB commented on #12670
Is it possible to get a reproduction without React where this is an issue? I think the underlying problem isn't jest doing something weird (we cannot inspect promise states, so we don't know to wait. And even if we _could_ - how long are we supposed to wait?), but rather React scheduling callbacks in a way that breaks stack traces leading to _very_ confusing errors.

React throws an error, but the

[2022-08-25 13:44] SimenB commented on #12670
I see I pretty much just repeated what @Zylphrex said in https://github.com/facebook/jest/issues/12670#issuecomment-1163133802. IMO React should do that by default.

Again, I agree the error from Jest is unfortunate in this case, but I'm not sure there's anything we can really do (while React definitely can do something)

[2022-08-25 13:53] SimenB commented on #11741
Good catch, thanks!

[2022-08-25 13:53] #11741 closed

[2022-08-25 13:54] EduardoSCosta commented on #13164
Hi, I would like to do this issue, can I?

And this matchers will be completely removed, right? Or just show a warning like `Mathcher toBeCalled is beeing deprecated, use toHaveBeenCalled instead.`

[2022-08-25 13:58] SimenB commented on #13164
Thanks! Feel free to send a PR, but note that it won't be merged for some months 🙂 It'll land _eventually, tho 😀

And yes, just remove it. We have a lint rule (`no-alias-methods` as linked in the OP) which can migrate users, so I don't think Jest needs to do anything special 🙂

[2022-08-25 14:32] abdulbasit1149 commented on #11698
Any update on this?

[2022-08-25 14:37] phawxby commented on #11956
@nover I think you're approaching this from the wrong side. `runInBand` is supposed to run tests serially in the current process. There's advantages to doing that, faster test results and normally lower memory footprint, plus it makes it much easier to debug what is going on. I think the issue you're having stems from the fact there's currently no way to run tests serially with a worker, and that

[2022-08-25 15:19] Smrtnyk opened #13172 "[Bug]: Jest 29 with JSDom fails because of Cookie jar being more strict"
### Version

29

### Steps to reproduce

Try to set and delete a cookie with default jsdom options

### Expected behavior

It should delete a cookie, but throws an error

### Actual behavior

Basicaly jest sets default testUrl to localhost, and now It throws an error
` Cookie has domain set to the public suffix "localhost" which is a special use domain. To allow this, configure your CookieJar with

[2022-08-25 15:19] ChocolateLoverRaj commented on #13061
@SimenB that is wierd that it works for you. I was using pnpm before, so I tried removing `node_modules` and installing with `npm i`. It's still saving snapshots to `dist` for me. Maybe I could create a GitHub Actions to see if it works on specific OS or Node.js versions.

[2022-08-25 15:57] SimenB commented on #13172
See https://github.com/salesforce/tough-cookie/issues/246, not much to be done in Jest. You can possibly force 4.0 via a lockfile?

[2022-08-25 15:57] #13172 closed

[2022-08-25 15:59] SimenB commented on #13061
Might be. I'm on mac - might be your logic doesn't work on windows?

[2022-08-25 16:19] Smrtnyk commented on #13172
since jest sets default url to localhost, this now conflicts with cookies and jsdom
I think jest could at least set these options if it is going to use localhost as default url for tests
in `packages/jest-environment-jsdom/src/index.ts`
adding cookieJar instance with `{allowSpecialUseDomain:true, rejectPublicSuffixes: false}` as options  to a JSDOM constructor could fix this I guess

[2022-08-25 16:23] Smrtnyk commented on #13172
oh I see there they will revert it, nevermind then

[2022-08-25 16:24] Smrtnyk commented on #13172
nah, will just wait for update I guess, I am not in a hurry, was only eager to try jest 29 to see if something breaks

[2022-08-25 16:30] SimenB commented on #13172
Happy to take a PR which passes through options to `CookieJar`. But yeah, this specific regression is upstream.

Note that jest 28 pulls in same version of `tough-cookie` (or rather, the jsdom in v28 and the jsdom in v29 does), so there's nothing in the upgrade that should impact this

[2022-08-25 16:33] SimenB commented on #13165
Happy to take a PR which makes these options work 👍

[2022-08-25 16:37] mihaelaLo opened #13173 "[Bug]: jest-runner Class private methods are not enabled with version 29.0.0"
### Version

29.0.0

### Steps to reproduce

jest --runInBand

### Expected behavior

Tests should run without errors

### Actual behavior

I receive the following error:
[code]

### Additional context

my jest config:
[code]

I do not get this error for versions 28.1.3 and 26.6.3

### Environment

[code]

[2022-08-25 16:55] grazirs commented on #5711
Hi @SimenB! I'd like to work on this issue by applying your [suggestion](https://github.com/facebook/jest/issues/5711#issuecomment-464114468), but I'm wondering how to know if the test is being focused inside the formatTestResult function, I saw there is the 'skipped' status that I can access with: testResult.skipped but I did not find anything related to 'focused', is it available somewhere else?

[2022-08-25 16:59] ChocolateLoverRaj commented on #13061
@SimenB I ran CI on Windows, Mac, and Linux with multiple Node.js versions and everything fails - https://github.com/ChocolateLoverRaj/jest-bug-3/actions/runs/2928301547

[2022-08-25 17:16] SimenB commented on #13061
It's in `lib/__tests__/__snapshots__/`

[2022-08-25 17:19] SimenB commented on #13061
Note that you ignore the snapshot folder: https://github.com/ChocolateLoverRaj/jest-bug-3/blob/077af67b259dd784e7334c5fc93dea105a84feb6/.gitignore#L2

[2022-08-25 18:36] SimenB commented on #13173
Why are you transpiling `jest-runner`?

[2022-08-26 07:38] mihaelaLo commented on #13173
I do not have jest-runner in my dependencies, it is installed by jest core library. I have a JS project

[2022-08-26 08:37] SimenB commented on #13173
It's babel that's complaining about the syntax, not Node itself. If you just do `require('jest-runner')` it'll work fine for you since the Node version supports it. So something in your setup is running Babel on Jest's modules.

Do you have a reproduction I can check out?

[2022-08-26 08:40] SimenB commented on #13061
https://github.com/ChocolateLoverRaj/jest-bug-3/pull/1/files#r955804620

[2022-08-26 08:47] SimenB commented on #12670
I guess you can say the underlying issue is something like https://github.com/jsdom/jsdom/issues/955. We call `window.close` before `document` is set to `null`, but while timers gets cancelled it doesn't seem like microtasks does.

I doubt there's anything that we can do in Jest, unless you have any suggestions?

[2022-08-26 10:22] Smrtnyk commented on #13172
they fixed the issue so jest 29 now runs properly

[2022-08-26 11:05] mihaelaLo commented on #13173
No, it is in my prod app, on a private repo. Is there any other info that might help you? Thanks for help

[2022-08-26 11:35] adico1 commented on #10662
in my case removing --detectOpenHandles helped

reference: https://stackoverflow.com/questions/68012814/gitlab-jest-test-segmentation-fault-core-dumped

[2022-08-26 11:46] aamir-mns commented on #12984
THANKS. worked like charm for me. Here is my config
[code]

[2022-08-26 11:48] SimenB commented on #13173
Without a reproduction there's not much I can do. I'd take a look at your `setupFiles`, do any of them import `jest-runner`?

[2022-08-26 12:02] SimenB commented on #12984
Config issue, hopefully #13115 has made it clearer 🙂

[2022-08-26 12:02] #12984 closed

[2022-08-26 12:27] liuxingbaoyu opened #13180 "[Bug]: Cannot show diff when `.toMatchInlineSnapshot` throws exception"
### Version

29.0

### Steps to reproduce

[code]

I know this is overly complicated to reproduce, I'm still investigating, just opened an issue first in case anyone can think of what could be the reason for this, will update if I find anything new!😃

### Expected behavior

Differences are displayed normally.

### Actual behavior

[code]

### Additional context

_No response_

### Environment

[co

[2022-08-26 12:31] SimenB commented on #13180
Huh, this is a weird one 😅

[2022-08-26 12:34] SimenB commented on #13180
@liuxingbaoyu the issue is in `jest-light-runner`. This is the result using "normal" `jest-runner`.

<img width="804" alt="image" src="https://user-images.githubusercontent.com/1404810/186904172-46d1d8df-2663-44c0-8af4-166e758b7c7f.png">

I tried applying https://github.com/prettier/prettier/pull/13355/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R129 which made no di

[2022-08-26 12:35] SimenB commented on #13180
@nicolo-ribaudo @liuxingbaoyu this is actually not new with jest 29 - seems like `jest-light-runner` doesn't properly support inline snapshot errors.

This diff on `main` gives the same weird error using Jest 28

[code]

The `snapshotFormat` changes are why your snapshots are changed, fwiw

[2022-08-26 12:38] liuxingbaoyu commented on #13180
Yeah, I tried without `jest-light-runner`, as I wrote in the issue, it outputs

[code]
, is this expected?

[2022-08-26 12:39] SimenB commented on #13180
Ah, good catch

[2022-08-26 12:43] liuxingbaoyu commented on #13180
Ah, just saw your latest reply, and yes, I'm also guessing that the snapshot change might be related to `jest-light-runner`, thank you so much for looking into this!😃

[2022-08-26 13:28] #13180 closed

[2022-08-26 13:36] SimenB commented on #13180
@liuxingbaoyu fixed the diffing issue in https://github.com/facebook/jest/releases/tag/v29.0.1. The weird error is in `jest-light-runner` as mentioned 🙂

[2022-08-26 13:38] liuxingbaoyu commented on #13180
Thanks for the quick fix! I will continue to investigate `jest-light-runner`.

[2022-08-26 13:44] SimenB commented on #13180
Thanks for noticing! 😀 Very confusing diff for users upgrading

[2022-08-26 13:55] nemrosim commented on #9324
My case:
[code]
**Issue**:
[code]
**Solution:**
Adding `jest.useFakeTimers()` solved my problem.

[2022-08-26 15:39] tobua commented on #13173
Ran into the same issue with React Native. Seems like `metro-react-native-babel-preset` is involved. Here is the most basic reproduction I could come up with:

[code]
`babel.config.json`
[code]
`test/basic.test.js`
[code]

As a workaround ignoring the already mentioned `jest-runner` from being transpiled works around the issue:

[code]

[2022-08-26 15:45] SimenB commented on #13173
Ah, nice 👍 that explains why our integration test doesn't fail: https://github.com/facebook/jest/blob/dde24c85698259d9ce887ede9646847d0fff9554/examples/react-native/jest.config.js#L7

Still, weird it triggers... I'll look into it next week 🙂

[2022-08-26 16:27] tobua commented on #13173
Right, transforming all `node_modules` is kind of a bad idea. The initial post is using a popular hack to ignore all `node_modules` except some that are published as ESM and therefore need to be transpiled as well.

Noticed that there is a `/` slash at the end which prevents `jest-runner` from being ignored for some reason.

[code]

When that slash is removed `jest-runner` doesn't have to be liste

[2022-08-26 16:33] Grmiade opened #13182 "[Bug]: Cannot use jest from @jest/globals in mock"
### Version

29.x

### Steps to reproduce

1. Clone my repo https://github.com/Grmiade/jest-bug
2. `yarn install`
3. `yarn test`
4. You should see this error:
[code]

### Expected behavior

`jest` is mentioned in the allowed object, we should be able to use `jest` from `@jest/globals` in mock

### Actual behavior

We have this error: `The module factory of jest.mock() is not allowed to reference a

[2022-08-26 16:35] SimenB commented on #13173
Ah, that explains it (over-eager negation). Not sure there's anything for Jest to do? We target specific node versions - if other tooling has other syntax requirements that's not on Jest I think?

[2022-08-26 16:41] mrazauskas commented on #13182
Sounds like you just hit #12422

[2022-08-26 16:44] vilmosioo opened #13183 "[Bug]: Worker exits but jest process never finishes"
### Version

28.1.3

### Steps to reproduce

1. Run jest with worker count higher than 1. Empty test that just sleeps for a minute will do.
2. Kill one of the workers intentionally. In practice, they may die for whatever reason, for us we suspect it is OOM.
3. Jest will indefinitely hang.

Related and recent fix https://github.com/facebook/jest/pull/13054/files#diff-e99351d361fdd6f55d39c7c41af9457

[2022-08-26 16:45] Grmiade commented on #13182
Indeed 👍 I hadn't seen it in my previous searches. Thanks.

[2022-08-26 16:45] #13182 closed

[2022-08-26 16:46] mrazauskas commented on #13182
If that helps, a workaround was to use `mockReturnValue()` instead of a factory function. See https://github.com/mrazauskas/jest-runner-tsd/blob/1c48eec07ef6347d81adcf069462e726eae467a2/src/__tests__/runTest.test.ts#L15-L18

Just a temporary solution. In long term this bug has to be fixed.

[2022-08-26 16:56] tobua commented on #13173
I was able to successfully upgrade a React Native project with the error described here. Definitely nothing for Jest to do here as `node_modules` generally shouldn't be transformed. Metro could add `@babel/plugin-proposal-private-methods` to `metro-react-native-babel-preset` but I don't think that's necessary for now.

[2022-08-26 16:58] SimenB commented on #13173
Agreed, thanks!

[2022-08-26 16:58] #13173 closed

[2022-08-26 17:24] ChocolateLoverRaj commented on #13061
@SimenB after fixing the GitHub Actions test I found out that it only doesn't work on Windows. You were right. https://github.com/ChocolateLoverRaj/jest-bug-3/actions/runs/2935434359

[2022-08-26 17:44] SimenB commented on #13061
Yeah, path replacement with forward slashes probably doesn't work. Too bad the check we have doesn't pick it up, but all it does is verify it works the same both ways. So if the replacement "fails" both ways, we don't detect it

[2022-08-26 17:44] #13061 closed

[2022-08-26 18:24] SimenB commented on #13183
@phawxby thoughts?

[2022-08-26 19:35] gluxon commented on #13183
Hi everyone — Just wanted to give a heads up that @vilmosioo is my teammate.

We spent a few days investigating this before discovering what was happening. I do believe the workers are being OOMKilled, but don't have logging to verify since this is running in a CircleCI docker container. I hope the report contains enough information to be helpful still. Please let us know if there's any extra deta

[2022-08-26 19:53] mohammedabdulai commented on #8769
It makes sense that a try/catch block solves the issue because it's a way of catching rejections. Essentially all Promises in tests should catch or handle reject.

[2022-08-26 19:56] mohammedabdulai commented on #8769
It makes sense that a try/catch block solves the issue because it's a way of catching rejections. Essentially all Promises in tests should catch or handle reject.

[2022-08-26 20:10] phawxby commented on #13183
Exit codes and exit signals were probably the most problematic bit of the fixes that I put in recently because they're extremely inconsistent between platforms. However I thought I had covered the OOM scenario, and I do have a test which forcibly induces an OOM crash here.
https://github.com/facebook/jest/blob/main/packages/jest-worker/src/workers/__tests__/WorkerEdgeCases.test.js#L238

My questio

[2022-08-26 20:52] gluxon commented on #13183
Thanks for taking a look @phawxby. I think I should have been more specific about the kind of OOM we think we're seeing.

- Looking over the `WorkerEdgeCases.test.js` file, it looks like that catches OOMs within `node` itself.
- I think what's happening for us is the process is dying externally due to Linux's [`oom_kill`](https://linux-mm.org/OOM_Killer) mechanism selecting a worker process to kil

[2022-08-27 08:22] phawxby commented on #13183
@gluxon you make a good point. That wasn't actually code I originally wrote, I just worked around it so didn't really dig into why it's doing what it's doing. But you're right:

- If it's an exit mode we know to be bad (OOM) then we should probably terminate with an error
- If it's an exit and we're not active in the process of shutting down the worker then we should restart the worker because it'

[2022-08-27 09:58] ekrem-aktas commented on #13158
I think this case can’t be caught by even try…catch block because the Promise callback throws after an async operation, which means it throws in a different microtask / tick. I wonder if there’s a way to catch it - maybe by listening the global unhandled errors. 🤔

[2022-08-27 10:09] oskarols commented on #6814
@SimenB If it's innate to the implementation of Jest that a lot of larger code bases might run into these problems then I think it would be very helpful to actually have more details in the docs on *why* this would happen and common ways of debugging it (beyond the existing CLI args).

As it currently stands there's not a lot of detail on how the module loading works in the docs. And that's unders

[2022-08-27 12:13] GittyAjay commented on #12978
any update on this issue

[2022-08-27 12:19] SimenB commented on #12978
`node_modules` shouldn't have to be transpiled - unfortunately that seems to be the norm in RN. You probably need to adjust `transformIgnorePatterns`: https://jestjs.io/docs/configuration#transformignorepatterns-arraystring

[2022-08-27 12:19] #12978 closed

[2022-08-27 15:31] SimenB commented on #11789
Wanna send a PR for it?

[2022-08-27 16:16] NetworkRock commented on #12556
@abdih Same here looking for a chance to contribute. Maybe this project could be an inspiration. I use webpack v5 and jest in it. https://github.com/NetworkRock/personalWebsite

[2022-08-27 17:39] SimenB commented on #12556
There is https://github.com/facebook/jest/pull/12823 with some unaddressed feedback - would love for somebody to pick it up and land it 🙂

[2022-08-27 18:07] StoneCypher commented on #12427
Not stale.  Again.

[2022-08-28 10:07] SimenB commented on #12427
There is #12536 fwiw

[2022-08-28 13:53] #11701 closed

[2022-08-28 15:14] eliw00d commented on #12777
Just tested with 29.0.1, still an issue.

[2022-08-28 15:15] nujarum commented on #12270
I have previously released a package [`resolve-esm`](https://www.npmjs.com/package/resolve-esm) to call [`import.meta.resolve()`](https://nodejs.org/api/esm.html#importmetaresolvespecifier-parent) without the experimental flag.
This should work on all current Node.js LTS versions (v14, v16, v18).

I will be happy if this is of any help.

[2022-08-28 15:18] eliw00d commented on #11666
Closing in favor of https://github.com/facebook/jest/issues/12777

[2022-08-28 15:18] #11666 closed

[2022-08-28 15:26] eliw00d commented on #6127
The note on the automock config says:

Which is also broken: https://github.com/facebook/jest/issues/12777

So, I think in general automocking has had a lot of regressions since 27.

[2022-08-28 18:21] remcohaszing opened #13186 "[Bug]: Jest --coverage doesn’t support native import assertions"
### Version

29.0.0

### Steps to reproduce

The gist uses Jest 28, but this also affects Jest 29.

1. Clone [this gist]([link](https://gist.github.com/remcohaszing/68c01b2939958ba20c85f2e8361e5aea))
[code]
2. The following works fine:
[code]
3. The following is broken:
[code]

### Expected behavior

When using native ESM, JSON import assertions, and code coverage, and not Babel (this case uses `t

[2022-08-28 18:34] connectdotz opened #13187 "[Bug]: reporter onRunComplete not triggered when jest runner crashed in watch mode"
### Version

28.1.3

### Steps to reproduce

1. clone  https://github.com/marr/jest-async-fail
	2. run `yarn install`
	3. create a simple reporter with `onRunComplete` and `onRunStart` methods if you are not using `vscode-jest` extension in `vscode`
	4. run jest command: with the custom reporter. For example, with the `vscode-jest` extension:
		`yarn test --watchAll --no-coverage --reporters defau

[2022-08-28 21:53] SimenB commented on #12422
@ScottAwesome I think something like this should work:

[code]

[2022-08-29 08:03] SebTVisage commented on #11956
Thank you very much for your investigation and @phawxby 🙏.

I tried it with different values from 250MB to 1500MB (running in a Github actions), but unfortunately it doesn't work for our monorepo. It does work locally. But before migrating to node 16 (we were blocked on node 12) everything was fine on the CI as well.

The only think I can think of is that we're using ts-jest, and [in memory mongo]

[2022-08-29 08:14] phawxby commented on #11956
@SebTVisage honestly I don't know, there are so many things it could be. My first question would be is it a similar issue to @nover and using `runInBand`? Looking back now I think it was a mistake to not include some kind of warning if using `runInBand` and `workerIdleMemoryLimit` together.

Can you try running it with `--logHeapUsage` and see if the heap climbs during a test run? I'm wondering if

[2022-08-29 08:25] SebTVisage commented on #11956
@phawxby:
- No I'm not using runInBand
- Yeah I tried with `--runInBand` + `--logHeapUsage` a while, back before your fix. And memory was indeed increasing between each test
- Not coverage in this case no. Though I had a job to run coverage on push on main. It broke a while back (with node 12) because of memory issues as well.

I wasn't expecting much help on it. I just wanted to ask in case you s

[2022-08-29 08:31] phawxby commented on #11956
@SebTVisage you need to run my fix along with  `--logHeapUsage` but without `--runInBand` to provide any useful diagnostics. `--runInBand` prevents `workerIdleMemoryLimit` from doing anything.

[2022-08-29 13:50] JounQin commented on #9543
I'm trying to use `moduleNameMapper` for `require.resolve`, and not quite sure why it does not work.

[2022-08-29 15:01] remcohaszing commented on #13186
I managed to work around this issue by setting `coverageProvider` to `v8`.

[2022-08-29 15:08] SerhatG35 opened #13189 "jest.spyOn not working if there is a "throw error" in catch block"
### Please do not submit this issue.

- [X] I understand

[2022-08-29 15:09] #13189 closed

[2022-08-29 23:02] SimenB commented on #12244
This sounds like it can just be a custom reporter. Or possibly configuration for the built in reporters?

[2022-08-30 00:19] 256hz commented on #9324
Like others in this thread, my exit code 1 was coming from the following error:

`ReferenceError: You are trying to 'import' a file after the Jest environment has been torn down.`

Shouldn't a ReferenceError cause a test failure?  Other kinds of uncaught errors cause test failures, which is really nice, because then we know what test they're coming from.  Currently, the test registers as a `PASS`,

[2022-08-30 02:40] connectdotz commented on #13187
After further investigation, the crash occurred even earlier than I originally thought: in [createScriptTransformer](https://github.com/facebook/jest/blob/5183c15a8e14089351d6403f4fdb72a6705aa379/packages/jest-core/src/TestScheduler.ts#L216), right after we dispatched `onRunStart`...

Basically, there is a situation when runner failed due to any runtime/execError within or prior, it will fail to n

[2022-08-30 10:04] #12422 closed

[2022-08-30 11:30] lukeapage commented on #11741
Now with jest v29 the workaround stopped working (creating a .babelrc.js) and deleting that file has no effect so any attempt to update a inline snapshot gets this error:

[code]

Do I have to do something to take advantage of the bugfix?

[2022-08-30 11:35] SimenB commented on #11741
That seems weird, could you open up a separate issue with a reproduction?

[2022-08-30 13:13] marcomoauro commented on #11956
Hello, in a project of mine, where I use the `--runInBand` option, I observe an uncontrolled increase of heap memory which causes the out of memory error.

I read that it is possible to specify the `workerIdleMemoryLimit` option but only if you don't use `--runInBand`.
Is there anything I can do to ensure that the memory is cleared, thus not breaking the test suite?

[2022-08-30 13:16] hansott commented on #11956
@marcomoauro I downgraded from 16.17 to 16.10 to avoid the growing memory.

[2022-08-30 13:19] phawxby commented on #11956
@marcomoauro not right now. Either #13171 or #13168 would allow for it but a decisions need to be made if it's wanted and if so which approach to take.

[2022-08-30 14:31] lukeapage opened #13193 "[Bug]: babel error with inline snapshots in v29"
### Version

29.0.1

### Steps to reproduce

1. clone my repo https://github.com/lukeapage/jest-repro-babel-error
2. yarn
3. yarn test -u src/frontend/test.spec

note also:
https://github.com/lukeapage/jest-repro-babel-error/tree/jest-28
for repro working in jest 28

and I have a separate commit for adding the workaround described in https://github.com/facebook/jest/issues/11741

### Expected beha

[2022-08-30 14:32] lukeapage commented on #11741
@SimenB I recreated a repro here: https://github.com/facebook/jest/issues/13193

[2022-08-30 14:34] lukeapage commented on #13193
The repro is massively cut down from a large mono-repo, hence some of the structuring, am happy to discuss if something about the setup is provoking the issue, but it may be something that is difficult for us to change due to other tooling.

[2022-08-30 14:45] #13193 closed

[2022-08-30 14:45] lukeapage commented on #11741
Sorry false alarm, the problem was in our repo, the repro allowed me to track down the issue.

[2022-08-30 14:46] SimenB commented on #13193
Great you figured it out!

[2022-08-30 14:46] ramiloif commented on #13158
Actually @ekrem-aktas case 3 and case 4 are totally the same .
The only difference id that in case 3 the error `SomeCustomErrorClassExtendsError` extends `Error`
and in case 4 `SomeCustomErrorClass ` not extends error

[2022-08-30 16:01] connectdotz commented on #13187
This issue has prevented us to know that jest run has failed and no results will ever be produced. Since in watch mode, the process will not exit in this situation, our result processing code and reporters will be waiting indefinitely.

@SimenB will you consider accepting a PR for this issue?

[2022-08-30 16:03] SimenB commented on #13187
Definitely!

[2022-08-31 02:46] cortexcompiler commented on #11411
This is somewhat confusing to me, some baffling behavior:
- Some properties like `collectCoverage`, `coverageReporters` (as mentioned by @igorpupkinable), and `verbose` need to be in the root config if they are to work when running jest from the root.
- Properties like `preset` and `transform` do not seem to be used from the root config

I am finding to have this make sense I need to share common

[2022-08-31 08:28] zyf0330 opened #13196 "[Feature]: Please export @jest/globals into global namespace"
### 🚀 Feature Proposal

Now, if want to use `expect` etc, user must import `@jest/globals` manually in every test file. And, some types in the @types/jest are not correct. So if @jest/globals can define inside types in the global namespace, user can import this package at tsconfig.json types for just tests excluding src.

### Motivation

Give users more precise type.

### Example

_No response_

#

[2022-08-31 08:35] mrazauskas commented on #13196
Please follow https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62037. Most probably this will be the solution.

I was working on #12856, but it feels like this is somewhat disadvantaged `@types/jest`. Seems like a better idea is to pull Jest types to `@types/jest` as mentioned above.

[2022-08-31 09:34] SimenB commented on #13196
Yeah, I think keeping `@types/jest` as a thing that stuffs types into the global namespace makes sense, but the source of truth should come from this repo. So yeah, that DT PR is the way to go 😀

[2022-08-31 09:34] #13196 closed

[2022-08-31 09:50] zyf0330 commented on #13196
Good job! Agree!

[2022-08-31 12:43] viceice opened #13199 "[Bug]: Interface 'JestImportMeta' incorrectly extends interface 'ImportMeta'"
### Version

29.0.1

### Steps to reproduce

1. add `@types/jest@29.0.0` and `jest@29.0.1` to a typescript project
2. Add  `jest.createMockFromModule` call
3. see compiler error

### Expected behavior

Don't see any error.

### Actual behavior

[code]

### Additional context

`@types/jest` declares as  `function createMockFromModule<T>(moduleName: string): T;`
while `@jest/environment` declares as

[2022-08-31 13:36] SimenB commented on #13199
PR welcome to align with `@types/jest` 👍

[2022-08-31 14:16] GabrielKidane96 opened #13200 "[Bug]: Mocked function returned by jest.mocked is not a function using ESM + Typescript"
### Version

29.0.1

### Steps to reproduce

package.json:
[code]
And the following test setup:

[code]

### Expected behavior

The function to resolve to the value specified in my mock

### Actual behavior

TypeError: mockedFile.mockResolvedValue is not a function

### Additional context

The code I've written doesn't make use of any ESM and uses only CommonJS, however, some of the packages I've

[2022-08-31 15:40] mrazauskas commented on #13200
It would be good to see minimal reproduction repo (without `ts-jest` and `@types/jest`).

Did you try running some simple test without involving `jest.mocked()`? I mean writing it in pure JavaScript, not TypeScript. If it does not work in JavaScript as well, then there is nothing wrong with `jest.mocked()`. From your description it is not clear how did you came to the idea to blame `jest.mocked()`

[2022-08-31 15:41] viceice commented on #11956
for github actions you need to set workerIdleMemoryLimit toi lower than 2GB, because there is a strange heap limit of 2GB

[2022-08-31 16:50] iamWing commented on #13135
@mildmojo Yes I can confirm `unstable_mockModule` is needed to mock ESM. `jest.mock` only works for CJS modules for now.

I don't understand why do you need to `resetAllMocks` in `afterEach` tho. What went wrong if you don't?

[2022-08-31 19:54] mildmojo commented on #13135
I extracted this example from my real test code that modifies the mocks on a per-test level. In this example here, it's not actually necessary. :stuck_out_tongue:

[2022-08-31 21:06] dgrisham commented on #10662
Haivng this issue as well running tests on the `node:16-alpine` container -- the tests were working fine previously, and now the same tests fail during the setup phase. They run fine locally with the same configuration. Same issue with node 18, and we can't go below 16 with our dependencies

[2022-09-01 04:38] dany-manastireanu-microsoft commented on #11956
I had the same problem for jest v28 and node 16.17. I decreased the node version to 16.10 and memory consumption was decreased.

[2022-09-01 08:18] sandinosaso commented on #13001
+1 we are facing the exact same problem

[2022-09-01 09:47] marionebl opened #13205 "[Feature]: Add expect.soft for setup and soft assertions"
### 🚀 Feature Proposal

A new method `soft` on the `expect` object giving test authors fine grained control over the control flow of their test case. An assertion decorated with `.soft` continues execution of a test case after assertion's failure to gather more data e.g. via remaining assertions in the case.

### Motivation

This provides a new tools to test authors striving to write more expressi

[2022-09-01 09:54] lmk123 commented on #12803
check

[2022-09-01 10:24] SimenB commented on #13205
I like the idea! Main issue is that `expect` is not bound to a test case, so we wouldn't know _which_ test failed (see for instance https://github.com/facebook/jest/issues/8297#issuecomment-1050744485). As mentioned there, and other places, once we bind `expect` to a single test it'd unblock a bunch of features we'd like. Should probably try to figure out a way to do that at some point...

[2022-09-01 10:53] iamWing commented on #13135
Ah I see. It makes sense then. Just wanna make sure before it goes into the docs. Cheers 🍻

[2022-09-01 15:51] terwort commented on #11956
Just commenting to say the fix for me was to downgrade to v16.10 from v16.17 as well. My project would get through about 500 tests and then run out of memory. After downgrading it was able to run all 1100 tests.

Our tests have been slowly getting worse over time. Our Azure pipeline was set to use the latest node version. So I wonder if they've been getting worse with every release of node? I'm go

[2022-09-02 09:36] mhombach opened #13206 "[Bug]: "mockImplementation" is behaving different than the syntacical-sugar version"mockResolvedValue""
### Version

27.5.1

### Steps to reproduce

Repro:
[code]

### Expected behavior

Both tests are passing without any error, since both should be exactly the same as the Jest-docs are stating that `mockFn.mockResolvedValue(value)` is "Syntactic sugar function for" `jest.fn().mockImplementation(() => Promise.resolve(value))`.

### Actual behavior

Test `test-mockResolvedValue` fails on the `flush()

[2022-09-02 09:49] mhombach commented on #13206
I can now confirm it has to do with https://github.com/facebook/jest/issues/6645 :
[code]

The `mockResolvedValue()` does **NOT** return a normal/real `Promise`, which buggs out ngZone.

[2022-09-02 09:52] mhombach commented on #6645
This issue isn't fixed for 4 years (?!) and it's still causing problems like this (https://github.com/facebook/jest/issues/13206)? Please fix asap or remove that sugar-function.

[2022-09-02 10:59] fernandopasik commented on #7151
I read that mocking `nextTick` could be the problem? I tried `jest.useFakeTimers({ doNotFake: ['nextTick'] });` but that didn't solve this issue. I still don't get chained promises executed.

[2022-09-02 11:15] #8983 closed

[2022-09-02 11:21] PabloLION commented on #10322
Is this issue and also #9127 covered by [reporters](https://jestjs.io/docs/configuration#reporters-arraymodulename--modulename-options)? I think adding some references to popular reporters that uses console or stdout would solve this issue.

[2022-09-02 13:50] #11724 closed

[2022-09-02 14:43] sandinosaso opened #13208 "[Bug]: Coverage report invalid coverage for files when test file changes"
### Version

29.0.1

### Steps to reproduce

1. Clone my repo at: https://github.com/sandinosaso/jest-coverage-bug-reproduction.git
2. Run `yarn install`
3. Change something (add an space at the end) to the file `src/b.test.js`
4. Run `yarn test --coverage --changedSince=origin/master --shard=1/1`

### Expected behavior

I expect either:

1. Because the require of `a.js` in `b.test.js` determined

[2022-09-02 14:50] sandinosaso commented on #13001
Maybe somehow related to what is happening to us, not exact the same as I said before but really similar: https://github.com/facebook/jest/issues/13208

[2022-09-03 01:24] gregdburns commented on #9980
I also had this issue, and I had to change my collectCoverageFrom array.

Before I had:

`
"collectCoverageFrom": [
      "**/*.{js,jsx}",
      "!**/node_modules/**",
      ...
    ]
`
But for some reason it seemed to still be running over the node_modules folder.  I changed this by taking away the exclude node_modules and changing my patterns to include just the directories I needed:

`
"collect

[2022-09-03 02:16] mbyrne00 commented on #10322
This issue is about the regression in the default console output. There are custom reporters but then some IDEs like Webstorm/IntelliJ disregard these as they show graphical/interactive results.

The default output does not need to be this verbose and would be nice to have an easy way to put it back to sensible single-line output.

[2022-09-03 02:18] PabloLION commented on #10322
Agreed. I misunderstood. Sorry

[2022-09-03 08:26] marionebl opened #13209 "[Feature]: Extensible, type-friendly and explicit test/expect API"
### 🚀 Feature Proposal

Take a leaf out of `playwright`'s playbook and expose an explicit, extensible test and expect API. Include the `fixture` concept to help factor setup and cleanup code out of tests files in a browsable, type safe and explicit way. This follows the prior art established by `playwright`: https://playwright.dev/docs/api/class-fixtures

### Motivation

Doubling down on being typ

[2022-09-03 08:39] #12936 closed

[2022-09-03 08:40] #5492 closed

[2022-09-03 09:26] SimenB commented on #13008
@bameyrick sorry, missed this one! I get an error when trying to run `npm run fetch`

[code]

[2022-09-03 09:56] SimenB commented on #13008
Never mind, seems like the step is not needed - I can reproduce 👍

[2022-09-03 10:13] SimenB commented on #10814
Stale, please open up a new issue if it's still a problem

[2022-09-03 10:13] #10814 closed

[2022-09-03 10:22] #13008 closed

[2022-09-03 10:50] SimenB commented on #12422
https://github.com/facebook/jest/releases/tag/v29.0.2

[2022-09-03 10:50] SimenB commented on #13008
https://github.com/facebook/jest/releases/tag/v29.0.2

[2022-09-03 11:03] SimenB commented on #12936
Yeah, deep imports are not supported: https://www.runpkg.com/?@opensearch-project/opensearch@2.0.0/package.json#11

Note that `require("@opensearch-project/opensearch/lib/errors")` prints a deprecation warning in Node 16 and fails in Node 18 - see https://github.com/facebook/jest/issues/13065#issuecomment-1201416511

[2022-09-03 11:04] SimenB commented on #12936
The error Jest prints here is awful, tho

[2022-09-03 11:26] SimenB commented on #13209
That's already possible via `@jest/globals`: https://jestjs.io/blog/2020/05/05/jest-26#a-new-way-to-consume-jest---jestglobals (the typescript caveat is no longer true: https://jestjs.io/docs/next/expect#expectextendmatchers)

---

However, the part about teardown and stuff looks interesting!

[2022-09-03 11:52] #11729 closed

[2022-09-03 13:08] SimenB commented on #8737
@mattphillips you're working on this? 🙂

[2022-09-03 13:35] Parth0105 commented on #13209
Hi @SimenB would love working on the feature request.

[2022-09-03 14:07] oskarols commented on #11956
I wonder if the situation is not worse than just memory leaks. I put together a small test that runs multiple `new vm.Script` calls using a minified version of lodash and then calls some function from lodash. The contrast between 16.10.0 and above is very noticeable:

**Node 16.10.0**
[code]

**Node 16.11.0**
[code]

Jest is hammering the vm.Script API isn't it? This seems really bad.

[2022-09-03 19:31] #12974 closed

[2022-09-03 19:47] mattphillips commented on #8737
@SimenB kinda! My plan is to bring [SandpackTests](https://sandpack.codesandbox.io/docs/advanced-usage/components#tests) over to the expect docs to give an inline playground like on: [jest-extended docs](https://jest-extended.jestcommunity.dev/docs/matchers).

What is the actual goal of this issue? Feels more like a guide on testing with Jest.

A few things to note with SandpackTests, the implemen

[2022-09-04 03:44] marionebl commented on #13209
Thanks for the pointer at `@jest/globals` - I was behind the times! :)

[2022-09-04 13:01] #13187 closed

[2022-09-04 13:41] #12993 closed

[2022-09-05 01:22] lvqq commented on #12952
Any updates about this issue? Same error while using `ts-jest` and it blocks even if I use `ts-node` to import `jest.config.ts`

[2022-09-05 04:28] #12996 closed

[2022-09-05 09:03] zyf0330 opened #13215 "[Bug]: use node testEnvironment but load uuid dependency by default not node-require"
### Version

29.0.2

### Steps to reproduce

1. I just want to know if it is expected like #12770, or not

### Expected behavior

I see no error.

### Actual behavior

I see
[code]

### Additional context

related to #12770

### Environment

[code]

[2022-09-05 10:15] #12997 closed

[2022-09-05 15:42] SimenB commented on #13215
See https://github.com/uuidjs/uuid/pull/616.

Will be fixed in uuid@9 which is expected today

[2022-09-05 15:42] #13215 closed

[2022-09-05 16:09] maddoxmarius commented on #9324
For me worked by adding `--verbose` at the run command.

[2022-09-06 01:51] zyf0330 commented on #13215
Thanks.
Due to that issue just mentions `jest-environment-jsdom`, so I am not sure if `testEnvironment: node` is affected.

[2022-09-06 05:51] nicojs commented on #11766
Thx bot, but plz destale

[2022-09-06 06:07] SimenB commented on #13215
Oh, missed you're using node env. Feel free to open a new issue with a reproduction

[2022-09-06 06:08] zyf0330 commented on #13215
Ok, I will.

[2022-09-06 06:27] xueyan-lu commented on #10800
I also encounter this problem. Do you have resolved this problem? Need help, thanks.

[2022-09-06 09:34] zyf0330 commented on #13215
I know why.
It's bug of `jest-environment-node@27`.
Though I install jest@29 which installs `node_modules/jest-runner/node_modules/jest-environment-node`, I install `@nrwl/jest` too which install `jest-environment-node@27` to `node_modules/jest-environment-node`, and `jest-runner` resolves testEnvironment module path to the latter.
I think `jest-runner` should find environment inside its self node

[2022-09-06 09:52] ErlanBelekov commented on #9696
+1

[2022-09-06 10:28] #13002 closed

[2022-09-06 10:50] ChrisKuBa commented on #13200
Hi, I have the same Problem.
Definitions of @types/jest und @jest differs

`function createMockFromModule<T>(moduleName: string): T;`
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/7c95278b06595be213b6991b65661077bbad579a/types/jest/index.d.ts#L140

`createMockFromModule(moduleName: string): unknown;`
https://github.com/facebook/jest/blame/616fcf56bb8481d29ba29cc34be32a92b1cf85e5/packages

[2022-09-06 11:09] mmkal opened #13216 "[Feature]: Out-of-the-box typescript support"
### 🚀 Feature Proposal

Make jest work with typescript projects without any fiddling, configuring, or installing ts-jest.

I know this isn't a small ask, but I couldn't find an issue for it (GitHub search is pretty bad but I went as far back as 2020, so I figured it's reasonable to have a fresh one even if a super-old one exists, because jest has been adding typescript support steadily since 2020i

[2022-09-06 11:32] SimenB commented on #13216
You only need `ts-jest` if you want to typecheck your tests - if you don't then the (builtin) `babel-jest` can transpile for you. When it's a matter of installing `@babel/preset-typescript` I don't think the barrier is too high? https://jestjs.io/docs/getting-started#using-typescript

The plan is actually to remove default transpilation (so users would have to opt-in) to reduce the overhead and co

[2022-09-06 11:39] #13200 closed

[2022-09-06 12:17] mmkal commented on #13216
Doesn't that only work when you have a babel config? I just tried it in a pure typescript repo and got:

[code]

I guess my pitch is - all the information needed to know how to parse my test file is present in my repo. Typescript version, tsconfig options, etc. I'd love for jest to be smart enough to figure that out. All the tooling is out there, and well-maintained and documented.

Adding and mai

[2022-09-06 12:25] SimenB commented on #13215
If you install `jest-environment-node` yourself it'll be hoisted to the top

[2022-09-06 14:54] grazirs commented on #12576
Hi @SimenB! I’ve been looking at the code to implement this issue, and we can access the 'diff options' and 'expected colors' from jest-matcher-utils/src/index.ts
[code]
However, I’ve been struggling to access the global config because it is not available in this file, and the other functions that have access to configs are not using the matcher utils. So I’d like to know if you have any suggestio

[2022-09-07 08:25] daniel-stoian-lgp commented on #12992
still active

[2022-09-07 10:30] tntim96 commented on #13063
I'm also seeing this after multiple upgrades in 2 projects, but it's currently unclear what caused this. There's about 20 upgrades to go through to narrow down the cause...

[2022-09-07 10:46] #13063 closed

[2022-09-07 12:00] jatinmehrotra opened #13219 "[Please read the message below]"
### Please do not submit this issue.

- [X] I understand

[2022-09-07 12:00] #13219 closed

[2022-09-07 12:20] jatinmehrotra opened #13220 "[Bug]: Jest not working with node js 16.17.0"
### Version

26.2.2

### Steps to reproduce

I am trying to updare node.js version of entire project ( lambdas, localstack) from 14.x to 16.17.0

In doing so, my test cases are getting failed which was not the case with node js 14.

 the project uses typescript too. I think the jest is failing with node js 16.17.x version

### Expected behavior

I expect to see all the test cases being passed like

[2022-09-07 12:35] #13220 closed

[2022-09-07 13:04] jatinmehrotra opened #13221 "[Bug]: Test case failing with node js 16.17.0"
### Version

26.2.2

### Steps to reproduce

Here is the following test case which i am testing ( it might be difficult to reproduce but this is the best i can share )

[code]
followed by `npm run test` -> `jest --runInBand`

### Expected behavior

I expect to see this test case being passed

### Actual behavior

The promise is being rejected

error message

[code]

### Additional context

The fol

[2022-09-07 13:13] SimenB commented on #13221
You need to put together a reproduction I can pull down and run  - a bunch of code in isolation isn't actionable.

---

That said, you need to `await` or `return` the `.resolves` assertions (e.g. `await expect(controller.handle(fixture)).resolves.toBeUndefined()`), see https://jestjs.io/docs/asynchronous

[2022-09-07 13:13] #13221 closed

[2022-09-07 14:36] brunocabral88 opened #13222 "[Bug]: --filter argument inconsistent with documentation"
### Version

v29.0.2

### Steps to reproduce

1. Install the latest version of Jest in a repository with existing test files
2. Confirm Jest runs all your test files properly by running `jest` without arguments
3. Create a file called filter.js in the current folder and paste the below contents
[code]
4. Run `jest --filter=<absolute-path>/filter.js`

### Expected behavior

I would expect Jest to r

[2022-09-07 14:52] tungcua66 opened #13223 "ReferenceError: TextEncoder is not defined"
### Please do not submit this issue.

- [X] I understand

[2022-09-07 14:52] #13223 closed

[2022-09-07 19:47] barak007 opened #13224 "[Feature]: Add jest version to TransformOptions"
### 🚀 Feature Proposal

Add current running jest major version to `TransformOptions`.

### Motivation

https://github.com/facebook/jest/pull/12638 introduced a breaking change to the jest transformers API.
_In general I think that this change does not worth it, and I would consider reverting it._

It has cupule awkward side effects:
1. Everyone must release a new major version of their transformer

[2022-09-07 20:30] lukaw3d commented on #11819
Still an issue in jest 29.0.2 https://github.com/lukaw3d/jest-segfault-exit/tree/29.0.2

[2022-09-07 21:32] joshlartz opened #13225 "[Bug]: resolution breaks in v28"
### Version

28.1.3

### Steps to reproduce

1. clone https://github.com/joshlartz/cdk-jest-issue/tree/jest-28
2. checkout jest-28
3. `npm install`
4. `npm test`

1. checkout jest-27
2. `npm test`
test passes

### Expected behavior

The test should pass

### Actual behavior

Cannot find module 'aws-cdk-lib/.warnings.jsii.js' from 'node_modules/@aws-cdk/aws-apigatewayv2-alpha/.warnings.jsii.js'

##

[2022-09-08 08:26] SimenB commented on #12925
This sounds like a duplicate of https://github.com/facebook/jest/issues/12998#issuecomment-1212426850 - can you update `@jridgewell/trace-mapping` and see if that fixes it for you?

If it does _not_, please open up a new issue with a reproduction.

[2022-09-08 08:26] #12925 closed

[2022-09-08 08:32] SimenB commented on #13225
Reproduction uses a private repo - I'm getting `request to https://nexus.core.cvent.org/nexus/repository/npm-public/aws-cdk-lib/-/aws-cdk-lib-2.40.0.tgz failed, reason: getaddrinfo ENOTFOUND nexus.core.cvent.org`

[2022-09-08 08:58] SimenB commented on #13225
That said, I can just delete the lockfile.

This is a bug in `resolve.exports`, and a duplicate of this issue reported over there: https://github.com/lukeed/resolve.exports/issues/19

[2022-09-08 09:05] SimenB commented on #11819
@phawxby thoughts?

[2022-09-08 09:39] phawxby commented on #11819
This is in the same vein as the other ticket you tagged me in with workers not behaving as expected when they crash. The more I think about it I think we should totally change strategy on workers and ignore their exit codes and rely on the newly implemented status property.

If they exit for any reason other than OOM and we're not intending them to exit then they should be restarted. Ignore the ex

[2022-09-08 09:41] SimenB commented on #11819
Yeah, that sounds reasonable. I have a deferred reminder to look at the PRs you submitted - will try to get to them soonish 😀

[2022-09-08 11:11] Janpot opened #13227 "[Bug]: jest-environment-jsdom messes with global Uint8Array"
### Version

29.0.2

### Steps to reproduce

1. clone https://github.com/Janpot/jest-esbuild-repro
2. run `yarn && yarn test`
3. observe failing test
4. remove `testEnvironment: "jest-environment-jsdom",` from 'jest.config.js'
5. observe test passing

### Expected behavior

The test should pass, `jsdom` shouldn't touch `Uint8Array` if it exists in global scope

### Actual behavior

the test fails,

[2022-09-08 12:09] Janpot commented on #13227
Ok, after reading https://github.com/facebook/jest/issues/9983 I don't imagine this will get fixed. Closing proactively

[2022-09-08 12:09] #13227 closed

[2022-09-08 12:14] SimenB commented on #13227
Yeah, the issue is that `jsdom` is missing `TextEncoder` (but _does_ have `Uint8Array`). You're pulling `TextEncoder` in from `util` which is a node library not meant to run in a browser environment.

https://github.com/nodejs/node/issues/31852 would also fix your `instanceof` issue, but the main problem here is that you're trying to mix Node realm into the JSDOM (`vm`) realm.

---

If you really

[2022-09-08 13:30] Janpot commented on #13227
Yep, thanks you.

Not really, another library [crashed](https://github.com/evanw/esbuild/issues/2532) on `Uint8Array` not being the node.js implementation. I ultimately took a step back and sorted out [polyfilling the jsdom environment](https://github.com/mui/mui-toolpad/pull/939/files#diff-8c271c21fe4e944125d3b5538c35324e7787a7e060672beabc0d182f0933782fR6) differently (as custom `testEnvironment

[2022-09-08 13:48] thernstig commented on #12615
:(

[2022-09-08 14:27] vitaly-zdanevich opened #13228 "[Website]: documentation should have the ability to hide left/right sidebars"
### 🚀 Feature Proposal

![image](https://user-images.githubusercontent.com/3514015/189148126-6569e2e0-4ae7-45af-b33b-c7fedcdd422c.png)

### Motivation

To improve reading experience.

### Example

https://jestjs.io/docs/expect#tomatchobjectobject

### Pitch

A lot of unused space. And I have vertically rotated display.

[2022-09-08 16:29] #13228 closed

[2022-09-08 20:17] vitaly-zdanevich commented on #13228
Asked https://github.com/facebook/docusaurus/discussions/8071

[2022-09-08 20:20] Josh-Cena commented on #13228
You can already [hide the left sidebar](https://docusaurus.io/docs/sidebar#hideable-sidebar). I don't know a great use case for hiding the right sidebar.

[2022-09-08 20:30] gerardolima opened #13229 "[Feature]: stop changing the behaviour of spies on `mockFn.mockReset`"
### 🚀 Feature Proposal

I suggest `mockFn.mockReset` and `jest.resetAllMocks` to stop changing the behaviour of _spies_ .

### Motivation

The behaviour of `mockFn.mockReset()` is NOT _intuitive_: functions whose behaviour should only be _observed_ by Jest actually are changed after the first call of `jest.resetAllMocks()`.

In my current setup, I use to create spies and stubs on `beforeAll` and c

[2022-09-08 21:30] barak007 commented on #13224
Actually I didn't notice when this feature introduced. for my use case only >2% of our projects uses older version then 22.
Now I just return the object. problem solved for me.

I still think it can be helpful to know in what version you are currently running, unfortunately I will not able to open PR soon.

[2022-09-09 01:10] Ariane-B commented on #13112
Bad robot.

[2022-09-09 06:49] SimenB commented on #13112
Happy to take a PR adding this! 🙂

[2022-09-09 07:04] vitaly-zdanevich commented on #13228
To have more focus, more width for the content - and less scrolling. I do not always need the TOC.

[2022-09-09 07:05] vitaly-zdanevich commented on #13228
Somebody needs to add a button to UI?

[2022-09-09 07:08] rickvian commented on #13136
yes, i would love to have this too!

the drawback of using .each is when you have snapshot,
it actually will generate each its own snapshot, and not comparing against each run, if the test is flaky, we would not know

the current workaround is i wrap with simple forloop on the test i want to investigate the flakiness on...

but i hope such function like:  `it.loop(30)(...)` exist....

[2022-09-09 07:21] SimenB commented on #13228
@Josh-Cena is it possible to hide the sidebar(s) via some UI button rather than config?

[2022-09-09 10:41] Aex12 commented on #9709
Got the same error on jest@28.1.1
Allowing a describe block to be async would solve this, but currently it's not allowed.

[2022-09-09 11:27] rudolfbyker opened #13232 "[Bug]: Properties of Error subclasses other than `message` are ignored when using `toEqual`."
### Version

28.1.1

### Steps to reproduce

1. Subclass `Error`
2. Add an extra field, other than `message`
3. Create two different error objects with the same message, but differences in the extra field.
4. Compare them using Jest.

Example code:

[code]

### Expected behavior

`toEqual` should fail the test.

### Actual behavior

`toEqual` passes the test.

### Additional context

The problem i

[2022-09-09 11:38] rudolfbyker commented on #13232
My workaround for now:

[code]

[2022-09-09 11:45] claytonneal commented on #5292
Stunned this feature doesnt exist! Please provide an ETA

[2022-09-09 11:59] SimenB commented on #13209
I suggested something like this way back when: https://github.com/facebook/jest/pull/8654#issuecomment-510385442 (see bottom of that comment) - that looks pretty much like what `base.extend` in the OP is.

---

Hey @Parth0105, thanks for offering! While I'm keen on getting _something_ like what is suggested here, I think we'll need to go through a longer design phase before we start writing any co

[2022-09-09 12:10] Josh-Cena commented on #13228
Not sure what that means, but the config enables you to have a button that toggles the sidebar...

Do you mean like a "user settings panel" where users can individually select whether to make the sidebar hideable or not? Then no, although that would be cool and is something I'doike to see, it's not possible yet.

[2022-09-09 15:58] itaizelther commented on #9901
Hey, I'd like to work on this issue. :)

[2022-09-09 16:38] slifty opened #13233 "[Bug]: Generating a coverage report with --runInBand, collectCoverageFrom, and a transformer can mask a failing exit code"
### Version

29.0.2

### Steps to reproduce

1. Create a new project that uses a jest transformer (e.g. `ts-jest`).

2. Specify a `collectCoverageFrom` in `jest.config.js` in a way that will invoke the transformer when collecting coverage

**jest.config.js**
[code]

3. Create a `foo.test.js` file that will fail to run (e.g. including a syntax error).  Note, this does NOT need to pass through the t

[2022-09-09 21:56] JESii commented on #10846
activity

[2022-09-10 10:25] 10YAR opened #13239 "[Bug]: Incompatibily with node 16.3.0"
### Version

28.1.1

### Steps to reproduce

1. Have node js version 16.3.0
2. npm install jest-worker@28.1.1

### Expected behavior

Should be installed

### Actual behavior

error jest-worker@28.1.1: The engine "node" is incompatible with this module. Expected version "^12.13.0 || ^14.15.0 || ^16.10.0 || >=17.0.0". Got "16.3.0"
error Found incompatible module.

### Additional context

_No respon

[2022-09-10 10:30] #13239 closed

[2022-09-10 14:33] SimenB commented on #13228
Oh sorry, I misread the docs.

However, I tried it without success:

[code]

[code]

[2022-09-10 14:36] Josh-Cena commented on #13228
It's a `themeConfig` option, not a plugin option, so you can put it above this line instead:

https://github.com/facebook/jest/blob/cbf09923a329d26c636c8e78281254d6ed4c33bd/website/docusaurus.config.js#L160

[2022-09-10 14:39] SimenB commented on #13228
That gets rid of the error, but it doesn't seem to do anything

[code]

<img width="675" alt="image" src="https://user-images.githubusercontent.com/1404810/189488294-e6bf257b-9eb8-4cff-9742-30468db9b982.png">

[2022-09-10 14:45] SimenB commented on #13199
https://github.com/facebook/jest/releases/tag/v29.0.3

[2022-09-10 14:45] Josh-Cena commented on #13228
Oh, sorry! Forgot to mention it should be in another `docs` namespace:

[code]

There's no error because `themeConfig` allows unknown keys.

[2022-09-10 14:46] SimenB commented on #13187
https://github.com/facebook/jest/releases/tag/v29.0.3

[2022-09-10 14:50] SimenB commented on #13228
Ah cool, thanks! That worked.

4693cf5a69156a3c6fb6c9143b7ca99261e40244

[2022-09-10 15:30] SimenB commented on #13199
Hmm, still an issue @mrazauskas

[code]

[2022-09-10 15:57] mrazauskas commented on #13199
Hm.. Seems like this is just another issue with `@types/jest`. TS complains about the type of `jest.clearAllTimers()` which is:

https://github.com/facebook/jest/blob/05cd93bc0bfdd91e2e0b42e51b569ba9f073801f/packages/jest-fake-timers/src/legacyFakeTimers.ts#L119

And here:

https://github.com/facebook/jest/blob/05cd93bc0bfdd91e2e0b42e51b569ba9f073801f/packages/jest-environment/src/index.ts#L87

Bu

[2022-09-10 16:01] SimenB commented on #13199
I guess there's not much we can do here?

We could possibly move our `ImportMeta` declaration?

[2022-09-10 16:32] mrazauskas commented on #13199
Trying my luck with https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62204

[2022-09-10 19:30] kopax-polyconseil commented on #13069
Still stuck

[2022-09-11 05:41] mrazauskas commented on #13199
There is more https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62206

[2022-09-11 06:09] #11496 closed

[2022-09-11 11:15] muratkorkmaz106 commented on #9911
Dır

[2022-09-11 11:24] muratkorkmaz106 commented on #13233
Afiyet all

[2022-09-11 11:25] muratkorkmaz106 commented on #13233
Affter Allah

[2022-09-11 11:25] muratkorkmaz106 commented on #13232
Start

[2022-09-11 11:27] muratkorkmaz106 commented on #13232
Start

[2022-09-11 12:41] thernstig commented on #9901
@itaizelther I'd say go for it and push a PR, continuing on the one already started.

[2022-09-11 20:16] #11700 closed

[2022-09-12 00:51] #12938 closed

[2022-09-12 00:59] smcenlly opened #13248 "[Bug]: Module Import Stack Trace sometimes broken"
### Version

29.0.3

### Steps to reproduce

1. Clone this repo: `git clone https://github.com/smcenlly/jest-stack-trace-issue`
2. Install dependencies `npm install`
3. From the CLI, run tests: `npm run test`
4. See error and stack trace initially reported:

[code]

6. Add spaces at the end of line 2 (the missing import), eventually (after adding a number of spaces) the missing import is no longer

[2022-09-12 05:29] mrazauskas opened #13249 "[Bug]: compatibility with older TS versions differs between `jest` and `jest-environment-jsdom`"
### Version

latest

### Steps to reproduce

See: https://github.com/mrazauskas/x-jest-ts-compat/actions

With `"skipLibCheck": false` set TypeScript 4.2 compiles the library with only `jest` installed. Compilation fails if `jest-environment-jsdom` is added. The culprit is `parse5` (a dependency of `jsdom`), which is using `type` tokens in `import` statements:

<img width="667" alt="Screenshot 202

[2022-09-12 06:06] SimenB commented on #13249
It's mentioned in the upgrade guide: https://jestjs.io/docs/next/upgrading-to-jest29#jsdom-upgrade

[2022-09-12 06:08] SimenB commented on #13248
Could you put together a repository showing the regression?

[2022-09-12 06:17] SimenB commented on #13248
This only happens with `@babel/core@7.19.0` - forcing it to be `@babel/core@7.18.13` makes it work properly.

SImilarly, just adding `transform: {}` to the config works as it disables `babel-jest`. See #13245 which shows kinda the same error in this repo.

So I'm guessing something about how `@babel/core@7.19.0` produces sourcemaps is broken.

[2022-09-12 06:23] mrazauskas commented on #13249
Ah.. Right! This is what I missed.

[2022-09-12 06:23] #13249 closed

[2022-09-12 06:28] SimenB commented on #13248
Running Jest with `--no-cache` fails every time

[2022-09-12 06:28] SimenB commented on #13249
We might wanna put it in a more prominent place?

[2022-09-12 09:56] #13024 closed

[2022-09-12 11:51] #12963 closed

[2022-09-12 12:38] raquelhortab commented on #9892
any update on this?

[2022-09-12 15:15] #13025 closed

[2022-09-12 15:41] viceice commented on #13199
I was able to remove the `@types/jest` dependency. I added some quirks to get everything working again.
- https://github.com/renovatebot/renovate/pull/17737

[2022-09-12 16:51] mrazauskas commented on #13199
Thanks! I looked though quickly lots of interesting and useful details. For instance, it would be nice if `jest.requireActual<T>()` would take a type arg. In my todo list, will come back to it soon.

[2022-09-12 17:09] #13026 closed

[2022-09-12 18:04] mrazauskas commented on #13249
I made few attempts, but couldn’t find better solution. Also I hit this just by experimenting, that did not came from usage. If users don’t complain, all is fine.

[2022-09-12 20:11] dzienisz commented on #12925
I have the same error

[2022-09-12 20:27] danfuzz opened #13251 "[Bug]: Loaded ESM module can't refer to mapped imports from `package.json:{imports...}`"
### Version

29.0.3

### Steps to reproduce

1. Clone the gist <https://gist.github.com/danfuzz/42911f598060bc255c1421ca27a616cf>.
2. Run the script `do-test` from the gist. (It will install Jest locally, create a `src` directory that has the structure that I found to be problematic, and then run Jest on the test in that directory.)

### Expected behavior

I expected to see the test run.

### Actu

[2022-09-12 20:30] skeddles commented on #11438
this also happens without `--runInBand`.

[2022-09-12 20:40] dzienisz commented on #12998
can we fix this bug in jest 27 and 28?

[2022-09-12 20:42] SimenB commented on #12998
The bug isn't in jest - it's via babel/trace-mapping. All of which are in semver ranger

[2022-09-12 20:50] SimenB commented on #13251
Duplicate of #12270

[2022-09-12 20:50] #13251 closed

[2022-09-12 21:00] danfuzz commented on #13251
Thanks for the quick response! Apologies, I failed to find the existing issue when I tried to search for similar bugs.

[2022-09-12 21:06] valeriangalliat commented on #12938
Still happening on 29.0.3

[2022-09-12 21:08] valeriangalliat opened #13252 "[Bug]: User mock shadows Node module"
When defining a mock e.g. `lib/__mocks__/foo.js` in order to mock `lib/foo.js`, Jest also auto mocks calls to `require('foo')` (and not just `require('./lib/foo.js')` which is unintended.

### Version

29.0.3

### Steps to reproduce

[code]

### Expected behavior

Should log the Redis client from the `redis` module:

[code]

### Actual behavior

[code]

The `require('redis')` call imported the use

[2022-09-13 05:29] #13028 closed

[2022-09-13 05:30] #11740 closed

[2022-09-13 05:36] smcenlly commented on #13248
I believe I've found the cause of the problem.

The relatively recent `rewrite-stack-trace.ts` as you had assumed in https://github.com/facebook/jest/pull/13245 is related.

In `rewrite-stack-trace.ts`, the Error.stackTraceLimit is being adjusted in their **singleton function**. This runs just once within a process.

What's happening is as follows:

1. Jest starts and sets `Error.stackTraceLimit`

[2022-09-13 05:42] sonic1981 commented on #12925
Hi @SimenB

I think you're misunderstanding the issue. The fix in that pr is a fix in Babel. I'm saying I shouldn't need to install Babel to get this to work, or at least I'd expect jest to tell me that the problem can be fixed by installing Babel.

My understanding is that jest should work correctly, including code coverage, using V8.

So this does not fix the issue I'm afraid

[2022-09-13 06:39] SimenB commented on #12925
Then please open up a reproducing repo like the template asks you to. Your current steps don't.

---

That said, it _is_ listed as a dependency within Jest: https://github.com/facebook/jest/blob/c8452412fa0e0f56955a3975aec996d4ec5b6702/packages/jest-transform/package.json#L20

All your installation command in the OP does is update the versions

The bug is in an older version of dependencies, not i

[2022-09-13 06:46] SimenB commented on #13248
Ah, that makes sense, thanks for digging! Maybe open an issue in the Babel repo about it? I don't _think_ what Jest does is unreasonable.

[2022-09-13 06:56] sonic1981 commented on #12925
I'll give it a go

[2022-09-13 08:16] smcenlly commented on #13248
Sure thing, will do it tomorrow (my time). Will link and share the issue here after I create it.

[2022-09-13 08:51] SimenB commented on #13131
As of #8704 (released in 29.0.3) it's 100 by default

[2022-09-13 08:51] #13131 closed

[2022-09-13 09:15] waynevanson commented on #11740
There would be too many caveats here. There would have to be warnings on things that can't be concatenated together (ie. environment, can't be both jsdom and node).

[2022-09-13 10:56] nkallen commented on #2549
I've run into this issue twice recently with native modules. First with Float32Array not being an instanceof Float32Array and second with Array not being an instanceof Array. I strongly believe having jest support some sort of opt-out for running in a context should be be provided. There is a solution here https://github.com/kayahr/jest-environment-node-single-context but it's patching private api

[2022-09-13 11:53] martpie commented on #2549
I don't want to be the guy saying "just switch to X" because I hate that, but the jest team not caring, acknowledging or even saying "yeah no wontfix" about a long standing like this one is depressing.

It's been five years people have been shooting themselves in the foot because of this issue.

I've been a happy user or Vitest, which shares a very similar API, is faster, does not have this issue,

[2022-09-13 12:17] guimard opened #13255 "[Bug]: please drop deprecated __proto__ use"
### Version

28.1.3

### Steps to reproduce

jest can't be launched with `node --disable-proto=throw`

### Expected behavior

Currently, jest-haste-map calls deprecated __proto__.

### Actual behavior

Here is a proposed patch
[code]

### Additional context

_No response_

### Environment

[code]

[2022-09-13 13:31] SimenB commented on #12884
Should be reported to https://github.com/facebook/watchman

[2022-09-13 13:38] #12939 closed

[2022-09-13 13:38] #12937 closed

[2022-09-13 13:38] #12932 closed

[2022-09-13 13:38] #12921 closed

[2022-09-13 13:38] #12916 closed

[2022-09-13 13:38] #12907 closed

[2022-09-13 13:38] #12891 closed

[2022-09-13 13:38] #12854 closed

[2022-09-13 13:38] #12814 closed

[2022-09-13 13:38] #12813 closed

[2022-09-13 13:38] #12629 closed

[2022-09-13 13:43] guimard commented on #13255
@SimenB : thanks, PR pushed : #13256. And thanks for this awesome test framework !

Cheers,
Yadd

[2022-09-13 13:45] guimard commented on #13255
Note that I'm the jest maintainer for Debian : https://tracker.debian.org/pkg/node-jest

[2022-09-13 13:58] #12883 closed

[2022-09-13 13:58] #12874 closed

[2022-09-13 13:58] #12873 closed

[2022-09-13 14:55] nkallen commented on #2549
I don't disagree with you. If I were to start over again I would not use Jest. It does too much metaprogrammy magic that becomes an obstacle for testing complex software. Another peeve of mine is that  it buffers and clobbers stdout , making using print statements during complicated debugging extremely problematic.

[2022-09-13 15:33] SimenB commented on #12874
Sorry I never responded here!

I'd be interested in this if you could put together a proof of concept 🙂

[2022-09-13 15:40] marvasDE opened #13257 "[Bug]: Missing coverage from custom test environment"
### Version

29.0.3

### Steps to reproduce

1. Clone my repo at https://github.com/marvasDE/jest-sample
2. Install packages via npm i
3. Run npm run test:coverage

### Expected behavior

100 % Stmts covered in index.js

### Actual behavior

83.33 % Stmts covered in index.js

### Additional context

We have a global service class, but every line which should be covered with the global service is n

[2022-09-13 15:45] SimenB commented on #13257
If your service is instantiated outside of a test (e.g. `globalSetup` or via a test environment) then that code runs outside of the context jest can pick up the coverage I think...

[2022-09-13 15:54] cyberwombat commented on #9430
So `unstable_mockModule` only mocks a function if its then tested directly but not if it's used as part of another function.

Given this mock code
[code]
And this test
[code]

[2022-09-13 15:54] SimenB commented on #12813
Still a bug

[2022-09-13 15:56] SimenB commented on #9430
A bit hard to say without a more complete example. Could you open up a separate issue? The mocking is very untested, so I have no doubt there's lots of bugs with it 🙂

[2022-09-13 16:56] booya2nd commented on #13135
Thanks guys we are now finally able to mock our ES modules properly again 🎉  - please allow me to share our `mockESModule()` approach;
https://gist.github.com/booya2nd/dcaa1775fd4c06cd79610e3feea6362c#file-mock-esmodule-js

usage:
[code]

Only "downside" now is to switch from static `import` to dynamic `import()` 😅

[2022-09-13 17:12] cyberwombat commented on #9430
@SimenB  so I was in process of making a sandbox which worked in pure JS so this is a TS/ESM issue. I will dive into it more.

[2022-09-13 17:29] tchon commented on #12820
It would be great to get acknowledgement from jest dev team so we can submit a patch.

[2022-09-13 19:22] cyberwombat opened #13258 "[Bug]: Unable to mock ESM function used indirectly by another function"
### Version

29.0.0

### Steps to reproduce

In attempting to use `unstable_mockModule` and mocking a single function within the file I have to somehow import the rest of the functions. It appears that when I do so the functions do not make use of the mocks.

Sample repo: https://github.com/cyberwombat/ixc1yr

Given this mock code
[code]
And this test
[code]

The `logError` function does not call

[2022-09-13 19:24] cyberwombat commented on #9430
@SimenB made a repo and added issue https://github.com/facebook/jest/issues/13258 - I think it revolves around how to import the unmocked functions into the `unstable_mockModule` call. I've tried a variety of approaches but no go.,

[2022-09-13 19:29] SimenB commented on #13258
I haven't looked into it, but it _seems_ like something that won't work since hoisting doesn't work for native ESM.

https://jestjs.io/docs/ecmascript-modules#module-mocking-in-esm

I.e. you need to use dynamic imports so the mock is registered before the module's loaded.

(Again, i haven't run your reproduction, but seems like it can be it)

[2022-09-13 19:41] cyberwombat commented on #13258
I agree that this is prob issue but how can we mock a single function then? Ive tried a dynamic import inside the
 'jest.unstable_mockModule` call such as
[code]
but it hangs.

[2022-09-13 19:51] benblank commented on #12987
The issue persists in v29.0.3. The repro linked in the original post has been updated.

[2022-09-13 21:03] rezwanahmodsami opened #13259 "[Bug]: TypeError: Cannot read properties of undefined (reading 'enableGlobally') at jestAdapter (../node_modules/jest-circus/build/legacy-code-todo-rewrite/jestAdapter.js:39:25)"
### Version

^26.6.3

### Steps to reproduce

I tried google to find out problem, but i can't find any solution,

then i cam to the dir: ../node_modules/jest-circus/build/legacy-code-todo-rewrite/jestAdapter.js

and commented line no: 39 to 46
this block of code:
`  if (config.fakeTimers.enableGlobally) {
    if (config.fakeTimers.legacyFakeTimers) {
      // during setup, this cannot be null (and

[2022-09-13 22:24] silverwind opened #13260 "[Feature]: Support `Error.prototype.cause`"
### 🚀 Feature Proposal

Some new APIs like [`fetch`](https://nodejs.org/dist/latest-v18.x/docs/api/globals.html#fetch) make use of [`Error.prototype.cause`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error/cause) which jest does not display at all for thrown errors, which makes debugging these errors harder than necessary.

### Motivation

It will make errors

[2022-09-14 01:52] smcenlly commented on #13248
Have raised the issue with the babel team (link above).

[2022-09-14 03:11] CMCDragonkai commented on #12814
This isn't completed nor done... it's a bug.

[2022-09-14 07:23] phil-tutti commented on #13018
This is still an issue

[2022-09-14 07:48] Julien-Marcou commented on #13030
Sorry for the delay 😅

The `runTest` function is used by this package: https://www.npmjs.com/package/jest-electron

You can see the import here: https://github.com/hustcc/jest-electron/blob/b5887476eb639549c9317dd26b839d961ac58573/src/electron/renderer/uitl.ts#L7

I'm not sure how I would do the same by using the exported class

[2022-09-14 07:54] SimenB commented on #13260
We should definitely add this, yeah! I added support to our logger at work just a few weeks ago 😀

PR welcome, most changes should be in https://github.com/facebook/jest/blob/d1626e9395263b0c7c207777c0ca570b2147aaa8/packages/jest-message-util/src/index.ts

[2022-09-14 08:18] rkhaslarov opened #13261 "[Please read the message below]"
### Please do not submit this issue.

- [X] I understand

[2022-09-14 08:18] #13261 closed

[2022-09-14 08:21] rkhaslarov opened #13262 "[Bug]: Coverage doesn't gathered for files without tests with onlychanged flag"
### Version

26.6.3

### Steps to reproduce

Run the command with --passWithNoTests --json --coverage --testLocationInResults --watchAll=false --outputFile=report.json --onlyChanged for the files without tests but that are match collectCoverageFrom globs

Check report.json and see that coverageMap is empty

### Expected behavior

Should get coverage for all files that match collectCoverageFrom glo

[2022-09-14 08:32] #13262 closed

[2022-09-14 08:57] silverwind commented on #13260
As errors in `error.cause` can contain more errors with causes attached, I guess a recursion limit will be necessary to prevent circular references and such. I guess a limit of 10 should work for most cases.

[2022-09-14 09:04] SimenB commented on #13260
And like node, duplicate traces should be removed.

[code]

(note `4 lines matching cause stack trace `)

[2022-09-14 09:17] SimenB commented on #13030
Can't it use https://www.npmjs.com/package/create-jest-runner?

[2022-09-14 09:42] SimenB commented on #13259
you're trying to use `jest@26` and `jest-circus@29` together - the versions need to match

[2022-09-14 09:42] #13259 closed

[2022-09-14 09:53] rezwanahmodsami commented on #13259
yeah thanks, i removed and install again jest then it's worked fine. actually it's problem of react native, by default old version installling with react native.

[2022-09-14 13:35] #13134 closed

[2022-09-14 13:36] SimenB commented on #13134
@bjoluc The error is very misleading - the issue is that you cannot pass an array to `toMatchSnapshot`. I've added a check for this so it fails earlier

[2022-09-14 14:28] jakeleventhal commented on #10078
bump

[2022-09-14 15:13] theScottyJam opened #13264 "[Bug]: `assert.throws` errors always formatted as not thrown"
### Version

29.0.3

### Steps to reproduce

[code]

### Expected behavior

When Node's `assert.throws()` assertion error is caught and reported by Jest, it should report the original error message, or at least report an accurate error message.

### Actual behavior

Jest will always report an `assert.throws()` error with the following message:

[code]

### Additional context

The reproducible exam

[2022-09-14 15:34] OSA413 commented on #12858
upd: found this library https://github.com/faker-js/faker

[2022-09-14 17:25] #13248 closed

[2022-09-14 17:41] SimenB commented on #12843
This is a bug in [`resolve.exports`](https://github.com/lukeed/resolve.exports) (the lib we use to resolve `exports`).

[code]

Possibly https://github.com/lukeed/resolve.exports/issues/17?

[2022-09-14 17:42] mrazauskas commented on #13199
@SimenB What did you had in mind here? Just to remove it?

I just checked if `@types/jest` has definition for `unstable_mockModule`, but this is missing. Don’t know why. Perhaps, because this API is obviously experimental. Would it make sense to remove types `import.meta.jest` from `@types/jest` as well? Same reason. And the problem is solved.

That’s radical idea, I understand. Could work as a co

[2022-09-14 17:49] SimenB commented on #13199
Nah, it should definitely _be_ there, but it's annoying when the types clash. So I meant to move our own to a place it doesn't clash with the `@types/jest` definition.

On our side, maybe we can do

[code]

or something?

[2022-09-14 18:04] #7748 closed

[2022-09-14 18:16] mrazauskas commented on #13199
Wait. I just checked again and it looks like after `requireActual` and  `requireMock` got improved on Jest side there is just one change missing `@types/jest` to make it all work. Let’s try this way first.

[2022-09-14 18:54] mrazauskas commented on #13199
The missing part is here: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62259

[2022-09-14 19:17] SimenB commented on #13199
Ah nice! Would be awesome to align - makes it easier to make their types based on ours in the future 👍

[2022-09-14 19:28] wallace-soares commented on #9324
After couple of hours working on it this solution also worked for me.

[2022-09-14 20:51] Torr7s commented on #11500
Any solution for this? Im using jest at 29.0.2 version and facing the same issue. Even using jest.setTimeout or passing testTimeout in jest.config.ts, nothing solves it.

[2022-09-14 23:53] AndrewSouthpaw opened #13265 "[Bug]: Manual mock file loaded twice when used by another file being automocked."
### Version

29.0.3

### Steps to reproduce

1. Clone repro at https://github.com/AndrewSouthpaw/jest-mock-file-evaluation-bug-repro
2. Follow `README.md` instructions

Basic setup:

1. Have a file, `a.ts`, which depends on `dependency.ts`.
2. Provide a manual mock file for `dependency.ts`.
3. In a test file, `other.test.ts`, import from both `a.ts` and `dependency.ts` while also mocking both modu

[2022-09-15 00:56] normanlei0901 opened #13266 "[Please read the message below]"
### Please do not submit this issue.

- [X] I understand

[2022-09-15 00:56] #13266 closed

[2022-09-15 09:42] royhadad opened #13267 "[Feature]: support type inference for function parameters `expect(someFunction).toBeCalledWith()`"
### 🚀 Feature Proposal

When using the following code:
[code]
The type expected as arguments for `toBeCalledWith` is `any[]`
This can be overridden by passing a type argument:
[code]

My proposal is to have it inferred automatically by default.
https://www.typescriptlang.org/docs/handbook/utility-types.html#parameterstype

Similar methods should also be updated (e.g. `toHaveBeenCalledWith`, `lastC

[2022-09-15 09:47] SimenB commented on #13267
@mrazauskas can we do something clever here?

[2022-09-15 12:34] mrazauskas commented on #13267
Good idea. I think it should be possible to type `expected` args in a similar fashion how `propertyMatchers` are typed here:

https://github.com/facebook/jest/blob/e703e6ed1861595d56e25a764642da5a32b32c5a/packages/jest-snapshot/src/types.ts#L38-L39

[2022-09-15 15:11] royhadad commented on #13267
@mrazauskas @SimenB
I just opened a [pull request](https://github.com/facebook/jest/pull/13268) to add this behavior, any feedback?

[2022-09-15 15:14] SimenB commented on #13199
@mrazauskas after that's released, can we add a type test here that we're compatible?

[code]

or something like that?

Of course that will yell at us if we become stricter in the future, but I'd rather know and deal with that as the issues crop up

[2022-09-15 18:52] havenchyk commented on #13007
@wkul9429 how exactly did you fix it?

[2022-09-15 23:58] MasterOdin commented on #13143
I'm still interested in this. jest is the only thing pulling in ts-node in our stack, and it would be nice to be able to eliminate it for tsx.

[2022-09-16 04:28] shraddhafalane commented on #13264
I would like to work on this issue

[2022-09-16 06:17] SimenB commented on #13264
Awesome, go for it!

[2022-09-16 07:54] mrazauskas commented on #13199
All fixes of `@types/jest` are merged and shipped with v29.0.3.

Try it out. As mentioned before the culprit now are Jest’s build-in types of `requireActual` and `requireMock`. These got fixed in #13253, but are not yet released. The rest seems to be working.

No need to rush at all. Just leaving a note on progress (;

[2022-09-16 08:33] SimenB commented on #13143
Making this pluggable would be nice - we had a PR at some point for an SWC-based loader as well.

Thoughts on adding some sort of `loader` docblock at the top of the file, similar to e.g. `/** @jest-environment jsdom */`?

[2022-09-16 12:34] johnhunter commented on #11500
As of jest 29 legacy timers no longer seem to work. Did I miss that in the release notes?

[code]

[2022-09-16 12:37] mrazauskas commented on #11500
The API has changed since Jest 28. See Upgrade Guide: https://jestjs.io/docs/28.x/upgrading-to-jest28#fake-timers

[2022-09-16 13:33] johnhunter commented on #11500
So adding a separate spy to the non-legacy fake timer seems to work:
[code]

[2022-09-16 13:35] mrazauskas commented on #11500
Yep. Just as documented here: https://jestjs.io/docs/timer-mocks

[2022-09-16 16:05] MasterOdin commented on #13143
Sure, I think that adding a brief loader docblock at the top of the file would make sense, in the concept that within your dependency tree you end up with multiple TS loaders for whatever reason, and you want to make sure that you end up using a specific one, vs the default ordering of jest. Adding support for that should be pretty straight-forward, as compared to actually implementing these other

[2022-09-16 18:05] #12867 closed

[2022-09-16 18:33] DamianArado commented on #9324
A lot of people have already pointed out but let me summarize a quick answer to a new visitor on this thread.

- Tests fail on the CI due to a single worker process (in GitHub Actions in my case) which is not the case in our local machines. Try adding `maxWorkers=2` to your test script and the tests will pass on the CI without changing the machine from `ubuntu-latest` to `macos-latest`.
- To know

[2022-09-17 08:12] #12691 closed

[2022-09-17 11:25] #13042 closed

[2022-09-17 13:19] itaizelther commented on #9901
@thernstig I have no write permissions to the existing PR, so I have created a new one: #13273
It is done, you may review it

[2022-09-17 13:30] #13043 closed

[2022-09-17 17:14] thernstig commented on #9901
I am not a maintainer here, just meant that I don't think anyone minds if you start a new PR. Great that you did!

[2022-09-17 19:11] vldmrkl commented on #9901
@itaizelther thank you 🙏

[2022-09-17 20:37] #13041 closed

[2022-09-18 07:00] SimenB commented on #13148
Duplicate of #12759 (although this issue went above and beyond and identified the buggy code!), fixed in #13170

[2022-09-18 07:00] #13148 closed

[2022-09-18 10:33] rahul3002 commented on #13027
/reopen

[2022-09-18 18:01] davecardwell commented on #12911
Commenting to keep this alive. Still an issue in Jest v29.0.3.

[2022-09-18 18:08] davecardwell commented on #13260
`util.inspect()` on an `Error` will produce a string with the cause in the expected format:

[code]

[2022-09-19 07:28] SimenB commented on #13027
PR welcome!

Super cool 😀

[2022-09-19 08:30] silverwind commented on #13260
Related change there is https://github.com/nodejs/node/pull/41002.

[2022-09-19 10:29] #11109 closed

[2022-09-19 16:32] #13053 closed

[2022-09-19 16:52] #5281 closed

[2022-09-19 18:16] michkot commented on #12880
While this feature ask specifically for toEqual, I'd like to stress out this: https://github.com/facebook/jest/pull/7352#issuecomment-508080125
`.extend` does not solve a) code duplication if it should be applied to toEqual, toContainEqual, toEqualStrict, toMatchObject ... and all spyMatchers!

I am aware of a very burning use-cases for this = if you use (immutable) value-objects with non-trivial

[2022-09-19 22:11] AndrewSouthpaw commented on #13048
Still an issue.

[2022-09-20 06:26] #13267 closed

[2022-09-20 11:56] dr-azbest commented on #13007
I had exact same error message on CI tests. It affected all my test cases. This message hides real problem. You have to change maxWorkers to 1 to see what is the problem on single thread. Then you will see cause of error which helps you to resolve issue.

[2022-09-20 12:55] kkyusufk commented on #13260
I can take this up if no one has started work @SimenB

[2022-09-20 13:56] JVBorges commented on #13232
I don't think this should be considered a bug since Jest documentation notify that errors are not deep equality checked when using [toEqual matcher](https://jestjs.io/docs/28.x/expect#toequalvalue). Also, the docs recommend using [toThrow](https://jestjs.io/docs/28.x/expect#tothrowerror) matcher for testing errors, but even toThrow doesn't do deep equality check, so I guess adding this could be a

[2022-09-20 14:44] jfw225 commented on #13222
As mentioned in #12260, I believe the fix is fairly simple. Either update the documentation to specify that the return type is
[code]

or change [this line](https://github.com/facebook/jest/blob/051af02d0dd9922702caffcad7223cd5aec9f062/packages/jest-core/src/SearchSource.ts#L344) `SearchSource.js` to
[code]

I will say that the latter seems more clear as the current implementation seems redundant.

[2022-09-20 14:46] SimenB commented on #13260
Go for it! 🙂

[2022-09-20 15:09] albertodiazdorado commented on #11698
Any update on this?

Or at least some information as to:

- Why this feature has been removed
- How can we achieve what we used to achieve with `fail`

[2022-09-20 17:06] infacto opened #13285 "[Feature]: Improve mocking classes."
### 🚀 Feature Proposal

Make mocking classes with Jest painless by getting inspired from [mockito](https://github.com/NagRock/ts-mockito).

### Motivation

Currently you have `jest.mock` with expects a path instead a `class`, `jest.fn` for single methods or `jest.spyOn`also for methods. Which required a huge complex setup... I really like Jest. But mocking a class is everything else then "delightf

[2022-09-20 17:21] savifon commented on #12030
It solved it, but it doesn't render Swiper in the test, so you can't do the internal tests.

[2022-09-20 22:15] syuilo commented on #11601
I have the same issue.
Is there any workarounds?

[2022-09-21 06:57] christoph-fricke commented on #13285
Hi! For now, you might be satisfied with using [jest-mock-extended](https://github.com/marchaos/jest-mock-extended). I already requested similar feature improvements (#11995) back in October 2021, but the issue has not gained any traction yet. Let's see how it goes. Currently, I am quite happy with jest-mock-extended.

[2022-09-21 09:26] infacto commented on #13285
Looks interesting, thanks for the hint. I see some parallels to Mockito. It's maybe something I'm looking for. I'll test it soon. Not sure if I finally use [ts-mockito](https://github.com/NagRock/ts-mockito) or [jest-mock-extended](https://github.com/marchaos/jest-mock-extended). It would be great if Jest includes a more handy way to mock classes. Maybe by extending the existing [mock](https://jes

[2022-09-21 11:46] orimdominic commented on #11883
I'm experiencing this too.

[2022-09-21 11:47] vatsalpatel68 opened #13288 "Why Jest test cases takes much time to run and throw a timeout error inside gitlab or bitbucket pipelines."
### Please do not submit this issue.

- [X] I understand

[2022-09-21 11:47] #13288 closed

[2022-09-21 15:03] LinusU commented on #13199
I'm getting this error with latest `jest` (`29.0.3`) and latest `@types/jest` (`29.0.3`):

[code]

I fixed this by removing `@types/jest`, and adding imports of the globals to every test file, some variation of:

[code]

[2022-09-21 15:27] sgb-io commented on #10242
Yes, this is a very breaking change, but I personally believe there is a fundamental issue here that warrants the change. IMO, it is far too easy to write buggy tests that give a false assurance of working _and tested_ software, due to subtle mock leakage between tests.

Ever had to modify unit tests and have to spend hours debugging why things broke when you made some chages, only to discover som

[2022-09-21 23:30] pke commented on #10242
This change needs to happen to fix all the broken jest tests out there. The fallout may be massive but people currently don't know their tests, and by that, their code, is potentially broken. +1 for changing the defaults. Should increase major version for that to stay true to semver though.

[2022-09-22 09:05] #12918 closed

[2022-09-22 09:46] connorjburton commented on #10025
For anyone wanting to use this functionality I created a demo repo here (including TS support via `ts-jest`)

https://github.com/connorjburton/js-ts-jest-esm-mock

[2022-09-22 20:54] JVBorges commented on #12929
Hi, can I take a look at this issue?

[2022-09-22 22:21] bingjiez opened #13312 "[Feature]: GlobalSetup after env"
### 🚀 Feature Proposal

I was trying to setup a global beforeAll. I saw the globalSetup configuration option. However, I use jsdom as test environment and the setup involves with environment related mockups. I like the idea of setupAfterEnv which set up individual test suites after environment but I didn't find similar option for global setup.

### Motivation

Global setup using test environment

[2022-09-23 08:52] elementum opened #13313 "[Bug]: Jest reuses mocks across multiple instances of the same class"
### Version

29.0.3

### Steps to reproduce

Example steps:
1. Clone my repo at https://github.com/elementum/jest-reuses-mocks-across-multiple-instances
2. npm install
3. npm test
4. You should see the error come up

### Expected behavior

I have two instances of the same class that have a single method _value_ which returns 0.

I expect that different instances of the same class when mocked to ha

[2022-09-23 09:21] freddi301 commented on #13093
`test.each` is similar

[2022-09-23 10:29] kafir-coder commented on #8896
Really needing this too!!!

@Mark1626  any news?

[2022-09-23 11:15] #12889 closed

[2022-09-23 12:44] SimenB commented on #13167
That's just how CLI args work. You can do e.g. `jest --selectProjects=foo -- bar`

https://yargs.js.org/docs/#api-reference-arraykey

[2022-09-23 12:44] #13167 closed

[2022-09-23 13:43] ddbhagat commented on #13007
It appears that Node 15 introduced a breaking change to promise rejection handling. Reference https://developer.ibm.com/blogs/nodejs-15-release-blog/

[2022-09-23 13:58] #13059 closed

[2022-09-23 14:53] Tirke opened #13315 "[Bug]: CSSOM.parse is not exposed in the package used by jest-environment-jsdom"
### Version

29.0.3

### Steps to reproduce

I don't have a repro currently but error is generated from `@material-ui/styles` since switching to jest>28 and  jest-environment-jsdom.

### Expected behavior

The issue is already identified https://github.com/NV/CSSOM/pull/113/files and a PR is even available but CSSOM doesn't seem to be the most maintained lib.

### Actual behavior

Jest tests are g

[2022-09-23 18:34] Bast1onCZ commented on #11617
This is quite unplesant issue. Testing library cannot handle one of built-in language types? Srsly? Please fix it somebody!

[2022-09-23 19:15] havenchyk commented on #13007
yes, it's the problem. And it turned out debugging of unhandled rejected promises is so painful

[2022-09-23 20:18] cowboyd commented on #12259
👍🏻

[2022-09-24 06:57] #13062 closed

[2022-09-24 09:30] Doogiemuc opened #13318 "[Bug]: JEST Redefines console.log"
### Version

29.0

### Steps to reproduce

Just simply use jest in any way.
JEST **by default** redefines console.log.   Log messages are not outputted in their normal way. Instead JEST intercepts the messages and prints them differently. Most notably: At a different time.

### Expected behavior

Don't touch the global console object. Not. ever.

### Actual behavior

JEST redefines the global cons

[2022-09-24 15:22] SimenB commented on #13062
https://jestjs.io/docs/configuration#coveragethreshold-object

[2022-09-24 16:43] ilyub commented on #13062
Thx for the hint

[2022-09-25 06:04] #12934 closed

[2022-09-25 15:02] #13070 closed

[2022-09-25 18:13] brunocabral88 commented on #13222
Thanks @jfw225, I think it makes more sense to just return an array of strings in the shape of `{ filtered: Array<string> }`, considering the method accepts an array of strings too. I just created a PR for it.

[2022-09-25 22:50] shamilovtim commented on #2070
A flag to turn off the warning would be good enough for us. Or its outright removal. There's no added value from this warning. Having two identically named files is impossible on a standard file system. My concern is that if we keep investing in manual mocks we're going to get flooded by these warnings. They make the DX poor and make our project look clunky and broken.

[2022-09-26 04:58] kopax-polyconseil commented on #13070
Shame to close this 😕

[2022-09-26 09:59] madhums commented on #13318
Completely agree. It's not desired or intuitive behaviour, leaves the developers confused and a bad developer experience.

[2022-09-26 10:10] madhums commented on #13318
It looks like using `--verbose` prints console.log output

[2022-09-26 10:12] madhums commented on #10456
Have you tried running jest with `--verbose` option?

[2022-09-26 12:16] #11786 closed

[2022-09-27 10:08] sbycrosz opened #13325 "[Feature] partialMocked - mocked, but less strict return/resolved values"
### 🚀 Feature Proposal

I want to do something like this...

[code]
But because foo returns a dozen other properties that the test doesn't rely on, so we get errors like this:

[code]

Currently, we can fix the typing error with some workaround, but this takes away the nice typing jest provides:

[code]

This isn't always possible, as running the original function can have side effects, or return

[2022-09-27 10:37] KhanhPham2411 opened #13326 "[Please read the message below]"
### Please do not submit this issue.

- [X] I understand

[2022-09-27 10:37] #13326 closed

[2022-09-27 10:40] mrazauskas commented on #13325
Thanks for reminder. I was thinking about this, but wasn’t sure if the return value should be always partial.

Did you try using type argument like this:

[code]

Might be I miss something. More real world examples are more than welcome.

---

By the way, the return type of `jest.requireActual<typeof import('./module')>('./module')` also can be set through a type argument. See TypeScript tab in th

[2022-09-27 10:42] KhanhPham2411 opened #13327 "[Bug]: spyOn not working"
### Version

27.0.6

### Steps to reproduce
`
export async function devide(a, b) {
	return a/b;
}

export async function devide2() {
	return await devide(5,5);
}
`
![image](https://user-images.githubusercontent.com/12913151/192504793-ec971cfb-000c-4cd8-a048-9a65a7351a79.png)

### Expected behavior

Show "mocked" in the console log

### Actual behavior

Don't show mocked in the console log

### Add

[2022-09-27 15:04] #12975 closed

[2022-09-27 20:24] VladimirGrenaderov commented on #13258
@cyberwombat just call 'code = await import(...)' before 'jset.unstable_mockModule(...)'.

[2022-09-27 20:56] VladimirGrenaderov commented on #9430
Found mistake: _virtualMocks instead of _virtualModuleMocks don't allow to use unstable_mockModule with virtual: true. Jest fails with 'Cannot find module...'

https://github.com/facebook/jest/blob/5e51a06ded2fee7ceb8b1f5ea29af6bcfccc7d1e/packages/jest-runtime/src/index.ts#L1827-L1838

[2022-09-27 22:46] cyberwombat commented on #13258
@VladimirGrenaderov can't - `jest.unstable_mockModule` is hoisted so I don't have access to anything outside of it.

[2022-09-27 22:47] cyberwombat commented on #13258
But feel free to close - I moved to `vitest` so would not be able to even test a solution.

[2022-09-28 05:11] akoreh commented on #13327
You're spying on `devide` but calling `devide2`

[2022-09-28 06:57] #13264 closed

[2022-09-28 07:18] #12929 closed

[2022-09-28 07:24] sbycrosz commented on #13325
Hi @mrazauskas

My current use case is to mock out react-query functions using jest.spyOn

[code]

which gives me an angry message from typescript

[code]

I'm not entirely sure how to rewrite that using `jest.mocked`, but wouldn't redefining the return type on the test itself cause typing inconsistency between the implementation and the test?

Cheers,
Sam

[2022-09-28 07:27] #13140 closed

[2022-09-28 07:39] SimenB commented on #13199
does it work with https://github.com/facebook/jest/releases/tag/v29.1.0?

[2022-09-28 08:55] mrazauskas commented on #13199
I was playing with me reproduction. Error is gone with `jest` v29.1.0 and `@types/jest` v29.0.3. Would be nice is someone could double check.

[2022-09-28 09:01] AuHau commented on #10185
Maybe the [`extensionsToTreatAsEsm`](https://jestjs.io/docs/configuration#extensionstotreatasesm-arraystring with `.jsx` suffix would help here?

[2022-09-28 09:56] huangjihua opened #13330 "[Bug]: Error: Not implemented: window.computedStyle(elt, pseudoElt)"
### Version

29.0.3

### Steps to reproduce

[code]

### Expected behavior

The Window.getComputedStyle () method returns an object containing the values of all CSS properties of an element, after applying active stylesheets and resolving any basic computation those values may contain. Individual CSS property values are accessed through APIs provided by the object, or by indexing with CSS property

[2022-09-28 10:27] SimenB commented on #10185
Yep, that should do it 🙂

[2022-09-28 10:27] #10185 closed

[2022-09-28 10:30] SimenB commented on #13330
See https://github.com/jsdom/jsdom/issues/3025 - this is an upstream issue

[2022-09-28 10:30] #13330 closed

[2022-09-28 12:18] SimenB commented on #6744
@rkesters the branch from https://github.com/facebook/jest/issues/6744#issuecomment-1007810897 seems to be deleted - do you still have it somewhere?

[2022-09-28 12:39] niklass08 commented on #11698
Same here, still getting the `fail is not defined` error, any update or insight would be great

[2022-09-28 12:40] mrazauskas commented on #13325
Thanks. In general I would do something like this:

[code]

Or, if I do not care about the return value at all:

[code]

---

In these examples casting clearly shows that an incomplete mock or even a mock of different shape is used for testing. TypeScript: "Hey there, the return shape is incomplete". Me: "Yep. That’s intended, only testing here."

I would think that often code depends on the exact

[2022-09-28 13:15] smaye81 commented on #13199
I can confirm this works for me also with `jest v29.1.0` and `@types/jest v29.0.3`.  Thanks for the fix!

[2022-09-28 13:22] SimenB commented on #13199
Great, thanks!

[2022-09-28 13:22] #13199 closed

[2022-09-28 13:34] SimenB commented on #13258
`unstable_mockModule` isn't hoisted fwiw.

And yeah, we haven't implemented `jest.importActual` or something like it yet to be able to partially mock a module

[2022-09-28 14:11] cyberwombat commented on #13258
Got it. I just tried the await import at top on sample repo and that didn't work either.

[2022-09-28 16:04] VladimirGrenaderov commented on #13258
Looks like it's excepted result. Let's modify main.js a bit:
[code]

Now logError returns it's internal reference (acquired via lexical scope on module creation) to sendErrorToLog. And test it:
[code]

Internal reference to sendErrorToLog never changes which is expected for me. Even if we ask runtime to force reload the module, lexical scope and bindings were created before any import-related tric

[2022-09-28 16:15] VladimirGrenaderov commented on #13258
Don't see anything related to source modification in esmock code, except tricks with imports / exports (which is not enough for your case).

[2022-09-28 16:19] cyberwombat commented on #13258
Probably right. I did end up switching to vitest during my experiments and tried there as well. What I was able to do - whichI think Jest can - is to move the `sendErrorToLog` to another file and mock that. It appears that - at least in vitest - all references to `sendErrorToLog` from other files are automatically mocked - didn't event need to use `await import`.   I'd love to see some internal wa

[2022-09-28 19:38] roblframpton commented on #11665
I am also experiencing this issue, but for me it is caused by `node-fetch`.  As far as I can see none of the workarounds in this thread are applicable, and I don't think I'm doing anything wrong, e.g. missing an await.  Is there any way I can get my tests to pass?

[2022-09-28 20:54] jgerigmeyer opened #13332 "[Bug]: Jest v29 error with Babel, Yarn v3: Jest worker encountered 4 child process exceptions, exceeding retry limit"
### Version

29.1.1

### Steps to reproduce

1. Clone my repo at https://github.com/jgerigmeyer/jest-test
2. Use Node `v16.17.1`
3. `yarn install`
4. `yarn test`

See the error:

[code]

5. `yarn test -i`

No error:

[code]

### Expected behavior

I expect the test to pass.

### Actual behavior

[code]

### Additional context

The error is inconsistent, and does not occur on every run. Possibly so

[2022-09-28 21:09] m-r-r commented on #11864
Hello,

I had this same problem, and after a lot of tinkering I eventually found a workaround.

As far as I can tell, the problem happens because Jest uses the module `node:vm` to run tests. This module allows running JavaScript code in a different V8 context. The module `onnxruntime` doesn't recognize the instances of `Float32Array` because they were defined in another VM context. Their construct

[2022-09-28 22:22] jcollum-nutrien opened #13333 "[Bug]: Jest 29 not respecting `mock` prefix for variables when hoisting"
### Version

29.1.1

### Steps to reproduce

1. clone https://github.com/jcollum-nutrien/jest-mock-issue
2. yarn
3. yarn test

Dupe of #10996, which is locked (but also a year old)

### Expected behavior

Variables prefixed with `mock` should be hoisted, as the docs state.

### Actual behavior

`Cannot access 'mockInfo' before initialization`

[code]

### Additional context

_No response_

### Env

[2022-09-29 06:02] mrazauskas commented on #13333
With two changes in your reproduction seems to be working:

1. Use `babel-jest` as a transformer. It works as documented. If a third party transformer does not work for you, Jest can’t help here.
2. Please read this [section](https://jestjs.io/docs/next/es6-class-mocks#calling-jestmock-with-the-module-factory-parameter) carefully and rework with test:

[code]

The 'ReferenceError' issue should be

[2022-09-29 06:10] sarneeh commented on #13143
I think we could use something like a `require` option where you could put whatever transpiler out there. [This is how ava does it](https://github.com/avajs/ava/blob/main/docs/recipes/typescript.md#for-packages-without-type-module). This way you can use whatever you want: `@swc-node/register`, `ts-node/register`, `esbuild-register`.

[2022-09-29 07:25] SimenB commented on #13333
`ReferenceError` is a JS runtime error.

[code]

[code]

This is _exactly_ the case the babel plugin warns you about if you _don't_ prefix with `mock`.

[code]

[code]

You tell Jest that you're sure you're gonna initialize it before it's needed, but you don't.

[2022-09-29 07:25] #13333 closed

[2022-09-29 07:27] DetachHead opened #13334 "[Feature]: typesafe assertions"
### 🚀 Feature Proposal

this will always fail, but since typescript infers the type as `unknown`, there's no compile error:
[code]

### Motivation

it will allow you to identify errors in your tests much earlier, speeding up development 🚀🚀🚀

### Example

[code]

### Pitch

the current `expect` types make using typescript with jest pretty much useless. i think if jest is going to support typescript

[2022-09-29 07:30] mrazauskas commented on #13334
Fix it. Just open a PR (;

[2022-09-29 08:12] SimenB commented on #13334
Would love `toBe` to work as type predicate 👍 Not sure how feasible it is, tho

[2022-09-29 08:39] tapz commented on #3322
5 years gone and still Jest not doing what Mocha has been able to do for the past 10 years. And this is to show the most important information needed after failing tests. Why people even use Jest? It's slow, prints output when all test run not after each failure, cannot do a proper summary, mocking cumbersome, ...

[2022-09-29 10:03] #11797 closed

[2022-09-29 10:09] guimard opened #13335 "[Bug]: jest shouldn't use an outdated @types/jest to build"
### Version

29.1.1

### Steps to reproduce

1. update package.json to use @types/jest ^29.1
2. launch build
3. See error about LegacyFakeTimer

### Expected behavior

jest build should be able to use last @types/jest

### Actual behavior

Typescript error:
[code]

### Additional context

Workaround (used by Debian to build jest): edit @types/jest/index.d.ts and drop those lines
[code]

### Enviro

[2022-09-29 10:28] SimenB commented on #13335
We cannot use the latest version as it depends on modules which are in _this_ repo but which aren't built yet when `tsc` resolves modules.

Also, `@types/jest` is just imprecise - the type definition in Jest is more correct (you can only pass the other fields if `false`): https://github.com/facebook/jest/blob/e21c5aba950f6019bbfde2f8233ac96d1fcaef42/packages/jest-environment/src/index.ts#L332-L334

[2022-09-29 10:28] #13335 closed

[2022-09-29 10:34] mrazauskas commented on #13335
Working on that and there is some progress. Not an obvious thing to do (that’s some fourth attempt already).

Also I went on fixing this `jest.useFakeTimers` config issue on `@types/jest` https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62468

[2022-09-29 12:20] SmashingQuasar commented on #13160
I am commenting to indicate this is still an issue.
We have found no workaround aside from migrating to another testing framework...

[2022-09-29 13:47] humanzz commented on #12734
I've been using https://github.com/igor-dv/jest-specific-snapshot - which sounds similar to jest-file-snapshot.

It'd be great if this type of specifying a snapshot file can be supported natively by jest.

The main use case for me is to be able to have multiple snapshot files, one for each test case, for a single test file

[2022-09-29 13:52] avaly opened #13337 "[Bug]: Type inferrence in `toBeCalledWith` broken for method with overloads"
### Version

29.1.1

### Steps to reproduce

[code]

### Expected behavior

The methods with overloads should be inferred correctly based on the number of arguments.

### Actual behavior

Methods with overloads are triggering type errors.

### Additional context

The bug was introduced in #13268

This is a common pattern in libraries which support both callback and promise syntax, e.g. https://git

[2022-09-29 13:58] mrazauskas commented on #13337
Thanks for report. Indeed the types are buggy here.

I was about to revert #13268 and #13278, because there are also other issues with them as well. For instance, current types don’t allow using asymmetric matchers.

[2022-09-29 14:59] mitchhentgesspotify commented on #6694
Hey folks, I've done an investigation run on my own with a no-op test and a lot of imports (`requireModuleOrMock()` is being called ~12500 times!). Most of my files in this test are TypeScript.

Ignoring `jest` init time (by strictly measuring the 2nd test of a `jest --watch ...`), this no-op test takes `~1.5s`.
Here's what I'm seeing that's causing that:
* `~625ms` is spent doing `getModuleID()`

[2022-09-29 15:16] jgerigmeyer commented on #13332
@ericvera Thanks! I still get the error (with no helpful info) with `--maxWorkers=2`, but your `packageExtensions` solution also fixed it for me. 👍

[2022-09-29 16:36] KrisBNelson commented on #10577
I get this issue with mocking await functions in many tests in different `describes` in the same file which all fail when I have a `mockReturnValueOnce` in one describe, but doesn't appear with `mockReturnValue` in the `describe` block, it's as if the mocks are shared between `describe` blocks...
[code]

If I do `jest --detectOpenHandles` or `jest --runInBand` the errors don't appear, and I don't

[2022-09-29 16:56] le-cong opened #13338 "[Bug]: Object.getOwnPropertySymbols() does not work against global instance with jest+node18"
### Version

27/28/29

### Steps to reproduce

run the following test case:

### Expected behavior

the test should pass

### Actual behavior

the test passes with Node JS <16, fails starting with Node JS 18

### Additional context

_No response_

### Environment

[code]

[2022-09-29 17:09] guimard commented on #13335
Thanks @mrazauskas, your patch is perfect for me

[2022-09-29 17:24] Doogiemuc commented on #13318
To support my case here are some references where developers at ... at least .... confused be jest's default behaviour:

- https://stackoverflow.com/questions/48695717/console-log-statements-output-nothing-at-all-in-jest
- https://stackoverflow.com/questions/54190596/no-console-log-to-stdout-when-running-npm-test-jest
- https://stackoverflow.com/questions/41093368/does-jest-swallow-console-log-sta

[2022-09-29 17:29] Doogiemuc commented on #13318
For anyone who comes here. There is a ("crude") workaround:
[code]

[2022-09-29 17:31] #11798 closed

[2022-09-29 18:43] s-chand commented on #13158
I've tried navigating this and was about to create a similar ticket.
Custom Errors in Async contexts don't work for Jest. The details in the above issue are exactly as mine are set up, including the jest version

[2022-09-29 19:30] #11618 closed

[2022-09-29 19:33] ksXV opened #13340 "[Bug]: working with .mts files jest can't find files"
### Version

29.0.3

### Steps to reproduce

1.Clone my repo:https://github.com/ksXV/nasa-project
2.Run npm install
3.Add a .env file inside /server with a valid Mongodb url connection string
4.Run cd server
5.Run npm run test

### Expected behavior

I expect to see my test running.

### Actual behavior

Jest errors out not knowing where to import my app module since i have to import it ending wit

[2022-09-29 21:35] jcollum-nutrien commented on #13333
For anyone who finds this later: I switched it over to babel-jest. Still ran into issues, had to change the mock to:

[code]

Repo has been updated.

[2022-09-29 21:38] jcollum-nutrien commented on #13333
@SimenB my first draft of the test had:

[code]

but you said

and I don't understand where you're getting that because I definitely initialize before use.

[2022-09-29 22:15] djMax commented on #9430
I have tried every combination of things in this and many other writeups, and nothing works. I am trying to use ESM and Typescript, and they just all hate each other. Relevant TS Config:

[code]

Jest config:
[code]

Failure:
[code]

I am testing in another module (foo-serv), and this error is in the service module, both of which are in a monorepo.

[2022-09-29 22:23] VladimirGrenaderov commented on #9430
@djMax how do you run jest? --experimental-vm-modules is not a requirement, it's a flag to enable ESM.

[2022-09-30 00:47] djMax commented on #9430
I've tried a few ways. Plain jest and `yarn node --experimental-vm-modules $(yarn bin jest)`.

[2022-09-30 00:59] VladimirGrenaderov commented on #9430
@djMax, there is my config (without reporters & co), it forks fine in PnP monorepo, all packages have 'type: module':
[code]

There is only one non-jest package without any specific setup.

[2022-09-30 01:31] djMax commented on #9430
I've made the repo public for now to try and figure this mess out.

https://github.com/gas-buddy/gasbuddy

Should be just `yarn && yarn build:all && yarn test` and boom failure. In your example above, the @swc/jest bit is unrelated right?

[2022-09-30 01:43] VladimirGrenaderov commented on #9430
@djMax , there is no ESM:
<img width="716" alt="image" src="https://user-images.githubusercontent.com/20106607/193171889-6657d502-688e-422e-a2cc-8de0f7aea3df.png">

With ESM enabled, the issue a bit different, right?
<img width="858" alt="image" src="https://user-images.githubusercontent.com/20106607/193172056-aa7b8ad4-6f94-45bb-a35d-94e386215556.png">

[2022-09-30 01:53] VladimirGrenaderov commented on #9430
@djMax finally, it works ) Plain js config to exclude ts-node from chain:

[code]

Added missed modules
<img width="462" alt="image" src="https://user-images.githubusercontent.com/20106607/193173157-4b02c1cf-370a-4568-a0d5-c25affb4fd3c.png">

And "test": "node --experimental-vm-modules --no-warnings $(yarn bin jest)" as well.

<img width="495" alt="image" src="https://user-images.githubusercontent

[2022-09-30 02:00] djMax commented on #9430
Yeah, sorry, I pushed updates for the dep issues. I had tried to remove unnecessary ones to reduce noise, but of course I didn't run yarn to clean 'em up so "works for me." Anyhow - first, thank you very much for your help. Going to try and reproduce it here. BTW, should I be able to put this jest config in the monorepo root? I wasn't able to get that to work before.

[2022-09-30 02:10] djMax commented on #9430
What is @swc/jest and what does it have to do with all this?

[2022-09-30 02:13] VladimirGrenaderov commented on #9430
'yarn add @swc/core @swc/jest' in project root (a bit dirty but more than enough for POC)

[2022-09-30 02:15] djMax commented on #9430
Yeah, I did that, and it does indeed work, but I'd just never heard of it. It seems to be the key to unlocking the prize though, so I'm in!

[2022-09-30 02:26] djMax commented on #9430
Simpler working config:
[code]

[2022-09-30 02:30] VladimirGrenaderov commented on #9430
Sure, it will work without require.resolve... until you decided to use shared config and PnP which blocks loading of 'not your dependencies' for config consumers. PS: ["@swc/jest"] -> "@swc/jest", brackets is useless in simple configuration.

[2022-09-30 02:51] djMax commented on #9430
PnP... yeah. That was one step too deep on the bleeding edge for me. But noted, and thanks again. That was a day worth of headbanging.

[2022-09-30 04:58] #10104 closed

[2022-09-30 05:16] mrazauskas commented on #13333
Just to add. All is good with `esbuild-jest` only that they are still shipping `babel-jest` v26. The provided reproduction is hitting #12422, which was fixed in `babel-jest` v29.0.2.

[2022-09-30 05:20] mrazauskas commented on #13335
Good to hear that. `@types/jest` v29.1.1 got shipped with the fix.

[2022-09-30 05:24] cfry2 commented on #11354
Oh my god after spending days with this issue, calling gc fixed it for me! Like OP using `--detectOpenHandles` magically fixes the issue and the issue only seems to occur when running a larger amount of tests. I spent a lot of time trying to pinpoint the issue to a faulty test by running subsets of my tests but the issue would disappear then as well.

[2022-09-30 06:49] #13337 closed

[2022-09-30 07:20] tjenkinson commented on #11354
Great! I wrote up a bit more here: https://github.com/facebook/jest/pull/13139#issuecomment-1218472224

I think next the simplest thing is probably increase the `FORCE_EXIT_DELAY`

[2022-09-30 08:00] SimenB commented on #13337
https://github.com/facebook/jest/releases/tag/v29.1.2

[2022-09-30 10:11] SimenB commented on #13333
Not really - the calls to `jest.mock` are hoisted (as they need to run before `import`). See https://jestjs.io/docs/manual-mocks#using-with-es-module-imports

[2022-09-30 11:26] mhombach commented on #13206
Any chance this issue will be verified and tackled? It's an easy reproducible bug which should be also somewhat-eaasy to fix.

[2022-09-30 15:33] bjoluc commented on #13134
Thanks for the clarification @SimenB! I was confused since this used to work in Jest v27. Is there any better workaround than nesting the array in an object? :smile:

[2022-09-30 15:55] VladimirGrenaderov commented on #9430
@SimenB any chance to quick fix for https://github.com/facebook/jest/issues/9430#issuecomment-1260044784 in nearest releases?

[2022-09-30 16:07] newsiberian commented on #9430
Has anyone succeed with use `spyOn` in .mts modules?

[code]

<img width="588" alt="Снимок экрана 2022-09-30 в 20 03 21" src="https://user-images.githubusercontent.com/11130487/193311270-7f6c2114-264b-4883-a9fc-c35d9b3b4bf5.png">

[code]

[2022-09-30 16:39] VladimirGrenaderov commented on #9430
It's impossible due to Module object nature provided by Node. Answered many times... https://github.com/facebook/jest/issues/12145#issuecomment-992662824

But you can try :)
[code]

[2022-09-30 16:44] comp615 commented on #9696
Coming from jasmine runner, this seems like the gap in using `testTimeout` as a replacement for `jasmine.DEFAULT_TIMEOUT_INTERVAL`

[2022-09-30 17:23] SimenB commented on #13134
Not really - it's made for objects, not really an array of them...

[2022-09-30 21:10] moysha-tsoref opened #13347 "[Bug]: @jest/environment@29.1.2 not found in npm"
### Version

29.1.2

### Steps to reproduce

1. npm i @jest/environment@29.1.2

### Expected behavior

successful installation

### Actual behavior

npm ERR! code ETARGET
npm ERR! notarget No matching version found for @jest/environment@29.1.2.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

npm ERR! A complete

[2022-09-30 21:15] #13085 closed

[2022-09-30 21:59] nicojs opened #13348 "[Feature]: Expose `readRawConfig` from `jest-config`"
### 🚀 Feature Proposal

I would love for `jest-config` to expose a new `readRawConfig`. It reads the `Config.InitialOptions` from (jest.config.js, jest.config.ts, jest.config.cjs, package.json, etc) without validating them.

I'd be happy to implement this in a PR!

### Motivation

The [StrykerJS jest-runner plugin](https://stryker-mutator.io/docs/stryker-js/jest-runner/) roughly works as follows:

[2022-09-30 22:20] noCharger opened #13349 "[Bug]: Jest child process breaks Buffer instanceof Uint8Array"
### Version

27.5.1

### Steps to reproduce

1. Clone my repo and bootstrap
[code]
2. Create test file `jest_debug.test.ts` with simple test case
[code]
3. Execute test file `jest_debug.test.ts` together with others
[code]
4. Execute test file `jest_debug.test.ts` only

[code]

### Expected behavior

https://github.com/facebook/jest/issues/4422#issuecomment-770274099 This solution should work both

[2022-09-30 23:02] SimenB commented on #13348
Very happy to take a PR implementing this! 🙂

[2022-09-30 23:04] SimenB commented on #13347
Installing works fine on my machine

[code]

Probably a caching issue, but not something we can do anything about in _this_ repo.

[2022-09-30 23:04] #13347 closed

[2022-09-30 23:09] SimenB commented on #13085
I assume you mean typescript types? That should be fixed in those libs - there is nothing stopping them from supporting `@jest/globals`. See https://github.com/facebook/jest/tree/2662f4708e8dc57f733940e28750650e98029067/examples/expect-extend

---

As for adding a while bunch of assertions into core - we don't want to bloat the API. You might prefer more matchers, and in that case other libraries

[2022-09-30 23:33] #11683 closed

[2022-10-01 02:03] #13086 closed

[2022-10-01 05:45] Maxim-Mazurok opened #13350 "[Bug]: jest-config can't import TS file with moduleResolution: node16"
### Version

29.1.2

### Steps to reproduce

1. `git clone https://github.com/Maxim-Mazurok/jest-config-bug-repro`
1. `cd jest-config-bug-repro`
1. (optional) `nvm i`
1. `npm ci`
1. `tsc --noEmit` - works
1. `npm run test:unit` - works
1. `npm run test:integration` - doesn't work

### Expected behavior

Parse config just fine and exit with `No tests found, exiting with code 0`

### Actual behavior

[2022-10-01 07:12] SimenB commented on #13086
This is a cool idea @gabrielogregorio, sorry I missed it!

That said, I don't think this necessarily belongs in core. It sounds to me like a special case of a snapshot matcher? Have you tried building one?

[2022-10-01 10:06] bjoluc opened #13352 "[Feature]: Support array inputs to `toMatchSnapshot()` matcher"
### 🚀 Feature Proposal

Currently,
[code]
fails with
[code]
(#13134, [example repo here](https://github.com/bjoluc/jest-asymmetric-matcher-repro)).

### Motivation

This used to work in Jest v27 and would allow test cases [like this](https://github.com/bjoluc/next-redux-cookie-wrapper/blob/d4d21a37c98d3830076c21c54ff0faa4dfc0f40c/main/test/config.spec.ts#L10-L15) again. It would help to avoid wrap

[2022-10-01 10:26] lmk123 commented on #12803
check

[2022-10-01 11:51] nandeshwarshubh opened #13354 "[Bug]: Importing json files result in SyntaxError: Unexpected token m in JSON at position 0 at JSON.parse (<anonymous>)"
### Version

28.1.2

### Steps to reproduce

Import a json file in a react component.

Run basic render test case using react-testing-library
ex.
import { render } from "@testing-library/react";
describe("<App />", () => {
  test("it should mount", () => {
    render(<App />);
  });
});

### Expected behavior

json imports should work

### Actual behavior

json imports fail

SyntaxError: Unexpecte

[2022-10-01 12:07] gabrielogregorio commented on #13086
no problems @SimenB

the most I've developed so far is a regex based system, the script opens a test(.spec) file and extracts relevant information, I don't know if this is the best way, in my experience with the docbytest project it brought some complications, for example create a regex based system that understands typescript, that understands relative, absolute, path alias, which analyzes respon

[2022-10-01 15:37] #13354 closed

[2022-10-01 21:58] joeskeen commented on #11698
Seeing as this thread isn't moving towards an upcoming resolution in the `jest-circus` runner, I figured out how to restore the missing `fail()` functionality without re-implementing it. Essentially, if you install `jest-jasmine2` and modify your Jest config to set `"test-runner": "jest-jasmine2"`, you can now use `fail()` in your tests.

See https://stackoverflow.com/a/73922010/1396477

[2022-10-01 23:26] karanmelo commented on #13327
It's right. She trying to spy on divide method to simulate the divide2 return.

[2022-10-02 01:27] karanmelo commented on #13327
This is because function declarations are not spying.
The best way to apply the example mentioned would be using function expressions:

[code]

[2022-10-02 13:56] iassasin opened #13359 "[Bug]: Jest doesnt transform file from node_modules even with empty ignore settings"
### Version

29.1.2

### Steps to reproduce
UPD: just use this repo: https://github.com/iassasin/jest-bug-repro

1. Place somewhere 2 files:
- `package.json`:
[code]
- `jest.test.js`:
[code]
2. `npm install`
3. `npx jest`

### Expected behavior

No errors, all fine

### Actual behavior

[code]

### Additional context

Tried `"transformIgnorePatterns": ["^$"],`, `"transform": {".*": "babel-jest"}`

[2022-10-02 14:37] #11804 closed

[2022-10-02 15:50] #11810 closed

[2022-10-03 01:01] #13057 closed

[2022-10-03 12:50] #13348 closed

[2022-10-03 14:02] SimenB commented on #11804
In general - happy to take PRs improving our JSDoc (or adding, where it's missing).

As for `@types/jest` - I hope that it at some point only puts things into the global namespace and nothing else. See e.g. https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62037

[2022-10-03 14:28] SimenB commented on #13352
Happy to take a PR adding support for this. 👍

If it used to work in Jest 27, it should be possible to go back and bisect to see what broke it.

[2022-10-03 17:57] Cazambra opened #13376 "[Please read the message below]"
### Please do not submit this issue.

- [X] I understand

[2022-10-03 17:57] #13376 closed

[2022-10-03 18:06] ParallelTask commented on #2582
By using jest.mock and jest.spyOn, we can mock inside every test with different implementation

[code]

[2022-10-03 18:25] ParallelTask commented on #10494
because thread [2582](https://github.com/facebook/jest/issues/2582) is closed, posting the temporary solution for others

By using jest.mock and jest.spyOn, we can mock inside every test with different implementation

[code]

[2022-10-03 18:53] krvajal commented on #11925
Frustrating

[2022-10-03 21:16] SimenB commented on #10494
You cannot mock after the fact - you need to mock before importing.

[code]

If `detect-node` would have returned a function you could have changed its mock implementation, but you need to change the return value of the module itself. Which is why `resetModules` is needed so the module doesn't cache the old value.

[2022-10-03 21:16] #10494 closed

[2022-10-03 23:47] Pomax commented on #11925
If a bug is still on "needs triage", it should not be part of stale-bot weeding.

[2022-10-04 00:17] karanmelo commented on #13327
@KhanhPham2411 you solve your problem?

[2022-10-04 07:09] #11815 closed

[2022-10-04 08:29] SimenB commented on #11815
@arpadpall21 can you open up an issue in https://github.com/sinonjs/fake-timers? That's where the implementation of faked `Date` comes from

[2022-10-04 09:53] SimenB commented on #8035
@dubzzz there's an incoming `seed` CLI argument via #12922 - is this something you could use for seeding in `fast-check`? That PR doesn't expose it (and fails if `normalize` isn't provided), but that's an easy fix if it'd be useful exposed on e.g. `jest.getSeed()` or some such.

[2022-10-04 11:46] mrazauskas commented on #12556
Sure. It would be great to improve the docs.

[2022-10-04 12:23] dubzzz commented on #8035
Whaou such a good news. If I can access it I could definitely leverage it for `@fast-check/jest`. Is there any way to access it from `@jest/globals` or will there be any?

[2022-10-04 12:29] SimenB commented on #8035
I'm thinking of just putting it on `jest.getSeed()` or something if it's useful to you as is 🙂

[2022-10-04 12:32] dubzzz commented on #8035
What's the format for the seed? Double value? Int32? Uint32? Or maybe no strong guarantee?

`jest.getSeed()` would probably be good (can I get jest global from `@jest/globals`? No strong issue not to have it, mostly asking)

[2022-10-04 12:35] SimenB commented on #8035
https://github.com/facebook/jest/pull/12922/files#diff-9dbb1da56fa2045712eef8db063b52b3555a799b93e858b7449b5561bef52d9fR1143-R1147

If link is wonky - current implementation is whatever the user passed (which we should validate to ensure it conforms to our contract) or generating one in the shape of `Math.floor((1 - Math.random()) * (Math.pow(2, 29) - 1))`

[2022-10-04 12:38] dubzzz commented on #8035
Perfect 🥰 I'll draft something into `@fast-check/jest` soon to leverage it, thank you so much for it @SimenB

[2022-10-04 12:40] SimenB commented on #8035
note that it hasn't landed it, but I hope to do so in a week or two (I'm heading on vacation tomorrow), but exciting to hear it'll work for your use case 👍

[2022-10-04 16:45] #11650 closed

[2022-10-04 17:10] sindrisig commented on #13350
@Maxim-Mazurok Your script in package.json is incorrect

Current
[code]

Should be
[code]

[2022-10-04 17:56] dubzzz commented on #8035
You'll probably have the answer quickly: is there a way to get the currently registered beforeEach out of jest? Or even better manually trigger it?

Why would I need that for fast-check? Because I need to rerun beforeEach and afterEach before and after any execution of the predicate. So being able to either access the registered one or trigger it would help.

[2022-10-04 18:17] dubzzz commented on #8035
@SimenB Not sure it's the case in the current 'seed' implementation but do you display the seed in case of failure? When manually defined it's questionable but seems to be needed in the automatic seed case.

[2022-10-04 18:41] SimenB commented on #8035
I don't think so - closest might be [`handleTestEvent`](https://jestjs.io/docs/configuration#testenvironment-string)?

Not decided. My current thinking is _just_ landing a way of setting a seed, and it's up to the thing that uses this seed to print it

[2022-10-04 18:55] SimenB commented on #12556
Yeah, go for it!

[2022-10-04 21:14] #13095 closed

[2022-10-04 23:30] Maxim-Mazurok commented on #13350
No, using `--` allows to pass cli arguments to npm script as per [this answer](https://stackoverflow.com/a/14404223/4536543), I've been using it for years in many projects.

You can even see this from log:
[code]

Notice how it has `jest.js --passWithNoTests "--config" "jest.integration.config.ts"` part where config argument is getting passed.

And without `--` it's not being passed:

[code]

You

[2022-10-05 10:59] 11331133 commented on #13313
I faced the same issue today. Sharing mocks between multiple instances of a class can potentially be a cause of bugs

[code]

[2022-10-05 12:45] mikkoh commented on #9980
I had this issue happen even with Jest 29. This issue was caused by an unexpected infinite loop within my code.

This might be why it's hard to track down.

[2022-10-05 13:03] vighnesh153 opened #13388 "[Bug]: jest.useFakeTimers can't be used as a callback"
### Version

29.1.2

### Steps to reproduce

I have this `debounce` function that I am trying to test:

[code]

and following is the test

[code]

Earlier, I was using the `beforeAll` as the following:
[code]

Today, when I updated the `jest` version to the latest, It started to throw "Exceeded timeout of 5000 ms for a test." errors.

### Expected behavior

I was expecting that the following works

[2022-10-05 15:23] vkarpov15 commented on #10555
I can confirm that `jest.isMockFunction(setTimeout)` doesn't work in Jest 29 either, always returns `false` even if fake timers enabled :(

Can you **please** consider deprecating `useFakeTimers()` ?

[2022-10-05 15:57] Lord-Valen commented on #12952
Bump

[2022-10-05 17:34] rlaferla opened #13389 "[Feature]: Reporting website/documentation issues"
### 🚀 Feature Proposal

There needs to be a GitHub issue type for reporting documentation issues.

### Motivation

For example, the Getting Started documentation doesn't explain that for TypeScript, you need to install ts-node.  There is no way to report it.

### Example

It's just a template for GitHub issues for the website/documentation.

### Pitch

Because it's important to have quality docume

[2022-10-05 17:47] mrazauskas commented on #13389
Thanks for the idea.

`ts-node` is only needed, if your `jest.config` is a TypeScript file. The [configuration page](https://jestjs.io/docs/configuration) is mentioning that.

Where did you miss the note on `ts-node` in the Getting Started page? Perhaps a link to the configuration page near `jest --init` command would be enough?

[2022-10-05 18:45] SimenB commented on #13388
The function is passed `done` callback if it takes arguments (like `useFakeTimers` does. So this is expected - you need to pass no params

[2022-10-05 18:45] #13388 closed

[2022-10-06 05:00] vighnesh153 commented on #13388
This used to work in the previous versions (27.x.x) though. Is this change introduced in the latest version?

[2022-10-06 05:13] pahuta commented on #9675
Should be fixed in [29.1.0](https://github.com/facebook/jest/blob/main/CHANGELOG.md#2910).
PR https://github.com/facebook/jest/pull/13145

[2022-10-06 05:51] JamieMagee commented on #13352
I think this should be changed to a bug report instead of a feature request. This was working for us in jest v29.0.3, but is broken when attempting to upgrade to v29.1.2.

Here's a sample reproduction from our repo:

[code]

which errors with

[code]

[2022-10-06 08:28] sonic1981 commented on #12777
It's only stale because Facebook keep ignoring this issue.... Man I hate these github stale things.

[2022-10-06 13:32] nandeshwarshubh commented on #13354
I could not find any resolution to this, neither on stackoverflow nor the discord. It would be great if someone could help me with this!

[2022-10-06 16:56] Raffaello commented on #2582
The only way it looks like working when it needs to mock a module used as a transitive dependency, is to mock the transitive the module as usual.

Then to override it is possible results is to spy on the mocked module.
Kind of a hack but it works.

[2022-10-06 23:13] Rochet2 commented on #10167
Having this issue also on `node: "16.17.1", jest: "29.1.2"`.

[2022-10-06 23:23] Rochet2 opened #13397 "[Bug]: toMatchObject output does not show class getter value"
### Version

29.1.2

### Steps to reproduce

1. Clone my repo at https://github.com/Rochet2/jest-tomatchobject-class-getter-mcve
2. run `npm install`
3. run `npm test`
4. You should see test output that demonstrates the expected output and unexpected output

### Expected behavior

When expectation does not match actual, the output should show getter value for a class the same way it does for a reg

[2022-10-07 04:59] weidehai commented on #13327
@KhanhPham2411 that becasue node module system and closure，spyon not overwrite the origin function but instead of it，so closure still reference origin function，i think it hard to implement what you expect because the commonjs system limit

[2022-10-07 08:50] daniel-stoian-lgp commented on #12992
still active

[2022-10-07 12:56] marcrubiogenie opened #13401 "[Bug]: Timeout misbehaves with concurrent tests"
### Version

29.1.2

### Steps to reproduce

[code]

### Expected behavior

All the tests should time out and fail, and the accompanying timings should be correct.

### Actual behavior

Most tests succeed
[code]

### Additional context

This is problematic because I have some tests that can stall, and I am relying on the timeout feature to abort them.
I have set the timeout to 90 seconds and have

[2022-10-07 12:58] bjoluc commented on #13352
@JamieMagee I previously opened #13134. Interestingly, my [repro]() doesn't work with `"jest": "29.0.3"` neither :confused:

[2022-10-07 15:57] pimterry commented on #11665
I have a much simpler reproduction for this issue:

[code]

Prints:

[code]

[2022-10-07 16:25] #12992 closed

[2022-10-07 17:59] Kurt-von-Laven commented on #10274
I still think this is a good idea.

[2022-10-07 21:48] liuxingbaoyu commented on #11665
`node --expose-gc .\node_modules\jest-cli\bin\jest.js`
[code]
This seems to do the trick, but I'm not sure how I should open the PR in jest.
cc @SimenB

[2022-10-08 15:02] #13110 closed

[2022-10-08 15:59] steveswork opened #13412 "[Bug]: Unresolved optional-chaining issue in jest-cli"
### Version

29.1.2

### Steps to reproduce

Please visit either line 161 of the **"../node_modules/jest-cli/build/cli/index.js"** file or line 1139 of the **"C:\projects-js\crazytenants\node_modules\jest-config\build\normalize.js"** files. More files may also be affected.

### Expected behavior

I expect to see the tests running.

### Actual behavior

[code]

### Additional context

_No response_

[2022-10-08 16:17] SimenB commented on #13412
You need to use at least node v14.

https://github.com/facebook/jest/blob/e754cf726b013f9db0d5aae32a12ae959ad2dee8/packages/jest-cli/package.json#L46-L48

[2022-10-08 16:17] #13412 closed

[2022-10-08 16:31] #13006 closed

[2022-10-08 20:02] #13111 closed

[2022-10-08 22:37] steveswork commented on #13412
A look into the `jest-cli` package.json file indicates that `jest-cli` is still using **@babel/preset-env@7.1.0** (released: Sep. 17, 2018).

_**Optional-chaining**_ was introduced in _**es2020**_.

Please upgrade the _**@babel/preset-env**_ or add the babel plugin for _**optional-chaining**_.

And let me know how it goes.

[2022-10-09 06:57] SimenB commented on #13412
What are you talking about? We don't need to transpile optional chaining syntax, it's supported at runtime.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining#browser_compatibility

[2022-10-09 09:49] peter-bloomfield commented on #2157
I've hit a similar problem where I'm trying to test code which automatically retries a series of asynchronous operations. It uses a combination of promises and timers internally, and can't always expose a promise or callback to signal completion.

Based on the suggestion by @stephenh, here's a utility function I wrote to help my tests wait for all pending timers and promises:

[code]

The loop is

[2022-10-09 11:56] laurencefass opened #13415 "[Feature]: Enable mocking on nested functions contained in the same file as caller when using jest.mock("module", () ={}) api."
### 🚀 Feature Proposal

Enable deep mocking on nested functions in the same file. Currently jest wont mock nested resources contained within the same file as a parent function or object using jest.mock("module", () ={}) api.

See example below for explanation and demonstration. As a relative newcomer to jest I found it difficult to rationalise why this example wouldn't work.

https://stackblitz.co

[2022-10-09 13:51] #9821 closed

[2022-10-09 15:27] #11665 closed

[2022-10-09 17:01] goloveychuk commented on #6694
To "fix" imports overhead, I've written custom test runner.
It's using `posix fork()` to clone processes (more docs are in link)
In our case, we reduced our test run from 18 to 4.5 minutes, from which 1 minute is warmup and could be speed up by moving to swc/esbuild.

https://github.com/goloveychuk/fastest-jest-runner

[2022-10-09 21:26] #12958 closed

[2022-10-09 23:53] steveswork commented on #13412
How exorbitant would the cost be to your team to transpile _**optional chaining**_ in order to make this package backward compatible?

As it currently stands, you are demanding that users upgrade their **Node.js** installations in order to upgrade this package.  This means imminent disruption of their development environments. It hardly seems necessary.

You can avoid it all simply by upgrading th

[2022-10-09 23:57] SimenB commented on #13412
Not really, we'd have to lower our supported runtime target.

---

Node 12 is EOL, which is why we dropped it with Jest 29. Feel free to use Jest 28 if you want support for Node v12.

[2022-10-09 23:58] steveswork commented on #13412
Sounds great, @SimenB. Thanks.

[2022-10-10 07:56] damianobarbati commented on #11167
@SimenB is this waiting for nodejs team to provide support?

[2022-10-10 08:16] #11860 closed

[2022-10-10 13:03] truemoroz commented on #7547
same issue

[2022-10-10 19:41] kopax-polyconseil commented on #13069
Keep open

[2022-10-10 19:55] jesrodri commented on #13334
Hi, can I try this?

[2022-10-10 21:30] Rochet2 commented on #13397
I was trying to create a quick fix, but it seems quite difficult to cover all bases without editing things here and there. You can see my primitive first attempt here: https://github.com/facebook/jest/compare/main...Rochet2:jest:tomatchobject-output

The more I delve into this the more I feel like parts or the core of the diffing logic should be rewritten.
There are nasty edge cases with things li

[2022-10-11 01:05] SimenB commented on #13334
Yeah, go for it!

[2022-10-11 01:40] SimenB commented on #11945
Happy to take a PR, but I'm not sure how clean it'd be. most every single module in the monorepo would have to care about it and have it in their API

[2022-10-11 02:03] tim-g-provectusalgae commented on #12952
Well this puts us in a bind...

[2022-10-11 02:23] diomedtmc opened #13425 "[Feature]: Jest JSON File Reporter"
### 🚀 Feature Proposal

I want to use the Jest —json flag with several of my tests to persist the results to disk and/or cloud bucket then later report on them aggregate.

I would love it if Jest had an option to take an input array of —json formatted data (either array or list of file names) in the same format that it exports.  The idea is simple: instead of running the the tests, just aggregate

[2022-10-11 03:01] SimenB commented on #13425
Doesn't https://jestjs.io/docs/cli#--outputfilefilename work for you?

[2022-10-11 03:04] SimenB commented on #13425
Oh, I see what you're asking -the other way around. Not sure it makes sense for Jest to ingest test results and then report them - sounds like a different tool. But I'm happy to be convinced otherwise if you (or somebody else) is willing to build it 🙂

I think the junit reporter with some CIs (like Circle and azure pipelines) support this already

[2022-10-11 03:23] gomain commented on #11006
I have observed that `beforeAll` and `afterAll` are also executed even when all tests in the `describe` block would be skipped for other reasons, such as a `.only` in another nested `describe`.

[code]

Is correct to expect some suit analysis such that `before/afterAll` are only executed if, and only if, there are tests to be run. Currently they act as special test cases where there is control ove

[2022-10-11 04:17] kakarot218 opened #13426 "Cannot read properties of undefined (reading 'testEnvironmentOptions')"
### Please do not submit this issue.

- [ ] I understand

[2022-10-11 04:17] #13426 closed

[2022-10-11 05:00] diomedtmc commented on #13425
I’ll check it out, thanks for the fast response!

[2022-10-11 07:46] jnain commented on #11956
Hello !

I had a huge memory cunsumption issue on my project using node 16.17.1 and jest 26.6.3.
Finally I gave a try at jumping to 29.0.0-alpha.5 and it resolved my issue !!

Thank you @phawxby and @SimenB for the workerIdleMemoryLimit parameter <3

[2022-10-11 09:29] YozhEzhi commented on #11956
Could you please post how to use `workerIdleMemoryLimit` for running test locally?

[2022-10-11 10:24] marek-tkaczyk commented on #9324
There is an additional issue when there's a obsolete snapshot just exits with code of 1.

Could repetitively fail test build on CI, until I removed obsolete snapshot. There was already one issue reported before but without solution being **merged**. Can someone add at least an error message when an obsolete snapshot is the reason for just exiting with status of 1? - https://github.com/facebook/jes

[2022-10-11 11:24] CptF1nn opened #13429 "[Bug]: Typo in documentation"
### Version

29.1

### Steps to reproduce

1. Go to https://jestjs.io/docs/configuration#transformignorepatterns-arraystring
2. Look at the green tip box
3.
![image](https://user-images.githubusercontent.com/12821408/195077459-cb0657d5-f18a-4003-ba59-a8b3174947cc.png)
Typo in the path "node_modules/.pnpm/package-a@x.x.x/node_modules/pakcage-a/"

### Expected behavior

The path should be "node_modu

[2022-10-11 12:31] jnain commented on #11956
Personally I use it like this :
`jest --config jest.base.config.mjs --logHeapUsage --workerIdleMemoryLimit='800MB'`

[2022-10-11 13:32] abhiseksubham opened #13431 "How to write test cases for this function ?"
### Please do not submit this issue.

- [X] I understand

[2022-10-11 13:32] abhiseksubham commented on #13431
const makeApiCall = async (weekFilter) => {
		if (itemNum) {
			const params = {
				categoryId: category?.split('-')[0],
				period: weekFilter,
				portalUserContext,
				itemNum,
				selectedFilter,
				subCatId,
				brandId,
			};
			dispatch(getNilPickRate(params));
			dispatch(getFirstTimePickRate(params));
			dispatch(getPreSubstituteRate(params));
			dispatch(getPostSubstituteRate(params))

[2022-10-11 13:32] #13431 closed

[2022-10-11 14:39] #13064 closed

[2022-10-11 14:40] paulreece commented on #13429
@mrazauskas Hello again :). I made a quick PR to fix this (here)[https://github.com/facebook/jest/pull/13432].

[2022-10-11 15:49] slifty commented on #13233
I believe this is still an issue -- I can try to dig into the code base to evaluate what's causing the proble.

[2022-10-11 16:58] vairakkumar-vairaperumal opened #13433 "[Bug]: Jest is running extremely slow inside docker container"
### Version

29.0.3

### Steps to reproduce

1. Clone my repo in https://github.com/vairakkumar-vairaperumal/testperfjestindocker/
2. see readme file for each of the reproducing steps and its corresponding output.

### Expected behavior

I expect to see near or same performance inside a docker container vs native context.

### Actual behavior

Currently a simple test takes 7 seconds vs millisecond

[2022-10-11 17:09] SimenB commented on #13429
Fixed via #13432

[2022-10-11 17:09] #13429 closed

[2022-10-11 18:27] edishu opened #13434 "[Feature]: `cacheInit` and `memoryCache` config options"
### 🚀 Feature Proposal

`cacheInit` [boolean]: When true caches all the project code (resolution and transformation).
`memoryCache` [boolean]: When true keeps cache in memory along with disk.

### Motivation

Tests take a long time to run on in CI. A few datapoints for my codebase:

- CI test execution time: ~50min
- CI build time: ~4min

`cacheInit`: Caching all the code ahead of running any test