[2019-08-26 11:25] SimenB commented on #8878
Please provide a full reproduction we can pull down and run `npm install && npm test` to see the error. Happy to reopen when done

[2019-08-26 11:32] thymikee commented on #8872
A note in the docs & readme should be just enough. @tedconn would you like to contribute it?

[2019-08-26 11:50] ATheCoder commented on #8878
Added the required repository for reproducing the bug!

[2019-08-26 12:15] SimenB commented on #8878
Thanks!

[2019-08-26 12:35] SimenB commented on #8878
The issue is that your `core` regex matches an internal `./core` module in Babel: https://github.com/babel/babel/blob/a2bf68981fbe26a5574607c526818868562fb1f4/packages/babel-types/src/definitions/index.js#L3. This confuses the resolver, which returns your `core.ls` rather than `core.js` within Babel. This diff makes your tests pass on my machine:

[code]

---

We should probably ignore `moduleName

[2019-08-26 14:37] M4rk9696 commented on #8832
Hope this might me useful for anyone who is looking into this. I ran the tests with a custom environment, jest-circus(to use `handleTestEvent`) and took snapshots with [heapdump](https://github.com/bnoordhuis/node-heapdump) before the `test_start` event.

This is the snapshot from the 10th test run, it looks that `_moduleRegistry` in `Runtime` seems to be retained.

<img width="1083" alt="heapdump

[2019-08-26 17:11] M4rk9696 commented on #8832
@SimenB `resetModules` is by default false as per the documentation

https://jestjs.io/docs/en/configuration#resetmodules-boolean

The memory leak caused by #8282 is only fixed when resetModules is `true`

https://github.com/facebook/jest/blob/fb7b132b7230dac3fca30d79fcc57c98ecffbc81/packages/jest-runtime/src/index.ts#L539-L543

[2019-08-26 17:17] SimenB commented on #8832
@scotthovestadt ^

[2019-08-27 06:48] Darth-koder007 commented on #7811
My project was using the old one `jest-dom/extend-expect`, so I replaced it with `@testing-library/jest-dom/extend-expect` and upgraded jest to `24.9.0`, now tests and coverage are lightning fast.

[2019-08-27 06:49] Darth-koder007 commented on #7732
My project was using the old one `jest-dom/extend-expect`, so I replaced it with `@testing-library/jest-dom/extend-expect` and upgraded jest to `24.9.0`, now tests and coverage are lightning fast.

[2019-08-28 04:13] tarunjuneja commented on #6434
I am on react-native 0.60 was struggling with same error

I solved it by adding jest.useFakeTimers();

With above it's extremely important to understand this

#jest.useFakeTimers() mocks out setTimeout and other timer functions with mock functions.

If running multiple tests inside of one file or describe block, jest.useFakeTimers(); can be called before each test manually or with a setup function

[2019-08-28 07:45] praveenkumarr88 opened #8883 "How to simulate onPress event inside a function for redux connected component"
How to simulate the onPress event using jest inside TouchableOpacity which is wrapped inside a function? I tried by mocking the onpress event inside the component Issue came like Method “simulate” is meant to be run on 1 node. 0 found instead.
[code]
[code]

Issue :

Method “simulate” is meant to be run on 1 node. 0 found instead.

[2019-08-28 07:50] thymikee commented on #8883
This is not a Jest issue. Please file this under enzyme repository. Or better, ditch shallow rendering and try https://github.com/callstack/react-native-testing-library and it's `fireEvent.press`

[2019-08-28 07:50] #8883 closed

[2019-08-28 21:41] langpavel commented on #8604
What about some *cascading*
Like if preconception test will fail only one error will be displayed and number of skipped test may be counted?

If i wrote test for 3rd party availability only this one fails and i can see real reason why other tests not run?

[2019-08-28 23:05] jmussman commented on #8006
I am having the same problem. But... it does notice .babelrc in the root directory.

[2019-08-29 03:44] jordantomax commented on #2417
Hey @mikemorton, I have a similar problem, trying to load scripts dynamically, and also a very specific situation where they need to be from a script tag. I've been trying variants of some of your suggestions, but am having problems with the url that's loaded. The root of the script src seems always to be prepended by the configured `TestUrl`, which is not a relative url, and is also not valid sin

[2019-08-29 04:24] csvan commented on #7811
This is amazing! @SimenB what are the prospects of this making it into a minor/patch of 24?

[2019-08-29 06:20] SimenB commented on #7811
Pretty low, but we'll try to get a stable 25 out. It's currently a bit delayed due to issues rolling i out at FB (something with how they fake promises are broken). And making this part of 25 is pretty doable.

However, as mentioned, I was unable to get a difference in cache hits and misses when testing it out. I'd like to write a test for this when landing it. @nol13 can you share your jest confi

[2019-08-29 06:46] Carnevali commented on #6194
Thank you very much! Helped me a lot :)

[2019-08-29 09:12] holynewbie opened #8887 "Jest cannot recognise async function type"
## 🐛 Bug Report

jest cannot  recognise async function type.

node version: v12.8.1
Jest version: 24.9.0

## To Reproduce

[code]

## Expected behavior

the test should pass.

but the result is
[code]

[2019-08-29 10:44] DeekshaPandit commented on #8384
I have an api which calls a rest api and I had to write unit test case for it.
[code]
and I am getting this error.

● Marketing Controller Test Cases › it should return 200 and formatted result

    : Timeout - Async callback was not invoked within the 30000ms timeout specified by jest.setTimeout.Timeout - Async callback was not invoked within the 30000ms timeout specified by jest.setTimeout.Error

[2019-08-29 12:28] ivandosreisandrade commented on #2441
Adding this flag helped sorting the problem.
From time to time it was also not showing the console.log outputs.
Using this command:
`npm test -- --verbose --runInBand -t "My Test Name"`

Node and NPM versions:
`node v8.16.0`
`npm 6.4.1`

[2019-08-29 15:05] Yevpak commented on #3905
+1

[2019-08-29 15:33] balovbohdan commented on #3457
I refactored the implementation provided by @abritinthebay. It seems for me a little bit comfortable to work with.

`expect.extend({
    toBeType(received, arg) {
        const initialType = typeof received;

        const type = initialType === 'object'
            ? Array.isArray(received)
                ? 'array'
                : initialType
            : initialType;

        return {

[2019-08-29 19:45] WestonThayer commented on #8379
This is especially painful when using Jest for functional tests that do some heavy lifting in `beforeAll`. For example, writing some Selenium tests that work with a service like Browserstack. In `beforeAll`, you'd usually create a new WebDriver that's connected to their service, which takes a while. I'm forced to comment out tests I don't wan to run, otherwise they slow down my workflow significan

[2019-08-29 20:13] WestonThayer commented on #8379
If anyone is looking for an easy substitute for `.skip`, just create a new dummy function at the top of your file, like:

`const describeSkip = () => {}`

Then append `Skip` instead of `.skip`.

[2019-08-29 21:06] zoeyg opened #8889 "Using --testURL as a CLI option results in Unrecognized CLI Parameter""
## Bug Report

When running jest via the command line with a `--testURL` argument it says the parameter is unrecognized.

[code]

## To Reproduce

Install jest and then run `jest --testURL "https://localhost"`

## Expected behavior

Jest runs with the appropriate testURL as part of the configuration

## envinfo

[code]

[2019-08-29 21:26] abritinthebay commented on #3457
You should check out my module (linked above). It does a bit more than that. But if that works for you: use it!

[2019-08-30 03:16] nol13 commented on #7811
https://github.com/nol13/jest-test-repo

^Here's a minimal example. Without the patch, this hits with runInBand but misses without it.

[2019-08-30 05:14] SimenB commented on #7811
Thank you! I'll dig into this later today

[2019-08-30 05:33] nol13 commented on #7811
Ya, it's a super stripped down repo, but the patch applied to 24.9.0 still takes it from 4.8s to 4.2s consistently and makes the cache hit.

[2019-08-30 05:41] willgriffiths commented on #3822
I had accidentally added `testEnvironment="node"` instead of just using the "react-native" preset and removing it fixed it for me.

[code]

[2019-08-30 06:13] thymikee commented on #3822
RN preset uses node environment so what you did is invalidating Jest cache. You can do so with a command `jest --clearCache`

[2019-08-30 07:37] SimenB commented on #7811
PR: #8890

[2019-08-30 08:59] SimenB commented on #8889
Haha, what a dumb error 😅 Workaround: `jest --config '{"testURL": "https://localhost"}'`.

---

Do you wanna send a PR fixing this? The error is here: https://github.com/facebook/jest/blob/95688ac9c81c19ca1bbda3aaad2a278c2a60461f/packages/jest-validate/src/validateCLIOptions.ts#L80-L89

In particular, making sure to check `allowedOptions` both with _and_ without `camelcase` seemingly fixes this is

[2019-08-30 12:22] jackgeek opened #8891 "Proposed improvement for jest fake timers implementation"
## 🚀 Feature Proposal

Not sure if this should be Feature Proposal.  Please let me know if I have used the wrong issue template.  This is really an enhancement suggestion for the jest fake timers.

The enhancement suggestion is this: Make `useFakeTimers `and `useRealTimers `work as expected in every scenario.

## Motivation

Presently the `jest.useFakeTimers` and `jest.useRealTimers `methods lead

[2019-08-30 13:23] saveman71 opened #8892 "Custom promise implementation (bluebird)"
I'm mocking a function that returns a bluebird promise, on which [`asCallback`](http://bluebirdjs.com/docs/api/ascallback.html) is called.

For now, my solution is to use:

[code]

Instead of

[code]

I know jest is using the global `Promise` object, si I've tried adding the following to the top of the tests, and to a file listed in `setupFilesAfterEnv`, but no effect was noticed.
[code]

[2019-08-30 14:01] saveman71 commented on #8892
I'm kinda answering my own question here:

Actually my "function that returns a bluebird promise" was not such a function, it was an async await function. There is no way that async await function return bluebird promises (https://github.com/petkaantonov/bluebird/issues/1434), so I'll have to move away from using `asCallback`.

This invalidates my question, as native promises are the future.

[2019-08-30 14:01] #8892 closed

[2019-08-30 14:07] Alendorff commented on #3865
@thymikee but looks like jest has nothing to offer instead of this handy [date mocks from jasmine](https://jasmine.github.io/2.2/introduction?spec=jasmine.any#section-Mocking_the_Date)

[2019-08-30 14:55] samlandfried commented on #4414
Should `.only` be honored when running tests w/ `--runInBand`?

[2019-08-30 15:41] Montellanos opened #8893 "How access to object attributes on test.each"
I have a array of objects for test many time, but i not can access to attributes for the description.
The test:
`
import { mount } from 'enzyme';
import Alert from '../../../components/shared/alert';

const cases = [{
  messages: {
    identifier: 'demo',
    demo1: {
      message: 'cambiado'
    }
  },
  expected: 2
}];

describe('Show alert with messages', () => {
  test.each(cases)(
    'given

[2019-08-30 19:29] JoshuaEDeFord commented on #6972
My solution involved making sure to define the mockImplementation as async correctly.  I'm guessing that, since the mocks in these examples return promises they are mocking async functions. So the anonymous mock should also be defined as async is `async ()` not just `()`.

[2019-08-30 20:00] zoeyg commented on #8889
My coworker, @cchanse, would like to take a stab at it

[2019-08-30 20:39] SimenB commented on #8889
That's awesome, go for it!

[2019-08-30 21:49] astorije opened #8896 "Configuration file equivalent for --passWithNoTests flag"
## 🚀 Feature Proposal

Add a `passWithNoTests` boolean support in the configuration file, to have the same effect as the `--passWithNoTests` CLI flag.

## Motivation

We currently use a shared configuration file across our organization, so that every repo running Jest will have the same default configuration (we do the same for Prettier, TSLint, Webpack, etc.). This ensures consistency, avoids sur

[2019-08-31 10:41] SimenB commented on #3865
Not for now, but we'll be bundling Lolex soon (#7776) which will handle it. In the meantime, you can install lolex yourself

[2019-08-31 17:55] NateZimmer commented on #5055
[code]
This worked for me. Cleaner than a hackey undocumented 3rd. parameter to a function. CLI instructions ineed to be updated... they say to change `jest.setTimeout.Timeout` which, setting directly doesn't work.

[2019-09-01 03:49] gselsidi commented on #6484
Any updates on this it's been over a year??? Also can't get the work around to work on Linux. I have 22 test files using maxWorkers=4 still only launching 1 at a time.

[2019-09-01 03:59] gselsidi commented on #4281
obviously cause facebook, jest literally feels like it's dead.

[2019-09-01 07:29] thymikee commented on #6484
It's an open source project. And this is a feature request. I think the easiest we could add is using `no-runInBand`, which would avoid adding a new variable. At least that's my guess. Feel free to send a PR if you care :)

[2019-09-01 09:18] stevej2608 commented on #2441
This is my workround:

npm install --save-dev sprintf-js

In your jest  `setupTest.js`, or where ever:

[code]

[2019-09-01 15:32] maxammann commented on #6127
I'm having the same problem. Here is another error that can occure:

[code]
Maybe that helps to make this issue better queryable :)

[2019-09-01 19:27] amasad commented on #8737
Hey guys, sorry for the delay, I was waiting for some infrastructure upgrade to make this smoother. In the next couple of days, I'll be deploying a new version of the latest Jest and on top of that it will have:

- packager support
- LSP (autocomplete and Jest docs inline)
- Overall more stable and configurable

I'll get the new version up tomorrow or the day after.

[2019-09-01 20:48] GillesDebunne commented on #8279
Here is a codesandbox reproducing the problem.

https://codesandbox.io/embed/crazy-ptolemy-odtff

[code]

I encountered this error when using `ts-jest` on a bare jest project.

[2019-09-02 01:15] robertleeplummerjr commented on #2029
I believe I know what the issue is, it is that how the library is being instantiated.  There are a lot of jit overriding happening and privatizing of the native methods.  The refactor I'm working on here: https://github.com/stackgl/headless-gl/issues/166 should resolve it as it no longer overwrites the methods, but just properly calls them using `super.method()` when overloading.

[2019-09-02 03:44] gselsidi commented on #6484
@thymikee does no-runInBand exist now or need to be implemented?

[2019-09-02 06:57] thymikee commented on #6484
We do a loose check for runInBand, so there's a slight of additional work needed to be done to make it work as you expect (we need to distinguish between runInBand being `undefined`, `true` and `false` in the codebase, currently we treat `undefined` as `false`)

[2019-09-02 07:00] gselsidi commented on #6484
I mean if I'm running with --maxWorkers= I thought that automatically sets runinband to false or is that not expected behavior?

[2019-09-02 07:21] harryhe1994 opened #8899 "How to skip test by criteria"
like this

window.env = 'c1';

describe('test case', () => {

    it('case 1', function() {
         ...
    });

    it('case 2', function() {
         ...
    });
});

I want to skip case1 when window.env is 'c1', everyboy can help me?
thanks.

[2019-09-02 07:25] netcoding87 commented on #4644
I want to join the party with exactly same issue :)

- Windows 10 (Build 17763)
- Jest v24.8.0
- node v10.16.0
- yarn v1.17.3

Running `jest --findRelatedTests <filepath>` with lower-cased disk letter does not find any test... Can anyone help?

[2019-09-02 07:42] thymikee commented on #8899
Wrap it in an if-statement. Tests are discovered synchronously, so if there's no call to it (hidden by if-statement), Jest won't pick it up.

[2019-09-02 07:42] #8899 closed

[2019-09-02 09:01] SimenB commented on #4644
This issue is closed, please open up a new issue with reproduction steps.

Note than none on the team uses windows, so we'll have to rely on the community to come up with a fix here. We run CI on Windows, so any fixes including tests should make sure we don't regress

[2019-09-02 09:11] mbelsky opened #8900 "--findRelatedTests path case sensitivity on Windows"
## 🐛 Bug Report

Running `jest --findRelatedTests <filepath>` with upper-cased part of path does not find any test.

## To Reproduce

Steps to reproduce the behavior:

1. `git clone https://github.com/mbelsky/js-problems.git`
2. `cd js-problems`
3. `npm i`
4. `npx jest --findRelatedTests ./PROBLEMS/001-SUM.JS`

Result:

[code]

## Expected behavior

[code]

## envinfo

[code]

[2019-09-02 09:13] mbelsky commented on #4644
I've created #8900 for this.

[2019-09-02 09:16] mbelsky commented on #8900
I may try to fix that issue. Could someone give me an idea from where to start, please?

[2019-09-02 09:34] SimenB commented on #8900
The OP should include a reproduction, btw.

---

Awesome you can work on this! As for where to start, I'd start by just sticking in breakpoints `SearchSource`: https://github.com/facebook/jest/blob/554573036ae7529425aa157a1fd757612289abb5/packages/jest-core/src/SearchSource.ts#L280-L311

My guess is that tests are missing there, so just walk up the callstack until you find where we compare against

[2019-09-02 09:38] SimenB commented on #8900
We have a few integration tests that we skip on windows that _might_ cover this (I haven't checked). You might be able to activate them?

https://github.com/facebook/jest/blob/554573036ae7529425aa157a1fd757612289abb5/e2e/__tests__/jestChangedFiles.test.ts#L16
https://github.com/facebook/jest/blob/554573036ae7529425aa157a1fd757612289abb5/e2e/__tests__/cliHandlesExactFilenames.test.ts#L16
https://gi

[2019-09-02 11:00] tscislo commented on #7811
This case with cache hitting and missing bothers us a lot. Is there any ETA for your PR @SimenB?

[2019-09-02 11:07] SimenB commented on #7811
Hopefully today. We just need to make sure it works for FB (best test nothing is broken that exists 🙂)

You can use [`patch-package`](https://www.npmjs.com/package/patch-package) in the meantime. A diff:

[code]

[2019-09-02 11:29] artemrudenko commented on #8401
Have the same issue. Is there any way how to fix this without replacing useClass with useValue everywhere?

[2019-09-02 11:49] SimenB commented on #8401
The code for this lives in https://github.com/facebook/jest/blob/554573036ae7529425aa157a1fd757612289abb5/packages/jest-mock/src/index.ts. A PR fixing this is very much welcome 🙂

[2019-09-02 11:50] SimenB commented on #8891
Thanks for the detailed issue!

That's correct.

If modules go out of their way to capture these (doing `const setTimeout = global.setTimeout` I guess?) it's probably for a relatively good reason. If not, why not just do `global.setTimeout()`?

I'm not sure if this makes sense as part of core, it feels pretty invasive. I'm almost 100% sure people are gonna complain that they cannot capture real ti

[2019-09-02 13:01] artemrudenko commented on #8401
Not sure whether it helps - but I have tried to reproduce it from scratch:

1. ng new bug-angular-jest24
2. npm install jest jest-preset-angular @types/jest
3. ng generate serviceA
4. ng generate serviceB
5. add serviceB to serviceA constructor
6. add `TestBed.configureTestingModule({
      providers: [
       ServiceA,
        { provide: ServiceB, useClass: jest.fn().mockImplementation((): Partia

[2019-09-02 13:17] SimenB commented on #8401
Could you stick the result into a repository people can pull down and just run `npm install && npm test` to see the error?

---

Sorta related - we might wanna stick an Angular example in https://github.com/facebook/jest/tree/master/examples, but AFAIK none on the Jest team uses Angular so we'd need the community's help with that. If we have that, adding a regression test for this case should be p

[2019-09-02 15:43] dcs3spp opened #8902 "New user struggling with how to mock winston logger instance encapsulated in service class"
Hi,

I am a new user struggling with understanding how to mock a *winston.Logger* instance that is encapsulated within a service class. I have included my code below.

I cannot get the mocked logger instance to be triggered from within the service class. Can anyone explain where I am going wrong?

Kind regards

dcs3spp

[code]

**LoggingService debug method code**
[code]

[2019-09-02 16:27] jackgeek commented on #8891
Hi @SimenB,

Thank you for taking the time to consider my request.

My first thought is that, in my tests, I do not want anything to be getting the real timer methods.  However, I can see your point, if for example the wait-for-expect, or @testing-library/react wait command used fake timers that would not ideal... However you shouldn't mix async utilities with fake timers in the one test...   But

[2019-09-03 02:14] cipher-code opened #8904 "Allow command line arguments to be passed to jest tests"
Previous issue: #5089

While you should mock command line arguments that your application code relies on, I'm writing jest tests for selenium and I want to set a flag where I can run chrome in headless mode or not.

I'd like to be able to pass the flag `--headless` to my test, which will then add options to chrome to run it in headless mode. To add these options i'll need to be able to pass in and

[2019-09-03 05:12] thymikee commented on #8904
You can pass an env variable to the run script and read it from jest.

[code]

We try to keep the config as small as possible. I don't see a point of adding an arbitrary flag to satisfy a single very specific use case, especially that there are alternatives.

[2019-09-03 05:12] #8904 closed

[2019-09-03 06:05] M4rk9696 commented on #8896
@SimenB I can pick this up, if this feature is needed

[2019-09-03 07:20] artemrudenko commented on #8401
@SimenB - i've sent a PR with angular sample

[2019-09-03 07:21] tscislo commented on #7811
@SimenB this patch is to which version of jest? 25.0.0, or 24.9.0?

[2019-09-03 07:53] SimenB commented on #7811
25. This is for 24.9

[code]

[2019-09-03 10:04] h4l opened #8906 "Assertions in test modules outside test functions are included in the count validated by expect.assertions() in the first test"
## 🐛 Bug Report

Assertions in test modules outside test functions are included in the count validated by `expect.assertions()` of the first test. This seems to be the same issue as described in the previously closed #5887.

## To Reproduce

Clone this example/reproduction repo, npm install and run the tests; they'll fail but should pass: https://github.com/h4l/jest-expect-assertions-bug

Example

[2019-09-03 10:13] ajinjude commented on #2549
When I do this I get several `●  process.exit called with "0"`. Any idea how to prevent this?

[2019-09-03 11:20] kayahr commented on #2549
I currently use this ugly workaround in the constructor of the `SingleContextEnvironment` to get rid of these messages:

[code]

[2019-09-03 13:04] mrdulin commented on #7832
Thanks. It works. This is what I am looking for.

My issue is: I don't want to mock all method for a class, because those methods are not ready to be tested. But I need let the type validation of typescript pass and it shouldn't modify the interfaces for implementation.

For example, if I don't use the partial mock, tsc will throw an type error for `adSubscriptionDataSource` like this:

![图片](http

[2019-09-03 14:44] tomasz-sodzawiczny opened #8907 "`jest --only-changed` ignores changes to module mocks"
## 🐛 Bug Report

`jest --only-changed` does not take mocks into consideration when choosing the tests to run.

## To Reproduce

Steps to reproduce the behavior ([see example repo](https://github.com/tomasz-sodzawiczny/jest-only-changed-vs-mocks)):
* module `./a` depends on module `./b`
* module `./b` is mocked in the test of './a`
* you change **the mock** of module `./b`

## Expected behavior

Te

[2019-09-03 15:32] SimenB commented on #8907
The code for this lives in https://github.com/facebook/jest/blob/c588c18595000d68c98bf8c72d003ff8b3674124/packages/jest-resolve-dependencies/src/index.ts

A PR fixing this is very much welcome! 🙂

[2019-09-03 17:56] dcs3spp commented on #8902
**Update: 3/09/2019**

Refactored my LoggingService to dependency inject winston logger instance in constructor to facilitate unit testing. This enables me to use *jest.spyOn* on the winston logger's log method and check that it has been called within the service instance:

[code]

[2019-09-03 17:56] #8902 closed

[2019-09-03 20:01] dandv commented on #7100
FWIW, I've also run into this and expected beforeAll() to actually complete before `test.each()`.

The [documentation on test.each](https://jestjs.io/docs/en/api#testeachtable-name-fn-timeout) doesn't say anything about this.

[2019-09-03 20:08] mattphillips commented on #7100
@dandv it's documented under [troubleshooting](https://jestjs.io/docs/en/troubleshooting#defining-tests) - hope that helps

[2019-09-04 04:26] amasad commented on #8737
hey @kvendrik/everyone. The version has been updated and now and the file to be rendered first can be selected using the `fileName` query param like so: https://repl.it/@amasad/test-jest-file?fileName=add.js

I'll let you know when the rest of the stuff I mentioned above has been deployed.

[2019-09-04 04:48] wolever commented on #8604
Thanks @lucasfcosta - that's a great summary of the problem.

I would also add that the "conditional skipping" can also be environmentally aware. For example, in my environment, there are certain tests which are skipped only if they are running in a development environment (ex, tests which require a certain amount of local setup), but required in a CI environment:

[code]

[2019-09-04 08:31] LukasBombach opened #8909 "mockReset removes the original implementation of a spied on function instead of just mockImplementations"
## 🐛 Bug Report

----

I am trying to test if a method on a class has been called but I _do not_ want to mock that function. I.e. I want my code to still call the original function, I only want to be able to see if it has been called appropriately.

To my understanding (and my previous experience), if i just use `jest.spyOn` like so:

[code]

what I was describing should already be the default beh

[2019-09-04 08:55] SimenB commented on #3705
Please open new issues, with reproductions, rather than commenting on old closed ones

[2019-09-04 10:06] romua commented on #7963
Tried v25 with https://www.npmjs.com/package/@angular-builders/jest. Didn't help.

[2019-09-04 10:21] LukasBombach commented on #8909
Ok guys, I found the issue. It was my call to `mockReset`

[code]

[The docs say](https://jestjs.io/docs/en/mock-function-api.html#mockfnmockreset)

In this case, this meant its was removing **the original implementation, not the mockimplemtation** (there was no mock implementation).

if that is the intended behavior I will close this issue. If it is not I will keep this open.

I could fix my issu

[2019-09-04 12:10] parnekov commented on #6434
Works for me! thanks!

[2019-09-04 12:23] ijdickinson commented on #8725
I have a similar use case. My front-end JS interpolates some configuration information from the back-end Rails app. I want Jest to transform `foo.js.erb` first with ERB, and then with Babel.

At the moment, I have one custom transform that first calls the ERB transformer and then Babel transformer directly, but it doesn't seem very DRY to have to do that.

[2019-09-04 12:27] AlexJeffcott commented on #2694
window.performance is not available (I believe) from within Jest as you need a browser. If you are using Jest as your runner for Puppeteer, for example, you can do this (but better obvs ;) ):

[code]

[2019-09-04 12:40] SimenB commented on #8725
I don't think it makes sense for us to compose this for you, so I'm inclined to say what @jeysal suggests is the correct solution - compose them yourself. Stitching things together yourself seems like a safer solution without the possibility of messing up, and way easier to debug if things are behaving oddly. Relying on insertion order in the object is not something we want to do - the config gets

[2019-09-04 12:40] #8725 closed

[2019-09-04 12:42] ijdickinson commented on #8725
I understand your reasoning. Thanks @SimenB, and thanks for the example too.

[2019-09-04 13:35] SimenB commented on #2694
In node you should use `process.hrtime()` (or `process.hrtime.bigint()` on node 10.7 and newer)

[2019-09-04 13:41] SimenB commented on #8909
That definitely looks like a bug. At least it seems like one! Could you put together a single minimal test showing the weird behavior? If nothing else, we can call it out in the docs

[2019-09-04 14:23] asliwinski commented on #7963
The `next` version actually made tests run longer in my case.

[2019-09-04 14:47] vkarpov15 opened #8910 "`require('./')` broken if parent directory has file with the same name"
🐛 Bug Report

Suppose you have a file `dir/fn.js` that requires the current directory using `const x = require('./')`, and the parent directory has a file `dir.js`. In Node.js 8, `x` will contain the exported value from `dir/index.js`. In Jest, `x` will contain the exported value from `dir.js`

## To Reproduce

Steps to reproduce the behavior:

https://github.com/vkarpov15/jest-bug

## Expected be

[2019-09-04 14:59] jeysal commented on #8909
I think avoiding this is what `mockRestore` is for?

[2019-09-04 15:02] SimenB commented on #8909
An original implementation should never be removed. But the reproduction was pretty big, so I might have missed something

[2019-09-04 15:18] SimenB commented on #8910
Would you be able to provide a PR fixing this? The error is probably in https://github.com/facebook/jest/blob/master/packages/jest-resolve/src/defaultResolver.ts

[2019-09-04 15:54] mbelsky commented on #8900
To debug the issue I've added this config in `.vscode/launch.json` and set a breakpoint in `packages/jest-core/src/SearchSource.ts` line 268.
[code]

https://github.com/facebook/jest/blob/554573036ae7529425aa157a1fd757612289abb5/packages/jest-core/src/SearchSource.ts#L268
And on the line I see that `globalConfig.findRelatedTests` and `paths` are `undefined`.

Does it mean that I use wrong launch c

[2019-09-04 15:58] SimenB commented on #8900
Youære probably debugging the test and not jest itself when it executes the test. You need to put a breakpoint in the compiled code, so in `packages/jest-core/build/SearchSource.js`

[2019-09-04 17:47] benjie commented on #8424
(Seems this fix was released in jest 24.0.18?)

[2019-09-04 17:50] vkarpov15 commented on #8910
I don't think I have the time to put in a PR. I already worked around this in Mongoose so nothing more to do on my end.

Why does Jest monkey patch require() anyway? Seems very dubious

[2019-09-04 18:01] jeysal commented on #8910
It's not really monkey patched, it's a full custom implementation. Used e.g. for the mocking features.

[2019-09-04 18:13] SimenB commented on #8910
That's alright, thanks for the great reproduction case!

There's no monkey patching involved -  we inject a function into the module scope just like node does. The reason we do it is for JIT transpilation and mocking/module mapping.

[2019-09-04 19:35] SimenB commented on #8424
24.9.0 has it 🙂

[2019-09-04 22:01] j3tan commented on #7963
I'm still noticing a performance hit on both memory and execution time with `jest@next`.

**Peak Memory Usage (jest@23.6.0)**
<img width="541" alt="jest-memory-23 6 0" src="https://user-images.githubusercontent.com/2489149/64294335-63ff6e00-cf23-11e9-8917-907ba82503a0.png">

**Peak Memory Usage (jest@next)**
<img width="540" alt="jest-memory-next" src="https://user-images.githubusercontent.com/248

[2019-09-04 22:26] j3tan commented on #7963
And just for more information, here is my run with `jest@next` and the `yarn` resolution for `micromatch@4.0.2`:

**Peak Memory Usage (jest@next w/ micromatch@4.0.2 resolution):**
<img width="543" alt="jest-memory-next-with-resolution" src="https://user-images.githubusercontent.com/2489149/64296085-eee26780-cf27-11e9-84d8-3b5fa7f48176.png">
Note: Memory usage does go down and plateau around 600mb

[2019-09-04 22:42] SimenB commented on #7963
@j3tan one regression has been identified and fixed in #8890, diffs for `patch-package` can be found in https://github.com/facebook/jest/issues/7811#issuecomment-527107215. Could you test with those?

`sane` has an issue for Micromatch 4 here: https://github.com/amasad/sane/issues/151
`test-exclude` seems to have replaced `micromatch` with `minimatch` a year ago: https://github.com/istanbuljs/ista

[2019-09-04 22:58] j3tan commented on #7963
Thanks for the feedback, I misread the diff in my upgrade for `test-exclude`

Here is my `yarn why micromatch`:
[code]
Looks like I'll have to wait for `sane` to upgrade to verify, though I may try out `https://yarnpkg.com/lang/en/docs/selective-version-resolutions/` targeting `sane` if I have the chance

[2019-09-04 23:39] j3tan commented on #7963
Running with the `patch-package` fix you mentioned yielded good results!
[code]
Memory usage still peaked around 800MB per `node` process though.

[2019-09-05 00:58] juicetin opened #8913 "Unzipping files in jest tests result in stack overflow. Exact same code has no issues in non-jest code."
## 🐛 Bug Report

Unzipping files using any library in a jest tests results in a stack overflow:
[code]
This does not happen for _identical_ application code (non-jest code).

## To Reproduce

Steps to reproduce the behavior:
1. Create a dummy zip
`touch a && zip -r a.zip ./a`

2. Run a jest test with any zip library - one of `unzipper`, `unzip`, or `extract-zip`
[code]

## Expected behavior
It sho

[2019-09-05 02:13] Hypnosphi commented on #6034
Is there any way to add transforms from test runtime, without changing the config?

[2019-09-05 06:12] SimenB commented on #6034
No, transforms runs outside of the test sandbox, and are setup before the sandbox is even created (shared between tests).

Jest itself uses `pirates` and the way we test it is via integration tests that spawn up a full version of jest and assert on the output. Maybe you can do something similar?

[2019-09-05 07:51] SimenB commented on #8913
Could you put together a small repository we can pull down and see the error? The first example worked fine for me, the second I got an error about `smartCreativeZipFilepath` not being defined. Probably easy to work around, but just pulling down a repo and running `npm install && npm test` to see the error is easier

[2019-09-05 09:43] LukasBombach commented on #8909
Nono, @SimenB gets it right. I will assemble a small repo for production, give a little time.

[2019-09-05 15:14] romua commented on #7963
And what to do for npm users?)

[2019-09-05 17:15] j3tan commented on #7963
NPM users can still use https://www.npmjs.com/package/patch-package

You can either downgrade to `jest@23.6.0`, use `patch-package` with the diff found here https://github.com/facebook/jest/issues/7811#issuecomment-527107215, or wait for https://github.com/facebook/jest/pull/8890 to merge and use `jest@next`

[2019-09-05 23:47] #8491 closed

[2019-09-06 01:00] baleevskiy opened #8917 "Object matcher showing incorrect difference"
## 🐛 Bug Report

## To Reproduce

Steps to reproduce the behavior:
[code]
it should fail because 'baz' doesn't match `/buzz/`, but it is the only attribute which has to be highlighted.
BUG: both attributes highlighted instead.

![image](https://user-images.githubusercontent.com/13674755/64393345-47cf0e80-d094-11e9-9a4a-b1a2a137ea48.png)

## Expected behavior
`-   "foo": StringMatching /^.+$/,` sho

[2019-09-06 07:35] SimenB commented on #8917
Duplicate of #6184

[2019-09-06 07:35] #8917 closed

[2019-09-06 09:07] mudlee commented on #7151
I love this issue, really. After one day sucking I found this and it works now. Miracle. Incredible that I **have to** do hacks like this to test an async functionality with a test framework that supports async.

[2019-09-06 09:22] SimenB commented on #7151
Note that it is impossible, by JavaScript spec, for an `async function` to return anything other than native promises, so there's not anything we can do generically in Jest. This has to be solved in the engines themselves. You can do what #6876 documents (transpile everything), but that's not something Jest can decide to do for you.

See e.g. https://github.com/petkaantonov/bluebird/issues/1434 an

[2019-09-06 09:26] SimenB commented on #8401
The example has been merged (thanks @artemrudenko!), so reproducing this in the Jest codebase should be pretty trivial now.

[2019-09-06 11:06] artemrudenko commented on #8401
@SimenB the most interesting thing here is that this issue isn't reproducible with angular sample, while it was easy to reproduce it with ts-jest and jest-preset-angular. So probably the issue is not in jest itself...

[2019-09-06 11:11] SimenB commented on #8401
Might be how typescript transpiles the code?

[2019-09-06 12:21] balteo opened #8919 "Allow for proxying real http calls to backends"
## 🚀 Feature Proposal

It would be nice if Jest allowed for **proxying real http requests sent to backends** from tests.

## Motivation

There are many use cases to sending real http requests to backends from jest. Take for instance contract testing with [Pact-js](https://github.com/pact-foundation/pact-js). One needs to issue a **real request** from jest to a mock backend in order to generate the

[2019-09-06 14:18] owena1337 opened #8920 "Coverage not detecting lines that are covered by tests"
## 🐛 Bug Report

I have two methods in a file that return a new array by reducing the one that is passed in. On one of the methods, the coverage detects that it's been tested, however on the second method with the exact same ode (just accessing different properties), the coverage is reporting the lines are untested, even though the method is being used in multiple tests.

## To Reproduce
Implement

[2019-09-06 14:41] #6829 closed

[2019-09-06 16:04] nahuelarjonadev opened #8922 "Jest detects linux .snap package file as obsolete snapshot"
## Current behavior
when running Jest, it's detecting a .snap package I built for Linux as an obsolete snapshot, and it's causing my tests to fail. I tried ignoring the folder with no success.

#### Part of the test output:
[code]
#### package.json scripts:
[code]

#### Folder Structure
[code]

#### jest.config.js
[code]

## Expected behavior
Being able to ignore the path to the release folder, so

[2019-09-06 16:05] tetrohed commented on #3053
nothing on this?

[2019-09-06 17:45] skube commented on #7427
While the test suite appears to run, I get a `Failed to collect coverage from...`

[2019-09-06 18:26] kirill-konshin commented on #5239
I'm getting this error on Gitlab CI, I tried to set `maxWorkers: 1` and `runInBand: false` on Jest 24.

[2019-09-06 20:43] sklaus64 commented on #8786
#8923

[2019-09-06 21:32] ElmirMahmudov commented on #7802
For snapshot testing do you guys recommend [react-test-renderer](https://www.npmjs.com/package/react-test-renderer)'s  `.toJSON()` and/or `.toTree()` methods?

[2019-09-07 10:03] Rokt33r commented on #2098
https://github.com/facebook/jest/issues/2098#issuecomment-369390789 's `getItem` looks wrong.

[code]

If `store[key]` is empty string `''`, it will return `null`. So please don't abuse `||` otherwise you will get troubles.

So `getItem` should be like

[code]

[2019-09-07 13:13] davidje13 commented on #8360
I just observed this while investigating migrating a flow test (which uses `--runInBand`) to jest-circus.

I prefer the old test order. To provide some context, my tests look roughly like this:

[code]

Each test may depend on state built-up by a previous test, and launching a new browser session and re-building that state each time is needlessly time consuming. But it's nice to still keep the det

[2019-09-07 15:54] kmdrGroch opened #8926 "jest.Global incorrectly extends interface 'NodeJS.Global'?"
Hello dear Jest fellows,
i've been doing some maintenance stuff in stryker-mutator and came into this error:

[code]

We don't get any other error related to that so I am not sure why is it occurring (all i have done is to change dependencies from jest: ^24.9.0 to ~24.9)

Do you have any idea why it happened?

link to a PR:  https://github.com/stryker-mutator/stryker/pull/1706
link to a one of tra

[2019-09-08 07:33] hereiscasio commented on #5164
@SimenB
i still can't use the `import` statement like ` import vue from 'vue' ` in  the file which `globalSetup` point to

i have an error on my terminal without any extra information

[code]

Did i missing something ?
And what are u meaning about "**_This is available in Jest 24_**" ?
i thought i don't need to config anything and i can have such feature

---

below is my _jest.config.js_

[code]

[2019-09-08 07:59] mbelsky commented on #8900
The first issue that I face is `HasteFs.exists` is case-sensitive. It doesn't make real check with filesystem and just look for a key in `Map`. So dependencies resolving ends here for upper-cased path.
https://github.com/facebook/jest/blob/554573036ae7529425aa157a1fd757612289abb5/packages/jest-resolve-dependencies/src/index.ts#L118

I've passed this conclusion with some hacks and found one more ch

[2019-09-08 08:14] SimenB commented on #8900
Is there some check we can make for "is the FS case sensitive"? If we can, we could just normalize file paths in the `Map`s and `Set`s when the FS is case insensitive using `toLowerCase()` or something. I guess we could check if `os.platform() === 'win32'`, but that seems somewhat fragile

[2019-09-08 09:26] #7811 closed

[2019-09-08 09:46] thymikee commented on #8919
You're trying to overcome a design issue of your production code (yes, not being able to adjust URL at build time or runtime is a design smell). I'd rather focus on making the URL configurable, e.g. from environmental variables (look at dotenv project), instead of adding a new config option.

[2019-09-08 09:46] #8919 closed

[2019-09-08 09:54] thymikee commented on #8922
Could you provide a minimal repro, so it's easier to investigate?

[2019-09-08 10:18] balteo commented on #8919
I would have thought the opposite: changing production code in order to "adjust URLs" is not the best thing to do.

That's why frontend frameworks such as Angular provide ways to proxy backend URLs (in dev mode) without touching the production code and Karma allows the same for testing.

It would have been nice to let other people contribute their thoughts before closing the issue but never mind..

[2019-09-08 10:27] thymikee commented on #8926
@jeysal would you mind taking a look?

[2019-09-08 11:00] thymikee commented on #8919
The issue is closed, but as you can see, anybody can still leave a comment.

I disagree that changing your production code in order to test it is bad. It shows that your production code is not testable in a meaningful way. Is this a good thing? Maybe instead of complaining about a testing framework, this time could be better spent refactoring the code you have to work with.

It's easy to add a fea

[2019-09-08 11:44] dwiyatci commented on #8725
@SimenB What do you think of supporting it [like Karma preprocessors config does](http://karma-runner.github.io/4.0/config/preprocessors.html) (see the "Order of execution" section)?

So instead of having:
**`transform` [object<string, pathToTransformer | [pathToTransformer, object]>]**

We extend it to:
**`transform` [object<string, pathToTransformer | [pathToTransformer, object] | array<pathToTr

[2019-09-08 13:00] romua commented on #7963
So #8890 was merged, but nothing has changed(

[2019-09-08 13:01] thymikee commented on #7963
@romua it's merged, but not released yet. Patience.

[2019-09-08 13:08] SimenB commented on #8725
Neat idea, but we have an array there now already, which is used to pass config to the transformer

[2019-09-08 13:13] romua commented on #7963
Makes a lot of sense. Thanks for the answer)

[2019-09-08 13:39] SimenB commented on #7811
A new release of 25 will come next week. You can build from master now and test it out if you want. After the release, if we still have regressions vs Jest 24, please open up a new issue. This issue has more than 100 comments, so it's getting a bit unwieldy... Things we've not yet tried that has been mentioned in this issue is to bundle up our modules to hit the FS less and look into what we do wi

[2019-09-08 15:54] SimenB commented on #8922
The logic lives here: https://github.com/facebook/jest/blob/0935f7c2cd7780e47365511e35efc829ba359df4/packages/jest-snapshot/src/index.ts#L132-L133

Not sure how to handle it... #8665 added the logic that if the resolved test file is ignored, then we ignore the snap file. Maybe we can tweak it to cover your use-case as well? Thoughts?

[2019-09-08 18:17] SimenB commented on #8919
Another possibility is to can keep the urls in a `constants.js` (or whatever name) file, and mock it using `jest.mock` in your test to return a different url. Keeping urls as constants seems like a good refactor anyways

[2019-09-08 18:21] SimenB commented on #8926
We don't get that error when building (using the latest TS 3.6), but maybe it's an issue with older versions of TS?

24.9.0 is the latest 24 release, so just changing that part wouldn't make a difference. Something else changed. I'd take a look at any lockfiles you might have.

[2019-09-08 18:22] balteo commented on #8919
@SimenB Thanks for the tip. Will do so.

[2019-09-08 20:09] abhihotmail opened #8928 "Property 'navigateByData' does not exist on type 'Router'"
I am trying to migrate from karma jasmine to jest (angular). I am getting the following issue in component while I run npm test (jest). Same configuration works with karma and jasmine.

`this.router.navigateByData({
        url: ['/404'],
        data: ['User do not have permission to get sites']
      });
`
![image](https://user-images.githubusercontent.com/36687981/64493817-a5d14100-d2a2-11e9-88

[2019-09-08 20:28] Alexsey opened #8929 "Crash on code with private class fields"
## 🐛 Bug Report

The code with private class fields is crashing when executing with Jest with error:
[code]

But direct run of the file under test works fine:
[code]

## To Reproduce

Steps to reproduce the behavior:
1. Create `src/index.js`
[code]
2. Create `test/index.test.js`
[code]
3. Run `npx jest test`

## Expected behavior

Should have no error

## Link to repl or repo (highly encouraged)

[2019-09-08 22:48] brandonkal opened #8930 "expose source-map-support and support additional handlers"
## 🚀 Feature Proposal

There is currently no clear way to add a source-map-support handler.
If any tested code actually calls `require('source-map-support').install()` stack traces for files transformed by Jest break.

`source-map-support` keeps an array of handlers, but somehow when setting it in test code, the original Jest handler is removed. Ideally these should coexist and share.

## Motivati

[2019-09-08 23:03] SimenB commented on #8929
Roundabout duplicate of #6829. This is babel throwing - either disable babel or add the syntax plugin.

I recommend following https://github.com/babel/babel/issues/7660 which I think is the only non ad hoc solution to this

[2019-09-08 23:03] #8929 closed

[2019-09-08 23:07] SimenB commented on #8928
The error you're seeing comes from TypeScript, not from Jest - Jest doesn't type check anything.

Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-09-08 23:07] #8928 closed

[2019-09-09 00:13] brandonkal commented on #8930
Updated with an improved suggested solution.

[2019-09-09 04:18] JounQin opened #8931 "`jest-runner`: Ability to run with `--allow-natives-syntax`"
## 🚀 Feature Proposal and Motivation

After [@babel/core@^7.6.0](https://babeljs.io/blog/2019/09/05/7.6.0#v8-intrinsic-runtime-functions-parsing-10148-https-githubcom-babel-babel-pull-10148), `v8intrinsic` is supported to be parsed via babel, but run it with node requires a flag `--allow-natives-syntax`.

We are able to test this feature by `exec` with that flag, example: https://github.com/rx-ts/

[2019-09-09 04:58] JounQin commented on #8931
Seems be responsible to `istanbul-lib-instrument`.

[2019-09-09 04:58] #8931 closed

[2019-09-09 05:58] nahuelarjonadev commented on #8922
Thanks to both! I was trying to find the code which looked for the snap files, but I couldn't find it on my own. I'll give it a look and maybe I can think of a solution

[2019-09-09 08:27] edify17 opened #8932 "Jest not picking latest plugin from babel.config.js"
I have my own babel plugin mentioned in babel.config.js and when I change the plugin, jest doesn't pick the updated plugin code and breaks tests. When I run
```npx jest --no-cache```, updated changes are picked up.

I do not want to run with `--no-cache` everytime I update the plugin.

I am curious to know how jest picks the latest babel plugins, when they are updated in npm artifactory?

I have m

[2019-09-09 09:28] SimenB commented on #8932
Please follow the template when opening issues.

As for why changes are not picked up - I'm not entirely sure. We use babel's own APIs to load the config. Probably the config babel returns doesn't check if the contents of each plugin has changed, only if the config itself has changed. Thus you get a cache hit even though the plugin has changed.

Config loading code: https://github.com/facebook/jes

[2019-09-09 09:28] #8932 closed

[2019-09-09 10:29] fttriquet commented on #1766
I'm encountering the same issue with react-testing-library, react-modal, and styled-component:

Test are ok, with one snapshot generated but while running `react-scripts test --coverage` i get an error due to istanbal comments being added inside the css:

`    -       style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; background-color: rgba(29, 29, 29, 0.8); z-index: 10; animati

[2019-09-09 10:49] SimenB commented on #1766
The answer is still the same as above

You shouldn't snapshot the `animation` function, it should be invoked and you can snapshot the result of it

[2019-09-09 10:56] fttriquet commented on #1766
Right! I failed to notice baseElement was used, instead of doing the snapshot on the result of render.

Thanks

[2019-09-09 11:40] mbelsky commented on #8900
What do you think about an alternative compact solution where we normalize `paths` with a lib like [true-case-path](https://github.com/Profiscience/true-case-path) or [node-glob](https://github.com/isaacs/node-glob) to restore path case for `win32` platforms?
https://github.com/facebook/jest/blob/554573036ae7529425aa157a1fd757612289abb5/packages/jest-core/src/SearchSource.ts#L255

[2019-09-09 12:41] freshollie commented on #7733
I have a reproduction repo showing these issues:  https://github.com/freshollie/jest-7733

[2019-09-09 12:50] SimenB commented on #7733
That seems expected - jest works by walking up the FS until it finds config. We could maybe do something more clever here?

[2019-09-09 12:52] freshollie commented on #7733
Is there any reason jest can't ignore files which are not already being run under projects? It seems very not obvious when you have test files being run twice.

[2019-09-09 13:15] jeysal commented on #8926
Looks like a conflict with another framework defining the `describe` global

[2019-09-09 13:33] Dhirajbhujbal opened #8934 "how to consider mocked function in code coverage"

[2019-09-09 17:47] greypants commented on #6121
Here's the variant I landed on, using [Node's `Util.format` function](https://nodejs.org/api/util.html#util_util_format_format_args) to preserve console string formatting in the error output:
[code]

cc @akx

[2019-09-09 18:28] sojungko commented on #7868
This I feel should be included in the documentation. This solved so many mysterious bugs I got after upgrading Babel to 7 and `babel-jest` to 24. Who woulda thought you need to upgrade` jest` too?!

[2019-09-09 18:39] HodofHod commented on #5492
It seems this is now working correctly, based on running the repl.it.

[2019-09-09 19:02] uzer-ua commented on #5345
Hi guys,
I have recently faced same issue. A bit of step-by-step debugging pointed to the details. I have noticed that line breaks are missing already after file loading (just check jest temp files to ensure).
Issue is not related to Jest itself, but is caused by Babel loader (being more precise – by babel-helper-builder-react-jsx) and different line ending on Windows and *nix.
https://github.com/

[2019-09-10 07:05] edify17 commented on #8932
Thanks @SimenB for answering. Ill put it at the required place.

Please NOTE: I am not facing such issue when bundling with webpack, webpack also uses the same babel.config.js and is able to pick the updated plugins, even when config remains the same.

[2019-09-10 07:13] SimenB commented on #8932
By default caching is off for `babel-loader` - have you turned it on? Looking at their code, it's basically the same as ours (using `loadPartialConfig` and creating a hash based on that result). So if they don't have issues with their caching, maybe we can do something

[2019-09-10 07:29] ethan605 opened #8935 ""Jest encountered an unexpected token" with TypeScript static properties"
## 🐛 Bug Report

When running tests which invoke TypeScript classes having static property initialization under class declaration, Jest report this error:

[code]

## To Reproduce

There's a sample project to demo this bug: https://github.com/ethan605/typescript-playground, following the `README.md` instructions and running tests should reproduce this error.

## Expected behavior

In the demo proj

[2019-09-10 07:33] SimenB commented on #8935
You need to include https://babeljs.io/docs/en/babel-plugin-proposal-class-properties.

Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-09-10 07:33] #8935 closed

[2019-09-10 08:04] edify17 commented on #8932
Does Jest have something like `cacheIdentifier` as in `babel-loader` (https://webpack.js.org/loaders/babel-loader/#options) ? This can help me to burst cache and pick latest babel plugin whenever I update my plugin? Also, it will help to use cache for all the test runs and only burst the cache when required, probably using environment variable.

[2019-09-10 09:07] SimenB commented on #8932
We don't, and we won't add it. It's not a common use case to change the implementation of babel plugins while running tests, and we already have a way too big API. If you want you can extend `babel-jest` and add some sort of env variable to the `getCacheKey` function.

[code]

https://jestjs.io/docs/en/configuration#transform-object-string-pathtotransformer-pathtotransformer-object

[2019-09-10 10:41] LukasBombach commented on #6888
For people finding this googling how to use `jest.each` with `beforeAll` ore `beforeEach`. You can still put those before your `describe` block:

[code]

[2019-09-10 11:35] tuantvk commented on #8819
Folow by repo fix issue : [ReactNativeTesting](https://github.com/tuantvk/WtfReactNativeTesting/blob/9c0f8165cdd57922c6e5e5a17f069ea4bcea9747/jestSetup.js#L9)

[2019-09-10 12:39] Genuifx opened #8936 "RangeError: Maximum call stack size exceeded with `.toBe` on a large string"
## 🐛 Bug Report

[code]

Writing code like this, jest will throw RangeError, here is the error message:

[code]

the Array `expect` function got has an item that is an about 3MB string  (base64 image), and `toBe` got the same base64 String.

## To Reproduce

like above.

## Expected behavior

should fail the test, but not throw range error

## Link to repl or repo (highly encouraged)

## envinfo

[2019-09-10 12:53] thymikee commented on #8936
Does it also happen with `jest@24` or `jest@next`? cc @pedrottimark

[2019-09-10 13:53] StringEpsilon commented on #8936
node.js doesn't seem to like really long strings. I'm able to reproduce the bug and I think I found a fix. But testing this takes ages. Especially with my fix, as the console output grinds to a halt.

Anyway: `string.match()` crashes, probably due to a recursive approach. I'm not sure if the used regular expression can be changed to avoid this recursion.

[code]

My monkeypatched fix:

[code]

Tha

[2019-09-10 13:55] StringEpsilon commented on #8936
Reproducion:

[code]

whereas `string1` is just a 3000000 character long string I randomly generated (be aware: some IDEs might not like this).

[2019-09-10 14:05] SimenB commented on #8936
While it fails here https://github.com/facebook/jest/blob/736edd2ea6c9aadfb6e8794ecdc8a726f8a76b1a/packages/jest-message-util/src/index.ts#L358-L360, I think it makes more sense to avoid huge strings here: https://github.com/facebook/jest/blob/736edd2ea6c9aadfb6e8794ecdc8a726f8a76b1a/packages/jest-matcher-utils/src/index.ts#L307-L313 rather than trying to fix the regex part. This ends up generatin

[2019-09-10 15:15] Kryten0807 commented on #8478
Thanks for the docs on `testSequencer` - that's *almost* what I need.

Is there any way to specify certain tests should be run "in band"?

I have tests for a bunch of Express routes which start up the server & shut it down, but I'm running into problems because Jest is trying to run then asynchronously. I know I can use the `--runInBand` flag to run all my tests synchronously, but for most of my c

[2019-09-10 16:35] StringEpsilon commented on #8887
This is because of the babel transpilation. It's not actually an async function after babel is done with it.

With this babel config, I can't reproduce the issue:

[code]

If I remove the `targets` option, your test fails.

[2019-09-10 17:07] Harrisonkamau commented on #2441
This is my `jest.config.js` and it worked for me.
`jest -v 23.6.0` & `node -v 8.11.2`

[code]

Then in `package.json` I have:
[code]

Then your specific test suite with this command:
[code]

[2019-09-10 17:18] GHMT commented on #8364
I was having the same issue. With Jest version 24.9.0 if I add --watchAll=false or --watchAll=false it works. Apparently is the only presence of --watchAll flag, at least for me.

[2019-09-10 18:08] cappslock commented on #3370
Does setting it to be a different value affect Jest in some way? If not, why does Jest do this at all?

[2019-09-10 18:13] cappslock commented on #3370
Answering my own question, from a quick scan of the code, this looks like the only reference to it, outside of a mention in the configuration docs:

https://github.com/facebook/jest/blob/b7cb5221bb06b6fe63c1a5e725ddbc1aaa82d306/packages/jest-haste-map/src/index.ts#L372

[2019-09-10 19:52] SimenB commented on #3370
It makes e.g. `process.env.NODE_ENV === 'production'` checks be false, and babel config to pick up `env: { test: { config } }`. Idk about `.env` files - we check `process.env` - if it's not there it's not set for the node process, which is what we check

[2019-09-10 21:07] nathanloyer commented on #7287
@lucasfcosta Every time I've tried using `--detectOpenHandles` in my test code in a few different applications over the years it has never provided me with any useful output. It just sits there waiting for everything to wrap up but without printing the warning that suggests to use the argument in the first place. Is there some trick to getting useful output from that argument that I am unaware of?

[2019-09-10 21:21] onebrother21 commented on #2235
I believe I have the simplest use case to date. If one wants to generate a Node server (or in my a case, a custom class that incorporates a Node server) then test with Supertest, you have to get the app as the first "it" in each test suite! I would love to be able to load my app & Supertest once (during the "describe") and pass the app to each test suite. I've tried "beforeAll" but as other have n

[2019-09-10 23:05] hugosenari opened #8937 "Add hyperlinks in default reporter"
## 🚀 Feature Proposal

Add [hyperlink](https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda) support for default reporter.

## Motivation

Improve integration between terminal and editor.

## Example

When test fail we could click on test file path/name and it opens system default editor.

## Pitch

I know it could be another reporter, but why we can't improve current that already us

[2019-09-11 00:48] JounQin opened #8938 "unable to custom define babel plugins for istanbul-lib-instrument?"
## 🚀 Feature Proposal

Support custom babel plugins for istanbul-lib-instrument.

## Motivation

https://github.com/istanbuljs/istanbuljs/pull/465#issuecomment-529506309

## Example

Please see above PR.

[2019-09-11 05:42] nopito commented on #7271
Ran into the same issue today, any update on how to deal with this problem? I read in https://github.com/facebook/jest/issues/4488 that there is a way to define a custom resolver, but not sure how to do that :(

[2019-09-11 07:22] SimenB commented on #8938
Please provide more details, such as a (minimal) repository showing what you want to do and how Jest falls short. We only use `istanbul-lib-instrument` directly here: https://github.com/facebook/jest/blob/736edd2ea6c9aadfb6e8794ecdc8a726f8a76b1a/packages/jest-reporters/src/generateEmptyCoverage.ts#L9

The code goes through the transformer though, so all of your babel config should be picked up. So

[2019-09-11 07:24] SimenB commented on #8937
Sure, PR welcome 🙂 Should be able to use https://github.com/sindresorhus/terminal-link

[2019-09-11 08:06] JounQin commented on #8938
https://github.com/istanbuljs/istanbuljs/pull/465#issuecomment-529506309

@SimenB Please check.

[2019-09-11 08:15] SimenB commented on #8938
That's a PR without an opening post and the repo you link to is far from minimal.

https://www.snoyman.com/blog/2017/10/effective-ways-help-from-maintainers

[2019-09-11 08:30] JounQin commented on #8938
The PR comments should be very clear that I'm trying to test babel plugin `v8intrinsic` which is first available from `v7.6.0`, but for now it's not possible to add this additional babel plugin into `istanbul-lib-instrument` because we don't any config option to do this, and it breaks jest coverage collection.

Whatever, I'll trigger a CI build with error to reproduce it for you.

[2019-09-11 08:39] JounQin commented on #8938
Can you check https://travis-ci.com/rx-ts/babel-preset-proposal-typescript/builds/126952573#L283?

[2019-09-11 09:17] adarshpk commented on #8853
I tried the same with jest version 24.9.0. It seems to be working without any additional configuration.

My package.json is given below:

[code]

And I get the following result:

[code]

[2019-09-11 09:40] liyikun commented on #2826
I also encountered this problem and hope to have a solution. This problem makes me completely unable to use Jest at all.

[2019-09-11 10:12] pimterry opened #8939 "Unref'd timeouts should not be reported as open handles"
## 🐛 Bug Report

`Timeout.unref()` in node tells node not to let the timeout block process shutdown. That means that these timeouts are never going to stop Jest from shutting down, but `--detectOpenHandles` still reports them as such.

Any intervals or timeouts that has been unref'd should not be reported by Jest as an open handle.

I'm not actually a Jest user myself - I'm reporting this as I rec

[2019-09-11 10:13] hustcc opened #8940 "How to pass customize params into jest with jest-cli"
## 🚀 Feature Proposal

When I write a customize runner(https://github.com/hustcc/jest-electron), I need customize cli args for runner.

## Motivation

customize runner.

## Example

[code]

then the runner get `interaction=true`, and keep something window for code debug.

![image](https://user-images.githubusercontent.com/7856674/64688797-ae529300-d4bf-11e9-8d95-028f981c5da9.png)

## Pitch

ignore

[2019-09-11 10:36] jeysal commented on #8939
Awesome! Agree that this is a bug and we should check `hasRef`, and also that if there is no `hasRef`, we should just keep the current behavior and wait for the old Node versions to be discontinued.

[2019-09-11 10:37] jeysal commented on #8939
In case it saves you time, `collectHandles.ts` is probably where you need to look :)

[2019-09-11 12:23] onigoetz opened #8942 "Race condition on snapshots when a test timeouts"
## 🐛 Bug Report

When I have two tests that use snapshots, if the first timeouts, the content of the first test will be in the snapshot of the second test

## To Reproduce

I have made a repository that reproduces the issue :
* Repository : https://github.com/onigoetz/jest-race-condition-repro
* Github Actions failed jest run : https://github.com/onigoetz/jest-race-condition-repro/runs/218697180

[2019-09-11 12:26] pimterry commented on #8939
@jeysal great, thanks! PR here: https://github.com/facebook/jest/pull/8941/

[2019-09-11 14:02] DiabolusExMachina commented on #7631
Hi any news on this?

As a workaround you can use  --runInBand if you start multiple tests. It will still took long to start the first test but the next tests will be fast

[2019-09-11 17:15] skratchdot commented on #5247
@Kocal -
If you use `setupFilesAfterEnv` instead of `setupFiles` to call your `jest.setTimeout()` code, it should work.  I've confirmed in my suite that calling `jest.setTimeout()` in `setupFiles` does not work, but `setupFilesAfterEnv` works (at least for my use case which is using jest `24.9.0`).

[2019-09-11 17:20] lemoustachiste opened #8943 "Generic import of functions sets them as getters in jest 24, sinon fails"
## 🐛 Bug Report
I have just updated to Jest 24. A `sinon.stub` I was using is now failing. Something internal to Jest transforms functions to getters, it is not the case with Jest 23.

Console output Jest 23:
<img width="519" alt="Screenshot 2019-09-11 at 19 06 20" src="https://user-images.githubusercontent.com/12797962/64718887-5fa8f700-d4c7-11e9-9b9b-69d8cb958fe9.png">

Console output Jest 24:
<

[2019-09-11 17:51] Kocal commented on #5247
Oh, okay. I was planning to use #8456 but I will give `setupFilesAfterEnv` a try.

Thanks :)

[2019-09-11 21:27] nopito commented on #7271
After playing around a little bit more, I figured out that what we need to change a little bit the way we were defining the `moduleWrapperMapper` config. It should look like this instead.
[code]

[code]

And problem solved. cc @dankreft

[2019-09-11 21:30] lgc13 commented on #6552
Was a fix found for this?

[2019-09-11 21:42] kreempuff commented on #6552
@lgc13 I did this to get around it:
[code]

[2019-09-11 22:23] WattyRev commented on #6552
The solution for me was to start using Node 10+ which supports `finally`.

[2019-09-12 00:43] petevdp commented on #8907
I'm a first time contributer, but I'd like to tackle this, but if anyone has the time I'd like some initial feedback on how I should tackle this problem.

I've done some digging and I've found this file [dependencyExtractor](https://github.com/facebook/jest/blob/b76d46a7f0e30a9ff2ac81bc7a2495ba689bcc2e/packages/jest-haste-map/src/lib/dependencyExtractor.ts), which has some regex patterns it uses t

[2019-09-12 09:16] toshi38 opened #8945 ""Manual Mocks" docs page does not address manual mocking of named exports"
## 🐛 Bug Report

When using named imports the documentation for providing a manual mock isn't super clear.

Given a setup like:

[code]

and usage similar to:
[code]

One would need to define their mock in tests like so:
[code]

This isn't very clear from the documentation, and I spent quite some time attempting different workarounds to be able to create custom mocks for named exports.  Of course

[2019-09-12 13:43] leoselig opened #8947 "Visual diff for functions is broken in conjunction with typed arrays"
## 🐛 Bug Report

The visual diff between two objects shows a wrong diff when the objects contain a differing function on one field and identical typed arrays on another field. In that case, the visual diff indicates a mismatch of the typed array field but not of the two functions.

## To Reproduce

Steps to reproduce the behavior:

Perform an assertion via `toMatchObject()` or `toEqual()` as done

[2019-09-12 19:59] radfahrer opened #8950 "More info in regards to uncaughtPromiseRejectionWarning"
## 🚀 Feature Proposal

When a uncaught promise rejection is caught, please log a stack trace to the console to help with fixing it.

## Motivation

Trying to cleanup tests with uncaught promise rejections, and sometimes it's actually a bug in our code and sometimes it's the way the test runs, but either way it's really hard to fix without context like a line number.

## Example

For debugging unca

[2019-09-13 08:32] geyuqiu commented on #4883
for me the error message reveals itself after I moved a .ts file to another directory.
However run jest without watch mode runs successfully

[2019-09-13 11:01] #8939 closed

[2019-09-13 13:31] brunoxd13 opened #8954 "Could not parse CSS stylesheet"
## 🐛 Bug Report

When I run the test command (`npm run test`), I am getting the following error:

[code]

But after the error the tests run.

Obs: I`m using [emotion](https://emotion.sh/), [next](https://nextjs.org/) and [react testing library](https://testing-library.com/docs/react-testing-library/intro).

## To Reproduce
I didn't find no similar case to this one.

## Expected behavior
No error o

[2019-09-13 13:45] SimenB commented on #8954
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2019-09-13 13:45] #8954 closed

[2019-09-13 17:55] hayanisaid commented on #2441
Jest hide the logs and warnings  when you pass `--silent` option
Try `yarn jest`  it should work

[2019-09-14 06:44] Wolven531 commented on #2098
Drawing inspiration from @tripper54 , my tests setup look like this:

[code]

In the final `beforeEach` block, you can replace null w/ any value you'd like

For example:

```jest.fn(() => JSON.stringify( [] ))```
```jest.fn(() => JSON.stringify( [{ someProp: 'someVal', someOtherProp: 5 }] ))```

Very simple setup and works flawlessly. Thanks for the advice, all. ❤

[2019-09-15 13:50] piranna commented on #8929
I've read that issue but got no idea what should I do... can you explain it a little bit about how to support Node.js features with Jest without transpiling?

[2019-09-15 14:27] ahnpnl commented on #8401
A workaround is creating a stub class, then do: useClass:<stub_class_name>. In this stub class, you can put your getTitle to return jest.fn()

I searched through angular documentation there seems to have no example related to use useClass with mock ultities.

[2019-09-16 07:06] elialgranti commented on #7245
Please reconsider this feature request:

Unit testing frameworks are used not only for unit testing. They are also valuable in integration testing.
Obviously not all tests are suitable for all environments. jest already provides skip() as a way to "comment out" parts of the test suit without having to do the actual cumbersome commenting out of the code. Having a predicate in the skip method would

[2019-09-16 07:23] sodatea opened #8956 "Jest 25 - any more breaking changes planned?"
I noticed that a `25.0.0` version published in the npm registry under the `next` dist-tag.
It does not have an `alpha` or `beta` suffix.
So I'm wondering: will there be any more breaking changes in the subsequent 25.x releases other than the currently listed ones in the changelog? Because if so, that seems to be a breach of semver.

[2019-09-16 07:28] Genuifx commented on #8936
@pedrottimark error in the test is preferred. Actually, That was my bug while mocking some kind of function.

@StringEpsilon I was doing redux compatible work for [mini-app](https://www.w3.org/blog/news/archives/7955), one case needs consider is the store's data is too large to connect the page (every single time `setData` call only 1024kb data can be transferred between threads), so I  used jest

[2019-09-16 07:30] sodatea commented on #8956
I raise this issue because I'm working on [Vue CLI](https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-unit-jest) and we are very close to release a new major version.
I'm not sure whether should I bundle it with Jest 24 or 25 - neither seems a good idea.

[2019-09-16 07:38] SimenB commented on #8956
There are no more planned _user facing_ breaking changes (meaning we might tweak some internal stuff in a technically non-breaking way, but that shouldn't affect users).

A new release should be just around the corner, things are taking a bit longer than anticipated.

---

I'll close this as it's not really actionable, but feel free to keep the discussion going 🙂

[2019-09-16 07:38] #8956 closed

[2019-09-16 07:42] sodatea commented on #8956
Thanks for the quick response!
Then I think I'll just go with Jest 25.

[2019-09-16 12:31] artemrudenko commented on #8401
We made some research and found that:
Jest23 jest-mock.matchArity compiled code looks like:
[code]
While Jest24:
[code]
[Angular reflection capabilities](https://github.com/angular/angular/blob/master/packages/core/src/reflection/reflection_capabilities.ts#L22) this code used at https://github.com/angular/angular/blob/master/packages/core/src/reflection/reflection_capabilities.ts#L133
and this lea

[2019-09-16 12:39] Dhirajbhujbal commented on #1025
facing the same again Have class component and trying to do SnapShot testing

`
export class I*****T*****lView extends React.Component {

    public constructor(public props: Readonly<{}>) {
        super(props);
    }

    public render() {
          return (
                <Text>Loaded.....</Text>
          )
    }
}
`

[2019-09-16 12:52] alexandermckay commented on #6777
I am still getting the issue

[2019-09-16 14:20] mkschaller commented on #7962
Thanks, I was happy to have found the disclaimer as $eval, $$eval, and page.evaluate were working fine for me Friday. Hopefully, there's a permanent fix soon.

[2019-09-16 16:49] ballercat commented on #8906
Looks to be related to this issue as well https://github.com/facebook/jest/issues/8297

[2019-09-16 18:56] wolever commented on #7245
@elialgranti There has been more discussion on this (and it seems like core devs are in favour of if) in https://github.com/facebook/jest/issues/8604

[2019-09-16 19:58] blainekasten opened #8958 "jest.requireActual does not follow module-resolver from babelrc"
## 🐛 Bug Report

When using `module-resolver` in our babelrc, the jest.requireActual does not get effected. Other calls like `jest.mock` do however.

## To Reproduce

[code]

[code]

`...jest.requireActual('utils/environment'),` logs a message that it cant find the module

changing it to a relative path fixes it.

## Expected behavior

I expect jest.requireActual to follow the rules from babel lik

[2019-09-16 20:03] thymikee commented on #8958
I'd say that's something babel module-resolver could make configurable, as it intercepts `require` and `import` and could add custom function calls like `jest.mock`.

Additionally, jest provides [`moduleNameMapper`](https://jestjs.io/docs/en/configuration#modulenamemapper-object-string-string) which lets you configure this stuff.

Just out of curiosity, are there other tools that cooperate closely

[2019-09-16 22:36] radfahrer commented on #8937
iTerm has this functionality built in, and it is very nice

[2019-09-17 07:18] liamaharon commented on #8236
Any update on this?

[2019-09-17 08:19] melvinkcx commented on #8891
I'm running into the same wall as @jackgeek did. My test suites are not working properly as `setInterval` in my Vue Component doesn't get stubbed with `jest.useFakeTimers()`. Still cracking my head around this.

[2019-09-17 08:51] alistairnewpark commented on #8317
XFAIL is often used to mark a bug that is unfixed. The test is in place, but the fix is not done yet. I imagine something like:

`test.xfail(…);`

Similar to the `test.todo(…);` place holder and `test.skip(…);`.

`test.xfail(…);` would show as a separate row in the test results, although it is treated as a pass for the purpose of continuing the test run. When an XFAIL test passes then it is marked

[2019-09-17 09:03] LukasBombach commented on #6649
Hey guys, reanimating this old issue.

I came across this because I have this data structure (which I have already simplified for this issue):

[code]

So when I write my tests I want to see if my data matches my expected data:

[code]

So the problem is that I'd like to use an `asymmetric matcher` that I can use within `arrayContaining`. As I understand it, I could not just use `jest.extend` beca

[2019-09-17 10:10] yurilongaray commented on #6390
I have the same issue... i had used toHaveBeenCalledWith(expect.any(Function)) to test it but i need to cover this situation... i tried some ways but it didnt work. Any idea?

![Screenshot from 2019-09-17 07-06-57](https://user-images.githubusercontent.com/30178918/65032579-cf7d0e80-d919-11e9-9e66-77b37ea58a16.png)

[2019-09-17 14:07] blainekasten commented on #8958
@thymikee I originally thought this might have been isolated to babel-resolver, but i was surprised that `jest.mock` follows the rules. Is there something in babel-jest that has some sort of interop between jests module system and babels?

I'm aware of `moduleNameMapper`. Babel is the easiest solution because it solves the problem in one place.

I'm not sure what you mean?

[2019-09-17 16:13] Skriptach opened #8960 "toEqual do not work correctly with objects having both jasmine.any and Buffer"
## To Reproduce
1. Run test
[code]

2. Confirm there is no fails
3. Uncomment all `userId` lines and run test again
4. See it fails and `ts` field highlighted as mismatch. But `userId` not .
![image](https://user-images.githubusercontent.com/390735/65058990-dc334e00-d97d-11e9-85f6-c25554b70e81.png)

5. Comment all `ts` fileds and run test again
6. Now failed on `userId`
![image](https://user-image

[2019-09-17 16:29] jeysal commented on #8960
This is a duplicate of https://github.com/facebook/jest/issues/6184.
It looks slightly more complex in this case, but if that was fixed, the `ts` difference would not be printed anymore and it would correctly fall back to the `userId` difference printed with `toJSON`.

[2019-09-17 16:29] #8960 closed

[2019-09-17 17:14] conartist6 commented on #6649
I still really want this for iterables. To reiterate, I want it because when I write
a `toBeIterableOf` matcher I need two separate kinds of error messages:
"expected ... to contain items ... but instead got ..."
and:
"expected ... to be an iterable, but did no iterator was defined"

My use case is definitely not solved for yet.

[2019-09-18 06:23] arbielsk commented on #936
Something that worked for our team working with typescript was to create a `const` we export instead of exporting the function directly.
Not working:
`export function doSomething(a, b) {}
`Working:
`export const doSomething = function (a, b) {}`

[2019-09-18 08:25] romua commented on #7963
@thymikee any updates?)

[2019-09-18 13:29] lopezvit opened #8962 "Trying to load a non-existing module twice, second time returns mock instead of throwing exception"
## 🐛 Bug Report

I'm using the library `express-openapi-validator` to validate an OpenAPI 3.0.2 file. As part of its's code, it tries to open the description file like this:
[code]
This is because the OpenAPI can be in JSON format or in yaml.

The problem is that Jest intercepts the `require` call, because Jest tries to check if it has to mock the module and, because it doesn't have to, then tries

[2019-09-18 13:32] lopezvit commented on #8962
I forgot to mention that, as a workaround, I configure jest like this (`jest.config.js`):
moduleNameMapper: {
    "^[./a-zA-Z0-9$_-]+\\.yaml$": "Error"
  }

[2019-09-18 14:41] hugomallet opened #8964 "Document "mock" prefix for out-of-scope variables"
Hi,

In the jest documentation website, there is no information about prefixing with "mock" variables used by mocks (https://jestjs.io/docs/en/es6-class-mocks#complete-example).

I know there is message in the error stack trace but it is well known that nobody reads error messages entirely :) Please update the docs

[2019-09-18 18:19] wearhere commented on #5620
Confirmed that this breaks testing functions that throw uncaught exceptions, too: https://repl.it/repls/FreeFluffyAdministration

[2019-09-18 21:58] AlexLandau opened #8966 "Non-deterministic "Unexpected end of JSON input" from convert-source-map"
## 🐛 Bug Report

Using Jest 24.9.0 and ts-jest 24.0.2, we are getting non-deterministic build failures with this stacktrace:

[code]

The chance of any individual jest run failing this way is small, but due to the large number of projects in our repo, we are seeing it frequently in our CI builds.

The [following bit of code](https://github.com/facebook/jest/blob/v24.9.0/packages/jest-transform/src

[2019-09-19 09:35] capaj opened #8967 "TypeError: Function.prototype.toString requires that 'this' be a Function when trying to toMatchInlineSnapshot"
## 🐛 Bug Report

## To Reproduce

Steps to reproduce the behavior:
[code]
## Expected behavior

Does not crash with
[code]

## Link to repl or repo (highly encouraged)

## envinfo

  System:
    OS: Linux 5.0 Ubuntu 19.04 (Disco Dingo)
    CPU: (12) x64 Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz
  Binaries:
    Node: 10.16.0 - ~/.nvm/versions/node/v10.16.0/bin/node
    Yarn: 1.15.2 - ~/.yarn/bin/yarn

[2019-09-19 09:38] capaj commented on #8967
ah okay this is only an issue when apollo-env is installed. I'll probably reopen with them then.

[2019-09-19 09:38] #8967 closed

[2019-09-19 11:01] Kocal commented on #5247
`setupFilesAfterEnv` is working properly, thanks @skratchdot :)

[2019-09-19 14:13] gdbd opened #8968 "No tests found when running from webstorm in linked folder(linux)"
## 🐛 Bug Report

no tests found when running from webstorm in linked folder(linux)

## To Reproduce

Steps to reproduce the behavior:

-in some place place code folder (ex: /run/media/denis/data/code)
-create link to this folder in your home(ex: /home/denis/code)
-open project in webstorm (ex: /run/media/denis/data/code/test-project)
-try to run tests

## Expected behavior

tests runs as expected

[2019-09-19 17:19] ashton commented on #8678
Same issue here, with `jest: 24.8.0` and `react-native: 0.59.10`

[2019-09-19 17:25] jlai commented on #8913
https://github.com/isaacs/node-graceful-fs/issues/174 ?

[2019-09-20 06:43] tarjei opened #8969 "Regression: test.only does not group skipped tests anymore"
## 🐛 Bug Report

According to #2593 a .only on a test should remove the other tests from the test output.

## To Reproduce

Steps to reproduce the behavior:
1. Choose a testcase
2. Annotate it with .only:

[code]

3. Run jest

## Expected behavior
Only the single test should be in the output.

## Link to repl or repo (highly encouraged)
https://repl.it/repls/NavajowhiteRemoteOutlier

## envinfo
Ub

[2019-09-20 09:31] jeanregisser commented on #7517
Here's how I fixed this following @SimenB's comment:

Using **jest.config.js** (instead of package.json)
[code]

Also be sure to run `yarn jest --clearCache`.

[2019-09-20 09:42] jeanregisser commented on #1370
Looks like https://jestjs.io/docs/en/configuration.html#snapshotresolver-string could be leveraged to store the snapshots in different paths based on the config.

[2019-09-20 13:32] rwwagner90 commented on #8310
I'm experiencing this too. Is there a workaround? I can even list file paths explicitly, and the file is not included in the coverage.

[2019-09-20 13:38] aballaci commented on #8449
for me
export NODE_TLS_REJECT_UNAUTHORIZED=0   worked
set  NODE_TLS_REJECT_UNAUTHORIZED=0  did not

[2019-09-20 16:02] sheerun commented on #7914
Can we count on fix?

[2019-09-20 16:27] ClaytonSmith commented on #8604
@mattphillips What would your solution be for platform specific tests?

It would be wildly inappropriate to falsely mark tests as passed or failed when it doesn't even make sense to run the test.

The questions we want our test frameworks to answer are: Can I run this test? Did the test pass? A boolean Pass/Fail cannot answer both of those question.

[2019-09-20 17:01] SimenB commented on #7914
Not sure what a fix would be? Is it a documentation or implementation issue? A PR for either is very much welcome as none on the core team uses windows. We do test windows on CI though, so if it's a code issue we can add a test as well

[2019-09-20 17:41] artola commented on #7914
@SimenB It is a code issue, see my comment above, a solution is wrap this return with `slash`.

https://github.com/facebook/jest/blob/16930281c466ef3ac7a07d9777d47b2d208ce16e/packages/jest-config/src/utils.ts#L66

It will be great if some Windows expert verifies and creates the PR.

In the meantime the solution was change the micromatch as explained.

[2019-09-20 20:28] SimenB commented on #7914
Aight, fair enough! Looking forward to that PR 😊

[2019-09-20 23:12] langpavel commented on #8604
jest can mark tests as skipped, I§m using this hack, but it only works synchronously:
[code]

[2019-09-21 09:12] eemeli commented on #2549
I've hit this issue with [`process.emitWarning()`](https://nodejs.org/api/process.html#process_process_emitwarning_warning_options), which does an `instanceof Error` warning check internally.

This works as expected outside Jest, but throws an ERR_INVALID_ARG_TYPE error in Jest:
[code]

[2019-09-21 09:37] SergeiKondrasyuk commented on #5325
change import from
import ReduxFormField from 'redux-form/es/Field';
to
import {ReduxFormField} from 'redux-form';

[2019-09-21 10:12] ericridgeway opened #8970 "Tutorial doesn't work"
Using tutorial at: https://jestjs.io/docs/en/tutorial-react

Steps followed, straight from the tutorial:
npx create-react-app react-with-test
cd react-with-test

yarn add --dev react-test-renderer

File: Link.react.js
[code]

File: Link.react.test.js
[code]

It then says to type yarn test, or yarn jest

The first gives:
`No tests found related to files changed since last commit.`

The second gives

[2019-09-21 13:38] marcus-sa commented on #7996
Did you manage to solve this?

[2019-09-21 15:09] airtonix commented on #7383
or :

[code]

[2019-09-22 09:01] newhopestar commented on #8114
??

[2019-09-22 12:34] liranpeleg commented on #6470
Any news on that?

[2019-09-22 18:46] JJBocanegra commented on #7511
Using `--watchAll` works correctly.

[2019-09-23 03:09] fobbyal commented on #7957
@bidva try chaning
[code]
to
[code]

[2019-09-23 09:27] DanielRuf opened #8972 "Slow when importing from a big ESM bundle"
## 🐛 Bug Report
Currently an ejected CRA is slow when we use `@material-ui/icons`, especially when importing from `@material-ui/icons/esm` instead of importing the icons separately.
It takes about 120 seconds with a cold / empty cache and 5-6 seconds with a hot / filled cache.

## To Reproduce
[code]

Steps to reproduce the behavior:
* run the tests

## Expected behavior
The tests should run very

[2019-09-23 10:38] dangerousdan commented on #2234
Late to the party, but I think jest has all the functionality you need for this.

[code]

[2019-09-23 10:59] mukeshmandiwal commented on #8970
You don't have any app component in the app.test.js file

[2019-09-23 14:05] MajorBreakfast commented on #6216
@ert78gb Is this issue covered by your PR?

[2019-09-23 15:52] ert78gb commented on #6216
Yes and it is landed in 24.9.0

[2019-09-23 16:44] antonovicha commented on #3753
Try `--no-cache` jest option.
In our case we refactored code and moved source files around. But jest was picking cached version with pre-refactoring path. Which was not correct any more.

P.S. 2nd or 3rd confusing issue with jest TS cache :(.

[2019-09-23 17:25] thymikee commented on #6216
Looks like we can close this :)

[2019-09-23 17:25] #6216 closed

[2019-09-23 17:26] PiotrSiatkowski commented on #7416
@yordis I think it's better to check that by experiment. And I think moduleNameMapper takes precedence over transform.

In project, I have 'identity-obj-proxy' moduleNameMapper. Tests work.

I have a custom transformer as well, which is broken by design. When moduleNameMapper is turned off it crashes as it should. When I turn on my mapper again, everything works like a charm.

I think this should

[2019-09-24 01:10] zeroarst opened #8973 "Jest cannot understand token "?" from @babel/plugin-proposal-optional-chaining"
## 💬 Questions and Help
My project is Vue 2.x. I am using `@babel/plugin-proposal-optional-chaining` and I have a line of code  in my component.vue file that uses "?"
[code]
which works well when run the app. However, my unit tests are failing because it cannot recognize the token "?"
[code]

my `babel.config.js`
[code]

my partial `package.json`:
[code]

my `jest.config.js`
[code]

I am pretty ne

[2019-09-24 03:21] zzis commented on #6229
This config in jest.config.js saves me, thanks!!!!!
[code]

[2019-09-24 06:17] sunnykeshri commented on #3254
Thanks, this resolved my issue.

[2019-09-24 07:42] szaliubovskii opened #8974 "jest --watch regex throws an error"
## 🐛 Bug Report

Currently we have configuration for `Aliases` in `webpack` and `package.json` for `jest`.

[code]

One of the new files has `Configuration` in the name, `somethingConfiguration`.  Because of that `jest --watch` is failing, when normal `jest` runs perfectly fine.

[code]

I think that it's an issue with regex behaviour.

## To Reproduce

Having alias configuration in `package.json`

[2019-09-24 10:14] yxliang01 commented on #7695
I think it's a good idea to allow us specifying certain skip conditions. This is different from commenting them out that skipped test will still be reported and such input is very helpful on tracking todos. So, would be great if jest team would like to implement this!

CC: @SimenB

[2019-09-24 16:28] toymachiner62 opened #8975 "Upgrade @bable/core to fix vulnerability"
Please upgrade `@bable/core` to address this lodash vulnerabillity https://snyk.io/vuln/SNYK-JS-LODASH-450202

[2019-09-24 16:35] SimenB commented on #8975
It's within semver range, so just upgrade it in your own project

[2019-09-24 16:35] #8975 closed

[2019-09-24 18:44] vejandla commented on #5064
I'm running into the same problem.

none of the following things worked for me.

cross-env CI=true npm run test

tried running tests with --coverage option,
tried running tests with --ci option (for jest-cli)

all tests are passing, but when running the task through PowerShell in Azure DevOps, it is always treating it as an error.

appreciate any help !!

[2019-09-24 21:12] toymachiner62 commented on #8975
I have the latest version in my project, but [snyk](https://snyk.io/) is flagging it b/c it's a dependency of @babel/core.

Snyk output
[code]

With this set of dependencies:

[code]

[2019-09-24 21:46] vejandla opened #8977 "Jest is writing debug info as stderr"
Jest is showing all tests as passed but the CI build is failing.

I am using PowerShell task to run the unit tests in Azure DevOps. After lot of debugging, I see the following thing written to console.

##[debug]STDERR: PASS src/components/__test__/abc.test.js (19.692s)

I tried all the solutions mentioned in this thread and I'm still stuck with this issue.

https://github.com/facebook/jest/issues

[2019-09-24 23:44] lekterable commented on #8937
I could take this :)

[2019-09-25 00:57] jchook commented on #3254
Future visitors and @sunnykeshri @JimmyBastos @BrotherDonkey @CodeMonkeyG, for my sanity please stop propagating the watch limit fix.

[2019-09-25 07:56] lucasfcosta commented on #5064
Hello everyone, this is a very long piece of work. I have started working on it and put some considerable effort in. Although I don't think I'll manage to get back to it as I've got a few conferences scheduled until the end of the year.

I'd be happy to walk someone through what needs to be done though.

It's a small change to the main code-base, but one which requires many tests to be updated, in

[2019-09-25 09:50] dpinol commented on #7811
@SimenB You said "A new release of 25 will come next week. " Any news about the release?

thanks

[2019-09-25 10:33] SimenB commented on #7811
Last I heard it was being tested at FB on Friday.

[2019-09-25 11:22] z2014 opened #8979 "collectCoverageFrom didn't work in react components"
## 🐛 Bug Report

when i set jest config in package.json like this
[code]
when i run `yarn run jest`, i get this

## To Reproduce

<img width="961" alt="屏幕快照 2019-09-25 下午7 15 29" src="https://user-images.githubusercontent.com/17852357/65596235-0bbf0780-dfc9-11e9-8362-cdf9fd2b130a.png">

## Expected behavior

is should only collect util.js , but it collect react components,
i set react components t

[2019-09-25 11:31] thymikee commented on #8979
Can you try on the latest version of Jest? Also please try to form the issue a bit clearer, because I have troubles understanding :<

[2019-09-25 11:33] thymikee commented on #8893
Please conform to the issue template

[2019-09-25 11:33] #8893 closed

[2019-09-25 11:36] thymikee commented on #8947
Does it happen on the latest Jest? cc @pedrottimark

[2019-09-25 11:37] thymikee commented on #8968
I believe this is rather Webstorm issue. Please send it to their support forum. Happy to accept PRs if there's anything on our side that we could improve

[2019-09-25 11:37] #8968 closed

[2019-09-25 11:37] thymikee commented on #8974
Can you please provide a repro repository?

[2019-09-25 11:37] thymikee commented on #8972
Can you please provide a repro repository?

[2019-09-25 11:40] thymikee commented on #8969
This behavior was changed in v23 if I remember correctly, so it works as expected.

[2019-09-25 11:42] thymikee commented on #8966
PRs welcome!

[2019-09-25 11:45] thymikee commented on #8958
Looks like the module-resolver plugin supports some Jest calls: https://github.com/tleunen/babel-plugin-module-resolver/blob/7166c06a4280c014c1eaf1338eb7754dc7d2e445/test/call.test.js#L10-L15. Also, with Babel 7 and Jest 23+ please make sure to use `babel.config.js` instead of `.babelrc`. That may also be a source of problems.

Closing, as support for rewriting module calls is the Babel plugin res

[2019-09-25 11:45] #8958 closed

[2019-09-25 11:46] thymikee commented on #8920
Closing due to lack of repro repository. Please send one and reopen

[2019-09-25 11:46] #8920 closed

[2019-09-25 11:48] thymikee commented on #8913
@SimenB Should we pin `graceful-fs` at `4.2.1` for now?

[2019-09-25 11:49] thymikee commented on #8871
Please provide some instructions in the repro on what's the issue and how to achieve it

[2019-09-25 11:50] thymikee commented on #8797
Please provide a repro we can download

[2019-09-25 11:51] #8793 closed

[2019-09-25 11:51] thymikee commented on #8793
Thanks @armansujoyan

[2019-09-25 11:52] thymikee commented on #8789
Closing, because cannot repro, thanks @edgarkhanzadyan

[2019-09-25 11:52] #8789 closed

[2019-09-25 11:54] thymikee commented on #8887
Closing due to missing information and it's likely resolved by @StringEpsilon comment

[2019-09-25 11:54] #8887 closed

[2019-09-25 11:55] thymikee commented on #8729
Closing due to lack of repro repository. Please provide one and reopen if necessary

[2019-09-25 11:55] #8729 closed

[2019-09-25 11:58] thymikee commented on #8684
Closing due to lack of activity from the OP

[2019-09-25 11:58] #8684 closed

[2019-09-25 12:00] thymikee commented on #8678
Could you provide a repro we can download?

[2019-09-25 12:02] thymikee commented on #8702
This is a feature request, not a bug. What do you think @SimenB @jeysal?

[2019-09-25 12:04] thymikee commented on #8724
Hard to say anything without the configuration and repro repository. Closing, happy to reopen once all necessary info for us to help is provided.

[2019-09-25 12:04] #8724 closed

[2019-09-25 12:46] jeysal commented on #8702
Not sure, there's lots of different things that *could* be added but we need a boundary where dependency detection for changes files ends and only supporting the Node resolution algorithm seems like a good one to me. So in that way, we could look at the `package.json` in a folder that is `require`d (because its `main` field might change), but I don't think more than that would be reasonable).

[2019-09-25 13:10] An-dz commented on #8871
Just try loading a module with `rewire` instead of `require` and jest will not calculate coverage of this file.

[2019-09-25 13:17] DanielRuf commented on #8972
Hi @thymikee,

You should be able to see https://github.com/DanielRuf/test-app

[2019-09-25 13:30] thymikee commented on #8972
Btw, have you tried that on `jest@next`?

[2019-09-25 13:51] DanielRuf commented on #8972
Yes, I've tried it with both, same result.

[2019-09-25 13:52] thymikee commented on #8972
Thanks, hope somebody can jump on this and investigate (I don't have bandwidth for now unfortunately :<). cc @scotthovestadt as this is a performance issue :)

[2019-09-25 16:34] odan commented on #708
This works for me:

[code]

[2019-09-25 17:18] lukeapage commented on #8702
On second thought, it shouldn't be package.json but instead the package lock file (supporting both yarn and npm).
I agree that detecting the exact dependencies used in a test (+jest itself) and seeing if that changed would be ideal, but adding support for a single file would be easier, at the cost of re-running everything when a dependency changes.

[2019-09-25 20:45] icywolfy opened #8981 "transformIgnorePatterns whitelist"
## 🚀 Feature Proposal
Allow a means to white list transformIgnorePatterns.

## Motivation
Currently, we need to transform modules in node_modules, for code that is published as raw ES6, code published as raw TypeScript, or code published as raw React.

Even though transformIgnorePatterns is an array, the moment, we want to whitelist these projects, they must all be specified on one line, as ignori

[2019-09-26 07:46] Amit-Modi opened #8983 "TypeError: Cannot read property 'prototype' of undefined"
## 🐛 Bug Report

I was trying to mock redis module using `jest.mock('redis')`. The test failed with following error
[code]

## To Reproduce

Steps to reproduce the behavior:
1. install redis `npm i redis@2.8.0`
2. create a test file `mocking-redis.test.js` with following content
[code]

## Expected behavior

redis should be mocked and test should pass successfully

## Link to repl or repo (highly

[2019-09-26 07:55] sirMerr commented on #8474
Have the same query! Trying to only run changed files and it'll fail with `Jest: Coverage data for ... was not found. ` when there's a coverage threshold in the config. I'll look into `--coverageThreshold` although it'll be a very ugly script :P

[2019-09-26 08:18] z2014 commented on #8979
i have update jest 24.9.0 version, it also has this problem.

the problem is collectCoverageFrom didn't work.
i set jest config
`collectCoverageFrom: ['<rootDir>/**/util.js']`
so i want to collect Coverage the files named 'util.js' ,
but it collect all the files

[2019-09-26 08:24] thymikee commented on #8981
We're planning configuration revamp and this seems in line with it. See: https://github.com/facebook/jest/issues/7185. Feel free to suggest more adjustments. I'm gonna close this, hope you don't mind :)

[2019-09-26 08:24] #8981 closed

[2019-09-26 13:39] Swatinem opened #8984 "jests async wrapper leaks memory"
## 🐛 Bug Report

Possibly related to: https://github.com/facebook/jest/issues/6814 and other reports of memory leaks…

I do have quite severe memory leaks, because one of our modules is super big (it imports a translation dictionary in multiple languages).
Each test file which imports that module blows up jests memory usage by ~20M.

While debugging the memory leak, I noticed that the translation

[2019-09-26 13:44] thymikee commented on #8984
I wonder if it also happens with jest-circus? https://github.com/facebook/jest/tree/master/packages/jest-circus

[2019-09-26 13:49] nlarusstone commented on #8942
I also see this behavior quite often -- would be nice if there's either a fix or a workaround

[2019-09-26 15:08] Swatinem commented on #8984
Haven’t tried it yet, will do so tomorrow. Lets see how easy it is to integrate… We have a quite complex setup, also browsing through the issues, I’m not sure how production ready it already is?

[2019-09-26 15:37] thymikee commented on #8984
It is production ready, but has differences from jasmine

[2019-09-26 20:18] rogeliog commented on #8940
Hi! Thanks for reporting this. These two other issues seem related, even though they are not in the context of custom runners
- https://github.com/facebook/jest/issues/3722
- https://github.com/facebook/jest/issues/6316

[2019-09-27 05:44] hustcc commented on #8940
It's equivalent to there is no good official solution.

[2019-09-27 05:44] #8940 closed

[2019-09-27 06:33] taktakpeops commented on #139
Hello, for anyone interested in running his tests with Jest in Browserstack, I released this environment: https://www.npmjs.com/package/jest-environment-browserstack

[2019-09-27 08:12] anjing0524 commented on #8660
but it always not work in babel7.6 and jest24.9 @SimenB  Could you give me an eg? thanks

[2019-09-27 09:04] jarl-dk commented on #4156
Why is this feature request closed?
It seem that many people find it reasonable to have this feature included in out-of-the-box jest. At least as a configuration option.
Can you @kumar303 open it again?

[2019-09-27 10:33] James-Smith83 commented on #2418
I noticed that it can be pretty difficult to try and merge multiple coverage data from various tests. It is clear that some people have issues with trying to do this as well.
If you want to see an alternative way of doing this to using the "isntabul" tool then this article talks about a different methods of how to merge coverage data from multiple test runs.

https://www.rapitasystems.com/blog/mer

[2019-09-27 12:00] aTrueSeeker commented on #4535
I am using load method but still cant test for routes which serve .marko

[2019-09-27 12:18] EduardoFLima commented on #8475
That worked for me too. Thanks !

[2019-09-27 15:34] kumar303 commented on #7889
Ugh, yarn makes this so hard: https://github.com/yarnpkg/yarn/issues/4986

[2019-09-27 15:46] idleherb commented on #890
This approach works as of Sep 27, 2019: https://stackoverflow.com/a/54034379/1344144

[code]

[2019-09-27 17:12] yxliang01 opened #8985 "concurrent test execution support for test.each"
## 🚀 Feature Proposal

It's natural to support something like `test.each.concurrent` that the test function invoked with different items is executed concurrently.
Such test function should be written with concurrency in mind.

## Motivation

Same as the motivation for `test.concurrent`

## Example

[code]

## Pitch

Why does this feature belong in the [Jest core platform](https://www.youtube.com/w

[2019-09-27 19:43] ladisays commented on #8486
@NikosCha have you been able to resolve this issue? If so, care to share how? I'm also running into the same issue

[2019-09-27 20:50] maneetgoyal commented on #7868
@SethDavenport's fix (https://github.com/facebook/jest/issues/7868#issuecomment-463630822) worked for me. Using:
[code]

[2019-09-27 21:52] kumar303 commented on #4156
Heh. No, I don't have access. This was the rationale for closing: https://github.com/facebook/jest/issues/4156#issuecomment-324638718 I agree that it's an essential feature. I am surprised how core jest devs can live without it but maybe they don't write code with bugs so they don't need logs.

[2019-09-27 22:03] Alexsey opened #8986 "PrettyFormatPluginError: object is not a function"
## 🐛 Bug Report

The code below makes Jest crash internally with `PrettyFormatPluginError: object is not a function` error

## To Reproduce

Steps to reproduce the behavior:
1. Create `./src/index.js` with code
[code]
2. Create `./test/index.test.js` with code
[code]
3. Run Jest
[code]
## Link to repl or repo (highly encouraged)

https://github.com/Alexsey/jest-bug-rec

## Expected behavior

There

[2019-09-27 23:16] rogeliog commented on #8986
Hi! Thanks for reporting, I can reproduce it.

Is it intended to be an infinitely recursive proxy? Well, regardless of that I think we should better handle this case in the Jest side. There is a check for that was expecting a string but is receiving an object, which is causing some issues.

After making some changes, I guess this should be the correct error, right?

![Screen Shot 2019-09-27 at 4 1

[2019-09-28 06:28] Alexsey commented on #8986
Of course, initial code was not intended to be an infinity loop :) But with your fix, it shows exactly the error message it should be

[2019-09-28 16:41] BispensGipsGebis commented on #7868
@maneetgoyal Could you please share your package.json? I've made the changes, but I still get the error.

Thanks in advance!

[2019-09-29 03:13] MrZhongFF commented on #7184
take puppeteer for example:
https://jestjs.io/docs/en/puppeteer.html
[code]

[2019-09-29 04:48] rohitkrishna094 commented on #7287
Is there any other way to debug? `--detectOpenHandles` is not showing any output. Thanks

[2019-09-29 06:17] dotRollen commented on #6664
Google brought me here and I wanted to document the best solution I could put together. @thymikee was right, you can separate your test environments for `node` and `jsdom` very easily using one jest.config file.

As noted here [projects config](https://jestjs.io/docs/en/configuration#projects-array-string-projectconfig) you create a project with a target directory to match for tests. From there a

[2019-09-29 07:54] joway commented on #936
I changed export like what @arbielsk  do, it works! But I dont know what's the difference between two kinds of export...

[2019-09-29 07:57] kapral18 opened #8987 "Invalid hook call after `jest.resetModules` for dynamic `require`s"
## 🐛 Bug Report
Invalid hook call when using `jest.resetModules` or `jest.resetModuleRegistry`
with dynamic `require` in test

## To Reproduce

Steps to reproduce the behavior:
![steps](https://raw.githubusercontent.com/kapral18/reset-modules-issue-demo/master/demo.gif)

## Expected behavior
No invalid hook call

## Link to repl or repo (highly encouraged)
[demo repo](https://github.com/kapral18/r

[2019-09-29 12:12] XW-Yanis commented on #6933
Hi all, I was struggling to do unit testing with my small project which is called JetSet and wrote in React Native. I searched for 2 days to solve this issue, and I tried to edit things like babel.config.js, delete that file and then create .babel file (and add some shits). Here are my shits.
-----------------------------------------------------------
**_Bug report:_**
D:\jetset\JetSetApp>jest Sav

[2019-09-29 13:04] bjm88 commented on #6933
FYI I think we ended up finding a really silly solution to this, like the entire build system wasn't behaving well if NODE_ENV="test" wasm't set.

[2019-09-29 14:06] DanielRuf opened #8988 "moduleNameResolver should use pkg.main"
## 🐛 Bug Report

Currently when we import `typeface-roboto` Jest does not check the `main` field in package.json and fails to resolve the import. Manually pointing it to the css file by importing `typeface-robot/index.css` seems to work but is not ideal, especially when modules change the filename or location but keep that in sync in the `main` field.

## To Reproduce

Steps to reproduce the behav

[2019-09-29 18:44] nogenem commented on #7383
+1 to this... I'm having the same problem while developing using Docker for Windows...
For `nodemon` you can use this: `nodemon -L` and for `React` you can use this: `CHOKIDAR_USEPOLLING=true react-scripts start`, but there's no alternative for jest ;__;

I'm just going to leave another workaround alternative here too: https://github.com/merofeev/docker-windows-volume-watcher

[2019-09-29 21:20] MohamedElidrissi commented on #2927
This bug is still there as of today, doesn't look like its getting fixed.

[2019-09-30 05:28] stevelacey commented on #328
For anyone who's too lazy to create a `browserMocks.js` file, you can set `core-js` directly in your `package.json`:

[code]

[2019-09-30 06:50] fl-terui opened #8989 "TypeError: Cannot read property 'propTypes' of undefined"
Thanks for great library.
When I try to run snapshot test run on some component, I get error like below.
I tried on RN59 and RN60 and problem does not resolve and I have no clue now...
Please suggest me some hint or clue to overcome this problem. Thanks in advance.

-------
`errorlog`
[code]
--------
`jest.config.js`
[code]
`babel.config.js`
[code]

[2019-09-30 08:40] Swatinem commented on #8984
Just tried `jest-circus`, and it also leaks per-testfile. I haven’t looked at the memory profile itself to see where/why all the memory is retained, so it could as well be for some other reason.
All-in-all, the memory usage with `jest-circus` is even worse. Whereas our memory usage peaks at ~880M with `--runInBand` and the default runner, `jest-circus` peaks at >1200M before it goes OOM.

[2019-09-30 10:41] uxitten commented on #3126
@ghengeveld This is work for me, Thank you

[2019-09-30 14:08] LukasBombach opened #8991 "Everything in the coverage at 100%, funcs at 83% though"
## 🐛 Bug Report

Can somebody clarify **if** this is a bug?. This basically is my coverage report

    -------------------|----------|----------|----------|----------|-------------------|
    File               |  % Stmts | % Branch |  % Funcs |  % Lines | Uncovered Line #s |
    -------------------|----------|----------|----------|----------|-------------------|
    All files          |      100

[2019-09-30 14:28] jeysal commented on #8991
I cannot run your tests. (`Unsupported platform "linux".`)
Please make a minimal repro (just the coverage problem without things like native code).
Also I suspect if it is a bug it might not be Jest but `istanbul` or something, but we'll see.

[2019-09-30 15:10] bdwain commented on #2702
Is this the code that needs to be changed to support this? https://github.com/facebook/jest/blob/master/packages/jest-resolve/src/defaultResolver.ts#L131

[2019-09-30 16:01] smazzoleni commented on #5038
Solved in `jest.config.js` by
[code]
The problem for me was due to files created by reporters, which trigger a new test run everytime the previous run created the report file.
Another solution was to ignore report files with `watchPathIgnorePatterns`

[2019-09-30 16:33] eric-burel commented on #3698
Hi @hustcc could you please give us a bit more detail about your implementation? At first sight it seems that you create a minimal Electron app, and then run tests inside it, am I right?

[2019-09-30 17:15] rogeliog commented on #6616
👋 I've been working on a proposal of how we could update jest-worker to support posting messages to parent and building on top of what @SimenB had. I still have a lot of questions about, but I should be able to post a proposal for this PoC sometime this week.

### Before
![before](https://user-images.githubusercontent.com/574806/65900519-049e4d80-e36b-11e9-9f2d-4ed0ec48bee1.gif)

### After
![repor

[2019-09-30 18:09] LukasBombach commented on #8991
Will do, as I am currently in between jobs and I still got another issue and possible bug open, it may take a bit, how long before you close this thing?

[2019-09-30 18:14] jensbodal commented on #5143
Currently I'm just adding the following any time I use mocks since I believe this should cover all cases whether I use spies or mocks.

[code]

[2019-09-30 18:15] jeysal commented on #8991
Just open up a new one once you're ready ;)

[2019-09-30 18:15] #8991 closed

[2019-09-30 18:29] thymikee commented on #8989
Prop types is accessed on an undefined object, which you need to mock, because it's a native module and not available in Node environment.

[2019-09-30 18:29] #8989 closed

[2019-09-30 18:50] telpochyaotl commented on #4007
I had a similar issue with jest today.... The solution: Unmount your component after each test.

[2019-10-01 08:01] Grafu opened #8992 "'--coverage --watch' should calculate coverage for all files at first iteration"
Expected and intuitive '--coverage --watch' behavior is to run all tests and coverage calculation for all files at first iteration, then running tests and coverage only for updated files or files tested by updated tests.

Current behavior is very misleading for many `--coverage` users because it calculates coverage only for changed files in GIT. Tests are being written for already commited files a

[2019-10-01 08:01] merlinnot opened #8993 "Add an option to allow module caching"
## 🚀 Feature Proposal

I'd like to propose adding a configuration option to allow caching modules between test files, so modules are imported once per worker.

## Motivation

There are a number of issues reporting issues when importing modules, such as https://github.com/facebook/jest/issues/8972, https://github.com/facebook/jest/issues/7874, https://github.com/facebook/jest/issues/6814, https://g

[2019-10-01 09:05] Strato opened #8994 "Error: Uncaught [ReferenceError: DataTransfer is not defined]"
## 🐛 Bug Report

I have an `input[type='file']` on a page and I want to be able to remove files (one at a time) from it.

Nowadays it's supported by using [a neat trick](https://stackoverflow.com/questions/47515232/how-to-set-file-input-value-when-dropping-file-on-page/47522812#47522812) through the `DataTransfer` object (normaly used for Drag'n Drop operations).

[code]

It **does** work in the b

[2019-10-01 09:58] thymikee commented on #8994
Looks like JSDOM doesn't support it: https://github.com/jsdom/jsdom/issues/1568. So you need'll to mock it

[2019-10-01 09:58] #8994 closed

[2019-10-01 11:38] SimenB commented on #6616
That's super cool! In theory we could implement the `, n total` to not wait for a test to execute since we collect all tests before running, but that's just a cherry on top

[2019-10-01 11:42] StringEpsilon commented on #8993
I like this, as a whitelist for node_modules at the very least:

[code]

That way, jest can isolate modules on default, to ensure that the tests don't influence each other. And you get control to override that isolation for problematic modules like the ones mentioned in the issues you linked.

A flat option like `--cacheNodeModules` wouldn't cut it.

[2019-10-01 13:27] thymikee commented on #8984
The circus memory issue is tracked here: https://github.com/facebook/jest/issues/8816.
cc @scotthovestadt

[2019-10-01 13:35] SimenB commented on #8993
Why not mock out those dependencies? If they open up persistent connections they are doing IO that doesn't have to happen in a unit test. I _highly_ doubt we'll ever give you an opt-out for the sandbox, even if it's per module

[2019-10-01 13:56] zamber commented on #2980
Expanding on  @lund0n 's approach, I did a simple helper for testing chained callbacks:

[code]

[2019-10-01 14:50] merlinnot commented on #8993
These libraries do local IO. For all of these services, local emulators are provided, which closely resemble production environments. It's the only way to test everything in a very thorough way.

At my company, we have a very high test coverage (99.95+), but we also write very thorough tests, which let us confidently work with master=production approach. Local emulation of all side effects allows

[2019-10-01 14:51] merlinnot commented on #8993
Here you can see emulators which Google is releasing, and they are working on more: https://cloud.google.com/sdk/gcloud/reference/beta/emulators/

[2019-10-01 15:39] afisher88 commented on #6229
I'm still having issues with this.

**TestComponent.tsx**
[code]

**TestComponent.test.tsx**
[code]

I have added a **"transformIgnorePatterns"** for **"lodash-es"**. in the `jest.config.js` Previously I was getting this error:

[code]

And now I get:

`TypeError: (0 , _lodashEs._debounce) is not a function`

**Jest Config:**
[code]

**Babel config:**

[code]

[2019-10-01 16:21] rogeliog commented on #6616
Oh that is a great point. I'll look into it, but maybe after polishing this.

[2019-10-01 17:08] maneetgoyal commented on #7865
This comment worked: https://github.com/facebook/jest/issues/7865#issuecomment-462389513 👍 Thanks

[2019-10-01 17:53] anthony-telljohann commented on #7811
Would it be possible to release a patch to version 24 while we wait for the version 25 release?

[2019-10-01 21:46] RupenAnjaria opened #8997 "Unable to import inner component during test execution, runs during execution."
## 🐛 Bug Report

Below statement works in ReactJS runtime:
`import { ActionTypes } from '../../../ReduxStoreModels';`

However test execution fails with message that `AT not found of undefined` for below block.
(basically, ActionTypes is not getting imported)

`
export const getData = () => {
  return {
    type: ActionTypes.AT.get
  }
}
`

It gets fixed if we use below import:

`import { ActionTy

[2019-10-02 02:02] chrisgalvan commented on #5064
Hey @vejandla please use `jest-standard-reporter` as a workaround
https://github.com/facebook/jest/issues/5064#issuecomment-462817327

[2019-10-02 02:04] chrisgalvan commented on #8977
https://github.com/facebook/jest/issues/5064#issuecomment-462817327
`jest-standard-reporter` uses stdout for non error messages making windows build agents happy.

[2019-10-02 08:34] borekb opened #8998 "Configurable diff algorithm for snapshots"
## 🚀 Feature Proposal

I'd be able to run Jest with more human-friendly diff algorithms like 'patience' or 'histogram', for example:

[code]

Maybe even better, I'd be able to "pipe" Jest output to a diff utility of my choice, for example:

[code]

<img width="1089" alt="Screenshot 2019-10-02 at 21 03 21" src="https://user-images.githubusercontent.com/101152/66073799-1729aa00-e558-11e9-9d54-862783

[2019-10-02 08:36] thymikee commented on #8997
A repro repository would be nice to investigate it.

[2019-10-02 10:07] SimenB commented on #8998
/cc @pedrottimark

[2019-10-02 10:54] ghasemikasra39 opened #8999 "Jest encountered an unexpected token"
[code]
[code]

![image](https://user-images.githubusercontent.com/24314029/66038814-08bf9c00-e520-11e9-8fcf-2b6d993b39ec.png)

[2019-10-02 11:17] thymikee commented on #8999
You're in a react-native project, so you need a metro babel preset:
[code]

[2019-10-02 11:17] #8999 closed

[2019-10-02 12:46] ghasemikasra39 commented on #8999
I did what you said, now getting this error:
![image](https://user-images.githubusercontent.com/24314029/66045150-f9e0e580-e52f-11e9-8415-6c87856e6d1e.png)

[2019-10-02 13:07] ghasemikasra39 commented on #6229
same issue? any solution ?

[2019-10-02 13:11] thymikee commented on #8999
It's because you're importing from Babel source code written in ESM (ES Modules, which is not a legal syntax yet). If you need this helper, you'll need to transpile it by adjusting https://jestjs.io/docs/en/tutorial-react-native#transformignorepatterns-customization. But you likely don't (use destructurnig instead of babel helper for that used internally)

[2019-10-02 13:20] FilipMucka opened #9000 "Jest - memory leak"
## 🐛 Bug Report

Hi everyone,

we have some little issue with memory leak in test runner.
This causes little problems in our Project. I found a similar bug report
[#8816](https://github.com/facebook/jest/issues/8816) but it's still open.
Thanks a lot for your advices.

 PASS  tests/cases/api/get.applications9.test.ts (106 MB heap size)
 ...
 PASS  tests/cases/api/get.applications17.test.ts (113 MB

[2019-10-02 13:32] thymikee commented on #9000
You spawn a http server without closing it down after the test finish. It's a leak in user's code, not in Jest.

[2019-10-02 13:32] #9000 closed

[2019-10-02 16:11] sternetj commented on #2582
In my case I was mocking and importing the wrong path to the module I wanted to stub. I had different casing in the file path so my editor thought it was okay but just was failing.

Was

[code]
Changed to (change casing of `File` to `file`):
[code]

Hope this helps someone else.

[2019-10-02 17:17] MarcusPope commented on #6675
This is also a problem when throwing objects in async/await that are not Error instances and expecting the `toThrow()` default with no arguments:

[code]

[2019-10-02 17:29] pedrottimark commented on #8998
@borekb It must feel frustrating if the report looks complicated when the change is slight

A long-term goal that sounds relevant to this problem is

* data-driven difference instead of serialization difference
* inline snapshots with expected value of valid ECMAScript, maybe extended with JSX

Can you paste a realistic example based on JSON that you described, without any proprietary data, of cou

[2019-10-02 19:14] borekb commented on #8998
Thanks for your comments, @pedrottimark.

I'm using snapshots for safe migration of API backends of our GraphQL server – I created snapshots of GraphQL responses before the migration and am using Jest diffs to find and fix the differences after the migration to the new API backend.

I no longer have that specific example but it was something along these lines:

_Snapshot:_

[code]

_Snapshot:_

[c

[2019-10-02 19:15] pedrottimark commented on #8998
Forgot to say another reason to compare the array items, object properties, and data types themselves is have more information to affect formatting of results without need for options

A work in progress right now is to reduce distracting differences from change to hierarchy (especially in markup) by comparing serialization of received object without indentation to snapshot unindented by heuristic

[2019-10-02 19:18] borekb commented on #8998
My colleague @JanVoracek actually had the very same idea today 😄. I was initially skeptical but he explained very nicely how it would work and that it would be a big improvement over string-based diffs. So it's quite exciting to hear that you're considering it!

[2019-10-02 19:25] pedrottimark commented on #8998
Thank you for a follow up comment which is pure gold:

* Yeah, mismatching `id` properties are like what `diff` does to braces and newlines in code
* I like your pipeline examples and will put that approach into my mental slow cooker ;)

[2019-10-02 20:06] kirill-konshin commented on #8397
In which version of Jest is it available after all?

[2019-10-03 07:50] manhhailua commented on #8475
I'm also experiencing this issue. This is my workaround:
[code]

[2019-10-03 08:44] basickarl commented on #7331
Any updates on this?

[2019-10-03 11:48] kachkaev commented on #8207
@RuneKR could you please share your solution? We also struggle with jest in a monorepo project 😞

[2019-10-03 14:53] hustcc commented on #3698
@eric-burel It is a costom jest runner, the runner will receive the test data from jest, then send them into electron renderer thread, run cases, and send test results back to jest.

[2019-10-03 17:13] cepm-nate commented on #2234
I'm using vue-moment and jest, and have found the best way is to do something like this:
[code]

[2019-10-03 20:54] yoni-abtech commented on #936
@dgrcode Did you ever find a solution to your example? As far as I can tell, what you're trying to do is not supported by mocking via Jest. Specifically, I *think* that mocking in just is basically rewiring imports so that external views of the module see the mocked methods. However, in your example, `foo` and `bar` are in the same module and so `foo`'s view of `bar` can't be mocked out.

I believ

[2019-10-03 21:29] dschinkel opened #9004 "Invariant Violation: Native module cannot be null. When Not Testing React Native Behavior"
I've searched the web and stack but can't find anything around this scenario.

In my React Native project I'm running integration tests (which I do shallow render) which are obviously tied to React Native.

But I also have some lower-level unit tests that are pure JS vanilla behavior that have nothing to do with React Native but live inside my react native project.  They're more front-end behavior

[2019-10-03 22:23] pedrottimark commented on #8947
@leoselig Thank you for the link to the replication! Sorry for the delay to reply.

There are two problems:

1. The `getObjectSubset` helper function, which omits irrelevant properties from received objects, copies relevant properties into a literal object. When the expected subset is a subclass or typed array, that causes an incorrect type difference.

    * if a received object does match the ex

[2019-10-03 22:23] th317erd commented on #6068
I had this issue because another module was installing `ansi-styles` that was an older version at the root of the projects `node_modules`. To fix ran the following command and everything started working again for me:
`npm i --save-dev chalk@2.4.2 ansi-styles@3.2.1`

[2019-10-04 02:09] dschinkel commented on #4455
there has got to be a way to do this without using stupid jest mocks?

[2019-10-04 02:22] dschinkel commented on #4455
Just set Platform.OS in your tests, I did not need a mock, and I like to stay away from mocking frameworks personally.

[2019-10-04 04:31] naddison36 opened #9006 "Cryptographic operations are 150 times slower in Jest compared to node"
## 🐛 Bug Report

When I run a JS function that does cryptographic operations on node.js is takes around 400 milliseconds. When I run the exact same JS code in a Jest test, it takes a minute.

## To Reproduce

[code]

Then create a js file with the following code. eg `commitPerfTest.js`
[code]

Run the code. On my MacBook Pro this takes around 400ms
[code]

Now run the above code in a Jest test. eg

[2019-10-04 07:20] thymikee commented on #9004
Use `projects` to have different configuration for different tests: https://jestjs.io/docs/en/configuration#projects-array-string-projectconfig

[2019-10-04 07:20] #9004 closed

[2019-10-04 07:21] SimenB commented on #9006
This is a duplicate of #5163. Adding

[code]
to `package.json` results in this:
![image](https://user-images.githubusercontent.com/1404810/66188721-56571880-e688-11e9-9d83-cdc471369c36.png)

[2019-10-04 07:21] #9006 closed

[2019-10-04 09:08] sbland commented on #6933
In the newer versions of React Jest is built in therefore in package.json the test script should be
`"test": "react-scripts test"`
instead of
`"test": "jest"`

[2019-10-04 09:17] tonyhallett commented on #6731
[runJest.ts](https://github.com/facebook/jest/blob/master/e2e/runJest.ts) used by tests in [this folder](https://github.com/facebook/jest/blob/master/e2e/__tests__)

[2019-10-04 11:05] naddison36 commented on #9006
Wow, that simple config change has the test running in 600 ms now on my laptop. That's a 100x improvement! Thanks @SimenB

[2019-10-04 11:14] pingvinen commented on #7220
I use jest for API tests, where I do actual calls to a running API etc (sometimes simulating entire flows). In that case it would also be helpful to define a custom threshold.

[2019-10-04 11:20] bennyn commented on #7287
Same here. I get no output from `--detectOpenHandles`.

[code]

My **jest.config.js**:

[code]

My test case:

[code]

[2019-10-04 11:54] leoselig commented on #8947
Thanks for the in-depth explanation @pedrottimark! And no worries about the delay. :)

[2019-10-04 12:29] Tokimon opened #9007 "Running CLI command with "-U" results in a message containing `Did you mean "$0"`"
## 🐛 Bug Report

Got this message when running CLI command with a bad parameter:

[code]

I seems to me that the message (`"$0"`) is wrong (looks like a misinterpreted regular expression replacement).

## To Reproduce

Launch jest cli command with `-U` instead of `-u`

## Expected behavior

I think the message is supposed to say:
`Unrecognized option "U". Did you mean "u"?`

## Link to repl or rep

[2019-10-04 12:57] thymikee commented on #9007
PR with a fix appreciated!

[2019-10-04 17:37] geolunalg commented on #5823
I like the idea of both test.depends and test.essential. Having them both provides more flexibility and allows to truly test behavior, not just unit of code.

[2019-10-04 17:41] rbrishabh commented on #9007
Hey! Can I take this up?

[2019-10-04 17:45] ababakanian commented on #1914
I am not doing something right here because this is not working for me.

I am using create react app with craco, and craco-cesium to load cesium into my project. I am trying to setup jest to start creating tests but the issue is Cesium is using requireJS.

I added the following to my `package.json`

      // package.json

      ...
      "jest": {
        "collectCoverageFrom": [
          "src/**

[2019-10-04 17:51] dschinkel commented on #9004
cool I'll check that out thx

[2019-10-04 20:42] Pyrolistical opened #9008 "Subsequent uncaught error hides original causing error"
## 🐛 Bug Report

When an error is thrown in a test, it is hidden by a subsequent async error. Ideally Jest would print both and as either of them could be root cause.

## To Reproduce

Steps to reproduce the behavior:
`repo.spec.js`
[code]
### Output
[code]

## Expected behavior
The `original error` is printed in a console.log AND is outputed as the error failing the test.
The `some uncaught error

[2019-10-04 21:33] Alexsey commented on #8986
@rogeliog it looks like you already have a solution. Are you going to introduce it to the codebase?

[2019-10-05 02:58] InExtremaRes commented on #7713
@SimenB I'am also curious about how to do that. As have been told there is very difficult to find documentation. Is there a place where we can learn (documentation, and example, or anything)?

[2019-10-05 10:33] ochemli commented on #2418
How do you check-coverage after generating a merged report?

[2019-10-05 12:59] moonformeli opened #9009 ".mock doesn't exist"
## 💬 Questions and Help

Hi, I'm new to `Jest`. I was following the code from [es6-class-mocks](https://jestjs.io/docs/en/es6-class-mocks).
And there's something that doesn't work in my code.

[code]

[code]

I'm using jest with `TypeScript`. And these below are the related codes about my question.

[code]

[code]

So, `Sport.mockClear()` gives me an error, `Property 'mockClear' does not exist on

[2019-10-05 17:15] Ericnr commented on #5164
using Jest 24.9 and had to `require('ts-node/register)` to get it working too. I don't understand how this is available in Jest 24

[2019-10-05 19:38] thymikee commented on #9007
@rbrishabh go for it!

[2019-10-05 20:00] unional opened #9010 "Feature: display watch filter/configuration when test is running"
## 🚀 Feature Proposal

Display watch mode config when tests are running.

## Motivation

When you have a lot of tests, the test run will take a while.
You can lost track of what kind of tests you are running.

It would be great if we can see the current watch config: test/file filter, as well as other plugin configs, while the tests are running.

## Example

Currently, only test/file filter can be

[2019-10-05 20:13] minaairsupport opened #9011 "Cannot spyOn on a primitive value; undefined given"
## 🐛 Bug Report

I cant spy on  any of my components

[code]
Or

[code]
both are not working
wrapper.instance() show error => **Cannot read property 'instance' of undefined**
Component.prototype   show error =>    **Cannot spyOn on a primitive value; undefined given**

## To Reproduce

I have a sample provided to test

## Expected behavior

I could spy on component

## Link to repl or repo (highly

[2019-10-05 20:21] thymikee commented on #9009
This is a TypeScript error. One thing you could do is to cast the type to `jest.Mock`. Please ask on TS forums about it though.

[2019-10-05 20:21] #9009 closed

[2019-10-05 20:24] thymikee commented on #9010
This may get cluttered really quickly. However I'm open to discuss how to fit the most important information on as little visual space as possible.
cc @SimenB @rogeliog

[2019-10-05 20:31] thymikee commented on #9011
`wrapper` or `wrapper.instance()` is undefined for some reason (I don't use Enzyme) and that's why it fails. `jest.spyOn` seems to report correctly what's wrong. You need to fix your tests first.

[2019-10-05 20:31] #9011 closed

[2019-10-05 20:40] minaairsupport commented on #9011
I got this error when using `jest.spyOn ` is this mean anything
Cannot spyOn on a primitive value; undefined given

[2019-10-05 20:41] capaj opened #9012 "let --maxWorkers accept a percent as value"
## 🚀 Feature Proposal

Let `--maxWorkers` accept a percent as value. If the remaining value is so small that it only matches less than 1 CPU, always make sure we leave at least 1 core free.

## Motivation

We run Jest to test stuff that calls a lot of DB calls. When we keep the default and do not set `--maxWorkers` we often run into issues where test timeout. This happens because OS is very bad at

[2019-10-05 20:43] unional commented on #9010
Cluttering is a concern.

However in most cases, the number of plugins user install is limited, so I think it should be manageable.

[2019-10-05 20:43] thymikee commented on #9011
I tried your repro and `wrapper` is undefined. Maybe at some point it's defined, but `instance()` returns undefined (because e.g. it's a non-class component without instance). And the message is pretty much descriptive. I don't see what else we can do. Fix your code first :)

[2019-10-05 20:45] thymikee commented on #9012
It's already implemented and available in v24.9.0: https://github.com/facebook/jest/commit/b644d8569ccbaba8dcab8a22013e421dcd06bf7e

[2019-10-05 20:45] #9012 closed

[2019-10-05 20:46] capaj commented on #9012
thanks @thymikee, lovely.

[2019-10-05 22:22] rogeliog commented on #9010
How about making this a custom third party reporter that inherits from DefaultReporter?

[2019-10-05 22:29] PhilipDavis commented on #7184
@SimenB would it be feasible to not use worker processes, given some flag?

[2019-10-05 22:46] tonythetiger323 commented on #9007
@rbrishabh did you have a chance to look into it? If not I wouldn't mind taking a look at it.

[2019-10-05 23:00] unional commented on #9010
This is about displaying the watch config while the tests are running thou.

[2019-10-06 00:52] rbrishabh commented on #9007
Hey @Tonythetiger323, yes I'm looking into this. Will create a PR soon.

[2019-10-06 02:19] thislooksfun opened #9013 "Using Chai expect.deep.eql hangs if a getter throws"
## 🐛 Bug Report

Using Chai.js's `.deep.eql` makes the test hang indefinitely when checking against an object with a getter that throws an exception.

## To Reproduce

Steps to reproduce the behavior:
1. Run Jest on the following file
[code]

## Expected behavior

The test should fail.

## Link to repl or repo (highly encouraged)

The above file is a self-contained example.

## envinfo

[code]

##

[2019-10-06 05:42] dandv opened #9014 "test.only should be scoped to its describe"
## 🐛 Bug Report

In a `describe`, I have a bunch of tests that should be executed only when a certain condition is fulfilled. One [official solution](https://github.com/facebook/jest/issues/7245#issuecomment-440774078) is to use `test.only`.

The problem is that if the condition is truthy, no other test *in the entire test file*, that is, in *different* `describe`s, gets executed. Instead, I see `

[2019-10-06 05:55] dandv commented on #7245
@SimenB: I've tried the `it.only` structure you [suggested](https://github.com/facebook/jest/issues/7245#issuecomment-504927252) for synchronous test skipping but it's failing the non-auth tests outside the `describe` as well:

![image](https://user-images.githubusercontent.com/33569/66264955-c3c39000-e7d3-11e9-99c4-feb6f6483641.png)

https://repl.it/repls/SillyPastDictionary

Filed #9014.

[2019-10-06 06:03] guitorioadar commented on #8114
**[jeysal](https://github.com/jeysal)**
where can i add this : `modulePathIgnorePatterns: ['<rootDir>/build']`

[2019-10-06 09:26] psytechno604 opened #9015 ""yarn test" in master branch fails on new installation"
## 🐛 Bug Report

I just wanted to contribute. Followed the guide, and got:

[code]
To make sure that it is not my fault, I repeated the same with other system, and got:
[code]
So, as we can see, errors occur in different files, but in both cases they are linked to eslint. Maybe need to use specific version? Again - I did not made any changes in both cases, strictly following the given scenario.

#

[2019-10-06 12:25] thymikee commented on #9014
This is certainly not a bug, but rather a feature request. We can discuss if it makes sense to scope `test.only` to a describe. IMHO we shouldn't, because it exists to _focus_ on a single test case. Or a whole describe with `describe.only`.

[2019-10-06 12:39] thymikee commented on #9015
I can reproduce this error on warm and cold eslint cache:
[code]
Not sure why it differs from the CI.

I'm curious though, how you manage to run yarn 1.19, when we explicitly set `yarn-path` to v1.17 bundled locally in .yarnrc file?

[2019-10-06 12:59] psytechno604 commented on #9015
I thought that yarn version was the reason, so I upgraded it. Nevertheless, with 1.17 everything is the same on both systems. Just now reverted back to 1.17 and tested again.

[2019-10-06 16:26] OshriBa commented on #2418
@ochemli

 https://stackoverflow.com/questions/46709413/how-to-convert-existing-istanbul-json-file-to-html

[2019-10-06 16:51] dandv commented on #9014
@thymikee If I'm reading @SimenB's [example](https://github.com/facebook/jest/issues/7245#issuecomment-504927252) correctly, the "all non-auth tests" are intended to execute whether the `USER` and `PASSWORD` are set or not. However, that's [not the case](https://github.com/facebook/jest/issues/7245#issuecomment-538714735).

[2019-10-06 16:54] thymikee commented on #9014
I'm pretty sure he meant separate files instead of multiple describes. It's just an example code, don't expect it to be valid.

[2019-10-06 20:27] rivy commented on #2418
One of the issues I've run into (solved through some unknown means by CodeCov) when trying to combine runs from different machines is differing path prefixes (especially *nix vs Windows machines).

I don't know of a simple way to combine the outputs under that differing path prefix circumstance. And without that merge, the coverage metric will continually flip-flip between wildly incorrect values.

[2019-10-07 00:25] moonformeli opened #9016 "How to mock super class in Jest"
## 💬 Questions and Help

### Please note that this issue tracker is not a help forum and this issue will be closed.

I've been searching for a guide or a tutorial for `how to mock super class with jest`.

[code]

This guide is what the doc gives me. _Foo_ doesn't `extends` _Bar_, it just has assgiend _new Bar()_ to its member property.

But I want to test _Foo_ which extends _Bar_ like this

[code

[2019-10-07 04:27] smakazmi commented on #5962
should probably test with `expect(initRealm).toThrow();`

[2019-10-07 06:41] thymikee commented on #9016
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](https://jestjs.io/en/help). Thank you :)

[2019-10-07 06:41] #9016 closed

[2019-10-07 08:27] viT-1 commented on #6378
[DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself) =(

[2019-10-07 09:51] ochemli commented on #2418
Thanks @OshriBa, @rivy. I was asking about enforcing coverage thresholds on a merged report. I was able to get merged coverage from jest + mocha + newman tests with the help of this thread. However, running **nyc check-coverage** on the merged report failed with
`Error: Invalid file coverage object, missing keys`
Turns out nyc will checks all coverage*.json file, including coverage-summary.json.
I

[2019-10-07 16:02] mojoaxel commented on #8856
@SimenB This is no longer the case since the update to babel@7 :disappointed:

[2019-10-07 19:09] dhuang612 commented on #7748
Hi,

Is this available to work on?

[2019-10-07 20:54] eranimo opened #9018 "--silent shows console groups"
## 🐛 Bug Report

If you run jest with the `--silent` flag, console groups are printed.

## To Reproduce

Steps to reproduce the behavior:

1. Make a test with `console.group` or `console.groupCollapsed`
2. Run Jest with `--silent`
3. Observe console groups outputted (bad), but no console logs (good)

## Expected behavior

No console output of any kind should be outputted.

## envinfo

Running with

[2019-10-07 21:14] unional opened #9020 "`--passWithNoTests` does not work in watch mode"
## 🐛 Bug Report

Currently, when run in watch mode, I got the "contain no test" error for empty spec files.

Adding `--passWithNoTests` in the cli has no effect.

## To Reproduce

Steps to reproduce the behavior:

Create empty spec file.
run watch mode,
see the failure.
Run watch mode with `--passWithNoTests`
still receive the failure.

## Expected behavior

no failure with the cli option.

## env

[2019-10-08 04:46] CameronAckermanSEL opened #9021 "jest-haste-map: TypeError: dupMap.get is not a function"
## 🐛 Bug Report

Running a jest test results in a test build failure:
[code]
When console logging `dupMap` at the source location, `dupMap` is undefined. I don't see a control flow where this is possible because when dupMap is declared, it is set to EMPTY_MAP if it's value would be undefined.

The error is also bound to a material-ui style object, which doesn't make much sense.

## To Reproduce

S

[2019-10-08 06:45] thymikee commented on #9018
Looks like these are not added to [NullConsole](https://github.com/facebook/jest/blob/master/packages/jest-console/src/NullConsole.ts), would you like to fix it? :) (and make sure all methods from CustomConsole are there)

[2019-10-08 06:56] CameronAckermanSEL commented on #9021
Hi! I managed to figure it out by reading over your lovely example project :)

I was missing these properties:

[code]

Thanks!!

[2019-10-08 07:06] thymikee commented on #9020
A repro for debugging would be nice to provide :) Also, maybe you'd like to give it a shot and fix it?

[2019-10-08 07:16] thymikee commented on #8474
Hey! I don't think adding a new config option is a good solution to that. You can run your tests without coverage using `--no-coverage` flag.

Supporting coverageThreshold through CLI is definitely an option.

I think it would make sense to pass the test with coverage if there's no coverage data found. We still need to keep the message though. cc @jeysal @SimenB

[2019-10-08 08:12] pahund opened #9022 "Jest does not support private class fields"
#8497  🐛 Bug Report

When using Jest with a class that has private fields (introduced in Node.js 12), the tests fail with a syntax error – “unexpected character '#'”

## To Reproduce

**Prerequisites**

* Node.js version at least 12.0.0 is installed
* Yarn is installed

**Steps to reproduce the behavior**

Clone this repository: https://github.com/technology-ebay-de/zapperment

[code]

Checkout br

[2019-10-08 09:50] Ogek commented on #8660
@anjing0524 if you are using `.babelrc`, move to `babel.config.js.
You can find an in-depth information  [here](https://babeljs.io/docs/en/config-files/)
I hope I was helpful !

[2019-10-08 10:39] Andarist commented on #6155
This has caught me off guard as well, I've prepared a simple repro showcasing the problem:
https://github.com/Andarist/jest-projects-cwd-repro/blob/master/package.json#L12
This is basically the same thing which @unional describes.

I would expect projects to run independently of each other - each instance/project should be independent and run exactly~ the same way as it would when jest would be ru

[2019-10-08 12:48] xevrem commented on #3465
I used this to mock lodash's debounce, it works for most of my use cases:
place the following in `__mocks__/lodash/debounce/index.js` in your root project directory
[code]

then just use it with jest's timer mocking and your tests should behave correctly. as always, extend as appropriate :)

[2019-10-08 14:17] Hardik500 commented on #9007
I would like to work on this issue.

[2019-10-08 15:08] jebentier commented on #8474
The `--no-coverage` flag isn't an option for my use case because what I'm looking to do is be able to run a subset of my test suite, with coverage and the `coverageThresholds` set in the main configuration of the test framework, so that I can see if for my subset of tests in the suite, I am going to be decreasing or breaking coverage.

I think this use case is completely valid in that locally you

[2019-10-08 16:42] pahund commented on #9022
I've found a workaround for this.

In my Jest config, I'm disabling Babel transpilation completely using [transformIgnorePatterns](transformIgnorePatterns):

[code]

[2019-10-08 18:25] WojtekF opened #9025 "jest.mock slows down tests a lot"
## 🐛 Bug Report

mocking module import slows down tests execution a lot.

## To Reproduce

I've produced minimal public repo as I've spotted the issue at my work and I can't share the code here. Simply create a class which imports to another classes, creates its instances and uses them. The simpler, the better. Then write tests for a given class with mocking class constructor. test execution takes

[2019-10-08 18:41] sormy commented on #8711
As a workaround empty module could be imported from library before any exports. It will be noop when build system will import it but on jest level this module could be overriden using `moduleNameMapper`. This will cause some setup/polyfill logic to be executed during `jest.mock()` even without `setupFilesAfterEnv`.

my-lib/index.js:

[code]

my-lib/react-jest.js:

[code]

my-app/app.test.js:

[cod

[2019-10-08 19:11] jdpearce opened #9026 "Merge preset globals with jest.config.js globals"
## 🚀 Feature Proposal

Merge the `globals` property from any preset into the project configuration rather than overwriting it.

## Motivation

Some third party libraries (e.g. `ts-jest`) use the `globals` property to provide configuration. It would be useful to be able to provide shared configuration and only override certain fields within the globals.

## Example

The preset could look something

[2019-10-08 19:42] thymikee commented on #9025
Why would you expect test to run faster with a mock of super simple function/class? Mocking is not free, unfortunately.

[2019-10-08 22:40] ispyinternet opened #9028 "Issue when using validator.js"
## 🐛 Bug Report

## To Reproduce

Jest breaks when [validator.js](https://github.com/validatorjs/validator.js) is a project dependency.

## Expected behavior

## Link to repl or repo (highly encouraged)

https://github.com/ispyinternet/jest-bug-report

## envinfo

  System:
    OS: Linux 4.14 Amazon Linux 2
    CPU: (2) x64 Intel(R) Xeon(R) CPU E5-2676 v3 @ 2.40GHz
  Binaries:
    Node: 8.16.0 - /

[2019-10-08 23:11] ispyinternet commented on #9028
Actually, I had a typo in my jest.config.js, if you correctly identify sequelize in the transformIgnorePatterns it's ok!

[2019-10-08 23:11] #9028 closed

[2019-10-09 01:22] ayliao commented on #8279
I think this may be a TypeScript limitation rather than a Jest issue. According to [this changelog](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#extending-built-ins-like-error-array-and-map-may-no-longer-work), extending built-ins in TypeScript comes with its caveats.

As a workaround, you can do what they suggest in the changelog and explicitly set the prototype of your custom er

[2019-10-09 03:51] vivekbwaj opened #9029 "Is there a plan to incorporate puppeteer-firefox in jest-environment-node ?"
https://www.npmjs.com/package/puppeteer-firefox

[2019-10-09 07:28] SimenB commented on #9029
no, and please follow the template in the future. a better place to ask
is probably https://github.com/smooth-code/jest-puppeteer

[2019-10-09 07:28] #9029 closed

[2019-10-09 07:54] oso-raspberry commented on #8279
Thanks,

This is indeed a TS limitation as you found out. This issue can be closed.

[2019-10-09 07:56] romuleald commented on #8384
Interesting, did it fail every time or randomly?

[2019-10-09 07:56] GillesDebunne commented on #8279
Thanks,

This is indeed a TS limitation as you found out. This issue can be closed.

[2019-10-09 07:59] #8279 closed

[2019-10-09 08:06] alessandrolacorte commented on #8983
I am also experiencing the exact same problem. No solution yet.

[2019-10-09 09:00] viT-1 commented on #4126
Why not to use ESM like Gulp (gulpfile.esm.js)?

[2019-10-09 09:15] lackovic commented on #6402
To me this makes perfect sense if we also make `beforeEach` execute only once before each block in its root scope - not before each `test` function contained in every sub-block. e.g.:
[code]
will print:
[code]
which looks completely correct to me.

[2019-10-09 11:10] sergiop opened #9031 "React func components: uncovered line with ES6 default value, instead of defaultProps."
Hi I'm using Jest with React Testing Library and this is my simple `<Card />` component.

[code]

And this is the Jest test:

[code]

Jest's Coverage report say that line 11 (`noBorder = false,`) is uncovered, but if I use

[code]
Jest get me the result  100% of covered lines

Does someone can please explain me why?

[code]

[2019-10-09 15:29] tblaisot opened #9032 "No test found on windows when parent folder contain curly brace"
## 🐛 Bug Report

On my VDI machine the user folder is a volume and so it is a path like `C:/SnapVolumesTemp/MountPoints/\{000000-0000-0000-0000-100000000000\}/SVROOT/Users/MyUser/`
When runing jest test in a project located in the User folder **it failed founding no tests**.

## To Reproduce

- On a windows system.
- Create a folder containing `{}` chars.
- Checkout any project containing jest tes

[2019-10-09 15:31] tblaisot commented on #9032
Thoses bug (closed) relate the same issue
https://github.com/facebook/jest/issues/5172
https://github.com/facebook/jest/issues/4838

[2019-10-09 18:26] tihuan commented on #7811
Hi @SimenB !

Thanks for the patch for 24.9!

I'm trying to use `patch-package` to patch our project in the meantime and have updated `node_modules/@jest/transform/build/ScriptTransformer.js` with the diff.

However, when I run `yarn patch-package jest`, it says there's no diff (possibly because technically the path is to `node_modules/@jest` instead of `node_modules/jest`. But if I run `yarn patc

[2019-10-09 18:35] igorovic opened #9033 "setInterval(...).unref is not a function when testing @google-cloud/firestore"
## 🐛 Bug Report
When I use Jest to test data retieval from google-cloud firestore I get the error :

at new unref (../../node_modules/.pnpm/registry.npmjs.org/@grpc/grpc-js/0.6.6/node_modules/@grpc/grpc-js/build/src/subchannel-pool.js:55:36)
      at Object.<anonymous> (../../node_modules/.pnpm/registry.npmjs.org/@grpc/grpc-js/0.6.6/node_modules/@grpc/grpc-js/build/src/subchannel-pool.js:99:30)

[2019-10-10 05:53] celerytea opened #9036 "toMatchObject fails if multiple keys in the expected object map to the same instance"
## 💥 Regression Report

This test
[code]
was working in 24.7.1 and stopped working in 24.9.0.

The bug seems to be in the implementation of #8687.
I think the entry in `seenReferences` has to be evicted when the function that sets it return.

[2019-10-10 06:57] alesmenzel opened #9037 "Allow globalSetup to pass variables to test suite and globalTeardown"
## 🚀 Feature Proposal

Currently, there is no way (not that I know of) to pass any variable from the globalSetup in order to be able to either use it in the tests or to clear it in the globalTeardown.

## Motivation

Imagine the following test case:
I am writing acceptance tests for a logger, that can send the logs to a web server through HTTP. In the test suite, I would like to create a simple HT

[2019-10-10 07:11] thymikee commented on #9037
We won't add this, because globalSetup/Teardown and tests are running in different environments (tests are sandboxed). You'll need to create a custom test environment to inject variables that are e.g. read from the file system: https://jestjs.io/docs/en/configuration#testenvironment-string. See how https://github.com/smooth-code/jest-puppeteer does it

[2019-10-10 07:11] #9037 closed

[2019-10-10 07:13] thymikee commented on #9037
However, we could discuss the global teardown part, as they run in the same context. What do you think @SimenB?

[2019-10-10 07:21] SimenB commented on #9033
`unref` is a node timer thing, so make sure to run your tests using `jets-environment-node` and not the default jsdom env

[2019-10-10 07:21] #9033 closed

[2019-10-10 07:53] SimenB commented on #9037
Workaround for now is just to assign to a global in setup.

I still think some limited (e.g. json serialized) injection from setup into tests make sense (although that won't cover what OP wants), and we could inject that into teardown as well (_not_ serialized in that case).

[2019-10-10 10:40] carolstran opened #9039 "More inclusive language in the docs"
:wave: Sorry I know I'm ignoring all of your well-thought out templates, but I wasn't sure where this would land! Here me out...

I noticed that there are many instances of the word "simply" in your documentation. Unfortunately, words like this can make people feel frustrated and isolated while reading (myself included, hence the issue) - especially if they are facing issues.

If it's alright with

[2019-10-10 10:45] thymikee commented on #9039
We'd be so happy to merge PRs fixing these! 😊

[2019-10-10 11:20] carolstran commented on #9039
Yay! I'm on it 🚀

[2019-10-10 13:04] marcus-sa commented on #5356
So.... is this on the roadmap?

[2019-10-10 23:47] jpettit commented on #7823
May I suggest a working example from Elixir:

https://hexdocs.pm/ex_unit/ExUnit.Callbacks.html#module-context

[2019-10-11 06:53] #9039 closed

[2019-10-11 09:10] codepunkt commented on #6081
any news on this?

[2019-10-11 09:23] MrGaoGang opened #9041 "setupFiles do not transform by babel-jest"
## 🐛 Bug Report

## To Reproduce

when i config in `jest.config.js`, i set `setupFiles` is `["<rootDir>/test/setup"]`
such as:
[code]
but i see the `setup.js` do not transfer by `es6`, so i can't use 'import'

[2019-10-11 09:37] palmerj3 commented on #6081
Not exactly what this issue is about but we did release this https://github.com/spotify/polly-jest-presets

[2019-10-11 10:34] PederLyager opened #9042 "Who do I contact after donation?"
Hello there,

So I donated money for Jest (through open collective) and would like to be featured as a sponsor on the website https://jestjs.io/

However, I have not been contacted about the donation? Could you tell me, who I should get in touch with?

Thank you in advance

All the best,

[2019-10-11 11:58] Abhi347 opened #9043 "`findDomNode` is deprecated"
## 🐛 Bug Report
In the example [here](https://github.com/facebook/jest/blob/master/examples/react/__tests__/CheckboxWithLabel-test.js), the test uses `React.findDomNode()`, however, according to [React docs ](https://reactjs.org/docs/react-dom.html#finddomnode)`React.findDomNode()` is deprecated and usage of refs are recommended at its place. Here's what it says -

Additionally, [ESLint has a rule

[2019-10-11 12:14] thymikee commented on #9043
Yes please, would you like to fix it? :)

[2019-10-11 12:19] csuarez opened #9044 "Coverage report empty depending on the environment"
## 🐛 Bug Report

I am using Jest to run my tests, but I have found an issue when I try to get the coverage report in a CI environment.

In my local machine is working ok running `node_modules/.bin/jest --coverage --watchAll=false`:
[code]
Meanwhile, the same command in other machine (in a Jenkins environment):
[code]

## To Reproduce

Command:
[code]
Jest configuration:

[code]

## Expected behavi

[2019-10-11 12:53] ssoloff commented on #936
I had a slightly different requirement: I wanted to mock an entire module _except_ for one function.  Using @MajorBreakfast's solution as a starting point, I came up with the following:

[code]

[2019-10-11 13:26] Abhi347 commented on #9043
Sure, I'd love to :-)

[2019-10-11 18:31] aecorredor commented on #7287
For anyone running into this using `sequelize`, I had to do this:

[code]

That fixed the issue.

[2019-10-11 19:11] tihuan commented on #7811
Happy Friday everyone! Just wondering if anyone has tips on how to patch `jest` 24.9 with the fix using `patch-package` 🙏 Thank you!

[2019-10-11 21:16] haraldrudell commented on #4842
Since Node.js v12.0.0 was launched on 2019-04-23 everything changed again

I wrote the npm package **jest-esnext** back when things were broken with babel
It seems to work for Node.js 12+ unchanged, ie. "type: module" in package.json and extension .js
The strategy in jest-esnext is to do all transpiling in a dependency so that a stable babel environment is achieved. The consuming project does not

[2019-10-12 09:04] jiajia199470 opened #9046 "why npm install jest-environment-jsdom@24.9.0 dependencies jsdom always 11.5.1 ,but github jest-environment-jsdom@24.9.0 is update jsdom 15.1.1"
[code]

![image](https://user-images.githubusercontent.com/23535991/66698595-d24d0280-ed11-11e9-8a27-8fc45833637c.png)
![image](https://user-images.githubusercontent.com/23535991/66698598-d842e380-ed11-11e9-93ed-3a4af16e29f5.png)
![image](https://user-images.githubusercontent.com/23535991/66698600-dda02e00-ed11-11e9-9717-553884d202b2.png)
![image](https://user-images.githubusercontent.com/23535991

[2019-10-12 09:13] EmmanuelDemey opened #9047 "Set resetMocks to true by default"
## 🚀 Feature Proposal

As described in the thread https://twitter.com/kentcdodds/status/1182744387190607872, we should set resetMocks param to true by default.

## Motivation

In order to make our tests isolated.

## Example

thanks to this new default value, we won't have to define afterAll method in our unit tests, in order to reset something.

[code]

## Pitch

This feature is part of the core

[2019-10-12 10:16] igorovic commented on #9033
In case someone is facing the same issue using `jest --env node` is the solution.
Thank you for your advice.

[2019-10-12 10:39] JiDai commented on #8310
I had the same problem. But I find an exclude rule that not exclude the subdirectories :```    collectCoverageFrom: [
        '**/*.{js,jsx}',
        '!dist/*',
[code]

[2019-10-12 16:36] aparnapatil01 opened #9048 "`contains` unit test is not working properly"
For `stencilJS` selectComponent i:e a dropdown component, used `contains` to check whether the clicked target element belongs to component or not and if not close the dropdown list.

Here is the code
[code]

However, the jest test case always return `isOurs` false, even though I pass the clicked target element from the component itself.

`Test Case Code`

[code]

`HTML Code`

[code]

As I have two

[2019-10-13 04:58] umbur commented on #6933
Thanks a lot, that solved the issue for me!

[2019-10-13 06:34] RuneKR commented on #8207
Hi,

This is the workaround: https://github.com/RuneKR/bad-performance/tree/fix/test-coverage

It only works if you tests from at least one package for some reason. I really need to deep dive for a proper fix.

[2019-10-13 22:01] Blasz commented on #6443
I'm experiencing the same issue. I'm placing a `process.on('exit', ...)` at the top of a test suite file and it isn't being called. Any ideas how to fix?

[2019-10-14 08:40] vschoener commented on #7832
Hey guys,

After reading all of this and a few other articles online, since jest upgrade I'm no longer able to mock a class partially targetting specific method.

Do you guys have a proper way to mock a class? Create an instance right after and injecting it?

Thank you :)

[2019-10-14 08:57] borekb commented on #8998
I've updated the OP to include the idea from  https://github.com/facebook/jest/issues/8998#issuecomment-537638906, hopefully it makes sense.

[2019-10-14 13:14] RonCan opened #9050 "test.todo not working for angular projects just for Node based"
## 🐛 Bug Report
The `test.todo` function doesn't work for Angular 7.x projects. It gives the following error:

      60 |     expect(paddingLat).toBe(0.0005);
      61 |   });

         |        ^
      63 | });

## To Reproduce

Create a new angular 7.x project, write a `test.todo('Description')`

## Expected behavior

test.todo should work as expected and issue a report of todo tests

## envinfo

[2019-10-14 15:50] mikhail-katrin commented on #3869
It turned out that there is a [`none`](https://github.com/istanbuljs/istanbuljs/tree/master/packages/istanbul-reports/lib/none) reporter in istanbuljs which allows to suppress `text-summary` `stdout`.
Guess it could help.

Nevertheless what was the purpose to add `text-summary` reporter in case when array of `coverageReporters` is empty?

[2019-10-14 21:12] JLHwung opened #9051 "Incorrect error stack column positions"
## 🐛 Bug Report

The error stack thrown in a sandbox vm has incorrect position.

## To Reproduce

Steps to reproduce the behaviour:
1. Clone https://github.com/JLHwung/test-jest-callsite
2. Run `npm install`
3. Run `npm test`

## Expected behaviour
Test should pass.

## Link to repl or repo (highly encouraged)
https://github.com/JLHwung/test-jest-callsite

## Details
The reproduction code is revis

[2019-10-14 21:25] #8937 closed

[2019-10-15 01:06] kepeterson opened #9054 "Unable to mock static method on default exported ES6 classes"
## 🐛 Bug Report

Mocking static methods on default exported ES6 classes does not work.

## To Reproduce

Steps to reproduce the behavior:

Take a look at this repo and try out the three approaches. None of them work.

https://github.com/kepeterson/jest-mocking

## Expected behavior

I am able to mock a static method on an ES6 class while still being able to use instance methods and it's constructo

[2019-10-15 03:57] markypython commented on #8006
I'm having the same problem.

[2019-10-15 05:00] Chethannp commented on #6229
Same issue :(

[2019-10-15 07:43] sergiop commented on #9031
I found the source of the issue ...and it's me! :-)
To avoid to have line 11 listed as uncovered, I need to remove `noBorder: false` property in `defaults` const initialization (of course).

[2019-10-15 07:43] #9031 closed

[2019-10-15 11:55] csuarez commented on #9044
It was my fault 🤦‍♂. For the record, the tests were running in `/var/lib/jenkins/tools/` so it had been ignored in the coverage because:

[code]

I have changed to this (as documented) and now it works like a charm:
[code]

Thanks and sorry for the inconveniences.

[2019-10-15 11:55] #9044 closed

[2019-10-15 14:18] elmeister commented on #6183
@kevlened thanks for link. Any chance we will see the version, compatible with jest 24+ any time soon?

[2019-10-15 16:13] SimenB commented on #6183
#7770 was included in 24.1, so this is available now

[2019-10-15 17:25] elmeister commented on #6183
Thanks for the hint @SimenB. We were interested in launching each test file (typically single `describe` with many `it`), on a separate tab of the puppeteer’s browser, and the goal was to limit the number of concurrent/open tabs.
Ended up with shared file lock within 'jest-environment-puppeteer' setup/teardown.

[2019-10-15 19:20] romuleald commented on #8384
I found my problem.
Babel bootsrap was huge, it take more than 10 seconds on the first run.
Since this test is waiting for an Axios promise, it didn't respond in time, I pushed the setTimeout and it avoid the problem.
Now we need to understand why importing es2015 syntax import is so costly.

[2019-10-15 20:27] wldcordeiro opened #9055 "Jest mock being ignored by `fetch`"
## 🐛 Bug Report

When you mock a module like `jest.mock('./my-api-helper')` and that module calls out to `fetch` there's often times where you'll get `TypeError: Network request failed` from your `fetch` lib (in my case `whatwg-fetch`)

## To Reproduce

This is basically what I have in a project

[code]

## Expected behavior

That it uses the resolved mock  data I provide and not even remotely tou

[2019-10-15 21:23] etiennejcharles commented on #936
**That was actually my case**

My understanding of how modules could be mocked was all messed up 🤦‍♂

I moved the `foo` method in a new file, and now I could use many of the examples above thanks @yoni-abtech

[2019-10-15 21:52] wldcordeiro commented on #9041
Yeah I had to add my file to transformIgnorePatterns which felt weird to me. 🤷‍♂

[2019-10-15 22:36] kirill-konshin commented on #4842
@haraldrudell per the instruction it is not clear how to use the package, it says: create file next to package.json named jest.config.js content `module.exports = require('jest-esnext')`, but what if I already have a config? How to integrate?

[2019-10-15 23:32] nickoan opened #9056 "'document' is become null randomly in amplify."
## 🐛 Bug Report
error message:
[code]
the unit test will randomly fail because of top exception.
and it not just occurring in a specific unit test. it can be  anywhere a cross of different test case.

some of test even not using DOM object.

example:

[code]

and I'm using:
jest: `24.9.0`
also was tried change to `jest-environment-jsdom-thirteen`.
same happens.

any idea about this case?
Thanks.

[2019-10-16 06:24] herecydev commented on #9055
Is this needed if you're mocking out that functionality anyway?

[2019-10-16 06:34] kylealwyn commented on #9041
This seems like a potential regression. After bumping from 24.8.0 to 24.9.0, I began receiving the following error:
[code]
Downgrading back to 24.8.0 removes the issue. Trying to get a small reproduction together.

[2019-10-16 12:44] molszanski commented on #6683
This worked for me.
Breakpoints work and watch mode works.
`"${fileBasenameNoExtension}"` allows you test currently open file
[code]

[2019-10-16 16:00] jeysal commented on #9013
It works properly with [jest-circus](https://github.com/facebook/jest/tree/master/packages/jest-circus), which will become the default test runner implementation soon (you can opt in now, see the link for details), so not sure if it's worth fixing in the old test runner, would definitely have to dig deep.

[2019-10-16 16:22] jeysal commented on #9020
I think you're misunderstanding what `passWithNoTests` does - it refers to running Jest with *no test files*. Empty test files will always fail. This is not specific to watch mode.

[2019-10-16 16:40] jeysal commented on #9050
Sorry, this needs a proper repro. An Angular project could have lots of things in the setup that break this.

[2019-10-16 16:40] #9050 closed

[2019-10-16 17:31] azder commented on #4842
this is the file used

https://github.com/haraldrudell/ECMAScript2049/blob/master/packages/jest-esnext/config/jest.config.js

you might be able to replace the contents of `_default` with the one from your `jest.config.js`

[2019-10-16 21:44] ccemeraldeyes commented on #7136
@rickhanlonii

omg so #1 it seems like "clear" and "reset" are being used opposite to what their logical meaning is.

Also, it's very clear what he's trying to do; remove the mock implementation, and you're saying there's no way to do that orrr.....?????

[2019-10-16 21:45] ccemeraldeyes commented on #7136
This should be reopened

[2019-10-16 22:27] pavelloz commented on #2441
This bug is so annoying...

[2019-10-17 04:05] aarongoldenthal opened #9059 "Allow tests to be run from node_modules"
## 🚀 Feature Proposal

Allow Jest tests to be run from within the node_modules folder.

## Motivation

Jest provides a rich testing and reporting framework, and has proven useful as the basis for other applications providing generic test suites to be run against other projects.  In these cases the applications are installed under node_modules, so all applicable application tests files are there as

[2019-10-17 09:30] dominicfraser commented on #3254
Create React App limits the keys that can be used within the package jest config - has anyone found a way to solve this in a CRA app?

[2019-10-17 12:07] ahayes91 commented on #7811
any progress on releasing this?

[2019-10-17 12:31] tonyhallett commented on #6649
@LukasBombach

When you jest.extend  [asymmetric matchers get created for you](https://github.com/facebook/jest/blob/d74da1a0dde8f17997022f40a4adc07823d50c69/packages/expect/src/jestMatchersObject.ts#L84).  I am going to open an issue for this being mentioned in the documentation.

In case you were not aware the arrayContaining is not strict, it does not care about [order](https://github.com/faceb

[2019-10-17 13:10] #8947 closed

[2019-10-17 13:43] tonyhallett opened #9060 "expect.extend creation of asymmetric matchers not mentioned in documentation"
## 🐛 Bug Report

## To Reproduce

There is no mention in the documentation of the [behaviour](https://github.com/facebook/jest/blob/d74da1a0dde8f17997022f40a4adc07823d50c69/packages/expect/src/jestMatchersObject.ts#L84) described.

## Expected behavior

I expect it to be described so the functionality created can be used.
#6649

I am happy to update the documentation if required.

[2019-10-17 13:51] tonyhallett opened #9061 "redundant code in jest-mock"
## 🐛 Bug Report

## To Reproduce

[specificReturnValues](https://github.com/facebook/jest/blob/ecf46c23c7b282af9e48087fdd39a26a2b7ef51c/packages/jest-mock/src/index.ts#L76) is not used.

Also should specificMockImpls be available from the mock in a similar way to how mockImpl is with mock.getMockImplementation ?

[2019-10-17 14:10] karltaylor commented on #2550
If someone comes across this, when I ran `--no-cache` it was fine, after that all other test runs ran fine.

[2019-10-17 14:23] Akryum commented on #6179
Here is a runnable reproduction of the bug:

https://codesandbox.io/s/boring-wilbur-ibkmj

## Reproduction steps

1 - Un-comment `globalSetup` line in `jest.config.js`:

[code]

2 - Run the following in the terminal:

[code]

Error output:

[code]

[2019-10-17 19:39] alesmenzel opened #9062 "Maximum call stack size exceeded"
## 🐛 Bug Report

When running acceptance tests, I am **sometimes** getting a maximum call stack size error.

[code]

## To Reproduce

Sorry, but I cannot reproduce it 100%. It sometimes happens when I create a writable stream:

[code]

## Expected behavior

Does not crash on max. call stack.

## Link to repl or repo (highly encouraged)

It seems to sometimes reproduce on this repository:
https://g

[2019-10-17 21:34] jeysal commented on #9061
You're right, leftover from https://github.com/facebook/jest/pull/8398 that can be removed I think. Regarding `getMockImplementation`, I think that's undocumented and should not be used (it doesn't even consider `Once` impls for its return value)

[2019-10-17 23:35] tihuan commented on #7811
Quick update on https://github.com/facebook/jest/issues/7811#issuecomment-541189080, @ds300 said we just had to do: `yarn patch-package @jest/transform` 🎉 !

Can confirm [SimenB's patch](https://github.com/facebook/jest/issues/7811#issuecomment-527347645) works for 24.9!!

[2019-10-18 08:49] jlenglain commented on #7331
But this returns coverage for all files for every file change.

[2019-10-18 08:52] jlenglain commented on #7331
Can you outline the exact order of the commands you're typing in order to get this to work? I tried your workaround but I get the same result: unknown coverage report.

[2019-10-18 11:25] EmilyRosina commented on #7331
yeah.. but i guess that's the limitation with jest, watch and coverage :woman_shrugging:
Maybe try changing my command to `--watchAll` instead as **abierbaum** suggested and see what happens...

[2019-10-18 13:31] LukasBombach commented on #6649
Oh wow, what a detailed answer, thank you so much @tonyhallett

[2019-10-18 14:44] chriswall-aa commented on #7427
`collectCoverageOnlyFrom` works
`collectCoverageFrom` does not

eg. `jest <suite I want to run> --coverage --collectCoverageOnlyFrom path/to/file.jsx`

[2019-10-18 14:46] tonyhallett commented on #6649
@LukasBombach no problem although I was incorrect with part of my custom typing.  I will revise.

[2019-10-18 16:16] sinneren opened #9064 "Can't find module installed globally"
## 💬 Questions and Help

I have nuxt without node_modules locally.
I have docker container with installed all modules in preferred folder `/usr/local/lib/node_modules`
When I start `jest` I have an error:
`Cannot find module '@babel/preset-env' from '/var/www/my_project_path'`
But if I tried to run it locally all fine.

My configs:

**babel.config.js**
[code]
**jest.config.js**
[code]
And my depen

[2019-10-18 19:17] skube commented on #7427
Should this work with TypeScript too? I'm trying the following but it still craps out

[code]

I get `Jest encountered an unexpected token` even though running `yarn coverage` works fine.

[2019-10-18 19:44] jimmy-e opened #9065 "moduleNameMapper alias of `static` causes tests to fail"
## 🐛 Bug Report

Having a `moduleNameMapper` alias of `static` causes tests to fail.

## To Reproduce

- Clone [this repo](https://github.com/jimmy-e/jest-debugging)
- Run `yarn`
- Run `yarn test sample.test.js`

## Expected behavior

Test succeeds.

Instead, the following error message is provided:

[code]

This is based on my `jest.config.js`. Note that if I comment out the line that aliases out

[2019-10-18 20:29] joelbarbosa commented on #7427
try this way.
`yarn jest src/components/MyComponent/MyComponent.tsx --coverage --collectCoverageOnlyFrom=src/components/MyComponent/MyComponent.tsx`

[2019-10-18 20:45] skube commented on #7427
Thanks, but same result

[2019-10-19 06:57] EgorFront commented on #8660
Maybe Jest does not recognize babel-jest, try specifying the full path

In the jest configuration, specify
[code]
If that doesn't help add this to your babel config file

[code]

[2019-10-19 09:20] sairus2k commented on #8490
Fixed in #8850

[2019-10-19 13:06] #8490 closed

[2019-10-19 22:10] joelbarbosa commented on #7427
sorry what I meant was `yarn jest src/components/MyComponent/**test**/MyComponent.tsx --coverage --collectCoverageOnlyFrom=src/components/MyComponent/MyComponent.tsx`

[2019-10-20 05:56] keanemind opened #9067 "Grammar issue in Great Exceptions section of website home page"
This is a request to improve the home page at https://jestjs.io/.

Note the text:

from https://github.com/facebook/jest/blob/master/website/pages/en/index.js#L423

![image](https://user-images.githubusercontent.com/20429778/67155354-ffca1b00-f2d2-11e9-8ac4-7950abffbfc8.png)

I suggest this be changed to something like:

Or the same thing, but with a period instead of the em dash.

[2019-10-20 08:34] vgorloff commented on #7287
Another possible reason I faced – not closed Redis connection.

[code]

[2019-10-20 11:23] jonaskello commented on #7542
This would be great :-). I want to have a centralised `jest.config.js` with projects in my monorepo but be able to run each project separately if needed. Today I guess the only way is to put separate `jest.config.js` in every package. To me, one of the benefits of monorepo is that you can centralize at lot of the development config to the top level instead of having it in every package.

[2019-10-20 17:41] GoMino commented on #8604
Any update on this ?

[2019-10-20 21:35] jeysal commented on #9067
Sounds good, wanna send a PR? :)

[2019-10-21 07:34] ChangWenWu opened #9068 "encountered an unexpected token when using ts-jest in React App"
## 🐛 Bug Report
Hello, I am facing the issue that an unexpected token error happened when run tests with Jest in a React App.
[code]

This is my package.json.

[code]

My jest.config.js file.
[code]

## To Reproduce

Run jest

## Expected behavior

jest should run success

## envinfo

[code]

[2019-10-21 14:21] antonoberg opened #9070 "Manage memory issues by introducing --maxWorkerJobs"
## 🚀 Feature Proposal TLDR;

One way to manage a lot of the reported memory issues could be to add a new parameter `--maxWorkerJobs=x` that forces the tests to be run with a worker pool and respawn a new worker in a new process after x jobs are completed.

I can provide a PR for this if you believe it's a good idea. Before I provide that PR, I would love to get feedback on the idea.

## BACKGROUND

[2019-10-21 17:57] ahqardah opened #9071 "dependency on mixin-deep 1.3.2"
Hi folks,

the package has a sub-dependency on mixin-deep 1.3.2, which has a vulnerability (as assessed by github). can you please update your dependencies to resolve this?

[2019-10-21 18:16] thymikee commented on #9071
According to `yarn audit` output, the vulnerability is patched within `>=1.3.2 <2.0.0 || >=2.0.1`, which is in range of our dependencies. Please regenerate Jest in your lock file, so it fetches the 1.3.2 version.

[2019-10-21 18:16] #9071 closed

[2019-10-21 18:47] morgs32 commented on #8006
This is my `jestBabelTransform.js`:
[code]

And my jest config:
[code]

[2019-10-21 18:47] morgs32 commented on #8006
Which is to say - are you using `rootMode`?

[2019-10-21 20:28] jeysal commented on #9070
Thanks for the suggestion and detailed writeup!
I'm not entirely comfortable with making it so easy for people to work around leaks, and then having to maintain this feature.
Idea: What if there was a signal/way to tell the worker farm from inside the worker to not reuse this worker? (Maybe there already is one, although I can't spontaneously think of a loophole allowing you to do that)
Then a cus

[2019-10-21 21:03] loilo commented on #5218
The suggestion by @abhinavsingi will indeed work. The `numDigits` precision is [used as the power of ten](https://github.com/facebook/jest/blob/116303baf711df37304986897582eb8078aa24d8/packages/expect/src/matchers.ts#L170-L172) to determine the valid deviation.

This means that a precision of `0` creates a deviation radius of `10 ** 0 / 2 = 0.5` in each direction. Or, by example: `expect(x).toBeCl

[2019-10-21 21:25] eugene-manuilov commented on #1520
Hey @Daniel15 and everyone else here!

I have created `jest-runner-groups` that allows us to tag tests and run specific groups of tests using `--group` argument. Check it out on [npmjs.org](https://www.npmjs.com/package/jest-runner-groups).

In a nutshell you can tag your tests using docblock `@group` parameter. Something like this:

[code]

[code]
Then run a specific group:

[code]

Or run multip

[2019-10-22 03:28] mtsmachado8 commented on #4842
Hi guys,
node 12.13.0 LTS's finally released... any news about that matter?

[2019-10-22 03:42] lake2 commented on #5446
same issue +1

[2019-10-22 04:14] mtsmachado8 commented on #7359
Hi guys,
Node 12.12.0 LTS's finally released with better supports of mjs... so we really need it
Any updates on this issue?
Whats the best workaround for now?

[2019-10-22 07:23] grantila commented on #9070
@jeysal please describe how you define a _leak_.

Note that we're not talking about code (when run normally - not through jest) that leaks in the sense that while running it is eating more and more memory, but rather code that expects to run in a traditional Node.js environment and not be re-run / re-require'd and not be subject to require cache manipulations, etc.

A package that works perfectly

[2019-10-22 08:20] damianobarbati commented on #4842
@mtsmachado8  I'm afraid some time is still needed by v8 team on the matter because I see ESM modules still being flagged as experimental... they failed on the roadmap for it maybe.

https://nodejs.org/api/esm.html

[2019-10-22 08:26] antonoberg commented on #9070
@jeysal thanks for you reply. I think i cant use teardown but I can potentially in a custom environment patch process.send and use that to kill the worker. If I combine that with keeping track of how many runs each worker have done in temporary files with names that includes the pid and that is removed in in some global cleanup I think I can achieve what i want - reset a worker after x runs - with

[2019-10-22 08:54] fernandopasik commented on #4842
For unflagged ESM this PR is in place
https://github.com/nodejs/node/pull/29866

[2019-10-22 10:33] jeysal commented on #9070
In this context, anything that requires a workaround like restarting workers after a few test files.

---

I don't think this is a good term for this property - Jest is not the only module that requires things multiple times (and it is indeed one that I think has exceptionally good reasons to do it). You can do it with Node's module APIs directly.

---

Anyway, this topic does not seem relevant to

[2019-10-22 10:35] jeysal commented on #9070
I don't think `jest-worker` will like that. I believe that this will require some changes, but only to `jest-worker`.

You shouldn't need to do that - in a test environment, you can access the actual `global` of the worker and use that to store this information.

[2019-10-22 12:35] #9067 closed

[2019-10-22 13:39] MartinSherburn opened #9074 "Jest-haste-map watchman bug with virtual drive letters"
## 🐛 Bug Report

There is an issue with jest-haste-map/src/crawlers/watchman.ts when using virtual drive mappings. Suppose the root of the watchman project is c:\foo\bar and you create a virtual drive mapping of c:\foo\bar to r: and then try to use the crawler from the r: drive things won't work correctly. This exhibits itself when trying to build a bundle using metro from the virtual drive.

## T

[2019-10-22 15:19] markmarijnissen commented on #5778
@ashleshsortee  async functions return a Promise, which is how Jest know when the test is complete

[2019-10-22 15:33] DriesVandermeulen commented on #9041
Simmilar problem on 24.9.0

[code]

[2019-10-22 17:55] nickofthyme commented on #936
The way I see it after reading this whole thread and testing over and over and over....

## Option 1 - declare all functions using `const`

This requires you to mandate the use of [function expression](https://developer.mozilla.org/en-US/docs/web/JavaScript/Reference/Operators/function) over [declarations](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/function). Fort

[2019-10-22 17:58] dylang opened #9076 "[Feature Request] API to access current test name, filename from within tests"
## 🚀 Feature Proposal

Ability to get the test name (aka `title`), descriptions (aka `ancestorTitles`), and filename from within the test at runtime.

## Motivation

We want to save a screenshot, log file, or custom snapshots and use the description and name of the test for the filename so it's easy for developers to find and know which test they are from.

## Example

[code]

[code]

`beforeEach`

[2019-10-22 19:27] jhfdx8 commented on #2582
Jasmine `spyOn()` has no such problem _inside_ tests.  Jest supposedly uses jasmine by default? Why doesn't it work inside test?

**Jasmine Example:**
[code]

[2019-10-22 21:05] j opened #9079 "Snapshotting Arrays with Matchers"
## 🐛 Bug Report

Creating a snapshot with array + matchers is not possible without wrapping array into an object.

## To Reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

I'm able to get by by taking my result and placing it in an object then doing the snapshot, but I feel like I should be able to snapshot an actual array with matchers.

[2019-10-23 06:12] Pvnsraviteja opened #9080 "cannot read a property or prototype undefined"
arser.prototype.__proto__ = EventEmitter.prototype;
                                          ^

TypeError: Cannot read property 'prototype' of undefined
    at Object.<anonymous> (C:\Users\jayaprakash\AppData\Roaming\npm\node_modules\sails\node_modules\socket.io\lib\transports\websocket\hybi-16.js:441:43)
    at Module._compile (internal/modules/cjs/loader.js:956:30)
    at Object.Module._extensi

[2019-10-23 07:49] antonoberg commented on #9070
Thanks!

Putting the following in a custom test environment seams to work fine:
![image](https://user-images.githubusercontent.com/3389584/67369411-40e35900-f579-11e9-8673-f455950209b9.png)

I have not experienced any objections from the jest-worker.

As long as the exit code differs from 0, SIGTERM_EXIT_CODE and SIGKILL_EXIT_CODE it will start a new worker.

`jest-worker/src/workers/ChildProcessW

[2019-10-23 08:37] KevinDenys opened #9081 "Heap Memory keeps increasing"
![image](https://user-images.githubusercontent.com/17174443/67374104-02519c80-f581-11e9-9cc4-ec255495b7b8.png)

**We have tried the following things:**
https://github.com/facebook/jest/issues/2179#issuecomment-481380000 (no difference)
https://github.com/facebook/jest/issues/6399#issuecomment-399888409 (no difference)

Using --no-cache has no difference

**After running heap analysis**
![image](ht

[2019-10-23 11:07] andreasonny83 opened #9082 "Confusing failing message when using `test.each`"
## 🐛 Bug Report

When using `test.each` and 1 or more testing scenarios is failing, jest doesn't provide any information about the test data provided.
Given a test with a large test data, it might be quite difficult to track down and isolate the one responsible for the failure

## To Reproduce

Steps to reproduce the behavior:

Testing function
[code]

Test file
[code]

## Current behavior

[code]

[2019-10-23 11:12] thymikee commented on #9082
cc @mattphillips

[2019-10-23 11:40] mattphillips commented on #9082
Hey @andreasonny83 it doesn't look like you are using the data in the test name.

If you take a look at the [docs](https://jestjs.io/docs/en/api#2-testeach-table-name-fn-timeout) you need to include the data in the test name:

To inject nested object values use you can supply a keyPath i.e. $variable.path.to.value

If you change your test title to something like this it should work:

[code]

[2019-10-23 11:41] #9082 closed

[2019-10-23 11:43] andreasonny83 commented on #9082
Yes, I'm aware of that. However, it would be great if jest can provide that information automatically without explicitly mention that in the test title

[2019-10-23 11:52] mattphillips commented on #9082
Ah right, I'm not sure we will support this.

It's strongly recommended to have the data in the title to not only help identify what is failing, but to tell the test runs apart when reporting.

Otherwise you will have something like below where you cannot tell the tests apart:

<img width="502" alt="Screenshot 2019-10-23 at 12 49 20" src="https://user-images.githubusercontent.com/5610087/67390002-

[2019-10-23 13:16] bartybooy commented on #9081
I have identically the same issue... The memory heap is stacking up for some reason, but I have no clue why...

[2019-10-23 13:45] artlaman commented on #6938
It's might be not jest related.
Removing babel-plugin-import
`['import', { libraryName: 'antd', style: 'css' }]`
from babel env test configuration resolves the issue.
So it's either babel-plugin-import issue, or babel-plugin-import conflicting with some other plugin.

[2019-10-23 19:36] kirill-konshin commented on #4842
@azder so basically in your solution you do Babel transformation for all JS files including ones in `node_modules`?

[2019-10-23 20:10] mlarcher commented on #2927
I too wish I could have both a stdout *and* a file output for the coverage, so that I can see and parse it with my CI tool *and* make use of the normalized data.
Any project could hop in and explain why this 2.5 years old issue is still standing by any chance ?

[2019-10-23 22:59] ckbrewer33 commented on #936
Thanks @nickofthyme, you just ended a couple days of banging my head against this.

[2019-10-24 02:45] lamhieu-vk commented on #9081
You can provide more info like jest config?

[2019-10-24 05:49] chriswaweru70 opened #9085 "Error: Not implemented: navigation (except hash changes)"
## 🐛 Bug Report

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

## Link to repl or repo (highly encouraged)

## envinfo

[code]

[2019-10-24 07:29] the-spyke opened #9086 "Loading .cjs config files on Node 13"
## 🚀 Feature Proposal

If you have Node 13 and `jest.config.js` file in a package with `type=module` then Node will emit a warning:

[code]

In case of manually specifying the config fole with `--config jest.config.cjs` it fails with an error:

[code]

Using ES Modules syntax for config file gives an error too:

[code]

The issue is the same as babel/babel#10595. `.cjs` is mandatory, but being abl

[2019-10-24 07:47] yxliang01 commented on #7695
@aymericbouzy yup it sounds legit, but just feel not so elegant?... Imagine you have many `test` blocks inside `describe.each` that should be skipped for some values, you need to add one field for each of them? :joy:

[2019-10-24 10:16] grissius opened #9089 "Reusing property matchers causes incorrect matching failure"
## 🐛 Bug Report

Reusing the same objects with property matchers results in unsuccessful validation of the object towards it.

## To Reproduce

Steps to reproduce the behavior:
1. Create an object with matcher A: `{ createdAt: expect.any(String) }`
2. Create a matcher B using the previous matcher under two different keys: `{ foo: timestampMatcher, bar: timestampMatcher }`
3. Create a value that sa

[2019-10-24 13:14] oliverwatkins opened #9091 "Make snapshots more HTML friendly"
## 🚀 Feature Proposal

Make snapshots more HTML friendly

## Motivation

If I want to view a snapshot as a HTML document I have to remove javascript {Object} from style
attributes, and 'Function' objects from callbacks.

## Example

Some examples :

[code]
and..
[code]

## Pitch

Mostly it is not a big deal removing these [Function]s and {Object}s but if it is a really big snapshot file it becomes

[2019-10-24 14:21] sawyerh commented on #9062
Looks like this was resolved in `v4.2.3` of `graceful-fs`: https://github.com/isaacs/node-graceful-fs/issues/174

[2019-10-24 14:24] grantila commented on #9070
If module magic is necessary, a safe solution would be to not re-use the same process ever, but to always create a new process for each file. Run-in-band would then mean to have parallelism 1 while the default could be `cpus().length` or whatever.

For performance reasons, jest could make sure to pre-spawn a few processes which can quickly be used as other test files have finished.

For Node 12 an

[2019-10-24 15:38] pedrottimark commented on #9091
This brings back a memory, so I must have edited some snapshots to view as HTML too :)

If the situation is once-in-while for you like is was for me, then an editing script might give you a favorable return on investment. What do you think?

Here is a https://github.com/facebook/react/issues/13525#issuecomment-417818906 that discusses at length whether React might ever replace `className` with `cl

[2019-10-24 17:15] kirill-konshin commented on #8397
Are there any news? I still don't see any releases since August.

[2019-10-24 20:10] aldarund commented on #7631
--runInBand for me just make it even slower. 1200tests. Without runinBand 70/50seconds. With --runInBand its 90 second on second runs at best

[2019-10-24 21:44] timmwagener commented on #8317
Test runners for other languages, like [pytest](http://doc.pytest.org/en/latest/skipping.html#xfail-mark-test-functions-as-expected-to-fail), have this feature. I have used it in there for exactly this scenario (and others...), and find it a rather useful option, currently missing in jest.

[2019-10-24 22:34] neaumusic commented on #1256
The "accepted" comment makes no sense, jest shouldn't be analyzing function innards to see if `done` is actually used or not. That function thread shouldn't terminate until `await` resolves and the function implicitly returns undefined on the next line

[2019-10-24 22:39] kristibostrom commented on #6527
Is this change to the `bail` flag going to be implemented in jest-circus and is there somewhere that work is being tracked?

[2019-10-25 05:11] LuJiaNan opened #9093 "How to mock Antd fn validateFields ?"
const {
  form: { validateFields },
} = this.props;
validateFields((errors, values) => {
  // ...
});
validateFields(['field1', 'field2'], (errors, values) => {
  // ...
});
validateFields(['field1', 'field2'], options, (errors, values) => {
  // ...
});

how can i get inside the validateFields?

[2019-10-25 05:27] #9093 closed

[2019-10-25 08:58] oliverwatkins commented on #9091
thanks for your comments :) I think changing "className" to "class" is less of an issue for me, because it is still runnable HTML.

[2019-10-25 10:32] EricAdonis opened #9094 "Jest mock interceptors request axios"
![image](https://user-images.githubusercontent.com/49099200/67564466-34aff500-f74d-11e9-8684-ceca194dbb92.png)

How to mock `axios.interceptors.request.use` Reject error.
I want coverage 100%.
Please help me. Thansk you.

[2019-10-25 11:03] #9094 closed

[2019-10-25 11:03] thymikee commented on #9094
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](https://jestjs.io/en/help). Thank you :)

[2019-10-25 12:26] elmeerr commented on #7570
I came across to this and I'm kind of having the same issue but with `Formik`

`jest.config.js`:

[code]

Component:
[code]

Error:
[code]

As this issue was the closest related to mine...does any of you have any clue about how to solve it?

Thanks in advance

[2019-10-25 13:13] shengbeiniao commented on #7184
Some problem,I need async get token before all tests running,but official docs say that

[2019-10-25 14:14] sverdlovka commented on #2649
This way of unmocking worked for me:
[code]

[2019-10-25 17:24] mscottx88 commented on #7886
I found a recipe for debugging jest in VS Code that works great.

This comes from https://github.com/microsoft/vscode-recipes/tree/master/debugging-jest-tests

Paths below may need to be adjusted based on your particular needs.  In this case, this is a monrepo and the actual location of the jest module is a few levels up.

[code]

[2019-10-25 17:25] mscottx88 commented on #7886
Given these new findings, I believe this issue can be closed, thank you for your time and attention to this.

[2019-10-25 17:25] #7886 closed

[2019-10-25 17:46] Alex-Cannon commented on #8942
I'll take a stab at this. This'll be my first time contributing to Jest, so any pointers will be welcome.

[2019-10-25 18:17] TannerQuigley commented on #2043
@cpojer I know you advice against it but is it possible use libraries directly from CDN in jest? If so how? Struggling very hard to do this and this thread is the closest info I have found to a solution

[2019-10-25 18:42] onigoetz commented on #8942
I came across this a few days ago : https://itnext.io/nodejs-logging-made-right-117a19e8b4ce

Continuation Local Storage, allows to store data in the context of functions. maybe this could help to make sure we have the right name of current test even if going to another test.

I didn't try it so I have no idea if that would help.

[2019-10-25 19:15] lucasMontenegro commented on #4402
Here is a little example:

[code]

[code]

[2019-10-25 21:07] skube commented on #7427
My setup is a little different so for me, running:
[code]
Still results in `Jest encountered an unexpected token` error —  even though running yarn coverage works fine.

[2019-10-26 05:54] #9062 closed

[2019-10-26 07:21] #9015 closed

[2019-10-26 07:48] #9026 closed

[2019-10-26 08:02] #9018 closed

[2019-10-26 10:46] juancarlosfarah commented on #8922
I'm also running into this issue. Since I'm using CRA, I cannot add `testPathIgnorePatterns` without ejecting. However, I see that the Jest config in CRA has a `testMatch` configuration as follows:

[code]

The file that is causing me headaches is in a `dist` folder and it's clearly not associated with a test with a name like `dist/graasp-desktop_0.14.0_amd64.snap`.

Perhaps it can be ignored if n

[2019-10-26 11:06] krzkaczor commented on #2867
Adding my two cents 🤑:
1. In your `jest.config.js` add:
[code]
1. Install `yarn add jasmine-fail-fast`

1. `setup-after-env.js`:

[code]

Works like a charm! 🎉

[2019-10-26 13:23] MuhmdRaouf opened #9102 "How To Use spyOn on a function inside of functional component"
## 💬 Questions and Help
I have this component I wanna test and I cant use spyOn on any of its internal methods as I can't reach them.

I was going along this tutorial [TDD With React, Jest, and Enzyme](https://testdriven.io/blog/tdd-with-react-jest-and-enzyme-part-two/#click-event-tests)

but I wanted to make the Calculator functional as i wanna learn more how it works in order to use hooks in the

[2019-10-26 16:56] wldcordeiro opened #9103 "add a `testTZ`/`testTimeZone` config value like `testURL` but for setting a timezone tests should run in"
#8497  🚀 Feature Proposal

## Motivation

Enforcing a consistent timezone in an easily configurable way just like setting a base URL.

## Example

[code]

## Pitch

Sometimes even with mocks you run into problems of you and another dev in another timezone producing different results because of your computer timezones. You could do something like `TZ=foo jest` as a workaround and put that in your p

[2019-10-26 17:51] krzkaczor commented on #8688
This is still unreleased/fixed. My dirty workaround:

[code]

[2019-10-26 19:08] EsraaSaaad commented on #2649
You can use "spyOn" function inside any test to mock function and then use
[code]

[2019-10-26 19:19] Alex-Cannon opened #9105 "Add a Dockerfile for contributing"
## 🚀 Dockerfile for contributing to Jest

Create a DockerFile to run jest.

## Motivation

It would be nice to have a option to run Jest with a one-click command instead of having to do any manual setup.

* I'd be happy to create a DockerFile for Jest and matching documentation.

## Example

I imagine something along the lines of this (may not be semantically correct):

[code]

## Pitch

* Make co

[2019-10-26 23:46] Alex-Cannon commented on #8942
## Update 10-26-2019

Okay, so a quick progress update:

1. Confirmed that this issue does exist.
2. Does anyone happen to know the package / file where these snapshots are written? I've been looking around in `/jest-snapshot` and `expect`.
3. I'll keep working on this issue in the next few days.

It looks like this bug only occurs when multiple snapshots take longer than the setTimeout function.

[2019-10-27 09:45] SimenB commented on #9105
sure, no reason not to, methinks. feel free to open up a PR 🙂

[2019-10-27 21:16] lensbart commented on #7271
@nopito, that suggestion might work for some, but not all codebases. I ran into the exact same issue as described above, except one of my `node_modules`’ dependencies imports a javascript file named `styles`:

[code]

Although obviously an edge case, the robust solution is still to let `moduleNameMapper` match on the resolved file name.

[2019-10-28 00:11] jeysal commented on #8942
@Alex-Cannon thanks for investigating! My intuition would also be that this is because when the `longRunningFunction()` resolves and the snapshot assertion happens, the snapshot state already contains the next test, which has already started, as the current test.
Side note: Might be interesting to try out how [jest-circus](https://github.com/facebook/jest/tree/master/packages/jest-circus), a newer

[2019-10-28 00:17] jeysal commented on #9076
Duplicate of https://github.com/facebook/jest/issues/7909 (which also seems to have a hack to get this info)

[2019-10-28 00:17] #9076 closed

[2019-10-28 00:34] jeysal commented on #9070
@antonoberg Awesome! Maybe an explicit `--runInBand=false` could be used to force workers? Would also help with [some hacks we did](https://github.com/facebook/jest/blob/cc2c92ba1ef39c4390f02212cbc88effeeceb379/e2e/Utils.ts#L93-L106) :D

`runInBand` has other benefits (e.g. debugging), we don't want to replace it with a simple `maxWorkers=1`

I dont' see how that could improve performance, best ca