[2018-10-08 13:52] SimenB commented on #7121
@pedrottimark mind taking a look at this? Note that using a more complex `options` (like the one react spits out) makes the node process abort on a hefty macbook pro 2018

[2018-10-08 15:14] pedrottimark commented on #7121
@SimenB Thanks for cc. Notice HTML elements from `jsdom` instead of React elements :)

**Problem**: `pretty-format` fails to serialize internals of a simulated DOM object instance as a generic object, because built-in snapshot serializers don’t match the class of `select.options` property:

**Solution**: Explicitly convert `options` or `children` property from array-like object to JavaScript array

[2018-10-08 15:44] SimenB commented on #7121
Yeah, I know. @theneva is a coworker of mine, he showed my Jest's process abort using React (though rendering in jsdom, so kinda similar), the example in the OP is a smaller reproducion.

I might agree with not serializing it by default, but currently jest aborts, which is not OK (the example in the OP just takes a stupid amount of time before giving an error). I'd rather throw and tell the user t

[2018-10-08 15:59] pedrottimark commented on #7121
Y’all taught me a new DOM interface, for sure.

Was the original error also array-like object versus array as received value?

Ja, good thought. I need to see if plugin can detect `jsdom` instances and skip their implementation.

[2018-10-08 16:09] SimenB commented on #7121
No, the node process crashes because runs out of memory

I'd prefer implementing support for the collections in https://github.com/facebook/jest/blob/master/packages/pretty-format/src/plugins/dom_collection.js and potentially pulling it if it turns out that this slows down e.g. test suites. Bailing early should be the backup plan 🙂

[2018-10-08 17:13] Ky6uk commented on #3465
Hmm. I have no idea but that issue just rises randomly today. One of tests starts failing after year of work without errors. 🤔

[2018-10-08 18:06] alesanchezr commented on #7104
I was able to fix this by making the source code prettier before taking the snapshot using prettify. Now snapshots are more consistently similar.

Thank you for your idea @rogeliog, I did not know that was possible but it looks like another viable solution.

Here is the open source project if anyone wants to contribute: https://github.com/4GeeksAcademy/react-exercises

[2018-10-08 18:14] #7104 closed

[2018-10-08 18:46] pedrottimark commented on #7121
Yes, I agree with you to support array-like collections in the plugin.

Ha ha, wrong day to search for other related classes under Web APIs on MDN:

There was a scripting error on this page. While it is being addressed by site editors, you can view partial content below.

[2018-10-08 19:32] alberthuynh91 commented on #6827
Ran into an issue with the `antd` Select component/ Jest errors with `ReferenceError: Select is not defined`. This error only comes up when I run `jest --coverage` but all my tests pass fine when I run `jest`. Does anyone know how I could fix this? Been googling around with no luck/

[2018-10-08 22:12] kumar303 opened #7124 "Changing a file's access time re-runs tests in watch mode"
## 🐛 Bug Report

When running `jest --watch`, changing a file's access time triggers a test re-run.

## To Reproduce

Steps to reproduce the behavior:
* Start `jest --watch`
* Change the access time for a file and nothing else. Example: `touch -a src/components/SomeComponent.js`

## Expected behavior

I don't expect Jest to re-run tests when only the access time changes. I would expect it to re-ru

[2018-10-09 00:04] joselcc commented on #6933
`babel-jest` still relies in `babel-core` from Babel 6, if you want to use **Babel 7** you can use
this tranformer [babel7-jest](https://www.npmjs.com/package/babel7-jest)

[2018-10-09 00:52] timtrinidad commented on #2235
This would also be helpful for test.each. Unfortunately right now this throws an error:

[code]

[2018-10-09 05:37] SimenB commented on #6933
`babel-jest` works just fine with babel 7, no need for a custom transformer

[2018-10-09 05:43] SimenB commented on #7124
Interesting! @rubennorte thoughts on this?

[2018-10-09 08:41] khadirbaaoua commented on #890
@jcmcneal thanks that did it for me! (jest 23.0.0)

[2018-10-09 10:01] laxa88 commented on #890
If your goal is to mock the `window` object, here is my (not so elegant, but it works) solution:

Create an interface (not sure if interface is the right word, but I hope you get the point) class:
[code]

Then, in your jest tests, you just mock them out so jsdom doesn't complain. You can even assert them:
[code]

[2018-10-09 10:24] thymikee opened #7128 "Throw on incorrect property matchers usage"
## 🚀 Feature Proposal

I'd like to propose a new behavior to recently introduced "snapshot property matchers" – throwing when the object values are not asymmetric matchers.

We should also link to the guide from `expect.toMatchSnapshot` docs to avoid confusion (regardless this request is accepted or not).

## Motivation

I've seen this code in the wild:

[code]

Which doesn't make much sense (mayb

[2018-10-09 13:09] natealcedo commented on #7105
I don't really see the need for this. The behavior is correct as per what the matcher says: i.e `toBeGreaterThan`. As well, what jest prints to stdout seems developer friendly enough. Maybe you could explain your use case? I'm not sure if we should create a matcher that says `toBeGreaterThanOrEqualTo`. I imagine that would go into `jest-extended`. Thoughts? @SimenB 	@mattphillips

[2018-10-09 13:13] deser commented on #6904
(

[2018-10-09 13:15] deser opened #7129 "Codecov is dead?"
Hi Guys,
are you planning to change codecov to another coverage service?
Seems browser extensions doesn't work (actually they are removed)
Repository is archived https://github.com/codecov/browser-extension

Also support doesn't answer questions

[2018-10-09 13:31] natealcedo commented on #7129
Isn't this just a repeat of your comments on #6904? I think for the meantime there isn't a significant reason to migrate as per the closed issue.

[2018-10-09 13:36] deser commented on #7129
Yes it is, they are unanswered though )

[2018-10-09 13:38] thymikee commented on #7129
We're not planning to change codecov to another service now. Looking at their website everything seems fine and it's not dead? They may have sunset the browser extension because reasons, e.g. ever-changing GitHub UI.

[2018-10-09 13:38] #7129 closed

[2018-10-09 13:40] deser commented on #7129
Yea, seems so. Thanks

[2018-10-09 14:28] lepirlouit commented on #6393
This problem is coming up again.

I removed yarn.lock, package-lock.json and node_modules
I have no jest dependency in package.json
with yarn it installs version 20.0.3 of jest-environment-jsdom (and problem occurs)
with npm version 23.4.0 is installed and no more problems.

[2018-10-09 14:51] ronayumik commented on #4710
hi @hnrchrdl, however I got an issue when I implemented the quickfix.

The testcase seems like never ended. Is this also happened to you? What did you put on the `afterEach` block to reset the TextInput (or is it necessary?)?

[2018-10-09 16:48] scottmartin-ln commented on #2441
I'm on 23.6.0 and can get output from `console.debug` and `console.error`, but not `console.log`, when running `jest` without any flags.

[2018-10-09 17:28] gfirem commented on #6269
I am facing the same issue @joeynimu

[2018-10-09 20:09] piratefsh commented on #7093
Hey, bumping this -- any thoughts?

[2018-10-09 21:28] guilherme6191 commented on #6858
The fix @GerkinDev posted works for me. `const spy = jest.spyOn(Storage.prototype, 'setItem');`

[2018-10-09 22:36] kumar303 commented on #7124
I've seen apps deal with this kind of thing by comparing access/modified time stamps when getting the change event.

Thanks! I didn't know about it. I'll try it.

[2018-10-09 22:53] dahfool commented on #2550
I am using the latest version of Create React App, after reading some of the comments above, this is my fix https://github.com/dahfool/pati/commit/3edc3ee825b51e7c6400f527c4e966663344b90d to make unit tests on Webstorm.

[code]

[2018-10-09 23:21] rubennorte commented on #7124
@SimenB we should be able to know when only the access time changed and do nothing in that case.

[2018-10-09 23:37] twisty commented on #7081
To be clear: if `babel-jest` is already installed as a dependency of `jest` itself, should we not just highlight this fact? I'm happy to reword this and send a PR if required.

[2018-10-10 00:18] dandv commented on #7108
Same issue here: `--testMatch` just doesn't work. Combined with #3793, this makes it impossible to even attempt testing `.mjs` files (let alone the plethora of issues with `.mjs`).

[code]

[2018-10-10 05:31] Abhishek-Modi-Happyperks commented on #7105
the message should be as in the expected behavior " Expected value to be greater than " but at the current build its giving " Expected " @mattphillips @natealcedo

[2018-10-10 06:06] natealcedo commented on #7105
You have a point I guess. But then again, the matcher is right above the `expected` and `received` section. It wouldn't be too difficult to know why the test failed. At the same time, if we were to change to your expected behaviour, you'd have to change similar matchers (`toBeLessThan`, `toBeLessThanOrEqualNumber`, etc) to keep developer experience consistent. I don't know. I'd mark this as a qual

[2018-10-10 07:16] Barna001 commented on #3853
Hello guys/girls,
I also met the famous jest console log problem when running testing in --watch mode.
The solution was to use --watchAll instead of --watch. The summary of tests became uglier, but the logs showed as expected.

macOS High Sierra
node v8.11.3
jest: 23.6.0
ts-jest: 23.10.4

[2018-10-10 07:28] Abhishek-Modi-Happyperks commented on #7105
@natealcedo Yes the functions are working properly and it wouldn't be difficult to know. But than at some point one has to figure it out with the stack not with the message. Marked this as Improvement rather than a bug.

[2018-10-10 07:41] kirillgroshkov commented on #6738
Wow, sounds bad! Any update/progress on that? We noticed that in our project where we have ~50 test files, it started to fail in CircleCI because of memory usage. We use `fs-extra` in our code.

[2018-10-10 07:43] mattphillips commented on #7105
@Abhishek-Modi-Happyperks I’ve just re-read your example and realised I read your solution as the current behaviour 😆

I’m convinced this is a worthwhile change and should just be a one liner to the message output.

As @natealcedo said we’d need to also check the other similar matchers to fix them too if they need it. Fancy sending a PR?

[2018-10-10 07:47] siluri commented on #6738
@kirillgroshkov workaround for your issue is: change fs-extra to [fs-jetpack](https://github.com/szwacz/fs-jetpack)

[2018-10-10 07:51] kirillgroshkov commented on #6738
Well, I'm not that easy on just changing dependencies that we use in many projects extensively (`fs-extra`) to dependency I've never seen before. I'll check it out, of course, thanks! But more likely I'll change to native Node's `fs` in some problematic cases.

Interesting that we use `fs-extra` in production and we don't have a memory leak for days and days. It only appears in Jest.

[2018-10-10 07:53] siluri commented on #6814
@pk-nb do u have a workaround for that?

[2018-10-10 08:00] siluri commented on #6738
Yes, fs-extra is not leaky. It declare global stuff and every test in jest will declare it again and that leaks. Fs-jetpack don't do that. If u find a solution do cleanup up the global stuff, let me know.

[2018-10-10 08:02] siluri commented on #6738
@kirillgroshkov [here](#issuecomment-407004226) u see the result of node fs native. But we need fs async - so we use fs-jetpack.

[2018-10-10 10:17] theneva commented on #6919
In case someone else stumbles upon this closed issue looking for an alternative:

With help from @SimenB I copied some code out of this project and released a version of jest-environment-jsdom which ships with JSDOM version 12 as an alternative to waiting for Jest to drop Node 6 support.

GitHub: https://github.com/theneva/jest-environment-jsdom-twelve
npm: https://www.npmjs.com/package/jest-envir

[2018-10-10 12:49] w0rp commented on #6170
I was going to file an issue for this myself, and I found that someone else was confused by the same thing. The output is confusing here. If you're testing for only properties `a`, `b,` and `c`, you can get confused by the presence of other attributes in the output. It would be nice if it maybe showed `-` and `+` only for the attributes you were checking for, and showed something else for other at

[2018-10-10 13:10] chs97 opened #7132 "Can I change require.extension on setupTestFrameworkScriptFile"
such as title.
I want to add something to require .extension.
but when jest running, require.extension  is empty.

[code]
such this code, it can register `ts` and `tsx` extensisons

[2018-10-10 13:19] thymikee commented on #7132
I don't think we support `require.extensions`, but you can use https://jestjs.io/docs/en/configuration#modulefileextensions-array-string

[2018-10-10 13:19] #7132 closed

[2018-10-10 14:58] geoffreyyip opened #7133 "Add link to DOM Manipulation docs in sidebar"
Page has no sidebar. And sidebar can't navigate to page since there's no link.

Page is accessible through Jest's search bar, and internet search services.

Link here: https://jestjs.io/docs/en/tutorial-jquery.

![screen shot 2018-10-10 at 10 56 27 am](https://user-images.githubusercontent.com/15312106/46745507-2cd4fe00-cc7b-11e8-8c03-376d9e5bf8b4.png)

[2018-10-10 15:00] chs97 commented on #7132
@thymikee  if i want to  test something, but it use require.extensions like egg https://github.com/eggjs/egg-core/blob/master/lib/utils/index.js#L15 how can i do

[2018-10-10 15:05] SimenB commented on #7132
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2018-10-10 16:01] arminyahya commented on #5401
I fixed this problem by updating jest.

[2018-10-10 17:55] jeffreypriebe commented on #7105
@mattphillips PR #7134, I think I got all the "other similar matchers" (toBeGreaterThan, toBeLessThan, toBeGreaterThanEqual, toBeLessThanEqual).

[2018-10-10 18:15] nicu-chiciuc commented on #2143
@samny As I understand the problem is that this:
[code]
will also match. It would be very nice to have a `toMatchObjectStrict`. My specific use case is that I want to be sure that responses from the API don't contain additional fields.
It's truly baffling that this isn't considered a typical use-case.

[2018-10-10 18:36] yordis opened #7135 "Support Object transformer for transform and moduleNameMapper configs"
## 🚀 Feature Proposal

Allow specifying a JavaScript object that represents the transformer on `transform` and `moduleNameMapper`  configuration.

## Motivation

I created a factory function that creates some Jest configurations. In the JavaScript section, I have something like this

[code]

Because the transforms are set up by specifying a file I lose the factory configuration when I call the fun

[2018-10-10 20:29] joseguerrerov commented on #6939
Same here, thanks 👍

[2018-10-10 21:08] cphoover opened #7136 "jest.clearAllMocks(); does not remove mock implementation within `afterEach`"
## 🐛 Bug Report

jest.clearAllMocks(); does not remove mock implementation within `afterEach`

## To Reproduce

I have a file called src/layouts/index.js
[code]
It utilizes webpack `require.context` so I am trying to mock with jest.mock.

I have another file... say file util.js
[code]

in my test I'm trying to clear the mocks after each test

[code]

## Expected behavior

I would expect for the fi

[2018-10-10 21:19] cphoover commented on #7136
As I understand the parallel execution model of jest the tests inside each suite are run sequentially so you should be able to mock per individual test.

[2018-10-10 21:21] rickhanlonii commented on #7093
Hey @piratefsh, it makes sense to me on the surface - how do you recommend we expose hooking into it?

[2018-10-10 21:30] rickhanlonii commented on #7082
Hey @twisty, thanks for working to improve this

Check out the discussion [here](https://github.com/facebook/jest/pull/2755) I think that's where this originated

[2018-10-10 21:34] cphoover commented on #2582
what about mocking non function dependencies like json files, or mapped constants. Please make the documentation more clear on how to handle this...

[2018-10-10 21:36] 43081j commented on #7108
Same behaviour here with `src/**/*.test.ts`. its a pretty simple glob to be honest..

[2018-10-10 21:41] rickhanlonii commented on #7081
Hey @twisty thanks for working to make this more clear

If you use babel you should install `babel-jest` as well. The `babel-jest` that's shipped with Jest _can_ work with some package managers (e.g. yarn) due to package hoisting but may not work with others like pnp

Not sure how to best clarify this - up for suggestions

[2018-10-10 21:43] cphoover commented on #7136
FYI The mocking documentation is extremely unclear.

[2018-10-10 21:44] rickhanlonii commented on #7108
Can you try this with `**/test/**/*.js` or `**/src/**/*.test.ts`?

My guess is that it's the relative pathing

[2018-10-10 21:49] 43081j commented on #7108
This indeed works, but what if you don't want to match potentially deeper `src` children?

It is still unexpected behaviour that such a simple glob wouldn't work, the workaround isn't really equivalent unfortunately (over-matching).

[2018-10-10 21:54] rickhanlonii commented on #7108
Thanks!

We can look into why those globs don't work - just wanted to verify that it's the relative pathing

[2018-10-10 22:09] rickhanlonii commented on #7136
`jest.clearAllMocks` does not remove mock implementations by design - try `jest.resetAllMocks`

Here are the relevant docs:

![](http://dp.hanlon.io/ab24edda8184/Image%2525202018-10-10%252520at%2525206.08.04%252520PM.png)
![](http://dp.hanlon.io/d4395c323e60/Image%202018-10-10%20at%206.08.15%20PM.png)

[2018-10-11 01:04] Fi1osof commented on #890
@Mike-Tran , @jcmcneal thank! All works as aspected!

[2018-10-11 06:13] #7121 closed

[2018-10-11 07:02] reyronald commented on #4627
Just wanted to comment to maybe bring back some attention to his feature. I myself find it extremely useful, especially for documentation purposes and I think it wouldn't hurt for Jest to have it. I miss it when switching from an AVA project!

[2018-10-11 07:45] NeelamSoni129 commented on #3234
I am also getting the same issue :
`({"Object.<anonymous>":function(module,exports,require,__dirname,__filename,global,jest){import 'react-native';
                                                                                             ^^^^^^

    SyntaxError: Unexpected token import`

My package.json file :
`{
  "name": "my_project",
  "version": "0.0.1",
  "private": true,
  "scripts": {

[2018-10-11 12:01] jarvinenio commented on #5930
Hi, is this still relevant or being worked on? I could take it up.

[2018-10-11 13:09] cphoover commented on #7136
Still does not work with resetAllMocks:

Example included:

https://repl.it/@CharlieHoover/SorrowfulBackSandboxes-2

Aside from that that is extremely ambiguous. Why would a function called clearAllMocks not clear the mocks... Name the function `resetMockState` or something more descriptive. `clearAllMocks` implies the mocks are being cleared.

[2018-10-11 13:36] cphoover commented on #7136
@rickhanlonii my issue is not yet answered.

[2018-10-11 13:41] capaj commented on #2441
I am having this issue in the watch mode too.

I even recorded it if anyone likes to see for themselves:
[![asciicast](https://asciinema.org/a/yIQUCLgHdwAEiWcyFYYvMiGPU.png)](https://asciinema.org/a/yIQUCLgHdwAEiWcyFYYvMiGPU)

like others-it only is erased when running with `--watch`. Tried `--verbose false` and that didn't help.

[2018-10-11 14:11] masungwon commented on #2234
I needed to mock `new Date()` but needed the rest of `Date` functionalities to work as normal. This is the solution that worked for me.
[code]

[2018-10-11 14:37] rickhanlonii commented on #7136
Ah, yeah, looks like resetAllMocks does not reset mock _module factories_ just the implementations set by mockImplementation. If you want to post what you want to do to stackoverflow I can help you do what you want there but it doesn't look like there's a bug here

I think the confusion is that the "mock" in "clearAllMocks" does not refer to the mock implementations, it refers to the Jest mock obj

[2018-10-11 15:15] rickhanlonii commented on #4627
Would be great if the default reporter output the number of intentionally failing tests similar to how we do .todo now 👍

[2018-10-11 15:16] rickhanlonii commented on #5930
@jarvinenio all you!

[2018-10-11 15:34] dotnetCarpenter opened #7142 "Config option for setting pretendToBeVisual"
## 🚀 Feature Proposal

An option to set jsdom `pretendToBeVisual` inside test cases.

## Motivation

I need to test code that set a timestamp value depending on `document.hidden`.
jsdom toggles the value depending on `pretendToBeVisual` as [documented in the jsdom README](https://github.com/jsdom/jsdom#pretending-to-be-a-visual-browser).

Currently [`pretendToBeVisual` appears to be set on test st

[2018-10-11 15:43] SimenB commented on #7142
You can use `testEnvironmentOptions` to set it, see https://jestjs.io/docs/en/configuration#testenvironmentoptions-object

[2018-10-11 15:43] #7142 closed

[2018-10-11 15:46] DominicTobias commented on #6662
This is pretty annoying none of the solutions work like `yarn add --dev babel-jest babel-core@^7.0.0-bridge.0 @babel/core regenerator-runtime`. Should I not be using the new plugins like `@babel/plugin-proposal-class-properties`? I have babel-jest and babel-core (v7 bridge) installed still nothing :/

[2018-10-11 15:54] dotnetCarpenter commented on #7142
@SimenB My point with:

Is that it is currently not possible to toggle `pretendToBeVisual` and have the same `document` object.

But I can infer that the answer to:

Is that it has to be implemented in jsdom. Am I correct?

[2018-10-11 16:01] SimenB commented on #7142
That seems like an upstream issue, yes 🙂 I linked a module which gives you raw access to the jsdom instance. If that doesn't work, something'd have to change with jsdom itself

[2018-10-11 16:04] DominicTobias commented on #6662
None of the solutions online worked, I fixed it the following way:

1. Remove `jest` and `@babel/core` from package.json (keep babel-core v7 bridge)
2. Remove node_modules and package-lock.json
3. npm install
4. npm install jest @babel-core --save-dev

[2018-10-11 16:04] dotnetCarpenter commented on #7142
Will I then be able to set jest `testEnvironmentOptions` inside a test as shown in the initial post?

[2018-10-11 16:20] dotnetCarpenter commented on #7142
@SimenB I have added a feature request to jsdom. Didn't see your second link until now. I will check it out - thanks

[2018-10-11 16:42] rickhanlonii commented on #7083
@mushketyk looks like what you want to do with "reset" is actually "clear", so the bug is that mockReset is clearing the mock calls but resetAllMocks is not clearing the calls

If you change to `mockClear` and `clearAllMocks` does it work?

[2018-10-11 16:49] rickhanlonii commented on #7011
@joacim-boive thanks for posting, if you can post a reproduction repo I'm happy to re-open and take a look 👍

[2018-10-11 16:49] #7011 closed

[2018-10-11 16:53] rickhanlonii commented on #7084
Hey @pkearney13 thanks for using Jest

Please note this issue tracker is not a help forum. If you can update the issue to following the correct issue template and add a reproduction repo I can take a look otherwise we recommend our [discord channel](https://discord.gg/MWRhKCj) or [StackOverflow](https://stackoverflow.com/questions/ask)

[2018-10-11 16:53] #7084 closed

[2018-10-11 16:57] rickhanlonii commented on #7128
FWIW the current behavior was what was [proposed](https://github.com/facebook/jest/issues/5847) but I agree that it makes sense to only allow asymmetric matchers now that it's better understood 👌

[2018-10-11 17:01] rickhanlonii commented on #7133
Thanks! Anyone know if this should be removed or added to the guides? cc @thymikee @SimenB

[2018-10-11 17:08] rickhanlonii commented on #7101
@duszans good report, I think this makes sense and shouldn't be _too_ difficult if you want to take a stab!

[2018-10-11 17:09] rickhanlonii commented on #7100
@mattphillips what do you think about this?

[2018-10-11 17:12] SimenB commented on #7133
No idea. Seems like it should be linked to though?

[2018-10-11 17:14] SimenB commented on #7100
All tests tests and hooks are collected before we start executing any of them, so you cannot use dynamic data from a hook to define `it`s or `test`s (which `.each` is sugar for)

[2018-10-11 17:14] #7100 closed

[2018-10-11 17:14] rickhanlonii commented on #7098
Hey @thedanchez, thanks for using Jest and sorry this is so frustrating

This is a help question not a bug so your StackOverflow question is the best place for this. If you can post a repo and ping me I'm happy to take a look

[2018-10-11 17:14] #7098 closed

[2018-10-11 17:15] mattphillips commented on #7100
Related issue: https://github.com/facebook/jest/issues/6888

As @SimenB said tests need to be defined synchronously. Perhaps we should add this to the docs?

[2018-10-11 17:17] rickhanlonii commented on #7095
What do you think @azz?

[2018-10-11 17:18] SimenB commented on #7100
Ah, we've added an error message now! Nice.

I'm fine with adding a note in the FAQ or something, a lot of people want to use stuff in `beforeAll/Each` when defining tests (mostly because of async work). Having it in the docs makes sense to me!

[2018-10-11 17:38] rickhanlonii commented on #7092
Hey @tito300 this is happening because `mongoose.disconnect()` is a promise and you need to wait until the disconnect promise is resolved. It looks like you tried this a few ways but none of them were correct.

What did work (providing the done arguments without calling) only works because it's basically forcing Jest to wait for a `done` that is never called, so the open handle detection never run

[2018-10-11 17:38] #7092 closed

[2018-10-11 17:39] rickhanlonii commented on #7090
fwiw I really like https://github.com/zeit/release

[2018-10-11 17:43] rickhanlonii commented on #7072
@dagda1 thanks for reporting - unfortunately there's nothing we can do here without being able to reproduce. If you're able to push a repo we can confirm with, I'm happy to re-open!

[2018-10-11 17:43] #7072 closed

[2018-10-11 18:02] rickhanlonii commented on #7070
I don't think the issue is the binding, I think the issue is pushing to `instances` when not using `new`

For example, this test fails (notice that `instances` is `[undefined]`):

[code]

![](http://dp.hanlon.io/335d8cc35c8e/Image%202018-10-11%20at%201.59.45%20PM.png)

When you do this with the bind and foo in OP, you get `instances` as `[{}]`

[code]

![](http://dp.hanlon.io/06fc5dcc2cba/Image%20

[2018-10-11 18:05] de-ocampo opened #7143 "--coverage flag causes babel error"
## 🐛 Bug Report
Using jest --coverage throws a Babel error:

`TypeError: Constructor Map requires 'new'
`

We get this error because ES5 [doesn't support subclasses natives](https://babeljs.io/docs/en/caveats/#classes). The error does _not_ appear when running jest normally; only when coverage is used.

## To Reproduce

Steps to reproduce the behavior:

1. Create a class that extends a native clas

[2018-10-11 18:12] rickhanlonii commented on #7143
@de-ocampo are you able to post a repo or codesandbox to repro?

[2018-10-11 18:14] de-ocampo commented on #7143
No unfortunately. I will say that when setting up Jest I hit [this issue](https://github.com/facebook/jest/issues/6913) and resolved it by adding the babel-core bridge as suggested in the issue.

[2018-10-11 18:21] rickhanlonii commented on #7143
Go it, no worry. I just tried this test and it works both with and without coverage so I'm going to close until the repro steps are more clear:

[code]

[2018-10-11 18:21] #7143 closed

[2018-10-11 19:19] nmccready commented on #1914
Ok, so I know this is a hack. But I did figure out a way to make this work.

[2018-10-11 19:20] rickhanlonii commented on #7045
Hey @bodyslam, thanks for using Jest - we use https://github.com/istanbuljs/istanbuljs for coverage so any issues with coverage should probably be directed there unless related to how we pass through configs 👌

[2018-10-11 19:20] #7045 closed

[2018-10-11 19:21] rickhanlonii commented on #7044
Going to close this but happy to re-open if there's a repo we can reproduce with 👌

[2018-10-11 19:21] #7044 closed

[2018-10-11 19:22] nmccready commented on #1914
In your mock for cesium you can now

[code]

[2018-10-11 19:27] rickhanlonii commented on #6974
Thanks for the suggestion @capaj!

Users should not be editing snapshots, even to specify behavior - the test file is where behavior is specified

I'm going to close as I don't think we'll want to add this but thanks again for the suggestion 👌

[2018-10-11 19:27] #6974 closed

[2018-10-11 20:13] dotnetCarpenter commented on #7142
For future readers who find this thread.

The simple and correct way to set `document.hidden` in jest and jsdom is to add the following to your test.

[code]

In effect you will shadow `document.hidden`. A declined patch that also sets [`visibilityState`](https://developer.mozilla.org/en-US/docs/Web/API/Document/visibilityState) can be found here: https://github.com/jsdom/jsdom/pull/2392

[2018-10-11 22:46] azz commented on #7095
That's correct, it's perfectly valid syntax. Recommend adding this to your package.json:

[code]

[2018-10-11 22:46] ksjogo commented on #5556
@jpvincent
I ran into the same thing with a resx transformer.
This seems to work:
[code]

[2018-10-12 03:07] RuneKR opened #7145 "Don't ignore node_modules"
Hi,

This is basically a replica of: https://github.com/facebook/jest/issues/1995#issuecomment-256278293

Whenever you structure your project packages/node_modules/**/* the test doesn't get picked up. Have a fix been implemented via a config? I cannot find the solution at least

My project is organised:

- `package.json`
- node_modules
  - .bin
  - jest
- `packages`
  - node_modules
    - .bin (sy

[2018-10-12 04:07] hisapy commented on #1772
I'm having this problem with not so big snapshot files. In my case I got errors like

[code]

it hangs on

[code]

Is there any progress or workaround for this for snapshot testing?

[2018-10-12 07:48] rburgst commented on #7095
Works as advertised. Thanks. Funny that both VSCode and Webstorm consider
[code]
as invalid.

[2018-10-12 11:36] reklatsmasters commented on #7145
You can unignore some folders inside `node_modules` using this undocumented options:

[code]

Also, if you want to collect coverage, use this solution: https://github.com/facebook/jest/issues/5046#issuecomment-429293276.

[2018-10-12 12:51] BrendanFDMoore commented on #3254
Be aware that `/etc/sysctl.conf` is typically *overwritten* when upgrading (eg from Ubuntu 16 to 18 LTS) and will remove the higher limit. I was warned about this, but it's easy to miss in a sea of other similar warnings. Even though I _saw_ the `max_user_watches` diff, I was still thrown for a loop this morning when I first hit the error, as it is not obvious that these things are connected. Howe

[2018-10-12 14:22] tscislo commented on #6975
+1

[2018-10-12 15:05] nmccready commented on #1914
Note this only works for all tests if `--runInBand` is used as some test will get their own unique process without it.

I tried [setupFiles](https://jestjs.io/docs/en/configuration#setupfiles-array) hoping this would inject a preloaded requirejs module into the child process prior to Jests module / require environment being loaded. However this is not the case and `requirejsVars` will still be mis

[2018-10-12 15:12] nmccready commented on #1914
Actually it looks like `globals` will work fine.

[2018-10-12 15:59] hisapy commented on #1772
I found that my snapshots were huge and were the cause of the out of memory error... luckily I also found `mode: 'deep'` option of `enzyme-to-json` and changed my snapshot strategy to split large files into multiple smaller files.

[2018-10-12 16:05] ForbesLindesay opened #7151 "useFakeTimers breaks with native promise implementation"
## 🐛 Bug Report

Use the native Promise implementation breaks useFakeTimers

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

It should log:

 - promise
 - timer
 - end

This is because `runAllTimers` should trigger the async promise handler first, then the timeout delayed by 100ms, then return control.

## Actual Behaviour

 - timer
 - end
 - promise

## Link to re

[2018-10-12 16:06] ForbesLindesay commented on #7151
The workaround I've found is to add:

[code]

to my setup.js

[2018-10-12 23:27] twisty commented on #7082
@rickhanlonii Will check that out, thanks.

[2018-10-13 00:11] twisty commented on #7081
Hi @rickhanlonii, thanks for that.

I'm not familiar with package hoisting, and haven't actually considered the case of other package managers... It seems these things are never easy!

My intuition is suggesting to me that adding a dependency on `babel-jest` is a belt-and-braces response. The cli doesn't need any extra flags to enable processing with babel, it just works automagically (need to fac

[2018-10-13 00:47] rogeliog opened #7156 "Support shorthand notation for jest-watch-<plugin_name>"
## 🚀 Feature Proposal

Allow config to resolve `watchPlugins: ['typeahead/filename', 'other']` to `jest-watch-<plugin_name>`

## Motivation

Most of Jest Watch plugins are prefixed by `jest-watch` it would be great to support this shorthand version.

This should be similar to how ESLint support `plugins: ["jest"]` for `eslint-plugin-jest`

## Example

[code]

would be the same as

[code]

## Pitch

[2018-10-13 00:57] phil-lgr commented on #5311
Ouch, this is forcing me to put

[code]
in my application code... not sure what to do

if you try to debug this:
[code]
you get an unhandled error that's coming from `throw Error('error from throw');`, but the JavaScript code is perfectly valid, if you paste this in Chrome's console:
[code]
you get a console log of the two error, with no Unhandled

[2018-10-13 01:59] Fi1osof commented on #3499
This works for me too:
[code]

[2018-10-13 02:50] weisurya commented on #2143
We can try this method if we only want to assert the key

`
let input = { id: 1, name: 'anonymous', isActive: true };
        expect(Object.keys(input)).toEqual(expect.arrayContaining(['id', 'name', 'isActive'])) // All keys - Success
        expect(Object.keys(input)).toEqual(expect.arrayContaining(['id', 'isActive'])) // Specific keys - Success
        expect(Object.keys(input)).toEqual(expect.a

[2018-10-13 06:50] davidgilbertson commented on #5731
I have a similar issue; I want a variable available to all tests, but only want to write to it.

I want to be able to report the names of each test to an external system. Ideally I could hook into `it()` and just push the names to a globally-available array, then do something with that when the tests are finished.

Any other ideas would be most welcome.

[2018-10-13 09:33] JoelLau commented on #7133
Hi, if anyone isn't already, can I work on this?

And if so, is the side bar supposed to be like the one at https://jestjs.io/docs/en/api?

[2018-10-13 13:53] Frondor commented on #5856
This is not fixed for jest `"^23.6.0"`

[2018-10-13 13:56] Frondor commented on #3177
This is still a problem in "^23.6.0"

[2018-10-13 13:57] rickhanlonii commented on #7133
@JoelLau it's all you, I think we should add it to the guides as Using with jQuery here:

![](http://dp.hanlon.io/01ed4260b906/%255B5ca0029765a9e7adf753c36f1e0a9899%255D_Image%2525202018-10-13%252520at%2525209.50.48%252520AM.png)

To do that, you can add it to all 6 of the version_sidebar files (like [here](https://github.com/facebook/jest/blob/5bd6ee166a5a85749e2c8b790610f2b0af6df838/website/vers

[2018-10-13 14:10] rickhanlonii commented on #5731
Hey all - the answer to sharing globals in parallel is that you cannot do it right now

I understand the use cases (and have run into them myself), and I think we should consider some proposals to support them. The key difficulty is how do we allow you to share state between parallel tests without giving you a footgun that makes your tests interdependent and flaky

If anyone wants to think of a so

[2018-10-13 14:38] rickhanlonii commented on #6881
I think the best message would be something like:

[2018-10-13 17:05] El-Fitz opened #7158 "Jest crashes when testing using Typescript & Rewire"
## 🐛 Bug Report

Using typescript with rewire(https://github.com/jhnns/rewire) and jest for testing ended up with the following error:

    Cannot find module '../conf/replacements' from 'rules.js'
        at Resolver.resolveModule (node_modules/jest-resolve/build/index.js:221:17)
        at Object.<anonymous> (node_modules/rewire/node_modules/eslint/lib/rules.js:14:26)

This occurs because rewire

[2018-10-13 21:57] JoelLau commented on #7133
hey @rickhanlonii, thanks for the concise help! It might be asking the obvious, but is that all that is required for this issue? a change to 1 line? (it seems to easy to be true)

[2018-10-14 04:43] ShayanJavadi commented on #6643
@spot1000 I have no idea how this solves this issue, but you sir just put an end to my 3 hour long hunt to fix my enzyme bugs

[2018-10-14 07:38] SimenB commented on #7158
You've changed `moduleFileExtensions `, see https://jestjs.io/docs/en/configuration#modulefileextensions-array-string. Keep `json` in it

Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2018-10-14 07:38] #7158 closed

[2018-10-14 10:40] SimenB commented on #7133
I think that's enough 🙂 You can run the website locally to check.

[2018-10-14 11:58] ruslankhh commented on #6662
I fix this problem with them.
[code]
[code]

[2018-10-14 15:36] naveenthallapani commented on #890
class SSOtestComponent extends React.Component {

	componentDidMount() {
		let isSuccess = this.props.location.pathname === '/sso/test/success' ? true : false

		window.opener.postMessage({ type: "sso_test", isSuccess,...this.props.location.query}, window.location.origin)
	}

	onSsoAuthenticate() {

	}

	componentWillUnmount() {
	}

	render() {
		return (<Loader />);
	}
}

module.exports = SSOtest

[2018-10-14 16:19] ddruker commented on #7133
@JoelLau Are you pushing up a PR for this? I'd like to handle this today if possible.

[2018-10-14 17:51] SimenB commented on #6881
Is there a module that allows us to detect all of these invisible characters? Or other characters that are difficult to tell by looking at it, like dash vs em dash vs dash, apostrophe vs single quote etc?

For (CR)LF we could borrow these: https://github.com/concordancejs/concordance/blob/17203caddfb9013b614238da8a54ba6a3cf97944/lib/primitiveValues/string.js#L30-L32

[2018-10-14 18:47] RuneKR commented on #7145
Hi, thank you! I am still a little bit uncertain on how exactly to use this.

My project is organised:

- `package.json`
- `packages`
  - node_modules
    - `@scope`
      - `packename`
        - package.json
      - packagename
      - ...

Which `package.json` should i add the configuration to and how to add it?
Is `haste` a configuration under `jest` in the `package.json` file?

[2018-10-15 01:11] #7133 closed

[2018-10-15 01:13] rickhanlonii commented on #7151
@SimenB that's my thought as well

[2018-10-15 01:43] mrdulin commented on #971
I hit this issue. Finally, I found it's my stupid mistake. Here is my case: https://github.com/mrdulin/jest-codelab/issues/2

[2018-10-15 01:58] rickhanlonii commented on #6643
@ShayanJavadi that works because the jsdom test environment includes an implementation of `window` while the node environment (set by [jest-preset-react-native](https://github.com/facebook/react-native/blob/master/jest-preset.json#L26)) does not

[2018-10-15 02:47] Brantron commented on #7105
looks like this can be closed based on https://github.com/facebook/jest/pull/7134

[2018-10-15 02:49] Brantron commented on #6224
looks like this can be closed based on https://github.com/facebook/jest/pull/6372

[2018-10-15 06:02] nigurr opened #7163 "[Proposal] Request to add support for CI/CD pipelines for Test reporting"
_Issue:_

Currently Azure DevOps and Circle CI/CD systems provide rich test experience.
In order to get this experience/track test reporting, users has to explicitly generate test reports (currently supported format JUnit) by 3rd party plugins and publish test results.

Most of the popular open source projects aren't using 3rd party reporting plugins.
To keep local development experience and CI/CD

[2018-10-15 06:31] alanyin0322 commented on #7120
@SimenB Hi Simen, thanks a lot for the prompt reply! After looking at it a few times, I started to realise that this is actually the desired feature.

e.g. `<>{' for '}</>` fundamentally should be different (in terms of code itself) to `<> for{' '}`, although they would both give the same text output.

I was just being ridiculous thinking this might be a bug or something. Please close this issue.

[2018-10-15 06:47] SimenB commented on #7120
You can close it yourself as well 🙂

And yeah, I think this is the desired behavior - we just serialize the tree. The fact that browsers collapse `innerHTML` to clean out whitespace in `textContent` is not something the serialization should care about.

[2018-10-15 06:47] #7120 closed

[2018-10-15 06:48] SimenB commented on #6224
Right, thanks!

[2018-10-15 06:48] #6224 closed

[2018-10-15 08:00] SimenB commented on #7163
There is `jest-junit`, but you think that should be included as part of Jest? You'd probably have to tell CI where the junit.xml file is anyways, so I'm not sure how big the gain will be? It would then also be coupled to jest's (slow) release cycle.

/cc @palmerj3

[2018-10-15 08:37] novemberborn commented on #6881
@SimenB not a heck of a lot, no. The basic idea would be to use control pictures where appropriate, and `\u` sequences for everything else. That may be annoying with dashes though.

Would love to have a shareable library for this!

[2018-10-15 10:54] OKNoah commented on #3108
@DarrylD As fo now, `react-app-rewired` is warning of possible discontinuation. Fro CRA 2.0 check out `customize-cra`, which is still immature.

[2018-10-15 11:15] aonamrata commented on #1003
Did anyone get this working? I am on
[code]

[2018-10-15 13:18] El-Fitz commented on #7158
So... you were right. I did not add "json" when customising `moduleFileExtensions`, my bad.
To be honest, I genuinely thought it was a bug. But thanks !

[2018-10-15 13:32] SimenB commented on #7158
No worries 🙂

See #7160, we'll improve the error message in this case in the future

[2018-10-15 13:37] alexandermckay commented on #2441
I am also having the same issue.

[2018-10-15 13:52] alexk111 commented on #6179
Any updates on this issue?

[2018-10-15 13:57] MurakamiKennzo opened #7164 "js regexp with flag u"
Hi, guys! I'm so happy when I using jest for testing my library, recently, I find a question seems a bug with regexp flag u:

[code]

version:
jest: @22.4.4
babel-jest: @22.4.4
node: @9.10.1

isn't that a bug? Or designed like this? can anyone help?

[2018-10-15 14:30] #4025 closed

[2018-10-15 14:31] SimenB commented on #4025
Hah, forgot this... If anyone wants to send a PR for this, feel free!

[2018-10-15 14:36] SimenB commented on #7164
Seems to work like it should? https://repl.it/repls/YoungBlissfulRectangles

Mind including a full reproduction?

[2018-10-15 14:38] RohitoOo commented on #2441
I am also having the same issue.

[2018-10-15 15:21] bertho-zero commented on #6573
For me a `.babelrc` or `.babelrc.js` containing only an `extends` property does not work, renaming the file in `babel.config.js` either.

**`.babelrc`** (which does not work):
[code]

**`.babelrc.js`** (which works):
[code]

or

[code]

[2018-10-15 16:03] g-harel opened #7165 "Coverage unknown with exclusion pattern in "testMatch""
## 🐛 Bug Report

Coverage becomes unknown after adding an exclusion patter to the `testMatch` config option.

[code]

## To Reproduce

* Clone example repo
* Run `jest --coverage` (should show unknown coverage)
* Remove line `11` in `package.json`
* Run `jest --coverage (should show correct coverage)

## Expected behavior

Coverage report should be the same with or without the exclusion pattern.

[2018-10-15 16:16] rickhanlonii commented on #7163
@nigurr thanks for the suggestion - note that we don't really consider [jest-community](https://github.com/jest-community) packages as third-party as they're maintained by the jest core team and contributors in the community

I don't agree that the jest-junit code should be included in jest core because most users will not use it.

Installing jest-junit and including it in the builds you want it o

[2018-10-15 16:17] rickhanlonii commented on #7163
Also, it would be great to update the description to match our [Feature Proposal](https://github.com/facebook/jest/issues/new?template=feature.md) template

[2018-10-15 16:32] rickhanlonii commented on #7164
Yeah works for me as well, @MurakamiKennzo we can reopen if you post a reproduction 👍

[2018-10-15 16:32] #7164 closed

[2018-10-15 17:00] SimenB commented on #7105
I'm open the changing something if it's currently unclear, but not by making it inconsistent. That said, I'm not sure what change would improve it. Dimming the frame? Emphasising the matcher in the error? Having a human readable version of all matchers?

[2018-10-15 17:38] g-harel commented on #7165
I'd like to give this one a shot, do you have any pointers?

I have a feeling it is related to the patterns being "inverted" individually instead of as a unit while removing test files from coverage recording.

[2018-10-15 18:03] rickhanlonii commented on #7165
@g-harel that would be great, after getting the repo [running locally](https://github.com/facebook/jest/blob/master/CONTRIBUTING.md#workflow-and-pull-requests), I would start in the reporter [here](https://github.com/facebook/jest/blob/08cb885400c538c6f934680adc3d0b51200a0228/packages/jest-cli/src/reporters/coverage_reporter.js#L1) and work backward. You may end up [here](https://github.com/facebo

[2018-10-15 19:42] kaiyoma opened #7168 "Upgrading jsdom causes `yarn check` error with jest-environment-jsdom"
## 🐛 Bug Report

Upgrading jsdom causes a `yarn check` error with jest-environment-jsdom.

## To Reproduce

Steps to reproduce the behavior:

1. Start with version 11.12.0 of jsdom.
2. Upgrade to 12.2.0 and `yarn install`.
3. Run `yarn check`.

## Expected behavior

`yarn check` should pass. Instead it prints this error:

[code]

## Run `npx envinfo --preset jest`

This command fails on Windows wi

[2018-10-15 19:45] kaiyoma opened #7169 "`npx envinfo --preset jest` fails on Windows with a stack trace"
## 🐛 Bug Report

`npx envinfo --preset jest` fails on Windows with a stack trace.

## To Reproduce

Steps to reproduce the behavior:

1. Run `npx envinfo --preset jest` on Windows.

## Expected behavior

Some kind of output. Instead, this appears:

[code]

[2018-10-15 20:01] g-harel commented on #7165
Thanks, that's exactly where I needed to check!

[2018-10-15 20:24] raulsebastianmihaila opened #7172 "Weird setImmediate issue"
## 🐛 Bug Report

The following test is reported as failing:

[code]
thrown: undefined
at Spec (node_modules/jest-jasmine2/build/jasmine/Spec.js:85:20)

However, the following is ok:

[code]

Also the following is ok:

[code]

## To Reproduce

## Expected behavior

The first example shouldn't fail.

## Link to repl or repo (highly encouraged)

[https://repl.it/repls/AbsoluteAvariciousImplementation

[2018-10-15 20:37] SimenB commented on #7172
Jest attaches an unhandled rejections handler, which picks up on your `Promise.reject`. We should probably improve the error in this case to include that it was an unhandled error. In your example number 2, you resolve from the test before the rejection, so we  don't pick it up (maybe we should?).

https://github.com/facebook/jest/blob/e0ba3e65a5da095d30f2d5e30df61a2a4a81be28/packages/jest-jasmine

[2018-10-15 20:37] #7172 closed

[2018-10-15 20:40] SimenB commented on #7168
I cannot reproduce this.

[code]

But if the tree ends up in a state Yarn doesn't like, I think you should report it to Yarn, not here. We have no control over the package manager.

If this somehow _is_ and issue with Jest I'll happily reopen this issue!

[2018-10-15 20:40] #7168 closed

[2018-10-15 20:46] SimenB commented on #7169
Oh, that's weird! Seems like npm crashes, if I'm reading the stack right? Don't think I've seen that before.

Can you open up an issue at https://npm.community/c/bugs?

Neither that command, or the preset, comes from jest or any modules we control, it's just a way of quickly listing out node, npm/yarn and jest version installed.

[2018-10-15 20:46] #7169 closed

[2018-10-15 21:11] pedrottimark commented on #7105
We are working step by step toward two related goals for reports when a matcher fails:

* remove redundant wording in labels
* change formatting of matcher name from dim to **regular** font weight

[2018-10-15 22:18] andrearosr commented on #4969
Hello!
I'd love to help too!
I went over sub folders under jest-config (last referenced in this thread) and it seems there's still work to be done. Can I take the next in line?

[2018-10-15 23:09] MurakamiKennzo commented on #7164
It seems babel's bug or babel-jest bug?

it happened so simply when you must use jest-babel to transform js and the .babelrc file like this:

[code]

and, in you test code, you can do like this:

[code]

it happened!

But if you not use jest-babel, it will be ok, isn't it a jest-babel or babel bug?

[2018-10-16 00:18] SimenB commented on #7164
Yes, this is babel, see https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgziA2CmB00QHMAUB6AOgVwN4DYBGAX3W3mzAEtQATWASgAJ10mAzAQ2gliA&debug=true&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=script&lineWrap=true&presets=env&prettier=true&targets=&version=7.0.0-rc.4&env

[2018-10-16 01:05] MurakamiKennzo commented on #7164
ok, thank you! I got it.

[2018-10-16 03:23] bambielli opened #7174 "Documentation for setupFile configuration option seems misleading"
## 🐛 Bug Report

The documentation for the `setupFile` configuration option is misleading.

[Here's a link](https://github.com/facebook/jest/blob/master/docs/Configuration.md#setupfiles-array
) to the documentation.

It states that the setupFile will be run `once per test`, however it appears that the setupFile runs once per test *file*.

## To Reproduce

Add a setupFile to your jest repository, w

[2018-10-16 07:07] thymikee commented on #7174
We're making some changes to `setupFiles` et al., so we could squeeze it here: https://github.com/facebook/jest/pull/7119. Can you comment there?

[2018-10-16 07:47] SimenB commented on #4969
Yeah, go for it!

[2018-10-16 08:03] mrdulin opened #7175 "Set variables in `beforeAll` hook, get `undefined` value in `describe` block"
## 🐛 Bug Report

Set variables in `beforeAll` hook, get `undefined` value in `describe` block; I am not sure it's a bug or is there any purpose for designing `jest` like this?

## To Reproduce

Steps to reproduce the behavior:

Here is my test code:

[code]

Here is the stdout:

[code]

## Expected behavior

I can get `env` value in `beforeAll` hook and each `test` case. But can not get `env` valu

[2018-10-16 08:16] ellipticaldoor commented on #7128
I like the current behaviour, if you have a big response from an api that you want to snapshot and the only thing that changes is a date, then you only need to specify the only field that changes.

[2018-10-16 08:20] michaloo commented on #7021
I think the problem is that `babel-jest` expects babel configuration file `babel.config.js` to simply return a JS object:

https://github.com/facebook/jest/blob/master/packages/babel-jest/src/index.js#L58

while babel js started to promote a config API which allows to return a function:

https://babeljs.io/docs/en/config-files#config-function-api

and this is what we have in the example repo proje

[2018-10-16 08:49] valerie1995 commented on #7021
You 9and

On Tue, Oct 16, 2018, 1:20 AM Michał Rączka <notifications@github.com>
wrote:

[2018-10-16 08:59] SimenB commented on #7175
This is by design, see https://jestjs.io/docs/en/troubleshooting#defining-tests

[2018-10-16 08:59] #7175 closed

[2018-10-16 09:12] azz opened #7176 "Inconsistent output with --coverage"
## 🐛 Bug Report

When code-covered files exist in the root directory, the `--coverage` output will include the name of the directory. This is not desirable in CI scenarios where the working directory will vary.

## Actual

https://github.com/azz/jest-istanbul-issue/tree/master

When a file exists at root (above), the output is:

[code]

Note the `jest-istanbul-issue` above.

## Expected

https://g

[2018-10-16 09:28] nigurr commented on #7163
@rickhanlonii @SimenB thanks for your inputs.
We have done some of the analysis on how many users are actually using Jest, Jest with custom reporters.
Statistics shows that only 20% of the users are using custom reporters while rest of them are using the Jest-Core which is writing the test results to std_out.
We can go in depth to understand how rest of the 80% users are using CI pipeline or not a

[2018-10-16 09:29] bertho-zero opened #7177 "babel-jest doesn't work when the babelrc contains only the `extends` property"
## 🐛 Bug Report

babel-jest doesn't transform es6 files when the babelrc contains only the `extends` property.

## To Reproduce

Use a `.babelrc.js` like this:
[code]

## Expected behavior

`import` should be transformed.

## Workaround

This works with:
[code]
or
[code]

## Run `npx envinfo --preset jest`

Paste the results here:

[code]

[2018-10-16 12:18] parthmakadiya12 commented on #1553
`dateFormatChanger = dateFormatChanger.replace(/d|D/, "DD");`

I still get error
TypeError: dateFormatChanger.replace is not a function

[2018-10-16 12:43] jure commented on #5457
For what it's worth, we've had the same problem for a good while, but since we've been using the fix in https://github.com/istanbuljs/babel-plugin-istanbul/pull/171, we're getting coverage on all of our projects in a multi-project Jest... uhm... project. :) As described in the PR above, I believe this is the cause of several multi-project coverage related issues: this one, facebook/jest#5417 and f

[2018-10-16 12:49] SimenB commented on #7176
IMO the second case should include `/src` as well. So everything is always relative to the root of the project `rootDir`.

[2018-10-16 13:02] dbartholomae commented on #5731
@rickhanlonii Where's the best spot to discuss such proposals? Didn't find any info in CONTRIBUTING.md how to handle feature requests.

[2018-10-16 13:22] RashidIshaque opened #7179 "Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code."
aa is create  command  create-reayarn add v1.10.1
info No lockfile found.
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
[4/4] Building fresh packages...

success Saved lockfile.
success Saved 20 new dependencies.
info Direct dependencies
└─ react-native-scripts@2.0.1
info All dependencies
├─ ansi-styles@3.2.1
├─ babel-runtime@6.26.0
├─ chalk@2.4.1
├─ color-co

[2018-10-16 13:29] jamietre opened #7180 "Allow configuring using an array of `testRegex`"
## 🚀 Feature Proposal

Creating dynamic configurations to include or exclude specific things is difficult because of inconsistency in how config allows specifying inclusions and exclusions.

- `testRegex` allows only a single regexp
- `testMatch` allows an array of globs
- `testPathIgnorePatterns` allows an array of regexps

So there's no format (regex or glob) that can be used to build an array t

[2018-10-16 13:33] Marchelune commented on #1700
Hi ! Maybe I'm doing something wrong, butI still have an issue with custom errors in async calls. Consider the following:

[code]
then the test fails with the following output:

**So the test fails - whilst it works perfectly when the thrown class is `Error`**. When I try to extend `Error` with
[code]

then the error is

Any clue on something I would be doing wrong here ? I'm using jest 23.4.2.

[2018-10-16 14:14] keithriver commented on #3254
Funny thing about `fs.inotify.max_user_watches=524288`
In my case it seems the project is large enough that `524288` isn't big enough of a number. So... well `fs.inotify.max_user_watches=2048000` helped.
Might also be related to the matter of opening a lot of stuff in vs code on the side.

[2018-10-16 14:17] biomedia-thomas opened #7181 "Jest-worker has no workers by default with one CPU"
## 🐛 Bug Report

jest-workers default for numWorkers is the [number of CPUs minus 1](https://github.com/facebook/jest/blob/69654b579ee1666724ad5fa7caabf84838595b31/packages/jest-worker/src/index.js#L60). When there is only one CPU this results in a default numWorkers of 0 and no workers will be started.

## To Reproduce

On a setup with only one CPU, use jest-worker with numWorkers option left to

[2018-10-16 14:55] kaindy7633 opened #7183 "I hava a problem about Webpack's require.context in Jest"
I want to use jest to test my Vue component, but the component has a child component and it use the Webpack's require.context, so, after test task , it's repeat a FAIL,

"TypeError: require.context is not a function"

I tried to fix it but it didn't work, including the method on stockoverflow，please help me, thanks!

[2018-10-16 14:58] dbartholomae opened #7184 "Allow to share global state between tests from globalSetup"
## 🚀 Feature Proposal

Add a `global` property to the `this` of globalSetup and globalTeardown async functions that can be used to set global variables that can be accessed in all tests via `global`. The same global is shared across all tests.

## Motivation

While jest was in the beginning used only for frontend testing, it has moved in the direction of becoming a general test framework. Especial

[2018-10-16 14:58] thymikee commented on #7183
Duplicate of https://github.com/facebook/jest/issues/2298
You'll need to mock `require.context` and assert on that.

[2018-10-16 14:58] #7183 closed

[2018-10-16 14:58] dbartholomae commented on #5731
Thanks! For those looking, I set up a feature request at #7184.

[2018-10-16 15:18] SimenB commented on #7184
First comments is that the setupfiles shouldn't assign to `this`. If we do this, I think the setup should `return` something, and we can assign that inside of jest itself.

Also, I _think_ anything assigned will need to be serializable, I don't think it's technically possible for it to be e.g. an instance of something (we need to send it to workers which is a separate node process)

[2018-10-16 15:36] SimenB commented on #7179
Please follow the template, This also seems to be something about yarn and react-native, neither of which should be reported in this issue tracker.

Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2018-10-16 15:36] #7179 closed

[2018-10-16 15:47] SimenB commented on #7180
@rickhanlonii @thymikee we just discussed config overhaul as it's quite the hot mess, and the mess that is regex vs glob, separate ignore fields etc should definitely be on the chopping block.

A single issue going through all config options (and CLI options) might make sense, although I guess file matching is big enough to be discussed on its own (e.g. in this issue).

---

So to be on topic; for

[2018-10-16 15:49] raulsebastianmihaila commented on #7172
Hi @SimenB. I'm afraid that can't be right.
First of all please see these tests that include many rejections: https://repl.it/repls/WarlikeHopefulWrapper

[code]
None of it fails, even if there is a UnhandledPromiseRejectionWarning from node.
And they shouldn't fail. Please take a look at 'test4'.
[code]
It's a perfectly valid test, jest shouldn't report it as failed.
In conclusion:
1) the test th

[2018-10-16 15:49] dbartholomae commented on #7184
I took the `this` pattern from [environments](https://jestjs.io/docs/en/configuration.html#testenvironment-string). It seemed a bit odd to me, too, but would be consistent.

If the object needs to be serializable, then unfortunately a lot of merit of this feature would be lost. My main usecase would indeed be using `nock` which attaches itself to its processes `http` module and therefore needs to

[2018-10-16 15:49] jamietre commented on #7180
Using globs exclusively is definitely preferable imho. I was going for a quick fix here; but I'm definitely in favor of standardization if breaking changes are on the table.

[2018-10-16 15:52] SimenB commented on #7184
Yeah, the envs are the ones that construct the `global` used in tests, so it makes sense that they have it. Doesn't mean it's a nice pattern, though 😀

Due to a hole in the sandbox (we give you the real core and native modules) nock _should_ work. Note that it might break at any time, as that's a abug.

[2018-10-16 15:53] rickhanlonii commented on #7180
Short term I think it makes sense for testRegex to accept either a string or array 👍

[2018-10-16 15:54] jamietre commented on #7180
If you all are amenable to that solution for now I can take a crack at it, it doesn't seem like it would be a big change.

[2018-10-16 15:55] dbartholomae commented on #7184
It should? Interesting, I'll give it another try. Last time I didn't get it to work. Basically what this feature proposal is about is providing a sanctioned way to do this.

[2018-10-16 15:55] SimenB commented on #7180
Doing `config.testRegex = Array.isArray(config.testRegex) ? config.testRegex : [config.testRegex];` in https://github.com/facebook/jest/blob/master/packages/jest-config/src/normalize.js should be easy enough to land, yeah

[2018-10-16 15:55] rickhanlonii commented on #7174
For now it probably makes sense to update the docs to say

[2018-10-16 15:56] rickhanlonii commented on #7180
All you @jamietre!

[2018-10-16 16:02] rickhanlonii commented on #7128
@ellipticaldoor we would keep that but would add the requirement that you specify a matcher

[code]

[2018-10-16 16:04] rickhanlonii commented on #7177
I want to test this - which version of babel are you using?

[2018-10-16 16:28] SimenB opened #7185 "Simplifying configuration"
This is a bit rambling, sorry about that. Feel free to edit this to clean it up and add more to it.

Jest currently has 51(!!) configuration options, many of which overlaps or intentionally overrides other options. (CLI options are out of scope for this issue, but they are obviously very much related)

They fall into a few different categories:

- file matching
  - some are arrays, some are not.

[2018-10-16 17:05] bertho-zero commented on #7177
I use the latest version, 7.1.2.

[2018-10-16 17:28] rickhanlonii commented on #7163
@SimenB jest-junit supports specifying the output file via `JEST_JUNIT_OUTPUT` so presumably the CI system would set something like `JEST_JUNIT=1 JEST_JUNIT_OUTPUT=/path/to/xml` and then they could automatically pick it up if it's output - is that what you're thinking @nigurr?

If it's possible to do this with no configuration change for the user (for example without editing circle.yml to add enva

[2018-10-16 17:59] palmerj3 commented on #7163
I wouldn't be against adding jest-junit directly to jest. I just don't buy the argument that it's a requirement.

[2018-10-16 18:44] rickhanlonii commented on #7177
@bertho-zero I tested and this appears to be working, see this [repo](https://github.com/rickhanlonii/jest-issue-7177)

The issue may be with `'@openagenda/babel-config'`

[2018-10-16 18:44] #7177 closed

[2018-10-16 18:51] bertho-zero commented on #7177
`@openagenda/babel-config` is a function that returns the config (https://babeljs.io/docs/en/config-files#config-function-api):

[code]
There is no problem with `@openagenda/babel-config`.

[2018-10-16 18:58] bertho-zero commented on #7177
https://github.com/facebook/jest/blob/master/packages/babel-jest/src/index.js#L52

https://github.com/facebook/jest/blob/ee9fc73963b0f6706e97c434f0c74b75d9c8a8b7/packages/babel-jest/src/index.js#L50-L54

If the result of this require is a function then it should be called and not JSON.stringified, in my opinion. In addition plugins can be simple require calls (which returns a function). JS should

[2018-10-16 19:45] rickhanlonii commented on #6027
I've seen this used before and since node people are directing folks to do it I'm also +1 for supporting 👍It's not like we're ever going to use "//" as a config for anything

Labeling good first issue! @melissachang any interesting in taking it?

[2018-10-16 19:54] rickhanlonii commented on #6184
Oh this is great, so basically when doing the diff, also compare the asymmetric matchers

What do you think @pedrottimark?

[2018-10-16 19:57] melissachang commented on #6027
Sorry, not at the moment :/

[2018-10-16 20:08] bambielli commented on #7174
I'll open a PR tonight.

[2018-10-16 20:15] pedrottimark commented on #6184
Yes, serialize-then-diff is barrier to solve some obvious problems. See also #7027

This has been in my slow cooker for a while with limited progress. Happy to hear your thoughts.

[2018-10-16 20:30] rickhanlonii commented on #6027
No sweat!

[2018-10-16 20:32] rickhanlonii commented on #7027
Is this a dupe of https://github.com/facebook/jest/issues/6184?

[2018-10-16 20:39] calebeby commented on #7027
I believe so

[2018-10-16 20:40] rickhanlonii commented on #7027
Cool, thanks, will close in favor of that since it's older 👌

[2018-10-16 20:40] #7027 closed

[2018-10-16 21:02] SimenB commented on #7156
Yeah, I think that's a good idea. Matches preset and environment today

[2018-10-16 21:05] SimenB commented on #6559
We have a PR upgrading everything to babel 7 (including istanbul deps), so I think it's fine to close this.

#7016

[2018-10-16 21:05] #6559 closed

[2018-10-16 21:07] SimenB commented on #6519
@pedrottimark are you fixing this in your PR?

[2018-10-16 21:07] SimenB commented on #6545
This must have been a temporary error with the registry, it installs fine now

[2018-10-16 21:07] #6545 closed

[2018-10-16 21:09] SimenB commented on #2713
This is fixed in Jest circus, we won't be fixing it for Jasmine. If somebody sends a PR that's fine, but I'm going to close this as we won't get to it

[2018-10-16 21:09] #2713 closed

[2018-10-16 21:12] SimenB commented on #6463
I haven't checked, but I'd guess this is due to #2549

[2018-10-16 21:12] SimenB commented on #6448
#6456

[2018-10-16 21:12] #6448 closed

[2018-10-16 21:16] SimenB commented on #7163
Somewhat related: #3536

[2018-10-16 21:20] SimenB commented on #6306
Replacing any `:` with a valid character in the filename should be easy enough.

[2018-10-16 21:44] rickhanlonii commented on #6152
@SimenB they sure can!

[2018-10-16 21:44] #6152 closed

[2018-10-16 21:46] rickhanlonii commented on #7156
Love this! Can we add this for 24?

[2018-10-16 21:49] rogeliog commented on #7156
Yes, I’ll work on this tomorrow

[2018-10-16 21:51] SimenB commented on #5478
@rogeliog thoughts on opening up a separate issue for the CI stuff?

[2018-10-16 21:56] SimenB commented on #6152
If somebody creates that plugin, make sure to send a PR to https://github.com/jest-community/awesome-jest

[2018-10-17 00:28] ruiaraujo commented on #5739
@huafu any chance of doing the PR?

[2018-10-17 01:20] huafu commented on #5739
@ruiaraujo I actually had to run on another thing, and my project to hurry to finish. I have started a PR, AFAIR it was not as hard as I thought, ...was harder.

So no, not finished, and now can't even remember what was the issue I was stuck with.

FYI this is my branch, but I think I started again from sratch locally. Anyway, could give you the idea of what should be done.

I'm sorry it's not in

[2018-10-17 04:15] nigurr commented on #7163
@SimenB @rickhanlonii this can be driven through Environment variable.
For example `JEST_OPTS  :  --reporter Junit", By default the test results will generated in the current working directory and this is scoped in all CI/CD pipelines and easy to search "*/Junit*.xml"
An advanced version could be `JEST_OPTS  :  --reporter Junit --reportDir ./results/`

The environment variable `JEST_OPTS` can be g

[2018-10-17 05:05] rogeliog commented on #5478
Yes, let's open a separate issue... Although I think we can just close it and then open a separate issue if it is ever needed.

[2018-10-17 05:52] #6453 closed

[2018-10-17 05:54] SimenB commented on #5478
Yeah, let's do that instead 🙂

[2018-10-17 05:54] #5478 closed

[2018-10-17 06:49] LiranBri commented on #2441
I'm also experiencing this when using verbose or when in watch mode

[2018-10-17 09:59] deser commented on #3832
?

[2018-10-17 10:09] SimenB commented on #3832
Using `process` is a hack that will probably break (it's a bug).

You probably want to follow #7184

[2018-10-17 13:13] jamietre commented on #7180
I have this working, except that in https://github.com/facebook/jest/blob/master/packages/jest-config/src/normalize.js line 348, we call `validate` which validates by matching types from an object`VALID_CONFIG`: https://github.com/facebook/jest/blob/master/packages/jest-config/src/ValidConfig.js

There's no obvious way to make this work for something that can be more than one type without some exc

[2018-10-17 13:18] markpradhan commented on #4032
This works:

[code]

[code]

[code]

[code]

[code]

[2018-10-17 13:37] SimenB commented on #7180
Mind pushing what you have to a branch so we cab play with it?

@thymikee thoughts on the validation

[2018-10-17 14:03] jamietre commented on #7180
Here's the branch on my fork; lmk if I should make a pull request.

https://github.com/jamietre/jest/commits/jamiet/multiple-test-regexes

[2018-10-17 14:17] thymikee commented on #7180
I think I like the "MultipleValidOptions" addition to `jest-validate`, makes sense imho. Send a PR :)

[2018-10-17 14:21] jamietre commented on #7180
OK, sounds good... I still need to fix up how validation errors involving multiple valid options are reported, will do that & send it on.

[2018-10-17 14:55] rickhanlonii commented on #7163
@nigurr do you expect CI systems to make a change to provide these envars by default?

[2018-10-17 15:11] michaeljota commented on #6739
I having this same issue. I'm thinking maybe `--watch` options actually spawns another child process separated from the process that the debugger has access?

[2018-10-17 17:27] #7174 closed, assigned to nobody

[2018-10-17 18:41] rickhanlonii commented on #3585
Thoughts on doing this by default for --ci?

[2018-10-17 20:35] rattrayalex-stripe commented on #6295
I saw "jest circus" referenced in https://github.com/facebook/jest/issues/2713#issuecomment-430402012 - should it have a readme? have to do some digging to discover that it's a "jest-jasmine" thing.

[2018-10-17 20:47] rickhanlonii opened #7197 "testNamePattern does not work as expected with named snapshots"
## 🐛 Bug Report

When using the `--testNamePattern` option and named snapshots, snapshots not matching the pattern are listed as "obsoleted" instead of "skipped" (as they are without using a snapshot name)

## To Reproduce

Steps to repro:

- Create two snapshot tests (different names), write snapshot
- Run one test by matching `testNamePattern`
- Observe non-matching test is skipped
- Add snapsho

[2018-10-17 20:49] rickhanlonii commented on #7041
Looked into this and found that this is related to this issue: https://github.com/facebook/jest/issues/7197

[2018-10-17 20:52] rickhanlonii commented on #7197
If this method is updated to strip the snapshot names, it will work: https://github.com/facebook/jest/blob/8eefa9690e167e9f056ec5d9532a9df465018c67/packages/jest-snapshot/src/utils.js#L86-L92

The problem is I don't know how to do that without breaking test names that have colons in them - i.e. how do we reliably delineate between the test name and the snapshot name

[2018-10-17 20:56] rickhanlonii commented on #7041
I confirmed that the root cause of this is #7197 so going to close in favor of that

Thanks again for the report @mr-wildcard!

[2018-10-17 20:56] #7041 closed

[2018-10-17 20:57] rickhanlonii commented on #7197
Specifically, changing line 91 above to this will fix the issue:

[code]

[2018-10-17 21:04] rickhanlonii commented on #6295
A readme for jest-circus is a great idea

[2018-10-17 21:21] rattrayalex-stripe commented on #2713
Sorry, what's the relation with jasmine here? For people who are _not_ using jasmine, failures in `beforeAll` et al still seem to require a try/catch + process.exit.

[2018-10-17 21:41] komali2 commented on #6229
SimenB, that solution is not working for vue-cli.

https://github.com/vuejs/vue-cli/issues/1584

We don't have .babelrc, or .babel.config.js. I tried creating a basic one, it didn't work.

[2018-10-17 21:59] rattrayalex-stripe commented on #2713
Ah, gotcha, thanks – guess if I'd been more patient on my request for a jest-circus readme I'd have found that out 😅 thanks @rickhanlonii !

[2018-10-17 22:14] rickhanlonii commented on #6295
@rattrayalex-stripe README added here: https://github.com/facebook/jest/pull/7198

[2018-10-17 22:58] rickhanlonii commented on #6295
@captbaritone have we done this?

I installed jest-jasmine2 and set the `testRunner=jest-jasmine2` and tests run

[2018-10-17 23:51] federicobarera commented on #6021
Hey, just a heads up, we managed to fix the 'issue' changing the `rootDir` back to the real root of the project (and re adjusting the other paths accordingly).

We also noticed that other tools tend not to work as expected when the config files / runners are not in root (eg. babylon-jest). It might just be a non common folder structure.

[2018-10-18 00:10] rickhanlonii commented on #6021
Ah, yeah, I think we only support root being, well, a root

Agree that this is pretty uncommon so going to close but if someone wants to take a look and support I'm happy to review

[2018-10-18 00:10] #6021 closed

[2018-10-18 00:52] g-harel commented on #6021
Not sure how much help I could be here, but I tried following the code a bit.

The instrumenting for this setup is being done by [babel-jest](https://github.com/federicobarera/jest-coverage-repro/blob/master/build/jest/jsTransform.js) which uses [babel-plugin-istanbul](https://github.com/istanbuljs/babel-plugin-istanbul).

Looks like it's passing the `rootDir` as cwd, but [anything outside of ther

[2018-10-18 07:56] medikoo commented on #6695
It doesn't seem to be fixed in latest Jest (v23.6.0). So it's fixed for what users exactly? Facebook internal?

[2018-10-18 08:29] natealcedo commented on #7105
@pedrottimark Is there currently a pull request with the initial work started for this? I'd love to help if the plan is to update matchers one by one.

[2018-10-18 08:43] SimenB commented on #7105
See #7152

[2018-10-18 08:54] SimenB commented on #6695
See the comment above: https://github.com/facebook/jest/issues/6695#issuecomment-405326998

Install circus (which will become the default in Jest at some point) and you should be good. Also see #7198

[2018-10-18 08:56] #6126 closed

[2018-10-18 09:02] SimenB commented on #2713
Yup! Also see https://github.com/facebook/jest/issues/6695#issuecomment-405326998

[2018-10-18 09:17] medikoo commented on #6695
Thanks I'll follow. Still why then it's not set as default? Are there any other issues we should be aware of? Is `jest-circus` considered stable?

[2018-10-18 09:42] SimenB commented on #6695
You can follow #6295 for state of making it the default.

[2018-10-18 10:31] #6072 closed

[2018-10-18 11:03] SmolinPavel commented on #717
Let's save a few lines :)

[code]

[2018-10-18 12:21] storrisi commented on #1767
I've solved removing the `--watch` option and using instead `--no-watchman`

[2018-10-18 12:35] ForbesLindesay commented on #7151
I think you're right about *why* this doesn't work, but I don't think you're really right about this working as intended. Promises are a form of timer, and because in the past everyone was using polyfills, this used to work and only recently stopped working.

[2018-10-18 12:46] SimenB commented on #7151
The fact people use promises differently isn't Jest's responsibility - it was never a feature of Jest that you could run Promises using its fake timers. As you've noted, polyfilling it with something that uses timers as its implementation makes it work again

[2018-10-18 13:41] pedrottimark commented on #7105
@natealcedo Here are pictures of baseline (at left) and improved (at right) report for `toEqual` matcher also applies to `toStrictEqual` matcher. You are welcome to open a pull request with the code changes.

<img width="1000" alt="toequal" src="https://user-images.githubusercontent.com/11862657/47158280-4b5d7980-d2b9-11e8-8320-1746d74e4229.png">

<img width="1000" alt="not-toequal" src="https://u

[2018-10-18 13:59] infctr commented on #4682
@bdimitrovski
You're essentialy not ignoring your `node_modules` folder on CI environment, as all the packages are installed in your specified cache folder `.cache/yarn`, you can read that in your log

Try ignoring that foder in jest config:
[code]

[2018-10-18 14:14] rubennorte commented on #7185
I completely agree we should rethink our configuration options, so thank you for collecting all this.

Some comments:

I think we should favor regular expressions over globs, as they're more expressive and anything that can be expressed as a glob can be as a regexp. I'd also keep the `ignore` versions as they're simpler than negated patterns.

I'm not sure we should group configuration options in

[2018-10-18 14:16] rubennorte commented on #7180
Linking to #7185. This is something we'll probably want to include there

[2018-10-18 14:28] SimenB commented on #7185
The syntax is also way harder, though. I find globs more readable, and easier to write (as you can probably do `ls myglob` in the terminal to test, that's hardet with regex). Escaping globs are easier as well, I think.

As long as we allow an array of globs and apply them in order, it's easy enough to just include an `!`. Harder with regexes, though.

I agree on this one, at least depending on how

[2018-10-18 14:36] jamietre commented on #7185
Also a fan of globs for file pattern matching. As long as you can pass arrays for all matchers, the limitations vs. regexp seem like not a big deal.

Another alternative (or addition) that would be great is just allowing any file pattern config to also accept `(file: string) => boolean` as its argument and let the consumer do whatever they want.

[2018-10-18 14:44] thymikee commented on #7185
Glob arrays + functions seems like a nice compromise of ease-of-use vs power to me.

[2018-10-18 14:47] SimenB commented on #7185
Passing a function could definitely work. Would it be inline, or point to some file the exports a function? Both?

[2018-10-18 14:49] rubennorte commented on #7185
It should be a function because otherwise it'd have to be split in two different configuration options (we can't distinguish a string being a glob or a file containing the function).

[2018-10-18 14:55] SimenB commented on #3585
Should always do it

[2018-10-18 14:58] jamietre commented on #7185
Yes, this seem the most flexible since anyone is always free to just import their function.

Another related discussion here is that a some other config options require that something that's really just a function be implemented as a node module, e.g. `resolver` `testResultsProcessor`, etc.

I'd prefer just allowing config to accept a function for these; people can always implement it as a module

[2018-10-18 15:02] SimenB commented on #7185
It's something from when config had to be in package.json. I'm all for saying "use js config". Presets should help keep boilerplate down and if that's an issue for people.

We also have to consider people passing stuff from the CLI, but I don't think that _too_ important for stuff that rarely change (like result processors, resolver, etc).
The use case of setting certain reporters etc on CI only i

[2018-10-18 15:02] mynameistechno commented on #1767
Upgrading Jest (or react-scripts if you use cra) fixed it for me. React-scripts 2 went stable recently.

[2018-10-18 15:08] jamietre commented on #7185
I suppose you could overload again, and accept a string or an fn, where a string is always treated as an npm package? Specifying a reporter by npm package name on the CLI could be useful, though interestingly that can't be done now afaict ;)

[2018-10-18 17:41] rogeliog commented on #7156
I might not be able to get to this during the week, so if anyone wants to pick it up you are more than welcome.

Here is the implementation for shorthands on ESLint
https://github.com/eslint/eslint/blob/master/lib/util/naming.js#L25

Here is the implementation for shorthands on Babel https://github.com/babel/babel/blob/f6643d1804c977cc7e9f769ad24d7baeb8b9a5ed/packages/babel-core/src/config/files/p

[2018-10-18 19:08] SimenB commented on #7156
And this is Jest's: https://github.com/facebook/jest/blob/814c92999162ab07bf259ae67d13dc8b89cb37e0/packages/jest-config/src/utils.js#L105-L142

[2018-10-18 20:16] rogeliog commented on #7156
@SimenB you are awesome! 👏👏👏👏👏👏👏👏👏, this means that I might get to it during this week.

[2018-10-18 21:02] EmilNordling opened #7212 "Jest does not transpile code correctly when it's not runed manually."
## 🐛 Bug Report
Hello!

My set up is Babel 7 with TypeScript and the jest.config's transform property is set to `babel-jest`. The reason why I'm not using `ts-jest` is because I want to transpile the code with Babel so I can use the [preval plugin](https://github.com/kentcdodds/babel-plugin-preval).

This works great when I when I manually runs `yarn test`, it'll transpile the code according to th

[2018-10-18 21:44] SimenB commented on #7212
I cannot reproduce this. I'm also on mac...

![image](https://user-images.githubusercontent.com/1404810/47185936-39b6b900-d32f-11e8-9b45-a535f8f33b9f.png)

(btw, when using jest in a commit hook a good idea might be to use something like `lint-staged` and `findRelatedTests` to only run the changed tests, see https://jestjs.io/docs/en/cli.html#findrelatedtests-spaceseparatedlistofsourcefiles)

[2018-10-19 00:10] r01010010 commented on #2441
Believe it or not I sometimes log throwing an Error. Also doing `node --inspect node_modules/.bin/jest --runInBand mypath/to/test.js" shows the real `console.log` outputs.

[2018-10-19 03:27] phyllisstein commented on #6463
Oh wow, thank you so much for weighing in @SimenB! In the course of getting up to speed on the details of #2549, I wound up checking to see what would happen if I moved the environment bootstrapping code from a `setupTestFrameworkScriptFile` script to a custom environment:

[code]

After pointing Jest's `testEnvironment` option to this file and removing the `setupTestFrameworkScriptFile`, all my `

[2018-10-19 03:28] #6463 closed

[2018-10-19 06:03] natealcedo commented on #7105
Sure! I'll take a look at it over the weekend

[2018-10-19 07:44] EmilNordling commented on #7212
This is my bad, the info I provided is wrong. Wrote this on my mac at home and didn't double check the output error - just figure it was the same. I does work perfectly on mac.

We're using Windows at work, here's an updated envinfo.

[code]

I took some screenshots of what happens when I commit.
![image](https://user-images.githubusercontent.com/8842821/47204084-b1620380-d382-11e8-8b96-0f639247b7

[2018-10-19 11:09] SimenB commented on #4337
@thymikee closed by #7207?

[2018-10-19 11:41] #5780 closed

[2018-10-19 11:42] thymikee commented on #4337
yes!

[2018-10-19 11:42] #4337 closed

[2018-10-19 14:08] SimenB commented on #7176
@bcoe could you help out here? Is it possible to change the base reporting directory? I found https://github.com/gotwarlost/istanbul/blob/bc84c315271a5dd4d39bcefc5925cfb61a3d174a/lib/util/file-matcher.js, but setting a breakpoint in it doesn't seem to change anything.

Our code: https://github.com/facebook/jest/blob/22f67d49ffcce7a5b6d6891438b837b3b26ba9db/packages/jest-cli/src/reporters/coverage_

[2018-10-19 15:52] ravihugo commented on #6683
No idea why, but this stopped working for me now. I think it's something to do with the workers being created when in watch mode. I don't think there is a way to prevent it now. Maybe I'm missing something.

[2018-10-19 16:00] ashnur commented on #6691
also would be nice to know how to use this option from CLI, because there any kind of value basically just makes everything to be ignored all the time...

[2018-10-19 16:55] nothingismagick commented on #2441
I actually want JEST to fail the test suite if a console.log() is used.
I guess this is the wrong thread for that. Any ideas?

[2018-10-19 16:57] thymikee commented on #2441
yep it's wrong thread.
[code]

[2018-10-19 17:40] babramczyk opened #7220 "Custom threshold for test time warning/errors"
## 🚀 Feature Proposal

Provide a custom way to set the thresholds for when the time in the logged output is highlighted (red, for example, when a suite/test takes a long time).

Even a way to turn these warning colors off would be useful.

## Motivation

Some tests are known to take a long time (e.g. spinning up databases, testing database operations), and it'd be nice to not be warned with those

[2018-10-19 18:11] cleverbeagle commented on #5124
Adding an example of testing `location.search` based on @vastus's solution:

[code]

[2018-10-19 18:57] piratefsh commented on #7093
Hey @rickhanlonii, my initial thought is that custom matchers can export a `cleanup` function that can be called by TestScheduler after all tests are done running. This is what `jest-snapshot` currently does.

For the cleanup to work for snapshot-style matchers, it is passed in:
- all known test files and snapshot files (via something called HasteFS it seems)
- a way to resolve test -> snapshot fi

[2018-10-19 20:43] jcollum commented on #1652
Sorry, I don't have anything specific here. Sometimes hitting a breakpoint in a file that's behind a sourcemap is just flaky. Next time I need to debug a jest test I'll give NIM another shot.

[2018-10-19 21:29] jahed commented on #7021
I "fixed" this on my end. In that, I deleted a bunch of stuff that I didn't see a need for -- likely due to my own ignorance. Of course, a proper fix would be nice, but this has worked fine for me so far.

Essentially, hand over Babel's config resolution to Babel and don't try to manually resolve it on Jest's end.

https://github.com/jahed/jest/commit/42075095732f35a5c02a3eb1c36df671a4eb0071

[2018-10-19 21:47] r4j4h commented on #6413
Sorry for chiming in with something slightly unrelated, but I felt like it fits under this Issue as another example use case rather than deserving another issue asking for about the same thing:

I wish test.each supported accessing a key from arrays of objects in the test name, without having to use tagged template literals.

With Jasmine long ago I used https://github.com/MortalFlesh/jasmine-data

[2018-10-19 23:19] ikiyou commented on #6975
Having the same exact problem.

[2018-10-20 02:54] oleersoy opened #7223 "Value of object changes to boolean mid function call."
[I wrote up it up on SO](https://stackoverflow.com/questions/52901756/typeerror-oes-addvalidationerror-is-not-a-function).

## Summary

It's pretty bizarre.  The value of `oes` changes from the object assigned in the test to a `true` while the function is seemingly running.  To reproduce:

`git clone https://github.com/fireflysemantics/validator`
`npm t src/decorators/IfValid.spec.ts `

Here's the

[2018-10-20 09:08] SimenB commented on #7223
I get a type error when I try to run your test?

![image](https://user-images.githubusercontent.com/1404810/47253780-67e3e800-d458-11e8-908b-68da44c45310.png)

[2018-10-20 09:11] #7180 closed

[2018-10-20 09:13] SimenB commented on #7185
You can do `jest --reporters jest-junit` today

[2018-10-20 09:16] krajasekhar commented on #3094
I solved this problem by using 'jest-transform-css'.
After installing, added the below in the jest config.
[code]
Now css files are transpiled just like js files did.

[2018-10-20 12:09] aleclarson opened #7226 ""beta" branch"
I can do `npm install jest@beta`, but this Github repo has no "beta" branch, so I can't know which commits are included in the beta.

[2018-10-20 12:14] thymikee commented on #7226
cc @mjesun @rubennorte can you push the tag?

[2018-10-20 12:28] mjesun commented on #7226
Should I? I think we’ve never pushed betas to GH

[2018-10-20 12:32] thymikee commented on #7226
Dunno, but if we don't want a tag, we can at least add a commit hash to the name when publishing, like React does recently for RN

[2018-10-20 12:36] mjesun commented on #7226
That would mean pushing anyway. I can push the commit with the tag, no big issue.

[2018-10-20 12:37] oleersoy commented on #7223
@SimenB thanks for pointing that out.  I fixed it and noticed that I still have errors in `utilities.ts`, but the test runs anyway and outputs this.

[code]

I'm going to fix the `utilities.ts` part now, but I thought it was strange that the test still runs, even though there are errors in the project, so just noting it for the record.

[2018-10-20 12:45] oleersoy commented on #7223
Now `utilities.ts` is fixed.  The lines I had to change were:

[code]
Specifically I added the `oes` argument.  So it looks like ts-jest is running the tests even though the project has compilation errors.

[2018-10-20 12:48] vanhumbeecka commented on #1456
Just leaving this here for NestJS people:
With NestJS, I discovered that the answer above does work.
What DOESN't work is the following:
[code]

[2018-10-20 12:58] oleersoy commented on #7223
Now when I run the test I don't see any strange behavior being logged.  Thanks again for running it for me.   I'll close the issue here, and open a reference to it on the ts-jest repository as a heads up that tests are running even when the project is not compiling.

[2018-10-20 12:58] #7223 closed

[2018-10-20 13:01] riglar commented on #5164
I amended @WillAvudim example to support tsconfig-paths

`yarn add --dev tsconfig-paths`

[code]

[2018-10-20 14:40] SimenB commented on #7226
adding a git tag to the commit that was in the beat might make sense? But not pushing the version changes in the `package.json`s, that messes up the versioning in the lockfile

[2018-10-20 16:50] piratefsh commented on #7093
@SimenB Oh cool, didn't know about that PR! It should work with custom resolvers. Since the cleanup function will be implemented by the matcher itself, it should have the access to use its resolver. I don't forsee any conflict there. Did you have any thoughts or concerns?

I am also open to working on this!

[2018-10-20 17:32] mjesun commented on #6947
I'm not sure about this. While technically correct, a lot of tests started randomly failing for us as flaky tests and took us hours to determine what caused the flakiness when upgrading Jest.

I think we can keep it for now, as it makes sense, but I'm kind of expecting a pushback and issues from the community in relation to tests that started failing after the upgrade to Jest 24.

[2018-10-20 17:46] SimenB commented on #6947
Yeah, the react native test in this repo turned flaky as well after merging this. I do like it though, and it makes sense to respect the timeout.

We might consider a custom message if a synchronous test times out, though?

"As of Jest 24, Jest will report synchronous tests that uses more than the timeout to complete as timed out.". Or something like that.

One other thing we can do is include the

[2018-10-20 17:53] rafeca commented on #6947
Thanks for the response @SimenB !

Including the time it's taken the test to execute in the error message would be really good, this way it would even be possible to build some tooling to automatically increase the timeout of tests that fail due to this

[2018-10-20 18:56] sudhakarlahane23 opened #7229 "How can we cover the functions called with keyboard events?"
## How to get coverage of function in are called with keyevents like 'keydown', 'keyup', 'keypress' (in StencilJs)?
StencilJs .tsx file code:

**navigation.tsx**
[code]

**navigation.spec.tsx**
[code]

[2018-10-20 18:59] dekryptic commented on #5164
If anyone is using @aljazerzen's solution with the tsconfig.json `paths` option, all you have to do is add
[code]
to get it working.

[2018-10-20 20:29] RuneKR commented on #7145
I guess this is partly documented in: https://jestjs.io/docs/en/tutorial-react-native#providesmodule so i'll close for now

[2018-10-20 20:29] #7145 closed

[2018-10-20 20:41] SimenB commented on #6578
I think we can fold this into #4103 - it's basically "configure coverage reporter".

[2018-10-20 20:41] #6578 closed

[2018-10-20 21:03] SimenB commented on #6726
Covered by #6714 IMO. Easy enough for people to stub out `process.exit` if they don't want to exit. Maybe we want to update the message? Not sure

[2018-10-20 21:03] #6726 closed

[2018-10-20 21:07] SimenB commented on #7093
A PR with the changes you need would be awesome! No guarantee we'll merge, but often easier to discuss when there's some concrete code to look at 🙂

[2018-10-20 23:34] dNitro commented on #7092
Same issue here. The async handlings proposed by @rickhanlonii did not work :(

[2018-10-21 02:40] allys00 commented on #6269
Hi!,
i had the same issue and this resolve
Yarn add jest@20.0.4 --dev,
maybe the version of jest have conflict.
I Hope this helped

[2018-10-21 07:34] skyboyer opened #7231 "does automock lead to performance issues or not?"
So in Configuration section for [`automock` says](https://github.com/facebook/jest/blob/master/docs/Configuration.md#automock-boolean):

Link leads to [Troubleshooting.md](https://github.com/facebook/jest/blob/master/docs/Troubleshooting.md)(just change capitalization "troubleshooting" -> "Troubleshooting" to open it) but there is no section on automock's performance. This section has been vanishe

[2018-10-21 15:31] yordis commented on #7135
Worth to mention, I need this feature for this transformer https://github.com/straw-hat-team/jest-config/blob/0b212e2bdc06886d32b5c501c69829a4768a9fa6/transforms/fileTransform.js#L8-L20

I want to be able to specify if I am in React ecosystem or not so I could ignore that transform.

[2018-10-21 16:34] rogeliog commented on #6419
I would love this also!

[2018-10-21 18:35] #6942 closed

[2018-10-21 18:37] SimenB commented on #6419
Go for it @palmerj3! 😀

[2018-10-21 18:42] SimenB commented on #7135
Specifying a transform directly instead of pointing to a module `Jest` requires seems like a great idea! We need to make sure it's not an issue when serializing the config to and from workers, though

[2018-10-21 21:42] amccloud commented on #2070
This seems to work for me. in jest.config.js:

[code]

I'm not sure of the the scope or impact of this change, because I have a small project.

[2018-10-21 22:41] yordis commented on #7135
@SimenB for my personal knowledge, what do you mean by this?

I don't understand the underline architecture and I would like to if you don't mind to point me to some documentation about it or elaborate a little bit more about it, please.

[2018-10-21 22:51] kentcdodds commented on #7185
This is absolutely stupendous. Thank you all for your work here! It's long been a point of confusion for me.

[2018-10-22 07:02] nigurr commented on #7163
@richardscarrott yes indeed. This is currently in place for most of the CI/CD pipelines. This will help pipelines to implement the behavior based on their requirements by adding environment options.

As part of Azure pipelines, we will be helping in the same.

[2018-10-22 08:57] SimenB commented on #7109
I've got a branch with some of the work done, you can work off of that: https://github.com/SimenB/jest/tree/esm-export

I think it's just a matter of fixing the tests, and you should be good to go 🙂

[2018-10-22 10:01] zivl opened #7236 "SyntaxError: Invalid regular expression: /(?<!dist)/test/(unit|it)/.*\.test.js$/: Invalid group"
## 🐛 Bug Report

I get an error for invalid regular expression for the following Regex:
`(?<!dist)/test/(unit|it)/.*\\.test.js$`

## To Reproduce

use the following configuration in `jest.config.js` file:
[code]

## `npx envinfo --preset jest`

[code]

[2018-10-22 10:08] tuomassalo commented on #4234
For people ending here from a Google search: you can add a timeout/polling/whatever based waiting with the `globalSetup` option. See e.g. https://github.com/urish/firebase-server/issues/79#issuecomment-423167926

[2018-10-22 10:18] lbinh89 opened #7237 "Mock other method inside same class"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

Can I mock other method in other in same class? I try to mock but stuck there.
my sample code https://github.com/lbinh89/sample_mock_jest. Many thanks

[2018-10-22 10:58] SimenB commented on #7236
It works for me.
![image](https://user-images.githubusercontent.com/1404810/47289243-0c516000-d5fa-11e8-8c91-2fc47c5fe305.png)

Please include a reproduction which fails on Jest 23

[2018-10-22 11:01] #7237 closed

[2018-10-22 11:30] mrjwood commented on #6744
Debugging where @azz indicated I found the column value to be the mismatch.
This was because my prettier.config had tabWidth set to 4 meaning the column was 17 not 15 which is what was inputted into groupedSnapshots.

Changing the config to use tabWidth 2 fixed this so looks like generator is not picking up values from  the prettier config in my case tabWidth.

[2018-10-22 11:33] leonardovillela commented on #7109
Ok, i will fix tests and send PR :)

[2018-10-22 13:11] aleclarson commented on #7226
bump 😉

[2018-10-22 13:16] mjesun commented on #7226
I can't push anymore because more commits were merged on top. @SimenB should I override or just put over the existing ones?

[2018-10-22 13:27] SimenB commented on #7226
You can tag any commit, no need to push new commits. `git tag -a v24.0.0-alpha.0 *someSha* -m 24.0.0-alpha.0 && git push --tags origin master`

[2018-10-22 14:20] mjesun commented on #7226
That requires pushing, right? :D

[2018-10-22 14:50] rafeca commented on #6947
Hey @SimenB , @gitlab-winnie!

After spending more time trying to integrate the new version of `jest` into the FB codebase and discussing it with a few teammates (cc/ @mjesun and @rubennorte), I'd like to suggest to add an option to `jest` to be able to control whether sync tests that take longer than the timeout should fail. Ideally this option should be disabled by default, at least for jest v24

[2018-10-22 15:04] SimenB commented on #7226
https://github.com/facebook/jest/releases/tag/v24.0.0-alpha.0

[2018-10-22 15:04] #7226 closed

[2018-10-22 15:32] SimenB commented on #7163
If CIs start exposing e.g. `JUNIT_REPORT_LOCATION` (or whatever) automatically, we could get it into e.g. https://www.npmjs.com/package/env-ci and act upon it. However, until CIs actually expose something like this, I think it's premature for Jest to do anything.

- AppVeyor wants us to use http or shell out to push it: https://www.appveyor.com/docs/running-tests/#uploading-xml-test-results (https

[2018-10-22 15:46] oleersoy opened #7240 "[Feature Request] Support for Glob Pattern for module mapper configuration"
Ideally it would be very simple to configure Jest to use the same glob pattern that typescript uses to resolve `paths`.

Initially I assumed it had that type of support, but discovered it's regex only [per this so question](https://stackoverflow.com/questions/52931465/adding-a-module-mapper-to-jest/52932614#52932614).

If this is supported users can use the same glob pattern in jest that they woul

[2018-10-22 15:49] thymikee commented on #7240
Feel free to suggest it here: https://github.com/facebook/jest/issues/7185 we're working on simplifying the configuration and likely going all-globs + functions

[2018-10-22 15:49] #7240 closed

[2018-10-22 15:56] oleersoy commented on #7185
Resuggesting the above linked issue here:

Ideally it would be very simple to configure Jest to use the same glob pattern that typescript uses to resolve paths.

Initially I assumed it had that type of support, but discovered it's regex only [per this so question](https://stackoverflow.com/questions/52931465/adding-a-module-mapper-to-jest/52932614#52932614).

If this is supported users can use the

[2018-10-22 21:46] #3772 closed

[2018-10-23 04:49] leonardovillela commented on #7109
I should add dynamic imports in `interopRequireDefault` that contain `// $FlowFixMe: dynamic import` in this PR?

[2018-10-23 04:55] nigurr commented on #7163
@SimenB
Currently CircleCI, Azure DevOps, Team City has richer test experience.

* CircleCI supports publishing of test results (Junit format), however they require user to publish/copy to specific test artifacts folder.
* Azure DevOps supports in similar fashion. We are extending this to publish from well known folders automatically.
* Currently team city is not open for public projects like Gith

[2018-10-23 05:17] SimenB commented on #7109
Do you mean support `import('my-thing')`? If so, no. `// $FlowFixMe` is us telling flow to ignore the fact that it's impossible to statically verify the type of the module required. It's _not_ a `TODO` type comment 🙂

[2018-10-23 06:54] SimenB commented on #7163
If CIs expose a `JEST_OPTS`, that should be something we could hook into. Would you be able to get agreement from other CI providers to implement this?

---

We currently don't have support for defining `coverageDirectory` or passing options to reporters on the CLI, but we could always add that, or parse some sort of `JEST_OPTS` to add it. However, we should probably just support all config option

[2018-10-23 09:05] Morikko commented on #2418
FYI: `nyc report` does it natively while you put all your `coverage.json` in the same folder.

More explanation [on this other issue message](https://github.com/istanbuljs/nyc/issues/515#issuecomment-432158540).

[2018-10-23 09:16] nigurr commented on #7163
1. As part of Azure DevOps team, we will be able to leverage on this. The solution is open for every CI provider to leverage.
2. Coverage can be extended in similar fashion, we can have deeper conversation for it as follow up.
3. We can bring in Jest-Junit reporter and provide results out of the box. The reporting schema don't change (it's been same for quite some year). It's one time effort and s

[2018-10-23 09:54] SimenB commented on #7163
Yeah, but will they? I've never had a feature request be answered by either Circle or Travis, so I'm not sure how feasible it is. And building support for something very few CIs will use might not be worth it. I might be wrong though! 🙂

👍

I meant the contract between Jest and reporters for it, not the junit format itself. Sorry if I as unclear! This is relevant as we might e.g. move to an event

[2018-10-23 10:30] rafeca opened #7242 "`jest` fails to generate coverage when using the `testRegex` config option"
## 🐛 Bug Report

`jest@24.0.0-alpha.1` fails to generate coverage when using the `testRegex` config param. This issue has been introduced recently by https://github.com/facebook/jest/pull/7209.

## To Reproduce

A very simple end to end test can be created in [`e2e/__tests__/coverage_report.test.js`](https://github.com/facebook/jest/blob/master/e2e/__tests__/coverage_report.test.js) to reproduce t

[2018-10-23 10:31] palmerj3 commented on #7163
Even if we did add JEST_OPTS environment support there is no guarantee of compatibility. We're currently discussing simplifying the configs and this may result in changes to CLI. New features are also affected by this. Azure would have to have some pretty deep knowledge of jest and know the jest version of a project before setting JEST_OPTS and I think that's a risk to user experience.

One altern

[2018-10-23 10:47] SimenB commented on #7163
I'd prefer some env variable saying "test reports in this format should go to this directory, coverage in this format to this directory".

[2018-10-23 10:49] SimenB commented on #7242
I prefer number 1. It's way easier to reason with the config if the type is consistent after normalisation at all times

[2018-10-23 10:50] SimenB commented on #7242
Also odd we didn't have an integration test using `testRegex`...

[2018-10-23 10:56] mjesun commented on #7242
We can't use `jest-serializer` to pass the config around. #5613 tried to do this, but it was a such a big performance killer that I abandoned the PR.

My personal opinion is that configuration files should be JS files (and not JSON, even if we support reading from `package.json`), and pass the config path to the workers, where they can read it. Looking at other big projects (e.g. Babel) this is ex

[2018-10-23 12:30] callumlocke opened #7243 "Problems with "Manual Mocks" docs page"
The [Manual Mocks](https://jestjs.io/docs/en/manual-mocks) docs page has a few problems.

- Although it clearly explains the directory structure for how to add a mock version of one of your own modules (e.g. `models/user.js` and `models/__mocks__/user.js`), it does not give any example of what that mock file's contents should look like.
  - Needs an example on how to mock your own CommonJS module.

[2018-10-23 12:36] danielcooke1996 opened #7244 "Resolve ModuleA from inside ModuleA"
## 🐛 Bug Report

Attempting to use `require.resolve('ModuleA')` from inside ModuleA results in

` Cannot find module 'moduleA' from 'moduleA.js'`
## To Reproduce

Steps to reproduce the behavior:
**1.** Clone the provided repo
**2.** `npm run unit`

## Expected behavior

Test should not fail, error should not be thrown.

## Link to repl or repo (highly encouraged)
### [DEMO](https://github.com/dan

[2018-10-23 12:38] thymikee commented on #7244
You're using absolute name `require('moduleA')` but it's local one. Use relative paths or setup `moduleNameMapper` https://jestjs.io/docs/en/tutorial-react-native#modulenamemapper

[2018-10-23 12:38] #7244 closed

[2018-10-23 12:42] medikoo opened #7245 "Allow to skip tests programmatically"
## 🚀 Feature Proposal

Mocha supports skipping tests programmatically (in both `before` and `it`) as:

[code]

## Motivation

It's very useful for cases where during tests setup we find out whether test can be pursued or not e.g. we need some external data, but due to some unavailability we can't so we decide to skip tests.

Is this somewhere on a roadmap?

[2018-10-23 12:55] nikgraf opened #7246 "A date created in the test environment and then attached to the global object is not an instance of `Date`"
## 🐛 Bug Report

A date created in the test environment and then attached to the global object is not an instance of `Date`.

test environment
[code]

test
[code]

## To Reproduce

I made an example repository.

Steps to reproduce the behavior:

- attach a Date to global inside a custom test environment
- use instanceof on that variable in the the test

**Note**: In our case we instantiated a Knex

[2018-10-23 12:56] harelmo opened #7247 "Node process.domain behavior broken when running code using Jest"
## 🐛 Bug Report

Jest seems to modify the `process` object in such a way that breaks the ability to run code inside a domain - i.e., `process.domain` does not change to be the current domain set by calling the `enter()` method of a domain or running an arbitrary code through the `run()` method.

* I know this feature is deprecated in node, yet we still have some production-code using it heavily -

[2018-10-23 13:02] palmerj3 commented on #7245
This seems like a bad idea to me. Currently you can do it.skip() to explicitly skip a particular test and it's not even executed.

Skipping programmatically, and only running a portion of your test suite as a result, doesn't seem like it's serving the purpose of tests. A test failure at that point would be beneficial so the problem(s) could be fixed. And if they can't be fixed then marking a test

[2018-10-23 13:11] medikoo commented on #7245
It serves integration tests. Where tests depend on some external factors, and unavailability of some external resource, shouldn't indicate a problem with a project (reported with fail) but fact that test cannot be pursued (hence skipped)

[2018-10-23 13:14] palmerj3 commented on #7245
I'll leave this here for others to discuss. But personally I don't think this is a great idea.

Your hypothetical example would not give confidence that any given change in a code base caused problems, thus why I said a test failure is beneficial.

[2018-10-23 13:29] palmerj3 commented on #7245
For that case you could consider using [jest.retryTimes](https://github.com/facebook/jest/blob/master/docs/JestObjectAPI.md#jestretrytimes)

[2018-10-23 13:31] medikoo commented on #7245
I don't want to retry, I want to abort without fail (and also signal that test was not really run)

[2018-10-23 13:50] mattphillips commented on #7245
@medikoo I agree with @palmerj3

I think being able to dynamically disable tests kind of misses the point of testing.

Instead of disabling  because of unavailability of some resource I would argue that you probably want to be alerted to this with the failure and then resolve the real problem of the resource not being available.

`jest.retryTimes` should help with this if it's just a case of the r

[2018-10-23 13:57] medikoo commented on #7245
When speaking of external resource I mean something I do not own or control, so it's not an issue I can resolve.

And uptime monitoring of external resources which alarms/informs me whether given service is accessible or not, is a different thing which I don't see as a part of integration tests.

[2018-10-23 14:10] SimenB commented on #7242
How do we serialize now, using `JSON.stringify`? We can pass a custom serializer and deserializer to it if we want (which for `RegExp` might be `.source` to string, and `new RegExp` from).

Since we know the shape of the config, we might consider using e.g. https://github.com/fastify/fast-json-stringify with a schema (it serializes `RegExp` using `.source` already)

[2018-10-23 14:13] SimenB commented on #7242
However, we might want to go for option 2 in the OP, and rather fix `normalize` to do All The Things in conjunction with #7185. #6910 really should work (e.g. having a JS config file and using actual `RegExp` instances)

[2018-10-23 14:21] SimenB commented on #7245
This is part of jasmine (`pending` global function), but I think it was an explicit choice not to port it to Circus.

@aaronabramov might have thoughts on that?

[2018-10-23 14:31] SimenB commented on #7247
I doubt we'll spend time implementing support for domains in Jest seeing as it's deprecated. However, if the diff is minimal, a PR is of course welcome 🙂 The `process` object is created here: https://github.com/facebook/jest/blob/5eb9d36687d01059570182c4f33fef6e431dbaf5/packages/jest-util/src/create_process_object.js

[2018-10-23 14:35] SimenB commented on #7246
This is expected - the global `Date` inside and outside of the sandbox is not the same.

You can work around it by doing `this.global.someDate = new this.global.Date()`.

If you want to create something in the custom environment using the same globals, you need to execute it inside of the vm `this.executeScript`.

Also sorta dupe of #2549, although your use case (creating something outside of the

[2018-10-23 14:35] #7246 closed

[2018-10-23 14:36] mjesun commented on #7242
We rely on Node's IPC communication for forked processes, which uses `JSON.stringify` + `\n` terminated messages under the hood. However, the IPC mechanism is hooked more directly onto the `fd` calls, so it's way faster than manually serializing and establishing the connection ourselves. In general it's going to be complicated to beat Node's protocol.

[2018-10-23 14:56] SimenB commented on #7242
I don't follow how some serializer doing e.g. `worker.send({globalConfig: serialize(globalConfig)})` would be particularly slower than `worker.send({globalConfig: globalConfig})` if it uses `JSON.stringify` under the hood? It would have to escape the string we pass I guess, but is the hit so bad? We would also only use this when passing the global config, all other operations would be untouched.

[2018-10-23 15:10] SimenB commented on #7060
Oh, you're on Jest 21. That's old 😅 You have to do `jest --coverage --mapCoverage` in that version.

![image](https://user-images.githubusercontent.com/1404810/47370637-76dfca00-d6e6-11e8-9c96-d0abaf369775.png)

Upgrading to Jest 23 fixes it without the flag

![image](https://user-images.githubusercontent.com/1404810/47370670-8bbc5d80-d6e6-11e8-95e0-adf34d319e5f.png)

[2018-10-23 15:10] #7060 closed

[2018-10-23 15:11] anru commented on #6492
Node does support async generators starting from version 10.3.
So jest _should_ work without any babel configuration on latest node.

@shaunc if you are using babel this comment https://github.com/facebook/jest/issues/4936#issuecomment-373772896 might be helpful for you

[2018-10-23 15:12] SimenB commented on #7243
Thanks for the feedback!

Would you mind sending a PR addressing those points? 🙂

/cc @rickhanlonii

[2018-10-23 15:20] mjesun commented on #7242
You'd have an extra serializer operation which is not really needed, and consumes time. If we want to do that hoever, we can already do it and there is no need to change `jest-worker`.

[2018-10-23 15:43] SimenB commented on #6492
This is essentially the same issue as #6829.

tl;dr: Jest uses babel by default, so you have to tell it to understand your syntax or explicitly disable babel.

You can follow https://github.com/babel/babel/issues/7660 for what I think is the correct solution to this problem

[2018-10-23 15:43] #6492 closed

[2018-10-23 15:46] monkey3310 commented on #4969
Hey 👋 I'd like to help also - took a quick look and seems like `jest/packages/jest-haste-map` needs some cleanup, can I take it?

[2018-10-23 15:55] rubennorte commented on #7242
I had similar issues when I replaced `Object` with `Map` in the data structures used by the haste map, and I did a custom serialization there ([serialization](https://github.com/facebook/jest/blob/master/packages/jest-runner/src/index.js#L121), [deserialization](https://github.com/facebook/jest/blob/master/packages/jest-runner/src/test_worker.js#L80)). We could do the same here until we find a gen

[2018-10-23 16:00] rubennorte commented on #7242
I just remembered that @rafeca implemented the `setup` and `teardown` methods for workers. Can't we pass the configuration in the worker startup? Using a custom serialization function wouldn't impact that much in that case.

[2018-10-23 16:12] mjesun commented on #7242
Yeah, it is implemented for that specific purpose. However, the `setup` call is automagic, and now it's firing back us in Metro when trying to just `require('./worker')` when using `--maxWorkers=1`, since you need to manually perform the call.

It's still solvable with an `if` but it's increasing complexity for free. I'd go for a `setup` method, but we should explicitly call it; for instance:

[co

[2018-10-23 16:36] rubennorte commented on #7242
@mjesun not totally related to this, but given that the `maxWorkers: 1` is quite common both in Metro and in Jest, have you considered implementing it directly in jest-worker? E.g.:

[code]

[2018-10-23 16:43] SimenB commented on #4969
Absolutely, do it :)

[2018-10-23 16:45] rubennorte commented on #7242
@rafeca see #7251 ;)

[2018-10-23 17:06] manu-st opened #7252 "Jest failing with error code error 3221225477 when coverage is enabled"
## 🐛 Bug Report

When I run jest on a set of tests, it will fail with

[code]

If I disable the code coverage then it works properly.

Do you have any recommendation on how I could debug the problem.

## To Reproduce

I have the problem 100% of the time, but cannot reproduce it on a small system that I could share.

We are using TypeScript and use `ts-jest`. Versions are:
- jest: 23.1.0
- ts-jest:

[2018-10-23 17:12] shaunc commented on #6492
@SimenB in https://github.com/kulshekhar/ts-jest/issues/471 the problem is that ts-jest passes typescript compiler results to jest *without using babel* by default. So

doesn't actually work, but it should

[2018-10-23 17:12] bugeats commented on #4473
Lack of imagination and long series of copying what test frameworks have always done. For some bizarre reason, it's suddenly ok to use magic and globals in your JS as long as it's a test file.

If anyone is interested in a powerful but minimalist alternative to Jest that doesn't use globals, take a look at [substack/tape](https://github.com/substack/tape). Ideally, Jest would offer a similar inter

[2018-10-23 18:01] SimenB commented on #7252
Bot much we can do then... I've never seen that exit code, but you might consider upgrading jest and ts-jest to the latest version.

However, without anything resembling a reproduction this is not actionable

[2018-10-23 18:01] #7252 closed

[2018-10-23 18:46] DanielRuf opened #7253 "Not compatible with Node.js anymore due to Array.prototype.includes"
## 🐛 Bug Report

https://github.com/facebook/jest/commit/cefc3421a4752c47bd73f91bd0f02ca852b3c527 broke Node.js 4 support as Array.prototype.includes is only in Node.js 6.5+ available.

## To Reproduce
Use nodenv or nvm, switch to Node 4 and create a project with jest.

Steps to reproduce the behavior:

## Expected behavior

Node.js should be supported.

## Link to repl or repo (highly encouraged)

[2018-10-23 19:20] StarpTech opened #7254 "Fragile attach debugger behaviour in vscode"
## 🐛 Bug Report

I use jest for some of my projects in the monorepo https://github.com/Prettyhtml/prettyhtml the configuration below is used to run jest tests of the `webparser` package. As soon as I attach a new breakpoint the test output isn't visible. Sometimes the breakpoint works sometimes not.

Sometimes it works, sometimes not.

## To Reproduce

![issue](https://user-images.githubuserconten

[2018-10-23 20:05] SimenB commented on #7253
We dropped node 4 with Jest 22 back in December of last year https://jestjs.io/blog/2017/12/18/jest-22#good-bye-node-4-welcome-jsdom-11

[2018-10-23 20:05] #7253 closed

[2018-10-23 20:20] faridsaud commented on #6939
Saved my day @jieliu218

[2018-10-24 00:40] fbartho opened #7257 "[jest-snapshot] Custom Snapshot Directories confuse the Obsolete Snapshot Logger"
## 🐛 Bug Report

When using the new snapshot resolver feature: https://github.com/facebook/jest/pull/6143, the "Obsolete" Snapshot checker is deciding that all my snapshots are obsolete after a test run.

## To Reproduce

1. Using a simple project, configure a snapshot resolver to move your snapshot files to a different directory-structure.
2. Run `yarn test` notice all your tests pass, and snapsh

[2018-10-24 00:53] fbartho commented on #7257
My SnapshotResolver:
[code]

[2018-10-24 00:54] fbartho commented on #7257
I wonder if the root cause is related to #6773 ?

[2018-10-24 04:02] PavanGangireddy commented on #6393
Was able to fix using @FaabLondon's suggestion above.

[2018-10-24 04:18] DanielRuf commented on #7253
Well but then it should have been set in the `engines` field to make this clear or increase the major version as kitematic builds worked before this change as it seems.

[2018-10-24 04:48] nigurr commented on #7163
+1 exactly. Can we agree on this?

[2018-10-24 05:50] SimenB commented on #7253
PR welcome! 🙂

[2018-10-24 06:52] harelmo commented on #7247
Thanks for pointing me to that code @SimenB - it actually made me think about a workaround to make the `process` object have the `domain`-related code attached to it prior to Jest performing the copy.
All I had to do is create a global-setup file exporting the following:

`test/setup/global-setup.js`:
[code]

and use it as the global-setup file in my `jest.config.js` file:
[code]

Since `require`-

[2018-10-24 06:52] #7247 closed

[2018-10-24 07:28] siluri commented on #1772
i detect at `v23.6.0` following bug:

`arrStatus[0]` is a complex object

that expect is correct and the expect works in miliseconds
[code]

but do the same expect, with wrong string which not expect to the object - never ends up and my pc fan running on full throttle
[code]

[2018-10-24 08:21] SimenB commented on #1772
We have an open PR that should hopefully fix this, see #6961. Will land as part of Jest 24

[2018-10-24 08:32] nigurr commented on #7163
Would suggest `TEST_REPORTER` and `COVERAGE_REPORTER` :)

[2018-10-24 10:31] callumlocke commented on #7243
Sorry, I don't know what the examples should be myself.

[2018-10-24 11:11] rubennorte commented on #6947
Given that we can't stop sync tests when they timeout and we already have the result when they finish, I don't think this feature is very useful for most people. It might be useful to define "budgets" so you can avoid people writing slow tests (as a team or project policy), but that could be implemented with the workaround @gitlab-winnie defined.

[2018-10-24 11:16] gitlab-winnie commented on #6947
@SimenB I think this is a good idea. Even if it is a bug fix, it seems to be a bug that multiple projects relied on.

Could we also introduce a switch to disable the behavior (which may be deprecated in a future release)? I think that would give people more time to fix their long running tests.

[2018-10-24 11:38] healqq commented on #7113
You can return a promise from globalSetup and your tests will wait for that

[2018-10-24 12:31] #7242 closed

[2018-10-24 12:31] SimenB commented on #7113
The correct solution is to use a transformer: https://jestjs.io/docs/en/configuration#transform-object-string-string

[2018-10-24 12:31] #7113 closed

[2018-10-24 13:12] juanigalan91 opened #7260 "String with a new line does not show up on snapshot"
## 🐛 Bug Report
I am currently creating a snapshot test for an object where one of the properties is a string that has a new line ('\n'). Like this:
[code]

Upon generating a snapshot for testing one of these objects, the generated snapshot shows this:
[code]

The next line characters are lost and the generated snapshot does not include them.

I was not able to find any issue related to this to se

[2018-10-24 13:23] deser opened #7261 "Why first N test suites are extremely slow?"
When I run jest tests first N test suites are running extremely slow remaining are blazing fast. What is the reason, spawning workers?

![image](https://user-images.githubusercontent.com/3010698/47433538-5167c480-d7a9-11e8-96ff-eb6608d3eb64.png)

P.S. When I run any of the shown test suite separately they run blazing fast.

Thanks

[2018-10-24 13:30] SimenB commented on #7260
Do you want us to escape newlines in your string?

[2018-10-24 13:33] juanigalan91 commented on #7260
Hi @SimenB thanks for replying! Yes, at least it would be beneficial to have those characters persisted on the snapshot, and not show up as actual new lines on the file. Escaping them should work :)

[2018-10-24 13:33] LukasBombach commented on #4402
This is how I worked around it:

[code]

[2018-10-24 13:37] SimenB commented on #7260
@thymikee @rickhanlonii thoughts?

[2018-10-24 13:52] katima-g33k opened #7262 "Coverage values are not valid after upgrade"
## 🐛 Bug Report

I just upgrade my project from react 0.53.3 to 0.57.3. After the upgrade, my jest tests no longer passed because my coverage thresholds were no longer achieved. It's definitely a configuration error on my part, but I just can't figure out what I have to tweak in order to fix the issue. For this issue I am presenting the simplest file I can to expose the problem. The problem happen

[2018-10-24 13:59] SimenB commented on #7262
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2018-10-24 13:59] #7262 closed

[2018-10-24 15:25] #7261 closed, assigned to nobody

[2018-10-24 15:47] deser commented on #7261
Thanks!

[2018-10-24 16:20] thymikee commented on #7260
I don't think there's any way for us to differentiate between explicit unescaped newline char and actual line feed. These are the same characters for regex processor, aren't they?

[code]

vs

[code]

[2018-10-24 17:23] orta opened #7265 "RFC: New Index page for the Jest website"
_Note:_ This issue has a bounty on our Open Collective - see https://github.com/facebook/jest/issues/7265#issuecomment-450507843

and this WIP PR: https://github.com/facebook/jest/pull/7566

It is just for the single index page on https://jestjs.io, which is powered by [Docusaurus](https://docusaurus.io) and if you want to see what an example PR would look like see https://github.com/prettier/pret

[2018-10-24 17:46] fbartho commented on #7257
@SimenB This Issue suggests that Snapshot testing in CodeSandbox might happen in 3.0, but it's still in progress: https://github.com/CompuIves/codesandbox-client/issues/513

So I guess I'll do a repo at some point, then!

[2018-10-24 18:19] SimenB commented on #7265
omg, this is soooo good! I absolutely love it!!

[2018-10-24 19:32] orta commented on #7265
I love the idea of having a runtime environment to run tests!

It might be worth having that added after this, as I feel like the repl.it and codesandbox embeds have tricky interfaces ( you can see examples for [codesandbox](https://codesandbox.io/docs/tests) and [repl.it](https://jestjs.io/) ) when trying to do a quick embed.

Something more like a "Jest cookbook" showcasing a bunch of "how do I

[2018-10-24 20:10] satya164 commented on #7265
Looks great! Some feedback:

1. Maybe a different color from the muddy green? IMO the color isn't very pleasant to look at.
2. Would be nice to have a bit more padding and larger line height. It looks kinda crowded otherwise.
3. Maybe the cards would look better with more subtle border?

[2018-10-24 21:10] gitlab-winnie commented on #6947
@SimenB given that https://github.com/facebook/jest/pull/7259 has been merged, should we reopen this issue? 😃

[2018-10-24 21:21] bkd705 commented on #7265
Love this, and would be happy to help implement this!

My only feedback is the titles on the features (blazing fast, etc) and the sponsor section, I don't think those have a high enough contrast ratio to be accessible.

Maybe look at using a darker red over top, or darkening up the red background?

[2018-10-24 21:29] thymikee commented on #6947
yup

[2018-10-24 22:16] wuweiweiwu commented on #7265
I'll have a branch out soon! Ill do preview deployments using surge or netlify

[2018-10-24 22:51] SimenB commented on #7265
Awesome! We have netlify set up, so just opening up a PR should be enough 🙂

[2018-10-24 22:54] orta commented on #7265
The yellow here is a hue shift from the green and red, I'd rather not break that design patterns. That said, I like that yellow (and use it in my terminal), it's got a good sandy colour 👍

Padding I'm pretty fine with, but I agree on the line heights for body text, I'm happy to tweak those in CSS towards the end though

I agree on this, dang, I was trying to lower their visual precedence so the ab

[2018-10-25 00:06] mohanraj-r commented on #5178
I came across this issue when trying to write nested data driven tests .. e.g. for each browser.. for each site .. but got error "Tests cannot be nested."
Is disallowing nested tests by design? Can you explain why please. @SimenB

[2018-10-25 01:10] unional commented on #2441
I confirm it issue is with verbose. The issue is the line count calculation is messed up when verbose is on.

If anyone can point me to the place where it prints the message I can take a stab at it.

You can mitigate the issuing using `jest-watch-toggle-config` for the time being.

Set it up like this:

[code]

When you run your test, press `v` to **enable** verbose and then `v` again to **disable

[2018-10-25 01:30] ThisIsMissEm commented on #6081
@palmerj3 @SimenB was there any follow-up to this?

[2018-10-25 03:49] JohnAlbin commented on #3111
This was working in Jest v22 and is broken again in Jest v23.

[2018-10-25 06:11] thymikee commented on #5178
Use describe for nesting and test.each for multiple cases

[2018-10-25 07:05] SimenB commented on #3111
Can you open up a new issue with a reproduction?

[2018-10-25 07:06] SimenB commented on #3111
That said, the test in #3006 is failing for me locally, need to investigate that

[2018-10-25 08:21] JohnAlbin opened #7267 "find tests when path includes folder starting with a period"
## 🐛 Bug Report

This is a regression of the bug reported in #3111 that was fixed in #3006 and broke again sometime in the v23 branch.

When a test is inside a folder that has a name starting with period, `.`, they are ignored by `testMatch` and by `testRegex`. It's even more obscure if the entire project is checked out below a dot-folder, in which case all tests are ignored.

## To Reproduce

Giv

[2018-10-25 08:40] SimenB commented on #7267
Could you set up a quick repository we can pull down and see the error in?

The test I said was failing for me in #3111 was actually fixed by me restarting watchman locally...

[2018-10-25 08:43] thymikee commented on #7267
You can restart watchman by doing `watchman watch-del $PWD` or `watchman watch-del-all` (will remove all other projects crawl cache, if they use watchamn).

[2018-10-25 09:08] SimenB commented on #7267
I can confirm that killing watchman seems to fix this.

Is it a bug in watchman?

[2018-10-25 09:45] ForbesLindesay commented on #7151
i'm not clear on what you mean by this?

when fake timers were created, native Promises didn't exist. The intention was always that as new forms of "timer" were added to the language, fake timers would support them. For example, `setImmediate` is not a timer, but is supported. As you can see on https://repl.it/repls/PhysicalBriefCores

The goal of jest has, for a long time, included being easy to

[2018-10-25 09:50] deser commented on #7261
After reading the post I still see the issue.
See this
`P.S. When I run any of the shown test suite separately they run blazing fast.`

Let me show:
Here is a file (which has only 3 tests ) when running all tests
![1](https://user-images.githubusercontent.com/3010698/47491928-9137b600-d854-11e8-8c6c-2077970d2bdf.png)

Here is the same test ran by the same npm command limited via `--testNamePattern

[2018-10-25 11:09] deser opened #7268 "Apply appropriate configs for different tests ran as different projects"
Hi Guys.
Seems `projects` doesn't work as intended. I have jest config which is intended to run all my type of tests:
[code]

It is impossible that file of `unit` tests would be grabbed by `ui` tests, see regex:
`ui`: `testRegex: '/__tests__/.*-test\\.js?$',`
`unit`: `testMatch: ['**/__tests__/**/?(*.)+(spec).js']`

These `ui` and `unit` configs have different setups. For example for `ui` tests I

[2018-10-25 11:11] deser commented on #7268
UPD: I suspect that my issue is connected with https://github.com/facebook/jest/pull/7186
Could you confirm? When is new release with that fix is planned?

[2018-10-25 11:32] JohnAlbin commented on #7267
I've created https://github.com/JohnAlbin/jest-bug-7267 with the example repo.

I tried `watchman watch-del-all` and it had no effect on the failure of `npx jest --no-cache --listTests` to find all 7 tests; it only finds 3 tests.

[2018-10-25 11:48] SimenB commented on #7267
With your repo:

![image](https://user-images.githubusercontent.com/1404810/47498135-9dc00c80-d85c-11e8-9078-4b252fed8ae1.png)

[2018-10-25 11:52] SimenB commented on #7267
What happens if you do `jest --listTests --no-watchman?

[2018-10-25 12:15] JohnAlbin commented on #7267
`npx jest --listTests --no-cache` only finds 3 tests (as stated before)

But `npx jest --listTests --no-watchman --no-cache` finds all 7 tests.

[2018-10-25 12:45] mushketyk commented on #7083
@rickhanlonii I've tried to use `clearAllMock` instead of `resetAllMocks` but it still does not clear calls. So if I do in my tests:

[code]

it does not help.

I even tried to use both `clearAllMocks` and `resetAllMocks` like this:

[code]

but this does not solve the issue as well.

The only thing that does help is resetting a particular mock, e.g. a single mock function on a mocked class like:

[2018-10-25 14:40] jwbay opened #7270 "Global built-in constructors incorrectly mocked as a side effect of mocking an object literal"
## 🐛 Bug Report
When jest generates a mock of a module like this:
[code]

The global environment is polluted as a side effect, such that the global string constructor is switched to a mock function. This breaks object type comparisons.

This is the line where the pollution happens: https://github.com/facebook/jest/blob/4941a974e303db63e6ee5832f3737e69a138de18/packages/jest-mock/src/index.js#L659

[2018-10-25 18:41] dankreft opened #7271 "moduleNameMapper should work on resolved import paths"
_I'm not sure whether this should be a bug report or a feature proposal..._

Unlike `webpack`, which correctly processes SASS files that are imported sans suffix:

[code]

Jest does not. When I attempted to set up a `moduleNameMapper` with a custom proxy object (an enhanced version of `identity-obj-proxy`), I configured it thusly:

[code]

But my suffixless imports fail:

[code]

Only when I chang

[2018-10-25 18:45] dankreft commented on #4488
@gpartida, FYI I've re-raised this issue in #7271. Have a look.

[2018-10-25 19:08] thymikee commented on #7271
https://jestjs.io/docs/en/configuration#modulefileextensions-array-string

[2018-10-25 19:21] dankreft commented on #7271
@thymikee, I'm not sure how that would be relevant as I've already demonstrated that the resolver has no problems resolving `.sass` files. Besides, that's already part of my config:

[code]

Here's the full config for reference:

[code]

[2018-10-25 19:32] pwcsquared opened #7272 "Website: consider curating sponsors list"
Looking at the site and the CONTRIBUTING.md file, some of the backers and sponsors listed are advertising adult escort services. It looks like the list is being dynamically generated. Consider moderating these lists.

https://github.com/facebook/jest/blob/master/CONTRIBUTING.md#sponsors

[2018-10-25 20:33] ewolfe commented on #7267
I'm not sure if this is related, but I'm experiencing related issues when running jest via yarn.

Given:

[code]

Then `yarn jest` fails, while `npm run jest` runs just fine.

[2018-10-25 21:20] rickhanlonii commented on #7260
Yeah, @thymikee is right. So if you want to escape it you'll need to opt-in by escaping the newline like:

![](http://dp.hanlon.io/bde00cb1dd70/Image%202018-10-25%20at%202.13.25%20PM.png)

So either:

[code]

Or if you wanted, you could create (and optionally publish) a matcher to do this:

[code]

[2018-10-25 21:20] #7260 closed

[2018-10-25 23:14] dylang opened #7274 "Memory leak in jest-circus"
## 🐛 Bug Report

When using `jest-circus`, an obvious memory leak and gradual slowdown occurs.

[code]

## To Reproduce

100 identical tests with `jest-circus/runner`.

[code]

`jest.config`:
[code]

## Expected behavior

Same 100 tests without `jest-circus/runner`.

[code]

## Link to repl or repo (highly encouraged)

https://github.com/dylang/jest-circus-memory-leak-repo

## Run `npx envinfo --p

[2018-10-25 23:19] rickhanlonii commented on #7274
👀

[2018-10-26 00:12] newswim commented on #7272
Here's the place in the code where a filter rule could be added:

https://github.com/facebook/jest/blob/master/website/pages/en/index.js#L89

[2018-10-26 02:47] dylang commented on #7274
I've determined this is caused by `graceful-fs`.

https://github.com/isaacs/node-graceful-fs/issues/102

I have a fix locally and will create a PR to `graceful-fs` in the morning.

[2018-10-26 03:39] monkey3310 commented on #4969
I quickly went over the content of `packages` to get a feel whats left to be done, marked stuff that seems to be complaint with facebook standards already below.
As the renames are quite easy to do, maybe we could use `hacktoberfest` label to get more people to help with work?

* [x]  `Integration_tests/` folder-names #5298
* [x]  `Integration_tests/` file-names
* [ ]  root file names
* [ ]  `pack

[2018-10-26 04:03] shavo007 opened #7275 "Dont see update snapshot option on jest watch"
## 🐛 Bug Report

The cli option to update snapshot option interactively i dont see when i run jest --watch

## To Reproduce

Steps to reproduce the behavior:

yarn
yarn test:watch

## Expected behavior

Per the [docs](https://jestjs.io/docs/en/snapshot-testing#updating-snapshots) I was hoping to see in the console the snapshot options. If i change one of the components for example, i dont see the

[2018-10-26 04:32] willhuang85 opened #7276 "Expecting the test cases in test.each to be able to access value after being defined in beforeEach"
## 🐛 Bug Report
Expecting the test cases in `test.each` to be able to access scoped variables set by `beforeEach`

In the example below, the test function will throw undefined of myVariable although `a` is set in the `beforeEach`

[code]

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

I was expecting that `myVariable` would be resolved to a defined variable `a` sin

[2018-10-26 05:19] yordis commented on #5913
Would be a viable solution of accepting a `Test Environment` adapter instead of just a string for the value of `testEnvironment`?

Something like this

[code]
Probably avoid this look up https://github.com/facebook/jest/blob/f014d92f1a16c19ca18a2d9023f1fb148149aa38/packages/jest-config/src/utils.js#L109-L111 or adding extra complexity of how and when to load your specific version.

[2018-10-26 06:44] lbinh89 commented on #223
when I change `module.exports = Request;` to `export default Request` test run failed. Manual mock look like not work , any solution for this problem. Thanks you

[2018-10-26 07:05] thymikee commented on #4969
Added! thanks for this @monkey3310.
To anyone interested in tackling any of the remaining packages: let us know in a comment under this thread and we'll assign you on the list provided above :)

[2018-10-26 07:09] thymikee commented on #7275
You're snapshotting shallowly rendered App component. You'll see the failing snapshot (and the option to update) when you change something that affects its rendering, e.g. switch the ordering of [these two components](https://github.com/shavo007/react-boilerplate/blob/6cd7bd4f1620f5c03877d79462857e889a0a6bfb/src/components/App.js#L9-L10).

However, if you try to change these components contents, s

[2018-10-26 07:09] #7275 closed

[2018-10-26 07:13] SimenB commented on #7276
This is expected behavior, see https://jestjs.io/docs/en/troubleshooting#defining-tests

[2018-10-26 07:13] #7276 closed

[2018-10-26 08:42] shavo007 commented on #7275
@thymikee  i dont see the option here to interactively update the snapshot?

[2018-10-26 08:43] shavo007 commented on #7275
ignore, i see it now

[code]

Thanks,
Shane.

[2018-10-26 08:43] thymikee commented on #7275
because you only have 1 failing snapshot

[2018-10-26 10:31] yordis commented on #7135
Definitely, the workers are an issue right now. 😢

[2018-10-26 11:42] hattys2 opened #7280 "Ignore "Your test suite must contain at least one test.""
## 💬 Questions and Help
Hello.

I want to write tests in normal file itself as described below:

`src/add.js`

[code]
`src/subtract.js`
[code]
After running `jest src/*output is as follows:
[code]

But, I want to ignore files don't have any tests.
How can I do it?

Thanks.

[2018-10-26 12:35] deser commented on #7261
Does it make sense to re-open the issue?

[2018-10-26 12:43] dinigo opened #7281 "AutoSpy API method"
## 🚀 Feature Proposal

API for spying on a whole module. Just like `jest.mock('mymodule')` does.

## Motivation

Layered architecture calls a good amount of methods from the one below. When testing this software the official approach is to mock the whole module and implement certain functions with `.mockImplementation`s. But I find It will be very helpful to spy on all the functions at once, keepi

[2018-10-26 13:19] SimenB commented on #7281
[code]

Isn't that enough? Can probably be made better and packaged up as a community module, not sure why that has to live in core?

[2018-10-26 13:23] jcubic opened #7282 "Jest freezing after tests run in Node 11"
## 🐛 Bug Report

I have normal quite big test file that work fine in node 10 but is freezing in 11 after printing:
[code]
From what I've checked all my setTimeouts return a promises or have async `done()` call.

Found this in Travis here is link to broken build:
https://travis-ci.org/jcubic/jquery.terminal/builds/445853587
## To Reproduce
on Node 11:

[code]
`make test` is running this command:

[

[2018-10-26 13:34] SimenB commented on #7282
I get the same hanging, but a reduced example would be great 🙂

[2018-10-26 13:35] hattys2 commented on #7280
@natealcedo
Just like `src/add.js`
I found similar case: https://github.com/facebook/jest/issues/4316

[2018-10-26 13:35] thymikee commented on #7280
You can add an empty `test.skip('skip', () => {})` to the `subtract.js` file. We won't remove this message nor make it configurable, as we optimize for common use case – this is clearly not one of them.

[2018-10-26 13:35] #7280 closed

[2018-10-26 13:39] hattys2 commented on #7280
Thanks. I'll try it.

[2018-10-26 13:41] agoodsell5 opened #7283 "Tests with nested asynchronous methods not running as expected with latest version of node.js"
## 🐛 Bug Report

I am running the following versions:
Jest 23.6.0
Node.js 11.0.0
React 16.4.2
react scripts 2.0.4

I have a test (see code below) that mocks an asynchronous method and then calls a different async method that is in turn calling the mocked method.

I am wanting to test that another mocked function is being called based on the result of the mocked method.

Using version 8.12.0 of nod

[2018-10-26 13:44] JohnAlbin commented on #7267
FYI, because of the Jest cache issues, that's exactly what was happening. My co-worker saw the bug and I didn't. Then finally I did see the bug, but after a day it disappeared. Then reappeared. However, we always used Jest. AND, the tests that were being skipped were ones that we put in our `.storybook` folder.

[2018-10-26 14:20] stephen-last opened #7284 "Enhance toHaveProperty() to allow array selection"
## 🚀 Feature Proposal

Enhance the `.toHaveProperty()` matcher to allow array selection, similar to [lodash/get](https://lodash.com/docs/4.17.10#get).

## Motivation

Will allow very easy assertions on very complex objects which contain nested arrays/objects.

## Example

[code]

## Pitch

It's an enhancement to an existing matcher which would allow smaller and cleaner tests when asserting against

[2018-10-26 14:28] thymikee commented on #7284
Right now you can do:
[code]
It's obviously not the same, but possible. `lodash/get` syntax is nice, but privately I'm _very_ against this library as it looses all type information (at least in Flow codebases) and I prefer to use `idx`.

I'm open to discussion on whether we want this API or now :)

[2018-10-26 14:43] stephen-last commented on #7284
@thymikee Thank you for that, I didn't know you could access arrays like that, I was expecting to have to use an ugly set of nested `expect.objectContaining()` and `expect.arrayContaining()`.

Just checked the docs again and there is indeed an [example already](https://jestjs.io/docs/en/expect#tohavepropertykeypath-value), which I missed. Sorry, my mistake.

Interestingly, I've been trying to get

[2018-10-26 14:44] juanigalan91 commented on #7260
Got it, it does change a little bit of the logic just to make the snapshot work, I guess we will keep it as it is since it does not break the test or anything!

[2018-10-26 14:45] thymikee commented on #7284
Closing then (we have too many issues 😫), but happy to accept a PR implementing that, if anybody is interested :)

[2018-10-26 14:45] #7284 closed

[2018-10-26 14:48] natealcedo commented on #7272
I actually don't think this should be an issue. It is just fair that all sponsors get featured. Just because one doesn't necessarily agree with the work of the sponsor shouldn't be a reason that they do not get featured. I guess in that case maybe there should be a way to prevent sponsorship from said parties if you really don't want their money?

[2018-10-26 17:34] newswim commented on #7272
I mean, from the outside it looks like a porn site paying $2 a month for a lot of free publicity.

[2018-10-26 17:47] nxmohamad commented on #6557
this issue should already be closed, no?

[2018-10-26 17:57] thymikee commented on #6557
Yup, thanks!

[2018-10-26 17:57] #6557 closed

[2018-10-26 20:15] dankreft commented on #7271
By the way, to add insult to injury, the way that `transform` works is different than `moduleNameMapper`--it will match on the resolved filename. This makes me believe more strongly that this is a bug, not a feature request.

[2018-10-26 21:37] dylang commented on #7274
Here's a PR for Graceful:
https://github.com/isaacs/node-graceful-fs/pull/137

[2018-10-26 21:38] jamalsoueidan opened #7287 "Jest did not exit one second after the test run has completed."
I'm getting this message every time i'm using any libraries that depend on promises.

## 🐛 Bug Report

Jest did not exit one second after the test run has completed.

This usually means that there are asynchronous operations that weren't stopped in your tests. Consider running Jest with `--detectOpenHandles` to troubleshoot this issue.

## To Reproduce

I have a function that need to make a reques

[2018-10-26 21:48] thymikee commented on #7274
That's awesome. I just feel this is never gonna be merged, based on the state of the repository. Also @palmerj3 seems to have some issues there as well: https://mobile.twitter.com/palmerj3/status/1055782284983496704

Maybe there's a maintained for of the project?

[2018-10-26 22:01] #7156 closed

[2018-10-26 23:02] machineghost commented on #3457
So @abritinthebay did *exactly* what was requested by @thymikee (which was far more than the standard pull request).

Now that that brave soul did all the work, when can the rest of us finally get this matcher (without having to install yet another library)?  Are the maintainers still pushing the idea that this doesn't belong in Jest, or did this just fall off their radar?

[2018-10-27 01:01] Anenth commented on #4969
@thymikee I would happy to knock off the remaining

[2018-10-27 02:37] natealcedo commented on #7272
Technically, it's __NOT__ free since they __DO__ pay.

[2018-10-27 04:08] baspeeters commented on #3998
Exactly what I needed to refactor my tests into something more concise. Great stuff.

[2018-10-27 04:49] andrew-pyle commented on #6027
@rickhanlonii First-time contributor here. I’d like to take a stab at implementing this feature. Can you point me at the validation logic for Jest configuration in `package.json`?

[2018-10-27 08:01] SimenB commented on #6027
That's awesome @andrew-pyle!

It's here: https://github.com/facebook/jest/blob/c22d9f584627a1ae6c476d44f10c3c186b480722/packages/jest-validate/src/validate.js#L59-L63

What I would do (I think, haven't tested it) is add `//` to the default `blacklist`. Feel free to ask questions if you're stuck 🙂

[2018-10-27 08:11] SimenB commented on #6081
Yeah, @palmerj3 showed it to me, and it looked pretty good! 🙂 I don't know how the effort to open source it is going, though.

[2018-10-27 09:34] jcubic commented on #7282
After disable some test I've found issue in this snippet in my code (not test file):
[code]
`x` was `NaN` but I've got the same result when I have `0` instead of `x`, the problem is that this one line If I comment it out and run full test it still freezing, I have limited number of tests (one fdescribe and xdescribe inside) and toggling this line fix the problem. So maybe there are more issues wit

[2018-10-27 10:51] lp741 commented on #5583
I still have same problem with jest 23.6.0

[2018-10-27 12:17] jahed commented on #7021
I've found a better temporary solution to this problem. Install babel-core bridge. Instructions here:

https://github.com/babel/babel-bridge

[2018-10-27 12:35] thymikee commented on #4969
Lovely! @Anenth @andrew-pyle I've just assigned 2 packages to each of you. Let's start small and then we'll followup with further work :)

[2018-10-27 15:58] moon004 commented on #6229
@master-7 , i had similar problem, my advice to u is the followings:
1. it's better to have a separate jest.config.js
2. yarn add --dev babel-jest babel-core@^7.0.0-bridge.0 @babel/core regenerator-runtime (look at https://jestjs.io/docs/en/getting-started.html#using-babel )
3. create a babel.config.js file, and put the following code inside.
`module.exports = {
  presets: [
    '@babel/preset-env

[2018-10-27 18:36] meltedspark commented on #2549
@ssetem You're a lifesaver, thank you!

[2018-10-27 19:15] ExoMemphiz commented on #7287
Try putting "done" inside the callback from the test function as so:

const whateverYouExpect = 123;
test('some description of test', async (done) => {
    await someAsyncTask();
    await secondAsyncTask();
    evenCallbacksCanWork((result) => {
        expect(result).toBe(whateverYouExpect);
    });
})

[2018-10-27 20:03] ExoMemphiz opened #7289 "Mock createConnection from mysql"
## 🐛 Bug Report

I am trying to mock a function in [mysql](https://www.npmjs.com/package/mysql) and have tried a multitude of different ways of mocking the function located inside the package.

The main problem is that in my tests, I am calling different files that in turn call a connection creator, and it's the connection creator I actually need to use the mocked createConnection function.

To gi

[2018-10-27 21:37] jamalsoueidan commented on #7287
Thank you ExoMemphiz, but this callback, from where should I reachit?

It's too deep inside the server.

I moved to Ava, it works out of the box 👍

[2018-10-27 21:42] ExoMemphiz commented on #7287
I'm unsure what you mean?

This line at the top of your test:

`test("it should create new order", async () => {`

Has the option to have an extra parameter as such:

`test("it should create new order", async (done) => {`

When you have finished any async code, you simply write "done()" after it has completed, and the tests will work as you would want them to.

[2018-10-28 06:17] Anenth commented on #4969
@thymikee https://github.com/facebook/jest/pull/7290, Let me know if this is right direction,
I have doubts
1. `isError.js`. its imported as `import checkIsError from './is-error.js` should we change the variable name to isError?
2. `setup_jest_globals` I havnt changed this, as I think this is categorized under `Other files`

[2018-10-28 07:34] thymikee commented on #4969
@betalantz done, thanks!
@Anenth
1. yup, change the variable to `isError` 👍
2. let's go with `setupJestGlobals` as it exports a single fn

[2018-10-28 12:09] jcubic commented on #7282
I've also found issue with `attr('scrollTop')` and `scrollTop` functions but the problem may be somewhere in setTimeout function in Node 11 because I've run jest in debug mode and when I paused in debugger I got timers.js file, I've reported the [issue to Node](https://github.com/nodejs/node/issues/23935) will see what they have to say about this issue.

[2018-10-28 12:20] jcubic commented on #7282
@SimenB do you use setTimeout in your code that's freezing?

[2018-10-28 12:59] Anenth commented on #4969
@thymikee am picking up `jest-util`

[2018-10-28 14:09] jcubic commented on #7282
The issues seems resolved and the fix will be in Node v11.1.0

[2018-10-28 16:15] SimenB commented on #7282
@jcubic I meant that your reproduction also froze for me, I don't have any separate project showing the same error.

If it's a bug in node slated for a release, I'll close this. If it actually is jest's fault somehow, happy to reopen 🙂

[2018-10-28 16:15] #7282 closed

[2018-10-28 17:08] rogeliog commented on #7039
It would be great to get a version of this for Jest 24.

The two options are:
1. Add `globalConfig` to the parameters received in the constructor. I think this might be good enough because that is generally when plugins will need access to the globalConfig. Also, the change is pretty small
1. Add `jestHooks.onGlobalConfigChange`, I think this one is cool, but I'm just worried about having too many

[2018-10-28 18:43] unional commented on #7039
For watch plugin, the instance is created when watch starts, not for every run.

[2018-10-28 18:44] rogeliog commented on #7039
Correct

[2018-10-28 18:45] rogeliog commented on #7039
Although I still think that it is also useful to get the `globalConfig` as part of the instantiation of the component(which already receives `{ stdin, stdout, config }`.

[2018-10-28 20:02] SimenB commented on #7039
What about some sort of eventemitter? So instead of asking plugins to implement some functions to receive config (and potentially other stuff), they can listen for events? If it's _just_ config that's overkill, but if we think other stuff might be needed in the future, that might be simpler than asking plugins to implement some interface

[2018-10-28 21:37] dinigo commented on #7281
Same reason `jest.mock()` is, convenience. I know it's not much boilerplate.
[code]
Another example would be `jest.resetAllMocks()`. Could be done like on the client side like so:
[code]
as [mentioned in the docs](https://jestjs.io/docs/en/jest-object#jestresetallmocks).

This is real code
[code]
that could be replaced with
[code]
But anyway, just a suggestion. I'm happy enough with your great wor

[2018-10-28 22:33] andrew-pyle commented on #6027
Pull request #7295 sent to implement @SimenB's suggestion of adding `"//"` to the default blacklist

[2018-10-29 07:19] evanschaba commented on #3254
Getting this on ubuntu 18.10 when i run "npm start" on my virgin create-react-app untouched
WORKED!!!
SOLUTION
echo fs.inotify.max_user_watches=2048000 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

[2018-10-29 13:44] lensbart opened #7296 "The sidebars on the Jest website don’t scroll, clipping content"
In Safari Version 12.0 (14606.1.36.1.9) on macOS Mojave 10.14, both left and right sidebars on the Jest website don’t always scroll, clipping their content.

(This could be a bug in Safari, too; since scrolling seems to work from time to time)

[2018-10-29 16:13] SimenB commented on #7296
/cc @endiliey

[2018-10-29 19:05] sibelius commented on #6053
anybody has an example of lerna using jest with babelrcRoots?

[2018-10-29 20:04] dhurlburtusa commented on #7287
I was getting the same error in one of my integration tests. In it, I was using a Sequelize Model to setup the database to a known state in `beforeAll`. The fix was to call `close` on the Sequelize instance connected to the Model in the `afterAll` callback. Hope this helps someone else.

[2018-10-29 20:28] benhamlin commented on #6783
This looks like it might be cache related, as running @Isaddo's test23 repo with:
`yarn test --watchAll --env=node --no-cache`
has almost instantaneous re-runs.

[2018-10-29 20:43] vikr01 commented on #6053
@sibelius [Example](https://github.com/vikr01/tbd-project-name/tree/dev) using `yarn` workspaces (not `lerna`, but shouldn't be too different).

[2018-10-29 21:47] leonardovillela commented on #7109
Okay, so I'm not going to remove it.

[2018-10-30 02:30] alaboudi commented on #6091
I am also experiencing this.
[code]
If I use a describe block instead, I would get a message stating that at least one test is required in the file. :(

[2018-10-30 05:30] imcuttle opened #7298 "Bug: `--updateSnapshot` does not works on `toMatchInlineSnapshot`"
## 🐛 Bug Report

the snapshot in `toMatchInlineSnapshot` is not updated  after I used `--updateSnapshot` to update snapshot.

## To Reproduce

1. test case
[code]
2. after running with `--updateSnapshot`
[code]
3. running without `--updateSnapshot` (throws error)
[code]

## Expected behavior

jest should update code when after running with `--updateSnapshot`

[code]

## Link to repl or repo (highl

[2018-10-30 13:50] Seinfeld70 opened #7299 "EADDRINUSE ::: 8080"
I know this error means that port 8080 is already in use But it is not. I tried different ports but the result is the same. It gives this error for some specific tests only. Sometimes it does not give this error.
This is a part the code.

`  describe("GET /", () => {
    it("should return all genres", async() => {
      await Genre.collection.insertMany([
        {name: 'genre1'},
        {name: '

[2018-10-30 13:51] SimenB commented on #7299
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jest) or our [discord channel](https://discord.gg/MWRhKCj) for questions.

[2018-10-30 13:51] #7299 closed

[2018-10-30 14:06] SimenB commented on #6027
Fixed in #7295

[2018-10-30 14:06] #6027 closed

[2018-10-30 16:43] SimenB commented on #6492
That's something that should be addressed in ts-jest then

[2018-10-30 16:58] jamietre commented on #7254
Try adding `--no-cache` jest arg: https://github.com/facebook/jest/issues/6683

[2018-10-30 17:06] SimenB commented on #7298
The first argument should be property matchers, see https://jestjs.io/docs/en/expect#tomatchinlinesnapshotpropertymatchers-inlinesnapshot

Sorta related to #7128

[2018-10-30 17:06] #7298 closed

[2018-10-30 17:11] 4E71-NOP commented on #3254
For what it's worth: Maybe it's related to the environment (module X vs module Y).

I have 2 ReactNative applications that have 2 different configurations. Mostly because one of them use React-Native-Camera that is not yet ready for the latest RN versions (ie : latest Gradle and such environment). The other one is a demo to test latest RN version and environment.

The application using React-Nativ

[2018-10-30 18:17] sscaff1 commented on #1520
@rudresh4 this is what I'm doing as well. You could further refine this too by have some test config files. Like this

[code]

Then use these in your test names. At least for our use case, this is going to be useful to support convention. It makes no sense as to why this issue is closed. Should be open with a tag of help wanted...

[2018-10-30 19:26] mengdage opened #7302 "Empty coverage is not generated correctly"
## 🐛 Bug Report

When a file is not covered by any unit tests, jest consider it as a untested file and [generate empty coverage](https://github.com/facebook/jest/blob/master/packages/jest-cli/src/reporters/coverage_reporter.js#L85) for it. However, these files are instrumented by babel [without using `babel-plugin-istanbul`](https://github.com/facebook/jest/blob/master/packages/jest-cli/src/genera

[2018-10-30 19:35] mengdage commented on #7302
I am working on a solution. See this [PR for details](https://github.com/mengdage/jest/pull/1/files). It fixes my problem. But I'm not sure if it would break anything because the I don't fully understand the purpose of the original code.

[2018-10-30 22:01] ide opened #7304 "Running Jest (namely jest-circus) outside of Node"
## 🚀 Feature Proposal

I am looking at running jest-circus outside of Node and it mostly works but there are some transitive dependencies on Node built-ins like `fs` that don't make a lot of sense in non-Node environments. This is a proposal to make jest-circus run outside of Node and add a test to keep it running.

## Motivation

The motivation is to run Jest tests fully outside of Node to test r

[2018-10-31 01:33] DavidNaMills commented on #5055
pass done into the test and call it after the assertion

[code]

[2018-10-31 05:06] imcuttle commented on #7298
@SimenB Thanks for your reply,

I got why `--updateSnapshot` do not update first argument.
But I consider the error should be thrown when run the test case, even with `--updateSnapshot`,

[code]

[2018-10-31 05:44] kwonoj commented on #7062
for https://github.com/mozilla/source-map/issues/331, I have created POC as discussion https://github.com/mozilla/source-map/pull/369  - while I have low expectation if it could be accepted due to some hacky workaround to achieve sync interfaces. /cc @SimenB for fyi.

[2018-10-31 06:34] mweibel opened #7307 "currently used jsdom fails to detect canvas version 2.*"
I just spend half an hour or so debugging an issue with `jsdom` not detecting `canvas` being installed after stumbling upon the following error in the jest tests:
```HTMLCanvasElement.prototype.getContext (without installing the canvas npm package)```

The test used in `jsdom` to detect `canvas` being installed is wrong and has been fixed in jsdom/jsdom#1964 and in version 13.0.0 of jsdom. Jest us

[2018-10-31 06:37] thymikee commented on #7307
You can use custom environment which uses latest jsdom (there should be something on npm already). We can't switch to it by default because it would mean dropping Node 6 which we support.

[2018-10-31 06:37] #7307 closed

[2018-10-31 07:33] SimenB commented on #7298
Throwing would be part of #7128

[2018-10-31 07:35] SimenB commented on #5055
no need to use `done` at all if you use promises

[2018-10-31 07:54] imcuttle commented on #7298
Thanks!

[2018-10-31 08:38] deser commented on #7268
Guys, any thoughts?

[2018-10-31 08:59] SimenB commented on #7268
@deser you can try installing jest 24 prerelease (`yarn add --dev jest@beta`) which includes #7186 to verify.

If it does not help, you need to update the OP with the information from the issue template, most importantly including a full reproduction case

[2018-10-31 09:01] deser commented on #7268
Sure, I'll feedback

[2018-10-31 09:19] deser commented on #7261
Guys, any thoughts?

[2018-10-31 09:19] deser commented on #7268
Nope, it didn't help. I'll update description.

[2018-10-31 09:39] deser commented on #7261
Ok, I believe you guys know what you do)

But the article says (as I understood) that you try to find the biggest test when you run `multiple tests at once` and run them first.
My case shows that this is not true: small test suite runs first. And that still doesn't explain why running the same test suite under different conditions takes much different time, because as I understand cores of my PC a

[2018-10-31 09:42] thymikee commented on #7261
They are split among test files, `test`s are always ran synchronously.

[2018-10-31 09:49] deser commented on #7261
So there should be no difference when I run 1 test suite from 1 file :) Tests within this file run synchronously on 1 core. The same picture when I run multiple tests at once: 1 test file is assigned to 1 core

[2018-10-31 10:04] thymikee commented on #7261
Hm, for 1 test we should still run in band. Here's relevant code:
https://github.com/facebook/jest/blob/2f32100c0e8ae04dc24da25f0713c004bb6b2c51/packages/jest-cli/src/TestScheduler.js#L98-L101

Feel free to play with it.

[2018-10-31 10:10] deser commented on #7261
ok, thanks

[2018-10-31 13:28] anchnk opened #7308 "unexpected token with rest parameters destructuring"
## 🐛 Bug Report

I am trying to test a function which uses [rest parameters destructuring](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/rest_parameters#Destructuring_rest_parameters).

This throws an **unexpected token exception** which points to the line where the function is declared:

[code]
The project isn't **transpiled or transformed**.

According to [node.gree

[2018-10-31 14:28] SimenB commented on #7308
You can set up a repository we can pull down to test, if you want.

---

That's a babel error, you need to add the correct syntax plugin (not sure which one that is).

From testing in the repl, this is fixed in Babel 7, but not Babel 6.

(You can also disable babel by having `transform: {}` in your config).

Closing, but happy to reopen if my analysis is wrong

[2018-10-31 14:28] #7308 closed

[2018-10-31 15:02] Vanuan commented on #2234
I'm getting error whenever I try to assign to global.Date:

[code]
It looks like the problem is that I'm using JUnit reporter which is executed in the context of the test and is using Date which is already destroyed because anonymous class is destroyed.

So yeah, global Date is messed up when you use suggestions like all of the above. And it is only a problem when you use non-standard reporters.

[2018-10-31 15:14] SimenB commented on #2234
Reporters shouldn't be executed inside the sandbox. Jasmine reporters might be hooking into some jasmime stuff that's not purposefully supported, though

[2018-10-31 15:36] Regaddi commented on #6785
This seems to apply to more configuration properties.
As an example I have different `collectCoverageFrom` options set for different projects (e.g. I want to exclude Storybook files from coverage in projectB only).

Also if I configure different `coverageThreshold` options in each project, when running tests for all projects it won't respect my individual `coverageThreshold` and uses global `cover

[2018-10-31 17:20] SimenB commented on #6785
You can see what is considered global config and what's considered project config here: https://github.com/facebook/jest/blob/master/types/Config.js

This is very confusing, and somewhat inconsistent. Would love to fix it at some point. S great first step would be to explicitly error out if global config is provided as project config, but that would just treat the symptom, not the underlying issue

[2018-10-31 18:14] johnjensenish commented on #3601
This is a working example of the problem posed in the original comment:

[code]

[2018-10-31 18:15] johnjensenish commented on #3601
For anyone looking for a simple, working example of the problem posed in the original post:
[code]

[2018-10-31 18:42] bmeeder22 commented on #6500
+1

[2018-10-31 19:14] SimenB commented on #6500
This can be implemented as a custom watch plugin, see https://jestjs.io/docs/en/watch-plugins

If anybody does this, please send a PR to [`awesome-jest`](https://github.com/jest-community/awesome-jest) to add it to the list of watch plugins there!

[2018-10-31 19:14] #6500 closed

[2018-10-31 22:33] aaronabramov commented on #7245
what if the external source starts failing all the time? then you'll just have a skipped test that will never run.

i think for very specific scenarios you can just use:
[code]

but i agree with @palmerj3 that having this in the core doesn't look like a great idea

[2018-10-31 22:58] wheresrhys opened #7310 "Feature Proposal: Keyboard shortcut to run the nth failing test in watch mode"
## 🚀 Feature Proposal

In watch mode, run the nth failed test by typing a string that matches this pattern: `/\d+f/`.

## Motivation

Two motivations
1. Easy navigation to the failing test you want to tackle first when faced with a number of them, without having to copy paste the test name
2. When refactoring, oftentimes many tests will fail simultaneously. If the output is particularly noisy it c

[2018-10-31 23:21] UselessPickles commented on #7070
@rickhanlonii Are you saying that nothing should be pushed onto the `instances` array when the mock is called without instantiating?

The current design of how all the call information for mocks is maintained is with parallel arrays, where index 1 (for example) in all the arrays is expected to contain the relevant information for the second call to the mock. Based on this design, pushing `undefine

[2018-10-31 23:30] UselessPickles commented on #7070
According to this, it is possible to detect whether a function was called as a constructor as of ECMAScript 6: https://stackoverflow.com/questions/367768/how-to-detect-if-a-function-is-called-as-constructor/31060154#31060154

`new.target` is the key: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/new.target

I don't quite understand all possible environments that Jest

[2018-10-31 23:38] SimenB commented on #7070
`jest-mock` can run in the browser, so it would be nice to support IE11. No biggie, though. Can we feature detect it?

[2018-10-31 23:39] UselessPickles commented on #7070
Another thing to consider: if a function used as a constructor returns an object, then that return value is returned by the `new` expression, instead of returning the new instance (can be used to implement caching for a "multiton" pattern in a way that is transparent to users of the class/constructor, for example).

In that situation, do we still want to store `this` in the `instances` array? Is i

[2018-10-31 23:49] SimenB commented on #6180
As another data point, Jasmine has `withArgs`: https://jasmine.github.io/api/edge/Spy.html#withArgs

[2018-10-31 23:51] SimenB commented on #7070
I'm not sure to be honest 😅 It's been there since the "FIRST" commit back in 2014, but I can't find it in Jasmine's docs. I'd happily remove it since I've never had any use for it whatsoever, but that might just be me. What use-cases are covered by `instances` but _not_ `calls`?

[2018-10-31 23:53] SimenB commented on #7310
I like this idea! What about adding it as part of typeahead, with it just filtering failing tests?

[2018-10-31 23:57] UselessPickles commented on #7070
Since `new` is a keyword rather than an a global object, `new.target` might be a syntax error in IE11, rather than something that simply resolves to undefined or causes a run-time error that could be simply wrapped in a try/catch for feature detection.

If that's the case, maybe it could be wrapped in `eval()` to move the syntax error into the `eval` execution at so that it can be caught at run-ti

[2018-10-31 23:57] nikolai-netskope opened #7311 "Memory Leak when running multiple test. Especially with --runInBand"
## 🐛 Bug Report

Hi. I'm seeing a memory leak while trying to run a basic autogenerated ( with "ng g c my-test" and "ng g c "my-test-2") Angular component. If i run jest with --detectLeak , i get messages saying that there are leaks. If i run jest with --runInBand , i see heap size going up ... when i add enough of those "blank" tests or reduce the size with --max_old_space_size= , I run out of me

[2018-11-01 00:03] UselessPickles commented on #7070
I don't see how `calls` could possibly cover any use case that is covered by `instances`, or vice-versa. `calls` only contains the an array of the arguments to the function call, while `instances` is intended (I assume, based on its name...) to store a reference to the instance that was created by calling the function as a constructor with the `new` keyword.

One simple possibility is to rename/do

[2018-11-01 00:04] #7245 closed

[2018-11-01 00:07] UselessPickles commented on #6672
@SimenB Now that #6381 us merged, what are your thoughts on this issue?
(see previous comment for some options to consider)

[2018-11-01 00:35] cdomigan commented on #1395
Using the new PnP feature of Yarn enabled Jest to run fast in Docker for me. It removes the `node_modules` folder meaning Jest doesn't have to crawl it.

[2018-11-01 02:29] andrearosr commented on #4969
I'm picking up jest-watcher

[2018-11-01 04:46] monkey3310 commented on #4969
I will pick up `jest-worker` and `pretty-format`

[2018-11-01 06:59] SimenB commented on #7070
I meant `results`, not `calls`, sorry!

[2018-11-01 07:15] SimenB commented on #6672
I wonder if we should have `jestMock.mockInvocations` (or something) be an array of this shape:

[code]
Then we could in theory add some more stuff

@thymikee @rickhanlonii thoughts?

[2018-11-01 08:19] lakgani opened #7317 "Jest hangs if there is any file in the project with a large amount of spaces"
## 🐛 Bug Report

Jest hangs forever if any file in the project is having a large number of continuous space characters

## To Reproduce

Include a js file in the project being tested with large amount of spaces in it. eg 1million spaces.

## Expected behavior

Jest should either report it can handle the file or can just ignore it.

## Link to repl or repo (highly encouraged)

https://repl.it/repls

[2018-11-01 08:32] medikoo commented on #7245
@aaronabramov it's what we do now (return and log), still as we have large number of tests, those logs usually come unnoticed.

If they would be skipped, then in the final summary any skip if happened will be noticed.

[2018-11-01 12:21] deser commented on #7268
@SimenB , please see demo

[2018-11-01 12:34] deser commented on #7268
UPD: Seems this issue is resources dependent. On my machine tests fail, when on another they doesn't.
If tests doesn't fail on your machine I assume you can throttle your CPU to reproduce the issue.

My machine:
  System:
    OS: Windows 10
    CPU: x64 Intel(R) Core(TM) i7-7600U CPU @ 2.80GHz
  Binaries:
    npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD

Node: 10.11.0

[2018-11-01 13:37] wheresrhys commented on #7310
still need to know the name of the test, also I guess typeahead is harder to implement than a pointer to a single item in a list

[2018-11-01 14:18] UselessPickles commented on #7070
Still, there's no overlap between `results` and `instances`. `results` contains info about what value was returned/thrown by the function. `instances` contains the `this` execution context (which may be the newly created instance if the function was called via `new`, and the function did not explicitly return anything).

Aside from the (probably rare) edge case I mentioned a few comments ago about

[2018-11-01 14:32] UselessPickles commented on #6672
I don't see any reason to nest `args` in a `call` property.

Also, a slight correction on the type of `result` (can be undefined while the function is incomplete), adding timestamps for this issue, and some suggestions for #7070

[code]

[2018-11-01 15:14] BruceL33t commented on #678
@cpojer can you explain more about what "some modules use meta programming" and the reason why they "can't properly be mocket" because right now I face a weird issue, where I get this error when trying to call genMockFromModule on a package built with Babel 7, preset-typescript - but it works if I build the package with Babel 6 and ts-loader. Do you have any idea, what the difference might be?

[2018-11-01 16:21] Vanuan commented on #2234
Oh, so you're saying that this sort of code is not supported?
[code]
Error happens here:
https://github.com/facebook/jest/blob/f9fd98fd4e38978e96a86f1c8796593cad7ac470/packages/jest-jasmine2/src/jasmine/ReportDispatcher.js#L63-L72

[2018-11-01 16:43] SimenB commented on #2234
Correct, you should use
https://jestjs.io/docs/en/configuration#reporters-array-modulename-modulename-options.
E.g. https://github.com/jest-community/jest-junit

On Thu, 1 Nov 2018 at 17:35 John Yani <notifications@github.com> wrote:

--

--
Simen Bekkhus

[2018-11-01 17:14] d4nyll opened #7318 "`merge` package `v1.2.0` has CVE-2018-16469 vulnerability"
[`jest-haste-map`](https://github.com/facebook/jest/tree/master/packages/jest-haste-map) indirectly depends on `merge` `v1.2.0`, which has a [vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2018-16469)

I have traced the dependency tree:

[code]

- The current version of [`exec-sh`](https://github.com/tsertkov/exec-sh) (`v0.3.2`) has removed the `merge` dependency.
- The current version of [`s

[2018-11-01 18:35] vroudge commented on #5583
I have the same issue.

[2018-11-02 03:35] jamesg1 commented on #5124
@RubenVerborgh Thanks for that worked well!

[2018-11-02 09:43] davidnormo commented on #2129
In case anyone else comes across this, the global function `fail` works. I believe it's a feature of Jasmine.

[code]

[2018-11-02 14:09] Berkmann18 commented on #6867
@rogeliog Did you managed to further investigate the issue?

[2018-11-02 15:05] artsyca commented on #3628
there's another way, we can `apply` a function like:

    function initContext () {
        this.app = express ();
        this.http = http.Server (this.app);
        ...
    }

and then in each test:

    it('has a context', function() {
        initContext.apply(this);
    }

[2018-11-02 16:20] holic commented on #1650
Thanks @viddo! 😍

[2018-11-02 17:09] phapp88 commented on #7105
I'd love to help by updating one of the other matchers that need to be updated

[2018-11-02 17:22] katima-g33k commented on #7262
I opened a thread on StackOverflow with this issue. Just in case someone else ever has this issue (or if you have the answer) here is the link: https://stackoverflow.com/questions/53123182/wrong-code-coverage-in-jest-after-react-native-upgrade

[2018-11-02 17:26] yamatatsu opened #7323 "`jest-haste-map/src/lib/fast_path.js` relative() return wrong path"
## 🐛 Bug Report

`fast_path#relative()` in jest-haste-map return sliced dir name, when filename start with words same rootDir.

ex)
`dirname: foo/bar`
`filename: foo/barbaz/index.js`

And relative() return `az/index.js`

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

When:
`dirname: foo/bar`
`filename: foo/barbaz/index.js`

And should get `../barbaz/index.js`

## Link to

[2018-11-02 19:34] apsitos commented on #6975
I'm having the same issue. Any updates?

[2018-11-02 20:12] pedrottimark commented on #7105
@phapp88 You are welcome to update `toEqual` matcher with similar goal as #7224

* Please **don’t refactor** as assignment to `hint` that calls `matcherHint` even if the test passes.

[code]
* Please **do** call `matcherHint` in both callbacks (so it is called only if the test fails) as follows:

[code]

[2018-11-02 21:56] SimenB commented on #7274
@dylang can you test with eager evaluating error stacks, ref #6965?

[2018-11-02 22:31] ClayShentrup commented on #3576
Here's a crazy simple example.

[code]

Example 1
[code]

Example 2
[code]

It's as if putting the `then()` before the `catch()` in the code under test puts the `catch` in the next tick of the event loop, so the assertion catch happens first. That's bananas.

[2018-11-02 23:10] kmwarter commented on #6662
This took me an entire day to figure out. I tried, it feels like maybe thousands of logical solutions. I used git bisect to figure out the exact commit where the issue occured. I removed the package we had added. I then finally isolated that the package-lock.json was causing the issue because when I added all files from the bad commit one by one everything worked fine, but if I swapped the package

[2018-11-03 03:40] roine commented on #3853
For me this in `beforeAll`
[code]

and this in the shell did the work:
[code]

[2018-11-03 04:42] wizebin commented on #6108
Some old projects may be migrating from another test suite to jest and have some code in their test setup file such as:

[code]

This will continue to work with jest but will throw off line numbers by a bit, if you're stuck and migrating an older project remove this kind of malarkey.

[2018-11-03 05:10] #7323 closed

[2018-11-03 09:28] tobyhinloopen commented on #3853
For me, switching to `mocha` solved the problem. It is very trivial to switch, since the DSL is very similar. You can even keep using JEST' expect-library: https://www.npmjs.com/package/expect

[2018-11-03 13:33] SimenB commented on #6975
@aslanovsergey sorry about the delay, finally found some time to dig a bit into your repo.

You have at least 2 issues in configuration: You do not pass `js` files to `ts-jest`, and you haven't told tsc to compile JS files. The following diff fixes it (you could also use `babel-jest` to compile JS if you want):

[code]

However, the file is still not transpiled because of how Jest uses the ignore

[2018-11-03 13:33] #6975 closed

[2018-11-03 19:12] thisismydesign commented on #1650
@SimenB This isn't available for me with `24.0.0-alpha.4` even though [it should be there](https://github.com/facebook/jest/blob/v24.0.0-alpha.4/docs/Configuration.md#snapshotresolver-string).

[code]

[2018-11-03 19:29] StarpTech commented on #7254
Yes, using `--no-cache` solves my issue thank you!

[2018-11-03 19:29] #7254 closed

[2018-11-04 07:15] shai32 commented on #5164
I don't use typescript, is there another solution?

[2018-11-04 09:15] shai32 commented on #5164
@ezze
I tried that, but I am using yarn workspace, and it doesn't work with yarn workspace (shared packages are not compiled because they are in node_moduels)

I don't understand why setupTestFrameworkScriptFile is transformed but globalSetup are not.

[2018-11-04 13:58] joaoeudes7 commented on #7094
Any news as a correction?

[2018-11-04 14:00] StarpTech commented on #7094
@joaoeudes7 Look at my last comment it was my fault.

[2018-11-04 18:19] MurakamiKennzo opened #7326 "Can coverage just with test file"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [The Jest help page](https://jestjs.io/en/help.html)
- [Our discord channel in Reactiflux](https://discord.gg/MWRhKCj)
- The [jestjs](https://stackoverflow.com/questions/tagged/jestjs) tag on [StackOverflow](https://stackoverflow.com/questions/ask

[2018-11-04 18:59] ruslankhh commented on #6662
I've noticed that it's important to write `babel.config.js`, not `.babelrc` :)

[2018-11-04 22:07] SimenB commented on #6672
I like it! Do we want a real timestamp, or just something relative to process startup? Depends on if we want higher precision than milliseconds

[2018-11-05 09:10] Thuytien commented on #6521
@daviddelusenet : Did you find the solution for this issue? I got the same with "jest": "^23.6.0" and "enzyme": "^3.7.0"

[2018-11-05 09:38] daviddelusenet commented on #6521
Not really, just did what I mentioned above.

[2018-11-05 09:45] Thuytien commented on #6521
@daviddelusenet : Use babel-upgrade, run npx babel-upgrade --write --install. It worked with me

[2018-11-05 09:47] SimonSimCity commented on #1388
Just because nobody mentioned it earlier: There is an npm pacakge out there now mocking most of the meteor-internal packages: https://www.npmjs.com/package/jest-meteor-stubs

[2018-11-05 10:00] odrzutowiec commented on #6127
I've run into the same problem, I set in my jest.config.js ```automock: true``` and everything crashed. I am getting this error
[code]

[2018-11-05 13:54] AndrewLeedham opened #7328 "Feature Proposal: Add --displayName as a CLI option"
## 🚀 Feature Proposal

Add `--displayName` as a CLI option. Also add documentation for adding `"displayName": "name"` to configs, as they are [only specified in project configs](https://jestjs.io/docs/en/configuration#projects-array-string-projectconfig) but work in normal configs.

## Motivation

Differentiating tests with unique displayName's when running Jest multiple times from the CLI.

## Ex

[2018-11-05 19:02] jktravis commented on #4883
I've just encountered the problem. Only happens in `watch` mode, but `watchAll` works fine. It complains about a module that has been removed. Running `grep -irl <moduleName> <scriptsDir>` shows no results. I also tried running with `--no-cache` with no luck.

Version info:
    "jest": "^23.6.0",
    "ts-jest": "^22.4.6",

[2018-11-05 20:05] dereklin commented on #4883
Did you delete the test coverage folder?

[2018-11-05 20:14] jktravis commented on #4883
Huh.  I was messing with another problem earlier and was just nuking lock files, node_modules and my build folder, and never went back to check this particular problem. But I bet that was it.

[2018-11-05 22:42] amiral-jion commented on #5370
just in case someone needs this in the future, you can use the second parameter in the jest.mock to do that.
https://jestjs.io/docs/en/jest-object#jestmockmodulename-factory-options

[2018-11-05 23:42] byronanderson opened #7330 "Ability to lowlight or omit a difference between undefined and omitted values in expectation failure diff"
## 🚀 Feature Proposal

I would like for undefined properties of an object to be de-emphasized from the diff presented after an equality match failure.

## Motivation

I have run into many properties being present, but set to undefined in the subject of an assertion, and do not wish to replicate them in the expected value.  The default equality testing mechanism does not care about a key which is m

[2018-11-06 00:06] richardgirges commented on #6730
Been running into this issue for a while. It took me a while to realize that this TypeError is only thrown when the objects _don't_ match. Makes a lot more sense now that I'm looking at @shai32's findings.

[2018-11-06 00:10] MurakamiKennzo opened #7331 "watch and coverage bug?"
## 🐛 Bug Report

when I run jest --watch, I see unknown coverage.

## To Reproduce

see Link repo.

## Expected behavior

show correct coverage.

## Link to repl or repo (highly encouraged)

[jest-watch-coverage-bug](https://github.com/MurakamiKennzo/jest-watch-coverage-bug)

## Run `npx envinfo --preset jest`

Paste the results here:

[code]

[2018-11-06 01:43] dylang commented on #7274
@thymikee - my fixes for the memory leak were merged and published!

@SimenB I upgraded `graceful-fs` in [dylang/jest-circus-memory-leak](https://github.com/dylang/jest-circus-memory-leak-repo) and it no longer have the memory leak issue, so I think we can consider this issue resolved, as long as `graceful-fs` is `^4.1.15` everywhere it's used in this project.

[2018-11-06 03:48] SimenB commented on #7274
I'd still like to track that part. Or is it fixed? If not, could you test the stack change I linked to?

[2018-11-06 03:54] SimenB commented on #6730
A PR fixing this is most welcome!

[2018-11-06 04:01] SimenB commented on #7330
I think that's a weakness in the `toEqual` matcher, and one of the reasons we introduced the `toStrictEqual` matcher.

That said, I agree it's inconsistent. @thymikee @rickhanlonii @pedrottimark thoughts?

[2018-11-06 13:20] gorshkov-leonid commented on #5788
Hi,

[2018-11-06 14:00] spuy767 opened #7332 "Code Coverage reports less than 100% with no line numbers in Vue"
## 🐛 Bug Report

Jest Coverage reports less than 100% but doesn't give line numbers, this may be an issue with Istanbul.  I will also be filing a bug report with them.

## To Reproduce

Steps to reproduce the behavior:
I have been working for two days to try and figure out a method to reproduce this, but it almost appears random.

## Expected behavior

A clear and concise description of what you e

[2018-11-06 15:50] gabrielbs commented on #7331
also happens on ubuntu 18.04

[2018-11-06 19:54] fbartho commented on #7257
I made a `create-react-app`-based attempt at reproducing this, but it doesn't reoccur with my snapshotResolver. I'm wondering if it's related to `typescript` or `react-native` :(

[2018-11-06 19:56] fbartho commented on #7257
I have a repro, packaging it up shortly!

[2018-11-06 21:49] fbartho commented on #7257
Reproduction provided here! https://github.com/fbartho/jest-snapshot-custom-paths-bug-reproduction

@SimenB -- please let me know if there's anything further I can do to help!

I've verified it occurs on `alpha.4`
[code]

[2018-11-06 23:17] fbartho commented on #7257
@facebook-github-bot label :bug: Bug

[2018-11-06 23:17] fbartho commented on #7257
@facebook-github-bot label Has Repro

[2018-11-07 01:06] #6730 closed

[2018-11-07 08:34] vicapow opened #7337 "findRelatedTests should work with npm dependencies"
## 🚀 use npm dependencies when computing related tests

It would be helpful if findRelated tests worked with npm dependencies, as well.

    yarn jest --findRelatedTests my-npm-module

## Motivation

By doing this, we'd be able to more reliably on running only  related tests as part of CI for a large JavaScript codebase.

Note, this seems to be technically possible today using the undocumented has

[2018-11-07 08:42] SimenB commented on #7337
@rubennorte thoughts? You've been doing a lot of work on `jest-haste-map` lately 🙂

[2018-11-07 08:45] elir92 opened #7338 "Jest config problem with CRA"
## 🐛 Bug Report

The problem is that Jest ignores the tests files with create react app project.

My environment:
  OS:  Windows 10
  Node:  8.12.0
  npm:  6.4.1

Packages: (wanted => installed)
  react: ^16.6.0 => 16.6.0
  react-dom: ^16.6.0 => 16.6.0

### Steps to Reproduce

1.  Initiated new project with create react app.

2. Installed this - npm install --save enzyme enzyme-adapter-react-16 re

[2018-11-07 09:02] SimenB commented on #7338
This is a configuration issue, potentially with CRA. Please open up an issue in their repo. Thanks!

[2018-11-07 09:02] #7338 closed

[2018-11-07 10:29] korczas opened #7339 "Testing component which contains setTimeout cause infinite loop and node freeze"
## 🐛 Bug Report

Testing components in which setTimeout is set cause node to freeze after few seconds. It happens in watch mode, and when timeout is less than about 1000 ms.

## To Reproduce
component
[code]
test
[code]

## ENV INFO

[code]

[2018-11-07 10:58] aymericbouzy commented on #5788
it seems to me it's an unrelated issue. I would suggest defining a [custom matcher](https://jestjs.io/docs/en/expect#expectextendmatchers).

[2018-11-07 11:08] aymericbouzy commented on #5788
What do you mean? can you validate that a given object is an instance of Error and that it has a key message with value "failure" using a regex? I don't get it.

I use Mongoose in my code. I often find myself wanting to write such code :

[code]

Except I have dozens of different models. Also, sometimes, I don't want to check the id matches, but some other information.

Whenever I find another use

[2018-11-07 12:39] frosas commented on #7318
Because caret ranges are used to define the dependencies, a possible workaround is to ensure the newer fixed version of `merge` (1.2.1) is being used:

[code]

[2018-11-07 13:13] alloy opened #7341 "Watch mode ~2 times slower than regular test run."
## 🐛 Bug Report

Running all tests while in watch mode is ~twice as slow as running all tests outside of watch mode.

This is with the same _forced_ number of workers. The [CLI docs](https://jestjs.io/docs/en/cli#maxworkers-num) state that the default is the number of cores the host machine has, however, in my case I’m noticing that it will actually run by default with `N-1` workers, presumably to

[2018-11-07 20:55] dylang commented on #7274
*Very non-scientific*. We have 5800 tests and I don't have time right now to do a full run several times over, so this is just the first 15 tests - which are not necessarily the same 15 tests. Filenames have been removed because I don't know if I can share them.

### Jest `23.6.0`, default runner

[code]

###  Jest `23.6.0`, Jest Circus `23.6.0`
[code]

###  Jest `v24.0.0-alpha.4`, Jest Circus `v2

[2018-11-07 21:05] SimenB commented on #7274
The subset is fine 🙂 #6965 just landed for jasmine, not circus, I was wondering if you could eager evaluate all stacks and see if it helped

[2018-11-07 21:17] clenemt commented on #7212
Just to add my two cents.

Have the same problem when running from msysgit. Run fine when using cmd which is a bummer but probably not related to jest or babel-jest at all.

[2018-11-08 03:03] wongjiahau commented on #3853
This issue is really hurting, I wish the maintainers could fix this as soon as possible, because Jest is meant to increase productivity, not the other way round right?

[2018-11-08 05:19] robhorrigan commented on #6822
@SimenB It appears this issue has resurfaced.

**Returns 404 for all i18n routes**: [Page not found - Github Pages](https://jestjs.io/docs/ja/getting-started)

I also attempted to view older doc versions and still get a 404.

[2018-11-08 06:55] mgmgpyaesonewin opened #7342 "Updating jest version from 23.5.0 to 23.6.0 produce errors."
## 🐛 Bug Report

After updating from 23.5.0 23.6.0, running jest produce this error log.

## Expected behavior

While using 23.5.0 repo, it determines the test and continues.

Paste the results here:

[code]

[2018-11-08 07:20] LvChengbin commented on #5783
I found a strange behavior of Jest about this problem.
If there is only one test file, such as `index.spec.js`,  the jest will not exit if `app.listen()` is called.
But if there are more one test files, it will exit as expected.

[2018-11-08 08:02] bichikim commented on #6694
Mocha takes one second.
Jest takes 12 seconds.
So I removed the Jest from my project.

[2018-11-08 08:57] thymikee commented on #7342
This looks like an issue with your package manager. Re-install packages properly and it should be good.

[2018-11-08 08:57] #7342 closed

[2018-11-08 11:41] deser commented on #7268
Guys, any updates\thoughts on the issue?

[2018-11-08 21:04] wldcordeiro commented on #6998
@rickhanlonii @SimenB anyone? This seems like something that should work with the `projects` feature. 🤔

[2018-11-08 21:52] SimenB commented on #7332
This is not actionable without a reproduction

[2018-11-08 21:59] #7332 closed

[2018-11-08 22:00] SimenB commented on #7332
ALso, try to open the html report as it's able to highlight way better than the text summary

[2018-11-08 22:09] jsharpe commented on #6521
jest-config 23.6.0 is still depending on version ^6.0.0 of babel-core. This dependency needs to be removed to resolve the issue properly.

[2018-11-08 22:12] SimenB commented on #6521
No it doesn't, Jest will use your version of babel. See https://github.com/facebook/jest/tree/46914f837bce5d9b18ee228177b20f2e893fd42e/examples/babel-7

[2018-11-08 22:16] Emiliano-Bucci commented on #5742
Hi to all, does anyone find a solution to this? I think i'm encountering the same issue. I keep getting the same error: `error TS2307: Cannot find module`
i'm using next.js, jest and enzyme and i also have installed the babel plugin module resolver.

[2018-11-08 22:35] ericclemmons commented on #3853
Confirmed that `--verbose=false` fixes the issue.

[2018-11-08 23:01] kentcdodds opened #7344 "docs: add test example for react-testing-library"
react-testing-library is increasing in popularity so it makes sense to include it alongside the enzyme examples on [the Testing React Apps page](https://jestjs.io/docs/en/tutorial-react.html).

Anyone wanna take that on? https://github.com/facebook/jest/edit/master/docs/TutorialReact.md

[2018-11-08 23:34] ctsstc commented on #6859
I hate to bump, but this is still happening w/o any traction behind it 3 months later.

[2018-11-08 23:36] SimenB commented on #7344
Good idea, go for it!

[2018-11-08 23:41] kentcdodds commented on #7344
That sounds like a good start @terrencewwong!

[2018-11-09 01:01] MansoorBashaBellary opened #7348 "SASS Unit Testing with Jest"
Can I write Unit tests for SASS using Jest. If there is a possibility, can I examples of some code examples. Help will be appreciated. Thank you. !

[2018-11-09 03:16] Volune commented on #4842
What happened to that idea? Any issue in implementing it?

[2018-11-09 05:44] yct21 commented on #5583
Similar problem happens to me.

- MAC OSX 10.13.6 (17G65)
- node 8.12
- jest 23.6
- npm 6.4.1

And after closing iterm2 it still runs until reboot.

![image](https://user-images.githubusercontent.com/3829004/48245209-c8958d80-e424-11e8-8ef6-de8c28f7fb17.png)

Can't reproduce afterwards.

[2018-11-09 06:46] thymikee commented on #7348
Please use Stack Overflow for such questions.

[2018-11-09 06:46] #7348 closed

[2018-11-09 07:10] lxii commented on #6712
I faced the same issue on Windows, when running coverage report from cmd. The problem does not occur, however, when running coverage from PowerShell.

[2018-11-09 10:28] thymikee commented on #4565
@voroshkov see https://jestjs.io/docs/en/puppeteer

[2018-11-09 11:00] voroshkov commented on #4565
@thymikee, thanks! Is there a way I can use ES6 imports in the globalSetup script or in scripts it requires?

[2018-11-09 11:01] thymikee commented on #4565
Nope, only with babel-register if you fancy

[2018-11-09 14:29] mdavid88 commented on #936
The one that worked for me, based on the answer by @thomaskempel

In my case, I wanted to mock a dependency in node_modules, lets call it 'shared-components'. It exports a number of named components. I wanted to mock only a couple of these named exports, and leave the rest as the real thing.

So in `__mocks__/shared-components.js` I have:

`
const original = require.requireActual('shared-component

[2018-11-09 14:50] cyrilchapon commented on #5192
It's also not convenient because it breaks standardjs.
Of course, we can
- Add global ignore of jest `it` and other functions in standard config
- just go for `import { it } from global`

But I like to think that, if a linter complies, it's because it's a bad practise. And indeed everything in global is a bad practise, at the root of some evils.

Mocha supports it. Any plan to add it ?

[2018-11-09 16:04] dylang commented on #7274
hi @SimenB - I'm not sure what you mean by `eager evaluate all stacks`.

[2018-11-09 19:20] EthanRBrown opened #7351 "Extend .toEqual API to allow custom equality matchers."
## 🚀 Feature Proposal

Allow custom equality matchers to be passed to `.toEqual`.  Internally, Jest already takes advantage of custom equality matchers (it uses Jasmine's `iterableEquality`).  Providing this as part of the API would allow end users to take advantage of this extensibility.

## Motivation

The application I'm working on tests large, deep objects with many floating-point numeric prop

[2018-11-09 19:30] #7351 closed

[2018-11-09 19:30] EthanRBrown commented on #7351
Accidentally opened this; please see #7352

[2018-11-09 22:09] SimenB commented on #7274
See the description in #6965. But essentially, every place we do `new Error` in `jest-circus`, add a line below it that does `error.stack = error.stack`. This changes the `getter` into just a string, thus it can free the references it's keeping

[2018-11-09 22:11] SimenB commented on #5192
We have some vague plans to support it, but nothing concrete at this point. It is a feature we want, though 🙂

[2018-11-09 23:17] borekb opened #7353 "Prettier 1.15, jsxSingleQuote and inline snapshots"
I'm trying Jest with the newly released Prettier 1.15 that supports `jsxSingleQuote`. I have set it to `true` in my `.prettierrc` and after running Jest, tests look like this:

[code]

I've got two questions here:

1. Is it expected that Jest applies Prettier to the entire file? We don't use Prettier in this project, I was sort of assuming Jest only runs the snapshots through Prettier but before I

[2018-11-10 00:34] tomprats commented on #6798
Here's a solution I adapted from a similar problem mocking `window.location` https://github.com/facebook/jest/issues/5124

[code]

[2018-11-10 00:35] tomprats commented on #6858
I posted a solution here: https://github.com/facebook/jest/issues/6798#issuecomment-437537691

[2018-11-10 01:04] SimenB commented on #7353
1. Yes, formatting just the snapshot part proved difficult,/cc @azz
2. Yes, the serialization has nothing to do with prettier, that's done by `pretty-format`

[2018-11-10 01:04] #7353 closed

[2018-11-10 01:55] borekb commented on #7353
Thanks. I have to admit though that at this point I don't quite understand why Jest needs to format my source code – what would happen if I, for example, used different JSX quotes inside my `renderer.create` snippet?

[2018-11-10 02:20] SimenB commented on #7353
We don't format jsx, we format the result from `React.createElement` passed through some render function.

For prettier discussion, please see #6380