[2015-11-04 17:36] hgezim opened #593 "Output from a test isn't shown by the test producing output"
When running tests for my whole project, I get output from some tests (React warnings in this case) and they show up like this:

[code]

The warning comes in between `WizardStore-test.js` and `Component1-test.jsx`. That tells me that it's a warning in one of those files (not clear which one, BTW).

So I try and run tests for both individually:

[code]

The warning doesn't show up at all which tell

[2015-11-04 18:46] clentfort commented on #593
jest by default runs tests in parallel, use the flag `runInBand` to force jest to run the tests one after the other.
In the tests that generated the warning you can mock `console.error` (which react uses to show warnings) to prevent any output from being generated.

[2015-11-04 19:10] cpojer commented on #590
perfect!

[2015-11-04 19:10] #590 closed

[2015-11-04 19:25] fangmobile commented on #433
@roman01la  I think you need to put your test under __test__ folder in order to get coverage report.
I got that suggest from https://blog.sergiocruz.me/reactjs-unit-test-and-code-coverage-with-jest/ and was able to get report.

My problem is I get the report only from the files I tested, or list them in collectCoverageOnlyFrom. If my test does not touch a file in the test folder, I wish the report

[2015-11-04 19:44] cpojer commented on #593
this is because we are not buffering console outputs any longer and we are printing them as they happen. This is a bit unfortunate – @amasad can you think of a fix?

[2015-11-04 19:45] cpojer commented on #381
@akheron I suggest using a preprocessor to compile your code to ES5 before running test. Look at the `babel-jest` npm module.

@amasad can you elaborate on how the new dependency resolver resolves modules in this case?

[2015-11-05 00:31] binarykitchen opened #594 "More command line options: testDirectoryName, scriptPreprocessor, unmockedModulePathPatterns, testFileExtensions and moduleFileExtensions"
Currently these five options must be specified in the package.json but can we also support these via command line?

Asking this because we have a case here where some of these options are generated on run-time (in a gulp task). Having these static in the package.json isn't ideal.

What do you think?

[2015-11-05 00:32] cpojer commented on #594
I'm planning to completely redo configs for jest eventually, so these options might slightly change. Why not use the `--config` option and pass in a file with your on-the-fly created test config?

[2015-11-05 00:35] binarykitchen commented on #594
@cpojer been thinking of dynamically generating a config but that's too cumbersome. An unnecessary overhead.

[2015-11-05 00:39] cpojer commented on #594
[code]

?

[2015-11-05 00:40] cpojer commented on #594
I'm not opposed to adding this. Feel free to send a pull request. But note that the configs might change soon-ish and you might have to update your thing. I might also remove some of these options when I consolidate the cli args/config stuff.

[2015-11-05 00:45] binarykitchen commented on #594
Thanks but still do not like the idea to generate temporary configs.

Okay, what is the ticket where you are going to revamp the configs? And I ll comment there.

[2015-11-05 00:48] cpojer commented on #594
There is no task tracking this yet. This is mostly in my head atm. If you want to send a PR, I'll accept it but as said, these options might change in the future and I might remove certain things from the cli again. How do you feel about adding `--JSONconfig='{"..."}'? This means we don't have to add more than one cli option and it supports everything that the config supports.

[2015-11-05 00:50] binarykitchen commented on #270
ping?

[2015-11-05 00:51] binarykitchen commented on #594
@cpojer `--JSONconfig='{"..."}'` might do it - it is not perfect but good enough for us. Better than doing a temporary file. Can't do a PR right now. So, can you create a new ticket for that?

[2015-11-05 00:52] cpojer commented on #270
I think for now, if you are using webpack, you'll have to use a workaround like @mwolson proposed. If you guys can add a failing test and more explanation on what the issue is (and maybe send a PR) that would be greatly appreciated. I don't use webpack at FB and didn't have problems with webpack + jest outside of FB so far.

[2015-11-05 00:53] cpojer commented on #594
Seems like tracking this issue right here is fine. I'll probably not get to this anytime soon (like, within the next month) but I'd be happy to accept pull request that adds this feature.

[2015-11-05 00:55] binarykitchen commented on #270
@cpojer no, we do not use webpack here

[2015-11-05 00:56] cpojer commented on #270
Can you add an example and the expected behavior?

[2015-11-05 00:59] binarykitchen commented on #270
In `./src/frontend/something.js` we `require('translate')` which is in `./src/frontend/translate.js` but it won't find it because `./src/frontend` is not in the `NODE_PATH`.

In the browserify task we can define it and it's no problem there. Just need a similar config for jest.

[2015-11-05 01:03] cpojer commented on #270
You can set NODE_PATH before calling jest.

[2015-11-05 01:03] cpojer commented on #270
See https://github.com/facebook/jest/blob/master/src/HasteModuleLoader/HasteModuleLoader.js#L470

[2015-11-05 01:06] binarykitchen commented on #270
@cpojer that would work from a gulp task within but not when you call `jest` directly from the command line

[2015-11-05 01:08] cpojer commented on #270
This should be easy to fix, see the line of code up there that I linked. Wanna send a PR + add a test for this?

[2015-11-05 01:13] binarykitchen commented on #270
Can't do right now. In the middle of something else. If you can do it, that would be great.

[2015-11-05 01:16] cpojer commented on #270
It's going to be in jest faster if you send a PR.

[2015-11-05 02:40] homer0 opened #595 "Travis Node v4.0.0 and v4.1.0: A worker process has quit unexpectedly"
I'm trying to run my project tests on Travis-ci but I keep getting random failures with the following message:

    Running 9 test suites...A worker process has quit unexpectedly! Most likely this an initialization error.
    npm ERR! Test failed.  See above for more details.

The suite has 19 tests, and **sometimes** it stops in the middle of the suite and throws the error. Everything seems to be

[2015-11-05 02:41] cpojer commented on #595
Which version of jest are you using? There must be something bad going on in one of your tests. Have you been able to isolate which test is throwing up?

[2015-11-05 02:58] homer0 commented on #595
@cpojer Sorry, I forgot to mention, I'm using the `latest` (`v0.7.1`). Here's my project: https://github.com/Olapic/DevKit-ES6, and I'm using [this PR](https://github.com/Olapic/DevKit-ES6/pull/1) to test all the possible solutions.
Regarding a specific test, I tried removing some cases from the file it stopped the first time, but it's totally random (sometimes it fails at the third file, others a

[2015-11-05 03:03] cpojer commented on #595
Can you try to disable coverage and see if it stops reproing?

The list of tests being reported is misleading because it fails to run certain tests. So it would be good to know which tests always pass and whether it is always the same test that causes the crash.

[2015-11-05 03:07] cpojer commented on #353
This will be fixed in the next release of jest, `node` was added as a default!

[2015-11-05 03:07] #353 closed

[2015-11-05 03:08] homer0 commented on #595
I just disabled the coverage and pushed it. I think [this url](https://travis-ci.org/Olapic/DevKit-ES6/jobs/89366236) so you can see the output.
And I'll try to make a list of tests that always pass.

Thanks

[2015-11-05 03:44] homer0 commented on #595
@cpojer It worked, I disabled the coverage and tests passed. So it seems like this an issue from istanbul right?

[2015-11-05 04:25] amasad commented on #381
So there are two issues here:

1. `@providesModule` being a single namespace (which is what fbjs uses). That means that require('warning') will get the last one node-haste managed to look at last. :mask:
2. node-haste not supporting recursive node dependencies: when you have two foo node_modules, in different parts of the tree it will also pick one at random :tired_face:

The react-native-packager

[2015-11-05 04:28] amasad commented on #593
We can potentially prefix logs with the test name in: https://github.com/facebook/jest/blob/master/src/Console.js

Thoughts?

[2015-11-05 04:29] amasad commented on #593
I think not buffering has benefits that is worth the tradeoffs here. You can use them to debug timing-sensitive code (which is most code in JS).

[2015-11-05 07:17] akheron commented on #381
@cpojer I use babel-jest, but the module with ES6 syntax is an external dependency. Furthermore, the file with ES6 syntax is not even used by the dependent library itself, it's just non-precompiled source that is shipped for reference.

@amasad I'm very happy to hear that I'm not the only one having this problem and that it's being fixed :+1:

[2015-11-05 19:20] cpojer commented on #593
I think prefixing is quite noisy, unfortunately. The problem with the new behavior is mostly that different tests can cause a log spew at the same time. Ideally, nothing should be logged to the console except for explicit console.log calls when the console isn't shimmed in tests. That way, when the user adds a single log message and they run the tests, they'll only see that one.

[2015-11-05 19:21] cpojer commented on #593
Actually, I think if we remember the previous test and prefix and indent it might be nice:

[code]

[2015-11-05 19:51] cpojer commented on #381
you can still transform this file, you might have to update some configs but you can compile node_modules if you want.

[2015-11-05 20:02] cpojer commented on #595
Yeah, coverage is a little bit flaky unfortunately. If you have time to look into this, I would suggest forking jest and upgrading istanbul and see if the issue goes away.

[2015-11-05 20:07] homer0 commented on #595
@cpojer Sorry I didn't reply before; I re enabled the coverage, but I set the `collectCoverageOnlyFrom`, from that point, it only failed once in 8 runs, but I re tried the build and it passed.

if I have a time today, I'll fork it and try the latest version of istanbul and let you know.

Thanks!

[2015-11-05 22:47] binarykitchen opened #597 "Problems when testing components using react-bootstrap"
Initially raised in https://github.com/react-bootstrap/react-bootstrap/issues/1476, I have issues testing these components. Somehow the mocking fails.

I tried all of them and it always fails:

[code]

This on node v4 and npm v3 ... I can see in other tickets that you are having issues with npm v3 ... is that true?

[2015-11-05 22:58] cpojer commented on #597
I would recommend unmocking the recursive chain of dependencies that react-bootstrap depends on, in the config for jest: https://github.com/facebook/jest/issues/554#issuecomment-148836979 – + add react-bootstrap there.

[2015-11-05 23:03] binarykitchen commented on #597
@cpojer thanks. but i am confused. do i have to literally enter `<rootDir>/node_modules/react-bootstrap` or can i just use `react-bootstrap` in the package.json

i tried this and it doesn't work:

[code]

[2015-11-05 23:04] binarykitchen commented on #597
or should i use this?

[code]

[2015-11-05 23:08] cpojer commented on #597
I admit I get confused about these things as well and am hoping to make this easier with the module loader rewrite. The honest answer: I don't know. Any or all of these combinations might work, as `react` itself might work too.

Do you want to use mocking as part of your app right now? If not, I recommend using `jest.autoMockOff()` at the top of your tests.

Also, this is not an appropriate space

[2015-11-05 23:08] #597 closed

[2015-11-05 23:10] cpojer commented on #597
(I meant to say that I'm always around on discord, not stack overflow :) )

[2015-11-05 23:13] binarykitchen commented on #597
hmm, you don't know either? that's no good.

anyway, tried `autoMockOff()` but no luck. still unable to unmock react-bootstrap components :(

should i consider switching to karma/mocha then?

[2015-11-05 23:15] cpojer commented on #597
If you can push a repo on github with a repro I could take a look there. It is hard to say what the right way to go about this is without looking at all the pieces of the system. It should be a simple fix though.

I'm currently trying to make up my mind about auto mocking. I don't think it is that useful in places where libraries and apps are small (like, not FB scale) and I'm hoping to focus on i

[2015-11-05 23:19] binarykitchen commented on #597
thanks but we have a very large app here too and require mocking at some places.

can't you find out for now whether mentioning `node_modules` in `unmockedModulePathPatterns` is really required?

[2015-11-05 23:23] cpojer commented on #597
The source code for jest is in this repository and GitHub has a search function: here is how you can inspect how unmockedModulePathPatterns works: https://github.com/facebook/jest/search?utf8=%E2%9C%93&q=unmockedModulePathPatterns

[2015-11-06 00:03] binarykitchen commented on #597
had a look and debugged a lot. no luck. react-bootstrap cannot be tested with jest.

[2015-11-06 08:00] dready commented on #433
same like @akheron, as soon as i add `testPathDirs` it's over with the coverage, only the coverage of the first file is shown.. and i already have the tests within a `__test__` directory.

Using `testPathDirs` speeds up my initialization routine by far.. from 1 minute 17 seconds to 14 seconds.. but without coverage this is useless...

[2015-11-06 11:50] alvinsj opened #598 "Use of jest-cli with `testPathPatterns` is using `config.rootDir`"
if we run:

    $ ./bin/jest.js examples/manual_mocks/__tests__/FileSummarizer-test.js`

while in `package.json`:

    rootDir: "src"

It will not work because `examples/` is not found in `src/`.

I have a patch here https://github.com/alvinsj/jest/commit/0caa54634b2e636cdca1f0ca373a8ad16dacd301 but I think I should ask if it's part of the features.

[2015-11-08 10:24] homer0 commented on #595
Closing this since it's not directly related to Jest but rather one of the dependencies.

[2015-11-08 10:24] #595 closed

[2015-11-10 09:40] JeanLebrument commented on #561
Cool, thanks!

[2015-11-10 16:31] radfahrer opened #601 "Why use such an outdated version of jasmine?"
I looks like jest is using static 1.3.0 version of jasmine, while core jasmine is at 2.3.x I really like some of the feature jest is bringing to the table, such as automatic mocks, but it seems disingenuous to say jest is build on top of jasmine when you are using a pre 2.0 version.

[2015-11-10 18:54] cpojer commented on #601
Hey @radfahrer,

I've been waiting for this pull request: https://github.com/facebook/jest/pull/330 to be rebased. If you wanna help out, feel free to take it over and send a new PR :)

[2015-11-10 20:18] hgezim opened #602 "`unmockedModulePathPatterns` not matching module paths properly with npm 3"
Here's a part of `jest` key in my `package.json`:

[code]

I'm on `node 5.0.0`. With `npm 2.14.10` after deleting `node_modules` and doing a fresh `npm install`, my jest test passes:

[code]

As, there's an issue with npm 3.x as I'll demonstrate, I added a couple `console.log` lines in `HasteModuleLoader.js` in `_shouldMock` method right before the `for` loop that checks the regular expressions fo

[2015-11-10 21:16] hgezim opened #603 "maxRunners not respected"
It seems like with `0.7.1`, `maxRunners` has no effect on number of workers are launched:

[code]

Turning up `maxRunners` to 4 gives me same number of processes:

[code]

This is causing my machine in CircleCI to run out of memory. Issue was not present with `0.5.x`.

[2015-11-10 22:53] hgezim commented on #603
Nevermind...for some reason I had changed `maxWorkers` to `maxRunners` ... no wonder it's not respected :)

[2015-11-10 22:53] #603 closed

[2015-11-10 23:02] cpojer commented on #603
Hey! Yeah, sorry for the confusion. I'm planning to make configs much easier soon :)

[2015-11-10 23:08] cpojer commented on #602
Hey! Can you try to add `uncontrollable` to the unmocked module list? The problem is that npm3 uses a flat copy of node_modules and jest currently doesn't know how to deal with that. I will fix this eventually!

This is tracked in #554

[2015-11-10 23:08] #602 closed

[2015-11-10 23:12] hgezim commented on #602
Yup, that should do it for now. My apologies. I didn't see #554.

[2015-11-10 23:14] cpojer commented on #602
No worries. This is definitely confusing and should probably be part of the documentation for now. How do you feel about making a small pull request for the docs that adds information about unmocking with npm3? :)

[2015-11-10 23:25] hgezim commented on #602
Sure, can do :)

*Gezim Hoxha*
Entrepreneur
780.802.4837(C)

<http://ca.linkedin.com/in/gezimhoxha>
<http://namez.com/profiles/2394-gezim-hoxha/?autoPlay=true>

On Tue, Nov 10, 2015 at 4:14 PM, Christoph Pojer <notifications@github.com>
wrote:

[2015-11-10 23:37] cpojer commented on #602
I think it makes sense somewhere around here: https://github.com/facebook/jest/blob/master/docs/API.md#configunmockedmodulepathpatterns-array ?

[2015-11-11 00:33] hgezim commented on #602
It's here #604. I wanted to go into more detail on how to determine what needs to be mocked when you upgrade to `npm 3`. Thought about having a `Troubleshooting` section somewhere?

[2015-11-11 00:35] cpojer commented on #602
Yeah I think that would be fantastic. I'm actually planning to revamp how jest's config and setup works and with that I also wanna make the jest website more beginner friendly! Some people (including me :) ) are hanging out on discord – if you wanna join us and be involved, feel free to do so: https://facebook.github.io/jest/support.html :)

[2015-11-11 01:13] #593 closed

[2015-11-11 05:24] mwolson commented on #134
Filed https://github.com/facebook/jest/pull/606 with some documentation updates to use jest-webpack-alias, per last comment.

[2015-11-11 10:15] aksonov opened #607 "Flow type support?"
I'm trying to use flow syntax within unit tests, but i don't see any way to test it
[code]

[2015-11-11 10:21] cpojer commented on #607
I suggest using babel-jest to preprocess your files and strip flow-annotations before tests are being run on them. Follow the guide for React testing on the bottom here: http://facebook.github.io/jest/docs/tutorial-react.html#content

(Note: we are in the process of upgrading babel-jest to babel6. For now I recommend using babel-jest 5 until we have ironed out the issues).

[2015-11-11 10:21] #607 closed

[2015-11-11 14:54] jonnybcz commented on #17
++

[2015-11-11 15:26] aksonov commented on #607
Sorry, i didn’t added testPathDirs to jest, and it didn’t work.

[2015-11-11 16:30] aksonov commented on #607
Thanks, problem was exactly with usage of babel 6 ! Babel-jest 5 works like a charm.

[2015-11-12 01:10] jonslenkooyala opened #608 "disable colorized output?"
I run "npm --no-color test" and while npm then doesn't generate colors, it appears to me that Jest CLI still does. I see lots of escape codes in the output in my emacs buffer which I assume are doing coloring (since that is what it looks like outside of emacs in a plain terminal). Might anybody know how I can turn that off? Thanks.

[2015-11-12 01:11] cpojer commented on #608
Use the `--noHighlight` option for running jest.

[2015-11-12 01:11] #608 closed

[2015-11-12 21:45] marcolz commented on #241
:+1:

[2015-11-12 21:55] cpojer commented on #241
yeah we should probably just say "0 tests found" or something like it.

[2015-11-13 01:00] hgezim opened #609 "require traversing wrong directory to find package"
Amongst other packages, `react-bootstrap` depends on:
  - `react-prop-types@0.3.0`
  - `react-overlays` which depends on:
    - `react-prop-types@0.2.2`

`npm 3` installs `react-prop-types` as follows:

[code]

The problem rises in `node_modules/react-bootstrap/lib/ButtonGroup.js` where require is called as follows:

[code]

Since `react-bootstrap` depends on `react-prop-types@0.3.0`, it should fi

[2015-11-13 06:06] thebritican commented on #542
Cloning right now from master and trying to run the examples: everything works except for the React examples. It reports a syntax error for the JSX notation. The JSX files must not be properly transpiling to ES5.

By downgrading to babel-jest below __6.0__, the react tests pass.

[2015-11-13 10:09] t-hiroyoshi opened #610 "Website's link broken."
`Tutorial – Webpack Integration` exist in DOCS list but we can't see this doc.
there is no `tutorial-webpack-integration.html` at https://github.com/facebook/jest/tree/gh-pages/docs

[2015-11-13 12:35] clentfort commented on #609
Have you, during your project livetime, upgraded from npm2 to npm3? It seems that the dependency is installed twice.
Could you try cleaning `node_modules` and running `npm install` again?

[2015-11-13 17:57] hgezim commented on #609
Yes, I was using npm2 before upgrading to npm3 but have definitely removed `node_modules` and then ran `npm install`.

What makes you say `[i]t seems that the dependency is installed twice?`

[2015-11-13 18:56] cpojer commented on #610
Thank you! For some reason the new doc site wasn't being generated yesterday when I pushed the website. I fixed it now.

[2015-11-13 18:56] #610 closed

[2015-11-13 18:57] cpojer commented on #554
fyi the tentative plan is to wait for Haste 2 in #599 and then I'll fix unmock patterns to be deep-unmocks when they are inside of node_modules.

[2015-11-13 18:57] cpojer commented on #609
This seems related to #554.

Can you add react-overlays and react-prop-types to your unmocked module list in the config?

[2015-11-13 18:59] hgezim commented on #609
@cpojer, it's not. No mocking happening at all for that test. Also tried adding the two packages to unmocked list.

[2015-11-13 19:02] cpojer commented on #609
Oh I'm sorry, I see now what you mean. The problem is that two projects depend on the same dependency but different versions of it. npm3 installs one of them in `node_modules` and the other one in `node_modules/react-overlays/node_modules` and the module loader seems to pick the wrong one first, is that right?

@amasad does the new resolver fix this use-case? What does it give preference to?
@hgez

[2015-11-13 23:37] hgezim commented on #609
That's correct, @cpojer.

I scoured the npm changelog and only found this but doubt it's related at all: https://github.com/npm/npm/commit/a8c8a13 .

What handles resolution by `require`? I haven't got a clue!

[2015-11-14 18:35] bingomanatee opened #612 "Jest is not accepting React module composition for test"
https://github.com/bingomanatee/ReactUserBoilerplate/blob/master/src/components/FormDefField/__tests__/FormDefField-test.js

the error returned from jest is

  - Error: Invariant Violation: The style-loader must be configured with reference-counted API.
        at invariant (../node_modules/fbjs/lib/invariant.js:39:15)
        at WithStyles.componentWillMount (decorators/withStyles.js:86:47)

This

[2015-11-16 09:28] fuxiocteract opened #613 "Jest test breaks with react example"
Jest test breaks with react example. TestUtils.renderIntoDocument won't accept JSX!

[2015-11-16 09:50] fuxiocteract commented on #613
Actually the break is caused by babel-core 6+ in babel-jest

[2015-11-16 18:54] Cad commented on #613
Examples won't work. Wouldn't

[2015-11-16 22:15] cpojer commented on #612
Can you try using the `moduleNameMapper` option to stub out .css modules?
See: http://facebook.github.io/jest/docs/api.html#config-modulenamemapper-object-string-string

I'm wondering whether this has to do with .css files not being processed correctly. For tests it probably makes sense to create a stub for all .css files.

[2015-11-17 19:08] cpojer commented on #613
This was fixed by adding a `.babelrc` to the example folder.

[2015-11-17 19:13] Cad commented on #613
Great many thanks. 👍

[2015-11-18 06:21] #613 closed

[2015-11-18 06:22] cpojer commented on #601
Closing this; we'll publish jasmine2 support soon and it is tracked in the PR.

[2015-11-18 06:22] #601 closed

[2015-11-18 06:23] cpojer commented on #598
We'll redo how we do configs soon, I don't think this will apply then. I recommend setting your rootDir to `./` instead of `src`.

[2015-11-18 06:23] #598 closed

[2015-11-18 06:25] cpojer commented on #474
This will be part of jest (0.9.0?) towards the end of the year. It is already part of #599 which will be merged in about two weeks from now. Closing this because the PR tracks this feature.

[2015-11-18 06:25] #474 closed

[2015-11-18 06:28] cpojer commented on #444
Please feel free to reopen this issue once you add more context. I don't understand what exactly you are asking. You can probably do what you want or we can add this feature if it doesn't introduce technical debt.

[2015-11-18 06:28] #444 closed

[2015-11-18 06:32] cpojer commented on #411
We actually add more stuff than just those two fields and we should have all the info that we need there. I recently added `parent` but it is only a stub module. `module.parent` sucks.

[2015-11-18 06:32] #411 closed

[2015-11-18 06:33] cpojer commented on #367
Feel free to reopen if this is still an issue with the latest version of jest (0.7.1+).

[2015-11-18 06:33] #367 closed

[2015-11-18 06:34] cpojer commented on #400
I don't think the original intention of this task is still important. We'll change mocking when we need to but we absorbed this performance hit in order to be more correct.

[2015-11-18 06:34] #400 closed

[2015-11-18 06:36] cpojer commented on #358
Hello,

let me know if this is still an issue with the latest version of jest and feel free to reopen this task.

[2015-11-18 06:36] #358 closed

[2015-11-18 06:37] cpojer commented on #609
I think this won't be a problem with the new resolver from #599. I'll close it once this gets merged into jest at the beginning of December.

[2015-11-18 07:56] ivantsov commented on #200
+1

[2015-11-18 15:40] b-smets opened #616 "HasteModuleLoader should use realpath instead of moduleName as cache key"
The HasteModuleLoader currently maintains a sort-of cache of which modules to mock / not mock in _configShouldMockModuleNames. The cache is indexed by module name, however when a module is included using a relative path, this path is used instead. When requiring a module, the mocking system calls Loader.prototype._shouldMock() which checks (amongst others) this cache, and based on this result a mo

[2015-11-18 21:22] stereodenis opened #617 "Unexpected end of input"
[code]

[2015-11-18 21:51] #617 closed, assigned to nobody

[2015-11-19 00:01] cpojer commented on #74
jest 0.8.0 was published just now with optional jasmine2 support! Thanks everyone and I'm deeply sorry for the long wait.

[2015-11-19 00:10] #74 closed

[2015-11-19 00:10] cpojer commented on #74
See http://facebook.github.io/jest/docs/api.html#config-testrunner-string

[2015-11-19 00:12] cpojer commented on #107
I think this isn't an issue with jasmine2. Feel free to reopen if this still happens after switching to jasmine2 through the `testRunner` option.

[2015-11-19 00:12] #107 closed

[2015-11-19 11:32] laurenskling commented on #10
I'm trying to not use a folder for my test, leaving `config.testDirectoryName` empty or `"."`. Can't seem to get that working. I have all my testable js files in their own folder, so i would like my structure to be:
-- componentfolder
---- component.js
---- component.test.js
Isn't this possible?

[2015-11-19 23:34] schwiet commented on #98
+1 Thank you for sharing this solution!

[2015-11-20 05:51] benweizhu commented on #334
This works for me.

var babelJest = require('babel-jest');

module.exports = {
	process: function(src, filename) {
		if (filename.match(/\.[css|less|scss]/)) {
			return '';
		}

		return babelJest.process(src, filename);
	},
};

[2015-11-21 04:07] PedroPinheiro commented on #200
+1

[2015-11-21 17:39] jedwards1211 opened #623 "Is there a way to tell Jest (lib or CLI) to run only a specific file, or to custom boot like in Jasmine?"
Currently I run Jasmine tests inside of Webpack bundles in the following way:

* Using Webpack require contexts to load all modules in `__tests__` directories or specific subfolders of them for client/server and unit/integration
* Using a small test script to run Webpack on my test webpack config, and pass the output bundle to Jasmine CLI when it finishes compiling.
* If I run the test script with

[2015-11-21 17:47] jedwards1211 commented on #623
After reading through the config options more, it looks like I'll be able to get Jest to load a pre-webpacked bundle.  I'll go ahead and close this, and if any issues with running it that way come up, I'll reopen it.

[2015-11-21 17:47] #623 closed

[2015-11-24 19:36] Jarlotee opened #625 "jest.runAllTimers() does not run jsdom even timers"
I have a mixin that registers to the window hashchange event and automatically parses the hash parameters into an object.

Under Jest 4.x runAllTimers() included the jsdom event timer to run. But since upgrading to Jest 7 runAllTimers() no longer trigers the jsdom event.

Example:

[code]

[2015-11-25 08:51] backslash112 opened #626 "Run Jest command falid: nodeArgv: process.execArgv.filter(arg => arg !== '--debug'),"
![image](https://cloud.githubusercontent.com/assets/5343215/11392435/ad681e6c-9394-11e5-983e-e9662a8be9a9.png)

[2015-11-25 09:06] backslash112 commented on #626
I got the answer by myself.
The wrong node version is being used:
Jest uses ES2015 features and requires a Node.js version of at least 4.0.0 to run. http://facebook.github.io/jest/docs/getting-started.html#content

check the version of node: node -v
v3.3.1
and set the default version with this command: npm use v4.1.1

[2015-11-25 09:06] #626 closed

[2015-11-27 14:02] nicolasbrugneaux commented on #554
any idea of the timeline of when it'll be merged back to master? :) great job in this PR!!

[2015-11-27 18:41] ivantsov commented on #226
I have the same problem. Is there any progress?

[2015-11-29 22:54] Beingbook opened #627 "jest doesn't test"
Hello.

I'm trying to apply jest to myproject. But it doesn't work. My environment is below:

[code]

`package.json`
<img width="431" alt="2015-11-30 7 49 31" src="https://cloud.githubusercontent.com/assets/2682865/11460797/425e280e-9737-11e5-90a2-b8e7c4d7f01f.png">

The result is:
<img width="251" alt="2015-11-30 7 49 57" src="https://cloud.githubusercontent.com/assets/2682865/11460796/425bf368-9

[2015-12-01 01:33] steveluscher commented on #627
Be sure to house your tests in a directory called `__tests__`. More information here: http://facebook.github.io/jest/docs/getting-started.html

[2015-12-01 13:44] richardscarrott commented on #627
As an aside it's probably worth mentioning you'll likely also have problems using es6 modules alongside `jest.*` calls as es6 imports are hoisted, i.e. after running your test through babel it'll become:

[code]

So you will receive the mocked component.

[2015-12-02 16:08] bartonhammond opened #629 "How to setup React-Native 0.17.0 with Jest 0.8.2"
My app and tests were running fine w/ older versions of RN (0.14.2) & Jest (0.5.4) and babel-core. I am trying to upgrade...

*Is there a working example of testing React-Native 0.15.0 JSX components  using Jest 0.8.0?*

I followed the Babel Jest instructions from here: (http://babeljs.io/docs/setup/#jest)[http://babeljs.io/docs/setup/#jest]

When I run a JSX test : ```NODE_ENV=test jest "src/comp

[2015-12-02 18:02] cpojer commented on #554
should be out sometime by the end of this year, that's the plan at least :)

[2015-12-02 21:12] cpojer commented on #10
@laurenskling unfortunately that isn't possible right now. I might add this feature in the future however, when I rewrite how config/setup of jest works.

[2015-12-02 21:20] cpojer commented on #625
Thanks @Jarlotee, sorry for the late response, just got back from a vacation :)

I think this is related to different implementations of the History API since older versions of jsdom. I'm gonna cc @domenic and @Sebmaster on whether they have ideas on how to resolve this for testing. How is the event loop being used for hashchange events?

[2015-12-02 21:28] Sebmaster commented on #625
I don't think the event loop would be involved here - if you set hash, there should immediately be a hashchange event. It seems like we changed hashchange in 6.0.0 a bit. What's `addHashChangeHandler` doing?

[2015-12-02 21:29] cpojer commented on #625
I don't know where `instance` is coming from in this case. Oh, so you are saying that hashchange is fired synchronously upon setting the prop? Is that how it works in the spec?

[2015-12-02 21:31] Sebmaster commented on #625
Ah no, spoke too soon there. It is indeed on a [timeout](https://github.com/tmpvar/jsdom/blob/master/lib/jsdom/browser/location.js#L46).

[2015-12-02 21:33] cpojer commented on #625
I'm going to assume that `setTimeout` in this case is not the fake and replaced one then?

[2015-12-02 21:34] cpojer commented on #616
I agree this sucks. I'll fix it with all the work in node-haste2, follow along in #599.

[2015-12-02 21:36] Sebmaster commented on #625
Not sure how well that replacing works, alternatively we could've screwed up something in the url update steps, although there are outstanding PRs for reworking that according to new spec

[2015-12-02 21:44] cpojer commented on #627
The two suggestions up there should solve your problem. Please re open if there are other problems.

[2015-12-02 21:44] #627 closed

[2015-12-02 21:49] cpojer commented on #625
We already do replace setTimeout. I think this might be fixed if you change the code to do `global.setTimeout` (as in the jsdom `window` instead of calling `setTimeout`). That way, instead of using node's version, you'll be using whatever the user supplied to you. I'll try this before sending a PR to jsdom.

[2015-12-02 21:51] domenic commented on #625
Yeah I think this is just a case where setTimeout should be window.setTimeout.

[2015-12-03 15:03] Jarlotee commented on #625
For completeness sake
[code]

[2015-12-03 21:51] HenriJ commented on #116
Hi all. Is there any news on this issue ?

[2015-12-04 01:04] Jarlotee commented on #625
@cpojer I confirmed that changing this [this line](https://github.com/tmpvar/jsdom/blob/master/lib/jsdom/browser/location.js#L46) to `window.timeout` makes the test green.

@domenic I would be happy to put together a PR for this update, just let me know.

[2015-12-04 01:42] domenic commented on #625
Yeah, please do. No need for a test really...

[2015-12-04 15:00] MathRobin opened #632 "No code coverage"
Hi, I have a problem with code coverage. This the tests results :

    [...]
    24 tests passed (24 total in 9 test suites, run time 2.353s)
    ----------|----------|----------|----------|----------|----------------|
    File      |  % Stmts | % Branch |  % Funcs |  % Lines |Uncovered Lines |
    ----------|----------|----------|----------|----------|----------------|
    ----------|----------|-

[2015-12-04 16:49] jdmunro opened #633 "setupTestFrameworkScriptFile ignored with Jasmine 2 runner"
Any script specified for *config.setupTestFrameworkScriptFile* seems to be ignored if you use the Jasmine 2 runner. All works fine using the Jasmine 1 runner.

In the Jasmine 1 runner source file [there is a reference to this config option](https://github.com/facebook/jest/blob/07b4a835a3b5b8ddf34d584811fa10f341e96aee/src/testRunners/jasmine/jasmine1.js#L174), however it seems to be absent from th

[2015-12-04 22:27] cpojer commented on #625
https://github.com/tmpvar/jsdom/pull/1312 :)

[2015-12-04 22:27] cpojer commented on #633
That sounds like a bug!

[2015-12-04 22:30] cpojer commented on #632
Hey! Which version of node, npm and jest are you using?

[2015-12-04 23:59] cpojer commented on #633
Fix is landing now.

[2015-12-04 23:59] #633 closed

[2015-12-05 13:42] MathRobin commented on #632
Last jest,  last node 5.x and last npm 3.x

[2015-12-05 21:36] cpojer commented on #632
This is not great. Can you try running jest with `--coverage` and tell me if it yields something different? Can you maybe create a reduced example that I can dig into to figure out what is wrong?

[2015-12-05 22:38] MathRobin commented on #632
Yes, tried the same doesn't get more. I will make you an example yes

[2015-12-07 03:58] yaycmyk commented on #304
Not working for me on `babel-jest: ^6.0.1`, `jest-cli: ^0.8.0` and `node v5.1.0`

[2015-12-08 01:33] cpojer commented on #625
Fixed in 0.8.1.

[2015-12-08 01:33] cpojer commented on #625
Close and comment

[2015-12-08 01:34] #625 closed

[2015-12-08 11:36] srounce commented on #152
buggerjs/bugger works with the following:
`node --harmony $(which bugger) ./node_modules/jest-cli/bin/jest.js --runInBand`

[2015-12-08 12:44] tamascsaba opened #637 "Why use jest dubble underscore in __tests__ folder name?"
I saw this conversion in Python but it has other meaning.

Python PEP 8:
__double_leading_and_trailing_underscore__: "magic" objects or attributes that live in user-controlled namespaces. E.g. __init__, __import__ or __file__. Never invent such names; only use them as documented.

Why not ```__tests```, ```_tests_``` ```_tests``` or ```tests``` ?

[2015-12-08 13:56] clentfort commented on #637
You can adjust the name of your tests-directory with the `testDirectoryName` configuration option.

Why `__tests__`? I guess it was just picked randomly to reduce the likelihood of collisions with other directories that might be named `tests` for any reason and to signal that it only contains (jest-)tests and no actual production code.
An additional advantage of having a non-alphanumeric character

[2015-12-08 14:44] tamascsaba commented on #637
@clentfort thanks :+1:

[2015-12-08 14:44] #637 closed

[2015-12-08 20:17] masom commented on #629
Similar problem on 0.16:

[code]

Are you also on Babel 6?

[2015-12-08 20:34] bartonhammond commented on #629
No - I backed off to 0.15.0 till the smoke clears...

[2015-12-08 22:49] bartonhammond commented on #509
Any update?  I have same problem.

[2015-12-10 11:33] udivankin opened #642 "TypeError: inst.render is not a function when testing stateless functional components"
Functional component which looks like this
[code]
being included to any conventional component causes this component's test failing with
[code]

React 0.14.3, JEST 0.8.0, npm 3.5.2, node 5.2

Any suggestions on how to get rid of this?

[2015-12-10 12:08] #642 closed

[2015-12-10 12:09] udivankin commented on #642
moved to react repo

[2015-12-10 21:25] cogell commented on #317
would love to have this properly supported in the docs

[2015-12-10 21:53] cpojer commented on #317
Feel free to send a pull request to update the documentation to include this :)

[2015-12-10 23:20] cpojer commented on #629
Did you resolve your issue? It seems like the starter kit now has 0.15 in it?

[2015-12-11 06:57] CharlesSocial opened #643 "Changing testDirectoryName to anything but __tests__ problem"
Changing `testDirectoryName` in `package.json` to anything but `__tests__` makes jest fail to find any tests.

With directory structure:
[code]
and `package.json`:
[code]

Running jest results in the `AppTest.js` within `__tests__` to be run as expected. After adding
[code]
no tests run.
[code]
no tests run.

My desire is not to use the `__tests__` directory, but to instead have tests files along

[2015-12-11 07:52] zhaozhiming opened #644 "jest test react component fail, SyntaxError: Unexpected token"
HI ALL,
I use jest to test react component, but found some error as follow, I use this [jest example](https://github.com/facebook/jest/tree/master/examples/react).
My node version is 5.1.0 and npm version is 3.3.12. Please help. Thanks.

[code]

[2015-12-11 08:54] kkpoon opened #645 "different export method cause Error"
[code]

[code]

[code]

[2015-12-11 10:42] clentfort commented on #645
IIRC `export default X` will result in an object with a `default`-property being exported. So what might work is `const HomePage = require('../home').default'`. But I'm not to sure about this.

I think this is rather an issue with how Babel exports modules than with jest.

[2015-12-11 10:45] kkpoon commented on #645
I see. Let me file this on babel-jest
On Fri, Dec 11, 2015 at 18:42 C. A. Lentfort <notifications@github.com>
wrote:

[2015-12-11 19:24] cpojer commented on #644
It doesn't seem like you have set up babel-jest or your own preprocessor correctly. Please see the documentation but this doesn't seem like a bug in jest. Appropriate places to ask for help are the discord channel or stackoverflow.

[2015-12-11 19:24] #644 closed

[2015-12-11 19:30] cpojer commented on #643
The test directory cannot contain the rootDir at the moment. I am planning to redo configuration and will enable this kind of behavior in the future.

[2015-12-11 19:30] #643 closed

[2015-12-11 22:46] cpojer commented on #645
Yes, babel6 changed its behavior. We'll fix this soon.

[2015-12-11 22:46] #645 closed

[2015-12-12 01:05] zhaozhiming commented on #644
ok, finally I add the `.babelrc' file with `"presets": ["react", "es2015"], and solved the problem. It is a babel-jest of [babel-jest](https://github.com/babel/babel-jest/issues/49).

[2015-12-12 06:28] brett-shwom opened #646 "Upgrade jsdom to 3.1.2 in the jest@0.4.19 release, creating 0.4.20 release"
The 0.4.19 tag is the most recent release with support for node 0.10.x. However, 0.4.19 is not using the latest possible version of jsdom which supports node 0.10.x. That version is jsdom@3.1.2 Would it be possible to:
[code]

This new tag would greatly benefit anyone who is stuck using 0.10.x versions of node due to corporate restrictions.

I'd submit a PR, however, it's not possible to PR a tag.

[2015-12-12 07:03] cpojer commented on #646
Unfortunately jest 0.4 is at the end of its lifetime and there won't be a new release unless there is some form of security issue which is highly unlikely. I suggest to try to convince your company to update to node 4 which is well worth the investment. We have completely rewritten jest since the last 0.4 update and made significant improvements, see https://github.com/facebook/jest/blob/master/CH

[2015-12-12 07:03] #646 closed

[2015-12-13 17:11] CharlesSocial commented on #643
@cpojer What can I set the variable to in the meantime to have it look outside the `__tests__` directory? I can't really find documentation on the combination of variables I need to run tests throughout my normal `app` directory.

Thank you

[2015-12-14 10:05] ncuillery opened #649 "CLI feature suggestion : debug automocking"
I used Jest since one year on a wide project with a team of 7/8 developers. We had numerous problems when writing / executing our specs and most of the hassle was coming from the automocking feature: A module is mocked while it shouldn't or is unmocked while it should be mock.

There are several reasons for a required module to be mock / unmock:
- `unmockedModulePathPatterns` :point_right: mocked

[2015-12-14 10:31] laurenskling commented on #10
Thanks, I'm sure I'm not the only one who would want a folder setup like this.

[2015-12-14 12:05] QuantumInformation commented on #116
Hi, is Jest suitable for non React testing? Would like to have a common standard for both react and non-react apps.

[2015-12-14 14:23] clentfort commented on #116
Jest is a universal test-runner and you are in no way required to use React. :) Just take a look at one of the examples!

[2015-12-14 18:24] cpojer commented on #649
Hey @ncuillery,

that sounds like a great idea. Unfortunately I'm unlikely to have time to work on this *soon*. Maybe some time in January. If you'd like to take a stab at this, feel free to send a pull request against #599, which is a new implementation for the module resolver (note that it is a moving target and I'm still changing a lot of things around).

Overall, I agree that (auto)mocking can

[2015-12-14 22:50] cpojer commented on #643
I don't think there is a good way to do this right now. I'm sorry, it is definitely planned though.

[2015-12-15 23:19] alvaromb opened #651 "Testing a react-native component with styles"
When testing a ``react-native`` component that uses a stylesheet as a propType:

[code]

I get the following error:
[code]

Any advices about how can I solve this issue? Changing the style to an ``Object`` propType does work.

[2015-12-16 14:31] tonekk opened #652 "Make jasmine.DEFAULT_TIMEOUT_INTERVAL configurable"
5 seconds can be really annoying if you have many test cases that fail.

I'm not sure what would be the best option to accomplish this, but I imagine a configurable option in `package.json`. Something like `defaultTimeoutInterval`, which would then be passed to jasmine used.

Steps:
* Pass jest json config to jasmine file (not sure how)
* Change `jasmine.DEFAULT_TIMEOUT_INTERVAL` to `jestConfig.de

[2015-12-16 19:08] hgezim opened #654 "require resolving package dependency's dependency instead of its own"
My project relies on `react-bootstrap` and I have a test that fails with this error:

[code]

At `/home/ubuntu/frontend/node_modules/react-bootstrap/lib/ButtonGroup.js:39:45` we have:

[code]

We can see that npm2 has installed `react-prop-types` in a fairly sane places:

[code]

But `react-bootstrap` resolves `/home/ubuntu/frontend/node_modules/react-bootstrap/node_modules/react-overlays/node_mod

[2015-12-18 02:08] xixilive opened #655 "TypeError with verbose logger when suite is called "constructor""
Here is a simple example:

[code]

and tests failed with the `--verbose` option:
[code]

but tests passed without  the `--verbose` option

[2015-12-18 20:05] ElOsus commented on #512
Is there a solution for Windows? changing the testDir in the packages.json brakes mocking.

[2015-12-21 15:04] bartonhammond commented on #629
I'm looking at this again now.  I am attempting to use RN  0.17
Having problems but not clear what the issue is.

Followed Setup from [http://facebook.github.io/jest/docs/tutorial-react.html#content](http://facebook.github.io/jest/docs/tutorial-react.html#content)

package.json:

[code]

[code]

[2015-12-21 15:51] bartonhammond commented on #629
Repeating from babel-jest issue...

Within debugger, stepping through the following require statement

[code]

I see it blow up in
[code]
at  line 36:

[code]
The file eval'd is [https://github.com/bartonhammond/snowflake/blob/master/src/components/ErrorAlert.js](https://github.com/bartonhammond/snowflake/blob/master/src/components/ErrorAlert.js)

[2015-12-21 16:06] bartonhammond commented on #629
Whittling down the class under test to be  a empty class, if ```import SimpleAlert``` is commented out the class evaluates in ```JSDOMEnviornment```

[code]

[2015-12-21 16:23] bartonhammond commented on #629
Note, SimpleAlert is mocked:

[https://github.com/bartonhammond/snowflake/blob/master/src/__mocks__/react-native-simpledialog-android.js](https://github.com/bartonhammond/snowflake/blob/master/src/__mocks__/react-native-simpledialog-android.js)

[code]

[2015-12-22 14:02] bartonhammond commented on #629
I have my 58 non-JSX tests working now.  My JSX tests fail in ```node_modules/jest-cli/src/environments/JSDOMEnvironment.js```  doing the eval.

This is working for non-JSX:

package.json requirements
[code]
with ~/.babelrc:

[code]

Then in code, for any module that is exported "default" you have to now reference the import as:

[code]

For reference [https://github.com/bartonhammond/snowflake/tr

[2015-12-22 14:07] masom commented on #629
I mostly faced issues with modules that import other modules.

Ex: Module A instantiate B, the `import B from ...` will fail because of the babel translation mangling the import.

[2015-12-22 14:30] bartonhammond commented on #629
@masom what was the error message?   How did you address it?  Are you doing JSX Jest tests?

My error with JSX Jest is: ```SyntaxError: Unexpected token {``` form the eval in ```JSDOMEnvironment.js```.   I wrote out all the files that get eval'd and can't find a single one that has invalid ```}```.

<img width="763" alt="screen shot 2015-12-22 at 8 19 39 am" src="https://cloud.githubusercontent.co

[2015-12-22 15:14] bartonhammond commented on #629
I tried eval-ing the file causing the error and  found the line causing the error.  I guess it's another ```Babel``` setup thing? - but destructuring is part of ES2015 and I've included that as "devDependancy" and also in my .babelrc

[code]

What am I missing?

[2015-12-22 17:43] hourliert commented on #433
Same issue here. I only get coverage if I add manually files in `collectCoverageOnlyFrom`.

[2015-12-23 16:40] aospan commented on #433
as workaround you can create fake `__tests__/package.json`  with `{}` inside. In this case node-haste create correct requiredModules and you will see coverage for all files (_direct_ dependent from test file).

[2015-12-23 21:29] yaycmyk commented on #632
Add `collectCoverageOnlyFrom` with specific file names and it will work.

[code]

etc

[2015-12-23 21:31] yaycmyk commented on #433
@hourliert That was my finding as well. Annoying, but it works...

[2015-12-23 21:33] yaycmyk commented on #277
You can change the test runner to whatever you want... make your own version of: https://github.com/facebook/jest/blob/master/src/testRunners/jasmine/jasmine2.js and https://github.com/facebook/jest/blob/master/src/testRunners/jasmine/Jasmine2Reporter.js

[2015-12-23 21:36] yaycmyk commented on #300
@screendriver add the individual files that coverage will be collected from, e.g.:

[code]

[2015-12-23 21:39] yaycmyk opened #658 "Surface setup aspects a little more obviously on the site / README"
For example, it took a while of trial and error to eventually figure out that I could put `jest.autoMockOff()` into a file that goes into the `setupEnvScriptFile` config property.

I think this could be presented in a more user-friendly way...

[2015-12-23 21:41] yaycmyk commented on #655
Interesting, my guess is it has something to do with the word "constructor". Is the behavior the same if you change the describe block name to an arbitrary word like "foo"?

[2015-12-24 02:57] leeching commented on #609
It seems not fixed in the current newest version 0.8.2.
Is there another workaround?  Or only npm downgrade works? @cpojer

[2015-12-24 05:58] xixilive commented on #655
just broken of reserved words!

[2015-12-24 06:58] screendriver commented on #300
Thank you but in the meantime I switched from CoffeeScript to ES2015 / Babel :wink:

[2015-12-24 16:48] leeching opened #659 "Does jest support relay components?"
I am testing a `Relay.RootContainer` component. However, it seems that jest does not look out the asynchronous data fetch of relay.

Here is the component.
[code]

Here is the test spec
[code]

The component will fetch data from server when rendering. It seems to be the duty of jest to take care the asynchronous request.

But the last line of test codes executes before the component is fully rende

[2015-12-28 22:09] phkavitha commented on #152
The debugging process is extremely slow for me.. I'm not really not sure what could be the reason. When I searched the net, it said that to increase the performance, I should be using --no-preload arg. However, it takes 300 secs to finish running test cases in 1 test suite. Here is the command I'm using

: node-debug --no-preload ./node_modules/jest-cli/bin/jest.js --runInBand --testPathPattern ac

[2015-12-28 22:44] srounce commented on #152
@phkavitha Try [buggerjs/bugger](http://github.com/buggerjs/bugger), it's a hell of a lot faster than node-inspector.

[2015-12-29 01:57] cyjia commented on #632
I found following lines in file `jest-cli/src/HasteModuleLoader/HasteModuleLoader.js`.

[code]

`collectCoverageOnlyFrom` is filled with `{}` by default, so `shouldCollectCoverage` will always be false unless you provide one with files.
I think the intention is to gather all coverage by default, this should be a bug.

[2015-12-29 06:30] MathRobin commented on #632
I confirm that when I list every file by hand, it's working.

I've tried with a small extract of the project, but here I get the coverage without listing. I bet it was because of paths but after a day passed on it with a colleague, not found where is the difference...

[2015-12-30 11:49] korto commented on #433
@hourliert, @yaycmyk  +1

[2015-12-31 05:58] tahir-masood1 opened #660 "How to test stores/actions?"
I need to test the alt store; for which I have raised an action using alt dispatcher and trying to listen it at the action listener. But in testing, I got my alt object as undefined. Have a look at the codes plz.

Action Class:

        var alt = require('../alt');
        var LocationSource = require('../sources/LocationSource');

     class LocationActions {
      updateLocations(locations) {

[2016-01-02 07:22] brad commented on #152
Thanks @srounce I was in the same boat as @robotsushi but now bugger is working pretty well

[2016-01-04 09:39] cpojer commented on #660
This is an issue tracker, not a help forum. Please post your question on stackoverflow or ask in the #jest channel on reactiflux.

[2016-01-04 10:56] cpojer commented on #152
I haven't tried bugger. What makes it so much faster? I also had trouble with inspector and node-debug, they seemed quite slow.

[2016-01-04 13:01] cpojer commented on #659
This is a question, not an issue with jest. If you wan to test Relay components I would recommend not trying to render them using a root container but instead rendering the RelayContainer with fake data. Another solution is to write a mock for Relay's network layer to inject your own data.

[2016-01-04 13:02] #659 closed

[2016-01-04 16:55] ck7m commented on #512
i am getting same error on windows
C:\Users\xxx\AppData\Roaming\npm\node_modules\jest-cli\node_modules\node-hast
e\lib\loader\ResourceLoader.js:88
      throw err;
      ^

Error: EMFILE: too many open files, open 'C:\code\app\node_modules\jest-cli\node_modules\istanbul\node_modules\h
andlebars\node_modules\uglify-js\node_modules\yargs\node_modules\cliui\node_modu
les\center-align\node_modules\laz

[2016-01-04 17:55] clentfort commented on #660
Please use the [jestjs](http://stackoverflow.com/questions/tagged/jestjs)-tag on StackOverflow to find answers to anything related to the usage of jest.

This issue tracker should mainly be used to report and discuss TECHNICAL issues. GitHub is simply not the right platform to offer support for products.

[2016-01-04 17:56] clentfort commented on #659
Please use the [jestjs](http://stackoverflow.com/questions/tagged/jestjs)-tag on StackOverflow to find answers to anything related to the usage of jest.

This issue tracker should mainly be used to report and discuss TECHNICAL issues. GitHub is simply not the right platform to offer support for products.

[2016-01-04 23:52] hgezim opened #661 "`navigator` in `config.globals` breaks tests"
I have

This snippet in the `package.json`:

[code]

My tests start failing with this:

[code]

[2016-01-04 23:58] wangmengyan95 commented on #230
+1

[2016-01-05 00:13] negativetwelve commented on #661
Looks like this is caused by the React Dev tools hook: https://github.com/facebook/react/blob/3b96650e39ddda5ba49245713ef16dbc52d25e9e/src/renderers/dom/ReactDOM.js#L76

To get around this, I've also added `"__REACT_DEVTOOLS_GLOBAL_HOOK__": true` to my jest globals as a temporary hack.

[2016-01-05 12:55] srounce commented on #152
@cpojer
- [jkrems](https://www.reddit.com/r/node/comments/3tj18w/bugger_chrome_devtools_agents_for_node/cx86iae), the project's instigator said:

[2016-01-05 16:21] litongxin opened #662 "TypeError: Cannot read property 'calls' of undefined"
I just follow the tutorial with testing $.ajax request. And emulate the process by which `$.ajax` would execute its own callback when success.

[code]
Got the following error:
[code]
Any ideas?

[2016-01-05 16:26] litongxin commented on #662
Use node v5.2.0 and jest-cli@0.5.8

[2016-01-05 16:26] cpojer commented on #662
Please upgrade node to 0.8.2. This is unlikely a bug in Jest and stack overflow is a better place to ask questions.

[2016-01-05 16:26] #662 closed

[2016-01-05 16:39] litongxin commented on #662
Why use the older version 0.8.2 to run the test? The latest stable version is 5.3.0.

[2016-01-05 16:55] bigblind opened #663 "mockImplementation doesn't work with constructor functions."
What I've tried to do, is wrap an es6 class in a mock. The simplified version of what I'm doing would be:

    class A {
        constructor(foo){
        }
    }

    module.exports.A = jest.genMockFunction().mockImplementation(A).

But when I try to call it using `new A("foo")`, I get this error:

    TypeError: Class constructors cannot be invoked without 'new'

As a workaround for anyone havin

[2016-01-05 21:47] binarykitchen commented on #277
thanks - already figured that out (pretty old ticket heh)

[2016-01-05 21:47] #277 closed

[2016-01-06 15:31] catalin-enache commented on #74
Thank you so much for Jasmine 2 support !

[2016-01-07 02:21] btipling commented on #42
waitsFor is not a thing in jasmine 2 so how do you it there?

[2016-01-07 11:16] SomniumDigital commented on #116
Hi all, some real interesting info on here. I'm also experiencing issues with tests running slow too. I've currently got 13 tests taking ~15secs to run.

I did find adding `"testPathDirs": ["<rootDir>/path/to/tests/"]` to our packages.json file helped to improve the startup time considerably.

@cpojer Have you got an update for us regarding the new and improved module resolver? I'm really hoping t

[2016-01-07 13:03] cpojer commented on #116
This work is happening in #599.

[2016-01-07 13:04] cpojer commented on #42
See http://jasmine.github.io/2.0/introduction.html#section-Asynchronous_Support

jasmine 2, pit and `runAllTimers` should provide enough options for async testing.

[2016-01-07 13:16] SomniumDigital commented on #116
Thanks @cpojer 😀
I look forward to seeing the finished Haste2

[2016-01-07 15:42] threesquared commented on #433
Am also having this issue. Coverage only working when files added to `collectCoverageOnlyFrom`.

[2016-01-08 12:38] threesquared opened #665 "Using moduleNameMapper to mock out react native static image resources fails if module name is a path"
I am using the following to mock out react native [static images](https://facebook.github.io/react-native/docs/images.html):

[code]

This works when the image is `import DeleteIcon from 'delete-icon.png';` but not if it is a path `import DeleteIcon from '../images/delete-icon.png';` the stacktrace is below.

[code]

[2016-01-08 12:40] cpojer commented on #665
@frantic @martinbigio did we change how we do relative images in react-native?

[2016-01-10 10:38] hawflau opened #666 "Jest throwing error: TypeError: Cannot read property 'object' of undefined"
Hi, I was basically learning how to use react by following https://github.com/RisingStack/react-way-getting-started. When I run Jest, I get the following:
[code]

This is my package.json:
[code]

This is my test script:
[code]

And Item.js:
[code]

And .babelrc:
[code]

Any idea on how to solve this problem? Thanks

[2016-01-11 17:42] cpojer commented on #666
If you are using babel 6, for now you'll have to do `require('Item').default` in your test. This is annoying and going to be fixed soon.

[2016-01-11 17:42] #666 closed

[2016-01-11 18:02] AlexJuarez commented on #666
additionally you have a typo in your item.js, PropTypes should be capitalized.

your Item.spec.js become
[code]

[2016-01-12 02:18] hawflau commented on #666
it works now. Thanks!

[2016-01-12 04:34] martinbigio commented on #665
no, we didn't...

[2016-01-12 05:51] seekshiva commented on #118
It seems like I have to add every package used in `/jest/customMatchers.js` to `unmockedModulePathPatterns`. Is there a way to avoid having to add each package one by one?

[2016-01-12 05:53] seekshiva commented on #118
I'm trying to implement the matcher given in the last example in [this page](https://jamesfriend.com.au/better-assertions-shallow-rendered-react-components). That example uses `clean`, `indent` and `inspect-react-element` packages. Now I need to manually add each of those packages to 'unmockedModulePathPatterns'.

[2016-01-12 13:47] erquhart commented on #367
@cpojer are you saying Jest now works with ES6 modules via jspm/System.js?

[2016-01-12 16:55] cpojer commented on #367
No, did I say anything like this?

[2016-01-12 17:24] cpojer commented on #118
I'd recommend doing that, yes, and then setting up the matchers in your setup env file.

[2016-01-12 17:27] aospan commented on #632
same problem described here https://github.com/facebook/jest/issues/433

as workaround you can create fake __tests__/package.json with {} inside. In this case node-haste create correct requiredModules and you will see coverage for all files (direct dependent from test file).

[2016-01-13 00:28] cpojer commented on #655
Does this also happen with jasmine2? You can switch out the runner using this option: http://facebook.github.io/jest/docs/api.html#config-testrunner-string

[2016-01-13 00:56] cpojer commented on #663
Hey @bigblind. This is a good point but this is actually by design and JS doesn't really allow to call the constructor with variadic arguments and a bound context. I think the wrapper you have is the only proper way to solve this for now.

[2016-01-13 00:56] #663 closed

[2016-01-13 01:03] cpojer commented on #658
Yes I agree! Setup and config should be completed rewritten and documented properly. I'm going to work on this in the near future.

[2016-01-13 12:02] rmilesson commented on #17
We would like this as well. Jest seems like an awesome piece of software but can't rewrite everything we've got to account for no RequireJS support.

[2016-01-13 18:34] iroy2000 opened #668 "Any example on testing Redux using Jest"
I looked into Redux Unit testing section and they recommended using Mocha,  but since I plan to use Jest, is there documentation somewhere people using to test Redux using Jest ?

[2016-01-13 18:38] cpojer commented on #668
This is an issue tracker, not a help form. Please use stackoverflow or join us on discord. I'm cc'ing @gaearon in case he has some insight.

[2016-01-13 18:38] #668 closed

[2016-01-13 21:44] chriddyp commented on #535
@jeremiahrhall - did you have any luck in reducing the memory usage besides limiting `maxWorkers`? I've gone over Circle CI's 4GB of RAM with 4 workers. Reducing to 3 workers seems to lower the memory enough to not cause circleci to crash (`died unexpectedly`).

[2016-01-13 21:45] cpojer commented on #535
Also check out #599, which replaces node-haste with an entirely new implementation.

[2016-01-13 21:49] jeremiahrhall commented on #535
I only tried setting maxWorkers to 4 and that dropped memory usage to well below 4GB for me.

[2016-01-14 03:41] theengineear commented on #336
Any way to do this yet? Following suggestions from:

http://marmelab.com/blog/2015/06/24/jest-in-practice.html
https://medium.com/@dwerthen/speeding-up-react-testing-with-jest-5a300c1918b7#.bot61cbba

I took out the `"scriptPreprocessor"` so that I could manually watch for changes using `babel-cli`. Is it possible to use inlined source maps from `babel` yet in `jest`?

[2016-01-14 06:49] erquhart commented on #367
The OP distilled his issue in his most recent comment, namely:

He then closed with this:

Your response:

That led me to believe that his issue, incompatibility with the SystemJS module loader, is expected to be resolved in Jest 0.7.1+. Obviously not the case, given your response.

That said, do you know if this is on the roadmap?

[2016-01-14 17:12] cpojer commented on #367
It is unlikely there'll be official support for this library unless it is a community contribution.

[2016-01-14 19:31] mattlo commented on #632
Also running into this issue. Listing the direct paths under `collectCoverageOnlyFrom` works but its not practical.

[2016-01-14 23:31] sterpe opened #670 "`require.requireActual` returning mock of `lodash` in `jest@0.8.2`"
This seems weird but I am seeing `require.requireActual` returning mocks instead of the actual
[code]

The work around is to add
`"<rootDir>/node_modules/lodash"` to `unmockedModulePathPatterns`...but it doesn't feel like that should be necessary...?

[2016-01-14 23:41] sterpe commented on #670
It's also possible that I'm not understanding what `require.requireActual` is suppose to provide.??

[2016-01-15 00:34] cpojer commented on #670
This is almost certainly a bug. Can you publish a test repository with a repro for me so I can fix this?

[2016-01-15 02:07] sterpe commented on #670
@cpojer https://github.com/sterpe/jest--670

[2016-01-15 16:14] jasonmerino commented on #632
I'm also running into this issue. Getting 100% across the board when I actually only have partial tests on a single file.

[2016-01-15 19:06] magbicaleman commented on #334
I would greatly appreciate if someone would enlighten me, on the purpose of integrating jest and webpack. I've setup the configs ...etc as this [article](https://facebook.github.io/jest/docs/tutorial-webpack-integration.html) describes to, but I'm unclear as to what I'm suppose to expect.

Is the integration solely for resolving requires, or when you run `npm start` is that suppose to watch test?

[2016-01-15 22:57] felix-d opened #671 "Issues with async tests upgrading from 0.5x to 0.8.2"
I had quite a bunch of simple async tests using `pit` that now fail after updating from **0.5x** to **0.8.2**.
I tried to use **jasmine2** as a test runner and no luck. I also tried to use `done` syntax with success.

Here's an example of a simple test that fails.

[code]
And I get the error
[code]
When using **jasmine1** as my test runner, I get the error:
[code]
Anyone have an idea of what could

[2016-01-15 23:24] cpojer commented on #671
can you make an isolated example of this failure so I can repro? This shouldn't happen and definitely works for all repos at FB! Are you using the native Promise object in your code or using a polyfill?

[2016-01-16 00:08] hgezim opened #672 "`Expected Function to be called` thrown even though function is called"
I have a test that's similar to the following:

[code]

`keyUp` is bound to this function:

[code]

When running the test, this is the output:

[code]

So, the mock value for `MigrationManagerActions.loadSchedulesForMigration` is being printed out here: `G: Yup, here you go, returned`, how it clear that `MigrationManagerActions.loadSchedulesForMigration` is being called, however the test says `Exp

[2016-01-16 00:11] cpojer commented on #672
I think you have to call `jest.runAllTimers` because bluebird uses asap/setImmediate. Can you try that and reopen if it is still an issue?

[2016-01-16 00:18] hgezim opened #673 "`Expected Function to be called` thrown even though function is called"
*Updated with `jest.runAllTimers` instead of `jest.runAllTicks`*.

I have a test that's similar to the following:

[code]

`keyUp` is bound to this function:

[code]

When running the test, this is the output:
[code]

However, if I used `jest.runAllTicks` instead of run all timers, output is different (my `console.log` messages show up before `1 test failed, 2 tests passed` is printed).

[code]

S

[2016-01-16 00:20] hgezim commented on #672
Thanks for quick response @cpojer. I had tried `jest.runAllTicks` and that was worse. See #673 (not sure how to re-open this).

[2016-01-16 00:21] cpojer commented on #673
I'll reopen the other issue.

[2016-01-16 00:21] #673 closed

[2016-01-16 00:23] hgezim commented on #672
So, to clarify:

When running the test using `jest.runAllTimers`, this is the output:
[code]

Changing `jest.runAllTimers` to `jest.runAllTicks` instead outputs this (note: my `console.log` messages show up before `1 test failed, 2 tests passed` is printed in this case).

[code]

[2016-01-16 15:47] FossiFoo commented on #327
Submitted a PR: https://github.com/facebook/jest/pull/674

[2016-01-16 16:57] felix-d commented on #671
Yes this is what I thought, there's no way this is broken. I'll check but we might be using es6-promise polyfill, this might be the issue here. I'll mess around with our setup and get back to you

[2016-01-16 20:43] felix-d commented on #671
Ok so indeed this was due to a polyfill. In our project, which is relatively old, we use McFly as our Flux implementation and McFly, which is not updated anymore, uses the `es6-promise` polyfill and that polyfill isn't really a polyfill since it forces the usage of its own implementation if used and there's no check for window.Promise done.

So, as soon as I was requiring some of my modules that m

[2016-01-16 20:43] #671 closed

[2016-01-16 22:01] PedroPinheiro opened #676 "Statements and Branches never get to 100% coverage"
I'm trying to get real % coverage, but statements and branches can't reach 100% even with all the file tested.
Moreover, the first line always presents yellow and black squares.

![image](https://cloud.githubusercontent.com/assets/3782729/12374435/55c108f6-bc82-11e5-9d14-ebdf17513075.png)

How can I do to get 100% coverage of statements and branches?

[2016-01-17 21:32] sterpe commented on #670
@cpojer Update, this may be related to #231, taking the demo repo above sterpe/jest--670, and swapping out `lodash` for `underscore` fixes the problem.  So seems like require.requireActual doesn't work specifically for `lodash`?  Hope that helps.

[2016-01-17 21:38] sterpe commented on #670
Updated the repro here to include a test with `lodash` and a test with `underscore`:
[sterpe/jest--670](https://github.com/sterpe/jest--670)

[2016-01-18 07:46] benweizhu commented on #526
Has this wonderful feature been finished?

Really want to see features like this:

thresholdReporter: {
  statements: 90,
  branches: 60,
  functions: 85,
  lines: 90
}

[2016-01-18 08:55] benweizhu opened #677 "Does jest support check code coverage?"
Hi,

I see Jest is using istanbul for code coverage.

https://github.com/gotwarlost/istanbul

And istanbul supports check-coverage command.

check-coverage: "checks overall/per-file coverage against thresholds from coverage JSON files. Exits 1 if thresholds are not met, 0 otherwise".

Does jest support this command? Or is there any walk around can support check code coverage?

[2016-01-18 09:16] benweizhu commented on #677
Current walk around for me is to install istanbul and run :
istanbul check-coverage --statement 100

[2016-01-18 16:06] Pinwheeler opened #678 "What does "Error: Failed to get mock metadata" mean?"
I'm having an error running Jest and would like to get you a simple test case slice as per your guidelines, but am having trouble reproducing it in anything other than my rather large spring boot project.

Could you fill me in on what the error means so that I can better go about reproducing it- or fixing it?

[2016-01-18 19:00] yaycmyk commented on #676
I'm having this issue, too. I feel like it might be an issue with Babel

[2016-01-18 20:25] gaearon opened #679 "TypeError with verbose logger when suite is called "constructor""
When verbose mode is on,

[code]

will crash the reporter:

[code]

Found this while refactoring the verbose logger.
I'm working on it, but filing so I don't forget about testing this use case as part of my changes.

[2016-01-19 09:49] alendit commented on #564
This bug leads to `jest` being started multiple times, when used with a preprocessor like `babel-jest` since `jest` notices changes in the cache directory. I use the following workaround (in `package.json`):

[code]

[2016-01-19 13:21] ggarnier commented on #512
I was getting this error in OSX, even with ulimit set to `unlimited`. After removing `node_modules` directory, updating npm and running `npm install`, it started working again.

[2016-01-19 18:21] cpojer commented on #671
Seems like you found an actual bug in your code with Jest, then ;)

[2016-01-19 18:22] cpojer commented on #327
thanks for the fix! I have a fix for this in #599 as well.

[2016-01-19 18:22] #327 closed

[2016-01-19 18:43] cpojer commented on #679
Yes, this was reported in #655 as well, closing this one.

[2016-01-19 18:43] #679 closed

[2016-01-20 08:29] anderson916 commented on #671
I have the same issue. But I am not using es6-promise. @felix-d how you fix this issue?

The following is my package.json:

[code]

[2016-01-20 09:12] ffxsam opened #681 "Better error messages"
[code]

It would be great to have more detailed errors. What was the reserved word? What line number did this error occur on?

[2016-01-20 14:55] gaearon commented on #655
This was fixed in a19544fad5ac497c9ceaf65e568c393f5fb6fa56.
Thank you for reporting!

[2016-01-20 14:55] #655 closed

[2016-01-20 15:37] jberube commented on #512
@ggarnier updating to which npm version?

Still trying to figure it all on Windows.

[2016-01-20 16:58] erquhart commented on #367
Understood, thanks for clarifying.

[2016-01-20 22:57] mattzeunert opened #683 "Update docs on gh-pages branch"
I was looking into updating the [React tutorial docs](https://raw.githubusercontent.com/facebook/jest/master/docs/TutorialReact.md) to add the additional devDependencies and .babelrc file.

But it turns out the docs have already been [updated on master](https://github.com/facebook/jest/commit/c90543da08ab1d5f812e26ec640226793e11a6c5), just not on the gh-pages branch.

[2016-01-20 23:19] #564 closed

[2016-01-20 23:20] #363 closed

[2016-01-21 09:44] Mark-de-Haan opened #684 "Following the react-jest tutorial , I get a type error when running the CheckboxWithLabel test"
Im following the tutorial found here: https://facebook.github.io/jest/docs/tutorial-react.html#content

Only difference is I am using react 0.13 but I do not think that is relevant.

Since the default export of an ES2015 module ends up in the default property of the required object, you need to add '.default' to line 8 in the CheckboxWithLabel-test.js file:

    const CheckboxWithLabel = require('

[2016-01-21 11:31] ggarnier commented on #512
@jberube I just ran `npm install npm@latest -g` to update to the latest version (currently, 3.5.3)

[2016-01-21 19:37] jpgarcia commented on #10
+1

[2016-01-21 20:22] btipling opened #685 "Tutorial is 404 not found."
The "Learn more about Jest" button on the bottom of https://facebook.github.io/jest/ goes to a [404 not found page](https://facebook.github.io/jest/docs/tutorial.html#content). Doc link also broken.

[2016-01-21 20:24] btipling commented on #685
Support also gone.

[2016-01-21 20:24] btipling commented on #685
All links in README.md are dead.

[2016-01-21 20:25] edwardsurjadi commented on #181
Hi, sorry opening old post, but is there any update regarding this issue?

jquery.js: Cannot set property length of [object Object] which has only a getter

I'm experiencing this error also with jquery, node 0.12, jest 0.4
Tried switching node 0.8 or 0.10 using the n module (command : n use 0.10) but it still doesn't work.

I feel so frustrated troubleshooting this versioning conflict error, it ju

[2016-01-21 20:27] btipling commented on #685
And now it's all back. Ooook.

[2016-01-21 20:27] #685 closed

[2016-01-21 21:23] btipling opened #686 "jest tests fail when you combine react-router and react-tools"
Some how jest is grabbing the wrong kinds of files with a require call in a test.

I have a minimum reproducible example here:

https://github.com/btipling/jest-babel-react-hello-world/tree/jest_broken_with_react_router

Do:

[code]

Error:

[code]

[2016-01-21 21:25] jasongonzales23 commented on #678
+1

[2016-01-21 22:26] yaycmyk opened #687 "console.debug is missing"
I have a feeling it somehow relates to: https://github.com/facebook/jest/blob/master/src/Console.js

But trying to use `console.debug()` in a test tells me it isn't there, but `.warn()`, `.log()`, and `.error()` work as expected.

[2016-01-21 22:37] cpojer commented on #687
There is no real reason to include this because it just maps to `console.log`. I actually didn't even know it existed. If you need this, I'd recommend doing `console.debug = console.log` in your setup env file or in the beforeEach call of your associated test. I don't think I'll add this to jest.

[2016-01-21 22:37] #687 closed

[2016-01-21 23:05] zpao commented on #181
Node 0.12 is not supported, sorry. We're no longer providing support for 0.10 either. We're mostly committed to supporting LTS releases >= 4 since that is our primary use case. Newer versions of Jest have an updated jsdom and other upgrades which hopefully work past any issues you might have. It's likely that you're hitting an issue where the old version of jsdom we had just wasn't compatible with

[2016-01-21 23:56] yborunov opened #688 "Jest unmock patterns doesn't apply when requiring lodash's single function"
Here's a very shady problem I've been fighting with for a couple of weeks, approaching it from different angles and all efforts hadn't been leading to any results for quite a long time. Today is a happy day for me since I get to know what causes the problem and its roots, but still believe that this is kind of an odd behaviour for Jest, that's why I decided to share it here to get your suggestions

[2016-01-22 02:21] cmmcleod commented on #238
I had the same issue when importing JSON fixtures. However `requireActual` seems to do the trick:

[code]

[2016-01-22 03:09] edwardsurjadi commented on #181
Hi zpao, thank you for your reply. So, if i want to use jest, what version of jest-cli and node do you recommend me to work with?

[2016-01-22 09:59] davidbarton commented on #684
You can find some info here https://github.com/facebook/jest/pull/682

[2016-01-22 10:00] davidbarton commented on #678
You can find some info and workaround here https://github.com/facebook/jest/pull/682

[2016-01-22 14:20] Mark-de-Haan commented on #684
Ah this is indeed the exact same error. The same solution is also mentioned in one of the comments. I will close this as duplicate.

[2016-01-22 14:20] #684 closed

[2016-01-22 16:36] dara76 commented on #547
The issue https://github.com/systemjs/systemjs/issues/840 was closed with a suggested approach for fixing it in jest instead. Shouldn't this be reopened?

[2016-01-22 17:35] cpojer commented on #547
Jest has a "testURL" setting.

[2016-01-22 17:45] jasongonzales23 commented on #678
Ultimately my issue did boil down to #682 however, the patch doesn't help if the component you are testing imports other components. Super frustrating.

[2016-01-22 17:57] zpao commented on #181
I would go to node 4.x (LTS) and jest-cli@latest (8.x I think)

[2016-01-23 02:49] felix-d commented on #671
@anderson916 if you console.log(Promise) in your test what is your result?

[2016-01-23 10:00] anderson916 commented on #671
[code]

[2016-01-23 10:00] anderson916 commented on #671
@felix-d what's wrong?

[2016-01-23 17:06] felix-d commented on #671
That was not my bug then

[2016-01-24 05:10] #352 closed

[2016-01-25 01:15] jpgarcia opened #691 "Cannot find module 'ErrorUtils' if testPathDirs provided"
If I set the testPathDirs: [ "test" ] in the **package.json** file I'm getting the following error:

[code]

without the **testPathDirs** configuration item the tests runs fine but they will take too much time to run...

I'm running node 5.4.0 and npm 3.5.3 and here is my package.json

[code]

[2016-01-25 14:51] tobowers commented on #652
:+1:

[2016-01-25 17:53] jamedranoa opened #693 "Jest mocks incorrectly dependency modules when using babel 6"
`babel 6`,  when passing from `es6` modules to commonJs, adds a property call `__esModule`, later when the module is imported  (`es6 import`), babel will transform it:

[code]
becomes this ->

[code]
(what the module will actually use is _dependencyModule2)

so  jest will mock `require('./dependencyModule')`, and when it mocks it, it destroys the `__esModule` property, without this property  we wi

[2016-01-25 17:58] jamedranoa commented on #693
so far I have been using this as a quick fix https://github.com/jamedranoa/jest/commit/f70e60e0cbd3f3274458750927ec1ac748d891a3

but it will be awesome if we could get a real fix.

[2016-01-25 19:07] cpojer commented on #691
`testPathDirs` is stupid and doesn't make any sense. I'll fix it soon. The startup time will be fixed by #599. You can artificially speed it up by putting certain node_modules into the `modulePathIgnorePatterns` config.

[2016-01-25 22:33] QuantumInformation commented on #74
@cpojer how do I specify this in the command line? I tried this but I still get jasmine1 being used

[code]

Using Jest CLI v0.8.2, jasmine1
[code]

[2016-01-25 23:46] QuantumInformation commented on #139
+1

[2016-01-26 07:21] catalin-enache commented on #74
It works for me with the following config:
[code]
https://github.com/catalin-enache/ab_utils/blob/master/package.json

[2016-01-26 11:25] dara76 opened #694 "Cannot read property 'traceur' of undefined is thrown when importing systemjs in a jest test"
When trying to run the following in jest

foo-test.js
[code]
I was initially seeing this issue : https://github.com/systemjs/systemjs/issues/840

The fix was to add a `testURL` to my jest config as suggested in https://github.com/facebook/jest/issues/547

jest config in package.json
[code]
I now get the following error

[code]

After some investigating, https://github.com/systemjs/systemjs/pull/10

[2016-01-26 12:57] jamedranoa commented on #694
This might be related to this https://github.com/babel/babel-jest/issues/16

[2016-01-26 13:43] dara76 commented on #694
@jamedranoa I think you're right, using `require` instead of `import` doesn't trigger the error.

[2016-01-26 17:55] cpojer commented on #74
You need `--testRunner`.

[2016-01-26 18:41] conatus commented on #672
We are observing similar effects with the following code:
[code]

Code under test something like:
[code]

First expectation passes, the second expectation fails. We know the promise is being resolved because we can log out in that `then` block. However it appears the promise resolves after the expectation is made, somehow. Updates to follow if we work something out.

[2016-01-26 18:47] conatus commented on #672
[code]

Here is me demonstrating what appears to be a timing problem here.

[2016-01-26 20:21] MicheleBertoli commented on #672
Here is the bare minimum code to reproduce the issue:

[code]

It works with jest v0.4.13 on node v0.10.41 (and `require('babel/polyfill')`), it doesn't with jest v0.8.2 on v5.5.0.

[2016-01-26 20:36] cpojer commented on #672
which kind of Promise implementation are you using? If you are using the native promise implementation, this may not work as expected. You might have to use `pit`, return the promise and use `then` to chain expect calls:

[code]

for example.

[2016-01-26 21:36] vitalets commented on #693
+1 wasted several hours struggling with this!

[2016-01-26 22:03] MicheleBertoli commented on #672
Thanks @cpojer

Unfortunately we can't test the promise directly with `pit` in this particular case.

Anyway using any other Promise libs (for example [promise](https://github.com/then/promise) or [bluebird](https://github.com/petkaantonov/bluebird) with `runAllTimers`) it works, therefore I can confirm that the cause is the native implementation.

[2016-01-26 22:18] hgezim commented on #672
In my case, I was using bluebird.

On Jan 26, 2016, 15:03 -0700, Michele Bertoli<notifications@github.com>, wrote:

[2016-01-26 22:26] MicheleBertoli commented on #672
Changing the [example](https://github.com/facebook/jest/issues/672#issuecomment-175208367) above to:

[code]

Worked for me (with Bluebird v3.1.5) @hgezim.

[2016-01-26 23:07] QuantumInformation commented on #139
So is there no simple way to run jest (using jasmine 2) through karma? What is so difficult about it if Jasmine already can? Seems like a MVP requirement for any test runner for unit testing enterprise apps.

[2016-01-26 23:58] conatus commented on #672
Hi @cpojer, thanks for your response.

As my esteemed colleague said, we can't use `pit` because we aren't checking some function that returns a promise in which we can make an assertion, but rather that some function is called within the successful return of a promise.

@MicheleBertoli perhaps we can establish on which version of Jest it breaks and work out therefore what change in the version bu

[2016-01-26 23:59] cpojer commented on #672
I think this is unrelated to Jest. You are probably using the native promise *somewhere* (in another node_module that is a dependency?) and it was introduced in node 4, which is why you are not seeing it anymore past jest 0.4.

[2016-01-27 00:05] cpojer commented on #139
Oh I haven't commented here. The new architecture of jest proposed in #599 will make it easier to build a server environment around Jest. This is unfortunately not a priority for Facebook however, so I'm not going to actively push for this. If anyone wants to work on it, I'd be happy to help.

[2016-01-27 00:11] QuantumInformation commented on #139
thanks Chris.

What about running Jest on node webkit and chromimum web driver?

[2016-01-27 00:35] cpojer commented on #139
Seems like that is the same concept?

[2016-01-27 00:41] QuantumInformation commented on #139
Yeah I guess so. I'll see what I can dig up on it.

[2016-01-27 02:59] pandazy opened #695 "Object.create always returns {}"
No matter what is passed into Object.create as its first parameter, it just returns {}, I am not sure if this is designed in purpose, if yes, I wonder if there is a reason and if there is a workaround. Here is a simple example of test case for this
[code]
The running result of the code above may look like this:
[code]
Obviously I am expecting it to return { a: 1, b: 2} instead of {}
I would like t

[2016-01-27 04:44] jshthornton opened #696 "Fails to automatically mock keyMirror objects"
[code]

ActionTypes will result in being undefined.

[2016-01-27 04:46] jshthornton commented on #696
A simple fix is to use `jest.dontMock('keyMirror');`

[2016-01-27 06:48] MicheleBertoli commented on #672
Thanks @cpojer!
Yes, the problem is related to the Promise implementation we are using (native vs libs with `nextTick`).
Any plans to create a new utility function like `runAllTimers` but for the native Promise? :)

[2016-01-27 09:40] tangrui commented on #509
Does anybody have some workaround of this issue?

[2016-01-27 16:04] QuantumInformation commented on #139
I tried just running in the browser with jest like so:

https://github.com/QuantumInformation/JestBrowserTest

but I get this error in the console:

Uncaught (in promise) SyntaxError: Unexpected token H

[2016-01-27 16:47] cpojer commented on #672
I'm a little unsure how that would work. Maybe `process.nextTick()` is enough?

[2016-01-27 16:55] cpojer commented on #696
Yes, keyMirror needs to be unmocked to make this work.

[2016-01-27 16:55] #696 closed

[2016-01-27 16:57] cpojer commented on #695
can you `console.log(Object.create)`? Are you overwriting it with your own implementation that is being mocked?

(I'm closing this because it is likely not an issue with jest and more like a question, but happy to reopen if it turns out to be one :) )

[2016-01-27 17:02] cpojer commented on #509
There is no workaround for this yet. Blocked on #599. I'll likely add a way for jest to properly mock node_modules (and internals) and also will make it more strict to colocate mocks.

[2016-01-28 05:24] sukeshni commented on #207
@yannickcr I am trying to do it your way, tests failing :(
Has anyone found a workaround for this issue ?
@spicyj Can you please post an example of how you did it ?

[2016-01-28 10:50] mseimys commented on #367
+1

I also have similar problem: but using Webpack, not SystemJS to bundle things. As @buddyp450, I have a separate folder for shared in-house developed modules next to `node_modules`, called `mycompany_modules` and importing them like: `import {Reporting} from "reporting";`

To get that running I updated Webpack config to include additional directory and it works like a charm:
`resolve: { modules

[2016-01-28 16:21] Sebmaster commented on #695
This is a peculiarity of console.log, but it works correctly. Object.create attaches the object you provide as the prototype. And console.log doesn't log the prototype, only the own_properties of the object.

See:
[code]

[2016-01-28 16:45] cpojer commented on #695
@Sebmaster thanks for the explanation! I don't normally pass anything other than null to Object.create.

[2016-01-28 18:22] cpojer commented on #672
I think these issues might come up because you might be using *different* promise implementations in different node_modules or parts of your application. We had this problem somewhere in react-native as well. One fix could be to do `global.Promise = require('my-promise-impl')` and potentially stub out all the other promise modules that might be included transitively by other node_modules with that

[2016-01-29 03:16] QuantumInformation commented on #74
I couldn't get --testRunner to run. I needed the extended one.

[2016-01-29 04:00] tangrui commented on #509
Manually call `setMock` will help.

I want to mock `some/other/library` in `node_modules`, then I create the path under `__mocks__` folder, like:

[code]

Then call `jest.setMock('some/other/library', require.requireActual('../__mocks__/some/other/library')` in the test. After that when calling `require('some/other/library')`, jest will use the mock instead.

Please check https://github.com/zyeeda

[2016-01-29 15:32] vitalets opened #698 "`.only` does not work in jasmine1 and not supported in jasmine2 runners"
Steps to reproduce:
1. `git clon https://github.com/facebook/jest.git`
2. `npm i`
3. change some test `it` to `it.only`
4. `npm test`

Result:
jasmine1 runner
[code]
jasmine2 runner
[code]

Please fix it as it is very difficult to develop tests without it!

[2016-01-29 21:20] blainekasten opened #699 "Issue mocking gulp-util"
This is a weird issue, and I'm not really sure where the fault is. It could be in jest, babel-jest, gulp-util. Not entirely sure, but i'd appreciate help trying to figure out where the issue is so we can properly get this fixed.

Basically, i'm getting an error using jest `0.8.2`, with babel-jest `6.0.1` when importing `gulp-util`. And i've found that it ultimately happens in a nested node_module

[2016-01-29 22:57] cpojer commented on #699
I'd recommend unmocking it. You can put `gulp-util` into unmockedModulePathPatterns and it'll work.

[2016-01-29 23:00] cpojer commented on #698
Hey! This is an intentional API change. Jasmine 2 has `fit` and `fdescribe`, meaning `focused it` and `focused describe` instead.

[2016-01-29 23:00] #698 closed

[2016-01-30 07:31] vitalets commented on #698
@cpojer thanks for information!
But it does not work now with jasmine2!
1. changed this line to `fit`:
https://github.com/facebook/jest/blob/master/src/__tests__/TestRunner-test.js#L36
2. `npm run jasmine2`
[code]

[2016-01-30 14:23] pandazy commented on #695
Yes, I confirmed, great thanks for your answer.

On Thu, Jan 28, 2016 at 11:21 AM, Sebastian Mayr <notifications@github.com>
wrote:

[2016-01-30 22:25] blainekasten commented on #699
That doesn't work either. Did you check out that repo?

[2016-02-01 00:29] cpojer commented on #698
Jest parallelizes test runs and it doesn't know upfront which tests it should run and which it shouldn't run. This means when you use "fit", it will only run one test in that file but still run all other test files in your project. `fit` should only be used for debugging purposes, so I recommend invoking jest with `jest MyTest.js`, which will only run one file and the one test within it.

[2016-02-01 09:53] vitalets commented on #698
@cpojer thanks for explanation!
But this additional actions really make developing tests less convenient than in other frameworks. In pure jasmine or mocha I can just set `it.only` and run usual `npm test`.

What do you think about adding option to disable parallelism (at least when developing tests)?

[2016-02-01 09:54] cpojer commented on #698
You can pass `-i` for that, but jest still won't know that only one test will be run. I don't think there is a good way to fix this issue although I'm open to ideas :) I'll be restructuring how tests are being run and provide a better implementation of `--watch` to improve the developer ergonomics around this.

[2016-02-01 10:03] vitalets commented on #698
I think we should go a familiar way. If I develop test it should be enough to mark it as `.only` or `fit` or whatever to run and debug exclusively.
From the jest side as I understand currently it gets spec file and instantly passes it to the runner. In developer mode we can first concat all specs into single bundle and then pass it to runner. In that case jasmine's built-in `.only` mechanism will

[2016-02-01 10:33] cpojer commented on #698
That is not possible because Jest isolates test files into separate environments. Of course, that could be disabled using a different param, but then you'd have to pass another cli option. Internally we have a `--spec` option which could be useful for this as well.

[2016-02-01 13:03] vitalets commented on #698
Ok, I got it.
It seems we can't avoid pre-scanning specs before actually running jest. I thinks I can end up with package (something like `jest-only`) that will pre scan specs, search for `fit` (using esprima or more straght regex) and run jest with particular spec if `fit` found.

[2016-02-01 23:29] jasonmerino opened #700 "Unable to use destructuring when mocking React Native"
I'm trying to test some files with Jest in a React Native project and from what I've seen around the interwebs is that you need to explicitly mock the `react-native` module to get it to work.

That's all well and fine, but I'm having an issue when I attempt to destructure variables from said module in my source files. The source files work correctly in the application but when I run the tests I ge

[2016-02-01 23:45] cpojer commented on #700
https://hosain.net/2016/01/31/unit-testing-react-native-components.html is this helping? :)

[2016-02-01 23:48] cpojer commented on #698
Yup, you can do this but the question is whether it is worth it. At FB we have thousands of tests and doing static analysis to figure out whether only one tests needs to be run would likely take about 1/3 of the entire test runtime. For small projects the overhead isn't big, so this makes sense. I'm hoping to modularize more pieces of Jest so you can pull out the parts of jest that give you, for e

[2016-02-02 00:11] jasonmerino commented on #700
I think that will fix it. Installing the `react` package causes a naming collision in the React Native packager since the CSSProperty.js file exists at both `node_modules/react/lib/CSSProperty.js` and `node_modules/react-native/node_modules/react/lib/CSSProperty.js` but I'm already using a `npm postinstall` script to remove 4 different versions of the `fbjs` module so I'm pretty sure I can do that

[2016-02-02 07:53] vitalets commented on #698
Ok, thanks.
Bwt, when you have thousands of tests and you are fixing one do you run them all?
(may be I miss some another approach)

[2016-02-02 07:54] cpojer commented on #698
Yes, for continuous integration we do. Locally, people run `jest --onlyChanged` which will only run test files related to changed files.

[2016-02-02 08:05] vitalets commented on #698
Sorry for continuing asking more and more.. :)
But it's very interesting:
1. how do you match test files to source files? Some naming convention?
2. is `--onlyChanged` described somewhere and is it official jest cli option? Didn't find any mention of it in docs.

[2016-02-02 08:06] cpojer commented on #698
Yes it is part of Jest. We use node-haste for dependency management and have a reverse dependency lookup algorithm. In #599 I've written a new implementation of this algorithm which works better than previously.

[2016-02-02 08:11] vitalets commented on #700
I can confirm this bug.
In my setup I use pure babel transpiller with https://www.npmjs.com/package/babel-preset-react-native and it works fine.

[2016-02-02 08:21] vitalets opened #701 "jest.setMock() requires actual module existance"
I'm making a package for react-native but I don't have react-native itself in my `node_modules` and I don't need it.
During tests I just mock `react-native` with needed object:
[code]
But jest throws error ` Cannot find module 'react-native' from ...`.
It's strange because I manually mock whole module and actual one is obviously not needed.

Is it possible to fix it without installing `react-nativ

[2016-02-02 08:22] cpojer commented on #701
If you aren't requiring react-native anywhere in the dependency tree of your test, there is no point in mocking it. Just remove that line.

[2016-02-02 08:26] vitalets commented on #701
My package is supposed to be imported in react-native project. And I'm requiring RN in my component:
[code]

[2016-02-02 08:27] cpojer commented on #701
In that case I will recommend to put react-native into the devDependencies of your project, does that make sense?

[2016-02-02 08:32] vitalets commented on #701
Of course I can do it. But I think it's good to keep in dependencies only what you really need.
I'm interested in logic behind this behavior: why jest requires module existance even if I manually mock it?

[2016-02-02 08:35] cpojer commented on #701
Another solution that should work is to create a file `react-native.js` in a `__mocks__` folder, effectively making it a "free mock" that only exists for test purposes. We do this at Facebook to stub out certain network data.

`setMock` is more strict. If you use it, you are explicitly saying "this module exists in my dependency tree and I would like it to be mocked". If it then doesn't exist, you

[2016-02-02 08:36] cpojer commented on #701
I'm also not 100 % set on this. If you feel strongly and want to send a pull requests, by all means, go for it :)

[2016-02-02 09:10] vitalets commented on #701
Putting `react-native.js` to `__mocks__` folder next to `node_modules` has the same error.

Ok, I will try to find time to look in jest source. Current solution `npm i react-native --save-dev` )

[2016-02-02 16:45] ncuillery opened #702 "Manual mock has no effect if the module is already loaded"
Manual mock implies that the instructions `jest.mock` / `jest.dontMock` should be executed **before** the require of the corresponding modules. Otherwise they have no effect.

I think a Jest user can easily be in this situation:
- if you are a newcomer http://stackoverflow.com/a/34988701/769006
- if you use ES6 (import hoisting)
- if you require a module which requires the manual mocked module and

[2016-02-02 17:49] mpanda123 commented on #560
Can jest replace headless testing like with Phantomjs?

On Tue, Oct 20, 2015 at 11:27 AM, Christoph Pojer <notifications@github.com>
wrote:

[2016-02-02 18:50] jasonmerino commented on #700
@cpojer @vitalets Thanks for the links. They both helped immensely. I've got it all up and running now with a combination of Hosain's article and `babel-preset-react-native`.

I wasn't able to get the mocking of react native just like Hosain wrote about, but my tests are passing now. :)

[2016-02-03 00:20] cpojer commented on #702
I think that makes sense. I'll consider this for integration after I merge #599.

[2016-02-04 04:45] blainekasten commented on #329
I'm just going to close. Haven't seen this in a while.

[2016-02-04 04:45] #329 closed

[2016-02-04 04:47] blainekasten commented on #699
I found if I put `jest.autoMockOff()` at the top, it passes. So I'm thinking that jest is throwing an error while trying to mock something in that module.

[2016-02-04 04:48] cpojer commented on #699
Are you using npm3? In that case, for now, you'll also need to put chalk and has-ansi into the unmocked patterns.

[2016-02-04 05:29] blainekasten commented on #699
This is with npm3. I just tested adding those two things and it still errors. I found a more descriptive stack trace:

[code]

Here is the contents of `has-ansi/index.js`

[code]

And here is the contents of `ansi-regex`

[code]

I realize I can set certain things to be unmocked via that config option. But is this indicative of an issue of jest being capable of mocking something here? Or is it rea

[2016-02-04 05:30] cpojer commented on #699
npm3 fiasco and Jest hasn't entirely caught up to that yet. I'm working on it though :)

I'll close this out as I'm sure you can fix it by unmocking all the node_modules as I listed. The npm3 issue is tracked somewhere else and will be resolved soon.

[2016-02-04 05:30] #699 closed

[2016-02-04 19:31] jasonmerino commented on #700
Closing this as it seems to be working well in my project now.

[2016-02-04 19:31] #700 closed

[2016-02-04 19:37] jasonmerino commented on #629
@bartonhammond I was having issues with destructuring in a React Native project I'm working in the other day and the suggestion of using `babel-preset-react-native` seemed to fix the destructuring problem for me (#700).

FWIW

[2016-02-04 23:11] felix-d commented on #693
+1 Thank you @jamedranoa for this quick fix, works in the mean time!

[2016-02-05 03:58] mc-zone commented on #701
Same problem about it.

We have a module with some config files that downloaded form network and muti versions in production environment. So at some moment I just want to test this module by a fake config Object.

And I think there is no need to make some real files in our source directory and just for test. (this may cause confusion to other members?)

Current I just use a preprocessor  (on `conf

[2016-02-05 04:09] mc-zone commented on #701
By the way. @vitalets How can you see this error `Cannot find module ..`?
I can't see anything when I use `jest.setMock` to non existent file and run test. It only said `Test Failed` with nothing.
Need other special config ? I have set `"verbose": true` in `package.json` to jest.

(I use Git bash in Windows 7)

![image](https://cloud.githubusercontent.com/assets/4403937/12837779/b21c5c94-cc00-11e5

[2016-02-05 08:19] vitalets commented on #701
@mc-zone
Oh yes, jest is very silent man. Wrap `jest.setMock` into `try catch` and console.log error.

[2016-02-05 08:31] mc-zone commented on #701
Oh, I see... :laughing:   :+1:

[2016-02-06 10:39] vitalets commented on #701
One more disadvantage of this behavior: when running tests on CI server (e.g. travis)
- it takes more time as react-native is installed
- not working on older versions of node (due to some RN install requirements)

[2016-02-08 08:59] vitalets opened #704 "Jest starts slowly because scanning node_modules"
When running jest with default configuration (no `testPathDirs` set) it scans whole `node_modules` directory.
Event though `testPathIgnorePatterns` is by default set to `/node_modules/` and at the end that are ignored, and moreover jest looks only for *changed* files, the scan process itself can take a longer time as node_modules structure is usually deep.

When I set `testPathDirs` to subdirector

[2016-02-08 09:02] cpojer commented on #704
Yes, this is going to be solved with #599. I am optimizing perf like crazy in that PR and node-haste2 (see https://github.com/facebook/node-haste ). The next version of jest is going to be as fast as a test framework can possibly be. The runtime of the Relay test suite is going down from 60-100s to 20s.

I'll close this issue because it isn't actionable in light of #599. I'm going to merge it as s

[2016-02-08 09:02] #704 closed

[2016-02-08 10:57] vitalets commented on #704
Ok, thanks a lot for your work!

[2016-02-08 14:04] vitalets commented on #704
btw, @cpojer could you shortly explain the key features of https://github.com/facebook/node-haste ?

[2016-02-09 09:10] cpojer commented on #704
It's needed for facebook and our open source projects to resolve `@providesModule` headers inside of modules, mostly.

[2016-02-10 04:16] PrimeObjects opened #705 "jest is not recognized as an internal or external command"
npm install jest-cli --save-dev

Then when I run npm test, I got jest is not recognized as an internal or external command on Windows 10.

Thanks

[2016-02-10 04:23] cpojer commented on #705
Can you paste your package.json?

[2016-02-10 09:33] FlackMonkey commented on #512
@ggarnier ,  hi!
Still got issue on Windows (7 x67 sp1).
node : 5.6.0
npm : 3.7.1
jest: 0.8.2

npm test:
`> jest

Using Jest CLI v0.8.2, jasmine1
Error reading file: `D:\... \web\node_modules\gulp-less\node_modules\less\node_modules\request\node_modules\hawk\node_mo
D:\ ... \web\node_modules\jest-cli\node_modules\node-haste\lib\loader\ResourceLoader.js:88
      throw err;
      ^

Error: EMFILE: t

[2016-02-10 11:37] cpojer commented on #512
#599 is going to merge next week and it should resolve this problem too.

[2016-02-10 17:10] PrimeObjects commented on #705
{
  "name": "reactdemo",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "jest"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "babel-preset-react": "^6.5.0",
    "babelify": "^7.2.0",
    "express": "^4.13.4",
    "react": "^0.14.7",
    "react-dom": "^0.14.7"
  },
  "devDependencies": {
    "jest-cli": "^0.8.2"
  }
}

Thank you!
Gary

[2016-02-10 19:55] mikecousins commented on #678
Yeah, this one is super annoying.

[2016-02-10 22:53] kaiomagalhaes commented on #597
@binarykitchen Any news about it?

[2016-02-10 22:54] binarykitchen commented on #597
sorry, no. we decided to pick a different test framework.

[2016-02-10 22:55] kaiomagalhaes commented on #597
@binarykitchen Thanks, I'm facing the same issue here. Trying to render a component that has a react-component inside it I get nasty errors :disappointed:

[2016-02-10 23:11] kaiomagalhaes commented on #597
@binarykitchen Which framework did you guys start using?

[2016-02-10 23:15] binarykitchen commented on #597
karma

[2016-02-11 00:46] kaiomagalhaes commented on #597
@binarykitchen Thanks man!

[2016-02-11 12:15] vitalets opened #706 "jest.addMatchers() does not work with jasmine2"
When trying to set custom matcher with `jasmine2` I'm getting error:
[code]
it's because in jasmine2 `addMatchers` is defined on `jasmine` object, not particular spec.
Here is the detailed explanation:
http://jasmine.github.io/2.0/upgrading.html
Jest line that should be changed:
https://github.com/facebook/jest/blob/master/src/HasteModuleLoader/HasteModuleLoader.js#L799

Current workaround is to d

[2016-02-11 19:11] mthadley commented on #693
+1 For the temporary work around. Thanks!

[2016-02-12 07:51] seekshiva opened #707 "Cannot read property 'topCompositionEnd' of undefined"
my tests started failing all of a sudden. I get the same error log on all tests.

[code]

would it have something to do with haste2 update in #599?

I see that the npm package was last updated on Dec 16, 2015, so I'm not sure why tests started failing today all of a sudden after clearing out node_modules and doing a fresh npm install.

[2016-02-12 09:25] volodyad opened #708 "Jest doesn't work with global jquery"
I have setup jest with webpack according to articles from https://facebook.github.io/jest/docs/getting-started.html. All works fine except I have got third party libraries which requires reference to global jquery. I have configured webpack in the next way
new webpack.ProvidePlugin({
            $: "jquery",
            jQuery: "jquery"
        })
so it works when I run my app, but when I try to r

[2016-02-12 13:26] rmilesson commented on #524
@sterpe Any progress on this?

[2016-02-12 14:51] sterpe commented on #524
@rmilesson, I never really had time yet, sorry.  Not sure when I'll be able to.

[2016-02-12 23:08] tylercollier opened #710 "Recommendation for jest-webpack-alias is confusing"
On the [webpack integration page](https://facebook.github.io/jest/docs/tutorial-webpack-integration.html#content) it says:

This was confusing to me. I thought by using jest-webpack-alias, I'd get the benefits of webpack, such as automatic compiling of ES6 and Coffeescript. As I later learned [here](https://github.com/Ticketmaster/jest-webpack-alias/issues/13):

The tutorial page says this at the

[2016-02-13 00:19] 321ckatz123 opened #711 "toEqual ignores keys with undefined properties"
If a property is undefined, Jest appears to ignore it when calling .toEqual().

`import _ from "lodash";
describe("test", () => {
  it("returns an object with the correct nodes", () => {
    let a = {"key1": undefined, "key2": "a"};
    let b = {"key2": "a"};
    expect(a).toEqual(b);
    expect(_.isEqual(a, b)).toBeFalsy();
  });
});`

This simple test will pass. As you can see by adding lodash,

[2016-02-13 04:30] jamedranoa commented on #711
this is coming from [here](https://github.com/facebook/jest/blob/master/vendor/jasmine/jasmine-2.3.4.js#L2747). @cpojer is there a reason why that check can't be removed?  all the tests on the jest repository pass without it.

[2016-02-13 09:29] JaxGit commented on #433
jest-cli@0.8.2
I found that one of the reasons for getting empty coverage is require.requireActual your test object, although it works fine during testing process.

By changing to syntax:
jest.dontMock('./test object');
const TestObject = require('./test object');
problem fixed.

[2016-02-14 03:09] JaxGit commented on #665
Maybe try Automatic Mocking. @threesquared

/image
└── __mocks__
             └── index.js            // empty file
└── index.js
└── a.png
└── b.png

within /image/index.js
module.exports = {
  a: require('./a.png'),
  b: require('./b.png')
};

within component:
import * as images from '../images';
<Image source= {images.a} />

BTW, moduleNameMapper (without empty mock index.js) worked for me when

[2016-02-14 08:23] JaxGit commented on #433
Another reason is using a custom structure to organise tests and mocks.
It works fine by using
    "testPathDirs": [
      "app/"
    ],
and following tutorial to use the default structure:
/app
└── __mocks__
└── components
           └── __tests__
                        └── testObject.<testFileExtension>
           └── testObject.js

While this won't work (even using dontMock instead of require.

[2016-02-15 00:46] cpojer commented on #711
@jamedranoa yes, I plan on eventually removing this check. Unfortunately we have a shitload of tests at FB that depend on this behavior. My goal is to unfork jasmine eventually though, it'll happen in the next few months.

[2016-02-15 00:51] cpojer commented on #707
Did you switch to npm3? You might have to unmock `fbjs` as well as react :) This is unlikely a Jest issue and I'll close this issue but feel free to comment here if you can't resolve your issue.

[2016-02-15 00:51] #707 closed

[2016-02-15 00:52] cpojer commented on #708
You can load jQuery in a setup file, see https://facebook.github.io/jest/docs/api.html#config-setupenvscriptfile-string

[code]

for example.

[2016-02-15 00:52] #708 closed

[2016-02-15 00:55] cpojer commented on #706
`jest.addMatchers` doesn't exist any more with jasmine2. The solution, as you found, is to use `jasmine.addMatchers`. Thank you for the report!

[2016-02-15 00:55] #706 closed

[2016-02-15 12:43] vitalets commented on #706
Ok. the docs should be updated definitely!

[2016-02-15 18:40] jamedranoa commented on #711
Cool thank you! :+1:

[2016-02-15 21:19] erquhart commented on #10
Yep, specs in with the source is a very common setup, +1.

[2016-02-15 22:37] isaacws commented on #10
+1 I was hoping to be able to put the tests with the components

[2016-02-16 01:01] seekshiva commented on #707
I'm using npm3. I've unmocked fbjs and react after #558 :)

Tests have been working fine for couple of months, and broke suddenly with this error on all tests (even empty *-test.js files throw this error).

[2016-02-16 01:02] cpojer commented on #707
Can you do `rm -rf node_modules/jest-cli/.haste_cache` and retry the run?

[2016-02-16 01:19] seekshiva commented on #707
I get the same error.

[2016-02-16 01:20] srossross commented on #116
The same tests using mocha run in 44ms for me where jest took full 6 seconds.

It took me about 15 minutes to switch my initial 6 test files using `jest` to using `Mocha`, `jsdom` and `sinon`.

[2016-02-16 01:21] cpojer commented on #116
Good news everyone, I'm merging #599 today and it should do away with the slow startup, finally.

[2016-02-16 01:24] cpojer commented on #707
I'm quite convinced that the problem is npm3 here and that fbjs is being mocked when it should be unmocked. Are you certain you put `fbjs` in the `unmockedModulePathPatterns` setting?

[2016-02-16 01:25] seekshiva commented on #707
yes.
[code]

[2016-02-16 01:27] cpojer commented on #707
The culprit is likely the `keyMirror` file. Do you have more than one `keyMirror.js` file in all of your node_modules? Also, feel free to join #jest on discord (See facebook.github.io/jest/support.html ) so we can troubleshoot this more easily.

[2016-02-16 02:10] cpojer commented on #707
The problem was having multiple keyMirror.js files in various other npm modules, and node-haste picks them all up (at random). #599 will solve this and be merged today. In the meantime I recommend unmocking everything that also depends on keyMirror.js:

Here is a copy of our conversation on the chat:
![Imgur](http://i.imgur.com/gGFpObi.png)

[2016-02-17 04:04] cpojer commented on #116
Ok, this should finally be fixed in Jest 0.9. Sorry that this took so long but there was some clowniness in Jest :)

See https://github.com/facebook/react/pull/6052 on how the React tests themselves were sped up. If you'd like to try this improvement, check out the comments in #599. It is currently tagged as `jest@next` until to see if there are any bugs that people in open source might encounter.

[2016-02-17 04:04] #116 closed

[2016-02-17 04:05] cpojer commented on #465
Finally fixed: https://github.com/facebook/react/pull/6052

[2016-02-17 04:05] #465 closed

[2016-02-17 04:07] cpojer commented on #186
The performance problems were fixed with #599.

To answer your question (and sorry I never saw this issue before :) ), jest gives you test isolation. It resets the module registry on every call to `it` to make sure you get a fresh environment. You can require React either on the top level (once) or inside of your beforeEach calls (for every test).

[2016-02-17 04:07] #186 closed

[2016-02-17 04:07] cpojer commented on #691
This should be resolved with #599. Give it a try!

[2016-02-17 04:07] #691 closed

[2016-02-17 04:08] cpojer commented on #609
@hgezim would you mind retrying with jest@next (0.9.0-fb1) and reporting whether it resolves your issue?

[2016-02-17 04:09] cpojer commented on #629
this should work now.

[2016-02-17 04:09] #629 closed

[2016-02-17 04:10] cpojer commented on #381
This work was completed in #599. Yay!

[2016-02-17 04:10] #381 closed

[2016-02-17 10:23] cpojer commented on #176
`testPathDirs` is meant to limit the places Jest looks both for all modules and all tests. It is improperly named and I'm planning on changing this configuration option soon. This issue isn't really actionable. I'll provide a new matcher against tests and simplify the testPathDirs configuration option.

[2016-02-17 10:23] #176 closed

[2016-02-17 10:25] cpojer commented on #147
Please post questions on StackOverflow only.

[2016-02-17 10:25] #147 closed

[2016-02-17 10:26] cpojer commented on #151
This shouldn't be an issue any more. Please feel free to reopen with a concrete example against jest 0.8 or 0.9.

[2016-02-17 10:26] #151 closed

[2016-02-17 10:27] cpojer commented on #195
There is a `moduleNameMapper` option now that is made for this use-case. It should work well in the 0.9 release of Jest.

[2016-02-17 10:27] #195 closed

[2016-02-17 10:28] cpojer commented on #155
This shouldn't be an issue with jest 0.9 any more. Let me know if this still comes up and I'll re-open and take a look.

[2016-02-17 10:28] #155 closed

[2016-02-17 10:28] #136 closed

[2016-02-17 10:30] cpojer commented on #319
Please ask questions on Stackoverflow. There are now many React testing solutions available.

[2016-02-17 10:30] #319 closed

[2016-02-17 10:31] cpojer commented on #306
I recommend unmocking reflux by default by putting it into the `unmockedModulePathPatterns`.

[2016-02-17 10:31] #306 closed

[2016-02-17 10:32] cpojer commented on #301
this was fixed.

[2016-02-17 10:32] #301 closed

[2016-02-17 10:32] cpojer commented on #300
I'm going to close this. I don't consider CS actively supported from us at FB and we'll rely on external contributions for future support of it in Jest. That being said, it shouldn't be a big deal for someone else to figure this out :)

[2016-02-17 10:32] #300 closed

[2016-02-17 10:34] cpojer commented on #304
I'd like to fix this if it is still causing trouble for people. Can someone provide me a proper repro against jest 0.8 or 0.9?

[2016-02-17 10:37] cpojer commented on #256
Yes! Check out the `testRunner` config option and the jasmine2 integration here: https://github.com/facebook/jest/blob/master/src/testRunners/jasmine/jasmine2.js

[2016-02-17 10:37] #256 closed

[2016-02-17 10:38] cpojer commented on #238
This will be fixed by #713 in 0.9.0 so I'm closing this issue out.

[2016-02-17 10:38] #238 closed

[2016-02-17 11:13] SomniumDigital commented on #116
`npm install jest-cli@next` if you want to run this new version (rather than jest@next @cpojer)

[2016-02-17 12:33] cpojer commented on #116
oh yeah, I always make this mistake :) I edited my original comment.

[2016-02-17 14:27] anggao commented on #17
+1

[2016-02-17 21:53] hgezim commented on #609
Hi @cpojer, can't confirm if it's fixed. Getting an error for my use of JSX in the test file. Probably `babel-jest` is not compatible with latest `jest`?!

[code]

[2016-02-17 22:19] kassens opened #714 "0.9.0-fb1 fails to run on Travis-CI"
I updated a simple project from 0.8.2 to 0.9.0-fb1 (facebook/react-devtools#326) and found that jest no longer successfully runs on Travis-CI. Since the setup there seems pretty standard this seems like something worth fixing in jest directly.

The cause seems to be that the file system watcher watches too many files ([relevant stack overflow answer](http://stackoverflow.com/a/32600959/593684)).

[2016-02-18 00:45] cpojer commented on #632
Fixed by 0.9.0.

[2016-02-18 00:45] #632 closed

[2016-02-18 02:03] cpojer commented on #714
I guess it makes sense to disable `watchman` on travis. Can you test whether calling Jest with `--no-watchman` solves this issue? If yes, I can add this to jest.

[2016-02-18 06:03] #572 closed

[2016-02-18 06:25] ivantsov opened #715 "0.9.0-fb1 can't find tests"
I just updated jest-cli from 0.8.2 to 0.9.0-fb1 and after that got this:
`No tests found for "". Regex used while searching: /.*/.`

I have the following config for jest:
[code]

Unfortunately, I didn't manage identify where is the problem...

[2016-02-18 06:26] cpojer commented on #715
Can you share a repro so I can take a look into this? Which OS are you using? Do you have watchman installed?

[2016-02-18 06:31] cpojer commented on #609
That seems unrelated to the 0.9 update and is likely also happening on 0.8 then? You can also try --no-cache.

[2016-02-18 06:31] cpojer commented on #652
I think it is enough to set this on a per-test level. This already works. If you need it in every test you can set it in the setup-env file.

[2016-02-18 06:31] #652 closed

[2016-02-18 06:32] cpojer commented on #654
This should definitely be fixed with #599.

[2016-02-18 06:32] #654 closed

[2016-02-18 06:32] #660 closed

[2016-02-18 06:33] cpojer commented on #665
This should work using `jest@next`, fixed in #599.

[2016-02-18 06:33] cpojer commented on #676
Yeah I think this is unrelated to Jest. Either an istanbul or a babel issue, I'm afraid.

[2016-02-18 06:33] #676 closed

[2016-02-18 06:35] cpojer commented on #677
Feel free to send a pull request to add support for this in jest. I'm unlikely going to get to this and will close this issue to better keep track of things we'll be focusing on.

[2016-02-18 06:35] #677 closed

[2016-02-18 06:36] ivantsov commented on #715
HI @cpojer, it's a company project that's why I can't share it... Maybe later I'll make a public repo to reproduce the issue.

I'm using Windows 10 and I didn't install watchman separately, just ran `npm i jest-cli@next`. Should I install watchman?

[2016-02-18 06:36] cpojer commented on #681
Fixed in #599 in `jest-cli@next`.

[2016-02-18 06:36] #681 closed

[2016-02-18 06:37] cpojer commented on #715
I think the problem is Windows. Right now there is some issue with file paths on windows in the 0.9 branch unfortunately. If you have some time it would be fantastic if you could dig in and send a PR! I currently don't have access to a windows machine and your help would be greatly appreciated and would mean 0.9.0 will be released much faster :)

[2016-02-18 06:38] cpojer commented on #686
Can you retry this with `jest-cli@next`? :)

[2016-02-18 06:39] #695 closed

[2016-02-18 06:43] ivantsov commented on #715
Oh, I see. I'll dig in and try to fix it (not soon :( ). Nevertheless, thank you for the feedback!

[2016-02-18 06:44] cpojer commented on #715
This is the only remaining blocker for tagging jest 0.9 and is why I tagged it as `fb-1` – it's mostly internal :) Any help is greatly appreciated!

[2016-02-18 06:45] #672 closed

[2016-02-18 06:45] #612 closed

[2016-02-18 19:26] hgezim opened #717 "Setting window.navigator breaks tests"
In `package.json` I have this:

[code]

In `prepare.js`, I added this line:

`window.navigator = {userAgent: "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2454.85 Safari/537.36"};`

Now, I get errors like this:

[code]

I also tried setting `navigator` in [config.globals](https://facebook.github.io/jest/docs/api.html#config-globals-object) but I get a simi

[2016-02-18 22:31] blainekasten opened #718 "0.9.0-fb1 naming collision"
Super pumped 0.9 is almost here!

I tried to test it out today and was getting some strange errors that I'm not sure if there is a bug here or a config issue.

Here is the error I am getting:

<img width="1401" alt="screen shot 2016-02-18 at 4 29 59 pm" src="https://cloud.githubusercontent.com/assets/2916023/13160406/e3465d86-d65c-11e5-911f-23353a81f2d2.png">

I can give other details if you need,

[2016-02-18 23:33] yaycmyk commented on #714
Why is it watching files at all on a normal run?

[2016-02-18 23:44] yaycmyk opened #719 "0.8.x release with updated Istanbul?"
I know 0.9.x is still in testing, but would it be possible to cut a 0.8.3 with the updated Istanbul dependency in the meantime? There are some important bugfixes in `istanbul@0.4.1` in particular

[2016-02-19 00:09] cpojer commented on #719
I'm afraid I won't have time to do this myself right now. If you can make a branch from https://github.com/facebook/jest/tree/3931bb0e377cfbb6f08f041a3f98b488e79a6867, update the dependencies and package.json and let me know which branch it is on your fork, I can pull it in and tag it no problem :) You can also fork jest at that point in time and set the dependency of your jest-cli package to `git

[2016-02-19 00:16] yaycmyk commented on #719
@cpojer Here you go: https://github.com/yaycmyk/jest/tree/0.8.3

[2016-02-19 01:47] cpojer commented on #718
Do they both have an `@providesModule` header with the same name?

[2016-02-19 01:53] blainekasten commented on #718
Holy cow. They do. I never would derive that to be my issue by that error. Is that the only way that error message is caused? If so, it might be useful to explain that in the error.

[2016-02-19 01:55] cpojer commented on #718
Yeah, that is the only reason. Previously in node-haste1 you'd only get one of these files in your tests and you might have been thoroughly confused in the past! :)

Would you like to send a PR to node-haste to improve the error message, printing the `name` and that it is related to `@providesModule`? See https://github.com/facebook/node-haste/blob/master/src/DependencyGraph/HasteMap.js#L133 :)

[2016-02-19 02:02] irudoy opened #722 "0.9.0-fb2 slow tests with jest.runCLI() via Gulp"
I'm running tests with jest.runCLI() via Gulp, and it still takes a lot of time. Also, when tests have been passed, gulp task doesn't exit and loading CPU at 80%. If I run it with npm test, all is ok.

Example:
https://github.com/irudoy/jest/tree/master/examples/gulp

[2016-02-19 02:09] cpojer commented on #722
Thanks! Do you have any ideas as to why this might be happening or could you help troubleshooting this a bit? :)

[2016-02-19 02:19] irudoy commented on #722
I'm trying to find it out. Have you tried to reproduce this?

[2016-02-19 02:20] blainekasten commented on #718
https://github.com/facebook/node-haste/pull/37

[2016-02-19 02:29] irudoy commented on #722
Cache dir listings:

`$ gulp test`
[code]
`$ npm test`
[code]

[2016-02-19 02:38] yaycmyk commented on #722
I have also noticed that the process doesn't quit when the tests are finished with fb1.

[2016-02-19 02:50] cpojer commented on #722
@yaycmyk What happens when you comment out this part: https://github.com/facebook/jest/blob/master/src/resolvers/HasteResolver.js#L117 ?

[2016-02-19 03:26] cpojer commented on #722
Ah yeah, the process quit issue, we figured it out and I'll publish fb2 soon.

[2016-02-19 03:27] irudoy commented on #722
👍

[2016-02-19 07:10] cpojer commented on #718
Fixed in 0.9.0-fb2, going out in a bit.

[2016-02-19 07:10] #718 closed

[2016-02-19 09:23] cpojer commented on #719
Hm, I thought about this some more and I'm all in with 0.9 right now and I'm worried that tagging this reveals some other problems of things that happened since the 0.8.2 tag. I think it makes sense to do what I said and link to your specific commit hash in the package.json of your project.

I was also thinking of whether it makes sense to be able provide your own version of jsdom. Basically a con

[2016-02-19 09:23] #719 closed

[2016-02-19 09:24] cpojer commented on #719
I also wanna say I'm trying to make the 0.9 release really awesome and am spread a bit thin trying to accomplish that and maintaining our internal test infra at FB right now – so I'm mostly just worried that tagging 0.8.3 would be a distraction, I hope that is understandable :)

[2016-02-19 09:28] cpojer commented on #714
I'm gonna close this, let's try 0.9.0-fb2 and reopen if it is still a problem.

[2016-02-19 09:28] #714 closed

[2016-02-19 09:29] cpojer commented on #722
I'm pretty sure this is resolved with fb2. Can you try and let me know if it is still an issue? If you are using watchman, try `--no-watchman` if it doesn't work, to double check :) Let's reopen if this still repros.

[2016-02-19 12:33] ivantsov commented on #715
Hi @cpojer. I investigated the problem and this is what I found:
Jest uses `process.cwd()` to replace `<rootDir>` (e.g. **D:\**Dir\project). But in `node-haste/crawler/node.js` jest uses `fast-path` package and `join` method of this package returns  **d:\**Dir\project\file.js
Jest can't match this two different strings and show "no tests..." message.

[2016-02-19 12:58] eddie11n commented on #230
+1

[2016-02-19 13:30] yaycmyk commented on #719
Conceptually i like the idea, but it might be a little tricky since a future JSDOM update may change the API and swapping out versions would then not be trivial without editing the JSDOM environment file, etc.

Sent via mobile. Please excuse brevity / typos.

[2016-02-19 13:33] cpojer commented on #230
@kentaromuria this might be a good ask to look into to get started with Jest! Absolutely agree we should make this better soon.

[2016-02-19 14:14] irudoy commented on #722
Process is quitting now :)
But, this issue seems to be actual:

This example is very simple, and difference is minor:
https://github.com/irudoy/jest/tree/master/examples/gulp
One test takes ~0.7s with `jest.runCLI()` and ~0.5s with `npm test`.

But on my real world project, each test takes ~10-12s with `jest.runCLI()` and ~0.7-1.2s with `npm test`.

[2016-02-19 17:20] blainekasten opened #726 "0.9.0-fb1 HasteModuleLoader: cannot find react"
Yo,

So I have jest working with tests that don't include react. Oddly enough, any test that uses react errors with this error:

<img width="904" alt="screen shot 2016-02-19 at 11 15 08 am" src="https://cloud.githubusercontent.com/assets/2916023/13183083/b7ba76ea-d6fa-11e5-80d9-d7f443912f62.png">

Here is my current package.json

[code]

[2016-02-19 17:22] blainekasten commented on #726
It seems weird that it is hitting `Loader._shouldMock` when it is in the `unmockedModulePathPatterns`

[2016-02-19 17:27] blainekasten commented on #726
I think I found the issue, just not sure what is causing it yet.

in `Loader._shouldMock` it is being provided these as the arguments:

[code]

It makes sense that it couldn't find react in that path as it is located at `videochrome/node_modules/react`

[2016-02-19 17:50] blainekasten commented on #726
Eff me. It's actually that react wasn't installed. bye

[2016-02-19 17:50] #726 closed

[2016-02-19 22:49] cpojer commented on #726
lol.

[2016-02-19 23:45] irudoy commented on #722
@cpojer reopen pls

[2016-02-19 23:46] cpojer commented on #722
I'm afraid without a proper repro case I can't do much. The 200ms in the example is probably just variance.

[2016-02-19 23:49] irudoy commented on #722
@cpojer do you know any big project with a lot of tests using Jest, in which we could check this?

[2016-02-19 23:49] cpojer commented on #722
https://github.com/facebook/relay is a good benchmark.

[2016-02-19 23:51] irudoy commented on #722
@cpojer thnx, i'll try this

[2016-02-20 00:49] irudoy commented on #722
https://github.com/irudoy/relay/tree/gulp-jest-test

`npm test` ~25-26s
`gulp test` (`jest.runCLI()`) ~56-60s

@cpojer

[2016-02-20 00:50] cpojer commented on #722
thank you so much for making a repro! I'll take a look after the weekend. Would you mind telling me the difference between those two commands on your personal projects with 0.8.2? Were they both at the same (slow! :D ) speed?

[2016-02-20 00:51] cpojer commented on #719
There is already and experimental setting that you can use to include your own environment for your tests :)

[2016-02-20 01:18] irudoy commented on #722
@cpojer hmm, `npm test` is a little bit faster, than `jest.runCLI()` @0.8.2 with warm cache. It seems that `jest.runCLI()` does not use a cache at all

[2016-02-20 21:43] ColCh opened #728 "Missing stack traces for errors"
## TypeError, jasmine 1
Launched with:
[code]
Source:
[code]
Output:
[code]
## TypeError, jasmine 2
Command:
[code]
Source is the same.
Output:
[code]

## TypeError, jasmine 1, verbose
Command:
[code]
Output:
[code]

`Error.stack` is exist:
For this source:
[code]
Output is:
[code]

[2016-02-20 22:00] ColCh commented on #728
# Update

Using `jest-cli@next`, same source:

[code]

Yeah this satisfies me. Closing issue now and using bleeding edge `next` version :+1:

[2016-02-20 22:00] #728 closed

[2016-02-21 00:26] cpojer commented on #728
glad this is resolved! This bug was haunting me :)

[2016-02-21 00:37] cpojer opened #729 "Fix mocks pattern to work on Windows before 0.9.0 release."
cc @yaycmyk

[2016-02-21 14:59] Kureev opened #730 "Unsupported node version"
Hi @cpojer!

I'm trying to migrate our `rnpm` tests to Jest, but I have a weird exception here:
[code]

Looks like if I use `mock-fs` from Jest tests, `semver.satisfies` returns `undefined`(???). If I run the same code from REPL, it works.

[2016-02-21 15:30] Kureev commented on #730
Well, looks like `jest.autoMockOff();` solves the problem, **but** if I use `jest.dontMock('mock-fs');` it doesn't. What I miss here?

[2016-02-21 21:21] Kureev opened #731 "Missing mocking functionality for path (module) which doesn't exist"
While migrating `rnpm` to Jest I encountered an issue with mocking paths which are not exist. Basically, I have a module which scans a dir, based on the `package.json`'s content (`dependencies` and `devDependencies`). If I use `jest.setMock('name-of-module-which-doesnt-exist', stubObject)` then I get a message that module I'm trying to mock doesn't exist. So, I had to use `mock-require` to polyfil

[2016-02-22 00:18] cpojer commented on #730
Hey! Are you using npm3? That might be it. I'm fixing this for the final 0.9.0 release.

[2016-02-22 00:36] Kureev commented on #730
Yep, `3.6.0`. Let me know if I can assist with this one (or if you need more input from my side) :wink:

[2016-02-22 02:12] cpojer commented on #731
Someone else has asked about this before. I'm a little unsure how much sense it makes for `setMock` to mock something that doesn't exist. Why exactly do you need this behavior?

I think I wouldn't be opposed to merging such a change, however. It has to include tests though ;)

[2016-02-22 02:15] cpojer commented on #730
If you could try whether #732 solves your issue, that would be fantastic. I believe it does, so I'm gonna close out this issue but if it doesn't, I'll reopen and fix it :)

[2016-02-22 02:15] #730 closed

[2016-02-22 02:16] cpojer commented on #554
Will be fixed in 0.9.0. I'll publish a new version of `jest-cli@next` that solves this problem.

[2016-02-22 02:16] #554 closed

[2016-02-22 02:22] Kureev commented on #731
Well, my use case is pretty simple. In `rnpm` we're working with react-native projects (looking for manifest files, settings.gradle, build.gradle etc). Sometimes, paths we're looking for depends by some configs. For instance, we're using application's `dependencies` and `devDependencies` to compose a list of native modules we need to link. If `rnpm` installed globally, we need to look in one folde

[2016-02-22 02:24] cpojer commented on #731
I recommend upgrading to `jest-cli@next` because it'll make your test runs way faster :)

I think what you are saying makes sense. Do you wanna cook up a PR? :)

[2016-02-22 02:33] Kureev commented on #731
Yep, I'll try to take a look tomorrow :+1:

[2016-02-22 05:11] cpojer commented on #705
I don't really know how npm works on windows but `npm install jest-cli` should create a symlink in `node_modules/.bin/jest` that you can use to run your scripts. If this doesn't work, your setup might be broken.

This issue seems unrelated to Jest, so I'm going to close it.

[2016-02-22 05:11] #705 closed

[2016-02-22 05:12] cpojer commented on #717
What happens when you do this:

[code]

?

[2016-02-22 11:45] hmeerlo opened #734 "No error output"
Hi,

I'm trying to use Jest but I can not get any output as to why my test is failing. All I get is this:

[code]

I would expect at least a stack trace or something. I use Jest 0.8.2 with babel-jest and jest-webpack-alias.

[2016-02-22 11:58] cpojer commented on #734
Can you try `jest-cli@next`? This bug should be fixed in the next release! And it's also much faster.

[2016-02-22 11:58] cpojer commented on #734
(Let me know if this is not fixed and I'll reopen this issue :) ).

[2016-02-22 11:58] #734 closed

[2016-02-22 12:02] hmeerlo commented on #734
@cpojer  Yes, that fixed it. Thanx for the quick reply.

[2016-02-23 05:05] cpojer commented on #26
This should be possible by providing the `testEnvironment_EXPERIMENTAL` config option. I'm going to close this because it isn't on Jest's roadmap but I will most certainly welcome contributions to Jest around this. See the JSDOMEnvironment and NodeEnvironment for examples.

[2016-02-23 05:05] #26 closed

[2016-02-23 05:29] cpojer commented on #175
cc @kentaromiura this might be good to do too? :)

[2016-02-23 05:30] cpojer commented on #706
Since I guess we are still supporting jasmine1, we should keep the `jest.addMatchers` API around and just make it work for jasmine2, fixed here 2d10421baf79081ce698791023360144fb595a27

[2016-02-24 01:02] steinbachr commented on #116
@cpojer after upgrading using `npm install jest-cli@next` I'm having problems specifying `dontMock`. By which I mean, before the update (using jest@0.8.2) this line works properly:

`jest.dontMock('../../../../fixtures');`

then after the update to 0.9.0, the same call results in the module being mocked

[2016-02-24 01:34] cpojer commented on #116
@steinbachr that should probably go into a separate issue. Would be great if you could provide a repro, haven't seen this issue come up at FB!

[2016-02-24 02:11] steinbachr opened #739 "After upgrading to Jest 0.9.0, having problems with dontMock"
Having a (currently) very limited test suite, we have a single test file. In that file we specify a dontMock like so:

`jest.dontMock('../../../../fixtures');`

Using `jest-cli@0.8.2`, the dontMock works properly and the exports provided by `fixtures.js` are available. However, upon upgrade to `jest-cli@next` the dontMock stopped working. Some additional notes below:

1) We use [grunt-jest](https:

[2016-02-24 02:11] steinbachr commented on #116
thanks @cpojer, issue created [here](https://github.com/facebook/jest/issues/739)

[2016-02-24 02:12] cpojer commented on #739
Would it be possible to provide an isolated test case? Otherwise I'm unsure how to repro this :(

[2016-02-24 18:42] abobwhite commented on #207
I am also looking for a solution to this. However, I am using straight Jasmine, not Jest.

[2016-02-24 20:42] steinbachr commented on #739
sure, will try and create an isolated example sometime this week

[2016-02-25 06:45] cpojer commented on #693
This will be fixed in #741.

[2016-02-25 06:45] #693 closed

[2016-02-25 06:45] cpojer commented on #686
This should be fixed in the next version.

[2016-02-25 06:45] #686 closed

[2016-02-25 06:45] cpojer commented on #683
I'm going to update all the docs and examples for the 0.9.0 release!

[2016-02-25 06:45] #683 closed

[2016-02-25 06:47] cpojer commented on #275
This shouldn't be an issue any more with Jest 0.9.0.

[2016-02-25 06:47] #275 closed

[2016-02-25 06:48] cpojer commented on #297
Fixed in #741 for 0.9.0.

[2016-02-25 06:48] #297 closed

[2016-02-25 06:49] cpojer commented on #241
We added a message for 0.9.0.

[2016-02-25 06:49] #241 closed

[2016-02-25 07:18] cpojer commented on #722
Hey @irudoy would you mind sharing what the runtime of `jest.runCLI` is on 0.8.2? If it's the same as with 0.9.0, then I'll go ahead and publish 0.9.0 and fix this bug as a follow-up patch release. Trying to get 0.9.0 out of the door first :) If you have some time to investigate why this happens yourself, that would be fantastic too. As you mentioned, it does seem like for some reason it isn't bei

[2016-02-26 13:35] ColCh opened #749 "[v0.9.0-fb3] Jest collects coverage from tests"
May be, *exclude from coverage* feature?

This is how it looks like:
[code]

I think, `config.testDirectoryName` (`__tests__` by default) directory should be excluded from coverage

[2016-02-26 18:26] carlospliego commented on #707
using 2.14.12 I get the same error...

[2016-02-26 22:00] cpojer commented on #707
This is fixed in jest-cli@0.9.0-fb3, at last :)

[2016-02-28 03:51] larubbio opened #753 "Issues with async tests using 0.8.2"
This issue is similar to #671 however I believe I am using the native promise.

Given this test:

[code]

I get the following output

[code]

my package.json deps:

[code]

[2016-02-28 12:35] johannesspohr opened #754 "ReferenceError: _normalizr is not defined"
I'm running a test in a react-native environment, which utilizes also normalizr. So I have the test file
[code]
and the schema file (api/schema)
[code]

Now running that with jest 0.8.2. and node 5.6.0 gives the ReferenceError in the description. Am i doing anything wrong or is this an issue?

[2016-02-29 03:24] larubbio commented on #753
I'm using react-native and facebook/react-native#6104 might be the issue I'm running into.

[2016-02-29 13:20] Hubrus opened #756 "[v0.9.0-fb3] Running a particular test file fails on Windows"
Calling `jest path/to/file.test.js` from command line gives `No tests found for path/to/file.test.js`
Tried also with `/path/to/file.test.js` or `./path/to/file.test.js` + same combinations but with backslashes - same result.
Calling `jest` without any args runs all the tests as expected.

[2016-02-29 14:50] yaycmyk commented on #756
Well, that's not a valid windows path.

[2016-02-29 16:32] Hubrus commented on #756
Tried all the possible combinations: `/path`, `\path`, `./path`, `.\path`. Even absolute path like `D:\path\to\file.test.js`. Still getting `No tests found for D:\path\to\file.test.js`

[2016-03-01 00:29] cpojer commented on #754
This should be fixed with jest 0.9.0-fb3 (`jest-cli@next`). It isn't officially tagged as 0.9 yet but you can try it out. Also add `babel-preset-jest` to your transforms and check out the new `examples/react` folder here: https://github.com/facebook/jest/tree/master/examples/react. With these new features applied, change your `jest.dontMock()` calls to `jest.unmock` and it should work.

Let me kno

[2016-03-01 00:29] #754 closed

[2016-03-02 23:23] #729 closed

[2016-03-02 23:24] cpojer commented on #715
Should be fixed after all the work by @yaycmyk

[2016-03-02 23:24] #715 closed

[2016-03-02 23:25] cpojer commented on #756
@yaycmyk would you mind taking a look at this? Seems like the remaining code blocker (besides documentation and all :) ).

[2016-03-02 23:28] cpojer commented on #749
You are right, we probably don't need to run coverage on test files. Fixed in #759.

[2016-03-02 23:50] #749 closed

[2016-03-03 01:08] cpojer commented on #710
I think I'm going to remove it from the docs for now until someone will help integrate it better in 0.9. Thanks for pointing this out.

[2016-03-03 01:08] #710 closed

[2016-03-03 01:10] cpojer commented on #216
This will be fixed in 0.9.0. You can try it with `jest-cli@next` already. Otherwise I recommend unmocking it using `unmockedModulePathPatterns`.

[2016-03-03 01:10] #216 closed

[2016-03-03 05:17] cowfox opened #762 "[0.8.2] Get `SyntaxError` when trying to "require" an static image"
In the code, I use `require()` to load some static image:
[code]

And when running `jest` it returns the following error:

[code]

It seems that it cannot do "mock" on the static image. Do I need to do something in order to mock it?

----

For the **jest** config, I follow the recommended settings on [https://facebook.github.io/react-native/docs/testing.htm](https://facebook.github.io/react-native

[2016-03-03 05:19] cpojer commented on #762
Check out https://github.com/facebook/react-native/blob/master/package.json#L16-L19 and https://github.com/facebook/react-native/blob/master/Libraries/Image/GlobalImageStub.js on how to set this up.

[2016-03-03 05:19] #762 closed

[2016-03-03 08:26] cpojer commented on #702
This will be fixed in jest 0.9.0 with the new `babel-preset-jest` and `babel-jest` integration. See https://github.com/facebook/jest/tree/master/examples/react for how this will work.

[2016-03-03 08:26] #702 closed

[2016-03-03 08:27] cpojer commented on #658
See #763.

Feel free to help add more documentation after that PR merges :)

[2016-03-03 08:27] #658 closed

[2016-03-03 08:28] cpojer commented on #661
duplicate of #717.

[2016-03-03 08:28] #661 closed

[2016-03-03 08:28] cpojer commented on #717
This workaround should work.

[2016-03-03 08:28] #717 closed

[2016-03-03 08:30] cpojer commented on #678
The error message will link to http://facebook.github.io/jest/docs/manual-mocks.html#content in 0.9.0. Some modules use meta programming and can't properly be mocked. The guide should have examples on how to work around it.

Jest 0.9.0 also has better mocking capabilities, so this issue might go away for your modules.

[2016-03-03 08:30] #678 closed

[2016-03-03 08:31] #594 closed

[2016-03-03 08:32] cpojer commented on #609
Please let me know if this is still a problem with `jest-cli@next` and I will reopen and investigate.

[2016-03-03 08:32] #609 closed

[2016-03-03 08:33] cpojer commented on #524
I'll close this in favor of #649, which has some concrete examples on what this could look like :)

[2016-03-03 08:33] #524 closed

[2016-03-03 08:37] cpojer commented on #471
The documentation for this is going to be vastly improved with Jest 0.9.0, so I'm going to close out this issue. Some modules simply cannot be mocked properly because of the meta-programming they do.

I'm quite convinced in your example you either used npm3 or you deduped your npm2 dependencies, causing `ansi-regex` to be mocked. This will be fixed in 0.9.0 as well, so the original issue doesn't a

[2016-03-03 08:37] #471 closed

[2016-03-03 08:38] cpojer commented on #433
This should be fixed in 0.9.0, currently as alpha release tagged with `jest-cli@next`. Let me know if this still doesn't work and I will reopen this issue.

[2016-03-03 08:41] cpojer commented on #434
Cloning here would be too expensive for performance. I understand this is an issue but the side-effect in your function is probably not something you'd want in your application anyway, I'll assume? While I do not know what your application is doing, shallow copying the object in your function `Object.assign({}, obj)` is probably reasonable.

[2016-03-03 08:41] #434 closed

[2016-03-03 08:42] cpojer commented on #365
This is currently being done using `testPathDirs`, which unfortunately has a misleading name but allows to include modules and test files.

[2016-03-03 08:42] #365 closed

[2016-03-03 08:43] cpojer commented on #336
I'm going to assume that this should probably work with babel. I'm going to close this as babel has a `retainLines` option that we are using in `babel-jest` and at FB we are currently unlikely to use another compile-to-JS language that needs this feature. Is there a reason why you'd want source maps if you know the exact line number of when something is failing?

I also appreciate contributions to

[2016-03-03 08:43] #336 closed

[2016-03-03 08:45] cpojer commented on #388
I think this is currently not really feasible so I'm going to close this out. If you feel strongly and would like to work on this, I'd be happy to support you all the way and give useful pointers (and will obviously reopen this issue).

In the future we'll probably add a `deepUnmock` feature to unmock a module recursively, which should help with this as well.

[2016-03-03 08:45] #388 closed

[2016-03-03 08:47] cpojer commented on #310
This should be resolved with 0.9.0 which is being released soon.

[2016-03-03 08:47] #310 closed

[2016-03-03 08:48] cpojer commented on #269
I think this is outdated and without a repro I can't do much here.

[2016-03-03 08:48] #269 closed

[2016-03-03 08:49] cpojer commented on #143
This is probably not going to be worked on by Facebook unless we are going to receive a community contribution. Might be fixed in `0.9.0` actually.

[2016-03-03 08:49] #143 closed

[2016-03-03 08:50] cpojer commented on #109
You can add this using `jest.addMatchers` and custom Jasmine matchers yourself, see jasmine.github.io/2.0/custom_matcher.html :)

Feel free to publish it as a jest extension and I'll mention it on the website.

[2016-03-03 08:50] #109 closed

[2016-03-03 08:51] cpojer commented on #90
See my last comment in #471. The documentation is also improved in #763.

[2016-03-03 08:51] #90 closed

[2016-03-03 08:53] cpojer commented on #77
This shouldn't be a problem any longer. `jest.mock()` or `jest.unmock()` should work properly with jest 0.9.0.

[2016-03-03 08:53] #77 closed

[2016-03-03 08:54] cpojer commented on #106
Core modules are now being unmocked by default, so this shouldn't be an issue any longer.

[2016-03-03 08:54] #106 closed

[2016-03-03 08:54] cpojer commented on #100
`unmockedModulePathPatterns` will only work with absolute paths or partial path patterns, but no relative paths. This is by design and will most likely not be changed.

[2016-03-03 08:54] #100 closed

[2016-03-03 08:55] cpojer commented on #5
We'll converge on `toBeCalled` and make it work for spies, cc @kentaromiura.

[2016-03-03 08:56] cpojer commented on #66
This should not be an issue any more with `jest 0.7+`.

[2016-03-03 08:56] #66 closed

[2016-03-03 08:56] cpojer commented on #72
I'm going to assume this issue has resolved itself in the last few minor versions.

[2016-03-03 08:56] #72 closed

[2016-03-03 08:57] cpojer commented on #182
Seems resolved.

[2016-03-03 08:57] #182 closed

[2016-03-03 08:58] #270 closed

[2016-03-03 08:59] cpojer commented on #511
We added this for `0.9.0`.

[2016-03-03 08:59] #511 closed

[2016-03-03 09:07] cpojer commented on #670
Sorry for not getting back to you earlier but this issue should be resolved in jest 0.9.0. I think you might have been using npm3 or deduped some npm2 dependencies because your repro passes just fine for me. See #554  #732 #737

Let me know if this is not fixed when using `jest-cli@next` and I will reopen and investigate again.

[2016-03-03 09:07] #670 closed

[2016-03-03 09:10] cpojer commented on #694
Yes, you cannot use `jest.autoMockOff` before an `import` statement because the `import` is being hoisted above all other code as per the ES2015 spec. Using `require` is the correct workaround here.

In Jest 0.9.0 you'll be able to set `automock` to `false` in the config. Another solution is to create a setup file with `jest.autoMockOff()` because that will run before the test file :)

[2016-03-03 09:10] #694 closed

[2016-03-03 19:27] jimfb commented on #429
@cpojer, In #434 as a reason for closing the issue, you said:

I don't think you need to clone, just generate the string representation at `expect` time, for use in the error message when it gets printed.  It shouldn't be that expensive (said without knowing the internals).  Having code that mutates (especially adding to a list) is pretty damn common.  And when you're debugging, this error is extr

[2016-03-04 06:28] mc-zone opened #764 "How to reset/replace mock for dependency modules dynamically ?"
Say there are some modules as following:
[code]
[code]

Then I want to replace `config` dynamically in the test:
[code]
But it looks like all the reference of `config` has be changed , and made noise to the previous test in the result:
[code]

So how to do this?

[2016-03-04 17:14] z-ax commented on #200
Any news on this? Very important feature to see the real coverage without hardcoding lists of files or workarounds.

[2016-03-04 17:42] cpojer commented on #764
try this:

[code]

In your example you required app, which then requires config and it keeps it there. You later set the mock for config which will only work for subsequent requires. To illustrate, here is a simplified example:

[code]

[2016-03-04 17:42] #764 closed

[2016-03-05 01:04] AdamKyle opened #770 "Babel Jest Not Being used."
Seems the Babel-Jest Project hasn't been touched in 4 months so Ill post this issue here.

Consider the following code:

[code]
Consider the following test:

[code]

Now consider the following package.json:

[code]

And the .babel-rc

[code]

Finally the result from the test:

[code]

Not sure how import is an unexpected token, also if you notice, babel-jest isnt being used in the compile step: `U

[2016-03-05 01:06] cpojer commented on #770
I literally just pushed an update that makes all of this better. I deprecated https://github.com/babel/babel-jest (and just pushed the README change, thanks for reminding me!) because it moved into this repository.

Update to 0.9.0 and babel-jest 9.0.0 and it should be good. Switch the `dontMock` to `unmock` too! The website received a huge update with all the new info: facebook.github.io/jest/ –

[2016-03-05 01:06] #770 closed

[2016-03-05 01:18] AdamKyle commented on #770
There is no 9.0.0 of babel jest just 6.0.1 ... When did you do this update?

[2016-03-05 01:22] AdamKyle commented on #770
@cpojer I updated everything as per the new getting started docs but now when I run the tests, same code as above:

[code]

How is import not a thing, also why isnt babel-jest being used?

[2016-03-05 04:10] cpojer commented on #770
`babel-jest` is auto-detected now and 9.0 is on npm: https://www.npmjs.com/package/babel-jest

I'm unsure what's going on. Can you paste your `jest` config from your `package.json` file? If you clone the jest repository and go into `examples/react` ( https://github.com/facebook/jest/tree/master/examples/react ) you can see how it is supposed to work. babel-jest and jest-cli are installed alongside

[2016-03-05 15:32] ms88privat commented on #770
@cpojer I have kinda the same problem. Trying to write unit tests for react native.

I use this script in package.json
http://facebook.github.io/react-native/docs/testing.html#content

My test test case:
[code]

cool.js:
[code]

console output:
[code]

I don't understand why the function gets mocked? (unmock doesn't work too)

When I uncomment and try to import {sub}, I got a different error:
[cod

[2016-03-05 18:40] cpojer commented on #770
@AdamKyle would you mind posting your updated package.json?

@ms88privat would you mind also pasting your package.json?

Please make sure you are using `babel-jest 9.0.0`. Before this version, `unmock` will not work properly. This was published just a few hours ago (right around when this issue was created :) ).

I'm also planning to update the docs on react-native testing soon. @ms88privat thanks

[2016-03-05 20:15] AdamKyle opened #771 "Duplicate Package Issue"
Consider the following `package.json`:

[code]

When I run: `npm test` I am confronted with:

[code]

I do not understand the instructions at: [http://facebook.github.io/jest/docs/api.html#config-modulepathignorepatterns-array-string](http://facebook.github.io/jest/docs/api.html#config-modulepathignorepatterns-array-string) In order to understand what to do.

Is there a fix for this?

[2016-03-05 20:22] timReynolds commented on #771
I've been having a lot of issues with this today without any luck on understanding the issue. The issue seems related to having the same dependencies in different install paths. For the time being I've downgraded to 0.8.2 to resolve the issue.

Was wondering if this is related to npm v3? I know I've seen issues with auto mocking with the latest version before.

If you want a repo to test this on;

[2016-03-05 20:32] AdamKyle commented on #771
Unfortnelty I was having issues with 0.8.2 So 0.9.0 is the way for me. How ever this acorn stuff needs to be sorted out. Do you know how to black list a package in package.json ??? Is that even possible? Might be a quick fix.

[2016-03-05 20:40] timReynolds commented on #771
@AdamKyle you should be able to add it to the config like so;
[code]

I'm not sure what the side effects of this are however.

This error is actually generated by node-haste;
https://github.com/facebook/node-haste/blob/971393891676e825916f92cee9815335b3c46f14/src/DependencyGraph/HasteMap.js

From what I can see the logic has always been included in node-haste however

[2016-03-05 20:50] AdamKyle commented on #771
@timReynolds

The side effects are the following:

[code]

And yes that list just keeps growing ....

[2016-03-05 20:52] timReynolds commented on #771
Yea I stopped after about 5.

Turns out I made a few other changes to get mine running, see the last commit on this pull request;
https://github.com/timReynolds/react-library-boilerplate/pull/2 <https://github.com/timReynolds/react-library-boilerplate/pull/2>

Might help.

[2016-03-05 20:55] AdamKyle commented on #771
Well if you are interested, for me at least this finally worked:

[code]

The tests now run and pass ...

[2016-03-05 22:38] AdamKyle commented on #771
Just an update.

In order to get my tests working with travis ci node 4 and 5 this is my package.json

[code]

I hope this gets fided soon ...

[2016-03-05 22:50] cpojer commented on #771
Thanks for bringing this up, this should most certainly not be a problem and is something that should be fixed somewhere in https://github.com/facebook/node-haste

I'll take a closer look on Monday and fix this.

[2016-03-06 04:13] cpojer commented on #771
Ok, found the issue, it's in node-haste – 2.6.0 was just published a couple hours ago which breaks Jest completely and it's why you are running into this issue unfortunately. This wasn't present in 2.5.0. We'll work on a fix.

[2016-03-06 04:40] cpojer commented on #771
Alright, fix is here: https://github.com/facebook/node-haste/pull/50 – I'll tag 2.6.1 soon, when that's done I'll close this issue and you'll be able to reinstall jest-cli with the node-haste 2.6.1 dependency. I tested @AdamKyle's ToyBox repo with an empty `modulePathIgnorePattern` and it works as expected again :)

[2016-03-06 04:47] cpojer commented on #771
We are good :) Just re-tried your Toy-Box example and it works with jest 0.9.0 and node-haste 2.6.1. Sorry for the hiccup!

[2016-03-06 04:47] #771 closed

[2016-03-06 05:00] ms88privat commented on #770
@cpojer At the moment I don't have a `.babelrc` file, because it wasn't necessary (raised errors) since the Babel5 React Native upgrade. But I did try the version like @AdamKyle, but it didn't change anything.

I started this project yesterday completely from the ground up (with `react-native init app`), thats why all my `dependencies` are up2date.

I put `require.resolve('babel-jest')` in my `ind

[2016-03-06 05:15] AdamKyle commented on #771
Excellent. Thank you for this fix. :)

[2016-03-06 05:28] cpojer commented on #770
You have a custom setup for `scriptPreprocessor` which will overwrite `babel-jest`. My recommendation is to follow the babel-jest setup guide in the Getting Started section: https://facebook.github.io/jest/docs/getting-started.html#babel-integration

After you are done, I recommend installing the react-native preset: `npm install --save-dev babel-preset-react-native` and adding it to your `.babelr

[2016-03-06 05:34] cpojer opened #772 "moduleNameMapper only works for @providesModule"
I think the problem is this if-statement: https://github.com/facebook/jest/blob/master/src/HasteModuleLoader/HasteModuleLoader.js#L421-L423

in package.json:
[code]

will not work, but:
[code]
with SomeProvidesModule.js:
[code]

will work. We should fix this.

[2016-03-06 05:37] AdamKyle commented on #770
This is long been solved, apologies for not getting back to it. In another of my issues you saw the toy box package.json, thats why my json file looks like now and everything as we have both seen works :)

[2016-03-06 05:57] ms88privat commented on #770
@cpojer Thanks! It is working now.

Wrap-up for other people who want to use it with react-native:

- I did not need the .babelrc file (and no babel-preset-react-native)

package.json:

[code]

[2016-03-06 06:16] ms88privat commented on #770
@cpojer I got another problem or maybe I misunderstand some concepts here (new to unit tests...)

If I `import`something in the file, which I'm going to test, It will raise this error:
[code]

Files to test:
(working)
[code]

(not working)
[code]

[2016-03-06 06:25] cpojer commented on #770
The react example ( https://github.com/facebook/jest/tree/master/examples/react ) I mentioned earlier does this with the correct setup and it works. I'm afraid I can't help you unless you push a repro somewhere on github that I can take a look at. I'm pretty sure this is some sort of configuration issue on your part.

[2016-03-06 06:32] cpojer commented on #770
Oh, I think I know why this has happened: Jest uses caching, and when you added a `.babelrc`, it wasn't recognized. Can you try again adding a `.babelrc`file **with** the es2015 preset and running Jest with `--no-cache` once? That should make sure that config changes are properly picked up :) Without the es2015 preset, import/export will definitely not work.

[2016-03-06 07:11] ms88privat commented on #770
@cpojer I'm not sure what I'm doing wrong, I installed .babelrc again with the presets and --no-cache, but it didn't solve my problem :(

import/export is working unless I have another import statement in the file I imported for testing:

test file in `src/logic/__tests__`:
[code]

is working with:
[code]

not working with:
[code]

Thanks for your patience with me... If you want to try it out, you

[2016-03-06 07:30] ms88privat commented on #770
@cpojer here is my repo:

https://github.com/ms88privat/react-native-jest-test

[2016-03-06 08:54] timReynolds commented on #771
Thanks for fixing this so quickly.

[2016-03-06 09:08] timReynolds opened #773 "Coverage report doesn't work with stateless function components"
Is there any known issues with the coverage generation with stateless functions?

I've got a repository with a stateless function under test and get the correct result when running jest;

[code]

However the coverage report shows;
[code]

I've double checked the setup and even moved the component in question to another project that has other non stateless components in and get the same issue.

You

[2016-03-06 18:25] cpojer commented on #773
I'm pretty sure this works with jest 0.9.0. Would you mind trying with that?

[2016-03-06 18:27] cpojer commented on #773
Also, in your repository, you don't need your custom preprocessor. babel-jest does exactly what your preprocessor does (it excludes node modules). You can remove it and the `scriptPreprocessor` setting in your config and it will be used automatically with jest 0.9.0.

[2016-03-06 18:45] timReynolds commented on #773
Will do. Noticed 0.9.0 auto included babel-jest, great feature setting up pre processor felt ugly.

[2016-03-06 20:00] cpojer commented on #770
thank you. That was very useful. The problem was that react-native was required but it wasn't being processed by `babel-jest`. I actually was unaware that we aren't shipping a compiled version of react-native on npm. You can update `babel-jest` to `9.0.1` and it should work properly. Thanks for creating a repro, that was great!

[2016-03-06 20:10] timReynolds commented on #773
0.9.0 has solved this;

[code]

Have closed this issue, thanks for the advice

[2016-03-06 20:10] #773 closed

[2016-03-06 20:11] cpojer commented on #773
Good to know! Jest 0.9.0 should be 100 % more sane and not have stupid issues like this :) It also adds a few nicer APIs like `jest.fn` and `jest.unmock` :)

[2016-03-06 20:12] cpojer commented on #554
0.9.0 has been published and this issue is now properly fixed :)

[2016-03-06 20:15] timReynolds commented on #773
Been using Jest for ages and great to see some work done. We’ve had a pretty ropy time on windows with a large (wish) test suite in the office, partly our own fault due to being stuck on the old version of node for a while.

Would be good to see some more tags on issues especially a first time one, I’ve had a poke around but understanding it’s guts isn’t a 10 min job.

[2016-03-06 20:17] cpojer commented on #739
Can you retry this with the final version of 0.9.0 and provide a repro if this is still an issue?

[2016-03-06 20:21] cpojer commented on #773
I'll try to be more open about the plans around Jest and try to create more issues. One of the things I'd like to see done is add `jest-chai` as part of the modularization effort. Right now Jest supports Jasmine 1 and Jasmine 2, but there is no reason it can't support any other test assertion library – someone just has to add it :)

[2016-03-06 20:22] cpojer commented on #773
We also have a channel on discord, if you'd like to hang out there: facebook.github.io/jest/support.html :)

[2016-03-07 03:18] mc-zone commented on #764
Thanks!~

[2016-03-07 06:36] ffxsam opened #775 "jest --watch doesn't work"
If I run `jest --watch` in my project, it runs the tests once:

[code]

But when I change `CheckboxWithLabel.js` so that the test will fail, I just see this:

    Using Jest CLI v0.9.0, jasmine2, babel-jest

Though if I kill the proces and run `npm test` again, the test indeed fails.

[2016-03-07 07:55] sterpe commented on #739
@cpojer I'm also noticing some weirdness between 0.8.2 and 0.9.0 and autoMock/dontMock/unmock.

Taking the trivial example from the auto mock documentation:

[code]
[code]
[code]
No `node_modules` here so this isn't an `npm@3` thing.

In 0.8.2 jasmine1, this passes fine, as is.  Fails in 0.9.0 jasmine1 with error:
[code]

[2016-03-07 07:56] sterpe commented on #739
Additionally @cpojer I've noticed on other tests that don't just fail under 0.9.0, seem like it is not mocking anything by default -- i.e. a test will pass whether or not the test calls `jest.unmock` or `jest.dontMock` on the file under test.  In 0.8.2 if you don't call `jest.dontMock(FILE)` then even the FILE under test is mocked and all your tests usually fail.  But in 0.9.0 it passes either way

[2016-03-07 07:58] sterpe commented on #739
For example this test, fails in 0.8.2 jasmine1, for the reason that FILE is mocked, since we didn't call `jest.dontMock(FILE)`...but this passes in 0.9.0.  Is that expected?

[code]

[2016-03-07 08:17] cpojer commented on #739
Thanks for the repro! I'm going to take a look tomorrow and fix this if necessary. I'm wondering if it's the `.js` at the end of the require and unmock calls, it is uncommon to do that in CommonJS.

We did fix some issues with mocking and yes, we did switch to jasmine 2, which might be the source of your trouble. Would you mind trying to run your tests again with `--testRunner=jasmine1` to see if

[2016-03-07 08:19] cpojer commented on #775
Uh oh, that's not great! Sorry about that, 0.9.0 is pretty much a complete rewrite and some things might have gone a little bit wrong :) I'll check this out tomorrow and fix it if necessary! I'm also planning to rewrite `--watch` to be much better in the future.

For now, `jest -o` should have you covered – it should only run tests related to your changed files :)

[2016-03-07 08:19] ffxsam commented on #775
Oddly enough, `jest -o` doesn't work either. Now I'm wondering if something is hosed on my Mac regarding file watching.

[2016-03-07 08:21] cpojer commented on #775
Huh, that's not good! If you use strings for your `require` statements (like `require('Foo')`) jest should be able to statically analyse the dependency tree. If you can upload a repository with a repro, that would be very useful :)

[2016-03-07 08:27] ffxsam commented on #775
https://github.com/ffxsam/jest-issue

Don't worry about trying to run the app (it's a Meteor app). And I apologize for all the extra code, it's a boilerplate. :)

[2016-03-07 08:33] sterpe commented on #739
Yeah, that was with `"testRunner": "jasmine1"` set in `.jestrc`.  I was having the same problem even in tests where the requires look like `require('./foo')`.  Test doesn't hang or anything.

I've reverted this repo (https://github.com/sterpe/string-source.git) back to 0.8.2 but you can detach head at commitish sterpe/string-source@9324e3206cd061d7cf79d8182880486d9872f944 to see the 0.9.0 set up.

[2016-03-07 09:00] cpojer commented on #739
Thanks! That is going to be very useful for debugging :)

[2016-03-07 12:07] Kureev commented on #772
As you can see from the assigned example, I can't reproduce your issue (all green). Can you tell me what I'm doing wrong?

[2016-03-07 19:42] cpojer commented on #739
Thanks @sterpe! I checked out your repo and the reason why mocking doesn't work, is because automocking is implicitly disabled and therefore everything is unmocked – you are providing an empty array to `unmockedModulePathPatterns` which means that *nothing* is mocked. I agree that this is confusing but currently I'm unable to make this breaking change. I'll eventually rewrite how configuration is

[2016-03-07 19:42] #739 closed

[2016-03-07 19:44] cpojer commented on #775
This repros for me for all files that aren't tests themselves, is that true for you too?

[2016-03-07 21:35] ffxsam commented on #775
Not sure exactly what you mean. `jest -o` does absolutely nothing, even on a fresh clone of the repo, it doesn't even run tests once:

[code]

I have to remove the `-o` option for it to work.

[2016-03-07 22:44] cpojer commented on #775
Oh, `jest -o` will only work if you have changed files in your source repo. The idea is that when you change a module and then run `jest -o`, it will only run the affected tests. This is reliant on `git status`.

[2016-03-07 23:35] sterpe commented on #739
@cpojer Lol.  Aye.  I put that in my generator because there's usually something that needs it in every project.  ...that's funny.  Thanks.

[2016-03-08 02:15] cpojer commented on #775
will be fixed in jest 0.9.1. :)

[2016-03-08 02:15] #775 closed

[2016-03-08 07:24] ffxsam commented on #775
Oh, I misunderstood. I thought simply by changing a file, that `jest -o` would know it changed because git sees it as being changed and not committed. I dunno if it makes sense to have to commit the changes in order for `jest -o` to work. I'd want to test *before* committing. :)

[2016-03-08 07:48] cpojer commented on #775
Yes, that is what Jest is supposed to do. In your repo example, `Counter-test` should be run when either `Counter.js` or `Counter-test.js` is changed (but not committed) in your repo. :)

[2016-03-08 07:55] ffxsam commented on #775
Ok, gotcha. Looking forward to the fix! I really like jest so far. It actually seems to be the simplest unit testing tool for React that I've tried so far.

[2016-03-08 22:11] AdamKyle opened #781 "How are you suppose to use .toThrow() ?"
I didn't know if there was a community forum or an active stack tag. So I thought I would post this here.

If we look at this [function](https://github.com/AdamKyle/Toy-Box/blob/master/src/toy_box/toy_box.js#L203) also shown below:

[code]

We can see that if obj is of type string that we can throw an error. So I though I could write a jest test as such:

[code]

How ever when run:

[code]

So I a

[2016-03-08 22:14] cpojer commented on #781
Thank you for creating an issue but please ask questions on stackoverflow or discord: facebook.github.io/jest/support.html

An example of `toThrow` can be found in the Jasmine documentation: http://jasmine.github.io/2.0/introduction.html

[code]

you should wrap your `resolve` function call in another function that is passed to expect.

[2016-03-08 22:14] #781 closed

[2016-03-09 01:21] cpojer commented on #775
0.9.1 was published and should contain the fix.

[2016-03-09 03:25] janaaronlee opened #782 "gcloud module can't be mocked"
Looks like the gcloud module can't be mocked.

Tests:
https://github.com/janaaronlee/jest-gcloud-issue

Run with:
[code]

[2016-03-09 15:28] nitsujri commented on #770
@cpojer thanks for the quick turn around against @ms88privat problem, I downloaded her repo and upgraded `babel-jest` to be `9.0.2` but I get a:

    Using Jest CLI v0.9.1, jasmine2, babel-jest
     FAIL  src/__tests__/cool-test.js
    ● Runtime Error
    TypeError: CallbackQueue.getPooled is not a function

Is there something else that I may be missing?

[2016-03-09 20:20] cpojer commented on #770
@nitsujri hey! Not sure if you are using react-native or react, but whichever one you are using needs to be part of your `unmockedModulePathPatterns` or you need to call `jest.unmock('react-native')` before importing it.

Sorry, I still didn't have enough time to polish up the docs for react-native :)

[2016-03-09 20:27] cpojer commented on #782
Unfortunately, some modules cannot be mocked, check out http://facebook.github.io/jest/docs/manual-mocks.html#content to explain why and learn how to create a manual mock instead. In this case, you'd create a top level `__mocks__` folder with a `gcloud.js` file.

[2016-03-09 20:27] #782 closed

[2016-03-10 01:00] nitsujri commented on #770
@cpojer yep on native, so that was it! thanks!

[2016-03-10 01:27] mbrio opened #784 "xit and xdescribe do not mark tasks as pending"
I notice that the latest versions of Jest defaults to Jasmine 2 but for some reason xit and xdescribe do not mark tests as pending. Is this by design? Is there a way of writing pending tests?

[2016-03-10 13:26] ishanray commented on #230
+1

[2016-03-10 13:35] nitsujri commented on #770
@cpojer +1 for those would-be-uber-helpful docs.

Ran into a super basic `Cannot find module 'Text' from 'react-native.js'` and could not get past it. I think the docs/examples would officially nip this.

Not asking for help, just req the docs :+1:. We're totally cool waiting a few days for them.

[2016-03-10 17:15] cpojer commented on #770
Yep, working on it as hard as I can! :)

[2016-03-10 17:23] cpojer commented on #784
Hello, I'm not sure what "pending" means but an `x` in front of `it` or `describe` will disable the test. I think Jest counts disabled tests so and they'll show up as passed tests even though they are disabled.

[2016-03-10 20:48] mbrio commented on #784
Hi @cpojer, I guess it depends on how your feature parity is with the test runner you're using. Jasmine2 is the default test runner for the latest version of Jest. Jasmine2 and Jest handle `xit` and `xdescribe` differently. In Jest, if I've marked a test as `xit`, or have not placed a function within an `it` callback, the tests pass:

[code]

The above tests would pass under Jest, but when run und

[2016-03-10 21:27] cpojer commented on #784
@mbrio I see. I wasn't aware of the difference between Jasmine's reporting and Jest's reporting. We never reported pending tests before (not even when Jasmine 1 was the default). Would you be interested in fixing the reporting around this so that at the end we say `2 passed, 1 pending`, for example? :)

[2016-03-10 22:20] mbrio commented on #784
Ha! I'll check it out tomorrow, I'll see what I can do.

[2016-03-11 04:22] cpojer commented on #784
Fixed by #788

[2016-03-11 04:22] #784 closed

[2016-03-11 04:37] cpojer commented on #304
This will be fixed in `0.9.2` tomorrow. #785 and #787.

[2016-03-11 04:37] #304 closed

[2016-03-11 04:38] cpojer commented on #290
We won't be adding this as a command line flag, but we will be adding a config option in the future. This is tracked in separate issues. #10 and #637 for example.

[2016-03-11 04:39] cpojer commented on #142
This'll be done soon as part of #161.

[2016-03-11 04:39] #142 closed

[2016-03-11 04:41] #401 closed

[2016-03-11 04:41] cpojer commented on #401
I recommend giving Jest 0.9 a try which is basically a rewrite of Jest :)

[2016-03-11 04:42] cpojer commented on #753
I'm currently working on improving the testing setup guide for react-native, I'll update this task soon with new information.

[2016-03-11 04:51] AdamKyle opened #789 "Cannot mock console.warn"
I have some code that can throw a `console.warn` and from what I have seen you can do:

[code]

from [this information](https://facebook.github.io/jest/docs/mock-functions.html#content).

The example test is:

[code]

running the test throws:

[code]

This error seems to be thrown on [line 51 of jasmine2.js](https://github.com/facebook/jest/blob/master/src/testRunners/jasmine/Jasmine2Reporter.js#L

[2016-03-11 06:20] cpojer commented on #789
As I pointed out before on another issue you created, this is not a help forum. Please ask questions on stackoverflow or discord: facebook.github.io/jest/support.html If the documentation isn't clear enough, please send a pull request with your suggested improvements. We always welcome any and all contributions to Jest!

In your test, you are neither correctly creating a mock nor checking for whet

[2016-03-11 06:20] #789 closed

[2016-03-12 06:20] AdamKyle opened #794 "Node 4 travis ci, the tests fail"
[code]

I know this time its not me because all my tests pass on node vs 5. Node vs 4 how ever fails .... Is there an update I missed?

My package.json has `"jest-cli": "*"`

[2016-03-12 06:44] cpojer commented on #794
You are not using Node 4. Your log **clearly** says it is Node 0.10 in the third line. Node 0.10 is not supported by jest 0.5+.

[2016-03-12 06:44] #794 closed

[2016-03-12 16:03] joowh85 opened #795 "I've found some issues at the unit test on Window OS."
Hey Jests (:

Here is for the example test result on Windows OS.

[code]

[2016-03-14 05:19] cpojer commented on #795
Thanks! I'm sorry the tests aren't passing on Windows right now – I'll fix them up and will start using AppVeyor for Jest soon to prevent regressions. All these tests fail simply because I didn't have windows in mind when I wrote these tests – so Jest will work just fine on Windows :)

[2016-03-14 12:53] pvolok opened #796 "jest.setMock doesn't work with imports."
The jest-unmock plugin hoists the `jest.unmock()` call. But there are other functions that also need to be called before require/import statements (such as setMock, mock, autoMockOn, autoMockOff).

How about introducing a plugin that will hoist all of the above calls?

[2016-03-14 14:25] AwesomeJerry opened #797 "export default as doesn't seem to work with Jest."
I got an UIKit/index.js which exports other components out.
[code]
 However, when testing any other components that import components from it
[code]
works fine in normal environment, but fails in Jest environment which Button is undefined when import.

Anyone knows how to fix it?

[2016-03-14 17:00] cpojer commented on #797
Hello!

Which version of Jest and npm are you using? I'm fairly confident that if you are using the latest versions of Jest and babel-jest, this shouldn't be an issue.

If your problem isn't resolved by that, please post more source code and your Jest configuration, ideally even a small repo that I can use to reproduce the issue. If this turns out to be an issue with Jest, I will reopen this issue

[2016-03-14 17:00] #797 closed

[2016-03-14 17:14] cpojer commented on #796
Hey @pvolok!

That's a great suggestion. I wanted to get started with `unmock` because it is a new API and therefore is unlikely to break any existing clients. I think hoisting `mock`, `autoMockOn` and `autoMockOff` is fine – is this something you'd be willing to contribute to this repo? :) You can take a look at the unmock plugin which should be 90 % of what you need. We might want to rename the

[2016-03-14 18:29] sterpe opened #798 "Occasionally jasmine.JUnitXMLReporter is not defined with jasmine1 and `jasmine-reporters@1.x` module"
Since upgrading my project from 0.8.2 to 0.9.2 with `jasmine1`, noticed that occasionally when running many tests at the same time, that I am getting random failures related to `jasmine-reporters@1.x` in the `testsetup.js` file:

[code]

Here's that test setup file:
[code]

You can assume that the environmental variables are defined when the test are run.

Running the tests individually will allow

[2016-03-14 18:31] sterpe commented on #798
Changed the title for future searchability.

[2016-03-14 18:36] sterpe commented on #798
`node@4.32`, `npm@3.8.1`, fwiw.

[2016-03-14 19:36] cpojer commented on #798
Yeah it shouldn't be mocked, that is probably the fix. Would it be possible for you to provide a repository with this code so I can see for myself what you are doing here? :)

[2016-03-14 21:53] pvolok commented on #796
Phew, babel api is huge! Played a bit with astexplorer and made this draft: http://astexplorer.net/#/lzspEwJ7jn

So what we do is we hoist everything that was referenced. And we only allow consts and globals to be referenced. But there are still several problems:
- if global variable was defined in imported file, then it will be referenced before that file was imported
- variable declarations will

[2016-03-14 21:53] landed1 opened #799 "Installing for babel issue"
I tried the following first

npm install --save-dev babel-jest babel-polyfill

jest isnt found - so I realised I needed to install the jest cli...

npm install --save-dev jest-cli

now I get the following error

const fs = require('graceful-fs');
^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Mod

[2016-03-14 22:04] sterpe commented on #798
This I can't actually -- enterprise github.  It's just weird because it happens very inconsistently.  I'll see if I have a situation in some personal project where I can flesh this out again in the next few weeks.

[2016-03-14 22:38] cpojer commented on #799
You need to use node 4+. Jest is not compatible with node 0.10.

[2016-03-14 22:38] #799 closed

[2016-03-14 22:56] cpojer commented on #796
Hey! Woah, this is pretty cool already but I'm really worried that hoisting everything related to `setMock` might be very problematic for us. I'd rather not do it.

I think we should build new APIs for most things that we should hoist, so we don't disrupt people who might update babel-jest and get different behavior. Unfortunately, for `jest.mock` I don't see a way of doing this, but that should b

[2016-03-15 01:17] AwesomeJerry commented on #797
problem solved! I was previously using
[code]
to avoid heist problem with import statement
When I changed to
[code]
and problem solved.

reference: https://github.com/rauschma/babel-on-node

[2016-03-15 05:14] dmitriiabramov opened #802 "`watchman` fails if there is no `.git` in the directory"
[code]

should there be a more friendly error that fails before it goes to `watchman`?

[2016-03-15 05:18] cpojer commented on #802
I think the description inside of Jest makes sense but it might make sense to add this to the top of https://facebook.github.io/watchman/docs/troubleshooting.html @wez what do you think?

[2016-03-15 05:29] wez commented on #802
https://github.com/facebook/watchman/issues/25 is the underlying issue; we use the .git dir for synchronization cookies, but can't tell if you remove it at runtime, and that breaks queries against that watch.  If this is deemed a common enough issue to add special troubleshooting information, I'd rather we just fixed the underlying problem.

This is totally out of scope for jest to deal with, FWIW

[2016-03-15 05:33] wez commented on #802
For more color, if you don't have a `.git` dir when you initiate the watch, you won't have this problem.  The issue is the transition from it being there to being deleted.  If you create and delete it after the watch was started, watchman won't care because it will be using the watch root for synchronization cookies.

[2016-03-15 12:43] mbrio commented on #441
If no one is working on this, I'd be willing to do the migration. I guess the question is what would be the best library. Optimist specifically mentions yargs as it's replacement which I believe is 100% compatible, is active, and has a large following. If the argument is that Optimist is deprecated and Jest should be using a non-deprecated library then yargs may be the better solution as there wou

[2016-03-15 15:13] pvolok commented on #796
Hey @cpojer! I made a PR with easy parts.

Going to try to find you in Discord to discuss at least temporary solution for `setMock` without using imports.

[2016-03-15 17:53] cpojer commented on #441
@fkling what would you recommend? I remember we had this discussion around jscodeshift as well.

@mbrio it would be awesome if you could take this on! I'll try to merge #800 today, it probably makes sense to wait for that first :)

[2016-03-16 00:23] mbrio commented on #441
Sounds good, I'll keep my ear out for this. Tomorrow may be hard for me, but I'll get to it this week.

[2016-03-16 03:13] cpojer commented on #772
Fixed in #801.

[2016-03-16 03:37] #772 closed

[2016-03-16 03:37] cpojer commented on #722
@irudoy is this still an issue?

[2016-03-16 03:38] cpojer commented on #688
@yborunov can you try again with Jest 0.9? I think this problem should be fixed with the latest version.

If this issue hasn't been fixed it would be great if you could provide a repository with this issue and I'll be happy to reopen and fix this issue :)

[2016-03-16 03:38] #688 closed

[2016-03-16 03:40] cpojer commented on #316
I'm gonna assume this issue is resolved in Jest 0.9 and will be happy to reopen this issue if it doesn't work appropriately.

[2016-03-16 04:35] srph commented on #316
I have no idea if it's still a valid issue until now. Nobody has shown up either. Closing this.

[2016-03-16 04:35] #316 closed

[2016-03-16 12:28] pimterry opened #804 "Automocking fails for modules containing "console.log.bind""
I'm a library author, and Jest fails to automock my library, annoying my users a bit (https://github.com/pimterry/loglevel/issues/85).

Obviously, as in https://github.com/facebook/jest/issues/90, this probably means they should disable automocking for my library. I do have an ultra simple repro though, so I thought I'd report this explicitly, since it seems like something Jest should be able to h

[2016-03-16 18:55] hourliert opened #805 "Force colorization"
Hi,

I cannot find in code an option that force the output colorization (even if not in a TTY).
I have a use case (when using https://github.com/FormidableLabs/builder). `Builder` call Jest but doesn't give it the current TTY.

I tried to use the env variable `FORCE_COLOR` from `chalk` but as the `enabled` property of chalk is overrided [here](https://github.com/facebook/jest/blob/419c94fc954e1ff7

[2016-03-16 19:00] yaycmyk commented on #805
The built-in node way is to add `--colors` to your CLI arguments

[2016-03-16 19:11] hourliert commented on #805
Hi,

Thanks for your answer.
It doesn't seem to work.

Here the commands I tried
`builder run test:all --colors` (`--colors` is passed to builder)
`builder run test:all -- --colors` (`--colors` is passed to the command run by builder)

The command run by builder is:
`jest --config node_modules/builder-react-comp/config/jest/config.json --colors`.

In the result, all words `PASS` are grey and not g

[2016-03-16 20:40] hey99xx opened #806 "Test doesn't fail on runtime exception - different behavior from 0.7.1 to 0.9.2"
assuming you have a test like this

    describe('x', ()=> {
	    it('y', ()=>{
		    expect(true).toBe(false);
		    throw('error');
	    });
    });

with Jest 0.9.2 this is the result

    PASS  __tests__/x.js (0.025s)

Note that it shows neither a pass checkmark or a fail X for the `it y`. On the previous version 0.7.1, the result was

    x › it y
      - Expected: true toBe: false

[2016-03-16 20:43] cpojer commented on #806
Thanks for the report! That definitely doesn't sound right. Do you have any configuration for jest in your `package.json`? One thing that changed was that the default is now Jasmine 2 instead of Jasmine 1. You can still use Jasmine 1 (see http://facebook.github.io/jest/docs/api.html#config-testrunner-string or use `--testRunner=jasmine1`). Nevertheless, this should definitely not happen and I'm ta

[2016-03-16 20:57] hey99xx commented on #806
Thanks for quick response @cpojer . I spent ~30 minutes to see why one of my React test wasn't failing and I finally isolated the issue to here, in an isolated new package.

I have nothing in my package.json right now, I've just installed `npm install jest-cli` and run with `node_modules/jest-cli/bin/jest.js`, then I reinstalled with `npm install jest-cli@0.7.1`. I will give  a try for jasmine 1 r

[2016-03-16 21:01] hey99xx commented on #806
Well, this is interesting. Using Jasmine 1 instead of 2 indeed solves my issue, the test is failing correctly now. I have just tried with `node_modules/jest-cli/bin/jest.js --testRunner=jasmine1`

[2016-03-16 21:07] cpojer commented on #806
So the problem is definitely the `throw('error')`. Changing it to `throw new Error('error')` will work correctly. I'm trying to figure out whether this is an intentional change in Jasmine or whether this only happens with Jasmine inside of Jest and is a bug in the Jasmine 2 integration :)

[2016-03-16 21:16] hey99xx commented on #806
If that's the case, still that's not right since throw string is valid js ( https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/throw ). Also this was happening in one of my dependency packages, I didn't throw errors for fun :) Thanks for your help, hopefully we can figure this out soon.

[2016-03-16 21:17] cpojer commented on #806
Ok definitely a bug in Jest. I'll try to fix this for the next release but as a workaround I suggest changing to `throw new Error()` :) Thanks so much for creating a concise repro case!

[2016-03-16 21:17] cpojer commented on #806
Or well, you can also use jasmine1 for now to unblock yourself :)

[2016-03-16 22:28] cpojer commented on #441
Alright, the refactor from #800 has now landed!

[2016-03-16 22:30] cpojer commented on #805
@hourliert would you like to send a Pull Request for this? Note we refactored Jest a bit, so the line you referred to earlier is now in the `read` file: https://github.com/facebook/jest/blob/master/src/config/read.js#L26

[2016-03-16 23:33] cpojer commented on #161
This is, at last, happening. We are filling up the new `/packages/` folder: https://github.com/facebook/jest/tree/master/packages

Next up is the mocking feature, which will be launched as `jest-mock`, cc @abramovdmitrii
Alex Juarez has started refactoring Jest itself, which will make further work here easier as well.

[2016-03-17 00:57] yaycmyk commented on #161
Highly recommend sinon for most mocking needs. It's an _excellent_ library.

[2016-03-17 01:05] cpojer commented on #805
Fixed in #809. This will be in the next Jest release.

[2016-03-17 02:28] cpojer commented on #806
Fix will go out with the next version of Jest.

[2016-03-17 02:28] #806 closed

[2016-03-17 05:42] #805 closed

[2016-03-17 07:31] cpojer commented on #756
It looks to me like your example isn't in a `__tests__` folder. Jest requires tests to be in a folder named `__tests__`. I'll be happy to reopen if this is actually broken on Windows.

[2016-03-17 07:31] #756 closed

[2016-03-17 07:32] cpojer commented on #526
I'm happy to accept pull requests for this feature!

[2016-03-17 08:05] cpojer commented on #701
@mc-zone in Jest 0.9 errors should properly be rethrown, that was an unfortunate bug :)

@vitalets I think we are going to add a recursive option to `setMock`. Planning to merge it soon :)

[2016-03-17 08:05] cpojer commented on #731
duplicate of #701.

[2016-03-17 08:05] #731 closed

[2016-03-18 07:47] vitalets commented on #701
@cpojer it would be great! thanks!

[2016-03-18 08:25] Hubrus commented on #756
My example was just a generic one to describe the issue. I tried to reproduce it in 0.9.2 but seems that it was fixed. Thanks!

[2016-03-18 08:35] aoto commented on #334
I got the same problem.

[2016-03-18 11:14] gaearon opened #815 "Reduce memory usage for running coverage"
We are having some problems with running coverage reports in React. Lately we’ve been getting test failures on master with [weird failures](https://travis-ci.org/facebook/react/jobs/116728167). The processes appear to crash with no immediately visible reason.

As suggested by @cpojer, we tried disabling the coverage reports, and this fixed the issue: https://github.com/facebook/react/commit/d138b2

[2016-03-19 10:36] kentaromiura commented on #815
I may have an idea for how to reduce memory by only apply a binary coverage which is still useful and can be optimised to use the same variable for multiple lines

[2016-03-20 00:08] kellerapps commented on #336
I'm using typescript & jest reports the JS line numbers. Is there a workaround? Thx!

[2016-03-21 05:16] pvolok commented on #796
Was a little busy the last few days. Even though I think that we should allow referencing variables in `setMock`, I also agree that such transformation may end up being a mess. I suggest to start by not allowing to reference outer variables. It would be enough for my use case, and referencing may be added once someone has a real use case.

[2016-03-21 11:45] StephanBijzitter opened #817 "ES6 EcmaScript 6 Class coverage is generated for transpiled code"
I am currently re-writing my https://github.com/Skelware/node-file-parser package with ES6, but I'm running into an issue where the test coverage appears to be run on the transpiled code, instead of the source code.

src/NodeFileParser.es6
[code]

spec/NodeFileParser.spec.es6:
[code]

dist/NodeFileParser.js (generated by Babel):
[code]
package.json (excerpt):
[code]

Console output:
[code]

Lcov h

[2016-03-21 11:56] StephanBijzitter opened #818 "Improving Babel support: automatically append "es6" to moduleFileExtensions"
Regarding: http://facebook.github.io/jest/docs/api.html#config-modulefileextensions-array-string

When _babel-jest_ is installed, it is automatically enabled as preprocessor. I like this, but many IDEs require the `es6` extension to specify the correct runtime environment. I would like to have the `es6` file extensions automatically added to the defauls if Babel is used, as it can be expected that

[2016-03-21 12:20] StephanBijzitter commented on #775
@cpojer I'm using 0.9.2 and watch is not working for me either.

It actually doesn't run any test on start, and does not respond to any file changes in either my source files or test files.

However, when I build distribution files, it is somehow triggered (even though these are in a directory that should not be watched). Maybe it's related to file extensions? The dist files use `js` and the sourc

[2016-03-21 21:20] cpojer commented on #775
There is `--watchExtensions`: https://github.com/facebook/jest/blob/master/src/cli/processArgs.js#L131-L136

I agree that we should remove this config however and just use `config.moduleFileExtensions`.

[2016-03-21 21:26] cpojer commented on #818
Yes I agree we should do this.

@kentaromiura Let's add it automatically here: https://github.com/facebook/jest/blob/409a7626bf7e083ce434e5a6dd7b0bac149a7276/src/config/normalize.js#L112-L116 if `moduleFileExtensions` is not explicitly passed in as a config option.

@StephanBijzitter for now you can add the `moduleFileExtensions` config option manually :)

[2016-03-21 21:28] StephanBijzitter commented on #818
Of course, I'm doing just that :-)

[2016-03-21 22:42] cpojer commented on #796
Hey! I think that should probably work. Is there a babel API for this and could you make a pull request with this feature? We should allow things like `require` inside of the module factory – that way most people shouldn't need to reference variables from the outer scope. Also, I'd like to come up with a new name for this so that we don't mess up existing workflows. Can you imagine a name other th

[2016-03-21 23:36] cpojer commented on #815
Coverage is basically a map-reduce job, just like collecting test information. We map over every test (and run the test) and receive a giant amount of information . It is possible that we are holding on to all of this information inside of a worker (possible memory leak) but we are definitely holding on to it in the parent process as well. As a first solution I'd recommend looking into whether we

[2016-03-22 00:01] cpojer commented on #796
@thejameskyle created a proof of concept here: http://astexplorer.net/#/cpVMSKRm5y although he says @kittens will probably have a better solution for this :P

[2016-03-22 00:16] thejameskyle commented on #796
Talked to @kittens about this, he warned me against depending on the paths within scopes. That example needs to be updated to use `traverse.cheap` to manually look up paths for reference identifiers.

[2016-03-22 02:54] cpojer commented on #17
Is anyone from the community interested in working on this? I'd be happy to support people through this and make an official Jest plugin. It is unlikely we will heavily invest into this at FB anytime soon. The Jest team is very small (1.5 people) and we can't get to work on all these features, unfortunately.

[2016-03-22 08:01] thejameskyle commented on #796
Improved based on @kitten's feedback: http://astexplorer.net/#/YHlVgw88nu

[2016-03-22 10:02] yashikagarg13 commented on #106
@cpojer do we need to update jest in order to have this fix ?

[2016-03-22 10:20] yashikagarg13 commented on #597
@cpojer M using jest 0.9.0 and my React component uses react-bootstrap. And this is strange that it mocks `react-bootstrap/node_modules/uncontrollable/utils.js` even if I am mentioning `react-boostrap` in `unmockedModulePathPatterns`. Do you have any idea around this ?

[2016-03-22 16:26] yaycmyk opened #824 "Make JSDOM a peerDependency"
Another approach to making JSDOM more easily upgradeable by the user. I think this one actually makes the most sense.

[2016-03-22 17:11] cpojer commented on #106
Yes, use version 0.9 or probably any version we released last year. Core modules aren't mocked by default.

[2016-03-22 20:13] pvolok commented on #796
Thanks @thejameskyle ! Made a PR using your code :)

@cpojer Are you sure that the second argument of `jest.setMock` is a factory? It looks like exported value.

[2016-03-22 21:56] StephanBijzitter opened #827 "Change test order when using the fail fast (bail) option"
As I read a very insightful blog post by @cpojer http://facebook.github.io/jest/blog/2016/03/11/javascript-unit-testing-performance.html a question popped into my head, and then another.

1. Why are long tests run first, before quicker tests?
2. Assuming the answer to question one makes sense, would you consider running quicker tests first when using the bail option?

Sidenote:
Perhaps it would be

[2016-03-23 01:08] cpojer commented on #796
Oh, the new API should definitely be the module factory then. :) Sorry, didn't get a chance to look at your PR *yet* but thank you so so much for this contribution. It is awesome!

[2016-03-23 11:19] DaveMBush commented on #817
Further information on this issue from my own attempts to get this working...

I have a basic demo app that I've put together and I have successfully been able to write test and get code coverage working.

Except for one minor problem.

All of the code that use the class keyword from ES2015 end up emitting code at the top that looks like this:

    /*istanbul ignore next*/'use strict';Object.defin

[2016-03-23 16:13] Hubrus opened #829 "Running a specific test file on Windows fails"
Back again with my Windows issues :)

Running `jest` on the root of a project works like a charm but when it comes to make jest run a particular test file, it says no tests are found.
Here you have a repo to play with in order to reproduce the issue:
https://github.com/Hubrus/jestSandbox
You'll find there some of the output I get for different cases.

Thanks!

[2016-03-24 00:59] irudoy commented on #722
@cpojer unfortunately, I have not time to check this now

[2016-03-24 00:59] #722 closed

[2016-03-24 12:11] jonesdar commented on #665
Has anyone successfully mocked out a React Native "../images/abc.png" require using moduleNameMapper?
As far as I can tell this bug is still present on master.

It looks like the IS_PATH_BASED_MODULE_NAME regex in HasteModuleLoader._getNormalizedModuleID() causes an attempt to resolve relative requires via _resolveModuleName() and _resolveNodeModule() and the latter throws the error mentioned abov

[2016-03-24 13:31] StephanBijzitter opened #833 "--watch or --watchExtensions triggers infinite loop"
[code]
When I edit any of my source or test files, the tests are ran correctly against the changes files. However, the tests continue to restart until a memory leak causes it to shut down. Strangely enough, it recovers from the memory leak and happily continues to test.

[code]

Configuration:
[code]
Side question: is there any way to specify a pattern to watch? I only want it to watch `./spec/**/

[2016-03-24 13:33] StephanBijzitter commented on #833
Sample output (truncated and redacted) after added an unused value in a source file:
[code]

[2016-03-24 13:36] StephanBijzitter commented on #833
It would also be very nice if the process could log a message when it detects a file change. Something along the line of:
[code]

[2016-03-24 13:46] StephanBijzitter opened #834 "As a developer, I want my console to show a message when the watcher detects a change, so that I don't have to wait a few hundred milliseconds"
When Jest detects a change in my current project, it takes a few hundred milliseconds to start testing. During that time, it appears that nothing is being done. Sometimes this leads me to wonder whether I had actually saved the file, or whether the file was even detected as changed. So, I stare into my console and wait.

I would like to be shown a message containing the detected changes.

[code]