[2018-01-30 07:13] SimenB commented on #5422
You can use [`--forceExit`](https://facebook.github.io/jest/docs/en/cli.html#forceexit) in order to not allow Jest to wait for handles keeping the process open.

Normal errors keeping the process open are either `setTimeout` or `setInterval` without an `.unref()` call (if using node), or some server/db-connection not closed. I'm not sure what's the best way to figure out what's keeping the process

[2018-01-30 07:41] SimenB commented on #4931
For those following along: #5399

[2018-01-30 07:42] WangHansen commented on #936
Thanks for the help, I tried, but the test suggests that it was never called even though it was called because I put the console.log and it did print

test file
[code]

errorHandler
[code]

console
[code]

[2018-01-30 07:48] SimenB commented on #936
Is the function called `handleClientError` or `logError`?

[2018-01-30 08:32] reidblomquist commented on #5422
Thanks so much for the direction @SimenB ! With your guidance I dug around and found a project named wtfnode that worked like a charm with 8.7.0 and I did indeed have some errant connection pools that I was assuming were being closed. Was simple to use with setup/teardown:

[code]

then in teardown:
[code]

[2018-01-30 09:07] bonbonez commented on #2081
@SimenB thanks, that's what I was missing!

[2018-01-30 09:38] SimenB commented on #5422
@reidblomquist great! Mind sending a PR to the docs linking to that utility?

[2018-01-30 10:18] montogeek commented on #5266
@SimenB Why it is ok to silent thore errors? I think the test run should fail is there is an error.

[2018-01-30 10:21] SimenB commented on #5266
@montogeek we don't silence anything. And there is nothing failing, it's warnings in the console. We don't fail on invocations to `console.error` either, and I think such behavior would be really weird.

[2018-01-30 10:28] montogeek commented on #5266
No Jest, I mean from a developer view they should throw the tests. Those are errors (https://github.com/jsdom/jsdom/blob/master/lib/jsdom/browser/not-implemented.js#L9), not warnings.

Don't you think Jest should throw them as well?

[2018-01-30 10:32] SimenB commented on #5266
I'm not sure if it makes sense to fail on that, or other, errors. Maybe it does? We could do `omitJSDOMErrors: true` and actually fail the tests if we get them (behind an option).

But what if people want to throw if there are unimplemented things, but not for css parsing errors or other things?

/cc @kentcdodds thoughts?

[2018-01-30 10:34] Aftabnack commented on #5266
Even if we want to do this, this level of granularity, if not exposed by jsdom, we cannot do anything about it right?

[2018-01-30 10:42] SimenB commented on #5266
No issue for us to check `type` property, for instance, and either just log or throw it

[2018-01-30 10:48] montogeek commented on #5266
It took my surprise last week, when after upgrading Jest I saw the error in the console but tests passed  anyway, it was, counterintuitive for a test runner to don't throw when there is an error.

Activating `omitJSDOMErrors` is not a good idea:

https://github.com/jsdom/jsdom/issues/2026#issuecomment-339078997

[2018-01-30 12:58] andyearnshaw commented on #5124
The location part isn't the only problem.  I cannot import `jsdom` separately to call `jsdom.reconfigureWindow` (because that function no longer exists in the latest version of jsdom).  I was doing this to test code that runs differently if `window !== top`.  There's no longer a way to achieve this in the latest version of jest, which uses a newer version of jsdom.

[2018-01-30 13:12] cpojer commented on #5332
Unfortunately we already rely on this at FB actually. Would a possible fix be to set `process.exitCode` in all places?

[2018-01-30 13:29] lsjroberts commented on #5332
@cpojer Yeah I believe that would fix it, thanks.

I was under the impression using `process.exitCode` was best practice (https://stackoverflow.com/a/37592669), and using it would mean not needing the `exit()` call?

I'm sure there was a reason `process.exit()` was instead chosen in the first place, so would it introduce any other issues if `exit()` was swapped out for `process.exitCode` and perha

[2018-01-30 13:32] iampeterbanjo commented on #936
@WangHansen From your example your code should be `expect(errorHandler.handleClientError).toBeCalled() // > true`

[2018-01-30 13:40] simon360 commented on #5124
@andyearnshaw the `jsdom.reconfigure` method has a `windowTop` member in its object.

If you're using the JSDOM environment (`jest-environment-jsdom-global`) I linked above, you could do:
[code]
in your tests to mock out a top value.

[2018-01-30 14:11] rafaelramalho19 commented on #5368
@maoberlehner and @SimenB I managed to find the solution. Will create a merge request as soon as the tests stop failing on the `integration-tests/__tests__/timeouts.test.js` file 🙃

[2018-01-30 14:33] kentcdodds commented on #5266
I recommend against changing anything. These are not throwing errors. They're simply console.error calls which is easily mockable if needed, but should be dealt with normally.

[2018-01-30 14:34] maoberlehner commented on #5368
@rafaelramalho19 cool, I couldn't figure it out, thx!

[2018-01-30 14:34] kentcdodds commented on #5266
In particular, the error in the screenshot indicates the user's code is trying to use an unimplemented feature in jsdom. You should either provide your own implemention or change your code. Without the error log, you would be unaware of this limitation and things could break in your app unexpectedly. Much worse situation.

[2018-01-30 14:36] Xavier-Redondo commented on #5418
I did a correct re installation of 22.1.4 and it does not happen anymore.

[2018-01-30 14:36] #5418 closed

[2018-01-30 15:04] mfulton26 opened #5423 "Jest runs tests under .git by default"
**Do you want to request a _feature_ or report a _bug_?**

_bug_

**What is the current behavior?**

Jest runs tests on branches in git when the branch name ends with ".spec.js" or ".test.js" (e.g. ".git/refs/remotes/origin/example.spec.js").

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repo

[2018-01-30 15:06] montogeek commented on #5266
Those are actual errors, that are reported to a virtual console and outputted using `console.error` does not matter, it is an error and should be handled by Jest accordingly, the same way as `expect(true).toBe(false)` is reported.

This was reported and acknowledged as a bug in https://github.com/facebook/jest/issues/4400, looks like it was fixed on v22 but it is still ignoring them.

[2018-01-30 15:37] kentcdodds commented on #5266
Actually, I'd be fine with that change 👍

[2018-01-30 15:42] vijayst opened #5424 "Jest global setup does not set a global"
**Do you want to request a _feature_ or report a _bug_?**
bug

**What is the current behavior?**
Not able to set a global from globalSetup.js

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**
https://repl.it/@vijayst/CornsilkHonor

[2018-01-30 16:24] dinvlad commented on #936
@WangHansen could you add `.mockImplementation()` to your `jest.spyOn()`? As someone coming from Jasmine, I found this tip crucial to achieve the same functionality as Jasmine's spies. E.g.
[code]
If you _don't_ use `mockImplementation()`, then `jest.spyOn()` produces an object that is _not_ a mock (afaiu) and it actually defers to the native implementation. If you do have to keep native implement

[2018-01-30 16:32] kachkaev opened #5425 "Argument 'done' is missing inside test.concurrent"
**Do you want to request a _feature_ or report a _bug_?**

Feature

**What is the expected behavior?**

I'd like to be able to use `done` inside async concurrent tests. Here's my use case:

[code]

The above simplified example works great, but unfortunately the tests execute one after another. When I replace `test` with `test.concurrent` to have multiple `execFile` working in parallel, the `done`

[2018-01-30 16:41] develerltd commented on #936
Going back to the original request...

Couldn't you just wrap a proxy around an import *? eg

import * as test from './myfile.js';

const handler = {
    /** Intercepts: getting properties */
    get(target, propKey, receiver) {
        console.log(`GET ${propKey}`);
        return 123;
    },

    /** Intercepts: checking whether properties exist */
    has(target, propKey) {
        console.log(

[2018-01-30 17:34] darekkay opened #5427 "Global and single file coverage thresholds"
**Do you want to request a _feature_ or report a _bug_?**

Feature

**What is the current behavior?**

Currently, when using both `global` and `path/glob` thresholds, the `global` config combines the coverage for *remaining* files only (as [documented](https://facebook.github.io/jest/docs/en/configuration.html#coveragethreshold-object)).

**What is the expected behavior?**

I'll describe my use ca

[2018-01-30 17:41] reidblomquist commented on #5422
@SimenB Will do - might not get to it today but will get a PR up as soon as I can

[2018-01-30 18:02] ProTip commented on #4931
I would just like to say that this was my favorite feature in jest; gonna rollback until it is re-introduced.

[2018-01-30 19:02] remon-georgy commented on #5401
I'm having the same issue despite upgrading Jest to latest version. Here are notable dependencies:

- jest 22.1.4
- jest-expo: 25.1.0
- babel-jest 22.1.0

Any pointers are greatly appreciated!

[2018-01-30 19:39] andyearnshaw commented on #5124
I am using that and it works great, thanks!

On Tue, 30 Jan 2018, 13:40 simon360, <notifications@github.com> wrote:

[2018-01-30 22:48] WangHansen commented on #936
@dinvlad @iampeterbanjo @SimenB Thanks again for all your help, but unfortunnately, none of the ways you have suggested worked. I wonder if it is because that the function is called in the form of `next(err)`. The logic is, when a request failed, it will be passed into the `errorHandler` by calling `return next(err)`. For sure the function is being called because when I added `console.log`, it is

[2018-01-30 22:53] WangHansen commented on #936
@dinvlad I tried your method, it didn't work, but thanks for your help anyway. I was just wondering why do you need to call `mockImplementation`, according to the official doc on [jest.spyOn](https://facebook.github.io/jest/docs/en/jest-object.html#jestspyonobject-methodname), you only call it when you want to override the original function.

[2018-01-31 06:58] houkk commented on #2631
？

[2018-01-31 09:14] manuelbieh commented on #2567
Getting the same error but with:
[code]

I'm using the babel-plugin-transform-regenerator. How can I get jest to not complain about "The module factory of `jest.mock()`" not being "allowed to reference any out-of-scope variables" in this case?!

[2018-01-31 09:20] faucct commented on #2567
Using `jest.doMock` instead of `jest.mock` has helped me.

[2018-01-31 09:22] manuelbieh commented on #2567
Not for me 😕

[2018-01-31 09:36] WhiteTurbine commented on #5109
Please re-open - bug still exists:

https://github.com/facebook/jest/issues/5109

Issue remains in the newest version of Jest at a time (22.1.4). Last working version I found was 21.2.1. This issue can be reproduced only on Windows.

Jest is registering same file to Istanbul-lib-coverage twice with path that only differs in case (“c:/” vs “C:/”). This makes Istambul add file twice using “addFileCo

[2018-01-31 09:40] manuelbieh commented on #2567
Not entirely sure yet since there are other things failing now ( 😄 ) but looks like it really helps, yes. Thanks! 🙂

[2018-01-31 09:40] WhiteTurbine opened #5428 "Jest 22 Coverage Fail on TS files"
Please re-open - bug still exists:

https://github.com/facebook/jest/issues/5109

Issue remains in the newest version of Jest at a time (22.1.4). Last working version I found was 21.2.1. This issue can be reproduced only on Windows.

Jest is registering same file to Istanbul-lib-coverage twice with path that only differs in case (“c:/” vs “C:/”). This makes Istambul add file twice using “addFileCo

[2018-01-31 09:50] fattydevelop opened #5429 "Can not use custom transfom by runCLI"
**Do you want to request a _feature_ or report a _bug_?**
BUG
**What is the current behavior?**
can not use transform api like other api do.

[code]
here's custom transform define.

[code]

when I console the jest debug info there's no key of `transform `.   And also transform can't work.
![image](https://user-images.githubusercontent.com/3349721/35616058-ff3f758e-06ae-11e8-8707-2223e8d9786b.png)

[2018-01-31 10:28] Athaphian opened #5430 "Diff colors should show green for insert, red for delete"
FEATURE REQUEST

When snapshot testing, the console shows differences between old and new snapshots with a DIFF view. The colors in the DIFF view are reversed as opposed to most other popular tools. Normally green is for inserts and red is for deletions. Jest shows this the wrong way around which is very confusing when using jest in combination with other diff tools (like bitbucket, git diff, inte

[2018-01-31 10:45] SimenB commented on #5109
@WhiteTurbine mind opening a separate issue? Including a reproduction, I highly doubt it's the same issue.

[2018-01-31 10:46] SimenB commented on #5430
See https://github.com/facebook/jest/pull/2347#issuecomment-267639148 for some discussion.

I'm still in favour of doing something like this 🙂

[2018-01-31 10:49] thymikee commented on #5430
This is intended behavior.

Basically, in snapshot land GREEN is the accepted previous state. If something changed, Jest highlights new changes in RED to draw your attention, as this is potentially something that's failing, or just something that needs to be updated.

We get that it may be unintuitive at first glance, but it really makes the most sense. IMO we shouldn't change it.

[2018-01-31 11:01] Athaphian commented on #5430
It might be true that green was the accepted state... but this is a diff between the old snapshot and the new snapshot (the new snapshot will in most cases be accepted anyway). I still feel that stuff that is/will be inserted after a change should be + green and stuff that is/will be removed should be - red..

The number of times me and my coworkers have been searching for a problem that wasn't th

[2018-01-31 11:07] thymikee commented on #5430
Let's not generalize about "most cases", as it varies for different projects. But I'd be supportive to adding a config option, if it's not going to introduce a lot of extra complexity.

[2018-01-31 11:39] Athaphian commented on #5430
That would be awesome!

I agree that it might not be the case for every project indeed.

Thanks for being supportive.

[2018-01-31 11:55] mattphillips opened #5431 "Colors in Node 6 on Travis disabled when running 20+ suites"
**_bug_**

**What is the current behavior?**

Hey I am seeing an issue with Jest in node 6 in [jest-extended](https://github.com/jest-community/jest-extended).

For some reason when there is more than 20 test suites being ran in Jest@22 and Node@6 then colors become disabled. Is this expected behaviour?

Under the hood `jest-extended` is depending on a few bits from the core jest packages includin

[2018-01-31 12:04] SimenB commented on #5431
@thymikee is this the same we're seeing in snapshot-diff?

[2018-01-31 12:05] thymikee commented on #5431
Possibly, it's on Node 6 too, so there's definitely something in common

[2018-01-31 12:08] lmenus commented on #4588
Hi, is there a way to automatically call mock on every test suite? I ran into this (now updated) error message when trying to create a mock module for i18n and call it as `jest.mock('react-i18next', fn);`

[2018-01-31 12:12] fattydevelop commented on #5429
I have found the solution by search source code .

For transform set loadUtils use isJSONString to validate config. So  I must stringify before use.
[code]
I guess other object setting also need stringify before use.  I'll close this issue by case, but it's really confused to stringify a config.  BTW, do we have a chance to modify it or it's by design ?

[2018-01-31 12:12] #5429 closed

[2018-01-31 12:14] Aftabnack opened #5432 "Incremental coverage generation"
**Do you want to request a _feature_ or report a _bug_?**
_feature_

**What is the current behavior?**

* Jest (or any other testing framework for that matter) doesn't have a way of generating incremental code coverage.
* It would be very beneficial when I am trying to cover those last few conditionals to be able to immediately see the updated coverage (either html or text) immediately without hav

[2018-01-31 13:25] stonezzang opened #5433 "Cannot find module A from B in absolute path"
**Do you want to request a _feature_ or report a _bug_?**
bug
**What is the current behavior?**
While testing react component by jest.
I can meet `Cannot find module A from B` in absolute path

[code]

`moduleNameMapper` in  `jest.config.js`
[code]

And already aliased in `webpack.config.js`

When I modified relative path `../../../../common/components/Pop`, I could test it.

So, I saw your git hi

[2018-01-31 16:29] dinvlad commented on #936
@WangHansen yes you're right that it's only needed when one wants to override the original method. I was just throwing an idea for those situations.

One reason why it might have failed for you is asynchronicity. If your method is using callbacks and/or Promises (or async/await), then you need to make sure your expectations are actually executed before your test method terminates. There's a specia

[2018-01-31 17:02] WhiteTurbine commented on #5109
I have in fact opened #5428. Cause might be different but symptoms are identical as in initial comment of this ticket. This is why I asked to re-open.

It might be challenging for me to provide easy way to reproduce because it seems to be slightly intermittent issue. Me and my colleagues had issue appear and disappear on same console when tests were run multiple times. We used runInBand single thr

[2018-01-31 20:25] ljharb commented on #4278
So is there still no way to pass custom options to a custom runner?

[2018-01-31 23:43] ettocs commented on #4727
I have the exact issue. Nothing I enter for `collectCoverageFrom` or `coveragePathIgnorePatterns` appears to have any impact at all on the coverage. :(

[2018-01-31 23:53] ettocs commented on #4727
Update on this. Actually, I do find that it works. What was happening for me was that changes to package.json triggered a re-reun of the tests and coverage, but the updated package.json was NOT reloaded making it seem like nothing I entered worked. I had to quit out of the tests and then `npm test` again, at which point the updates to the `coveragePathIgnorePatterns` would take effect

[2018-02-01 02:11] bdelville opened #5434 "gn"
**Do you want to request a _feature_ or report a _bug_?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**

**What is the expected behavior?**

**Please provide your exact Jest configuration and

[2018-02-01 06:30] #5434 closed

[2018-02-01 06:33] SimenB commented on #5428
Would a `realpath` fix this, I wonder?

[2018-02-01 08:49] alem0lars opened #5435 "rejects doesn't work"
I've tried to use the `await expect(...).rejects` function as documented in https://facebook.github.io/jest/docs/en/tutorial-async.html

However `rejects` it simply doesn't work at all.

This is an error example:

[code]

Of course the promise in that case was a rejection but it wasn't seen as so.

[2018-02-01 09:06] SimenB commented on #5435
Please provide a reproduction, as the template you deleted asks for

[2018-02-01 10:06] rawroland commented on #2059
Thank you for the information.

[2018-02-01 10:12] alem0lars commented on #5435
@SimenB The reproduction is the same as the example in the docs:

[code]

[2018-02-01 10:19] SimenB commented on #5435
That does not include `user.getUserName` implementation, so it's not a full reproduction

[2018-02-01 11:08] alem0lars commented on #5435
@SimenB I've added it.

[2018-02-01 13:13] ashishjan commented on #2663
@magnusart
"jest": {
    "moduleNameMapper": {
      ".+\\.(css|styl|less|sass|scss|png|jpg|ttf|woff|woff2)$": "identity-obj-proxy"
    }
  }
it saves my day. Thanks!!.

[2018-02-01 13:14] shikaan commented on #4262
Same problem here. Any solution or workaround?

[2018-02-01 13:44] mlippens commented on #1849
It's quite confusing that `collectCoverageFrom` must not contain `rootDir` while others must use it.

[2018-02-01 13:44] shikaan commented on #4262
If someone can find it interesting: in my case the problem was that the order of entries in `moduleNameMapper` was wrong... Children should always be **before** parents in that list.

[2018-02-01 14:54] WhiteTurbine commented on #5428
Don't think it would solve whole problem. If you are talking about npm realpath - if I pass c:/abc it spits out c:/abc. If I pass C:/abc, I get C:/abc. It does not seem to normalize drive letter case. Realpath is cool but need to match drive letter as well. I would maybe even do it manually since it looks like corner case for given Jest/Istanbul scenario.

[2018-02-01 16:27] SimenB commented on #5428
Not the native `realpath` either? On node 9, do `fs.realpathSync.native(filepath)` (or `process.binding('fs').realpath(filepath, 'utf8');` on older nodes)

[2018-02-01 17:09] WhiteTurbine commented on #5428
Will try tomorrow at work (writting from mobile).

[2018-02-01 18:14] WhiteTurbine commented on #5428
`> fs.realpathSync( 'C:\\' )
'C:\\'

'c:\\'`

Many default normalization functions ignore case letter because normally it should not matter whether it is upper or lower case. Therefor maybe Jest could have custom normalization function which would combine something like realpath with something like this:

`let normalized = path.replace( /^[a-zA-Z]:/, function( match, offset, input ) { return match

[2018-02-01 19:33] billmalarky opened #5436 "Jest doesn't fail tests when an uncaught exception is thrown in the lagging promise in a Promise.race();"
Before creating an issue please check the following:
* you are using the latest version of Jest
* try re-installing your node_modules folder
* run Jest once with `--no-cache` to see if that fixes the problem you are experiencing.

^ Done.

**Do you want to request a _feature_ or report a _bug_?**
Unsure, this behavior feels broken, but it could be a lacking feature.

**What is the current behavior

[2018-02-01 20:01] markFromMST commented on #5332
I see the problem even at the command line locally, 21.2.1 exits properly:

[code]

22.0.0 is when it started failing to exit properly (and it doesn't even seem to catch its own errors, I can't show the full error, but here is what I can show):

[code]

[2018-02-01 20:44] szeller commented on #5332
@markFromMST I think that's potentially a different problem.  For the one that I'm encountering, the failure count is always correct and the exit value is the only thing that is wrong

[2018-02-01 21:57] bdelville commented on #5434
Sorry about that noise, I don't know how I got it created.
Thanks so much for your work

[2018-02-01 23:02] #5199 closed

[2018-02-01 23:13] jonathan-stone commented on #5290
Thanks @vovkasm, I hadn't seen that before. Very helpful! I'll use that in the docs update.

[2018-02-02 00:08] mjesun commented on #5332
Removing all `process.exit` is not feasible. It's correct to think that `process.exitCode` + just returning is the best approach; but dealing with user code can introduce references that are not properly freed (think about tested code using `setInterval` without a `clearInterval` that un-references the timer).

The only change done lately to exit codes is in #5313, but the change was pretty straig

[2018-02-02 01:22] egid commented on #5325
I'm not convinced that symlinking everything is the right solution to what is definitely a real issue. It might be worth reopening this.

[2018-02-02 01:40] szeller commented on #5332
@mjesun I agree that PR #5313 was fairly straightforward but that's the commit that caused the problem that I'm referencing 😉  You can test that my test repo works fine with the release previous to that change and fails using the version with that PR in it.  It looks like there are some odd issues on some platforms with exit that were never fixed.  It sounds like something similar to the bug that

[2018-02-02 01:45] aleen42 opened #5438 "About badge in the document"
I have created a new badge for Jest with the project [**badges**](https://github.com/aleen42/badges), and I hope it can be accepted to be an official one. Thanks.

[![jest](https://rawgit.com/aleen42/badges/master/src/jest_1.svg)](https://cdn.rawgit.com/aleen42/badges/master/src/jest_1.svg)

[2018-02-02 03:52] jcguarinpenaranda commented on #4842
Hello, has someone been able to fix this error?

[2018-02-02 06:40] deftomat opened #5441 "globalSetup and globalTeardown are ignored in projects."
**Do you want to request a _feature_ or report a _bug_?**
Bug.

**What is the current behavior?**
`globalSetup` and `globalTeardown` are ignored when they are defined inside a project.

**If the current behavior is a bug, please provide the steps to reproduce**
I'm using the following `jest.config.js`:
[code]

**What is the expected behavior?**
I'm not sure if this is an expected behaviour or not.

[2018-02-02 06:44] manu-st commented on #3577
I have the issue. In my tests, I'm using the `tmp` npm module which adds a `exit` handler to `process`. Each time a new test file is executed, it adds the handler again, and as a consequence I'm getting the warning mentioned above regarding the maximum number of event listener being reached.

Calling `mock` or `resetModuiles` doesn't work as it breaks the behavior of my tests. What is the proper s

[2018-02-02 07:27] SimenB commented on #5368
#5426

[2018-02-02 07:27] #5368 closed

[2018-02-02 07:32] SimenB commented on #5435
That example works correctly: https://repl.it/repls/HumongousKnottyMilkweedbug. It fails because the `toEqual` part is wrong, but it rejects correctly - there is no
[code]

[2018-02-02 07:32] #5435 closed

[2018-02-02 07:46] thymikee commented on #5441
Can you please provide a repro?

[2018-02-02 08:33] thymikee commented on #5438
Nice! I wonder if lighter (e.g. white) background under the logo wouldn't be better?

[2018-02-02 08:34] thymikee commented on #5438
cc @cpojer @ericnakagawa

[2018-02-02 09:36] frenic commented on #4444
This is a major issue for me and nothing has happened with `graceful-fs` since November 2016 of what I can see. So I'm getting quite pessimistic that the fix @mekwall provided won't be merged any time soon. Is there any temporarily solution we can use other than the `-i` flag and the resolution workaround?

[2018-02-02 10:21] aleen42 commented on #5438
The badge is generated with the official designed logo with SVG formatted, and if you want a lighter white border, I have to say I do need abother source file.

[2018-02-02 10:24] thymikee commented on #5438
Sorry for the confusion, I mean the background, not the logo color 😅
<img width="397" alt="screen shot 2018-02-02 at 11 23 32" src="https://user-images.githubusercontent.com/5106466/35728341-8f2e74bc-080b-11e8-94d0-f0664d9ebe0f.png">
<img width="61" alt="screen shot 2018-02-02 at 11 23 59" src="https://user-images.githubusercontent.com/5106466/35728349-9697eb8e-080b-11e8-8494-243baa47e4af.png">

[2018-02-02 10:27] cpojer commented on #5438
This is cool!

[2018-02-02 10:51] aleen42 commented on #5438
@thymikee greate idea, and I will make it true soon.

[2018-02-02 16:30] rightaway opened #5444 "Interactive snapshot update not working"
I'm using the latest jest and starting it with `jest --watch /path/tests/**/*.js`, but when I have a test failure due to a failing snapshot, I can't interactively update the snapshots by pressing `i` as the console says. When I press `i` nothing happens, but the other keys are working fine.

[2018-02-02 16:33] lemes commented on #2291
@dotfold @rogeliog I was able to make it work with a babel plugin: https://www.npmjs.com/package/babel-plugin-transform-react-stateless-component-name

[2018-02-02 16:34] lemes commented on #1824
@stief510 I was able to make it work with a babel plugin: https://www.npmjs.com/package/babel-plugin-transform-react-stateless-component-name

[2018-02-02 17:39] mjesun commented on #5332
Thanks @szeller for the repro repository, it definitely helped tracking down the problem 🙂

I manually patched my `node_modules` folder with the proposed change in #5445 and looks like the message (`exit is broken`) is not shown anymore when redirecting to a file.

[2018-02-02 18:32] zwhitchcox opened #5446 "Jest giving wrong line number for error"
**Do you want to request a _feature_ or report a _bug_?**
Bug report

**What is the current behavior?**
It gives the line number a few lines above where the error actually is. The error should be on line 7, where Object.assign is run, but it is giving the error on line 10.

Sourcemaps appear to be working, but this particular instance, they didn't for some reason.

I made a repo https://github.com

[2018-02-02 18:35] rafaelramalho19 commented on #5371
In your code you've called the `jest.useFakeTimers` on a `beforeAll`.

If you replace that with `beforeEach` and your `afterAll` with `afterEach`, it works (https://repl.it/@Rafazelramalho/CarelessNormalAssassinbug)

Do you really require it to be `beforeAll` and `afterAll`?

[2018-02-02 18:56] zwhitchcox commented on #5446
I also copied my code to the react official example, and it had the same problem

[2018-02-02 19:49] rickhanlonii commented on #5444
@rightaway I'm not able to reproduce, can you push a repo that reproduces?

Here's what I see in 22.1.4 with running `yarn --watch jest --watch ./**/*.spec.js` from [this](https://github.com/rickhanlonii/jest-issue-5444) repo

![](http://dp.hanlon.io/2M163S1x1q0j/Screen%20Recording%202018-02-02%20at%2002.47%20PM.gif)

[2018-02-02 20:08] rickhanlonii commented on #5446
@zwhitchcox that repo is empty 😬

[2018-02-02 20:09] zwhitchcox commented on #5446
Sorry! Just pushed!

[2018-02-02 20:53] #5332 closed

[2018-02-02 21:03] jessecarfb commented on #5197
It seems weird to me that an optional parameter would become required in the mock - padding with undefined actually seems like it would provide the expected behavior. @SimenB, can you elaborate why you see it as a footgun?

[2018-02-03 00:15] rickhanlonii commented on #5446
Confirmed - the failure is shown on line 10 but the code is on line 7.

![](http://dp.hanlon.io/200x2i0b0W33/Image%202018-02-02%20at%203.38.44%20PM.png)

Code:

![](http://dp.hanlon.io/3f1d2S330K0h/Image%202018-02-02%20at%203.40.06%20PM.png)

FWIW converting the exports to commonjs will show the correct line so this is probably babel related:

![](http://dp.hanlon.io/1B1M3B1Z0v1e/Image%202018-02-0

[2018-02-03 00:16] alexilyaev commented on #5371
Yes, the current workaround is to `useFakeTimers` on `beforeEach`, but that's not the expected behavior.

If I understand correctly, `useFakeTimers` mocks `setTimeout` and the like with Jest mock functions, so they're supposed to act like all other `jest.fn()` and `jest.spyOn()` mocks.
In that sense, running `resetAllMocks` should reset the calls tracking of the mocks, but keep the actual mock int

[2018-02-03 00:36] HeroProtagonist commented on #5311
I noticed something that I believe might be related to this. I ejected from create-react-app to get to the testing scripts.

[code]

That works and exits the test suite if I add a promise rejection into a test. When I upgrade Jest from `20.0.4` -> `^22.1.4` the promise warning is displayed and test suite successfully goes into watch mode. I would think jest would still fail as in the older version

[2018-02-03 00:40] jessecarfb commented on #5197
I guess the concern would be jest saying that a test passed when required parameters weren't actually supplied. I'm still not fully convinced though since I don't think it's jest's job to be a linter, and taking a step back, I think it makes sense for the test to pass in this scenario.

[2018-02-03 00:59] rightaway commented on #5444
It looks like the behavior I mentioned is for when I change the name of a test case, is it expected?

[2018-02-03 03:23] rickhanlonii commented on #5444
Ah, so this is what you see? Pressing `i` from this view does nothing.

![](http://dp.hanlon.io/161v3w2O0r1B/Image%202018-02-02%20at%2010.22.23%20PM.png)

Short term we could remove the `i` option in this case

[2018-02-03 03:49] jwbay commented on #5436
I don't think Jest will be able to catch cases like this without patching/intercepting JS built-ins. For Promise.race in v8 (I'd assume this is in spec), all other promise results after the first seem to be discarded and basically invisible, whether they're resolved or rejected. The global unhandledRejection event is not fired for later rejections.

[2018-02-03 03:52] jwbay commented on #5446
Does this repro without `jest-sourcemaps`? Custom transformers currently can't map stacktraces and code frames against original source code. I would think out-of-the-box `babel-jest` would work here.

[2018-02-03 03:54] zwhitchcox commented on #5446
No, it wasn't working, and I added that thinking it might work

[2018-02-03 04:16] rickhanlonii commented on #5446
@zwhitchcox it would be helpful if you could remove everything you can from the test repo

@jwbay I had the same thought, but I tested and it's not related to `jest-sourcemaps`

[2018-02-03 04:38] rickhanlonii commented on #5446
I created the absolute minimum repo: https://github.com/rickhanlonii/jest-issue-5446

See the comment here for an interesting finding:

![](http://dp.hanlon.io/452G0l2A2b1J/Image%202018-02-02%20at%2011.34.43%20PM.png)

[2018-02-03 04:41] zwhitchcox commented on #5446
Thanks, sorry, I would've done that, but I'm not home right now. And yeah, I think it's probably babel, but Facebook de facto owns anything related to the internet anyway, right??

[2018-02-03 08:54] aleen42 commented on #5438
- [![jest](https://rawgit.com/aleen42/badges/master/src/jest_1.svg)](https://cdn.rawgit.com/aleen42/badges/master/src/jest_1.svg) A badge used for projects using Jest for testing JavaScript
- [![jest](https://rawgit.com/aleen42/badges/master/src/jest_2.svg)](https://cdn.rawgit.com/aleen42/badges/master/src/jest_2.svg) A badge used for projects using Jest for testing JavaScript

[2018-02-03 09:34] rightaway commented on #5444
Yes, that's the same behavior I see. Was thinking there would be an interactive prompt to show the changed names.

[2018-02-03 09:46] rightaway opened #5451 "jest.unmock shows overridden value"
Both console.logs show 'MOCKED', but the second one should show 'ORIGINAL' because that was the original value in the `pkg` module.

[code]

[2018-02-03 10:08] thymikee commented on #5451
Jest.unmock is hoisted to parent describe scope, that's why it doesn't affect your code. What you need here is to use jest.doMock and jest.doUnmock https://facebook.github.io/jest/docs/en/jest-object.html#jestdomockmodulename-factory-options

[2018-02-03 10:18] rightaway commented on #5451
So this will only work when you directly `require` the `pkg` module in the test file. Is there no way to make it work when `pkg` is used in a module `require`d by your test file? So if the test file requires `misc` which requires `pkg`, I'd like to mock it out for one test then restore it at the end. Would this be a valid feature request as it doesn't seem to be possible currently?

[2018-02-03 11:51] tomitrescak commented on #2567
Any idea why `doMock` works and `mock` does not? Weird bit for me was also that if I put the variable with name "MockedComponent" I received an error, but when I put "mockedComponent" there was no error, but the reference was "undefined".

[2018-02-03 13:04] SimenB commented on #5446
Vaguely related to #5449. If I apply the same changes here as I propose in there, this is the error:

![image](https://user-images.githubusercontent.com/1404810/35767345-12636f42-08eb-11e8-9b95-32b8bbd54158.png)

[2018-02-03 14:41] faucct commented on #2567
The ‘jest.mock’ calls get moved from ‘it’ calls to the outer closure by a preprocessor and it does not work very well. ‘jest.doMock’ calls aren’t affected by a preprocessor.

[2018-02-03 14:45] gaearon commented on #5311
I don't think our intention was to exit the test suite btw (that sounds pretty annoying).

The only reason we added that line is to make sure errors *in our scripts* (not in the actual tests!) crash early.

[2018-02-03 17:44] HeroProtagonist commented on #5311
@gaearon But if what you are asking about is the case

```Does it mean that when Node changes behavior as it advertises in the deprecation warning, all tests that print this message will start crashing the process?```

Then wouldn't it be desired to crash the suite. Since on a remote it would crash the whole server? I'll need to google and see if in the future uncaught rejections will truly exit t

[2018-02-03 17:52] elvisvoer opened #5452 "Error running jest tests on jest master branch"
Hey guys,

I am planing to make a PR but for some reason I am getting a lot of errors running jest tests in the master branch on a clean clone:

[code]

Node version: `v8.9.4`, yarn version: `0.17.8`

[2018-02-03 18:31] rickhanlonii commented on #5452
A clean install works for me, can you try upgrading your version of yarn and re-installing dependencies?

[2018-02-03 19:15] SimenB commented on #5452
You need a version of yarn at least 1.0.0. Highly recommended to use latest (1.3.2 at time of writing)

[2018-02-03 19:15] #5452 closed

[2018-02-03 21:50] elvisvoer commented on #5452
Not sure why you'd assume the package manager is at fault here but it didn't solve it. Still getting the same errors with yarn `v1.3.2`.

[2018-02-03 22:14] elvisvoer commented on #5452
I am not sure why you'd think the package manager is at fault here. Installed yarn `v1.3.2`, clean its cache and re-installed the dependencies but still facing the same issues.

[2018-02-03 22:16] elvisvoer commented on #5452
The error happens at `$ flow check --include-warnings` step if that helps. Also I am on a 64-bit Ubuntu 16.04 distribution.

[2018-02-03 23:50] rockchalkwushock commented on #3602
@WangHansen

Have you looked at some of the other comments left on the StackO post? This should really be something you ask on StackO as it probably is not an issue related to `jest` as much as it is that the `mongoose` connection is not terminating so `jest` cannot terminate as well.

https://stackoverflow.com/questions/44036189/jest-not-terminating-after-tests-complete-successfully

[2018-02-03 23:50] andrewzey commented on #5416
I have the exact same issue when upgrading from jest version 21.2.1 to 22.1.4. This is a complete blocker for upgrading, as my CI depends on coverage.

[2018-02-04 00:42] dioklecijan commented on #5417
Run jest with `--showConfig` and you will see that each project's `rootDir` is overwritten with the  directory in which the config file resides.  My workaround is to put one common `jest.config.js` in root dir. Something like:

[code]

[2018-02-04 11:37] rightaway opened #5455 "before/afterEach across test files"
It would be useful to be able to specify a 'global' type of beforeEach and afterEach that would apply across tests in every test file. There are things I need to do before and after each test in every test file I have and have to have the before/afterEach in every one of my test files, which is not ideal.

[2018-02-04 11:45] wojtekmaj commented on #2081
I have two almost identical libraries (Jest-wise) and one of them is throwing these errors for me, the other one is not. I'm going crazy at this point :(

Both libraries have same Jest setup, same versions defined in package.json, using roughly the same syntax. Both have `.babelrc` file with `transform-es2015-modules-commonjs` specified regardless of the environment.

This one is running fine:
htt

[2018-02-04 14:02] SimenB commented on #5452
Since we use yarn workspaces to install dependencies, which were first introduced in yarn 1.

I can only reproduce your error if I install with npm, you need to use yarn to link things together properly.

[2018-02-04 14:21] kyhy commented on #5038
Following workaround in https://github.com/facebook/jest/issues/4635 fixed the issue.

https://github.com/facebook/jest/issues/4635#issuecomment-337132601

[2018-02-04 14:30] elvisvoer commented on #5452
I did use yarn 1.3.2 but maybe I have some old things going on. I will try it in a clean VM and get back to you.

[2018-02-04 17:20] rickhanlonii commented on #5455
@rightaway have you seen the [setupFiles option](https://facebook.github.io/jest/docs/en/configuration.html#setupfiles-array)?

These files will before each test suite. Since each test suite is sandboxed you may not need a teardown

[2018-02-04 20:09] thymikee commented on #5455
You can put beforeEach/afterEach in [setupTestFrameworkScriptFile](https://facebook.github.io/jest/docs/en/configuration.html#setuptestframeworkscriptfile-string), `setupFiles` runs before injecting Jest's globals.

[2018-02-04 20:09] #5455 closed

[2018-02-04 20:09] #5451 closed

[2018-02-04 20:13] thymikee commented on #5438
Looks cool! The second one fits nicer in GitHub's light theme imho. Feel free to send a PR adding these to README and maybe under "Join the community" section in https://facebook.github.io/jest/en/help.html? :)

[2018-02-04 20:21] robdonn commented on #4255
I'd also be interested if there has been any further development on this. I've got MPR running all of my tests in my monorepo perfectly now but the coverage is the last piece that just does not want to play nice.

[Sample repo](https://github.com/robdonn/jest-projects)

The tests run over every bit of code in the repository but the coverage report says that it's incomplete.

I'm getting a similar

[2018-02-04 20:28] renatobenks opened #5456 "ReferenceError: async is not defined when specified targets in babel-preset-env"
**Do you want to request a _feature_ or report a _bug_?**
It's a bug with babel-preset-env using target node. I caught this with target node as current, may can be related.

**What is the current behavior?**

When I'm running my tests with `babel-preset-env` configured to transpile using target node, It's throwing this following exception for some tests:

[code]

![screen shot 2018-02-04 at 18 10

[2018-02-04 21:17] robdonn opened #5457 "Coverage incomplete using `projects`"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**

- All tests run with their correct configuration
- A single coverage report is cr

[2018-02-04 22:53] #5444 closed

[2018-02-05 01:16] aleen42 commented on #5438
👌

[2018-02-05 07:43] deftomat commented on #5441
@thymikee Sure, here it is https://github.com/deftomat/jest-global-setup-issue.

**Expected behaviour:**
Global Setup/ Global Teardown should create a new files in root of this project.

Instead, they are ignored. It works only when you move them outside of _e2e_ project.

[2018-02-05 07:54] cameronlowry commented on #4444
Does --runInBand not work for you @frenic?

[2018-02-05 08:12] SimenB commented on #5456
Can you provide a repo containing a reproduction we can pull down and install?

[2018-02-05 09:26] hujiulong opened #5459 "ReferenceError: babelHelpers is not defined"
**Do you want to request a _feature_ or report a _bug_?**
bug
**What is the current behavior?**
When I use` babel-plugin-external-helpers`, the program throws an exception
[code]

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**
r

[2018-02-05 09:32] TrySound commented on #5459
@hujiulong Just don't use external helpers for jest. It means you should add them manually or your build system should add them for you like rollup does. Jest don't do this.

[2018-02-05 09:43] frenic commented on #4444
That's the same as `-i` and yes, it works. But unfortunately it's not sustainable in the long run for larger projects.

[2018-02-05 09:43] hujiulong commented on #5459
@TrySound I see, thank you!

[2018-02-05 09:43] #5459 closed

[2018-02-05 09:57] SimenB commented on #4444
I guess we could fork and publish our own, but it doesn't seem like the fix works for everybody

[2018-02-05 10:56] rightaway commented on #5455
It's not possible to save some context in `beforeEach` in the  `setupTestFrameworkScriptFile` file that can be accessed in each test?

[2018-02-05 11:00] thymikee commented on #5455
You can write some side effects to file system, but the context is not shared, as Jest runs your tests in sandboxed VMs – because of that we can parallelize stuff safely.

[2018-02-05 11:04] deftomat commented on #5441
Also, I find out that globalSetup and globalTeardown are ignored when you use _jest --projects packages/foo_ in yarn workspaces. Even when setup and teardown from foo package are not wrapped in "projects" property.

So, basically the same error: setup and teardown are ignored if they are required by project. Using a _jest --projects_ is just another way how to "wrap" them into a project.

In anoth

[2018-02-05 11:06] rightaway commented on #5455
Thanks for the explanation. I couldn't find info on how Jest parallelizes tests, does it run tests within each test file sequentially but runs test files in parallel? Or does it even run tests within test files in parallel? Is there a way to configure how many it does in parallel, or does Jest decide that by itself?

[2018-02-05 11:10] thymikee commented on #5455
Test files are run in parallel, test functions inside a file are run sequentially. By default Jest spawns N-1 workers, where N is your CPU cores. In watch mode it's cut by half. You can specify `-w=x` flag for spawning `x` parallel node workers (each running in its own thread) or `-i` to run with just one worker.

[2018-02-05 11:13] primavera133 opened #5461 "'Error: "toString()" failed' due to keeping logfiles in a folder"
**Do you want to request a _feature_ or report a _bug_?**
bug

**What is the current behavior?**
We recently switched test framework to Jest and I was not able to run them locally anymore. It worked just fine on my colleagues computers. The Error message was kind of cryptic so it was hard to find the root cause but it turned out I had som non-checked-in log files in a folder in my project that jes

[2018-02-05 11:21] rubenazevedoff commented on #4444
I'm up with the same situation, but in my case, --runInBand doesn't work.

[2018-02-05 11:35] SimenB commented on #5461
Could you create a repro we can pull down to see the behavior?

/cc @jeanlauliac

[2018-02-05 12:48] mildrenben opened #5462 "react-test-renderer does not work with ref methods"
**Do you want to request a _feature_ or report a _bug_?**
Report a bug

**What is the current behavior?**
Ref methods cause an error to be thrown

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**
[code]

`Cannot read property 'add

[2018-02-05 13:48] deftomat opened #5463 "Nested projects are ignored"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
Running `jest` in monorepo ignores projects in packages.

Minimal repo: https://github.com/deftomat/jest-nested-projects-issue

**What is the expected behavior?**
Should run all projects in all packages. In another words: Should run nested projects.

**Environment**
Jest: v22.1.4
Node: v8.9.4
OS: macOS

[2018-02-05 14:40] wellyal commented on #2663
@mbaranovski It worked just fine when I ran only jest for test. Sadly when I try to run through the react-scripts from create-react-app I get

```Out of the box, Create React App only supports overriding these Jest options```

Is there a workaround for this ? Or the only solution is to eject create-react-app?

[2018-02-05 14:54] #5322 closed

[2018-02-05 15:27] SimenB commented on #2663
I don't think CRA supports that option. I'm not sure why it wants to close down options, probably a good reason 🙂

/cc @gaearon

[2018-02-05 17:21] alan-agius4 opened #5468 "Invalidate cache for file in custom transformer?"
I am creating a custom tranformer and based if thete is an error in code it emit an error.

However, I noticed that this only works if i specify —no-cache. As if the file is saved to cache it won’t trigget the transform plugin again.

Is there a way to remove an item from cache, or make the item with an error so that when it is re-run it re emits the err9r? Basicily what I am doing is a simply ‘th

[2018-02-05 17:44] thymikee commented on #5468
Use `getCacheKey`. Here you'll find something on this, although it's not properly documented: https://facebook.github.io/jest/docs/en/troubleshooting.html#caching-issues

[2018-02-05 17:44] #5468 closed

[2018-02-05 18:49] davidpelayo commented on #3285
Any hints on what was the solution for this?

[2018-02-05 19:05] ryzokuken commented on #5113
I'd like to pick this up as my first contribution to the project. Could anyone guide me with this?

[2018-02-05 19:07] xfumihiro commented on #5424
The globals are "sandboxed" between test suites by design.
For your use case, filing the sessionKey and access it in each tests will work.
See this [guide](https://facebook.github.io/jest/docs/en/puppeteer.html)

[2018-02-05 19:08] #5424 closed

[2018-02-05 19:19] thymikee commented on #5462
Do you have a repro of that? Does `Cannot read property 'addEventListener' of null` comes from Jest or `react-test-renderer`? I'd assume the latter, but who knows without a repo and full error message 🤷‍♂️

[2018-02-05 20:24] popkutty opened #5469 "googleapis module issue with mocking single method"
I'm using `googleapis` module which has so many apis and methods. I tried all the possible below thing, nothing working. Why the common approach for mocking is differentiating by modules.

My production code:
[code]

I want to mock `iam` method of `googleapis` module

Try 1:
[code]

Try 2:
[code]

Why these 2 ways not working.?

[2018-02-05 20:32] pedrottimark commented on #3847
@shai32 Am looking at `toHaveProperty` assertion in `expect` package again and have questions about the screen picture in your https://github.com/facebook/jest/issues/3847#issuecomment-326799416

* Was `expect(response).not.toHaveProperty('headers.authorization')` test slow only when it **fails** or even when it passes?
* Does rewriting it in form of following line solve the slow problem: `expect(

[2018-02-05 21:47] ranyitz commented on #5469
👋 @popkutty

I'll try to explain how this can be done using jest.
The following are some of the possible solutions:

1. [Automatic mock](https://facebook.github.io/jest/docs/en/es6-class-mocks.html#automatic-mock)

[code]

2. [simple mock using module factory parameter](https://facebook.github.io/jest/docs/en/es6-class-mocks.html#simple-mock-using-module-factory-parameter) (_Try 2_)

[code]

[2018-02-05 22:23] ranyitz commented on #5463
Hey @deftomat

I think this is rather a misuse of the feature rather than a bug in jest.

While the `projects` array can run jest in multiple repositories in parallel, it uses only one `jest.config.js` file. You can also configure jest to run different configurations in different directories, for example, to achieve the desired behavior in your example project, put this as the main `jest.config.js

[2018-02-05 22:32] idangozlan commented on #4565
@cpojer I can't find out how your response related to the issue.

@Deilan , I'm experiencing the same thing, is there any solution run beforeAll that runs only once even if im using multiple test files?

[2018-02-05 22:36] popkutty commented on #5469
@ranyitz
Option 1:
I don't want to know if the method is called or not, I want to mock that method to return my desired value.

Option 2:
Will not work for me. because my production code is
`require('googleapis').iam()` Not `require('googleapis')().iam` Hope you can see the different.

[2018-02-05 22:56] ranyitz commented on #5469
@popkutty I see.
So just do the following and you're settled :wink:

[code]

[2018-02-05 23:03] thymikee commented on #5469
Thank you @ranyitz! That should be sufficient

[2018-02-05 23:03] #5469 closed

[2018-02-05 23:05] #5438 closed

[2018-02-05 23:08] ranyitz commented on #5457
Hey @robdonn
I've tried to recreate the issue locally.

1. Cloned to your sample project.
2. Ran `yarn`
3. Ran `yarn test`

Although I have matched versions of node, yarn, and even MacOs High Sierra I could not recreate it.

<img width="1099" alt="screen shot 2018-02-06 at 0 29 55" src="https://user-images.githubusercontent.com/11733036/35832281-63746378-0ad5-11e8-9bf6-5effe37ece52.png">

[2018-02-05 23:10] thymikee commented on #5463
Whoa, didn't expect such usage to be honest. Projects nested inside other projects, projectception!
It's definitely not a bug, but a lack of feature. We should first discuss if we want projects to be used this way.

[2018-02-05 23:32] popkutty commented on #5469
@ranyitz Thank you 🙏 I spent whole day and had 2 coffee.

[2018-02-05 23:37] ranyitz commented on #5469
@popkutty
You are welcome 🎉

[2018-02-05 23:50] ranyitz commented on #5433
Hey @stonezzang

I think you should use the `moduleDirectories` option as explained in [this guide](https://facebook.github.io/jest/docs/en/webpack.html#configuring-jest-to-find-our-files).

A suggested configuration object will look like this:

[code]

[2018-02-05 23:52] agm1984 commented on #3601
Here is my solution:

[code]

I tried many other ways, and this has shown the most robust promise for testing functions that can throw for multiple different reasons.

[2018-02-06 00:20] ranyitz commented on #5423
The Jest philosophy is to [work great by default](https://facebook.github.io/jest/docs/en/configuration.html#options) and the question is whether to ignore tests under `.git` or any `.` prefixed directory.

I'm not sure though if this is a broad use case.
What do you say @thymikee?

In any case, if we decide to go with one of the solutions:

We can also ignore the `.git` directory as a whole using

[2018-02-06 00:51] rileylnapier commented on #5457
i have this same problem too and its been driving me nuts

[2018-02-06 01:04] ranyitz commented on #5421
:wave: Hey @FezVrasta

If I could debug your use case I could provide a better help.
Can you recreate this issue in a smaller example project, so I could see it locally and debug it?

____________________
If you rather debug it yourself, here is some information:

This error gets thrown when calling the `readConfig` function with an object, and `parentConfigPath` is not defined.

https://github.co

[2018-02-06 01:12] idangozlan opened #5470 "globalSetup and globalTeardown are not running under babel"
when globalSetup and globalTeardown getting run, they are not running with babel as the rest of the jest test files.

Jest v22.
Node v6.11.4

[2018-02-06 01:16] mhsjlw commented on #1767
Incredibly strange, I was trying to figure this out, I uninstalled watchman using `brew uninstall watchman` like @BookOfGreg and it now works.

[2018-02-06 01:49] astrotim commented on #1650
@joshduck they don't wanna [see ↑](https://github.com/facebook/jest/issues/1650#issuecomment-279366570)

[2018-02-06 01:54] idangozlan commented on #5424
@xfumihiro if so, is there anyway to create DB connection and share it between all of the test files or it should be done by connection every file to the DB again and again?

[2018-02-06 03:24] xfumihiro commented on #5424
@idangozlan sharing states between tests is an anti-pattern.
DB connections are pooled in production anyway, so I don't see why not do the same in test.

[2018-02-06 03:41] idangozlan commented on #5424
@xfumihiro
On what phase do you recommend seeding the test DB? At the beginning of the Jest run / each test suite/file?

[2018-02-06 04:07] xfumihiro commented on #5424
@idangozlan Again, I think it's bad practice to couple tests with states(data). Best having a fresh state on every test suite.

[2018-02-06 04:09] idangozlan commented on #5424
Got it! Thanks for helping!

On Feb 5, 2018 20:07, "Fumihiro Xue" <notifications@github.com> wrote:

[2018-02-06 04:35] zwhitchcox commented on #3832
Can this be used to set a global variable? I tried, but it doesn't work....is this by design?

[2018-02-06 05:24] manu-st opened #5471 "mapCoverage not always consistent"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
We have a TypeScript project where we use `mapCoverage` set to True and `ts-jest`. For some files (maybe 2 or 3 out of ~100), the coverage seems to be done on the generated JavaScript or is completely wrong.

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it

[2018-02-06 05:55] zwhitchcox opened #5472 "Feature Request: Make `globals` variable accessible in globalSetup"
**Do you want to request a _feature_ or report a _bug_?**
request a feature

**What is the current behavior?**
when running globalSetup code, there is no way to set up global variables, for instance, my use case is a global log function, which intelligently prints all the information I need, but I'm sure there are other use cases too.

[2018-02-06 07:26] thymikee commented on #3832
@zwhitchcox use setupFiles config option: https://facebook.github.io/jest/docs/en/configuration.html#setupfiles-array

[2018-02-06 07:29] thymikee commented on #5472
There's `setupFiles` config option just for that. It will be run before every test and you can define your globals there, just not share their state between tests. Please use the docs or see our help page https://facebook.github.io/jest/en/help.html

[2018-02-06 07:29] #5472 closed

[2018-02-06 07:30] thymikee commented on #5423
Honestly that never happened to me. Do you have a repro?

[2018-02-06 07:34] jerdie opened #5474 "Reset all doMock"
**Do you want to request a _feature_ or report a _bug_?**
 _feature_

**What is the current behavior?**
Been through the docs and i wish to reset all of my doMocks but all the reset does not work.
- files mocked with doMock does not reset when doing:
        jest.resetModules();
        jest.clearAllMocks();
        jest.resetAllMocks();
        jest.restoreAllMocks();

**If the current behavior i

[2018-02-06 07:37] zwhitchcox commented on #5472
Ahhhhhhhhhhhhhh

[2018-02-06 10:14] RivetAlan opened #5475 "ar"
**Do you want to request a _feature_ or report a _bug_?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**

**What is the expected behavior?**

**Please provide your exact Jest configuration and

[2018-02-06 10:40] #5475 closed

[2018-02-06 10:52] automeow commented on #5124
Using `window.history.pushState` and `testUrl` worked for me

https://github.com/facebook/jest/issues/5124#issuecomment-359411593

[2018-02-06 10:55] mildrenben commented on #5462
@thymikee  Here is a repo https://github.com/mildrenben/jest-ref-issue

I believe it's being thrown by `react-test-renderer`

[2018-02-06 12:00] JamieMason commented on #4534
Works in jest@22.1.4

[code]

[2018-02-06 12:00] #4534 closed

[2018-02-06 13:17] janpieterz commented on #5322
Thanks a lot @mjesun !

[2018-02-06 14:02] rafaelramalho19 commented on #5371
@SimenB would you suggest updating the docs or looking into this particular issue?

[2018-02-06 14:07] SimenB commented on #5371
I was not aware that we made `setTimeout` and friends into spies - I'm not sure how that will work once we start using Lolex (#5165).

So for now I'd say we should document the current behaviour. Thoughts @cpojer @thymikee?

[2018-02-06 15:14] rickhanlonii commented on #5423
I am not able to reproduce on jest@latest, [here's the repo](https://github.com/rickhanlonii/jest-issue-5423/tree/foo.spec.js)

![](http://dp.hanlon.io/1B390r1e2J1H/[41f9055c2e7be246af91cdc462d2e22b]_Image%202018-02-06%20at%2010.11.18%20AM.png)

@mfulton26 if you can't push a repo could you at least post your jest config?

[2018-02-06 15:17] martijnthe commented on #4156
@kumar303 did you end up submitting a PR? I'd like to have this as well.

[2018-02-06 15:32] kumar303 commented on #4156
I still intend to submit one but I haven't been able to find time between my other work priorities. If anyone else beats me to it, please let me know so I can help test it out!

My idea was to export [`DefaultReporter`](https://github.com/facebook/jest/blob/faf8883049d6a15e9dcf7e4cfb936e1790c9f3b1/packages/jest-cli/src/reporters/default_reporter.js) from [jest.js](https://github.com/facebook/jest/

[2018-02-06 15:38] thymikee commented on #5371
@SimenB haven't thought about that either. Would be quite a breaking change with Lolex.

[2018-02-06 18:22] krenor opened #5477 "Incorrect coverage generated using async/await with TypeScript"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**

Using TypeScript Jest does not generate a correct coverage when using `async` (a little less worse in combination with `await` inside).

<img width="670" alt="2018-02-06_19 18 50" src="https://user-images.githubusercontent.com/13726968/35876454-a2cf63cc-0b72-11e8-84bb-969f21549983.png">

**If the curr

[2018-02-06 18:30] rogeliog opened #5478 "Todo items for watch plugins"
https://github.com/facebook/jest/pull/5399 was merged, and it rewrites some parts of the watch mode to support third party plugins.

There are still some follow up items that need to be done.
- [x] Add documentation for watch plugins. https://github.com/facebook/jest/pull/5895
- [x] Allow plugins to override the usage of a key. A plugin should be able to take keys like "p"  and "t" https://github.

[2018-02-06 19:06] SimenB commented on #5477
See docs of `ts-jest`: "To generate coverage results, set the `mapCoverage` property in the `jest` configuration section to `true`."

This gives 100% coverage in your case

[2018-02-06 19:06] #5477 closed

[2018-02-06 19:13] SimenB commented on #5462
You've linked to the correct issue in react's tracker - `react-test-renderer` does not support `ref`. You can either use ReactDOM or enzyme to do a real render.

[2018-02-06 19:13] #5462 closed

[2018-02-06 19:17] SimenB commented on #5462
Also see React docs about `createNodeMock`: https://reactjs.org/docs/test-renderer.html#ideas

[2018-02-06 19:25] thymikee commented on #5478
How about `getDisplayUsage()` or even `displayUsage()`?

[2018-02-06 19:41] SimenB commented on #5124
Going to close this as there's nothing to do on Jest's side, and workarounds exist (feel free to continue the discussion!)

[2018-02-06 19:41] #5124 closed

[2018-02-06 19:44] SimenB commented on #5474
[code]

Makes the tests pass

[2018-02-06 19:46] glasser commented on #5470
I'm seeing this too.

[2018-02-06 19:47] SimenB commented on #5470
Duplicate of #5164

[2018-02-06 19:47] #5470 closed

[2018-02-06 19:48] glasser commented on #5164
Is there a workaround here? I'd like to be able to load some support code in globalSetup that uses ES6 modules and I'd prefer to not have to rewrite all of it back to requires/exports.

[2018-02-06 19:49] SimenB commented on #5164
No current workaround that I know of, sorry. PR welcome here, though 🙂

[2018-02-07 02:14] caub opened #5480 "Change -w alias to --watch instead of --maxWorkers"
I don't think `--maxWorkers` is as frequently used as `--watch`

And -w corresponds more to watch

`--maxWorkers` could be -max, -m or whatever

[2018-02-07 03:16] jerdie commented on #5474
Sorry for the incompleteness in the description of my request.
What i'm trying to achieve is to remove all of the doMock so that I wont put many dontMocks in beforeEach so it will be much cleaner.

[2018-02-07 03:38] finch001 commented on #2219
i have the same issue it work with yarn test --u --no-watchman

[2018-02-07 04:27] Edistra opened #5481 "Inconsistent coverage report if using jest config.json from sub directory"
I don't get the same coverage report depending of the location of my jest config.json.

I made a repository to reproduce the issue https://github.com/Edistra/jest_coverage_report_issue

I've just written a simple function file and its associated test in src folder.

My jest.config.json, at the root of my project, looks like

[code]
I've got another one in a config folder with the appropriate paths

[2018-02-07 07:17] SimenB commented on #5474
Is this supposed to also clear mocks coming from `__mocks__` directories?

[2018-02-07 08:47] bogas04 opened #5484 "Add a new videos page to the website"
As discussed in https://github.com/facebook/jest/pull/5482, we probably need a videos page to list all tutorials/talks/conf videos.

[2018-02-07 08:50] thymikee commented on #5480
This has already been discussed, but how about we check if the -w is a boolean or number and then decide which flag to apply? I recently caught myself on using -w 😅

[2018-02-07 09:01] cpojer commented on #5463
I think I'd be happy for this to be supported. We just need to change the project merging to be recursive.

[2018-02-07 09:02] cpojer commented on #5425
test.concurrent is experimental and doesn't support done at the moment. You'll have to return a promise.

[2018-02-07 09:02] #5425 closed

[2018-02-07 09:06] cpojer commented on #5153
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2018-02-07 09:06] #5153 closed

[2018-02-07 09:07] #5023 closed

[2018-02-07 09:09] ranyitz commented on #5480
Agree with @caub

The `watch` option is something you'll find yourself typing in the terminal much more than `maxWorkers` which is something you'll usually preconfigure in a script.

Also, other test runners [use this alias](https://mochajs.org/#-w---watch).

@thymikee I find it confusing when an alias is calling two different options depends on its type.

[2018-02-07 09:17] cpojer commented on #5337
Jest doesn't run on a device and therefore cannot import real bridged modules. The ones you are receiving in your version of React Native are all mocked within the React Native package. I suggest sending a PR for that to fill in the mocks the way you'd like.

[2018-02-07 09:17] #5337 closed

[2018-02-07 09:19] cpojer commented on #5480
I don't think we'll be making a breaking change like this which could cause quite unexpected changes to people who run Jest in various different environments. I recommend making a shortcut like `w` in your `scripts` section and running `yarn w` which is even shorter :)

[2018-02-07 09:19] #5480 closed

[2018-02-07 09:20] cpojer commented on #5436
^ what @jwbay said.

[2018-02-07 09:20] #5436 closed

[2018-02-07 10:37] jerdie commented on #5474
No, only mocks created inside the test. I think it's better to retain the mocks from __mocks__. These mocks are useful because users can set the default behavior in react native and modules that use httpRequest.
Maybe create a separate reset for this?

[2018-02-07 10:40] SimenB commented on #5474
I'm just afraid it'll be confusing - "why are only some of my module mocks being reset?". @cpojer thoughts?

[2018-02-07 10:42] cpojer commented on #5474
Mocks are toggles, so if you want to swap them out or stop mocking, you have to mock/unmock them explicitly. I don't see a reason to change anything here.

[2018-02-07 10:42] #5474 closed

[2018-02-07 11:16] maximilianschmitt commented on #2284
This would be so helpful, we're having the same issue as @guyellis

[2018-02-07 12:21] mildrenben commented on #5462
`createNodeMock` seems perfect, thanks!

[2018-02-07 12:29] JakeSidSmith opened #5488 "Invalid version of babel-jest in jest-runtime"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the current behavior?**

Incompatible version of `babel-jest` spcified in `jest-runtime`.

[code]

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**

**What

[2018-02-07 12:33] Simpleqode commented on #5488
Got the same error while trying to install critical.

[2018-02-07 12:36] gson88 commented on #5488
Have had the same problem for ~2 hours.
It started working for us now though.

[2018-02-07 12:39] JakeSidSmith commented on #5488
I fell back to `21` so I can continue work. Still cannot install latest version.

[2018-02-07 12:42] jeroenvandergeer commented on #5488
Similiar problem here when installing jest:"

`Couldn't find any versions for "jest-jasmine2" that matches "^22.2.0"`

[2018-02-07 13:03] mansdahlstrom1 commented on #5488
Experiencing the same issue, downgrading to jest 22.1.4 still has dependencies that takes the latest version of babel-jest since it specified in the dependencies package json with `^version` and not only as ´version´

Errors from installing with `"jest": "^22.1.1"`, `"jest": "^22.1.4"` and `"jest": "^22.1.1"`
`No compatible version found: babel-jest@^22.2.0`

[2018-02-07 13:22] thymikee commented on #5488
Does it only happen with `npm`? I didn't have any problems using `yarn`.

[2018-02-07 13:24] JakeSidSmith commented on #5488
Okay, so the latest version of babel-jest is 22.2, and some of my colleagues are not having this issue. May be npm caching?

https://www.npmjs.com/package/babel-jest

[2018-02-07 13:39] JakeSidSmith commented on #5488
`npm cache clean` made no changes. Neither did restarting my machine.

[2018-02-07 13:41] JakeSidSmith commented on #5488
Out of interest, is anyone here running npm enterprise?

[2018-02-07 13:52] mjesun commented on #5488
Looks like an `npm` issue. We have however just released `jest@22.2.1` with a minimal patch, so maybe this will help mitigate the problem.

[2018-02-07 13:54] JakeSidSmith commented on #5488
@mjesun yeah. Still not sure how to fix it though. Probably best to leave this issue open for a while for anyone else experiencing the issue.

[2018-02-07 14:01] SimenB commented on #5488
22.2.0 is here: https://registry.npmjs.org/babel-jest, so this seems like a caching issue

[2018-02-07 14:13] mjesun commented on #2284
I like the idea, worker classes wrapping child processes are internally stored in an array, getting each a positionary id; so it shouldn't be hard to add an extra variable. The relevant code can be found [here, for the worker instantiation](https://github.com/facebook/jest/blob/9797f2362db5569aa21584461504f8c8823fc06a/packages/jest-worker/src/index.js#L76-L77) and [here, for the process spawn](htt

[2018-02-07 14:43] Simpleqode commented on #5488
Seems like 22.2.1 fixed the issue.

[2018-02-07 14:48] #5488 closed

[2018-02-07 14:57] fega commented on #2441
`jest ^21.2.1` and `node 8.9.4`

Jest still doesn't throw console logs sometimes, `--verbose` option doesn't solve problem for me. I don't get why this issue is closed.

[2018-02-07 15:03] aymericbouzy commented on #3601
@agm1984 your test will pass if `addItem` does not throw, unless you use `expect.assertions` : [Documentation](https://facebook.github.io/jest/docs/en/expect.html#expectassertionsnumber)

[2018-02-07 15:29] SimenB commented on #2441
@fega since nobody has provided a reproduction case we can pull and test on.

[2018-02-07 16:20] skkap commented on #4842
We are using .mjs with "node --experimental-modules" option. Any workaround?

[2018-02-07 17:01] aymericbouzy opened #5490 "[feature] Custom static matchers"
**Do you want to request a _feature_ or report a _bug_?**

feature

**My need**

I'm trying to assert that an object has 2 keys where values are Date-like objects at a specific time (in this case, using `moment`).

This is my best solution at the moment:
[code]
**What I would like my code to look like**

[code]
**Suggested API**

It is already possible to extend matchers in this way :

[code]

If

[2018-02-07 17:03] JakeSidSmith commented on #5488
I can now see `22.2.0`, but not `22.2.1`. At least I can install jest now. :)

[2018-02-07 17:36] mail2gopinath opened #5491 "npm installation of Jest failing"
Hi,
  npm install of jest fails with the error message "No compatible version found: jest-runner@^22.2.0" being a dependency for jest-cli.

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_m
odules\\npm\\bin\\npm-cli.js" "install" "--save-dev" "jest"
npm ERR! node v6.10.1
npm ERR! npm  v3.10.10
npm ERR! code ETARGET

npm ERR! notarge

[2018-02-07 18:32] icfantv commented on #5491
We're currently investigating this as well on OSX.  We're not sure if this is an issue with our Artifactory server or an incorrectly configured transient Jest dependency.

[2018-02-07 18:50] SimenB commented on #5490
Duplicate of #4711. PR welcome!

[2018-02-07 18:50] #5490 closed

[2018-02-07 18:51] jdalton commented on #4842
That's experimental and not fully fleshed out. There is lots of churn still with basic things, like how to import a builtin module, still up in the air.  Projects like AVA have started allowing the use of `@std/esm` as their loader pipeline if used (bypassing Babel). Maybe jest could take a similar approach.

[2018-02-07 19:48] kachkaev opened #5492 "Test durations are inaccurate in for certain concurrent tests"
**Do you want to request a _feature_ or report a _bug_?**
bug

**What is the current behavior?**

`test.concurrent` does not produce correct test durations. See MVP in
https://repl.it/@kachkaev/concurrent-test-durations-in-jest

**What is the expected behavior?**

[code]

Looks like the a variable that stores start time is being reused by other tests and this causes incorrect durations.

[2018-02-07 19:50] ranyitz commented on #2284
Hey @mjesun
I'll be happy to create a PR for this!

[2018-02-07 20:25] SimenB commented on #2284
Go for it 🙂

[2018-02-07 20:26] SimenB commented on #5492
`test.concurrent` is still somewhat experimental (the reason it's not documented), but a PR fixing it would be appreciated 🙂

[2018-02-07 20:27] SimenB commented on #4842
Supporting `@std/esm` is something we want to do, help to implement it is more than welcome!

[2018-02-07 20:28] mjesun commented on #2284
@ranyitz can't assign you, but I picked it so others don't re-pick it. Feel free to implement it, and thanks for the contribution! ☺️

[2018-02-07 21:06] mjesun commented on #5488
Are you directly talking to NPM? Looks like something in between is doing evilish things 😛

[2018-02-07 21:40] reggi opened #5493 "Feature Request: Throw error if first argument to "it" or "test" is not a string"
Coming from ava, you don't need test descriptions.

The following would work.

[code]

However, this doesn't do anything in jest.

Can we throw an error if there is no function as the second argument? Or if a string is not passed into the first?

[2018-02-07 21:42] cpojer commented on #5493
Yeah, do you wanna send a PR to make this throw? :)

[2018-02-07 21:45] aymericbouzy commented on #5490
@SimenB I've not contributed to the repo yet : do you feel like it's a good first task?

[2018-02-08 01:13] ranyitz commented on #2284
Thanks @SimenB @mjesun :blush:
Here it is #5494

[2018-02-08 03:17] jdalton commented on #4842
@SimenB Can you chat sometime on hangouts?

[2018-02-08 03:24] evictor opened #5495 "toHaveProperty returning unexpected result"
**Do you want to request a _feature_ or report a _bug_?**

_bug_

**What is the current behavior?**

Oddly, toHaveProperty is incorrectly marking a failure. As you can see in the error details below, it _should_ be passing:

[code]

The test passes when I convert the expect from using toHaveProperty to an 'ordinary' expectation:

[code]

**Please provide your exact Jest configuration and mention y

[2018-02-08 07:02] SimenB commented on #5495
Can you create a reproduction case we can pull down?

[2018-02-08 09:49] JakeSidSmith commented on #5488
Really not sure what's going on. Tried clearing npm cache, DNS cache, restarting Mac, restarting router, checking that I was hitting the same IP as my colleagues, made sure there was nothing in my hosts that could be messing with it, uninstalled and reinstalled npm. Today I am on the same network as people that it was working for and `npm info babel-jest` still shows the latest version as `22.2.0`

[2018-02-08 13:06] #2284 closed

[2018-02-08 13:09] semanser commented on #2081
I solved just by installing babel-jest:
`npm i babel-jest`

Also, do not forget to create a `.babelrc` file with the following content:
[code]

[2018-02-08 13:09] SimenB commented on #4104
#4512

[2018-02-08 13:09] #4104 closed

[2018-02-08 13:57] mail2gopinath commented on #5491
Today I was able to install successfully , might be transient issue with the dependencies.

[2018-02-08 13:57] #5491 closed

[2018-02-08 14:24] aymericbouzy commented on #4711
I'm a total newbie but interested in helping if someone guides me around!

[2018-02-08 14:26] reggi commented on #5493
@cpojer I'd love to. Thanks for the feedback.

[2018-02-08 15:26] StephanBijzitter opened #5498 "babel-jest 22.2.0 lowered our coverage significantly"
**Do you want to request a _feature_ or report a _bug_?**
Bug.

**What is the current behavior?**
Everything works, but our line coverage compared to 22.1.0 is significantly less, without _any_ code or test changes.

**What is the expected behavior?**
Everything works, and our line coverage remains the same.

**Please provide your exact Jest configuration and mention your Jest, node,
yarn/npm vers

[2018-02-08 16:20] SimenB commented on #5498
This should be fixed #5496. @mjesun mind releasing a patch?

[2018-02-08 16:29] dstarosta commented on #1561
I am seeing the same problem in Jenkins build jobs with Node v8.9.4 and Jest 22. On a local PC it works fine. The problem goes away when I downgrade to Jest 21.3.0-beta.

[2018-02-08 16:35] dstarosta commented on #5498
I am not sure if this is related. I am seeing duplicate file records in the coverage output. The secondary lines reduce the coverage because they are not reported with 0 coverage.

The strange part is it only happens in Jenkins jobs. The HTML report also has duplicate lines and low coverage. Downgrading Jest to v21 fixes the issue.

Here is a partial example:

  -----------------------------------

[2018-02-08 17:53] reggi commented on #2603
One thing is preventing me from coming up with another viable API for this.

I have a conceptual issue with is the following:

Let's say I have the following function.

[code]

But the argument to this function is a class instance.

[code]

I have no way of storing the input arguments `doSomethingAsync` because I am incapable of stringifying `instanceOfdata` and playing it back.

Does anyone have

[2018-02-08 19:12] evictor commented on #5495
I created [this repo](https://github.com/evictor/facebook-jest-issue-5495) but it's not reproducing... So going to close this for now.

[2018-02-08 19:12] #5495 closed

[2018-02-08 19:45] pedrottimark commented on #4711
@aymericbouzy Welcome to Jest! I will read your recent issue and review this issue on Friday.

Here are some first steps:

1. Read `https://github.com/facebook/jest/blob/master/CONTRIBUTING.md`
2. Fork the Jest repo
3. Clone your fork to your computer
4. Follow contributing instructions under **Workflow** including `yarn install` and `yarn test`

Bonus: If you find anything in `CONTRIBUTING.md` th

[2018-02-08 20:20] asapach commented on #4444
I've checked the `graceful-fs` override with the latest version of Jest and unfortunately it no longer seems to work as reliably since I last tested it. There's still non-zero chance that it runs into a race condition on large test suites.

[2018-02-08 21:01] msholty-fd commented on #5498
If you're running into this issue and need to solve this immediately, set `"retainLines": true` in your repo's `.babelrc`. I'm not 100% sure of the implications but [from the documentation](https://babeljs.io/docs/usage/api/) it appears it's just a line number thing for sourcemaps?

[2018-02-08 22:11] StephanBijzitter opened #5499 "<rootDir> is not respected by collectCoverageFrom"
**Do you want to request a _feature_ or report a _bug_?**
I want to report a bug.

**What is the current behavior?**
When using `<rootDir>/foo/bar` as a value for `collectCoverageFrom`, no coverage is being collected at all.
<img width="526" alt="screen shot 2018-02-08 at 23 00 57" src="https://user-images.githubusercontent.com/1649903/36000677-f8d32d82-0d23-11e8-94c6-50503ef5d32e.png">
However, u

[2018-02-08 22:24] dstarosta commented on #5498
`"retainLines": true` in the `.baberc` did not fix my issue.

[2018-02-09 06:20] SimenB commented on #5498
Oh, if adding `retainLines` didn't help, then it's another issue... Are you able to create a reproduction case?

[2018-02-09 06:22] jariztia commented on #2098
How can I test a localStorage failure to test the catch path?

[2018-02-09 07:19] SimenB commented on #5481
This diff fixes it:

[code]

[2018-02-09 07:19] #5481 closed

[2018-02-09 07:24] SimenB commented on #5481
Would probably be fixed by https://github.com/facebook/jest/pull/4587

[2018-02-09 07:26] SimenB commented on #5471
Without a reproduction case, there is nothing actionable for us here. Can you provide one?

[2018-02-09 09:00] aymericbouzy commented on #4711
Hi @pedrottimark! Thanks 😃 I've done all that alright 👍 Not exactly sure what you mean by *Workflow*, but I've run both commands successfully.

I must say the experience of opening the repo in VS Code and having the recommended extensions showing up is impressive 🤩 Especially the *Jest* extension looks incredible !

[2018-02-09 09:14] #4618 closed

[2018-02-09 09:46] #5484 closed

[2018-02-09 10:01] aymericbouzy commented on #4711
mh that's weird, when jest extension runs from VS Code, there are a lot of problems with the test snapshots, it says almost all of them have changed 🤔
Going back to running the tests from my terminal.

[2018-02-09 12:46] vire opened #5507 "jest-haste-map: @providesModule naming collision warnings in docker"
I might have found a bug issue with running jest iside `node:alpine` container

**What is the current behavior?**

`docker run -it node:alpine /bin/sh`

`yarn add jest`

`jest`

there are messages with **@providesModule naming collision** for all packages
[code]

**What is the expected behavior?**

In docker jest should work like on the host OS (OSX) where it works without errors.

Docker for mac:

[2018-02-09 12:47] conatus commented on #2442
Just encountered this issue from using `react-loadable`.

The workaround above works, but is this perhaps something to be added to the documentation? Thanks.

[2018-02-09 13:06] vire commented on #5507
When running with some tests I've also get an error for jest-haste-map

[code]

[2018-02-09 13:35] vire commented on #5507
Well it's **not a bug** it's because the `rootDir` is `/`  in the container

[2018-02-09 13:59] #5507 closed

[2018-02-09 15:01] jpokrzyk commented on #4127
TLDR: Put a try/catch in your unit test

I was getting this error when a third party package returned a Promise.reject that I wasn't catching anywhere. If I just catch it in a try/catch block, then re-throw the same error everything works as expected.

I'm using typescript with `ts-jest`

I'm also using `axios` that I mock myself with jest. So this thread sent me in the wrong direction trying to t

[2018-02-09 15:04] mtrabelsi commented on #3285
What about this - it solved mine :
[code]

[2018-02-09 15:06] mgcrea opened #5509 "jest.setTimeout in setup file does not properly apply such timeout globally"
When using a global setup file.

I'm overriding the default global timeout in a setupFile with:
[code]

Test should fail but it looks like the default timeout of 5000ms keeps getting used (I'm using `--runInBand`).

Is this expected behavior? If yes, what is the proper way to override globally this default timeout?

Thanks.

[2018-02-09 15:24] mgcrea commented on #5509
Had to use `setupTestFrameworkScriptFile` to make it work.

[2018-02-09 15:24] #5509 closed

[2018-02-09 16:06] manu-st commented on #5471
Unfortunately, the issue does not reproduce constantly. It just happens sometime but when it does, it usually breaks our builds since it causes the coverage requirements to fail.

I was hopping to some guidance on how we could debug this kind of issue.

Although this is not reported in the initial submission, we are running on Windows.

[2018-02-09 16:13] dstarosta commented on #5498
The problem is it only happens when the build process is running in Jenkins build server.

[2018-02-09 16:53] evan-scott-zocdoc opened #5510 "Feature Requests: Negations for asymmetric matchers"
**Do you want to request a _feature_ or report a _bug_?**
feature

**What is the current behavior?**
there's no way to test an inverse value for the `expect.*` helpers

**What is the expected behavior?**
It should be possible to negate expects like: `expect.not.stringContaining('')`

[2018-02-09 17:27] thymikee commented on #5471
Maybe it has something to do with race conditions because of non-atomic reads/writes of cache?

[2018-02-09 17:39] AlexTwine commented on #4883
Having same problems when specifying items under `moduleNameMapper`.  e.g.

[code]

[2018-02-09 18:26] AlexTwine commented on #4883
I solved the problem by deleting the directory `.vscode` in my root.

[2018-02-09 18:37] jamesrusso commented on #5428
I am seeing the same issue using 22.2.2. I am on OSX, so I don't have the same drive letter issue?

[code]

[2018-02-09 19:02] jamesrusso commented on #5428
I ran into the same issue, but it was caused by doing an import using two different cases. Notice the **t** vs **T**

[code]

vs

[code]

This caused tsc to generate both files in the output.

[2018-02-09 21:41] anescobar1991 commented on #5510
Do you mean like [this](https://facebook.github.io/jest/docs/en/expect.html#not)? :)

[2018-02-09 21:58] etcetera8 commented on #5401
```npm install jest-cli ``` fixed this one for me

[2018-02-09 21:58] evan-scott-zocdoc commented on #5510
Yes but that only works for `expect()` syntax. It doesn't work for `expect.stringContaining` for example.

[2018-02-10 06:25] dgoldstein0 commented on #3839
I discovered this independently this week.  Wish I had read this thread before banging my head into it.

To summarize/recap, for anyone who doesn't want to read the whole thread: calling `done` with a param causes the test to fail (expects no params - so changing to `() => done()` works) and awaiting or returning a rejected promise from the test, that is not rejected via an exception (e.g. `it("fo

[2018-02-10 11:24] SimenB commented on #3839
The done case can probably be fixed quite easily as you mention.

For promise we can at least point back to the originating test, in addition to a message. We have the location of all tests in the results object behind a flag (https://facebook.github.io/jest/docs/en/cli.html#testlocationinresults) - we can ask the user to provide the flag and rerun the test for us to have it available.

[2018-02-10 12:23] SimenB commented on #2442
It's mentioned at the bottom here: https://facebook.github.io/jest/docs/en/webpack.html#using-with-webpack-2

[2018-02-10 12:24] SimenB commented on #5395
Happy to reopen if you can provide a reproduction case!

[2018-02-10 12:24] #5395 closed

[2018-02-10 12:28] SimenB commented on #5428
@WhiteTurbine see using native `realpath`:

![image](https://user-images.githubusercontent.com/1404810/36062128-46e21e28-0e66-11e8-942f-bd60d8536a42.png)

[2018-02-10 12:30] SimenB commented on #5510
I think that makes sense. Wanna send a PR for it?

[2018-02-10 12:32] SimenB commented on #5471
FWIW we're looking into removing `mapCoverage`: #5177

[2018-02-10 12:39] SimenB commented on #4127
Also see #3839

[2018-02-10 12:39] dgoldstein0 commented on #3839
Fwiw I think the both cases already points to the right test.  So the only
improvement for promises is to give a better error message.

On Sat, Feb 10, 2018, 3:24 AM Simen Bekkhus <notifications@github.com>
wrote:

[2018-02-10 13:39] SimenB commented on #5401
Should be fixed in newer versions of jest. See #5294, #5304 and #5353

[2018-02-10 15:07] SimenB commented on #3756
#5514

[2018-02-10 15:07] #3756 closed

[2018-02-10 16:25] #5288 closed

[2018-02-10 16:29] manu-st commented on #5471
What does it implies? Without mapCoverage, the generated HTML or line report were completely invalid for us since we use TypeScript and ts-jest. Is this being replaced by something else or does it mean it is not necessary anymore?

[2018-02-10 16:30] SimenB commented on #5471
It won't be necessary, it'll be the default behaviour

[2018-02-10 18:05] SLedunois opened #5516 "Apollo react import not transpiled when running jest tests"
Hi guys.

I'm currently experimenting an issue with my new React project using React and GraphQL Apollo. Here is my stack :
- Webpack to build/dev to project
- Babel to transpile javascript/jsx files
- Jest to run tests
- Enzyme to test my react components

The issue: When I run my tests, it seems that Apollo react client is not transpiled and throw tests :
[code]

My jest configuration is :
[code

[2018-02-10 18:11] cpojer commented on #5516
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2018-02-10 18:11] #5516 closed

[2018-02-11 02:52] reggi commented on #5493
@brianmacdonald sure

[2018-02-11 04:35] xianxingg opened #5518 "Feature Request: block console messages."
eg i want to test a function `foo` in `a.js`, and `foo` will log many info into console.
so is it possible to write the `a.test.js` in some way that is able to block the console.log messages?

a.test.js
[code]

[2018-02-11 06:57] mgenov opened #5519 "angular-mocks issue with initialization"
I'm trying to migrate existing angular es6 codebase to use jest instead of karma + jasmine and I'm encountering an issue with angular-mocks.

https://github.com/angular/angular.js/blob/master/src/ngMock/angular-mocks.js#L2799

Inject and angular.mock.module are support only for jasmine and mocha and this is why I've tried to simulate the jest environment to be like jasmine from jest.init.js:
[code

[2018-02-11 07:14] English3000 opened #5520 "End-to-End Testing React App with Jest"
**BUG w/:** https://github.com/English3000/crdwk/blob/master/frontend/pages/home/__tests__/AuthForm-test.js

**Expected behavior:** tests should pass

**Current behavior:** tests fail

The issue is in this part:

[code]

**Jest config:**

[code]

**OS:** Mac

[code]

I am trying to build intuitive end-to-end tests (which I could ideally also use for React Native), e.g. click this button and these

[2018-02-11 09:08] cpojer commented on #5518
Unfortunately, that is not possible. However, you can do `console.log = jest.fn()` and then later check the values of the mock function.

[2018-02-11 09:08] #5518 closed

[2018-02-11 09:08] cpojer commented on #5519
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2018-02-11 09:08] #5519 closed

[2018-02-11 09:09] cpojer commented on #5520
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2018-02-11 09:09] #5520 closed

[2018-02-11 09:13] xianxingg commented on #5518
@cpojer will this method also block jest's log messages?

[2018-02-11 10:52] yiakwy opened #5521 "cannot import old style codes in test scripts _bug_"
**Do you want to request a _feature_ or report a _bug_?**
_bug_:
(1) When used with es6 "import" keyword, I tested a working solution
[code]

(2) However, if I work it in jest (Facebook unit test framework for es6)

both the above codes and following codes do not work
[code]

The constructor developed here is strange for me.

**What is the current behavior?**

**If the current behavior is a bug, p

[2018-02-11 11:18] SimenB commented on #5521
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions.

[2018-02-11 11:18] #5521 closed

[2018-02-11 11:28] SimenB opened #5522 "Allow jest-validate to print deprecation warnings for CLI flags"
**Do you want to request a _feature_ or report a _bug_?**
Feature

**What is the current behavior?**
When `jest-validate` was created in #2524, it came with support for printing deprecation warnings in configuration.

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we c

[2018-02-11 11:38] Aftabnack commented on #5522
Is this taken? Can I work on this?

[2018-02-11 11:39] thymikee commented on #5522
@Aftabnack not taken :)

[2018-02-11 11:47] SimenB commented on #5499
This is expected, as the docs point out it's relative to `rootDir` in the first place. I agree it's confusing though, PR welcome to at least strip out `<rootDir>/` if it's provided.

https://github.com/SimenB/jest/blob/f29c03ea0c97d97aede05b5c1a97ce04a953d3f9/packages/jest-cli/src/cli/args.js#L154-L159

[2018-02-11 13:23] Aftabnack commented on #5522
It's mine then. 😉

[2018-02-11 14:38] SimenB commented on #5416
OP is better tracked in https://github.com/istanbuljs/istanbuljs/issues/139 - nothing we can do in Jest.

@andrewzey your issue is probably different if it worked on older versions of Jest, can you confirm?

[2018-02-11 14:40] SimenB commented on #4588
@lmenus add your mock to a file called `react-i18next` in `__mocks__`. See https://facebook.github.io/jest/docs/en/manual-mocks.html

[2018-02-11 14:42] #5433 closed

[2018-02-11 14:50] SimenB commented on #5203
How is this related to jest? If a teamcity reporter isn't working, that should be reported over there (I don't know which package it is)

[2018-02-11 14:50] #5203 closed

[2018-02-11 14:52] SimenB commented on #5202
I think this would be difficult without also solving #3874. So closing this as that one was closed, although we might revisit in the future

[2018-02-11 14:52] #5202 closed

[2018-02-11 17:49] StephanBijzitter commented on #5499
Ah, yeah it would be nice for consistency if `rootDir` can be used, even if it means ignoring it. Will take a look, this sounds like a nice first contribution!

[2018-02-11 19:06] ryzokuken commented on #5113
Will do, thanks a lot.

On Sun 11 Feb, 2018, 8:18 PM Simen Bekkhus, <notifications@github.com>
wrote:

[2018-02-11 19:14] SimenB commented on #5257
`babel-jest` will start returning `{code, map}` after #5177 is merged. This is behind an option, so `babel-jest` should behave the same for consumers. Rolling this issue into that.

Option will be removed in the next major version of Jest

[2018-02-11 19:14] #5257 closed

[2018-02-11 19:25] alechp opened #5525 "babel-jest plugin & babel 7 incompatibility"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
[babel-7-jest](https://www.npmjs.com/package/babel-7-jest) does work for me.
[babel-jest](https://www.npmjs.com/package/babel-jest) does _not_ work for me.

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a mi

[2018-02-11 20:11] andrewzey commented on #5416
@SimenB Not sure, I've simply held off on upgrading for now. Some time later today, I will try to put together a minimum repo that reproduces the problem, and report back here.

[2018-02-11 20:33] thymikee commented on #5525
See the docs on using Jest with Babel 7: https://facebook.github.io/jest/docs/en/getting-started.html#using-babel

[2018-02-11 20:33] #5525 closed

[2018-02-11 21:39] #5499 closed

[2018-02-11 21:47] thymikee opened #5526 "Investigate CircleCI cache failures"
Asked a question on their [help forum](https://discuss.circleci.com/t/permission-denied-when-unpacking-cache/14526/3?u=thymikee).
I'll keep this issue updated, when I get some answers.

[2018-02-11 22:34] alechp commented on #5525
Package usage isn't up to date with repo

[Getting Started * Jest](https://facebook.github.io/jest/docs/en/getting-started.html#using-babel) Says:
`Note: Explicitly installing regenerator-runtime is not needed if you use npm 3 or 4 or Yarn`

[npm/babel-jest](https://www.npmjs.com/package/babel-jest) does not include this warning:
<img width="712" alt="screen shot 2018-02-11 at 2 27 00 pm" src="htt

[2018-02-11 22:40] lmenus commented on #4588
@SimenB Ah, missed that, thank you! This certainly reduces it to a mere `jest.mock('react-i18next');` now!

[2018-02-12 02:31] modosc commented on #5326
the fix was reverted [here](https://github.com/SimenB/jest/commit/a064cd95d5472c21e0351fb4d8df03286c5a9d50) and as of `babel-jest@22.2.2` the problem is back, can you reopen this please?

[2018-02-12 07:41] SimenB commented on #5326
After merging #5177, we should be OK to remove it again.

[2018-02-12 07:48] aakula-edmunds opened #5527 "Single file testing doesn't work correctly after migration to Jest 22"
**Do you want to request a _feature_ or report a _bug_?**
a _bug_

**What is the current behavior?**
Jest tries running test 2 times instead of 1
- 1st run is successful
- 2nd run fails with unmatched snapshot error if such test scenario exists

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
re

[2018-02-12 09:21] lukeapage opened #5529 "Feature: Solve problems with using custom reporters"
**Do you want to request a _feature_ or report a _bug_?**

Feature

**What is the current behavior?**

Test reporters overwrite the current reporters, so all logic needs to be duplicated.
For instance we switched on `jest-simple-dot-reporter` which works for the most part, but then we had an issue where the exist code was 1 but we had no output and it turned out to be snapshots no longer used, whi

[2018-02-12 09:38] odykyi commented on #2441
`$ jest --verbose`

this command will show all console logs

[2018-02-12 09:58] vitalybe commented on #4262
I had experienced similar issues with jest **v20.0.4** upgrading to **v22.2.2** solved that issue.

[2018-02-12 10:50] antony opened #5530 "Feature: Allow multiple test reporters"
**What is the current behavior?**

Currently you can pass a single test reporter so that your tests results are formatted.

**What is the expected behavior?**

Where jest is lacking in contrast to other frameworks, is that you can only ever pass a single reporter. Our business wants a visual, html display of test results, output by CI (CircleCI), and our developers want the built-in junit-xml resu

[2018-02-12 10:51] antony commented on #5530
This seems to work for me in config, but not on the console. Will re-try and re-report if required.

[2018-02-12 13:13] wilhelmklopp commented on #5401
This is what made the error go away for me too 🙌
Just updating jest didn't work for me :/

[2018-02-12 13:21] capaj opened #5531 "TypeError: Cannot read property 'result' of undefined at isAfterAll when I comment out all "it" blocks"
**What is the current behavior?**

Jest in watch mode tries to parse results and fails with:
[code]

**What is the expected behavior?**
Jest just logs something like:
[code]
without breaking the watch mode and without throwing any errors.

**Please provide your exact Jest configuration and mention your Jest, node,
yarn/npm version and operating system.**
I don't think this depends on a version of

[2018-02-12 14:19] maartenschumacher commented on #4473
Exposing globals make it harder to type check as well: https://github.com/flowtype/flow-typed/issues/251

[2018-02-12 14:40] bali182 opened #5533 "Unexpected token import when importing re-exported named exports"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**

The issue is with importing re-exported named exports. This repo demonstrates the

[2018-02-12 17:00] SimenB commented on #5197
[code]

In your suggestion, only the first assertion would fail, not the second. I disagree `undefined` should be treated special here.

If so, we should have a `toHaveBeenCalledWIthExactly` which has the current behaviour (whilst fixing the bad error message on missed `undefined`s), but that would be super breaking.

[2018-02-12 17:11] brianlmacdonald commented on #5493
Please correct me if I'm off base, but from what I can tell, jest-Jasmine2 is running 'test' and 'it', and not jest-circus, which, I'm assuming will eventually replace jest-Jasmine2.  So should I get the errors to throw in both places? Or just one?

[2018-02-12 17:23] jessecarfb commented on #5197
That makes sense, thanks for the example @SimenB.  I'll publish a PR that has a better error message.

[2018-02-12 17:27] eliranhe commented on #4643
+1

[2018-02-12 17:32] rickhanlonii commented on #5533
Hey @bali182, this appears to be a configuration issue. Going to close since this issue tracker isn't a help form, but if you open up an issue on StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) I can help there.

[2018-02-12 17:32] #5533 closed

[2018-02-12 17:48] bali182 commented on #5533
@rickhanlonii Thanks for taking the time to look at this!

I fail to see though how this is a configuration issue. I'm trying to test JS with valid syntax, which transpiles with babel/webpack, but fails to do so when using Jest and the tooling around Jest.

[2018-02-12 17:52] Aftabnack commented on #5522
https://github.com/facebook/jest/blob/55c342af240a8aa1acb487a253a6ade4a8a4f4a1/packages/jest-cli/src/cli/args.js#L306-L312

* I am planning to add two more attributes to this here, called `isDeprecated` (boolean) & `deprecationMessage` (string)
* I will have a generic template which will print all the deprecation warnings. Avoids the need to have a `jest-config/src/deprecated.js` with functions to

[2018-02-12 18:02] SimenB commented on #5197
No worries. Sorry about the late response, I somehow missed your replies in here.

[2018-02-12 18:04] SimenB commented on #5522
I think that makes sense! 🙂 @thymikee knows this part of the code better than me, though

[2018-02-12 18:17] Aftabnack commented on #5522
Also, we don't merge CLI flags with the `config.js` options. Is this intended? If we don't merge, then deprecation warnings may end up twice. Is this OK?

IMO, we should have CLI flags override it's values specified in the config.

[2018-02-12 18:40] rickhanlonii commented on #5533
No sweat!

I tested your branch by switching to babel-preset-env and the tests passed, which tells me this is a config issue:

![](http://dp.hanlon.io/01183w1q1j0G/Image%202018-02-12%20at%201.39.16%20PM.png)

[2018-02-12 18:42] SimenB commented on #5522
I agree

[2018-02-12 18:50] a-n-d-r-3-w commented on #3520
Upgrading from jsdom v8.5.0 to v11.6.2 solved the issue for me. So my `package.json` includes:
    "jest": "^20.0.4",
    "jsdom": "^11.6.2",

[2018-02-12 18:51] CamJN commented on #1767
This is still broken in High Sierra with a `create-react-app` generated app, node v9.5.0,
 npm 5.6.0, and jest 18.1.0.

[2018-02-12 20:29] reggi opened #5538 "Async / Await expect().toThrow() does not work as expected"
I'm trying to assert that a promise throws an error with Async / Await.

[code]

This is what I'm getting:

[code]

Any thoughts? Does Jest not support this? Or am I using it incorrectly?

[2018-02-12 20:33] reggi commented on #5538
https://github.com/facebook/jest/issues/1377

[2018-02-12 20:33] #5538 closed

[2018-02-12 20:37] a-n-d-r-3-w commented on #5124
Upgrading from jsdom v8.5.0 to v11.6.2 solved the issue for me. So my `package.json` includes:

    "jest": "^21.2.1",
    "jest-cli": "^21.2.1",
    "jsdom": "^11.6.2",

It breaks if I upgrade jest and jest-cli to v22.2.2.

[2018-02-12 20:38] arunvelsriram opened #5539 "Mock state getting cleared automatically"
This seems to be a bug. When mocking `reactotron-react-native` I found that mock's state is getting cleared (set to default empty values) automatically.

I added `console.log` at each step to test this. The mock state is getting updated after a call. But it is becoming empty before my assertion statement.

[code]

Here is a minimal repository to reproduce it [jest-issue](https://github.com/arunvel

[2018-02-12 21:40] bali182 commented on #5533
I guess it's time to modernize =) thanks for having a look!

[2018-02-12 22:53] SimenB commented on #5198
#5537

[2018-02-12 22:53] #5198 closed

[2018-02-12 22:57] SimenB commented on #5493
Both would be great!

`jest-circus` is the eventual replacement for jasmine (`jest-jasmine2`), but it's currently on the backburner

[2018-02-12 23:03] alechp commented on #5525
Okay
(babel-jest-comparison)[https://github.com/alechp/babel-jest-comparison]

[2018-02-12 23:13] SimenB commented on #5525
@alechp you haven't installed `babel-core@^7.0.0-0` which is in the linked documentation.

This diff makes your tests green:

[code]

[2018-02-12 23:19] alechp commented on #5525
@SimenB I have to install @babel/core & babel-core ?

[2018-02-12 23:32] rickhanlonii commented on #5539
Hey @arunvelsriram, it looks like you're calling `jest.resetModules()` so the `Reactotron` in your tests do not refer to the same instance as the `Reactotron` in your module

If you have any more question, I'm happy to help more on [stackoverflow](https://stackoverflow.com/questions/ask) or our [discord channel](https://facebook.github.io/jest/en/help.html)

[2018-02-12 23:32] #5539 closed

[2018-02-12 23:45] rickhanlonii commented on #5525
Correct, see https://github.com/facebook/jest/pull/4557

Notice that `babel-core` and `@babel/core` are in both the package usage and the repo

[2018-02-12 23:52] alechp commented on #5525
I see. Thanks for clarifying, @rickhanlonii

I'll stick with babel-7-jest in the meantime.

[2018-02-13 00:03] rickhanlonii commented on #5527
Hey @aakula-edmunds, it looks like the issue on your branch happens on Jest 21 as well and is related to how you have the enzyme serializer configured and is not a bug

If you have any more questions, I'm happy to help more on [stackoverflow](https://stackoverflow.com/questions/ask) or our [discord channel](https://facebook.github.io/jest/en/help.html)

[2018-02-13 00:48] adaniliuk commented on #5527
@rickhanlonii thanks a lot for your answer, but how a double test is related to enzyme configuration. If enzyme is removed at all *jest* still tries to execute the same test twice. Maybe it wasn't clear in the original message from @aakula-edmunds, but when you try to call `$ yarn test /path/to/test-file.test.js` jest tries to test this file twice.

[2018-02-13 01:13] japhar81 opened #5542 "Imports broken in babel-jest when using babel and @babel/typescript"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
It appears that Jest doesn't play nice with TypeScript that's compiled exclusively via Babel -- e.g. without `tsc`.

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `

[2018-02-13 01:30] atomanyih opened #5543 "local dependencies don't use jest mocks under npm 5"
**Do you want to request a _feature_ or report a _bug_?**

bug

**What is the current behavior?**

A package depends both on `cowsay` and a local dependency
That dependency also uses `cowsay`
If you do a jest mock (`jest.mock('cowsay' \\ etc`), then uses of `cowsay` in your package will return the mock, but the dependency will still call the real package

**What is the expected behavior?**

The de

[2018-02-13 01:35] rickhanlonii commented on #5527
Ah, I see! I can confirm this (introduced in 22.0.0)

When you run `yarn test server/sample.test.jsx` it runs both the client and server project configs for that single test file, even though the client config shouldn't run based on the `testMatch`

[2018-02-13 03:49] rickhanlonii commented on #5527
Looks like this was introduced [here](https://github.com/facebook/jest/commit/9cd00e6dca5ecfae6222b93cf04ccfd8b68626ab#diff-c53e4529a552a817e1fa7c27419db19bR215)

With that change, we will run the tests on the files passed in ignoring the matchers

[2018-02-13 07:21] SimenB commented on #3793
#3882

[2018-02-13 07:21] #3793 closed

[2018-02-13 07:44] SimenB commented on #5001
This should be fixed now as the babel 7 compatibility PRs were just merged and released. See `istanbul-lib-instrument@1.9.2`

[2018-02-13 07:51] SimenB commented on #5124
@a-n-d-r-3-w any particular reason why you have jsdom in your package.json? It comes bundled with Jest.

[2018-02-13 08:16] WhiteTurbine commented on #5428
Turns out process.binding('fs').realpath works differently from require( 'fs' ).realpath. Did not know that. This should help if added to Jest.

I regards to import paths - good point and might help others. However, in my case drive letter differs. I do not have drive letter in my imports - must be something else.

However, even in import situation desvribed by @jamesrusso - shouldn't Jest work we

[2018-02-13 09:21] Lazarencjusz opened #5545 "Is it possible to test *.ts files with Jest@20.x"
This is just question, because I am not able to find any info about that.

[2018-02-13 09:22] #5545 closed

[2018-02-13 09:22] cpojer commented on #5545
Please note this issue tracker is not a help forum. We recommend using StackOverflow or our [discord channel](http://facebook.github.io/jest/en/help.html) for questions. Thank you :)

[2018-02-13 09:22] cpojer commented on #5545
https://github.com/kulshekhar/ts-jest

[2018-02-13 10:17] Lazarencjusz commented on #5545
@cpojer thanks for info.

I cannot use `ts-jest` because my node version is locked on `4.2.2` and `ts-jest` require at least `jest@22.x`

[2018-02-13 11:05] boy-techy opened #5546 "Need Help in Unit Test Case"
Hey i am extending a Library Function in a Class and updating the Methods. But i am not able to write Unit test case.

Customized Table.js

[code]

[2018-02-13 11:06] thymikee commented on #5546
Hey! Please note this issue tracker is not a help forum (as stated in issue template).
We recommend using StackOverflow or our discord channel for questions. You'll find more on Jest docs [help page](http://facebook.github.io/jest/en/help.html). Thank you :)

[2018-02-13 11:06] #5546 closed

[2018-02-13 12:19] awkh88 commented on #5531
+1 to this.

**Error message:**
` console.error node_modules/jest-jasmine2/build/jasmine/Env.js:198
    Unhandled error

  console.error node_modules/jest-jasmine2/build/jasmine/Env.js:199
    TypeError: Cannot read property 'result' of undefined
        at isAfterAll (/Users/master/coding/makerMap/back-end/node_modules/jest-jasmine2/build/jasmine/Suite.js:212:34)
        at Suite.Object.<anonymou

[2018-02-13 12:54] hqro commented on #2081
This works for me:

`.babelrc`:
[code]

`package.json`:
[code]

[2018-02-13 14:56] a-n-d-r-3-w commented on #5124
@SimenB, good question, there is no need for `jsdom` in our `package.json`. Thanks!

[2018-02-13 16:39] zushenyan opened #5551 "Running jest in docker with watch option throw me not supported without git/hg error"
**Do you want to request a _feature_ or report a _bug_?**

bug

**What is the current behavior?**

Running with `jest --watch` in docker exits with `--watch is not supported without git/hg, please use --watchAll error`.

Running with `jest --watchAll` could run test successfully, however when I am trying to update snapshot with option `u` or `o` it still exits with `--watch is not supported withou

[2018-02-13 17:53] danielstern opened #5552 "EISDIR Error When Building the Website on Windows 10"
When attempting to build the website with `yarn build` on Windows, the following error is output:

`Error: EISDIR: illegal operation on a directory, open 'E:\Projects\jest\website\
build\jest\docs\en\CLI.html'`

Investigating reveals that the file`CLI.html` has indeed been created as a directory for some reason.

[2018-02-13 23:32] jwbay commented on #5545
You can probably use an older version of ts-jest to go with your older version of jest.

[2018-02-13 23:49] Cretezy opened #5556 "Transform Async"
**Do you want to request a _feature_ or report a _bug_?**

Feature.

**What is the current behavior?**

Transforms are synchronous, basically `process` returns a `string` of the transformed source.

**What is the expected behavior?**

It would be useful to also support Promises, for asynchronous transformation.

[2018-02-14 06:06] zaynv commented on #4473
I understand that this is low priority, but could it be reopened until this feature has been implemented?

[2018-02-14 06:15] tdenovan commented on #3832
Sometimes it might be useful to share a global variable that is setup via an async function. For example, it would be useful to setup the puppeteer browser once in globalSetup and then spawn a new page in each test / test suite.

[2018-02-14 06:29] pyros2097 commented on #3832
@tdenovan Thats exactly what I'm trying to do now. But it doesn't seem to work. I've done this is mocha before and it was a breeze, but with jest I think I need to find out other ways.
This is my jest config
[code]
[code]
But I'm not able to access bot in my test cases.

[2018-02-14 08:09] cpojer commented on #5556
Unfortunately Jest expects transformers to be synchronous and we cannot change it at this time because we transform just-in-time when user code calls `require`.

[2018-02-14 08:09] #5556 closed

[2018-02-14 08:20] SimenB commented on #3832
There is a guide for puppeteer on the website: https://facebook.github.io/jest/docs/en/puppeteer.html

[2018-02-14 08:23] tdenovan commented on #3832
Yep but that suggests that setting a global in the globalSetup async method is possible, which per the above it doesn’t seem to be b

[2018-02-14 08:48] pyros2097 commented on #3832
@SimenB ahh.. man... I was trying to figure this out and also was in the jest docs for quite a long time and never noticed that section. Waste of my time.

[2018-02-14 09:03] gabor opened #5563 "jest does not "activate" babel support when running on windows on a network-share"
**Do you want to request a _feature_ or report a _bug_?**

bug

**What is the current behavior?**

i am running jest in windows, in a directory that is a network-share (for example: `\\server1\` is mounted as `G:`, and i am running the tests in `G:\src\`). (technically this is a mac-laptop, with parallels, windows in parallels, and my macos-directory is shared into the parallels-windows, and i am

[2018-02-14 09:06] Lazarencjusz commented on #5545
@jwbay so obvious... Do not know why I did not figure it out before :) works for `jest@21.x` and `ts-jest@21.x` and extra piece of magic in config file :)

[2018-02-14 09:24] SimenB commented on #5552
That's weird... We just use docusaurus, are you able to reproduce it in their repo? https://github.com/facebook/Docusaurus

If yes, can you open up an issue there? If not we can investigate if we're doing weird stuff here

[2018-02-14 11:23] RomanKiyashev1 opened #5564 "ar"
**Do you want to request a _feature_ or report a _bug_?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**

**What is the expected behavior?**

**Please provide your exact Jest configuration and

[2018-02-14 11:25] cpojer commented on #5564
Cool story.

[2018-02-14 11:25] #5564 closed

[2018-02-14 11:55] #5028 closed

[2018-02-14 15:26] benhysell commented on #5064
I'm running into this issue using Visual Studio Online Build using a Windows host.  If I switch to use a Linux host everything works as expected.

Example Scripts and output below from both hosts:

From the Windows host, using PowerShell:
Script:
($env:CI = $true) -and (npm test)

Output:
******************************************************************************
Starting: PowerShell Script
***

[2018-02-14 15:40] Mardoxx commented on #5239
Still getting this on VSTS hosted agents. `maxworkers=2` hack works around this. This is w/ jest 22.3.0

[2018-02-14 15:50] benhysell commented on #5064
In case anyone else runs into this...the problem is with Microsoft and how they implement the PowerShell task for Visual Studio Online Build.

See - https://developercommunity.visualstudio.com/content/problem/84878/vsts-build-fails-with-process-completed-with-exit.html

Solution for me, change my PowerShell script to:
($env:CI = $true) -and (npm test 2>&1 | Write-Host )

[2018-02-14 16:51] imjared commented on #4092
this seems to finally be resolved with "jest": "^22.3.0",

[2018-02-14 16:51] #4092 closed

[2018-02-14 17:17] jney opened #5566 "document is undefined"
Using [jsonp](https://github.com/webmodules/jsonp) library, i've got the following error

[code]

other informations:

* node v9.5.0
* npm 5.6.0
* jest v22.2.2

[2018-02-14 17:21] jney commented on #5566
my bad using
[code]
solves the problem

[2018-02-14 17:21] #5566 closed

[2018-02-14 17:26] matthias-t commented on #3998
How about something like:
[code]
Matchers would just have to return the "expectation" object wrapped in the `and` property of an object

[2018-02-14 18:00] milesj commented on #5064
I've also noticed that `NODE_ENV` is not "test" when running through a child process. Not sure if related or not.

[2018-02-14 19:44] nbkhope commented on #5446
Hi, guys. I'm using Node 8.9.4 with `jest@22.2.1`. Given the following example

[code]

The test output is:

[code]

So the error should be at line 32, but Jest says it is at line 41, a difference of 9.

[2018-02-14 20:24] SimenB commented on #5446
Can you create a repro showing this?

[2018-02-14 20:55] rickhanlonii commented on #4295
Just published [jest-silent-reporter](https://github.com/rickhanlonii/jest-silent-reporter) to support this

[2018-02-14 20:55] #4295 closed

[2018-02-14 22:03] lgraziani2712 opened #5568 "Unknown error if at least one of the roots folders don't exist"
**Do you want to request a _feature_ or report a _bug_?**

_bug_

**What is the current behavior?**

If the `roots` props has, at least, one path to a folder that doesn't exist, it throws an unknown error.

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn in

[2018-02-14 23:18] SerzN1 commented on #1557
in addition to @SpadarShut answer import could be done like this
[code]
 in my case it's useful to avoid TS errors

[2018-02-14 23:31] tinyroy commented on #2982
Here's my work around for manually mocking ES6 classes.
It also work with functions. It does not align with Jest documentation

[code]

[2018-02-14 23:50] smikheiev commented on #4133
@joeybaker one of the workarounds is to do something like:
`(fn: any).mockClear()`

[2018-02-15 01:07] cdeutsch opened #5574 "console.assert from Puppeteer showing up in terminal after upgrading to v22.3.0"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the current behavior?**

`console.assert` from [puppeteer](https://github.com/GoogleChrome/puppeteer) is showing up in terminal when running tests.

![image](https://user-images.githubusercontent.com/404765/36236145-b773c300-11b1-11e8-9221-c02a1c65bb57.png)

**What is the expected behavior?**

The `console.assert` calls didn

[2018-02-15 07:33] SimenB commented on #5574
Yeah, this is #5514. The one from `Page.js:648` looks legit, but we should not print the stackframe if there's nothing to log in an assert.

@ranyitz mind taking a look?

[2018-02-15 08:40] ranyitz commented on #5574
@SimenB I agree, I will fix it later on today.

[2018-02-15 10:09] aikoven commented on #4305
Caused by https://github.com/isaacs/node-graceful-fs/issues/125

[2018-02-15 14:48] thymikee opened #5575 "Create a jest-serialize package that uses either v8 serialize or JSON"
**Do you want to request a _feature_ or report a _bug_?**

Feature - new package

**What is the expected behavior?**

Create a `jest-serialize` package that uses either v8 serialize or JSON.
Reference: https://github.com/facebook/jest/pull/5565

For starters, we could just implement this API:
[code]

[2018-02-15 14:56] jukben commented on #5575
I would like to do it! 💪🤓

[2018-02-15 15:01] satya164 commented on #5568
I cloned the repo and ran `yarn test`, I get the following output:

[code]

If I run `yarn test --no-watchman`:

[code]

[2018-02-15 15:04] jukben commented on #5169
I had the same problem on MacOS. Be sure that you don't have any pending System Update. I've upgraded to macOS 10.13.3 (from the previous minor version) and the problem is gone.

macOS: 10.13.3
node: v9.3.0
yarn: 1.3.2)

[2018-02-15 15:05] #5568 closed

[2018-02-15 16:02] satya164 commented on #5542
This looks like a bug with how Babel handles import statements, which is different from how typescript compiler does it as linked in the issue.

Webpack has native support for imports, and looks like the way it handles imports is different from the way Babel handles them.

Jest relies on Babel to transpile imports and doesn't support it natively, so it won't be possible for Jest to do it without a

[2018-02-15 16:32] SimenB commented on #5197
#5547

[2018-02-15 16:32] #5197 closed

[2018-02-15 16:32] czystyl commented on #5391
I had the same problem when run Docker or other services in beforeAll hook so I thinks is good idea to do that.

I would like to do this 💪 🤓

[2018-02-15 16:52] satya164 commented on #5423
Cannot repro this either

[2018-02-15 16:57] #5423 closed

[2018-02-15 18:51] DaveStein commented on #4180
Any update here? I have a class like this:

[code]

The first ignore works, the second does not.

[2018-02-15 19:12] DaveStein commented on #4180
btw the answer to my problem is `export default connect(/* istanbul ignore next */state => state)(Layout);` because i forgot that the `state => state` part is an anon function that had to be ignored, not the connect part

[2018-02-15 20:51] WederPachecoSilva opened #5577 "Feature Request: .toHaveProperties(arguments: string[]) matcher"
**What is the current behavior?**
Currently Jest offers .toHaveProperty to check for a specific property inside an object
but I couldn't see an easy way of checking for multiples properties.
I am aware that Jest offers expect.extend() to make possible for us to customize a matcher,
but checking for more than one property seems quite usual to me.
Wouldn't it be interesting to have a .toHaveProperti

[2018-02-15 21:35] Aftabnack commented on #4704
Can we make `toBeOfType` as one of the default matchers on jest?

[2018-02-15 21:50] tsoyviktor opened #5578 "JSDOM configuration issue"
### JSDOM configuration issue
I'm Running jest tests in `jsdom` environment and keep getting following error.

**`TypeError: require(...).evalVMScript is not a function `**

The same setup works with `--env=node` so it seems that the problem is with JSDOM itself.
#### .babelrc
[code]
#### package.json
[code]

#### Test
[code]

Setup:
[code]

[2018-02-15 22:38] zpalexander opened #5579 "[Bug] Unable to mock default exported Component when same module also has named export"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
I have an ES6 module that exports a React Component class by default, but also exports a plain JS function as a named export. When testing other packages that use this module, I want to mock both the default exported component and named exported function to keep my unit tests pure.

The module looks so

[2018-02-15 22:55] noelebrun opened #5580 "Coverage data was not found when using "--collectCoverageFrom""
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
When I'm using the Jest CLI like this:
`jest --coverage --collectCoverageFrom "_path of a file_"`
I get this error: **Jest: Coverage data for global was not found.**

My goal is to execute the coverage only on some files.

**If the current behavior is a bug, please provide the steps to reproduce and
ei

[2018-02-16 00:46] rickhanlonii commented on #5578
Example code runs fine for me (example repo [here](https://github.com/rickhanlonii/jest-issue-5578)).

I've seen this happen though if you have multiple versions of [JSDOM installed](https://github.com/jonboiser/wallaby-jest-problem).

Since this issue tracker isn't a help fourm, I'm happy to help more  [StackOverflow](https://stackoverflow.com/questions/ask) or our [discord channel](https://disco

[2018-02-16 00:46] #5578 closed

[2018-02-16 00:51] rickhanlonii commented on #5579
Hey @zpalexander, thanks for the question I'm sure it's pretty frustrating

Unfortunately, this issue tracker is not a help form. If you could open a new [StackOverflow](https://stackoverflow.com/questions/ask) issue (as you mentioned you would do in the first SO issue) or ping me on our [discord channel](https://discord.gg/MWRhKCj), I'd be happy to help there!

[2018-02-16 00:51] #5579 closed

[2018-02-16 00:57] rickhanlonii commented on #5580
Hey @noelebrun, thanks for the report. This seems to be working in latest:

![](http://dp.hanlon.io/062X2s263r2Q/Image%202018-02-15%20at%207.55.56%20PM.png)

If you truly believe this is a bug, please push a repo that we can reproduce with

Otherwise we recommend using [StackOverflow](https://stackoverflow.com/questions/ask) or our [discord channel](https://discord.gg/MWRhKCj) for questions

You'l

[2018-02-16 00:57] #5580 closed

[2018-02-16 04:11] sourcec0de commented on #5164
@glasser I'm currently working around this issue by using `babel-register` and `babel-pollyfill` at the top of my `jest.config.js`.

[code]

[code]

[2018-02-16 06:08] SimenB commented on #4180
Nothing really actionable for us here, so closing.

We use babel and istanbul to instrument and collect coverage, issues should be reported there

[2018-02-16 06:08] #4180 closed

[2018-02-16 06:25] SimenB commented on #5578
@tsoyviktor please provide a full repro if you believe this to be a bug.

[2018-02-16 06:27] SimenB commented on #4704
I don't think it's necessary. You can use https://github.com/jest-community/jest-extended#tobenumber if you want

[2018-02-16 07:04] Aftabnack commented on #4704
IMO, as a newbie to JavaScript & Jest, It's easier if the type checking matcher is provided out of the box, specially considering `typeof` doesn't give me right results for everything.

[2018-02-16 07:27] vjcagay opened #5583 "Bug: MacOS "usernoted" process eats all RAM"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
When Jest is ran on watch mode and `notify` option is turned on and there are failing tests, MacOS' `usernoted` process consumes too much RAM.

![screen shot 2018-02-16 at 15 53 56](https://user-images.githubusercontent.com/3283683/36296805-7ec9f9c0-1332-11e8-8e56-43ac1401c8bf.png)

**What is the expec

[2018-02-16 07:38] SimenB commented on #5583
@mikaelbr ideas?

[2018-02-16 07:39] Cretezy commented on #5556
Make sense, thank you!

[2018-02-16 07:50] mikaelbr commented on #5583
This one is new for me, haven't seen or heard about it before. Seems like it's an issue with underlying process in macOS. Might be triggered by some error in terminal-notifier, but I'm not sure. There are some comments on the a similar issue and how to "fix" it: https://apple.stackexchange.com/questions/212970/what-is-usernoted-and-why-is-it-eating-my-cpu

[2018-02-16 08:52] frankred commented on #2441
@odykyi does not work for me. jest 22.1.0 and v8.9.4

[2018-02-16 08:54] #5522 closed

[2018-02-16 09:51] kachkaev commented on #1758
Same issue here. I have some yaml fixtures in my tests directory and seem t be unable to watch them by jest.

[2018-02-16 10:07] thymikee commented on #2735
This seems like a nice to have, anybody interesting in contributing this check? :)

[2018-02-16 10:29] Aftabnack commented on #2735
I call it!

[2018-02-16 10:31] thymikee commented on #2145
Original CRA issue was closed, because using `src/node_modules` is not a standard that community is embracing. Shall we close this as well or do something about it?

[2018-02-16 10:41] peterjuras opened #5584 "Setup mocks in beforeEach hooks in setupTestFrameworkScriptFile"
**Do you want to request a _feature_ or report a _bug_?**

_feature_

**What is the current behavior?**

`jest.mock('module')` calls in `beforeEach` hooks of the `setupTestFrameworkScriptFile` are not mocking the module for the test files but only for the `setupTestFrameworkScriptFile`

**What is the expected behavior?**

`jest.mock('module')` should also provide the mock for every test in the tes

[2018-02-16 10:46] thymikee commented on #2157
As a simple workaround to that I like the @jwbay's solution.

How about we add something similar to `jest` object?
[code]
Implemented as
[code]

cc @cpojer @SimenB @rogeliog

[2018-02-16 11:32] thymikee commented on #2354
In general manual mocks are automatically mocked when required in your tests, no need to explicitly add `jest.mock('my-module')`. However, there is an exception to that, which is Node's core modules, like `fs`, `path`, etc. They need to be explicitly mocked by calling `jest.mock('fs')` or `jest.mock('path')` in this case.

The `fs` example is kinda unfortunate, because it's a special case. Looks l

[2018-02-16 11:39] Aftabnack commented on #2735
So this is relating to the version of `fb-watchman` installed?
Upgrading jest will automatically update the version of `fb-watchman`, is there a scenario when we would have an older version running.

If watchman server is indeed running separately, then I don't remember setting it up for my usage of jest.

How do I recreate this issue? Do I already have watchman installed out of the box on ubuntu?

[2018-02-16 11:40] thymikee commented on #2517
@rickhanlonii I'm on board this message should be universal. We can leverage terminal utils and just point to use `!! -u`! 😉

[2018-02-16 11:41] Aftabnack commented on #2735
I'm guessing in jest it just falls back to node js file crawler?

[2018-02-16 11:46] thymikee commented on #2735
Not sure about Ubuntu. Jest doesn't install watchman for you. E.g. on macOS you need `brew install watchman`. `fb-watchman` is just a nodejs client: https://github.com/facebook/watchman/tree/master/node

[2018-02-16 11:51] Aftabnack commented on #2735
Was just going through the docs. So I cannot test the change.

[2018-02-16 11:52] thymikee commented on #2807
I think this is the same problem as https://github.com/facebook/jest/issues/2381. Closing in favor of the other issue. Still looking for help on this one!

[2018-02-16 11:52] #2807 closed

[2018-02-16 11:54] thymikee commented on #2831
`--collectCoverageFrom` now overrides the one in package.json :)

[2018-02-16 11:54] #2831 closed

[2018-02-16 11:54] Aftabnack commented on #2735
You can look at PR and the change. If that is enough to close this, go ahead and do so.
Or if you want someone with `watchman` installed to test this out. Then someone else can take this up.

[2018-02-16 12:01] zamotany commented on #2150
I'm interested in implementing this feature

[2018-02-16 12:06] ajomadlabs commented on #2150
Could I go for this

[2018-02-16 12:14] thymikee commented on #2927
With default settings you get both the stdout reporter _and_ json report.
Defaults for coverageReporters are:
[code]

You'll find the report in `coverage/coverage-final.json`

[2018-02-16 12:14] #2927 closed

[2018-02-16 12:16] thymikee commented on #2150
@zamotany was first, so let's give him some time to work on.
@ajomadlabs if you're interested in contributing, observe the "Good First Issue" label. I'm currently working on extending that set :)

[2018-02-16 12:19] thymikee commented on #3504
Closing. Also, we're deprecating `mapCoverage` because it's not necessary now.

[2018-02-16 12:19] #3504 closed

[2018-02-16 12:20] #3343 closed

[2018-02-16 13:23] #3968 closed

[2018-02-16 13:49] petar-prog91 commented on #1838
Ok, so far the easiest solution around this is:
Go into your Jest settings (for example I'll use package.json):

`
"jest": {
      "TestURL": "http://localhost"
}
`

Now you will have access to window object and then you can set URL to whatever you like during tests.

[code]

[2018-02-16 13:58] petar-prog91 commented on #1838
Found nice solution for Jest 21.2.1

Ok, so far the easiest solution around this is:
Go into your Jest settings (for example I'll use package.json):

`
"jest": {
      "TestURL": "http://localhost"
}
`

Now you will have access to window object and then you can set URL to whatever you like during tests.

[code]
Hopefully this helps someone.

Working with

[2018-02-16 14:03] thymikee commented on #3752
Should be fixed by #5553

[2018-02-16 14:03] #3752 closed

[2018-02-16 14:06] petar-prog91 commented on #890
Posted it on other ticket, but I'll post it here:

Found nice solution for Jest 21.2.1

Ok, so far the easiest solution around this is:
Go into your Jest settings (for example I'll use package.json):

`
"jest": {
      "TestURL": "http://localhost"
}
`

Now you will have access to window object and then you can set URL to whatever you like during tests.

[code]
Hopefully this helps someone.

[2018-02-16 14:10] petar-prog91 commented on #5124
So, without using jsdom directly, here is solution I came up for my stuff:

Works for Jest 21.2.1 (I tested on that one):

Go into your Jest settings (for example I'll use package.json):

`
"jest": {
      "TestURL": "http://localhost"
}
`

Now you will have access to window object and then you can set URL to whatever you like during tests.

[code]
Hopefully this helps someone.

[2018-02-16 14:16] thymikee commented on #3785
@aaronabramov closing this in favor of https://github.com/facebook/jest/issues/3266

[2018-02-16 14:16] #3785 closed

[2018-02-16 14:16] thymikee commented on #3266
Different context on the same issue (marked as a duplicate): https://github.com/facebook/jest/issues/3785

[2018-02-16 14:26] thymikee commented on #5381
Fixed in `jest-expo@25.1.0`

[2018-02-16 14:26] #5381 closed

[2018-02-16 14:51] thymikee commented on #4911
Works now, sorry about inconvenience!

[2018-02-16 14:51] #4911 closed

[2018-02-16 14:57] thymikee commented on #4883
It's hard to test it without a downloadable repro. Can you provide one?

[2018-02-16 15:18] ajomadlabs commented on #3772
@thymikee Could I go with this ?

[2018-02-16 15:18] thymikee commented on #3772
Sure!

[2018-02-16 15:20] ajomadlabs commented on #3772
@thymikee Since it's my first contribution, could you help me where to get started off

[2018-02-16 15:25] thymikee commented on #3772
Here you'll find how babel-jest calculates the cache key:
https://github.com/facebook/jest/blob/0285e63e903abbab9c323341e62eb68b29acd87e/packages/babel-jest/src/index.js#L85-L105

Looks like we also need to include information about NODE_NEV and BABEL_ENV (not sure about that though)

[2018-02-16 15:29] #4632 closed

[2018-02-16 15:31] thymikee commented on #5148
That's rather issue with your Babel config than Jest. Closing due to inactivity.

[2018-02-16 15:31] #5148 closed

[2018-02-16 15:33] thymikee commented on #5259
Unfortunately this is not actionable without a repro. Please provide such.

[2018-02-16 15:34] thymikee commented on #5416
Closing. @andrewzey feel free to open a new issue describing your problem which we can easily check out to.

[2018-02-16 15:34] #5416 closed

[2018-02-16 15:36] thymikee commented on #5461
I'll close this now, but happy to reopen if you provide a repro. Make sure you have dependencies properly set up (i.e. purge node_modules just in case)

[2018-02-16 15:36] #5461 closed

[2018-02-16 15:36] #5259 closed

[2018-02-16 15:38] thymikee commented on #5471
@SimenB should we close this since `mapCoverage` is deprecated now?

[2018-02-16 15:48] danieleleoni opened #5588 "22.0.6 converting process.env array toString"
Hi guys, I'm currently using yarn 1.3.2 and trying to migrate from jest 22.0.5 to latest version, but I did find a problem from v22.0.6

This is our very simple `jest.config.js`
[code]

And this is a simpler `setup.js` we use to debug this problem
[code]

In one of our test, we loop an `process.env` array and this is our output
22.0.5
[code]

22.0.6
[code]

It seems that every process.env array to

[2018-02-16 15:49] thymikee commented on #5427
@darekkay do you have a repro of that?

[2018-02-16 15:51] #5299 closed

[2018-02-16 15:54] thymikee commented on #5421
Yup, without a repro this is not actionable.

[2018-02-16 15:54] thymikee commented on #5421
Happy to reopen when provided though!

[2018-02-16 15:54] #5421 closed

[2018-02-16 15:58] thymikee commented on #5420
@vadivelkindhealth can you please provide a repo with a reproduction so we can debug this?

[2018-02-16 16:03] thymikee commented on #5386
Yup, looks like a dupe of https://github.com/facebook/jest/issues/5164. Wanna send a PR with a fix? :)

[2018-02-16 16:03] #5386 closed

[2018-02-16 16:04] JoelMarcey commented on #5299
@SimenB Docusaurus 1.0.6 went out earlier this week, with this fix in it.

[2018-02-16 16:05] thymikee commented on #5299
@JoelMarcey we've just upgraded 😄

[2018-02-16 16:08] #5527 closed

[2018-02-16 16:11] rickhanlonii commented on #5527
@aakula-edmunds @adaniliuk thanks for the report, this will be fixed in the next release

[2018-02-16 16:12] FezVrasta commented on #5421
The issue is that this error is cryptic and doesn't help in any way to understand what's going on...

[2018-02-16 16:23] stipsan commented on #4245
Is there a reason why it should be a separate flag?

If it could be built in to the `--coverage` flags behavior I think it might be more in line with what userland expects, based on issues like #5432 and #2256

And it would be super nice if it becomes possible to do things like `jest --coverage --changedSince=master` and other interesting tooling opportunities. (and avoid this kind of [uglyness](h

[2018-02-16 16:28] thymikee commented on #5421
To me it looks like an internal one that shouldn't surface to the user (at least in such form). Having a repro would be helpful in fixing that.

[2018-02-16 16:48] thymikee commented on #5163
Looks like we can close this now :)

[2018-02-16 17:04] zpalexander commented on #5579
Happy to ask in the appropriate channel, but before I do can you just confirm that this is expected behavior / a WONTFIX bug? I opened a bug here because the API is behaving inconsistently and there's no documentation around the discrepancy, and I think it'd be helpful for people coming to the issue queue with the same question to have a definitive statement that it is supposed to work this way.

[2018-02-16 17:33] adaniliuk commented on #5527
@rickhanlonii great, thanks a lot for a quick turn around!

[2018-02-16 17:42] arunvelsriram commented on #5539
Thanks. I have fixed the test now.

[2018-02-16 18:52] elad-yosifon commented on #5577
@WederPachecoSilva seems like a pretty simple and useful feature to implement.. I’ll try to create this PR in the next couple of days..

[2018-02-16 19:16] thymikee commented on #4168
The regexp patterns in `moduleNameMapper` are checked in order of declaration, so keys declared earlier will be checked accordingly.
We had a bug when the order was not preserved when merging presets, but that's already fixed.

[2018-02-16 19:16] #4168 closed

[2018-02-16 19:20] thymikee commented on #4033
@kumarharsh closing then. Happy to reopen if this is still happening for anybody providing a repro repo.

[2018-02-16 19:20] #4033 closed

[2018-02-16 19:22] #3905 closed

[2018-02-16 19:26] thymikee commented on #4100
Typeahead is temporarily unavailable. We can revisit this after @rogeliog brings it back :)

[2018-02-16 19:26] #4100 closed

[2018-02-16 19:30] thymikee commented on #4181
Thank you @hkjorgensen! Can you mention the plugin in Webpack tutorial?

[2018-02-16 19:33] thymikee commented on #4379
We can add a note here: https://facebook.github.io/jest/docs/en/configuration.html#projects-array-string-projectconfig
Anybody willing to update the docs? 🙂

[2018-02-16 19:51] jfairley commented on #5109
adding to https://github.com/facebook/jest/issues/5109#issuecomment-355968529:

I use [angular playground](http://www.angularplayground.it/), so adding the following to my jest config fixed me.

[code]

[2018-02-16 19:54] popkutty commented on #5332
What is the package version for jest and jest-cli to fix it. For me, all test pass case not exiting. :/

[2018-02-16 20:38] 19majkel94 commented on #1849
Agree, it's really not intuitive design 😞

[2018-02-16 20:39] thymikee commented on #1849
@19majkel94 check out latest version https://github.com/facebook/jest/blob/master/CHANGELOG.md#chore--maintenance 😉

[2018-02-16 20:42] 19majkel94 commented on #1849
@thymikee Thanks, I've installed `jest` just 5 days ago and it was `22.2.2` 😄

[2018-02-16 21:26] tsoyviktor commented on #5578
The problem was with a scoped dependency `@babel/code-frame`.

[2018-02-16 22:19] timtrinidad commented on #4262
We're hitting this issue as well - upgrading to 22.2.2 or downgrading to 20.0.4 didn't work.

Some details:
* This works if you pass a factory (second argument) to `jest.mock()`
* I've tracked the issue down to [`jest-runtime.requireMock()`](https://github.com/facebook/jest/blob/v22.2.2/packages/jest-runtime/src/index.js). Specifically:
  * If you pass in a relative path that doesn't need to be ma

[2018-02-16 22:33] jy95 opened #5589 "TypeError: sourceMap.map.originalPositionFor is not a function"
**Do you want to request a _feature_ or report a _bug_?**
Bug about [Manual Mocks](https://facebook.github.io/jest/docs/en/manual-mocks.html) with [Filehound](https://github.com/nspragg/filehound/tree/v1.16.2)

**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a min

[2018-02-16 22:52] breathe opened #5590 "Feature request: mechanism allowing creation of multiple snapshot files from a single test source file"
It would be really powerful if jest were to provide a way to create more than one snapshot from a single test source file ...  Sometimes its useful to run the same test suite under 'different conditions' and independently track the evolution of some of the snapshots generated within that test suite.

Some examples of different 'conditions' for which it is sometimes desirable to have multiple snaps

[2018-02-16 23:34] olfilato opened #5591 "AppVeyor doesn't run eslint"
**What is the current behavior?**

AppVeyor build doesn't run eslint, which is misleading in cases where eslint causes failures. Currently, if a build fails because of eslint (exactly what's happening right now),  AppVeyor will be reporting builds as success.

**What is the expected behavior?**
AppVeyor build should run eslint.

[2018-02-17 00:40] BarthesSimpson commented on #890
@petar-prog91  that was helpful. You have a typo though - it should be `testURL` not `TestURL`

[2018-02-17 01:05] nickmccurdy commented on #5591
It's probably intentional that eslint only runs on Travis since it's supposed to be platform agnostic and that would just be duplicating work on AppVeyor. Are you experiencing a Windows specific eslint issue that isn't on the broken Travis build currently?

[2018-02-17 01:33] olfilato commented on #5591
Not sure if it is Windows specific, but it is indeed occurring on Windows.
![image](https://user-images.githubusercontent.com/1832418/36336754-846b3ed6-133f-11e8-8aab-ac7cc555093e.png)

[2018-02-17 01:49] nickmccurdy commented on #5591
Ah, I remember seeing your issue on Reactiflux. If I were you, I'd rename this issue to reflect your unique eslint error on Windows rather than AppVeyor (though enabling eslint on AppVeyor could help detect this sort of issue in the future when the eslint build is fixed). Also you're using Jest's master branch, right? What if you checkout the latest stable release instead (or at least the last bui

[2018-02-17 01:53] olfilato commented on #5591
Yep, freshly cloned branch from master.

I could, however, I am trying to help on an already-pending PR, and (correct me if I am wrong here) that requires master branch to work.

[2018-02-17 02:07] nickmccurdy commented on #5591
GitHub PRs technically don't need to be based off master though maintainers may prefer or require it. I would try it at least as a troubleshooting step, if it works when basing off an earlier branch you might be able to track down which change broke this on Windows. Alternately you can use something like Windows Subsystem Linux for windows 10, a remote Linux dev machine, or a local VM with hyper v

[2018-02-17 02:32] eyelidlessness opened #5593 "Setup and teardown run in skipped suites and tests"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the current behavior?**

Setup and teardown (`before*` and `after*`) is run for skipped suites (`describe`) and tests (`it` et al).

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn in

[2018-02-17 02:45] eyelidlessness commented on #5593
I'd like to add a few notes on the impact this can have:

1. The [Jest docs](https://facebook.github.io/jest/docs/en/setup-teardown.html#general-advice) specifically call out isolating tests to ensure there isn't an inter-test conflict. Presumably this would be the same for setup and teardown. (This is not the problem in my case, but it might cause problems for others following this advice.)

2. S

[2018-02-17 04:30] AndrewSouthpaw commented on #5542
I believe I'm running into a similar issue, except without TypeScript. [Here's a repo](https://github.com/AndrewSouthpaw/jest-import-bug) demonstrating the issue, it's simplified from the `flow-typed` repo where I'm encountering this same problem. Works fine with Jest 20, but not on Jest 21/22.

[2018-02-17 04:31] BarthesSimpson commented on #1838
@petar-prog91 very helpful, but you have a typo. It should be `testURL` not `TestURL`

[2018-02-17 07:25] petar-prog91 commented on #890
@BarthesSimpson thanks for notice, updated comment.

[2018-02-17 08:50] thymikee commented on #5590
Check out [snapshot-diff](https://github.com/jest-community/snapshot-diff), maybe that's enough for your usecase?

[2018-02-17 08:55] thymikee commented on #5591
This is on purpose, to speed up AppVeyor builds as much as possible. ESLint is platform agnostic, and we happily assume that it gives the same results under both Windows and Unix systems. If something is failing for you on Windows, and not on Linux, it's a ESLint bug.

[2018-02-17 09:03] thymikee commented on #5542
@AndrewSouthpaw I cannot repro (tried several times to test cache run). This is probably something with your package manager. Try removing `node_modules` or run `yarn --check-files`

[2018-02-17 09:11] subblue commented on #5542
I had the same problem, but removing the `node_modules` and reinstalling them fresh fixed it for me.

[2018-02-17 09:40] #5542 closed

[2018-02-17 10:45] AndrewSouthpaw commented on #5542
`yarn --check-files` notes an incorrect peer dependency between `babel-jest` and `babel-core`...

[code]

Otherwise it's fine. I've tried doing a fresh install of `node_modules` multiple times now. :-/ Any other ideas?

[2018-02-17 10:57] thymikee commented on #5542
https://facebook.github.io/jest/docs/en/getting-started.html#using-babel

[2018-02-17 11:04] AndrewSouthpaw commented on #5542
Wow. That was a shockingly simple fix, and strange that `flow-typed` has made it this far without bumping into it. I wonder why my particular setup caused it to fail...

Either way, thank you so much! This had a couple of us on the flow-typed team stumped!

[2018-02-17 11:07] thymikee commented on #5542
😅glad you have this sorted now!

[2018-02-17 11:14] SimenB commented on #5332
The fix is available in 22.2.0 and newer

[2018-02-17 11:26] SimenB commented on #5121
Should be fixed in #5177

[2018-02-17 11:26] #5121 closed

[2018-02-17 11:39] SimenB commented on #5589
This was actually fixed as part of #5177

[2018-02-17 11:40] SimenB commented on #5589
Wait no, I can't reproduce

[2018-02-17 14:57] SimenB commented on #5326
See #5594

[2018-02-17 15:08] SimenB commented on #4245
Make sure to take a look at #4246.

Would love to have this feature! 🙂

[2018-02-17 15:13] SimenB commented on #5588
That's the correct behavior.

[code]

[2018-02-17 15:13] #5588 closed

[2018-02-17 15:15] stipsan commented on #4245
Thanks @SimenB! Through your link I found an answer to why a separate flag is proposed here: https://github.com/facebook/jest/pull/4246#issuecomment-324394600

[2018-02-17 15:54] jy95 commented on #5589
Ok, here is the repository : https://github.com/jy95/mediaScan .
For now, I use a ugly workaround for this case : [mock filehound](https://github.com/jy95/mediaScan/blob/e4f7a1abf129384df78689095c5588b900e39bd2/__mocks__/filehound.js)

Edit : I just need to find out why the addNewPath isn't working in Jest when It works in its ES6 version with AVA.

[2018-02-17 16:17] SimenB commented on #5589
I cannot reproduce your error.

I get this:
![image](https://user-images.githubusercontent.com/1404810/36342982-4dc88da8-1406-11e8-93cb-23db9e2ec739.png)

Can you create a branch in your repo I can checkout, run jest, and see the failure?

[2018-02-17 16:20] jy95 commented on #5589
If you check the code of Filehound, you can see the methods `create`,`paths`,`ext` returns this so using the default `jest.mock` that returns by default `undefined` will not be useful ^^

[2018-02-17 16:21] SimenB commented on #5589
Can you create a branch with the necessary change so I can reproduce?

[2018-02-17 16:25] jy95 commented on #5589
The only change is to replace the content of `__mocks__/filehound.js` with the one of my initial message.
Like jest show, it will crash before anything else is done :

[code]

[2018-02-17 16:34] faustbrian opened #5595 "Can't find a root directory while resolving a config file path."
**What is the current behavior?**

The test suite fails to run because it can't properly resolve the path.

*Config*
[code]

*Execution*
[code]

**What is the expected behavior?**

I expected that the test suite runs with the specified configuration because when I do `jest --showConfig` it shows my `rootDir` as `/Users/code/project` which should properly resolve `testMatch: ['**/__tests__/unit/**/

[2018-02-17 16:46] SimenB commented on #5446
@rickhanlonii your example is fixed after #5177. The OP is still wrong, though...

[2018-02-17 17:28] SimenB commented on #5589
I have placed the text from OP in `__mocks__/filehound.js` and I cannot reproduce (beyond the errors I got in the screenshot I posted).

Please push a branch I can pull down. Will close until then

[2018-02-17 17:28] #5589 closed

[2018-02-17 18:37] #5595 closed

[2018-02-17 18:53] paularmstrong opened #5597 "Multiple Jest projects bleed module file extension resolution between environments"
**Do you want to request a _feature_ or report a _bug_?**

_Bug_

**What is the current behavior?**

I've created a test-case repo that illustrates this behavior: [paularmstrong/jest-project-bleed](https://github.com/paularmstrong/jest-project-bleed).

***

In some cases, we want to have code that is defined differently for a node.js environment than a browser/DOM environment. We do this to avoid

[2018-02-17 19:14] SimenB commented on #5593
Duplicate of #4820

[2018-02-17 19:14] #5593 closed

[2018-02-17 19:24] SimenB commented on #5595
`displayName` is just for the name, not a way to run it. Although that would be cool 🙂

`--projects` on the cli is the same as `projects` in config, except it can just be paths to different config file, not inline JSON

[2018-02-17 19:31] paularmstrong commented on #5597
Yep, separate issue that comes down to webpack polyfilling `url.js` in client-side code still, which we don't want.

[2018-02-17 20:47] faabiopontes commented on #4326
The same thing just happened to me. Doing a `npm update` fixed everything as well.

[2018-02-17 21:27] cpojer commented on #5597
Yeah that's a bug.

[2018-02-17 21:31] apolishch opened #5599 "jest hangs indefinitely, runs no tests"
Every time I run jest it never runs anything. I have let the counter go arbitrarily high. I have run jest with --no-cache

<img width="527" alt="screen shot 2018-02-17 at 9 08 34 pm" src="https://user-images.githubusercontent.com/286833/36345776-570620ba-1429-11e8-842a-927f4f2534e2.png">

jest --debug output is as follows:
[code]

node --version: 8.9.4
npm --version: 5.6.0
yarn --version 1.3.2

[2018-02-17 22:04] cpojer commented on #5599
Please provide a repro, otherwise we cannot help.

[2018-02-17 22:04] #5599 closed

[2018-02-18 02:01] eyelidlessness commented on #4820
My issue (#5593) was closed as a duplicate of this one, but I think mine captures several test cases that are not covered here, so I'll link to [the repl.it repro](https://repl.it/repls/MuddyYellowgreenEngineer) in case it's helpful.

[2018-02-18 03:59] faustbrian commented on #5595
Thanks, figured that after some testing and ended up putting a config into each directory.

[2018-02-18 07:42] thymikee commented on #4379
Closed via #5600

[2018-02-18 07:42] #4379 closed

[2018-02-18 11:42] SimenB commented on #1758
You can do `require` instead of `fs.readFile` and set up a transformer

[2018-02-18 15:31] just-boris opened #5603 "setTimeout is not promisifiable"
The simple testcase

[code]

works in Node environment, but fails in JSDOM. The difference is that JSDOM gives custom setTimeout implementation, that doesn't work with Node built-in `util.promisify`.

Is there a way to make this work? For example, get the original Node's `setTimeout` within JSDOM.

[2018-02-18 15:39] jy95 opened #5604 "UnhandledPromiseRejectionWarning appears even though rejection is caught"
**Do you want to request a _feature_ or report a _bug_?**

Bug about Manual Mock

**What is the current behavior?**

All tests that uses a function `addNewPath` (ie at least 20 of the 29 tests) [succeed ](https://travis-ci.org/jy95/mediaScan/jobs/342918565#L2003) except 2 for strange reasons ... This function relies on a mock implementation of two modules : `fs `and `filehound`

![](https://i.stac

[2018-02-18 17:07] SimenB commented on #5604
You are using `rejects` and `resolves` incorrectly - you still need to attach an actual matcher. This diff makes the test path and no unhandled error appear.

[code]

[2018-02-18 17:07] #5604 closed

[2018-02-18 17:10] jy95 commented on #5604
Thanks : Seems jest-codemods has messup things with AVA way to handle these ... : https://github.com/skovhus/jest-codemods/issues/101

[2018-02-18 17:14] SimenB commented on #5604
I'm sure Kenneth would appreciate an issue about async rejections 🙂 I'm not sure if 101 is directly related

[2018-02-18 17:28] jy95 commented on #5604
That was a feature of AVA I like. Strange now my build doesn't have this error but always reject these two tests ...

[2018-02-18 18:19] rickhanlonii commented on #5603
Hey @just-boris, this issue tracker is not a help forum. We [recommend](https://facebook.github.io/jest/en/help.html) using our [discord channel](https://discord.gg/MWRhKCj) or [StackOverflow](https://stackoverflow.com/questions/ask) where there is an active [jestjs](https://stackoverflow.com/questions/tagged/jestjs) tag for questions

For this question though you may have better luck asking the J

[2018-02-18 18:19] #5603 closed

[2018-02-18 19:28] just-boris commented on #5603
Hello @rickhanlonii,

The behavior that I reported is a bug, not a question. The code sample works differently in Node and JSDOM environments, and this is not like it was intended.

[2018-02-18 22:17] SimenB commented on #5603
It is not a bug - it's by design that you get a `setTimeout` like the one in the browser. It's easy enough to promisify manually, or you can use fake timers.

If you really want to do this, for whatever reason, you can create a custom environment inheriting from `JSDOMEnvironment` and assign it to `global` there. But it won't be supported out of the box in Jest as it breaks the abstraction.

[2018-02-19 07:09] luan03 commented on #4891
I have the same issue, also I've tried to change jest version and babel-core without any success so, I'll try to figure out why and then post here.

[2018-02-19 09:07] ianizaguirre opened #5607 "Wrong link on jest blog?"
On this page: https://facebook.github.io/jest/blog/2016/07/27/jest-14.html#what-s-next-for-jest

The opening line "Recently Dmitrii Abramov" , has  Dmitrii Abramov name linked to some random girls twitter page lol

I think he changed his name: https://twitter.com/fbjest/status/879057512749826048?lang=en

So this should be the link the url in the name points to: [https://twitter.com/aaronabramov_](

[2018-02-19 09:10] thymikee commented on #5607
Mind sending a PR with correct twitter account? :)

[2018-02-19 09:16] just-boris commented on #5603
If this is not a bug, then it should show a different error message. Currently it just fails due to test duration timeout.

[code]

Maybe at least having the issue here would give people a pointers where to look.

[2018-02-19 09:22] ianizaguirre commented on #5607
Submitted a PR : https://github.com/facebook/jest/pull/5608

[2018-02-19 09:31] #5607 closed

[2018-02-19 11:44] jukben commented on #5575
https://github.com/facebook/jest/pull/5609

[2018-02-19 13:46] kpsroka commented on #5359
Hi,
I got to the bottom of the issue: the comparison of `Error` objects and regular objects doesn't work because of a [check in `subsetEquality`](https://github.com/facebook/jest/blob/0b8843836fdb627b84ceab79eb170bf162a1207c/packages/expect/src/utils.js#L177), which extended to return undefined for Errors in #4339. When comparing `Error`s with ordinary `Object`, the `subsetEquality` returns undefi

[2018-02-19 13:47] odykyi opened #5610 "Remove library jsdom from jest, if test env = node"
**Do you want to request a _feature_ or report a _bug_?**
_feature_

**What is the current behavior?**
jsdom exists in jest

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**

**What is the expected behavior?**
jsdom removed from j

[2018-02-19 13:51] thymikee commented on #5610
Set `"testEnvironment": "node"` in your configuration.

[2018-02-19 13:51] #5610 closed

[2018-02-19 14:58] #5359 closed

[2018-02-19 15:40] mfulton26 commented on #5423
Here is a script to reproduce the issue:

[code]

Running the bash script will result in output similar to the following:

[code]

[2018-02-19 15:51] satya164 commented on #5423
Still cannot repro. Here is my output:

[code]

What's your `jest` version?

[2018-02-19 16:29] dgsmith2 commented on #4883
FWIW, I was encountering this as well.  I expanded the console logging to be:

[code]

In doing this I noticed that `basedir` referred to a path that pertained to a `coverage` folder that was created by karma (I'm in the process of migrating to jest).  I deleted `coverage` and `jest --watch` worked.  At least in my case, it appears jest was consuming karma's `coverage` folder and some bit of conte

[2018-02-19 16:36] rickhanlonii commented on #5423
@mfulton26 those are the steps I ran in the [above repo](https://github.com/rickhanlonii/jest-issue-5423/tree/foo.spec.js). Can you pull that repo down and run the tests?

[2018-02-19 16:50] emilianionascu commented on #5574
Thank you for the fix. Is there a new release coming for it or perhaps a way to disable the assertions until the official fix?

[2018-02-19 17:04] tachang commented on #3202
I put into my

package.json:

    "test": "NODE_ENV=testing jest"

and .babelrc:

[code]

[2018-02-19 17:49] SimenB commented on #5574
you should be able to do `console.assert = jest.fn()` in a setupfile

[2018-02-19 18:41] mfulton26 commented on #5423
My jest version is 22.3.0.

[2018-02-19 18:47] mfulton26 commented on #5423
If I pull down your repo and do not checkout `foo.spec.js` then I don't see the issue but once I checkout `foo.spec.js` branch locally I then do see the issue. I'm on Windows and I've tried this with both Git Bash and with Bash on Ubuntu on Windows.

[2018-02-19 19:10] satya164 commented on #5423
Maybe that's the culprit? I'm on a Mac.

[2018-02-19 19:11] thymikee commented on #5423
Anyone with Windows can reproduce this?

[2018-02-19 20:46] #2354 closed

[2018-02-19 21:05] thymikee commented on #3884
@niekert we now mention this in docs as official way of how things work: https://github.com/facebook/jest/pull/5616, but it's still a bug and should be resolved.

[2018-02-19 21:10] #5575 closed

[2018-02-19 21:12] thymikee commented on #5591
cc @cpojer please decide whether we need to run eslint on windows or not (I prefer not)

[2018-02-19 21:13] #5456 closed

[2018-02-19 21:13] thymikee commented on #5456
I'll reopen once there's a repro, otherwise there's not much we can do.

[2018-02-19 21:18] cpojer commented on #5591
yeah, I'm fine without it.

[2018-02-19 21:18] #5591 closed

[2018-02-19 21:28] thymikee commented on #5446
@zwhitchcox you're using a transformer called `jest-sourcemaps`. When `jest@22.4.x` is out, you can safely remove it entirely from your project, along with this line on top of your test file:
[code]
I've just verified it works as expected (from master branch).

[2018-02-19 21:28] #5446 closed

[2018-02-19 21:58] neosiae commented on #4969
I would also love to help with this. Is https://github.com/facebook/jest/issues/4969#issuecomment-357408475 still relevant?

[2018-02-19 22:01] thymikee commented on #4969
@neosiae yup

[2018-02-20 00:18] mfulton26 commented on #5423
I suspect someone on Ubuntu would see this as well as I see it on Bash on Ubuntu on Windows...

[2018-02-20 05:00] macku opened #5617 "Question about transformers and import context"
I'm trying to write a plugin for Jest. Currently, I'm trying to understand if there is a way for a custom transformer to know what was the context that it was imported/required.

Let say we have this dummy pseudo module and test:

**moo.js**
[code]

and the test **moo.test.js**:
[code]

and custom **jest.config.js**:

[code]

and `custom-extension-transformer.js`:
[code]

Is there a way that a `cu

[2018-02-20 05:44] SimenB commented on #5617
We know it internally, but it's not passed along to the code invoking transformers here: https://github.com/facebook/jest/blob/9df3035829299a93579bad8cfb1db2081617ea6e/packages/jest-runtime/src/index.js#L525

What's your use case?

[2018-02-20 07:14] SimenB commented on #5325
I agree, that shouldn't be necessary

[2018-02-20 07:15] SimenB commented on #5325
We will need a reproduction repo, though

[2018-02-20 07:19] SimenB commented on #5530
Reporters are an array already? https://facebook.github.io/jest/docs/en/configuration.html#reporters-array-modulename-modulename-options

Closing as this is already the case. Happy to reopen if I've misunderstood something, though

[2018-02-20 07:19] #5530 closed

[2018-02-20 07:34] emilianionascu commented on #5574
@SimenB could you be more specific? I'm rather new to Jest, trying to use it with Puppeteer in a regression testing suite. I've created a jest.config.js file and tried to set it there assuming that console.assert were global. That didn't work.

[2018-02-20 10:20] clement-bramy commented on #5574
@emilianionascu

[code]

[2018-02-20 10:42] macku commented on #5617
I'm working on the plugin for React that is using Puppeteer for running integration tests called [jest-puppy-shots](/macku/jest-puppe-shots). I would like to use a transformer feature to get the CSS/Less/Sass styles from the imported module. It might be just a simple import like ex. `import './foo.css'`. Something like a webpack loader.
Then, use a transformer to generate and intercept those resul

[2018-02-20 11:02] antony commented on #5530
Yep my bad - forgot to re-close. I guess the difference between reporters and test-result-processors isn't immediately clear, so I got confused. I ended up writing this:

https://github.com/antony/jest-multi-test-result-processor

 as I was actually trying to fork to two test-result-processors (which are not an array), not reporters. My bad!

[2018-02-20 11:52] dane-harnett commented on #2927
@thymikee I think the intention was that the `text` reporter would be output to a file maybe `coverage.txt` and the `text-summary` reporter might go to a `coverage-summary.txt`

[2018-02-20 13:02] zhenyulin opened #5619 "jest.mock curry function module"
add.js
[code]

module.js
[code]

__test__/module.js
[code]
this can be called, but `add` wouldn't be a mock function, instead `add()` is a mock function, but the call params were not recorded correctly.

[code]
has also tried this, which doesn't seem to work correctly as well.

[code]
this would throw the `inline function` error

Is there a correct way to mock curry function at the moment?

[2018-02-20 13:34] #2150 closed

[2018-02-20 13:35] alloy commented on #4883
@ashtonsix Thanks, your suggestion helped me pinpoint the issue (in my case I had to add some submodules to `modulePathIgnorePatterns`) 👍

@thymikee With these steps multiple people could repro, but 1 person wasn’t, so there’s something additionally different in their env. There’s a good chance you’d be able to repro it, though, so if you checkout our repo at https://github.com/artsy/emission/comm

[2018-02-20 14:06] despairblue opened #5620 "The `unhandledRejection` handler is not testable anymore."
**Do you want to request a _feature_ or report a _bug_?**

Regression

**What is the current behavior?**

Current versions of jest don't allow testing `unhandledRejection`s. The following test will never succeed:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that

[2018-02-20 14:13] satya164 commented on #4947
I'm working on this one.

[2018-02-20 14:15] thymikee commented on #4883
Thanks @alloy, I'll have a look

[2018-02-20 14:54] SimenB commented on #5574
22.4.0 is released, btw

[2018-02-20 15:15] brandonroberts commented on #4044
@TiddoLangerak I ran into this same issue, and I used the [roots](https://facebook.github.io/jest/docs/en/configuration.html#roots-array-string) configuration in addition to the `testPathIgnorePatterns`. This lets you limit where jest looks for test files. I tested it against your repo and it solved the issue

[code]

[2018-02-20 16:20] martijnthe opened #5623 "Run each test case in a separate process / better isolated context?"
**Do you want to request a _feature_ or report a _bug_?**

Request a feature.

**What is the current behavior?**

Currently, tests in a single test source file are run one after the other in the same process / context.
One can use `resetModules` and `resetMocks` (disabled by default!?) to reduce the chances of one test to affect another test.

One of the problems with `resetModules` and `resetMock

[2018-02-20 16:34] thymikee commented on #4883
I can definitely repro that, still no idea what's the case :D

[2018-02-20 16:42] #4947 closed

[2018-02-20 18:59] martijnthe commented on #5623
@SimenB not sure if I follow. Why are they mutually exclusive? I imagine the thing that orchestrates running test cases to spin up a process, passing the name of the (single) test case to run. The new process would then only run the test case matching the name of the test that was passed in by the orchestrator.

[2018-02-20 20:39] martijnthe commented on #5623
Just talking with @hbehrens who pointed out that you can already use static imports and run in "true isolation" by running jest "manually" for each test case, using `--testNamePattern` to make sure only single test case gets run. It would of course be terribly slow and cumbersome, but just to prove the point that static imports and "true isolation" isn't mutually exclusive.

[2018-02-20 21:20] cpojer commented on #5623
Right now we are not planning on adding such a feature mainly because of how much the added splitting or static analysis would add to Jest's runtime. Basically, we'd have to either run the startup code for each file in each process or do static analysis to extract the relevant code to run in isolation. Jest provides complete isolation between files, manual isolation within files, like you pointed

[2018-02-20 21:20] #5623 closed

[2018-02-20 21:53] nikolay-govorov commented on #1937
@cpojer, but just.mock cannot create a stub for a non-existent file

[2018-02-20 22:14] thymikee commented on #1937
It can, you can pass a third parameter
[code]

[2018-02-20 22:23] kcjonson commented on #5325
Full reproduction and steps here: https://github.com/kcjonson/jest-hoisting-bug-demo
thats the most simple case I could whip up, I'd love to hear that I missed some simple config.

[2018-02-20 22:31] rogeliog commented on #5478
There is a problem that I've been encountering while implementing Jest plugins to stress the API.

### In an ideal world, I should be able to do this:

Implement the pattern mode by simply using `inquirer`.

![a](https://user-images.githubusercontent.com/574806/36452559-eec6c4b4-1649-11e8-9889-896c1530e959.gif)

Here is the code for it.
[code]

And we could get fancier by using more inquirer featu

[2018-02-20 23:15] HBehrens commented on #5623
Thank you for the hints, @cpojer – @martijnthe also had the idea of relying on dynamic `import` to "re-require" each symbol on each test to take advantage of `resetModules`.
To avoid manual boiler plate and keep TS type-safety, one could use a Jest transformer. An import like
[code]
could be transformed to
[code]
This is still not 100% isolation as there could be shared state within a single test

[2018-02-20 23:43] nikolay-govorov commented on #1937
@thymikee Where can I find this in the documentation?)

[2018-02-21 00:38] rickhanlonii commented on #5619
Hey @zhenyulin! This issue tracker is not a help forum. I'm happy to [help more](https://facebook.github.io/jest/en/help.html) using our [discord channel](https://discord.gg/MWRhKCj) or [StackOverflow](https://stackoverflow.com/questions/ask) where there is an active [jestjs](https://stackoverflow.com/questions/tagged/jestjs) tag for questions

[2018-02-21 00:38] #5619 closed

[2018-02-21 01:11] rickhanlonii commented on #5583
Cannot reproduce on:

Jest 22.3.0
NPM 5.6.0
macOS 10.13.1

[2018-02-21 01:16] tsoyviktor commented on #5156
I can install `@babel/code-frame` using `npm i @babel/code-frame` but there is an issue with NPM REGISTRY: [https://registry.npmjs.com/package/@babel/code-frame](https://registry.npmjs.com/package/@babel/code-frame) I'm getting `**HTTP 403**` error.

[2018-02-21 06:32] SimenB commented on #5156
Seems like they've changed their permission model, however this URL works: https://registry.npmjs.org/@babel%2fcode-frame

[2018-02-21 06:38] SimenB commented on #5478
Supporting `inquirer` out of the box sounds really appealing. Any downsides to switching encoding? Should a plugin be able to dictate its wanted encoding? Why do we use `hex` in the first place?

I also thought when I looked at your gif that it would be cool if that fancy filter also had typeahead. Thoughts on reusing logic between different plugins? Or have them extend one another.

[2018-02-21 06:39] SimenB commented on #5574
Oh, this wasn't closed.

#5576

[2018-02-21 06:39] #5574 closed

[2018-02-21 06:49] SimenB commented on #1937
In the docs for `jest.mock`: https://facebook.github.io/jest/docs/en/jest-object.html#jestmockmodulename-factory-options

[2018-02-21 08:02] jasperblues opened #5628 "TypeError: require(...) is not a function after upgrade"
**Do you want to request a _feature_ or report a _bug_?**

Potential bug.

**What is the current behavior?**

Jest @21.2.1, I am able to execute tests without issues.
Jest @latest, results in:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install

[2018-02-21 08:24] thymikee commented on #5628
It's probably related to your package manager. Please purge node_modules and try again. Also, we can't action this without a repro.

[2018-02-21 08:40] niekert commented on #3884
Appreciate the update!

[2018-02-21 08:40] jasperblues commented on #5628
purge of node_modules didn't work. updating from node 8.9.1 to 9.5.0 didn't work either.

appreciate that you can't take action without a repro - will see what i can prepare. in the meantime I wanted to put it on your radar in case it is something that others are experiencing.

thanks.

[2018-02-21 09:00] ShintaroNippon opened #5629 "Cannot find module './create_spy' from 'jasmine_light.js'"
I'm getting this error with these configurations:
at
      at Resolver.resolveModule (node_modules/jest-resolve/build/index.js:194:17)

package.json
`{
  "name": "frontend",
  "jestWebpackResolver": {
    "silent": true,
    "webpackConfig": "./tests/webpack.config.js"
  },
  "private": true,
  "version": "3.0.0-alpha.1",
  "description": "Zaask FrontEnd",
  "main": "src/app/index.js",
  "scripts"

[2018-02-21 09:06] nikolay-govorov commented on #1937
@SimenB thank!

[2018-02-21 09:22] cpojer commented on #5629
rm your node modules, upgrade Jest, and reinstall with Yarn.

Please note this issue tracker is not a help forum (as stated in issue template).

We recommend using [StackOverflow](https://stackoverflow.com/questions/ask) where there are community incentives to help others or our [Discord channel](https://discord.gg/Xs5Xbjr) for questions.

You'll find more on the Jest [help page](https://facebook.

[2018-02-21 09:22] #5629 closed

[2018-02-21 09:25] jasperblues commented on #5628
**Repro Steps:**

Add: `globalSetup: "./test/jest.global.setup.js",` to jest.config.js

jest.global.setup.js:
[code]

[2018-02-21 09:25] cpojer commented on #5478
I think the encoding was just for detecting the keys. utf8 should equally work, no?

I really like this idea, btw.

[2018-02-21 09:44] Ehyeh-Asher-Ehyeh commented on #3332
I believe I just had the same issue with recyclerlistview and solved it by transformIgnorePatterns as per @kimjuny's link.

Worth noting: react-native contains a preset file (node_modules/react-native/jest-preset.json) which you are using if your jest config says `"preset": "react-native"`. It sets a value for "transformIgnorePatterns" which (for rn 47.9 at least) ignores all folders in node_modul

[2018-02-21 09:53] ShintaroNippon commented on #5629
I tried remove all node modules and install with yarn or npm
same issue
thanks
carlos vieira

[2018-02-21 10:00] #5326 closed

[2018-02-21 10:07] rolandjitsu commented on #5463
I was under the impression that when a jest root config has projects and you run it, it will actually use a different configuration file/json for each project if the project has one:

E.g.:
[code]

Is my assumption wrong?

[2018-02-21 10:09] ShintaroNippon commented on #5629
i rm node modules and update to 22 jest but still have the error
thanks

[2018-02-21 10:31] zhenyulin commented on #5619
Hi @rickhanlonii , thanks for following up. I suspect this might be an issue caused by the implementation?

[2018-02-21 10:51] rolandjitsu commented on #5420
@thymikee I'm actually having somewhat a similar issue and I have a repo to illustrate the problem. See [cra-workspaces](https://github.com/rolandjitsu/cra-workspaces).

Just run `yarn install` at the root (yarn should be at 1.3+) and then `yarn run packages:test`. I'm seeing some very weird behaviour:

1. It ignores my projects config and runs tests even in `apps/*`
2. It does not properly use th

[2018-02-21 11:36] thymikee commented on #5629
@ShintaroNippon this is a duplicate of https://github.com/facebook/jest/issues/4025. You'll find a workaround there

[2018-02-21 11:59] ShintaroNippon commented on #5629
thanks.. i tried to resolve in that way but without sucess
i will try to change the package json as equal as in that 4025

many thanks
carlos vieira

[2018-02-21 12:02] ShintaroNippon commented on #5137
where i put the code in previous post ?

[code]
thanks carlos vieira

[2018-02-21 12:12] thymikee commented on #5619
Looks like this is a great question to ask on Stack Overflow or Discord, feel free to reach out on our [help page](https://facebook.github.io/jest/en/help.html)

[2018-02-21 12:16] thymikee commented on #5628
I'm sorry, but this is not a sufficient repro. We need a repo we can check out to

[2018-02-21 12:19] jasperblues commented on #5628
Yes, I'll get to that eventually. Keeping you updated. Please keep this issue closed and I'll open a new one when I have a public repository that reproduces the issue.

Happy to help out! Take care.

[2018-02-21 12:24] thymikee commented on #5628
Cool, looking forward to it, and thanks for taking care to make a repro!

[2018-02-21 12:29] ShintaroNippon commented on #4025
Hello, these solutions i couldnt apply... i still have the error
can someone help please

Cannot find module './create_spy' from 'jasmine_light.js' #5629

[2018-02-21 12:54] ShintaroNippon commented on #5629
i have changed the configuration jest to

[code]

but then im getting an error

FAIL  tests/state-functions.spec.js
  ● Test suite failed to run

    Your test suite must contain at least one test.

      at node_modules/jest-cli/build/test_scheduler.js:108:22

[2018-02-21 12:54] ShintaroNippon commented on #4025
i have changed the configuration jest to

"jest": {
    "transform": {
      ".*": "./tests/preprocessor.js"
    },
    "modulePaths": [
      "src"
    ],
  "testPathIgnorePatterns": [
    "/node_modules/",
    "/vendor"
],
"testRegex": "\\.spec\\.js"
  }
but then im getting an error

FAIL tests/state-functions.spec.js
● Test suite failed to run

Your test suite must contain at least one test.

[2018-02-21 13:58] jonathannen commented on #5137
@ShintaroNippon generally you'd put in something like ``resolver.js`` and then reference from a ``jest.config.js`` file. If you look at the example repository in the original post, the code would go in the resolver.js file (https://github.com/marcialca/jest-resolve-bugs/blob/master/js-src/__tests__/resolver.js)

[2018-02-21 14:22] #5290 closed

[2018-02-21 16:30] sean-killeen commented on #2381
Hi Guys,

For me,  Even with no special characters in the test path I still can't get tests to run.
![image](https://user-images.githubusercontent.com/16816091/36492138-4f1e9050-1724-11e8-932a-d0e229b640b8.png)

if I use jest with path to the spec they will execute but otherwise not.  Any help greatly appreciated.

[2018-02-21 16:34] ShintaroNippon opened #5633 "Cannot find module 'store/actions/user' from 'login-form.js'"
i have this jest configuration

[code]

and im using react redux and im getting this error

Test suite failed to run

    Cannot find module 'store/actions/user' from 'login-form.js'

      2 | import * as PropTypes from 'prop-types';
      3 |

      5 | import Scss from './scss/index.scss'
      6 |
      7 | export class LoginFormComponent extends React.Component {

      at Resolver.resolveMod

[2018-02-21 16:37] tkrotoff opened #5634 "console.assert not throwing with v22.4.0"
According to [NodeJS doc](https://nodejs.org/api/console.html#console_console_assert_value_message_args):

`console.assert(false)` does not throw with v22.4.0 (was working at least with v22.1.4):
[code]

[2018-02-21 17:04] thymikee commented on #5633
You need a `moduleNameMapper` to use absolute paths like `'store/actions/user'`. See webpack guide on that: https://facebook.github.io/jest/docs/en/webpack.html#a-webpack-example

[2018-02-21 17:04] #5633 closed

[2018-02-21 17:11] ShintaroNippon commented on #5633
thansk by an answer bu can you help me doing
i have all files react in folder src

i tried
"moduleNameMapper": {
      "^(.*)$": "<rootDir>/src/$1"
    }

but i got an error

Configuration error:

    Could not locate module  (mapped as /private/var/local/www/react-baseline/src/)

    Please check:

    "moduleNameMapper": {
      "/^(.*)$/": "/private/var/local/www/react-baseline/src/$1"
    },

[2018-02-21 17:46] SimenB commented on #4509
See #5177, `mapCoverage` has been removed as of 22.4.0, its behaviour being the default

[2018-02-21 17:46] #4509 closed

[2018-02-21 17:53] SimenB commented on #5634
/cc @ranyitz

[2018-02-21 17:54] thymikee commented on #5633
You need to be more explicit with your regex. There's enough examples on our website, you can also search on stack overflow. Please mind that's an issue tracker not a help forum.

[2018-02-21 17:56] ShintaroNippon commented on #5633
I already made the regex

now im getting this error\● Test suite failed to run

    SyntaxError: Unexpected token (2:5)

      at Parser.pp.raise (node_modules/acorn-jsx/node_modules/acorn/dist/acorn.js:943:13)
      at Parser.pp.unexpected (node_modules/acorn-jsx/node_modules/acorn/dist/acorn.js:1503:8)
      at Parser.pp.semicolon (node_modules/acorn-jsx/node_modules/acorn/dist/acorn.js:1482:73)

[2018-02-21 19:02] geovanisouza92 commented on #5118
I'm still having this issues.

[2018-02-21 19:45] ranyitz commented on #5634
We had a discussion regarding the subject on #5576.

That's what we're doing and I think that it's better when `console.assert` does not throw, like in the browser. If we'll decide differently though - we'll need to detect jsdom/node in the console or create a different console for each.

/cc @thymikee

[2018-02-21 19:51] SimenB commented on #5634
Might be worth a flag? Not sure

[2018-02-21 19:53] thymikee commented on #5634
Yep that was our decision. Maybe faulty? I don't have strong feelings about it. @mjesun @cpojer what do you think?

[2018-02-21 20:12] SimenB commented on #2381
why do you run `jest/bin/jest`? seems like jest thinks `/bin/jest` is the pattern...

[2018-02-21 20:19] spencer-brown commented on #2441
on jest@v22.4.0, node@8.9.4, and using `--forceExit`, i don't see the output of `console.log` from my tested code unless i explicitly set `verbose` to `false` or remove the `--forceExit` flag (which i'm using temporarily).

[2018-02-21 20:29] tkrotoff commented on #5634
A testing environment (Jest) being more strict than the final running environment (browser) is not a bad thing and probably wanted.

The browser has a different goal: make the end user happy VS a testing environment validates code is rock solid.

Do we want a unit test to succeed even if the code tested contains an assert that fails?

Did you have developers complaining about console.assert() thro

[2018-02-21 20:38] ShintaroNippon commented on #5633
i already create the "regex"
now im finding another error

0down voteaccept | i added this "moduleNameMapper": { "^store/actions/user$": "/src/app/components/auth/login-form/index.js" }but im getting this error Test suite failed to runSyntaxError: Unexpected token (2:5)    at Parser.pp.raise (node_modules/acorn-jsx/node_modules/acorn/dist/acorn.js:943:13)   at Parser.pp.unexpected (node_modules/ac

[2018-02-21 20:55] thymikee commented on #2517
Does running `npm run unit -- -u` help?

[2018-02-21 20:59] marcinlesek commented on #2517
Firstly, thanks for fast response @thymikee. Yes, **this command works fine**. I think it will be nice move to fix it later to be just `-u`. :smile:

[2018-02-21 21:43] rogeliog commented on #5478
Got it, thanks!

@SimenB

Yes, we just need to come up with a nice interface for injecting some of the `SearchSource` stuff https://github.com/facebook/jest/blob/master/packages/jest-cli/src/search_source.js#L139, I was thinking of two options.
1. Inject only the file paths in a `jestHooks.onFilePathsChanged(filePaths: Array<string>)` and leave the rest to the plugin.
2. Find a way to access some

[2018-02-21 22:19] beattyml1 commented on #1965
I'm using the following code fragment to hack around this limitation of the framework (in TypeScript but just remove the type annotations for JS)
[code]

[2018-02-22 02:52] rickhanlonii commented on #2517
@marcinlesek the extra -- is a limitation of npm, it's the only way to pass args through

If you use yarn you could run:

yarn unit -u

[2018-02-22 10:45] raine commented on #2441
Seeing exactly the same behavior as stated above. jest@v22.4.0, node@9.5.0.

console.logging before before `done()` is called, yet the output is not shown with `--forceExit`. When `--forceExit` is removed, the console.log output is shown at the end.

[code]

So isn't the obvious solution here to before force exiting flush whatever output buffer jest has internally?

[2018-02-22 11:10] mjesun commented on #5634
My two cents on that:

* I assume that the `console.assert` behavior was changed because there were some mismatches or complains before; which means that going all-in into one or another approach will not make either side happy.

* Jest is `node` based, so I would expect that the default behavior matches the one in Node. So by default, the `console.assert` implementation should throw, as it does i

[2018-02-22 11:16] thymikee commented on #5634
@mjesun Actually the default env is `jest-environment-jsdom` :D https://github.com/facebook/jest/blob/497be7627ef851c947da830d4a8e21046f847a78/packages/jest-config/src/defaults.js#L63
But I agree with the rest. Anybody willing to send a PR with a fix and a test?

[2018-02-22 11:25] mjesun commented on #5634
😆 I'm too used to my internal stuff

[2018-02-22 11:56] SimenB commented on #2441
We have a test case for it: https://github.com/facebook/jest/blob/497be7627ef851c947da830d4a8e21046f847a78/integration-tests/__tests__/console_log_output_when_run_in_band.test.js#L24 Is it faulty somehow?

Can somebody set up a reproduction repo we can take a look at?

[2018-02-22 13:20] deftomat commented on #5463
@rolandjitsu Well, a kind of. We, for example, using TypeScript in a few packages and to make it works, these packages have a necessary config. Global Jest's config doesn't know anything about TS.

So, it looks like Jest is using a package's config, however, it ignores some parts. Like in this issue, it ignores `projects` properties and also, as mentioned [here](https://github.com/facebook/jest/is

[2018-02-22 13:39] rickhanlonii commented on #5634
Agree with @mjesun and @thymikee, by default the semantics of assert should match the environment being emulated. Sounds like we broke that in node but it's working as expected in jsdom

@tkrotoff to get the assert semantics you're looking for in a jsdom environment, you can override `console.assert` to the behavior you want. To do that you can add this code to a setupFile:

[code]

That will fail

[2018-02-22 14:16] tkrotoff commented on #5634
@rickhanlonii

This is what I do by redirecting console.assert to Node' assert:
[code]

[2018-02-22 16:28] sean-killeen commented on #336
@tkrotoff  Thanks for your help,  you definitely have moved me in the right direction but my istanbul coverage report still shows the incorrect umber of lines.

![image](https://user-images.githubusercontent.com/16816091/36550485-51fa3832-17ed-11e8-9f0b-f3eb9449fc0d.png)

while the actual lines in the file are:
![image](https://user-images.githubusercontent.com/16816091/36550514-64a0f520-17ed-11e8

[2018-02-22 16:33] tkrotoff commented on #336
@sean-killeen you should use ts-jest, no need for remap-istanbul: `ts-jest now fully works, including vscode breakpoints`

[2018-02-22 16:56] sean-killeen commented on #336
I actually started with ts-jest originally and have been getting an error with **istanbul-lib-coverage** when using it.

[2018-02-22 17:17] Sangdol commented on #1371
@kaustav1992 this also fixed my issue, but can anyone explain why?

[2018-02-22 17:22] sean-killeen commented on #336
There is an open issue on this with ts jest [here](https://github.com/kulshekhar/ts-jest/issues/334l)

[2018-02-22 17:29] ansballard commented on #2381
@sean-killeen That seems like a separate issue, you may want to create a new issue with the full template filled out for better help.

[2018-02-22 20:12] reggi opened #5641 "Jest CLI not working with custom file path"
## ./index.js

[code]

## ./test.js

[code]

## ./packge.json

[code]

## Output

[code]

[2018-02-22 20:21] rickhanlonii commented on #5641
Hey @reggi, thanks for using Jest

The issue is that `index.js` does not match any of the default matchers but `./test.js` does

To test `index.js` you'll need to configure the [matchers](https://facebook.github.io/jest/docs/en/configuration.html#testmatch-array-string) to allow it

You can see this in the output via:

[code]

[2018-02-22 20:21] #5641 closed

[2018-02-22 20:33] reggi commented on #5641
@rickhanlonii

Not sure if this is optimized but this works.

[code]

[2018-02-22 21:15] paularmstrong commented on #5597
@cpojer @SimenB Either of you have any guidance on where to start looking for a way to fix this bug? Happy to give it a shot, but am lost at where to start.

[2018-02-22 21:23] rickhanlonii commented on #5641
@reggi yeah I would expect that to work and, in general, I would try to be as specific as possible

[2018-02-23 05:15] gijswijs commented on #4751
@Havunen I had this issue with Nuxt, and your comment was exactly what I needed. It's a shame I only found it after spending the better part of two days on this.

[2018-02-23 08:59] SimenB commented on #336
Jest should fully support sourcemaps out of the box now, as long as they are either inline or the transformer returns it (meaning we don't look up external sourcemaps).

@sean-killeen could you provide a repro of your issue?

[2018-02-23 09:08] SimenB commented on #4751
Is there a `./node_modules/.bin/jest.cmd`?

[2018-02-23 09:56] #4795 closed

[2018-02-23 11:05] sean-killeen commented on #2381
@SimenB @ansballard  Thanks for your help.  So I got this resolved by using the global installation of Jest rather than referencing it through my node_modules.

[2018-02-23 11:08] sean-killeen commented on #336
@SimenB I think this is an open issue with React 16 and Node 8.  I found [this](https://github.com/kulshekhar/ts-jest/issues/334) which I think is the same issue.  What I am getting is coverage but with incorrect line numbers.  looks the the numbers are generated from the transpiled source code that isn't source-mapped.

[2018-02-23 12:16] karthikiyengar opened #5643 "UTF-8 string comparison causing issues"
Current Behaviour:

I'm trying to compare two strings with a currency symbol. I've used `toMatch`, `toBe` and `toEqual`. Here's what I'm getting
[code]

If I copy paste and compare them on the JS console, it returns a `true`.

The tests pass without the € symbol though.

Expected Behaviour:

The strings should be equal.

[2018-02-23 13:19] archy-bold opened #5644 "Comparing Headers Objects Fails With 'Compared values have no visual difference.'"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
Comparing two `Headers` objects that should be the same, returns the following error when compared:

[code]

In my case I'm actually trying to compare arguments passed to a `window.fetch` mock with `.toHavebeenCalledWith` so have had to hack the `calls` array to remove the headers to pass the test and

[2018-02-23 13:43] elad-yosifon commented on #5577
@WederPachecoSilva
`toHaveProperty(expectedKey, ...)` enables to pass a 2nd arg `expectedValue` which is optional.. and passing it will assert for a matching key and value..

This behaviour complicates your original idea of passing an array of keys to `expect().toHaveProperties(['key1','key2','keyN'])`.

I thought about passing a 2nd arg which contains matching values, passing an array of tuples o

[2018-02-23 14:37] karthikiyengar commented on #5643
Apologies, there was an obscure UTF-8 character in the comparison.

[2018-02-23 14:44] dohafaridi commented on #2081
@hqro it worked for me, Thanks 👍

[2018-02-23 15:59] sibnerian commented on #4795
🎉

[2018-02-23 16:19] SimenB commented on #5577
If you want equality, you should use `toMatchObject` for partial or `toEqual` for full match.

[2018-02-23 16:59] JakRowan commented on #4724
Yeah, this is really annoying, and I would consider it a bug since it says what it expects to be matching but doesn't actually match against that. It appears to be only matching against `error.message`. I really would not consider this a "breaking change" since it's more of a bug fix.

Or, if worried about breaking changes, you could add a new expect such as, `expect().toThrowWithName()` or someth

[2018-02-23 18:10] prabubio opened #5647 "Test fails with errors 22.4.0"
**Do you want to request a _feature_ or report a _bug_?**
Bug
**What is the current behavior?**
Certain tests fails with:

TypeError: this._getSourceMaps is not a function
....
at BufferedConsole._log (node_modules/jest-util/build/buffered_console.js:67:96)

I still don't have information on what specific kind of test triggers the error, I will update the ticket with more information as I find.

*

[2018-02-23 18:14] SimenB commented on #5647
Bah, I was hoping these sorta errors wouldn't appear... Will need a repro though to fix

[2018-02-23 19:02] matt-oakes commented on #4710
For others that find this issue, it can be caused by running an `Animated` animation in React Native. Not running that animation when jest is detected is the best solution I found for now.

[2018-02-23 20:42] brneto commented on #3052
Please, someone can explain why this was removed? What's the workaround?

[2018-02-23 21:45] mkubilayk commented on #5597
I checked out the repository but couldn't reproduce this. Are still seeing the issue?

[code]

[2018-02-23 22:13] prabubio commented on #5647
I am not using a custom module loader.  This is happening in our build system, I am trying to get it locally so I can get more info but unsuccessful so far.  Hoping to get something soon.

[2018-02-23 22:32] ninahaack commented on #1284
Hi, I'm really interest in `--watch` and `--coverage` together. Why? Because I try always to have a good coverage and I have a lots of tests in this project that I'm working on. I Like to see the progress of the coverage and every time that I write some test I want to run the coverage and I've to wait a long time to receive the result.

Is there any chance to implement this feature? If not can you

[2018-02-23 22:37] prabubio commented on #5647
This isn't happening anymore, could be a problem from my side with other dependencies. Will reopen with more details if it repeats.  Thanks!

[2018-02-23 22:37] #5647 closed

[2018-02-23 23:09] paularmstrong commented on #5597
@mkubilayk It's dependent on which tests run first. If the `node` tests run first, it'll pass. If `web` runs first, the `node` tests will fail. In your case, notice that `node` ran first.

[2018-02-24 01:56] SimenB commented on #1284
See #5601

[2018-02-24 04:13] Laurieliuren opened #5649 "Jest pattern “” - 0 matches （SearchSource.js path problem）"
report a BUG：

When I was using jest, one problem occurred as follows:

`Jest pattern “” - 0 matches `

Then I try to debug it. When it step to SearchSource.js file, the path I got is:
`E:/LearningSoftwares/GitRepository/credibility-analyzer\app/features/auth/checkPermission.spec.js`
the path has '\\' mixed with '/' which bothered me.

But SearchSource.js  rootPattern  is `E:\\LearningSoftwares\\G

[2018-02-24 06:07] thymikee commented on #5649
Does it happen on latest, v22?

[2018-02-24 07:54] azz opened #5650 "[jest-docblock] Do not extract /* these */ comments"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the expected behavior?**

[code]

**What is the current behavior?**

It returns the non-docblock `/* a */`.

Fixing this could be considered a breaking change, so perhaps adding an option `{strict:true}` is preferable?

[2018-02-24 11:37] SimenB commented on #5650
Feels like a bug to me, not necessarily breaking. @cpojer?

[2018-02-24 11:49] SimenB commented on #5597
@paularmstrong I'm not really sure where the best place to start looking is, but I'd take a look at `_modulePathCache` in `jest-resolve` here: https://github.com/facebook/jest/blob/64cbf36eb1c34f8839e484ae0da355e5edcf4ec2/packages/jest-resolve/src/index.js

[2018-02-24 11:57] SimenB commented on #3052
The usage part is collapsed after first run (to just `Watch Usage: Press w to show more.`). Isn't that enough?

[2018-02-24 12:30] azz commented on #5650
Looks like there's a test to the contrary.

https://github.com/facebook/jest/blob/64cbf36eb1c34f8839e484ae0da355e5edcf4ec2/packages/jest-docblock/src/__tests__/index.test.js#L69-L81

[2018-02-24 16:15] brneto commented on #3052
I don't know about everyone else, but I think would be good have an option to disable that, because when using 'jest --watch' with 'npm-run-all', for instance, it shows too much distraction.

[2018-02-24 16:38] brneto commented on #3052
I've found out, checking the jest-util/src/is_interative.js source code, that setting the environment variable `TERM=dumb`  make `Watch Usage` to hide, but the tests are shown without style color and so:
`process.stdout.isTTY && process.env.TERM !== 'dumb' && !isCI;`

[2018-02-24 16:47] brneto commented on #3052
The style is removed here in jest-cli/src/watch.js:
`198: isInteractive && outputStream.write(CLEAR);`

[2018-02-24 17:06] elad-yosifon commented on #5577
@SimenB @WederPachecoSilva .. maybe changing the function to
[code]

will be a better idea?

[2018-02-24 17:21] SimenB commented on #5577
Yeah, I think that makes more sense. I'm not sure if it's needed in Jest core, though

[2018-02-24 19:14] hawkeye64 opened #5653 "Document how expect().toHaveProperty works with a dot in the property name."
**Do you want to request a _feature_ or report a _bug_?**
_bug_

**What is the current behavior?**
toHaveProperty fails with nested property that has a dot (".") in the name.

**If the current behavior is a bug, please provide the steps to reproduce and
either a repl.it demo through https://repl.it/languages/jest or a minimal
repository on GitHub that we can `yarn install` and `yarn test`.**
Here