[2022-01-20 16:01] gramsco opened #12260 "[Documentation]: CLI --filter option might no be clear enough / Filter {filterPath} did not return a valid test list"
### Version

27.4.5

### Steps to reproduce

Steps :
(1) Go to the [documentation about filter file](https://jestjs.io/docs/cli#--filterfile)
(2) Create a working project with a valid jest config
(3) Create a filter file as stated in the doc to be used with ```bash --filter=<filename>```
(4) Try a few functions
(5) Receive "Filter {filterPath} did not return a valid test list"

### Expected behavi

[2022-01-20 16:07] gramsco commented on #12260
I would be happy to do a PR for the documentation part.
As for the the new Set part, I would say I am not experienced enough with Jest's codebase!

[2022-01-20 16:24] simonyarde opened #12261 "[Bug]: `jest --testMatch` is not documented"
### Version

27.4.7

### Steps to reproduce

CLI option `--testMatch`  works but is not documented.

It would be nice to know it is stable, assuming it is?

[code]

`testMatch` is [documented as a configuration option](https://jestjs.io/docs/configuration#testmatch-arraystring).

See: https://stackoverflow.com/questions/66263298/jest-regex-to-match-certain-test-files

### Expected behavior

I expe

[2022-01-20 22:48] ppamorim opened #12262 "[Bug]: Test suite failed to run, thrown: undefined"
### Version

27.4.7

### Steps to reproduce

Unfortunately for the moment I am not sure how it could be reproducible, the issue does not point to anything in my application. Please understand the situation, I am aware that `jest-circus` was added recently and it might contain bugs.

Edit: Just discovered a way to stop this issue from happening: I had to add this to each test:

[code]

Feels like `

[2022-01-20 23:46] jeysal commented on #10013
Hey, there's a PR ready that will land for the next major I think

[2022-01-21 01:53] selfagency opened #12263 "[Bug]: Test fails and bails but never names the failed test"
### Version

26.6.3

### Steps to reproduce

Can't share the code because it's proprietary but 1000+ tests in the suite function as expected, this one doesn't. The problem is that there's no way to derive which test is failing out of that 1000+ in part because Jest is picking files from the glob at random. It's also bailing whether or not there's a `bail` flag set.

### Expected behavior

For the

[2022-01-21 12:00] avimehenwal commented on #11121
Yeah, it's a important feature in testing frameworks when in I just want to know what exactly I am testing.
Most python based testing frameworks implements it gloriously like [Robotframework](https://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#dry-run) and [pytest](https://gist.github.com/FGtatsuro/a048896f6b4e60acd2f9)
This is a important feature in modern times #11636

[2022-01-21 12:29] cowboyd commented on #10927
As part of my other bug report I went ahead and added a reproduction for this bug as well since they might be related? https://github.com/cowboyd/jest-suite-hooks-on-sigint

[2022-01-21 12:35] cowboyd commented on #12259
I updated the reproduction to be file based since that is more reliable, and also to include a reproduction of #10927

[2022-01-21 12:39] cowboyd commented on #10927
@OoDeLally It should also be noted that the same holds true for the `exit` event.

[2022-01-21 15:59] molszanski commented on #10529
My tests now look pretty silly because I can not use `await`

[code]

I would rather do this

[code]

[2022-01-21 20:56] scottdotjs commented on #12120
I've also run into this on a minimal project (not TypeScript), after following a suggestion that I should install `@babel/plugin-transform-modules-commonjs` to transform my ES modules to CommonJS for Jest in the test environment due to a pure ESM dependency.

[2022-01-21 21:37] scottdotjs commented on #10025
Following some advice I saw somewhere (hard to know... I've had so many tabs open today chasing this) I installed `@babel/plugin-transform-modules-commonjs` to turn ESM into CommonJS in the test environment, but it doesn't work - it dies with `SyntaxError: The requested module 'whatever.js' does not provide an export named 'someFunction'`. Someone's filed a bug for that as #12120. I'm considering

[2022-01-21 21:41] vialoh commented on #10025
@scottdotjs Have you tried the setup I described above?

[2022-01-21 22:17] scottdotjs commented on #10025
@vialoh None of that was relevant to my situation. Also this is incorrect:

Jest is able to see the modules without mapping the file names, as my comment above would suggest.

[2022-01-21 22:23] vialoh commented on #10025
@scottdotjs What is different about your setup?

Also, regarding the `moduleNameMapper`, does your code `import someModule from './someModule.js'` (with the `.js` extension) or does it `import someModule from './someModule` (without the extension)? If it's the latter then it isn't actually following the ES modules spec.

[2022-01-22 01:18] piranna commented on #10883
Is there any update on this?

[2022-01-22 04:50] frank-dspeed commented on #10025
@vialoh sorry your wrong "string" specifier are part of the spec they get resolved via the importMap proposal in  userland ESM Code and else its up to the Environment to resolve string module Specifiers

[2022-01-22 12:03] sameem420 commented on #10013
Alright. Thanks, Tim

[2022-01-22 17:12] frank-dspeed commented on #10025
@vialoh sure here you go
from https://nodejs.org/api/packages.html#subpath-patterns

[code]

* maps expose nested subpaths as it is a string replacement syntax only.

All instances of * on the right hand side will then be replaced with this value, including if it contains any / separators.
[code]

[2022-01-22 19:56] vialoh commented on #10025
@frank-dspeed Interesting, thanks!

I was able to get your suggestion to work with the following...

src/foo.js:
[code]

src/index.js:
[code]

package.json:
[code]

I'm not sure how I feel about it though. It feels sort of wrong, maybe from too many years of using relative imports. Although this may actually prove to be better for modularity in the long term.

I am still curious though. Is it poss

[2022-01-23 02:56] Sheepux commented on #7631
tried the npm global install and it didn't improve my issue.
However ... copying the project from the /mnt/c/etc... to /home/myproject resolved everything because there is no longer the NTFS issue. But that's just a second temp workaround (as i had to test a few things from ubuntu)

[2022-01-23 05:02] frank-dspeed commented on #10025
the prefix # was fully optional i showed both the # is a internal convention to easy parse and find such imports without much trouble

and about your other question It is fully environment dependent the NPM way works only for NodeJS as it is from the same People. The Cross Platform way is ImportMaps you can use them in many environments today

and the offical shim PoillyPony Fill for that is syste

[2022-01-23 07:00] vialoh commented on #10025
@frank-dspeed I used SystemJS a while back, but I'm trying to avoid relying on any fills.

If I have `src/foo.js` and `src/index.js` and want to `import ./foo.js` (exactly as written here) from within `src/index.js`, what would the `package.json` configuration be?

[2022-01-23 16:02] mmmmmrob commented on #10329
Another vote for the core matchers to be exposed for use within custom matchers.

In my use case I'd like to write a db-based custom matcher `expect(original).toHaveBeenUpdatedTo({…})`.

Internally this would be

[code]

[2022-01-23 17:45] leonardopliski commented on #12142
Using [this approach](https://github.com/facebook/jest/issues/11956#issuecomment-1001976394) from @oskar-kupski-elpassion reduces the memory leaks for me. Also, if you're using typescript with `ts-jest` I'd recommend switching to `swc` or using a jest custom transformer with the `typescript` package, as `ts-jest` is causing more memory leaks for me.

[2022-01-24 08:00] Tushar321321 opened #12265 "● Test suite failed to run TypeError: Cannot read property 'bind' of undefined (React Native) at Object.<anonymous> (node_modules/react-native/Libraries/Utilities/createPerformanceLogger.js:60:55) at Object.<anonymous> (node_modules/react-native/Libraries/ReactNative/AppRegistry.js:22:1)"
### Please do not submit this issue.

- [X] I understand

[2022-01-24 08:00] #12265 closed

[2022-01-24 10:24] bcluyse commented on #12142
@leonardopliski
We are not using typescript and neither is the minimal reproduction repo mentioned using it.
The suggested approach does not have any impact on the memory consumption of the minimal reproduction so I am not sure it is related.

[2022-01-24 10:29] AdeshKhandait commented on #7563
Please close this issue if the issue is resolved.
Thank you.

[2022-01-24 14:10] ItamarGronich commented on #10784
I've opened a bug for nodejs: https://github.com/nodejs/node/issues/41676
Seems like it's a much deeper problem

[2022-01-24 14:16] tqn-treezor commented on #3710
@Litee Actually that package hasn't been updated for a while and I am still facing a lot of issues with it 😞

[2022-01-24 21:16] gussalesdev commented on #12036
mapping the `d3` to the final bundle worked for me since the jest does not need to compile ESModule anymore. Thanks!

[2022-01-24 23:21] benjamingr commented on #10784
Hey, saw this in the Node repo

Pull request based on @ItamarGronich 's issue in Node: https://github.com/nodejs/node/pull/41682

We likely _won't_ fix the issue of primitives throwing (also raised there, at least I'm personally -1 but other members may feel differently) but I've altered the check for unhandled rejection error logging to check if the error has a `.stack` property rather than `inst

[2022-01-25 07:11] Mikuu commented on #8896
+1

[2022-01-25 11:35] fguitton commented on #8896
Isn't this something which was addressed in Jest 22 in #4639 ?
You can even read:

A quick test in Jest 27 just now seems to show this working properly.
This is via config file, CLI single `--config` argument, or separate arguments:
[code]

Am I missing something ?

[2022-01-25 16:51] nika-d commented on #12120
we had a similar issue. here is described, what we did to keep hopefully everything in esm-mode and not having any cjs produced on the way. : [https://github.com/mihar-22/svelte-jester/issues/72#issuecomment-1021356664](https://github.com/mihar-22/svelte-jester/issues/72#issuecomment-1021356664)
the stack is a bit different that yours, but probably the mail point are the jest and node settings.

[2022-01-25 20:55] molszanski commented on #10529
Also, this is a breaking change, because it worked until jest 25 or something and I am sure I have hundreds of spec files written that way

[2022-01-25 21:16] jeffersoneagley commented on #11500
Just ran into this and it's now holding up an upgrade for us too.

[2022-01-25 21:51] rodrigogs commented on #5064
My ci pipeline is failing because of it :(

[2022-01-25 22:44] Litee commented on #3710
@tqn-treezor Well, since I made my comment I created https://github.com/Litee/jest-coverage-thresholds-bumper and use it a lot in my team.

[2022-01-25 22:58] stclairdaniel commented on #11309
This would also be wonderful for my team. We have some suites with logic in `beforeAll` that should be ran before retrying a failing test.

[2022-01-26 08:27] tqn-treezor commented on #3710
@Litee Awesome! I actually made it work, but from the activities of both of your packages, I might switch to yours ^^

[2022-01-26 17:36] gilesdring commented on #10448
I came here having seen a similar problem - tests passed, but failed when adding the `--coverage` flag.

I found that adding

[code]

into the config prevented this issue.

[2022-01-26 17:41] bogdbo commented on #12068
Thanks @Mark1626. I have verified this with `jest-jasmine2` and everything works as expected. 👍️

[2022-01-26 18:17] johncrim opened #12267 "[Bug]: Using @jest/globals expect breaks extensions"
### Version

27.4.7

### Steps to reproduce

[code]

There are two versions of the same test, one using
[code]
the other using the ambient/global expect.

The test using `import { expect } from '@jest/globals';` fails with:

[code]

because the type returned from `expect()` in '@jest/globals' (`Matchers<void, T>` in `expect` module) does not match the type returned from `expect()` in `@types/jest`

[2022-01-26 19:17] Pomax commented on #10784
Even if that PR might land soon, it might be worth updating the docs for now to explain this use, in an easily discoverable location with links to it from other obvious places people will be looking. Worst case, the docs can be reverted a few days from now, but some Node PRs end up taking months of back and forth, and then having those docs updated will make a huge difference to a lot of people =)

[2022-01-26 19:57] ErisDS commented on #11867
I would like to second the request to expose equals from expect, but for an entirely different reason, that might lead to a slightly different solution.

I'm using jest-snapshot outside of jest, as per https://medium.com/blogfoster-engineering/how-to-use-the-power-of-jests-snapshot-testing-without-using-jest-eff3239154e5.

The modularity of jest is allowing me to migrate a large mocha-based test s

[2022-01-27 06:42] nathanKramer commented on #11165
This has been driving me nuts today.

[2022-01-27 06:42] johncrim commented on #12267
Here's the best workaround I've found so far. I've created a type declaration file, which combines the return types of `import {expect} from 'expect';` and `import { jest.Expect } from 'types/jest'`. There may be issues with this approach which I haven't uncovered yet:

[code]

When this type declaration is included in the tsconfig via:

[code]

using `expect` from `@jest/globals` no longer breaks

[2022-01-27 07:07] itsmingjie commented on #5875
Hi! I'm one of the program coordinators of a nonprofit program called [CodeDay Init](https://labs.codeday.org/), and we partner with colleges to help CS students make their first open-source contribution.

We'll claim this issue for now and a group of students will be on it soon with mentorship! If this issue is no longer relevant, please let me know.

[2022-01-27 12:25] ceoworks commented on #11500
I'm having the same issue with `jest.setTimeout` not working.
Jest version in package.json is `^27.4.5`

[2022-01-27 15:57] aduh95 opened #12268 "[Bug]: `atob` is not defined"
### Version

27.4.7

### Steps to reproduce

[code]

### Expected behavior

Same as with `--env=jsdom`:
[code]

### Actual behavior

[code]

### Additional context

`atob` and `btoa` are [available as globals](https://nodejs.org/api/globals.html#atobdata) since Node.js 16.0.0, I think Jest should leave them available as well.

### Environment

[code]

[2022-01-27 16:30] davidy4ng commented on #9235
Folks, if you're using --updateSnapshot you completely missed the point of snapshots and unit tests.

[2022-01-27 17:01] anthony-redFox opened #12270 "[Feature]: Support package imports in jest-resolve"
### 🚀 Feature Proposal

Node Imports in packages.json

### Motivation

https://nodejs.org/dist/latest-v16.x/docs/api/packages.html#imports

### Example

_No response_

### Pitch

similar as #9771

[2022-01-27 17:44] billyvg opened #12271 "[Feature]: Allow option to detect if jest is currently running in watch mode"
### 🚀 Feature Proposal

Add a way to detect (in a jest environment and possibly elsewhere) for when jest is running in "watch" mode.

### Motivation

We have a custom jest environment where we are instrumenting our tests and we'd like to be able to disable the feature in `watch` mode. Currently you can check `process.argv` for `--watch`, but this doesn't work if you call `jest.run(<argv>)` outside

[2022-01-27 20:07] shanewho commented on #12134
This works: `DOTENV_CONFIG_PATH=./.env.test jest --watch`

But it would still be nice to set this in the jest options so you don't have to use the env for every jest command.

[2022-01-27 22:58] #7563 closed

[2022-01-27 23:07] ppamorim commented on #11500
@ceoworks Migrate to the timeout at the `it(...)` definition.

[2022-01-28 06:57] SimenB commented on #12271
Right, we only pass you `projectConfig`, not `globalConfig` (which has `watch: true`). Sounds like something we could change for the next major (i.e. `constructor({projectConfig, globalConfig})` rather than `constructor(projectConfig)`)

[2022-01-28 07:35] #12268 closed

[2022-01-28 08:05] Biki-das commented on #12242
@SimenB what are your thoughts on this?

[2022-01-28 08:22] ottokruse commented on #5823
Another scenario that wants to be able to make tests dependent on one another:

---

We are (maybe wrongfully so) using Jest for some end-to-end integration tests, where we chain multiple steps.

For example:

1. create user
2. login as user
3. perform some action
4. store some audit data about the action in database
5. logout

Currently we model this as 1 Jest test `"end to end test"`, to ensure

[2022-01-28 14:34] mrazauskas opened #12274 "[Bug]: `Worker` class of `jest-worker` does not support ESM worker modules"
### Version

v27.4.7

### Steps to reproduce

An exception is raised, if I try to initialise a worker with an ESM module: `new Worker('path/to/ESMworker.mjs')`. Looks like `jest-worker` is simply trying to `require` the module and that does not work:
https://github.com/facebook/jest/blob/d1bc333c549ffb53691e1ba68b16a21915fc5fdc/packages/jest-worker/src/workers/processChild.ts#L113-L114

https://gi

[2022-01-28 14:42] Baptiste-Garcin opened #12275 "[Bug]: Breakpoints never trigger while debugging with webstorm"
### Version

27.1.1

### Steps to reproduce

1- Start a typescript project
tsconfig:

[code]
jest.config.js

[code]
2 - Put breakpoint in a test such as

[code]

3- Add breakpoint
4- Run this test with webstorm debbuger

### Expected behavior

The code execution should stop on the breaking points

### Actual behavior

The code execution do not stop on the breaking points

### Additional context

T

[2022-01-28 21:07] fuhrmanator opened #12276 "[Feature]: Configuration option for the --colors CLI option"
### 🚀 Feature Proposal

Add a configuration option (boolean) for using colors in https://jestjs.io/docs/configuration that allows `jest` to be run in color without having to type `--colors` on the command line.

### Motivation

1. be more consistent with the other options, such as `clearMocks`,
2. save typing of the option
3. allow for standardized environements (I'm using jest in my courses, and

[2022-01-29 17:25] benjamingr commented on #10784
The PR landed yesterday and will go out with the next v12/v14/v16/v17 versions.

Probably a good idea to update the docs regardless.

[2022-01-29 18:07] SimenB commented on #10784
Happy to take a docs PR 🙂

[2022-01-29 21:35] rodrigogs commented on #5048
So apparently it is still a no-no, am I wrong?

[2022-01-29 22:11] mark-wiemer commented on #5048
Still a no-no AFAIK :(
________________________________
From: Rodrigo Gomes da Silva ***@***.***>
Sent: Saturday, January 29, 2022 1:35:23 PM
To: facebook/jest ***@***.***>
Cc: Mark Wiemer ***@***.***>; Manual ***@***.***>
Subject: Re: [facebook/jest] What is the official way to run jest programmatically? (#5048)

So apparently it is still a no-no, am I wrong?

—
Reply to this email directly, view

[2022-01-31 06:30] Tushar321321 commented on #12265
Please help i can't find any thing about it

[2022-01-31 08:41] #10276 closed

[2022-01-31 09:52] olejech opened #12281 "[Please read the message below]"
### Please do not submit this issue.

- [X] I understand

[2022-01-31 09:53] #12281 closed

[2022-01-31 10:05] GeorgeKnap opened #12282 "[Bug]: Class constructor FormControl cannot be invoked without 'new'"
### Version

27.2.3

### Steps to reproduce

[here is the public repo with the issue](https://github.com/GeorgeKnap/jest-ng-stack-forms-error)

The issue is in the workspace `jest-error-repo` it uses NX workspace with Jest. Run the test of the library inside with `nx test test-this-lib`

in the native angular repo which uses Karma test passes.
I also put the issue in [ng-stack/forms](https://githu

[2022-01-31 11:27] fabioespinosa commented on #3370
For those using dotenv and wanting to have .env override variables which were set before (like jest's NODE_ENV=test):
[code]

[2022-01-31 13:36] praveendvd opened #12284 "[Bug]: Jest not detecting hidebin from yargs helper"
### Version

    "jest": "^27.4.7"

### Steps to reproduce

[package.zip](https://github.com/facebook/jest/files/7971044/package.zip)

1. download the project  and run :
2. npm install
3. npm run test
4. See error : SyntaxError: The requested module 'yargs/helpers' does not provide an export named 'hideBin'

### Expected behavior

yargs/helper has the hidebin export and works well with the actual

[2022-01-31 16:43] vankop opened #12286 "[Bug]: import() results in segment fault"
### Version

27.3.1

### Steps to reproduce

Tested with Node.js 16
1. Clone repo https://github.com/vankop/webpack
2. checkout to [bug-with-running-esm-loader](https://github.com/vankop/webpack/tree/bug-with-running-esm-loader)
3. run `yarn`
4. run `node test/run-esm-loader.js` it will print `ok!` this script has a small webpack build with one module + esm written loader
[code]
in `esm-loader-app

[2022-02-01 09:54] GeorgeKnap commented on #12282
after importing `NgStackFormsModule` in the test module the error changes to
https://user-images.githubusercontent.com/11920691/151941714-18c6dca3-076b-42aa-902d-f009cfab1e72.png

[2022-02-01 10:37] SimenB commented on #12286
I assume this is our old friend https://github.com/nodejs/node/issues/35889

[2022-02-01 14:49] SimenB commented on #12282
Neither of these errors are thrown by Jest

[2022-02-01 15:27] GeorgeKnap commented on #12282
@SimenB In there repo there are just files scaffolded during generating project, nothing custom, nothing special.

[2022-02-01 16:31] anthonyvialleton commented on #6683
I confirm that node debugger mode does not start Jest. Testing with node v16.13.0:

[code]
I also tried with Jest binary (as document): `$ node --inspect-brk ./node_modules/.bin/jest -i src/tests` without success.

PS: There is no error output.

[2022-02-01 17:19] SimenB commented on #9430
Cross posting for visibility: https://github.com/facebook/jest/pull/11529#issuecomment-1027091448

(Not at all to gather sympathy or any such thing, just for transparency as I assume many people subscribed to this issue are frustrated about the lack of progress.)

[2022-02-01 17:48] alfaproject commented on #9430
@SimenB I'm really sorry to hear and I hope you can get your mood back up at some point. I have to agree with the whole ESM/Node situation, what a mess.

[2022-02-01 20:35] billyjanitsch opened #12288 "[Bug]: Jest incorrectly writes new snapshots in CI"
### Version

27.4.7

### Steps to reproduce

1. Clone https://github.com/billyjanitsch/jest-ci-snapshot-bug
2. Run `npx jest --ci`. Note that the test fails, refusing to write the new snapshot.
3. Run `CI=1 npx jest`. Note that the test passes, and the snapshot is written. Also note that terminal colors are disabled (CI mode).
4. Run `npx jest`. Note that terminal colors are enabled (not CI mode).

[2022-02-01 21:20] jmiller-83 commented on #9631
@TheDutchCoder Did you ever find a workaround for this? I'm running into the same issue when I try to run jest on components that import `@google/model-viewer`.

[2022-02-02 10:27] StefanoMagrassi opened #12289 "[Bug]: `jest.doMock` type from `@jest/globals` lacks of optional `options` parameter"
### Version

27.4.6

### Steps to reproduce

1. import `jest` from `@jest/globals`
2. use `jest.doMock('some/module', someFactory, {virtual: true})`
3. Typescript throws error `Expected 1-2 arguments, but got 3.ts(2554)`

### Expected behavior

`jest.doMock` should have the same signature of the one from [`@types/jest`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/jest/inde

[2022-02-02 10:31] SimenB commented on #12289
Wanna send a PR? 😀

[2022-02-02 13:23] essenmitsosse opened #12291 "[Bug]: replacment string for index of the test case for `.each` is wrong in documentation"
### Version

27.4.5

### Steps to reproduce

According to the documentation:

This means, this should show the index of the test case as the test name:
[code]

But it isn't working and the reason is, that the actual implementation expects `$#` instead of `%#`

### Expected behavior

Either the documentation to be correct or `%#` to be working. Or both to preserve backwards comptability.

### Actua

[2022-02-02 13:36] ElderMicrobe889 commented on #10025
@scottdotjs I am having the same issue, have you found any solutions?

[2022-02-02 16:47] dbartholomae opened #12294 "[Bug]: Type for describe.each when importing from @jest/globals does not support const arrays"
### Version

27.4.7

### Steps to reproduce

- Clone `https://github.com/dbartholomae/jest-global-import-example`
- Run `npm test`

### Expected behavior

No error

### Actual behavior

`describe.each([['foo'], ['bar']] as const)` throws an error.

[code]

### Additional context

When importing types from `@types/jest`, the error does not occur, as can be seen from `working-example.test.ts`. It se

[2022-02-02 18:14] imrohitsinghal commented on #11607
adding jest.setTimeout(30000);  before the describe block worked for me. It wasn't working when i added it in the beforeEach or beforeAll hooks.

[2022-02-02 20:53] byF commented on #11808
- it's caused by this: https://github.com/facebook/jest/issues/2549

[2022-02-02 23:16] vladyslavNiemtsev commented on #12265
Hi, do you have a results? Same issue for me, and I think its related to testing-library/hooks, because when I disabled it - everything works well

[2022-02-03 04:03] Tushar321321 commented on #12265
no can't find anything

[2022-02-03 06:45] gomain commented on #11617
For those of you that got here because a failing test involves some `BigInt`, you can temporarily circumvent this issue by setting `maxWorker: 1` in your jest configuration.

[2022-02-03 07:11] #12289 closed

[2022-02-03 07:35] SimenB commented on #12294
Wanna send a PR fixing it? Type comes from here: https://github.com/facebook/jest/blob/71c1e93e66e3fce8ee4e06e61e3fe442c8c020a4/packages/jest-types/src/Global.ts#L46

[2022-02-03 08:54] SimenB commented on #11808
yep

[2022-02-03 08:54] #11808 closed

[2022-02-03 08:57] Baptiste-Garcin commented on #12275
Ok, it's on me. You have to enable sourceMap for the debugger to hit break point…

[2022-02-03 08:57] #12275 closed

[2022-02-03 14:27] cloudlena opened #12296 "[Feature]: Detect unused stubs in test code"
### 🚀 Feature Proposal

As described in [this article](https://www.baeldung.com/mockito-unnecessary-stubbing-exception), JUnit and Mockito support detecting unnecessary stubs and tell the user to remove them. It would be great to have that feature in Jest.

### Motivation

Removing unused stubs makes the test code cleaner and more maintainable.

### Example

_No response_

### Pitch

Removing unus

[2022-02-03 19:02] steevsachs commented on #8769
We ran into this issue when upgrading from Node 14 to Node 16.  It appears that Node 15 introduced a breaking change to promise rejection handling, as @jamesRaybould indicated earlier.  I found https://developer.ibm.com/blogs/nodejs-15-release-blog/ to be a helpful writeup of the change.

We saw the errors disappear after passing the `--unhandled-rejections=warn` flag to node when running tests, w

[2022-02-03 19:28] OdapX commented on #11607
In my case I added a jest attribute in the package.json with the testTimeout property set a little higher have a look :

![code](https://user-images.githubusercontent.com/72660683/152414912-9445b47a-18be-4bbf-a5a9-86a86d2a18d0.png)

[2022-02-03 20:01] dbartholomae commented on #12294
Seems like someone else was faster :D

[2022-02-03 20:03] #12294 closed

[2022-02-03 20:27] GeorgeKnap commented on #12282
@SimenB I have created pure Angular 13 + Jest repo  (taken mostly from jest-preset-angular example)
https://github.com/GeorgeKnap/angular-jest-ng-stack-forms
is it better repo to investigate?
the error that jest is throwing now is `Unexpected value 'NgStackFormsModule' imported by the module 'DynamicTestModule'. Please add an @NgModule annotation.`

[2022-02-03 20:29] ctlopez-PFG opened #12298 "[Bug]: CVE-2021-3807 ansi-regex: 5 used by strip-ansi: 6"
### Version

27.4.7

### Steps to reproduce

Dependabot found that strip-ansi v6 uses ansi-regex v5 which is a vulnerability found as CVE-2021-3807.

npm install @jest/core

### Expected behavior

No vulnerabilities should be found.

### Actual behavior

Dependabot found that strip-ansi v6 uses ansi-regex v5 which is a vulnerability found as CVE-2021-3807.

### Additional context

This is moderate

[2022-02-03 20:58] ctlopez-PFG commented on #12298
Additionally, @jest/reporters and @jest/watcher uses string-length v4.0.1 which uses strip-ansi v6.0.0 which uses ansi-regex 5.0.0, which is the issue. Updating string-length in the reporters and watcher will resolve this.

[2022-02-03 21:36] SimenB commented on #12298
As per your own link, 5.0.1 is also patched, which is what Jest transitively pulls in.

[2022-02-03 21:36] #12298 closed

[2022-02-03 22:01] SimenB commented on #12282
Better, definitely! That error is still an Angular specific one, though, not from Jest. I'd rip out the preset and as much typescript as you can.

Seeing as I don't think this is a bug in Jest, I'll close this issue. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/j6FKKQQrW9) for questions.

If after you've gotten an

[2022-02-03 22:01] #12282 closed

[2022-02-04 01:03] nth-commit commented on #12262
I just ran into the same error.

[2022-02-04 08:44] GeorgeKnap commented on #12282
After including `ngcc` in postinstall script  as suggested here [angular#35805](https://github.com/angular/angular/issues/35805#issuecomment-601608884) I'm back with the
`Class constructor FormControl cannot be invoked without 'new'`
![image](https://user-images.githubusercontent.com/11920691/152498498-f116f2ed-4d80-4c22-9a90-e5e9f8d7b12c.png)

[2022-02-04 09:21] Robin-Didier-MD commented on #11644
Please solve it

[2022-02-04 10:31] chantorak opened #12300 "[Bug]: Snapshot file updating without flag passed"
### Version

27.4.7

### Steps to reproduce

``
  describe("test", () => {

    dataSet.forEach(item => {

      describe(`The ${item.name} mapper`, () => {

        it("should", () => {
          // item.inpput and actual are objects {}
          const actual = map(item.inpput);
          expect(actual).toMatchSnapshot();
        });

      });

    });
  });
``

The test script:
``
"test": "env-

[2022-02-04 11:30] chantorak commented on #12300
--runInBand option was causing this

[2022-02-04 20:19] mattphillips commented on #12129
@ritaly are you able to supply a repro for this? I've just copied the example from the docs and they're passing as expected and if I change the expected value to 10 they fail as expected.

I'll close this for now but feel free to re-open with a repro 👍

See:
<img width="931" alt="Screenshot 2022-02-04 at 20 15 31" src="https://user-images.githubusercontent.com/5610087/152597326-8a45b07c-8b8d-40e0-

[2022-02-04 20:19] #12129 closed

[2022-02-05 09:08] #12242 closed

[2022-02-05 09:22] SimenB commented on #12296
I like this idea! Happy to take a PR implementing it 🙂

[2022-02-05 15:35] Pacheco95 opened #12302 "[Feature]: calledWithTimes"
### 🚀 Feature Proposal

Implement a `calledTimesWith` matcher to match how many times a function was called with a given argument (or set of arguments).

### Motivation

Today it is possible to achieve this funcionality through `spy.mock.calls` but it is too hard/boring to implement this for many different cases. Also not mention that we should also test the testing logic to be sure it is doing wh

[2022-02-05 15:41] SimenB commented on #12023
Still relevant for everybody installing the environment 🙂

[2022-02-05 17:49] mrazauskas commented on #12302
Might be great candidate for [`jest-extended`](https://github.com/jest-community/jest-extended).

[2022-02-05 20:03] TheAzne commented on #6509
Where could I put this : roots: ["<rootDir>/src/", "<rootDir>/__tests__/"],

[2022-02-05 20:51] billyjanitsch commented on #12300
[code]

`-runInBand` is the same as `-r -u -n -I -n -B -a -n -d`, which includes `-u`. You want `--runInBand`, with two dashes.

[2022-02-05 22:06] Knaackee commented on #12106
I have the same problem.

https://stackoverflow.com/questions/71001519/unable-to-invalidate-the-require-cache-jest-cache

[2022-02-06 05:36] Biki-das opened #12305 "[Feature]: Adding a github workflow for closing stale PR's"
### 🚀 Feature Proposal

Jest has been getting a lot of PR's and in the middle of this, there are many PR and issues, which can be marked as stale and can be closed automatically, so it would be easier and efficient to manage the project

I would like to add it, @SimenB , it will make it easier for you to manage the Repo, and reduce the noise in the PR's

### Motivation

This will help contributors

[2022-02-06 05:46] l-jesse commented on #12262
I just ran into the same error too. 😀

actually, this exceptions from test code.
use vs code Uncaught Exceptions breakpoint can find real stack.
this work for me.

<img width="430" alt="image" src="https://user-images.githubusercontent.com/20529632/152668973-a62dc60e-17c3-4378-9b46-115af3bd6cad.png">

[2022-02-06 08:39] KermanX opened #12309 "[Bug]: Cannot run with chalkjs"
### Version

27.4.7

### Steps to reproduce

1. clone https://github.com/UniCoderGroup/utty-node/tree/5cfefa615a240a9c618085dd28c8bf95c7581cbd
2. npm i
3. npm run test

### Expected behavior

The test runs.

### Actual behavior

ERROR:

### Additional context

It seems that jest cannot resolve module path begin with `#`.

### Environment

[code]

[2022-02-06 08:45] KermanX commented on #12309
Related issue: https://github.com/chalk/chalk/issues/532

[2022-02-06 11:20] julioolvr commented on #12262
Ran into the same thing working with Nest + Bull. While the main issue mentioned here is the lack of feedback from Jest, I figured I'd share how I solved it. The underlying issue for me was that Bull's Redis connection wouldn't properly close on `app.close()`. According to this issue in Nest's repo, it's a problem with Bull https://github.com/nestjs/bull/issues/665.

The way I solved it was this:

[2022-02-06 12:46] julioolvr commented on #12262
@l-jesse that advise was gold. After some debugging I was able to figure out what's going on (at least partially). In our case (and I'm assuming also OPs) we have this Nest application with Bull for managing background tasks (which in turn connects to Redis) and multiple e2e specs. One of our spec was failing - the smallest (and fastest) one. After looking into the exception as suggested by @l-jes

[2022-02-06 23:25] junderw opened #12312 "[Bug]: Jest not recognizing package.json exports for require (backwards compat with cjs)"
### Version

27.4.7

### Steps to reproduce

1. Clone https://github.com/Robin-Hoodie/tiny-secp256k1-repro
2. `yarn install`
3. `yarn test:ts`

### Expected behavior

I expect jest to see the cjs modules pointed to in `package.json` for `tiny-secp256k1`

See https://github.com/bitcoinjs/tiny-secp256k1/blob/v2.2.0/package.json#L14-L30

`exports["."].node.require` in the package.json points to cjs (

[2022-02-06 23:27] junderw commented on #12312
Related: https://github.com/bitcoinjs/tiny-secp256k1/issues/73

[2022-02-07 00:24] SimenB commented on #12312
Duplicate of #9771.

You can add `main` as a fallback for CJS until Jest 28

[2022-02-07 00:24] #12312 closed

[2022-02-07 00:29] SimenB commented on #12270
No, but once we have `exports` I guess `imports` shouldn't be _too_ hard to build on top of it

[2022-02-07 02:55] hiteshvijayhv commented on #12305
Can I work this issue?

[2022-02-07 06:20] Biki-das commented on #12305
I am working on this currently, but you can look in other issues

[2022-02-07 07:39] SimenB commented on #12309
Duplicate of #12270

[2022-02-07 07:39] #12309 closed

[2022-02-07 07:56] KermanX commented on #12270
I think this is not only a feature, but a bug.

Projects using some popular packages, such as `chalk` cannot use `jest` because of this bug...

An example is #12309.

[2022-02-07 16:47] julestruong commented on #9937
any news on this ? i'm on 27.0.6

[2022-02-07 16:50] SimenB commented on #9937
Feel free to send a PR 🙂

[2022-02-07 16:51] julestruong commented on #9937
@SimenB Since its been 2 years, i was just asking some news if this is been fixed ?

[2022-02-07 16:52] SimenB commented on #12302
Yeah, we generally do not add any new matchers 🙂 I like the idea, though!

[2022-02-07 16:52] #12302 closed

[2022-02-07 17:22] SimenB commented on #9937
You could try out using the latest version of Jest yourself. Seeing as you say it still reproduces on 27.0.6 it seems unlikely to have been fixed

[2022-02-07 17:44] mrazauskas commented on #9937
Check it with the latest version. Seems to still be there. Did not fix itself (;

[2022-02-07 18:21] SimenB commented on #12284
Tracked in #9771

[2022-02-07 18:21] #12284 closed

[2022-02-07 18:27] SimenB commented on #11867
Hi @ErisDS, and thanks for the detailed use case! I'll be adding a separate `@jest/expect-utils` in Jest 28 🙂 It'll suddenly be available

[2022-02-08 04:37] itsmingjie commented on #11132
Hi! I'm one of the program coordinators of a nonprofit program called [CodeDay Init](https://labs.codeday.org/), and we partner with colleges to help CS students make their first open-source contribution.

We'll claim this issue for now and a group of students will be on it soon with mentorship! If this issue is no longer relevant, please let me know.

[2022-02-08 05:21] jluxenberg opened #12325 "[Bug]: `setSystemTime` not working when extraGlobals includes `Date`"
### Version

27.5.0

### Steps to reproduce

Reproduction repository here:
https://github.com/jluxenberg/jest-set-system-time-bug

The issue:
jest.setSystemTime seems to be broken when extraGlobals includes 'Date'

Steps to reproduce:
1. check out https://github.com/jluxenberg/jest-set-system-time-bug
2. run "yarn test" -- see that this succeeds
3. run "yarn test-broken" -- see that this fails

"t

[2022-02-08 06:53] SimenB commented on #12325
Hmm, I don't think there's much we can do here. Fake timers replace the global `globalThis.Date`, which what `extraGlobals` essentially does is capture its original value before replacement.

pseudocode:

[code]

Not sure there's anything we can do? Can call out this caveat in the docs, I guess.

[2022-02-08 06:55] SimenB commented on #11132
AFAIK this is still relevant - can't remember merging anything that should affect it at least 🙂

[2022-02-08 09:19] julestruong commented on #9937
i used a workaround by making a custom matcher , extending it in jest. Sorry i don't have much time to spend to help you guyz.

[2022-02-08 09:28] SimenB commented on #5875
(I realize above post is almost 2 years old, but for some reason GH bubbled this up in my notifications)

@alistairjcbrown interesting! I'll close this, then. If it's still an issue, please open a new one with a reproduction

(or even better, a PR 😀 Existent tests are here: https://github.com/facebook/jest/blob/55caeb74cd8f91817f624feb8d54752e28f16767/e2e/__tests__/snapshot.test.ts#L220)

[2022-02-08 09:28] #5875 closed

[2022-02-08 12:11] liran-ida opened #12330 "[Bug]: No matching version found for @jest/environment@^27.5.1"
### Version

27.5.1

### Steps to reproduce

put  "jest": "^27.2.5",
in package json
run npm install command
using node16 + npm8  + nodejs

### Expected behavior

npm install succeed

### Actual behavior

npm install fails with error:

npm ERR! code ETARGET
npm ERR! notarget No matching version found for @jest/environment@^27.5.1.
npm ERR! notarget No matching version found for @jest/types@^27.5.1

[2022-02-08 14:07] rogerio-gmeirelles commented on #12330
I was having the same problem, I just tried to run the `npm install` again and it worked.

[2022-02-08 16:35] liran-ida commented on #12330
thanks, I downgraded and removed the carrot. that able me to install.
but this still needs to be addressed.

[2022-02-08 20:59] merceyz commented on #12060
The PR linked above has shipped in Node.js v16.14 and v17.4

[2022-02-08 23:10] wmertens commented on #5823
@ottokruse we've been using our jest.result() prototype at #10077 for a couple of years now and it works fine.

[2022-02-08 23:23] SimenB commented on #12330
These all exist, just npm and/or your network and/or your proxy and/or your package manager messing up during deploy

[2022-02-08 23:23] #12330 closed

[2022-02-09 04:53] tredondo opened #12333 "[Bug]: broken anchor in link to using TypeScript"
### Version

27.5.1

### Steps to reproduce

In several places in the documentation and in the code, there are outdated links to https://jestjs.io/docs/getting-started#using-typescript. That section was apparently split into #using-typescript-via-babel and #using-typescript-via-ts-jest.

The "Jest encountered an unexpected token" error  includes a link to Typescript:

If you are trying to use Type

[2022-02-09 07:08] SimenB commented on #12333
Oh, oops. Wanna send a PR? 😀 I guess we can just-re-add the top one

[2022-02-09 07:35] #12300 closed

[2022-02-09 07:59] adamgogogo commented on #9324
I got the same issue with jest and puppeteer, but I found the page error triggers the jest test empty error.
Things like the follow:
`message:'TypeError: $(...).tooltip is not a function\n    at Object.init (http://x.x.x.x/bg.js`

[2022-02-09 10:08] sunpietro commented on #9210
Is there a way to understand what piece of code is throwing that particular error?
Stack:
NodeJS v16.13.1
jest 26.6.0

[2022-02-09 11:09] oliversalzburg opened #12337 "[Bug]: "No tests found" after upgrading to 27.5.x"
### Version

27.5.1

### Steps to reproduce

I wasn't able to reproduce this in a minimal project. So far, I'm not able to determine what the key difference with my main work repo is.

1. Run a test with a simple pattern
[code]
2. Abort the test run and execute the same command again:
[code]

### Expected behavior

All matching tests are run.

### Actual behavior

Runs after the first one fail:
[c

[2022-02-09 12:06] oliversalzburg commented on #12337
Upon closer inspection, this issue seems to have been introduced earlier. I'll reopen when I have a clear picture.

[2022-02-09 12:06] #12337 closed

[2022-02-09 12:50] #11867 closed

[2022-02-09 15:23] Biki-das commented on #12333
Can i work on this?

[2022-02-09 19:51] blimmer commented on #11956
| Node Version | Comments | Run Time | Percentage Change | Notes |
| ------------- | ----------- | --------- | -------------------- | ------ |
| 16.10.0           | "Baseline"  | 7m41s     | N/A | |
| 16.13.2           | No patches, just Node upgrade | 12m33 s | 63.3% increase| Many tests timed out, so the suite failed |
| 16.13.2           | Using @Cellule's patch | 10m42s | 39.2% increase | Test

[2022-02-10 00:31] zacdemi commented on #11430
same here. setting. my .github/workflows/nodejs.yml to:
yarn test --maxWorkers=2 worked for me for github.
https://jestjs.io/docs/cli#--maxworkersnumstring

[2022-02-10 03:00] code-masala opened #12350 "Cannot read properties of undefined (reading 'HTMLMediaElement')"
### Please do not submit this issue.

- [X] I understand

[2022-02-10 03:00] #12350 closed

[2022-02-10 07:49] fredrik commented on #9324
Thanks! This solved my problems.

I still don't know what caused the issue and I'd like to find out, but at least now I can move forward with using Github Actions. For what it's worth, I did not have this issue running the same specs using Bitbucket's pipelines.

[2022-02-10 07:58] aymkin commented on #9324
Be aware that the mac os image spends 10x more credits. Later I did revert to Ubuntu and it worked again. Still do not know what was causing this issue.

[2022-02-10 09:13] raldred commented on #9324
We still see this sometimes.
Most recently when we were changing EC2 instance types. for example...
Running on a `c6i.large` (2vCPU) tests would complete successfully but jest exits with 1.
The same running on a `c6i.xlarge` (4vCPU) would complete and exit correctly with 0.

[2022-02-10 10:47] #12023 closed

[2022-02-10 10:51] SimenB commented on #12225
Yeah, tracked in #9771

[2022-02-10 10:51] #12225 closed

[2022-02-10 11:13] antongolub commented on #12270
If anyone is looking for a workaround for now:
[code]
https://github.com/qiwi/libdefkit/blob/master/jest.config.json#L22

[2022-02-10 11:20] SimenB commented on #12270
Once a module implementing the algorithm exists (e.g. https://github.com/lukeed/resolve.exports/issues/14) we should be good to go for adding support here.

[2022-02-10 13:10] robin-drexler commented on #12233
@SimenB https://github.com/facebook/jest/pull/12232 curious what's changed that makes this possible now? :)

[2022-02-10 13:40] SimenB commented on #12233
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/57432 and https://github.com/facebook/jest/pull/12354

[2022-02-10 15:44] #12233 closed

[2022-02-10 18:20] SimenB commented on #9771
Finally 😅

https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.0

Please give it a try and open up issues for any bugs/missing features 🙂

[2022-02-10 18:21] SimenB commented on #12023
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.0

[2022-02-10 18:40] piranna commented on #9771
so, no more need of custom resolvers? :-)

[2022-02-10 18:42] SimenB commented on #9771
in theory

[2022-02-10 18:56] ephys commented on #9771
This is brilliant news, thank you for all your hard work! ❤️

[2022-02-10 19:15] stephenh opened #12362 "[Bug]: Calling useFakeTimers does not reset state"
### Version

27.4.7

### Steps to reproduce

1. Clone https://github.com/stephenh/repros
2. Checkout the jest-fake-timers branch
3. Run the test, it and fails

[code]

### Expected behavior

The `jest.getTimerCount()` in `test 2` should be 0, instead it is 1.

### Actual behavior

A timer leaked from test 1 to test 2, despite calling `useFakeTimers`, which the docs:

https://jestjs.io/docs/timer-m

[2022-02-10 19:17] SimenB commented on #9771
One issue I got at work is `uuid` returning ESM for `jest-environment-jsdom` (as we don't provide `node` condition).

[2022-02-10 20:58] thedaviddias commented on #10200
Any updates on this issue?

[2022-02-10 21:56] ryanwilsonperkin opened #12364 "[Bug]: Jest runs out of memory when trying to print wide objects"
### Version

27.5.1

### Steps to reproduce

1. Clone my repo at https://github.com/ryanwilsonperkin/jest-issue-12364
2. `yarn install`
3. `yarn test deep-array.test.js` you should expect this to fail with an appropriate error message
4. `yarn test wide-array.test.js` you should expect this to crash

### Expected behavior

I expect that when Jest has found that two objects don't match, and one of

[2022-02-10 22:14] ryanwilsonperkin commented on #9980
I suspect that this issue might be related to the way that the objects that are being compared are being printed.
Filed an issue with a minimal reproduction here: https://github.com/facebook/jest/issues/12364

In effect, Jest will stop short if it's trying to print a very deeply nested object, but doesn't account for "total nodes" so for objects that are fairly shallow but very wide (such as many

[2022-02-10 23:23] flakey-bit opened #12365 "[Feature]: Test runner (watch mode) should support toggling silent on/off"
### 🚀 Feature Proposal

Working on SPAs I find myself using the "watch" test runner mode a lot.

Most of the time I don't want all the noise that comes from disabling silent mode, but occasionally I do (e.g. when working with `react-test-library` I want to see the output of `screen.debug()`)

Proposing adding a new option to

[code]

e.g.

[code]

### Motivation

Avoid having to wait to restart &

[2022-02-11 00:14] emzet commented on #9401
any progress here? it will be almost two years from the last comment...

[2022-02-11 00:22] francisu opened #12366 "[Bug]: jest fails when @cspot/source-map-support and yarn 2+ pnp are involved."
### Version

27.5.1

### Steps to reproduce

Use this repo: https://github.com/noahnu/repro-source-map-error (h/t @noahnu for making this)

1) `yarn install`
2) `yarn ts-node --transpile-only $(yarn bin jest)`

### Expected behavior

Test should pass.

### Actual behavior

[code]

### Additional context

The original issue is: https://github.com/cspotcode/node-source-map-support/issues/35, but it

[2022-02-11 00:43] cspotcode commented on #12366
Hi, replying to say that I'm following along and will be happy to answer any questions.  Feel free to mention me directly.

[2022-02-11 03:47] cspotcode commented on #12366
Adding a bit more context:

In the highlighted snippet of jest code above:

[code]

...it appears to be emulating what would happen if "source-map-support" were, internally, to require itself.  That is, a file within `source-map-support` attempted to do `require('source-map-support')`.  I'm curious what necessitates this bit of code.  I understand jest hooks into module resolution to support vario

[2022-02-11 05:23] cdaringe opened #12367 "[Feature]: Allow effects after test case block exit"
### 🚀 Feature Proposal

Support swallowing of outstanding effects and errors after test block exit

### Motivation

Simply, it will allow more pragmatic execution of integration tests.

Consider the following ideal:

Integration tests shall clean up and settle all outstanding effects before halting.

Example of outstanding effects may be:

- react events/state
- HTTP activity settles
- file i/o

J

[2022-02-11 06:18] cspotcode commented on #12366
I halfway understand what you're saying.  As a more concrete follow-up question to hopefully aid my understanding:

Is my proposed fix acceptable?  If it's not, how is it breaking the rules?

[2022-02-11 06:25] SimenB commented on #12366
PR welcome :grin\

[2022-02-11 06:29] #7402 closed

[2022-02-11 06:33] SimenB commented on #6424
Works correctly in Jest 27 and refreshing the lockfile, so calling this one fixed 🙂

[2022-02-11 06:33] #6424 closed

[2022-02-11 06:38] SimenB commented on #12366
ideally with some integration test that fails without the change. Possibly just the reproduction used in the OP

[2022-02-11 06:39] francisu commented on #12366
Naturally

[2022-02-11 06:56] cspotcode commented on #12366
Awesome, thank you both!

[2022-02-11 07:52] bi-kai opened #12369 "Jest encountered an unexpected token"
### Version

23.6.0

### Steps to reproduce

babel.config.js
[code]

jest.config.js
[code]

Hello.js
[code]

Hello.test.js
[code]

### Expected behavior

pass the UT.

### Actual behavior

Unexpected token (13:23)

      Jest encountered an unexpected token
      This usually means that you are trying to import a file which Jest cannot parse, e.g. it's not plain JavaScript.
      By default, if Je

[2022-02-11 07:53] bi-kai commented on #12369
Get passed with the latest creat-react-app project, but in old project, gets error with above.

[2022-02-11 07:58] #12369 closed

[2022-02-11 08:33] SimenB commented on #9401
PR welcome 🙂

[2022-02-11 08:48] SimenB commented on #12365
https://github.com/jest-community/jest-watch-toggle-config should work for this?

[2022-02-11 09:37] wmertens commented on #10077
Hi @SimenB :)

the dependency is handled the way you describe and it should work correctly with concurrent tests. Here's my latest version:

[code]

and a types.d.ts file to match:
[code]

[2022-02-11 10:09] tbossi opened #12370 "[Bug]: dynamic import from 'data:' URI"
### Version

27.5.1

### Steps to reproduce

1. Clone my repo https://github.com/tbossi/jest-bug-data-uri-dynamic-import
2. Run `npm test`
3. The tests fail

### Expected behavior

When running in ESM mode you can leverage dynamic import to load a module from a string by providing a `data:` URI instead of a `file:` uri.

For example:
[code]

### Actual behavior

Dynamic import throws an Error inst

[2022-02-11 11:24] SimenB commented on #12370
PR welcome! 😀

Code is https://github.com/facebook/jest/blob/60eb4160b5258eed5faf381e0c8ea6662076cc6c/packages/jest-runtime/src/index.ts#L486-L501 & https://github.com/facebook/jest/blob/60eb4160b5258eed5faf381e0c8ea6662076cc6c/packages/jest-runtime/src/index.ts#L1502-L1519

[2022-02-11 12:35] BlackGlory commented on #9771
Does 28.0.0-alpha.0 really fix this? I still get "Cannot find module" with default configuration.

[2022-02-11 13:53] BlackGlory opened #12372 "[Bug]: Cannot find module in jest v28"
### Version

28.0.0-alpha.0

### Steps to reproduce

[code]

### Expected behavior

It should import the module like Node.js:
[code]

### Actual behavior

[code]

### Additional context

The related comment: https://github.com/facebook/jest/issues/9771#issuecomment-1036168851

### Environment

[code]
[code]

[2022-02-11 18:56] piyushchauhan2011 commented on #11272
Getting the same error

[2022-02-11 19:41] gabsmprocha commented on #10577
same here, any solution ?

node: v14.17.6
npm: 6.14.15
jest: 24.8.0

[2022-02-11 19:44] Lonli-Lokli commented on #10577
@SimenB I know you might not have time for this work but do you still remember about this issue? ;)

[2022-02-12 06:51] SimenB commented on #11272
Please provide a minimal reproduction outside of CRA

[2022-02-12 08:44] uriklar commented on #9771
Is version 28.0.0-alpha.0 supposed to fix this issue?
https://github.com/typescript-eslint/typescript-eslint/issues/4210

I tried upgrading but am still getting this error. I'm not sure how it's related to jest as the error happens when running eslint...

[2022-02-12 11:00] dixon-kun opened #12374 "#Business"
https://store.hbr.org/?utm_medium=email&utm_source=regs&utm_campaign=artificialintelligencesethowtostaycompetitiveinanaiworld_single_20220212&deliveryName=DM175985

[2022-02-12 14:41] cola119 commented on #12288
I'm working on this.

[2022-02-12 15:15] jstritch opened #12377 "[Bug]: toEqual() fails jest-worker with "Do not know how to serialize a BigInt" when reporting a failed test"
### Version

27.4.7

### Steps to reproduce

`expect(BigInt(0)).not.toEqual(BigInt(0));`

### Expected behavior

1. The expectation should produce the typical expected/received message.

1. When an individual test fails catastrophically, the failing test should be identified to the user and the entire suite should continue with any remaining tests.

### Actual behavior

    Summary of all failing

[2022-02-12 18:22] uriklar commented on #11471
Any news on this one?

[2022-02-12 23:55] renatoargh commented on #12260
Just wanted to stress that I spent some good time trying to figure out what was wrong until I finally found this issue. Doc'ing how to filter the tests would be ideal in this case

[2022-02-13 09:17] SPiCaRiA opened #12382 "[Bug]: JEST gives no info when the promise returned by test function is interrupted by an error and never resolved/rejected"
### Version

27.5.1

### Steps to reproduce

[code]

### Expected behavior

In this case, an error thrown in `setTimeout` interrupts the `resolve(1)` of the promise, so the promise will stay in `<pending>` state. However, I guess this "unwanted" error is expected to be presented to the user in some way.

### Actual behavior

The error "disappears", without any hint on its existence. JEST simply st

[2022-02-13 09:35] #12333 closed

[2022-02-13 09:40] SimenB commented on #12382
It's not possible in JS to inspect that state of a promise from the outside. It's up to your own code to make sure to properly resolve or reject any promise you return to Jest. The only thing Jest can do is time out

[2022-02-13 09:40] #12382 closed

[2022-02-13 09:44] #12374 closed

[2022-02-13 16:48] SimenB commented on #11963
For anyone looking to pick this up, I made a super rough (and probably non-working) start here: https://github.com/SimenB/jest/tree/schema

To write the schema to disk, run `yarn build:js` and then this script

[code]

[2022-02-13 17:45] #12288 closed

[2022-02-13 19:15] exaucae commented on #11272
@SimenB, this only appears when overriding CRA's jest config. Is this most suitable to CRA repo?

[2022-02-13 19:41] exaucae commented on #11272
We're aligned. Closing the issue now.

[2022-02-13 19:41] #11272 closed

[2022-02-14 04:27] flakey-bit commented on #12365
@SimenB I couldn't make it work with that plugin (I'm using Jest 27.5.1 if it matters). The plugin doc says

So sounds like Jest isn't exposing `silent` as configurable.

Are you suggesting a PR to add toggling support for that setting to Jest directly or a PR to expose the setting as toggleable only (so that the _plugin_ can toggle it)?

[2022-02-14 08:39] SimenB commented on #11963
I'll land that package in #12384, but it won't (nearly) cover the entire `InitialOptions`. PRs to expand it until it covers the entire thing would be appreciated 🙂 As mentioned there, once complete we'll write the JSON to disk (and validate it), but for now it should just extract the parts needed.

[2022-02-14 09:16] sayang35 commented on #11963
𝐓𝐪

On Mon, Feb 14, 2022, 4:45 PM Simen Bekkhus ***@***.***>
wrote:

[2022-02-14 14:54] jkroepke opened #12388 "[Feature]: Cache File Adapter"
### 🚀 Feature Proposal

Integrate custom file cache adapters. Instead using local files, use a distributed cache like S3.

### Motivation

The jest cache based on a local filesystem. While the solutions fits for most scenarios (local machine, persistent CI runners), it doesn't scale with non persistent CI runners where the cache needs to be up- and downloaded each time. If the cache lives on a rem

[2022-02-14 15:03] SimenB commented on #12388
Happy to consider a PR which implements this. Supporting a virtual FS would be useful in many cases.

I assume it's a huge amount of work, tho 😀

[2022-02-14 15:28] acontreras89 commented on #2157
The following implementation was working just fine (and still does when used with _legacy_ timers):

[code]

However, it is not working with _modern_ timers because [`process.nextTick` is also mocked](https://github.com/facebook/jest/blob/e0b33b74b5afd738edc183858b5c34053cfc26dd/packages/jest-fake-timers/src/modernFakeTimers.ts#L96-L110). I am curious to know why, since `@sinonjs/fake-timers` [doe

[2022-02-14 15:41] jkroepke commented on #12388
If someone knows some javascript based filesystem abstractions, it would be helpful:

Like:
* https://www.npmjs.com/package/@slynova/flydrive

[2022-02-14 18:56] eckdanny commented on #12036
ran into this issue in a `typescript` project using `jest@27` with a few `d3-*` (ESM) dependencies. No luck fiddling with <samp>#transformIgnorePatterns</samp>, but arrived at same general workaround as @maistrotoad with <samp>#moduleNameMapper</samp>:

[code]

I'm not sure if _all_ `d3-*` pkgs are similarly structured, but the ones on which my project depends are. Hopefully we won't need to revis

[2022-02-14 19:39] SimenB commented on #12036
`d3` should add a `require` condition (https://www.runpkg.com/?d3@7.3.0/package.json#32), then Jest 28 (via #9771) will support this.

beyond that, this is a usage question and not a bug, so closing this

[2022-02-14 19:39] #12036 closed

[2022-02-14 23:25] burkegg opened #12389 "[Please read the message below]"
### Please do not submit this issue.

- [ ] I understand

[2022-02-14 23:25] #12389 closed

[2022-02-14 23:25] burkegg opened #12390 "Grouping imports in an index.ts file breaks tests"
### Please do not submit this issue.

- [X] I understand

[2022-02-14 23:26] #12390 closed

[2022-02-15 13:46] zzlatkov92 opened #12394 "Running tests for changed files in lerna monorepo"
### Version

26.6.3

### Steps to reproduce

1. Create a lerna monorepo
2. Have a `componentA` and `componentB` in `packageA` and `componentC` in `packageB`

[code]

`componentB/index.js`

[code]

`componentC/index.js`

[code]

3. Run `jest --no-watchman --ci --silent --changedSince=master`

Once I run this only `componentA/test.js` and `componentB/test.js` are executed, but not `componentC/test.j

[2022-02-15 14:06] SimenB commented on #11554
Good call @fatso83, this is working as intended 👍

[2022-02-15 14:06] #11554 closed

[2022-02-15 14:49] SimenB commented on #11453
@cspotcode I've completely lost track of this (and any context I might have possessed at some point). What's your recommendation for moving this forward? Next release of Jest is a major, so if there's some change that's `ts-node@10` only we can drop v9

[2022-02-15 14:58] remcohaszing opened #12396 "[Feature]: pass rootDir to config function"
### 🚀 Feature Proposal

It’s possible to write a jest config file export as a function. It would be nice if this function receives the rootDir as an argument. It would probably be nicest if the function receives an object containing the property `rootDir`, so this can be expanded if this is desirable later.

### Motivation

In our mono repo we have a function to generate a jest configuration based

[2022-02-15 15:08] SimenB commented on #12396
As you point out, a file already knows it's own path (`__filename` in CJS, `import.meta.url` in ESM), I think Jest passing `path.dirname(configFilePath)` is just an extra indirection.

I understand the short re-export is a bit cleaner, but I don't think it's so bad we need the extra complexity (though low) on Jest's side.

[2022-02-15 15:08] #12396 closed

[2022-02-15 15:39] cspotcode commented on #11453
My thinking, at a very high level, is that ts-node's sole job is executing TS directly, and we take care of all the gotchas.  So anything we can do for jest to delegate responsibility to ts-node is good for both jest, ts-node, and the users.  I've seen other projects think they can implement TS execution themselves, hit issues and complexity, and eventually deprecate their solution in favor of ts-

[2022-02-15 16:17] SimenB commented on #11453
See #12397 for a working example.

So that's B from your use cases. C is free since people can just enable that as well in their config.

And A I think can wait for more stabilization in typescript itself (at some point we can just spawn `ts-node` as mentioned (possibly with a loader), rather than require users to run jest entirely with a loader)

[2022-02-15 16:21] cspotcode commented on #11453
Yeah, makes sense to me.  I wasn't sure quite how jest handles bootstrapping itself and if it was able to pass `--loader` to a child process.  But sounds like config files are executed within the main jest process, not a child process?

Re: delegation, I see that jest forces CommonJS emit.  In this case, seems like a good thing: pair it with the correct `moduleTypes` override, and users are in bus

[2022-02-15 16:38] cspotcode commented on #11453
Yeah, no ts-node wrapper.  Docs are rendered here if you prefer reading on a website:
https://typestrong.org/ts-node/api/index.html#Register
https://typestrong.org/ts-node/api/interfaces/RegisterOptions.html

[2022-02-15 16:40] SimenB commented on #11453
I was fooled by not getting a type error when passing `ts-node` - I just assumed the setup was the same as when in `tsconfig.json`. When you assume... 😅

[2022-02-15 16:40] zacdemi commented on #11430
+1

[2022-02-15 16:41] cspotcode commented on #11453
Yeah, no `ts-node` wrapper.  Docs are rendered here if you prefer reading on a website:
https://typestrong.org/ts-node/api/index.html#Register
https://typestrong.org/ts-node/api/interfaces/RegisterOptions.html

These docs are also outdated because they say TS can't use cts nor mts, which is wrong.

You didn't get a type error due to dynamic require()?  Or is it a bug in ts-node's declarations?

[2022-02-15 17:05] SimenB commented on #12366
@francisu ping 🙂

[2022-02-15 17:15] SimenB commented on #6610
Not at the moment

[2022-02-15 17:32] SimenB commented on #11430
All Jest does is use `os.cpus()` and run the amount of workers that correspond to the number of cores (see #10653 for some details on how we run our own tests).

Beyond that there's not much we can do.

Your tests might do something which only works out in a worker or vice versa. E.g. concurrent DB access or some such. Or passing of data between processes.

It is not _expected_ that your tests beh

[2022-02-15 18:12] SimenB commented on #12394
Jest only follows relative imports when determining "has changed", not symlinks.

(It's a regex extracting import/require function calls, not a runtime thing)

[2022-02-15 19:02] #12377 closed

[2022-02-15 19:06] tourajvaziri opened #12398 "[Bug]: TypeError: Cannot assign to read only property 'write' of object '#<Socket>"
### Version

27.5.1

### Steps to reproduce

Sample project to use :
[extension-sample.zip](https://github.com/facebook/jest/files/8073865/extension-sample.zip)

Steps to Reproduce:

1. Unzip the attached extension-sample project
2. Open the project in VSCODE 1.64.2 (user setup)
3. Open terminal and run npm install
4. Click on the Run And Debug icon from the left panel in vscode
5. Select Run Exte

[2022-02-15 19:15] SimenB commented on #12364
Happy to take a PR that fixes this (either `maxWidth` like you suggest, or just make `maxDepth` impact the width as well) 👍

[2022-02-15 19:22] SimenB commented on #12394
You can plug in a custom `dependencyExtractor`: https://jestjs.io/docs/configuration#dependencyextractor-string

[2022-02-15 19:22] #12394 closed

[2022-02-15 19:49] vitalii7777 commented on #8840
@G-Rath

**WebStorm**

Still have not found logs (console logs or console warns) that belong to **it** or **test** blocks (only failure messages works well). All logs are gathered to one long list and belong only to **describe** block.

[2022-02-15 19:55] nwalters512 commented on #11444
I opened a PR to add a named export for `createTransformer`: https://github.com/facebook/jest/pull/12399.

[2022-02-15 21:20] #11444 closed

[2022-02-15 21:32] SimenB commented on #11444
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.1

[2022-02-15 21:32] SimenB commented on #11963
Published that in https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.1

[2022-02-15 21:32] SimenB commented on #12288
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.1

[2022-02-15 21:33] SimenB commented on #11453
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.1

[2022-02-15 21:50] SimenB commented on #8840
Happy to take PRs

[2022-02-15 22:18] ryanwilsonperkin commented on #12364
Thanks @SimenB , I've opened #12402 to address this, let me know what you think

[2022-02-15 22:18] jstritch commented on #12377
Please respond to my second expectation. It would have been easier for me to track down if the test name was included with the other information. Is it possible to add a catch handler inside the loop running the individual tests?

[2022-02-15 22:25] SimenB commented on #12377
This actually fails outside of the context of a single test (it fails when jest tries to pass the test result from a separate thread/process back to the main process), so we don't know which specific test failure caused this error.

I hope to address this issue in Jest 28 (see https://github.com/facebook/jest/pull/11467#issuecomment-1040849566 for latest info)

[2022-02-15 23:16] jstritch commented on #12377
If no object has both the test name and result to format at the same time, is it possible to pass the test name along to include in the error message?

[2022-02-16 06:06] dandro commented on #10200
Is anyone working on this? if not I'd love to give it a go 👍

[2022-02-16 06:41] fatso83 opened #12403 "[Bug]: Missing docs for SyncTransformer#createTransformer"
### Version

27.5.1

### Steps to reproduce

I created [a minimal repro repo](https://github.com/fatso83/jest-transform-issue/tree/h%C3%B8vding) before figuring out what was wrong, but the essence is this:

Create a `debug-transformer.js` that wraps another, like this wrapping `babel-jest`:
[code]

and use it in the jest config:
[code]

Now, when running `DEBUG="jest-debug*" npx jest --no-cache` I

[2022-02-16 08:54] #12370 closed

[2022-02-16 08:59] SimenB commented on #12403
Yeah, this is so that you can have transformer config in your jest config, and it is passed at runtime. You should call `createTransformer` yourself if you don't want this behaviour (which is a named export as of Jest 28).

This of course should be documented though. Any help with that would be highly appreciated 😀

[2022-02-16 09:29] #12364 closed

[2022-02-16 10:28] reader00 commented on #7331
Previously I also had the problem of coverage not showing. So my folder structure was like this:

`D:/some/path/[Submissions]/1/Submission 1`

I've done various configurations as suggested above, as well as what I found on Stack Over Flow, but the coverage results are still not showing up.

After a day looking for a way and couldn't find it, I took the initiative to publish the repo to Github, the

[2022-02-16 12:22] cotneit commented on #7631
Does `Windows 10 and lower` in the title mean that it's not an issue on Windows 11 or has it just not been tested?

I find this to be a breaking deal issue on my Windows 10 VM that runs on 4 Xeon 6148 cores, 40 tests take ~90 seconds there

But my Windows 11 12700k machine simply slashes through 5555 tests in 8 seconds.
And I have the exact same results on both SATA SSD and HDD.
![image](https://u

[2022-02-16 13:39] fatso83 commented on #12403
I have no issues in documenting it, I was just not sure what to write, but now I have deep dived into `ScriptTransformer` and its likes, so I understand a bit more 🤓

Looking into the [validation errors](https://github.com/facebook/jest/blob/main/packages/jest-transform/src/runtimeErrorsAndWarnings.ts#L64) and associated tests, it seems the interfaces should be updated as well?

This is what I see

[2022-02-16 13:48] SimenB commented on #12403
Supplying `createTransformer` makes the other 2 redundant, yes, as they won't be used.

However, we have both sync (`process`) and async (`processAsync`) code transformation, which both can be provided. `require` will always use `process`, and `import` will use `processAsync` if it exists, otherwise fall back to `process`. So if you use `import` exclusively you don't need `process`, but in most ca

[2022-02-16 13:59] SimenB commented on #10200
Go for it!

[2022-02-16 15:35] metawrap-dev commented on #3322
That Jest, by default does not print a summary of test failures in a report at the end is completely mind-boggling.

[2022-02-16 18:17] SimenB commented on #12370
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.2

[2022-02-16 18:17] SimenB commented on #12364
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.2

[2022-02-16 19:04] vitalii7777 commented on #8840
@SimenB Great news! Let us know about the progress. Thank you.

[2022-02-16 22:29] AndresAusecha opened #12413 "[Bug]: Error in node_modules syntax when running tests"
### Version

27.5.1

### Steps to reproduce

npm test

### Expected behavior

Syntax is recognized by jest and imports are parsed correctly

### Actual behavior

Some tests crash because of vanilla javascript code in some libraries

### Additional context

![imagen](https://user-images.githubusercontent.com/16170080/154367904-6f70b4a5-f217-493f-9e72-e91bd09dd7bb.png)

![imagen](https://user-images

[2022-02-17 08:46] SimenB commented on #12413
Please note this issue tracker is not a help forum. We recommend using [StackOverflow](https://stackoverflow.com/questions/tagged/jestjs) or our [discord channel](https://discord.gg/j6FKKQQrW9) for questions.

[2022-02-17 08:46] #12413 closed

[2022-02-17 08:56] mrazauskas commented on #12267
@johncrim Looking at your reproduction repo it seems like you were experimenting to find the best solution. I was just wondering to ask if you did try the latest [alpha release](https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.2) too? After #12344, it should be trivial to extend `Matchers` interface. Here is working example: https://github.com/facebook/jest/tree/main/examples/expect-ext

[2022-02-17 09:13] SimenB commented on #11471
What @toomuchdesign says is correct.

Just make sure you're importing React in the same scope (i.e. `isolateModules`) as your component.

(not sure how this works with automatic runtime, either way, `isolateModules` is working correctly)

[2022-02-17 09:13] #11471 closed

[2022-02-17 11:15] skrtheboss opened #12419 "[Bug]: Open handles are not detected if registered after a Promise"
### Version

27.5.1

### Steps to reproduce

1. Clone my repo at https://github.com/skrtheboss/jest-open-handle-repro
2. yarn install
3. Compare output of `yarn test-promise` and `yarn test-no-promise`
4. Notice how the handle is logged for the `no-promise` test and is NOT logged for the `promise` test

### Expected behavior

Open handle should be logged in both use cases.

### Actual behavior

Op

[2022-02-17 14:27] #12372 closed

[2022-02-17 15:46] SimenB commented on #12372
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.3

[2022-02-17 15:47] SimenB commented on #9771
With https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.3 the implementation of `exports` was rewritten, and the one known bug (reported by @uriklar above) was fixed. Hopefully I didn't introduce any regressions either 😀

Please test it!

[2022-02-17 15:49] rmolinamir commented on #9771
Upgrading to `v28.0.0-alpha.2` worked for me when importing "root" exports, but the resolver seems to still have issues when importing [Subpath exports](https://nodejs.org/api/packages.html#subpath-exports) or [Subpath patterns](https://nodejs.org/api/packages.html#subpath-patterns). Has anyone else run into this issue?

[2022-02-17 15:55] rmolinamir commented on #9771
@SimenB `v28.0.0-alpha.3` seems to have fixed the issue with subpaths as referenced above, works perfectly so far. I will continue to test and will report issues if any.

[2022-02-17 15:56] SimenB commented on #9771
there was an issue if your pattern was `"./some-non-existent-dir/*": "./some-existent-dir/*"` which was fixed in alpha 3 🙂

[2022-02-17 15:56] SimenB commented on #9771
Ah, wonderful @rmolinamir!

[2022-02-17 16:06] perrin4869 commented on #9771
@SimenB  I was wondering if in v27 or in v28 there is a way to call `import`, bypassing jest's mocking system?
A while back I was trying to complete a [PR](https://github.com/remix-run/react-router/pull/8268) for `react-router`, but I got stuck trying to implement the tests because I couldn't figure out how to do a regular `import`

[2022-02-17 16:11] SimenB commented on #9771
@perrin4869 not related to this issue.

However, the answer is "no" - you cannot use "real" import from within Jest. I recommend setting up a separate script using plain node code (you can still use `expect` if you want to keep the assertions) if you want to bypass Jest's implementation

[2022-02-17 16:18] SimenB commented on #12413
Feel free to open up an issue with an actual reproduction it's possible to pull down and run. You skipped that part in the template.

<img width="893" alt="image" src="https://user-images.githubusercontent.com/1404810/154523741-7088ed72-959e-44ec-9a38-6c7c5d3a9725.png">

[2022-02-17 17:28] perrin4869 commented on #9771
@SimenB Ah sorry, I was just getting notifications in this issue and suddenly I felt like revisiting!
Thanks for the advice! I was just wondering, how were you envisioning running this separate script? `exec()`?

[2022-02-17 18:27] johncrim commented on #12267
@mrazauskas - Thank you for the update. I did not see that there was a fix for this until your comment, but I will try it out and follow up.

This example certainly looks great:
https://github.com/facebook/jest/blob/main/examples/expect-extend/toBeWithinRange.ts

One thing that I'll have to look out for is whether each of the libraries will need to `import { expect } from '@jest/globals';` before

[2022-02-17 20:28] FrozenKiwi commented on #9771
@perrin4869 Not sure if this helps, but you can use exports to bypass mocking.

In our project, we expose "mocked" versions of each packages for testing (rather creating manual mocks within the packages' clients, cause DRY).  We then also export a direct path to classes if I ever wish to bypass those mocks.  so any external code calling `import { MailClient } from @com/mail` gets the mocked versio

[2022-02-18 07:39] mrazauskas opened #12422 "[Bug]: referencing `jest` inside `jest.mock` block throws, if `jest` is imported from `@jest/globals`"
### Version

28.0.0-alpha.3

### Steps to reproduce

Here is a repo with minimal reproduction: https://github.com/mrazauskas/x-jest-globals

I simply added explicit import to the example from docs (and used TS to trigger transpiration) – https://jestjs.io/docs/next/mock-functions#mocking-partials

Running `yarn jest` will throw an ReferenceError:

<img width="1062" alt="Screenshot 2022-02-18 at 09

[2022-02-18 07:46] mrazauskas commented on #12422
@SimenB As I was mentioning, if an `import { jest } from "@jest/globals";` is present in a file Babel playground is transpiling `jest.requireActual();` to `_globals.jest.requireActual();` Have to double check if it is the same here, but should be similar.

In this case it might be enough to add `_globals.expect` and `_globals.jest` to this list, right?

https://github.com/facebook/jest/blob/efc9e6

[2022-02-18 08:09] SimenB commented on #12422
@nicolo-ribaudo any tips here? 🙂 The hoist plugin transforms the `jest` object to `_globals.jest`, then complains it's an illegal access 🙈

Failing unit test:

[code]

[2022-02-18 10:03] SimenB commented on #12267
The plan is to make `@types/jest` import from `expect` instead of defining everything itself, at which point it _should_ work seamlessly

[2022-02-18 11:03] SimenB opened #12424 "[Feature]: Replace `@types/jest`'s `expect` implementation with `@jest/expect`"
### 🚀 Feature Proposal

People might not want to use the globals (`expect`, `test` etc.) Jest provides (either because of ESM or just a preference). And because Jest is written in TypeScript, when doing e.g. `import {expect} from '@jest/globals'` all built in matchers are typed. However, if you use some matchers from the community (such as `jest-extended`), they augment the matchers from `@types/j

[2022-02-18 11:04] SimenB commented on #12267
Let's track in #12424

[2022-02-18 11:04] #12267 closed

[2022-02-18 11:34] mrazauskas commented on #12424
Very good move. What I was playing with roughly looked like this:

1. Types of all globals are exported from `'jest'` (instead of `'@jest/globals'`)
2. `index.d.ts` inside `'@types/jest'`:

[code]

3. `package.json` inside `'@types/jest'`:

[code]

The idea was to turn `'jest'` into the single source of truth. There is no way using Jest without installing `'jest'`, but it is possible to install di

[2022-02-18 11:37] SimenB commented on #12424
Yeah, that's essentially what https://github.com/DefinitelyTyped/DefinitelyTyped/pull/44365 does, and is what I want as end state. However, that loses a bunch of `jest.Thing` helpers, so not sure if it's the right move at this moment.

I'd like to start with just replacing parts of `@types/jest`, then if that works it can be "global only". And I'd like to start with `expect` since that's what cust

[2022-02-18 11:41] mrazauskas commented on #12424
Perhaps we could try it out with some `@types/jest-alpha`? It just augments globals. Should work. Or?

I was playing `jest.Thing` helpers as well. Very easy to have them (;

[2022-02-18 12:22] SimenB commented on #12424
Ah nice, that'd be awesome. Would also be cool if we had the same in Jest 🙂

We should probably port over the type tests in DefinitivelyTyped to this repo well

[2022-02-18 14:24] dixon-kun opened #12426 "SEO for beginner's"
https://github.com/dixon-kun/Hello-would-project/issues/25

[2022-02-18 15:02] wilhen01 opened #12427 "[Bug]: Using --outputFile --json suppresses CLI coverage output"
### Version

27.5.1

### Steps to reproduce

1. Clone https://github.com/wilhen01/jest-outputfile-bug-repro
2. `npm install`
3. `npm run test-outputfile` to see output using --outputFile --json
4. `npm run test-no-outputfile` to see output without those flags

### Expected behavior

With code coverage configured. via `jest.config.js` I would expect to see CLI coverage output, regardless of the use

[2022-02-18 15:58] postmodernistx commented on #9808
If it might help anyone, here's what I ended up doing (probably not a great solution, though 😅 ):

The code coverage report generated by Jest, when utilizing `vue-cli-service test:unit` added the `data` key to all files that were (in my case) `.png`, `.stories.js` and `.(spec|test).(js|ts)`.

In my `jest.config.js` I could remove some of those troublemakers by adding the `coveragePathIgnorePattern

[2022-02-18 16:14] julienw commented on #11250
Just got into this as well. The fact that it silently accepts the value and passes the test is error-prone.

[2022-02-18 20:28] geoffdavis92 opened #12432 "[Bug]: Website Scroll is Broken"
### Version

latest

### Steps to reproduce

1. Visit docs site (https://jestjs.io/docs/getting-started)
2. Scroll in main content area

### Expected behavior

I expect for page to scroll smoothly in the direction I desire

### Actual behavior

The content will scroll a very short distance, then jump back to the top.

### Additional context

The website behaves as normal on the following browsers:

[2022-02-19 02:49] Yexiaoxing commented on #12432
Same here. Suspect it is because of this https://github.com/facebook/docusaurus/issues/6587 issue. Switching to mobile page via devtool is a mitigation.

[2022-02-19 03:15] Kurt-von-Laven commented on #11963
Bravo! Adding schemas to JSON Schema Store is indeed straightforward and [documented](https://github.com/SchemaStore/schemastore/blob/master/CONTRIBUTING.md#json-schema).

[2022-02-19 06:38] mrazauskas commented on #10200
Interestingly since #12089 `jest-mock` is already exporting `MethodKeysOf`, `PropertyKeysOf`, `ConstructorArgumentsOf` types which are equivalent to `FunctionPropertyNames`, `NonFunctionPropertyNames`, `ConstructorPropertyNames`:

https://github.com/facebook/jest/blob/7d4595eb935556b8214e1dda45b0b68dfc67068f/packages/jest-mock/src/index.ts#L36-L47

[2022-02-19 07:31] hengshanMWC opened #12433 "Cannot use import statement outside a module"
### Version

27.5.1

### Steps to reproduce

[code]

### Expected behavior

jest success.

I tried many methods, but I still reported an error

### Actual behavior

![image](https://user-images.githubusercontent.com/45714422/154790717-a6f990d3-1a18-42bd-abcd-ded5f2a59e04.png)

### Additional context

[code]
[code]

### Environment

[code]

[2022-02-19 09:25] binaryunary commented on #6155
Any updates on this?

[2022-02-19 10:13] ahnpnl opened #12436 "[Feature]: Allow `globalSetup` to access things in `globals`"
### 🚀 Feature Proposal

Include `globals` in global [config](https://github.com/facebook/jest/blob/main/packages/jest-types/src/Config.ts#L282) so that `globalSetup` or `globalTeardown` can use it.

### Motivation

I notice that Jest has `globals`, but it isn't included in global config. When I look at name `globals`, I was thinking about it would be included in global config. So it would match wi

[2022-02-19 10:14] ahnpnl commented on #12436
Hi @SimenB , if you think that is by design and cannot be changed, feel free to close this issue :) If you have other alternative ways, pls give me suggestions.

[2022-02-19 11:03] kenchambers commented on #11607
this is the only one that worked for me

[code]

[2022-02-20 03:25] dvazquez1027 commented on #10726
Has there been any progress on fixing this issue?

[2022-02-20 05:24] perrin4869 commented on #9771
@FrozenKiwi Thanks! That's a convenient setup :)
I'm referring here about being able to test the `exports` field itself - make sure it doesn't suddenly break with a new release of the library. Unfortunately this doesn't seems possible with jest...

[2022-02-20 07:56] pauldraper commented on #2145
The workaround is use is creating a JS file.

[code]

Then I configure `haste.hasteMapModulePath` to point to that file. (As well as set `testPathIgnorePatterns` to empty array.)

[2022-02-20 08:00] pauldraper commented on #11781
This should be closed as dup of #2145

[2022-02-20 09:12] SimenB commented on #9771
There's a lot of people subscribed to this issue, please keep discussion about things not related to the resolver implementation of `exports` within Jest elsewhere.

[2022-02-20 09:36] nicolo-ribaudo commented on #12422
When you are checking if a variable is safe to use, you could get `binding = path.scope.getBinding(varName)`.
- If it's undefined, it's a global (so probably it's safe?)
- Otherwise, check if `binding.path` is a variable declaration whose RHS is a call expression calling `require` with `"@jest/globals"`.

An alternative is to remove the `@jest/globals` import before that the module transform runs,

[2022-02-20 10:07] SimenB commented on #12436
Since `globalSetup` runs for each project, it makes sense to pass `projectConfig`, I think?

[2022-02-20 10:18] perrin4869 opened #12439 "[Feature]: Allow regular node dynamic import calls from jest test files"
### 🚀 Feature Proposal

Allow calls to `import` such that they aren't routed through jest's implementation. Maybe provide an unmocked alias such as `unmockedImport("./mymodule.js")`.

### Motivation

The motivation is to be able to have tests of the `package.json` `exports` field within libraries and prevent exports in node environments from breaking.
An example where this would be useful is in th

[2022-02-20 10:23] ahnpnl commented on #12436
Does it mean, if users have a repo with Jest `projects` for multiple projects like this
[code]

Jest shouldn't run `globalSetup` at all?

[2022-02-20 11:27] SimenB commented on #12436
I'd assume so, try it out? I've never used the global hooks at all, so I haven't really internalised how they work.

#6865 implemented it in projects, looking at it might provide clues?

[2022-02-20 11:34] ahnpnl commented on #12436
Thanks for the information. Reading the motivation from #6865, it means `globalSetup` can run:

- for each individual project which are defined via `projects`
- or run at root

Since `globals` config is only available in `ProjectConfig`, can we pass 2nd argument to `globalSetup` function? An example is
[code]

[2022-02-20 11:41] SimenB commented on #12436
Yeah, that's what I meant in https://github.com/facebook/jest/issues/12436#issuecomment-1046203834

[2022-02-20 15:29] leepowellnbs commented on #11607
Same issue, `jest.useFakeTimers('legacy')` is working for now.

[2022-02-21 00:40] SimenB commented on #9983
The example in the OP fails in JSDOM env due to missing `TextEncoder` (https://github.com/jsdom/jsdom/issues/2524) and passes with the node environment. So I'll consider this fixed

[2022-02-21 00:40] #9983 closed

[2022-02-21 00:49] SimenB commented on #7780
Example in OP passes in newer versions of Jest. Please open new issues with reproductions for other environments.

(the last example probably still fails due to https://github.com/facebook/jest/blob/b372332a8ff25aca23d36c5297db94581b6d439e/packages/jest-environment-node/src/index.ts#L42, but nevertheless it's a different issue)

[2022-02-21 00:49] #7780 closed

[2022-02-21 00:56] SimenB opened #12444 "Run TS type tests on minimum supported version of TS"
### 🚀 Feature Proposal

Right now, we verify on CI that Jest can be compiled with an older version of TypeScript (at the time of writing, v4.2). We should also run our type tests against that version.

This task is for adding a CI job installing the same minor version of TS (plus `@tsd/typescript`) we use for the compile check and run our type tests (in addition to the 4.5 (`latest`, at the moment

[2022-02-21 06:20] mrazauskas commented on #12444
That would be good to have.

Semi-related. If I get it right, the lowest supported Node version is 12.13. Just checked, yesterday tests in CI were running on Node v12.22. Is this intended, because of caret in `^12.13`? Hm.. Seemed like that could be any version up from v12.13, or? In this case perhaps CI should run on v12.13? Otherwise the lowest supported is not tested.

[2022-02-21 07:52] SimenB commented on #12444
We should add a job for the lowest version of 12, 14 and 16 as well probably, yeah

[2022-02-21 08:40] SimenB commented on #12422
Awesome, thanks @nicolo-ribaudo!

[2022-02-21 09:23] vsDizzy opened #12446 "[Bug]: ts-node support"
### Version

latest

### Steps to reproduce

1. Install jest
2. Install ts-node
3. ???
4. PROFIT

### Expected behavior

Jest support ts-node for running tests out of the box.

### Actual behavior

Jest throws errors.

### Additional context

Jest fials to support ts-node in either -r, --loader or whatever way.

### Environment

[code]

[2022-02-21 09:47] #10118 closed

[2022-02-21 09:47] #10200 closed

[2022-02-21 10:31] SimenB commented on #12422
I;ve found another issue while playing with this - we only replace calls to `jest.mock`. So

[code]

is transformed into

[code]

Notice how the inner `jest.requireActual` is _not_ `_getJestObj().requireActual`.

Diff with both tests (first fails due to the check discussed here, and the other produces the wrong result)

[code]

[2022-02-21 10:48] qq240814476 commented on #11555
We may not need a workaround. Look at the code as follow:
https://github.com/facebook/jest/blob/67c1aa20c5fec31366d733e901fee2b981cb1850/packages/jest-cli/package.json#L7-L14

I have a similar question for:

[code]

Since v27, jest-cli didn't export the build folder anymore. I can understand that this way may be "better" for modules. But I still think that it's a `breaking change`. Cause I can imp

[2022-02-21 10:59] qq240814476 commented on #11555
Btw, the `NodeEnvironment` class removed the `runScript` function, and I didn't find it `ChangeLog` too.

[2022-02-21 11:19] SimenB commented on #11555
This is not a regression, you used unsupported and undocumented APIs.

Please open new a feature request asking for what it is you need. Just "I did this, please enable it" is an example of https://xyproblem.info/. Please describe _what_ you want to do, not _how_ you want to do it.

Also note that Jest does not really have a supported programmatic API (tracked in #5048), but minor changes to enabl

[2022-02-21 11:19] #11555 closed

[2022-02-21 11:41] SimenB commented on #12446
This is not a bug report, looks like a feature request. Please file an issue using that template.

[2022-02-21 11:41] #12446 closed

[2022-02-21 11:57] emielvanseveren commented on #9726
I'm having the same issue, mapping does not work neither with the identity-obj-proxy nor the custom file...

[2022-02-21 12:00] #9726 closed

[2022-02-21 12:18] SimenB commented on #10726
https://twitter.com/slicknet/status/782274190451671040

[2022-02-21 12:29] SimenB commented on #12433
Essentially a duplicate of #11753 - you need to change your config to transpile in `node_modules`

[2022-02-21 12:29] #12433 closed

[2022-02-21 15:53] piotrroda commented on #11234
I confirm. Using barrel imports extreamly slows down starting test suitę. Test cases run very fast. Please manage this problem.

[2022-02-21 17:11] ShriVanitha opened #12450 "Unable to determine the time taken for each of the tests under suite from output file generated."
### Please do not submit this issue.

- [X] I understand

[2022-02-21 17:11] #12450 closed

[2022-02-21 17:24] ShriVanitha opened #12451 "[Bug]: Unable to determine the time taken for each of the tests under suite from output file generated."
### Version

26.0.1

### Steps to reproduce

Using the below command to run the test:
“jest --runInBand tests/*tests.ts --json --verbose --outputFile=testout.json"

### Expected behavior

The testout.json file generated as part of jest run should hold the time taken for each test case. But this holds only the time taken for each suite.
Expecting the file to hold time taken for each tests

### Actu

[2022-02-21 17:59] glenjamin opened #12452 "[Feature]: Allow mocking the Date without mocking timers"
### 🚀 Feature Proposal

Currently `jest.useFakeTimers()` enables mocking of all time and timer related functions.

I'd like to propose allowing callers to be more selective about what timer functions are actually mocked

This could be a case of exposing the `toFake` option from @sinonjs/fake-timers, or it could take the form of a jest-specific API.

### Motivation

I've run into a case where I'm d

[2022-02-21 23:55] #12436 closed

[2022-02-22 08:10] #11862 closed

[2022-02-22 08:16] SimenB commented on #12140
Please provide a minimal reproduction using Jest 27 (or prerelease of v28)

[2022-02-22 08:16] #12140 closed

[2022-02-22 08:58] adamma1024 opened #12456 "[Feature]: Jest-Cli exports some util APIs"
### 🚀 Feature Proposal

Proposal: `jest-cli` package export `buildArgv` API and `init` API, or adding callback/plugin system.

https://github.com/facebook/jest/blob/356b3b05b77f927b49e151302edbef6594d09a22/packages/jest-cli/src/cli/index.ts#L51-L86

https://github.com/facebook/jest/blob/34308ae21827a44916471106b4e3afdb3779cbb1/packages/jest-cli/src/init/index.ts#L40-L155

### Motivation

My purpos

[2022-02-22 09:46] mrazauskas commented on #7082
The documentation related to `regenerator-runtime` was removed in #7016. Most probably this is not an issue any more.

[2022-02-22 09:49] SimenB commented on #11487
This will be supported in Jest 28, see example: https://github.com/facebook/jest/blob/eafc350f648ec75d7fb691b4ac45e02de8d68ada/examples/expect-extend/toBeWithinRange.ts#L49-L56

[2022-02-22 09:49] #11487 closed

[2022-02-22 11:37] SimenB commented on #7082
Yep, this is no longer relevant. Thanks for the offer, though!

[2022-02-22 11:37] #7082 closed

[2022-02-22 11:46] #9505 closed

[2022-02-22 12:18] SimenB commented on #9505
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.4

[2022-02-22 12:20] SimenB commented on #9430
Of the points mentioned in the OP, Jest 28 will include support for [packages `exports`](https://nodejs.org/api/packages.html#package-entry-points), async module resolution and support for [data imports](https://nodejs.org/api/esm.html#data-imports).

There's been no further work on mocks (beyond `jest.unstable_mockModule`, which landed in Jest `27.1.1`).

That said, please give https://github.com

[2022-02-22 12:32] #12426 closed

[2022-02-22 12:54] #2145 closed

[2022-02-22 12:54] #11781 closed

[2022-02-22 12:57] thernstig commented on #9430
I want to say that https://github.com/nodejs/node/issues/37648 seems blocked on https://bugs.chromium.org/p/v8/issues/detail?id=10284 which in turn seems blocked on https://bugs.chromium.org/p/chromium/issues/detail?id=1238312

So if anything we can hope someone with powers can push those two last issues to be fixed.

[2022-02-22 13:56] SimenB commented on #12432
PR welcome if we have some weird CSS like the docusaurus issue suggests

[2022-02-22 19:49] geoffdavis92 commented on #12432
Updated my Chrome to `Version 98.0.4758.102 (Official Build) (x86_64)` and it appears to be working.

[2022-02-22 20:27] sibelius commented on #11633
@IIIEII can you send a pull request to fix this?

can you provide a patch-package (https://github.com/ds300/patch-package) so more people can try your solution?

[2022-02-22 21:33] fabb opened #12462 "[Feature]: Separate jsdom instances for parallel running test suits to avoid flakiness"
### 🚀 Feature Proposal

Add an option to use a jsdom instance per test suite to avoid test flakiness when test suites interfere with each other (e.g. both use `localStorage`).

### Motivation

Currently when two test suites read/write `localStorage` in their executed application code, it might cause flaky tests because the tests use a shared jsdom instance and thus shared localStorage. Clearing lo

[2022-02-22 21:55] rmirro opened #12463 "[Bug]: jest `expect.extend` is failing when upgrading to `v27.5.1`"
### Version

27.5.1

### Steps to reproduce

repo: https://github.com/rmirro/jest-expect-extend

1. `npm i`
2. `npm test`

### Expected behavior

All four tests should pass.

### Actual behavior

The forth test (`handles undefined as 2nd argument via expect`) is not passing after upgrading to jest `v27.5.1`.

I left `console.log` output below to illustrate that both tests that utilize `expect.opti

[2022-02-23 00:44] robertwt7 commented on #5311
Hey peeps, now i'm getting crashes on my test instead of warning even after wrapping my async function in `try` and `catch`. is anyone experiencing the same issue?

[2022-02-23 07:18] SimenB commented on #12463
`git bisect` says this changed in #11061.

/cc @dubzzz

[2022-02-23 07:42] SimenB commented on #12462
We already instantiate per test suite (test file): https://github.com/facebook/jest/blob/491e7cb0f2daa8263caccc72d48bdce7ba759b11/packages/jest-environment-jsdom/src/index.ts#L34-L53

Sounds like JSDOM has some global state which interfere? Can you put together a reproduction which shows the issue?

[2022-02-23 07:44] SimenB commented on #11633
Very much happy to take a PR changing this like suggested

[2022-02-23 07:56] Smrtnyk commented on #12462
I think he means to isolate between tests, because it is already isolated between files.
If one test changes local storage that another one has it clean.
Same is with event listeners, if one test registers an event listener in the jsdom instance, the another test may register it also and trigger both of them.
Tests should have cleanup after each run, otherwise creating new jsdom instance for each

[2022-02-23 07:57] SimenB commented on #12462
Ah. That would add quite a bug overhead - I'd recommend just splitting the tests that need this extra isolation into their own suites, then. Not sure an API is needed for this?

[2022-02-23 08:08] #12271 closed

[2022-02-23 08:08] fabb commented on #12462
No, I actually meant to have a separate instance per test file (=suite), since suites run in parallel while tests in a suite run always sequentially already. Inside a test suite I can use beforeEach to reset the state between tests, that’s fine. But if you say jest already uses a jsdom instance per test suite, I need to investigate why the issue happens in my project and disappears when using `—ru

[2022-02-23 08:18] SimenB commented on #12462
Yes, Jest calls `new JSDOM` as linked above for every test suite.

[2022-02-23 08:35] SimenB commented on #8467
I think this is fine now that prettier is optional, as mentioned a few times above. If people are still having issues please create a new issue.

[2022-02-23 08:35] #8467 closed

[2022-02-23 10:47] Kamill90 opened #12471 "[Please read the message below]"
### Please do not submit this issue.

- [X] I understand

[2022-02-23 10:47] #12471 closed

[2022-02-23 11:03] igneosaur commented on #11809
We have also come across this issue because [Swiper](https://swiperjs.com/) v7 uses `.esm.js`.

https://github.com/nolimits4web/swiper/issues/4871

[2022-02-23 11:16] vsDizzy opened #12472 "[Feature]: ts-node support"
### 🚀 Feature Proposal

Support typescript tests with `ts-node` out of the box.

### Motivation

There is no need to have `ts-jest` or `Babel` additionally.
`ts-node` support for the jest configuration file is already there.
So it is just one step forward.

### Example

1. Install `ts-node`
2. Install `jest`
3. ???
4. PROFIT

### Pitch

It will be possible to run typescript tests out of the box wi

[2022-02-23 11:38] SimenB commented on #12472
`ts-node` works by patching `require` or a loader, neither of which are compatible with the way Jest runs tests (in `vm` sandboxes). Jest uses `ts-node` to load `jest.config.ts`, but it cannot be used in tests.

[2022-02-23 11:38] #12472 closed

[2022-02-23 11:53] SimenB commented on #11809
If you use `.js`, the closest `package.json` _needs_ to include `type: module`, this won't change.

Jest respects `import` export condition (as of https://github.com/facebook/jest/releases/tag/v27.3.0), which `tslib` uses, together with a `package.json` with the required `type: module`.

https://github.com/microsoft/tslib/blob/c827964226e85118e2fd35b1cc68d4a5ad867f39/package.json#L32
https://githu

[2022-02-23 12:59] SimenB commented on #11707
There is no `hasRef` for workers, might need node to add support first?

[2022-02-23 13:11] SimenB commented on #11707
Filed https://github.com/nodejs/node/issues/42091

[2022-02-23 14:44] SimenB commented on #12049
Fixed in the above PR - at least the one-liner above works fine 🙂

[2022-02-23 14:44] #12049 closed

[2022-02-23 15:19] fabb commented on #12462
Hm, you are right, writing/reading localStorage in separate test suites works fine in a test project: https://github.com/fabb/jest-jsdom-flaky

So the flakiness in my project needs to be caused by something else, I need to investigate further. Sorry to bother you.

[2022-02-23 15:19] #12462 closed

[2022-02-23 16:23] ted-kayak opened #12478 "[Bug]: No tests found using --findRelatedTests always exits with code 0"
### Version

27.5.1

### Steps to reproduce

1. Clone my repo https://github.com/ted-kayak/jest-findrelatedtests-repro
2. `npm install`
3. `npm run test:related`

### Expected behavior

I expect for the script to exit 1 like the output says it will.
`npm test` runs jest with no additional arguments and it exits with 1

### Actual behavior

The script with `--findRelatedTests` exits with code 0, de

[2022-02-23 18:41] JoshuaKGoldberg opened #12479 "[Feature]: Ergonomic way to jest.fn over a function type in TypeScript"
### 🚀 Feature Proposal

TypeScript users need a good way to represent that a `jest.fn()` should adhere to a particular function type. I propose its generic type parameters be switched to a single type parameter representing a function type.

[code]

### Motivation

Right now `jest.fn` is generic on a `T` for the return type and `Y` for the args. That means there's no easy way to go from some funct

[2022-02-23 19:31] JoshuaKGoldberg opened #12483 "[Bug]: Types no longer allow passing a named function to describe"
### Version

27.0.6 and 28.0.0-alpha.4

### Steps to reproduce

https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgEwKYGcDGVgCNVwC+cAZlBCHAOQACAVhjAPQDmANhLgIZvpUDcAKEEkArgDtMMYBHFwQATwBiEqTLkAKAJSJCQwWiw58GxSsnTZAGjja4AXgB8urfyA

### Expected behavior

No type errors on `describe(myFunction, () => {})`

### Actual behavior

[code]

### Additional context

Allowing taking in class/function

[2022-02-23 21:38] dubzzz commented on #12463
While running the code against a debugger I got a false value due to that if statement: https://github.com/facebook/jest/pull/11061/files#diff-a44c6e58761519c389b2ee6a1d4891ccb35b6e79ccc344a0907332491fec87e3R162. I'm currently trying to get what goes wrong with this precise statement contrary to the original version.

[2022-02-23 21:57] dubzzz commented on #12463
@SimenB In the original code, there was a check for `className == '[object Array]` when calling `keys`. I'll try to understand how we should have translated it when we did the change. My point being: is the `hasDefinedKey` passed because of `isEqualCall` the one we want at this point? (to be checked)

[2022-02-23 22:09] dubzzz commented on #12463
In the past:

https://github.com/facebook/jest/pull/11061/files#diff-a44c6e58761519c389b2ee6a1d4891ccb35b6e79ccc344a0907332491fec87e3L153-L164
Was responsible to compare the values linked to numeric keys for arrays

https://github.com/facebook/jest/pull/11061/files#diff-a44c6e58761519c389b2ee6a1d4891ccb35b6e79ccc344a0907332491fec87e3L196-L237
Was skipping them when extracting the keys for arrays

[2022-02-23 23:32] SimenB commented on #12463
Thank you so much for digging into this so thoroughly @dubzzz!

[2022-02-23 23:35] SimenB commented on #12483
Ah, good catch!

/cc @mrazauskas

[2022-02-23 23:37] SimenB commented on #12479
We should definitely have that, at the very least as an overload.

@mrazauskas since you've been working on the types in `jest-mock` the last few days, thoughts?

[2022-02-24 03:32] cspotcode opened #12485 "[Feature]: upgrade source-map to @cspotcode/source-map"
### 🚀 Feature Proposal

Is there any interest in upgrading from `source-map` to `@cspotcode/source-map`?  If so, I can attempt a pull request to see if all the tests pass.

### Motivation

I see it mentioned in a few places that jest is blocked from upgrading past source-map 0.6.1.

https://github.com/mozilla/source-map/issues/331#issuecomment-385881122
https://github.com/facebook/jest/blob/199f98

[2022-02-24 04:53] cspotcode commented on #12485
I ran the tests locally, but not the mercurial tests, since it seems like they are always failing: https://github.com/facebook/jest/issues/8653

They are passing, so I submitted #12486 to allow you to run the full test suite if you want.

[2022-02-24 05:20] mrazauskas commented on #12479
Indeed I was looking at this yesterday. Some hour before the issue came in. Might be possible to do and really worth to a try.

[2022-02-24 05:41] mrazauskas commented on #12483
Hm.. I was going through the discussion in the PR which added this feature. The maintainers seemed to be skeptical and the only convincing argument was legacy browsers https://github.com/facebook/jest/pull/5154#issuecomment-353649282. Is this still an issue? IE is gone.

I have a feeling it might be equally good idea to deprecate this feature. Time comes and older Node version is not supported, th

[2022-02-24 07:11] SimenB commented on #12483
I don't really see a reason to remove the feature - it's a nice shorthand, and runtime support is already present, it's only the types that don't recognize it

[2022-02-24 07:12] SimenB commented on #12479
FWIW I'm happy to replace the two generics we have today with a single function one - the types we have are inherited from `@types/jest`, not something we put a lot of thought into at the time

[2022-02-24 07:20] mrazauskas commented on #12479
Working on it. Almost there

[2022-02-24 07:58] dubzzz commented on #12463
@SimenB While this is clearly a regression compared to the previous version the current behaviour has the benefit to be consistent for arrays and objects. Here is what we have/had:

[code]

With the new behaviour calling a function with an object made of keys 0 and 1 has the exact same behaviour as calling with an array of length 2 (in other words made of the keys 0 and 1). The expectation to have

[2022-02-24 08:02] SimenB commented on #9441
For anyone coming back to this issue later - in #9442 I tested removing the width, and a bunch of file names now get abbreviated, which imo is a worse experience.

[2022-02-24 08:09] SimenB commented on #12463
I'd love to move to strict equality everywhere, but it's horribly breaking 🙁

That said, I'd consider it a bug that an asymmetric matcher that returns `{pass: true}` can still cause failure, for both arrays and objects

[2022-02-24 08:32] dubzzz commented on #12463
Maybe we could do something to patch this behaviour for matchers 🤔 I have not found anything obvious yet but we could definitely try something to fix the matcher case for both calls to functions and isEqual (which obviously is not ideal today - and was not - with such matcher)

[2022-02-24 09:46] SimenB commented on #7185
I still want to do this at some point, but I'm not sure when I'll have the energy to take it on.

Current plans for Jest and breaking changes are: V28 is right around the corner and will be filled with breaking changes., mostly minor or easy to tweak your code for. V29 will most probably only change `snapshotFormat` defaults and drop node 17 as its only breaking changes, to make the upgrade as smo

[2022-02-24 10:17] SimenB commented on #8502
I ran a script back in August 2019 backfilling, and have been doing them manually since. So I think this is fixed 🙂

[2022-02-24 10:17] #8502 closed

[2022-02-24 10:59] Yoissef64 commented on #12432
My Chrome is up to date but the scroll bug is still there

[2022-02-24 11:06] maaaaagda commented on #6683
I have same issue as @anthonyvialleton, node v16.13.0, MacOS Monterey
`node --inspect ./node_modules/.bin/jest` works though but not in debug mode, it starts the tests. I'm also able to debug tests with launch.json config

[2022-02-24 11:13] SimenB commented on #6683
OP reports `(node:2536) UnhandledPromiseRejectionWarning: TypeError: Cannot read property '1' of null` error, which no longer happens.

This issue is more than 3.5 years old at this point, and has had lots of examples and workarounds it's hard to say what the current state is.

So I'll close this and ask anyone still having issues to open up a new issue with minimal reproduction steps (i.e. no VS

[2022-02-24 11:13] #6683 closed

[2022-02-24 11:14] JoshuaKGoldberg commented on #12483
FWIW I agree with SimenB and think being able to to `describe(myFunction)` instead of `describe(myFunction.name)` is itself a nice feature. Keeping hardcoded strings like `describe("myFunction")` between refactorings is a pain.

[2022-02-24 13:45] shahinghasemi commented on #12004
What's the benefit of `getGlobalCacheKey`? I assume this is to handle the case when a test's dependency changes, therefore, invalidates the cache key for that test.
For example let's say we have a test file called `test.ts` which requires another package like `sum.ts` now if `sum.ts` changes, then the previous cache key for this test file should be invalidated in favor of the `sum` changes. Am I r

[2022-02-24 13:55] SimenB commented on #12004
It's to handle if files outside of your tests (such as babel config or version) change (which are "global", instead of related directly to the file under transformation). `getCacheKeyFunction` returns a function which incorporates that hash into the hash for the specific file.

I linked to react native which uses it in the comment above yours

[2022-02-24 14:19] #12478 closed

[2022-02-24 15:14] #10360 closed

[2022-02-24 16:20] SimenB commented on #6180
@nirga over a year later - please do! 😀

[2022-02-24 18:29] #12483 closed

[2022-02-24 20:20] #8280 closed

[2022-02-24 20:33] agentdon commented on #9881
Does anyone know if there's been any progress resolving this issue? We're hitting timeouts in some React Testing Library tests and it would be really nice to be able to see how far we got before the tests timed out. @SimenB if you're able to point me in the right direction, I'm interested in taking a swing at fixing this. I just need to know where to start. (Also, long time no see @SimenB! 👋 Glad

[2022-02-24 21:02] SimenB commented on #12483
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.5

[2022-02-24 21:02] SimenB commented on #12271
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.5

[2022-02-24 21:03] SimenB commented on #8280
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.5

[2022-02-24 21:03] SimenB commented on #2145
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.5

[2022-02-24 21:03] SimenB commented on #11781
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.5

[2022-02-24 21:04] SimenB commented on #12478
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.5

[2022-02-24 21:04] SimenB commented on #8786
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.5

[2022-02-25 04:47] rschristian opened #12493 "[Bug]: Using `esm` package results in an empty object in Jest >= 25"
### Version

27.5.1

### Steps to reproduce

1. Clone repo from https://github.com/rschristian/jest-esm-repro
2. `yarn`
3. `node index.js` -> output is `{ default: [ { foo: 'bar' } ] }`
4. `yarn jest ./index.test.js` -> test fails, output is `{ default: {} }`
5. Downgrade `jest` to `24.9.0` in `package.json`
6. `yarn jest ./index.test.js` -> test passes, output is `{ default: [ { foo: 'bar' } ] }`

[2022-02-25 05:25] ptim commented on #8297
I've just stumbled across this issue due to my own misunderstanding of the behaviour of `expect.hasAssertions` and `expect.assertions()`

AFAICT, jest signals expectation failure by throwing, so when I run the initial example in my own code base, it fails, but the following test passes:

[code]

(ack. it's highly likely things have changed since the issue was raised)

I'm unclear on why this works

[2022-02-25 07:32] SimenB opened #12495 "Use Admonitions on website"
### 🚀 Feature Proposal

Our current docs are full of "Note:" and its ilk, sometimes as a quote (`>`), sometimes in italics etc.. We should instead use [admonitions](https://docusaurus.io/docs/next/markdown-features/admonitions) both since they look better, but also to have a consistent way of adding this type of info and it can differentiate between notes, tips etc..

[2022-02-25 07:40] SimenB commented on #12493
You should report this to `esm`, we've never really supported it.

You should use [native ESM](https://jestjs.io/docs/ecmascript-modules) (although the segfault (argh!) probably block that) or setup `esm` as a transformer (doesn't seem like that landed: https://github.com/standard-things/esm/issues/706, so maybe use babel or typescript?).

---

That said, if you could bisect which change caused th

[2022-02-25 07:52] rschristian commented on #12493
Alright, thanks! I do appreciate there's likely a ton of surface area there for a pretty uncommon use case.

I certainly will take a look at bisecting, see if I can track down the exact change.

Definitely might be time to look for an alternative, as `esm` looks to be unmaintained for the past few years as well.

Do you prefer I close this as it might be an upstream issue? Assuming I can come back

[2022-02-25 08:01] SimenB commented on #12493
It _is_ a regression even though we never explicitly supported `esm`. If the change on our side is trivial (or at least minimal, and also makes sense in isolation), I'm happy to land it. If it's a hacky change we can close as downstream issue 🙂 Depends on the outcome of the bisect, I guess! 😀

[2022-02-25 09:11] SimenB commented on #9881
Jest cannot know which `await` was the one to time out - all Jest knows is that the promise returned from your function never resolved (or rejected). Only option is something similar to #9785, if anyone wants to try (I don't even know if `inspector` can give us this information, or if it's feasible to add such overhead to tests).

We _could_ at some point add proper tracking to e.g. `expect` calls

[2022-02-25 09:11] #9881 closed

[2022-02-25 09:15] SimenB commented on #9785
@octogonz happy to take a PR adding some sort of sane timeout (15 minutes? 30? 60?)

[2022-02-25 09:18] #11038 closed

[2022-02-25 09:41] Ash-KODES commented on #12495
Can I contribute for this issue?

[2022-02-25 09:47] SimenB commented on #12495
Yeah, any help appreciated!

[2022-02-25 09:52] #8773 closed

[2022-02-25 09:57] SimenB commented on #12495
I'd search for "Note" in `docs/` and `website/versioned_docs` and replace most of them with `:::note` or `:::tip` (or some other if that makes more sense in context).

You should do just `docs/` first, then open a PR so I can review - no need to spend time on the versioned docs until we're happy with the main ones! 🙂

[2022-02-25 10:01] Ash-KODES commented on #12495
ok,I am on it:)

[2022-02-25 10:47] SimenB commented on #8297
Essentially same underlying issue here the solution I suggest in https://github.com/facebook/jest/issues/9881#issuecomment-1050671577 - `expect` is not bound to a single test, and maintains a global state. So async will confuse it. We need some way of binding an "instance" of `expect` to a single test, so we can reliably count assertions made in that specific test

[2022-02-25 10:55] SimenB commented on #10523
Upgrading to jest v27 fixes the issue

[2022-02-25 10:55] #10523 closed

[2022-02-25 11:20] #10559 closed

[2022-02-25 11:21] #11261 closed

[2022-02-25 11:22] #10549 closed

[2022-02-25 11:22] #10535 closed

[2022-02-25 11:24] #9184 closed

[2022-02-25 12:25] F3n67u commented on #12296
I am new to jest source code. May i contribute to this feature?

[2022-02-25 12:26] mrazauskas commented on #12274
@SimenB Would it be possible to include this issue in Jest 28 milestone? I really need it for one work-in-progress test runner (;

Might be there is better solution, but it seemed like having async `createWorker('path/toWorker')` factory instead of `new Worker('path/toWorker')` would be enough. Perhaps this breaking change could be introduced now and the real ESM support could be implemented later

[2022-02-25 12:40] SimenB opened #12496 "Closing stale issues and PRs automatically"
### 🚀 Feature Proposal

Hey! 👋

As many have probably noticed, this repository has over 1500 open issues, and 150 open pull requests. I've tried in the last couple of weeks to do something about it, and while PRs have gone down from 200 (plus I've landed many new ones), the issues have been untouched. I've spot checked a few, and about half of them are no longer relevant (either due to old version

[2022-02-25 12:42] SimenB commented on #12274
yes!

[2022-02-25 12:51] eps1lon commented on #10099
Comment

[2022-02-25 12:52] eps1lon commented on #12244
Comment

[2022-02-25 12:53] thomasmichaelwallace commented on #10163
Haha- fair enough github-actions!

I guess no one else liked it 😛

[2022-02-25 12:53] #10163 closed

[2022-02-25 12:58] silverwind commented on #10039
I think this is still valuable to have.

[2022-02-25 13:01] onigoetz commented on #8942
Stale maybe, but the bug is still present in Jest 27 : https://github.com/onigoetz/jest-race-condition-repro

[2022-02-25 13:05] ryanwilsonperkin commented on #12230
Bump to remove stale

[2022-02-25 13:11] dubzzz commented on #8035
Actually already done, closing it!

[2022-02-25 13:11] #8035 closed

[2022-02-25 13:12] Andarist commented on #8754
Since the issue was reproduced and downsized to a minimal repro - I think this is a problem, even if not a high priority one. It might very well not be a problem with jest itself - but it's not obvious how to overcome it and I lack the expertise to figure this out on my own.

[2022-02-25 13:16] StringEpsilon commented on #12496
One thing I noticed immediately: The stale bot does not differentiate between types of tickets. I think feature requests should not be closed *just* because they're old. But marking them as stale might help make the decision to close them, if there wasn't much discussion or work.

This currently affects 184 tickets. Including "Issue triage needed" (11086) :)

Similar categories may be:

- Upstream

[2022-02-25 13:17] 4ekki commented on #8969
Still actual in 27.4.7

[2022-02-25 13:18] SimenB commented on #12496
Issues more than a year old get 14 days, not 7. But I get what you're saying - can set them all to 30 days (messages already posted will lie I guess, but no biggie)

[2022-02-25 13:22] majioa commented on #9700
@znarf ping?

[2022-02-25 13:23] SimenB commented on #12496
Oh, and if there are specific issues you (or others) think should always be open, feel free to leave a comment here with them and I can add the `Pinned` label so they're left alone

[2022-02-25 13:25] #11633 closed

[2022-02-25 13:28] #12004 closed

[2022-02-25 13:28] #10363 closed

[2022-02-25 13:31] SimenB commented on #10163
Sorry! 😬

See #12496 for motivation.

---

While I cannot guarantee anything regarding if it'll get merged or not, I'm happy to review a PR adding support for this. Empowering watch plugins sounds attractive to me.

[2022-02-25 13:31] FabianoLothor commented on #8774
Hey guys, not sure if this was already implemented, but would be nice to have it.

[2022-02-25 13:31] liamdocherty10 commented on #8604
I believe this is still a desire feature. Commenting to keep it open.

[2022-02-25 13:34] elibarzilay commented on #10846
activity

[2022-02-25 14:00] tsondergaard commented on #9362
I'd like to keep the issue open.

[2022-02-25 14:09] mfulton26 commented on #5918
I believe this issue still represents a desired feature to implement.

[2022-02-25 14:42] stefan-wullems commented on #10086
I still think this would be nice !

[2022-02-25 14:43] leo-coco commented on #9781
Any news on that? I'm not sure whether it is related or not but here the situation I'm facing

If I run `jest --coverage --coverageReporters=cobertura`, it will generate a Cobertura report, but all my projects will be tested.
If I run `jest --projects my_project --coverage --coverageReporters=cobertura`, cobertura is not generated.

Is there a way to specify one project **and** the `--coverage --c

[2022-02-25 15:03] bisubus commented on #10270
@github-actions It's not stale, bot

[2022-02-25 15:03] bisubus commented on #7933
@github-actions It's not stale, bot

[2022-02-25 15:33] aalexgabi commented on #9591
Why should an issue be closed just because does not get comments? I never understood this on GitHub. How is that going to solve the issue or prove that the issue should be closed?

[2022-02-25 15:33] dmwelch commented on #11008
@SimenB thoughts?

[2022-02-25 16:21] jedmao commented on #8128
I still need this and run into this issue on a regular basis. I’m forced to use -1 for now, which isn’t ideal.

[2022-02-25 16:40] gwerbin commented on #12240
I would appreciate a response from the team on this. I don't think it's fair to close un-answered feature requests as "stale" in such a short amount of time. Even a "no, wontfix" is fine.

[2022-02-25 16:44] brandon-leapyear commented on #10746
I still think this would be good to fix

[2022-02-25 16:48] brandon-leapyear commented on #9328
I still think this would be great in core, to generalize the `.not` chainer. But it's not urgent, since it is possible implement in userland

[2022-02-25 17:00] conartist6 commented on #12496
What about the github triage permission? Stalebots have their purposes, but Jest is just a huge project and there actually are a lot of issues with it. But there are also a lot of people who would probably be willing to help clean up the mess instead of, shall we say, sweeping it under the rug.

[2022-02-25 17:08] conartist6 commented on #12496
I'm also of the opinion that jest is in some ways too large to be a monorepo, and in some ways it's still a megalith. The best thing that could happen to it is for some of its packages to become independent, use semver versioning, and have their own communities and systems of trust. They might even start getting documentation!

[2022-02-25 17:15] quicksnap commented on #8620
Unstale

[2022-02-25 17:40] ljharb commented on #5167
bump, i guess

[2022-02-25 17:55] marekdedic commented on #5209
Death to the stale bot!

Jk, this is still relevant.

[2022-02-25 18:10] StringEpsilon commented on #12496
As I said, a feature request being stale is still a valid indicator to look at it again and to consider closing it. But ultimately, it should be a matter of if the feature makes sense for jest. And not whether or not someone bothered to bump it against stale-bot continuously. Some feature requests I looked over also have some valuable discussion and design work already put into them. Good example

[2022-02-25 18:14] Pomax commented on #12221
This issue should probably not go stale.

[2022-02-25 18:28] agentdon commented on #9881
Got it. That makes sense. So, is the plan in #9881 to wire up an inspector so that folks can use it to profile the test to see where the time is being spent in the test?

[2022-02-25 18:31] ballercat commented on #8297
@SimenB Thanks for the response and I agree 100% RE: the problem of global `expect` not being bound to a single test.

It's probably a bit too late in the lifecycle of Jest to expand/change it's API in such a way but I for one would love to see an addition to the `test(string, fn)` API with something like `test.strict` that would directly provide the `expect` Fn as a variable instead of relying on

[2022-02-25 18:32] Saibamen commented on #7036
.

[2022-02-25 19:39] aerialist7 commented on #8587
Steel actual

[2022-02-25 19:44] nickofthyme commented on #6270
For added context, the [`playwright`](https://playwright.dev) test runner has a built-in api for sharding tests across mulitple machines, see [docs](https://playwright.dev/docs/test-parallel#shard-tests-between-multiple-machines).

[code]

[2022-02-25 19:56] #12210 closed

[2022-02-25 20:01] DanielEscorciaOrtiz commented on #9325
I was looking for the exact same feature and ended here. I agree it would be a  great feature for **jest** to be able to list only the
[code]
statements with file path and message.

[2022-02-25 20:04] afoxman commented on #12231
Bump to keep this alive.

[2022-02-25 20:59] Ash-KODES commented on #12495
@Biki-das  you should had asked before opening a PR since I had claimed the issue beforehand,I was going though changes

[2022-02-25 21:19] Biki-das commented on #12495
Sorry for that, i didn't saw it.
Well here's what you can do, i have just suggested changes for the docs, you can go through my docs changes and apply them to the versioned docs, this way you can send a PR.

[2022-02-25 21:23] Ash-KODES commented on #12495
ok sure

[2022-02-25 23:54] andersk commented on #9554
Still an issue in current `main` (1bbe6fb7f9545ec690c9f9db1156138366fb1d00). Ignoring the lazy-loading blacklist speeds up the run by 2× (21.9 s → 11.8 s).

[2022-02-26 00:04] overlookmotel commented on #7823
Personally, I think this issue is worth keeping open.

[2022-02-26 06:05] weidehai commented on #12495
i think we can create a task list,people who want to participate and contribute shuold create a issue link to a specified task first,and then pull request for this issue,one task should be linked only one issue at a time to prevent conflict
@SimenB

[2022-02-26 09:52] SimenB commented on #6383
We should stick links to https://github.com/americanexpress/jest-image-snapshot and https://github.com/satya164/jest-file-snapshot in https://jestjs.io/docs/snapshot-testing.

PR is still welcome to make `_updateSnapshot` public - probably under a more descriptive name?

[2022-02-26 09:57] SimenB commented on #12231
PR very much welcome adding an alternative crawler! 👍

[2022-02-26 10:14] SimenB commented on #5167
PR welcome!

[2022-02-26 10:19] SimenB commented on #10100
@samgladstone I think that use case is better covered by a `test.failing` or something (https://github.com/avajs/ava/blob/main/docs/01-writing-tests.md#failing-tests)

[2022-02-26 10:22] SimenB commented on #5243
This was fixed by #9774

[2022-02-26 10:22] #5243 closed

[2022-02-26 10:28] SimenB commented on #9554
Would you be able to look into what specifically is slow when loading `jest-snapshot`? I.e. is it loading dependencies or is it some other setup it does? If other setup, we can probably make that lazy

[2022-02-26 11:08] SimenB commented on #12496
I unfortunately don't have the necessary permissions to add triagers, but that would be ideal 🙂 But if people start to triage, even if they cannot close or add labels, that would definitely help out!

I don't disagree, but unless somebody steps up immediately (that we can trust), splitting out packages just adds _more_ work for me. Sorta chicken and egg problem, but it would exacerbate the problem

[2022-02-26 11:34] Josh-Cena commented on #12432
Docusaurus beta.15 can break users with "experimental web platform features" turned on. Upgrading to beta.16 should close this.

[2022-02-26 12:15] SimenB commented on #8618
At work we generate uuids using `uuid`, so for snapshots we mock it.

---

In general "replacing something in the snapshot" should be solved with a custom serializer as mentioned above. I don't think there's much to gain by changing `pretty-format`'s API. If there _is_, please open up a new feature request 🙂

[2022-02-26 12:18] SimenB commented on #6270
PR very much welcome! 🙂

[2022-02-26 12:18] spudly commented on #7929
Please keep this open. I would love to see this get fixed

[2022-02-26 12:21] SimenB commented on #9328
I don't think we want to support this out of the box. Happy to link to some project that has this extension to `expect`, tho!

[2022-02-26 12:21] #9328 closed

[2022-02-26 12:25] SimenB commented on #12240
I don't think we want to make this configurable. What you can do is write a custom reporter (`jest-silent-reporter` might be open to taking a PR with an option for what you want, or you can look at it as inspiration for your own).

[2022-02-26 12:25] #12240 closed

[2022-02-26 12:31] SimenB commented on #9881
If you mean #9785, then the plan would be for Jest to point to last where a promise never resolved, like it would point to where an infinite loop happens 🙂

I'd suggest increasing test timeout and reducing (or adding if missing) a timeout to promises created

[2022-02-26 12:41] SimenB commented on #9591
See #12496

[2022-02-26 13:38] SimenB commented on #8297
Yeah, I wanna add that type of API. Unfortunate we used the `test` name as just an alias for `it` instead of breaking teh API 😅

FWIW I'd me 100% open to a PR adding support for `test.strict`, `test.bound`, `test.isolated` or some such thing which binds/isolates `expect`. The name isn't the hard part, just need to figure out how to make `expect` not rely on global state (but still keep it to not b

[2022-02-26 13:42] SimenB commented on #11124
See #4411 where it was added - it's not change how matching works, so `boolean` is correct. We should definitely document this better, though! Wanna send a PR?

[2022-02-26 13:58] lydell commented on #4828
Here’s a test I wrote recently:

[code]

I’ve noticed this pattern in my tests lately: Sometimes I wrap a `test` in an “unnecessary” `describe` just so I can abuse `afterEach` or `afterAll` as a cleanup hook. (I have no intention of ever adding more tests in that `describe`.) I’ve done the same with `Promise.reject`. Those tests are admittedly a bit weird, but the point is that I didn’t want to mo

[2022-02-26 14:03] SimenB commented on #4828
Yeah, having a clean way of adding setup and teardown to a single test would be great.

But for this issue about the docs - would adding an [admonition](https://docusaurus.io/docs/markdown-features/admonitions) about this gotcha be enough?

[2022-02-26 14:04] SimenB commented on #12432
Tried in #12500, we need to do some algolia magic

[2022-02-26 14:36] adrianbienias commented on #8618
https://github.com/facebook/jest/pull/12501

[2022-02-26 15:09] ljharb commented on #4278
bump

[2022-02-26 15:10] ljharb commented on #3674
bump; extensionless files are used by almost every package that has an executable, and it’d be great to cover these.

[2022-02-26 16:22] SimenB commented on #3674
I think adding extensionless files to the hastemap should be fine - we already crawl everything, we just skip them if there's no extension.

https://github.com/facebook/jest/blob/f3c48b52ffd9086e9848d742009068c8f6d5881c/packages/jest-haste-map/src/crawlers/node.ts#L108-L110

So in _theory_ if you add `''` to `moduleFileExtensions` and have it work.

Not sure how that would work with watchman, but

[2022-02-26 16:26] SimenB commented on #7176
I would assume the repository in the OP still reproduces? Should update jest to latest to ensure we're using the latest versions of istanbul etc, but beyond that it should be fine?

[2022-02-26 16:27] SimenB commented on #5309
Yeah, I think this is behaving like it should - that function is technically a leak

[2022-02-26 16:27] #5309 closed

[2022-02-26 16:33] SimenB commented on #8620
we should support overriding if empty string is provided. wanna send a PR?

[2022-02-26 16:36] Biki-das commented on #12495
yeah he has agreed to work on the versioned docs

[2022-02-26 16:38] SimenB commented on #11008
Not sure this needs to be in core, can't you just use the bindings you show as an example in your own code?

[2022-02-26 16:39] Biki-das commented on #12495
hey @Ash-KODES , you can work on the versioned docs part once i update the main docs correctly

[2022-02-26 17:12] lydell commented on #4828
If there is no better solution currently, then yes.

[2022-02-26 17:31] conartist6 commented on #12496
Yeah I know everyone makes PRs for their own little problem, but that's different than maintainership and, as you note, generally creates more work for you not less.

If the problem is that there's an incredible amount of work that only you can possibly do, then why can't we solve that problem. We are engineers, after all. So what are the barriers to adding more triagers and maintainers?

From whe

[2022-02-26 17:44] fbartho commented on #3585
This is a legit feature request — not stale!

[2022-02-26 18:01] StringEpsilon commented on #12496
Another thing would maybe to temporarily decline new feature requests so that new work isn't piled on top. Have a bit of maintenance only phase where the focus is on getting the already planned work (for the release) done and fixing known bugs.

If help with triage is welcome, I'm happy to go over the backlog and note down tickets I think can be closed and why.  Just tell me how I can go about tha

[2022-02-26 18:21] BlackGlory opened #12502 "[Bug]: Test failure due to too many lines of code"
### Version

27.5.1

### Steps to reproduce

My project uses jest for API server integration tests,
which are run via docker and will start a real HTTP server via Node.js, create and connect to a real database and multiple microservices.
The test cases are basically built on real HTTP clients like node-fetch and undici,
and as you can imagine there are a lot of asynchronous calls here.

As the pro

[2022-02-26 18:28] BlackGlory commented on #12502
As a side note, there are not really that many lines of code, my largest test file is only 921 lines, but a single test case can trigger more than 30 HTTP requests and many other asynchronous operations.

[2022-02-26 18:39] #12479 closed

[2022-02-26 21:25] #8618 closed

[2022-02-26 23:31] SimenB commented on #12496
@conartist6 sure, I'd love to make that happen. Any concrete suggestions?

(getting triaging permission is more about getting fb/meta to do anything - I don't have the accesses necessary, and neither do most employees.)

@StringEpsilon thank you so much, that's awesome! I'll go through tomorrow or monday. That's exactly the sort of help I'd love to have 🙂

[2022-02-27 00:34] mnoorenberghe commented on #8810
I believe I still saw some files the other day which don't get transformed but I don't recall which.

[2022-02-27 05:41] mrazauskas opened #12506 "[Feature]: Throw when multiple configs are found"
### 🚀 Feature Proposal

#11922 implemented a warning which is printed when multiple configs are found. It was decided to add this feature as a warning, because throwing an error would be a breaking change.

Seems like now it is good time to refactor the warning into an error.

@JanKaifer Would you be interested? Perhaps?

### Motivation

Running Jest after several configs were detected is rather i

[2022-02-27 08:08] JanKaifer commented on #12506
I could, but this seems like a great `first-issue` (even easier than the original one).
So I will gladly leave it to others.

[2022-02-27 08:56] BlackGlory commented on #12502
Although the cause of the problem is still unknown, I can now determine that the problem is not related to jest.

[2022-02-27 08:56] #12502 closed

[2022-02-27 09:10] F3n67u commented on #12291
@essenmitsosse  I cannot reproduce with your snippet, could you provide a reproduced github repo?

## Environment

[code]

[2022-02-27 12:10] F3n67u commented on #12398
hi, @tourajvaziri  I see you post this problem at vscode(https://github.com/microsoft/vscode/issues/143132#issuecomment-1048748817) too and it's fixed by the vscode team. So we'd better close this issue because it's resolved by vscode? what do you think?

[2022-02-27 12:22] SimenB commented on #3103
Almost 4 years old. While this is the sorta thing we should do, nobody has done it. Instead of reading files, it would be nice to `stat` them and look at `mtime` _first_, but since all transforms today rely solely on file content I don't think it's a feasible breaking change to make

[2022-02-27 12:22] #3103 closed

[2022-02-27 12:26] SimenB commented on #3160
Almost 5 years without movement, I think we can close this (doing something like #7910 makes more sense to me, and if that ever happens, it would unblock doing the work discussed heree)

[2022-02-27 12:26] #3160 closed

[2022-02-27 12:29] SimenB commented on #7900
I still want to do this, work is ongoing (albeit stalled 😅) in https://github.com/jest-community/jest-react-reporter. Any and all help welcome!

[2022-02-27 12:36] SimenB commented on #2925
In general, the entire `jest-resolve` module is quite messy (the added complexity of async resolution and ESM resolution (which it doesn't even do correctly: #9885)) and it needs a solid refactor. As part of that we should keep performance in mind.

Related, we've added caches for most file operations, so some optimization has landed already.

#8388
#8412
#8650
#9873
#11076
#11969

[2022-02-27 12:36] #2925 closed

[2022-02-27 12:41] SimenB commented on #4283
Yeah, I think #7910 is the solution to this sort of issue

[2022-02-27 12:41] #4283 closed

[2022-02-27 12:42] SimenB commented on #8098
Doesn't seem like anybody else has run into this

[2022-02-27 12:42] #8098 closed

[2022-02-27 12:48] eyalroth commented on #7832
This issue is not stale, at least not for me.

If it wasn't for @marchaos library (thanks a lot!), I'd consider dropping jest in favor of other testing/mocking frameworks like mocha. This is an essential feature, and a much better approach to writing tests in general IMHO.

[2022-02-27 12:50] SimenB commented on #3585
@fbartho would you be willing to send a PR for this? I would have thought the information was available already (since the reporter prints it), but I might be wrong

[2022-02-27 12:51] SimenB commented on #4977
I think this is better tracked in #7900

[2022-02-27 12:51] #4977 closed

[2022-02-27 12:54] SimenB commented on #6311
#7900 probably

[2022-02-27 12:54] #6311 closed

[2022-02-27 12:55] SimenB commented on #6441
PR welcome!

[2022-02-27 12:57] SimenB commented on #6718
Solution to this is probably for Jest to intercept `process.stdout` in the same way it does `console.*`. That way we can send the output to a reporter who can print it in a controlled fashion instead of every line of code being able to intercept

[2022-02-27 13:14] SimenB commented on #7832
`jest-mock` has seen extensive improvements to its types in Jest v28 via #12435, #12442 and #12489

[code]

<img width="783" alt="image" src="https://user-images.githubusercontent.com/1404810/155883581-44e21358-4c09-467f-aab2-5c48fd999a5c.png">

<img width="674" alt="image" src="https://user-images.githubusercontent.com/1404810/155883588-f27db2b9-5fba-4563-a3de-6a1e80e1decf.png">

So I think this

[2022-02-27 13:26] SimenB commented on #12398
Looks like it, thanks @F3n67!

[2022-02-27 13:26] #12398 closed

[2022-02-27 13:27] SimenB commented on #12506
Yeah, good idea!

[2022-02-27 13:38] SimenB commented on #8810
`resolver` is not, I'm not sure about others. If somebody could go through and verify the current state, that'd be awesome 🙂

[2022-02-27 13:49] eyalroth commented on #7832
@SimenB I'm not too familiar with the differences between `jest-mock-extended`'s proxy approach and Jest's `MaybeMock`, so I might be confusing some topics here.

My main gripe with Jest's mocking is the reliance on global/static mocking (of modules). I highly prefer building my code with classes that their dependencies are injected via their constructor; in testing, that means injecting local moc

[2022-02-27 14:12] tourajvaziri commented on #12398
Hello,
Yes let’s close it. Thanks.

[2022-02-27 14:19] SimenB commented on #7832
You can also do [`jest.createMockFromModule('some-module')`](https://jestjs.io/docs/jest-object#jestcreatemockfrommodulemodulename) (this is what `jest.mock` does under the hood if you don't provide a mock factory). But if you don't want to mock at the module boundary at all, then I guess it's not as useful.

One limitation of the approach from the OP (and I guess `jest-mock-extended`) is that it

[2022-02-27 14:21] SimenB commented on #4257
We have [`jest.mocked`](https://jestjs.io/docs/jest-object#jestmockedtitem-t-deep--false) which solves the use case for TypeScript I think. Approach can probably be copied for Flow as well

[2022-02-27 14:21] #4257 closed

[2022-02-27 14:30] TrickyPi commented on #12506
I would like to work on this issue, can i take it?

[2022-02-27 14:31] SimenB commented on #4828
@lydell in your specific example from OP, [`restoreAllMocks`](https://jestjs.io/docs/jest-object#jestrestoreallmocks) would work, like

[code]

Could also set that in [config](https://jestjs.io/docs/configuration#restoremocks-boolean). I.e., just ensure that the cleanup always runs instead of within the test function itself. Ideas on how to include that info in the docs?

[2022-02-27 14:33] SimenB commented on #12506
Yeah, go for it @TrickyPi! You can see what #11922 changed, and what you essentially want to do now is throw an error instead of just logging it 🙂

[2022-02-27 14:35] villesau commented on #11040
still valid.

[2022-02-27 14:36] SimenB commented on #9325
They are listed if you run tests in `verbose` mode. Beyond that, you can write a custom reporter for this. I don't think we wanna show them by default (just like we don't show skipped tests outside of verbose)

[2022-02-27 14:36] #9325 closed

[2022-02-27 14:38] TrickyPi commented on #12506
ok, i get it, thanks!

[2022-02-27 14:38] eyalroth commented on #7832
Other types such as? you mean plain properties?

I would love to not need to explicitly set each function as mock, i.e:
[code]
or something along these lines.

This is similar to the approach taken by [Sinon's createStubInstance](https://sinonjs.org/releases/latest/utils/) and Java's mocking libraries such as [Mockito](https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html

[2022-02-27 14:39] mrazauskas commented on #12506
@TrickyPi And please do fix this tiny todo (the line was introduced with the above mentioned PR, Node 10 is not supported anymore so time to fix):

https://github.com/facebook/jest/blob/c2872aae7e3bdc8f9c236637ade294790a47d7f6/packages/jest-config/src/__tests__/resolveConfigPath.test.ts#L149-L150

[2022-02-27 14:42] SimenB commented on #11040
Oh, I like this idea! I don't think we should enable the inspector and collect coverage by default, but behind some config/cli flag might make sense 🙂

[2022-02-27 14:42] TrickyPi commented on #12506
okay

[2022-02-27 14:46] SimenB commented on #7832
If you by "plain properties" mean primitives, then yes. And classes or arrays. We also detect generator functions or async functions and return the correct type of function.

Both sinon and mockito seems to require passing an argument, which is what I'm suggesting? While I've used both in the past, it's been more than 6 years since either, so I've forgotten what I once knew about them 🙈

[2022-02-27 14:58] lydell commented on #4828
What about updating the example in the docs to include an appropriate `afterEach` then?

[code]

- And some text explaining why (what would have been put in the admonition I guess). Either as regular text or as a code comment in that `afterEach` block.
- Also link to `restoreAllMocks`.

[2022-02-27 15:03] SimenB commented on #4828
Yeah, that sounds like a good idea to me.

[2022-02-27 15:15] mrazauskas commented on #7832
Just a quick note. At the moment I am reworking `jest.Mocked<T>` utility type. It will do the same thing as `jest.mocked<T>(arg: T)` function currently does. Simply instead of a value, the utility type will take generic type argument. I think it will work like this:

[code]

[2022-02-27 15:20] F3n67u commented on #12362
In the implementation, `jest.useFakeTimers` doesn't reset internal counters if we have created a fake timer which is the problem. see:

https://github.com/facebook/jest/blob/1125f2f4a2dad60e449d7751d70ff620fcaf3be1/packages/jest-fake-timers/src/modernFakeTimers.ts#L96-L110

But `jest.useRealTimers` will  does internal counters, so If add a `jest.useRealTimers`  line in `beforeEach`, test will pass

[2022-02-27 17:17] StringEpsilon commented on #9341
Related: https://github.com/facebook/jest/issues/5118

[2022-02-27 17:18] StringEpsilon commented on #9264
Related: https://github.com/facebook/jest/issues/5118

[2022-02-27 17:27] StringEpsilon commented on #9856
Duplicate (or: special case) of #9264

[2022-02-27 17:29] StringEpsilon commented on #8449
Duplicate of #5118

[2022-02-27 17:39] Biki-das commented on #6366
bump

[2022-02-27 18:47] #9856 closed

[2022-02-27 18:59] SimenB commented on #9264
I don't think we're gonna change this as it'll break isolation between tests (and if tests run in different order they might behave differently). When spawning subprocesses (or threads) I think it makes more sense to pass an explicit env anyways.

That doesn't happen anyway, all you're changing in node is the process-local snapshot taken when node spawned

[2022-02-27 18:59] #9264 closed

[2022-02-27 19:09] SimenB commented on #8449
Same as https://github.com/facebook/jest/issues/9264#issuecomment-1053646395.

If you really need to test this flag, I suggest doing what was suggested in https://github.com/facebook/jest/issues/8449#issuecomment-500123589 (a separate run). You should be able to set this in a `globalSetup` as that's the real `process.env` and will be reflected in node core modules.

---

Note that if https://githu

[2022-02-27 19:09] #8449 closed

[2022-02-27 19:09] SimenB commented on #5118
See https://github.com/facebook/jest/issues/8449#issuecomment-1053649387

[2022-02-27 19:09] #5118 closed

[2022-02-27 19:10] SimenB commented on #9341
Probably. This bug report doesn't have enough details to know, I'd assume `dotenv` worked fine.

[2022-02-27 19:10] #9341 closed

[2022-02-27 19:12] SimenB commented on #12362
The thought was that "if already faking, do nothing when called". I guess we could throw instead of silently doing nothing, and if what you wanted was a reset, you'd do `jest.useRealTimers(); jest.useFakeTimers("modern")` like suggested?

[2022-02-27 19:15] asfernandes commented on #9341
I had explicitly said the problem with dotenv.

But I have no context of it. It was 2019.

[2022-02-27 19:16] unional commented on #4627
Bump

[2022-02-27 19:16] SimenB commented on #10746
I'd honestly consider this a bug. We need to work if you pass an absolute path, but we should probably special case absolute paths instead. Matching on patterns outside of `rootDir` is just weird.

Is this something you'd be willing to work on?

[2022-02-27 19:17] SimenB commented on #4627
PR welcome! 🙂 Looking at how `todo` was added might help: #6996. Adding it to just `jest-circus` is fine, no need to mess with `jest-jasmine`.

[2022-02-27 19:22] SimenB commented on #9341
Yes, but you didn't say what the issue was. It didn't read any env vars? Didn't set any? How did you call it? How did you call your native code? `dotenv` only modifies `process.env`, so as long as you call it in every test file (or `setupFiles`) it should work fine.

This issue is missing too many details to be actionable (I know it's more than 2 years old, but that doesn't affect how actionable i

[2022-02-27 19:23] SimenB commented on #9908
All tests run sequentially in jest unless you use the experimental [`test.concurrent`](https://jestjs.io/docs/api#testconcurrentname-fn-timeout). So I think what you're requesting is already possible.

[2022-02-27 19:23] #9908 closed

[2022-02-27 19:37] SimenB commented on #5209
I clones the repository in the OP, and just updating all versions to latest shows correct coverage (I guess?)

<img width="1210" alt="image" src="https://user-images.githubusercontent.com/1404810/155896991-14b11492-ce44-4034-8f72-30e05a33f696.png">

`types.ts` is gone at least. Fixing the `ts-jest` warning makes no difference.

If this is still an issue, please open a new issue with a reproduction

[2022-02-27 19:37] #5209 closed

[2022-02-27 19:43] lazytype commented on #9264
@SimenB Could you expose APIs to change the process environment in specific ways that ensure isolation between test? For example, expose a function call `jest.setTimeZone` that:
a) can only be called in a beforeEach or beforeAll and will throw otherwise
b) automatically restore the time zone during the afterEach/afterAll phase

Right now, it's impossible to test that code correctly deals with vari

[2022-02-27 19:54] Ash-KODES commented on #12495
Ok then,I will work on versioned doc,,Np:)

[2022-02-27 20:00] SimenB commented on #9264
The problem is `Date` only reading the default from env (AFAIK). Unfortunately, I think that'll only be fixed by `Temporal`: https://tc39.es/proposal-temporal/docs/#Temporal-TimeZone.

If you're stuck with legacy `Date`, what you could do is write a custom test environment that sent the real `process.env` through. You'd then opt out of the test isolation, but that might be a tradeoff that's worth

[2022-02-27 20:26] lazytype commented on #9856
See https://github.com/facebook/jest/issues/9264#issuecomment-1053662344 for potential Jest 28-specific solution

[2022-02-27 20:27] essenmitsosse commented on #12291
I am sorry, the test I posted, actually didn't produce the error, here is a reproduction that shows it:

[code]

The problem only seems to occur, when `test.each` is passed a list of objects, instead of strings.

[Reproduction Repo: essenmitsosse/jest-test-index-reproduction](https://github.com/essenmitsosse/jest-test-index-reproduction)

[2022-02-27 21:43] SimenB commented on #12495
BTW, don't work on 27.0, 27.1, 27.2 or 27.4 - those will be deleted when Jest 28 is released soon. 27.5 will be renamed to 27.x.

[2022-02-27 21:45] SimenB commented on #12276
Adding `color` to config makes sense to me. Wanna send a PR?

[2022-02-28 01:18] mdutra opened #12509 "[Bug]: Getting timeout for having a parameter without "test.each""
### Version

27.5.1

### Steps to reproduce

1. Clone repo at https://github.com/mdutra/jest-timeout-issue
2. `yarn install`
3. `yarn test`
4. You should see the error after a few seconds

### Expected behavior

I expect it to ignore the parameter and pass the test immediately, or return an error asking to remove the unused parameter.
[code]

### Actual behavior

It returns the following error:
[c

[2022-02-28 08:19] SimenB commented on #12509
Taking an argument outside of `jest.each` means it is a `done` callback: https://jestjs.io/docs/next/api#testname-fn-timeout, and Jest will wait for it to be invoked

[2022-02-28 08:19] #12509 closed

[2022-02-28 08:25] spawnia commented on #10398
We have hit this issue in one of our projects. We had files called `Priority.tsx` and `priority.ts` in the same directory, that lead to Jest crashing with a cryptic error. Renaming one of the files did the trick.

[2022-02-28 08:46] #10110 closed

[2022-02-28 08:55] cowboyd commented on #4603
good times!

[2022-02-28 08:57] cowboyd commented on #12259
Still seems like a show-stopper to me.

[2022-02-28 10:00] #12506 closed

[2022-02-28 10:36] SimenB commented on #5371
Modern timers (available jest 26, default jest 27) are not affected by this. PR welcome documenting this for legacy timers, tho

[2022-02-28 11:27] thernstig commented on #9267
/unstale

[2022-02-28 11:27] thernstig commented on #9267
unstale

[2022-02-28 11:34] SimenB commented on #9267
The bot runs every 10 minutes, doesn't react to the comment event 🙂

But yes, we should explain this better

[2022-02-28 12:29] jonyw4 commented on #7909
Is there any updates in this issue?

[2022-02-28 12:40] villesau commented on #11040
@SimenB if you are interested, see my PoC repos! :) I got it working back in the days, but I'm fairly sure there are better ways to achieve it, I just hacked it in the first place where I see it is possible. I also do not know how (test case specific) coverage reports would affect performance. Maybe the CLI could have option to "sort by blast radius" along with "run failed only" etc. which would e

[2022-02-28 12:40] villesau commented on #11040
I think the bigger the codebase grows, the more value this kind of functionality could bring.

[2022-02-28 14:53] wojtekmaj commented on #12258
Bump?

[2022-02-28 15:00] SimenB commented on #12258
I don't understand what's wrong with using `jest-transform-stub`? If you don't trust it, publish your own and use that instead?

[2022-02-28 15:11] agentdon commented on #9881
Sounds great. Thanks Simen! 🙂

[2022-02-28 16:08] SimenB commented on #9305
Yeah, something like this would be great, but we would need some API to bind it to a single test. Need to think about this, but some sort of `test.modern`, `test.strict`, test.bound` or some such is high on my list of wanted features. Might spend some time once v28 is released trying to design something and gather feedback. In addition to bound setups and cleanups I'd like to add a bound `expect`

[2022-02-28 19:23] mikerentmeister commented on #8638
I would really love to see support for this functionality

[2022-02-28 19:53] HaveSpacesuit commented on #5292
Commenting to prevent the bot from closing this as stale. Would really be good to access test status in after each without having to hack Jasmine.

[2022-02-28 20:31] jmurzy commented on #3552
Curious if there are any plans to address this issue in the next version of Jest when we have better/native ESM support?

[2022-03-01 06:15] #10524 closed

[2022-03-01 07:55] #12291 closed

[2022-03-01 08:20] SimenB commented on #3552
Can someone put together a minimal repository using Jest 27? The linked issues in the OP is 5+ years old.

Also, no idea why "transform cache" has anything to do with this, seems like a red herring?

[2022-03-01 08:21] F3n67u commented on #12291
@essenmitsosse It's fixed. thanks for your report. I am willing to help if you have any problems with this issue.

[2022-03-01 08:25] SimenB commented on #3552
Actually, seems fixed. I cloned https://github.com/stukalin/jest-nodegit-issue, updated to latest `nodegit` and `jest` (downgraded to node 12 since `nodegit` doesn't compile on LTS 16...) and ran the tests. Worked great.

<img width="576" alt="image" src="https://user-images.githubusercontent.com/1404810/156132201-f7ab2cc9-eb01-4324-902d-4cd5225c8f4c.png">

So if this is still an issue, I ask peop

[2022-03-01 08:25] #3552 closed

[2022-03-01 08:37] SimenB commented on #12506
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.6

[2022-03-01 08:37] SimenB commented on #12479
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.6

[2022-03-01 08:37] SimenB commented on #11038
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.6

[2022-03-01 08:37] SimenB commented on #12291
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.6

[2022-03-01 08:37] SimenB commented on #8773
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.6

[2022-03-01 08:38] SimenB commented on #11633
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.6

[2022-03-01 08:38] SimenB commented on #12004
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.6

[2022-03-01 10:01] SimenB commented on #5362
Duplicate of #9264

[2022-03-01 11:40] SimenB commented on #7933
As https://github.com/facebook/jest/issues/7933#issuecomment-474419143 states, this only happens when using JSDOM. JSDOM uses browser timers, which do not keep the process open - Jest exits cleanly in your example.

If you use `node` test env the process is kept open (and the handles are reported).

<img width="937" alt="image" src="https://user-images.githubusercontent.com/1404810/156162753-b3630

[2022-03-01 11:40] #7933 closed

[2022-03-01 11:42] SimenB commented on #7933
If you want _jest_ (and not node, which is what where checking with open handles) to wait for your timers, you need to either return promises or use the `done` callback

[2022-03-01 11:46] SimenB opened #12522 "Rework asynchronous tests documentation"
### 🚀 Feature Proposal

https://jestjs.io/docs/asynchronous

It currently says "The most common asynchronous pattern is callbacks." This is wrong. We should put promises at the top, and callbacks last. We should probably lift up `async-await` as well, before the example returning promises.

---

If you want to work on this, please state so in this issue so not multiple people start working on it,

[2022-03-01 12:06] aliaszz opened #12524 "[Bug]: Duplicate problem with document"
### Version

27.5

### Steps to reproduce

1. Visit website [https://jestjs.io/zh-Hans/docs/tutorial-async](https://jestjs.io/zh-Hans/docs/tutorial-async)
2. Some contents appear repeatedly.
<img width="1781" alt="image" src="https://user-images.githubusercontent.com/3361407/156165757-b82d5c04-3542-423d-b49e-c09a7debe1a9.png">

### Expected behavior

Remove duplicate translated text

### Actual be

[2022-03-01 13:00] SimenB commented on #12524
The translation lives in crowdin. It looks like the edit button at the bottom is broken, but you should be able to edit here: https://crowdin.com/project/jest-v2/zh-CN

[2022-03-01 13:07] SimenB commented on #12524
0d32846f2076a0a693dc52d90f525bba3584aee5 should fix the link once it's deployed, btw

[2022-03-01 13:07] #12524 closed

[2022-03-01 13:22] bisubus commented on #7933
@SimenB Why was the issue closed? It's still relevant and not fixed. It would be the problem of JSDOM if it were just a third-party lib that is used by developers at their own risk. But Jest has first-class JSDOM support and provides it as first-party environment, so it's expected to  its responsibility to take care of consistent and predictable behaviour. The explanation that you gave makes sense

[2022-03-01 13:23] SimenB commented on #7933
There are no open handles produced by `setTimeout` in a browser setting, so there's nothing to detect.

[2022-03-01 13:35] bisubus commented on #7933
But JSDOM isn't browser setting, it only replicates it to some extent, it was never thoroughly described to which one. This happened to me in universal code and Node code that was tested in the same environment as the rest of the project, which was `jsdom`, one could only guess what could affected by the choice of environments besides the availability of browser API.

As I said, the reasons why it

[2022-03-01 13:41] SimenB commented on #7933
There is nothing we can do to detect you are not waiting for the async work your test is doing, that's just how JavaScript works. Your OP talked about how `--detectOpenHandles` does not detect this case, and I've explained why it's detected in `node` env, but not `jsdom` env.

If you think the documentation can be improved in regards to how to test async code, we should have an issue for that (or

[2022-03-01 13:48] adi611 commented on #12522
Please assign me this issue.

[2022-03-01 13:53] SimenB commented on #12522
Thanks @adi611!

[2022-03-01 13:54] SimenB commented on #7933
I filed #12522 earlier. That was mostly to lift promises above callbacks, but if you have any suggestions for how to reword this, that issue might be a good place to put it 🙂

[2022-03-01 14:06] Biki-das commented on #12495
cc @Ash-KODES

[2022-03-01 14:41] adi611 commented on #12522
Hi @SimenB `async-await` mentions `.resolves` or `.rejects`. So should we lift it before the example returning promises? Because then `.resolves` and `.rejects` will come after `async-await`. Shouldn't we keep it after `.resolves` and `.rejects`?

[2022-03-01 15:43] SimenB commented on #12524
Can confirm the edit link at the bottom leads to correct place in crowdin at least 🙂

[2022-03-01 15:47] SimenB commented on #5918
Yeah, PR welcome here 🙂

[2022-03-01 15:53] StringEpsilon commented on #7874
I have tested the reproduction with jest 24, jest 27 and jest 28 beta:

| Version | --runInBand | min heap size | max heap size |
|---|---|---|---|
|  24.9.0 | `true` |  53 MB | 259 MB |
|  24.9.0 | `false` |  47 MB | 61 MB |
|  27.5.1 | `true` |  36 MB |  71 MB |
|  27.5.1 | `false` |  26 MB |  **30 MB** |
|  28.0.0-alpha.6 | `true` |  38 MB |  73 MB |
|  28.0.0-alpha.6 | `false` |  27 MB |  36 M

[2022-03-01 16:24] StringEpsilon commented on #7874
As for triaging memory leaks, there needs to be some minimum info:

- NodeJS version.
- Leak stats with and without `--runInBand`
- Is coverage used? If so, does the leak persist without code coverage?

And then it would be nice to find out if the scenario is one of the require and cache leaks. Figuring that out is probably a little involved unless those leaks get fixed.

[2022-03-01 16:52] SimenB commented on #7874
Ah, thank you so much @StringEpsilon! Is there still a leak now (i.e. forever growing, never reset) in the reproduction on the OP using v27? If not, I think we should close this and encourage new issues with reproductions as you say.

Note that 2 changes in v27 very much impacts this - we swapped default test environment from jsdom to node, and default test runner from jasmine to circus. So direct

[2022-03-01 17:25] SimenB commented on #7874
If it's a single test file it always runs in band

[2022-03-01 18:24] aryzing commented on #10584
Believe this isn't resolved yet, is it?

[2022-03-01 18:45] dandv commented on #9014
Agree that a `describe.only` should focus the testing on that single `describe`.

A `test.only` within a `describe.only` would focus on that test.

A `test.only` within a `describe` is ambiguous. I assumed, per [POLA](https://en.wikipedia.org/wiki/Principle_of_least_astonishment) that it would be scoped to the `describe`, as other `test`s are.

[2022-03-01 19:33] vajahath commented on #9430
Since there wasn't any notable activities on those chromium issues for more than 4 months, I just humbly [asked the chromium dev on twitter](https://twitter.com/vajahath7/status/1498728252038283264). I hope they will keep the issues tracked.

[2022-03-01 20:04] SimenB commented on #9430
I highly doubt you'll get a (constructive) answer, but 🤞🤞

[2022-03-01 20:09] segrey commented on #10960
Not stale!

[2022-03-01 20:25] alyssajotice opened #12527 "[Bug]: Refresh does not work when using fake timers"
### Version

^27.0.3

### Steps to reproduce

Run the following test:
[code]

### Expected behavior

The timer is refreshed correctly and the callback is not called.

### Actual behavior

Refreshing does not work and the callback is called.

### Additional context

NodeJS refresh: https://nodejs.org/api/timers.html#timeoutrefresh

### Environment

[code]

[2022-03-01 23:47] cspotcode commented on #8140
IMO, this comment https://github.com/facebook/jest/issues/8140#issuecomment-557895399 outlines a clean API that's still relevant.  There's a question of versioning since it'll probably be a breaking change.

The docs are still a bit odd in this case, which leads me to believe this code hasn't been touched since this issue was opened.
https://jestjs.io/docs/expect#tothrowerror

[code]
I'm not sure

[2022-03-02 01:58] F3n67u opened #12530 "[Feature]: bump typescript-eslint to a version which support typescript 4.6"
### 🚀 Feature Proposal

Bump typescript-eslint version when typescript-eslint's typescript 4.6 support is released.

typescript-eslint's  typescript 4.6 support pr: https://github.com/typescript-eslint/typescript-eslint/pull/4615

### Motivation

The below warning will show when running `yarn test` after we update typescript to 4.6.0.

[code]

### Example

_No response_

### Pitch

None

[2022-03-02 06:57] SimenB commented on #12527
Huh, I thought this worked (I filed https://github.com/sinonjs/fake-timers/issues/187 years ago). But this looks like a bug in sinon to me - it for some reason uses the global `setTimeout` and `clearTimeout`.

[2022-03-02 07:36] SimenB commented on #11134
No, sorry. And I don't think we should either. If you really need it, you can add a timeout and some local counter to track retries.

[2022-03-02 07:36] #11134 closed

[2022-03-02 07:45] SimenB commented on #9014
I don't think we should do this. `only` means "only this" (or "these" if added to multiple tests) within a test suite (file), not just within its `describe`. This is, afaik, also the case in other test runners with the same `describe` API (at least mocha)

[2022-03-02 08:12] SimenB commented on #12522
I think we should just have a plain `async-await` section first, then we can bring in `resolves` and `rejects` afterwards

[2022-03-02 10:02] #12106 closed

[2022-03-02 11:33] HarshaVardhanAcharyAthaluri opened #12534 "[Bug]: Jest test is failing in WIndows Environment"
### Version

27.5.1

### Steps to reproduce

npm install jest

npm test

### Expected behavior

should run

### Actual behavior

The system cannot find the path specified.
'D\node_modules\.bin\' is not recognized as an internal or external command,
operable program or batch file.
internal/modules/cjs/loader.js:892
  throw err;
  ^

Error: Cannot find module 'D:\jest\bin\jest.js'
    at Function.Mo

[2022-03-02 12:41] #12534 closed

[2022-03-02 13:52] zhangshengran opened #12535 "[Bug]:"
### Version

27.5.1

### Steps to reproduce

import { computed, effect, reactive, watch, nextTick } from 'vue'

it('test', async () => {
  const src = reactive({
    count: 0
  })
  let dummy
  let spy = jest.fn(({ count }) => {
    dummy = count
    // debugger
    console.log('ddd')
  })
  watch(() => src.count, spy)
  src.count++
  await nextTick()
  expect(dummy).toBe(1)
  expect(spy).toBeCall

[2022-03-02 14:36] #12535 closed

[2022-03-02 14:39] StringEpsilon commented on #7874
@radcapitalist

I am sorry, my intention was only to report the progress that was made and to figure out the overall situation with the ~30 tickets. I was not trying to suggest that the various leaks are not an issue anymore. In fact, if anything, my testing suggests that --runInBand still has a large confounding effect on whatever leaks may occur.

As for the node 16 issue, there is a workaround

[2022-03-02 14:45] radcapitalist commented on #7874
@StringEpsilon No need to apologize whatsoever!  @SimenB suggested closing this after your comment and that just worried me a little :-).
We are working on splitting up our test files more to see if it helps us.
And thanks very much for the patch-package tip, I will look into it!

Eric

[2022-03-02 15:09] StringEpsilon commented on #7874
@SimenB I have drafted a meta issue: https://gist.github.com/StringEpsilon/6c8e687b47e0096acea9345f8035455f

[2022-03-02 16:11] Niryo commented on #7136
and for the current issue- we really need to have something that clears everything out out the box. I want to run every test as isolated as possible, like killing jest and running it from scratch after every test. this should be the default behaviour of jest, I don't see why anyone would prefer having leaks between his tests.

[2022-03-02 23:18] pke commented on #7136
Are any of the maintainers paying attention?
Tests need to run in total isolation otherwise they are worthless.

[2022-03-03 04:29] thislooksfun commented on #9013
I can no longer reproduce this, even with using old versions, so I'm calling this fixed.

[2022-03-03 04:29] #9013 closed

[2022-03-03 07:05] rschristian commented on #12493
I spent a few hours trying to bisect the issue tonight, without a ton of success.

As far as I can tell, the commit that caused the issue was the 25.1.0 release itself. That being said, the only way I could actually reproduce this was by using [`yalc`](https://github.com/wclr/yalc), which I've found to be incredibly finicky and inconsistent. Using [the instructions listed in the contributing doc h

[2022-03-03 07:17] SimenB commented on #12493
Yeah, I'd try to add a failing test to this repo (possibly in `examples/` or something) and then bisect and run that. Linking properly sounds hard 😅 That said, `yarn link` should also work fine, but probably only into a separate minimal project rather than your own larger one. See e.g. https://github.com/facebook/jest/blob/3f3aa80254f2b2f365825c6ac5b5f0a2217631a5/scripts/verifyPnP.js#L71-L74 (note

[2022-03-03 08:13] rschristian commented on #12493
Interesting. Gave that a shot, but still, on the v25.1.0 release (5dcc48075f22d581864f381f20bc8b257d2a73cd), it seems to correctly run. Head of main does fail, though that's not exactly useful as 25.1.0 should be failing too.

I don't think I can spend more time trying to track this down, sorry. Seems like a non-stop fight against the tooling more than anything; none of it first-party, for what it

[2022-03-03 09:20] SimenB commented on #6399
Issue with `graceful-fs` was solved with its `4.2.4` release, which we incorporated in #9443

[2022-03-03 09:20] #6399 closed

[2022-03-03 09:27] SimenB commented on #6738
From what I can tell, this is an issue with those modules, not Jest. Or, Jest probably exposes/excarebates/creates the condition for them to leak, but still. `graceful-fs` was fixed a couple of years ago, the others still have the issue. But I'd say this is a duplicate of #6814 (which has some details about _why_ this happens).

[2022-03-03 09:27] #6738 closed

[2022-03-03 09:57] hyvyys opened #12539 "Search not working for versions 24.x and older [Documentation] [Bug]"
### Version

23.6.0

### Steps to reproduce

1. Visit https://archive.jestjs.io/docs/en/23.x/getting-started.html
2. Type in search box
3. Press Enter

### Expected behavior

Search results are shown

### Actual behavior

Nothing happens, error logged to console

### Additional context

_No response_

### Environment

[code]

[2022-03-03 10:10] eyalroth commented on #7832
@SimenB

I think it's sufficient to only mock functions (including getters/setters).

When stubbing a specific function? yes, but not when initializing the mock/stub.

[2022-03-03 10:23] SimenB commented on #6814
I think as mentioned a few times, this is not a bug in Jest per say, but the way Jest works (its own module cache, different globals per test file etc.) can sometimes violate assumptions made by libraries when they patch/override/add to globals (either core modules or `globalThis`). Not sure what we can do in Jest to detect this and warn, instead of just leak. One thing is #8331 for modules and po

[2022-03-03 10:25] SimenB commented on #8984
If this is still an issue using the latest version of Jest (27 at the time of writing), please provide a reproduction we can pull down and test. The leak mentioned above has been fixed 🙂

[2022-03-03 10:25] #8984 closed

[2022-03-03 10:30] SimenB commented on #9697
It's been a couple of years, so I'll close this. From what I can tell, this was never tested after the JSDOM fix? If it's still a problem, please open up a new issue with reproduction steps.

[2022-03-03 10:30] #9697 closed

[2022-03-03 10:44] SimenB commented on #12286
Nothing to suggest otherwise

[2022-03-03 10:46] SimenB commented on #5837
The reproduction in the OP is explained here: https://github.com/facebook/jest/issues/5837#issuecomment-386567155

Beyond that I don't think there have been any reproductions? I'll close this, but feel free to open up a new issue if it's still a problem for people.

---

Your example is interesting @Duncan-Brain, could Jest have surfaced the issue better, you think?

[2022-03-03 10:46] #5837 closed

[2022-03-03 10:54] #12142 closed

[2022-03-03 10:58] #10467 closed

[2022-03-03 11:25] SimenB commented on #7874
One thing I came over when going through the list of issues was this comment: https://github.com/facebook/jest/issues/7311#issuecomment-578729020

So I tried out with this quick and dirty diff locally:

[code]

So if running after every test file, this gives about a 10% perf degradation for `jest pretty-format` in this repo.

[code]

However, this also stabilizes memory usage in the same way `--de

[2022-03-03 11:26] SimenB commented on #7311
See https://github.com/facebook/jest/issues/7874#issuecomment-1057890147 (and the comment below it)

[2022-03-03 11:26] #7311 closed

[2022-03-03 11:41] SimenB commented on #12539
@slorber is this something we can fix?

[2022-03-03 11:43] SimenB commented on #12493
Fine by me 🙂 Note that if you install `jest@25.1.0` you'll still get `^` range for everything else, so you're getting latest v25 in practice and might not be testing actual 25.1.0?

[2022-03-03 11:43] #12493 closed

[2022-03-03 13:02] Duncan-Brain commented on #5837
@SimenB It's possible, I never did confirm my suspicion about what was going on. But I am a bit of a noob at debugging and it's my first year using this stack so I am out of my depth to know that.

If I recall I was having some trouble creating a repro-repo. But let me try again and if I can reproduce it I will open up an issue with the link to the reproduction?

[2022-03-03 13:32] SimenB commented on #5837
Yes please, that'd be great 👍

[2022-03-03 14:00] dagadbm commented on #10221
I tried using this but I keep getting jest warnings:

  console.warn
    A function to advance timers was called but the timers API is not mocked with fake timers. Call `jest.useFakeTimers()` in this test or enable fake timers globally by setting `"timers": "fake"` in the configuration file
    Stack Trace:
          at FakeTimers._checkFakeTimers (node_modules/@jest/fake-timers/build/modernFakeTi

[2022-03-03 14:03] slorber commented on #12539
v24.x is archived (not easy to update now) and it's using Docusaurus v1: https://archive.jestjs.io/docs/en/24.x/getting-started.html

There has been an Algolia DocSearch migration, see:
- https://v1.docusaurus.io/blog/2021/11/05/algolia-migration
- https://docusaurus.io/blog/2021/11/21/algolia-docsearch-migration

Normally it should keep working, it's just that Algolia wouldn't update the existing

[2022-03-03 15:06] Duncan-Brain opened #12541 "[Bug]: Heap out of memory when using --coverage"
### Version

27.0.6

### Steps to reproduce

1. Clone my repo **ON GITHUB** at : [https://github.com/Duncan-Brain/jest-coverage-issue-heapOutOfMemory](https://github.com/Duncan-Brain/jest-coverage-issue-heapOutOfMemory)
2. Navigate to the Actions tab  **ON GITHUB**
3. Manually dispatch/run the desired workflow on the branch of interest as explained in the Readme

### Expected behavior

I expect to

[2022-03-03 15:09] Duncan-Brain commented on #5837
okay @SimenB please see https://github.com/facebook/jest/issues/12541#issue-1158522714

I was mistaken I had been able to reproduce my own issue but figured I was doing a few things wrong and was not worth pursuing further.

[2022-03-03 15:48] shawn-eary commented on #11607
I can't comment right now about the Win 10 stuff, but for me, using testTimeout in my package.json file got me past this bizarre issue. I'm trying to run an async Selenium test inside Jest. Not sure if this SO post is related or not...
https://stackoverflow.com/questions/52633843/jest-unit-test-settimeout-not-firing-in-async-test

[2022-03-03 18:22] avalanche1 commented on #5716
has this been fixed?

[2022-03-03 18:48] bozdoz commented on #9047
Note the proposal does not match the example.  `resetMocks` is **not equal** to `clearAllMocks`

**clearAllMocks** clears calls, instances, and results (and this is a good thing to do!): https://jestjs.io/docs/jest-object#jestclearallmocks

**resetAllMocks** is what is called by setting `resetMocks` to true; and this does what `clearAllMocks` does, but also removes implementations and mocked retur

[2022-03-03 21:33] alyssajotice commented on #12527
Thanks for the quick response on this @SimenB! I see the PR merged. When can I expect the fix to be released to preview and/or stable?

[2022-03-03 23:14] SimenB commented on #12527
Tomorrow! 🙂 CET. It'll be in semver range of v28 alpha, but not v27 (as that version of `fale-timers` has dropped node 10)

[2022-03-03 23:21] ackvf opened #12545 "[Feature]: Add a flag to pause at Watch Usage menu"
### 🚀 Feature Proposal

I want a new flag to be able to run `jest --watch --xyz` in such a way that it doesn't automatically start testing, but lets me decide what set of tests should be executed from the **Watch Usage** menu.

[code]

### Motivation

Whenever I am creating or updating a test suite I use the `--watch` flag. By default, this command checks which tests are related to files changed s

[2022-03-03 23:51] #12539 closed

[2022-03-04 01:27] jmarek-sky commented on #11595
FWIW I'm investigating a similar issue. I see in the yarn.lock that there is an older (26.x) version of pretty-format pulled in by other dependencies.  I haven't found a solution yet, but maybe this could help you debug on your end @timoxley

The project I'm on uses yarn workspaces, so I'm trying to wrap my head around how come an older version of pretty-format is finding it's way to one of the su

[2022-03-04 01:36] dannyharding10 commented on #10221
@dagadbm can you share more of your code? It's hard to see how your problem is related to this issue without more context

[2022-03-04 02:13] F3n67u commented on #12261
@simonyarde I filed a pr to add doc for `--testMatch`, feedback welcome 😀

[2022-03-04 03:49] Methuselah96 commented on #12366
Interestingly enough I had this error in CI (Ubuntu), but it worked fine locally (Windows). Added this to my `.yarnrc.yml` while waiting for this to get fixed:
[code]

[2022-03-04 06:09] marionebl commented on #6270
Went ahead and implemented this as `--shard=n/m` here https://github.com/facebook/jest/pull/12546

[2022-03-04 06:10] F3n67u commented on #12262
@julioolvr  Is possible to provide a minimal reproduction repo? I am willing to help.

[2022-03-04 06:30] liupeng110 opened #12547 "fuck facebook,fuck usa."
### Version

fuck facebook,fuck usa.

### Steps to reproduce

fuck facebook,fuck usa.

### Expected behavior

fuck facebook,fuck usa.

### Actual behavior

fuck facebook,fuck usa.

### Additional context

fuck facebook,fuck usa.

### Environment

[code]

[2022-03-04 06:59] BrunoBernardino commented on #11595
@jmarek-sky I believe it'll still be installed if different versions are required. I _think_ to avoid that you need `overrides` set in `package.json` (I'm not familiar with yarn workspaces, but I've been using npm workspaces and lerna in separate projects).

[2022-03-04 07:04] #11595 closed

[2022-03-04 07:08] SimenB commented on #12539
Can confirm it works now when deployed 👍

[2022-03-04 09:01] rschristian commented on #12493
Ah, fair point. Might've been it, though tracking down the actual issue I imagine would still be difficult.

[2022-03-04 12:43] sasjafor commented on #7212
I have the same problem on VSCode with WSL 2. I have a pre-push git hook setup to run npm test which uses jest.
It runs totally fine in the integrated VSCode terminal with the "git push" command, but when I try to use the VSCode source control feature I also get transpile errors.

As a note, I'm using ES6 modules for my code and have the following config option to make jest support the import stat

[2022-03-04 13:26] Sufiane opened #12548 "[Bug]: Cannot specify different coverage directory per project"
### Version

27.4.7

### Steps to reproduce

have multiple projects setup in your jest config file, have different "coverageDirectory“ prop per project.

### Expected behavior

having multiple coverage folder as defined in the jest config file

### Actual behavior

do not take coverageDirectory into account and merge everything into the coverage folder

### Additional context

_No response_

### E

[2022-03-04 14:14] nickroth commented on #12227
If there's no response here because of no minimal example then I can work on one. But this does affect our usage of jest. For now we've resorted to a postinstall script that manually patches the issue.

[2022-03-04 15:27] dagadbm commented on #10221
https://github.com/dagadbm/load-monitoring-challenge

This component is the one I wanted to do an integration test on: https://github.com/dagadbm/load-monitoring-challenge/blob/master/front-end/src/features/metrics/Metrics.tsx#L24

As you can see we have a useEffect that dispatches a fetch call and also a dispatch for a pooling mechanism using setInterval every `POOLING_RATE`

This is the fetch co

[2022-03-04 17:40] dannyharding10 commented on #10221
@dagadbm This issue is about the fact that jest fake timers do not work with promises, but in the example code you shared it looks like you are still using jest's fake timers (`jest.useFakeTimers`). The suggested solution from [a comment above](https://github.com/facebook/jest/issues/10221#issuecomment-844320366) is to use sinon fake timers instead, because it does *not* mock the `nextTick` functi

[2022-03-04 17:46] keeganwitt commented on #12530
A compatible version isn't out yet, but sound be on Monday.
https://github.com/typescript-eslint/typescript-eslint/issues/4471
https://github.com/typescript-eslint/typescript-eslint/pull/4615

[2022-03-04 18:11] eliw00d commented on #11666
Here is a simple reproduction: https://github.com/eliw00d/jest-27-issues-repro

We are still experiencing this with 27.5.1.

[2022-03-05 01:33] davidmccabe commented on #8257
Another reason to make this configurable is to speed up debugging in cases where an infinite loop exists. It can take a long time for 100,000 iterations to go by!

[2022-03-05 01:54] conartist6 commented on #12496
@SimenB I see only three options: facebook puts forward new owner/maintainers, the project is forked, or the project dies.

It seems to me that you had the opportunity to become a core maintainer due to the fact that @cpojer was an active owner of the project at the time you started contributing around 2018 (see [graphs](https://github.com/facebook/jest/graphs/contributors)). I'm assuming that sin

[2022-03-05 02:06] cpojer commented on #12496
I cannot perceive a fork to be a good outcome for Meta, Jest contributors or the community. We are talking to Meta about actions we could take, but there is nothing new to report at this time.

tbh, the way you are coming across sounds like you have a chip on your shoulder regarding Facebook more than focusing on the best outcomes for everyone.

[2022-03-05 02:20] conartist6 commented on #12496
I understand that perspective completely. And I do have a bit of a chip on my should as regards facebook, but I do not think it is relevant here.

I've also spent the last two years working on tools that would make decentralized package development a reality in the npm ecosystem, something which I see the value in doing only because so many prominent open source projects have such substantial prob

[2022-03-05 02:25] cpojer commented on #12496
Thanks for drafting up your proposal. I do not think this issue – nor the Jest issue tracker in general – is the right place to discuss your projects and vision for the JavaScript package management ecosystem. Let's re-center this discussion on Jest so the stakeholders of the project can work with Meta to identify a path forward. I wish you all the best on your project.

[2022-03-05 02:30] conartist6 commented on #12496
I am only describing what is possible. I am sorry, but I do not think that doing so is either irrelevant or inappropriate.

[2022-03-05 04:17] vjeux commented on #12496
Let me look into it on Monday. It should be possible, we’ve done it for other repos.

[2022-03-05 04:50] Biki-das commented on #12522
hey @adi611 , need some help, could you share how much you have been able to do it?

[2022-03-05 08:18] adi611 commented on #12522
Hi do I need to change the CHANGELOG.md file?

[2022-03-05 08:27] #12527 closed

[2022-03-05 08:29] SimenB commented on #12527
A bit delayed, but released now @alyssajotice 🙂

It's in semver range of `jest@28`, so updating your lockfile should be enough. If you're on `jest@27` you'll need to use `resolutions` (`@sinonjs/fake-timers` dropped node 10 in their v9 release, so unless you need node 10 support, you're safe to upgrade)

[2022-03-05 08:34] #12432 closed

[2022-03-05 08:35] Biki-das commented on #12522
nope doc changes are usually not added to the changelog , unless there is a change that needs to be notified, here we are just making a few back and forth changes

[2022-03-05 09:23] SimenB commented on #8257
I think taking an options bag to `useFakeTimers` (or in `timers` in config) should be fine. Would also unblock e.g. #12452 (I've seen others as well, my searching is failing me, tho).

Anybody wanna work on a PR for this? I think `modern` or `legacy` today should be normalized to `{strategy: 'modern'}` or something.

Jest 28 is a good time to make such a breaking change to config 🙂

[2022-03-05 14:03] conartist6 commented on #12496
@vjeux Thank you for doing that.

I know I am stirring the pot here, but I really have only gratitude for the people who have invested their time and energy in this project, and I'd be more than happy to see meta step forwards and provide better support.

That said, I'd love to see the process of engaging with the project's owners/governance (to confirm, that is the Meta OSS organization?) play ou

[2022-03-06 09:12] Galzk commented on #11430
I've had the same issue and it turned out to be caused by differences between my local time (or time format, e.g DD/MM/YYYY vs MM/DD/YYYY) while trying to fill a input with type="time" / "date"
If you're using moment.js or similar, make sure to strictly set the timezone

[2022-03-06 09:13] #6270 closed

[2022-03-06 10:06] SimenB commented on #6270
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.7

[2022-03-06 10:06] SimenB commented on #12106
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.7

[2022-03-06 10:06] SimenB commented on #12451
https://github.com/facebook/jest/releases/tag/v28.0.0-alpha.7

[2022-03-06 10:35] SimenB commented on #12527
Iøve also released `alpha.7` which pulls in the patched version, no lockfile shenanigans needed

[2022-03-06 13:37] F3n67u commented on #11697
@Forbidden-Duck It seems that it's not a problem on the jest side but the test implementation is wrong. Can we close this issue?

[2022-03-06 13:38] Forbidden-Duck commented on #11697
yes

[2022-03-06 13:38] #11697 closed

[2022-03-06 14:22] F3n67u commented on #12162
@memeplex Thanks for your report.  I am a little confused that you report a bug at jest version 27.4.5 but the foam repo still uses version 26. I tried to move `process.env.FORCE_COLOR = '1';` after the import but cannot reproduce.

Could you extract a minimal reproduction repo for this bug report?

[2022-03-06 15:51] SimenB commented on #11430
Right, that sounds like a typical error. And not something Jest can detect and/or warm about.

So I'll close this. Doubtful any such issues are jest's "fault", but if examples are found, please open up a jew issue.

[2022-03-06 15:51] #11430 closed

[2022-03-07 02:02] F3n67u commented on #12548
@Sufiane Thanks for reporting this issue. Could you help to provide a minimal reproduction repo?

[2022-03-07 07:17] #12253 closed

[2022-03-07 10:13] dgrcode commented on #10154
For people finding this, there's a working solution on [this stack overflow question](https://stackoverflow.com/questions/62265507/jest-mock-window-object-before-importing-a-dependency) I asked.

[2022-03-07 10:13] #10154 closed

[2022-03-07 12:36] drFabio commented on #9047
Is there any viable solution to restore manual mocks?

Having reset on a beforeEach makes them look like they could be only used once. Looks like with this reset clearing the manual we have no use for manual mocks that can have a different implementation

[2022-03-07 14:28] F3n67u commented on #12362
It will break every suite which calls `jest.useFakeTimers` more than once without calling `jest.useRealTimers()`. For example:

[code]

I've seen many cases in my company's repo which I think it's very reasonable and will not be bitten by timer mock bec the global operation attribute.

Maybe we could just fix our document? from:

to

[2022-03-07 21:32] Mikilll94 opened #12556 "[Bug]: Outdated webpack example in the docs"
### Version

docs

### Steps to reproduce

This page in the docs about Webpack is completely outdated:
https://jestjs.io/docs/webpack

The syntax for loaders looks really strange and it probably originates from Webpack 2 or 3 (?) . In Webpack 4+ the syntax is completely different.

Additionally in Webpack 5 (which is present for about 1.5 year), the `file-loader` and `url-loader` are deprecated an

[2022-03-08 05:10] Biki-das commented on #12556
@Mikilll94  i would like to take this one

[2022-03-08 14:21] F3n67u opened #12558 "[Bug]: test "typescript - reads config from ts file when package.json#type=module" is flaky"
### Version

N/A

### Steps to reproduce

The typescript config test needs `@jest/types` to be built. we run `tsc -b packages/jest-types` in `beforeAll` and set a 60s timeout, but this command run more than 60s occasionally at ci. I cannot reproduce it on my local macOS computer.

https://github.com/facebook/jest/runs/5465229008?check_suite_focus=true#step:8:7

[code]

### Expected behavior

The t

[2022-03-08 14:59] #12530 closed

[2022-03-08 15:18] JRRS1982 commented on #7136
{
  restoreMocks: true,
  resetMocks: true
}

seems to be pretty reliable for my needs.

[2022-03-08 15:26] Niryo commented on #7136
@JRRS1982 try doing inside some `it` something like this:
[code]

you will see that from that moment on, all the tests that are running after this test, will get 'fake-value' if they try to import `someModule`. that means that you have a leak between tests. if your other tests will count on that return value, and you'll ever remove this test, all the other tests will fail. and there are more serio

[2022-03-08 15:39] JRRS1982 commented on #7136
The [docs](https://jestjs.io/docs/configuration#resetmocks-boolean) say that resetMocks resets mock state before every test and restoreMocks will restore implementation. someModule is your example would be scoped in the it block so others would not have that implementation value - going to have to test.

[2022-03-08 15:45] git-commit commented on #11135
I have the same issue on my system.
Project created with create-react-app and a Ramdisk with environment variables set by ImDisk as such:

[code]

[2022-03-08 16:47] SimenB commented on #12558
This only started happening after https://github.com/facebook/jest/pull/12521#issuecomment-1055235404, no idea why. should probably revert it

[2022-03-08 19:48] Mikilll94 commented on #12556
@Biki-das Feel free to do it 😃

[2022-03-08 19:50] mrazauskas commented on #12558
Can be just a timeout as well. `tsc` is not only building types, but is also running full check of declaration files. This can take a lot of time on slower machines. (While working on slow computer, I was keeping `"skipLibCheck": true` just to stay sane.)

@F3n67u Would you be interested to send a PR with simply increased timeout? Just to see.

[2022-03-08 21:55] SimenB commented on #12558
Happy to try out skiplibcheck for this test if applicable. Not for our actual type check, but this specific test would be fine 👍

[2022-03-09 00:37] F3n67u commented on #12558
I am wondering why not run yarn build instead of yarn build:js to prepare everything?

[2022-03-09 02:36] mdoliner-st commented on #9901
I think this change still makes sense and the issue should remain open.

[2022-03-09 02:49] Spencer17x commented on #8383
Is there any progress on this issue?

[2022-03-09 03:30] Christopher2K commented on #11607
This worked for me. I'm running jest `27.5.1` in a react-native environment

[2022-03-09 07:28] SimenB commented on #12558
Since it takes 6-7 minutes to do

[2022-03-09 07:52] SimenB commented on #11135
I don't have access to a windows machine, so can't really do anything here. But swallowing `EISDIR` in https://github.com/facebook/jest/blob/54420eb51baecaba7dff293770f8cb2579825731/packages/jest-util/src/tryRealpath.ts#L14-L16 seems reasonable? Can you test it?

[2022-03-09 08:53] Spencer17x commented on #8383
If not, you can assign this to me, and I'd like to try adding this feature

[2022-03-09 14:46] F3n67u commented on #12558
I filed a pr to increase timeout to 360s:  https://github.com/facebook/jest/pull/12560

[2022-03-09 15:01] F3n67u commented on #12558
CI turn green when increase timeout to 360s, see https://github.com/facebook/jest/runs/5481848898?check_suite_focus=true

[2022-03-09 16:07] mlandisbqs opened #12561 "[Bug]: Jest clears console log when test fails"
### Version

27.5.1

### Steps to reproduce

Run a test that fails in your favorite IDE (WebStorm for example)
console logging disappears before you can read it

### Expected behavior

console logging works when the test passes but is cleared when it fails - which is when it is needed the most for debugging. I found several closed issues with no clear resolution to this specific use case (--useStd

[2022-03-09 17:33] gordonkeenan opened #12562 "[Bug]: test.each jest template string variables do not work when passing an array of object"
### Version

27.0.6

### Steps to reproduce

Trying the example from https://jestjs.io/docs/next/api#testeachtablename-fn-timeout
[code]

### Expected behavior

Tests should be named `.add(1, 1)'`, `.add(1, 2)'`, `.add(2, 1)'`

### Actual behavior

Tests are named `.add($a, $b)`

### Additional context

Is passing an array of object supported e.g
[code]

Other examples passing a table work fine e.

[2022-03-09 18:29] msalimbene commented on #10110
hey @lourenci have you been able to figure this one out? same scenario, can't resolve it yet.

[2022-03-09 20:17] tracker1 commented on #11261
It is not a request for help, it's likely a bug in an internal library/plugin/control.

[2022-03-09 20:17] tracker1 commented on #11261
@github-actions please re-open

[2022-03-09 20:21] rkaartikeyan commented on #7529
Any update on this?

[2022-03-09 21:17] mlandisbqs commented on #12561
Closing - this looks like a webstorm thing and not a jest thing. clicking up the chain of describes reveals the log.

[2022-03-09 21:17] #12561 closed

[2022-03-10 01:32] F3n67u commented on #12562
@gordonkeenan I cannot repro on my side. I created a repro repo for this issue, see: https://github.com/F3n67u/repro/tree/jest%2312562

Could you provide a repro repo for this bug so that we can work on that?

[2022-03-10 07:31] SimenB commented on #11261
If it's a bug, open up a new bug report following that template, including a minimal reproduction.

[2022-03-10 08:26] ratikkoka commented on #9785
Would a CLI option be appropriate for something like this? Such as `--timeout=15` If so, I would love to implement it. It would be helpful to have more insight as to the implementation of CLI options (such as the implementation of `--bail`. Thanks!

[2022-03-10 12:16] #10914 closed

[2022-03-10 13:40] Ash-KODES commented on #12495
I will making different PR for diffrent files as mentioned in biki's PR

[2022-03-10 13:40] Ash-KODES commented on #12495
I will making different PR for diffrent files as mentioned in biki's PR

[2022-03-10 14:50] keeganwitt opened #12564 "[Feature]: Flag to fail when there are obsolete snapshot(s)"
### 🚀 Feature Proposal

Add a CLI option (like `--errorOnObsoleteSnapshots`) and a config option (like `errorOnObsoleteSnapshots`) which will cause Jest to fail runs where there was one or more obsolete snapshots.

### Motivation

The primary use case would be if one wanted to enforce in a CI that obsolete snapshots were not present. This would be useful for project hygiene, but also because if it

[2022-03-10 14:51] gordonkeenan commented on #12562
It looks like an issue with test runner in https://codesandbox.io. If I run above via the command line it works.

[2022-03-10 14:51] #12562 closed

[2022-03-10 19:00] tinchodipalma commented on #12262
I'm having the same issue. It fails randomly with `undefined`

[2022-03-10 19:08] revmischa commented on #10301
I don't know what haste map is but it sure makes jest take a long time to run a test. Anything I can do to make things go faster?

<img width="1281" alt="Screen Shot 2022-03-10 at 19 08 06" src="https://user-images.githubusercontent.com/245131/157736823-fdb39a0c-39eb-464d-ae0c-1f2b7883b5d6.png">

[2022-03-11 03:47] mhnaeem commented on #9554
@SimenB I got a chance to take a look at this issue and it seems that the largest source of slowdown is the babel packages inside the `packages/jest-snapshot/src/InlineSnapshots.ts` file. I tried very basic profiling, if I lazy load all the babel packages inside that file then the `jest-snapshot` package takes ~5.4% of the total time. Without lazy loading the `jest-snapshot` takes ~28.2% of the to

[2022-03-11 05:34] this-sam commented on #3322
@sunfit or @doniyor2109 did either of you end up taking on implementing this?

[2022-03-11 08:22] SimenB commented on #10301
Hard to say without an example repository. It's probably an issue with ignore patterns. Running `jest --list-tests` is a good test. It should essentially just crawl all files, which should be quite quick (as it should e.g. not crawl node_modules)

[2022-03-11 10:03] SimenB commented on #9554
`jest-snapshot` tries to load e.g. `prettier` and `chalk` outside of the sandbox, maybe we should do the same for babel?

[2022-03-11 10:23] nihil-pro opened #12568 "Cannot mock virtual module inside test or describe [Bug]:"
### Version

27.4.5

### Steps to reproduce

When i try to mock a module that is virtual (using webpack module federation), it works only on top level.

this works well
[code]

this doesn't with error Cannot find module 'SomeModule'
[code]

### Expected behavior

This should work fine
[code]

### Actual behavior

Test suit filed to run
Cannot find module

### Additional context

_No response_

###

[2022-03-11 11:13] Rugvip commented on #12147
Also interested in this idea as we're seeing some very large overhead to requiring the same modules over and over. I think in particular a possible approach could be to share a common cache for package imports marked with `"sideEffects": false`

[2022-03-11 12:13] adi611 commented on #12522
Hi I have worked on this in #12555

[2022-03-11 16:39] marco-carvalho opened #12569 "[Bug]: ReferenceError: test is not defined"
### Version

27.5.1

### Steps to reproduce

1. Go to https://stackblitz.com/edit/node-tsfqcu
2. Run "node sum.test.js"

### Expected behavior

PASS  ./sum.test.js
✓ adds 1 + 2 to equal 3 (5ms)

### Actual behavior

ReferenceError: test is not defined
    at Object.eval (/home/projects/node-tsfqcu/sum.test.js:3:1)
    at Object.function (https://node-tsfqcu.w.staticblitz.com/blitz.5bca79c80956550a

[2022-03-11 19:59] tinchodipalma commented on #12262
It was an issue on my end. It was an unhandled promise 👍🏼

[2022-03-11 22:50] dubzzz commented on #12463
@SimenB I started to work on a PR to fix the issue. You can find my current status on https://github.com/facebook/jest/compare/main...dubzzz:try-fix-for-12463

So far, the change would break the test: ".toEqual() › {pass: true} expect([, , 1, , ]).not.toEqual([, , 1, undefined, ])" (By the way, the 'not' looks misleading in the name of the test as the test checks for the equality to be true not th

[2022-03-12 00:52] blainelewis1 opened #12571 "[Bug]: default import not importing properly with esm + ts-jest"
### Version

27.1.3

### Steps to reproduce

1. Import a package like @emotion/styled that has a default export in a code file
2. Try to access that default export, such as by calling the function.

[code]

3. Run a test that imports that file.

### Expected behavior

I expect the package to be imported properly and not hidden behind another layer of `default`. When using other build tools it work

[2022-03-12 04:17] F3n67u commented on #12568
@nihil-pro thanks for the report. could you provide a repro repo😀?

[2022-03-12 07:38] nihil-pro commented on #12568
Sure

[https://github.com/nihil-pro/test.git](repo)

install dependencies and the run test
there are two tests, one where mock are inside the test, and one where mock are outside.
the first will pass successful